[2021-11-12 00:42] capri-xiyue commented on #6885
In kubeflow you can use exit handler https://github.com/kubeflow/pipelines/blob/927d2a9f2dfdb90ae156979b9e0d72afa14adcd6/samples/core/exit_handler/exit_handler.py#L47

[2021-11-12 00:46] #6873 closed

[2021-11-12 00:55] capri-xiyue commented on #6896
Can you try to use emissary executor https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/#emissary-executor

[2021-11-12 01:09] SeibertronSS commented on #6896
Thanks for your suggestions, I will try. After I use emissary executor, can I still use docker image? My pipeline has problems only after it has all four components, and it can work normally when it has only four or less components. Why is this?

[2021-11-12 03:54] haoxins opened #6900 "[Python version upgrade] Should we consider to upgrade the base/default images from Python:3.7 to 3.8"
### Feature Area

/area components

### What feature would you like to see?

As `Python 3.10` has released, and the `Python 3.8` has became most OS's default `Python(3)` version

So, I just advise that we should consider to upgrade the default Python version
(Such as: base images in the `Dockerfile`, default images in the output pipeline yaml)
to `3.8`

---

Love this idea? Give it a 👍. We priorit

[2021-11-12 07:11] MarkusThill commented on #6726
I would also like to highlight this point: After trying many things for hours I also just did a (I imagined somehow that I already did this; apparently I did not): `!pip install --upgrade kfp` before running (dont forget to restart your kernel...)

[code]

So @zijianjoy 's suggestion actually works with the newest kfp version...

[2021-11-12 13:08] jazzsir opened #6901 "[bug] Everything is added to one item in the artifacts menu"
### What steps did you take
I deployed various types of pipelines,
for example
https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/tree/master/pipelines/kubeflow_pipelines
https://github.com/jazzsir/kubeflow-pipelines/blob/master/simple-pipeline/mnist.ipynb
https://github.com/jazzsir/kubeflow-pipelines/blob/master/simple-pipeline/kfp-v2.ipynb
https://github.com/jazzsir/kub

[2021-11-12 17:03] djwhatle commented on #3226
I'm seeing every load of the artifacts page fail, seemingly due to the large number of requests (thousands) fired off all at once.

[code]

Any update on current thoughts on how to improve this situation @Bobgy? Wondering if maintainers are leaning towards deprecating the artifacts page in favor of the run details page per https://github.com/kubeflow/pipelines/pull/3457, or if pagination of artifa

[2021-11-12 19:05] chensun commented on #6818
@ml6-liam, glad you were able to figure it out.

This isn't a bug but a new feature in v2. To support this feature we need to control the container entrypoint with `kfp.v2.components.executor_main` as you've already discovered. More specifically, the code that creates the artifact instances and saves the metadata is here: https://github.com/kubeflow/pipelines/blob/927d2a9f2dfdb90ae156979b9e0d72afa

[2021-11-12 19:16] chensun commented on #6818
Also, you might want to take a look at: https://github.com/kubeflow/pipelines/pull/6417#issue-977634071
Which would help you build your reusable components with full v2 features support.

[2021-11-12 19:20] chensun commented on #6810
Hi @valko073 , IIRC `packages_to_install` also accepts a full GitHub path, for instance `'git+https://github.com/kubeflow/pipelines#egg=kfp&subdirectory=sdk/python'`. Would that work for you?

Alternatively, you may also consider containerizing your component--install the dependencies while building the container image.

[2021-11-12 20:26] andrijaperovic opened #6903 "[bug] concurrent.futures.process.BrokenProcessPool using ProcessPoolExecutor"
### What steps did you take

Running the following example code to gather output results from model training.
Results are failing to be retrieved from executor at runtime, which leads to downstream exception.

[code]

### What happened:

Following exception is raised in the pipeline run:
[code]

### What did you expect to happen:
Result should have been completed successfully by ProcessPoolExecuto

[2021-11-13 07:53] chensun opened #6906 "11/12/2021 Presubmit kubeflow-pipelines-tfx-python37 failure"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/6905/kubeflow-pipelines-tfx-python37/1459423904140365824
[code]

[2021-11-13 08:07] chensun commented on #6906
The failure is caused by https://github.com/tensorflow/tfx/commit/f796bcb059afa612a3ea9734b7c5e58cb2f2c782 which depends on https://github.com/google/ml-metadata/commit/aa492c474f8b3a54dbb6461ddb7b35c7e69b4a47,
yet none of the changes are in a released package.

Ideally, the ml-metadata change should be released first, then tfx can make the change with the ml-metadata  dependency update.
Assuming

[2021-11-13 09:19] #6906 closed

[2021-11-13 14:05] midhun1998 commented on #6899
Hi @kabilan6 . There aren't any specific code samples for config maps but It should work the same way as other Kubernetes objects. For creating a PVC you can leverage [VolumeOp](https://github.com/kubeflow/pipelines/tree/master/samples/core/volume_ops) which utilises ResourceOps behind the scene. You can also leverage pre-built components by the community (https://github.com/kubeflow/pipelines/tre

[2021-11-15 07:15] Bobgy commented on #2920
@pablofiumara that message should be a warning and sth else is failing, can you confirm if that's the case?

[2021-11-15 12:25] pablofiumara commented on #2920
@Bobgy I confirm that message is just a warning

[2021-11-16 03:14] ozora-ogino commented on #6718
@pretidav Could you share the code to reproduce?

[2021-11-16 07:11] Bobgy commented on #6888
/cc @capri-xiyue @Bobgy

[2021-11-16 09:20] jacobmalmberg commented on #4649
If the list of yaml resources listed in https://github.com/kubeflow/pipelines/issues/4649#issuecomment-948535011 does not work, a kfp-launcher should do the job:

[code]

It seems the defaultPipelineRoot is now enabled/working for minio uris.

[2021-11-16 10:24] tomalbrecht opened #6912 "[frontend] pipeline metrics not showing"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? kubeflow manifests (branch 1.4)
*  KFP version: SDK 1.8.9 / build version dev_local

### Steps to reproduce

- Copy/Paste Code from here: https://www.kubeflow.org/docs/components/pipelines/sdk/pipelines-metrics/
- Create pipeline and create_run from component

### Expected result
- As documented here: https://www.kubeflow.org/docs/co

[2021-11-16 13:13] Subhraj07 commented on #4275
Is there any solution available?

[2021-11-16 13:37] daniel-beyond opened #6913 "Can't enable GPU inside a pod"
### Environment

Host
- AWS ec2 instance with tesla k80 gpu
- Kind cluster with 1 node
- Nvidia driver is installed and nvidia-smi cmd works on host
- Kfp version 1.8.9

![image](https://user-images.githubusercontent.com/85550395/141992715-65103723-f00d-478e-9257-553f12bd2fbb.png)

### Steps to reproduce

I have a docker container that runs a train model that needs GPU.
When running on the host wi

[2021-11-16 17:53] zijianjoy opened #6915 "Change the way to read parameters based on google.protobuf.Value"
Reference: https://github.com/kubeflow/pipelines/pull/6804/files

Parameters change: https://github.com/neuromage/pipelines/blob/35f8448ae97c327c490a6e22159edd3280635489/samples/test/util.py#L520

[2021-11-17 01:19] kaben commented on #4505
Dunno whether this is solved yet. The problems might be in [backend/src/cache/deployer/webhook-create-signed-cert.sh](https://github.com/kubeflow/pipelines/blob/d7dc511e947169066629b60ed8d4d94d447bdf3b/backend/src/cache/deployer/webhook-create-signed-cert.sh) line 118, where a `CertificateSigningRequest` is created with `usages` including `- server auth`.

It might need to be replaced with `- clie

[2021-11-17 02:27] jmcarp opened #6916 "[feature] Upgrade argo-workflows to 3.2.x"
### Feature Area

/area backend

### What feature would you like to see?

Upgrade argo-workflows to 3.2.x.

### What is the use case or pain point?

argo-workflows 3.2 includes some useful features, including conditional retries.

### Is there a workaround currently?

Without conditional retries, we can either retry too often (retryPolicy: Always) and waste resources or not retry often enough (ret

[2021-11-17 11:46] konsloiz commented on #4695
Thanks for sharing that. May I ask you what did you do with the cache-deployer-deployment? The docker image is trying to create a CSR and we are getting "You're not allowed to use CertificateSigningRequests" because this is disabled for security reasons in our cluster. Is there any way to "by-pass" it by using the cert-manager?

[2021-11-18 03:49] alexmirrington commented on #4572
Are there any plans to support this or is it expected we will dynamically set `task.container.image` with the desired image at runtime?

[2021-11-18 06:17] AnnaYue commented on #4695
I just deploy it for some other people, maybe you can create cert by openssl command and then mounted into pod?

[2021-11-18 06:47] kim-sardine commented on #6726
@MarkusThill OMG This is insane. Thanks a lot.

[2021-11-18 08:37] lynnmatrix commented on #6799
@feizerl Thanks for this issue, and you are right, the check will always be true.
What i really want to check is whether the item is an instance of primitive type, if not, convert the item to string so that it can be used in command line.

[2021-11-18 11:56] konsloiz opened #6922 "ml-pipeline, metadata-grpc, ml-pipeline-persistentagent restart constantly"
Hello everyone. We are trying to deploy KFP in an enterprise cluster. Unfortunately, the ml-pipeline, metadata-grpc, ml-pipeline-persistentagent pods are not initialized and they are constantly being restarted. Any ideas?

**ml-pipeline-persistentagent logs**

[code]

**metadata-grpc logs**
Empty

**ml-pipeline logs**

[code]

![KFP pods](https://user-images.githubusercontent.com/22999070/14241006

[2021-11-18 15:19] susan-shu-c commented on #678
Does this work without needing to modify Argo?

[2021-11-18 15:34] marrrcin commented on #5247
Any update on this?

[2021-11-18 21:13] vinayan3 opened #6923 "[feature] [multi-user] Pipelines Profile Controller Supports Adding Labels to Created Resources"
### Feature Area
/area manifests

### What feature would you like to see?
The kubeflow pipielines deployment is placed into a cluster which has labeling requirements. The pipelines profile controller sync.py creates Kube resources in the profile's namespace. There needs to be a feature to allow adding labels to all the created resources.

### What is the use case or pain point?
The labeling requir

[2021-11-18 21:24] pwzhong commented on #2685
Hi, may I ask do these operators support AWS Databricks? Are there any ways to submit a run on AWS Databricks from Kubeflow?

[2021-11-18 21:25] pwzhong opened #6925 "[feature] <Submit spark job on AWS Databricks>"
There are Kubeflow pipeline Ops to submit jobs to Azure Databricks. Are we able to also submit jobs to AWS Databricks? If not, does ResourceOp support it?

[2021-11-19 00:34] zijianjoy commented on #6901
/assign @zijianjoy

[2021-11-19 00:36] zijianjoy commented on #6916
/assign @zijianjoy

[2021-11-19 00:47] zijianjoy commented on #6896
@SeibertronSS

How does the pipeline run work after applying emissary executor?
Which platform are you deploying your Kubernetes cluster? By creating Kubernetes cluster, you can potentially choose between docker runtime vs containerd runtime. In containerd runtime, you can only use emissary executor.

For the error message of your issue, would you like to look at this SO post to see if this applie

[2021-11-19 00:49] zijianjoy commented on #6900
cc @chensun

[2021-11-19 01:00] zijianjoy commented on #6912
@tomalbrecht This feature is only supported in v1, but not v2 compatible.

[2021-11-19 01:02] zijianjoy commented on #6451
Tracking issue mentioned by @AlexandreBrown in https://github.com/kubeflow/pipelines/issues/6912

[2021-11-19 01:05] zijianjoy commented on #6903
Hello @andrijaperovic , are you able to run a sample code using ProcessPoolExecutor in an independent Kubernetes pod successfully? It doesn't seem like an issue related to Kubeflow.

[2021-11-19 01:09] zijianjoy commented on #6922
Can you look at the the yaml definition, events and logs in `ml-pipeline`?

[code]

https://kubernetes.io/docs/reference/kubectl/cheatsheet/#interacting-with-running-pods

[2021-11-19 01:13] zijianjoy commented on #6923
You can change https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py#L161 in the way that you want to append labels, then apply the manifests to achieve your goal. This file will be packaged into configmap, and be executed as is during runtime.

[2021-11-19 01:14] #6923 closed

[2021-11-19 01:59] andrijaperovic commented on #6903
Hi @zijianjoy , looks like the issue was caused primarily by the node pool where the pipeline task was being scheduled which has a limited number of cores (vCPU's). Once we allocated a node pool in our k8s cluster with a suitable number of vCPU's, the pipeline ran successfully. Will go ahead and close this issue. Thanks for your help.

[2021-11-19 01:59] #6903 closed

[2021-11-19 03:44] jmcarp commented on #6916
@zijianjoy I gave this a try in #6920. Let me know if I'm on the right track--or if it's easier for you to do this instead.

[2021-11-19 06:36] SeibertronSS commented on #6896
After our investigation, we found that there was a problem with the routing table of our cluster, which caused duplicate ClusterIP to appear. I will close this issue. Thank you very much for your time.

[2021-11-19 06:36] #6896 closed

[2021-11-19 07:52] konsloiz commented on #6922
Thanks for the reply.

**ml-pipelines: logs**

[code]

**ml-pipelines: events**

[code]

ml-pipelines-apiserver-deployment.yaml

[code]

Also, I want to add here (maybe this can help) that the DBs are not created inside the MySQL Pod

![image](https://user-images.githubusercontent.com/22999070/142585587-e5fbf748-425c-4262-b673-2afce4dcf927.png)

Let me know if you need anything more. Thanks for he

[2021-11-19 08:16] pretidav opened #6926 "[bug] Pipeline components do not fail as expected"
### What steps did you take

We have a pipeline with several components defined via .yaml descriptors.

### What happened:

Whenever the python code (contained into the images executed by the component) raises an error this does not translate with an error in the component execution which is still marked with a green mark.
We tried several ways to raise the error, from a simple "exit(1)" to more s

[2021-11-19 10:01] magencio commented on #2685
Sorry, I work for Microsoft, so my focus is Azure. Haven't worked with AWS

[2021-11-19 11:14] Bobgy opened #6927 "[sdk] dsl-compile-v2 fails to compile samples/v2/producer_consumer_param.py"
### Environment

*  KFP SDK version:  master

### Steps to reproduce

[code]

### Expected result

The sample should compile.

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-11-19 12:07] Bobgy opened #6928 "samples: migrate v2 samples to hermetic v2 namespace"
With https://github.com/kubeflow/pipelines/pull/6890 merged, we need to migrate v2 samples considering v2 breaking changes according to [KFP SDK 2.0: API Experience & Breaking Changes](https://docs.google.com/document/d/1nCUUVRXexXbQ0LDkGHsMIBDSu1WvJA9Upy1JzybNVMk/edit?usp=sharing).

Samples in samples/test with V2_ENGINE mode, should be migrated (copied) to samples/v2 with the same test.
Samples

[2021-11-19 12:52] lenaherrmann-dfki opened #6930 "Pipeline run does not write artifacts and stop"
Hey folks,

recently, I installed Kubeflow 1.4 with Multi User support. After a while, I managed to create a pipeline through a notebook-server.

The pipeline should consists out of different steps each with input and output artifacts.

Yet when I start the pipeline in a run, the first step does not stop nor seems to write any of the files as output-artifacts. If I look into the local minio, nothi

[2021-11-19 13:04] juliusvonkohout commented on #4790
One instance per Namespace please for security, quota and billing reasons.

[2021-11-19 13:12] #6778 closed

[2021-11-19 15:02] konsloiz commented on #6922
Closing this issue because it was a problem of our Network Policy. Thanks for the help.

[2021-11-19 15:04] konsloiz opened #6931 "How to use docker images from a private registry"
Hello! We are trying to deploy KFP in an enterprise environment with docker images from a private registry (For security reasons we are not allowed to use public registries such as gcr.io - so we pull the images and push them to our environment). The problem is that we are missing where some of the images can be configured. More specifically we would like to know where can we change the

1. gcr.io

[2021-11-19 15:22] #6922 closed

[2021-11-19 17:36] zijianjoy commented on #3226
@djwhatle Pagination is on our roadmap to allow for better performance on Artifact page. We don't currently plan to deprecate this page. Artifact page is the entry for MLMD Lineage graph.

[2021-11-19 18:31] jmcarp commented on #6916
@zijianjoy you might already have access because I checked `Allow edits by maintainers` on the PR, but just in case I also added you to my fork.

[2021-11-19 20:02] chensun commented on #6927
This specific one is because of the mix use of v1 and v2 imports in the test sample file, which I'm fixing in https://github.com/kubeflow/pipelines/pull/6932

[2021-11-19 21:16] jli opened #6935 "[feature] Provide a way to filter for currently enabled recurring runs"
### Feature Area

/area frontend

### What feature would you like to see?

The recurring runs frontend page could be more useful for my teams if we could filter for just the currently active recurring runs. A checkbox/button would be great for this. Alternatively, just being able to sort by the "Status" column could be an easy way to implement this.

### What is the use case or pain point?

When m

[2021-11-20 00:08] Bobgy commented on #6927
I wonder whether we can return a meaningful error message. This one is impossible to understand why.

[2021-11-20 00:27] chensun commented on #6927
Agree, will try to improve the message.

[2021-11-20 18:18] #6928 closed

[2021-11-20 22:14] tmnhat2001 commented on #6019
@Bobgy If this feature is still needed and no one has worked on it yet, can I pick it up as a first time issue?

[2021-11-22 02:04] iuiu34 opened #6936 "avoid declaring two times same function (and params) in vertex-pipeline with py-functions"
context:
With vertex-pipeline + py-functions We can use a base_image (docker) with our py library pre-installed. Therefore the lib  functions are available to import inside the pipeline.

problem:
Assuming we want to use one of this functions (without any change) in the pipeline, is a little verbose to declare with @component the same function again, which is corresponding paramater types.
Would b

[2021-11-22 06:55] KIShaoKIS commented on #5480
did it fixed? :)

[2021-11-22 13:57] juliusvonkohout commented on #6249
@bobgy Argo itself will make it the default in argo>=3.3. according to https://argoproj.github.io/argo-workflows/workflow-executors/#emissary-emissary

[2021-11-22 18:09] busunkim96 opened #6940 "[feature] Publish a wheel for package `kfp`"
### Feature Area
/area sdk

### What feature would you like to see?

Please publish a built distribution (wheel) for the package `kfp`.

https://packaging.python.org/guides/analyzing-pypi-package-downloads/ says both files (source distribution and source archive) get created by default if you use the PyPA package `build`:

[code]

### What is the use case or pain point?

I am one of the maintainer

[2021-11-23 01:02] Bobgy commented on #6888
/cc @james-jwu

[2021-11-23 13:22] tomalbrecht opened #6948 "[frontend] taskname instead of component name in pipeline view or rename components on use"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? via manifests
*  KFP version: 1.8.9

### Steps to reproduce

- create a pipeline using the same component twice (different runtime parameters)

### Expected result

- I would expect the task-name instead of the component name within kubeflow pipelines UI
- I'd like to distinct the usage of components. E.g. write statistics for valida

[2021-11-23 13:31] tomalbrecht commented on #6948
Well. A colleague found the undocumented solution. In case someone else wonders how you can rename the task:

[code]

[2021-11-23 13:31] #6948 closed

[2021-11-23 15:35] DanielNobbe opened #6949 "[bug] Conditions used to select component"
### What steps did you take

I am trying to use a pipeline to train two types of models (which are in different frameworks). I select which model type to train through a boolean pipeline argument. When selecting `Model_A`, I want to run a data preparation step for `Model_A`, and when selecting `Model_B` I want to run its respective data preparation step. I am using `dsl.Condition` to perform these

[2021-11-23 17:51] SaschaHeyer commented on #6681
Hi @chensun
Thanks a lot for your feedback.

I work for one of the biggest Google Cloud partners, we get this request regularly from our customers, at least once every 2 weeks.
Using the same pipeline and parameterizing the machine type (CPU and memory) can be really useful if you use the same pipeline just for different datasets and or hyperparameters.

Changing those hyperparameters also might r

[2021-11-23 18:57] pbarker commented on #3454
This is a really important feature and I'm dismayed to see that a working set of PRs by @amitripshtos was shot down. Can someone update on why all those PRs were closed? I don't see valid reasons in the issues or PRs.

If the underlying Argo APIs support this there should be little reason for us to not, otherwise we are getting in the way of functionality!

[2021-11-23 19:35] #6883 closed

[2021-11-23 21:23] pbarker commented on #4713
Also agree with this, maybe my editor (vscode) isn't loading components right, but having the ability to use autocomplete around operations is pivotal to developer experience. I would suggest not deprecating container_op unless necessary

[2021-11-24 00:39] Bobgy opened #6953 "doc: rename compatibility matrix page to tfx?"
@zijianjoy @kramachandran @Bobgy in the interest of getting this merged, I have removed that rename from this PR.

However, I still think we should discuss renaming that page in the future.

_Originally posted by @thesuperzapper in https://github.com/kubeflow/website/pull/3063#discussion_r755575916_

[2021-11-24 08:14] Bobgy commented on #6249
Thanks for the FYI, it's good to see that we are making the same choice!

[2021-11-24 08:15] veiii commented on #6858
I have the same issue on Kubeflow 1.4 (deployed by manifest), KFP backend v1.7.0.  KFP SDK 1.8.9

[2021-11-24 17:01] iuiu34 opened #6956 "run vertex pipeline with py-func locally"
For debugging, in kfp.V2, would be good to run the vertex_pipeline based on py-funcs you define locally (without docker build)
Also would avoid creating an almost identical, pipeline_local_func function.

For example with an
[code]

[2021-11-24 17:06] Iuiu1234 commented on #6956
An start step would be next code playing with the source of the code to execute it dynamically. But would only work with single output's and you still need to import properly the components as functions (which is verbose)

start_step could be confusing but since this is for debugging, seems a potential useful feature
[code]

[2021-11-25 04:35] goswamig commented on #6888
My 2 cents, we should also try to keep the interface clean enough so that not just argo or tekton but airflow or any work flow engine should be able to integrate well.

[2021-11-25 11:55] bsikander commented on #1471
On GCP, if you are using AI Platform Pipelines are having this issue then you need to change your kubernetes deployment and change the image type from containerd to docker. This worked fine for me. My k8s version was 1.19 and kubeflow version was 1.4.1.
![Screenshot 2021-11-25 at 02 50 36](https://user-images.githubusercontent.com/4642104/143437295-740374d0-4f45-46d4-9329-5fc482b0f4b2.png)

[2021-11-26 06:03] Bobgy opened #6966 "[sdk] component with optional input causes compile error in v2 compiler"
### Environment

*  KFP SDK version: master

### Steps to reproduce

* Migrate if_placeholder sample pipeline to v2: https://github.com/kubeflow/pipelines/blob/8aee62142aa13ae42b2dd18257d7e034861b7e5e/samples/test/placeholder_if.py by changing imports to `from kfp.v2 import components, dsl`
* Compile
* Got this error

[code]

### Expected result

1. Should this be supported?
2. If not, can we have

[2021-11-26 07:40] zijianjoy commented on #6953
Thank you for creating this issue!

For the discussion of this doc title, I have a couple questions:

1. Is there any plan for compatibility matrix beyond tfx in the future? (Say PytorchX, MLMD, argo, etc.)
2. How does user find the right combination of ML frameworks+KFP nowadays? (Or how do we expect users to do to find out such combination) For example: A Kubeflow Pipelines user wants to use TFX

[2021-11-26 23:16] haifeng-jin opened #6970 "[bug] Link on KubeFlow website is 404"
### What steps did you take

Visit:

https://www.kubeflow.org/

Click on the KubeFlow Pipelines link, which direct me to

https://www.kubeflow.org/docs/components/pipelines/overview/pipelines-overview/

### What happened:

I see a 404 page.

### What did you expect to happen:

display a page with contents.

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP S

[2021-11-28 05:29] zijianjoy commented on #6970
Thank you for the report! I created the fix https://github.com/kubeflow/website/pull/3081

[2021-11-28 05:36] zijianjoy opened #6972 "[backend] Create Run in KFPv2 failing because of invalid name in argo workflow"
During KFPv2, I tried to create KFPv2 run using existing pipeline template. The following is the request payload for create run:

[code]

The error is:

![runcreationfailed](https://user-images.githubusercontent.com/37026441/143730996-93da1a44-5948-4685-bb46-3470c6228556.png)

Looks like the run name pattern `pipeline/v2upload-8d5ks` didn't pass the argo workflow validation because it shouldn't co

[2021-11-28 12:20] valko073 commented on #6810
Hi @chensun,
the packages are hosted on a private Pypi server. I tried using the link to the server which didn't work for me. What did work was writing a custom image for the components that simply takes the bare Python:3.x image and adds a pip.conf that points to our server.

[2021-11-28 12:58] #6970 closed

[2021-11-29 04:18] Bobgy opened #6974 "[bug] TFX sample fails after upgrading to 1.4"
### What steps did you take

* MLMD & TFX upgrade: https://github.com/kubeflow/pipelines/pull/6910

### What happened:

* Check test: https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1464225919869652992

### What did you expect to happen:

We need to upgrade the TFX sample to 1.4.0

### Anything else you would like to add:

### Labels

/area samples

[2021-11-29 04:19] Bobgy commented on #6974
/assign @zijianjoy @jiyongjung0

[2021-11-29 04:20] Bobgy commented on #6974
Failure error message coming from upgrading TFX from 1.2 to 1.4:

[code]

[2021-11-29 04:47] zijianjoy commented on #6974
Thank you Yuan for finding this issue!

Will it be related to the tfx version in the https://github.com/kubeflow/pipelines/blob/master/samples/core/parameterized_tfx_oss/parameterized_tfx_oss.py#L167?

Maybe at least we should upgrade tfx version to 1.4.0 in the parameterized_tfx_oss sample first, then investigate further for the issue?

TFX release changelog: https://github.com/tensorflow/tfx/blo

[2021-11-29 04:50] jiyongjung0 commented on #6974
Thanks! I agree that we need to upgrade the code @zijianjoy pointed.
By the way, how about using the [default value](https://github.com/tensorflow/tfx/blob/d00b80c92792ec202564e2e90d081b361835e314/tfx/orchestration/kubeflow/kubeflow_dag_runner.py#L54) to avoid this kind of failure? It uses the image in the docker hub, then we don't need to update the version every time. (Or we can use tfx.version.

[2021-11-29 11:57] johnbuluba opened #6977 "[feature] Provide a way to define a set of default annotations for tasks"
### Feature Area

/area backend

### What feature would you like to see?

We would like to be able to define a set of annotations on the server-side, that will be automatically added to all pipeline tasks.

### What is the use case or pain point?

We need this feature to enable Istio sidecar injection by default to all the submitted pipelines. We want by default to annotate all tasks with:
[code]

[2021-11-29 18:47] Tomcli commented on #6888
Yes, we will try to keep Argo and Tekton names out of the pictures for this new interface.

[2021-11-29 19:00] capri-xiyue commented on #6972
I did some investigation, the root cause is because when creating pipeline, the pipeline api will override the name to pipeline/xxx format, FYI https://github.com/kubeflow/pipelines/blob/cfdfe71a7e4944a3d79f0731ea8d7170738d40e5/backend/src/apiserver/resource/resource_manager.go#L263https://github.com/kubeflow/pipelines/blob/cfdfe71a7e4944a3d79f0731ea8d7170738d40e5/backend/src/apiserver/resource/re

[2021-11-29 22:12] #6818 closed

[2021-11-30 01:23] amygdala commented on #6819
Update: for now, the team has dropped v2 compatible mode support.  Instead, a v2 engine mode is in the works, ETA early next year for an alpha version.

[2021-11-30 03:29] v-loves-avocados opened #6981 "Argument type "google.VertexDataset" is incompatible with the input type "Dataset""
### What steps did you take

I created a KF pipeline in which:
1. First created a Vertex AI dataset
2. Defined a custom component, and pass the dataset as an input.

I was expecting that the dataset_create_task.outputs["dataset"] would pass a dataset to run_hptune as input. However, I got this error:

'Argument type "google.VertexDataset" is incompatible with the input type "Dataset"'

`def run_hp

[2021-11-30 13:55] #6931 closed

[2021-11-30 16:02] Iuiu1234 commented on #6681
in this line, would be nice also if when a task throws an kfp error for being out of memory, that
a) you can play with the memory-limit as a parameter  as SaschaHeyer request, just re-runing the task, not the whole pipeline (though if cache is enabled this maybe is already solved)
b) does the upscale automatically and re-runs the task again

[2021-11-30 19:41] gpoulin-hopper opened #6986 "[sdk] v2 Components not supported by LocalClient"
### Environment

*  KFP version:
 N/A
*  KFP SDK version:
1.8.9
*  All dependencies version:
[code]

### Steps to reproduce

Running this python script
[code]

 produce:
[code]

### Expected result

To have the same result as if `simple` was a v1 component

[code]

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-11-30 23:31] Bobgy commented on #6974
Using version.__version__ sounds like a good idea, because we don't want new image releases to break the sample.

[2021-12-01 06:19] #6916 closed

[2021-12-01 06:43] Bobgy opened #6987 "[bug] upgrade from MLMD 1.0.0 to 1.4.0 stuck in crashloopbackoff"
Upstream issue: https://github.com/google/ml-metadata/issues/135

[2021-12-01 06:43] Bobgy commented on #6987
I tried reproducing this issue with a brand new MLMD grpc server, but I wasn't able to reproduce.

[2021-12-01 06:43] Bobgy commented on #6987
I'm going to delete the MLMD db manually to unblock the upgrade.

[2021-12-01 06:59] Bobgy commented on #6987
I connected to in-cluster mysql and deleted MLMD db in kfp-ci cluster.
[code]

[2021-12-01 14:42] Roman-Ka commented on #6293
Hi, I am facing the same issue on version 1.8.9, does anyone know how to work around this?

[2021-12-01 18:13] zijianjoy commented on #6987
Thank you Yuan for finding this issue! Does it mean KFP 1.8 will have breaking change for KFP upgrade scenario?

[2021-12-01 22:51] Bobgy commented on #6987
@zijianjoy we need to verify, if we cannot reproduce again, it might not be a breaking change.

[2021-12-01 23:19] pbarker commented on #6293
also seeing this on non-recurring runs on kfp `v1.7.1` and kube `v1.20.7`

[2021-12-02 10:00] #6974 closed

[2021-12-02 19:53] difince commented on #3360
Hello @Bobgy Again I apologize for being inactive.
In my understanding, I need to add two new endpoints - getPipelineByName and deletePipelineByName ?

[2021-12-03 00:49] capri-xiyue commented on #6926
@pretidav  Can you share your pipeline component yaml?

[2021-12-03 00:59] capri-xiyue commented on #6977
Do you need to customize the annotation for pipeline tasks? For example, KFP provides a interface for user to define the annotations for specific pipeline tasks?

[2021-12-03 01:02] capri-xiyue commented on #6930
Do you see any errors when the pipeline run? Can you share your pipeline yaml?

[2021-12-03 01:11] capri-xiyue commented on #6956
Do you want to test and debug your python component in local environment?

[2021-12-03 08:49] Iuiu1234 commented on #6956
Yep, this is for components based on py, not prebuild ones like google_cloud_pipeline_components (but run them also in local would be cool)
This is in order to
a) avoid having 2 files: kfp-pipeline & local-pipeline
b) enter debug mode
c) avoid building the docker image and release for debugging

[2021-12-03 09:41] difince commented on #3360
/assign @difince

[2021-12-03 11:00] difince opened #7003 "[feature] Add GetPipelineByName endpoint"
### Feature Area

/area backend

### What feature would you like to see?

Add new endpoint - getPipelineByName
Because the pipeline name is  unique within a namespace - the namespace should be taken into consideration

### What is the use case or pain point?
Simplify user experience and keep consistent with other tools like Kubernetes, DAGs in Argo, Airflow that use names as a reference instead of

[2021-12-03 11:00] difince commented on #7003
/assign @difince

[2021-12-03 18:14] #6799 closed

[2021-12-04 19:40] lightning-like commented on #6839
problem solved.
We fixed destination rule in Istio

[2021-12-04 19:40] #6839 closed

[2021-12-05 03:21] zijianjoy commented on #6987
I have deployed a KFP 1.7.1, then upgrade to KFP 1.8.0 alpha 0. I am able to upgrade with no breaking change.

### KFP 1.7.1 Artifacts (Look at version at bottom left)
![mlmd171](https://user-images.githubusercontent.com/37026441/144732092-88c9bef0-710a-4b5f-a6a2-3e0b50e935c8.png)

### KFP 1.8.0-alpha.0 Artifacts (Look at version at bottom left)
![mlmd180](https://user-images.githubusercontent.com

[2021-12-06 11:29] difince commented on #3360
I have created a separate [issue](https://github.com/kubeflow/pipelines/issues/7003) for getPipelineByName and a [PR](https://github.com/kubeflow/pipelines/pull/7004) associated with it - to keep both the review process and comments addressing easier.

[2021-12-06 12:29] Udiknedormin opened #7008 "[feature] Abstract global KFP compilation context/state"
### Feature Area

 /area sdk

### What feature would you like to see?

Gathering all the mutable globals used during KFP compilation into one singleton. That way, the users could implement their own implementation to support any compilation state model they need, instead of a synchronous global-variables-based approach that is currently used, and trivially set it in a single one, globally replacin

[2021-12-06 14:12] yiyuanyu17 opened #7009 "[backend] kubeflow 1.6.0 no support onExit"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
kubeflow 1.6.0

### Steps to reproduce
I write a pipeline with on exit component  and I can upload to kubeflow 1.0, but when I  use 1.6.0 kubeflow,
![image](https://user-images.githubusercontent.com/15135974/144860628-6fcc5c2a-8cee-4a42-a9c2-f71f4163b7cf.png)
but when comment the
![image](https://user-images.githubusercontent.com/151

[2021-12-06 20:38] Qingwt opened #7012 "[google-cloud-pipeline-components] Job Name in gcp_resource is not formatted correctly or is empty"
### Environment

*  KFP SDK version: 1.8.9

*  All dependencies version:
google_cloud_pipepline_components version: 0.2.0

### Steps to reproduce
Followed the tutorial of the Vertex AI pipeline and created a training job with the  code below

[code]
After submitting the pipeline job, I received the error "Job Name in gcp_resource is not formatted correctly or is empty". By checking the source code

[2021-12-07 07:57] yiyuanyu17 commented on #7009
here is our test pipeline

`import os
import sys

import kfp.compiler
import kfp.components as comp
import kfp.dsl as dsl
import json

start_comp = comp.load_component_from_file('./start.yaml')
work_comp = comp.load_component_from_file('./work.yaml')
exit_comp = comp.load_component_from_file('./exit.yaml')

@dsl.pipeline(
    name="[test]exit test pipeline"
)
def pipeline(
    task_id: int
):

[2021-12-07 11:05] ysk24ok opened #7013 "[sdk] Compile fails when the pipeline name is not specified"
### Environment

*  KFP version:

*  KFP SDK version: master

*  All dependencies version:

[code]

### Steps to reproduce

[code]

### Expected result

The pipeline can be compiled without specifying the name of the pipeline.

### Materials and Reference

https://github.com/kubeflow/pipelines/blob/c1b67154a2abb75bd7dea4d2c8c52a52e2e8f7b2/sdk/python/kfp/v2/compiler/compiler.py#L129
It seems this b

[2021-12-07 12:29] difince commented on #5114
Hi, @Bobgy and @StefanoFioravanzo  can I work on number: 3?

I will create a separate issue about this.

[2021-12-07 12:51] difince opened #7014 "[backend] Forbid unarchive runs action if the run belongs to archived experiment"
### Feature Area

</area backend>

### What feature would you like to see?
Add backend validation so that the user cannot activate a Run if it belongs to Archived Experiment.
When [unarchive](https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/#operation--apis-v1beta1-runs--id-:unarchive-post) endpoint is called, check if the Run is under an **Archived** Exp

[2021-12-07 12:51] difince commented on #7014
/assign @difince

[2021-12-07 13:53] Udiknedormin commented on #7008
Maybe the following methods could be useful too, especially for testing and debugging purposes:

[code]
and therefore `set_kfp_ctx` would be:
[code]
Thanks to that, any globals that are set by default in KFP will be propagated to the new context when switching to it.

[2021-12-07 15:31] ypitrey opened #7015 "set component ram request using pipeline parameter value"
I have a pipeline in which some components require an amount of RAM that is dependent on the run duration. Our runs can take anything from 10 minutes to 12 hours and we run mostly short runs (less than 30 minutes). I'm looking into adapting the memory request to have enough RAM for long runs while saving costs on short runs.

The run duration in hours is specified as a pipeline parameter. Basicall

[2021-12-08 00:43] jiyongjung0 commented on #6974
Hi, @nroberts1, I think that you have to upgrade the TFX version installed in the container image, too. [The fix](https://github.com/kubeflow/pipelines/commit/3cfff3db1da0906a46980ce4f2b7ceda7458272a) updated the image to the TFX version of the client environment.

[2021-12-08 01:23] daisuke834 commented on #6949
I encountered a similar issue (but not the same).
When I ran:
[code]
, it caused the following error messages 🤔 :
[code]

When I commented out the last line `op_3(b.output)`, it worked correctly.

[2021-12-08 05:48] #6972 closed

[2021-12-08 06:30] ashissharma97 opened #7021 "pod status is NotReady"
Hi,
I have installed Kubeflow from Kubeflow manifest and when I am running a pipeline I am getting pod status as “NotReady”. Can somebody help with this?

Thanks

[2021-12-08 17:35] zijianjoy commented on #6935
This sounds like a useful feature to add.

Hello Xiyue, would you like to take a look and see if we are able to support filtering by job status from backend? Reference: https://github.com/kubeflow/pipelines/blob/949cfdca3794416210805ca1579adbd44ebec592/backend/src/apiserver/storage/job_store.go#L59

/assign @capri-xiyue

[2021-12-08 22:49] juliadeclared opened #7023 "[sdk] Wrong IPython url links"
### Environment

Running on a full KF 1.4 installation on top of GKE.

*  KFP version: 1.7.1

*  KFP SDK version: 1.6.0

*  All dependencies version:

kfp                             1.6.0
kfp-pipeline-spec               0.1.7
kfp-server-api                  1.6.0

### Steps to reproduce

Create an experiment `kfp.Client.create_experiment() `in a notebook
Click the generated link in Ipython

### E

[2021-12-09 08:25] #6745 closed

[2021-12-09 08:37] SinaChavoshi commented on #6237
fix should be available in the next release.

[2021-12-09 08:37] #6237 closed

[2021-12-09 09:44] hahamark1 opened #7028 "[feature] Make func_to_container_op functions ready for autogenerated docs"
### Feature Area

/area backend

### What feature would you like to see?

Currently the function wrapper (`func_to_container_op`) Does not copy the docstring of the function to the new wrapper object. Due to this, autogenerated docs cannot deal with kubeflow components.

### What is the use case or pain point?

It would help us drastically in spending less time on writing docs.

### Is there a wor

[2021-12-09 10:36] Bobgy opened #7029 "[feature] upgrade MLMD to 1.5.0"
### Feature Area

/area backend

instructions: https://github.com/kubeflow/pipelines/tree/master/third_party/ml-metadata

Tasks
* [x] #6996
* [x] regenerate golang client
* [x] regenerate frontend client

[2021-12-09 10:36] Bobgy commented on #7029
/assign @zijianjoy
/cc @haoxins

[2021-12-09 11:55] yiyuanyu17 commented on #7009
hi ,is there any progress ?@ji-yaqi

[2021-12-09 14:52] gordonsilvera commented on #6734
`proxy-agent` is okay. However, there are a few status errors in the Deployments. In particular:
[code]

[2021-12-09 15:53] #6913 closed

[2021-12-09 17:59] ji-yaqi commented on #7009
Hi @yiyuanyu17, could you update your SDK version to 1.8.10 (latest)? We have fixed a bunch of bugs since 1.6.0.
Your code can compile in 1.8.10 with no errors.

[2021-12-10 00:35] zijianjoy commented on #6935
@jli , would you like to contribute to this feature? We are happy to provide resources and areas to change if you want to implement it.

[2021-12-10 00:36] zijianjoy commented on #7028
cc @chensun

[2021-12-10 00:37] zijianjoy commented on #7008
cc @chensun

[2021-12-10 00:39] zijianjoy commented on #7014
This behavior sounds good to us, feel free to contribute to this fix!

[2021-12-10 00:44] zijianjoy commented on #7023
cc @chensun

[2021-12-10 00:50] zijianjoy commented on #6956
cc @chensun

[2021-12-10 00:52] zijianjoy commented on #7012
cc @IronPan

[2021-12-10 00:53] zijianjoy commented on #7013
cc @chensun

[2021-12-10 00:54] zijianjoy commented on #7015
cc @chensun

[2021-12-10 01:14] jli commented on #6935
@zijianjoy I don't think I have the time at the moment to contribute unfortunately, sorry!

[2021-12-10 02:43] yiyuanyu17 commented on #7009
if we update sdk version to 1.8.10, the yaml will work with kubeflow 1.0?

[2021-12-10 03:43] yiyuanyu17 commented on #7009
@ji-yaqi  we test sdk 1.8.10, and still have the error

[2021-12-10 18:56] chensun commented on #7023
Hi @juliadeclared I saw you closed the PR. Is the issue still valid?

[2021-12-10 19:30] ashissharma97 commented on #7021
Hi @zijianjoy,
Thanks for replying
Here is the yaml file of the pod
`
apiVersion: v1
kind: Pod
metadata:
  labels:
    pipeline/runid: d5d18505-8c11-4caa-8e5a-168e14e35981
    pipelines.kubeflow.org/cache_enabled: "true"
    pipelines.kubeflow.org/cache_id: ""
    pipelines.kubeflow.org/metadata_context_id: "3"
    pipelines.kubeflow.org/metadata_execution_id: "3"
    workflows.argoproj.io/complet

[2021-12-10 21:17] zijianjoy commented on #7021
Can you share with me:

1. Kubernetes version
2. Kubeflow version
3. What executor your are using? https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/

[2021-12-10 21:30] zijianjoy commented on #6935
@jli , that is okay, we will keep this feature open for anyone interested.

[2021-12-10 22:14] goswamig opened #7040 "[bug] Idempotency in kubeflow pipeline sagemaker component."
### What steps did you take

If node scales/up down, the sagemaker component tries to create the same job which fails. Since sagemaker does not let create the same name job. Component controller should be able to detect this and resume the job from existing state.

### What happened:
the job hangs/fail

### What did you expect to happen:
I expect the job to resume from previous state.

### Environ

[2021-12-10 22:15] goswamig commented on #7040
@akartsky @surajkota @mbaijal @ryansteakley FYI.

[2021-12-10 22:19] goswamig commented on #7040
https://github.com/kubeflow/pipelines/issues/6465

[2021-12-10 22:41] ji-yaqi commented on #7009
@yiyuanyu17 Do you have compilation error or upload error? I started on a clean version of 1.8.10 and doesn't have the compilation error. Maybe try force-reinstall the package?

[2021-12-11 03:56] yiyuanyu17 commented on #7009
@ji-yaqi
![image](https://user-images.githubusercontent.com/15135974/145662849-cd8981a1-0ec4-4f02-b634-547682e9f051.png)
i reinstall the kfp==1.8.10 , and upload to the kubeflow 1.6.0. and the error still is

[code]

[2021-12-11 07:40] ashissharma97 commented on #7021
Sure...
Kubernetes Version: 1.21.6-gke.1500
Kubeflow Version: v1.4.0
The executor I am using is the default one which is containerd.

Thanks

[2021-12-11 08:22] zijianjoy commented on #7021
Are you using emissary executor?

`kubectl describe configmap workflow-controller-configmap | grep -A 2 containerRuntimeExecutor`

[2021-12-11 08:42] ashissharma97 commented on #7021
No, I am using docker

[2021-12-12 14:34] Bobgy opened #7043 "feat(backend): support accelerator resources"

[2021-12-13 03:01] Bobgy opened #7046 "feat(v2): support dynamic resource limits set by parameters"
These samples should pass:
* [ ] https://github.com/kubeflow/pipelines/blob/master/samples/core/resource_spec/runtime_resource_request.py
* [ ] https://github.com/kubeflow/pipelines/blob/master/samples/core/resource_spec/runtime_resource_request_gpu.py

[2021-12-13 03:02] Bobgy opened #7047 "feat(backend): support resource requests"
KFP pipeline spec only has resource limit fields right now, consider also adding support for request fields.
https://github.com/kubeflow/pipelines/blob/1e032f550ce23cd40bfb6827b995248537b07d08/api/v2alpha1/pipeline_spec.proto#L632-L653

[2021-12-13 04:06] Bobgy commented on #6160
P0 items done

[2021-12-13 04:06] #6160 closed

[2021-12-13 04:07] Bobgy opened #7048 "v2 control flow - iterator (parallel for) advanced features"
* [ ] P1 https://github.com/kubeflow/pipelines/issues/6161
* [ ] P2 https://github.com/kubeflow/pipelines/tree/master/samples/core/loop_parallelism

[2021-12-13 15:04] Iuiu1234 commented on #6936
PR #7049

[2021-12-13 18:49] chensun commented on #6880
Not sure if there's anything special with `/dev/shm`. But KFP DSL v1 supports `add_volume` and `add_volume_mount`. Would that work for you?

[2021-12-13 19:12] capri-xiyue commented on #7003
pipeline name is not unique in KFP. I think we can make the combination of name and namespace unique in KFP. FYI: https://github.com/kubeflow/pipelines/issues/3360#issuecomment-834450654

[2021-12-13 19:17] capri-xiyue commented on #6578
Discussed offline, backend needs to expose cache configuration first and then front end can disable caching for a particular pipeline run via the UI

[2021-12-13 19:20] #6170 closed

[2021-12-13 19:22] #5450 closed

[2021-12-13 19:23] #5440 closed

[2021-12-13 19:28] casassg commented on #7023
@chensun yes, the issue is still valid. For KF installations, the generated URI should include domain/_/pipeline since this is how its mapped for KF full installation.

Maybe this can be a small doc update or something similar. But it was quite tricky for us to debug.

[2021-12-13 19:33] ji-yaqi commented on #7009
I see.

We will need community help on this issue: add `task_id` to exit handler in KFP V1.
Workaround: manually add param in generated yaml file.

[2021-12-13 19:36] ji-yaqi commented on #7013
Hi @ysk24ok, in V2, we ask that pipeline name should be specified for better usage.

Your code should look like:
[code]

Hope this explains!

[2021-12-13 19:43] ji-yaqi commented on #7028
Hi @hahamark1,

`func_to_container_op` function is actually deprecated. To generate the docstrings, we need some amount of work to generate kfp-specific docstrings. We will work on this in the future. Thanks!

[2021-12-13 19:45] ji-yaqi commented on #6900
Hi @haoxins, in order not to break our existing users, we will not update the image to 3.8 until we reach a point of deprecating 3.7. Thanks for the advice!

[2021-12-13 19:45] #6900 closed

[2021-12-14 00:23] zijianjoy commented on #6199
Remaining task: Upload V2 images to gcr.io.

[2021-12-14 01:20] Bobgy opened #7058 "v2 - input type auto conversion"

[2021-12-14 01:31] ysk24ok commented on #7013
@ji-yaqi Thank you for your response.
Then, how about make `name` arg of `pipeline` function required in v2 SDK?
It's a bit confusing that the type of`name` arg is `Optional[str]`.

[2021-12-14 03:22] yiyuanyu17 commented on #7009
it's ok if manually add param in generated yaml file, but it's our product environment, and our actual pipeline is more complex than the demo. so we need help to solve this bug by client. @ji-yaqi  @james-jwu

[2021-12-14 10:58] Bobgy commented on #6159
Hit https://github.com/argoproj/argo-workflows/issues/7406 when prototyping for this.

[2021-12-15 06:05] markwinter opened #7063 "[backend] Runs triggered by jobs don't increase the Prometheus run counter"
### What steps did you take

1. Create a recurring run (seems to be called a Job in the backend?)

2. Enable the recurring run so that runs are generated

### What happened:

- `job_server_job_count` correctly increases when creating a recurring run

- `run_server_run_count` does not increase when runs started by recurring runs occur

### What did you expect to happen:

I expected `run_server_run_

[2021-12-15 06:12] markwinter commented on #7063
Maybe using argo workflows `argo_workflows_count` is a better way to track runs actually

[2021-12-15 06:39] #7063 closed

[2021-12-15 07:52] zijianjoy commented on #7021
@ashissharma97 , KFP won't work if you are using Kubernetes version > 1.19, because docker runtime has been deprecated by Kubernetes. You will have to switch to use emissary executor in order to make your pipeline working.

In order to use emissary executor: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/#migrate-to-emissary-executor

Detailed issue description: ht

[2021-12-15 08:02] yiyuanyu17 commented on #7009
we want to upgrade our kubeflow to 1.6.0  to use the new functions of kf1.6.0, and we have many pipelines generate by python code,  and we use exit hander to do some postprocess in any condition.   If we manually add param in generated yaml file, it will be heavy work to modify each pipeline 。 @james-jwu

[2021-12-15 08:14] ashissharma97 commented on #7021
Thank You @zijianjoy, This resolved my issue.

[2021-12-15 08:14] #7021 closed

[2021-12-15 09:13] iuiu34 opened #7064 "parse pipeline argument string 'None' to None"
When definining a kfp pipeline, with an str argument, if the value is 'None', then the component recieve 'None'.
Wouldn't be better, to parse str 'None' to None (NoneType)?

Now:
[code]
expected:
[code]

[2021-12-15 19:34] shekhar0413 commented on #6293
Facing the same issue on kfp version 1.8.9 without recurring runs. I used kfp v2 sdk to write my pipeline, then compiled it using `kfp.compiler.Compiler(mode=kfp.dsl.PipelineExecutionMode.V2_COMPATIBLE).compile(
    pipeline_func=pipeline_func,
    package_path='my_pipeline.yaml')` and then uploaded the yaml file to a local Arrikto MiniKF deployment. Get the following error message `Failed to crea

[2021-12-15 20:45] ashrafgt commented on #4807
Any updates on this? It would really useful for machine learning workloads where developers want to upload raw data to object storage then start creating and running pipelines that use the data for training, etc ...

[2021-12-16 00:21] Tomcli commented on #7008
We are running a python server that generates the python DSL code and compiles them, so it would be great if we can run multi-thread with this approach.

[2021-12-16 00:23] Tomcli commented on #7008
We have to change the `class Pipeline():` to set the global variables for different threads. If this approach is okay we can open a PR with the implementation.

[2021-12-16 05:05] chensun commented on #7009
I investigate a bit, there's no behavior change from KFP SDK side.
Here's a simplified yaml I tried, it works on kfp 1.4.1 but not on 1.7.0
[code]
I believe this is a regression from Argo side, and opened https://github.com/argoproj/argo-workflows/issues/7424

While waiting for Argo's fix, there's another workaround for you: give `task_id` a default value like such:
[code]

This should be much eas

[2021-12-16 05:11] yiyuanyu17 commented on #7009
thanks, we will try to add the default value . @chensun

[2021-12-16 05:55] chensun commented on #7015
@ypitrey The fundamental issue is that `300 * run_duration` is a piece of code not captured in any container. Generally speaking, a pipeline may only use components as building blocks, where each component is a containerized app. There can't be code hanging outside a component. Does that make sense?
I assume you're running on Kubeflow Pipelines rather than Vertex Pipelines, am I right? If so, I wo

[2021-12-16 06:06] chensun commented on #7023
I see. yes, I recall the URL for standalone KFP deployment and full fledge KF deployment are different. And currently we don't have a way to tell from the SDK client side, so we can only return one form of the URL.
You're probably right that this might need a doc update. Any suggestion where the change could be? Please feel free to create doc update PRs as well. Thanks!

[2021-12-16 07:36] chensun commented on #7008
Pipeline compilation are pretty fast, usually instantaneous, so we don't generally think of the need for concurrent compilation. How many pipelines are you compiling? Is sequential compilation posing some performance bottleneck in your flow?

[2021-12-16 08:01] changhoekim opened #7072 "how to set restartPolicy "Never" to init containers"
[code]
this is my operation.

I tested wrong init containers and then pipeline retry my pipeline so many times.
I want to test just one try.

how to set restartPolicy to my pipeline container ?

[2021-12-16 08:03] chensun commented on #6831
Reducing the generated workflow size seems to be orthogonal to the hook.
That being said, we're moving towards v2, where compiler no longer produce Argo yaml but some intermediate representation defined by this proto: https://github.com/kubeflow/pipelines/blob/master/api/v2alpha1/pipeline_spec.proto
So I'm not sure if you would still need to a hook to modify the compilation result. By the time KFP

[2021-12-16 08:12] chensun commented on #6810
Got it. Thanks for the info.
If you don't mind hosting a custom image, I would suggest you pre-install the packages into the image--that way it's a one time installation cost, you would save some recurring runtime cost.

[2021-12-16 08:21] chensun commented on #6619
Hi @drubinstein, sorry for the late reply.
For complex object such as numpy array, you can pass them by file. Here're some docs about passing by file:
https://www.kubeflow.org/docs/components/pipelines/sdk/python-function-components/#passing-parameters-by-file

[2021-12-16 08:44] chensun commented on #6681
@SaschaHeyer Thanks for the context!

[2021-12-16 08:50] chensun commented on #6681
a) you can play with the memory-limit as a parameter as SaschaHeyer request, just re-runing the task, not the whole pipeline (though if cache is enabled this maybe is already solved)

Yes, caching would help here if the upstream doesn't have any changes on their inputs.

This might create some surprise billing issue :)

[2021-12-16 09:39] chensun commented on #6956
Components and pipelines are quite different--one is a containerized app with optional Python function implementation, the other is a set of components organized in a DAG. I'd suggest we clearly define the scope of this request first.

It's on our roadmap to support local debugging/testing of a primitive component, but we are not planning for local debugging of pipelines--pipeline requires an orch

[2021-12-16 10:12] Iuiu1234 commented on #6681
yep, in case implemented, there should be an `autoscale: bool = False` argument in the function `kfp.v2.compiler.Compiler().compile`
But agree that option b): auto-scaling could have some dramatic problems for the user in terms of money money that option a) doesn't have.

[2021-12-16 10:20] Iuiu1234 commented on #6956
yep, the function `run_pipeline_local` defined in #issuecomment-978066655 only covers the debugging of pipelines with only py-func components (i'm not sure if this is what you call primitive component)

agree that to locally debug all types of components will be out of this scope, 'cause is far more complex.

[2021-12-16 10:25] chensun commented on #6936
IIUC, what you want to achieve after the PR is something like this:

[code]

There're a couple of issues with this approach:
1. It requires installing the `kfp_test` package locally in order to compile, but that's really not necessary.
2. It makes an assumption that the locally installed package is the same version as that in the base image. But that's not something we can verify here.
3. If we wa

[2021-12-16 12:45] Iuiu1234 commented on #6936
yep, you're right.

Then another approach would be to call the `base_image` inside py with an entrypoint like

[code]

with `kfp.v2.component_factory.get_func_source` as in the PR:

[code]

With this we solve your problems cause now the usage would be
[code]

But main problem that I see now is that you need the image up and running before compiling the json.
Something like

* start container (in w

[2021-12-16 14:52] LeonardoEssence commented on #6848
We spent hours trying to find an answer to this. We need better alignment between the documentation in here https://google-cloud-pipeline-components.readthedocs.io/en/google-cloud-pipeline-components-0.2.0/google_cloud_pipeline_components.aiplatform.html and here https://cloud.google.com/vertex-ai/docs/predictions/use-custom-container

[2021-12-16 16:12] casassg opened #7078 "[feature] Flexible tensorboard images"
### Feature Area

/area frontend

### What feature would you like to see?

Allow installations to modify the images available on tensorboard. This would allow us to have images with tftext or tensorboard expansions as needed.

Currently tensorboard image list is a HTML embedded in the frontend.

### What is the use case or pain point?

Use tensorboard from KFP with different variations/versions an

[2021-12-16 17:52] chensun commented on #6986
This is known and expected. `run_pipeline_func_locally` was added as an alpha feature by a community contributor. It targets v1 only and has many limitations.
There's currently no plan to make it work for v2 components and pipelines.

[2021-12-17 10:51] kciy commented on #6913
Hey how did you solve this?

[2021-12-17 13:25] ashrafgt commented on #6681
Huge +1 on this!

[2021-12-20 06:11] Bobgy opened #7089 "test: tests fail with "AccessDeniedException: 403 There is an account problem for the requested project.""
This includes sample test, postsubmit tests.
However, samples-v2 test is still passing.
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/7088/kubeflow-pipeline-sample-test/1472757856003428352

Therefore, my initial guess is that the image we use is too outdated, so that it can no longer authenticate with Google Cloud.
Looking at https://github.com/GoogleCloudPlatform/o

[2021-12-20 06:54] Bobgy commented on #7089
Ohh, my guess was wrong. The project ml-pipeline-test itself is suspended.

[2021-12-20 07:15] Bobgy commented on #7089
Recovered

[2021-12-20 07:15] #7089 closed

[2021-12-20 08:17] thesuperzapper commented on #3226
@zijianjoy, the current "Artifacts" page really is not acceptable, it is creating an unbelievable number of requests, we either need to remove this page, or prevent it from flooding the user's cluster with requests.

[2021-12-20 08:57] pogacsa commented on #2937
/reopen

[2021-12-20 09:29] Bobgy commented on #3226
+1, before the page is in a usable state, maybe it's better to hide it first?

[2021-12-20 09:32] Bobgy commented on #6293
I recall that the Arrikto distribution does not have the same behavior for run ID. Can you use an official installation to test this.

[2021-12-20 15:28] daniel-beyond commented on #6913
@kciy

Hey, the problem was the Kind cluster.
For some reason no pod was able to detect the GPU on the host, once I shifted to an AWS EKS the same exact configuration worked...
I didn't find a way to use the "--gpus all" flag in Kind.

[2021-12-21 08:59] jomenxiao opened #7093 "[backend] cache-deployer generate CSR with wrong usage"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
kind
*  KFP version:
brunch `master`

### Steps to reproduce

follow  README `kustomize`
https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/README.md

* error message
`"message": "invalid usage for client certificate: server auth",`

### describe csr
[code]

[2021-12-21 09:26] Bobgy opened #7095 "test: error: deployment "ml-pipeline" exceeded its progress deadline"
All sample/e2e tests are failing with either
* metadata-grpc deployment cannot rollout
* ml-pipeline deployment cannot rollout

because of connection timeout to the in-cluster mysql DB.

[2021-12-21 09:26] Bobgy opened #7096 "test: error: deployment "ml-pipeline" exceeded its progress deadline"
All sample/e2e tests are failing with either
* metadata-grpc deployment cannot rollout
* ml-pipeline deployment cannot rollout

because of connection timeout to the in-cluster mysql DB.

Test log: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/7092/kubeflow-pipeline-e2e-test/1473214435895021568

[2021-12-21 09:31] Bobgy commented on #7096
Here's what I tried to debug the issue:
* connecting into a test cluster and confirmed that connectivity from any in-cluster pod to the mysql service is broken by `kubectl run -it -n kubeflow --rm --image=mysql:8.0.12 --restart=Never mysql-client -- mysql -h mysql`
* create a cluster with exact the same config/location in my own project, cannot reproduce the connectivity issue
* switch to use cont

[2021-12-21 09:36] Bobgy commented on #7096
Error logs captured from ml-pipeline deployment:

[code]

[2021-12-21 10:41] denisvorotyntsevunity commented on #4828
I faced the same problem, and I wonder if the limitation can be removed or max size can be increased.

[2021-12-21 11:25] Bobgy commented on #4828
In KFP v2, we will be able to increase the limit, because parameters will be passed by MLMD.

[2021-12-21 19:40] juliadeclared commented on #7023
@chensun here is the doc update PR: https://github.com/kubeflow/website/pull/3105

[2021-12-21 19:59] zijianjoy commented on #7096
Sharing another issue I encountered:

[code]

[2021-12-21 20:34] zijianjoy commented on #6014
Note: Application currently only has v1beta1 version: https://github.com/kubernetes-sigs/application/blob/master/config/crd/bases/app.k8s.io_applications.yaml#L46

[2021-12-21 23:09] Ark-kun commented on #7064
Thank you for raising the issue.

KFP is language-agnostic pipeline system. `None` is a python-specific object that is not present in other languages. Im'm not sure it's a good idea to tie KFP to a specific language.

KFP orchestrates containerized command-line programs. Command-line programs, as defined by their POSIX standard, receive command-line arguments as an array of null-terminated strings

[2021-12-22 00:37] Bobgy commented on #7096
The error in the title has been resolved

[2021-12-22 00:37] #7096 closed

[2021-12-22 02:13] #6159 closed

[2021-12-22 05:54] Bobgy commented on #6158
/close
finished

[2021-12-22 05:54] #6158 closed

[2021-12-22 06:29] Bobgy opened #7104 "v2 backend - full API support"
Follow up of https://github.com/kubeflow/pipelines/issues/6199

* [x] https://github.com/kubeflow/pipelines/issues/6171

[2021-12-22 10:07] haoxins commented on #6829
Can we also setup a plan to refactor the documents/websites?

For me, I need introduce Kubeflow pipelines to my colleagues (most are data scientists) in my company.
The Kubeflow website still be the most important source of truth for end users.
Will be very impassioned if we can update the documents to the latest KFP.

[2021-12-22 13:14] wybaron opened #7106 "k8sapi executor does not support outputs from base image layer"
Run Experiments
![image](https://user-images.githubusercontent.com/19605510/147098266-16f704cf-9266-4b77-84dc-ebfd985db48c.png)

[2021-12-23 01:26] Bobgy commented on #6776
The design is ready for review.
https://docs.google.com/document/d/1TZeZtxwPzAImIu8Jk_e-4otSx467Ckf0smNe7JbPReE/edit?usp=sharing&resourcekey=0-lTeZGW_Ys78j1LU60CEARg

[2021-12-23 07:59] nroberts1 commented on #6974
Yes that works I understand the fix now, thanks @jiyongjung0

[2021-12-23 16:36] daikeshi opened #7110 "[frontend] Missing the left-side menu bar in KFP UI v1.7.1"
After we upgraded KFP and its UI image version from 1.3 to 1.7.1, we noticed that the left-side menu bar is missing in KFP UI v1.71. Is there any way we can bring it back? Thanks

### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? It's deployed via OSS Kubeflow stack

*  KFP version:  1.7.1

### Steps to reproduce

**KFP UI v1.3**
![image](https://user-images.githubusercontent.com/47

[2021-12-23 20:26] ashrafgt commented on #6858
@zijianjoy

Please try submitting this argo workflow which has pretty much the same GPU limit syntax and worked fine for me (argo version that comes with KFP 1.4):
[code]

If it's any help, please consider using this very simple pipeline as a minimum reproducible example:
[code]

This bug is a major issue for our team, given that we upload pipelines in a GitOps sort of way. I hope you could look i

[2021-12-24 00:03] capri-xiyue commented on #6819
Reassigned it to James Wu to further discuss the priorty

[2021-12-24 00:04] capri-xiyue commented on #6578
Reassigned it to James Wu to further discuss the priority and the assignee

[2021-12-24 00:04] capri-xiyue commented on #6469
Reassigned it to James Wu to further discuss the priority and the assignee

[2021-12-24 00:05] capri-xiyue commented on #6185
Reassigned it to Joe since it is related to KFP User Metrics

[2021-12-24 00:06] capri-xiyue commented on #6166
Reassigned it to James Wu to further discuss the priority and the assignee

[2021-12-24 00:06] capri-xiyue commented on #6165
Reassigned it to James Wu to further discuss the priority and the assignee

[2021-12-24 06:00] speaknowpotato commented on #6510
hi @mikel-brostrom, I had the same issue.
I followed your solution to add two lines in my dsl pipeline,
but it's still not working.
do you have any idea?
thanks.

[2021-12-24 07:09] haoxins commented on #6431
I think [SeaweedFS](https://github.com/chrislusf/seaweedfs) could be another alternative.

[2021-12-24 08:27] Itega commented on #6554
Hello @zijianjoy @capri-xiyue,
I see this issue is still labelled as "needs more info", can I do something to help you ?
Is this feature still planned for v2 ?
Have a good day 🙂

[2021-12-25 06:39] Bobgy commented on #6377
TODO:
* [ ] update documentation

[2021-12-26 19:50] speaknowpotato commented on #2705
Hi @lucinvitae ,
our team also have the same issue, do you get it fixed?
thanks!

[2021-12-27 06:55] speaknowpotato commented on #1572
I had the same issue today and finally found out it was due to some chrome extensions.
After disabling them, the UI is working fine.
Thanks @Bobgy .

[2021-12-27 19:05] lucinvitae commented on #2705
@speaknowpotato I'm not sure, but I haven't seen this issue in a while.

[2021-12-28 03:10] zijianjoy commented on #7110
Hello @daikeshi , I am wondering how do you install the Kubeflow OSS? The KFP UI is hidden because it detects the existence of Central dashboard, if Central dashboard exists, Pipelines related left nav items are merged to Central dashboard. But I don't see the central dashboard from your screenshot, maybe you can click the `three lines` icon on top left?

Reference: https://github.com/kubeflow/pip

[2021-12-28 03:15] zijianjoy opened #7119 "[backend] Support Protobuf.Value in KFP backend API for `Create Run`"
Currently the KFP API takes int/double/string as parameter types: https://github.com/capri-xiyue/pipelines/blob/d68b8ac792a23211316b89339d049f5d0946c59e/backend/api/pipeline_spec.proto#L61-L70.

However, Pipeline Spec has adopted Protobuf.Value, as in https://github.com/capri-xiyue/pipelines/blob/d68b8ac792a23211316b89339d049f5d0946c59e/api/v2alpha1/pipeline_spec.proto#L187-L190. Therefore, we req

[2021-12-28 05:17] Bobgy opened #7120 "[pH] migrate e2e test to v2 sample test-like infra"
Migrate kubeflow-pipeline-e2e-test to use v2 sample test-like infra.

Potentially related issues:
* https://github.com/kubeflow/pipelines/issues/6168 should be added to e2e test

## Why?

Improves test maintainability, because
* Remove [the last dependency](https://github.com/kubeflow/pipelines/blob/ca6e05591d922f6958a7681827aea25c41b94573/test/e2e_test_gke_v2.yaml#L179) on docker container runtim

[2021-12-28 17:00] aaaaahaaaaa opened #7123 "[bug] `custom_job.job_spec.tensorboard` incompatible with execution on Vertex Pipelines"
According to the documentation [here](https://cloud.google.com/vertex-ai/docs/experiments/tensorboard-training#create_a_custom_training_job), `Vertex Tensorboard` can be configured for a custom job on Vertex by settings `custom_job.job_spec.tensorboard`. However, it seems incompatible with an execution of the task on `Vertex Pipelines`:

When setting the `tensorboard` field, e.g.:
[code]

The foll

[2021-12-28 17:33] sebastien-prudhomme opened #7124 "[backend] Envoy metadata pod is exposing admin interface"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Install Kubeflow Pipelines 1.7.0 (standalone mode) with kustomize.

### Steps to reproduce

Get metadata-envoy-deployment pod IP address:

[code]

Get some data from admin interface (port 9901):

[code]

### Expected result

Pod metadata-envoy-deployment should not expose envoy admin interface as you can shutdown the server with it.

[2021-12-28 22:08] zijianjoy commented on #6554
@Itega Would you like to describe how you want to configure the cache staleness? For example, do you want to configure this when building pipeline template? or configure staleness across the whole KFP deployment?

Describing the user journey will be helpful.

[2021-12-29 12:21] mikwieczorek opened #7127 "[ray cluster] Problem using RayCluster within Kubeflow Pipelines"
Hi,

I am struggling a bit with my settings to make my kf-pipeline run. Settings are as follows: I have a k8s cluster deployed on remote VM where the full kubeflow and Ray Cluster are deployed. I ran successfully a simple example with kfp, but now I am trying to create a pipeline using Ray inside one of the components.  My code is as follows (run from the local laptop)

[code]

The IP to RayCluste

[2021-12-29 18:41] aaaaahaaaaa opened #7128 "[feature] `Input` and `Output` artifacts should allow local path"
### Feature Area

In our team, we like to implement components in such way that they can be executed both locally directly as a function (e.g. in a notebook) and as part of a KFP pipeline (e.g. on Vertex).

Ideally we would love to use the `Input` and `Output` artifacts and call the function behind our component, like so for example:
[code]

_Pipeline execution_
[code]

_Local execution_
[code]

H

[2021-12-29 21:15] Iuiu1234 commented on #7064
understood,
in that case the parsing should be done
a) inside the component; in the container:command of the json. Which for py func would be something like adding a line inside the body as `locals() = {k:None if v == 'None' else v for v in locals()} , but for components from yaml i don't know
b) inside the inputs:parameters. Like the parsing that you do from str to bool (which i don't understand

[2021-12-29 22:51] speaknowpotato commented on #4690
hi @kd303 , did you get it fixed? i see the same issue as yours and have no idea about it.
thanks.

[2021-12-30 00:23] yuhuishi-convect commented on #7127
In the pipeline, you may want to call `run_dask_on_ray_op ` instead of `ray_run_func` which will immediately evaluate the code at compilation time

[2021-12-30 00:44] zijianjoy commented on #6915
Switch to ts-proto: https://github.com/kubeflow/pipelines/commit/d60bc99bb61a9f23fce8eabd78634236e45a5dc1

We are pending for parameter for create run to be implemented.

[2021-12-30 08:22] #6377 closed

[2021-12-30 09:00] 631068264 opened #7129 "Unable to attach or mount volumes: unmounted volumes=[mlpipeline-minio-artifact], unattached volumes=[podmetadata docker-sock mlpipeline-minio-artifact default-editor-token-8lmfr]: timed out waiting for the condition"
kubectl version
[code]
Pipelines 1.7.0  install kubeflow 1.4.1

![image](https://user-images.githubusercontent.com/8144089/147736852-523a7ac5-6887-4898-bdc8-bcf8689e7e40.png)
pipeline keep pending execution

[code]

[code]

[2021-12-30 12:09] mikwieczorek commented on #7127
@yuhuishi-convect Thanks for finding my mistake. Fixing it worked like a charm and now it both compiles and runs successfully on the Cluster. Thank you!

[2021-12-30 12:09] #7127 closed

[2021-12-30 13:18] 631068264 commented on #7129
finally I find that the pipeline job is in the A namespace and the **mlpipeline-minio-artifact** is in kubeflow namespace.I don't know why.

[2021-12-30 15:26] aaaaahaaaaa commented on #7128
Nevermind, using `dataset.uri` directly instead  of `dataset.path` doesn't cause any issue.

[2021-12-30 15:26] #7128 closed

[2021-12-31 09:09] lynnmatrix commented on #6986
@chensun @gpoulin-hopper  Actually I have implemented the local client for v2 which is only used internally for now.  If needed I will be happy to pull a PR.

[2021-12-31 17:20] montenegrodr commented on #6685
@ckchow @zijianjoy I am facing the same error. Any workaround? thanks.

[2022-01-01 03:54] 631068264 opened #7131 "[backend] Failed to execute component: unable to get pipeline with PipelineName"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Install follow https://github.com/kubeflow/manifests  in v1.4.1
KFP version: 1.7.0
KFP SDK version: build version dev_local
k3s Kubernetes 1.19

### Steps to reproduce
 use demo example to add pipline
kfp                      1.8.10
kfp-pipeline-spec        0.1.13
kfp-server-api           1.7.1

[code]

I upload the pipeline.yaml and

[2022-01-01 15:25] RobinKa opened #7132 "[backend] Pipeline first step stuck in running state even after completing"
Hey, hope this is the right place to post this issue at. I'm new to Kubeflow and Kubernetes so please let me know what else would be useful to know.

### Environment

*  How did you deploy Kubeflow Pipelines (KFP): Installed Kubeflow on Kubernetes 1.19 with manifests, see below
*  KFP version: 1.7.0
*  KFP SDK version: build version dev_local
*  Server specs: 8 CPUs, 16GB RAM, 240GB SSD ([Hetzner

[2022-01-01 15:58] RobinKa commented on #7132
Using the pns executor instead makes everything work as described [here](https://github.com/kubeflow/manifests#kubeflow-pipelines)

`kustomize build apps/pipeline/upstream/env/platform-agnostic-multi-user-pns | kubectl apply -f -`

So I assume I made a mistake in my Docker setup? Although not much about docker is mentioned in the manifests readme.

[2022-01-01 19:26] zijianjoy commented on #7029
All clients for MLMD have been updated.

[2022-01-01 19:26] #7029 closed

[2022-01-02 02:27] 631068264 opened #7133 "[backend] Use SDK Client get 500 Internal error: Unauthenticated: Request header error: there is no user identity header.: Request header error: there is no user identity header.\nFailed to authorize with API resource references\ngithub.com/kubeflow/pipelines/backend/src/common/util.Wrap\n\t/go/src/github"
### Environment
Install follow https://github.com/kubeflow/manifests  in v1.4.1
KFP version: 1.7.0
KFP SDK version: build version dev_local
k3s Kubernetes 1.19

### Steps to reproduce

use demo example to add pipline
kfp                      1.8.10
kfp-pipeline-spec        0.1.13
kfp-server-api           1.7.1
https://www.kubeflow.org/docs/components/pipelines/sdk-v2/v2-compatibility/
https://www.

[2022-01-02 15:59] jynx10 opened #7135 "[bug] pipeline_manifest not returned by the api"
### What steps did you take
Sent a request to find a specific run by id (to the /apis/v1beta1/runs/{run_id} endpoint).

### What happened:
In the response I received only the workflow_manifest property.

### What did you expect to happen:
I expected both the pipeline_manifest and workflow_manifest properties to be returned as part of the apiPipelineRuntime Object.

### Environment:

*  How do you

[2022-01-03 09:50] montenegrodr commented on #6685
Falling back to `gcr.io/ml-pipeline/ml-pipeline-gcp:1.6.0` worked.

[2022-01-04 02:37] daikeshi commented on #7110
@zijianjoy ok I see. We deployed KFP along with OSS central dashboard component with our customized Kubeflow setup.

Yeah, clicking the three `lines icon` on the top will bring the central dashboard menu selection back, but our users typically don't use it and we are on an older version of the central dashboard. Would it be possible to override [`HIDE_SIDENAV` flag](https://github.com/kubeflow/pip

[2022-01-04 02:47] zijianjoy commented on #7110
You can configure in here https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/installs/multi-user/pipelines-ui/deployment-patch.yaml

[2022-01-04 17:00] difince commented on #7003
Thank you for clarifying this @capri-xiyue.
This issue is actually inspired by #3360 and I see it as the first issue from a list to cover entirely #3360.
To your point of uniqueness - in the issue, I have written

So, now in the [PR,](https://github.com/kubeflow/pipelines/pull/7004#pullrequestreview-827574954) there is a discussion on what is the best way to pass the namespace - using the `resourc

[2022-01-04 18:48] zijianjoy commented on #6858
Hello @ashrafgt , after some investigation, we now think that we should create PodSpecPatch for GPU resources. Refer to issues:

https://github.com/kubeflow/pipelines/issues/1956
https://github.com/kubeflow/pipelines/issues/4877

PodSpecPatch example is in https://github.com/argoproj/argo-workflows/blob/master/examples/pod-spec-patch.yaml. Please note that both examples you provided (argo workflow

[2022-01-04 19:42] ashrafgt commented on #6858
@zijianjoy Thank you for checking this! I think the argo example probably didn't work because you're using an older version. I remember that I had tl use pod spec patches before, but not anymore. Regardless of how it's implemented, it'll be great to be able to dynamically control GPU resources :)

[2022-01-05 07:26] rajendra-tamboli opened #7140 "[backend] Importing workflow yaml file is not creating container in Azure"
### Environment - Kubeflow is deployed in Azure Kubernetes Service
*  KFP version: build version v1beta1

### Steps to reproduce
1. installed kubeflow SDK
2. Created a workflow using a sample repo (https://github.com/FernandoLpz/Kubeflow_Pipelines.git)
3. Created docker image and pushed the same to ACI (Azure Container Registry)
4. created Firstpipeline.yaml file and imported the same via Kubeflow

[2022-01-05 14:40] SebBlin commented on #6432
As far as I understand it, latest releases of KFP come with an updated release of Argo, that as update the way to specify a TTL in workflow (see https://argoproj.github.io/argo-workflows/fields/#ttlstrategy).
I made a PR to correct it : https://github.com/kubeflow/pipelines/pull/7141

[2022-01-05 22:02] chensun opened #7142 "01/05/2022 Presubmit kubeflow-pipelines-tfx-python37 failure"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/7112/kubeflow-pipelines-tfx-python37/1478839808884215808

[code]

[2022-01-05 22:04] chensun commented on #7142
Pending the following change in tensorflow_transform being picked up by TFX:

https://github.com/tensorflow/transform/commit/e5e0560e092b3ba66138f2250cc31716c5405081#diff-be77950e10f2a3497862328c336509a3dc956d4b90bb81ae8c17f8e050e1a2b7

[2022-01-06 00:11] #7142 closed

[2022-01-06 07:03] coalindiax commented on #6901
Please guide on how to provide value pipeline/workspace and name  in artifact via KFP library
facing same issue

[2022-01-06 23:15] chensun commented on #7135
@jynx10 why would you expect this, is this the behavior in some old version?

Just by looking at the code, it seems to be by design that only one of them is returned, and `workflow_manifest` is looked first: https://github.com/kubeflow/pipelines/blob/2e945750cb1758eea6db8453b437e57e68152b4a/backend/src/apiserver/resource/resource_manager.go#L995-L999

[2022-01-07 00:07] chensun commented on #7064
Alexey is correct that `None` is not something you can pass via command-line arguments.
That said, what you get is expected because you are passing string literal `"None"` which overrides the default value `None`. The way to receive a Python `None` object is to not pass anything at all, then the default value will be used.

Try the following:
[code]

[2022-01-07 00:24] chensun commented on #7072
As far as I'm aware, we don't support setting restartPolicy for either main container nor init container via SDK.
BTW, ContainerOp is deprecated, you should received a warning for the code above.

[2022-01-07 00:27] chensun commented on #7133
You're on multi-user mode, and as called out in the last paragraph in  https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#connect-to-kubeflow-pipelines-from-outside-your-cluster:

So you may consider connect from the same cluster following this instruction: https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#multi-user-mode

[2022-01-07 00:35] chensun commented on #7131
We have dropped v2 compatible mode support from master branch.

I'd suggest you try non v2 compatible mode or try v2 on Vertex Pipelines.

[2022-01-07 00:41] #7110 closed

[2022-01-07 00:43] zijianjoy commented on #7140
cc @aronchick

[2022-01-07 00:45] zijianjoy commented on #7140
Possible related: https://github.com/kubeflow/pipelines/issues/5714. Please switch to emissary executor if you are on K8s 1.19 or above.

[2022-01-07 00:47] zijianjoy commented on #7093
cc @chensun

[2022-01-07 00:55] zijianjoy commented on #7132
Hello @RobinKa , you can switch over to emissary executor since that is going to be the default executor going forward. https://github.com/kubeflow/pipelines/issues/5714

[2022-01-07 01:03] zijianjoy commented on #7129
Possibility related https://github.com/kubeflow/pipelines/issues/4649.

What is the Kubernetes version you are running on, and what is the executor you are using? https://github.com/kubeflow/pipelines/issues/5714

[2022-01-07 01:11] zijianjoy commented on #7124
cc @chensun .

[2022-01-07 01:20] zijianjoy commented on #7106
Hello @wybaron , we don't support k8sapi executor, please switch to emissary executor: https://github.com/kubeflow/pipelines/issues/5714

[2022-01-07 04:01] chensun commented on #6936
I'm not sure I understand.
Starting a container involves running its entrypoint. The compiled json tells the backend system how to run a container.

[2022-01-07 08:17] Itega commented on #6554
@zijianjoy Sorry for the late answer.
I'd like to configure cache staleness when building the pipeline template so I can have different cache staleness configured for different steps in a pipeline.

I have a pipeline which should run every hour, this pipeline has a step which takes more than one hour to execute. I want to cache this step for one week as its result does not change often.
Some other

[2022-01-07 08:54] tristan-vt commented on #3412
+1 on this issue, the only way of doing this right now seems to be to go and manually search for the output artifacts, this is not very clean IMO

[2022-01-07 14:30] iuiu34 commented on #6936
entrypoint would be
[code]

the idea would be to start the container alone before the pipeline to get the func definition. And then with the info, define the components and run the pipeline.

You can also think it as running first a one-step pipeline, with the `get_func_source` .
And then setting up the components args for the desired pipeline

As said, is a little bit back and forth...

[2022-01-07 14:36] iuiu34 commented on #7064
But that's precisely the problem. The "not passing anything at all" is not an option in a function, it's only in the entrypoint.

What I want is setting args with default None (not 'None') in the pipeline (not the component)

Basically
[code]
pipeline() prints "arg1 value = 'None'" instead of the desired "arg1 is None"

[2022-01-07 14:56] 631068264 commented on #7129
Kubernetes  version  v1.19.5+k3s2
I don't know  what is the executor. Do you mean this  **gcr.io/ml-pipeline/kfp-launcher:1.7.1** . I find it in offical  **Tutorial V2 lightweight Python components**

Finally I use pipeline sdk v1  and gcr.io/ml-pipeline/kfp-launcher:1.8.7  to run my pipeline task and it work well

[2022-01-07 15:30] wutianhao910 commented on #7012
I'm experiencing the same issue when running tasks created from `google_cloud_pipeline_components.experimental.hyperparameter_tuning_job`
And I located to the same place `google_cloud_pipeline_components\container\experimental\gcp_launcher\job_remote_runner.py` at line 80, where the inputs of `pattern' and 'string' to 're.finall' are flipped.

[2022-01-07 15:46] jdalbosc-cisco commented on #6858
Thanks @zijianjoy, using kfp 1.8.9, **add_resource_request** and **add_resource_limit** methods instead of set_gpu_limit, I was able to specify a gpu limit using a pipeline input parameter. The updated code below that worked for me.
Thanks again! :slightly_smiling_face:

[code]

[2022-01-07 19:18] zijianjoy opened #7148 "[frontend] Unable to build frontend image because of `postcss` module not found"
During presubmit build, the frontend image is not able to find module `postcss` as the error message below

[code]

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-01-07 22:43] zijianjoy commented on #6015
cc @chensun

[2022-01-07 23:07] #7148 closed

[2022-01-08 13:43] Shuai-Xie opened #7154 "How does kubuflow pipeline retry_run know where to start?"
At first, I think kubeflow runs know where to start with the status of all the existed pipeline pods.

However, I try to `terminate_run` and delete some `Completed` pipeline pods, then use `retry_run` to restart the run. Surprisingly, the retried run can still start at the right checkpoint.

I guess some states are stored in the database, but not for sure.

Thanks very much.

[2022-01-08 21:55] zijianjoy commented on #6014
All manifests are upgraded to v1. I have personally deployed to a k8s 1.22 cluster and have validated the deployment.

[2022-01-08 21:55] #6014 closed

[2022-01-10 21:00] raphaelTrench commented on #6949
I have been facing this issue too, basically anytime a variable could have two possible values due to being the result  of a condition, on one of the conditions the pipeline will fail with:
`This step is in Error state with this message: Unable to resolve: {{tasks.condition-Full-Experiment-1.outputs.artifacts.split-dataset-output_train}}`

Im not sure if this is supposed to be the expected behavio

[2022-01-10 22:02] jli opened #7157 "[feature] Improve frontend CSS for task display name overflow"
### Feature Area

/area frontend

### What feature would you like to see?

Change the task display name CSS overflow properties so that long task names don't get truncated.

### What is the use case or pain point?

We have somewhat longer task display names, which map to functions in our codebase (so that it's easy to find the relevant code in our codebase). This causes the names to be truncated i

[2022-01-10 22:23] jli opened #7158 "minio Express webserver doesn't specify character encoding"
### What steps did you take

- Click on a task on the KFP run page.
- On the Input/Output tab, click the minio:// link for `main-logs` to view raw logs.

### What happened:

The logs file is served from the minio Express webserver without any character encoding header. This causes any non-ascii UTF-8 characters to be rendered as garbled text.

### What did you expect to happen:

I think changing t

[2022-01-11 00:49] ckchow opened #7160 "[feature] to_csv in google_cloud_pipeline_components's bigquery operators"
### Feature Area

### What feature would you like to see?
Google cloud pipeline components (https://github.com/kubeflow/pipelines/tree/master/components/google-cloud/google_cloud_pipeline_components) is missing an operator to export a bigquery query result to CSV. This is currently provided by https://github.com/kubeflow/pipelines/tree/master/components/gcp/bigquery/query strictly speaking, but th

[2022-01-11 08:03] chensun commented on #7133
A correction on my previous rely: you can still connect to KFP with multi-user mode from a local client, but there's additional setup/configuration needed. Here're some doc on how to do it if you deployed KFP on GCP: https://www.kubeflow.org/docs/distributions/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment

I checked with the team. You might not be

[2022-01-11 08:07] chensun commented on #6936
I see. Probably not a good idea- that's even heavier than the current state...

[2022-01-11 08:16] chensun commented on #7123
[code]
This was an experimental implementation, and it has been dropped post KFP SDK 1.8 release (deleted from master branch).
Can you please try the replacement version, which is a component from [a separate Python package](https://pypi.org/project/google-cloud-pipeline-components/):

https://cloud.google.com/vertex-ai/docs/pipelines/customjob-component

[2022-01-11 08:28] chensun commented on #7064
That's not a supported scenario. As Alexey mentioned above, `None` is a Python-specific object, whereas KFP is language-agnostic.

In your code sample, by passing object` None` to `task1` component, you're assuming that `task1` is a Python program. But that's not necessarily true. Albeit you write `task1` implementation using Python above, that doesn't mean all components are Python-based. In fact

[2022-01-11 11:07] Udiknedormin commented on #7008
@chensun

An average compilation takes 0.1-0.2 for small inputs, so it can only really be considered "instantaneous" for a single user scenario --- as few as ten pipelines compiling sequentially generate 1s of delay, which is not that small. And that's for minimal cases, not very large pipelines, which may take longer to compile.

Ten small compilations per second or even fewer larger ones don't s

[2022-01-11 15:51] iuiu34 commented on #7064
Yep, so agreed that in the pipeline arg1='None'.

But again; then, the parsing from 'None' to None, should be done (only) inside the py component? With something like `locals() = {k:None if v == 'None' else v for v in locals()} ` (option b)

Or not parsing at all, and that py component should recieve 'None' and be treated by the user inside the function? (option a)

[2022-01-11 19:46] aaaaahaaaaa commented on #7123
Thanks for the clarification. I confirm the `create_custom_training_job_op_from_component` works for that purpose.

[2022-01-11 19:46] #7123 closed

[2022-01-12 09:01] mikwieczorek commented on #4574
Hi, is there any update on the issue? Any ETA for the feature or any help needed in some area?

[2022-01-12 09:52] rajendra-tamboli commented on #7140
Thanks for the feedback. We've run the following command to convert to emissary executor and got confirmation on the changes as well -
kubectl patch configmap workflow-controller-configmap --patch '{"data":{"containerRuntimeExecutor":"emissary"}}'

However when we tried to create a sample pipeline again, it is still taking docker executor only ---
Events:
  Type     Reason       Age

[2022-01-12 10:27] naimadg commented on #6777
Bump

[2022-01-12 10:51] bix709 opened #7162 "Minor security flaws detected by OWASP scan"
What steps did you take:

Hey, I ran OWASP scan on kubeflow central dashboard and KFP to see if there are any security flaws I should take to the consideration before going to production with our kubeflow instance.

What happened:

OWASP findings:

- Missing X-Frame-Options header
[code]
- Missing X-XSS-Protection header
[code]

- HTTP response headers like 'Server', 'X-Powered-By', 'X-AspNetVersi

[2022-01-12 12:27] Theocrat commented on #4440
@Bobgy since this is a security feature, is there a way to turn it off and go back to the older system, where a header could be specified via the CLI?

[2022-01-12 13:56] szpnygo commented on #6931
How do you solve this problem?

[2022-01-12 19:13] chensun commented on #6588
I think the initial design and implementation of parallelism on `dsl.ParallelFor` didn't match anyone's expectation on how it should work. Thus, there was a subsequent work: https://github.com/kubeflow/pipelines/pull/4199

[2022-01-12 22:29] mgiessing opened #7163 "Recommended way to use Tensorboard in a pipelines run"
Hi,
I'm currently wondering what is the recommended way to include Tensorboard **inside** a pipeline run.

For non-pipeline tb I followed a minimal example that trains mnist on a notebook server --> https://www.youtube.com/watch?v=eMDF2Bk8YRY which works good!

For pipelines I currently feel that there are two options (probably even more)

1. Use **tensorboard viewer**, therefore I need to upload

[2022-01-12 23:00] jbottum commented on #3594
@kubeflow/wg-pipeline-leads any status on this ...some gcp customers are impacted.

[2022-01-12 23:52] chensun commented on #7064
No, I don't think we should ever convert `'None'` to `None`. It could be a legit user intention that they may want to pass `'None'` and consume it as string. We don't want to be "oversmart".

Yes, users can choose whatever they want, `'None'`, `'null'`, `'NoValue'`, etc. The system doesn't need to be aware of the user-chosen contract.

[2022-01-13 06:43] speaknowpotato commented on #4152
@mikel-brostrom
https://stackoverflow.com/questions/46085748/define-size-for-dev-shm-on-container-engine
hope it helps.

[2022-01-13 22:46] zijianjoy commented on #3594
cc @chensun , should we consider increasing the podPriority value to unblock GKE autoscaler issue? Or is it an Argoworkflow question? (It basically means the default podPriority in argoworkflow doesn't work in GKE autoscaler)

[2022-01-14 00:48] chensun commented on #7158
/cc @zijianjoy

[2022-01-14 00:53] chensun commented on #7162
@bix709 Kubeflow 1.2.0, KFP 1.0.4 is kinda old, can you try on the latest version and see if the issue still exists?

[2022-01-14 00:58] chensun commented on #7163
Per our doc, your option 1 seems to be our recommendation: https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#tensorboard

[2022-01-16 22:31] zijianjoy commented on #7003
Note: After the backend change is merged, let's also follow up on the SDK side by using this new endpoint getPipelineByName.

[2022-01-17 02:00] Bobgy commented on #7003
We might want to delay the change, because we know a lot people upgrading KFP SDK to latest all the time, if we switch the API, their usage will break, because their deployment is not upgraded yet. Ideally, when we change existing SDK client implementation, we need to wait until the backend API is released for a while.

[2022-01-17 02:42] Bobgy opened #7169 "[backend] discussion - resource reference in API interface considered harmful"
There were some previous discussions around this topic, but let me summarize my arguments against using resource references in the public API.

## Proposal

Replace resource reference in API interface with explicit fields. For example, instead of passing resource reference for a pipeline version, we can just have a version ID / version Name field in the pipeline spec to specify which version we wa

[2022-01-17 03:00] Bobgy commented on #7169
/cc @zijianjoy @chensun @difince

Sharing some thoughts about current API design, what do you think?

[2022-01-17 07:23] jiyongjung0 opened #7171 "[sdk] Update absl-py requirement to accommodate future TF versions"
### Environment

*  KFP version:
N/A

*  KFP SDK version:
1.8.10 (latest)

*  All dependencies version:
N/A

### Steps to reproduce

I believe that Tensorflow is frequently used with KFP and TF and should be able to be installed together. TF updated their absl-py requirement to `>=1.0.0` recently. [setup.py in TF](https://github.com/tensorflow/tensorflow/blob/c93e4757491a4abb7aa990e18f2d321e4a935a

[2022-01-17 08:48] zijianjoy commented on #7140
What is your Kubernetes version?
What is your KFP backend version?

[2022-01-17 17:50] rajendra-tamboli commented on #7140
Kubernetes version - 1.20.9
KFP version - 1.8.10

[2022-01-18 09:43] Sharathmk99 commented on #6101
Facing same issue. Any update on this issue?

[2022-01-18 14:45] difince commented on #7169
@Bobgy I totally agree with all of your arguments and I could confirm that using the resource_reference was not that easy and intuitive for me as well.
I have a question for case of [ getPipelineByName ](https://github.com/kubeflow/pipelines/pull/7004)(and namespace)
How the URL path `/apis/v1beta1/namespaces/{namespace}/pipelines/{name}`  is going to look like taking into consideration that the n

[2022-01-18 14:49] Itega commented on #5335
Hi @Bobgy,

I have the exact same problem and it's happening really often. I already have a retry strategy but it's not retrying when this fail.
I'm on KFP 1.7.1 deployed on GKE via the marketplace, using managed storage and managed sql.

Can I upgrade minio without breaking KFP ? Is there anything else I could do ?

[2022-01-18 16:30] ashrafgt commented on #1352
/reopen

Please consider revisiting this topic. It would be very useful to be able to create pipelines and pipeline versions using GitOps.

I also expected that pipelines could be created by doing `kubectl apply -f complied-pipeline.yaml`, but I guess that's not possible at the moment.

[2022-01-18 18:46] difince commented on #7169
The question above is more about PR #7004 I will move it there. I agree with this proposal

[2022-01-18 23:22] zijianjoy commented on #7140
You will have to configure `containerd` as the container runtime in your AKS cluster: https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#nodes-and-node-pools.

See this section:
`Container Runtime: Allows containerized applications to run and interact with additional resources, such as the virtual network and storage. AKS clusters using Kubernetes version 1.19+ for Linux node p

[2022-01-18 23:27] zijianjoy commented on #7157
Hello @jli , thank you so much for the feature request! I agree that this can improve user experience, feel free to contribute since you have already tried the CSS style. Also, if you hover over to the node, you can see the full name from your mouse.

[2022-01-18 23:32] zijianjoy commented on #7158
I don't seem to reproduce the issue. Maybe it is because I don't understand it fully yet. Do you have an example pipeline I can run and inspect the logs for difference?

[2022-01-19 00:02] capri-xiyue commented on #5783
reassigned it to @chensun

[2022-01-19 00:03] capri-xiyue commented on #6156
reassigned it to @chensun

[2022-01-19 01:20] jli commented on #7158
@zijianjoy The issue is specifically with non-ascii characters. In our case, we have some logs that emit the emoji: ⏳

Here's some example logs from the "Logs" tab in the KFP web UI:
<img width="450" alt="Screen Shot 2022-01-18 at 20 16 41" src="https://user-images.githubusercontent.com/133466/150045291-c03f4cdd-6f86-475c-a313-527bf727210d.png">

And here's the same logs when served via the minio

[2022-01-19 06:49] animeshsingh commented on #7008
@chensun please let us know if there are any valid arguments why not to do this - else let's move this forward

[2022-01-19 08:40] chensun commented on #7008
Yes, that sounds reasonable to me.
@ji-yaqi is also looking into changing the compilation context for the graph component support. So I'll let @ji-yaqi comment on the implementation details.

[2022-01-19 17:34] zijianjoy commented on #7169
Agreeing to this proposal 👍. By looking at the KFP API list: https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/, I feel that the amount of work will require a major refactoring of existing APIs. And more importantly, it takes a longer time to migrate to new APIs and deprecate old APIs.

Code structure: For a better migration process, I am thinking about cr

[2022-01-19 21:23] metanouvelle commented on #6293
hi there, I am having the same issue by using SDK V2 to create a simple pipeline. I deployed kubeflow on a blank new EKS by following installation on kubeflow manifest, and using
[code]
FYI: If I modified my code to SDK V1, it totally worked.

[2022-01-19 22:14] #7171 closed

[2022-01-20 08:18] Bobgy commented on #7169
Just my opinion, I am not sure whether it's worth the effort creating a new API package, because [it's non-trivial supporting two APIs using the same code](https://github.com/kubeflow/pipelines/blob/577902ca46eee101cf1d7d197908797f4ab16fce/backend/src/apiserver/main.go#L96-L109). Also, it's natural for an API to evolve: add new fields, deprecate old fields, support both fields in the same time to

[2022-01-20 09:18] juliusvonkohout commented on #4790
@bobgy is there any progress or decision made on this issue?

[2022-01-20 10:34] juliusvonkohout commented on #5084
Is there any progress made regarding the frontend issue?

[2022-01-20 12:03] juliusvonkohout commented on #4649
@Bobgy @jacobmalmberg
it seems that mlpipeline-ui-artifact is a proxy to fetch artifacts from minio with the default environment variable ARTIFACTS_SERVICE_PROXY_ENABLED set for ml-pipeline-ui. mlpipeline-ui-artifact uses some minio configurations that we can override via environment variables as done in https://github.com/kubeflow/pipelines/pull/5864. E.g. fetch artifacts from the user namespace

[2022-01-20 12:21] Bobgy commented on #6133
Closing because v2 compatible is no longer supported, we are working on the complete KFP v2.

/cc @chensun
We used to have this issue for v2 compatible, a lot of them are still unsolved for v2 engine mode as well.

[2022-01-20 12:22] #6133 closed

[2022-01-20 12:23] Bobgy commented on #6293
Closing because https://github.com/kubeflow/pipelines/issues/6829

[2022-01-20 12:23] #6293 closed

[2022-01-20 13:42] juliusvonkohout commented on #4649
@jacobmalmberg  why are you using minio in gateway mode? It hsould be a normal minio instance instead of relaying to the kubeflow namespace minio

[code]

[2022-01-20 14:33] juliusvonkohout commented on #4649
I have got working visualizations with a per namespace minio instance. I will try changing the passwords soon

[2022-01-20 14:55] juliusvonkohout commented on #4649
Also the changed passwords are working and my minio uses istio. @Bobgy @zijianjoy do you appreciate a pull requests that creates local per namespace minios with randomly created passwords? I would alter sync.py to achieve that. So far everything i have tested works. i would also remove the instance in the kubeflow namespace.

[2022-01-20 15:57] jacobmalmberg commented on #4649
Good work @juliusvonkohout. To enable namespace specific minio instances, apart from #5864, did you only add the MINIO_NAMESPACE env to sync.py or did you change the ARTIFACTS_SERVICE_PROXY_ENABLED env too?

(We use off cluster minio instances and therefore use minio in gateway mode).

[2022-01-20 16:07] juliusvonkohout commented on #4649
I will create a pull request. my only problem is that the mlpipeline-metrics are not working

Everythin can be fetched and seen
[code]

Even in the ui
![image](https://user-images.githubusercontent.com/45896133/150376428-4f2aca95-8a47-44a0-9523-ac26b14b307e.png)

but the run output tab where usually the metrics reside is empty.

[2022-01-20 16:17] juliusvonkohout commented on #4649
![image](https://user-images.githubusercontent.com/45896133/150377812-5aed6dc6-7bb8-4560-9909-60f349c9879d.png)

![image](https://user-images.githubusercontent.com/45896133/150377947-91826426-d41f-4428-a008-f1dacdeb1ac6.png)

[code]

[2022-01-20 18:24] irabanillo91 commented on #7163
Have you been able to get the viewer linked to the component? I'm able to generate the artifact named "mlpipeline_ui_metadata" as explained in the docs
![image](https://user-images.githubusercontent.com/60658860/150397983-9e227cf7-f79d-4cac-b58e-970c5cac9599.png)

which looks like:
`{"outputs": [{"type": "tensorboard", "source": "s3://my_bucket/ai_kubeflow_example/pipeline/CatsDogs_inaki/9c735a49-

[2022-01-20 23:14] mgiessing commented on #7163
Yes it does work for me. How does your function look like which you'd expect to link the viewer?

[2022-01-21 00:38] jiyongjung0 commented on #7171
@chensun Thank you for resolving the issue!

By the way, is there a plan to release a new version of kfp in the near future? TFX integration tests are still failing and I'm thinking about some kind of hacks to workaround the current breakage if the release will not happen shortly.

[2022-01-21 04:29] chensun commented on #7171
Yes, we plan to release 1.8.11 shortly, and I'll cherry pick your change into the release branch. Will let you know when the release is out.

[2022-01-21 13:36] irabanillo91 commented on #7163
I've tried to simplify it as much as possible. It looks like this:

[code]

However, nothing shows up in the Viz tab
![image](https://user-images.githubusercontent.com/60658860/150535783-a1fa3ab3-05e9-44ac-a410-a3a503dd503d.png)

![image](https://user-images.githubusercontent.com/60658860/150535748-41c4e3e4-e976-4d23-9238-cf19f1e36e93.png)

[2022-01-21 13:54] AlexandreBrown commented on #6912
@zijianjoy Could we get an update on this issue?

It looks like it received quite a few thumbs up but was not addressed in v2 compatible mode issue tacker https://github.com/kubeflow/pipelines/issues/6132

Perhaps we should consider the thumbs up count to be whatever this page shows + 6 from the old issue.

[2022-01-21 15:31] mike0355 opened #7184 "Add security context privilege in the pipeline workflow pod"
/securityContext on Notebooks
Hello everyone, because of the needs of the project, I want each pod in the workflow to access the files under the /dev path on the local side. I have tried adding security parameters to the yaml file of the Notebook, as shown the figure, But I still can't access the files under /dev when I actually run the pipeline. Is my writing wrong?

![image](https://user-images.

[2022-01-21 15:35] mgiessing commented on #7163
I don't use AWS, nor do I use x86 but your code seems to link the Tensorboard for me if I adjust it minimally according to my environment:

[code]

![image](https://user-images.githubusercontent.com/40735330/150554748-26973841-b8ea-4794-aff6-a40e2271b08e.png)

I saw you first compile the function into a workflow.yaml file which you then use to create a run I guess? Shouldn't you use the correct pi

[2022-01-21 16:40] irabanillo91 commented on #7163
Oh, my bad, that was a copy&paste issue. In my code I generate the pipeline for `example_pipeline`, not `training_pipeline_v2`. Then I manually upload the yaml file and create the run from the dashboard.

Can I ask you what version of kubeflow you're using (we're on [1.4](https://www.kubeflow.org/docs/releases/kubeflow-1.4/))? And also what version of the python package kfp you're using (we're on

[2022-01-21 17:23] mgiessing commented on #7163
Okay! I'm using Kubeflow v1.3.0 & kfp 1.8.5 - unfortunately we don't have v1.4.0 for our architecture, so I cannot compare that.

[2022-01-21 23:23] zijianjoy commented on #6912
@AlexandreBrown Thank you for bringing this up!

We have put the V2 compatible work on hold and currently work fully to V2. We are currently tracking it in our KFP V2 project. That said, we are aware of this requirement and working towards it. The thumbs-up information helps us prioritize the work in the V2 timeline.

[2022-01-22 18:23] konsloiz commented on #6931
Hello, we solved it using a tool called Kale.

[2022-01-22 20:01] padrian2s commented on #6931
For version 1.4 from what I see driver image is hardcoded in driver.go

[2022-01-23 12:47] Amitg1 opened #7193 "Does Kubeflow pipelines support Sensor component?"
Sensors are a special type of Operator that are designed to do exactly one thing - wait for something to occur. It can be time-based, or waiting for a file, or an external event, but all they do is wait until something happens, and then succeed so their downstream tasks can run.

from: https://airflow.apache.org/docs/apache-airflow/stable/concepts/sensors.html

Do I have to impl the logic myself?

[2022-01-24 02:02] chadg818 commented on #3814
Jan 2022 - im having same problem but with ZIP files

[2022-01-24 11:36] Borda opened #7194 "[feature] integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-24 16:55] akangst opened #7196 "[frontend] Unable to upload pipeline by URL in KF 1.4"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
We're deployed in a full kubeflow installation in the platform-agnostic-multi-user configuration.
*  KFP version:
1.7

### Steps to reproduce

1. Open KF Pipelines UI
2. Click "Upload Pipeline" in the upper right.
3. Fill out Name and Description fields
4. Select "Import by url" Radio Button and paste github link into Package Url box

[2022-01-24 21:52] akartsky commented on #7040
/area components/aws/sagemaker

[2022-01-24 21:52] akartsky commented on #5723
/area components/aws/sagemaker

[2022-01-24 21:58] amitchnick opened #7201 "[feature] Allow user to specify which input parameters to use in cache key"
### Feature Area

/area sdk

### What feature would you like to see?

Right now, the only caching customization that exists on an operator level in v1 KFP (please correct me if I am wrong), is:
[code]
Something that would be greatly helpful for my use case is if there was a way to specify which input parameters should be used to generate the cache key, such as follows:

[code]
The expected behavio

[2022-01-24 23:35] chensun commented on #7171
@jiyongjung0 FYI, we released 1.8.11 today that contains the change you made: https://pypi.org/project/kfp/1.8.11/

[2022-01-25 01:52] sabiroid opened #7204 "[sdk] KFP Compiler doesn't propagate ParallelFor inputs"
### Environment

*  KFP version:
1.8.2
*  KFP SDK version:
1.8.2
*  All dependencies version:
[code]

### Steps to reproduce

Try to compile this code:
[code]
It fails with a `KeyError: 'produce-items'` exception from within `fix_big_data_passing` function (not the actual bug location).

### Expected result

It should compile.

### Materials and Reference

The minimal code to reproduce is provided

[2022-01-25 01:53] jiyongjung0 commented on #7171
I confirmed that our tests pass with the new version. Thank you for the release!

[2022-01-25 08:09] zijianjoy commented on #7158
Thank you @jli for the information. I have tested KFP backend and found that the header has already been `
content-type: text/plain; charset=utf-8` for the logs. I am wondering if your suggestion is to convert response to unicode instead of ascii.

Reference: https://github.com/kubeflow/pipelines/blob/6fac61751b690b09846d0e7f2b657c95be884501/frontend/server/k8s-helper.ts#L243

Feel free to contrib

[2022-01-25 08:16] zijianjoy commented on #7158
Also see Nodejs redirection: https://github.com/kubeflow/pipelines/blob/6fac61751b690b09846d0e7f2b657c95be884501/frontend/server/app.ts#L145

[2022-01-25 16:05] juliusvonkohout commented on #4649
@jacobmalmberg  I am currently preparing everything for the pull request.
Tomorrow i will create deterministic passwords for the per namespace minios and create the pull request. I propose hash(namespace concatenate kubeflow-pipelines-profile-controller secret). What do you think? I did not yet think much about chosen plain text attacks and other stuff. XOR instead of concatenation might be danger

[2022-01-25 16:48] francoisserra opened #7213 "[backend] Executor v2 : incorrect use of 0644 file mask when creating local dirs while retrieving artifacts from object storage ?"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
deployed Kubeflow on a GKE cluster

*  KFP version:

kubeflow v1.4 branch

*  KFP SDK version:

n/a

### Steps to reproduce
We discovered that when local copying Minio artifacts, the Kubeflow Executor V2 creates local dirs with a `0644` mask, preventing the non-root users to access artifact dirs  - and that's the case when using Kani

[2022-01-25 18:36] ca-scribner commented on #4649
My org has some interest in this too and glad to see the progress!  Was there a technical reason for having a separate minio instance for each namespace?  I worry about scalability - some kubeflow deployments have hundreds of users and that will be a lot of individual minios.

I do like the idea of being able to use minio in gateway mode to proxy to another backend store, that would be really help

[2022-01-25 19:24] frederikfab commented on #6986
@lynnmatrix yes please!

[2022-01-25 22:21] mttcnnff opened #7214 "[bug] Bucket param missing when getting pipeline artifacts causing 403 in UI"
### What steps did you take

1. Navigated to view a pipeline in the UI
2. Clicked a component to view details
3. Clicked the "Visualizations" tab
4. Saw 403 responses in the network tab in browser:
![image](https://user-images.githubusercontent.com/17532157/151059268-868b1edc-68d7-4b26-88b1-8d4f38cff8da.png)
5. Port forwarded the `ml-pipeline-ui-artifact` service to `localhost:3000`:
[code]
6. Cop

[2022-01-26 00:39] zamonia500 opened #7215 "[sdk] [question] How can I write test code for the code that uses the sdk?"
/kind question

### Environment

*  KFP version:

*  KFP SDK version:
[code]

*  All dependencies version:
[code]

I implemented a python code to get the list of updated pipeline versions after a certain time offset using kfp.Client .
This code implemented in a way that uses the methods of kfp.Client.

And now I'm trying to test this code, but this code holds bunch of kfp_server_api & kfp.Client m

[2022-01-26 00:45] zamonia500 commented on #7215
/remove-kind bug

[2022-01-26 10:10] juliusvonkohout commented on #4649
What does org mean? Is it an unnecessary abbreviation for organization?

"Was there a technical reason for having a separate minio instance for each namespace?"
Yes, there are multiple reasons.

1. You would need a sophisticated MinIO user and password management.
2. A single large MinIO instance is exactly what? Not horizontally scalable. You would need a distributed MinIO instance.
3. The users

[2022-01-26 12:39] jacobmalmberg commented on #4649
Sounds good, although it doesn't really matter to me. In your PR, have you fixed the metrics output?

I couldn't get it to work with just one instance. When creating the minio instance, user & password has to be specified IIRC. I also tried using a K8 ExternalName service (https://kubernetes.io/docs/concepts/services-networking/service/#externalname), but couldn't get it to work. Perhaps it doesn'

[2022-01-26 12:45] juliusvonkohout commented on #4649
https://github.com/kubeflow/pipelines/pull/7219 feel free to help debug the metrics display issue.

[2022-01-26 14:09] DarioBernardo opened #7220 "[SDK] AttributeError: 'ComponentStore' object has no attribute 'uri_search_template'"
Hi, I am trying to load some prebuit gcp kubeflow components using `kfp.components.ComponentStore`. However I am getting this error:

[code]

when at this line of code:
`mlengine_train_op = component_store.load_component('ml_engine/train')`

### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
I am running this locally.

*  KFP version:
[code]

### Steps to reproduce
[code]

---

Impac

[2022-01-26 18:03] juliusvonkohout commented on #4649
@ca-scribner  feel free to modify https://github.com/kubeflow/kubeflow/blob/c4ca7a9321eeec6bbb5ff2907a96ed82cfae9681/components/profile-controller/controllers/profile_controller.go#L150 according to https://docs.min.io/docs/minio-multi-user-quickstart-guide.html. To be compatible with any S3 storage you need to use the pure S3 APIs, not MinIO specific ones.
This controller must delete the buckets

[2022-01-26 18:10] ca-scribner commented on #4649
That's a very helpful post, thanks!

[2022-01-27 05:24] akshayc11 opened #7224 "[bug] Unable to obtain the output of a graph component for downstream components"
### What steps did you take
In a folder, created the following:
c1.yaml
[code]

c2.yaml
[code]

build_dummy_pipeline.py
[code]

[code]

### What happened:
[code]
### What did you expect to happen:
On running the above python script, I expected the output of the graph component to be passed to c2_op_a and the pipeline to compile successfully.

### Environment:

*  How do you deploy Kubeflow Pipelin

[2022-01-27 07:30] typhoonzero opened #7225 "[feature] Should be able to set _DEFAULT_LAUNCHER_IMAGE using environment variable in notebook pod"
### Feature Area

### What feature would you like to see?

Currently the default launcher image is set using a constant: `sdk/python/kfp/compiler/v2_compat.py:_DEFAULT_LAUNCHER_IMAGE = "gcr.io/ml-pipeline/kfp-launcher:1.8.7"`, however, if we want to use a private registry when launching a pipeline in Kubeflow notebook, we may need to use an environment variable to set this, so that we can just con

[2022-01-27 07:48] jacobmalmberg commented on #4649
@ca-scribner We have sort of the same use case. Although I never tried it, you could probably apply #6658 and then just change the bucket in every namespace with these configmaps:

[code]
It is possible you'll run in to the metrics though.

[2022-01-27 09:54] DarioBernardo commented on #7220
I solved the issue. It looks like there is a bug if you don't set up `uri_search_template` when creating the ComponentStore.
I solved it by providing it as parameter, it doesn't really matter what you pass to the constructor really, but it is required because in the code there is the following
[code]
but if you don't pass something that attribute doesn't get created in the constructor.
I fixed it

[2022-01-28 00:46] chensun commented on #7213
Fixed by the above PR.

[2022-01-28 00:46] #7213 closed

[2022-01-28 00:46] zijianjoy commented on #7196
cc @annajung , looks like this is related to https://github.com/kubeflow/pipelines/pull/6291. Do you have any insight for this issue? Thank you!

[2022-01-28 01:03] zijianjoy commented on #7214
Can you try using Kubeflow 1.4?

Note that the bucket information is specified in https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/env.sh#L44, I am able to use this feature without problem. So there might be some bugs that have been fixed in Kubeflow 1.4.

[2022-01-28 17:30] rganeshsharma commented on #4289
HI @nikhil-dce  did you find teh solution for this issue? please direct me if you know the solution to this issue? I also notice kubeflow controller-manager-6d7b565545-gqc6h POD is continuesly restart and policy is set to Always restart. Do you guys recommend to change policy to Never Restart? Please advise

[2022-01-28 17:47] rganeshsharma opened #7230 "No graph to show in ML Pipeline UI kubeflow 1.3 on Openshift 4.8"
### What steps did you take

No graph to show in ML Pipeline UI kubeflow 1.3 on Openshift 4.8
We have used https://opendatahub.io/docs/kubeflow/installation.html for deploying Kubelfow 1.3

### What happened:
We are unable to get Graph view of the pipeline we see something like "No graph to show"

I have  edited destination rules in Kubeflow ml-pipeline and ml-pipeline-ui and ml-pipeline-visualiza

[2022-01-28 17:50] kimwnasptd commented on #7093
I also bumped into the exact same issue while testing the KF 1.5 RC0 manifests https://github.com/kubeflow/manifests/issues/2099

I think this has definitely something to do with KinD, but I couldn't get to the bottom of it. For me it was:
* KinD cluster with K8s 1.20.7
* `1.8.0-rc.1` commit
* Cert-Manager 1.5

BUT, when testing this with:
* EKS with K8s 1.19
* KFP 1.7.0
* Cert-Manager 1.3.1

Then

[2022-01-30 14:57] NikeNano commented on #6432
As I understand this is now resolved so will close this.

[2022-01-30 14:57] #6432 closed

[2022-01-30 21:05] MStopa commented on #7133
Thank you for your help @chensun . After starting over with `MULTIUSER` set to `false` as suggested in https://github.com/kubeflow/pipelines/issues/7133#issuecomment-1009688565 I had no more authorization errors when using kfp.Compiler, but now I can no longer create, view or select experiments in GUI:

[code]

Please let me know if single-user mode should be still supported in GUI and I will make

[2022-01-31 12:30] wardVD opened #7234 "[components] custom training job from component bug"
### Environment

*  KFP version:
kfp==1.8.10
*  google_cloud_pipeline_components SDK version:
google-cloud-pipeline-components==0.2.2

### Steps to reproduce

1) create a python function based component, e.g.:
[code]
2) import custom job utils in pipeline code:
[code]
Transform component into training job:

[code]

3) Run pipeline:

[code]

### Expected result

The artifact`output_dataset_one` wil

[2022-01-31 17:37] jli commented on #4170
***tl;dr*** One solution could be if KFP supported Argo's ["workflow of workflows"](https://argoproj.github.io/argo-workflows/workflow-of-workflows/) feature, to allow arbitrarily sized workflows. Is there any chance KFP would adopt this? @Ark-kun

some more details:
- My team is running into this again. We'd like to run a large experiment with many sub-models/sub-DAGs, and the **KFP workflow size

[2022-02-01 00:21] ji-yaqi opened #7238 "[SDK] KFP SDK V2 Namespace Plan"
## Background

Previously on **KFP SDK v1.x**, we had two modes of import, signaling two different compilers with different compilation results.

*   <code>import kfp</code> imports KFP v1 and v2-compatible mode compiler
*   <code>import kfp.v2</code> imports KFP v2 mode compiler

Two modes of import are confusing to the users. Although users are in SDK v1.x, they have <code>kfp</code> and <code>k

[2022-02-01 00:27] kvamshi commented on #3763
Deleting the ml-pipeline-persistenceagent is not helping.
Our KFP version is 1.4.1, installed in GCP as part of AI Platform Pipelines

[2022-02-01 00:29] kvamshi commented on #3763
@Bobgy How many is too many workflows ?. It is supposed to scale horizontally. So, what is the bottle next here.
Are you referring to running workflows or even the finished ones ?

[2022-02-01 01:16] Bobgy commented on #3763
cc @zijianjoy @chensun

[2022-02-01 07:38] chensun commented on #3763
Per https://github.com/kubeflow/pipelines/issues/3763#issuecomment-855257690, There was a fix (#5792) for this issue, which was released in 1.7.0.
Can you please try upgrading your development and see if it helps?

[2022-02-01 09:48] meowcakes opened #7241 "[feature] Allow specifying inputs that are ignored by cache"
It would be nice if we could control which inputs are taken into consideration when deciding whether to use cached results or not, e.g. allow setting a boolean flag in an input's definition to tell Kubeflow to ignore it when checking the cache such that if its value changes between runs, the cached output is still used.

The use case is that components may have inputs that do not semantically chan

[2022-02-01 09:50] meowcakes commented on #7241
Duplicate issue

[2022-02-01 09:50] #7241 closed

[2022-02-01 17:21] yingding commented on #7131
I have also the same issue with v2 on KubeFlow Pipelines 1.7.0 with KubeFlow 1.4.0 Manifest On-prem installation.
@chensun Can you elaborate, what do you mean with "non v2 compatible mode"? From `kfp.dsl.PipelineExecutionMode`, there is only `V1_LEGACY`, `V2_COMPATIBLE`. The `V2_ENGINE` just through an error. V1_LEGACY doesn't run kfp.v2.dsl.component. And `V2_COMPATIBLE` mode gives the error in t

[2022-02-01 17:47] jli opened #7242 "[feature] Deduplicate component templates"
### Feature Area

/area sdk

### What feature would you like to see?

I would like the KFP compiler to reuse templates when calling the same component multiple times. In other words, each component only appears as a template once in the `spec.templates` pipeline yaml spec, and called with different input parameters each time they're used.

Currently, each time a component is used in a pipeline, th

[2022-02-01 20:56] kvamshi commented on #3763
We did. It helped. TY !!

[2022-02-03 02:19] calvinleungyk commented on #1744
We have a similar use case where we only want at most 1 concurrent run of an experiment. Did you end up implementing that outside of Kubeflow? @devonkinghorn

[2022-02-03 05:04] burtenshaw opened #7250 "[feature] Use Artifact metadata in a pipeline condition"
### Feature Area

/area sdk

/area components

### What feature would you like to see?

Use the value of a metadata field from an Artifact in a  `dsl.Condition`. For example:

[code]
Or, allow for a component to return both a basic output and an Artifact output. Which would facilitate:

[code]

### What is the use case or pain point?

I have been using the `dsl.Condition` to skip components based

[2022-02-03 09:54] andodet commented on #6848
Stumbled upon this issue after more time I'd like to publicly admit. Passing the port argument as @jagadeeshi2i mentioned did the trick for me.

I am now struggling to set `serving_container_environment_variables` as I think it might be suffering the same problem. I am currently passing env vars to the container in the following way:
[code]
Which produces the following error:
[code]

[2022-02-03 11:16] venkatagedda commented on #7234
Having same issue it is not able to print the log_metric also

[2022-02-03 18:32] devonkinghorn commented on #1744
@calvinleungyk We used AWS codepipeline for that specific job need.

[2022-02-03 23:06] ji-yaqi commented on #6087
Close this since the client is moved to Vertex SDK.

[2022-02-03 23:06] #6087 closed

[2022-02-03 23:07] chensun commented on #6829
Yes, we have a push for documentation refresh in H1 2021.

[2022-02-03 23:11] chensun commented on #7225
Hi @typhoonzero, v2 compatible mode is being deprecated in the next SDK release: https://github.com/kubeflow/pipelines/issues/6829

We would have a similar launcher/driver image for v2. And we plan to version it the same way as we version the rest KFP backend images.
That being said, I'm still interested in why would you want to use use private registry for the launcher image. Are you making custo

[2022-02-03 23:17] chensun commented on #7215
@zamonia500 , can you provide some details on what are you trying to test for? Are you testing a pipeline end to end? or it's more like local unit test for a component's implementation code?

If you're not looking for pipeline e2e test, your code probably shouldn't be bundled with kfp.Client.

[2022-02-03 23:46] ji-yaqi commented on #7230
cc @animeshsingh @Tomcli

[2022-02-03 23:48] zijianjoy commented on #7230
For initial debugging: Can you open Chrome developer tool on your browser to see if there is any error message?

[2022-02-04 00:32] Tomcli commented on #7230
Hi @rganeshsharma, which Openshift kfdef did you use? I remember Kubeflow 1.3 for opendatahub should be single user because the Istio sidecar for multi-user required pod privilege on openshift. So there shouldn't be any `ISTIO_MUTUAL` in the istio virtual services.

[2022-02-04 00:34] Tomcli commented on #7230
It looks like the opendatahub website didn't point to any kubeflow kfdef. @rganeshsharma Did you follow the Openshift instructions on Kubeflow to get the opendatahub kfdef? https://www.kubeflow.org/docs/distributions/openshift/install-kubeflow/#installing-kubeflow

[2022-02-04 00:35] Tomcli commented on #7230
cc @nakfour

[2022-02-04 02:28] #4569 closed

[2022-02-04 07:19] kvamshi commented on #3763
It still is happening occasionally (not sure how often) in 1.7

[2022-02-04 08:26] kvamshi commented on #3763
Here are logs from kube-dns

2022-02-03 02:16:49.025 PSTError while fetching metric descriptors for kubedns: googleapi: Error 503: The service is currently unavailable., backendError
Warning
2022-02-03 04:06:44.906 PSTpkg/mod/k8s.io/client-go@v0.19.12/tools/cache/reflector.go:156: watch of *v1.Service ended with: an error on the server ("unable to decode an event from the watch stream: http2: clie

[2022-02-04 09:13] jacobmalmberg commented on #6949
I have encountered the same stuff. Much like raphael, I'm not sure if it's a bug or not.

[2022-02-04 13:23] AlexandreBrown opened #7257 "[bug] Artifacts and Lineage explorer don't work with KFP SDK V2"
### What steps did you take

1. Install Kubeflow 1.4
2. Create a pipeline with multiple artifacts type to illustrate the issue better (use Input[T] and Output[T])
3. Run pipeline
4. Navigate to the Artifacts page

### What happened:
- No  pipeline workspace and pipeline name is visible.
- All pipeline runs are grouped under this unnamed group
- Lineage explorer is not accessible/visible

![image-1

[2022-02-04 20:43] calvinleungyk opened #7261 "Possible to set max concurrent runs on an experiment?"
Hi folks, we have a use case where we have multiple training model pipelines and one evaluation pipeline. We'd like to block on the evaluation pipeline so that there is no race condition when comparing model performances. e.g. consider the case where model A has much better performance than model B, and model B is slightly better than production model. If we run evaluation pipeline for both model

[2022-02-04 20:44] calvinleungyk commented on #1744
@devonkinghorn is this still desirable/ beneficial to you? I opened #7261 to see if there are recommendations/ if this can be worked on

[2022-02-04 20:48] zijianjoy commented on #6858
It is awesome to see your problem resolved!

[2022-02-04 20:48] #6858 closed

[2022-02-04 20:51] zijianjoy commented on #6901
This is fixed by https://github.com/kubeflow/pipelines/pull/6989. We are planning to make new release for it.

[2022-02-04 23:06] zijianjoy opened #7263 "[release] Backend 1.8.0 tracker"
## Cherry pick PRs

Make sure to cherry pick the following PRs to `release-1.8` branch before making the official release:

- [x] https://github.com/kubeflow/pipelines/pull/7252
- [x] https://github.com/kubeflow/pipelines/pull/7267
- [x] https://github.com/kubeflow/pipelines/pull/7227
- [x] https://github.com/kubeflow/pipelines/pull/7273
- [x] https://github.com/kubeflow/pipelines/pull/7155
- [x]

[2022-02-05 01:51] jli commented on #7242
hm, actually, I think this is a dupe of this older issue which got auto-closed https://github.com/kubeflow/pipelines/issues/4272

[2022-02-05 08:24] chensun opened #7266 "[backend] v1 caching broken in KFP 1.8 release branch"
The root cause is https://github.com/argoproj/argo-workflows/pull/6022 introduced a behavior change that the content of Argo workflow template is no longer logged under `pod.metadata.annotations`, instead it puts the template in container env.

The change was released in Argo workflow [v3.2.0-rc1](https://github.com/argoproj/argo-workflows/blob/master/CHANGELOG.md#v320-rc1-2021-08-19). And https:/

[2022-02-07 01:21] Ark-kun commented on #7169
I fully agree with Yuan's argument.

The way the Experiments <-> Pipeline relationship and Pipeline <-> Version relationship were introduced and implemented was less than ideal. Actually, initially it was significantly worse: The user could not submit a pipeline run without creating an experiment first and specifying the relationship. Fortunately, this was changed after some time. The way the pipe

[2022-02-07 08:19] #7266 closed

[2022-02-07 16:50] andrewmorrison-sky opened #7270 "[bug] No _back_quoted_if_needed(model_name) in bigquery_predict_model_job"
### What steps did you take

Run google_cloud_pipeline_components.experimental.bigquery.BigqueryPredictModelJobOp job on pipeline. Pass in parameter model_name = "\`project.dataset.model\`" WITH BACKTICKS as I did on google_cloud_pipeline_components.experimental.bigquery.BigqueryEvaluateModelJobOp. Pipeline run fails due to error Syntax error: Invalid empty identifier at [1:32].

I can see that th

[2022-02-07 17:57] zijianjoy commented on #7263
One more item to cherry pick: https://github.com/kubeflow/pipelines/pull/7227

[2022-02-07 19:21] yuhuishi-convect opened #7271 "[backend] ml-pipeline deployment readiness probe failed"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? AWS EKS

*  KFP version:  1.2

*  KFP SDK version:  1.2

### Steps to reproduce

### Expected result

### Materials and Reference

<details>
<summary>
The liveness probe of the `ml-pipeline` deployment failed.
</summary>

[code]

</details>

Logs of the pod

[code]

Executing the health check from the pod receives no response

[code]

[2022-02-07 23:49] rui5i commented on #7234
Reproduced the issue and looks like the `executor_output.json` is not generated which is causing the problem.

[2022-02-08 01:00] typhoonzero commented on #7225
Thanks for the reply @chensun , my case is simple, I can't access `gcr.io` in China, so I'm hoping to host the images in a private registry.

[2022-02-08 07:44] jmendesky opened #7274 "[backend] Argo Workflows created for ScheduledWorkflows are missing common metadata"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kustomize

*  KFP version:

1.3.0 - but the same behaviour is present in current versions

*  KFP SDK version:

1.8.10

### Steps to reproduce

- Create a Pipeline run
- Create a Recurring Run for the same pipeline
- Compare `.metadata` of the resulting Argo Workflows

Example created as a single Pipeline run:

[code]

Example creat

[2022-02-08 08:13] #7093 closed

[2022-02-08 23:56] zamonia500 commented on #7215
@chensun , sorry for late reply :(
It's unit test for a client code to get list of pipelines and execute some of it using kfp.Client code.

looks like this

[code]

[2022-02-09 03:24] ak-tanak opened #7283 "The exception is raised when non ascii code characters are passed as a argument to pipeline component."
### What steps did you take

Run the following pipeline example code on notebook to log multi-byte string "あ".

[code]

### What happened:

Following Exception is raised in the pipeline running.

[code]

### What did you expect to happen:
Result should have been completed successfully.

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?
    - Install Kubeflow v1.4.0 with https://gith

[2022-02-09 16:31] davidxia opened #7285 "[frontend] Make JSON structured logs more readable"
### Feature Area

/area frontend

### What feature would you like to see?

Something that makes JSON logs more readable. Perhaps JSON blocks that can be expanded and collapsed.

### What is the use case or pain point?

I use Google Cloud Logging with [JSON structured logs](https://cloud.google.com/logging/docs/structured-logging). Large JSON logs in the Kubeflow log viewer UI aren't very human rea

[2022-02-09 22:43] zijianjoy commented on #7263
Hello Chen, would you mind also picking up this PR? https://github.com/kubeflow/pipelines/pull/7155

[2022-02-09 23:24] #7014 closed

[2022-02-10 10:22] #7119 closed

[2022-02-10 14:56] iuiu34 opened #7294 "[frontend] args sort in ui doesn't follow py-func pipeline"
### Environment
Google vertex

### Deployment
If we define
[code]
Then the UI, doesn't display the args in order (a,b,c,d). In fact, the order seems pretty random (d,a,c,b).
There's any reason behind this?

[2022-02-10 23:40] zijianjoy commented on #7257
Hello @AlexandreBrown , this is fixed in https://github.com/kubeflow/pipelines/pull/6989, you can try any 1.8.0 release candidate, for example: v1.8.0-rc.2 for the KFP backend.

[2022-02-10 23:40] #7257 closed

[2022-02-10 23:45] zijianjoy commented on #7261
/assign @ji-yaqi

[2022-02-10 23:51] zijianjoy commented on #7283
@ak-tanak Hello,

Would you like to use the V1 mode first by removing `kfp.dsl.PipelineExecutionMode.V2_COMPATIBLE` and see whether you are unblocked? V2 compatible is not supported any more. Thank you!

[2022-02-10 23:55] zijianjoy commented on #7274
/assign @ji-yaqi

[2022-02-10 23:56] zijianjoy commented on #7270
cc @IronPan

[2022-02-10 23:57] zijianjoy commented on #7294
Hello @iuiu34 , since it is Vertex Pipelines, you can file Google Support ticket to get more help. Closing it for now as it is not related to kubeflow pipelines.

[2022-02-10 23:57] #7294 closed

[2022-02-11 00:27] AlexandreBrown commented on #7257
@zijianjoy Thanks, is this backend compatible with Kubeflow 1.4 ?

How would I upgrade my kfp backend ?

[2022-02-11 01:21] AlexandreBrown commented on #7257
Thanks @zijianjoy , could you explain how I can test the 1.8.0-rc.2 KFP backend with Kubeflow 1.4.1 manifest? Thanks

[2022-02-11 07:09] robscc opened #7296 "[feature].need support for file list"
### Feature Area

### What feature would you like to see?

i want to merge multi files in one pipeline task,so i need support list[InputPath] such like this

### What is the use case or pain point?

if i have 50 tasks and output 50 files i need write a function with 50 params , it is painfull

### Is there a workaround currently?

i actually write 50 params function

---

Love this idea? Give it a

[2022-02-11 09:16] tzstoyanov commented on #7058
hi @Bobgy  @zijianjoy, can I take this one? I'm looking for a first issue, to get familiar with the code.

[2022-02-11 11:45] jayaswalayush opened #7339 "Component Visualizations are not shown in Run Output"
I have uploaded the metrics_visualization pipeline in the Kubeflow Console and when I invoke a run I am able to see the visualizations yet they are not seen in the run output

![image](https://user-images.githubusercontent.com/59866888/153585818-78748c5d-bfe7-4228-95d5-c79afdd5c13e.png)

![image](https://user-images.githubusercontent.com/59866888/153585857-cda2921e-48b9-4528-b568-e8866fffb993.png)

[2022-02-12 13:00] holadepo commented on #6839
@lightning-like could you please describe what you changed in Istio. I have the same issue.

[2022-02-12 15:11] irabanillo91 opened #7301 "Reuse artifact in different pipeline/run"
My pipeline consists of three components: `dataset_preparation`, `training` and `evaluation`. The first one reads all files in my data lake and generates a dataset artifact (stored to S3) that is used in the following components.

We keep adding new files to the datalake on a daily basis, so by default I want to train on all the data available. Therefore, I don't want to cache that component.

How

[2022-02-14 01:57] ak-tanak commented on #7283
@zijianjoy I try to run the code by removing `kfp.dsl.PipelineExecutionMode.V2_COMPATIBLE` , but same exception is raised.

[code]

[2022-02-14 04:15] terrykong opened #7302 "[feature] Multi-user support for local standalone deployment"
### Feature Area

/area backend

### What feature would you like to see?

I would like to be able to run pipelines in specific namespaces that I have set up as a cluster administrator without having to deploy the full Kubeflow deployment.

### What is the use case or pain point?

Right now, I have followed [these instructions](https://www.kubeflow.org/docs/components/pipelines/installation/localcl

[2022-02-14 15:00] springcoil commented on #5124
Hey just wanted to comment on this to ask if there's any progress? I've a team of researchers and we're interested in using something like DVC in kfp.

[2022-02-14 19:06] zijianjoy commented on #7283
Can you parse the yaml file that is generated by the sample code? Looks like the generated argo workflow format is invalid. It sounds to me a argo workflow issue: https://github.com/argoproj/argo-workflows/

cc @chensun

[2022-02-15 01:37] IronPan commented on #7234
This affects also the output parameters

[2022-02-15 02:06] ak-tanak commented on #7283
Yes.
I try to run the another sample code on notebook to generate the yaml file and run the pipeline.

[code]

But I got same issue. Following exception is raised.

[code]

So I try to run the yaml file on Argo Workflow by Argo CLI.
The pipeline yaml is completed successfully.

[code]

[2022-02-15 07:24] thanhpt55 commented on #4083
@Ark-kun
I have faced the same problem with @GezimSejdiu . Could you share how to solve it. Thanks all.

[2022-02-15 07:59] Bobgy commented on #6160
Non P0 items moved to https://github.com/kubeflow/pipelines/issues/7048

[2022-02-15 08:24] AVShukshin commented on #3412
If someone need - don't ask, it's just working somehow:
[code]
Result: {"<variable_name>": "["result_1","result_2","result_3"]"}

[2022-02-15 09:27] greg-liner commented on #1471
This also works for me. k8s - 1.21.6 and kubeflow - 1.7.1

[2022-02-15 09:39] MaxGrtz commented on #2206
@Ark-kun, @numerology   I am encountering this issue in kfp 1.8.11

I try to pass a dict containing pipeline parameters to a component (as shown by numerology above), but the serialization of the pipeline params does not work.

[code]
where PipelineCLI implements the compile and run subcommands.

even the following minimal example does not work.

[code]

both yield:
[code]

[2022-02-15 09:58] MaxGrtz opened #7310 "[sdk] PipelineParams are not serialized"
### Environment

*  KFP SDK version: 1.8.11 (v2)

This is related to: #2206
I also commented there, but I am not sure if adding a new issue is the better way to go.

I try to pass a dict containing pipeline parameters to a component (as shown by numerology in #2206 ), but the serialization of the pipeline params does not work.

[code]
where PipelineCLI implements the compile and run subcommands.

[2022-02-15 12:12] WangCHX commented on #6588
also affected by this.

[2022-02-15 17:38] #7003 closed

[2022-02-15 18:54] #6687 closed

[2022-02-16 04:06] MaximumQuasar commented on #3405
Hi,

Currently is the assume-role-identity sts (temporary access) supported for the workflow to upload into s3 and is there any reference docs for the same?

By temporary access i mean with access key, secret key & security Token.

[2022-02-16 18:44] ca-scribner commented on #4197
For anyone coming here and wanting a tl/dr on the issue search (some of this is a repeat of @Bobgy's great summary above):

* [Early implementation tracking issue](https://github.com/kubeflow/pipelines/issues/1223): Includes a [design doc](https://docs.google.com/document/d/1R9bj1uI0As6umCTZ2mv_6_tjgFshIKxkSt00QLYjNV4/edit#heading=h.5s8rbufek1ax) from 2019
* [Isolation of pipeline definitions](htt

[2022-02-17 00:23] jli opened #7325 "[sdk] kfp.dsl.RUN_ID_PLACEHOLDER confusion: is this different than Argo's {{workflow.uid}}?"
### Environment

*  KFP version: 1.7.1
*  KFP SDK version: 1.6.2
*  All dependencies version:
[code]

### Steps to reproduce

My team uses `kfp.dsl.RUN_ID_PLACEHOLDER` as a way to reference a particular KFP run. We use this as part of the GCS path for storing artifacts, and we save it in BigQuery in a `kfp_run_id` column.

I wanted to change our system so we use a short version of this ID in some

[2022-02-17 00:27] Bobgy commented on #4197
/cc @zijianjoy

Re SDK changes, it's just python changes, golang clients are auto generated before each release.

[2022-02-17 01:53] calvinleungyk opened #7327 "[feature] Remove custom hash suffix to end of KFP pipeline name in executions"
### Feature Area
/area backend

### What feature would you like to see?

Remove custom hash suffix to end of KFP pipeline name in executions

### What is the use case or pain point?

KFP adds a custom hash to the end of the pipeline name similar to how kubernetes adds a unique suffix to pod names. This makes it hard to query runs and metadata of pipelines after the execution.

### Is there a worka

[2022-02-17 01:57] calvinleungyk opened #7328 "[backend] Only 1 component gets logged into MLMD for some pipeline runs"
### Environment
*  How did you deploy Kubeflow Pipelines (KFP)?
Full Kubeflow deployment
*  KFP version:
1.5
*  KFP SDK version:
1.6.0

### Steps to reproduce
After running several pipelines multiple times, only 1 component gets logged into MLMD for some pipeline runs. This is problematic as we can't query for pipeline artifacts reliably from MLMD.

### Expected result
For every run we expect all

[2022-02-17 01:58] calvinleungyk opened #7329 "[backend] Some executions on Kubeflow MLMD have no values"
### Environment
*  How did you deploy Kubeflow Pipelines (KFP)?
Full Kubeflow deployment
*  KFP version:
1.5
*  KFP SDK version:
1.6.0

### Steps to reproduce
Some output values of Kubeflow MLMD `mlmd.get_executions_by_context(context.id)` ([reference](https://www.tensorflow.org/tfx/ml_metadata/api_docs/python/mlmd/MetadataStore#get_executions_by_context)) just include the field names and no value

[2022-02-17 04:17] Wansh619 commented on #7158
Is this issue still open

[2022-02-17 08:16] chensun commented on #7263
Released: https://github.com/kubeflow/pipelines/releases/tag/1.8.0

[2022-02-17 08:44] yangyang919 commented on #5558
Hi @rado-parrak , may I ask eventually how your team solve this case? We meet the exact same case, and are not quite sure which way to proceed...thanks!

[2022-02-17 09:21] yarnabrina opened #7330 "[feature] allow jobs to fail"
### Feature Area

/area backend

### What feature would you like to see?

_**Allow failure of jobs**_ - If an operation fails, do not fail the pipeline. Allow the pipeline to continue to the next stage, and there it may fail if that does not have the pre-requisites.

### What is the use case or pain point?

In the machine learning pipelines, it is fairly common to run multiple models, or possibly

[2022-02-17 14:16] difince commented on #3360
As endpoint "getPipelineByName" already exists. Is it ok as a follow-up issue to work on adding another endpoint - `deletePipelineByName` ? @Bobgy @zijianjoy

[2022-02-17 15:23] difince commented on #7003
@zijianjoy

Could you clarify what exactly do you mean?
I see this new endpoint could incorporate within the CLI. The command could look like this:
`kfp pipeline get --name NAME`
WDYT?

Is there something else I should consider?

Once I know what is expected to be implemented I will open a dedicated issue about it.

Is this time gone or not yet?

[2022-02-17 20:26] micahjsmith commented on #7028
Hi @ji-yaqi , came across this and was wondering whether there is a way users could find out what are the deprecated aspects of v1 SDK from documentation/library itself. Would you be amenable to a PR that adds docstring updates/deprecation warnings to this function/other deprecated functions?

[2022-02-17 23:13] ji-yaqi commented on #7274
Hi @jmendesky, is there any impact of this missing metadata that we should be aware of?

[2022-02-17 23:18] jli commented on #6189
FWIW, I ran into this issue twice in the past week. Running KFP 1.7.1. I didn't notice any other interesting log messages around this time. Let me know if I can provide more debug info.

log message from `ml-pipelien`:

[2022-02-17 23:26] zijianjoy commented on #7302
Duplicate with https://github.com/kubeflow/pipelines/issues/6314.

Currently we don't have plan to support Multi-user feature in KFP standalone. Please use full Kubeflow if you want to benefit from Multi-user feature.

[2022-02-17 23:26] #7302 closed

[2022-02-17 23:36] chensun commented on #7329
Can't tell if anything was wrong without seeing the pipeline/component code, it appears to me that the value here is a json serialized list of string.

[2022-02-17 23:40] chensun commented on #7296
Can't you use `list[str]`?

[2022-02-17 23:54] chensun commented on #7184
I'm not sure whether it's even possible. The yaml file you're tinkering with is an Argo workflow template. Maybe reach out to them to see if it's a supported scenario?

[2022-02-17 23:56] Bobgy commented on #6189
Thank you! Did this cause any problems for you @jli ?

/cc @chensun

[2022-02-18 00:01] jli commented on #6189
It was just confusing, and caused some delay for me.

I launched a workflow, then came to check on it hours later, but found that it hadn't run.

The run details page wouldn't load (constant spinner over the dag part of the page). I checked the experiment page, and my run was there but with a grey question mark status icon. When I looked at workflow objects on k8s, I couldn't find anything.

[2022-02-18 00:04] chensun commented on #7310
This is expected. The basic building blocks for a pipeline are components and dsl features like `dsl.Condition`, `dsl.ParallelFor`, etc. You should avoid having arbitrary Python code like `dict(foo=test)`, they are non-containerized code that won't be executed at pipeline runtime.
Consider using a component instead. For example:

[code]

[2022-02-18 00:04] #7310 closed

[2022-02-18 00:08] chensun commented on #7301
To reuse an existing artifact, you could use an `importer` that imports an artifact with a given path. For example,
https://github.com/kubeflow/pipelines/blob/a9f18fe985016ba9c1cbb24665d2b173797c91ec/sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_importer.py#L50-L55
This currently only works on Vertex Pipelines, but we will support it in Kubeflow Pipelines backend in the near future.

[2022-02-18 00:15] chensun commented on #7330
Making it configurable sounds fine to me.

A possible workaround for now, albeit hacky, you could put your training into an exit handler task. In that case, it would run regardless whether the upstream tasks succeed or not.

[2022-02-18 00:19] chensun commented on #7327
There needs to be some unique name, otherwise, if you run a pipeline multiple time, how would we differentiate them?

This feels a reasonable pattern to me. Otherwise, I guess you're looking for a filtering by partial match query? You would still need to have a way to pick one from the filtered list in case there are multiple matches.

[2022-02-18 00:23] chensun commented on #7328
In v1, the metadata logging is done in an async way. There could be a number of reasons if you have missing MLMD.

KFP 1.5 is relatively old, there's an chance there were bugs being fixed in the later version. Could you please try using the latest KFP release?

[2022-02-18 00:58] chensun commented on #7250
The feature request sounds reasonable.

[2022-02-18 07:57] MaxGrtz commented on #7310
@chensun thanks for the feedback.
This seems to me to be quite a limitation though.
One would need to create such a component for every dict one wants to pass.
a similar case is using string valued parameters in fstrings or concatenation.
Moreover this clutters the graph with uninteresting operations.

I agree that functional stuff has to happen inside of components, but combining parameters shoul

[2022-02-18 08:04] irabanillo91 commented on #7301
Nice! So in order to skip the execution of the first component based on the given uri, I think something like this might work?

[code]

One thing that is slightly annoying is that the name of the artifact is hard-coded (see [here](https://github.com/kubeflow/pipelines/blob/a9f18fe985016ba9c1cbb24665d2b173797c91ec/sdk/python/kfp/v2/components/importer_node.py#L62)), so it's always set to ['artifact

[2022-02-18 09:45] difince opened #7334 "[feature] Add deletePipelineByName endpoint"
### Feature Area
/area backend

### What feature would you like to see?
Add new endpoint - deletePipelineByName

In the case of Pipeline standalone:
`/apis/v1beta1/namespaces/-/pipelines/{name}`

In the case of full-fledged deployment:
`/apis/v1beta1/namespaces/{namespace}/pipelines/{name}`

### What is the use case or pain point?
Simplify user experience and keep consistent with other tools like

[2022-02-18 10:39] jayaswalayush commented on #6912
@zijianjoy : Please can you provide an update on this issue https://github.com/kubeflow/kubeflow/issues/6346

[2022-02-18 11:39] difince opened #7335 "[feature] When restoring an Experiment, add an option to restore all of its Runs"
### Feature Area

/area frontend

### What feature would you like to see?
When restoring an experiment, a popup should show 3 options for the user to choose: `Cancel`, `Restore Experiment` and `Restore Experiment and All Runs`.
`Restore Experiment` needs to be highlighted because that is the default behavior.

### What is the use case or pain point?
see this [comment](https://github.com/kubeflow/p

[2022-02-18 11:58] jmendesky commented on #7274
@ji-yaqi we use this metadata in our automation which reacts to finished pipeline runs. This automation is currently broken.
In general, I think this inconsistency can lead to more potential problems to more users if they rely on this metadata being present.

[2022-02-18 14:57] ca-scribner commented on #4197
Oh great! so something like the api behind [this call](https://github.com/kubeflow/pipelines/blob/14017cced610eb289eaaba858df1183d168549ef/sdk/python/kfp/_client.py#L1299) does have the ability to accept namespace once things are regenerated?

[2022-02-18 17:26] casassg commented on #7328
@chensun we are actually on 1.7.0 (aka default version for KF 1.4 distribution).

Is there any pointers as to what and how KFP does log information into MLMD?

[2022-02-18 23:28] zijianjoy opened #7336 "[backend] Use `default-editor` as serviceAccountName in multi-user mode"
### Environment

This is an issue I found with KFP backend 1.8.0 on Full fledged Kubeflow.

### Steps to reproduce

Run a KFP pipeline on full Kubeflow, the error is

[code]

### Materials and Reference

We are always using the `pipeline-runner` service account in this file: https://github.com/kubeflow/pipelines/blob/3e734ed19146f569e910f75627d12239ec2e86dc/backend/src/apiserver/template/template.

[2022-02-18 23:28] zijianjoy commented on #7336
cc @chensun @Bobgy

[2022-02-19 00:15] zijianjoy commented on #7336
I think the fix should be:

[code]

[2022-02-19 06:47] #7263 closed

[2022-02-19 06:50] chensun opened #7338 "[release] Backend 1.8.1 tracker"
Need to cherry-pick the following PRs to release-1.8 branch before making the official release:

- [x] https://github.com/kubeflow/pipelines/pull/7337

[2022-02-19 06:50] chensun commented on #7338
/cc @zijianjoy

[2022-02-19 10:44] rado-parrak commented on #5558
Hi @yangyang919, we actually did not solve it at the time. I left the project a couple of months ago, so I do not know if there was a resolution later. Sorry for being a dead end.

[2022-02-19 22:52] AlexandreBrown commented on #7301
@chensun Until it is supported in Kubeflow should we use simple `str` type for the dataset url and load it ourselves?

[2022-02-20 00:23] zijianjoy commented on #7339
Hello @jayaswalayush , I have moved this issue to kubeflow pipelines repository.

Indeed the `Run Output` for showing all visualizations is not implemented yet for V2. This is on our radar and we are planning to start working on it once we have built KFP v2.0.0-alpha.

[2022-02-20 00:48] zijianjoy commented on #6912
I think we need to make some design decision in order to support this feature on KFPv2. It will be very helpful if you can provide information like this:

1. What kind of metrics do you want to show on RunList? (For example: accuracy, roc score)
2. How do you want to export these metrics in your pipeline? (For example: create a component with a fixed name that generates parameters from #1.)
3. How

[2022-02-20 04:38] yarnabrina commented on #7330
Hi @chensun, thanks for taking this. Would be very nice to have this.

Regarding the workaround you suggested, can you please give some more details? I did find about `kfp.dsl.ExitHandler` before,  but there doesn't seem to be much documentation and/or examples online,  and in my attempts I failed to apply an exit task for a few specific operations, as it complained that it has to be global for al

[2022-02-20 07:49] irabanillo91 commented on #7301
I think it's not straight-forward, or at least I haven't been able to come up with an efficient way. I believe you can't convert the `str` to `Dataset` in the pipeline definition (that'd be executed at compilation time, not runtime). So the only way I can think of is inside the component. If the URI is passed, the component assigns it to the `Output[Dataset]` and skips the rest of the component lo

[2022-02-20 08:10] irabanillo91 opened #7340 "[feature] Parametrize pipeline using current date and time"
Is there any way to parametrize a pipeline with current date and time? I'd like to do something like

[code]

By default I want to set that input argument to the datetime when the pipeline is run. However, for reusability purposes, I'd also like to be able to set it manually (pointing to a previous run). I can go into further details of why I want to do this if needed.

Any way I can achieve this?

[2022-02-20 14:19] AlexandreBrown commented on #7301
@irabanillo91 I meant to simplify ditch the `Dataset` object all together and only use its path to download it in a Download Component then you share the PVC with other components and you're good to go. Other components can receive the local path as input.

[2022-02-20 17:38] irabanillo91 commented on #7301
So it'd be something like this?

[code]

If `dataset_uri` is empty, it will run the component and store the dataset locally. If `dataset_uri` is provided instead, it downloads it and skips component execution. It just requires ensuring `DATASET_PATH` is visible across components.

Not ideal since it doesn't leverage Kubeflow abstractions for artifacts handling. It requires manually uploading/downl

[2022-02-21 00:18] b02202050 commented on #6880
Hi @arunnalpet, I encountered this problem too, and I resolved as follows.

[code]

Hope this helps.

*Rerference: https://stackoverflow.com/a/63806311*
*As for why medium is set to **Memory** is described [here](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir)*

[2022-02-21 02:45] lc-billyfung commented on #6981
any update on this? I am encountering something similar with using the output of Vertex AI model upload, so I have a `google.VertexModel` that does not match `Input[Model]` in a python component.

[2022-02-21 06:10] robscc commented on #7296
so i put the content to str? that would make pod yaml too large to apply into k8s cluster

[2022-02-21 08:55] yangyang919 commented on #5558
Hi @Bobgy , could you point me where I can find this setting? Coz I found the model still gets compressed after pipeline running

[2022-02-21 10:33] thanhpt55 commented on #2685
Hi @Ark-kun, When I created a DatabricksStep with existing_cluster_id (with valid cluster-id), pipeline had failed without any error. Cluster logs do not indicate anything. Same step without a cluster-id works (creating a new job cluster).
Status Run in kubeflow:
`Name:         databricksrun-m7bf7
Namespace:    develop
Labels:       <none>
Annotations:  <none>
API Version:  databricks.microsoft.co

[2022-02-21 12:43] mikwieczorek opened #7341 "[feature] System utilization for the pipeline and its steps"
### Feature Area
Not sure

### What feature would you like to see?

Logging of system utilization to KFP metrics. Pipeline statistics of CPU/RAM/GPU usage over the course of pipeline run could be helpful in experiment comparison from performance point of view.
Example how the final results could look like when plotted nicely [wandb-example](https://wandb.ai/borisd13/char-RNN/runs/cw9gnx9z/system )

[2022-02-21 13:23] arunnalpet commented on #6880
Thanks @b02202050 .. let me try this out, and will close the issue subsequently..

[2022-02-22 05:32] zijianjoy commented on #7338
Thank you Chen for handling this patch release! By learning from this experience, it is better to do a Kubeflow validation next time before cutting an official release. After this PR is merged, would you like to make a RC release for v1.8.1 first, which allows me to do a full validation on Kubeflow, then make an official release? Thank you!

[2022-02-22 07:34] #7336 closed

[2022-02-22 08:23] yangyang919 opened #7343 "[feature][question]When output artifacts, is there a way to disable compression?"
We have one kubeflow pipeline to train a model and then output a model to Minio storage. Then we are using KServe to fetch the model from Minio and deploy it. But by default, the model is compressed as tgz file in Mino, which makes KServe couldn't load the model.
Any guidance on how to solve this? Thanks!!!

[2022-02-22 19:02] chensun commented on #7338
@zijianjoy 1.8.1-rc.0 is out: https://github.com/kubeflow/pipelines/releases/tag/1.8.1-rc.0
You can test it in full fledge Kubeflow now. Thanks!

[2022-02-22 20:37] annajung commented on #7196
It's been a while since I worked on the issue, so I'm getting caught up. Taking a look at this issue this week and hope to have an update PR.

/assign @annajung

[2022-02-23 10:23] SaschaHeyer commented on #3412
I agree with @reem having the possibility for List[InputPath(X)] would solve the issue.
@Ark-kun any feedback, something where we can support? More input needed?

[2022-02-23 11:05] SaschaHeyer commented on #1933
This feature request is closely related to https://github.com/kubeflow/pipelines/issues/3412
Are there any updates on that this is a request I have seen already multiple times.

[2022-02-23 12:43] skogsbrus opened #7345 "[sdk] Can't use create_component_from_func with pip packages when running as non-root"
### Environment

*  KFP version: 1.7 (KF 1.4)
*  KFP SDK version: 1.6.6
*  All dependencies version:

[code]

### Steps to reproduce

Background:

* Due to security concerns it's a bad idea to run containers as root.
* For composability and maintenance, it's a good idea to define small & modular KFP components.

With this in mind, I wish to report that `create_components_from_func` does not work a

[2022-02-23 13:04] k-gupta opened #7346 "[components] Google Cloud Custom Job missing option in create_custom_training_job_op_from_component"
Looks like option reserved_ip_ranges is missing in create_custom_training_job_op_from_component() in utils. It was only added to  components.yaml.

[2022-02-23 17:56] zijianjoy commented on #7271
May I ask which Kubernetes version you are deploying to? Similar post: https://github.com/kubernetes/kubernetes/issues/106111

[2022-02-23 18:52] clausagerskov opened #7347 "GCP Vertex AI, deploying model to existing endpoint"
### Feature Area

/area sdk
/area components

I currently have a simple pipeline that deploys to Vertex AI that takes an existing model container image from Artifact Registry, uploads it to the Vertex AI model store, creates an endpoint and deploys the model to that endpoint. So far so good.
Now say I have a new revision of that model and I want to deploy that to the same endpoint with a 50/50 tra

[2022-02-24 15:42] kbegiedza commented on #6880
Adding @b02202050 code results in `This step is in Error state with this message: OOMKilled (exit code 137)` after training step in `wait` container.

[2022-02-24 23:47] zijianjoy commented on #7341
This is similar to https://github.com/kubeflow/pipelines/issues/6336. You can try deploying Prometheus and expose run metrics to there.

[2022-02-25 00:06] zijianjoy commented on #7335
Hello @difince , thank you for filing this request. I am wondering what is the use case for restoring all the runs inside an experiment?

I am assuming the archived runs are something people don't usually visit. I might lack some knowledge on why people would want to massively restore all the runs.

[2022-02-25 08:43] grobbie commented on #4197
Basically for the front end iis it a matter of transplanting code like this:

https://github.com/kubeflow/pipelines/blob/0c0e4b61050e6fea6f20dd35e14eb3edc214bbba/frontend/src/pages/ExperimentList.tsx#L203-L204

and this:

https://github.com/kubeflow/pipelines/blob/0c0e4b61050e6fea6f20dd35e14eb3edc214bbba/frontend/src/pages/ExperimentList.tsx#L291-L294

Into the pipeline screens:
https://github.com

[2022-02-25 13:01] clausagerskov commented on #7347
okay so in other words its not supported using the google_cloud_pipeline_components library?

[2022-02-25 14:00] clausagerskov commented on #7347
@lc-billyfung how do i access that endpoint then as an output of the custom component, in case i want to deploy a newly uploaded model that i therefore do not have the id of?

[2022-02-25 14:14] clausagerskov commented on #7347
nope, does not solve the problem. to be able to do this i need to either
a) Pass a google.cloud.aiplatform.Endpoint to the google_cloud_pipeline_components.aiplatform.ModelDeployOp which is not supported ( Input argument supports only the following types: PipelineParam, str, int, float, bool, dict, and list). Need to somehow pass the endpoint as a string or convert to pipelineparam.
b) Get the mod

[2022-02-25 22:01] zijianjoy commented on #7338
Confirming that this release candidate is working on Full Kubeflow, we can cut official version now. Thank you Chen!

[2022-02-26 06:27] #7346 closed

[2022-02-26 08:34] chensun commented on #7338
Released: https://github.com/kubeflow/pipelines/releases/tag/1.8.1

[2022-02-27 11:48] vamshi-rvk opened #7356 "Best data versioning tool/framework with kfp for seamless integration."
Hi, our team has started implementing kfp for mlops, and we are researching on best methods to data version. We primarily work on **images** but not limited to it. Which would be the best data versioning framework which works along with kfp with seamless integration and featureset.

[2022-02-28 09:16] vgmartinez opened #7358 "[bug] Component input "project_id" with type "GCPProjectID""
### What happened:
I getting this error when use the Dataproc component, there is a way to pass the project_id like a string?

[code]

Best regards,
Victor

[2022-02-28 15:51] difince commented on #7335
Hi @zijianjoy
Could you take a look on these comments ( the first one is written by you) - [comment_1](https://github.com/kubeflow/pipelines/issues/5114#issuecomment-777735817) and [comment_2](https://github.com/kubeflow/pipelines/issues/5114#issuecomment-777932647)

I have already created a [PR](https://github.com/kubeflow/pipelines/pull/7147) about number 3:

So as a follow-up, I was thinking to

[2022-02-28 15:58] difince commented on #7335
I just checked the backed and I saw that there is no "bulk" archive/unarchive Runs endpoint.
So if we decide to implement the feature - do do you think of adding such a "bulk" endpoints.
[code]
WDYT ?

[2022-02-28 22:34] emenendez opened #7361 "[backend] "Signal command failed: command terminated with exit code 1" when terminating a pipeline"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?: As part of a full Kubeflow 1.4 deployment on GKE.
*  KFP version: 1.7.0, packaged with Kubeflow 1.4
*  KFP SDK version: N/A

### Steps to reproduce

1. Create a new pipeline run.
2. Click the "Terminate" link in the KFP web UI.
3. Observe that the currently-running pod runs to completion before termination.

### Expected result

In

[2022-03-01 00:57] lc-billyfung commented on #7347
Yeah it's not supported using the library currently, only way I've found to do it is with a custom component, something like:

[code]

[2022-03-01 11:50] clausagerskov commented on #7347
@lc-billyfung this doesnt work either. the problem is that we are mixing google.cloud.aiplatform with google_cloud_pipeline_components.aiplatform.
You have defined your custom op to take a kfp.v2.dsl.Model as input but then you pass it a google.VertexModel which is incompatible.

[2022-03-01 11:56] clausagerskov commented on #7347
I see you from this issue https://github.com/kubeflow/pipelines/issues/6981 that know that this is a problem so do you actually have a working example?

[2022-03-01 11:56] clausagerskov commented on #6981
same problem

[2022-03-01 13:10] clausagerskov commented on #7347
@lc-billyfung it seems your code was close enough for me to get it working with some minor modifications. scrolling through the other issues in the repo i found a mention of this command ".ignore_type()". using that, with a small correction to your str split and the pipeline deploys:

[code]

[2022-03-01 13:11] clausagerskov commented on #6981
try this:
[code]

[2022-03-01 18:35] Linchin opened #7363 "[backend] Error running xgboost_training_cm.py"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?   GCP marketplace

*  KFP version:  1.7.1

*  KFP SDK version:

[code]

### Steps to reproduce

Follow the steps given in the following link to deploy `xgboost_training_cm.py`
https://github.com/kubeflow/pipelines/tree/master/samples/core/xgboost_training_cm

### Expected result

There shows an error with `dataproc-create-cluster` (t

[2022-03-01 22:51] chensun commented on #6685
Fixed by https://github.com/kubeflow/pipelines/pull/7364

[2022-03-01 22:51] #6685 closed

[2022-03-02 07:29] zijianjoy commented on #7335
Hello @difince , thank you for the reference. I tend to agree that this feature is good-to-have after [comment 2](https://github.com/kubeflow/pipelines/issues/5114#issuecomment-777932647). But if you are interested in implementing this API, then I am happy to support it. The API proposal sounds good to me:

[code]

[2022-03-02 07:31] zijianjoy commented on #7338
Appreciate the release! @chensun

[2022-03-02 07:31] #7338 closed

[2022-03-02 11:00] #6885 closed

[2022-03-02 11:19] difince opened #7368 "[backend] DeletePipeline does not clean PipelienVersions data from Minio"
When a Pipeline has Pipeline Versions for each version there is a record in the Object Store (Minio). On delete Pipeline all the records (Pipeline and its Versions) are deleted from the database(MySQL), but not all are deleted from Minio. Minio records for Pipeline Versions are not deleted.

### Environment
Linux Ubuntu - 20.04.3 LTS
kind v0.11.1 go1.16.4 linux/amd64
kustomize version: {KustomizeV

[2022-03-02 11:47] gabrielmbmb opened #7369 "[feature] Create parent directories of `output_component_file`"
### Feature Area

/area sdk

### What feature would you like to see?

I would like `output_component_file` file hierarchy to be created i.e. create parent directories if they do not exist. The example below raises `FileNotFoundError` because the parent directories do not exist.

**Code example:**
[code]

**Traceback:**
[code]

### What is the use case or pain point?

Kubeflow SDK will try to gener

[2022-03-02 12:16] difince opened #7370 "[feature] Add an endpoint that restore experiment and its runs at once"
### Feature Area

/area backend

### What feature would you like to see?
Add an endpoint that restores Experiment and all of its Runs at once

```/apis/v1beta1/experiments/{id}/runs:unarchive```

### What is the use case or pain point?
Provide an option to the user to restore an Experiment and all of its Runs in a single click.
For more context took a look at this comment - https://github.com/kube

[2022-03-02 12:16] marrrcin commented on #7330
This is related to https://github.com/kubeflow/pipelines/issues/6749

General workaround is to always return status code 0 from the pipeline steps and e.g. return some output (e.g. a string `OK` or `FAIL`) instead, which can be chained together with `dsl.Condition` to verify whether to continue the pipeline or not in a specific branch of the `ParallelFor`.

**This workaround does not cover the ove

[2022-03-02 13:29] difince commented on #7368
/assign @difince

[2022-03-02 21:47] zijianjoy commented on #5714
Kubeflow Pipelines backend v1.8.1 has released. We have switched to Emissary Executor by default. Therefore you can use KFP on K8s 1.19 or above without further configuraiton.

[2022-03-02 21:47] #5714 closed

[2022-03-02 21:50] #5666 closed

[2022-03-02 22:39] greggdonovan commented on #7363
Thank you! Should we see an update to the GCR image for [ml-pipeline-gcp](https://console.cloud.google.com/gcr/images/ml-pipeline/GLOBAL/ml-pipeline-gcp)?

Are we sure the dataproc client is fixed? I don't see anything that calls [_create_client](https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/component_sdk/python/kfp_component/google/dataproc/_client.py#L26). It seems l

[2022-03-02 23:37] Bobgy commented on #6204
/lifecycle freeze

[2022-03-02 23:39] #3821 closed

[2022-03-02 23:39] Bobgy commented on #6517
/lifecycle frozen

[2022-03-02 23:43] Bobgy commented on #5718
Fixed by https://github.com/kubeflow/pipelines/pull/7137

[2022-03-02 23:43] #5718 closed

[2022-03-03 00:05] liguodongiot commented on #6118
你好,我是李国冬，我已收到你的邮件，我会尽快给您回复。

[2022-03-03 03:05] #3051 closed

[2022-03-03 03:05] #5851 closed

[2022-03-03 03:05] #5831 closed

[2022-03-03 03:05] #5548 closed

[2022-03-03 03:05] #5533 closed

[2022-03-03 03:05] #5453 closed

[2022-03-03 03:05] #5841 closed

[2022-03-03 03:05] #5809 closed

[2022-03-03 03:05] #5839 closed

[2022-03-03 03:05] #5534 closed

[2022-03-03 03:05] #5484 closed

[2022-03-03 03:05] #4079 closed

[2022-03-03 03:05] #4399 closed

[2022-03-03 03:05] #5681 closed

[2022-03-03 03:05] #5872 closed

[2022-03-03 03:05] #5848 closed

[2022-03-03 03:05] #5881 closed

[2022-03-03 03:05] #5895 closed

[2022-03-03 03:05] #4701 closed

[2022-03-03 03:05] #5913 closed

[2022-03-03 03:05] #5907 closed

[2022-03-03 03:05] #5902 closed

[2022-03-03 03:05] #5901 closed

[2022-03-03 03:05] #5900 closed

[2022-03-03 03:05] #5868 closed

[2022-03-03 03:05] #5381 closed

[2022-03-03 03:05] #5933 closed

[2022-03-03 04:05] #5951 closed

[2022-03-03 04:05] #5921 closed

[2022-03-03 04:05] #5917 closed

[2022-03-03 04:05] #5967 closed

[2022-03-03 04:05] #5801 closed

[2022-03-03 04:05] #5687 closed

[2022-03-03 04:05] #1075 closed

[2022-03-03 04:05] #5757 closed

[2022-03-03 04:05] #5519 closed

[2022-03-03 04:05] #5602 closed

[2022-03-03 04:05] #5700 closed

[2022-03-03 04:05] #5765 closed

[2022-03-03 04:05] #2829 closed

[2022-03-03 04:05] #5745 closed

[2022-03-03 04:05] #5758 closed

[2022-03-03 04:05] #5741 closed

[2022-03-03 04:05] #5762 closed

[2022-03-03 04:05] #5774 closed

[2022-03-03 04:05] #4624 closed

[2022-03-03 04:05] #4812 closed

[2022-03-03 04:05] #5529 closed

[2022-03-03 04:05] #5706 closed

[2022-03-03 04:05] #5109 closed

[2022-03-03 04:05] #5620 closed

[2022-03-03 04:05] #5659 closed

[2022-03-03 04:05] #5493 closed

[2022-03-03 04:05] #5664 closed

[2022-03-03 04:05] #5496 closed

[2022-03-03 04:08] vinayan3 commented on #6204
So after more than 6 months of running the configuration with replica > 1 there hasn't been any issues.

Also, for argocd workflows the controller may not need to be run with more than replica / sharded unless there is huge number of workflows. The pod gracefully restarts on other nodes and is able to pick up work where it left it off.

Would there be interest in creating an overlay for HA?

[2022-03-03 06:05] #5651 closed

[2022-03-03 06:05] #4469 closed

[2022-03-03 06:05] #5576 closed

[2022-03-03 06:05] #5692 closed

[2022-03-03 06:05] #5672 closed

[2022-03-03 06:05] #3236 closed

[2022-03-03 06:05] #5728 closed

[2022-03-03 06:05] #5703 closed

[2022-03-03 06:05] #5617 closed

[2022-03-03 06:05] #5590 closed

[2022-03-03 06:05] #5754 closed

[2022-03-03 06:05] #5755 closed

[2022-03-03 06:05] #4660 closed

[2022-03-03 06:05] #1697 closed

[2022-03-03 06:05] #4795 closed

[2022-03-03 06:05] #5506 closed

[2022-03-03 06:05] #5521 closed

[2022-03-03 06:05] #5474 closed

[2022-03-03 06:05] #5483 closed

[2022-03-03 06:05] #5178 closed

[2022-03-03 06:05] #4876 closed

[2022-03-03 06:05] #4809 closed

[2022-03-03 06:05] #5282 closed

[2022-03-03 06:05] #5269 closed

[2022-03-03 06:05] #5503 closed

[2022-03-03 06:05] #5505 closed

[2022-03-03 06:05] #5507 closed

[2022-03-03 06:05] #4175 closed

[2022-03-03 06:05] #4637 closed

[2022-03-03 07:55] LEDfan commented on #3398
Hi, please re-consider to add support for this.
In the meantime the minio-js client also got support for IRSA: https://github.com/minio/minio-js/pull/960 I don't think it's already part of a release, but hopefully the JS parts of Kubeflow can be updated as well somwhere soon.
Thanks!

[2022-03-03 10:08] juliusvonkohout commented on #5138
stalebot this is still relevant

[2022-03-03 21:12] droctothorpe commented on #6792
@capri-xiyue is there active development on this feature currently? We were thinking of trying to contribute it upstream.

[2022-03-03 23:24] zijianjoy commented on #7335
Hello @difince , I have got an update from the team yesterday. We start to suggest everyone making design proposal for review, for any API related changes. If you are going to work on this item, would you like to put together a doc to describe the new API? Then we can discuss it in the Kubeflow Pipelines Community meeting.

[2022-03-03 23:38] zijianjoy commented on #7361
/assign @chensun

[2022-03-03 23:40] zijianjoy commented on #7356
/assign @connor-mccarthy

[2022-03-03 23:43] ckchow commented on #7224
It looks like maybe https://github.com/kubeflow/pipelines/blob/6965dbac2faee0411fc0ca9565fd9a9d7ef8e2bf/sdk/python/kfp/dsl/_component.py#L148 is missing assigning graph_ops_group.outputs when it assigns inputs and arguments. I would love to contribute a fix but it's not clear to me where to add a unit test for this.

[2022-03-03 23:45] connor-mccarthy commented on #7356
@vamshi-rvk, thanks for your question.

`kfp` does not natively support or integrate with any data versioning tools/frameworks, but [`dvc`](https://dvc.org/) is a popular open-source data version control system used in many MLOps workflows, including those that work with image data. I recommend you see if this service meets your needs.

[2022-03-03 23:49] zijianjoy commented on #7370
Hello @difince , can you write a design proposal and discuss it in a KFP community meeting? So we can have a chance to discuss how it fits user's need and how to implement the new APIs.

[2022-03-03 23:52] zijianjoy commented on #7369
/cc @ji-yaqi

[2022-03-03 23:54] zijianjoy commented on #7368
/cc @chensun

[2022-03-03 23:56] zijianjoy commented on #7358
/cc @chensun

[2022-03-03 23:58] ji-yaqi commented on #7369
Hi @gabrielmbmb, thank you and you can contribute this branch https://github.com/kubeflow/pipelines/tree/sdk/release-1.8 for SDK v1 changes. We might have some changes in v2 for this output file.

[2022-03-04 02:38] mbaijal commented on #4843
Hi @SirBubbls,
I am seeing an issue similar to yours and was wondering what the fix was for you ?

Thanks,
Meghna Baijal

[2022-03-04 08:07] jmendesky commented on #5881
any news on this?

[2022-03-04 13:44] jordyantunes commented on #6116
I found a somewhat hacky solution to this problem. I'm using Kubeflow's `Executor` class (which is the one used by function-based components) to easily instantiate the Artifact objects. I could iterate through `executor_input` and create all the objects myself, but I think it's a lot more convenient to use `Executor`, even if I'm not using it for what is was designed.

You need to include `{execut

[2022-03-04 23:00] jtanios commented on #5846
Can we re-open this issue? How can we authenticate a kfp client dynamically?

[2022-03-05 00:37] ji-yaqi commented on #7238
Fixed by https://github.com/kubeflow/pipelines/pull/7376 and https://github.com/kubeflow/pipelines/pull/7291

[2022-03-05 00:38] #7238 closed

[2022-03-05 13:20] rahuja23 opened #7378 "ValueError: Invalid value for `image_pull_policy` (None), must be one of ['Always', 'IfNotPresent', 'Never']"
*  KFP version:
kfp                      1.8.11
kfp-pipeline-spec        0.1.13
kfp-server-api           1.7.1

I am trying to create a Kubeflow pipeline using python SDK v2 and when I am trying to run the code on the pipeline I am getting "Image_Pull_Policy"  error.

[code]

This is the error that I am getting:
<img width="1573" alt="Screen Shot 2022-03-05 at 14 15 36" src="https://user-images.gi

[2022-03-07 03:59] zijianjoy opened #7379 "Update the feature flags in localStorage if the new version has more feature flags than the stored one"
## Description

Currently, we have a hidden page which allows user to enable/disable features which are under development. The URL path is `<KFP_HOST_ADDRESS>/frontend_features`. We call it Feature Flag page, refer to [Large features development](https://github.com/kubeflow/pipelines/tree/master/frontend#large-features-development) documentation.

## Problem

Currently, if the feature flag map cal

[2022-03-07 08:20] marrrcin commented on #7330
@yarnabrina , @chensun I've created a pull request implementing this behaviour - I would really appreciate your feedback on that [https://github.com/kubeflow/pipelines/pull/7373](https://github.com/kubeflow/pipelines/pull/7373).

[2022-03-07 16:00] skogsbrus commented on #7345
With KFP 1.8.11 (compared with 1.6.6) the `_get_packages_to_install_command` has unfortunately been refactored to be performed inline in _func_to_component_spec, making this much harder to monkeypatch.

[2022-03-07 20:27] AlexandreBrown opened #7381 "[feature] Add the ability to decide if we an Artifact should be uploaded to remote"
### Feature Area

 /area frontend
/area backend
/area sdk

### What feature would you like to see?
I would like to be able to decide if a component Output/Input should be uploaded to the remote or not.

We could add a flag to the kfp sdk `shouldUploadArtifactsToRemote` that controls this for a specific artifact input/output.
### What is the use case or pain point?
The use case is that we have huge

[2022-03-07 22:15] chensun commented on #7363
@greggdonovan You're spot on. Please feel free to send a PR for the fix since you discovered it. Or I can do it as well if you wish.

Regarding the release of the ml-pipeline-gcp images. This set of components is actually being deprecated: https://github.com/kubeflow/pipelines/tree/master/components/gcp/dataproc#readme

We might still release an updated image with our next KFP release. But our goa

[2022-03-07 22:27] hilcj opened #7382 "[PROPOSAL] A Generic Protocol for Kubeflow Pipeline Template Registry"
## Introduction

We are working on a generic protocol design of Kubeflow Pipeline Template Registry.

At high level, the protocol will define the generic APIs between KFP SDK client and a template registry server to
 - upload and download template (as YAML file or ZIP), and
 - organize templates as versioned objects.

Then, KFP SDK will implement a registry client class that can work with any regi

[2022-03-09 00:14] Erin-Servian opened #7389 "[bug] google_cloud_pipeline_components ModelBatchPredictOp()"
### What steps did you take:
I was deploying a pipeline to Vertex AI that was doing Model Upload and Batch Prediction jobs. But I got an error when the pipeline was executing the Batch Prediction Job. The code is below:

[code]

### What happened:
The error messages are below:
[code]

### What did you expect to happen:
The Vertex AI Batch Prediction Job can be executed correctly through the pre-bu

[2022-03-09 09:11] axeltidemann commented on #4692
I am seeing this in KFP 1.7.0. A recurring run was scheduled, but with a wrong image URL. The step is stuck in:
```This step is in Pending state with this message: ImagePullBackOff: Back-off pulling image```
Terminate does not do anything. The recurring run has been deleted. How can I stop this run?

[2022-03-09 10:30] juliusvonkohout commented on #4692
Please try again with kubeflow 1.5rc2

[2022-03-09 11:19] axeltidemann commented on #4692
@juliusvonkohout are you suggesting I downgrade the Kubeflow cluster, or am I misunderstanding something?

[2022-03-09 11:23] juliusvonkohout commented on #4692
Kfp 1.7 is too old. Kubeflow 1.5rc2 uses pipelines 1.8.1 so you need to test against standalone pipelines 1.8.1 or Kubeflow 1.5rc2

[2022-03-09 11:33] axeltidemann commented on #4692
Just to be sure I am not mixing things up: this is version 1.7 I am referring to, which is what you see in the Kubeflow UI.

<img width="160" alt="Screenshot 2022-03-09 at 13 31 56" src="https://user-images.githubusercontent.com/6352118/157433821-e88c8e32-b131-4c59-b3a1-11cf2156c450.png">

[2022-03-09 11:44] juliusvonkohout commented on #4692
No i am not thinking about the python package. It is too old

https://github.com/kubeflow/pipelines/commit/2a4b60ee2fa1d379959fdd769f56931909a3174a

https://github.com/kubeflow/pipelines/releases/tag/1.8.1

https://github.com/kubeflow/manifests/commit/cfd9e043fa8d6885432f86bac5ca9cca5c907e8a

[2022-03-09 11:50] axeltidemann commented on #4692
I think you are misunderstanding - the pipeline is stuck in this step:

```This step is in Pending state with this message: ImagePullBackOff: Back-off pulling image "```

I want to terminate the run (similar to the first poster). I am not launching new pipelines.

[2022-03-09 11:58] juliusvonkohout commented on #4692
No, you do not understand. If you test against an old version of the KFP no one will care, no matter whether you want to start or terminate pipelines. Uninstall 1.7.0 from your cluster, install 1.8.1 and test whether you can terminate pipelines successfully. Then the maintainers and other contributors might care.

[2022-03-09 14:00] Amitg1 commented on #7193
Hi! @IronPan, What's the status? can I help somehow in planning/impl?

[2022-03-09 18:13] #7356 closed

[2022-03-10 06:47] thesuperzapper commented on #2372
/reopen

It seems like there is still discussion to be had around allowing tasks to run, even if their parents fail.

I think most situations can be handled with an [`kfp.dsl.ExitHandler`](https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.ExitHandler), which runs a single ContainerOp regardless of if the ContainerOps it wraps succeed or fail.

But we might consider ma

[2022-03-10 06:48] thesuperzapper commented on #7330
I think most situations can be handled with an [`kfp.dsl.ExitHandler`](https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.ExitHandler), which runs a single ContainerOp regardless of if the ContainerOps it wraps succeed or fail.

But we might consider making functionality like ExitHandler more "implicit" by having an [airflow-style `trigger_rule`](https://airflow.apache

[2022-03-10 07:12] thesuperzapper commented on #4822
/reopen

Reopening because the current `kfp.dsl.PipelineVolume` docs link this issue in a TODO:
- https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.PipelineVolume

[2022-03-10 09:07] marrrcin commented on #7330
@thesuperzapper it's hardly "most situations" in my opinion. Take an example of having branch-out scenario with ParallelFor as in my PR - it cannot be handled by ExitHandler, because there can be only one ExitHandler in the pipeline.

[2022-03-10 09:16] marrrcin commented on #7330
I don't fully understand where it's "most situations". Are multiple exit handlers now supported in KFP? As far as I can see, no https://github.com/kubeflow/pipelines/blob/e2687ce5c22455bbde0ababb3ad46588d5ed7939/sdk/python/kfp/compiler/compiler.py#L236 , so in common scenario of branch-out with ParallelFor (as in my PR) - it cannot be used.

[2022-03-10 10:50] namlh16 commented on #3742
please how you grant permission for pipeline-runner ? @raviranjan0309

[2022-03-10 14:18] vamshi-rvk commented on #7356
thanks for the respons.

[2022-03-10 18:14] MatthiasCarnein commented on #6431
It seems that [NooBaa](https://www.noobaa.io/) could be another alternative using an Apache License. The Datashim project uses it in their [tutorials](https://github.com/datashim-io/datashim/wiki/Deployment-and-Usage-of-S3-Object-Stores) with BackingStore [PV-Pool](https://github.com/noobaa/noobaa-operator/blob/master/doc/backing-store-crd.md#pv-pool-type) to setup an S3 Object Store. The other Ba

[2022-03-10 22:33] yuhuishi-convect commented on #7271
[code]

[2022-03-10 22:33] yuhuishi-convect commented on #7271
[code]

[2022-03-11 00:58] chensun commented on #7204
This is KFP v1 code, which is currently moved to deprecated folder in master branch HEAD. We're currenlty focusing on the new v2 code. And based on a similar code in [this test file](https://github.com/kubeflow/pipelines/blob/5dcc6d9910372eee0b37cf31723910ed5f6fe98e/sdk/python/kfp/compiler_cli_tests/test_data/pipeline_with_loops_and_conditions.py#L92-L96), I'd assume this may not reproduce in v2.

[2022-03-11 01:02] chensun commented on #7378
`image_pull_policy` is actually not supported in v2 yet. The reason that this method is still "available" is because we have the v1 and v2 code mixed together in 1.8 branch. This has changed in the master branch, as we completely removed `ContainerOp` and its methods not supported in v2 yet.

[2022-03-11 01:09] chensun commented on #7201
I'm not quite following this part, how is `s3_path` used in the actual training step? Maybe some minimum pseudo code would help. Can you restructure your pipeline in a way that this is not an input to the training step?

[2022-03-11 05:38] zijianjoy commented on #6100
Validated the manifest test is now adopted to kpt v1.0.0-beta.13

[2022-03-11 05:38] #6100 closed

[2022-03-11 05:45] zijianjoy commented on #6374
/lifecycle frozen

[2022-03-11 06:04] #5244 closed

[2022-03-11 06:05] zijianjoy commented on #6378
@pigbrain , what is your deployment environment?

1. Is it full fledged Kubeflow? Or KFP standalone?
2. Which cloud provider do you use? Or is it on-prem environment?
3. How do you reproduce this error?
4. Do you have any failing Deployment in your cluster?

[2022-03-11 06:21] zijianjoy commented on #6750
As we released KFP 1.8.1, it should include the mentioned fix. Feel free to reopen if the issue persists.

[2022-03-11 06:21] #6750 closed

[2022-03-11 17:22] zijianjoy commented on #7271
@yuhuishi-convect

The KFP backend 1.2 is very old version, it might not work in Kubernetes 1.21. Can you try to deploy KFP backend v1.8.1 instead? https://github.com/kubeflow/pipelines/releases/tag/1.8.1

[2022-03-11 21:23] zijianjoy commented on #6672
/lifecycle frozen

[2022-03-11 21:33] zijianjoy commented on #6780
/lifecycle frozen

[2022-03-13 01:10] Ark-kun commented on #5282
@amyxst

I've listed an example that does just that using the `if` placeholder.

[code]

Yes. In your case, the command line is `["python3", "/src/myprint.py", "--param1", A]. There are 4 elements in the list. Each one is independent. `"--param1"` is completely independent from `A`.

If you want more complex behavior, use the `if` placeholder created e\specifically for this case.

Yes.

Your YAML

[2022-03-14 23:13] connor-mccarthy opened #7413 "[sdk] Code style/formatting standardization"
This issue describes steps for improving the linting and formatting of our codebase.

Action items:
- [ ] Change source code files to be `pylint` compliant and align `.pylintrc` with the desired state of our source code files
- [x] Format all files with `yapf`
- [ ] Create (a) CI/CD workflow(s) to hold linting, formatting, and other code checks
- [x] Provide developers with tooling to help make th

[2022-03-15 02:47] dianeo-mit opened #7416 "[bug] google-cloud-pipeline-components.readthedocs.io now points to 1.0.1 version instead of 1.0.0"
### What steps did you take

I went to the main documentation URL: https://google-cloud-pipeline-components.readthedocs.io/

### What happened:

I was directed to this URL, which doesn't exist: https://google-cloud-pipeline-components.readthedocs.io/en/google-cloud-pipeline-components-1.0.1/

### What did you expect to happen:

I expected to be taken to this URL, which does exist - and which worke

[2022-03-15 16:18] nicokuzak commented on #6146
@ji-yaqi what is the Google Cloud SDK equivalent of `create_schedule_from_job_spec`?

[2022-03-15 20:03] sabiroid commented on #7204
Yes, it looks like that

[2022-03-15 23:01] emenendez opened #7420 "[SDK] Pipeline runs web UI shows the wrong namespace"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? As part of a full Kubeflow 1.4 install on GKE.
*  KFP version: 1.7.0, packaged with Kubeflow 1.4

### Steps to reproduce

1. Use the KFP Python SDK (for example, `create_run_from_pipeline_func()` to create a pipeline from a Jupyter Notebook. Use the `namespace` argument to create this pipeline run in a namespace that's not your own,

[2022-03-16 00:06] alexlatchford opened #7421 "[backend] "Updating" a recurring run, whilst a recurring run is in progress causes it to terminate"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Atop AWS using the `kubeflow/manifests` official distribution with some overlays specific to Zillow.

*  KFP version:

We use KF v1.3.1 currently (plan to update to v1.5 next month), looks like that includes KFP v1.5.1 ([link](https://github.com/kubeflow/manifests/blob/v1.3.1/apps/pipeline/upstream/base/pipeline/kustomization.yaml#L

[2022-03-17 00:27] casassg opened #7432 "[feature] Support for features in v2"
### Feature Area

/area sdk

### What feature would you like to see?

Would like to decipher wether KFP v2 will continue to support:
- Recursive pipelines
- ContainerOp components using python SDK directly (not python functions)

### What is the use case or pain point?

Recursive pipelines is useful for research HPT and similar use cases where it's not clear when will a pipeline need to stop execu

[2022-03-17 01:22] casassg commented on #7432
Another tentative question is: What are the current ways to follow along the state of v1 to v2 transition for backend and all?

[2022-03-17 10:40] haoxins opened #7435 "[feature] Add a param in create_recurring_run to support override the exists job with the same name in the same experiment"
### Feature Area

/area sdk

### What feature would you like to see?

Add a param in `create_recurring_run` func to support override exists recurring job with the same name.

### What is the use case or pain point?

In my use case, when I changed the logic of my job, I will remove the jobs with the same name first,
and create a new one with the same name again.
I do this because I don't want to cr

[2022-03-17 22:43] #7416 closed

[2022-03-17 22:49] connor-mccarthy commented on #7435
Currently we don't have a plan for implementing this feature in `kfp`. If you are interested in contributing this feature, could you please compose a design doc for discussion in the Kubeflow Pipelines Community meeting?

[2022-03-18 07:09] goswamig commented on #3398
@LEDfan  yes, we are waiting for minio-js release 7.0.27 so that we can enable this feature.

[2022-03-18 07:45] goswamig commented on #3185
not yet fixed

[2022-03-18 07:52] haoxins commented on #7435
Yeah, I can contribute to this.

And this should be a small change so that is it really need a design doc?

I think there are only two things need to be agreed?

1. What is the param name should be?
2. Is the flow I provided fine to be accepted?
2.1 `list_recurring_runs()`: List the runs by `experiment_id` and `job name`
2.2 `Delete the jobs`

[2022-03-18 08:56] konsloiz opened #7437 "Why is certificates.k8s.io/v1 used in Cache Deployer instead of OpenSSL?"
Caching is one of the most crucial features of KFP. Each time a pipeline step is the same as an already executed, the results are loaded from the cache server. Caching is accomplished in KFP via two interdependent modules: the cache deployer and the cache server.

While trying to set up the modules in an enterprise cluster ([Mercedes-Benz AG](https://github.com/mercedes-benz/DnA)), it was noted th

[2022-03-18 14:23] kevin-bates commented on #6766
Is there an ETA for updating the `click` dependency to >= 8?  This is impacting the adoption of applications that use the KFP SDK.  Thanks.

[2022-03-18 15:22] connor-mccarthy commented on #7435
Thanks for your response, @haoxins, and for your interest in contributing! And thanks also for contributing a comment fix the other day -- that's very helpful.

**Why a design doc**
I do think a design doc is warranted to explore two aspects of this contribution:

1) **Costs and benefits of including this feature.** User-facing features in particular require maintenance and possibly slow down futu

[2022-03-18 16:58] #7435 closed

[2022-03-18 20:18] droctothorpe opened #7441 "[feature] Clone recurring run capability in sdk"
### Feature Area

/area sdk

### What feature would you like to see?
There's no way to patch an existing recurring run via the SDK (or GUI). The GUI gets around this with the clone recurring run button, but there's no equivalent in the SDK.

A very common scenario, for example, is updating the cron string of an existing recurring run. This is more or less impossible via the SDK.

One way to addres

[2022-03-19 19:09] zijianjoy opened #7444 "Convert PipelineSpec format from json to yaml"
## Problem

There are two types of Pipeline Template definition: ArgoWorkflow (for KFPv1) and PipelineSpec (for KFPv2). Currently we are using `isPipelineSpec()` to determine whether it is v1 or v2.
Reference:
https://github.com/kubeflow/pipelines/blob/939f81088b39ba703cc821d18e7a99523662bf5f/frontend/src/lib/v2/WorkflowUtils.ts#L48-L67

We are assuming that if the PipelineTemplate is not ArgoWork

[2022-03-19 19:09] zijianjoy commented on #7444
Related item: https://github.com/kubeflow/pipelines/pull/6524

[2022-03-21 10:08] bodak opened #7445 "[feature] Option to disable downloading of artifacts through UI"
### Feature Area

/area frontend
/area backend

### What feature would you like to see?

- Option to disable the ability to download artifacts from the front-end UI. Some form of this would limit accidentally clicking the download link.
- Option to restrict access to the back-end artifact storage. Some form of this would limit "guessing" the download link (unsure if that is even possible).

### Wh

[2022-03-21 13:47] edwardzjl commented on #5925
Not stale

[2022-03-21 17:51] connor-mccarthy commented on #7413
Format with `yapf`: https://github.com/kubeflow/pipelines/pull/7414

Update contributing guidelines: https://github.com/kubeflow/pipelines/pull/7436

[2022-03-21 19:58] zijianjoy commented on #7420
Hello @emenendez , this is a known limitation we have right now, because SDK doesn't have the information about whether it is an KFP standalone or a full-fledged Kubeflow deployment. We don't have a clear idea yet about how to overcome this.

[2022-03-21 22:53] thesuperzapper commented on #7330
@marrrcin I agree that only having a single ExitHandler is problematic, would allowing multiple also address your issue?

[2022-03-21 22:56] emenendez commented on #7420
Thanks so much for following up @zijianjoy!

[2022-03-22 09:07] marrrcin commented on #7330
I don't think so - it's not a single job launched multiple times in parallel, it's a chain of consecutive jobs of which some might be allowed to fail - you can take a look at the screenshot in my PR (https://github.com/kubeflow/pipelines/pull/7373). Even having multiple exit handlers would not cover that imho.