[2021-04-23 01:16] Bobgy commented on #5493
BTW, the mechanism @zijianjoy introduced is only available in Kubeflow 1.3.

To add to that, the deployment script https://github.com/kubeflow/pipelines/blob/a2d3f234eac1eff97f4ebdd99c69460a43ec0695/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py is designed so that you can customize to your own requirements.

[2021-04-23 02:39] hsinhoyeh commented on #5493
@zijianjoy thanks, it did solve my issue.
@Bobgy seems that the design doc has access control, I got access denied.

[2021-04-23 04:46] Bobgy commented on #5493
@hsinhoyeh you can request access

[2021-04-23 07:16] Ark-kun commented on #5506
I wonder whether we can reduce each test case to just an item in the test config YAML.
[code]

P.S. This is only for trivial tests (compile, submit, wait for success). For non-trivial ones I fully support keeping tests near the samples.

[2021-04-23 07:52] Ark-kun commented on #5460
Yes.
When data is too big to use normal Argo artifact passing, I still recommend the built-in volume-based data-passing over other volume-based approaches like the VolumeOp and using components that only work with volumes.

When the data is not as big, the standard mode of artifact passing is easier.

The idea is that the pipeline author develops and debugs the pipeline using medium-size data. But

[2021-04-23 08:42] Bobgy opened #5533 "[backend] minio/mysql pod pending because PV provisioned to wrong zone in regional cluster"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

kfp standalone

*  KFP version: 1.5.0

### Steps to reproduce
1. deploy a regional cluster
2. deploy KFP standalone following https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/
3. observe if pvs are provisioned in zones with node
4. Sometimes it isn't, e.g. I saw that minio-pvc was bound to a PV i

[2021-04-23 10:34] iuiu34 opened #5534 "load_pipeline_from_file"
Hi,
you can create components as a yaml, and load them with `load_component_from_file`.

Why there's not the same feature with pipelines?
Instead of using `@dsl.pipeline`, define the pipeline also with a yaml, and then just having a py script with a `load_pipeline_from_file` function. Or even better, pass `--pipeline-file` as a parameter when uploading the pipeline to kubeflow?

Note: this is not

[2021-04-24 00:19] #4777 closed

[2021-04-24 04:17] yanp opened #5537 "[bug] Failed to retry run (Can not trigger retry from UI when the failed step has dependent steps)"
### What steps did you take

This issue happened after we upgraded to Kubeflow Pipeliines `1.5.0`

Minimum example to reproduce:

[code]

### What happened:

After the `Fail func` fails,  if click `Retry` on UI the following error message would show up:

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?
Kubeflow Pipelines Standalone on EKS, also reproduced on Minikube.

*  KFP versi

[2021-04-25 17:01] amitza opened #5544 "[sdk] input parameter created without default value"
Trying to work with KFP SDK directly with argo workflow and when compiling a pipeline with input parameter a default value is not created so the workflow is invalid.

### Environment

*  KFP version: not relevant, submitting directly to argocd
*  KFP SDK version: 1.5.0

### Steps to reproduce

Run the following python code and open the created file (pipe.yaml):

[code]

When submitting to argo wor

[2021-04-26 03:34] prasadkyp7 commented on #5529
We are using Full kubeflow deployment running on AWS cloud.
Build version is not showing for us in Kubeflow UI (Ui shows as build version:dev_local)

Steps to reproduce:

1.create a pipeline using kfp.compiler.Compiler().compile(pipeline,'pipeline.zip').
2. Upload the pipeline zip file using kubeflow UI.
3. Create a run by using kfp api
4. payload for api-
payload={
   "name":"kfp_api_run",
   "pi

[2021-04-26 03:43] prasadkyp7 opened #5545 "pipeline_conf.set_ttl_seconds_after_finished(seconds=10) NOT WORKING"
*  How did you deploy Kubeflow Pipelines (KFP)?
**_WE are using full kubeflow deployment on AWS Cloud_**
*  KFP version:

Kubeflow UI is not showing us any version
*  KFP SDK version:

kfp                      1.4.0
kfp-pipeline-spec        0.1.6
kfp-server-api           1.4.1

### Steps to reproduce

1.create a pipeline code
2. set the ttl using pipeline config
pipeline_conf = kfp.dsl.PipelineCon

[2021-04-26 15:36] Bobgy opened #5547 "[Test Infra] v2 sample test failing with run timeout 4-26"
Example: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5546/kubeflow-pipelines-samples-v2/1386628232907853824
One test running: https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/45981700-5acd-4d4e-b77d-3a1780f9ab68

All PRs are failing on this.

However, even if we wait for a while and check the run status, it failed at the end.
Th

[2021-04-26 16:29] juliusvonkohout commented on #4440
Would you mind to share what you did exactly?

[code]
 did not work for me on a fresh install from the 1.3 branch with my own jupyterlab image

[2021-04-26 20:37] laurentbastien commented on #2983
Can this be re-opened? This is a bug that makes the component not usable unless specifying a GCS path.

[2021-04-26 20:38] laurentbastien commented on #2983
/reopen

This bug makes the component unusable unless specifying a GCS path.

[2021-04-27 01:28] santiagoolivar2017 opened #5548 "[sdk] mlpipelines-metrics path is wrong when using kfp.components.load_component_from_text"
Let me describe what my problem is:

- I am using load_component_from_text to define my components
- In the pipeline I am generating a mlpipeline-metrics artifact
- After compiling the pipeline I am checking the yaml file that is created
- Within the yaml file, I was expecting the path of this artifact to be **/mlpipeline-metrics.json**, but instead I am getting  **/tmp/outputs/MLPipeline_Metrics/

[2021-04-27 03:13] Bobgy commented on #699
Hi all, I'm sending a PR to make it possible to use tensorboard viewer with minio path: https://github.com/kubeflow/pipelines/pull/5515

Feedback welcomed!

[2021-04-27 03:17] Bobgy commented on #5513
Hi @jackwhelpton, this seems like an expected limitation on the UI side.

1. I'm curious why a markdown file needs to be 20MB+, can people actually read it in KFP UI?
2. we might be able to optimize UI code to specifically optimize for this case, but there's a limit we can achieve, I wonder what would be your requirement of the largest file you want to visualize.

[2021-04-27 03:43] jackwhelpton commented on #5513
I suspected that would be the case: I've worked around it by including only a limited amount of the data in the markdown that is displayed, pushing the full report out to GCS and including a link after the abridged version.

To give more background, what I'm displaying is a list of warnings/errors detected with a data set, kind of a "lint" for training and eval data. I was going to try committing

[2021-04-27 07:15] chensun commented on #5544
This is expected. Your pipeline doesn't specify any default value for param.
One option is to provide a default value when you define the pipeline function, for instance:
[code]
Another option, probably more common, is to supply the value at pipeline submission time. through `arguments`:
https://github.com/kubeflow/pipelines/blob/289d0f57be5533a15b93c520049e7b35578ab8e0/sdk/python/kfp/_client.py#L

[2021-04-27 08:17] Bobgy commented on #5513
Totally agree with you!
So todo for this issue is updating docs to inform visualization size limits.

Also, it can probably be nice if UI code could detect that the artifact is too big -- cannot display.

[2021-04-27 08:25] ChanYiLin commented on #4660
Hi @Bobgy Is this idea workable right now ?
I have tried it by setting a lightweight function to accept the loop param and return it directly to make it become a output (weird though), however, the following step still can't accept the output as display name.

Is there any suggestion to make it workable?
Thanks!

[2021-04-27 12:22] toshi-k commented on #5084
@StefanoFioravanzo How is your situation for this issue ? Do you work on this internally ?

[2021-04-27 12:27] Bobgy commented on #5453
Agree with

/cc @neuromage @chensun
I think we are missing a good example component & pipeline to demonstrate this use-case.
With the v2 InputArtifact input type, it's possible to get uri of the artifact in the component, so that it could directly pass the gcs/s3 uri to KFServing component.

[2021-04-27 13:56] Bobgy commented on #5547
Strange, the temporary error goes away by itself. It might be some temporary infra issue

[2021-04-27 13:56] Bobgy commented on #5547
closing for now, we can reopen if we find similar issues

[2021-04-27 13:56] #5547 closed

[2021-04-27 14:02] Bobgy commented on #4660
@ChanYiLin it's not a current workaround, we need to implement logic in KFP UI to parse a specific output as display name.

[2021-04-27 14:03] Bobgy commented on #4660
Anyway, with KFP v2 compatible coming -- will be released soon, I feel that it's better getting display name from MLMD.

[2021-04-27 17:10] wilbry commented on #5453
I think that is a good way forward. I have been playing with it a little bit, but I believe that the specific kfserving component will need to be upgraded to v2 to make it possible to work. The way I understand it is that you can't mix v2 components and v1 components, is that correct?

[2021-04-27 19:03] wilbry commented on #5453
I think this is a good path forward. I have a local version of the KFServing component I have edited to be compatible with the v2 pipeline compilation, but I can't test it because I am having trouble determining how to run a v2 pipeline on a stand-alone installation (if it is event possible at this point)

[2021-04-27 19:42] soleares opened #5553 "[backend] Local install: proxy-agent error "Could not resolve host: metadata.google.internal""
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
[code]
*  KFP version:
1.5.0
*  KFP SDK version:
N/A

### Steps to reproduce

1. Install using steps above on MacOS w/ latest Docker running.
2. `kubectl get pods -A`
3. `proxy-agent-<suffix>` pod shows Error status
[code]
4. `kubectl logs proxy-agent-<suffux> -n kubeflow` shows the following error:
[code]

### Expected result

`prox

[2021-04-27 21:15] neuromage commented on #5453
@chensun and @Bobgy can you provide @wilbry with some pointers here for how to run v2 pipelines?

[2021-04-27 22:15] yuhuishi-convect opened #5555 "[feature] Allow jobs to be scheduled on AWS Fargate"
### Feature Area

/area backend

### What feature would you like to see?

I am trying to run a large number of kubeflow pipeline jobs on AWS [Fargate](https://aws.amazon.com/fargate/?nc=sn&loc=0&whats-new-cards.sort-by=item.additionalFields.postDateTime&whats-new-cards.sort-order=desc&fargate-blogs.sort-by=item.additionalFields.createdDate&fargate-blogs.sort-order=desc).

The kubeflow pipeline com

[2021-04-27 22:42] RoyerRamirez opened #5556 "[Multi User] Kubeflow Pipelines Missing Headers"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Hi, we deployed Kubeflow using the [kfctl_k8s_istio.v1.2.0.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_k8s_istio.v1.2.0.yaml) file.

*  KFP version:
Kubeflow Pipelines Version: 1.0.4

*  KFP SDK version:
v1.2.0

### Steps to reproduce

We setup Identity Aware Proxy, all the traffic is getting ro

[2021-04-28 15:24] rado-parrak opened #5558 "[feature] Configurable KFP Artifact types while storing to Minio"
### Feature Area
/area sdk

### What feature would you like to see?

We are trying to marry "KF Pipelines + KF Artifacts + KF Serving" in a nice use-case where we train a (sklearn) model using KFP, store it as an output artifact to the artifact store of pipelines (minio) and then deploy that model directly from the artifact store using KFServing.

### What is the use case or pain point?

The probl

[2021-04-28 16:53] wilbry opened #5560 "[backend] OutputArtifact path is None"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Deployed Standalone on k3s
*  KFP version:
1.50
*  KFP SDK version:
1.5.0rc3

### Steps to reproduce

Create lightweight component using OutputArtifact, compiled with V1 compiler, using V2 Compatible, and run through the UI. The following error appears, I think in the effort to create the output artifact data library.

[code]

### Ex

[2021-04-28 23:01] jackwhelpton commented on #5512
I'm expanding this ticket as I find other missing markdown features: let me know if each one should be spun off as a separate ticket.

[2021-04-29 01:44] eterna2 commented on #5558
Not that familiar with kfserving, but with respect to #5453.

Can I assume there are 2 separate issues?

- for model retrieval, kfserving only support local model or http/https model (#5453)
- for remote model artifacts, it expects an unarchived model binary? (This ticket)

[2021-04-29 07:32] rado-parrak commented on #5558
Yes indeed, these are two separate issues, stemming from 2 separate use cases. Thx.

[2021-04-29 07:57] Bobgy opened #5564 "[Doc] Update "Visualize Results in the Pipelines UI" page"
https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/

[2021-04-29 09:15] hsinhoyeh commented on #5493
@zijianjoy @Bobgy this flag seems to disable all pipeline components (see [here](https://github.com/kubeflow/pipelines/blob/a2d3f234eac1eff97f4ebdd99c69460a43ec0695/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py#L33)), not just these two components as I mentioned earlier. do you have any suggestion on how we can disable it without modifying python code?

[2021-04-29 10:34] Bobgy commented on #5493
Not really, if you only want to disable the two services, you need to modify the sync.py script.

[2021-04-29 13:39] andre-lx commented on #4469
I'm facing the same issue.

On Azure, looks like that the istio are not injected to the ml-pipeline pods.

Disabling the istio (from MUTUAL to DISABLE) solve the issue as described here: https://github.com/kubeflow/kubeflow/issues/5271.

But I'm trying to solve the istio problem instead, since on EKS and GKE the istio is injected and everything works great.

Any thoughts?

[2021-04-29 18:35] capri-xiyue opened #5565 "[frontend] The sort, filter of artifact does not work"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? Kubeflow Pipeline Standalone with GCP

*  KFP version: 1.5.0

### Steps to reproduce
Submit a pipeline which will generate artifatcs, then submit the pipeline run.
Go to the UI which shows the artifact list, click  `Created At` to sort by created time.  In addition, the filter also does not work.

### Expected result

The sort behavi

[2021-04-29 18:37] capri-xiyue commented on #5565
![Uploading Screen Shot 2021-04-29 at 11.33.56 AM.png…]()

[2021-04-29 18:38] capri-xiyue commented on #5565
<img width="1192" alt="Screen Shot 2021-04-29 at 11 33 56 AM" src="https://user-images.githubusercontent.com/52932582/116601525-763fd400-a8df-11eb-86aa-9be8708b2715.png">

[2021-04-30 00:51] Bobgy commented on #4795
Recommend using generated backend SDK to call backend api directly, see documentation: https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.server_api.html#kfp_server_api.api.run_service_api.RunServiceApi.create_run

`kfp.Client().runs.create_run()`

[2021-04-30 00:53] Bobgy commented on #5450
/assign @zijianjoy

[2021-04-30 00:57] zijianjoy commented on #5509
Hello @jw-websensa , currently we recommend using minio rule to set expiration date: https://docs.min.io/docs/minio-bucket-lifecycle-guide.html. We will learn more about the usability and improve in the future.

[2021-04-30 00:57] #5509 closed

[2021-04-30 00:59] Bobgy commented on #5513
/assign @zijianjoy

[2021-04-30 01:01] Bobgy commented on #5519
/assign @Bobgy
sounds like an useful idea

[2021-04-30 01:04] zijianjoy commented on #5564
Update area:

[code]

[2021-04-30 01:07] Bobgy commented on #5553
Yes, for local install, you should use
[code]

we should update documentation in KFP standalone

[2021-04-30 01:12] Bobgy commented on #5553
Actually, you should follow https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/ to deploy locally

[2021-04-30 01:16] Bobgy commented on #5537
/assign @capri-xiyue

[2021-04-30 01:22] Bobgy commented on #5555
@yuhuishi-convect we might want to switch to argo v3 emissary executor: https://argoproj.github.io/argo-workflows/workflow-executors/#emissary-emissary
which doesn't require privileged permission.

[2021-04-30 01:23] Bobgy commented on #5555
This can be resolved by https://github.com/kubeflow/pipelines/issues/1654, when we switch to that executoor.

[2021-04-30 01:26] Bobgy commented on #5450
/assign @capri-xiyue

[2021-04-30 01:50] xinbinhuang commented on #4795
Instead of calling the backend SDK directly. Would it be better to create a new function called `create_run_from_pipeline_id` which has a similar interface with the other two functions (`create_run_from_pipeline_func` and `create_run_from_pipeline_package`) ? Also putting a deprecate warnings on the legacy `run_pipeline`

I think calling a pipeline by id is common and should be easier to achieve t

[2021-04-30 01:57] Bobgy commented on #5564
Example of outputting mlpipeline-ui-metadata in component yaml component: https://github.com/kubeflow/pipelines/blob/d362cab2046b92efa5f015c6a980bc9371b4b63b/components/tensorflow/tensorboard/prepare_tensorboard/component.yaml

Example of outputting mlpipeline-ui-metadata in python lightweight component -- option 1 as return value:
https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cd

[2021-04-30 02:23] soleares commented on #5553
Thanks @Bobgy, you are correct. I followed the local guide for 1.3 but for some reason with 1.5 I used the incorrect manifest.

[2021-04-30 02:23] #5553 closed

[2021-04-30 03:46] Bobgy commented on #4795
Yes, that seems useful. Welcome contribution on this

[2021-04-30 03:53] Bobgy commented on #4795
Just an idea, what do you think about merging all 3 methods to 1, and accept one of pipeline package, id or func?

[2021-04-30 05:37] jw-websensa commented on #5509
Hello @zijianjoy, thank you for your response, I am aware about minio rules, but I think it will not work very well as cacher will still find those expired artifacts as available.

[2021-04-30 06:00] xinbinhuang commented on #4795
I think that's a good idea! Though that would put some deprecated warnings to end users, it's not a big deal. I will put up a PR to merge these 3 methods sometime this or next week

[2021-04-30 13:07] StefanoFioravanzo commented on #5084
Hey @toshi-k we will start working on this soon!

[2021-05-02 09:46] padrian2s opened #5576 "[backend] pipelines upload failes without parameters"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

deploy manually (kustomize build)

*  KFP version:
KFP 1.3

*  KFP SDK version:
kfp                      1.4.0
kfp-pipeline-spec        0.1.7
kfp-server-api           1.5.0

### Steps to reproduce

upload xgboost sample pipeline, which has no pipeline input parameters

{"error_message":"Error creating pipeline: Create pipeline faile

[2021-05-02 21:14] lebiathan opened #5577 "[sdk] `kfp run submit` fails when paramerer values contain '=' with "dictionary update sequence element""
### Environment

*  KFP version:

*  KFP SDK version: 1.4.0, 1.5.0

*  All dependencies version: n/a

### Steps to reproduce

* Compile test pipeline below (run py script)

[code]

* Upload to KF
* Grab the `pipeline-id` to use it in the command line sdk
* Using the command line SDK, run the following:

[code]

Running the parameter directly from the KFP UI with value `some_name=4567` works fine a

[2021-05-03 03:02] prasadkyp7 commented on #5529
Please provide the solution asap

[2021-05-03 06:27] orugantichetan opened #5578 "can metacontroller be upgraded to latest version from V0.3.0"
/kind question
/kind/question

can metacontroller be upgraded to latest version from V0.3.0
from v1.2.0 metacontroller have support for distroless image .

[2021-05-03 07:19] orugantichetan opened #5579 "In metacontroller statefulset container securitycontext block allowPrivilegeEscalation and privileged are set to true . Does the controller container really need those privileges"
/kind question
/kind/question

metacontroller statefulset container securitycontext block  allowPrivilegeEscalation and privileged are set to true . Does the container really need those privileges
In metacontroller repo those privileged permissions are not set  [https://github.com/metacontroller/metacontroller/blob/v0.3.0/manifests/metacontroller.yaml](url)

[2021-05-03 22:56] maganaluis commented on #5329
@zijianjoy I created the PR. After changing this configuration we did not experience any of these errors anymore, so seems to be the correct approach here.

[2021-05-04 10:20] ekesken opened #5584 "[backend] metadata_execution_id is empty in ExecutionOutput of cache record due to race condition"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

We deploy it via ArgoCD.

*  KFP version: 1.0.4

Two components involved in issue:
* ml-pipeline/metadata-writer:1.0.4
* ml-pipeline/cache-server:1.0.4

### Steps to reproduce

This is a race condition between metadata-writer and cache-server, so not easy to re-produce, but we observe it quite frequently.

If `cache-server/watcher`

[2021-05-04 11:44] jppgks commented on #5138
What is the status on this? Can we authenticate using service accounts now?

[2021-05-04 17:49] yuhuishi-convect commented on #5555
I got a walkaround under version 1.2 to allow scheduling jobs onto Fargate nodes. Here are the things I did:

1. Switch the Argo workflow executor to `k8sapi`.
[code]
and change `containerRuntimeExecutor` from `pns` to `k8sapi`

2. Modify the components to use `emptyDir` as the output location.
For example, I have a following helper function
[code]
Then apply the transformation to every `op` in th

[2021-05-04 21:46] zijianjoy commented on #5529
I am suspecting this issue is related to resource limitation (or open file cap), because you mentioned that this error happens when there are many pipelines. But I don't have access to AWS, so cannot reproduce this issue.

Can you check your max file descriptors on AWS Kubernetes?

[2021-05-04 21:49] zijianjoy commented on #5509
Thank you @jw-websensa for the extra context, we will consider this in an end-to-end fashion for configuring artifact lifetime in the coming versions.

[2021-05-05 02:20] Bobgy commented on #5470
Our conclusion:

Google will initiate a PR to update all Google LLC copyright headers to "The Kubeflow Authors".
Google does not have the legal right to change other copyright headers.

Going forward, we'll suggest people to stick to "The Kubeflow Authors" headers.

[2021-05-05 02:47] Bobgy opened #5586 "[Testing] 5th May, samples v2 test failing"
There are multiple types of errors I'm observing when running tests:

1. Pod fail with CreateContainerError

  Warning  FailedSync  91s (x2 over 102s)   kubelet            error determining status: rpc error: code = Unknown desc = Error: No such container: a3311041ff774eb4530aa3a46c05f42af0cfb1bfedfaa8569188afff225bdd10

In pod logs, there's error message: `failed to try resolving symlinks in path

[2021-05-05 03:00] Bobgy commented on #5586
There were brief periods the node was in NotReady state:

but it recovered soon

[2021-05-05 03:04] Bobgy commented on #5586
Another symtom:

there are workflow resources with more than 1d age, but not GCed

[2021-05-05 04:07] Bobgy commented on #5586
I couldn't figure out more information, the node looks healthy on GKE pantheon, but errors keep happening. The node is also still reported as healthy, so it's not auto-repaired.

[2021-05-05 04:59] prasadkyp7 commented on #5529
The crash is not because of resource limitation . we have large nodes in AWS cluster.

The crash is because KUBEFLOW Is not deleting the pods in EKS even after the Pipelines are success. we tried deleting the pods using pipeline_conf.set_ttl_seconds_after_finished(seconds=10) . But this is not working.

Can you please tell us how to delete the pods of pipeline on its own after they get succeed .

[2021-05-05 05:07] Bobgy commented on #5586
This issue might not be node related, after adding taint for mr50 node, pods on gke-kfp-standalone-1-kfp-standalone-1-df8a273f-syvn node start to fail with the same error message.

[2021-05-05 05:11] Bobgy commented on #5586
a second type of error when running v2 components: https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/eefcbe66-e9b2-4da3-9bbb-5d4d66346365

[2021-05-05 05:14] Bobgy commented on #5586
Also the `CreateContainerError` error seems most common on cached pods, it might be a problem with pods running really fast?

[2021-05-05 05:27] Bobgy commented on #5586
BTW, the same tests on that PR already run successfully on my own cluster, so sth is wrong with the cluster. I'm going to try upgrading cluster and node version and see if that helps. (that also changes all nodes)

[2021-05-05 05:40] zijianjoy commented on #5529
You can delete the pipeline runs from KFP UI: First `Archive` the run, then `Delete` the run:
![archive](https://user-images.githubusercontent.com/37026441/117100770-74d03a80-ad29-11eb-863f-92412f4c07c0.png)

![delete](https://user-images.githubusercontent.com/37026441/117100774-7994ee80-ad29-11eb-9c00-2f3611338f1b.png)

Alternatively, you can also use the Python SDK to delete the run. API documen

[2021-05-05 06:14] Bobgy commented on #5586
Hmm, upgrading nodes to control plane version solved the issue. Let's follow up again if this happens the second time

[2021-05-05 06:14] #5586 closed

[2021-05-05 07:00] NikeNano commented on #5470
Sound good!

[2021-05-05 07:12] prasadkyp7 commented on #5529
i have already tried both of them.

But the problem is, in real time we are running thousands of pods and to delete using kfp.client.runs.delete_run(run_id) we need run id which is unique and is determined by kubeflow but not us which makes very difficult to delete the thousands of runs manually.

Is there a way to delete the runs/pods on its own after the completion of run?

[2021-05-05 08:18] Udiknedormin commented on #5496
@neuromage @chensun Any progress regarding this issue?

[2021-05-05 09:44] halvgaard opened #5588 "Managed storage default sql username is not root as described"
@Svendegroote91 Sorry for the late reply, reading through your description, it sounds like

this part is wrong, you need to type `root` into database username, it's not the default when you leave it to empty.

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/4973#issuecomment-768226895_

The GCP AI platform Pipelines description for managed storage also says that if use

[2021-05-05 10:57] Shuai-Xie opened #5589 "SDK - Creating lightweight component inside lightweight component function leads to wrong inner component"
### Environment

*  Kubernetes: 1.18.9

*  KFP version: 1.4.0

*  KFP SDK version: 1.4.0

*  All dependencies version:

[code]

### Steps to reproduce

I want to launch a new pipeline (not local) from one component named `create_pipeline_in_pod` of the pipeline named `outer_pipeline` .  The demo codes are below.

[code]

The above code will fail when doing `kfp.compiler.Compiler().compile(inpod_pi

[2021-05-05 11:18] mgiessing opened #5590 "[backend] Pipelines 1.5.0 api-server argo version mismatch & samples cannot be compiled"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Pipelines is not yet deployed, I want to build the api-server docker image
*  KFP version:
1.5.0
*  KFP SDK version:
1.5.0
### Steps to reproduce

Difficult to reproduce as you'd need a ppc64le system, however that problem is not related to the underlying platform as the error indicates a wrong argo version and also happened on x86-M

[2021-05-05 11:52] halvgaard commented on #5588
This issue gives the same errors as found here: https://stackoverflow.com/questions/66600365/gcp-ai-platform-pipelines-kfp-use-managed-storage-cloudsqlproxy-issue#

[2021-05-05 17:20] arllanos commented on #4649
Hello @Bobgy et al. I would like to share with you the following document where we have put together what we observed while internally implementing some of the points discussed so far.
https://docs.google.com/document/d/1CCtr6FJmpdlxCQBfjUcMR3oJpY2yQDT9NkdjhhhbZ6E/edit?usp=sharing
Soon @maganaluis will put the code changes we did in PwC in a PR. We'll appreciate your feedback.

[2021-05-05 20:54] Ark-kun commented on #5589
For quick debug try:
[code]

[2021-05-05 23:36] yuhuishi-convect opened #5593 "[feature] Choose what metrics to show on the individual experiment page"
### Feature Area

/area frontend

### What feature would you like to see?

For runs that output many metrics, the current experiment page only displays limited number of metrics.
It will be good to add a selector for users to choose what metrics to display, so they can be used for sorting and further analysis.

Example:

Run that generates many metrics
![2021-05-05-163516_3197x768_scrot](https://u

[2021-05-05 23:59] Ark-kun commented on #5529
There is a difference between Pods and runs. Runs are not Kubernetes objects and are just stored in the DB. I'm not sure your problem is caused by runs. Are you sure the runs are the problem, not Pods and Workflows?

AFAIK, there is some TTL on Pods as I see them removed after pretty short time.

[2021-05-06 00:00] IronPan commented on #5529
FYI You can set a different TTL to garbage collect the pod. By default it's 1 day
https://github.com/kubeflow/pipelines/blob/5d0f3a3d32f35d3dbca9cd27f4ee476e87f6d41e/manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml#L517

[2021-05-06 00:38] Ark-kun commented on #5584
I understand the issue.
I wonder how reliable `metadata_execution_id` is. Have you seen any cases where Metadata Writer failed to set it?

We're a little bit hesitant to introduce a dependency between cache server and metadata writer services.

[2021-05-06 00:46] Ark-kun commented on #5548
This is by design. Metrics is a normal output and has same style of paths as other outputs. Also, putting files in root is problematic for multiple reasons. It's not possible to mount volumes to the root to grab the files.

If the UI works when the file is written to `/mlpipeline-metrics.json`, but not `/tmp/outputs/MLPipeline_Metrics/data` then it's a bug.

What version of the SDK and backend are

[2021-05-06 00:50] Ark-kun commented on #5544
+1 to what Chen said.
There is no default value. Specify it and the pipeline will work.

P.S. We do not pledge to support submitting the compiled pipelines to Argo. This is implementation detail and there are some backend-side workflow changed.

[2021-05-06 00:59] Ark-kun commented on #5519
What do you think about using custom containers for training?
It's easy to run them locally and there is beta support for running them on GCP: https://cloud.google.com/ai-platform-unified/docs/training/create-custom-job#create_custom_job-gcloud

[2021-05-06 07:22] Shuai-Xie commented on #5589
Thanks for your quick reply. I've made two tests with your guidance.

## Test 1

### 1.1. Pipeline function defined in a component

In the `inpod_pipeline_func`, I directly print the `add_task.outputs` as below and don't fetch values by keys in the `show_result` function.

[code]

### 1.2. Pipeline logs

It shows that `add_task.outputs` is `{}`, which means that no small values are passed in the p

[2021-05-06 08:01] prasadkyp7 commented on #5529
Each Run from Kubeflow is creating a pod in a kubernetes. When a Run completes, the pod in kubernetes is not deleted and is staying there in successful state.  So, if we delete the Run from kubeflow it will delete both the run details and pod as well.
My problem here is as 1000's number of success/ failed pods/ run are staying and not deleted-kubeflow is crashing.

So is there a way in kubeflow to

[2021-05-06 08:06] Shuai-Xie commented on #5589
### Some new discoveries of the not connected components

In my experiment,  `Add` and `Show result` components are created by the pipeline defined in the `create_pipeline_in_pod` function. The two components are not connected in https://github.com/kubeflow/pipelines/issues/5589#issuecomment-833293618

I try to define the pipeline workflow explicitly with `kfp.dsl.ContainerOp`'s `after()` function

[2021-05-06 08:33] Shuai-Xie commented on #5589
### Test results of `InputPath` and `OutputPath`

I've tried to use `InputPath` and `OutputPath` to pass values in a local file with the help of `minio`.

The codes are updated as below.

[code]

I got new errors as below. `OutputPath` is regarded as a common argument.

[code]

![image](https://user-images.githubusercontent.com/18352713/117267160-909e2280-ae88-11eb-8dc3-ffe2653880a5.png)

Best Reg

[2021-05-06 12:07] swamat opened #5597 "Unable to artifact output files in aws s3"
### What steps did you take

I installed kubeflow v1.2 in AWS following official documentation -https://www.kubeflow.org/docs/distributions/aws/pipeline/

### What happened:
Created notebook server and executed kubeflow pipeline. AM able to view artifacts in UI stored in minio loation. Created secret.yaml file
apiVersion: v1
kind: Secret
metadata:
  name: aws-secret
  namespace: kubeflow
type: Opa

[2021-05-06 13:49] judyliou commented on #5303
@Bobgy I have the same issue, and I have the annotation `pipelines.kubeflow.org/pipeline-sdk-type: tfx` on my pods.
Could you explain how this annotation affect if it exists?

[2021-05-06 14:26] maganaluis opened #5598 "[backend] Cache Server is unable to deploy with external database using SSL"
### Environment

Using Kustomize.

*  KFP version:

KFP 1.3

*  KFP SDK version:

KFP 1.4

### Steps to reproduce

We are unable to deploy the Cache Server with an external databases which uses SSL. In order to setup the correct parameters, the configuration should allow for extra parameters.

### Expected result

We should be able to pass extra parameters to the Cache Server deployment:

[code]

[2021-05-06 17:13] ekesken commented on #5584
I believe instead of purely relying on `metadata_execution_id`, we should add another annotation in `metadata-writer` when create event arrives for the pod, like `pipelines.kubeflow.org/metadata_enabled`, if it's not a tfx job it should be set to true, and in cache-server it should wait until metadata_execution_id gets filled for the metadata enabled pods.

we had issues from time to time, but I c

[2021-05-06 17:45] pupilye commented on #5475
I am experiencing the same issue when submitting a pyspark job to a dataproc cluster with this component: https://raw.githubusercontent.com/kubeflow/pipelines/1.5.0-rc.2/components/gcp/dataproc/submit_pyspark_job/component.yaml

[2021-05-06 18:20] prasadkyp7 commented on #5529
any update on how to delete the runs on its own after completion?

[2021-05-06 19:00] Gevorg-Minasyan commented on #5519
I'm not sure if I clearly understand custom containers for training usage in KFP. If we are intended to create a custom training job independent from the kubeflow pipeline, then it would be a good choice, however, the local e2e KFP pipeline development and before GCP upload testing gap still will be there.

[2021-05-06 19:11] mustafaghaliUnity commented on #5475
I think I was able to resolve the issue by applying K8s secret to authenticate the component where this failure happens using kfp gcp extension
`task_op.apply(gcp.use_gcp_secret("your-K8s-secret")) `

[2021-05-06 19:13] elikatsis commented on #5470
This is great!

As https://opensource.google/docs/releasing/authors/ instructs, there should be an `AUTHORS` file. Do we have one? If not, how do we plan on populating it and where should it live (in which repository)?

[2021-05-06 21:13] santiagoolivar2017 commented on #5548
Thanks @Ark-kun.
When the output is written to `/mlpipeline-metrics.json` the UI shows the metrics properly, and when it is saved to `/tmp/outputs/MLPipeline_Metrics/data` the UI doesn't recognize it as metrics and doesn't show any.

I am using kfp version 1.4.0 and Kubeflow Pipelines version 1.4.1

[2021-05-06 22:31] rfan-debug commented on #4710
@Ark-kun I ran into the same issue. The `ignore_type()` method does solve the problem for me but it removes the type checking in the KFP dsl. It looks not so great.

It would be handy if we could have some static methods like `get_gcs_path_from_str(input: str) -> GcsPath` to create `GCSPath` and other objects that extend from the same `BaseType`. It will help the static type-check in the dsl.

[2021-05-07 03:03] zhao1157 opened #5602 "[sdk] pyinstaller ("import kfp") -> OSError: could not get source code"
### Environment

*  KFP SDK version: 1.20, 1.3.0, 1.4.0

### Steps to reproduce
[code]
`pyinstaller -F a.py` creates an executable `a` in ./dist/
run the executable `./dist/a`

### Expected result
[code]
But got the following error

### Issues
[code]

[2021-05-07 11:59] pangshengwei opened #5605 "Error: persistentvolumeclaim "azure-managed-disk" not found"
**Question:**

I've followed the [azure end-to-end pipeline](https://www.kubeflow.org/docs/distributions/azure/azureendtoend/) tutorial, but am getting this error when running an experiment, does anyone know what might be the problem?

![image](https://user-images.githubusercontent.com/19318871/116953966-34d56d00-acc1-11eb-9708-cff2fd18f935.png)

I've run `kubectl apply -f pvc.yaml` but somehow I

[2021-05-07 12:00] LifeArchitect opened #5606 "Error: persistentvolumeclaim "azure-managed-disk" not found"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-07 12:00] #5606 closed

[2021-05-07 14:24] NikeNano commented on #3360
Names don't have to be unique, they are unique based upon the combination of `name` and `namespace`, we could use this as an composite key, but we would need the UUID otherwise as a Primary key. https://github.com/kubeflow/pipelines/blob/31429dc29616c87bd6c7aeeeac93ca9b779dd896/backend/src/apiserver/client_manager.go#L272 WDYT @omarzouk and @rmgogogo ?

[2021-05-07 15:00] Bobgy commented on #3360
Good point

[2021-05-07 15:51] omarzouk commented on #3360
@NikeNano Good point. Having a name+namespace as a key, or at least some utility function that lets you fetch pipelines using their combination is probably good enough.

Today my solution to work around this is to call the list function, and do a string search in the list to find the corresponding uuid and I'm worried that this behaviour would break in future versions.

[2021-05-07 22:35] pupilye commented on #5475
Thanks for following up! Is the task_op the hptune_op you have in your original example?

[2021-05-08 02:23] mustafaghaliUnity commented on #5475
@pupilye yes

[2021-05-08 05:07] Shuai-Xie commented on #5589
## Maybe a barely satisfactory solution

In the past days, I found it works well if I created a pipeline in a running pod.

For example :

[code]

And I found the newly created `add_two_numbers_inpod` pipeline running well.

So I made a small change to the original code with 2 steps:

1. save the code of `create_pipeline_in_pod()` into a python file like `create_pipeline_in_pod.py`
2. use `os.syst

[2021-05-08 05:44] chensun opened #5614 "[05/07/2021] Presubmit failure: kubeflow-pipelines-tfx-python36"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5594/kubeflow-pipelines-tfx-python36/1390893518523731968
[code]

/area testing

[2021-05-08 08:08] chensun commented on #5614
The test started to fail when we have `google-cloud-bigquery` 2.16.0 installed, and that is a result of https://github.com/tensorflow/tfx/pull/3644
Previous succeeded runs have `google-cloud-bigquery` 1.28.0.

If I'm not mistaken, the module `proto` from `AttributeError: module 'proto' has no attribute 'module'` should be from [proto-plus](https://pypi.org/project/proto-plus/), and we installed `p

[2021-05-08 08:58] Bobgy opened #5617 "[pH] ask contributors use copyright header "The Kubeflow Authors""
After https://github.com/kubeflow/pipelines/pull/5587,
we should stick to "The Kubefow Authors" copyright header.

But people may miss the new convention,

Proposal:
1. p0 add another PR checklist to educate contributors
2. p2 add presubmit (not sure how we can actually achieve that)

[2021-05-08 10:57] #5614 closed

[2021-05-09 01:01] jocelynbaduria opened #5620 "ERROR:Exception when calling CoreV1Api->create_namespaced_pod: (404) Reason: Not Found"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? In GCP AI Platform

*  KFP version: : kfp-1.0.0

*  KFP SDK version:

### Steps to reproduce

### Expected result

# Target images for creating components should be added in GCP container registry.
PREPROCESS_IMG = 'gcr.io/%s/ms-coco/preprocess:latest' % PROJECT_NAME
TOKENIZE_IMG = 'gcr.io/%s/ms-coco/tokenize:latest' % PROJECT_NAME
T

[2021-05-09 06:25] #4356 closed

[2021-05-09 12:58] DavidSpek commented on #5254
@neuromage I could you chime in on this? It would be nice to have an updated version of the kfp SDK on PyPI so the notebook images can be updated.

[2021-05-10 00:50] neuromage commented on #5254
We're planning an SDK release this week. Probably have an RC version out mid-week at least.

/cc @chensun

[2021-05-10 13:57] prasadkyp7 commented on #5529
when we run thousands of jobs daily without deleting the runs, the details of run which is stored in the table is over loaded and we are not able to create the runs with the error.Failed to create a new run.: InternalServerError: Failed to store run x9hqb to table: Error 1114: The table 'run_details' is full"}]}

so we have to delete the runs on its own after completion, i tried to set TTL using p

[2021-05-10 23:01] chensun opened #5627 "[05/10/2021] Presubmit failure: kubeflow-pipelines-tfx-python36"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5604/kubeflow-pipelines-tfx-python36/1391884823848554496

[code]

[2021-05-11 00:42] Tomcli commented on #5496
@Ark-kun We want to support non-PipelineParam arguments on graph_component so that we can define the graph function with some default arguments. Do you think it makes sense to implement this feature? Thank you.

[2021-05-11 06:10] #5627 closed

[2021-05-11 16:00] jaminsore commented on #5589
I am having a related issue (with the same `kfp*` package versions as OP), and it appears that the source of the problem is that multiple outputs is broken. To illustrate, the following test fails, and the only key in `called_multi_output_op.outputs` is `"Output"`.

[code]

[2021-05-11 16:40] HenryW95 opened #5635 "New kfp sdk release (1.5.0)"
The new use_k8s_secret function in the kfp_server_api sdk is very useful but it's not yet released in the kfp library (https://pypi.org/project/kfp/). Is there a plan for when the next release will be? Thanks much!

[2021-05-11 17:09] jaminsore commented on #5589
It looks like the issue in my test was the `from __future__ import annotations` import. If I remove that, then the test passes. So @Shuai-Xie , you might be running on python 3.10 locally, and it works in a running pod because you're using python 3.7?

[2021-05-12 03:32] jiyongjung0 opened #5638 "[frontend] File format / path of the TFX artifacts from TFDV should be updated"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? - GCP Cloud AI Pipelines
*  KFP version: 1.4.1

### Steps to reproduce

1. Use TFX taxi template to create a pipeline
2. Add StatisticsGen component and run the pipeline.(Step 5)
3. Click "Visualizations" of `StatisticsGen` component after the run finished successfully.
   - This will result in `OSError: Invalid input path gs://jiyon

[2021-05-12 03:33] jiyongjung0 commented on #5638
FYI, @1025kb

[2021-05-12 03:47] bartgras commented on #5138
@DavidSpek
As a temporary workaround, what if instead inviting contributors to user's "private" profile we invite them to team/project profile? Specifically, separate profile e.g. "Project X" gets created with access to specific cloud resources (e.g. with dedicated IAM role). Then we can manage it's [members](https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#managing-contribu

[2021-05-12 08:50] pretidav commented on #4941
Current bug is still there with kf1.3 and minikube.
Even deleting the pv manually from command line
kubectl delete PersistentVolumeClaim myvolume -n myuser --wait=false --output name
cause it to get struck into Terminating state, without really deleting it.

[2021-05-12 10:00] DavidSpek commented on #5138
@Bobgy Can you maybe link to where the granular permissions for KFP are defined or handled? All I can find at the moment is role bindings for service account.

@bartgras A project "profile" would be an option. However, you will run into the problem that an there is no distinction between users and projects. Thus, you will need to create a user for each project and then share that project namespace

[2021-05-12 12:44] elikatsis commented on #5138
@DavidSpek
This issue is about notebooks (pods) talking to pods. What you describe happening is correct, but it's not a problem per se. It's highly connected to Kubernetes concepts and its concept of isolation.

When we're speaking of pods talking to pods, using ServiceAccounts **is** the way to go since we are running on Kubernetes. We shouldn't go back to something similar to KFAM, which proved

[2021-05-12 20:33] farshadsm opened #5640 "No experiment gets created by kfp.Client()"
Hi,
I've deployed Kubeflow onto an AWS EKS cluster. I tried to create and run Kubeflow pipeline using notebook UI inside Kubeflow cluster. However, no experiment gets created. I followed the example in https://www.kubeflow.org/docs/components/pipelines/sdk/build-pipeline/ to build the pipeline. Furthermore, I followed the instructions in https://www.kubeflow.org/docs/distributions/aws/pipeline/ to

[2021-05-13 01:15] Ark-kun commented on #5640
Can you please try some other `Client` methods like list_runs?
There might be auth error.

[2021-05-13 05:05] Bobgy commented on #5109
/cc @chensun @Ark-kun

Hi @ShilpaGopal, mounting secrets are probably never reusable, because they depend on your cluster setup. Therefore, you can only override env vars after initiating a component as an instance. See https://github.com/kubeflow/pipelines/blob/cadcac08bd6e2712ce62d7eb59ff0b3f2ee1bbe2/samples/core/visualization/tensorboard_minio.py#L168-L181

[2021-05-13 05:27] YannisPap commented on #1471
For anyone facing this problem on the GCP AI Platform's Pipelines (1.4.1), changing the nodes from `containerd` to `docker` has solved the problem for me.

[2021-05-13 05:46] Bobgy commented on #5109
TODO: update the mentioned doc that env is not supported

[2021-05-13 06:19] ShilpaGopal commented on #5109
@Bobgy Thanks for your input. Yes, I faced the issue were I had to maintain multiple reusable components per cluster in different environments. Overriding vars during initialization sounds like a good idea.

[2021-05-13 06:30] Shuai-Xie commented on #5589
Thanks for your kind reply @jaminsore.  But the problem may be not a version issue since the program can run successfully in a running pod if I use this method https://github.com/kubeflow/pipelines/issues/5589#issuecomment-835101733. By the way, I use python 3.6.13 both in the host and pod mode.

[2021-05-14 00:57] zijianjoy commented on #5640
@PatrickXYS Hello Patrick, this looks like authentication issue, would you like to take a look?

[2021-05-14 01:04] zijianjoy commented on #5620
@Ark-kun Hello Alexey, would you like to look at this example? Thank you!

[2021-05-14 07:10] NikeNano commented on #5598
Can we consider this fixed after merging https://github.com/kubeflow/pipelines/pull/5599 @maganaluis ?

[2021-05-14 07:11] Ark-kun commented on #5589
I did a small investigation.

The easiest way to debug component-related issues like that is to look at the component definition:

[code]

We immediately see the issue that was causing the weird behavior:

[code]

All type annotations are gone. Most importantly the output type annotations.

Yes, the `create_component_from_func`/`func_to_container_op` does that.

Why?

When not using code pickling

[2021-05-14 07:14] NikeNano commented on #5577
/assign

[2021-05-14 16:07] farshadsm commented on #5640
I think I need to follow the instructions in this url, https://www.kubeflow.org/docs/distributions/aws/authentication/authentication/, to provide TLS authentication for kubeflow. I'll try it and will let you know the outcome.

[2021-05-14 16:08] pablofiumara commented on #4569
Hi,

I am trying to make the following code work. My goal is to get a KFP client working with Azure. When I execute that, I get the error __urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='104.42.221.31', port=443): Max retries exceeded with url: /pipeline/apis/v1beta1/healthz (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:748)'),))__

[2021-05-14 18:03] karlschriek commented on #3405
Doesn't work yet. Minio version used by pipelines is currently still sitting at github.com/minio/minio-go v6.0.14+incompatible. I think this needs to be merged: https://github.com/kubeflow/pipelines/pull/3549

[2021-05-14 18:06] karlschriek commented on #3405
Also this issue also needs to be resolved: https://github.com/minio/minio-js/issues/841. As far as I can tell from piecing together the various PRs and issues on this topic we need both minio-go and minio-js to implement this and then we need the versions to be bumped on KFP's side

[2021-05-14 20:07] aaron-arellano commented on #3405
thanks for the response. hopefully there is resolution to this soon. I know a lot of people would love to use IRSA for S3 to avid using credentials or third party IAM providers...

[2021-05-15 13:15] DavidSpek commented on #5138
The problems I have raised are indeed mostly related to notebook pods, as these are also the largest security issue that will be the most difficult to solve. The issue with using any type of service account in a notebook pod is that no distinction can be made between and "viewer" and an "editor", which makes this problem relevant for the current implementation for accessing the KFP endpoint. Anybo

[2021-05-15 14:34] DavidSpek opened #5651 "[feature] Add PVC File Browser to Viewer CRD"
### Feature Area
/area backend

### What feature would you like to see?

Add a `PVC Viewer`/`File Browser` spec to the Viewer controller.

### What is the use case or pain point?

This feature would allow people to launch a "File Browser" pod, which allows them to easily drag and drop files into a PVC or download files and folders present in a PVC. For KFP users, this can be useful if a pipeline s

[2021-05-15 14:43] jtfogarty commented on #5651
👍🏽
This will come in very handy for my user!!

[2021-05-15 15:00] NikeNano commented on #5545
I think [this issue](https://github.com/kubeflow/pipelines/issues/5234) could guide you to a solution @prasadkyp7

[2021-05-15 15:06] zulissi commented on #5651
This would also be very helpful for us. Especially when trying to figure out which PVCs can be safely cleaned up.

[2021-05-15 15:36] karlschriek commented on #5651
Looks great! Really handy feature and very much in line with the sort of functionality our our clients are looking for. What would need happen in order to implement this?

[2021-05-15 15:37] blairdrummond commented on #5651
This approach would be very useful for us. It would also help with a related functionality; ultimately artifacts that researchers create within these notebooks will need to be extracted out and sent to a vetting team to assess possible disclosures. This strategy would make it really easy for us to build a workflow for that use-case.

[2021-05-15 15:38] DavidSpek commented on #5635
"We're planning an SDK release this week. Probably have an RC version out mid-week at least."
From: https://github.com/kubeflow/pipelines/issues/5254#issuecomment-835991598

[2021-05-16 07:28] Attila111111 opened #5653 "[backend] <Bug Name>"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-16 07:44] #5577 closed

[2021-05-16 13:19] akiyamasho commented on #2653
I'm aware the devs have already solved it for non-GCP deployments, but just FYI I can confirm @hamko 's test. I have a cluster running on `asia-northeast1-a` and the recurring runs still require UTC time to be set. e.g. - I need to put `13:14 UTC` to have the recurring run be performed at `22:14 JST`

<img width="467" alt="スクリーンショット 2021-05-16 22 16 18" src="https://user-images.githubusercontent.c

[2021-05-16 13:41] midhun1998 commented on #5511
Haven't done it. Found an alternative way to achieve what we wanted. Closing this.

[2021-05-16 13:41] #5511 closed

[2021-05-16 15:31] Bobgy commented on #2653
FYI, as NikeNano said, for any deployment, the default time zone is always UTC (to be backwards compatible).

So you need to configure the time zone to your local one manually. It might make sense to change GCP marketplace default to local time zone, because it doesn't support in-place upgrade. Curious about your thoughts

[2021-05-17 01:18] rylynchen opened #5655 "Failed to start Tensorboard app"
### What steps did you take

Hi, I create a volume named 'nfs', and amount to the training pod in the pipeline. And training code generate tensorboard dir in the amount dir. But when I go to look tensorboard view, get error:
![p2](https://user-images.githubusercontent.com/1971286/118113863-682e9f00-b419-11eb-8e3d-ec38f1bba07f.png)

pipeline code:
[code]
My training code generate tensorboard data i

[2021-05-17 04:12] akiyamasho commented on #2653
I see. That does make sense. For non-international teams, UX-wise it would make sense to have it listen to the local time zone.

However, for international teams in different time zones, a single source of truth would be the best alternative. Either UTC which is the default, or the timezone of the cluster's location (e.g. - `us-central1-a` defaults to `UTC -6h`).

Looking at this, I think keeping

[2021-05-17 04:15] akiyamasho commented on #2653
I think we can do either the documentation update solution above, or much more simply just add the deployment's timezone to the UI as an initial improvement.

In the next iteration, we can then change the UI to use the user's local time zone but adjust and send a UTC time (or whatever the deployment's timezone is) from the frontend when making requests.

[2021-05-17 05:18] Bobgy commented on #3405
Hi everyone, for KFP v2 compatible mode, we've switched to use https://gocloud.dev/ to access S3. Can someone help me verify whether it supports your use-cases especially IRSA and how?
You can find more about the design in [bit.ly/kfp-v2-compatible](bit.ly/kfp-v2-compatible)

[2021-05-17 06:08] karlschriek commented on #3405
Hey @Bobgy, I could help with this. Could you give me some more info on what you would like to verify exactly? I guess this will replace the Minio Go and JS clients that are currently in use?

The link bit.ly/kfp-v2-compatible gives me a 404 error.

[2021-05-17 06:19] Bobgy commented on #3405
Thanks @karlschriek! Yes, we'd like to replace MinIO Go with Go CDK (also KFP tasks in pipelines will use Go CDK to upload/download from storage). So it'll be helpful to verify whether Go CDK (as an alternative client for S3) can support the IRSA you are talking about.

Re the 404 error, sorry I made a mistake, fixed the link.

[2021-05-17 06:28] karlschriek commented on #3405
Ok, it looks promising at least: https://github.com/google/go-cloud/pull/2773.

IRSA works by attaching annotations to the ServiceAccounts that get attached to Pods. So all we would need to do is attach the right annotations to the ServiceAccounts for the pipelines api etc, as well as whatever sa is used for the pipeline jobs.

I'll provide you with some small examples and also try out the Go SDK.

[2021-05-17 06:30] karlschriek commented on #3405
Is there already an issue that tracks this? I guess the current issue is probably not the right place to continue this discussion.

[2021-05-17 06:48] Bobgy opened #5656 "[feature] consistently support object stores"
### Feature Area

/area backend

### What feature would you like to see?

Consistently support different object stores (MinIO, S3, GCS, Azure blob, ...) in KFP, no matter it's for UI preview / visualization, metrics or in pipeline tasks.

Propose to unify using Go CDK: https://gocloud.dev/.

Changes:
1. In https://bit.ly/kfp-v2-compatible mode, KFP pipeline tasks will use Go CDK to upload/download

[2021-05-17 06:49] Bobgy commented on #3405
@karlschriek WDUT about https://github.com/kubeflow/pipelines/issues/5656?

[2021-05-17 13:08] HelmiGH opened #5659 "[sdk] BadRequestError: Request header error: there is no user identity header."
### Environment

*  KFP version:
*  KFP SDK version: 1.0.4
*  All dependencies version:
kfp (1.4.0)
kfp-pipeline-spec (0.1.7)
kfp-server-api (1.4.1)

### Steps to reproduce
[code]
I compiled the pipeline and I want to create a run directly from the terminal running python script.py
I was able to make a run in a jupyter notebook inside the notebook server adding an envory filter but I couldn't make

[2021-05-17 13:11] HelmiGH commented on #5659
@Bobgy

[2021-05-17 13:40] maganaluis commented on #5598
@NikeNano Yes, I missed tagging this issue to the PR.

[2021-05-17 13:40] #5598 closed

[2021-05-17 14:48] Shuai-Xie commented on #5589
Hi, @Ark-kun. Many thanks for your detailed analysis and a clear experiment.

I'd like to describe my scenario first.

Assuming the **outer pipeline** has two components `C1` and `C2`, both of them provide resident services.

- `C1`: a webui, which receives the user input, e.g. task categories: `[classification, detection]`
- `C2`: a pipeline manager, which generates **new (inner) pipelines** doin

[2021-05-17 17:47] NikeNano commented on #5576
/assign

[2021-05-17 17:49] deepio-oc commented on #5493
I agree with @hsinhoyeh. @Bobgy could you provide me the access to the document (I sent the request). I would like to understand why these services are launched per user.

[2021-05-17 18:54] NikeNano commented on #5576
I don`t get this issue on the latest version of Kubeflow pipelines.

[2021-05-17 23:20] annajung commented on #5215
Hi @Bobgy @ypitrey, a new contributor here looking for a good first issue to work on.
I like to work on this issue if this is still relevant & have a few questions to clarify the ask.

Is the ask to simply remove the sorting of metrics or to create a functionality that a user can choose the metrics that show up on the UI?

In addition, I think you're looking for a way to show more than two metrics

[2021-05-18 00:43] zijianjoy commented on #2159
/assign @zijianjoy

[2021-05-18 00:45] zijianjoy commented on #2159
We now have a tab to show all the task details, including duration: https://github.com/kubeflow/pipelines/pull/5023

[2021-05-18 00:45] #2159 closed

[2021-05-18 02:54] #5544 closed

[2021-05-18 03:01] Ark-kun commented on #5589
Should it be *generating* new pipelines or just *launching* new pipeline runs? You can easily launch a pipeline or component from a component.

The issue only occurs when calling `create_component_from_func` inside function passed to `create_component_from_func`. It won't occur when they're called sequentially for example.

Could you create, say 5 components/pipelines for different tasks, then cre

[2021-05-18 03:05] Ark-kun commented on #5589
You cannot define it in the component function (used with `create_component_from_func `). But it can be anywhere else. E.g. You could load a function from a python module and use `create_component_from_func ` on it. Or you can download the source from GitHub. It's about the location of the source code. You cannot have component function source within component function source code. But only that i

[2021-05-18 03:11] Ark-kun commented on #5589
Another option to work around the issue - make either inner or outer component function without using `create_component_from_func` - you can create component.yaml directly.

[2021-05-18 03:15] revathijay opened #5663 "[marketplace] Kubeflow Pipelines doesn't work on Kubernetes 1.19 or above"
### What steps did you take
Tried out the default kubeflow pipeline for TFX taxi prediction model in GCP marketplace Kubeflow pipeline version 1.4.1

### What happened:

The error message for the csvexamplegen step is as follows.
This step is in Error state with this message: failed to save outputs: Error response from daemon: No such container: b715c336e667d305429003d1ce1c9b795ced595aa76b2bf252c6

[2021-05-18 08:28] #5653 closed

[2021-05-18 09:14] juangon opened #5664 "[sdk] Upload new SDK v2 JSON pipeline to Kubeflow 1.3"
### Environment

*  KFP version:

*  KFP SDK version: 1.6.0.rc0

*  All dependencies version:

### Steps to reproduce

Within a Kubeflow Jupyter notebook, create a v2 pipeline. It seems json file should be provided when compiling using Compiler().compile method

Upload json file to Kubeflow 1.3 pipeline UI as a new pipeline

Then, Kubeflow will return an error.

### Expected result

Should  upload

[2021-05-18 09:58] tuvovan commented on #4763
can you share the code snippet to make the tensorboard shown?

[2021-05-18 12:24] Bobgy opened #5666 "v1 visualizations backward compatible in v2 compatible"
support v1 visualizations:
https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/

Changes needed:
* [x] Doc: update https://kubeflow.org/docs/components/pipelines/sdk/output-viewer/ according to https://www.kubeflow.org/docs/components/pipelines/sdk/pipelines-metrics/
* [x] https://github.com/kubeflow/pipelines/pull/5832 SDK: remove hacks for mlpipeline-ui-metadata artifact in v2 c

[2021-05-18 12:25] Bobgy opened #5667 "[v2compat] umbrella - KFP data model based caching"
internal tracker: b/181133870

Work Items estimate:
* [x] #5726  (size/L)
* [x] #5816 (size/M)
* [x] #5817(size/M)
* [x] #5818(size/S)
* [x] #5819 (size/M)
* [x] #5820 (size/M)
* [x] #5977

total: 4w, 1d for SDK team

[2021-05-18 12:26] Bobgy commented on #5667
/assign @capri-xiyue

[2021-05-18 12:26] Bobgy commented on #5666
/assign @chensun
for SDK
/assign @zijianjoy
for UI

[2021-05-18 12:33] Bobgy opened #5668 "v2 metrics visualization"
components can output metrics artifacts that are rendered in UI.
Sample pipeline: https://github.com/kubeflow/pipelines/blob/89364315e96ca0e14106ef178336f72265a8e91a/samples/test/metrics_visualization_v2.py

TODOs:
* [x] ~~add MLMD state verification of this pipeline: https://github.com/kubeflow/pipelines/blob/89364315e96ca0e14106ef178336f72265a8e91a/samples/test/metrics_visualization_v2_test.py#L

[2021-05-18 12:51] Bobgy commented on #5668
b/186482243

[2021-05-18 13:14] Bobgy commented on #5668
/assign @zijianjoy

[2021-05-18 13:19] Bobgy commented on #5460
Closing because question answered, we do not currently have good enough support for visualization + volume based data passing.

[2021-05-18 13:19] #5460 closed

[2021-05-18 14:04] Bobgy opened #5669 "[v2compat] finalize pipeline run MLMD schema"
TODOs:
* [ ] Design, figure out the exact list of items we need to change (size/M)

Known work items:
  * [x] https://github.com/kubeflow/pipelines/issues/5788 (size/XS)
      * [x] https://github.com/kubeflow/pipelines/pull/5842
  * [x] #5789  (size/S)
  * [ ] [v2compat] remove redundant fields “pipeline_name”, “pipeline_run_id” from execution custom properties
  * [x] https://github.com/kubeflow

[2021-05-18 14:04] Bobgy commented on #5669
/assign @capri-xiyue

[2021-05-18 14:08] Bobgy commented on #5669
b/187556737

[2021-05-18 14:11] Bobgy opened #5670 "[UI] inputs/outputs tab in KFP semantics"
KFP Inputs/Outputs tab in run details page is currently very coupled to argo.

For v2 compatible pipelines, we can use information from MLMD to render the Inputs/Outputs tab in KFP semantics.

[2021-05-18 14:13] juangon commented on #5558
Love this idea. I am new to Kubeflow and was implementing a "normal" pipeline but looks like deployment isn't well supported, and found this issue.

[2021-05-18 14:15] Bobgy opened #5671 "[Launcher] skip downloading artifacts used by InputUri for v1 components"
For v1 components, we can rely on artifact placeholders to understand whether one artifact is used via InputUri or InputPath. Only the input artifacts consumed by InputPath need to be downloaded.

For v2 python components, we cannot distinguish at the moment. We can distinguish v2 python components by checking if the root placeholder `{{$}}` is used in the component args/commands.

[2021-05-18 14:15] Bobgy commented on #5671
/assign @capri-xiyue

[2021-05-18 14:18] Bobgy opened #5672 "[Launcher] skip downloading artifacts not used by InputPath in v2 components"
As explained in https://github.com/kubeflow/pipelines/issues/5671, we cannot know if an artifact is used by local path in v2 python components.

So we need to figure out how we can know that first and then skip downloading unneeded artifacts.

[2021-05-18 14:24] Bobgy opened #5673 "[Launcher] support non-root containers in v2 compatible mode"
Currently, because the launcher writes input artifacts to paths like:

* `/gcs/xxx`
* `/minio/xxx`
* `/s3/xxxx`

These paths are not accessible by non-Root users by default.

When using a component with non-Root image, launcher fails when preparing input/output artifacts.

Because `/gcs/xxx` is currently a contract for KFP v2 python component wrappers, we cannot change to a different path like `/t

[2021-05-18 14:25] Bobgy opened #5674 "Rest API to query pipeline run results"
Umbrella issue, this tracks
1. coming up with a standard spec that describes pipeline run results for all the engines, e.g. we now have Argo, Tekton and Vertex AI pipelines.
1. implement REST API for this spec

[2021-05-18 14:27] Bobgy commented on #5670
/assign @zijianjoy

[2021-05-18 14:28] Bobgy opened #5675 "KFP UI with KFP semantics"
Starting from v2 compatible mode, all the KFP semantics information should be available in MLMD.

Therefore, now we can start to render KFP UI in argo agnostic ways.

This is an umbrella issue to find out things we can improve under this theme.

Known issues:
* [x] https://github.com/kubeflow/pipelines/issues/5670

Depends on https://github.com/kubeflow/pipelines/issues/5669

[2021-05-18 14:28] Bobgy commented on #5675
/assign @zijianjoy

[2021-05-18 14:30] Bobgy commented on #5565
Duplicate of https://github.com/kubeflow/pipelines/issues/3226

[2021-05-18 14:30] #5565 closed

[2021-05-18 17:59] #5556 closed

[2021-05-18 19:25] Ark-kun commented on #5673
It's possible to specify the user that the container should run under. Backend can auto-set that on all containers.

[2021-05-18 19:28] Ark-kun commented on #5666
I'd really like to see `mlpipeline-ui-metadata` gone in the future.
But first there needs to be an alternative to it.
Supporting "type-based visualizations" and "visualizations as components" will provide a better alternative.

[2021-05-18 19:30] Ark-kun commented on #5663
Do any other pipelines run successfully?

[2021-05-18 19:31] padrian2s commented on #5576
I use the default XGB after KF install, the one that is already published into DB.

[2021-05-18 19:42] Ark-kun commented on #5496
@Tomcli @Udiknedormin I consider this issue to be a compiler bug or missing feature.
It makes sense to fix that, but it can be non-trivial due to the general compiler architecture.
In most cases, the compiler is "task-oriented", not "component-oriented". It generates Argo templates based on specific tasks and usages (e.g. whether constant or reference was passed as argument), instead of generating

[2021-05-18 20:34] ca-scribner commented on #5651
Yeah this would definitely be helpful.  Having better support for this would make managing PVCs much easier, which in turn would make managing data generated by pipelines much easier.  Would be great for use cases that need some mix of automation and interactivity.

[2021-05-18 21:47] capri-xiyue commented on #5467
This issue got fixed by https://github.com/kubeflow/pipelines/pull/5629

[2021-05-18 21:47] #5467 closed

[2021-05-19 00:03] Bobgy opened #5680 "v2 compatible on full Kubeflow"
UPDATE:
PRs have been written:
* https://github.com/kubeflow/pipelines/pull/5697
* https://github.com/kubeflow/pipelines/pull/5750
* https://github.com/kubeflow/gcp-blueprints/pull/284

===

This issue tracks efforts to make [v2 compatible pipelines](https://www.kubeflow.org/docs/components/pipelines/sdk/v2/) run on [full Kubeflow](https://www.kubeflow.org/docs/components/pipelines/installation/ov

[2021-05-19 00:03] Bobgy commented on #5680
/assign @Bobgy

[2021-05-19 03:34] Bobgy opened #5681 "[feature] generic viewer operator for managing user webapps in Kubeflow"
### Feature Area

/area backend

### What feature would you like to see?

Besides tensorboard, KFP viewer controller supports generic viewers.

A viewer is a long running container that exposes a webapp through a certain port. (along with required setup to expose it through ingress, e.g. virtualservice in istio)
It can help visualize outputs of a pipeline component, but it can also be used outside

[2021-05-19 03:51] Bobgy commented on #5651
Hi folks, I'm sending out a proposal for building a generic viewer, see https://github.com/kubeflow/pipelines/issues/5681.
Curious about your thoughts there.

[2021-05-19 04:05] Bobgy commented on #5666
@Ark-kun the goal of this issue is to ease migration, when switching to v2-compatible pipelines, people can gradually move to type-based visualization with their existing pipelines.

[2021-05-19 04:56] Bobgy commented on #4715
TODO: release go-mod-licenses tool and document how to use it in KFP

[2021-05-19 05:59] Bobgy opened #5683 "Update sample pipeline names to recommended resource format"
Good: "my-pipeline"
Bad: "my_pipeline"

No underscores, spaces etc special characters.

[2021-05-19 06:00] Bobgy opened #5684 "[SDK] better compiler error message when input type mismatch between parameter/artifact"
https://github.com/kubeflow/pipelines/blob/f757a8842fd6d1ed3d37ab38c0707d127ea2048c/samples/core/exit_handler/exit_handler_test.py#L24-L34

download_gcs component has input type 'GCS Path', it has a cryptic error message when the input is passed a string parameter:

Because this can be a common mistake, I think it deserves a better error message which includes:

* clearly indicates what is going w

[2021-05-19 06:00] Bobgy commented on #5684
/assign @chensun

[2021-05-19 06:04] Bobgy opened #5685 "[Launcher] presubmit unit tests"
https://github.com/kubeflow/pipelines/tree/master/v2

this should run:
* go mod tidy
* go test ./... (including tests that use an one-off MLMD local server)

[2021-05-19 06:06] Bobgy opened #5686 "[Samples] organize and document sample folder structure with v2 samples"
Propose using the following convention to organize samples:

* all core samples are by default compatible with both v1 and v2.
* samples that only run on v2 should be added either in samples/v2/core folder, or next to a corresponding v1 sample and have a v2 suffix, e.g. exit_handler_v2.py
* core samples that do not currently run on v2, but we have plan to support so can stay in samples folder, but

[2021-05-19 06:08] Bobgy opened #5687 "[Samples] update all core samples to avoid container op"
context: https://github.com/kubeflow/pipelines/pull/4166

remaining occurrences: https://github.com/kubeflow/pipelines/search?p=2&q=containerop+path%3Asamples%2Fcore

[2021-05-19 06:10] Bobgy opened #5688 "[SDK] better compiler error message when using v2 components in v1 mode"
Here's what I currently get when using v2 lwt components in KFP v1. This can be a common mistake when we start to build v2 only pipelines. So I think it's worth making it more readable.

[code]

I'm testing this
[code]

[2021-05-19 06:10] Bobgy commented on #5688
/assign @chensun

[2021-05-19 06:12] Bobgy opened #5689 "[Samples] Add v2 compatible built-in samples"

[2021-05-19 06:13] Bobgy opened #5690 "[Doc] generic introduction of connecting KFP SDK to a cluster"
https://github.com/kubeflow/website/pull/2715#discussion_r632715772

[2021-05-19 06:15] Bobgy commented on #5315
Moving this to v2 compatible project, because this especially affects MLMD artifacts etc, they are important in v2 compatible mode

[2021-05-19 06:17] Bobgy commented on #5673
@Ark-kun do you mean our backend sets all containers to run as root by default?

[2021-05-19 06:19] Bobgy opened #5691 "[Doc] introduce v2 compatible mode current caveats"
current caveats introduced in https://bit.ly/kfp-v2-compatible,

we also need to link to this section in kubeflow.org documentation https://www.kubeflow.org/docs/components/pipelines/sdk/v2/v2-compatibility/

[2021-05-19 06:20] Bobgy opened #5692 "Migrate v2 sample tests to use v2 compatible pipelines"
This helps:
* validation of v2 compatible mode
* inspire new ideas to improve the UX

[2021-05-19 06:22] Bobgy opened #5693 "[Release] KFP 1.6.0 release"
Changes we need:
* add permission for token request (prepare for auth token change in SDK)
* running v2 compatible mode in Kubeflow 1.3.1 https://github.com/kubeflow/pipelines/issues/5680
* https://github.com/kubeflow/pipelines/issues/5717

Only the first change seems reasonable in a short time period, so I plan to implement it. The other changes can probably wait for 1.7.0 or 1.6.x

[2021-05-19 06:33] mjurkus commented on #5460
Is there a workaround for that? Of

[2021-05-19 07:02] zygm0nt opened #5694 "[bug] Broken pipe when using AI platform training operator"
### What steps did you take

Start a long-running job on AI platform and have it succeed, to be able to progress to subsequent steps.

I have a job defined using this operator:

[code]

and I start it with the following parameters set (note that I'm running the job from docker image):

[code]

### What happened:
After some time the job fails with the following error - this is roughly an hour.
[cod

[2021-05-19 07:21] Bobgy commented on #5680
I'm trying to run v2 compatible pipeline on full Kubeflow, as expected, it fails when uploading to minio storage:
[code]

[2021-05-19 07:28] Bobgy commented on #5680
Interesting, when I switch pipeline_root to a gcs path like gs://gongyuan-dev/v2/.
The pipeline runs successfully, so finding mlmd grpc service host was not a problem.

I checked how that's configured -- the mlmd grpc service host and port come from k8s env vars:

[code]

[2021-05-19 07:29] Bobgy commented on #5680
it seems that the easiest way to make minio service host/port auto discovery work is to switch to the same mechanism

[2021-05-19 07:55] Bobgy commented on #5680
Because configmaps needs to be deployed, I propose a simpler default mechanism:
1. Find if env vars like `MINIO_SERVICE_SERVICE_HOST` and `MINIO_SERVICE_SERVICE_PORT` exists, if they do, then we are running in KFP single namespace mode, we can use these env vars to connect to minio service.
2. If the env vars do not exist, we can assume we are running in KFP multi user mode, so default minio servi

[2021-05-19 08:58] zygm0nt commented on #5694
I see this was solved by a previous CR: https://github.com/kubeflow/pipelines/issues/5085

[2021-05-19 08:58] #5694 closed

[2021-05-19 09:29] DavidSpek commented on #5681
I think this would be a great step forward in terms of making it possible to easy run any type of web app with Kubeflow. The example resource from above would need some additional values of course, such as resource limits and requests, etc. Another important value that needs to be added is a `type` classification, so that the various web apps can filter through the different types of viewer (such

[2021-05-19 09:55] difince commented on #5683
@Bobgy, I am a new contributor looking for my first issue.
Could I work on this ?

[2021-05-19 10:09] difince commented on #5674
@Bobgy I am new contributor, looking for my first issue .. Could I work on this one ?
As I understand a new rest endpoint need to be added ?

[2021-05-19 12:02] Bobgy commented on #4649
FYI, KFP v2 compatible mode has been released, see documentation: https://www.kubeflow.org/docs/components/pipelines/sdk/v2/.

Let me try to summarize requirements for configuring artifact repositories for both KFP v2 compatible and v2.

For GCS, AWS S3, we suggest setting up credentials, so that they represent identity of the pipeline step, so that not only artifact upload/download, calls to othe

[2021-05-19 12:50] cabjr commented on #5663
I had the same issue (with a custom pipeline), this started to happen after i launched a large number of runs and i had to stop the workloads from the GKE panel because the Kubeflow Pipelines dashboard wasnt responding.

[2021-05-19 14:11] andre-lx commented on #5244
In azure, the problem is that istio pods are not being injected to the pods in kubeflow.

Azure enforces that the `MutatingWebhookConfiguration - istio-sidecar-injector` in kubeflow is being automatically edited by AKS to add the following match expression in the namespaceSelector:

[code]

So the MutatingWebhookConfiguration looks like this:

[code]

This will exclude the kubeflow namespace, sinc

[2021-05-19 16:06] Bobgy commented on #5683
Thank you @difince ! Yes, this is suitable for first time contributor.

The desired change is to review all pipelines in samples folder, if they have @pipeline annotation, change the pipeline name to only contain lowercase letters, hyphen and numbers.

[2021-05-19 16:09] Bobgy commented on #5683
Example
https://github.com/kubeflow/pipelines/blob/63a59a7e765b18c2fad04fa9e8431e82467e0cbb/samples/core/dns_config/dns_config.py#L32

should be changed to 'dns-config-setting'

[2021-05-19 16:34] Bobgy commented on #5576
I vaguely remember this is already fixed in later KFP version

[2021-05-19 16:39] Bobgy commented on #5215
Thank you @annajung !
This is still relevant, it seems removing sorting would be enough.

[2021-05-19 17:03] allenc97 commented on #5244
Yes, the point of my issue was suggesting we can go around it by adding `admissions.enforcer/disabled: "true"`, preferably in the azure overlays.

[2021-05-19 17:19] difince commented on #5674
Thank you for the response @Bobgy

[2021-05-19 17:22] difince commented on #5683
Thank you @Bobgy for your explanatory response!

[2021-05-19 19:38] cabjr commented on #5663
I tried to reinstall the KFP using GCP Marketplace and didnt worked, i tried to delete the cluster and recreate everything from scratch and the KFP doesnt work anymore (i've also deleted the artifacts from GCP Bucket). Do you have any clues @Ark-kun ?

I've never experienced this issue before

[2021-05-19 20:29] ahsan-n opened #5700 "[bug] kserving-component still uses minio however boto3 is officially added in kf-serving to use IRSA"
### What steps did you take

Hi, so i am creating pipeline to host / serve model that resides in s3. For that I used [example for sample pipeline](https://github.com/kubeflow/kfserving/blob/master/docs/samples/pipelines/sample-tf-pipeline.py) which has [kfserving-component ](https://raw.githubusercontent.com/kubeflow/pipelines/master/components/kubeflow/kfserving/component.yaml). I replaced gc pat

[2021-05-19 21:24] annajung commented on #5215
Thanks for the clarification @Bobgy
Created a PR https://github.com/kubeflow/pipelines/pull/5701, any feedback would be appreciated! Thanks

[2021-05-19 23:41] Bobgy opened #5703 "[feature] Consistent timezones"
### Feature Area

/area backend

### What feature would you like to see?

Consistent timezone experience in KFP.

Config: default to local time zone, configurable to any timezone.
UX: all the code that deals with time should act in this timezone:
- API server - time related pipeline placeholders
- Cron expression timezone
- are there more?

Challenge:
How to handle upgrade? This is a breaking chan

[2021-05-20 00:26] berndverst commented on #4569
@pablofiumara that sounds like the issue others are talking about -- the Kubeflow Client can't verify the self signed certificate on the server. You need to replace these certs like @Junaid-Ahmed94 said.

[2021-05-20 04:10] Bobgy opened #5704 "[v2compat] configurable default pipeline root"
Quoted from https://github.com/kubeflow/pipelines/issues/4649#issuecomment-844035914
Blocks https://github.com/kubeflow/pipelines/issues/5680

[2021-05-20 04:10] Bobgy commented on #5704
/assign @capri-xiyue

[2021-05-20 04:28] Bobgy commented on #5303
@judyliou sorry for the late reply, the annotation is used to distinguish tfx pipelines from KFP pipelines.
For TFX pipelines, they should not be cached by KFP cache controller, because TFX come with their first party caching feature. This bug is caused by KFP caching TFX pipelines.

Can you confirm your KFP backend is upgraded to 1.5.0+? The fix was released in 1.5.0, see https://github.com/kubef

[2021-05-20 04:30] Bobgy commented on #5303
Ohh, so that explains this original issue, KFP backend is 1.4.1 and the fix was only released in 1.5.0

[2021-05-20 05:35] Bobgy opened #5705 "[pH] move kubeflow/frontend into KFP repo"
https://github.com/kubeflow/frontend

imports: https://github.com/kubeflow/pipelines/search?q=kubeflow%2Ffrontend

[2021-05-20 05:35] Bobgy commented on #5705
/assign @zijianjoy

[2021-05-20 08:07] lambertsbennett opened #5706 "[sdk] compile() got an unexpected keyword argument 'mode'"
### Environment
I have a minikube cluster running on a linux server (Ubuntu 18.04) where kubeflow pipelines is running. I am connected via an ssh tunnel from my laptop running Windows 10. I am writing code in Python 3.8.5. I can connect with kf pipelines and list current experiments/runs and all that from my environment. I also previously used function-based components and was able to submit those

[2021-05-20 08:14] lambertsbennett commented on #5706
Also, if I change the package_path to 'prophet-test.yaml' the upper error disappears, but the compiler error remains.

[2021-05-20 10:39] difince commented on #5683
@Bobgy  What about lowering the upper case latters ?
https://github.com/kubeflow/pipelines/blob/54ac9a6a7173aecbbb30a043b2077e790cac6953/samples/contrib/ibm-samples/watson/watson_train_serve_pipeline.py#L42

should it be `name='kfp-on-wml-training'` or
`name='KFP-on-WML-training'`

[2021-05-20 10:51] omarzouk commented on #4713
@Bobgy @Ark-kun
regarding https://github.com/kubeflow/pipelines/issues/4713#issuecomment-722015153

is this meant to be future proof? is this going to be supported moving forward?

Today:
1- We can share docker images very easily in any cloud environment
2- We can't share arbitrary yaml config files without making our components public, passing around github tokens, or putting code on gcs/s3 or li

[2021-05-20 11:27] omarzouk opened #5708 "[feature] Provide a `kfp.components.load_component_from_dict` function"
### Feature Area

/area sdk

### What feature would you like to see?

Provide a `load_component_from_dict`  function that calls `ComponentSpec.from_dict` under the hood, which would allw the user to create operators in a fashion similar to the old `dsl.ContainerOp` without having to generate an intermediate yaml file. The spec of this dictionary can be 1-to-1 with the yaml and this would be easy t

[2021-05-20 16:02] Bobgy commented on #5683
Hi @difince, sorry I wasn't clear on the scope. It's enough updating all samples in samples/core folder.

ContainerOp/VolumeOp/VolumeSnapshotOp names do not need any changes. Right now, we are only moving towards restrictor name for pipelines, because they will be context names.

[2021-05-20 16:02] Bobgy commented on #5683
And uppercase should be lowered

[2021-05-20 16:21] rclough opened #5709 "[sdk] Regression - func_to_container_op no longer handles backslash characters correctly"
### Environment

*  KFP version: Works <1.2.0, broken in 1.2.0+

### Steps to reproduce

This is a super simplified version of what I've found:

[code]

### Expected result

Component should print:

[code]

This works in kfp<1.2.0, but not >=1.2.0, in >=1.2.0, the component fails and the following is logged:

[code]

### Materials and Reference

Context:

When updating kfp SDK recently, one of our

[2021-05-20 16:35] juangon opened #5710 "[sdk] Regression in 1.6.2, it generates wrong indentation when compiling to YAML"
### Environment

*  KFP version: 1.6.2
*  KFP SDK version: 1.6.2
*  All dependencies version:

### Steps to reproduce

Upgrade to latest kfp (1.6.2)
Compile a pipeline (using dsl.component annotations in my case)
When executing pipeline, an "Indent" error will show up.
It works in 1.6.0. Fails in 1.6.2

### Expected result

It executes pipeline properly.
### Materials and Reference
---

Impacted b

[2021-05-20 16:35] wilbry commented on #5560
The packaged KFServing component isn't currently compatible with V2, due to the Bool type no longer being supported as far as I know. The issue I got happens when that is fixed.

[2021-05-20 18:02] jackwhelpton opened #5711 "v2 compiler has data passing limitations"
### Environment
kfp                      1.6.2
kfp-pipeline-spec        0.1.7
kfp-server-api           1.5.0

### Steps to reproduce
Use the `upload_to_explicit_url` component in a pipeline (picking a version that includes the latest v2 updates):

[code]

As the `Data` input is untyped, it is treated as an artifact, and compiling produces this error:

[code]

The fix appears straightforward, to in

[2021-05-20 19:05] jaminsore commented on #3907
/reopen Has this been fixed? I can construct a `kfp.Client`, but am unable to list pipelines or perform any other `Client` actions when passing in an istio port-forwarded IP for `host`.

[2021-05-20 23:16] Bobgy commented on #3516
Hi @jli, before KFP invents its own way to notify, you can use argo's ways -- see above https://github.com/argoproj/argo/blob/master/docs/workflow-notifications.md

These are configurable transparently

[2021-05-21 00:43] zijianjoy commented on #5655
You can follow the `deploy ml-pipeline-ui to support tensorboard viewer` in https://github.com/kubeflow/pipelines/blob/master/docs/config/volume-support.md to mount this volume for tensorboard. Note that this feature is in alpha phase, so it might not be stable.

[2021-05-21 00:47] zijianjoy commented on #5663
Hello @cabjr , Kubeflow Pipelines doesn't work on Kubernetes 1.19 or above, would you like to confirm the k8s version of your Kubeflow cluster? If it is the case, you might need to create a new cluster with K8s 1.18, and deploy Kubeflow pipelines on it.

Reference: https://github.com/kubeflow/pipelines/issues/1654

[2021-05-21 01:15] zijianjoy opened #5714 "KFP docker executor doesn't support Kubernetes 1.19 or above"
## UPDATE 2021-8-16

you can use emissary executor instead starting from Kubeflow Pipelines 1.7, this is the only executor that works, if you don't have Docker runtime in your cluster (Docker runtime is not the default installation option since GKE 1.18).
Documentation: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/

## issue reference
https://github.com/kubeflow/

[2021-05-21 01:23] Bobgy commented on #5714
/assign

[2021-05-21 03:10] revathijay commented on #5663
I finally got it working. it was because the creation of the cluster was blocked from the marketplace page. And I had to tweak the creation of the cluster manually with the rt set of options and the pipeline started working.

[2021-05-21 03:10] #5663 closed

[2021-05-21 04:13] jli commented on #3516
Thanks @Bobgy! I will give that a try.

I see in my k8s cluster that there's a `workflow-controller-configmap` - do I just need to update this value with my desired `workflowDefaults` config? Is it possible that KFP or Argo would remove/update the configmap in the future and cause my configuration to be lost?

[2021-05-21 04:35] Shuai-Xie commented on #5589
Hi @Ark-kun, thanks for your suggestion. I think I've got your points. The current python sdk features of kubeflow pipeline can meet my demands now.

**In the past few days, I've connected the pipeline component functions with the native `@staticmethod` of python class. By doing this, I can define a `specific kubeflow pipeline template` with `a specific python class` now. And these self-defined te

[2021-05-21 05:58] Bobgy commented on #5669
One problem I found from https://github.com/kubeflow/pipelines/issues/5668, is that

https://github.com/kubeflow/pipelines/blob/89364315e96ca0e14106ef178336f72265a8e91a/samples/test/metrics_visualization_v2.py#L62
For now, we log a custom property called "accuracy" in the artifact, but if we do not know in advance which metric names are logged, we cannot know which custom properties correspond to

[2021-05-21 06:21] Ark-kun commented on #5589
I'm not sure I understand why this is a problem.

Is there a reason why they cannot just be normal functions outside of the class? I'm not sure I understand why the class is needed.

P.S.
The low-level scenario you're showing seems pretty weird. I wonder whether there is a simpler way to do what you're doing.
For example, `func_to_container_op(self.add)(a, b)` is a pretty weird construct.
The usua

[2021-05-21 06:25] Bobgy commented on #3516
@jli

1. yes, you can use KFP exit handler.

2. No, your configmap won't be changed, unless you upgrade KFP/argo. You can maintain a kustomize overlay if you care about infra as code.

[2021-05-21 07:13] Bobgy opened #5717 "[bug] GCP marketplace default config values do not work"
### What steps did you take

1. Install KFP from [AI Platform Pipelines](https://console.cloud.google.com/marketplace/product/google-cloud-ai-platform/kubeflow-pipelines)
2. check managed storage
3. fill in db connection name and gcs bucket name
4. leave the rest as empty

### What happened:

All the default values are filled by empty strings.

### What did you expect to happen:

I was expecting d

[2021-05-21 07:33] juliusvonkohout opened #5718 "[feature] default to the emissary executor"
#### Update - 2021.9.13
edited by @Bobgy

KFP 1.7.0 is released.
documentation is live: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/
choosing an executor will be an option starting from KFP 1.7.

#### Update - 2021.8.6
edited by @Bobgy

Discussed with @kramachandran and decided to delay the default change for at least one KFP minor version, because argo emissary

[2021-05-21 07:47] juliusvonkohout commented on #1654
Please upvote https://github.com/kubeflow/pipelines/issues/5718 if you want to have a proper solution to this bug.

[2021-05-21 07:58] juliusvonkohout commented on #5714
I have created an extended description of everything at https://github.com/kubeflow/pipelines/issues/5718 . What you describe here is just one single reason to upgrade argo and use the emissary executor.

[2021-05-21 10:07] Bobgy commented on #5718
@juliusvonkohout can you clarify how visualization is broken?

[2021-05-21 10:10] Bobgy commented on #5138
@DavidSpek Can you create a separate issue for notebooks WG to track the discussion? It doesn't seem related to this issue specifically.

[2021-05-21 10:14] DavidSpek commented on #5138
@Bobgy Sure. I actually thought of a possible solution to this problem last night, so I will work that out a bit more and create an issue.

Short overview of my idea:
I think the solution to safely sharing namespaces is to bind the service account of the user creating the notebook to the notebook pod. Then, in the web-app we can check if there is a difference in the permissions between the service

[2021-05-21 10:17] Bobgy commented on #5138
My idea to make this authentication zero-config:

https://github.com/kubeflow/pipelines/pull/5287#pullrequestreview-619441730

[2021-05-21 10:27] juliusvonkohout commented on #5718
It just does not show in the UI. As far as I remember the stuff was in minio but not properly displayed by pipeline-ui. But I would have to check again. Such problems are expected, since I just replaced the Argo images instead of properly updating Argo everywhere in kubeflow pipelines. Since it appeared with emissary AND k8sapi it should be fine with a proper Argo update in kubeflow.

If you need

[2021-05-21 10:33] rylynchen commented on #5655
Thanks for your reply!

[2021-05-21 10:33] #5655 closed

[2021-05-21 13:18] swamat commented on #4763
@cai-harry Can you please help me in fixing this issue. I am using v1.0.4. STill am not able to see the metrics in UI

[2021-05-21 13:45] Bobgy commented on #5718
/assign
I believe there is no doubt this is the right way to go.

[2021-05-21 15:30] Shuai-Xie commented on #5589
Hi, @Ark-kun. Thanks for your quick reply. I agree with the above pipeline-construct process.

Of course, they can. Perhaps the reason for my weird way is that I what to include everything need to construct a pipeline in a class scope :joy:. It can make the codes in `create_job_pipeline_in_pod()` simpler.

All in all, my problem has been solved with your help.

Many thanks. Hope you will enjoy a g

[2021-05-21 17:58] jli commented on #3516
Is there any way in KFP or Argo to know which user launched a workflow? (I would like to be able to to send more targeted alerts.)

If not, are there common patterns you know of for how we can add this type of metadata to KFP?

Thanks!

[2021-05-21 18:25] michaelwsherman commented on #5709
@Ark-kun

[2021-05-21 20:26] NikeNano commented on #5718
I can help out updating argo to v3 @Bobgy
/assign

[2021-05-21 20:54] zijianjoy commented on #5668
Do we visualize HTML, Markdown, Tensorboard in the new visualization tab?

[2021-05-21 21:45] zijianjoy commented on #5669
SDK allows user to define any mount of `log_metric` call, therefore scalar metric is a dictionary instead of single value. See this example:
![5i3R2aaD6LSeqer](https://user-images.githubusercontent.com/37026441/119201027-ef47cc80-ba42-11eb-890d-6216874cc9d9.png)

See this SDK implementation: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/io_types.py#L112-L119

In order to vis

[2021-05-21 22:05] capri-xiyue commented on #4649
I think we can make both pipeline root and the credential of pipeline root configurable similar to what argo does https://github.com/argoproj/argo-workflows/blob/master/docs/configure-artifact-repository.md. We can differentiate which cloud provider the user is using by the uri and the initialize specific storage services with the credentials configured with GO CDK https://github.com/argoproj/argo

[2021-05-21 23:37] zijianjoy commented on #5669
But we also need to distinguish `confidenceMetrics` and `confusionMatrix` from scalar metrics. Otherwise they will appear from the same dictionary which we need to explicitly filter: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/test_data/expected_io_types_classification_metrics.json

[2021-05-21 23:46] Bobgy commented on #5668
Yes, they are tracked in a different issue in P1.

[2021-05-22 00:35] Bobgy commented on #3516
@jli I don't think we have separate metadata, can you send a feature request?

Current workaround can be adding pipeline parameters that default to author of the pipeline.

[2021-05-22 00:41] #5691 closed

[2021-05-22 02:18] Ark-kun commented on #5718
Each output is placed in it's own directory. And those directories are in `/tmp/outputs/`, not just in `/tmp/`. Couldn't Argo mount EmptyDir volumes under the outputs directories? Argo already does that for inputs.

P.S. The SDK could change the paths to `/outputs/` without a need to change components or pipelines. It was like that at some point in the past.

[2021-05-22 06:23] juliusvonkohout commented on #5718
@Ark-kun this has all been discussed extensively in the links provided above. You will find detailed answers there.

[2021-05-23 03:33] algs opened #5722 "[backend] persistence agent don't update pipeline run status after workflow deleted"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version: 1.5.0

*  KFP SDK version:

### Steps to reproduce

1. launch a pipeline run, and observe the status of nodes in the run as expected from UI.
2. use command `kubectl delete workflow xxx` to delete the workflow corresponding to the pipeline run, then the unfinished nodes in the pipeline run stay **running**, and never

[2021-05-24 05:00] Bobgy opened #5723 "[sample] Use dsl.get_pipeline_conf() to apply secrets to the entire pipeline"
### Feature Area

area samples

### What feature would you like to see?

We have get_pipeline_conf().xxxx which can apply some config to the entire pipeline. See example: https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/components/aws/sagemaker/tests/integration_tests/resources/definition/update_endpoint_pipeline.py#L65

https://kubeflow-pipelines.readthedocs.io/

[2021-05-24 05:17] swamat commented on #5597
Can someone please help on this

[2021-05-24 05:31] Bobgy commented on #5693
The pending changes can be released in 1.6.1 either, so let's release 1.6.0 first.

[2021-05-24 05:41] Bobgy commented on #5680
So actually, configurability of credentials is not a must have for making v2compat run on full Kubeflow.

It's enough to make default pipeline root configurable. For KF on GCP, we can default to gcs path. For others, using minio://mlpipeline is enough.

[2021-05-24 06:44] Bobgy commented on #5693
DONE: https://github.com/kubeflow/pipelines/releases/tag/1.6.0

[2021-05-24 06:44] #5693 closed

[2021-05-24 06:55] Bobgy commented on #5683
/assign @difince

[2021-05-24 07:00] Bobgy opened #5724 "Move MLMD API from kubeflow/frontend to kubeflow/pipelines"

[2021-05-24 07:00] Bobgy commented on #5724
Duplicate of https://github.com/kubeflow/pipelines/issues/5705

[2021-05-24 07:01] #5724 closed

[2021-05-24 07:19] swamat commented on #5597
Update: My pipeline is running on namespace 'admin'. created secret file for namespace admin and kubeflow.
Updated deployment ml-pipeline-ui in kubeflow namespace to use aws-secret. Still in kubeflow UI am getting the below error:

Failed to get object in bucket 'bucketname' at path README.md: S3Error: Access Denied

[2021-05-24 07:27] Bobgy commented on #5667
Needs further TODO item break down

[2021-05-24 07:29] Bobgy commented on #5669
Needs further work item breakdown

[2021-05-24 07:36] #5683 closed

[2021-05-24 07:43] Bobgy commented on #3157
Current MLMD order by field feature is very limited, we can only order by [ID, Create Time, Last Updated Time]: https://github.com/kubeflow/pipelines/blob/fd72b3c9d59803726c41f287cd1ee98b8f95cc5a/third_party/ml-metadata/ml_metadata/proto/metadata_store.proto#L645-L662

So this feature still needs upstream improvements.

[2021-05-24 07:51] Bobgy opened #5726 "[v2compat] caching design"
Part of #5667

[2021-05-24 08:15] Bobgy commented on #5686
TODO:
* [ ] document sample folder structure in samples/README.md
* [ ] check samples, mark those only run on v1 with comments
* [ ] check samples, mark those only run on v2 with v2_ in example name, or move into v2 folder.

[2021-05-24 09:46] TrsNium opened #5727 "[bug] VertexAI Pipeline does not work ContainerOp"
### What steps did you take
If you run the following code, you will get an error
[code]

### What happened:
The error message is as follows.
[code]

### What did you expect to happen:
Successful deploy of the pipeline

### Environment:

*  KFP SDK version:
* 1.6.2

If I have a problem with vertex ai pipelines, is it okay to create an issue in this repository?

---

Impacted by this bug? Give it a

[2021-05-24 11:17] DavidSpek commented on #5439
Happy to see that theMLMD version has been upgraded in the latest release. @Bobgy is having this managed by Renovate something you would want to implement? I've been doing quite a bit of stuff with Renovate lately to automate keeping all the manifests for Kubeflow up to date so I might be able to help here.

[2021-05-24 11:29] DavidSpek opened #5728 "[feature] Merge Pipelines Profile Controller functionality into the general profile controller"
### Feature Area
/area backend

The Kubeflow Pipelines profile controller now takes care of launching 2 deployments (UI Artifact and Visualization Server) in each user namespace when a profile is created. While busy implementing AWS RDS and S3 support for KFP in [ArgoFlow](https://github.com/argoflow/argoflow-aws/tree/master/distribution/kubeflow/pipelines) @karlschriek ended up using the KFP prof

[2021-05-24 12:04] Bobgy commented on #5728
Thank you for raising the concern @DavidSpek!

Let me share some past context, at the time when KFP introduced KFP profile controller, we had many discussions with Kubeflow engineering team at Google (who was maintaining the main profile controller). The conclusion we reached was that it's better for everyone that KFP starts its own profile controller.

The major reason is to reduce coupling, KFP

[2021-05-24 12:10] Bobgy commented on #5728
The difference between profile controller and #5681 is that, the nature of profile controller is user requests are ad-hoc:
* kubeflow has its own resources it wants to deploy to user namespaces
* KFP has some resources
* KFServing has some resources
* Kubeflow cluster admins may have some cluster-specific resources they want to deploy

A generic profile controller that can deploy any resource with

[2021-05-24 12:13] Bobgy commented on #5728
Another point is that, the necessity of a profile controller itself is also questionable, cluster admin can use git-ops to manage namespace default resources using a parameterizable common kustomize package too. The major reason we needed kfam and profile controller was because we needed the ability to provide self service experience -- users can come and register their own namespaces. However, th

[2021-05-24 12:17] Bobgy commented on #5439
@DavidSpek did you figure out the scriptable update? MLMD would need this, because one step is pulling in new proto definitions and regenerate proto clients.

[2021-05-24 12:20] Bobgy commented on #3951
In fact, MinIO is now supported, your example should already work now.

Feel free to reopen if that's not the case

[2021-05-24 12:20] #3951 closed

[2021-05-24 12:23] Bobgy commented on #1641
This is already supported by https://github.com/kubeflow/pipelines/pull/5515,
the args can also be overridden by the patch

[2021-05-24 12:23] #1641 closed

[2021-05-24 12:30] DavidSpek commented on #5728
I completely agree with all the points you've raised. The reason I brought this up is because I thought it would make sense to make it easier for admins to customize the user on-boarding experience. However, if there are existing tools it makes more sense to use those.

@karlschriek and I have been working a lot on [ArgoFlow](https://github.com/argoflow/argoflow-aws) for AWS using Argo CD. After r

[2021-05-24 15:47] DavidSpek commented on #5439
Do you maybe have a link to the script that needs to be run and the locations where MLMD needs to be updated? It would save me some time looking for it. If not, it isn't a problem either. Then I can test on my fork to try and get this setup.
Renovate has support for running scripts if it is self-hosted, but I'm not sure if that is an option or a path you want to go down. However, I think it might

[2021-05-24 15:58] rawc0der commented on #5700
@ahsan-n, I think the problem is solved in next release `0.6` of kfserving.

But the docker image `quay.io/aipipeline/kfserving-component:v0.6.0` is not yet available. Think this still needs some attention to confirm it's been resolved.

[2021-05-24 17:43] johnugeorge commented on #5138
Any update on this and possible options? This is still a blocker for in cluster kfp clients in Notebook servers.

[2021-05-24 18:39] Ark-kun commented on #5709
This was expected to be fixed in https://github.com/kubeflow/pipelines/pull/4993 v1.4.0
Looking...

[2021-05-24 18:50] Ark-kun commented on #5709
This does not reproduce for me in v1.4.0+
![image](https://user-images.githubusercontent.com/1829149/119393576-fd395f80-bc85-11eb-81bc-3a08eb469e23.png)

Here is the generated `component.yaml`:
[code]

[2021-05-24 18:56] rclough commented on #5709
Ah, we're currently on 1.3.0, good to know it's already fixed, we'll update ASAP

[2021-05-24 18:58] Ark-kun commented on #5709
Note that only the SDK needs to be updated.

[2021-05-24 19:36] boarder7395 opened #5730 "[backend] Wait container stuck."
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
EKS

*  KFP version:
1.3.0

*  KFP SDK version:
1.1.1

### Steps to reproduce
Using multiple processes in python to log messages causes the docker logs command in the argo wait container to get stuck indefinitely, resulting in the component running indefinitely even though the main container completed successfully. Exec'ing into the

[2021-05-24 21:26] Ark-kun commented on #5453
Models are pretty small, so this might be a small price to pay for convenience.

Even for cloud services, a supported URI schema might not mean that the service may be called directly without copying the data. As an example, many existing GCS buckets cannot be used with Google Cloud AutoML service. That service only supports single-region buckets in the `us-central1` region. Just giving a URI to a

[2021-05-25 02:05] Bobgy commented on #5685
Recommend using https://github.com/kubeflow/pipelines/blob/master/test/presubmit-backend-test.sh as a reference

[2021-05-25 04:10] #5513 closed

[2021-05-25 11:30] juliusvonkohout commented on #5718
The release of 3.1 is very close. 3.1.0-rc8 is already there https://github.com/argoproj/argo-workflows/releases and 3.0-rc9 https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9 was the last prerelease for the 3.0 branch. Based on that 3.1.0 should land in 1-2 weeks.

[2021-05-25 13:41] HenryW95 commented on #5635
Thank you! I see it's been released now

[2021-05-25 13:41] #5635 closed

[2021-05-25 13:41] kimwnasptd commented on #5681
Thank you for starting this discussion @Bobgy! This is a feature that we had also been discussing for a long time https://github.com/kubeflow/kubeflow/issues/3578#issuecomment-654914485, for Notebooks WG. Let my add some insights we had from running Notebooks, which could help us evaluate such a proposal.

The first thing I'd like to point out is we should consider exposing a [PodTemplateSpec](htt

[2021-05-25 13:42] kimwnasptd commented on #5681
I'd also like to expose some necessary configurations we've seen for making the Notebook servers run under a prefix. Some apps will be expecting the requrests under the prefix path while some others will always expect requests under `/`.

The least necessary configuration for this will be the `spec.http[i].rewrite.uri` field in the VirtualService.

Also, we've seen applications, like RStudio, that

[2021-05-25 13:43] kimwnasptd commented on #5681
Lastly, for this iteration I'd also like to point out that an interesting feature would be to allow users to configure the replicas of the underlying Deployment.

This will essentially allow users to start/stop the underlying Pods, while still maintaining the CR.

So by taking all the above into consideration I'd propose the following iteration:

**Strawman proposal v2**

[code]

Would really like

[2021-05-25 14:54] zijianjoy commented on #5668
We might need to update documentation https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/

[2021-05-25 15:22] NikeNano commented on #5718
Have started the work to upgrade should be easy to go to the next version when it is out.

[2021-05-25 17:13] robinvanschaik commented on #1471
Sorry to re-open the issue.

I am currently in the process of deploying a tensorflow extended pipeline (v1 release candidate) on KFP 1.14 via the Google Cloud Platform marketplace.

Unfortunately, I am running into the same issue.

Can someone elaborate on how to tackle this in Kubeflow Pipelines on GCP?

Much appreciated!

[2021-05-25 20:05] ca-scribner commented on #5728
@Bobgy I find it interesting you've gotten feedback from Kubeflow members don't want the experience of users being able to generate their profiles.  From our org I think we actually appreciate this feature quite a bit, as it lets us spread access easily.  Not to say it couldn't be achieved in a way other than the profile controller though of course

[2021-05-25 20:52] Ark-kun commented on #5711
This won't work. The v2 compiler imposes severe limitations on the `String` type. The pipeline will still not compile and also you'll lose the ability to upload any binary data like models.

A fix for this v2 compiler issue was proposed and implemented in https://github.com/kubeflow/pipelines/pull/5478 Please take a look.

[2021-05-25 21:30] jackwhelpton commented on #5711
I'll take a look, cheers!

For reference, my version that uses a local component with this change _does_ compile, and works as expected. I imagine you'd run into trouble if you wanted to upload an artifact rather than a string, but as most of my pipelines are being ported from v1 they don't use artifact types (at least not intentionally: a lot of previously untyped parameters started being handled

[2021-05-25 23:41] jaiganeshp commented on #5138
I am facing this issue in Kubeflow 1.3. I assumed the backend piece is integrated as part of the 1.3 release, so I tried using the python sdk from the branch here: https://github.com/arrikto/kubeflow-pipelines/tree/feature-client-creds-sa-token-volume
as this is part of the MR that would be merged to fix this problem. I still ran into the issue of authentication failure. Here's the error log:
[cod

[2021-05-26 00:44] Bobgy commented on #5689
/assign @james-jwu

[2021-05-26 01:09] Bobgy commented on #5381
With the number of things on my hand for v2 and v2 compatible. I don't currently have bandwidth on this. Welcome anyone who's interested to pick up

[2021-05-26 04:08] zijianjoy opened #5737 "[frontend] Add `Create Experiment` button when selecting experiement"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-26 09:03] juangon commented on #5710
It seems I can't reproduce it anymore, closing...

[2021-05-26 09:03] #5710 closed

[2021-05-26 11:14] Windfarer commented on #2653
I tried to set env CRON_SCHEDULE_TIMEZONE by edit deployment.apps/ml-pipeline-scheduledworkflow, but it seems no effect, the the cron runs are still scheduled with UTC. Anyone could tell me the correct way to modify the schedule timezone? Thanks.

[2021-05-26 16:01] #5537 closed

[2021-05-26 21:21] #5709 closed

[2021-05-26 23:25] zijianjoy commented on #4877
Similar feature request: https://github.com/kubeflow/pipelines/issues/1956.

[2021-05-26 23:30] Bobgy commented on #5730
Hi @boarder7395, this issue seems only related to argo workflow.
Can open up an issue in argo workflows github repo instead?

[2021-05-26 23:37] Bobgy commented on #5722
Thank you @algs for flagging this bug report!
This is a real problem from the persistence agent design.

My rough idea to improve would be that, persistence agent should also periodically list all runs from KFP API that are still in running state, if any of the runs do not have a corresponding argo workflow. We should update the DB record to maybe a special state called "WORKFLOW_DELETED" etc.

Wh

[2021-05-26 23:52] Bobgy commented on #5617
presubmit can be implemented by using `addlicense` go CLI tool and then verify no changes have been made

Also we can recommend "Copyright Inserter" vscode plugin: https://marketplace.visualstudio.com/items?itemName=minherz.copyright-inserter

[2021-05-26 23:54] Bobgy commented on #5605
/assign @aronchick
Do you have a good contact for this issue? This is one of the azure tutorials

[2021-05-26 23:54] Bobgy commented on #5597
/assign @PatrickXYS

[2021-05-27 00:01] Bobgy commented on #5590
Hi @mgiessing, this issue has been fixed in latest version. Can you confirm?

[2021-05-27 00:03] Bobgy commented on #5593
We are thinking about implementing this feature in KFP v2, because a basic requirement is that

In v2, we envision that each metric can be a separate artifact.
And pipeline DSL can allow users to return artifacts they select.

With these two new features, it'll be possible to select pipeline level output artifacts and only metrics returned to pipeline output are associated with the pipeline.

[2021-05-27 02:38] #5215 closed

[2021-05-27 02:43] DaleSin commented on #5722
Maybe just list runs which have not been updated/reported for a certain time, it should be a few runs.

[2021-05-27 05:01] #5690 closed

[2021-05-27 05:50] algs commented on #5722
would this because of service error rather than the corresponding workflow deleted?

[2021-05-27 08:56] Bobgy commented on #5681
That already looks great!
I think we can also use ports field instead, because Istio often require named ports to start with its protocol name.

Shall we put this into a design doc now?

[2021-05-27 09:01] SputnikTea commented on #4710
I have a similar problem with the `GCPProjectID` type and `kfp.v2.compiler`.
I am trying to use this [GCP Component](https://github.com/kubeflow/pipelines/tree/master/components/gcp/bigquery/query/to_table) to make a BigQuery call.

[2021-05-27 10:39] skogsbrus opened #5741 "[bug] FutureWarning raised on VolumeOp.delete()"
### What steps did you take

A FutureWarning re: direct use of `ContainerOp` is raised when using `VolumeOp.delete()`

[code]

### What happened:

[code]

### What did you expect to happen:

There is no direct use of ContainerOp in this example. The warning should not have been raised.

AFAIK using volumes is not detrimental to reusability of components, so the warning doesn't seem relevant either

[2021-05-27 13:01] juliusvonkohout commented on #5726
@bobgy please keep in mind that cpu and memory ressource requests must be set for compatibility with kubeflow profile quotas. I tried something but could not get it working yet https://github.com/kubeflow/pipelines/pull/5743

[2021-05-27 15:19] hanpeiyu94 opened #5744 "[bug] Can't run kubeflow pipeline"
### What steps did you take
Running Kubeflow on Microk8s cluster that is running on my local computer.
Got access to Kubeflow dashboard and trying to run pipeline.

### What happened:
When I try to run any of the pipeline examples, The job never show up on `Runs` tab. And when I try to create experiment, it has this error:
[code]
### What did you expect to happen:
To be able to run the example pip

[2021-05-27 16:06] DavidSpek commented on #5681
I was just going to say the same thing about the ports. This will also be useful for pods that expose services on multiple ports (such as metrics for example).

[2021-05-27 16:10] berndverst commented on #5605
`kubectl delete pvc azure-managed-disk --namespace kubeflow`

If you look at the PVC's YAML you'll see it is created in namespace `kubeflow` which is not the default namespace and hence you aren't actually querying for.

https://github.com/kubeflow/examples/blob/master/pipelines/azurepipeline/kubernetes/pvc.yaml#L5

[2021-05-27 16:15] berndverst commented on #5605
In general the problem is that the PVC must exist in the same Kubernetes namespace as your Kubeflow pipeline. Just edit the PVC.yaml and change the namespace to wherever you are running your pipeline (probably the default namespace), then apply.

[2021-05-27 16:17] berndverst commented on #5605
/close
/woof

[2021-05-27 16:17] #5605 closed

[2021-05-27 18:20] Jeffwan commented on #5722
An alternative could be persistent agent watches workflow changes and if there's a delete workflow event, check running state of associated run and update DB.  I prefer to choose the way which can reduce apiserver pressure. :D

[2021-05-27 20:03] pablofiumara-azumo commented on #4569
@berndverst Thanks. It seems Kubeflow 1.3 on Azure + AAD is in progress (here's a screenshot https://ibb.co/5FmP7bF). Is that correct?

@Junaid-Ahmed94 Can you give us some details about points 1, 2 and 3, please?

Regarding point 1, I am trying this: https://github.com/mspnp/letsencrypt-pip-cert-generation/blob/main/README.md

Did you do something like that? Thanks in advance

[2021-05-27 20:32] gordonsilvera opened #5745 "Error occured while trying to proxy to: pipelines/upload"
When entering the Kubeflow Pipeline, received the error:

[code]

### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Via the [GCP AI Platform Pipelines UI](https://console.cloud.google.com/ai-platform/pipelines/clusters). This instance uses managed storage.

*  KFP version:  **1.4.1**

To find the version number, See version number shows on bottom of KFP UI left sidenav. -->
*  KFP S

[2021-05-27 20:37] capri-xiyue opened #5746 "[feature] Add retry in dataproc component"
### Feature Area
/area components

### What feature would you like to see?
Add retry in dataproc component. Similar to https://github.com/kubeflow/pipelines/pull/5250

### What is the use case or pain point?
`BrokenPipeError` when using https://github.com/kubeflow/pipelines/tree/master/components/gcp/dataproc/submit_pyspark_job with large datasets

### Is there a workaround currently?

---

Love t

[2021-05-27 21:17] sudivate commented on #4569
Not sure if this is still valid to current version of KF manifest. I tried enabling access token based authentication for KFP client. Please fee free to leverage this work if it applies to your scenario.

https://github.com/arrikto/oidc-authservice/issues/46

[2021-05-27 21:19] pablofiumara commented on #4569
@sudivate Thank you. I will take a look

[2021-05-27 21:24] pablofiumara commented on #4569
I would like to add more information while I take a look at that. The only approach that let me use Kubeflow client with AAD was the following: https://github.com/kaizentm/kubemlops/blob/master/docs/Kubeflow-install.md#option-1-install-standalone-kubeflow-pipelines

Problem is I need a full Kubeflow installation working on Azure (not just Kubeflow pipelines)

[2021-05-27 21:48] Junaid-Ahmed94 commented on #4569
@pablofiumara I did tried lets-encrypt but in favor to save time and get to production I asked out IT team to provide me a valid certificate, But as I mentioned in my earlier comment lets-encrypt should also achieve the same. In the end, we just want some authority signed certificate to provide TLS security for our website/URL-Address.

The site you mentioned, I took a look into that and it seems

[2021-05-27 21:55] Junaid-Ahmed94 commented on #4569
But I will suggest you to move to kubeflow 1.3 if possible. You will get 2 major benefits straight away

1. Kubeflow 1.2 is still using istio 1.3 and it has issues with multi-tenancy Bernd Verst  had to come up with 2 different manifests to run in multi-tenancy and single user mode. I recently deployed kubeflow 1.3 and this is not the case any more there. Correct me if there are still some things

[2021-05-27 23:52] hsezhiyan opened #5748 "[frontend] CRON schedule default in UI once per minute - too frequent"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
We deployed by using the Kubeflow manifests, which comes with the default UI provided in this repo.
*  KFP version: `v.1.2.0`

### Issue

When you do onto the Kubeflow UI and try to create a recurring run, the default periodic scheduled/cron schedule is `once per minute`, or `0 * * * *`.

![image](https://user-images.githubuserconten

[2021-05-28 00:21] Bobgy commented on #5722
@Jeffwan great idea! That feels like the most efficient solution.

[2021-05-28 04:24] TomomasaTakatori commented on #1471
I've encountered the same problem on AI Platform Pipelines of GCP as well.

The component process looked like being completed, but an error occurred during "wait" process.

The below is logging detail.
[code]

I would really appreciate some help. Thank you.

[2021-05-28 08:15] jmendesky opened #5809 "Declarative Pipeline deployment"
/kind feature

Good morning,

when deploying ML pipelines, we would like to build on existing tooling and follow similar patterns as when deploying other resources to our infrastructure. This would usually be done declaratively rather than programmatically. From our research, it seems that the only way to deploy Kubeflow pipelines at the moment is to use either kfctl or the Kubeflow Client librari

[2021-05-28 10:53] Bobgy opened #5753 "[v2compat] support s3 pipeline_root with endpoint, region, insecure etc"
Part of https://github.com/kubeflow/pipelines/issues/5704

Support s3 pipeline_root with generic options: endpoint, region, insecure, etc, so that it can be used with user maintained MinIO or other compatible storages.

Credentials can be set similar to aws/gcp credentials, but not using the same env vars as AWS. (Needs a detailed design)

[2021-05-28 12:01] danishsamad commented on #5244
@andre-lx I updated the istio-sidecar-injector MutatingWebhookConfiguration by adding the annotation as you described but istio sidecars were not injected with the pipeline components. I tried deleting the pods, restarting the deployments and even deleted and applied the pipeline component. Adding a label instead of an annotation also seemed to have no effect.

Then I edited the istio-sidecar-inje

[2021-05-28 12:14] pablofiumara commented on #4569
@Junaid-Ahmed94 Thank you. I will try that and keep you all updated

[2021-05-28 12:21] andre-lx commented on #5244
Hi @danishsamad. Not sure, actually.

In my case, deleting the match expression in my case didn't solve the issue, since AKS automatically add that match expression.

I'm not sure if I did the manual delete or if the annotation deleted it.

Maybe I added the annotation and eliminated the match expression manually.

Anyway, in new clusters, the annotation worked as expected -> the match expression

[2021-05-28 18:58] pablofiumara commented on #4569
@Junaid-Ahmed94 Your suggestion worked, thank you. A secret named letsencrypt-prod-secret and a clusterissuer named
letsencrypt-prod were created. However, SSL does not work yet. I think it's because something different needs to be done compared to point 1 from here: https://www.kubeflow.org/docs/distributions/azure/authentication-oidc/#expose-kubeflow-securely-over-https

Is that correct? If so,

[2021-05-28 19:25] pablofiumara commented on #4569
I changed
https://github.com/berndverst/manifests/blob/v1.3-branch/distributions/stacks/azure/kustomization.yaml#L10
and
https://github.com/berndverst/manifests/blob/v1.3-branch/common/cert-manager/cert-manager/overlays/letsencrypt/params.env#L1

[2021-05-28 19:28] Junaid-Ahmed94 commented on #4569
@pablofiumara you should also change the cluster issuer name in your certificate.yaml file. Have you updated this too  to point to the new cluster issuer ?
[code]

[2021-05-28 19:31] pablofiumara commented on #4569
@Junaid-Ahmed94 Thanks for your fast response. Yes, I did. Here's my certificate:
[code]

[2021-05-28 19:34] pablofiumara commented on #4569
istio-ingressgateway pod can't start. Here's the log:

[code]

I googled that error but I still can't understand how to solve all this. Deleting the pod didn't help

[2021-05-28 19:40] pablofiumara commented on #4569
What should I write below tls? I don't think those two paths at the end are correct if we use Let'sEncrypt
[code]

[2021-05-29 00:44] Bobgy commented on #5303
@axeltidemann one workaround is to upgrade cache server after install

[code]

[2021-05-29 00:49] hideto0710 opened #5754 "[sdk] failed to create Cloud Scheduler job when App Engine location and Pipeline region are different"
### Environment

*  KFP version:
Vertex Pipelines

*  KFP SDK version:
[code]

### Steps to reproduce
Create App Engine app in asia-northeast1 and follow [this notebook](https://github.com/GoogleCloudPlatform/ai-platform-samples/blob/master/ai-platform-unified/notebooks/unofficial/pipelines/pipelines_intro_kfp.ipynb).

[code]

[code]

[code]

[code]

### Expected result

Cloud Scheduler Job and Cl

[2021-05-29 00:53] Ark-kun commented on #5708
Would a `load_component_spec_from_component_spec(ComponentSpec)` function be desirable as a replacement?

[2021-05-29 00:58] hideto0710 commented on #5754
workaround
1. path region
2. fix Cloud Scheduler Job [request body `_url`](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/v2/google/client/schedule.py#L108)

[code]

[2021-05-29 00:59] Ark-kun commented on #5727
Hello.
Thank you for trying Vertex AI.
Directly creating instances of `ContainerOp` has been deprecated for ~11 months.  See https://github.com/kubeflow/pipelines/pull/4166

Could you please use components instead? The comment in https://github.com/kubeflow/pipelines/pull/4166/files provides some examples of conversion.

[2021-05-29 01:04] Ark-kun opened #5755 "[chore] Add the components/kfp/Run_Component sample to the v2 sample tests"

[2021-05-29 02:27] priya170807 opened #5756 "Kfp cli throwing an error: Error: No such command 'submit'."
Hi,

I have created a pipeline and compile it. I am getting an error submitting a run to the end point.

Command:

`!kfp --endpoint $ENDPOINT run submit \ -e $EXPERIMENT_NAME \ -r $RUN_ID \ -p $PIPELINE_ID \ project_id=$PROJECT_ID \ gcs_root=$GCS_STAGING_PATH \ region=$REGION \ source_bucket_name=$SOURCE_BUCKET_NAME \ source_prefix=$SOURCE_PREFIX \ dest_bucket_name=$DEST_BUCKET_NAME \ dest_prefix=

[2021-05-29 02:44] eterna2 commented on #5558
#1640 probably can solve this issue w/o changing the sdk.

[2021-05-29 06:46] gordonsilvera commented on #5745
Note, this is corrected by specifying a namespace (rather than accepting "Default").

[2021-05-29 13:06] Bobgy commented on #5666
Moving to P1, because Chen does not have time to work on this before 6.4

[2021-05-29 13:06] Bobgy commented on #5668
That's a good point! Note, the update work item is already tracked in https://github.com/kubeflow/pipelines/issues/5666#issue-894322129.

[2021-05-29 16:14] neuromage commented on #5727
Hi @TrsNium,

Thanks for filing the bug. Yes, please feel free to file bugs against vertex AI here.

Unfortunately, ContainerOp isn't supported going forward. For now, you should be able to write it like so instead:

[code]

We're working on adding back a drop-in replacement asap so you won't need to write a yaml text for container components like this going forward. Please stay tuned. In the mean

[2021-05-29 16:19] skogsbrus opened #5757 "[feature] Multiple choice pipeline parameter"
### Feature Area

/area frontend
/area backend
/area sdk

### What feature would you like to see?

Multiple choice pipeline parameters, as offered by e.g. Jenkins.

User experience:

- When triggering a run via UI, all valid multiple choice values are displayed as radio buttons. The user selects one of them.
- When triggering a run via API with a bad parameter value, the user gets an error respons

[2021-05-29 16:26] skogsbrus opened #5758 "[feature] Pipeline parameter description"
### Feature Area

/area frontend
/area backend
/area sdk

### What feature would you like to see?

Pipeline parameter descriptions / comments, as offered by e.g. Jenkins.

In the UI, pipeline parameters would have an optional field that describes that parameter. For example any considerations to make when deciding on the parameter value, how it would interact with other pipeline parameters, etc.

[2021-05-29 19:53] omarzouk commented on #5708
yes absolutely, as long as this way of building containers is guaranteed to be maintained in the future, it is a pain in the ass to have to re-write all components just to describe basic properties such as image name and inputs and outputs.

[2021-05-30 18:59] johan-andersson01 commented on #5757
Haven't dived deep enough into kubeflow's implementation to know how compilation works and how this would propagate to the UI / API, but I'm thinking something along the lines of this (akin to the `@pipeline` decorator):

[code]

[2021-05-30 19:30] johan-andersson01 commented on #5757
So I've read up _a bit_ more on the [compiler](https://kubeflow-pipelines.readthedocs.io/en/stable/_modules/kfp/compiler/compiler.html#Compiler.compile) and this looks like a pretty easy add-on.

1. The decorator assigns e.g. `_multiplechoice` to the function object
2. The compiler checks if the pipeline function has a `_multiplechoice` field, and if it does writes these values to the pipeline yam

[2021-05-30 19:37] johan-andersson01 commented on #5758
Implementing this in the SDK, one suggestion would be to follow the same principle as #5757 and add a description decorator that would assign a private field to the pipeline function (e.g. `_param_descriptions`). The compiler would read this field, and write it to the pipeline yaml.

`{"name": "num_batches", "type": "Integer"}` could then become `{"name": "num_batches", "type": "Integer", "descrip

[2021-05-31 08:40] aneeshc-c commented on #5303
@Bobgy That would not work. Google Marketplace does not have any container images with a version 1.5.0 tag, you can check that [here](https://console.cloud.google.com/gcr/images/cloud-marketplace/GLOBAL/google-cloud-ai-platform/kubeflow-pipelines/cacheserver?gcrImageListsize=30).

[2021-05-31 09:51] Bobgy commented on #5303
@aneeshc-c you are right, I fixed the instruction to use oss image repo instead

[2021-05-31 09:52] johan-andersson01 commented on #5757
An alternative approach would be to add these options to the existing `pipeline` decorator.

For example:
[code]

Then in order to match e.g. `num_batches` to `num_batches_options` and `num_batches_description`, we'd need `inspect.getfullargspec` to retrieve the parameter names in `my_training_pipeline`.

This would be a pretty nice solution IMO:
- We solve this and #5758 in one implementation
- W

[2021-05-31 12:49] axeltidemann commented on #5303
That did not bring back visualisations, @Bobgy . Any other suggestions?

[2021-05-31 13:14] Bobgy commented on #5138
FYI, I investigated the other idea of letting KFP SDK use k8s client to get service account token with KFP audience and figured out it also needs some pod spec change, so it's better we stick to @elikatsis's current design and impl.

Details logged in https://github.com/kubeflow/pipelines/issues/5138#issuecomment-845846555.

[2021-05-31 13:17] Bobgy commented on #5138
Hi @jaiganeshp, I just tried getting a token with kfp audience and used it on KFP API (deployed via Kubeflow 1.3 on GCP). It worked for me.

Therefore, I think KFP backend auth is correctly implemented. I suspect there's sth not working correctly when you prepare your volume or how your SDK reads the volume.

[2021-05-31 13:57] johan-andersson01 commented on #3134
Ran into this issue and this fixed it, thanks! Note for future readers though: `inputPath` instead of `inputFile`.

[2021-05-31 17:31] Itega opened #5762 "[bug] Execution not caching"
### What steps did you take:
- [Deploy Kubeflow Pipelines on a new GKE cluster](https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/#deploying-kubeflow-pipelines)
- Run the [Kubeflow caching sample](https://github.com/kubeflow/pipelines/blob/master/samples/core/caching/caching_sample.py)

### What happened:
The sample failed with error :
`RuntimeError: The cached

[2021-05-31 20:39] #5688 closed

[2021-05-31 20:39] #5727 closed

[2021-05-31 21:28] arllanos commented on #4790
@Jeffwan @numerology  @Bobgy

Let me mention some points I think can be considered along with this issue related to artifacts list page. I did not check executions page yet.

* Issue 1: data retrieval in ArtifactsList.tsx hangs with big number of artifacts and can be optimized. Following endpoint call is not necessary (seems this was added when ml_metadata was not returning the creation-time of th

[2021-05-31 22:38] frankmanbb commented on #4440
seems the workaround no longer works for kubeflow 1.3. To be more precise, the config

does run, with the failure information:
error: unable to recognize "manifests/patches/bind-ml-pipeline-nb-kubeflow-user-example-com.yaml": no matches for kind "ServiceRoleBinding" in version "rbac.istio.io/v1alpha1"

content  of bind-ml-pipeline-nb-kubeflow-user-example-com.yaml
[code]

[2021-05-31 23:39] Bobgy commented on #5303
@axeltidemann can you report your ML Metadata tab screenshot after the fix? (And it should be a new run too)

[2021-06-01 01:18] anencore94 opened #5763 "[bug] pipeline's child pods are not deleted after workflow's status became success"
### What steps did you take
- create kf pipeline
- all components were spawned well as pods.
- all components' status became COMPLETED
- pipeline's status became SUCCESS

### What happened:
- HOWEVER, child pods didn't killed automatically.
- I  should kill them manually.

### What did you expect to happen:
- They should be killed after pipeline succeeded.

### Environment:

*  How do you deploy K

[2021-06-01 06:41] cloudbow opened #5764 "[backend] Steps not getting cached when input parameters are same"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
minikf-1.3 from aws market place
*  KFP version:
Same as minikf-1.3 provided

*  KFP SDK version:

kfp                           1.5.0
kfp-pipeline-spec             0.1.7
kfp-server-api                1.5.0

### Steps to reproduce
I have attached the notebook I used. Please try it with that . The input is already provided. Its a simp

[2021-06-01 06:49] cloudbow opened #5765 "[backend] Kale pipeline steps are not getting cached but HP tuning jobs has the cache feature"
### Feature Area

/area backend
/area sdk
/area samples

### What feature would you like to see?
Use cache feature to rerun kale generated pipelines which will reduce the total amount of time to re-run the pipelines with code changes

### What is the use case or pain point?

Currently when I installed minkf-1.3 for datascientists the compiled pipelines are taking a long time to execute. The reason

[2021-06-01 07:03] axeltidemann commented on #5303
Sure, @Bobgy. You can tell that the Outputs are wrong, it should be Type **ExampleStatistics**.
![Screenshot 2021-06-01 at 08 58 45](https://user-images.githubusercontent.com/6352118/120280202-aea84880-c2b7-11eb-8c46-e79eb9aa6ac5.png)

[2021-06-01 07:06] sumeet1989 commented on #5765
@****

[2021-06-01 07:31] Bobgy commented on #5765
/assign

[2021-06-01 07:45] Bobgy commented on #5303
@axeltidemann thanks for the extra info, that reminded me https://github.com/kubeflow/pipelines/pull/5364 fix is also required. (the metadata you showed are logged from KFP metadata-writer, but we should show metadata of native TFX pipelines).

Refer to https://www.kubeflow.org/docs/components/pipelines/installation/overview/#choosing-an-installation-option, I'd suggest deploying Kubeflow Pipeline

[2021-06-01 07:58] Bobgy commented on #5764
Hi @cloudbow, I tried running your example on KFP standalone 1.6.0 on GCP, it is cached as expected after second run.

![image](https://user-images.githubusercontent.com/4957653/120287613-fba91080-c2f1-11eb-8c61-5ab0f5a45722.png)

Therefore, this issue might be specific to either your env or MiniKF. Can you use `kubectl get pod -n kubeflow` `kubectl describe pod <pod-name>` `kubectl logs <pod-name

[2021-06-01 08:02] Bobgy commented on #5765
Hi @cloudbow, this seems like a feature request to Kale, because using a new volume snapshot as pipeline input makes it impossible for KFP to predict whether there were any changes in the pipeline.

To utilize caching, you should better have smaller granularity for your input data, so that the pipeline can easily know which changed and which didn't.

[2021-06-01 08:03] Bobgy commented on #5763
This is expected behavior, default TTL is 1 day.
See https://github.com/kubeflow/pipelines/blob/5d0f3a3d32f35d3dbca9cd27f4ee476e87f6d41e/manifests/kustomize/base/pipeline/ml-pipeline-persistenceagent-deployment.yaml#L24-L25

[2021-06-01 08:07] Bobgy commented on #5470
Thanks for bringing this up @elikatsis!
I'll put up a PR to add the AUTHORS file.

[2021-06-01 08:13] Bobgy commented on #5588
Thanks for reporting! This is a sub problem of https://github.com/kubeflow/pipelines/issues/5717.
Let's track this issue in the more generic issue

[2021-06-01 08:13] #5588 closed

[2021-06-01 08:16] Itega commented on #5764
Hi @Bobgy , I have the same issue with a different environment so I might provide some informations.

I tried with KFP 1.6/1.5/1.4 standalone on GCP and AI Platform deployed on an existing cluster and never get caching. All deployment are fine including cache-server and cache-deployer but the cachedb is always empty (other db seems fine).

With AI Platform and a new cluster I actually have cache s

[2021-06-01 08:18] Bobgy commented on #2653
Reopening the issue because of multiple requests. For anyone who wants to contribute, welcome debugging this issue and provide instructions.

[2021-06-01 09:49] #5470 closed

[2021-06-01 13:20] Bobgy commented on #5717
We should define default values in schema.yaml, see https://github.com/GoogleCloudPlatform/marketplace-k8s-app-tools/blob/master/docs/schema.md#helm-chart-values

[2021-06-01 13:54] gabriellemadden commented on #1471
See the [GKE release notes ](https://cloud.google.com/kubernetes-engine/docs/release-notes#119_ga) for 1.19.9  - they move away from docker runtime

In our case, we were trying to run argo workflows which uses the docker container runtime by default. We upgraded a cluster to kubernetes 1.19.9 - which changes the default runtime to containerd - and suddenly none of our workflows would start, with o

[2021-06-01 15:07] chauhang opened #5768 "[feature] Add PyTorch Components for KFP"
### Feature Area

/area components
/area samples

### What feature would you like to see?

This feature will add support for PyTorch components in Kubeflow pipelines, providing ability to train models and deploy them using KFServing with TorchServe for an End to end PyTorch model training to prediction loop.

The components will be packaged as a pip install and getting started examples will be pro

[2021-06-01 16:14] axeltidemann commented on #5303
Thank you for that suggestion, @Bobgy. We are a bit hesitant to not use the Google Marketplace one. But thanks for letting us know we should wait for 1.6.0.

[2021-06-01 16:34] pablofiumara commented on #4569
@Junaid-Ahmed94 @sudivate Suppose I have a valid SSL certificate. Then I create a Kubernetes secret for it. How can I attach that to a Kubeflow dashboard on Azure?

[2021-06-01 17:39] annajung commented on #4312
Picking this up. Let me know if there is any problem in working on this issue. thanks!

[2021-06-01 17:49] elikatsis commented on #5257
@Bobgy sorry I had totally missed this.

I think the problem here is that
1. the mechanism is caching steps that it shouldn't do so
2. there is no "user" selection on whether to cache some specific step or not, only global API server configuration. The API server overrides any configuration: https://github.com/kubeflow/pipelines/blob/601b104c0beba8049dfee493d0b07c0aea390b78/backend/src/apiserver/r

[2021-06-01 17:50] elikatsis commented on #5257
I'll reopen this issue as it needs some fix apart from globally disabling the cache

/reopen

[2021-06-01 19:57] Junaid-Ahmed94 commented on #4569
@pablofiumara the certificate https://github.com/kubeflow/pipelines/issues/4569#issuecomment-850628491 looks fine
before applying the certificate https://github.com/kubeflow/pipelines/issues/4569#issuecomment-850633203 did you removed the already existing certificate ?
And are you still getting the same error https://github.com/kubeflow/pipelines/issues/4569#issuecomment-841340473 ?

[2021-06-01 20:02] pablofiumara commented on #4569
@Junaid-Ahmed94 Thanks for your answer. I tried removing the already existing certificate (Kubernetes secret) but it was generated automatically again. I don't know if I am still getting the same error because first I would like to have SSL working.

Right now I am getting "This site can’t be reached" when I try to log into Kubeflow dashboard. Seems to be a problem related with AAD. It can't get i

[2021-06-01 20:34] Junaid-Ahmed94 commented on #4569
Where did you get this credentialName ?  I am assuming you created this yourself following something like this documentation https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts ?

Can you try the following and be sure that the steps were executed in order?
  1. Remove all types of cluster issuers (self-signed and lets enc

[2021-06-01 20:59] ahsan-n commented on #5700
Hi @rawc0der  just wondering what is the release timeline for `quay.io/aipipeline/kfserving-component:v0.6.0` ?

[2021-06-01 22:48] zijianjoy commented on #5668
Definition of `System.ClassificationMetrics`: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/io_types.py#L122

[2021-06-02 00:41] Bobgy commented on #4877
Are there use-cases other than https://github.com/kubeflow/pipelines/issues/1956: use resource request based on PipelineParam?

[2021-06-02 07:49] priya170807 opened #5773 "deploying the trained model using deploy component is throwing an Internal Error:"
I have created an XgBoost model and performed hyperparameter tuning. I am trying to deploy using deploy component,
mlengine_deploy_op = component_store.load_component('ml_engine/deploy').

I am getting the following error.

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/local/lib/

[2021-06-02 08:59] Ruminateer opened #5774 "[sdk] kfp cli giving errors"
### Environment

*  KFP version: 1.6.0

*  KFP SDK version:  1.4.0

*  All dependencies version:

[code]

### Steps to reproduce
Installed Kubeflow pipeline on an existing cluster. Installed SDK
[code]

Got these errors. What I am doing wrong? Have no idea how to solve it.
[code]

### Expected result

kfp doesn't give the errors and tells that there is 0 run history.

### Materials and Reference

[2021-06-02 09:28] Bobgy opened #5775 "postsubmit failing after 1.6.0 release"
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1396731834997411840

https://github.com/kubeflow/pipelines/commit/fd72b3c9d59803726c41f287cd1ee98b8f95cc5a

[2021-06-02 09:29] Bobgy commented on #5775
ai_platform sample is failing
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1396731834997411840#1:build-log.txt%3A8245

[2021-06-02 10:37] cloudbow commented on #5764
@Itega  what do you mean by private cluster ?  I am running kubeflow on minikf 1.3 from market place. can this also be called private cluster?
@Bobgy  let me check

[2021-06-02 10:40] cloudbow commented on #5764
ubuntu@ip-10-101-8-247:~$ kubectl get po -n kubeflow
NAME                                                         READY   STATUS    RESTARTS   AGE
admission-webhook-deployment-8c9cdf478-q2lmt                 2/2     Running   0          7d19h
centraldashboard-77cb6bbb48-nktsx                            2/2     Running   0          7d19h
jupyter-web-app-deployment-75795878-ts9t2

[2021-06-02 11:03] cloudbow commented on #5764
I see only kfp cache . I did try turning on logs and running but here is what I got.

First run
{"level":"info","ts":1622631681.9666345,"logger":"kfp-cache-controller","msg":"Successfully retrieved pod","pod":"kubeflow-user/addition-pipeline-pcbfb-2880583143"}
{"level":"info","ts":1622631681.9666553,"logger":"kfp-cache-controller","msg":"Pod is not a Kale step","pod":"kubeflow-user/addition-pipeli

[2021-06-02 11:27] #5775 closed

[2021-06-02 11:40] Bobgy commented on #5717
Cases we need to test after the release:
* when deploying with managed storage, leave db username as empty, and verify it defaults to "root".
* similarly leave databasePrefixName as empty, verify dbs are created as `_cache`, `_pipeline` etc.

[2021-06-02 11:44] Bobgy opened #5779 "[release] 1.7.0 tracker"
UPDATE: 1.7.0 release is out! https://github.com/kubeflow/pipelines/releases/tag/1.7.0

Code release blockers:
* [x] TFX issues
    * [x] https://github.com/kubeflow/pipelines/issues/6311
    * [x] (blockers resolved) https://github.com/kubeflow/pipelines/issues/6138
* [x] https://github.com/kubeflow/pipelines/pull/6331
* [x] https://github.com/kubeflow/pipelines/pull/6342
* [x] https://github.com

[2021-06-02 11:47] Bobgy commented on #5774
Hi @Ruminateer, did you configure access to your KFP API endpoint?
https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/

e.g. for the CLI, configure your endpoint using env vars
[code]

[2021-06-02 12:53] Bobgy commented on #5717
Reopen to wait for verification

[2021-06-02 13:05] Ruminateer commented on #5774
No, I did miss that. But after setting `KF_PIPELINES_ENDPOINT`, I am getting a different error message.
[code]
I also tried the remote server address in my `KUBECONFIG` for `KF_PIPELINES_ENDPOINT`, but I got the same error as above. How can I decide the address for `KF_PIPELINES_ENDPOINT`?

[2021-06-02 13:23] pablofiumara commented on #4569
@Junaid-Ahmed94 Thanks again.

I got credentialName from here (point 3): https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/#configure-a-tls-ingress-gateway-for-a-single-host

After doing every step, this error appears after executing `kubectl logs istio-ingressgateway-XXXXXXXXX -n istio-system`

`2021-06-02T13:18:33.129866Z     warning envoy config    gRPC config for typ

[2021-06-02 13:39] Bobgy commented on #5774
Did you fully read https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/?
All answered in it.

[2021-06-02 14:28] anencore94 commented on #5763
Thanks @Bobgy !
I'm a bit confused, so I created new pipeline yesterday on success and see what's happen today. (after 24 hours)
And they really removed automatically.
Thank you for checking this :)  you may close this issue.

[2021-06-02 15:52] #5704 closed

[2021-06-02 16:09] DavidSpek commented on #4440
@DianaDai @frankmanbb This is because Istio RBAC has been removed since version 1.6, and kubeflow 1.3 uses Istio 1.9. You could achieve the same by using an AuthorizationPolicy instead.

[2021-06-02 17:19] kimwnasptd commented on #5681
@Bobgy glad to hear!

I will start working on a first iteration of a design doc so that we can further iterate and evaluate some edge cases. Do you have a template for design docs in pipelines I should follow?

[2021-06-02 17:36] DavidSpek commented on #5124
Sorry, I completely missed your response. I’d need to think a bit about how this could be a first party feature, but I do think it is something people would be interested in. It would allow for data lineage which is needed in some environments (like research) and could help with debugging a pipeline.

Am I right in thinking the implementation for a feature like this would greatly differ between KF

[2021-06-02 18:36] narner90 commented on #2829
This is still an issue for me on the latest release

[2021-06-02 18:53] pablofiumara commented on #4569
@DavidSpek Do you know about this?

[2021-06-02 18:56] DavidSpek commented on #4569
@pablofiumara Just to be clear, is this about the Istio setup and how to handle certificates for Kubeflow?

[2021-06-02 19:00] pablofiumara commented on #4569
@DavidSpek Thanks for your answer. Yes, that's right. The goal is to have SSL (https, using Let's Encrypt certificate) working for Kubeflow dashboard on Azure. Kubeflow dashboard Ip address ends with dns.westus.cloudapp.azure.com

[2021-06-02 19:19] DavidSpek commented on #4569
For [ArgoFlow](https://argoflow.ai/) we are using the Istio Operator to install Istio, and I've re-implemented authentication to improve security. Part of that is done by replacing the OIDC Authservice with [Oauth2-Proxy](https://github.com/oauth2-proxy/oauth2-proxy) which is actively maintained by a large community and thus should be easier to setup with any number of providers ([see here](https:

[2021-06-02 19:31] pablofiumara commented on #4569
Thanks

[2021-06-02 19:33] pablofiumara commented on #4569
@eedorenko @sudivate @jotaylo Is this possible on Azure? If so, can you send me some documentation, please? https://github.com/kubeflow/pipelines/issues/4569#issuecomment-853309063

[2021-06-02 19:39] DavidSpek commented on #4569
@pablofiumara The Kubeflow gateway and certificate setup is definitely possible on Azure, that will work anywhere. The Isito installation through the operator will also work, but it will probably need some extra configs to play nicely with the Azure loadbalancer, this was also the case for AWS and shouldn't be difficult to implement (couple annotations on the gateway and another 2 yaml files). I d

[2021-06-02 19:42] pablofiumara commented on #4569
@DavidSpek Thank you very much. Can we take a look together about how to set up SSL (using Let's Encrypt) on Azure for Kubeflow dashboard, please? If so, how can I contact you on Slack?

[2021-06-02 19:44] DavidSpek commented on #4569
@pablofiumara Yeah for sure. If you are part of the Kubeflow slack you can find me as either DavidSpek or David van der Spek.

[2021-06-02 19:54] pablofiumara commented on #4569
@DavidSpek Thanks. I have just sent you a message on Slack

[2021-06-02 21:50] zijianjoy commented on #5668
Hello Yuan @Bobgy , what is the goal of this item?

`add MLMD state verification of this pipeline`

Does it mean we check the status of `execution`? Or the status of complete pipeline run? What do we want to visualize when state is success?

[2021-06-02 23:51] Bobgy commented on #3360
Welcome contribution on this direction. Agree this will be useful

[2021-06-02 23:56] Bobgy commented on #5558
FYI, v2 compatible mode does not compress artifacts by default already.
https://www.kubeflow.org/docs/components/pipelines/sdk/v2/

[2021-06-03 00:01] Bobgy commented on #5560
/assign

[2021-06-03 00:06] Bobgy commented on #5757
/cc @chensun
What do you think? We need to start from letting people specify extra metadata on parameters first to support this.

[2021-06-03 00:08] Bobgy commented on #5773
Hi @priya170807

Did you retry? This seems like a problem with the service, rather than KFP/component.

[2021-06-03 00:09] #5763 closed

[2021-06-03 00:13] Bobgy commented on #5762
@Ark-kun is this sample still working properly?
It fails in our test infra too:
https://testgrid.k8s.io/googleoss-kubeflow-pipelines#kubeflow-pipeline-postsubmit-integration-test

[2021-06-03 00:14] Bobgy commented on #5758
/cc @chensun
Another issue that requires adding metadata to parameters.

[2021-06-03 00:17] Bobgy commented on #5756
Hi @priya170807, it seems you should move `--endpoint $ENDPOINT` argument to after `run submit`,

e.g.
[code]

[2021-06-03 00:19] #5589 closed

[2021-06-03 01:05] Bobgy commented on #5748
Hi @hsezhiyan, this sounds reasonable.
Welcome contribution on this

[2021-06-03 01:05] Bobgy commented on #5748
/cc @zijianjoy
what do you think?

[2021-06-03 01:08] Bobgy commented on #5745
Strange, I don't expect it being a problem when namespace is default.
There might be sth else going wrong.

I guess we'll have to wait for more feedback

[2021-06-03 01:09] Bobgy commented on #5744
What is the version of KFP when you use Kubeflow on MicroK8s?

[2021-06-03 01:09] Bobgy commented on #5741
/cc @elikatsis

[2021-06-03 01:10] Bobgy commented on #5741
/cc @chensun

[2021-06-03 03:18] zijianjoy commented on #5748
I agree with making `run every hour` as the default setting. To me it usually is too frequent as once per minute, and it actually takes longer than 1 minute to start the recurring run in my case. So I fell into confusion that `why doesn't the recurring run happens within 1 minute since I create this recurring run?` in the past.

Welcome for contribution! Code location:
https://github.com/kubeflow/

[2021-06-03 03:47] Ruminateer commented on #5774
Sorry, my bad. I set up the port forward but I am getting new errors. Cannot find an answer on that page 😥
[code]

[code]

[2021-06-03 04:06] Shuai-Xie opened #5783 "[feature] How can I delete a run completely, including the records in the cachedb and metadb mysql database?"
### Feature Area

/area backend

Currently, I can use the `kfp` Python SDK to delete runs by following codes.

[code]

**However, I find there are still many artifacts not cleared even if I have deleted all the runs, which may have an impact on the runs submitted later if the run names are the same. Supposing we have two submitted runs both named `add_two_numbers`. The component states of the latt

[2021-06-03 04:17] Bobgy commented on #5774
No prob!

The new error seems a bit weird. Did you check opening localhost:3000 in your browser? Everything working?

I didn't quite remember what the -n flag do. Can we remove it?

[2021-06-03 04:59] Shuai-Xie commented on #5783
I guess the problem may arise from the mechanism of **Argo**. Because kfp will add suffix for runs with the same name by default. By the way, is the suffix generated uniquely by taking the previously generated suffixes into consideration?

I submit 4  runs with the same **RUN_NAME** as `add_two_numbers`. The kfp will append a unique suffix for each run.

![image](https://user-images.githubusercont

[2021-06-03 05:23] Bobgy commented on #3970
Code example for downloading artifact content: https://github.com/kubeflow/pipelines/blob/f3c0c464bf99befc6b8beda7afccb7ff0ac50d0f/frontend/src/components/MinioArtifactPreview.tsx#L137-L142

[2021-06-03 06:12] Ruminateer commented on #5774
It is not working either. Error message
[code]
![image](https://user-images.githubusercontent.com/31800808/120595022-59fdfc80-c474-11eb-9a86-25c092a509b4.png)

It just specifies the namespace. Removing it makes no difference.
[code]

BTW I'm not using a proxy if that matters.
[code]

[2021-06-03 06:22] DianaDai commented on #4440
@DavidSpek   code show as below，I still report an error after configuration

`apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: bind-ml-pipeline-nb-mynamespace
  namespace: kubeflow
spec:
  action: ALLOW
  rules:
  - from:
    - source:
        principals:
        - cluster.local/ns/kubeflow-user-example-com/sa/default-editor`

here is my error:

![image](https://us

[2021-06-03 06:34] Bobgy commented on #5774
If visiting localhost:3000 already has errors, then sth is wrong with your deployment or the kubectl proxy. Use kubectl to debug your deployment.

[2021-06-03 06:55] #4312 closed

[2021-06-03 07:36] Itega commented on #5762
I can give you more information about my case as I have now found a way to install KFP 1.6 with caching on GCP.
My problem was that I was using a GKE private cluster, I tried with a public cluster and it's working fine.
Did some search and Kubeflow does not seems to be compatible with private cluster on GKE : https://github.com/kubeflow/gcp-blueprints/issues/267 Maybe you have more informations on

[2021-06-03 07:41] DianaDai commented on #4440
@DavidSpek I added another EnvoyFilter  configuration
![image](https://user-images.githubusercontent.com/12907876/120606613-f24eae00-c481-11eb-945f-b34b79c8ff3b.png)

change to another error:
![image](https://user-images.githubusercontent.com/12907876/120606726-1611f400-c482-11eb-9a71-8298dcda19c3.png)

[2021-06-03 09:26] DavidSpek commented on #4440
@DianaDai Just wanted to state here that EnfoyFilters are considered break glass configurations, meaning that they may break between Envoy versions and can destabilize the entire service mesh (or cause it to go down). So using this workaround can have bad consequences.

It's probably better to look at https://github.com/kubeflow/pipelines/issues/5138 which provides a proper method to authenticate

[2021-06-03 09:29] wyljpn commented on #4440
I am using TFX on kubeflow, and got **"grpc_message":"RBAC: access denied","grpc_status":7** when running InfraValidator. InfraValidator creates a Pod under the same namespace and sends requests to the Pod for getting responses.
I had applied RoleBinding, ClusterRoleBinding, however, it didn't work.
By apply AuthorizationPolicy for the namespace, InfraValidator can pass successfully.
[code]

[2021-06-03 10:03] DavidSpek commented on #4440
@wyljpn You should not apply this AuthorizationPolicy, as it allows all traffic from anywhere to access your namespace. Which would also mean others can access your notebook instances, for example. If you want to allow all communication within the namespace you need to add a selector for the same namespace.

[code]

Another option would be to disable Istio injection for the TFX pods by adding the

[2021-06-03 10:36] NikeNano commented on #2653
@Windfarer for kubeflow standalone(not GCP) it should be set using https://github.com/kubeflow/pipelines/blob/0d84877c98726be6417474816b38baac92b45ee7/manifests/kustomize/base/installs/generic/pipeline-install-config.yaml#L62. I have tried it out locally as well and it might seems like it is a bug actually, will check and update!

[2021-06-03 11:59] sharmahemlata commented on #5318
Hello,
I faced the same issue and then set memory_request and cpu_request. I also randomly increased the number of nodes in my cluster and enabled auto-scaling.  Now, the pipelines do not crash, but they are taking too long to execute( the pipeline has been  running for two days) . Is there anyway for knowing how many nodes my pipeline will need? Also, each node has 2 CPUs, can we increase the CPU

[2021-06-03 13:31] Shaked commented on #5223
@Bobgy is there a solution for that?

[2021-06-03 13:38] akiyamasho commented on #4624
This still happens to me. my replication steps are a little strange however:

1. I was connected to a different AI platform pipelines version (KFP A) and tried connecting to a new one (KFP B)
2. Running any `kfp` command via python or bash gives me `401 unauthorized`
3. Run `gcloud auth revoke` on all accounts and run `gcloud auth init` to refresh gcloud settings
4. Reinstall `kfp` via `pip`
5. Is

[2021-06-03 13:49] DianaDai commented on #4440
yes,I have tried，But there is still something wrong

[2021-06-03 14:39] Bobgy opened #5788 "[v2compat] move component emitted metadata to metadata struct field"
/size m

[2021-06-03 14:41] Bobgy opened #5789 "[v2compat] log MLMD artifact state during execution"

[2021-06-03 14:42] Bobgy opened #5790 "[v2compat] remove redundant fields from execution custom properties"
“pipeline_name”, “pipeline_run_id”
These fields are already present in pipeline/pipeline run contexts, so they are unnecessary

[2021-06-03 14:45] Bobgy opened #5791 "[UI] add link from execution to KFP run"
A KFP task execution has one context of KFP run. So it's possible to get the related KFP run context (type `kfp.PipelineRun`), and extract run id from the context's custom properties.

After that, we can generate a link to the run and show it on MLMD UI.

[2021-06-03 14:46] Bobgy commented on #5791
/assign @zijianjoy
logging an improvement I just came up with, I think we can add more links like this, to make KFP UI inter-connected. For any resource shown on the UI, we can link to a page where we can observe its details.

[2021-06-03 14:53] BorFour commented on #4710
I am having the same problem. It seems the v2 of the kfp compiler is having trouble these type conversions.

[2021-06-03 16:28] Bobgy commented on #5668
@zijianjoy I just figured out moving custom properties to `metadata` field in a separate PR, so I think I can take `add MLMD state verification of this pipeline` task too in the same PR.

[2021-06-03 16:39] priya170807 commented on #5773
Hi Bobgy,

Thank you responding...I was continuosly retrying. It worked today...

Thanks
Priya

[2021-06-03 16:41] #5773 closed

[2021-06-03 17:43] zijianjoy opened #5794 "[frontend] Upgrade react-scripts to v4"
### Steps to reproduce

We are adding ad-hoc fix if we cannot upgrade to latest version of react-scripts: https://github.com/kubeflow/pipelines/blob/0b32f9f9d8a572d48257f06c3b0683c047c027f2/frontend/src/components/tabs/MetricsTab.test.tsx#L222-L224.

### Expected result

We should upgrade react-scripts and remove ad-hoc fix.

### Materials and Reference

https://github.com/testing-library/dom-test

[2021-06-03 18:22] HelmiGH commented on #4822
Hey everyone,
Actually I am using a persistent volume in my deployment yaml file and when I try to apply it using resourceOp it is not getting the data from the volume
  operations['deployment'] = kfp.dsl.ResourceOp(
    name="deployment",
    k8s_resource=deployment,
    action="apply",
    attribute_outputs={"name": "{.metadata.name}"}
  )

[2021-06-03 19:15] NikeNano commented on #2653
For some reason my local minikube cluster used UTC as timezone(my local timezone is CET), so everything should be fine, let me know if you still have issues @Windfarer

[2021-06-03 19:44] NikeNano commented on #5687
/assign

[2021-06-03 19:51] #5756 closed

[2021-06-03 20:59] boarder7395 commented on #5730
@Bobgy Sure! How familiar is the argo workflow team with kfp? If I submit the same code to replicate the issue will that be enough or should I update my code to replicate the issue to be argo workflow based and remove the kfp code?

[2021-06-03 21:07] Ark-kun commented on #3970
Previously I've started exploring solution for this in: https://github.com/Ark-kun/pipelines/commits/Frontend---Visualize-HTML It does not do anything yet. Just getting component spec for a node, so that we can get to the output types.

[2021-06-03 21:56] zijianjoy commented on #3970
Currently we cannot get visualization type from Artifact type in V2 compatible:

![v2compattype](https://user-images.githubusercontent.com/37026441/120716885-823d2980-c47b-11eb-83cf-c8b661c294c5.png)

UI rely on type to visualize viewerContent: https://github.com/kubeflow/pipelines/blob/master/frontend/src/lib/OutputArtifactLoader.ts#L84. But we cannot get this information on V2 compatible.

There

[2021-06-04 00:27] daikeshi commented on #3763
@Bobgy I'm curious if you have any updates on this issue. After we upgraded our cluster to KFP 1.3 and this issue seems to occur more often especially when the cluster is busy. When it happened, the run status was shown as unknown in the experiment page, and the run details page was empty and showed a spinning wheel.
![kfp_ui_issue](https://user-images.githubusercontent.com/475945/120727718-4456fa

[2021-06-04 00:52] daikeshi opened #5797 "[frontend] KFP UI Experiment/Run page link doesn't populate namespace"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Open source Kubeflow v1.1
*  KFP version:

KFP v1.3

### Steps to reproduce

When I click `Runs` on the left side menu bar, the run page link doesn't have the namespace populated (see the snapshot below).

<img width="600" alt="kfp_run_page" src="https://user-images.githubusercontent.com/475945/120729408-14115a80-c4ad-11eb-9eaa-aa9e

[2021-06-04 01:53] hanpeiyu94 commented on #5744
Sorry, I already deleted MicroK8s. I did not install KFP on my own, and I am not sure KFP is installed by MicroK8s or not. In case i am not understanding this correctly. Do you have to install Kubeflow pipeline after install Kubeflow in order to run pipeline?

[2021-06-04 02:31] Bobgy commented on #5744
No, you only need to install kubeflow, but I am not clear on the kubeflow pipelines version included

[2021-06-04 02:32] hanpeiyu94 commented on #5744
how do you check kubeflow pipelines version? I'll reinstall Microk8s to check it for you.

[2021-06-04 03:06] hanpeiyu94 commented on #5744
On the kubeflow dashboard under Experiment(KFP) tab, It shows Version: 1.5.0-rc.0. Hope this is what you are looking for.

[2021-06-04 03:40] Bobgy commented on #3763
@daikeshi I no longer see this issue after my last post here. My suspect is that this might have sth to do with controller runtime version.

Can you try upgrading persistent agent and see if there's any changes? (You can check changehistory to find out which version we upgraded controller runtime)

[2021-06-04 04:01] zijianjoy opened #5798 "[sdk] Support artifact custom types in V2 compatible mode"
Reference: https://github.com/kubeflow/pipelines/issues/5668

In KFP v1, we store output artifact type in `metadata.type`. KFP UI uses it to visualize HTML, Markdown, etc. However, in KFP v2 compatible mode, such artifact type is `system.Artifact`. We are not able to retrieve type name from component definition in UI.

In order to support visualization compatibility in V2 compatible mode, we need

[2021-06-04 04:04] Bobgy commented on #5798
Thank you @zijianjoy! for starting the issue

slightly adjusting some wordings

[2021-06-04 04:32] RakeshRaj97 commented on #441
Experiments can be deleted programmatically using `delete_experiment(experiment_id='')`

List the experiments using `.list_experiments(namespace='')`

[2021-06-04 05:10] Bobgy commented on #5798
Several options for open discussion:
* Add new system artifact types for HTML, Markdown, etc in https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/io_types.py.
* Use duck typing to determine type, e.g. if metadata.type == 'HTML', we treat it as HTML artifact.

[2021-06-04 05:25] Bobgy commented on #5779
Updated to 1.7.0 release, because we have big changes like upgrading MLMD store to 1.0.0

[2021-06-04 06:09] Windfarer commented on #2653
I tried to set cronScheduleTimezone in pipeline-install-config.yaml (in [manifests repo](https://github.com/kubeflow/manifests)) and redeploy the pipeline, but It seems to have no effect. I also tried to do the same thing with pipelines repo (the latest version 1.6.0), the result is same.

My host's timezone is Asia/Shanghai, and I exec into the ml-pipeline-scheduledworkflow pod to check the envir

[2021-06-04 06:19] wyljpn commented on #4440
@DavidSpek Thank you so much for your kind reply.
I do want to allow all communication within the namespace, so I tried to apply an AuthorizationPolicy as you posted and ran the TFX pipeline, but InfraValidator got the same error.
[code]
I also tried to add all the namespaces, but it didn't work too.

By the way, I noticed that an AuthorizationPolicy was created when I set up Kubeflow, maybe it is

[2021-06-04 06:56] DavidSpek commented on #4440
@wyljpn Just after posting that comment I realized that the Kubeflow created authorization policy already does the same (allow all communication within the namespace). Do all the pods you use with this TFX job run in your namespace? Adding the label to the pods so they aren't injected with Istio sidecar proxies should still work though.

[2021-06-04 07:26] wyljpn commented on #4440
@DavidSpek Thank you for your quick response.
[code]
Yes, those pods are under the same namespace as I show below.
"tfx-infraval-modelserver-zzl26" Pod was created by "10components-20210601-qljnc-1318940345" Pod.
And "10components-20210601-qljnc-1318940345" Pod sends requests to "tfx-infraval-modelserver-zzl26" Pod for getting responses.
[code]

---------
[code]
Do you mean they should communicate

[2021-06-04 07:55] chensun opened #5801 "Update KFP samples to use types that are compatible in v2."
KFP SDK v2 has the distinction between Artifacts vs. Parameters. And they are decided by the input/output type annotation.
See the doc for more details: https://www.kubeflow.org/docs/components/pipelines/sdk/v2/component-development/#designing-a-pipeline-component

Some of our existing components or samples may use types that are intended to be parameters but would result as artifacts instead when

[2021-06-04 08:31] Bobgy commented on #5744
Thank you, this seems a problem with microk8s's kubeflow distribution. Do you know how to contact them?

[2021-06-04 09:14] jiyongjung0 commented on #1471
FYI, I met the same issue. But I switched to `pns` because I faced the following error when I tried `k8sapi`.
[code]

When I tried to use `pns` using environment variable as in the previous comment, it failed again with the following error.
```process namespace sharing is not enabled on pod```

So I just set it directly like following and it worked.

[code]

See also https://github.com/kubeflow/pi

[2021-06-04 10:42] difince commented on #4812
Hi @Bobgy, @Ark-kun I am a new contributor, looking for my first issues
Can I give a try to this issue ?

[2021-06-04 10:54] NikeNano commented on #2653
Made some more testing and you are correct @Windfarer, awesome finding in #5800

[2021-06-04 10:57] difince commented on #5748
Hi @Bobgy, @zijianjoy Can I work on this issue ?

[2021-06-04 11:37] Bobgy commented on #5748
@difince Sure, you are welcome to work on this!

[2021-06-04 12:07] danishsamad commented on #5138
@elikatsis @yanniszark  Can the proposed solution be leveraged to access the KFP API server externally as well?
I understand this design proposal is to enable KFP API server access for internal services but the current recommendation for external use cases to use authservice session tokens as described [here](https://github.com/kubeflow/kfserving/tree/v0.5.1/docs/samples/istio-dex) has short comin

[2021-06-04 12:14] Bobgy commented on #4812
Hi @difince, sorry this issue can probably be closed. We are now standardizing caching behavior for v2 compatible mode. So it won't be worth much updating v1 caching.

This is just about our priority, if you are interested, feel free to investigate this.

[2021-06-04 12:19] difince commented on #4812
Thank you @Bobgy

[2021-06-04 15:27] zijianjoy commented on #3970
Currently pending the decision and implementation of https://github.com/kubeflow/pipelines/issues/5798.

[2021-06-04 16:18] daikeshi commented on #3763
hmm, we are using `gcr.io/ml-pipeline/persistenceagent:1.3.0`. Are you referring to `controller-runtime` lib version [here](https://github.com/kubeflow/pipelines/blob/1.3.0/go.mod#L51)? It seems that it hasn't been changed since v1.3.0

[2021-06-04 21:18] hanpeiyu94 commented on #5744
Thanks for you help, I am not using Microk8s for right now, I'll ask them when I need to.

[2021-06-04 21:18] #5744 closed

[2021-06-05 03:13] Bobgy commented on #3763
Yes, I've got a wrong impression. There's a new pending PR that updates this lib and k8s client. That might help.

Based on my investigation, this seems a problem with the controller boilerplate code or the library.

[2021-06-05 06:15] Bobgy commented on #5687
Hi @difince, if you are looking for issues to contribute, this would be my recommendation. (It can be several PRs too)

Feel free to reject based on your own interests.

[2021-06-05 13:22] HelmiGH commented on #1075
@Ark-kun is the component you created supports a PVC  in the log_dir_uri field ?

[2021-06-05 14:39] daikeshi commented on #3763
@Bobgy that's awesome! Would you mind sharing the link to that new PR, so l keep an eye on it when it gets merged and released? Thank you!

[2021-06-05 15:44] Bobgy commented on #3763
Sure, it's https://github.com/kubeflow/pipelines/pull/5792

[2021-06-06 00:12] zijianjoy commented on #5670
### Current INPUT/OUTPUT tab

Render Input Parameters, Input Artifacts, Output Parameters, Output Artifacts.

They are read from Workflow object.

### Use MLMD

Based on execution, we can find a list of events to identify artifact and input/output for this execution. Detail info is in https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/third_party/ml-metadata/ml_met

[2021-06-06 05:51] zijianjoy commented on #5670
### Questions

1. What is the relationship of Input/Output tab vs the ML metadata tab in https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/frontend/src/pages/ExecutionDetails.tsx#L126-L145? How should we merge them into one? Possible solution: Move the INPUT/OUTPUT/DECLARED_INPUT/DECLARED_OUTPUT to Input/Output tab, and shows only Properties/Custom Properties in M

[2021-06-06 10:11] Bobgy commented on #5670
These questions are right to the point! Let me try to explain some context, I don't have a clear answer to some of them, you'll need to do some designing.

In KFP v1, input / output tab shows info parsed from argo workflows, but ML metadata tab shows info from MLMD. In v2 & v2 compatible, both will come from MLMD (and they are duplicate), so some merging or information rearrangement is necessary a

[2021-06-06 10:13] Bobgy opened #5803 "[v2compat] use declared inputs/outputs in MLMD model"
https://github.com/google/ml-metadata/blob/47150524ee5ceee9766a034c4fbe5427440dd79e/ml_metadata/proto/metadata_store.proto#L100-L138

Figure out what should be KFP's canonical way to log input/output events

[2021-06-06 15:05] cejj opened #5804 "OOM error when running a pipeline job"
I am currently using Vertex AI pipelines and using `component` decorator to preprocess data. When I submit the pipeline I am getting OOM error, I checked the documentation and couldn't find a way to specify `machineType` in `create_component_from_func`.

Is the option to resolve the issue is by submitting a CustomTrainingJob ?

---

Impacted by this bug? Give it a 👍. We prioritise the issues with

[2021-06-07 01:29] Bobgy commented on #5803
Confirmed this is intentional for us, because KFP doesn't have non-declared inputs and outputs. So this is simpler for us.

We might need a doc to introduce KFP MLMD spec differences from the original spec.

[2021-06-07 01:29] Bobgy commented on #5803
/cc @zijianjoy
This answers one of your questions

[2021-06-07 07:54] RakeshRaj97 commented on #5783
I'm too unable to clear all the artifacts and executions for deleted runs.

[2021-06-07 09:15] Bobgy commented on #5681
@kimwnasptd Great! I am not opinionated about a template, you can use whatever template you prefer.

[2021-06-07 09:55] anencore94 opened #5806 "[feature] support timeout option for watching"
### Feature Area

/area sdk

### What feature would you like to see?
- When we use `kfp run submit -w`, we have to wait forever when run stay at pending.
- However, I'd like to specify the timeout option with it.

### What is the use case or pain point?
- `kfp run submit -t 60` will wait 60 seconds max, until run be completed
- it would use [kfp client's wait_for_run_completion function](https://g

[2021-06-07 11:31] senarvi opened #5807 "[sdk] Component parameters with 'Bool' type cannot be used in conditions ("invalid truth value")"
### Environment

*  KFP SDK version:
kfp                      1.6.3
kfp-pipeline-spec        0.1.8
kfp-server-api           1.6.0

### Steps to reproduce

Using a boolean parameter in an "if" condition in container arguments used to work in kfp==1.4.0, but kfp==1.6.x gives the following "invalid truth value" error (apparently trying to pass the parameter placeholder to `strtobool()` even if the va

[2021-06-07 12:10] Bobgy commented on #5809
Thanks for the proposal, I just transferred this issue

[2021-06-07 12:11] Bobgy commented on #5809
I'm curious how an operator would be preferred over kustomize manifests: https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize.

See documentation: https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/

[2021-06-07 12:13] Bobgy commented on #5303
I'm curious why, but I'm working on blockers to release 1.6.0. Rough ETA would be 2 weeks

[2021-06-07 12:19] #2653 closed

[2021-06-07 12:27] swamat commented on #5597
Can someone please help on this

[2021-06-07 12:58] jmendesky commented on #5809
Thanks for getting back :)
I am referring to submitting an actual ML pipeline to a running KubeFlow Pipelines instance rather than installing Kubeflow Pipelines using an operator.

[2021-06-07 13:25] axeltidemann commented on #5303
@Bobgy roughly 2 weeks to get 1.6.0 on Google Marketplace? That is great!

[2021-06-07 15:42] cejj commented on #5804
Okay I found a workaround by leveraging `experimental.run_as_aiplatform_custom_job` where I could specify the machine type.

[2021-06-07 15:42] #5804 closed

[2021-06-07 15:57] Bobgy commented on #5597
/cc @DavidSpek
In case you want to comment on this

[2021-06-07 16:01] DavidSpek commented on #5597
@Bobgy Thanks for the ping. Our deployment for AWS includes a couple different methods to integrate S3 and Pipelines, so I'll see if I can spin up a test cluster with a similar implementation to this one and replicate the behavior.

I did notice this behavior while I was experimenting with using upstream Argo Workflows. I doubt it is related, but I haven't looked into it yet so I thought it might

[2021-06-08 00:22] chensun commented on #5684
Should have been covered by https://github.com/kubeflow/pipelines/pull/5759

[2021-06-08 00:22] #5684 closed

[2021-06-08 05:37] #5788 closed

[2021-06-08 05:37] #5685 closed

[2021-06-08 11:20] Bobgy commented on #5718
TODO: I'll review argo v3 images for licenses and upgrade the manifests.

[2021-06-08 14:14] sibleyd commented on #5138
@jaiganeshp if you copied the PodDefault from the earlier comment you aren't setting the right Audience. The example sets "ml-pipeline", however the value should be "pipelines.kubeflow.org" (this is the default value if not overridden, "DefaultTokenReviewAudience", I deployed from the manifests and this value was not changed).

When the incorrect audience is set you should see the error "Authentic

[2021-06-08 18:10] pablofiumara-azumo opened #5815 "Cert Manager + Istio + Kubeflow + Azure + LetsEncrypt"
How can I setup SSL for a Kubeflow installation (using Istio and Cert Manager) on Azure? URL is https://mydns.westus.cloudapp.azure.com/

Thanks in advance

[2021-06-08 18:38] pbarker commented on #5757
Would be cool if we could make this into generic validations for parameters, I have a need for validating things like names so that they fit into the Kubenetes validations

[2021-06-08 21:03] capri-xiyue opened #5816 "[v2compat] generate cache key and calculate hash of the cache key"
### Feature Area

### What feature would you like to see?

generate cache key and calculate hash of the cache key.
key.
Specifically the cache key include:
- the mapping between the input artifact names and MLMD artifact ids
- the mapping between input parameter name and input parameter value
- the mapping between output artifact name and output artifact spec
- the mapping between output parameter

[2021-06-08 21:17] capri-xiyue opened #5817 "[v2 compact] DB and API for creating/querying cache entries"
### Feature Area
/area backend

### What feature would you like to see?
Set up DB and create API for for creating/querying  cache entries

--

</div></b>

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-06-08 21:20] capri-xiyue opened #5818 "[v2compat] add enable cache option in v2 compatible mode"
### Feature Area
/area sdk

### What feature would you like to see?
Similar to <KFP V2>{https://github.com/kubeflow/pipelines/blob/28431fc3fdf6b117eaad0a2986e7fa270a50596d/sdk/python/kfp/v2/google/client/client.py#L264}, add enable cache option in v2 compatible mode. Compiler should be able to pass enable cache option to launcher

### What is the use case or pain point?

### Is there a workaround

[2021-06-08 21:37] capri-xiyue opened #5819 "[v2compat] Fetch cache result from MLMD and put cache result into argo output artifacts/parameters"
### Feature Area

### What feature would you like to see?
Fetch cache result from MLMD and put cache result into argo output artifacts/parameters

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-06-08 21:39] capri-xiyue opened #5820 "[v2compat] cache integration test"
### Feature Area

### What feature would you like to see?
cache integration test
Set up integration test. One for enabling caching scenario. One for disabling caching scenario.

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-06-09 05:13] Bobgy commented on #3821
/assign @zijianjoy
is fixing this

[2021-06-09 05:17] Bobgy commented on #4844
We already support this in v2 sample test

[2021-06-09 05:17] #4844 closed

[2021-06-09 05:20] #4687 closed

[2021-06-09 05:49] Ark-kun commented on #5711
With the current state of the "v2 compiler", you'll need two separate uploader components - one for uploading strings (String-typed outputs) and another for uploading non-strings...

[2021-06-09 05:54] TrsNium commented on #4710
I have same issue(https://github.com/kubeflow/pipelines/issues/4710#issuecomment-849465918).
I also tried the following method, but it failed with error.

[code]

[code]

[2021-06-09 08:13] ValdasK commented on #4375
When maintainers are unable to adjust labels for six months...

[2021-06-09 11:37] DavidSpek commented on #5815
I'm working together with @pablofiumara-azumo to get this solved, so the issue can be closed.

/close

[2021-06-09 11:38] #5815 closed

[2021-06-09 12:31] difince commented on #5748
/assign difince

[2021-06-09 13:56] karlschriek commented on #5138
@elikatsis, I am currently looking at this with @DavidSpek. Could you help us undestand a bit what is happening in this PodDefault? It seems to be projecting the token from a ServiceAccount called **ml-pipeline**, which would need to be mounted onto the notebook server pod (by default the SA is "default-editor"). Is my understanding correct that we need to define a different SA here? And if so, wh

[2021-06-09 16:03] zijianjoy opened #5825 "[UI] Use metadata instead of customProperties to visualize artifact metrics."

[2021-06-10 03:18] Bobgy commented on #5726
Hi @juliusvonkohout , the problem you mentioned is with KFP v1 caching.

In v2 compatible caching design, we won't change the Pod spec when it's cached, so this will no longer be a problem.
In v2 design, we will skip the Pod entirely, so this won't be a problem either.

[2021-06-10 07:39] NikeNano commented on #5801
/assign

[2021-06-10 08:55] Bobgy opened #5830 "[v2compat] wrong param passed when param contains JSON"
### Environment

*  KFP SDK version: master branch

### Steps to reproduce

[code]

I got the following log for `test2` task (`task1` is expected).
[code]

### Expected result

[code]

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-06-10 08:56] Bobgy commented on #5830
/assign @chensun

[2021-06-10 09:01] Bobgy commented on #5830
this is obviously a corner case we didn't think of for the "BEGIN-KFP-PARAM[...]END-KFP-PARAM" hack

[2021-06-10 09:03] Bobgy opened #5831 "[v2compat] pipeline with output name containing space cannot compile"
### Environment

*  KFP SDK version: master

### Steps to reproduce

1. Start with https://github.com/kubeflow/pipelines/blob/master/samples/test/reused_component.py,
1. Rename output name from `sum` to `Total Value`.
1. Compile and run in v2 compatible mode.
1. It fails with a KeyError looking for `Total Value`

### Expected result

The pipeline should compile and run.

### Materials and Referenc

[2021-06-10 09:03] Bobgy commented on #5831
/assign @chensun

[2021-06-10 11:16] Bobgy opened #5834 "[v2compat] cannot override container image"
### Environment

*  KFP SDK version: master

### Steps to reproduce

1. Write any pipeline that tries to override task container image at pipeline level using a parameter, e.g.
https://github.com/kubeflow/pipelines/blob/b3c2351a02231f02ecb3f144d3bade06d854ad18/samples/core/visualization/tensorboard_minio.py#L182-L183

1. compile in v2 compatible mode
1. It fails immediately when running the pipeli

[2021-06-10 18:19] DavidSpek commented on #5244
@andre-lx Thanks for the fix. I'll be looking at adding this to the Istio installation used by [ArgoFlow-Azure](https://github.com/argoflow/argoflow-azure), which is still in the very early stages but will hopefully have more integrations with Azure soon. Any help to add Azure integrations to this deployment are greatly appreciated.

[2021-06-10 20:22] NikeNano opened #5835 "[sdk] V2_COMPATIBLE mode don't work with parameter input for setting resources."
### Environment
For more info: https://github.com/kubeflow/pipelines/pull/5447#issuecomment-858482668

*  KFP version:

*  KFP SDK version:

*  All dependencies version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-06-10 20:28] #5825 closed

[2021-06-10 20:34] NikeNano commented on #5835
Feel free to update the name as well @chensun.

[2021-06-10 20:34] jbottum commented on #5764
/kind question
/priority p2
/area pipeliines

[2021-06-10 21:34] #5748 closed

[2021-06-10 22:19] Bobgy commented on #5764
It seems KFP cache deployer is missing in minikf.
@yanniszark @elikatsis who is the best person to ask about minikf?

[2021-06-10 22:37] Bobgy commented on #4324
/lifecycle frozen

[2021-06-10 23:28] #1956 closed

[2021-06-11 00:36] Bobgy commented on #5809
Understood, welcome contribution on this area

[2021-06-11 00:39] Bobgy commented on #5797
Hi @daikeshi, the namespace selector is in Kubeflow central dashboard. I'm transferring this issue to kubeflow repo

[2021-06-11 00:40] Bobgy commented on #5807
/cc @chensun

[2021-06-11 00:42] Bobgy commented on #5806
Welcome contribution! This seems useful

[2021-06-11 00:46] zijianjoy commented on #5783
We plan to implement deleting cachedb when deleting a run record in V2 compatible mode. However, currently MLMD doesn't support deleting metadb in mysql database, you can file issue to MLMD repo.

[2021-06-11 00:47] zijianjoy commented on #5783
https://github.com/google/ml-metadata

[2021-06-11 00:49] Bobgy commented on #5584
The issue is avoided in v2 compatible and v2 caching design.
See bit.ly/kfp-v2-compatible and bit.ly/kfp-v2

[2021-06-11 00:49] #5584 closed

[2021-06-11 00:50] Bobgy commented on #5579
@orugantichetan can you raise the issue in metacontroller repo instead?

[2021-06-11 00:50] #5579 closed

[2021-06-11 00:52] Bobgy commented on #5548
@santiagoolivar2017 can you provide a full sample pipeline to reproduce this issue?

[2021-06-11 00:54] Bobgy commented on #5545
+1 to NikeNano's answer

[2021-06-11 00:54] #5545 closed

[2021-06-11 00:58] zijianjoy commented on #5534
@luiu1234 What is the reason for preferring yaml over python for loading pipeline from file? We are currently heading towards the direction of supporting pipeline construction using python only.

/cc @chensun

[2021-06-11 01:02] zijianjoy commented on #5578
We will upgrade metacontroller and investigate if there is any breaking change in this major version bump.

Another option is to remove metacontroller, and use kubeoperator or helm instead.

[2021-06-11 01:08] Bobgy commented on #5533
In GCP, it's recommended to use GCS & Cloud SQL, so we can avoid this problem.

[2021-06-11 01:09] Bobgy commented on #5453
Updated documentation for v2 compatible mode in https://www.kubeflow.org/docs/components/pipelines/sdk/v2/v2-compatibility/

[2021-06-11 02:15] anencore94 commented on #5806
/assign @anencore94

[2021-06-11 06:32] Bobgy opened #5838 "[v2compat] support minio/s3 pipeline root for v2 python components"
### Environment

*  KFP SDK version: head

### Steps to reproduce

1. run https://github.com/kubeflow/pipelines/blob/master/samples/test/lightweight_python_functions_v2_pipeline.py with minio pipeline root
2. it fails with

[code]

I further outputted v2 python component wrapper code and found that it only supports gs:// pipeline root:

![image](https://user-images.githubusercontent.com/4957653/12

[2021-06-11 06:49] Bobgy opened #5839 "[samples] consistent main block for pipeline samples"
### Feature Area

/area samples

### What feature would you like to see?

I'd like to see a consistent __main__ block for pipeline samples.

### What is the use case or pain point?

Make samples easy to use with just `python xxxx.py`.

### Is there a workaround currently?

1. Use `dsl-compile` to compile a sample and run it
2. Edie the sample or copy the sample elsewhere to inject a `kfp.Client()`

[2021-06-11 06:52] Bobgy commented on #5839
I think the best experience is doing https://github.com/kubeflow/pipelines/issues/5381 first.

Then samples do not even need a main block.

To run a sample: `kfp run xxxxx.py`.
To compile a sample: `kfp compile xxxx.py`.

If env-specific args are needed (e.g. KFP host name), configure them as env vars / config files, so they are not needed in each `kfp` CLI run.

[2021-06-11 06:57] Bobgy opened #5840 "[feature] dsl-compile supports v2 compatible mode"
### Feature Area

/area sdk

### What feature would you like to see?

Add a flag to enable v2 compatible mode when using dsl-compile.
Ideally, v2 compatible mode can be enabled using an env var, so that we can switch to v2 compatible mode and do not need an explicit flag each time.

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-06-11 07:08] Bobgy opened #5841 "[pH] propose using a golang linter"
Rationale: a linter can catch non-obvious but common problems, for example, I guess https://github.com/kubeflow/pipelines/pull/5836/files#r649683859 should be an issue that can be caught by a golang linter.

Candidates:
* https://github.com/golangci/golangci-lint

[2021-06-11 07:51] chensun commented on #5839
I suggest we keep v1_legacy mode as the default compilation mode for now.
Some samples need to be updated, and some v2 compatible bugs needs to be fixed before it's ready to be the default mode in our sample.

We have warning saying that v2 compatible is in beta state and many features may not work as expected. I think by the time we feel like we can remove this warning, then v2 compatible mode ca

[2021-06-11 08:07] Bobgy commented on #5839
@chensun I think you made a great point!

Note that there are also v2 only samples, I think we should use v2 compatible mode for them as the default.

Therefore, the overall guideline is:
* any pipelines that work in v1 should default to compile in v1 legacy mode
* any pipelines that only work in v2 should default to compile to v2 compatible mode

Does this match your expectation?

[2021-06-11 08:10] Bobgy commented on #5839
Another Q: do we write main block as `kfp.Client().create_run_from_pipeline_func` or `kfp.Compiler().compile`?

create_run_from_pipeline_func requires some connection setup, so it has harder learning curve.
After finishing the config, it makes future iterations much easier (editing pipelines & resubmitting).

compile has minimum learning curve, just compile and then upload the compiled file in UI.

[2021-06-11 08:15] jmendesky commented on #5809
We are currently discussing a potential solution internally in our team. Once we have clarified our requirements and come up with an initial design we should be able to present our approach and then see whether it makes sense to contribute it to the community.

[2021-06-11 08:46] Iuiu1234 commented on #5534
Hi @zijianjoy ,
reason is consistency.
For me is (a little bit) inconsistent to use use yaml in one side (features) & py in the other (pipelines).

But if you're moving to py in both sides then that's fine by me.

[2021-06-11 09:15] chensun commented on #5534
Sorry, I missed this. Thank you @zijianjoy for bringing this to my attention.

Just to clarify, Python has always been the only option to write pipelines. Component yaml is designed for authoring  components only but never the pipelines.

@Iuiu1234, let's think about what actions you may take between loading this pipeline.yaml and generating the static.yaml (which is an Argo workflow template yaml

[2021-06-11 09:28] chensun commented on #5534
Agree that inconsistence exists today. Also keep in mind that there're difference between component and pipeline as of today. When you write a component using yaml, you are only defining a template, like you're defining a function. But the pipeline contains how do you use such templates -- which arguments you passed to call a function. The current component yaml is not capable of express the later

[2021-06-11 13:51] jbottum commented on #5764
@cloudbow Bobgy is correct, minikf has a limited implementation of pipeline step caching which supports initial use cases (i.e. pipeline steps in hyperparameter tuning).   The KFP standard cache deployer has not been implemented in MiniKF.     This enhancement is on the roadmap.

[2021-06-11 13:52] aronchick opened #5843 "Possible to use ImagePullSecret on a func_to_container_op?"
Is it possible to use an ImagePullSecret on a func_to_container_op?

[2021-06-11 13:58] skogsbrus opened #5844 "[backend] Cached volume creations leads to unschedulable runs, if the pvc is deleted in the pipeline"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? KF 1.3 Manifests release, on premises

*  KFP version: 1.5.0

*  KFP SDK version:

[code]

### Steps to reproduce

1. Define a pipeline that creates a volume, mounts it, and then destroys it:

[code]

2. Create a pipeline and an experiment in the UI from the above sample
3. Launch a run, let it complete
![image](https://user-images.g

[2021-06-11 15:37] elikatsis commented on #5764
Hi all!

It's true, we don't deploy the official KFP cache in MiniKF, for a few reasons:
1. We are running into issues related to https://github.com/kubeflow/pipelines/issues/5257 because every Kale pipeline starts with a VolumeOp creating a PVC with the notebook environment & data. Thus, we cannot have this step cached because no PVC will get created.
2. As mentioned in the aforementioned issue,

[2021-06-11 18:05] pablofiumara opened #5846 "[feature] Azure - Authenticating Kfp client using client id, secret id and tenant id"
Is that possible? Something like the following (point 3) but for Azure: https://www.kubeflow.org/docs/distributions/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment

[2021-06-11 18:30] dutingda opened #5848 "[frontend] [UI] [aws] [need help] Not able to retrieve the image to KFP UI from S3"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Kubeflow pipeline runs normally, but the frontend is not working as expected.

*  KFP version:  1.1

### Steps to reproduce

By using the similar code in [`this example`](https://github.com/kubeflow/pipelines/tree/master/samples/contrib/versioned-pipeline-ci-samples/kaggle-ci-sample/visualize_html), I do not know how to do the config

[2021-06-11 18:38] Ark-kun commented on #5711
## KFP v1

KFP has simple and easy data passing model.

Any input can be consumed
1. as value (`inputValue` placeholder)
2. as file (`inputPath` placeholder).

And the argument for any input can come from
1. Constant value
2. Pipeline parameter
3. Upstream component output

Combining these options there are 6 end-to-end data passing cases:

1. Pass constant value which gets consumed as value.
2. P

[2021-06-11 19:39] Ark-kun commented on #5843
`func_to_container_op` function creates components. This function does not access images, so it does not need secrets.

Components are expected to be portable and self-contained. We do not support adding cluster-specific information like secret names or volumes to the component definitions.

However, after creating an instance of the component, some of these options can be configured on the result

[2021-06-11 19:44] Ark-kun commented on #5798
Perhaps we can start with this.

We'll need the ability to preserve the original types names for all custom artifact types, so adding system types might not be feasible or scalable.

[2021-06-11 19:49] Ark-kun commented on #5484
Thank you for identifying the issue.

We're interested to know more about your pipeline. What is the upstream component you use with the confusion matrix component?

[2021-06-11 20:03] aronchick commented on #5843
AH, thank you - changing to the new function and switching to the pipeline_conf did it (I kept trying to hack at it with annotations).

Feel free to close - but, it may be worth allowing setting a specific imagePullSecret by component (in the rare case i need to pull from two separate private repos in a pipeline)

[2021-06-11 20:04] aronchick commented on #5843
OH, never mind - misread your comment. Yes, setting `pipeline_conf` by component is exactly what i was thinking of. Perfect. Thanks!

[2021-06-12 05:54] Ark-kun commented on #5843
pipeline_conf is pipeline-level configuration.

task-level configuration can be set using `ContainerOp` members. All Kubernetes' options are supported, but only few Kubeernetes' Pod-level options are supported.

[code]

Unfortunately, Argo does not support setting the imagePullSecrets per Argo Template, inly per-Workflow.

However the `set_image_pull_secrets` accepts a list of secrets, so you can

[2021-06-12 05:54] #5843 closed

[2021-06-12 05:57] Ark-kun commented on #5843
These functions have the same code and behavior. Just different names. We've deprecated the direct construction of COntainerOp and added support for components in TFX SDK where the ContainerOp does not exist. So the `create_component_from_func` is just a more fitting name compared to `func_to_container_op`.

[2021-06-12 06:01] Ark-kun commented on #5801
Lets hold this for now given the new focus on KFP parity and compatibility with existing customer components and pipelines.

[2021-06-12 06:17] Ark-kun commented on #5801
GCPProjectID type is not the same as a string. Just like an integer or boolean or date it can be *stored* as string, but that does not make it a string.

`GCPProjectID` is useful for the pipeline parameters. The UX is supposed to show the GCP Project picker control and pre-select the current project (has not been implemented yet).

`GcsPath` has validator for the URI format. It could also benefit

[2021-06-12 17:34] JODIN1727 commented on #5848
Thank you for your understanding

[2021-06-12 21:21] JODIN1727 commented on #5848
No good PC and Tools to work on further. Need more times in learning more on how to smoothen enhanced works.

[2021-06-12 21:24] dutingda commented on #5848
@JODIN1727 Do you mean we do not have a solution to it now?

[2021-06-12 21:31] JODIN1727 commented on #5848
It is moderately good to go as way out but need more times for tools to support

[2021-06-13 12:48] achikars opened #5851 "[bug] Kubeflow Pipeline experiment run is always running"
### What steps did you take
Ran an experiment , created in a workflow.py file and run from jupyterlab.

### What happened:

I have multiple experiment runs(workflow) which runs sets of kuberenets pods(children inside the workflow) but from some reason some of the runs are still running for days even though all the child pods are completed (Succeeded/Failed).

I have been looking at the logs of the

[2021-06-14 01:16] #3526 closed

[2021-06-14 01:21] huang06 opened #5853 "[bug] Unable to start the built-in pipeline. rpc error: code = DeadlineExceeded desc = context deadline exceeded"
### What steps did you take

Run the built-in pipeline experiment: **[Tutorial] Data passing in python components**

### What happened:

After the Kubeflow v1.20.0 installation, I try to run the built-in pipeline **[Tutorial] Data passing in python components**.

Those pipeline components stuck for a long time.

![image](https://user-images.githubusercontent.com/20633863/121827731-aefd0680-ccef-11