[2020-08-17 03:14] xinbinhuang opened #4379 "Create componnet with metadata and metrics"
Hi team,

I am trying to create reusable components with UI metadata and metrics persisted. It seems that I need to explicit about outputting metadata and metrics in the `component.yaml` file. For example, [confusion_metric](https://github.com/kubeflow/pipelines/blob/master/components/local/confusion_matrix/component.yaml)

[code]

However, in the [component specification](https://github.com/kubef

[2020-08-17 03:17] Bobgy commented on #1653
Fixed by https://github.com/kubernetes/test-infra/pull/18837

[2020-08-17 03:17] #1653 closed

[2020-08-17 07:23] marrrcin commented on #1779
Yes, it's still valid

[2020-08-17 09:41] marrrcin commented on #4356
I'm surprised to find this topic on github as I thought that newest version supports managed storage out-of-the-box, especially because there is a KFP link related to managed storage configuration:
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/gcp

Right now we're facing the issues with migration to another Kubeflow cluster, we wanted to persist all pipeline runs (exper

[2020-08-17 14:53] willypicard commented on #4356
I completely agree with @marrrcin and @bobgy: managed storage, enabled by default on GCP, would allow for easy cluster backups and cluster sizing. Definitively a highly important topic!

[2020-08-17 15:50] amygdala opened #4380 "FR: add retry to output handling on step termination"
I had a pipeline run terminate in error, and found this in the logs, apparently related to handling step outputs:
[code]
`10.55.240.1` is the `kubernetes` service.  Whatever the network error was, it was transient.  Could it make sense to add a retry/backoff loop when doing output handling?

[2020-08-17 17:31] Gsantomaggio opened #4381 "[Feature Request] Artifacts store path."
Per [discussion](https://kubeflow.slack.com/archives/CE10KS9M4/p1597654713376400) with @Bobgy and (internally) with @alfsuse

Currently, there is no way to set the artefacts path, and the link is something like:

http://xxxx/artifacts/get?source=minio&namespace=kubeflow&bucket=mlpipeline&key=artifacts%2Firis-classification-w2r9z%2Firis-classification-w2r9z-2210686619%2Ftraining-tree-output.tgz

If

[2020-08-17 19:19] Ark-kun commented on #4361
I've found the reason for conflicts: We've committed the https://github.com/kubeflow/pipelines/pull/4246 PR in the release branch, not master.  This is a pretty bad incident. We need to be careful about the target branch for PRs.
We should probably protect the release branches and only allow cherry-picks/merges there.

[2020-08-17 19:25] Ark-kun commented on #4361
I made a PR for it: https://github.com/kubeflow/pipelines/pull/4382

[2020-08-17 19:36] Ark-kun commented on #4375
We're sorry you've experienced this issue.
I'm not sure that KFP currently has a built-in ability to spawn notebooks.
You might want to transfer this issue to https://github.com/kubeflow/kubeflow

[2020-08-17 19:47] Ark-kun commented on #4378
We suggest to be explicit here.
Your components output intermediate data that can be passed to other components. This data is system-managed and you're not supposed to know how it's stored (or whether it's stored at all).
If you want to persist the data, then just export/upload/persist it explicitly:

[code]

This way you can have a single component that is responsible for persistence and the rest

[2020-08-17 19:52] Ark-kun commented on #4379
Yes, the confusion_matrix component still uses a legacy way to describe outputs.

`fileOutputs` works, but we really discourage its usage.
Before:
[code]
after:
[code]

The confusion matrix component will be fixed at some point in the future: https://github.com/kubeflow/pipelines/pull/580/files#diff-a65b15d94e67f77a796e4940651e5c62

[2020-08-17 19:53] Ark-kun commented on #4380
I think this can only be fixed on the Argo side.

[2020-08-17 20:01] Ark-kun commented on #4381
We consider the intermediate data passing/storage an implementation detail that can change in the future.

I think it should be possible to map them using the MLMD.

Currently the artifact storage is configured by the `workflow-controller-configmap` ConfigMap. I wonder whether it's possible to have different configmaps in different namespaces for different users. @chensun has more information on t

[2020-08-17 21:21] Ark-kun opened #4384 "Protected branch update failed"
I got the following error trying to update my PR branch which is in the pipelines repo:
Were there any related changes recently?
[code]

[2020-08-17 22:15] Bobgy commented on #4361
Agree with the problem, how can we enforce it?

I think github UI isn't showing strong indication where the PR goes to. Adding an extra approval process for release branches might be a way.

any other ideas?

[2020-08-17 22:18] Ark-kun commented on #4361
Maybe we can have a bot that marks or adds comments to PRs that do not go to master.

[2020-08-17 22:26] Bobgy commented on #4384
There was a branch protection rule set up to enforce cla by prow.

looks like it's causing this

let me investigate

[2020-08-18 04:30] xinbinhuang commented on #4378
Thanks for the suggestion!  I think it would be nice to write down this point  in the documentation to avoid confusion in the future. (i.e. the system data is not supposed to be used outside the pipeline execution context)

[2020-08-18 04:33] xinbinhuang commented on #4379
Thanks for the example! I think it would be nice to add this information in the documentation, as it does not have a clear example on how to output the UI metadata and metrics in the `component.yaml` file.

[2020-08-18 04:38] Ark-kun commented on #4379
Thank you. We'll try to improve the documentation.

[2020-08-18 04:38] #4379 closed

[2020-08-18 04:52] Ark-kun commented on #4333
There is a PR to expose this setting in the SDK: https://github.com/kubeflow/pipelines/pull/3880
There were some design discussion there, but I wonder whether we should just go with what we have and possibly make amendments later.

[2020-08-18 04:56] Ark-kun commented on #4340
I think you can use the `Download from GCS` component to download the `specification.json` from cloud storage. And disable cache reuse for that component task.

[2020-08-18 04:58] yoni-taranis commented on #4333
I have tried adding it to the compiled yaml, and it still didn't go through to argo, could you think of any reason?

[2020-08-18 06:00] xinbinhuang commented on #4378
@Ark-kun Not sure if this is the right place to ask. So if I am using the `upload_to_gcp_op` as you suggested, is this the right way to do?

[code]
However the `data` is passed in as `argument` rather than `artifacts` and it does not work..

[2020-08-18 07:51] wmikolajczyk commented on #4356
I'm facing the same issues with moving my experiments between Kubeflow clusters.
@Bobgy
I would love to have support for managed storage on GCP

[2020-08-18 08:47] Bobgy commented on #4356
To answer some of the questions:

Yes, KFP standalone https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/gcp supports managed storage on GCP.

For full Kubeflow, the 1.1 release timeline was fairly tight, I was only able to get KFP multi-user support there, but didn't manage to tackle managed storage (although it isn't a lot of work, I should be able to reuse the standalone

[2020-08-18 08:53] Bobgy commented on #4356
FYI, I created another issue for supporting upgrading Kubeflow 1.0.2 to Kubeflow 1.1.0 while keeping data: https://github.com/kubeflow/pipelines/issues/4346. It's agnostic to managed storage, because KFP switched from shared mode to multi-user mode in Kubeflow 1.1.0 and DB migration will be required to keep your data.

Looks like some of you in this thread will be interested in that topic too, so

[2020-08-18 13:09] linkvt commented on #4141
@Bobgy thanks so far, is there some documentation on the latest supported k8s version for kubeflow-pipelines yet? Because we currently have no clue if we can upgrade our clusters or if KFP would be a blocker, thanks.

[2020-08-18 13:55] aleksandra-sp commented on #2816
Hi

I agree the arguments can be useful. I am setting up an automated release pipeline, one of the steps is the creation of a kubeflow pipeline. Since we have several environments with several container registries, I need to be able to pass the container image depending on the environment the kubeflow pipeline should be created for. I make use of environment variables to accomplish this now, but a

[2020-08-18 16:30] Bobgy commented on #4141
We are going to release KFP 1.0.1, it's supposed to support k8s 1.18 now.

[2020-08-18 16:34] Bobgy commented on #4141
Multiple people have tried 1.18 and we fixed reported problem, verified they work.

There is no automated testing on 1.18 yet.

This is status quo

[2020-08-18 17:13] jackwhelpton commented on #3412
Bump.

This is causing me pain too: we've previously worked around it using a shared volume, but owing to I/O demands that isn't going to cut it for this pipeline. I also tried the "hacky" workaround from that StackOverflow post, but that also fails:

[code]

[code]

[2020-08-18 17:58] ksonbol opened #4387 "Running compiled workflow on Argo produces error: "failed to save outputs: timed out waiting for the condition""
### What steps did you take:
Compile a simple pipeline with one step generating output (from a local file) and another using that as input:
[code]
### What happened:
I get the following YAML file which specifies both an output parameter and an ouptut artifact for the first task. Why does this happen?
[code]

Running the compiled YAML file using the Kubeflow UI works fine. However, running the same

[2020-08-19 00:25] rmgogogo commented on #4356
Hi Yuan, assume your mean this ticket is for Kubeflow fullset. Not Kubeflow Pipeline (standalone and Hosted/CAIP Pipeline).

[2020-08-19 03:41] Scagin opened #4388 "Producing data from one component and be consumed by another."
I tried to output data files from one component and I hope them can be loaded in downstream components. It works when I
reference a volume, and I load datas from volume. But when I didn't use a volume, files can't be found downstream. Is it the only way to output datas using volume? Is there any ways can do this work without a volume?

[2020-08-19 07:13] #3548 closed

[2020-08-19 07:30] lyschoening opened #4389 "Deleting first pipeline version of a pipeline and attempting pipeline run crashes ml-pipeline"
### What steps did you take:

There may be multiple bugs here.

1. I ran a pipeline on a specific pipeline version where there were multiple versions and the first pipeline version name had the same name as the pipeline, using the SDK with a code snippet looking roughly like this:

[code]

2. According to the pipeline UI the run was done with the correct specific pipeline version, however the Argo

[2020-08-19 07:47] Bobgy commented on #4356
@rmgogogo Yes, this issue is for the full Kubeflow installation.

[2020-08-19 09:07] Ark-kun commented on #4326
You might want to make sure your Kubernetes environment supports Argo. I was under the impression that several of our users have used OpenShift or the PNS executor successfully.

I think this is a standard feature of Argo. Can you please check whether any of Argo's parameter or artifact passing examples work for your setup? Data passing is a core feature of Argo and KFP. Without making it work, th

[2020-08-19 09:08] Ark-kun commented on #4326
I think the best course of action is to first try to make the underlying orchestrator (Argo) work for you.

[2020-08-19 09:24] Ark-kun commented on #4326
I think it might be best for you to avoid VolumeOp for now. Try making the containers and data passing work. If the system throws error asking to create emptyDir volumes under the output paths, then it might be possible to post-process the compiled workflow to add them. We've suggested to the Argo developers that they auto-mount the emptyDir volumes if Argo needs them for operation.

[2020-08-19 09:29] Ark-kun commented on #4378
We do not advice our users to create ContainerOp objects directly. Please create and load components instead. You can create a component by either writing a [component.yaml](https://raw.githubusercontent.com/kubeflow/pipelines/112de249a2c252f0a636bbfdf469d7ef2456f286/components/google-cloud/storage/upload_to_explicit_uri/component.yaml) file manually or creating one from a python function using `k

[2020-08-19 09:31] Ark-kun commented on #4388
Have you checked the [Data passing in python components](https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components.ipynb) tutorial?

[2020-08-19 09:35] Ark-kun commented on #4333
I think I know what's happening. Can you please use `kubectl get workflow .... --output yaml` and check whether the option is still there? I think backend might be using an old version of Argo and losing "unknown" fields.

[2020-08-19 10:11] Bobgy commented on #4361
I think prow has a plugin to add a label

[2020-08-19 11:59] yoni-taranis commented on #4333
@Ark-kun indeed it is there,

This is why I wasn't sure if the PR mentioned will help, since it only handles the client side

[2020-08-19 13:46] nakfour commented on #4326
@Ark-kun yes Argo works, we have been using it in our production cluster actually for quite some time. The key is to use volumes in passing parameters, once that is done, it all works. We are trying to find a way to get KFP python code work by allowing users to create volumes in the python code, instead of telling them do```oc create pv``` first then write your python KFP code.

[2020-08-19 13:53] nakfour commented on #4326
@Ark-kun is it possible to even use emptyDir from python KFP?

[2020-08-19 18:07] Ark-kun commented on #4387
In KFP all outputs are stored in the artifact storage. This is important for artifact tracking and execution caching.

This is not a feature which we officially support. Using Argo is an implementation detail an can theoretically change in the future.

Currently this expectation should be true. All workflows are executed by Argo. So if your pipeline works when submitted through UI, it should also

[2020-08-19 18:28] Ark-kun opened #4390 "The kubeflow-pipelines-tfx-python36 test is failing"
[code]

[2020-08-19 18:39] ksonbol commented on #4387
Thank you for your reply. I tried specifying the namespace or the serviceAccountName (or both) and I got the same result.

[2020-08-19 18:45] Ark-kun commented on #4333
@yoni-taranis Thank you for your patience.

Now we know that both parts need to be in place. SDK must give an ability to specify "Always". Backend must not lose that setting.

I guess not many people used it on preemptible nodes.

[2020-08-19 18:50] Ark-kun opened #4392 "Backend - Upgrade Argo module"
We've seen multiple bug reports where the root cause was backend stripping options from workflows. Latest is https://github.com/kubeflow/pipelines/issues/4333
The most likely reason is that backend submits Argo workflows for execution using an old Argo client. The information is lost when YAML is being deserialized to an olf Argo Workflow structure.

We should update the version of the Argo client

[2020-08-19 19:36] yoni-taranis commented on #4333
Thank you! For now we're getting by with the workaround. By the way, I'm not sure if this happens only on preemtibility, but also when the cluster autoscaler moves pods between nodes when scaling down.

[2020-08-19 19:41] #4390 closed

[2020-08-20 08:25] NikeNano commented on #4392
\assign

I will look in to this. Seems to effect some other stuff that I have issues with as well.

[2020-08-20 08:26] NikeNano commented on #4392
/assign

[2020-08-20 09:37] caffeinism opened #4394 "Could you tell me what the kubeflow pipeline is good for mlops or general pipelining over argo?"
I am currently experiencing various libraries or platforms related to machine learning.

The kubeflow pipeline is one of them, and I am trying to test a bit by reading the documentation and configuring the environment. However, I don't think the documentation doesn't express anything like the philosophy behind the kubeflow pipeline. (Currently, I think kubeflow documentation lacks such things...)

[2020-08-20 13:59] nakfour commented on #4326
@Ark-kun thanks for component suggestion in the KFP weekly for a component to create a volume from python. Is it possible to collaborate on creating this feature?

[2020-08-20 14:47] gnovack opened #4396 "minio, ml-pipeline, and ml-pipeline-persistenceagent pods not starting"
### What steps did you take:
Deployed Kubeflow to my local kubernetes cluster using these instructions: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

### What happened:
The following pods in the kubeflow namespaces did not start successfully:
- minio-657c66cd9-282vc
- ml-pipeline-669cdb6bdf-ltmqp
- ml-pipeline-persistenceagent-56467f8856-n9h7n

### What did you expect to happen:
All

[2020-08-20 17:23] Bobgy commented on #4381
what if we solve this problem directly?
it's not impossible to find artifacts related to pipeline runs, just lack of documentation

I can show you a sample using KFP api client and probably we can provide better helper methods in the client.

What do you think? Will this help?

[2020-08-20 20:41] yhwang commented on #4377
I tried to investigated this issue these two days and here are my findings:
- kfp cli uses kubectl current-context to get the id-token, url and sends the request to query ml-pipeline API.
- since kfp cli uses kubectl context to call the API, it may be different from the kubeflow user that user want to act as.
  Currently, kfp uses some options to support google IAP. I haven't study those options y

[2020-08-20 21:02] Tomcli commented on #4377
Thanks @yhwang for the investigation. It sounds good to me and I know https://github.com/kubeflow/pipelines/pull/4386 is trying to add the namespace support for cli.

[2020-08-20 21:24] yhwang commented on #4377
@Tomcli thanks for the info. seems he may add userid header as well. But for this issue, we do need to add istio RBAC settings. Let me work on the kfp cli first.

[2020-08-20 21:42] destornillador opened #4397 "The latest kfp=1.0.0 on Pypi is outdated"
Hello all,
I found that the content of the package kfp==1.0.0 uploaded on [Pypi](https://pypi.org/project/kfp/1.0.0/#description) differs from the one available here on Github. It is outdated.

### What steps did you take:
[A clear and concise description of what the bug is.]
[code]

### What did you expect to happen:
The package content on Pypi should be the same published on Github

Thank you al

[2020-08-20 23:36] Bobgy commented on #4397
Hi, @destornillador the content on github shows you development branch by default -- it is always more updated than the released pypi package.

If you choose the 1.0.0 tag on github, it will be the same

[2020-08-20 23:44] Bobgy commented on #4377
Can I confirm, is it possible to let istio auto add the userid header? Because letting users specify it is a security concern, we cannot verify user identity. anyone can pretend to be any one else

[2020-08-20 23:53] destornillador commented on #4397
Oh, thanks for mentioning it @Bobgy  . Honestly, I didn't download the tar.gz from GH because I assumed that the master branch was the latest tagged version.

I will close the issue.

[2020-08-20 23:53] #4397 closed

[2020-08-21 00:06] Bobgy commented on #2816
/reopen
What prevents you from specifying the arguments when you submit the pipeline?

[2020-08-21 00:08] Bobgy commented on #3412
/assign @numerology @neuromage @Ark-kun

[2020-08-21 08:17] Ark-kun commented on #4394
KFP uses Argo under the hood, but it provides valuable features on top.

* Reusable components. KFP has concept of components. They're somewhat similar to Argo templates, but are more portable and reusable. People are creating hundreds of components and are sharing them on GitHub. Components can be loaded from anywhere.
* Python-based pipeline building. You can just write your pipeline as `predict

[2020-08-21 19:23] HassanOuda opened #4399 "Error in backend - minio server not initiated"
### What steps did you take:
I ran the v1.1 istio_dex manifest and installed the multi-user pipelines v1.0.0.

### What happened:
I got crashloopbackoff pod error for ml-pipeline pod, ml-pipeline-api-server container. The error when I do:
kubectl logs ml-pipeline-5df444d46d-6pksr -n kubeflow ml-pipeline-api-server

`I0821 19:17:05.405000       6 client_manager.go:134] Initializing client manager
I

[2020-08-23 23:55] Bobgy commented on #3647
/reopen
/lifecycle frozen

[2020-08-24 00:04] Bobgy commented on #3667
/reopen
/frozen

[2020-08-24 03:37] Bobgy commented on #2704
Already documented in https://cloud.google.com/ai-platform/pipelines/docs/access-control#accessing

[2020-08-24 03:37] #2704 closed

[2020-08-24 05:01] #4394 closed

[2020-08-24 09:46] d34th4ck3r commented on #561
I am running a local cluster using [kind](https://kind.sigs.k8s.io/docs/user/quick-start/) and getting the same error. Here is what I get when I describe my pod using `kubectl describe pod file-passing-pipelines-cclzh-2358551148 -n kubeflow`:

[code]

[2020-08-24 14:23] nlarusstone commented on #4364
@PatrickXYS are there instructions on how to use IAM roles with Tensorboard? We don't have long-lived AWS secrets, so we'll need an IAM based solution

[2020-08-24 14:52] d34th4ck3r commented on #561
I was able to get KFP working on [kind](https://github.com/kubernetes-sigs/kind). Thanks to the comments mentioned here: https://github.com/kubeflow/pipelines/issues/4256

[2020-08-24 20:43] maganaluis opened #4407 "Kubeflow Pipelines timing out on Azure deployment"
### What steps did you take:
1. Run a in-house Kubeflow notebook template.
2. Get a timeout when running the pipeline.

### What happened:
When submitting a pipeline I'm getting a timeout, this has been happening sporadically.

[code]
[code]

### What did you expect to happen:
Consistency with the Kubeflow Pipelines API

### Environment:
Azure AKS

How did you deploy Kubeflow Pipelines (KFP)?

KFP

[2020-08-24 20:52] maganaluis commented on #4407
For contrast we had to modify the Jupyter Web API on Kubeflow to avoid timeouts by adding the code below before instantiating the kubernetes api client, this also solved issues with other applications relying on that API such as Airflow, and JupyterHub. We are wondering if this also will be an issue with KFP.

[code]

[2020-08-24 22:44] dtzar commented on #4407
@maganaluis What version / configuration of AKS are you using?

Do you experience the same problem on KFP 1.1?

[2020-08-24 23:04] maganaluis commented on #4407
@dtzar We are using AKS with Kubernetes version 1.16.10

I don't think there is KFP 1.1 (Kubeflow Pipelines) we are using their latest image tag, however we are using Kubeflow version 1.1

I just reviewed the latest logs, and as I mentioned it could be related to timeouts on the Argo api, and not KFP.

[code]

I'm attaching the logs for reference.

[ml-pipeline.log](https://github.com/kubeflow/pip

[2020-08-25 00:50] dtzar commented on #4407
I'm curious if you would try to use [our sample repo install process ](https://github.com/kaizentm/kubemlops) if you'd have the same problem (for KFP and/or AKS which uses 18.x and some other features). I do know that 1.1 RC manifests use a very old argo workflow controller of version 2.3.0 which has a bunch of problems.

[2020-08-25 00:57] Ark-kun commented on #4407
/cc @Bobgy @rmgogogo

[2020-08-25 01:14] maganaluis commented on #4407
@dtzar I can definitely try that, I will start with running a k8s api test on version 1.18.x I'm hoping that version allows the job below to pass. Modifying the Argo installation will take some time but we can try that as well.

https://github.com/maganaluis/k8s-api-job/blob/master/job.py

[2020-08-25 02:26] Ark-kun opened #4408 "Import components from AI-Hub"
The KFP repository might currently be a good discovery mechanism.

We might want to import some of the components that currently only exist on AI-Hub

https://aihub.cloud.google.com/s?category=pipeline

We could also import pipelines as samples.

[2020-08-25 08:02] Ark-kun opened #4409 "The released version of the SDK is really old"
I've discovered that the SDK lacks the feature that has been committed on June 3.

I think we should make sure that the features are getting released in regular and timely manner.

If that's not possible, we should release the SDK on it's own schedule. Previously the release cadence was two weeks.

[2020-08-25 08:03] yanniszark commented on #3513
/remove-lifecycle stale
/lifecycle frozen

[2020-08-25 09:30] solovyevt commented on #1205
/reopen

[2020-08-25 09:32] sbakiu commented on #4288
Seems like the problem is how the service accounts are created by our infrstructure team. Not sure exactly what the problem is. Anyways, closing the issue

[2020-08-25 09:32] #4288 closed

[2020-08-25 09:54] jingzhang36 commented on #4361
The above PR fixed the setup tools error in buildCpuTrainer, but now we have a missing license error.
<img width="1154" alt="Screen Shot 2020-08-25 at 5 52 42 PM" src="https://user-images.githubusercontent.com/5015530/91160396-f03e0e80-e6fb-11ea-8450-125ce5e8a37a.png">

[2020-08-25 12:29] Bobgy commented on #4399
@krishnadurai Can you help with this issue?
Seems istio dex specific

[2020-08-25 13:03] yoni-taranis commented on #4179
@radcheb - Thanks for the PR, I'm running with your fixed and indeed we now have no issues with large workflows.

I do have to say that I had an error in the decodeCompressedNodes function - "TextDecoder is not a constructor" - not sure why, for now I changed the decoding to use the Buffer class

[2020-08-25 13:05] juliusvonkohout commented on #4257
@alfsuse @alexec @jessesuen

i enabled debugging and noticed in the logs, that there is a "docker-" prefix for containerIDs on that specific cluster.
E.g.
[code]

https://github.com/argoproj/argo/blob/79217bc89e892ee82bdd5018b2bba65425924d36/workflow/executor/pns/pns.go#L380

a bit later it fails with

[code]

[debug_log.txt](https://github.com/kubeflow/pipelines/files/5123851/debug_log.txt)

[2020-08-25 13:24] yoni-taranis opened #4411 "Question - Using custom DNS on GCP Marketplace deplyment"
Hi,

Interested to know what would be the correct way to use a custom dns when deployed from the GCP Marketplace (Instead of the <uuid>....googleusercontent.com

Your help is appreciated, thanks!

[2020-08-25 17:17] Bobgy commented on #4049
@NikeNano let's discuss in the issue first

My questions:
https://github.com/kubeflow/pipelines/pull/4406#issuecomment-679029048

[2020-08-25 18:15] maganaluis commented on #4407
@dtzar I upgraded Argo to 2.10.0, interestingly the only thing I had to change on the clusterwide installation was the workflow-controller-configmap and it Kubeflow Pipelines worked as expected. However, the timeouts are still there and they are getting more consistent, may be I'm getting crazy here. Could you share the configuration you're using? May be VM types? Istio version?

[2020-08-25 21:35] dtzar commented on #4407
https://github.com/kaizentm/manifests/blob/eedorenko/kfdef-azure/kfdef/kfctl_azure.v1.1.0.yaml

[2020-08-26 02:42] Ark-kun opened #4412 "Presubmits fail due to requesting old Kubernetes version"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4410/kubeflow-pipeline-e2e-test/1298391823319830528
[code]

[2020-08-26 03:30] #4412 closed

[2020-08-26 05:03] Ark-kun commented on #1654
If you want this to be fixed, please thumbs up this Argo issue https://github.com/argoproj/argo/issues/2679 and maybe create new issue if you have additional problems.

[2020-08-26 05:12] Ark-kun commented on #4257
@juliusvonkohout Can you please report this issue to Argo? They're pretty responsive now and have first-hand experience with different executors. Please link the issue here so that we can upvote it.

[2020-08-26 05:33] Ark-kun opened #4414 "Upgrade remaining components to Python3"
Dome of the old components still use Python2 which is no longer supported.

We should upgrade them to Python3.

This is not urgent since components are independent from the SDK, but this can improve maintenance.

This query helps find some of the components using python2: https://github.com/kubeflow/pipelines/search?p=1&q=python-dev&unscoped_q=python-dev

[2020-08-26 06:15] Ark-kun opened #4416 "Postsubmit tests fail due to missing licenses when building the kubeflow - dnntrainer image"
https://pantheon.corp.google.com/cloud-build/builds/97dbf1ef-3eda-4590-b123-e00a972a7d48;step=19?project=ml-pipeline-test
[code]

[2020-08-26 11:34] Mar-ai opened #4418 "[Feature Request] Kubeflow-UI should support getting artifacts from local path"
When running a TFX pipeline on-prem, the artifacts, which are stored in PVC mount path,  cannot be visualized.
As already mentioned [here](https://github.com/kubeflow/pipelines/issues/1497) and [here](https://github.com/kubeflow/pipelines/issues/2670#issuecomment-632595030): would be great to have support for getting artifacts from a local path.

[2020-08-26 13:50] jonasdebeukelaer commented on #2826
@Bobgy it'd be great to see a guide for this. Just installed KF 1.1 and would love to get KFP 1.0 on there 🙏

Tried hacking the standalone version into it but got shutdown

[2020-08-26 14:19] jonasdebeukelaer commented on #3711
hey @Bobgy should be a quick one to fix so happy to do it. In what situations can a workflow be missing?

[2020-08-26 19:51] Ark-kun opened #4419 "Testing - Backend - The TestJobApi/TestJobApis test is not stable"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4415/kubeflow-pipeline-e2e-test/1298513122180468740
[code]

[2020-08-26 19:54] Ark-kun commented on #1497
I think this is what usually happen.

[2020-08-26 20:19] mmwebster commented on #4152
@patrickpoirson Did you find a fix for this? I just switched over to PyTorch's DataLoader and am running into the same issue

[2020-08-26 21:04] hsezhiyan commented on #2705
@rmgogogo can you please post that reply in this thread so people can it directly?

[2020-08-26 23:47] Bobgy commented on #3711
When user configures a TTL to GC workflows. (We have a default TTL of 1day)

In fact, workflow status should be persisted into run details DB rows. So UI shouldn't need to fetch the workflow

[2020-08-27 02:58] Bobgy commented on #4381
Hi @Gsantomaggio, any thoughts?

[2020-08-27 08:00] linkvt commented on #4347
Hi @Ark-kun do you have any guidance on how we should delete workflows correctly to prevent memory leaks? Thanks

[2020-08-27 10:25] jonasdebeukelaer commented on #2826
Oh actually swapping in `pipelines/manifests/kustomize` into `kubeflow/upstream/manifests/pipelines/upstream` seems to have done the trick. Note: I had to do it _before_ deploying anything, otherwise I was getting `no healthy upstream` type errors.

[2020-08-27 12:20] sabarikannan-ai opened #4423 "KALE pipeline for R kernal"
We build so many python based pipeline with KALE successfully. But R it is not working. Why because of , the  kfp compile code is written on .py .

Advice me how to use KALE for R

[2020-08-27 13:43] Bobgy commented on #3855
/lifecycle frozen

[2020-08-27 13:45] Bobgy commented on #2826
Yes, that's right.

But KF 1.1 already comes with KFP 1.0

[2020-08-27 13:48] jonasdebeukelaer commented on #2826
oh really? is https://www.kubeflow.org/docs/reference/version-policy/ just outdated then?

[2020-08-27 13:57] Bobgy commented on #2826
Yes, it's outdated

[2020-08-27 14:00] Bobgy commented on #2705
The error message is expected, workflow's corresponding pods will be GCed after by default 1 day. Then you'll see this error message.

If on Google Cloud, you can still see the log in stackdriver.

[2020-08-27 14:02] Bobgy commented on #1497
The requested feature is already supported in https://github.com/kubeflow/pipelines/blob/master/docs/config/volume-support.md.

[2020-08-27 14:04] Bobgy commented on #1205
/reopen for @solovyevt

[2020-08-27 14:05] Bobgy commented on #1205
/reopen

[2020-08-27 15:44] patrickpoirson commented on #4152
@mmwebster Yes, we found the following workaround.
`volume = kfp.dslPipelineVolume(name='shm-vol', empty_dir={'medium': 'Memory'})
kfp.dsl.ContainerOp(...., pvolumes={'/dev/shm': volume})`

[2020-08-27 15:44] #4152 closed

[2020-08-27 16:57] Bobgy commented on #4418
The requested feature is already supported in https://github.com/kubeflow/pipelines/blob/master/docs/config/volume-support.md

Already supported I believe, but it will be released as part of KFP 1.1

[2020-08-27 17:00] Bobgy commented on #4411
Sorry, @yoni-taranis I don't think we support that.

[2020-08-27 17:39] hsezhiyan commented on #2705
@Bobgy make sense. However, sometimes I see the error `Failed to retrieve pod logs.` immediately after I create a run for only some pods in the pipeline (others are unaffected). Do you know what could be the error for this?

[2020-08-27 17:41] numerology commented on #2705
@hsezhiyan

One thing might be helpful to confirm is to check the node status in the GKE node pool. If the pod is associated to an unhealthy node (e.g. undergoing maintenance/upgrading) then it'll be temporarily unavailable.

Do you see this symptom persisting or it's transient?

[2020-08-27 17:52] hsezhiyan commented on #2705
@numerology

Thanks for your response! Actually, we don't use GKE, but we notice this symptom persists. For some reason, the affected pods are garbage collected but the healthy pods (which show healthy logs) are not. Any possible explanation for this behavior?

[2020-08-27 17:56] numerology commented on #2705
@hsezhiyan

Ummmm... I think this is more of a K8S behavior which can be tricky to diagnose from a pipeline perspective. @Bobgy do you have some suggestion? Or did you configure the GC policy of your k8s? https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/

[2020-08-27 18:10] hsezhiyan commented on #2705
@neuromage

Thanks again for the response. What I can say is that the `workflow` is not garbage collected, but certain `pods` within that workflow are...  I'll check our GC policy now

[2020-08-27 20:31] dtzar commented on #4194
Related to #4193

[2020-08-27 21:12] Ark-kun commented on #4423
KFP orchestrates containerized command-line programs.
To use R or any other language, you'll need to create a command-line program and wrap it in component.yaml definition like all other components.

[2020-08-27 21:15] Ark-kun commented on #4347
I do not think the issue is related to workflow deletion.

I'll try to limit the number of entries in the MW cache, but I would be surprised if that helps.

As a workaround, if you want Metadata Writer to consume less memory, then please limit the memory. Yes, it will restart more often, but it should be resilient to restarts.

[2020-08-27 21:31] dtzar commented on #4079
[This ](https://github.com/argoproj/argo/pull/2521) is a relevant existing feature in argo-workflow 2.8.0.

[2020-08-27 22:04] hsezhiyan commented on #2705
@neuromage

I've noticed that in the `workflow`, the pods with failed logging are of `type: Retry` whereas the functioning pods are of `type: Pod`. It seems like the KFP UI is not getting the logs from the retried Pod.

[2020-08-28 00:04] amygdala commented on #2922
Just pinging on this... it continues to annoy me each time I would like to load from a github URL and it breaks (since that's really the only remote URL source I normally use for pipelines).  I expect that if it annoys me so often, it is surely annoying other users too.

I think there just needs to be some frontend support for handling redirects.  Does the js package being used support that?

[2020-08-28 00:07] hsezhiyan opened #4425 "UI doesn't correctly return logs"
### What steps did you take:
Made a simple KFP run on using an MNIST PyTorch training/evaluation script.

### What happened:
When making a KFP run, occasionally the UI does not properly retrieve logs, and gives the error `Failed to retrieve pod logs.` By inspecting the Chrome browser network setting, it appears to be an API call issue with the following error: `Could not get main container logs: E

[2020-08-28 00:29] Ark-kun opened #4426 "Backend - Tests - The TestUpgrade/TestVerify test can be flaky"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4420/kubeflow-pipeline-e2e-test/1299091676467302401
[code]

[2020-08-28 01:53] Bobgy commented on #2705
https://github.com/kubeflow/pipelines/blob/22b7b99a8bff9278df4f7d051ffaca85837688e2/frontend/src/pages/RunDetails.tsx#L478

Yes, it might not be getting the correct retried pod.
PR welcomed

/Reopen

[2020-08-28 03:57] yhwang commented on #4377
@Bobgy and @Tomcli do you know who is adequate to review my change?

[2020-08-28 06:27] NikeNano commented on #4049
I think it make sene to have the possibility to set the default pipeline. Currently the default pipeline is updated when a new pipeline is uploaded to the latest.

We have had problems when development where done uploading new pipelines and runs where done with the latest versions by mistake instead of the last stable version.

However one possibility would also be to no automatically update when

[2020-08-28 10:41] eterna2 commented on #4425
I will look at it. But the error msg means that when the UI backend tries to parse the CR of the workflow, the status field is malformed.

Based on my experience, usually it means that Argo had failed in such a way which the status event is emitted or captured.

But let me see if I can reproduce it

[2020-08-28 12:52] Gsantomaggio commented on #4381
What do you think? Will this help?

Absolutely yes!
Thank you  for your support

[2020-08-28 16:37] hsezhiyan commented on #4425
Thank you @eedorenko, this is a closely related issue: https://github.com/kubeflow/pipelines/issues/2705#issuecomment-681967800. Let me know if you need help reproducing the bug.

[2020-08-28 18:43] HassanOuda commented on #4399
@swiftdiaries maybe you can help?

[2020-08-28 21:07] #4416 closed

[2020-08-28 21:18] sahilkhanna129 opened #4430 "Running into TypeError exception with `batch_predict` component"
### What steps did you take:
I am using batch_predict component to schedule prediction job on AI platform. I was referring to steps here. https://github.com/kubeflow/pipelines/tree/master/components/gcp/ml_engine/batch_predict
- I downloaded the component from https://raw.githubusercontent.com/kubeflow/pipelines/1.0.0/components/gcp/ml_engine/batch_predict/component.yaml.
- loaded the component wi

[2020-08-28 22:45] amygdala opened #4431 "FR: render TB vizualization while a pipeline step is running"
/kind feature
(using KFP 1.0.0)

I have a pipeline with training steps that generate the tensorboard visualization (via writing out a metadata dict).  This viz doesn't show up until a training step is done.  It would be preferable to be able to launch TB from the dashboard while the training is running. Would this be doable?

[2020-08-29 02:26] Bobgy commented on #4419
/assign
Let me fix this

[2020-08-29 03:55] #3790 closed

[2020-08-29 03:55] #3823 closed

[2020-08-29 05:13] Ark-kun commented on #4430
Thank you fr your bug report.
I've found the issue:
It was introduced in https://github.com/kubeflow/pipelines/pull/3850 . That PR has added a new parameter in the middle of the the `create_job` function signature which can cause breaking changes as the parameter ordering changes.

[2020-08-29 07:02] yoni-taranis commented on #4411
Ok, thanks!

[2020-08-29 07:03] #4411 closed

[2020-08-30 18:22] jackwhelpton opened #4433 "Unable to parameterize image/tag in component spec"
### What steps did you take:

Attempted to write a `component.yaml` using (only relevant sections shown):

[code]

### What happened:
Compilation error:

[code]

### What did you expect to happen:
Pipeline to compile.

KFP version:
Build commit: 9c16e12

KFP SDK version:
kfp                            1.0.0
kfp-server-api                 1.0.0

### Anything else you would like to add:
This can be

[2020-08-30 23:47] imagr-pat commented on #651
+1 for this issue.

We would like to be able trigger pipeline runs from GCP pubsub events

[2020-08-31 07:08] Bobgy commented on #4361
TODO:
* [ ] add a configmap in gcp marketplace that records all supplied variables

[2020-08-31 07:51] #3782 closed

[2020-08-31 07:51] #3347 closed

[2020-08-31 13:46] kamalmemon opened #4434 "Exporting mlpipeline-metrics using create_component_from_func"
According to [documentation](https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/) in order to enable metrics, your program must write out a file named `/mlpipeline-metrics.json` and on top of it, this [stackoverflow answer](https://stackoverflow.com/a/60742184/3711575) mentions that you also need to add the `file_outputs` param when calling `dsl.ContainerOp` method.

However, in the cas

[2020-08-31 13:51] #3385 closed

[2020-08-31 15:30] Bobgy commented on #3793
/lifecycle frozen

[2020-08-31 15:31] Bobgy commented on #3857
/lifecycle frozen

[2020-08-31 16:29] kamalmemon commented on #4434
I resolved this issue by adding `mlpipeline_metrics_path: OutputPath()` instead of `mlpipeline_metrics: OutputPath('mlpipeline-metrics')` in my component arguments. And then instead of writing to `with file_io.FileIO('/mlpipeline-metrics.json', 'w') as f:` I used the metrics output path as `with file_io.FileIO(mlpipeline_metrics_path, 'w') as f:`.

This approach worked and now I can see the metric

[2020-08-31 16:29] #4434 closed

[2020-08-31 18:50] rairithesh123 opened #4435 "certificate chain too long error in Win 10 OS while using command kfp run submit"
### What steps did you take:
I'm using windows 10 OS
* Created a conda env with python 3.8.3 version
* Installed kfp==1.0 version
* logged into IBM Cloud Account and exported kubeconfig file
* Tried to  submit a model to kubeflow using kfp run submit from my local Win 10 OS.
### What happened:
I keep getting SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify

[2020-08-31 19:18] CBischke opened #4436 "s3 Access error for visualizations"
### What steps did you take:
Followed the steps from [https://www.kubeflow.org/docs/aws/pipeline/#support-s3-artifact-store](https://www.kubeflow.org/docs/aws/pipeline/#support-s3-artifact-store)

### What happened:
- receive a s3 access error
![image](https://user-images.githubusercontent.com/7979775/91756991-ae014b00-eb9b-11ea-9760-7002dfcc4d2f.png)

### What did you expect to happen:
See a mark

[2020-08-31 19:33] CBischke commented on #4436
This is my op:

[code]
where my docker image has `/mlpipeline-ui-metadata.json` at the root directory with the contents of:

[code]

[2020-08-31 22:09] anupash147 commented on #3818
In this case, i have manually turned on the logging but observed that not all steps of a pipeline are logged.

[2020-08-31 22:24] numerology commented on #4324
Sent https://github.com/kubeflow/website/pull/2167 to address the SDK overview page.

[2020-08-31 23:14] sahilkhanna129 commented on #4430
Hi @Ark-kun ,

Thanks for the quick response. Are you planning to release a new version of the component after merging the linked PR?

I am also wondering if there are any plans to migrate these components to python3?

Thanks

[2020-08-31 23:29] Ark-kun commented on #4430
Yes.

There are some plans, but they're not prioritized. I think these components already support python 3. Is these any issue with them using python 2 right now?

[2020-08-31 23:31] Ark-kun commented on #4433
Currently this is by design. Only command and args support placeholders.

Can you please describe your scenario? We thought that tags being mutable already enable this kind of flexibility.

[2020-08-31 23:54] sahilkhanna129 commented on #4430
For ML Engine Components, I am not running into any issue but Dataflow component is running the application code with Python2. My applications are written is python3, I am not sure if there are any workarounds for it. I am currently thinking of writing a custom component for Dataflow jobs to run application in python3.

[2020-09-01 00:02] sahilkhanna129 commented on #4430
Hi @Ark-kun ,

I ran into similar issue with `deploy` component as well.

[code]

Could you please change the function signature for `_deploy.py` in your PR as well?

Thanks

[2020-09-01 00:30] yhwang commented on #4377
@Bobgy @Tomcli I guess with the change I made above, at least kfp cli can use `cookie` to simulate UX request and properly handle by ml-pipeline-ui and go the ml-pipeline.

However, I have another issue about the Python SDK user on the in-cluster jupyter notebook on kfp v1.1.0 . First, istio RBAC blocks the `kfp.Client()` calls from in-cluster jupyter notebook on **user's namespace**. I can manual

[2020-09-01 00:36] Tomcli commented on #4377
@yhwang This is with the Python SDK where you use `kfp.Client()` right? We should open another issue to track it because this issue will be closed with your cli fixes.

[2020-09-01 01:03] yhwang opened #4440 "[Multi User] failed to call `kfp.Client().create_run_from_pipeline_func` in in-cluster juypter notebook"
### What steps did you take:
In a multi-user enabled env, I created a notebook server on user's namespace, launch a notebook and try to call Python SDK from there. When I execute the code below:
[code]

### What happened:
The API call was rejected with the following errors:
[code]
### What did you expect to happen:
A pipeline run should be created and executed
### Environment:

How did you deploy

[2020-09-01 01:08] yhwang commented on #4440
Since the notebook server uses serviceaccount: `default-editor` in my user's namespace, I can fixed the RBAC issue by adding a servicerolebinding to allow the serviceaccount to access `ml-pipeline-service`. However, the request is still rejected by the ml-pipelie-api-server:
[code]

[2020-09-01 01:09] yhwang commented on #4377
open issue #4440 for the Python SDK issue

[2020-09-01 01:16] jackwhelpton commented on #4433
Sure. We have a CI process which will push images to our container registry. Once code has been merged to the main branch, these are pushed with the `latest` tag: until then, containers from other branches will have different tags.

I was hoping to parameterize this tag in Kubeflow, so while developing I could tell the pipeline to pull the appropriate development images, without merging to main un

[2020-09-01 01:25] eterna2 commented on #4425
@hsezhiyan

Is it possible for u to provide me with a dummy pipeline.yaml so I can reproduce it on my machine?

Did u use the `set_retry` method?
[code]

[2020-09-01 03:37] Bobgy commented on #4440
This is by design. In current phase, KFP api server needs a trusted source for user identity.

and letting user specify userid header is not trustable.

We introduced the design with @yanniszark in https://kccnceu20.sched.com/event/Zeok/enabling-multi-user-machine-learning-workflows-for-kubeflow-pipelines-yannis-zarkadas-arrikto-yuan-gong-google

You may check the slides there and our public desig

[2020-09-01 03:37] Bobgy commented on #4440
current suggested workaround is to always authenticate from the public endpoint using user credentials

[2020-09-01 05:00] eterna2 commented on #3818
Are u using argo 2.3? There is a bug in argo 2.3 where logs will not be archived if there are not other artifacts (except the logs).

[2020-09-01 05:29] #3807 closed

[2020-09-01 06:04] Ark-kun commented on #4440
@Bobgy What would be the steps needed to make programmatic call to client methods?
I think in the past kfp.Client() worked in in-cluster notebook scenarios...

[2020-09-01 06:22] Ark-kun commented on #4433
Can that process also push augmented `component.yaml` file, pointing to the new image, to some storage location?

When doing CI tests we also do the following: The scripts push new images to a private test registry, compiles test pipelines to YAML and then substitutes the images according to the image substitution map.

JFYI: We're mostly advising against manually **constructing** instances of `Co

[2020-09-01 07:11] yhwang commented on #4440
@Bobgy thanks for the link. It's really helpful. In the slides, the idea is to use RBAC to store the access policies. I guess it should be k8s RBAC (because of SubjectAccessReview). How about using istio RBAC instead? Because the goal is to protect the pipeline server API endpoints and actually istio can do that by setting up proper istio RBAC for those endpoints. KFAM just needs to maintain corre

[2020-09-01 10:05] Bobgy commented on #4440
@yhwang to be specific, the goal is to protect pipeline resources based on user identity.

It's also possible to use istio RBAC to define rules that uses http request path and parameters.

I think problems are
* it is not as widely known than kubernetes RBAC.
* it is kind of hard to troubleshoot

I don't have full context whether the option was initially considered or not.
@IronPan @gaoning777 @ya

[2020-09-01 12:21] Bobgy commented on #1700
To answer above questions, the container builder doesn't block any usage. You can use dockerfile to build component base images too.

[2020-09-01 16:19] yhwang commented on #4440
I just want to explore possible approaches. k8s RBAC and istio RBAC are designed to handle different level authorization. One is for k8s resource, another is for application level endpoints. I just tried to figure out which one is better for our purpose.

Another point is that if KFAM is doing the validation, ml-pipeline-api-server **has to** call its API to validate the coming requests. Then all

[2020-09-01 17:30] Bobgy opened #4443 "build failure - `ModuleNotFoundError: No module named 'setuptools._distutils'`"
Examples:
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4439/kubeflow-pipeline-e2e-test/1300801371414466560#1:build-log.txt%3A15231
* https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4429/kubeflow-pipeline-sample-test/1300769915090767872#1:build-log.txt%3A14868

This is currently blocking all presubmit tests.

[2020-09-01 18:05] Bobgy commented on #4443
Narrowed down and reproduced the problem.
The error message shows up when `pip install -t pygobject pygobject`, called from https://github.com/kubeflow/pipelines/blob/68c528e7435bc55adea48ccac12ea343655b76c0/backend/src/apiserver/visualization/license.sh#L76

[2020-09-01 18:07] Bobgy commented on #4443
This is a python community common problem and there's a workaround in https://github.com/pypa/setuptools/issues/2353#issuecomment-684452550.

[2020-09-01 19:00] hsezhiyan commented on #4425
Hello @eterna2 ,

Of course! Thank you for getting back to me. I didn't use the `set_retry` method.

Here is the [pipeline yaml file](https://drive.google.com/file/d/1s3WsjsM3-IVQKsJP9B2SrbqWzVtq8mRK/view?usp=sharing). Here is the [workflow yaml file ](https://drive.google.com/file/d/14SBMWhMTHuvmdhNwu1QEvTxSgivIhaXO/view?usp=sharing)

Here are example of failed API calls (retrieved using the `ins

[2020-09-01 19:49] eedorenko opened #4446 "Rerun specific successful KFP steps"
To improve the development experience it would be very convinient to be able to rerun one single step or a few steps of a
pipeline. It will help in scenarios when I am working on a specific component and want to test it in a pipeline taking the rest from the cache. There are two different scenarios where I want to specify which KFP steps should be re-executed (ignoring cache):
- Rerun of an existi

[2020-09-01 20:45] knkski opened #4447 "Pipelines UI doesn't surface Argo errors appropriately"
### What steps did you take:

- I ran a pipeline that should have worked
- The pipeline failed at an unexpected step with this message:
  - `This step is in Error state with this message: failed to save outputs: timed out waiting for the condition`
- I had to run this command to get an actual error message:
  - `kubectl logs --tail 100 failing-pipeline-123-asdf -c wait`
- The actual error message

[2020-09-02 02:42] Ark-kun commented on #4446
Usually when we work on a pipeline, every change is a component change. This automatically causes the changed component to be re-executed.
It might be unsafe to create pipelines where the behavior changes while the pipeline remains exactly the same.

Regarding run_id: A workaround might be to use a component to generate and output a random string or number. Then that number can be used in argument

[2020-09-02 03:13] Bobgy commented on #4419
Also saw it inhttps://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4445/kubeflow-pipeline-e2e-test/1300858750566928386

[2020-09-02 04:17] #3669 closed

[2020-09-02 04:19] PatrickXYS commented on #3185
/reopen

[2020-09-02 05:13] #4419 closed

[2020-09-02 06:31] Bobgy commented on #4440
Agree, to clarify, I think istio is relatively harder to use because the abstraction of istio RBAC needs so much knowledge from users to use properly. While k8s rbac is very clear: just resource, verb, user, there isn't any redundant concepts here.

[2020-09-02 07:03] Ark-kun opened #4452 "TypeError exception in the GCP - ML Engine - Deploy component"
Reported in https://github.com/kubeflow/pipelines/issues/4430#issuecomment-684110613
/cc @sahilkhanna129

[code]

[2020-09-02 07:06] Ark-kun commented on #4431
You can use the [Prepare TensorBoard](https://raw.githubusercontent.com/kubeflow/pipelines/master/components/tensorflow/tensorboard/prepare_tensorboard/component.yaml) component to initialize tensorboard and output a URI for logs. You can then pass that URI to your trainer component (add a "Log dir URI" input), so that it can be used for TB logging. This way you can watch Tensorboard during the tr

[2020-09-02 07:13] #4389 closed

[2020-09-02 07:13] Bobgy commented on #4256
Documentation added

[2020-09-02 07:13] #4256 closed

[2020-09-02 07:15] Bobgy commented on #4426
Thank you, let me keep an eye on it.
/assign

[2020-09-02 07:19] Bobgy commented on #4414
@Ark-kun what do you think priority is

[2020-09-02 07:23] Bobgy commented on #4049
Right, looks like the behavior you want is to not automatically update when a new pipeline is uploaded, while being able to set default version programmatically

[2020-09-02 07:24] Bobgy commented on #4049
Can you think about a reasonable way to make the new behavior available to you without breaking backward compatibility?

[2020-09-02 07:26] Bobgy commented on #4193
I think we acknowledge the use case. Is there any volunteer who would want to make a design doc (this is a complex addition)?

[2020-09-02 07:30] Bobgy commented on #2922
Thanks, this sounds useful. I've put it to triage track, but if any contributor is willing to jump in. You are welcome to do so.

[2020-09-02 07:33] Bobgy commented on #4435
/assign @animeshsingh
It seems IBM specific

[2020-09-02 07:34] Bobgy commented on #4436
/assign @PatrickXYS @Jeffwan

[2020-09-02 07:43] Bobgy commented on #4447
Thanks for reporting that!
It's really hard for KFP to surface argo error message that only shows up in the logs. Do you have any suggestions we can improve?

[2020-09-02 07:56] Bobgy commented on #4374
That's a good idea, we'd welcome contributions

[2020-09-02 07:59] Bobgy commented on #4392
We've been removing bazel dependency in https://github.com/kubeflow/pipelines/pull/4417.

After it's merged, you can try upgrading argo module with just go.mod

[2020-09-02 08:11] Bobgy commented on #4396
Sorry for the delay, can you try `kubectl describe pod minio-657c66cd9-282vc`? because other two failures are just side effects, minio is the root cause

[2020-09-02 08:17] Bobgy commented on #651
@imagr-pat for GCP pubsub events, it's possible to add a cloud function that listens to it and runs a kfp client, does it work for you?

[2020-09-02 09:57] #3584 closed

[2020-09-02 11:42] meowcakes commented on #4440
How does this work for non-GCP clusters? I saw [this issue](https://github.com/kubeflow/pipelines/issues/3988) where it was stated that auth is only possible using GCP IAP, and that someone using AWS should use the kfp client from within the cluster.

[2020-09-02 15:38] subodh101 opened #4454 "Change adding V1Toleration, V1Affinity pattern in the container"
What?
`add_toleration` and `add_affinity` requires users to add [V1Toleration](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L793) and [V1Affinity](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L804) objects.
Instead, pass the arguments and create the object in the SDK itself.

Why?
[Users](https://kubeflow.slack.com/a

[2020-09-02 15:38] PatrickXYS commented on #4436
@CBischke One question is did you use AWS-SECRET in your OP?

E.g,

[code]
Ref: https://www.kubeflow.org/docs/aws/pipeline/#configure-containers-to-use-aws-credentails

If you check the example's Op, you can see inside the Op container, we still need to aws-secret. Otherwise, the Op container will not have access to the S3 bucket.

[2020-09-02 15:39] PatrickXYS commented on #4436
@Bobgy Feel free to only cc me if there are KFP AWS related questions. Because @Jeffwan mainly work on Control Plane + Training Side.

[2020-09-02 15:41] raphaelauv opened #4455 "Edges crossing in DAG pipeline UI"
Hi, a big thank for all your work , it's a real pleasure to use KB !

With big DAG , the pipeline UI is getting messy to read , there is a lot of edge crossing between tasks ,would be nice to reduce at maximum theses.

Is there any work on this , or could you indicate me where is the code computing the graph, so I could maybe contribute :)

we could use what is already done by  graphviz/dot

so th

[2020-09-02 16:12] CBischke commented on #4436
@PatrickXYS Added the secrets to the OP and seeing the same error.

[2020-09-02 16:15] CBischke commented on #4436
Just to add, I have used these keys in another OP and they are able to pull from s3.

[2020-09-02 16:22] PatrickXYS commented on #4436
If you have used these keys in other Op and can pull from S3, in this Op, you can't, that means it's not a bug from us, there should be something wrong with your Op.

[2020-09-02 16:48] CBischke commented on #4436
@PatrickXYS Sorry my comment may have been confusing. I just wanted to illustrate that the keys are valid. I have been able to get these keys to work in Ops that pull from s3, but I have never been able to get visualization to work from s3.

the Op that I use to pull from s3 use the aws cli.

any Op that I use that has a `mlpipeline-ui-metadata.json` that points to resources in s3 always gets an a

[2020-09-02 16:48] nlarusstone commented on #4277
This is a blocking issue for us -- is there a plan to release a patch for `1.0.0`?

[2020-09-02 17:20] yhwang commented on #4440
@meowcakes

It doesn't work now at least in my case (multi-user enabled env, kfp v1.1.0). The reason is there are two user identity checkings in ml-pipeline:
- istio RBAC for ml-pipeline
- `kubeflow-userid` header validation in ml-pipeline

First one could be solved by adding some istio RBAC configs. However, the second one is related to design and under implementation based on @Bobgy comment [abo

[2020-09-02 18:03] eedorenko commented on #4446
The key points here:
1. I don't want to rebuild a pipeline to get a specific component re-executed
2. Of course I can implement this  by introducing an artificial parameter which I use to control what components should ignore cache. But this is very artificial approach and this is needed only in dev process. I don't need it in production. It should be handled out-of-the box without adding any para

[2020-09-02 18:09] amygdala commented on #4431
oh, I had missed that component.  cool!  Will give it a try.

[2020-09-02 19:15] CBischke commented on #4436
So heres an example to illustrate:

I have an s3 bucket with a markdown file

I  have an op that uses the aws cli to pull from that bucket and that works great 👍

I have an op that has uses a docker image that has  a`/mlpipeline-ui-metadata.json` file that points to the markdown file in the s3 bucket and I get a S3:Access Denied in the visualization UI 😢

[code]

[2020-09-02 20:54] naresh4u-gitrepo opened #4458 "Unable to run DEMO pipeline after configuring KUBEFLOW from marketplace"
When we run DEMO for iris or xgboost example, we get error saying insufficient access to storage bucket that we use. This happens even after granting the permissions as mentioned in the DEMO pipeline section.

[2020-09-03 00:31] Tomcli commented on #4435
I think this issue is related to how windows 10 handles SSL certificate in Python. Unfortunately I don't have a window machine with me to reproduce this. @rairithesh123 can this issue solve your problem? https://github.com/pypa/pip/issues/5448

[2020-09-03 01:02] maganaluis commented on #4407
So turns out this was an issue with AKS; I did develop a simple kubernetes api job to prove this:

https://github.com/maganaluis/k8s-api-golang/tree/time-out

The job has just about all the same library versions that the Kubeflow Pipelines API has, and it will use the Argo client to submit a small job mimicking what KFP does here. The job will stay idle for 5 minutes between submissions, which is

[2020-09-03 01:47] Bobgy commented on #4407
@maganaluis thanks for the investigation!

I'm okay with adding the destination rule. It doesn't seem harmful to other platforms. Would you mind opening a PR for it?

[2020-09-03 01:57] maganaluis commented on #4407
@Bobgy Sounds good, I'll make the PR. We can always tune the settings on the tcp keep alive to ensure it works across all platforms.

[2020-09-03 03:13] Bobgy commented on #4277
@nlarusstone 1.0.1 will be released in a week

[2020-09-03 04:24] Bobgy commented on #4426
Another example https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4432/kubeflow-pipeline-e2e-test/1301055113216921602

[2020-09-03 05:27] #4430 closed

[2020-09-03 05:33] RoyerRamirez commented on #4356
Hi @jlewi, I joined the "Kubeflow Community Pipelines Meeting" today, and was hoping we could add CloudSQL and GCS support for the new kubeflow v1.1.* deployment. We are getting to ready to deploy in the next few weeks, and it would be awesome if we could get this feature out.  We think it would make Kubeflow more stable and easier to maintain in production. Otherwise, we'll go ahead and deploy th

[2020-09-03 06:55] #4426 closed

[2020-09-03 07:25] Bobgy commented on #4361
I'll continue to drive this release.

[2020-09-03 08:50] Bobgy commented on #4361
Took a while to understand the problem.
It seems to be caused by we bumped default tensorflow version, the new tensorflow image 2.3.0 comes with `pygobject` installed. We'd need to install https://github.com/kubeflow/pipelines/pull/2946/files#diff-e3fa8e7715928ccd1476debc9822407bR24 for all images that need to download `pygobject`'s source by `pip install -t XXX pygobject` (the command tries to co

[2020-09-03 09:34] Bobgy opened #4461 "Build - remove our own tools to comply with pypi package licenses"
pip/PyPI itself can handle package download in a license compliant way, so we don't need to implement our own solutions (which break so often and is a nightmare to maintain).

[2020-09-03 09:34] Bobgy commented on #4461
this unblocks on-going 1.0.1 release: https://github.com/kubeflow/pipelines/issues/4361#issuecomment-686349911

[2020-09-03 09:40] Bobgy commented on #4361
Figured out we don't need our own scripts to comply with pypi package licenses, pip should already do that for us.
Reported in #4461

[2020-09-03 14:05] eterna2 commented on #4425
Ok I figured out the reasons for the errors. Although not too sure how can we solve this.

The reason for the error is because argo does not archive "Retry" pods at all. And it seems either the pod is never created or was gc the moment it errored out (before any logs can be archived to minio/s3).

I might need to write a small pod event monitor app and track whether the pod is created or not, and

[2020-09-03 14:30] eterna2 commented on #4425
Ok I did more investigation. The "Retry" pod was never created as I did not capture any pod events from it at all.

I think we might need to raise a ticket upstream to argo. I have no idea why this happens (creating a virtual pod?).

[2020-09-03 15:10] eterna2 commented on #4425
@Bobgy

I did more tests. This is an UI bug. When u set a retry limit for your ops, argo will always create a `Retry` node which is not an actual physical pod, hence this node does not have any logs or pod info.

And this node will always exist regardless if there is an actual retry or not.

So there are 2 solution to this issue. We do not render `Retry` nodes at all. Or we give `Retry` nodes a se

[2020-09-03 15:13] eterna2 commented on #2705
@Bobgy

I have investigated this and reported in #4425

This is an UI bug. `Retry` nodes are not actual physical pods. Any ops with retry limits will always have a `Retry` node + one or more `Pod` nodes.

Hence `Retry` nodes will not have pod info and pod logs. It may or may not have additional metadata (like artifacts, input, outputs) but these will be exactly the same as the actual `Pod` node.

[2020-09-03 15:44] rairithesh123 commented on #4435
@Tomcli i tried the solution in the link but still get the same error.  The pip actually works fine in my local.. the certificate chain too long error occurs only wheni try to connect to kubeflow

[2020-09-03 16:13] Bobgy commented on #4425
Thank you for the detailed investigation!
Which solution Do you think is easier to implement?

I am still not fully understanding the topology here.

[2020-09-03 19:27] Ashwin-Ramesh2607 commented on #1075
@Ark-kun That's a neat script to use tensorboard with a training pipeline. I would like to know whether I can use GCS bucket path for the `log_dir_uri` field?

[2020-09-03 19:40] valiantljk commented on #3031
still seeing this issue.

[2020-09-03 23:29] #4296 closed

[2020-09-04 00:41] #4461 closed

[2020-09-04 00:42] Bobgy commented on #4455
https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/Graph.tsx

here it is.

Thank you for raising the issue! Contributions welcomed if there is a better way

[2020-09-04 07:30] Bobgy commented on #3031
/reopen

[2020-09-04 07:55] Bobgy commented on #4361
I'm a little stuck at fixing postsubmit tests: https://github.com/kubeflow/pipelines/commit/e275548996afc219918f18bab1005003effd4811

integration test is currently failing, when inspecting the test logs, I found minio server failed and restarted once, but I didn't find why it failed. I'm cherry picking one more PR to have a retry.

[2020-09-04 09:36] Bobgy commented on #4458
What was the exact error message?
Did you enable workload identity with the cluster(you shouldn't)?

[2020-09-04 09:39] Bobgy commented on #4440
@meowcakes the issue you are Looking at is now outdated.

/assign @PatrickXYS
for How to connect on AWS

[2020-09-04 14:55] PatrickXYS commented on #4440
@yhwang For KFP 1.0, in-cluster communitation from notebook to Kubeflow Pipeline is not supported in this phase.

In order to use kfp as before, you need to pass a cookie to KFP for communication as a workaround.

Ref: https://www.kubeflow.org/docs/aws/pipeline/#authenticate-kubeflow-pipeline-using-sdk-inside-cluster

[2020-09-04 14:59] jonasdebeukelaer commented on #4377
Hi, also running into this issue, thanks @yhwang for looking into a fix.

Quick question though - how would one go about generating/finding the JWT to include in the header? This is quite unclear to me.

Also, is there any way to change from multi to single user mode in kubeflow? Currently unable to use the cli, and having to create python scripts that replicate it, using `kfp.Client` and specifyi

[2020-09-04 15:02] jonasdebeukelaer commented on #3711
hmm makes sense 👍

[2020-09-04 15:37] jonasdebeukelaer commented on #4440
@Bobgy what does this mean exactly? How would I authenticate to the public endpoint?

[2020-09-04 16:32] sm-hawkfish commented on #4327
@kxiao-fn (or anyone else stumbling on this), here's some code that I wrote to do this:

[code]

[2020-09-05 00:52] Tomcli opened #4468 "Rest API for streaming pipeline logs"
Having a Rest API for log can be useful is we are using the CLI or SDK client. Is there any plan for adding a REST API to stream logs or it's by design due to security or performance concern? Thanks.

[2020-09-05 02:53] Bobgy commented on #4440
@jonasdebeukelaer Here's documentation for GCP
https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment

[2020-09-05 05:20] yhwang commented on #4440
@Bobgy
I thought about this issue again and I think this is where istio envoy filter could be used without changing application service. I added an envoy filter to add `kubeflow-userid` header for those HTTP traffics going to `ml-pipeline.kubeflow.svc.cluster.local:8888`. Then it works. So you actually don't need to do the authentication trick for in-cluster use case. It's weird to me that you nee

[2020-09-05 05:39] yhwang commented on #4377
@jonasdebeukelaer

If you are using OIDC for your authentication/authorization, those OIDC providers usually allow you to generate id-token through their token endpoint. Then istio can use the id-token to validate user identity (also through OIDC provider's token endpoint). I added istio authentication policy to perform JWT authentication for those requests coming from kfp cli. The key point is kf

[2020-09-05 06:55] ra312 commented on #1998
/reopen

[2020-09-05 09:17] Bobgy commented on #1998
/reopen

[2020-09-06 01:08] Bobgy commented on #3903
KF manifest is now referring to KFP standalone

[2020-09-06 01:08] #3903 closed

[2020-09-06 01:08] Bobgy commented on #504
/lifecycle frozen

[2020-09-06 01:14] Bobgy commented on #4327
Hi @sm-hawkfish that looks great!
Are you interested contributing it?

[2020-09-06 01:16] Bobgy commented on #4468
It's not by design, welcome contribution

[2020-09-06 01:17] Bobgy commented on #3599
/reopen
/lifecycle frozen

[2020-09-06 01:19] Bobgy commented on #4440
@yhwang interesting, can you share an example of these configs?

[2020-09-06 01:21] numerology commented on #4327
/cc @neuromage

To make sure I understand the context correctly, we're talking about the Argo artifact instead of MLMD artifact here, right?

[2020-09-06 02:29] yhwang commented on #4440
@Bobgy
sure!
- The RBAC to allow the notebook server in user's namespace: "mynamespace"
[code]
- Envoy filter to inject the `kubeflow-userid` header from notebook to ml-pipeline service. In the example below, the notebook server's name is `mynotebook` and userid for namespace: mynamespace is `user@example.com`
[code]

The envoy filter above only inject the `kubeflow-userid` HTTP header for those t

[2020-09-06 03:37] Bobgy commented on #4327
Yes, it's argo artifact

[2020-09-06 04:03] Bobgy commented on #1203
/reopen

[2020-09-06 05:23] yhwang commented on #4440
@Bobgy

I studied the envoy filter more and here is a better version:
[code]
It directly uses the `custom request header` feature that http_connection_manager provides.

[2020-09-06 10:40] luigicr1965 opened #4469 "Pipelines upstream connect error or disconnect/reset before headers. reset reason: connection failure"
/kind bug

I have deployed Kubeflow in Azure using kfctl_k8s_istio.v1.1.0.yaml from the master after having modified the repos section

repos:

name: manifests
uri: https://github.com/kubeflow/manifests/archive/master.tar.gz
#uri: https://github.com/kubeflow/manifests/archive/v1.1-branch.tar.gz
version: master
#version: v1.1-branch
I used port forward as follow

kubectl port-forward svc/istio-ingr

[2020-09-06 16:25] sm-hawkfish commented on #4327
@Bobgy, I am glad you think it's useful! Yes, I would be interested in contributing it -- do you have any thoughts on where it should be added (and whether it should also be added to the CLI), or should I browse the SDK?

[2020-09-07 12:33] NikeNano commented on #4049
I guess we could add it as an option to update the default version when a new pipeline is uploaded and set it a default to. updates.  Thus have the same default behaviour as it is today. But I also think it makes sense to be able to change the default without uploading a new pipeline.

[2020-09-07 13:09] alex-dixon opened #4472 "Possible to import GCP component functions instead of load_component_from_url?"
`load_component_from_url` appears to be the recommended way to use GCP components (like dataproc create cluster and others).

Are there functions defined for GCP components somewhere that I could import as an alternative?

I'm looking to make the contracts clear in the code and allow IDE "go to definition", provide autocomplete, etc.

[2020-09-07 17:18] #3516 closed

[2020-09-08 06:22] Bobgy commented on #4361
Released 1.0.1-rc.1 to verify the problems in a real deployment.
https://github.com/kubeflow/pipelines/commit/98ded41032b1ff3482290896f656c0df131ef795

[2020-09-08 07:00] Bobgy commented on #4361
xgboost sample failed with
[code]

So we need to fix component images with the fix in https://github.com/kubeflow/pipelines/pull/580

[2020-09-08 09:03] eterna2 commented on #4425
I have looked at the DAG graph rendering code. There is an existing function to filter our virtual nodes. I just need to add `Retry` as another virtual node.

I will be making a PR to reflect this.

This is the original DAG with the `Retry` node (2nd node).
![image](https://user-images.githubusercontent.com/1248825/92455940-e08ef180-f1f4-11ea-8eaf-60e85533e4a6.png)

My PR will remove this virtual

[2020-09-08 12:33] gnovack commented on #4396
Thanks @Bobgy, after running `describe` on the minio pod, I found that there was an issue with one of my persistent volumes. After resolving that issue, the three pods mentioned above are now all running

[2020-09-08 12:33] #4396 closed

[2020-09-08 12:52] BarleyXu opened #4475 "How can I close a Recurring Run?"
I create a recurring type run with pipeline UI. Some problems occured when I run it.
When I delete the recurring run with commad - kubectl get workflow -n kubeflow |grep xxxx | awk '{print "workflow/"$1" -n kubeflow"}' | xargs kubectl delete.  The recurring run restart after a while.

[2020-09-08 13:05] arshashi commented on #4440
@yhwang Thanks for the suggestion.   I tried adding ServiceRoleBinding, after which as you mentioned i get the below error.  After the error I tried adding envoy filter, however the error remains same.  Providing the envoy filter yaml file for reference.  Namespace: brainyapps header Value: brainyapps@example.com and notebook name: mynotebook

Does the below envoy-filter to be added in our namespa

[2020-09-08 15:23] yhwang commented on #4440
@arshashi
The envoyfilter should be added to user's namespace. You may check your notebook server pod and see if its label does have the `notebook-name: mynotebook`. That will make sure the envoyfilter would apply to the notebook server in user's namespace. Also check the user's namespace, i.e.
[code]
and make sure the owner is `brainyapps@example.com`. for example:
[code]

In your case, there is

[2020-09-08 16:06] arshashi commented on #4440
@yhwang My notebook server name was incorrect and now it works for me with the above two changes.   Thanks alot for your time and suggestion, I was stuck with this issue for long time.

[2020-09-08 17:03] Bobgy commented on #4049
@NikeNano great idea, that sounds reasonable!

I can help you review any PRs if you'd like to contribute.

[2020-09-08 17:45] jlewi commented on #3513
@yanniszark What is the remaining work to close this issue out?

[2020-09-08 23:34] reem commented on #3130
Still experiencing this problem with only moderately sized components, it's quite easy to hit this limit and am also seeing it with pickles of only roughly 140k-150k characters, which do not seem like they are large enough to warrant this blocker.

/reopen

[2020-09-09 00:39] Ark-kun commented on #4472
KFP SDK is platform and cloud-agnostic. The SDK does not have any Google-specific functions.
This has an advantage of not coupling the SDK version with component versions.

In Jupyter environment you get help for components loaded using `load_component_from_url` by pressing Shift+Tab. You can also use `help(my_op)`.

If your IDE has troubles with the dynamic functions, you can create simple wrappe

[2020-09-09 00:40] Ark-kun commented on #4475
AFAIK, RecurringJobs have their own CRD that spawns runs on schedule.

You can use the KFP API client (or maybe kubectl) to delete them.

[2020-09-09 01:28] BarleyXu commented on #4475
Thanks response, I have tried to delete it with kubectl, but failed., There is no KFP client in company lan.

[2020-09-09 02:49] Bobgy commented on #4475
Recurring runs are called jobs in KFP API, you can delete them via https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.server_api.html#kfp_server_api.api.job_service_api.JobServiceApi.delete_job

[2020-09-09 03:04] BarleyXu commented on #4475
thanks , can i delete it with kubectl?

[2020-09-09 03:21] Bobgy commented on #4475
No, you cannot

[2020-09-09 03:23] BarleyXu commented on #4475
Kfp API need job id param, it's strange that thres is no corresponding job of recurring run when i excute 'kubectl get  jobs -n kubeflow'.

[2020-09-09 03:40] eterna2 commented on #3130
/reopen

[2020-09-09 03:42] Bobgy commented on #4475
Sorry, it's common confusion, but KFP job has nothing to do with k8s job.

You can list jobs with a name filter to get job by name.

[2020-09-09 03:44] Bobgy commented on #4475
https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/#example-2-listing-pipelines-with-a-filter

[2020-09-09 03:47] BarleyXu commented on #4475
ok, thank you very much.

[2020-09-09 07:14] rmgogogo commented on #3461
@Bobgy as talked offline, we may remove Bazel, but use go mod for BE.

[2020-09-09 13:42] HassanOuda commented on #4399
@swiftdiaries @krishnadurai any updates?

[2020-09-09 18:37] amybachir commented on #4469
I have the same issue with Kubeflow 1.1. The readiness probe is failing on the ml-pipeline-ui pod in the user namespace.
Here are the containers' logs:
[code]

[2020-09-09 18:40] amybachir commented on #4469
This is the only thing that stands out to me.

[2020-09-09 19:19] surajkota commented on #3885
On further investigation we found the following

Cluster had 2 node, each in a different availability zone(AZ). The node in AZ which had the PVC for minio was not ready to schedule minio pod because of https://github.com/kubernetes/kubernetes/issues/45419 and hence was minio was stuck

Scaling the cluster by increasing the nodes to 2 per AZ resolved the conflict

[2020-09-09 19:19] #3885 closed

[2020-09-09 19:21] #3744 closed

[2020-09-09 20:44] CBischke commented on #4436
@PatrickXYS  Solved it by editing the AMI attached to the node to have s3 read access.

[2020-09-09 20:45] CBischke commented on #4436
Not sure if the docs state that this needs to happen.

[2020-09-09 21:03] PatrickXYS commented on #4436
@CBischke Can you help sending PR to fix the documentation?

[2020-09-09 21:09] CBischke commented on #4436
@PatrickXYS Yeah I can do that.

[2020-09-10 03:50] Bobgy commented on #4361
I decided to revert the offending change in this release first.

[2020-09-10 04:01] Bobgy commented on #4327
@sm-hawkfish Great!

I think `kfp.Client` is a good place, it will be up-to-you whether you think adding it to CLI is useful too. Of course you can implement in multiple steps for sure.

[2020-09-10 04:17] Bobgy commented on #4440
Thanks @yhwang! The solution sounds secure and reasonable!

I guess the only concern I have, is that other users sharing the namespace can act as namespace owner's permissions.

So if we can make up a service account that represents this namespace and only grant permission to access the same namespace, that will be ideal, but I believe that is totally possible, at least for GCP.

/cc @yanniszark @

[2020-09-10 04:24] JasonPad19 commented on #4469
I have the same issue after installing kubeflow 1.1 on kubernetes v1.18.

besides, i also encountered an installation issue.
WARN[0226] Encountered error applying application kubeflow-apps:
(kubeflow.error): Code 500 with message: Apply.Run : error when creating "/tmp/kout768084929": CustomResourceDefinition.apiextensions.k8s.io "seldondeployments.machinelearning.seldon.io" is invalid:
[spec.valid

[2020-09-10 04:37] Bobgy commented on #3250
All high priority tasks have been done.

Right now, bazel is only used to generate swagger json definitions from proto and that's a offline task.
Contributions welcomed on finishing the last step to remove bazel, but I believe it's not high priority because generated code are commited in the repo.

[2020-09-10 04:44] Bobgy commented on #4204
Documentation already added in https://github.com/kubeflow/pipelines/pull/4348

[2020-09-10 04:44] #4204 closed

[2020-09-10 14:57] numerology opened #4481 "[Deployment] Failed to deploy to local kind cluster"
### What steps did you take:
Follow the step described in https://www.kubeflow.org/docs/pipelines/installation/localcluster-deployment/#deploying-kubeflow-pipelines

### What happened:
Hit
[code]

### Environment:
I was deploying to a linux machine with kind v0.8.1, and k8s v1.18.2

However I can deploy by following the standard standalone deployment at
https://www.kubeflow.org/docs/pipelines/inst

[2020-09-10 14:57] numerology commented on #4481
@Bobgy do you have any suggestion? Thanks!

[2020-09-10 14:58] numerology commented on #4481
/assign @Bobgy

[2020-09-10 15:49] numerology commented on #4481
I think I know why: for version 1.0.0 there's no platform-agnostic-pns folder

[2020-09-10 16:05] yhwang commented on #4440
@Bobgy

In the RBAC config I posted above, the notebook would be `cluster.local/ns/mynamespace/sa/default-editor`. So ml-pipeline-apiserver could use that and only allow that serviceaccount to access specific resources, for example: pipelines created by `mynamespace`'s owner

[2020-09-10 17:42] CBischke commented on #4436
referencing:
https://github.com/kubeflow/website/pull/2187

[2020-09-11 01:42] #2640 closed

[2020-09-11 02:16] Bobgy commented on #4361
Now I'm blocked by the `kubeflow_tf_serving.ipynb` sample. It's failing post submit test cases.
[Example error log in stackdriver](https://pantheon.corp.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22ml-pipeline-test%22%0Aresource.labels.location%3D%22us-east1-b%22%0Aresource.labels.cluster_name%3D%22sample-ba2d4b2-28718%22%0Aresource.labels.names

[2020-09-11 02:48] Bobgy opened #4482 "Persistence Agent cannot start when there are too many workflow CRs"
### What steps did you take:
A cluster has 20000+ workflows.
Restart persistence agent.

### What happened:
When starting persistence agent, it is stuck with the following error message:

time="2020-09-11T02:38:11Z" level=info msg="Setting up event handlers"
time="2020-09-11T02:38:11Z" level=info msg="Setting up event handlers"
time="2020-09-11T02:38:11Z" level=info msg="Setting up event handlers"

[2020-09-11 02:51] Bobgy commented on #4482
Also, before restarting persistence agent, there are error messages like

I suspect the workqueue is filled with workflows that have already been deleted, so it cannot move forward with others.

[2020-09-11 03:07] Bobgy commented on #4482
I also found one completed workflow which isn't GCed

[2020-09-11 06:12] Bobgy commented on #3970
/lifecycle frozen

[2020-09-11 06:13] Bobgy commented on #3259
Both stages done, let's mark as closed

[2020-09-11 06:13] #3259 closed

[2020-09-11 06:31] Bobgy opened #4484 "Persistence Agent keep trying to delete workflows that do not exist"
In #4482, a different problem is that

There are many error messages like

I suspect the workqueue is filled with workflows that have already been deleted, so it cannot move forward with others.

## The Fix

KFP API server should mark delete workflow not found errors as permanent, so persistence agent won't need to keep retrying them.

[2020-09-11 06:33] Bobgy commented on #4482
This issue is probably not solvable, we must prevent the cluster from getting too many workflows.
However, we should fix https://github.com/kubeflow/pipelines/issues/4484.

[2020-09-11 09:37] neolunar7 commented on #2837
Did this issue get solved?

[2020-09-11 09:41] NikeNano commented on #3935
/assign

[2020-09-11 09:41] NikeNano commented on #3935
I will start to look at this.

[2020-09-11 09:53] Bobgy commented on #4361
All postsubmit tests passed! https://github.com/kubeflow/pipelines/commit/135715dbecf7a077c468bf9c3b58e45de101e991

We are good to go on the release.

[2020-09-11 09:53] Bobgy commented on #4361
/assign @PatrickXYS
Hi Patrick, can you verify KFP 1.0.1-rc.1 on AWS?
Current release-1.0 branch head is not much different from rc1, so if you can verify that, I think we can release the final 1.0.1

[2020-09-11 11:03] NikeNano commented on #3935
After looking at the code the issue seems to be that time is handled through Unix timestamps in combination with UTC. I assume that we would like to use the local timezone of the cluster or maybe this should actually be specified by the user?

The "current" time used by the controller for deciding if it is time to run a scheduled workflow is collected the following way, code [here](https://github.

[2020-09-11 11:18] danishsamad commented on #4469
Similar issue, with a hack to resolve it, discussed [here](https://github.com/kubeflow/kubeflow/issues/5271)
Using both kfctl_k8s_istio.v1.1.0.yaml & kfctl_istio_dex.v1.1.0.yaml generate the same issue on AKS

[2020-09-11 12:42] #3902 closed

[2020-09-11 12:42] #3868 closed

[2020-09-11 12:42] #3873 closed

[2020-09-11 12:42] #3847 closed

[2020-09-11 12:47] eterna2 commented on #4436
specifically for the viz, the `ml-pipeline-ui` pod must have access rights to the S3 bucket.

There are few ways to do it:
- provide the access key and secret as env var to the pod (as part of the deployment)
- (recommended) use kube2iam or similar (or even the IAM role to the node - not recommended) to give the pod the IAM credentials

I maintain a community repo for pipelines on AWS - u can refe

[2020-09-11 14:44] Bobgy commented on #3935
I don't see a problem using unix epoch during backend computation, at least for periodic schedule.

Can you elaborate where the conversion went wrong?

But for cron schedule, I agree we need a timezone

[2020-09-11 15:16] PatrickXYS commented on #4361
@Bobgy  Thanks for reminding me, I'll go ahead to verify that. Will keep you updated

[2020-09-11 17:52] zyxue opened #4488 "is there a way to pass parameters to `kfp.compiler.Compiler().compile` in Python"
I wonder if there is a way to pass parameters for the pipeline to be complied to [`kfp.compiler.Compiler().compile`](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.compiler.html#kfp.compiler.Compiler.compile) in Python directly instead of command line?

[2020-09-11 18:00] zyxue opened #4489 "What's the relationships between static type checking in kfp and that like mypy"
I wonder if the [static type checking in kfp](https://www.kubeflow.org/docs/pipelines/sdk/static-type-checking/) is an alternative to something like [mypy](https://mypy.readthedocs.io/en/stable/)?

[2020-09-11 19:42] #4484 closed

[2020-09-11 20:39] Ark-kun commented on #4489
KFP's static type checking is more like compile-time type compatibility checking. When you pass task output to component input, the compiler checks that the declared types are the same.

Static type checking tools like mypy cannot be used for this because the pipelines are dynamic - the components are loaded from remote URIs and dynamic functions are generated.

[2020-09-11 20:42] Ark-kun commented on #4488
The compiled pipeline is supposed to be configurable. It's like a function definition as opposed to a function call.

1. You could use `kfp.Client(host=...).create_run_from_pipeline_func(my_pipeline, arguments={...})`
2. You can specify default pipeline parameter values in the pipeline function definition.

[2020-09-11 20:47] Ark-kun commented on #4414
The priority is low, although there was a user who has asked for python 3 in DataFlow components. Maybe there is some version dependency there.

[2020-09-12 00:21] Bobgy commented on #2999
Thank you for the report!
PRs welcomed

[2020-09-12 00:39] Bobgy commented on #4440
Exactly, that was one of the auth options in the design too.

PRs welcomed on reading istio request header approach for authentication

[2020-09-12 00:40] Bobgy commented on #4481
Exactly, I've just updated doc to say master

[2020-09-12 00:40] #4481 closed

[2020-09-12 01:29] #4425 closed

[2020-09-12 21:46] PatrickXYS commented on #4361
Hi @Bobgy I found that AWS PR is not cherry-picked into release-1.0 branch.

Create a PR for fixing it https://github.com/kubeflow/pipelines/pull/4490.

[2020-09-12 22:34] PatrickXYS commented on #4361
Confirmed that KFP 1.0.1-rc.1 works on AWS.

Can we also merge #4490, and then cut release?  @Bobgy  Let me know if any concerns

[2020-09-13 00:33] Bobgy commented on #4454
/assign @Ark-kun @numerology @chensun

[2020-09-13 00:49] Bobgy commented on #4381
Hi @Gsantomaggio, sorry for the late reply. A contributor wrote a great sample https://github.com/kubeflow/pipelines/issues/4327#issuecomment-687255001

[2020-09-14 00:14] #3802 closed

[2020-09-14 01:46] Bobgy commented on #4361
OK, I can continue the release

[2020-09-14 03:23] #4248 closed

[2020-09-14 03:25] Bobgy commented on #4248
#4491 added the local tag deletion process in automated release.sh script

[2020-09-14 03:36] Bobgy commented on #2542
/lifecycle frozen

/cc @numerology @chensun
I just found this issue and looks like we should delete the tf serving sample.

[2020-09-14 03:38] numerology commented on #2542
Sounds good. Should we use new KF serving instead?

[2020-09-14 03:39] Bobgy commented on #2542
@jinchihe @animeshsingh will you be interested in contributing a kfserving sample?

From my understanding, that requires a kfserving install to properly run, so we need to run it in full Kubeflow, is that right?

[2020-09-14 06:33] Bobgy commented on #4361
Released https://github.com/kubeflow/pipelines/releases/tag/1.0.1

[2020-09-14 06:54] #4361 closed

[2020-09-14 09:30] NikeNano commented on #3935
I was a bit trigger happy and unclear here. I agree with you, we don't need or should swap unix epochs for all the processing. Will clarify the issue below.

The reference time which is used for comparing if it is time to run a scheduled workflow is based upon Unix epochs(and thus UTC):

https://github.com/kubeflow/pipelines/blob/7f20a3e843c6c585a7d979f029942838e528f544/backend/src/crd/controller/

[2020-09-14 13:05] tanguycdls commented on #4272
@Ark-kun Also interested by that issue, we're running into the max workflow size as well even with the simplify packaged ! Tell us if we can help and how.
thks!

[2020-09-14 13:23] jlewi commented on #4356
@RoyerRamirez I'm not working on this issue. I would suggest working with the KFP folks and the folks mentioned in this issue to see about prioritizing it if you think its important.

[2020-09-14 13:26] jingzhang36 commented on #3259
A good next step is to have a pipeline that load-tests  KFP.

[2020-09-14 14:24] knkski commented on #4447
@Bobgy: Thanks for the response. I was thinking similarly to how the logs from the `main` container are shown for each pipeline pod, we could also show logs from the `wait` container in the same pod. See here for what I mean by logs from the `main` container:

https://v0-5.kubeflow.org/docs/images/pipelines-mnist-logs.png

The Argo sidecar's logging messages wouldn't have to be displayed by defaul

[2020-09-14 15:37] connorlwilkes opened #4494 "Connect Timeout Issue with Istio proxy & Argo"
### What steps did you take:
[A clear and concise description of what the bug is.]

Deploy 'no' auth kubeflow with Istio 1.4.3 and try and run any KF Pipeline.

### What happened:

On creation of a kubeflow pipeline the pipeline hangs and is unable to start with the following error in the 'wait' container:

`time="2020-09-14T13:23:01Z" level=warning msg="Failed to get pod 'conditional-execution-pi

[2020-09-14 20:45] #3877 closed

[2020-09-14 20:47] Ark-kun commented on #4128
Fixed in https://github.com/kubeflow/pipelines/pull/4123

[2020-09-14 20:47] #4128 closed

[2020-09-15 06:52] Ark-kun opened #4497 "SDK - Client does not check validity of arguments when submitting pipeline"
The arguments can easily be checked by the `create_run_from_pipeline_func` function.

[2020-09-15 07:29] Ark-kun commented on #2534
This is not fixed yet

[2020-09-15 11:55] Gsantomaggio commented on #4381
@Bobgy We tried the example, but the example is for "reading" the artifacts not for writing.

Reading the artifacts isn't a problem, the problem is the Minio organization folders.

btw, thank you for your support, I think we will create a sort of custom UI that wraps the links so we can create a relationship between users and artifacts.

[2020-09-15 19:06] boarder7395 opened #4500 "ContainerOp.add_pvolumes does not support sub_path on kubernetes.client.models.V1VolumeMount"
The method add_pvolumes on ContainerOp has only basic support of the V1VolumeMount but does support sub_path and sub_path_expr.

How add_pvolumes is currently implemented I can't see a nice way of adding the possibility of passing addition arguments to V1VolumeMount.

[2020-09-15 20:46] Ark-kun commented on #3265
Most likely, components/gcp will remain as legacy while more components will be added to components/google-cloud over the time.

[2020-09-15 20:48] Ark-kun commented on #3680
This sounds intriguing. Can you describe proposed experience step by step.

1. User starts with empty pipeline
2. User does X and Y happens
...

[2020-09-16 01:56] Ark-kun commented on #4500
Hello.
Can you please describe your high-level scenario for using volumes?
ContainerOp has `task.add_volume(...)` and `task.container.add_volume_mount`. Is there something missing in those two methods that prompt you to use the experimental contrib `add_pvolume`?

[2020-09-16 02:06] Ark-kun commented on #4454
1. Generally we try not to add such functions ourselves, but rely on existing structures for the maintenance. For example, task.container just uses the V1Container Kubernetes type. We had to add add_toleration and add_affinity to ContainerOp since they belong to the Kubernetes PodSpec, but we/Argo cannot support most of the PodSpec attributes. So we have to manually add support for those attribute

[2020-09-16 02:32] Bobgy commented on #3935
Hi @NikeNano, it makes sense using local timezone for cron jobs, but I'd suggest creating a separate issue for it, because the original reported issue here is using periodic schedule, but still getting this problem. So there should be another problem during timezone conversion.

[2020-09-16 02:33] rmgogogo commented on #4446
/cc @Bobgy

[2020-09-16 02:35] Bobgy commented on #4356
I've got enough feedback and will work on this next week, but there are some uncertainties how we can release this (as an option or as default). So please do not wait for this if you are onto something urgent.

[2020-09-16 02:45] Bobgy commented on #4447
Thanks for the suggestion!
Sounds reasonable to me, PRs welcomed on implementing that.

[2020-09-16 03:48] Bobgy commented on #4446
@eedorenko When you rerun a few steps, do you rerun with the same components, or updated components?

[2020-09-16 03:49] Bobgy commented on #3989
/lifecycle frozen

[2020-09-16 06:49] n3o-Bhushan opened #4502 "Documentation: Generating API keys for KFP API authentication (on platforms other than GCP, GKE)"
I want to access experiments or runs related data in multi-user isolation environment.
Is there any documentation available for generating user specific API keys that can be used with `kfp_server_api`? I am not able to find any documentation to do so.

[2020-09-16 07:17] NikeNano commented on #3935
I had created a separate issue for it before this one where created, but it was closed as a duplicate https://github.com/kubeflow/pipelines/issues/2653. I will reopen and update the name to indicate it relates to Cron Expressions.

Will check the issues with periodic jobs as well.

[2020-09-16 07:17] NikeNano commented on #2653
/open

[2020-09-16 09:19] Bobgy commented on #2653
Sorry for wrong dup

[2020-09-16 09:23] #4040 closed

[2020-09-16 11:09] davidspek opened #4505 "Cache deployer fails if the cluster signer is not set"
### What steps did you take:
[A clear and concise description of what the bug is.]
When deploying kubeflow using kfctl_istio_dex.v1.1.0.yaml on a Charmed Kubernetes 1.19 cluster the cache-server and cache-deployer-deployment pods get stuck in PodInitializing and CrashLoopBackOff respectively. The cache-server pod shows the error `MountVolume.SetUp failed for volume "webhook-tls-certs" : secret "we

[2020-09-16 11:11] DavidSpek commented on #4505
/area backend

[2020-09-16 12:44] boarder7395 commented on #4500
Sorry I actually thought add_pvolume was the preferred method I will take a look at add_volume and add_volume_mount!

My goal is to attach a single volume to my container and then use paths inside that volume at different container paths.

For example:
I am running a ContainerOp and want the storage to be on volume A at path /dask mounted to container path /dask/tmp and volume A at path /data moun

[2020-09-16 12:49] boarder7395 commented on #4500
I took a look at task.add_volume, and task.container.add_volume_mount and those are exactly what I am looking for thanks Ark-Kun!!

[2020-09-16 12:49] #4500 closed

[2020-09-16 13:01] boarder7395 opened #4506 "Expected workflow with VolumeOp.delete()?"
Using VolumeOp to create a volume works great, but when calling VolumeOp.delete() after the containerOp completes, the pvc is not being removed since it will be stuck in a terminating state until the pod created by containerOp is deleted. This is because the finalizer kubernetes.io/pvc-protection will prevent the pvc from being deleted even if the container is in a completed ("successful") state.

[2020-09-16 18:13] eedorenko commented on #4446
Both.
1. Same component. It mostly happens when a component is dependent on some external conditions (data, externals systems, etc.). So, I change the external conditions and I want to rerun the component without changing it.
2. Updated component. If the component is updated or the parameters are updated it will rerun the component. But, I need to rerun it in the same run (not the cloned one). Cur

[2020-09-16 19:19] chenmay0921 opened #4507 "Unable to change the name of artifact, which causes "failed to read artifact" error"
### What steps did you take:
[A clear and concise description of what the bug is.]
When running the following component:
[code]
[code]
### What happened:
Under the Input/Output -> Output artifacts
train-model-mlpipeline-metrics : minio://mlpipeline/artifacts/spamsms-sklearn-pipeline-q4slz/spamsms-sklearn-pipeline-q4slz-1756134800/train-model-mlpipeline-metrics.tgz

### What did you expect to happe

[2020-09-17 07:11] thesuperzapper commented on #4469
Hi all, the solution to this is simple, just make sure your `Namespace/kubeflow` has the right labels.

**PLEASE NOTE:** you will need to recreate all resources in `Namespace/kubeflow`, after making this change.

[code]

[2020-09-17 13:33] NikeNano commented on #2653
Based upon the findings presented in https://github.com/kubeflow/pipelines/issues/3935 should we move towards using time timezones or stay on using Unix timestamp and shift the cron schedules to UTC? Is it also worth allowing users to set the timezone as a parameter instead of using the local cluster timezone, but default to the cluster timezone?

[2020-09-17 17:52] #4502 closed

[2020-09-17 19:03] solovyevt commented on #1697
Would be a great feature to have to handle removal of multiple volumes

[2020-09-17 23:42] JasonPad19 commented on #4469
Hi, after installing kubeflow, i had a check on the namespace side. it already contains the correct labels.

![image](https://user-images.githubusercontent.com/52347372/93539128-f85c3780-f9a3-11ea-94a4-0247e6175630.png)

[2020-09-18 03:20] rmgogogo commented on #3869
This issue is still active and not stale. We address IR first and model the resource in IR.

In current KFP (argo yaml based), GPU is already supported.

[2020-09-18 03:23] numerology commented on #3869
/lifecycle frozen

[2020-09-18 04:00] yhwang commented on #4440
@Bobgy can you elaborate more about this:

For istio request header, it could be handled by istio RBAC. I guess you mean adding corresponding istio RBAC in this case. Or you was talking about other implementation?

[2020-09-18 07:05] munagekar opened #4513 "Feature Request: Show descriptions of inputs on kubeflow ui"
It will be nice to have description of the arguments when creating a run.

## Creating a Run UI: Run Parameters does not have argument descriptions
![Screen Shot 2020-09-18 at 16 02 14](https://user-images.githubusercontent.com/10258799/93566830-9eba3400-f9c8-11ea-9e18-6b6036299602.png)

## Pipeline UI: Input Parameters in the Pipeline UI doesn't have argument descriptions
![Screen Shot 2020-09-18

[2020-09-18 07:10] munagekar commented on #4513
Pipeline Code

[code]

[2020-09-18 14:35] elikatsis commented on #4506
Hi @boarder7395,

the `persistenceagent` is responsible for workflow GC, which, eventually, also GCs pods (and thus the terminated PVCs).
The default TTL is 7 days (see [1], [2]).
You can also set a different TTL by editing its deployment. I believe something like [this](https://github.com/kubeflow/pipelines/blob/d4e73989170cf5e44b2fe1064a904003c3c5a7ff/manifests/kustomize/base/pipeline/ml-pipelin

[2020-09-18 14:56] Udiknedormin opened #4514 "Non-pythonic names for container component's output breaks loading of graph components"
### What steps did you take:
1. Define yaml for container component having an output with non-pythonic name (e.g. `out-1`).
2. Define yaml for graph component containing that container as its task and passing its output as the graph output.
3. Compile inside of pipeline.

Could be illustrated by the following test to component_bridge_tests.py:

[code]

### What happened:
Compiler fails with `KeyEr

[2020-09-18 17:47] consideRatio commented on #2654
@NikeNano was this something you worked on btw? Is it resolved and ready for closure?

[2020-09-18 21:37] narner90 commented on #2829
I'm also running into this issue

[2020-09-18 23:35] Ark-kun commented on #4514
Thank you for discovering and researching this issue.

[2020-09-18 23:44] Ark-kun commented on #4513
This is a duplicate of https://github.com/kubeflow/pipelines/issues/448, but let's keep this open.

Thank you for proposing a way to specify the descriptions. This was one of the problems blocking the original issue.

And thank you for taking time to implement the needed SDK change!

[2020-09-18 23:53] Ark-kun commented on #4505
I wonder what would be the best way to deal with this issue.
The request we send is `v1beta1`, not `v1`. This looks like a bug in some version of kubectl.

[2020-09-19 00:35] Ark-kun commented on #4446
TBH, I think it would be best if you augmented your reliance on kfp_run_id and aspects of its behavior (not changing during reruns).
You might want to generate your own run id and pass it to the components, but then record the connection between the `kfp_run_id` and `run_id`.

Example:

[code]

[2020-09-19 10:54] TabbieD commented on #4268
@pxu20 have you been able to resolve this error?

[2020-09-19 16:37] pxu20 commented on #4268
@TabbieD Not yet

[2020-09-19 23:07] #3611 closed

[2020-09-20 03:36] Ark-kun opened #4517 "Lightweight python components - Create a way to use complex types in value output"
ComponentSpec format allow arbitrary complex types when describing inputs and outputs.

Lightweigh Python components have full support for complex types for inputs and outputs described through the function parameters, but for value outputs described using the function return value there is currently no way to use complex types (or even simple types with spaces in the name).
We need to design a wa

[2020-09-20 03:42] Ark-kun opened #4518 "Components - Add type-checking support for union types for inputs"
ComponentSpec allows arbitrary complex types. Component library performs type checking when passing outputs to inputs.

We need a way to describe inputs that support more than one type. The type checker should check that the output reference matches at least one of the types in the union.

Proposed `component.yaml` syntax (no changes to ComponentSpec format):

Option 1:
[code]
Option 2:
[code]

[2020-09-20 07:18] munagekar commented on #4506
Volume op could expose an option to set the TTL. This could be set as an annotation on the PVC. The persistence agent should refer this annotation for deletion.

[2020-09-20 12:33] Sillians commented on #4268
@pxu20 any solution yet? Actually experiencing same issue as well.
![deploy log errros](https://user-images.githubusercontent.com/25388109/93711403-e4e8d200-fb45-11ea-8151-a110ae4df12c.png)

[2020-09-20 12:41] Sillians commented on #4268
@Ark-kun where in the code did you modify the runtime version to 2.1

[2020-09-20 12:59] DavidSpek commented on #4505
@Ark-kun, could this have to do with the cluster being Kubernetes 1.19 and its changes in regards to `beta` API's?

[2020-09-20 19:50] Sterls opened #4521 "Kubeflow Pipelines on GCP can't launch due to pods issues."
I created multiple clusters on GCP using the default settings through the AI platform. When I open the pipelines tab in AI Platform, I get the error : "Error occured while trying to proxy to: ...".

I am getting this error on multiple pipelines on multiple clusters. None of the sample tutorials or templates work due to the same error.

1) Is this a kubeflow issue or a GCP issue?
2) I'm not too sav

[2020-09-20 22:51] Ark-kun commented on #4505
Maybe the problem is related to the version mismatch between kubectl version in the container and the Kubernetes server version.

[2020-09-20 23:01] Ark-kun opened #4522 "ContainerOp does not support names with dots"
We need to either enable banes with dots in `BaseOp` or add sanitization in component_bridge. (Or both.)
[code]

[2020-09-21 07:27] cp2587 commented on #3412
+1
This would be a great addition to allow more complexe graph in kubeflow ! Any plan on adding it soon ?

[2020-09-21 07:52] Bobgy commented on #3998
I believe this should be addressed by https://github.com/kubeflow/pipelines/pull/4493#issuecomment-694803381. If we expose an api server endpoint for logs.

[2020-09-21 08:50] Ark-kun commented on #4521
This is really strange.

Did you install using the Google Cloud Marketplace UX?

Did you create a new Kubernetes cluster in the process?

[2020-09-21 08:53] Ark-kun commented on #4506
@boarder7395 Just to gather some feedback: Can you please describe the scenario leading to you using advanced and non-portable concepts like Kubernetes volumes instead of using common data-passing via inputPath/outputPath?

[2020-09-21 08:57] Ark-kun commented on #3667
Can we let the user download the actual .tar.gz archive? I think this solves an important problem and makes every artifact downloadable.

The algorithm can be as follows:
If the archive contains a single file, return that file. Otherwise return the whole archive.

[2020-09-21 09:57] chenyuzhi459 commented on #4304
I met the same problem
[code]
but  I check `mlpipeline.run_metrics.Payload` in mysql, it's a json format data. However, I change the charset to utf8 for mysql db before,  thus, it may cause by the change of charset. When I run `ALTER TABLE run_metrics MODIFY COLUMN Payload longtext CHARACTER SET latin1;`,  it works and the metrics show up in the ui.  Is it a bug?

[2020-09-21 12:07] #3315 closed

[2020-09-21 12:26] solovyevt commented on #3814
Please unstale, non-text files are not downloadable at the moment

[2020-09-21 12:37] boarder7395 commented on #4506
So if I understand correctly Ilias updating the persistence agent so the TTL is ~30 seconds or so will result in the pods created by containerOPs being cleaned up within 30 seconds allowing the PVC that was created to be cleaned up as well?

I tried updating my persistenceagent to 30 seconds and it doesn't seem to be removing pods with the completed status?

[2020-09-21 12:42] boarder7395 commented on #4506
Hey Alexey I could entirely be using volumes incorrectly but I was attaching volumes to increase temporary storage for each pod. Is the preferred method of increasing storage for a pod to increase the storage for the nodes?

Basically I have a shuffle operation happening in one of my stages that writes a large amount of data to temporary storage which is filling up the space I have available on th

[2020-09-21 13:07] munagekar commented on #4506
We also use the VolumeOp feature in my organization.
Certain pipeline use a massive dataset, ~1 TB.  By using PVC we eliminate copy from gcs, process ,copy back to gcs for each pipeline stage.

[2020-09-21 16:22] Sterls commented on #4521
I did the following:

On AI Platform -> Pipelines -> New Instance
This takes me to a Kubeflow pipelines config page. Here I am able to create a new cluster or select an existing one. I can create it by selecting a zone and clicking the "Create cluster" button (Here is where I think it creates it on the Google Cloud Marketplace). Then I select the checkbox "Use managed storage" and click "Deploy".

[2020-09-21 17:07] hongye-sun opened #4528 "Add samples and unit tests for the IR spec"
We introduced IR spec in https://github.com/kubeflow/pipelines/pull/4371

It's better to provide examples for the spec for the reader to better understand it and they can also be used in unit tests.

[2020-09-21 18:52] pxu20 commented on #4268
Sorry, not yet.

[2020-09-21 20:15] Ark-kun commented on #3798
/frozen

[2020-09-21 20:16] Ark-kun commented on #3795
/rozen

[2020-09-21 20:16] Ark-kun commented on #3797
/rozen

[2020-09-21 20:16] Ark-kun commented on #3797
/frozen

[2020-09-21 20:19] Ark-kun commented on #4521
This is the likely issue.
I've had this problem before: https://github.com/kubeflow/pipelines/issues/3798 https://github.com/kubeflow/pipelines/issues/3795 https://github.com/kubeflow/pipelines/issues/3797
As a workaround, uncheck that box.

/cc @Bobgy
I think the current Marketplace UX could be more intuitive and easier to use out-of-the-box.

[2020-09-21 22:07] chenmay0921 commented on #4507
Hi Alexey,
Any insights about the above question?

[2020-09-22 00:12] Ark-kun commented on #497
/freeze

[2020-09-22 00:41] thesuperzapper opened #4530 "cluster-autoscaler: safe-to-evict Pod annotation"
With the new multi-user pipelines feature, more pods are used which have `emptyDir` (local storage). Local storage causes issues for K8S clusters using the `cluster-autoscaler`, as it will refuse to evict pods which have local storage unless they have the following annotation:
[code]

We should either make this anotations the default in the manifests, or make this a simple config to change for use

[2020-09-22 01:08] Ark-kun commented on #3820
/frozen

[2020-09-22 01:10] Ark-kun commented on #3736
/frozen

[2020-09-22 01:11] Ark-kun commented on #2449
/frozen

[2020-09-22 01:12] Ark-kun commented on #1598
/frozen

[2020-09-22 01:12] Ark-kun commented on #1598
/freese

[2020-09-22 01:12] Ark-kun commented on #1598
/freeze

[2020-09-22 01:14] Ark-kun commented on #1833
The new Keras component does not require new container images: https://github.com/kubeflow/pipelines/tree/master/components/keras/Train_classifier/from_CSV

[2020-09-22 02:10] thesuperzapper commented on #4530
After further investigation it is almost always the istio-sidecar which is causing this issue.

**The following Pipeline `Deployment` resources have this issue:**
* `metadata-writer`
* `ml-pipeline`
* `ml-pipeline-persistenceagent`
* `ml-pipeline-scheduledworkflow`
* `ml-pipeline-ui`
* `ml-pipeline-viewer-crd`
* `ml-pipeline-visualizationserver`

**These two `Deployment` resources are more problem

[2020-09-22 05:23] thesuperzapper commented on #4530
Users can work around this issue (if they are installing istio with the istio helm chart), using the `global.sidecarInjectorWebhook.injectedAnnotations` in `values.yaml` to inject the `safe-to-evict` annotation.

**WARNING:** this is only a solution for users who are happy with applying `safe-to-evict` to all ALL workloads with an istio-sidecar, so we should still fix this in our manifests.

See h

[2020-09-22 06:03] Bobgy opened #4531 "[Vulnerability Scanning] 9-22 vulnerabilities in multiple images"
Image: https://gcr.io/ml-pipeline/google/pipelines/metadatawriter@sha256:b72329f791d4a94792fbd94d5ec63f23372fd5fa8aa8fbf26e1907f6b16fc975
  Note: CVE-2019-9193
  Package: postgresql-11
  Version: 11.7
  Package: postgresql-11
  Version:

Image: https://gcr.io/ml-pipeline/google/pipelines/proxyagent@sha256:a96df0c5439f8ea80e27b551e6c9117ae7d23e45ee8353767eb3231e08401ec8
  Note: CVE-2018-15686
  Pac

[2020-09-22 06:31] Bobgy commented on #4361
There were some vulnerabilities we need to address to release it in Google Cloud marketplace.
I'll work on these in 1.0.2: https://github.com/kubeflow/pipelines/issues/4531

[2020-09-22 07:06] Ark-kun commented on #4531
AFAIK, this one is not a real vulnerability and has been retracted by the authors: https://nvd.nist.gov/vuln/detail/CVE-2019-9193

[2020-09-22 07:07] Bobgy commented on #4521
Yes, when you check "use managed storage", you must setup your managed storage beforehand and fill in the fields below to connect your KFP instance with your managed storages.

[2020-09-22 08:50] Bobgy commented on #4530
Totally makes sense to me.

Regarding notebook pods, do we have any other mechanism to prevent them from being evicted?

[2020-09-22 08:55] Bobgy commented on #4045
/lifecycle frozen

[2020-09-22 08:56] Bobgy commented on #2884
/lifecycle frozen

[2020-09-22 09:02] Bobgy commented on #4507
@Ark-kun

[2020-09-22 09:07] Bobgy commented on #2653
Sounds reasonable moving towards local timezones + config.

Note, we might be refactoring the implementation to use K8s cronjobs in the future, so it's better align with their behavior.

[2020-09-22 09:13] NikeNano commented on #2653
Thanks for the feedback, great will do so!

[2020-09-22 10:45] xiehaoina commented on #4175
I think it is a common case when using "ParallelFor" operators. Can this feature be supported in future releases?

[2020-09-22 11:51] Bobgy opened #4533 "[KFP 1.0] Document versioning policies and feature stages"
Part of https://github.com/kubeflow/pipelines/issues/4324

TODOs:
* [X] Document versioning policies and feature stages: https://github.com/kubeflow/pipelines/pull/4210
* [ ] Document feature stages in individual feature pages on www.kubeflow.org.
* [ ] Document sdk package/method level stages @neuromage  @numerology @chensun

[2020-09-22 12:12] NikeNano commented on #2654
Hi, as far as I know this is not resolved. I am currently working on the CronJobScheduler so will also look in to this! Thanks for the bump!

[2020-09-22 13:27] osabobo opened #4534 "This step is in Pending state with this message: ContainerCreating"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind bug

[2020-09-22 13:28] #4534 closed

[2020-09-22 18:06] #4377 closed

[2020-09-22 19:39] codebeard1 commented on #651
+ 1 for me on this issue as well.

Ideally I would like to see native Kafka support for event based triggering of Kubeflow pipelines. This way we don't have to use something outside like Nifi or Airflow to have to trigger pipelines based upon an event. This is all to ensure there is better native support for online learning which is event driven based upon the mini-batches of training data that co

[2020-09-22 19:53] Sterls commented on #4521
Thank you so much! Starting fresh and doing everything without "using managed storage" fixed the pods issued. My pipelines are up and running successfully!

Even when "Using managed storage" I felt like I messed up the setup for managed storage somewhere because it really isn't clear for ML Ops noobs.

[2020-09-22 19:53] #4521 closed

[2020-09-22 20:13] lucinvitae commented on #4364
Bump ^ we also use IAM roles instead of long-lived AWS secrets.

@PatrickXYS do you know if this is supported? And if it's undocumented but supported, happy to help supply documentation provided we can get it working.

[2020-09-23 00:24] amygdala commented on #4061
let's not close this until it's fixed.

[2020-09-23 00:29] numerology commented on #4061
/lifecycle frozen

[2020-09-23 00:32] Jeffwan commented on #4530
`emptyDir` will be provided by ephemeral storage. I think applying `safe-to-evict` is a short term fix. It would be better to understand why all pods need `emptyDir`. Is it necessary?

[2020-09-23 01:36] thesuperzapper commented on #4530
@Bobgy I was talking about the workaround, this is NOT an issue if Kubeflow Pipelines updates their manifests

However, I agree that the Notebooks owners should make an effort to support users who apply the workaround (as its probably not that uncommon for Istio users to apply `safe-to-evict` with `sidecarInjectorWebhook.injectedAnnotations`

[2020-09-23 01:37] thesuperzapper commented on #4530
@Jeffwan the `emptyDir` is a feature of istio-sidecar, and is not specific to Kubeflow, see here: https://github.com/istio/istio/issues/19395

[2020-09-23 05:34] yhwang commented on #4440
@Bobgy I have a change [here](https://github.com/yhwang/kubeflow/commit/06cf7b6144ba6f6f30980184aa8cfbc94df04b8d) to create the istio configs with the notebook server. It also removes istio configs when deleting notebook server. Do you think it align with your plan? and should I have a PR for that?

[2020-09-23 08:07] anineharto opened #4537 "ModuleNotFoundError: No module named <local-module> when running TFX module file in Kubeflow Pipelines"
I've created my own local code using both the TFX library and customized code. I've also created a pipeline on my on-prem minikube cluster resulting in a `tar.gz` file that I upload to Kubeflow Pipelines. I have created a Persistent Volume where I've stored my dataset, preprocessing module file: `module_file_transform.py` and train module file: `module_file_train.py`. My module files make use of o

[2020-09-23 11:24] Bobgy opened #4539 "metadata grpc deployment using 0.22.1 in KFP marketplace on GCP in 1.0.0"
Reported by @numerology,
gcr.io/ml-pipeline/google/pipelines/metadataserver:1.0.0
gcr.io/tfx-oss-public/ml_metadata_store_server:0.22.1

However, it should be 0.21.1 according to https://github.com/kubeflow/pipelines/blob/181c35002490cf7f1b5af8c88cb8b7cf29332f2b/.release.cloudbuild.yaml#L266

/kind bug

[2020-09-23 11:25] Bobgy commented on #4539
Therefore, I think the only post fix is that when we release KFP 1.0.2 into marketplace, we should cherry-pick the upgrade MLMD PRs.

[2020-09-23 11:27] Bobgy commented on #4013
TODO:
* [ ] Update kubeflow/frontend version in kfp repo

[2020-09-23 11:28] Bobgy opened #4540 "[Release] Kubeflow Pipelines 1.0.4 umbrella tracker"
TODOs:
* [x] https://github.com/kubeflow/pipelines/issues/4539
* [x] https://github.com/kubeflow/pipelines/issues/4013#issuecomment-697302807
* [x] https://github.com/kubeflow/pipelines/issues/4531

[2020-09-23 12:00] yanniszark commented on #4440
Hi all! I will try to answer some of the questions that came up in this issue:

Istio RBAC is deprecated so I'm going to talk about Istio [AuthorizationPolicy](https://istio.io/latest/docs/reference/config/security/authorization-policy/).
Istio RBAC is a useful tool, but besides the obvious disadvantages (tied to Istio, harder to use, etc.), it doesn't have the flexibility that the Pipelines model

[2020-09-23 12:54] Bobgy commented on #4440
@yanniszark these are great points, I'll add some of my latest ideas in a few days

[2020-09-23 12:57] Bobgy commented on #3288
/lifecycle frozen

[2020-09-23 12:58] Bobgy commented on #4003
/lifecycle frozen

[2020-09-23 13:00] Bobgy commented on #4022
/lifecycle frozen

This is one of the top feature requests from multi user support issue.

[2020-09-23 13:02] Bobgy commented on #62
/lifecycle frozen

[2020-09-23 13:04] Bobgy commented on #3691
/lifecycle frozen

[2020-09-23 13:06] Bobgy commented on #1138
/lifecycle frozen
we'd still want this open

[2020-09-23 13:07] Bobgy commented on #3360
/lifecycle frozen

[2020-09-23 13:08] Bobgy commented on #1697
/reopen

[2020-09-23 13:09] Bobgy commented on #2829
/reopen
/assign @Ark-kun

[2020-09-23 17:16] yhwang commented on #4440
@yanniszark thanks for those information. Here are my thoughts

Personally, I don't think using istio config is bad, especially, you already use mTLS from istio. The key point of using istio is to control/define application level access/permission. For me, using k8s RBAC to achieve application level security is kind of abuse of it. It's main purpose is to control the k8s resource level permission.

[2020-09-23 17:32] lukemarsden commented on #4440
Is there a solution for making `kfp.Client()` work in out of the box in a cluster with no auth? e.g. a cluster installed with https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_k8s_istio.v1.1.0.yaml

It currently fails with:
[code]
This is with KFP SDK 1.0.1.

[2020-09-23 18:45] yhwang commented on #4440
@lukemarsden
You can check my comments above for a workaround:
[ServiceRoleBinding](https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687689294)
[EnvoyFilter](https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687703390)

And @yanniszark mentioned this:

It uses a fixed userid to access ml-pipeline-service and I suggest the value should be the userid who creates the notebo

[2020-09-23 18:58] akartsky opened #4541 "Add new github label specific for AWS SageMaker Components"
Request to add a new label specific for AWS SageMaker Components so that it's easier to filter
https://github.com/kubeflow/pipelines/labels

Currently we only have "platform/aws"

[2020-09-23 18:58] akartsky commented on #4541
@Jeffwan

[2020-09-23 19:17] yanniszark commented on #4440
@yhwang thanks for sharing your thoughts! I have some remarks on some of them:

As mentioned above, Istio AuthorizationPolicy just doesn't have the flexibility to deal with the complexity required for authorization. So for Pipelines, we needed an authorization database. We could make our own from scratch or try to put something together from existing solutions. Then we would need to provide toolin

[2020-09-24 00:57] PatrickXYS commented on #4364
We haven't supported IAM role yet. Also, I'm not sure if that's feasible for now, will add in our roadmap.

[2020-09-24 08:08] jonasdebeukelaer opened #4542 "No method to upload pipeline version using python sdk"
### What steps did you take:
tried to write a python script to upload a new pipeline version.

### What happened:
could not find the `client` method to do so. It seems to have been removed since the below docs were written. https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/#example-1-creating-a-pipeline-and-a-pipeline-version-using-the-sdk

### What did you expect to happen:
have an m

[2020-09-24 13:24] Mar-ai commented on #4418
Took us a little longer than expected, but here we are on Kubeflow 1.1.0.

Unfortunately I did not succeed in making this work.

### steps to reproduce

- generated PV `my-pv` and PVC `my-pvc` in namespace `user`
- in Kubeflow-UI in namespace `user`: started notebook server, started run of [TFX-on-premise-Pipeline](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/ta

[2020-09-24 19:08] HassanOuda commented on #4399
@Ark-kun I was wondering, how can I test to see if bucket name exists manually in kubernetes? The minio pvc is bound and minio deployment is running.
Thanks

[2020-09-25 07:24] Ark-kun commented on #4542
The method exists:
https://github.com/kubeflow/pipelines/blame/master/sdk/python/kfp/_client.py#L846
https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp.Client.upload_pipeline_version

I think the problem is that the released version of the SDK uses a really old version. https://github.com/kubeflow/pipelines/issues/4409

[2020-09-25 07:29] Ark-kun commented on #4409
It has now been almost 4 months.
I think we've discussed the release schedule during the branch-based release discussion. We've reached a decision to branch and release a minor version every month (extended from the two-week release cadence we had at the time).
We've decided to take a look and see how this goes.
I think the conclusion is that this strategy does not work for the SDK.
I think we nee

[2020-09-25 12:35] discordianfish commented on #3405
@Jeffwan What's the current state of this?

[2020-09-25 12:52] lukemarsden commented on #4440
Thanks @yanniszark and @yhwang for the guidance.

Applying this config:
[code]
changes the error to:
[code]
So I suspect disabling Istio RBAC alone is not sufficient. I will try experimenting with the [ServiceRoleBinding](https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687689294) and [EnvoyFilter](https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687703390) @yhwang sugg

[2020-09-25 12:59] lucinvitae commented on #4364
@PatrickXYS we were finally able to get tensorboard working with IAM.

I'll document it below so that other people can leverage the setup. Although I'm happy to add the docs somewhere else if there's a better location.

Similar to https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/env/aws/README.md we have a configmap with the content necessary for the tensorboard launcher:

We'

[2020-09-25 13:06] lucinvitae commented on #4364
I should note, none of this worked until we bumped to KFP standalone version: `v1.0.1`
(https://github.com/kubeflow/pipelines/releases/tag/1.0.1)

[2020-09-25 13:19] lucinvitae commented on #3405
I'm adding a link to tie this "parent" S3 support issue to a related "child" issue we recently encountered with getting tensorboard visualizations that specify S3 sources to work within KFP using AWS IAM roles: https://github.com/kubeflow/pipelines/issues/4364

It took our team a few months of trial-and-error configuration changes which we periodically abandoned and then resumed the task of gettin

[2020-09-25 13:19] #4364 closed

[2020-09-25 14:05] Udiknedormin opened #4543 "Keyword-only arguments in pipeline function signature break the compilation"
### What steps did you take:
1. Create a pipeline function with keyword-only argument(s).
2. Pass it to `compile`.

[code]

### What happened:
Compilation fails with exception:

[code]

### What did you expect to happen:
Should compile just fine, just like it does for non-keyword-only arguments:
[code]

### Environment:
KFP SDK version: 1.0.0

### Anything else you would like to add:
Looks like it

[2020-09-25 14:11] kd303 commented on #2416
/reopen please provide alternates considering other frameworks etc. Can this be achieved via calling an API etc. to log it in some monitoring dashboards etc? This is one of the most important features that our users are requesting.

[2020-09-25 17:06] yhwang commented on #4440
@lukemarsden
I guess your envoyfilter should be added to `anonymous` namespace where your notebook is. and don't forget to specify your notebook server by using the `workloadSelector`, for example:
[code]

[2020-09-25 18:24] Jeffwan commented on #3405
@discordianfish There's some dependency issues on minio javascript side to use IAM Role for service account. If you use credentials, there's no blocking issues.

[2020-09-25 18:25] Jeffwan commented on #3405
@lucinvitae Nice work. thanks for the contribution and I see your published issue,.

[2020-09-25 23:54] Ark-kun opened #4549 "Empty default pipeline arguments are getting ignored by the compiler"
This leads to failure at Argo workflow submission time if the arguments are not provided.

[code]

[code]

[2020-09-26 07:55] Ark-kun commented on #4543
Thank you for researching this issue and finding the solution.

Just out of curiosity, what scenarios call for pipeline functions with keyword-only arguments?

[2020-09-26 10:34] #3986 closed

[2020-09-26 10:34] #3943 closed

[2020-09-26 10:34] #3881 closed

[2020-09-26 10:34] #4024 closed

[2020-09-26 10:34] #3875 closed

[2020-09-26 10:35] xinbinhuang opened #4551 "Issue using `ParallelFor(results.ouput)` when results is a list of objects"
### What steps did you take:

I think this is an upstream bug from Argo: https://github.com/argoproj/argo/issues/2660

Attempting to loop through a list of objects using `dsl.ParallelFor` and call operations on it

[code]

Here `vintages_collection` look something like this

[code]

### What happened:
Step failed with

### What did you expect to happen:
The object can be paralleled by the operatio

[2020-09-26 11:42] munagekar commented on #4069
Not stale

[2020-09-26 17:51] munagekar commented on #1846
Not stale

[2020-09-27 06:41] Ark-kun opened #4553 "Upgrade Argo to v2.11+"
Issues fixed:

* https://github.com/kubeflow/pipelines/issues/4551

Improvements:

[2020-09-27 06:42] Ark-kun commented on #4551
Looks like that. Created an issue tracking upgrading Argo.

[2020-09-27 06:46] Ark-kun commented on #4537
Please help us better understand  your issue.

It looks like your transform code imports from the `tf_template` module which does not exist in the TFX container image. Is that correct?

Can you elaborate this please?

[2020-09-27 07:23] #3960 closed

[2020-09-27 07:23] #3011 closed

[2020-09-27 07:23] #3375 closed

[2020-09-27 07:23] #3974 closed

[2020-09-27 07:23] #4030 closed

[2020-09-27 08:24] #2831 closed

[2020-09-27 08:24] #3607 closed

[2020-09-27 08:24] #3676 closed

[2020-09-27 08:24] #3907 closed

[2020-09-27 08:24] #3870 closed

[2020-09-27 11:51] #4020 closed

[2020-09-27 11:51] #3990 closed

[2020-09-27 19:27] simanw304 opened #4555 "Is it possible to use a kfp pipeline as a kfp component?"
I understand I can containerize a kfp pipeline `A` and use it as a component in another pipeline `B`. In that component, it will submit a kfp run to gcloud kfp platform and give me the link. Is it possible to somehow watch the status of that run and continue processing in `B` after that run finishes? I wonder whether there is related functionality or similar practices. Thanks.

[2020-09-27 19:37] amygdala commented on #3005
/lifecycle frozen

[2020-09-28 03:03] paveldournov opened #4556 "Metadata Writer does not record input parameter values in ML Metadata"
### What steps did you take:
1. Run AutoML Tables pipeline (https://github.com/kubeflow/pipelines/blob/master/samples/core/AutoML%20tables/AutoML%20Tables%20-%20Retail%20product%20stockout%20prediction.ipynb)
2.Navigate to the runtime graph, select any node with inputs
3. Open ML Metadata tab view
4. Look for Inputs

### What happened:
No inputs are recorded in ML MEtadata while the pipeline steps

[2020-09-28 03:57] numerology commented on #1848
/lifecycle frozen

I tried to file https://github.com/kubernetes/test-infra/issues/14958 for this but got no replies :(

[2020-09-28 10:27] deepio-oc opened #4559 "type object 'Client' has no attribute 'get_pipeline_id'"
### What steps did you take:
In our use case, we need to fetch the pipeline based on the pipeline id before we add a version. As per the documentation mentioned here,
https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html?highlight=get_pipeline_id#kfp.Client.get_pipeline_id

I tried to use get_pipeline_id but it fails with the error type object 'Client' has no attribute 'get_pi

[2020-09-28 12:22] Mar-ai commented on #4418
Update:

- indeed, the PV/PVC for this patch need to be created in namespace `kubeflow`
- both PV/PVC need to be created with  `accessModes:    - ReadWriteMany`

[2020-09-28 17:01] xinbinhuang commented on #4553
@Ark-kun  This is currently blocking my current work. Though I can work around it somehow I would like to get this addressed quickly. Do you have a timeline for this to be fixed or if I can help with the upgrades?

[2020-09-28 20:20] Ark-kun commented on #4559
The root cause seems to be https://github.com/kubeflow/pipelines/issues/4409

[2020-09-28 20:28] Ark-kun commented on #4272
Unfortunately I believe that this will require a major compiler rewrite and even some DSL changes.
Currently, ContainerOp does not have a concept of inputs. So each ContainerOp instance of the same component is slightly different that another. Also in the current compiler all generated input names are globally-unique (and as such are different).
Fully solving this issue might require moving to com

[2020-09-28 20:33] Ark-kun commented on #4555
Generally, there are two options:
1) Create graph component from a pipeline A (`create_graph_component_from_pipeline_func`), then load and use that component in pipeline B. With the current compiler the result would be that A will be inlined into B. This can be done now.
2) Create a component that launches a particular KFP pipeline and use that component in pipeline B. Such component does not exis

[2020-09-28 21:01] alexlatchford opened #4562 "Empty pipeline parameters are passed as empty strings instead of ignored"
### What steps did you take:

1. Create a pipeline using to the `func_to_container_op` and have it accept a `str` pipeline parameter with no default argument (ie. it is positional argument from a python perspective).
1. Then create a run using that compiled pipeline from the UI leaving the field blank.

### What happened:

1. The run executes with `''` passed as the value for the input.

### What

[2020-09-29 02:49] Ark-kun commented on #4556
Hello. Thank you for your report.
This is a known issue. Metadata Writer correctly records the artifacts arguments, but does not record parameter arguments.
This issue affects not just Metadata Writer, but the rest of the KFP UX: The UX does not show all input parameters and when it does, the names are mangled.

The root cause of the issue is the fact that ContainerOp does not have concept of an i

[2020-09-29 03:02] Ark-kun commented on #4562
Can you please elaborate on this. This sentence seems to mix information about pipeline and component definitions.

I think this is by design.

* It's invalid to not provide an argument for a non-optional input

"leaving the field blank" is indistinguishable form an empty string. Empty string is a valid string value.

It does not seem feasible to add a feature in the UX to stop passing some argume

[2020-09-29 03:53] #4514 closed

[2020-09-29 09:04] connorlwilkes commented on #4356
Hi, just a few findings from my end when deploying with cloudsql and GCS. Firstly context, I am deploying using the following custom 'stack' on 1.16 GKE with Istio 1.5.10:

[code]

I am facing 2 issues:

1. I am getting the following error in the API server: client_manager.go:353] Failed to check if Minio bucket exists. Error: Access Denied. I am able to port forward across the Minio service norma

[2020-09-29 09:24] Bobgy commented on #3667
Sounds like a good idea, I'll take a look if that's feasible.

[2020-09-29 09:28] Bobgy commented on #4440
@yanniszark note, KFP api server does not expose configuration today to disable its authz, so it's not enough just disabling istio RBAC completely.

[2020-09-29 09:35] Bobgy commented on #2578
/lifecycle frozen

[2020-09-29 09:53] Bobgy commented on #4553
Will the upgrade need upgrading argo client? If not, I think you can try upgrading the argo installation in your own cluster and see if it fixes the problem.

[2020-09-29 09:55] Bobgy commented on #4553
Upgrading the client is a lot harder, there's some go module dependencies issue to fix. There's an ongoing PR working on this, you may help there: https://github.com/kubeflow/pipelines/pull/4498.

[2020-09-29 10:08] Bobgy commented on #4556
/hold
we should wait for https://github.com/kubeflow/pipelines/pull/4563 to be merged first

[2020-09-29 10:15] Bobgy commented on #4559
That's right, the feature hasn't been released in 1.0.1.
@Ark-kun is there a way we can configure https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html?highlight=get_pipeline_id#kfp.Client.get_pipeline_id to show content for KFP 1.0.1?

In the meantime, we should try to release KFP 1.1 ASAP.

[2020-09-29 10:16] Bobgy commented on #4409
I agree we spent significant time stabilizing KFP 1.0, we should target a KFP 1.1 ASAP.

[2020-09-29 10:19] Bobgy commented on #4409
A different problem is, how can we ensure the docs correspond to latest released SDK, instead of master branch? We shouldn't incorrectly let people find unreleased features.

[2020-09-29 10:19] Bobgy opened #4565 "[Release] Kubeflow Pipelines 1.2 umbrella tracker"
/assign @Bobgy @Ark-kun
This should temporarily resolve issues like https://github.com/kubeflow/pipelines/issues/4409.

TODOs:
* [x] p0 fix master branch post submit test failure https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1320555010165051392

[2020-09-29 10:24] Bobgy commented on #4565
We should probably finish https://github.com/kubeflow/pipelines/issues/4540 first

[2020-09-29 11:13] Bobgy commented on #3938
/frozen

[2020-09-29 11:24] Bobgy commented on #3888
/reopen
Sorry, I didn't quite follow the explanantion.
for example

Can you rephrase in terms of, what happened and what is expected?

[2020-09-29 11:25] Bobgy commented on #1961
/frozen

[2020-09-29 11:28] Bobgy commented on #3820
Think about this in terms of MLMD, will the execution have a ref to previous execution. If that's possible, it could enable a lot of UX fixes

[2020-09-29 11:28] Bobgy commented on #448
/frozen
this seems very useful

[2020-09-29 11:29] #3362 closed

[2020-09-29 11:30] Bobgy commented on #2159
/lifecycle frozen

[2020-09-29 11:30] Bobgy commented on #182
/frozen

[2020-09-29 11:34] Bobgy commented on #4542
That's right, https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp.Client.upload_pipeline_version shows master branch, but we released from `release-1.0` branch. The method did get into 1.0 release

[2020-09-29 11:36] Bobgy commented on #4541
@akartsky Can you give me a label name you prefer?
I can help you add it.

[2020-09-29 11:38] Bobgy commented on #4541
Actually, suggest following guidelines in https://github.com/kubeflow/testing/tree/master/label_sync.
You can submit a PR to add it

[2020-09-29 11:38] Bobgy commented on #4096
/frozen

[2020-09-29 12:21] #4522 closed

[2020-09-29 14:50] lukemarsden commented on #4440
The following config is (finally) working for me. Note that my use case isn't for notebooks, but rather an in-cluster `kfp` client, so switching the `listenerType` from `GATEWAY` to `SIDECAR_INBOUND` was necessary so that you got the header added on in-cluster traffic as well.

[code]

[2020-09-29 14:59] connorlwilkes commented on #4399
I am also facing this issue

[2020-09-29 15:54] xinbinhuang commented on #4553
It seems like the KFP images only include additional licenses on top of the original Argo images.
Are there any other changes that I need to be aware of?

If there are only additional lincenses, I can switch the image to the official argo images to see if it works.

[2020-09-30 03:04] sudivate opened #4569 "KFP sdk client authentication error"
/kind bug

**What steps did you take and what happened:**
Enabled authentication with Azure AD on AKS and installing Kubeflow with `kfctl_istio_dex.v1.1.0.yaml`  but skipping the dex from the manifest as Azure AD is an OIDC provider.  The load balancer is exposed over https with TLS 1.3 self-signed cert.

**OIDC Auth Service Configuration:**
 - client_id=XXXX
  - oidc_provider=https://login.micros

[2020-09-30 03:36] #3991 closed

[2020-09-30 03:36] #1763 closed

[2020-09-30 03:36] #3279 closed

[2020-09-30 03:36] #3313 closed

[2020-09-30 04:49] Bobgy commented on #4569
Can you give an example of how you'd expect to send an API request to your endpoint using e.g. `requests` library. I think we can work from there and see how we can integrate that option with KFP client

[2020-09-30 04:51] Bobgy commented on #2356
/frozen

[2020-09-30 04:52] Bobgy commented on #3763
/frozen

[2020-09-30 04:57] Bobgy commented on #4553
Yes, it's just additional licenses. You can just switch to official argo images.

[2020-09-30 05:03] Bobgy commented on #4418
To clarify, this feature will be released in KFP 1.1 (not yet released), not Kubeflow 1.1.
Kubeflow 1.1 comes with KFP 1.0

[2020-09-30 05:05] Bobgy commented on #1786
/frozen

[2020-09-30 05:38] Bobgy commented on #793
/frozen

[2020-09-30 05:39] #4069 closed

[2020-09-30 05:41] Bobgy commented on #4494
Right now, KFP will create argo workflows that always explicitly disable istio sidecar.
and we wait for upstream progress

[2020-09-30 05:52] Bobgy commented on #4469
Can you give your output for `kubectl get pod -n kubeflow`?

[2020-09-30 06:01] Bobgy commented on #2416
/reopen
If real time metrics are required, but KFP cannot currently support it.
Will you consider building your own server that collects real time metrics?
What's missing there that blocks satisfying your users?

[2020-09-30 06:08] Bobgy commented on #1438
/frozen
/reopen

[2020-09-30 06:13] Bobgy commented on #4555
You can use https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp.Client.wait_for_run_completion to watch a pipeline's status from a pipeline component.

[2020-09-30 06:15] Bobgy commented on #3590
/frozen

[2020-09-30 06:15] Bobgy commented on #3590
/reopen

[2020-09-30 10:04] alfsuse opened #4571 "[PROPOSAL] Kubeflow Orchestrator Engine"
I and @Gsantomaggio are working on a new idea that we will release in a couple of weeks as an opensource project.
The project aims to solve the pain of deploy pipelines on multiple environments without having to manually upload and executed the runs every time. It fully leverages KFP under the hoods and is the main goal is to try to remove the inevitable friction of Data scientists forced to learn

[2020-09-30 11:54] RunOrVeith opened #4572 "func_to_container_op can not handle dynamic docker image (unlike dsl.ContainerOp)"
### What steps did you take:
Over the last year(ish) I have written a lot of infrastructure code around kfp, which is relying on directly creating `dsl.ContainerOps`. Things like taking care of resolving imports, generating command line parsers etc.
Now, about 80% of the functionality is available natively inside kfp and I am trying to migrate my code since I am reading everywhere that this is not

[2020-09-30 12:14] Mar-ai commented on #4418
thanks for the clarification @Bobgy! Could you perhaps give an estimate on the release date of KFP 1.1.?
And in the meantime, would it be possible to use something like a KFP1.1-alpha-version?

[2020-09-30 14:47] julioyildo opened #4573 "As a user, I want to be alerted by e-mail in case of a pipeline or component failure!"
Hi,

Sorry I'm  new on Kubeflow. I'm currently looking for a way to be notified by e-mail when a pipeline or a component has failed.
I have read the documentation but haven't seen any information about it.

Could someone help me ?

Thank you !  🙏

[2020-09-30 16:58] parthmishra commented on #4573
You can use [dsl.ExitHandler()](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.ExitHandler) to set up an email alert when the pipeline fails.

[2020-09-30 17:14] parthmishra commented on #4572
Not sure if this would work but perhaps you can try converting your lightweight components to reusable by outputting the component YAML (`func_to_container_op(output_component_file=...)` or `func_to_component_text`) and then in the pipeline, create a container op from the component YAML and modify the `image` based on your image factory output.

[2020-09-30 18:16] eedorenko commented on #4446
@Ark-kun thanks a lot for the detailed answer. I think it will do and work in my use-cases.

[2020-09-30 18:16] #4446 closed

[2020-09-30 20:44] boarder7395 commented on #4506
So in continuing to work on this I am wondering if we should use the pipeline_conf to change the ttl_seconds_after_finished this may clean up the pod as soon as it completes making the volume cleanup happen as expected.
[code]

[2020-09-30 20:48] boarder7395 opened #4574 "inputPath data passing with large (100+GB) datasets"
In the best practices the recommended workflow is each component of the pipeline is self-contained and data is passed through usage of inputPath and outputPath. If external data needs to be pulled then a component should be created that only downloads the data. This is shown in the simple pipeline below:
<img width="424" alt="Screen Shot 2020-09-29 at 9 29 11 AM" src="https://user-images.githubuse

[2020-09-30 20:51] eterna2 commented on #4326
Hey @nakfour

I am trying to setup kubeflow in our openshift cluster too. I would n't mind helping out too.

Would be cool if u can tag me also for any openshift related issue too? (So I can watch out for it as I am still at a very early stage of getting kf to work on our cluster).

[2020-09-30 22:51] Ark-kun commented on #4326
I was interested whether the whole Argo works (e.g. whether the artifact and parameter passing examples work). Data passing is a core Argo feature that distinguishes it from many other orchestrators.

We're somewhat discouraging volumes due to them often making components non-reusable (make them depend on the cluster state). Also, volumes a global (like global variables) which makes components les

[2020-10-01 00:19] eedorenko commented on #4079
@Bobgy
The implementation (first version) of this idea is here https://github.com/kaizentm/kfp-event-handler

[2020-10-01 01:11] nrchakradhar commented on #4573
You may also be interested in #4079

[2020-10-01 02:06] sudivate commented on #4569
When I try to consume REST API directly using a Bearer access token generated with grant-type client credentials it still redirects to the authorization endpoint forcing iterative login.

`url=r'https://host/pipeline/apis/v1beta1/pipelines'
header = {'Authorization': 'Bearer ' + token}
response = requests.get(url,headers=header,verify=False)`

The above code redirects to the authorization endpoint

[2020-10-01 12:02] connorlwilkes opened #4576 "When creating a new Profile and namespace with a ResourceQuotaSpec bootstrapped ml-pipeline-ui-artifact and ml-pipeline-visulisationserver fail due to failed quota"
### What steps did you take:
[A clear and concise description of what the bug is.]

If you create a new Profile with a namespace that has a ResourceQuota attached to it when the namespace is created and is populated with ml-pipeline-ui-artifact and ml-pipeline-visulisationserver replicasets are stuck in Error because they fail quota checks befcause they don't specify cpu/memory

### What happened:

[2020-10-01 13:31] nakfour commented on #4326
@Ark-kun wanted to see if there us any update on this issue? Thanks

[2020-10-01 15:33] Udiknedormin commented on #4543
@Ark-kun

Keyword-only arguments can have default arguments without reordering them (as they have no order, by definition). It's very useful for generated functions. Of course one could reorder the arguments so that it will be "legal" for them to have default values, but that's very misleading when calling them:

[code]

Sorry for late reply.

[2020-10-01 19:07] eedorenko commented on #4573
And in this https://github.com/kaizentm/kubemlops/pull/87/files

[2020-10-01 19:26] shaikmanu797 commented on #4540
@Bobgy, would you be able to include this https://github.com/kubeflow/pipelines/pull/4566 as part of 1.0.2 release?
We need this feature for our use case to upload kubeflow pipeline versions over CI/CD.

[2020-10-01 19:29] boarder7395 commented on #4574
@Ark-kun Adding you on this because looks like you built out the experimental feature for data passing with a volume

Some Updates from today's work:
It looks using volumes to pass data is the correct method for my workflow.
54a596a#diff-19db57446e9b12ad2beb5df35a5094eb

Although there are several bugs that prevent that experimental feature from working:

1. kfp.dsl.data_passing_methods is not imp

[2020-10-01 20:24] jackwhelpton commented on #3955
/reopen

[2020-10-02 05:44] eterna2 commented on #4574
Should not be a problem to upgrade ur Argo. If u look at the manifest for this repo (instead of kubeflow/manifest) it is on Argo 2.7.5.

[2020-10-02 06:02] #4081 closed

[2020-10-02 06:02] #2448 closed

[2020-10-02 06:41] sudivate commented on #4569
@Bobgy  OIDC auth service supports **only** Authorization code flow which is mostly used in browser-based interactive login. In order to consume client SDK, we will have to enable client credential flow on the auth service. This will allow non-interacitve login and enable programmatic access to all API.

[2020-10-02 09:26] Ark-kun commented on #4572
JFYI, from my perspective, Lightweight  python components are [a subset of] reusable components. `func_to_container_op` just generates command-line program and `ComponentSpec` from a function. That `ComponentSpec` is then loaded (and can also be saved to file).

[2020-10-02 09:32] Ark-kun commented on #4572
Container image names being static in components is kind of by design.

Container image is expected to be the heart of the component. In some sense, `component.yaml` describes a particular container image (a command-line program inside it).

Can you please describe a bigger scenario why you need dynamic container images?

There are two common workarounds:

* Use image name with a tag and just chan

[2020-10-02 10:17] Ark-kun commented on #497
Good news everyone.
I've created the "Run notebook using papermill" component.
You give it a notebook, parameter values (optional) and, optionally, arbitrary input data (like dataset or a directory with files). The component runs the notebook and outputs the executed notebook and an optional directory with any additional output data .

Please check the sample pipeline: https://github.com/kubeflow/

[2020-10-02 11:39] Jalmeida1994 opened #4579 "Missing rate limiting"
### What steps did you take:
I used CodeQL scanning action to test the tool and found some security issues, don't know if somebody cares.

### What happened:
[code]

`frontend/mock-backend/mock-api-middleware.ts - line 590 - app.get('/k8s/pod/logs', (req, res) => {`
_This route handler performs a file system access , but is not rate-limited._

/kind bug
/area frontend

[2020-10-02 11:41] Jalmeida1994 commented on #4579
I'm sorry it's my first issue, I was just testing the Code Scanning tool and saw this vulnerability. I thought somebody should know.

[2020-10-02 12:36] RunOrVeith commented on #4572
I am currently working on automating retraining and redeployment into our product for multiple dynamically created ML models.
We generate the annotations etc. ourselves, so the structure of the pipeline is global and I can reuse the same pipeline for every model if I can pass the docker image containing the actual model that can change.

I realize that I can create a new pipeline for each model, b

[2020-10-02 16:10] elikatsis commented on #4326
Hi @nakfour, this issue had totally slipped from me!

If your only problem using `VolumeOp`s is the outputs, then you can disable them in your DSL code as follows:
[code]
If this helps you, we could implement an argument in the constructor to disable outputs and all that should be required will be:
[code]

Creating resources as part of the pipeline is essential to ML and there are components and s

[2020-10-02 16:42] xinbinhuang commented on #4553
@Bobgy I tried to update the Argo image to v2.11.1, but now I get this error from the workflow-controller repeatedly, and new pipeline runs seem to get into an infinite loop with unknown status. Any ideas?
[code]

[2020-10-02 17:08] amygdala commented on #3051
/reopen

Has this been addressed?

[2020-10-02 17:31] xinbinhuang commented on #4553
Solved: adding `--namespaced` to the `workflow-controller` args

[2020-10-02 17:37] xinbinhuang commented on #4553
@Bobgy  There are some changes needed to be made to use the latest version of Argo `workflow-controller`, and I can create a PR for that. I wonder if it needs to be updated after the cli client is merged?

[2020-10-03 06:32] Ark-kun commented on #4572
Quick workaround: After you've instantiated a component, you can change the image to something, including a reference to output of some task.
[code]

[2020-10-03 14:56] #4093 closed

[2020-10-03 21:58] Ark-kun commented on #4579
I think the issue it has discovered is in the frontend test code - in the mock backend.

[2020-10-04 07:40] #4097 closed

[2020-10-04 17:37] jackwhelpton opened #4580 "Setting billing project for the KFP GCP components"
Is there a standard way to do this? In particular, I'm using the [gcp/dataproc/submit_hadoop_job](https://raw.githubusercontent.com/kubeflow/pipelines/1.0.1/components/gcp/dataproc/submit_hadoop_job/component.yaml) component and am attempting to pull the Hadoop JAR to execute from a GCS bucket that has Requester Pays enabled.

In addition to the ability to control this, it would be great if the GC

[2020-10-05 11:27] Udiknedormin commented on #4555
@Ark-kun
Ad 1, creating graph component --- I think it doesn't support many features available in pipelines, correct? Component yaml format only contains conditions (although that feature didn't work the last time I checked),  but not e.g. `ParallelFor` equivalent? Or did I miss something?

[2020-10-05 11:38] DavidSpek commented on #4423
@sabarikannan-ai This issue seems to be more relevant for https://github.com/kubeflow-kale/kale. Kale does not have support for R at the moment as it needs to parse the code for pipeline metrics, pipeline parameters and to understand its data dependencies. I am currently looking into [rpy2](https://pypi.org/project/rpy2/) which might be a way to use R with Kale (I have not gotten around to trying

[2020-10-05 11:56] radhakrishnang opened #4581 "Kubeflow pipeline - botocore.exceptions.ClientError:"
i have set up kubeflow 1.1  i am trying out https://github.com/kubeflow/pipelines/tree/master/samples/contrib/aws-samples/simple_train_pipeline
i am getting below error
    Bucket=bucket, Key=key, **extra_args)
  File "/usr/local/lib/python3.6/dist-packages/botocore/client.py", line 316, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/usr/local/lib/python3.6/dist-packa

[2020-10-05 17:01] aaltay commented on #2601
Friendly ping to keep this open.

Dataflow will support only python3 before the end of the year (very likely starting in October). Beam also EOLed its py2 support and newer Beam versions starting 2.25.0 will be supporting python3 only.

My suggestion is to change:

return (['python2', '-u', python_file_path] +
        dataflow_args + args)

to use `python3` instead of `python2`. I can make this ch

[2020-10-05 17:47] RedbackThomson commented on #4581
It seems from the screenshot you have attached that the user credentials you have provided this notebook do not have the correct permissions to upload to S3. Double check that you have exported the environment variables required to use the AWS command line tools ([see this doc](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html)). If that still doesn't work, double check y

[2020-10-05 18:34] brt-timseries commented on #4170
The hack workaround is appreciated. I think there should be an option to cull the metadata->annotations->component_spec in the kfp dsl.

[2020-10-05 20:54] Ark-kun opened #4584 "SDK - Drop support for Python 3.5"
Python 3.5 has reached EoL: https://www.python.org/downloads/release/python-3510/#:~:text=Python%203.5%20will%20reach%20its,release%20of%20the%203.5%20series.

We're going to stop supporting Python 3.5 soon.

Please feel free to comment or vote on this issue.

[2020-10-06 01:52] aaltay commented on #2601
I started https://github.com/kubeflow/pipelines/pull/4583 to fix this. It only changes "python2" to "python" to allow a user to choose their default python version whether it is py2 or py3. I need some action from the repo owners to run tests on the PR.

[2020-10-06 07:53] mosyang commented on #4440
@lukemarsden  Great thanks to your comments!  This works for me.
In our case, we don't want any auth or RBAC with kfctl_k8s_istio.v1.1.0.yaml deployment.  All team members can freely run kfp.Client() to share DGX resource.

[2020-10-06 08:55] Helvind opened #4588 "Too many pending pipeline runs overloads the k8s API making it un-responsive"
### What steps did you take:
Running around 100 concurrent pipeline runs of a TFX pipeline with 6 steps.

Pipelines are started from a local notebook using the kfp SDK, using `kfp.Client().run_pipelines()`. All steps has explicit resource reqs and limits set by `ContainerOp.set_cpu_limit()` etc.

### What happened:
If the Kubeflow cluster is scaled very low, because of a break in use and the autos

[2020-10-06 12:11] jlewi commented on #4541
@Bobgy I'm not sure label_sync is applied to kubeflow/pipelines I think we might be excluding that repo from the sync. I think originally the pipelines repo owners didn't want the sync because it would have created a bunch of labels related to the other projects and not pipelines to the repo.
I think there might be a way to sync different labels to different repos now.

[2020-10-06 15:58] Udiknedormin commented on #4584
@Ark-kun Dropping support for Python 3.5 enables declaring class fields with type hint, which enables using data classes. Data classes have lots of properties that are now implemented by custom classes in kubeflow-pipelines. Some of them include:

* `repr` and `str` implementation
* equality and hash implementations
* immutability (`frozen=True`) and creating a modified instance (`.replace(...)`)

[2020-10-06 18:19] joeliedtke opened #4589 "Docs: Update base_image wording for create_component_from_func"
The SDK docs for create_component_from_func specify the following:

base_image – Optional. Specify a custom Docker container image to use in the component. For lightweight components, the image needs to have python 3.5+. Default is the python image corresponding to the current python environment.

I think that the phrase "current Python environment" is confusing. From the reader's perspective, I t

[2020-10-06 22:48] Ark-kun commented on #4584
I totally agree. When I was creating the structure classes and ModelBase I really wished I could use dataclasses.  Having dataclasses probably won't eliminate the Modelbase or even simplify it much, but the structure classes themselves will become more IDE-friendly.
`data classes-json` might eventually provide a replacement for ModelBase (although we need to check whether it properly supports `typ

[2020-10-06 22:50] Ark-kun commented on #4588
@jlewi I think this issue might be relevant to the idea of the CRD-based pipelines API.

[2020-10-06 22:53] Ark-kun commented on #4589
This is indeed an issue.
I have a plan to make the default image version the same as the current running python version, but it's not finished yet.
So, the documentation here is "ahead of its time".
I'll either fix the documentation (to say that the default is python:3.7) or implement the image selection based on the current python environment.

[2020-10-07 05:17] #4113 closed

[2020-10-07 07:12] subodh101 commented on #4114
Why is that I am getting the same error?
Using:

[code]

tried `1.0.1`, didn't see the change.

[2020-10-07 07:19] thomas-mueller opened #4591 "Access Pipeline Steps via SDK (mainly to get the logs, maybe also for outputs)"
Is there a way to access pipeline steps via the kubeflow pipelines SDK? The main reason for my question is that I am looking for a way to access logs (for debugging) in case the Kubeflow Central Dashboard only shows No graph to show when clicking on a run of an experiment. I find experiments/runs via the SDK, but it looks like there is no way further to get to the steps of the pipeline.

[2020-10-07 08:34] #2601 closed

[2020-10-07 10:07] DvirDukhan opened #4592 "TFX custom component - ModuleNotFoundError"
Hi
I'm trying to execute a modification of the TFX `Chicago taxi` pipeline example, with GKE Kubeflow pipelines (https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines).
I have written a custom component (https://github.com/DvirDukhan/redis_example_gen) in order to replace the `CsvExampleGen` in the original example, with an example generator that extracts data from Redis.
My pip

[2020-10-07 10:15] DvirDukhan commented on #4592
pipeline.py
[code]

kubeflow_dag_runner.py
[code]

[2020-10-07 23:04] Ark-kun commented on #4592
The python code in the image cannot find the `redis_component` module.
To debug, try the following:

[code]

[2020-10-07 23:05] Ark-kun commented on #4591
You can check
[code]
or
[code]

[2020-10-08 01:23] whillas commented on #4170
We're hitting the problem in kubeflow 1.0. The amount of data coming into the system is variable and so the DAG grows with it. Where do we partition to get this changed? Can Kubeflow partition a large YAML and forward it piecemeal to argo/k8s?

[2020-10-08 13:09] Udiknedormin commented on #4584
@Ark-kun I think I saw it having support for Union, although it was a little buggy for deserialisation (serialisation works just fine), e.g. `Union[str, int]` works, but `Union[some_other_dataclass, yet_another_data_class]` does not (or so it seems based on the example I used).

And even without dataclasses-json, dataclasses may replace `NamedTuple`s, as these are used in many places for no good r

[2020-10-08 13:46] jlewi commented on #4588
@Ark-kun What do you think is causing master unavailability and how is that relevant to CRD-based pipelines API?

[2020-10-08 14:02] zsaladin commented on #4326
In my case I need the `outputs.parameters`.
Because other containers depend on the pvc name.

So I changed my codes.

#### Old Codes
[code]

#### New Codes
[code]

The name of pvc consists of `workflow.name` and `volume.name`.
This one works.

[2020-10-08 19:34] DvirDukhan commented on #4592
@Ark-kun Thanks for the reply
That is exactly the issue.
[code]
Is this have to do with the TFX image used during the pipeline build?
[code]

Should I provide my own custom image based upon `gcr.io/cloud-ml-pipelines-test/tfx-kubeflow` with my custom component installed?

[2020-10-08 20:07] maganaluis commented on #4507
@Bobgy
@Ark-kun

I've been doing a bit of research on this, but I don't quite understand the backend workflow. The script below will produce the metrics correctly without any issues, but on more complex workflows this fails, the ml-pipeline API is likely failing to retrieve the metadata too early, for more complex pipelines.

Any thoughts on this? Or best practices? We can provide a PR upstream if

[2020-10-08 22:21] Ark-kun commented on #4592
You component code needs to be in the image you use in your component. For python-class-based components, it probably needs to be in the image that's set as default. For the components created using `create_container_component`, the image can be specified during the component creation.

Also the container code location in the container image matters since it affects python's ability to find the mo

[2020-10-08 22:23] Ark-kun opened #4598 "AI platform integration test is failing"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4593/kubeflow-pipeline-integration-test/1314218420941623296

[2020-10-08 22:24] Ark-kun commented on #4598
Will be fixed by https://github.com/kubeflow/pipelines/pull/4597

[2020-10-08 23:12] #4431 closed

[2020-10-09 01:03] luisquintanilla opened #4599 "[Question] Can containerized pipeline components use languages other than Python?"
I'm taking a look at this guide and one thing that's not clear to me is, if I'm containerizing my application, I should be able to use any languages/dependencies. Therefore, can I use something like C#/Julia/R?

https://www.kubeflow.org/docs/pipelines/sdk/component-development/#writing-a-dockerfile-to-containerize-your-application

[2020-10-09 02:38] maganaluis commented on #4507
@Ark-kun @Bobgy Could you provide some insights on this? I confirmed the issue here, however I don't quite understand the logic behind this.

![Screen Shot 2020-10-08 at 9 35 47 PM](https://user-images.githubusercontent.com/15258405/95535610-87aaa880-09ae-11eb-8c91-a713dd5917e7.png)

[2020-10-09 07:51] adollar opened #4600 "Enrich samples list with AWS examples"
While working with kubeflow pipelines I've noticed a short list of samples.
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/config/sample_config.json

It would be great to extend the existing samples list with some widely used clouds. I propose to enrich existing list with a few new examples for kubeflow pipelines in AWS cloud from here:
https://github.com/kubeflow/pipeline

[2020-10-09 10:49] #4598 closed

[2020-10-09 11:29] Ark-kun commented on #4599
Yes. KFP orchestrates containerized command-line programs (written in any language).

In fact many components in this repo are written using non-python binaries and even shell scripts.
Components are `ComponentSpec` objects that can be serialized to `component.yaml` files for sharing and then loaded in any pipeline.

Check this simple component for example: https://github.com/kubeflow/pipelines/bl

[2020-10-09 11:32] Ark-kun opened #4602 "Make sample tests more flexible regarding sample pipeline locations and names"
Currently all tested samples must have flat structure and the code files must have the same names as the enclosing directories. It would be great to lift these constraints and make it possible to specify the full paths to sample programs/notebooks, so that the samples can be organized.

[2020-10-09 11:45] radcheb commented on #4179
@yoni-taranis Thanks a lot for the hint about `TextDecoder`. I used your solution (with native `Buffer`) and it works.
https://github.com/kubeflow/pipelines/pull/4180/files#diff-93870a1522c3892c5495182d183e2252R371

The PR is now ready https://github.com/kubeflow/pipelines/pull/4180 if you could test it locally it will be great.

[2020-10-09 13:26] wstian commented on #3031
same issue.
In my case, it's because ``minio`` service started with invalid ``/data``. so the `pipeline-apiserver` fail to get pipeline definition.

[2020-10-09 20:50] boarder7395 commented on #4574
@Ark-kun I have implemented a solution using the data_passing_methods as discussed but ran into some issues with artifacts. The MLPipeline UI metadata my component outputs does not show up in the Kubeflow UI. Is there a way to exclude the MLPipeline UI metadata from using the volume used in data_passing_methods?

[2020-10-09 23:29] luisquintanilla commented on #4599
Perfect! That's what I figured but it wasn't clear on the docs page. Thanks for that detailed response @Ark-kun . Follow-up questions:

1. Although the component definition and container image contents can be in any language, the orchestration still has to happen with the Python SDK. Is that right?
2. Where is the docs repo so that I can make this distinction for users who may have a similar quest

[2020-10-09 23:30] n3o-Bhushan commented on #3607
@martfl Were you able to retrieve the Run Metrics eventually?

[2020-10-09 23:31] luisquintanilla commented on #4599
I take it this is the website/docs repo? https://github.com/kubeflow/website

[2020-10-10 00:32] Ark-kun commented on #4599
The SDK compiles the whole pipeline to another orchestrator-specific YAML format and sends it to the backend for the execution. Currently we use the open-source Argo orchestrator which is written in Go.

This is correct. The Pipelines project documentation is hosted within the kubeflow.org website. The KF and KFP projects themselves are somewhat standalone though (although KF commonly deploys KFP)

[2020-10-10 00:37] luisquintanilla commented on #4599
Thanks! :)

[2020-10-10 01:20] rafaelbarreto87 commented on #3236
This continues to be an issue as far as I'm aware. Should we keep it open?

[2020-10-10 03:05] Bobgy commented on #4540
Hi @shaikmanu797, sorry #4566 seems to depend on many changes not on `release-1.0` branch, so cherry picking it there doesn't seem like worth the effort.
We will prioritize releasing KFP 1.1 shortly after 1.0.2 release, so please wait for it.

#4577 looks easy to cherry pick. I'll include it.

[2020-10-10 03:06] #4125 closed

[2020-10-10 03:06] #4073 closed

[2020-10-10 03:22] shaikmanu797 commented on #4540
@Bobgy just created a PR https://github.com/kubeflow/pipelines/pull/4604 to enable short options to the cli subcommands, I feel it would be handy to avoid typing length options on the cli run.

[2020-10-10 03:34] Bobgy commented on #4539
Already cherry picked MLMD 0.22.1 in MKP

[2020-10-10 03:34] #4539 closed

[2020-10-10 04:40] #4013 closed

[2020-10-10 05:17] Bobgy commented on #4531
Thanks Alexey,
also some related readings:
* https://github.com/docker-library/faq#why-does-my-security-scanner-show-that-an-image-has-cves
* https://cloud.google.com/blog/products/containers-kubernetes/exploring-container-security-let-google-do-the-patching-with-new-managed-base-images

[2020-10-10 07:10] #4531 closed

[2020-10-10 09:16] Bobgy commented on #4540
One postsubmit sample test is failing, but it's `secret` test and the problem is with the sample itself: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1314828006656577536#1:build-log.txt%3A4518
rather than with KFP system.

https://github.com/kubeflow/pipelines/blob/2a1ac100a12b8f148a8bb0a61d24f56be2f035ff/samples/core/secret/secret.py#L40
We can

[2020-10-10 09:23] Bobgy commented on #4540
@PatrickXYS Can you verify `1.0.3-rc.1` release?
If all good, I'm going to release `1.0.3`

[2020-10-10 09:49] Bobgy commented on #4129
/reopen
/frozen

[2020-10-10 09:49] Bobgy commented on #4106
/reopen
frozen

[2020-10-10 09:49] Bobgy commented on #4106
/frozen

[2020-10-10 09:50] Bobgy commented on #3931
/reopen
/frozen

[2020-10-10 09:56] Bobgy commented on #3236
sure

/reopen
/frozen

[2020-10-10 13:29] Bobgy commented on #4541
@jlewi @akartsky I see, that's right. I'll create a label for you manually.

[2020-10-10 13:32] Bobgy commented on #4541
/area components/aws/sagemaker

[2020-10-10 13:32] Bobgy commented on #4541
@akartsky does this work for you? Do you propose a different label name?

[2020-10-10 18:07] akartsky commented on #4541
this works
thanks !

[2020-10-10 18:07] #4541 closed

[2020-10-11 01:54] PatrickXYS commented on #4540
@Bobgy Confirmed that everything works fine.

Sent PR to fix some documentation errors. #4609

[2020-10-11 09:16] Bobgy commented on #3332
/frozen

[2020-10-12 00:39] Ark-kun opened #4612 "SDK - Add support for Python 3.9"

[2020-10-12 01:52] rmgogogo commented on #4143
Not on "kubectl authentication", it uses "gcloud" CLI to get the token. We had an email before on it.
It has to be on GKE as it uses inverse proxy which only on GKE. for options for IAP path, defer to Yuan, standalone doesn't support IAP.

https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_auth.py#L40

[2020-10-12 01:52] sm-hawkfish commented on #4327
Hi @Bobgy -- I wanted to follow up on this. I just got approved by my employer to contribute this repo, which is exciting news. I will work on submitting a Pull Request with some variation of the above code snippet sometime this week.

[2020-10-12 02:54] Ark-kun commented on #3711
@Bobgy The logs are already persisted to the storage the same way as other artifacts. AFAIK, @eterna2 added support to show these logs in the UX when the pod is not available, but this option is turned off by default. Maybe you can enable this option?

[2020-10-12 03:02] Ark-kun commented on #4423
BTW, there is not a Papermill component that can run notebooks. But it's for Python.
Is there a similar system that can execute R notebooks? You could contribute a component wrapping it.

[2020-10-12 03:03] Ark-kun commented on #4409
It's pretty easy to add documentation for certain branches.

[2020-10-12 03:32] #4556 closed

[2020-10-12 06:23] DavidSpek commented on #4423
It seems this project is similar to Kale and does have support for R notebooks. https://github.com/elyra-ai/elyra

[2020-10-12 07:02] Bobgy commented on #4540
All good, going to release 1.0.3

[2020-10-12 07:17] Bobgy opened #4616 "SDK reference doc shows master branch content"
A different problem is, how can we ensure the docs correspond to latest released SDK, instead of master branch? We shouldn't incorrectly let people find unreleased features.

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/4409#issuecomment-700609878_

/assign @ark-kun

[2020-10-12 07:18] Bobgy commented on #4616
e.g. https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.server_api.html#kfp_server_api.api.pipeline_upload_service_api.PipelineUploadServiceApi.upload_pipeline_version
this hasn't been released yet

[2020-10-12 07:19] Bobgy commented on #4616
I'd prefer configuring readthedocs to allow choosing each previous released versions, so that users with old sdks can also use it as a reference.

[2020-10-12 07:20] Bobgy commented on #4616
also
/assign @numerology @chensun

[2020-10-12 07:53] Bobgy opened #4617 "[Documentation] Pipelines quickstart page outdated"
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/

A few problems:
1. KFP should be stable instead of beta now.
2. Listed pipeline samples no longer exist, we should use data passing pipeline as the first sample and adjust xgboost sample's name.
3. The quickstart page does take multiple KFP installation methods into consideration.

/assign @joeliedtke

[2020-10-12 07:53] alfsuse commented on #4571
Thanks for all feedbacks ..! Closing this issue and review responses

[2020-10-12 07:53] #4571 closed

[2020-10-12 07:53] Bobgy commented on #4324
* [ ]
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/ https://github.com/kubeflow/pipelines/issues/4617

[2020-10-12 08:00] tidylobster opened #4618 "Add s3fs dependency for visualization server"
Hi!
At the moment there's a possibility to create custom visualizations using Visualization Creator from the UI. All you need to do is to select the type of visualization you want, specify a source file with the data and optional arguments. The source file must be placed on GCS beforehand. Looking into the [code](https://github.com/kubeflow/pipelines/blob/335323353fc7bf50d0573b82b49fdd24e0e6188a/b

[2020-10-12 09:04] Ark-kun commented on #4616
Do we really need separate documentation for both 1.0.0 and 1.0.3? Maybe the `release-1.0` branch? The `stable` docs point to 1.0.3 BTW.

[2020-10-12 09:28] majorinche opened #4620 "sample(contrib/e2e-mnist): header rule not supported by RBAC network filter"
kubeflow version: kfctl_k8s_istio.v1.1.0
istio versino:1.3.1 (installed along with kubeflow)
kubernetes version: 1.17.9 (installed in bare metal)

we try to test an example from: https://github.com/kubeflow/pipelines/tree/master/samples/contrib/e2e-mnist
this example pipeline has mainly three steps, including katib, train and inference

the pipeline has already finished "katib" process, but just s

[2020-10-12 09:30] Bobgy commented on #4616
Good point! I guess that's not necessary.
A version for each release branch sounds reasonable.

Great! Is it possible changing stable docs as the default for readthedocs?

[2020-10-12 09:35] Ark-kun commented on #4616
Done.
BTW, check the version switch in the lower left corner.

[2020-10-12 09:38] Ark-kun commented on #4616
Switched the default docs version to "stable" which corresponds to the latest release tag. Currently that's 1.0.3

[2020-10-12 09:38] #4616 closed

[2020-10-12 09:40] Bobgy commented on #4616
@Ark-kun Thank you! Looks great!

Can you inform me how we can configure this? Can we include it in some README.md in this repo, so others know what to do next time?

[2020-10-12 09:41] Ark-kun commented on #4616
Hmm. That method seems to be available even in 1.0.0:
https://github.com/kubeflow/pipelines/blob/1.0.0/backend/api/python_http_client/kfp_server_api/api/pipeline_upload_service_api.py#L193

[2020-10-12 09:41] Bobgy commented on #4620
@hougangliu Can you help for the sample you contributed?

[2020-10-12 09:42] Ark-kun commented on #4616
You need to log in to the RTFD website using the kubeflow-pipelines account using the credentials from the internal Google key store. Then you can activate arbitrary branches and change which is the default one.

[2020-10-12 09:44] Bobgy commented on #4327
@sm-hawkfish That's awesome!

[2020-10-12 09:45] Bobgy commented on #4618
I'd rather suggest using script like https://github.com/kubeflow/pipelines/issues/4327#issuecomment-687255001 to download the dataset you want and use your own jupyter notebook for visualization.

So far we've found visualization server's package management isn't really sth that can scale, visualization server will be deprecated in the future.

[2020-10-12 09:58] Bobgy commented on #3711
@Ark-kun this bug: https://github.com/kubeflow/pipelines/issues/3711#issuecomment-666877126 must be fixed before logs can be reused from archive.

[2020-10-12 10:00] Bobgy commented on #4143
We have public documentation on how to connect now: https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment.

[2020-10-12 10:00] #4143 closed

[2020-10-12 10:00] Ark-kun commented on #4612
Fixed by https://github.com/kubeflow/pipelines/pull/4613, https://github.com/kubeflow/pipelines/pull/4614

[2020-10-12 10:01] Bobgy commented on #2728
/reopen
/frozen

[2020-10-12 10:02] Bobgy commented on #4197
/frozen

[2020-10-12 10:05] Bobgy commented on #4599
Looks like question answered

[2020-10-12 10:05] #4599 closed

[2020-10-12 10:08] Bobgy commented on #3031
@wstian @valiantljk Can you report your KFP version?

[2020-10-12 10:26] #497 closed

[2020-10-12 20:41] surajkota commented on #4581
/label area/components/aws/sagemaker

[2020-10-13 02:14] Bobgy commented on #4114
@subodh101 do you use full kubeflow 1.1?
There are visualization servers in user namespaces, you should update them instead

[2020-10-13 02:19] subodh101 commented on #4114
@Bobgy Thanks! Yes, you are right. I was able to fix that.
However, there were two problems first one was the image version by default `1.0.0-rc.3` and the second one is https://github.com/kubeflow/website/pull/2265.

[2020-10-13 05:01] Bobgy commented on #4114
Hi @subodh101, the version problem has been fixed in https://github.com/kubeflow/manifests/pull/1488, but it hasn't been released yet.

[2020-10-13 05:26] Bobgy commented on #4581
/area components/aws/sagemaker

[2020-10-13 05:31] Bobgy commented on #4418
@Mar-ai You can see updates on https://github.com/kubeflow/pipelines/issues/4565, it's our next focus after finishing 1.0.3 release.

For deploying KFP on master, you can refer to our test script: https://github.com/kubeflow/pipelines/blob/f445c09f8181b520caf53340aec217ace13290ed/test/deploy-pipeline-lite.sh#L54-L64
There are built test images for each commit in master branch in gcr.io/ml-pipeline

[2020-10-13 05:32] Bobgy commented on #4418
I'll close this issue, and we suggest waiting for KFP 1.1 instead, because master branch isn't as stable as released versions.

[2020-10-13 05:32] #4418 closed

[2020-10-13 05:33] Bobgy commented on #4565
Because we haven't been able to release a minor version for a while, this is our next priority

[2020-10-13 05:37] Bobgy commented on #4506
I'd recommend not do this, because KFP tries to persist workflow status into KFP's db, if the workflow is GCed too quickly, its content might not get persisted yet.

Recommend setting
https://github.com/kubeflow/pipelines/blob/f445c09f8181b520caf53340aec217ace13290ed/backend/Dockerfile.persistenceagent#L21

It will make sure the pipeline is persisted first before GCing it.

You can override it by

[2020-10-13 05:42] Bobgy commented on #4079
Interesting, @eedorenko do you want to present on KFP community meeting?

[2020-10-13 05:48] Bobgy commented on #4576
You can customize the https://github.com/kubeflow/manifests/blob/master/pipeline/installs/multi-user/pipelines-profile-controller/sync.py to decide what additional configs you want with these deployments.

[2020-10-13 05:52] Bobgy commented on #4569
@sudivate I think you can decide how you want to configure Kubeflow endpoint auth for Azure. This isn't a decision KFP needs to make. Once you configured the auth as you like, we welcome contribution to let KFP sdk work with it.

[2020-10-13 05:54] Bobgy commented on #3051
I feel like there's no clear ownership to those components, so it's hard to address this issue.
/assign @numerology @Ark-kun
Any suggestions?

[2020-10-13 05:55] Bobgy commented on #4553
@xinbinhuang You can try if upgrading argo itself solves your problem, if it passes all of our e2e tests, we can get it merged before the cli client.

[2020-10-13 05:59] Bobgy commented on #4588
I've seen KFP users successfully scale to 10000+ runs per day, but I'm not sure how many concurrent runs they are running.
I believe it's too early to conclude CRD is the limitation here. Can we try reproducing a similar scenario and find out why it's breaking down first?

[2020-10-13 06:02] Bobgy commented on #4600
/assign @PatrickXYS
I'd suggest running those samples via KFP SDK.
The cost for maintaining KFP builtin samples is high and we cannot put sth without test coverage there.

[2020-10-13 06:05] Bobgy commented on #3938
/reopen
/frozen

[2020-10-13 06:13] Bobgy commented on #4213
/frozen

[2020-10-13 06:15] Bobgy commented on #4591
Or you can use kfp sdk to get argo status like in https://github.com/kubeflow/pipelines/issues/4327#issuecomment-687255001 and parse the argo workflow status

[2020-10-13 06:16] Bobgy commented on #4591
In the longer term, we want to provide a status representation that's native to KFP, but it will take some time

[2020-10-13 06:18] Bobgy commented on #4579
Right, that's only used for local development, so not a risk.

[2020-10-13 06:18] #4579 closed

[2020-10-13 06:21] Bobgy commented on #4174
Thank you for the report!

[2020-10-13 06:22] Bobgy commented on #4324
* [ ] p0 https://www.kubeflow.org/docs/pipelines/sdk/build-component/ https://github.com/kubeflow/pipelines/issues/4174

[2020-10-13 06:22] Bobgy commented on #4115
Frontend contribution docs: https://github.com/kubeflow/pipelines/tree/master/frontend

[2020-10-13 06:25] rmgogogo commented on #4588
It's one of the reason why I always prefer don't use CRD if not necessary.

@Bobgy your fix on the persistence agent helps mitigate the problem? I remember you fixed one in GC phase which would largely reduce the workload to k8s master.

[2020-10-13 06:27] Bobgy commented on #4588
@rmgogogo based on the description, my fix won't help with this case, because the concurrent workflows haven't finished

[2020-10-13 06:28] Bobgy commented on #4588
@Helvind Can you report what was the size of the cluster you saw this problem?

[2020-10-13 07:38] montenegrodr opened #4624 "Error 401 (Unauthorized)!!1 for run_pipeline()"
### What steps did you take:
Created a kfp_client providing host and existing_token (also tested without the latter).

### What happened:

It runs on k8s, first 5-10 minutes requests are working fine. After some time it starts returning **Error 401 (Unauthorized)!!1** for **run_pipeline()**.

### What did you expect to happen:

Create a pipeline run successfully.

### Environment:
GCP
Kubernetes
K

[2020-10-13 07:56] montenegrodr commented on #4624
`kf_client._refresh_api_client_token()` seems to workaround.

[2020-10-13 08:25] Bobgy commented on #4440
Coming a little late, but let me explain my current thoughts.

First, we don't want to ask users to configure istio for RBAC access, istio configs are really brittle and requires a lot of knowledge to use and debug.
Therefore, my ideal setup is like:
1. KFP api server accepts all traffic
2. KFP api server reads header `X-Forwarded-Client-Cert` injected by istio sidecar: https://stackoverflow.com/a

[2020-10-13 09:00] Helvind commented on #4588
@Bobgy Running a GKE cluster with teo nodepools with n1-standard-1 (1 core, 3,5GB mem) and n1-standard-4 (4 core, 15GB mem) machines. I think the errors above occured, when only 1 of the larger nodes was running, and the smaller scaled to 0.

Just for context, the same cluster is currently scaled to 7 small machines and 5 large, and has run nearly 500 seperate pipeline steps in the last 2 hours, s

[2020-10-13 12:48] jlewi commented on #3931
/lifecycle frozen

@Bobgy FYI I think the command is "/lifecycle"

[2020-10-13 12:54] #4584 closed

[2020-10-13 13:00] Bobgy commented on #4533
/status backlog

[2020-10-13 13:00] Bobgy commented on #4533
/label status/backlog

[2020-10-13 15:10] tidylobster commented on #4600
Can we add tests for AWS samples as well?

[2020-10-13 16:02] Bobgy commented on #4600
I believe we can do that when aws test infra is built.
@PatrickXYS

[2020-10-13 16:13] PatrickXYS commented on #4600
That's correct

[2020-10-13 16:54] yanniszark commented on #4440
@Bobgy yes, what you describe is pretty much how I planned to use Istio mTLS for authentication (via the XFCC header).
As for SubjectAccessReview, we plan on delivering it after Kubecon is over.
We have also refactored the authentication code a bit in order to support multiple auth methods (we call them authenticators). We'll be pushing that upstream as well, together with SubjectAccessReview.
Doe

[2020-10-13 17:50] eedorenko commented on #4079
@Bobgy Yes. Added a demo entry to the agenda.

[2020-10-13 18:03] yhwang commented on #4440
@Bobgy sounds good to me. Let me add some cases here:
- user A creates notebook server which is in namespace A. user A adds user B as collaborator into his namespace A. When user B runs code on the notebook server which resides in namespace A, the XFCC header should be the notebook service account in namespace A (i.e. cluster.local/ns/A/sa/default-editor). In this case, KFP api server can only ver

[2020-10-13 20:45] ca-scribner commented on #497
Tried this out today and it is very handy.  Much simpler than the .sh wrapper I've used.

In the past when I ran notebooks as components I had an output for each relevant file (`model=some_model_file`, `params_consumed=params_consumed.yml`, etc).  I could then pass these to downstream parts of the pipeline (`myStep = create_some_step(model=upstream_step.outputs['model']`).  This was useful to put

[2020-10-13 22:59] Bobgy commented on #4440
@yanniszark I see. I didn't see any explanation how you planned to actually implement this. I am glad it's the same.

[2020-10-13 23:11] Bobgy commented on #4440
Yes, that's right, because user A can also use this notebook server. It should have its own identity.

Istio authz is still enabled, but the KFP manifest will include an istio authz rule to allow any traffic to KFP API server.

Thank you for offering help! @yanniszark are you talking about contributing this implementation after the kubecon in November?

I believe @yanniszark has implemented some o

[2020-10-14 00:21] yhwang commented on #4440
@Bobgy Thanks!

I just wonder if KFP API server needs to know the request is from User A or User B?
For example, User B can access run/experiment in namespace A and B. But User A only can access namespace A.
By using `cluster.local/ns/A/sa/default-editor` from XFCC header, KFP API server won't be able to know which user sending the request but only notebook server. Then we need to provide a mechan

[2020-10-14 00:58] Bobgy commented on #4440
With above design, KFP API Server doesn't need to know. It uses the service account as requester identity. So we won't need SDK method to add kubeflow userid.

[2020-10-14 02:28] yhwang commented on #4440
So the following scenario would fail and we should document it as limitation

**User settings**:
- User A and he owns namespace A
- User B and he owns namespace B
- User A invites User B as collaborator, so User B can also access namespace A
- User B can access run/experiment in namespace A and B. But User A only can access namespace A.

**Scenario**:
When User B runs the code `kfp.Client.create_r

[2020-10-14 06:33] Bobgy commented on #4617
I think we should address 1. first

[2020-10-14 06:49] Bobgy commented on #4440
That's right, and I'd rather consider that as expected behavior.
The scenario is based on the assumption, user A/B didn't authenticate as themselves when using the notebook server, therefore, they should only be able to access what the notebook server's service account can access.

User B will still have the choice to use KFP SDK to connect to cluster public endpoint and use his user credentials f

[2020-10-14 06:56] Bobgy commented on #4440
Another scenario (I guess this is more of what you want to support) is that, we have the same users A and B and namespaces A and B and namespace A is shared to User B.
User B uses a notebook server in namespace B and tries to `kfp.Client.create_run_from_pipeline_func()` for `namespace=A`.
The notebook server in namespace B (despite User B being the owner and namespace A is shared to User B) won't

[2020-10-14 07:17] Bobgy commented on #4624
/assign @rmgogogo

[2020-10-14 07:25] Bobgy commented on #4588
@Helvind for clarification, did you deploy a regional cluster?
Regional clusters have only one api server, so e.g. when cluster scaling, the single api server may have a downtime, because GCP needs to switch to a larger api server which can handle more workload. I suspect that's the cause for api server downtime.

So for production setup, we always recommend regional clusters, even if you only wan

[2020-10-14 07:28] Bobgy commented on #4588
Another potential config we should expose is https://github.com/kubeflow/pipelines/blob/ccc763fb718569a21b95a107ffe5beb023334742/backend/src/agent/persistence/main.go#L86.
The resync period defaults to 30s, all workflows will be re-fetched from k8s api server every 30 seconds. If there are many concurrent workflows in the cluster, we should configure it to a much larger value.

[2020-10-14 07:48] Helvind commented on #4588
@Bobgy

I am currently only in europe-west4-a, so that might be the problem. Will try to spin up a regional cluster

[2020-10-14 10:22] Bobgy opened #4627 "[Cache Deployer] crashloopbackoff in Kubernetes 1.17"
This is blocking KFP 1.0.3 release on GCP marketplace.
https://github.com/kubeflow/pipelines/issues/4540

### What steps did you take:
[A clear and concise description of what the bug is.]
1. Go to https://console.cloud.google.com/marketplace/details/google-cloud-ai-platform/kubeflow-pipelines (in fact, the test solution that's on 1.0.3)
2. Create cluster there (it will use regular channel and get

[2020-10-14 10:22] Bobgy commented on #4627
/assign @Ark-kun

[2020-10-14 10:22] Bobgy commented on #4540
Found a problem on K8s 1.17: https://github.com/kubeflow/pipelines/issues/4627

[2020-10-14 10:22] Bobgy commented on #4627
I'm updating presubmit tests to regular channel to showcase the problem: https://github.com/kubeflow/pipelines/pull/4626

[2020-10-14 16:55] ajinkya933 opened #4628 "dsl-compile not able to take command line arguments"
### What steps did you take:
[A clear and concise description of what the bug is.]

I have following python script
[mnist_REST_API_temp.py](https://github.com/ajinkya933/Kubeflow/blob/master/mnist_REST_API_temp.py)

This script takes ```experiment_name``` as a command line argument . Normally I would run this script as
[code]
where myExperiment1 is my command line argument

But when I run this fil

[2020-10-15 03:44] #4060 closed

[2020-10-15 03:44] #4144 closed

[2020-10-15 03:44] #4148 closed

[2020-10-15 03:44] #4085 closed

[2020-10-15 08:23] #4048 closed

[2020-10-15 08:25] #4173 closed

[2020-10-15 12:39] Udiknedormin commented on #4518
@Ark-kun I can see in _structures.py that: `TypeSpecType = Union[str, Dict, List]`. What was the `List` variant supposed to mean? I assumed it was intended to be union, but your proposal above made me wonder.

[2020-10-15 23:19] #4049 closed

[2020-10-16 05:58] wenmin-wu opened #4629 "run_id get through `RUN_ID_PLACEHOLDER ` different from the run id returned by `client.run_pipeline`"
I created run by calling `client.run_pipeline`, the id returned by this function is `003eeefa-7301-4f1a-a806-26c6255e621d`, however the run_id get through `RUN_ID_PLACEHOLDER` is `<pipeline-name>-qzn7d`. The response of `client.run_pipeline` doesn't contains any information of `<pipeline-name>-qzn7d`. How to map these two?

[2020-10-16 14:27] #4179 closed

[2020-10-17 00:59] Bobgy opened #4630 "test(backend): refactor upload server integration tests"
nit: can we wrap this complex upload steps into a reusable function?
That helps making the test case easier to read.

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/pull/4476#discussion_r505983514_

[2020-10-17 00:59] Bobgy commented on #4630
/cc @NikeNano

[2020-10-17 04:46] NikeNano commented on #4630
/assigne

[2020-10-17 05:14] NikeNano commented on #4630
/assigne

[2020-10-17 05:17] NikeNano commented on #4630
/assign

[2020-10-17 05:42] Ark-kun commented on #4627
This is a bit strange. When I try to create a cluster it uses the Stable channel by default and shows the 1.16.13 version as default.

[2020-10-17 06:52] Ark-kun commented on #4628
Please help me understand your issue.

dsl-compile does not support passing any command-line argument to the pipeline. That's because it's supposed to operate on a passive pipeline function. To compile it, not execute it.

If you want to run pipeline script with argument, you can just use python for that.

I've looked at the code and I'm not sure why it sets the `experiment_name` variable, since i

[2020-10-17 19:57] #4080 closed

[2020-10-17 19:57] #3812 closed

[2020-10-17 22:24] amygdala opened #4635 "KFP SDK: `build_image_from_working_dir()`: include example of getting cluster credentials in notebook"
kfp v. 1.0.3

I'm trying `build_image_from_working_dir()` as per https://github.com/kubeflow/pipelines/blob/master/samples/core/container_build/container_build.ipynb, **from an AI Platform notebook**.
I'm getting the following error.  I haven't dug in but it looks suggestive of expecting to be run on a k8s cluster?

(cc @Ark-kun )

[code]

[2020-10-18 00:31] PatrickXYS commented on #596
/remove-frozen

[2020-10-18 01:05] Bobgy commented on #4635
Yes, it is expected to run with a kubectl config pointing to any k8s cluster.
You can use gcloud to get cluster credentials

[2020-10-18 16:05] amygdala commented on #4635
thanks.  I'll change the title of the issue to doc that in the notebook, since in the standalone/hosted case users will be running from a notebook outside the k8s cluster.

[2020-10-18 16:09] amygdala commented on #4635
(I'd categorize this as a small docs bug rather than a question)

[2020-10-18 19:08] Mar-ai commented on #3951
Please leave this issue open, as this is a feature request

[2020-10-18 23:57] Bobgy commented on #1641
/lifecycle frozen
/reopen

[2020-10-19 02:42] Bobgy commented on #4627
@Ark-kun I think the default version for creating a cluster from MKP is different from GKE UI.
MKP auto creates regular channel from my experimentation.

[2020-10-19 02:50] Bobgy opened #4636 "[Testing] Integration tests for KFP caching"
To find cache deployer/cache server problems earlier (rather than before/after release):
I'd suggest writing an integration test that verifies caching behavior https://github.com/kubeflow/pipelines/tree/master/backend/test/integration

Then we can catch this type of problem next time in presubmit tests directly.
/cc @Ark-kun

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/pu

[2020-10-19 02:51] Bobgy commented on #4636
Adding this to high priority in project health, because we constantly need to manually verify caching feature before release and found it broken a lot of times.

[2020-10-19 02:54] Bobgy commented on #4636
/assign @Ark-kun

[2020-10-19 05:50] Bobgy commented on #4191
/lifecycle frozen

[2020-10-19 05:56] NikeNano opened #4637 "Add endpoint to the API server to provide information about the deployment"
Add endpoint to  KFP API server that exposes cluster specific information: e.g. what is expected mode, single/multi? What is ui_host? etc.

This would be beneficial for the CLI to use better default values, see further discussion: https://github.com/kubeflow/pipelines/pull/4293

[2020-10-19 08:58] Bobgy commented on #4637
/cc @Ark-kun

Thank you for creating the issue!
I think many agree with this idea, next step would be to clearly define what exact info should be exposed and how to configure it.

[2020-10-19 09:59] jizg commented on #4129
@animeshsingh @Tomcli I think I can help on update the codes for this issue. But I may need some guide on how to do the tests for IBM components. Thanks.

[2020-10-19 13:32] linkvt commented on #4347
Looks good since a few weeks, the last blue pod was the upgrade to 1.0.3. TBH we didn't really change anything but IMO it doesn't make sense investigating stuff that seems to work since already quite some time.
![image](https://user-images.githubusercontent.com/3075401/96457480-1f668d00-1220-11eb-996f-ffc732e634a7.png)
Thanks!

[2020-10-19 13:32] #4347 closed

[2020-10-20 01:35] jackwhelpton opened #4642 "ComponentStore auth not available"
### What steps did you take:
Attempted to use the ComponentStore's `auth` property, available in the master branch since Jun 17, 2020 (long before the most recent SDK release):

[code]

### What happened:
```Unexpected keyword argument 'auth' in constructor callpylint(unexpected-keyword-arg)```

### What did you expect to happen:
Code to compile.

### Environment:

How did you deploy Kubeflow Pipe

[2020-10-20 01:35] Bobgy commented on #4565
/cc @Ark-kun
The top blocker is fixing master branch postsubmit tests.

[2020-10-20 01:36] jackwhelpton commented on #4642
Is there a scheduled SDK version where these changes will land? I guess releases aren't being made from `master`?

[2020-10-20 01:51] ichbinjakes commented on #4060
`client = kfp.Client(host='pipelines-api.kubeflow.svc.cluster.local:8888').create_run_from_pipeline_func()`

[This solution worked for me.](https://stackoverflow.com/questions/61240180/getting-error-on-microk8s-with-kubeflow-pipelines-sdk-and-jupyter-notebook)

[2020-10-20 03:18] #4627 closed

[2020-10-20 04:45] Bobgy commented on #4324
GKE docs
* [ ] https://kubeflow.org/docs/gke/cloud-filestore it uses deployment manager, that's not our recommendation now, but it should continue to work.

[2020-10-20 04:53] Bobgy commented on #3821
Duplicate of https://github.com/kubeflow/website/issues/2021

[2020-10-20 05:16] Bobgy opened #4643 "Deprecate python based visualization"
Some problems we are facing with python based visualization (https://www.kubeflow.org/docs/pipelines/sdk/python-based-visualizations/):
* dependency management
    * we can only maintain one version of the python packages and it's a big cost syncing with external packages like tfx
    * we cannot expose ways to let users install their own dependencies or upgrade dependencies
* editor support
    *