[2020-01-22 14:17] Bobgy commented on #1867
The specific usage isn't wrong. We are using promise to get result instead of callback. That's expected.

However, whether the client could distinguish between an object doesn't exist or there is no permission is something I don't know. Needs some investigation on this.

Please let me know if you know more about this.

[2020-01-22 14:25] Bobgy commented on #1610
For changing secrets, it's the same as `use_gcp_secret`. Just edit your deployment and mount your provided GCP credentials and set `GOOGLE_APPLICATION_CREDENTIALS` env.
Or if you use workload identity, it would be easier.

However, multi user support in the UI is something we haven't looked into. Help welcomed in driving a design for this.

[2020-01-22 14:27] Bobgy opened #2899 "Deploy visualization service for each namespace"
A topic brought up in https://github.com/kubeflow/pipelines/issues/1610.

Currently, UI server needs GCP/AWS permissions to visualize artifacts in GCS/S3. We need a design to support permission separation for multiple users sharing a KFP cluster.

[2020-01-22 14:27] Bobgy commented on #2899
This is part of https://github.com/kubeflow/pipelines/issues/1223

[2020-01-22 14:28] Bobgy commented on #1610
I moved the multi user related discussion to https://github.com/kubeflow/pipelines/issues/2899 because it's not very obvious in this title.

/close

[2020-01-22 14:28] #1610 closed

[2020-01-22 14:31] Bobgy commented on #1497
Not very familiar with the long thread here, is there anything left that still needs a solution?

[2020-01-22 14:38] Bobgy commented on #1438
@strangemonad-faire Thanks for the concrete examples. I agree current behavior seems problematic.

Properly defining ideal back arrow behavior needs some design for every valid case. I remember seeing another thread about this that argued against just going a level up.

[2020-01-22 14:41] Bobgy commented on #1414
I think we can adding caching is good enough for now

[2020-01-22 14:46] Bobgy commented on #1362
/close

[2020-01-22 14:47] Bobgy commented on #1363
I think after https://github.com/kubeflow/pipelines/issues/1362 is fixed, there's no need to use kubectl to delete swf.

Supported options to delete swf:
1. use kfp ui
2. use kfp python client

[2020-01-22 14:47] Bobgy commented on #1363
/close

[2020-01-22 14:47] #1363 closed

[2020-01-22 14:51] Bobgy commented on #1359
/close
because this seems fixed
Please reopen if it's still an issue

[2020-01-22 14:51] #1359 closed

[2020-01-22 14:52] Bobgy commented on #1273
@Jeffwan is there any updates on this?

[2020-01-22 14:55] Bobgy commented on #1270
The idea sounds useful to me.

[2020-01-22 15:00] Bobgy commented on #1263
@jingzhang36 I think this is very important.
It's a missing API we need to support in both client and UI.

I'd think "archive" would be most suitable for the case, so that we don't need to actually delete any data.

[2020-01-22 15:00] biggedi commented on #1654
I am still having the issues with Kubeflow built by kfctl 1.0rc1 and this Pipelines Sample https://github.com/kubeflow/pipelines/blob/master/samples/contrib/e2e-mnist/mnist-pipeline.ipynb.

Cluster is Kubernetes 1.15 with containerd engine.

Pods fail with Error:

`  Warning  FailedMount  2s (x5 over 9m10s)        kubelet, worker-1 Unable to mount volumes for pod "end-to-end-pipeline-gbgz8-1815055

[2020-01-22 15:02] Bobgy commented on #1253
This is already resolved in https://github.com/kubeflow/pipelines/pull/2068.
/close

[2020-01-22 15:02] #1253 closed

[2020-01-22 15:04] Bobgy commented on #1218
We can add the UI feature. Contribution welcomed

[2020-01-22 15:06] Bobgy commented on #1205
I have never found this a problem. @Ark-kun do you think it's still sth valuable to consider?

[2020-01-22 15:08] Bobgy commented on #1183
I think this is a subset of https://github.com/kubeflow/pipelines/issues/2621.
/close

[2020-01-22 15:08] #1183 closed

[2020-01-22 15:09] Bobgy commented on #2621
https://github.com/kubeflow/pipelines/issues/1183 gave more context about why this would be useful.

[2020-01-22 15:11] elikatsis commented on #2889
@Ark-kun,
I'm all up for renaming the deployment and the service.
What I don't agree with is changing the values of `METADATA_SERVICE_*` variables.

The `kubelet` creates a set of variables for each service and makes each pod aware of them.

We shouldn't interfere with what K8s does, ignore, or override it. It's definitely not good practice.
So, I suggest we don't change the environment variables.

[2020-01-22 15:11] Bobgy commented on #1040
I don't feel this is really critical either.

/close
Please reopen if this is important to you.

[2020-01-22 15:11] #1040 closed

[2020-01-22 15:13] Bobgy commented on #798
I agree this is a feature we need to rethink over.
I find myself usually confused in a page whether it refreshes or not. Sometimes I have to refresh the whole page to make sure.

[2020-01-22 15:14] Bobgy commented on #789
The feature hasn't been changed for a while, so it's not urgent

[2020-01-22 15:15] Bobgy commented on #774
@jingzhang36 Can you take a look at this?

[2020-01-22 15:16] mattnworb commented on #1867
@Bobgy I might be reading this Typescript code wrong, but it looks like`@google-cloud/storage` doesn't return a `Promise` itself - it has `return fileInstance`. Errors are signalled by invoking the callback parameter, if one is passed. I believe this means that the code invoking this function by using`await` will only get "fulfilled" results, and not rejections (when an error is returned / thrown)

[2020-01-22 15:16] Bobgy commented on #738
/close
I haven't seen this issue.
I think it's already fixed

[2020-01-22 15:16] #738 closed

[2020-01-22 15:22] Bobgy commented on #493
@jingzhang36 Shall we target last chance to rename before 1.0 release?

[2020-01-22 15:25] Bobgy commented on #448
I think the issue and https://github.com/kubeflow/pipelines/issues/2621 are kind of related. This sounds like something useful, but I think we probably need more user signal.

[2020-01-22 15:27] Bobgy commented on #325
/close since no one asks for the redesign

[2020-01-22 15:27] Bobgy commented on #325
/close

[2020-01-22 15:27] #325 closed

[2020-01-22 15:28] Bobgy commented on #256
/close
This has been implemented as top toolbar

[2020-01-22 15:28] #256 closed

[2020-01-22 15:31] Bobgy commented on #249
@jingzhang36 Do you think this is possible with our current backend?

[2020-01-22 15:35] Bobgy commented on #49
Sounds like an important bug to fix.

[2020-01-22 15:41] Bobgy commented on #62
I want to think over a solution carefully.

[2020-01-22 19:48] Ark-kun commented on #2172
I think this remains useful. There is a regression where the users were previously seeing the output values, but now only see the URIs (clickable).

[2020-01-22 19:55] Ark-kun commented on #2889
This won't work with the current kustomize manifests as there is no `METADATA_GRPC_SERVICE_SERVICE`. I'm just the consumer of the existing metadata server deployer. My code uses what's available. Please check the manifest ownership.

I was mostly following the TFX handling of metadata. We can think about using a higher-level MLMD API. Even the MLMD itself now has a nicer higher-level API.

[2020-01-22 19:56] Ark-kun commented on #2888
@numerology @hongye-sun WDYT?

[2020-01-22 20:11] elikatsis commented on #2889
I've seen the manifests, but you (the one who wrote those) assume a standalone installation.
I argue that the manifests should be able to perform both a standalone installation and a KFP upgrade in an existing KF deployment. And, of course, with no extra configuration or the breaking of some other KF component.

These manifests don't enable such thing. If you believe they shouldn't, I feel like it

[2020-01-22 22:53] Ark-kun commented on #2889
Yes. The MW code and deployer manifests are added to the standalone install manifests and that's what they assume.

KF installation is different, uses different versions, different manifests, different tools.
KF 0.7 ships with Pipelines v0.1.31 which does not have MW. That configuration works.https://github.com/kubeflow/manifests/tree/master/pipeline
When KF ships with Pipelines version >0.2, the

[2020-01-22 22:58] Ark-kun commented on #448
That PR is more actionable, since the way to specify the pipeline parameter types already exists (and the information is available to FE).

I agree.

[2020-01-23 01:15] Bobgy commented on #2172
Thanks! Then I bumped to p1 and added to kfp 1.0 plan.

[2020-01-23 04:05] mameshini commented on #1497
Yes it's still unsolved for AWS and on-prem, as far as I know.  Presenting Tensorboard data to end users is a high value user story.  Tensorboard data has to be presented not only after a pipeline step execution is done, but also during the pipeline step execution so that a data scientist can monitor the model training progress.

Let's assume there is a single PVC mounted to all pipeline steps, as

[2020-01-23 07:17] rmgogogo commented on #1998
+Jing. one more step we may also consider versioned pipeline case.
+Sina. FYI.

[2020-01-23 08:06] Bobgy commented on #1867
I wrote a simple script to test the behavior:
[code]

Result:
[code]

We can use different promise rejection error codes to distinguish "Not found" and "No permission", at least at bucket level.

[2020-01-23 08:43] Bobgy commented on #1867
I tried again with per file permission using an account with only object list permission and got the following result:
[code]

Results:
[code]

It seems this code also can distinguish between not exist and no permission.

[2020-01-23 09:00] Bobgy commented on #1867
It's strange, then why does our deployment show there are no matched files when there is actually an error?

I'm investigating

[2020-01-23 09:32] Bobgy commented on #1867
Strange...
I tried ml-pipeline-ui:0.1.40, reproduced the same problem as this issue. When my UI pod has no permission, the error message was 'No files matched'.

However, if I tried ml-pipeline-ui:0.2.0, this is no longer reproduceable. I got a reasonable error message:
[code]

[2020-01-23 09:35] Bobgy commented on #1867
The only change that could have affected this: https://github.com/kubeflow/pipelines/pull/2830

[2020-01-23 09:46] Bobgy commented on #1867
[code]
Verified using my first bucket level test script. It's indeed the node version difference.

/close
So this issue has already been fixed by #2830.

[2020-01-23 09:46] #1867 closed

[2020-01-23 15:37] ajchili commented on #774
@jingzhang36 we should be able to edit https://github.com/kubeflow/pipelines/blob/719f4074be4bffd9ef6b9e200fdf4f2cff837822/backend/src/apiserver/visualization/types/roc_curve.py#L37-L63
to something such as
[code]

This would allow custom 2D line graphs to be created. We can also add support for lambdas should they be necessary.

[2020-01-23 15:43] yoni-taranis commented on #1662
@Ark-kun
I have followed the tutorial of passing larger data, using OutputPath and OutputFile I still recevie the 'This step is in Error state with this message: failed to save outputs: Request entity too large: limit is 3145728'

Is there a way to overcome this?

[2020-01-23 15:57] yoni-taranis opened #2903 "Failed saving large outputs when used with ParallelFor"
**What happened:**
When trying to save large text files and using those outputs as an input for ParallelFor run the pod fails to save the with the error: **This step is in Error state with this message: failed to save outputs: Request entity too large: limit is ....**

**What did you expect to happen:**
Have the ParallelFor parse the text file as JSON array and iterate through it

**What steps did

[2020-01-23 16:04] elikatsis commented on #2889
@dushyanthsc,

I understand you are the original commiter for these manifests ([PR: Switch to gRPC server](https://github.com/kubeflow/pipelines/pull/1973)). I was bitten by the problem of them having diverged from what KF ships, so in the interest of improving ease of use of current KFP with current KF, I'd be willing to commit the relevant changes, if it's OK with you. I understand the required

[2020-01-23 17:29] jlewi commented on #2699
@Ark-kun @jessiezcc @IronPan Ping?

@jobvarkey Could you provide logs from the relevant pods?

[2020-01-23 17:51] dushyanthsc commented on #2889
@elikatsis @Ark-kun @rmgogogo

I am don't have a strong opinion on the name of the deployment(`metadata-deployment` vs `metadata-grpc-deployment`)  and service(`metadata-service` vs `metadata-grpc-service`) here in kubeflow pipelines. There value also needs to change in https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/metadata/metadata-configmap.yaml and whereever it is u

[2020-01-23 18:05] mattnworb commented on #1867
@Bobgy interesting, thanks for digging into this!

[2020-01-23 19:38] rui5i opened #2904 "[FeatureRequest]KFP execution cache"
1. Mutate webhook
- [x] webhook service
- [x] execution_key generator
- [x] pod modification controller
- [x] max_cache_staleness support
2. Mysql
- [x] persist execution_key
3. Releasing
- [x] standalone deployment
- [x] mkp deployment

[2020-01-23 19:38] rui5i commented on #2904
/assign @rui5i

[2020-01-23 19:46] Jeffwan commented on #1273
We have docs to either use `port-forward` or public endpoint to visit Kubeflow UI. I don't know which doc the issuer was talking..  There's no action items from me unless there's clear requirement something is not clear or need updates

[2020-01-23 20:38] parthmishra opened #2905 "[FeatureRequest] Reusable Component Registry"
It would be cool if there was a way to maintain a catalog/registry of reusable components for sharing. I would want to be able to view a component in the UI and see inputs, outputs, description, version, etc. Basically the information in the README for the sample components but perhaps auto-generated in some way from the component definition file. I think the [Terraform public module registry](htt

[2020-01-23 22:06] joeliedtke opened #2906 "Add kfp.cli.diagnose_me to API docs configuration"
kfp.cli.diagnose_me (pipelines/sdk/python/kfp/cli/diagnose_me) is currently not included in the SDK API documentation. It looks like it needs to be added to the configuration at pipelines/docs/source.

[2020-01-23 23:31] kwasi opened #2907 "[MLMD] Integrate LineageView into KFP"
/area metadata
/area front-end
/priority p0
/assign @kwasi
/cc @avdaredevil
/cc @Bobgy

## Notes:

This is tracks the work to integrate the MLMD Lineage View, which is now available in a shared repository into kubeflow/pipelines. I'll add further details in the coming days. I have implemented this in a branch based on a checkpoint from 2020-01-08 in https://github.com/kwasi/pipelines/tree/lineage-

[2020-01-24 01:05] Bobgy commented on #1273
Thanks, then I think we can close, because there are no extra requests for a long time.
/close

[2020-01-24 01:05] #1273 closed

[2020-01-24 01:10] Bobgy commented on #2907
Great work for the bugbash!

Can you summarize how you did the integration? I am on a vacation for 9 days, so I don't have much time to review.

[2020-01-24 14:56] prcastro opened #2908 "Failed to retry run"
**What happened:**

Clicked on the `Retry` button and we got the following error:

[code]

**What did you expect to happen:**

I excepted it to retry the failing Op

**What steps did you take:**
Deployed a failing pipeline and clicked Retry

**Anything else you would like to add:**
Pipelines version 0.2.0, but was happening since version 0.1.37. If you need any other info, please ask.

My feeling

[2020-01-24 20:31] JakeTheWise commented on #2561
Any update on this?

[2020-01-24 21:33] Ark-kun commented on #2889
I agree with Dushyanth.
Case in point: The oncoming change to MetadataWriter will make it incompatible with pre-0.2.0 Frontend versions (it will switch to writing different properties). So there is only a short window when MW is code-compatible with the Pipelines versions shipped in KF0.7.

[2020-01-24 22:29] Ark-kun commented on #2907
Please make sure the Lineage viewer is compatible with the oncoming TFX changes - most artifact properties become custom_properties. Executions might follow suite later.
To prepare for this, the service should check both .properties and .custom_properties and use what's available.

[2020-01-24 22:46] Ark-kun commented on #2903
Unfortunately, this is currently impossible due to the way our underlying orchestrator (Argo) works.
Argo needs to get the data array, split it into items and then create a node for each item.
Argo cannot access the big artifact data that's uploaded to artifact storage, so it needs the pod to output the data as an "output parameter" and those are limited in size.

There is a hacky workaround where

[2020-01-25 08:30] yoni-taranis commented on #2903
@Ark-kun Appreciate the reply!

Right now we have worked around this by limiting the data (ie. passing only the item ids without extra information) - of course I can think of several ways to hack this around but I would like our pipelines code be as straightforward as possible.

The main scenario I am trying to solve is - we have pipelines that should receive as input a set of item ids with some m

[2020-01-25 23:32] JakeTheWise commented on #2561
I tried @sid027's workaround but it gives a `ImagePullBackOff` error on the GPU step. I know kubeflow can pull and run the image because the upstream step uses the same exact image (but runs a different function) and completes successfully.

[2020-01-26 07:43] yoni-taranis opened #2913 "Pipeline Run UI does not load on large data / 1k pods while executing, when done, displays "No graph to show""
**What happened:**
While running a pipeline that contains about 1k pods performing tasks parallelic, the UI does not load after re-loading it from the 1st time entering to the page. It is simply showing the "lodader" icon without stopping.

When the Run finishes, going into it will display "No graph to show" although the pods still exist on the cluster with the Succeeded status.

**What did you ex

[2020-01-26 08:01] yoni-taranis opened #2914 "Array of numbers get corrupted at a certain point when using ParallelFor"
-- Mistake

Closed.

[2020-01-26 09:01] #2914 closed

[2020-01-26 10:58] mvk commented on #2705
hi, @rmgogogo , what does `as replied in b/145802412` mean ?

[2020-01-26 13:38] yoni-taranis opened #2915 "Numbers are passed with scientific notation when sent to ContainerOp in ParallelFor"
**What happened:**
For example:
Input array:
[code]
Would be passed to SomeOp as 1.472953e+06 which would cause standard argparser to fail when expecting int.

**What did you expect to happen:**
The integer should be passed as is.

**What steps did you take:**
Tried different manipulations, the only solution for this seems like passing stringified numbers

**Anything else you would like to add:**

[2020-01-26 23:32] numerology commented on #2705
Hi @mvk sorry it's a link to an internal doc. Anyway, this specific issue is supposed to be transient and GKE related.

[2020-01-27 14:36] yanniszark commented on #1223
@Felihong you are correct, the Pipeline cannot find the PVC because it's not in the same namespace.
Indeed, multi-user Pipelines would solve your issue.

@Bobgy KFAM is not expected to be an abstraction on top of Kubeflow to use for authorization.
We are moving away from that practice in Kubeflow, as can be seen from the transition of the Jupyter Web App to use SubjectAccessReview.
cc @jlewi

At A

[2020-01-27 15:04] elikatsis commented on #2889
@dushyanthsc,

Ok, I understand that.
However, in this specific case, it is a matter of just a few of lines of change and we will have everything defined and used in a uniform way. It is also a matter of source code, not only manifests.
I also understand that two projects may diverge, but let's not diverge just for divergence sake when it is quite simple to make them compatible.

As @Ark-kun said,

[2020-01-27 17:30] animeshsingh commented on #1654
We has opened an issue last year with Argo on PNS executor
https://github.com/argoproj/argo/issues/1256

[2020-01-27 17:32] animeshsingh commented on #1654
@y4roslav what's the issue you are facing CRIO executor?

[2020-01-27 21:32] Ark-kun commented on #1662
Are you just running the unmodified tutorial notebook?

`using OutputPath and OutputFile`
The important part is using `InputPath`. The passing method depends on the way the data is *consumed*. I guess this is a non-trivial implementation detail.

[2020-01-27 22:00] yantriks-edi-bice commented on #2773
@Bobgy I get the following error when trying to downgrade

Master of cluster [xxxxx] will be upgraded from version [1.14.9-gke.2] to version [1.14.8-gke.17]. This operation is long-running and will block other operations on the cluster (including
 delete) until it has run to completion.
Do you want to continue (Y/n)?
ERROR: (gcloud.container.clusters.upgrade) ResponseError: code=400, message=Maste

[2020-01-27 22:14] yantriks-edi-bice commented on #2773
I don't yet understand how all of kubeflow is set up but am wondering about the effect such change would have on the other components. Would they continue to work assuming pipeline works ?

[2020-01-27 23:51] numerology commented on #2773
AFAIK there is an ongoing issue related with recent GKE release. Will keep this thread updated.

[2020-01-28 03:05] Bobgy commented on #2773
It means a new patch version has been released. The new 1.14.8-gke.x probably already have the fix.

[2020-01-28 04:02] yantriks-edi-bice commented on #2773
@Bobgy thanks - found latest in 1.18.8 series is 1.14.8-gke.33 and used your command to upgrade from earlier kubeflow 0.7 default version

[2020-01-28 06:28] shotarohorai commented on #2908
I got the same error.
It seems that it becomes successful with retrying a run if I specify the namespace passed to `create_run_from_pipeline_func` function whether or not kubeflow is deployed in the default namespace `kubeflow`.

[code]

[2020-01-28 08:28] rmgogogo commented on #2561
HI Jake, would you help detail more on the reproduce-steps?

Following steps?
1. create a cluster (any special settings? e.x. enable GPU? which zone?)
2. top autoscaling on GPU node pool
3. start n number of GPUs on the default GPU node pool
4. deploy my kubeflow pipeline. (how?)

[2020-01-28 08:42] sid027 commented on #2561
@JakeTheWise Once I started a GPU manually that my kubeflow pipeline could discover and use, I switched on the autoscaling back for the pool. Now everything works as expected. It is weird!

[2020-01-28 16:56] ultrons opened #2920 "Cloud Function with Kubeflow Pipelines"
**What happened:**
Created a kubeflow deployment on a GKE using inverse proxy.
Tried to submit a pipeline execution to this deployment from cloud function.
          -> client=kfp.client(host=<host-name for inverse proxy>)
               client.list_experiments() returns nothing.
               client.create_experiment(...) returns experiment object with all none field.
               No exception

[2020-01-28 17:15] JakeTheWise commented on #2561
@rmgogogo Like I said, I followed @sid027 's steps.

[2020-01-28 18:16] SinaChavoshi opened #2921 "Service account setup instruction should not use admin roles"
Currently setup instruction for service account credentials at
https://github.com/kubeflow/pipelines/blob/master/manifests/gcp_marketplace/guide.md#gcp-service-account-credentials

Instructs users to give roles/dataproc.admin, roles/dataflow.admin , roles/storage.admin etc. This privilege is beyond what the account needs, for example for storage reader and writer role will be sufficient.

In parti

[2020-01-28 19:24] JakeTheWise commented on #2561
The hack worked on my second attempt. I think there was an error spinning up the GPU node the first time.

Is there a timeframe for resolving this GPU pool startup issue?

[2020-01-28 19:27] JakeTheWise commented on #2561
@sid027 do your GPU-enabled pipeline steps still run on a cluster when you re-enable your GPU node pool autoscaling from `0` to `n` nodes? Or do you find that you must keep at least `1` GPU node running?

[2020-01-28 20:39] amygdala opened #2922 "error uploading pipeline from github URL"
I'm using whatever kfp version is Build commit: ca58b22.

When I try to upload a pipeline *version*, I get the following error.  I double checked that I could 'wget' the URL and unarchive the result. (Am I misinterpreting what "Package Url means?)

![Screenshot 2020-01-28 10 08 00](https://user-images.githubusercontent.com/115093/73303229-e1759480-41ca-11ea-9229-6dab1aae8c38.png)

Related: why doe

[2020-01-28 20:52] sid027 commented on #2561
@JakeTheWise once it works with the hack, do this:
- enable autoscaling
- set `min nodes` to `0'.
- run the pipeline

This time, a new GPU node poll will `not` spin up but rather the default GPU node pool will be used to automatically spin up an instance and train your model. It will autoscale back to `0` around 10 mins. after the training finishes.

[2020-01-28 21:29] parthmishra commented on #2920
I believe #2896 should address the silently failing part

[2020-01-28 22:43] rafalbigaj commented on #1654
@animeshsingh @Ark-kun I have an issue with PNS executor on OpenShift with cri-o engine.
Any run fails with:
[code]
even though the component code ends with success.

The execution time of the operation is higher than 15s (limit mentioned at: https://github.com/argoproj/argo/issues/1256#issuecomment-518421616).

Failed "wait" container details:
[code]

"main" container state:
[code]

Argo workflow

[2020-01-28 23:22] kwasi commented on #2907
@Bobgy, Thanks! Here's a brief summary of the changes from a development point of view:

Most of the changes for the integration are in the ArtifactList, ArtifactDetails, ExecutionList, and ExecutionDetails pages. The ArtifactDetails page now has tabs and renders the LineageViewer and all pages use gRPC web protos instead of the Swagger API.

Since the LineageViewer uses gRPC web to fetch MLMD inf

[2020-01-28 23:29] kwasi commented on #2907
@Ark-kun I backported some changes from Pipelines to the shared MLMD util. Do these changes cover the TFX property changes and are they / do they need to be backwards compatible?

https://github.com/kubeflow/frontend/commit/756476a922005dc0aef7b8233559a0778dcf07eb#diff-c09f8ecd27838a890829a3bb9d58a436

If you have documentation on the changes, I can also look at that to verify

[2020-01-29 12:51] jlewi commented on #2885
@jingzhang36 I think you linked to the wrong PRs.

Assuming you meant the migration of the Kubeflow prow instance; I think that is stalled.

[2020-01-29 16:01] JakeTheWise commented on #2500
This issue still happens with kubeflow 0.7.1. The error is
[code]

[2020-01-29 17:19] numerology commented on #2500
@JakeTheWise FYI, Kubeflow is still using KFP 0.1.31 in their head version:
https://github.com/kubeflow/manifests/blob/master/pipeline/api-service/base/kustomization.yaml#L14

A workaround can be deploy KFP standalone as https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize

[2020-01-29 19:00] parthmishra opened #2927 "Best practice for maintaining GCP patch kustomizations"
I'm new to Kustomize and have a few questions regarding how to maintain overlays for KFP. The [docs example](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#maintain-a-repo-for-your-manifests) uses the `...env/dev?ref=0.2.0` configuration as a remote git base which works, but if you try the same strategy with `...env/gcp?ref=0.2.0`  it won't work because KFP expects the

[2020-01-29 19:56] JakeTheWise commented on #2561
@sid027 @rmgogogo Update: even though the first time worked with the hack, after re-initalizing autoscaling and scaling the default GPU node pool back to 0, upon the next pipeline execution a new GPU node pool did spin up, and the ImagePullBackOff problem happened again.

[2020-01-29 22:16] sid027 commented on #2561
@JakeTheWise is your `Node auto-provisioning` set to `Disabled`?
If you enable this, then new node pools are allowed. You can check this on the main cluster on the UI.

[2020-01-30 01:23] Ark-kun opened #2933 "UX - Show inputs/outputs page when there are no visualizations"
When the component does not have any visualized outputs, we still show an empty artifact visualization page (more so, the page is pretty confusing and complicated for an average user).

I propose to show the Inputs/outputs page in that case.
Maybe we should just combine those pages showing all outputs at one page - some are visualized with simple text (numbers and strings), and some have rich visu

[2020-01-30 01:37] Bobgy commented on #2933
@Ark-kun I like this idea, also found that very confusing.

However, the visualizer has a manual mode to let user provide their own arguments. Would hiding that feature be a problem?

[2020-01-30 01:42] Bobgy commented on #2905
I like the idea too! Thanks for writing it down here.
We are focusing on polishing existing features now, contributions welcomed on this.

[2020-01-30 01:47] Bobgy commented on #2913
You can follow instructions in https://github.com/kubeflow/pipelines/blob/master/frontend/README.md for running a local UI instance and connect API requests to your real backend.

Feel free to let me know if you have any further questions.

[2020-01-30 03:33] Ark-kun commented on #2905
That was one of the goals for AI-Hub

Totally agree. I have a design for this: The user has an editing canvas and there is a Components pane where the user can search for components and drag them to the canvas to connect together and configure.

[2020-01-30 03:37] Ark-kun commented on #2903
Given the current state of Kubernets, a good option might be to batch the images and have less parallel tasks. This will also reduce the container starting overhead. Does this sound applicable to your scenario?

[2020-01-30 03:41] Ark-kun opened #2934 "Uploaded pipelines are inaccessible due to bug related to versions"
When the user uploads a pipeline file using the UX, the pipeline is added to the list, but when the user clicks on it, they get an error (empty error message).
If the user tries to create a run from that pipeline, they are not allowed to do so. See the screenshot:
![image](https://user-images.githubusercontent.com/1829149/73417995-d60b9180-42ce-11ea-8e30-8ec8794403dd.png)

Maybe the versions featu

[2020-01-30 04:12] Ark-kun commented on #2934
This is probably caused by the conflict with Lineage UI.

[2020-01-30 04:12] #2934 closed

[2020-01-30 04:19] Ark-kun commented on #2933
We can use UX where every output has a link and an button to visualize it. That button can lead to the page/pane where the a custom visualizer can be specified.

Outputs:
Model (TFModel) | --link- | link | size: 32MB | Visualize
<Model visualization>

Loss (Float) | 0.731 | link | size: 4 | Visualize

[2020-01-30 06:45] #2764 closed

[2020-01-30 07:20] Bobgy commented on #2933
Could the visualizer visualize based on multiple outputs?

[2020-01-30 13:56] plang85 opened #2936 "Dependency resolution fails for one of multiple file path outputs used in loop"
**What happened:**
Got
[code]
when submitting compiled pipeline of
[code]

**What did you expect to happen:**
Workflow to execute, all instances of `read_op` to consume input file.

**What steps did you take:**
Reduced to minimal sample, assured it works without consuming `load_step.outputs["data"]` inside loop.

[2020-01-30 15:13] ajchili commented on #2806
Looks like this should be resolved by https://github.com/kubeflow/manifests/pull/802. I will test in my own cluster before closing this issue.

[2020-01-30 17:40] JakeTheWise opened #2937 "example of string formatting PipelineParams?"
The kubeflow pipelines documents (https://www.kubeflow.org/docs/pipelines/sdk/build-component/#create-a-python-function-to-wrap-your-component) states "Although the value of each dsl.PipelineParam is only available at run time, you can still use the parameters inline in the arguments by using %s variable substitution. At run time the argument contains the value of the parameter." But I can't seem

[2020-01-30 18:30] yoni-taranis commented on #2913
I will try and take a look.

In general - I have a feeling it is related to the refresh interval of the UI that is created when entering that screen.

[2020-01-30 18:31] yoni-taranis commented on #2903
@Ark-kun Indeed that is what we have done right now to avoid this issue - Yes

If this if the current solution, and there is no way to deal with this limit without work arounds - you can close

Thanks!

[2020-01-30 18:59] yoni-taranis opened #2940 "Question - Is "versioning" an existing pipeline exists in the kfp Client upload params?"
I have tried going through the docs and the code and I couldn't find a proper way to do it.

Does it exist? Can I version an existing pipeline?

Thanks

[2020-01-30 20:06] Ark-kun commented on #2933
I'm not sure this feature is requested. Visualizing individual outputs seems to be sufficient for now. (mlpipeline-ui-metadata is also an output).

[2020-01-30 20:15] Ark-kun commented on #2903
Currently this is the best solution.

All workflow information including the workflow spec, execution node states, input and output artifact URIs, input and output parameter values etc needs to fit in <1MiB. Argo did some work to compress the workflow status, so when we upgrade to new version of Argo, it might fix your scenario. But for now, batching is the way to go.

[2020-01-30 20:15] #2903 closed

[2020-01-30 21:42] JakeTheWise opened #2942 "Preserving step config in create_graph_component_from_pipeline_func"
I was unable to use `kfp.components.create_graph_component_from_pipeline_func` to import a pipeline function as a step in another pipeline. I'd like to preserve "inner pipeline" resource requests for GPU steps but it seems this isn't possible. Am I correct to say that `create_graph_component_from_pipeline_func` fuses the inner pipeline's steps into one pipeline step to run in one pod?

[code]

[co

[2020-01-30 21:49] Ark-kun commented on #2937
At compile time, tfr_training_data_filepattern is PipelineParam. To be able to apply the `%` operator to it, it must be a string. You can convert it to string using `str`.

Please not that we're discouraging the conversion of PipelineParams to strings. It can lead to subtle issues like in this case.

This particular case won't work since `%` works at compile time (you're trying to make string subs

[2020-01-30 21:51] Ark-kun commented on #2829
We'll investigate this issue soon.

[2020-01-30 21:57] Ark-kun opened #2943 "Tasks inside ParallelFor receive the loop variable instead of other arguments"
One of our users has reported the following issue:
[code]

The issue is that `op3` receives `param2=loop_item.a` instead of `param2=outside_task.outputs['Output']`.

[2020-01-30 22:25] elegendre3 commented on #1662
What about passing large data items with Reusable components (kfp.dsl.ContainerOp with file_outputs arg)? The notebook tutorial only shows the example for lightweights components.

[2020-01-31 01:03] Ark-kun commented on #1662
Please check this tutorial for non-lightweight components:
https://github.com/Ark-kun/kfp_samples/tree/master/2019-10%20Kubeflow%20summit/106%20-%20Creating%20components%20from%20command-line%20programs

[2020-01-31 01:06] Bobgy opened #2945 "Pipeline list api doesn't do filtering"
**What happened:**
demo: https://screencast.googleplex.com/cast/NTE2MjYwMTg3MDc4NjU2MHwwMDRlNGUzNS1hOA

**What did you expect to happen:**
pipelines should be filtered by name

**What steps did you take:**
[A clear and concise description of what the bug is.]
No matter what filter string I typed for pipeline list, the api returns all pipelines.

**Anything else you would like to add:**
[Miscellane

[2020-01-31 01:18] #2907 closed

[2020-01-31 03:50] Bobgy commented on #2889
@elikatsis I 100%ly agree we should synchronize manifests naming.

One note is that, after renaming, we should mention in upgrade instructions to delete the resource with the old name.

[2020-01-31 17:50] JakeTheWise commented on #2582
I am still observing this issue with kubeflow version 0.7. Inspecting the tensorboard container says it's running tensorboard 1.8 — although the containerOp running it has a base image running tensorboard 2.1.

[2020-01-31 18:02] numerology commented on #2582
Yes because Kubeflow 0.7 is using a really old version of KFP. This exact bug is fixed in KFP version > 0.1.40 already.

[2020-01-31 18:44] rui5i opened #2950 "[Test] Post submit tests on MKP deployment fails"
**What happened:**
Post submit tests on MKP deployment fails. Due to docker command can not get run.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-mkp-component-test/1223274544043659266

**What did you expect to happen:**
Docker command cannot run on base image.
log:
sudo docker pull gcr.io/cloud-marketplace-tools/k8s/dev
903
/home/prow/go/src/github.com/kubeflo

[2020-01-31 19:08] Ark-kun opened #2952 "Fix SDK on Python 3.8"
There seems to be some issues with the breaking changes in Python 3.8. We should check for issues and fix them.

[2020-01-31 19:31] Ark-kun commented on #2937
Generally, we like to think of components as boxes with input/output slots. Slots are connected with slots. All computations happen inside boxes.
So the substitution should be happening inside some component or not happening at all.

[2020-01-31 19:37] ashahba commented on #2699
I'm in the process of creating a brand new K8s cluster and I'm going to try this one more time.
If I have any new updates or logs, I'll post here.

[2020-01-31 19:48] JakeTheWise opened #2954 "how to connect kfp.Client to standalone KFP v0.2 deployment on GCP?"
Sorry for the noob question...

I successfully stood up my KFP v0.2 standalone deployment on a GKE cluster. I can access the UI at `....pipelines.googleusercontent.com`. But I can't seem to get my `kfp.Client` to connect:
[code]
yields
[code]
I know I'm doing something wrong that would be simple to fix...

[2020-01-31 19:55] JakeTheWise commented on #2954
A call to `client.list_experiments` yields
[code]

[2020-01-31 20:00] JakeTheWise commented on #2954
Figured it out. Removing `host=...` works, now with a warning about not using a service account. I'm familiar with how to enable Oauth for a full kubeflow deployment but I could use a little guidance for how to do it for kfp standalone... in `https://iap.googleapis.com/v1/oauth/clientIds/<CLIENT_ID>:handleRedirect` do I set `CLIENT_ID` to the result of `kubectl describe configmap inverse-proxy-con

[2020-01-31 22:04] JakeTheWise commented on #2940
I'd like to know this, too.

[2020-01-31 22:19] JakeTheWise commented on #2561
@sid027 @rmgogogo Once I disabled node auto-provisioning, it seemed to work. However, when I switched to a standalone deployment of Kubeflow Pipelines v0.2, @sid027's trick no longer works.

In addition, on both kubeflow 0.7 and kubeflow pipelines 0.2, if I turn autoscaling on for my GPU pool, it does not autoscale when I run 10 gpu-requesting pipelines in parallel.

[2020-01-31 22:22] numerology commented on #2940
The SDK side client support is currently missing. We're working on that right now.

For now, if you would like to call that through SDK, you can do the following:
[code]
Basically you'll need to hand-craft the request payload.

[2020-01-31 23:08] cbreuel commented on #1352
I implemented a [similar solution for a customer](https://cloud.google.com/blog/products/ai-machine-learning/itau-unibanco-how-we-built-a-cicd-pipeline-for-machine-learning-with-online-training-in-kubeflow), using Jenkins. I think the right approach is to use traditional CI/CD to deploy the training pipeline and components, since they only depend on code. Model training depends on data, which has

[2020-02-01 00:31] parthmishra commented on #2954
I remember having the same issue but I was able to solve it by removing `/pipeline` from the host URL

[2020-02-01 01:08] keeplearnin opened #2956 "Is it possible to specify memory to an Op when using the func_to_container_op?"
Hi

I'm wondering if it's possible to add set_memory_request or set_memory_limit to a Op that is created from func_to_container_op's factory.

Thanks

[2020-02-01 06:10] holdenk opened #2958 "Consider adding support for running TFX w/Beam in the components"
Looking at the current TFX components, it seems like they only run in local mode. I think it would be useful to consider adding support for running on top of Beam w/Dataflow (and later Flink & Spark).

[2020-02-02 03:51] numerology commented on #2958
Actually you have the option to author the pipeline in TFX and run on KubeflowDagRunner, see
https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/kubeflow_dag_runner.py

You can specify Dataflow runner by specifying beam args, see example here https://github.com/tensorflow/tfx/blob/848063c2c84e60f368994edf9ace01d017120dbc/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflo

[2020-02-02 03:52] numerology commented on #2958
/assign @numerology

[2020-02-02 03:52] numerology commented on #2940
/assign @numerology
/assign @jingzhang36

[2020-02-02 04:17] numerology commented on #2954
@JakeTheWise
If you are attempting to connect to KFP standalone from your local environment (laptop/desktop, for example), you can first run `gauth login` in your terminal to authenticate, then

[code]
should work. Note that you need to get rid of the `/pipeline`

[2020-02-02 07:42] yoni-taranis commented on #2940
@numerology Thanks for the reply!

Is there any plan to support uploading a pipeline version from a file like the current upload API?

[2020-02-02 16:11] yoni-taranis commented on #2940
Also, while implementing this - I found an issue with Google Signed URLs - When I enter them as the source url it says the file is invalid, when using a public URL for the same file, it works fine.

[2020-02-02 16:31] numerology commented on #2940
Sure that's in the plan.

Yes currently we only support public URL because fetching files with sign in logic will be a bit more complex. I think @jingzhang36 can better comment on this.

[2020-02-02 16:36] yoni-taranis commented on #2940
@numerology Again thanks for the reply.

I did not mean files with log in logic - But Signed URLs of Google Buckets (They are private files, but can be shared with a public URL signed with a key + expiry/mode), it should actually behave the same.

I have a feeling this relates to an issue with parsing the of the URL itself.
Example of an URL:
https://storage.googleapis.com/kubeflow-temporary-pipel

[2020-02-02 17:34] holdenk commented on #2958
So that’s only if I make a TFX pipeline, if I make a kubeflow pipeline w/TFX components it doesn’t let me specify the runner as far as I can see.

[2020-02-03 07:43] rmgogogo opened #2963 "Retrying and failing cannot be terminated"
It seems that currently tasks that are retrying   and failing cannot be terminated (an issue from Argo which seems to be related to it https://github.com/argoproj/argo/issues/1620)

[2020-02-03 08:22] Bobgy opened #2965 "[UI] troubleshooting doc link is not valid"
**What happened:**
When I meet an error, the troubleshooting doc link shown doesn't work. It shows "https://www.kubeflow.org/docs/pipelines/troubleshooting" but the url isn't valid.

**What did you expect to happen:**
The url should be valid.

/assign @SinaChavoshi

[2020-02-03 15:48] avarf opened #2969 "How to build an image for KubeFlow pipeline?"
Hi, I recently found about kubeflow and kubeflow pipeline but it is not clear for me how to build an image from my python program.

Let's assume that I have a simple python function that crops images:
[code]
How shall I containerize this and use it in the KubeFlow pipeline? Do I need to wrap it in an API (with Flask for example) Or do I need to connect to some media/data broker?

How KubeFlow pipe

[2020-02-03 20:37] SinaChavoshi commented on #2298
resolving as per recent discussions / contributions we are going with the demo, tutorials and templates.

[2020-02-03 20:37] #2298 closed

[2020-02-03 20:39] SinaChavoshi commented on #2049
Resolving as at this point this does not seem like a high priority item. I will reopen if there are additional requests.

[2020-02-03 20:39] #2049 closed

[2020-02-03 20:41] #1619 closed

[2020-02-03 20:43] SinaChavoshi commented on #342
closing as it has been open for a while this is low priority at this point. will reopen if additional asks arise.

[2020-02-03 20:43] #342 closed

[2020-02-03 20:46] SinaChavoshi commented on #2965
We have not populate the page yet. I will work with Joe to push out a simple place holder page for now.

[2020-02-03 20:50] SinaChavoshi commented on #2793
closing as root cause can not be addressed within KFP as described above.

[2020-02-03 20:50] #2793 closed

[2020-02-03 21:26] SinaChavoshi commented on #1374
I'm removing myself from this issue as I will not have capacity to help.

[2020-02-03 21:26] SinaChavoshi commented on #1374
reopening as closed by accident only meant to remove myself :)

[2020-02-03 21:31] SinaChavoshi commented on #2075
closing as it is already covered by sample under https://github.com/kubeflow/pipelines/blob/master/components/gcp/bigquery/query/sample.ipynb

[2020-02-03 21:31] #2075 closed

[2020-02-03 22:01] amygdala commented on #2922
Update: it looks like github URLs are problematic somehow.  With a url like this:
https://raw.githubusercontent.com/amygdala/pipelines/automl_client_update/components/gcp/automl/tables_eval_pipeline.py.tar.gz , which downloads okay via curl or wget, I see the error above.
If I try with this URL, which points to the same archive file:
https://storage.googleapis.com/aju-btest2/arghh/tables_eval_pipe

[2020-02-03 22:08] amygdala opened #2973 "with pipeline version UI, allow upload via file as well as URL"
Unlike the Pipeline upload UI, the pipeline *version* upload UI does not allow uploading a file.

This seems really high friction, because during testing/development it will be a big pain to have to upload a pipeline to a public URL each prior to testing something new.
(It's particularly problematic since github urls don't seem to work : https://github.com/kubeflow/pipelines/issues/2922 )

(cc @ji

[2020-02-04 03:11] rmgogogo commented on #2963
reproduce step:

def echo_op(value):

   return dsl.ContainerOp(

       name='echo',

       image='does-not-exist',

       command=['sh', '-c'],

       arguments=['echo

[2020-02-04 04:08] Bobgy commented on #2950
QQ: did you try removing the sudo? I think docker runs as root user by default. Not very sure about this, if you haven't tried, then it may work

[2020-02-04 04:10] rui5i commented on #2950
Yes. First version is without sudo. And we found that docker requires sudo by default. To avoid running with sudo, we need set up docker post installation(https://docs.docker.com/install/linux/linux-postinstall/).

[2020-02-04 05:34] rafaelbarreto87 commented on #2963
Running into this same issue.

[2020-02-04 05:36] Bobgy commented on #2950
SG
FYI, https://hub.docker.com/_/docker/
Docker has official dind images. If patching existing image doesn't work. Backup plan can be moving to a separate pod running dind image.

[2020-02-04 08:16] jingzhang36 opened #2977 "Support local file upload when creating new pipeline version"

[2020-02-04 10:55] kim-sardine opened #2979 "using VolumeOp in ExitHandler"
**What happened:**

[code]

when I compiled it,
_(I'm using latest dsl-compiler (kfp==0.2.0)_)

[code]

**What did you expect to happen:**

In main containerOP (run), my tensorflow code generates checkpoint files and save these files to PVC (/usr/mnt/data).

I want to send checkpoint files in PVC to Google Cloud Storage bucket when I terminate it. (== in exitHandler).

but it seems like volumeOp i

[2020-02-04 18:36] maiconmattos opened #2983 "batch_predict component - model_path regex validation inconsistent"
**What happened:**
When executing the component with model_path following `projects/[PROJECT_ID]/models/[MODEL_ID]` or `projects/[PROJECT_ID]/models/[MODEL_ID]/versions/[VERSION_ID]` the following message is presented :

[code]

Modifying the model_path to start with '/', causes to another error :

[code]

To sum up: The `model_path` regex validation should be changed to remove the starting '/'. S

[2020-02-04 19:09] jnmclarty commented on #2847
Should some info be added to the docs?  Or is there a legit bug with the serialization?  Fwiw, using that snippet worked for me too.

[2020-02-04 19:13] JakeTheWise commented on #2561
@sid027 @rmgogogo I'd really like to solve this issue in my KFP standalone (now v2.1) deployment. The same exact code and pipeline works in a different cluster with kubeflow 0.7. But even in my standalone KFP cluster, the `set_gpu_limit` does not work. The cluster has a gpu node pool with nodes=1 and autoscaling disabled, but the GPU step will not run.

[2020-02-04 19:47] parthmishra commented on #2954
Wait I'm experiencing this after upgrading to 0.2.1. I think in #2896 there was a change that caused the type of the token to change from str to bytes and that is causing it? I reverted these 2 lines to how it was in 0.1.40 and I can connect.

[2020-02-04 20:27] sid027 commented on #2561
@JakeTheWise I am not sure if one of the PRs solves this issue. If not, maybe you should ask for a branch?

[2020-02-04 21:19] JakeTheWise commented on #2561
I don't see any open PRs that mention this... I'd like for others to try to recreate this issue before I open a branch

[2020-02-04 21:24] parthmishra commented on #2940
I was able to generate a signed GCS url and create a pipeline version via the SDK

[2020-02-04 22:01] rsalmond commented on #2940
I'm not having much luck with this workaround. When I provide the payload as described above and populate it with an existing pipeline name and ID I'm getting nothing but 404's. Is this still expected to work?

[code]

[2020-02-04 22:10] numerology opened #2985 "KFP 0.2.1 SDK client broken when inverse proxy host is used"
This bug is introduced in #2896

Under the hood `subprocess.check_output()` return bytes instead of string. However in `kfp_server_api/configuration.py` it was assumed to be string, which caused error like the following:

[code]
This impacts some CUJs involving TFX CLI and CAIP notebook experiences. Will send out a fix today.

[2020-02-04 22:10] parthmishra commented on #2940
@rsalmond What version of KFP are you using? Do the logs for the `ml-pipeline` deployment say anything?

One subtle thing I noticed was that the initial upload of a pipeline creates a default pipeline version of the same name which causes an error since you can't upload the same-named version twice. This wouldn't cause your 404s though so I'm not sure why that's happening.

Here is my working payl

[2020-02-04 22:11] numerology commented on #2985
/priority p0
/kind bug

[2020-02-04 22:27] rsalmond commented on #2940
@parthmishra thanks for the quick reply! I'm using kfp 0.2.0. The ml-pipeline pod doesn't log anything when I call `create_pipeline_version`, tried your payload without luck but based on the type change (int to string for relationship and type) I think I need to update my ml-apiserver to get some schema changes.

[2020-02-04 23:01] Tomcli opened #2987 "Update Watson components to use v4 API"
**What happened:**
IBM Watson recently migrated the API version from v3 to v4, so we need to update the Watson components to use the latest API version.

**What did you expect to happen:**

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/assign @Tomcli
/

[2020-02-05 01:11] #2985 closed

[2020-02-05 01:57] Bobgy commented on #2954
@parthmishra Sorry, that's not intended (I am not familiar with python, might be a mistake.), would you mind submitting a fix?

[2020-02-05 02:06] numerology commented on #2954
@Bobgy @parthmishra
#2986 is the fix.

[2020-02-05 02:06] parthmishra commented on #2954
Looks like #2986 fixed it so that will probably close this

[2020-02-05 02:17] parthmishra commented on #2940
Yeah try updating since I believe the schema changed sometime between 0.1.38 (last documented API reference) and 0.2.1

[2020-02-05 14:48] jingzhang36 commented on #2885
@jlewi Since the migration of the Kubeflow prow instance is stalled, I revived this PR of adding KFP backend presubmit test to prow. https://github.com/kubeflow/pipelines/issues/2885. Could you take a look? Thanks!

[2020-02-05 16:51] rcleere opened #2991 "controller-manager stuck in CrashLoopBackOff"
**What happened:**
When attempting to install v0.2.0+ via kustomize I get the following error:
```error: unable to recognize "manifests/kustomize/env/dev": no matches for kind "Application" in version "app.k8s.io/v1beta1"```

I think more relevant is the controller-manager pod gets stuck in `CrashLoopBackOff` with the following log lines:
[code]

**What did you expect to happen:**
For there to not

[2020-02-05 19:02] amygdala opened #2993 "component/pipeline name clash: compiles fine, but causes run-time error"
(This is with Build commit: ca58b22)

Running [this pipeline](https://gist.github.com/amygdala/c5d644d65e55c2b7a2b2fee5ea57fb27) gives the following run-time error, due to a name clash:
![image](https://user-images.githubusercontent.com/115093/73873440-76e5d980-4806-11ea-887c-d395a2226e01.png)

This issue was not caught at compile-time.  And, I'd argue that it should be allowed and handled in some

[2020-02-05 19:25] chensun commented on #2244
/cc @chensun

[2020-02-05 20:34] james-jwu commented on #2244
Assigning to Renmin for triage

[2020-02-05 21:45] parthmishra commented on #2991
In KFP version 0.2.0+, you need to apply the base and wait for the application to come up:

[code]
Did you do that and it's still giving the above error?

[2020-02-05 23:57] amygdala commented on #2973
looks like https://github.com/kubeflow/pipelines/issues/2977 is essentially the same.

[2020-02-06 00:02] amygdala opened #2995 "apparent issue rendering artifact viz"
(I'm using Build commit: ca58b22)

Here is a component definition: https://gist.github.com/amygdala/2e4aa8cb20d52d84bff49c067181a1d8 , which writes inline markdown.  The syntax was just cut & pasted from the docs example.

Here is a simple pipeline that uses that component: https://gist.github.com/amygdala/95dbac476eccdb083a3e786785b8732e
I don't see any visualization results when I run this pipel

[2020-02-06 00:20] chensun commented on #2244
/unassign @rmgogogo

[2020-02-06 00:24] Ark-kun commented on #2969
For components that can be implemented as a standalone python function, you can use `func_to_container_op` (renamed to `create_component_from_func` in newer SDK versions). See the [Data passing tutorial](https://github.com/kubeflow/pipelines/blob/8dfa2d9/samples/tutorials/Data%20passing%20in%20python%20components.ipynb)

[code]

[2020-02-06 00:28] Ark-kun commented on #2956
You should set the memory request on the *task* object which you get when you call a component with some arguments.

[code]

[2020-02-06 00:43] Ark-kun commented on #2942
This is not supported yet.
Although you can set the resource requests using something like `some_op(...).execution_options.kubernetes_options.main_container = Container(resources=....)` (https://github.com/kubeflow/pipelines/blob/ebd77a7a12f86f8a975337e6336fa6efb498a01e/sdk/python/tests/components/test_graph_components.py#L131), but right now this won't be used when instantiating the graph compone

[2020-02-06 02:04] rmgogogo commented on #2979
ExitHandler is more for GC etc. purpose. I would prefer you save files to GCS before exit.
Try our latest 0.2.2 release's TFX sample as a reference. It has a Trainer and Pusher.

[2020-02-06 02:08] rmgogogo commented on #2987
Can't find user "kevinyu98".

[2020-02-06 02:11] rmgogogo commented on #2991
It introduced App CRD.
@IronPan

[2020-02-06 02:12] #2991 closed

[2020-02-06 02:14] rmgogogo commented on #2945
added to 1.0

[2020-02-06 02:15] amygdala commented on #2993
hmm... I did need to update kfp.

However (not to sidetrack), while I can compile this example pipeline using kfp==0.1.38, when I compile the same pipeline using kfp>0.1.38 (including the latest 0.2.2), I get this error:
[code]
Has the API changed?

[2020-02-06 02:16] rmgogogo commented on #2954
The fix #2986 is in 0.2.2, please retry. Here close. feel free to reopen if still has issue.

[2020-02-06 02:18] #2956 closed

[2020-02-06 02:22] rmgogogo commented on #2958
Jiaxiao, this match the email we discussed before.
Add Ajay to get more input.

[2020-02-06 02:23] rmgogogo commented on #2965
"The link is accurate, we have not populate the page yet."
turn down to P1.

[2020-02-06 02:24] rmgogogo commented on #2973
close this one, track via #2977

[2020-02-06 02:24] #2973 closed

[2020-02-06 02:27] rmgogogo commented on #2950
It's docker insider docker case? We can
1. move the "docker tag" to cloud build
https://github.com/kubeflow/pipelines/blob/master/.cloudbuild.yaml

2. use another baseimage which already have mpdev

[2020-02-06 02:29] numerology commented on #2958
Actually in [KubeflowDagRunner](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/kubeflow_dag_runner.py) all TFX components are converted to KFP containerOp under the hood.

I'm hesitating in supporting a codepath like KFP-TFX-KFP-Argo. This looks unnecessarily redundant.

[2020-02-06 02:31] rui5i commented on #2950
Besides mpdev, we also need docker build for deployer image(https://github.com/kubeflow/pipelines/blob/master/test/deploy-pipeline-mkp-cli.sh#L64). An alternative way to do this is to build the deployer image using Cloud Build. But in that case the behavior we are testing is not the same as our release process. Can we start with install sudo to see if it works or not?

[2020-02-06 02:33] rmgogogo commented on #2940
@jingzhang36

[2020-02-06 02:38] rmgogogo commented on #2927
@Bobgy did you change it recently? I don't remember we have such change.

[2020-02-06 02:43] holdenk commented on #2958
So let’s say I have a mixed pipeline, like needing to do some non-TFX data munging first, how do I do my TFX work on beam as part of that? Or is that just not something in scope?

(Also if we don’t want folks to use the KFP TFX components should we delete them? I know KF has a lot of dead ends it might be good to clean up some of them if this is one of those cases).

[2020-02-06 02:44] rmgogogo commented on #2921
That's just example showcase. For different pipeline, people need different permission, it's more to user's choose.

[2020-02-06 02:45] rmgogogo commented on #2920
"with os.popen('gcloud auth print-access-token') as token:"
We need to switch it to Python based codes for Cloud Function.

[2020-02-06 02:46] rmgogogo commented on #2920
@Ark-kun

[2020-02-06 02:57] rmgogogo commented on #2936
@Ark-kun , did you see any issue from upper pipeline definition?

[2020-02-06 02:58] rmgogogo commented on #2908
I can reproduce the issue.

[2020-02-06 02:59] rmgogogo commented on #2908
@jingzhang36 the issue we just mentioned

[2020-02-06 03:03] rmgogogo commented on #2904
not sure which is the first phase target, from SDK-to-API, right?

[2020-02-06 03:09] rui5i commented on #2904
Sorry for the confusing. Update the issue content. We change the project to "KFP execution cache" and retry from a certain step will become a underlying CUJ. There will not be any new APIs. The design doc will be sent out really soon.

[2020-02-06 03:44] kim-sardine commented on #2582
please check stackdriver log of `viewer-###-service` in [here](https://console.cloud.google.com/kubernetes/discovery)

maybe this is related to https://github.com/kubeflow/kubeflow/issues/4735

[2020-02-06 05:31] numerology commented on #2950
Mirror the offline discussion here:

Another alternative is to maintain our own test image used in prow (other than kubekins-e2e image built by k8s). Note that this is the practice of other Kubeflow repo, which is currently using `gcr.io/kubeflow-ci/test-worker` image

[2020-02-06 09:30] Bobgy commented on #2908
It seems in some cases, db doesn't store namespace info to the run.

[2020-02-06 09:59] avarf commented on #2969
Thanks for the answer but that is not my intention, I just wrote that class as an example to start with. Imagine that I have a big component that already has a docker image, how shall I change it to be compatible with kubeflow?

Based on my understanding I need to receive the input from some port (which is OK) but I have to write the output to the disk to a specific path, is this correct?

[2020-02-06 10:29] plang85 commented on #2943
#2936

[2020-02-06 11:09] yoni-taranis opened #2999 "client.run_pipeline does not run with the latest version, although it is set to default"
**What happened:**
Exactly as summary says, it seems run_pipeline (_client.py) does not execute the run with the latest version of the pipeline, although it is defined as the default version (When looking at the results of list_pipelines)
Using kfp 0.2.0

**What steps did you take:**
I have worked it around right now by explicitly adding the pipeline version resource to the pipeline run call.

In

[2020-02-06 11:15] yoni-taranis commented on #2940
I have successfully used the workaround suggested here of crafting the body.
I still see the issue with the GCS signed urls, but it is not so critical as I made the bucket public for now.

Thanks

[2020-02-06 11:40] Bobgy commented on #2908
https://github.com/kubeflow/pipelines/blob/c125c52ec7668bc479f846740fc4c0c2e051b5f9/backend/src/apiserver/resource/resource_manager.go#L308
Found the root cause, when run is created and no namespace provided, we should add namespace in to the api object similar to experiment below.

[2020-02-06 11:59] Bobgy commented on #2908
On the other hand, https://github.com/kubeflow/pipelines/blob/ca58b2227fe4a5e46f3d45c7c80a4707d652b0b7/backend/src/apiserver/resource/resource_manager.go#L443

Should default to pod namespace (not empty) if db doesn't have namespace data.

[2020-02-06 13:57] Bobgy commented on #1834
@jessiezcc Do you want these versions shown anywhere else?
Because deployments already have image tag which shows versions. It feels redundant to me if we need to add another label for version.

[2020-02-06 14:02] Bobgy opened #3000 "[UI] Show KFP version text on UI"
Currently we only show version commit sha on UI, but we refer to version more common as semver like `0.2.0`. It helps user get more intuitive idea about their deployment if we show semver directly on UI.

Requested by @katieole

[2020-02-06 15:42] Bobgy commented on #2920
@rmgogogo shall we assign a priority too?

[2020-02-06 16:27] numerology commented on #2920
@rmgogogo Just to confirm does it mean we cannot use `subprocess` or `os.popen` in cloud function?

[2020-02-06 17:16] amygdala commented on #2993
Update: It looks like the compilation error comes from this `String` type spec syntax, which worked through 1.38:
[code]
If I change that line to `input1 = 'qwerty'` it's fine.

(I know this is 'forking' the topic, sorry-- if this is a real issue I'll file a sep. bug).

[2020-02-06 19:17] rcleere commented on #2991
Thank you, that worked. Sorry I missed that.

[2020-02-06 19:54] pselden commented on #2940
If possible I would like to see this be coalesced into one command for pipeline uploads via the CLI.

Example: `kfp pipeline upload -p "My Pipeline" --version 1`my_pipeline.tar.gz

Which would create if it doesnt exist, and upload a new version if it does exist.

[2020-02-06 22:25] pselden commented on #2940
It is also quite a strange client api-mismatch that `upload_pipeline` accepts a local file (and does not allow a remote file), whereas `create_pipeline_version` only accepts remote files.

[2020-02-06 22:39] Ark-kun commented on #2993
I'll look into this.
As a workaround, please use the native `str` type annotation.

[2020-02-06 23:20] amygdala commented on #2993
Thanks.  And: at least with 0.1.38, the original 'name clash' issue is fixed. I assume that remains the case with newer releases.
So I'll close this, but if you open another issue for the compilation problem, can you cc me on it?

[2020-02-06 23:20] #2993 closed

[2020-02-06 23:41] amygdala opened #3005 "marketplace install should prevent using cluster from prev install + same namespace"
With the marketplace install UI, if someone just brings up the page, then clicks 'deploy' without any other changes (and you KNOW some people are going to do that), they have a good chance of using a cluster for an existing installation, + same namespace.

![image](https://user-images.githubusercontent.com/115093/73988142-ab38c300-48f6-11ea-9fa9-9a101c4f3175.png)

If they do that, it looks like th

[2020-02-06 23:41] Ark-kun commented on #2993
I've looked into the `String` issue. Looks like the current SDK version only supports `input1: String() = 'qwerty'` (an instance of `String`, not the type itself).
I'll try to fix that.

[2020-02-06 23:45] numerology commented on #3005
Good point thanks @amygdala

Provided that we have init action now, I think we can do something more. WDYT? @rmgogogo

[2020-02-07 00:06] amygdala commented on #3005
Forgot to add: the existing installation also gets corrupted, which is more serious than having just the new installation messed up

[2020-02-07 00:22] rmgogogo commented on #2963
Paste Yang's rely: for the upper reproduce step, regarding imagePullBackoff, this is by design that Kubernetes will treat this as an infinite retriable issue instead of a failure. This retry is different from the argo retry.

[2020-02-07 00:22] rmgogogo commented on #2963
@IronPan

[2020-02-07 00:51] rmgogogo commented on #3005
it's a known issue that for now we let user to manually make sure only installation in one cluster.
We need to check how many App CR in the cluster, if already have one, then don't allow install more.

[2020-02-07 00:59] amygdala opened #3007 "marketplace: 2 installs onto the same cluster, with different namespaces, get the same endpoint + other related problems"
I tried 2 installs in 2 different namespaces onto the same cluster:

<img width="1153" alt="Screenshot 2020-02-06 16 56 20" src="https://user-images.githubusercontent.com/115093/73991652-a6c5d780-4901-11ea-9a75-50f94d8b5e98.png">

When you click on 'Open pipelines dashboard' for both, they're going to the same endpoint. 😬
There is some presumably related other weird stuff happening -- e.g. my uplo

[2020-02-07 01:06] amygdala commented on #3007
There are similar issues in uploading new pipelines -- the cluster's in a state where I can't seem to successfully do that. (I had been going to check which namespace the new pods would run in, if I started a new run, but things are too broken)

[2020-02-07 01:14] amygdala commented on #3007
Also maybe related (LMK if I should file separate bug): I'm trying to delete the 2nd installation. If I click 'delete' in the popup dialog *without* checking the 'delete cluster box':

![image](https://user-images.githubusercontent.com/115093/73992313-99a9e800-4903-11ea-888d-cee73397503d.png)

then the dialog box briefly disappears then pops up again. Same when I click again etc. It seems it will

[2020-02-07 01:49] Bobgy commented on #2920
@numerology yes, because cloud function is a sandboxed environment that doesn't allow you to use your own image.
also each function call will be independent too.

[2020-02-07 07:50] kim-sardine commented on #2979
I see.. I just wondered if I can save downloading and uploading time.
using TFX looks cool but it's useful only for tensorflow user.

[2020-02-07 11:14] barambani opened #3011 "The POST operation against Workflow.argoproj.io could not be completed at this time, please try again"
**What happened:**
I get this error from `ml-pipeline`
[code]

**What did you expect to happen:**
for the pipeline run to go through

**What steps did you take:**
- I executed a first run of one of my pipelines, that succeeded. All green.
- I tried to execute another run of the same pipeline and the same experiment and I got the error in the image and the log above in the `ml-pipeline` pod.

![Scr

[2020-02-07 15:22] mathieulallier807 opened #3014 "How can I use Kubeflow "submit_pyspark_job" function with --properties of gcloud dataproc"
I want to use the "submit_pyspark_job" kubeflow function from https://github.com/kubeflow/pipelines/tree/master/components/gcp/dataproc/submit_pyspark_job

but I need to add some dependancy using the --properties option like so:

gcloud dataproc jobs submit pyspark prepare_data.py \
        --cluster test \
        --project test \
        --region us-central1 \
        --properties spark.jars.pac

[2020-02-07 20:52] amygdala commented on #2995
Update: it looks like `/mlpipeline-ui-metadata.json `needs to be declared as a component output path.
So we need to do 2 things:
- document this requirement (unless I missed it)
- document how to do it via the python sdk.

(I only know how to add lines to the yaml to do this, but don't know how to specify a particular output path from python)

[2020-02-08 02:24] Bobgy commented on #2196
/close
Resolved by https://github.com/kubeflow/pipelines/pull/2918
Thanks @kwasi

[2020-02-08 02:24] #2196 closed

[2020-02-08 03:21] Bobgy opened #3020 "[UI] TFX visualization panel shows up again by itself"
**What happened:**
bug demo: https://drive.google.com/file/d/1sMBYausQ0qnTBu69681Vze3I45P-c6Nh/view

**What did you expect to happen:**
The side panel should remain closed after it is closed.

/area frontend
/kind bug

[2020-02-08 03:22] Bobgy commented on #3020
/assign @Bobgy

[2020-02-08 08:49] #2908 closed

[2020-02-09 15:26] dragonwarp commented on #3000
I would like to claim this issue and start working on it. Can someone hold my hand through the proccess or should I jump right in?

[2020-02-10 02:57] Bobgy commented on #3000
@dragonwarp Thank you for offering the help!
I can give you some start links.

Instructions to build images: https://github.com/kubeflow/pipelines/blob/master/developer_guide.md#build-image.
You can `kubectl edit deployment <xxx-deployment-name>` and change the image field to change image running in an existing cluster.

### Architecture of this feature from end to end
1. Version info is in api se

[2020-02-10 03:13] Bobgy commented on #3000
@dragonwarp This feature involves many parts from end to end, so it's actually a little complicated for a starter issue. However, don't feel pressured, each step is fairly trivial to change, you just need to learn how to verify them.

And you don't need to do all of them, you can start from api server. Feel free to ask any questions if you are stuck somewhere. : )

[2020-02-10 03:22] rmgogogo opened #3022 "less XgBoost sample's parameters for simplicity"
IMO things can be removed includes:
project: let's always use current project;
target: always resolution
true_label: always ACTION
EXECUTION_MODE: halt_on_exit
Perhaps we can also default the cluster name.

[2020-02-10 03:26] Bobgy opened #3023 "[Community] Provide a single contribution doc that has all the information"
## Problem
Docs are scattered around the repo currently. It's hard for contributors to find relevant docs. e.g. both https://github.com/kubeflow/pipelines/blob/master/developer_guide.md and https://github.com/kubeflow/pipelines/blob/master/CONTRIBUTING.md have some information, but neither one of them points to the other

e.g. in https://github.com/kubeflow/pipelines/issues/3000#issuecomment-58393

[2020-02-10 03:29] rmgogogo opened #3024 "add link "Report a bug" to help user easily create a bug"
https://github.com/kubeflow/pipelines/issues/new?template=BUG_REPORT.md

[2020-02-10 03:36] Bobgy commented on #2857
@sakaia friendly ping

[2020-02-10 04:53] Bobgy commented on #2927
@parthmishra Sorry for the late reply. Thank you for the good question.
@rmgogogo It's not something we changed. We never had good support for this issue.

Short answer, `...env/gcp` manifest hasn't been maintained according to best practices introduced. What you suggested of putting a dummy file seems like a great idea. @parthmishra, If you can get that approach working, I'd really appreciate a P

[2020-02-10 05:16] Bobgy opened #3025 "[UI] TFDV visualization frame is blank in Chrome 80"
**What happened:**
Visualization UI is broken after upgrading to Chrome 80. It turns blank and console has a line of warning:

/priority p0

**What did you expect to happen:**
It should show up.

**What steps did you take:**
[A clear and concise description of what the bug is.]
1. Upgrade to chrome 80
2. Visit existing visualizations that used to work

**Anything else you would like to add:**
[Mis

[2020-02-10 05:20] Bobgy commented on #3025
Did some investigation, it seems not our UI is broken, the visualization itself is broken.

According to https://developer.mozilla.org/en-US/docs/Web/Web_Components/HTML_Imports.
Html import means links like the following (rel="import" is the special part):
[code]

[2020-02-10 07:25] Bobgy commented on #3025
Opened issue in upstream repo facets (used by tfdv): https://github.com/PAIR-code/facets/issues/207

[2020-02-10 08:21] Bobgy commented on #3025
Updated title, this only affects tfdv

[2020-02-10 09:08] rmgogogo commented on #3025
@rmgogogo

[2020-02-10 09:09] rmgogogo commented on #3025
Upstream issue: https://github.com/PAIR-code/facets/issues/207

[2020-02-10 10:30] Bobgy commented on #3025
TFDV upstream issue is https://github.com/tensorflow/data-validation/issues/108

[2020-02-10 10:58] barambani opened #3031 "Api-service container failing with `panic: runtime error: invalid memory address or nil pointer dereference`"
**What happened:**
`Api-service` container failing with the log below

[code]

**What did you expect to happen:**

**What steps did you take:**
Tried to run an existing pipeline.

**Anything else you would like to add:**

[2020-02-10 14:43] yoni-taranis opened #3032 "Pod main container restarts for no clear reason"
**What happened:**
For no clear reason (I've been searching the logs for a few hours) the main container in certain pods restarts

You can clearly see the creation of a docker executor happening a few times in the logs:
[code]

This seems to reproduce on little & higher bursts of 10-30 pods

I am using Kubeflow pipelines 0.2.2

[2020-02-10 14:54] JakeTheWise commented on #2942
@Ark-kun tell me if I'm not answering your question precisely — right now, our main user scenarios for using graph components is to implement a TFX-like model training pipeline. We have one project where we need to run this pipeline in parallel, thus the experimentation with fanouts + sub-pipelines.

[2020-02-10 17:03] numerology commented on #3031
Hi @barambani  do you mind sharing the following info:

1. Version of KFP deployment
2. Version of KFP SDK
3. If possible can you share the your pipeline definition as well? Thanks

[2020-02-10 19:16] dragonwarp commented on #3000
Ah, alas, my hardware is too flimsy to handle virtualization and thus I apologize for wasting your time. I hope your comment will be of help for someone else claiming this issue.

[2020-02-10 19:20] yoni-taranis commented on #3032
I'm actually starting to think this is related to the cluster auto scaler evicting pods due to node scaling down (Especially in bursts).

I'm testing this right now without the autoscaler running on the pool.

I guess this is not an issue of Kubeflow, but if possible, I would like to here if you think there is a good way to configure PDB for all  pods created by Kubeflow runs.

[2020-02-10 21:01] Ark-kun opened #3033 "UX - On the Run page, Only show the Manifest tab in node details if the task is resource"
Currently, the Manifest tab is always shown in node details, but in practice it's almost always empty.
We should hide it for normal container tasks.

[2020-02-10 22:43] #2244 closed

[2020-02-11 00:18] Bobgy commented on #3025
/cc @Realsen
FYI, you probably may hit the issue in TFMA too.

[2020-02-11 02:00] amygdala opened #3037 "tf serving deployer component needs to be able to associate access credentials with launched pods"
This component: https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/deployer/component.yaml
..does not work on a KF install, because the deployed pods don't have access to the user-gcp-sa credentials.  (I confirmed this by running the pipeline on a cluster whose nodes have all-cloud-platform scope, and it worked there.)  This issue breaks the mnist pipelines example in the docs.

[2020-02-11 02:04] amygdala commented on #3037
Also... can you think of any quick fix that would let us fix the pipelines example featured in the KF docs, which uses this component?

[2020-02-11 04:09] amygdala commented on #3037
I discovered another issue with this same component:
if there is already a serving deployment in the cluster, then a second deployment won't come up successfully.  It detects the pod for the previous deployment as well and seems to wait for them both to come up (?), looping for a long time, then finally terminating with error.  (sorry, I've deleted the logs, but it's easy to repro).

If you delete

[2020-02-11 04:15] Bobgy commented on #3000
@dragonwarp no worries, these are good for anyone picking this issue

[2020-02-11 04:16] Bobgy commented on #3000
@chensun assigned the issue back to you as @dragonwarp doesn't have resources to work on the issue.
I've already left most of related information about the issue. Feel free to ask any more questions.

[2020-02-11 05:55] Ark-kun commented on #2969
KF Pipelines orchestrates command-line programs in containers. You command line program arguments can contain input paths, outputs paths and input parameter values. You describe the components using a serialized ComponentsSpec file (component.yaml). Components can be loaded and used as for pipeline tasks. Check the [documentation](https://www.kubeflow.org/docs/pipelines/sdk/component-development/)

[2020-02-11 06:04] Ark-kun commented on #2958
Well, we had Dataflow components, but someone cleaned them up

KFP uses Argo and runs on Kubernetes. Beam is a different orchestrator. Can you please tell us about scenarios that require using Beam on Kubernetes?

When using TFX framework (not components), you can choose a runner - **either** Beam **or** Kubeflow+Argo+Kubernetes.
There is a choice - to use Beam orchestrator or not.

[2020-02-11 06:10] Ark-kun commented on #3037
@IronPan and @numerology might have some info about the secrets and the Workflow Identity that can make them unnecessary on GKE.
I also see the new community-creates serving component: https://github.com/kubeflow/pipelines/tree/master/components/kubeflow/kfserving

[2020-02-11 07:12] holdenk commented on #2958
So my scenario is I fetch data from the world outside of TFX and store it on GCS as part 1 of my pipeline. Then in part 2 I want to train a tensorflow model, ideally with TFT for data transformations.

Like if you don’t imagine TFX being used inside of KF pipelines that’s fine; I’m just a little confused.

[2020-02-11 11:24] elikatsis commented on #2904
Hello @rui5i,

That's a really nice feature!
Any update on the design doc? I think it should be an item in the upcoming KFP community meeting.

Thanks!

[2020-02-11 16:10] amygdala commented on #3037
I believe that workflow identity is coming to both KF core and 'standalone' KFP, but until it does, we should mark clearly the components that don't work on KF. Would there be others like this? (In this case, I think this component did used to work on KF, a few releases ago when KF nodes used a more permissive SA, but once that got tightened down it broke.)

[2020-02-11 16:21] numerology commented on #3037
Indeed, this is definitely a pain and we don't have a very elegant/long-term solution during the transition phase from GCP SA to WI. However, perhaps a temporary solution could be that in the component we mount the GCP SA secret only when there is one. This can be detected by `kubectl`. And provide better error message if there is no GCP SA and cluster is not full-scope

[2020-02-11 16:31] SinaChavoshi opened #3045 "[Feature request] deep link to pipeline for demos on starting page deep link to the pipeline itself"
Currently demos listed on starting page link to the pipeline list page, this is a feature request to deep link to the actual pipeline creation page.  This is not currently possible as part of the deeplink is based on the pipeline id that changes for each deployment.

This requires a change in the back-end API to allow for referencing a pipeline by it's name instead of the database deployment id, a

[2020-02-11 16:36] SinaChavoshi opened #3046 "[Feature request] Add quota check for diagnostic step of XGboost pipeline demo"
This issue was raised during bug bash,

[code]
one  mitigation is to add quota validation to the diagnostic step so in case of failure user is giving proper instructions with link to quota increase request page.

[2020-02-11 16:39] SinaChavoshi opened #3047 "[Feature request] Update XGBoost pipeline to use AI Platform training instead of DataProc"
This issue was raised during bug bash,

[code]
one  mitigation is to change this pipeline to use AI Platform training  (https://cloud.google.com/ai-platform/training/docs/training-xgboost ) instead of the current custom implementation with dataproc

[2020-02-11 17:04] retnuh opened #3048 "No (obvious) way to specify that one container should run after another"
**What happened:**

There is no apparent way to specify that one container should run after another.  I have a situation where I have, say, containers A, B, C that need to be run in serial - A generates stuff that B needs, which generates stuff that C needs.  But it writes to S3, or a database - not the local file system.  So I'm unable to use the artifact repository, or `PipelineParams` to build

[2020-02-11 17:31] SinaChavoshi opened #3050 "[Feature request] When diagnostic pipeline steps fail surface the actionable links in UI"
This is a feature ask based on the bug bash, in short currently when diagnostic step gives an actionable link it is buried in the logs report, this request is to raise this in the UI so it is more discover able for the users.

[2020-02-11 18:30] amygdala opened #3051 "Mark all KFP 'core' components that don't work on KF as such"
See the discussion here:
https://github.com/kubeflow/pipelines/issues/3037

I suspect there may be other such components as well.  In their READMEs, we should clearly indicate the conditions under which they work correctly, and where they don't.
I don't think we need to (necessarily) do this for the 'contrib' ones, but we should for the 'core' ones.

[2020-02-11 19:13] rui5i commented on #2904
Hi @elikatsis ,

Thanks for your feedback! The design doc currently is under KFP team review. I am happy to present on the upcoming KFP community meeting!

[2020-02-11 19:45] amygdala commented on #2995
Would it be possible for someone to add an example to this bug, for how to do this from the KFP python SDK?  I can take on the task of adding that info to the docs then.  cc @Ark-kun

[2020-02-11 20:18] #2569 closed

[2020-02-11 20:18] #2936 closed

[2020-02-11 20:18] #2943 closed

[2020-02-11 20:35] Ark-kun commented on #1250
The compiler no longer auto-adds those artifacts (since v.01.29): https://github.com/kubeflow/pipelines/pull/2046

[2020-02-11 20:37] Ark-kun commented on #2317
The issue is resolved.

[2020-02-11 20:37] #2317 closed

[2020-02-11 20:38] Ark-kun commented on #3051
Note that there are many contributed components that are located outside of the contrib folder...

[2020-02-11 20:42] Ark-kun commented on #3048
Tasks have `.after` method that does exactly what you want.
We discourage its usage though.

Good components still pass the information as outputs. If the upstream writes to S3, it should output the URI. If it writes to DB, it can output ID.

[2020-02-11 20:42] #3048 closed

[2020-02-12 04:12] Bobgy commented on #3033
Sounds useful. I'll add that

[2020-02-12 04:38] #3020 closed

[2020-02-12 05:19] Bobgy opened #3054 "[Testing] Unit tests for visualization progress UI"
https://github.com/kubeflow/pipelines/pull/3043

/area frontend
/area testing

[2020-02-12 05:19] Bobgy commented on #3054
/assign @Bobgy

[2020-02-12 05:40] Bobgy opened #3055 "Scheduled workflow catchup=false behavior like airflow"
/area backend
/area frontend
/kind feature
/priority p0

There's a feature request for catchup=false behavior for scheduled workflow.

When a scheduled workflow is created with an earlier start date, or for some reason, scheduled workflow couldn't run for some period. Then scheduled workflow should only trigger one run corresponding to the last period when catchup=false.

## New Interface
CreateJo

[2020-02-12 07:33] Bobgy commented on #2945
/close
fixed by https://github.com/kubeflow/pipelines/pull/3040

[2020-02-12 07:33] #2945 closed

[2020-02-12 10:20] retnuh commented on #3048
These are legacy containers that already have things like locations defined.  I understand your point though.

Thanks for the tip about `.after`, it's exactly what I need.

[2020-02-12 10:33] rmgogogo opened #3057 "Jest Snapshot Test didn't well handle time string"
In our codes we use Date.toLocalDateString which depends on local time format. It may generate different snapshot.

[2020-02-12 11:56] Bobgy commented on #3025
Upstream issue already fixed, we are waiting for a tfdv release to include the fix.

[2020-02-12 15:31] rmgogogo opened #3061 "upgrade Bazel from 0.23 to 2.1 and remove TF from WORKSPACE"
1. we don't have direct source dependency on TF. Removing it from WORKSPACE make sense as it introduced a lot of others.

2. upgrade Bazel from 0.23 to 2.1

3. golang dependency file is not updated for a very long time. Since we use Docker builder more which will update it in run time but if we use Bazel, we will find many not up to date

[2020-02-12 19:27] Ark-kun opened #3064 "Move the MNIST sample from tutorials to contrib"

[2020-02-12 23:20] jeffgriffith commented on #1223
@yanniszark  Continuing on what @Felihong said about notebooks and PVCs, since KFserving lets me segregate models into namespaces, i have the MODEL stored in a PVC which the inference server can load in the same namespace. If i have a PIPELINE then in the kubeflow namespace, i am prevented from loading that pretrained model for retraining (e.g. retrain(old_model, new_data) => new_model) Correct? A

[2020-02-13 05:22] Kulikovpavel opened #3069 "ServiceException: 409 Bucket ml-pipeline-playground already exists"
**What happened:**
Runs of sample pipelines (for example https://github.com/kubeflow/pipelines/blob/0.1.40/samples/core/sequential/sequential.py)  failed with single line in log
[code]

**What did you expect to happen:**
Run without errors
**What steps did you take:**
[A clear and concise description of what the bug is.]
Open kubeflow GUI, Pipelines, select sample pipeline, "Create run", task fail

[2020-02-13 06:41] frsann opened #3070 "Extremely long loading times in UI on Minikube"
**What happened:**
I continuously, but somewhat sporadically, experiencing extremely long loading times for (at least) pipelines and experiments in the UI. When issue occurs the loading time can vary from 30s to 6 min. The page renders, but I'm shown a spinning wheel where the items should be listed.

**What did you expect to happen:**
I expected the experiments and pipelines to load "instantly",

[2020-02-13 07:13] Ark-kun commented on #3061
https://github.com/kubeflow/pipelines/pull/2856

[2020-02-13 07:16] Ark-kun commented on #3070
Can you please check that all services are running (e.g. metadata-service).

[2020-02-13 07:17] Ark-kun commented on #3070
@numerology Can this be related to the PROJECT_ID substitution?

[2020-02-13 07:53] rmgogogo commented on #3061
@jingzhang36 FYI.
Alexy's PR2856 would help a lot to simplify the bazel stuff.

[2020-02-13 08:03] Jeffwan commented on #2819
@asaff1 region has been added in #2080. Working on including this change into 1.0

[2020-02-13 08:07] frsann commented on #3070
@Ark-kun

Everything seems to be running, but some errors causing restarts during startup of the cluster. When the stall occurs everything is running:

NAMESPACE              NAME                                                           READY   STATUS      RESTARTS   AGE
cert-manager           cert-manager-5d849b9888-6xsmz                                  1/1     Running     1          25h
cert-m

[2020-02-13 09:08] Ark-kun commented on #3061
Thanks. I'm not sure how to detect any other unused entries...

[2020-02-13 10:01] rmgogogo commented on #3070
@Bobgy

[2020-02-13 10:02] rmgogogo commented on #3070
Which version of KF/KFP inside the minikube?
Does it work well in normal cluster?

[2020-02-13 10:18] rmgogogo commented on #3069
that's wired, this bucket should be existing as it's used as read-only to read input data.
The error msg looks like want to create a bucket with this name.

Would you double check it is from this sequential sample?

[2020-02-13 10:56] frsann commented on #3070
@rmgogogo

I'm using this: [https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml)

and `kfctl v1.0-rc.3-1-g24b60e8`. Does that answer your question?

I haven't tried deploying on a cloud-based cluster.

[2020-02-13 10:59] Kulikovpavel commented on #3069
Agree, this is strange, there is only simple steps and no bucket should be created, only use of existing.

![image](https://user-images.githubusercontent.com/1457767/74427824-e4c67c80-4e68-11ea-99ee-543c55568474.png)

Description leads to this page: https://github.com/kubeflow/pipelines/blob/0.1.40/samples/core/sequential/sequential.py

I even tried new pipeline upload with that code above, same e

[2020-02-13 11:24] ryandawsonuk commented on #2624
Does this need triage or prioritising?

[2020-02-13 14:02] rmgogogo opened #3074 "GitHub ref file path returns 404"
https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/
Document mentioned the path
github.com/kubeflow/pipelines//manifests/kustomize/base/crds?ref=$PIPELINE_VERSION

It returns 404. Not sure whether github changed behavior.

workaround: directly clone codes and kubectl on it.
fix: find the new Github file path pattern and update document

[2020-02-13 14:03] rmgogogo commented on #3074
@Bobgy feel free to correct, I hit the issue not sure whether it's transient (Github outage)

[2020-02-13 14:16] rmgogogo commented on #3074
another issue in standalone CLI deployment:
minio can't be launched. it said can't find "minio-pvc" while log says: persistentvolumeclaim/minio-pvc created. However I can't find the minio-pvc in kubeflow namespace.

[2020-02-13 17:11] numerology commented on #3069
Umm. Indeed it's weird. Do you mind copy-pasting the pipeline yaml def here?

Pipeline panel -> [Sample] Basic - Sequential execution -> "Source" Tab (next to the "Graph" Tab)

Thanks!

[2020-02-13 18:28] yoni-taranis commented on #3032
Closing since this is not a kf issue. Although I do think this is architecture manner that needs to be considered as kf creates bare pods that you cannot configure PDB for.

[2020-02-13 18:28] #3032 closed

[2020-02-13 18:48] andrewgdavis commented on #3070
I think the slowness is attributed to the request for `http://metadata` which is google cloud specific.  DNS resolution in k8s uses ndots, which can take some time (causing the intermittent delays in the ui).  In a minikube environment, this call shouldn't be made at all (unless an explicit service is installed with pipelines).

The way i worked around it was to setup nginx and an ExternalName Ser

[2020-02-13 19:38] Kulikovpavel commented on #3069
https://gist.github.com/Kulikovpavel/10843cf10cd8340dec9befd994e34e07

[2020-02-14 00:57] rmgogogo commented on #3074
Yuan mentioned offline that possible my network got throtting by Github. will retry a little bit later.

[2020-02-14 01:17] rmgogogo commented on #3022
@SinaChavoshi Sina already have a PR for it

[2020-02-14 01:34] #982 closed

[2020-02-14 01:35] neuromage commented on #1648
Caching is now supported by KFP UI.

[2020-02-14 01:35] #1648 closed

[2020-02-14 01:37] #1087 closed

[2020-02-14 01:37] neuromage commented on #1138
Closing as infeasible/obsolete for now.

[2020-02-14 01:39] Bobgy commented on #3074
/assign @Bobgy
Let me verify

[2020-02-14 01:39] #906 closed

[2020-02-14 01:40] #907 closed

[2020-02-14 01:40] #1745 closed

[2020-02-14 01:41] TheMichaelHu opened #3077 "[Feature Request] Add framework parameter to ml_engine deploy component"
When trying to deploy a trained scikit-learn or xgboost model using the prebuilt ML Engine component, there is no way to specify the framework parameter (https://cloud.google.com/ai-platform/training/docs/reference/rest/v1/projects.models.versions#Version.FIELDS.framework).

The docs claim that even without this parameter set, the framework can somehow be inferred, but I am getting the following e

[2020-02-14 01:46] neuromage commented on #2756
I was not able to reproduce. Can you try this with latest version?

[2020-02-14 01:47] neuromage commented on #532
Marking as obsolete, as I'm guessing this was a problem with the old taxi sample (which no longer is being maintained).

[2020-02-14 01:47] #532 closed

[2020-02-14 02:13] Bobgy commented on #3074
First clarification, `github.com/kubeflow/pipelines//manifests/kustomize/base/crds?ref=$PIPELINE_VERSION` is not a url. It is a special format supported by kustomize: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md

One thing we might want to change though, is that the double slash is no longer needed according to doc.

[2020-02-14 02:20] Bobgy opened #3078 "[Engprod] Stable python package management"
We have done many hotfixes like
* https://github.com/kubeflow/pipelines/pull/3067
* https://github.com/kubeflow/pipelines/pull/3035
* https://github.com/kubeflow/pipelines/issues/3079

Also e.g. things don't work when we upgrade base google/cloud-sdk image.

Can we set up a stable python package management strategy that pins all the packages we use?

Some options:
* https://github.com/pypa/pipenv

[2020-02-14 02:26] Bobgy commented on #3025
/close
Fixed by https://github.com/kubeflow/pipelines/pull/3060

[2020-02-14 03:33] Bobgy opened #3079 "[Visualization] tfdv visualization throws an error"
**What happened:**
[code]
After https://github.com/kubeflow/pipelines/pull/3060, tfdv throws an error.

**What did you expect to happen:**
It should show visualization.

**What steps did you take:**
[A clear and concise description of what the bug is.]
1. use kfp 0.2.2
2. run tfx sample
3. view statisticsgen step
4. the tab shows broken visualization

**Anything else you would like to add:**
[Misc

[2020-02-14 03:37] Bobgy commented on #3079
/assign @jingzhang36
/kind bug
/priority p0

[2020-02-14 03:42] Bobgy opened #3080 "[UI] Artifact visualization always loading when still running"
**What steps did you take:**
[A clear and concise description of what the bug is.]
kfp 0.2.2
1. When a pipeline is still running, click an already complete step with visualizations.
2. The progress bar keeps running

**Expected:**
It should show visualization of completed steps.

/area frontend
/kind bug
/priority p0
/assign @Bobgy

[2020-02-14 04:38] jingzhang36 commented on #3079
After we bump tfdv version to 0.21.1, our visualization server seems to have a pyarrow at 0.16.x. We'll have to pin it to 0.15.0

[2020-02-14 04:41] Bobgy commented on #3079
That seems another failure point to let us prioritize https://github.com/kubeflow/pipelines/issues/3078

[2020-02-14 04:42] Bobgy commented on #3079
Thanks for the quick check!

[2020-02-14 06:18] #3080 closed

[2020-02-14 07:15] rmgogogo commented on #3079
+rmgogogo
we may provide a quick patch after the fix (only patch visualization server)

[2020-02-14 09:08] Bobgy commented on #3025
/reopen
The last fix wasn't enough. It is still blank like
![dVp3kyXdouk](https://user-images.githubusercontent.com/4957653/74517076-79ee7180-4f4c-11ea-936f-1fe4a059d491.png)

I found it was caused by </script> in string breaking wrapping <string> tags. Sent a CL to fix upstream issue again.

[2020-02-14 09:12] Bobgy commented on #3070
@frsann Can you verify which part is slow, is it frontend server or backend server?
e.g. you can try using kfp python client to list experiments, runs and measure the delay. Compare it with network requests in UI.

[2020-02-14 09:17] Bobgy commented on #3070
@andrewgdavis these requests do not block other requests. So I am not sure if that's the root cause.

Did you experience exactly the same issue like @frsann? If that's the case, I'm guessing maybe either frontend server or the browser has a limit of running requests, because project-id, cluster-name ... requests keep running for a long time, other requests maybe blocked because of throttling.

If

[2020-02-14 09:45] Bobgy commented on #3025
This also needs https://github.com/kubeflow/pipelines/issues/3079 to be fixed first

[2020-02-14 10:36] rmgogogo opened #3084 "Change a light base image for visulization server"
Currently visualization server is based on tensorflow container image but it has no relation (just use a fileIO method) and should not has.

We can change it to be a much light weight image. It's ~1G!

[2020-02-14 10:36] rmgogogo commented on #3084
@jingzhang36

[2020-02-14 12:13] frsann commented on #3070
@Bobgy
I used the KFP cli tool (version `0.2.2.1`) to query pipelines multiple times. The result returned within 1-2 seconds. I also tried querying the pipelines *WHILE* the stall was occurring in the UI, and still, the results returned in seconds.

[2020-02-14 12:19] rmgogogo opened #3085 "Frontend hardcoded and send codes to Visualization server, it should be refactoryed"
https://github.com/kubeflow/pipelines/commit/cb4f4ba59e4feb06080cbd1b11b75f370f19c263#diff-3403c794353f09e8d1cde18b6bfc3baa

Python codes should be keep inside Visualization server. Frontend should not hardcode python codes. Aka, if CUSTOM visualization means put python codes in frontend, better we disable it and use TYPED visualization.

[2020-02-14 12:20] rmgogogo commented on #3085
@jingzhang36
@Bobgy

[2020-02-14 12:58] #3079 closed

[2020-02-14 16:56] TheMichaelHu commented on #3077
Looked into source code, the inference logic makes sense, I must have just been doing something wrong. Closing since framework param isn't really necessary.

[2020-02-14 16:56] #3077 closed

[2020-02-14 19:26] andrewgdavis commented on #3070
I am not sure about the exact root cause, but i did see a correlation with the error message in the ml-pipeline-ui logs and the browser trying to render the ui when making requests.  the error message is quite specific, and realizing that in minikube there was no "http://metadata" endpoint, i gave it one and i have not seen any issue since.

There are ways to dig in, but perhaps it comes down to w

[2020-02-14 20:20] andrewgdavis commented on #3070
as a quick test, i left the externalName service in place so that dns resolution was not an issue, but i did remove the nginx backend that was handling the request, and the ui slowness is visible again.

any GET /system/cluster-name   or GET/system/project-id request resulted in the UnhandledPromiseRejectionWarning error in the logs.  in the browser dev-ui there is no "status code" response or byt

[2020-02-14 23:21] Ark-kun commented on #2847
I think this is a valid issue with the `use_preemptible_nodepool` extension.

`hard_constraint` switches code paths from a broken one to the correct one.

[2020-02-15 01:27] #2847 closed

[2020-02-15 21:25] andaag opened #3095 "kfp requires valid https certificates"
### What steps did you take:
I installed kubeflow using microk8s

### What happened:
Install went fine, but using the python kfp client to deploy, either from outside of kubeflow or from a notebook within kubeflow fails due to invalid https certificates.

### What did you expect to happen:
It'd be nice if it worked, to experiment/demo locally... but I totally understand why it doesn't.

### Enviro

[2020-02-16 09:00] Bobgy commented on #3070
@frsann and @andrewgdavis Thanks for the verification! I'm convinced that's the root cause.

I guess then the long stall is caused by browser has a limit of concurrent requests (if not using HTTP2) and the bad metadata endpoint waits forever, blocking other requests in UI.

I think we can do a few things to improve this:
1. UI should only request this data only once
2. frontend node server can add

[2020-02-16 09:12] frsann commented on #3070
Not surprisingly, the problem also occurs on a standalone KFP deployment (`0.2.3`) as well.

[2020-02-17 12:26] discordianfish opened #3098 "apiserver does not close rows in InitializeDBStatusTable leading to "busy buffer" errors"
### What steps did you take:
Not exactly sure how the apiserver got into this state, probably something went wrong on initial db creation.

### What happened:
ml-pipeline deployment is crashlooping:
[code]

### What did you expect to happen:
Database creation should work.

### Environment:

KFP version: 1.0-rc

### Anything else you would like to add:
I suspect the root issue here is that the apis

[2020-02-17 17:08] alexlatchford commented on #2905
Not sure if this is 100% related to this well defined issue but in larger enterprises I could see the need for an internal component registry for sharing best practices between teams/orgs but not necessarily be able to publish these publicly for one reason or another.

[2020-02-17 17:12] parthmishra commented on #2905
@alexlatchford That's a good point and in AI Hub, they seem to handle this by having a concept of "private assets" which is the same functionality as public shareable components/pipelines, but just for an organization/team

[2020-02-17 17:14] vmolina opened #3100 "Registed Metadata type is not detected corretly"
Artifacts are registered to the metadata as None type, independenly of the component spec.

I created the following spec.
[code]

I created the pipeline, upload it and created a run of the pipeline.

I expect the output Train data registered artifact in metadata to have the type data_set., but all artifacts get assigned the NonType

### Environment:
Kubeflow pipelines 0.2.2 running on GCP with Clo

[2020-02-17 19:43] amitripshtos opened #3101 "Feature request - Suuport Argo suspense and resume on KFP"
Hey,
Sometimes we have pipelines that need to be suspend for some time in order to do human interactions such DB writes / using 3rd party apps and so on..

Argo supports suspense of a workflow and resuming it and I thought it's a good feature to have a SuspendOp in the dsl that suspense the workflow and a resume API endpoint that resumes the pipeline when it reaches a suspend Op.

- [x] DSL - Add

[2020-02-18 03:22] nrchakradhar commented on #3101
@amitripshtos Can you share the references to argo for suspension and resumption.

[2020-02-18 05:11] TheMichaelHu opened #3104 "ml_engine prediction component not detecting deployed model correctly"
When calling the [pre-built batch prediction component](https://github.com/kubeflow/pipelines/tree/master/components/gcp/ml_engine/batch_predict) with a model or version following the expected pattern of
`projects/[PROJECT_ID]/models/[MODEL_ID]` or `projects/[PROJECT_ID]/models/[MODEL_ID]/versions/[VERSION_ID]`, the [regex matchers](https://github.com/kubeflow/pipelines/blob/9f328a7160da261ac97386

[2020-02-18 05:35] TheMichaelHu commented on #3104
/kind bug

[2020-02-18 06:10] amitripshtos commented on #3101
Sure,

An example template:
https://github.com/argoproj/argo/blob/master/examples/suspend-template.yaml

As you see, you can set a step to a suspense step (which can be timed or not)

In order to resume, you need to use "argo resume workflow-id" cli command.

The command updates the Workflow resource:
https://argoproj.github.io/docs/argo/examples/readme.html#suspending

Under the hood: ResumeWorkf

[2020-02-18 08:25] sh-tatsuno opened #3105 "[Feature request] How to create recurring run like cronjob through SDK"
I want to create recurring run like cronjob through SDK

I found two kinds of ways to create run described below, but I have no idea how I set scheduling parameter through SDK.
`run_pipeline` or `create_run_from_pipeline_func`

If possible, it would be appreciated if anyone tell me the way.

[2020-02-18 11:03] sid027 commented on #2561
@JakeTheWise There is another issue because of which the scaling doesn't work sometimes - `ZONE_RESOURCE_POOL_EXHAUSTED_WITH_DETAILS`. This just means the GCP doesn't have enough hardware in that zone. I am observing this happening a lot since January 21-22 onward.

[2020-02-18 11:37] jetbasrawi commented on #3069
Experiencing the same issue with this tutorial.

[2020-02-18 13:36] elikatsis commented on #2904
Ping!
I see there is no entry in the agenda. Any update on that?

[2020-02-18 14:38] rmgogogo commented on #3069
How about other preloaded sample pipelines? Is it only happens in the sequential pipeline?
I normally install KFP Standalone and I just tested it on KFP 0.2.3 sample pipeline and it works well.

[2020-02-18 16:31] JakeTheWise commented on #2561
@sid027 Fair point, and I've hit that issue when manually scaling my GPU pools before, especially with K80 GPUs (GCP default GPU, makes sense). So as a separate issue, does kubeflow alert when this is the case?

Have you been able to recreate the autoscaling issue?

[2020-02-18 19:23] NikeNano commented on #3101
Cool, this would be a nice feature. I will check it out as well :)

[2020-02-18 19:43] amitripshtos commented on #3101
I agree!
Is there any core contributor that has about 10-15 minutes to speak with me about implementation details on zoom/slack? That would be amazing

[2020-02-18 21:11] Ark-kun commented on #3101
Can you please describe more end user scenarios where this feature can be used?

[2020-02-18 21:18] Ark-kun commented on #3078
I think we have two goals here:

* Test the SDK in a stable environment
* Test the SDK in a more recent environment that the user might have

Python's way of pinning dependencies is to freeze the packages to a file: `pip3 freeze > requirements.txt` which can then be used to reproduce the environment: `pip3 install -r requirements.txt`.

So, we should probably test both ways - test with pinned pack

[2020-02-18 21:25] Ark-kun commented on #1271
`setup.py` will continue to have a flexible list of directly required packaged while requirements.txt should serve as a known-good configuration that can be used for image building and should be periodically upgraded.

[2020-02-18 21:25] #1271 closed

[2020-02-18 21:40] janeman98 commented on #2225
@Ark-kun

I cannot find `samples/core/component_build/component_build.ipynb`  in master branch anymore. May I know where the new location is? Or it is replaced by [Lightweight python components](https://github.com/kubeflow/pipelines/blob/master/samples/core/lightweight_component/lightweight_component.ipynb)?

[2020-02-18 22:16] #2468 closed

[2020-02-18 23:34] rafaelbarreto87 opened #3109 "Executions page does not render name and state properly"
### What steps did you take:

Execute the steps in the metadata demo notebook: https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb.

### What happened:

Executions are created properly. I can query the metadata store and see that the information is there. However, the name does not get rendered correctly in the UI. As a consequence, there are no links for the executions,

[2020-02-19 00:11] Bobgy commented on #3078
@Ark-kun Thanks, totally make sense to me. Can we handle this goal in post submit test instead, so it is not presubmit blocking?

[2020-02-19 01:23] sakaia opened #3110 "[Question] PhantomJS"
The frontend uses PhantomJS.
Regrettably, the PhantomJS will stop development.
Of course, kubernetes/pipelines used the PhantomJS in build time only.

Is there any plan to move from PhantomJS?
If so, which package you will plan to use?

Reference
- [frontend/Dockerfile](https://github.com/kubeflow/pipelines/blob/master/frontend/Dockerfile)
- [Archiving the project: suspending the development #1534

[2020-02-19 02:50] Bobgy opened #3112 "[UI] Better error message on missing `user-gcp-sa`"
/area frontend
/kind feature

## Problem
There have been a few community questions raised about confusion in `user-gcp-sa` change, because typically pipeline authors may be ml experts, but don't have enough about kubernetes to debug the user-gcp-sa secret issue by themselves.

Also when the secret is missing, the pipeline will be stalled in `Pending` state with zero information on KFP UI.

## Prop

[2020-02-19 02:56] Bobgy commented on #2702
/cc @Ark-kun
/priority p1

Bump priority because this is a feature regression.

[2020-02-19 03:21] Bobgy commented on #2283
Two changes needed to support this better:
1. [ ] https://github.com/kubeflow/pipelines/pull/3111
2. [ ] Improve loading speed of the hack by fixing KFP UI infinite redirection.

Users can use custom visualization as mentioned in https://github.com/tensorflow/model-analysis/issues/10#issuecomment-587422929 now (but there's only one tfma version support).

[2020-02-19 03:26] rmgogogo commented on #3110
@Bobgy

[2020-02-19 03:27] rmgogogo commented on #3105
@Ark-kun

[2020-02-19 03:29] rmgogogo commented on #3101
+1 to Ark-kun's reply. It's better all tasks are built into the pipeline.

[2020-02-19 04:41] Bobgy commented on #3110
Thanks @sakaia for raising the question.

I took this opportunity to investigate a little. Here's what I found:
* We used to use backstopjs for visual regression testing (which used phantomjs internally, but no longer now): https://github.com/kubeflow/pipelines/blob/master/frontend/backstop.ts
* But somehow after main maintainer for kfp frontend changed a few times, we simply don't know or use it

[2020-02-19 04:43] Bobgy commented on #3110
And FYI, for UI integration testing, we are using selenium (I'm thinking about replacing it with cypress later, but not now).

[2020-02-19 04:52] Bobgy commented on #3110
Sent above PR to remove backstop js, and thus also dependency of phantom js.

[2020-02-19 05:54] rmgogogo commented on #3007
One cluster only accepts one KPF instance. In GA, we will try to find a way to only allow one instance in one cluster. Currently no good error message for it.

[2020-02-19 05:56] rmgogogo commented on #3014
welcome contribution to the component. I think essentially the component issues request to dataproc and new parameters can be added there.

[2020-02-19 05:57] rmgogogo commented on #3023
+100 to this proposal

[2020-02-19 05:58] rmgogogo commented on #3045
Yuan already did it via another type of dynamic link

[2020-02-19 05:58] #3045 closed

[2020-02-19 06:22] #3110 closed

[2020-02-19 07:08] Bobgy opened #3114 "[UI] TFMA visualization loads slowly"
Part of https://github.com/kubeflow/pipelines/issues/2283

### What steps did you take:
1. visit KFP UI -> run details page -> node details
2. use custom visualization to run tfma visualization

### What happened:
visualization loads slowly with some too many redirect errors like the following:
<img width="1037" alt="Screen Shot 2020-02-19 at 3 04 34 PM" src="https://user-images.githubusercontent.

[2020-02-19 07:14] Bobgy commented on #3114
I'm found root cause for the infinite redirection is:
1. requirejs loads modules from local path first, so it tries to load tfma_widget_js and @jupyter/html-manager from https://281b9edc3093660f-dot-asia-east1.pipelines.googleusercontent.com/ (hosted kfp base path)
2. however, the script runs in a sandboxed iframe, so it cannot use credentials to bypass base path proxy authentication
3. therefore,

[2020-02-19 07:17] Bobgy commented on #3114
A second problem is that, this `@jupyter/html-manager` should already load if user code uses the following
[code]

[2020-02-19 07:18] Bobgy commented on #3114
The unnecessary html-manager comes from https://github.com/kubeflow/pipelines/blob/7ee3244f5b07614d76213c1cc59fcef75f46556c/backend/src/apiserver/visualization/templates/full.tpl#L21 which I believe doesn't load in current use cases.

@ajchili Can you confirm if this is true?

[2020-02-19 07:41] Bobgy commented on #3114
I'm going to verify if removing the addWidgetsRenderer can still allow current supported visualizations for TFDV and TFMA. We can add better support for this later.

[2020-02-19 09:12] Bobgy commented on #2432
Bump priority because I think this help us use new best practices

[2020-02-19 09:21] Kulikovpavel commented on #3069
Same error with other pipelines with gcp-download

[2020-02-19 09:26] Bobgy commented on #3025
Another upstream bug fixed in https://github.com/tensorflow/data-validation/commit/8cb3ca836a64d36a5c57d6d01775c0f5d789117b

[2020-02-19 09:42] sid027 commented on #2561
@JakeTheWise unfortunately not. I am able to still automatically scale if the zone has available hardware. However, I have noticed other major issues.
- I cannot run 2 pipelines at the same time. This is weird that the cluster doesn't just scale up to allow resources. As of now, the second pipeline waits until the first one stops then starts. This could also be because the second pipeline waits fo

[2020-02-19 09:56] Bobgy commented on #3114
Verified tfma visualization still works without addWidgetsRenderer, and saves about 2 seconds from loading.

[2020-02-19 11:22] Bobgy commented on #3070
Made a PR to avoid sending a lot of gke metadata requests in UI: https://github.com/kubeflow/pipelines/pull/3117

This should mitigate most of the issues here.

[2020-02-19 12:04] Bobgy commented on #3070
@frsann @andrewgdavis Do you think the fix https://github.com/kubeflow/pipelines/pull/3118 will be enough for you?

[2020-02-19 13:14] jetbasrawi commented on #3069
Yes, it only happens with the gcp-download component in all the tutorials it is used in. Sequential and parallel

[2020-02-19 13:34] Bobgy commented on #3023
/priority p1

[2020-02-19 20:21] amitripshtos commented on #3101
We have variety of use-cases / stories that will benefit from this feature:
1. A pipeline we created that trains a model that does batch prediction. The last component of the pipeline outputs as an artifact a CSV file with a batch prediction sample. We want a human eye to verify the predictions - making sure the model is valid and fits the business questions asked.

How the feature may help: In ca

[2020-02-19 22:15] andrewgdavis commented on #3070
@Bobgy i think that should do it.

[2020-02-20 03:07] Bobgy commented on #3114
Filed an upstream feature request for @jupyter/html-manager to fix this issue: https://github.com/jupyter-widgets/ipywidgets/issues/2786

[2020-02-20 03:23] Bobgy commented on #3085
It's a good point, we should do this. just that I don't feel this is a p0.

This is an example of how to do this: https://github.com/kubeflow/pipelines/pull/3089/files

[2020-02-20 08:11] limbuu commented on #673
We are having the same issue while adding new pool to the existing cluster.

[2020-02-20 09:43] eterna2 opened #3130 "[SDK] Python light-weight component generated argo template will encounter "argument list too long" error if pickled codes are too big"
### What steps did you take:
- create and compile a pipeline with light-weight python components
- run the pipeline

### What happened:
- op will fail with the error msg "argument list too long"

### What did you expect to happen:
- op to execute normally

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:

The c

[2020-02-20 09:47] eterna2 commented on #3130
![Screenshot 2020-02-20 at 5 30 13 PM](https://user-images.githubusercontent.com/1248825/74921645-072c3d00-5409-11ea-9d61-449d5852f76a.png)

[2020-02-20 11:35] #3070 closed

[2020-02-20 11:41] Bobgy commented on #3070
This issue is resolved by https://github.com/kubeflow/pipelines/pull/3118#event-3055542469.

If you are affected, please add an env variable `DISABLE_GKE_METADAT=true` in `ml-pipeline-ui` deployment.

[2020-02-20 13:43] JakeTheWise commented on #695
@rummens What do you mean? If we are running kfp on our on-prem kubernetes cluster, there are no service accounts.

[2020-02-20 17:51] enriquedacostacambio opened #3133 "Support inline sources in all visualizations"
### Problem
Some visualizations do not support an inline source forcing a superfluous upload to a storage service. (eg: confusion matrix)

### Proposed Solution
#### Option 1: Add inline handling in each visualization type.
Following the current pattern a branch for inlined content can be added to each visualization type that doesn't have inline support already, see the [markdown visualization as

[2020-02-20 20:19] parthmishra opened #3134 ""Request Entity too Large" when saving artifacts"
### What steps did you take:
In my component, I create 2 large CSV files and write them to the file paths given from `outputPath` parameters. These files total to around ~1GB uncompressed.

### What happened:
The files are saved to GCS just fine but the `wait` Argo container in the component Pod fails with these logs:

[code]

### What did you expect to happen:
- Save artifacts to GCS

### Environ

[2020-02-20 22:47] parthmishra commented on #3134
I think I am probably misusing artifacts registry and should probably look towards using something like [Cloud Filestore](https://www.kubeflow.org/docs/gke/cloud-filestore/) seems to fit the use case I was going for. I would still like to understand what this error message means though.

[2020-02-21 10:52] eterna2 commented on #3085
Hey guys, what is ur opinion of using Vega as the main vis dsl? I am a big fan of Vega as I think it is a very good dsl for describing vis.

[2020-02-21 11:10] Bobgy commented on #3074
Verified the urls are still working, it's network errors.

[2020-02-21 11:42] #2452 closed

[2020-02-21 11:42] #2461 closed

[2020-02-21 13:38] eterna2 commented on #3085
And I can implement a purely client-side solution. And all it needs is a json spec of the vis.

[2020-02-21 15:27] Bobgy commented on #2965
/close

[2020-02-21 15:27] #2965 closed

[2020-02-21 16:18] parthmishra opened #3143 "UI Inaccessible via Proxy URL"
### What steps did you take:
- attempted to access the KFP UI via the proxy URL as given by: `kubectl describe configmap inverse-proxy-config -n kubeflow | grep googleusercontent.com`

### What happened:
- Received a Google 504 error in the browser
- The `proxy-agent` Deployment is constantly outputting the following log:
[code]

### What did you expect to happen:
- Be able to access the UI via th

[2020-02-21 17:40] numerology opened #3148 "[Process] Head version smoke test against TFX when release"
Currently some breakages are only observed after version bumping.

We currently have a compilation-only unittest against head version TFX in [here](https://github.com/kubeflow/pipelines/blob/master/.travis.yml#L98). The E2E/CLI tests are missing. Ideally, we can do that through an automated script during each release.

[2020-02-21 17:41] numerology commented on #3148
/cc @neuromage
/cc @ucdmkt
/cc @rmgogogo
/cc @Ark-kun

[2020-02-22 06:32] Bobgy commented on #3085
@eterna2 Thanks for offering the idea, current KFP visualization work focuses on integrating existing jupyter notebook visualizations into KFP UI.

For Vega, sounds like an interesting usage, but I don't have much personal experience, can you open a separate issue to discuss about it? Do we expect data scientists using Vega for visualizations directly?

[2020-02-22 16:00] numerology opened #3155 "[Process] Deprecate Python 2 dependencies"
Python 2 is deprecated and stopped being maintained since this year. We should work on gradually get rid of the Py2 environment.

Some issues already emerged as discussed in https://github.com/kubeflow/pipelines/pull/3152#issuecomment-589936697

[2020-02-22 16:00] numerology commented on #3155
/kind process
/priority p1

[2020-02-22 16:01] numerology commented on #3155
/cc @Bobgy
/cc @chensun
/cc @IronPan
/cc @Ark-kun

[2020-02-23 06:10] Bobgy commented on #2432
This also blocks https://github.com/kubeflow/pipelines/pull/3154.

I'll try to do this in a sooner time frame.

[2020-02-23 13:10] ido-trumer commented on #3101
This can be really helpful, +1

[2020-02-23 13:14] Oranst commented on #3101
+1! I think it's a great idea, right now we use a lot of workarounds in order to achieve such functionality, and it's actually one of the main things that blocks us from moving on with KFP to production..

[2020-02-23 13:34] yoni-taranis commented on #2913
Just updating, that I've added a few short lines of code to add a "Summary" tab to the view
By not defaulting the graph view (which is very heavy to process I guess on a large amount of pods + retries) we are now utilizing the frontend much more.

[2020-02-24 02:01] #3074 closed

[2020-02-24 03:09] rmgogogo opened #3157 "[UI] Support Artifacts/Executions list sorting and filtering"
### What steps did you take:
Go to Artifacts/Executions list. Click sort/filtering.

### What happened:
Artifacts/Executions list's sort and filtering can't work.

### What did you expect to happen:
Let it work or hide the filter/sort before it can work.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscel

[2020-02-24 03:41] Bobgy opened #3158 "test template"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind bug

[2020-02-24 03:41] Bobgy commented on #3158
/close

[2020-02-24 03:41] #3158 closed

[2020-02-24 06:35] Bobgy commented on #2432
I found some breaking changes in jest snapshots, sending a separate PR to prepare those changes first.
https://github.com/kubeflow/pipelines/pull/3159

[2020-02-24 09:39] Ark-kun commented on #3155
The SDK is already Python3 only.

Some 1st-party components might still use use Python2, but they're standalone.

[2020-02-24 09:41] Ark-kun commented on #3078
Sounds good.

[2020-02-24 14:26] damngamerz opened #3162 "Unable to visualize any HTML content"
### What steps did you take:
[A clear and concise description of what the bug is.]
I tried
[code]
### What happened:
I'm unable to see the output artifacts, also tried it in visualize.
KFP version:
0.2.4
/kind bug

/area frontend

[2020-02-24 14:54] NikeNano commented on #3101
I would be happy to help you out implementing this @amitripshtos if you like some help on it?

[2020-02-24 16:14] doepking commented on #3069
I'm encountering the same issue when running gsutil commands within a Kubeflow pipeline:

`import sh

from = gs://test/test.csv
to = /tmp/test.csv

sh.gsutil('cp', from, to)
`

[2020-02-24 16:50] doepking commented on #3069
Seems to be a GKE metadata server related issue. Recently, usage of the Google Cloud SDK in Kubeflow was not possible at all, see: https://github.com/kubeflow/kubeflow/issues/4607

I tested a possible workaround, using a service account JSON file, i.e. specification within the Dockerfile and activation via:

[code]

Alternatively, activation within Python code:

[code]

[2020-02-24 19:41] amitripshtos commented on #3101
Sounds great, please send me a mail to amit@noogata.com and we will take it from there? @NikeNano

[2020-02-24 20:56] NikeNano commented on #3101
Great, I have sent an email to you .

[2020-02-24 22:00] Jeffwan opened #3164 "mlpipeline-metrics not found"
### What steps did you take:
I just install v1.0 and kick off Exit-Handler pipeline.

### What happened:

Checking pipeline logs, I get
[code]
![image](https://user-images.githubusercontent.com/4739316/75194905-d6504e80-570d-11ea-977f-885605d40bbd.png)

### What did you expect to happen:
It suppose to have a `run/` in minio bucket.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
us

[2020-02-24 22:08] Jeffwan opened #3165 "Frontend UI takes long to render the page"
### What steps did you take:
Randomly click pipeline and experiments tab.

### What happened:

It's pretty slow and seems calls didn't come into pipeline backend because there's no logs.
![image](https://user-images.githubusercontent.com/4739316/75195508-ec124380-570e-11ea-8962-3d9307c3c6a3.png)

After half minutes. I get result returned.

![image](https://user-images.githubusercontent.com/4739316

[2020-02-25 00:48] rmgogogo commented on #2920
We may try to use gcloud python library and then call it like following (didn't verify yet). just leave memo here.

[code]

[2020-02-25 01:05] #2432 closed

[2020-02-25 04:29] Bobgy commented on #2732
In #2676, I have installed react-testing-library, will continue to write new tests with it.

I'll consider migrating existing tests when there's such a need.
/close

[2020-02-25 04:29] #2732 closed

[2020-02-25 07:13] Bobgy commented on #1711
I think this would be very useful for debugging, also aligns with https://github.com/kubeflow/pipelines/issues/3112

[2020-02-25 08:19] Bobgy commented on #3165
@Jeffwan the issue seems a duplicate of https://github.com/kubeflow/pipelines/issues/3070.
Did you try ml-pipeline-ui 0.2.4? It should mitigate the most and you can further reduce the impact by https://github.com/kubeflow/pipelines/issues/3070#issuecomment-588978533

[2020-02-25 08:21] Bobgy commented on #3162
Thanks for the report! I'll try to reproduce

[2020-02-25 08:32] #1414 closed

[2020-02-25 08:32] #2560 closed

[2020-02-25 08:32] #2652 closed

[2020-02-25 08:34] amitripshtos commented on #3101
The SDK part is done (also with tests)
Will work today on the backend side.

[2020-02-25 08:55] Bobgy commented on #2913
@yoni-taranis Awesome, that sounds a reasonable solution.

Do you want to contribute the solution here? I think it makes sense if UI detects how many nodes there are in the graph, and if it is huge, fallback to display the overview.

[2020-02-25 09:04] yoni-taranis commented on #2913
@Bobgy I will need to refactor it a little bit to make to contribute, I will find the time to do it soon and create a PR.

[2020-02-25 09:08] Bobgy commented on #3143
We don't provide instructions for IAP, but if you know how to do it, definitely, that's a choice. You can either fork kustomize manifests, or write your own overlay that overrides existing one: https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#best-practices-maintaining-custom-manifests.

A quick try: can you try deleting the proxy-agent pod to restart it? I've seen a tra

[2020-02-25 09:17] Bobgy commented on #3109
Thanks for the report, I will try to reproduce

[2020-02-25 09:20] Bobgy commented on #3133
That sounds like a good idea. Do you want to contribute?

[2020-02-25 09:26] Ark-kun commented on #2942
Graph components will allow you to automatically parallelize and intermix all child components.

I'll try to fix/implement the preservation of the task kubernetes options.

[2020-02-25 12:46] jingzhang36 commented on #3098
@discordianfish Thank you very much for the fix. Just one thing: do you mind adding a comment to the rows.close() line, stating that the variable "rows" shouldn't be used after that point (i.e., after it is closed).  I am thinking of later updates to these two files accidentally referring to "rows" after it is closed and causes errors. Thanks!

[2020-02-25 13:48] discordianfish commented on #3098
@jingzhang36 Okay, I thought that goes without saying but I've added a comment.

[2020-02-25 15:05] parthmishra commented on #3143
I've killed the proxy-agent pod a few times and the issue is still occurring

[2020-02-25 16:17] parthmishra commented on #3143
I deleted the data in the `inverse-proxy-config` ConfigMap and restarted the pod to see if I could get the proxy agent to register as a new backend rather than reuse the existing one and it worked, except now I'm at a different proxy URL (since a new backend id) was generated. Perhaps this is an issue with authenticating an existing backend? If so it might be upstream issue with
 the (inverting-pr

[2020-02-25 16:42] jlewi commented on #2538
/cc @ucdmkt

[2020-02-25 16:44] jlewi commented on #1691
@Bobgy is it possible for a user to set the KSA when using TFX?

/cc @ucdmkt

[2020-02-25 16:49] numerology commented on #1691
@jlewi
If you're talking about using [KubeflowDagRunner](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/kubeflow_dag_runner.py#L205), currently it's not supported, but I think it's definitely doable.

Is there any use case/feature depending on this? Thanks!

[2020-02-25 17:02] JakeTheWise commented on #2942
Awesome, thank you!

[2020-02-25 18:33] Jeffwan commented on #3165
@Bobgy Sure. Let me have a try. In v1.0 release, we are still using 0.2.0? Any chance to bump up the version if there're lots of improvement there.

[2020-02-25 21:32] parthmishra opened #3169 "Metadata SDK compatability with KFP standalone"
I'm confused on what the status of the Metadata service with regards to full Kubeflow versus standalone KFP since I seem to recall they have diverged for some reason. Specifically, I want to know if it's supposed to be possible to use the Metadata SDK within KFP standalone.

I tried using it but got an unknown type for `kubeflow.org/alpha/execution`. Has the schema changed at all?

[2020-02-25 23:33] Shasvat0601 commented on #2627
@pavankumarboinapalli @eterna2
what do you mean by ml-pipeline UI pod here?
how do I pass my aws credentials into UI pod

I am facing similar issue. Pipeline UI gets 500 error: access denied when it tries to read data for confusion matrix from  s3
any help is appreciated
Thank you!

[2020-02-26 03:04] Bobgy commented on #3165
This might be a good enough reason to bump, I will sync with @jlewi about this.

[2020-02-26 04:11] eterna2 commented on #3169
I have not got time to try the metadata service, but from what I understand PR #2674 adds a metadata writer service which logs the execution and artifacts input/outputs automatically for any running pipelines.

And I dun think it diverge, rather the main manifest is slower? (I am not sure, i think the sdk moved from rest to grpc, which some breaking change - i probably need to use the right versio

[2020-02-26 06:31] Bobgy commented on #3025
We can use https://github.com/tensorflow/data-validation/releases/tag/v0.21.2.

[2020-02-26 06:33] Bobgy commented on #2806
/close
Looks like the issue is fixed

[2020-02-26 06:33] #2806 closed

[2020-02-26 06:35] Bobgy commented on #2283
p0 issues solved

[2020-02-26 07:07] Bobgy commented on #3025
Changed to p1, because @rmgogogo has https://github.com/kubeflow/pipelines/pull/3089 to workaround the issue. We can switch back to tfdv package now as a clean-up.

[2020-02-26 07:08] Bobgy commented on #3025
/assign @jingzhang36
Can you do the follow up clean up?

[2020-02-26 07:20] Ark-kun commented on #3164
Did you run a preloaded pipeline or did you compile/submit it yourself?

[2020-02-26 07:23] Ark-kun commented on #3134
Usually this error means that you're **consuming** those artifacts as values. This causes Argo to inject the value in the Workflow spec and later inject it in the command-line. This is impossible with large files.
Check your consumers -they should be using `inputFile`, not `inputValue`.

[2020-02-26 07:25] Ark-kun commented on #3095
is it possible to just use http in this case?

[2020-02-26 07:26] andaag commented on #3095
That would be great, but I don't think that's currently possible in the sdk.

[2020-02-26 07:28] Ark-kun commented on #3085
If possible, can we refactor visualization to move the visualization codes to `/components/visualizations/<data type>/`?
We could have them as proper components that receive the data or URI and output HTML or Markdown.

[2020-02-26 08:30] Bobgy commented on #3085
@Ark-kun thanks! that's a good idea to me. Current visualization doesn't take any parameters, sounds like it would be better as components instead.

[2020-02-26 09:54] #3098 closed

[2020-02-26 13:47] Bobgy commented on #3162
I think source field doesn't mean HTML source, but a source url where you stored the html content.
reference: https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#web-app

but I haven't got it working too

@numerology @Ark-kun Can you help with this?

[2020-02-26 14:30] parthmishra commented on #3169
That metadata writer seems interesting, are there any docs for it or tutorials?

[2020-02-26 17:08] shotarohorai commented on #3164
I got the same error. It is emitted constantly.

In my case, I compile and submit runs by myself.

[2020-02-26 17:16] numerology commented on #3162
IIRC you need to declare `/mlpipeline_ui_metadata.json` as an output artifact. You can check it's usage at [confusion matrix component](https://github.com/kubeflow/pipelines/blob/master/components/local/confusion_matrix/component.yaml). Merely dumping the file without declaring the output might not be sufficient.

[2020-02-26 17:35] numerology commented on #3162
I think @Ark-kun is working on de-hardcoding that constraint.

[2020-02-26 19:38] Shasvat0601 commented on #1131
@Jeffwan @karlschriek
Do we have aws s3 based e2e examples available yet?

[2020-02-26 20:48] Shasvat0601 commented on #1610
`Or if you are using API key, u can pass them to the UI pod via environment variables.`
Can you explain in a bit more detail about how should we do this?
@eterna2

[2020-02-26 23:09] Jeffwan commented on #3164
I use preload pipeline `exit-handler` the first one.  I create a run on pipeline ui.

[2020-02-26 23:55] Shasvat0601 commented on #2627
@eterna2 @pavankumarboinapalli @Ark-kun
I am attaching the AWS credentials ENV in pipeline UI by mounting the secret as a volume

Still I get 500 error: access denied when the pipeline UI tries to fetch my source for confusion_matrix from s3 location.

What can be causing this?

Containers:

ml-pipeline-ui:

[code]

[2020-02-27 01:40] Bobgy commented on #3133
I tried to use this in https://github.com/kubeflow/pipelines/issues/3162.
Inlining source file content is sooo much easier to integrate.

Bumped priority.
/assign @Bobgy
I will do this.

[2020-02-27 02:59] Bobgy commented on #3162
@damngamerz FYI, I just sent a PR to support inlining HTML visualization.
You need to store metadata like
[code]

[2020-02-27 03:36] Bobgy commented on #3133
FYI, I chose option 1, because of consistency with existing example, and the duplication can be easily avoided by sharing a common utility function.

[2020-02-27 03:40] Bobgy commented on #3162
and if you are using lightweight component, here's how to do it
[code]

[2020-02-27 03:45] Bobgy commented on #3133
/reopen
One last TODO item:
* [ ] Update documentation after release: https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

[2020-02-27 07:21] Bobgy commented on #3164
Also
/assign @jingzhang36

[2020-02-27 07:22] Bobgy commented on #3164
@jingzhang36 this looks like a blocking issue, would you mind taking a look?

[2020-02-27 07:26] Bobgy commented on #3143
I'm glad you found a solution. Were there anything special with your deployment? Did you do it in an empty cluster? or did you upgrade ...?

[2020-02-27 07:31] Bobgy commented on #3130
/assign @Ark-kun
/assign @hongye-sun
/assign @numerology
Sounds like a good idea to me, but I am not familiar with this area.

[2020-02-27 07:35] Bobgy commented on #2977
@jingzhang36 I think all work is done here, is that right?
Can you link all relevant PRs for tracking purpose?

[2020-02-27 08:56] Bobgy commented on #3105
I think there are two related PRs, but I'm not sure about lateset status.
https://github.com/kubeflow/pipelines/pull/2978
https://github.com/kubeflow/pipelines/pull/2981
/assign @Ark-kun
/assign @numerology

[2020-02-27 10:45] eterna2 commented on #2627
hi @Shasvat0601

You can look at https://github.com/e2fyi/kubeflow-aws/tree/master/pipelines for a manifest that support using S3 as the backend instead of minio.

Specifically, you shld look at https://github.com/e2fyi/kubeflow-aws/blob/3220922250ccb9b6207c8fb4fe60db3669ff0508/pipelines/overlay/accesskey/aws-configurations-patch.yaml#L40

on how to mount an AWS credential secret. The link above d

[2020-02-27 15:34] parthmishra commented on #3143
My initial installation was on an empty cluster with version 0.2.0 and then I've been upgrading the installation using Kustomize overlays as documented. The only other customizations I have been using are the GCP Cloud SQL and GCS patches.

[2020-02-27 15:35] Bobgy opened #3182 "[Tutorial] lightweight component tutorial has bad metadata usage"
### What steps did you take:
[A clear and concise description of what the bug is.]
This tutorial: https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/mnist/01_Lightweight_Python_Components.ipynb.
It doesn't send metadata output correctly, because https://github.com/kubeflow/pipelines/issues/3162#issuecomment-591540614

### What happened:
The metadata doesn't show up in UI.

### Wha

[2020-02-27 15:37] Bobgy commented on #3182
/assign @luotigerlsx
/assign @saurabh24292

[2020-02-27 16:17] Bobgy commented on #3143
Thanks!
I think I read an outage about inverse proxy at a certain time, but I don't know exact details now. That looks related. I will get back to you with some investigation.

[2020-02-27 18:36] Shasvat0601 commented on #2627
hi @eterna2
Thank you for your reply. Appreciate it :)
Could you tell me what does this line mean?
`Volume mounting the secret will not work, as we are not using AWS official client (we are using minio).`

[2020-02-27 18:44] pselden commented on #2977
Does the sdk still need to be updated? I looked through some of the client.py files and couldn't find anything related to this.

[2020-02-27 18:49] mattnworb commented on #2500
@numerology seems like that has now been upgraded to KFP 0.2.0 https://github.com/kubeflow/manifests/commit/16c20a9cd736f168d82d161f2a5d82e127d518a9

[2020-02-27 20:03] Jeffwan commented on #1131
We do have examples using aws secret. Once you have permission, you can use s3 on your own. Do you have anything specific in mind? We can add more examples

[2020-02-27 23:16] amygdala commented on #2995
Closing this— as the basic issue was that the docs need to be updated. (the docs bug ref'd above should still stay open).

[2020-02-27 23:16] #2995 closed

[2020-02-27 23:39] Ark-kun commented on #3182
Please note that this is not our 1st-party tutorial. It's contributed by external people and should be moved to contrib.

Our main Lightweight component sample in `samples/core` has correct usage.

[2020-02-28 00:01] Jeffwan opened #3185 "Update taxi pipeline example with latest beam with S3 support"
### Improvement:

We have a lot of pain in https://github.com/kubeflow/pipelines/issues/596. AWS user have to use EFS or other ReadWriteMany storage for taxi examples. S3 FileSystem (Python) has been implemented in Apache-Beam 2.19.0, then we can leverage this to simplify taxi example.

[2020-02-28 00:02] Jeffwan commented on #3185
/cc @PatrickXYS will help on the example update.

[2020-02-28 00:11] numerology commented on #3185
Cool! Thanks for willing to help

[2020-02-28 01:23] luotigerlsx commented on #3182
Hey, I am happy to get it fixed.

[2020-02-28 05:42] eterna2 opened #3187 "[Design Proposal] Vega/Vega-Lite as visualization dsl for Kubeflow metadata-ui"
### Background
Currently, kfp manages visualization through a collections of [`viewer` components](https://github.com/kubeflow/pipelines/tree/master/frontend/src/components/viewers).

Ignoring viewers like markdown, html, tensorboard, etc, visualization in kfp can be separated into 2 groups:
- pre-created vis by kfp developer with `react-vis` (usually via metadata-ui artifacts)
- pre-defined and u

[2020-02-28 05:48] eterna2 commented on #3085
hey I created a issue to describe more on my idea #3187

I don't think vega will solve the issue with existing integration with jupyter notebook vis (unless they are using py lib like https://altair-viz.github.io/ ).

But I think it is very useful moving forward, for more general use cases (i.e. data that do not have a handy lib to generate the vis) and for `ml-pipelines-ui-metadata.json`

- it is

[2020-02-28 06:06] Bobgy commented on #3187
Thanks for the suggestion. This is a great idea!
I have some concerns about integrating vega as a first party visualization:
1. How popular is it among data scientists?
2. How big is bundle size, do we need to include both vega and vega-lite?

Would it be enough if we provide some documentation of using them with embeded HTML?
e.g.  https://vega.github.io/vega-lite/usage/embed.html#start-using-veg

[2020-02-28 08:42] eterna2 commented on #3187
`How popular is it among data scientists?`

Hard to quantify it's popularity as there are too many vis tools out there.

It is probably more an engineer tool rather than a data scientist tool - as in it is generally used more as a specification for vis (i.e. instead of saving png of the charts, you save the spec together with ur experiment metadata, params, dataset, etc).

For data scientist, they

[2020-02-28 09:02] eterna2 commented on #3187
Something like this

![](https://api.e2.fyi/vega?mode=img&spec=GYcwkgglYNYMYCYByB7AWgdQIwAsIBEooAhFAEwAkAlAdzgC8UA3AGQGY0AbNBAUQFcenAAwBDCgDUAliwC2nVmyQArUQHEJAFwCaAZQCcCTGRwsMADwAOZNQFUmZZQEV+ogHZImAIxAQn6iUseHGEIAAUUIgI0NQAxYW0nAGEpKIg3CQBPLwhiPCJxKmE4CgBZADYWTP0YUtlYmCRZMGEyAA0wNgBTNrQ6XQBWZS81fSwYtGyEAeE5Ac4yJP1+bTaqLDh6gGdMWMybEE1SzIAWehZlCG9ZCWBSgBVeGi8JfWe2YiwR+MwqYDg1OYcNoEBJ6G0lJYvG1iDtBm

[2020-02-28 09:22] Bobgy commented on #3187
I think my main argument is that, vega support is a feature that can be made convenient completely by 3rd party library/components, so I'm not seeing strong enough reason to integrate it in KFP system.

Because there are also other visualization libraries and new libraries coming out. If we re-implement or introduce new first-party visualizations using vega directly, then it's probably worth it to

[2020-02-28 09:26] jingzhang36 opened #3190 "Tensorboard support for TB in KFP"
For a keras based pipeline, .e.,g  https://github.com/kubeflow/pipelines/pull/3119, the TB got broken due to not founding event files https://screenshot.googleplex.com/haYBVVZA7X5

[2020-02-28 10:02] eterna2 commented on #3187
yeah, i agree with you on that. I probably can build it as an extension/plugin outside of kfp.

But what do u think about my suggestion of adding a vis sdk in the kfp dsl? Not about vega but more on my pain with `/mlpipeline-ui-metadata.json`.

Cuz the biggest pain point for me when creating kfp ops is remember the path and the format (i.e. how to populate this json).

I am proposing to add a `kfp

[2020-02-28 10:14] Bobgy commented on #3187
@eterna2 I'm no expert on sdk, but personally it also took me some hard time to figure out how to write metadata with sdk, so I'd prefer sdk have builtin support.

/cc @Ark-kun
/cc @hongye-sun
/cc @numerology
for sdk related proposal

[2020-02-28 10:46] Bobgy commented on #3143
I don't think the issue I saw was related, it was at a different date.

@IronPan Do you have any idea about this issue?

[2020-02-28 11:43] Bobgy commented on #3109
Okay, I reproduced the issue, digging what was wrong here.

[2020-02-28 18:06] holdenk commented on #2958
Just following up: do we not expect folks to use TFX as part of a Kubeflow pipeline? I want to make sure I capture this correctly in the book I'm working on.

[2020-02-28 20:29] Ark-kun commented on #3130
What's the size of the command-line where you experience the problem? BTW, we can also gzip the pickle data to make it smaller.

The fix that you propose might be pretty hard given the current architecture.
The component architecture does not let you specify argument values in the component (that would make the Component a Task). There are default input values, but putting the code there looks lik

[2020-02-28 20:31] Ark-kun commented on #3130
This seems a bit heavy-weight =)

[2020-02-29 02:52] Bobgy commented on #2977
@numerology @Ark-kun Do you know answer to above question?
Is regenerating server api client enough? (I did that in 0.2.5 release)

[2020-02-29 04:17] PatrickXYS commented on #1779
Willing to help, and will send a PR for adding support a delete PVC op.

[2020-03-01 09:27] yoni-taranis commented on #2999
Just an update,

To make this work:

I had to change
[code]
to
[code]
        parameters=api_params)

[2020-03-02 00:07] eterna2 commented on #3187
Ok, I created a kfx package at https://github.com/e2fyi/kfx/ to demonstrate my idea.

It works now, although I feel it is abit convoluted.

In this example, I am using `ArtfactLocationHelper` to modify the kfp task with env variables that contains metadata about the Argo configs (needs to be inputted by user)
- then I use `KfpArtifact` to retrieve these metadata to generate the url (to be used as

[2020-03-02 00:09] eterna2 commented on #3187
I also written the pydantic data models for the `mlpipeline-ui-metadata` and generated the corresponding json scheme for the file.

[2020-03-02 00:17] eterna2 commented on #3130
I need to check, we used a combination of Alpine and Debian, not sure which one for this error.

We hit this error when our code is only moderately big.

Let me check with our data scientist.

[2020-03-02 01:08] Bobgy commented on #3187
@eterna2 Looks great!
A quick question: is it a requirement to store visualization data in external source? If you just store it inline inside mlpipeline-ui-metadata, then user doesn't need to know so much other context.

I guess you have good reasons to do so, just wanting to know.

[2020-03-02 01:53] eterna2 commented on #3187
Depends on the data size. For small dataset, we probably can inline.

Becuz my prev use cases are mostly geospatial simulation which generates quite a bit of logs.

And usually we want to store these logs separately.

[2020-03-02 01:54] eterna2 commented on #3187
But I agree that inline shld solve 90% of the use cases.

[2020-03-02 01:58] eterna2 commented on #3187
In this case, I probably can provide helper classes to convert sklearn confusion matrix etc into inline UI metadata.

[2020-03-02 02:19] Bobgy commented on #3187
I see, external source is definitely needed if data size is huge or ACL is needed on the data. That seems like complexity unrelated to KFP. A helper sdk will be helpful in this case.

Also for inline cases, helper is as good as 1st party integrations.

[2020-03-02 04:24] #3109 closed

[2020-03-02 15:30] Kulikovpavel commented on #3069
Still same error with kubeflow 1.0

[2020-03-02 16:10] amitripshtos commented on #3169
The metadata write automatically writes executions and artifacts to the MLMD and it works (version 0.2.2). You can connect to the MLMD manually inside a pipeline using the python SDK.

[2020-03-02 19:06] cjwagner commented on #1653
This is still an issue. Please address!
https://github.com/kubeflow/pipelines/pull/3197
https://prow.k8s.io/tide-history?repo=kubeflow%2Fpipelines

[2020-03-02 21:34] haim-co-moonactive commented on #2742
I got this error as well. Anything new with this issue?

[2020-03-03 00:26] jingzhang36 commented on #3190
After some test, it turns out that Keras pipeline actually works along with Tensorboard just fine *without any change* to KFP, because our TB instance monitors the whole output artifact directory (ie.,. the parent directory of the event log directory). The MLMD change wouldn't be necessary IMHO.

I tested with the example pipeline from https://github.com/kubeflow/pipelines/pull/3119 and with the i

[2020-03-03 00:26] #3190 closed

[2020-03-03 00:34] eterna2 commented on #3187
I encountered some issues getting my artifacts to work inside the iframe as the iframe does not provide `allow-same-origin` permission - request origin = null.

The only 3 solutions I see are:
- only support inlined data
- add CORs flag to the node server (as a param)
- add allow-same-origin permission to the iframe.

Both seems equally risky from security pov.

[2020-03-03 00:37] Bobgy commented on #1653
/assign @jingzhang36
for backend tests
/assign @Ark-kun
for python tests

We will prioritize this after recent release.

[2020-03-03 01:39] Bobgy commented on #3187
Yes, the visualization is expected to only access inline data and open data for security reasons.

[2020-03-03 07:51] Bobgy commented on #3055
/reopen
There is also sdk support left, we need to add it in https://github.com/kubeflow/pipelines/blob/fc13417362350f1cad10216dae52bfdfc196a2d4/sdk/python/kfp/_client.py#L412

[2020-03-03 12:11] Bobgy commented on #3164
Just confirmation, were there any errors in the pipeline log? Did it download data successfully?

And is this a duplicate of https://github.com/kubeflow/kubeflow/issues/4803?

[2020-03-03 14:27] sadeel opened #3206 "Importing kfp results in ModuleNotFoundError: No module named 'deprecated.sphinx'"
### What steps did you take:
pip install kfp
python3

### What happened:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/google/home/sadeel/testenv/lib/python3.7/site-packages/kfp/__init__.py", line 17, in <module>
    from . import components
  File "/usr/local/google/home/sadeel/testenv/lib/python3.7/site-packages/kfp/components/__init__.py", line 15,

[2020-03-03 15:08] mathieulallier807 commented on #3014
After much trying, this is how I managed to do it:

In the pyspark operator, you can have a pyspark_job parameter where you can add a dictionary of properties like so:

``` pyspark_job={"properties": {"spark.jars.packages": "com.johnsnowlabs.nlp:spark-nlp_2.11:2.4.0"}}```

[2020-03-03 15:08] #3014 closed

[2020-03-03 17:02] jangold-miovision opened #3207 "Released code in PyPI doesn't match tagged version + release from github"
### What steps did you take:

I'm installing the kubeflow pipelines sdk (`kfp=0.2.5`) through the conda feedstock https://github.com/conda-forge/kfp-feedstock/blob/master/recipe/meta.yaml , which just repackages the archive from https://pypi.org/project/kfp/#files . However, the contents of that archive do not match the contents of the github-released archive from https://github.com/kubeflow/pipel

[2020-03-03 22:31] xiaohanhuang opened #3210 "add an optional name for dsl.Condition"
In the pipeline graph, condition-1, condition-2 etc are not informative. Allow a name param in the constructor would be helpful.

[2020-03-03 23:39] Ark-kun commented on #3206
Please show the log for `pip3 install kfp`. It should install the `deprecated` package

[2020-03-04 01:13] #3182 closed

[2020-03-04 01:52] rmgogogo commented on #3207
thanks, the reason is that we released 0.2.5 for 3 times due to some issues found in backend. No changes in SDK but it's rebuilt and I didn't upload the last build. So no feature diff.

I will upload it to PyPI to avoid confusion. ETA: <8 hours.

[2020-03-04 02:29] rmgogogo commented on #3101
/cc jingzhang36

[2020-03-04 02:43] Bobgy commented on #3101
/cc @jingzhang36
/cc @IronPan
for backend review

[2020-03-04 02:44] Bobgy commented on #3182
@luotigerlsx Thanks for the fix!

[2020-03-04 03:00] rmgogogo commented on #3207
I just tried to replace the PyPI 0.2.5 with the github one but PyPI doesn't allow replace a released binary. So I can't replace that one.

We have two options:
1. Release a 0.2.5.1 to it. However it also introduce issue that people may wondering why there is no 0.2.5.1 in Github.
2(preferred). We wait for next release to include it. Meanwhile, you can use the one in Github which contains PR3173.

[2020-03-04 05:46] jingzhang36 commented on #3101
/amitripshtos Thanks for the detailed user scenarios! One thing I would like to double check is whether the human intervention at a particular step would impact the output of this step and hence impact the following steps' execution. In other words, could the final result (say the prediction model) be different depending on how the human intervenes at some intermediate steps? The reason I am askin

[2020-03-04 05:56] Bobgy commented on #3061
@rmgogogo Can you assign a priority for this?

[2020-03-04 05:59] Bobgy commented on #3095
Sounds like we should support using http in sdk?
/area sdk/client

[2020-03-04 06:01] Bobgy commented on #3210
/assign @Ark-kun @numerology @hongye-sun

[2020-03-04 06:04] Bobgy commented on #3207
I have been using 0.2.5.1 like versions before to just patch sdk, I think it's good too.

[2020-03-04 06:07] Bobgy commented on #3185
/assign @PatrickXYS

[2020-03-04 06:14] Bobgy commented on #3104
/assign @hongye-sun @Ark-kun

[2020-03-04 06:20] Bobgy commented on #3057
@rmgogogo I cannot find any usages by code search, what are you referring to?

[2020-03-04 06:41] amitripshtos commented on #3101
Thanks for the quick response!
I think it's up to the pipeline author to decide whenever it will change the data or not, and I will explain:

There are cases that there must be a human validation in order to continue the pipeline, such as:
1. A step that does a batch prediction and gives samples as an artifact in order to manually validate. In case the user resumes the pipeline the next step can b

[2020-03-04 07:39] Bobgy commented on #3101
[code]
Can you elaborate on separating pipelines cause MLMD to be useless?

We can find lineage relationship from the final artifact back to artifacts the second pipeline used, therefore back to the first pipeline. Maybe I'm missing some context here.

[2020-03-04 10:39] jingzhang36 commented on #2977
I feel using the generated server api client would be ok as long as I can find a way to load a local file to io object and pass to the generated api method. Let me try to make up an example and post it here

[2020-03-04 11:24] amitripshtos commented on #3101
Sure,
Let's say the first pipeline ends with an artifact, and after this pipeline ends we need some manual intervention.

When this intervention completes, we want to start the second pipeline (not by hand, rather using API). Without the suspense feature, the only way to do that is to:
Make the first step in the second pipeline to retrieve the artifact from the first pipeline using minIO client +

[2020-03-04 12:49] jonasboecquaert opened #3214 "build_image_from_working_dir fails with AccessDenied Error"
### What steps did you take:
I wanted to create a custom image to use in my pipeline. The code i executed is the following:
![image](https://user-images.githubusercontent.com/61783972/75879299-74819a00-5e1b-11ea-99c1-90fd6d1a074c.png)
I'm however getting an error when i try executing this code block.

### What happened:
I got an AccessDenied error
![image](https://user-images.githubusercontent.com

[2020-03-04 12:50] jonasboecquaert commented on #3214
@svendegroote91

[2020-03-04 15:06] jangold-miovision commented on #3207
What's the ETA on the next release? I'm evaluating KubeFlow at the moment (i.e. until the end of this week) and it'd be really handy to have working scheduling in the client.

[2020-03-04 22:08] #3055 closed

[2020-03-05 03:37] jingzhang36 commented on #2977
@pselden with kfp 0.2.5, you can do

import os
import kfp
myfile = os.path.join(<your local pipeline file>)
client = kfp.Client(<host>)
client.pipeline_uploads.upload_pipeline_version(myfile, pipelineid=<id of the pipeline you want to create version under>, name=<version name by your choice>)

Also note: pipelineid and name are both strings.

[2020-03-05 03:39] Bobgy commented on #2977
To add to above comment, you also need to upgrade `kfp-server-api` package to 0.2.5

[2020-03-05 03:55] Bobgy commented on #3207
Usually, it will be next week.
But I'd rather suggest you to use auto-generated apis instead, current sdk implementation hasn't exposed all features.
I'll put up an example here.

[2020-03-05 04:26] Bobgy commented on #3207
@jangold-miovision
Here's an example you can follow

[code]
And here's respnose
[code]

[2020-03-05 04:29] Bobgy commented on #3207
And you can reference api in https://github.com/kubeflow/pipelines/blob/master/backend/api/job.proto#L194.

[2020-03-05 04:50] Bobgy commented on #3207
@rmgogogo I think release inconsistency is also an issue we'd like to solve, shall we plan for branch based release to solve this?
Feels like p1 to me because it may constantly be a confusion.
/priority p1

[2020-03-05 05:58] Bobgy commented on #3069
Hi all, this is a duplicate of https://github.com/kubeflow/kubeflow/issues/4803.

The permission error is misleading, it should tell you don't have permission to use that bucket, because `pipeline-runner` service account isn't bound to any Google service account in KF 1.0 by default. (KF 1.0 now recommends using [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-id

[2020-03-05 06:11] Bobgy commented on #3069
You may still see intermittent timeouts with the `gcp-download` component released in KFP 0.2.0 (included in KF 1.0). That's because its google cloud sdk client version is too low, a fix is in later releases https://github.com/kubeflow/pipelines/pull/3019 (I think it went into 0.2.3).

[2020-03-05 06:21] Bobgy opened #3216 "[Doc] Documentation about kfp generated api python sdk"
There has been quite some pain for @jingzhang36 and me to figure out how to use generated sdk client. Also, many users clearly don't know how to use it either.

Related context
* https://github.com/kubeflow/pipelines/issues/2977#issuecomment-595011702
* https://github.com/kubeflow/pipelines/issues/3105
* https://github.com/kubeflow/pipelines/issues/3207

I wonder how we can improve it. Can we do t

[2020-03-05 06:22] Bobgy commented on #3105
FYI, I wrote an example for how to use it in https://github.com/kubeflow/pipelines/issues/3207#issuecomment-595022025

[2020-03-05 06:22] Bobgy commented on #3105
@sh-tatsuno

[2020-03-05 08:04] Bobgy commented on #2773
@yantriks-edi-bice Sorry for late notice, you probably also need to upgrade your google/cloud-sdk client versions as mentioned in https://github.com/kubeflow/pipelines/issues/3069#issuecomment-595047150

[2020-03-05 08:06] Bobgy commented on #2773
It seems the original issue is a GKE workload identity problem, closing now.
/close

[2020-03-05 08:06] #2773 closed

[2020-03-05 10:32] saschagrunert commented on #1654
Since https://github.com/argoproj/argo/issues/2095 seems closed, @rafalbigaj do you still have issues with running Kubeflow on OpenShift and CRI-O?

[2020-03-05 14:00] rafalbigaj commented on #1654
@saschagrunert the fixed argo executor works well with Kubeflow on OpenShift when I specify version manually. Thanks

[2020-03-05 14:04] saschagrunert commented on #1654
Thanks, what do you mean with:

Do you still change the argo configuration? Do you use PNS?

[2020-03-05 15:46] Bobgy commented on #2742
@haim-co-moonactive Can you provide stack trace for the issue?

[2020-03-05 19:18] parthmishra opened #3221 "Return dict from lightweight python component"
Not sure if this is a bug or intended, but if I try to create a lightweight python component like so:

[code]
This fails to be serialized, but if I do a named tuple, it does work:

[code]

[2020-03-05 19:39] pselden commented on #2977
Thanks. Do you happen to know if this will be added to the CLI as well?

like `kfp upload --name <name> --version <version>`?

[2020-03-05 23:54] xiaohanhuang opened #3222 "XGBoost pipeline failed"
### What steps did you take:
Create a run with example XGBoost pipeline but failed first step

### What happened:
Here is the log:

INFO:googleapiclient.discovery:URL being requested: GET
https://www.googleapis.com/discovery/v1/apis/dataproc/v1/rest
INFO:root:Fetching latest pod metadata: xgboost-trainer-2bcw7-3224152408.
INFO:root:Start KFP context with ID: 2e7d9a2b5a83c0bdc5de0ae5ebb64432.
INFO:

[2020-03-06 03:26] Bobgy commented on #1915
@gaoning777 @hongye-sun Is this still an issue?
Can we close?

[2020-03-06 04:50] pahask8 commented on #2977
@jingzhang36 Thank you for sharing this example. Right now the kfp  package does not support this version: https://github.com/kubeflow/pipelines/blob/ee525b91cb40c4dee7c64019a857cc8bbdc6b7fc/sdk/python/requirements.txt#L13. Will it be updated soon?
Thank you

[2020-03-06 04:53] numerology commented on #2977
Sorry for the confusion. `kfp-server-api` does not have a consistent version number with KFP SDK package.

So if you deploy KFP with version 0.2.5 and use KFP SDK version higher than 0.2.5, it works.

[2020-03-06 04:57] Bobgy commented on #2977
@numerology I just released kfp-server-api 0.2.5
Looks like we need to update https://github.com/kubeflow/pipelines/blob/ee525b91cb40c4dee7c64019a857cc8bbdc6b7fc/sdk/python/setup.py#L35

[2020-03-06 04:57] numerology commented on #2977
Ah got it.

[2020-03-06 06:18] Bobgy opened #3223 "[Visualization] Upgrade tfma to 0.21.5 and remove the hack"
/assign @jingzhang36
Context: https://github.com/tensorflow/model-analysis/issues/10#issuecomment-595618035

[2020-03-06 07:20] Bobgy commented on #3078
TODOs:
* [x] backend and sample-test: https://github.com/kubeflow/pipelines/pull/3161
* [ ] metadata writer image
* [ ] visualization server
* Please add if there's other things I missed

[2020-03-06 08:07] Bobgy commented on #2562
Looks like this is already supported in recent lineage changes.
/close

[2020-03-06 09:14] #2979 closed

[2020-03-06 09:43] Bobgy commented on #798
I realized this is probably not a good idea for various list pages, because you can select some items and do certain actions. It will be very hard to design the UX considering refresh and selection together.

[2020-03-06 09:44] Bobgy commented on #798
/close
I don't think this is doable. Please comment if you have an idea

[2020-03-06 09:44] #798 closed

[2020-03-06 09:49] Bobgy commented on #504
It seems keeping uploading versions to the same pipeline and maybe auto refresh the pipeline detail page showing latest result is a good enough UX.

[2020-03-06 09:49] Bobgy commented on #504
WDUT?

[2020-03-06 10:52] Bobgy opened #3226 "[UI] Pagination for artifact and execution list pages"
Both pages show all content from server in one page.
Without server side pagination, this will be a blocker for frequent usages.

/cc @neuromage
Do you know if MLMD server supports pagination?

/area frontend
/area backend
/kind feature

[2020-03-06 10:52] Bobgy commented on #3226
/assign @Bob

[2020-03-06 11:16] saschagrunert commented on #1654
I can confirm that PNS is not working fine, for example this pipeline runs well with CRI-O:
https://gist.github.com/saschagrunert/3ab126c781ac0e3e93f52591a8bbaf88

[2020-03-06 17:09] LeonardAukea commented on #2548
@karlschriek  Are you aware that you can specify `storage_class: 'efs'`  in `kfp.dsl.VolumeOp`
https://github.com/kubeflow/pipelines/blob/e704067d156ad9aec292c5af4ebc6d9c6cbfc209/sdk/python/kfp/dsl/_volume_op.py#L43
That works for me at least.

[2020-03-06 17:14] aaaaahaaaaa commented on #2883
Same problem here.

[2020-03-06 17:24] amygdala commented on #504
Yeah, I think we can consider it lower-priority. (though if we get some breathing room it would be a 'nice to have').

[2020-03-06 17:43] aaaaahaaaaa opened #3229 "Visualisations aren't displayed in pipeline UI"
### What steps did you take:
Created a component which writes the metadata file to display some markdown:
[code]

The pipeline runs successfully and I can confirm the file is correctly written in the container.

### What happened:
The run output or the component Artifact tab doesn't display any visualisation.

If I manually try to create a visualisation though the UI based on a csv file hosted on

[2020-03-06 18:47] xiaohanhuang opened #3230 "retry pipeline always fail"
### What steps did you take:
Run the built-in retry pipeline in kubeflow
### What happened:
Retry sample pipeline always fail
### What did you expect to happen:
No error with the pipeline
### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind b

[2020-03-06 22:16] rafaelbarreto87 opened #3232 "Tensorboard does not work in a private GKE cluster because image is hard coded"
### What steps did you take:

Train a Tensorflow model in a private GKE cluster and use Kubeflow Pipelines to open a Tensorboard instance.

### What happened:

It fails because it tries to pull a public image (e.g. `tensorflow/tensorflow:2.0.0`) and there's no way to override it from manifests due to it being hard coded here: https://github.com/kubeflow/pipelines/blob/0.2.5/frontend/server/k8s-hel

[2020-03-06 22:25] rafaelbarreto87 commented on #3232
This is related to https://github.com/kubeflow/pipelines/issues/1203.

[2020-03-07 01:25] neuromage commented on #3226
It does not. There's another internal bug discussing the need for this, I'll cc you on that one.

/cc @hughmiao

[2020-03-07 03:45] Bobgy opened #3234 "[UI] Execution page link from Run Details Page"
/area frontend

## Problem
It's a confusion for me how we can find connection between artifacts/executions and KFP runs.

## Proposal
Show a link to corresponding execution detail page from run details page.

/cc @neuromage @numerology @Ark-kun
What do you think?

[2020-03-07 06:46] rafaelbarreto87 opened #3236 "Aggregated Tensorboard viewer does not work for Tensorflow 2.x"
### What steps did you take:

Start an Aggregated Tensorboard viewer with Tensorflow 2.x.

### What happened:

It fails with "No dashboards are active for the current data set." because the `logdir` parameter is as such:

[code]

Tensorboard 1.x accepts this type of path in which more than one directory is passed separated by comma. However, in Tensorboard 2.x this is only supported through `--log

[2020-03-07 10:26] Mddct commented on #1223
Any update on this work in kubeflow 1.0

[2020-03-07 16:33] numerology commented on #3234
This sounds helpful. I think there are multiple tasks associated here:

1. Currently in MLMD data model an execution maps to a step in KFP, so first we might need to group executions by run_id.
2. Then we can connect each group of execution with the run details page.

I think a more high-leveled question is that, shall we utilize the context concept in UI as well, to make the grouping story more a

[2020-03-07 16:34] numerology commented on #3226
+1. Pagination helps the scalability of MLMD as well.

[2020-03-07 21:50] PatrickXYS commented on #3185
@Jeffwan  I still remember last time we talked about this issue, we'll figure out what Apache Beam version will TFX team use, and if they're not planning using 2.19 version, we should talk with them to see how it goes.

[2020-03-07 23:39] hanneshapke commented on #2892
@jingzhang36 Did you find a workaround? Facing the same issue now.

[2020-03-08 00:55] Jeffwan commented on #3185
@PatrickXYS vanila TFX still use beam 2.17, Let me file a ticket in TFX to upgrade to 2.19. This is currently blocked. We probably can revisit this later

[2020-03-08 08:42] brychcy commented on #3185
It looks like TFX is currently not compatible with Apache Beam 2.19, see https://github.com/tensorflow/tfx/issues/1219

[2020-03-08 09:11] Jeffwan commented on #3185
Yes. It maybe not a simple version upgrade. Let's track in the issue there.  I create another one for upgrade https://github.com/tensorflow/tfx/issues/1446

[2020-03-09 02:38] rmgogogo commented on #3057
UI uses local timezone/localization to output time string and so does Snapshot.
So dev's localization matters. I set my Mac to be Chinese locoalization so the generated snapshot is not suitable to be runned in test-infra.

I didn't find the way to override localization for npm while still keep my mac to be on Chinese.

[2020-03-09 02:45] Bobgy commented on #3057
@rmgogogo Can you point me to one example test case?
I guess it's related to system language then, because I have the same China timezone, but hasn't hit this issue.

[2020-03-09 02:49] rmgogogo commented on #3095
I think KFP installation didn't handle things like CertBot etc. (correct me if I'm wrong). Would suggest you deploy a small cluster to GCP via clicks (Google Cloud - AI Platform - Pipelines) and connect to it via HTTPS.

As for local sdk -> local server, if you want to avoid use https, you may try directly hit the KFP API Server without go thought the Inverse Proxy. I didn't try it but think it ca

[2020-03-09 02:52] rmgogogo commented on #3061
(1) is done by Alexy.
We can continue (2) and (3).

@jingzhang36 I can help upgrade the bazel version, here quickly ping you in case we have other blockers.

[2020-03-09 02:57] rmgogogo commented on #3057
(maybe the SideNav), will you ping next time I hit it.
Last time I fixed it via change codes. (will dig out later, remember I changed FE codes to be hardcoded as us-en which is not a good change, it was done in my late night to catch up timeline, will revert when find the part)

[2020-03-09 03:08] Bobgy commented on #2892
@hanneshapke You can delete all KFP related deployments via kubectl and apply again.

To get deployments: `kubectl get deployment -n $NAMESPACE`
To delete: `kubectl delete deployment XXX -n $NAMESPACE`

Deployments are stateless, so it's safe to delete.

[2020-03-09 03:09] jingzhang36 commented on #3101
@amitripshtos Thanks again for the investigation. I'll take a look at your pr and meanwhile I'll let @neuromage to verify the mlmd usage.

[2020-03-09 03:10] hanneshapke commented on #2892
Great! that's what I ended up doing. Thank you for your reply.

[2020-03-09 08:40] aarthipa commented on #1442
Hi - I see the same error on latest version v1.0.0. Unlike the previous versions, i can restart the Ambassador pods either :(

[2020-03-09 10:13] Bobgy opened #3241 "[Multi User] Integrate KFP multi user with KF 1.1"
Part of https://github.com/kubeflow/pipelines/issues/1223 (that's the main issue tracker).

I'm using this issue as a tracker for all the efforts of merging KFP multi user related changes to upstream kubeflow repo.

/priority p0
/assign @Bobgy
/kind feature

My fork to merge kfp multi user manifests with KF 1.0: https://github.com/Bobgy/manifests/tree/kfp-multi-user-master

* [x] Enable istio-inje

[2020-03-09 10:15] Bobgy commented on #1223
@Mddct I'm working on preparing changes in KF 1.0 to be ready for KFP multi user support.
Work will be tracked in https://github.com/kubeflow/pipelines/issues/3241

[2020-03-09 10:45] nrchakradhar commented on #3241
@Bobgy Though this is not strictly multi-user, https://github.com/kubeflow/pipelines/issues/2858, this needs to be addressed since users may want to use different namespace.

[2020-03-09 10:55] #2353 closed

[2020-03-09 14:34] RunOrVeith commented on #2495
For anyone stumbling over this in the future (like me):

This also happens if you create an environment variable with a non-string value, e.g.:

[code]

[code]

[2020-03-09 14:46] jamesandres opened #3242 "Using 'in' operator inside dsl.Condition"
Hello 👋, I'm trying to implement a fan-out type of system with Kubeflow Pipelines. It would be lovely if `dsl.Condition` was capable of understanding `in` for this task.  It's entirely possible I'm just "doing it wrong" or unable to locate the documentation..

What would be nice to have:

[code]

I have managed to hack around the problem by passing the two operands (`obj.id` and `only_these_ids`)

[2020-03-09 19:08] neuromage commented on #3101
Hi @amitripshtos

I'm not sure this is true. Lineage view in this case will be exactly the same. You will not see two DAGs, but a single one, since the output of produce pipeline is used as input to consumer pipeline.

Agreed you will need a custom step to do the importing of the artifact in the consumer pipeline. But that may be preferable to adding this feature, since it adds some complexity to

[2020-03-09 23:25] Bobgy commented on #3241
@nrchakradhar Thanks for bringing this up, we have addressed it in https://github.com/kubeflow/pipelines/pull/2665 (but we are putting together all pieces of multi user support, you cannot use it right now). This issue is meant to track efforts that need to be merged into Kubeflow, so this particular issue isn't tracked here.

[2020-03-10 00:03] nrchakradhar commented on #3241
@Bobgy Thanks for the reference.

[2020-03-10 01:50] rmgogogo opened #3244 "Post-submit standalone test fails since PR3209"
### What steps did you take:
Post-submit standalone test fails since PR3209

### What happened:
Post-submit standalone test fails since PR3209

### What did you expect to happen:
Back to normal

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

[2020-03-10 03:25] numerology commented on #3244
Took a look.

The cloud build failure right after PR3209 is due to "Connection broken". It seems like a transient issue. See https://pantheon.corp.google.com/cloud-build/builds/6125438b-e22f-44b7-8d29-4cc98924f5b4?project=ml-pipeline-test

However after that, cloud build complains
`Your build failed to run: failed unmarshalling build config .cloudbuild.yaml: yaml: line 102: did not find expected k

[2020-03-10 03:27] numerology commented on #3244
I see.... Wrong indentation in .cloudbuild.yaml.......

[2020-03-10 03:55] Bobgy commented on #3236
/assign @jingzhang36

[2020-03-10 04:06] Bobgy commented on #3222
Is this a duplicate of https://github.com/kubeflow/kubeflow/issues/4803?

Did you deploy this to GCP? Maybe you need to check https://www.kubeflow.org/docs/gke/pipelines/authentication-pipelines/.

[2020-03-10 04:10] Bobgy commented on #2883
In Kubeflow deployment, visualization server isn't bound with an Google Service Account, so it doesn't have any permission.

Recommend doing so by https://github.com/kubeflow/pipelines/blob/5391e88fbca11d2eb70cfc42d06202770d0a174c/manifests/kustomize/wi-utils.sh#L27

[2020-03-10 04:17] Bobgy commented on #3133
/close
Documentation also done

[2020-03-10 04:17] #3133 closed

[2020-03-10 04:20] Bobgy commented on #2883
If `kf-user` works for you, then we can contribute that change back to kubeflow/manifest

[2020-03-10 04:23] Bobgy commented on #3229
Does https://github.com/kubeflow/pipelines/issues/3162#issuecomment-591540614 solve your problem?
Or if you use lightweight components, you can refer to https://github.com/kubeflow/pipelines/issues/3162#issuecomment-591764099

I think the documentation in https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/ didn't clarify that very well.

[2020-03-10 04:23] Bobgy commented on #3162
Looks like problem solved.
/close

[2020-03-10 04:23] #3162 closed

[2020-03-10 04:32] Bobgy commented on #2742
[code]
I got the stacktrace, looks like a python code error.

[2020-03-10 04:37] ustcyue commented on #3130
The size of the command-line is around 130k chars.
This is just an operator with less than 10k lines, so not really that heavy weight :)

[2020-03-10 04:41] #3244 closed

[2020-03-10 04:47] Bobgy opened #3246 "[Component] AutoML Tables component should show link as an artifact"
/cc @jessiezcc
/cc @jingzhang36
/assign @Ark-kun

It will be helpful if components in
https://github.com/kubeflow/pipelines/tree/b89aabbce5d48fca10817c3ed3ecc2acf6c0066a/components/gcp/automl can show related AutoML tables url as markdown artifacts.

e.g.

[2020-03-10 04:48] Bobgy commented on #3246
@Ark-kun would you have time to work on this? Shall we sync about the plan?

[2020-03-10 05:15] Bobgy commented on #2888
/close
Already fixed by https://github.com/kubeflow/pipelines/pull/3003

[2020-03-10 05:15] #2888 closed

[2020-03-10 07:27] Bobgy commented on #3114
My upstream PR is merged, I will wait for ipywidgets 8.0 release to switch to use my new feature

[2020-03-10 07:48] Bobgy commented on #1638
/reopen

There's one last step to enable the presubmit test and verify it is stable

[2020-03-10 07:52] Bobgy commented on #1638
Turn on the test as optional in https://github.com/kubernetes/test-infra/pull/16709.
Once I verified the test is stable, I can change it to always run.

[2020-03-10 09:16] jingzhang36 opened #3247 "Improve backend integration test coverage"

[2020-03-10 09:20] rmgogogo commented on #3244
oh, thanks Jiaxiao. Didn't expect you solve it so quick. I planned to solve it today.

[2020-03-10 09:35] jingzhang36 opened #3248 "Documentation of api client usage on versioning and ui operations on versioning"

[2020-03-10 09:44] jingzhang36 commented on #2940
We have an example at https://github.com/kubeflow/pipelines/issues/2977#issuecomment-595011702

[2020-03-10 09:44] #2940 closed

[2020-03-10 09:52] #2482 closed

[2020-03-10 09:57] jingzhang36 opened #3249 "Demos for kubeflow website on pipeline versions and runs"

[2020-03-10 10:07] jingzhang36 opened #3250 "Backend dependency cleanup - remove bazel"
Will help to reduce backend build time and easy dependency version bumping

[2020-03-10 12:05] kim-sardine opened #3251 "Pending with "Unschedulable: pod has unbound immediate PersistentVolumeClaims""
Hi,

### What steps did you take:

I ran sample pipleline [volumeop_sequential.py](https://github.com/kubeflow/pipelines/blob/master/samples/contrib/volume_ops/volumeop_sequential.py) on totally-fresh-new kubeflow on GKE that I'v setup about half an hour ago.

but pvc with `VOLUME_MODE_RWO` works just normally ([this example](https://github.com/kubeflow/pipelines/blob/master/samples/core/volume_op

[2020-03-10 13:40] aaaaahaaaaa commented on #3229
Yes, the documentation is missing the bit of information that the metadata file as to be defined as an output of the component.

[2020-03-10 13:40] #3229 closed

[2020-03-10 13:56] parthmishra commented on #3242
I'm not sure if this would work, but another hacky solution could be:

[code]
You're still spinning up pods but they're just the KFP/Argo condition check pod and not your own container so it would be a bit quicker and less overhead.

[2020-03-10 16:02] liorshk opened #3253 "Run KFP compiled yamls on argo natively"
### What steps did you take:
I would like to use KFP compiler in order to create argo pipelines but without other kubeflow services

### What happened:
`kfp.compiler.Compiler().compile(pipeline, __file__.replace(".py","") + '.yaml',
    pipeline_conf=conf)
`
Using the above command actually creates a valid argo yaml, but there are 2 problems when trying to deploy it onto argo standalone

1. an emp

[2020-03-10 17:35] parthmishra commented on #3221
Possibly related, but how do you retain the types of values such as `int` or `bool` when passing a dict? e.g.

[code]

[2020-03-10 23:28] Ark-kun commented on #3253
While it's true that KFP uses Argo under the hood, this is an implementation detail that can change in future. We prefer to not expose Argo-specific features.
We also try to keep the compiled pipelines minimal and portable. Namespaces and service accounts are highly user-specific and can impede sharing.

You can achieve what you want by just doing something like this:
[code]

[2020-03-10 23:32] Ark-kun commented on #3246
Is it possible to make it so that the UX visualizes all artifacts of type 'Markdown'?

[2020-03-11 00:16] Bobgy commented on #3246
@Ark-kun Yes, that's doable.
Do AutoML tables component already have these artifacts?

[2020-03-11 00:24] jingzhang36 opened #3256 "Presubmit/Postsubmit/Sample test flakiness and long running time"

[2020-03-11 02:20] Bobgy commented on #1653
@jingzhang36 has migrated backend test to prow: https://github.com/kubeflow/pipelines/issues/2885

[2020-03-11 04:16] berndverst commented on #1375
@ryandawsonuk I assume you use Azure? Either way, take a look at this set of samples which basically uses Kubeflow's Jupyter Notebook server to run a notebook which then uses Kubeflow Fairing and Kaniko in cluster.

https://github.com/kubeflow/examples/tree/master/mnist

In that case a job is launched via TFJob, but you could equally connect to kubeflow pipelines within the cluster.

Create the KF

[2020-03-11 06:57] Bobgy commented on #3223
This line needs to be removed when upgrade: https://github.com/kubeflow/pipelines/blob/1981836008dd71a8016cf3f0a59f046a89096a24/frontend/src/lib/OutputArtifactLoader.ts#L344

[2020-03-11 09:24] Ark-kun commented on #3246
No, but it would be pretty easy to add.

[2020-03-11 09:26] jingzhang36 opened #3259 "Benchmark and performance report for KFP instance"
KPF users are constantly wondering about the scalability and capacity of their KFP deployment., e.g., what is the maximum number of pipelines/runs I can create in one KFP deployment?

That might appear to be an easy question but in reality, it is actually a disguise of multiple related but independent questions.   If something unexpected happens on their KFP instance and seems to be triggered when

[2020-03-11 09:46] Ark-kun commented on #3221
I've tried the snippets, but the issue does not reproduce - the produced components have equivalent code.

[code]

I think the issue you have is a bit different and caused by a bug related to returning a single collection output. I'm fixing that bug now.
Your second component which is based on `NamedTuple` has incorrect return value. It should be a tuple: `return (d,)`.
The first component is corr

[2020-03-11 11:36] elikatsis commented on #3251
As you've already mentioned, since it works for `ReadWriteOnce` PVCs, it looks like your default storage class doesn't support `ReadWriteMany` PVCs.

You could try one of the following:
1. Modify the DSL code to use `RWO` mode
2. Set up a storage class that supports `RWM` and
   * either set it to be your default storage class,
   * or modify the DSL code to use that storage class

[2020-03-11 15:48] l1990790120 commented on #2495
@RunOrVeith  I feel I have see this error from time to time (type conflicts), but it's not really related to this issue here, if you could provide an example with another issue, I am happy to help looking into it.

[2020-03-11 16:53] #3223 closed

[2020-03-11 17:19] liorshk commented on #3253
Do you have any plans of replacing argo with any other workflow engine?
If not, I think that KFP Pipelines SDK could be very useful for many other data processing tasks (not only related to training ML) and I think the current UI and management of those pipelines is too coupled with an experimentation platform.

[2020-03-11 18:54] elikatsis commented on #2159
Hi there,

Does the current UI show the start & end time of each step?
If yes (as mentioned in a previous comment), I can't find it :sweat_smile: could you guide me a bit where to look for it?
If not, and since this information is persisted in the workflow's status which is already parsed by the UI (`Workflow.Status.Nodes`), is there any design for the desired UX and an estimation for its implemen

[2020-03-11 23:00] #2533 closed

[2020-03-11 23:04] #2952 closed

[2020-03-11 23:11] Ark-kun commented on #182
As far as I remember, I've verified that Jupyter can show iframes with arbitrary pages. That IFrame has limited height by default, so the top navigation obscures most of it.

The idea is to be able to stay in the development environment (Jupyter) while monitoring the work progress. I think this will look pretty cool can unique for demos.

[2020-03-11 23:13] Ark-kun commented on #1374
@SinaChavoshi I've included you since this seems to be related to the pipeline validation and diagnose_me tool/component.

[2020-03-11 23:20] Ark-kun commented on #2669
It's probably still relevant.
The issue was that the generated URIs, that point from ExecutionList page to ExecutionDetails pages, are broken when the ExecutionType contains colon.

I'll try to give you repro steps a bit later.

[2020-03-11 23:21] Ark-kun commented on #2669
Generated URI:
`https://34c40cdd21e49f0a-dot-us-central1.notebooks.googleusercontent.com/#/execution_types/components.Git%20clone@sha256/executions/ab0c0e1bbd0f3d939599aeb5b1c923a09405abb5ec45be676582de881d12124f`

Correct URI:
`https://34c40cdd21e49f0a-dot-us-central1.notebooks.googleusercontent.com/#/execution_types/components.Git%20clone@sha256:ab0c0e1bbd0f3d939599aeb5b1c923a09405abb5ec45be6765

[2020-03-11 23:23] Ark-kun commented on #3210
Fixed by https://github.com/kubeflow/pipelines/pull/3212

[2020-03-11 23:23] #3210 closed

[2020-03-11 23:28] xiaohanhuang commented on #3222
Yes, it was on deployed in an existing GKE cluster with https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.0.yaml

From the doc you provide, "You don’t need to do anything. Full Kubeflow deployment has already deployed the user-gcp-sa secret for you." Did I miss anything?

[2020-03-11 23:36] Ark-kun opened #3262 "Python components - Single unnamed collection outputs are handled incorrectly"
Users can automatically convert python functions into components.
For multiple outputs, the function should use the `NamedTuple`-based return annotation. But for single outputs the users can just specify the type of the returned value.
There is a bug that occurs when the type of the single return value is a collection (object has `__getitem__`).

Example of component that's currently broken:
[code

[2020-03-12 02:27] kim-sardine commented on #3251
worked for me. (then [volumeop_sequential.py](https://github.com/kubeflow/pipelines/blob/master/samples/contrib/volume_ops/volumeop_sequential.py) seems to need an update.)

How can I do this?

I found some documents to set `PersistentVolume` and `PersistentVolumeClaim`'s access mode to `RWM` but no `StorageClass`

my default storage that `kfctl` made for me is

[code]

[2020-03-12 03:22] Bobgy commented on #3226
Bumping priority because there are more feedback this is highly needed for scalable usage of the UI.

[2020-03-12 04:42] numerology commented on #3256
Among the four tests we currently have, e2e and sample tests are the major source of flakiness. The easiest treatment could be that we separate out those samples with external dependencies first.

[2020-03-12 07:29] Bobgy commented on #2159
Hi @elikatsis, I checked and looks like KFP UI doesn't show step level start and end time, it only shows workflow start and end time.
But the data is available anyway in https://github.com/kubeflow/pipelines/blob/f8a452187673da80ff90fc98dcdf4b348cf8034f/frontend/src/lib/WorkflowParser.ts#L90, the nodeStatus type has startedAt and finishedAt fields recording this.

[2020-03-12 07:34] Bobgy commented on #3222
@xiaohanhuang Thanks for pointing out the problem. The doc is a little outdated, that statement was true in KF 0.7, but I need to adjust it for KF 1.0.

[2020-03-12 07:35] Bobgy commented on #3222
TODO: update https://www.kubeflow.org/docs/gke/pipelines/authentication-pipelines/ with new recommendation for Kubeflow 1.0.

[2020-03-12 10:51] jamesandres commented on #3242
That's a useful idea, thanks @parthmishra!

For now I've ended up pushing the problem into a small python-based container which is able to do the `in` logic natively.

[2020-03-12 14:03] elikatsis commented on #3251
It doesn't need an update. It's just a different access mode not all clusters support from scratch.

I guess there are various ways. In the past, I've used [these instructions](https://github.com/kubernetes-incubator/external-storage/tree/master/nfs) to deploy an NFS provisioner, but I'm not sure whether they are up to date.

[2020-03-12 17:07] xiaohanhuang commented on #3222
Could you provide some instruction what need to be done to get it work?

[2020-03-12 21:45] amygdala opened #3265 "suggest merging components/gcp and components/google-cloud"
There's a 'storage' component under `components/google-cloud`.  For discoverability, am wondering why it's not under `components/gcp`.  Could we merge those two subdirs?

[2020-03-12 22:29] numerology commented on #3265
Sure I think that's doable.

The historical reason was, perhaps, components under `components/google-cloud` do not require maintaining/building our own image, instead they are based on an existing public image.

[2020-03-12 22:29] numerology commented on #3265
/assign @numerology
/assign @Ark-kun

[2020-03-12 23:46] Ark-kun commented on #3265
That's true (exception: `gcp/AutoML` actually belongs to the `google-cloud` group).
These component groups have been created by different people and have pretty different implementation - one uses public image and command-line gcloud SDK tools while the other uses a framework library and needs custom image. The maintainers are also different (me and Hongye).
One reason for separate directory is fo

[2020-03-13 00:07] Ark-kun commented on #3242
I think this is a best workaround for now.
This will also help you for more advanced filtering.
Or you can do a filtering component.

[code]

[2020-03-13 03:39] Bobgy commented on #3222
@xiaohanhuang You can refer to my answer in https://github.com/kubeflow/pipelines/issues/3069#issuecomment-595043632

[2020-03-13 06:33] Bobgy commented on #3246
Yep, that sounds like a good idea.
Shall we make an one-pager design doc for this? or go right into the implementation.

It is some duplication of existing features, I think that will be my only concern.

[2020-03-13 06:50] #3262 closed

[2020-03-13 07:14] rmgogogo opened #3268 "Request add BigQuery quick link"
### What steps did you take:
BigQuery component outputs links in log. We may show the link in KFP UI so that user may easily open BQ and modify query/examine outputs on the fly.

### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information t

[2020-03-13 07:17] Bobgy commented on #3268
/assign @Bobgy @Ark-kun
This is a similar request to https://github.com/kubeflow/pipelines/issues/3246

[2020-03-13 07:22] rmgogogo opened #3269 "Better integration with AutoML Table & BQ"
More features related with AutoML Table component.
E.x. export eval to BQ. We may provide custom component sample or 1p component for it.

[2020-03-13 07:29] rmgogogo commented on #3269
Another few request is in 1.0 planned here:
https://github.com/kubeflow/pipelines/issues/3246

[2020-03-13 07:31] #2885 closed

[2020-03-13 07:32] jingzhang36 commented on #1653
Backend unit tests are off Travis now (https://github.com/kubeflow/pipelines/issues/2885 is closed).
We'll need to take care of python tests now /assign @Ark-kun

[2020-03-13 08:49] ivanbrave opened #3271 "引用了两个不存在的变量 (refer to 2 non-existing vars in arena component)"
代码路径：https://github.com/kubeflow/pipelines/blob/8495eb1a6f643c0091b57b9c9328b1b6f8bdf605/components/arena/python/arena/_arena_distributed_tf_op.py
metric_name和metric_unit不存在，会报错

[2020-03-13 08:49] ivanbrave commented on #3271
@cheyang

[2020-03-13 09:06] Bobgy commented on #3269
@rmgogogo FYI, recommend not using the bug template when you create a feature request

[2020-03-13 09:07] Bobgy commented on #3269
/assign @Ark-kun

[2020-03-13 09:14] cheyang commented on #3271
What's error?

[2020-03-13 09:50] ivanbrave commented on #3271
File "/opt/conda/lib/python3.7/site-packages/arena/_arena_distributed_tf_op.py", line 115, in distributed_tf_op
    "--output-data", output_data,
NameError: name 'output_data' is not defined

[2020-03-13 17:16] chensun opened #3273 "[Multi user] Backend changes for experiment - filter experiment by namespace"
/priority p0
/assign @chensun
/kind feature

- [x] Experiment data model change #3184
- [x] Experiment API change #3198
- [x] Experiment API implementation #3243

/cc @IronPan @Bobgy

[2020-03-13 17:22] chensun commented on #2397
/assign @chensun

[2020-03-13 17:55] animeshsingh commented on #951
@Ark-kun there is some work going on for kfp-tekton compiler here, curently being driven by us, but we are hoping we can others join in the effort.

https://github.com/kubeflow/kfp-tekton
http://bit.ly/kfp-tekton

_There were some plans to split the DSL compiler in two parts - the first creates a logical pipeline (a pipeline/graph component) and the second stage that converts the graph component t

[2020-03-13 18:29] Ark-kun commented on #2225
@janeman98 Yes. The build_python_component had been deprecated in favor of Lightweight python components. Container building APIs have also been upgraded. See the new sample:  https://github.com/kubeflow/pipelines/blob/master/samples/core/container_build/container_build.ipynb

[2020-03-13 19:24] numerology commented on #3256
Here's my proposal:

- Move XGBoost/Dataflow/AI platform/Kubeflow TF serving/(perhaps) container build samples into a new category, namely `integration tests`.
- Either mark `integration tests` optional or move them to Postsubmit. For changes that involve components, reviewers shall make sure integration tests are passed.
- As for the testing time, I think the current bottleneck is the image build

[2020-03-13 20:38] Ark-kun opened #3275 "Make SDK compatible with kubernetes-client v11"
The `swagger_types` attributes have been renamed to with `openapi_types`.
https://github.com/kubeflow/examples/issues/770
https://github.com/kubernetes-client/python/pull/995

[2020-03-13 23:34] enriquedacostacambio commented on #3133
@Bobgy thanks a lot! i'm just coming back to this, i'd love contribute pr next time!

[2020-03-14 00:36] Bobgy commented on #3133
Thanks for offering help, you can bring up new ideas, look at issues with help wanted tag or work on issues in KFP 1.0 project

[2020-03-15 17:25] hlu09 opened #3277 "dsl.ParallelFor fails if file_outputs key is not "out""
### What steps did you take:
https://github.com/kubeflow/pipelines/blob/master/samples/core/loop_output/loop_output.py#L26

Change
  file_outputs={'out': '/tmp/out.json'},
to
  file_outputs={'test_out': '/tmp/out.json'},

Then
  Pipeline run fails

### What happened:

loop_output fails with output key name change.  Looks like only 'out' works.

### What did you expect to happen:

It should succeed

[2020-03-16 02:15] rmgogogo opened #3278 "TFX CLI - show Pipeline link and Run link after get response from KFP Server"
### What steps did you take:
TFX CLI - show Pipeline link and Run link after get response from KFP API.

1. Pipeline link
[code]

2. Run link
[code]

So that user can easily open KFP UI to view the results.

### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:

[2020-03-16 02:25] rmgogogo opened #3279 "TFX Template Sample - Use Versioned Pipeline API to update existing pipeline"
TFX Template Sample - It can use Versioned Pipeline API to update existing pipeline.

[code]

Currently it deleted the pipeline and then create a new one. It can use Versioned Pipeline API to update existing pipeline.

[2020-03-16 02:37] numerology commented on #3278
Actually will it be better if we file an issue under tensorflow/tfx? This is supposed to be implemented in their codebase.

[2020-03-16 03:25] rmgogogo opened #3280 "TFX CLI / KFP SDK - Basic validation for ENDPOINT field"
Currently we didn't provide good error msg if user input a wrong ENDPOINT value.

1. Doc mentioned user better to remove HTTPS/HTTP. Better we correct it for user
2. Doc mentioned ENDPOINT should be full hostname but still have user just input the InverseProxy ID part. For such case, better SDK provide early validation error msg.

[2020-03-16 03:36] #3232 closed

[2020-03-16 05:59] Bobgy commented on #1638
`kubeflow-pipeline-upgrade-test` is now running stably.
I also made a change to auto clean up upgrade test clusters: https://github.com/kubeflow/pipelines/pull/3282.

All the work for the test infra is done, I will continually supervise upgrade test in individual PRs.
/close

[2020-03-16 05:59] #1638 closed

[2020-03-16 06:00] Bobgy commented on #3157
Note, this is related to https://github.com/kubeflow/pipelines/issues/3226. I will likely tackle both together.

[2020-03-16 07:20] jingzhang36 opened #3283 "Delete/Archive for runs/experiments in KFP UI"

[2020-03-16 07:36] Bobgy commented on #3256
Thanks @numerology! That's a good plan.

I think moving sample tests with external dependency to post submit (and optional for presubmit) sounds great to me, sample-test is so far the longest running test ~50 min, e2e is ~40 min. Others are ignorable.

Some other ideas (haven't examined fully):
* Can we change some of the tests to run in parallel? (e.g. pipelines shouldn't interfere with each othe

[2020-03-16 07:41] Bobgy commented on #3256
@numerology Because you didn't cover it here, do you plan to also target flakiness in this issue?
I think flakiness has very different fixes from long running time, maybe we can have a separate issue tracking that.

Do you want to own that too? I want to co-own flakiness part.

[2020-03-16 07:49] Bobgy opened #3284 "Metadata Store Upgrade for KFP"
Public doc: https://docs.google.com/document/d/1gF-mx3lMyU9h7MAAOXP-KGV-BF-UabDsAlFrWNNhKBo/edit?usp=sharing

/assign @dushyanthsc

[2020-03-16 07:50] Bobgy commented on #3284
Hi @dushyanthsc! I'm opening this issue to track this progress under KFP 1.0 project.

[2020-03-16 08:36] Bobgy commented on #60
Closing this as a duplicate of https://github.com/kubeflow/pipelines/issues/1263
We plan to support archiving experiments in KFP 1.0

[2020-03-16 08:36] Bobgy commented on #60
/close

[2020-03-16 08:36] #60 closed

[2020-03-16 12:37] RunOrVeith opened #3286 "Compiler accepts runs with non-string env vars"
### What steps did you take:

Add an environment variable to the container of a ContainerOp, and the value of that variable is not of type string, but e.g. int.

### What happened:

The compiler compiles everything fine, but running the pipeline crashes with the following error:

[code]

### What did you expect to happen:

Either one of two thing:

1. It works and just passes the environment varia

[2020-03-16 12:38] RunOrVeith commented on #2495
@l1990790120 I opened a new issue describing the problem in #3286

[2020-03-16 16:18] numerology commented on #3256
IIUC it's already running in parallel, see [here](https://github.com/kubeflow/pipelines/blob/d9bb1be25b838142267acbf83ca8f1a5bf33ef54/test/sample_test.yaml#L65). I think the bottleneck is some of the samples are significantly slower than others.

Yes we can collaborate on that part. Two things are on top of my head right now:

1. As explained in my first response, separate those test cases with ex

[2020-03-16 16:19] dushyanthsc commented on #3284
@Bobgy  Thanks. I am almost done with the implementation testing right now, should send out a PR by EOD today.

[2020-03-16 16:22] numerology commented on #3280
Ack. I can take a shot when got some cycles.

FYI [this](https://github.com/kubeflow/pipelines/blob/d9bb1be25b838142267acbf83ca8f1a5bf33ef54/sdk/python/kfp/_client.py#L159) is the code involved if we want to investigate how to do that

[2020-03-17 00:24] IronPan opened #3288 "[Tests] Postsubmit test for multi user e2e scenario"

[2020-03-17 00:26] IronPan opened #3289 "[Test] Backend integration tests for multi-user scenarios"

[2020-03-17 00:31] IronPan commented on #2899
This should be done by deploying visualization service for each namespace.

[2020-03-17 00:34] IronPan commented on #2397
For experiments, runs, and jobs, they will be filtered when multi-user mode is implemented.
For pipelines, it's currently work as intended to be a shared resource.