[2022-08-10 09:24] juliusvonkohout commented on #8104
Is it also possible to do this from the runs page? E.g. if you delete a run it tries to delete the artifacts and if you delete an experiment it deletes all runs and therefore all corresponding artifacts. You are using ml-metadata which is not namespace isolated yet and therefore 100 % insecure.

The API belongs in the apiserver and as suggested above we could implement this without UI  or API sche

[2022-08-10 11:56] TobiasGoerke commented on #8104
Any way users can delete artifacts and invalidate caches in the UI is fine for me. Your suggestion to not offer these features separately might even be more user-friendly. As you mentioned, your approach wouldn't require modifying the frontend and is more secure (for now, at least).

However, what about multiple runs sharing the same cache? Deleting any older run would force newer runs to lose the

[2022-08-10 16:59] kdubovikov commented on #8111
Actually, I think that there is still an issue when we use multi-profile setup. The problem lies in the `ml-pipeline-ui-artifact` deployment which is automatically created for each profile.

Here, https://github.com/kubeflow/pipelines/blob/a0a8f1da8cb7ca53cde7717aa78e666b634fec75/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py#L304 we sync only `` and `` variables

[2022-08-10 17:23] kdubovikov commented on #8087
@LeBoyOrion
If you are trying to access Kubeflow Pipelines SDK from a Notebook instance inside Kubeflow, then I think I know what the problem is.

You can create this `PodDefault` definition:

[code]

Then, select "Allow access to Kubeflow Pipelines" configuration when creatine a Notebook in Kubeflow. Afterwards, you can create Kubeflow Pipelines client like this:

[code]

[2022-08-10 18:03] zpChris opened #8129 "[frontend] Confusion matrix unnecessary spacing"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.3

### Steps to reproduce

1. Go to the "Runs" tab on KFP
2. Select multiple runs which have Confusion Matrices, and click "Compare Runs"
3. Select the "Confusion Matrix" tab under "Metrics"
4. Select any confusion matrix

### Expected result

You should see the confusion m

[2022-08-10 18:10] zpChris opened #8130 "[frontend] Clarify the two-level dropdown naming schema"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.3

### Steps to reproduce

1. Go to the "Runs" tab on KFP
2. Select multiple runs which have Confusion Matrices, and click "Compare Runs"
3. Select the "Confusion Matrix" tab under "Metrics"
4. Click the two-level dropdown

### Expected result

You should see the two-level

[2022-08-10 18:18] zpChris opened #8131 "[frontend] Address KFPv2 Run Comparison page scalability"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.3

### Steps to reproduce

1. Go to the "Runs" tab on KFP
2. Select multiple runs which have many artifacts (for instance, some over 100+), and click "Compare Runs"

### Expected result

You should see the page load all of the artifacts efficiently and accurately. Instead,

[2022-08-10 18:38] zpChris opened #8132 "[frontend] Dropdown and HTML / Markdown artifacts are misaligned"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.3

### Steps to reproduce

1. Go to the "Runs" tab on KFP
2. Select multiple runs which have HTML or Markdown artifacts, and click "Compare Runs"
3. Select the "HTML" or "Markdown" tab under "Metrics"
4. Select an artifact which has large width (see "Materials and Reference

[2022-08-10 18:46] ashujain2 commented on #6517
@connor-mccarthy -
Default location for minio PipelineRoot - "minio://mlpipeline/v2/artifacts"
Assume I have installed minio in cluster through operator -
minio.ns-1.svc.cluster.local:80

How can i specify it's custom location ?

[2022-08-10 18:47] zpChris opened #8133 "[frontend] Inaccurate two-level dropdown selection"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.3

### Steps to reproduce

1. Create a run which has two Confusion Matrix artifacts of the same type on the same execution
  - One artifact has the name `Artifact ID #<id>`, and the other artifact has no name but an ID of `<id>`
  - These confusion matrices should be differ

[2022-08-10 19:02] connor-mccarthy commented on #6517
You can specify it when creating a pipeline with the `@kfp.dsl.pipeline` decorator:

[code]

[2022-08-10 19:02] zpChris commented on #7840
This page has now been implemented; these questions are answered in detail in the internal design doc, and next steps are provided via GitHub Issues ([[1]](https://github.com/kubeflow/pipelines/issues/8129), [[2]](https://github.com/kubeflow/pipelines/issues/8130), [[3]](https://github.com/kubeflow/pipelines/issues/8131), [[4]](https://github.com/kubeflow/pipelines/issues/8132), [[5]](https://gith

[2022-08-10 19:02] #7840 closed

[2022-08-10 19:08] zpChris commented on #7841
This page has now been implemented, and these points are elaborated on in detail in the internal design doc as well as PR descriptions. We do not provide much functionality for users to adjust UI, though this will be an option if the parallel-coordinate plot is implemented for Scalar Metrics or Parameters.

[2022-08-10 19:08] #7841 closed

[2022-08-10 19:11] zpChris commented on #7842
The parameter comparison was implemented in https://github.com/kubeflow/pipelines/pull/8105, and a separate issue for scalability was raised at https://github.com/kubeflow/pipelines/issues/8131. For reference, the Parameters section uses an analogous organization algorithm to the KFPv1 Run Comparison page, and the Parameters are already fetched alongside the run list.

[2022-08-10 19:11] #7842 closed

[2022-08-10 19:13] ashujain2 commented on #6517
run_result = kfp.Client().create_run_from_pipeline_func(
    pipeline_func,
    experiment_name=experiment_name,
    run_name=run_name,
    arguments=arguments,
    mode=kfp.dsl.PipelineExecutionMode.V2_COMPATIBLE,
    pipeline_root='minio.ns-1://mlpipeline/v2/artifacts'
)

I tried that but its not working

[2022-08-11 08:28] juliusvonkohout commented on #8104
Is this a real problem? The same happens if you would invalidate a single artifact from the ml-metadata UI. It can always affect later runs that used the same artifact as cache.

You should definitely present it here Kubeflow Pipelines Community Meeting (PST AM)
https://meet.google.com/jkr-dupp-wwm and register it here https://docs.google.com/document/d/1cHAdK1FoGEbuQ-Rl6adBDL5W2YpDiUbnMLIwmoXBoAU

[2022-08-11 14:15] dsiegel commented on #7655
It's definitely something to do with compressedNodes. The problem starts happening as soon as the pipeline gets big enough to trigger Argo to start using the compressedNodes method of storing the run state.

Any update on when this will be addressed?

[2022-08-11 18:03] connor-mccarthy commented on #6517
@ashujain2, can you please provide an error message to help with debugging?

[2022-08-11 18:16] droctothorpe commented on #6792
Would ya'll prefer a table that looks like this?
[code]

Or a DAG in ASCII that looks like this?
[code]

[2022-08-11 18:35] droctothorpe commented on #7461
Hey all, any updates on this?

[2022-08-11 18:42] ashujain2 commented on #6517
[code]

Basically , I have setup minio and kubeflow into same EKS cluster along with Kubeflow with an overall aim to achieve to segregate artifacts and metadata per namespace per bucket .

minIO Endpoint- minio.cserver-minio.svc.cluster.local
Into this hosted dedicated minio sever -I have couple of  buckets created like ns-1, ns-2 ....

Somehow , I was able to achieve it by implementing steps writ

[2022-08-11 19:57] thenovices commented on #7655
Also upping this as something that is impacting our team. We're downgrading KFP because this issue makes the latest versions of KFP unusable for us.

[2022-08-11 22:38] chensun commented on #8119
Hi @GytisBraz , this is a known issue and we're working on migrating `google-cloud-pipeline-components` to be compatible with kfp 2.0.

[2022-08-11 22:50] chensun commented on #8125
Hi @shivaylamba, KFP support running containerized app, meaning you can always package your code into a container, and we support running any container as a KFP component. Would that work for your case?

[2022-08-11 22:50] chensun commented on #8125
/cc @zichuan-scott-xu

[2022-08-11 22:54] chensun commented on #8126
Hi @droctothorpe feel free to contribute ? JFYI, here're some example code on how we tested the v2 Vertex client (which was moved out of KFP package in the master branch): https://github.com/kubeflow/pipelines/tree/sdk/release-1.8/sdk/python/kfp/v2/google/client

[2022-08-11 23:00] chensun commented on #7512
Also note that google/mlmd doesn't support Postgres yet: https://github.com/google/ml-metadata/issues/26

[2022-08-12 14:08] droctothorpe opened #8141 "[feature] Print deep links outside of Jupyter notebooks"
### Feature Area

/area sdk

### What feature would you like to see?
Currently, `client.py` has 5 blocks that look like this:
[code]

This is a really helpful feature but it's only available when interacting with the SDK from IPython. It would be nice (and trivial to implement) if links were printed outside of IPython.

I'll submit a PR momentarily that implements this.

---

Love this idea? Give

[2022-08-15 05:48] shalberd commented on #7512
As others have hinted towards here, PostgreSQL, especially with Operator Lifecycle Manager und, if wanted, being a Red-Hat-certified operator, is the way to go in an Enterprise environment that is Kubernetes-based. I wholeheartedly agree with all people who posted here. Database should not come pre-packaged with Kubeflow, as it is not a core component. Let people who really know their stuff handle

[2022-08-15 06:14] hanakawamomo commented on #4197
Hi there, are namespaced pipelines something the community still wants to support? Can we at least support the namespace param when uploading pipelines and pipeline versions in the python SDK? It would be really useful for our use case

Thanks

[2022-08-15 07:55] juliusvonkohout commented on #4197
You need to ask @StefanoFioravanzo and attend the KFP meeting on Wednesday

[2022-08-15 09:05] tam0201 commented on #8087
Hi, i am trying to build my own api on top of the sdk client. My kubeflow is full deployment on GCP. I am attempted to call client.list_experiments(), but it shows the same error as LeBoyOrion. Any suggestion?

[2022-08-16 08:27] robertschweizer commented on #7851
Thanks for the suggestion, @Linchin!

Our "api_key" is slightly more complicated: Every user has a different one, so our backend system can check which data each user is actually allowed to access in their pipeline runs, and track who created output data. But we want these API keys to be unknown to other users, so they cannot impersonate each other.

We are using RSA encryption now to pass secret

[2022-08-16 20:26] andresmascl opened #8153 "Critical CVEs found in gcr.io/ml-pipeline/metadata-writer:1.8.4"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Critical Vulnerabilities reported by `anchore` : CVE-2015-20107, CVE-2017-18342, CVE-2021-30473, CVE-2021-30474, CVE-2021-30475, GHSA-8q59-q68h-6hv4

*  KFP version:
`1.8.4`

### Materials and Reference

![image](https://user-images.githubusercontent.com/26497935/184978497-52f715b1-8715-4543-a58a-adec4030cf58.png)

---
Impacted by th

[2022-08-16 20:34] andresmascl opened #8154 "Critical CVEs found in gcr.io/ml-pipeline/frontend:1.8.4"
### Environment

Critical CVEs found by the `anchore` scanning service:  CVE-2020-3681, CVE-2022-28391, GHSA-896r-f27r-55mw, GHSA-xvch-5gv4-984h,

*  KFP version:
`1.8.4`

### Materials and Reference

![image](https://user-images.githubusercontent.com/26497935/184979777-70e25b06-a681-4654-84a6-7fb5973711f8.png)
![image](https://user-images.githubusercontent.com/26497935/184979832-dfc28a0d-2dcc-4ec

[2022-08-16 20:37] andresmascl opened #8155 "Critical CVEs found in gcr.io/ml-pipeline/visualization-server:1.8.4"
### Environment

Critical CVEs reported by the `anchore` scanning service:  CVE-2020-36242, GHSA-57wx-m983-2f88, GHSA-8vj2-vxx3-667w, GHSA-9j59-75qj-795w , GHSA-cq27-v7xp-c356, GHSA-h6gw-r52c-724r , GHSA-pw3c-h7wp-cvhx

*  KFP version:
`1.8.4`

### Materials and Reference

![image](https://user-images.githubusercontent.com/26497935/184980842-4648cc62-5bb6-426d-a483-9b898377f89c.png)

---

Impacted

[2022-08-16 21:12] Davidnet commented on #4574
Is there any update to this situation I was wondering since I am encountering a similar situation

[2022-08-17 12:05] GytisBraz opened #8159 "[sdk] Incompatibility between conditionals in component definitions and google-cloud-pipeline-components"
### Environment

*  KFP version: 1.8.12

*  All dependencies version:

    kfp                              1.8.12
    kfp-pipeline-spec                0.1.16
    kfp-server-api                   1.8.4
### Steps to reproduce

Run the following code snippet (not necessarily fully-working, but enough to demonstrate this issue)

[code]

This is the result I get:

`
TypeError: Got unexpected placehold

[2022-08-17 14:27] cgparkinson commented on #7719
Thanks, changing my PipelineParam type hint from `List[str]` to `list` worked.

[2022-08-17 17:24] difince commented on #8104
This does not happen really, doesn't it?
I have opened a few issues you may find relevant in some ways to the current issue:
-  [DeletePipeline does not clean PipelienVersion's data from Minio](https://github.com/kubeflow/pipelines/issues/7335)
-  [DeleteExperiment does not clean up all relevant children objects from the DB](https://github.com/kubeflow/pipelines/issues/7982)

Your two approaches m

[2022-08-17 23:17] HilbertSpecs opened #8164 "[bug] <kubeflow/pipelines mysql && workflow-controller pods failing 'Running' stuck in 'Pending' State with several other pods crashing consistently on Apple M1 architecture Deployed in Kind>"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)? Deploy in Kind --image kindest/node:v1.21.2 (Apple M1 Silicon Architecture BigSur)

*  KFP version: 1.7.0 (Also Failed with 1.8.13 i.e. replace with in command sequence -> % export PIPELINE_VERSION=1.8.13)

*  KFP SDK version: 1.8.13

### Steps to reproduce
Activate Python Virtual Environment and run following commands:

% kind create

[2022-08-18 01:17] saemaromoon opened #8165 "[bug] Recurring runs not working after re-installing kubeflow-pipelines modules"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

Using Kubeflow 1.5.1 on EKS and it is updated from version 1.3.1
I did  `kustomize build apps/pipeline | kubectl delete -f -` and
`kustomize build apps/pipeline | kubectl apply -f -`

registering a pipeline and calling a run works fine but registered recurring runs not working

*  KFP version:
gcr.io/ml-pipeline/api-server:1.8.2
gcr.

[2022-08-18 01:43] saemaromoon commented on #8165
I figured out that registering a recurring run creates a scheduled workflow crd instance. Removing the pipeline modules from the k8s cluster, also destroyed those crd instances, so the remaining metadata is meaningless. Is there a safer and more efficient way to upgrade the kubeflow-pipeline module without losing those crd objects?

[2022-08-18 12:13] KarolisKont opened #8166 "[sdk] Not able to parse `JsonObject` type input correctly"
### Environment

*  KFP version:
1.8.12
GCP Vertex AI pipelines.
*  KFP SDK version:
GCP Vertex AI pipelines.

*  All dependencies version:
[code]

[code]

### Steps to reproduce

Using yaml configuration for components, one of the inputs is `JsonObject`type i.e.:
[code]
Also, it can be `String` type:
[code]

To build a pipeline run we are going threw these stages:
1. Load definition using KFP.
2.

[2022-08-19 20:10] zichuan-scott-xu opened #8171 "[backend] Use the taskInfo name to find artifact"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Kubeflow Pipelines Standalone
*  KFP version:
2.0.0-alpha.3

*  KFP SDK version:
2.0.0b2

### Steps to reproduce
1. Open https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/test_data/pipelines/two_step_pipeline_containerized.py
2. Call `.set_display_name('name1')` on `component1` and `.set_display_name('name2')`

[2022-08-19 22:39] mehul1811 commented on #7523
I was stuck on this error for hours. What worked for me is wrapping metadata arguments inside `str( )` like:
[code]

Don't know why though because I confirmed that my parameters were already strings too. So it doesn't help if they are already a string. I was able to reproduce the error by just removing `str( )` so I am sure that's the solution that worked for me. Hope this helps!

[2022-08-21 07:02] r-matsuzaka opened #8175 "[backend] <Bug Name>TypeError: compile() got an unexpected keyword argument 'pipeline_parameters'"
### Environment

#### How did you deploy Kubeflow Pipelines (KFP)?

- minikube  latest (kubernets 1.21.14)
- kustomize 3.2.0
- kubectl 1.21.14
- kubeflow/manifests v1.6-branch

[code]

*  KFP version:
[code]
I tried both:
[code]

### Steps to reproduce

https://www.kubeflow.org/docs/components/pipelines/sdk/build-pipeline/#getting-started-building-a-pipeline

### Expected result
I cannot get kubef

[2022-08-21 07:09] capoolebugchat opened #8176 "[sdk] Missing"
### Environment

*  KFP version:

*  KFP SDK version:

*  All dependencies version:

### Steps to reproduce

I'm writing a component for the KFP v2 Pipeline backend, I wrote it in Python with the following definition:
@component
def train(
    dataset: Input[Dataset],
    config: Input[Artifact],
    model: Output[Model],
    bucket_name: str)
then, I tried to package it for later usages, using
fr

[2022-08-21 15:52] midhun1998 commented on #8165
@saemaromoon you are doing a clean install of the new version which should ideally behave as you told(CRD getting removed). But in order to upgrade the existing installation, you can just run `kustomize build apps/pipeline | kubectl apply -f -` with updated manifests n the directory and it should work without any problems from what I have seen. I hope this helps. 🙂

[2022-08-22 13:27] TobiasGoerke commented on #8104
Thanks for your reply, @difince. I've also been inclined to implement @juliusvonkohout's idea. However, turns out it is impossible to deduce cache entries in the db from runs. There simply is no information that could be used to match these. In case you have an idea how this could work, I'd be very glad to hear it!

Given this limitation, I've decided to take a different approach and simply make d

[2022-08-22 15:22] capoolebugchat commented on #8176
Close as this is resolved by updating the kfp SDK to v1.8.13 and above. Seems like a minor bug in the v1 to v2 migration that got fixed.

[2022-08-22 23:13] surajkota commented on #8097
@AlexandreBrown no, you cannot use standalone deployment instructions to upgrade KFP when using Kubeflow. KFP deployed with a Kubeflow installation is multi user flavour which depends on other components like Istio, cert-manager etc. Kubeflow-1.4 installs KFP-1.7. @zijianjoy to use v2 and address this issue, user would have to install v2.0-alpha correct?

Unfortunately as of today I dont think the

[2022-08-23 07:05] ptitzler opened #8184 "[backend] disabling task caching doesn't appear to work"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
[code]

   - minikube v1.18.1
   - kubernetes v1.20.2

*  KFP version: Deployed using [kubeflow/manifests v1.5.0](https://github.com/kubeflow/manifests/archive/refs/tags/v1.5.0.tar.gz)

*  KFP SDK version:

[code]

### Steps to reproduce

Create a ContainerOp and use [`set_caching_options(False)`](https://kubeflow-pipelines.readthedo

[2022-08-23 08:19] tingshua-yts opened #8185 "[feature] add delete button for runs to KFP UI"
### Feature Area

 /area frontend

### What feature would you like to see?
![image](https://user-images.githubusercontent.com/57979478/186108318-99aa686b-6b9d-4247-ab98-c68b7d00d796.png)

can add delete button for runs ? Currently, there is no delete button. Is there any design concern？

### What is the use case or pain point?
I submitted a batch of tasks and found that they did not meet expectati

[2022-08-23 09:15] juliusvonkohout commented on #8104
I discussed with @TobiasGoerke  that we go for a disable cache switch in the pipeline run UI and a slightly modified version of https://github.com/kubeflow/pipelines/issues/7939#issuecomment-1193910281 .  If the maximum cache staleness leads to an empty list from https://github.com/kubeflow/pipelines/blob/555447f5c6453609c59db1a890cca1ec38156847/backend/src/cache/storage/execution_cache_store.go#L

[2022-08-23 17:28] zijianjoy commented on #7512
Currently we would like help from community to support postgreSQL integration. For anyone who wants to contribute making Kubeflow Pipelines runnable with PostgresSQL:

1. Create a postgresql folder under https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/third-party and define the postgresql resources in this folder.
2. Define an overlay in https://github.com/kubeflow/pipelines/

[2022-08-24 05:37] zijianjoy commented on #8097
@surajkota That is right, for using V2 feature, you need to start using KFP v2.0.0-alpha or above.

In general, you maintain a copy of Kubeflow manifests locally, whenever you want to upgrade a kubeflow component, like KFP. You can compare the diff between old version and new version, and use tools like kpt, helm chart, etc. to perform upgrade.

[2022-08-24 05:40] #6915 closed

[2022-08-24 19:28] pablofiumara opened #8189 "[backend] Cannot list artifacts"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Using https://www.kubeflow.org/docs/distributions/gke/deploy/upgrade/

*  KFP version:
ml-pipeline/frontend:1.8.1
ml-pipeline/api-server:1.8.1

### Steps to reproduce

Upgrade from Kubeflow 1.3 to Kubeflow 1.5 allows to replicate the problem

### Expected result

I expect to be able to see a list of artifacts when I access myCluster

[2022-08-25 22:44] jlyaoyuli commented on #8165
Hi @saemaromoon, it looks like you can fresh install KFP to resolve this problem. Feel free to re-open this issue if you still have any question.

[2022-08-25 22:44] #8165 closed

[2022-08-25 22:47] jlyaoyuli commented on #8185
Hi @tingshua-yts , you can archive the runs first and then delete them in the archived list.

[2022-08-25 22:47] #8185 closed

[2022-08-25 22:55] zijianjoy commented on #8189
Have you checked that both `ml-pipeline-ui` deployment in `kubeflow` namespace and the `ml-pipeline-ui-artifact` deployment in user namespaces are all using `ml-pipeline/frontend:1.8.1`?

[2022-08-25 23:00] pablofiumara commented on #8189
@zijianjoy Yes, I have

[code]
[code]

What else can I check?

[2022-08-25 23:05] chensun commented on #8175
Hi @r-matsuzaka,

Sorry about the confusion here. The doc you referred to is about KFP v1, and the master branch code is about KFP v2. The code for v1 can be found in the `sdk/release-1.8` branch: https://github.com/kubeflow/pipelines/blob/0ad4cdfaabebbb566dad2b9523267d886942f2ad/sdk/python/kfp/compiler/compiler.py#L1129-L1144

and `pipeline_parameters` was not there.

We're working on adding the

[2022-08-25 23:05] #8175 closed

[2022-08-26 00:04] pablofiumara commented on #8189
If I go to myCluster/ml_metadata.MetadataStoreService/GetEventsByArtifactIDs, I get the message

`upstream connect error or disconnect/reset before headers. reset reason: remote reset`

Using asm-1143-0

[2022-08-26 03:52] zijianjoy commented on #8189
ml-metadata has been upgraded from 1.0.0 to 1.5.0 when Kubeflow is upgraded from 1.3 to 1.5. https://github.com/kubeflow/pipelines/commits/master/third_party/ml-metadata

As a result, MLMD schema version has been changed. So you need to follow the instruction to upgrade MLMD schema: https://github.com/google/ml-metadata/blob/master/g3doc/get_started.md#upgrade-the-mlmd-library

[2022-08-26 07:53] andre-lx opened #8200 "[backend] Metadata writer pod always restarting"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Manifests in k8s
*  K8S Version:
1.21
*  KFP version:
1.8.1/1.8.2/1.8.3/1.8.4

### Steps to reproduce

Hi.

Since release 1.8.1 (can't be sure about older versions) our metadata-writer pod is always restarting infinitely with the following message error:

[code]

[code]

We already try the most recent versions of version 1.8 (we did

[2022-08-26 12:31] Longwelwind commented on #8184
I think this is because this function only works when using SDK V2.

To disable the cache for a component in V1, use:

[code]

[2022-08-26 14:35] verhoek opened #8201 "[documentation] sdk documentation of kfp.v2"
I am having difficulties regarding the documentation of the python SDK of pipelines, in particular the kfp.v2 package of the 1.8.x releases.
Some functionality from the package kfp.v2.google seems to be referenced on the web/from the vertex ai docu, yet I cannot find any official referenced documentation of it from the project itself, for example on https://kubeflow-pipelines.readthedocs.io .
I un

[2022-08-26 19:50] pablofiumara commented on #8189
@zijianjoy Thank you very much for your answer. If I execute

`kubectl describe deployment metadata-grpc-deployment -n kubeflow`

I get
[code]

Does this mean MLMD dependency version is correct? What am I missing?

[2022-08-26 20:29] pyang-aurora commented on #7476
Any update on this issue?

[2022-08-28 05:19] zijianjoy commented on #8189
You need to upgrade the MLMD database schema: https://github.com/google/ml-metadata/blob/master/g3doc/get_started.md#upgrade-the-database-schema

[2022-08-28 07:22] ittus opened #8203 "[sdk] Can't use pipeline's input object in dsl.Condition"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
Full Kubeflow deployment

*  KFP version:
1.8.1

*  KFP SDK version:
1.8.12

### Steps to reproduce

[code]

Then there is an error when create the pipeline

[code]

If I change the condition to
[code]

then when running, there is another error

[code]
### Expected result

- Able to use dsl.Condition with pipeline's input

### Materia

[2022-08-29 10:51] TranThanh96 opened #8205 "[feature] import python function in component"
for example:
I have a file utils.py which defined some functions.
How can I import those functions in my components?
Any ideas?

[2022-08-29 11:22] ysk24ok commented on #7013
In kfp v2 (the stable release hasn't been made yet, though), the problem seems to be fixed.

[code]

The pipeline name is inferred from the pipeline function name. Closing this issue.

[2022-08-29 11:22] #7013 closed

[2022-08-29 22:29] pablofiumara commented on #7474
@ji-yaqi Have you all had time to review this related PR? https://github.com/kubeflow/pipelines/pull/7526

[2022-08-30 05:32] zijianjoy commented on #7476
Currently we are looking for help to implement this feature on KFPv2.

[2022-08-30 08:33] StefanoFioravanzo commented on #4197
@hanakawamomo @juliusvonkohout Hi! Please see https://github.com/kubeflow/pipelines/pull/8196. The PR include the backend and client changes to support namespaced pipelines.

As soon as that one gets merges, we will open a PR that includes the UI changes described in the doc https://github.com/kubeflow/pipelines/issues/4197#issuecomment-1092211688

[2022-08-30 21:35] gkcalat commented on #8154
@andresmascl, thank you for your contribution!

As these vulnerabilities are not marked as critical on GCR, we will keep this in backlog for now.

[2022-08-30 21:36] gkcalat commented on #8153
@andresmascl, thank you for your contribution!

As these vulnerabilities are not marked as critical on GCR, we will keep this in backlog for now.

[2022-08-30 21:37] gkcalat commented on #8155
@andresmascl, thank you for your contribution!

As these vulnerabilities are not marked as critical on GCR, we will keep this in backlog for now.

[2022-08-31 00:49] songole commented on #4194
Is there a priority on this issue? We are also interested in having tags on pipeline resources.

[2022-08-31 12:00] SanderRednas commented on #6726
Just as you created an allow for the pipelines you also have to do this for experiments if you want to run list_experiments() when you have multi-user deployment:

apiVersion: kubeflow.org/v1alpha1
kind: PodDefault
metadata:
  name: access-ml-experiments
  namespace: <NAMESPACE>
spec:
  desc: Allow access to Kubeflow Experiments
  selector:
    matchLabels:
      access-ml-experiments: "true"
  vo

[2022-08-31 13:07] abdullin commented on #7012
I have exactly the same issue, when trying to run batch prediction over the uploaded vertex model: `Job Name in gcp_resource is not formatted correctly or is empty.`

Manual batch prediction fails with:

The same model works fine when deployed to an endpoint. Any hints or workarounds would be greatly appreciated!

[2022-08-31 13:29] abdullin commented on #7012
Update, according to [that commit](https://github.com/kubeflow/pipelines/commit/582aefa56d1850d3bd9f1cb5bff26bd25baa50dd), the issue was fixed in the code 19 days ago.

[2022-08-31 19:15] jielou opened #8224 "[backend] metadata-grpc-deployment cannot connect to mysql"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
follow the standalone deployment doc, but run `kubectl create -k platform-agnostic' instead.
*  KFP version:
1.5
*  KFP SDK version:
NA
* EKS cluster k8s version: 1.19

### Steps to reproduce
I follow the guideline the deploy the standalone kubeflow pipelines. However, the metadata-grpc-deployment pod always crush, and logs shows
[co

[2022-09-01 12:39] harshvladha opened #8230 "[bug] Kubeflow Pipeline UI not rendering Pipeline Metrics (again?)"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
Ans: Full Kubeflow Deployment

*  KFP version:
For some reason the sidebar shows : **build version dev_local** but was installed using YAMLs at: https://github.com/kubeflow/manifests

Docker Image and Tag info:
`ml-pipeline-api-server`:   `gcr.io/ml-pipeline/api-server:1.8.1`

`ml-pipeline-ui`:   `gcr.io/ml-pipeline/frontend:1.8.1`

*

[2022-09-01 13:57] rawc0der commented on #8111
Hi @kdubovikov @chensun,

Also running into this problem after switching Artifact Store persistence to S3.

Wondering if you've seen the latest **MinioJS v7.0.27** with _Assume Web Identity Role_ support https://github.com/minio/minio-js/pull/960 ?

This could be part of the fix, without needing any workaround if I'm not mistaken.

[2022-09-01 14:38] harshvladha commented on #7971
@bertinma how did you resolve the issue?

[2022-09-01 18:27] harshvladha commented on #8230
Ignore. I found that the value inside the metrics json was screwed up.. I was passing a dict unintentionally in one of the metric where I had to pass the number.

I think KFP Compiler can show this as warning when ml-pipeline metrics doesn't have an expected return output schema (or it can be shown in UI so that debugging becomes easier)

[2022-09-01 19:25] #6672 closed

[2022-09-01 19:26] #6400 closed

[2022-09-01 22:53] connor-mccarthy commented on #8203
Thanks for reporting this @ittus. This is a known bug and should be resolved.

[2022-09-01 22:53] gkcalat commented on #8224
Hi @jielou !
Could you please try a newer version of KFP standalone deployment (e.g. 1.8.5) and let us know if you still encounter the problem.

[2022-09-01 22:55] #8230 closed

[2022-09-01 23:08] connor-mccarthy commented on #8201
@verhoek, thanks for raising this. We are working on a significant documentation refresh that should help with this. In the meantime, maybe I can help here.

Which version of the SDK are you using?

Can you point me in the direction of this? It will be easier to speak in specifics based on the functionality you're trying to use from the Vertex docs.

The v2 subpackage/namespace within 1.8.x was in

[2022-09-02 00:02] ysk24ok opened #8236 "[bug] Disabling caching for a step by set_caching_options lead to disabling caching for subsequent steps"
I'm not sure if it's a bug or an expected behavior, but let me mark as a bug for now.

### Environment

*  How do you deploy Kubeflow Pipelines (KFP)? full Kubeflow deployment

*  KFP version: 1.8.1

*  KFP SDK version: 1.8.13

### Steps to reproduce

[code]

Submit the pipeline using `create_run_from_pipeline_func` with `V2_COMPATIBLE` mode two times.

We'll see `print_file_content_task` is not c

[2022-09-02 11:00] verhoek commented on #8201
It was 1.8.13.

We tried to use the deprecated package kfp.v2.google for the aiplatformclient, which seems to have been moved to the vertex ai sdk in the google.cloud package. When I check the vertex ai documentation though, a hint has been added that one should use the google.cloud package. I don't know if that was there before or we didn't check properly - I retract the statement that vertex ai

[2022-09-02 11:24] Longwelwind commented on #8184
Please close your issue if it's resolved.

[2022-09-02 13:34] bertinma commented on #7971
I create a dictionary with my metrics and save to a minIO output path like this

`metrics = {
            'metrics': [
                {
                    'name': 'loss',
                    'numberValue':  self.metrics_dict['loss'],
                    'format': 'RAW',
                },
                {
                    'name': 'iou_score',
                    'numberValue':  self.metrics_

[2022-09-02 18:19] connor-mccarthy commented on #8201
That is correct. For submitting jobs to Vertex, use `google.cloud.aiplatform.PipelineJob(...).submit()` from the Vertex SDK.

I see. This may already be clear, but just to be sure: there is a v2 namespace in `kfp==1.8.x`. There is also `kfp==2.x.x` which is currently in beta stage. The docs you are referring to are about the v2 namespace in v1, which applies to `kfp==1.8.x`.

The v2 namespace in `

[2022-09-04 11:46] satriawadhipurusa commented on #651
+1

[2022-09-05 09:36] rsr23 commented on #651
+1

[2022-09-05 10:24] rawc0der commented on #3398
@surajkota @PatrickXYS any plans here?

[2022-09-05 10:27] capoolebugchat commented on #6428
It has been one year, did anyone found out how to resolve/workaround this bug that'd be great, Im sure this is one of the major bugs.

[2022-09-05 12:18] kotalakshman commented on #5718
when using the emissary executor you must either explicitly specify the command, or list the image's command in the index: https://argoproj.github.io/argo-workflows/workflow-executors/#emissary-emissary

kubeflow version:1.7.1

[2022-09-05 12:20] kotalakshman opened #8240 "when using the emissary executor you must either explicitly specify the command, or list the image's command in the index: https://argoproj.github.io/argo-workflows/workflow-executors/#emissary-emissary[bug] <Bug Name>"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version: 1.7.1

*  KFP SDK version:1.7.1
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest

[2022-09-06 02:58] kotalakshman commented on #8240
using kubeflow , machine learning model deployed in to kubernetes,then i'm getting the attached error message

[2022-09-06 10:20] #8184 closed

[2022-09-06 12:36] pogacsa commented on #4170
Hi all, I just stumbled upon this error. Are you working on a solution, or is it expected, that we use some kind of a workaround?

[2022-09-06 20:05] tarat44 opened #8242 "[feature] Allow Filtering On Pipeline ID for List Runs Api Endpoint"
### Feature Area

/area backend

### What feature would you like to see?

Extend the api endpoint for listing runs to allow selecting or filtering runs by pipeline ID.

### What is the use case or pain point?

This feature will be helpful when it is necessary to easily gather all runs associated with a given pipeline

### Is there a workaround currently?

No

---

Love this idea? Give it a 👍.

[2022-09-06 21:33] zijianjoy commented on #8189
There is a tool for MLMD upgrade: https://github.com/kubeflow/pipelines/blob/74c7773ca40decfd0d4ed40dc93a6af591bbc190/tools/metadatastore-upgrade/README.md

[2022-09-07 12:34] dari-o commented on #2829
This is still an issue. Can someone look into it? 🤔 I see people commenting but that it has not been resolved but it was automatically closed

[2022-09-07 12:41] dari-o commented on #2829
/reopen

[2022-09-07 15:26] jli commented on #4170
@pogacsa there hasn't been any update on this for a while it seems. fwiw, I worked around this by doing a variety of hacks to post-process the YAML generated by the KFP compiler.

This is an easy one: https://github.com/kubeflow/pipelines/issues/4170#issuecomment-655764762
I also removed the annotations `pipelines.kubeflow.org/component_ref` and `pipelines.kubeflow.org/arguments.parameters`.

Anot

[2022-09-07 20:13] amirhessam88 commented on #5640
Any progress on this ?

[2022-09-08 22:35] zijianjoy commented on #8200
Hello @andre-lx , does this issue happen during start-up time, or does it happen when you are running specific pipeline? If there is more information about how to reproduce this issue, it will help us to investigate the problem.

/assign @chensun

[2022-09-08 22:46] zijianjoy commented on #8242
/cc @Linchin

[2022-09-08 23:00] zijianjoy commented on #8236
Hello @ysk24ok

1. It is likely that `download_task` generates new output every time, even if the content is the same. As a result, if the upstream is not cached, then the downstream task will not be able to use cache.
2. We have deprecated V2_COMPATIBLE mode, please use 2.0.0-XXX and remove the use of `V2_COMPATIBLE`.

For now, the workaround is to pass the string value instead of Artifact to `pr

[2022-09-08 23:04] zijianjoy commented on #8240
Hello @kotalakshman ,

There are multiple information in here, I am assuming you are using container component in your pipeline:

1. In the issue title, this is by design because you need to explicitly specify the command in your container spec. Example: https://github.com/kubeflow/pipelines/pull/6143/files
2. In the issue description, you need to start using Python 3 because Python 2 is no longer

[2022-09-08 23:04] #8240 closed

[2022-09-09 00:00] #8141 closed

[2022-09-09 06:56] MainRo opened #8252 "[bug] GCP ModelBatchPredictOp is never cached"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
Vertex-AI pipelines
*  KFP version:
I don't know (vertex ai)
*  KFP SDK version:
1.8.12

### Steps to reproduce

Create a pipeline that uses the ModelBatchPredictOp, and run it several times. The task is never cached, but systematically executed.

### Expected result

The task should be cached when the input parameters do not change (

[2022-09-09 07:38] surajkota commented on #3398
Yes, we do.

We had started on this and updated minio-go in #7946 but this is not sufficient for the UI to work. For the UI to work, we need minio-js support. Minio-js is also available but the corresponding typescript bindings are not. We have paused on this right now also to investigate user experience. Some of the service accounts are in Kubeflow namespace and some are in user profile namespace

[2022-09-09 12:51] bretttully commented on #7494
Found a hack to get around this until it is fixed properly

[code]

[2022-09-09 13:26] LaoLiulaoliu commented on #7589
Hi there, I met the same problem too. any ideas, please?

[2022-09-11 20:24] sergeykuprikov opened #8255 "[frontend] Can't see log field in UI (SDK v2)"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
from kubeflow/manifests v1.4
*  KFP version: 1.7.0
### Steps to reproduce
QQ
When I try to run a simple pipeline on SDK 2, I don't see the main.log fields in the output artifact.
Although I can see the log saved in minio.
![image](https://user-images.githubusercontent.com/85128586/189547248-264e5617-6669-4a25-8ac7-fc58ef6223ae.png)
U

[2022-09-12 09:36] dbg-raghulkrishna opened #8256 "[bug] Pipeline metrics Invalid input error: Unknown execution spec"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
    Kubeflow/manifest  v1.6
    AKS v1.22

*  KFP version:  ml-pipeline/api-server:2.0.0-alpha.3

*  KFP SDK version: '1.8.13'

### Steps to reproduce

[code]
### Expected result
![image](https://user-images.githubusercontent.com/106546936/189620869-f40b0cca-d25e-483d-84f4-5a16c12565c0.png)

### Materials and reference
https://www.kub

[2022-09-12 13:38] pogacsa commented on #4170
We found another workaround when we figured out why the yaml gets so large:
If we use "for" cycles in the pipeline definition, everything within is repeated x times in the yaml. This also explains why we can't use variables as basis for these cycles. Workaround: use dsl.Parallelfor instead and use the input-output variables of the components. This way the cycle is generated at runtime, will not ap

[2022-09-12 23:21] parthmishra opened #8257 "[feature] Allow GCP ModelUploadOp to upload a model version"
### Feature Area

/area components

### What feature would you like to see?

The ability to upload a Vertex Model version to the model registry

### What is the use case or pain point?

In the REST API for[ model upload](https://cloud.google.com/vertex-ai/docs/reference/rest/v1/projects.locations.models/upload#request-body), the request body has several fields including `parentModel` which can be

[2022-09-13 10:15] juliusvonkohout commented on #6578
We will cover this and more in https://github.com/kubeflow/pipelines/pull/8177 hopefully we can present it tomorrow in the KFP meeting

[2022-09-14 15:38] dbg-raghulkrishna commented on #7078
any update on this? i have to include our antifactory images in our organization

[2022-09-15 00:20] pablofiumara opened #8267 "[sdk] ssl.SSLError: [SSL: WRONG_VERSION_NUMBER] wrong version number"
### Environment

*  KFP version: 1.8.1
*  KFP SDK version: 1.6.2
*  All dependencies version:
kfp                          1.6.2
kfp-pipeline-spec            0.1.16
kfp-server-api               1.8.5

### Steps to reproduce
It happens on GCP, on a Kubeflow 1.5 cluster

To reproduce you should execute the following code:

[code]
### Expected result

I should get a pipeline id

---------------------

[2022-09-15 06:58] BroderPeters commented on #8267
Feels like something is wrong with your kubernetes/kubeflow setup.
Can you see the pipelines UI or does it also show this error?

[2022-09-15 07:11] SeibertronSS opened #8269 "Cannot get key for artifact location"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

    I deploy the Kubeflow Pipelines (standalone) by Kubeflow Manifests (https://github.com/kubeflow/manifests)

*  KFP version:

    1.7.0

*  KFP SDK version:

    1.8.2

When  I submit a pipeline, I will get the error `This step is in Error state with this message: Error (exit code 1): key unsupported: cannot get key for artifact l

[2022-09-15 08:24] MatthiasCarnein commented on #8256
I'm experiencing the same issue. It seems that the issue was introduced in the alpha.3 release. Metrics are successfully picked up when downgrading the ml-pipeline deployment to the previous image `gcr.io/ml-pipeline/api-server:2.0.0-alpha.2`

[2022-09-15 17:21] pablofiumara commented on #8267
@BroderPeters Thank you very much for your answer. I can see pipelines UI.

It's a weird error. The error does not happen to me. It happens to my work colleague sometimes. Sometimes they are able to publish pipelines from their local environments, sometimes they are not.

[2022-09-15 22:40] connor-mccarthy commented on #8257
/cc @chongyouquan

[2022-09-15 22:49] connor-mccarthy commented on #8255
We do not support main.logs in KFP v2 compatible mode. We are no longer supporting KFP v2 compatible mode.

We support main.logs in KFP v1 and are working toward support in KFP v2.

[2022-09-15 22:49] #8255 closed

[2022-09-15 22:52] connor-mccarthy commented on #8269
@SeibertronSS, do other pipelines have this error? Have you successfully run a pipeline on this deployment?

It seems like there may be an issue with the deployment related to the [minio artifact secret](https://github.com/kubeflow/pipelines/blob/74c7773ca40decfd0d4ed40dc93a6af591bbc190/manifests/kustomize/third-party/minio/base/mlpipeline-minio-artifact-secret.yaml).

[2022-09-15 23:00] connor-mccarthy commented on #8267
This sounds like it may be an issue related to a specific network setup. It will be hard to help without some more information about what the variance is attributed to.

Can you see if you are able to reproduce the issue with the KFP v2 SDK `kfp==1.8.13`? If this does not help, consider upgrading the `urllib3` library manually.

[2022-09-15 23:27] #7474 closed

[2022-09-15 23:52] pablofiumara commented on #8267
@connor-mccarthy Thank you very much for your answer. I will try that

[2022-09-16 15:06] gkcalat commented on #7474
Hi @votti.

We have implemented a workaround for OOB in #8262. It should be included in the next SDK releases for v2 and v1.8.

You can also build it from **master** branch if you want to test earlier:
[code]

This will create a wheel in **pipelines/sdk/python/dist** folder. You can create a new virtual environment to install the wheel:
[code]

To test it, run thin in python (replace parameters be

[2022-09-17 13:41] AdityaSoni19031997 commented on #7717
The same also happens when we use kind nonetheless

[2022-09-19 08:56] juliusvonkohout commented on #8256
@Tobiasgoerke and myself can reproduce this too. @kimwnasptd @annajung this is another serious regresseion and candidate for Kubeflow 1.6.1
@Linchin @james-jwu Is this fixed in a newer release that we can use for 1.6.1?

[2022-09-20 02:39] tktest1234 opened #8283 "[backend] metadata-writer cannot save metadata of S3 artifacts with argo v3.1+"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
kubeflow 1.4 manifest (git::https://github.com/kubeflow/manifests.git?ref=v1.4.0 )
and manually change config for S3
*  KFP version:
1.7.0 (kubeflow 1.4)
*  KFP SDK version:
1.7.1

### Steps to reproduce

1. setting to save artifacts to S3 (change configmap for workflow-controller)
1. Run pipeline: [Tutorial] Data passing in python c

[2022-09-20 20:16] chensun commented on #8256
I'll take a look.

Slightly off the topic, per https://github.com/kubeflow/pipelines/issues/8256#issuecomment-1247757386, this is a regression in KFP 2.0.0a3. While last time we communicated, KFP 2.0.0a2 should be the version to go with Kubeflow 1.6 release (https://github.com/kubeflow/manifests/issues/2198#issuecomment-1171703073).

Given the natural of alpha phase release, I think we probably sh

[2022-09-20 20:35] chensun commented on #8256
I take this back, checked the change history and it appears we never included KFP 2.0.0a2 in any KF 1.6 RC release.
Let me focus on this specific issue first.

[2022-09-21 17:31] #8256 closed

[2022-09-21 17:35] chensun commented on #8256
Discussed with @gkcalat offline. We'll release with 2.0.0a5 with the fix, and tentatively use this version for KF 1.6 patch release.
That being said, I still think in future KF release, we shouldn't automatically pick the latest KFP alpha release available.

[2022-09-22 07:56] ysk24ok commented on #7614
Hello @chensun, I've also encountered this problem.
What's the platform-agnostic alternative of `{{workflow.status}}`? It seems [kfp/dsl/\_\_init\_\_.py](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/__init__.py) doesn't have that.
WIthout this, we can't migrate our in-house component which uses `{{workflow.status}}` to Vertex AI.
Thank you for your help in advance.

I'd say

[2022-09-22 10:03] wardVD opened #8291 "[sdk] Package version conflict in kfp and google-cloud-pipeline-components"
### Environment

*  KFP version:
2.0.0b1

### Steps to reproduce
Create a `requirements.in` file:

[code]

Then run `pip-compile -v requirements.in`

### Result

[code]

### Expected result
An output with compatible package versions.

### Possible solution
Bump the google-cloud-storage version to include `<3,>=2.2.1` in https://github.com/kubeflow/pipelines/blob/2.0.0b4/components/google-cloud/dep

[2022-09-22 13:33] MainRo opened #8292 "[feature] Add a progress bar in the DAG UI for long-running tasks"
### Feature Area

/area frontend
/area backend
/area sdk

### What feature would you like to see?

In the UI displaying the DAG of the pipeline, it would be great to see a progress bar on each task. This would allow to visually see how far the task is to completion. In the code of the component, we could provide information on the progress with a dedicated API in the SDK.

### What is the use case

[2022-09-22 18:53] chensun commented on #4170
/cc @chensun
/cc @connor-mccarthy

[2022-09-22 20:28] casassg opened #8294 "[feature] Stop recurring run when failed"
### Feature Area

/area backend

### What feature would you like to see?

Support for stopping recurring runs (or retry N times) if a run fails.

### What is the use case or pain point?

At the moment, when a recurring run has a failed run, it will continue scheduling new runs independently of previous state. Ideally, we would like to define a custom behaviour were a scheduled run gets retried N t

[2022-09-22 22:44] chensun commented on #8291
`google-cloud-pipeline-components` is currently not fully compatible with kfp 2.0*. We're working on the migration, and @chongyouquan may help provide a rough timeline.

[2022-09-22 22:47] chensun commented on #8292
This is infeasible, as each task is a containerized app. KFP system doesn't have visibility into the progress of a task.
Our suggestion would be use the log workaround as you described.

[2022-09-22 22:47] #8292 closed

[2022-09-22 22:54] chensun commented on #8294
This feels like a custom logic that probably shouldn't be part of a scheduling system. Alternatives could be implementing the custom logic yourself either from client side or in component level like using exit handler.

[2022-09-22 22:54] #8294 closed

[2022-09-23 00:48] casassg commented on #8294
@chensun I wonder wdym to implement this from client side? Scheduled runs after they are created as a resource are only checked by the controller itself so not sure how could client perform retries. Unless you mean reimplementing recurring runs from client manually

[2022-09-23 08:06] MainRo commented on #8292
ok, thanks for answering.

[2022-09-23 11:29] skogsbrus commented on #7345
Contribution process has been completed. I'll try to pick this up when I find the time (note: might take a while). In the meantime, feel free to ping me if there's anything I can clarify

[2022-09-24 03:09] zijianjoy opened #8300 "[sdk] Unable to import ServiceAccountTokenVolumeCredentials in KFPv2 SDK"
### Environment

*  KFP version:
KFP 2.0.0-alpha4
*  KFP SDK version:
2.0.0-beta.4

### Steps to reproduce

Follow https://www.kubeflow.org/docs/components/pipelines/v1/sdk/connect-api/#full-kubeflow-subfrom-inside-clustersub to set the default SA token path as empty. But `ServiceAccountTokenVolumeCredentials` cannot be imported.

From the `__init__.py` file, ServiceAccountTokenVolumeCredentials i

[2022-09-25 19:56] zijianjoy opened #8302 "[sdk] KFPv2: Custom Container component set bool default value `False` to `0` which caused runtime failure"
### Environment

*  KFP version:
KFP 2.0.0-alpha.4
*  KFP SDK version:
SDK 2.0.0-beta4

### Steps to reproduce

Create the following custom container component:
[code]

Note that `delete_finished_experiment` has a default value `False`.

When compiling the pipeline, this component is converted to IR with the following format:

[code]

Note that `delete_finished_experiment` has a runtime value as 0

[2022-09-26 12:56] MartinRogmann opened #8307 "[bug] Unable to produce pipeline with basic Component I/O"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

Installed kubeflow manifest **v1.6.0-rc.1** with **minikube v1.26.0** and **kubectl v1.21.14**

For detailed output:

minikube version: v1.26.0
commit: f4b412861bb746be73053c9f6d2895f12cf78565

kubectl  version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.14", GitCommit:"0f77da5bd4809927e15d1658fb4aa8f13ad890

[2022-09-26 15:08] connor-mccarthy commented on #8300
Thank you, @zijianjoy!

[2022-09-26 17:22] annajung commented on #8256
Thanks @chensun, do you know when we can expect 2.0.0.a5?

[2022-09-26 18:05] ameya-parab opened #8308 "[feature] Container start and end times associated with a Pod"
### Feature Area

/area backend

### What feature would you like to see?

We want to track the start and end times of containers within a pod (Kubeflow Pipeline/Run task). In other words, for better observability, we would like to log the start and end times of the `init`, `wait` and `main` container which are triggered as part of a KFP pod. The `mlpipeline` metabase currently tracks total run and

[2022-09-26 19:27] chensun commented on #8256
@annajung 2.0.0a5 release is done: https://github.com/kubeflow/pipelines/releases/tag/2.0.0-alpha.5

[2022-09-27 13:49] riyaj8888 opened #8312 "[sdk] <Bug Name>"

[2022-09-27 15:29] alexlatchford opened #8313 "[sdk] 403 error when API key is auto-refreshed with Out of Cluster kube-context"
### Environment

*  KFP version:

We run KFP v1.8.1 via KF v1.5.0.

*  KFP SDK version:

We run a forked version of KFP SDK which is at ~v1.9.0, mostly has a couple of patches for problems we've contributed back but haven't fully reincorporated.

*  All dependencies version:

From my investigation of the current code on `master` in the open source repo, this bug still exists and should be pretty e

[2022-09-27 18:37] IronPan commented on #7939
Is job level caching config an option? The global caching config might be inflexible if different pipelines artifacts have different TTL? Especially if multiple users are sharing the same environment.

[2022-09-28 04:31] riyaj8888 commented on #8312
![kfp error](https://user-images.githubusercontent.com/29457825/192687999-873f1c52-a310-4ee0-b968-4f6fd071dee6.PNG)

[2022-09-28 09:35] juliusvonkohout commented on #7939
@IronPan

You can still set a per pipeline and per step cache staleness. Please check https://github.com/kubeflow/pipelines/pull/8270#discussion_r980508499 and the design document linked there.

[2022-09-28 13:43] meken commented on #8257
Similarly other Ops that can generate a model (Custom*TrainingJobRunOp, AutoML*TrainingJobRunOp etc) should support adding new versions of a model as well.

[2022-09-28 14:41] dvaldivia commented on #6378
We need support for custom CA's, not all certificates are publicly trusted, for example if you are using Kubernetes CSR's (Certificate Signing Requests) the certificate will be issued by the Control Plane CA, and the root CA needs to be added to the trusted certificates, just the same, when working inside an enterprise setup we would need to trust certificates issued internally.

In both of these

[2022-09-28 21:38] abishek-murali opened #8318 "[backend] Duplicate volumes are found when running on ACI"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?  [Standalone deployment](https://www.kubeflow.org/docs/components/pipelines/v1/installation/standalone-deployment/)

*  KFP version: 1.8.5 (Kubeflow 1.6.0)

*  KFP SDK version: 1.2.0 (and 1.8.14)

### Steps to reproduce
- Running kubeflow job on AKS with virtual node enabled. Trying to run the containers using Azure container instanc

[2022-09-28 21:49] vbucaj commented on #7589
I'm running into a similar problem, as well. Any solutions?

[2022-09-29 22:41] #8312 closed

[2022-09-29 22:48] Linchin commented on #8307
Hi @MartinRogmann, maybe consider upgrading the kfp SDK to 1.8.14 and see if the error persists?

[2022-09-29 22:52] Linchin commented on #8308
Hi @ameya-parab, thank you for bringing up this feature request. We recommend using the API from k8s to collect pod info now, and we don't have plans to implement this functionality. Feel free to open this thread if you have more thoughts!

[2022-09-29 22:52] #8308 closed

[2022-09-29 22:54] Linchin commented on #8318
Hi @abishek-murali, thank you for reporting the bug. Maybe you can try upgrading the SDK to the version 1.8.14 and see if the error still exist.

[2022-09-29 23:02] gkcalat commented on #8313
Hi @alexlatchford!

It seems that the `refresh_token` got expired or removed. Could you logout from your Google account and try repeating the steps you outlined?

[2022-09-29 23:03] alexlatchford commented on #8313
Hey @gkcalat we're on EKS 😅

[2022-09-30 03:08] wyljpn commented on #6138
Hi, there.
I am using kfp v.1.5.1 with tfx v0.28.0.
I faced the issue of loading ML metadata in the Runs page, although in the compatibility matrix it is "Fully Compatible".
That was because of the contextName inconsistency between what frontend wants to find and that stored in the MySQL.
frontend wanted to find something like "my_pipeline.my-pipeline-xaew1" (some hash is appended in the second pa

[2022-09-30 08:19] MartinRogmann commented on #8307
Hi @Linchin, that solved the problem. Thank you

[2022-09-30 08:19] #8307 closed

[2022-09-30 19:26] #6780 closed

[2022-09-30 19:31] #7611 closed

[2022-09-30 21:05] abishek-murali commented on #8318
@Linchin I upgraded to 1.8.14, and the error still exists

[2022-10-02 11:29] riyaj8888 opened #8327 "saving pickle file"
Hi ,

I am trying to write pickle file of my trained sklearn model , but i am unable to do it.

I am defining output_pickle_file:OutputPath(str) for saving it but not able to save using this.
So i tried using BinaryFile but this tym i am able to save it but after saving ,tried to load it but i am getting following error.

`TypeError: expected str, bytes or os.PathLike object, not _io.BufferedWrite

[2022-10-03 10:52] vstrimaitis opened #8328 "[bug] Component doesn't receive some inputs if all of them come from the same output of another component"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)? Vertex AI Pipelines on GCP
*  KFP version: Don't know - whatever Vertex AI uses 😁
*  KFP SDK version: `1.8.12`

### Steps to reproduce

Define the following pipeline:

[code]

Run it on Vertex AI. It will fail because either `data1.path` or `data2.path` will be `None` in the `read_data` step.

### Expected result

The pipeline should

[2022-10-03 14:48] the5solae opened #8329 "[backend] Data downloaded in one pipeline step is inaccessible in the next step."
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? **Full Kubeflow Deployement on OCI**

*  KFP version: **1.6**

*  KFP SDK version:

kfp==1.6.3
kfp-pipeline-spec==0.1.16
kfp-server-api==1.6.0

### Steps to reproduce

- Create a jupyter notebook without a volume attached to it. Create a pipeline with the following specifications:
-  Pipeline First step: Download and Process and Stor

[2022-10-03 18:39] jielou commented on #8224
Hi. I tried to install 1.8.5, but `metadata-grpc-deployment` still failed. Logs showed `MetadataStore cannot be created with the given connection config`. I installed with the platform agnostic in AWS EKS. Can someone help? thanks.

[2022-10-03 18:52] hkair commented on #3412
is there a solution for this problem yet?

[2022-10-03 21:19] gkcalat commented on #8224
Hi @jielou

Did you follow [these instruction](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/README.md)? I was able to deploy KFP 1.8.5 on GCP. There are also [AWS instructions](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/env/aws/README.md).

/CC @surajkota, as this might be AWS-specific issue?

FYI, here are instructions for [standalone installati

[2022-10-03 21:23] jielou commented on #8224
@gkcalat thanks for the reply. I followed the first link of instruction in `platform-agnostic` in an existing EKS cluster. I haven't tried AWS instructions because I don't want to use S3 and RDS for now.

[2022-10-03 22:41] gkcalat commented on #8224
As we are waiting for @surajkota or someone else from AWS, can you provide what exactly you run to deploy KFP?

Besides, you can try deploying KFP 1.8.5:
[code]
Then try accessing Kubeflow Pipelines UI in your browser: http://localhost:8080/. If you are using ssh, you have to connect with port forwarding:  `ssh -R 9902:localhost:8080 <remote hostname>` and then access it locally via http://localho

[2022-10-03 22:52] gkcalat commented on #8313
@alexlatchford, I am not an AWS expert, but it might have an option to set the expiration of the tokens.

/assign @surajkota for AWS.

Generally, the error is by design. Feel free to propose your solution here. If there will be a change in the interface, you will need to write a short design doc and present it on a KFP Community Meeting.

[2022-10-03 23:06] alexlatchford commented on #8313
Yep in general we can avoid but not having longer running workflows or but upping the time but as your mention it's an inherent flaw with the current design at the moment 😞

I'm not sure what the best solution here is given it seems like a thorny design caused by KFP not exposing a `VirtualService` by default and using `kube-proxy`, then it needing to interface with `kfp-server-api` which I believ

[2022-10-03 23:29] jielou commented on #8224
sure. I cloned the pipelines repo and then checkout 1.8.5 tag. and then followed the instructions in [readme](https://github.com/kubeflow/pipelines/tree/1.8.5/manifests/kustomize#envplatform-agnostic-install-on-any-kubernetes-cluster):
[code]
I will try the instructions you sent me, but I think they did the same job. thanks.

[2022-10-03 23:48] jielou commented on #8224
I got a new error in the deployment (happened in both using the instructions you shared and my old deployment method). The cache server failed to launch now.
[code]
it worked before probably because I did not clean up resources after installing 1.5. This time, I cleaned up the cluster before installing 1.8.5 and it failed.

[2022-10-04 09:51] TranThanh96 commented on #4947
I am missing this problem. Tried:
[code]

[code]

But seem like my component keep print log from cache (from old runs)

Any ideas please?

[2022-10-04 13:45] ThisIsANiceName commented on #3412
As I do not want to involve some external component. I went for something like:
[code]
and do this until I have only one result left. This wildly blows up the graph into n/2 layers but does not require additional services like a pvc, aws storage, ...

 If you have a small set of parallel items this could also be a solution for you. (maybe it helps someone)
 Being able to pass a `list` of `InputPat

[2022-10-04 21:25] surajkota commented on #8224
Hi @jielou, do you want to install Kubeflow pipelines standalone? or are you interested in trying out the full Kubeflow?

Here are a few options according to your choice:
- If you want to try full kubeflow but without RDS/S3, you can follow the instructions for **Vanilla** deployment option.
  - https://awslabs.github.io/kubeflow-manifests/docs/deployment/. These instructions are for Kubeflow 1.6.

[2022-10-04 21:33] surajkota commented on #8313
Afaik, this is a known issue, we have encountered this before. This needs more investigation, I dont have a solution a this time

[2022-10-05 11:31] dbg-raghulkrishna commented on #7225
any update on this?

[2022-10-05 16:33] psheorangithub opened #8332 "ml-pipeline unable to connect to mysql in kubefloq 1.6"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
Deployed pipelines as part of kubeflow 1.6
*  KFP version:
2.0.0-alpha.3
To find the version number, See version number shows on bottom of KFP UI left sidenav. -->
*  KFP SDK version:

### Steps to reproduce

Deploy kubeflow manifest 1.6

### Expected result

ml-pipeline pod should come up

### Materials and reference

Below is ml-pip

[2022-10-05 17:15] jielou commented on #8224
@surajkota thanks for the instructions. I want to install Kubeflow pipelines 1.8.5 standalone on AWS. Which version of cert-manager would you recommend? I used the latest one but saw the error when installing kubeflow pipelines:
[code]

[2022-10-06 19:44] jimbudarz commented on #5640
It looks like that page is no longer maintained. Did you figure out how to enable TLS authentication on Kubeflow?

[2022-10-06 20:20] jimbudarz opened #8338 "[backend] Silent failure for Rest API connection issue"
This is not a bug _per se_, but falls into the category of improvements. The current setup of the [Rest API](https://github.com/kubeflow/pipelines/blob/master/backend/api/python_http_client/kfp_server_api/rest.py)'s RestClientObject has a method called `request` that does not return an error in the case of a connection error.
The only instance where it handles the error is SSLError. However, there

[2022-10-06 20:40] streamnsight commented on #7984
The code might have been fixed, but the image in the component.yaml has not been updated so the changes are not propagated.

[2022-10-06 22:37] connor-mccarthy commented on #8328
@vstrimaitis, can you please share the YAML that is generated?

[2022-10-06 22:39] jlyaoyuli commented on #8327
@riyaj8888 Would you mind providing the code that get exception?

[2022-10-06 23:17] gkcalat commented on #8332
Hi @psheorangithub!

Could you please clarify where and how did you deploy Kubeflow 1.6? I see some placeholders in the yaml manifests. Were they replaced before applying?

[2022-10-07 00:22] streamnsight opened #8339 "[sdk] launcher component is not up to date"
There has been PRs to fix the delete function in launch_tfjob but the image has not been updated in the component

This PR https://github.com/kubeflow/pipelines/issues/7984 fixes the launch_crd.py, but the component here:
https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/component.yaml
references the image `nikenano/launchernew:latest`

This image is over 2 years old a

[2022-10-07 00:54] casassg commented on #7009
+1 here, do we know if there's any way to fix it from kfp side (by providing some sort of default when param is being used on ExitHandler?) Or  by at least failing more gracefully on Compiler if ExitOp contains a param w no default?

[2022-10-07 15:45] surajkota commented on #8224
What EKS version are you on?

[2022-10-07 16:13] rjtshrm commented on #6922
I am also facing the same error. Would u elaborate on how you fixed the issue?

[2022-10-10 11:09] hellobiek opened #8344 "[ScheduledWorkflow] Recurring Runs still scheduled disabled ScheduledWorkflow"
### Environment

I deploy a kubeflow 1.5 system, and when I using  "Recurring Runs" for my etl work in kubeflow.

and "Recurring Runs" runs in the following timezone "0 30 1 ? * 1-5"

I disabled a "Recurring Runs" 7 days ago. when I enabled the "Recurring Runs" today.

I suppose in the passed 7 days, the "Recurring Runs" should not be rescheduled.

the system also run the disabled timing  "Recurri

[2022-10-10 12:14] GayatriNair229 commented on #7909
I am facing the same error but just for tutorial pipeline example , I can create runs for pipelines I created

[2022-10-11 09:16] TranThanh96 commented on #7697
@yangyang919 can you share your solution ? I am struggling with visualizations, a lot of bugs

[2022-10-11 09:52] TranThanh96 opened #8348 "[bug] visualization keep showing nothing ?"
### Environment

Kubeflow 1.6 on AWS

### Steps to reproduce
my code:
[code]

my component:

[code]
my code create pipeline:
[code]
and my result:
![image](https://user-images.githubusercontent.com/26323599/195058505-beaada91-99e6-4b1c-a60c-dd63bcba94f3.png)

[2022-10-11 10:57] vstrimaitis commented on #8328
The compiler doesn't allow me to generate a YAML file, but here's the JSON output for the very first example:

[code]

[2022-10-11 17:31] MLHafizur opened #8350 "Pipeline running on GKE, Is there any way to access GPU from local machine?"
Pipeline running on GKE, Is there any way to access GPU from local machine?

[2022-10-12 06:30] atch841 opened #8352 "[bug] ValueError and KeyError when having multiple dsl condition with the same name"
### Environment

*  All dependencies version:
kfp                                1.8.11
kfp-pipeline-spec                  0.1.13
kfp-server-api                     1.7.1

### Steps to reproduce

add the same name to dsl.Condition in sample code https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/DSL%20-%20Control%20structures/DSL%20-%20Control%20structures.py

### Expected result

[2022-10-12 13:17] adhaene-noimos commented on #7861
@connor-mccarthy Do you have any update regarding this issue?

**Current work-arounds are insufficient**
The work-around I have been using is the use of the `importer_node` as mentioned in [this article](https://cloud.google.com/vertex-ai/docs/pipelines/use-components#use_an_importer_node) - while this should intuitively work for loading Artifacts and functionally does the job, it duplicates entri

[2022-10-12 14:46] statmike opened #8353 "[bug] Containerized Python Components"
`kfp.__version__ = 1.8.14`

Trying the instructions at [2. Containerized Python components](https://www.kubeflow.org/docs/components/pipelines/v2/author-a-pipeline/components/#2-containerized-python-components):
- command `kfp component build ...` results in error: "Error: No such command 'component'."
     - KFP API SDK Reference for [kfp compontent build](https://kubeflow-pipelines.readthedocs.i

[2022-10-12 15:19] jeesmon commented on #7717
@AdityaSoni19031997 any luck with this error? I'm getting same error on kind.

[2022-10-12 15:38] jeesmon commented on #7717
It worked for me when I switched to `Emissary Executor` as mentioned here: https://www.kubeflow.org/docs/components/pipelines/v1/installation/choose-executor/#emissary-executor

[2022-10-12 16:49] connor-mccarthy commented on #7861
Using the `importer` argument `reimport=False` in `kfp==2.x.x` should avoid duplicating entries in ML Metadata. I think this should resolve the issues you are describing. If not, can you let me know what gaps you're still experiencing?

[2022-10-12 16:56] statmike commented on #8353
**Update**

I upgraded to `kfp.__version__ = 2.0.0b5` and it fixe the error of "ERROR: No such command 'component'." and it matches the KFP API SDK.

I still see the behavior of `ERROR: No KFP components found in file ...` for any module in the folder that does not contain a component definition.  I tried using `--component-filepattern my_component.py` but then it fails to find my other python mod

[2022-10-12 18:17] connor-mccarthy commented on #8353
Hi, @statmike. Can you please provide the file tree that contains `my_component.py` and the accompanying source code file? Can you also provide what `my_component.py` looks like (feel free to omit the component body -- it's probably not necessary)?

[2022-10-12 18:42] adampilz commented on #8353
Having the same issue.  Here are mine for a second look:

# my_component.py
from kfp import dsl

@dsl.component(
    base_image='python:3.9'
    , target_image='gcr.io/my-project/my-containerized_python_component:v1'
    , output_component_file="component_containerized_python_component.yaml"
)
def train_model(
):
    # component functionality
    print("hello")

# my_helper_module.py
def adding_st

[2022-10-12 20:04] casassg opened #8355 "[backend] Conflicting RetryRun and TTLStrategy in Argo"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow 1.4 on GKE. Custom Cluster

*  KFP version:

1.7.0

*  KFP SDK version:

1.8.11

### Steps to reproduce

- Rough code:
[code]
- Running this code results in pipeline being stuck in running state forever

### Expected result

- On retry it should attempt again to execute pipeline and then it will fail

### Materials and Refe

[2022-10-12 21:12] statmike commented on #8353
Hello @connor-mccarthy ,
This is the full example I have been setting up:

**tree**
- ./src
     - __init__.py
     - my_component.py
     - my_helper.py
     - train.py

**__init__.py**
is empty

**my_component.py**
[code]

**train.py**
[code]

**my_helper.py**
[code]

[2022-10-12 21:38] Kokkini commented on #8348
I have this problem, too.

[2022-10-12 22:08] Kokkini opened #8356 "[frontend] No metrics shown in Run Output tab"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
I installed it with the full kubeflow deployment. Kubeflow 1.6, installed with [juju](https://charmed-kubeflow.io/docs/install)
*  KFP version: **build version dev_local** (this shows on bottom of KFP UI left sidenav)

### Steps to reproduce
Running this minimal pipeline that just saves a metrics
[code]

### Expected result
I expect

[2022-10-12 22:35] Kokkini commented on #8356
The metrics is not shown along side each run in the **Experiments** tab either:

<img width="1440" alt="Screen Shot 2022-10-12 at 3 33 16 PM" src="https://user-images.githubusercontent.com/22306485/195460346-01cb5f5c-db9a-4395-9181-b0d66e96c825.png">

[2022-10-13 05:09] surajkota commented on #8348
@TranThanh96 @Kokkini Please take a look at the workaround on this issue: https://github.com/awslabs/kubeflow-manifests/issues/117

[2022-10-13 05:11] TranThanh96 commented on #8348
Done, thank you

[2022-10-13 05:11] #8348 closed

[2022-10-13 05:11] surajkota commented on #8283
@tktest1234 Are you running on AWS and want to use KFP with S3 as storage backend?

[2022-10-13 09:30] Lejboelle commented on #8356
This has been fixed in the recent patch release [https://github.com/kubeflow/manifests/releases/tag/v1.6.1](url)

[2022-10-13 10:11] Lejboelle opened #8358 "[sdk] Unable to retrieve runs / experiments / recurring jobs in pipeline component (500 error)"
### Environment

*  KFP version:
2.0.0-alpha.5 (Kubeflow 1.6.1)
*  KFP SDK version:
1.8.14

### Steps to reproduce
My main goal is to retrieve a job name or job id in a recurring run. I tried the PIPELINE_JOB_ID_PLACEHOLDER from the v2 dsl, but that didn't work. Then I tried creating a component that uses the KFP SDK to retrieve the job id, however, it is not possible to even retrieve a list of ru

[2022-10-13 10:51] chensun commented on #8353
@statmike The linked PR will fix the issue.

I tested that your code would work after a minor fix.

In your `my_component.py`, the following line
[code]
should be updated to
[code]
because `cm` is of type `np.ndarrary` which is not JSON serializable, and the method requires a list typed input here.

[2022-10-13 16:21] connor-mccarthy commented on #7861
Thank you for explaining. I have made a note of this bug.

[2022-10-13 16:34] Kokkini commented on #8356
@Lejboelle thank you. I'll try it out.

[2022-10-13 20:07] statmike commented on #8353
Thank you @chensun for the very fast response and fix.  I look forward to using this once it is merged!

[2022-10-13 21:04] #8353 closed

[2022-10-13 22:36] gkcalat commented on #8355
Hi @casassg ! Thank you for bringing this up.
KFP v1 backend does not support retry op. This is on our roadmap in KFP v2, but it is not available yet.

[2022-10-13 22:48] gkcalat commented on #8350
Hi @MLHafizur!
Could you please clarify what means "local machine" and what purposes would GPU access serve?

[2022-10-13 22:56] gkcalat commented on #8358
HI @Lejboelle!
It seems that you might have wrong client initialization. Please, follow [these instructions](https://www.kubeflow.org/docs/components/pipelines/v1/sdk/connect-api/).

[2022-10-14 00:57] sinban04 commented on #1900
@Ark-kun So,,, there's still no way until now ? or any other plan or something?

[2022-10-14 08:33] juliusvonkohout commented on #7939
Sadly we have to be agnostic of the backend until the new unified storage architecture from https://github.com/kubeflow/pipelines/pull/7725#issuecomment-1277334000 is there. So i got https://github.com/kubeflow/pipelines/pull/8270 in instead #7938 . V2 pipelines are not yet covered.

[2022-10-14 08:33] juliusvonkohout commented on #7939
V2 is discussed in https://docs.google.com/document/d/1_Hy1_KvuKh-heydg8qIyXYTiMfNPxePx4BHGpZT4xMk/edit?resourcekey=0-PTtkRPF5xpS3lD8dssqX1Q#

[2022-10-14 10:06] Lejboelle commented on #8358
I fixed the issue - it wasn't the client initialization since the defaults point to the correct host and credentials.
I did, however, enter a wrong audience value in the V1ServiceAccountTokenProjection (**pipeline**.kubeflow.org instead of **pipelines**.kubeflow.org).

Closing.

[2022-10-14 10:06] #8358 closed

[2022-10-14 12:22] adhaene-noimos commented on #7541
@connor-mccarthy Any updates on this?

Might this be the reason that Artifacts are duplicated when imported as mentioned in #7861?

Is there a work-around?

[2022-10-14 17:33] Sharathmk99 commented on #7963
@Linchin When can we expect version upgrade to 3.3?

[2022-10-14 17:35] Sharathmk99 commented on #6101
We still face the issue. Can I help in someway to fix the issue?

[2022-10-14 18:11] tarat44 opened #8365 "[feature] Add ability to select runs by job ID in multi-user mode when calling get runs api endpoint"
### Feature Area

/area backend

### What feature would you like to see?

Add the ability to select runs by job ID in multi-user mode when calling the get runs api endpoint

### What is the use case or pain point?

It is very difficult to gather all runs associated with a single job without this filter

### Is there a workaround currently?

The runs api has to be called without this filter and the

[2022-10-14 18:25] chensun opened #8366 "[backend] e2e test flakiness due to regression on v1 caching"
E2e test often failed due to timeout a recursive sample never ends. The `flip-coin` component repeats the same result due to caching despite that caching being explicitly disabled by the pipeline author:
https://github.com/kubeflow/pipelines/blob/65ee01a436758e0f7ca4741e517452c02182ec03/samples/core/recursion/recursion.py#L49-L50

Example run results:
https://oss.gprow.dev/view/gs/oss-prow/pr-logs

[2022-10-14 19:49] alanhdu opened #8370 "[sdk] Protobuf 4 Support"
### Environment

The latest `kfp` version pins `protobuf < 4.0`:

https://github.com/kubeflow/pipelines/blob/71c8e77d8a583c629e6f83dcd629fee8133f6d2a/sdk/python/requirements.in#L27

What would it take for `kfp` to support `protobuf==4.23`?  It looks like Python's protobuf package went from `3.20 -> 4.21` and other packages are now starting to require `protobuf > 4`.

The list of breaking changes i

[2022-10-14 21:36] #8366 closed

[2022-10-15 01:14] #7655 closed

[2022-10-16 23:35] tktest1234 commented on #8283
Yes, I install kubeflow1.4 on AWS(EKS) and want to use KFP with S3 as storage backend.
It is not tested?

[2022-10-17 09:30] sinban04 commented on #1900
Hi, guys i'm not sure you already have solution about this, but i wanna share mine.

As we can use Argo parameter in KFP such as `{{workflow.status}}`
I found another variable [`{{workflow.failures}}`](https://argoproj.github.io/argo-workflows/variables/#exit-handler),
which enumerates the list of brief information about pods related to failure.

It shows me like below as an example
[code]

[2022-10-17 21:25] amrobbins opened #8374 "[feature] Support graph sharding to limit the size of each shard"
### Feature Area

/area frontend

### What feature would you like to see?
Responded to all of these below.
### What is the use case or pain point?
Responded to all of these below.
### Is there a workaround currently?

For my use-case I need to create demand forecasts each night for each of the sku's that belong to a few hundred online stores. If I were to try to run this as a single pipeline, it w

[2022-10-18 11:48] elikatsis commented on #4197
During the preparation of the frontend PR, which as mentioned above depends on merging #8196, we realized a better UX on a specific part.

If you take a look at the [Frontend part of the design doc](https://docs.google.com/document/d/1fM4y2L1IVqVj-iiNjYFRRktdCh7FQXgU2XpaYLaqt-A/edit?resourcekey=0-kd5loyP7w3PBD0ug6ECmLQ#heading=h.h7d4yhnc6s55) you will notice a screenshot corresponding to the "Uplo

[2022-10-18 11:56] juliusvonkohout commented on #4197
That sounds very reasonable

[2022-10-18 16:33] casassg commented on #8355
@gkcalat note that RetryRun is part of KFP v1. Its an already existing feature, it just breaks under the above scenario

[2022-10-18 22:30] dvaldivia commented on #6839
@RakeshRaj97 hey I wrote that tutorial hahaha glad someone is using it, I just hit the same problem you are facing while doing a deployment on OpenShift, this doesn't happen on other vanilla environments, did you found a solution to this problem?

[2022-10-19 06:05] JV-DHL commented on #4502
Hii , did you find the something to generate the API keys ? I too have the same doubts ...

[2022-10-19 06:15] JV-DHL opened #8379 "Please provide information on how to generate or get API_Keys to us the pipeline endpoints in the documentation"
I request you to please provide information on how to generate the API_KEY to use the kubeflow pipelines endpoints in the documentation

[2022-10-19 12:11] statmike commented on #8353
Hello @chensun
I installed `kfp==2.0.0b6` and tried the code above with the fix to `cm` and it looks like the import of the `my_helper.py` file is not occurring in time to be used.

Running `kfp component build ./{DIR}/src` Returns:
[code]

[2022-10-19 15:55] Souheil-Yazji opened #8380 "[feature] Add i18n Support"
### Feature Area

/area frontend

### What feature would you like to see?

Include i18n support for Kubeflow Pipelines to allow multilingual support.

### What is the use case or pain point?

Offering kubeflow pipelines in languages other than English will help non-english native users with the kubeflow pipelines UI.

### Is there a workaround currently?

We host Kubeflow Pipelines at Statistics C

[2022-10-19 17:24] dvaldivia commented on #6839
error was caused because the MinIO external artifact storage was behind TLS so specifying port `443` is not enough `MINIO_SSL="true"` as an environment variable to the pipelines ui deployment is also needed.

[2022-10-19 17:55] pjo256 opened #8381 "[bug] GKE preemption inconsistently treated as WorkflowNodeError and WorkflowNodeFailed"
Hello! Unsure if this should be filed with Argo, but we're seeing some inconsistency with error-handling for preemptions. For some context, we run a large number of jobs with preemptible node pools in GKE. We typically don't want to retry application failures, but we always want to retry preemptions. We added a retry policy for `OnError`, and successfully triggered this policy when manually pre-em

[2022-10-19 18:17] connor-mccarthy commented on #8353
@statmike, thank you for raising this. This is indeed a bug. After some investigation, it happens at least when there is more than one node in the import graph that ends at the component module.

For example,

[code]

[code]

[code]

The fix isn't immediately clear, but I will add this as a bug and look into it.

[2022-10-20 00:01] RakeshRaj97 commented on #6839
@dvaldivia Thanks for that great tutorial. It is very helpful and saved me a ton of effort by centrally managing all data in one external minio. I highly appreciate and support your effort on making that tutorial and please continue to update it on a regular basis if possible.

MINIO_SSL='true' in `ml-pipeline-ui` deployment still not solving the issue. My current image for `ml-pipeline-ui` is `gc

[2022-10-20 08:33] tomaszstachera commented on #5138
Hi, do I understand correctly that solution discussed in this issue solves **only** authentication **inside** the cluster and using only **K8s** service account? Is there any plan or issue related to authentication using **cloud-specific service account**/service principal/etc (in my case GCP)? Current solution with only interactive and only user-based authentication is highly not sufficient (http

[2022-10-20 12:33] juliusvonkohout commented on #5138
@tomaszstachera check out the new oidc-authservice

[2022-10-20 21:20] surajkota commented on #8283
Hey @tktest1234 please follow the instructions on AWS distribution of Kubeflow to install KFP with S3 as artifact storage https://awslabs.github.io/kubeflow-manifests/docs/deployment/rds-s3/

[2022-10-20 22:36] zijianjoy commented on #8370
/assign @connor-mccarthy

[2022-10-20 22:42] zijianjoy commented on #8374
Hello @amrobbins , I think your request is very similar to `ParallelFor` functionality, and you can define pipeline run inside a pipeline run in KFPv2. Closing this issue now and feel free to reopen it if it doesn't fulfill your requirement.

References:
1. Docs on ParallelFor: https://www.kubeflow.org/docs/components/pipelines/v2/author-a-pipeline/pipelines/#dslparallelfor
1. Example pipeline: ht

[2022-10-20 22:42] #8374 closed

[2022-10-20 22:44] zijianjoy commented on #8379
Hello @JV-DHL , what do you mean by API_KEY and why do you need it? Closing this issue for now since I don't think it is related to KFP at the moment based on current information.

[2022-10-20 22:44] #8379 closed

[2022-10-20 22:47] zijianjoy commented on #8381
Hello @pjo256 , looks like it is an Argo question, can you create the issue in their repository and link it here? Thank you so much!

[2022-10-20 22:51] zijianjoy commented on #8380
Please bring i18n support to Kubeflow community (For example: https://github.com/kubeflow/kubeflow/issues/6665).

My feedback is that it will bring difficulty to maintain the i18n up-to-date in long term. Therefore I suggest making i18n an extension than contributing to the main repos.

[2022-10-21 04:47] JV-DHL commented on #8379
I need the API_KEY to use the endpoints like run a pipeline , archive an experiment , get run details etc. Which can be done using kfp_spi_server in python. Though the method isn’t clear for me as in how the API’s can be used .

From: James Liu ***@***.***>
Sent: Friday, October 21, 2022 4:15 AM
To: kubeflow/pipelines ***@***.***>
Cc: Jayavignesh P (DHL IT Services), external ***@***.***>; Mention

[2022-10-21 10:16] statmike commented on #8353
@connor-mccarthy thank you for the quick validation.  Do I need to open another issue for tracking?  I notice this one is closed.

[2022-10-21 11:31] browningjp-datatonic opened #8382 "[feature] Allow users to skip `docker build` in `kfp components build`"
### Feature Area

/area sdk

### What feature would you like to see?

Building containerised components using the Python DSL, and packaging them using `kfp components build` is a really nice user experience - you get the benefits of the Python DSL without some of the drawbacks of "lightweight" components (e.g. having to install dependencies at runtime).

However, there are some scenarios where bui

[2022-10-21 15:19] pjo256 commented on #8381
Created https://github.com/argoproj/argo-workflows/issues/9880

[2022-10-21 19:14] connor-mccarthy opened #8385 "[sdk] Containerized Python Component module not found error"
There is a bug when building a containerized Python component that happens (at least) in the case when the longest path of the import graph ending at the component involves >2 modules.

### Environment
KFP SDK 2.0.0-beta.6

### Steps to reproduce
For example:

[code]

[code]

[code]

Then: `kfp component build .`

You get a `No module named` error.

### Expected result

Should build without an err

[2022-10-21 19:16] connor-mccarthy commented on #8353
@statmike
I have made one here: https://github.com/kubeflow/pipelines/issues/8385

[2022-10-21 20:47] chensun commented on #8382
The feature request makes sense to me. In terms of implementation, have you considered adding support for different engines? https://github.com/kubeflow/pipelines/blob/1f5d8ff39759d1b305807939a90f3f58f4befb78/sdk/python/kfp/deprecated/cli/components.py#L72-L76

[2022-10-21 21:23] amrobbins commented on #8374
Hi James,

This feature is actually intended to allow parallel for to scale to process larger jobs. In my case I need to run jobs for a changing set of hundreds of stores. If I were to do this in a single parallel for loop, I would hit the size limit in the screenshot below:

![sizeLimit](https://user-images.githubusercontent.com/17150932/197290471-ffd1604a-0227-4f11-b16b-47f0637d02b3.png)

This i

[2022-10-21 21:26] amrobbins commented on #8374
Hi James,

I responded in a comment with further detail. Would you consider re-opening this issue?

Thanks,
Andrew
________________________________
From: James Liu ***@***.***>
Sent: Thursday, October 20, 2022 5:42 PM
To: kubeflow/pipelines ***@***.***>
Cc: amrobbins ***@***.***>; Mention ***@***.***>
Subject: Re: [kubeflow/pipelines] [feature] Support graph sharding to limit the size of each shar

[2022-10-21 22:54] browningjp-datatonic commented on #8382
Hi Chen! Thanks for your  quick response!

I took a brief look at other container build engines. It looks like there is no official Python package for kaniko (although there is the unofficial [PyKaniko](https://github.com/nxexox/pykaniko)). Cloud Build could be supported using the Cloud Build Python SDK, but there are a lot of potential build options to account for! There are also a number of buil

[2022-10-24 17:01] chensun commented on #8382
Makes sense to me.
/cc @connor-mccarthy for a second opinion.

[2022-10-24 20:29] connor-mccarthy commented on #8382
Agreed. Even with other build engine options, I think it makes sense to enable the "no engine" option also.

[2022-10-24 20:44] browningjp-datatonic commented on #8382
Thanks both! In terms of next steps, I propose

- [x] Merge in #8383 - thanks!
- [ ] Add the "no engine" option to v2 in master - I will work on a PR for this
- [ ] Implement a Cloud Build option

Looking more at kaniko, I'm not sure how this would work as kaniko is designed to run in its own container.

Cloud Build seems like a useful option to have, particularly for users who can't run container

[2022-10-24 20:53] connor-mccarthy commented on #8382
Thanks, @browningjp-datatonic!

We probably ought to use the same `--no-build-image` to conform with #8383 and ease migration from KFP SDK v1 to v2.

I think adding engine-specific flags is a non-option, unfortunately, as parameterizing `kfp components build` for each engine will quickly bloat the CLI's API. Are there other options for exposing these?

[2022-10-24 21:25] browningjp-datatonic commented on #8382
Yes, I will make sure they match

I am struggling a bit for good options tbh! These are the ones that come to mind:

1. Engine-specific flags - will quickly bloat the API as you say
2. Some kind of config file - this is then another spec to design, maintain, and implement for each engine
3. Environment variables - if a particular engine accepts options as env variables already, great (nothing to d

[2022-10-24 23:37] connor-mccarthy commented on #8382
I don't have any other options in mind.

Is cloudbuild the engine you are using? I'm curious if there are many user requests for this engine. If not, perhaps we don't need to rush to implement this engine.

[2022-10-25 07:29] tobiasimbus opened #8386 "Critical OS CVEs in gcr.io/ml-pipeline/frontend:1.8.5 CVE-2022-37434"
### Environment
KFP version:1.8.5
Critical OS CVEs reported by the anchore scanning service: CVE-2022-37434

### Steps to reproduce

`sudo docker run anchore/grype gcr.io/ml-pipeline/frontend:1.8.5 --only-fixed | grep Critical`

### Materials and reference

![image](https://user-images.githubusercontent.com/46684886/197710318-c1783d1a-babf-4606-a677-72a8e362885e.png)

Impacted by this bug? Give it

[2022-10-25 09:01] browningjp-datatonic commented on #8382
Yes, we would certainly use Cloud Build. All our customers are on Google Cloud anyway, and most of them are enterprise customers that can't use Docker locally.

That said, it's very easy to just run `kfp components build --no-build-image . && gcloud builds submit ...` and wrap that in a script or Makefile, so I agree it's not an urgent need.

I notice that in the master branch, the docstring for t

[2022-10-25 14:40] Poggecci opened #8388 "Manage Jobs UI does not allow deletion of jobs with empty names"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version: [1.0.4](https://www.github.com/kubeflow/pipelines/commit/b604c6171244cc1cd80bfdc46248eaebf5f985d6)
### Steps to reproduce

Using the kubeflow API, create a recurring run for any existing pipeline with the job name being blank. In the UI, you will not be able to select this job to modify or delete it.

### Expected res

[2022-10-26 15:55] browningjp-datatonic commented on #8382
I agree - don't think it is worth the maintenance burden to support additional engines. I'm happy that this issue can be closed/resolved by #8383 and #8387

[2022-10-26 15:57] browningjp-datatonic commented on #8382
BTW - what is the usual cadence for new releases for 1.8? We have a current customer use case that this would be extremely useful for!

[2022-10-26 15:58] #8382 closed

[2022-10-26 16:38] rguso commented on #4327
I'm trying to use this piece of code made by @sm-hawkfish (thanks by the way!) but I get:
`ApiException: (500)
Reason: Internal Server Error`
while running
`kfp.Client().runs.read_artifact()`

Although I have taken my artifact name from my compiled yaml pipeline:
[code]

And `kfp.Client().runs.get_run()`  works fine and contain my component_name ('load-dataset'). So I properly get the node_id to g

[2022-10-26 17:02] amrobbins opened #8391 "[frontend] When execution graph gets too big, it is not displayed instead there is a spinning progress indicator that is displayed forever"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

I followed the instructs here: https://www.kubeflow.org/docs/distributions/gke/deploy/overview/
*  KFP version:

v1.5.0

### Steps to reproduce
1. Create a pipeline that includes a parallel for loop
2. Increase the number of pods that the parallel for launches until the issue is observed.

The issue appear as in this screenshot
![sp

[2022-10-26 21:16] connor-mccarthy commented on #8382
@browningjp-datatonic, we don't have a scheduled cadence for 1.8 releases. We typically wait until features accumulate to minimize having an abundance of patch releases with only a few number of changes.

Until the next release, you can pip install from GitHub HEAD. Does that unblock you for now?

[2022-10-27 18:46] amrobbins opened #8394 "[feature] Automatically pass pod outputs via file system to avoid size limitation"
### Feature Area

 /area backend

### What feature would you like to see?

I would like kubeflow to pass op output via a file transparently to the user.

### What is the use case or pain point?

I have a need to pass a list of batches of skus as output from an op, but some stores have enough sku's that this exceeds the maximum number of bytes that can be returned by an op, as shown below:

![metad

[2022-10-27 20:35] chensun commented on #8374
Hi Andrew,

Thank you for the explanation.

I think the KFP v2 may help mitigate the issue, if not solving it.
In KFP v2, we added a new feature that enables users to use pipelines within another pipeline ([a simple example demonstrating the use case](https://github.com/kubeflow/pipelines/blob/master/sdk/python/test_data/pipelines/pipeline_in_pipeline_complex.py)). You could possibly do a first pa

[2022-10-27 21:43] amrobbins commented on #8374
Thank you for the suggestion. I will try this out and let follow up on this thread.

[2022-10-27 22:47] connor-mccarthy commented on #8391
@amrobbins, I suggest using KFP v2. Parallel for loops are represented as subDAGs in v2, which enables the UI to handle them layer-by-layer.

[2022-10-27 22:47] #8391 closed

[2022-10-27 22:51] connor-mccarthy commented on #8394
@amrobbins, can you check to see if you have the same issue in KFP v2? If so, can you please send a reproducible example?

[2022-10-28 03:58] TranThanh96 opened #8396 "[bug] component pull image from docker local registry"
I am using kubeflow deploy on k3AI.
I have a local docker registry on ip: 1.2.3.4
then I create a component and push into 1.2.3.4/hello-world:v0.0.1
I have a pipeline that uses the component above:
[code]

but error keep happening:
This step is in Pending state with this message: ImagePullBackOff: Back-off pulling image "1.2.3.4/hello-world:v0.0.1"

Any tutorial to tackle this issue? thank you

[2022-10-28 18:21] gkcalat commented on #8386
@tobiasimbus thank you for your contribution!
We will keep this in backlog until the next release.

[2022-10-28 19:27] amrobbins commented on #8394
Yes, I'll be migrating over to kubeflow 2 and I'll provide an updates. Thanks.

[2022-10-28 22:41] augustovictor commented on #4857
disabling cache for [pipelines v2](https://www.kubeflow.org/docs/components/pipelines/v1/overview/caching-v2/)
[code]

[2022-10-29 20:40] cutlass90 commented on #7589
same problem

[2022-10-30 02:07] r-matsuzaka opened #8398 "[bug] 404 for `adding metadata for an output viewer`"
I cannot get access to [adding metadata for an output viewer](https://www.kubeflow.org/docs/components/pipelines/metrics/output-viewer/)
![Screenshot from 2022-10-29 23-59-04](https://user-images.githubusercontent.com/76238346/198859340-bd4fefbf-93e7-45b9-9b87-2a5601606b07.png)
![Screenshot from 2022-10-30 07-57-39](https://user-images.githubusercontent.com/76238346/198859341-a92c19a4-f26c-41ac-a3

[2022-10-30 03:26] r-matsuzaka opened #8399 "[sdk] Cannot put metrics"
### Environment

* Ubuntu 20.04.5 LTS

* kubernetes
[code]

* kubeflow/manifests
v1.6-branch

*  KFP version:
[code]

### Steps to reproduce
[code]

### Expected result

I should see confusion matrix as described in https://www.kubeflow.org/docs/components/pipelines/v1/sdk/output-viewer/
But I got this error.

![Screenshot from 2022-10-30 12-24-30](https://user-images.githubusercontent.com/7623834

[2022-10-31 10:18] browningjp-datatonic commented on #8382
@connor-mccarthy no problem. The customer is not able to install Python packages from GitHub directly (everything goes through a private PyPi mirror), but we can make a start on development in a less restrictive environment.

Thanks for all your help!

[2022-11-01 15:25] DomFleischmann opened #8406 "[feature] Improved User Isolation in Kubeflow Pipelines"
### Feature Area

/area frontend
/area backend
/area sdk

### What feature would you like to see?
Authenticated and Authorized Users should be isolated by namespaces and should not have access to other users artifacts, unless authorized. The solution should be handled in frontend, backend, object storage and sdk.

### What is the use case or pain point?
The current implementation allows users to a

[2022-11-01 15:26] jbottum commented on #8406
/priority p1

[2022-11-01 16:19] Sharathmk99 opened #8408 "[backend] ML Metadata writer errors with - Received message larger than max"
### Environment

ML Metadata writes errors with below exception. Looks like we need to change default `max_receive_message_length` from 4194304 to bigger number.

Error:
[code]

*  How did you deploy Kubeflow Pipelines (KFP)?

On-premises
*  KFP version: 1.7.0

*  KFP SDK version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍.

[2022-11-01 19:00] zijianjoy opened #8411 "Pipelines WG Roadmap for KF 1.7"
This is for tracking the progress for KFP deliverables in Kubeflow 1.7:

- [ ]  Enter KFP v2 beta phase
  - [ ] Introduce KFP APIv2 package which is a new standard for communicating with KFP server.
  - [ ] Complete Sub-DAG visualization on KFPv2 UI.
  - [ ] [KFPv2 Documentation](https://www.kubeflow.org/docs/components/pipelines/v2/)
  - [ ] [Tentative] Status IR in Backend Run API.
- [ ]  SDK

[2022-11-01 19:01] zijianjoy commented on #8411
cc @jbottum @chensun @james-jwu

[2022-11-01 19:04] jbottum commented on #8411
/Priority P1

[2022-11-02 05:36] celiawa commented on #8189
Hi @zijianjoy, Our cluster is a freshly installed 1.5.0 kubeflow cluster.

We also see the below error page when accessing myClusterURL/pipeline/artifacts.
![image](https://user-images.githubusercontent.com/31303808/199405635-78917d45-2809-4946-8eee-812202ff087d.png)

In the beginning, the artifacts page can be loaded successfully, but after we ran about 600 recurring runs, the artifacts page fail

[2022-11-02 08:17] juliusvonkohout commented on #8406
I think the there are two main tasks. 1. The security flaw in the UI server and the new storage backend architecture with Artifact isolation.

From here https://github.com/kubeflow/kubeflow/issues/6662 the listed main problems are

1. "The pipeline UI allows reading other peoples artifacts. The artifact proxy in the user namespace is insecure and obsolete. In the UI you can just get the artifact l

[2022-11-02 08:36] StefanoFioravanzo commented on #8406
Thanks for starting this issue! Looping in @elikatsis from our side as well

[2022-11-02 16:28] Rabelaiss opened #8413 "[bug] Compiling a component raises AttributeError: 'NoneType' object has no attribute '_set_metadata'"
Following the official documentation on Kubeflow V2 (link below), I'm trying to compile a simple component which just prints a string, but it raises an `AttributeError` which I don't understand. What's going on?

### Environment

Windows 11
Python 3.10.1
kfp 1.8.14
kfp-pipeline-spec 0.1.16
kfp-server-api 1.8.5

### Steps to reproduce

[code]

### Expected result

Generation of file `printer.yaml`.

[2022-11-02 18:35] tboquet commented on #3594
Hello, any update on this? I am running heavy parallel runs and I actually want to make sure my jobs are not preempted.
It is very explicit in the [kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#example-non-preempting-priorityclass) that it is a use case where we want the scheduler to keep everything in the queue instead of preempt nodes.

[2022-11-02 20:12] vvnpan commented on #7810
any updates on this @Linchin? We have the same issue running on pipelines version: 1.8.3, kubeflow: 1.6.0.
Also clicking on the recurring run pipeline, it shows error for graph

[2022-11-03 08:25] celiawa commented on #8189
Thanks @zijianjoy. I checked the mysql got MLMD store, there're many tables in it. Which tables we shall delete to recover our artifacts page back. We don't want to reinstall.

[2022-11-03 14:39] Rabelaiss commented on #8413
solved installing V2 through `pip install kfp --pre`

[2022-11-03 14:39] Rabelaiss commented on #8413
solved installing V2 through `pip install kfp --pre`

[2022-11-03 14:39] #8413 closed

[2022-11-03 16:25] floriancartuta opened #8417 "[bug] <Kubeflow Component container doesn't start >"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

kfp                                   1.8.14
kfp-pipeline-spec                     0.1.16
kfp-server-api                        1.8.5
### Steps to reproduce

### Expected result

### Materials and reference

### Labels

---

Impacted by this bug? Give it a 👍.

[2022-11-03 16:25] #8417 closed

[2022-11-03 16:36] crbl1122 opened #8418 "[bug] <Component container doesn't start>"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

kfp                                   1.8.14
kfp-pipeline-spec                     0.1.16
kfp-server-api                        1.8.5
### Steps to reproduce

I am testing a yaml specified component in a GCP Kubeflow pipeline. The problem is that the component container doesn't start because is se

[2022-11-03 17:39] Sergiodiaz53 opened #8420 "[sdk] bad generation of components path when buliding with target image in windows"
### Environment
Windows 10 with python 3.9 running in a venv

*  KFP SDK version: 1.8.14
*  All dependencies version:
kfp                           1.8.14
kfp-pipeline-spec             0.1.16
kfp-server-api                1.8.5

Hello there,
Im having some problems regarding the building of python-based components in containers. Im trying to pack a set of components in the same image.

### Steps t

[2022-11-03 22:41] chensun commented on #8399
Hi @r-matsuzaka, sorry about the confusion, but KFP SDK 1.6.3 is not to be paired with KF manifest 1.6. To try out the v2 features, can you upgrade to KFP SDK 2.0.0b6? Thanks!

[2022-11-03 22:42] #8399 closed

[2022-11-03 22:44] chensun commented on #8396
Hi @TranThanh96, I think pulling from local docker registry is out of scope for KFP, but a generic K8s issue. Maybe you can search for k8s tutorials on if this is possible and how to configure it.

[2022-11-03 22:44] #8396 closed

[2022-11-03 22:54] chensun commented on #8418
Hi @crbl1122, can you please share how you define the component YAML? Is `/src/components/program.py` coming from the YAML definition?

[2022-11-03 23:10] chensun commented on #8408
Hi @Sharathmk99, I'm not sure if it's a good idea to allow configure the limit, there likely will be other system limitation, for example, at DB storage layer.
Can you help explain a bit your use case, why did you get such large content for artifacts?

[2022-11-04 04:37] crbl1122 commented on #8418
Hi @chensun the reference to 'program.py' is made in Dockerfile declaration of workdir and entry point (above). Also please view below the yaml specifications of the two components and pipeline function. The components are load from the yaml files.

%%writefile component_1.yaml
name: component_1
description: Read few lines from local file and forward them

inputs:
- {name: input1_path, type: Strin

[2022-11-04 04:42] #8418 closed

[2022-11-04 04:43] crbl1122 commented on #8418
It is not a bug. It was due to  discrepance in path definition between the YAML and Dockerfile files

[2022-11-04 11:33] Sharathmk99 commented on #8408
@chensun I was not facing this issue initially, but started to face once Kubeflow has more than 5k pipeline runs. Looks like we have to implement pagination on how metadata-writer queries metadata-server. Please see the issue here https://github.com/google/ml-metadata/issues/74 and https://github.com/google/ml-metadata/issues/42

[2022-11-04 23:48] esantix commented on #1901
for arguments parsing in Kubeflow I recommend json.loads

[2022-11-05 02:35] crbl1122 opened #8424 "[bug] Kubeflow pipeline doesn't pick-up metrics from file /mlpipeline-metrics.json"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

kfp                                   1.8.14
kfp-pipeline-spec              0.1.16
kfp-server-api                   1.8.5
### Steps to reproduce

I've ensured that both the metrics artifact is correctly named: "mlpipeline-metrics" and the file saved in the root of the container: "mlpipeline-metri

[2022-11-05 07:30] r-matsuzaka commented on #8399
@chensun
Hi. Thank you for your answer.
Excuse me but I set up kubeflow by running the following and choose the Docker image from default list.
[code]
And I don't prepare Docker image for this pipeline.
So you mean I need to prepare other Docker image and load it?

[2022-11-06 01:40] r-matsuzaka opened #8427 "[Question] How to save GPU costs in kubeflow pipelines?"
Excuse me, is it possible to run each step on different node?
For example, in this case `cifar-preproc` runs on CPU node but `cifar-train` runs on GPU node.
To save costs, I want to use GPUs only when they are needed to save costs.

![image](https://user-images.githubusercontent.com/76238346/200150043-1d812f97-11e7-4182-96cf-4f244c2f6484.png)

https://cloud.google.com/blog/topics/developers-practi

[2022-11-07 12:55] SoujanyaSan opened #8429 "Need to replace Minlo with s3 as an alternative for artifact storage in kubeflow"
### Feature Area

 /area backend

### What feature would you like to see?

Need to have pipeline manifests,metrics and logs of each pipeline node should be exported to s3 from ml pipelines and also need to retireve from the same for the visualization in the kubeflow

### What is the use case or pain point?

Facing difficulty in disintegrating minio from kubeflow(as by default kubeflow ships with M

[2022-11-08 14:12] RyuSA commented on #7614
@ysk24ok @msvensson222
FYI, there is a special input variable `PipelineTaskFinalStatus` for `ExitHandler`. This variable contains the workflow status, resource name, error code and so on.
ref: https://www.kubeflow.org/docs/components/pipelines/v2/author-a-pipeline/pipelines/#dslexithandler

You may want the workflow status at the end of the pipeline. Instead of  `{{workflow.status}}`, you can use

[2022-11-08 21:59] #7671 closed

[2022-11-08 21:59] james-jwu opened #8435 "KFP conformance test design"

[2022-11-08 22:01] james-jwu commented on #8435
Design doc: https://docs.google.com/document/d/1_til1HkVBFQ1wCgyUpWuMlKRYI4zP1YPmNxr75mzcps/edit

[2022-11-08 22:01] #8435 closed

[2022-11-08 22:01] james-jwu opened #8436 "Publish conformance test guidelines to the KF community"

[2022-11-08 22:05] james-jwu commented on #8436
Will continue driving KF conformance through a project in KF repo:

[2022-11-08 22:05] #8436 closed

[2022-11-09 14:46] Rabelaiss commented on #7623
I have a similar problem, in a file there are the functions (using kubeflow V2), in another file there is the pipeline.
[code]
what should I use instead? Thanks

[2022-11-09 15:09] xnoar747 commented on #7589
same here, please keep in the loop

[2022-11-10 23:47] Linchin commented on #8427
Hi @r-matsuzaka, thank you for your question! We offer component level support for node selection. See reference here: https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.BaseOp.add_node_selector_constraint
Please let us know if you have any more questions.

[2022-11-10 23:47] #8427 closed

[2022-11-10 23:50] Linchin commented on #8424
Hi @crbl1122, the correct name for the metrics file should be `mlpipeline-ui-metadata.json`. See reference here: https://www.kubeflow.org/docs/components/pipelines/v1/sdk/output-viewer/#v1-sdk-writing-out-metadata-for-the-output-viewers
Please let us know if you have any questions.

[2022-11-10 23:50] #8424 closed

[2022-11-10 23:54] Linchin commented on #8429
Hi @SoujanyaSan, thank you for bringing up the request. We have a similar feature request here #7878. Please see updates in this request.

[2022-11-10 23:54] #8429 closed

[2022-11-11 08:09] crbl1122 commented on #8424
Hi @Linchin the above didn't work either. Please note that as written in the issue description, I am testing the metrics visualization from a YAML specified component, containerized in GCP Artifact registry (AR), not a function based component neither one defined through containerOp. So what I have is the containerized module existing in AR and the YAML specification file. The KBF version I printe

[2022-11-12 16:31] hfarooqui opened #8445 "Kubeflow pipeline is displayed as single line json instead of formatted YAML file with KFP 1.8.5"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
KFP is deployed on EKS cluster (1.22) with S3+RDS using following procedure:
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/aws

*  KFP version:
1.8.5
### Steps to reproduce
After upgrading KFP from 1.7.1 to 1.8.5 upgrade we noticed that uploading a pipeline.yaml from Kubeflow dashboard shows up as json as

[2022-11-13 21:34] tanvithakur94 opened #8446 "[backend] Unimplemented desc = unknown method ListTasksV1 for service api.TaskService"
`###` Environment
kfp v2 SDK
kfp version                               2.0.0b6
kfp-pipeline-spec  version     0.1.16
kfp-server-api version            2.0.0a6

### Steps to reproduce

We are trying to run a simple example from the [docs](https://www.kubeflow.org/docs/components/pipelines/v1/sdk-v2/python-function-components/) in order to test kfp v2 sdk in kubeflow namespace as shown below:

[code

[2022-11-14 12:39] BroderPeters commented on #5807
Is there any workaround or alternative that can be used?

[2022-11-14 20:42] chensun commented on #8446
TL;DR: This should have been resolved now.

Last week, we updated these two images, which we shouldn't have referenced via `latest` from the beginning:
https://github.com/kubeflow/pipelines/blob/6b3b4df3d2a0dae0d10195e3d2fea76ed478af0c/backend/src/v2/compiler/argocompiler/argo.go#L110-L111
The change caused a mismatch between the API client and the API server. We reverted the images by manually ad

[2022-11-14 23:54] sumanassarmathg commented on #8203
Any update on this? We'd like to use the dsl.Condition to trigger some alert ops and can't whilst this is open.

[2022-11-15 02:24] Djmcflush commented on #8365
How do you get the endpoiint for V2??

[2022-11-15 03:51] stobias123 opened #8449 "[frontend] v2 ui doesn't show error cause"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
* AWS Manifests.
https://www.kubeflow.org/docs/pipelines/installation/overview/. -->
*  KFP version:
gcr.io/ml-pipeline/frontend:2.0.0-alpha.5
To find the version number, See version number shows on bottom of KFP UI left sidenav. -->

### Steps to reproduce

Run this pipeline.
https://github.com/kubeflow/pipelines/blob/master/samples

[2022-11-15 03:53] tarat44 commented on #8365
This request was based on the v1 api. I just started following the proposal for the v2 api and am curious about whether this feature will be included in v2.

[2022-11-15 04:58] thesuperzapper opened #8450 "[sdk] latest releases of sdk are marked as "pre-release" on PyPI"
Currently, the latest version of the KFP SDK (`2.0.0b6`) is [marked as a "pre-release" on PyPI](https://pypi.org/project/kfp/#history).

This is problematic for 2 main reasons:

1. If a user runs `pip install kfp` they will get `1.8.14`, which will not include 2.0.0 features
1. Kubeflow 1.6 [includes Kubeflow Pipelines `v2.0.0-alpha5`](https://www.kubeflow.org/docs/releases/kubeflow-1.6/#component

[2022-11-15 06:52] TranThanh96 opened #8451 "kfp component can not access gpu (on premise)"
### Environment

ubuntu 20-04
cluster k3s: 1 node gpu: https://www.kubeflow.org/docs/components/pipelines/v1/installation/localcluster-deployment/#1-setting-up-a-cluster-on-k3s
deployed gpu-operator

### Steps to reproduce

this is code check:
[code]

and this is result: sh: 1: nvidia-smi: not found
![image](https://user-images.githubusercontent.com/26323599/201849120-27970509-3898-4e41-a1b8-6ca4d

[2022-11-15 11:01] edday1 commented on #8257
+1

[2022-11-15 22:43] sumanassarmathg commented on #7861
Any update on this, it's been several months? Facing the same issue when trying to pass the output of a `BigqueryQueryJobOp` which is of type `google.BQTable` to another component.

[2022-11-16 03:32] Writtic opened #8459 "[sdk] Unable to use api/v2alpha1/pipeline_spec.proto with bazel and py_proto_library() intact"
### Environment

*  KFP version: 1.8.13

*  All dependencies version:
  * kfp==1.8.13
  * kfp-pipeline-spec==0.1.16
  * kfp-server-api==1.8.4

### Steps to reproduce

Based on [kfp-pipeline-repro-codes-8459](https://github.com/Writtic/kfp-pipeline-repro-codes-8459)

[code]

### Expected result

Using `py_proto_library()` from com_google_protobuf, I hope to use the part of pipeline_spec.proto on [k

[2022-11-16 03:32] hellobiek opened #8460 "[pipelines]why user can see all pipelines from other member"
kubeflow 1.5
kfp 1.8.12

why user can see all pipelines from other member?

[2022-11-16 10:22] JonChanGit commented on #6895
I'm having this problem too, any update?

[2022-11-16 10:27] skogsbrus commented on #6895
If you are able to structure your code so that you pass a directory instead (containing the files you're interested in), I think that should work. Alternatively you can use mounted volumes to pass arbitrary files.

But AFAIK there's no fix for this specific issue.

[2022-11-17 03:58] stobias123 commented on #8446
I'm still seeing this on a fresh install

[2022-11-17 16:17] wardVD commented on #8291
Any update here?

[2022-11-17 21:18] chensun commented on #8446
@stobias123 Sorry, I found the "latest" label we added to the old images was accidentally moved. Changed it back, this should work now. Please retry running any pipeline.

[2022-11-17 22:25] connor-mccarthy commented on #7861
@sumanassarmathg, support for google-namespaced artifact types was released with [`2.0.0b5`](https://github.com/kubeflow/pipelines/blob/master/sdk/RELEASE.md#200-beta5).

[2022-11-17 22:30] connor-mccarthy commented on #8203
This has not yet been fixed in KFP v1.

This was fixed at least as early as `kfp==2.0.0b1`. The following runs without issue:

[code]

[2022-11-17 23:46] jlyaoyuli commented on #8449
Hi @stobias123 , thank you for reaching out. Currently KFP v2 is in the alpha phase, and the fix is what we are currently working on.

[2022-11-17 23:52] jlyaoyuli commented on #8460
Hi @hellobiek , namespace for pipeline is working in progress.
https://github.com/kubeflow/pipelines/issues/4197

[2022-11-18 00:01] jlyaoyuli commented on #8451
Hello @TranThanh96 ,
Here is the instruction of enabling GPU: https://www.kubeflow.org/docs/distributions/gke/pipelines/enable-gpu-and-tpu/
Maybe you were missing `gpu_op.add_node_selector_constraint()`

[2022-11-18 02:08] hellobiek commented on #8460
@jlyaoyuli  thank you.

[2022-11-18 15:27] antnsi commented on #4828
Should it be part of the [KFP v2 backlog](https://github.com/kubeflow/pipelines/projects/9)? Increasing the limit is still very relevant.

[2022-11-18 16:51] CheaterAdams commented on #8356
I too am having this same issue, but with KFP 1.8.16.

[2022-11-18 17:58] gkcalat commented on #8356
Hi @Kokkini , @CheaterAdams,

A newer release of a platform-agnostic Kubeflow 1.6.1 is [here](https://github.com/kubeflow/manifests/releases/tag/v1.6.1).

[2022-11-18 20:23] Linchin opened #8483 "[frontend] Archived experiments do not show up in archived list"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
KFP standalone

*  KFP version:
Self built based on #8480

### Steps to reproduce
Since this bug only appeared after PR #8480, maybe it's more reasonable to investigate after it is merged.
Here are the steps:
1. Create an experiment using v2 api
2. Archive this experiment
3. On the frontend, the archived experiment still appears in t

[2022-11-20 21:40] sradc commented on #3412
+1 on this issue, would be great to be able to write stuff like this:

[code]

[code]

[2022-11-21 04:00] vietanhdev commented on #8060
We deployed a Kubeflow system with Minio on a NFS Storage and the same error happened.
It might be related to slow disk speed on Minio, or any timeout configuration?
Please update if there is any news. Thank you!

[2022-11-21 17:41] CheaterAdams commented on #8356
If the fix was available in 1.6.1, it is broken in 1.8.16. Can someone tell me what the fix is and are any changes to the above code needed?
thanks

[2022-11-21 23:52] chensun commented on #8450
This is by design. KFP v2 is currently in progress, and we're not ready to claim GA yet.
The 2.0 alpha version of KFP included in Kubeflow 1.6 fully supports KFP v1 feature with the addition of v2 feature in alpha phase. Users can continue using KFP SDK 1.8.* with Kubeflow 1.6 for v1 features. Alternatively, they may choose to try out v2 features by explicitly upgrading to KFP SDK 2.0-beta.

[2022-11-21 23:52] #8450 closed

[2022-11-22 18:59] CheaterAdams commented on #8356
I resolved my problem by using KFP V2 and metrics.log_metric as seen in the code snippet below. With an earlier attempt at using v2 I was not successful. Encountered JSON formatting error. I now believe that was due to not specifying V2 compatible mode when compiling and running from pipeline function. See at the end of this post.

``@component(
    packages_to_install=['scikit-learn'],
    base_i

[2022-11-22 21:34] doctapp opened #8490 "[frontend] Image reference specifying tag with digest should work"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? Google Vertex AI
*  KFP version: 1.8.6 (Python 3.10.6)

### Steps to reproduce

Use image reference containing both tag and digest, e.g., `gcr.io/some-project-id/some-product:0.0.1@sha256:0123456789abcedf0123456789abcedf0123456789abcedf0123456789abcedf`

### Expected result

Pipeline should run but receiving `google.api_core.exceptio

[2022-11-22 22:39] sradc opened #8491 "[feature] kfp.component to accept tuples/lists of component outputs as args"
### Feature Area

/area sdk

### What feature would you like to see?

The ability to pass in a list/tuple of `component.output` as an arg to a component. E.g. so that examples like the following work:

[code]

[code]

(Looking at [this](https://stackoverflow.com/a/63219053) stackoverflow post, seems this kind of thing was possible in v1; but seems it's not possible in v2?)

### What is the use cas

[2022-11-23 01:12] ianonavy opened #11645 "Incorrect hostname for Pipeline SDK"
When following [Connect the Pipelines SDK to Kubeflow Pipelines](https://www.kubeflow.org/docs/components/pipelines/v1/sdk/connect-api/) on Kubeflow 1.6.1 in the subsection [Full kubeflow (from inside cluster)](https://www.kubeflow.org/docs/components/pipelines/v1/sdk/connect-api/#full-kubeflow-subfrom-inside-clustersub), I discovered the hard way that Kubernetes RBAC authorization is fulfilled at

[2022-11-23 13:14] Glorf commented on #7339
Hi, I have the same issue as @nkosteski - after upgrading from Kubeflow Pipelines 1.4 to 1.8.5 I cannot see the Visualizations from the separate steps in "Run Output" view - even though they are properly rendered in step outputs. Pipeline is V1. Interesting phenomenon is, that "Visualization" generated by the last pipeline step is rendered properly - any previous visualizations are ommited. In 1.4

[2022-11-24 10:33] anifort opened #8495 "[bug] BigqueryCreateModelJob component fails when query includes double quotes (")"
### Environment
google-cloud-pipeline-components = "1.0.26"
gcr.io/ml-pipeline/google-cloud-pipeline-components:1.0.26

*  How do you deploy Kubeflow Pipelines (KFP)?
Running on Vertex AI Pipelines
* https://www.kubeflow.org/docs/pipelines/installation/overview/. -->
*  KFP version:
n/a

*  KFP SDK version:
kfp = "^1.8.14"

### Steps to reproduce
install google-cloud-pipeline-components = "1.0.26"

[2022-11-25 10:43] wfg314 opened #8497 "How do I use an external variable, an external function, or an external class inside a pipeline component?"
I defined a pipeline component in com.py like this:

@component(base_image="my-image")
def com1():
     a = 1

    def func1(aa):
        pass

    def func2():
        pass

    x = func1(a)
    y = func2()

    return com1

I want to move a, func1 and func2 outside from com1,  because the com1 is too long, Too long code leads to poor readability.
So I want to define like this:

a = 1

def func1(

[2022-11-25 10:43] wfg314 opened #8498 "How do I use an external variable, an external function, or an external class inside a pipeline component?"
I defined a pipeline component in com.py like this:

@component(base_image="my-image")
def com1():
    a = 1
    def func1(aa):
        pass
    def func2():
        pass
    x = func1(a)
    y = func2()
    return com1

I want to move a, func1 and func2 outside from com1,  because the com1 is too long, Too long code leads to poor readability.
So I want to define like this:

a = 1
def func1(aa):

[2022-11-25 13:01] wardVD opened #8499 "[feature] Filter splits not possible for AutoMLTrainingJobOp"
### Feature Area

I noticed that the `component.yaml` file for AutoMLTrainingJobOp mentions data filters in the description, but the parameters for filter splits are not yet present:

https://github.com/kubeflow/pipelines/blob/master/components/google-cloud/google_cloud_pipeline_components/aiplatform/automl_training_job/automl_image_training_job/component.yaml

This unfortunately does not allow to

[2022-11-26 06:45] #8497 closed

[2022-11-27 03:29] AdityaSoni19031997 commented on #3412
I came across [this](https://github.com/sradc/kubeflow_hyperparam_opt_example/blob/b3ef4d7e01055e27011a4d1311cf9adccf37869e/pseudo_tuple_component.py#L34) component which can probably work for time being (by @sradc).

[2022-11-28 11:48] gabrielgcbs commented on #4701
So anyone got a solution for that?

[2022-11-28 14:37] wardVD opened #8500 "[bug] Issue with ImageDatasetCreateOp"
### Environment

*  KFP SDK version:
2.0.0b4

### Steps to reproduce

Run https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/official/pipelines/google_cloud_pipeline_components_automl_images.ipynb

No issues on `kfp==1.8.13`

Issue:
![image](https://user-images.githubusercontent.com/2136274/204304592-f6078988-9c68-43d7-8ff0-826e09f803f3.png)

---

Impacted by this bug? Gi

[2022-11-28 22:27] ryansteakley opened #8502 "[feature] S3 Integration for Artifact Storage (IRSA)"
## S3 Integration for Artifact Storage (IRSA)
As of Kubeflow pipelines 2.0-alpha6 release, using IRSA for artifact storage in S3 is not fully supported(details later in the doc). There has been a long-running thread with high-interest for this functionality in the[ kubeflow pipelines github](https://github.com/kubeflow/pipelines/issues/3405). These proposal aims to address it.

To support using IR

[2022-11-29 19:47] CheaterAdams commented on #8356
Hi @Kokkini, does your comment regarding platform agnostic Kubeflow 1.6.1 imply the fix is provided in 1.6.1?
I am still looking for a solution using KPF 1.8.16.

[2022-11-30 17:15] wardVD opened #8513 "[feature] Export VertexModels in python function based components in Vertex Pipelines."
### Feature Area

I wanted to create a custom component from a python function that creates a VertexModel artifact when running with Vertex Pipelines.

I thought it could be as simple as something like this (dummy code):

[code]

The compilation step works, but running gives me the following error:

[code]

Is there a way on how to create a python function based component that creates a VertexMode

[2022-11-30 21:47] surajkota commented on #8502
Hi @james-jwu, @zijianjoy Can you please tag Jo Li/people from frontend side to review this proposal

cc @chensun

[2022-11-30 21:48] surajkota commented on #8502
@jlyaoyuli