[2021-02-25 11:13] Bobgy opened #5193 "[TFX] penguins example"
TFX iris example was removed in new releases, it should be replaced by penguins example.

context: https://github.com/kubeflow/pipelines/pull/5189

[2021-02-25 11:13] Bobgy commented on #5193
/cc @chensun
Do you have bandwidth to take this?

Not urgent, but I believe we should better have it in next release.

[2021-02-25 11:15] Bobgy opened #5194 "[TFX] TFMA 0.27.0 broken in KFP UI"
Originally posted in https://github.com/kubeflow/pipelines/issues/5137#issuecomment-785012674

[2021-02-25 11:15] Bobgy commented on #5194
Worked around by https://github.com/kubeflow/pipelines/pull/5191.

We need to report the issue upstream.

[2021-02-25 11:18] Bobgy commented on #5194
But then the old version succeeds in loading https://unpkg.com/tensorflow_model_analysis@0.21.5/dist/vulcanized_tfma.js while the new version fails trying to load from https://24643bfacd9ed2e-dot-us-central1.pipelines.googleusercontent.com/nbextensions/tensorflow_model_analysis/vulcanized_tfma.js

@Ark-kun 's investigation

[2021-02-25 11:23] Bobgy commented on #5194
/assign @Bobgy @Ark-kun

[2021-02-25 20:11] NikeNano commented on #3250
Since we have solved the last out standing point here I believe this can be removed. https://github.com/kubeflow/pipelines/issues/3250#issuecomment-744114178 @Bobgy

[2021-02-26 01:08] Bobgy commented on #5123
Long term solution should be https://github.com/kubeflow/pipelines/issues/5138

[2021-02-26 01:08] #5123 closed

[2021-02-26 01:15] Bobgy commented on #5124
Hi @VindhyaSRajan!

Did you look into https://github.com/pachyderm/pachyderm? I think they also have some integration with KFP.
KFP is very flexible to work with any external system by components.

Any feedback on gaps?

[2021-02-26 08:32] HaozhengAN opened #5198 "bug in compilier.Compiler._validate_exit_handler"
### What steps did you take:
[code]
### What happened:
it compiled success,

### What did you expect to happen:
raise Error such as follow:
[code]
### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:
1.4.0

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind bug

[2021-02-26 09:34] #3250 closed

[2021-02-26 09:35] Bobgy commented on #3250
A long time headache is over : )

[2021-02-26 10:23] NikeNano commented on #3250
Succes :)

[2021-02-26 14:06] Bobgy commented on #5148
thank you @NikeNano

[2021-02-26 15:11] StefanoFioravanzo opened #5199 "[FR] Hide sidebar when in Kubeflow mode"
There is an ongoing discussion about how web apps should behave when deployed as part Kubeflow. See https://github.com/kubeflow/kubeflow/issues/5566.

The main discussion point I would like to focus on for KFP UI is (quoting from the issue):

Centraldashboard should act as the single place where all applications expose their pages. Centraldashboard's sidebar is very easily customizable with a Conf

[2021-02-26 15:16] StefanoFioravanzo commented on #5199
KFP comes already with two deployment modes: `KUBEFLOW` and `MARKETPLACE`. See https://github.com/kubeflow/pipelines/blob/0795597562e076437a21745e524b5c960b1edb68/frontend/src/lib/Flags.ts#L1-L4 and https://github.com/kubeflow/pipelines/blob/0795597562e076437a21745e524b5c960b1edb68/frontend/server/handlers/index-html.ts#L60-L72

When in `KUBEFLOW` mode, KFP loads the Centraldashboard shared librar

[2021-02-26 16:16] Bobgy commented on #4197
We still need UI work to finish this

[2021-02-26 16:20] Bobgy commented on #3412
FYI, there is an early design of bit.ly/kfp-v2. We showed a design that can make aggregation a built-in feature.

[2021-02-26 17:14] Bobgy commented on #1881
/reopen

Can you provide more details and error message?

[2021-02-26 20:45] susan-shu-c commented on #4170
Encountering this - following and trying out suggestions above

[2021-02-26 21:07] susan-shu-c commented on #4170
Might be a silly question, but where are you putting this workaround?

I was trying it in the pipeline script after `Compiler().compile(test_pipeline, package_path="toto.yaml")` since it makes sense there... the file is created after this line

[2021-02-26 23:30] Bobgy commented on #2829
/assign @chensun

[2021-02-26 23:53] Bobgy commented on #5133
@yanniszark pinging for status update, I want to make sure we don't have duplicate efforts

[2021-02-27 00:18] Bobgy commented on #5199
@StefanoFioravanzo some of KFP users may deploy it in their own env, shall we add a separate config to hide sidebar?

[2021-02-27 03:31] pvaneck commented on #5181
Draft PR is up, but still needs a bit more testing with actual pipelines as I only tested using the CLI. A README will also probably need to be created for documenting  various ways of using the component.

[2021-02-27 12:59] bvboca commented on #1881
have the same issue

[2021-02-27 12:59] bvboca commented on #1881
have the same issue

[2021-02-27 18:52] DavidSpek commented on #5124
Can KFP be set to take kubernetes snapshots after each step, and then pass the name of that snapshot as the `data_source` for the next step? If not, I think that is a solid place to start for having data versioning built into KFP. I have been working on code for Kale that, once working, should create pipelines that create snapshots after each step https://github.com/kubeflow-kale/kale/pulls.

[2021-02-27 19:57] yanniszark commented on #5133
@Bobgy thanks for the ping. I want to ask for more info on your suggestion.
You proposed:

Currently, the base folder is broken up per-component (application. argo, cache, metadata, pipeline).
This includes both pipelines (pipelines, cache) and non-pipelines apps (argo, application-controller, metadata).
Those are composed into a kustomization in `base/kustomization.yaml`. In addition, `base/kusto

[2021-02-28 01:30] Bobgy commented on #5133
That reminds me a few things,
`application` should now be moved out as optional, because we don't need it in kubeflow.

Because in namespaced installation mode, cluster admin can be a separate group of people than namespace admins. So it's more convenient if there's a clear separation of cluster resources.

Therefore, this requirement isn't necessary for multi-user mode, because it's already meant

[2021-02-28 01:32] Bobgy commented on #5133
For tekton KFP, @animeshsingh what do you think?

My current thoughts are manifest should be next to where development is happening, so maintainence is easier if they are in kfp-tekton repo.

[2021-02-28 01:44] Bobgy commented on #5124
That's an interesting idea, how do you envision that being a 1st party feature? Does it need to?

[2021-02-28 13:41] hamko commented on #2653
Hi, I tested this feature in [1.4.1 on GCP Marketplace](https://console.cloud.google.com/marketplace/details/google-cloud-ai-platform/kubeflow-pipelines-test), but looks not yet fixed. I set a periodic run trigger `utc` with the cron expression `0 57 12 * * ?` and confirmed the corresponding run was triggered at 21:57 JST, displayed on the kubeflow dashboard UI (9 hours ahead of UTC). Do I misunde

[2021-02-28 16:42] NikeNano commented on #2653
@hamko did you make any changes to the default settings in order to change the timezone for the scheduler? Currently the default is `UTC` [to be backwards compatible](https://github.com/kubeflow/pipelines/pull/4641#issuecomment-751395093), . For more info about the changes specifically to `gcp_market place` this [PR](https://github.com/kubeflow/pipelines/pull/4977) refers to the file that sets it

[2021-02-28 19:43] NikeNano commented on #5193
I would be happy to help out with this as well.

[2021-03-01 03:46] Bobgy opened #5209 "[Testing] python presubmit tests failing 2021.3.1"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5196/kubeflow-pipelines-sdk-python36/1365228134722441216

/assign @chensun

[2021-03-01 03:46] Bobgy commented on #5209
Found in https://github.com/kubeflow/pipelines/pull/5196

Why did it require docker?

[2021-03-01 04:17] Bobgy commented on #5084
Part of https://github.com/kubeflow/pipelines/issues/5084

[2021-03-01 04:18] Bobgy commented on #4197
Remaining work item tracked in https://github.com/kubeflow/pipelines/issues/5084

[2021-03-01 04:21] Bobgy commented on #5084
A summary of previous discussion,

Do we all agree on key criteria for this feature?
* p0 being backward-compatible (e.g. if user stays in non-separation mode for pipelines, they should still be able to do what they want).
* p0 allow users to upload to shared/non-shared
* p0 allow users to list/select from shared/non-shared pipelines using a switch/tabs
* p1 allow a configuration to disable shared

[2021-03-01 05:48] chensun commented on #5209
The test log seems to be messed up. The docker requirement is from another test which somehow didn't shown as "FAILED". That test explicitly asks for testing with `docker`:
https://github.com/kubeflow/pipelines/blob/8af15a3ad02ff6727790594c93186da38420b83c/sdk/python/tests/local_runner_test.py#L195

Not sure if it was this error that messed up the subsequent tests.

Did we recently remove docker f

[2021-03-01 06:24] Bobgy commented on #5209
I don't think we ever had docker there, in the CI test env, tests are run inside a Pod, so there shouldn't be docker there.

The test was introduced in https://github.com/kubeflow/pipelines/pull/4983, curious why it didn't fail originally

[2021-03-01 07:02] chensun commented on #5209
Then I was probably mistaken -- the missing docker error likely didn't fail the test. Although I think we should eliminate such error anyway. Besides, a UT shouldn't have dependencies on docker, best practice should be using mock here.

That left one possibility: [the other test](https://github.com/kubeflow/pipelines/blob/ec7201db5a6661a1d703d0e240a219d307f190f6/sdk/python/kfp/v2/google/aiplatform

[2021-03-01 08:30] krish0005 opened #5213 "Cannot deploy Kubefow 1.2.0 in CLI mode: it is impossible to deploy in a custom VPC"
See comments already posted here: https://github.com/kubeflow/manifests/issues/1577#issuecomment-777587661

My cluster.yaml as follows:

[code]

What i get when i build:

[code]

[2021-03-01 08:32] Bobgy commented on #5214
Thanks @henrysecond1! That makes sense adding some default value there.
Manifests is currently migrating to kubeflow/pipelines repo. Would you want to open a PR after that?

[2021-03-01 08:34] Bobgy commented on #5215
We are open for contributions, here's frontend development guide: https://github.com/kubeflow/pipelines/tree/master/frontend.

And I believe related code to this issue is in https://github.com/kubeflow/pipelines/blob/45c5c18716b57fbf9d491d88ab2fe7e345dc7edb/frontend/src/pages/RunDetails.tsx#L584.

[2021-03-01 10:14] Ark-kun commented on #5209
On first glance the `test_execution_mode_exclude_op` test seems to have been working as intended.
It tried to explicitly use docker and failed. Then tried excluding the image (so that it does not run on docker) and that succeeds.
The tests were passing here: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/4983/kubeflow-pipelines-sdk-python39/1364431670366703616

[2021-03-01 10:50] Bobgy commented on #3970
Moving this to KFP IR backlog, it should work with MLMD artifacts.

[2021-03-01 16:25] #5175 closed

[2021-03-01 16:53] animeshsingh opened #5219 "KFP DSL Changes requested for Condition Spec"
https://docs.google.com/document/d/1B2CQgyouqd6oSnqXtGk9uXaUV7JKEvQxFERbyQcZjZw/edit?usp=sharing

[2021-03-01 16:54] animeshsingh commented on #5219
cc @Udiknedormin @Tomcli @Bobgy

[2021-03-01 17:00] StefanoFioravanzo commented on #5199
@Bobgy Do you have examples of people deploying KFP in `KUBEFLOW` mode, but outside of Kubeflow? I think in those cases they wouldn't set the `DEPLOYMENT` var, since it's not needed. So:

1. Having `KUBEFLOW` deployment mode both load the Centraldashboard lib and hide the sidenav makes it crystal clear what this mode is for: being part of Kubeflow
2. Having a `HIDE_SIDENAV` var makes it more flexi

[2021-03-01 18:01] chensun commented on #5209
Right, I realized that. Missing docker didn't fail the test, it yields the same expected behavior though through a different route: "docker not found" vs "image not found".
That said, I think we should use mock to avoid actually calling docker binary.

[2021-03-01 19:04] #5209 closed

[2021-03-01 19:48] boarder7395 opened #5221 "Issue with current implementation of data passing using volume."
### What steps did you take:
When using the experimental feature of data passing with a volume mlpipeline-metadata-ui artifacts, and metrics-ui artifacts do not work. I ran some local testing and have identified the issue to be in kfp/compiler/_data_passing_using_volume.py::rewrite_data_passing_to_use_volumes. Currently this function deletes all artifacts and replaces them with parameters. I belie

[2021-03-01 20:54] ReggieCarey opened #5223 "[Kubeflow Dex Distribution] KF Pipelines 100% Unusable - MULTIPLE PEOPLE REPORTING"
### What steps did you take:

KFP in KF 1.2.0 with Dex on K8s 1.18.9 does not work.  I receive an error in the KF dashboard when attempting to view pipelines:

Error: failed to retrieve list of pipelines. Click Details for more information.  ->  An error occured, no healthy upstream

### What happened:

Installed Kubeflow 1.2.0 on-prem as per installation instructions.  Any attempt to see pipeline

[2021-03-01 21:18] ReggieCarey commented on #5223
Kubeflow installed via Kubespray

[2021-03-01 22:05] #4530 closed

[2021-03-02 06:15] Bobgy commented on #5199
@StefanoFioravanzo we do have customers who pick Kubeflow components and deploy in a very customized way (in multi-user mode). So I worry if we always hide sidenav for Kubeflow deployment, KFP UI will be very coupled to central dashboard UI. It'll be harder to upgrade KFP UI (including sidenav upgrade) by itself.

Therefore, I'd suggest to go with 2.
or maybe, `HIDE_SIDENAV` can default to true in

[2021-03-02 07:51] StefanoFioravanzo commented on #5199
@Bobgy I like this proposal

Ok then, I will update the related PR to introduce this new env var

[2021-03-02 10:43] Bobgy commented on #5223
Hi @ReggieCarey, sorry for your bad experience.

KF 1.2.0 with Dex on K8s is a community maintained distribution.

/assign @yanniszark
Can you take a look or suggest who else can take a look at this issue?

[2021-03-02 12:52] ReggieCarey commented on #5223
@yanniszark thanks for looking into this. Some more info. I disabled sidecar injection in the kubeflow namespace. This allowed ml pipeline to connect with MySQL and populate 1 pipeline. I can't get to the pipeline dashboard from the KF dashboard but I can get to it via kubectl proxy. Experiments still don't work. Need to check the cache server status.

Q: Why are you consuming MySQL instead of a S

[2021-03-02 15:15] Bobgy commented on #5223
So I guess there were some miscommunication, I thought Arrikto was still supporting Kubeflow 1.2 with dex. If that's not the case, we should have deleted the dex distribution from kubeflow.org documentation at that time.

[2021-03-02 15:28] klaimane opened #5229 "missing "hidden input" type for enabling credential input to pipline"
I need to pass credentials to the pipe in order to authenticate, but currently all pipeline input parameters are visible in the UI and pipe logs. We need a dedicated input type that is hidden (e.g. displays asterisks) to enable users to authenticate securely without the credential showing up in teh pipe UI or logs..

[2021-03-03 05:50] Bobgy opened #5230 "403 error or empty response when using KFP SDK to connect to AI Platform Pipelines / KFP standalone on GCP"
The problem just started happening yesterday.

To resolve the problem, ensure you are doing BOTH of the following:
1. Use "kfp" SDK version 0.5.2 or >= 1.0.4:
    e.g. `pip install kfp==0.5.2` or `pip install kfp==1.0.4` or `pip install --upgrade kfp`.

    You can check which version you are using via `pip list | grep kfp`.
2. Use explicit https protocol, eg from python:
[code]
   when following

[2021-03-03 08:56] Bobgy opened #5232 "Upgrade argo image to 2.12+"
Part of https://github.com/kubeflow/pipelines/issues/4553

/cc @NikeNano

[2021-03-03 08:56] Bobgy commented on #5232
/assign

[2021-03-03 08:57] Bobgy commented on #5232
I found that there's now a maintained tool to extract licenses from go libraries: https://github.com/google/go-licenses.

We can use it instead of our home-made tool.

[2021-03-03 10:08] Bobgy commented on #5232
I'll have to keep using https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go-license-tools

[2021-03-03 11:59] #3590 closed

[2021-03-03 12:02] andre-lx opened #5234 "Delete pipeline pods after running"
Hi.

I was trying to delete the pods of the pipelines after running.

This will help a lot, for example in gpu pipeline functions. As an example:

[code]

In our enviorment, this pipeline step will start a gpu node in our pool, but, the only way of deleting this node is deleting the run.

In the argo project, I can see that this is possible using the `podGC`: https://github.com/Duske/argo/blob/bd4

[2021-03-03 13:47] rky0930 commented on #5230
@Bobgy I also found this problem today. The solution you suggested it solves well thanks.

I want to know why this changes happened, and where I can find out before this kind of changes occurs.

[2021-03-03 15:52] henrysecond1 commented on #5214
Sure, thanks for the explanation. I'll open PR after the migration.

[2021-03-03 18:43] neuromage commented on #5221
Thanks @boarder7395 for filing this issue.

I think the solution for treating `mlpipeline-metadata-ui` and `metrics-ui artifacts` as special in this rewriter is reasonable. If you submit a PR, we can review it. You mentioned you had a couple of other options too. Would you mind outlining them in this issue?

Also, question on your use-case - where does the data actually reside? E.g., if it's on s3

[2021-03-03 20:00] NikeNano commented on #4752
I missed to follow up on this, will make a small proof of concept with `argo cronjobs` to try it out.

[2021-03-03 20:58] boarder7395 commented on #5221
We have a few different use cases. But data is sourced from potentially two locations; s3, and internal databases.

To walk through an example pipeline:
1) We extract the data in a single component and write that data to an fsx volume using the data_passing_using_volume implementation.
2) The next component will do some preprocessing to the dataset, for this we are using spark kubernetes implement

[2021-03-03 22:29] boarder7395 commented on #5221
Okay so the more I do testing on this it seems like I cannot use both parameters and artifacts since both would try to be at the some mount point.

I will continue to explore options in this space.

[2021-03-04 00:52] perseusyang1997 commented on #4440
@yhwang, would appreciate some help from you. I also cannot access pipelines from the notebook
when I run `kfp -n kubeflow pipeline list` in the terminal I get the following error
`Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'Cache-Control': 'no-cache, private', 'Content-Length': '19', 'Content-Type': 'text/plain', 'Date': 'Thu, 04 Mar 2021 00:50:15 GMT', 'Server': 'istio-envoy', 'X-E

[2021-03-04 02:50] Bobgy opened #5236 "[Testing] postsubmit mkp test failure 2021.3.4"
First failing mkp test: https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-mkp-e2e-test/1365452157549023232
Root cause seems to be: https://github.com/kubeflow/pipelines/pull/5158

[2021-03-04 02:56] Bobgy commented on #5236
The failure: https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-mkp-e2e-test/1365452157549023232#1:build-log.txt%3A7816

Step #1 - "verify": 37s         Warning   FailedScheduling   pod/ml-pipeline-55bbc45946-m7s66                    0/3 nodes are available: 2 Insufficient memory, 3 Insufficient cpu.

[2021-03-04 02:57] Bobgy commented on #5236
It seems that the added resource request make it impossible to schedule ml-pipeline pod in the cluster.

[2021-03-04 03:15] Bobgy commented on #5236
The default cluster for marketplace has 3 nodes each with 2 CPUs and 3GB memory allocatable.
So the new requirements set in #5158 seems too large, it marked 4GB memory for ml-pipeline server. I assume it was prepared more for large scale production env.

We need to reduce the request to fit into the default cluster.

[2021-03-04 03:15] Bobgy commented on #5236
/cc @NikeNano

[2021-03-04 03:15] Bobgy commented on #5236
/assign

I'll fix this

[2021-03-04 03:17] Bobgy commented on #5236
Another issue to address is that, mkp test should be triggered on presubmit if a PR touches MKP manifest. Let me add the auto trigger.

[2021-03-04 04:26] Bobgy commented on #5236
Some reading on requests & limits: https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-resource-requests-and-limits

[2021-03-04 04:43] Bobgy commented on #5236
Some investigation into other OSS projects, argo doesn't provide default for requests/limits for the most part: https://github.com/argoproj/argo-workflows/tree/master/manifests.
There's a doc page to introduce how to improve cost optimization: https://argoproj.github.io/argo-workflows/cost-optimisation/.

[2021-03-04 05:22] Bobgy commented on #5236
I think we'll need an operator manual documentation to tell people how to adjust their resource requests, but maybe as a next step.

[2021-03-04 06:03] #5236 closed

[2021-03-04 06:28] yhwang commented on #4440
@perseusyang1997 Based on your description, I think you were trying to use kfp CLI to access the kubeflow pipeline via kube-api server. Since the value of kubeflow-userid header you are using is `anonymous@kubeflow.org` (you have an extra `s` in your envoyfilter yaml), I just wonder are you using single user set up or multi-user? The purpose of the `envoyfilter` you posted is to add `kubeflow-user

[2021-03-04 06:31] DavidSpek commented on #4440
@perseusyang1997 Please be aware that this workaround is not actually secure.

@yanniszark will this be fixed in the 1.3 release?

[2021-03-04 07:01] vishalsmb opened #5238 "Issue in decoding the output artifact fetched using self._run_api.read_artifact() in Kubeflow client"
I'm fetching an artifact output using kubeflow client. When I try to decompress the returned value, its returning junk characters along with the actual content. Attaching the sample code. Please let me know if any is wrong with the decoding that I'm doing here.

Code :
`from kfp import Client
import base64
import gzip

kubeflowService = Client(host='')
artifact = kubeflowService ._run_api.read_art

[2021-03-04 07:11] Jeffwan commented on #5095
/area backend

[2021-03-04 07:26] Jeffwan commented on #5095
/area perf

[2021-03-04 08:08] jiyongjung0 commented on #5098
Thank you for reporting. I think that this is related to https://github.com/tensorflow/tfx/commit/18055491d38604934a25d49c53d456b96da04c47 . This should be fixed with the upcoming TFX version(0.28.0) (currently in RC).

[2021-03-04 08:42] Bobgy commented on #5232
Noticed a problem with kubeflow go-license-tools, although

I found that when using this command in argo repo, it lists a dependency: `github.com/fasthttp-contrib/websocket`.

However, this repo doesn't have a license file.

[2021-03-04 09:05] Bobgy commented on #5232
In summary, two dependencies are problematic:

* https://github.com/yudai/pp mentions it is licensed under MIT, but it doesn't keep a copy of MIT license in the repo.
* https://github.com/fasthttp-contrib/websocket doesn't have a license

[2021-03-04 10:30] vaskozl commented on #5194
With kubeflow 1.4.0 and TFX 0.27.0 the visualisation works for me on the first run when there is no baseline model.

However at on the second run I get:

[code]

As the model_name isn't specified.

[2021-03-04 10:37] bvboca commented on #1881
I did a fresh install on a clean kubernetes 1.16. The issue is not seem for now.  Before this, I install kubeflow on an existing istio cluster and skip some steps. Maybe some functions are broken in my installation.

[2021-03-04 10:46] vaskozl commented on #5194
It works on the first run since the util.py accepts None if there is only a single model with evaluation results:

https://github.com/tensorflow/model-analysis/blob/master/tensorflow_model_analysis/view/util.py#L585-L587

[2021-03-04 14:59] Bobgy commented on #5194
Thank you for raising the issue

What would be suggested fix on the caller line?

[2021-03-04 16:06] TDehaene commented on #5230
Seconded, we also had the problem starting today. Your solution fixed it, though we had to use kfp==1.4.0

This was the stacktrace:

[code]

[2021-03-04 16:12] kusirajiv commented on #1654
worked like a charm. Thanks a lot.

[2021-03-04 17:16] MatheusPush commented on #4440
hello guys, I'm  working on AWS and the RBAC and Envoy filter fixed my problems when I was using Kubeflow without Cognito, but now I'm changing the deployment in order to use Cognito as auth and as mentioned above by @pedrocwb and @karlschriek when trying to apply Envoy filter I have the following return:
`Error from server: error when creating "envoy_old.yaml": admission webhook "pilot.validation

[2021-03-04 18:31] capri-xiyue commented on #1654
This PR already tried https://github.com/kubeflow/pipelines/pull/4965. But we are waiting for the argo update to merge this PR. The need to update argo: FYI, https://github.com/kubeflow/pipelines/pull/4965#issuecomment-757062154

[2021-03-04 18:42] NikeNano commented on #5236
I think this sounds good, also if we could provide some ball park figures. I guess however if we set them to high we will request more resources than actually used for most people.

[2021-03-04 19:00] chensun opened #5240 "Presubmit test failing 03/04/2021"
Error:

[code]

The yaml file was added by #5197

I think the fix should be include these yaml files in setuptools.

/cc @dushyanthsc @capri-xiyue

[2021-03-04 19:44] tszumowski commented on #5230
@Bobgy thank you! I was poking around for quite a while this morning and wish I bothered to look at the most recent issues first!

I confirmed it works both with `kfp==1.0.4` and `kfp==1.4.0`.

This was on an AI Platforms Pipelines instance version `1.0.4`.

[2021-03-04 19:50] tszumowski commented on #5230
Also, for GitHub search indexing purposes, the empty response we were seeing when calling `list_pipelines()` for us was:

[code]

[2021-03-04 20:00] hahns0lo commented on #5230
@Bobgy thanks so much for the fix!

Interesting note: we have a script for uploading and running pipelines that was creating a KFP Client in the following way (replace * with the KFP instance’s hostname):

[code]

As you suggested, adding https:// fixes the problem. However, the problem only started appearing for us yesterday when we were running the script manually. Our Cloud Build pipelines use

[2021-03-04 20:43] #5240 closed

[2021-03-05 00:30] allenc97 opened #5244 "Cache Webhook "disabled" by default in Azure"
### What happened:
[A clear and concise description of what the bug is.]
Right now, mutating webhooks are used for components such as the cache-server. Previously there was an issue with the knative webhook, so the label "control-plane" was attached to prevent the webhook from triggering all the time. (Refer to https://github.com/kubeflow/kubeflow/issues/4511).  However, Azure by default adds the

[2021-03-05 00:35] Bobgy commented on #1881
Kubeflow 1.2 on dex is not supported by any party participating, I'd suggest waiting for 1.3 where @yanniszark said they will maintain.

[2021-03-05 00:38] allenc97 commented on #5244
@dtzar @eedorenko @sudivate

[2021-03-05 00:43] zijianjoy commented on #4958
This is a very good idea in multi-user support! Thank you for creating this request.

However, currently this is not in our roadmap, welcome community to contribute to this request.

[2021-03-05 00:45] Bobgy commented on #5046
Agree with elikatsis on this

[2021-03-05 00:45] #5046 closed

[2021-03-05 00:45] Bobgy commented on #5159
/cc @chensun @neuromage

[2021-03-05 00:49] Bobgy commented on #4947
Question answered

[2021-03-05 00:49] #4947 closed

[2021-03-05 00:50] Bobgy commented on #4976
Duplicate of #4440

[2021-03-05 00:50] #4976 closed

[2021-03-05 00:53] Bobgy commented on #5087
/cc @chensun @neuromage

[2021-03-05 00:56] Bobgy commented on #4952
/cc @chensun @neuromage

[2021-03-05 00:59] zijianjoy commented on #5048
file_outputs is deprecated, please refer to `component` for the use case: https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.components.html

[2021-03-05 01:00] Bobgy commented on #5085
/cc @chensun @neuromage

[2021-03-05 01:00] Bobgy commented on #5073
/cc @chensun

[2021-03-05 01:02] Bobgy commented on #5067
/cc @chensun @neuromage

[2021-03-05 01:04] Bobgy commented on #5164
/cc @chensun

[2021-03-05 01:06] Bobgy commented on #5229
@klaimane I'd suggest mounting k8s secret into related steps, so it's not handle by the pipeline system.

[2021-03-05 01:09] Bobgy commented on #5198
/assign @chensun

[2021-03-05 01:15] Bobgy commented on #5172
Makes sense, I think we should distinguish case when creating an experiment too.
Welcome contribution on this change.

[2021-03-05 01:16] Bobgy commented on #5155
/cc @Ark-kun @chensun

[2021-03-05 01:17] Bobgy commented on #5151
/cc @chensun

[2021-03-05 02:49] Ark-kun commented on #5159
What is you main usage scenario for this feature request?

Usually we advice out users to either use image tags (which are mutable) or use image replacement (in test scenarios). In KFP it's also possible to replace the container image after creating an instance of the component.
The `component.yaml` spec describes a command-line program inside container. So it is only compatible with specific fami

[2021-03-05 02:55] Bobgy commented on #5230
@hahns0lo you should also change your Cloud Build pipelines as suggested here, even if it's currently unaffected.

[2021-03-05 04:22] Bobgy commented on #5234
Hi @andre-lx, is https://github.com/kubeflow/pipelines/issues/3938 the corresponding config?

[2021-03-05 04:50] fahadh4ilyas commented on #336
Hi @Ark-kun ! I've been trying to recreate pipeline above using reusable component but it's not working. Could you please show me how?

This is what I'm doing
[code]

[2021-03-05 04:52] vsk2015 commented on #5161
@Ark-kun Sorry I messed up with my push. Here it is https://github.com/kubeflow/pipelines/pull/5246

[2021-03-05 06:24] deepk2u opened #5247 "dsl ResourceOp with parameterized manifest is throwing validation error"
### What steps did you take:
I am trying to pass the output of one step to resourceOp instead of the actual manifest

[code]

### What happened:
it throws following error during workflow validation

`Error: time="2021-03-04T22:09:12-08:00" level=fatal msg="/dev/stdin: templates.test-pipeline.tasks.train templates.train.resource.manifest must be a valid yaml"`

After checking the workflow manifest,

[2021-03-05 08:12] numerology commented on #5164
I think this can be hardly solved without TFX IV providing more flexible configuration options to expose authentication capability when running on a more complex deployment.

Maybe we shall port this to https://github.com/tensorflow/tfx ?

[2021-03-05 08:24] munagekar commented on #5159
@Ark-kun Thank you for your response.

# Usage Scenarios

- Changes in Image, without changes in code. Example changes to python packages in the image, Changing the python docker version, etc. End users of the components could be able to customize the docker image.
- For machine learning it is often necessary to ensure that the packages/versions used in training and serving are the exact same vers

[2021-03-05 08:56] ConverJens commented on #5164
@numerology @Bobgy @chensun This has already been raised and evaluated on the TFX side: https://github.com/tensorflow/tfx/issues/3257.

Do you think authentication is the issue here? If you believe the issue lies with the TFX IV component, please drop a line on the issue mentioned above and we can continue the discussion there.

[2021-03-05 10:05] riibeirogabriel commented on #4969
This error `tensorflow.python.framework.errors_impl.InternalError: Tensorflow type 21 not convertible to numpy dtype.` happens even using the `dump` method, converting to a binary file.

[2021-03-05 10:21] Bobgy commented on #5232
There are several images I'll need to generate license info, so I built a better tool to automate this: https://github.com/Bobgy/go-mod-licenses.

[2021-03-05 10:28] chensun commented on #5198
@HaozhengAN , I cannot reproduce this.

Can you maybe try again in a clean environment?

Here's what I did for your reference:
1. Create a new virtual environment
`python3 -m venv ~/venv/kfp1.4.0`
`source ~/venv/kfp1.4.0/bin/activate`
2. Install kfp 1.4.0
`pip3 install kfp==1.4.0`
3. Compile the pipeline file shown below
`python3 test.py`

[code]

[2021-03-05 11:00] HaozhengAN commented on #5198
I've just followed your steps. It can be reproduced stably when I execute Python 3 test.py  No exception is thrown, but in the test.py  Inside, exit_task2&nbsp; does not belong to Exithandler, so an error should be reported， but&nbsp; it's not.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Chen Sun"<notifications@github.com&gt;;
发送时间: 2021年3月5日(星期五) 晚上6:28
收件人: "kubeflow/pipelines"<p

[2021-03-05 13:34] DavidSpek commented on #4440
@MatheusPush Not sure if it is related, but the maximum Istio version for Cognito is 1.1 I believe.

[2021-03-05 17:28] rafaelalou opened #5252 "I can't get sorted runs based on a metric using the kfp python package"
### What steps did you take:
I am trying to get runs sorted on a particular metric using the kfp python package. I am calling the `list_runs` function and passing the `sort_by` parameter.
i.e. ```list_runs(sort_by='metric:accuracy_score asc')```

### What happened:
Getting the following error:
[code]

### Environment:

KFP SDK version:
kfp                                   1.4.0
kfp-pipeline-spec

[2021-03-05 22:15] #5181 closed

[2021-03-06 00:39] chensun commented on #5198
I see. sorry I misread your initial report -- I thought you unintentionally misplaced/swapped "what happened" and "what expect to happen".
I agree the error message you pointed to might be a bit misleading. But in fact what you see is the expected behavior.
We do allow extra ops outside exithandler scope just that you can have only one op used as exithandler task.

For example, you can see in our

[2021-03-06 15:15] DavidSpek opened #5254 "Pip package kfp 1.4.1 and kfp-server-api 1.4.0 missing"
While updating some images I noticed a discrepancy with the releases of `kfp` and `kfp-server-api` on PyPi. `kfp` 1.4.1 is not available on PyPi but `kfp-server-api` 1.4.1 is available. In turn `kfp` 1.4.0 is available and `kfp-server-api` 1.4.1 is not available. Is this intentional (were kfp 1.4.1 and kfp-server-api 1.4.0 never released) or has something gone wrong with pushing the package?

/cc

[2021-03-07 08:24] PatrickGhosn commented on #5048
Thank you. Yes we ended up using outputs.

[2021-03-07 08:24] #5048 closed

[2021-03-07 08:59] HaozhengAN commented on #5198
[code]
but  this will raise an error:

[code]

and the msg of valueError is:

[2021-03-07 16:24] DavidSpek commented on #5232
@Bobgy Just came across this, thought it would be relevant. https://blog.argoproj.io/argo-workflows-v3-0-4d0b69f15a6e

[2021-03-08 03:05] Bobgy commented on #5232
@DavidSpek thanks, rationale for choosing 2.12 was recorded in https://github.com/kubeflow/pipelines/issues/4553#issuecomment-768018127

[2021-03-08 03:23] Bobgy commented on #5232
Hmm, I just discovered https://github.com/github/licensed, it's written in Ruby, but it seems to support a wide range of languages and a robust workflow for working with licenses & cache.

[2021-03-08 05:39] albertshx commented on #651
Look forward to seeing this feature so we don't need AWS lambda or Cloud Function to chain relevant pipelines ~~ A big thank you ~~

[2021-03-08 06:53] chensun commented on #5198
Thanks! The last example shows inconsistence in the check is indeed a bug then.

Not sure if we want to enforce the check or remove the check though.

[2021-03-08 07:37] chensun commented on #5087
The pkgutil-style namespace packages was introduced to turn the existing package into a namespace package, so that [kfp-pipeline-spec](https://github.com/kubeflow/pipelines/tree/master/api/v2alpha1/python/kfp/pipeline_spec) can share the same namespace `kfp` while it's published as a separate package.

This has been working for non-bazel use case, so not sure if this might be a bazel issue.

Long

[2021-03-08 08:24] yuhuishi-convect opened #5257 "VolumnOp was not able to create PVC"
### What steps did you take:

A simple pipeline with one vol_op and one simple step that mounts the pvc created.

[code]

### What happened:
The VolumeOp was not able to create the PVC, therefore the depending task complains about not finding the PVC.
`kubectl get pvc -n kubeflow | grep sharedpvc` didn't return any results.

### What did you expect to happen:
The VolumeOp shall create a PVC named

[2021-03-08 09:41] chensun commented on #5178
If I'm not mistaken, this is usually due to new versions of dependencies not compatible with other existing dependencies. And that's a sign that we need to fix `setup.py` by adding upper limit restrictions to the dependencies. Using `requirements.txt` in test is not solving the underlying issue but hiding it.

The fact that many of the dependencies listed in kfp `setup.py` don't have the upper ver

[2021-03-08 09:53] Bobgy commented on #5232
I'm starting to notice some limitations of my approach:
* dev dependencies are pulled in as well -- this greatly increases number of licenses and their problems to deal with (but in fact they may not be in the binary).
* only supports repos using one single license (not yet seeing an exception)

[2021-03-08 14:04] alvercau commented on #3806
Hi

Any update on this? It's still not fixed, using version 1.2 now.

[2021-03-08 15:17] #5252 closed

[2021-03-08 17:00] NikeNano commented on #5193
/assign

[2021-03-08 18:52] boarder7395 commented on #5221
@neuromage I am curious about the inputUri, and outputURI. If it does what I think it does that could be the solution to my use case.

Ideal workflow:
Spark job read data from database, and then outputs to an outputURI in minio (aws:s3). The next component is the train component then takes in the outputURI but maps it to an inputPath so the argo wait container handles the download from artifact st

[2021-03-08 20:17] vaskozl commented on #5194
This works for me both on first and second runs:

https://github.com/kubeflow/pipelines/pull/5260

There is no `name` key if only one model evaluation is available (on the first run), hence the `.get` method and extra check.

[2021-03-09 00:50] Ark-kun opened #5263 "Postsubmit tests are failing"
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1368057462506131456
[code]

[2021-03-09 15:15] omlomloml commented on #4733
@yanniszark @DavidSpek  Hi guys, just want to clarify, I have a single user kubeflow setup, and I am trying to use kfp sdk inside the cluster, so do I only need to setup the ServiceRoleBinding from my current namespace? or do I also need to setup the Envoy filter? I wasn't sure what is the user name there since I am not using the notebook

Thanks

[2021-03-09 15:43] omlomloml commented on #4440
@yhwang Hi Yh, I have a single user kubeflow setup, in this case, what should be the value for kubeflow-userid

[2021-03-09 16:31] Bobgy commented on #5254
/cc @chensun

Recently, KFP sdk has been released in separate schedule than backend. There hasn't been enough communication about it.

Kfp-server-api 1.4.0 missing was a mistake, but I no longer see the need to release it when 1.4.1 is out.

[2021-03-09 16:58] Bobgy commented on #3806
/assign @chensun

[2021-03-09 17:30] yhwang commented on #4440
@omlomloml

It should be `anonymous@kubeflow.org`

[2021-03-09 18:14] omlomloml commented on #4440
@yhwang
Thank you so much!
@lukemarsden also provided slightly different work around at https://github.com/kubeflow/pipelines/issues/4440#issuecomment-700759162
 can you guys explain what is the difference between these to work arounds

Thanks

I am a newbee here

[2021-03-09 18:17] romanwozniak commented on #4555
Also interested in this. Is there any particular blocker/design decision on why `create_graph_component_from_pipeline_func` doesn't support many things that is possible to do in the pipeline itself?

For example:

[code]
results in
[code]

it is not even possible to explicitly set the dependencies between tasks in the graph component:

[code]
fails with:
[code]
Thanks!

[2021-03-09 18:29] raffaelespazzoli opened #5269 "userid propagation issue between pipeline services"
### What steps did you take:
I'm running a multiuser pipeline environment with kubeflow 1.2.0. From what I am seeing the `ml-pipeline-ui` service calls the `ml-pipeline` service when some actions on the ui are take like for example: start a pipeline run or create an experiment
 I'm getting this error on the ui:

[code]
and I can see this on the `ml-pipeline` pod log:
[code]
from what I understand

[2021-03-09 19:17] raffaelespazzoli commented on #5269
I'm also getting this error in the main landing page:
[code]
![image](https://user-images.githubusercontent.com/6179036/110525029-1fd5c680-80e2-11eb-9e1d-6b307bd7c6c4.png)

I think it's related to the same underlying root cause.

[2021-03-09 19:26] raffaelespazzoli commented on #5269
we can actually see that the userid header is propagated to the `ml-pipeline` service:
![image](https://user-images.githubusercontent.com/6179036/110526069-5cee8880-80e3-11eb-99ca-bff2a8a3061f.png)

any advice on what might be failing?

[2021-03-09 19:46] raffaelespazzoli commented on #5269
looking more at the issue and the code it looks like the code where the issue arise is here:
https://github.com/kubeflow/pipelines/blob/5445ce82c7cd79bd517565750f72cf6a893c8cee/backend/src/apiserver/server/run_server.go#L179

where `ReferenceKey` must be null. Looking at the function that is suppsoed to populate the value:
https://github.com/kubeflow/pipelines/blob/0795597562e076437a21745e524b5c96

[2021-03-09 19:56] #5263 closed

[2021-03-09 20:34] DavidSpek commented on #4440
@omlomloml Please read this comment as it also explains why these workarounds are not secure. The proper solution should be included in release 1.3 which is soon. https://github.com/kubeflow/pipelines/issues/4440#issuecomment-697317390

@yanniszark Is there anything more than needs to happen to solve this issue for 1.3? Or was everything regarding the SubjectAccessReview already merged?

[2021-03-09 21:47] Tomcli opened #5270 "parallelfor_item_argument_resolving test failed to run"
### What steps did you take:
Run the parallelfor_item_argument_resolving compiler test example on Kubeflow Pipeline, the pipeline will fail because item arguments are wrapped into list of list of items instead of list of items
https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/parallelfor_item_argument_resolving.py

### What happened:
The `func_to_container_op` wr

[2021-03-10 00:58] Bobgy opened #5272 "[Testing] kubeflow-pipeline-postsubmit-integration-test flaky 2021-3-10"
kubeflow-pipeline-postsubmit-integration-test has been failing consecutively.

I did a quick check, the following samples are both flaky:
* aiplatform
* container_build

Creating this issue to track solving this

/assign @zijianjoy

[2021-03-10 01:51] Bobgy commented on #5133
Fixed by #5256

[2021-03-10 01:51] #5133 closed

[2021-03-10 05:37] Ark-kun commented on #4592
Glad we were able to help.

[2021-03-10 05:37] #4592 closed

[2021-03-10 05:52] Ark-kun commented on #4749
This problem is pretty hard to solve partially due to the way Kubernetes works and how Argo works.
For this feature to work, the data needs to be stored somewhere the Kubernetes pods. The Frontend needs to be able to put the data there. Argo needs to be able to pull the data from there. The feature also needs to be supported in the SDK. Working with Kubernetes storage is pretty hard. You cannot ju

[2021-03-10 09:40] vit- commented on #4749
Is it possible to use artifact storage?
A stage output is stored in artifact storage and can be passed to another stage as a file path. Is it possible to change frontend in a way where it saves the user-provided file in the artifact storage and passes the path to the pipeline? I believe this should work seamlessly. Am I missing something?

[2021-03-10 09:42] Bobgy commented on #4553
Resolved by #5232.

Thank you for everyone who helped with this issue!
@NikeNano @alexec @xinbinhuang

[2021-03-10 09:42] #4553 closed

[2021-03-10 15:34] omlomloml commented on #4440
@yhwang @DavidSpek
Hi guy,
after I applied the binding and the filter I still can't get it work, did I do anything wrong, I am not using the notebook here, so I am adding the filter to all the workload

here is the bingding:
root@metis1-1:~# kubectl -n kubeflow get ServiceRoleBinding bind-ml-pipeline-metis -o yaml
apiVersion: rbac.istio.io/v1alpha1
kind: ServiceRoleBinding
metadata:
  annotations:

[2021-03-10 15:36] yanniszark commented on #4440
For people tracking this issue, the correct solution will come from issue: https://github.com/kubeflow/pipelines/issues/5138

[2021-03-10 15:43] omlomloml commented on #4440
@yanniszark in 1.3 release?

[2021-03-10 15:52] DavidSpek commented on #5138
@elikatsis @yanniszark If any help is needed so this can be added for 1.3 please let me know. I think a large portion of the community has been waiting for this a while now and it would be great to have it included in 1.3.

[2021-03-10 16:51] Bobgy opened #5276 "[Manifests] how to organize argo artifact repository config without duplication?"
## The problem

Realized the problem from https://github.com/kubeflow/pipelines/pull/5273.

Argo artifact repository config is highly coupled to minio, so it's best put inside minio's manifests and get it reused in manifests envs that use minio.

However, if we save the config as a patch, it's only allowed to use patches in the kustomization.yaml 's same or sub-folders. So if we do not include the

[2021-03-10 19:58] omlomloml commented on #5155
I was wondering about this too
does kfp have a Op which can start a container and just leave it there

Thanks

[2021-03-10 20:32] yuhuishi-convect opened #5279 "Python func component renames function arguments"
### What steps did you take:
Converting a python func to compoent:
[code]

In the generated component yaml
[code]

The argument `synced_local_path` is replaced with `synced_local`.
Therefore, when using the component as
[code]
Compiler complains that
[code]

### What happened:
The python func argument `synced_local_path` is renamed to `synced_local`

### What did you expect to happen:
The argument

[2021-03-11 05:38] chensun opened #5280 "Constructing dsl.ContainerOp instance directly in user code doesn't always raise the warning."
### What steps did you take:
Compile the following pipeline
[code]

### What happened:
No warning raised on using `ContainerOp` directly.

### What did you expect to happen:
Seeing the following warning:
[code]

KFP SDK version: 1.4.0

### Anything else you would like to add:
For comparison, compiling the following example raises the warning as expected.
[code]

/kind bug
/area sdk

[2021-03-11 05:39] chensun commented on #5280
/assign @chensun
/cc @Ark-kun

[2021-03-11 06:03] #5232 closed

[2021-03-11 06:13] chensun opened #5281 "Feature gap between `ContainerOp` and YAML component: hydra argument support"
Using `ContainerOp` to define component, users can use [hydra](https://hydra.cc/) arguments like shown below.
[code]

However, this is not easily achievable via YAML component. The following code results compile error when loading the component YAML.
[code]
This is because when we load and parse the YAML, `common.project_api_key={inputValue` is taken as a key of a dictionary, while `project_api_ke

[2021-03-11 06:54] Ark-kun commented on #5270
Good catch.
Some time ago the return value of the component function was not passed completely correctly. So the components had to whap output in a tuple when outputting a single list. The problem was fixed in the SDK, but the test was not updated.

[2021-03-11 07:36] amyxst opened #5282 "Unexpected behaviour given multiple optional inputs in component YAML"
### What steps did you take:
When an input param is given as `optional: True` in the component YAML, and the Python program uses a CLI library such as argparse or click to accept options, the optional params get passed as **flags** instead of as **omitted arguments** as expected.

Given a `component.yaml` file such as:
[code]

And `myprint.py` that was built into the image above:
[code]

### What

[2021-03-11 07:41] Ark-kun commented on #5280
Hmm.
Interesting. We had this issue before and @munagekar fixed it by changing the warning type from `DeprecationWarning` to `FutureWarning`. https://github.com/kubeflow/pipelines/pull/4658

It looks like that warning is still not show to the users even when we see it in tests.

[2021-03-11 08:00] Ark-kun commented on #5280
This is really weird. Unlike `DeprecationWarning`, `FutureWarning` should always be shown: https://docs.python.org/3/library/warnings.html#default-warning-filter

I can reproduce the behavior. I also see that when the warning is shown it's only shown once (in a Jupyter session).

[2021-03-11 11:53] Bobgy opened #5283 "[Testing] sample-test failing with unknown shorthand flag "-w""
See https://storage.googleapis.com/oss-prow/pr-logs/pull/kubeflow_pipelines/4147/kubeflow-pipeline-sample-test/1369916972707352576/build-log.txt in https://github.com/kubeflow/pipelines/pull/4147.

It seems after certain versions, argo CLI no longer have the `-w` flag. It directly accepts workflow name as a positional argument.

(Note, the code path is only triggered when a pipeline fails, after w

[2021-03-11 12:22] Bobgy opened #5285 "Orchestration - Flakiness in small samples when using PNS executor"
In https://github.com/kubeflow/pipelines/pull/5273, I switched to PNS executor by default. After that, it seems lightweight component sample fail more frequently than before.

(It failed 3 times consecutively in an example I found, but it seems to me that the last two failures should be fixed by https://github.com/kubeflow/pipelines/pull/5284, we can observe the actual flakiness rate after the cha

[2021-03-11 12:23] Bobgy commented on #5285
/assign @chensun @neuromage
/cc @Ark-kun @capri-xiyue

I think we need to discuss this problem, from KFP side, we could automatically mount emptyDir for users.

[2021-03-11 12:25] Bobgy commented on #5285
/cc @jessesuen @alexec
Do you have any suggestions? Is my above understanding of the workarounds accurate?

[2021-03-11 12:34] elikatsis commented on #5138
/assign @elikatsis

[2021-03-11 12:36] onetonfoot commented on #3308
Yeahh me as well, wouldn't be nice if you could use the minio server deployed with kubeflow as the bucket instead

[2021-03-11 14:52] andreclaudino commented on #4973
I am having exactly the same problem, but I fill the database username as `root`.

The biggest difference is that my cluster is deployed in us-central1.

[2021-03-11 17:08] jackwhelpton commented on #4708
I agree: if you're using a hosted service such as GitHub you're often at their mercy when it comes to the exact URI structure. The more I've thought about this, the more I like being able to define a URI template (RFC 6570), using `{tag}` and/or `{digest}`.

I'd propose this change as a PR, but at a quick look I couldn't see an RFC 6570 package as a dependency, and introducing new dependencies int

[2021-03-11 18:28] HassanOuda commented on #3405
Also, why is this line hardcoding S3 endpoint as the amazon endpoint? We have a different S3 instance not in Amazon and minio endpoint doesn't work.

[https://github.com/kubeflow/pipelines/blob/1577bdb41913613f6268366b6e6e20fdfddde693/backend/metadata_writer/src/metadata_writer.py#L89](https://github.com/kubeflow/pipelines/blob/1577bdb41913613f6268366b6e6e20fdfddde693/backend/metadata_writer/src/m

[2021-03-11 19:47] NikeNano commented on #5276
For long term 3 sound like the way to go.

[2021-03-11 19:48] elikatsis commented on #5138
@DavidSpek thanks for volunteering!
We actually have the code ready for a PR, and we've extensively tested it in our deployments.
I believe it would be really helpful if had the time to test the PRs (backend & client)!

Before I open the client PR I'll present some implementation details (we've described an overview in [the comment above](https://github.com/kubeflow/pipelines/issues/5138#issuecomm

[2021-03-11 19:53] DavidSpek commented on #5138
@elikatsis Thanks for the detailed post. I will look at it more closely tomorrow and do my best to help test the PRs.

[2021-03-11 19:56] elikatsis commented on #5138
@Bobgy, @DavidSpek I've opened two PRs :tada:

1. Backend: #5286
2. Client: #5287

[2021-03-11 22:06] #5270 closed

[2021-03-11 23:15] Ark-kun commented on #4555
There are two issues:
* Some of the features (loops) are not yet supported in the graph component spec
* Some features like conditionals exist in the spec, but are not exposed in the DSL.

Can you please tell me more about your scenario? Is it similar to @simanw304's? Do you just want to run a pipeline and wait for it to complete? What kid of pipeline with ParallelFor or condition you want to comp

[2021-03-12 00:12] #5161 closed

[2021-03-12 00:40] Bobgy commented on #5129
Hi, you can find frontend contribution guide in https://github.com/kubeflow/pipelines/tree/master/frontend,
and the create run page is implemented in https://github.com/kubeflow/pipelines/blob/master/frontend/src/pages/NewRun.tsx

[2021-03-12 00:54] Bobgy commented on #4971
This looks like a question to notebooks WG.
Transfering the issue
/cc @kubeflow/wg-notebooks-leads

[2021-03-12 01:00] Bobgy commented on #4953
Hi @kd303, this is expected behavior.
ui-artifact server and visualization server should run in user namespace.

You can customize https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py to suit your own needs (e.g. if you don't use the visualization server).

[2021-03-12 01:06] Bobgy commented on #5145
Duplicate of https://github.com/kubeflow/pipelines/issues/4321

[2021-03-12 01:07] #5145 closed

[2021-03-12 01:11] Bobgy commented on #5147
Hi @Adedolapo-Akin , looks like your KFP is not deployed in kubeflow namespace.
You can configure the namespace when using build_image_from_working_dir: https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.containers.html#kfp.containers.build_image_from_working_dir

[2021-03-12 01:11] #5147 closed

[2021-03-12 01:13] Bobgy commented on #5106
This is sth we are thinking about for KFP v2 UI

[2021-03-12 01:14] #5098 closed

[2021-03-12 01:16] Bobgy commented on #5095
@Jeffwan @XXXXIEHF Welcome contribution on this!

[2021-03-12 03:37] lynnmatrix opened #5288 "[Bug] KeyValueStore fails to check the cached data with new data"
Typo bug.

[code]
should be:
[code]

[2021-03-12 03:38] lynnmatrix commented on #5288
cc @Ark-kun

[2021-03-12 03:39] #5283 closed

[2021-03-12 05:01] Bobgy commented on #5285
Hmm, strange, I'm not seeing flakiness anymore

I'll keep observing this problem

[2021-03-12 09:20] ConverJens commented on #5164
@numerology Anything new on this?

[2021-03-12 11:00] NikeNano commented on #5234
I think:
[code]
is what you are looking for if you like to remove the underlying pipeline after if is finished for a specific pipeline, reference posted by Bobgy above will be for the all pipeline in the cluster. Docs can be found [here](https://kubeflow-pipelines.readthedocs.io/en/latest/_modules/kfp/dsl/_pipeline.html#PipelineConf.set_ttl_seconds_after_finished)

[2021-03-12 11:55] Bobgy commented on #5138
Hi @elikatsis! Thank you for the detailed design and PRs!
I think these are absolutely great work and I'll start looking at them right now.

However, despite that, I'm a little concerned that the design was only made public 5 days before Kubeflow 1.3 feature cut date -- March 15th. I think we agreed early on the rough direction, that was a good heads up, but it's not possible to discuss this fairl

[2021-03-12 12:00] andre-lx commented on #5234
Hi.

I had already tested this, but I tried again with both gpu and non gpu pods, with this config:

[code]

But nothing happen after the 20 seconds.

I am missing something?

Thanks @Bobgy and @NikeNano

[2021-03-12 12:16] #5094 closed

[2021-03-12 13:15] AiDataSciencer commented on #4667
The problem Idescribed in my previous comment has been resolved now. We created a service account and are using it for authentification.

Unfortunately we don't understand, why this fixed the initial problem, since using the gcloud auth worked for quite a while and sudenly stopped working for the kfp SDK even though we could still use the storage SDK to transfer data from local machines to google

[2021-03-12 13:33] Bobgy commented on #4667
@AiDataSciencer do you think it's a duplicate of https://github.com/kubeflow/pipelines/issues/5230?

[2021-03-12 14:16] AseiSugiyama commented on #5280
FYI, FutureWarning is only shown once outside of KFP SDK.

[code]

Not only on Jupyter.

[code]

[2021-03-12 14:45] #1779 closed

[2021-03-12 16:41] alvercau opened #5292 "Feature request: don't start run if obligatory parameters are missing"
/kind feature

**Why you need this feature**:
Currently it is possible to start a run even if some parameters that are obligatory in a step, are missing. It would be easier to have the option to make some parameters obligatory to begin with (just like pipeline, pipeline version, run name, experiment), making it impossible to start a run if these obligatory parameters are not passed. This would avo

[2021-03-12 17:15] munagekar commented on #5280
This is the usual behavior with python warnings. Warning in a loop get called once only.

https://docs.python.org/3/library/warnings.html#default-warning-filter
This is correct, however this is not a python issue.

I have investigated this further, the reason the compiler doesn't produce the warning is because the code doesn't in the first case does not reach the warning. The attached screenshot e

[2021-03-12 22:09] Ark-kun commented on #5281
Are you sure that hydra does not support the normal way of specifying command-line arguments that 99% of other command-line tools use (separating flag and value, instead of joining them with `=`)?

In any case, the `ComponentSpec`/`component.yaml` format supports such command lines via the `concat`: placeholders:

[code]

So we have a limitation here that a placeholder like {inputValue: project_ap

[2021-03-12 22:36] elikatsis commented on #5138
@Bobgy thanks for putting time on this!

Your concerns are totally valid and understandable. We agree it is very close to the first RC and this may be a bit pressing.

Indeed, this is an advanced feature. However, most of the changes we had already discussed due to the joint talk you had with @yanniszark.

That's why we expect the backend changes to be unsurprising.
As far as the client is concern

[2021-03-13 01:59] aoen opened #5295 "Feature Request: Enable custom runtime parameters from user transforms"
We are trying to use KFP's [ScheduledTime] parameter in TFX Pipelines runtime parameters. [We have discussed](https://github.com/tensorflow/tfx/issues/3354) with @1025KB from the TFX project and he suggested we file this ticket to enable this functionality on the KFP side by allowing users to be able to specify transforms on KFP runtime parameters like [ScheduledTime], and have these transformed v

[2021-03-13 03:26] #5214 closed

[2021-03-13 05:35] Ark-kun commented on #5159
Fair point. But the same is also true about components. For reproducibility you need a strict component version linking to a strict container image version.

What instantiate a component, you get a task object. The task object is ContainerOp, which has `.container` property which allows you to configure any Kubernetes container properties (`image`, `resources`, etc).

So, you can tweak the contain

[2021-03-13 09:44] munagekar commented on #5159
[code]

This seems is reasonable and elegant solution for component users who have specific requirements. The scenarios I mentioned are rare and may be it is not worthwhile to build a compiler feature for this, especially when it is possible to override the image trivially.

[2021-03-13 09:44] #5159 closed

[2021-03-13 10:01] #4099 closed

[2021-03-13 12:41] Bobgy opened #5296 "[sdk] KFP SDK fail to use argo CLI >=2.12 to lint workflows"
### What happened:
After https://github.com/kubeflow/pipelines/pull/5266, I noticed in tests, the warning

### What did you expect to happen:

KFP SDK can use latest argo CLI to validate workflows locally.

### Environment:

KFP SDK version: 1.4.0

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind bug

/area sdk

The root cause seems

[2021-03-13 12:42] Bobgy commented on #5296
/assign @Ark-kun @chensun

[2021-03-13 14:48] NikeNano commented on #5234
I tested the following pipeline:

[code]

Watching the kubeflow namespace for the pods:

[code]

I could confirm that the pods where deleted ~20 seconds from completion. Also checked removing the line:

[code]
which resulted in that the pods where not deleted.

Could you @andre-lx  share your version of `kubeflow pipelines` and a full example where it is not working for you so I can try to reprodu

[2021-03-14 06:37] numerology commented on #5164
/assign @chensun
/assign @neuromage
to see what's the best direction on this one.

I still believe TFX IV needs to expose certain k8s specific configuration in order to make this happen but perhaps KFP can also have a KFP-native 'InfraValidator' to dry-run an output model?

[2021-03-14 11:46] romanwozniak commented on #4555
One use case I'm evaluating at the moment is packaging multi-step pipelines as a separate component, that can be used in another pipeline. For example, the pipeline I'm thinking about packaging as a component is something like:
- Step 1.  use `ResourceOp` to create a Spark cluster (dataproc)
- Step 2. Submit a pyspark job into that cluster and wait for the job completion
- Step 3. Clean-up resourc

[2021-03-15 01:54] Bobgy commented on #4768
I believe blockers on KFP side has all been resolved by @james-jwu.
Thank you!

[2021-03-15 01:54] #4768 closed

[2021-03-15 06:21] AseiSugiyama commented on #5280
Thank you for clear explanation. We are facing this issue and want to solve it.

Let me try to fix this issue, I'll create PR.

[2021-03-15 08:15] AiDataSciencer commented on #4667
It is indeed. It solved the problem for me. Thanks for refering to #5230.

[2021-03-15 08:18] AseiSugiyama commented on #5280
I created PR https://github.com/kubeflow/pipelines/pull/5299

[2021-03-15 08:19] Bobgy commented on #5138
@elikatsis thanks I just realized the RC cut delay, I'm glad we get some more breath on this feature.

Makes sense, so I'd frame the discussion around common things we agree on, would you mind splitting your PR as smaller ones , so that we can approve the ones we fully agree on right now first for the RC?

and I've got very good context on the backend part based on previous discussion with Yannis,

[2021-03-15 08:31] #4667 closed

[2021-03-15 10:44] andre-lx commented on #5234
Hi @NikeNano. Thanks for the full example. I also tried with that example, and it didn't work. The only thing I added is the part of compiling and running the pipeline.

[code]

After that, the pipeline run successful:

![image](https://user-images.githubusercontent.com/44682155/111140363-2a78db80-857a-11eb-9550-7be0e8eed67a.png)

But the pods didn't get deleted:

[code]

I can also see the "flag"

[2021-03-15 13:06] SaschaHeyer opened #5302 "Kubeflow / AI Platform Pipelines component visualization missing"
### What steps did you take:

1. run the pipeline (visualization is rendered)
2. run the pipeline again (visualization is missing)

### What happened:
On the second run, the StatisticsGen component has missing static HTML and metadata.
This issue can be reproduced only if the run output is taken from the cache.

Runs not taken from cache work as expected.

I assume this is an issue related to the

[2021-03-15 13:10] SaschaHeyer opened #5303 "Kubeflow / AI Platform Pipelines runtime context missing when output is taken from cache"
### What steps did you take:

1. deploy pipeline with one component
2. run pipeline with one component (👍 works)
3. add another component
4. run the pipeline (this time the output is taken from cache) (👎 fails)

### What happened:
The pipeline runs into the following error
[code]
Assume the second component doesn't find the cached data because the component did not exist in the first run.

First r

[2021-03-15 13:48] ulrikpl commented on #3806
This issue is still not fixed in KFP 1.4. So far I have gotten around it by using decimal notation in quotes. It doesn't seem to matter that component.yaml still describes the argument as 'Float'

(pipeline.py -> pipeline.yaml)
5e-04 -> 0.0005 (works)
5e-05 -> 5e-05 (fails)
'5e-04' -> 5e-04 (fails)
0.00005 -> 5e-05 (fails)
'0.00005' -> 0.00005 (works)
5e-05 -> 5e-05 -> '5e-05' (works) [last step i

[2021-03-15 14:37] Amrit-Mann opened #5304 "ML-Engine deploy model component missing region parameter"
Hi,
I am using the ml-engine component to deploy a ML model to AI Platform Prediction (from a Kubeflow deployment in AI Platform Pipelines), however there is no available parameter to deploy the model into a particular region. This results in the model deployment defaulting to the us-central1 region. Is there any way to deploy a model using this component to a specific region?
Any help on this wil

[2021-03-15 17:57] #5281 closed

[2021-03-15 17:58] Ark-kun opened #5305 "Better document the "concat" and "if" placeholders"

[2021-03-15 17:59] Ark-kun commented on #5281
The customer has verified that the `concat` solution works. I've created and issue to improve the `concat` placeholder documentation: https://github.com/kubeflow/pipelines/issues/5305

[2021-03-15 21:58] chinhuang007 opened #5306 "E2E-mnist sample not up-to-date with Katib launcher"
### What steps did you take:
Run the e2e mnist notebook

### What happened:
Got TypeError: Katib - Launch Experiment() got an unexpected keyword argument 'parallel_trial_count'
Trying to execute
[code]

### What did you expect to happen:
Not throwing an error

### Environment:
kubeflow 1.2

How did you deploy Kubeflow Pipelines (KFP)?
part of kubeflow 1.2 on IBM cloud

KFP SDK version:
kfp

[2021-03-16 00:07] Ark-kun commented on #5285
I see postsubmit flakyness. https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1371547567694811136

[2021-03-16 00:45] summerisc opened #5307 "pipeline cannot read data from pvc"
More like a question kind
Currently, I have a pipeline contains a op like:
[code]
I have a pvc called flow-test already bound
![Screen Shot 2021-03-15 at 8 43 41 PM](https://user-images.githubusercontent.com/21230663/111239233-22975680-85cf-11eb-96c7-bbeaf743b7cf.png)

When I run:
`client.create_run_from_pipeline_func(test_pipeline, arguments={'input_path': '/mnt/data', 'output_path': '/'}, namesp

[2021-03-16 10:50] omarzouk commented on #4667
Hi, this has happened again, getting 403s again in `us-central1`

[2021-03-16 11:04] Bobgy commented on #4667
Hi @omarzouk, did you check https://github.com/kubeflow/pipelines/issues/5230?
That's latest issue to track this.

[2021-03-16 11:10] omarzouk commented on #4667
@Bobgy that worked, thanks a lot!

[2021-03-16 15:35] Bobgy commented on #4973
Hi @andreclaudino, can you try to inspect logs from the cloudsql proxy pod? It should give us more info to identify the root cause

[2021-03-16 16:54] kolakows commented on #1901
Works Kubeflow 1.2.

@saltazaur, at first I tried `foo: List[str]`, only after I realized that's yet unsupported generic list. `foo: list` correctly passed items in list.

[2021-03-16 18:14] #5095 closed

[2021-03-17 07:35] Bobgy commented on #5285
I'll revert back to docker as default for current release, but we should evaluate possibility of mounting emptyDir volumes for artifact paths for users.

[2021-03-17 16:40] zijianjoy opened #5315 "[frontend] Make clickable items styling distinguish from non-clickable items"
### Issue description
Discussion: https://github.com/kubeflow/pipelines/pull/5311#pullrequestreview-613890507

We received report from users that the clickable items on Artifact list page are hard to discover, because they are grey color. You can only discover that they are clickable when you hover over to that item, which will turn the buttons into blue and underlined. But they are actually darke

[2021-03-17 16:45] zijianjoy opened #5316 "[frontend] Add pagination to Artifact list"
### What is the issue

Discussion: https://github.com/kubeflow/pipelines/pull/5311#pullrequestreview-613890507

It is hard to scale when there are many artifacts to show on [Artifact list](https://github.com/zijianjoy/pipelines/blob/master/frontend/src/pages/ArtifactList.tsx). We should implement something that API can accept pageSize and pageToken like [listPipelines](https://github.com/zijianjoy

[2021-03-17 20:17] zijianjoy commented on #5272
For aiplatform, here is a sample of test failure log:

[code]

[2021-03-17 20:53] prasadkyp7 opened #5318 "PIPELINES CRASHING"
When i run many pipelines from kubeflow UI. some of the pipelines are crashing with the error statement "This step is in Failed state with this message: failed with exit code 137". I think that this is a out of memory error. when we investigated from kubernetes side , we see that all the pipelines are running on a single node. Even though if we have enabled autoscaling between the nodes for kubefl

[2021-03-17 21:00] zijianjoy commented on #5272
Possible related: https://github.com/kubeflow/pipelines/blob/master/samples/core/ai_platform/ai_platform.ipynb

[2021-03-18 00:22] Ark-kun commented on #5221
Most of the UX features currently do not support volumes. Most Kubernetes volumes can only be mounted to a single Pod at a time, so if the frontend or backend pod mounts the volume, it cannot be mounted to other pods for reading or writing.
The volume is not mounted to frontend or backend, so the UX cannot visualize the data in volumes, be it the volume data-passing method or the VolumeOp or manua

[2021-03-18 00:30] Ark-kun commented on #5318
Are you sure this is the case? KFP compiler creates and Argo Workflow object and Argo controller just creates Kubernetes Pods. Do you see anything strange with the pods that Argo creates? Perhaps the pods are not allowed to be scheduled on the auto-scaling node pool.

[2021-03-18 02:03] Tomcli commented on #5306
This example is no longer maintained in this repo. I tried to fix it for kubeflow 1.0 at https://github.com/kubeflow/pipelines/pull/4126 a while ago, but seems like the original author is no longer active

[2021-03-18 02:23] fahadh4ilyas opened #5321 "Envoy proxy is NOT ready on ml-pipeline-ui and ml-pipeline-visualizationserver"
### What steps did you take:
[A clear and concise description of what the bug is.]

I'm just installing Kubeflow with kfctl_istio_dex.yaml config in my Kubernetes local cluster following [this instruction](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/). Every pods are running successfully except `ml-pipeline-ui` and `ml-pipeline-visualizationserver`. The containers are running and rea

[2021-03-18 05:27] Bobgy commented on #5272
it was because of argo pns executor, after reverting back to docker executor the first postsubmit succeeded

[2021-03-18 05:29] Bobgy opened #5322 "[UI] visualization of failed pipelines inaccurate after upgrading argo"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:
It seems there was a change that all skipped nodes in the pipeline are also added to workflow status, so they also render in KFP UI now. However, it doesn't show properly.

TODO: I'll upload a screenshot and give an example here.

### What did you expect to happen:
The skipped nodes should either

[2021-03-18 05:29] Bobgy commented on #5322
/cc @zijianjoy

[2021-03-18 05:30] Bobgy commented on #5272
ohhh, you are right. There's another flakiness in aiplatform sample. keep this open

[2021-03-18 05:47] #3513 closed

[2021-03-18 08:20] elikatsis commented on #5316
Hello!

There are two old issues about this, so let's link to them:
* https://github.com/kubeflow/pipelines/issues/3226
* https://github.com/kubeflow/pipelines/issues/3731

Moreover, to fix this I suggest we rely on existing pagination support of the backend, thus making the the UI backwards compatible.

1. KFP manifests deploy MLMetadata version 0.25.1 ([source](https://github.com/kubeflow/pipeli

[2021-03-18 08:30] Bobgy commented on #5138
For clarification, I'm prioritizing reviewing the backend PR, because it's a blocker of release. The SDK PR can be released after Kubeflow release, because users can easily upgrade the SDK at any time, and there's very little coupling to the server.

[2021-03-18 09:01] Bobgy commented on #5316
Yes, the original plan was to support pagination when backend supports that. And the backend support has already been released as @elikatsis pointed out.

Suggest close either this issue or the existing issue, so that we do not have two threads for the same topic

[2021-03-18 09:12] Windrill opened #5324 "Kubeflow pipeline cannot get graph and state of a run"
This is a deployment of Kubeflow on Kubernetes. Previously, Kubeflow was running fine. From one day, all newly created runs cannot get any other status than 'Unknown'. Inside the run, the 'Graph' tab is stuck at loading forever. Run outputs stay at none, and the 'Config' tab shows everything as expected.

From the Argo UI, every run is still functioning correctly, and the logs and artifacts are ac

[2021-03-18 10:53] DavidSpek commented on #4682
@Bobgy Any update how Renovate has been working out? Or has everybody been to busy with the upcoming release to go through the dependency updates?

[2021-03-18 10:57] DavidSpek commented on #5223
@Bobgy Just dropping in here quickly as I came across the issue. I think what @yanniszark is said is just that deployment with `kfctl` is not being supported by Arrikto for 1.2. I believe the Dex part is still included in this though (as one of the OIDC provider options). Please correct me if I am wrong.

[2021-03-18 11:00] DavidSpek commented on #5254
Thanks for confirming this. This is something I wanted to clear up for the new Notebook images. Are you expecting to release new versions before the release still?

[2021-03-18 11:12] Bobgy commented on #4682
Yes, everyone has been busy.
I tried the batch patch upgrade, but some typescript changes need manual fix. So I was stuck there.

Will try to resume after release.

Anyway, I feel that the dashboard is very helpful. It allowed us to integrate at our own pace.

[2021-03-18 11:17] DavidSpek commented on #4682
Is there a way to allow repository owners (or rather people listed in the OWNERS file) to edit issues? For `kubeflow/kubeflow` the Dependency Dashboard would only serve as an overview, but the ability to need to approve a PR in the dashboard before it is created is lost otherwise.

[2021-03-18 11:21] Bobgy commented on #5254
@chensun do you have a suggestion for David?

[2021-03-18 11:22] Bobgy commented on #4682
I think the plan is to move notebooks code to kubeflow/notebooks repo, where they can get write permission

[2021-03-18 11:25] DavidSpek commented on #4682
Great, the way I had envisioned the management of the notebook images relies heavily on Renovate and setting that up without the Dependency Dashboard approval feature complicates things a lot as you can image.

[2021-03-18 11:35] Bobgy commented on #5221
Agree with that. It aligns with the existing feature in https://github.com/kubeflow/pipelines/blob/master/docs/config/volume-support.md

[2021-03-18 13:00] philwinder commented on #4972
Still happens for me too, using dex. https://github.com/kubeflow/pipelines/issues/3763#issuecomment-628379351 worked for me. So this indicates some kind of race issue.

[2021-03-18 13:13] AntPeixe opened #5328 "New API to get Pipeline ID from it's name"
/kind feature

**Why you need this feature:**
Right now it isn't possible to (easily) get the pipeline ID by it's name. When creating a new pipeline it may happen that a name already exists and the POST request returns an error. I'd like to be able to then get ID of such pipeline using it's name.
I think currently there is a workaround by getting all pipelines and the filtering from the list of re

[2021-03-18 13:24] DavidSpek commented on #4972
@Bobgy I think “istio-dex” might just be synonymous for multi-user installations, it might not be directly related to Dex.

[2021-03-18 13:55] prasadkyp7 commented on #5318
Yes, I think Argo Controller is creating all the pods for pipelines under a single nod. so stressing a single nod is killing the pods.
why Argo Controller is putting all the pods under a single node. if so , how can we change that while creating the pipeline using pipeline compiler

[2021-03-18 14:11] maganaluis opened #5329 "Database Connection Errors"
### What steps did you take:

We recently switched from using the MySQL database that Kubeflow Pipelines comes with, to a managed database on Azure. We started observing errors such as the one below, the errors are not consistent but they do happen often enough to impact our workloads.

I have not been able to replicate the issue outside of Kubeflow, more specifically this ```unexpected EOF``` err

[2021-03-18 17:38] zijianjoy commented on #5316
Thank you @elikatsis and @Bobgy for the reference! It makes sense to change client since metadata has already supported pagination. I will close this issue here. Since we have linked this issue to the previous ones, we can find the reference for our decision on making client changes for supporting pagination.

[2021-03-18 17:38] #5316 closed

[2021-03-18 22:20] Ark-kun commented on #4969
Closing this issue since this is a Tensorflow issue unrelated to Kubeflow Pipelines.
Please file a bug for the Tensorflow team.
Thank you.

[2021-03-18 22:20] #4969 closed

[2021-03-18 22:45] Ark-kun commented on #5280
Oh my! Thank you for the great investigation.

[2021-03-19 00:33] Ark-kun commented on #5307
I'm not sure this is related to Kubeflow Pipelines. Have you checked how the created pod looks like? You can also replace the command with `sleep 9999` and then use `kubectl exec` to probe and debug the pod.

We advice our users to avoid using volumes directly (and creating ContainerOp directly as well).

[code]

Is there a reason this won't work for you?

If the data is too large for the standard

[2021-03-19 00:48] zijianjoy commented on #5329
Thank you for the suggestion @maganaluis ! It makes sense to change the lifetime for DB connection, and make it configurable. Welcome to contribute this feature!

[2021-03-19 00:52] zijianjoy commented on #5328
Thank you @AntPeixe for this suggestion! Currently we are able to filter by pipeline name, but we might need to take an action to give some examples about how to use it, and improve reference documentation.

[2021-03-19 01:01] Bobgy opened #5333 "[Doc] Operator best practices doc"
We are missing some doc to introduce how to configure KFP to run stably in a production environment.

[2021-03-19 01:06] Bobgy commented on #5321
Duplicate of https://github.com/kubeflow/pipelines/issues/5223

[2021-03-19 01:06] Bobgy commented on #5321
No one maintains Kubeflow 1.2 istio-dex distribution

[2021-03-19 01:06] #5321 closed

[2021-03-19 01:06] zijianjoy commented on #5306
cc @andreyvelich : What is the current status of this component? Should we perform a fix or remove this example?

[2021-03-19 01:07] Bobgy commented on #5223
You are right, I was only referring to the distribution

[2021-03-19 01:14] Bobgy commented on #5324
Duplicate of https://github.com/kubeflow/pipelines/issues/3763

[2021-03-19 01:14] Bobgy commented on #5324
Can you confirm?

[2021-03-19 01:20] zijianjoy commented on #5295
We currently have the following support for time formatting: https://github.com/kubeflow/pipelines/blob/0795597562e076437a21745e524b5c960b1edb68/backend/src/crd/samples/scheduledworkflow/parameterized.yaml#L29-L33.

Does it fit your use case?

[2021-03-19 01:24] zijianjoy commented on #5288
Thank you @lynnmatrix ! This bug makes sense and would you like to contribute a PR for the fix?

[2021-03-19 01:57] Windrill commented on #5324
Confirmed this fixes the issue
`kubectl delete pod ml-pipeline-persistenceagent-xxxxxxx-xxxx -n kubeflow`

Also observed that the persistence-agent was looping over an old copy of pipelines possibly from a previous deployment of Kubeflow on Kubernetes that has already been reset by kubeadm on the same machine.

After the restart, the correct pipelines are being read correctly and the status of new

[2021-03-19 02:15] andreyvelich commented on #5306
Thank you for mentioning me @zijianjoy.
Yes, I have plans to refactor e2e mnist example with the new launchers for Katib, KFServing and TF-Operator.
I want to make it after the Kubeflow 1.3 release.

/assign @andreyvelich

[2021-03-19 02:55] casassg commented on #5295
Hi @zijianjoy  tried exploring the documentation.

Let me provide a deeper detail:
- We are looking to parametrize our TFX pipeline to pick up ScheduledTime so that it runs on the correct partition for that run. - For that, we need some way to extract days since epoch (which is what TFX defines as `span`  as seen [here](https://github.com/tensorflow/tfx/blob/v0.28.0/tfx/components/example_gen/util

[2021-03-19 02:58] Bobgy commented on #5324
Thanks for the confirmation, if you have additional information how this situation could happen, please comment on #3763, that will be very helpful. I could not reproduce it any more.

I am closing this issue to allow all discussion happen in the same thread

[2021-03-19 02:58] #5324 closed

[2021-03-19 03:40] Bobgy commented on #5322
Example pipeline

[code]

[2021-03-19 03:41] Bobgy commented on #5322
However, here is the pipeline visualization of the failed pipeline

![image](https://user-images.githubusercontent.com/4957653/111728523-fec26200-88a7-11eb-8ecd-d8c4508af8f5.png)

Expected: there should be no unfinished sign after the last step

[2021-03-19 04:10] #5296 closed

[2021-03-19 04:10] #4775 closed

[2021-03-19 05:38] Bobgy commented on #4972
Duplicate of https://github.com/kubeflow/pipelines/issues/3763

[2021-03-19 05:38] Bobgy commented on #4972
Let's concentrate discussion on the canonical issue then

[2021-03-19 05:39] #4972 closed

[2021-03-19 06:40] rexshang opened #5335 "kubeflow pipelines recurring run fails intermittently due to minio service"
### What steps did you take:
I'm running kubeflow 1.0.4 in GCP.  There is a recurring job that runs every 15 min.  It would fail about 1 time a day and generate the following error.  Does anyone have any pointers to help me troubleshoot?

### What happened:
"time="2021-03-18T04:55:22Z" level=warning msg="Failed to put file: Get http://minio-service.default:9000/kubeflow-artifact/?location=: dial t

[2021-03-19 07:09] ConverJens commented on #5164
@numerology But is this really an authentication issue, though? IV tries to spawn a pod using the python k8s client but that fails with above message.  It seems as when IV tries to create the new pod, the istio sidecar tries to forward to KFs webhook but that fails. I'm not certain but this doesn't seem to be because lack of authentication. Perhaps it's simply that the SA default-editor lacks suff

[2021-03-19 10:30] elikatsis commented on #5138
I had totally missed these comments :scream:

We've merged the backend now, I hope you are good with this and did not hesitate asking me to split some commits. Next time feel free to explicitly ask for things like that during the review!

These sound like very good ideas. However, maybe we want an explicit way to declare something like "allow _this_ pod to have access to KFP, but not _this_ one".

[2021-03-20 07:37] NikeNano commented on #4752
@Bobgy after looking further in to this it seems possible to get similar(not exactly the same in terms of parallism restrictions between backfilling and runing cronjobs) behaviour as we have today for scheduled jobs using argo `cronjobs` and `workflowtemplates` for backfilling logic. However also setting it up for `tekton` seems to be a different story. How do we go about these things, do we need

[2021-03-20 12:08] NikeNano commented on #5234
I can not recreate this issues @andre-lx, I am running Kubeflow pipelines 1.3 as well but get the pods get killed. In between different attempts it take some time(minutes extra when I try it out).

Complete example:
[code]

[code]

I run this on a minkube cluster, using the following set up with commit c484cfa46cfae1e9d11b5d00e0799b8e52c15e33, instructions can be found here; https://github.com/kub

[2021-03-20 13:35] DavidSpek commented on #5254
I'm now running into a dependency issue when installing the latest `kfserving` package (0.5.1) and `kfp` 1.4.0: `kfp 1.4.0 requires kubernetes<12.0.0,>=8.0.0, but you have kubernetes 12.0.1 which is incompatible`

It would be nice to have this solved so the latest packages can be installed in the notebook images.

[2021-03-20 13:57] Bobgy commented on #5254
/assign @chensun

[2021-03-20 15:21] DavidSpek commented on #5138
@elikatsis Does it make sense to integrate the PodDefault you shared above with the notebook controller to make the user experience more seamless? I believe this would be the best way to solve [this](https://github.com/kubeflow/pipelines/issues/4440) long standing issue.

[2021-03-20 16:41] midhun1998 opened #5343 "KFServing component missing request timeout support"
/kind bug
/kind feature

Hi. Recently the KFServing component for the pipeline was updated to v0.5.1 supporting v1beta1 API. This component is still missing the `timeout` field in PredictorSpec which specifies the number of seconds to wait before timing out a request to the component. A couple of issues were raised in this regard:
- [https://github.com/kubeflow/kfserving/issues/892]( https://githu

[2021-03-20 16:42] midhun1998 commented on #5343
Bump @pvaneck

[2021-03-20 17:28] andre-lx commented on #5234
Thanks for the quick response.

I'm doing a few debug around the workflow and the pipelines code. And I notice a few things, that can maybe help solving my issue.

Changing the default value in the persistenceagent deployment, it works well, the pods are deleted after the 20 seconds for example:

https://github.com/kubeflow/pipelines/blob/19830416e77e2e9327e5865dc54da088cc73f55b/manifests/kustomiz

[2021-03-21 14:30] Bobgy commented on #5138
No worries, the backend PR LGTM. I was mostly talking about concerns for the sdk PR.

I'd prefer adhering to the standard RBAC model. Each Pod has access to a service account, while we add RBAC rules to control what one service account can do. I worry the addition of choosing which pods can have access to KFP api is introducing an unnecessary abstract layer.

[2021-03-22 03:38] xybuty opened #5347 "failed to save outputs: fork/exec /usr/local/bin/docker: exec format error"
### What steps did you take:
[A clear and concise description of what the bug is.]
**I upload a pipeline to load data,the function's code like this**
![image](https://user-images.githubusercontent.com/44302306/111936955-b605e580-8b01-11eb-9d30-e1f306cd0c65.png)
**Dockerfile**
![image](https://user-images.githubusercontent.com/44302306/111937036-e8afde00-8b01-11eb-8457-8676e254dd18.png)
And the pip

[2021-03-22 05:56] TrsNium opened #5348 "ScheduledWorkflow is not deleted along with RecurringRun"
### What steps did you take:
Removed Recurring Run via python's KFP package.
(The Recurring Runs to be deleted are all those associated with a particular Experiment.)

### What happened:
The job information of the RecurringRun were removed from mysql, but the ScheduledWorkflow (CRD) was not removed.

### What did you expect to happen:
Both the job information of the RecurringRun on mysql and the S

[2021-03-22 07:00] Bobgy commented on #1654
/reopen
Due to https://github.com/kubeflow/pipelines/issues/5285, we reverted default to docker executor for current release.

We need to stabilize PNS executor preparing for the next release.

[2021-03-22 07:29] Bobgy commented on #4660
I just bump into this problem when implementing https://github.com/kubeflow/pipelines/pull/5337.

Even after KFP SDK supports dynamic task display name, KFP UI is not supporting it yet. After some quick investigation, I believe it's a little hard to implement, based on our current architecture.

1. KFP SDK puts dynamic task display name as an annotation on Pods
2. KFP UI loads argo workflow status

[2021-03-22 07:39] tkislan opened #5350 "Dashboard page crashes when entering invalid value into Recurring run "Start time" input"
/kind bug

**What steps did you take and what happened:**
<img width="634" alt="image" src="https://user-images.githubusercontent.com/5370798/107193399-1a0b9900-69ef-11eb-839b-64c803abe362.png">

When I select whole value in the text input, and press "1" (meaning that I want to write full time by hand), the whole page crashes, and only top banner and white page is displayed

<img width="1440" alt=

[2021-03-22 15:37] tiru1930 opened #5353 "kfserving pipeline deployment is failing with below error"
[code]

[2021-03-22 16:58] zijianjoy commented on #5272
Regarding `container_build`:

Error message is as followed:

[code]

Suspecting it has something to do with backend not able to return the experiment in request, or this experiment doesn't exist.

[2021-03-22 18:28] pvaneck commented on #5353
Can you provide more info such as sample pipeline code that prompts the error and the version of KFServing you have installed?

[2021-03-22 19:47] pvaneck commented on #5343
Just a note that any of the PodSpec fields can be used with the component if you pass in yaml directly:
[code]

However, I'd be open to having timeout be an actual arg of the component as it seems to be a field that may be commonly used.

[2021-03-22 20:12] boarder7395 commented on #5221
The proposed solution makes sense to me at first glance but one issue I’m having trouble understanding is if we’re using NFS volumes for artifact storage wouldn’t that mean we need to provision enough storage to hold all artifacts? For an example scenario imagine an average pipeline uses 1.5TB of data, and our users are running 15 experiments daily. In this case the daily required FSx storage woul

[2021-03-22 20:34] chensun opened #5355 "03/22/2021 Presubmit kubeflow-pipelines-tfx-python36 failing"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5349/kubeflow-pipelines-tfx-python36/1373883178296545280

Looks like the error is caused by bazel version:
[code]

We'll try update bazel here: https://github.com/kubeflow/pipelines/blob/053d62e80f99a34f66b5d4035d425aed8df6c8a9/test/presubmit-tests-tfx.sh#L36

[2021-03-22 20:52] zijianjoy opened #5358 "[frontend] Upgrade Argo UI template to match original content"
We have upgraded backend to use newer Argo version `2.12.9`:https://github.com/kubeflow/pipelines/pull/5266. Based on https://github.com/kubeflow/pipelines/pull/5339#discussion_r598079077, we need to make sure we are also updating other contents in `/kubeflow/pipelines/frontend/third_party/argo-ui/argo_template.ts` to match https://github.com/argoproj/argo-workflows/blob/80b5ab9b8e35b4dba71396062a

[2021-03-22 23:43] #5355 closed

[2021-03-23 00:55] Ark-kun commented on #5347
I think the main reason for the error is that you're not using full paths in `file_outputs`. The system cannot find those files.
Can you try specifying the full paths everywhere?

Additionally I see couple of other issues (although they should not be leading to errors).

* Directly constructing `ContainerOp` objects is deprecated. Please create components in `component.yaml` format. Its very easy

[2021-03-23 01:08] Ark-kun commented on #5347
I've tried to recreate your case using the best practices:
[code]

[2021-03-23 01:21] Ark-kun commented on #5347
I've tried to recreate your case using the best practices:

[code]

[2021-03-23 02:22] lynnmatrix commented on #5288
@zijianjoy,  My colleague @michaelliqx has fixed it in PR #5290.

[2021-03-23 04:26] tiru1930 commented on #5353
[code]

kfserving  0.5.1

[2021-03-23 06:25] xybuty commented on #5347
Thank you so much for your reply,I‘m trying to figure out the difference between our code.
**And I have another question:how to point  kfp_endpoint?**
My KF-cluster is deployed on two local virtual machines,I wrote code in the local python environment and upload it to the cluster through the UI interface;How should I point  the kfp_endpoint?
The master node'ip is 192.168.52.10,the svc state like t

[2021-03-23 06:26] Bobgy commented on #4752
Good point.

@Tomcli @animeshsingh may I hear your thoughts on this issue?

[2021-03-23 07:50] NikeNano commented on #5234
I will give it a look and come back. Is this something you know more about @Bobgy?

[2021-03-23 16:34] Tomcli commented on #4752
I agree to keep the current solution to avoid further divergent between Argo and Tekton. But if KFP need to use Argo cronjobs, then we want the recurring run API to have a common gRPC interface that share between the current solution and the new implementation with Argo cronjobs. This way we know what features KFP need on have on Tekton triggers, and the Tekton backend can keep using the current s

[2021-03-23 18:07] amyxst commented on #5282
@Bobgy is it possible to confirm what the expected behavior is with optional params?

[2021-03-23 19:33] pvaneck commented on #5353
Hmm, what is being passed in as the inferenceservice_yaml in your case? There could potentially be something there causing an issue. Might be worth checking if the yaml can be deployed normally using kubectl.

Also, if you need to use a specific service account for the predictor pods while using the 'inferenceservice_yaml` argument, currently you need to pass it in with the yaml itself with:

[cod

[2021-03-23 21:24] NikeNano commented on #5234
Quick first notes, there are a two types of garbage collection at play here, the one `argo` does and the one tha persistence agent does. I am not sure though why it seems for you like the one related to the persistence agent `TTL_SECONDS_AFTER_WORKFLOW_FINISH ` affects the one set for argo: `ttlSecondsAfterWorkflowFinished`  in this case I think the shorter one should decide when the workflow gets

[2021-03-23 23:03] Ark-kun commented on #5347
The root issue in your code was probably using non-absolute paths in `file_outputs`.

While fixing the issue I've also discovered that `np.save(data_path, data)` writes to `data_path + ".npy"`, which was leading to a similar error message in my code. To fix that I've used `np.save` with pre-opened files.

[2021-03-23 23:12] Ark-kun commented on #5347
I'm not sure the direct connection to the API serve with `kfp_endpoint = "http://10.100.203.15:8888"` will work.
You'll probably need to port forward the api server `kubectl port-forward svc/ml-pipeline 8888` and use `kfp_endpoint
 = http://127.0.0.1:8888`

/cc @Bobgy

[2021-03-23 23:18] Ark-kun commented on #5288
Thank you for the discovery and the fix.
I wonder how this worked before....?

[2021-03-24 00:03] #5288 closed

[2021-03-24 04:53] TrsNium commented on #5348
@hilcj hello. I think this issue should be labeld to `area/backend`

[2021-03-24 05:44] NikeNano commented on #4752
Sound like a good solutions as well, since it will also allow for making new updates.

Keeping the controller gives us more control over the runtime which I guess is also a bit more aligned with the thoughs of V2 where we go from a smart compiler to a smart run time. I think that the changes we like to do to update the features of the scheduled workflow should work in eaither case.

[2021-03-24 05:49] NikeNano commented on #5172
/assign

[2021-03-24 06:08] lynnmatrix commented on #5288
This bug raises exception: `TypeError: write_bytes() missing 1 required positional argument: 'data'`.

You are right, this code was unused.
KeyValueStore is only used in ComponentStore._refresh_component_cache,  and it will check the existence of the key before writing, so there is no chance to overwrite.

[2021-03-24 07:33] tiru1930 commented on #5353
@pvaneck i was able deploy  inference yaml with kubectl CLI,.

Yes, though i have mentioned service account in above code, same service account is mentioned in yaml also,  same configuration is working for below commit in pipelines

[code]

So with latest code, i,e kfserving==0.5.1

[code]
above imports are moved to

[code]
i,e for v1alpha2 to v1beta1 so if run kfserving deploy pipeline with lates

[2021-03-24 08:12] Bobgy commented on #4752
Makes sense to me!

To reduce coupling with argo, what do you think about this proposal:

Keep using scheduledworkflow controller, but change its interface from argo workflow to:

* pipeline ID + version ID
* parameter map

So that, previously scheduledworkflow controller would directly create argo workflows, now it will always call KFP API server to create runs.

This structure will make schedule

[2021-03-24 08:13] Bobgy commented on #5282
/assign @chensun @Ark-kun

[2021-03-24 08:18] Bobgy commented on #5234
I'd suggest to use `TTL_SECONDS_AFTER_WORKFLOW_FINISH`, and avoid using the argo one, because `TTL_SECONDS_AFTER_WORKFLOW_FINISH` will only GC the workflow after persistence agent has backed it up in KFP mysql DB. If you use the argo parameter and the workflow was not backed up before it was GCed, the record would be lost forever.

level=info msg="Success while syncing resource (xxxx/conditional-e

[2021-03-24 08:18] Bobgy commented on #5234
The conversation has been pretty long, are there any remaining questions not addressed?

[2021-03-24 08:28] Bobgy commented on #5322
Fixed by #5339
@zijianjoy FYI, if you use `Fixes #5322` in your PR's title. This issue will be auto closed when your PR is merged. That's best practice for keeping the issue lifecycle up-to-date.

[2021-03-24 08:28] #5322 closed

[2021-03-24 08:29] Bobgy commented on #5254
The kubernetes version issue is fixed by https://github.com/kubeflow/pipelines/pull/5349.

Also I think the question is answered.

[2021-03-24 08:29] #5254 closed

[2021-03-24 10:18] Bobgy opened #5366 "[feature] KFP UI log viewer should wrap when lines are long"
### Feature Area

/area frontend

### What feature would you like to see?

KFP UI log viewer should wrap when lines are long

### What is the use case or pain point?

When debugging pipelines, I often find log lines are too long so I couldn't easily browse its full content.
Because it's typically a lot harder to scroll left and right than up and down.

### Is there a workaround currently?

Scroll

[2021-03-24 10:34] vstrimaitis opened #5367 "[frontend] Artifact preview can cause ml-pipeline-ui to crash"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? GCP Marketplace
*  KFP version: 1.4.1

### Steps to reproduce

1. Upload a relatively large (e.g. ~5G) file to a GCS bucket
2. Create a pipeline run using the code snippet below
3. Open the run in the KFP UI
4. Click on the "Download from GCS" component
5. Continuously open and close the "Input/Output" tab (e.g. by clicking on the "x

[2021-03-24 11:40] philwinder commented on #4569
I agree with the others here. This isn't an AKS or cloud issue. The Kubeflow docs instruct you to use certmanager to create a self signed certificate. But obviously browsers and curl can't verify the identity, so you just ignore/suppress that.

The issue is that the `kfp.Client` class doesn't allow you to pass `verify=false` through to the underlying requests library, so you can't ignore the non-v

[2021-03-24 11:55] xybuty commented on #5347
thank you so much for your reply ,After I improved my code according to your guidance,I found maybe my problem is not same as this problem [https://github.com/kubeflow/pipelines/issues/750].Because the load_data image can save data to the path in containter,like this
![image](https://user-images.githubusercontent.com/44302306/112306006-4a2aa500-8cda-11eb-8d08-715399950994.png)
Then I  check the po

[2021-03-24 11:59] xybuty commented on #5347
The screenshot is not clear,here is the information of the error
`time="2021-03-24T19:04:42Z" level=info msg="Creating a docker executor"
time="2021-03-24T19:04:42Z" level=info msg="Executor (version: v2.3.0, build_date: 2019-05-20T22:10:54Z) initialized (pod: kubeflow/load-data-2-mctsc-3737213461) with template:\n{\"name\":\"load-data\",\"inputs\":{},\"outputs\":{\"artifacts\":[{\"name\":\"load-d

[2021-03-24 12:40] Junaid-Ahmed94 commented on #4569
I was able to solve this by using a signed certificate ,not self signed but authority signed (you can use letsencrypt),

1. Have a authority signed certificate / letsencrpyt can also work.
2. Delete the istio-ingressgateway-certs secret and create a new secret with the keys from the new certificate
3. Skip the step of creating a certificate for kubeflow (step 3 in https://www.kubeflow.org/docs/azu

[2021-03-24 13:49] Bobgy opened #5368 "[bug] kpt pkg get results in error message "wrong Node Kind for expected: MappingNode was SequenceNode""
### What steps did you take

[code]

### What happened:

fetching package /manifests/kustomize from https://github.com/kubeflow/pipelines to kfp-standalone-1/kustomize/upstream
error: /home/ext_gongyuan_google_com/github/kf/testing/test-infra/kfp/kfp-standalone-1/kustomize/upstream/third-party/argo/upstream/manifests/namespace-install/overlays/argo-server-deployment.yaml: wrong Node Kind for  expe

[2021-03-24 14:01] Bobgy commented on #5368
upstream issue: https://github.com/GoogleContainerTools/kpt/issues/1218

the fix we should apply: https://github.com/GoogleContainerTools/kpt/issues/1218#issuecomment-756472616

[2021-03-24 14:41] andre-lx commented on #5234
Find it!

After checking the workflows logs, I found it the error:

[code]

https://github.com/kubeflow/manifests/blob/3e08dc102059def5a0b0d04560c7d119959bf506/contrib/argo/base/cluster-role.yaml#L36-L46

So, after add the missing verb, everything worked out with the `set_ttl_seconds_after_finished` config:

[code]

Thanks to both!

[2021-03-24 14:41] #5234 closed

[2021-03-24 16:21] Tomcli commented on #4752
Thanks @Bobgy, this sounds good to me. For the current scheduledworkflow, KFP-Tekton followed the same implementation as KFP to create the Tekton pipelineRuns directly using the Tekton go client. So calling the KFP API server for creating the runs can reduce the amount of code we need to maintain as well.

[2021-03-24 20:14] NikeNano commented on #5172
The error originates from that `mysql` is [not case sensitve](https://dev.mysql.com/doc/refman/8.0/en/case-sensitivity.html) in the comparisons as I understand it for CHAR, VARCHAR, TEXT.
[code]
where I use `new` as the experiment name.

Will use lowercase for the comparisons as well.

[2021-03-24 21:20] Ark-kun commented on #5347
Do you still get the error when you run the pipeline code I've posted?

[2021-03-24 21:29] NikeNano commented on #4752
Great, I will write a short suggestion on the design in a google docs and start the work on it.

[2021-03-24 21:33] capri-xiyue opened #5372 "[frontend] Sometimes the "choose file" button doesn't work when trying to upload pipeline"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version: 1.4.0 （In fact, it also happened in 1.0.x and 1.3.x version)

### Steps to reproduce
It may not easy to reproduce the bug.
Sometimes the "choose file" button doesn't work when trying to upload pipeline, the screen won't pop up which allows the user to choose the file to upload. After I restarted the chrome, the "choo

[2021-03-24 21:34] capri-xiyue commented on #5372
![Uploading Screen Shot 2021-03-24 at 2.21.49 PM.png…]()

[2021-03-24 22:48] zijianjoy commented on #5272
Example logs: https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1374652399771193344

[2021-03-24 23:52] Ark-kun commented on #5272
[Prow](https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1374652399771193344)

[Pod](
https://00f74ba44b420418175dd31cb3c371cfc9ef2b71ab-apidata.googleusercontent.com/download/storage/v1/b/oss-prow/o/logs%2Fkubeflow-pipeline-postsubmit-integration-test%2F1374652399771193344%2Fartifacts%2Fpods_info%2Fkaniko-7v2gs.txt?jk=AFshE3WgSYrbaJ_tnqAP2uHklKC4QfRL

[2021-03-25 01:30] pvaneck commented on #5353
Ah, seems like your cluster doesn't have KFServing >= 0.5.0 installed which is required for using the v1beta1 API. You had the right idea with using the old commit. Just continue to use your code, but load the old components yaml file. i.e:

[code]

Sorry for the hiccup. I will update the README to make this a bit clearer.

[2021-03-25 01:37] Bobgy commented on #3505
I finally get the chance to do this in https://github.com/kubeflow/pipelines/pull/5337.

[2021-03-25 01:40] Bobgy commented on #3505
TODOs:
* [ ] Configure correct permissions in https://github.com/kubeflow/testing/blob/master/test-infra/kfp/iam/iam.yaml
* [ ] Let #5337 pass the new run KFP on KFP presubmit test
* [ ] Enable test config https://github.com/GoogleCloudPlatform/oss-test-infra/blob/dcb26401364e95b0df512cde5a551d191664f56b/prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-presubmits.yaml#L187-L189

[2021-03-25 01:42] Bobgy commented on #3505
Current error message when running the pipeline:

[code]

I checked permission on the nodepool, the GSA has correct permissions, but the nodepool does not enable all cloudplatform OAuth2 scope as stated in the error message.

[2021-03-25 01:44] Bobgy commented on #5368
Because we plan to use the package in KF 1.3, we should fix it before the final release.

[2021-03-25 02:25] xybuty commented on #5347
YES，I still got the error (T_T)

[2021-03-25 02:43] Bobgy commented on #3505
Getting the following error message when config sync is updating nodepool resource:

Upstream issue seems to be https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/335.

We need to upgrade config connector in kf-ci-management, or downgrade the cluster to regular channel (1.18).

[2021-03-25 02:44] Bobgy commented on #3505
Hmmm, it's not possible to downgrade kubernetes version channel. I can only upgrade config connector.
We may need to consider getting rid of the current management cluster and redeploy one using regular channel.

[2021-03-25 02:58] Bobgy commented on #3505
I made a mistake, it should be `spec.nodeConfig.oauthScopes`.

[2021-03-25 03:03] Bobgy commented on #3505
One last error unrelated to current changes.

[2021-03-25 03:06] Bobgy commented on #3505
Verified new nodepool is created `kfp-standalone-1-nodepool-v2`

[2021-03-25 03:20] Bobgy commented on #3505
We also need bucket list permission.

[2021-03-25 03:37] Bobgy commented on #3505
Reason: Unauthorized

I'm getting this error when using KFP client to talk to the same endpoint.

[2021-03-25 04:10] jl-massey commented on #5155
I've gotten around this by compiling the pipeline yaml, then adding the "daemon: true" line to the argo pipeline yaml before uploading to KFP server.   This feels like I've taken the long/wrong way around.

[2021-03-25 05:29] Bobgy commented on #5368
I'm seeing some problems with `.krmignore`.
https://github.com/GoogleContainerTools/kpt/issues/1218#issuecomment-806305825

[2021-03-25 05:32] Bobgy commented on #3505
Another permission issue

[2021-03-25 09:58] Windrill opened #5373 "[feature] Documentation for kubeflow component specification operations"
### Feature Area

/area samples

### What feature would you like to see?

From Issue #2337 I learned about the 'concat' operation which I needed when writing the Kubeflow Component Specification for my pipeline.
I am not sure where to find an exhaustive/relatively inclusive list of such operations for use, such as conditionals, comparators (string_var == ""), or of all the types of a defined input

[2021-03-25 11:41] DavidSpek commented on #5254
@Bobgy Will this require a push to PyPi?

[2021-03-25 11:50] Bobgy commented on #5254
@DavidSpek yes, it will be in the next release

[2021-03-25 11:51] DavidSpek commented on #5254
Thanks for confirming!

[2021-03-25 18:11] boarder7395 commented on #5221
@neuromage I did some local testing with inputUri and outputUri. In my simple test it seems like the UI does not recognize those are artifacts and they're not tracked by the metadata service. Is that correct?

[2021-03-25 20:41] supertetelman commented on #4746
I was never able to get past this problem. It looks like my issue is now being addressed by https://github.com/kubeflow/pipelines/issues/5138.

I'm closing this issue for now and will track the new featureset.

[2021-03-25 20:41] #4746 closed

[2021-03-25 22:22] neuromage commented on #5221
Hi @boarder7395 yes I think InputUri and OutputIUri aren't supported yet in the UI.

It sounds like you want the first step of your pipeline (the Spark job) to read/write directly to S3, and the second step to download from S3 into local container, perform training, and then re-upload back to S3. The Evaluate step is the same as the Train step. Am I reading this right?

If so, then I think we can

[2021-03-26 02:57] ZhiqinYang commented on #4505
I  have the same problem , are you resolved this ?

[2021-03-26 03:45] Bobgy commented on #4695
Note, when targeting KFP v2, https://bit.ly/kfp-v2, we will no longer need cache webhook.

[2021-03-26 10:47] boarder7395 commented on #5221
@neuromage Yes you are reading that correctly. Being able to specify when to download and when not is exactly the functionality I was trying to accomplish. And your right I have no need for minIO in the diagrams above only included it because that’s how Argo works.

As for the quick doc/readme that would be greatly appreciated!!

You mentioned inputUri and outputUri aren’t supported yet in the UI.

[2021-03-26 11:33] alvercau opened #5380 "[feature] get output of conditional step"
### Feature Area

 /area sdk

### What feature would you like to see?

Currently it does not seem to be possible to get the output of a conditional step, like so:
[code]

### What is the use case or pain point?

I have a pipeline with optional pretraining for transfer learning, and in further steps of my pipeline, I use either the pretrained model as a base model, which path is stored in the outpu

[2021-03-27 00:35] Bobgy commented on #5347
Duplicate of https://github.com/kubeflow/pipelines/issues/1654

I think this is the problem -- kubernetes 1.19  has dropped built-in docker support. So you should switch to use argo pns executor.

[2021-03-27 00:53] Bobgy commented on #3806
/assign @neuromage @chensun

[2021-03-27 00:56] Bobgy commented on #5303
Hi @SaschaHeyer, thank you for the report!

What is your TFX version? KFP cache shouldn't run on TFX pipelines. This is a bug.

[2021-03-27 00:58] Bobgy commented on #5302
Duplicate of #5303

[2021-03-27 00:58] Bobgy commented on #5302
This has the same root cause, so I am closing it

[2021-03-27 00:58] #5302 closed

[2021-03-27 02:13] Bobgy opened #5381 "[feature] CLI command to run a pipeline from python files"
### Feature Area

/area sdk

### What feature would you like to see?

A kfp CLI command to directly run python pipelines.
For example:

[code]

This command directly compiles a python pipeline and submits it to KFP instance with specified hostname.

Expectation of `sample_pipeline.py` should be the same as `dsl-compile` command.

Or what can be even better --

Set up KFP instance connection config

[2021-03-27 03:12] Bobgy commented on #4700
https://github.com/kubeflow/pipelines/pull/5086 adds support for [[RunUUID]] and the [[CurrentTime.<template>]] macros for one-off runs.

[2021-03-27 03:12] #4700 closed

[2021-03-28 11:14] #5172 closed

[2021-03-29 07:44] ConverJens commented on #5164
@numerology I tried to deploy IV and specified a service account that has full privileges but that still failed with the same error so SA does not seems to be the issue. I also tried to run the entire pipeline using this SA by specifying it in the KFP UI but with the exact same result.

[2021-03-29 10:05] SaschaHeyer commented on #5303
Hi @Bobgy
issue can be reproduced with 0.27.0 and 0.28.0

[2021-03-29 15:23] #5358 closed

[2021-03-29 16:19] hahns0lo commented on #5381
This would be nice. We based our KFP repo on [this example](https://github.com/ksalama/kubeflow-examples/tree/master/kfp-cloudbuild), which is referred to in this [GCP article](https://cloud.google.com/solutions/machine-learning/architecture-for-mlops-using-tfx-kubeflow-pipelines-and-cloud-build#cicd_architecture) about using KFP with Cloud Build.

The [Cloud Build pipeline](https://github.com/ksa

[2021-03-29 18:19] NikeNano commented on #4617
/close

[2021-03-29 18:19] #4617 closed

[2021-03-29 23:24] berndverst commented on #5381
Let me know if you need help. I have built exactly this in Go (but it calls `dsl-compile` for the compilation step for the time being).

[2021-03-30 01:34] Bobgy commented on #4660
A more canonical way to support this is probably in KFP v2

[2021-03-30 01:36] Bobgy commented on #5372
Pending reproduction

[2021-03-30 01:39] Bobgy commented on #5343
/assign @kubeflow/wg-serving-leads

[2021-03-30 01:44] Bobgy commented on #5335
HI @rexshang,

I can think of three ways to improve:
* set up a retry strategy, so that the pipeline can auto retry a few times when the instability happens (you should always expect other services may fail)
* use managed storage, gcs is probably stabler than minio
* upgrade minio server, the default one is very old

[2021-03-30 01:46] Bobgy commented on #5279
/assign @Ark-kun @neuromage @chensun

[2021-03-30 01:51] Bobgy commented on #5257
/assign @elikatsis
Can you help with this issue?

[2021-03-30 01:53] Bobgy commented on #5247
/assign @chensun @Ark-kun

[2021-03-30 02:05] Bobgy commented on #5166
Hi @muyajil, the code you mentioned is correct, because the _fetch function also returns a Promise, this function can just return it, and let its callsites to await for the promise.

I'm not sure what the problem you hit, welcome more investigation to the root cause. You may follow https://github.com/kubeflow/pipelines/tree/master/frontend to develop the UI server locally to verify your ideas.

[2021-03-30 02:41] #4618 closed

[2021-03-30 02:42] Bobgy commented on #5238
@vishalsmb I think https://github.com/kubeflow/pipelines/issues/4327#issuecomment-687255001 is probably a good example

[2021-03-30 02:42] #5238 closed

[2021-03-30 02:44] Bobgy commented on #4327
Hi @sm-hawkfish, do you still want to work on this?
Don't worry if you no longer have bandwidth, we can make it clear that others are free to pick it up

[2021-03-30 02:50] Bobgy commented on #5269
@raffaelespazzoli I'm not familiar with k8s_istio config, but can you confirm whether the following are configured properly for your env?

Env var config on ml-pipeline-ui deployment:
https://github.com/kubeflow/pipelines/blob/4c51b576f577e337049599cb85b098006664265f/frontend/server/configs.ts#L106-L113

Env var config on ml-pipeline deployment:
https://github.com/kubeflow/pipelines/blob/d9c019641

[2021-03-30 03:37] midhun1998 commented on #5343
Hi @Bobgy. I will be opening a PR soon. I have added it and I'm currently testing.

[2021-03-30 07:32] Bobgy commented on #5303
@SaschaHeyer can you provide a minimum reproducible TFX pipeline with a requirements.txt for all dependencies versions?
I tried TFX 0.28.0 with KFP 1.5.0-rc.0 (which should be very similar to 1.4.1 you tested on), and cannot reproduce this problem.

[2021-03-30 09:56] #5280 closed

[2021-03-30 11:56] aronchick commented on #5381
This is super interesting to us! We're working on some higher level abstractions here too and would love to collaborate. Has this already been committed to? We'd love to sync offline and see what we could do together.

[2021-03-30 12:09] raffaelespazzoli commented on #5269
@Bobgy both variable are set in both services via a shared configmap. I can prove that the header is propagated looking at the traces with Jaeger.

[2021-03-30 12:21] Bobgy commented on #5368
Before there is a kpt improvement, I think we should avoid using YAML to represent arrays for JSON patch.

[2021-03-30 13:24] Bobgy commented on #5138
@elikatsis @yanniszark I just recall a separate concern with current implementations.

When we support using service account token to authenticate in KFP api server, we need to configure Istio authorization rules to allow all types of access. However, that seems to break the security assumption when using HTTP user id header to authenticate -- only requests from istio ingress gateway are allowed t

[2021-03-30 15:08] midhun1998 commented on #5343
@pvaneck Shall I wait for PR #5386 to be merged? Also, shall I push the image with tag `v0.5.1` or `v0.5.1.0`. Please guide.

[2021-03-30 15:41] juliusvonkohout commented on #1654
For the next release you should update to argo 3.1 and use the emissary executor, which works everywhere rootless. https://argoproj.github.io/argo-workflows/workflow-executors/ i already tested it successfully with kubeflow 1.2

[2021-03-30 19:50] pvaneck commented on #5343
@midhun1998 You can go ahead and submit a PR as it can always be rebased, and I don't foresee any conflicts. I will build and push the image with your changes once it passes the review process.

[2021-03-30 23:15] ankitaggarwal011 opened #5394 "[feature] Use Tensorboard within Kubeflow Pipelines UI with AWS Sagemaker training component"
### Feature Area

/area components

### What feature would you like to see?

Option to use start/use tensorboard from the Kubeflow Pipelines UI when using AWS Sagemaker training component. At the moment, that doesn't seem to be available in the sagemaker training component.

The `mlpipeline-ui-metadata.json` file output is not exposed in sagemaker training component and the code to [dump metrics v

[2021-03-31 02:18] xybuty commented on #5347
YES,You are right,this problem didn't reappear after Ichange rhe k8s version。

[2021-03-31 03:14] Bobgy commented on #5381
@aronchick Is it possible to present a demo on KFP community meetings? Or you need to wait until it's open?

[2021-03-31 09:10] Bobgy commented on #4700
Hi @santiagoolivar2017, sorry for wrong reply previously. kfp.dsl.RUN_ID_PLACEHOLDER was already KFP run ID, so you can query KFP API to get its name and experiment name.

See sample https://github.com/kubeflow/pipelines/pull/5385.

[2021-03-31 14:39] aronchick commented on #5381
I think i'd like to wait until it's open, but happy to give as many folks as would like private demos.
________________________________
From: Yuan (Bob) Gong ***@***.***>
Sent: Tuesday, March 30, 2021 8:14 PM
To: kubeflow/pipelines ***@***.***>
Cc: David Aronchick ***@***.***>; Mention ***@***.***>
Subject: Re: [kubeflow/pipelines] [feature] CLI command to run a pipeline from python files (#5381)

[2021-03-31 16:50] yanniszark opened #5398 "[bug] manifests: Metadata VirtualService is missing"
### What steps did you take

Install KFP from multi-user manifests.

### What happened:

The KFP Metadata UI is missing erroring out because it is missing a VirtualService. We tested with the following VirtualService:
[code]

[2021-03-31 17:00] yanniszark opened #5399 "[bug] manifests: Platform-agnostic multi-user envs should set the kubeflow header"
Platform-agnostic multi-user envs should set the kubeflow header to a default value (`kubeflow-userid`), so that they are self-contained and deployable without any extra configuration.

[2021-03-31 17:26] yanniszark opened #5400 "[bug] manifests: Include metacontroller manifests"
### What steps did you take

The multi-user pipelines installation includes the metacontroller component.
However, it doesn't include it under `third-party`, like for other apps.
Since metacontroller is something that KFP uses, we should move it to the KFP repo under third-party and not have it under `contrib` in kubeflow/manifests.

[2021-03-31 17:40] yanniszark commented on #5398
/assign @yanniszark

[2021-03-31 17:40] yanniszark commented on #5399
/assign @yanniszark

[2021-03-31 17:40] yanniszark commented on #5400
/assign @yanniszark

[2021-03-31 17:47] tinahbu opened #5401 "[backend] Metrics Stopped Showing up when More than 5"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? we used [`kfctl`](https://github.com/kubeflow/manifests/blob/master/distributions/kfdef/kfctl_istio_dex.v1.2.0.yaml)
*  KFP version: `v1.2.0`
*  KFP SDK version:
[code]

### Steps to reproduce

this is not an exhaustive experiment by any means but our metrics stopped showing up in the run table & "run output" tab when we write more t

[2021-03-31 18:37] yanniszark opened #5402 "[bug] Argo kustomization does not replace namespace in ClusterRoleBinding ServiceAccount reference"
### What steps did you take

[code]

### What happened:

The generated ClusterRoleBinding has the namespace set as `argo`, even though kustomize sets it as `kubeflow`.
Here is the generated YAML:
[code]

### What did you expect to happen:

Kustomize should have replaced the namespace with `kubeflow`:
[code]

The reason that didn't happen is because the ClusterRoleBinding is defined as:
[code]

but

[2021-03-31 18:49] yanniszark commented on #5402
/assign @yanniszark

[2021-03-31 23:08] Udiknedormin opened #5404 "[feature] Condition combinators for dsl.Condition"
### Feature Area

/area backend

### What feature would you like to see?

Right now, `dsl.Condition` only allows to use a single comparison:

[code]

Because `ConditionOperator` doesn't define any custom `__bool__` which would produce a warning, the following conditions silently work in unexpected ways:

[code]

Because `and` and `or` Python cannot be overloaded, the only thing one can do to preve

[2021-03-31 23:20] Udiknedormin commented on #5404
/area backend

[2021-03-31 23:40] Tomcli commented on #5404
related issue: https://github.com/kubeflow/pipelines/issues/482

[2021-04-01 01:42] Bobgy commented on #5400
metacontroller is also used in GCP distribution, but since KFP needs it, I agree we can put it here.

[2021-04-01 01:43] #5398 closed

[2021-04-01 01:43] #5399 closed

[2021-04-01 01:43] #5400 closed

[2021-04-01 01:43] #5402 closed

[2021-04-01 01:55] Bobgy commented on #5368
Workaround merged, so this is no longer P0

[2021-04-01 02:07] Bobgy commented on #5236
Caused by https://github.com/kubeflow/pipelines/issues/5148

[2021-04-01 02:10] Bobgy commented on #5148
/reopen
after https://github.com/kubeflow/pipelines/pull/5273, we need to apply default resource requirement to argo pods again

[2021-04-01 02:43] Ark-kun commented on #4170
It's expected to be placed after the `Compiler().compile(test_pipeline, package_path="toto.yaml")` line. Does it not work?

[2021-04-01 03:09] Bobgy commented on #5381
Thanks for the heads up! I'd love to wait for a presentation in KFP community meeting when it's open.

[2021-04-01 03:52] #5148 closed

[2021-04-01 11:33] juliusvonkohout opened #5411 "[backend] controller-manager crashes in 1.5.0-rc1"
### Environment

[code]

### Steps to reproduce

[code]

So i cannot even get the logs....

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-04-01 11:40] juliusvonkohout commented on #5411
@DavidSpek it seems like someone wrote an image that does not runasnonroot

[2021-04-01 11:48] juliusvonkohout commented on #5411
The permissions in the base image seem to be wrong

[code]
is the problem. Someone forgot to allow group 0 read on that directory

Full output

[code]

[2021-04-01 17:37] #4562 closed

[2021-04-01 18:11] zijianjoy commented on #5350
Thank you for reporting! I can validate that this issue happens on Safari browser, which doesn't enforce the time format as it does on Chrome:
![enforce](https://user-images.githubusercontent.com/37026441/113336259-fbcd6580-92da-11eb-968b-e730ba4570f6.png)

Trying to find for a fix for this usecase.

[2021-04-01 18:31] zijianjoy commented on #5350
Validated Safari support for native `date` and `time` picker in TextField: https://caniuse.com/input-datetime

[2021-04-01 19:07] yanniszark opened #5413 "[backend] metadata writer multi-user mode incorrect list"
The metadata writer was failing with a strange error:
[code]

This is the line that failed in the code:

[code]

If the `namespace_to_watch` variable is empty (which is for multi-user installations), then the K8s library makes a request to `/api/v1/namespaces//pods`. Here is the excerpt from the library, which @elikatsis found:

[code]

Fixed by changing the API call to `list_pod_for_all_namespace

[2021-04-01 19:07] yanniszark commented on #5413
I will be opening a PR with the aforementioned fix asap
/assign @yanniszark

[2021-04-01 19:12] yanniszark opened #5414 "[manifests] metadata-envoy-deployment sidecar injection"
### What steps did you take

Deploy multi-user pipelines manifests. The `metadata-envoy-deployment` is injected with a sidecar and crashes.
The reason is that `metadata-envoy-deployment` runs an Envoy Pod and it seems 2 Envoys don't play well together.
Thus, we need to disable injection for this Deployment.

@Bobgy if possible, can you give some context how `metadata-envoy-deployment` is used?

I

[2021-04-01 20:43] yanniszark opened #5415 "manifests: Istio AuthorizationPolicy is wrong for multi-user"
### What steps did you take

Deploy KFP multi-user.

### What happened:

The Istio AuthorizationPolicy resources are invalid.
After fixing them, some policies were missing:
- Allow `metadata-grpc-server` traffic in MetadataDB MySQL.
- Allow all traffic to the Metadata GRPC Server.

I will PR the amended AuthorizationPolicy asap.

[2021-04-01 20:43] yanniszark commented on #5415
/assign @yanniszark

[2021-04-01 20:56] zijianjoy commented on #5350
Explored the option to use @material-ui/pickers but that is going to be a huge change: https://material-ui.com/components/pickers/. Most of them are not related to the issue itself, but related to many breaking changes from `@material-ui/core` because of @material-ui/pickers has a requirement on `@material-ui/core@^4.0.0`.

I am leaning towards changing the behavior of current TextField to unblock

[2021-04-01 23:29] Bobgy commented on #5414
Thank you!
It's a gateway to allow using grpcweb from KFP UI.

[2021-04-01 23:43] Bobgy commented on #5411
@juliusvonkohout the image is only used to provide k8s application monitoring. It's an optional component. May be remove it from your deployment?

[2021-04-01 23:45] Bobgy commented on #5411
github.com/kubeflow/pipelines/manifests/kustomize/env/playform-agnostic?ref=$PIPELINE_VERSION

And it will no longer get installed

[2021-04-01 23:58] juliusvonkohout commented on #5411
@Bobgy Yes, the pipelines still work without it. But there are still two questions:

1. Will it be included in the full kubeflow 1.3 by default? If yes it must be fixed.

2. Should the documentation be updated then? Because more and more clusters will enforce security policies. In the end I strongly prefer a proper solution. Either removing it or fixing it.

I would like to work on a solution, if

[2021-04-02 00:31] zijianjoy commented on #5414
Do we also need to apply the same change to `metadata-grpc-deployment` as well?

My deployment looks like:
![metadatadeployment](https://user-images.githubusercontent.com/37026441/113367114-09511280-9310-11eb-811b-65ca37b02652.png)

[2021-04-02 00:38] Bobgy commented on #5404
/assign @neuromage @chensun

[2021-04-02 00:45] Bobgy commented on #5411
No, it won't for pipelines, but you may find another copy in kubeflow/manifests repo, it might be deployed by default, so some applications rely on it. I'd suggest confirm with @yanniszark the release manager about it.

Do you mean KFP standalone documentation? Yes, I'd love to see an update. Do you want to contribute to this?

[2021-04-02 00:54] Bobgy commented on #5401
This is one of the issues we plan to solve together in bit.ly/kfp-v2. Putting it in IR-based KFP project

[2021-04-02 00:55] Bobgy commented on #5394
/assign @kubeflow/aws

[2021-04-02 01:00] Bobgy commented on #5139
I've written similar code, I think it's already fixed in later versions. Please correct me if I'm wrong

[2021-04-02 01:00] #5139 closed

[2021-04-02 01:05] Bobgy commented on #5037
@devilmetal Thank you for the detailed report!
This hasn't been implemented, PRs welcomed.

[2021-04-02 05:11] Bobgy commented on #5367
Thank you for the report!
Contributions welcomed, the code path related is https://github.com/kubeflow/pipelines/blob/eb558423ecdca969f2dea55e0d1b0197fafbcb13/frontend/server/handlers/artifacts.ts#L200.

[2021-04-02 05:12] Bobgy commented on #5367
/cc @zijianjoy

[2021-04-02 05:47] arllanos commented on #4649
@Bobgy, sorry I was disconnected for a while. I would like to resume with issue and to share some points.

The use of `ArtifactRepositoryRef` is making it possible for runs to put their output artifacts to the bucket configured in the user namespace ConfigMap.

However, for CRUD operations related to pipelines, KFP will not use the `ArtifactRepositoryRef` feature. All CRUD functionality implemente

[2021-04-02 08:56] #5413 closed

[2021-04-02 09:43] #5414 closed

[2021-04-02 09:43] #5415 closed

[2021-04-02 16:26] zijianjoy commented on #5350
Closing this issue with the PR which prevented throwing error when datetime format is invalid.

[2021-04-02 16:26] #5350 closed

[2021-04-03 01:24] Tomcli opened #5422 "[sdk] Task.after() on Condition OpsGroup vs ContainerOp"
We have few questions on how the condition is constructed in Argo. e.g. using the below condition example
 https://github.com/kubeflow/pipelines/blob/master/samples/core/condition/condition.py

When we try to define a containerOp that run after dsl.condition or containerOp inside the condition block, it creates the same result when compiles to Argo. We are wondering is it the expected DSL behavior

[2021-04-03 01:26] Tomcli commented on #5422
/kind question

[2021-04-03 01:27] Tomcli commented on #5422
cc @Udiknedormin

[2021-04-03 07:05] Bobgy commented on #5138
Above concern has been answered by @yanniszark through slack, and implemented in https://github.com/kubeflow/pipelines/pull/5420. We can add an authorization policy rule to only allow requests from other pods without userid header.

[2021-04-03 13:20] Bobgy opened #5423 "[bug] api server panics on workflow parameter without value"
### What steps did you take

1. create a run with a parameter with no values

### What happened:

KFP api server panics with the following stacktrace:

[code]

### What did you expect to happen:

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version: 1.5.0-rc.0

### Anything else you would like to add:

### Labels

/area backend

---

Impacted by this bug? Give it a 👍. W

[2021-04-03 13:20] Bobgy commented on #5423
/assign

[2021-04-03 13:22] Bobgy commented on #5423
The failing line was recently changed when upgrading argo in https://github.com/kubeflow/pipelines/pull/5041, it seems we need to check nil pointer there.
https://github.com/kubeflow/pipelines/blob/14b447a07c975a21b7b525d49f6676058f020cd8/backend/src/common/util/workflow.go#L54
/cc @NikeNano

[2021-04-03 13:36] Bobgy commented on #5423
I built a reproduction pipeline, when submitting it with any missing parameters.
KFP API server crashes like above

[code]

[2021-04-03 14:52] Bobgy opened #5425 "[Testing] tests flaky when pulling from dockerhub"
See https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5424/kubeflow-pipeline-e2e-test/1378351440040300544#1:build-log.txt%3A1308

The same error message happens randomly during different image build process.

[2021-04-03 15:04] Bobgy commented on #5425
From PR https://github.com/kubeflow/pipelines/pull/5424

[2021-04-03 16:13] amitripshtos commented on #4649
Argo workflows has released a new major version which introduce default
artifact repository for every namespace (
https://www.cncf.io/blog/2021/04/02/argo-workflows-3-0-released/)

Maybe we can use this feature here?

On Fri, Apr 2, 2021, 08:47 arllanos ***@***.***> wrote:

[2021-04-03 16:18] Bobgy commented on #4649
Agreed, for namespace default artifact repository, we can ask users to config in the argo way.

[2021-04-03 21:31] NikeNano commented on #5425
Do you know what this error comes from? These images should be on google container registry as I understand, are there any rate limiting?

[2021-04-03 21:44] NikeNano commented on #4752
Here is an early draft super happy for all feedback: https://docs.google.com/document/d/15tf4lPUf3cBlsgOhRep9Jj2DAXxGT-oCK0BBB4G9uRk/edit?usp=sharing @Bobgy @Tomcli thanks!

[2021-04-03 23:59] Bobgy commented on #5425
Let me elaborate, the above error occurs when we are building KFP docker images, we need to pull some common images from dockerhub as the base.

[2021-04-04 00:25] Bobgy commented on #4752
That's awesome💯💯
Can you share comment permission to me?

[2021-04-04 01:27] #5423 closed

[2021-04-04 06:38] NikeNano commented on #5425
Ok, thanks! Do you expect these errors to be due to the rate limit? Could we move the base images to gcr as well?

[2021-04-04 06:39] NikeNano commented on #4752
Should be fixed now.

[2021-04-04 07:15] Bobgy commented on #5425
I agree. Looks like it recovered, if it keeps happening, we should do that

[2021-04-04 07:49] NikeNano commented on #5193
blocked by: https://github.com/tensorflow/tfx/pull/3484

[2021-04-04 10:26] shrinath-suresh opened #5426 "Unable to use tensorboard viewer using S3 path"
### What steps did you take

To view the output in tensorboard we have created the `mlpipeline-ui-metadata.json` file with following content (Followed the instructions from - https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#tensorboard )

[code]

to view the training output in tensorboard.

### What happened:
In the visualizations tab, `Start Tensorboard` button is appearing a

[2021-04-04 12:56] NikeNano commented on #1956
/assign

[2021-04-04 12:56] NikeNano commented on #1956
I will take a look at this.

[2021-04-04 15:33] Bobgy commented on #1956
Is https://github.com/kubeflow/pipelines/pull/5239 a better alternative now?

[2021-04-04 15:45] NikeNano commented on #1956
I don't fully follow how the additions of K8s create/apply components would allow the user to specify the resource specs as input parameters to a pipeline? Could you elaborate @Bobgy?

[2021-04-05 10:00] #5085 closed

[2021-04-05 11:04] Matts966 opened #5427 "[feature] Support other gcp project's gcr images to be pulled by service account with workload identity"
### Feature Area

/area backend

### What feature would you like to see?

Current workload identity supports multiple project for calling normal APIs, but we cannot pull images on other project's container registry even if the google service account has enough storage permissions (ErrImagePull occurs).

I don't know who can handle better (GCP's backend or Kubeflow Pipelines), but I confirmed that

[2021-04-05 11:17] munagekar commented on #5427
A GKE nodepool has a VM service account. This is used to pull images. You need to grant storage permission to this SA.

[2021-04-05 11:31] munagekar commented on #5257
Kubeflow cache's steps, so given the same inputs, it skips the step and instead fetches outputs from minio. Volume op has not outputs in Minio so ideally VolumeOp should not be cached. In this case you would need to change the name of the PVC.

You can also refer to https://github.com/kubeflow/pipelines/issues/5055#issue-796655777.

[2021-04-05 11:35] munagekar commented on #5257
Does the following work ?
[code]

This will hopefully change the input to the ResourceOp and hence prevent caching.

[2021-04-05 11:49] Matts966 commented on #5427
Thank you for quick response!

So, workload identity cannot affect service account to pull images? I also bound the google service account that has enough permissions to some Kubeflow Pipelines service account such as `pipeline-runner`, but it does not work.

Is it only the node pool SA that can pull images?

In addition, I found problem of `set_image_pull_secrets` of `Config` object. It does not

[2021-04-05 11:54] munagekar commented on #5427
In my organization we grant permission to nodepoolSA. I suppose docker pull secrets might work as well.
However default-editor/pipeline-runner does not pull images and hence granting permission to it will not work.

[2021-04-05 12:55] Matts966 commented on #5427
This was my mistake. Maybe specifying `imagePullSecret` is the best way.

[2021-04-05 13:30] Matts966 commented on #5427
Please close this issue if this is out of scope.

[2021-04-06 08:28] Bobgy commented on #1956
Sorry, I misread the issue's description. Please ignore my comment above

[2021-04-06 10:34] Bobgy commented on #3996
I'm seeing this again in https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/be6d19fe-7947-415b-b9fc-c327a442d961.

When running sample v2 test infra

[2021-04-06 10:50] Bobgy commented on #3996
I guess this happens with low probability when QPS is high

[2021-04-06 12:13] Udiknedormin commented on #5422
@Tomcli Per my understanding:

* running an op after condition group should run whenever the predicate was passed or not, as I want run it after the whole DAG
* running an op after some op in the group should only run if the predicate was passed, as I only want to run it if the actual conditional task was executed

Of course it should work with data-passing too, in the op-after-op case (the op-aft

[2021-04-06 17:23] jackwhelpton commented on #4708
I've published a sample PR for what URI template support might look like, as a prompt for further discussion: see link above (https://github.com/kubeflow/pipelines/pull/5434)

[2021-04-06 18:37] maganaluis commented on #4649
What about public vs namespaced pipelines, we introduced this feature when adding the functionality to the backend, the front-end changes for that are still to be added.

So we would need to take this into account when dealing with a multi-user kubeflow installation. When we retrieve objects we'll have to somehow know if this is a public or namespaced pipeline, so it's not so trivial. In my opinio

[2021-04-06 21:12] bkhuong opened #5436 "Using a Google Service Accounts on AI Platform Pipeline Deployment to access Google Secret Manager"
Based on this [documentation](https://www.kubeflow.org/docs/gke/pipelines/authentication-pipelines/), it looks like we cannot use any other Google Service Accounts when we deploy Kubeflow Pipelines through AI-platform pipelines other than the Compute Engine default service account:

Is this still true?

On the pipelines UI, it looks like we're able to provide a Kubernetes Service Account:
![image]

[2021-04-06 22:49] terrykong commented on #4229
Hi @Ark-kun . I'm revisiting this from almost a year ago since this is still a feature that would be helpful for our team. Has "launcherOptions" been abandoned? I see that **https://github.com/kubeflow/pipelines/pull/4156** was closed with no replacement.

[2021-04-06 23:07] yuku commented on #4973
I had almost same problem (except for resources region)

In my case, I found:

And activating the specified API fixed the problem. Hope this helps.

[2021-04-07 07:12] SaschaHeyer commented on #5303
Hi @Bobgy
here is the example you can use https://github.com/SaschaHeyer/Sentiment-Analysis-TFX

[2021-04-07 08:00] ConverJens commented on #5164
@numerology @chensun @neuromage I finally managed to solve this. The issue was that the TF serving pod spawned by IV did not have the `sidecar.istio.io/inject=false` which caused it to fail.

The solution is to allow a user  to specify annotations for the serving pod that IV spawnes. No changes to KFP are needed so I'm closing this one.

[2021-04-07 08:00] #5164 closed

[2021-04-07 08:30] aronla opened #5438 "build_python_component without GCS"
Hi! Is it possible to use `kfp.compile.build_python_component` without using google cloud storage (for the parameter `staging_gcs_path`)?

I'm trying to run the [pipeline SDK tutorial ](https://v0-7.kubeflow.org/docs/pipelines/sdk/sdk-overview/) locally and this step

[code]

outputs

`ValueError: Error: local_tmp_dir/ should be a GCS path.`

Thank you! :)

[2021-04-07 09:47] davidspek opened #5439 "[feature] Update MLMD version and add process to keep this up to date."
Currently pipelines uses gcr.io/tfx-oss-public/ml_metadata_store_server version `0.25.1` but `0.29.0` is the latest version. The image tag in [metadata-grpc-deployment.yaml](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/metadata/base/metadata-grpc-deployment.yaml) needs updating.
To automate this process, all image tags should be listed in the `images:` section of the

[2021-04-07 09:58] ConverJens opened #5440 "[backend] grpc: received message larger than max"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
kfctl and KubeFlow v1.1.0 istio dex
*  KFP version:
v1.0.0
*  KFP SDK version:
v1.1.2

### Steps to reproduce
Latest version of TFX (0.29.0rc0) introduced an IR of the pipeline definitions. For larger pipelines (>20 nodes) these are quite large (>5Mb), which exceeds the default gRPC limit and the UI gives the following error message:

[2021-04-07 10:42] Bobgy commented on #5439
Note, updating MLMD is fairly complex, we need to update all the 7 locations listed in https://github.com/kubeflow/pipelines/blob/1128631cd5b4335080fb70ca35f864dbedb8b2cf/manifests/kustomize/base/metadata/base/metadata-grpc-deployment.yaml#L19-L24

Some of them are not well documented, so I'd suggest delaying the upgrade to next release -- unless you have absolute reasons.

[2021-04-07 13:41] Bobgy commented on #4649
@maganaluis not sure if I fully understood the concern, the current model is that pipeline (templates) may be public or namespaced, but when you run a pipeline, it's always namespaced. Therefore, I don't think there are complexity regarding global/namespaced objects. Did I miss anything?

[2021-04-07 14:49] huihuang2015 opened #5441 "[feature] Can reusable component output data be downloaded via SDK?"
### Feature Area

<area>sdk</area>

### What feature would you like to see?

SDK to download component output artifact after run

### What is the use case or pain point?

Output artifact can only be downloaded via UI, but not via SDK. Automation is difficult.

### Is there a workaround currently?

Don't know how to do it now.

---

Love this idea? Give it a 👍. We prioritize fulfilling features wit

[2021-04-07 17:02] maganaluis commented on #4649
@Bobgy Yeah my concern was about the template files, it's typically a YAML file, or tar which contains the pipeline version. Right now this sits on a single bucket, but given there is public and namespaced pipelines, I had concerns what to do with the public pipelines if keep them on the current bucket or also moved them to the user's namespaced bucket. I think it's best to have all artifacts name

[2021-04-07 17:29] DavidSpek commented on #5439
@Bobgy I have no particular reason for updating it, just something I noticed. Once things settle down a bit more I think it would be interesting to setup Renovate with the regex engine so that it can handle updating MLMD everywhere in the repo in a single PR so it can be tested properly. How does that sound?

[2021-04-08 01:10] #5353 closed

[2021-04-08 03:25] #5343 closed

[2021-04-08 09:47] omarzouk commented on #59
/reopen its minor but kind of annoying

[2021-04-08 10:10] algs opened #5444 "[frontend] mismatched frontend api client"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version: 1.5.0-rc

### Steps to reproduce

1. clone the repo with latest version
2. cd frontend
3. npm run apis
4. git status and get modified files
5. found the definition of `ExperimentStorageState` change into `ApiExperimentStorageState` while the import statements in `frontend/src/pages/ExperimentDetails.tsx`, `frontend/s

[2021-04-08 17:32] #5436 closed

[2021-04-08 17:45] yuhuishi-convect commented on #5257
Yes, the problem is fixed after I disabled the cache. Thanks for the help.

[2021-04-08 19:49] NikeNano commented on #5304
/assign

[2021-04-08 23:03] rui5i commented on #5438
According to @chensun , the `staging_gcs_path` is a required field in sdk code.
This `kfp.compile.build_python_component` was deprecated before but was revived recently. We may want to deprecate it again sometime in the future.

[2021-04-08 23:25] Bobgy commented on #59
/reopen

[2021-04-08 23:29] Bobgy commented on #5439
Part of the upgrade requires regenerating a proto client using later proto definitions, so it's unlikely we can configure renovate to do this.

But it's very helpful to automate the upgrade, we may add this script to release process

[2021-04-08 23:51] Jeffwan commented on #5444
1. https://github.com/kubeflow/pipelines/blob/9116a5a162ac36a2615d4185d879dabfd0d7ad9a/backend/api/experiment.proto#L178-L182  has not been changed.

2. swagger file has been changed in this PR https://github.com/kubeflow/pipelines/pull/4906/files#r573449242

I think it's due to higher version generator.

3.  the good thing is frontend won't break because request param is still `storagestate`. But

[2021-04-08 23:56] Jeffwan commented on #5444
@algs Feel free to help improve it once  @NikeNano @Bobgy (who work on https://github.com/kubeflow/pipelines/issues/3250) confirms.

[2021-04-09 00:20] Bobgy commented on #5444
Thank you for the investigations!
Yes, we should better regenerate frontend client after proto change.

Do you want to submit a PR?

[2021-04-09 00:36] zijianjoy commented on #5230
Issue has been resolved. Please follow guidance if you encounter this issue.

[2021-04-09 00:36] #5230 closed

[2021-04-09 00:37] capri-xiyue commented on #5422
/assign @chensun

[2021-04-09 00:38] capri-xiyue commented on #5422
/assign @neuromage

[2021-04-09 00:55] capri-xiyue commented on #5427
Closed because it sounds like GKE expected behavior

[2021-04-09 00:55] #5427 closed

[2021-04-09 00:59] capri-xiyue commented on #5440
Can you provide a sample for us to verify the problem?

[2021-04-09 01:00] capri-xiyue commented on #5440
In addition, can you also deploy latest KFP to see whether it gets fixed?

[2021-04-09 02:48] algs commented on #5444
@Bobgy Sure, I'll submit a PR to fix this issue

[2021-04-09 03:33] Bobgy commented on #5426
Hi @shrinath-suresh, can you explain the difference between --db and --logdir, are there any references?

KFP doesn't currently support changing the argument, but we can make it configurable.

What kind of configuration experience do you prefer? Do all s3 uris need to change the argument?

Or we can add an input textbox on KFP UI where users may come and configure their args?

Or do you have any o

[2021-04-09 04:10] chauhang opened #5449 "How to enable PyTorch Profiler Tensorboard plugin in Tensorboard viewer?"
We are working on KFP components for PyTorch and trying to figure out how to see the PyTorch Profiler Tensorboard plugin in the KFP Tensorboard viewer. It requires additional  `pip install torch-tb-profiler`. For more details please [see]( https://github.com/pytorch/kineto/tree/master/tb_plugin).

What will be the steps to get this addon installed so that it starts showing up in the KFP Tensorboar

[2021-04-09 05:36] shrinath-suresh commented on #5426
@Bobgy Thanks for the reply.

We were able to log the tensorboard events to S3. Only the Dashboard was having issues when opened with S3 Path. I was looking into couple of blog posts related to the tensorboard S3 integration. One of them suggested to have the paramter as `db` instead of `logdir` (i will try to see if i can get the link). However, i couldnt do it in KFP, as there is no option to se

[2021-04-09 07:13] Bobgy commented on #793
I think we can close this, when we switch to MLMD based metrics, errors will be the same as other MLMD upload errors and visible in logs.

[2021-04-09 07:13] #793 closed

[2021-04-09 07:23] StefanoFioravanzo commented on #4752
@NikeNano This is a great doc! I have two comments, I am posting them here since I don't have comment permissions (maybe you could open comments to anyone?)

I like this. I think it's the best way to make the least amount of changes in the current controller while reducing maintenance burden.

Regarding the ability to update a Scheduled Workflow

I think that is very important to maintain a persis

[2021-04-09 07:26] StefanoFioravanzo commented on #4752
@Bobgy @NikeNano  Also, would this be a good time to pick one single name, used across the entire code base? It's funny that even this issue and design doc reference the same feature with 3 different names. I think "Recurring Run" is the more idiomatic term, but really any name is fine as long as we agree on one.

[2021-04-09 07:29] myoshimu opened #5450 "[backend] Sample pipeline "[Demo] TFX - Taxi tip prediction model trainer" failed with "Invalid bucket name: '{{kfp-default-bucket}}'""
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Deployed the KFP from GCP marketplace with [this step](https://cloud.google.com/ai-platform/pipelines/docs/getting-started
).
*  KFP version:
1.4.1
*  KFP SDK version:
1.4.1

### Steps to reproduce
1) Deploy KFP with the step below
https://cloud.google.com/ai-platform/pipelines/docs/getting-started
2) From the Google Cloud AI Platfor

[2021-04-09 07:41] Bobgy commented on #4752
I couldn't agree more. 💯

[2021-04-09 09:47] Bobgy commented on #5426
It doesn't work out of the box, you may refer to this issue how to configure it:
https://github.com/kubeflow/pipelines/issues/4364

[2021-04-09 09:50] Bobgy commented on #5426
The suggestion sounds reasonable, but I'd still want to confirm why.

[2021-04-09 11:04] Bobgy commented on #4973
Closing because problem seems resolved. Feel free to comment if that's not the case

[2021-04-09 11:04] #4973 closed

[2021-04-09 11:06] Bobgy commented on #5303
Thank you! I will try it out today

[2021-04-09 14:49] nakfour opened #5452 "[backend] "platform-agnostic" missing "Viewer" CRD"
As part of the effort to get the Openshift distribution ready for KF 1.3 release, we tried to install the "platform-agnostic" pipeline kustomization and it is missing the "Viewer" CRD. Also discussed here https://github.com/kubeflow/manifests/issues/1810.
PR here: https://github.com/kubeflow/manifests/blob/63c9026ee3e01ad8514882358d57d944d3a92b52/distributions/stacks/openshift/application/pipeline

[2021-04-09 15:03] yanniszark commented on #5452
cc @Bobgy

[2021-04-09 15:10] Bobgy commented on #5452
Thanks for the report @nakfour!
I want to confirm you are doing the right thing, read KFP standalone installation guide in https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/#deploying-kubeflow-pipelines.

CRDs are installed separated in:

[code]

Did you include `cluster-scoped-resources` in your kustomization.yaml?

[2021-04-09 15:17] nakfour commented on #5452
@Bobgy we followed the instructions from here https://github.com/kubeflow/manifests#install-individual-components and replaced "platform-agnostic-multi-user" with "platform-agnostic-multi-user"
As you can see the two are kustomizations are very different
https://github.com/kubeflow/manifests/blob/master/apps/pipeline/upstream/env/platform-agnostic/kustomization.yaml
https://github.com/kubeflow/man

[2021-04-09 15:43] Bobgy commented on #5452
Yes, the difference is by design.

@yanniszark I think we should add documentation for standalone installation in kubeflow/manifests to avoid confusion like this

[2021-04-09 16:04] wilbry opened #5453 "[Discuss] Should KFServing Component use InputPath?"
Apologies if this is the wrong project, I am not sure if this component is developed here or over in kfserving, but should there be a version of KFServing (or maybe at way to do it with one version) such that the URI is an InputPath so a newly trained model can be served as part of a pipeline? I have searched the issues for a few days trying to see if this has been discussed before and have come u

[2021-04-09 16:52] NikeNano commented on #5304
@zijianjoy should we aim for making [all arguments](https://cloud.google.com/sdk/gcloud/reference/ml-engine/versions/create) available for the user or keep a selected few(I see that we currently only support some options)?

[2021-04-09 18:09] nakfour commented on #5452
@Bobgy please elaborate why by design? I find it hard to believe they are both different, it should be the same

[2021-04-10 01:50] Bobgy commented on #5452
There are 3 major ways to deploy KFP:

* Namespaced KFP standalone.
* Multi-user KFP.
* Multiple namespaced KFP standalone operating independently for several namespaces. Typically an administrator installs the cluster-scoped resources and namespace owners can install KFP by themselves.

The minimum maintenance way to support all the three types is to default to include cluster scoped resources fo

[2021-04-10 02:44] Ark-kun commented on #5453
I like the suggestion. Having file-based inputs always helps.
I think that KFServe consuming the model as file, rather than as URL is significantly easier for the pipeline authors.

The change might be non-trivial, since the KFServing component needs to copy the data to the serving pod[s].

You can try a naïve draft variant and see what happens (most likely it will fail): https://raw.githubusercon

[2021-04-10 03:39] Ark-kun commented on #5422
This is unexpected behavior.

I did my own experiment and got and found several compiler bugs:

[code]

Error: `invalid spec: templates.my-pipeline.tasks.condition-1 templates.condition-1.outputs failed to resolve {{tasks.produce-str-2.outputs.parameters.produce-str-2-Output}}`
This is a compiler bug - the data passing rewriter did not detect that `produce-str-2-Output` was used as parameter downs

[2021-04-10 03:46] Ark-kun commented on #5441
The intermediate data storage is considered to be implementation detail.
We advice our users to make any data export explicit. This way they can easily control the location of the exported data.
If you want to put the artifact into a GCS bucket, just pass it to an `Upload to GCS` component.
See this pipeline for example:
https://github.com/kubeflow/pipelines/blob/a80421191db917322ff312626409526b0a

[2021-04-10 04:01] Ark-kun commented on #5438
Could you try using `kfp.components.create_component_from_func` instead? You can base the component on an image you build and push independently.

[2021-04-10 04:07] Ark-kun commented on #5380
We currently do not provide a way to re-join conditional branches.

This leads to some code duplication:
https://github.com/kubeflow/pipelines/blob/a80421191db917322ff312626409526b0a76aa68/samples/core/continue_training_from_prod/continue_training_from_prod.py

One workaround might be to have the training process encapsulated in a `@dsl.graph_component` function. Then you can call it with or witho

[2021-04-10 04:09] Ark-kun commented on #5347
Looks like this particular issue is resolved.

[2021-04-10 04:09] #5347 closed

[2021-04-10 07:02] Ark-kun commented on #5282
Thank you for the detailed issue report.

The behavior is by design. There is no special/different behavior for multiple optional arguments. What you see is mostly the way you program parses the command-line.

The question is a bit unclear regarding what behavior you are expecting any why.

`optional: true` means that the pipeline author may skip passing any argument to the optional input.
In curr

[2021-04-10 07:37] Ark-kun commented on #5279
There seems to be an error in your function definition. I'm not fully sure what is the behavior you've intended, but you probably should not be using the `InputPath` annotation given your component function code:
Just use `def hydrate_schema(synced_local_path: str`. Or better maybe even call it `synced_uri`, since it seems to be a URI not local path.

Can you try this solution and tell us whether

[2021-04-10 09:47] NikeNano commented on #4752
Tried to update the link: https://docs.google.com/document/d/15tf4lPUf3cBlsgOhRep9Jj2DAXxGT-oCK0BBB4G9uRk/edit?usp=sharing

Cool!

Good point, both the history and the rollback make sens to keep.  Will look into how we can achive this and add it to the doc.

Yes, we should update this and decouple the naming from argo to make it more clear as well. Think `Recurring Run` sounds good.

Thanks for th

[2021-04-10 10:01] Bobgy commented on #4752
I agree history and rollback seems useful when supporting edit, but the complexity of design would grow a lot.

I'd suggest separating discussion for support updates and refactoring to be agnostic of argo, because as far as I can tell they seem orthogonal problems.

[2021-04-10 10:04] Bobgy commented on #3789
/reopen

There were further discussions in https://github.com/kubeflow/pipelines/issues/4752.

/cc @StefanoFioravanzo @NikeNano

I think we can restart discussion here.

[2021-04-10 10:05] Bobgy commented on #4752
For updating recurring runs, I'd suggest continuing the previous thread https://github.com/kubeflow/pipelines/issues/3789

[2021-04-11 08:43] NikeNano commented on #4752
Sounds good.

What are your thoughts about the migrations strategies mention in the docs? in general how do we view being backward compatible, should we support both alternative(having the complete workflow vs PipelineId and versionid ) for a couple of release or create migration tools to help people move over?

[2021-04-11 09:01] NikeNano commented on #5304
After looking in to this I believe this is actually already possible @Amrit-Mann,  if you look at the options:  for `model` and `version` the take a json following:
- model, https://cloud.google.com/ml-engine/reference/rest/v1/projects.models
- version , https://cloud.google.com/ml-engine/reference/rest/v1/projects.models.versions

where in you have the options to specify the region that you like

[2021-04-11 09:10] NikeNano commented on #4777
/assign

I will take a look at this.

[2021-04-11 09:12] NikeNano commented on #4637
@DavidSpek is this resolved?

[2021-04-11 09:19] NikeNano commented on #3526
/assign

[2021-04-11 11:02] DavidSpek commented on #4637
@NikeNano The API endnpoint was added, but the information about the deployment has not been added to it I believe.

[2021-04-11 12:28] amitripshtos commented on #4649
After thinking about it for some time, I think we should be able to specify the bucket information for each pipeline (like service account) since it will be able to support separate repositories for standalone deployment of KFP.

If we use Argo 3 feature - that will work only for multi-user version of KFP.
I would like to help in this feature, can we set up a design meeting to figure out all of th

[2021-04-11 15:55] NikeNano commented on #4777
https://github.com/kubeflow/pipelines/pull/5456

[2021-04-11 16:23] mrslnv commented on #4440
Thanks a lot! Finally, I'm able to call pipeline API form my notebook in my MiniKube cluster (win10)

client = kfp.Client('http://10.108.141.218',namespace='admin')
client.list_runs(namespace='admin')

[2021-04-11 21:50] Ark-kun opened #5457 "[frontend] Some frontend tests are locale-dependent"
When I run Frontend tests on my machine I get many errors:
[code]

I expect the tests to pass under any system locale.

Perhaps the tests can specify an explicit locale that the date functions will use.

Couple of the errors:
[code]

BTW, see how the time differs by an hour.

[code]

[2021-04-11 23:17] Bobgy commented on #5457
Good catch! +1 to set a locale during test

[2021-04-12 09:26] Ark-kun commented on #4802
@Udiknedormin Thank you for the review of the proposal.

The "string escaping" is too weak and immediately breaks when the string contains quotes. But the value of the string is only known at runtime. There is no system that will safely escape that string.

Regarding the problems:

1. Container sound scary, but they're pretty fast. Running containerized program on a node is just running a process

[2021-04-12 14:02] nakfour commented on #5452
@Bobgy thanks I understand. My suggestion is to add more information on the main Kubeflow installation Readme here: https://github.com/kubeflow/manifests#install-individual-components
Explain one option, and point to more documentation to install the other options you just explained.

[2021-04-12 15:59] wilbry commented on #5453
I think you are correct that it may be non-trivial. I took the component.yaml you provided and modified the kfservingdeployer.py file in src to append `"file://"` if no prefix was given, but upon running it, I realize that kubeflow is most likely attaching the storage to the pod running the code in kfservingdeployer.py, and not the pod that gets launched by KFServing, so you still end up with an e

[2021-04-12 16:19] wilbry commented on #5453
Seems that there is a way to pass [PVC URI](https://github.com/kubeflow/kfserving/blob/a2e835f9c9d057e7bc04160ba903f715c175c757/pkg/webhook/admission/pod/storage_initializer_injector.go#L116), but I am a bit out of my depth to know how to format that using only the PipelineParam.

[2021-04-12 16:51] Tomcli commented on #5422
Thanks @Ark-kun. Good to know this is a bug in the KFP Argo compiler. We are able to work around on the KFP Tekton compiler because we decided not to put conditional tasks into a sub-dag to optimize it for Tekton.

We want to make sure Argo also compiles dependency on conditional task, so we are not diverging the runtime behavior with the same KFP DSL.

[2021-04-12 17:03] yuhuishi-convect commented on #5279
@Ark-kun  Thanks for the very comprehensive explanation.

This is something I was not aware of. I used `InputPath` since `synced_local_path` is expecting some output data from a previous component. But I was not aware of the auto-stripping mechanism so that the argument name needs to be changed when calling the function from the pipeline.

That answers my question. Is there a way this is documente

[2021-04-12 19:45] shrinath-suresh commented on #5426
@Bobgy

`tensorboard --help` output shows the db argument help as below

`  --db URI              [experimental] sets SQL database URI and enables DB backend mode, which is read-only unless --db_import is also passed.`

Looks like it is used specifically for SQLITE databases. I couldnt find the link where db argument is suggested to be used for S3 URLs

[2021-04-12 19:46] jagadeeshi2i opened #5460 "mlpipeline-ui-metadata.json not shown in output artifacts, using common pipeline volume."
### What steps did you take

## Approach 1:
https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/
As mentioned in the above link, we tried to write mlpipeline-ui-metadata.json to `/mlpipeline-ui-metadata.json`
this throws the below error

`invalid mount config for type "bind": invalid specification: destination can't be '/`

Sample code from component yaml
[code]

## Approach 2:
Tr

[2021-04-12 19:54] shrinath-suresh commented on #5426
We have installed kubeflow-pipelines using this branch - https://github.com/e2fyi/kubeflow-aws/tree/master . And looks like,  the configuration which is mentioned in the #4364 is already part of installation.

[2021-04-12 21:14] Ark-kun commented on #5453
I don't really know much about KFServing.
The general solution might be as follows:

* KFServe Launcher component creates a KFServe pod with an init container which will wait to receive the model. The init and main containers share an emptyDir volume where the model will be placed.
* The launcher component uses `kubectl cp` to copy the model into the init container FS, into the shared emptyDir vol

[2021-04-12 22:21] nakfour opened #5462 "[frontend] Pipeline generic installation does not include a virtual service"
When installing "platform-agnostic" and trying to get to the pipeline UI from the Kubeflow central dashboard, we get "Sorry, /pipeline/ is not a valid page". Checking for virtualservices in namespace kubeflow, there are none for pipelines. Looking at the code, we dont see a VirtualService created : https://github.com/kubeflow/manifests/tree/master/apps/pipeline/upstream/base/installs/generic
While

[2021-04-13 00:09] Ark-kun commented on #5460
We do not support `fileOutputs`. It was deprecated from the start. Please use `outputPath` placeholder instead.

This is correct. Thank you.

Let's debug your issue.

Are you seeing any outputs in the `Inputs/Outputs` tab?

What are you writing to the json file?

[2021-04-13 07:12] Bobgy commented on #5426
@shrinath-suresh thanks for these additional information

just to be sure, I want to confirm this --

when you see "empty dashboard is shown", can you try to get logs of the tensorboard instance? It may have more detailed error messages.

[2021-04-13 09:37] lechwolowski commented on #5426
It doesn't wanna work for me either on tensorflow 2.0.0 with following Error message: Unable to connect to endpoint. While it works on tensorflow 2.3.2. Is there a way to bump up tensorflow version for this viewer?

[2021-04-13 11:43] aronla commented on #5438
Hi and thanks for your answers! Yes, I can build components using `kfp.components.create_component_from_func` sucessfully. But the functionality is different I guess - `build_python_component` creates a docker-image and `create_component_from_func` just "injects" the code into the manifest and runs it on a base-image.

To be honest, I was just trying to learn the SDK using the tutorial and a local

[2021-04-13 11:43] #5438 closed

[2021-04-13 12:18] jagadeeshi2i commented on #5460
My output parameters shows

**Output parameters**
[code]
Data written to json
[code]

[2021-04-13 15:22] wilbry commented on #5453
I also don't have much KFServing knowledge. I saw it it was part of the overall Kubeflow framework and wanted to use it to deploy models trained using KFP. Do you know who might be good to loop into this discussion or should I open an issue over in kfserving?

[2021-04-13 17:04] DavidSpek commented on #5439
You can have Renovate execute a script as well, so it might still be possible to fully automate.

[2021-04-13 17:08] amyxst commented on #5282
@Ark-kun Thank you for your detailed response! I just want to clarify,

## 1.
I think the main issue that I've seen is with regards to what you mention about:

If we have a program `myprint.py` that can optionally accept an option `--param1`, a user running the program in the normal course of action can choose to omit specifying a value for the option by omitting it from the program execution alto

[2021-04-13 17:12] cp2587 commented on #4175
Hello,

Is there any update on this issue ? How did you circumvent the issue @guanhuichen ?

[2021-04-13 18:08] amitripshtos commented on #4649
I'm adding a comment from a chat between me and @arllanos
[code]

[2021-04-13 20:10] Ark-kun opened #5467 "[bug] v2 Sample test: mysql_query aborted: errno: 1213, error: Deadlock found when trying to get lock; try restarting transaction"
https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/bb97866a-d8ad-44a1-bd8e-c28f8df1a560

[code]

[2021-04-13 23:59] Ark-kun commented on #5467
P.S. The error is intermittent and disappeared after re-run.

[2021-04-14 06:55] jdavis34265 opened #5470 "Assigning copyright to the project authors"
I wanted to start a discussion about the open-source nature of the Kubeflow projects.
Most Kubeflow projects already follow the opens-source guidelines, but I've noticed some issues in the Kubeflow Pipelines project.

I see that the Kubeflow Pipelines has a great developer community that takes a big part in development.
Despite that I've noticed that all copyrights are being assigned to the Google

[2021-04-14 08:46] Bobgy commented on #5470
@jdavis34265 I think this is a very good point!
There were some early usages of "The Kubeflow Authors" in pipelines repo too, see https://github.com/kubeflow/pipelines/search?p=1&q=the+kubeflow+authors. However, we are not enforcing this style consistently.

I think it's reasonable to discuss this proposal, and if we accept it. IIUC, we should ask all the new contributions to copyright to `The Kub

[2021-04-14 08:47] Bobgy commented on #5467
It seems we should add retry when calling KFP API

[2021-04-14 08:59] Bobgy opened #5471 "[feature] support customizing Tensorboard images"
### Feature Area

/area frontend

### What feature would you like to see?

Allow users to customize the tensorboard image they want to use in KFP component visualizations.
https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/

### What is the use case or pain point?

It's currently not possible to choose any tensorboard image version unless it is [hard-coded in KFP UI](https://gith

[2021-04-14 09:07] Bobgy commented on #5449
Hi @chauhang, thank you for the report!
It's not currently possible, but I think the best way to support this is:
1. you build a tensorboard image that already installs torch-tb-profiler
2. you use https://github.com/kubeflow/pipelines/issues/5471 to switch to your custom tensorboard image

How does that sound to you?

[2021-04-14 09:09] Bobgy commented on #5471
I think option 1 and 2 can probably both be useful

[2021-04-14 09:11] Bobgy commented on #5471
Some feature requests that is related to this https://github.com/kubeflow/pipelines/issues/1641 https://github.com/kubeflow/pipelines/issues/4714

[2021-04-14 09:11] Bobgy commented on #5426
@lechwolowski it's not currently, but I just filed https://github.com/kubeflow/pipelines/issues/5471 which tries to support customizing tensorboard image

[2021-04-14 10:01] Bobgy commented on #5471
Note, a prerequisite for implementing this feature is supporting passing full image to KFP viewer API. Currently we can only pass tensorboard version there: see https://github.com/kubeflow/pipelines/blob/2c682299202ad019bb2b2bb2ac8903c72ab245cf/frontend/src/components/viewers/Tensorboard.tsx#L215-L229 and https://github.com/kubeflow/pipelines/blob/2c682299202ad019bb2b2bb2ac8903c72ab245cf/frontend/

[2021-04-14 10:40] josete89 commented on #4649
Hey there!

Just a small thing, maybe doesn't make any sense, but there is an issue with the same purpose #4790 do you think both can be combined?

Regards

[2021-04-14 10:41] Bobgy commented on #3505
TODOs done, p0 requirements have all been implemented.
See documentation: https://github.com/kubeflow/pipelines/tree/master/v2/test

[2021-04-14 10:41] #3505 closed

[2021-04-14 13:57] Bobgy commented on #5467
https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/26a16bda-2f69-4cc1-baf1-cde02947a64e

I'm seeing this once too, among many pipelines in one test, this was the only one that failed. This seems flaky.

[2021-04-14 15:35] StefanoFioravanzo opened #5474 "[Discussion] Future of Run UUID placeholders: `[[RunUUID]]` vs `kfp.dsl.RUN_ID_PLACEHOLDER`"
After merging #4995 we realized that there is some conflicting behaviour between the `[[RunUUID]]` macro and `kfp.dsl.RUN_ID_PLACEHOLDER` (which points to `{{workflow.uid}}` (related to #3709).

I will bring here some discussion from #4995 so we can continue here.

@Bobgy says:

@StefanoFioravanzo says:

[2021-04-14 17:23] mustafaghaliUnity opened #5475 "[components] BrokenPipeError: [Errno 32] Broken pipe issue during mlengine_train_op hyperparameters optimization job"
### Environment
GCP AI platform

*  How did you deploy Kubeflow Pipelines (KFP)?
AI platform deployment

*  KFP version:
1.4.0

*  KFP SDK version:
1.4.0

### Steps to reproduce

[code]
### the log of this component run is:
[code]

### Materials and Reference
referring to [Ml_engine_train_op component ](https://github.com/kubeflow/pipelines/blob/master/components/gcp/ml_engine/train/README.md)
---

[2021-04-14 20:13] chensun opened #5476 "04/14/21 - presubmit kubeflow-pipelines-tfx-python36 failing"
2021-04-14 09:52:20.924348: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
Traceback (most recent call last):
  File "taxi_pipeline_kubeflow_gcp_test.py", line 24, in <module>
    from tfx.examples.chicago_taxi_pipeline import taxi_pipeline_kubeflow_gcp
  File "/usr/local/lib/python3.6/site-packages/tfx/examples/chi

[2021-04-14 21:44] #5476 closed

[2021-04-14 22:26] Ark-kun commented on #5460
Oh, it looks like you're using volume-based data passing strategy.
Unfortunately, it's currently not supported by the UX.

[2021-04-15 03:22] motocoder-cn opened #5480 "[backend] go get github.com/kubeflow/pipelines got k8s.io/kubernetes@v0.17.9: invalid version: unknown revision v0.17.9"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

install pipelines with kubeflow 1.3.0-rc.0 with kubeflow/manifest repo example manifest

*  KFP version:

with pipeline docker image, pipeline version is 1.5.0-rc.2

*  KFP SDK version:

not use

### Steps to reproduce

just exec 'go get github.com/kubeflow/pipelines'

then got error `go get k8s.io/kubernetes@v0.17.9: k8s.io/kuberne

[2021-04-15 04:13] chauhang commented on #5460
@Ark-kun @paveldournov @Bobgy   Can you please comment on how exactly the tensorboard configuration and logs are getting picked up so that the output can be shown from pvc/volume location and visualized in the UI: https://github.com/kubeflow/pipelines/blob/master/components/tensorflow/tensorboard/prepare_tensorboard/component.yaml

[2021-04-15 07:38] Bobgy commented on #5460
Discussed over zoom, this approach doesn't work currently. As @Ark-kun replied above, when passing data using volume, KFP UI cannot access the files.

[2021-04-15 08:39] Bobgy opened #5483 "[feature] Make MLMD grpc API available through python REST client"
### Feature Area

/area backend

### What feature would you like to see?

Instead of https://github.com/grpc/grpc-web which we are currently using,
use https://github.com/grpc-ecosystem/grpc-gateway to make MLMD grpc API accessible from outside the cluster as a REST endpoint with multiple language clients including Python.

### What is the use case or pain point?

There is no python client for MLM

[2021-04-15 09:23] Bobgy commented on #5483
Hmmm, this is exactly kubeflow/metadata server: https://github.com/kubeflow/metadata/tree/master/api
They used grpc-gateway to generate a REST python client for Metadata API.

[2021-04-15 10:53] wenmin-wu commented on #4809
I came across the same problem while just listing 10 runs.

[2021-04-15 14:31] maganaluis commented on #4649
@amitripshtos I'm working with Ariel on this, I like this breakdown. We have completed points 2, and 4 internally in PwC and want to make the changes available upstream.

I think point 1 (having it REST configurable like service accounts) will require changes to the Proto files, and UI changes but ultimately this should be our goal.

In regards to point 3, we first have to upgrade Argo. Have you t

[2021-04-15 14:47] Mullefa opened #5484 "[bug] Confusion matrix component task fails"
### What steps did you take

I created a task in a pipeline using the [confusion matrix](https://github.com/kubeflow/pipelines/tree/ab63956f3a61d4d11b27ac26f097e1784588fed9/components/local/confusion_matrix) component.

### What happened:
The task failed with the following message:
[code]
I believe this is because the Python dependencies are [installed for Python 3](https://github.com/kubeflow/pip

[2021-04-15 15:29] #5457 closed

[2021-04-15 18:23] wilbry commented on #5453
Looking into this more, I found an earlier comment where you recommend explicit persisting: [#4381](https://github.com/kubeflow/pipelines/issues/4381#issuecomment-675083510). I think that is the path forward right now. Maybe this is outside the purview of this project, but for cloud providers that provide managed service, this may lead to duplicating the storage, so it would be nice to be able to

[2021-04-15 23:36] Bobgy commented on #4649
Good points @amitripshtos @maganaluis !
Agree with the plan for KFP v1.

Note, there are early efforts to build KFP v2 experimental, where we support configuring a different artifact output_directory at

* Cluster default
* Pipeline default (in dsl)
* Submitting a run (in pipeline parameter)

Credentials config is decoupled, allowing config at

* Cluster default (for minio only, but we can conside

[2021-04-16 00:53] zijianjoy commented on #5484
Thank you @Mullefa for identifying this issue! Would you like to create a PR to bump up python version for the fix?

[2021-04-16 00:58] zijianjoy commented on #5480
Thank you @ZhengJuCn for filing this request! Would you like to make a PR for the go get module supportability?

[2021-04-16 01:02] zijianjoy commented on #5480
cc @Bobgy @capri-xiyue

[2021-04-16 01:50] zijianjoy commented on #5462
Thank you @nakfour for submitting this request!

@Bobgy and I have discussed about this issue and our initial thinking is to perform following refactorings:

1. For `ml-pipeline-ui` VirtualService, we need to create a folder called `ml-pipeline-ui` under https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/base/pipeline, and put all UI related items, including virtual service file

[2021-04-16 01:51] zijianjoy commented on #5462
For now, you can use the `kubeflow/pipelines` instead of `kubeflow/manifests` repo for the virtual service definition: https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/metadata/options/istio/virtual-service.yaml

[2021-04-16 01:55] Bobgy commented on #5462
@zijianjoy virtual service for ml-pipeline-ui should still be put in options folder, because it's not needed for env without istio.

[2021-04-16 03:09] hsinhoyeh opened #5493 "default resource overhead for each individual profile"
**Question:**
Not sure whether this question has been discussed before, but I am curious about the resource overhead for each individual profile.
In the current configuration ( in v1.2, v1.3), when creating one single profile, there are two running pods are created by default:

[code]

each one takes additional istio sidecar container (cost 100m cpu/ 128Mi memory).
so in total cpu requested 100m *

[2021-04-16 04:07] paveldournov commented on #5460
@Ark-kun - this followed your earlier recommendation for creating a single volume that is automatically mounted to all pipeline steps.

[2021-04-16 05:26] shrinath-suresh commented on #5426
@Bobgy We have identified the solution. Tensorboard with S3 buckets works based on region. The bucket which we used was in different region. Once  we updated the AWS_REGION variable in cluster, we are able to see the tensorboard UI

[2021-04-16 06:30] Bobgy commented on #5426
Cool @shrinath-suresh it'll be helpful commenting what exactly is required (like an example patch of tensorboard), so other people finding this issue can get their problems solved

[2021-04-16 06:52] Bobgy commented on #5178
TODO: update TFX upgrade documentation

[2021-04-16 06:59] shrinath-suresh commented on #5426
Solution: Tensorboard with S3 URLs works **based on the region where bucket is placed**. Ensure to set `AWS_REGION` value as same as the bucket region.

[2021-04-16 06:59] #5426 closed

[2021-04-16 07:02] shrinath-suresh commented on #5426
@Bobgy It will be more helpful if the documentation is updated about the supported systems - https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#tensorboard . What do you think ?

[2021-04-16 07:27] Bobgy commented on #5426
That's a very good point, do you want to contribute that?

[2021-04-16 09:32] Bobgy commented on #4714
/lifecycle frozen

[2021-04-16 09:33] Bobgy commented on #5426
Besides that, IIUC `AWS_REGION` can be different per pipeline?
So I think it'll be ideal to support https://github.com/kubeflow/pipelines/issues/4714, e.g. you can configure the AWS_REGION in your mlpipeline-ui-metadata as a field, and let it auto picked up by KFP started tensorboard.

[2021-04-16 09:33] Bobgy commented on #5426
WDYT @shrinath-suresh

[2021-04-16 09:39] ConverJens commented on #5426
@Bobgy @shrinath-suresh Generally, to use anything Tensorflow-based (e.g. TF serving, TFX) the following environment variables needs to be set:
ENDPOINT_URL
S3_USE_HTTPS
S3_VERIFY_SSL
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

Additionally, one might need to add own certificates if you're self-hosting your S3 solution (e.g. Minio, Ceph) on-prem.

[2021-04-16 09:40] ConverJens commented on #5471
@Bobgy Being able to pass full image paths is a must for most on-prem installations since they use an internal docker registry. For instance, our k8s klusters have no external access and any tensorflow-based image needs our internal certificates added.

[2021-04-16 09:44] shrinath-suresh commented on #5426
Already occupied with  deliverables. I can pick it up after 2 weeks. I will make a note of it.

[2021-04-16 09:45] shrinath-suresh commented on #5426
It makes more sense to have it as a parameter in the mlpipeline-ui-metatadata and it would be easy to configure as well.

[2021-04-16 10:10] Bobgy commented on #5426
Thanks for the feedback @ConverJens @shrinath-suresh!
Let's move the discussion to https://github.com/kubeflow/pipelines/issues/4714

[2021-04-16 10:12] Bobgy commented on #4714
Quotes:

From @ConverJens:

From @shrinath-suresh

So, it's reasonable to add fields in tensorboard mlpipeline-ui-metadata spec ability to specify these environment variables.

[2021-04-16 13:45] nakfour commented on #5462
@Bobgy @zijianjoy sounds good. since these VRs are common for all options to install pipelines, good idea to place them under base/pipeline

[2021-04-16 15:25] Udiknedormin opened #5496 "[feature] graph_component accepting non-PipelineParam arguments"
### Feature Area

/area sdk

### What feature would you like to see?

`@graph_component` decorator accepting literal values, not just `PipelineParam`s. Currently, if a literal is passed, e.g. `0`, then the following error will be raised:
[code]

### What is the use case or pain point?

If a sequential recursive loop is to be implemented, it may start with a literal:

[code]

It's even worse if suc

[2021-04-16 23:21] kvamshi commented on #4876
create_run_from_pipeline_func returns RunPipelineResult, which has run_id attribute. This way you can link the runs you submitted with the run id.

[code]

[2021-04-16 23:24] kvamshi commented on #4700
When you submit a run, e.g. using create_run_from_pipeline_func, it returns RunPipelineResult, which has run_id attribute
[code]
You can use this id to retrieve other details from [KFP API ](https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/)

[2021-04-17 01:52] #5444 closed

[2021-04-17 18:03] schmidt-jake commented on #4876
Thanks for that suggestion @kvamshi. Would that solve the cache missing issue?

[2021-04-17 21:18] bencwallace commented on #4795
If `run_pipeline` is legacy, then what's the recommended way to run a pipeline, given its ID?

[2021-04-18 01:22] Bobgy commented on #4809
I agree with Alexey, but we will need to add some extra fields in the db to store any info we need in the list, but was only on the argo workflow.

[2021-04-18 01:42] Bobgy commented on #5282
Hey @amyxst, did you check https://github.com/kubeflow/pipelines/blob/master/samples/test/placeholder_if.py?

Currently, KFP doesn't really support runtime if placeholder, so suggest wrapping your command call in bash or python and add the conditional there

[2021-04-19 03:16] Bobgy commented on #5303
Hi @SaschaHeyer, sorry I do not know how to compile and run your pipeline.
Can you document that?

[2021-04-19 03:27] Bobgy commented on #5303
An important thing to verify is whether the following annotation exists on your pods:
![image](https://user-images.githubusercontent.com/4957653/115177640-379d6300-a102-11eb-8d61-b756b431b098.png)

`pipelines.kubeflow.org/pipeline-sdk-type: tfx`

[2021-04-19 03:43] Bobgy commented on #5269
@raffaelespazzoli sorry I didn't see the notification, maybe you can try Kubeflow 1.3 soon.

Now they have verified KFP multi-user mode working properly for installation on K8s cluster only.

[2021-04-19 03:50] Bobgy commented on #5450
Hi @myoshimu, you can edit the parameter and replace {{kfp-default-bucket}} with your own bucket.

but you are right, it should be replaced automatically during installation, it's strange that failed

[2021-04-19 04:03] Bobgy commented on #4752
Suggested in the design doc

[2021-04-19 08:37] Bobgy commented on #5471
/assign
I will work on this shortly, the best way to help is confirm whether above suggested options fit your use-case.

I will implement option 2 directly, because that seems like the fundamental requirement.

[2021-04-19 08:47] ConverJens commented on #5471
@Bobgy This seems like a good option.

[2021-04-19 08:49] Bobgy commented on #5460
@paveldournov although this approach is technically possible, it too hacky and currently needs too many manual deployment configurations to get it working e2e.

1. tensorboard pod needs a config to mount volumes
2. KFP ui needs an uri scheme to understand an artifact is on a volume

All of these need to be configured by cluster operator and very fragile.

[2021-04-19 09:57] lechwolowski commented on #5471
@Bobgy Thanks, btw which version can I expect it to land on?

[2021-04-19 10:19] Bobgy commented on #4714
See https://blog.min.io/hyper-scale-machine-learning-with-minio-and-tensorflow/,

The requirements for getting tensorboard to work with MinIO is similar to S3.

[2021-04-19 10:25] ConverJens commented on #4714
Very similar. We are currently using TFX and Minio in the fashion described in the post. The main difference is that Minio is usually self-hosted and hence, may require custom certificates.

[2021-04-19 11:56] Bobgy commented on #4714
Hi @ConverJens, thank you for sharing your scenario. What customizations do we need from KFP side to support custom certificate?

[2021-04-19 11:58] ConverJens commented on #4714
@Bobgy No problem. For us, it's sufficient if we can specify a custom tensorboard image and said env vars.

[2021-04-19 12:06] Bobgy commented on #5471
@lechwolowski 1.5.0 has been too close to a final release, so you should expect it to land on 1.6.0, but I can share a prebuilt image you can put in your cluster first to get this feature. KFP UI server has been very stable, so I won't expect much incompatibilities.

[2021-04-19 12:08] meowcakes opened #5503 "[sdk] Bug when using kfp.dsl.ParallelFor with kfp.components.create_component_from_func"
### Environment

*  KFP version: 1.1
*  KFP SDK version: 1.4
*  All dependencies version:
kfp                                1.4.0
kfp-pipeline-spec                  0.1.7
kfp-server-api                     1.4.1

### Steps to reproduce

Run the following pipeline:

[code]

### Expected result

The parallel for over `b` should create 3 tasks, with each task printing `<class 'dict'>` followed by `{

[2021-04-19 13:38] bdoohan-goog opened #5504 "[backend] Managed Storage Option Fails on KFP"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
On Google Cloud Platform via "AI Platform" > "Pipelines" > "New Pipeline"
*  KFP version:
* 1.4.1
*  KFP SDK version:
kfp                            1.4.0
kfp-pipeline-spec              0.1.7
kfp-server-api                 1.4.1

### Steps to reproduce

1) Log into console.cloud.google.com
2) Navigate to AI Platform > Kubeflow Pipeli

[2021-04-19 16:44] #5452 closed

[2021-04-19 16:44] #5462 closed

[2021-04-19 21:08] raffaelespazzoli opened #5507 "[kubeflow v1.3.0-rc.1] cache server certificate secret not being created"
I'm trying installing kubeflow v1.3.0-rc.1 with the official manifests and it seems to me that the manifests for creating the certs for the cache-server are not present.
It is still hard to say for certain for sure as the kustomize composition is still very hard to follow. That said, thanks for having removed kfctl and kfdef.

[2021-04-20 02:00] Bobgy opened #5505 "[v2 sample test] auto scan all files with suffix _test.py instead of config.yaml"
# Problem

We need to add an entry in [samples/test/config.yaml](https://github.com/kubeflow/pipelines/blob/master/samples/test/config.yaml), each time when we add a new sample. This can be error prone, also unnecessary, because the config.yaml file doesn't contain much information so far.

# Proposal

We can just scan all files in the samples folder with `_test.py` suffix and run them. WDUT?

Ori

[2021-04-20 02:48] Bobgy opened #5506 "[v2 sample test] separate samples from tests?"
_Originally posted by @Ark-kun in https://github.com/kubeflow/pipelines/pull/5473#discussion_r616266440_

[2021-04-20 02:49] Bobgy commented on #5506
@Ark-kun what kind of folder structure do you propose?

[2021-04-20 02:51] Bobgy commented on #5506
I don't strongly feel that we need to hide tests, maybe users also want to know how they can
* test their pipelines
* extract results from their pipelines in an external system

Also, for user facing samples, they are already in separate folders, so each folder only contains a few files. It's very easy to identify that some files ending with `_test.py` are the tests.

[2021-04-20 02:51] Bobgy commented on #5506
Also, we want new sample contributors to be able to easily setup a new test.

[2021-04-20 07:47] Bobgy commented on #5507
Also transferred to KFP repo

[2021-04-20 08:10] jw-websensa opened #5509 "[feature] Artifacts validity period"
### Feature Area
/area backend
/area components

### What feature would you like to see?

Pipeline run artifacts validity period.

### What is the use case or pain point?

I'm using Kubeflow with on-premise Kubernetes cluster.
As we use Rancher local path provisioner for Storage Class it is crucial to control disk usage (this class does not work with pvc limits).
I wonder if it is possible to set

[2021-04-20 08:21] Bobgy commented on #5504
After some offline troubleshooting, found that

note the bucket name inputted should NOT contain "gs://" prefix.

[2021-04-20 12:04] raffaelespazzoli commented on #5507
@Bobgy yeah, I intended to open this on the manifests repo. sorry for this., can you add the link to where you transferred it to?
I'm seeing this issue with both minkube 1.17.1 and openshift 4.7 (corresponding to kube 1.20). In both cases I'm using the https://github.com/kubeflow/manifests/apps/pipeline/upstream/env/platform-agnostic-multi-user/?ref=v1.3.0-rc.1 manifests.

When I manually added th

[2021-04-20 12:20] swamat opened #5510 "Namespace not showing up in kubeflow UI"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

*  KFP version: 1.20

### Steps to reproduce

I installed kubeflow in AWS. The dashboard is up. when i create a new namespace using profile.yaml, am able to see the created namespace using kubectl get profiles command. But not able to see the new namespace in UI

### Expecte

[2021-04-20 14:45] bdoohan-goog commented on #5504
@Bobgy , that fixed the issue. Thank you! It would be great if the KFP setup UI had more proactive errors, alerting the user as soon as they enter in the "gs://". Thank you once again!

[2021-04-20 14:45] #5504 closed

[2021-04-20 15:47] midhun1998 opened #5511 "Can the workflow controller be upgraded to argo v2.12.6?"
Hi,
We are looking to upgrade the workflow controller to v2.12.6 based on #4553 . The current version of Argo workflow controller installed is v2.3 which comes with Kubeflow v1.2. The main reason to upgrade is Argo v2.3 only outputs very few workflow metrics.
Will there be any incompatibilities? If no, will changing the image be enough or should we upgrade any other components? Please guide @Bobgy

[2021-04-20 16:31] Bobgy commented on #5511
Hi @midhun1998, kubeflow 1.3 is about to release and argo workflow controller has been upgraded to 2.12.9

[2021-04-20 16:43] jackwhelpton opened #5512 "Missing Markdown support: horizontal rule, emojis"
### Environment

*  KFP version: 1.0.1

### Steps to reproduce

Output a markdown artifact containing the missing features: a horizontal rule, and an emoji, e.g. `:warning:`

[code]

### Expected result

The Visualizations tab and Run output should render the horizontal rule and emoji:

line1
---
⚠️ Item had multiple genre labels

Instead, the original markup code is visible:

`line1 --- :warning:

[2021-04-20 16:49] jackwhelpton commented on #5512
As a workaround, using the character ⚠️ directly works.

[2021-04-20 17:12] midhun1998 commented on #5511
Thanks for letting me know @Bobgy . I'm really excited for Kubeflow 1.3 🎉. But we are planning to upgrade to Kubeflow only post some analysis(Could take a while🙁) . Meanwhile, is it possible to upgrade the current workflow controller as asked in my first question?

[2021-04-20 20:13] jackwhelpton opened #5513 "Large inline Markdown visualization causes OOM"
### Environment

*  KFP version: 1.0.1

### Steps to reproduce

Output a markdown artifact containing a large amount of Markdown inline:

[code]

### Expected result

The Visualizations tab and Run output should render the Markdown.

Instead, the original markup code is visible: instead, after some time loading, the Chrome tab will crash with SBOX_FATAL_MEMORY_EXCEEDED.

Impacted by this bug? Give

[2021-04-20 20:13] jackwhelpton commented on #5513
I'm going to experiment with uploading this Markdown content to GCS, and see if that is handled better.

[2021-04-20 20:50] NikeNano commented on #4752
Thanks for the feedback, will start the actual work next week.

[2021-04-20 22:58] Bobgy commented on #5511
Not sure, I think you should be good. Have a try?

[2021-04-20 23:02] Bobgy commented on #5507
@raffaelespazzoli the issue seems to be KFP specific, so I suggest putting it here. You can ping corresponding distribution owners here too.

[2021-04-20 23:08] Bobgy commented on #5507
cache-deployer deployment is responsible for creating the cert, can you report what logs are there?

[2021-04-21 03:45] midhun1998 commented on #5511
Cool. Will test it and update here incase someone else is in the same situation. 👍🏻

[2021-04-21 08:40] zijianjoy commented on #5510
Hello @swamat , the issue you reported looks like something related to Kubeflow, but not Kubeflow Pipelines. Centraldashboard is located in https://github.com/kubeflow/kubeflow/tree/master/components/centraldashboard

[2021-04-21 08:51] joeyaza commented on #3988
im trying to do the same as above. Have a Kubeflow instance access via Cognito but cannot seem to gain access with
`client = kfp.Client(
        host=host,
        existing_token=token,
    )`

using the token I have gained from `/oauth2/token` endpoint. Is this route not possible with AWS? if not is there another way to programmatically access Kubeflow on aws?
thanks!

[2021-04-21 13:17] difince opened #5518 "[bug] Lexical error in pipeline samples"
### What steps did you take
It is just a lexical error in pipeline sample file - [Data passing in python components - Files.py](https://github.com/kubeflow/pipelines/blob/d79071c0bef19442483abc101769a0d893e72f42/samples/tutorials/Data%20passing%20in%20python%20components/Data%20passing%20in%20python%20components%20-%20Files.py)

### What did you expect to happen:
**taht** to be written correctly:

[2021-04-21 13:27] Gevorg-Minasyan opened #5519 "[feature] GCP Cloud ML Engine Component Support Local Training"
### Feature Area

[GCP Components](https://github.com/kubeflow/pipelines/tree/master/components/gcp/ml_engine)

### What feature would you like to see?

Support to run [AI Platform training job locally.]( https://cloud.google.com/sdk/gcloud/reference/ml-engine/local/train)

### What is the use case or pain point?

A pain point is the pipeline testing part, which took a long time to test changes by

[2021-04-21 15:02] difince commented on #5518
/assign @difince

[2021-04-22 03:01] Bobgy opened #5521 "[frontend] tensorboard 2.3+ cannot load in KFP visualization"
### Steps to reproduce

1. customize tensorboard image with https://github.com/kubeflow/pipelines/pull/5515, use image tensorflow/tensorflow:2.3.2
2. start tensorboard in KFP UI.
3. click tensorboard link.
4. TB UI loads, but fails with error message `Failed to fetch runs` and redirects to root path `/`.
5. upcoming network requests to TB fails, because root path does not proxy to tensorboard

###

[2021-04-22 06:31] Bobgy opened #5524 "[Test infra] 2021.4.22 -- v2 sample test failing -- API Exception 502"
I found that all the pods in node `gke-kfp-standalone-1-kfp-standalone-1-60baa0a0-07jc` are either stuck at Terminating or ContainerCreating.

So I'm going to delete this node.

Test link: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5515/kubeflow-pipelines-samples-v2/1385113976681009152

[2021-04-22 06:32] Bobgy commented on #5524
Deleted the unhealthy node

[2021-04-22 06:41] Bobgy commented on #5524
I'm not seeing google cloud automatically bringing up a new node, so I edited in UI directly. I'm not sure what the canonical process should be.

[2021-04-22 07:53] Bobgy commented on #5524
after deleting the unhealthy node, it recovered

[2021-04-22 07:54] Bobgy commented on #5524
Closing the issue, but maybe we need to figure out next time how unhealthy nodes can be removed automatically. (to clarify, the node was said to be healthy by kubernetes, but all workload on it was stuck)

[2021-04-22 07:54] #5524 closed

[2021-04-22 12:08] DavidSpek commented on #5254
@Bobgy It seems like https://github.com/kubeflow/pipelines/pull/5349 is not included in kfp 1.4.1rc1. Is there a timeline for an updated release of the kfp package?

[2021-04-22 13:28] Bobgy commented on #5254
@neuromage to comment on this

[2021-04-22 17:50] prasadkyp7 opened #5529 "Kubeflow crashing"
when we run many pipelines(more than 500) using KFP-API , the entire kubeflow and UI is crashing. when i look back in kubernetes its showing this error-failed to create a watcher for certificate files: inotify_init: too many open files. We are not able to track/understand this error. But this crash is happening because of running many pipelines. Any help would be greatly appreciated.

[2021-04-22 21:26] zijianjoy commented on #5529
Hello @prasadkyp7 ,

Would you like to provide more detail on the deployment environment?

Are.you using Full Kubeflow deployment, or KFP standalone? What kind of cloud provider you are using?

Versioning questions:
1. How do you deploy Kubeflow Pipelines (KFP)?
2. KFP version:
3. KFP SDK version:

What are the detailed steps to reproduce this issue?

[2021-04-22 21:31] zijianjoy commented on #5518
Updated the text with https://github.com/kubeflow/pipelines/commit/acc2c2aaafa6c3a6b0cc90eef5d61cfd43440aef

[2021-04-22 21:31] #5518 closed

[2021-04-23 01:01] Bobgy commented on #5496
/assign @neuromage @chensun

[2021-04-23 01:08] zijianjoy commented on #5493
Hello @hsinhoyeh , you can disable the pipeline pods by setting the following label from your profile's namespace labels: `pipelines.kubeflow.org/enabled: false`.

You can do this for all the profiles that don't require Kubeflow Pipelines. For future roadmap, we plan to remove visualization server too.

Does this solve your issue?