[2019-04-10 01:41] vswami78 commented on #1070
Sorry I should have responded earlier . Compiling the DSL worked for me.
Thanks!

On Tue, Apr 9, 2019 at 2:48 PM Alexey Volkov <notifications@github.com>
wrote:

[2019-04-10 03:18] Ark-kun commented on #1017
I see it almost every time I submit a run from a notebook.

AFAIR, the error message was the same ~ "Failed to retrieve run".

[2019-04-10 06:56] ianhellstrom opened #1127 "Deploy a TFX pipeline from the command line"
Is it possible to deploy a TFX pipeline from the command line? The [examples in notebooks](https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/KubeFlow%20Pipeline%20Using%20TFX%20OSS%20Components.ipynb) all show the notebook has to run inside the Kubernetes cluster that the pipelines are supposed to run.

It would be helpful to not have to go through the UI for deploying pipelines

[2019-04-10 11:41] jlewi commented on #1104
For GCP IAP see here for how to obtain a JWT and attach it to the request.
https://cloud.google.com/iap/docs/authentication-howto

You can't use the gcloud credential e.g. `gcloud auth print-access-token`.

This is by design because gcloud has a credential with cloud platform scope whereas with IAP a user is accessing web services separate from Google cloud.

[2019-04-10 17:40] mameshini opened #1130 "[CRUD][SDK] Need to support upload/delete of pipeline tarballs."
Currently Python DSL provides an API to create an experiment run, but there is no API to upload a new pipeline template from tarball file, without running it.  There is Upload pipeline API in Go, but a similar method is not available from Python:
`s.pipelineUploadClient.UploadFile("../resources/arguments-parameters.yaml", uploadParams.NewUploadPipelineParams())
`

Looks like the Python client is a

[2019-04-10 17:49] swiftdiaries commented on #1127
You can do this now from the Pipelines CLI
[Look here](https://github.com/kubeflow/pipelines/tree/master/backend/src/cmd/ml) for instructions to install the CLI

[2019-04-10 18:34] Jeffwan opened #1131 "Add AWS Support in Pipeline"
I get some requests from aws users asking for better support pipeline project on aws. l take a look at the project and notice there're some areas I can improve for aws users.

- [x] Add helper to easily add AWS secrets and volume in pipeline building. #1133
- [x] Add S3 Client in frontend to read artifacts #1278
- [x] Cloud runner support. (EMR, Athena, SageMaker).  #1276  #1286
- [x] E2E Examples

[2019-04-10 20:16] inc0 opened #1132 "Expose Pipelines as CRD and enable to easy migration from Argo workflow"
Currently to use pipelines you need to run python SDK, only that generates argo workflow underneath etc. I think this is very limiting because:

1. not everyone uses python
2. requires to learn whole new API and DSL
3. Argo has a lot of examples already, shame that we can't tap to this knowledge source
4. Argo can do much more than just data pipelines, you can learn one syntax and have it used for

[2019-04-10 21:10] Ark-kun commented on #1130
Python SDK has two clients - the auto-generated low-level API client and higher-level convenience wrapper.
At one point the pipeline upload method existed, but was removed later.

Our current vision is moving away from the "pipelines" to [pipeline] components - pipelines should become composable components just like other components. With thousands of components (in future) a plain list of all com

[2019-04-10 21:13] Ark-kun commented on #1131
The system already allows that. But adding some helper method can be useful.

[2019-04-10 21:23] Ark-kun commented on #1132
I'm not sure this is needed.
Currently KF Pipelines use Argo Workflow CRD without changes. Pipelines do not extend it - there are no extra pipeline-specific fields.

If we decide to replace Argo, then we'll create a new CRD.

I do not think KF Pipelines requires you to do that.
Pipelines Python SDK just allows some people to write

[code]

instead of writing the YAML manually.

[2019-04-10 21:25] Ark-kun commented on #1070
What do you think was the difference in your runs that has triggered the issue?

P.S. If you see something problematic in the component or sample code, please feel free to create issues or PRs.

[2019-04-10 21:45] Jeffwan commented on #1131
Thanks! Change description and make it more clear.

[2019-04-10 22:13] zhitaoli opened #1134 "Use range instead of pin for python dependencies for kfp"
Currently kfp pins a list of package versions in [sdk/python/setup.py](https://github.com/kubeflow/pipelines/blob/52d7c7bd9e3076d4077d112dbf94211f9e51538c/sdk/python/setup.py). It could be too restrictive if kfp is used with other OSS projects (i.e, tfx).

The particularly conflicting one is 'google-auth==1.6.1'.

Can we use a range version for kfp dependencies?

[2019-04-10 22:30] mameshini commented on #1130
The use case is to automate uploading of Pipeline templates to an existing KFP instance. Pipeline tarballs can be regularly updated by Ops team to provide data scientists with the latest templates. Automation of this process would help to ensure deployment of latest versions of pipelines and notebooks across multiple environments/clusters.  Data scientists or data engineers can use Pipeline templa

[2019-04-11 00:23] kevinbache opened #1135 "`func_to_container_op` converting underscores to dashes"
`func_to_container_op` is converting underscores in NamedTuple output variables to dashes

[2019-04-11 04:24] inc0 commented on #1132
So, if I'd submit argo workflow, it will be picked up by pipelines immediatly? How, for example, will it save metrics?

[2019-04-11 06:32] ianhellstrom commented on #1127
That does not seem to work on my system:

[code]

After that I try the `ml` command but it's not in my `$GOPATH` because the installation failed. Any ideas on how to fix that. I'm running go1.12.3 darwin/amd64 on MacOS.

[2019-04-11 06:46] ianhellstrom commented on #1127
I tried it without setting `GO111MODULE=on` and it worked.

[2019-04-11 06:55] ianhellstrom commented on #1127
However, when trying to create a pipeline from a local tar.gz file it fails with an internal server error.

I tried: `ml pipeline create -n kubeflow --name 'Whatever' --url $(pwd)/pipeline.tar.gz --debug`

The response:

[code]

[2019-04-11 08:52] ianhellstrom commented on #1127
Sorry, for the spam: I should have checked the `upload` command. That works.

[2019-04-11 08:52] #1127 closed

[2019-04-11 16:22] neuromage commented on #1134
/assign @neuromage

[2019-04-11 16:37] neuromage opened #1138 "Enable local test runner for Kubeflow Pipelines"
Today, there is no way to run a KFP pipeline on a local machine (outside of running a mini Kubernetes cluster locally). This makes testing pipelines for user difficult as they always have to go through the steps of uploading to a cluster to run even small tests on the correctness of the pipeline.

To solve this problem, it would be nice if KFP offers a way to run pipelines locally. Such a mode doe

[2019-04-11 16:46] neuromage commented on #1130
Exposing the API client in Python just like we do in Go sounds like a good idea, and relatively simple to do as well. There is no reason the Python client should not have feature parity with the Go version.

[2019-04-11 16:48] neuromage commented on #1130
Would welcome community contributions for this one. The relevant code lives here:
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py

[2019-04-11 16:57] zhitaoli commented on #1134
Thanks for the prompt action!

[2019-04-11 17:43] kevinbache commented on #1079
related: #780, #590

[2019-04-11 18:09] Ark-kun commented on #974
AFAIK all current type checking code can be tested by unit-tests that do not require cluster.
If you want to test a sample notebook, it's easy to programmatically convert it to python and execute.

[2019-04-11 18:34] swiftdiaries commented on #1127
Awesome ! Glad it works :)

[2019-04-11 19:40] vicaire commented on #1138
Some ideal requirements to consider:
- The local executor should support all the same features as execution within a GKE cluster.
- The local executor should not duplicate the code of the controllers used to execute the pipeline.
- The local executor should execute the yaml, not Python, so that both yaml and Python can be tested.

[2019-04-11 19:52] vicaire commented on #651
Note, resolving this issue should enable support for continuous online learning, as requested in https://github.com/kubeflow/pipelines/issues/1053

[2019-04-11 19:52] vicaire commented on #1053
Resolving in favor of https://github.com/kubeflow/pipelines/issues/651. Support for triggering workflow should enable the continuous online learning use case.

[2019-04-11 19:52] #1053 closed

[2019-04-11 19:54] vicaire commented on #1060
Hi Hongye, I don't understand the issue very well. Could you please provide more details?

[2019-04-11 20:01] vicaire commented on #1079
Resolving in favor of https://github.com/kubeflow/pipelines/issues/780 (support to run notebooks locally)

[2019-04-11 20:01] #1079 closed

[2019-04-11 20:04] vicaire commented on #1084
Resolving in favor of https://github.com/kubeflow/pipelines/issues/149. Feel free to add the results of your investigation to https://github.com/kubeflow/pipelines/issues/149.

[2019-04-11 20:04] #1084 closed

[2019-04-11 20:07] vicaire commented on #1099
Resolving in favor of https://github.com/kubeflow/pipelines/issues/827. Please re-open if this is a different issue.

[2019-04-11 20:07] #1099 closed

[2019-04-11 20:19] vicaire commented on #1132
Hi inc0@, having a CRD for pipeline is being considered. We are planing to implement this in multiple steps:
- First, we will create a pipeline spec that will combine and Argo workflow + additional data needed for ML pipelines.
- Initially, this spec will be processed by the pipeline API server and turned into an Argo workflow.
- Later on, we could turn this pipeline spec into a standalone CRD.
-

[2019-04-11 20:24] rileyjbauer opened #1142 "Backend Docker build fails with python error in resnet-train-pipeline.py"
Ran on master branch (`086d4763d9f163acdeb423bc2bc49ab470442a92`) with `--no-cache` arg and got the following the error:
[code]

[2019-04-11 21:30] neuromage commented on #1087
Yes definitely. I uploaded the latest version (0.1.16) to PyPi just now.

Ideally, we should look to push new wheels monthly, or whenever we have major changes in SDK. Weekly is probably much too frequent. If so, we can make it the duty of the release operator. What do you think @vicaire @IronPan @Ark-kun @gaoning777 ?

[2019-04-11 21:33] vicaire commented on #1087
Should we have a push to PyPi for each release of KFP? Otherwise the PyPi release and the KFP release would be out of sync.

I agree this should be part of the task of the release operator.

[2019-04-11 23:00] #1123 closed

[2019-04-11 23:28] IronPan commented on #1130
/assign @kevinbache

[2019-04-11 23:31] IronPan commented on #1130
+1 we have swagger definition for all APIs. it would be really nice to have the same client apis for all language.

[2019-04-12 00:25] Ark-kun opened #1146 "The number of members in the policy (1,503) is larger than the maximum allowed size 1,500"
`ERROR: (gcloud.projects.set-iam-policy) INVALID_ARGUMENT: The number of members in the policy (1,503) is larger than the maximum allowed size 1,500.
`
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1137/kubeflow-pipeline-e2e-test/1116420716355391488

[2019-04-12 00:31] Ark-kun commented on #1132
To provide metrics the workflow task must have an output artifact called 'mlpipeline-metrics'.

You have to submit the workflow against the pipelines API.
You can use either python client (`kfp.Client(...).run_pipeline(...)`) or CLI.
https://github.com/kubeflow/pipelines/tree/master/backend/src/cmd/ml

**Note that it's not considered a supported mode of operation. It may break in future.**

[2019-04-12 01:19] Ark-kun commented on #1146
@IronPan If you discover the root cause, can you please add a short comment on how to fix this issue in future.

[2019-04-12 02:37] Ark-kun commented on #1138
I guess only the proper local kubernetes cluster can satisfy this requirement. The test environment needs Minikube installed.

[2019-04-12 02:41] Ark-kun commented on #1138
I think it's better have a function to perform this instead of overloading the decorator:

[code]
If we want to differentiate, we can have
* run_pipeline_locally
* run_pipeline_using_docker
* run_pipeline_on_kubernetes
* run_pipeline_on_kfp

[2019-04-12 02:41] vicaire commented on #1138
BTW, what about providing users with a VM image that has all the tools installed (minikube and etc.) to make local execution easy?

[2019-04-12 04:40] kevinbache commented on #780
/assign @kevinbache

[2019-04-12 07:09] Jeffwan commented on #596
I am following up on JIRA ticket https://issues.apache.org/jira/browse/BEAM-2572 for s3 filesystem native support in Apache Beam Python SDK.

As an alternative, I use NFS as the storage right now and add a fews arguments to make sure
tf-serving `deployer` are working for non-GKE clusters.

Please check the example here. https://gist.github.com/Jeffwan/5ee66343e48cf52c08c4de98be98cc1d

Change Lists

[2019-04-12 07:15] Jeffwan commented on #514
@pantelis @gaoning777

@jlewi is right, code failed at
https://github.com/kubeflow/pipelines/blob/ac7366b9d8fc453b982027e9198a5bb15efecb2c/components/kubeflow/deployer/src/deploy.sh#L63-L65

By default, `--cluster-name` is not part of arguments. User can skip query metadata service by adding  `--cluster-name`.  BTW, this is unnecessary to get access to kubernetes api server.  Cluster name can be a

[2019-04-12 07:20] #1134 closed

[2019-04-12 07:25] IronPan opened #1149 "Pagination broken in UI"
![image](https://user-images.githubusercontent.com/2348602/56019413-5ff35b00-5cb9-11e9-8f1e-5ac75492ccb4.png)

Here is the request. The filter is not null which is not in sync with page_token

https://8080-dot-3131389-dot-devshell.appspot.com/pipeline/apis/v1beta1/runs?page_token=eyJTb3J0QnlGaWVsZE5hbWUiOiJDcmVhdGVkQXRJblNlYyIsIlNvcnRCeUZpZWxkVmFsdWUiOjE1NTUwNTI5NDAsIktleUZpZWxkTmFtZSI6IlVVSUQiLCJ

[2019-04-12 07:26] IronPan commented on #1149
/assign @rileyjbauer @neuromage

[2019-04-12 07:28] IronPan commented on #1149
decoding the filter:
{"predicates":[{"key":"storage_state","op":"NOT_EQUALS","string_value":"STORAGESTATE_ARCHIVED"}]}

decoding the page token:
{"SortByFieldName":"CreatedAtInSec","SortByFieldValue":1555052940,"KeyFieldName":"UUID","KeyFieldValue":"d895f95a-5cf1-11e9-ad97-42010a8000f2","IsDesc":true,"Filter":null}

[2019-04-12 07:45] IronPan opened #1150 "Runs leaked into archived page"
All runs are now showing in archived page as well as in the all run page
![image](https://user-images.githubusercontent.com/2348602/56020408-f0cb3600-5cbb-11e9-8be5-edef35a39967.png)

Archive functionality is also broken that it does't do anything.

[2019-04-12 07:45] IronPan commented on #1150
/assign @rileyjbauer @neuromage

[2019-04-12 16:29] #974 closed

[2019-04-12 16:39] neuromage commented on #1078
@vicaire this doesn't seem related to viewer crd.

/assign @rileyjbauer
Looks like a UI server issue?

[2019-04-12 17:21] ucdmkt commented on #1138
Thank you so much for tracking this issue.

Another thing to consider is that we may want to have a way to inject a stub to a component inside the pipeline, if a component is making call to foreign services such as Dataflow.

[2019-04-12 17:29] IronPan commented on #1149
Looks like we don't add filter in the token
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/list/list.go#L287

But we verify it for incoming request
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/list/list.go#L96

[2019-04-12 17:49] rileyjbauer commented on #1150
were you able to confirm that this was fixed by #1151 ?

[2019-04-12 17:53] rileyjbauer opened #1152 "Add integration test for pagination"
A regression was introduced into the backend that caused pagination to fail #1149 and it was not caught by any tests.

This seems like it deserves an integration test since pagination relies on the backend and frontend.

Perhaps there is a gap in the backend tests as well though?

[2019-04-12 18:23] IronPan commented on #1150
yes i'll close it

[2019-04-12 18:23] #1150 closed

[2019-04-12 18:23] Jeffwan commented on #514
I was wrong, just notice error message comes from tensorflow. Here's the problem, if `preprocessing_module` is not specified for `dataflow_tf_transform_op`, it will go make a preprocessing function, it retrieve `INCEPTION_V3_CHECKPOINT` which is gcs link `gs://cloud-ml-data/img/flower_photos/inception_v3_2016_08_28.ckpt`.

[2019-04-12 18:25] gaoning777 commented on #1142
Replacing 'job_dir' with 'job-dir' in the resnet sample.
This is a bug. I'll send a PR to fix it.

[2019-04-12 18:27] mameshini commented on #596
Thank you for the update @Jeffwan.  NFS storage can be acceptable for demos or even real use cases where data sets are relatively small.  But NFS does have limitations with cost, performance, scalability.  When data sets exceed 100 GB, NFS becomes too expensive, slow, and hard to manage.  Even when using managed NFS from cloud providers, we experienced very long delays when simply reading director

[2019-04-12 18:27] gaoning777 commented on #1142
fixed in https://github.com/kubeflow/pipelines/pull/1154

[2019-04-12 18:30] rileyjbauer opened #1155 "Add integration test for filtering"
Similar to #1152
A regression was introduced into the backend that broke filtering. One of the ways that the bug manifested was in the archive page no longer working on the frontend #1150 since it operates using filters, and this was not caught by any tests.

#1150 was fixed by #1151

There should be an integration test for this, possibly a frontend integration test.

Perhaps there is a gap in the

[2019-04-12 19:24] #1142 closed

[2019-04-12 19:59] Jeffwan commented on #596
@mameshini Nice, thanks for sharing. Indeed, NFS is not a very good option in HPC/DL area. We internally use Lustre for deep learning training, it can be used as data caching layer and backed by S3 as data repository and provide Posix file system interface. Look forward to your example!

[2019-04-12 21:21] vicaire commented on #1132
@Ark-kun, having a CRD for pipeline is something that we are considering. Let's please keep this open.

[2019-04-12 22:50] #1149 closed

[2019-04-13 00:59] Ark-kun commented on #1146
Problem has been solved. Thanks @IronPan

[2019-04-13 00:59] #1146 closed

[2019-04-13 07:42] nirmalsinghania2008 opened #1162 "Kubeflow pipelines with pachyderm."
Hi,
Thanks for this amazing project.
I am wondering if there is a way to integrate pachyderm features(data versioning, full data provenance) with kubeflow pipelines.
I went through the pachyderm example`https://github.com/kubeflow/examples/tree/master/github_issue_summarization/Pachyderm_Example` and it is good for using kubeflow core with pachyderm. but, what if someone wants to use pachyderm wit

[2019-04-15 02:17] Ark-kun commented on #1162
How do you think the integrated system should look like?
What Pachyderm features would you like to see in the Pipelines?

Pachyderm might not be easy to integrate as it's a pretty similar project. It's doing it's ownorchestration - just doing it differently. It's more likely that Pipelines will get the Pachyderm's features like data provenance.
Of course, you can create a Pachyderm component for P

[2019-04-15 02:20] Ark-kun commented on #1087
I agree that it should be a part of the release process.
I think we should push each release to PyPI. Currently I do not think we have a reason not to push some of the releases.

[2019-04-15 04:06] nirmalsinghania2008 commented on #1162
Yeah that was my doubt, pipelines and pachyderm are doing similar job.
I like data versioning, change based build trigger, and data provence of pachyderm. And want to incorporate these features in pipelines.
I think these features are very important for an e2e ml pipeline.
Is there currently any way(can be hacky) to achieve this?
If not, i would like to contribute to this.

[2019-04-15 17:59] rileyjbauer opened #1164 "Runs created by scheduled workflows don't have a pipeline ID"
Note the lack of `pipeline_id` in the `pipeline_spec` of this run created by a scheduled workflow:
![image](https://user-images.githubusercontent.com/34456002/56154392-4712d000-5f6d-11e9-8a3e-ba8bb606801e.png)
compared to a singular run:
![image](https://user-images.githubusercontent.com/34456002/56154462-6f9aca00-5f6d-11e9-8a12-d7d29d95d16e.png)

This results in the UI being unable to display the

[2019-04-15 22:12] rileyjbauer commented on #685
This issue should be obsolete with #1089 which places all runs created without an explicit experiment into a "Default" experiment

[2019-04-15 22:12] #685 closed

[2019-04-16 02:17] animeshsingh commented on #1162
@nirmalsinghania2008 fellow IBMer here. Let`s sync up once (ping me on slack) what`s driving your requirement, and we can discuss.

[2019-04-16 15:24] jlewi commented on #1131
@Jeffwan

@zabbasi is working on creating a generalized admission controller to inject secrets, environment variables, and volumes. That could be one way to simplify injecting common config for your users.

https://bit.ly/2UWHexS

[2019-04-16 20:49] kevinbache commented on #1080
somewhat related: #1104, #780

[2019-04-16 20:49] kevinbache commented on #1138
related: #1104

[2019-04-16 20:51] kevinbache commented on #1135
closing as dupe of #205

[2019-04-16 23:53] Ark-kun commented on #780
/assign @kevinbache

[2019-04-17 08:27] JohnPaton commented on #467
I'm just checking out Pipelines at the moment but it's looking great, thanks for your work on it!

With the current UI, it doesn't seem there is any way to edit or upload a new version of a pipeline. Considering this, how do you test your pipelines?

As an example, I had a typo in the URI for a container in my pipeline, and fixing that one typo required deleting and re-uploading the whole thing. I

[2019-04-17 09:08] JohnPaton commented on #60
+1 on this, in a multi-user settings experiments will pile up quickly

[2019-04-17 09:14] JohnPaton opened #1180 "Feature request: Ability to edit recurring run config in UI"
Currently it's only possible to view and enable/disable recurring runs in the UI. It would be nice to also be able to edit them, or at least edit the trigger/schedule.

One use case would be the adjustment of a schedule on a run with a lot of input parameters. Since there is no "create recurring run from run config" option (which would also be nice, now that I think of it), the user would have to

[2019-04-17 09:21] JohnPaton opened #1181 "Bug: Unable to delete recurring run configs in UI"
I currently have an experiment with a few recurring runs configured:

![image](https://user-images.githubusercontent.com/18459252/56276171-59724280-6102-11e9-8c4a-44a2501900dc.png)

If I try to delete one, I get the success message, but also an error popup saying that the delete operation failed

![image](https://user-images.githubusercontent.com/18459252/56276234-7b6bc500-6102-11e9-9a04-792ae83d1

[2019-04-17 14:03] mattiasarro commented on #832
This can now be achieved via

`ContainerOp(container_kwargs={"image_pull_policy": "Always"})`

[2019-04-17 16:38] Jeffwan commented on #1131
@jlewi  That would be awesome! I will have a look and leave my comments.

[2019-04-17 17:02] gabrielwen commented on #1100
@jingzhang36  [this is](bit.ly/kf-istio-integration) is the ISTIO migration plan.  We are roughly at half way and currently migrating ambassador annotations to ISTIO traffic management.

@lluunn

[2019-04-17 20:02] Ark-kun commented on #1131
We still also need to move the artifact store configuration to the backend. Admission controller cannot help us here, because the Argo workflow needs to be valid before submission.

[2019-04-17 20:05] Ark-kun commented on #906
It was never OK for me. I objected that in both cases. I also spend quite a lot of time trying to undo the damage (e.g. make the UI metadata and Metrics just normal artifacts), but some of my efforts were blocked.

[2019-04-17 20:14] Ark-kun commented on #906
If we want per-output metadata support, I'd like it to work as follows:

Variant 1:
Explicit extra outputs with the "metadata" type and suffix:

[code]
Variant 2: Implicit metadata outputs

If you program writes the output data to `model_path`, the it should write metadata to `model_path + ".metadata.json"`. The system will notice and take care of the file. With GCS or volumes, the file is availab

[2019-04-17 20:55] randxie opened #1183 "Feature request: Ability to hide arguments in pipeline UI"
Some components have more than 15 arguments. Many of the arguments already have good defaults but we still need to expose them for more granular controls.

However, it introduces some trouble to pipeline UI, as the UI currently does not have ability to hide arguments. In addition, we can not even separate required arguments from optional arguments in the UI.

It will be great to provide a mechanis

[2019-04-18 06:34] rileyjbauer commented on #1181
This appears to foremost be a frontend issue, so I'm unassigning IronPan for now

[2019-04-18 17:43] animeshsingh opened #1187 "Late binding aspects on Kubeflow Pipeline"
So there are usecases emerging which require some late binding aspects

1. being able to choose the backing container for a component step at runtime - so the notion of a generic component, but the image backing it is determined at runtime
3. Parallelism: In real world use-cases, for a pipeline going from A->B->C, one would like to run many parallel versions of B, but being determined at runtime h

[2019-04-18 23:02] Ark-kun commented on #250
This has happened to me again.
The notebook pod is running.
The UI redirects me to the spawner instead of showing my notebook.

[2019-04-18 23:10] amygdala opened #1189 "KFP dashboard UI: run archiving doesn't seem to work"
It's cool that we can now archive runs, but it doesn't seem to quite work.
The UI spins for a bit, but the run is still listed.

This is for the KFP version that gets installed by the current KF click-to-deploy webapp
(the KFP dashboard says 'Build commit: c938247'... should we tag with version number instead?)

[2019-04-19 00:08] gaoning777 opened #1190 "Update the SDK version automatically during the release"
Now the SDK version(in sdk/python/setup.py) and the SDK versions in the notebook samples are outdated.
Similar to the component release script, the SDK related change should also be automated.

[2019-04-19 06:41] rileyjbauer commented on #1189
This is likely the same as #1150 which was fixed in #1151 (7 days ago, whereas the commit you listed was merged 13 days ago).

Therefore, using a later version should resolve this issue. @IronPan is there anything else we need to do besides wait for the next release?

[2019-04-19 19:28] Ark-kun commented on #1190
Is this issue the same as #1000 ?

[2019-04-19 19:59] gaoning777 commented on #1190
Correct.

[2019-04-19 19:59] #1190 closed

[2019-04-19 20:55] gabrielwen commented on #1100
@jingzhang36 @IronPan any updates on this?

Also note that kubeflow/kubeflow#3036 is ready for review.  That routing rule should follow what you've decided.

[2019-04-19 21:32] Ark-kun opened #1195 "Remove low-level storage details and secrets from pipelines"
Currently DSL compiler produces pipelines with hard-coded low-level storage details (server name, port, secrets etc).
This information should not be hard-coded in the pipelines, but rather added to the workflow on the fly.

There are two solutions on how to add the storage configuration in the backend:

* Argo has a native solution where the storage is configured using K8s configMap: https://githu

[2019-04-22 06:34] paveldournov commented on #250
@Ark-kun are you using the new Notebook UI for creating the new instances?

[2019-04-22 06:38] paveldournov commented on #1187
@animeshsingh would you be able to provide more specific use cases for #1?

/cc @gaoning777 to comment on the loop operator for #2, running steps of a loop async can be powerful.

[2019-04-22 14:43] jlewi commented on #514
Seems like there could be two different issues here

1. The pipelines component for deploying TFServing has a dependency on the GCE metadata server (not sure why that is)

1.  dataflow_tf_transform_op has a dependency on gcs?

[2019-04-22 15:50] jlewi commented on #365
@paveldournov @vicaire @Ark-kun Can we close this issue? Do the docs still state that GKE is required?

We are using labels [platform/other](https://github.com/kubeflow/pipelines/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aplatform%2Fother+) and [platform/aws](https://github.com/kubeflow/pipelines/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aplatform%2Faws+) to track issues affect

[2019-04-22 17:25] gaoning777 commented on #514
1) If the user does not provide a preprocessing module, the default one uses a checkpointing and uses the file stored in GCS that the KFP published.

2) It looks like the tfserving component uses the [metadata server](https://cloud.google.com/compute/docs/storing-retrieving-metadata) to retrieve the cluster name if not provided in the user input. GKE cluster attach the cluster name as the attribut

[2019-04-22 17:45] #1181 closed

[2019-04-22 22:17] cheyang opened #1198 "Will pipelines support the same behavior as `argo retry`"
I'm wondering if `pipelines` will support the behavior of `argo retry`. The benefit of doing this is to avoid rerun the successful step, only starting from the failed step without the end user input.

[2019-04-22 23:12] jingzhang36 commented on #1100
Thank you @gabrielwen

[2019-04-22 23:27] Jeffwan commented on #514
I mean this ${CLUSTER_NAME} is used to create kubeconfig, it could be any string and doesn't have to be a real cluster name. The existing code base is straightforward to talk to API Server.

Agree.

[2019-04-23 00:08] vicaire commented on #467
@JohnPaton, yes, at the moment, modifying a pipeline requires uploading/executing a new pipeline.

[2019-04-23 00:09] vicaire commented on #832
@akranga, I am assuming that what @mattiasarro indicated resolves your use case. Please reopen if this is not the case.

[2019-04-23 00:09] #832 closed

[2019-04-23 00:17] jlewi opened #1203 "Make pipelines work with private GKE"
Follow on to kubeflow/kubeflow#2086 - make Kubeflow work with private GKE.

I have two pending PRs to update the docs and scripts to deploy kubeflow on private GKE

kubeflow/website#651
kubeflow/kubeflow#3080

Pipelines is one of the applications that isn't working yet so I'm filing this issue to track the follow on work.

I think its just a matter of getting the minio docker image mirrorer'd over

[2019-04-23 00:22] jlewi opened #1204 "Can't download container images when using VPC service controls."
Kubeflow pipelines is currently hosting its images in gcr.io/ml-pipeline as opposed to gcr.io/kubeflow-images-public.
https://github.com/kubeflow/kubeflow/search?q=gcr.io%2Fml-pipeline&unscoped_q=gcr.io%2Fml-pipeline

We will need to figure out a solution for making those images accessible when users deploy Kubeflow with secure vpc controls.

The options are

1. User mirrors those images to their

[2019-04-23 00:38] cheyang commented on #1198
/assign @vicaire

[2019-04-23 00:41] vicaire commented on #1187
For 1, the easiest option would be to have a container that launches another container selected depending on parameters. It's not great as the first container needs to wait on the second one, but if the first container consumes very little resources while waiting, the implementation should be acceptable. Let me know what you think.

For 2, Argo supports using the output of one container to determi

[2019-04-23 00:45] vicaire commented on #365
@jlewi, I added the label "platform/other".

@hackenzheng, is our issue resolved?

@govindKAG, please provide a reference to the problematic document so we can fix. KFP aims to run reliably on K8, independently of GCP.

[2019-04-23 00:48] vicaire commented on #1198
Yes, we can support this if it is not already supported. Would you like to contribute the change?

[2019-04-23 01:03] cheyang commented on #1198
I'd like to contribute!

[2019-04-23 02:27] jlewi commented on #365
I think the relevant doc is
https://www.kubeflow.org/docs/pipelines/pipelines-overview/

And the snippet is

[2019-04-23 03:18] hackenzheng commented on #365
Yeah, the problem has been solved . Now kfp provides a simple way to deploy on any k8s cluster.

[2019-04-23 03:18] #365 closed

[2019-04-23 08:07] govindKAG commented on #365
@vicaire I was referring to the link that @jlewi mentioned

[2019-04-23 15:52] animeshsingh commented on #1187
Thanks @paveldournov and @vicaire. Use case for 1 would be that a lot of images are built at runtime, for e.g. if you are running a notebook within a step, its probably packaged in container at runtime. Now a container from a container - yes that can sort of get there, but would be great to bring some level of abstraction in pipelines.

[2019-04-23 16:31] rileyjbauer opened #1205 "Allocate additional space/lines for node names in pipeline graph"
Nodes in the static and runtime graphs only display around 15 characters today. Users can hover over individual nodes to display the full labels as tooltips, but this is not as useful as immediately readable labels, especially if there are many.

Perhaps nodes should be made larger, vertically and/or horizontally to fit more text

[2019-04-23 21:30] Ark-kun commented on #250
I have an older cluster.
The problem occurs after couple of months, so I did not have a chance to experience it with the new notebooks yet.

[2019-04-23 23:36] neuromage commented on #1087
Just had an offline discussion with @gaoning777 and @Ark-kun . We'll be looking into pushing each week's release to PyPi from here on. Let's us this issue to track the progress on automating this effort.

[2019-04-23 23:41] cheyang opened #1212 "How to build Go client library and swagger files"
Hi,

I'm adding [retry run](https://github.com/kubeflow/pipelines/issues/1198)  to Kubeflow Pipelines. I follow the guide [building-go-client-library-and-swagger-files](https://github.com/kubeflow/pipelines/tree/master/backend#building-go-client-library-and-swagger-files)

[code]

But when I observed the change in git, I notice there are some changes I didn't expect .

1. the package of go_client

[2019-04-23 23:43] cheyang commented on #1212
/assign @vicaire , can anyone help me? Thanks.

[2019-04-24 00:09] cheyang opened #1213 "Pass TF-Job and/or K8 resource output from one pipeline step to another."
How to support `file_outputs` defined by user in  [tfjob ops](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/kubeflow_tfjob_launcher_op.py#L30)?

As we know, the user can leverage `file_outputs` in `dsl.ContainerOps` to pass the output value to next step. But it doesn't work for tfjob ops, because the tfjob-launcher is not the tfjob itself.  It should get the files

[2019-04-24 00:24] vicaire commented on #1198
I have assigned this item to you. Thanks!

[2019-04-24 12:00] cheyang commented on #1212
/assign @vicaire

[2019-04-24 13:32] marrrcin commented on #468
In 0.5 there are only 2 metrics displayed in Experiment view as well as in the comparison view, which is odd - you cannot view all metrics anywhere.

[2019-04-24 17:06] SinaChavoshi opened #1216 "When creating a notebook option to allocated .5 cpu seems odd"
https://screenshot.googleplex.com/P6bfLSv7vtt

Status	Name	Created	Image	CPU	Memory	Volumes	Actions
Scheduling Pod	apr-demo1	4 mins ago	tensorflow-2.0.0a-notebook-gpu	0.5	1.0Gi	storage

[2019-04-24 17:12] SinaChavoshi opened #1217 "Can only create recurring run from within experiment page"
This is rather a hidden feature, they only way the user would find out about it is if they are on experiment page. the experience should be consistent across all places where i can create a run.

[2019-04-24 17:17] SinaChavoshi opened #1218 "Terminate run is only available on run details page"
Inconsistent user experience, i can not terminate the run from experiments or run page.

[2019-04-24 17:22] SinaChavoshi opened #1219 "Archiving one run from experiment page, archives all runs"
Repro steps:
1. when to experiments page
2. expanded one of the experiments
3. selected one of the experiments
4. clicked archive.
5. all runs are showing up under archive.

Also restore did not remove them form archive

https://screenshot.googleplex.com/WyixZPfiFB4

[2019-04-24 18:04] rileyjbauer commented on #1205
@ajayalfred suggested wrapping the text to a second line and truncating beyond that

[2019-04-24 18:09] rileyjbauer commented on #1219
I am having trouble reproducing this.
What do you mean when you say "selected one of the experiments"?

[2019-04-24 18:11] rileyjbauer commented on #1217
Would it suffice to have a toggle within the new run page, rather than adding a `Create recurring run` button on each of the toolbars wherever we already have a `Create run` button?

[2019-04-24 18:18] SinaChavoshi commented on #1219
sorry meant selected one of the runs

[2019-04-24 18:32] rileyjbauer commented on #1219
It seems to be working for me with a build from near head.

There was an issue with archiving that was resolved not too long ago: #1150 (fixed by #1151)

Do you know if your KFP is new enough to include that change? It'll need to be the newest release, Version 0.1.17

[2019-04-24 18:54] SinaChavoshi opened #1220 "sample "DSL Static Type Checking" link to types needs to be updated"
If you define the component using the function decorator, there are a list of core types. For example, the following component declares a core type Integer for input field_l while declares customized_type for its output field_n.

Core types . links to https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_types.py

Should be :
https://github.com/kubeflow/pipelines/blob/master/sdk/py

[2019-04-24 18:59] SinaChavoshi commented on #1219
Got it, I'm on an older version that does not have that. I will upgrade and
verify.

On Wed, Apr 24, 2019 at 11:32 AM Riley Bauer <notifications@github.com>
wrote:

[2019-04-24 19:04] gaoning777 commented on #1220
Thanks for reporting this.
Fixed at https://github.com/kubeflow/pipelines/pull/1221

[2019-04-24 20:24] IronPan commented on #1212
@neuromage could you take a look?

[2019-04-24 20:39] IronPan commented on #1213
I think tfjob launcher is not very well maintained now.
How about creating a volumes to pass the models and artifacts instead? The file_outputs is limited as far as I can tell.

[2019-04-24 21:35] IronPan commented on #1216
just to confirm, is it odd because it's not integer?
FYI K8s support fractional request
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-cpu

[2019-04-24 21:37] neuromage commented on #1212
/assign

[2019-04-24 23:08] cheyang commented on #1213
The problem is how to get the output values from the step, such as the accuracy or output file produced in the current step.

[2019-04-24 23:14] IronPan opened #1223 "Multi-User support for Kubeflow Pipelines"
**[April/6/2020]**
Latest design is in https://docs.google.com/document/d/1R9bj1uI0As6umCTZ2mv_6_tjgFshIKxkSt00QLYjNV4/edit?ts=5e4d8fbb#heading=h.5s8rbufek1ax

Areas we are working on:
* [x] **[Frontend]** Deploy ui artifact service for each namespace https://github.com/kubeflow/pipelines/issues/3554
* [x] **[Frontend/Backend]** Deploy visualization service for each namespace https://github.com/ku

[2019-04-24 23:17] IronPan commented on #1223
Ideally this should be implemented in a way that get Kubeflow Pipeline closer to support multi-user. E.g. launch workflow in arbitrary namespace

[2019-04-25 00:21] rileyjbauer commented on #1155
Filtering is covered now as of #1175 by the helloworld frontend integration test

[2019-04-25 00:21] #1155 closed

[2019-04-25 00:48] gaoning777 opened #1224 "Add sample test for the quick start sample"

[2019-04-25 05:59] Ark-kun commented on #1187
@animeshsingh The image attribute supports input parameter placeholders, so you can already use pipeline parameters or task outputs to set the image name. So, 1 is non-issue.

[2019-04-25 06:08] Ark-kun commented on #1213
The fundamental problem is as follows:
Component represents a function defined signature. It can have any fixed number of inputs and outputs.
Launchers can potentially launch any kind of trainer components.
A launcher with fixed signature thus has trouble to accommodate arbitrary trainer components.
There is a workaround for inputs, but currently there is no workaround for outputs.
I'm thinking on

[2019-04-25 06:12] Ark-kun commented on #949
The support was added in #879.

[2019-04-25 06:12] #949 closed

[2019-04-25 06:15] Ark-kun commented on #665
An easier way to add dependencies is to have data dependencies.
When you pass some output of task A to task B, the dependency is added, so you do not need  to write anything.

[2019-04-25 06:17] Ark-kun commented on #418
@IronPan I think this was fixed long time ago.

[2019-04-25 06:17] #418 closed

[2019-04-25 06:18] Ark-kun commented on #204
Done.

[2019-04-25 06:18] #204 closed

[2019-04-25 06:20] Ark-kun commented on #60
The solution to this is probably a default filter that only shows your own experiments.

[2019-04-25 06:40] animeshsingh commented on #1187
@Ark-kun how about in the case when you are using components.yaml, which is what we are adopting

[2019-04-25 06:47] Ark-kun opened #1228 "The post-submit test always fails"
- [x] Fix the issue with `gcloud builds list` not finding the build. Done in -https://github.com/kubeflow/pipelines/pull/1210
- [ ] Fix the issue with `gcloud builds list` not having access to the staging project.

[code]

[2019-04-25 07:48] animeshsingh opened #1231 "TFX comps"
what does 'type' refer to in the link below? how can we specify "optional" vs "required" arguments in components.yaml? if we need to run this on TFX pipeline on KF on IBM Cloud, shall we create our own versions of TFX comps, or can we make these more generic?
@Ark-kun
https://github.com/kubeflow/pipelines/blob/master/components/dataflow/predict/component.yaml

[2019-04-25 15:41] jlewi commented on #1223
What's the priority of this?

How does this align with the broader plans in Kubeflow to support multiple users?

[2019-04-25 17:33] #1220 closed

[2019-04-25 17:40] #801 closed

[2019-04-25 18:55] gaoning777 opened #1233 "Release the SDK in Pypi and automate the release process"

[2019-04-25 19:29] vicaire commented on #365
Thanks @govindKAG.

@sarahmaddox, you have an issue tracking the update of the documentation, correct?

[2019-04-25 19:49] vicaire commented on #1187
@animeshsingh, in the case of 1, the container that launches another container would not need to be rebuilt by the DSL. It would just need to be built once and for all, and be reused whenever it is needed. It would take as a parameter a reference to another container.

[2019-04-25 21:12] yaronha opened #1234 "allow output artifact store configuration (vs hard coded)"
it seems like the output artifacts are always stored in a specific minio service, port, namespace, bucket, secrets, etc (`minio-service.kubeflow:9000`).

see: https://github.com/kubeflow/pipelines/blob/f40a22a3f4a8e06d20cf3e3f425b5058d5c87e0b/sdk/python/kfp/compiler/_op_to_template.py#L148

it would be great to make it flexible, e.g. allow using S3, or change namespace or bucket names.
i suggest m

[2019-04-25 21:23] yaronha opened #1235 "flexible pipeline service (host) path in client SDK"
when creating an SDK `Client()` the path to `ml-pipeline` API service is loaded from a hard coded value (`ml-pipeline.kubeflow.svc.cluster.local:8888`) which indicate a specific k8s namespace. it can be valuable to load that default value from an env variable, i.e. changing the line in `_client.py` from:

`config.host = host if host else Client.IN_CLUSTER_DNS_NAME`

to:

`config.host = host or os.

[2019-04-25 21:46] rileyjbauer commented on #222
This was fixed in #1144

[2019-04-25 21:46] #222 closed

[2019-04-25 21:47] rileyjbauer commented on #252
@Ark-kun is this still being seen?

[2019-04-25 22:15] rileyjbauer opened #1236 "Unfinished run duration shown as negative time"
I think this was introduced by #1140 which set the default "finished at" time to 0.
It should be matter of making the frontend realize that 0 is not a valid finish time.

[2019-04-26 00:30] #1121 closed

[2019-04-26 06:06] Ark-kun commented on #1231
Component is analogous to a function. Component has interface - the set named of inputs and outputs which are analogous to function parameters and return value[s]. Like in many languages the parameters can have types. The purpose of the specifying the input type is to prevent user errors - to prevent them from passing incompatible variables or values to a function. Same for the components. If you

[2019-04-26 06:17] sarahmaddox commented on #365
Yes, here's the doc issue:
https://github.com/kubeflow/website/issues/655

[2019-04-26 06:19] Ark-kun commented on #1235
I'm not sure about the user scenarios, but I guess it might be useful for some cases.

Maybe, `KF_PIPELINES_ENDPOINT`?

It probably is. The Client class can definitely use some improvements, especially for out-of-cluster usage.

We always appreciate PRs.

[2019-04-26 06:20] animeshsingh commented on #1231
A component may have some parameters which are optional - if specified it behaves differently. and some a required. Taking your analogy of functions forward - some input params may or may not required.

[2019-04-26 06:21] animeshsingh commented on #1231
So TFX is open source, and we would like to run TFX on our cloud. The current component implementation seems tied to GCP - hence the question

[2019-04-26 06:22] Ark-kun commented on #1234
There is already a PR for this. But we'd like to solve this in a different way - by having an in-cluster configMap with the storage configuration. Argo already supports that, but we're hesitating to use that mechanism since KF Pipelines might not be the exclusive user of the Argo controller.

Fortunately, the problem will be solved in Argo 2.3 (per-pipeline configMap reference)

[2019-04-26 06:26] Ark-kun commented on #1234
Also https://github.com/kubeflow/pipelines/issues/363 https://github.com/kubeflow/pipelines/issues/1195 https://github.com/kubeflow/pipelines/issues/362

[2019-04-26 06:36] Ark-kun opened #1240 "Generated Argo output parameter names contain the template name"
DSL compiler add the task name prefix to each parameter name.
We should make names simpler to help the UX.

[2019-04-26 06:44] Ark-kun commented on #1231
Well, in most computer languages (including Python) only the arguments with default values are optional...

There is some limited compile-time support for this:
https://github.com/kubeflow/pipelines/blob/b0147bdbed9f25212408e0468a475289e80e0406/sdk/python/tests/components/test_components.py#L454..L460

[2019-04-26 06:44] Ark-kun commented on #1231
@neuromage , @hongye-sun Can you answer this question?

Also, can you point to the concrete TFX components you're interested in?

[2019-04-26 07:24] animeshsingh commented on #1231
TFDV, TFX, and TFMA

[2019-04-26 10:11] hamedhsn opened #1242 "failed to save outputs - not able to lookup minio-service.kubeflow"
I am trying to run example of pipeline and I get this on the first task.
`This step is in Error state with this message: failed to save outputs: Get http://minio-service.kubeflow:9000/mlpipeline/?location=: dial tcp: lookup minio-service.kubeflow on 172.20.0.10:53: no such host`

Looking at my services in k8s, can see that my minio-service has different cluster ip.
`minio-service

[2019-04-26 11:49] hamedhsn commented on #1242
I modified argo manifest and replaced minio-service.kubeflow with my minio service ip and task succeeded.

[2019-04-26 15:33] neuromage commented on #1231
@animeshsingh You can run TFX components on-prem, without the use of GCP components. The chicago_taxi_pipeline example in tensorflow/tfx uses GCP, but you can easily just choose to use just the components you care about and not use CMLE/BigQuery/Dataflow through appropriate use of flags and parameters.

I think the one thing that's missing now is an example of how to do this outside the TFX pipeli

[2019-04-26 17:49] IronPan commented on #1223
This is not yet being prioritized, although I think this deserve a high priority.

In addition to admin/user isolation, here is a list of items to achieve the full multi-user support for KFP
1. Every user (or group of users) will have a dedicate namespace and service account, role, and role binding in that namespace. These resources should be create by the Kubeflow Profile CRD.
2. With Istio integ

[2019-04-26 17:52] amygdala opened #1243 "add SDK support to retrieve pipeline IDs"
(as per a discussion with @hongye-sun )

The SDK allows deploying a pipeline by indicating its ID, but doesn't yet support a way to grab the pipelines & their IDs dynamically. However, to fully support remote deployment it's necessary to do this.

[2019-04-26 18:09] Ark-kun opened #1244 "Add container image availability checker function to SDK"
It's useful for cases where the sample is using the image that hasn't been released yet.
The checker can then alert the user and instruct them to get the sample version from the release.

[2019-04-26 18:19] IronPan commented on #1223
Some references for implementing multi-user support  on-prem
https://docs.google.com/document/d/1JbYndTaUwRyr4wrU13TN5fzMpnLCUtpehPB4tQnMuSM/edit#heading=h.xq5kl0qs27mm
https://github.com/kubeflow/kubeflow/issues/3096

[2019-04-26 18:27] animeshsingh commented on #1231
@neuromage - currently the comp definitions in here are heavily tied to GCP, and no way can be used outside GCP in sample pipelines which rely on these yamls

https://github.com/kubeflow/pipelines/blob/master/components/dataflow/tfdv/component.yaml
https://github.com/kubeflow/pipelines/blob/master/components/dataflow/tfma/component.yaml
https://github.com/kubeflow/pipelines/blob/master/components/

[2019-04-26 18:27] animeshsingh commented on #1231
So we can either look at recreating these for open source in a generic way, or make the existing comp definitions itself generic

[2019-04-26 18:55] yaronha commented on #1234
@Ark-kun a mechanism like config map sounds better, it will also make the YAMLs cleaner, currently u get the same 27 lines added to every container, see below, would be nice to hide it:

[code]

[2019-04-26 18:59] gaoning777 commented on #1233
close the issue in favor of https://github.com/kubeflow/pipelines/issues/1087

[2019-04-26 18:59] #1233 closed

[2019-04-26 21:45] gaoning777 commented on #924
Fixed at https://github.com/kubeflow/pipelines/pull/1247

[2019-04-26 21:49] Ark-kun commented on #1135
I'd say this is a separate issue. Technically, the keys of the `task.outputs` dictionary can be any strings.
We could even have spaces in them.

@gaoning777 Now that the sanitization has been moved to the compiler, what do you think about allowing more free-form/human-readable output names?

[2019-04-26 22:30] gaoning777 commented on #611
fixing bug at https://github.com/kubeflow/pipelines/pull/1248

[2019-04-26 22:39] gaoning777 commented on #611
extending the timeout: https://github.com/kubernetes/test-infra/pull/12377

[2019-04-27 11:14] elikatsis opened #1250 "Issues on Argo 2.3"
Hi everyone!

Argoproj team has cut some new releases for Argo.

I've noticed there will be some incompatibility due to argoproj/argo#1275.
**tl;dr**: A step fails if an artifact path does not exist or points to an empty file.

We could make use of the `optional` field (introduced in argoproj/argo#1277) for the `conventional_artifacts`, which are added by default as output artifacts to every `Cont

[2019-04-28 06:34] zwqjoy opened #1252 "Cannot set the (set_gpu_limit) gpu num from user params"
The set_gpu_limit only accept const number, cannot get input from user  parmas

[2019-04-28 07:35] paveldournov opened #1253 "KFP UI: Add links to pipeline docs and samples"
To help users explore the KFP capabilities it would be great to link the documentation page from the KFP dashboard.
Also to discover samples code and content - provide links to the github samples and AI Hub KFP components.

[2019-04-28 14:10] mpoqq opened #1254 "Watson sample errors and inconsistencies"
While going through the watson example I noticed the following errors:

1. The Kubernetes serviceaccount pipeline-runner has no rights to create secrets ([affected line](https://github.com/kubeflow/pipelines/blob/3df8a4432b6bb6be6ebcb7b6d30e80f0cabeaa35/components/ibm-components/commons/config/src/config.py#L41)).
2. All labels in the component.yaml are not allowed values (`IBM Watson Machine Lear

[2019-04-28 15:27] animeshsingh commented on #1254
@mpoqq there is PR pending merge 2, 4, and in our deployments  by default we give increased  permissions to pipeline runner. Once that PR is merged will be good to get to get yours on top
https://github.com/kubeflow/pipelines/pull/1246

[2019-04-29 09:06] jinchihe opened #1255 "Pipeline UI (version 0.5) works abnormally on Firefox"
Pipeline UI (version 0.5) works abnormally on Firefox, seems it's a bug on Firefox here, the samples cannot be shown and cannot upload my pipelines. As below screenshot.

<img width="1334" alt="图片" src="https://user-images.githubusercontent.com/13673199/56886159-e329f480-6aa0-11e9-933f-d3e41adbbd70.png">

[2019-04-29 16:08] hongye-sun commented on #1250
We can change the pipeline API to add the optional field for conventional artifacts before sending to Argo To avoid breaking existing pipelines. We might show warning to the user in UI to upgrade their client to recompile.

[2019-04-29 19:11] Ark-kun commented on #1250
That's pretty bad. Looks like I was right in being strongly against adding those two artifacts to all templates.

I've already done some prerequisite work for resolving the situation, but there were many delays.
There is no no perfect way to fix the issue, bu here is my plan to fix this with least sacrifices:

1. Immediately start marking those two artifacts as optional.
2. Explicitly specify thos

[2019-04-29 20:16] Ark-kun commented on #780
/assign @kevinbache

[2019-04-29 20:19] Ark-kun commented on #679
Duplicate of https://github.com/kubeflow/pipelines/issues/482

[2019-04-29 20:19] #679 closed

[2019-04-29 20:19] Ark-kun commented on #482
Not implemented yet.

[2019-04-29 20:59] #924 closed

[2019-04-30 03:09] yylin1 opened #1263 "Add Experiments remove"
When I have a lot of experiments and want to delete the past experiments.
We can delete Pipelines source code, but can't delete the experiment ?  Need to use `kubectl` delete Pipelines experiment?

Environment kubeflow v0.5.0
![](https://i.imgur.com/WW0NZgv.png)

[2019-04-30 15:36] hamedhsn opened #1265 "toleration support for ContainerOp"
I have toleration set up in my cluster for my gpu nodes. how can I add that to my ContainerOp?

[code]

If it is not implemented can you guide me on how to implement it?

[2019-04-30 17:28] SinaChavoshi opened #1266 "Run creation failed - when cloning a recurring run"
cloned a previously ran sample pipeline,  got the following error  (screen shot  - https://screenshot.googleplex.com/PujO5xHzwQZ )

Run creation failed
{"error":"Failed to create a new run.: InternalServerError: Failed to create a workflow for (recurringrunkqhd9-246-814723153): resourceVersion should not be set on objects to be created","message":"Failed to create a new run.: InternalServerError:

[2019-04-30 17:30] gaoning777 commented on #1263
@kevinbache Were you implementing this, surfacing the API interface to the middle layer APIs in Python SDK?

[2019-04-30 17:51] gaoning777 commented on #1135
I'm all for it to keep the user interface consistent.

[2019-04-30 17:55] #1228 closed

[2019-05-01 00:04] rileyjbauer commented on #1266
As mentioned in #1217, it'd probably be good to have a way to toggle between normal and recurring runs from the new run page itself.

Aside from that though, when cloning a recurring run, are you expecting the clone to also be a recurring run, or just a one-shot?

[2019-05-01 20:16] gaoning777 opened #1270 "UI: different rendering for different kinds of steps"
Run a workflow with retries and the runtime rendering looks as follows:
![Screenshot from 2019-05-01 13-11-59](https://user-images.githubusercontent.com/3826739/57039931-ddecb700-6c12-11e9-9f33-a571680262d9.png)
A retry node(virtual, no actual pod created) is always created on top of the node that does the real work. When the retry node is rendered the same way as other working pods, it is a littl

[2019-05-01 20:18] gaoning777 commented on #1270
For example, the condition is also a virtual node and it looks good.
![Screenshot from 2019-05-01 13-17-35](https://user-images.githubusercontent.com/3826739/57040187-81d66280-6c13-11e9-8ade-4acb0ad42fac.png)

[2019-05-01 20:19] gaoning777 commented on #1270
@rileyjbauer @ajayalfred WDYT?

[2019-05-01 20:55] ajayalfred commented on #1270
Doesn't seem like there is any UI change here? Or is the request to support representing retry nodes in the UI?

[2019-05-01 21:27] gaoning777 commented on #1270
Yes, condition node looks good. This issue is requesting to support retry node representation.

[2019-05-01 22:21] Ark-kun commented on #1263
Isn't this mostly about the UX?

[2019-05-01 22:51] Ark-kun opened #1271 "Make sdk/python/setup.py use requirements.txt"
Currently we have two places in SDK where the list of dependencies is specified - `setup.py` and `requirements.txt`. There should be a single list so that there is a single source of truth.

It's a bit non-trivial. It might sound strange, but there is no built-in requirements.txt parser and also setup does not have full support by design.

The position of the python devs is that setup.py requireme

[2019-05-02 07:31] trusch commented on #561
This also breaks all workflows which should be executed on a k8s cluster which doesnt use docker. My current usecase is running argo inside k3s which uses containerd a pod executer.

[2019-05-02 08:28] #1236 closed

[2019-05-02 09:57] vackysh opened #1273 "Kubeflow installed on Kubernetes which is running on aws - how to open kubeflow pipeline GUI"
Hi,

I have a Kubernete running on AWS and the requirement is to deploy the machine learning model on kubeflow pipeline. From the documentation, i have installed the Kubeflow on kubernetes and below are the status of the PODS.

NAME                                                        READY     STATUS    RESTARTS   AGE
ambassador-7b8477f667-4h7zj                                 1/1       Running

[2019-05-02 11:21] vackysh commented on #676
Hi @hamedhsn : I have the similar issue where pvc and my minio and mysql  are not working properly.
Can you please provide details solution on this, how to configure EFS and create PVC ?

[2019-05-02 12:32] hamedhsn commented on #676
Hi @vackysh
for EFS you need to create it first, then use efs-provisioner(https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs) to mount EFS as pv in k8s and then create pvc. once you have the pvc ready just change the ks files in pipelines related to minio and sql(remove the bit that creates the pvc and adjust the the name of the used pvc) to use your existing pvc. https:/

[2019-05-03 00:23] Ark-kun commented on #1273
AFAIK, you should use `kubectl port-forward` to port-forward to ambassador.

[2019-05-03 10:24] vackysh commented on #676
Hi @hamedhsn ,

Thanks for your response.

I followed the similar steps that you mentioned above but getting the below error:

ERRO[0086] (Will retry) Component pipeline apply failed; Error: handle object: patching object from cluster: merging object with existing state: PersistentVolumeClaim "mysql-pv-claim" is invalid: spec: Forbidden: is immutable after creation except resources.requests for bo

[2019-05-03 12:04] hamedhsn commented on #676
seems that it is trying to recreate the pvc.
comment or remove the pvc creation from `minio.libsonnet`. `//$.parts(namespace).pvc,`

[2019-05-03 19:42] Jeffwan commented on #1273
@vackysh which documentation are you following? I will make sure the documentation cover this part.

[2019-05-03 21:35] rileyjbauer commented on #1263
@yylin1 out of curiosity, if you were to delete an experiment, what would you want to happen to the runs that were contained within/associated with that experiment?

@IronPan thoughts?

[2019-05-04 18:29] #1217 closed

[2019-05-06 02:28] yylin1 commented on #1263
@rileyjbauer  Sorry for the late reply.
When I write my pipeline source code. I will try several experiments.
But found that if there are multiple experiments or unnecessary experiments, it is very confusing to display on the UI at the same time.

I think in UI can try using experiments and archives to use dependencies. (For important experimental tag storage.)

[2019-05-06 22:30] ajayalfred commented on #1253
![image](https://user-images.githubusercontent.com/2425179/57259260-c5660d80-7013-11e9-87fa-602bf435f22f.png)

![image](https://user-images.githubusercontent.com/2425179/57259263-c9922b00-7013-11e9-9098-967a6c85e82b.png)

Clicking the 3-dots in collapsed nav mode will open the nav (similar to chevron in collapsed mode)

[2019-05-06 22:31] ajayalfred commented on #1253
AI Hub link can open AI Hub page pre-filtered with KFP components

[2019-05-07 01:55] Ark-kun opened #1288 "bazel test fails at org_tensorflow/third_party/gpus/cuda_configure.bzl"
On a clean master checkout:
[code]

https://github.com/tensorflow/tensorboard/issues/2181

P.S. Why are we building tensorflow as part of our backend?

[2019-05-07 05:48] Jeffwan commented on #337
@IronPan

Any idea how could we improve this manifest? The most straightforward way is check logdir protocol?
1. for gcs, s3 and minio, pod can mount cloud provider specific environment and secrets
2. for local disk, we need pvc name and mountPath?

[2019-05-07 05:57] abieler opened #1292 "pypi version 0.1.18 not installable"
On pypi the latest version is 0.1.18
(https://pypi.org/project/kfp/)

But
`pip3 install kfp`      installs 0.1.16
`pip3 install kfp --upgrade` installs 0.1.16
`pip3 install kfp==0.1.18` does not work (No matching distribution found for kfp==0.1.18)
`pip3 search kfp` shows
[code]

requirements are ok: Python &gt;=3.5.3 (tested on 3.7.3).

The following does work:
`pip3 install https://storage.googl

[2019-05-07 21:52] Ark-kun commented on #1292
Thanks for the report. I'll investigate.

[2019-05-07 21:55] Ark-kun commented on #1288
The problems are with Tensorflow bazel files.

Fixes are in master version (no release yet):
https://github.com/tensorflow/tensorflow/commit/494d2cc5cfd04c3c376f10b7d7c417e388b08282
https://github.com/tensorflow/tensorflow/commit/2243bd6ba9b36d43dbd5c0ede313853f187f5dce

[2019-05-08 03:02] Ark-kun commented on #1292
0.1.19 is working now

[2019-05-08 03:03] Ark-kun commented on #1292
BTW, do you know the exact PyPI behavior? It looks pretty strange and inconsistent. On one hand it takes the release version from the package metadata (so you cannot upload the same file twice). On the other hand it seems to rely on pre-upload file names for versioning.

[2019-05-08 18:13] rileyjbauer opened #1301 "Quickstart notebook should indicate that it can't be run in cluster"
https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/quickstart.ipynb
includes multiple `docker` commands which will fail if run within the GKE cluster as Docker is not present in the cluster.

The notebook should indicate that it is meant to be run locally

[2019-05-08 22:37] rileyjbauer commented on #1270
I believe this issue is about visually differentiating these retry nodes from the "regular" nodes since they represent different concepts and don't contain the same kinds of data

[2019-05-09 00:58] gaoning777 commented on #1301
solved here: https://github.com/kubeflow/pipelines/pull/1302

[2019-05-09 08:07] jomach commented on #467
What about implementing a git clone from a url additionally to import from file ?

[2019-05-09 09:38] jinchihe opened #1303 "The volumes PVC name is unreasonable after mount a pvc for pipeline"
Here have a pipeline definition file, part of the file is as following:

Define the `pvc_name` and mount the pvc by using `onprem.mount_pvc`.

[code]

After compire using `dsl-compile`. The workflow yaml file is as following:

[code]

The clainName value should be `workflow.parameters.pvc-name`, instead of `input.parameters.pvc-name` since the volumes is out of templates/container, no inputs param

[2019-05-09 10:56] elikatsis commented on #1303
Hello @jinchihe,

Since #879 any field of a ContainerOp may contain parameters.

This helped #801 (we had implemented a similar, less generic approach before it was introduced but removed it since it totally covered our cause), where a PVC is created by a workflow task and its final name is an output parameter.

Such parameter usage was not available before our patch (argoproj/argo#1238). It actua

[2019-05-09 17:56] ajayalfred commented on #1270
I'm going to tackle this with a combined design effort to represent recursive steps, loops, retry nodes, conditionals, etc. Give me about 1.5 weeks to come back with a design pattern for all the DAG node requests.

[2019-05-09 20:07] elikatsis commented on #1270
Hey @ajayalfred!
#926 introduced an additional `nodeType`: the `resource`.
To cut a long story short, there are nodes creating kubernetes resources.
After @rileyjbauer 's review, we decided to make UI changes differentiating them in a following PR and this seems like the right opportunity!

I'd love to help and contribute to your work.
We've been thinking maybe adding emblems for the different nod

[2019-05-09 20:36] cjwagner commented on #930
/reopen
This is happening again: https://github.com/kubeflow/pipelines/pull/1287
https://prow.k8s.io/tide-history?repo=kubeflow%2Fpipelines&branch=master

[2019-05-09 20:59] cjwagner opened #1304 "It looks like this repo has webhooks configured incorrectly."
I noticed that many PRs in this repo are getting duplicated responses from Prow. This suggests that Prow is receiving each webhook twice. This wastes our API rate limit and can result in two comments being posted instead of one. I suspect that webhooks are configured to be sent to Prow at both the repo and org level (GitHub isn't smart enough to dedupe). Please confirm that this is the case by ins

[2019-05-09 23:38] #1265 closed

[2019-05-10 06:35] Ark-kun commented on #1304
I do not see this in my PRs. Can you show some examples?
Kubeflow deployments are pretty flaky and leaky, so we often have to re-run failed tests. Maybe that's what you're seeing.

@IronPan Can you check please?

[2019-05-10 06:51] Ark-kun commented on #1303
I agree that it looks pretty strange. But it will start working in Argo 2.3.
Argo 2.3 also adds template-level volumes.

We can try to hack a quick fix.

[2019-05-10 06:53] Ark-kun commented on #1266
It should probably have the same initial config. I.e. clicking "Clone" on a recurring run should show the page for creating recurring run.

[2019-05-10 07:10] jinchihe commented on #1303
Great! Thanks a lot!

[2019-05-10 08:24] jinchihe commented on #1303
@elikatsis Thanks very much for the replying.
Reviewed #801, seems that will create a new pvc in one step, not handle using a existing pvc?
But in my case, I just want to use the existing pvc (since user have prepared some data on the pvc before running pipeline), I just want to mount the pvc to the pods. And the `pvc_name` is a global workflow parameter (may be setting from Pipeline UI), when I u

[2019-05-10 11:07] elikatsis commented on #1303
@jinchihe
Before Argo v2.3 (and the 1238 patch specifically) there is no parameter substitution in the volumes attribute, so the example wouldn't work at this very moment in pipelines.

I understand the frustration, it is a field out of the ContainerOp. However, it will be attached to the pod created based on that op.

So, an Argo user, being aware of such potentiality, will use it properly.
On th

[2019-05-10 18:39] cjwagner commented on #1304
This isn't guaranteed to happen on all PRs if the problem is what I suspect because Prow tries to delete old messages when it posts a new one. This doesn't always happen though when the webhooks arrive simultaneously because there is an inherent race with the plugins looking for existing comments.

Here are some examples of the behavior I'm describing:
https://github.com/kubeflow/pipelines/pull/12

[2019-05-11 02:29] Ark-kun commented on #1304
I only see a single test run per commit for most of them:
https://prow.k8s.io/pr-history/?org=kubeflow&repo=pipelines&pr=1200
https://prow.k8s.io/pr-history/?org=kubeflow&repo=pipelines&pr=1125
https://prow.k8s.io/pr-history/?org=kubeflow&repo=pipelines&pr=898
And with https://prow.k8s.io/pr-history/?org=kubeflow&repo=pipelines&pr=1256 the tests were launched manually (using /test) commands.

[2019-05-12 18:30] bassel-z opened #1313 "Support a container flow inside one pod"
I have noticed that each ContainerOp creates a pod not a container. It would be great if we can define a flow based on a series of steps that are launched as containers within the same pod. Would that be possible?

The idea behind it is that containers share the same disk storage volume. So for big data use cases and if multiple steps in the flow require the same data, it would make sense to load

[2019-05-12 22:35] elikatsis commented on #1313
Hello @bassel-z,
As far as I know, such pipelining inside a pod is not supported by Kubernetes. There are `initContainer`s, which run before the main container but are not supported by the DSL, yet. Also, there are `sidecars` which are supported by the DSL, but they run in parallel with the main container.

However, what you could use is persistent storage which is local to your cluster. You can m

[2019-05-13 00:59] jlewi commented on #1100
@jingzhang36 Any update on this?

[2019-05-13 02:38] jingzhang36 commented on #1100
@jlewi I have a PR under review for this https://github.com/kubeflow/pipelines/pull/1237.  I am doing a test of this PR by using my local built image on ml-pipeline-ui pod. The problem I ran into during the test is that calling methods  on the custom object client tends to hang forever. I am still trying to figure out the reason of it.

[2019-05-13 06:59] jinchihe commented on #1303
@elikatsis Oh... that's clear to me now. Thanks a lot!

[2019-05-13 12:59] jlewi commented on #250
If you're using a cluster older than v0.5 then this is likely an issue with JupyterHub or the JupyterHub spawner. You could look at the logs for the spawner to try to figure out what's going on.

You could also try deleting your pod and recreating it. It looks like there is a problem with JupyterHub not realizing that the pod is still running.

[2019-05-13 18:41] cjwagner commented on #1304
The duplicate tests are likely aborted before they can ever report, but that still wastes API tokens and other actions are not successfully deduped. Every comment I linked to has a duplicate comment posted with identical content. e.g.
![Screenshot from 2019-05-13 11-31-11](https://user-images.githubusercontent.com/5334145/57645561-60f70100-7573-11e9-8e55-e3511c668231.png)

From the logs I can conf

[2019-05-13 22:11] IronPan opened #1316 "[kaniko] - reduce dependency on kubeflow namespace"
Instead of assuming kubeflow namespace exist, the kaniko should get the current runtime environment.
Ref:
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/_component_builder.py#L263

[2019-05-13 22:15] gaoning777 commented on #1316
The namespace is configurable: https://github.com/kubeflow/pipelines/blob/e9aa69e353769ac20f9fbfd1f7bf82be0240ea90/sdk/python/kfp/compiler/_component_builder.py#L490

[2019-05-13 22:29] IronPan opened #1318 "[SDK] - Reduce dependency on kubeflow namespace"
This code path hardcode the kubeflow namespace.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L37

We need to refactor it to avoid hardcoding it.

[2019-05-13 22:33] IronPan opened #1319 "[UI] - reduce dependency on kubeflow namespace"
The UI seems depend on kubeflow namespace.
https://github.com/kubeflow/pipelines/blob/master/frontend/server/server.ts#L36

Instead it can set the namespace as env variable when pod starts, similar to
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pipeline/pipeline-apiserver.libsonnet#L169

and refer in the code.

[2019-05-13 22:56] IronPan opened #1320 "Tensorboard CRD integration"
Here are some thoughts of how things should work with Viewer CRD (Tensorboard CRD)
- The namespace it's deployed to is parameterized, and the instance will always be launched to the same namespace as the UI, for now (before multi-user support is in place, and instances are launched in user's ns).
- The TB instance is proxied through UI, so when user port-forward UI, the TB is automatically accessi

[2019-05-13 23:00] rileyjbauer commented on #1319
What is the priority for this work?

[2019-05-13 23:02] jingzhang36 commented on #1320
@IronPan @rileyjbauer @neuromage the template used is a little different from the one here https://github.com/kubeflow/pipelines/pull/1237/files. Can we have a quick meeting helping me understanding the value used in each field?

[2019-05-13 23:44] Ark-kun commented on #1318
/assign @kevinbache

[2019-05-13 23:45] berndverst opened #1321 "Cannot create job for experiment via Pipelines Go CLI"
I have an existing pipeline and created a new experiment via the Go CLI. Now I wish to run a new job based on this pipeline and CLI. This does not seem possible as there is no way to specify the required experiment ID in the Go CLI (https://github.com/kubeflow/pipelines/tree/master/backend/src/cmd/ml).

[code]

I get the following error:

[code]

Here is the verbose request by the way:
[code]

The

[2019-05-13 23:47] Ark-kun commented on #1303
@elikatsis Is is true that in Argo 2.2 (before argoproj/argo#1238) there is no parameter substitution in volumes at all, so this issue is impossible to fix in Argo 2.2?

[2019-05-13 23:48] Ark-kun commented on #1304
/cc @IronPan Can you please check this?

[2019-05-13 23:52] Ark-kun commented on #1313
Generally this goes against the parallelism aspect of the pipelines.

This is already possible to do multiple ways.
* `ContainerOp.add_volume` + `ContainerOp.add_volume_mount`
* `kfp.onprem.mount_pvc`
* Arrikto's `VolumeOp`

We're leaning to standardizing on system-managed volume-based approach in future.

[2019-05-13 23:52] #1313 closed

[2019-05-13 23:53] Ark-kun commented on #1316
@gaoning777 Can we just omit the namespace? Can we get the namespace from the cluster?

[2019-05-13 23:58] elikatsis commented on #1303
@Ark-kun To be honest, I hadn't noticed [this](https://github.com/argoproj/argo/blob/v2.2.1/workflow/controller/workflowpod.go#L197) was actually there in v2.2.1.
So global parameters do get substituted, since the references are added [here](https://github.com/argoproj/argo/blob/v2.2.1/workflow/controller/workflowpod.go#L161).

So, a design which would differentiate global parameters in the DSL an

[2019-05-14 00:02] Ark-kun commented on #1003
Specifying output artifacts is now possible since
https://github.com/kubeflow/pipelines/pull/998
Input artifacts are waiting for https://github.com/kubeflow/pipelines/pull/791 to be merged .
Then we'll need to update the compiler to support passing output artifacts to artifact inputs.

[2019-05-14 00:06] IronPan commented on #1320
SG Feel free to set up a meeting.

[2019-05-14 00:07] Ark-kun commented on #1250
Argo's and KFP backend use the `json.Unmarshal` parser which ignores unknown keys by default. So we've already proactively started adding `optional=True` both in the compiler and the backend.

We're planning to upgrade to Argo 2.3 once they release the final version and kubeflow upgrades to it.

@elikatsis WDYT?

[2019-05-14 00:15] gaoning777 commented on #1316
what do you mean? the same namespace as the pipeline system?
In fact, there is not really any particular reason to run it in the same namespace as the pipeline system, is there?

[2019-05-14 00:21] elikatsis commented on #1250
You've done a pretty nice job there, @Ark-kun!

Do you think there should be a deprecation warning by the compiler? So that in a couple of releases these artifacts are not automatically added.
Also, should there be a similar UI warning to recompile the pipelines? Because I believe the #1289 hack shouldn't stay there forever.

[2019-05-14 00:46] vicaire commented on #1321
The API has been changed quite a bit and the CLI has not been updated to match the API.

Some work is needed and tracked here:

https://github.com/kubeflow/pipelines/issues/812

Contributions are welcome.

[2019-05-14 00:46] #1321 closed

[2019-05-14 02:01] Ark-kun commented on #1316
It probably should be run in the same namespace as the pipeline pods.

[2019-05-14 07:23] eterna2 commented on #1319
@rileyjbauer @IronPan
Hey, I have urgent need of this as I am deploying pipelines in multiple namespace. I am currently using my custom image of a fork.

I have made a PR to effect this change in #1324

[2019-05-14 08:10] IronPan commented on #1316
@gaoning777 FYI the context here is that we are not expecting 'kubeflow' namespace to always exist. user can choose an arbitrary namespace to deploy KFP to, and things should still work
in that context, any place we hardcoding the ns is not considered a good thing to do.  i'm scanning the code base for all the places and this is a place i think we should fix. WDYT?

[2019-05-14 08:15] IronPan commented on #1319
awesome! approved

[2019-05-14 08:25] IronPan commented on #1320
One more item
- Viewer CRD should support namespaced mode that runs under a role instead of a clusterrole. For now, when running CRD controller using a role, i got following

[code]

[2019-05-14 10:38] ryandawsonuk opened #1326 "support for git artifacts"
I'm trying to port workflows from https://github.com/kubeflow/example-seldon/tree/master/workflows to pipelines to produce seldon pipelines examples. Each involves a step where [code is cloned from git](https://github.com/kubeflow/example-seldon/blob/master/workflows/serving-r-mnist-workflow.yaml#L47) and becomes an argo input artifact. I can see [argo artifacts were looked at before](https://gith

[2019-05-14 13:25] ryandawsonuk opened #1327 "volume create sample fails with "{{inputs.parameters.create-pvc-name}}" not found"
I generated the .tar.gz for the [volume samples ](https://github.com/kubeflow/pipelines/tree/master/samples/resourceops) and uploaded the dag one to the pipelines UI. There are no parameters required detected but when I [enable permissions](https://github.com/kubeflow/pipelines/issues/220) and compile the [volumeop_dag.py](https://github.com/kubeflow/pipelines/blob/master/samples/resourceops/volum

[2019-05-14 15:01] ryandawsonuk commented on #1327
Now I see that this is effectively a duplicate of https://github.com/kubeflow/pipelines/issues/1303

[2019-05-14 15:54] ryandawsonuk commented on #1327
I did think this might be a duplicate of https://github.com/kubeflow/pipelines/issues/1303 but I tried upgrading to argo v2.3.0-rc3 (which judging by the commit times should contain the relevant patch) and I still see the same problem.

[2019-05-14 15:58] wstian commented on #525
It'd be very nice if this issue fixed soon. Is there any work on this now? thanks

[2019-05-14 17:26] gaoning777 commented on #1316
Maybe changing it to "default" namespace as the default. The "default" namespace always exists such that it at least does not output errors.

[2019-05-14 17:40] elikatsis commented on #1327
Hi @ryandawsonuk! Thank you for trying out this feature.

As you found out, unfortunately, Kubeflow runs with an old version of Argo but we are in the process of updating it.

This is wierd. Let me guide you through the updating process, and what I have been doing, to make sure it is performed properly.

I have been using the latest releases `argoproj/workflow-controller:v2.3.0-rc3` and `argoproj/

[2019-05-14 19:51] elikatsis commented on #1327
I missed this earlier. This is the desired behavior. We prepend the `resource_name` with the workflow name, for reproducibility.

[2019-05-14 19:58] elikatsis commented on #1327
/assign @elikatsis

[2019-05-14 21:39] ajayalfred commented on #1270
Hi Ilias!
Thanks for sharing your ideas and volunteering to help! Feel free to use the DAG mockup to visualize the changes you are thinking of.

![image](https://user-images.githubusercontent.com/2425179/57734047-d76c2f80-7655-11e9-9cfe-d7c3c02d2db8.png)

I designed this in Sketch. Let me know if you need the source file.

[2019-05-15 01:03] Ark-kun commented on #1326
I'm not sure it's the best for reproducibility and autonomy.

This probably won't happen. It's simple to implement and I do not think there is much value in adding a specialized feature like this. Kubernetes which also had 1st-party GIT support has now deprecated it.

I believe that a good common storage solution is very important for Pipelines.

It can easily be done, yes.

But I'd like you to th

[2019-05-15 09:11] ryandawsonuk commented on #1327
That works thanks!

![image](https://user-images.githubusercontent.com/22754674/57763607-a47b7780-76f9-11e9-9f85-5141163dac0f.png)

I just hadn't patched all of the relevant places

[2019-05-15 09:11] #1327 closed

[2019-05-15 15:32] ryandawsonuk commented on #1326
The main [seldon kubeflow example](https://github.com/kubeflow/example-seldon) creates a multi-armed bandit - one arm of the bandit is an R model, another is SKLearn and the third is TF. If we take the TF arm in isolation then it is basically like the [pipelines end-to-end MNIST example](https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/) in that the aim for both is train and se

[2019-05-15 16:49] amygdala opened #1340 "feature request: don't include the '.py.tar.gz' suffix when generating a pipeline name from an upload"
This is a minor thing, but I think about it every single time I upload a pipeline.  Could we have the generated pipeline name not include the .py.tar.gz suffix?
I know from observation that I'm by far not the only one who edits that part out each time before saving.
![Screenshot 2019-05-15 09 46 46](https://user-images.githubusercontent.com/115093/57793588-8a8c6580-76f6-11e9-8865-10b2bd7360e2.png)

[2019-05-15 18:14] gaoning777 commented on #611
The postsubmit test is working.

[2019-05-15 18:14] #611 closed

[2019-05-15 23:21] aronchick commented on #1321
Hi @vicaire Can you help us what we're supposed to do? We need to programatically trigger a pipeline and there's no guidance for how to handle auth. Can you help us figure this out?

[2019-05-16 09:37] jinchihe commented on #1327
@elikatsis The images for argo and ml-pipeline which are mentioned above have been updated and will be in new Kubeflow release, right? Thanks.

[2019-05-16 09:46] elikatsis commented on #1327
@jinchihe, I'm actually running some tests and will be creating a PR to test the latest releases E2E.
I'm confident we can have it updated for the next Kubeflow release. Let's see how it goes!

[2019-05-16 10:20] elikatsis commented on #1250
Hi everyone!

I have created #1342, a PR adding E2E tests for #926.

Please take a moment to read the rationale behind it, it updates Argo images for the testing infrastructure's deployment.
I consider this would close this issue, since the rest of the goals Alexey has set (stop adding these 2 artifacts and explicitly specify them when they are needed) can be achieved asynchronously, and it requir

[2019-05-16 11:44] danicat opened #1343 "Bug: Dataset not found in US"
I'm getting an error while running the BigQuery kfp component to export some data from BQ to GCS. It says: `google.api_core.exceptions.NotFound: 404 Not found: xxx was not found in location US` which is correct, because the dataset is in EU, but I couldn't find any way to change the default behaviour of looking for datasets in the US.

On our regular codebase we specify the location on the BigQuer

[2019-05-16 15:39] ryandawsonuk opened #1344 "kubeflow_tfjob_launcher_op to support volumes"
I want to be able to load a TFJob with a mounted directory so that the [output can be written](https://github.com/kubeflow/pipelines/issues/1213#issuecomment-486416739) and used in the next step. Much of the [job template](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/src/train.template.yaml) is configurable as the template is [loaded as a dict](https://github.com/

[2019-05-16 15:51] ryandawsonuk opened #1345 "ResourceOp to support pvolumes"
[ResourceOp](https://github.com/kubeflow/pipelines/blob/master/samples/resourceops/resourceop_basic.py#L38) currently doesn't have a way to depend upon a volume. If I try to add [pvolumes](https://github.com/kubeflow/pipelines/blob/master/samples/resourceops/volumeop_sequential.py#L36) I get `got an unexpected keyword argument 'pvolumes'`

The ResourceOp supports creating a resource or even [deplo

[2019-05-16 16:27] elikatsis commented on #1345
Hello Ryan,
actually I was just reading #1344 and was composing an answer (containing questions!).

I will first answer to the main question of this issue.
A `ResourceOp` is a step of the pipeline which manipulates a Kubernetes resource. It executes nothing but a `kubectl <action> ...`.
Therefore, it shouldn't (and can't) mount volumes. It is totally agnostic about the resource.

I believe what yo

[2019-05-16 16:27] elikatsis commented on #1345
/assign @elikatsis

[2019-05-16 16:39] hongye-sun commented on #1345
ResourceOp is different from ContainerOp. It starts with a "launcher" pod which calls k8s API to create another custom resource like TFJob. When you add a pvolumes to ResourceOp, usually you mean adding a volume to the custom resource but not the "launcher". The [PipelineVolume](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_pipeline_volume.py#L26) derives from k8s volume, s

[2019-05-16 16:59] ryandawsonuk commented on #1345
I probably shouldn't have used TFJob as my example in this issue. I do want to be able to mount volumes to a TFJob but I intended to cover that with https://github.com/kubeflow/pipelines/issues/1344 A TFJobOp could well be the way to address that concern.

What I had in mind when raising particular issue was other types of resource, though the only concrete example I have immediately is a [vanilla

[2019-05-16 17:50] elikatsis commented on #1345
Yes, that's my opinion as well. A `JobOp` would not serve much of purpose since a `Job` could be anything.

What you could do is to use the `after()` method on the `ResourceOp` and explicitly specify these dependencies. (Note that if `PipelineParam`s exist in the `k8s_object` passed, the corresponding dependencies will be produced, but I get such parameters don't always exist).

`ResourceOp` is a

[2019-05-16 18:24] ryandawsonuk commented on #1345
Thanks @elikatsis ! Adding .after does indeed [do what I need for this case](https://github.com/ryandawsonuk/pipelines/commit/cf0c36d9dbb356746b6712b43766aa7bb5b5a23d).

I agree about JobOp not being necessary. If I really need to create a plain Job rather than use a ContainerOp (and I'm not sure I do) then I can use ResourceOp and if the Job has dependencies I can use .after (thanks again!).

 I

[2019-05-16 18:54] IronPan commented on #1104
Update -
The python client library need to expose the option to set the request header.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L226

[2019-05-16 19:46] elikatsis commented on #1345
That's nice, you are welcome!
Shall we close this issue and discuss `TFJobOp` in #1344?

[2019-05-16 20:15] ryandawsonuk commented on #1345
Yep, cool

[2019-05-16 20:15] #1345 closed

[2019-05-16 20:33] elikatsis commented on #1344
/assign @elikatsis

Let's pick it from where we left in #1345.
1. https://github.com/kubeflow/pipelines/issues/1345#issuecomment-493138678
2. https://github.com/kubeflow/pipelines/issues/1345#issuecomment-493142939

The goal is to determine what should the API cover for a `TFJobOp`.

In my opinion, the constructor's arguments shouldn't cover the whole `TFJob` spec. Since `TFJobOp` is a subclass of

[2019-05-16 20:37] #1301 closed

[2019-05-16 22:27] Ark-kun commented on #1104
Can you elaborate? Dose the client need to add `Authorization: Bearer` to all requests?

[2019-05-16 22:46] #468 closed

[2019-05-16 22:59] Ark-kun commented on #1104
We're already setting the header here: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L64

The `Client` class has `client_id` paramater that's used to fetch the token: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_auth.py#L28

Do we need to add something extra?

[2019-05-16 23:22] hongye-sun commented on #1104
The current implementation only supports [auth from service account](https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_service_account). In order to support [auth from desktop](https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_desktop_app), we will need to implement a flow which is similar with cloud sdk:

1. Allow user to provide IAP client id

[2019-05-17 01:15] Ark-kun commented on #336
Support for artifact passing in DSL is independent from the low-level storage details.

Features that are needed to support artifact passing in DSL:

- [x] Support declaring output artifacts. Done in https://github.com/kubeflow/pipelines/pull/998
- [ ] Support declaring input artifacts. https://github.com/kubeflow/pipelines/pull/791
- [ ] Support passing constant arguments to artifact inputs. http

[2019-05-17 10:00] vackysh opened #1351 "Kubeflow-pipeline : dsl-compile: command not found"
Hi,

I have created a pipeline and  while compiling it using the below command, it is throwing an error.

kubeflow]$ dsl-compile --py /home/centos/data/SVM_pipeline.py --output /home/ubuntu/data/SVM_pipeline.tar.gz

error:
-bash: dsl-compile: command not found

From documentation, i came to know that dsl-compile comes with SDK package, then why it is getting failed? If it needs to be installed sep

[2019-05-17 13:02] ryandawsonuk opened #1352 "continuous delivery and gitops"
At seldon we're keen on doing continuous delivery with gitops. As others [have pointed out](https://github.com/kubeflow/pipelines/issues/604), it's currently not easy to see how to do this with pipelines so I wanted to propose an approach to see what people think.

The purpose of the approach would be to achieve all of:

1) Have a pipeline that could be hooked up to watch a bucket and run on an ev

[2019-05-17 13:08] ryandawsonuk commented on #1351
Here's the page on installing the SDK:

https://www.kubeflow.org/docs/pipelines/sdk/install-sdk/

Hopefully after running through that you'll be able to do `which dsl-compile` and have the command available

[2019-05-17 13:56] DurivetMatthias commented on #348
I'm also getting this, this is what my bash script to deploy looks like:
[code]
![image](https://user-images.githubusercontent.com/26407191/57932884-29ae8a00-78bc-11e9-96c1-6467da5ae06c.png)

after that the deploy-ml-pipeline job fails.
How did the previous issue get fixed?

[2019-05-17 15:32] ryandawsonuk commented on #1344
I was thinking the same parameters as the existing [TFJob launcher](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/src/launch_tf_job.py) that works [via ContianerOp](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/kubeflow_tfjob_launcher_op.py#L18). There is a [comment referencing them](https://github.com/kubeflow/pipelines/blob/master

[2019-05-17 20:28] #1340 closed

[2019-05-17 21:38] Ark-kun commented on #1351
There might be some problem with your python environment. Maybe the dir where the scripts are installed is not in your `PATH`.

It might be easier to just make your pipeline self-compiling by adding

[code]

at the end of the script.

[2019-05-17 21:44] Ark-kun commented on #1343
Hmm. I see that there is the `dataset_location` parameter.
And that parameter is exposed in the component:
https://github.com/danicat/pipelines/blob/b29fbb5041433649335b2ed376940bbb300e3eef/components/gcp/bigquery/query/component.yaml#L40

We happily accept Pull Requests.

Counter-intuitively, the Dockerfile and the build_image script are here: https://github.com/danicat/pipelines/tree/master/comp

[2019-05-18 00:30] Ark-kun commented on #1263
A feedback data point from me:

If experiment is a grouping construct (each run can belong to 0 or more experiments) then I expect that deleting experiment does not do anything to the runs. On a DB level it just removes the links from the experiment to the runs and the experiment itself.

[2019-05-18 18:37] aronchick opened #1354 "Better diagnoses on MySQL Installation issues"
Repro:
- Did install of standard Kubeflow using kfctl (non-standard namespace)

Expected:
- Pipeline schedules

Actual:
- Nothing happens (and no K8s logs)

@jlewi

[2019-05-20 08:03] ianhellstrom opened #1355 "ML CLI issues with Kubeflow 0.5.0 in GCP"
I have a Kubeflow cluster (version 0.5.0) in GCP and when I run `ml pipeline list` I get the following error message (with debug options):

[code]

It works fine for my Kubeflow cluster that's still on version 0.4.X.

[2019-05-20 08:03] vackysh commented on #1351
Hi @ryandawsonuk ,

Thanks for your reply.

I will be getting a below error while executing the command
"pip install https://storage.googleapis.com/ml-pipeline/release/0.1.20/kfp.tar.gz --upgrade"

Error:

"
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop sup

[2019-05-20 09:12] ryandawsonuk commented on #1351
You could try using ‘pip3 install’ instead of ‘pip install’. Perhaps you’ve got more than one python on your machine.

[2019-05-20 10:38] ryandawsonuk commented on #1326
To put this more succinctly, I think these are the key specific reasons to want to do git clone operations in pipelines:
- The model of installing code dependencies at runtime in a common base image for the language in a container op doesn’t fit well with R. You want to install the dependencies in the Dockerfile to use them as binaries. See https://docs.seldon.io/projects/seldon-core/en/latest/R/r

[2019-05-20 16:30] hongye-sun commented on #1343
@danicat, have you tried the dataset_location parameter of the component? Please let us know your client code if it still fails. Thanks.

[2019-05-20 17:41] vicaire commented on #1352
Adding a couple folks that are interested in the topic of CI/CD:
/cc @ucdmkt
/cc @ksalama

[2019-05-20 20:36] rileyjbauer commented on #1255
@avdaredevil
This seems like it's an issue with the Kubeflow dashboard in general, not KFP. All of the iframed pages appear truncated for me in Firefox, but KFP looks fine when loaded on its own (i.e. https://CLUSTER.endpoints.PROJECT.cloud.goog/pipeline/#/pipelines )

[2019-05-20 22:54] avdaredevil commented on #1255
It seems based on the toolbar color, you're using a very old version of CentralDashboard, which did not have the firefox fix added in.

This is how it looks with the new version:
![image](https://user-images.githubusercontent.com/5303018/58056828-8ca85700-7b30-11e9-9c62-bed9e5aff14e.png)

[2019-05-21 07:57] alicelee0606 opened #1359 "Support Output Viewers With Non-Minio Default Artifact Repository"
I follow the instructions on https://github.com/kubeflow/pipelines/pull/1297 and change my default artifact repository to gcs in workflow-controller-configmap. The output artifact part works. However, I am not able to view the outputs on the UI of "Artifact" Tab. I then find out that my request URL is still /pipeline/artifacts/get?source=**minio**.

I am wondering if this line is the root cause: h

[2019-05-21 09:45] hemantha-kumara opened #1360 "ml-pipeline-persistenceagent restarts continuously"
Kubeflow v0.5.1
On Prem(installed setting KUBEFLOW_DOCKER_REGISTRY to local images)
ksonnet version ks_0.13.1_linux_amd64
kubernetes version v1.13.4

all pods are up and running except ml-pipeline-persistenceagent pod
`ml-pipeline-persistenceagent-58bc77c97b-fpgjs               0/1     Error               153        18h`

Installed kubeflow using kftcl.sh
[code]
logs from ml-pipeline-persistenceag

[2019-05-21 16:14] avdaredevil commented on #1255
In fact, @prodonjs updated the 0.5.0 image last week to include the firefox change, so if you redeployed your cluster, that issue would no longer be present.

[2019-05-21 16:14] avdaredevil commented on #1255
/close

@rileyjbauer If you still seem to have the issue, lmk. Closing for now

[2019-05-21 16:14] #1255 closed

[2019-05-21 17:18] amygdala opened #1361 "FR: do static type-checking of pipeline inputs' default values"
feature request: extend the DSL's static type-checking to include checking the default values defined for a pipeline's inputs.

/assign @gaoning777 (as per chat convo)

[2019-05-21 22:06] Ark-kun commented on #1104
Isn't this what `gcloud auth login` is doing?
It then persists the credentials locally and allows some tools to use them.

[2019-05-21 22:16] Ark-kun commented on #1351
The release documentation gives a different command: https://github.com/kubeflow/pipelines/releases/tag/0.1.20
```pip3 install https://storage.googleapis.com/ml-pipeline/release/0.1.20/kfp.tar.gz --upgrade```

Have you tried it?

[2019-05-21 22:18] Ark-kun commented on #1354
Can you provide any additional information?

Can you reach the cluster?
Do you see the UX?
Can you submit pre-packaged pipelines?

[2019-05-21 22:25] Ark-kun commented on #1326
Can you elaborate on this? Why do you think that some GIT code is duplicated in `ContainerOp`? Components and `ContainerOp` instances just point to some program inside some container. They do not copy the container code.

Do all these projects have the same API? The exact same inputs and outputs?

Can you explain why you cannot execute `git clone` right now using the current SDK?

[2019-05-21 22:37] #1319 closed

[2019-05-21 22:51] Ark-kun commented on #1304
@cjwagner You suspicion was true. @vicaire helped me disabled the `kubeflow/pipelines` webhook in favor of the `kubeflow` webhook.
Let's see how this goes.

[2019-05-21 22:51] #1304 closed

[2019-05-21 22:54] strangemonad-faire opened #1362 "Can't delete a scheduled workflow through the ui"
Running kubeflow 0.5 on gcp as installed by the gui "1-click" installer.

With an experiment that has a scheduled workflow:
- In the pipelines UI
- "Experiments" -> [EXPERIMENT_NAME] -> "Manage" (under recurring run configs)
- Click on the scheduled workflow you want to delete
- Click delete (top right)

You get this error:
'Failed to delete recurring run config: bf2d5d81-773c-11e9-b048-42010a8000

[2019-05-21 23:06] strangemonad-faire opened #1363 "Deleting a swf through kubectl is not reflected in the UI"
I think the underlying source of this bug leads to some other subtle issues.

Ultimately the SWF crd controller and the backend apiserver end up in a split brain scenario.

- The manual fix is to log into the database and delete the row matching that "job"
- I'd assume it's possible to make the apiserver smarter and watch for changes to swf crd's and update the job_store accordingly but I feel lik

[2019-05-21 23:06] strangemonad-faire commented on #1363
related to 1362

[2019-05-21 23:07] strangemonad-faire commented on #1362
related to #1363

[2019-05-21 23:28] strangemonad-faire opened #1364 "Pipelines UI - history / location bar not working"
Using 0.5 (as installed by the gui 1-click installer)

When you navigate to the pipelines UI from the kubeflow top-level "wrapper" ui you end up with a url like:
`https://my-kubeflow.endpoints.my-gcp-proj.cloud.goog/_/pipeline-dashboard`

The pipeline UI fails to get the correct base uri and never updates the path in the browser's location bar.

Compare this to the bahaviour when you load the pipe

[2019-05-21 23:54] strangemonad-faire opened #1365 "Scheduled runs can't be updated with changes to a pipeline"
In general, I'd like to treat a pipeline a little more like a k8s deployment. It has a stable name and definition / configuration that can be tweaked over time.

Currently, if you have a scheduled run (e.g. a daily training task) that needs a slight pipeline change, there's no easy way to "deploy the latest version of the pipeline" without deleting the pipeline and the scheduled run.

Here's a con

[2019-05-22 01:39] jinchihe commented on #721
/assign @jinchihe

Already send a PR #749 for the ticket, please review if you're interested. Thanks.

[2019-05-22 06:52] aronchick commented on #1354
The issue is that it is VERY hard to diagnose what went wrong, so it's tough to provide any of these.

Yes, we reached the cluster.
Yes, we saw the UX, but it only rendered the outside frame (the interior of the frame spun forever).
We could not see (nor could we submit) pre-packaged pipelines.

This was a miracle that we were able to debug at all.

The issue was that MySQL did not install correct

[2019-05-22 09:38] sshuair opened #1369 "How can I dynamic change the output file path by parameter?"
Hi, guys! How can I dynamic change the output file path by parameter?

Just like this or something else ?

![image](https://user-images.githubusercontent.com/5787131/58164423-657c9180-7cb8-11e9-8084-69691eabd8ae.png)

[2019-05-22 12:18] vackysh opened #1370 "Kubeflow-pipeline running with aws sagemaker throws an error passing K-Mean and feature_dim parameters"
Hi,

I have copied the git code for aws sagemaker to execute through the Kubeflow pipeline

https://github.com/kubeflow/pipelines/blob/master/samples/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py

While executing the kubeflow pipeline, I am getting the error of assigning the hyperparameters, although in pipeline parameters there are no such parameters define.

error:

Trainin

[2019-05-22 18:57] michelle192837 opened #1371 "Tide and GitHub merge requirements don't match"
Tide is continually failing to merge PR #1367 (https://prow.k8s.io/tide-history?repo=kubeflow%2Fpipelines&branch=master) with:

failed merging [1367]: [PR is unmergable. Do the Tide merge requirements match the GitHub settings for the repo? Required status check "Travis CI - Pull Request" is queued.]

The GitHub repo settings should be updated to match Tide requirements, after which it should be f

[2019-05-22 22:45] strangemonad-faire opened #1373 "validate workflow on upload"
Sorry if this is a dupe, I couldn't find anything obvious.

When uploading a pipeline or workflow yaml file, it seems like minimal validation happens. If you then create a manual run of a workflow that has an error in it, the run fails (since the Argo workflow resource is validated by the workflow custom resource controller when it's created

[2019-05-23 02:01] Ark-kun opened #1374 "Annotating components that require GCP secrets to work"
Some components need GCS credentials to access GCP services.
Currently we use `.apply(use_gcp_secret(...))` to add secret volume mounts to the task container.

It might be better to just mark the component as requiring GCP credentials and leave the particular way the credentials are made available  to the backend (which can use the same secrets volume for now).

Let's add some marker annotation to

[2019-05-23 12:10] ryandawsonuk opened #1375 "support for building user-supplied component images within pipelines"
Currently if you've got code that has custom dependencies then it needs to go in a component rather than a  ContainerOp or func_to_container_op. This can also make sense if the code is long and complex.

But this is custom code that could change between runs of the pipeline. If the pipeline runs are to fit into a CI/CD setting, then these images need to be rebuilt on each run - or at least every t

[2019-05-23 12:11] ryandawsonuk commented on #1326
Sorry @Ark-kun, I realise now that I've been expressing this problem in a confusing way so am now closing this issue in favour of https://github.com/kubeflow/pipelines/issues/1375

[2019-05-23 12:11] #1326 closed

[2019-05-23 12:40] ryandawsonuk commented on #1344
I have been thinking about whether kustomize could be used to provide the variations on a TFJob instead of jina2. But it's not easy to see how to do that as kustomize works on [different principles](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables). Python [template strings](https://realpython.com/python-string

[2019-05-23 15:37] vackysh commented on #1370
Hi @Jeffwan ,

need your support on this.

I am using training image "382416733822.dkr.ecr.us-east-1.amazonaws.com/kmeans:1" and it is throwing an error for mising values for parameters K and feature_dim. Although we are not using these parameters anywhere in pipeline.

Can you please provide the solution ?

Regards,
Varun

[2019-05-23 15:58] jdelfino commented on #1355
We're also hitting this.

[2019-05-23 16:02] Jeffwan commented on #1370
em. I may delete the configuration fields in clean up. Let me double check and come back to you @vackysh

[2019-05-23 17:06] aakashbajaj opened #1376 "Using admin-gcp-sa and user-gcp-sa for different ContainerOp in same pipeline doesn't work"
Using Kubeflow pipeline SDK, I'm preparing following components where first container requires user service account and second container requires admin service account (as it creates deployment and services using kubectl in the underlying cluster).
[code]

But the generated source yaml file for the pipeline contains only one user-gcp-sa volume mount for the workflow. I have checked and there is no

[2019-05-23 17:15] aakashbajaj commented on #1376
Following is secret volume mount in same pipeline yaml file.
tfserve was mentioned to use admin-gcp-sa but is provided with user-gcp-sa
[code]

[2019-05-23 17:38] Jeffwan commented on #1370
I can not reproduce this issue.

`HyperParameters` was removed by me in this commit
https://github.com/kubeflow/pipelines/commit/26f2719c28a731d8925ae2ce96252be1df2562aa

Add it back will solve this problem

[2019-05-23 18:06] Jeffwan commented on #1370
Image has been rebuilt and it should be good now.

[2019-05-23 18:12] ryandawsonuk commented on #1352
There’s a great new CI/CD example in https://github.com/aronchick/kubeflow-and-mlops. That shows a training pipeline that promotes a packaged model to a serving stage. What is importantly different there from the proposal above is that there isn’t an intention to automatically handle regularly arriving new data. This means it is possible to have a single build/train workflow and promotion then is

[2019-05-23 20:59] hongye-sun opened #1378 "Support changing step name for ContainerOp created from load_component_from_*"
Right now, there is no way to change the name of it. The name is currently generated from the component name in the yaml file.

[2019-05-23 21:11] Ark-kun commented on #1378
What exactly is "step name" (in Argo terms)? Is it "template name" or "task name"?

Currently the step name is considered opaque implementation detail (the compiler does some generation and transformation in any case). The generated name can be changed by changing the component name or by changing the compiler. We could switch to hash-based IDs for instance.

What scenarios require setting explici

[2019-05-23 21:16] Ark-kun commented on #1376
This is a bug. Currently the DSL compiler does not properly de-duplicate volumes. https://github.com/kubeflow/pipelines/blob/2a9bbdf1209f4dabd8e482558aa1e40868a5871c/sdk/python/kfp/compiler/compiler.py#L504

I'll add a workaround which will use the secret name as volume name.

If you want to unblock yourself right now, please copy and modify the code of `use_gcp_secret` to generate different volum

[2019-05-23 21:22] hongye-sun commented on #1378
It should be the name displayed in the KFP UI. I think it should be the task name. The use case is that user wants to customize the name of GCP component when it is displayed on the UI. It is fine to add suffix after it in case of duplication.

[2019-05-23 21:29] gaoning777 commented on #1376
Also, check your IAM and you will find an admin service account created during the deployment. The service account is called DEPLOYMENT_NAME-user@PROJECT_NAME.iam.gserviceaccount.com

[2019-05-23 23:47] posix4e opened #1382 "We only can run about 10 pipeline tasks per giant node"
We are trying to launch a pipeline with 200 tasks and only 10 tasks per node actually go into running state and the rest are tainted. How do I find out why it won't launch more?

[2019-05-24 01:33] Ark-kun commented on #1382
This probably has nothing to do with Pipelines as the system just creates Pods (when dependencies are satisfied), not schedules them - that is the job of Kubernetes cluster.

Maybe there is some default k8s resource request that requests 10% of some Pod resource (e.g. CPU)?

How does the taint look like?

[2019-05-24 01:37] Ark-kun commented on #1369
You should probably not do that. The best situation is when the paths are completely under the system control.

What is the high-level scenario where you want this?

In any case you can always have a mini wrapper script that renames the output files from dynamic path to the system-expected one.

[2019-05-24 01:46] Ark-kun commented on #1351
Closing since the issue is obvious - `pip` program pointing to python2's pip.

This issue is outside of the Pipelines scope and easy to fix.

[2019-05-24 01:46] #1351 closed

[2019-05-24 01:54] Ark-kun commented on #1378
I see. What do you think about adding the custom name to annotations and making the UI show it instead of the component name if available?

[code]

We can hide it behind a sugar method like `set_custom_display_name`:
[code]

WDYT?

[2019-05-24 02:10] Ark-kun commented on #1375
My vision is to have a good support to do anything using components without having to rely on built-in SDK magic that may be too limited for cases that stray away from the happy path.

It would be great to have some kaniko components that can build an image based on GIT repo.

Hiding the intermediate steps seems to be a less important feature right now. We can try addressing it based on the amount

[2019-05-24 02:35] ppkube commented on #1382
looks like to me due to some pre-defined limits set in your cluster. For example the "[--max-pods](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/)" kubelet command line arg that controls the max number of pods that can run on a node.

You could `kubectl describe <your-node>` to inspect your node status/events and also `kubectl describe <your-pod>` to see why the pods ar

[2019-05-24 03:53] randxie commented on #961
@Ark-kun @hongye-sun I have created a prototype to address this issue (for internal need) that converts a ContainerOp into a pipeline func by filling args/kwargs into the following template:

[code]

After the filled template is converted into a Python function, the dsl.pipeline decorator is applied to the generated function. Then the compiler is able to compile the pipeline func into pipeline.tar

[2019-05-24 03:53] alicelee0606 opened #1383 "Option for disabling using .tar.gz when uploading artifact"
Wondering if KFP is planning to support uploading artifacts without archiving to tar.gz since Argo supports this feature as well:
https://github.com/argoproj/argo/commit/11e57f4dea93fde60b204a5e7675fec999c66f56#diff-2ecc5d66cfc406141926d272bab09f2f

This is useful because we might want to upload some result images as artifacts and later visualize them in html with output viewer. Since current outp

[2019-05-24 03:59] vackysh commented on #1370
Hi @Jeffwan ,

Thanks for your response.

I again executed the pipeline using image "382416733822.dkr.ecr.us-east-1.amazonaws.com/kmeans:1" , but getting the same issue

"Training failed with the following error: ClientError: No value(s) were specified for 'k', 'feature_dim' which are required hyperparameter(s) (caused by ValidationError)"

The pipeline parameters are:

@dsl.pipeline(
name='MNIST

[2019-05-24 04:12] posix4e commented on #1382
[code]

[2019-05-24 04:14] posix4e commented on #1382
Woops I realized you asked for describe not get -o yaml
[code]

[2019-05-24 05:23] Jeffwan commented on #1370
@vackysh I think the problem is your machine already has this image. could you go to the machine and do a force pull?
[code]

[2019-05-24 07:12] ramjinokia commented on #1364
Hi Shawn,

Your query :- The pipeline UI fails to get the correct base uri and never updates the path in the browser's location bar.

Yes shawn, you are correct !! Good catch too...
Here they merged few component dashboard like pipeline, Katib, Tj job in single application and also they try to implement in SPA concept. But its not proper SPA implementation and they just using IFrame concept to go

[2019-05-24 07:36] vackysh commented on #1370
HI @Jeffwan ,

I refreshed the image It is now working fine.
Thank you so much.

Regards,
Varun

[2019-05-24 16:06] hongye-sun commented on #1378
Any reason why we don't let user change the task name directly? I think we support it in the ContainerOp. How about we provide a cop_kvargs parameter on the component factory method to let user to change ContainerOP's default settings.
[code]

Or we can expose name as a property:
[code]

[2019-05-24 20:12] Ark-kun commented on #1383
@gaoning777 @IronPan
I think we can just completely switch to non-compressed artifacts.
It will require a bit of changes to the metrics-gathering in the backend and some test infrastructure changes.

[2019-05-24 20:19] Ark-kun opened #1387 "Research dill vs. cloudpickle for pickling functions"
We now use function pickling to capture python code and it's dependencies when creating components form python code. Fairing and Pipelines use the cloudpickle library for that, but some other projects use dill. We need to research the differences and possibly switch to a different library.

Cloudpickle: https://github.com/cloudpipe/cloudpickle
Dill: http://trac.mystic.cacr.caltech.edu/project/path

[2019-05-28 07:02] alicelee0606 opened #1389 "Need feature parity between DSL and component.yaml."
When trying to build a reusable component, there are some attributes that are originally supported by ContainerOp or Kubernetes container v1 core but are not supported in implementation.container in component.yaml (ex: output_artifact_paths/volumes/image_pull_policy...). Wondering what is the best practice for documenting these for each component? Or building a class component is more suggested th

[2019-05-28 08:10] ianhellstrom opened #1390 "Issue with KFP 0.1.20 and TFX in GCP"
I'm running a TFX pipeline in Kubeflow (0.4.1) in GCP. Prior to KFP 0.1.20 it worked fine, but now the initial step where it reads data from BigQuery fails with:

[code]

Except ship the pipeline file with 0.1.20 I did not change anything in the setup.

[2019-05-28 11:44] josefkorbel opened #1391 "Working with TF.Dataset in Pipeline"
I am playing around with Kubeflow Pipelines, what I want to achieve is have one step (python function) where I create an `Iterator` (`generator`), from which I want to create a `TF.Dataset`

Connections between Kubeflow steps are only allowed to have primitive-type inputs/outputs, thus I am not able to pass the Iterator or the iterator-initialized-dataset into the next step.

This is overview of t

[2019-05-28 16:37] strangemonad-faire opened #1392 "FR: Pipelines UI - make it easier to see all runs of a scheduled job"
Suppose you have a few scheduled job that run once a day (e.g. every night) and one that runs every 10 minutes.

The UI makes it hard to spot the status of the infrequent job since the experiment's run history is filled with the more frequent job

[2019-05-28 17:38] #606 closed

[2019-05-28 17:38] gaoning777 commented on #606
We have a component release script in our release process.

[2019-05-28 18:32] gabrielwen commented on #1101
/assign @gabrielwen

[2019-05-28 18:34] gabrielwen commented on #1101
After kubeflow/manifests#106 pipeline YAMLs should look exactly the same as YAMLs from KSONNET.

[2019-05-28 20:00] gabrielwen commented on #1101
/unassign @gabrielwen

[2019-05-28 20:35] gaoning777 commented on #1316
WDYT? I can send a PR to change the default namespace to "default"?

[2019-05-28 21:46] IronPan commented on #1316
https://github.com/kubeflow/pipelines/pull/1394/files
does this look good?

[2019-05-28 22:19] vicaire commented on #1189
Closing, please reopen if this is not resolved.

[2019-05-28 22:19] #1189 closed

[2019-05-28 22:26] #1219 closed

[2019-05-28 22:26] vicaire commented on #1219
Closing. Please re-open if this is still an issue.

[2019-05-28 22:40] alecglassford opened #1395 "Fix capitalization of TensorBoard"
The spelling "Tensorboard" is used throughout the UI, but the [proper spelling](https://www.tensorflow.org/tensorboard) is "TensorBoard" (with a capital B).

This should be changed in all user-visible strings, and ideally in tests and error messages as well.

[2019-05-28 22:43] vicaire commented on #1292
Closing, please re-open if anything is outstanding.

[2019-05-28 22:43] #1292 closed

[2019-05-28 22:47] vicaire commented on #1343
Assuming that this is resolved. Please re-open if not.

[2019-05-29 00:14] danicat commented on #1343
Definitely not solved, just didn’t have time to look into this.

[2019-05-29 00:17] danicat commented on #1343
@hongye-sun that parameter isn’t used for client instantiation. It’s documented as a dataset *output* location.

But the existence of that parameter is why I say it would be a trivial change.

[2019-05-29 00:24] hongye-sun commented on #1343
I see. I didn't notice that there is a default location setting in the Client. I will set it by reusing the dataset_location.

[2019-05-29 02:43] vicaire commented on #415
@hongye-sun, can we close this now?

[2019-05-29 03:05] alicelee0606 commented on #1389
Hi @vicaire
Thanks for labeling this issue. But I guess it is more of an area/sdk or area/sdk/dsl issue?

[2019-05-29 06:34] hongye-sun commented on #415
Yes, this issue has been addressed by #801 .

[2019-05-29 06:34] #415 closed

[2019-05-29 09:48] vackysh commented on #1370
Hi @Jeffwan,

Where can i get the actual source code (ML code ) reading from the image seedjeffwan/kubeflow-pipeline-aws-sm:20190501-05 (not a docker file, but actual logic for train, predction) ?

I actually working on similar automation and want to analyse the source code.

Regards,
Varun

[2019-05-29 13:19] wzrdtales opened #1396 "[Feedback] Kubeflow and pipelines in general"
Since I am digging through the whole kubeflow project as the documentation is just ultimately scarce. I am stumbling over more and more issues. I want to use this issue as a thorough feedback to you.

So first thing is of course the documentation. Every part of the documentation needs definitely work, and you probably know this very well already. But it made me wonder that especially the parts tha

[2019-05-29 19:35] Jeffwan commented on #1370
@vackysh This is a component example for training.
https://github.com/kubeflow/pipelines/blob/master/components/aws/sagemaker/train/src/train.py

Not sure if your work is internal or public. It would be perfect if you can make some contribution! Feel free to ping me on Slack or shoot me an email.

[2019-05-29 20:20] Ark-kun commented on #1396
Apart from the GCP components (that are obviously tied to GCP), the biggest issue is data storage and passing. The current crop of components should support any S3 storage (not just GCS), so they can be portable. If it isn't then it's a bug. But I agree that portability needs to be much better.

Pipelines is intended to be a glue that makes it much easier to combine together existing code to build

[2019-05-29 20:38] Ark-kun commented on #1389
The intent of components to be portable and reusable. Some features that would make the component non-portable (e.g. volumes) are deliberately absent.
The idea is to customize those features on the **task** level (`task = component + arguments + customization`). So it's by design that when you want attach some particular volume (which is non-portable object since it's cluster specific), you need t

[2019-05-29 20:48] Ark-kun commented on #1391
When your producer and consumer are executed on different machines in a distributed system it's inevitable that the data must be at some point serialized to byte blobs to be sent over network.
For some primitive types this already happens automatically, but for most types there is no automatic support for serialization/deserialization. You cannot just pass in-memory objects right now. Everythiong

[2019-05-29 21:17] strangemonad-faire opened #1397 "FR: Pipelines UI - Dag tasks should also show the task name"
Currently the pretty Dag visualization just displays the template name. In a dag with multiple invocations of the same template (e.g. a workflow that has multiple sql queries) you don't get enough information.

Suggestion 1)

======================
**[task-name]**
*[template-name]*

======================

Suggestion 2) (just match the workflow yaml)

======================
**name: [task-name]**
*

[2019-05-29 21:20] strangemonad-faire commented on #1397
To be clear, this is when viewing pipelines that have ben uploaded (the Pipelines tab). A run / scheduled workflow has the opposite issue where the name is displayed but the type of task (template name) isn't displayed

[2019-05-29 21:31] Ark-kun commented on #1288
Workaround: downgrade bazel binary to .23 version.

[2019-05-29 21:49] rileyjbauer commented on #1397
Suggestion 2 seems pretty reasonable to me. We've discussed which of task/template is more useful in the past, and it does seem arguable that they are both useful to be shown.

@ajayalfred what do you think of these suggestions?

[2019-05-29 23:09] strangemonad-faire commented on #1397
@rileyjbauer I do like option 2 (in both the '#pipelines/details' and '#runs/details' view), bonus points for nicely rendering key-values in the ui that match the yaml.

There are 2 potential issues with #2
1) is line length. I'm already hitting some template and task names that are truncated in the current rendering.
2) I don't think is inherent to this change but if you're hand coding a workflow

[2019-05-30 06:55] vackysh commented on #1370
Hi @Jeffwan  ,

Thanks for information. But i am looking for the main Kmean algorithms code that is used for training the model. I couldn't find that anywhere on path.

I have a requirement where Scikit SVM model to get deploy on kubeflow pipeline using aws sagemaker services and S3. So i want to have a look on source ML code that has been passed through image as an input to pipeline.

Regards,
Va

[2019-05-30 07:35] josefkorbel commented on #1391
Thank you for your fast response @Ark-kun

We've ultimately decided we will store the processed data on GCS since storage is cheap nowadays, so I'll pass the URI around and initialize the the `TF.Dataset` in the Model step from gcs-client-created iterator for blobs.

[2019-05-30 12:05] vackysh opened #1401 "Kubeflow-pipeline aws sagemaker example MNIST Classification - throwing an error while invoking the endpoint"
Hi @Jeffwan ,

From the github documentation, I took the below sample for invoking the sagemaker endpoint :

import json
import io
import boto3
import os
import csv

import pickle, gzip, numpy, urllib.request, json
from urllib.parse import urlparse

# Load the dataset
urllib.request.urlretrieve("http://deeplearning.net/data/mnist/mnist.pkl.gz", "mnist.pkl.gz")
with gzip.open('mnist.pkl.gz', 'rb')

[2019-05-30 17:53] ajayalfred commented on #1397
I like suggestion #2 as well. The length of the label and string is an obvious challenge to fit in the node. While there can be some clever way of designing around that – I'm curious to know if we went with suggestion #1, would users implicitly understand bold is for name and italics is for template?

[2019-05-30 19:59] Jeffwan commented on #1370
@vackysh Now I get your point, in the example, I am using the container images from SageMaker. I think KMEANS one is first-party models and you might don't have access to it. What I suggest you to do is bring your own training image if you have customization request.

[2019-05-31 00:12] jdoliner commented on #1162
Weighing in from Pachyderm on this. We're planning to integrate first class support for TF-job into our pipelines, which will allow you to write kubeflow jobs that benefit from Pachyderm's provenance tracking, versioning and dedupe. We're planning to have the data exposed to the TF-job as either an s3 endpoint that it can query are a Kubernetes CSI that gets mounted in. We'd love to chat more with

[2019-05-31 06:45] Kyrremann opened #1411 "Setting custom domain for pipeline"
I'm trying to run Kubeflow on-prem, where we use custom domain, `nais.local` instead of `cluster.local`.

This crashes the `ml-pipeline-persistenceagent`, and I've haven't found a way to set the custom domain.

Logs:
[code]

The interesting part:
[code]

Any tips to what I can do?

[2019-05-31 15:17] dannydk6 opened #1412 "Send string through output"
What is the simplest way to send along a string through the outputs in a Kubeflow Pipeline? I would like to have a timestamp created in my first component and then send that timestamp to each successive step in the pipeline. The only way I have seen to send outputs is by file path in the docs. Should I just save the string to a file path in my python code within the component or is there a better

[2019-05-31 15:30] dannydk6 commented on #1412
I realize this is best posed in StackOverflow. Closing this issue.

[2019-05-31 15:30] #1412 closed

[2019-05-31 16:02] #1212 closed

[2019-05-31 17:42] hitesh1907nayyar opened #1413 "Pipleline example for KubeFlow not working on GCP"
Hi.

I have installed kubeflow on kubernetes for gcp. I have a running kubeflow central dashboard. When i move to run pipeline and run - (XGBoost - Training with Confusion Matrix) as i am getting the below error when the pod/xgboost-trainer-qw77f-1190200260.

MountVolume.SetUp failed for volume "gcp-credentials" : secrets "user-gcp-sa" not found

Warning FailedMount 1m (x16 over 35m) kubelet, gke-

[2019-05-31 19:10] gaoning777 opened #1414 "Issue with link to Stackdriver logs."
The current stackdriver log link is generated based on the project id and cluster name, which is retrieved from GCE metadata servers. For example http://metadata/computeMetadata/v1/instance/attributes/cluster-name.
It is recommended by the GKE group to store the metadata in the configmap and retrieve them from the configmap afterwards. Since these metadata is static throughout the cluster's lifecy

[2019-05-31 20:52] vicaire commented on #1000
@Ark-kun, can we close this one?

[2019-05-31 20:57] vicaire commented on #1271
@Ark-kun, could you please provide more details about why this needs to be done? Thanks!

[2019-05-31 21:08] vicaire commented on #1391
Resolving. Please re-open if there is anything outstanding.

[2019-05-31 21:08] #1391 closed

[2019-05-31 21:17] vicaire commented on #429
@hongye-sun, should we close? Are you expecting more work on this issue?

[2019-05-31 21:29] vicaire commented on #1387
@Ark-kun, could you please add details about the feature that this research is related to?

[2019-05-31 22:07] gaoning777 opened #1416 "Convert the openapi_schema_validator in the type to json_schema"
Converting the name to json_schema since the DSL compiler and the frontend is using the json validator to validator the default value and user input. Besides, it makes more sense as json schema.

[2019-05-31 22:08] gaoning777 commented on #1416
cc @Ark-kun

[2019-05-31 22:08] vicaire commented on #1100
@jingzhang36, can we close this issue?

[2019-05-31 22:33] Ark-kun opened #1417 "Remove support for parsing type annotations specified as "string of a dict serialization" "parametrized types"."
It would be great to remove the following case as it's not being used.
https://github.com/kubeflow/pipelines/blob/76d2955e03ce96d4fa67203183631722b461d855/sdk/python/kfp/dsl/_metadata.py#L74
https://github.com/kubeflow/pipelines/pull/1407/files#r289230655

[2019-05-31 22:36] gaoning777 opened #1418 "Moving the _extract_pipeline_metadata and _extract_component_metadata out of the metadata module to avoid circular dependency"

[2019-05-31 22:38] Ark-kun opened #1419 "Break @component dependency on `_metadata._extract_component_metadata`"

[2019-05-31 22:48] Ark-kun opened #1420 "PipelineParam class should not expose TypeMeta"
TypeMeta is an implementation detail type that we do not want to expose in public API
https://github.com/kubeflow/pipelines/blob/87b96a0a7a5bec3ad502714f21d69694e46b2f4f/sdk/python/kfp/dsl/_pipeline_param.py#L154

https://github.com/kubeflow/pipelines/pull/938/files#diff-3ce4e39a5176a4d398491d2a85fea5c9R70

/cc @gaoning777

[2019-05-31 22:54] Ark-kun commented on #1397
Suggestion 2) (use task id) is not a good idea. Task id is implementation detail generated by the compiler. It can be changed to opaque hash string in future. The task ID is not human-readable and has technical limitations.

What we can do is to make the UX check the template annotation for the display name and use that if it's available.

This issue seems to be a duplicate of https://github.com/k

[2019-06-01 00:39] gaoning777 commented on #1420
agreed

[2019-06-01 01:40] Ark-kun opened #1421 "Explicitly specify UI-metadata and Metrics artifacts for the components that really produce them"
Explicitly specify UI-metadata and Metrics artifacts for the components that really produce them so that the compiler does not need to add them everywhere.
https://github.com/kubeflow/pipelines/blob/87b96a0a7a5bec3ad502714f21d69694e46b2f4f/components/local/confusion_matrix/component.yaml#L8

[2019-06-01 01:59] Ark-kun commented on #362
Fixed by https://github.com/kubeflow/pipelines/pull/1297

[2019-06-01 01:59] #362 closed

[2019-06-01 01:59] Ark-kun commented on #1195
Fixed by https://github.com/kubeflow/pipelines/pull/1297

[2019-06-01 01:59] #1195 closed

[2019-06-01 01:59] Ark-kun commented on #1234
Fixed by https://github.com/kubeflow/pipelines/pull/1297

[2019-06-01 01:59] #1234 closed

[2019-06-01 02:01] Ark-kun opened #1422 "Compiler should stop auto-adding artifacts to every op unless they're explicitly specified"
Requires https://github.com/kubeflow/pipelines/issues/1421

[2019-06-01 02:02] Ark-kun commented on #1250
Closing this issue as the blocking issues have been fixed by https://github.com/kubeflow/pipelines/issues/1250 and https://github.com/kubeflow/pipelines/issues/1260 and we've already upgraded to Argo 2.3.

[2019-06-01 02:02] #1250 closed

[2019-06-01 02:17] Ark-kun commented on #1387
Done.

[2019-06-01 02:19] Ark-kun commented on #1271
Done.

[2019-06-01 02:22] Ark-kun commented on #450
Fixed in https://github.com/kubeflow/pipelines/pull/1047 https://github.com/kubeflow/pipelines/pull/890 https://github.com/kubeflow/pipelines/pull/889

[2019-06-01 02:22] #450 closed

[2019-06-01 02:26] Ark-kun commented on #428
I think the actual problem is that op name is the same as the pipeline name.

[2019-06-01 02:28] Ark-kun commented on #403
This is a Google Storage issue.

[2019-06-01 02:30] post2web commented on #428
The snippet I originally posted doesn't seem to trigger the error anymore. I think this should be closed.

[2019-06-01 02:58] #1343 closed

[2019-06-01 06:54] Kyrremann commented on #1411
Turns out I wasn't using the latest version of persistence agent image.

[2019-06-01 06:54] #1411 closed

[2019-06-01 07:38] #721 closed

[2019-06-03 03:16] alicelee0606 commented on #1389
Yes. I think that makes sense. Thanks for the response and looking forward to more complete output data supports!

[2019-06-03 06:38] animeshsingh commented on #1162
Hi @jdoliner - wouldn`t it make sense to support pachyderm as an underlying construct on kubeflow pipelines itself? Currently KFP works with argo - it would be great if we can also support pachyderm under the same constructs - where for data oriented usecases we can run pachderm?

[2019-06-03 14:42] hougangliu opened #1426 "cloudpickle import error"
after #1372, cloudpickle must be installed in _default_base_image='tensorflow/tensorflow:1.11.0-py3', otherwise comp.func_to_container_op will fail owning to importing cloudpickle error

[2019-06-03 14:43] hougangliu commented on #1426
/cc @Ark-kun

[2019-06-03 21:10] Ark-kun commented on #1426
Thanks for discovering the bug! I'll fix it ASAP.

[2019-06-03 22:04] gaoning777 commented on #304
Closing this issue now. If there are more configurable ns, please reopen it.

[2019-06-03 22:04] #304 closed

[2019-06-03 22:07] gaoning777 commented on #360
@vicaire I created this issue to standardize the testing for components. Are you requesting that we should support a notebook sample tests and have the test infra support it?

[2019-06-03 22:08] gaoning777 commented on #422
This issue has been resolved in https://github.com/kubeflow/pipelines/pull/1335

[2019-06-03 22:08] #422 closed

[2019-06-03 22:11] gaoning777 commented on #647
Should we close it? I think https://www.kubeflow.org/docs/pipelines/sdk/install-sdk/ has a placeholder for the SDK version now.

[2019-06-03 22:13] gaoning777 commented on #516
we already support the imagepullpolicy: https://github.com/kubeflow/pipelines/blob/895645c3e4e90df1c14ab0b4336be74a35d85a5d/sdk/python/kfp/dsl/_container_op.py#L370

[2019-06-03 22:13] #516 closed

[2019-06-03 22:14] gaoning777 commented on #451
we already supported step level retry: https://github.com/kubeflow/pipelines/blob/895645c3e4e90df1c14ab0b4336be74a35d85a5d/sdk/python/kfp/dsl/_container_op.py#L799

[2019-06-03 22:18] gaoning777 commented on #566
VolumeOp is illustrated here: https://github.com/kubeflow/pipelines/tree/master/samples/resourceops

[2019-06-03 22:18] #566 closed

[2019-06-03 22:22] rileyjbauer commented on #1397
@Ark-kun to confirm, your suggestion would be to use the display name if provided and otherwise fallback to the template?

[2019-06-03 22:25] rileyjbauer commented on #117
#4 was partly completed by #1284

[2019-06-03 22:29] rileyjbauer commented on #224
Fixed by #1261

[2019-06-03 22:29] #224 closed

[2019-06-03 22:32] Ark-kun commented on #252
It might have been fixed by https://github.com/jupyterlab/jupyterlab/pull/5814 . I need to check.

[2019-06-03 22:33] rileyjbauer commented on #501
@jingzhang36 @neuromage will this still be an issue after #1320 is merged?

[2019-06-03 22:37] rileyjbauer commented on #690
This is fixed as of #1274

[2019-06-03 22:37] #690 closed

[2019-06-03 22:38] rileyjbauer commented on #819
Closing as this UX is now handled by Kubeflow core, not KFP

[2019-06-03 22:38] #819 closed

[2019-06-03 22:40] rileyjbauer commented on #908
Canonical issue for this is here: https://github.com/kubeflow/kubeflow/issues/2852

[2019-06-03 22:58] #1361 closed

[2019-06-03 22:58] gaoning777 commented on #1361
@amygdala feel free to reopen the issue if there are issues.

[2019-06-03 23:01] Ark-kun opened #1430 "SDK - Change Lightweight component code gen to not require cloudpickle at runtime"
The cloudpickle runtime dependency was inadvertently introduced in https://github.com/kubeflow/pipelines/pull/1372 which caused issue at runtime https://github.com/kubeflow/pipelines/issues/1426 . The issue was fixed short term in https://github.com/kubeflow/pipelines/pull/1429, but for long-term I should research how to get rid of the cloudpickle runtime dependency.

[2019-06-03 23:45] #1426 closed

[2019-06-04 01:12] jdelfino commented on #1355
Adding `--namespace kubeflow` to the command works around this issue.

[2019-06-04 05:37] hougangliu opened #1436 "katib launcher image is out of date"
gcr.io/ml-pipeline/ml-pipeline-kubeflow-studyjob:2c2445df83fa879387a200747cc20f72a7ee9727 in https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/katib-launcher/component.yaml#L22 is out of date now, we need build a new image and update it in
https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/katib-launcher/component.yaml#L22

build new image as below
[code]

[2019-06-04 11:22] elikatsis commented on #566
_Minor Update:_

I opened #1433 to better organize these examples and also provide a mini documentation.

[2019-06-04 14:42] jlewi commented on #1101
@IronPan @vicaire Is anyone working on this?

[2019-06-04 15:45] neuromage commented on #501
If the underlying cause was a timeout due to pod creation, then I imagine the problem may still manifest itself, especially during first launch in a brand new cluster without a cached image.

[2019-06-04 15:46] jlewi commented on #1080
@IronPan @vicaire How's this coming? Are you on track to have this ready for 0.6?

[2019-06-04 16:56] strangemonad-faire opened #1438 "FR Pipelines UI - Back arrow nav should be smarter."
Pipeline detail and run detail pages should be smarter about how the "<-" back arrow works. It currently just blindly goes back in history.

e.g. 1) share a deep link to a run (.../pipeline/#/runs/details/2dc039dd-8662-11e9-84ac-42010a800070) open a new browser tab load that page. There is no browser history, the back arrow leaves the kubeflow UI.

Desired: return to the either pipeline/#/experime

[2019-06-04 17:53] gaoning777 commented on #451
Argo does not have workflow level retry.
DSL has a sample to illustrate how to apply a transformer to all ops in a pipeline: https://github.com/kubeflow/pipelines/pull/1440

[2019-06-04 18:59] Ark-kun opened #1442 "Error: "Sorry, /notebook/kubeflow/kfp-notebook is not a valid page""
I've deployed KFP 0.1.20 with IAP using web deployer.
I've created a notebook using the Kubeflow UI.
WHen I click "Connect" I'm redirected to the  https://foo.endpoints.bar.cloud.goog/notebook/kubeflow/kfp-notebook page which shows "Sorry, /notebook/kubeflow/kfp-notebook is not a valid page".

![image](https://user-images.githubusercontent.com/1829149/58906122-1541fe00-86c0-11e9-9d3a-a9c956fbb720.

[2019-06-04 19:00] jdoliner commented on #1162
@animeshsingh I certainly think that makes sense and we'd love to see Pachyderm support KFP. For the time being though it makes more sense for us to focus our resources on bringing Kubeflow support to Pachyderm and making it really good, since that's what will benefit our users. If you're up for it we'd love to chat more about your use case and see if Pachyderm might be a good fit for what you're

[2019-06-04 21:51] gaoning777 commented on #193
Any suggestions how we can auto reclaim the resources when two commits are submitted around the same time?

[2019-06-04 21:54] rileyjbauer commented on #1253
@paveldournov Are you saying the KFP UI should link to the main Kubeflow docs (and not just rely on the central dashboard UI to provide that link?)

[2019-06-04 21:55] gaoning777 commented on #647
Feel free to reopen this issue.

[2019-06-04 21:55] #647 closed

[2019-06-04 21:57] hongye-sun commented on #1378
Make the bug as p1. It is currently blocking a customer demo.

[2019-06-04 23:19] #1318 closed

[2019-06-05 02:20] Ark-kun commented on #1389
@alicelee0606
BTW, I'd be glad to help you with building reusable components. I'm often present on the Kebeflow slack channel. Our documentation might be a bit convoluted sometimes. https://www.kubeflow.org/docs/pipelines/sdk/component-development/

[2019-06-05 02:20] #1389 closed

[2019-06-05 17:34] IronPan commented on #1080
@jingzhang36 I remember you are working on istio integration. How is it going?
@jlewi Just to double check. I think we agreed that despite istio integration, we always leave user an option to not install istio, and can do port-forwarding. Is that something that still align with your thinking?

[2019-06-05 20:20] Ark-kun commented on #1254
@animeshsingh @mpoqq Is this issue still relevant?

[2019-06-05 20:22] Ark-kun commented on #1413
How did you deploy Pipelines? What's the version?
Does the `user-gcp-sa` secret exist in your cluster?

[2019-06-05 23:10] mpoqq commented on #1254
No, sorry. The bugs are fixed.

[2019-06-05 23:10] #1254 closed

[2019-06-06 00:32] gaoning777 opened #1450 "Add github issue templates"
Provide a template for issues such as bug report, feature request as a guideline for users to submit a detailed issue.

Similar to https://github.com/kubernetes/test-infra/tree/master/.github/ISSUE_TEMPLATE

[2019-06-06 06:32] #776 closed

[2019-06-06 07:46] tesla3 commented on #1375
I am seeing this git driven image building has its value. For example to declare explicit dependency of a pipeline step on git repo, we can use git url + commit hash, to frozen so reproducibility won't be an issue

[2019-06-06 08:20] xiaogaozi commented on #920
@vicaire If my understanding is correct, currently either [HTTP](https://github.com/kubeflow/pipelines/blob/master/backend/api/swagger/pipeline.swagger.json) or [RPC](https://github.com/kubeflow/pipelines/blob/master/backend/api/pipeline.proto) haven't update pipeline API. There're just create and delete pipeline APIs.

[2019-06-06 09:54] alicelee0606 commented on #1243
Also, would it be possible to support **create_pipeline()** as well? The current **run_pipeline()** only upload the pipeline implicitly without giving it a name.

[2019-06-06 11:55] hitesh1907nayyar commented on #1413
This is resolved thanks . Needed to add secret to the created cluster

[2019-06-06 12:20] hitesh1907nayyar opened #1452 "Problem in running the create_cluster.py(Dataproc) pipeline script in local"
Hi,

I am facing an issue where I want to run the create_cluster.py script of pipeline from local system to decode as how the script is working. Link - https://github.com/kubeflow/pipelines/blob/master/components/dataproc/create_cluster/src/create_cluster.py.  I am getting an error

D:\python create_cluster.py  --project bradley-playground --zone us-central1-a --name ten4 --staging gs://bradley-pl

[2019-06-06 15:05] kvalev opened #1453 "Cloudpickle fails to deserialize a function"
Deserializing a python function during runtime fails in case the function has a default parameter, which uses an argo variable.

Here is a simple example:
[code]

This can be executed fine when compiled with 0.1.19 (latest version in PyPI), but fails with the latest master (which uses cloudpickle). The error message is one of the following:
- in case only `{{workflow.uid}}` is used:
[code]
- in ca

[2019-06-06 15:28] rummens commented on #596
Any recent progress on this? :-)

[2019-06-06 16:15] IronPan commented on #1080
Instruction to depend on the IAP endpoint
https://github.com/amygdala/examples/blob/cookbook/cookbook/pipelines/notebooks/kfp_remote_deploy.ipynb

[2019-06-06 17:50] hongye-sun opened #1456 "cmle training component should output job_dir.txt"
It should output the file regardless user provides jodDir or not, otherwise argo will fail.

[2019-06-06 17:51] hongye-sun commented on #1456
The workaround is to provide a jobDir.

[2019-06-06 17:52] wzrdtales commented on #1396
Yah but that is actually my point: In the end, the DSL for the pipeline ends up being hand-written scripts. And currently the DSL has more boilerplate, than a good and modern CI (especially referring to the previously mentioned gitlab ci and not outdated dinosaurs like jenkins).

Is there an outline how this will look like? Or not even planned yet, if there is anything, I would be highly intereste

[2019-06-06 19:10] IronPan opened #1460 "make kfp.client() work with inverse proxy"

[2019-06-06 19:40] rileyjbauer commented on #1442
Has anyone else seen this? When I started a new KFP 0.1.20 deployment on a new cluster, I did not encounter this issue

[2019-06-06 19:50] Ark-kun opened #1461 "SSL certificates of 1-click deployed clusters expire after 3 months"
Chrome stops opening the service afterwards.

[2019-06-06 19:52] rileyjbauer opened #1462 "Update frontend integration tests to work with latest selenium chrome"
In #1457 we pinned the [selenium/standalone-chrome](https://hub.docker.com/r/selenium/standalone-chrome) image to `selenium/standalone-chrome:3.141.59-oxygen` as [3.141.59-palladium](https://github.com/SeleniumHQ/docker-selenium/releases/tag/3.141.59-palladium) caused the helloworld integration test to fail with:

`Error: The requested resource could not be found, or a request was received using a

[2019-06-06 20:10] #451 closed

[2019-06-06 20:21] gaoning777 commented on #506
SDK already supports "get experiment by name".

[2019-06-06 20:23] gaoning777 commented on #1052
Closed in favor of https://github.com/kubeflow/pipelines/issues/193, which I updated the issue.

[2019-06-06 20:23] #1052 closed

[2019-06-06 20:58] #1417 closed

[2019-06-06 21:11] gaoning777 commented on #205
@Ark-kun is argo supporting the underscore in 2.3, the current version pipeline deploys?

[2019-06-06 21:22] Jeffwan commented on #596
@rummens Please track status in Apache Beam community https://issues.apache.org/jira/browse/BEAM-2572 . There's a python SDK dependency there to make demo work with S3 natively.

[2019-06-06 23:04] Edilmo commented on #1442
I have the same issue. I have try with different names and also deleting the PVC generated before to retry.
The output of kubectl -n kubeflow get notebooks in my case is showing the list of running notebooks:
[code]
The kubernetes cluster is ok from a resource perspective and there is no pods with error or pending state.
The cluster have almost a month working without problems. I'm experiencing th

[2019-06-06 23:26] gaoning777 commented on #462
solving https://github.com/kubeflow/pipelines/pull/1465

[2019-06-06 23:53] #1456 closed

[2019-06-07 00:36] #1397 closed

[2019-06-07 00:42] #462 closed

[2019-06-07 02:22] #1376 closed

[2019-06-07 12:12] PascalSchroederDE opened #1471 "failed to save outputs: Error response from daemon: No such container"
While trying to setup my own kubeflow pipeline I ran into a problem when one step is finished and the outputs should be saved. After finishing the step kubeflow always throws an error with the message `This step is in Error state with this message: failed to save outputs: Error response from daemon: No such container: <container-id>`

First I thought I would have made a mistake with my pipeline, b

[2019-06-07 17:03] neuromage opened #1472 "Enable flexible and custom visualizations for artifacts produced by Kubeflow Pipelines"
We'd like to enable users to easily add visualizations of artifacts in the UI. Today, the KFP UI only supports a few basic visualizations, and custom visualizations (such as those produced by TFMA/TFDV libraries) need a lot of [custom work](https://github.com/kubeflow/pipelines/blob/f8b06387b8da9145081fe257d69b411a16ff9266/components/dataflow/tfma/src/model_analysis.py#L196) by the user to produce

[2019-06-07 17:03] neuromage commented on #1472
/assign @ajchili

[2019-06-07 17:27] gaoning777 commented on #742
The current TFX components are updated when new versions offer features that are worth adding. Would you mind listing the new features in the new TFX releases that will enrich the functionalities of these TFX components? Thanks.

[2019-06-07 17:42] mameshini commented on #596
@rummens At the same time, work is in progress on a library that allows to mount any S3 bucket into pipeline steps or Jupyter notebooks. The library is based on Goofys file system, and it will be ready as soon as next week. It allows various frameworks such as Beam and Keras to access data in S3 buckets via POSIX interface.  It supports S3, Minio, GCS, Ceph:
[https://github.com/kahing/goofys](http

[2019-06-07 19:18] animeshsingh commented on #1162
Thanks @jdoliner. I believe for folks entering in it from end to end ML platform perspective, KFP would be the integrated entry point. But I hear you. Have a meeting with Nick from your team coming up to discuss some of this...

[2019-06-07 20:31] gaoning777 commented on #1316
Configure the ns to 'default' by default: https://github.com/kubeflow/pipelines/pull/1473

[2019-06-07 21:33] Ark-kun commented on #1453
Unfortunately this is probably "Won't fix" for now.
Argo's templating language is text-based and it brings all sorts of problems in many scenarios.
For example this command-line fails in Argo:
[code]

You probably imaging what's happening in your case: Argo is replacing some text snipped inside binary data which breaks the binary format.

In your case the workaround is easy and better for future-p

[2019-06-07 21:39] Ark-kun commented on #1452
You can copy the https://github.com/kubeflow/pipelines/tree/master/components/dataproc/common dir alongside or include its parent in `PYTHONPATH`.

[2019-06-07 23:51] Ark-kun commented on #1471
What is your environment? Are you using GKE?
Is it reproducible on your side?
Can you try Argo's coin flip sample?

[2019-06-08 00:09] aronchick opened #1474 "Better Error Messages - When Pod Creating"
I ran several pipelines serially, and the problem was that the containers needed to bind a PVC for each. The PVCs were read only one - so subsequent containers sat around pending, waiting for the PVC to release. Would be great if there was a better error message here than.

[2019-06-08 00:21] Jeffwan commented on #1401
@mbaijal is working on SageMaker components. Meghna, could you help take a look at this issue?

[2019-06-08 07:39] rummens commented on #596
Awesome looking forward to it! Basically it will be a PV mounted in each pod, that under the hood is an object storage?

[2019-06-08 07:44] rummens commented on #1472
You are talking about custom visualization, does this mean the TFX components already have support for the basic visualization options of kubeflow?

For now I would we happy to have e.g. tables of the input data or a tensorboard of the training. This should only require writing that data to the metric file for Kubeflow.

I am happy to assist on this but don’t want to reinvent the wheel. So if any

[2019-06-08 14:19] hitesh1907nayyar commented on #1452
Thanks @Ark-kun .

I tried with the above steps and the above problem was resolved. But now i am facing another issue. When i run  : python create_cluster.py --project softwarization-net --region us-central1-a --name kubesparkless --staging gs://playgroundbucket1234 then i get the below error:

Copying file://D:\MACHINE LEARNING\Kubeflow\pipelines\components\dataproc\create_cluster\src\initializat

[2019-06-09 09:05] hitesh1907nayyar commented on #1452
This is resolved. Please close this.

[2019-06-09 09:12] hitesh1907nayyar opened #1475 "Train,Evaluate & Schema.json in xgboost-spark pipleine example"
Hi,
I am trying to run the analyze.py script which is there in xgboost-spark pipeline example ( Link - https://github.com/kubeflow/pipelines/tree/master/samples/xgboost-spark). In order to run the script and understand the flow i need to give inputs for train.csv and schema.json. In addition eval.csv is also taken as input in transform script. From where can i get these files? I am not able to und

[2019-06-10 01:27] jlewi commented on #1100
@jingzhang36 Is there any more work to do here or can we close this?

Kubeflow master should be working with ISTIO and kustomize so you could try deploying from master and verifying that everything is working. With ISTIO I don't believe we ported over the "/data" hack we were using with Ambassador.

[2019-06-10 02:08] jlewi commented on #1101
@IronPan @vicaire ping? Have you taken a look at the manifest in
https://github.com/kubeflow/manifests/tree/master/pipeline

Is there more work to be done there?

[2019-06-10 07:45] ianhellstrom commented on #1355
I cannot confirm that the namespace works. I always used the namespace in my commands anyway.

[2019-06-10 08:05] hitesh1907nayyar opened #1477 "[KeyError: u'UNIQUE'] error in analyze xgboost-spark pipline example"
Hi,

I am trying to run the analyze.py script which is there in xgboost-spark pipeline example ( Link - https://github.com/kubeflow/pipelines/tree/master/samples/xgboost-spark).In order to run the script and understand the flow i copied the schema.json and train.csv from bradley-playground to my storage directly.  Now when i a running the script i am getting below error:

root@instance-1:/home/hcl

[2019-06-10 08:46] hitesh1907nayyar commented on #1475
Closing as same issue reported with detailed logs on #1477

[2019-06-10 08:46] #1475 closed

[2019-06-10 09:44] Duske commented on #678
Hey @animeshsingh, with new process namespace sharing (PNS) I got argo to run with containerd on k3s, no docker involved. You can use it by setting a property in the config map as described in #901 [here](https://github.com/argoproj/argo/issues/901#issuecomment-499159019)

Does this solve your problem?

[2019-06-10 11:30] elikatsis commented on #1474
Hello David.

That's weird. First of all, PVCs can be one of the following (info by the official [documentation](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes)):
- `ReadWriteOnce` (the volume can be mounted as read-write by a **single node**)
- `ReadOnlyMany` (the volume can be mounted read-only by **many nodes**)
- `ReadWriteMany` (means the volume can be mounted as

[2019-06-10 15:54] magreenberg1 commented on #1471
I'm having the exact same problem. I've tried using the Basic Samples and the the same result each time.

I'm trying to run these samples using microk8s on a local machine.

**Coin Flip Sample:**
`Name:               pipeline-flip-coin-6hrwg-3854551091
Namespace:          kubeflow
Priority:           0
PriorityClassName:  <none>
Node:               maya/192.168.74.59
Start Time:         Mon, 10 Ju

[2019-06-10 15:57] magreenberg1 commented on #1471
I'm having the exact sample problem with all of the Basic Samples. I'm running Kubeflow on-top of microk8s on a local machine.

Every time I try to run one of the samples I get: `This step is in Error state with this message: failed to save outputs: Error response from daemon: No such container`

And my out of `kubectl describe pods` is the same as the one above.

[2019-06-10 16:46] ajchili opened #1479 "Broken link in README"
The [Pipelines API doc](https://www.kubeflow.org/docs/pipelines/reference/api/) link within the [README.md](https://github.com/kubeflow/pipelines/blob/master/README.md) provides a 404 error when going to it. Would the [Pipelines API Reference](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/) page be the correct link?

[2019-06-10 17:49] mbaijal commented on #1401
@Jeffwan Will take a look.

[2019-06-10 17:55] gaoning777 commented on #1092
Does this error still persist?

[2019-06-10 18:03] gaoning777 commented on #665
We do have samples illustrating the feature: https://github.com/kubeflow/pipelines/blob/a39ae8eb779e69e4e85e424abba8ecac3f60435f/samples/basic/recursion.py#L65. However it is not specifically for this feature. Agree that it is better to have a sample for each feature in the basic folder.

[2019-06-10 18:04] gaoning777 commented on #1034
Execution order: #665

[2019-06-10 18:18] shouryaotta opened #1481 "support for withItems as in argo yaml"
Following are examples of withItems field in argo yaml. This needs to be enabled as a container op. This allows for interpretability in terms of the resulting DAG from the runs.

https://github.com/argoproj/argo/blob/master/examples/loops-dag.yaml#L17
https://github.com/argoproj/argo/blob/master/examples/loops-maps.yaml#L18

The current option to create loops within a DAG is to use multiple .after

[2019-06-10 20:23] IronPan commented on #1481
/assign @hongye-sun could you help triage this?

[2019-06-10 20:34] llKetanll commented on #451
@gaoning777 Can we retry from the UI for a specific step?

[2019-06-10 20:35] hongye-sun commented on #1481
@shouryaotta, is any use case blocked by this feature? You can create multiple ops and use .after to manage the dependencies today.  I agree it's not ideal but it should unblock you.

[2019-06-10 20:44] gaoning777 commented on #451
Unfortunately not. Currently, the retry can be configured in the DSL and the backend automatically retries the steps if they fail. If your user scenario is to be able to rerun a specific step, we are working on the KFP caching such that a pipeline can be rerun without rerunning all steps.

[2019-06-10 20:45] shouryaotta commented on #1481
I can create a yaml directly and use that and I have been using that directly with Kubeflow. For example, I have a yaml defined as below :

      - name: run1
        template: dlmodel
        arguments:
          parameters:
          - {name: num, value: "{{item}}"}
        withItems: ['0_0,0_1', '0_2,0_3', '0_4,1_0', ...  '22_4,23_0', '23_1,23_2', '23_3,23_4']

      - name: bayesopt
        de

[2019-06-10 21:49] Ark-kun opened #1482 "User \"system:serviceaccount:kubeflow:pipeline-runner\" cannot get persistentvolumeclaims in the namespace \"kubeflow\""
Error reported by @paveldournov :
He was trying to create and attach PVC to a task pod.
[code]

[2019-06-10 21:52] hongye-sun commented on #1482
I think @paveldournov is probably use an old kfp deployment which doesn't have the changes in https://github.com/kubeflow/kubeflow/commit/2a2e3df72ac9a4c91082eb08bb15c825f7e30eb2#diff-fb8a67f3dde0c1054cfd4c9c2e6f6a9b. Install from latest release should fix it: https://deploy.kubeflow.cloud/#/deploy?version=336eeb6637b38ae474f00657c4e9b9550397e03d

[2019-06-10 21:54] Ark-kun commented on #1481
Including the code sample that I've sent to the @shouryaotta for reference:

def loopy_pipeline():
    volume_mount = volume_mount_op()

    hp_deps = [volume_mount]
    train_deps = []

    for x in range(4)
        hp_task = hypertune_op().after(*hp_deps)
        hp_deps = []
        for y in range(10)
            train_task = dlmodel_op(num=y).after(*train_deps)
            hp_deps.append(train

[2019-06-10 21:56] Ark-kun commented on #1481
Does the code I sent produce the same graph?

[2019-06-10 22:01] shouryaotta commented on #1481
it does not produce the same graph as the generated yaml looks like the one below.

- name: run0-0
    template: dlmodel
    arguments:
      parameters:
      - {name: num, value: "'0_0,0_1'"}

- name: run0-1
    template: dlmodel
    arguments:
      parameters:
      - {name: num, value: "'0_2,0_3'"}

- name: run0-2
    template: dlmodel
    arguments:
      parameters:
      - {name: num, valu

[2019-06-11 00:33] Ark-kun commented on #1378
Fixed by https://github.com/kubeflow/pipelines/pull/1463

[2019-06-11 00:36] Ark-kun commented on #1471
This is upstream issue: https://github.com/kubeflow/kubeflow/issues/2347 https://github.com/ubuntu/microk8s/issues/434

[2019-06-11 01:53] songole commented on #1382
Are you hitting pod count limitations. Pipelines don't terminate pods after completing a run.

[2019-06-11 01:56] posix4e commented on #1382
This turns out to be a aks-engine issue, feel free to close this issue.

[2019-06-11 02:33] jinchihe commented on #742
Thanks for your attention. @gaoning777 logged the ticket since I met some problems such as TFServing does not support my model unless upgreade TFServing (it has been upgraded). sorry It's hard to show the feature list but I noticed the TFX 0.13.0 has been released, we used old ones, personally we should have strategy to upgrade that.

[2019-06-11 03:10] alicelee0606 commented on #1359
Hi, is there any update with this issue?

[2019-06-11 03:27] Ark-kun commented on #252
Still broken in the 0.1.21 release. I guess Kubeflow hasn't updated Jupyter yet.

[2019-06-11 05:25] Ark-kun opened #1485 "Parameters with default value None are handled incorrectly by python components"
All default values are converted to strings and are eventually passed to the command-line which always consists of strings. `None=NoneType` is converted to `"None"` string and is passed as such. It's not converted back to the `None` object during execution.

[code]

[2019-06-11 07:27] hougangliu commented on #1344
/assign

[2019-06-11 07:28] hougangliu commented on #1344
/unassign

[2019-06-11 07:43] kvalev commented on #1481
There is actually an issue with the `after_op` approach. This only works if the items are known at compile time. In our use case the items are determined during runtime, by a different container, which by the looks of it is something that is also [supported by argo](https://github.com/argoproj/argo/blob/master/examples/loops-param-result.yaml#L20).

[2019-06-11 13:56] PascalSchroederDE commented on #1471
Yes, I am running Kubeflow on top of microk8s as well. It doesnt work with the Flip Coin example neither, same error. So its probably related to issue 2347 as you mentioned. However, the suggested "dirty fix" is not working for me, because there is no `/var/snap/microk8s/current/docker.sock` which I could link the `var/run/docker.sock` to (probably because they replaced the docker daemon with cont

[2019-06-11 15:27] shouryaotta commented on #1481
All the arguments as used in the "withItems" are known at compile time. They are not changed during run time.

[2019-06-11 16:19] kvalev commented on #1481
[This example](https://github.com/argoproj/argo/blob/master/examples/loops-param-result.yaml#L20) demonstrates using the output from one step as input items for another. Or do I misunderstand it?

[2019-06-11 16:26] hongye-sun commented on #1481
Thanks. It seems straightforward to support it in DSL. Something like:
[code]

We currently don't have eng resource in this cycle to support it. Any contribution is welcome.

[2019-06-11 18:43] ajchili opened #1487 "Prevent run from starting if it has missing parameters"
Currently, a run is able to be executed without parameters. For instance, if you wanted to use **[Sample] ML - TFX - Taxi Tip Prediction Model Trainer**, you have to specify the output location and project name while all other parameters are provided. For a new comer to KFP or someone who is rushing through the run process, these fields could be overlooked and ignored. This becomes problematic as

[2019-06-11 18:50] kvalev opened #1488 "Handling of boolean input types"
I have a pipeline that has a boolean parameter:

[code]

When starting a new pipeline via the UI, the input field is a textbox, prefilled with the input string 'True'. Given that the input value is evaluated using `bool(value)`, the only way to start the pipeline with a `False` value is to leave the input textbox empty.

It seems that currently the pipeline does not gracefully handle boolean param

[2019-06-11 20:00] rileyjbauer opened #1489 "Always include link to stackdriver logs when possible"
Currently, if KFP is running in GKE and a pipeline component pod is evicted, then we [provide a link to the logs in Stackdriver](https://github.com/kubeflow/pipelines/blob/master/frontend/src/pages/RunDetails.tsx#L572).

We think in general it's more useful to see the logs within the KFP UI, but Stackdriver does provide additional benefits such as custom queries for logs, so users may find it usef

[2019-06-11 22:22] gaoning777 opened #1491 "Create issue/pr templates"
Create templates to guide users to submit a reproducible issues.

[2019-06-11 23:19] gaoning777 commented on #1491
adding bug issue templates: https://github.com/kubeflow/pipelines/pull/1492

[2019-06-12 00:15] songole opened #1493 "Deletion of runs in an experiment"
Add support for delete operation in Kubeflow UI and Python SDK.
As per the [conversation](https://groups.google.com/forum/#!topic/kubeflow-discuss/yxmeBLLXx70) on kubeflow-discuss,
Kebeflow [API](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/#operation--apis-v1beta1-runs--id--delete) supports delete.

What is the expectation of archive? It doesn't delete pods and

[2019-06-12 10:16] jinchihe opened #1497 "Web UI should supports get artifact from local path"
We have support mounting PV/PVC in pipelines for on premise cluster. For this case the artifact will be stored in the PVC mount path, we should support getting artifacts from local path, such as `/mnt/a07b8215-8c1a-11e9-a2ff-525400ed33aa/tfx-taxi-cab-classification-pipeline-example-q7rtq-2449399348/data/roc.csv`. Thanks.

[2019-06-12 12:00] PascalSchroederDE commented on #1471
@magreenberg1 Could you solve the issue?

[2019-06-12 14:39] magreenberg1 commented on #1471
@PascalSchroederDE I have not. I suspect the short-term fix for me will either involve downgrading microk8s (and seeing if that works) or trying out MiniKF.

[2019-06-12 17:07] jdelfino opened #1498 "Support deep links in web ui"
It would be useful to be able to create URLs that point to specific individual experiments, runs, and maybe even component instances within a run. The use case I have in mind is wanting to share results with a colleague - sending them a URL is easier than pointing them at the dashboard, and telling them to search around for an experiment/run/etc.

[2019-06-12 17:42] gaoning777 commented on #641
duplicate of https://github.com/kubeflow/pipelines/issues/345.

[2019-06-12 17:42] #641 closed

[2019-06-12 17:43] gaoning777 commented on #1035
duplicate of https://github.com/kubeflow/pipelines/issues/345

[2019-06-12 17:43] #1035 closed

[2019-06-12 18:47] shouryaotta commented on #1481
@IronPan please let me know when we can have this feature.  Later this year is fine.

In the meantime, I can directly generate the yaml and submit to Kubeflow without going through the python code to compile and generate it through DSL. I would love to see this as a feature though.

I may not be able to contribute to the code right now. But if you give me pointers to the locations in the code, I w

[2019-06-12 22:20] nakfour opened #1501 "Pipeline UI shows "Sorry, /pipeline/ is not a valid page""
Hi,
I installed Kubeflow version 0.5.1, and from the ambassador route, I can get to all the UI elements (Kubeflow doc, Notebooks, TFJob dashboard, etc) except pipelines. the page shows an error message: Sorry, /pipeline/ is not a valid page.
ambassador pod shows this message but no error
-------
ACCESS [2019-06-12T22:05:46.226Z] "GET /pipeline/ HTTP/1.1" 304 - 0 0 0 0 "Mozilla/5.0 (Macintosh; Inte

[2019-06-13 15:29] pjo256 opened #1504 "[Questions] Adding environment variables and specifying component replica count"
Hey! I'm looking into using kubeflow pipelines to manage ML workflows. Not sure if this is the right place to ask, but couldn't find clarity in previous issues or on the doc site.

I'd like to specify environment variables for components in a pipeline using k8s config maps and secrets. I see examples using `use_gcp_secret`, however this is only intended to expose
 GCP credentials as environment va

[2019-06-13 18:34] David-LiCause commented on #428
I experience a similar issue trying to run a pipeline that has the same 'name' argument as the component.yaml file.

[code]

[code]

When I run this I get the same error message as above:
[code]

Changing the 'name' argument in the pipeline fixes the issue for me. I'm using kfp version 0.1.12

[2019-06-14 01:05] Ark-kun opened #1507 "Code format may be different between Python versions 3.5 and 3.6"
This can cause problems with Lightweight components in cases when the python version of the notebook is not the same as in the base image.

See also https://github.com/keras-team/keras/issues/9595

I got this error while playing with python code pickling:

[code]

[code]

Command line and arguments:
[code]

[2019-06-14 01:50] Ark-kun opened #1508 "Logs are effectively impossible to copy when the log window has scroll-bar"
There is something wrong with log line selection. You cannot select more lines than fits in the window and when you scroll, some weird things happens with the selection.
This is probably caused by the line numbering UX component.
I'd prefer working selection over line numbering (whih might not add much value to the logs).

[2019-06-14 02:50] #1479 closed

[2019-06-14 04:39] alicelee0606 opened #1509 "Enable resubmit feature"
Argo provides resubmit feature based on memoized results from failed workflow (https://github.com/argoproj/argo/blob/8bf7578e1884c61128603bbfaa677fd79cc17ea8/cmd/argo/commands/resubmit.go). Wondering if it is also possible to enable such feature on KFP as well? For basic usage, the support from backend and SDK might be enough. But it would be also great if users can do it on the UI (maybe like how

[2019-06-14 06:30] #1453 closed

[2019-06-14 13:00] durandom commented on #1501
@nakfour the issues seems similar to https://github.com/kubeflow/kubeflow/issues/3414

Although the `pipeline` route is'nt even registered with ambassador:
http://ambassador-admin-kubeflow.10.16.208.2.nip.io/ambassador/v0/diag/

URL | Service | Weight
-- | -- | --
http://ambassador-admin-kubeflow.10.16.208.2.nip.io/seldon/ai-library/m-detectfraud/ | detectfraud-m-detectfraud.ai-library:8000 | 100.

[2019-06-14 13:13] durandom commented on #1501
accessing the pipeline pod directly via creating a route to :8888 gives `404 page not found`.
So the pod is accepting HTTP requests.
Here's the log from the `ml-pipeline` pod

[code]

Do we need a mysql pod?

[2019-06-14 13:15] durandom commented on #1501
ok. so `mysql` is up and running. How does the pipeline UI get to the mysql service?

[2019-06-14 17:55] cvenets opened #1514 "TFMA errors when trying to visualize Chicago Taxi example results"
Hello all, I'm running the TFX (Chicago Taxi) example Pipeline on-prem, which completes successfully. The analysis step produces the 4 corresponding files: `plots`, `output_display.html`, `metrics`, `eval_config`.

The Docker Image for the Analysis step inside my Pipeline is:
`gcr.io/ml-pipeline/ml-pipeline-dataflow-tfma:6ad2601ec7d04e842c212c50d5c78e548e12ddea`

I have the 4 resulting files acces

[2019-06-14 18:07] jlewi commented on #1514
http://gcr.io/ml-pipeline/ml-pipeline-dataflow-tfma:6ad2601ec7d04e842c212c50d5c78e548e12ddea

Looks like the image is from February.

[2019-06-14 19:31] nakfour commented on #1501
@durandom the ambassador logs when receiving GET /pipeline/ HTTP/1.1, are not complaining about the page not found. I am still not clear what happens after ambassador receives this GET request. And I am not sure if the mysql service has anything to do with this. Also I think this issue is different than ** kubeflow/kubeflow#3414**

[2019-06-14 20:07] durandom commented on #1501
but the ambassador doesnt even have a route to the `ml-pipeline` pod.
So, lets get ambassador out of the equation.

Why do we get a `404` when connecting to the `ml-pipeline` pod?

[2019-06-14 21:01] otaviocv commented on #695
I am having the same problem but I cant figure out, neither in the examples or docs, where I can set pipelines configs, could you provide an example?

[2019-06-14 21:13] pjo256 commented on #1504
Looks like `add_env_from` on `ContainerOp` solves my environment variable / secret handling.

[2019-06-15 11:25] rummens commented on #695
The easiest solution is to assign the secret to the pipeline runner service account.

[2019-06-15 19:48] hongye-sun opened #1516 "[Doc] Improve doc about input and output parameters"
In current KFP doc, there is very limited doc about how data is passed between steps and how inputs are passed into user's container and how outputs are passed out from container.

[2019-06-15 19:50] hongye-sun opened #1517 "[Sample] add a sample for multiple outputs"
Add a basic sample to demonstrate returning multiple outputs from a single step. It seems that all samples today are have only single output.

[2019-06-16 18:00] yaronha commented on #60
@ark-kun maybe we should have labels based filter, people can add labels like owner, project,..

[2019-06-17 12:28] SaschaHeyer opened #1518 "Add custom prediction routine support for AI Platform deploy component"
Hi Kubeflow Team,

it would be great if we had the possibility to use the deploy component also for custom prediction routines.

Which requires the following runtime arguments
* --package-uris
* --prediction-class

The feature requires adaptions at the following locations

* https://github.com/kubeflow/pipelines/tree/master/component_sdk/python/kfp_component/google/ml_engine
* https://github.com/k

[2019-06-17 12:37] PascalSchroederDE commented on #1471
Switching to Minikube and setting up kubeflow pipelines on that Minikube cluster worked for me.

[2019-06-17 12:37] #1471 closed

[2019-06-17 18:48] strangemonad-faire commented on #1263
@Ark-kun how does 1 run belong to multiple experiments? I can see 1 pipeline being run multiple times with different parameters – each run could belong to a different experiment?  Maybe I'm missing something obvious about experiments?

[2019-06-17 20:14] tinkerer opened #1519 "terminate does not stop retrying"
If you use set_retry on your ContainerOp, and then later want to terminate your pipeline, it will continue retrying.

[2019-06-17 22:44] jameswnl opened #1520 "usage document for ml command line"
https://github.com/kubeflow/pipelines/tree/master/backend/src/cmd/ml
E.g. Does it support creating a run?

[2019-06-17 23:50] Ark-kun commented on #1516
The original Component development guidelines had a big section dedicated to it. In current document version the section is much smaller, but it can be a starting point https://www.kubeflow.org/docs/pipelines/sdk/component-development/#passing-the-data-to-and-from-the-containerized-program

[2019-06-17 23:55] Ark-kun commented on #1517
The Lightweight components sample has multiple outputs https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/Lightweight%20Python%20components%20-%20basics.ipynb

But I agree that we need more components and samples demonstrating that.

What do you think about just making a component like `Split lines` that can for example split table into train/test.

[2019-06-18 00:25] Ark-kun commented on #1507
I've discovered that there is a serious opcode incompatibility between python versions 3.5 and 3.6+. See my analysis of the issue: https://github.com/cloudpipe/cloudpickle/issues/293

Due to this issue I decided to switch back to using source code copying by default and to continue improving it. https://github.com/kubeflow/pipelines/pull/1512

Until we stop supporting python 3.5 (https://github.co

[2019-06-18 17:12] jameswnl commented on #516
I've enabled the `set_image_pull_policy('Always')` and I can see the compiled yaml now has the `imagePullPolicy: Always`
However, the image is still not updated in the pipeline run.  Here are how I've checked
* `docker pull` the `latest`  image from docker hub and do a attach to the container image to make sure it has the latest commit
* A `git show --summary` in the command to dump last commit to

[2019-06-18 19:22] mpoqq commented on #1360
Hi @hemantha-kumara, do you find the bug or a solution?
Are you sure that the _ml-pipeline_ service is running correctly?
The ml-pipeline service has a higher timeout to connect to the mysql server. Therefore, it sometimes looks as if the ml pipeline service is running correctly, but has also failed (take also a look of the amount of restarts).

[2019-06-19 04:26] xiaogaozi commented on #1198
@cheyang May I ask, is there any progress about this feature?

[2019-06-19 06:13] hongye-sun opened #1528 "[FR] support init container in DSL"
Argo supported init container in https://github.com/argoproj/argo/commit/e34024a3ca285d1af3b5ba3b3235dc7adc0472b7 which has been released in v2.3.0.

We should prioritize this work to expose the API.

[2019-06-19 08:57] ryandawsonuk commented on #1344
I notice support for volumes is being added to tfjob_launcher_op in https://github.com/kubeflow/pipelines/pull/1494

Looks like it expects volumes to be specified in a dict of k-v pairs for pvc-name (key) and mountPath (value). Is that right @hougangliu ?

Am wondering how it could be used with pvolumes. I guess you could get the name of the pvolume and construct a dict.

Am not saying it has to w

[2019-06-19 09:19] Kiza opened #1529 "Install Kubeflow Pipelines CLI error: go get: error loading module requirements"
Install Kubuflow Pipelines CLI for the first time,

[code]

My go version,
[code]

[2019-06-19 10:22] elikatsis commented on #1344
@ryandawsonuk
Hey Ryan,

I have added a comment on that PR proposing some refactoring.
If that is OK with @hougangliu, then it seems to me that `PipelineVolume`s will be supported seamlessly.

[2019-06-19 11:26] fabito commented on #1442
Having the same issue here. I'm using port forward in the meantime.

These are the entries of the Ambassador Router Table:

URL	| Service | Weight
------------ | ------------- | -------------
http://localhost:8877/tensorboard/ tensorboard/ | tensorboard.kubeflow:9000 | 100.0%
http://localhost:8877/ambassador/v0/check_ready	| 127.0.0.1:8877 | 100.0%
http://localhost:8877/ambassador/v0/check_alive |

[2019-06-19 11:40] fabito commented on #1442
Forcing Ambassador to restart solved the issue.
See: https://github.com/kubeflow/kubeflow/issues/3414#issuecomment-499964564

[2019-06-19 11:59] cheyang commented on #1198
I didn't have chance to work on it. @xiaogaozi , if you'd like to pick it, it will be great. Thanks.

[2019-06-19 16:50] IreneGi commented on #1081
Python 3 tfx support here https://www.tensorflow.org/tfx/tutorials/tfx/workshop 0.13 supports python 3.5

[2019-06-19 21:40] Ark-kun commented on #1519
What backend version do you have?

[2019-06-19 21:49] aronchick commented on #1474
The PVC is RWO - and the second pod that tried to start (both were TFJobs) would fail and crash because the PVC was not mountable. Then it would continue to do so over many minutes, with a CrashLoopBackoff every time, until, eventually, the first job finished, released the PVC, and the second PVC (eventually) restarted and picked it up.

[2019-06-19 22:01] tinkerer commented on #1519
Kubeflow Central Dashboard says "build version v0.5.0"

[2019-06-19 23:29] SinaChavoshi opened #1532 "Metrics visulazation friction"
If two runs within the same experiment have different metrics ( column names shown for metrics not the actual values) only one of the pipeline values / names will be shown. Also only up to two columns / values of metrics can be shown at a time.

Repro steps:
1. run light weight component sample
2.  change metrics names to a & b  and rerun the sample.
only quantile & remainder values from  run 1 ar

[2019-06-19 23:36] SinaChavoshi commented on #1532
just noted  documentation calls this out "Click one of your experiments. The Runs page opens showing the top two metrics, where top is determined by prevalence (that is, the metrics with the highest count) and then by metric name. The metrics appear as columns for each run."

[2019-06-19 23:36] #1532 closed

[2019-06-20 08:16] Ark-kun commented on #1519
What about the Pipelines dashboard? It should show the commit link. Or maybe you remember the version you've installed.

[2019-06-20 08:17] Ark-kun commented on #1519
Nevertheless, this is probably upstream issue. I'm just checking whether you Argo version is 2.3.0 or earlier...

[2019-06-20 08:18] Ark-kun commented on #1452
Happy to hear that.

[2019-06-20 08:18] #1452 closed

[2019-06-21 01:46] Ark-kun commented on #1130
Fixed in https://github.com/kubeflow/pipelines/pull/1535 and https://github.com/kubeflow/pipelines/pull/1536

[2019-06-21 01:51] Ark-kun commented on #1263
Maybe we do not support it now, but there are use cases for that. If the experiment is just a group of runs then it's not unusual for run to be part of multiple groups. Imagine Experiments that correspond to model improvement projects. Then the final runs of one experiment are starting runs of another experiment. Experiments can be even used like branches or tags (e.g. contain the latest stable ve

[2019-06-21 01:53] Ark-kun commented on #561
We've now upgraded to Argo 2.3. AFAIK there are many improvements to different executors. Let's check whether switching the executor fixes the problem.

[2019-06-21 01:55] Ark-kun commented on #506
I think this is fixed.

[2019-06-21 01:55] #506 closed

[2019-06-21 01:56] Ark-kun commented on #60
I like this approach.

[2019-06-21 02:04] Ark-kun commented on #960
Does this reproduce?

[2019-06-21 02:06] wcass77 commented on #60
What if instead of deleting, we just had an option to archive, like with runs. There should also be an option to archive pipelines. That way no metadata is lost, but old experiments are out of the way

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-21 02:06] Ark-kun commented on #193
Unless Prow sends some notification to the running process, there might be no way to proactively clean the resources. But we can run a GC script every day.

[2019-06-21 02:12] #1130 closed

[2019-06-21 02:16] Ark-kun commented on #1375
The difference between

[code]
and
[code]
Seems pretty minimal to me.
The second variant even support Hg and other VCS.

[2019-06-21 03:18] #1493 closed

[2019-06-21 05:14] cvenets commented on #1497
This is something we need as well, to be able to visualize the results correctly via the KFP UI on MiniKF.

Can we coordinate to include this in 0.6?

[2019-06-21 13:45] SinaChavoshi opened #1541 "Oath setup instruction is not clear for setting up redirect URL"
The instruction for setting up redirect URL indicates:

...
In the Authorized redirect URIs box, enter the following (if it’s not already present in the list of authorized redirect URIs):

https://iap.googleapis.com/v1/oauth/clientIds/<CLIENT_ID>:handleRedirect
<CLIENT_ID> is the OAuth client ID, something like XXX.apps.googleusercontent.com.
...

At this step of the instruction the user does not

[2019-06-23 16:05] Gnommer commented on #1471
would downgrading microk8s will solve this issue cause i can see that the code in the container is executed but it is something to do with containerd handling the containers.
i tried a single container pipeline i.e only one job and it ran but ended with the message similar to this issue. may be containerd daemon is pointing to some other place when its searching for containers ?

[2019-06-24 02:47] ryan-williams commented on #1498
I just ran into this issue as well.

IIRC the UI did deep-links in earlier versions of KFP.

I've upgraded to 0.1.19 and indeed everything seems to just be at `https://….endpoints.….cloud.goog/_/pipeline-dashboard`

[2019-06-24 02:55] ryan-williams commented on #1498
xref https://github.com/kubeflow/pipelines/issues/1364

If you go to `https://….endpoints.….cloud.goog/pipeline/#` you get a similar dashboard, but the links actually change the browser bar; paths under that root all resolve sensibly, e.g. `https://….endpoints.….cloud.goog/pipeline/#/experiments`.

`/_/pipeline-dashboard` seems to be a SPA that links to equivalent pages under `/pipeline/#`, but in

[2019-06-24 13:19] JavaDerek opened #1545 "Docker image gcr.io/ml-pipeline/api-server:0.1.16 has many security issues"
Security scanning of the latest api-server Docker image in the repo indicates the following CVE's...

CVE-2017-14062
CVE-2017-8804
CVE-2018-6485
CVE-2018-6551
CVE-2018-1000001
CVE-2019-9169
CVE-2017-12424
CVE-2018-15686
CVE-2016-2779
CVE-2018-12886

[2019-06-24 16:15] SinaChavoshi opened #1547 "docker magic component should support requirements file"
Docker magic  (pipelines/sdk/python/kfp/notebook/_magic.py_) currently only accepts two input parameters as follows
 if len(line.split()) != 2:
    raise ValueError("usage: %%docker [gcr.io/project/image:tag] [gs://staging-bucket]")

However it is common to have a requirements file along with the docker build file. That does not seem to be supported.

[2019-06-24 16:31] SinaChavoshi opened #1548 "Support conda environment.yml for docker build requirements"
Conda is very frequently used, Conda generates a .yaml file which in many ways is superior to a typical requirements file generated from pip freeze. The ask here is to support uploading a conda environment.yml for docker build step ( either using docker magic or the component build from python.

[2019-06-24 19:15] SinaChavoshi opened #1549 "600 sec timeline for docker build is too short"
Docker build step is hardcoded to time out at 600s (reference: https://github.com/kubeflow/pipelines/blob/02313e4e5ebf2d95a3b9726c687e5150ce4de382/sdk/python/kfp/compiler/_component_builder.py#L545)

This timed out for a common build environment.

[2019-06-25 08:28] Ark-kun commented on #1442
I have an issue:
My first notebook works fine, but notebooks spawned later are not accessible.

[2019-06-25 08:29] Ark-kun commented on #1545
This version is pretty old. Can you please try upgrading?

[2019-06-25 08:30] Ark-kun commented on #1517
Can you look at the Lightweight sample? WDYT?

[2019-06-25 08:34] Ark-kun opened #1556 "Kaniko image build fails: "error building stage: failed to push to destination""
[code]

[2019-06-25 14:30] andrewsmartin commented on #1087
Hello! Just wondering if there are any updates on this. The latest version on pypi is 0.1.19.

[2019-06-25 16:19] SinaChavoshi opened #1559 "Issues with Build 1.21"
running the light weight pipeline sample using SDK 1.21 I get the following error , this does not repro if i switch to 1.20 of KFP

You are using pip version 18.0, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Traceback (most recent call last):
  File "<string>", line 20, in <module>
  File "<ipython-input-4-64f5ff6c312a>", line 4,

[2019-06-25 16:36] SinaChavoshi commented on #1549
additionally it is not obvious to the user what happened when they hit this time out as the process successfully completes (looking at last line ). It may make sense to add the timeout setting as an optional field.

[2019-06-25 16:45] SinaChavoshi opened #1560 "customization step refers to using KS which is deprecated"
https://www.kubeflow.org/docs/gke/customizing-gke/

----> To customize the Kubeflow resources running within the cluster you can modify the ksonnet app in ${KFAPP}/ks_app. For example, to mount additional physical volumes (PVs) in Jupyter:

cd ${KF_APP}/ks_app
**ks param** set jupyter disks "kubeflow-gcfs"
You can then redeploy using kfctl:

cd ${KFAPP}
kfctl apply k8s
or using ksonnet directly:

[2019-06-25 18:55] gaoning777 commented on #205
@Ark-kun gently tap.

[2019-06-25 18:56] gaoning777 commented on #226
Not complained by the customers for the past six month. Close and feel free to reopen if this is important.

[2019-06-25 18:56] #226 closed

[2019-06-25 19:39] gaoning777 commented on #250
@Ark-kun Do you still the issue on v0.5 or after?

[2019-06-25 19:44] gaoning777 commented on #448
@Ark-kun Is the input description already in the pipeline metadata section?

[2019-06-25 19:48] gaoning777 commented on #487
I understand the usefulness of the image replacement but I'm leaning towards supporting the image replacement by the user. It is simply one sed bash command. WDYT?

[2019-06-25 21:49] IronPan commented on #1288
Update - It's now bazel 0.24
https://github.com/kubeflow/pipelines/blob/f477a4feb490a796d2da611f0952f03456b25036/backend/Dockerfile#L1

[2019-06-25 22:09] gaoning777 commented on #759
This #879 is merged. Feel free to add the docker-in-docker feature.

[2019-06-25 22:13] gaoning777 commented on #780
@hongye-sun has merged PRs to support various authorization mode.
Feel free to reopen it.

[2019-06-25 22:13] #780 closed

[2019-06-25 22:21] gaoning777 commented on #827
Is it still an issue. I tried the new compiler and it works.
Feel free to reopen the issue.

[2019-06-25 22:21] #827 closed

[2019-06-25 22:34] gaoning777 commented on #1092
I cannot reproduce the error. Are you still having the issue?

[2019-06-25 23:16] elikatsis commented on #487
`PipelineParam`s may also be used in the image's place. So they can be set that way on run creation.

[2019-06-26 13:53] jlewi commented on #1080
@IronPan I think we discussed this offline. ISTIO or a service mesh is a requirement. If users want to customize the ISTIO gateway config to disable auth to allow port-forwarding they can do that. This would require editing various config files to disable AuthZ at the ISTIO gateway.

[2019-06-26 13:54] jlewi commented on #1080
@IronPan Is this done?

[2019-06-26 13:57] jlewi commented on #1101
We probably need to pin the images to whatever version we want to release in 0.6.

[2019-06-26 17:55] SinaChavoshi opened #1564 "Kubeflow Filestore documentation is out dated"
Documentation instructions refer to using KS.. this can be simply done with Kubectl and directly deploying yamls for pv / and pvc.

Documentation link: https://www.kubeflow.org/docs/gke/cloud-filestore/

Example for out dated documentation :
cd /<path-to-kubeflow-deployment>/${KFAPP}/ks_app
ks generate google-cloud-filestore-pv google-cloud-filestore-pv --name="kubeflow-gcfs" \
   --storageCapacit

[2019-06-26 18:48] gaoning777 commented on #487
JFYI, The current DSL compiler already supports substituting images with runtime PipelineParam.
I can only see the use case where the pipeline is uploaded to the KFP while users want to submit a run using that pipeline but need image substitution.
In such case, I would recommend uploading another pipeline since this is another pipeline version, which is simply another API call. WDYT?

[2019-06-26 19:02] gaoning777 commented on #1187
The current recursion e.g. https://github.com/kubeflow/pipelines/blob/master/samples/basic/recursion.py supports conditional recursions. It can certainly wait for a condition containing runtime information to be met.
Since it does not directly support a runtime number of iterations, users need to write a component to increase the iteration index(as PipelineParam) and have the iteration index in th

[2019-06-26 19:09] gaoning777 commented on #960
Is it still an issue? @ucdmkt
Feel free to reopen if so.

[2019-06-26 19:09] #960 closed

[2019-06-26 19:18] gaoning777 commented on #990
@aronchick @ryan-williams
Does ContainerOp(...).apply(gcp.use_gcp_secret())  solve the problem?

[2019-06-26 19:33] gaoning777 commented on #487
@Ark-kun I'm gonna close this issue now. Feel free to reopen this if you think otherwise.

[2019-06-26 19:33] #487 closed

[2019-06-26 19:38] gaoning777 commented on #1092
Feel free to reopen

[2019-06-26 19:38] #1092 closed

[2019-06-26 19:42] gaoning777 commented on #1003
@animeshsingh same as hongye, more context is welcome. Is this issue about defining custom artifact types or artifact passing, or both? Thanks

[2019-06-26 20:53] jessiezcc commented on #1390
does it repro with kubeflow 0.5?

[2019-06-26 21:14] jessiezcc commented on #1564
This is not pipeline specific, need to move to Kubeflow.

[2019-06-26 21:16] #1564 closed

[2019-06-26 21:19] jessiezcc commented on #1560
this is not pipeline specific, moving to kubeflow/website

[2019-06-26 21:19] #1560 closed

[2019-06-26 21:22] jessiezcc commented on #1548
/kind feature
/area sdk

[2019-06-26 23:03] gaoning777 commented on #1416
Not modifying it now for backward compatibility.

[2019-06-26 23:03] #1416 closed

[2019-06-26 23:08] gaoning777 commented on #1316
Close this issue in favor of https://github.com/kubeflow/pipelines/issues/345

[2019-06-26 23:08] #1316 closed

[2019-06-27 01:42] strangemonad-faire opened #1566 "Upgrading from 0.1.16 to 0.1.22 did not delete ml-pipeline-viewer-controller"
**What happened:**
Originally had installed KF 0.5 on gcp via the web ui. Upgraded kfp by applying the manifests in the process described here https://github.com/kubeflow/pipelines/tree/master/manifests

ml-pipeline-viewer-controller has been renamed to ml-pipeline-viewer-crd

**What did you expect to happen:**
I know the upgrade process is not yet meant to be robust but I wonder what the plan is,

[2019-06-27 04:00] jlewi commented on #1100
According to @jingzhang36 this is fixed. Pipelines is now using their TensorBoard CRD.
https://github.com/kubeflow/pipelines/pull/1237

[2019-06-27 04:00] #1100 closed

[2019-06-27 05:57] ianhellstrom commented on #1390
Since our Kubeflow 0.5 cluster does not work properly due to https://github.com/kubeflow/pipelines/issues/1355, I cannot say. We're stuck on 0.4.1 for the foreseeable future.

[2019-06-27 09:38] Ark-kun commented on #1559
As we've discovered couple of weeks ago, 1.21 has multiple problems. Please use the later version.

[2019-06-27 11:09] jlewi commented on #1101
/assign @IronPan

[2019-06-27 17:33] IronPan commented on #1101
I think we can ping version 0.1.23 and do a test.
/assign @rileyjbauer doing release for .23

[2019-06-27 17:35] IronPan commented on #1080
@jingzhang36 Do you have any update on this?
@hongye-sun I think we should do an evaluation on the kfp.client() when the 0.6 candidate is out. WDYT?
Let's not close this before both items above are done.

[2019-06-27 17:39] jessiezcc commented on #1355
@IronPan, any idea?

[2019-06-27 19:47] zanedurante opened #1568 "Kubeflow UI does not show GCS authorization error"
**What happened:**
I created a component that uploads a numpy array to a GCS bucket.  The source code for the docker image is below:
[code]
After creating a docker image and uploading it to GCR, I created a pipeline with the following python file:
[code]

Uncommenting the `.apply(gcp.use_gcp_secret('user-gcp-sa'))` will cause the program to work as expected, however leaving the program as is gives

[2019-06-28 00:08] elikatsis commented on #1101
Please take a look at #1570 before cutting the release.

[2019-06-28 00:40] elikatsis commented on #1101
And also kubeflow/manifests#186.
I'm quite confused regarding what will be used for the deployment of 0.6.

[2019-06-28 06:29] jlewi commented on #1101
@elikatsis What is your confusion?

[2019-06-28 06:30] jlewi commented on #1101
kubeflow/manifests#184 updates pipelines to the latest images.

[2019-06-28 06:31] jlewi commented on #1080
@IronPan @hongye-sun I would suggest trying out master as soon as possible to see if its working.

[2019-06-28 06:31] jlewi commented on #1080
IAP should be working on master; basic auth seems to be having problems on master #3562

[2019-06-28 07:33] elikatsis commented on #1101
@jlewi, Thank you for answer Jeremy.

I'm not quite sure what's the purpose of `manifests/` in this repo, since `kubeflow/manifests` exist. Is it used at all or it is to be deprecated?

[2019-06-28 08:06] Ark-kun opened #1572 "Half of the UI is cut off in Firefox"
During the customer meeting they tried to use Firefox to access the UI. Lower part of the UI was hidden/obscured/unavailable.
@rileyjbauer Can you please check the latest UX version on Firefox?

[2019-06-28 08:10] #1559 closed

[2019-06-28 08:12] Ark-kun commented on #1547
This would probably be implemented as support for including any files in the Docker context.

[2019-06-28 11:53] elrussord1 opened #1574 "Future\create\ok-to-test"
Openwold

[2019-06-28 15:07] jingzhang36 commented on #1080
Regarding istio, I feel tensorboard /data hack is no longer blocking istio since https://github.com/kubeflow/pipelines/pull/1237 is recently merged (and Gabriel's PR https://github.com/kubeflow/kubeflow/pull/3036 is already in master). Are there any other things that need to be done to complete istio integration? E.g., remove old routing rules?

[2019-06-28 18:25] IronPan commented on #220
Update - The current set of permission is working fine, after adding admin permission for all Kubeflow resources and PV/PVC
https://github.com/kubeflow/pipelines/pull/1576/files

[2019-06-28 18:25] #220 closed

[2019-06-28 18:39] IronPan commented on #280
@neuromage Do you mind taking a look this since the backend is now using bazel I think this tool might not be applicable.
/assign @neuromage

[2019-06-28 18:41] IronPan commented on #359
Notebook should already support backing by PV. @Ark-kun I'll close this one for now. Please file an issue to JH CRD if needed.

[2019-06-28 18:41] #359 closed

[2019-06-28 18:42] neuromage commented on #280
go test should work again once we remove MLMD dependency, which should happen over the next month. I'm assigning this back to you to decide whether you want coveralls test for the backend or not.
/assign @IronPan

[2019-06-28 20:55] zanedurante commented on #1517
For me, the lightweight sample is good -- I only found it by first finding this GitHub issue though.

[2019-06-30 22:24] sarahmaddox commented on #296
Done:
https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/

/close

[2019-06-30 22:24] #296 closed

[2019-07-01 01:35] jlewi commented on #1101
@elikatsis [kubeflow/pipelines/manifests](https://github.com/kubeflow/pipelines/tree/master/manifests) is a separate kustomize package the pipelines team is maintaining to address additional use cases.

kubeflow/manifests/pipelines is the primary kustomize package used by Kubeflow to deploy pipelines.

Closing this since the manifests have been updated and merged.

[2019-07-01 01:41] jlewi commented on #1080
@IronPan Have you or someone else verified that the pipelines SDK works with IAP? I believe that was the original genesis of this issue. In particular the goal of this issue was to ensure the  could connect via the secure public endpoint of KF to pipelines from outside the cluster.

/cc @jessiezcc

[2019-07-01 01:43] #1101 closed

[2019-07-01 17:48] SinaChavoshi opened #1580 "returned type validation inconsistent between lightweight component and container build"
Returned type validation for build_python_component is defined as [_component_builder.py#L313](https://github.com/kubeflow/pipelines/blob/2d0d8619507743ec4ff1e213735a8f82d3913281/sdk/python/kfp/compiler/_component_builder.py#L313 )

[code]

Which does not support NamedTuples,  however func_to_container_op  supports NamedTuple with logic defined @ [_python_op.py#L136](https://github.com/kubeflow/pi

[2019-07-01 19:46] zanedurante commented on #1517
This issue has been documented here: https://github.com/kubeflow/pipelines/issues/1580

[2019-07-01 20:27] gaoning777 opened #1582 "DSL recursion fails to resolve parameters that are not operator outputs"
**What happened:**
The input of the DSL recursion function are not resolved if they are not outputs of other operators.
E.g.
[code]
**What did you expect to happen:**

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-01 22:29] strangemonad-faire opened #1584 "KFP stackdriver logs link points to internal google UI, not GCP"
**What happened:**
View the logs of an evicted pod, see the links to view logs in gcp / stackdriver

The link points to pantheon.corp.google.com

https://pantheon.corp.google.com/logs/viewer?project=faire-data&interval=NO_LIMIT&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.cluster_name:%22datascience%22%0Aresource.labels.pod_id:%22relationship-graph-updategsdjb-1539-1358779107-3

[2019-07-01 22:29] strangemonad-faire commented on #1584
related to #1489

[2019-07-01 22:57] jessiezcc commented on #1574
Pls provide more detailed description of what's being asked here.

[2019-07-01 23:01] jessiezcc commented on #1450
dup of https://github.com/kubeflow/pipelines/issues/1491