[2019-11-07 17:36] numerology commented on #2570
/kind bug
/area sdk/dsl

[2019-11-07 18:06] IronPan opened #2571 "Load/Perf test for Pipeline API server"
Since this is mostly cared in production scenarios, we should prioritize CloudSQL/GCS test over in-cluster storage.

Related issues
https://github.com/kubeflow/pipelines/issues/2071

[2019-11-07 19:32] Ark-kun commented on #1694
You only need the latest SDK.

Good question. It does support directories. That name was a bad choice.

BTW, check some modern [samples](https://github.com/Ark-kun/kfp_samples/tree/master/2019-10%20Kubeflow%20summit), especially "104 - Passing data for python components" and "106 - Creating components from command-line program". They demonstrate big data passing without manually dealing with Conta

[2019-11-07 21:36] jlewi commented on #2329
I'm closing this issue because we have released 0.7.0 with KFP 0.31.
Thank you everyone for all your help.

[2019-11-07 21:36] #2329 closed

[2019-11-07 22:34] hongye-sun commented on #2570
Instead of being smart to sanitize the name here, I feel it's better to add constraint on the key names of the dictionary and add validation in DSL compiler.

[2019-11-07 22:38] numerology commented on #2570
Either way sounds good to me. One nit issue, if we enforce the convention of k8s naming, the user need to access a attribute in a way like `item.prefix-suffix`, but that's not possible in python.

So do which naming convention we want to pick? Or actually, I feel like the easiest way is to block the usage of `-` and `_`

[2019-11-07 22:40] hongye-sun commented on #2570
I wonder if we should use dict here instead of attribute?

[2019-11-07 22:48] numerology commented on #2570
+1

[2019-11-07 23:02] Ark-kun commented on #2562
I think we'll have a single common context type like 'run', so we do not need to group by that.

I think that just joining `Context <- Association -> Execution` is enough.
For artifacts we can do either
`Context <- Attribution -> Artifact`
or
`Context <- Association -> Execution <- Event -> Artifact` (event has `.path` that might be needed).

[2019-11-08 03:56] numerology commented on #2570
Keep this open until a better solution

[2019-11-08 03:57] numerology commented on #2570
/reopen

[2019-11-08 07:31] Ark-kun commented on #2569
Thank you for this report (P.S. your PoC is nice, modern and clean).
I highly suspect that the InputBinaryFile is not causing it, but there is definitely an issue with the compiler and ParallelFor.
I'll investigate.

[2019-11-08 07:59] hougangliu opened #2578 "rename mysql and Minio with more pipeline prefix"
**What happened:**
Now when I install kubeflow, I cannot find which components belongs to `pipelines` based on deployment name.
**What did you expect to happen:**
In fact, mysql and Minio also belongs to `pipelines`, we had better to make their name with pipeline prefix

**What steps did you take:**
[A clear and concise description of what the bug is.]

[code]

**Anything else you would like to ad

[2019-11-08 09:12] Bobgy commented on #1572
I cannot reproduce the issue @Ark-kun mentioned. @Ark-kun do you have any context with that?

I did reproduce the auth issue @rileyjbauer mentioned above. I identified the root cause: https://github.com/github/fetch#sending-cookies
When sending requests, we should explicitly set `credentials: same-origin`. Chrome and Firefox has different default values on this.

[2019-11-08 09:15] zyfzjsc988 opened #2579 "don't have 'resources' key in ContainerSpec"
**What happened:**

In pipelines/sdk/python/kfp/components/_structures.py/
there is no 'resources' key in ContainerSpec class;

_**but if a component doesn't limit resources, how can many pipelines run together with the right resources scheduling.**_

class ContainerSpec(ModelBase):
    '''Describes the container component implementation.'''
    _serialized_names = {
        'file_outputs': 'fileO

[2019-11-08 09:18] Bobgy commented on #1572
For the half of UI cut off issue, I did see it once when using KFP UI in Kubeflow. Screencastify chrome plugin conflicts with Kubeflow UI. When I try to record videos, the screen is cut off in half. I suspect its a similar issue in this case. Probably some other plugin that inserts an element to the screen interfered with Kubeflow central dashboard.

I'm closing this because I don't think it's rel

[2019-11-08 09:18] #1572 closed

[2019-11-08 09:38] Bobgy commented on #2379
Should this be p0? Does any one want to pick this?

[2019-11-08 10:01] benjamintanweihao commented on #2310
Is there a way to fix this in 0.7?

[2019-11-08 16:19] JakeTheWise opened #2581 "Can't find kustomization dir for standalone KFP"
Following the steps [here](https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/#deploying-kubeflow-pipelines-standalone-from-scratch), specifically step 4, `kubectl apply -k github.com/kubeflow/pipelines//manifests/kustomize/env/dev?ref=0.1.33`, yields `Got a Retry-After 1s response for attempt 1 to https://35.225.197.210/openapi/v2?timeout=32s`.

[2019-11-08 17:46] JakeTheWise opened #2582 "Tensorboard artifact not working"
Tensorboard artifact is broken, it gives me `Error occured while trying to proxy to: kubeflow.endpoints.PROJECTID.cloud.googviewer-c8f77f09de96f6cffdb078d7630578b0a1dbdcda-service.kubeflow.svc.cluster.local:80/tensorboard/viewer-c8f77f09de96f6cffdb078d7630578b0a1dbdcda/`

EDIT: using KFP v 0.1.33

[2019-11-08 17:49] numerology commented on #2582
Hi,

Recent upgrade of TB is a breaking change. We've fixed that in #2440 . Can you specify which KFP version are you using? Thanks!

[2019-11-08 18:29] JakeTheWise commented on #2582
using KFP v 0.1.33

[2019-11-08 18:41] numerology commented on #2582
The fix should already be included in 0.1.33. One possible transient issue could be the viewer pod is still being provisioned. Could you please confirm this problem is still there after several retries? Thanks!

[2019-11-08 20:11] IronPan commented on #2416
/cc @rmgogogo

[2019-11-08 21:03] amygdala commented on #2560
Here is what this looks like.  Initially the logs look normal:

<img width="923" alt="Screenshot 2019-11-08 12 51 40" src="https://user-images.githubusercontent.com/115093/68510198-b3b22c80-0227-11ea-945f-8d296c36cba0.png">

Then after some period of time, the log output looks like this, with the output of the previous screenshot no longer available.  (but, the cursor is not moving/rewriting as yo

[2019-11-08 23:45] songole commented on #2372
if a downstream step were to unblock when any of its parents completes without having to wait for all the parents to complete, I guess that can only be supported by the framework.

[2019-11-08 23:48] songole commented on #2372
Wouldn't airflow have similar issues? They would have implemented it to address certain use cases.

We are willing to contribute if we have the support.

[2019-11-09 11:42] Bobgy commented on #2560
This looks strange, I'm not sure it's a bug in UI.

and thanks, an example pipeline I can run will be the best.

[2019-11-09 11:51] Bobgy commented on #2581
I tried once and got a similar error:
[code]

It's because you need to authenticate kubectl with gcloud. The command to authenticate is `gcloud auth login`. I'm not sure if that's the problem you met.

I will add this step to documentation if that's the problem.

[2019-11-09 11:52] Bobgy commented on #2581
@JakeTheWise can you try above command and retry there? Does it solve it?

Is there any further error message besides the part you pasted?

[2019-11-09 16:31] amygdala commented on #2560
Well, it doesn't behave like a terminal window, but it's not clear that it necessarily should.

Try running this example to see it in action: https://github.com/amygdala/code-snippets/blob/sbtb/ml/kubeflow-pipelines/sbtb/example_pipelines/bw.py
Specify some GCS path for the working_dir and keep the other defaults.

[2019-11-09 18:19] amygdala opened #2588 "FR: dry-run validation. apparent issue in terminating a pipeline run via UI whose first step is stuck in 'ImagePullBackOff'"
I have a pipeline run whose first step is stuck in `ImagePullBackOff` (due to my specifying the wrong container).
I don't seem to be able to actually terminate this pipeline run via the UI, despite the fact that I get a little popup indicating that termination was successful.  If I look the pod via kubectl, it hasn't been deleted and is still in that state.
(I'm wondering if the bug is related to

[2019-11-10 03:36] Bobgy commented on #2578
@hougangliu
What's your use case? Would adding a common label work for you. I think labels are designed to support this.

https://github.com/kubeflow/manifests/blob/4763c64a85d088c06169b9597ed4f58f9bb536ba/pipeline/api-service/base/kustomization.yaml#L4

@IronPan Do you have any concerns changing deployment names in Kubeflow? I think we don't expose Kubeflow manifests and there's no upgrade suppor

[2019-11-10 20:48] JakeTheWise commented on #2581
I ran `gcloud auth login` and also ensured my `kubectl` was configured to the proper cluster, but I am still getting the same error.

[2019-11-11 01:22] hougangliu commented on #2578
@Bobgy in fact, when I install kubeflow and check each Pod, I can know most Pod's kubeflow component by Pod name, but for Minio and mysql, it confuse me. I think we should rename them before Kubeflow 1.0, after then, it would cause complexity for upgrade case.
BTW, I think effort of renaming it is not big for now

[2019-11-11 02:15] Bobgy commented on #2581
@JakeTheWise this is strange. Did you try if other `kubectl` commands work? Like `kubectl get namespace`?
And can you provide your `kubectl version`?

[2019-11-11 02:19] Bobgy commented on #2578
@hougangliu I agree with your arguments. Pod name is easier to see.

[2019-11-11 02:42] Bobgy opened #2589 "Make user-gcp-sa secret optional on GCP"
UPDATE:
When GKE provides application default credentials with enough permission through one of the following three ways:
* Project default service account
* User specified GCE default service account (cluster or node pool level fine grained control)
* Workload identity (kubernetes service account level fine grained control)

There's no need to set `user-gcp-sa` in https://github.com/kubeflow/pipe

[2019-11-11 02:52] Bobgy commented on #2589
/cc @rmgogogo

[2019-11-11 10:51] Ark-kun commented on #2579
Hello, Joy.

The components specifications are designed to be portable.
Resource requirements are usually only applicable when we know something about input arguments for an instance of some component - a task.
Thus the resource requirements are usually specified by the pipeline authors, on specific instance of components.

`resources` can be set on the `.container.resources` property of the compo

[2019-11-11 11:03] Ark-kun commented on #2589
The SDK extension method is probably still useful, but I agree that the samples should be cleaned.
We need to verify that everything works out of the box on all deployments:
[ ] Marketplace
[ ] Standalone
[ ] Kubeflow

[2019-11-11 11:06] Ark-kun commented on #2539
This issue has been resolved

[2019-11-11 11:06] #2539 closed

[2019-11-11 11:06] #2545 closed

[2019-11-11 11:08] Ark-kun commented on #2503
I'm pretty certain that the issue is caused by KF 0.6.2 shipping with pretty ancient version of KFP SDK in the Notebooks.
Please update the SDK by executing `!python3 -m pip install --upgrade kfp --user`  and restart the kernel.

[2019-11-11 11:08] #2503 closed

[2019-11-11 11:13] Ark-kun commented on #448
The core issue is that we need to invent a way for pipeline authors to specify input descriptions.

Maybe we can use some docstring parser.

[2019-11-11 12:45] Bobgy commented on #448
@Ark-kun It's not very clear to me how much is left preparing data to UI

[2019-11-11 17:38] BenTheElder commented on #1653
ping, we still have error spam from this and AFAIK burning bot API rate limit

[2019-11-11 17:46] numerology commented on #2582
Friendly ping @JakeTheWise  Are you still observing this issue?

[2019-11-11 17:57] amygdala opened #2590 "displayed run name in UI sometimes toggles between two different runs"
I've sometimes seen displayed pipeline run name switch between two different runs (the correct name and the name of another run) when the window is in focus.
Please don't ask me how to repro this :) but I thought I would record the evidence in case others hit this bug as well.
![gif_pl_run_names](https://user-images.githubusercontent.com/115093/68609191-83f26700-0469-11ea-97b4-a83872ff27ed.gif)

[2019-11-11 18:12] cjwagner commented on #1653
I also opened an issue about this in march, but I have been struggling to get anyone to address it. https://github.com/kubeflow/pipelines/issues/930

[2019-11-11 18:26] krajasek commented on #2310
My 2 cents on a temporary DIY fix for your use case:
1) sh into to the MySQL k8s pod (kubeflow namespace)
2) Get into mysql shell
3) Run the following command:
`set GLOBAL group_concat_max_len=4194304`
4) Exit the mysql shell and pod
5) Refresh the pipelines UI to see if the metrics show up

Few caveats:
- The UI will only show 2 metrics even if you are writing multiple(2+) metrics to mlpipeline-m

[2019-11-11 18:33] BenTheElder commented on #930
ping @jlewi

[2019-11-11 19:18] JakeTheWise commented on #2581
I got things to work by running the commands on a cloud shell in GCP connected to my cluster. I'm still unsure why it didn't work from my local machine; maybe something to do with our enterprise firewall? Idk. But I think I can close this issue as I'm confident now it isn't kfp-related...

[2019-11-11 19:18] #2581 closed

[2019-11-11 19:20] JakeTheWise commented on #2561
@derekhh @Ark-kun @gaoning777 any update on this?

[2019-11-11 22:09] l1990790120 commented on #2495
Hello - @Ark-kun and @IronPan

I am not sure if you guys have had a chance, I did a quick PR for this fix and raised a question on the PR as well. Let me know you guys' thought.

PR: https://github.com/kubeflow/pipelines/pull/2591

[2019-11-12 00:15] Ark-kun commented on #448
I guess we need to design the syntax first. The Frontend is already getting the descriptions (in annotation), but they're always missing/empty.

[2019-11-12 00:48] Bobgy commented on #448
Thanks, so there's some dsl-compiler work left to define how description is included in annotation. Is my understanding correct? I will fill in the UI part after it's ready.

[2019-11-12 03:21] jlewi commented on #1653
@gaoning777 @jessiezcc  can you please look into this?

@cjwagner @gaoning777 its not clear to me how to how fix this. If you can help me figure out what to do I will be happy to do it.

Here's a script for the list of status checks for the repo.

If I uncheck "Travis CI" will that fix it.
![pipelines](https://user-images.githubusercontent.com/777219/68638936-ed996200-04b7-11ea-9ec6-939b0580ee74.p

[2019-11-12 03:37] Bobgy commented on #1653
I can move frontend part of the travis tests to prow.

[2019-11-12 03:54] IronPan commented on #1653
@Bobgy Thanks moving travis to prow would be great.

[2019-11-12 08:56] Svendegroote91 opened #2593 "Metrics don't show with latest kfp version"
**What happened:**
When I add a metric to a pipeline step, the metric does not get visualized in the UI.

**What did you expect to happen:**
I expect the metric to show in the UI.

**What steps did you take:**
[A clear and concise description of what the bug is.]
I deployed kubeflow v0.7.0 that comes with the kubeflow pipelines.
For on of my pipelines, I added a metric according to https://www.kub

[2019-11-12 10:34] RochanMehrotra commented on #750
@DurivetMatthias @Svendegroote91   I'm getting somewhat same error:
```This step is in Error state with this message: failed to save outputs: read /mainctrfs/data: is a directory```
My pipeline is :
[code]

the code for generatedata.py/rochanmehrotra/testing_kf:generate_data:
[code]
the output is of generate data is :
[code]
but it says stage failed with error:
[code]

[2019-11-12 15:19] wstian commented on #2590
hit the same issue previously, and it's very dangerous when try to terminate the run, probably the other run is terminated.

As I remember, i guess maybe happen this way:

*   open the detail page of run A, waiting for the `get` request

*   then open the detail page of another run B, at this time the previous `get` request returned

[2019-11-12 15:50] wstian commented on #2237
use another namespace instead of ``kubeflow`` , so that the previous components will not be affected by the new ones.

except the following global components, which should be renamed manually:

* CRD
* ClusterRole
* ClusterRoleBindings

[2019-11-12 16:38] marrrcin commented on #2560
The same happens when you use tqdm lib (https://tqdm.github.io/) for terminal progress bars (and writing to stdout). Kubeflow UI does not show the output properly.

[2019-11-12 18:59] Ark-kun commented on #2593
You now need to explicitly define all outputs including the metrics one.
 See https://github.com/kubeflow/pipelines/pull/2046/files#diff-a65b15d94e67f77a796e4940651e5c62R7

If you use `func_to_container_op`, do this:
[code]

If you write `component.yaml` manually, see https://github.com/kubeflow/pipelines/pull/2046/files#diff-a65b15d94e67f77a796e4940651e5c62R7

if you're creating `ContainerOp` dir

[2019-11-12 19:01] Ark-kun commented on #2561
Hi, Jake.
Sorry for the wait. I've forwarded this issue to the engineer who is familiar with this area. They'll try to look at it soon.

Thanks.

[2019-11-12 19:06] IronPan commented on #2561
cc @rmgogogo

[2019-11-12 19:16] IronPan commented on #2589
Using default SA is not considered a good practice https://cloud.google.com/kubernetes-engine/docs/tutorials/authenticating-to-cloud-platform#why_use_service_accounts
- No visibility on how it's setup
- Harder to revoke permission
- It leads to a misleading habit for user to setup and will be a debt to remove when supporting workload identity.

[2019-11-12 21:39] kweinmeister opened #2596 "Importing a pipeline with trailing whitespace leads to error"
**What happened:**
Tried importing a pipeline that happened to have a space at the end (no quotes): "https://storage.googleapis.com/aju-dev-demos-codelabs/KF/compiled_pipelines/gh_summ.py.tar.gz "

I received a general message:

Failed to upload pipeline
Error occured while trying to proxy to: kubeflow-codelab.endpoints.kfkc19-san-8999.cloud.goog/apis/v1beta1/pipelines

**What did you expect to ha

[2019-11-12 22:17] JakeTheWise commented on #2561
A similar issue occurs when trying to request TPU resources via `container_op.apply(kfp.gcp.use_tpu(tpu_cores=8, tpu_resource='v2', tf_version='2.0.0'))`.

[2019-11-12 23:58] Bobgy commented on #2590
I will investigate. Each run details page should be a separate instance. Let me double check.

/prority p0

[2019-11-13 02:02] #2579 closed

[2019-11-13 08:37] shotarohorai commented on #2235
Is there any update on this issue?? @hemantha-kumara  @Ark-kun

[2019-11-13 10:55] karlschriek commented on #2569
Yep, I've looked at it again and same problem arises with other output types. Any ops that are called before result in an error if used as inputs within the ParallelFor

[2019-11-13 16:02] TheMichaelHu opened #2601 "Python 3 support in Dataflow component"
Apache beam has had python 3 support since version 2.14.0, and python 2 will reach EOL in January 2020. Right now it looks like using `python2` is hard coded into the [Dataflow component](https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/component_sdk/python/kfp_component/google/dataflow/_launch_python.py):

[code]

Can an option be added to run Dataflow jobs using `python

[2019-11-13 17:07] abramovi opened #2602 "Unable to create Jupiter notebook server in different namespaces."
**What happened:**
Kubeflow Jupiter Notebook only allow me to create server in "admin" namespace.
**What did you expect to happen:**
see all namespace available
![image](https://user-images.githubusercontent.com/770839/68788675-882aaa00-064c-11ea-842a-083d7c4e31a0.png)

[2019-11-13 17:21] Svendegroote91 commented on #2593
Alright thanks for the swift response and explanation.
Closing the issue.

[2019-11-13 17:21] #2593 closed

[2019-11-13 18:23] Ark-kun opened #2604 "[Metadata] Executions and artifacts produced by KF Pipelines should show in the UX"
The KFP UX has the Executions and Artifacts sections, but those sections remain empty when users run their pipelines.

The system should be adding all executions and their artifacts produced when running any KFP pipeline.
This system should use all information available: Input/output names and types, artifact URIs, execution component ID and name, etc.

The component metadata (input/output names a

[2019-11-13 20:17] kierenj commented on #2540
Sorry, I will do so, hopefully in the next few days

[2019-11-13 20:37] abramovi opened #2605 "packages_to_install parameter in func_to_container_op not working"
I am unable to use func_to_container_op with packages_to_install parameter.

got :

TypeError: func_to_container_op() got an unexpected keyword argument 'packages_to_install'

[2019-11-13 20:57] numerology commented on #2605
Hi @abramovi  can you let me know which version of KFP you have? Thanks

[2019-11-13 21:06] parthmishra opened #2606 "BigQuery component doesn't allow empty GCSOutputPath"
**What happened:**
When attempting to run a query using the BigQuery component, omitting the `output_gcs_path` argument results in the query job working but the component fails due to reading an empty output file `bigquery/query-output-path.txt`.

**What did you expect to happen:**
`output_gcs_path` is listed as an optional argument and therefore not supplying it should be fine and the query resul

[2019-11-13 21:57] Ark-kun commented on #2606
Thank you for reporting the problem.
I've discovered and fixed this bug in the underlying Argo orchestrator: https://github.com/argoproj/argo/pull/1653 which is released as part of Argo v2.4.1.
Unfortunately we have not yet upgraded to that version.

As a short-term fix we should change the component so that it does not produce empty artifacts.

[2019-11-13 23:51] Ark-kun commented on #2605
Please update the SDK by running `python3 -m pip install --upgrade kfp --user`.

[2019-11-13 23:53] Ark-kun commented on #1383
/cc @Bobgy Do you think the Frontend can handle uncompressed artifacts (I also predict that directories are going to be problematic).

[2019-11-14 01:46] Ark-kun opened #2607 "SDK - Components - Improve error when output is not used in the implementation section"
Current error is:
[code]

[2019-11-14 09:28] Bobgy commented on #2589
Efforts are paused because we agreed that KFP will eventually move all deployments to workload identity. When that happens, we have no need for taking credentials.

On-prem will still need this, but it's not our priority. We can revisit the issue later.

[2019-11-14 11:48] stephenhenderson opened #2609 "kfp 0.1.35 tar.gz in pypi.org is missing diagnose_me directory"
**What happened:**
The 0.1.35 release of kfp available on pypi.org (i.e. what is installed via `pip3 install kfp`) seems to be missing the `kfp/cli/diagnose_me` directory containing the diagnose_me modules required by the cli. The release hosted on github contains these files.

This is the tar.gz file hosted on pypi: https://files.pythonhosted.org/packages/e8/02/51dbeae211ddf1c931b2d1613db90856b7d

[2019-11-14 11:56] stephenhenderson commented on #2609
Looks like the `kfp.cli.diagnose_me` package is missing from setup.py:
https://github.com/kubeflow/pipelines/blob/master/sdk/python/setup.py#L64-L73

[2019-11-14 15:49] rmgogogo commented on #2589
" will eventually move all deployments to workload identity"
When?

[2019-11-14 18:27] IronPan commented on #1691
+1 we are planning on migrating the full stack to WI. Thanks Jeremy.

[2019-11-14 18:28] IronPan commented on #1691
We also need clean documentations how to use WI when authoring the pipeline component, after WI is completed.

[2019-11-14 20:38] parthmishra opened #2612 "BigQuery component not working with custom QueryJobConfig"
**What happened:**
If you pass in a dict for `job_config`, it's never actually converted into a QueryJobConfig type object that is required by the BigQuery client library. I'm also not able to pass in an object of type QueryJobConfig since `job_config` requires a dict. Because just the dict gets passed to the `client.query()` call, I end up with the following error:

[code]

**What did you expect

[2019-11-15 08:59] #2609 closed

[2019-11-15 15:10] ryandawsonuk opened #2615 "TFJob version out of date"
[TFJob is now](https://www.kubeflow.org/docs/components/training/tftraining/) `apiVersion: kubeflow.org/v1` - that's the version you get when you install kubeflow. Several components and examples [still use v1alpha2](https://github.com/kubeflow/pipelines/search?q=v1alpha2&unscoped_q=v1alpha2) and v1beta1. With the new kubeflow you get an error if you try to deploy a TFJob of that version.

[2019-11-15 23:09] jessiezcc commented on #2615
@jlewi to triage this one

[2019-11-15 23:14] jessiezcc commented on #2602
@jlewi to help triage this one

[2019-11-16 00:36] #2612 closed

[2019-11-16 00:48] jlewi commented on #2602
This is working as intended. The namespace selector will only show Kubeflow namespaces you have access to.

There's more info on our docs here
https://www.kubeflow.org/docs/other-guides/multi-user-overview/#managing-contributors-through-ui

If you have an existing namespace not created by a profile you can create role bindings as mentioned on that page to share it with a user.

If you can I would

[2019-11-16 01:00] jlewi commented on #2615
@jessiezcc what's the question? TFJob went v1 in 0.6 I think. So examples and components should be updated.

@jessiezcc  does someone on your team want to update the TFJob launcher or should we just delete it?

[2019-11-16 01:21] Ark-kun commented on #2615
@jlewi Is there any place where I can see the API breaking changes for TFJob?
Otherwise I'll just bump the version.

[2019-11-16 01:26] Ark-kun commented on #2615
Thanks for the report. I've bumped the TFJob version in the component. https://github.com/kubeflow/pipelines/pull/2617

Do you think there are more changes needed when upgrading to v1?

[2019-11-17 10:05] rmgogogo commented on #2588
"due to my specifying the wrong container"
hi Amy, would you help add me to your GCP project and give me the pipeline codes? Didn't get the meaning of "wrong container".

[2019-11-17 19:39] amygdala commented on #2588
sorry -- I just meant: in my component definition, I'd accidentally used a container registry link that the project did not have access to, so it was stuck repeatedly trying to d/l the container.  Therefore the pod never did get to the 'running' stage.
(I've long since deleted the workflow run, but it would be easy for you to repro).

[2019-11-18 03:17] rmgogogo commented on #2604
TFX with MLMD can show it. Alex, is this you are looking for? As for more general MLMD data generation, I think it requires components support it, e.x. Xgboost component can call MLMD API to generate data.

One more step, we can impl Driver and Publisher for KFP components not from TFX. You may have a quick sync with Ajay. +Ajay to this ticket.

https://screenshot.googleplex.com/4kmDiZuc0Vm
https:

[2019-11-18 03:18] rmgogogo commented on #2604
changed to "area/sdk/client"

[2019-11-18 03:57] rmgogogo commented on #2461
hi Yuan, since it's done, so I think we can close it, right?

[2019-11-18 04:28] rmgogogo commented on #2588
Got it. Thanks.
We need some validations/dry-run when user upload pipelines.
I'm organize/plan the issues/workloads. Will update later. Here mark as triaged first.

[2019-11-18 05:34] Bobgy commented on #2461
/reopen

@rmgogogo this is not yet done. There is documentation for standalone, but we need doc for mock server and kubeflow.

[2019-11-18 05:53] rmgogogo commented on #2582
didn't reproduce in latest release. turn to P2 and keep open for Jake's reply.

[2019-11-18 06:31] rmgogogo commented on #2538
@numerology @Ark-kun
API side for now uses default KSA. (resource_manager.go L262). It can be specified via envar.
(https://github.com/kubeflow/pipelines/search?q=DefaultPipelineRunnerServiceAccount&unscoped_q=DefaultPipelineRunnerServiceAccount)

To let the workload identity be isolated, we need DSL side changes to allow user specify other KSA and handle over to server side when creating a run.

[2019-11-18 06:37] #2479 closed

[2019-11-18 06:52] rmgogogo commented on #2427
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/resource/resource_manager.go#L266

We already set it.
Is it still an issue in your cluster?
"upgraded kfp api server from 0.1.25 to 0.1.31", how you upgrade it? workflow is on Argo, not sure whether you correctly upgrade whole.

[2019-11-18 06:56] rmgogogo commented on #2468
+1 to this issue. I also mentioned once with Ajay before.
We can benefit a lot from this one. Introducing tf_workspace forced a lot of build constraints.

Alex, if you are not working on it, I would be happy to send out one. mark as P0 and XS cost.

[2019-11-18 07:07] rmgogogo commented on #2412
Hi Jing, it seems a quick fix.

[2019-11-18 07:12] rmgogogo commented on #1223
UI side required change here:
https://github.com/kubeflow/pipelines/issues/2397

[2019-11-18 07:15] rmgogogo commented on #2383
https://github.com/kubeflow/pipelines/blob/master/README.md
Can't find it now. So here close.
Feel free to submit PR

[2019-11-18 07:15] #2383 closed

[2019-11-18 07:18] rmgogogo commented on #2379
Hi Jing, would you review this one? It seems not a heavy change.

[2019-11-18 07:26] rmgogogo commented on #2294
https://github.com/kubeflow/pipelines/blob/47aaf08280c60de064c6d4ec66ee116414709a45/backend/src/apiserver/storage/pipeline_store.go#L85

No filter logic there.

Not sure normally how many pipelines user have. I assume won't too much. So mark as P2 for now.

[2019-11-18 07:28] rmgogogo commented on #2294
MLMD has same limitation but require actions in MLMD project.
https://github.com/kubeflow/metadata/issues/73

[2019-11-18 07:30] rmgogogo commented on #2294
@jingzhang36 maybe we can simply add filter in ORM layer

[2019-11-18 07:31] rmgogogo commented on #2348
Close this one as we have another one there.
https://github.com/kubeflow/pipelines/issues/2397

[2019-11-18 07:32] #2348 closed

[2019-11-18 07:36] rmgogogo commented on #2318
The UI shows "Allow editing cron expression. ( format is specified here)"
The "here" link to
https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format

So I assume we are OK. Here close but feel free to reopen and provide more feedback.

[2019-11-18 07:36] #2318 closed

[2019-11-18 07:38] #2286 closed

[2019-11-18 07:39] rmgogogo commented on #2286
Feel free to reopen. We have ~300 issues, trying to close few for better management.

[2019-11-18 07:42] rmgogogo commented on #2352
It's done (at least hosted KFP samples has source link (markdown).

[2019-11-18 07:42] #2352 closed

[2019-11-18 07:55] Bobgy commented on #2590
Identified root cause.
Although each page is a separate instance, toolbar state isn't: https://github.com/kubeflow/pipelines/blob/e7c7c510b7663ad150dfa1c6d4a44d5a9ad424b0/frontend/src/components/Router.tsx#L135

Instead of fixing all potential dangling network requests, I want to first try if separating toolbar state to each page instance is appropriate. That will solve all future problems too.

[2019-11-18 07:57] rmgogogo commented on #2237
It's on our radar.

[2019-11-18 07:58] Bobgy commented on #2590
Reproduction video: https://drive.google.com/file/d/1nRM5n6ZWRtHYu9LGBvmnt0C9qugeOfuo/view

[2019-11-18 09:35] rmgogogo commented on #2238
https://github.com/kubeflow/pipelines/blob/master/manifests/gcp_marketplace/chart/kubeflow-pipelines/values.yaml#L15

So I assume we can close this ticket. Feel free to correct me and reopen.

[2019-11-18 09:43] rmgogogo commented on #2172
Hi Alex, I turn to P2. Is it a request from customer?
I assume we may invest more on MLMD based artifacts. Correct me.

[2019-11-18 09:46] rmgogogo commented on #2159
@hlu09 Thanks for feedback.
Would you help provide more info so that we can handle it better?

Any reason why you prefer display the step duration? For debugging purpose?

[2019-11-18 09:56] rmgogogo commented on #2071
It looks the PR 2559 fixed this issue. Feel free to reopen if not. Also welcome PR.
https://github.com/kubeflow/pipelines/pull/2559

[2019-11-18 09:56] #2071 closed

[2019-11-18 10:06] rmgogogo commented on #2089
Hi Matt,

Here is a sample for general purpose which I think you already know.
https://github.com/kubeflow/pipelines/blob/master/samples/core/secret/secret.py

May I know more info on why you handle over gcp_secret from PipelineParam?
Is it because you want to use different secret for different pipelines or differnt components in same pipeline? How many candidate secret in your case?

[2019-11-18 10:08] rmgogogo commented on #2089
One more question: if you target for workload authorization isolation, would "Workload Identity" be better? You bind pipeline/component to a KSA which is bind to a GSA.

[2019-11-18 10:26] rmgogogo opened #2621 "Input Validation and DryRun"
(1) In FE when input a parameter, it can be typed and validated and has hint msg.
(2) In BE we need to provide a dry-run API before/in uploading a pipeline (e.x. it's possible user made a pipeline which has no permission to read the docker image). Dry-run can check these. SDK can trigger the Dry-Run before upload the pipeline.

[2019-11-18 10:28] rmgogogo commented on #2124
Track here: https://github.com/kubeflow/pipelines/issues/2621
Close this one.

[2019-11-18 10:29] #2124 closed

[2019-11-18 10:37] rmgogogo commented on #2029
https://github.com/kubeflow/pipelines/issues/2159

Close this one as duplicated.

[2019-11-18 10:37] #2029 closed

[2019-11-18 10:40] Bobgy commented on #2237
Do you deploy on GCP and needs only pipelines?
If yes, you can refer to https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/. We support upgrading to each new release.

For kubeflow, so far it only has unreleased upgrade support for kubeflow as a whole. There's no plan to support component level upgrade yet.

[2019-11-18 10:47] rmgogogo commented on #1915
What's the link of the "Job Detalis"?

[2019-11-18 10:52] rmgogogo commented on #1883
Is it already be supported? I remember was told we already can support retry (maybe just Argo already support)

[2019-11-18 10:57] rmgogogo commented on #1881
I also got few times same issue on it. On our radar now.

-- please ignore following --
b/144082994

[2019-11-18 11:01] rmgogogo commented on #1883
Another ticket: https://github.com/kubeflow/pipelines/issues/1846

[2019-11-18 11:04] rmgogogo commented on #1826
Hi Shawn, any more info for reproduce the problem?

[2019-11-18 11:06] rmgogogo commented on #1826
Since the Key is UUID, I think it's not easy to be reproduced.
Is the issue still can be reproduced from your side?

[2019-11-18 11:16] rmgogogo commented on #1669
it looks good for me. here close

[2019-11-18 11:16] #1669 closed

[2019-11-18 11:18] rmgogogo commented on #1501
I believe it's not an issue now. Here close but feel free to reopen if issue still there.

[2019-11-18 11:18] #1501 closed

[2019-11-18 11:25] rmgogogo commented on #56
prefer no change due to limited resource. here close.

[2019-11-18 11:25] #56 closed

[2019-11-18 11:27] rmgogogo commented on #282
Please allow me close this one as 1.5 years past

[2019-11-18 11:27] #282 closed

[2019-11-18 11:31] rmgogogo commented on #1728
any update?

[2019-11-18 14:10] Bobgy commented on #2590
/approve

[2019-11-18 16:13] ryandawsonuk opened #2623 "resourceop example fails as secrets creation is forbidden"
The [ResourceOp example](https://github.com/kubeflow/pipelines/blob/master/samples/core/resource_ops/resource_ops.py) creates a Secret. But it can't do that in a cluster when you do a kubeflow install as pipeline-runner doesn't have that permission by default.

[code]
Does it need to be a Secret that is created?

[2019-11-18 16:29] ryandawsonuk opened #2624 "can't create TFJob from ResourceOp"
I'm trying to run a pipeline to run a TFJob using the python below. It also [used to work for a previous version of pipelines](https://github.com/kubeflow/pipelines/blob/master/samples/contrib/seldon/mnist_tf_volume.py#L41). I'm trying to update it to [reflect changes in TFJob](https://github.com/kubeflow/pipelines/issues/2615). But it fails before even attempting to create a TFJob.

Much the same

[2019-11-18 16:38] numerology commented on #2621
Imagine we have a multi-step pipeline, in dry run what should be the input of the downstream steps when the upstreams steps are not really executed?

I think a more general question is, what is the scope of dry-run checks?

[2019-11-18 17:03] dushyanthsc commented on #2468
@Ark-kun @rmgogogo I can take a quick look at this to see the work invovled. Will send a status update by tomorrow, if that works?

[2019-11-18 18:00] hlu09 commented on #2159
Current UI has "start" and "end" time of each step. It'd be nice to show a duration too to save users from  doing mental math to figure out how long it ran.

[2019-11-18 18:00] neuromage commented on #1728
We've removed this from the API server, so new versions should no longer talk to the MLMD DB in the backend. I think we can close this now.

@daikeshi please let us know if this is acceptable and/or if you have any more issues around this.

[2019-11-18 18:00] #1728 closed

[2019-11-18 18:06] gaoning777 commented on #2397
Yes. Multi-tenant support should include such filtering such that users only see their own pipelines/runs/experiments. The work will include UI to switch the filter(similar to KF dashboard) and API server to expose the filtering parameter.

[2019-11-18 18:11] gaoning777 commented on #1883
The DSL also supports retrying. However, there is not a verb as retry_to_completion. This FR was a request for such a DSL verb.

[2019-11-18 19:20] gaoning777 commented on #2169
Agreed with Jeremy's point. Relying on the environment variables for the metadata DNS is not good practice. I suggest configuring the proper DNS name and give it another try.
Thanks.

[2019-11-18 19:21] gaoning777 commented on #2169
Feel free to reopen this issue if configuring the proper DNS does not solve the problem.

[2019-11-18 19:21] #2169 closed

[2019-11-18 22:40] Ark-kun opened #2625 "IAP SA token expires, but the Client does not detect or refresh it"
When working from a [JAAS] notebook, the created Client objetc works for some time, but if you step away for an hour, it stops working. The only way to fix that is to re-create the Client object.
I think we should fix that and have Client check and refresh the token on failure.

[code]

[code]

[2019-11-18 22:55] Ark-kun commented on #2604
Yes. This issue is about generating the metadata from non-TFX components and pipelines.

I've created a proof of concept metadata writer that records all KFP executions and artifacts in the MLMD. There will be a design review soon.

[2019-11-18 22:59] Ark-kun commented on #2172
Yes. There were multiple reports from people that they no longer see the pipeline outputs in the UX. The issue talks about bringing back that functionality.
Judging by the user feedback, for now they find the existing UX more useful as the data actually shows there and they can see the data by just clicking on the graph node.

[2019-11-18 23:03] Ark-kun commented on #2468
Thanks for helping with this issue.

[2019-11-18 23:14] Ark-kun commented on #2089
Please try the latest SDK. This issue in Argo was inadvertently fixed by
https://github.com/kubeflow/pipelines/pull/2229

The small issue still remains - `use_gcp_secret` uses secret name to build the volume name and that looks fragile when the secret name is not constant.

[2019-11-18 23:17] Ark-kun commented on #2624
This looks strange. @IronPan Can you please take a look?

[2019-11-18 23:20] Ark-kun commented on #2624
We probably need to compare the Pod YAML in both cases.

[2019-11-18 23:24] Ark-kun commented on #2238
The issue is about using the envoy's own release schedule and versions as opposed to releasing a new envoy image every week with the KFP images.

[2019-11-18 23:25] Ark-kun commented on #2286
I feel that it makes it harder for me to track active issues and understand whether the issue is fixed or not.

[2019-11-18 23:53] Ark-kun commented on #2621
We do compile-time type checks in SDK.
The pipeline arguments are not checked right now.
Solving https://github.com/kubeflow/pipelines/issues/2534 can fix that issue.

[2019-11-19 00:05] Bobgy commented on #2238
Hi @Ark-kun, our envoy image also contains our **non-trivial** config. I think it make more sense to consider the image to contain our code. Thus it should be released per our release cycle. https://github.com/kubeflow/pipelines/blob/2d4480afff701a4ce269b8fb9a1e7d9415ed6060/third_party/metadata_envoy/Dockerfile#L20

I remember @dushyanthsc also held the same opinion, but I cannot exactly find his

[2019-11-19 01:20] Dhaval08 commented on #1131
@eterna2
I too am looking for some documentation regarding how to get started with KF pipelines on AWS. Is there any existing documentation you could direct me to?

@karlschriek Were you able to find any resources on these lines?

Thank you.

[2019-11-19 01:34] numerology commented on #2623
Hi @ryandawsonuk . Can you please upgrade KFP to the latest version? It's been changed to Job instead of secret. Thanks!

[2019-11-19 01:34] numerology commented on #2623
Fixed by #2274

[2019-11-19 01:34] #2623 closed

[2019-11-19 01:40] Ark-kun commented on #438
This is fixed now.

[2019-11-19 01:42] eterna2 commented on #1131
Ops. I forgot I wrote this.

I will do a PR to update the kustomize manifest with an overlay for AWS k8s with kube2iam + S3.

Will add a README there on the additional changes needed for S3.

@Dhaval08
The current manifest should work as is on any k8s cluster. The only limitations is that u need to use minio server instead of s3, and tensorboard will not work.

[2019-11-19 02:24] Ark-kun commented on #2348
That issue seems to be newer and has bigger scope.

[2019-11-19 02:26] Ark-kun commented on #2238
Oh. I see. That makes sense.

[2019-11-19 02:34] pavan-infiswift commented on #1610
I am facing this same issue. I need the UI to access artifacts from s3. How do I pass secrets to the Pipeline UI? Any update on this?

[2019-11-19 02:47] pavankumarboinapalli opened #2627 "Pipeline UI unable to access artifacts stored in external cloud storage"
Hello,
I am using light weight components as shown in this example:

[lightweight_component](https://github.com/kubeflow/pipelines/blob/7b6957ae06cfd5860e906f5b459acf881229e85a/samples/core/lightweight_component/lightweight_component.ipynb)

But my `source` for confusion_matrix is coming from s3 location.
I can specify `use_aws_secret` from `kfp.aws` to access data at `s3://xxx` inside the compone

[2019-11-19 02:50] Ark-kun commented on #2627
@eterna2 Does that part work for you?

[2019-11-19 03:05] pavankumarboinapalli commented on #2627
This is the metadata I am returning:
[code]

here is the code I am using for the light weight component.
[s3_cm_source_light_weight_comp.txt](https://github.com/kubeflow/pipelines/files/3861724/s3_cm_source_light_weight_comp.txt)

I am able to access the confusion matrix data from s3 inside the component, but the UI cannot.

[2019-11-19 03:22] Bobgy commented on #2627
I cannot test on AWS, but UI pod already uses standard env vars to get credentials from AWS: https://github.com/kubeflow/pipelines/blob/master/frontend/server/server.ts#L45.

What's your use case? Is it enough everyone shares one credentials?

You can
[code]
and add extra envs needed for authentication.

We don't yet have a plan to provide a first party solution.

[2019-11-19 04:19] #2590 closed

[2019-11-19 04:29] rmgogogo commented on #1803
@eterna2 Thanks. Since your PR got merged, here I close this one.

[2019-11-19 04:30] #1803 closed

[2019-11-19 04:37] eterna2 commented on #1610
@pavan-infiswift

The latest version of kfp UI now supports IAM role for ur pod/node.

If u have kube2iam or equivalent deployed in ur cluster, u just need to make sure ur UI pod has the IAM role annotation.

Otherwise, u will need to give ur ec2 node the IAM role.

Or if you are using API, u can pass them to the UI pod via environment variables.

see
https://github.com/kubeflow/pipelines/blob/0f0

[2019-11-19 06:41] rmgogogo commented on #1826
hi Shawn, any info? If no, here I close for now. Feel free to reopen.

[2019-11-19 06:41] #1826 closed

[2019-11-19 10:41] ryandawsonuk commented on #2623
Thanks for the quick turnaround

[2019-11-19 10:46] eterna2 commented on #2627
Yes. It works for me. But u need to either pass the AWS API keys to the pipeline UI pod (as bobgy mentioned) or in my case, assign an IAM role to the pod.

For tensorboard, u need to create a configmap with a modified pod template (to either set the AWS API keys or IAM role), mount it to the UI pod and point to it with the env var.

[2019-11-19 10:56] ryandawsonuk commented on #2624
@Ark-kun Not sure what you mean about comparing Pod YAML? I've extracted what I can from doing `argo get` to[ compare the specs that are submitted to argo](https://gist.github.com/ryandawsonuk/be387164f47998d8894161dc22ca6791). I am finding it difficult to debug as in the failure case it doesn't even seem to submit the TFJob. My local argo client is v2.3.0-rc3. Perhaps this is broken with the argo

[2019-11-19 11:04] eterna2 commented on #2627
I will try to do a kustomize overlay for both AWS API key variant and IAM variant.

[2019-11-19 11:18] eterna2 commented on #2172
My 2 cents. I was trying to get my team to start using metadata store in v0.6.

Seems overly complicated. As I need to create workspace -> run -> execution
For each step before I can even start registering the dataset, models, and metrics.

Would be nice to have a function to decorate an op on what to log in a pipeline level workspace/run.

Or am I doing it wrong?

[2019-11-19 15:05] discordianfish commented on #2318
@rmgogogo What feedback do you need?

- I'm talking about the CRD format, that requires leading seconds
- This is also due kubeflow using an old robfig/cron version
- I don't see the link  in the 0.6 UI at least
- If it's the same link as you posted, it's wrong because robfig/cron dropped the leading seconds field

Of course it's up to the maintainers to decide which cron format but it seems like

[2019-11-19 17:42] pavankumarboinapalli commented on #2627
@Bobgy  As of now, passing AWS credentials into the ml-pipeline-UI container specification is good enough for me. Thanks for the information.

@eterna2  Is there an example of configmap that needs to be created for tensorboard?

[2019-11-19 18:28] Dhaval08 commented on #1131
I have installed kubeflow pipelines but I am unable to find a solid end-to-end example of using pipeline on AWS EKS that is independent of sagemaker.
@karlschriek  any luck on this case?

[2019-11-19 23:20] numerology opened #2629 "[SDK] Shall we deprecate k8s sanitization when compiling pipeline yaml spec?"
I feel like this is the root cause for issues like #2570 . I verified some samples and it looks like the pipeline works fine without sanitization as long as the parameter names are consistent with where they are declared.

Also it certainly prevents users from using complex typed parameters in the same (Pythonic) way they are defined. Thus I think the sanitization should be deprecated.

WDYT? @Ark

[2019-11-19 23:20] numerology commented on #2629
/area sdk
/assign @numerology
/assign @Ark-kun
/assign @hongye-sun
/assign @gaoning777

[2019-11-20 00:05] Bobgy commented on #2238
SG, close since we agreed on this

/close

[2019-11-20 00:05] #2238 closed

[2019-11-20 01:13] Ark-kun commented on #2172
I get your feedback. For now the Metadata DB is only populated by several TFX components and requires using the TFX runner.

I had experimented with enabling metadata logging for normal KFP pipelines. You can add your feedback and thumb-up this: https://github.com/kubeflow/pipelines/issues/2604

[2019-11-20 01:23] Ark-kun commented on #2629
There are several aspects to this issue.
Argo has naming limitations for input/output, task and template names (plus maybe the placeholders and loop variable attribute keys). These need to be sanitized.

If that applies to the loop variables, then #2570 cannot be fully solved while using Argo. (It's similar to how in python you have limitations on keys when creating dictionaries using `dict(a=1, k

[2019-11-20 01:28] numerology commented on #2629
@Ark-kun
'key with spaces' should not work for sure, but I checked it seems like capital letter and underscore should work just fine.

Let me rephrase, shall we refactor/loosen the sanitization to keep the Pythonic naming convention (or something bit more)?

[2019-11-20 06:43] Bobgy commented on #2578
@IronPan What's your opinion?

[2019-11-20 07:33] eterna2 commented on #2627
@pavankumarboinapalli

NOTE that this is assuming u are using kube2iam or some equivalent. Alternatively, u can just add the AWS access key into the env var straight (or from secret). This is a standard k8s [podTemplateSpec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#podtemplatespec-v1-core).

[code]

[2019-11-20 07:36] eterna2 commented on #2627
sorry I was using kustomize.
Here is the how it looks like as k8s configmap yaml.
[code]

[2019-11-20 07:52] karlschriek commented on #1131
@Dhaval08 I have now managed to build something for our use-case. If I can find the time I'll try to strip out the use case specific parts and put it in an example.

[2019-11-20 07:52] karlschriek commented on #1131
Hi @Jeffwan , sorry I somehow missed this comment. Do you mean coming up with a list of AWS-specific examples that would be useful?

[2019-11-20 11:59] Snapple49 commented on #844
What is the status on this issue? Has there been any updates or contributions? Or is there any documentation on how to enable Argo archiving as suggested above?

[2019-11-20 17:23] tanguycdls opened #2632 "[FeatureRequest] Add the ability to concatenate strings at the pipeline level"
Hi, in our use case we would like to format paths inside the pipeline dynamically given the inputs of a pipeline. We do that to keep our components path agnostic and let the pipeline decide where we store the data.

For now we use a container op that takes all the inputs of the pipeline as param and output all the paths in a namedtuple.

We would like to be able to concatenate strings (PipelinePar

[2019-11-21 00:49] Ark-kun commented on #2629
Yes. DSL-Compiler should only sanitize the names to meet Argo requirements: https://github.com/argoproj/argo/blob/3bead0db3d2777638992ba5e11a2de1c65be162c/workflow/validate/validate.go#L1028

`^[-a-zA-Z0-9_]+[-a-zA-Z0-9_]*$`

[2019-11-21 06:26] Bobgy commented on #1653
Efforts for moving frontend unit tests:
* [ ] Add test configuration to prow: https://github.com/kubernetes/test-infra/pull/15332 and https://github.com/kubernetes/test-infra/pull/15349
* [ ] Configure coveralls repo token to allow reporting of coverage statistics

[2019-11-21 07:29] Bobgy commented on #2589
Updated description to better reflect current status. Bumped to p0 because it blocks both multi user efforts and marketplace efforts.

[2019-11-21 11:54] eterna2 commented on #2632
U can do it this way.

[code]

Where a and b are pipeline params. The compiler will serialize them properly.

[2019-11-21 12:03] eterna2 commented on #2627
You can look at #2633 on how to configure the tensorboard podTemplateSpec, for both access key and IAM access.

[2019-11-21 12:24] eterna2 commented on #2548
It is non trivial. A more detailed instruction can be found here:

https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

[2019-11-21 14:18] tanguycdls commented on #2632
Ok thanks a lot ! Did not think of trying that one. It works with {} and format or %s.

[2019-11-21 14:18] #2632 closed

[2019-11-21 20:57] dhodun opened #2640 "FR: GCP Component for Arbitrary BQ Op without export job"
FR for a more generic BQ Op component that doesn't try to run an export job every time. Use cases include intermediary steps in BQ. Also, AutoML Tables pipelines, where AutoML tables expects entire tables in BQ and does not support a select statement. It would be nice to provide AutoML tables with the temp table or create a separate table vs. pull data out to GCS.

Current component:
https://githu

[2019-11-21 23:31] hlu09 opened #2641 "Feature Request: Tag KFP Pipelines and Runs"
### Use Cases

1. Prod vs dev pipelines

- When collecting KFP metrics, we want to ignore users’ dev or experimental pipelines, in which there are many user code errors.

2. Have a stable pipeline unique name, e.g., “Y team pipeline1”.

- Users often update their pipelines and reupload them.
- A pipeline will get different UUID every time it is uploaded.
- Current API does not allow the same pipel

[2019-11-22 08:19] praveen049 opened #2642 "pipeline failed with error : This step is in Error state with this message: invalid character 'x' in string escape code"
**What happened:**

I am trying to run a simple kubeflow pipeline with 2 components, (1) preprocessor and (2) train

However, when I the run the pipeline, I get the message :
`This step is in Error state with this message: invalid character 'x' in string escape code`
in the second stage.
<img width="1170" alt="Screen Shot 2019-11-22 at 16 05 02" src="https://user-images.githubusercontent.com/24820

[2019-11-22 15:44] parthmishra commented on #2640
I think once #2606 is fixed then you should be able to not specify a GCS path and thus no extract job is run.

[2019-11-22 16:47] dhodun commented on #2640
Makes sense, I did try that. The component doc should then be updated to indicate the component isn't solely for BQ query + extract job use case.

[2019-11-22 17:43] parthmishra commented on #2640
More generally speaking, once #2616 is released, customizing the query job should be doable and support the use cases you described. That being said, I do wonder if there's a balance between having a component being able to everything versus components that do a limited set of actions.

[2019-11-22 18:41] neuromage commented on #2412
Fixed by #2447

[2019-11-22 18:41] #2412 closed

[2019-11-22 21:35] Dhaval08 commented on #1218
Hello @SinaChavoshi

Is there a way to terminate a run using the Python kfp SDK client?

Thank you.

[2019-11-22 21:40] numerology commented on #1218
It does not seem so, can you confirm? @Ark-kun
BTW @Dhaval08 could you please elaborate more on your use case? Thanks!

[2019-11-22 21:50] Dhaval08 commented on #1218
@numerology I am building a REST API using which the end user can submit runs, check run status and even terminate a run if need be.
The kfp python sdk provides client functions for creating a run and even checking its status. I am unable to figure out how to enable end suer to terminate a run, check/get logs, get artifacts.

Any help on this would be highly appreciated.
Thank you.

[2019-11-22 23:31] Ark-kun commented on #2642
Can you please run
`kubectl get pods --all-namespaces --output yaml load_predict.........0002` and post the output here?

[2019-11-22 23:39] Jeffwan commented on #1131
@karlschriek I mean some examples you need but you can not find in the community. I will ask solution architectures to wrote more examples based on your needs.

[2019-11-22 23:41] Jeffwan commented on #1131
@eterna2 Thanks for the contribution. I can help to address S3 and tensorboard issues. They are there for long times. Hope we can make it by 1.0. Another thing In your PR I notice is as we have more changes against S3 infrastructure. We probably need more testing infra support.

[2019-11-22 23:54] praveen049 commented on #2642
@Ark-kun
I am rerun the pipelines and  I am getting the below outputs for the command for the failing stage

[code]
[code]
[code]

For the first stage, the outputs are:

[code]
[code]
[code]

[2019-11-23 01:16] Ark-kun commented on #2642
Looks like the Kubernetes' YAML module might be buggy...
Can you also try
`kubectl get pods load-predict-pipeline-logreg-m457s-3566486345 -o json`

Also let's try to see the controller logs: `kubectl logs -l app=workflow-controller`

Maybe you can also post the contents of `load-predict-pipeline-logreg.zip`. We can try to recreate it, but it might better to see the exact YAML you have.

[2019-11-23 05:00] Dhaval08 commented on #1131
@Jeffwan
1. An end-to-end example of using kubeflow pipelines (with AWS EKS) and demonstrating how to integrate with S3 and tensorboard.
2. An end-to-end example of using kubeflow pipeline API. How to submit a run, monitor the status, get logs/artifacts, terminate a run, etc. using the pipeline API

Above 2 use cases would be very helpful in my opinion. There are very limited resources in the comm

[2019-11-23 06:52] DurivetMatthias commented on #750
Hey,

Seems like kfp is expecting /mainctrfs/data to be a file instead of a
directory,
There's a bunch of code that I can't see from here but I would advise you
to log the file structure of your docker container just before the step
fails, then you should notice that atleast 1 file isn't where you promised
it would be.

(try os.system("ls -l"))

Hope you find the problem :)

Op di 12 nov. 2019 om

[2019-11-23 11:40] praveen049 commented on #2642
@Ark-kun

For the second stage components i am getting the below error

[code]

[code]

Also attaching the pipeline yaml
[load-predict-pipeline-logreg.zip](https://github.com/kubeflow/pipelines/files/3882390/load-predict-pipeline-logreg.zip)

[2019-11-24 08:40] Jeffwan commented on #1131
@Dhaval08 Thanks for the feedbacks. I will ask people to work on some concrete e2e examples on this.

[2019-11-25 08:54] Bobgy commented on #1383
Sorry for the delay. Is the use case showing it in visualization in ml-pipeline-ui?

I assume you are talking about reading files from minio: https://github.com/kubeflow/pipelines/blob/c74a9d8cd286f70ddd357ef5e4c352ddbcf6645c/frontend/server/server.ts#L225

It doesn't support raw files as for now. We can easily implement that I believe though.
What would use case for folders look like?

[2019-11-25 09:25] Bobgy commented on #2560
Sorry I don't currently have time to look into this. I tried @amygdala's sample, but it needed GPUs to run. I don't know how to configure that yet

[2019-11-25 15:37] dhodun commented on #2640
In general I think it's more clear / readable to have a bigquery_query_op(...) and bigquery_query_to_gcs_op(...) or biqquery_query_to_export_op(...).

It is likely that BQ to GCS is the most common use case anyway, so there is an argument for leaving as is. There are more options that users might use in the future that could overload a single op, such as export to various formats like JSON.

[2019-11-25 17:13] mattnworb commented on #2089
@rmgogogo

The former - to run the same pipeline code with different configuration (secret, output paths, etc).

[2019-11-25 18:22] numerology commented on #2570
Memo: there are a following workitems to optimize the code
- [ ] Refactor the sanitization into the compiler and minimize the level of sanitization.

[2019-11-25 22:23] Ark-kun commented on #2640
+1
I favor making separate components when inputs/outputs are different.

[2019-11-25 22:48] Ark-kun commented on #2642
The issue might be partially cause by a bug in Kubernetes or Go-YAML, bit what's triggering it is the issue in a pipeline:

You're inserting the *value* of the output in the command line. The pickles are binary, so this causes insertion of arbitrary binary data into command-line, which is not supported by Linux.

Please check the [Data passing tutorial](https://github.com/kubeflow/pipelines/blob/8

[2019-11-25 22:51] Ark-kun opened #2649 "MKP installation should use GCS instead of Minio"
Minio Persistent Volume is pretty small and hard to access for the users.

[2019-11-26 00:48] Bobgy commented on #2386
FYI, I found out the error when building docker image is caused by having node_modules in the working dir. If you delete all of them (like in CI environment), the build will pass.

[2019-11-26 01:36] praveen049 commented on #2642
@Ark-kun

Thanks for the input, this solved the issue.

Also many thanks for the related links on how to proceed.

[2019-11-26 02:01] Ark-kun commented on #1374
I propose the following annotation based on IAM permissions:

[code]

The value is a ','-delimited (or maybe JSON-serialized) list of IAM permission IDs. See https://cloud.google.com/iam/docs/permissions-reference for the full reference.

[2019-11-26 04:56] Bobgy commented on #930
/close
in favor of https://github.com/kubeflow/pipelines/issues/1653

[2019-11-26 04:56] #930 closed

[2019-11-26 06:09] praveen049 commented on #2642
@Ark-kun

Sorry, i still have couple of questions.

I have modified the code to pass a text file containing the name of the binary pickle file and the reported issue is not seen. But the second stage is not able to find the pickle file.

Here is the update yaml file

[code]

Now, i am getting this error in the second stage
[code]

The second stage code is:
[code]

I have tried the example in the t

[2019-11-26 08:35] Bobgy commented on #2560
I followed @amygdala's instruction and removed the gpu limit there. Now I see the output.

Basically, when you use curses like logging, the log is too long that k8s doesn't handle it well. UI uses the same mechanism to get log like `kubectl logs` and it cannot show full log too in this case. Log can be viewed on stackdriver, I will
* [ ] Always show a stack driver link
* We cannot support this fea

[2019-11-26 08:39] Bobgy opened #2652 "[UI] Always show pipeline step log stack driver link"
There are types of log we cannot handle in our UI.
Always showing stack driver link provides an alternative in such cases.

Addresses https://github.com/kubeflow/pipelines/issues/2560

[2019-11-26 09:24] NikeNano opened #2653 "Cron Scheduler timezone is set to always be UTC, should be local timezone for the cluster"
**What happened:**
When scheduling a pipeline using a cron expression the job are not run on the expected time. The hours are not aligned between the displayed time in the UI(correct time and local timezone in my case) and the execution of the cron jobs.

**What did you expect to happen:**
I was expecting the cron job to be executed at 10:15 when i set it to
``` 0 15 10 * * ? ```, this is not the

[2019-11-26 09:25] consideRatio opened #2654 "Referenced Cron format docs misleads"
## Summary

I was led to believe from kubeflow/pipelines frontend that I could and should specify a Cron expression with only five parts, [as described here](https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format), but in reality six parts should be used.

## Investigation

kubeflow/pipelines is currently using [robfig/cron](https://github.com/robfig/cron) (v2) to parse cron specifica

[2019-11-26 10:58] consideRatio commented on #2654
I investigated the situation in this Go playground that left me a lot wiser about the issue overall. See https://play.golang.org/p/O6-WnL8343u.

I'd love for someone to suggest a course of action that is suitable for this project. Some preliminary ideas in my mind are:
1. We could update the frontend to not point to the new cron parsing scheme, but the current used cron parsing scheme.
2. We could

[2019-11-26 10:59] consideRatio commented on #2654
/cc: @nikenano

[2019-11-26 14:40] jlewi commented on #951
@axsaucedo @animeshsingh I thought someone at the MLOps Sig meeting someone mentioned that they were working on a KFP DSL compiler that would execute on Tekton?

Does KFP have a well defined resource model? Would Tekton make a good resource model for pipelines?

[2019-11-26 18:28] #2570 closed

[2019-11-26 18:57] Ark-kun commented on #2642
That's the preferred way to do do so. Using `func_to_container_op` or writing `component.yaml` files manually you're creating a reusable component that you can share. This takes the same effort as writing code to instantiate `ContainerOp` manually (which is not shareable).

JFYI: I think you're doing something unnecessary there. There is no need to output both `x.pkl` and `x.txt` (what's there?).

[2019-11-26 19:57] gaoning777 commented on #2625
To clarify, the SDK will fetch new access tokens. However, refresh tokens are not refreshed. Usually, refresh tokens do not expire. In cases when users have not used the refresh token once for six month, it expires.

[2019-11-26 20:14] Ark-kun commented on #2625
This issue is about significantly more frequent expiration (~10 minutes or less).

[2019-11-26 21:12] gaoning777 commented on #2625
'''
curl https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=ya29.c.KmG...Gp
{
  "error": "invalid_token",
  "error_description": "Invalid Value"
}
'''
This is misuse of the token. The tokens stored are not intended to be used manually in curl. If really needed, one needs to get the access token through curl command and then use the access token for api requests.

[2019-11-26 22:40] Ark-kun opened #2664 "Design the InputPathOrUri feature"
Some components can read data from both local files and remote URIs. (e.g. TFX components)
Currently we have to create two versions of such components that differ only by the signature types.
It would be useful to have a way to use a single component for both cases.

For Python components we can add the `InputPathOrUri` annotation in addition to

Potential problems:
* What to do with outputs? The

[2019-11-26 22:42] Ark-kun commented on #2625
@gaoning777 Remember, we've investigated this issue. We got the full REST client configuration and then used curl to verify that the issue is being caused by a fast-expiring token.

[2019-11-26 22:43] Ark-kun commented on #2625
Client is getting the token, but it's short-lived and the Client never refreshes it.

[2019-11-26 23:03] Ark-kun commented on #2625
Updated the title and description.

[2019-11-27 02:20] praveen049 commented on #2642
@Ark-kun

Thanks for the detailed explanation. Now the pipeline is working.

As you suggested, i will try using the func_to_container_op or component.yaml instead.

[2019-11-27 02:20] #2642 closed

[2019-11-27 12:11] karlschriek commented on #1131
I would also find this useful. In particular also how to deal with artifacts (input data, saved models, generated predictions) etc. on S3. A really typical use-case we have is training image recognition models where the images are all stored individually in S3. Pipeline components that fetch these images and prepare them for training in TensorFlow, then saves the results to S3 again would be very

[2019-11-27 20:30] Ark-kun opened #2669 "Frontend - Metadta - Execution detail page fails to show executions with some type names"
When clicking on an execution in the Executions list

I get to the page with URL: https://34c40cdd21e49f0a-dot-us-central1.notebooks.googleusercontent.com/#/execution_types/components.Git%20clone@sha256/executions/ab0c0e1bbd0f3d939599aeb5b1c923a09405abb5ec45be676582de881d12124f

The page shows error:

I think that UX is confused by ":" in the execution type

[2019-11-27 22:33] Ark-kun opened #2670 "Check and fix visualizations"
There are some reports that Visualizations do not show up at all.
We need to check and investigate that. that

P.S. There are also reports that people have hard time enabling custom visualizations.

[2019-11-28 02:31] Bobgy commented on #2407
New issue that came out:
* [x] https://github.com/kubeflow/pipelines/pull/2672

[2019-11-28 05:27] paveldournov opened #2675 "Python visualization dev guide link is broken"
**What happened:**
Page: https://github.com/kubeflow/pipelines/blob/master/developer_guide.md#python-based-visualizations

<developer guide> link is broken and leads to a 404 error. The link is pointing to:
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/visualization/developer_guide.md

**What did you expect to happen:**
Link to the developer guide of the visualization com

[2019-11-28 18:19] prcastro opened #2678 "Can't use katib-launcher component from python"
**What happened:**

I tried to compile a pipeline written in Python SDK using the `katib-laucher` component provided here on this repo, but it fails to compile. Followed [this notebook](https://github.com/hougangliu/pipelines/blob/e2e-pipeline-sample/samples/contrib/e2e-mnist/mnist-pipeline.ipynb).

**What did you expect to happen:**

Produce a valid pipeline YAML after compiling

**What steps did

[2019-11-28 18:26] prcastro commented on #2678
Finally solved by updating kfp. Sorry about that

[2019-11-28 18:26] #2678 closed

[2019-11-29 02:48] Bobgy opened #2680 "[UI] Log viewer cannot scroll horizontally"
**What happened:**
![4ad110d05d00d88f-dot-asia-east1 notebooks googleusercontent com_](https://user-images.githubusercontent.com/4957653/69840219-b25ba900-1295-11ea-80d9-01da9ccf8606.png)

**What did you expect to happen:**
The horizontal scroll bar should be able to scroll to the right.

**What steps did you take:**
Find log with a long line

**Anything else you would like to add:**
[Miscellaneou

[2019-11-29 05:15] rmgogogo commented on #2675
correct link here:
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/visualization/README.md

[2019-11-29 16:05] y4roslav commented on #1654
I faced with the same issue using `pns`. Kubeflow 0.7 and `cri-o` engine.
Is there any progress to fix it?

[2019-11-29 16:43] IronPan commented on #844
GC is implemented now. You can set the TTL as persistence agent env here https://github.com/kubeflow/pipelines/pull/1802/files#diff-f4326ec4a2f4f6b219c2aab8887f6c85R21

The log can be persisted with ARGO_ARCHIVE_LOGS
https://github.com/kubeflow/pipelines/pull/2081

[2019-11-29 21:03] pahask8 opened #2682 "Support a custom kube config location in K8sJobHelper"
**What happened:**

Currently there is no way to pass a custom Kube config file location. Based on https://github.com/kubeflow/pipelines/blob/675b1cde81e3729a249ad3bce8a001afd444fef8/sdk/python/kfp/containers/_k8s_job_helper.py#L29, there are 2 ways of authorizing in k8s:

1. In cluster config
`config.load_incluster_config()`
2. Default k8s config location (~/.kube/config):
`config.load_kube_confi

[2019-11-29 21:06] pahask8 commented on #2682
Pull request https://github.com/kubeflow/pipelines/pull/2683

[2019-12-01 20:00] SuperKogito commented on #2675
I think broken links are a common issue and a radical solution to this problem is automatically checking and reporting them. Luckily the new GitHub actions and  workflows help with that. I recently wrote an action that just does that. [URLs-checker](https://github.com/marketplace/actions/urls-checker) will check and report broken links, which is useful to spot similar issues to this one.

[2019-12-02 03:39] rmgogogo commented on #2675
Thanks SuperKogito!
I don't have permission to setup Action for this project. Let's wait after admin be back from vacation.

[2019-12-02 09:34] TaChao opened #2684 "pipeline generate yaml wrong"
**What happened:**
use add_env_variable like this

```step.container.add_env_variable(V1EnvVar(name='AAA',value='008'))```
will get yaml like this
[code]
but k8s treat '008' as a number

**What did you expect to happen:**
[code]
**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2019-12-02 14:33] magencio opened #2685 "[WIP] Extend Kubeflow Pipelines DSL with support for Databricks operations"
# Introduction

Our customer's data scientists have a need for large scale Spark jobs. Our customer wants integration between Databricks and their Kubeflow platform to allow seamless use of Spark on Databricks by their teams. They want Kubeflow pipelines that include both Databricks jobs and components running in-cluster. This integration will offload work out of the Kubernetes cluster and simplif

[2019-12-02 18:54] neuromage opened #2687 "Visualize TFX component output in metadata UI"
It would be great to visualize the various outputs of TFX components in the metadata UI. Since output metadata is strongly typed, we can use the visualization backend to generate dynamic visualizations using TFMA, TFDV Facets etc.

The interactive notebook in [1] provides a good starting point for determining what can be visualized based on the type of the output metadata.

One idea would be to em

[2019-12-02 21:56] Ark-kun commented on #2687
Is your plan to execute the TFMA and TFDV code in the backend itself, or should we offload this work to other services?

I propose running visualizations the exact same way we run component tasks.

Visualizer can be a component that takes input of some type (e.g. TF Model or Schema) and outputs HTML.
We can put those visualizers in subdirectories of `/components/visualizers` based on the data type

[2019-12-02 22:03] numerology commented on #2684
Ack. Will take a look. Thanks for reporting @TaChao !

[2019-12-02 22:04] neuromage commented on #2687
The plan is to execute the code on the Python visualization server.

[2019-12-02 22:16] Ark-kun commented on #2685
Hello Alejandro.

Thank you for a thorough proposal. Databricks support will be a welcome addition.

In KF Pipelines we believe in building a vast ecosystem of component where every author is empowered to create any component they are missing. We focus on the reusable components experience and making every component a first-class citizen regardless of who creates it. For this reason we try keeping

[2019-12-02 22:23] Ark-kun commented on #2687
I see. What's your thought about security and performance?
Treating executions of components and visualizers the same way can make the system easier to implement since we won't need to duplicate the infrastructure (e.g. caching).

[2019-12-02 23:04] Ark-kun commented on #2089
I see. We're trying to make the usage of secrets unnecessary as we move towards workflow identity support where the access rights are determined by the permissions of the service account that's used for the pipeline run.

[2019-12-02 23:33] Ark-kun commented on #2368
We were already bumping the version, but there was some issue that caused pip to re-install the SDK from PyPI.

The installation was fixed as party of https://github.com/kubeflow/pipelines/pull/2292

[2019-12-02 23:33] #2368 closed

[2019-12-02 23:51] Bobgy commented on #2687
@Ark-kun That sounds interesting. Do you mean users putting visualizers part of a pipeline, or visualization server triggers and manages these components and their output?

[2019-12-02 23:54] Bobgy commented on #2687
@neuromage SG, definitely sth we want to do. What is priority for this?

[2019-12-03 00:00] Bobgy commented on #2670
Thanks for the report. I need some details to verify this.

Which deployment? Is there a repro pipeline?

Any details? Where are they stuck at?

[2019-12-03 00:22] neuromage commented on #2687
@Bobgy let's say P1 for now. Let's discuss this offline to discuss relative prioritization with other pieces of work you have in flight.

/cc @jessiezcc
/cc @rmgogogo

[2019-12-03 00:24] neuromage commented on #2687
We may want to fix some issues with visualization server first, as discussed during team meeting earlier today.

[2019-12-03 00:57] Ark-kun commented on #2687
The issue that tracks the problems with existing visualizations is tracked here: https://github.com/kubeflow/pipelines/issues/2670

[2019-12-03 01:31] Ark-kun commented on #2670
@paveldournov has the details

[2019-12-03 01:39] Ark-kun commented on #1131
It would be nice to have more real-world components and pipelines like this. I can help you with any issues you have componentizing the code.

I think that most of the intermediate data should be passed as artifacts (stored with generated URIs) and only some of the resulting data needs to be exported to the "external" data storage locations (verified models, etc).

JFYI: `InputBinaryFile` is just

[2019-12-03 03:28] xiaogaozi commented on #2253
Same case here, we also encounter this bug. Only could delete all viewers then restart the pod as a workaround.

[2019-12-03 03:45] Bobgy commented on #2687
/priority p1

[2019-12-03 03:45] Bobgy commented on #2670
I believe this should be
/priority p0

[2019-12-03 04:50] numerology commented on #2629
/close via #2634

[2019-12-03 04:50] numerology commented on #2629
/close

[2019-12-03 04:50] #2629 closed

[2019-12-03 04:58] numerology commented on #2582
Mark as closed for now. Feel free to re-open if needed.

[2019-12-03 04:58] #2582 closed

[2019-12-03 14:38] magencio commented on #2685
Thank you Alexey,

We understand the component approach you mention and it makes a lot of sense.
We've been taking a look to other 3rd party components in https://github.com/kubeflow/pipelines/tree/master/components, and their approach to manage cloud resources is different than ours. When working with Databricks we are following the [Kubernetes Operator Pattern](https://coreos.com/operators/), so

[2019-12-03 19:55] ColinCampbell-GBI opened #2692 "Can't loop over output from lightweight function"
**What happened:**

When calling ParallelFor on the output of a lightweight python component, I get an error saying that the task is not defined.

[code]

Pipeline returns the error

[code]

This occurs when triggering a run through `create_run_from_pipeline_func`. If the pipeline is compiled and uploaded using the browser, attempting to view the pipeline leads to a blank screen with the following

[2019-12-03 20:09] ColinCampbell-GBI commented on #2692
Another error occurs if the op passed into the ParallelFor is a single word.

[code]

[2019-12-03 20:35] Ark-kun commented on #2685
That's what happens when ResourceOp is used (which currently translates to Argo's ResourceTemplate). Argo creates a pod with container that literally runs kubectl, waits for condition and grabs outputs. https://github.com/argoproj/argo/blob/cd04ab8bb923012182f2dc2b35dbf14726f7b1a4/workflow/executor/resource.go#L23

There is also the [Lightweight python components](https://github.com/Ark-kun/kfp_sa

[2019-12-03 20:41] prcastro opened #2693 "Katib-launcher component don't launch jobs"
**What happened:**

I used the katib-launcher component on a pipeline, but it fails to launch the necessary katib jobs to run each trial.

**What did you expect to happen:**

When a Katib experiment launches, it should trigger 3 jobs on the specified namespace. However, nothing if displayed if I do `kubectl get experiments -n <namespace>`

**What steps did you take:**

I used the `katib-launcher`

[2019-12-04 02:47] Bobgy commented on #2649
Also cc @rmgogogo

I think that's a good idea. Can we only offer managed storage for MKP installation? It will be easier to maintain for users I believe.

[2019-12-04 06:44] #2675 closed

[2019-12-04 15:09] rmgogogo commented on #2649
it's already on track in MKP. For MKP feature, please use b/. Here close this one.

[2019-12-04 15:09] #2649 closed

[2019-12-04 23:43] Ark-kun commented on #2692
There seems to be three bugs:
1) PipelineParam.op_name is not getting sanitized for when added as dependency by `ParallelFor`. @numerology
2) UX handling of invalid pipelines. @Bobgy

This also highlights the lack of validation in Backend's create_run and upload_pipeline methods. @IronPan @jingzhang36 @rmgogogo

[2019-12-05 00:09] numerology commented on #2692
@ColinCampbell-GBI do you mind sharing your `get_active_areas` and `test` functions so that we can easily verify the fix? Thanks!

[2019-12-05 00:27] hougangliu commented on #2693
can you paste the katib experiment created by the pipeline by `kubectl get experiment $the_experiment -oyaml`

[2019-12-05 00:32] Ark-kun commented on #2692
I can reproduce the issue:

[code]

[code]

As you see, the task name is not sanitized here (has spaces).

[2019-12-05 04:01] xiaogaozi commented on #2071
Thank you for the elegant fix! We'll test later to verify the change.

I still have one question about if we can delete `WorkflowSpecManifest` and `WorkflowRuntimeManifest` these two fields from API response. Based on our test result (see below images), the API response time reduce significantly. For example:

- Size: from maximum 62.2KB to 2.5KB, reduce 96%.
- Time: from maximum 986ms to 267ms, r

[2019-12-05 07:36] Bobgy commented on #2692
Thanks Alexey! I will fix UI handling

[2019-12-05 12:32] prcastro commented on #2693
I found the problem: the command was a string instead of a list. Fixing this solved the problem.

[2019-12-05 12:32] #2693 closed

[2019-12-05 14:06] ColinCampbell-GBI commented on #2692
[code]

[2019-12-05 14:44] ritabanchowdhury319 commented on #2503
I am running into the same issue while using Kubeflow 0.7 in GCP
Trying to run named_entity_recognition example. Followed all the instructions and everything ran fine. When I am trying to make pipeline getting following error. Even after running !python3 -m pip install --upgrade kfp --user and restarting the kernel
![Screen Shot 2019-12-05 at 8 55 29 AM](https://user-images.githubusercontent.com/5

[2019-12-05 18:59] numerology commented on #2684
Hi @TaChao ,

Can you upgrade to the latest version where we use the block style yaml?
Now it should generate something like:
[code]

[2019-12-05 19:12] ashahba opened #2699 ""ml-pipeline-persistenceagent" and "ml-pipeline" pods consistently reboot after `v0.7.0` Kubeflow install."
I installed `Kubeflow v0.7.0` using the method described here: https://www.kubeflow.org/docs/started/k8s/overview/
On a K8s cluster running `v1.15.2`.
This s a bare metal cluster behind corporate firewall.

After `kfctl` finished successfully I noticed `ml-pipeline` pods are stuck in rebooting every few minutes.
Also no PV/PVC were successfully deployed. So I fixed those first:
[code]
However pers

[2019-12-05 19:14] ashahba commented on #2699
By the way initially I thought I was running into this bug https://github.com/kubeflow/pipelines/issues/741
But my `DNS` logs don't show any errors.

[2019-12-05 19:37] ashahba commented on #2699
`metadata-deployment` pod was also never started:
[code]

[2019-12-06 00:17] ashahba commented on #2699
@jlewi here is the bug I was telling you about this morning.

[2019-12-06 01:48] Ark-kun commented on #2503
@ritabanchowdhury319
Your issue is different: Currently all output keys are converted to "pythonic" names that use underscores. JUst replace `output-x-uri` with `output_x_uri`. You can inspect the available keys by calling `print(preprocess_task.outputs)`

P.S. Please check the [Data passing tutorial](https://github.com/kubeflow/pipelines/blob/8dfa2d9/samples/tutorials/Data%20passing%20in%20python

[2019-12-06 02:08] #428 closed

[2019-12-06 02:22] TaChao commented on #2684
great !

[2019-12-06 02:23] #2684 closed

[2019-12-06 07:48] Bobgy opened #2702 "[SDK] Container builder should allow secret configuration"
Discussed in https://github.com/kubeflow/pipelines/pull/2619#issuecomment-562236972

When we want support to all types of authentication:
* workload identity / full scope
* user-gcp-sa secret (a choice, or used from outside GCP)

Container builder (for lightweight python component) should allow secret configuration to not set `user-gcp-sa` secret as a configuration from SDK.

/assign @gaoning777
/

[2019-12-06 11:36] otaviocv commented on #497
@Ark-kun, I was thinking about this desing. The standard parameters for a papermill execution are the input and output notebooks and the parameters dictionary.

How reasonable is to expect a general output file? Such as a json or a yaml.

I think it is already expected that some other outputs, such as data and models, to be stored in an external persistence. Maybe the correct step is to make it ex

[2019-12-06 15:52] michaelbeaumont opened #2704 "Documentation around public URL/reverse proxy"
I'm installing pipelines standalone and having trouble understanding the reverse proxy component, both its purpose as well as how it works.

I'd love to get some clarification and improve the documentation around it.

The documentation at [Standalone deployment GCP](https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/) simply mentions a "public URL" which immediately alarms me. It tu

[2019-12-06 16:18] numerology commented on #2704
/assign @Bobgy
/assign @rmgogogo

[2019-12-06 17:29] yanniszark commented on #1223
Hi all,

We are in the process of iterating upon a design doc for multi-user pipelines, a much requested feature.

After our (Arrikto) initial demo of a PoC for multi-user pipelines to the community meeting, back in October, we were asked by the pipelines team and the rest of the Kubeflow community, to describe our design and implementation. You can find it here:

Multi-User design doc with demo/s

[2019-12-06 18:49] IreneGi opened #2705 "Warning: failed to retrieve pod logs. Possible reasons include cluster autoscaling or pod preemption"
**What happened:**
Tried to renun taxi pipeline, clicked on Logs and got:
Warning: failed to retrieve pod logs. Possible reasons include cluster autoscaling or pod preemption
**What did you expect to happen:**
To see Logs
**What steps did you take:**
[A clear and concise description of what the bug is.]
Tried to renun taxi pipeline, clicked on Logs
**Anything else you would like to add:**
[Miscell

[2019-12-06 18:53] ritabanchowdhury319 commented on #2503
Thanks  Alex it worked

[2019-12-06 19:04] neuromage commented on #2705
@IreneGi would you mind attaching a screenshot as well? Thanks!

[2019-12-06 19:05] numerology commented on #2705
@IreneGi is this issue transient or persisting after several attempts? Thanks.

[2019-12-06 22:46] IreneGi commented on #2705
It is transient but frequent (I've hit it a few times in the last 24 hours)

[2019-12-06 22:48] IreneGi commented on #2705
![image](https://user-images.githubusercontent.com/6354284/70361747-75645900-1837-11ea-9619-f190142b20d9.png)

[2019-12-07 07:01] rmgogogo commented on #2705
as replied in b/145802412, here I close this one.

[2019-12-10 05:37] Bobgy opened #2708 "[Testing] Retriggered presubmit tests not building latest image"
Details in https://github.com/kubeflow/pipelines/pull/2619#issuecomment-563851414
Example test log: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2619/kubeflow-pipeline-e2e-test/1204098482437099521#1:build-log.txt%3A177

**What happened:**
1. PR X sent
2. other PRs merged into master
3. retrigger presubmit test in PR X
4. KFP images are cached

**What did you expe

[2019-12-10 05:41] Bobgy commented on #2670
/assign @Bobgy

[2019-12-10 05:43] Bobgy commented on #2708
/assign @Bobgy

[2019-12-10 09:36] magencio commented on #2685
Thank you Alexey for your feedback. We will proceed to do the PR then.

[2019-12-10 09:36] #2685 closed

[2019-12-10 13:33] Kyrremann commented on #796
This is really old, but my logs are filling up with these. If I delete the workflow-resource they disappear.

Any tips to solutions?

[2019-12-10 14:34] umialpha opened #2710 "If one step of pipeline fails, there should be one way to modify the step and restart this step easily."
/kind feature
/kind enhancement

Hi, I am new to kubeflow pipeline, when I am trying '/pipelines/azurepipeline' example, I meet a lot of errors for each step(I have already fixed these bugs). Each time I fix any bug, I need to rebuild the pipeline(although I could modify the <pipeline.yaml> directly), kill the previous one and start a new pipeline. It really annoys me.

So I tried some tricky ways

[2019-12-10 15:59] numerology commented on #2710
Hi @umialpha , thanks for your feedback!

What if we allow cache across pipeline runs so that each time you submit the re-compiled package, correctly executed steps can be preserved?

[2019-12-10 17:43] numerology commented on #2692
It seems like we need to sanitize the output names eagerly during compilation. Will put together a fix shortly.

[2019-12-10 20:37] martin-laurent opened #2713 "Waste of UI real estate on a run's "config" tab"
**What happened:**

I used a JSON string as one of my run parameters.
It shows pretty enough but it seems to be hardcoded to show a snippet of about 10 lines of JSON. If I have less than 20 lines it will show blank space which is annoying as a user. If it's more than 20 lines, it will have a scroll bar which is also annoying.

**What did you expect to happen:**
snippet block to be trimmed down if

[2019-12-10 20:43] martin-laurent opened #2714 "Clone from Run UI is terrible with JSON"
**What happened:**
Try to clone a run (via the clone run button) that uses JSON strings as run parameters.
While the JSON run parameters show decently enough on the run's config tab (see https://github.com/kubeflow/pipelines/issues/2713 for issues about that),
cloning such a run shows minified JSON in the form. This is a terrible user experience for someone that just wants to iterate on hyperparam

[2019-12-11 03:21] umialpha commented on #2710
That sounds great. I think if we could revise the step directly in front UI would be better.

Yesterday, I look into the Argo project, it claims the feature "Retry (step & workflow level)" and "Resubmit (memoized)". I haven't tried these features yet, but I think it is possible for within kubeflow.

[2019-12-11 04:19] numerology commented on #2710
Currently we support retry failed steps, but without modification.

[2019-12-11 08:21] Bobgy commented on #2406
Note, also standardized `src/frontend/server` in https://github.com/kubeflow/pipelines/pull/2717

[2019-12-11 11:08] discordianfish commented on #2318
@rmgogogo Can you please respond and/or re-open this issue?

[2019-12-11 11:10] discordianfish commented on #2654
I'm quite disappointed that my issue just was closed without discussion..

[2019-12-11 12:25] Kyrremann opened #2718 "Failed to list pipelines"
First of, I tried to fix a different bug (#796) in my cluster. After a time I got the idea to clean out all the piplines, expereiments, and workflows. Started with deleting the workflows via `kubectl`, then continue by deleting stuff from the mysql-database. It was after this things stopped working.

**What happened:**
After uploading a pipeline via `+ Upload pipeline` I get the following error, a

[2019-12-11 12:33] shotarohorai opened #2719 "Failed to save output artifacts into GCS"
**What happened:**
I am trying to build Kubeflow pipelines using Kustomize manifests and integrate GCS as an object storage by following the instruction.(https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/gcp)

It succeeds to save pipelines in my GCS bucket specified here (https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/env/gcp/gcp-configurations-patch.

[2019-12-11 17:30] jlewi commented on #2699
@Ark-kun and @jessiezcc what is the priority of this issue?

[2019-12-11 18:59] Ark-kun opened #2721 "Point pre-installed sample source links to permanent URIs"
Otherwise the links stop working when the samples are moved.

[2019-12-11 19:25] Ark-kun commented on #497
@otaviocv Can you show a mockup? How does the notebook look and what arguments do you pass to the papermill component.

[2019-12-11 20:51] IronPan commented on #2718
Thanks @Kyrremann
Which version are you using?

[2019-12-12 02:56] Bobgy commented on #2721
It seems @numerology has already been doing this: https://github.com/kubeflow/pipelines/pull/2722

[2019-12-12 06:17] Kyrremann commented on #2718
Should of course added that. We're running Kubeflow 0.6.2. We've opted to wait for 1.0 before upgrading.

[2019-12-12 06:54] shotarohorai commented on #2719
It seems I also need to change the configmap: https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/argo/workflow-controller-configmap.yaml#L12

It will be nice that it's written in the README in env/gcp.

[2019-12-12 07:23] Bobgy commented on #2719
Thanks! We should fix this.
/priority p1

[2019-12-12 11:27] maggiemhanna opened #2725 "extract string value of PipelineParam inside a pipeline"
Hello,

Extracting the string value of a PipelineParam (str(param.value)) always generates None.

I would like to extract the string value of a PipelineParam inside a pipeline so that I can use it to rename my component.

Example:

@dsl.pipeline(name='my-pipeline')
def pipeline(loopidy_doop: dict = [{'a': "first", 'b': 2}, {'a': "second", 'b': 20}]):

    with dsl.ParallelFor(loopidy_doop) as item

[2019-12-12 16:39] numerology commented on #2721
Summarize some discussion in #2722 here.

Pointing source links to permalinks can fix the 404 error for now, but it falls short in that our future update to READMEs and source codes won't be reflected in the preload samples in a timely manner.

One possible solution of that would be include some `link checks` in presubmit tests, to guarantee all the links in the docs and samples are not broken by

[2019-12-12 16:49] numerology commented on #2725
This is because at compile time the parameter itself does not have a value. Do you think it's a legit use case to support treating `item.a` as a string here @Ark-kun ?

[2019-12-12 16:54] grischa opened #2726 "Seemingly impossible to ignore errors in steps that kill the pod, e.g. OOMKilled"
**What happened:**
Running a pipeline where some steps fail by needing too much memory.
The step does not seem to be wrappable in a script that swallows the error as suggested in https://github.com/kubeflow/pipelines/issues/2372

**What did you expect to happen:**
I would like a way to complete a pipeline even when some "optional" steps fail really badly, ie. the pod gets killed

**What steps did

[2019-12-12 17:31] IronPan commented on #2578
I don't have very strong opinion. But note the work to rename a deployment won't be trivial.
I think mysql in theory shouldn't just belong to pipeline. Katib also creates a in-cluster mysql and by talking with @richardsliu it seems make sense to dedup.

I think a good approach is to add the labels for the resources to indicate what the component belongs. Shared components can have multiple such la

[2019-12-12 20:45] dhodun opened #2728 "FR: GCP DataFlow Python Pipeline Component - support for more than one python file or support for python module"
The GCP Dataflow component currently only supports a single python file. This can be cumbersome for larger jobs that import from helper files or where a module has been built. The following options would help:

- Support for uploading more than one file (via list or fuzzy match)
- Support for indicating a module
- Support for a packaged (via Setuptools) module already in GCS

GCP AI Platform train

[2019-12-12 22:23] Ark-kun commented on #2721
But the source code would be correct (corresponding to the preloaded sample).

We can use version tag instead of commit hash to make it easier to update the samples config.

Another option might be to build/modify the config during the image building.

[2019-12-12 22:27] Ark-kun commented on #2725
`PipelineParam` is a bit of an implementation detail. Users should treat it as opaque reference to some future data.

Nevertheless, even semantically the value cannot exist at the pipeline compilation time, since the value is only created during the pipeline execution.

P.S. `.set_display_name(str(item.a))` might actually work, although we are not supporting this.

[2019-12-12 22:27] numerology commented on #2721
Not exactly sure I understand... Are you suggesting there is a way to use permalink while keep the source code up-to-date at the same time?

[2019-12-12 22:40] Ark-kun commented on #951
There were some plans to split the DSL compiler in two parts - the first creates a logical pipeline (a pipeline/graph component) and the second stage that converts the graph component to Argo workflow. This would make it easier to support more runners and orchestrators as they only need to implement the second part.

What are the key differences between Argo and Tekton?
Does Tekton help you pass d

[2019-12-13 01:36] jlewi commented on #1223
@IronPan @Bobgy @gaoning777 can you link to your design doc?

[2019-12-13 01:41] gaoning777 commented on #1223
Hi, all
We have reviewed the multi-user design during the kubeflow pipeline community meeting on 11/27/2019.

Here is the Multi-user design doc from the Kubeflow Pipeline team:
https://docs.google.com/document/d/12ikhUKAb3KhbO9AR6JUk_UX_D9pf7nFWfHAyLDv2BB0/edit?usp=sharing

[2019-12-13 01:46] Bobgy commented on #2714
/area frontend
/assign @Bobgy
/kind feature

[2019-12-13 01:47] Bobgy commented on #2713
Sounds reasonable to me.

[2019-12-13 01:52] numerology commented on #2728
SGTM, I can give it a shot.

[2019-12-13 01:52] Bobgy commented on #2713
I don't currently have time to work on this, anyone is welcome to contribute before that.

/priority p2

[2019-12-13 01:53] Bobgy commented on #2714
Thanks! That sounds useful.

I don't currently have time to work on this, anyone is welcome to contribute before I've got some bandwidth on this.
/priority p2

[2019-12-13 01:54] Bobgy commented on #2714
Providing a button nearby that can change the text box to a multiline editor might be helpful.

[2019-12-13 02:23] shuiqiangchen opened #2730 "Support for start-before semantic"
Simply explain two semantics:
Start-before: a job starts before upstream job is finished.
Finish-before: a job starts only when upstream job is finished.

What I need is to launch a long running streaming job and then start next job, It seems that Kubeflow Pipeline only support finish-before semantic now.

[2019-12-13 03:33] Bobgy commented on #2721
This sounds like a good idea to me.

[2019-12-13 03:39] Bobgy commented on #2721
Adjusting on that
1. Pin sample links to current commit SHA during image build
2. Add a presubmit test using a tool like https://github.com/remarkjs/remark-validate-links to detect anything is moved or no longer valid.

Extra benefit comparing to pinning directly in source code:
* github repo links are always pointing to current version (instead of doc links are only updated on release)
* no extra

[2019-12-13 05:10] Bobgy commented on #2713
/priority p1
bumping a little priority because this is low effort and a solid use case.

[2019-12-13 05:11] Bobgy commented on #2714
/priority p1
bumping a little priority because this is low effort and a solid use case.

[2019-12-13 10:28] Kyrremann commented on #2718
I'm still trying to solve this, and I think I know where the error originates from.
https://github.com/kubeflow/pipelines/blob/6e88e8eeb2c7c8099408c269df64312bd3012d26/backend/src/apiserver/storage/pipeline_store.go#L90

buildQuery := func(sqlBuilder sq.SelectBuilder) sq.SelectBuilder {
		return sqlBuilder.
			From("pipelines").
			LeftJoin("pipeline_versions ON pipelines.DefaultVersionId = pipeli

[2019-12-13 10:46] Bobgy opened #2732 "[UI] Consider migrating from enzyme to react-testing-library"
Part of #2407

This is an issue collector for problems we meet when using enzyme:
* ~~Different behavior of setState comparing to react: https://github.com/airbnb/enzyme/issues/1608
I got one test failing because of the nuance difference of setState behavior in tests. This is very frustrating because code runs well in a real app, but it breaks in tests.~~ (turned out this was not the actual cause)

[2019-12-13 10:46] Bobgy commented on #2732
Currently marking as p2.
/priority p2

[2019-12-13 14:32] Kyrremann commented on #2718
Turns out upgrading the ml-pipelines-images changes the database, so when you downgrade you need to remove the changes.

So for me, upgrading from `0.1.23` to a newer one added the column `pipelines. DefaultVersionId` in the `mlpipeline` database. This needed to be removed to get the API working again.

[2019-12-13 14:32] #2718 closed

[2019-12-13 14:42] otaviocv commented on #497
Yes, I can.

[2019-12-13 18:22] jlewi commented on #951
Here's my limited understanding of Tekton's model.

* a Task corresponds to a sequence of steps executed sequentially in a pod
* Data can be passed between steps in a pod using the pod volume /workspace
* To pass data between tasks you use  [PipelineResource](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md) which provides a mechanism for moving data into/out of /workspace
    *

[2019-12-13 20:44] sid027 commented on #2561
I also notice it spins up a new node pool instead of the existing one. And the new node pool does not have the correct permissions and I am not able to change it.

[2019-12-13 21:33] sid027 commented on #2561
Workaround I use:
- stop autoscaling on GPU node pool
- start `n` number of GPUs on the default GPU node pool
- deploy my kubeflow pipeline.

The pipeline uses the default GPU node pool now. But this is a bad way to do things. Wonder why this is the case.

[2019-12-14 02:01] numerology commented on #2721
@Bobgy That looks good to me. I can try to do item 2.

[2019-12-14 16:14] otaviocv commented on #497
@Ark-kun, I have tried to develop a simple mockup but didn't time to check integrations with external file systems. My mockup is [here](https://github.com/otaviocv/pipelines/tree/papermill-mockup/components/local/papermill).

Papermill has native io with external file systems, like [AWS](https://papermill.readthedocs.io/en/latest/reference/papermill-io.html#papermill.iorw.S3Handler) and [GCS](http

[2019-12-15 02:21] ipal0 commented on #1471
Yes. Absolutely when I changed --container-runtime=docker (from remote) everything started working. Thanks for the suggestion.

[2019-12-16 07:13] Bobgy commented on #2578
@IronPan I think different applications should better use their own instance of mysql. One of the issues for sharing is, they may have different security requirements. When KFP supports multi user, it will block all external traffic to the mysql.

Coordinating several applications' usage of the mysql db would need a more complex security solution to separate their privileges.

[2019-12-16 07:25] Bobgy opened #2737 "[testing] Inverse proxy is flaky in test infra"
**What happened:**
In presubmit e2e tests, inverse proxy stucks at CrashLoopBackOff from time to time.
For example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2643/kubeflow-pipeline-e2e-test/1198909726310535169#1:build-log.txt%3A1177

**What did you expect to happen:**
It should not be flaky.

I briefly did some investigation and it seems when the first time in

[2019-12-16 07:25] Bobgy commented on #2737
/assign @IronPan
/cc @rmgogogo

[2019-12-16 16:10] davidyuyuan commented on #1891
I am getting the same error "invalid spec: templates.1000g-variant.tasks.for-loop-for-loop-7301aa19-1 failed to resolve {{inputs.parameters.ds-human-g1k-v37-name}}" in dsl.ParallelFor as well. By applying the workaround mentioned above, I was able to start a run. Here is the code segement with workaround:

    with dsl.ParallelFor(readqueries()) as query:
        with dsl.ParallelFor(REGIONS) as r

[2019-12-16 18:34] jessiezcc opened #2741 "Visulizaiton Creator - DOC: need explicit documentation on what types may apply to what component"
Today on UI, we show three types for each component, however it's very hard for end user to understand which types may apply to which components, and what sources are supposed to be input to the source field. Explicit instructions and examples will definitely help.

[2019-12-16 18:42] jessiezcc opened #2742 "Visulizaiton Creator: Generate Visualization results in error"
**What happened:**
with xgboost sample run, on roc-curve component, I tried to use "Visualization Creator" to generate visualization.
It results in the following error: expected binary or unicode string, got PosixPath('...roc.csv/schema.json')

**What did you expect to happen:**
It should generate the visualization successfully.

**What steps did you take:**
[A clear and concise description of wha

[2019-12-16 18:54] jessiezcc commented on #2741
@rmgogogo @Bobgy, pls assess the usability of this feature.

[2019-12-17 01:09] #2708 closed

[2019-12-17 02:58] umialpha commented on #2710
Thanks for your reply. So do we have some plan that allow users modify come code, bash, yaml, etc, on the fly

[2019-12-17 02:58] #2710 closed

[2019-12-17 03:27] #2730 closed

[2019-12-17 14:38] rmgogogo opened #2746 "upgrade dnntrainer component TF version from 1.12.1 to 1.15 for security concern"
https://github.com/tensorflow/tensorflow/security/advisories/GHSA-844w-j86r-4x2j

https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/dnntrainer/src/setup.py

[2019-12-17 16:23] Bobgy commented on #2215
Thanks to @eterna2, https://github.com/kubeflow/pipelines/pull/2745#pullrequestreview-333402262 will be the first step.

[2019-12-18 02:36] Bobgy commented on #2741
/assign @jingzhang36
Jing is currently taking a look at these

[2019-12-18 08:39] rmgogogo opened #2750 "add integration test for MKP"
we can add a post-submit integration test for MKP via "mpdev verify" based on latest version.

[2019-12-18 09:02] rmgogogo opened #2751 "adding deployer to cloud build and release script"
adding deployer to cloud build and release script

[2019-12-18 10:43] fenglixa commented on #2713
I would like to provide PR for this, it would be my first PR for pipelines, Great thanks for any help/info on this issue.

BR
-Feng

[2019-12-18 14:33] fenglixa commented on #2714
I would like to provide PR for this issue
BR
-Feng

[2019-12-18 16:26] descampsk commented on #1497
Thanks !

It works pretty good. But the Tensorboard viewers pods will live forever...

Do you think it's possible to add a spec to allow them to live only some minutes ? Or do we have to build a cronejob to delete automatically this pods every hour ?

[2019-12-19 06:50] fenglixa commented on #2680
Hi @Bobgy , I cannot reproduce your issue, as below picture, my logs could be scrolled horizontal. Do you mean we need to keep the horizontal scroll bar there if long lines exceed one screen?
Thanks.
![image](https://user-images.githubusercontent.com/12505594/71151352-89b04900-226e-11ea-8894-0725768e17d8.png)

[2019-12-19 07:12] chetanoruganti opened #2756 "api server Docker image build is failing"
I was trying to build the api server Docker image following developer_guide.md
steps followed :
      1. Downloaded the master pipeline code to the local system .
      2.  trying to build the api server image by running the backend/Dockerfile

step   bazel --bazelrc=tools/bazel_builder/bazelrc   build -c opt backend/src/apiserver:apiserver
is failing with error
  ERROR: /go/src/github.com/kubeflo

[2019-12-19 08:20] descampsk opened #2757 "maybeDeleteOldestViewer of viewer controller isn't working"
**What happened:**

When the number of viewers exceed MAX_NUM_VIEWERS, the viewer controller crashed.

**What did you expect to happen:**

The viewer controller must delete the oldest pods when there are more viewers than MAX_NUM_VIEWERS and then create a new viewer.

**What steps did you take:**
[A clear and concise description of what the bug is.]

*  change the MAX_NUM_VIEWERS env to 5.
*  crea

[2019-12-19 12:49] grischa commented on #2320
This is an issue for built-ins like ResourceOp.
Example:

[code]
This fails because replicas is a `PipelineParam` and I cannot see a way to force it be an int. Type annotations didn't seem to work

[2019-12-19 16:30] SpontaneousDuck opened #2758 "Question: Recomended way to work on big data"
So I currently have a pipeline on our local cluster that has a good amount of storage but not infinite. I have a pipeline that pulls 250GB of data in to the cluster. Currently I am creating a PVC to put that data in so it can get passed between steps in the pipeline. Is there a good way with the python SDK to remove that large PVC after I am done with it? Or is there a better way to work on all th

[2019-12-20 07:00] jiyongjung0 opened #2764 "Parsing failure when uploading a pipeline with kfp cli(or SDK)"
**What happened:**
When I tried to upload a pipeline with a gzip-ed yaml file, kfp cli returned following error after successfully uploading the pipeline
[code]
I debugged a little and found that the returned RPC response message from the server is a little bit odd.
[code]
`created_at` field in the `default_version` node is not a string, but ```"created_at":{"seconds":1576824474}``` which results

[2019-12-20 07:10] jiyongjung0 commented on #2764
FYI: I tried to create a pipeline in the web UI, and captured RPC response using chrome inspector. It shows same problem. (However it doesn't make any problem with web UI)

Response:
[code]

[2019-12-21 11:45] Bobgy commented on #2680
@fenglixa thanks for looking into this.
I experienced the problem in Chrome, it doesn't always happen. However, when I resize window's width, sometimes it is stuck in a state that the horizontal scrollbar doesn't show up.

If it's always working on your side, this may be a chrome specific issue.

[2019-12-21 12:37] #2713 closed

[2019-12-23 04:08] jiyongjung0 commented on #2764
It looks like that this behavior is coming from special http handling of a pipeline upload in https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/server/pipeline_upload_server.go . Because this code is manually transforming outer-most `created_at` field only.

How about using [jsonpb](https://godoc.org/github.com/golang/protobuf/jsonpb) for json encoding? It should be more conc

[2019-12-23 04:55] Bobgy commented on #2714
Thanks @fenglixa! You are welcome, but @drewbutlerbb4 has already made a PR. Let's avoid duplicate efforts.

[2019-12-23 05:06] fenglixa commented on #2714
Yes, I found that already PR on this issue. Thanks @Bobgy @drewbutlerbb4

[2019-12-23 06:07] Bobgy commented on #2680
I figured out it is only reproduceable when UI is zoomed in like 150%.
deprioritize a little
/priority p2

[2019-12-23 11:13] Svendegroote91 opened #2767 "Not able to deploy standalone deployment"
**What happened:**
When following the instructions on https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/, more specifically when trying to execute
[code]

I get the following error `no matches found: github.com/kubeflow/pipelines//manifests/kustomize/env/dev?ref=0.1.38`
It looks like the reference to the installation files are not correct.

I tried to remove the double / b

[2019-12-23 12:32] akranga opened #2768 "Compiling a pipeline produces: unknown field "volumes" error in argo"
**What happened:**

1. Create a pipeline. Example can be found below
[code]
2. Try to submit: `argo submit -f argo-wf.yaml`
3. See error
`Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: unknown field "volumes"`

If you look inside of `argo-wf.yaml` you will see. It will try to create a "volumes" definition under `spec.templates.container[].volumes[]` when argo expects

[2019-12-24 04:28] praveen049 opened #2769 "invalid spec: spec.templates[1].name 'model-image-recognition' is not unique"
**What happened:**
When running a pipeline created with `func_to_container_op`, i am getting the error
`
invalid spec: spec.templates[1].name 'model-image-recognition' is not unique
`
**What did you expect to happen:**
I am expecting that the run will be successful and model created.

**What steps did you take:**
Below is the code
[code]

I have tried creating a pipeline and loading it
[code]

And

[2019-12-24 20:02] yaronha opened #2771 "advance k8s sdk requirements"
currently KFP requires k8s 8.0-9.0 SDK, we have other packages in the same setups which require k8s 10.0 SDK, any reason we don't advance the k8s API ver limit?

[2019-12-25 07:29] #2719 closed

[2019-12-25 10:47] bruce3557 opened #2773 "Cannot run pipeline samples in GCP IAP Deployment"
**What happened:**
We cannot run pipeline samples.
Seems that `gcloud` related command cannot get workload identity correctly.
The error messages are
[code]

**What did you expect to happen:**
We should run pipeline samples smoothly.

**What steps did you take:**
Created a run and an experiment.

**Anything else you would like to add:**
I tried this implementation and still cannot get correct resu

[2019-12-25 17:27] bruce3557 commented on #2773
When I retried deployment again, the message is changed to
[code]

[2019-12-26 06:56] Bobgy commented on #1691
Work items for standalone deployment:
* [x] Migrate standalone deployment to workload identity on GCP https://github.com/kubeflow/pipelines/pull/2619
* [ ] Deploy doc in https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/
* [ ] GCP authentication doc in https://www.kubeflow.org/docs/gke/authentication/#authentication-from-kubeflow-pipelines
* [ ] SDK doc in https://kubeflow

[2019-12-26 08:56] Bobgy commented on #2432
To add to that, new `create-react-app` comes with latest jest. I'd like to use some new features e.g. inline snapshots: https://github.com/facebook/create-react-app/issues/5089

[2019-12-26 09:15] Bobgy commented on #1691
Work items for kubeflow deployment:
* [ ] GCP authentication doc in https://www.kubeflow.org/docs/gke/authentication/#authentication-from-kubeflow-pipelines
* ... TODO: complete this list

[2019-12-26 09:44] Bobgy commented on #1691
Work items not specific to any deployments:
* [ ] Sample doc in samples changed in https://github.com/kubeflow/pipelines/pull/2619
* [ ] parameterized tfx oss sample should stop using use_gcp_secret by default: https://github.com/kubeflow/pipelines/blob/master/samples/core/parameterized_tfx_oss/parameterized_tfx_oss.py#L153

[2019-12-26 10:32] bruce3557 commented on #2773
not sure whether that is related,
when I run `secret` sample, I will get these messages.
It seems that cloud sdk cannot link to `metadata.google.internal`

[code]

[2019-12-26 10:45] bruce3557 commented on #2773
I found this issue also: https://github.com/googleapis/google-auth-library-python/issues/211

[2019-12-26 11:49] martin-laurent commented on #2310
Is this solved since #2497  has been merged?

[2019-12-26 14:27] bruce3557 commented on #2773
After set workload identity to `pipeline-runner` in `kubeflow` namespace,
I can read data via gcloud command but still timeout after few minutes.

[2019-12-27 19:02] geota commented on #951
found a good discussion on tektoncd vs argo
https://github.com/tektoncd/pipeline/issues/644#issuecomment-475032948

[2019-12-27 19:53] parthmishra commented on #2773
Maybe this has to do with how gcloud obtains/refreshes credentials? Even when using the old secret method (e.g. `.apply(gcp.use_gcp_secret("user-gcp-sa")`) I still get the timeouts and have to rely on setting the retry attempts for the component.

[2019-12-27 20:00] parthmishra commented on #2769
I believe this is intended? Logically, the Pipeline is a collection of Components and since `func_to_container_op` generates a Kubeflow Component definition file this should be an invalid operation since a component != pipeline. If you want a Pipeline consisting of a single component, you need to define a pipeline function separately. If you want just the YAML of the component, you can specify the

[2019-12-27 20:03] parthmishra commented on #2768
This may be a dumb question, but are do Kubeflow pipelines compile directly to an Argo workflow definition? For some reason, I thought they were a custom resource on top of Argo.

[2019-12-27 20:15] numerology commented on #2769
Thanks @parthmishra  for your answer. @praveen049 `func_to_container_op` only converts a python function into a container op, but not a pipeline function. You have to author a one-step pipeline explicitly and pass it into `compile()`.

[2019-12-27 20:15] numerology commented on #2769
/close

[2019-12-27 20:15] #2769 closed

[2019-12-27 20:21] parthmishra commented on #2758
Not sure if you solved this already, but my possibly naive method to solve this would be using `dsl.ExitHandler` op that removes PVC and any other temporary resources upon Pipeline completion.

[2019-12-28 01:28] Ark-kun commented on #2768
The current SDK targets Argo 2.3.0. Argo can probably be upgraded without upgrading the rest of the system, but I'm not 100% sure.

JFYI, this is really old.

We consider this to be an internal implementation detail of the current version of the system. It is true that currently the workflow is passed to Argo with very few tweaks. But we only support the workflows generated by the SDK (e.g. `steps

[2019-12-28 01:34] Ark-kun commented on #2771
The version was fixed in https://github.com/kubeflow/pipelines/pull/1159
@gaoning777 Do you remember what the breaking change was?

[2019-12-28 01:37] Ark-kun commented on #2764
@jingzhang36 This seems to be related to the recently introduced pipeline versions feature. Can you please take a look?

[2019-12-28 01:40] Ark-kun commented on #2758
There are some benefits of storing the intermediate data between pipeline runs as the system could cache executions instead of re-running the components every time.

The future solution will probably involve expiration time and garbage collection for the intermediate data.

[2019-12-28 02:01] #2692 closed

[2019-12-28 02:19] numerology commented on #2767
/assign @Bobgy
Seems like the file is not there. Can you confirm?
@Svendegroote91 You can also follow the guideline [here](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize) by replacing the `PIPELINE_VERSION`.

[2019-12-28 04:38] Bobgy commented on #2767
I will take a look

[2019-12-28 05:25] Bobgy commented on #2767
I verified it's still working well for me.
My kubectl version:
[code]

I suspect this may be a version problem.

@Svendegroote91 can you share your kubectl version, which OS you are using?

[2019-12-28 05:28] Bobgy commented on #2767
url format seems to recently changed to not require that double slash: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#url-format

old format is consistent with the documentation: https://github.com/kubernetes-sigs/kustomize/blob/423a8a6e0dd3e6aa81d4f0aa82f86bb4007be342/examples/remoteBuild.md#url-format

I'm not sure which version support do they have

[2019-12-28 08:16] bruce3557 commented on #2773
About timeout problem, I think that is GKE problem. That will use default credential client and the certification is timeout around 1 hour.
But I think binding workload identity to pipeline-runner is workable for kubeflow ~

[2019-12-28 10:21] akranga commented on #2768
@Ark-kun any plans to make a corrective action regarding the issue? I am willing to get rid of `patch_pvolumes('argo-wf.yaml')` in my KFP generated pipelines code?

I may also do a PR however will need some guidelines where to apply a fix

[2019-12-28 10:24] akranga commented on #2768
@parthmishra you are correct. The Argo WFs are the custom resources :)... So, KFP indeed compiles directly. It took me a while to understand why my KFP jobs are failing. So, I started to tear down moving parts until realised the volumes issue (this)

[2019-12-29 11:22] amitripshtos opened #2781 "Can not filter runs by pipeline ID"
**What happened:**
Using kubeflow pipelines 0.1.38, I'm trying to do a search of runs filtered by pipeline ID.
I'm using "resource_reference_key_type" = "PIPELINE" (just like in the swagger file), but the response I get is:
[code]

**What did you expect to happen:**
To filter by pipeline ID successfully and not get declined by filter's validation.

**What steps did you take:**
Using the /runs/ RES

[2019-12-29 12:49] amitripshtos commented on #2781
Looks like you can filter only by PIPELINE_VERSION, Maybe let's remove PIPELINE option from swagger file?

[2019-12-30 03:16] Bobgy commented on #2589
Migrate standalone deployment to workload identity on GCP #2619 removes all `use_gcp_secret` usages in samples, so they can be run in both workload identity and GCP hosted ML pipelines

[2019-12-30 17:58] prcastro commented on #1779
What is the practical consequence of this? I'm having an issue with bound PVCs from pipelines that ran long ago.

[2019-12-31 09:25] liudonggang opened #2787 "No API interface found for python"
Is it possible to provide a python version of the API interface?

[2019-12-31 17:23] numerology commented on #2787
Can you elaborate on what type(s) of the APIs you are looking for?

Currently we have the Python SDK client by which you can do some KFP operations [here](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py)

[2019-12-31 17:31] numerology commented on #2781
/assign @jingzhang36

[2020-01-02 02:38] liudonggang commented on #2787
I want to find a python API that describes kubeflow (the command is: kubectl describe wf -n kubelfow xxxx), is there an API for this?

[2020-01-02 11:23] elikatsis commented on #1779
Hi all,
I'm working on a solution using owner references that seems to be working just fine!
I'll follow up with a PR soon.

/assign elikatsis

[2020-01-02 17:33] numerology commented on #2787
KFP itself is not a workflow (rather I'll say it's a k8s app consisting of several components). Are you looking for a way to describe all the workflows running under kubeflow?

[2020-01-02 23:34] wronk commented on #2773
@bruce3557, also running into this on some training experiments (using Katib outside pipelines). I end up with that same error when trying to download training data:

`google.auth.exceptions.TransportError: HTTPConnectionPool(host='metadata.google.internal', port=80): Read timed out. (read timeout=120)`

Please post back if you find a fix

[2020-01-03 01:31] liudonggang commented on #2787
yes,Indeed as you said, I am looking for an API or tool that describes kubeflow

[2020-01-03 01:35] numerology commented on #2787
Sorry I'm a bit of confused.

My point is that I don't think it's meaningful to describe kubeflow as a whole workflow because it's not monolithic.

Instead, if you're looking for a way to list all the running pipelines in your KFP deployment, there is indeed a Python API [here](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L416)

[2020-01-03 01:40] liudonggang commented on #2787
I understand what you mean。

[2020-01-03 01:41] liudonggang commented on #2787
Thank you for taking the time to answer my doubts.

[2020-01-03 02:32] bruce3557 commented on #2773
@wronk I find a workaround solution to prevent this problem in kubeflow issue 4607.
You can restart metadata pods regularly (around half hour)
The command is:
`kubectl delete pods -n kube-system --selector=k8s-app=gke-metadata-server`

The GCP issue is here:
https://issuetracker.google.com/issues/146622472

[2020-01-03 04:49] numerology commented on #2787
Happy to be helpful! @liudonggang

[2020-01-03 04:49] #2787 closed

[2020-01-03 16:30] andrewsmartin commented on #2253
Hi, just wanted to ask if there are any updates on this / fixes in progress. We run into this quite regularly due to high volume of tensorboard instances on a shared cluster, and we have to manually clean up old instances whenever this happens.

[2020-01-03 18:13] neuromage commented on #2253
/assign @jingzhang36

[2020-01-03 23:15] IreneGi opened #2793 "pip3 install kfp --user or pip install kfp does not set $PATH"
Run pip3 install kfp --user and then kfp says path not found, need to run export PATH=$PATH:~/.local/bin for cli deployment to work

[2020-01-03 23:23] numerology commented on #2793
Hi @IreneGi , do you mind pasting the full error message? Thanks.
For the CLI deployment are you talking about [standalone deployment](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize)?

[2020-01-03 23:23] Ark-kun commented on #2768
We have moved from workflow-wide volume definitions to per-template volume definition. https://github.com/kubeflow/pipelines/pull/2229 This makes the generated workflows less buggy and closer to Kubernetes. This has been supported since Argo 2.3.0 and Argo is now at v2.4.3 already.
I'm not sure it's desirable for us to revert the change.
The suggested fix is to upgrade Argo workflow controller.
Is

[2020-01-03 23:35] SinaChavoshi commented on #2793
This issue happens when you are installing the KFP SDK ... the CLI binary is not in the path after installation..

[2020-01-03 23:45] SinaChavoshi commented on #2793
seems like this is related to https://github.com/pypa/pip/issues/3813

[2020-01-03 23:48] SinaChavoshi commented on #2793
just verified a correct error message is shown at the end of the pip3 install however this is not a good user experience

[code]

[2020-01-04 00:08] numerology commented on #2793
Summary of offline discussion:

The actual problem is the linux OS image used by cloud shell does not include $HOME/.local/bin in $PATH, so binaries installed using '--user' option are not runnable. Have issued a feedback to cloud shell team.

We shall also escalate this issue to datalab team

[2020-01-06 05:00] Bobgy commented on #2669
@Ark-kun Sorry, I forgot about this issue.
Is this still relevant? Can you give me an example cluster or detailed reproduction steps? I don't fully get the problem.

[2020-01-06 09:12] pankajxyz commented on #661
@paveldournov I am also searching cloud neutral pipeline. The idea is to develop locally and scale it later on cloud. Please let me know if you have any jupyter notebook of some cloud neutral pipeline.  Right now, It seems like we must provide google cloud storage directory:
![image](https://user-images.githubusercontent.com/3924040/71808056-b904e980-30a7-11ea-9548-9e6e24063168.png)

[2020-01-06 19:20] neuromage commented on #2757
/assign @jingzhang36

[2020-01-06 20:36] prcastro opened #2800 "Install private packages using Github token"
**What happened:**

Tried to add `"git+https://$GITHUB_TOKEN@github.com/..."` to the `packages_to_install` list, hoping that it would interpolate the env var when the container run. However, it didn't interpolate the variable. Here is a section of the compiled pipeline:

[code]

Notice how the git URL is surrounded by single quotes, preventing the shell from interpolating the env vars.

**What did

[2020-01-06 20:38] prcastro commented on #2800
Any reason why we are using `repr` here?

https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/_python_op.py#L558

[2020-01-06 21:50] gaoning777 commented on #2356
/assign @numerology
Could you add the model cleaning in the test/tools/project-cleaner please?

[2020-01-06 21:51] gaoning777 commented on #2356
/unassign @gaoning777

[2020-01-06 21:52] gaoning777 commented on #2073
/unassign @gaoning777
/assign @rmgogogo

[2020-01-06 21:53] gaoning777 commented on #2073
@rmgogogo could anyone on your side implement this sample test work? Thanks
Not high priority, though

[2020-01-06 22:31] gaoning777 commented on #2072
/unassign @gaoning777
/assign @numerology Cleaning the dnn-trainer component since the #1903 is merged.

[2020-01-06 22:32] gaoning777 commented on #2032
Done

[2020-01-06 22:32] #2032 closed

[2020-01-06 22:34] gaoning777 commented on #2027
https://github.com/kubeflow/pipelines/pull/2218

[2020-01-06 22:34] #2027 closed

[2020-01-06 22:35] goldenberg opened #2802 "Ability to set ImagePullPolicy on a per pipeline or cluster global level"
We would like to set a default ImagePullPolicy on a per pipeline, or possibly cluster global level.

Could this be implemented on the `PipelineConf` object? e.g. `PipelineConf.set_default_image_pull_policy()` Or is there another pattern you'd recommend?

Rationale: We've implemented a CI-driven semantic versioning scheme for our Docker images where we push an image with a semantic version tag of t

[2020-01-06 22:36] gaoning777 commented on #2771
Thanks Alexey for the fix.
/unassign @gaoning777

[2020-01-06 22:38] gaoning777 commented on #2702
/assign @numerology let me know if you need any clarifications.
/unassign @gaoning777

[2020-01-06 22:42] gaoning777 commented on #2682
/unassign @gaoning777
/assign @Ark-kun
Hi, Alexey, could you help update the SDK?

[2020-01-06 23:46] gaoning777 commented on #2542
This component is still working since the sample test covers this kubeflow-serving.
Now we have seldon samples for the serving. We could potentially remove this one after adding the seldon serving in the core samples.
@jinchihe Would you mind adding the sample test for the seldon samples?
/assugn @jinchihe
/unassign @gaoning777

[2020-01-06 23:48] gaoning777 commented on #2625
/unassign @gaoning777

[2020-01-06 23:49] gaoning777 commented on #2624
/unassign @gaoning777
/assign @Ark-kun

[2020-01-06 23:54] gaoning777 commented on #2322
The core samples also mean they are tested by the test infra. Since we currently only run the samples on GCP, we place the tested samples in the core directory.

[2020-01-06 23:54] gaoning777 commented on #2322
/assign @rmgogogo

[2020-01-07 00:38] numerology commented on #1758
/close

Let's fix this right now because the tests are okay right now.

[2020-01-07 00:38] #1758 closed

[2020-01-07 00:45] Ark-kun commented on #2800
The main reason is to prevent issues similar to the "SQL injection" attacks. I want the list of packages to be as declarative as possible.

[2020-01-07 00:57] prcastro commented on #2800
How do you recommend we approach installing packages from private repo in this case?

[2020-01-07 01:32] gaoning777 commented on #2275
/unassign @gaoning777

[2020-01-07 01:33] gaoning777 commented on #2139
we currently have the kf serving sample tests. Does it still exist? @IronPan

[2020-01-07 01:33] gaoning777 commented on #2097
/unassign @gaoning777

[2020-01-07 01:34] gaoning777 commented on #1599
@jlewi Do you have any comments on this? Thanks

[2020-01-07 01:35] gaoning777 commented on #1701
/unassign @gaoning777
/assign @numerology

[2020-01-07 01:52] keeplearnin opened #2806 "Unable to generate visualization: Unable to initialize visualization"
**What happened:**
Trying to use the Visualization Creator inside Pipeline > Experiment.
Type: TFDV
Source: `gs://ml-pipeline-playground/tfx_taxi_simple/data/data.csv`

Received:
[code]

**What did you expect to happen:**
Generate a Visualization of the given data just as in the documentation:
https://www.kubeflow.org/docs/pipelines/sdk/python-based-visualizations/

[2020-01-07 08:32] Bobgy opened #2808 "UI node server should enable strict type checking"
### Current Problem
UI node server code doesn't do much typescript type checking.

### Plan
* [ ] Configure a tsconfig.json for it and update server/package.json to turn on strict type checking.
* [ ] Fix upcoming errors

[2020-01-07 11:17] Bobgy commented on #2767
@Svendegroote91 ping after holiday
Can you still reproduce the issue?

[2020-01-07 16:24] Svendegroote91 commented on #2767
Hey,

I am still getting the same issue:
![image](https://user-images.githubusercontent.com/33965133/71910617-85db5c80-3172-11ea-93e2-b33e00d35687.png)

Any thoughts?

The other [documentation](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize) works for me.

[2020-01-07 16:38] numerology opened #2811 "PyArrow dependency broken for TFX"
Temporarily disable TFX test

[2020-01-07 17:11] numerology commented on #2811
Investigation shows that TFX has the requirement PyArrow < 0.15, but we somehow get PyArrow 0.15.1

[2020-01-07 17:25] numerology commented on #2811
Currently observed two failure mode:
1. backend server image failure, for [example](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2797/kubeflow-pipeline-sample-test/1214582774061600770/build-log.txt):
[code]
This is because in `RUN python3 -m pip install tfx==0.15.0`, pyarrow 0.15.1 was installed. However, tfx-bsl requires pyarrow<0.15.0 as stated [here](https:/

[2020-01-07 19:22] #2811 closed

[2020-01-07 22:20] louisvernon opened #2814 "kfp _generate_kaniko_spec permissions under workload identity"
**What happened:**

Testing the pipelines notebook examples under Kubeflow 0.7 using Workload Identity on Google Kubernetes Engine.

The [container_build](https://github.com/kubeflow/pipelines/blob/master/samples/core/container_build/container_build.ipynb) example fails because `_generate_kaniko_spec` creates a pod running under the `default` Kubernetes service account which has no associated/boun

[2020-01-07 23:27] gaoning777 commented on #1223
/assign @chensun

[2020-01-08 00:13] gaoning777 commented on #1213
/unassign @gaoning777

[2020-01-08 00:15] gaoning777 commented on #1900
/unassign @gaoning777

[2020-01-08 00:15] gaoning777 commented on #2139
If it is reproducible, feel free to reopen.

[2020-01-08 00:15] #2139 closed

[2020-01-08 00:16] gaoning777 commented on #1065
/unassign @gaoning777
/assign @numerology

[2020-01-08 00:18] gaoning777 commented on #990
We are transitioning to Workload identity.
Check out https://www.kubeflow.org/docs/gke/pipelines/authentication-pipelines/

[2020-01-08 00:18] #990 closed

[2020-01-08 00:19] gaoning777 commented on #1414
@Bobgy Do you think we can add the info during the deployment?

[2020-01-08 00:22] gaoning777 commented on #1104
It is supported in https://github.com/kubeflow/pipelines/pull/2626.
Feel free to reopen the issue.

[2020-01-08 00:22] #1104 closed

[2020-01-08 00:23] gaoning777 commented on #873
Most of the dependencies are version fixed. We have not seen such problems for quite some time.
Close for now.

[2020-01-08 00:23] #873 closed

[2020-01-08 00:25] gaoning777 commented on #742
The tfx components are currently using the latest TF version.
https://github.com/kubeflow/pipelines/tree/master/components/tfx
Feel free to reopen the issue.

[2020-01-08 00:25] #742 closed

[2020-01-08 00:26] gaoning777 commented on #504
@amygdala is this still a wanted feature?

[2020-01-08 00:28] gaoning777 commented on #983
https://github.com/kubeflow/pipelines/blob/master/samples/core/parameterized_tfx_oss/parameterized_tfx_oss.py is added to the backend.
Feel free to reopen the issue.

[2020-01-08 00:28] #983 closed

[2020-01-08 00:29] #2061 closed

[2020-01-08 00:30] gaoning777 commented on #482
/unassign @gaoning777

[2020-01-08 00:30] gaoning777 commented on #1700
/unassign @gaoning777
/assign @numerology

[2020-01-08 00:31] gaoning777 commented on #1519
/unassign @gaoning777

[2020-01-08 00:32] gaoning777 commented on #1585
/assign @numerology
/unassign @gaoning777

[2020-01-08 00:33] gaoning777 commented on #1763
/unassign @gaoning777

[2020-01-08 00:34] gaoning777 commented on #1383
/unassign @gaoning777

[2020-01-08 00:36] gaoning777 commented on #1235
Fixed in https://github.com/kubeflow/pipelines/pull/1293

[2020-01-08 00:36] #1235 closed

[2020-01-08 00:40] gaoning777 commented on #1919
/unassign @gaoning777

[2020-01-08 00:41] gaoning777 commented on #448
/unassign @gaoning777

[2020-01-08 00:43] gaoning777 commented on #1846
/unassign @gaoning777
/assign @numerology

[2020-01-08 00:45] gaoning777 commented on #1187
Supported withitems in https://github.com/kubeflow/pipelines/blob/master/samples/core/loop_parameter/loop_parameter.py

[2020-01-08 00:45] #1187 closed

[2020-01-08 00:46] gaoning777 commented on #2310
Fixed https://github.com/kubeflow/pipelines/pull/2497

[2020-01-08 00:46] #2310 closed

[2020-01-08 00:47] gaoning777 commented on #1271
/unassign @gaoning777

[2020-01-08 00:49] gaoning777 commented on #1514
we are transitioning to the new tfx oss sample: https://github.com/kubeflow/pipelines/tree/master/samples/core/parameterized_tfx_oss
Closing it for now.

[2020-01-08 00:49] #1514 closed

[2020-01-08 00:51] gaoning777 commented on #1601
TFX side already support local build. Do you want it supported in KFP SDK as well? @SinaChavoshi

[2020-01-08 00:53] gaoning777 commented on #2177
/unassign @gaoning777

[2020-01-08 00:54] gaoning777 commented on #1240
/unassign @gaoning777
/assign @Ark-kun

[2020-01-08 03:58] Bobgy commented on #2767
https://github.com/ohmyzsh/ohmyzsh/issues/31
It seems to be a zsh issue?

Svendegroote91 <notifications@github.com> 于 2020年1月8日周三 上午12:24写道：

[2020-01-08 04:21] Bobgy commented on #1414
Does GKE on-prem mean Anthos? How would that info be retrieved initially if no GCE metadata server?

After a short consideration, I think there are some complexities, especially in garbage collection of the configmap (similar to https://github.com/kubeflow/pipelines/pull/2391).

We can start with caching the response in UI server if that's a problem.

[2020-01-08 05:39] Bobgy commented on #2767
/close
@Svendegroote91 please reopen if above issue doesn't solve your problem

[2020-01-08 11:07] elikatsis commented on #1779
As I mentioned in the previous comment, I've been working on solving this issue using `OwnerReferences`.

An OwnerReference requires two basic fields that refer to the actual Kubernetes resource: `name` and `uid`.
Argo enables access to those using [Argo (v2.3.0) variables](https://github.com/argoproj/argo/blob/v2.3.0/docs/variables.md): `{{workflow.name}}`, `{{workflow.uid}}`.

PR kubeflow/pipeli

[2020-01-08 11:13] plang85 opened #2816 "Feature: 'arguments' to kfp.compiler.Compiler().compile"
It would be great to be able to pass `arguments` to `compiler.Compiler().compile` similar to `Client.create_run_from_pipeline_func` or am I missing something?

[2020-01-08 17:18] numerology commented on #2816
Hi @plang85 thanks for bringing this up.

Actually I am little bit of confused regarding your usage of pipeline parameter and argument. Pipeline parameters are only placeholders in the pipeline workflow def, while arguments are provided in `create_run_from_pipeline_func()` as the runtime values of pipeline parameters. Thus I don't see the point of providing argument at the compilation time.

Can y

[2020-01-08 19:16] ajchili commented on #2806
Hey @keeplearnin. While developing the python-based-visualizations I rand into issues with older versions of TFDV and TFMA. Unfortunately, I did not have ample time to fully resolve the issues faced and I am unsure if they were resolved after my departure from Pipelines. From my understanding, the TFX data in the ml-pipeline-playground is not compatible with the version of TFDV and TFMA that is us

[2020-01-08 19:43] ajchili commented on #2806
/assign @ajchili

[2020-01-09 00:30] Ark-kun commented on #2816
Can you elaborate more on your user scenario?

The compiled pipeline is still analogous to the pipeline function from which it was created.
If the function has parameters, then the pipeline will have them too. Then the user can create multiple runs from the pipeline just supplying new arguments. If the pipeline does not have free parameters, it will always do the same thing which limits its useful

[2020-01-09 00:51] Bobgy commented on #2814
Thanks for reporting, this is tracked in https://github.com/kubeflow/pipelines/issues/1691#issuecomment-569025651

[2020-01-09 01:17] gaoning777 commented on #504
/unassign @gaoning777
/assign @numerology @Ark-kun

[2020-01-09 01:39] jiyongjung0 commented on #2764
I'm sorry but is there any update?

[2020-01-09 02:12] Ark-kun commented on #1383
It would be great to do so at least for single files.

Folders are used by saved Tensorflow models/estimators. TF stores the network structure and the weights/checkpoints separately.

[2020-01-09 02:14] Ark-kun commented on #1519
Closed as upstream issue

[2020-01-09 02:14] #1519 closed

[2020-01-09 03:01] #2771 closed

[2020-01-09 06:44] jinchihe commented on #2542
@gaoning777 Why not using KFServing to deploy serving in the sample? Thanks.

[2020-01-09 06:56] Bobgy commented on #1691
Work items blocking multi user support and hosted are done. Changed to p1 priority.

[2020-01-09 11:34] plang85 commented on #2816
@numerology @Ark-kun thanks for getting back to me - I'm new to this and was missing something. The default values do the trick, I can override these on argo submit (my use case is that we have an internal argo-as-a-service and I'm compiling kfp to the workflow definition and submitting those).

[2020-01-09 11:37] asaff1 opened #2819 "Cannot use AWS S3 bucket in region other than us-east-1"
Unable to use S3 bucket in region other than us-east-1.
The following `ml-pipeline` env configuration:

            - name: OBJECTSTORECONFIG_BUCKETNAME
              value: kubeflow-bucket
            - name: MINIO_SERVICE_SERVICE_HOST
              value: s3.amazonaws.com
            - name: MINIO_SERVICE_SERVICE_PORT
              value: '80'
            - name: OBJECTSTORECONFIG_ACCESSKEY

[2020-01-09 14:14] jobvarkey commented on #1411
I am getting similar error. Can you please tell how it was fixed? Thanks

[2020-01-09 14:52] karlschriek commented on #1779
I would be very interested in this. We have workflows where we sometimes need to dump out fairly large files to disk, but they are only relevant while the component is executing. Currently we have to always manually delete the PVCs afterwards

[2020-01-09 15:31] jobvarkey commented on #2699
Hello, any update on this issue? I am also getting similar error. Thanks

[2020-01-09 16:56] saschagrunert commented on #1654
Hey @Ark-kun, may I ask you again what the current status is? I'd be happy to contribute but there was some time in-between. Can we create a list of action items we have to address to get native CRI-O support in kubeflow pipelines?

[2020-01-09 20:21] shotarohorai commented on #2604
@Ark-kun

I was wondering why the Executions and Artifacts sections were blank even if a pipeline completed and produced artifacts successfully.
So, is it correct that for now, I cannot see any artifacts produced by KFP pipeline in the Artifacts sections unless I add those into MLMD by myself?

[2020-01-09 23:18] gaoning777 commented on #1599
Since this is not kubeflow pipeline specific error, I will close it for now.
However, feel free to reopen it if not.

[2020-01-09 23:18] #1599 closed

[2020-01-09 23:19] gaoning777 commented on #2322
/assign @numerology
/unassign @gaoning777

[2020-01-09 23:22] SinaChavoshi commented on #1601
Resolving as TFX sdk supports local docker build.

[2020-01-09 23:22] #1601 closed

[2020-01-09 23:35] gaoning777 commented on #2538
/unassign @gaoning777

[2020-01-09 23:37] gaoning777 commented on #2561
@rmgogogo Would you mind taking a look
/unassign @gaoning777

[2020-01-09 23:45] gaoning777 commented on #1414
In case of GKE on-prem, there is no such metadata, thus only default metadata for project id and cluster name.
we can probably start with adding a configmap during the deployment with project id and cluster name if deployed in GKE. Otherwise, add a configmap for a default value. When the UI fetches the configmap, it will detect the default value in case of on-prem and output meaningful messages in

[2020-01-09 23:45] gaoning777 commented on #1414
/unassign @gaoning777

[2020-01-09 23:48] gaoning777 commented on #1891
/assign @Ark-kun

[2020-01-10 00:26] gaoning777 commented on #1891
/assign @numerology

[2020-01-10 00:27] gaoning777 commented on #1891
/unassign @gaoning777

[2020-01-10 00:28] Ark-kun commented on #2562
This issue becomes urgent since TFX has recent changes that will stop adding the `pipeline_name` property to the artifacts (initially it will still be available as custom property).
This will cause the artifacts to stop being grouped.

[2020-01-10 01:08] Bobgy commented on #1414
Hosted KFP is usually deleted by deleting the application. It doesn't delete the namespace. If a configmap is created afterwards, it will not be owned by the application.

[2020-01-10 01:33] Bobgy commented on #2714
Removing the label, as it is obviously more complex than I thought. Thanks @drewbutlerbb4! Well thought through the use case.

[2020-01-10 01:36] gaoning777 commented on #1414
Agreed.

Thanks

[2020-01-10 01:37] gaoning777 commented on #1223
/unassign @gaoning777

[2020-01-10 02:29] b675987273 opened #2821 "When searching artifacts, an error "mysql_query failed" occurred"
**What happened:**
[code]

**What did you expect to happen:**
I do not know. The pipeline architecture is too complex to understand personally.

**What steps did you take:**
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-01-10 09:29] xiaogaozi opened #2823 "[DSL] Feature request: denote for loop with static/dynamic inputs and dependency in pipeline"
Came from [Slack discussion](https://kubeflow.slack.com/archives/CE10KS9M4/p1578299031011900), below is our use case.

[code]

There're 3 main feature requests (or maybe problems):

1. The `PipelineParam` use with normal Python `for` loop (line 7)
2. The `PipelineParam` use with normal Python function (line 8)
3. Every train task need depend on last one (line 13)

As mentioned in Slack, currently

[2020-01-10 09:36] xiaogaozi commented on #2823
Just FYI, our workaround by now is not use `PipelineParam`. We pass the parameter by environment variables. For example:

[code]

But we think this method isn't the best way to use Kubeflow pipeline.

[2020-01-10 09:50] b675987273 commented on #2821
ok, just restart the meta-grpc and it works.[related issue](https://github.com/kubeflow/kubeflow/issues/4604#issuecomment-569802994)

[2020-01-10 09:50] #2821 closed

[2020-01-10 10:15] Kyrremann commented on #1411
As I said, I needed to use a newer version of the persistence agent image, as the older ones didn't  support custom domain.
If you're using the latest, maybe the support has been removed again?

[2020-01-10 12:23] eterna2 commented on #1924
Hi any updates on this? If not, I don't mind contributing as vega is one of my fav viz lib?

[2020-01-10 12:37] eterna2 commented on #2800
Actually I have the same issue with private pypi servers.

My current workaround is updating the pip conf in the docker image.

[2020-01-10 19:20] amygdala commented on #1790
I'm still seeing this in whatever version of pipelines is included in KF 0.7.1 (and it's still as annoying as it has always been)

[2020-01-10 19:20] amygdala commented on #1790
/open

[2020-01-10 22:26] amygdala opened #2824 "Pipeline UI: logs keep force scrolling to bottom even after step has finished"
Using whatever pipelines version is included in 0.7.1.

In the Pipelines UI, the pod logs for a step keep autoscrolling back down to the bottom even after the step has finished and no new output is being generated.

That makes the logs essentially unusable for post-run debugging (since you can never keep earlier output in view long enough to read it properly...).

(See also https://github.com/kube

[2020-01-10 23:09] amygdala opened #2825 "SDK: issue with pipeline arg static typing & default values"
I'm creating a pipeline with a dict input parameter & am attempting to use the `Dict` type from `ksl.dsl.types`.

If I define the input like this (note double quotes): https://github.com/amygdala/pipelines/blob/automl_client_update/components/gcp/automl/create_dataset_for_tables/tables_pipeline.py#L49
[code]
...I see two problems.

First, when compiling the pipeline, I get this warning re: JsonObj

[2020-01-11 00:04] amygdala opened #2826 "It needs to be possible to upgrade a KFP installation in an existing KF cluster"
Following the instructions here: https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/
to upgrade the KFP part of an existing KF installation, I get a PVC-related error.
There really should be some way to do this upgrade given the lag on the KFP versions bundled with the KF releases.  Am I missing something?

[code]

[2020-01-11 00:34] chensun commented on #1223
/assign @chensun

[2020-01-11 02:03] Bobgy commented on #2824
Yes, it's still the case unfortunately. pipeline wasn't upgraded in KF 0.7.1, it is the same as kf 0.7. Can you open an issue to ask about integrating latest KFP instead？

[2020-01-11 15:25] nrchakradhar commented on #1223
Doubt: Can you please clarify the usage of Kfam?
As per the arrikto reference, subjectaccessreview is planned for usage. I am not clear about the interaction between Kfam and this. Thanks

[2020-01-11 16:24] aoighost opened #2827 "Ability to use rest api to get components and create pipelines using yaml"
The ability to use the rest api to get a list of components and create pipelines using yaml would open the door for a web interface to compose pipelines.

[2020-01-11 22:15] kbentaleb opened #2828 "Pipeline run error: This step is in Error state with this message: volume 'mypvc' not found in workflow spec"
I am using the python code in this [link](https://github.com/kubeflow/pipelines/blob/master/samples/contrib/volume_ops/volumeop_sequential.py) to generate a kubeflow pipeline, but when I try to run the pipeline I have this issue "This step is in Error state with this message: volume 'mypvc' not found in workflow spec" in the container called "step1"

Kubelofw V0.5
Kubernetes V1.14

@elikatsis do y

[2020-01-12 01:55] moose007 commented on #2827
@aoighost Do you envision the API to also retrieve the input (and/or output) schema of the component? That could help validate whether you can stitch various components together.

[2020-01-12 02:40] eterna2 commented on #2828
Which version of kfp sdk are u using? And can u provide the compiled yaml?

[2020-01-12 02:51] aoighost commented on #2827
Yes I do

[2020-01-12 04:54] numerology commented on #2826
/assign @Bobgy
I'm not very familiar with the full fledge KF deployment, but if I remember correctly it was different than the standalone deployment. Perhaps it's currently not possible to update KFP in full fledge KFP using the standalone manifest.

Yuan will be the best person to answer this and correct me if I was wrong.

[2020-01-12 09:37] kbentaleb commented on #2828
@eterna2
Thank you for your answer, I'm using kfp 0.1.40
You will find the compiled yaml in the attached file bellow.

[test-kfp.zip](https://github.com/kubeflow/pipelines/files/4050461/test-kfp.zip)

Thank you

[2020-01-12 16:00] kierenj opened #2829 "Nested ParallelFor: can't resolve parameter from outer loop operation"
**What happened:**
I'm creating a pipeline which runs lots of training jobs in parallel. Parameters are passed as arrays, and all combinations of parameters are used to run.

First, new data into the system is validated (first step). Once per pipeline run!
If one parameter changes, a different data set as a whole needs to be generated (this is the second step).
For all combinations of two other pa

[2020-01-12 16:16] numerology commented on #2829
/assign @numerology
/assign @Ark-kun

[2020-01-12 16:19] numerology commented on #2828
@kbentaleb Can you try to use a latest version Kubeflow pipeline deployment?

Kubeflow 0.5 is very old and I'm pretty sure there are many incompatible features in KFP 0.1.40, which is the latest SDK

[2020-01-13 01:40] eterna2 commented on #2828
I can't recall which version of Argo kubeflow 0.5 is on, but we upgraded to Argo 2.3 sometime in June (was 2.2 prior).

This could be a possible reason. I will try a run on my cluster with ur yaml. If it works, most probably vol ops are not supported in Argo 2.2 (which I believe so, as there are a lot of new features added to 2.3).

[2020-01-13 02:23] amygdala commented on #2824
ah, okay (sorry, since it had been several months since the other bug was closed, I felt sure that a newer pipeline version must be included by now :).  Feel free to close this bug then.

This one is related to KFP versioning: https://github.com/kubeflow/pipelines/issues/2826 — if we can make it workable/straightforward to upgrade the KFP version in-place, in a KF install, that would address such

[2020-01-13 02:36] eterna2 commented on #2828
yeah. it works on my cluster.

[2020-01-13 04:19] ajchili commented on #1924
Hey @eterna2, I unfortunately did not make any progress for this FR. If possible, I would recommend writing up a design doc and have it be reviewed by the Pipelines team. This will ensure that the desired feature aligns with the goals of Pipelines and prevents work from being duplicated or scraped. Please let me know how I can help!

[2020-01-13 04:30] xiaogaozi commented on #2823
@numerology @Ark-kun If you guys have time please help us to address this issue, thanks.

[2020-01-13 05:13] Bobgy commented on #2824
No worries, I understand the confusion. I will see what I can do for better KF upgrade support.

/close

[2020-01-13 05:13] #2824 closed

[2020-01-13 05:25] Bobgy commented on #2826
This specific problem may be solvable by simply not applying pvcs, delete them from your standalone manifests might fix it.
However, the two deployments are different in many ways. We can never guarantee applying standalone on Kubeflow deployment can upgrade it without problems.
I think we can only make a test suite for KFP on Kubeflow and update Kubeflow with latest KFP within a timely period.

[2020-01-13 05:32] Bobgy commented on #2670
/assign @jingzhang36
Can you update latest status on this issue?

[2020-01-13 06:24] jingzhang36 opened #2831 "Let tensorboard viewer parses the required version from mlpipeline-ui-metadata.json file & early startup"

[2020-01-13 06:29] #2386 closed

[2020-01-13 09:03] Bobgy commented on #2826
@amygdala Is the reason you cannot use https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/ that you are also using other Kubeflow services?
What if you install a kubeflow without pipelines and argo, then install KFP standalone in the same cluster. Does that work for you?

[2020-01-13 09:27] kbentaleb commented on #2828
@eterna2
Did you run the pipeline on kubeflow 0.5 ?
Can I just upgrade Argo or I have to upgrade Kubeflow to a recent version (v0.7) ?
Thank you

[2020-01-13 09:52] Ark-kun commented on #2828
You only need to upgrade Argo to v2.3.0.

[2020-01-13 10:23] kbentaleb commented on #2828
@Ark-kun could you give me the command line to upgrade it on Ubuntu server please?

Thank you!

[2020-01-13 11:30] Klaven commented on #1654
I would also be willing to assist with this if we could get some action items or the like. Trying to catch up with it as best I can today. I'm going to try and build a 1.15 cluster and see if I see the same issues still as I think there have been at least one releases.

[2020-01-13 16:01] amygdala commented on #2826
Yes -- correct that I am also using other KF services. This is in the context of a codelab.

Ideally— though this might be too hard to accomplish— I would like to see a scenario where the user could deploy the KF install via the c2d app, then run a single command-line call (maybe accessing a kustomize config) to upgrade the KFP components if need be. Anything else I think is too complex for a code

[2020-01-13 16:15] Felihong commented on #2806
Hey @ajchili , I'm running into similar issue while trying to visualize the outputs from a component:
- Environment: `Kubeflow 0.7 deployed in GKE`
- Type: `Table`
- Source: `gs://ml-pipeline-playground/tfx_taxi_simple/data/data.csv`
(here I also tried my own bucket, where the service account pipeline-runner has edit access)
- Received:
[code]
I checked the logs of Pod ` ml-pipeline-ml-pipeline-vi

[2020-01-13 16:21] ajchili commented on #2806
Hey @Felihong, thanks for the additional report! I will try to duplicate your cluster and see why the issue is occurring. While it has been a bit since I have worked on this, I do not believe that you have to provide arguments for the table visualization. I will confirm this and see where the issue is arising.

As an FYI I just started my final semester at school so I may run into delays but I wil

[2020-01-13 20:25] Ark-kun opened #2834 "Tests succeed when workflow identity checking fails"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2674/kubeflow-pipeline-sample-test/1216678122397634561

[code]

[2020-01-13 23:06] Ark-kun commented on #2828
It should be something like this:
[code]
(With kubectl pointing to your cluster.)

Please let me know how this goes.

[2020-01-13 23:52] Bobgy commented on #2834
Thanks for identifying the issue.
/kind bug

[2020-01-14 02:33] Bobgy commented on #2826
Thanks, I got the context.

I agree with your ideal user journey, but I think that's hard to achieve from KFP side alone. Current KF upgrade design didn't try to support component level upgrade, that's the part we need to support this scenario. We could provide individual patched manifests (for upgrade KFP only) if there's an important KFP change you want for a workshop.

Applying KFP standalone i

[2020-01-14 02:53] Bobgy commented on #1383
@Ark-kun what is priority for this? It sounds like needing a lot of changes + testing to make sure the whole system is switched. Can we add this to quarterly planning?

[2020-01-14 03:43] Bobgy commented on #2737
This is likely already resolved by https://github.com/kubeflow/pipelines/pull/2391.
I will verify that

[2020-01-14 03:47] Bobgy commented on #2834
@Ark-kun I'm not sure I understood your description. I checked your error log, the test did fail when workload identity checking fails.

Are you reporting related flakiness? How often have you seen this?

[2020-01-14 04:18] Bobgy commented on #2562
So required data are all available with KFP 0.1.40 using tfx taxi sample, is that right?
I will investigate this soon

[2020-01-14 05:53] rmgogogo commented on #2764
would you share me the pipeline zip file, may ping me directly and OK not share here

[2020-01-14 06:33] #2714 closed

[2020-01-14 06:45] jingzhang36 commented on #2764
Hi Jiyong, we have a recent change to our API methods as we introduced version concept into our system (FE, BE and SDK). In particular, BE change starts from 0.1.37 and FE change starts from 0.1.38.  From the response you posted, I feel the pipeline is created successfully because it responds with a pipeline UUID, i.e., ec299e6a-b994-4b2c-9060-65ff48039e50 (among other information of this created

[2020-01-14 07:24] jiyongjung0 commented on #2764
Thank you for the response.

Yes, the pipeline was created successfully, but error occurs when parsing the response from the server. I'm using kfp SDK to parse the response.

I've tested with kfp server version 0.1.37, and client version 0.1.37 and 0.1.40 which all fails.

IIUC, the `created_at` field should be a string according to the definition of the [pipeline object](https://github.com/kubefl

[2020-01-14 09:10] kbentaleb commented on #2828
Thank you @Ark-kun
I upgraded Agro but it still gives the same issue, so I installed kubeflow 0.7 and uploaded a pipeline so I have always an issue.
I noticed that the PVCs created from the pipeline are in pending status, and any PV was created. Is it normal ? Do you have some idea how to resolve the issue ?
Thank you

Pipeline used: [test-kfp.zip](https://github.com/kubeflow/pipelines/files/40582

[2020-01-14 10:42] elikatsis commented on #2828
It seems like your (default) storage class doesn't provision PVs for your PVCs.
If you know that your cluster has a storage class with a provisioner and you know its name, then you can try editing the `VolumeOp` in  your `.py` file adding the argument `storage_class`:
[code]

[2020-01-14 14:21] karlschriek opened #2837 "Katib component not completing correctly"
**What happened:**
When running a Katib component as the first step in a Pipeline, the component never reaches a "complete" stage. Both in the Pipelines dashboard and in the Katib dashboard the component is shown as still in progress.

I am running three parallel trials. The relevant pods have the following status:
[code]

I'm using the `File` metrics collector (although the exact same problem app

[2020-01-14 16:08] mattnworb commented on #2500
I believe this is still an issue with how the `ml-pipeline` Role is defined in https://github.com/kubeflow/manifests.

With kubeflow/pipelines having its own kustomize setup in https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize now, are we expected to deploy KFP through those manifests, or will the changes be synced back to https://github.com/kubeflow/manifests?

[2020-01-14 16:52] amygdala commented on #2826
thanks, okay, good to know.  We could close this if you want, or leave it open as 'aspirational' :).  It sounds like there would need to be a joint effort between KF Core and KFP to really address it.

[2020-01-14 21:27] Ark-kun commented on #2800
The easiest workaround for now would be to just install the package as part of your user code:

[code]

[2020-01-14 21:43] Ark-kun commented on #2834
Hmm.
Maybe I got mistaken.
I saw a test pass and turn green on Github checks. I clicked the link and saw that the test should have failed.

Maybe the link got mixed op somehow.

[2020-01-14 21:43] #2834 closed

[2020-01-14 21:55] Ark-kun opened #2840 "Properly serialize pipeline parameter defaults"
The lack of serialization causes https://github.com/kubeflow/pipelines/issues/2825
Related to https://github.com/kubeflow/pipelines/issues/2534

[2020-01-14 21:56] Ark-kun commented on #2825
This is strange.

At runtime, the quotes do not exist at all. As soon as python parses the test of your program, the quotes are forgotten and cannot be recovered.

I also believe that the serialization to "JsonObject" works correctly.

But the problem is most likely in the DSL compiler part that independently writes down the default values for pipeline inputs. AFAIK that part just uses `str` for "

[2020-01-14 22:00] Ark-kun commented on #2764
Correct me if I'm wrong, but as far as I remember there were not supposed to be any breaking change for the existing APIs.

[2020-01-14 22:45] amygdala opened #2841 "attempt to upload a pipeline of the same name is not handled gracefully"
This is for whatever KFP version the marketplace install is using.

If I try to upload a pipeline with the same name as an existing one, I get this error (rather than e.g. a warning that multiple pipelines can't have the same name):
![image](https://user-images.githubusercontent.com/115093/72388917-fc7cda80-36db-11ea-87b6-b258e3c4cc52.png)

[2020-01-14 22:55] numerology commented on #2841
Throwing an error is the intended behavior I believe. Though the error msg is messy.

[2020-01-14 22:55] numerology commented on #2841
/assign @jingzhang36
/assign @Bobgy
Do you have any input on this? Thanks!

[2020-01-15 03:31] Bobgy commented on #2826
Let's leave this open, if more users care about this. We can prioritize.

[2020-01-15 03:42] harupy opened #2844 "Python lint command doesn't detect violations related to whitespace."
This isn't an issue, but the current python lint command doesn't detect violations related to whitespace (such as trailing-whitespace).

[code]

https://github.com/kubeflow/pipelines/blob/master/.travis.yml#L136

[2020-01-15 03:43] harupy commented on #2844
And I'd like to work on fixing this.

[2020-01-15 05:46] Bobgy commented on #2737
Checked some recently merged PRs, like https://github.com/kubeflow/pipelines/pull/2696 and https://github.com/kubeflow/pipelines/pull/2743. proxy-agent is no longer in crash loop back off state when the test finishes.

/close

[2020-01-15 05:46] #2737 closed

[2020-01-15 08:54] Svendegroote91 opened #2845 "Filtering in Pipeline UI does not perform expected filtering"
**Feature Request

It would be awesome if you could filter in the UI on a substring of the pipeline name. Currently the filter does not really give the expected results.

![image](https://user-images.githubusercontent.com/33965133/72419301-d6f3dd80-377c-11ea-82a8-b1b0f4688287.png)

For example, in our set-up, we have pipelines per environment so it would be great if we could search for the environ

[2020-01-15 09:48] Svendegroote91 commented on #2845
Duplicate of #2294

[2020-01-15 09:48] #2845 closed

[2020-01-15 11:15] elikatsis commented on #1779
@Ark-kun @IronPan friendly ping :smile:

[2020-01-15 14:34] jadechip opened #2847 "Upload error when using `gcp.use_preemptible_nodepool()`"
**What happened:**

Uploading a pipeline with the `apply(gcp.use_preemptible_nodepool())` modifier results in the following error:

[code]

![image](https://user-images.githubusercontent.com/5690384/72442124-857c3a80-37de-11ea-9267-2b09264b0f3f.png)

This is true for both my own custom pipeline, and the example in the docs:
[code]
https://www.kubeflow.org/docs/gke/pipelines/preemptible/

If I remo

[2020-01-15 16:10] jadechip commented on #2847
On second thought, could this be related to the node taint that are sometimes associated with preemptible GPUs?

[2020-01-15 19:08] IronPan opened #2848 "Proxy agent failed to claim URL"
The error message
2020/01/15 18:55:19 Failed to read pending requests: "A proxy request failed: \"Get nullagent/pending: unsupported protocol scheme \\\"\\\"\""

This is due to a malformed backend Id given by the agent. this is might be introduced by
https://github.com/kubeflow/pipelines/commit/b5c54e1ba7aaf052a9a2bd21826429454b5f300c#diff-986b1153a97bee60b4f31250ea1ed45c

[2020-01-15 19:15] IronPan commented on #2848
Temporarily comment out the component to unblock the deployment
https://github.com/kubeflow/pipelines/pull/2585/files#diff-3a0f0bc1ff508db606c9f7b3c30f90ec

[2020-01-15 19:23] edacostacambioupgrade commented on #2806
@ajchili fyi, a fresh GCP kf cluster gets this error too.

[2020-01-15 20:51] liuyl commented on #1697
Any update on this issue? The reason I need this is because my pipeline creates some deployments, services and configs, which should be ideally deleted in exit_handler.

[2020-01-15 22:30] enriquedacostacambio commented on #2806
I think the problem is in the way the arguments are sent to the visualization server.
i think https://github.com/kubeflow/pipelines/blob/ee207f2b056ee8026efe988f740b3d0dc3dcaf1e/backend/src/apiserver/server/visualization_server.go#L70 builds the body using each parameter as a form post field equivalent to this:
[code]
while server.py expects a single post single form field called "arguments" with

[2020-01-15 22:52] enriquedacostacambio commented on #2806
@ajchili  i just retested those commands with `gcr.io/ml-pipeline/visualization-server:0.1.30` and `gcr.io/ml-pipeline/visualization-server:0.1.40` and both work when using the standard "forms fields" format of the command instead of the "command line" format that worked for `0.1.27`.

At least in my case the error was a a result of using pipelines 0.1.30 with visualization-server 0.1.27.

@keeple

[2020-01-15 23:12] enriquedacostacambio commented on #2806
nailed down to the manifests:
https://github.com/kubeflow/manifests/blob/v0.7-branch/pipeline/pipeline-visualization-service/base/kustomization.yaml#L11 points to visualization-server 0.1.27
while
https://github.com/kubeflow/manifests/blob/v0.7-branch/pipeline/api-service/base/kustomization.yaml points to api-server 0.1.31

i'll create a pr in that repo

[2020-01-15 23:15] amygdala commented on #2841
It used to give a better message (along the lines of 'can't have 2 pipelines with the same name').  Here's an example from an older KFP version (whatever is bundled with KF):
![image](https://user-images.githubusercontent.com/115093/72479612-d3c31680-37a9-11ea-8ad5-7eec642d6640.png)

[2020-01-16 00:17] mattnworb commented on #2253
I believe the panic is caused by passing `nil` as the last argument in

https://github.com/kubeflow/pipelines/blob/a16f3806374034b8f9898fe33c60eba46c5ae282/backend/src/crd/controller/viewer/reconciler/reconciler.go#L276

(this line is present in the master branch as well)

The godoc for the `sigs.k8s.io/controller-runtime/pkg/client.Client` interface: https://godoc.org/sigs.k8s.io/controller-runti

[2020-01-16 00:27] mattnworb commented on #2253
reconciler_test.go has a test that should cover the maybeDeleteOldestViewer logic, but the fake client that controller-runtime gives you via `sigs.k8s.io/controller-runtime/pkg/client/fake.NewClient()` ignores the `opts ...DeleteOption` argument altogether 🙃

https://github.com/kubernetes-sigs/controller-runtime/blob/5558165425ef09b6e5c3f61d3457fbeca0d6d579/pkg/client/fake/client.go#L128

[2020-01-16 01:26] Ark-kun commented on #2847
Probably not related. The issue seems to be related wither to wrong structure format or JSO truncation.

[2020-01-16 01:34] Ark-kun commented on #2604
Fixed by https://github.com/kubeflow/pipelines/pull/2674

[2020-01-16 01:34] #2604 closed

[2020-01-16 01:38] #2395 closed

[2020-01-16 01:47] Ark-kun opened #2855 "Convert samples and docs from ContainerOp to components"
We'd like to promote reusable component creation.
Creating components using Python (`func_to_container_op`), YAML (`component.yaml`) or `ComponentSpec` is not significantly harder than instantiating a ContainerOp, but results in actual components that can be reused and shared.

We need to replace the instances of direct `ContainerOp` usage with appropriate components.
All instances of `ContainerOp

[2020-01-16 01:55] Ark-kun commented on #2401
The AutoML training runs for more than an hour even with minimal training budget. I'm not sure we can afford running that pipeline often.

[2020-01-16 02:00] Ark-kun commented on #2372
If the downstream does not depend on the data produced by the upstream, then should there be a dependency in the first place? I'd like to hear some scenarios.

How would the downstream task consume data from those parents? Can you please show a small mockup of how this would look like from syntax perspective?

[2020-01-16 02:13] Ark-kun commented on #2320
I guess the problem is hard to solve for strongly-typed structures.
You can instead create a generic Patch component that does not use ResourceOp. That way you can pass in the data without problems.

[2020-01-16 02:19] Ark-kun commented on #497
@otaviocv Looks like the mockup component does not seem to have any outputs that could be passed forward. But even if it passed out the completed notebook, would it be useful for any downstream tasks? Would some component be able to consume a completed notebook?

[2020-01-16 02:24] Ark-kun commented on #961
Solved by https://github.com/kubeflow/pipelines/pull/1555
You can now do the following:

[code]
or
[code]

[2020-01-16 02:24] #961 closed

[2020-01-16 02:30] Ark-kun commented on #2823
Can you show PoC of the problem?

[2020-01-16 05:19] ajchili commented on #2806
Hey @enriquedacostacambio, thanks for taking a deep dive into this issue and discovering the cause! I do not know if I have the bandwidth at the moment to continue the work that you have started. If possible, can you submit a PR with a fix for the manifests file?

[2020-01-16 07:43] rmgogogo commented on #2848
as synced, it's due to use "dev/latest" manifest with old image (0.1.40), aka manifest and image not match.

The released 0.1.40 is OK.

So turn to P1. TODO things:
(1) revert #2849 in 0.1.41 release
(2) add daily images mark as "dev" so that it can better match with latest manifest.

[2020-01-16 09:28] Felihong commented on #2806
Hi @edacostacambioupgrade , I changed the visualization-server version to `0.1.31` and it works fine, thanks for debugging! 😎

[2020-01-16 09:42] Bobgy commented on #182
I also wanted clarification on this. What would be different in JupyterLab?

Does jupyter use an iframe to show KFP UI page? Did you try so? It should already show the UI, just with the navigation. If you already verified that works, this feature isn't very hard. Although I kind of doubt how many people actually wants it. Does the efforts worth saving a click?

[2020-01-16 09:46] Bobgy commented on #504
This sounds useful. @Ark-kun Can you provide me an example python notebook that compiles a pipeline, uploads it and shows the iframe of pipeline detail page, so I can try to iterate UI on it.

[2020-01-16 10:09] Bobgy commented on #2841
I tried to install a marketplace KFP and uploaded the same pipeline twice. I got the meaningful error message.

I'm not sure what went wrong in your first screenshot. Can you share the cluster to me for debugging purposes?
![Screenshot from 2020-01-16 18-08-07](https://user-images.githubusercontent.com/4957653/72515737-5d96e080-388b-11ea-93d3-4ce1f0ed3e5a.png)

[2020-01-16 11:42] sakaia opened #2857 "[FeatureRequest] Write the code tree on developer_guide.md"
**What happened:**
It is difficult to find the specific code and its software archtecture of kubeflow/pipeline.
Hopefully the code tree is written on developer_guide.md

**What did you expect to happen:**
Easily to find the specific code and understands software archtecture of kubeflow/pipeline.

**What steps did you take:**
This is document feature request (bug?) so no step to reproduce

**Anythi

[2020-01-16 14:17] kbentaleb commented on #2828
@elikatsis Thank you,

I created two storage classes using a command line in the first one and YAML file in the second one

==> The first one was created by this command line:

==> And the second one with an YAML file:

but I still have the same issue the PVC and pod are in pending status and no PV created

Any idea ?

[2020-01-16 15:21] hemantha-kumara opened #2858 "Is there any way we can specify on which namespace my pipeline can run ?"
**What happened:**
by default, we use kfp.client or dsl.compile, generated workflow yaml is without **metadata.namespace**. due to this pipeline always runs in default kubeflow namespace.

**What did you expect to happen:**
generated workflow yaml should contain namespace specified by user. compiler.compile can take new argument if required.

**What steps did you take:**
[code]

with above snippet

[2020-01-16 15:22] hemantha-kumara commented on #2235
closing this issue as this is invalid. problem is described in https://github.com/kubeflow/pipelines/issues/2858

[2020-01-16 15:22] #2235 closed

[2020-01-16 16:36] jadechip commented on #2847
Cool, let me know if I can be of any help from my end!

[2020-01-16 16:54] numerology commented on #2858
Basically, you pipeline is running under the namespace where KFP is deployed.

How to specify the namespace to which KFP is deployed depends on the deployment option you are using. Take standalone deployment as an example, you can refer to the guidelin in https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize#change-deploy-namespace

[2020-01-16 16:54] numerology commented on #2858
/assign @numerology

[2020-01-16 17:11] nrchakradhar commented on #2858
In a multi-user and multi-tenant cluster, for resource isolation, when there are multiple namespaces, can the pipeline be not run in different namespaces similar to what is supported by other kubeflow controllers like notebook, tfjob etc.

[2020-01-16 17:13] numerology commented on #2858
Just to confirm, does it mean install multiple KFP into the same namespace?

[2020-01-16 17:16] nrchakradhar commented on #2858
No. Kfp is installed in kubeflow namespace, then the workflow creation shoul happen in other namespaces as requested by users.
Notebook controller runs in kubeflow namespace, but the jupyter notebook is spawned in user name spaces.

[2020-01-16 17:25] numerology commented on #2858
I see. The most similar functionality we currently have is the multi-user support, where different users can submit workflows to different namespaces. One nit difference is that, namespaces are protected by authentication, so users cannot submit run to naked namespace without specifying credentials.

@Bobgy @IronPan can better comment on this.

[2020-01-16 17:25] numerology commented on #2858
/assign @Bobgy
/assign @IronPan

[2020-01-16 17:26] numerology commented on #2858
/cc @chensun

[2020-01-16 18:01] amygdala commented on #2841
Hmm, I can't repro it either on a new install, though unfortunately I've taken down the marketplace KFP install where I saw it.  Maybe it is some kind of transient issue.  Let's just keep an eye out for for its reoccurrence.

[2020-01-16 19:48] amygdala commented on #2825
Just to note that the workaround (dumps --> string) works fine.

[2020-01-16 21:21] descampsk commented on #2253
Raised the same issue here: https://github.com/kubeflow/pipelines/issues/2757

[2020-01-16 23:07] enriquedacostacambio commented on #2806
Sounds good. I created https://github.com/kubeflow/manifests/pull/709 targeting `v0.7-branch`
Thanks! Have a great semester!

[2020-01-16 23:41] mattnworb commented on #2253
I’ve submitted a fix in #2853

[2020-01-17 00:55] wzhou18 opened #2861 "Why KFP mark a step/op as success when an op receives an unexpected Sigterm?"
**What happened:**
we use kfp's wait_job function (https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/component_sdk/python/kfp_component/google/ml_engine/_wait_job.py) to wait for a MLEngine job to finish. But there was one execution where the application received an unexpected Sigterm, and KFP thought the MLEngine job should not be cancelled and marked that task/step as su

[2020-01-17 02:08] eterna2 commented on #2855
Just wondering if there is anywhere I can read up on future plans for reusable components?

Becuz this is one of the things our team are exploring to make things even easier for data scientists that are not that familiar with devops concepts.

We are also considering migrating from light-weight python components to reusable components concept.

[2020-01-17 02:10] eterna2 commented on #2855
Just another question, how is component spec better than just exporting my containerop as a python package?

As in other can reuse my op by importing it like regular py modules?

[2020-01-17 02:16] keeplearnin commented on #2806
@enriquedacostacambio Changing visualization-server version `0.1.31` works for me as well! Thanks a lot!

[2020-01-17 02:18] eterna2 commented on #2858
Did u try `kfp.Client(namespace=xyz)`? This allows u to connect to the specific kfp API server in the namespace u want. And the run will inherit from the API server.

Note that I am running multiple customized kubeflow on diff namespaces on my cluster.

And I am a few version behind. But I was able to run jobs in diff namespaces by pointing to the diff API server in corresponding namespace.

[2020-01-17 02:21] ajchili commented on #2806
@edacostacambioupgrade thanks! I LGTM'd it and assigned @IronPan who oversaw the project during development, he should be able to help get it approved and tested.

[2020-01-17 03:37] alimhanif opened #2862 "Error on import KFP at the first time [appengine]"
**What happened:**
This is maybe a little bug, but it's kinda freak me out.
So, when i tried to `import kfp` at the first time after install it with this command `!pip install kfp`. There was an error. But, when i tried to restart my notebook, then re-tried to import the kfp, it was successful

**What did you expect to happen:**
It should be no error on importing kfp after install this package at

[2020-01-17 07:42] nrchakradhar commented on #2858
I guess that would work if we have KFP installed in namespaces. As part of Kubeflow installation, KFP is installed in 'kubeflow' namespace. Currently the kubeflow installation is considered an "uber" installation (one kubeflow per one kubernetes cluster). Hence we have **not** installed multiple KFPs.
If we download the generated workflow and include "namespace" in the metadata, the KFP installed

[2020-01-17 07:44] nrchakradhar commented on #2858
Does this provide resource isolation? What I mean is that different teams have been allocated quotas in their namespaces and it should not happen that one valid user exhausts all resources.

[2020-01-17 08:46] Bobgy commented on #1223
@nrchakradhar kfam is a the api service for Kubeflow multi user support. KFP team's multi user design uses it as source of truth for user authorization rules.

However, we have two different designs now.
The arrikto reference is a different design of multi user support. Hopefully, we can merge both designs, but that hasn't happened.

[2020-01-17 08:51] Bobgy commented on #2858
That wasn't in the scope of this design. I'm not familiar with this, but I think kubernetes should be the system to handle resource.

[2020-01-17 09:11] descampsk opened #2863 "[FeatureRequest] Add nodeselector to pipelineconfig in kfp sdk"
Today the only way to use NodeSelector with the kfp sdk is to use the following function:

https://github.com/kubeflow/pipelines/blob/c0153a0b199eb4ec1323fc87d5cc31ca92be7dca/sdk/python/kfp/dsl/_container_op.py#L823

I think it will be a good idea to be able to use nodeSelector at the Worflow level:

https://github.com/argoproj/argo/blob/5868982bcddf3b9c9ddb98151bf458f6868dce81/pkg/apis/workflow/v

[2020-01-17 11:29] nrchakradhar commented on #2858
#2397 provides easier viewing in the GUI for users. Our concern is to trigger pipelines(workflow) in user namespaces. This I believe is not addressed by #2397.
Also, as part of Kubeflow installation, only one kfp is installed in kubeflow namespace. User namespaces do not have any kubeflow related controllers deployed.

[2020-01-17 11:33] hemantha-kumara commented on #2858
@eterna2 As we are running pipelines on kubeflow cluster where pipeline controller is running only in kubeflow namespace. as no svc & controller running on another namespaces, client is not getting created.

my initial query was, how to specify namespace if only one controller is running in cluster?

[2020-01-17 11:33] hemantha-kumara commented on #2858
@eterna2 As we are running pipelines on kubeflow cluster where pipeline controller is running only in kubeflow namespace. as no svc & controller running on another namespaces, client is not getting created.

my initial query was, how to specify namespace if only one controller is running in cluster?

[2020-01-17 13:18] VaibhavPage commented on #651
@jingzhang36  Is this feature being actively worked on?

[2020-01-17 17:43] rui5i opened #2864 "[Test] Add E2E test against MKP deployment"
- [x] Investigate which MKP image version should we use.
 - [ ] Configure cloud build trigger based on release, and base the MKP deployment in this script on that.
- [x] Add prow config.

[2020-01-17 17:43] rui5i commented on #2864
/assign @rui5i

[2020-01-17 18:09] haghabozorgi commented on #2379
are there any updates on this issue? We are still seeing this behavior

[2020-01-17 18:21] numerology commented on #2379
Hi, may I ask which version of KFP deployment and KFP SDK are you using? Thanks

[2020-01-17 18:31] haghabozorgi commented on #2379
pip3 freeze output shows
kfp==0.1.40
kfp-server-api==0.1.40

as far as deployment, we are using
https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_existing_arrikto.0.7.1.yaml

[2020-01-17 19:19] numerology commented on #2379
The fix in #2783 is not in Kubeflow 0.7 deployment yet. The fix is included in our latest standalone deployment, though. Please see [this guide](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/). You might need to use `export PIPELINE_VERSION=0.1.40`

[2020-01-17 19:36] MingzhouZhou commented on #678
For those who have the same issue, add or change ```containerRuntimeExecutor: k8sapi,```  to configmap `workflow-controller-configmap` and restart deployment `ml-pipeline` work for me, this has been fixed in argo: https://github.com/argoproj/argo/pull/1419

[2020-01-18 00:28] keeplearnin opened #2869 "Is there a way to perform post pipeline run operations"
Is there a way that I could perform post-pipeline operations so that I can do things like:
* retry when failing
* send notification when complete with the run result
* run another pipeline when the current one is finished

Thanks!

[2020-01-18 00:41] numerology commented on #2869
Currently, such functions are provided through [ExitHandler](https://github.com/kubeflow/pipelines/blob/master/samples/core/exit_handler/exit_handler.py). By using it you can:

- send notifaction
- garbage collection
- maybe run another pipeline, if you can somehow package another 'pipeline' as a single task

For the retry when failing we do not really have auto-retry yet, but there is a button in

[2020-01-18 00:57] keeplearnin commented on #2869
Let me have a try on the ExitHandler. For retry I guess I could probably just use the ExitHandler to call the pipeline API to run it again?

[2020-01-18 01:03] numerology commented on #2869
Good question. I think if you can find a way to put the workflow_id or run_id in the ExitHandler in principle you should be able to do that.

[2020-01-18 01:32] amygdala commented on #2841
fwiw, I have seen this error msg again.  (But I don't know how to particularly reproduce it :)

[2020-01-18 01:44] numerology commented on #2841
My theory would be that this is an error thrown by inverse proxy server.

It's trying to render a error 500 page like [this one](https://lh3.googleusercontent.com/-uiMXLTTuCfU/WaBo_jagppI/AAAAAAAAT5I/f07EEDOM23A_mi8kGYBVitk1ZBas7G5vACLcBGAs/s1600/google%2Berror%2B500.png) @amygdala do you know which region this cluster is and exactly when did you hit this error? Thanks

[2020-01-18 04:34] alimhanif commented on #2847
similar issue, but i tried to use this:
[code]
I don't no why, but it works.

i just change the `hard_constraint` value to be True

[2020-01-18 18:18] kierenj commented on #2829
@numerology @Ark-kun  I wonder, might there be some workaround I could use here? If I don't nest the loops, can I store a reference to the operations from one loop, and access them from within another, top-level loop?

[2020-01-19 05:30] rmgogogo commented on #2848
Mark as fixed, to use dev, we need to use latest corresponding image.
A new release on the flight will fix this.

[2020-01-19 05:31] #2848 closed

[2020-01-19 05:40] numerology commented on #2869
Another resort could probably be the set_retry function ([example](https://github.com/kubeflow/pipelines/blob/master/samples/core/retry/retry.py)). Though it works on a step instead of the whole pipeline.

[2020-01-20 04:16] Bobgy commented on #2773
As mentioned in the GCP issue, did you try the workarounds.
[code]

2) has been working well for me

[2020-01-20 06:43] Bobgy commented on #2215
All p0 issues resolved

[2020-01-21 00:57] Jeffwan commented on #596
S3 support was merged into Beam and it will be released in 2.19.0. Let's wait on the release and we can update all the examples.

[2020-01-21 01:36] pankajxyz commented on #1701
when can we expect ContanierBuilder class to have option of being completely independent of GCP and work on-prem without GCS staging or GCR?

[2020-01-21 02:05] Bobgy commented on #2514
/close
already resolved by https://github.com/kubeflow/pipelines/pull/2690

[2020-01-21 02:05] #2514 closed

[2020-01-21 02:06] Bobgy commented on #2185
/close
duplicate of https://github.com/kubeflow/pipelines/issues/2514
and already resolved in https://github.com/kubeflow/pipelines/pull/2690

[2020-01-21 02:07] #2185 closed

[2020-01-21 02:12] kim-sardine opened #2883 "PermissionDeniedError with Visualization Creator"
**What happened:**

When I tried to `Generate Visualization` with TFDV on running pipeline, I got static HTML with error as below.

I can run all pipeline just normally. I can get object in bucket on pipeline running time. but this visualization step only have a problem

[code]

It seems like I didn't set some permission to `identity-namespace`, but I don't know where I can set this.

**What steps

[2020-01-21 02:15] Bobgy commented on #2379
Part of this issue is resolved in https://github.com/kubeflow/pipelines/pull/2783, which allows passing description from UI (manually typed description at pipeline upload).

However, we should better also support description in dsl annotation, (automatically parsed by backend at pipeline upload).

[2020-01-21 02:37] Bobgy commented on #467
The support of pipeline versions was already added in
* https://github.com/kubeflow/pipelines/pull/1873
* https://github.com/kubeflow/pipelines/pull/2338
* https://github.com/kubeflow/pipelines/pull/2445
* https://github.com/kubeflow/pipelines/pull/2611
* https://github.com/kubeflow/pipelines/pull/2620
* https://github.com/kubeflow/pipelines/pull/2648
* https://github.com/kubeflow/pipelines/pull/2

[2020-01-21 02:38] #467 closed

[2020-01-21 02:42] Bobgy commented on #2858
@nrchakradhar Sorry, I wanted to paste a different link: https://github.com/kubeflow/pipelines/issues/1223.

This issue includes running pipelines in user namespaces.

[2020-01-21 03:04] nrchakradhar commented on #2858
@Bobgy That issue looks to address multi namespace scenario. The discussion seems to have digressed a little from the original description. If both multi user and multi namespace scenarios are addressed it would definitely be very useful for all enterprise users of kubeflow

[2020-01-21 03:18] Bobgy commented on #2858
Good to know. I will keep updating that issue for latest sharings.

Shall we close this issue then?

[2020-01-21 06:41] hemantha-kumara commented on #2858
@Bobgy Thanks for pointing out issue which addresses multi-user and multi-namespace scenarios.
Yes, we can close this issue.

[2020-01-21 06:41] #2858 closed

[2020-01-21 08:22] Bobgy opened #2884 "Compliance to Kubeflow 1.0 Guideline"
Reference: [Kubeflow 1.0 Guideline](https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md)

The following is the original doc and a column for Kubeflow Pipelines' status with each requirement.

[2020-01-21 08:41] Bobgy commented on #2884
* [ ] (p0, 0.2w) Liveness/Readiness signals for metadata grpc server to resolve issue https://github.com/kubeflow/metadata/issues/198
* [ ] (p1, 1w) Basic Liveness/Readiness signals for other servers

[2020-01-21 09:08] jingzhang36 opened #2885 "Add KFP backend presubmit test to prow config at prow/prowjobs/kubeflow/kubeflow-presubmits.yaml"

[2020-01-21 09:09] jingzhang36 commented on #2885
@jlewi do you know the ETA of these two PRs #93 and #177? If they are not planned to be merge soon, I'll probably still add Prow tests of KFP backend to the old place.

[2020-01-21 13:54] elikatsis commented on #2828
Ok, so you have set the NFS one as your default storage class.
Have you tried to manually create a PVC and see that it gets bound?

[2020-01-21 16:00] kelvins opened #2886 "Why Python SDK is within pipelines repository?"
Is there a reason for the Python SDK (`kfp`) be in the `pipelines` repository?
Wouldn't it be better to have it's own repository?

[2020-01-21 16:10] ConnorBarnhill opened #2887 "Kubeflow pipelines in other languages?"
Is there a way to define kubeflow pipelines for training models in other languages (not python)?

[2020-01-21 16:16] kelvins opened #2888 "Using custom DNS with Python SDK (kfp)"
The `_is_iap_host` method is being called in the `Client` initialization, but it is using a `regex` based on the default DNS (e.g. `kubeflow.endpoints.my-project.cloud.goog/pipeline`):

https://github.com/kubeflow/pipelines/blob/0577fe10fdc3c57cd56ca3b65198c03636ae4520/sdk/python/kfp/_client.py#L156-L161

In this case, how can we use a custom DNS?

[2020-01-21 16:29] numerology commented on #2887
/assign @numerology

@ConnorBarnhill  Can you clarify whether you want to **write a pipeline in other language** or **write the training code in other language** and then use it in a pipeline (written in Python)? Thanks

[2020-01-21 16:33] numerology commented on #2886
I think the reason is that, KFP SDK is coupled together with KFP deployment. KFP SDK is responsible to interpret the pipeline DSL into a pipeline spec that is understandable by the KFP deployment. That's why we bundle the release of SDK and pipeline system together. Typically, if the versions of KFP system and SDK mismatch with each other, it is very likely to hit some issues.

[2020-01-21 16:50] kelvins commented on #2886
Thanks for the answer @numerology, it makes sense.
I was just wondering if they could be splitted into two repositories and evolve independently (maybe it would be easier to contribute to the project), but I understand that changes in one "project" must be reflected in the other.

[2020-01-21 16:56] numerology commented on #2886
Technically this is definitely feasible. However it requires a non-trivial addition to our current test-infra to make sure that the heads of two repos do not break each other. Meanwhile we'll need to update our releasing procedure to reflect the dependency b/w these two repos correctly.

I think putting them in one place makes things more manageable on our end during such fast iterations. Probably

[2020-01-21 17:00] elikatsis opened #2889 "[Bug] Deploying 'metadata' from KFP manifests breaks KF Metadata"
I'm testing the `metadata-writer` component locally, on an existing KF v0.7 (MiniKF on GCP).
First of all, it is a great service and looks pretty useful.

So, I deployed it using the manifests in this repo ([manifests/kustomize](https://github.com/kubeflow/pipelines/tree/0.1.40/manifests/kustomize)).

I found out that this installation _breaks_ the global `metadata` component.
The manifests modify

[2020-01-21 17:14] SinaChavoshi commented on #1619
fixed by #2843

[2020-01-21 20:56] ConnorBarnhill commented on #2887
I guess both. Presumably it's possible to write the training code in another language and specify the pipeline in python referencing the image. Is it possible to specify the pipeline in another language?

[2020-01-21 21:00] numerology commented on #2887
At least for now the pipeline SDK is only in Python. Another option is perhaps directly working with yaml format.

[2020-01-21 22:08] #2887 closed

[2020-01-22 01:33] rmgogogo commented on #2886
question answered, here close

[2020-01-22 01:33] #2886 closed

[2020-01-22 01:34] dushyanthsc commented on #2889
/cc: @Ark-kun

[2020-01-22 01:44] Ark-kun commented on #2889
@elikatsis I only wrote the Metadata-Writer (and the Deployment, Role, RoleBinding and ServiceAccount manifests for it), so I'm not sure about the compatibility issues of the rest of the `makifests/kustomize/metadata` files. (Maybe I should have put the MW to the `pipelines` folder instead).

As far as I understand the problem, the issues is that the manifests in `kubeflow/manifests` and `kubeflow

[2020-01-22 01:54] dushyanthsc commented on #2889
@Ark-kun as discussed, if we plan to support metadata-write in Kubeflow, we should have the manifest in Kubeflow/manifest with the right service and configurations.

cc: @rmgogogo

[2020-01-22 02:01] Ark-kun commented on #2889
I've talked with @dushyanthsc. There are indeed two different manifest repos. There might be different versions of services between those. The Pipelines part of the kubeflow manifest repo is updated at some point between releases. The Metadata Writer manifests have not been ported to Kubeflow yet. We'll do that at some point before the next Kubeflow release.

The reason given by @dushyanthsc is th

[2020-01-22 02:03] Ark-kun commented on #2888
Maybe we should add the optional `use_iap` parameter, so that the user can specify this explicitly.

[2020-01-22 02:07] Ark-kun commented on #2862
Can you try `import requests_toolbelt.adapters.appengine` instead of `import kfp`? If that fails too, then this issue is probably related to that project.

P.S. You should normally use `python3 -m pip install kfp` to make sure you install into correct environment.

[2020-01-22 02:18] rmgogogo commented on #2869
I think if step failed and retried, not necessary to retry whole pipeline.

Here mark as closed.

[2020-01-22 02:18] #2869 closed

[2020-01-22 02:23] Ark-kun commented on #2855
Reusable components are very important for our future. We want to build more functionality around them. (Some functionality is already checked in, but not fully documented.)

Lightweight components feature is built on top of the reusable components / `ComponentSpec`. It just auto-generates the ComponentSpec from python function. You can export the component file nby adding `func_to_container_op(..

[2020-01-22 02:30] rmgogogo commented on #2847
it works, here close

[2020-01-22 02:33] rmgogogo commented on #2861
Hi Alexy/Jessie, not sure who handles these part (CMLE component)

[2020-01-22 05:28] jingzhang36 opened #2892 "KFP Deployment upgrade is broken due to immutable field"
How to reproduce?

1. Create a cluster
2. Deploy standalone KFP with release 0.1.40
kubectl apply -k github.com/kubeflow/pipelines//manifests/kustomize/env/dev?ref=0.1.40
3. The above deployment is good
4. Upgrade to KFP release 0.2.0
kubectl apply -k github.com/kubeflow/pipelines//manifests/kustomize/env/dev?ref=0.2.0
5. Got error on immutable field "LabelSelectorRequirement", due to trying to ad

[2020-01-22 06:11] numerology commented on #2861
/asssign @numerology
/assign @Ark-kun

[2020-01-22 11:41] kelvins commented on #2888
Sounds good, but as far as I know `client_id` is only used for IAP, so passing `client_id` and `use_iap` seems to be a little redundant.

Another option would be to change the regular expression to not be so restricted, for example:

[code]

[2020-01-22 12:30] Bobgy commented on #2884
* [ ] (p0, 0.2w) app.kubernetes.io labels on every resource
* [ ] (p0, 0.2w) Separate cluster scoped and namespace scoped resources

[2020-01-22 12:33] Bobgy commented on #2884
## Logging and monitoring
* [ ] (p1, 1w) Prometheus metrics
* [ ] (p2, 2w) Json logging

[2020-01-22 12:36] Bobgy commented on #2884
## Docker Images
* (p1, 2w) Vulnerability Scanning
* (p2, 1w) Licensing, add license presubmit tests as documented [here](https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go-license-tools#add-ci-tests-for-license-information)

[2020-01-22 13:14] Bobgy opened #2897 "[UI] Check all UI elements that could be hidden due to long content"
This is a long standing general issue.

Many UI elements may be partially hidden due to long content. Let's examine our UI and give a workaround for all cases that really needs a way to read full content.

Usually, we should just add a tooltip on hover for full text. e.g. like https://github.com/kubeflow/pipelines/pull/2894

[2020-01-22 13:31] Bobgy commented on #2627
it seems the questions are already answered
/close

[2020-01-22 13:31] #2627 closed

[2020-01-22 13:40] Bobgy commented on #2564
This sounds reasonable. Is data already available in MLMD?

[2020-01-22 13:42] Bobgy commented on #2564
actually, this seems superceded by https://github.com/kubeflow/pipelines/issues/2562
/close

[2020-01-22 13:42] #2564 closed

[2020-01-22 13:43] Felihong commented on #1223
Hey @yanniszark , thanks for your efforts, I'm very looking forward to this feature.

Currently we are using `Kale` to deploy pipelines, where attached `workspace pv` is being used for data passing between components. However we failed to mount the data using existing volumes with a message of
[code]
I assume this is because the pipeline runs in `Kubeflow` namespace while my pv `workspace-notebook

[2020-01-22 13:43] Bobgy commented on #2505
superceded by https://github.com/kubeflow/pipelines/issues/2897
/close

[2020-01-22 13:43] #2505 closed

[2020-01-22 13:54] Bobgy commented on #2283
/assign @jingzhang36
Is this something you already tried or fixed?

[2020-01-22 13:56] Bobgy commented on #2253
It seems this is already fixed in https://github.com/kubeflow/pipelines/pull/2853
/close

Please reopen if it's not the case

[2020-01-22 13:56] #2253 closed

[2020-01-22 13:58] Bobgy commented on #2757
It seems this is already fixed in #2853
/close

Please reopen if it's not the case

[2020-01-22 13:58] #2757 closed

[2020-01-22 13:59] Bobgy commented on #2215
/priority p1

[2020-01-22 14:02] Bobgy commented on #2172
It seems there's no longer a clear need in this.
/close
If someone feels this is useful, please reopen

[2020-01-22 14:03] Bobgy commented on #2159
I think this looks like a small change, and it is useful in many cases (understanding pipeline performance e.t.c).

[2020-01-22 14:05] Bobgy commented on #2094
I also think this would be very useful for debugging. Bumping priority

[2020-01-22 14:10] Bobgy commented on #2054
I think current pipeline markdown visualization with links to created resources is a good way to do that in each component's implementation already. WDYT?

I like the idea.