[2020-03-17 00:36] IronPan opened #3290 "Skip specify namespace for CreateRun APIs"
In previous release, when creating runs in multi-user mode, user need to specify a namespace.
This is no longer needed in the future, since the user will always specify an experiment, and an experiment always belongs to a single namespace.

This issue tracks the work to revert the change done previously.

[2020-03-17 00:43] IronPan opened #3291 "[Frontend] Pass namespace as a parameter for experiment API in multi-user mode"

[2020-03-17 00:46] IronPan opened #3292 "Enable MLMD functionality in multi-user mode"

[2020-03-17 00:47] IronPan opened #3293 "[Frontend] Block non public api from frontend (e.g. report api) in multi-user mode"

[2020-03-17 00:49] IronPan opened #3294 "Launch Tensorboard in user's namespace in multi-user mode"
Part of #1223

[2020-03-17 05:45] numerology commented on #3256
So I think the first part can be done in following PRs

- [ ] Prepare a separate entrypoint/script for the bespoken integration test
- [ ] Add that to prow config
- [ ] Remove corresponding cases in sample test
- [ ] Introduce retry to reduce flakiness.

[2020-03-17 07:18] #3291 closed

[2020-03-17 07:51] rmgogogo commented on #3279
Document from Jing on how to call API to update versions
https://github.com/kubeflow/website/pull/1776

[2020-03-17 08:06] Bobgy commented on #3256
Because we have many tests/entry points, I feel like it will be helpful if we maintain a reused presubmit test entry point and postsubmit test entry point, and allow each test to be easily ported between presubmit/postsubmit.

What do you think?

[2020-03-17 10:20] Bobgy opened #3296 "[Multi User] UI should react when user changes namespace"
/cc @chensun
/area frontend
Pointed out by https://github.com/kubeflow/pipelines/pull/3252#issuecomment-598351676

A few changes we need when user changes namespace:
* experiment list page -> needs auto refresh
* experiment detail page -> needs auto redirect to experiment list page

I think these two changes are enough right now, will adjust based on user feedback later.

[2020-03-17 14:34] numerology commented on #3256
Agree. I think we can use a flag to control which set of cases will be executed.

[2020-03-17 14:49] Bobgy commented on #3069
/close

[2020-03-17 14:49] #3069 closed

[2020-03-17 17:17] jbottum opened #3300 "Define Kubeflow Pipelines' Stable Requirements using Kubeflow Community's Process (as defined in Application Requirements Template)"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2020-03-17 17:19] jbottum commented on #3300
@jessiezcc Kubeflow Pipelines should define its requirements for a Stable version using the process defined by the Kubeflow Community.   This includes creating Applications Requirements, please see this doc as an example.  https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md

[2020-03-17 23:24] numerology commented on #3280
Fixed by #3287
Close for now

[2020-03-17 23:24] numerology commented on #3280
/close

[2020-03-17 23:24] #3280 closed

[2020-03-18 01:06] Bobgy commented on #3300
Hi @jbottum, sounds like already tracked in https://github.com/kubeflow/pipelines/issues/2884

[2020-03-18 01:36] Bobgy commented on #3286
/assign @Ark-kun @numerology

[2020-03-18 01:37] Bobgy commented on #3283
FYI, there's no archive experiment feature yet, we need to build it from e2e

[2020-03-18 01:43] Bobgy commented on #3277
/assign @Ark-kun @numerology

[2020-03-18 01:57] Bobgy commented on #3253
We don't have plan of replacing argo now, but ML related usages have always been the only focus for Kubeflow Pipelines.

We may also target general data processing tasks in the future, but that could be a long time later.

[2020-03-18 02:58] jlewi commented on #1223
The changes to support multi-user are pretty substantial (e.g. turning on ISTIO) in the kubeflow namespace. So these should probably be targeted to a minor release (e.g. 1.1) and not be slated for a patch release.

I think we are targeting 1.1 for Q2 so June.

[2020-03-18 04:23] Ark-kun commented on #3286
It's a bit non-trivial to detect broken Kubernetes structures since Kubernetes' python client does not have this capability.

Would you like us to fix the env case or the general case?

As a workaround, to enable detection at the compilation time, please have `argo` executable available in `$PATH`. Then all compiled pipelines will be linted at compilation time.

[2020-03-18 05:29] numerology commented on #3277
I think it's been fixed previously. It works on my end.

@hlu09 do you mind updating to the latest SDK version and try again? Thanks

[2020-03-18 05:38] #3247 closed

[2020-03-18 05:43] rmgogogo commented on #3230
https://github.com/kubeflow/pipelines/pull/3231/files is merged.
Here close. Feel free to reopen if think it still has issues in your side.

[2020-03-18 05:43] #3230 closed

[2020-03-18 05:44] rmgogogo commented on #3222
Seems duplicated issue. answered in #3069. Here close but feel free to reopen.

[2020-03-18 05:45] #3222 closed

[2020-03-18 05:47] rmgogogo commented on #3216
Joe, is https://kubeflow-pipelines.readthedocs.io/en/latest/index.html owned by us?
We had another thread on it, but no one replied it.

[2020-03-18 05:53] rmgogogo commented on #3214
Would you help detail which mode the cluster is on? is it workload_identity enabled or created with "--scopes cloud_platform"?
More info: https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#set-up-your-cluster

If it's workload identity, please make sure you did the Google Service Account binding with K8s Service Account.

From the error log, it said no permission to access

[2020-03-18 06:03] rmgogogo opened #3302 "minimist security alert after Github integrated with NPM"
### What steps did you take:
Security alert after Github integrated with NPM.
https://github.com/kubeflow/pipelines/network/alert/frontend/package-lock.json/minimist/open

### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that wil

[2020-03-18 06:30] Ark-kun commented on #3078
- [ ] SDK

[2020-03-18 07:00] Bobgy commented on #3216
@rmgogogo I think it is generated from here https://github.com/kubeflow/pipelines/tree/master/docs.

@Ark-kun should know more about it.

[2020-03-18 07:20] Bobgy commented on #3302
This is not fixable for now, we need to wait for jest pick up new minimist as dependency.

[2020-03-18 10:04] jonasboecquaert commented on #3214
unfortunately I can't provide that information anymore, as I removed the cluster in favor of using the managed AI platform pipelines.

I don't think I have set those scopes or enabled workload_identity, so this could very well have been the problem.

[2020-03-18 15:10] pselden commented on #2977
Just checking -- this is NOT available in any officially published version of the KFP client sdk right?

[2020-03-18 16:23] hlu09 commented on #3277
Right. I tried 0.2.5 client. It works. Thanks!

[2020-03-18 16:23] #3277 closed

[2020-03-18 16:36] hemantha-kumara commented on #3253
@Ark-kun will the above code snippet work? I am seeing `workflow_dict `is 'None'

here is my pipeline code
[code]

[2020-03-18 19:53] numerology commented on #3278
Fixed at head.

[2020-03-18 21:10] Ark-kun opened #3308 "MKP: Bucket and project placeholders are not replaced in preloaded samples."
When I submit the preloaded XGBoost sample in KFP v0.2.5 I get the following errorr:
[code]

[2020-03-18 21:12] numerology commented on #3308
@Ark-kun Are you using a MKP deployment or standalone deployment?

[2020-03-18 22:02] amygdala opened #3309 "regression with metrics viz?"
This is with whatever version is used by the Hosted KFP installation.
It seems that metrics rendering as described here: https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/#export-the-metrics-file
no longer works.
Nor does writing to an OutputPath appear to work.
Interestingly, metadata rendering does still work okay.

my test code here:
https://github.com/amygdala/code-snippets/blob/ta

[2020-03-18 23:22] Ark-kun commented on #3308
It's marketplace deployment.
/cc @rui5i has deployed it just couple of days ago.

[2020-03-18 23:28] Ark-kun opened #3310 "kfp.Client cannot access Marketplace-deployed KFP cluster when URI has training slash"
`kfp.Client(host='https://XXXXXXXXXXXXXX-dot-us-central2.pipelines.googleusercontent.com/')` does not work
`kfp.Client(host='https://XXXXXXXXXXXXXX-dot-us-central2.pipelines.googleusercontent.com')` works

[2020-03-18 23:29] numerology commented on #3310
This was fixed in #3287

[2020-03-18 23:30] numerology commented on #3310
Hold on. @Ark-kun which version of the SDK are you using? I'm curious why the second case works (with the prefix https://)

[2020-03-18 23:36] Ark-kun commented on #3310
It works for me in 0.1.40 and 0.2.5

[2020-03-18 23:38] numerology commented on #3310
Interesting...Anyway I think #3287 should fix the slash problem.

[2020-03-18 23:41] Ark-kun commented on #3310
Sounds good.

[2020-03-18 23:41] #3310 closed

[2020-03-18 23:45] Ark-kun commented on #3253
It should. Your code is slightly different.

You can also just use
[code]

[2020-03-19 00:32] Bobgy commented on #265
/close

This has been fixed by https://github.com/kubeflow/pipelines/pull/2622

[2020-03-19 00:32] #265 closed

[2020-03-19 00:33] Bobgy opened #3311 "[Discussion] Backward compatibility promise?"
In which areas should KFP officially promise backward compatibility since 1.0?

Listing a few areas we need to consider:
* KFP API spec: https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/
* SDK client (helper methods)
* DSL
* Component spec

[2020-03-19 01:26] Padarn commented on #1648
Is there any documentation on this feature @neuromage?

[2020-03-19 05:03] numerology commented on #3308
@rui5i do you mind sharing the project name and cluster so that I can take a look? Thanks

[2020-03-19 06:11] Ark-kun commented on #3308
Shared in chat.

[2020-03-19 06:23] Ark-kun commented on #3311
**ComponentSpec**
We definitely want to promise backwards compatibility for `ComponentSpec`.  https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/structures/components.json_schema.json

**DSL**
DSL has some long-deprecated, but not yet removed parts. Nevertheless since the G.A. release in the fall of 2018 we did not have significant breaks, so the SDK API is pretty stable (

[2020-03-19 06:24] rui5i commented on #3308
I am using the standalone deployment. Project name: rui-helloworld-264417, cluster: demo-cluster.

[2020-03-19 08:12] rmgogogo opened #3313 "Support advanced PV like NFS via VolumeOp"
### What happened:
VolumeOp only support default PV. If user creates other PV, e.x. based on NFC, it can't be used by KFP via PVC in VolumeOp.

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind bug

[2020-03-19 11:47] Bobgy commented on #2215
The last p2 item of Unit tests for low coverage files according to coverage report can be improved in a separate issue. This one can be considered done.

/close

[2020-03-19 11:47] #2215 closed

[2020-03-19 13:47] elikatsis commented on #3313
My 5 cents:

It's not dynamic if you specify a PV name. The pipeline won't be able to even run twice (if the user doesn't use a parameter for it).
When speaking of storage on kubernetes, the word dynamic most probably refers to dynamic provisioning. That is, cutting a PV based on PVC requests when the PVC gets created.

NFS provisioning enables exactly this **dynamic** behavior, and that's what `V

[2020-03-19 15:35] numerology commented on #3308
@Ark-kun
@rui5i
Umm... Standalone deployment does not support such placeholder, yet, but I agree that we shall either 1) make the error msg more informative, or 2) come up with an approach to override the placeholders in the prebuilt example for standalone deployment.

1) can be done in the frontend to warn the user when placeholders are detected but cannot be replaced by the default bucket;
2) ca

[2020-03-19 17:27] ClaudioDavi opened #3315 "Kubeflow trigger to dataflow throws UnicodeDecode error"
### What steps did you take:
After building a pipeline using python dataflow and running fine with DirectRunner and DataflowRunner from my local machine, I built a docker container to use as a component into a kubeflow pipeline.
When I run the pipeline from kubeflow I get an unexpected error building the dataflow module [see logs]

### What happened:
When using Kubeflow Pipelines to trigger a Data

[2020-03-19 19:13] sadeel commented on #1648
+1 on documentation request.

[2020-03-19 19:16] animeshsingh commented on #1223
@jlewi while I understand the formal release can be part of 1.1 rollout, based on discussion with @gaoning777 it looked like we will have an early version of the code soon is master, which was project to be March.

@gaoning777 are we still on track vis a vis that?

[2020-03-19 20:31] numerology commented on #3278
Pipeline link also added at head.

[2020-03-19 20:31] numerology commented on #3278
/close

[2020-03-19 20:31] #3278 closed

[2020-03-20 03:23] rmgogogo opened #3317 "FE is requesting manifest.json which is in public/index.html (it always fails)"
### What steps did you take:
FE is requesting manifest.json which is in public/index.html. It always fails in my side (guess no or not generated ).

Per https://stackoverflow.com/questions/45186993/what-is-public-manifest-json-file-in-create-react-app, it is for mobile homescreen shortcut. So we may either create it or delete the line in index.html ?

### What happened:

### What did you expect to

[2020-03-20 03:55] Ark-kun commented on #3313
BTW, Do you know that KFP supports mounting any Kubernetes' volumes (including NFS) using `container_op.add_volume` and `container_op.add_volume_mount`?

[2020-03-20 03:57] Ark-kun commented on #3308
I thought that an entry in Google Cloud/AI Platform/Pipelines means that the pipeline was deployed through the marketplace.
@numerology Do standalone deployments show there?

[2020-03-20 04:17] numerology commented on #3308
Yes they do now. After we adding the proper app CRD.

[2020-03-20 04:36] Ark-kun commented on #3275
This also restores compatibility with tfx==0.21.2 which started requiring pyYaml version which is higher than what kubernetes v10 supports.

[2020-03-20 05:26] Bobgy commented on #3317
Thanks @rmgogogo for pointing out the issue!
We can safely remove it.

[2020-03-20 05:32] Bobgy commented on #1223
Hi @animeshsingh, @gaoning777 has decided to take a new adventure, @chensun and I are actively working on multi user support now.

We are mostly on track, main functionality for backend and UI will likely on target for end of March, but tensorboard, visualization... might take longer.

[2020-03-20 06:08] Tutj commented on #1654
@saschagrunert : Are you able to visualize the result on Pipeline UI as reference here: https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#tensorboard

I use CRIO with k8sapi executor, also add emptyDir (/output) as a volume and write the result to /output/mlpipeline-ui-metadata.json, but it does not display on Pipeline Artifact.

[2020-03-20 06:30] #3317 closed

[2020-03-20 08:41] Bobgy commented on #3309
@amygdala I'm not 100% sure, is this realted to https://github.com/kubeflow/pipelines/pull/2964?

To confirm, can you try viewing metrics column from experiment page? `All runs` tab will no longer show metric column.

[2020-03-20 09:42] #1711 closed

[2020-03-20 09:42] #2094 closed

[2020-03-20 09:42] #3112 closed

[2020-03-20 10:14] chauvenne opened #3321 "Metrics containing special characters in their name are not collected"
### What steps did you take:
[A clear and concise description of what the bug is.]
Issues related to https://github.com/kubeflow/katib/issues/1051 .
I am experimenting with storing a metric using the _mlpipeline_metrics_ ouput inside a func_to_container_op:

### What happened:
This metric is not detected by the system even if the artifact is correctly created and stored in minio.
However I can mak

[2020-03-20 11:25] Bobgy commented on #3216
@neuromage @Ark-kun I feel like this is a must have for KFP 1.0, also it would be the best if we can automate api spec doc generation and release regularly (in addition to some manually maintained examples).

What do you think? Can we add this into sdk/dsl group planning for Q2?

[2020-03-20 14:05] nakfour opened #3322 "Update Argo to v2.6"
### What steps did you take:
We are trying to run KF pipelines on Openshift, this is not a bug but an enhancement. We are asking for an Argo version upgrade mainly for three reasons:
1. We ran into this issue that was fixed in Argo 2.4 https://github.com/argoproj/argo/issues/1445
2. Argo 2.5 introduced "workflow.failures" that is used to track workflow failures properly: https://github.com/argopro

[2020-03-20 16:03] ultrons commented on #2920
@rmgogogo , I tried it from my local machine, It works but I get the following warning:
/opt/miniconda3/envs/py36/lib/python3.6/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials f

[2020-03-20 16:23] amygdala commented on #3309
I'm not seeing anything listed in the 'experiments' listing either.  (I don't see a 'metrics' col either, though maybe it doesn't show up unless things are working properly).

[2020-03-20 16:33] ultrons commented on #2920
Also, I just made a minor edit to your snippet. I set the scope argument for auth.default() to ['googleapis.com/auth/cloud-platform']  ref: https://stackoverflow.com/questions/53472429/how-to-get-a-gcp-bearer-token-programmatically-with-python.

[2020-03-20 23:46] Ark-kun commented on #1654
Did you upgrade Argo to make it work?

P.S. It would be great if everyone switched from creating instances of `ContainerOp` directly to using components. See the [tutorial for general command-line programs](https://github.com/Ark-kun/kfp_samples/blob/master/2019-10%20Kubeflow%20summit/106%20-%20Creating%20components%20from%20command-line%20programs/106%20-%20Creating%20components%20from%20command-

[2020-03-20 23:46] Ark-kun commented on #1654
Do you see the artifact in Inputs/Outputs tab?

[2020-03-21 00:52] Tutj commented on #1654
@Ark-kun : The below screenshot is my Artifacts. In the Input/Output tab, it is empty
![Uploading Screenshot 2020-03-21 at 8.50.10 AM.png…]()

[2020-03-22 05:06] Bobgy commented on #3322
/assign @Ark-kun
/cc @IronPan @chensun @jingzhang36 @rmgogogo
@Ark-kun I remember you had a PR trying to upgrade argo, where was it blocked?

For me, the fix for https://github.com/argoproj/argo/issues/1422 introduced in argo 2.4.x was a step forward for enabling istio sidecar in workflows.

[2020-03-22 05:08] Bobgy commented on #3322
Also
/cc @neuromage if you have any concerns for dsl related issues

[2020-03-22 05:17] Bobgy commented on #3302
Depends on https://github.com/facebook/create-react-app/issues/8672

[2020-03-22 05:26] Bobgy commented on #2933
I feel like this is the real problem we need to solve. Defaulting to a different tab just hides the problem shortly.

After rethinking about implementation, I don't think this is doable, we cannot know if there are any visualizations before fetching the data, but we fetch data when in the tab. It would be confusing to show a tab and it loads for a while and (because it's empty), it auto redirects

[2020-03-22 05:26] Bobgy opened #3328 "[UX] Visualization tab in run details page is confusing"
Continuing the discussion on https://github.com/kubeflow/pipelines/issues/2933#issuecomment-602150326

I think there are a few problems:
* The tab has no explanation at all.
* The tab shows visualization creator when there are no visualizations, but the creator is a fairly advanced feature that users wouldn't usually need it anyway (and they cannot figure out how to use it without documentation).

[2020-03-22 05:33] Bobgy commented on #3328
Another proposed solution is to merge visualization tab with input/outputs tab, also sounds like a good idea to me: https://github.com/kubeflow/pipelines/issues/2933#issue-557213389.

[2020-03-22 05:35] Bobgy commented on #2933
/close
@Ark-kun I'm moving the discussion to https://github.com/kubeflow/pipelines/issues/3328

[2020-03-22 05:35] #2933 closed

[2020-03-22 05:42] Bobgy commented on #3328
Welcome community feedback on what was confusing (was it) and if you have any suggestions.

[2020-03-22 09:03] Bobgy commented on #3165
/close
Because this is no longer a problem with KFP, will track in https://github.com/kubeflow/manifests/issues/984

[2020-03-22 09:03] #3165 closed

[2020-03-22 09:54] #3275 closed

[2020-03-22 15:25] RunOrVeith commented on #3286
Well, ideally of course the general case would be fixed, but I understand that that is probably not quite in-scope for now.
I think having a more descriptive error would help most for now, it was not that simply to figure out what caused the error (my actual use case is much larger than the example above).
If you only know that something is not a string that should be a string, it takes some guess

[2020-03-22 17:45] Mddct commented on #2416
any update on prem k8s ?

[2020-03-23 00:49] Bobgy commented on #3315
/assign @Ark-kun

[2020-03-23 00:52] Bobgy commented on #3309
Yes, the column doesn't show up unless there are metrics.

[2020-03-23 02:22] rmgogogo commented on #3313
I'm not sure whether we are on same page. Here list more background.
1. Goal is to support NFS
2. Per GCP guide, NFS can be consumed via PV. (I don't see storage class description, let me know if you find some doc on it).
3. So then it becomes how to create PVC based on the PV backed with NFS.
4. We have two options.
4.1. Use PipelineVolume. It works via using existing PVC (prebuilt manually). It'

[2020-03-23 02:39] rmgogogo commented on #3313
4.3. Another options is to use container_op.add_volume and container_op.add_volume_mount. It can mount existing PV. A sample is in samples/contrib/nvidia-resnet/pipeline/src/pipeline.py

[2020-03-23 03:17] rmgogogo commented on #3313
@elikatsis  I removed the term "dynamic". This issue is not for dynamic provision NFS.

To dynamic provision NFS, it requires install a provisioner (https://cloud.google.com/community/tutorials/gke-filestore-dynamic-provisioning). This issue is not for dynamically provision PV.

[2020-03-23 03:54] Bobgy commented on #1691
Work Items for GCP hosted deployment:
* Documentation of how to set up Workload Identity: https://github.com/kubeflow/website/pull/1832

[2020-03-23 05:44] rmgogogo commented on #2920
Thanks, let me put it to a GCP-adoption related queue for well track.
Feel free to ping me. I do want to allocate some time slot to move this forward.

[2020-03-23 05:46] rmgogogo commented on #2920
TODO: check if we don't specify the credential, whether Cloud Function can use the Service Account automatically (in GCE/GKE, it will, but I'm not sure whether CF also will).

If it won't, then check with CF team to see if we have other options.

[2020-03-23 05:53] rmgogogo opened #3332 "GPU with Kubeflow Pipeline"
### What steps did you take:
Our default manifest and GCP Hosted Pipeline didn't install GPU related stuff. We can either wrap GPU stuff into KFP installation or provide post-installation manual for GPU.

Since GPU env in different cloud and even same cloud but different region is different (e.x. some region doesn't have K80), this issue is more to track the task to provide post-installation manua

[2020-03-23 05:55] rmgogogo commented on #3332
@amygdala FYI. Plan to provide post-installation GPU guide first.

[2020-03-23 08:26] JohanWork commented on #2764
Is any one working on this, I have done some digging and it seams the one timestamp is unix code but the the type is dateime. See dict below, my knowledge here is however limited when digging in the go code.

[code]

[2020-03-23 08:33] jiyongjung0 commented on #2764
I think that this issue is resolved in the latest version of KFP. 😄  Please report again if the error still exists.

[2020-03-23 08:44] JohanWork commented on #2764
@jiyongjung0, I am running kfp==0.2.5 and kfp-server-api==0.2.5 but the kubeflow deployment was setup before this release if that would matter.

[2020-03-23 10:23] jiyongjung0 commented on #2764
I think that the version of kubeflow deployment matters in this case because the server emits ill-formed response in this case.

[2020-03-23 10:31] JohanWork commented on #2764
Can you specify what I need to upgrade, I am running 1.0 and can't see any more recent release ?

[2020-03-23 10:40] jiyongjung0 commented on #2764
Sorry, I meant kubeflow **pipeline** installation specifically. You can get a hint from [the KFP installation guide](https://www.kubeflow.org/docs/pipelines/installation/overview/) or [here](https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/). The most recent release looks like 0.3.0.

[2020-03-23 14:47] pselden opened #3335 "[SDK] Unable to choose pipeline version in run_pipeline"
Currently it does not look like there is a way to choose a pipeline version when running in the kfp SDK.

https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L304

The UI allows you to do with a request like:

[code]

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
One click installer

KFP version: 0.2.5

KFP SDK version: 0.2.5

### Anything else you would li

[2020-03-23 15:14] numerology commented on #2764
+1 to @jiyongjung0 's reply. Kubeflow full-fledge deployment is not picking the latest version of KFP.

[2020-03-23 15:27] numerology commented on #1691
@jlewi
Sounds good. However it depends on the ability of specifying the KSA in use through KFP SDK, which is currently missing. @Bobgy can correct me if I'm wrong, I think it's the planned as a "phase 3" work.

[2020-03-23 16:14] numerology commented on #3335
/assign @jingzhang36
Hi @jingzhang36 I believe that it's in our plan, right?

[2020-03-23 17:25] chensun opened #3336 "[Multi user] Adjust backend changes for run"
/priority p0
/assign @chensun
/kind feature

[2020-03-23 19:34] apryiomka opened #3342 "(405) Reason: Method Not Allowed invoking client.pipeline_uploads.upload_pipeline_version"
### What steps did you take:
I am trying to upload a version of the exiting pipeline using kfp SDK upload_pipeline_version method.

### What happened:
Running this python:
[code]
Causes the error:

### What did you expect to happen:
The version of the pipeline to be created
### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version: gcr.io/ml-pipeline/api-server:0.2.0
KFP SDK vers

[2020-03-23 19:43] numerology commented on #3342
Hi @apryiomka I think you might need to re-deploy your KFP instance because this requires a newer version of backend API.

[2020-03-23 20:06] Ark-kun commented on #3322
The upgrade worked, but there wasn't enough consensus that there is a need to upgrade https://github.com/kubeflow/pipelines/pull/2419 .

I think it might be good to upgrade. There are several important fixes in later versions.

[2020-03-23 20:09] Ark-kun commented on #3309
There are several components that produce metrics (e.g. RoC or ConfusionMatrix). Do those metrics show up in the UX?

[2020-03-23 20:46] apryiomka commented on #3342
@numerology what is the compatible version of the KFP?

[2020-03-23 20:48] numerology commented on #3342
I believe 0.2.5 should be good.

[2020-03-23 20:56] apryiomka commented on #3342
@numerology , how do you change the version of KFP that is being installed? We currently use this manifest: https://github.com/kubeflow/manifests/archive/v1.0.1.tar.gz and we install whatever comes with it.

[2020-03-23 21:02] numerology commented on #3342
Oh I see. So you're actually using Kubeflow full-fledged deployment which comes with KFP 0.2.0

One option you have is to follow [this guide](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/) to deploy a KFP standalone and to see if that solves the problem.

[2020-03-23 21:08] apryiomka commented on #3342
I am a bit reluctant to go that route since we want KFPs to play well with the rest of the components. We don't anticipate KFP standalone without the rest of Kubeflow. I ideally I am looking for a solution to the existing Kubeflow version / installation. it does seem like an SDK / API bug at this point as we user the SDK sand don't call the API directly.

[2020-03-23 21:13] numerology commented on #3342
The reason why it happens is that there is a breaking change making 0.2.5 SDK incompatible with 0.2.0 deployment.

@Bobgy Is there an easy way to upgrade KFP as part of the full-fledged KF deployment without breaking other components?

[2020-03-23 22:29] chensun opened #3344 "[Multi user] backend support for job"
/priority p0
/assign @chensun
/kind feature

[2020-03-23 23:05] #3248 closed

[2020-03-23 23:35] IronPan opened #3345 "Support subdags for reusing pipelines"
This will allow reusing a subset of the pipeline in other pipelines, similar to the function
https://airflow.apache.org/docs/stable/concepts.html?highlight=subdag#subdags

[2020-03-23 23:39] numerology commented on #3345
This is very useful.

Also shall we consider how to make it sharable? For example we have component yaml spec today, should we have subdag yaml spec as well? @Ark-kun

[2020-03-23 23:50] IronPan opened #3346 "Support execution throttling for executing the pipelines"
Users shows interests for pipeline level and step level throttling.
This is supported by Argo
https://github.com/argoproj/argo/blob/master/examples/parallelism-limit.yaml

[2020-03-24 00:07] Ark-kun commented on #2905
The private components can just be loaded from URIs.
Also the kfp.components.ComponentStore class allows to add a URI search prefixes and then load components just by name. This should make it easier for private repos.
The ComponentStore class does not have any listing or search capabilities yet.

[2020-03-24 02:42] rmgogogo opened #3347 "GCP VPC-SC with Kubeflow Pipelines"
We need a detailed doc for community on how to configure GCP VPC-SC with Kubeflow Pipelines.

Phase-1: we use GCP Notebook API as VPC-SC control panel to protect both Notebook and Pipeline endpoints (xx.notebook/pipeline.googleusercontent.com).

Phase-2: later we may introduce dedicated GCP Pipeline API to just protect pipeline.googleusercontent.com. This part still is TBD.

This issue is to track

[2020-03-24 03:50] Bobgy commented on #3293
My change always block these apis, they are not meant for usage even not in multi user mode.

[2020-03-24 05:06] Ark-kun commented on #3345
If I understood you correctly, the feature you ask for is already supported.
The feature is called "graph components".

Reuse has two aspects - creating and using.

The users can create a graph component from a [pipeline-like function](https://github.com/Ark-kun/pipelines/blob/master/sdk/python/tests/components/test_data/retail_product_stockout_prediction_pipeline.py) using [create_graph_component

[2020-03-24 06:31] animeshsingh commented on #951
@Ark-kun coming back to it. Would be great to syncup on the above cc @jessiezcc

[2020-03-24 06:34] #3293 closed

[2020-03-24 06:49] Bobgy commented on #3273
@chensun Shall we close this then? Looks like we are done

[2020-03-24 06:49] Bobgy commented on #3273
/close
Please reopen if there's more to add

[2020-03-24 06:49] #3273 closed

[2020-03-24 07:10] Bobgy commented on #3296
/reopen
There's a minor bug with this implementation.

Steps:
* Refresh the page on experiment list
* Sometimes, the page shows an error message of
[code]
but experiment list is correct
* That's because namespace hasn't been selected when the page loads, so it shows the error message
* Then namespace is synced from kubeflow central dashboard, so it refetches automatically, but that doesn't clear t

[2020-03-24 12:18] Bobgy commented on #3294
I quickly verified if this works e2e and found something broken in viewer controller when a viewer CR is created in user namespace.
Not finding much error message in viewer controller, so I need some extra for figuring out what went wrong.

[2020-03-24 12:19] Bobgy commented on #3294
@jingzhang36 @neuromage Does current viewer controller support viewer CRs in multiple namespaces?

[2020-03-24 13:52] ultrons commented on #2920
@rmgogogo I will check this and update here shortly.

[2020-03-25 00:28] Bobgy commented on #1691
@numerology Yes, that's right.
But in phase 2, we'd support choosing KSA in KFP API at pipeline level. @jlewi will that be enough for your use case?

[2020-03-25 01:31] rmgogogo opened #3353 "Creating Pipeline with duplicate name fails in UI with 500"
### What steps did you take:
Creating Pipeline with duplicate name fails in UI with 500

### What did you expect to happen:
Either allow create pipeline with same name or provide better msg.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/ki

[2020-03-25 01:45] #3296 closed

[2020-03-25 01:52] Bobgy commented on #3353
This is expected behavior, but we can improve on error message I think. (in fact every api call needs some improvement on error message)

[2020-03-25 02:38] Bobgy commented on #3294
Nevermind, I figured out viewer controller has a namespace env which controls which namespace it works on, if the env is empty string, then it watches for all namespaces.

[2020-03-25 02:41] Bobgy commented on #3294
Changes to support this:
* [x] Manifest change to let viewer controller watch all namespaces: https://github.com/Bobgy/manifests/commit/de52914d89b1f3a16b4842d0fd99ab7dd2fafd44
* [ ] UI changes to specify namespace in viewer CR

[2020-03-25 02:42] neuromage commented on #3216
@Bobgy Yes, this makes sense for Q2. Would you mind creating an issue and adding it to the KFP 1.0 planning Kanban? I'll sync up with @jessiezcc on resourcing this.
/cc @Ark-kun who may already know how to do this with existing tools.

[2020-03-25 02:45] Bobgy opened #3354 "[Doc] Autogenerate kfp-api-server python package doc"
/assign @Ark-kun
/cc @neuromage

Part of https://github.com/kubeflow/pipelines/issues/3216

Auto-generated documentation should look like https://kubeflow-pipelines.readthedocs.io/en/latest/index.html.

[2020-03-25 02:46] Bobgy commented on #3216
Thanks @neuromage! I created https://github.com/kubeflow/pipelines/issues/3354 to track this.

[2020-03-25 03:11] rmgogogo commented on #3207
0.3.0 is out.

[2020-03-25 03:11] #3207 closed

[2020-03-25 03:16] #3022 closed

[2020-03-25 03:18] #3024 closed

[2020-03-25 03:22] rmgogogo commented on #3011
I'm wondering whether it can be reproduced. We may improve error msg for it.

[2020-03-25 03:27] rmgogogo commented on #2750
it's done

[2020-03-25 03:27] #2750 closed

[2020-03-25 03:28] #2751 closed

[2020-03-25 03:32] rmgogogo commented on #2571
Move to Jing's queue and put to KFP 1.0.

Jing, feel free to mark as duplicated as you may also created one.

[2020-03-25 03:36] jingzhang36 commented on #3259
Additional request from https://github.com/kubeflow/pipelines/issues/2571 as
"
Since this is mostly cared in production scenarios, we should prioritize CloudSQL/GCS test over in-cluster storage.

Related issues
#2071
"

[2020-03-25 03:36] jingzhang36 commented on #2571
Merge this to https://github.com/kubeflow/pipelines/issues/3259. Close this one as duplicate.

[2020-03-25 03:36] #2571 closed

[2020-03-25 07:03] IronPan commented on #1223
The instruction for Phase 1 of the multi-user work can be found in
 https://drive.google.com/file/d/1aqiBrYzTJQ9dUrjOjB2OWfTBD6MKrbt6/view

[2020-03-25 07:15] rmgogogo opened #3358 "FUSE + GCS as K8s Volume to be used by KFP tasks"
### What did you expect to happen:
FUSE + GCS as K8s Volume to be used by KFP tasks.

Whether FUSE + GCS is suitable for production usage is to be investigated. Log a ticket as memo.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

### Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

/kind bug

[2020-03-25 10:15] omarzouk opened #3360 "Use names as primary reference to pipelines in API"
Pipeline names are unique per KFP cluster. Moreover, they are not editable. Which means names and uuids have a 1-to-1 relationship.

Using names as the primary identifier in the API would have a few benefits:

- CI/CD deployment usecase: for continuous deployment, it is an anti-pattern to have to store a uuid reference to a deployment in order to update it in consecutive runs. Today one can get ar

[2020-03-25 10:44] Bobgy opened #3362 "[UI server] proper query param decoding"
### Problem
As described in https://github.com/kubeflow/pipelines/pull/3355#discussion_r397751919

### Solution
We should let node server not call decodeURIComponent manually and let UI only encode for once.

/cc @eterna2

[2020-03-25 15:44] yantriks-edi-bice commented on #3315
I was getting a similar unicode decoding error and it turned out to be TFX CSVExampleGen not handling compressed CSV. So I thought I'd look at your error log which I did and I don't see any unicode issues - maybe I'm missing something. Instead I see a missing file exception FileNotFoundError: [Errno 2] No such file or directory: \'cc\': \'cc\'

[2020-03-25 15:51] yantriks-edi-bice opened #3364 "Stop/kill queued Dataflow job upon pipeline termination"
### What steps did you take:

Launched a TFX pipeline using the KubeflowDagRunner with one component using Dataflow to transform the data. Component was configured to optimize cost using --flexrs_goal=COST_OPTIMIZED which apparently queues the job for up to 6 hours.

### What happened:

Terminating the Kubeflow pipeline left the Dataflow job active.

### What did you expect to happen:

Stop the la

[2020-03-25 17:59] Shasvat0601 opened #3366 "Pipeline UI unable to access artifacts stored in S3"
I am trying to visualize confusion matrix in my kubeflow pipeline.
`source` of confusion matrix is s3 storage.

I have mounted AWS secret as a volume to the ui-pod
But the UI-Pod is getting 500:access denied error when trying to fetch data from aws s3 bucket to visualize the confusion matrix.

this is my UI-pod: It has secret mounted as a volume
**UI-Pod**
[code]

Below is the secret volume detail

[2020-03-25 18:53] alan-krumholz opened #3367 "pipeline python functions don't work with functools.wraps"
### What steps did you take:
I'm authoring my pipelines using the kfp python SDK.
I wanted to create a function wrapper (using functools.wraps) so that I don't have to add the exit_handler logic to all of my pipelines.
I can build my pipeline fine using such wrapper, but then KFP thinks my pipeline doesn't have any arguments when I  load it (which isn't true)
I think the  wrapper is messing up the

[2020-03-25 21:06] numerology commented on #3364
/assign @numerology

[2020-03-25 21:17] numerology commented on #3364
Hi @yantriks-edi-bice thanks for reporting!

Yes the invocation for other remote services won't be automatically canceled if the pipeline is terminated. However in KFP SDK we have [exit handler](https://github.com/kubeflow/pipelines/blob/master/samples/core/exit_handler/exit_handler.py) designed for this, which will be invoked if the pipeline succeeds/fails/terminates. So it's very suitable for su

[2020-03-25 21:19] numerology commented on #3364
Sorry for the back-n-forth. Manual termination does not invoke exit handler either. It seems like we'll need to investigate if there's a better way to do GC for manual termination.

[2020-03-26 01:09] Ark-kun commented on #3364
Kubernetes has sends a signal to the containers in a pod and waits for several seconds before actually terminating them.

KFP's GCP components already support graceful termination and cancel the job they wait for.

[2020-03-26 01:19] Ark-kun commented on #3358
This has been one of my KFP dreams and a target of research.
There are multiple strategies:
* Storage service pod exposing mounted GCS volume as NFS
* Mounting GCS bucket to all Kubernetes nodes using DaemonSet
* Mounting GCS bucket in an InitContainer and then sharing the mount point using the "Process Namespace Sharing" feature of Kubernetes (and Argo's pns executor).

Note that for this feature

[2020-03-26 01:20] neuromage commented on #3364
I think this is a nice idea. It sounds like a good issue to file and track in the tensorflow/tfx repository as well, since most likely, this will need to be implemented there as well.

[2020-03-26 01:22] Ark-kun commented on #3367
The root issue is that `inspect.getfullargspec` does not support `@wraps`.
I'll try to switch the compiler to use something else.

[2020-03-26 01:27] Ark-kun commented on #2649
Is this feature already implemented in MKP?

[2020-03-26 02:52] numerology commented on #3364
That's great. I think it'll be nice if we have something similar in TFX pipeline.

[2020-03-26 03:46] alan-krumholz commented on #3367
@Ark-kun
Seems like `inspect.signature` should do the trick:
[code]

[code]

[2020-03-26 03:52] lzuwei opened #3372 "[UI] Artifacts and Executions Page Loading forever"
### What steps did you take:
Create many runs and artifacts (> 10k)

### What happened:
When the number of executions and artifacts are large (> 10k), the pages takes increasing long to load. From the inspection of network logs, I see over 5k (sometimes 10k) concurrent requests made to GetEventsByArtifactID which can potentially return a large amount of data.

### What did you expect to happen:
Ar

[2020-03-26 09:18] rmgogogo opened #3373 "gcsfs Python GCS file system with Kubeflow Pipelines"
### What did you expect to happen:
GCS is great. However many libraries doesn't support GCS interface.
Option-0: GCE disk (GKE default PV)
Option-1: use NFS
Option-2: FUSE + GCS
Option-3: if it's just Python app, gcsfs can be an option.

This ticket is for option-3. We may provide some sample for it.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

KFP SDK version:

#

[2020-03-26 14:58] HassanOuda commented on #1700
Any updates on this? What are the implications for container builder not supporting non-GCR registries? We cannot push our images to our own registries?

[2020-03-27 00:53] Bobgy commented on #1648
FYI, latest issue for caching service is in https://github.com/kubeflow/pipelines/issues/2904.
I'm not actually sure what this issue refers to

[2020-03-27 01:51] Bobgy commented on #2669
@Ark-kun thanks! Added to the plan
a sample pipeline will be welcomed

[2020-03-27 01:52] Bobgy commented on #2977
@pselden it's available in 0.2.5 and 0.3.0.
Refer to https://github.com/kubeflow/pipelines/issues/2977#issuecomment-595011702

but you need to make sure your kfp server is the same version.

[2020-03-27 01:57] Bobgy commented on #3322
Thanks for sharing the context! Looking at the PR I assume there won't be a lot of changes needed.
Currently put this in post 1.0 plan, but will relook at it if we have extra bandwidth.

[2020-03-27 02:01] Bobgy commented on #3309
I tried xgboost sample and metrics show up in experiment page.
We'd need to run @amygdala's sample and see if we can reproduce.

[2020-03-27 02:04] Padarn commented on #2904
Also interested in any docs on this, or updates on the release. I saw some meeting notes here: https://docs.google.com/document/d/1KB5KD8TvcrnxQX0xluHRnUdRYkM2-5-vB2V1wlxS4GY/edit#heading=h.gt0qfhljl8xo but its not clear to me if a decision has been made

[2020-03-27 02:31] rmgogogo opened #3375 "Permission control for UploadPipeline/RunPipeline/Viewer"
Permission control for UploadPipeline/RunPipeline/Viewer.

UploadPipeline: more used by CI/CD
RunPipeline: used by other system/trigger/admin
ViewPipeline: used by users

It's better we can handle it without depends on Multi-user features.
Option-1. One quick options is just depends on Workload Identity.
Option-2. Gateway outside of KFP to control it.

/kind feature
/area backend
/priority P1

[2020-03-27 02:41] rui5i commented on #2904
Hi, thanks for asking! The link you provided is our caching design doc. We are trying to make it available on 0.3.1. I'll let you know after it's release.

[2020-03-27 02:43] Bobgy commented on #3375
@rmgogogo Thanks for the idea!
A quick feedback is, the template is specific for bugs, recommend not using it for feature requests.

[2020-03-27 02:46] Padarn commented on #2904
Awesome. Feel free to ask if there is anything can help from community.

[2020-03-27 02:48] Bobgy commented on #3375
I don't understand, workload identity is used to control IAM for GCP resources. How can we add these to it?

I think I need more explanation about the context. What's typical scenario for such a need, is it for separating pipeline UI view/run/upload permissions?

I think the prerequisite for any authorization policy is to be able to verify who the user is. So we need an authentication step first.

[2020-03-27 03:35] Ark-kun commented on #3364
Here is the code, BTW: https://github.com/kubeflow/pipelines/blob/0e0f84c6970bff89c57516678f2bc839e03f1800/components/gcp/container/component_sdk/python/kfp_component/core/_kfp_execution_context.py#L52

It's more complicated than it could be because it tries to distinguish user termination from system termination (for example when the pod is preempted). The code only cancels the job if the user te

[2020-03-27 03:47] rmgogogo commented on #3375
Please ignore option-1. Yuan is right, WI is not related with it as the permission check happens before user workload. It should be tested before author works.

Option-1 can be changed to "not depends on whole multi-user ready" but pass in user email to KFP world and then ACL it. I didn't deeply think on it yet. Let's discuss in next meeting and dump notes here and feel free to leave comments anyt

[2020-03-27 03:50] Bobgy commented on #3375
Sounds good, let's follow up later

[2020-03-27 04:59] Bobgy opened #3377 "[Standalone] env/gcp manifest should support workload identity"
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/gcp

part of https://github.com/kubeflow/pipelines/issues/1691#issuecomment-568991297

[2020-03-27 05:22] #2889 closed

[2020-03-27 06:19] Bobgy commented on #3342
There's no easy way to upgrade any component in Kubeflow, this is a common complaint with Kubeflow I believe.

There's an open issue tracking upgrading KFP to 0.2.5 in Kubeflow: https://github.com/kubeflow/manifests/issues/984
(I plan to provide a PR shortly.)

And another long term issue that may drastically reduce cost of syncing KFP upgrades with Kubeflow: https://github.com/kubeflow/manifests/

[2020-03-27 17:04] daikeshi opened #3380 "Tensorboard is very slow when running a PCA visualization"
### What steps did you take:
[A clear and concise description of what the bug is.]
Train a ML model and launch the tensorboard viewer from KFP UI

### What happened:
PCA visualization on tensorboard viewer takes forever, but when I run the same tensorbaord on my laptop it takes only a few seconds.

### What did you expect to happen:
PCA visualization should run

### Environment:

How did you deplo

[2020-03-27 17:53] markmirch opened #3381 "GCP Pipeline Authentication Issue"
### What steps did you take:
Using a sample notebook: https://github.com/kubeflow/pipelines/tree/master/components/gcp/bigquery/query

Set up Kubeflow 1.0.0 installation using the UI deployer (https://deploy.kubeflow.cloud/)
Created a new notebook with the image: gcr.io/kubeflow-images-public/tensorflow-1.15.2-notebook-cpu:1.0.0
-- including the "add gcp credential" configuration option

Cloned th

[2020-03-27 19:07] amygdala opened #3382 "show '--scopes cloud-platform' cluster creation option for CLI install of hosted kfp?"
With these instructions for command-line installation of hosted kfp:
https://github.com/kubeflow/pipelines/blob/master/manifests/gcp_marketplace/cli.md
we should probably include the option of adding something like `--scopes cloud-platform` to the cluster creation command.  Otherwise, the story gets inconsistent and confusing.  WDYT?

[2020-03-27 21:03] pselden opened #3383 "--scope cloud-platform at nodepool level and not cluster level?"
### What steps did you take:
1. Created a private GKE cluster with default oauth scopes, and then created a nodepool on it and granted that nodepool the cloud-platform oauth scope.
2. Attempted to use the GKE marketplace to deploy Kubeflow Pipelines to that cluster

### What happened:
1. Got a message "Insufficient oauth scopes" and it would not allow me to select that cluster to install Kubeflow

[2020-03-27 21:47] #3336 closed

[2020-03-29 00:23] ethanyanjiali opened #3385 "Does it make sense to add volumeMounts and volumes to component specification?"
It seems like the only way to add persistent volume to a container is through the pipeline python sdk. I'll need to either declare pvolumes when create a ContainerOp, or use `add_pvolumes` method on an existing ContainerOp. Since  I created most of my pipeline components through the yaml specification approach, I'm wondering if it makes sense to add volume there.

My first impression is that yaml

[2020-03-29 12:39] msalvaris opened #3386 "[Question] Open port in Kubeflow pipeline op"
This is more of a question than anything else. I am using Dask within a Kubeflow pipeline and would like to sometimes open a port to the scheduler so that I can view the Dask dasboard. Is there a way to forward ports from a container running in the pipeline?

[2020-03-29 15:22] ultrons commented on #2920
@rmgogogo ,  I saw that you have already verified it. Please let me know if I can help with anything.

[2020-03-29 21:07] derekhh commented on #3385
I was under the impression you can use [volumeClaimTemplates](https://github.com/argoproj/argo/blob/f33624d67d0cf348dcdece46832081346c26bf80/examples/volumes-pvc.yaml#L11) in KFP YAML too.

[2020-03-29 22:38] Jeffwan opened #3387 "loadNodeOutputPaths can not infer the right object storage"
### What steps did you take:
I configure KFP API server to talk to S3 and notice there's one problem.
https://github.com/kubeflow/pipelines/blob/3d8077cc37779efc42aa09439f7ac74e12cb5b4b/frontend/src/lib/WorkflowParser.ts#L292-L296

It always return `minio` as StorageService source which make KFP failed to fetch artifacts.

### What happened:
[code]

### What did you expect to happen:

https://gith

[2020-03-29 22:50] Jeffwan opened #3388 "Could not parse metadata file from S3"
### What steps did you take:
I configure argo, KFP UI and KFP APIServer to use S3 as artifact store.

### What happened:

[code]

It's a little bit weird this is working fine if artifact is stored in Minio but not in S3. As you see in the screenshot, it has some unreadable chars and I verify that bucket and key path are correct and I can fetch file using command.

![Screen Shot 2020-03-29 at 3 06

[2020-03-29 22:51] Jeffwan commented on #3366
Seems the error is access denied. @Shasvat0601 Can you verify you have S3 permission in UI? Could you show the config?

[2020-03-29 22:55] Jeffwan commented on #3366
confusion metrics works fine on my side.

Can you try to create an `aws-secret` and then update your UI container env to use it?

[code]

[code]

[2020-03-29 22:57] Jeffwan commented on #3332
What `GPU related stuff.` you plan to bring into KFP? like GPU device plugin?

[2020-03-29 22:59] Jeffwan commented on #3241
@Bobgy Do we have a timeline or milestone when multi-user in pipeline will be available?

[2020-03-30 00:26] Jeffwan commented on #3387
@eterna2 points me to this PR. #3379 . Let's review the changes there

[2020-03-30 00:26] Jeffwan commented on #3388
#2992 Fix this issue and I think I will go try the latest version.

[2020-03-30 01:14] Jeffwan opened #3389 "pipeline-runner lack of permission to create virtual services"
### What steps did you take:
Create a virtual service to expose public endpoint for service in pipeline run.

### What happened:

[code]

### What did you expect to happen:
I think creating virtual service is pretty reasonable use case from pipeline. we need to add this to role for pipeline-runner.

### Environment:
standalone

KFP version: 0.2.0 and 0.2.5

[2020-03-30 01:25] Bobgy commented on #3241
Hi @Jeffwan! Please see the main issue tracker for progress: https://github.com/kubeflow/pipelines/issues/1223.
And you may try phase 1 multi user support in https://github.com/kubeflow/pipelines/issues/1223#issuecomment-603675906
(We are working on phase 2)

[2020-03-30 04:27] Shasvat0601 commented on #3366
Have already mounted secret as a volume  to the UI pod

is that not sufficient?
Secret Volume mounted by UI pod
[code]

[2020-03-30 04:35] eterna2 commented on #3366
@Shasvat0601
U need to reference the secret to environment variables (not volume) because we are using minio under the hood.

And currently there is no support for volume based credentials for node and python minio clients.

[2020-03-30 04:49] Jeffwan commented on #3241
Cool. I will have a check on phase I first and leave some feedbacks

[2020-03-30 07:58] rmgogogo opened #3391 "Managed Storage (CloudSQL/GCS-Minio) - let standalone installation support Workload Identity"
Current GCP standalone manifest still is using ADC for CloudSQL and GCS-minio. To fully support workload identity, we need to change the manifest. Otherwise, user has to configure both App Default Credential and Workload Identity.

MKP part of work is tracked in another ticket. Here this is for standalone.

[2020-03-30 08:02] Bobgy commented on #3391
Hi @rmgogogo,
this is dup of https://github.com/kubeflow/pipelines/issues/3377
/close

[2020-03-30 08:02] #3391 closed

[2020-03-30 08:10] rmgogogo opened #3392 "CloudSQL/Minio works with Workload Identity & Full-Scope without App Default Credential in MKP"
CloudSQL/Minio works with Workload Identity & Full-Scope without App Default Credential in MKP.

Standalone manifest changes is tracked in this ticket and in KFP 1.0.

https://github.com/kubeflow/pipelines/issues/3377

[2020-03-30 08:12] rmgogogo commented on #3377
MKP side here:
https://github.com/kubeflow/pipelines/issues/3392

[2020-03-30 09:00] rmgogogo opened #3393 "Using gcr.io for better experiences with Private Cluster"
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/_python_op.py#L101

Here log a ticket in case community has concerns. For prebuilt samples, even it doesn't use TensorFlow, we still specify the default image to be "tensorflow/tensorflow:1.13.2-py3" which is on docker.io.

Since "private cluster" is mostly used, to run the prebuild sample as a quick smoking test, addition

[2020-03-30 09:08] rmgogogo commented on #3332
step-1: provide manual/doc on how to configure GPU node pool etc. so that KFP workload can use GPU.
step-2: if stable enough, bring it to UI so it can be supported durning installation phase. (e.x. a zero-sided GPU node pool so that users won't be over billed but still can get GPU provisioned when run the workload).

I didn't start work on it yet, feel free to contribute.

[2020-03-30 09:10] rmgogogo commented on #2920
It should can work after #3363 got released. Feel free to ping if find any issue.

[2020-03-30 12:24] elikatsis commented on #2904
Hi again,
nice job with the implementation so far! Keep it up!

I wanted to ask, are there any plans on what will you be showing as step's logs in KFP UI? Or the cached steps will appear with empty logs?
I haven't spotted any change related to that, so I assume, correct me if I'm wrong, that if we were to deploy the feature and cache a step at this very moment, logs would be empty.

[2020-03-30 20:58] #322 closed

[2020-03-30 23:12] Ark-kun commented on #3385
This is correct. The component specification is designed to be portable and environment-independent. This is why cluster-specific options like volumes or secrets are not supported.

BTW, I have a PR pending that enables using volumes for all artifact passing: https://github.com/kubeflow/pipelines/pull/3371 This will allows you to store all intermediate data in a shared voume.

[2020-03-30 23:39] markmirch commented on #3381
In case anyone else runs into this, explicitly specifying the auth on the op fixes this:

job_config=job_config)

becomes

job_config=job_config).apply(gcp.use_gcp_secret('user-gcp-sa'))

[2020-03-31 00:13] jlewi commented on #1691
@Bobgy I think setting a per pipeline KSA is fine.

[2020-03-31 00:37] Jeffwan opened #3398 "Bump minio client version to support `assume-web-identity-role` for AWS"
### What steps did you take:

aws add [IAM For Service Account](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) feature and aws user doesn't have to inject AWS credentials as env variables.

This requires us to use high AWS SDK version which supports `assume-web-identity-role`.
In this case, we need to add new resolver for minio client.

Here's the minio js an

[2020-03-31 03:41] rmgogogo opened #3399 "Support CloudSQL/GCS-Minio in Standalone CLI & MKP/Hosted"
Current codebase is on an interim state. We need additional changes to unlock it.
(1) MLMD manifest requires changes to connect with CloudSQL.
(2) Minio requires changes together with Workload Identity.
(3) CloudSQL requires light changes to work together with Workload Identity.

Same changes need to be applied to both Standalone manifest and MKP/Hosted manifest.

[2020-03-31 05:32] rmgogogo commented on #3399
/cc bobgy

[2020-03-31 08:16] rmgogogo opened #3401 "Adding Hosted/MKP "mpdev verify" test to presubmit"
Adding Hosted/MKP "mpdev verify" test to presubmit. To save resource, mark the "alwaysRun" as false but can be manually triggered when review a PR.

[2020-03-31 09:05] nihil0 opened #3402 "GCS is not accessible from pipeline components"
### What steps did you take:

On executing the sample, the `gcs-download` step of the pipeline fails. A screenshot of the error message is attached. The input to this pipeline is a bucket which I have full control over, with the `shakespeare1.txt` file uploaded.

![Screenshot 2020-03-31 at 14 30 12](https://user-images.githubusercontent.com/2157667/78007762-59437500-735c-11ea-86f0-936eaa83b16e.png

[2020-03-31 09:51] nihil0 commented on #3402
This might have something to do with Workload identity not being available in Kubeflow Pipelines when installed as bart of Kubeflow. I don't know any workarounds for this. This issue might be related: #2773

[2020-03-31 13:46] Trezorro commented on #1700
I'm trying to evaluate the proposition of using KubeFlow for my company's future ML training workflows. We want to use our local kubernetes cluster, to maintain data security, but this issue has me puzzled on whether we will be forced to set up our experiments via GCP instead.

Can anyone shed a light on this for a novice user?

[2020-03-31 20:06] Jeffwan commented on #3398
We also need to bump argo workflow version to make sure Argo sidecar use right SDK to persist artifacts to S3.

[2020-03-31 20:22] rui5i commented on #2904
Hi,

Thanks for checking in! Currently, if a step's result is taken from cache, then the step log will show "This step output is taken from cache." https://github.com/kubeflow/pipelines/blob/master/backend/src/cache/server/mutation.go#L119. In the future we may explore if it's possible to show the link of previous run/step.

[2020-03-31 20:38] Jeffwan opened #3405 "S3 support in Kubeflow Pipelines"
Create this parent issue to includes all known S3 problems in KFP and I also like to talk about more feature requests in this ticket.

### Use cases

#### Replace Minio with S3 for Argo artifact store and KFP Pipeline store.
[] Manifest changes in Kubeflow/manifest and standalone kubeflow/pipeline/manifest to easily change from minio to S3
[] IRSA - bump minio-sdk-go version to support IRSA
[] IRS

[2020-04-01 01:17] Bobgy commented on #2814
I'm starting to work on this. Here are my initial thoughts:

Full Kubeflow will be different from Standalone:
* for Full Kubeflow, we should use `default-editor` service account in user namespaces
* for Standalone, we should have a dedicated service account, probably named `kubeflow-pipelines-container-builder-sa`
* If we take anthos into consideration, the old `user-gcp-sa` secret should also be

[2020-04-01 01:23] Bobgy commented on #2814
When I read ContainerBuilder code, one thing was especially confusing to me.

We only export https://github.com/kubeflow/pipelines/blob/52b56e9fddc726d14a5f13f31b90d009a1f6120d/sdk/python/kfp/containers/_build_image_api.py#L66 methods in _build_image_api.py, but that method can take a ContainerBuilder as an argument, so I expected ContainerBuilder should be a public interface too.

While Container

[2020-04-01 01:23] Bobgy commented on #2814
@Ark-kun @numerology Do you have any insights on this?

[2020-04-01 01:29] Ark-kun commented on #2814
You're correct. There is a contradiction.
When I've designed the interface I've envisioned a need to customize the `ContainerBuilder` objects. However I was explicitly asked not to expose the class publicly. So the class is not imported into the public namespace.

[2020-04-01 01:31] Ark-kun commented on #2814
BTW, the default `ContainerBuilder` object is exposed as `kfp.containers.default_image_builder`.

[2020-04-01 01:32] Ark-kun commented on #2814
@Bobgy Is there any way we can exclude the service account name from the spec and still have it working?

[2020-04-01 01:35] Bobgy commented on #2814
Thanks for the context! What was the reason then? It seems to solve this issue, we must allow users to control ContainerBuilder arguments.

[2020-04-01 01:45] Bobgy commented on #2814
Do you mean adding some runtime resolution logic? I think we need a way to figure out how KFP was deployed, is it Kubeflow/AI platform or standalone?

It might be good if e.g. we have a configmap in the cluster with related information on how to launch kaniko builders. Will sdk have enough permissions to query that configmap? Also, which namespace should that configmap live? I think for Kubeflow m

[2020-04-01 03:17] Bobgy commented on #3256
visualization server image building seems really flaky recently, e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3403/kubeflow-pipeline-sample-test/1245123715558019072#1:build-log.txt%3A6224

because it downloads a lot of licenses from Github.

I think we should download and concatenate the licenses beforehand like other images.

[2020-04-01 10:00] sachua opened #3407 "Pipelines pods FailedMount"
I tried the example from https://github.com/kubeflow/examples/tree/master/pipelines/simple-notebook-pipeline to test the functionality of my Kubeflow Pipelines.

I was unable to create the pods for the pipelines.
Below are the event logs from the pods:
[code]
Could it be due to the PVC requiring ReadWriteMany access?
I am using VMWare PKS to deploy my Kubernetes cluster.

If my cluster does not su

[2020-04-01 10:02] discordianfish commented on #3398
To be clear, this is different from assuming instance profiles via kube2iam / kiam

[2020-04-01 17:53] #2864 closed

[2020-04-01 21:11] Ark-kun commented on #3407
This is likely caused by a non-Docker Kubernetes cluster.
There is a way to change Argo executor from docker to something else to fix the issue (but there might be additional issues).

[2020-04-01 21:18] Ark-kun commented on #3405
This is deprecated. The supported method is to configure the artifact location in the `workflow-configmap`

There is also an option to use Minio gateway to proxy requests to the actual storage system (Google Cloud Storage or Amazon S3). WDYT?

[2020-04-02 02:00] reem opened #3412 "Very difficult to collect results of a ParallelFor over a dynamic number of items"
### What steps did you take:

Attempting to implement a basic map/reduce type job where you have a ContainerOp producing a list of items to process, followed by a `ParallelFor` over those items, and then a final operation which can access the results of all of the work tasks on the items.

e.g.

[code]

### What happened:

Attempting to compile this pipeline, or any similar one actually trying to

[2020-04-02 03:03] Bobgy opened #3415 "[SDK/Backend/UI] Configurable service account"
This is a frequently asked feature, and was previously planned in https://github.com/kubeflow/pipelines/issues/1691#issuecomment-569025651.

Creating a separate issue for tracking, because work here will be non trivial.

/cc @eterna2 @Ark-kun @apryiomka

Plan for allow choosing service account
Phase 1 (already supported)

Api server configmap can choose a different default service account (rather

[2020-04-02 05:13] Bobgy commented on #2469
/close
This is already done

[2020-04-02 05:13] #2469 closed

[2020-04-02 08:11] sachua commented on #3407
@Ark-kun I checked that my Kubernetes cluster uses Docker as its container-runtime.
Nevertheless, I tried changing the Argo executor to k8sapi and kubelet, and ended up with this
error:
invalid spec: templates.add-op.outputs.artifacts.add-op-output: k8sapi executor does not support outputs from base image layer. must use emptyDir

I also tried running https://github.com/argoproj/argo/blob/master/e

[2020-04-02 08:14] discordianfish commented on #3078
Metadata writer image: https://github.com/kubeflow/pipelines/pull/3408

[2020-04-02 08:16] jiyongjung0 opened #3418 "Create a run of the newest pipeline version by default using Python SDK"
### What steps did you take:
All actions were done using Python SDK (with TFX cli).
1. Created a pipeline 'A' with version name 'A' using `client.upload_pipeline()` API.
1. Created a pipeline version 'B' of pipeline 'A' using `client.pipeline_uploads.upload_pipeline_version()` API.
1. Created a run with `client.run_pipeline()` API. I used pipeline_id which was returned from 1 because pipeline_id i

[2020-04-02 09:40] Bobgy opened #3420 "[Controller] Profile controller for multi user namespace initialization"
/cc @chensun @IronPan
Part of https://github.com/kubeflow/pipelines/issues/3241

Per discussion with Kubeflow team, each application should have its own controller for configuring user namespaces with required resources.

Therefore, we should write KFP's profile controller that configures KFP required resources in each user's namespace.

Current list of required resources:
* minio secret
* mlmd gr

[2020-04-02 09:44] rmgogogo commented on #3418
https://github.com/kubeflow/pipelines/pull/3339
Jing, would you review

[2020-04-02 09:45] rmgogogo commented on #3418
I thought it default should run latest version, in such case, Jiyong should not hit the issue, right?

[2020-04-02 10:37] jiyongjung0 commented on #3418
Right. I expected that it will run latest version, but it didn't.

[2020-04-02 11:35] chetanoruganti commented on #3253
Hi @Ark-kun ,
i was trying to spin the pipeline in different namespace .
Tried  adding namespace and  serviceaccount  in the dsl-compiled workflow yaml file . uploaded it to the pipeline ui and tried to trigger Run but it was failing with below error. Is this  process help to run  the pipeline in different namespace  .
api-server version used 0.2.0

Run creation failed
{"error":"Failed to create a

[2020-04-02 12:31] Bobgy commented on #3420
POC implementation in: https://github.com/Bobgy/manifests/commit/cfbccbcae372701396c4cfe752275e405d55917c

It is a deployment only solution, main logic is in https://github.com/Bobgy/manifests/commit/cfbccbcae372701396c4cfe752275e405d55917c#diff-762b01268bcc6313528cc44fffc68e77

[2020-04-02 12:59] Bobgy commented on #3292
/close
required `metadata-grpc-configmap` is auto initialized in user namespaces by https://github.com/kubeflow/pipelines/issues/3420#issuecomment-607817075

[2020-04-02 12:59] #3292 closed

[2020-04-02 13:02] RunOrVeith commented on #2680
For me, there is no horizontal scroll bar at all using Firefox. I am on 100% zoom level. It also doesn't appear if I zoom in or out.
I can still scroll horizontally by highlighting the long line and moving my mouse to the side of the screen, but it is neither accurate nor convenient.

![image](https://user-images.githubusercontent.com/12949211/78252232-d30d6700-74f2-11ea-8399-71a2198f4210.png)

[2020-04-02 21:26] paveldournov opened #3424 "URLs in Artifact viewer do not display underscores right "_""
In the artifact pane the URLs shown for Metadata artifacts do not display underscores and instead turn the text to italic. When the user copies the URL - it gets copied without the underscores and thus does not point to a valid file.

![image](https://user-images.githubusercontent.com/4884947/78301345-c6d2db00-74ed-11ea-93a3-77e476e9bd99.png)

![image](https://user-images.githubusercontent.com/488

[2020-04-02 21:52] dagondagon666 opened #3426 "[Backend][Multi-user] Access Pipeline SDK with Dex Auth enabled"
### What did you expect to happen:

I want to access the Pipeline API but right now I'm blocked by the Dex Auth. Any idea where could I get the bearer token for it?

### Environment:

kfctl_istio_dex.v1.0.1.yaml

How did you deploy Kubeflow Pipelines (KFP)?

kfctl_istio_dex.v1.0.1.yaml

/kind bug
/area backend
/area api

[2020-04-02 22:45] #3344 closed

[2020-04-02 23:09] numerology commented on #3424
/assign @numerology

[2020-04-02 23:11] numerology commented on #3424
The culprit is that underscore is not properly escaped when TFX image writing the markdown string

See [1]

[1] https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/container_entrypoint.py#L218

[2020-04-02 23:34] Bobgy commented on #3424
There may be other formatting conflicts later, I think instead of escaping, we should wrap data with `\`

[2020-04-03 02:30] DmitryBe commented on #3346
does anyone work on this?

[2020-04-03 03:09] rmgogogo commented on #3424
if quick fix, we may put it to OSS 1.0

[2020-04-03 03:19] rmgogogo opened #3431 "BigQuery + TFX + KFP better experience"
This ticket is more of a tracker/reminder.

Per Pavel's test, TFX Template notebook mentioned BQ+TFX+KFP which query data from BQ. Two feedback:
(1) it requires '--disk_size_gb=100' flag. Otherwise "ERROR: Could not install packages due to an EnvironmentError: [Errno 28] No space left on device"
(2) "this breaks the pipeline hermetic isolation and makes its availability depend on external services

[2020-04-03 03:29] rmgogogo commented on #3418
I assume without the version_ID in the create_run, it should pick up latest version. Jing may didn't aware this ticket. Let me ping her via hangout.

Meanwhile, I think #3339 is OK to go as no conflict to allow execute a specific version.

[2020-04-03 03:42] rmgogogo opened #3432 "TFX Cache Behavior (BQ + Dataflow + TFX + KFP)"
It seems an issue (or wrong doc) in TFX Template. Here log a ticket to well track whole integration to make sure KFP user is happy on the cache behavior (not the KFP-cache worked by Rui, we need doc to detail these two cache's difference).

Repro steps from Pavel.

1. Run the pipeline with BQ example gen running in-cluster (no dataflow)
2. Observe it succeed
3. Change the pipeline config to use Da

[2020-04-03 03:44] jingzhang36 commented on #3418
While creating run from pipeline version, we can use client.runs.create_run (instead of client.run_pipeline). The former is automatically synced to the backend api interface.

When using client.runs.create_run, we use resource_references field to specify the pipeline version we want to use to create the run. Let me make an example for you and report back

[2020-04-03 03:47] rmgogogo commented on #3432
We also need to make sure KFP side's Cache-server can well work with TFX SDK and well document the common and diff part.

[2020-04-03 03:48] Bobgy commented on #3424
I'm leaning avoid escaping underscore in UI, adding hack on top of a proper markdown parser is fragile.

e.g. how do we not escape underscores that are already escaped? how many other corner cases there are?

[2020-04-03 03:49] Bobgy commented on #3424
I think the best fix is to render execution detail page as a tab and let tfx side remove the markdown. Execution detail page has all the information in the best accessible form.

[2020-04-03 03:53] jingzhang36 commented on #3335
@pselden Thanks for the PR! Including version param in run_pipeline would come handy. Meanwhile, we also have an alternative to always use the latest backend api interface in client. I.e., we can use client.runs.create_run directly with our kfp client. The good thing about client.runs.create_run is that this method is automatically synced to the latest backend api interface. Similar usage includes

[2020-04-03 04:17] Bobgy commented on #3420
/close
Current list of required resources are supported.
Will open separate issues for future resources

[2020-04-03 04:17] #3420 closed

[2020-04-03 07:31] Bobgy opened #3436 "[Testing] Backend unit test doesn't show error log"
Example https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3435/kubeflow-pipeline-backend-test/1245963973447127041

/assign @jingzhang36

[2020-04-03 08:03] Ark-kun commented on #3432
Currently the KFP's execution cache excludes all TFX pods.

[2020-04-03 08:07] Ark-kun commented on #3412
This is a bug that can be fixed.

Unfortunately, the output aggregation feature is not easy to design or implement.
How would you envision an aggregation component and the syntax to pass all outputs to it?

[2020-04-03 08:34] jingzhang36 commented on #3418
In addition to @pselden's PR of adding version support to run_pipeline method in SDK (https://github.com/kubeflow/pipelines/pull/3339) . We also make our backend more accommodating by translating the pipeline id to its default version if users still want to pipeline id to create run https://github.com/kubeflow/pipelines/pull/3437.

[2020-04-03 10:49] eterna2 commented on #3346
just want to note that seems kfp sdk do not support `steps` from what I see in the code.

[2020-04-03 18:12] reem commented on #3412
Ideally `print_results` - or a similar op - would be able to receive a `List[InputPath(X)]` or similar, with all of the output artifacts from the parallel op. Using a list here seems appropriate as the set of names of the items has to fit inside the Workflow k8s object anyway, so cannot be that large. Any other similar format, like an attachable list of volumes, an `InputPath(InputPath(X))` etc. w

[2020-04-04 00:11] eedorenko opened #3441 "TypeError while uploading a pipeline with SDK"
### What steps did you take:
Invoke the following code:
[code]

### What happened:
Got an error:
Traceback (most recent call last):
  File "/Users/efedorenko/work/kubeflow-play/code/publish_pipeline.py", line 13, in <module>
    pipeline = client.pipeline_uploads.upload_pipeline(pipeline_file, name=pipeline_name)  # noqa: E501
  File "/usr/local/lib/python3.7/site-packages/kfp_server_api/api/pipel

[2020-04-04 00:22] eedorenko opened #3442 "Method Not Allowed. Upload Pipeline Version. SDK Version/API mismatch"
### What steps did you take:
Invoke this code:
[code]

### What happened:
Got an error:2020-04-04T00:15:09Z
Traceback (most recent call last):
  File "/Users/efedorenko/work/kubeflow-play/code/publish_pipeline.py", line 16, in <module>
    pipelineid=pipeline.id)
  File "/usr/local/lib/python3.7/site-packages/kfp_server_api/api/pipeline_upload_service_api.py", line 157, in upload_pipeline_version

[2020-04-04 02:01] Jeffwan commented on #3405
@Ark-kun artifact location in workflow-configmap works for us now.
Do you have any docs or code reference on minio gateway?

[2020-04-04 07:11] nihil0 commented on #2593
@Ark-kun : I am adding this to clarify your answer above, because it took me a while to figure out what was going on.

To get metrics to show up in the UI when using `ContainerOp`, `output _artifact_paths` should contain the following items: `('mlpipeline-metrics', '/mlpipeline-metrics.json')` and `('mlpipeline-ui-metadata', '/mlpipeline-ui-metadata.json')`

Additionally, this has to be changed in

[2020-04-04 08:33] Ark-kun commented on #3407
Can you try changing the executor back to Docker and submitting that Argo example just using kubectl create -f https://github.com/argoproj/argo/blob/master/examples/artifact-passing.yaml ?

If it fails, then it looks like it's an upstream issue that's related to your cluster configuration. What kind of Kubernetes cluster are you using?

If you really mount emptyDir: {} under the artifact file, thi

[2020-04-05 01:32] bharathkkb commented on #3399
@rmgogogo I was looking into this for the TF module and I saw this issue.
Will this issue enable using WI instead of using a service account in [here](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/gcp)

[2020-04-05 04:56] rui5i commented on #2950
Post submit tests are fixed in this PR: https://github.com/kubeflow/pipelines/pull/3193.

[2020-04-05 04:56] #2950 closed

[2020-04-05 20:38] Jeffwan opened #3445 "Add pipeline launcher components for other distributed training jobs"
In order to leverage different training operators in kubeflow pipeline, it would be better to provide high level launcher components as an abstraction to invoke training jobs.

`katib-launcher` and `launcher` are launcher componets for katib and tf-operator. We definitely need more similar components for PyTorch, MxNet, MPI and XGBoost, etc.

https://github.com/kubeflow/pipelines/tree/master/compo

[2020-04-06 10:08] dfeldell opened #3449 "Dataflow component crash only when scheduling jobs"
Hi,

When using this component to run Dataflow jobs in a pipeline:
https://raw.githubusercontent.com/kubeflow/pipelines/master/components/gcp/dataflow/launch_python/component.yaml

The pipeline will crash with the following error:
_This step is in Error state with this message: failed to save outputs: path /tmp/outputs/MLPipeline_UI_metadata/data does not exist (or /tmp/outputs/MLPipeline_UI_metad

[2020-04-06 12:20] elikatsis commented on #3441
This is duplicate of https://github.com/kubeflow/pipelines/issues/2764 which is fixed for KFP >= 0.2.1.

Unfortunately, it's not a client but a backend issue, so you will have to either upgrade your deployment or use `kfp-server-api==0.1.18.3` which seems to not produce this issue [with any limitation that this may come with].

[2020-04-06 14:04] marwanfahmi opened #3450 "TypeError: Error: Object "None" is incompatible with type "typing.Union[str, int, float, NoneType]""
Hi, I'm new to Kubeflow and was getting starting on using the SDK, I'm facing the same issue with several sampe pipelines, below is one of the code snippet that I was trying from another issue (https://github.com/kubeflow/pipelines/issues/3221):

[code]

I get the following error trying to compose the operator:
Traceback (most recent call last):
  File "/home/m_fahmi/.local/lib/python3.5/site-pack

[2020-04-06 15:21] #3335 closed

[2020-04-06 15:25] numerology commented on #3450
/cc @Ark-kun

I am wondering if you can use NamedTuple here instead of dict.
BTW, is it allowed to forward-reference built-in type like dict?

[2020-04-06 15:25] numerology commented on #3450
/assign @Ark-kun
/assign @numerology

[2020-04-06 15:34] mfabdrabou commented on #3450
Same issue. Here's the error and the code executed:
`from typing import NamedTuple
from kfp.components import create_component_from_func

def dump_dict2() -> NamedTuple("out", [("d", "dict")]):
    d = {"k":  "v"}
    return d

comp2 = create_component_from_func(dump_dict2, output_component_file='dict2.component.yaml')`

**Error:**
Traceback (most recent call last):
  File "/home/m_fahmi/.local/li

[2020-04-06 15:42] numerology commented on #3450
I think either of the following two work:

[code]
Note that there should not be double quotes around dict. Or use namedtuple

[code]

[2020-04-06 15:50] mfabdrabou commented on #3450
Hi @numerology - I get the same issue with simpler functions, the problem isn't in the function itself but in the translation to a kubeflow operator. What would possibly cause this error? Here's the output running the provided code above:

Traceback (most recent call last):
  File "/home/m_fahmi/.local/lib/python3.5/site-packages/kfp/components/modelbase.py", line 266, in __init__
    verify_objec

[2020-04-06 17:15] numerology commented on #3450
@mfabdrabou
That's unexpected. Which code snippet did you try? Both work fine on my end.

[2020-04-06 19:16] salexashenko opened #3452 "Argument type "String" is incompatible with the input type "GCPProjectID""
### What steps did you take:
I am going through this notebook:

https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/mnist/04_Reusable_and_Pre-build_Components_as_Pipeline.ipynb

 Everything is fine until submitting a pipeline run session. When I run the following cell:
[code]

### What happened:

I get the following exception:

`InconsistentTypeException: Incompatible argument pass

[2020-04-06 19:32] Ark-kun commented on #3450
The error is pretty strange.
I could not reproduce it. The snippet runs successfully and the component can be instantiated.
[code]

There might be some changes in how Python's generic types work. Which python version are you using?

[2020-04-06 19:40] mfabdrabou commented on #3450
I'm using Python 3.5.2 & KFP 0.3.0 on Ubuntu 16.04.

[2020-04-06 19:51] eedorenko commented on #3441
Kubeflow (including pipelines) has been installed following this guide https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/
So https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.1.yaml has been applied. So, do I need to apply something on top of it?

[2020-04-06 20:03] Ark-kun commented on #3450
KFP requires Python >=3.5.3. There were significant changes in the generic type internals even in minor versions of python 3.5.*.

https://github.com/kubeflow/pipelines/blob/371341002242be7db0148e3b91255ca541d5c590/sdk/python/setup.py#L93

Can you upgrade you python version? 3.5.3 is supported by Ubuntu 16.04.

[2020-04-06 20:24] tech348712013870132 opened #3453 "Kubeflow Pipelines without Google Cloud Storage"
Is it possible to replace the usage of Google Cloud Storage buckets with an alternative on-premise solution so that it is possible to run e.g. Kubeflow Pipelines completely in-depended from the Google Cloud Platform?

[2020-04-06 21:03] gautamkmr opened #3454 "[Feature Request] Manual Approval of workflow"
So far KFP has nice UI for DAG. However for in production setup we want the final deployment to be approve by human.

This opens up another channel to add notification setup if possible. I am assuming Argo provides those primitives but we might have to expose them via KFP compiler API ?

[2020-04-06 21:35] Ark-kun commented on #3453
Are you sure Kubeflow Pipelines uses GCS buckets by default?
As far as I know, KFP is platform-independent.
Can you please provide specific examples?

[2020-04-06 21:41] Ark-kun commented on #3452
The contributed MNIST tutorial seems to have some issues. We'll try to address them
Meanwhile, please try fixing the pipeline signature:
[code]

[2020-04-06 21:47] Ark-kun commented on #3445
What do you think about having generic launcher components that receive resolved serialized TaskSpec (or container image + command-line) and launch the given component.

What do you think about syntax like this?
[code]
or
[code]

[2020-04-06 21:48] Ark-kun commented on #3405
Here is the Minio doc: https://docs.minio.io/docs/minio-gateway-for-s3.html

[2020-04-06 21:56] Ark-kun commented on #3221
Fixed by https://github.com/kubeflow/pipelines/issues/3262

[2020-04-06 21:56] #3221 closed

[2020-04-06 21:59] chensun commented on #3290
/close

[2020-04-07 00:51] tech348712013870132 commented on #3453
I mean e.g. at this point (screenshot) if you intend to create a new run of a pipeline.
The default value of the pipeline-root input field is **gs://your-bucket/...**

Is it possible to use another storage backend at this point?
I would prefer something open-source + on-premise host-able, independent
of GCS..

Screenshot:
<img width="638" alt="Screenshot 2020-04-07 at 02 48 43" src="https://user-i

[2020-04-07 00:56] numerology commented on #3453
The storage backend is not part of KFP system. It depends on how the business logic is written for the components/samples.

The pipeline you mentioned here, for example, is the TFX taxi pipeline. Under the hood it uses tf.io.gfile module therefore IMO it should be able to run on other storage backend (S3 etc.) but I did not validate myself.

Briefly speaking, the IO logic within the component, whi

[2020-04-07 05:22] Bobgy commented on #3399
Yes, that's part of this

[2020-04-07 07:51] gautamkmr commented on #1998
This would be really nice feature to have for on-perm and other cloud providers.

[2020-04-07 07:58] gautamkmr commented on #1998
@jingzhang36 would you please confirm, looks like its possible to submit pipeline now
https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/

If so we can close this issue then.

[2020-04-07 07:59] Ark-kun opened #3460 "Cache [MKP] - Switch the deployer to a Job for better behavior and cleanup"
We should switch the cache service deployer to a Job. Helm has explicit support for running pre-install hooks and will automatically wait for the job to complete and then delete the job and the deployer resources (job, service account, roles, rolebindings).
See https://helm.sh/docs/topics/charts_hooks/ and https://github.com/helm/charts/blob/edecc9842d1a63758c3bd0fc13a5d019e079f656/stable/promethe

[2020-04-07 08:08] rmgogogo commented on #3460
Do you mean change Cache-Deployer "kind" type to Job (it was on StatefulSet and then Deployment).

If the reason is more for HELM friendly, actually MKP didn't use HELM for installation but just use it as template engine.

For the pre-install hook, another better solution is to use K8s init continer.
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

I would leave it to Rui to de

[2020-04-07 08:26] Bobgy commented on #3226
Dropping priority, because I think https://github.com/kubeflow/pipelines/pull/3457 will be a better way for navigating MLMD data. We can leverage existing KFP UI for pagination, sorting and filtering support.

[2020-04-07 08:31] Bobgy commented on #3460
No matter what choice, I think standalone and MKP should use the same approach, otherwise maintenance and slightly different behaviors will be a disaster for future maintenance.

Can you clarify on `better behavior and cleanup`?

[2020-04-07 08:32] Ark-kun commented on #3460
No container (including the init containers) are started until all volumes are mounted.
In Kubernetes, Secret is a type of volume.
The cache service uses secrets.
The cache deployer creates secrets.

It might be problematic to use init containers for the deployer job.

[2020-04-07 08:38] Ark-kun commented on #3460
In Kubernetes, some resources need to be deployed before other resources. For example, RoleBinding can only be deployed after the Role and ServiceAccount objects are deployed.
More importantly, RoleBinding objects must be fully deployed before any workload (Pod, Job, Deployment, StetefulSet) is deployed. Otherwise the deployed pods do not have the correct permissions. Kubernetes does not seem to h

[2020-04-07 08:39] Ark-kun commented on #3460
This is pretty important information. Can you please point me to the documentation about the installation method?

[2020-04-07 08:42] Ark-kun opened #3461 "Using stable versions of Bazel for the backend build"
Bazel is already at v3.0.0, but the backend seems to require pretty old version of Bazel (v0.23).
It would be great if the backend would successfully build using the stable supported version of Bazel.

[2020-04-07 08:44] Bobgy commented on #3460
When a deployment fails for the first time, it will automatically retry and all related sa, role, rolebinding should be ready after a few retries. Then it will run successfully. I think that's Kubernetes way for dealing with this.

This is expected behavior, many of our deployments may fail a few times before all other systems are running. I don't see a problem with it.

What is going wrong curren

[2020-04-07 08:54] Bobgy opened #3462 "[Metadata Writer] Consistency with tfx"
There have been two issues when implementing https://github.com/kubeflow/pipelines/pull/3457.

* kfp_pod_name custom property is not available in metadata writer (it is used to connect a kfp pod with an execution in mlmd, very useful in UI)
* a run's context type is `KfpRun` in metadata writer, but a `run` in tfx

Can we increase consistency with tfx, so UI can easily handle both logic?

[2020-04-07 11:08] marwanfahmi commented on #3450
Thanks @Ark-kun, upgrading python worked.

[2020-04-07 11:08] #3450 closed

[2020-04-07 14:09] tech348712013870132 commented on #3453
@numerology Thank you for your very great answer.

Know I understand this better :)

[2020-04-07 14:16] gethinzhang opened #3464 "pipeline package support"
In most machine learning platform, we usually have many files in a pipeline, such as train files, evaluation py files etc..

it seems kubeflow suggest two approach to reach this request.

1. upload pyfiles to gcp or s3 storage, and set these uris as a pipeline parameters
2. build these pyfiles to docker image, like [tfx kubeflow runner examples](https://github.com/tensorflow/tfx/blob/master/tfx/or

[2020-04-07 14:50] amitripshtos opened #3465 "KFP behind a reverse proxy crashes upon specific request"
### What steps did you take:
1. Start a new run of a pipeline version.
2. When it started, the UI redirects to the experiments list page.
3. The UI container crashes

### What happened:
ml-pipeline-ui container has crashed.

### What did you expect to happen:
Keep working

### Environment:
GKE
Nginx-proxy

How did you deploy Kubeflow Pipelines (KFP)?
Standalone

KFP version: 0.3.0

KFP SDK version

[2020-04-07 14:52] amorenocb commented on #2920
Hi @rmgogogo! Any idea when #3363 will be released? Thank you.

[2020-04-07 15:43] gethinzhang commented on #3464
I found kubeflow could resolve pipeline.yaml in zip or tar.gz
I got a relative better solution, I could store all code in to a package with 'pipeline.yaml' in top level directory, and extract and download code from objectstore

[2020-04-07 15:43] #3464 closed

[2020-04-07 16:22] areshytko commented on #1933
is this feature planned to be implemented in the upcoming releases? It would be great to have it in KFP

[2020-04-07 16:44] eedorenko commented on #3441
According to the [Kubeflow application matrix](https://www.kubeflow.org/docs/reference/version-policy/#kubeflow-application-matrix) the default KFP versions coming with Kubeflow v1.0.1 is 0.2.0. The question is if Kubeflow v1.0.1 works with KFP and can I just upgrade it with
[code]
as it is described here https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#upgrading-kubeflo

[2020-04-07 17:01] eedorenko commented on #3441
I tried it, it didn't work:

for: "github.com/kubeflow/pipelines/manifests/kustomize/env/dev?ref=0.3.0": Deployment.apps "mysql" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app":"mysql", "application-crd-id":"kubeflow-pipelines"}, MatchExpressions:[]v1.LabelSelectorRequirement(nil)}: field is immutable

[2020-04-07 18:37] eedorenko commented on #2764
And there is no normal way to upgrade it.

[2020-04-07 20:15] rui5i commented on #3460
Job itself seems a good fit for cache deployer. But I still have some questions here:
1) Cache-deployer job may be deleted or generated a random name by helm hook in mkp to prevent upgrade issue. But I tried the helm hook before it didn't work. I am not sure if that is because in mkp we are not using helm?
2) If helm hook works, I think we should go for the deletion option other than generate a ra

[2020-04-07 21:19] #3388 closed

[2020-04-07 23:53] Bobgy opened #3470 "[UI Server] Error messages with [object Object]"
### What steps did you take:
Not sure, but I got an error when viewing logs

### What happened:
The error message is `Could not get main container logs: Error: Unable to retrieve workflow status: [object Object].`

### What did you expect to happen:
[object Object] should be something more descriptive.

### Anything else you would like to add:
[Miscellaneous information that will assist in solving

[2020-04-08 01:00] mkrakow opened #3473 "Very long loading times in UI on OpenShift 4.3 fresh installation"
### What steps did you take:
1. Fresh installation KF 1.0.1 on Openshift 4.3.0 (Kubernetes Version: v1.16.2)
Image: ml-pipeline/frontend@sha256:848fc568b88542b1c9ec42a2c9b7f2eae1ac784e5fbde96fde4282a9da227b01
2. Walk through Web UI Pipelines then: Pipelines => Experiments => Artifacts => Executions responses for 1st time display each frame were less then 500 ms.  I walked 2-3 times through menu Pi

[2020-04-08 06:18] rmgogogo commented on #2920
SDK is already released yesterday in 0.4.0

https://pypi.org/project/kfp/

[2020-04-08 06:18] #2920 closed

[2020-04-08 06:32] sachua commented on #3407
@Ark-kun I got the same original error if i change the executor back to Docker and submitting the Argo example.
My Kubernetes cluster is an on-prem, air-gapped Kubernetes cluster deployed using VMWare PKS.

[2020-04-08 07:32] Bobgy commented on #3290
A follow up bug fix: https://github.com/kubeflow/pipelines/pull/3477

[2020-04-08 07:32] Bobgy commented on #3290
/reopen

[2020-04-08 07:47] #3290 closed

[2020-04-08 15:52] jonasdebeukelaer commented on #2237
Hi, I tried the image renaming approach using the below to update from 0.2.0 to 0.4.0, but am now getting `no healthy upstream` when trying to load `/_/pipeline/`.
[code]

This is a new kubeflow cluster I've just spun up using `kfcli` so happy to just recreate it if required, but I can't figure out how to get latest pipelines installed? Is it something I should do  _before_ running `kfcli apply`?

[2020-04-08 23:11] Ark-kun commented on #3462
Adding this would be useful.

I'm concerned about possible ContextType conflicts between the two.

[2020-04-08 23:15] Ark-kun commented on #3407
Can you please try to create an issue in the Argo repo?
https://github.com/argoproj/argo/issues I think that the 'must use emptyDir' error can be effectively solved on the Argo side benefiting both Argo and KFP.

[2020-04-09 01:22] Bobgy commented on #3462
@Ark-kun Thanks!

I see, I guess if two libraries create the same context type, then it's really hard to handle context type schema upgrade/conflict, is that right?

It's okay, UI can query two types instead too.

[2020-04-09 01:22] Bobgy commented on #3462
Adding as p1, but you can adjust

[2020-04-09 01:38] Bobgy commented on #2237
That wouldn't be enough. You also need to mimic manifest changes in KFP https://github.com/kubeflow/pipelines/commits/master/manifests/kustomize between 0.2.0 and 0.4.0.

You probably need more knowledge about KFP to be able to get there.
To troubleshoot your direct root cause this time: did you try `kubectl get pod` `kubectl logs <the-pod-that-fails>` `kubectl describe pod <the-pod-that-stuck>` e

[2020-04-09 01:38] Bobgy commented on #2237
@jonasdebeukelaer

[2020-04-09 03:05] Ark-kun commented on #3462
Made a PR to include the pod name.

[2020-04-09 03:23] Bobgy commented on #3473
KF 1.0.1 included KFP 0.2.0 and didn't include the fix in https://github.com/kubeflow/pipelines/issues/3070#issuecomment-588978533.

(Updated the comment including the versioning information) You may try changing just ml-pipeline-ui deployment image version, it may (or may not) work for you. Please wait for Kubeflow 1.0.2 if you don't want to try hacky workaround.

[2020-04-09 03:23] Bobgy commented on #3473
/close

[2020-04-09 03:23] #3473 closed

[2020-04-09 03:24] Ark-kun opened #3481 "Tests that verify that pipelines successfully log metadata"
Currently there are no integration tests that verify that when the pipelines run, the executions, artifacts and contexts are successfully logged.
It might be useful to add a test for this feature.

[2020-04-09 03:28] Bobgy commented on #3481
Would UI e2e test help?
sounds like coverage to UI metadata integration will also be useful

[2020-04-09 03:28] numerology commented on #3481
We have one in [tensorflow/tfx](https://github.com/tensorflow/tfx/blob/ac8a421117c0eeed38bab2fd9a4fb7c18b68376f/tfx/orchestration/kubeflow/kubeflow_e2e_test.py#L58)

It sounds not bad to have that in KFP, too

[2020-04-09 04:09] #3302 closed

[2020-04-09 05:40] Ark-kun commented on #3246
@Bobgy I've looked at the URLs and I now I wonder whether hard-coding the URL format in the code is a good idea. The UX and URLs can change, breaking the existing outputs of components.

Here is the model_id artifact that's already returned by the component: `projects/140626129697/locations/us-central1/models/TBL6224612401770135552`

The model page URL is currently `https://pantheon.corp.google.co

[2020-04-09 05:44] Ark-kun commented on #3246
The URL for external users is probably different.

[2020-04-09 06:00] Bobgy commented on #3246
@Ark-kun I understand the concerns, but I don't see a better place to add the transformation.

It wouldn't be a scalable solution if each component needs some UI code change for integration, nor would it be suitable for visualization server I think.

We can only rely on AutoML team to make url backward compatible e.g. when they change url format, they should have auto redirect from old location to

[2020-04-09 07:28] Bobgy commented on #3256
* [ ] One more flakiness I see often recently: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3483/kubeflow-pipeline-e2e-test/1248147971741061120#1:build-log.txt%3A199

[2020-04-09 08:16] Ark-kun commented on #3246
OK. I'll add the transformation to the code.
The funny thing is that I cannot really check what the real URL should be since I'll need a non-Google account for that. But I am pretty confident that I know what it should be.

In the future I think that visualizations might be a good place for the transformation. They could even embed some model vis/view in the node details page and they can update w

[2020-04-09 08:17] Bobgy commented on #2562
/reopen
actually, the fix didn't put run context as first priority

[2020-04-09 11:45] jonasdebeukelaer commented on #2237
@Bobgy thanks for the reply.

It seems to be working now, I did the following:

1. prep a new kubeflow instance locally using https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ (don't apply, but build only)
2. replace all instances of `0.2.0` into `0.4.0` in the following subfolders in kustomize (should have created a neat recursive `sed` command really)
   - ml-pipeline
   - ml-pipeline-ml-pipe

[2020-04-09 11:46] jonasdebeukelaer commented on #3441
@eedorenko if you're still looking to upgrade pipelines in your kubeflow install, I managed to do that today: https://github.com/kubeflow/pipelines/issues/2237#issuecomment-611484454

[2020-04-09 15:03] amitripshtos commented on #3101
I see your points, and I wanted to ask what's the overall opinion of all of you before I work on the Pull requests and fix issues.

If the majority of you think this feature may introduce extra complexity, I think we can close this request - otherwise, I can work on the pull requests.

What do you think?

[2020-04-09 15:49] numerology commented on #3256
Ack. It looks like to be some concurrency issue. Let me try to add some retry logic around it.

[2020-04-09 16:51] omarzouk opened #3491 "Missing fields in upload_pipeline"
### What steps did you take:
There is no `description` field in the `Client.upload_pipeline` function.
I also tried using `Client._upload_api.upload_pipeline` field but it didn't support it either. It seems this is missing from the `kfp-server-api` despite it working in the UI

### What did you expect to happen:
To be able to submit the fields listed in https://www.kubeflow.org/docs/pipelines/refe

[2020-04-09 17:29] neuromage commented on #3481
We already have this coverage internally @Ark-kun. Shall we close this issue, or do you think there's insufficient coverage here?

[2020-04-09 17:41] numerology commented on #3481
I think @Ark-kun meant that we should have test coverage to verify the metadata writer logs properly.

[2020-04-10 01:51] Bobgy commented on #3246
Not sure about AUTOML url situation, for other GCP urls, if I figured out the external url and paste it in my browser, it correctly redirects to corresponding internal url. I use this method to verify if it is correct. Does it work for you?

How about 3rd party components? I think they also want the same integration. I'm imagining visualization server should save some snippets in the db, so 3rd pa

[2020-04-10 02:17] eterna2 commented on #3405
@Jeffwan

**Update metadata writer service to support S3 artifacts**
Metadata writer service currently hardcode metadata artifacts url to `minio`. Need to investigate how to infer whether the artifact store endpoint is s3 or minio for metadata service.

https://github.com/kubeflow/pipelines/blob/6b358d09a763d2b172c49cd389f34c5c683daa9b/backend/metadata_writer/src/metadata_writer.py#L85

See also
-

[2020-04-10 03:01] Jeffwan commented on #1401
This should be resolved after https://github.com/kubeflow/pipelines/pull/3374

Feel free to reopen if this still exist

/close

[2020-04-10 03:01] #1401 closed

[2020-04-10 04:05] Bobgy commented on #3256
Adding the binding is actually the same for all tests. Maybe we can prepare a script that sets these up and no longer run any of these in actual tests.

[2020-04-10 05:45] numerology commented on #3256
Do you mean extract this common step out from upgrade/e2e/sample/integration tests? Curious how this can be done since each time we'll create a new cluster.

[2020-04-10 06:03] Bobgy commented on #3256
Failure is at this line: https://github.com/kubeflow/pipelines/blob/6b358d09a763d2b172c49cd389f34c5c683daa9b/manifests/kustomize/gcp-workload-identity-setup.sh#L111

In fact, because we always use the same KSAs and run in the same project. Workload identity binding changes on GSAs are the same (note that the command only refer to PROJECT, NAMESPACE, KSA, there is no cluster-name here.)

[2020-04-10 06:04] Ark-kun commented on #1933
At this moment there we have no bandwidth for implementing this feature. It needs many places to change.

What is the scenario where you might want this feature?

[2020-04-10 06:15] Ark-kun commented on #3481
Is this verified for a pipeline that uses KubeflowDagRunner?

[2020-04-10 06:15] #3246 closed

[2020-04-10 06:46] Bobgy opened #3493 "[UI] Data from MLMD should use both custom property and property"
Context: https://github.com/kubeflow/pipelines/pull/3479#discussion_r406610169

/area frontend

[2020-04-10 06:47] Bobgy commented on #3493
/cc @Ark-kun @numerology

[2020-04-10 10:07] velascoluis opened #3494 "Logically grouping/packaging steps?"
/area frontend
/kind feature

As pipelines gets more complex, is it possible to group/package steps in logical units?
<container.......>.add_logicGroup(logicGroup(name='data_prep_group'))
This way would it be easier to declare dependencies, have pan-group shared variables, access to PVCs, .. define success criteria for the group ..
It would also lets each component maintain its versioning, base im

[2020-04-10 12:01] areshytko commented on #1933
The use case is the following: we have K-fold a cross-validation task somewhere in the middle of our pipelines, and the number of fold is the parameter to the pipeline. The desire is to distribute computation of each fold to a separate task and run them in parallel since this is a time-consuming operation. Basically this requires the following:

![image](https://user-images.githubusercontent.com/7

[2020-04-10 14:13] numerology commented on #3481
Yes it is.

[2020-04-10 18:38] rui5i commented on #2904
Kubeflow Pipelines step caching is now released in 0.4.0 and after. Close this issue.

[2020-04-10 21:32] amitripshtos commented on #3454
I raised this kind of request here: https://github.com/kubeflow/pipelines/issues/3101

I also delivered a fully working solution that includes the ability to suspend and resume the pipeline.

Can you please add your opinions to the issue?

Thanks.

[2020-04-11 02:07] Ark-kun commented on #3481
I guess this is on my plate then =)

[2020-04-11 02:16] Ark-kun commented on #3494
Is this a UX issue or an SDK issue?

On DSL-side it's possible to create and then use graph components ("pipeline-as-component"): https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.components.html#kfp.components.create_graph_component_from_pipeline_func

However loaded graph components are currently fully inlined at compilation time, so there is not grouping (dues to UX not showing it

[2020-04-11 02:24] Ark-kun commented on #3216
Sorry. I own that.

Without tweaks, sphinx does not know about the generated members of Client, because they do not exist on the Client class - only on objects. I can try to refactor the generation, so that it adds members to the class, not just the object. But that has some cons, since the generation will run during the import.

Maybe there is another way...

[2020-04-11 05:27] numerology commented on #3481
I can help as well :) BTW [this](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/test_utils.py#L369) is the code setting port-forward to talk to MLMD

[2020-04-11 20:15] soumochak83 commented on #1654
Which is the last supported Kubeflow version on Openshift 3.11?

[2020-04-12 05:14] awcchungster opened #3496 "Docs to install KFP on AWS"
### What steps did you take:
[A clear and concise description of what the bug is.]
I followed the Standalone KFP install guide, but it is only for GCP.

### What happened:

It didn't work.

### What did you expect to happen:

Install KFP standalone.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/
KFP versi

[2020-04-12 21:47] Jeffwan commented on #3496
What's the error message do you see? Could you describe more details on "it didn't work"?

[2020-04-12 23:33] awcchungster commented on #3496
These two lines should be added to the instructions for AWS.

# Patch the ClusterIP UI service to LoadBalancer
kubectl patch service -n kubeflow ml-pipeline-ui --patch '{"spec":{"type":"LoadBalancer"}}'
# Get the UI URL
kubectl get service -n kubeflow ml-pipeline-ui --output json | jq -r ".status.loadBalancer.ingress[0].hostname"

[2020-04-12 23:58] jlewi commented on #2958
See also kubeflow/kubeflow#1583

My understanding is that KFP will be the recommended way to run TFX pipelines especially on K8s. To achieve that my understanding is that at some point the TFX implementation on KFP will support scaling out the processing(e.g. TF.Transform) using Beam.  I believe using Dataflow is already supported and we have at least one issue (kubeflow/kubeflow#1583) related to

[2020-04-12 23:59] jlewi commented on #2958
/cc @katsiapis

[2020-04-13 02:27] Bobgy commented on #3216
I'm trying to understand, why is generation happening during import a con? When does it currently happen? at object init phase?

[2020-04-13 02:53] Bobgy opened #3497 "[Deployment] Separate cluster scoped and namespace scoped resources"
Part of https://github.com/kubeflow/pipelines/issues/2884

Some additional constraints show up when we keep maintaining kustomize manifests for KFP (Kubeflow Pipelines).

Constraints:
* CRDs must be applied separately, because if we apply CRs in the same command, the CRD may not have been accepted by k8s api server. context PR
* (New) A Kubeflow 1.0 constraint is that we should separate cluster sc

[2020-04-13 03:28] rmgogogo commented on #1956
@Ark-kun, any suggested workaround?

[2020-04-13 04:04] Bobgy commented on #3494
I personally feel feature support for this will be very important in the long run.
Allowing extra layers of abstraction is something engineers always want for systems.

[2020-04-13 04:37] Jeffwan commented on #3496
@awcchungster

This is not a blocker. user doesn't have to use LB, This will expose a public endpoint without auth. Does port-forward work for you?

[2020-04-13 05:09] awcchungster commented on #3496
Both LB or portforward options should be used in the docs so users can understand how to set this up on their own.

[2020-04-13 06:20] Ark-kun commented on #3216
Currently the generation happens during kfp.Client() init.
Usually the importing phase should be as small and fast as possible and have no complicated logic. Normally, if there is an error in some function, then only that function is broken. However if there is some error during the module level execution, then `import kfp` stops working which is significantly more serious. This could happen for e

[2020-04-13 06:20] Ark-kun commented on #3216
I'm digging into sphinx. Maybe `autoattribute` or `autodata` can generate the documentation for a Client instance.

[2020-04-13 06:26] Bobgy commented on #3216
Thanks! makes sense to me. Would be great if doc can be supported with current approach.

[2020-04-13 07:51] rmgogogo commented on #3332
https://github.com/kubeflow/pipelines/pull/3484 fix step-1.

step-2: we will provide better CLI tool for admin user to easily configure things in one-off manner. It's target to be done in Q2/Q3. It's only for GCP.

[2020-04-13 08:05] rmgogogo commented on #2561
https://github.com/kubeflow/pipelines/pull/3484
Please help check whether the samples in this PR helps. I tested it and didn't find issue.

One possible reason I guess is that please check whether your cluster's region has the supported GPU type.

Also please check your GPU/CPU quota to see if autoscale is stopped by quota.

The title "unschedulable: 0/4..." warning msg is just warning to let you

[2020-04-13 08:09] #3497 closed

[2020-04-13 18:20] numerology opened #3499 "[Front end] [FR] Better error message for custom metric viz."
### What steps did you take:
Actually it is reported by one of our friends from CAIP training team

He was trying to add custom pipeline metrics to one of the pipeline they're authoring and found it painful.

### What happened:
The metrics UI did not show up. It turns out that the regex they're using is culprit. However the error message was not very helpful during the efforts.

It would be good t

[2020-04-13 18:21] numerology commented on #3499
cc @thebinaryone1

[2020-04-13 18:22] numerology commented on #3499
/assign @Bobgy

This is not urgent but assign to you to triage :)

[2020-04-13 19:55] #3462 closed

[2020-04-13 21:07] apeccaud commented on #2725
Is there any other option to give a significant name to tasks in a loop?

[2020-04-13 22:57] Ark-kun opened #3500 "[UX, MLMD] - Artifacts - grpc-message: no healthy upstream on Windows"
### What steps did you take:

Install KFP
Open UX
Run some pipelines
Click on Artifacts in the left nav pane
Click on Executions in the left nav pane

### What happened:

The Executions page is empty and I get erorrs "Error: Failed getting executions: no healthy upstream. Code: 14"
The Artifacts page is empty.

I see the following in the Network browser tool:
[code]

### What did you expect to hap

[2020-04-13 23:24] Bobgy commented on #3500
`no healthy upstream` usually means a problem with metadata grpc server

Did you try deleting its pod and let it restart?

[2020-04-13 23:25] Bobgy commented on #3500
Also, I think grpc doesn't use http status code, it will always be 200

[2020-04-14 00:40] sachua commented on #3407
@Ark-kun Indeed, when I really mount emptyDir:{} under the artifact file, I was able to get pipelines running. I will try to create an issue in the Argo repo. Thanks for your help!

[2020-04-14 00:40] #3407 closed

[2020-04-14 02:55] Bobgy commented on #3256
Fixed image building flakiness in https://github.com/kubeflow/pipelines/pull/3492

[2020-04-14 02:57] Bobgy commented on #3256
@numerology Do you have any other items left? I'm thinking most items are done. We can close this now.

If we identify any remaining ones, we can reopen.

[2020-04-14 03:07] Bobgy commented on #3256
Actually, postsubmit component test is still fairly flaky, but it isn't strictly required. We may only release on commits that passed them. WDUT?

[2020-04-14 03:34] Ark-kun commented on #3500
The logs did not show any errors:

[code]

Same log after restarting the pod.

[2020-04-14 06:55] Bobgy commented on #3500
@Ark-kun sent PR to fix this: https://github.com/kubeflow/pipelines/pull/3502

[2020-04-14 06:55] Bobgy commented on #3500
Shall we consider patch this and rerelease 0.4.0?

[2020-04-14 07:04] rmgogogo opened #3503 "Better local dev/test experience"
1. Easy install KFP core to Minikube or Kind or Docker Desktop.
2. Local easy dev/test for KFP users based on (1).

[2020-04-14 07:10] rmgogogo opened #3505 "TestInfra - Use KFP to test KFP"
Currently we use bash + Argo etc. to test KFP.
KFP naturally can be a tool to test KFP.
1. long-run cluster installed KFP (also can test upgrade)
2. prow trigger job runs in KFP

[2020-04-14 07:39] Bobgy commented on #3505
Expand a little bit, we can have:
* A single long-running stable KFP cluster as test orchestrator
* KFP pipelines running in above cluster that provisions additional GKE clusters as test KFP clusters.

Benefits:
* We can dogfood long running KFP cluster and cluster upgrade capabilities in a real use-case.
* KFP pipelines are much easier to maintain than bash scripts
* It will be easier to identify

[2020-04-14 08:17] Ark-kun commented on #3500
I think we should make a [re]release with the fix.

/cc @rmgogogo @dushyanthsc  @numerology

[2020-04-14 08:29] rmgogogo commented on #3101
Thanks Amit for driving this feature. It's great feature but it also has the side which would introduce complexity and resource-holding etc. we may didn't aware yet. Here double check whether it can be treated from another angle.

I would prefer we discuss this FR from detailed use-case.

"the next step can be sending email/upload to database or bucket."
Is it done in KFP pipeline? If so, it also

[2020-04-14 08:39] Ark-kun opened #3507 "Execution Cache does not cache executions that have no outputs"
This is probably caused by Argo not putting outputs annotation on the pod.
I'm not sure why it does not exist since there should be an artifact with the console logs.

[2020-04-14 08:42] Ark-kun commented on #3496
Can you please list the particular error message that you saw.
Thank you.

[2020-04-14 08:46] Ark-kun commented on #3405
The frontend translates this to ReadArtifact backend calls.

Regarding S3:
I think there are two distinct cases:
Artifacts. URIs should be based on the workflow-controller-configmap s3 bucket configuration
mlpipeline-ui-metadata entries that might have any kind of URIs.

[2020-04-14 10:13] #3500 closed

[2020-04-14 13:46] nrchakradhar commented on #3253
Gentle ping @Ark-kun @Bobgy
How can we run pipelines with different serviceAccount and in different namespaces? Are there any specific PRs that we should take and test this? Please help.

[2020-04-14 16:09] numerology commented on #3505
+1 I think it can be also treated as a scale test: how our system scale in the time dimension. That being said, there's already some known issue re: MLMD in this department. As we accumulate many entries in the database the query can be slow and even choke gRPC.

[2020-04-14 18:38] hongye-sun commented on #1697
This FR should be feasible now as Argo supports per-template exit handler. https://github.com/argoproj/argo/pull/1716

[2020-04-14 21:02] Ark-kun commented on #3253
Do you want to use KFP in multiple namespaces and select between them?

AFAIK, `Client().run_pipeline` has a namespace parameter.
As for ServiceAccount, the supported way is to set it in the API-server configMap.
//Setting it inside Workflow should also work, but is not supported.

[2020-04-14 21:10] Ark-kun commented on #3246
My vision for visualizations:

Visualizations are just normal components (component.yaml) with one input of certain type and an output of type `HTML` or `Markdown`.
The visualizations are put in a certain directory with subdirectories named after type names  (`components/visualizations/<type name>/`).
KFP has some 1st-party visualizations, but user can also specify more repos to search for them.
G

[2020-04-14 21:15] Ark-kun opened #3510 "Visualizations as components"
The visualization server project has managed to separate visualization code from Frontend and enable some customization.
I think that this can be developed further.

Proposed design:
* Visualizations are just normal components (component.yaml) with one input of certain type and an output of type `HTML` or `Markdown`.
The visualizations are put in a certain directory with subdirectories named after

[2020-04-14 21:19] Ark-kun commented on #2933
@Bobgy Is it possible to just move the tab to the far right when there are no visualizations?

[2020-04-14 23:48] Bobgy commented on #3499
@numerology Thanks for report! Can you point me to where the regex is?

[2020-04-15 03:25] Bobgy commented on #3246
@Ark-kun Great ideas! I think letting 3rd party visualizations get integrated easily (and without dependency conflict) is really important, because that's the only way this solution can scale.

Let's continue the discussion in https://github.com/kubeflow/pipelines/issues/3510

[2020-04-15 03:27] Bobgy commented on #3510
Do you mean visualizations are run as usual pipelines through KFP API server?

[2020-04-15 03:28] nrchakradhar commented on #3253
Thanks @Ark-kun
@hemantha-kumara @chetanoruganti can we give this a try.

[2020-04-15 03:30] Bobgy commented on #3253
@nrchakradhar @Ark-kun
for clarification:

This should only be used with KFP multi user mode.

/cc @chensun
maybe we should improve documentation

[2020-04-15 03:33] Bobgy commented on #2904
/reopen

TODO:
* [ ] Add an UI indication a step is cached
/assign @Bobgy

I will finish the UI integration

[2020-04-15 04:19] Bobgy commented on #2933
@Ark-kun
similar to

we cannot (and shouldn't) adjust UI element's position based on dynamic data, the UI wouldn't be consistent to users too

[2020-04-15 04:20] Bobgy commented on #3328
/cc @Ark-kun
What do you think about my proposals here?
The easiest fix, I think is combining input outputs tab and artifact tab.

[2020-04-15 04:25] Ark-kun commented on #1956
This is a problem with trying to use templates in structures with strict schemas. @numerology had the same issue when trying to template protobufs.

The addition pf PatchPodSpec https://github.com/argoproj/argo/pull/1687 in Argo v2.4.2 makes it possible to fix this, although this will require some amount of work on the SDK side, upgrade to Argo v2.4.2. It will also be backwards incompatible with e

[2020-04-15 04:36] Ark-kun commented on #3510
I initially thought about just using Pods, but pipelines/workflows would be even easier (Argo will take care of data uploading/downloading/mounting).

[2020-04-15 04:47] Ark-kun commented on #3328
I agree with both proposals.
Let's append the visualizations at the bottom of the Inputs/Outputs tabs.
And also (can be done later/separately):

[2020-04-15 04:54] Ark-kun commented on #3253
You're right.

@IronPan @rmgogogo Am I correct that with Argo the user can submit a Workflow to any namespace (for example using `kubectl create --namespace ns1 -f workflow.yaml`), but the KFP's API Server submits workflows to its own namespace only? Maybe there is a quick fix possible for the API server then (to submit the workflow to the specified namespace).

On the other hand, I think the mult

[2020-04-15 04:54] Bobgy commented on #3309
@amygdala sorry to get back to this late.

I ran xgboost sample and it outputs metrics successfully. To figure out whether this is a component problem or a backend/UI problem, you can run xgboost sample on your cluster to see if it has the same error.

But xgboost component is using a different format from @amygdala's example. I'm not familiar with component spec. https://github.com/kubeflow/pipel

[2020-04-15 04:57] Ark-kun commented on #3309
Can you please click on the `mlpipeline-metrics` output link and paste here a snippet of the metrics in that file.

[2020-04-15 05:00] eterna2 commented on #3510
I am always super interested in visualization. volunteers to contribute.
I did intend to do something similar, but nv gotten time around it.

Particular for geospatial vis (cuz I used to run alot of geospatial simulations).

[2020-04-15 05:06] Bobgy commented on #3309
@Ark-kun I got
[code]

[2020-04-15 05:15] rmgogogo commented on #3399
Yes. I may try to extend it to also support other auth-mode (e.x. Application Default Credential).

For status of this issue. It's done in gcp_marketplace.
For the standalone (manifest/kustomize), it's not done yet and WIP.

[2020-04-15 05:33] chensun commented on #3253
[`run_pipeline`](https://github.com/kubeflow/pipelines/blob/f041b08190dc0cd6bd234a400ca8f78be3566541/sdk/python/kfp/_client.py#L380) doesn't have a `namespace` param, because it already asks for `experiment_id`, and we follow the namespace of its owning experiment.

For others that has `namespace` param, e.g. [`create_run_from_pipeline_func`](https://github.com/kubeflow/pipelines/blob/f041b08190dc

[2020-04-15 05:41] chensun commented on #3253
Haven't tried the `kubectl create --namespace ns1 -f workflow.yaml` personally, but I guess it probably works. `kubectl` is available to cluster admin only, and the admin should probably have the permission to do anything, but that's not true for an end user.
It is by design that API server will only allow submitting workflows to a namespace either the user owns or is listed as a contributor. Same

[2020-04-15 05:47] Bobgy commented on #3372
Unfortunately, metadata server doesn't support pagination yet. After it's done, we can work on https://github.com/kubeflow/pipelines/issues/3226.

In the mean time, do you think new feature in https://github.com/kubeflow/pipelines/pull/3457 will help your use case of viewing ml metadata?

[2020-04-15 05:48] Bobgy commented on #3372
This is a duplicate of #3226.
/close
@lzuwei Can you please continue the discussion in #3226? thanks!

[2020-04-15 05:48] #3372 closed

[2020-04-15 05:55] Bobgy commented on #3503
I'm not sure this will be useful for all cases.

If the pipeline requries cluster-specific setup or specific permission, local may not be a good way to test.
I think caching will be a key improvement to fast testing iterations already implemented.

Do you think there are any other frictions that make local better than remote? Maybe we should fix them instead.

[2020-04-15 05:57] Bobgy commented on #3496
Will https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/aws be a good tutorial?

[2020-04-15 05:57] Bobgy commented on #3496
/assign @Jeffwan @eterna2

[2020-04-15 05:59] Bobgy commented on #3491
/assign @jingzhang36

[2020-04-15 05:59] Bobgy commented on #3491
@jingzhang36 sounds like we should fix this before 1.0
feel free to adjust

[2020-04-15 06:05] Bobgy commented on #3465
Thanks for the report @amitripshtos!

Sorry I don't have experience with this specific issue, looks like it relates to using nginx with node/express, rather than any business logic with Kubeflow Pipelines.

Help wanted on troubleshooting the issue and (even better if we have a tutorial to set up nginx with Kubeflow Pipelines).

[2020-04-15 06:06] Bobgy commented on #3461
/cc @rmgogogo @jingzhang36
I think we have an existing similar issue. Do you have any ideas?

[2020-04-15 06:08] Bobgy commented on #3460
@Ark-kun @rui5i do you want to continue efforts on this? TBH, I'm not very convinced on benefits of a Job.

and lack of self-healing may be problems

[2020-04-15 06:10] Bobgy commented on #3454
I agree this is a common need for CI/CD pipelines.

Is suspend and resume the argo way to do it?
I remember seeing in Jenkins, we may make a component that waits for user signal.

Not sure which option will be a better fit. Welcome discussion on this.

[2020-04-15 06:12] Bobgy commented on #3453
/close
Looks like question answered.

Do we need to add more documentation about this? If yes, please reopen

[2020-04-15 06:12] #3453 closed

[2020-04-15 06:19] Bobgy commented on #3449
@chensun @jingzhang36
I vaguely remember one of you fixed a similar issue. Do you have any context?

[2020-04-15 06:28] Bobgy commented on #3442
@eedorenko sorry for getting back to you late.

KFP version: Build commit: ca58b22, this is KFP 0.2.0, KFP backend hasn't supported the new feature.

[2020-04-15 06:54] Bobgy commented on #3441
FYI, there were some recent efforts to upgrade KFP to 0.2.5 in Kubeflow 1.0.2.
If you want to upgrade manually, you can refer to manifests there: https://github.com/kubeflow/manifests/issues/984

/close
closing this because it's a version problem

[2020-04-15 06:54] #3441 closed

[2020-04-15 06:55] Bobgy commented on #2237
FYI, some recent efforts to upgrade to KFP 0.2.5 in Kubeflow 1.0.2:

If you want to upgrade manually, you can refer to manifests there: https://github.com/kubeflow/manifests/issues/984

[2020-04-15 06:57] Bobgy commented on #3432
/assign @numerology
Not sure, can you own this?

[2020-04-15 06:59] Bobgy commented on #3426
@dagondagon666 The other issue is correct, it's a kubeflow problem.

/close

[2020-04-15 06:59] #3426 closed

[2020-04-15 07:00] Bobgy commented on #3418
/close
looks like fixed by https://github.com/kubeflow/pipelines/pull/3437

[2020-04-15 07:00] #3418 closed

[2020-04-15 07:02] Bobgy commented on #3402
You are right, that's a duplicate of https://github.com/kubeflow/pipelines/issues/2773.
The fix will be released in Kubeflow 1.0.2

[2020-04-15 07:02] Bobgy commented on #3402
/close

[2020-04-15 07:02] #3402 closed

[2020-04-15 07:03] Bobgy commented on #3401
@rmgogogo Can you link relevant PRs? I think you already finished.

/close

[2020-04-15 07:03] #3401 closed

[2020-04-15 07:05] #3442 closed

[2020-04-15 07:06] #2814 closed

[2020-04-15 07:07] Bobgy commented on #3389
/close
already fixed

[2020-04-15 07:08] #3389 closed

[2020-04-15 07:10] Bobgy commented on #3342
/close
As https://github.com/kubeflow/manifests/issues/984 is fixed

[2020-04-15 07:10] #3342 closed

[2020-04-15 07:15] Bobgy commented on #3380
@daikeshi sorry for late reply.

This seems an interesting problem. Can try adjusting tensorboard deployment in the cluster directly and see if can fix your problem?

I think missing `resource request` is a common problem with KFP deployments, (and it's hard to  address from OSS side, we need to make them configurable)

[2020-04-15 07:21] Bobgy commented on #3381
And the fix will be released in Kubeflow 1.0.2 soon
https://github.com/kubeflow/kubeflow/issues/4803

[2020-04-15 07:21] #3381 closed

[2020-04-15 07:22] Bobgy commented on #3382
@rmgogogo I don't think the cli.md documentation is for user facing. It was more internal debugging.

Shall we remove it/hide it with some warning?

[2020-04-15 07:25] Bobgy commented on #3383
@rmgogogo for removing that restriction.

In the meantime, I think you should deploy following https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/. AI platform pipelines deploys the same thing as standalone.

[2020-04-15 07:38] Bobgy commented on #3386
How do you deploy KFP?
If you are using Kubeflow Deployment, I think you can use the same approach as how other services are exposed.

Your pipeline should create a `service`, a `VirtualService` (it's istio specific) to expose it.

Examples:
* service: https://github.com/kubeflow/manifests/blob/master/pipeline/pipelines-ui/base/service.yaml
* virtual service: https://github.com/kubeflow/manifests/

[2020-04-15 07:38] #3386 closed

[2020-04-15 08:20] rmgogogo commented on #3454
I'm more treating this FR as a WORKFLOW feature.
It will have more extensions like
- which role can approve it
- who approved it
- customized workflow logic definition, e.x. 1st people approve it, 2nd audit it or something like it.

So it's more of a workflow feature to me and it can be handled via following options.
1. On top of KFP (another workflow system which has role/user/rule to call KFP AP

[2020-04-15 10:17] jingzhang36 commented on #3491
The spec at https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/#/definitions/apiPipeline is actually for our backend CreatePipeline method, not for upload pipeline method. While CreatePipeline method belongs to our pipeline server, upload pipeline method belongs to a different and separate server. Their parameters are not fully aligned.

So, a couple of things we can

[2020-04-15 11:11] rmgogogo commented on #3505
yes!
/cc Jingzhang36

[2020-04-15 12:36] NikeNano commented on #2802
Sounds cool, would also appreciate this a lot. I will take a stab at fixing this!

[2020-04-15 14:13] omarzouk commented on #3491
Thanks for your responses!

@jingzhang36 interesting, I thought it belonged to the upload_pipeline because description works with file uploads in the UI, when I examine the network request I see this `https://XXXXXX.pipelines.googleusercontent.com/apis/v1beta1/pipelines/upload?name=asd&description=test`. I'm wondering what version of the API/Server do they use in the UI?

To answer your question h

[2020-04-15 14:59] amygdala commented on #3382
We've had some customers specifically ask about this option so as to automate the process (deploy programmatically).  So I don't believe we should remove this info.

[2020-04-15 16:05] numerology commented on #3432
Of course.

The problem is that `beam_pipeline_args` is not treated as execution properties (or custom properties). In fact, semantically, it's not something that has an impact to the actual output artifacts so the cache will be used if only `beam_pipeline_args` is changed.

Let's follow up with TFX team to see if they wish to change this logic.

[2020-04-15 16:42] thebinaryone1 commented on #3499
https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/#export-the-metrics-file

[2020-04-15 17:18] yanniszark opened #3513 "Multi-User Authorization: Add support for K8s RBAC via SubjectAccessReview"
As per the latest design doc: https://docs.google.com/document/d/1R9bj1uI0As6umCTZ2mv_6_tjgFshIKxkSt00QLYjNV4/edit?ts=5e4d8fbb#heading=h.5s8rbufek1ax

Add support for using K8s RBAC for authorization in Kubeflow Pipelines.
Backend endpoints will be mapped to K8s RBAC permissions.
Authorization checks will be done using SubjectAccessReview.

Related:
https://github.com/kubeflow/pipelines/issues/122

[2020-04-15 18:43] Jeffwan commented on #3496
@Bobgy Default manifest works for all the platform. https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/aws points to some manifest with deep AWS integration like managed MySQL and artifact store.

I think if user looks for basic standalone setup, existing https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize#tldr is good enough.

If user looks for customizati

[2020-04-15 21:05] yantriks-edi-bice commented on #3214
I upgraded pipelines to 0.4 on Kubeflow 1.0.2 on GCP

I realize the fix to specify service account was merged post 0.4 release so I'm still patching manually

!sed -i "s/'serviceAccountName': 'default'/'serviceAccountName': 'default-editor'/" /home/jovyan/.local/lib/python3.6/site-packages/kfp/containers/_container_builder.py

Though the following continues to fail with "<Details>Primary: /namespa

[2020-04-15 21:32] yantriks-edi-bice commented on #3214
I am getting further along - past this issue - after deleting all metadata deployments (may have broken things following the pipelines upgrade instructions which apparently were for standalone pipelines) and reapplying kfctl.

[2020-04-15 21:56] gautamkmr commented on #596
Apache Beam has been released with s3 support. The latest version is 2.20.0.

[2020-04-15 23:22] Jeffwan commented on #596
@gautamkmr  Check #3185 The blocker is now on the TFX side.

[2020-04-16 01:23] khani92 opened #3515 "Tensorboard not working with k8s secrets"
### What steps did you take:
I'm running kubeflow on an EKS cluster and have my tensorboard events file uploaded to s3. The "Open Tensorboard" button shows up on the kubeflow UI i.e. the kubeflow artifact is stored to s3 properly (the source on the `/mlpipeline-ui-metadata.json` is an s3 path .

On clicking the button I get properly navigated to the tensorboard viewer page. But on that page the ev

[2020-04-16 01:52] khani92 commented on #3515
@eterna2 @Jeffwan have you seen this before?

[2020-04-16 02:09] Bobgy commented on #3499
@thebinaryone1 Thanks!
Sure, we should add a better error message for this.

[2020-04-16 02:10] Bobgy commented on #3499
bumped priority

[2020-04-16 02:19] Bobgy commented on #3496
@Jeffwan I think we need to remove proxy-agent from default manifest and make it truly generic

[2020-04-16 02:27] eterna2 commented on #3515
Might want to check whether the service account assigned to the tensorboard pod has access to k8s secret.

I think the default sa has no access to secrets.

[2020-04-16 02:32] Bobgy commented on #3513
Thanks for driving this!
also
/cc @chensun

[2020-04-16 02:38] Bobgy commented on #3382
/cc @rmgogogo
I believe https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/ is our answer to deploy programmatically. It is the same (almost) as AI Platform Pipelines.

The only missing feature right now is lack of setup for default bucket.

I think @rmgogogo is actively working on a standard CLI installation path for AI Platform Pipelines based on standalone. That will be

[2020-04-16 02:40] rmgogogo opened #3516 "Support notification after a pipeline run done"
It's a request mentioned in today's community meeting.
After a pipeline run got done, we can provide a notification to trigger other tasks/systems.

Without this feature, it's still can be handled via user-codes.

Option-1: Last step in pipeline write a file to some place, e.x. GCS. File watcher get the signal and trigger things outside of KFP.

Option-2: Last step in pipeline put msg to certain c

[2020-04-16 02:41] rmgogogo commented on #3516
@jessiezcc

[2020-04-16 02:43] rmgogogo commented on #3382
yes, I'm refactory the CLI path now.
Please expected big changes related CLI codes/docs in upcoming weeks. This one is included.

[2020-04-16 02:44] rmgogogo commented on #3382
more info:

in CLI path, we will provide 3 options related with authentication.
- workload identity (preferred)
- application default credential
- scopes=cloud-platform

[2020-04-16 02:45] rmgogogo commented on #3516
@Bobgy

[2020-04-16 02:46] rmgogogo commented on #3516
Option-3: we provide a sample component and tutorial to demo how to use user-codes to handle notification. (It would also help mitigate the requests on providing Workflow styled requests).

Option-3 will be treated with priority.

[2020-04-16 03:00] Bobgy commented on #3516
FYI: argo has examples we can follow: https://github.com/argoproj/argo/blob/master/docs/workflow-notifications.md

[2020-04-16 03:01] daikeshi commented on #3380
Thanks, @Bobgy! Yes, we can adjust individual tensorboard viewer deployment. I was thinking if it's possible that the resource request can be configured on UI along with the tensorflow version. Current version on KFP UI is not very powerful, a lot of people end with running tensorboard cli locally.

[2020-04-16 03:03] Bobgy commented on #3380
@daikeshi Thanks for the input. I asked for trying with changing the deployment was because I wanted to make sure resource request was the correct fix.

We can improve on extra options provided for sure. A clear summarization of which options are often used and why will be a great starting point for us.

[2020-04-16 03:29] Ark-kun commented on #1375
Closing the issue since the https://nbviewer.jupyter.org/github/kubeflow/pipelines/blob/7b6957a/samples/core/component_build/component_build.ipynb sample has been checked in.

[2020-04-16 03:29] #1375 closed

[2020-04-16 03:32] Ark-kun commented on #1900
The ExitHandler can only use the pipeline arguments. You can pass it `kfp.dsl.RUN_ID_PLACEHOLDER` to get the unique run name that can be used to get information from the backend.

[2020-04-16 03:32] #1900 closed

[2020-04-16 04:01] Jeffwan commented on #3496
Agree. this may make people confused. Besides that, we need some guidance to tell user how to use port-forward to visit UI for some entry level user as well. I actually see some questions on this.

[2020-04-16 04:02] Jeffwan commented on #3515
Have a check on this tutorial as well https://www.kubeflow.org/docs/aws/pipeline/#support-tensorboard-in-kubeflow-pipelines

[2020-04-16 04:32] khani92 commented on #3515
@Jeffwan thanks for sharing the document. Yep, I've done those steps.
@eterna2 : I'm using an opaque opaque secret so I don't think it's linked to a serviceaccount.

Besides I don't think it's a credentials issue because I see the correct values when I run the following command:

[code]

And here's how the env var show when I describe the pod just for reference:
[code]

[2020-04-16 04:57] eterna2 commented on #3515
This is very strange. Have u tried `kubectl exec` into the pod to look at the env?

Because if it works with raw env, there is no reason why it doesn't work with secrets, unless the credentials are wrong?

i.e. I did made a similar mistake before. When I use `echo` instead of `echo -e`, and accidentally introduced a new line into my secret.

[2020-04-16 05:24] khani92 commented on #3515
Thanks @eterna2 ! I think you did help, it was an extra `\n` at the end of the creds. Not sure why I ruled that possibility out. Thanks! And sorry for the false alarm. I'll close this out.

[2020-04-16 05:24] #3515 closed

[2020-04-16 06:52] Ark-kun opened #3519 "YAML serialization and deserialization seems to be _not completely awesome_"
This issue describes the root cause for multiple weird problems experienced by our users when they were unable to run their pipelines when uploading them using UX while running the pipeline notebook worked fine. For example, https://github.com/kubeflow/pipelines/issues/2495

I have found the root cause.
It's really a prime example of _not completely awesome_ design, _not completely awesome_ standa

[2020-04-16 06:54] Ark-kun commented on #2495
@l1990790120
I have found the root cause.
Please read the writeup at https://github.com/kubeflow/pipelines/issues/3519

[2020-04-16 07:25] Ark-kun commented on #3078
The visualization-server licenses seem to be broken after some package got updated.

[2020-04-16 07:57] Bobgy commented on #3078
@Ark-kun OK, I will try to do the same for visualization-server.

[2020-04-16 12:29] yaronha opened #3523 "client.schedule_pipeline not working with cron"
Seems like there is a bug in `client.schedule_pipeline()` call, the cron schedule is not set properly

### What steps did you take:
i tried the API using:
[code]

### What happened:

the job didn't get the schedule part since the job json seem to be malformed:

[code]

should have been:

`"trigger":{"cron_schedule":{"cron":"0 0 * * * ?"}}`

looking at the code there seem to be an issue:
https://gi

[2020-04-16 18:51] chensun opened #3524 "Add `ExperimentUUID` to `jobs` table"
#2929 has added `ExperimentUUID` column to `run_details` table for performance optimization.
We should consider doing the same for `jobs` table as well. Other than benefiting the `ListJobs` performance, this will also help with code consistency between runs and jobs.

[2020-04-16 19:28] Ark-kun opened #3525 "UX+Backend - Error messages might be pretty long and repetitive"
Currently, the errors might be hard to read in the UX.

Repro steps:

Upload the following pipeline and try creating a run:
[code]

[2020-04-16 19:31] Ark-kun opened #3526 "Backend - Reject invalid pipelines"
The backend should use Argo's lining capabilities to validate workflows at upload time. Or at least try to unmarshal the YAML into an Argo Workflow object. Otherwise, the users only get errors at run submission time.

[code]

[2020-04-16 22:01] Jeffwan commented on #3405
@Ark-kun minio gateway seems an extra layer under minio? User need to use minio service with gateway to delegate request to S3. Is that correct? I think that solve some of the requirements and kind of easy but brings extra layer.

Yes. For sure, the problem is it's always minio here, if user want to use S3 to replace minio. Currently, it's not working well.

[2020-04-17 02:13] Bobgy commented on #3525
I agree, we should have a high-level design on how UI can get human readable error messages.

[2020-04-17 02:34] jackwhelpton commented on #1956
I'm getting blocked by this too. We're also trying to configure GPU dynamically, but that's running into problems because `add_node_selector_constraint` can't take PipelineParams: I was hoping I could use a previous parse step to build the node selector and then apply it using `parse_task.outputs`.

Would that be covered by this ticket, or need a new one, or is there a workaround I'm missing?

[2020-04-17 04:23] #2495 closed

[2020-04-17 04:23] #3519 closed

[2020-04-17 06:55] Ark-kun opened #3532 "Presubmit e2e test moves forward even when api-server image fails to build"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3517/kubeflow-pipeline-e2e-test/1251026921311965184

https://pantheon.corp.google.com/cloud-build/builds/f118551d-7ea3-4812-ae1c-d2788787c62a?project=ml-pipeline-test

[2020-04-17 07:11] Ark-kun commented on #3532
@Bobgy  Found the root cause: https://github.com/kubeflow/pipelines/commit/2500812914c814090ac5af0c11de4024adac1973#r38554080

[2020-04-17 09:50] Ark-kun opened #3538 "Failing api-integration-tests"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3536/kubeflow-pipeline-e2e-test/1251074359473213440

[code]

[2020-04-17 16:23] akartsky opened #3541 "AWS SageMaker component improvement"
1] Organize the component code better and delete data_location parameter
https://github.com/kubeflow/pipelines/pull/3518

[2020-04-17 16:51] pselden opened #3542 "ml-pipeline pod crashes when run pipeline called with empty parameters list and has_default_bucket = true"
### What steps did you take:
1. Created a pipeline with some runtime parameters, some of which have default values and some of with are empty
2. Used the kfp client to run pipeline
[code]
### What happened:
The ml-pipeline pod crashes with the following error:

[code]

### What did you expect to happen:
Should run successfully with default parameters.

### Environment:
kfp==0.4.0
kfp-server-api==0

[2020-04-17 20:13] andrewgdavis opened #3545 "RBAC error for ml-pipeline-scheduledworkflow"
### What steps did you take:
[code]

### What happened:
Log message reported:

### What did you expect to happen:
Correct RBAC permissions applied for serviceaccount ml-pipeline-scheduledworkflow

### Environment:
    Image:          gcr.io/ml-pipeline/scheduledworkflow:0.2.5
    Image ID:       docker-pullable://gcr.io/ml-pipeline/scheduledworkflow@sha256:26ab7ef0d9652af904b0ada6baecb109f85d2c5bf

[2020-04-17 22:15] andrewgdavis commented on #3545
appending the following rules to the role "ml-pipeline-scheduledworkflow-role" makes the error log go away

[code]

[2020-04-18 00:05] chensun commented on #3538
/reopen
/assign @chensun

Previous fix wasn't right, I'll give it a second attempt.

[2020-04-18 23:06] Jeffwan commented on #3398
Argo side, argo tracks awssdk upgrade in this issue. https://github.com/argoproj/argo/issues/1774.
This has been included in https://github.com/argoproj/argo/releases/tag/v2.5.0. We need this version at least in KFP

[2020-04-18 23:13] Jeffwan commented on #3322
Vote for Argo upgrade. There's critical improvement for AWS users in https://github.com/argoproj/argo/releases/tag/v2.5.0.  We need
`#1899 feat(artifacts): Add support for IAM roles for service accounts in artifact storage. Fixes #1774` this feature to inject role, otherwise user always need to use AWS credentials which are not secure.

I am not sure if current 2.3 -> 2.6 is a big jump, seems mini

[2020-04-19 00:23] sadeel opened #3548 "GCS Path as input artifact"
### What steps did you take:
I have a pipeline that accepts the GCS path that contains input data that is used to train the model. I would like the GCS path to be tracked as an input artifact. Here is my workflow:

[code]

### What happened:
The input GCS path (train_path) is not tracked by the artifact feature.

### What did you expect to happen:
The input GCS path should be tracked.

### Environ

[2020-04-19 04:35] numerology commented on #3548
/assign @Ark-kun
/assign @numerology

[2020-04-19 04:44] numerology commented on #3548
Hey @sadeel , this is because under the hood the `train_path` is not interpreted as an artifact, but only passed as a primitive value.

You can try to declare it as an `InputPath` as in [this example](https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components/Data%20passing%20in%20python%20components%20-%20Files.py#L96).

[2020-04-19 05:57] Ark-kun commented on #3548
Unfortunately, even in this case it won't be considered an artifact.

Artifacts are _intermediate_ data. They must be _outputs_ of some components. (And TFX has the same behavior - artifacts are only created when they are outputs.)

To make this data tracked, you need to _import_ it into the system.
[code]

P.S. You might find the [Creating components from command-line programs](https://github.com

[2020-04-19 08:21] Ark-kun commented on #3461
Related: https://github.com/kubeflow/pipelines/issues/3061

[2020-04-19 08:22] Ark-kun commented on #3461
I've tried to upgrade the build rulez, bazel and gazelle. After fixing some issues, I think we'll also need to update the Kubernetes repositories and modules.

[2020-04-19 11:30] MiHess opened #3891 "Pipelines sample error - Uniform Bucket Level Access required"
/kind question

**Question:**
Hi, I am just getting started with Kubeflow Pipelines.

I have successfully deployed Kubeflow v1.0.0  to GCP using the UI. However, when I try to run some of the available samples in the Kubeflow UI that need to access some storage, e.g. the "Basic - Sequential" sample, I get the following error:
`This step is in Error state with this message: failed to save outputs:

[2020-04-19 13:12] sadeel commented on #3548
Thank you for the clarification.

Does import mean that I have to copy it from GCS to a local file, or can I
feed the GCS path directly to my binary by using a component that just
echoes the GCS path?

On Sun, Apr 19, 2020, 1:57 AM Alexey Volkov <notifications@github.com>
wrote:

[2020-04-19 16:04] descampsk opened #3550 "ml-pipeline memory leak and no HPA support"
### What steps did you take:
[A clear and concise description of what the bug is.]

ML-pipeline seems to have a memory leak and it doesn't support HPA.

### What happened:

As this two screens shows, ml-pipeline seems to use all memory available for its pods until it is OOM and killed. It seems that it never free the memory.

If we have two pods of ml-pipeline only one is used. When the first one

[2020-04-20 03:21] #3532 closed

[2020-04-20 05:05] rmgogogo opened #3551 "Always show GettingStart page for Standalone"
Currently GettingStart page is only visiable in MKP deployment.
We may let it be visiable always as long as it's standalone  KFP (& MKP).

[2020-04-20 05:05] rmgogogo commented on #3551
@Bobgy SG?

[2020-04-20 06:14] Bobgy commented on #3551
@rmgogogo Sounds reasonable, it's stable enough for all.

[2020-04-20 06:14] Bobgy commented on #3551
Changed to KFP 1.0, because low efforts

[2020-04-20 06:21] Bobgy opened #3552 "[Metadata Writer] TypeError: create_new_execution_in_existing_context() got an unexpected keyword argument 'custom_properties'"
Follow up bug of https://github.com/kubeflow/pipelines/issues/3462

### What steps did you take:
1. I used image: gcr.io/ml-pipeline-test/18bfbfcbc01e6da63f1357fd70079996ed51d512/metadata-writer@sha256:80637db1522432ce7da87c3533d397bbd3c2f0d3e4d68323a9ae9fdcac02a8a3 from https://github.com/kubeflow/pipelines/pull/3479
2. Ran a pipeline

### What happened:
No executions are logged, found error log

[2020-04-20 06:22] Bobgy commented on #3552
Looks like function interface didn't add the new property: https://github.com/kubeflow/pipelines/blob/152c91c705911239a71ff9400c40805799cfd85f/backend/metadata_writer/src/metadata_helpers.py#L195

[2020-04-20 06:40] Bobgy commented on #3424
@numerology did you fix the issue? With https://github.com/kubeflow/pipelines/pull/3457 we may also remove the markdown. (but we can keep it for a while before people can upgrade KFP installation).

[2020-04-20 06:48] Bobgy opened #3554 "[Multi-User] Deploy UI artifact service for each namespace"
Design:

* UI fetches artifact with extra namespace parameter
* UI server proxies the artifact request to a ml-pipeline-ui-artifact service in each user's namespace
* The ml-pipeline-ui-artifact service uses user-namespace specific permissions, so different namespaces can have different permissions.

Work items:
* [x] UI server should be able to proxy to services in different namespaces based on n

[2020-04-20 06:49] Bobgy commented on #3554
/cc @chensun

[2020-04-20 07:18] ICDS-Offering opened #3555 "While building the Frontend Dockerfile, it fails with compilation error"
While doing the docker build of frontend Dockerfile of 0.4.0 tag, I see the below error

Creating an optimized production build...
Failed to compile.

/src/src/pages/NewRun.tsx
TypeScript error in /src/src/pages/NewRun.tsx(50,26):
Cannot find module '../../../frontend/third_party/argo-ui/argo_template'.  TS2307

    48 | import { ToolbarProps } from '../components/Toolbar';
    49 | import { URLPa

[2020-04-20 07:29] Ark-kun commented on #3552
@Bobgy Thanks for finding the bug. I've created a fix PR: https://github.com/kubeflow/pipelines/pull/3556

[2020-04-20 07:37] Ark-kun commented on #3548
If you want the data to become an artifact, you have to import it (download it so that the system takes the data file, puts it into storage, generates the URI for it and adds Artifact).
If you're fine with not having this initial data as an Artifact, then you can just pass the URI to your trainer as you did initially.

That's the current situation.

[2020-04-20 08:21] discordianfish commented on #3405
I'm confused as well. If somebody could outline what steps need to be taken to support s3, I can help implementing them. But reading the comments here leaves me none the wiser.

[2020-04-20 08:53] #3538 closed

[2020-04-20 10:19] #3491 closed

[2020-04-20 10:20] jingzhang36 commented on #3491
@omarzouk The above merged PR should allow you to specify description when uploading pipeline.

[2020-04-20 10:25] Bobgy commented on #3552
/reopen
@Ark-kun I'm not sure if I tested it correctly, after upgrading metadata-writer to the test image in your PR. I got the following error instead:
[code]

[2020-04-20 15:47] numerology commented on #3424
It should be fixed in https://github.com/tensorflow/tfx/commit/3ea79f9bd9fcc903b8a7eb890fd33c984af4366e

[2020-04-20 18:44] chensun opened #3562 "Flaky integration test - StorageState mismatch"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3544/kubeflow-pipeline-e2e-test/1252289987068563456
[code]
/cc @jingzhang36 @hongye-sun

[2020-04-20 21:38] Ark-kun commented on #3552
Sorry for the error. I wanted to fix the issue ASAP and I made a mistake.

I've opened a fix PR: https://github.com/kubeflow/pipelines/pull/3563

I've verified that it now works without errors: https://pantheon.corp.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22ml-pipeline-test%22%0Aresource.labels.location%3D%22us-east1-b%22%0Aresource.labels.cl

[2020-04-21 01:20] miramar-labs commented on #3070
I am running on a pure Kubernetes install on my home ESXi system .. 3 masters, 8 workers ..
I tried DISABLE_GKE_METADATA=true
Doesn't seem to fix the problem.....
Any other suggestions?

[2020-04-21 01:33] miramar-labs opened #3569 "pods running in kubeflow namespace"
### What steps did you take:
I ran the example exit handler pipeline

### What happened:
I noticed the pods ran in the kubeflow namespace

### What did you expect to happen:
I expected them to run in *my* user namespace (generally speaking this would be better for security reasons)

### Environment:
vanilla K8s (3masters/8workers onprem ESXi cluster)

How did you deploy Kubeflow Pipelines (KFP)?
k

[2020-04-21 01:51] Bobgy commented on #3070
Which version did you install? You can check image field of `ml-pipeline-ui` deployment

[2020-04-21 01:51] Bobgy commented on #3070
@miramar-labs

[2020-04-21 01:54] Bobgy commented on #3424
@numerology thanks!
let's close this then
/close

[2020-04-21 01:54] #3424 closed

[2020-04-21 01:59] miramar-labs commented on #3070
ah!  ok it looks like it is 0.2.0 .. I guess I should change that to 0.2.5 ?

[2020-04-21 02:11] Bobgy commented on #3552
@Ark-kun no problem at all, thanks for fixing again.
I tried the new image in UI and got most of metadata logged with kfp_pod_name successfully.

However, it seems some components do not get metadata. I can find error logs like
[code]
any clues?

[2020-04-21 02:28] Bobgy commented on #3070
@miramar-labs I'd suggest install Kubeflow 1.0.2 instead: https://www.kubeflow.org/docs/started/getting-started/

it has 0.2.5 KFP (not all features may work if you just update the UI server's version)

[2020-04-21 02:54] miramar-labs commented on #3070
ok well I just installed 1.0.2 on a fresh k82 cluster .. seemed to install ok but now i'm seeing an error 'etcdserver request timed out' in the UI when:
1. I create the initial namespace in the 'setup' tab
2. when I add my jupyterlab notebook server

any ideas what that's about?

[2020-04-21 05:22] sakaia opened #3570 "Example hello_world.py keeps pending."
### What steps did you take:
create microk8s1.15 + kubeflow1.0.2(istio)

[code]

### What happened:
The deployment keeps pending. Is there any way to solve this problem?

[code]
Container logs are follows

[code]

### What did you expect to happen:
The deployment works successfully.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

I install microk8s1.15 + kubeflow 1.0.2 (istio).
In

[2020-04-21 05:26] chensun commented on #3562
Somehow we're not using the latest build of api-server.
https://screenshot.googleplex.com/mNg7LcvPBx7

I can also confirm this as the added log not showing up:
https://screenshot.googleplex.com/HX6pwQbFEHD
https://screenshot.googleplex.com/OH5G8nX4zBK

[2020-04-21 05:28] abhishek-tyagi87 opened #3571 "pipeline visualization image build process is not moving further when try "RUN /usr/local/gcloud/google-cloud-sdk/install.sh" instruction in docker file"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:
i am trying to build image from Dockerfile.visualization file. when instruction 'RUN /usr/local/gcloud/google-cloud-sdk/install.sh' is running , it is prompt and asking y or N  .even giving this, its not moving futher.

STEP 6: **RUN /usr/local/gcloud/google-cloud-sdk/install.sh**
Welcome to the

[2020-04-21 06:57] Bobgy commented on #3070
@miramar-labs Sorry, I've never seen that. Because jupyter notebook server also has the same problem. Sounds like it's not related to Kubeflow Pipelines, maybe you can ask about it in kubeflow community or repo?

[2020-04-21 08:51] jonasdebeukelaer commented on #3523
@yaronha do you plan to implement the fix? If not, I'm happy to take it on.
Not sure if anyone else should be in the loop?

[2020-04-21 12:22] jonasdebeukelaer commented on #3523
also am I looking in the wrong place or are there no unit tests for the sdk client?

[2020-04-21 12:59] yaronha commented on #3523
@jonasdebeukelaer there is already a fix in a nother PR, waiting for it to merge:

https://github.com/kubeflow/pipelines/pull/3490

[2020-04-21 13:57] omarzouk commented on #3143
I can confirm this issue, it happened to me without warning after a few weeks of normal operations.

I'm running version 0.2.5 on a custom cluster. I attempted similar resolution steps to @parthmishra :
1- Deleting the pod didn't resolve the issue
2- Deleting the config resolved it, but it meant that the endpoint changed, which means I have to update all my application deployments

[2020-04-21 14:01] jonasdebeukelaer commented on #1180
hey @JohnPaton I'd be interested in working on this feature, if you haven't already? @rileyjbauer is that fine with you?

[2020-04-21 14:35] rmgogogo opened #3575 "Support launching TensorBoard before Trainer done"
Currently TB is launched after training done. It means user loses the debug/monitoring ability when in training.

Since both estimator & native-keras TB output path is fixed, technically we can launch TB before Trainer done.

[2020-04-21 16:05] sadeel commented on #3548
Thanks, a follow-up question. My trainer needs to run on a GPU, while using ContainerOp I would just use:
  op.set_gpu_limit(1)

Do you know how to add a GPU using the component definition you mentioned above?

[2020-04-21 16:21] martin-laurent commented on #1075
Any update on this? It's been a year!

[2020-04-21 17:07] RunOrVeith opened #3576 "Client.wait_for_run_completion and "Terminate" in the UI"
### What steps did you take:

Start a pipeline via python code, and wait for it's execution:

[code]

Once it runs, click "Terminate" inside the kubeflow pipelines UI on the top right.
For me, I hit terminate while the run was stuck on "ImagePullBackoff" (since some permissions in our docker registry changed), so before anything was actually being run, but while the step was in "Pending State".

#

[2020-04-21 18:20] sadeel commented on #3548
Thanks, a follow-up question. My trainer needs to run on a GPU, while using ContainerOp I would just use:
  op.set_gpu_limit(1)

Do you know how to add a GPU using the component definition you mentioned above?

[2020-04-21 18:51] lucinvitae commented on #1263
Experiment removal/archival would be a great feature to have.

Without it, the experiments view (`/#/experiments`) becomes cluttered and less useful over time.

[2020-04-21 19:00] sadeel commented on #3548
Thanks numerology that works.

It looks like by default minio is used for artifact storage - is there any way to use GCS instead? My workflow looks like the one Ark-kun mentioned

[2020-04-21 19:02] numerology commented on #3548
@Ark-kun

Does that mean we need to revive ArtifactLocation?

[2020-04-21 19:14] hongye-sun opened #3577 "run-frontend-integration-tests failure"
[33mrun-frontend-integration-tests[0m:	Starting ChromeDriver 74.0.3729.6 (255758eccf3d244491b8a1317aa76e1ce10d57e9-refs/branch-heads/3729@{#29}) on port 25251
[33mrun-frontend-integration-tests[0m:	Only local connections are allowed.
[33mrun-frontend-integration-tests[0m:	Please protect ports used by ChromeDriver and related test frameworks to prevent access by malicious code.
[33mrun-front

[2020-04-21 19:15] hongye-sun commented on #3577
Full log: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3566/kubeflow-pipeline-e2e-test/1252662840892854272/build-log.txt

[2020-04-22 00:47] miramar-labs opened #3579 "Request Jupyter Server Connect/Disconnect"
At the moment you can add multiple Notebook Server definitions and connect to them to use them. I'd like to see a Disconnect button too, so that I can keep the server definition around but stop the server (unloading it's pods) when i'm not using it to minimize cluster resources used.

[2020-04-22 01:11] Ark-kun opened #3580 "MetadataWriter should stop recording non-KFP Argo pods"

[2020-04-22 01:16] Ark-kun commented on #3570
This is probably an issue with an underlying system (Argo or even Kubernetes)

Can you please try
[code]

[2020-04-22 01:47] sakaia commented on #3570
Thank you for your help. The outputs are already written above. I also find the warning on events.
But above output `Events:` says `<none>`

[code]

[2020-04-22 02:05] sakaia commented on #3570
From seeing the error,  It seems following issue. https://github.com/kubeflow/pipelines/issues/561

Continue digging.

[2020-04-22 02:32] Bobgy opened #3584 "Error when using KFP with argo workflow"
### What steps did you take:
[A clear and concise description of what the bug is.]
I ran a native argo workflow on a cluster with KFP.

### What happened:
Nothing goes wrong, but I can see error messages like
[code]
in kfp api server.

### What did you expect to happen:
Native argo workflows shouldn't affect KFP system.

### Environment:

I looked at our presubmit test clusters.

/kind bug

/area

[2020-04-22 04:23] #3577 closed

[2020-04-22 08:03] sakaia commented on #3570
This problem was solved. My environment is microk8s 1.15 + kubeflow 1.0.2

The problem was already documented on  https://github.com/argoproj/argo/issues/2557#issuecomment-607239438

I changed from `docker` to `k8sapi` for attribute `containerRuntimeExecutor`

[code]
More specific, I edit `params.env` which is created  by `kfctl build` command
then execute "kfctl apply`

Of course upto microk8s 1.

[2020-04-22 08:03] #3570 closed

[2020-04-22 15:11] Bobgy commented on #2899
@chensun I'm blocked by https://github.com/kubeflow/pipelines/pull/3495#discussion_r413068687 for adding this to UI. Can you help me troubleshoot?

[2020-04-22 16:29] elikatsis commented on #1779
@Ark-kun @IronPan

Hi there! Pinging again for an answer to this comment: https://github.com/kubeflow/pipelines/issues/1779#issuecomment-572001702

Since it's been some time (KFP has had many releases, KF ships with a KFP version containing #1720), can we move to using a different _Argo magic string_ and not override the existing `{{workflow.uid}}`?
Is it OK if I submit a PR fixing that behavior?

[2020-04-22 18:49] Ark-kun commented on #3552
Can you please send the link to the full log?

Maybe there is some error when registering the upstream executions in the data passing sample.

[2020-04-22 20:41] Ark-kun commented on #3569
Does this happen with other samples?

This will be enabled as part of the multi-user feature. @chensun

[2020-04-23 00:56] hongye-sun opened #3589 "Generate release notes failed"
Found 52 tags
Fetching tags dates: 52/52
Sorting tags...
Received issues: 3088
Pull Request count: 2200
Filtered pull requests: 1931
#<Thread:0x00007f09f8661828@/var/lib/gems/2.5.0/gems/github_changelog_generator-1.15.0/lib/github_changelog_generator/octo_fetcher.rb:193 run> terminated with exception (report_on_except
ion is true):
Traceback (most recent call last):
        32: from /var/lib/gems/

[2020-04-23 01:03] hongye-sun opened #3590 "[FR] Exponential backoff support"
The exponential backoff support is added since Argo 2.5 (https://github.com/argoproj/argo/pull/1782).

Considering updating https://github.com/kubeflow/pipelines/blob/master/go.mod#L7.

[2020-04-23 01:09] Bobgy commented on #3552
will update here

[2020-04-23 02:00] Bobgy commented on #3523
https://github.com/kubeflow/pipelines/pull/2978 was the earliest fix as far as I know.
@Ark-kun @numerology for interface review

[2020-04-23 02:01] Bobgy commented on #3523
/assign @Ark-kun @numerology

[2020-04-23 02:02] Bobgy commented on #3524
/assign @chensun @jingzhang36
sounds like a good idea

[2020-04-23 02:03] Bobgy commented on #3526
Great idea!

[2020-04-23 02:04] JakeTheWise commented on #2954
This is broken again with kubeflow pipelines version 0.4.

[2020-04-23 02:06] Bobgy commented on #2954
/reopen
@JakeTheWise Can you share the detailed error message? Is it the same as mentioned above?

/assign @rmgogogo @numerology

[2020-04-23 02:07] JakeTheWise commented on #2954
[code]

[2020-04-23 02:18] Bobgy commented on #2954
@JakeTheWise that seems different from this issue. If that's true, can you open a separate issue for it?

[2020-04-23 02:23] JakeTheWise commented on #2954
Well, the issue is that I can't seem to connect to my KFP Standalone deployment from python using the kfp sdk. Now I'm getting this error:
[code]

[2020-04-23 02:24] JakeTheWise commented on #2954
I'm trying to run this code from a python script:
[code]

[2020-04-23 02:24] JakeTheWise commented on #2954
Sorry, didn't mean to close the issue

[2020-04-23 02:32] Bobgy commented on #2954
I see, makes sense.
/assign @numerology @rmgogogo for investigation
I don't have much expertise on these

[2020-04-23 03:15] numerology commented on #2954
Hi @JakeTheWise I believe you need to set the `host` instead of `client_id` in `kfp.Client()`. Do you mind trying again?

[2020-04-23 03:24] Bobgy commented on #3322
@hongye-sun it seems this is one more reason for this upgrade: https://github.com/kubeflow/pipelines/issues/3590

[2020-04-23 03:25] thebinaryone1 opened #3591 "Feature Request : Allow runs to be filtered on run attributes like metrics, time, duration etc[UI]"
Multiple runs with different metrics can be easily sorted to see which runs were the best.

All the metrics don't show up in the metrics column and there is no way to scroll right to view all the metrics in the "Runs" page of an experiment.
For the metrics that do show up, they always have a a tooltip saying "Cannot sort by this column"

The UI to view metrics or sort by them feels unusable right

[2020-04-23 03:26] JakeTheWise commented on #2954
Yes, that causes the `kfp_server_api.rest.ApiException` I mentioned earlier.

[2020-04-23 03:29] Bobgy commented on #3591
@thebinaryone1 Can you give a screenshot or further explain `All the metrics don't show up in the metrics column`?
Is there a metric count limit in the UI?

Sounds like a reasonable request. Will all your runs fit in one page in the UI? (we can list more runs by choosing page size)

@jingzhang36 I believe backend cannot sort by metric, is that true?
I'm thinking about if a client side sort solutio

[2020-04-23 03:34] numerology commented on #2954
Oh I see.

So I think there are two possible reasons here:

1. The KFP deployment itself is temporarily unavailable for some reason (auto-upgrading/scaling etc.), in which case I think you cannot access the UI either; or
2. There is a mismatch b/w the kfp-api-server on the client side vs. that on the server side. So can you confirm which KFP SDK version you are using? And which KFP deployment vers

[2020-04-23 03:35] rmgogogo commented on #3405
https://github.com/e2fyi/kubeflow-aws/tree/master/pipelines
would this Kustomization help?

As for GCS backed, it's here:
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/sample

[2020-04-23 03:39] JakeTheWise commented on #2954
I can access the UI just fine and both the server and client are v0.4.

Is there a better way to discuss minor issues like this? Can someone add me to the slack channel?

[2020-04-23 03:56] rmgogogo commented on #2954
I just did these and it works.
[code]

So it passes test my side. You may double check whether it's reproduceable. I used virtualenv to avoid hitting some Python env issue.

[2020-04-23 03:57] Bobgy commented on #2954
@JakeTheWise Note, 0.5.0 is being released in progress, maybe some of the dependencies haven't been ready yet.

[2020-04-23 04:13] Bobgy commented on #3571
I'll investigate, but our image building process in presubmit tests are still working fine. I don't know what was the difference.

@abhishek-tyagi87 can you share your exact command to start the build?

[2020-04-23 05:07] thebinaryone1 commented on #3591
![image](https://user-images.githubusercontent.com/23407392/80061203-7693db00-84e5-11ea-8e3f-b45f9031eff9.png)

This only shows two metrics in the UI display, whereas my runs write more than 2  metrics.

The issue is not with how many runs I can list in one page.

[2020-04-23 05:20] Bobgy commented on #3591
@thebinaryone1 thanks for the information!
A design that allows choosing which metrics to show seems important to unblock your use-case.

I was asking about the sort feature you were requesting, would it be enough if you can sort runs in one page?

[2020-04-23 05:27] thebinaryone1 commented on #3591
It doesn't help much to sort it in just that one page. Ideally sorting should be done in the backend itself.

This is specially important when running a hyper-parameter sweep where each trial is writing an objective value and then in the end we want to see which trial did the best. Currently doing a list_runs() using KFP python client and then sorting it seems to be the best option. Would be great

[2020-04-23 05:29] Bobgy commented on #3591
@thebinaryone1 thanks for the clarification. Now I understand the scenario. Agree on your conclusions.

/assign @jingzhang36
for whether backend can support that

for `cannot show more than two metrics`, I can prioritize later

[2020-04-23 05:43] Bobgy commented on #3552
@Ark-kun I tried again, and it successfully logged all data now (with a fresh cluster)...
I'm not sure what went wrong last time, might be an upgrade issue.

Thanks for the quick implementation! Now we get a much better metadata UI experience I believe

/close

[2020-04-23 05:43] #3552 closed

[2020-04-23 06:43] Bobgy commented on #2904
@rui5i @Ark-kun I took a look at a cached pod and read through the mutation hook's code, it seems we don't have any information UI can use to indicate a pod is cached. Is that correct?

If so, where should we add these information?

[2020-04-23 06:50] Bobgy commented on #3157
Because backend hasn't supported these. Delay to after 1.0

[2020-04-23 06:54] Bobgy commented on #1263
Work is being tracked in https://github.com/kubeflow/pipelines/issues/3283

[2020-04-23 06:54] Bobgy commented on #3283
Fixes https://github.com/kubeflow/pipelines/issues/1263

[2020-04-23 06:55] Bobgy commented on #2562
/close
implemented

[2020-04-23 06:55] #2562 closed

[2020-04-23 06:56] Bobgy commented on #3284
@dushyanthsc Can you link related PRs here? Is this done?

[2020-04-23 06:56] Bobgy commented on #3399
@rmgogogo Can you link related PRs here and can we consider this done?

[2020-04-23 07:20] chensun commented on #3569
Yes, this is covered by the multi-user feature.
We have stage 1 work delivered last December, here's the instruction doc you can try out: https://drive.google.com/file/d/1aqiBrYzTJQ9dUrjOjB2OWfTBD6MKrbt6/view

We're currently working on stage 2. The progress is tracked by #1223.

/cc @Bobgy  @IronPan

[2020-04-23 08:31] garlic5566 opened #3594 "[Question] can we set priorityClassName or priority to pods in kubeflow pipeline?"
It's a pure question rather than a bug.
Is there any trick to set priorityClassName or priority to pods in pipeline?

The argo workflow seems to support it now:
https://github.com/argoproj/argo/pull/1179/files

Here is some comments that kubeflow pipeline doesn't support it because it is "Not supported by Argo".
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/structures

[2020-04-23 09:00] Ark-kun opened #3595 "Metadata Writer should log ComponentSpec as execution custom property"
This has been requested by an internal user.

[2020-04-23 12:41] JakeTheWise commented on #2954
I had no idea that there was a CLI. Where was this feature announced, and where is it documented?

`kfp --endpoint ... pipeline list` worked, and yet in python `client.list_pipelines()` doesn't.

[2020-04-23 14:09] #2802 closed

[2020-04-23 15:32] shurain commented on #3412
I also need a way to aggregate/reduce the results created by ParallelFor. For example, if I wanted to add all of the resulting numbers created by some op inside a ParallelFor loop, how do I approach this? Or to create a list of the results that can be processed serially?

[2020-04-23 16:25] #2808 closed

[2020-04-23 17:51] HassanOuda commented on #2237
@jonasdebeukelaer
manifests/kustomize/base/pipeline/ml-pipeline-ui-role.yaml if you check 0.4 with 0.2.5 there is a change here with events. Not sure if this is the issue.

[2020-04-23 18:51] amygdala opened #3596 "SDK: outputs appear to be getting truncated, at least when used in conditional tests"
Using KFP 0.4.

I believe that this is new-ish behaviour.

I have a component that returns a string `'deploy'` as output under certain circs, otherwise returns `'False'.`  (it used to return True & False, but the boolean handling also broke recently for some reason [probably needs a separate bug], then in the process of debugging that, I switched to returning strings.)

The component function spec

[2020-04-23 19:02] amygdala commented on #3596
meant to add... I have a number of pipelines where I'm having to change to use this new single-char condition check (else they don't work properly) but I'm worried that in the next sdk release that might break them again in the other direction? So let me know if that will be the case.

[2020-04-23 19:22] amygdala opened #3597 "with standalone KFP 0.4 install, artifacts and executions not showing in UI"
I did a standalone installation of KFP 0.4 following these instructions: https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/
Everything else seems to be working properly, but I'm not seeing artifacts and execution info being logged.
(I looked at the various metadata pod logs and while I did see some warnings, there were no obvious connection-related errors.... though I migh

[2020-04-23 20:25] amygdala commented on #3597
That standalone deployment by default installs into the `kubeflow` namespace... (not `default`, which is the CAIP Pipelines default...) -- I don't suppose something is hardwired to a particular namespace?

[2020-04-23 20:26] talebzeghmi commented on #3412
An important scenario is stack or ensemble model training and scoring.  Aggregating the results or artifacts of a fanout into the ensemble/stack model.

![image](https://user-images.githubusercontent.com/4167032/80145977-eb0e5e80-8565-11ea-89a9-22bc4559d63f.png)

[2020-04-23 21:37] Ark-kun commented on #3597
I think there was a problem with envoy causing UX to fail connecting to MLMD. The UX was showing errors in the Artifacts and Executions tabs though. https://github.com/kubeflow/pipelines/issues/3500

Can you please share the logs of the metadata-writer pod (and also kubectl describe that pod)?

Maybe it's looking at wrong namespace.

[2020-04-23 21:52] Ark-kun commented on #3596
Please file the bug for this.

I think I understand what's happening. I'm really sorry for breaking you.

There was a change that fixed inconsistency of handling list outputs and single outputs (there was a bug that caused only the first element of a list being returned). Unfortunately the fix seems to have not quite intended consequences.

Here is the root cause: You've declared that the return o

[2020-04-24 00:16] amygdala commented on #3596
great, got it... returning a tuple works, and I'm happy to make changes to my code to fix it.
I believe my earlier issue related to returning a boolean was the same thing (I can't remember the exact error, but the gist was that it was trying to index in to the boolean, similar to the error it would now get with an int).

From memory, we might need to update the documentation to reflect this change

[2020-04-24 00:53] hongye-sun opened #3599 "[FR] Expose Argo retryStrategy"
Argo supports [RetryStrategy](https://github.com/argoproj/argo/blob/master/docs/fields.md#retrystrategy), which supports:

* Always
* OnError
* OnFalure

The FR is to expose the interface in DSL and make sure the backend argo version supports the strategies.

[2020-04-24 01:09] Ark-kun commented on #3552
That's still weird... If you remember the name of the cluster, then the logs in the StackDriver remain forever.

[2020-04-24 01:12] Ark-kun commented on #3599
Can you please describe the use case that you want to enable that its currently not supported?

[2020-04-24 01:22] Ark-kun commented on #3594
Unfortunately, this is currently not possible in the SDK.
We support all container attributes (via `my_task.container.something = ...`), but pod attributes require explicit support in the SDK since that's how Argo supports them (e.g. You could not use `priorityClassName` in Argo until that PR).

What is the scenario where you'd like to use that feature and how critical it is for your project?

[2020-04-24 01:29] Bobgy commented on #2407
Another new issue I found out:
* Inconsistency between building in `frontend/server` folder locally and in docker

[2020-04-24 01:33] Bobgy commented on #3552
@Ark-kun You can find logs here: https://pantheon.corp.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22gongyuan-pipeline-test%22%0Aresource.labels.location%3D%22asia-east1-c%22%0Aresource.labels.cluster_name%3D%22standalone2%22%0Aresource.labels.namespace_name%3D%22kubeflow%22%0Alabels.k8s-pod%2Fapp%3D%22metadata-writer%22%0Alabels.k8s-pod%2Fapplic

[2020-04-24 01:38] Bobgy commented on #3552
I didn't see any other error messages from the one I pasted above.

Additionally, I guess something special is that the cluster had a broken metadata-writer for a while (previous patch), I've ran some pipelines. Then I updated the image to the fixed metadata-writer. Do you think this scenario could cause problems? If yes, maybe we need to improve its final-consistency guarantee

[2020-04-24 01:55] Ark-kun commented on #2904
Looks like we did not add any extra labels, so the labels/annotations of reused pods are same.
We could add a few annotations here: https://github.com/kubeflow/pipelines/blob/master/backend/src/cache/server/mutation.go#L126 For example we can include the original start time and end time.

However, given a pod, it's pretty easy to detect that it was skipped (it does not have any Argo containers):
h

[2020-04-24 01:58] garlic5566 commented on #3594
Our project runs in on-premises machine. The default pod priority is very low so the kubeflow pipeline will be blocked due to lack of resources.
Does the SDK just generate the standard argo workflow yaml so we can upload any valid workflow yaml to kubeflow pipeline frontend?
I wonder if there is an ugly workaround that we can use this function to get a workflow dict:
https://github.com/kubeflow/pi

[2020-04-24 02:32] Bobgy opened #3600 "[Frontend pH] document how to run frontend-integration tests locally"
Marked as p2 priority because we don't have a need to write new integration tests recently and the old test runs well most of the time.

[2020-04-24 02:40] Bobgy opened #3601 "[Frontend pH] Inconsistency between building UI server locally and in docker"
### What steps did you take:
Build locally:
1. cd pipelines/frontend/server
2. npm run build

Build in docker:
docker build -f pipelines/frontend/Dockerfile

### What happened:
Sometimes it builds successfully with one approach but fails with the other.
We've hit similar issues many times. Latest example is: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3593/kubef

[2020-04-24 02:47] Bobgy commented on #2407
Most important issues have all been fixed!!
/close

[2020-04-24 02:47] #2407 closed

[2020-04-24 02:50] Bobgy commented on #49
This should be relatively not as important as other issues

[2020-04-24 02:52] Bobgy commented on #2702
Moving this to post 1.0, because there hasn't been any requests. I think we can focus on workload identity support for now

[2020-04-24 03:07] rmgogogo commented on #3143
I will try submit a fix in <3days

[2020-04-24 03:48] Bobgy commented on #2904
@Ark-kun I'm a little worried about if we are relying too much on argo details:
* we need to let UI understand argo artifact path structure, there is a part that's the workflow name
* UI needs to understand cache server modifies argo outputs to reuse past outputs
* There are no other systems modifying argo outputs

The last two points probably is also dangerous to cache server...

It really sounds

[2020-04-24 04:30] Bobgy commented on #2904
Digging through some related argo issues, I understand argo isn't really taking the feature request.

[2020-04-24 04:39] Bobgy commented on #2904
@Ark-kun Can I assume we only cache successful steps?

[2020-04-24 06:31] jingzhang36 commented on #3591
Seems that our backend doesn't support sorting/filtering by metric values yet. The fields that can be used in backend filter for Run are listed here https://github.com/kubeflow/pipelines/blob/ebd77a7a12f86f8a975337e6336fa6efb498a01e/backend/src/apiserver/model/run.go#L72

The earliest time we can get to the implementation of the sorting/filtering with metric values in backend is May, given our cur

[2020-04-24 06:34] Ark-kun commented on #3405
Yes. It's served as proxy. The advantage of using it is that all services (UX, Backend, Argo etc) only need to talk to one kind of service - in-cluster Minio. And the configuration (credentials etc) can be specified in one place.

[2020-04-24 06:52] twitchax commented on #3599
@Ark-kun, it can help resolve pipeline failures in cases where pod pre-emption and other weird errors occur.

[2020-04-24 07:03] Bobgy commented on #2899
UI PR to use namespaced api: https://github.com/kubeflow/pipelines/pull/3603

[2020-04-24 07:37] rmgogogo opened #3604 "TFX-KFP SDK: Rename KubeflowDagRunner as KubeflowDagCompiler"
KubeflowDagRunner doesn't run the pipeline like other Runner.
It actually just compile the pipeline to be formatted on KFP.

So here two options:
(1) rename it from Runner to Compiler
(2) add more feature to let it upload pipeline and create run.

[2020-04-24 07:39] rmgogogo commented on #3604
@neuromage SG? guess you discussed it before.

[2020-04-24 08:08] #2899 closed

[2020-04-24 08:30] jonasdebeukelaer commented on #2237
@HassanOuda cheers that did the job 👍

[2020-04-24 08:41] rmgogogo commented on #3604
After few retries and it can upload to KFP server and output msgs.
In such case, I think it's not really necessary to rename it as cost is big (need to rename docs everywhere.

So here close this issue.

I assume we don't have plan to trigger the run via KubeflowDagRunner, right?

[2020-04-24 08:41] #3604 closed

[2020-04-24 09:34] rmgogogo opened #3606 "TFX-KFP: created experiement which can't be deleted and stop upload another one"
### What steps did you take:
[code]
It will create/upload a KFP pipeline to KPF server. Meanwhile it also create an experiment with the same name of the pipeline.

I delete the pipeline so that "tfx pipeline create" can create a newer one.

### What happened:
I can't delete the Experiment from the UI.
Run "tfx pipeline create" gave me error msg: pipeline already exist.

### What did you expect to

[2020-04-24 09:35] NikeNano commented on #2863
I will look in to this, seams very similar to https://github.com/kubeflow/pipelines/pull/3534

[2020-04-24 09:35] rmgogogo commented on #3606
@jingzhang36 is this issue already been processing by you and Jiyong?
Remember we mentioned similar case before but I didn't expect it also create Experiment.

[2020-04-24 09:38] martfl opened #3607 "Getting pipeline run metrics from SDK"
Hi,
I'm currently trying to gather the metrics outputted by several scheduled runs.
I'm using `create_run_from_pipeline_func` for submitting the run and waiting for completion.

The issue is, even if a run outputs a metric showing correctly on the Kubeflow UI, I cannot find a way to get the metrics dictionary for a particular run using the SDK, or the REST API for that matter.

Running the followi

[2020-04-24 09:56] #2904 closed

[2020-04-24 11:02] rmgogogo opened #3608 "FR: record time consuming data for profiling"
We can record time-consuming data somewhere and visualize it via KFP UI or Chrome trace to well profile the pipeline performance.

Values: can well know which part is hot point and user can take better action to improve it.
With my few tests, out of my expectation is that ExampleGen and TFT normally take more time than training.

[2020-04-24 15:08] numerology commented on #3604
Right we don't.

[2020-04-24 16:18] amygdala commented on #3597
[Here's](https://paste.googleplex.com/5375623595819008) the metadata-writer logs (for googlers).
I am noticing periodic errors like this:
![image](https://user-images.githubusercontent.com/115093/80233762-dc7a8280-860b-11ea-9295-ae3d824c0f75.png)

Here's the pod description:
[code]

[2020-04-24 17:44] Jeffwan commented on #3405
@Ark-kun  I checked gateway and run some tests. This is working fine. I can file a PR to  aws overlay.  The current question is some users don't like to use minio as gateway, do we want to support direct object store access? The PRs listed above aims to solve this problem.

@rmgogogo  e2fyi repo can not replace entire minio. Still needs some changes.

[2020-04-24 20:52] amygdala opened #3609 "cache-server in KFP 0.4: gets 'TLS handshake error', does not work properly"
With KFP 0.4.
I did a[ 'standalone' deployment](https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/), and at first caching worked okay, but after a while it broke.
The `cache-server` pod logs started giving errors like this:
`TLS handshake error from 10.240.0.87:53558: remote error: tls: bad certificate`

Restarting the cache-server deployment did not fix the error.
What is

[2020-04-25 00:08] Ark-kun commented on #3609
Can you also check the `cache-server-deployer` logs?
And also did it ever restart.

[2020-04-25 08:55] Ark-kun commented on #3599
Do you only want to retry on errors, but not on failures?

[2020-04-25 14:17] NicoG94 opened #3611 "Connect to minikf via sdk"
### What steps did you take:
[code]

### What happened:
gets me this error:
[code]

### What did you expect to happen:
Connect to minikf and list the experiments i ran in the minikf UI

### Environment:
Windows 10
64-Bit
Python 3.7.4

How did you deploy Kubeflow Pipelines (KFP)?
minikf locally on computer with virtual box and vagrant

KFP version:
build version v1.0-56-g5ae311f8

KFP SDK version:

[2020-04-25 18:30] twitchax commented on #3599
Yes, both.

[2020-04-26 00:03] Ark-kun commented on #3597
This one is fine. (Although I should do some cosmetic fix there). Kubernetes watches cannot last forever and after some time you get error instead of a proper object. But Metadata Writer swallows the error and starts a new watch.

Are you seeing no UX errors? I've seen MLMD problems on 0.4. See https://github.com/kubeflow/pipelines/issues/3500#issuecomment-613260165 That problem might be fixed by

[2020-04-26 00:04] Ark-kun commented on #3599
Both errors and failures?

[2020-04-26 00:24] Ark-kun commented on #3599
I looked at Argo source code. The default `RetryPolicy` is `OnFailure`.
What if we change the default to Always?
Do we have scenarios when we do not want the `Always` behavior?

[2020-04-26 00:29] Ark-kun commented on #3548
This simple guide shows how to switch from Minio to GCS: https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md#configuring-gcs-google-cloud-storage

[2020-04-26 00:31] Ark-kun commented on #3548
I think it's better to have this configuration in the cluster. When we start using GCS by default in Marketplace deployment, we should start getting less of those questions.

[2020-04-26 02:15] thebinaryone1 opened #3612 "Multiple run termination option"
There should be an option in the UI to support terminating multiple runs at the same time.

Also there seems to be no SDK method to terminate a run.

[2020-04-26 03:01] Ark-kun commented on #3612
There should be an auto-generated method. Probably `kfp.Client().runs.terminate_run(...)`.
Discover all available methods using `dir(kfp.Client().runs)`

[2020-04-26 03:01] Ark-kun commented on #3608
If I remember correctly, the start time and end time of every Argo node is available in Workflow status.

[2020-04-26 03:03] Ark-kun commented on #3595
Are there any UX problems when the value of some property has big size? @Bobgy @kwasi

[2020-04-26 03:14] Ark-kun opened #3613 "Support execution id placeholder in component.yaml"
Replace the Argo placeholder in https://raw.githubusercontent.com/kubeflow/pipelines/2dac60c/components/google-cloud/storage/upload_to_unique_uri/component.yaml

[2020-04-26 03:16] Ark-kun commented on #3607
Now, I would expect run_info to hold the dictionary of the metrics the run outputs, instead it is always None.
Maybe there is something wrong with metrics collector in the backend. @rmgogogo @IronPan

You can also just pass the metrics output to some "exporter" component. For example "Upload to GCS":

[code]

[2020-04-26 03:32] Bobgy commented on #3595
@Ark-kun I think we'd need to have some UI plugin to collapse long custom property with a click to expand button. Otherwise, it will clutter the UI.

[2020-04-26 04:50] numerology commented on #3606
Just saw this.

I think the current `blessed` way to update a pipeline is to use `pipeline update`

[2020-04-26 04:54] numerology commented on #3606
@rmgogogo
I think `pipeline already exists` error is triggered because the local pipeline file was not cleaned up. It's not sufficient to delete the pipeline in KFP server but also some local pipeline files need to be cleaned up as well.

You can refer to the code at https://github.com/tensorflow/tfx/blob/master/tfx/tools/cli/handler/base_handler.py#L186

BTW, the 'blessed way' of updating a pipel

[2020-04-26 05:22] twitchax commented on #3599
I think, in some cases, you might choose not to always retry `OnFailure`, especially if the operator calls some type of costly underlying compute.

I think it would be best if _all_ of the options were exposed through KFP.

[2020-04-26 07:16] Ark-kun commented on #2540
Closing the bug. The issue is not in KFP.

[2020-04-26 07:16] #2540 closed

[2020-04-26 12:30] jhagege opened #3617 "Alibaba Cloud OSS storage support to save artifacts"
Hi, can Kubeflow Pipeline save intermediate artifacts to Aliyun OSS storage (equivalent of S3, or GCS storage) ?
What does it require ?
Thanks for any assistance.

[2020-04-26 13:30] yoni-taranis opened #3618 "cache-deployer-deployment crashes due to missing role permissions"
### What steps did you take:
Upgrading kubeflow 0.2.5 to 0.5.0, all seemed to went smoothly, except of the mentioned deployment crashlooping.

### Anything else you would like to add:
I have fixed this by adding the missing **ClusterRole** with the apiGroups:
  - 'certificates.k8s.io'
  - 'admissionregistration.k8s.io'

Then, binding them to the **kubeflow-pipelines-cache-deployer-sa** service acc

[2020-04-26 14:35] Bobgy commented on #3294
I tried enabling istio sidecars for tensorboard services, but istio rbac still reject all requests when user should be authorized.
After some troubleshooting, I found that it seems istio didn't automatically find out the traffic is in http, so authorization rules based on http properties didn't take effect. https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/

Therefore,

[2020-04-26 23:54] AndriiNeverov commented on #3031
@numerology

Seeing this while moving from KF 1.0.0 to 1.0.2:

- ran ```kubectl delete deploy ml-pipeline minio mysql ml-pipeline-persistenceagent ml-pipeline-ui ml-pipeline-viewer-controller-deployment  ml-pipeline-scheduledworkflow ml-pipeline-ml-pipeline-visualizationserver```
- applied 1.0.2 manifests on top
- tried to run "[Sample] Basic - Parallel execution"

1.0.2 manifests contain changes

[2020-04-27 00:46] Ark-kun opened #3621 "Argo upgrade - features and bugs"
This issue will collect features and bugfixes that we want from newer Argo versions and the bugs they have.

Features:
* https://github.com/argoproj/argo/pull/1336 in v2.4.0+ Allow output parameters with .value, not only .valueFrom
* https://github.com/argoproj/argo/pull/1350 in v2.4.0+ Implemented support for WorkflowSpec.ArtifactRepositoryRef
* https://github.com/argoproj/argo/pull/1782 in v2.5.

[2020-04-27 00:59] Ark-kun commented on #3618
How did you deploy KFP? (Marketplace or Standalone)?

There should have been [kubeflow-pipelines-cache-deployer-clusterrole](https://github.com/kubeflow/pipelines/blob/45bc5823743ee9a2f3a67eddbf6e7d8f650323a4/manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/cache.yaml#L16) and [kubeflow-pipelines-cache-deployer-clusterrolebinding](https://github.com/kubeflow/pipelines/blob/45bc5823743e

[2020-04-27 01:02] Bobgy commented on #3618
Did you deploy this step in https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#deploying-kubeflow-pipelines?
[code]

[2020-04-27 01:54] Bobgy commented on #3621
Some existing required features were mentioned in https://github.com/kubeflow/pipelines/issues/3322

[2020-04-27 02:03] rmgogogo opened #3625 "Lineage UI no longer render artifact names"
### What steps did you take:
Add a custom component after CsvExampleGen.

https://www.tensorflow.org/tfx/guide/custom_component

### What happened:
Lineage UI didn't well visulize the output.

![aaa](https://user-images.githubusercontent.com/3444479/80327326-4befac80-886e-11ea-9f2d-989ea8d8c7d3.png)

### What did you expect to happen:

Correct visulization

### Environment:

How did you deploy Kub

[2020-04-27 02:06] rmgogogo commented on #3625
A sample here:
https://1c4774e7d442cc4c-dot-us-central2.pipelines.googleusercontent.com/#/pipelines/details/4ed92edb-431e-4e81-965b-1461d6e26d75

[2020-04-27 03:45] rmgogogo commented on #3143
"2- Deleting the config data resolved it, but it meant that the endpoint changed, which means I have to update all my application deployments"

Any more group on "update all application deployment"?
Is it possible you fetch the URL dynamically via the configmap? That URL is designed to be dynamic.

I guess the issue you hit is that the "proxy-agent" pod is moved to another VM while the system uses

[2020-04-27 04:05] Bobgy commented on #3625
@rmgogogo Do you mean artifacts are unamed?

[2020-04-27 04:33] garlic5566 commented on #3594
FYI, we had tried "create_workflow" in the kfp 0.1.30. We can get workflow, add podPriorityClassName to it, send it to kubeflow pipeline frontend and run the pipeline well.

We know it is not encourage so it would be great if new kfp version support priorityClassName but it is not critical for us now.

Thanks!

[2020-04-27 08:29] NikeNano commented on #3526
Is any one working on this? I would be happy to take a look at this!

[2020-04-27 08:54] husamaf opened #3628 "Pods mounting the same volume can not seem to run in parallel"
Hi, I hope I'm not missing something painfully obvious here but basically I can't seem to get 2 GPU components to run side-by-side.
(The components fine without a GPU constraint)

### What steps did you take:
1. Created 2 KFP components each representing a simple 300-sec `while` loop.
2. Added a GPU constraint to each component ('nvidia-tesla-p100').
3. Created a pipeline where the 2 components ru

[2020-04-27 09:10] omarzouk commented on #3143
@rmgogogo Yes, you are right. I actually did that, so my deployment code now fetches the URL from the configmap.

However, I think that it is not nice that the deployment code needs to be aware of the underlying configmaps of the Kubeflow deployment. It feels a bit too hacky. What if you guys change how the proxy stores its configmap in a newer version? This means upgrading would be a big pain.

B

[2020-04-27 09:31] discordianfish commented on #3405
Isn't minio suppose to be compatible to s3? I don't understand the need for the gateway.

How do we authenticate clients connecting to the minio gateway? Does that require an additional layer of authentication? Or is this enforced by istio on a networking level?

Not convinced this is better than granting individual components IAM permissions.

[2020-04-27 15:04] NikeNano commented on #3526
Would it make sense to do the validation inside here: https://github.com/kubeflow/pipelines/blob/de0747ec8b9a4d4a412457004b3bbac2cea2e6a4/backend/src/apiserver/resource/resource_manager.go#L226

I am a bit uncertain about the inner workings of the API and where it would make the most sense to have it.

[2020-04-27 15:44] numerology opened #3630 "[SDK] kfp.Client().wait_for_run_completion() cannot handle long execution"
### What steps did you take:
If one tries to kick off kick off a pipeline using `kfp.Client()` and wait for its completion, the waiting process will error out in ~1 hour with the following error msg.

[code]

Note that the 1 hour limitation seems very deterministic. My initial investigation pointed to the `gcloud auth print-access-token` we use [here](https://github.com/kubeflow/pipelines/blob/de0

[2020-04-27 15:49] numerology commented on #3630
/assign @numerology
/assign @jingzhang36

I believe here two things can be done to improve this (and perhaps, avoid similar issues from happening in the future):

1. Fix the authorization mechanism in SDK by adding refresh.
2. Currently our backend does not seem to return error when something wrong happen. Is there a way to improve the debugging experience by adding proper error message when respo

[2020-04-27 17:44] amygdala commented on #3597
Hmm, I think it's the former, as the TFX pipeline also shows no output, and I'm seeing this UI error:
![image](https://user-images.githubusercontent.com/115093/80403152-fb7b4d80-8873-11ea-968c-74fcc6b10f4a.png)

[2020-04-27 17:57] pahask8 commented on #3609
Hi @Ark-kun,
I have the same issue:

from the cache-server logs:

[code]

Based on cache-deployer logs, I think it should be the service ip `cache-server.kubeflow.svc` (please correct me if I'm wrong).

[code]

Here is the server-deployer log:

[code]
Please let me know if you need more information.
Thank you

[2020-04-27 18:18] niteshldd commented on #3165
Hi Team,

We are having same issue even we are using latest version.

[2020-04-27 18:21] akartsky opened #3631 "AWS Sagemaker Components : Add unit tests and integration tests"
1] Add unit tests for all the components
2] Add integration tests for all the components

[2020-04-27 18:30] surajkota commented on #3631
target is to create a test setup using pytest to maintain code quality and prevent regressions in kubeflow pipeline components for sagemaker which are in this [directory](https://github.com/kubeflow/pipelines/tree/master/components/aws/sagemaker)

The tests will not run as part of PR builds in this repository since an AWS account is needed for the jobs to run on Sagemaker. Tests will be accompanie

[2020-04-27 18:43] Ark-kun opened #3632 "[Cache] Watcher needs to swallow periodic errors"
A single watcher cannot last forever in Kubernetes. It expires.

We need to handle this gracefully. Usually Go functions return `err` that can be checked. But in this case we're iterating on a channel.

https://github.com/kubeflow/pipelines/blob/de0747ec8b9a4d4a412457004b3bbac2cea2e6a4/backend/src/cache/server/watcher.go#L40

The error from logs:
[code]

Right before that:
[code]

[code]
https://p

[2020-04-27 18:55] Jeffwan commented on #3631
Sounds like a good plan.

How do you plan to run integration tests?

[2020-04-27 20:20] Ark-kun opened #3633 "[Cache-deployer] Verify that re-running the deployer does not break the installation"
Running the deployer multiple times seems to be breaking the installation (leading to TLS handshake errors in the server).

We need to investigate this and fix any problems.

For now, I'll make a change to prevent deployer re-running.

https://pantheon.corp.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22aju-vtests2%22%0Aresource.labels.location%3D