[2020-12-14 01:21] Bobgy commented on #4717
https://github.com/kubeflow/pipelines/blob/master/backend/api/build_kfp_server_api_python_package.sh
Does community suggest to use these shell to generate codes?

These are what we use right now.

It'd be great to clean up others if they are not used.

[2020-12-14 01:28] Bobgy commented on #3250
For the last issue, I just noticed we had a makefile for generating API swagger definitions from proto (before we used bazel):
https://github.com/kubeflow/pipelines/blob/2f3a686e545b671d3d1ce96bbcc07b18cb905a87/backend/api/Makefile

We may use it as a reference when migrating bazel based generation script back.

[2020-12-14 01:34] Bobgy commented on #3250
A quick recap of remaining issue:
* [ ] Remove bazel usage from https://github.com/kubeflow/pipelines/blob/master/backend/api/generate_api.sh

`jingzhang36` had an WIP PR for removing bazel from proto generation script: https://github.com/kubeflow/pipelines/pull/4393

but it went into the wrong direction, because we need the generated code checked in the repo, rather than during docker build step.

[2020-12-14 01:35] Bobgy commented on #3250
/cc @NikeNano
this is the tracker issue for removing bazel, in case you didn't know it.

[2020-12-14 02:05] #4717 closed

[2020-12-14 07:26] munagekar commented on #4574
I was thinking of a similar issue for my organization. Kubeflow Pipelines Pure Components use inputPath to copy data. If the dataset size is large, the file might not fit in the ephermeral storage in node.

However all inputPath and outputPath use /tmp as a prefix.  In case of very large data, a possible workaround is to mount a PVC to /tmp directory.

[2020-12-14 20:39] berndverst commented on #4789
@yilun-msft just be aware that in upstream OICD is limited to Istio 1.3.X (or maybe 1.4.X) at the moment. There is upstream community work ongoing to support newer Istio versions with OICD.

[2020-12-14 21:16] mbaijal commented on #4888
Hi @jchaudari,
Thanks for reporting the issue, we are taking a look at it.

Thanks,
Meghna

[2020-12-14 21:26] mbaijal commented on #4888
Hi @jchaudari,
Are you certain you are using the latest version of the components ? The attached yaml files show that you are using version 0.3.0 of the image which is very old. This feature was added more recently in version 0.9.0 -
https://github.com/kubeflow/pipelines/blob/master/components/aws/sagemaker/Changelog.md.

Could you please try with the newer version and let us know if that fixes yo

[2020-12-14 22:33] #4273 closed

[2020-12-14 22:33] #4849 closed

[2020-12-15 01:54] capri-xiyue commented on #4673
I tried to reproduce the bug with master branch whose head is `dc5386e801cafe0f4bb50d24b6f2979c46269b82`
But I can't reproduce the bug and I checked the code  https://github.com/kubeflow/pipelines/blob/7a66414cf72ba5c746cac7fc6c8ecad67fc5e885/backend/src/apiserver/resource/resource_manager.go#L317
The logic follows the comments of kfp sdk:
        `If both pipeline_id and version_id are specified,

[2020-12-15 04:05] #4836 closed

[2020-12-15 06:02] Bobgy commented on #4897
Transferred the issue to pipelines repo.

[2020-12-15 06:03] Bobgy commented on #4897
@saurovn the hard question is how should KFP API server authenticate to enterprise GitHub or Google Storage?

It's probably easier with Google Storage. Any ideas how enterprise GitHub can fit in?

[2020-12-15 07:52] wenmin-wu opened #4898 "Support `retry` and `get` detailed logs of each node through python API"
I have a project which creates pipeline runs programmatically. But, when the job is failed, I cannot get the detailed logs of each computation node through python API and retry based on the error. Since we can get the detailed logs and retry on UI, I think there's a way to achieve this.

[2020-12-15 11:18] berndverst commented on #4407
The PR is currently being reviewed so there should be an update here soon.

[2020-12-15 11:48] berndverst commented on #4569
@sudivate seems like you found a workaround by manually hijacking the browser cookie and passing that into the KFP client.

https://www.kubeflow.org/docs/azure/authentication-oidc/#authenticate-kubeflow-pipelines-using-kubeflow-pipelines-sdkhttpswwwkubefloworgdocspipelinessdksdk-overview

If you are not looking into any other changes related to this, do you want to close this issue for now?

[2020-12-15 18:51] adriangay commented on #4822
@numerology

Hi. Before I cause trouble over on TFX :) I thought I'd let you know what I've managed to accomplish. The following excerpt from a compiled pipeline YAML TFX InfraValidator component  shows modification of resources:

[code]
I achieved this using ```override_component_config``` as follows:
[code]
In order to run this locally on OSX, I cheated, by mocking ```KubernetesComponentLauncher

[2020-12-15 19:00] numerology commented on #4822
@adriangay

The current behavior of `InfraValidator` is as follows:
1. The code in its [executor](https://github.com/tensorflow/tfx/blob/master/tfx/components/infra_validator/executor.py) will be launched using `InprocessComponentLauncher`, and then
2. the executor will use [KubernetesRunner](https://github.com/tensorflow/tfx/blob/4ac96bbbb04b85d7f8d121b5e090bc109aa4a702/tfx/components/infra_valid

[2020-12-15 19:50] #4673 closed

[2020-12-15 19:57] adriangay commented on #4822
@numerology

As I mentioned, I am trying to perform functional test prior to deployment in a real K8s/KFP pipeline. I am running a ```KubeflowDagRunner``` 'locally' to verify the operation of infraVal. Earlier tests use a local BeamRunner and local Docker launch config, and that executes InfraValidator component via local Docker API. What I'm doing now ius trying to prove that we can modify the co

[2020-12-15 20:19] marcjimz commented on #4649
@Bobgy we can pick this up as this will be a requirement for us to go multi-tenant. I think this makes sense as the administrator of the platform would be provisioning the namespaces and with that can provision the scoped configMap.

I suspect we want to edit the workflow spec more upstream to here: https://github.pwc.com/AI-Lab/kubeflow-pipelines/blob/914ca584adb725db1664d87efa31bdef5a290f1b/back

[2020-12-15 20:24] marcjimz commented on #4649
@Bobgy we can pick this up as this will be a requirement for us to go multi-tenant. I think this makes sense as the administrator of the platform would be provisioning the namespaces and with that can provision the scoped configMap.

I suspect we want to edit the workflow spec more upstream to here: https://github.com/kubeflow/pipelines/blob/89e42105bd941e1d918d0bff9ba0c4f80b106ed4/backend/src/crd

[2020-12-15 21:15] numerology commented on #4822
@adriangay

Sorry I got a bit of confused. What you're doing can perhaps effectively modify the resource spec where the `executor` of `InfraValidator` is running, but not the pod spun up to validate the model, right?

If that's the goal here then I think you're on the right track modulo some additional works perhaps.

[2020-12-15 21:30] capri-xiyue opened #4900 "Discuss the validation and precendence of pipeline ID, workflow manifest and pipeline version"
### What steps did you take:

1. Create a pipeline
2. Upload multiple versions to the same pipeline with different manifests (let's call the versions 1, 2, 3, and their respective manifests 1', 2', 3'. First created version is 1, official default version is 3)
3. Compile a pipeline in local and build the package with version 4 and its respective manifest is 4'

### What happened:
[code]
I checked

[2020-12-15 23:59] capri-xiyue commented on #4900
fyi @Bobgy

[2020-12-16 03:05] Bobgy commented on #4900
Thanks @capri-xiyue for the investigation and proposing ideal behavior, totally agree with everything you said.

[2020-12-16 04:51] m0hit-aggarwal opened #4903 "Error: `Failed getting executions: e.getOptions is not a function.` when opening execution tab in Pipeline UI."
I have installed Kubeflow pipelines 1.1.2 on local cluster by running the following commands:

[code]
I am getting the following error when i click the execution tab in pipelines UI.
![image](https://user-images.githubusercontent.com/33771685/102305810-e2501a00-3f86-11eb-9d0c-341185006e84.png)

Environment :
- minikube version: v1.15.1
- kubernetes version: 1.18.2
- KFP version: 1.1.2
- macOS Cata

[2020-12-16 05:21] capri-xiyue commented on #4903
I ran into the same issue with KFP version: 1.1.2

[2020-12-16 08:45] Bobgy commented on #4822
Hi @adriangay, would you mind moving the discussion to your own issue? because that seems deviated from this topic.

[2020-12-16 08:53] Bobgy commented on #4649
Hi @marcjimz, thank you for offering help.

You can look at
https://github.com/kubeflow/pipelines/blob/135bfbb9f2945a7e841d5891ee0f5862c75aa3b7/backend/src/apiserver/resource/resource_manager.go#L317
and
https://github.com/kubeflow/pipelines/blob/135bfbb9f2945a7e841d5891ee0f5862c75aa3b7/backend/src/apiserver/resource/resource_manager.go

The two methods are responsible for preparing argo workflow

[2020-12-16 08:56] adriangay commented on #4822
@Bobgy sure, no problem. At this time, my 'problem' is solved, but I will use a new issue in future. I appreciate the guidance I got here.

[2020-12-16 09:22] chensun commented on #4862
Might be a silly question, if all information about a CR is stored in the DB, why can't we just restore/resync it automatically during api-server start? Did I miss any technical challenge? or it's just some development cost?

[2020-12-16 09:31] chensun commented on #4862
Sounds reasonable to me. Thanks for driving this!

One nitpick on re this. If this is recommended, which I think it should, it better to also describe a plan on how to use this backup for recovery in case something went wrong.
BTW, given the title of this issue mentions managed storage. Do you know if we use the daily backup (snapshot) feature of managed storage?

[2020-12-16 09:44] #4107 closed

[2020-12-16 20:11] chensun commented on #4903
I was able to repro this as well. This issue exists since 1.1.2-rc.1

I suspect it might be due to some frontend dependency change:

https://github.com/kubeflow/pipelines/commit/982b506d4e2c2fe749e8b717ed88e30c737c71a8#diff-1cf387c012cd2d02f1923e589f86df4a4802427057dbc90f47b87f04d29d54bc

@Bobgy can you please take a look.

[2020-12-16 23:43] chensun commented on #4903
Adding a bit more context

The error is thrown here:

https://github.com/kubeflow/pipelines/blob/cb41f7ab1231b4f8aabe2875b59d67b2d8dce908/frontend/src/pages/ExecutionList.tsx#L146-L157

which reminds me the recent MLMD client upgrade.

PS. I verified 1.1.1-beta.1 doesn't have this issue. @m0hit-aggarwal, you may consider using that version as a temporary workaround.

[2020-12-17 02:29] Bobgy commented on #4565
Release blocker: https://github.com/kubeflow/pipelines/issues/4903

[2020-12-17 03:09] #4903 closed

[2020-12-17 03:17] Bobgy commented on #4862
The upgrade instructions will be exactly the same as reinstallation (recovery).

We leave it to users to configure backup, for example Cloud SQL already has this feature. They can read Cloud SQL documentation and do that by themselves.

[2020-12-17 03:34] Bobgy commented on #1654
This is of much higher priority now, because new Kubernetes versions won't support Docker.
upstream argo issue: https://github.com/argoproj/argo/issues/4690

[2020-12-17 03:36] Bobgy commented on #1654
Current recommendation is to use `pns` executor: https://github.com/argoproj/argo/issues/4690#issuecomment-744932752.
We already have a manifest for this purpose:
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/platform-agnostic-pns

It's time to consider switch gcp to pns and verify its stability with our test infra samples.

[2020-12-17 10:31] Imsurajkr opened #4908 "Stackdriver getting re-enabled by running Kubeflow pipelines"
### What steps we took:
Created a GKE cluster and deployed kubeflow from Google AI.
Disabled the stackdriver api.

### What happened:
I have disabled the stackdriver api still whenever i run the sample pipelines of taxi tip it automatically re-enables the api and
we get the options to check the logs on stackdriver api.

### What did we expect to happen:
I expect that it should not re-enable the st

[2020-12-17 10:43] Bobgy commented on #4857
@cabjr you might want to follow instructions in https://www.kubeflow.org/docs/pipelines/caching/#disabling-caching-in-your-kubeflow-pipelines-deployment to disable caching for your KFP instance, so that all pipelines are not cached.

[2020-12-17 10:43] Bobgy commented on #4857
but reminder that running arbitrary argo workflows with KFP may not keep working in the future, KFP has its own sdk for building workflows.

[2020-12-17 10:44] Bobgy commented on #4847
Problem fixed in #4855

[2020-12-17 10:44] #4847 closed

[2020-12-17 10:49] #4827 closed

[2020-12-17 10:53] Bobgy commented on #4862
P0 issue fixed and released
TODO(P1): sample script to restore recurring runs after reinstallation.

[2020-12-17 10:55] Bobgy commented on #4908
Adding some questions to help scope down the problem:

which pipeline did you run that caused the service to be re-enabled?
What happens if you do not run any pipeline, will the service be re-enabled?
what happens if you run a different pipeline, like the simplest data passing sample pipeline?

[2020-12-17 12:08] cabjr commented on #4857
I've done as Bobgy suggested, disabled cache for the entire  KFP Instance, might not be the ideal solution but it works as expected,

Thanks for the help

[2020-12-17 12:08] #4857 closed

[2020-12-17 16:05] elikatsis opened #4910 "Upgrade Go SQL driver for MySQL"
We (Arrikto) have been deploying multi-user KFP as part of KF with Istio sidecars. We have noticed that some Istio connection resets made the KFP API server <-> MySQL db communication break. And this was happening **a lot**.
We were essentially bumping into this issue: https://github.com/go-sql-driver/mysql/issues/674

So after some research, we found out that we are currently using an old version

[2020-12-18 00:15] haydnkeung commented on #3711
@Ark-kun How do you enable the option?

[2020-12-18 01:38] chensun opened #4915 "Postsubmit integration tests are failing"
Sample failure logs:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1339679378589618176

Looks like we're running out of quota in `ml-pipeline-test` project

[code]

[2020-12-18 01:55] chensun commented on #4915
I'm going to manually delete al the old models.

#4916 will make tests deleting the models automatically.

[2020-12-18 01:55] chensun commented on #4915
/cc @Bobgy

[2020-12-18 04:04] Bobgy commented on #4915
FYI, the issue was reported before as https://github.com/kubeflow/pipelines/issues/2356, but we haven't fixed it permanently

[2020-12-18 04:32] chensun commented on #4915
Thanks for the pointer. So #4916 doesn't fix this issue permanently either. If something went wrong in between the model deployment and the model deletion, we could still potentially leak the model. But we at least clean up the model in the happy paths, so likely it won't reach the quota limit as soon as it could before the change.

I've manually triggered the integration test in #4916, and verifi

[2020-12-18 06:27] munagekar commented on #4513
I would be interested in this feature.

[2020-12-18 06:33] akiyamasho commented on #4513
+1

[2020-12-18 06:56] #4915 closed

[2020-12-18 10:20] StefanoFioravanzo opened #4918 "Reorganize Experiments, Runs, and Archive pages"
Currently KFP has the following sidebar items:

- Pipelines
- Experiments
    - Tab1: Experiments
    - Tab2: Runs
- Archive
	- Tab1: Archived Experiments
	- Tab2: Archived Runs
- Artifacts
- Executions

![original-exps](https://user-images.githubusercontent.com/3354305/102602373-bb7a1b00-4121-11eb-83ae-21a79ae31e3d.png)
![original-archive](https://user-images.githubusercontent.com/3354305/1026023

[2020-12-18 12:03] anneum opened #4920 "Multiple Pods stucks in CrashLoopBackOff"
### What steps did you take:
Kubeflow installed on an onpremise kubenetes cluster.

### What happened:
Multiple Pods stuck in CrashLoopBackOff
ml-pipeline-viewer-controller-deployment
katib-db-manager
katib-mysql

### What did you expect to happen:
Expect that this pods start

### Environment:
On Premise Kubernetes Cluster with two nodes

How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow 1.2

[2020-12-18 12:06] anneum commented on #4920
sorry wrong repository...

[2020-12-18 12:06] #4920 closed

[2020-12-18 13:01] midhun1998 commented on #4469
Hi @amybachir . I'm facing the same issue with ml-pipeline pod. The readiness probe is failing with 503. Did you find any fix or hack?

[2020-12-18 16:17] elikatsis opened #4921 "Add more useful information in the Config tab of RunDetails"
There is information about a run in the `Config` tab of the `RunDetails` page which is not exposed and not easily retrievable.

Some of them could be the run ID, which is now retrievable only from the URL, and the workflow name, which we can assume from the pod names.
Such information proves to be really helpful, for example, when debugging a run.

Let's have this issue as an umbrella covering exa

[2020-12-18 16:17] elikatsis commented on #4921
/cc @Bobgy

[2020-12-18 16:17] elikatsis commented on #4921
/assign @elikatsis

[2020-12-18 18:22] Udiknedormin commented on #4787
Fixing PR was merged, so I'm closing the issue.

[2020-12-18 18:22] #4787 closed

[2020-12-18 21:43] JakeTheWise commented on #4099
This is still an issue for me, running KFP 1.0.4 standalone. Did anything happen of the idea of using env vars to configure the caching image?

[2020-12-18 21:44] JakeTheWise commented on #4099
/reopen

[2020-12-19 06:51] Jeffwan commented on #1654
Not sure if any one meet the problem if you save artifact in `/tmp/` like ` /tmp/outputs/Output/data` seems when PNC executor tries to save the parameter or artifacts. It will chdir to main filesystem and then chroot, looks like `/tmp/outputs/Output/data` can not be seen from wait container.. I see errors like `time="level=error msg="executor error: open /tmp/outputs/Output/data: no such file or d

[2020-12-21 03:44] munagekar opened #4923 "ML Pipeline Visualization Server Preventing Cluster Autoscaler From Working"
### What steps did you take:

Create a Profile with KF 1.1.

### What happened:

Created a deployment `ml-pipeline-visualization-server` which prevents cluster-autoscaler from working "no.scale.down.node.pod.has.local.storage". I cannot add flags to the autoscaler since its managed by GKE.

### What did you expect to happen:

Cluster autoscaler should work properly. I would like to add the annotat

[2020-12-21 03:57] munagekar commented on #4923
This happens to due to istio injection in the deployment which uses an empty dir.
https://istio.io/latest/docs/ops/common-problems/injection/

[2020-12-21 04:00] munagekar commented on #4923
This affects multiple deployments may be [this comment](https://github.com/istio/istio/issues/19395#issuecomment-696515559) is a better idea

[2020-12-21 04:01] munagekar commented on #4923
Duplicate of https://github.com/kubeflow/pipelines/issues/4530

[2020-12-21 04:01] #4923 closed

[2020-12-21 04:22] munagekar commented on #4530
Until Changes are made in kubeflow manifests, a temporary workaround is to edit the configmap manually.

[code]
Search for injectedAnnotations and add `cluster-autoscaler.kubernetes.io/safe-to-evict: "true"`.
[code]

[2020-12-21 10:52] StefanoFioravanzo opened #4924 "Simplify pipeline graph from redundant dependencies"
Sometimes pipelines have a lot of dependencies between steps. When there are a lot of "redundant" dependencies, reading the pipeline graph can become awkward.

For example, if you want to use a VolumeOp to keep some state or pass data between the steps of a pipeline, the resulting graph could look like this:

![Screenshot 2020-12-21 at 11 46 23](https://user-images.githubusercontent.com/3354305/10

[2020-12-21 11:40] Udiknedormin commented on #4924
Is there any particular reason not to reduce it on DSL or Argo yaml level and instead only add it as an optional feature in the UI? It's not really an optimization and redundancies are --- by definition --- not needed to the graph. The final graph doesn't always reflect the DSL 1:1 in all cases anyway, particularly pipelines containing corner cases of recursions, conditionals and loops, so is ther

[2020-12-22 04:44] Bobgy commented on #4099
@Ark-kun I think this is of much higher priority because of docker hub rate limiting

[2020-12-22 04:45] Bobgy commented on #4099
We should change the default image now

[2020-12-22 04:46] Bobgy commented on #4100
/lifecycle frozen

[2020-12-22 04:47] Bobgy commented on #4172
This is good for UI on boarding

[2020-12-22 06:50] #4910 closed

[2020-12-22 07:30] StefanoFioravanzo commented on #4924
@Udiknedormin I don't think changing the structure of the graph itself at definition time is a good idea. The user should always be in complete control over how the graph is defined, even if some dependencies are redundant. You can never know what edge/particular cases the reduction algorithm might miss, thus creating a wrong graph.

Having this as a UI feature instead mitigates this and still all

[2020-12-23 05:34] Bobgy commented on #1362
Hi @GarrettMooney, is there a way you can reproduce this problem?

Does it actually create runs? Or is it just the logs causing a problem for you?

Did you try to delete the recurring run from KFP UI? Did it succeed?

[2020-12-23 05:39] Bobgy commented on #4698
Duplicate of #4768

[2020-12-23 05:39] #4698 closed

[2020-12-23 06:06] Bobgy opened #4931 "How to deduplicate DB queries from KFP API server?"
Right now, handling a single API request may trigger many resource get requests from mysql:
* once in validation
* once in authorization
* once in actually handling the request

But essentially, they are getting the same information.
Any ideas to remove the redundancy?

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/pull/4914#discussion_r547633349_

[2020-12-23 06:08] Bobgy commented on #4931
Regarding priority, this isn't immediately urgent, but when people use KFP in high scale scenarios, fixing the problem could increase scalability.

[2020-12-23 07:24] #4900 closed

[2020-12-23 14:52] GarrettMooney commented on #1362
Hi @Bobgy,

I _believe_ that the way to reproduce this would be to create a recurring run under an experiment, __tmp_exp__, and then use the Python SDK to delete this experiment (on `v1.0.2` of kubeflow). It is unclear to me whether or not this recurring run was disabled or not before deletion.

It was creating runs. The logs and their associated bill were how we noticed the recurring run's persis

[2020-12-23 15:20] DavidSpek commented on #4695
@Bobgy Is implementing this just a question of setting up a cert-manager issuer and requesting a certificate from there or would the cache server need to be modified as well? As https://github.com/kubeflow/pipelines/issues/4505 is the only issue I have to get my on-prem cluster fully functional, I'd like to have this implemented for Kubeflow 1.3 if possible.

[2020-12-23 15:59] DavidSpek commented on #4440
For reference, SubjectAccessReview has been merged in https://github.com/kubeflow/pipelines/pull/4723. This is available in https://github.com/kubeflow/pipelines/releases/tag/1.2.0 (first available in https://github.com/kubeflow/pipelines/releases/tag/1.1.1-beta.1). However, from looking at https://github.com/kubeflow/pipelines/issues/3513 regarding SubjectAccessReview, it is not clear to me if Is

[2020-12-23 16:00] DavidSpek commented on #4733
@PatrickXYS SubjectAccessReview has been merged (see https://github.com/kubeflow/pipelines/issues/3513), however, it is not clear to me what the state is of Istio mTLS for authentication.

[2020-12-23 16:27] yanniszark commented on #4733
@DavidSpek @PatrickXYS a PR hasn't been opened yet. AFAIK, the plan is to PR the ServiceAccountToken auth functionality after the holidays.

[2020-12-23 16:30] DavidSpek commented on #4733
@yanniszark Awesome, thanks for the update.

[2020-12-23 20:10] capri-xiyue opened #4934 "Add the guidelines of writing UT of golang part in Contrubuting.md"
Add the guidelines of writing UT of golang part in Contrubuting.md

[2020-12-23 20:40] capri-xiyue opened #4936 "Refactor util methods into its own package"
We have some complex util methods defined in the codebase.  Currently many of them are used by the callers in the same package. Now, when we write UT, sometimes we write UT for private util methods which is antipattern. Sometimes, we increase the visibility of util methods to public even though the callers of util methods are in the same package.

It will be better that if we refactor Refactor uti

[2020-12-23 20:40] capri-xiyue commented on #4936
cc @Bobgy

[2020-12-24 02:23] Bobgy commented on #1362
@GarrettMooney thanks for the detailed report

It's not, I guess documentation wasn't visible enough: https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.server_api.html#kfp_server_api.api.experiment_service_api.ExperimentServiceApi.delete_experiment.

Yes, that's the right way to workaround this problem. However, we recommend deleting all the runs, jobs before deleting the experiment.

[2020-12-24 02:28] Bobgy commented on #1362
I believe the question (different from the original issue) is answered, so I'm going to close the issue again.
If you are interested in making api server delete all owned resources from an experiment, feel free to create a new issue.

[2020-12-24 02:28] #1362 closed

[2020-12-24 03:22] Bobgy commented on #4936
Thanks @capri-xiyue!
I don't think this is very high priority to actually make the change. It'll be great more as a standard as we develop new code.

This is a good practice for onboarding process though, so I think it's a good thing to pick one example and fix it in a PR as an example of these best practices.

[2020-12-24 03:23] Bobgy commented on #4936
/cc @chensun

[2020-12-24 03:31] Bobgy commented on #4440
No, it's not added

[2020-12-24 04:44] #4918 closed

[2020-12-24 06:48] Bobgy commented on #4886
/assign @capri-xiyue
I think it's a good issue for you to follow up

[2020-12-24 15:41] suzusuzu opened #4939 "Escape sequence bug in func_to_container_op"
### What steps did you take:

I tried to run a pipeline that contains newline code which is one of the escape sequences in `func_to_container_op` as follows.

[code]

This is the compiled yaml.

[code]

### What happened:

Syntax error have been displayed.

[code]

### What did you expect to happen:

Escape sequences are being interpreted when outputting python to a file. I want the newline code t

[2020-12-26 00:42] sylus opened #4940 "Metadata Writer can get stuck even with timeout"
### What happened:

I think this issue was reported prior but even with the timeout increases I still seem to get problem resulting in the metadata-writer constantly in a crash loop. The Metadata writer works successfully for a while but then just stops doing anything. Usually it lists any new pods it sees, but it has stopped doing printing anything to the logs.

[code]

### What did you expect to

[2020-12-26 02:53] Bobgy commented on #4695
@DavidSpek I am not familiar with cert-manager, but what you said sounds correct

[2020-12-27 14:31] ajinkya933 opened #4941 "External volume deletion stuck in infinite loop"
### What steps did you take:
[A clear and concise description of what the bug is.]
I ran MNIST example to train and predict results heres the code:

[code]

### What happened:
The experiment Ran but the attached volume to this experiment is not getting deleted.

![mnist](https://user-images.githubusercontent.com/17012391/103172965-93a35980-487d-11eb-8390-5217d4c98698.gif)

![Screenshot from 2020-1

[2020-12-27 16:33] ajinkya933 commented on #4941
@Bobgy ^ please suggest me what is going wrong ?

[2020-12-28 04:14] wlzzZ opened #4942 "Typos in comment"
https://github.com/kubeflow/pipelines/blob/24732b9dae989da56e66b332518fbc22b17c3767/backend/src/apiserver/resource/resource_manager.go#L160

Recently, I read the source code of Kubeflow Pipelines and find some typos in the comment

[2020-12-28 19:59] DavidSpek commented on #4695
It seems https://github.com/kubeflow/manifests/blob/master/admission-webhook/bootstrap/base/config-map.yaml is doing something similar things to https://github.com/kubeflow/pipelines/blob/master/backend/src/cache/deployer/webhook-create-signed-cert.sh.

Simply creating a certificate, such as the ones linked above will not result in a correct certificate as it gives the error `open /etc/webhook/cer

[2020-12-28 20:49] reem commented on #3130
Still an active issue, original fix of pushing the pickled code to an artifact and reading from it is what we've been doing internally to work around and would be a wonderful feature to have by default - it would also shrink the generated component yaml and make it more readable and less boilerplate if much of the other boilerplate code could also be moved to an artifact.

[2020-12-28 21:03] capri-xiyue commented on #4886
Rate Limit can also be used to avoid hot loop. I'm not sure why at first we use enforceRequeueDelays for persistent agent. Will it cause performance issues when there are too many work items in the work queue? Any backgound info @Bobgy
If we think the delay is too much, in our code, the base delay is 10 seconds. Based on the book programming kubernetes, https://www.google.com/books/edition/Program

[2020-12-28 21:24] capri-xiyue commented on #4886
assign @Bobgy  I need background info regarding whether we should  add exponential delays in non-error mode.

[2020-12-28 21:25] capri-xiyue commented on #4886
/assign @Bobgy

[2020-12-28 22:24] deepio-oc commented on #4559
get_pipeline_id is present in KFP 1.2.0. Closing it.

[2020-12-28 22:24] #4559 closed

[2020-12-29 02:44] #4934 closed

[2020-12-29 05:30] Bobgy opened #4943 "Discussion - shall we switch from glog to klog?"
https://github.com/kubernetes/klog was forked to fix many problems present in glog,

The prominent problem I saw was that glog adds flags globally. In container env, it will fail by default because it doesn't have permission to write log to the /tmp/ folder (by default), so we always need to add a `--logtostderr` flag so that it redirects log to stderr.

[2020-12-29 05:31] Bobgy commented on #4943
/cc @capri-xiyue

[2020-12-29 09:12] munagekar commented on #4941
This is a known issue with Kubeflow <= 1.2. https://github.com/kubeflow/pipelines/pull/4820 has the required fix.

[2020-12-29 11:04] ajinkya933 commented on #4941
@munagekar please elaborate wht do you mean by :  Install the python package from master branch.
What are these packages ?

[2020-12-29 18:56] NikeNano commented on #2654
Will fix this after https://github.com/kubeflow/pipelines/pull/4641 is merged.

[2020-12-29 19:30] NikeNano commented on #4943
+1, also glog is not under active development any longer as I understand.

[2020-12-30 06:30] ajinkya933 commented on #4941
I have also tried this :
[code]
After installation is complete:
[code]

When I create a yaml file of above code using kfp==1.2.0 I still am stuck on infinite loop.

<img width="1316" alt="Screenshot 2020-12-30 at 11 58 46 AM" src="https://user-images.githubusercontent.com/17012391/103334157-641b6980-4a96-11eb-9b88-3e8912c95ea2.png">

@munagekar @elikatsis

How do I get out of this infinite loop ?

[2020-12-30 10:23] vit- opened #4944 "[frontend] Clone run with the latest pipeline version"
Currently, the `Clone run` button opens a `New run` page with the exact same pipeline version as the original run. In our use case, however, we don't care about outdated pipeline versions, we always want to run the latest. When changing the pipeline version on the UI, the `Run parameters` form gets cleared, which is very inconvenient.
I would like to have a button that opens a `New run` page with

[2020-12-30 23:41] Bobgy commented on #1786
/lifecycle frozen

[2020-12-30 23:43] Bobgy commented on #1961
/lifecycle frozen

[2020-12-30 23:45] Bobgy commented on #4356
/lifecycle frozen

[2021-01-01 07:34] dpaks opened #4946 "Kfp Client Writes to Closed MySQL Connection"
### What steps did you take:
[A clear and concise description of what the bug is.]
I reduced the mysql wait_timeout from the default 8 hours to 10 minutes. Post this, I started seeing invalid connection errors occasionally.
### What happened:
This happens when I use a kfp client. If I use the client and leave it open for more than 10 minutes (mysql server idle connection timeout), I see invalid co

[2021-01-02 11:44] etheleon commented on #4440
thanks @yhwang , the suggestion works

[2021-01-03 09:04] yarcyarc opened #4947 "force rerun of a component, skipping cache (newbie issue)"
### What steps did you take:

1. Installed Kubeflow Pipelines over AI marketplace (https://console.cloud.google.com/ai-platform/pipelines/clusters). Default invocation of both cluster and kfp.
2. Created a pipeline based on https://github.com/kubeflow/pipelines/blob/master/samples/contrib/mnist/02_Local_Development_with_Docker_Image_Components.ipynb over upload button
3. Ran the mnist_train_op (re

[2021-01-03 12:58] DavidSpek commented on #561
I think I've run into this issue as well with Kubeflow 1.2 on Kubernetes 1.20 using containerd. Considering the deprecation of the dockershim that was announced, I think it might be a good idea to switch the on-prem kdef to use `pns` for the containerRuntimeExecutor.
https://github.com/kubeflow/pipelines/issues/1654#issuecomment-747183561

[2021-01-03 19:37] Shaked commented on #4325
@Bobgy what's missing for this issue to be resolved?

[2021-01-04 01:11] munagekar commented on #4941
Based on the logs, I think no-wait delete flat was not set to True.

Uninstall kfp first and then install from master. Post the yaml manifest on this issue after recompiling, if this does not work.

[2021-01-04 07:41] ShilpaGopal opened #4948 "How to fetch Kubeflow login username and password inside KFP components?"
Question:

**Is there a way to fetch login username and password inside KFP components?**
E.g: Pod name can be fetched as {{pod.name}}
(Available variable reference https://github.com/argoproj/argo/blob/master/docs/variables.md )

TLDR;

Kubeflow is deployed on an on-prem cluster with Keycloak integration. We have a datastore which is integrated with Keycloak as well. KF pipeline components need t

[2021-01-04 21:51] RedbackThomson commented on #4888
If there aren't any further issues, we'll close this by the end of the week. Otherwise, let us know.

[2021-01-05 14:06] boarder7395 opened #4952 "[Feature Request] Add hook for when terminate button is clicked in the UI."
During the execution of my pipeline a volume is created for passing data between components using the experimental feature kfp.dsl.data_passing_methods. If this pipeline fails the volume is not deleted. I can handle this by using an kfp.dsl.ExitHandler but then when the pipeline fails the volume will get deleted preventing me from retrying where the pipeline left off. If there were a way to add a

[2021-01-05 14:08] boarder7395 commented on #4941
See PR https://github.com/kubeflow/pipelines/pull/4820 that addressed this issue.

[2021-01-05 14:45] kd303 opened #4953 "2 Pods created for every userprofile"
### What steps did you take:
WE have a Kubeflow 1.1 with Dex enabled on premise cluster with 2 worker nodes. We have enabled few of our data-science users with LDAP integration. However what we noticed during some sort of test (we wanted to create multiple profiles and see how many users can work simultaneously - since 220 pod limit would be there vs how many pods are reserved by Kubeflow and othe

[2021-01-05 16:25] amygdala commented on #2922
let's keep this open, we really should fix it.

[2021-01-05 16:26] amygdala commented on #2922
/lifecycle frozen

[2021-01-05 17:04] elikatsis commented on #4886
Hello @Bobgy, @capri-xiyue. Sorry for the delayed answer (twas the holidays :smile: )
Continuing the discussion from [this comment](https://github.com/kubeflow/pipelines/pull/4887#discussion_r549485704) which @capri-xiyue copied above.

From the logs in my first comment, the workflow is pushed to the queue quite often. This allows us to assume that someone triggers workflow updates. I think pod up

[2021-01-05 17:41] elikatsis commented on #4941
Hi @ajinkya933 and happy new year!

You should use `vop.delete()` instead of creating a new `ResourceOp` to delete the PVC you created at the beginning.
This is for two reasons:
1. Using `vop.delete()` you ensure you will delete the proper resource (using the same name and all)
2. Currently if you use a `ResourceOp` to delete a `VolumeOp` you will be bumping into https://github.com/kubeflow/pipeli

[2021-01-05 18:07] shotarok opened #4954 "[UI] Allow users to filter pipeline runs by status"
We can filter pipeline runs by name on the KFP UI but we can't filter them by status because of the following code.

https://github.com/kubeflow/pipelines/blob/c8c9905bf2b2662a851c339afbd143cfdbdb603c/frontend/src/components/CustomTable.tsx#L515-L527

This feature allows users to see the failed pipeline only.

[2021-01-05 19:31] amygdala commented on #1846
Since argo supports retry-to-completion, seems worth keeping this open & still supporting this in the DSL.

[2021-01-05 19:33] amygdala commented on #1846
/lifecycle frozen

[2021-01-05 20:57] capri-xiyue commented on #4886
It looks like the `update` will be triggered every time when the step of workflow gets updated which is quite often. And the we don't need to sync so often. That's one reason why we have exponential delay in non-error mode at first. And based on the comment of the code https://github.com/kubeflow/pipelines/blob/master/backend/src/agent/persistence/worker/persistence_worker.go#L47, we have rate-lim

[2021-01-05 21:06] capri-xiyue commented on #4886
@Bobgy When we discussed offline, you suggested that we can do some hack to figure out the object we try to enqueue is related to some final state or not, if it is related to some final state, we should add that key of the object into the queue immediately. As I go through the code, we find our persistent agent handles two object `workflow` and `ScheduledWorkflow`, and the object that the resource

[2021-01-05 21:17] elikatsis commented on #4886
@capri-xiyue Thanks for digging into it!

Constant delays sound a bit better but still, it is on us to decide a (probably) slow refresh rate.
We could do exponential with a small number as base (e.g. 5ms, as you suggested) and a small maximum delay (e.g., 5 seconds?).
How does that sound? Does any of you have anything in mind as a burden for such small maximum delays?

I don't get this proposal:

[2021-01-05 23:15] capri-xiyue commented on #4886
@elikatsis You are right, the proposal of the hack will still make the system stuck and the run to pop when it gets to a final state.
Regarding the setting of delay, I think 5ms is too often considering the use cases of kubeflow pipelines. (5ms is usually used in non-error mode) It looks like the update of workflow is very often based on the workflow and every time when the persistent agent sync t

[2021-01-06 03:27] capri-xiyue commented on #4943
For knative, they write their own logging pkg https://pkg.go.dev/knative.dev/pkg/logging which integrates with context and the  underlying library it uses is "go.uber.org/zap"

[2021-01-06 04:56] Bobgy commented on #4954
Thanks for the feature request, this is a very useful feature.
I believe we've supported more fields for the filter at the API layer, it'll be great if UI supports that too.

The major problem is designing either:
* the syntax to specify the filter
* UI elements that allow users compose the filter

[2021-01-06 04:56] Bobgy commented on #4954
Welcome contribution to define an ideal UX.

[2021-01-06 05:41] shotarok commented on #4954
I like the query syntax like [GitHub](https://docs.github.com/en/free-pro-team@latest/github/searching-for-information-on-github/understanding-the-search-syntax), which is expressed by a list of `<qualifier>:<value>`. One drawback is that it can't express [IN and IS_SUBSCRING](https://github.com/kubeflow/pipelines/blob/master/backend/api/filter.proto#L39-L45) although it's able to deal with [EQUAL

[2021-01-06 06:08] capri-xiyue commented on #4886
I submitted another PR to https://github.com/kubeflow/pipelines/pull/4957 to fix the issue
FYI @elikatsis
I checked the logs, the change of base delay works.
[code]

[2021-01-06 06:39] munagekar commented on #4948
Kubeflow Pipelines does not have any support for passing credentials.

Credentials can be passed using Kubernetes Secrets. The following snippets show how to add a secret to a Kubeflow Container Op.

https://github.com/kubeflow/pipelines/blob/7540ba5c3bf003758a5c2f46ccc586a0367c4dee/sdk/python/kfp/gcp.py#L37-L69

[2021-01-06 07:05] kim-sardine opened #4958 "Feature request: Display who ran the pipeline on dashboard."
It would be great if I can check who triggered kubeflow pipeline on kubeflow dashboard's experiment page.

It seems like argo workflow doesn't even store user information.

I found similar [issue](https://github.com/kubeflow/pipelines/issues/2348) but no progress with it.

[2021-01-06 07:27] capri-xiyue commented on #4886
I took a look at the code again.I think `processing set` [source](https://github.com/kubernetes/client-go/blob/0d3f257a17bb46ce0d7f022e257e3cbcd01ff5cb/util/workqueue/queue.go#L84) can't prevent same item from being simultaneously handled in two different workers because of the in the work queue logic since it won't throw error when you try to insert a existed item into the processing set

[2021-01-06 08:56] chensun opened #4959 "GCP component container is still based on Python 2.7"
https://github.com/kubeflow/pipelines/blob/7540ba5c3bf003758a5c2f46ccc586a0367c4dee/components/gcp/container/Dockerfile#L15-L21

GCP component container is still using Python 2.7 which is no longer supported. And the apache-beam SDK is also deprecated by Dataflow: https://cloud.google.com/dataflow/docs/support/sdk-version-support-status#apache-beam-2x-sdks

[2021-01-06 23:17] capri-xiyue opened #4961 "Discuss whether we need to get rid of the delay of workflow/scheduledworkflow in non-error mode and change the default resync time to a much longer period"
Currently we have exponential backoff in non-error mode.
https://github.com/kubeflow/pipelines/blob/04d5e609f224d7be2e8bfc20a3fa7857906cae1c/backend/src/agent/persistence/worker/persistence_worker.go#L116. Based on the comment, this exponential backoff is to ensure we only process a fixed amount of resources at a time.
Usually, people don't add exponential backoff in non-error mode and  exponentia

[2021-01-06 23:21] capri-xiyue commented on #4961
fyi @Bobgy @james-jwu @elikatsis

[2021-01-06 23:30] capri-xiyue commented on #4961
background info:  https://github.com/kubeflow/pipelines/issues/4886

[2021-01-07 01:09] #4959 closed

[2021-01-07 02:36] capri-xiyue commented on #4961
Discussed with @Bobgy offline,
we have non-k8s events for example like garbage collection for workflow, workflow triggering fro scheduleworkflow.
Since we have non-k8s events that can't be passed via k8s watch mechanism, we need resync period. Currently, since the resync period is so short, it may make sense to add rate limited behavior in non-error mode.

In the long term, for the garbage collect

[2021-01-07 12:01] Bobgy commented on #4325
@Shaked the argo upstream issue seems to target to be released as part of argo V3 in January: https://github.com/argoproj/argo/pull/4426#issuecomment-748643732.

We'll upgrade argo to V3 and get this resolved after argo's release.

[2021-01-07 18:43] ajinkya933 commented on #4941
@elikatsis Please refer correct use of `vop.delete()`

Is this the correct use ?
[code]

[2021-01-07 23:07] numerology opened #4966 "kubeflow-pipeline-upgrade-test keeps failing"
Sample log: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4963/kubeflow-pipeline-upgrade-test/1347266047027187712/build-log.txt

Looks like the deployment of `cache-deployer-deployment` gets stuck.

[2021-01-07 23:08] numerology commented on #4966
/assign @Bobgy
/assign @rui5i
/assign @Ark-kun

Do you mind taking a look? Thanks!

[2021-01-08 01:41] munagekar commented on #4941
Probably this should work

[code]

[2021-01-08 02:12] Bobgy commented on #3513
The remaining TODO is to integrate kubeflow/manifests with updated multi-user mode manifests.

[2021-01-08 04:05] ajinkya933 commented on #4941
For `vop.delete().after(mnist_result_container)`

I get this error:
[code]

[2021-01-08 06:10] Bobgy commented on #4966
@numerology which PR did you see it?
for example, I can see it passing in https://github.com/kubeflow/pipelines/pull/4965

[2021-01-08 06:12] Bobgy commented on #4966
My quick guess, I think @IronPan was releasing 1.3.0 at that moment, so the upgrade test tried to upgrade from 1.3.0 (whose images haven't been built).

It should pass after retry.

Any ideas to improve this?

[2021-01-08 06:13] Bobgy commented on #4966
I don't think it's immediately urgent though, probably better documentation to let people know it may happen during release.

[2021-01-08 06:26] numerology commented on #4966
Thanks Yuan! It comes from https://github.com/kubeflow/pipelines/pull/4963.

[2021-01-08 09:23] ajinkya933 opened #4967 "kfp not compatible with Kubeflow 1.2"
### What steps did you take:
[A clear and concise description of what the bug is.]

Heres a sample MNIST training example:
[mnist_complete_train.py.zip](https://github.com/kubeflow/pipelines/files/5786273/mnist_complete_train.py.zip)

Here is a reproducible docker image:

[code]

This docker image builds kfp from the main (https://github.com/kubeflow/pipelines.git) GitHub repo. After building kfp

[2021-01-08 09:28] ajinkya933 commented on #4941
The problem is observed and reproduced for non pip kfp installs: https://github.com/kubeflow/pipelines/issues/4967

[2021-01-08 10:56] Bobgy commented on #4967
Hi @ajinkya933, can you click `Pod` and `Events` tabs and copy paste content here for debugging purposes?

[2021-01-08 13:00] ajinkya933 commented on #4967
@Bobgy
<img width="1246" alt="Screenshot 2021-01-08 at 6 28 58 PM" src="https://user-images.githubusercontent.com/17012391/104018159-6345ae80-51df-11eb-948e-13d0898f30b4.png">
<img width="1260" alt="Screenshot 2021-01-08 at 6 29 13 PM" src="https://user-images.githubusercontent.com/17012391/104018175-6b055300-51df-11eb-8442-0f7ec13ec8b5.png">

<img width="1260" alt="Screenshot 2021-01-08 at 6 29 3

[2021-01-08 15:05] ankur47 commented on #2206
Hi
I am trying to process training datasets using tensorflow keras library. Problem is that output of data is not working as an input of another function in creating kubeflow pipelines with GCP.
From the doc perspective return type each function should be str, int ,bool so i tried pickle package to convert BatchDataset object to string.But getting the error
[code]

But if i tried without pickling

[2021-01-08 15:15] ankur47 opened #4968 "Return type Object like BatchDataset is not JSON serializable and does not have to_struct() method"
Hi
I am trying to process training datasets using tensorflow keras library. Problem is that output of data is not working as an input of another function in creating kubeflow pipelines with GCP.
From the doc perspective return type each function should be str, int ,bool so i tried pickle package to convert BatchDataset object to string.But getting the error
[code]

But if i tried without pickling

[2021-01-08 15:33] shuklashashank opened #4969 "Tensorflow type 21 not convertible to numpy dtype."
Hi,

We are trying to use the [Classification](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/images/classification.ipynb) method with kubflow pipelines, we've divided the code into multiple segments. In the data-investigation section, we have to return the object and use this in other sections so we used the `pickle.dumps` method for converting the object t

[2021-01-08 16:11] numerology commented on #4966
Given it's only a transient issue in a short period of time I think it's okay for now. Thanks for the information! Closing

[2021-01-08 16:11] #4966 closed

[2021-01-08 16:53] susan-shu-c commented on #3308
Same error here about the default buckets

[2021-01-08 18:28] elikatsis commented on #4506
Closing this since we have merged the PR :smiley:
/close

[2021-01-08 18:28] #4506 closed

[2021-01-08 18:31] elikatsis commented on #4941
@ajinkya933, sorry for the late responses.

It looks like you reach a state which we have tested during #4506 and #4820 and you are now bumping into a different issue.

So, I'll close this one and feel free to reopen if you come across it again :smiley:

/close

[2021-01-08 18:31] #4941 closed

[2021-01-08 18:39] ajinkya933 commented on #4941
My solution will depend whether I solve this issue or not : https://github.com/kubeflow/pipelines/issues/4967. The current issue is directly related to additional issue caused by kfp on Kubeflow 1.2 Linked here: https://github.com/kubeflow/pipelines/issues/4967

[2021-01-08 19:58] parthmishra commented on #4967
What does the Pod say? If you have access to the Pod status via console and/or kubectl can you see what its status is?

[2021-01-08 21:42] parthmishra commented on #4939
I've run into this issue as well with escaping quoted characters. I feel like this ought to be a higher priority bug because this creates an unexpected difference in serialization of strings in lightweight components versus regular components.

For us this is a blocking issue for adopting 1.2/1.3 since it would require a lot of refactoring in our string manipulation components to work around this.

[2021-01-09 01:58] Bobgy commented on #4553
/assign @capri-xiyue
Let's work on this then

[2021-01-09 07:21] NikeNano commented on #4553
This was just merged to argo, https://github.com/argoproj/argo/pull/4810#event-4186169881, will start to look at it as well to see if we could push this.

[2021-01-09 23:05] bencwallace opened #4970 "Filter only supports one op per predicate"
In a filter with more than one predicate using the same op, all but one of these predicates will be ignored. Making a request with such a filter does not raise any errors or warnings despite this surprising behavior. An example of such a filter, serialized to JSON, is the following:

[code]

In this case, only results with `name` containing "b" will be returned. It would nice be get all results co

[2021-01-10 09:41] Bobgy commented on #4106
/lifecycle frozen

[2021-01-10 16:42] ajinkya933 commented on #4967
Here is the pod.yaml and events.yaml
[pod+events.zip](https://github.com/kubeflow/pipelines/files/5792927/pod%2Bevents.zip)

Here are the screenshots (attached above is the zip file which contains yaml):

![kfp](https://user-images.githubusercontent.com/17012391/104129065-f96d0680-5390-11eb-983b-d71264ec2df1.png)
![kfp2](https://user-images.githubusercontent.com/17012391/104129067-fb36ca00-5390-11

[2021-01-11 00:02] james-jwu commented on #4768
/assign james-jwu

[2021-01-11 08:30] ajinkya933 opened #4971 "GPU nodegroup unable to scale"
### What steps did you take:
[A clear and concise description of what the bug is.]

Heres my cluster setup.yaml file:

[code]
I created a cluster from this yaml file using this command : `eksctl create cluster -f rnd_combo.yaml`. After that I enabled autoscaler on this cluster:

[code]

I deployed kubeflow using official docs: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
Version of K

[2021-01-11 10:44] shawnho1018 opened #4972 "Experiment Run status became unknown"
### What steps did you take:
1. I was installing kubeflow 1.2 with Dex on kubernetes cluster, following [this tutorial](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/).
2. I tested pipeline deployment using [this tutorial](https://github.com/kubeflow/pipelines/blob/b604c6171244cc1cd80bfdc46248eaebf5f985d6/samples/tutorials/Data%20passing%20in%20python%20components/Data%20passing%20in%2

[2021-01-11 10:58] Svendegroote91 opened #4973 ""driver: bad connection" when using Managed storage via Google Cloud Marketplace deployment"
### What steps did you take:
- Using GCP default VPC network settings
- Created multi-regional EU Google Cloud Storage bucket
- Create mySQL (v5.7) instance in europe-west1-d with only root user and no password (default settings: Public IP - I also tried enabling the private IP but that also did not resolve the issue)
- Configured AI Platform Pipelines (Google's KFP managed service) using Managed

[2021-01-12 00:07] DavidSpek commented on #4848
I think this can be closed as this was discussed in the linked issue.

https://github.com/kubeflow/pipelines/issues/4847#issuecomment-737013872

[2021-01-12 00:26] #4970 closed

[2021-01-12 00:27] bencwallace opened #4975 "Can't apply multiple filters on the same key for a given op"
### What steps did you take:

In a filter with more than one predicate using the same op **and** key, all but one of the predicates will be ignored. This is mostly relevant for the `NOT_EQUALS` and `IS_SUBSTRING` ops, although there might be unusual situations where someone wants multiple such predicates with other ops. At present, Making a request with such a filter does not raise any errors or w

[2021-01-12 00:27] bencwallace commented on #4970
I've realized this is, in fact, a bug (rather than a feature request) and opened a more detailed issue [here](https://github.com/kubeflow/pipelines/issues/4975).

[2021-01-12 00:29] DavidSpek commented on #4897
Initially I thought it might be possible to use a namespaces secret with a Personal Access Token. However, I don't think it would be (easily) possible to implement this for multiple users.

As the discussion is regarding the UI, would it be an option to use the [web application flow](https://docs.github.com/en/enterprise-server@2.21/developers/apps/authorizing-oauth-apps#web-application-flow) with

[2021-01-12 00:43] DavidSpek commented on #4807
I wonder if it might be interesting to extend the Volume Manager UI that should be open sourced by @kimwnasptd soon to support Object Storage as well. Although this might be less useful for KFP standalone users.

https://www.arrikto.com/kubeflow/news/democratizing-the-use-of-pvcs-with-the-introduction-of-a-volume-manager-ui/

[2021-01-12 00:53] DavidSpek commented on #4674
I believe this issue can be closed as the related PR was merged.

[2021-01-12 08:33] ConverJens commented on #3711
@Ark-kun @Bobgy Is there any update to this? How do you enable log persistence?

[2021-01-12 10:19] fvde opened #4984 "Caching Documentation incorrect for 1.2"
As far as I can tell the documentation for Caching (https://www.kubeflow.org/docs/pipelines/caching/) is incorrect for 1.2. The mutatingwebhookconfiguration is not called cache-webhook, but **cache-webhook-kubeflow**. I.e. all commands need to be updated from
`kubectl patch mutatingwebhookconfiguration cache-webhook -n ${NAMESPACE} --type='json' -p='[{"op":"replace", "path": "/webhooks/0/rules/0/o

[2021-01-12 15:30] amygdala commented on #3051
Is there some broader 'component overhaul' bug that this could be subsumed by?

[2021-01-12 17:28] PatrickGhosn opened #4976 "HTTP response body: RBAC: access denied from kfp_server_api when creating a tfx pipeline"
/kind question

### What steps did you take:
Ran the below code:
![image](https://user-images.githubusercontent.com/33845447/104349736-f77b8280-550b-11eb-9e2c-907481d7485f.png)

### What happened:
I got the below:
[code]
### What did you expect to happen:
Being able to create the pipeline

### Environment:
Kubeflow 1.2, Jupyter Notebook

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:
b

[2021-01-12 22:28] brtasavpatel opened #4980 "Error 1114: The table 'run_details' is full""
### What steps did you take:
Kubeflow was already running ~50 pipelines at the time when new pipeline runs were submitted resulting in about ~500 pipeline runs running.
Volume size : 20 gigs, where `mysql` deployment was running.

### What happened:
Pipeline runs failed to run with error :
[code]
Kubeflow UI was also unresponsive when trying to check a pipeline run status.

### What did you expect

[2021-01-13 03:05] Bobgy commented on #4980
Which cloud platform do you deploy KFP? Is it part of a full Kubeflow installation?

Our suggestion for productionizing a KFP instance is to use a cloud provider's managed SQL instance.
e.g. in GCP we'd recommend using Cloud SQL, so that you'll be able to back up/resize/configure the SQL instance on your own

[2021-01-13 03:06] Bobgy commented on #4980
For KFP standalone, we have some documentation in https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/sample.

[2021-01-13 03:07] capri-xiyue commented on #4553
@NikeNano  Is there any ETA on this? And what are the remaining items of this task? Do we have a task list for upgrading Argo to v2.11+?

[2021-01-13 03:48] Bobgy commented on #4980
and how long did it take until your DB was full?

[2021-01-13 03:49] Bobgy commented on #4980
Immediate workaround could be resize the PV backing your mysql DB or delete old run records from the DB using KFP SDK/API

[2021-01-13 04:00] lynnmatrix commented on #1138
@Bobgy @Ark-kun @numerology I have create a PR trying to provide a local runner which will run Kubeflow pipeline on docker  or locally.
As @Ark-kun  suggested, `kfp.run_pipeline_func_locally(my_pipeline, arguments={...})` is picked.

[2021-01-13 06:18] Bobgy commented on #4984
Moving to pipelines for better tracking

[2021-01-13 06:19] Bobgy commented on #4984
Yes, it will be `cache-webhook-{namespace}`, so for kubeflow, it's -kubeflow

@Ark-kun can you work on the documentation update?

[2021-01-13 06:48] piyongze commented on #4976
me too.
when run
client = kfp.Client()
print:
ERROR:root:Failed to get healthz info attempt 1 of 5.
Traceback (most recent call last):
  File "/home/jovyan/.local/lib/python3.6/site-packages/kfp/_client.py", line 312, in get_kfp_healthz
    response = self._healthz_api.get_healthz()
  File "/home/jovyan/.local/lib/python3.6/site-packages/kfp_server_api/api/healthz_service_api.py", line 77, in get_

[2021-01-13 08:25] kosehy commented on #4440
Hi @mr-yaky,

Would you please share some more details about how to solve the below error?
[code]

[2021-01-13 09:44] Bobgy commented on #4939
/assign @chensun @numerology
I think this is a P0, I tried `Data passing sample pipeline`, it's also failing with `EOL while scanning string literal` like these issues.

[2021-01-13 09:46] Bobgy commented on #4939
/assign @Ark-kun

[2021-01-13 09:47] Ark-kun commented on #4939
Oh. I think I know what's happening then. It's `echo` interpreting the escapes. I'll fix this ASAP.

[2021-01-13 09:49] Ark-kun commented on #4939
@suzusuzu As a short-term fix you can fix the component.yaml:

Replace
[code]
with
[code]

[2021-01-13 11:10] PatrickGhosn commented on #4976
For the KFP client you need to call your public endpoint and set the IAP tokens.
[code]

But I can't find any option to do that with tfx.

[2021-01-13 16:14] kmathiou commented on #4976
Hi,

I am facing the same issue when I try from jupyter.
Moreover, I cannot even run a pipeline from UI. I get the following error:

Are these issues related?
Is there a fix on this or have we might done anything wrong during installation?

[2021-01-13 16:22] susan-shu-c opened #4986 "Add more detail to authorization step"
I was following [this official example](https://colab.research.google.com/github/kubeflow/website/blob/master/content/en/docs/pipelines/sdk/python-function-components.ipynb) to submit a pipeline via Jupyter or Python script

I filled in the client id and credentials [following these instructions](https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-

[2021-01-13 16:23] susan-shu-c opened #4987 "Add clear instructions for authorization code / token"
I was following [this official example](https://colab.research.google.com/github/kubeflow/website/blob/master/content/en/docs/pipelines/sdk/python-function-components.ipynb) to submit a pipeline via Jupyter or Python script

I filled in the client id and credentials [following these instructions](https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-

[2021-01-13 16:33] #4986 closed

[2021-01-13 16:34] PatrickGhosn commented on #4976
No doesn't look related. Try reinstalling, I had a similar issue where experiments and pipelines were not opening from the UI. A reinstall solved it.

[2021-01-13 16:47] ajinkya933 commented on #4967
@parthmishra @Bobgy  ^

[2021-01-13 17:52] akshayuppal3 commented on #1881
Having the same issue ..

[2021-01-13 18:24] akshayuppal3 commented on #1881
had to do with low on disk space..

[2021-01-13 18:29] parthmishra commented on #4971
Can you check the cluster autoscaler logs and see if there is a log that provides a reason for not scaling up?

[2021-01-13 18:30] #4987 closed

[2021-01-13 19:27] brtasavpatel commented on #4980
I am on AWS, but we deploy Kubeflow by our self. It's a full Kubeflow Installation.

[2021-01-13 19:27] brtasavpatel commented on #4980
Little over 2 months. but our usage increased this month only.

[2021-01-13 19:54] yhwang commented on #4440
@kosehy my guess is you need to specify the namespace since it complains about empty namespace

[2021-01-13 20:23] kosehy commented on #4440
@yhwang You are right.
I fixed above error based on Solved based on
kubeflow-kale/kale#210 (comment) this comment.
Thank you for your reply!

[2021-01-13 21:16] NikeNano commented on #4553
If we want to go for version3 we have to wait for the release until we can update as far as I see. Which should be in the end of January hopefully, https://github.com/argoproj/argo/issues/4425#issuecomment-748644024. I guess this might not be necessary, but last time I looked at it there where some dependencies issues that I could't solve with out the need for upgrading argo, maybe you could figur

[2021-01-13 22:52] Bobgy commented on #4980
/cc @PatrickXYS
For providing more guidance

[2021-01-13 23:07] PatrickXYS commented on #4980
@brtasavpatel  Then it's not on EKS I think, are you utilizing MySQL or RDS on AWS?

[2021-01-13 23:15] brtasavpatel commented on #4980
@PatrickXYS Kubernetes is on EKS. I meant we didn't use any hosted Kubeflow Solutions, and I am utilizing MySQL

[2021-01-13 23:22] PatrickXYS commented on #4980
So the way I would go is to check the log of `mysql` pod, see if anything wrong there

Another question is:

Is the issue happening everytime when you reached to the same level of workload?

[2021-01-13 23:52] brtasavpatel commented on #4980
We probably first time got this burst of pipeline submissions, so would be hard to tell that.

[2021-01-14 00:54] capri-xiyue commented on #4553
I think it will be fine to wait until the end of Jan for argo version3 if it makes the updating dependency easier.
@Bobgy https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/ Docker support won't be removed until late 2021. I think it should be safe to update argo after the version 3 gets released.
@NikeNano  How do we usually update depdencies like argo in kfp? Is there any doc

[2021-01-14 02:19] Ark-kun opened #4991 "Tests - Marketplace verification does not fail on errors"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-mkp-e2e-test/1346987369131151360/build-log.txt

[code]

[2021-01-14 03:37] Bobgy commented on #4862
I tried to recover by myself e2e and realized a problem with the previous fix:
I'm getting this error message:
[code]

because I initially installed KFP in `kubeflow` namespace, and then deleted it and reinstalled in `kfp` namespace.
KFP kept DB data via managed storage, so it knows previously created scheduledworkflows (swf) were in "kubeflow" namespace. When we try to delete a recurring run, KFP

[2021-01-14 03:45] Bobgy commented on #4862
I think for the moment, we should only support reinstalling KFP in the same namespace (but it can be the same namespace name in a different cluster).

[2021-01-14 03:57] Bobgy commented on #4862
I built some scripts as an example for how to recover recurring runs after a reinstall using managed storage:

This script dump recurring runs data as a local JSON file for backup purposes.
[code]

This script:
1. loads from local recurring run JSON data
2. delete recurring runs
3. clone new recurring runs from local data and by default mark them as disabled + no catchup, so that users can enable

[2021-01-14 04:19] #4862 closed

[2021-01-14 04:21] Bobgy commented on #4862
Instructions provided and verified the reinstallation e2e by myself, closing for now.

Feel free to reply with more questions if you couldn't figure out sth.

[2021-01-14 05:14] yanp commented on #4572
Dynamic images would also be useful for us. Our scenario is the data scientists work on feature branches that built to images with different tags in CI. We currently use `ContainerOp` to achieve this, but are trying to migrate to reusable components for best practice.

[2021-01-14 06:46] Ark-kun commented on #4969
The `pickled_object` is not a string, it's a binary blob. It might get corrupted when being written to a text file. This is probably the problem you're having.

The object is also likely pretty big.

For non-text or non-small data you should use file-based data passing.
Please check https://github.com/kubeflow/pipelines/blob/23c12a9fb48417bd9c90419195b4f9c33e913aa7/samples/tutorials/Data%20passing

[2021-01-14 06:48] Ark-kun commented on #4947
You can use the suggestion from the documentation:
[code]

[2021-01-14 06:54] Ark-kun commented on #4940
Does it print many exceptions? Can you post more logs?

Is the `metadata-grpc-service` service online?

[2021-01-14 08:09] #4890 closed

[2021-01-14 08:40] Bobgy commented on #3711
No update yet, we need someone from community to fix this problem.

For us, we are on GCP, so GCP stackdriver auto persists all Kubernetes pod logs.

[2021-01-14 08:49] ConverJens commented on #3711
@haydnkeung I managed to enable logs persistence.

Check the configmap workflow-controller-configmap and see if archiveLogs: true is set. For me it wasn't, even though I'm on KF 1.1, and I had to set it in the config-map.yaml found in your manifest dir under argo/base.

[2021-01-14 09:33] Bobgy commented on #4967
Hi @ajinkya933,
your Pod events include a warning message:
[code]

so it seems something went wrong with the PVC provisioning

[2021-01-14 09:33] Bobgy commented on #4967
I think we can probably refactor the Pod Events tab UI, so that it emphasis more on warning/error messages. That will make these problems easier to find.

[2021-01-14 09:39] Bobgy commented on #4553
Thanks, makes sense to me waiting for argo v3 if that' end of Jan.

We do not usually update dependencies, so each time we update, they have already been pretty old and many things could be breaking after some dependencies are updated.

It's worth discussing the upgrade strategy in a project health issue.

[2021-01-14 09:41] ajinkya933 commented on #4967
Hi @Bobgy  When I do

[code]

And then convert the python code to yaml and then run the yaml I don't see this problem.

Heres my python file attached

. It is reproducible and relies on open source docker. You can also reproduce the results by running :

[fashion_mnist_kubeflow_training.zip](https://github.com/kubeflow/pipelines/files/5813547/fashion_mnist_kubeflow_training.zip)

[2021-01-14 09:42] ajinkya933 commented on #4967
[mnist_complete_train.py.zip](https://github.com/kubeflow/pipelines/files/5813553/mnist_complete_train.py.zip)

[2021-01-14 09:43] ajinkya933 commented on #4967
But when I install kfp from GitHub its only then I see the above issue

[2021-01-14 09:51] Bobgy commented on #4967
@ajinkya933 can you first take a look at why that PVC failed provisioning? I think that can help us a lot on understanding the root cause

[2021-01-14 09:52] Bobgy commented on #4967
Not fully sure, can it be related to issue like: https://github.com/kubeflow/pipelines/pull/4993

[2021-01-14 10:39] NikeNano commented on #4553
@capri-xiyue  I am pretty new to go in general and have always found go dependency management to be a bit unclear. Especially how it sometimes tries to automatically resolve issues.... see https://github.com/golang/go/wiki/Modules#can-i-control-when-gomod-gets-updated-and-when-the-go-tools-use-the-network-to-satisfy-dependencies. I think it would be great if we document this, which I remember you

[2021-01-14 10:53] Bobgy commented on #4991
It seems all of the findings are warnings though, and the verification status is PASSED

[2021-01-14 10:57] Bobgy commented on #4807
Interesting, if that supports object storage, it seems a pretty good fit.

[2021-01-14 10:59] Bobgy commented on #4848
agree with that
/close

Feel free to reopen if you doesn't think this way

[2021-01-14 10:59] #4848 closed

[2021-01-14 10:59] #4674 closed

[2021-01-14 12:55] sylus commented on #4940
I think this was solved by increasing the Istio timeout, a related issue I found I'll try to find it and post back here :)

[2021-01-14 13:38] kd303 opened #4997 "Pipeline runs are disappearing"
### What steps did you take:
Pipeline runs disappears when executing pipeline using SDK. When we run the pipeline for a specific experiments, we are able to see the logs appearing in pods as well the runid (UUID) is also getting generated. I have done tracking in mysql/mlpipeline/run_details table and can also see run appearing there.

However in some cases after above observations the run gets di

[2021-01-14 19:05] capri-xiyue opened #4999 "Discuss dependency update strategy of KFP"
Currently, we do not usually update dependencies, so each time we update, they have already been pretty old and many things could be breaking after some dependencies are updated.

 It's worth discussing the dependency update strategy of KFP.

Looks like there is no script or doc related to updating dependency. We may need to write a script  like https://github.com/knative/eventing/blob/master/hack

[2021-01-14 19:05] capri-xiyue commented on #4999
fyi @NikeNano @Bobgy

[2021-01-14 19:06] capri-xiyue commented on #4553
@NikeNano @Bobgy  I created a issue for the discussion of upgrade strategy https://github.com/kubeflow/pipelines/issues/4999

[2021-01-14 19:18] #4886 closed

[2021-01-14 20:11] ajinkya933 opened #5000 "Kubeflow installation error 1.2"
### What steps did you take:
[A clear and concise description of what the bug is.]
I setup cluster in me-south-1 region with 2xr5.xlarge instances. I follow docs here: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

### What happened:
Error I get is:

[code]

### What did you expect to happen:
Kubeflow should have successfully installed
### Environment:

How did you deploy Kubeflow Pip

[2021-01-14 20:22] NikeNano commented on #4752
@Bobgy for changes like this one, are we aiming for some form of technical design document before someone starts on the actual work to align on how to best implement an solution?

[2021-01-15 02:21] #4939 closed

[2021-01-15 03:53] Ark-kun commented on #4940
Just to make sure the Metadata Writer is fine: Was it writing this exception many times (restarting)?

[2021-01-15 03:58] Ark-kun commented on #4924
This is an interesting idea, although it might be less feasible in some future UX.

It would be great to move to UX which shows actual data connections (outputs connected to inputs). With UX like that, this edge removal feature might produce unexpected results.

[2021-01-15 04:01] Ark-kun commented on #4999
There are several main areas that might need updating:

* Python SDK deps
* Backend Go deps
* Kubernetes deps (e.g. Argo)
* Deps of micro services (Metadata Writer, Visualization Server, etc.)

For python (SDK and Visualizations) we already have update scripts.

[2021-01-15 04:02] Ark-kun commented on #4602
/freeze

[2021-01-15 05:13] ajinkya933 commented on #5000
I solved this issue by changing the default region:

`aws configure set default.region us-west-2`

The error is because kfctl completely ignores the region set in the .yaml file and just uses the aws cli default.

[2021-01-15 05:14] #5000 closed

[2021-01-15 12:28] gabrielvcbessa commented on #4342
How can we increase minio's storage?

[2021-01-15 12:37] #4793 closed

[2021-01-15 13:23] sylus commented on #4940
As I remember it was restarting and writing this message a bit but was fixed as soon as did the Istio timeout fix.

[2021-01-15 13:47] zyanichaimaa commented on #4976
Facing the same issue, Any updates on this?

[code]

[2021-01-15 23:14] Ark-kun commented on #4940
Sounds good.
Closing this issue then.

[2021-01-15 23:14] #4940 closed

[2021-01-16 15:10] amygdala commented on #4079
I assume we should keep this open...

[2021-01-17 00:37] Bobgy commented on #4079
Agree, KFP can think about providing native support.

[2021-01-17 00:39] Bobgy commented on #4588
The question seems answered

[2021-01-17 00:39] #4588 closed

[2021-01-17 01:26] Bobgy commented on #4342
You may search for that on google.

But for production setup of KFP, we'd recommend using GCS or s3 as the object store behind minio.

[2021-01-17 01:28] Bobgy commented on #4752
@NikeNano yes, a design doc should be drafted and discussed in KFP community meeting

[2021-01-17 20:40] montenegrodr commented on #4624
ping

[2021-01-18 02:51] kim-sardine commented on #4099
I had the same problem.
kubeflow's cached steps are using official alpine image. so docker hub's new rate limit policy make `toomanyrequests` error.

I solved it by

1. Signup docker hub and add `imagePullSecret` using this docker hub account ([create-an-imagepullsecret](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#create-an-imagepullsecret))
2. option a) Pat

[2021-01-18 05:50] Bobgy commented on #4999
And
* frontend deps
* MLMD client/server version

+1 for building scripts that automate upgrading dependencies so that we try and test an upgrade more often.

[2021-01-18 05:51] Bobgy commented on #4999
FYI, I've created an issue before with similar content: https://github.com/kubeflow/pipelines/issues/4682
@capri-xiyue shall we consolidate the two issues?

[2021-01-18 06:19] Bobgy commented on #4565
All done

[2021-01-18 06:19] #4565 closed

[2021-01-18 07:39] StefanoFioravanzo commented on #4924
@Ark-kun What do you mean exactly with this?

We can always revisit this as soon as a new UX comes up!

[2021-01-18 08:25] orugantichetan opened #5005 "pipeline step pod which come up with alpine image when cachedExecution is set don't run with restricted psp"
### What steps did you take:
installed kubeflow with kfp 1.0.4 manifest

### What happened:
pipeline step pod which come up with alpine image when cachedExecution is set don't run with restricted psp . Error: container has runAsNonRoot and image will run as root

Making the image name configurable through env var  or workflow controller adding some default securitycontext to the pipeline step will

[2021-01-18 16:44] kd303 commented on #3818
Hi @eterna2 @Ark-kun @anupash147,
Any help or pointers are appreciated, with below settings I am not able to see the main.log file created, I tried this with :

1. I have upgraded argo executor to 2.7.5
2. archiveLogs is set to true

I am not able to main.log file getting created anywhere, I am using example pipeline: [Tutorial] Data passing in python

[code]

[2021-01-18 17:21] kd303 commented on #3818
pls note the quotes are added because of json formatter, original json in configmap is without quote.

[2021-01-18 23:11] arllanos commented on #4649
Hi @Bobgy,
I have been testing the artifactRepositoryRef feature and also tested locally initial pipeline code change as to inject the artifactRepositoryRef as suggested above.

Before creating a PR I would like to bring up the following points to get your feedback:
1. This feature seems to be working since version 2.9. So, we need to upgrade argo from 2.3.0 to 2.9.3 or newer. We have been discuss

[2021-01-19 01:33] HassanOuda commented on #4816
@Jeffwan any updates on your work with this issue? Would help me in terms of upgrading pipelines from 1.0.4 in manifests in master branch to the latest of 1.3

[2021-01-19 14:00] kd303 opened #5006 "Kubeflow Multiuser Isolation for pipeline runs: Read-only access"
Question:

Please note this as advised by in question, I am reopening this question as per suggestions in # [5510](https://github.com/kubeflow/kubeflow/issues/5510)

We are trying to create a separate namespace where the different runs can be submitted, I understand from the documentation currently that pipelines have restrictions about namespaces, however our use-case is the runs where this is ha

[2021-01-19 14:11] kd303 commented on #4953
Is anyone else facing this issue? any pointers suggestion would be helpful

[2021-01-19 14:11] kd303 commented on #4953
/kind featurrequest  changing the label as this is a default behaviour

[2021-01-19 15:51] kd303 commented on #4953
/kind feature

[2021-01-19 16:15] hilcj opened #5007 "Kubeflow-pipeline-postsubmit-integration-test failure"
KFP Oncall noticed [kubeflow-pipeline-postsubmit-integration-test](https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-pipeline-postsubmit-integration-test) being failing.

/kind bug

[2021-01-19 16:17] hilcj commented on #5007
@Bobgy

[2021-01-19 17:37] ShilpaGopal opened #5008 "Pipeline component fails with [object Object] as pod log"
### What steps did you take:
Created a pipeline with two stages, On success of 1st stage status will be published in 2nd stage.

![image](https://user-images.githubusercontent.com/13718648/105070966-ffa66580-5aa9-11eb-863b-d6ea791e2c55.png)

### What happened:
2nd stage always fails with exit code 255 and logs [object Object].

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

Custom

[2021-01-19 19:36] capri-xiyue commented on #4999
closed this since it‘s a duplicate of #4682

[2021-01-19 19:36] #4999 closed

[2021-01-19 19:36] capri-xiyue commented on #4682
There are several main areas that might need updating:

* Python SDK deps
* Backend Go deps
* Kubernetes deps (e.g. Argo)
* Deps of micro services (Metadata Writer, Visualization Server, etc.)
* frontend deps
* MLMD client/server version

For python (SDK and Visualizations) we already have update scripts.

[2021-01-19 21:57] akartsky commented on #4888
/close

[2021-01-19 21:57] #4888 closed

[2021-01-20 09:50] Bobgy commented on #4649
Awesome progress,

1. We can go to argo 2.12 directly if we need to upgrade anyway. Argo maintainer said it will be LTS.
2. Whatever the simpler is better, if there is a config map picked by default, that sounds the best. More options can be added as follow ups.

[2021-01-20 09:51] Bobgy commented on #5007
@hilcj do you need help from other members?

[2021-01-20 10:35] kim-sardine commented on #2653
Any progress with it? still have same issue

[2021-01-20 11:06] JoshZastrow opened #5013 "Development friendly Kubeflow experience"
/kind feature

**Why you need this feature:**
Say I have a local package containing my application logic (i.e cleaning, feature generation, ML model training, etc..). This local package contains modules and functions used in my component.

I want to make changes to the application logic (i.e change a feature scaling method), then run my pipeline and 1) make sure the pipeline works or 2) see an imp

[2021-01-20 11:08] Bobgy commented on #5013
Some documentation you can refer to: https://cloud.google.com/solutions/machine-learning/architecture-for-mlops-using-tfx-kubeflow-pipelines-and-cloud-build

There's a CI/CD pipeline needed to deploy the CT (continuous training) pipeline that runs in KFP.

[2021-01-20 11:15] Bobgy commented on #4700
/cc @hongye-sun
Have we thought about placeholder syntax for exposing run uuid?

The existing placeholders have `[[RunUUID]]` format as supported in scheduled workflow controller, but in IR we are now standardizing on
https://github.com/kubeflow/pipelines/blob/7ed110e9845237115591d04d82085d957e343795/api/v2alpha1/pipeline_spec.proto#L595-L613

I think it makes more sense to stick with IR format.

[2021-01-20 11:23] Bobgy commented on #2653
@kim-sardine this will be released in next KFP release

[2021-01-20 11:33] kim-sardine opened #5014 "Wrong cron format example"
### What steps did you take:

Creating recurring run on kubeflow central dashboard

### What happened:

there is link for cron format guide - `Allow editing cron expression. ( format is specified here)` on page for creating recurring run. and this link takes me to [godoc-cron](https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format)

and it says -

Field name   | Mandatory? | Allowed v

[2021-01-20 11:57] DavidSpek commented on #4682
@Bobgy Regarding the docker tags, it seems dependabot can already do this.
https://dependabot.com/blog/dependabot-now-supports-docker/

[2021-01-20 14:11] bencwallace commented on #5013
Looks like this open PR would help with this: https://github.com/kubeflow/pipelines/pull/4983

[2021-01-20 14:17] parthmishra commented on #4692
I think this issue affects steps that are stuck in imagepullbackoff pending state. Terminate doesn't seem to do anything.

[2021-01-20 14:53] axeltidemann commented on #2268
@andrewsmartin Could you share code on how you did that? I am trying something similar, which I have described in this issue: https://github.com/tensorflow/tfx/issues/3094

[2021-01-20 14:53] hilcj commented on #5007
@Bobgy actually I just want to ask you if this is an known issue.  Because the failure has started at least two weeks ago and previous oncalls may have already reported it.

If not, I'll do the investigation and get back to you.

[2021-01-20 15:28] rastislavs commented on #4976
Same issue here. The issue can be work-arounded by disabling RBAC in Istio (`clusterRbacConfig=OFF`). Which of course is not great for mutli-user setups.

[2021-01-20 15:35] Bobgy commented on #5007
It should be the handover notes, but I guess @Ark-kun and @IronPan didn't take them.

Did you see this problem before?

[2021-01-20 15:35] DavidSpek commented on #4682
@Bobgy I've created a script that will scan the repository for files named `*ockerfile*` but skipping `/components/deprecated*`, `package*.json` but skipping `/*node_modules*` and `*requirements.txt`. It then goes on to create the yaml file for dependabot so it scans the correct directories. It is setup for dockerfiles, npm, gomod and python at the moment, and I believe this should cover almost al

[2021-01-20 17:03] DavidSpek commented on #4682
For reference, the PRs that will be created can be seen here: https://github.com/DavidSpek/pipelines/pulls

[2021-01-20 18:38] hongye-sun commented on #4700
How about we introduce the following placeholders:

`$.job` returns the json payload of the job metadata which includes ID, name and pipeline name, etc.
`$.job.id` returns the unique ID of the job.

[2021-01-20 19:43] parthmishra commented on #5008
Seems like something UI related. Does the container produce logs? Is it just this pipeline/pipeline step that does this?

[2021-01-20 20:42] DavidSpek commented on #4682
To add to the above PRs, by default the dependabot security alerts can only be seen by repo admins. While I understand it might not be desirable to have this information be public (although all it takes is forming the repo to find out), I do think it is important that WG members are able to see the security alerts so they can quickly see what dependabot PRs have a high priority for being merged. I

[2021-01-21 06:21] Bobgy opened #5020 "NOTICE: migration to google-oss-robot"
UPDATE: We have migrated to @google-oss-robot, there was an issue during the migration that caused all presubmit tests in existing PRs to succeed with message "Context retired without replacement". Please comment `/retest` on the PR to retry them.

=== original issues

For aws-kf-ci-bot: upstream issue - ~https://github.com/kubeflow/internal-acls/issues/354#issuecomment-764311315~ has already been

[2021-01-21 07:36] kd303 commented on #699
Hi @Bobgy , @swiftdiaries

Is it possible to use a PV for Tensorboard working on non-cloud environments (local cluster running with Kubeflow 1.1) ?

[2021-01-21 08:02] Bobgy opened #5021 "2021-1-21: presubmit failure "Insufficient regional quota to satisfy request: resource "DISKS_TOTAL_GB" ...""
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:
test infra run out of quota: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5019/kubeflow-pipeline-sample-v2/1352162018584432640#1:build-log.txt%3A285

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:

[2021-01-21 08:02] Bobgy commented on #5021
/cc @hilcj
/assign @Bobgy
I'll try to fix this

[2021-01-21 08:09] Bobgy commented on #2523
This is happening again in https://github.com/kubeflow/pipelines/issues/5021.

[2021-01-21 08:10] Bobgy commented on #5021
It's duplicate of #2523, which we should really prioritize

[2021-01-21 08:10] Bobgy commented on #5021
I'm going to first run the workaround script to clean up unused disks quickly.

[2021-01-21 12:10] blacksailer commented on #699
@kd303 Hi

I've managed to use on local cluster with adding pre-defined PV. Here, in [this](https://github.com/kubeflow/pipelines/issues/4850) issue you can find sample configs to tensorboard component.

But for training component I have used PodDefault to attach the same volume to master/worker pods(I am using PyTorchJob component).

In result, in pipelines UI I can see two components: Tensorboar

[2021-01-21 15:02] parthmishra commented on #5006
I'm interested in something like this too, mostly to have a public namespace that everyone can see without having to manually add via contributors UI. Until support for RBAC groups comes along, it's not easy. As for your use case, I haven't tried this out, but I'd suggest the following:
- Apply a resource quota for GPUs on the non-shared profiles to disallow GPU (see the [docs](https://www.kubeflo

[2021-01-21 16:55] shruthingcp opened #5022 "metadata-ui pod in CrashLoopBackOff status after making it to run as non root group"
### What steps did you take:
Added securityContext to metadata-ui to make it run as non root user and non root user group. Deployed metadata-ui using below spec. metadata-ui pod is stuck in CrashLoopBackOff status and below error is shown in the logs

` internal/modules/cjs/loader.js:626
     throw err;
     ^
 Error: Cannot find module 'express'
 Require stack:
 - /server/dist/server.js
     at F

[2021-01-21 19:18] ShilpaGopal commented on #5008
Yes @parthmishra container produces logs using python logger. The previous step is able to log currently but the next step fails.

I tried the sample flip coin example(https://github.com/kubeflow/pipelines/blob/master/samples/core/condition/condition.py)  which has multiple steps, it was able to log the output.

I am not sure, I might be missing something! If its a UI related issue then it must af

[2021-01-22 03:07] AnnaYue commented on #4695
I use cert-manager like @DavidSpek, and the full simplest yaml file is listed here:
`apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: kubeflow
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: webhook-server
  namespace: kubeflow
spec:
    privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usag

[2021-01-22 06:42] Windfarer commented on #4976
Same issue.

[2021-01-22 12:21] rastislavs commented on #4972
We can see the same issue with Kubeflow 1.2 with Dex on Kubernetes. Everything works fine after the first authentication attempt:

![image](https://user-images.githubusercontent.com/15926980/105490034-757e1d00-5cb4-11eb-8bc9-f1829e0ddf78.png)

I could even log out and log in again and it would still work.
Then, few hours later, after re-authentication, the same pipeline is not correctly shown in t

[2021-01-22 13:26] kd303 commented on #699
@blacksailer Thanks, I will give it a go,

[2021-01-22 14:24] kd303 opened #5026 "Nvidia A100: GPU Slice definition not supported via Pipeline DSL"
### What steps did you take:
I created a simple test pipeline to check the Nvidia slicing definitions, using following code
[code]

We have 3 node A100 setup on which the Kubeflow version 1.1 deployed and we are following [Mixed strategy ], (https://developer.nvidia.com/blog/getting-kubernetes-ready-for-the-a100-gpu-with-multi-instance-gpu/) basically the MiG mode is enabled.

### What happened:

[2021-01-22 16:52] TrubadurOsman commented on #4972
I have a similar issue with kubeflow 1.2 Dex. When I create a run, the status becomes unknown, and It stucks.

[2021-01-22 17:18] PatrickXYS commented on #5020
I think this one can be closed @Bobgy  after fixed

[2021-01-22 18:42] marziman commented on #4972
@DavidSpek we have the same issue: KFv1.2, K8s 1.17 installation kfctl v1.2 and Dex Multiauth.
The Experiments UI is broken and says"status unknown", even if we clean pods from hand it still doesnt get the update infos in UI.

Could you please help or anyone an idea?
Thx!

[2021-01-22 19:07] ShilpaGopal commented on #5008
I was able to solve this problem. Here are my findings.

import-utility.Dockerfile
[code]
My pipeline step's image containers have WORKDIR set to /import-utility, I was writing the output file from step 1 in the path file_outputs={'output': '/import-utility/output.txt'}.

By changing it to write to the path file_outputs={'output': '/tmp/output.txt'}, step 2 was able to fetch the output successfull

[2021-01-22 19:10] zijianjoy commented on #4172
Sharing some thought on the issue:

1. There are two levels of `Archive` on KFP: Archive an experiment, or Archive a run.
2. When archiving a run, it will disappear from the experiment detail page.
3. When archiving an experiment, the experiment object itself is archived, and all the runs it contains are also archived.
4. Therefore, after archiving an experiment, and we went on to check this exper

[2021-01-22 21:19] arllanos commented on #4649
@Bobgy, feel free to take a look into the PR.
Note this new functionality requires the following:
- new bucket for each profile
- artifact-repositories configmap for each profile.
We could have them created as part of profile creation and tackle this in a separate PR.

[2021-01-22 21:33] amitripshtos commented on #4649
I'm really glad that this feature is pushed! I wonder if the standalone version will be able to use this feature. Any thoughts about that?

[2021-01-23 00:05] Bobgy commented on #5020
Thanks, in fact google-oss-robot is still spamming, so we need to keep it for some time

[2021-01-23 00:09] #2654 closed

[2021-01-23 01:51] Bobgy commented on #3763
/lifecycle frozen

[2021-01-23 01:52] Bobgy commented on #4972
Hi @all, can you try https://github.com/kubeflow/pipelines/issues/3763#issuecomment-628379351 to verify if this is a duplicate of that issue?

[2021-01-23 01:53] Bobgy commented on #4972
/cc @yanniszark
Because this only happens in istio-dex installation, can you take a look?

[2021-01-23 02:04] Bobgy commented on #3763
I no longer see this happening any more

[2021-01-23 11:04] NikeNano commented on #5014
This is resolved by: https://github.com/kubeflow/pipelines/pull/5028 :)

[2021-01-23 12:33] Bobgy commented on #2523
Deleted all leaked disks in one batch

[2021-01-23 15:49] NikeNano commented on #4752
Sounds great @Bobgy. I will start to work on make a small proof of concept and then start to draft a design doc.

[2021-01-24 14:36] cai-harry commented on #4763
For the benefit of anyone looking at this thread: I have changed to kubeflow v1.0.4 and it is not an issue anymore.
![image](https://user-images.githubusercontent.com/35222594/105633609-8617ca00-5e51-11eb-9948-7120c0bdc38a.png)

[2021-01-24 14:36] #4763 closed

[2021-01-25 01:45] kim-sardine commented on #5014
from `godoc.org` to `pkg.go.dev`! Thanks a lot

[2021-01-25 01:45] #5014 closed

[2021-01-25 02:48] Bobgy commented on #1252
/reopen
Makes sense, this is now possible to implement

[2021-01-25 06:08] Juggernaut1997 opened #5029 "Can't access the endpoint generated at the end of the process"
Hi team,

I am a ML Engineer and right now working on MLOps on GCP. So for that I developed my ML model and used `kfp functions` to deploy my model to Kubeflow and I successfully did that. Adding to that, I have also developed a simple UI to access my ML model using flask.

So for now, my application consist of 3 steps:
1. Pre-process
2. Train
3. Predict

In the end of predict, I had an endpoint g

[2021-01-25 06:38] Bobgy commented on #4172
All the runs of an archived experiment can only be archived, so it makes experiment details page of an archived experiment useless. That's why I proposed to slightly change the expected behavior:
1. when experiment is active, its details page shows active runs
2. when experiment is archived, its details page shows archived runs

but I think your suggestion can be a further improvement, because in

[2021-01-25 09:27] DavidSpek commented on #4682
@Bobgy, I could be wrong but I believe my PR covers the entire scope of what was described in the original post. If you agree I will change the PR so that it links to this issue and can close it when it gets merged.

[2021-01-25 10:00] Mar-ai commented on #4976
You might find this issue useful: https://github.com/kubeflow/pipelines/issues/4440
Specifically these comments describe how to overcome this by adding a servicerolebinding and envoy filter: https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687553259, https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687689294, https://github.com/kubeflow/pipelines/issues/4440#issuecommen

[2021-01-25 10:30] Mar-ai opened #5031 "`ml-pipeline-ui` cannot be configured for volume-support"
### What steps did you take:

I'm starting a TFX-pipeline in a jupyter notebook in namespace `admin`. According to the [TFX kubeflow-on premise example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py),  the PV is mounted as follows:
[code]

and used in
[code]

PV and PVC have been created in namespace `admin`.
The pipeline succeeds.

[2021-01-25 10:35] StefanoFioravanzo commented on #4752
@NikeNano @Bobgy First of all, I completely endorse the refactoring and move to native Cron Job, it will definitely improve the code quality of the controller.

A very important feature of ScheduledWorkflow is to be able to set a backfilling policy (i.e. If the start time is in the past, then run all the jobs that should have run until now, respecting the max parallel jobs limit). Doing a quick se

[2021-01-25 10:42] Bobgy commented on #4752
That's a good point Stefano, we'll need to consider other options as well if cronjob itself is not enough.

[2021-01-25 16:19] slenky commented on #4346
If someone ended up googling that issue, here is the list of SQL commands I've executed on Kubeflow mysql pod and got it working.

Use case: migrating from Kubeflow 1.0.2 to Kubeflow 1.2.0 with multi-user.

Env info: Kubeflow 1.2.0, Azure, KFP 1.0.4
[code]

You also need to create a `kubeflow-old` profile and give your users permissions to that namespace then.

[2021-01-25 19:29] zijianjoy commented on #4172
That sounds good! I will explore more to see how to implement this behavior.

[2021-01-25 19:49] pkasson-ascena opened #5032 "Kubeflow 1.0.2 - pipelines upgrade - failing ..."
Referred to the upgrade website and ran the command:

kubectl apply -k "github.com/kubeflow/pipelines/manifests/kustomize/env/dev?ref=$PIPELINE_VERSION"

with pipeline version being:  1.3

Here is the output:

Error from server (Invalid): error when applying patch:

{"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"apps/v1\",\"kind\":\"Deployment\",\

[2021-01-26 01:35] capri-xiyue commented on #4682
Based on the example https://github.com/DavidSpek/pipelines/pulls,
it looks like it will create one PR for each dependency.
I'm worried that too much PRs will get created for one major update and it causes burden for devs to review it.
I'd prefer we will have one single large PR for dependency update of a specific area.
For example, one large pr for dependency update of go code, one large pr for d

[2021-01-26 07:36] Bobgy commented on #4346
That's awesome, as a reference, there's a more simplified version if upgrading from later version of KFP to multi-user KFP.

https://gist.github.com/chensun/a57844eacdae6565bb88501a47647bac

[2021-01-26 07:37] Bobgy commented on #4346
We do not plan to provide one-click/one-script upgrade if user request is low. From what I heard, most users ended up deploying a new Kubeflow cluster, because KFP is not the only one that needs complex upgrade.

[2021-01-26 07:38] #4346 closed

[2021-01-26 07:41] Bobgy commented on #5032
The upgrade command is only supported by Kubeflow Pipelines standalone. You cannot use it to upgrade Kubeflow.

[2021-01-26 07:41] Bobgy commented on #5032
https://www.kubeflow.org/docs/pipelines/installation/overview/

[2021-01-26 07:41] #5032 closed

[2021-01-26 07:42] Bobgy commented on #5021
Finished clean up

[2021-01-26 07:42] #5021 closed

[2021-01-26 07:44] Bobgy commented on #5020
We have migrated to @google-oss-robot, there was an issue during the migration that caused all presubmit tests in existing PRs to succeed with message "Context retired without replacement". Please comment `/retest` on the PR to retry them.

[2021-01-26 07:45] Bobgy commented on #5020
the migration has succeeded, closing this issue

[2021-01-26 07:45] #5020 closed

[2021-01-26 08:04] DavidSpek commented on #4682
I understand that some updates, such as updating all go kubernetes dependencies to a new version should be bundled together. However, by grouping together all updates for python dependencies and running tests on them, what happens if that test fails? You will then need to go through all the changes and this try to figure out what dependency caused the test to fail. In contrast, if 1 test is run fo

[2021-01-26 08:14] chensun commented on #5007
Error is
[code]

[2021-01-26 11:37] #4699 closed

[2021-01-26 11:37] #3935 closed

[2021-01-26 13:46] pkasson-ascena commented on #5032
We were trying to upgrade only pipelines - possibly the pasted results from above were from the other approach, that being a frest install.  Does the upgrade to pipelines work, if you are on KF 1.0.2 and whatever the version of pipelines is for that ?

[2021-01-26 13:55] devilmetal opened #5037 "Issues with deploy model"
### What steps did you take:
After trying to use the "model" parameter of the ml_engine deploy component, we are now facing issue regarding deployment of model with the same names.

https://github.com/kubeflow/pipelines/tree/master/components/gcp/ml_engine/deploy
### What happened:
While using 'replace_existing_version' parameter, the component raison 409 error.

### What did you expect to happen:

[2021-01-26 15:40] dkajtoch opened #5038 "ml_engine does not expose "labels""
I am writing kubeflow pipeline with Ai platform train job, but can't add argument "labels" (e.g. tracking costs) into ML_ENGINE_TRAIN_OP since there is no such thing. I can add labels via gcloud, REST or even Airflow has one (https://github.com/apache/airflow/blob/7f4c88c0680b4fb98fe8b31800a93e1d0476c4db/airflow/providers/google/cloud/operators/mlengine.py#L1072)

[code]

[2021-01-26 18:23] capri-xiyue commented on #4682
I agree that if we have good test coverage, maybe we can merge prs related to dependency update automatically and devs don't need to review them. However, I'm still afraid that it will cause large workloads of test infra if we create one PR for one specific dependency upgrade. If we think the test infra can handle large number of prs at the same time and it won't affect the merge of other non-depe

[2021-01-26 18:28] DavidSpek commented on #4682
@capri-xiyue Am I correct in thinking that your concerns are mainly regarding the initial spike of PRs the dependabot will create once it is configured? Because after those initial PRs, think the test infra should be able to handle running a test for each PR.

If that is indeed the case, my idea of first merging the updates (or a lot of them) into a separate branch and then merging that into maste

[2021-01-26 18:31] capri-xiyue commented on #4682
@DavidSpek  Not only initial spike of prs when dependabot when it is configured but also possible spike of dependency update prs in the future.

[2021-01-26 18:31] chensun commented on #5007
Postsubmit is still red with multiple errors. Reopen this, and I'll investigate one by one shortly.

[2021-01-26 18:34] DavidSpek commented on #4682
@capri-xiyue I fully expect that some fine tuning of the script, like adding ignore rules or limiting the amount of PRs for specific folders will be needed or even removing certain folders. However, I think most of the things that needs fine tuning will only come to light once dependabot starts creating PRs.

[2021-01-26 18:44] capri-xiyue commented on #4682
@DavidSpek I'm quite confused that why we need specific tuning regarding the amount of PRs. I thought ideally we will update all dependencies unless we have specific concerns. For example, when we set the limit of PRs to 10, however, 15 dependency need to get updated, how will dependabot handle these cases and how will dependabot choose which 10 dependencies it will update. And if we still want to

[2021-01-26 18:52] DavidSpek commented on #4682
@capri-xiyue In the example you describe, dependabot will first create 10 PRs, how it chooses these I am not sure but I am guessing it will take security vulnerabilities into account. After you merge one of the 10 original PRs it will add another one from the 5 that are still remaining. If it does this instantly (that it keeps a backlog in memory so to say) or if it happens the next day during the

[2021-01-26 19:20] capri-xiyue commented on #4682
@DavidSpek Thanks for the explanation!
I checked the usage of depantbot, https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#open-pull-requests-limit, once we reach the open-pull-requests-limit, new requests are blocked until you merge or close some of the open requests. If we want to use usage of depantbot, I think we will need an automatic me

[2021-01-26 19:24] DavidSpek commented on #4682
@capri-xiyue Currently I have the limit set to 10 PRs per folder*package-system and set to check daily. In regards to the testing and automatic merging that is something up to the OWNERS of each repo and/or folder. Personally I'm not against having PRs auto test and/or auto merge as I believe staying up to date and not getting stuck on old versions of software is important, but that is my opinion

[2021-01-26 19:43] capri-xiyue commented on #4682
@DavidSpek I agree that In regards to the testing and automatic merging that is something up to the OWNERS of each repo and/or folder. But without such automatic merging, devs of KFP may have to review at most 10 prs for each driectory(8 directories are defined with dependant config for KFP) which makes the review process quite unpractical. That's why I think we need to determine the review proces

[2021-01-26 19:49] DavidSpek commented on #4682
@capri-xiyue Out of interest, what would be the alternative system for dependency upgrading? I think custom scripts (that add dev overhead themselves) will most likely run into the same issues or be more time consuming than dependabot. I completely agree that the process for reviewing and merging should be determined before enabling dependabot. I guess what I am trying to get at is, is it still a

[2021-01-26 20:05] capri-xiyue commented on #4682
@DavidSpek
I'm considering writing custom scripts like https://github.com/knative/hack/blob/8d623a0af457cbe26134e20624bc31a2809617dd/library.sh#L537 and https://github.com/google/knative-gcp/blob/master/hack/update-deps.sh, and it will create PRs like https://github.com/google/knative-gcp/pull/2091/files (one single large pr).
I agree that custom scripts will take more time to develop but the work

[2021-01-26 20:23] DavidSpek commented on #4682
@capri-xiyue Thanks for the links, I'll look into them in a moment. I think another important difference is that a custom script will need infra to run on, and the infra will also need to be managed. Also, if the infra providers changes similar to the test infra moving from GCP to AWS, the custom solution will also need to be migrated. Did you already have a plan where this custom solution would r

[2021-01-26 20:36] capri-xiyue commented on #4682
Yep. That script I mentioned is specifically for Go and I think we already have custom scripts for python https://github.com/kubeflow/pipelines/blob/master/backend/update_requirements.sh. I'm not sure how difficult it is to include npm and docker, we need further investigation. My idea is that one custom scripts for one area(for example, one script for go, one script for python). If dependabot can

[2021-01-26 21:20] DavidSpek commented on #4682
@capri-xiyue Do I understand correctly that the given go script or python script would need to be copied to each directory that contains the given dependency file (at least in the current form)? This would mean a lot of code duplication, especially when considering all the repo's of Kubeflow. And also figuring out which folders contain dependency listing files, which is what my script does to then

[2021-01-26 22:15] capri-xiyue commented on #4682
For the code duplication, maybe we can follow what Knative does, we can put such common deps update scripts in a specific repo shared by all kubeflow repos and each kubeflow repo can make use of it as https://github.com/google/knative-gcp/blob/master/hack/update-deps.sh does.
I don't have any other concerns for dependabot as long as we can figure out how to make the review and merge process of dep

[2021-01-26 23:23] DavidSpek commented on #4682
One option would be for dependabot to have a global max PR limit, which I think wouldn't be to hard to implement and I raised [here](https://github.com/dependabot/dependabot-core/issues/2158#issuecomment-767890497).

There seem to be more people that are facing similar problems wrt the amount of PRs that dependabot would create and wanting to group them together. Relevant issue: https://github.com

[2021-01-26 23:34] DavidSpek commented on #4682
This comment links to a repository in which the ability to group dependency updates together has been added it seems. https://github.com/dependabot/dependabot-core/issues/2672#issuecomment-719130140

[2021-01-27 00:06] DavidSpek commented on #4682
@capri-xiyue For reference, this repo has added the ability to group dependencies together in a PR, and contains the necessary docs and scripts to self-host dependabot. https://github.com/pharos/dependabot-script/tree/pharos-giltlab
If we can get this setup on the AWS infra (or another infra for that matter) I think we have the issue solved. However, I think I will try contacting one of the devs w

[2021-01-27 04:11] Bobgy commented on #4553
Progress for argo v3: https://github.com/argoproj/argo/milestone/20

[2021-01-27 04:21] Bobgy commented on #4553
Asked about upstream updates in https://github.com/argoproj/argo/discussions/4953

[2021-01-27 05:51] rarkins commented on #4682
@DavidSpek [Renovate](https://github.com/renovatebot/renovate) is an open source tool - also available as a [free app on GitHub](https://github.com/apps/renovate) - which supports native PR grouping, rate limiting and automerging. It also supports bazel, which it seems you use here.

As an example, I have forked this repo to view Renovate's onboarding Pull Request here: https://github.com/rarkins/

[2021-01-27 08:50] DavidSpek commented on #4682
@rarkins Thanks for bringing that up, I'm going to look into it right away. Did I see correctly that it also supports Kustomize?

[2021-01-27 09:00] rarkins commented on #4682
@dav009 yes, Renovate supports Kustomize.

Renovate also has a "regex manager" capability which means you can essentially create custom package managers with config to extract dependencies from unsupported file formats too - including completely proprietary files - and have them updated too, assuming that they can be referenced against an existing datasource like github tags, Docker images, etc. W

[2021-01-27 11:37] Bobgy commented on #4973
@Svendegroote91 Sorry for the late reply, reading through your description, it sounds like

this part is wrong, you need to type `root` into database username, it's not the default when you leave it to empty.

[2021-01-27 12:01] Bobgy commented on #4682
Thank you @rarkins for bringing it up! Sounds like it meets almost all of our requirements.

Just for sanity checking, I was looking at permission requirements for the github app,
[code]

Why does it need write access to code?

[2021-01-27 12:03] DavidSpek commented on #4682
@Bobgy I think this is for the auto-merging feature. However, there is an alternative that doesn't require write access: https://github.com/apps/forking-renovate.

[2021-01-27 12:04] Bobgy commented on #4682
@DavidSpek neat, that looks like exactly what we need.

[2021-01-27 12:08] rarkins commented on #4682
Apps are not "real" users in GitHub so cannot fork repos in order to submit an outsider Pull Request. Therefore the app requires write access to create its own branches even if not automerging.

The mentioned Forking Renovate app overcomes this by forking repos using the *real* user @renovate-bot.

I think that concern over write access for apps is not so relevant now that GitHub supports robust b

[2021-01-27 12:13] Bobgy commented on #4682
That's a good point I overlooked, yes, we do have branch protections set up.

But anyway, I'd prefer following minimal permission principal when it's possible.

@rarkins A side question: can I confirm, do @renovate-bot already sign Google's CLA?

[2021-01-27 12:18] rarkins commented on #4682
Yes. The app is installed and active on 400+ repos within `google`, `googleapis`, `GoogleCloudPlatform` and `ampproject`, plus potentially some other Google orgs that I'm not aware of.

[2021-01-27 12:29] Bobgy commented on #4682
Awesome,

/cc @capri-xiyue @chensun @numerology @Ark-kun @zijianjoy
Hi team, this is a potentially wide impact process change, I'd like to hear your thoughts about it.

[2021-01-27 14:26] DavidSpek commented on #4682
I am currently experimenting with creating a config file for pipelines, which I hope can also serve as a nice base for other repositories as well.

[2021-01-27 14:39] DavidSpek commented on #4682
To provide everybody with an example. With the below code snippet in the config file, it will group all patch and minor updates to all docker files together in one PR.
[code]
The resulting PR looks as follows:
![image](https://user-images.githubusercontent.com/28541758/106006722-d2fbda80-60b5-11eb-9fe3-7e2f3d97f091.png)
https://github.com/DavidSpek/pipelines/pull/160

[2021-01-27 16:41] NikeNano commented on #4553
I will give it a new try to update to 2.12.

[2021-01-27 18:57] zijianjoy commented on #4682
Thank you everyone for contributing the ideas and discussion! It looks to me a great improvement on product health using renovate bot!

There are a couple points from my perspective:

1. Since there is still a concern about test coverage which might not be able to catch issues during presubmit tests, I would suggest to upgrade dependency on **one directory** first with renovate bot. Once we valida

[2021-01-27 19:07] DavidSpek commented on #4682
@zijianjoy For avoiding noise and potential breakage, I think setting `stabilityDays` is a very interesting option. https://docs.renovatebot.com/configuration-options/#stabilitydays.

"If you combine stabilityDays=3 and prCreation="not-pending" then Renovate will hold back from creating branches until 3 or more days have elapsed since the version was released. It's recommended that you enable depe

[2021-01-27 20:40] arllanos commented on #4649
Good point @amitripshtos regarding standalone version. I'll to test this particular scenario. Depending on the findings, extra changes might be needed.

[2021-01-27 21:24] arllanos commented on #4649
@Bobgy / @Ark-kun,
as mentioned above, when submitting workflows with the `ArtifactRepositoryRef` field, two things have to exist for each namespace: (1) the referenced config map `artifact-repositories` and (2) the bucket that corresponds to the namespace.
1. To create the config map for each namespace we can take advantage of the [pipeline profile controller](https://github.com/kubeflow/manifest

[2021-01-27 21:46] chensun commented on #5007
There're other build failures similar to the one I fixed above. Reopen and I'll make fixes shortly.

[2021-01-28 01:23] maganaluis commented on #651
hold

[2021-01-28 02:40] maganaluis commented on #651
I think the best way to approach this would be to use [Argo Events](https://argoproj.github.io/argo-events/), but in order to continue using the KFP development stack we'll need to extend the backend endpoints to support the creation of a Argo Sensor.

The sensor should use the default pipeline version in KFP, and should expect a message that includes the required parameters for this pipeline. If

[2021-01-28 03:12] Bobgy commented on #5007
Awesome, thank you @chensun!

[2021-01-28 03:22] capri-xiyue commented on #4682
I think Renovate is a great tool for the dependency upgrade process.
1. Since Renovate supports grouping PRs, I don't think we need automatic merging now and devs should be able to have the bandwidth to review the dependency update PRs
I'd suggest we create all PRs  of Renovate for all repos to make sure Renovate will be sufficient enough for the dependency upgrade process for  Go, Python, Docker,

[2021-01-28 05:52] rarkins commented on #4682
Beware of grouping updates into a single PR too aggressively, because if one upgrade is causing then PR to fail then you get blocked updating anything. And if more than one upgrade fails then it further increases the difficulty of figuring out *which* upgrades are causing the failure in the first place.

If the project has quite outdated dependencies right now, it may require a different approach/

[2021-01-28 07:14] Ark-kun commented on #5007
JFYI:
The latest issue with the deprecated dataflow component container build was caused by pip 21.0 dropping support for python2. https://github.com/pypa/pip/issues/6148 Those container images were dynamically installing latest version of pip which cause the build to start failing.

[2021-01-28 07:23] ajinkya933 commented on #4967
The issue can be solved by replacing:  `modes=dsl.VOLUME_MODE_RWM` with ` modes=dsl.VOLUME_MODE_RWO` in the input python script.

[2021-01-28 07:23] #4967 closed

[2021-01-28 07:38] ajinkya933 opened #5046 "Kubeflow 1.2 PVC volume is not getting deleted"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:
I am able to train MNIST dataset and make predictions on Kubeflow using attached code:
[mnist.zip](https://github.com/kubeflow/pipelines/files/5885493/mnist.zip)

The execution of attached code on Kubeflow is as shown.
![volume_delete](https://user-images.githubusercontent.com/17012391/106105082-

[2021-01-28 07:40] ajinkya933 commented on #4941
#5046

[2021-01-28 07:40] ajinkya933 commented on #4967
#5046

[2021-01-28 08:46] DavidSpek commented on #4682
For reference, this is the dashboard for Pipelines while I am trying to find a good starting config.
![image](https://user-images.githubusercontent.com/28541758/106112564-b612e600-614d-11eb-8c43-0f737409cf0f.png)
https://github.com/DavidSpek/pipelines/issues/158

[2021-01-28 14:25] ankur47 commented on #4969
Hi Ark-kun

I tried with `pickle.dumps` approach still getting above mentioned issues. Is there any better approach to accomplish this above task.
Another approach I tried with output different approach.
`
Error: a bytes-like object is required, not 'BatchDataset`

[2021-01-28 14:49] PatrickGhosn opened #5048 "How to make file_outputs dynamic in the KFP SDK?"
/kind question

[code]

But when I try to compile the pipeline I get the below:
`TypeError: Object of type PipelineParam is not JSON serializable`

How can I have the file output be a parameter/dynamic?

[2021-01-28 18:19] alexec commented on #4553
Let us know if you want help!

[2021-01-28 18:44] chensun opened #5049 "Presubmit test kubeflow-pipelines-tfx-python36 failing"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5042/kubeflow-pipelines-tfx-python36/1354678589223604224

Times out while waiting for pip install to finish.
[code]

[2021-01-28 19:59] chensun opened #5051 "Unpin pip version in presubmit-tests-tfx.sh"
Unpin pip version once we figure out how to make the new dependency resolver in pip 20.3+ work in our case.

Related issues:
#5049
#4853

[2021-01-28 20:09] chensun commented on #5049
pip 21.0 came out on 1/23, and it still has the same dependency resolver issue as we hit with pip 20.3.*

Previous issue: #4853

[2021-01-29 00:38] Bobgy commented on #5029
@Juggernaut1997 Do you use full Kubeflow or AI platform pipelines?

You may take a look at KFServing, I think they provide mechanism to expose generic container endpoint.

[2021-01-29 00:45] Bobgy commented on #5022
Metadata UI has been deprecated, the new metadata UI will be improved in KFP UI.
Do you have the same problem with KFP UI?

[2021-01-29 00:53] Bobgy commented on #5008
/cc @chensun @Ark-kun
Do you have an suggestions for him?

[2021-01-29 01:02] Bobgy commented on #5006
What you requested is in scope of Issue # 3513.
It will be released in the next Kubeflow release. So you can wait for it.

[2021-01-29 01:02] #5006 closed

[2021-01-29 01:08] Bobgy commented on #5005
/assign @Ark-kun

Understood the issue, that's indeed a limitation of KFP caching.
Note, the feature is in Alpha stage, you can also disable it via https://www.kubeflow.org/docs/pipelines/caching/#disabling-caching-in-your-kubeflow-pipelines-deployment
(the doc is slightly outdated, the name of that configuration should be `cache-webhook-{namespace}` instead.

[2021-01-29 01:09] Bobgy commented on #4174
/lifecycle frozen

[2021-01-29 01:09] Bobgy commented on #4174
/cc @chensun @numerology

[2021-01-29 01:12] Bobgy commented on #3938
/lifecycle frozen

[2021-01-29 04:29] Bobgy commented on #4340
/lifecycle frozen

[2021-01-29 04:56] Bobgy commented on #3494
/lifecycle frozen
/reopen

[2021-01-29 06:09] yuku opened #5053 "TypeErro occurs in gcp/automl/create_dataset_for_tables component"
### What steps did you take:
[A clear and concise description of what the bug is.]

[gcp/automl/create_dataset_for_tables component](https://github.com/kubeflow/pipelines/tree/master/components/gcp/automl/create_dataset_for_tables)'s `create_time` output is declared as a string:

https://github.com/kubeflow/pipelines/blob/ecb14f40bb819c0678589b6458892ece5369fa71/components/gcp/automl/create_datase

[2021-01-29 07:33] #5053 closed

[2021-01-29 07:36] munagekar opened #5055 "Feature Request: kfp.dsl.ResourceOp should have a caching strategy option"
Currently only kfp.dsl.ContainerOp has caching strategy option, ResourceOp should have similar options, this Op also gets cached by minio.

REF: https://www.kubeflow.org/docs/pipelines/caching/#managing-caching-staleness

[2021-01-29 07:37] Bobgy commented on #5031
Note, in multi user mode, there's an kfp artifact server in each user's namespace. You should be able to mount the volume there.

[2021-01-29 07:38] Bobgy commented on #5031
but in general, this feature in in Alpha stage, it might not work out. I'd love to hear your feedback if it could be configured to work for you, or do you have any suggestions to improve it?

[2021-01-29 07:39] anatolyzolotar commented on #3936
Thanks for your help and sorry for a late response. I guess it doesn't help with this problem. At least, I couldn't figure out how to use that config customization from volume-support doc. It's not clear what should I add there and how it can help me to put a specific argument to tensorboard command (--reload_interval=0) to, I guess, [this place](https://github.com/kubeflow/pipelines/blob/master/b

[2021-01-29 07:40] chensun commented on #5007
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-standalone-component-test/1354926169316659200

Latest test error was:
[code]

and this is due to the content of gs://ml-pipeline/sample-pipeline/xgboost/initialization_actions.sh

[code]
I'm going to update its content to use Python 3.

[2021-01-29 07:44] munagekar commented on #5055
ResourceOp is implemented using Argo. Fixing  #4083 should provide this feature.

[2021-01-29 07:44] #5055 closed

[2021-01-29 08:50] Bobgy commented on #4682
Neat, I think we can get started with that dashboard first as @rarkins suggested.

[2021-01-29 08:52] Bobgy commented on #4682
Installed the forking renovate github app

[2021-01-29 08:58] Bobgy commented on #4682
The configuration PR was created: https://github.com/kubeflow/pipelines/pull/5056

[2021-01-29 09:14] zijianjoy commented on #4997
Hello @kd303, I need more information in order to reproduce this issue. Based on the description, this happens when Pods are getting initialized. But Pods should be up and running when triggering a pipeline run. Did you uninstall KFP instance and redeploy before the issue happens?

To further investigate this issue, would you like to answer the followings:
1. Reproduce steps in more detail: What t

[2021-01-29 11:14] chensun commented on #5049
This is due to a recent change from TFX side: https://github.com/tensorflow/tfx/issues/3157

[2021-01-29 16:43] alexec opened #5061 "present KFP at the Argo Workflows community meeting"
We'd love you to come and present at our community meeting! http://bit.ly/argo-wf-cmty-mtng

Or what about writing a guest blog post? https://blog.argoproj.io/

I think our community would be super interested.

[2021-01-29 19:11] RoyerRamirez commented on #1779
Hi, I'm following along.  Have we found a fix for this issue? We currently run many jobs in parallel, and having to go back to delete the disks after they are used can be a pain.  Not to mention, it can get costly over time if users don't clean up their environment.

[2021-01-29 23:16] #5049 closed

[2021-01-30 01:20] Ark-kun commented on #4969
Can you please provide a minimal PoC?

[2021-01-30 01:38] Ark-kun commented on #4968
KFP auto-serializes only a very minimal number of types (`str`, `int`, `float`, `bool`, `list`(JSON), `dict`(JSON)).
Everything else bust be serialized explicitly.
The `dict`-type  outputs are serialized using `json.dump`, so everything that cannot be automatically serialized to JSON (e.g. `BatchDataset`) will fail.

You can check the generated code by doing
`func_to_container_op(data_investigatio

[2021-01-30 01:52] Ark-kun commented on #4846
@DavidSpek
AFAIR, I was using a Marketplace deployment.

Can you please elaborate on this? Does #4638 add a new API to the backend?

P.S. Perhaps we should try to avoid doing network requests in the class constructors.

[2021-01-30 09:15] chensun commented on #5007
After #5062 and updating gs://ml-pipeline/sample-pipeline/xgboost/initialization_actions.sh, the previous error is fixed.

Now we got a runtime error submitting Dataproc spark job:
[code]

Guessing we need to update this package [1] to accommodate newer version of Spark that comes with Dataproc 1.5 image.

[1] gs://ml-pipeline/sample-pipeline/xgboost/xgboost4j-example-0.8-SNAPSHOT-jar-with-depende

[2021-01-30 10:36] DavidSpek commented on #4846
@Ark-kun It's been a while, so I will try and explain it as best I can. What that PR did is add the `IsMultiUserMode` flag to the `/apis/v1beta1/healthz` endpoint. This was then added to the API backends as well, as doing a standard request was not possible with all deployments (during testing faced a 403). The KFP SDK then uses the healthz api endpoint to determine if the installation is multi-us

[2021-01-31 02:37] Bobgy commented on #3857
Requests to reduce vulnerabilities come more often than before, so I'm taking some time to continue this.

[2021-01-31 02:40] Bobgy commented on #3857
## formalize a vulnerability management process

I think the process should come with two parts:
1. set up a process to update dependencies/base images more frequently

this is already being addressed in https://github.com/kubeflow/pipelines/issues/4682

2. add an automated vulnerability policy check step in our CI/CD pipelines

I'll focus on 2. in this issue.

[2021-01-31 02:54] Bobgy commented on #3857
Research of tools suitable for this need:
* Google Cloud provides vulnerability scanning in container analysis service, but it can only provide information for what we need. It lacks required tools to integrate in a CI/CD pipeline. https://cloud.google.com/container-analysis/docs/vulnerability-scanning
* Kritis is a nice tool built by GCP, https://cloud.google.com/binary-authorization/docs/creatin

[2021-01-31 03:13] Bobgy commented on #3857
There seems to be similar open source tools like https://github.com/arminc/clair-scanner, but it requires running your own vulnerability server. It's more convenient to use GCP container analysis service directly.

[2021-01-31 03:35] Bobgy commented on #3857
A bit more research lead me to https://github.com/aquasecurity/trivy. It seems the leading open source option.
There are some extra nice features:
1. a local CLI for exploration -- it can group CVEs by library type:

[code]
2. there are existing github actions that use trivy: https://github.com/Azure/container-scan

[2021-01-31 04:10] Bobgy commented on #3857
For reference, vulnerability vector description:
https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator

[2021-01-31 05:07] Bobgy commented on #3857
An experimental feature of trivy is to use user defined open agent policy as checker for the vulnerabilities.
It can be used to filter based on vulnerability vector,
examples include:
* ignore all vulnerabilities that cannot be exploited via network
* ignore those that cannot be exploited with root permission
* ...

So it can reduce the amount of vulnerabilities we need to check based on our speci

[2021-01-31 05:09] Bobgy commented on #3857
Open Policy Agent is in fact a generic tool:

inputs: "JSON" and "Policy"
output: "pass?"

So we could just use it with gcr vulnerability scanning to get the best of both flexibility using a GCP managed service.

[2021-01-31 06:33] Bobgy commented on #3857
## Summary of Options

Trivy
* Onboarding cost: low (download a binary and run it)
* Vulnerability DB confidence: unknown (it's a third party maintained DB)
* Configuration flexibility: high (especially with OPA)
* Momentum: high (6k stars, 18 PRs merged and 12 issues closed last month -- at time of evaluation)

Kritis
* Onboarding cost: low (there're official docs for using it in Cloud Build, it'

[2021-01-31 20:37] shawnzhu commented on #3857
I'm interested in this issue. speaking of trivy, it supports filtering vulnerabilities by a number of options besides OPA:

1. `--severity` - https://github.com/aquasecurity/trivy#filter-the-vulnerabilities-by-severities
2. `.trivyignore` - https://github.com/aquasecurity/trivy#ignore-the-specified-vulnerabilities
3. `--skip-files` - ignore specific file - https://github.com/aquasecurity/trivy#ski

[2021-01-31 23:08] Bobgy commented on #3857
@shawnzhu You are right.

I didn't make it clear that my major preference for kritis is -- it uses GCP container scanning as data source (in fact, it directly reads GCP container scanning results, so you cannot use it outside GCP)

[2021-02-01 02:09] Bobgy commented on #3857
Some notes after experimenting with Kritis:
* it not only runs on Cloud Build, although [the sample is in Cloud Build](https://cloud.google.com/binary-authorization/docs/creating-attestations-kritis#check-only), I found it much faster in terms of developer speed writing a KFP pipeline that runs vulnerability checks
* Kritis does not output structured information for vulnerability check results, we

[2021-02-01 10:03] Bobgy commented on #3857
I built a KFP pipeline that runs Kritis: https://github.com/kubeflow/pipelines/pull/5066.
This is now a one off pipeline I use to verify existing released images.

The next steps would be maintaining a long running KFP test cluster and run that pipeline as one of the post submit tests.

[2021-02-01 11:55] BorFour opened #5067 "Dataset location on BigQuery component"
I am using the [bigquery to_CSV component](https://raw.githubusercontent.com/kubeflow/pipelines/1.3.0/components/gcp/bigquery/query/to_CSV/component.yaml) like so:

[code]

The query tries to acces a dataset with location EU multiregional. My pipeline fails with `google.api_core.exceptions.NotFound: 404 Not found: Dataset XXXXX was not found in location US`.

I've noticed that, in the [component P

[2021-02-01 18:02] Junaid-Ahmed94 commented on #4469
@Bobgy I am also facing the same issue. Given below is the output that you requested.
![image](https://user-images.githubusercontent.com/13130629/106487056-96175580-64b2-11eb-9864-3f700181858e.png)

What I did.
1. Used [kfctl_azure_aad.v1.2.0](https://raw.githubusercontent.com/kubeflow/manifests/v1.2-branch/kfdef/kfctl_azure_aad.v1.2.0.yaml)
2. updated [generic to multiuser](https://github.com/kub

[2021-02-02 02:55] forking-renovate[bot] opened #5068 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] chore(deps): update gcr.io/inverting-proxy/agent digest to 762c500
 - [ ] fix(deps): update github.com/kubeflow/pipeli

[2021-02-02 03:29] Bobgy commented on #5068
Part of https://github.com/kubeflow/pipelines/issues/4682

[2021-02-02 03:30] Bobgy commented on #4682
The dashboard is live!
https://github.com/kubeflow/pipelines/issues/5068#issue-798879205

[2021-02-02 03:33] Bobgy commented on #4682
A remaining configuration thing to discuss is, do we want to pin our dependencies?
https://docs.renovatebot.com/dependency-pinning/

There are two approaches:
1. `package.json` keeps using semver versions, renovate only updates `package-lock.json`
2. We pin all direct dependencies in `package.json` to the exact versions like in https://github.com/kubeflow/pipelines/pull/5069, renovate will update

[2021-02-02 05:07] harshit-deepsource opened #5073 "Dataflow Launch Python Sample.ipynb is Unreadable"
Unable to open components/gcp/dataflow/launch_python/sample.ipynb as the file is invalid because of invalid json. Please upload a working file. I tried opening it locally as well. But it's broken. Thanks.

https://github.com/kubeflow/pipelines/blob/master/components/gcp/dataflow/launch_python/sample.ipynb

[2021-02-02 05:09] Bobgy commented on #4682
Hmm, something doesn't look right. After making this configuration only webdriverio/wdio-selenium-standalone-service, webpack/webpack were updated in npm patch PR.

Revising again based on https://docs.renovatebot.com/configuration-options/#rangestrategy

[2021-02-02 05:30] rarkins commented on #4682
@Bodgy please see #5075

[2021-02-02 05:32] rarkins commented on #4682
FWIW I recommend against retaining ranges in `package.json` unless you are publishing a library. By retaining ranges you don't save any noise to the repo (need just as many updates) but it's harder to tell what version you are currently on or what is being upgraded, because you have to dig through hundreds or thousands of lines of a lock file instead of dozens in a package.json.

[2021-02-02 06:08] Bobgy commented on #4682
@rarkins I can see your point, for clarification, we will unnecessarily have specific reasons to stick to certain version of a library for some time.

I'd hope such a decision can be represented in a form not coupled to renovate, so that e.g.
1. we can still upgrade dependencies in the usual way -- using npm update
2. keep source of truth in `package.json`

If we pin all versions in `pakcage.json`

[2021-02-02 07:54] Bobgy commented on #4682
In fact, even with rangeStrategy=update-lock, version update is still very visible thanks to Renovate: https://github.com/kubeflow/pipelines/pull/5071.
![image](https://user-images.githubusercontent.com/4957653/106568899-dfc57600-656e-11eb-97ae-c2f40966c492.png)

[2021-02-02 15:58] #4924 closed

[2021-02-02 16:24] solarist commented on #4469
Same here (HTTP 503) on prem with version 1.2 with dex auth. namespace has correct labels, and disabling mTLS on ml-pipeline leads to "RBAC: access denied" error.

[2021-02-02 17:48] boarder7395 commented on #4574
@Ark-kun Just surfacing this again. I am using the experimental feature for data_passing_methods with a Kubernetes Volume but its current implementation prevents the usage of Artifacts such as UI metadata. I have tested without data_passing using a volume and the artifact is available in the UI, but when I enable it the artifact is no longer present.

A bigger question here is what direction is th

[2021-02-02 17:59] alexlatchford commented on #1132
Chiming in here, more background in [this Slack thread](https://kubeflow.slack.com/archives/CE10KS9M4/p1611959970048700).

Our use case at Zillow is to be able to deploy monitoring alongside scheduled pipelines. We use Datadog internally and have created a K8s operator for creating Datadog Monitors (essentially alerts triggered by metrics over thresholds), it just reconciles the state of the resou

[2021-02-02 20:20] zijianjoy commented on #2922
Hello @amygdala , thank you for providing the sample for reproducing the issue! I went through the steps as below:

### Environment

I am using `v1.3.0` for backend image: `gcr.io/ml-pipeline/api-server:1.3.0`. And I am using the latest change of frontend code on GitHub.

### Observation

I have no problem uploading a revision of pipeline using raw github content URL as you provided (https://raw.g

[2021-02-02 21:14] zijianjoy commented on #2922
Received response from user that the issue has been fixed, and new UI allows you to upload pipeline revision file from local.

[2021-02-02 21:14] #2922 closed

[2021-02-03 05:16] Bobgy commented on #1132
@alexlatchford for clarification, does the use case only applies to `ScheduledWorkflow`?

Sounds to me one time pipeline runs do not need a CRD interface.

[2021-02-03 06:35] kim-sardine commented on #5046
In my case, I manually delete volume using ResourceOp with delete action in ExitHandler

https://github.com/kubeflow/pipelines/issues/1779#issuecomment-674085829

[2021-02-03 08:30] StefanoFioravanzo opened #5084 "[FR] Support namespaced pipelines from the UI"
Given the backend support of namespaced pipelines (https://github.com/kubeflow/pipelines/pull/4835), we can use this issue to discuss how to bring this feature to the UI as well. We (Arrikto) will start working on this soon and provide updates here for discussion.

cc @Bobgy @yanniszark @elikatsis @maganaluis

[2021-02-03 08:48] Junaid-Ahmed94 commented on #4469
So after going through few other issues and using their 'hack' it worked (for Azure KF1.2 deployment) by changing the ISTIO_MUTUAL to DISABLE
 in [istio-authorization-config.yaml](https://github.com/kubeflow/manifests/blob/master/pipeline/installs/multi-user/istio-authorization-config.yaml)

@berndverst, after comparison of AKS KF deployment with GKE KF deployment. we found that AKS ns/kubeflow wa

[2021-02-03 13:51] dkajtoch opened #5085 "BrokenPipe for ml engine train component"
### What steps did you take:
ML engine train component throws BrokenPipe Error after around 30 minutes of continuous training. This is not a one-off situation but jobs keep failing.
### What happened:

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
Kubeflow Pipelines was deployed using gcp "ai platform pipelines" tool.
Kubeflow Pipelines 1.0.4
Ku

[2021-02-03 16:16] alexlatchford commented on #1132
I think we'd ideally prefer to just use the same CICD pipeline regardless so I'd imagine we'd use the `ScheduledWorkflow` in [this mode](https://github.com/kubeflow/pipelines/blob/master/backend/src/crd/samples/scheduledworkflow/single-run.yaml) just to unify the deployment process.

[2021-02-03 16:56] yzhang5471 opened #5087 "kfp.compiler.Compiler.compile() failed with Bazel due to kfp.CHECK_TYPE not found"
### What steps did you take:
I use Bazel to compile the pipeline. It has been working for `kfp==1.0.0` but failed for `kfp>=1.1.2`.

### Environment:
python==3.8.5
bazel==3.2.0

KFP SDK version: `kfp==1.1.2` as well as `kfp==1.3.0`

### Anything else you would like to add:
Traceback from `kfp==1.1.2`
[code]
I suspect that the pkgutil style namespace packaging breaks the import (at least in Bazel)

[2021-02-03 17:53] elikatsis commented on #1779
@RoyerRamirez we've got #4831 targeting this but it's not merged yet.

[2021-02-03 18:12] elikatsis commented on #5046
This should be unrelated to KFP. It sounds like an issue/configuration of the storage class not deleting dynamically provisioned volumes on PVC deletion.

Do you confirm that the PVC is deleted?

I would expect some configuration to allow this sequence of actions:
1. User deletes PVC
2. CSI deletes PV
3. Volume is deleted from AWS

I may be missing something though

[2021-02-04 00:36] chensun opened #5089 "The KFP preloaded XGboost sample is broken and out-dated."
**TL;DR: The preload XGBoost sample is currently broken.
Proposing we remove this sample from KFP preload and from sample test until we got a chance to refresh the sample.**

------------
The direct cause was that it used the Dataproc 1.2 image which is based on Python 2.7, and pip 21.0 dropped support for Python 2.7.
The symptom is that `dataproc_create_cluster` fails on initialization.
![image](

[2021-02-04 00:45] chensun commented on #5007
Opened https://github.com/kubeflow/pipelines/issues/5089 to track the XGBoost issue, handing over the rest to @hongye-sun .

[2021-02-04 02:11] Bobgy commented on #5089
Completely agree with this!
The sample is a nice to have, it's more important get KFP releases healthy and running.

[2021-02-04 03:44] Ark-kun commented on #5067
I think the location should be exposed in the https://github.com/kubeflow/pipelines/blob/master/components/gcp/bigquery/query/to_CSV/component.yaml

[2021-02-04 06:47] wenmin-wu opened #5094 "Support `jobID` macro"
The `jobID` means `aba884eb-edcd-4828-aa18-887b4ab4abd2` in the following case, it's different from the `{{workflow.uid}}`.

 `http://pipeline.xxx.ingress.stg.xxx.com/#/runs/details/aba884eb-edcd-4828-aa18-887b4ab4abd2`

It's very handy for error tracking. e.g. we can put this macro in `ExitHandler` to send the owner the status together with the job URL for faster accessing.

[2021-02-04 06:47] peng09 opened #5095 "Add kube-api-qps/kube-api-burst for pipeline components"
In our internal clusters with KFP v1.0.0 release, we have over 20K workflow CRD in K8S Cluster.

The pipeline API Server/Cache Server has significant performance downgrade because of K8S client-go default QPS/Burst configuration. We can see logs from client-go below (the default QPS/Burst is 5/10 if unspecified.):
[code]

In such scenarios, I think we need add two more parameters (like kube-api-qp

[2021-02-04 09:25] denis-angilella opened #5098 "TFX Trainer ModelRun output can't be visualized with TensorBoard"
### What steps did you take:
* Run a TFX pipeline with Trainer component until successful completion
* Go to Run Output
* The Trainer component has 2 outputs, model and model_run:
[code]
* In the Trainer component section, create a TensorBoard then open it

### What happened:
TensorBoard shows INACTIVE and message `No dashboards are active for the current data set.`.
By switching SCALARS, under Ru

[2021-02-04 14:21] Bobgy commented on #4170
/lifecycle frozen

[2021-02-04 15:54] amitripshtos opened #5101 "Installing KFP understand specific namespace causes controller-manager to raise many errors"
### What steps did you take:
Installed KFP standalone on namespace "dev" instead "kubeflow".

### What happened:
Everything works, but the controller-manager is spamming the following log:
[code]

### What did you expect to happen:
The code in the controller-manager should get the namespace from the NAMESPACE environment variable and not use the default "kubeflow" namespace.

### Environment:
GKE

[2021-02-04 22:03] drobison-deloitte commented on #2395
In addition to declaring the mlpipeline_metrics output, what other steps do i need to do in order to accomplish the original ask of this thread which is having artifacts appear under "Run Outputs" when working with func_to_container_op?

[2021-02-04 23:56] alexlatchford opened #5103 "[Bug] execution_caches table growing, no cached items ever deleted."
### What steps did you take:

We are users of KFP caching feature and just noticed the `execution_caches` table is up to 450k rows 😅

### What happened:

The cache still works but likely using more space than desired.

### What did you expect to happen:

The cache somehow compacts itself, likely via expiry.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)? Via the Kubeflow v1.1 manif

[2021-02-05 02:22] Bobgy commented on #5007
Postsubmit is now healthy

[2021-02-05 02:22] #5007 closed

[2021-02-05 17:14] solarist commented on #4469
So instead of disabling mTLS, suggestion of @jonasdebeukelaer in https://github.com/kubeflow/kubeflow/issues/5561#issuecomment-774107546 solved it for me.

[2021-02-05 17:14] bakhtiary opened #5106 "Collapsing For-loop components in the UI for large number of components"
### What steps did you take:
I ran a pipeline with a large fanout

### What happened:
![image](https://user-images.githubusercontent.com/5190152/107065442-11437900-67dd-11eb-8d47-19131f64f738.png)

### What did you expect to happen:
It would be better if the items that are generated from the same statement would stay collapsed until clicked on. Or some other form of ui system that would allow a go

[2021-02-05 18:03] Junaid-Ahmed94 commented on #4469
@solarist I Just checked in my azure deployment but I have the meshPolicy as suggested by @jonasdebeukelaer but still the access doesn't work without disabling the mTLS
![image](https://user-images.githubusercontent.com/13130629/107071267-bf9eec80-67e4-11eb-8c00-451a41bfbd47.png)

[2021-02-05 18:26] Junaid-Ahmed94 commented on #4569
I am also facing a similar issue for AKS following are the details

**Error**
MaxRetryError: HTTPSConnectionPool(host='x.x.x.x', port=443): Max retries exceeded with url: /apis/v1beta1/healthz (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)'),))

**​KF Details**
1. KF-1.2 with OIDC [kfctl_azure_aad.v1.2.0.yaml](https://raw.githubusercontent.

[2021-02-05 19:36] chensun commented on #5089
While the issue is mitigated by temporarily removing the sample from preloads and tests, we may still want to rewrite the XGBoost Spark-Dataproc sample using the latest XGBoost library. Keep this issue open for tracking.

[2021-02-06 08:38] berndverst commented on #4569
@Junaid-Ahmed94  only Authorization Code Flow is supported in this scenario. https://openid.net/specs/openid-connect-basic-1_0.html#CodeFlow

https://www.kubeflow.org/docs/azure/authentication-oidc/#authenticate-kubeflow-pipelines-using-kubeflow-pipelines-sdkhttpswwwkubefloworgdocspipelinessdksdk-overview

[2021-02-06 08:46] berndverst commented on #4469
@Junaid-Ahmed94 Sorry you've had to troubleshoot this. I sort of inherited whatever was done for v1.1 and moved it over to v1.2 so no surprise the issue still exists here.

For Kubeflow v1.3 the goal is to support modern versions of Istio (I believe that work is on track for the v1.3 release). Hopefully I can remove the bundled Istio then and have everything just work. I don't know too much about

[2021-02-06 08:56] Junaid-Ahmed94 commented on #4569
@berndverst I am following the documented, but I believe the issue is created by the self signed certificate. A curl command showed the error much clearer.

`curl -H "X-Auth-Token: <Session_Cookie>" "https://xx.xx.xx.xx/pipeline/"`. But setting `-k` flag returns results as desired.  I will test with a proper certificate and then will update here with the outcome

![image](https://user-images.githu

[2021-02-06 09:41] DavidSpek commented on #3857
@Bobgy I think this is a better link: https://github.com/quay/clair. Clair is what Amazon ECR uses: https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-scanning.html.

[2021-02-06 17:14] ShilpaGopal opened #5109 "How to specify the env values in ComponentSpec to build reusable components"
### What steps did you take:
I am building a reusable component say alert-manager which will be used across every pipeline. The docker images used to build the component needs some environments variables to be set.  As per the documentation (https://www.kubeflow.org/docs/pipelines/reference/component-spec/) ,  env can be set as maps.  So I have added env params as shown below

[code]

### What hap

[2021-02-07 09:00] XXXXIEHF commented on #5095
/assign

[2021-02-07 23:40] Bobgy commented on #4649
Content of the config map should be user defined, so it's not suitable for the profile controller.

[2021-02-07 23:49] Bobgy commented on #4649
My gut feeling is that, we should make this ref configurable with API request. It's similar to a service account.

Maybe we can define a user configurable namespace default in some way.

Anyway, I'd suggest thinking about the MVP of this feature, so we do not expand responsibility of a single pr too much. There can always be follow ups to add the additional features

[2021-02-08 03:59] #4344 closed

[2021-02-08 03:59] #4208 closed

[2021-02-08 03:59] #4238 closed

[2021-02-08 03:59] #4282 closed

[2021-02-08 06:24] Bobgy commented on #4667
Update, some monitoring and pre release coordination were added.

[2021-02-08 06:25] Bobgy commented on #4216
Bump

[2021-02-08 06:25] #4409 closed

[2021-02-08 06:26] Bobgy commented on #4409
New version has been released

[2021-02-08 09:05] karlschriek commented on #3405
I would like to bump this. Has there been any progress here @PatrickXYS? At the moment it is really hard to figure out what is needed to make pipelines work with S3. There seem to be several approaches that community members have hacked themselves, but no clear consensus yet on  the standard way to do this.

[2021-02-08 14:38] Intellicode opened #5111 "Boolean parameters cannot be passed to components defined with the component.yaml specifications"
### What steps did you take:

Boolean parameters cannot be passed to components defined with the component.yaml specifications:

Example pipeline:

[code]

[code]

### What happened:

The dsl-compile step throws an error:

[code]

### What did you expect to happen:

The pipeline should compile succesfully

### Environment:

KFP version: N/A

KFP SDK version:

[code]

/kind bug
/area sdk

[2021-02-09 02:10] zijianjoy opened #5114 "Active/Archive management on Runs for Archived Experiment"
### What happened:

During the PR #5040, which allows user to see Active/Archive run lists of an experiment, regardless of whether that experiment is active or archived. There is discussion on whether a user can restore a `Run` from an `Archived Experiment`. See https://github.com/kubeflow/pipelines/pull/5040#issuecomment-773952554 for the initial question. And https://github.com/kubeflow/pipeline

[2021-02-09 05:57] Bobgy commented on #4684
/lifecycle frozen

[2021-02-09 17:14] kudla opened #5117 "What is the Meaning for KFP_FLAGS.DEPLOYMENT"
Please. Just can't find any info on `KFP_FLAGS.DEPLOYMENT` for pipelines implementation

According to
[front](https://github.com/kubeflow/pipelines/blob/1.1.2/frontend/src/index.tsx#L59)
[code]
and [api server](https://github.com/kubeflow/pipelines/blob/1.2.0/backend/src/apiserver/server/experiment_server.go#L136)
[code]
codebases  it seems `KFP_FLAGS.DEPLOYMENT` correlates tightly with `MULTIUSER

[2021-02-09 18:58] zijianjoy opened #5118 "[Discuss] Kubeflow Pipelines frontend development best practice."
## Topic

Inspired by https://github.com/kubeflow/pipelines/pull/5040#discussion_r569956232 : Determine the pattern and anti-pattern for frontend development on Kubeflow Pipelines. There are some existing development styles which are either out-of-date, or not recommended in the codebase. For example, enzyme vs react-testing-library, Ref vs Hook/State Update.

## Request

Everyone is welcome to ad

[2021-02-09 19:18] zijianjoy commented on #5118
### Suggested Practice

Prefer using `react-testing-library` in testing, avoid using `enzyme` when possible.

### Reason

`react-testing-library` allows you to focus on the user facing elements and interactions, while `enzyme` has tested implementation detail which might produce false positive/negative when refactoring. Although `enzyme` has helped with certain scenarios and it has been widely use

[2021-02-10 05:02] yuku opened #5119 "Invalid pipeline is generated if its name contains non-ascii chars only"
### What steps did you take:
[A clear and concise description of what the bug is.]

Suppose there is a pipeline with non-ascii name:

[code]

Then compile it:

[code]

The sample.yaml becomes:

[code]

Then upload the pipeline and create run.

### What happened:

Failed because `Pipeline-` contains upper case char (`P`)

![image](https://user-images.githubusercontent.com/96157/107466593-acef3380-6

[2021-02-10 05:39] uhhc opened #5121 "Failed to install KFP due to Error: Error 1054: Unknown column 'idx_pipeline_version_uuid_name' in 'where clause"
### What steps did you take:
I'm installing KFP in a new k8s cluster.

### What happened:

In pod console log, it shows error as follows:

[code]

But it successfully deployed in the past. So we checked the difference between them and found the sql_mode in MySQL are not the same. The newer set 'ANSI_QUOTES' in sql_mode value, and no errors occur when remove this value.

The [MySQL doc](https://dev

[2021-02-10 05:43] yuku commented on #5119
A workaround is to contain at least one ASCII char in the pipeline name.

[2021-02-10 09:04] vit- commented on #4749
I have another use case for this feature. We are currently building an evaluation platform similar to kaggle — a user submits a csv file, the platform calculates some metrics and displays the leaderboards.
It would be a much better UX if users could upload files straight from the "Run Pipeline" page.

[2021-02-10 09:12] tiru1930 commented on #3607
@martfl @n3o-Bhushan   were you guys able to retrieve metrics info from SDK , without storing it in any external storage like s3,gcp etc

[2021-02-10 12:49] anneum opened #5123 "[Multi User] failed to call 'kfp.get_run' in in-cluster juypter notebook"
### What steps did you take:
I have a notebook server in a multiuser environment with kale.
After fixing several bugs based on community comments (see below) I run into a new issue.

Added `ServiceRoleBinding` and `EnvoyFilter` as mentioned in https://github.com/kubeflow/pipelines/issues/4440#issuecomment-733702980
[code]
Added the namespace to `.config/kfp/context.json`  as metioned in https://gi

[2021-02-10 13:28] Vindhya-Singh opened #5124 "Data Versioning with Kubeflow"
Hello,

I am working on setting up an in-house ML infrastructure for my company and we decided to go with Kubeflow. We need to ensure that the pipelines have the provision for data versioning as well. I understand from the official documentation of Kubeflow that it is possible with Rok Data Management. However, we are interested in exploring other options as well. Thus, my question comes in two pa

[2021-02-10 19:14] maorzalt commented on #3494
This one is essential when running many (300+) tasks in the same graph.
The visualization freezes in this case!

[2021-02-11 09:23] Bobgy opened #5125 "Upgrade gorm"
@capri-xiyue  The creation of a unique index with (Namespace, Name) is done in the client manager. The reason we can't do this as part of the Pipeline struct definition is because the KFP repository is using a branch of the gorm package ```"github.com/jinzhu/gorm"``` which does not support it, the refactoring for this is not in scope.

_Originally posted by @maganaluis in https://github.com/kubefl

[2021-02-11 09:28] tiru1930 commented on #3607
@martfl @n3o-Bhushan  , I got solution for this,not with SDK, but using Rest API call I am able to get this info

[code]
this one will give  kubeflow run details, if we can parse this response josn we can get artefacts path, so

with artifacts path we have key, bucket name and namespace source as query params, we can give another api call

 url = f"{host}/artifacts/get" which will give the metrics

[2021-02-11 09:32] #4172 closed

[2021-02-11 12:19] StefanoFioravanzo commented on #5114
I think the question is: "Should we allow **Active** Runs in **Archived** Experiments"?

If the answer was no, I can think of the following implications:

- Archiving an Experiment would imply archiving of ALL the Runs belonging to the Experiment. We could prompt users of course, saying that the Experiment archival will have this effect.
- Restoring an Experiment will restore ALL Runs belonging to

[2021-02-11 12:23] Bobgy commented on #5114
There were no formal discussion when it was implemented, and we sort of took the shortest path. Feel free to argue about whatever option makes the most sense to you.

[2021-02-11 12:37] Bobgy commented on #5114
One weird case would be:
1. Archive some runs, but not all
2. Archive the experiment, so all runs are archived
3. Restore the experiment, should all runs get brought back? What if archiving the experiment was a mistake?

Just to mean this is sth we can discuss, we may not need to support this corner case so well.

[2021-02-11 12:41] Bobgy commented on #5114
I agree with @StefanoFioravanzo 's proposal and when experiment is archived, runs should fail to unarchiv

[2021-02-11 14:33] StefanoFioravanzo commented on #5114
@Bobgy This is a fair point!

I think the following approach addresses it:

- Archive Experiment: All Runs belonging to the Experiment get archived as well (upon user confirmation)
- UnArchive Experiment: All Runs REMAIN archived; if the user wants to unarchive them all then they can go to the Experiment Details page, Archived Runs tab, and perform a bulk restore

[2021-02-11 14:35] StefanoFioravanzo commented on #5114
In this way we enforce this first implication

**Archived Experiment -> Archived Runs**

But not the opposite, and it's completely the users' choice whether to restore Runs, all of them or just in part. And if they want to restore an Experiment and keep it empty of Active Runs, to start creating new ones, they can do so.

[2021-02-11 14:57] Bobgy commented on #5114
SGTM

[2021-02-11 15:22] Bobgy commented on #5114
In fact, the argument seems to apply reversely too, if all runs are restored by default, users can bulk archive them again.

I think we should think about which operation is more common as user intent? I feel like restoring all runs when restoring the experiment would be more Intuitive for me. WDYT?

[2021-02-11 16:02] StefanoFioravanzo commented on #5114
I think we should just make this configurable. When you restore an experiment we can ask: "Do you want to restore all archived Runs as well?" -> "yes"/"no". So we definitely cover all potential use cases. WDYT?

[2021-02-11 16:08] Bobgy commented on #5114
Agreed, that's a good point!

[2021-02-11 17:20] Amrit-Mann commented on #4372
Hi @Ark-kun

I want to use this component to deploy my ML model to AI Platform Predictions but need to specify the region to which to deploy to. Above you've spoken about adding a region parameter to the component.

Could we have some more clarity on this?

Thanks.

[2021-02-11 17:41] dwu926 opened #5126 "Can not load pipeline"
### What steps did you take:
When I tried to upload the pipeline which is in format of "pipeline.tar.gz" and there is always an error and can not load the pipeline.

### What happened:

Pipeline version creation failed
upstream connect error or disconnect/reset before headers. reset reason: connection termination

### What did you expect to happen:

### Environment:

How did you deploy Kubeflow Pi

[2021-02-11 18:44] ReggieCarey commented on #4138
Confirmed that the bug still exists in 1.2 but the above repair is valid on Kubernetes 1.18.9.

[2021-02-11 19:30] zijianjoy commented on #5114
I agree with the statement that **Archived Experiment** should not contain **Active Runs**.

In terms of state management of archiving/restoring an Experiment, I think the original intent of **Archived Runs** is to avoid accidental deletion of active runs, because active runs cannot be deleted, it has be archived first. And the concept of **Archived Experiment** is to group a list of runs which ar

[2021-02-11 23:24] thesuperzapper commented on #4530
@kubeflow/wg-pipeline-leads is there anyone looking at this issue currently?

[2021-02-11 23:39] rui5i commented on #4984
/assign @rui5i

[2021-02-12 01:22] #5089 closed

[2021-02-12 01:59] Bobgy commented on #4530
Not yet, do you want to submit a PR?

[2021-02-12 02:45] Bobgy commented on #5114
Personal opinion, UI should be stable, when a button doesn't apply in a context, we can disable it and add a hover tooltip to tell why. Removing it might leave people confused -- where is the tab?

Note, we need to implent this feature in backend too.

Thanks! Per priority, sounds like 3 should be done first, 1 and 2 are good to haves. Users wouldn't be very distracted with current implementation

[2021-02-12 08:18] StefanoFioravanzo commented on #5114
Yes! I completely agree on this!

[2021-02-12 11:07] kim-sardine opened #5129 "Support textarea input for pipeline parameter"
### What steps did you take:

I'd like to get multi-line bash script from user and pass it into ContainerOp.

### What happened:

but for now, Pipeline frontend only support two types of pipeline parameter - one line text input, json editor.

of course I can do it by appending all lines with semi-colon or by using list type and joining dynamically, but it's not intuitive.
but I'm not sure how to m

[2021-02-12 12:32] BorFour opened #5130 "Error pulling gcr.io/ml-pipeline/ml-pipeline-gcp:1.4.0"
I've been using a component that uses the image `gcr.io/ml-pipeline/ml-pipeline-gcp:1.4.0`. When I try to use it, the component's pod seems to be stuck with the `ImagePullBackOff` status and, eventually, the pipeline times out. I then tried to run the image locally like so:

[code]

And then I get this error message:

[code]

I then tried to pull `gcr.io/ml-pipeline/ml-pipeline-gcp:1.3.0` locally

[2021-02-12 16:51] ypitrey opened #5215 "Pipeline metrics are always sorted alphabetically"
/kind bug

I have a pipeline that exposes pipeline metrics following [this example](https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/). It's working great, but it seems that the metrics always appear sorted alphabetically. I would like to make use of the fact that the first two metrics are displayed next to each run in the run list view, but the two metrics I'm interested in are not t

[2021-02-12 20:01] yanniszark opened #5133 "Kubeflow Pipelines: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-12 22:47] parthmishra commented on #4708
Is there any update on this? As was mentioned, the fix seems doable, but it's not clear to me if tags/digest are supposed to be actual file locations or the source ref.

What is the recommended way to load in versioned components?

[2021-02-13 03:12] Bobgy commented on #5118
For snapshot testing best practices, https://github.com/kubeflow/pipelines/pull/3166

[2021-02-13 03:25] Bobgy commented on #5133
Thank you!

Let me think about it, there might be too many types and they are not conceptually consistent. Current manifests in env all include mysql and minio, but those in kubeflow/manifest/.../installs don't.

No, you can remove the other folders.

[2021-02-13 12:01] Bobgy commented on #5126
Can you answer the environment questions? I need more information to scope down the problem

[2021-02-13 12:06] Bobgy opened #5134 "Presubmit failure"
If you look into the test it said
[code]

Looks like the `protobuf` version is not matching in this case. @Bobgy are you aware of this error? Thanks.

_Originally posted by @Tomcli in https://github.com/kubeflow/pipelines/pull/5059#issuecomment-777656530_

/cc @numerology @chensun @Ark-kun
Can you take a look at this issue? I have seen multiple reports, this error seems to fail consistently.

[2021-02-14 00:31] #5134 closed

[2021-02-14 19:45] parthmishra commented on #4708
Found an [old answer](https://github.com/kubeflow/pipelines/issues/1025#issuecomment-475808132) from @Ark-kun on the intended behavior for versioning which answers my question- the filename is supposed to be the file hash/tag and stored in sub-directory of the component.

Unless I'm missing something, I feel like that workflow makes more sense in the context of an external storage system like GCS

[2021-02-15 04:54] Bobgy commented on #5118
Regarding the process, I'd suggest putting up individual PRs for the proposals, so that each of them can be addressed and discussed in its own context. It's hard to browse if we have several different topics in one github issue.

[2021-02-15 04:57] Bobgy opened #5136 "[Discuss - frontend best practice] one way data flow"
https://reactjs.org/docs/refs-and-the-dom.html
It's recommended to avoid using ref when possible, because the data/event flow mechanism conflicts with React's recommendation of one-way data flow philosophy (see https://reactjs.org/docs/thinking-in-react.html).

Similar to this example, I think to avoid exposing `refresh()` as a public method, we could have a prop called sth like `refreshCounter: n

[2021-02-15 04:57] Bobgy commented on #5136
/cc @zijianjoy @StefanoFioravanzo

[2021-02-15 07:58] Bobgy commented on #5136
Another partially related problem is the Page abstraction: https://github.com/kubeflow/pipelines/blob/1f32e90ecd1fe8657c084d623b2fcd23ead13c48/frontend/src/pages/Page.tsx#L40-L99

Several problems with it:
* Page uses inheritance (deprecated) to reuse some common logic and build a common interface.
* Page is passed callbacks to control global state: `updateToolbar`, `updateBanner`. The  interface

[2021-02-15 09:13] anneum commented on #5123
I have checked if the run has been correctly inserted into the `mlpipeline` database. I see both the run and the correct namespace.
[code]

[2021-02-15 09:56] Bobgy commented on #5136
## How I would have implemented it?

From my past experience, more idiomatic way of implementing these is:
* Build standard layout & atomic components for the common page features. A layout component can accept either [render props](https://reactjs.org/docs/render-props.html) or react element, so that what's rendered inside the layout can still be determined by page component. These components sho

[2021-02-15 09:58] Bobgy commented on #5118
For one way data flow: https://github.com/kubeflow/pipelines/issues/5136

[2021-02-15 10:53] rafaascensao opened #5137 "Problems upgrading to TFX 0.27.0"
### What steps did you take:
Installed Kubeflow Pipelines on GCP via kustomize manifests.
Tried to run the Taxi TFX Demo.

### What happened:
On the first step, I got the error "No module named 'tfx.dsl.components'"

### What did you expect to happen:
To successfully run the TFX Taxi Demo.

### Environment:
How did you deploy Kubeflow Pipelines (KFP)?
Via the kustomize manifests in GCP.

KFP versi

[2021-02-15 11:09] yanniszark opened #5138 "Add authentication with ServiceAccountToken"
### Problem Statement

Clients in various namespaces (e.g., Notebooks) need to access the Pipelines API. However, there is currently no way for these clients to authenticate to the Pipelines API:
https://github.com/kubeflow/pipelines/issues/4440
https://github.com/kubeflow/pipelines/issues/4733
In-cluster clients need a way to authenticate to the KFP API Server.

### Proposed Solution

The correct

[2021-02-15 12:56] gmjonker commented on #5111
I fixed this problem by using type "Boolean" instead of "Bool" in the component definition, although that goes directly against https://www.kubeflow.org/docs/pipelines/reference/component-spec/

[2021-02-15 21:51] zijianjoy commented on #5118
That makes total sense to have individual PRs for each proposal, thank you for bringing this up!

[2021-02-16 06:43] zijianjoy commented on #5136
Thank you for the detailed explanation of the concept! I agree with using render props for reusable and portable components on the common UI elements on the top of pages. One question: The UI elements listed are unified across different pages, except buttons in toolbar. Each page will have different set of buttons, and based on user action on children element, these buttons might change on the sam

[2021-02-16 19:47] shaikmanu797 opened #5139 "Building component from Python function producing PendingDeprecationWarning"
### What happened:
I have been using the below ContainerOp in a pipeline for unit tests and with `kfp>1.1.0` I started getting `PendingDeprecationWarning` while Compiling the pipeline using ContainerOp.

[code]

[code]

### What did you expect to happen:
Could someone let me know what is an alternative method to use to build component from a python function?

### Environment:
Python 3.8

How did y

[2021-02-17 09:31] nielsdewulf commented on #5037
Has a fix been implemented yet and is there a working version with the model object that we can use in the meantime?

[2021-02-17 17:36] JBosom commented on #4940
Please @sylus, could you precise how did you change the Istio timeout or could you give the link to the related issue you talked about ? I'm not sure which timeout to change and I experience a similar behaviour : time to time, the metadata-writer restarts, printing a similar error.

[2021-02-17 21:19] NikeNano commented on #5139
In the documentation [here](https://www.kubeflow.org/docs/pipelines/sdk/python-function-components/) I think you can find the information you are looking for. It also points to some examples that should help guide you in the right direction. Let me know if you still have some issues.

[2021-02-17 21:27] NikeNano commented on #4617
I will take a look at this.

[2021-02-17 21:27] NikeNano commented on #4617
/assign

[2021-02-17 21:45] NikeNano commented on #4752
Based upon what you pointed out @StefanoFioravanzo I agree with you @Bobgy that k8s cron jobs wont do it since it would require quite som logic to support backfilling. One option would be to make use of the underlying workflow engine(argo, tekton) and based upon the job configurations create the necessary resources and pass it down to the workflow engine instead. There are some examples for [argo]

[2021-02-18 06:34] wanglong001 opened #5145 "HTTP response body: OpenID Connect token expired: JWT has expired"
### What steps did you take:
1.  gcloud auth activate-service-account account --key-file=...
2. copy credentials.json  ~/.config/kfp/
3. Client is a singleton: kfp.Client(host=KUBEFLOW_AUTHORIZATION.HOST,
                                                client_id=KUBEFLOW_AUTHORIZATION.CLIENT_ID,
                                                other_client_id=KUBEFLOW_AUTHORIZATION.OTHER_CLIENT_ID,

[2021-02-18 11:15] Adedolapo-Akin opened #5147 "build_image_from_working_dir Kubernetes job creation failed."
### What steps did you take:
kfp v. 1.4.0

I'm trying build_image_from_working_dir() as per https://github.com/kubeflow/pipelines/blob/master/samples/core/container_build/container_build.ipynb, from an AI Platform notebook.

### What happened:

code
# Building and pushing new container image
image_with_packages = build_image_from_working_dir(
    #working_dir='.',                            # Opti

[2021-02-18 12:39] saltazaur commented on #1901
HI,

@Ark-kun have you added support for`list`?
It seems, that is doesn't work in Kubeflow version: 1.0.4.

[2021-02-18 13:13] saurovn commented on #4947
Webhook name was different for my Kubeflow 1.2 instance.
In my case it was "**cache-webhook-kubeflow**", so following fix worked -

`export NAMESPACE=kubeflow`
`kubectl get mutatingwebhookconfiguration cache-webhook-${NAMESPACE} -n ${NAMESPACE}`
`kubectl patch mutatingwebhookconfiguration cache-webhook-${NAMESPACE} -n ${NAMESPACE} --type='json' -p='[{"op":"replace", "path": "/webhooks/0/rules/0/op

[2021-02-18 13:21] Bobgy opened #5148 "[FR] Default resource requirement/limits for the KFP UI and system services"
UPDATE: at the end, we decided to only add resource requirements, see discussion in https://github.com/kubeflow/pipelines/issues/5236#issuecomment-790301148

It's desirable to provide a set of default resource requirement & limits for KFP UI & system services, to make sure their QoS is `Guaranteed` by default.

https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/
I'm not e

[2021-02-18 14:39] midhun1998 commented on #3445
Hi @Jeffwan and @Ark-kun . I would like to contribute to this issue.

[2021-02-18 16:27] henrysecond1 opened #5214 "'kubeflow-pipelines-profile-controller' fails to deploy pods on profile creation when ResourceQuota is set in the profile."
In multi-user mode, it seems like `kubeflow-pipelines-profile-controller` deploy below pods on Kubeflow profile creation.

- `ml-pipeline-ui-artifact`
- `ml-pipeline-visualizationserver`

When `ResourceQuota` is set in the profile, `kubeflow-pipelines-profile-controller` fails to deploy `ml-pipeline-ui-artifact` and `ml-pipeline-visualizationserver` with below error.

[code]

- Related code: [http

[2021-02-18 20:07] NikeNano commented on #4770
Could we close or is still an issue @pretidav ?

[2021-02-18 20:35] chensun commented on #3513
@Bobgy, any update on the remaining works? Other than the code location of the manifests, do we need some documentation refresh?

[2021-02-19 00:48] capri-xiyue commented on #4876
This feature request is in our road map and we will resolve it in the near future.

[2021-02-19 01:02] Bobgy commented on #3996
No longer reproducing the issue

[2021-02-19 01:08] Bobgy commented on #182
/cc @jamxl @StefanoFioravanzo
about this interesting request
but it's not a priorrity

[2021-02-19 01:14] Bobgy commented on #5114
I think

can be a good first issue.
Welcome contribution!

[2021-02-19 01:20] capri-xiyue commented on #5121
@uhhc  Are you willing to take over this issue? In addition, if we change it to single quote, will it affects users using other mysql mode?

[2021-02-19 01:23] Bobgy commented on #5117
Hi @kudla, it's used to distinguish the three installation modes in https://www.kubeflow.org/docs/pipelines/installation/overview/.

And as you already understood, the major difference is multi user mode. It's not really used much for other ways.

[2021-02-19 01:58] Bobgy commented on #3513
Yes, I'll work on this targetting KF 1.3 release by the end of March 15

[2021-02-19 02:20] #5119 closed

[2021-02-19 02:57] Bobgy commented on #5148
Got some help from Sid Palas:

[code]

see thread https://kubeflow.slack.com/archives/CE10KS9M4/p1613655024114300

[2021-02-19 04:48] Bobgy commented on #4682
TODO: set up a process so people periodically come and fix upgrade problems.
Right now, the npm patch update PR #5071 fails because of some typescript errors. Without a process, upgrade PRs will never be prioritized and merged.

[2021-02-19 06:46] Bobgy commented on #5136
@zijianjoy I built a quick demo: https://codesandbox.io/s/magical-violet-hwfxb?file=/src/App.js

Notice how the Layout component defines layout of the page, while App component can inject stuff into the Layout component dynamically using either render prop or react elements as props.

[2021-02-19 06:59] Bobgy commented on #4752
scheduledworkflow CRD is already embedding an argo workflow resource in it, so I think it would be very straightforward to switch to argo cronworkflow (and get rid of scheduledworkflow CRD and controller).

The key problem is investigating e.g. whether argo cronworkflow supports backfill functionalities like we do.

[2021-02-19 07:10] #1786 closed

[2021-02-19 07:10] allenc97 opened #5151 "Default Notebook images cannot install KFP due to enum34"
### What steps did you take:
[A clear and concise description of what the bug is.]
I ran "pip install kfp" in the default notebook server image gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-cpu:1.0.0.
### What happened:
...
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 /usr/local/lib/python3.6/dist-packages/pip install --ignore-installed --no-user --prefix

[2021-02-19 09:59] DavidSpek commented on #4682
@Bobgy Might I suggest pinning the dependency dashboard issue so that it doesn't get lost between the countless new issues that are created? Related to that, there is another issue that is now pinned that has been closed so it can probably be unpinned. https://github.com/kubeflow/pipelines/issues/5020

[2021-02-19 11:20] Bobgy commented on #4340
Fixed by https://github.com/kubeflow/website/pull/2499

[2021-02-19 11:20] #4340 closed

[2021-02-19 11:21] Bobgy commented on #4984
Fixed by https://github.com/kubeflow/website/pull/2499

[2021-02-19 11:21] #4984 closed

[2021-02-19 11:33] Bobgy opened #5152 "[Testing] Postsubmit failing 2021 Feb 19"
example: https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1362660888636559360

it's been failing for a while since 1.4.0 release.

[2021-02-20 00:58] Bobgy commented on #5152
Figured out some previous failures were because of test workflow timeout, it timeouts at 1 hour, but now it's exceeded:

We need to increase timeout to make it stabler.

Some recent failures was because of GKE instability.

[2021-02-20 01:11] Bobgy commented on #5152
Increased integration test timeout.
and recent postsubmit has succeeded, we can close the issue

[2021-02-20 01:11] #5152 closed

[2021-02-20 02:02] Bobgy commented on #4816
let's use the new issue to track this: https://github.com/kubeflow/pipelines/issues/5133

[2021-02-20 02:02] #4816 closed

[2021-02-20 06:11] uhhc commented on #5121
Okay, I'll commit a PR in a moment. The single quote is the right and compatible way to enclose string literals in MySQL, it will not be affected by sql mode. For more info please see [here](https://dev.mysql.com/doc/refman/5.7/en/string-literals.html).

[2021-02-20 07:50] Bobgy opened #5154 "[Testing] periodic functional test failing frequently 2.20"
https://oss-prow.knative.dev/?repo=kubeflow%2Fpipelines
/assign @capri-xiyue

[2021-02-20 07:51] Bobgy commented on #5154
This wasn't notified, because after migration to gcp oss prow, I haven't set up testgrid and notification, that will be the last step during migration in https://github.com/kubernetes/test-infra/issues/14343

[2021-02-20 09:54] jl-massey opened #5155 "Recommended Daemon Container Support Alternative?"
# Argo Daemon Containers
I've looked through as many docs I could find and determined that Argo pipelines support daemon containers that suit my purposes pretty well  (spinning up database server to use as a cache for a pipeline).

# Question:
1. Are there any examples of using daemon containers with KFP SDK in python?
2. If not, does someone have a 'solid' alternative to hacking the pipeline YAML

[2021-02-20 16:38] NikeNano commented on #4752
But in this case we will lock into argo more tightly as you commented here: https://github.com/kubeflow/pipelines/issues/4752#issuecomment-725333392.

I also think it will be harder to support multiple runners if we mote all the logic to the underlying runner since this might be an edge case that are not natively supported. We could separate the backfilling logic from the scheduled job, and create

[2021-02-20 21:42] NikeNano commented on #5148
According to the argo documentation the memory and cpu usage for argo scales linearly with the nbr of workflows, [see](https://github.com/argoproj/argo-workflows/blob/master/docs/cost-optimisation.md#limit-the-total-number-of-workflows-and-pods). So users will probably have to adjust this according if they are running heavier workloads or like to reduce costs.

I would be happy to update this!

/a

[2021-02-20 21:55] NikeNano commented on #4775
Due to the lack of offline support for workflow validation in argo clients > 2.4.3, you still need to use the 2.4 client to validate workflows offline, and it will not be updated atm in sdk. See this closed issue for more information: https://github.com/kubeflow/pipelines/pull/4804

[2021-02-20 22:01] NikeNano commented on #4731
I believe this issue might be better suited for the [kubeflow/kubeflow](https://github.com/kubeflow/kubeflow) or kubeflow/serving(https://github.com/kubeflow/kfserving) repo since this issue seems to be related to seldon which is used for serving.

[2021-02-20 22:08] NikeNano commented on #4530
/assign

[2021-02-21 09:11] Bobgy commented on #4739
I propose the following:

On API side:
1. update profile controller to add a `pipelines.kubeflow.org/enabled: true` label to Kubeflow namespaces
2. add an endpoint in KFP API to list all namespaces with this label, return them as a response

On UI side:
* Add a namespace selector that send a request to KFP API added above to get the list of namespaces, for the initial version, I think it can get a

[2021-02-21 09:14] Bobgy commented on #5138
Thank you for the proposal! I'd love to see it getting it upstreamed too. It's a common request in #4440.

[2021-02-21 17:08] maganaluis commented on #5125
@Bobgy
By the way, I noticed that we are not using the main gorm repository ```"gorm.io/gorm"```, this will lead to conflict in the future. It should probably become a future refactoring task for the KFP team.

For example the way to add a composite unique index is shows as below, but this gave me a syntax error with the current gorm repository being used... ```"github.com/jinzhu/gorm"```

[code]

[2021-02-22 06:12] munagekar opened #5159 "[FR] Configurable Image in Component.yaml"
Would it be possible to make the image name configurable in component.yaml specification, so that the end user could override the image.  It is possible to write a function to modify the yaml before it is read by ` kfp.components.load_component_from_text`, however I think this would be a useful addition to component.yaml specification, this is something that was supported by ContainerOp.

For exam

[2021-02-22 06:14] munagekar commented on #5159
/kind feature

[2021-02-22 06:58] vsk2015 opened #5161 "Metadata writer cannnot handle ipv6 metadata service host"
The original issue is reported here https://github.com/kubeflow/kubeflow/issues/5605

[2021-02-22 07:51] Bobgy commented on #5117
Question answered, feel free to raise new issues or keep commenting if you have more questions.

[2021-02-22 07:51] #5117 closed

[2021-02-22 09:00] ConverJens commented on #5137
@rafaascensao Which version of TFX are you using? the tfx.dsl package was introduced in TFX 0.25.0 I think, and if you are using an older version this error would pop up. Try running updating TFX to latest by running `python3 -m pip install -U tfx`. Anyway, this is a package import issue and most likely has nothing to do with KFP.

[2021-02-22 09:06] rafaascensao commented on #5137
@ConverJens I am talking about the sample pipeline of TFX Taxi that comes with the deployment (https://github.com/kubeflow/pipelines/blob/master/samples/core/parameterized_tfx_oss/parameterized_tfx_oss.py). If I see the code, it uses a TFX image with the version 0.22.0.

[2021-02-22 09:09] ConverJens commented on #5137
@rafaascensao Sorry! In that case, the image needs to be updated to tfx>=0.25.0. Ping @Bobgy, do you know who maintains this?

[2021-02-22 09:14] Bobgy commented on #5061
Thank you for the invitation!
I'm recently very busy with KFP v2 design I just shared with community. I'd love to sign up for a slot after a while when I get more time.

[2021-02-22 09:31] ConverJens opened #5164 "TFX InfraValidator component fails in KubeFlow"
### What steps did you take:
I'm running a TFX pipeline with an InfraValidator component (https://www.tensorflow.org/tfx/guide/infra_validator). This works by spinning up a TFServing pod using the k8s python client, and optionally querying it.

### What happened:
When InfraValidator tries to spin up TFServing using the CreateNamespacedPod it get a 500 error which seems to originate from istio. See

[2021-02-22 09:48] munagekar commented on #5159
Related : #5109

[2021-02-22 13:23] Bobgy commented on #5137
/assign @numerology @chensun @neuromage

This seems a P0.

[2021-02-22 19:28] muyajil opened #5166 "UI metadata sometimes fails to load"
### What steps did you take?
Create UI metadata artifacts as inline web apps.

### What happened?
When trying to view the artifacts I receive the error:
`Could not parse metadata file at: artifacts/xxx/xxx/mlpipeline-ui-metadata.tgz. Error: SyntaxError: Unexpected end of JSON input`
Sometimes it works and sometimes it does not.

### What did you expect to happen
That I can see the generated web ap

[2021-02-22 20:35] capri-xiyue commented on #5154
The logs showed that the periodic functional test failed because it encountered 403 error when creating experiment.
I was able to reproduce the same error in local.
It worked when I used kfp ui to create experiment but it failed with 403 when I used kfp sdk to create experiment.
It also failed with 403 even after I granted the service account which is used to run periodic functional test with Edit

[2021-02-22 21:32] HassanOuda commented on #4286
@Bobgy @jingzhang36
This is also something I'm interested in, maybe you can point me to where that code lives and I can make that pull request?

Thanks

[2021-02-22 21:43] NikeNano commented on #5137
Dont know why the linking dont work, but PR for fix: https://github.com/kubeflow/pipelines/pull/5165

[2021-02-22 23:37] capri-xiyue commented on #5154
I tried to switch from production proxy to staging proxy via https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5167/kubeflow-pipeline-sample-test/1363986291280056320. It failed with 403 error.
Looks like there is something wrong with staging inverse proxy.

[2021-02-22 23:41] Bobgy commented on #4286
/reopen

[2021-02-22 23:43] Bobgy commented on #4286
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/client/sql.go

I think it's here

[2021-02-23 00:14] capri-xiyue commented on #5154
Will try to switch from staging proxy to production proxy for https://oss-prow.knative.dev/?repo=kubeflow%2Fpipelines to further verify whether the root cause is staging inverse proxy.

[2021-02-23 00:54] numerology commented on #5137
Thanks @NikeNano !

@Bobgy IIRC our integration test should cover this sample, do we know why this is not captured?

[2021-02-23 03:09] capri-xiyue commented on #5154
https://github.com/kubeflow/testing/pull/907 is just a possible temporary fix.

[2021-02-23 04:59] capri-xiyue commented on #5154
Verified that production proxy works with https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipelines-periodic-functional-test/1364066509248270336

[2021-02-23 05:15] allenc97 commented on #5151
Additional info:
enum34 is installed by jupyter-http-over-ws==0.0.7. The latest version, 0.0.8, has added restrictions in setup.py to prevent installing enum34 for python3.4+. A brute force fix would be changing the pip installs in the image to the following:

``RUN pip3 uninstall -y enum34 jupyter-http-over-ws &&     pip3 --no-cache-dir install     jupyter-console==6.0.0     jupyterlab     xgboos

[2021-02-23 06:01] cmontemuino commented on #3412
@reem did you find a workaround for the reported issue?

[2021-02-23 06:33] Mar-ai commented on #3951
Please keep Feature Request open

[2021-02-23 14:29] Bobgy commented on #5137
I have the same concern, @Ark-kun do you know why?

/reopen
Let's make sure to also address why it slipped integration tests.

[2021-02-23 15:19] yanniszark commented on #5133
@Bobgy I was wondering if you had any thoughts on this issue. I can start a PR making `installs` into `envs`. What do you think?

[2021-02-23 16:40] susan-shu-c commented on #3412
I'm trying to implement this as well - following

[2021-02-23 17:41] Bobgy commented on #5133
My current preference is to move installs into kustomize/base/installs/{generic,multi-user}
(Probably rename base to core, but that can be done later)

Move mysql and minio into kustomize/storage/mysql, kustomize/storage/minio.

And, use kustomize/env/xxx to compose them.

What do you think?
The main motivation is to make component role & boundary clearer.

[2021-02-23 18:25] reem commented on #3412
Ended up just uploading the items to google cloud storage by uuid at a known prefix and then passing that prefix to the next op which can list that prefix to get all the results. Not ideal but it wraps decently nicely in a reusable convenience function. Unfortunately can't share it directly as it depends on a lot of other utility code, but a simple version wasn't too hard to implement.

[2021-02-23 18:27] zijianjoy commented on #5136
@Bobgy Thank you so much Yuan for building the sample demo!

To confirm if I understand it correctly, here is a simplified example for KFP UI - RunList:

[code]

In the above layout, `RunsList` determines what buttons to show (for example, Archive/Activate/Clone runs), and `CustomTable` determines which buttons are enabled/disabled because of user selection, and `RunsList` collects **run selection

[2021-02-23 18:34] ptitzler opened #5172 "client.create_experiment and client.get_experiment treat differences in case differently"
### What steps did you take:

The following code snippet tries to create two experiments. The experiment names only differ in case, e.g. `Untitled` vs `untitled`

[code]

### What happened:

Create experiment fails because an experiment with the name already exists.

### What did you expect to happen:

`get_experiment` and `create_experiment` behave the same (ignore case or honor it).

### Environ

[2021-02-23 19:57] amygdala opened #5173 "pipeline compilation from subgraph components doesn't allow relative path URIs in the subgraph component yaml"
(With KFP 1.4)

My subgraph component was constructed from other components that I loaded via `load_component_from_file()`.
So, the subgraph yaml has entries that look like this:
[code]
Then, I get this error when compiling a pipeline based on that component:
`MissingSchema: Invalid URL './tables_create_dataset_component.yaml'`
(The file is available locally at that path).

After discussion with A

[2021-02-23 20:00] amygdala commented on #5173
/cc @Ark-kun

[2021-02-23 23:24] capri-xiyue commented on #5154
Found out the root cause. Somehow the staging inverse proxy only passes request with scope "https://www.googleapis.com/auth/cloud-platform.read-only". And we use https://github.com/kubeflow/pipelines/blob/1fee4054a77d39877d997ec94374201188fa87d0/sdk/python/kfp/_auth.py#L40 which is "https://www.googleapis.com/auth/cloud-platform".
But staging proxy should support both scope "https://www.googleapis

[2021-02-23 23:33] Bobgy commented on #5136
[code]

Page is unnecessary, files in the pages folder are already pages.

The following understanding has a key difference, because button management can be very dynamic, the most declarative way is to move state that can affect buttons up to the page level and render the buttons in layout from e.g. ExperimentDetails's state.
https://reactjs.org/docs/lifting-state-up.html

Moving state up might s

[2021-02-23 23:51] Bobgy commented on #5154
Awesome, does that mean your efforts prevented an outage in prod?

[2021-02-24 01:10] #5121 closed

[2021-02-24 05:07] #1138 closed

[2021-02-24 08:00] deepk2u opened #5175 "Metadata writer is not looking at the correct namespaces for argo pods"
### What steps did you take:
Deployed metadata-writer Deployment

### What happened:
https://github.com/kubeflow/pipelines/blob/master/backend/metadata_writer/src/metadata_writer.py#L27 results in setting the namespace to watch as `default` as we are setting empty string or a particular namespace only.

### What did you expect to happen:
This results in the writer watching one particular namespace

[2021-02-24 09:04] Bobgy commented on #4688
/lifecycle frozen

[2021-02-24 11:31] Bobgy commented on #5137
I tried to upgrade some other TFX related deps, however, I'm getting the following errors in various places:
* when clicking visualizations on `examplevalidator`, I'm seeing error: `NotFoundError: The specified path gs://gongyuan-test/tfx_taxi_simple/6f9ad66d-2897-4e11-8c2c-e3c614920f35/ExampleValidator/anomalies/32/anomalies.pbtxt was not found.`

[2021-02-24 12:10] Bobgy opened #5178 "[Testing] tfx sample pipeline broken in release not caught by postsubmit"
In #5137, tfx sample pipeline was broken, but it was not caught by postsubmit test.

Originally posted in https://github.com/kubeflow/pipelines/issues/5137#issuecomment-783788084

I think this is a high priority issue, because it causes a lot of efforts after 1.4.0 was released.

/cc @numerology @chensun

[2021-02-24 12:15] Bobgy commented on #5178
![image](https://user-images.githubusercontent.com/4957653/108999173-e8781a80-76dc-11eb-9e58-3158bcacc613.png)

Notice that, postsubmit test before the release commit passed, however the released version had a problematic tfx sample pipeline.

[2021-02-24 12:18] Bobgy commented on #5178
One problem I found was that, the integration test in postsubmit is incorrectly using presubmit test script: https://github.com/GoogleCloudPlatform/oss-test-infra/blob/f29fc29cd617497ea44164ff6a1734c7dee3c0f4/prow/prowjobs/kubeflow/pipelines/kubeflow-pipelines-postsubmits.yaml#L50

[2021-02-24 12:41] Bobgy commented on #5178
I think I found the root cause, it's caused by incomplete upgrade of tfx dependencies.

Let me explain the order of events happening:
1. pip started to fail for python 3.5 images, so we fixed image build by upgrading to tfx==0.26.0 in https://github.com/kubeflow/pipelines/pull/5052.

    At this point, builtin sample is already failing, because tfx sdk version is bumped to 0.26.0, but tfx image is

[2021-02-24 13:06] Bobgy commented on #5137
Another problem:
KFP depends on absl-py: https://github.com/kubeflow/pipelines/blob/a394f8cdf34de71f305ca1a49220a859c81ea502/sdk/python/requirements.in#L26

conflicts with

tfx==0.27.0

[2021-02-24 13:18] Bobgy commented on #5137
The third problem I found, https://github.com/kubeflow/pipelines/tree/master/samples/core/tfx-oss sample is still mentioning very old version of TFX. Can someone verify and fix?

[2021-02-24 18:00] chensun commented on #5137
This one actually conflicts with KFP setup.py
https://github.com/kubeflow/pipelines/blob/cd55a55c6229e9e734a35c166c002728b8fa4a72/sdk/python/setup.py#L23
It's an easy fix that we should do anyway, but I want to understand where `requirements.txt` is used in this case? A KFP SDK user doesn't need to install from `requirements.txt`.

[2021-02-24 18:28] animeshsingh opened #5181 "KFServing v0.5 component for Kubeflow Pipelines"
Needs to be updated/upgraded/tested

[2021-02-24 18:49] narner90 commented on #2829
I'm still having this issue, here is perhaps a simpler reproduction:

[code]

Error:
[code]

Putting the `inner_range` inside the first for loop produces the desired output, but duplicates computation:

[code]

[2021-02-24 21:22] NikeNano commented on #4099
\assign

[2021-02-24 21:27] zijianjoy commented on #5136
I agree with moving the state up to parent so the parent has all the information it needs to determine buttons arrangement. Thank you Yuan!

[2021-02-24 22:31] capri-xiyue commented on #5154
I think so.

[2021-02-24 22:37] Ark-kun commented on #5137
It's used in automated tests and documentation generation. Some users might be using it as well. `requirements.txt` provides a known good dependency snapshot while `requirements.in` or `setup.py` specify loose top layer dependencies.
See the official documentation: https://packaging.python.org/discussions/install-requires-vs-requirements/#requirements-files

In the future we should make `setup.py`

[2021-02-24 22:38] Ark-kun commented on #5137
It looks like a new dependency. Do we need it much?

[2021-02-24 22:48] Ark-kun commented on #5137
Does this file exist? What does the validator component produce?

[2021-02-24 22:52] chensun commented on #5137
My understanding is that `setup.py` is for end users, while `requirements.txt` is for developers. So my question was more like do we need to install `requirements.txt` during tests? I could image we need `requirements-test.txt` for test library dependencies. But other than that, shouldn't we just rely on `setup.py` for runtime dependencies? This will test against what end users will get rather tha

[2021-02-24 23:02] chensun commented on #5137
It was recently introduced, but seems likely only for logging purpose. So I think it's avoidable at least for now.

https://github.com/kubeflow/pipelines/blob/665f3ce8ba0ac0cada2b4a1bd6c5bf8414d99bcb/sdk/python/kfp/dsl/artifact.py#L17

https://github.com/kubeflow/pipelines/blob/665f3ce8ba0ac0cada2b4a1bd6c5bf8414d99bcb/sdk/python/kfp/containers/entrypoint.py#L17

[2021-02-24 23:02] Ark-kun commented on #5137
I'm not sure there is a hard distinction like this. As a snapshot of tested dependencies, `requirements.txt` can still be useful for the users. For example, TFX setup if often broken due to self-conflicting dependencies. However a `requirements.txt` can be installed.
Same with the KFP and tests: with `requirements.txt` there is a tested configuration. Unlike setup.py it's not affected by the envir

[2021-02-24 23:27] Bobgy commented on #5137
Thanks, then absl problem is solved, I verified 0.10.0 is compatible with both.

Let me provide more information about the visualization one

[2021-02-24 23:29] Bobgy commented on #5137
Another new issue is that postsubmit for iris pipeline is failing after upgrade, we need to figure out if the pipeline file needs any update

[2021-02-24 23:31] Ark-kun commented on #5137
Thank you.

Visualization can be a tough one. It bothers me that our visualizations are version-dependent, but are baked into the backend. We should try to move to the "visualizations as components" vision, so that the visualizations can be versioned independently.

[2021-02-24 23:40] ReggieCarey commented on #1881
this is still a bug.  Stop closing it.

[2021-02-24 23:42] chensun commented on #5137
Right, I didn't mean there's a hard distinction between the two, but just my personal experience/observation  -- if I'm a KFP user, I only care about `pip install kfp`, and probably never bother to go to this GitHub repo and do an additional install step using the `requirements.txt`.
My point is that what's specified in `setup.py` is the single source of truth for an end user (as I don't think mos

[2021-02-25 00:37] pvaneck commented on #5181
There are quite a few changes with the v1beta1 API that comes with KFServing v0.5.0. Here are some initial findings as I go over the component use case:

KFServing Component Use Cases

- Create InferenceService for available frameworks. General structure would look like:
[code]
- Allow custom serving.
  - Example v1beta1 custom YAML: https://github.com/kubeflow/kfserving/blob/master/docs/samples/v

[2021-02-25 00:46] pvaneck commented on #5181
For the first iteration, can aim to mirror the current v1alpha2 functionality of the current component (the use cases listed above). Will target this for next week.

Next iteration, can focus on adding support for explainers and transformers.

The v2 predict API and multi-model serving, I believe, are still experimental, so support for those can be added in the future when those become stable feat

[2021-02-25 00:46] pvaneck commented on #5181
/assign @pvaneck
/cc @moficodes

[2021-02-25 02:35] capri-xiyue commented on #5154
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipelines-periodic-functional-test/1364764611215101952 passed.

[2021-02-25 02:35] #5154 closed

[2021-02-25 04:43] Bobgy commented on #5137
@chensun @Ark-kun two PRs pending review: #5186 #5187

[2021-02-25 04:45] Bobgy commented on #5178
High priority problems fixed and I made samples-test to imports the same requirements.in from backend requirements.in.

What's missing is that, people may update requirements.in, but forget to update all requirements.txt.

[2021-02-25 04:49] Bobgy commented on #5178
and https://github.com/kubeflow/pipelines/pull/5187 is pending review

[2021-02-25 05:00] chensun commented on #5178
Aren't we deprecating `requirements.in` given `sdk/python/requirements.txt` covered by https://github.com/kubeflow/pipelines/pull/5056?

[2021-02-25 05:21] Bobgy commented on #5178
@chensun for clarification, #5056 explicitly disabled renovate for python packages.

You can make the decision to enable it.

[2021-02-25 05:49] chensun commented on #5178
I see, thanks for the clarification. Checked again, and it did disabled python. (I was under the wrong impression that sdk/python/requirements.txt was covered as I saw an ignore list with some components path yet sdk is not in that list).

[2021-02-25 06:35] Bobgy commented on #5137
Found a new problem, KFP cache webhook starts to cache tfx pipelines.

[2021-02-25 08:19] Bobgy commented on #5178
-- @chensun

Moving some of the discussion from the PR thread back to the main issue.

I agree with Chen, testing as what users would get is an important test. However, we used to do that before introducing requirements.{in/txt}, the result was that from time to time presubmit broke without any clues and we needed to dig through the dependencies to find out why.

I just want to make sure we are no

[2021-02-25 08:34] Bobgy commented on #5130
Hey @BorFour, sorry about the inconvenience, there was a short period the image was not built yet.

You should be able to use it now.

The best source is to look at github releases, if the release note isn't appended, that means the release was not yet finished.

[2021-02-25 08:34] #5130 closed

[2021-02-25 08:38] Bobgy commented on #5137
I'm renaming the issue, because we are using it as a collector for all tfx issues.

[2021-02-25 11:09] Bobgy commented on #5137
All immediate blockers for release have been resolved. I'm going to create separate issues that we can tackle later.

[2021-02-25 11:09] #5137 closed