[2020-10-20 05:38] rmgogogo commented on #4643
+1

[2020-10-20 06:02] munagekar commented on #4642
This changes haven't been released yet. You can refer to to this [tag](https://github.com/kubeflow/pipelines/tree/1.0.3) for the latest release.

[2020-10-20 06:19] munagekar opened #4644 "Question About Dsl.ContainerOp Deprecation"
# Deprecation
I see that [dsl.ContainerOp is being deprecated](https://github.com/kubeflow/pipelines/blob/66e1530bbbb4e3269ce7af1ec72dc257ca313e17/sdk/python/kfp/dsl/_container_op.py#L1017-L1025) in favor of reusable components.

I would also like to point out that the Deprecation is not really visible. When you use it to create a pipeline. You can try out one compiling one of the [pipelines using

[2020-10-20 06:39] #4214 closed

[2020-10-20 07:25] jackwhelpton commented on #4642
Thanks. Given that these changes were made back in June, and the most recent release was a few days ago, is there a rough ETA for when they might make it out? It'd be very helpful to be able to pull shared components from a secured private repo.

[2020-10-20 07:54] munagekar commented on #4642
Hope this helps.

[code]

[2020-10-20 08:09] munagekar commented on #4644
/assign @ark-kun

[2020-10-20 08:13] munagekar commented on #4644
/kind question

[2020-10-20 15:38] jackwhelpton commented on #4642
Ah ha! I forgot about `load_component_from_text`. It's not as neat, but that'll do the trick until the `ComponentStore` stuff lands. Thanks! I'd still be curious where it is on the roadmap, though.

[2020-10-20 17:31] juliusvonkohout commented on #4257
See https://github.com/argoproj/argo/issues/4186#issuecomment-713019571

[2020-10-20 17:31] #4257 closed

[2020-10-21 00:22] Bobgy commented on #4643
What this implies is that, the TFDV/TFMA auto visualizations should be components in the golden tfx pipeline sample.

[2020-10-21 02:18] rmgogogo commented on #4643
I personally OK with it, especially considering current e2e experiences.
@IronPan @james-jwu for review.

[2020-10-21 02:19] rmgogogo commented on #3703
Hongye's PR: Pipeline IR #4371 contains the detail info.

[2020-10-21 04:39] Bobgy opened #4649 "[Multi User] Support separate artifact repository for each namespace"
Part of https://github.com/kubeflow/pipelines/issues/1223

Support configuring separate artifact repository for each namespace, so that artifact repository can have namespace separation too.

This is currently not supported in KFP multi user support as explained in https://github.com/kubeflow/pipelines/issues/1223#issuecomment-656507073.

Use your thumbs up to show how important this issue is for

[2020-10-21 06:58] pretendhigh commented on #3941
I met this problem too.
I was using k8s 1.18.9
kubeflow 1.1.0

[2020-10-21 10:26] ConverJens commented on #4592
@DvirDukhan We're using plenty of custom TFX components and have solved this as @Ark-kun suggested by moving it into a docker image based on TFX:

`FROM tensorflow/tfx:0.24.0

COPY <your-component-code> /<path-in-docker-image>

ENV PYTHONPATH="/<path-in-docker-image>:${PYTHONPATH}"`

Then you just set this image as your base image for the pipeline. This also has the advantage that you can put all

[2020-10-21 16:23] jonasdebeukelaer commented on #4440
hey, having an issue applying @yhwang's workaround. I'm still getting the error as if the envoy filter is not being applied:

`409 ... HTTP response body: {"error":"Failed to authorize with API resource references: Bad request.: BadRequestError: Request header error: there is no user identity header.: Request header error: there is no user identity header." ...`

however as far as I can tell I app

[2020-10-21 19:37] NikeNano commented on #4637
Some things that would be great are:
- namespace which Kubeflow is deployed in
- endpoint
- deployment type
- deployment version

[2020-10-21 20:18] lomori commented on #3296
I'm seeing the same error as @Bobgy  when trying to compile and run a project with Kale enabled:

Message: (400)
Reason: Bad Request
HTTP response headers: HTTPHeaderDict({'content-type': 'application/json', 'trailer': 'Grpc-Trailer-Content-Type', 'date': 'Wed, 21 Oct 2020 20:16:43 GMT', 'x-envoy-upstream-service-time': '2', 'server': 'envoy', 'transfer-encoding': 'chunked'})
HTTP response body: {

[2020-10-21 22:49] Bobgy commented on #4440
@jonasdebeukelaer are you on GCP?
The header should be 'x-goog-authenticated-user-email'

[2020-10-21 22:51] Bobgy commented on #3941
We have fixed the compatibility in a recent PR

[2020-10-22 03:55] #3382 closed

[2020-10-22 03:55] #3383 closed

[2020-10-22 03:55] #3380 closed

[2020-10-22 03:55] #4202 closed

[2020-10-22 03:56] #4222 closed

[2020-10-22 06:23] Bobgy commented on #4540
Renaming to 1.0.4 release tracker because we need to include the cache deployer fix.

[2020-10-22 07:11] Ark-kun opened #4653 "Image building started failing for the sample-test image"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4564/kubeflow-pipeline-sample-test/1319169497864605696
[code]

[2020-10-22 07:26] jonasdebeukelaer commented on #4440
thanks @Bobgy! Got it working now.

Also note the header has to be formatted like `accounts.google.com:<email>`

[2020-10-22 07:27] Bobgy commented on #4653
Thanks, I've also seen this error.
Looks like we need to fix this first.

[2020-10-22 07:32] Ark-kun commented on #4644
Note that only the ContainerOp **constructor** is being deprecated.
ContainerOp objects have too many limitations and cannot be reused. They lose information about and types, default values and even the inputs and their names. Also, hard-coded output paths do not play nice with alternative orchestrators and data passing systems.
Our component library has more than a hundred of components and the u

[2020-10-22 07:37] Bobgy commented on #4653
This answer seems to help. I tried on that docker image and it did help resolve the problem.

[2020-10-22 07:39] Ark-kun commented on #4649
Last year I've added the `ArtifactRepositoryRef` feature to Argo to support this goal.
The idea is to make it possible to specify the artifact repository information by referencing a ConfigMap.
See https://github.com/argoproj/argo/pull/1350 and https://github.com/argoproj/argo/pull/1821
With both features in place it might even be unnecessary to make any SDK-side changes.
Each namespace can have a

[2020-10-22 08:21] Bobgy commented on #4653
There's one more problem after I added above fix

integration-test-bthn6-1021729449:  ---> Running in a79b07b75cdd
integration-test-bthn6-1021729449: Reading package lists...
integration-test-bthn6-1021729449: Building dependency tree...
integration-test-bthn6-1021729449: Reading state information...
integration-test-bthn6-1021729449: libpython3.7-dev is already the newest version (3.7.3-2+deb10u2

[2020-10-22 08:24] Bobgy commented on #4653
Tried to fix it by installing python3.8 instead, it seems python3.7 is not compatible with some updated dependencies

[2020-10-22 08:33] Bobgy commented on #4219
/reopen
/Lifecycle frozen

[2020-10-22 08:59] #4653 closed

[2020-10-22 08:59] Bobgy commented on #4653
Alexey's PR passed all tests, let's merge it instead

[2020-10-22 09:07] Bobgy commented on #3703
/lifecycle frozen

[2020-10-22 09:28] Bobgy commented on #4565
The most important next step can be releasing a 1.1.0-alpha.1 to allow dogfooding.

[2020-10-22 09:31] Bobgy commented on #4637
These info probably make sense in the existing /healthz endpoint: https://github.com/kubeflow/pipelines/blob/2676b56151ba57f17fd43c5e0734297632724785/backend/src/apiserver/main.go#L142

[2020-10-22 09:32] ConverJens commented on #4542
@Bobgy Not sure if I have missed something but the upload_pipeline_version you are referring to seems like it didn't go into the kfp 1.0.3 release which is the latest stable one from pypi. From the link you supplied but choosing the release-1.0 instead of latest:
https://kubeflow-pipelines.readthedocs.io/en/release-1.0/source/kfp.server_api.html#kfp-client-pipelines
upload_pipeline_version is not

[2020-10-22 09:36] NikeNano commented on #4637
Ok, sounds good, do you see any more information that would be relevant to add @Bobgy?

[2020-10-22 09:45] ConverJens commented on #4542
@Bobgy I think the issue is that if you create a kfp.Client() object, that object has no upload_pipeline_version method. It is only accessible through kfp.Client()._upload_api.upload_pipeline_version which is slightly obscure.

[2020-10-22 09:53] Bobgy commented on #4642
We plan to do a 1.1.0-alpha.1 release quickly, but it won't have any stability guarantee: https://github.com/kubeflow/pipelines/issues/4565

[2020-10-22 10:14] Bobgy commented on #4637
For deployment type, I imagine it could be
* full kubeflow
* standalone
* gcp ai platform pipelines

Is this what you are talking about?

We could also include metadata which cloud platform it was deployed to, maybe not immediately useful, but I think we might get to that point.

[2020-10-22 10:15] Bobgy commented on #4637
Or maybe you meant single/multi user mode?
I guess we could include both

[2020-10-22 10:18] Bobgy commented on #4542
Yes, that's right. The problem should be fixed when we release `1.1.0-alpha.1`.

[2020-10-22 10:18] #4542 closed

[2020-10-22 12:00] pretendhigh commented on #3941
[https://github.com/kubeflow/pipelines/pull/4246/commits/6a767d10547a3e6b88108cc16762013ef85b4ed7#diff-a4f0ddb278e77c9d8cb2dc3e4c5a6f4578ab2ff8237cc5315f506e85745a00b8](https://github.com/kubeflow/pipelines/pull/4246/commits/6a767d10547a3e6b88108cc16762013ef85b4ed7#diff-a4f0ddb278e77c9d8cb2dc3e4c5a6f4578ab2ff8237cc5315f506e85745a00b8)
I think this pr show the reason and the besy way maybe is to ch

[2020-10-22 13:07] munagekar commented on #4644
Thank you for your detailed explanation.

Under the proposed wrapper I was going to hardcode the commands without any support for specifying outputs or inputs.

This proposed wrapper would have had the exact same limitations as the ContainerOp constructor. Using component.yaml seem to be the way forward.

[2020-10-22 13:07] #4644 closed

[2020-10-22 13:08] Bobgy commented on #3941
Kfp 1.0.4 just released should work with these kubernetes versions

[2020-10-22 13:47] munagekar commented on #4644
I have sent in #4658 for making the deprecation visible to end-users.

[2020-10-22 14:22] gilbeckers opened #4659 "Use source from minio in the Visualization creator (type custom)"
I would like to know how one can load data over minio as a `Source` in the visualization creator using the custom type:

![Screenshot from 2020-10-22 16-16-53](https://user-images.githubusercontent.com/29519238/96884848-44f2d100-1482-11eb-9067-4ae4befd5fa9.png)

I cannot not find anything in the documentation and an error is printed saying that `File system scheme 'minio' is not implemented` when

[2020-10-22 16:41] alexlatchford opened #4660 "Ability to inject item variable of ParallelFor loop into resulting task names"
We have a pipeline that starts with a node that lists the available region partitions (think of x50 partitions that are US states). Then it uses `ParallelFor` to train & validate x50 models. Currently the naming of those nodes in the sub-graph called for each loop item in the KFP is the same (ie. `train-model` x50). Obviously when you click on each one you can read the inputs to find the appropria

[2020-10-22 18:13] DavidSpek commented on #4637
I'm currently looking into this as well for my PR https://github.com/kubeflow/pipelines/pull/4638.

[2020-10-22 19:56] andrewrreed commented on #2430
/reopen

[2020-10-22 20:12] DavidSpek commented on #4637
@NikeNano @Bobgy I have added the single/multi user mode to the `/apis/v1beta1/healthz` to solve the issue of the KFP namespace also being automatically set in single user mode in my PR https://github.com/kubeflow/pipelines/pull/4638, after which it passed all tests. I have now moved the API call to `/apis/v1beta1/healthz` to its own function and (hopefully) fixed the output so that multi_user is

[2020-10-22 20:15] mnoble-vody commented on #1956
Argo was upgraded to 2.7.5 in https://github.com/kubeflow/pipelines/pull/3537 so now Argo's pod spec patching (https://github.com/argoproj/argo/pull/1687) is available to implement a fix in the Pipelines SDK.

[2020-10-22 20:36] NikeNano commented on #4637
I think both the type in terms of full/standalone/ai platform and single/multi would be great to include.

[2020-10-22 20:37] NikeNano commented on #4637
Sounds great!

[2020-10-22 20:43] martinbomio opened #4661 "Allow kfp Client to work with service account impersonation"
### What steps did you take:
Creating a `Client` from local environment when impersonating a GCP service account. Calling it with:
[code]

### What happened:
Following exception is thrown:
[code]

### What did you expect to happen:
The client should initialize correctly when impersonating service accounts

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version:
kfp-server-api=

[2020-10-22 21:46] Ark-kun commented on #4660
Have you tried `task.set_display_name(str(loop_item))`?

[2020-10-22 21:58] alexlatchford commented on #4660
I hadn't, just tried that out and seems like i'm getting: `RuntimeError: Internal compiler error: Found unresolved PipelineParam.`. Is that a case you expect to work? This may be something on my end as my Pipeline is pretty complex so maybe starting on a smaller example might work in my case.

[2020-10-22 22:39] #4129 closed

[2020-10-23 00:09] #4392 closed

[2020-10-23 06:36] Bobgy commented on #4269
/lifecycle frozen

[2020-10-23 09:59] Ark-kun commented on #4660
This has been fixed in master: https://github.com/kubeflow/pipelines/pull/4164

I think I need to make an out of band SDK release.

[2020-10-23 10:34] Bobgy commented on #4659
In fact we plan to deprecate python based visualization https://github.com/kubeflow/pipelines/issues/4643

Recommend downloading artifacts and use your own notebook

[2020-10-23 11:55] fondlykip commented on #1891
Was a fix implemented for this Issue? I am also facing this error when passing a pvolume to a `@graph_component`.

[2020-10-23 12:55] gilbeckers commented on #4659
Thanks for the answer @Bobgy . And what about TFDV? Can we load data over minio there?

[2020-10-23 14:47] Bobgy commented on #1891
/reopen

[2020-10-23 14:58] alexlatchford commented on #4660
Sweet thanks for the quick fix on this!

[2020-10-23 15:34] alexlatchford opened #4665 "Attach generic metadata to recurring run (and all other) objects"
Hi all, we have a use case where we're using a configuration driven approach to drive the creation of many recurring run schedules. We have a directory of configuration files where each one corresponds to an experiment and on a schedule we re-trigger the pipeline using the configuration values as pipeline parameters. This approach works great and allows us to train many models using different hype

[2020-10-23 18:22] mdew192837 opened #4666 "How do I chain a `ContainerOp` AFTER a `ParallelFor`?"
### What steps did you take:

- I have a `ParallelFor` loop that runs a `ContainerOp` in each.
- I have a `ContainerOp` that I want to run AFTER all steps in the `ParallelFor` loop run

### What happened:

- The `ContainerOp` gets launched at the same time the `ParallelFor` loop gets launched.

### What did you expect to happen:

- The `ContainerOp` gets launched after the `ParallelFor` loop is co

[2020-10-23 18:25] omarzouk opened #4667 "403 Forbidden on any update operations on all platforms all of a sudden"
### What steps did you take:
We have been using Google Cloudbuild as a CI to upload our pipelines to KFP for the past ~6 months without issue. Suddenly today, jobs started failing.
The SDK fails to call the upload pipeline endpoint, getting a 403 error. The SDK however is able to access all read APIs, but no longer able to access update APIs.
Also, I have tried using the api manually, on my local

[2020-10-23 18:38] omarzouk commented on #4667
Looking at a previous similar issue, something similar has affected us-central1/2 beforehand: https://github.com/kubeflow/pipelines/issues/3688

[2020-10-23 20:00] mdew192837 commented on #4666
This can be done by keeping a list of the `ops` in the `ParallelFor` and then chaining them in the `.after()` using `*ops`

[2020-10-23 20:00] #4666 closed

[2020-10-23 22:10] sameerbhadouria opened #4668 "Demo pipeline run fails with invalid memory address error"
### What steps did you take:
[A clear and concise description of what the bug is.]
Install Kubeflow with Pipelines configured in multi user isolation mode.
Create an experiment, select pre-installed demo pipeline (iris Classification), create a new run and fill in the Run Parameters and click Start.

### What happened:
The pipeline execution fails immediately with a upstream connect error. Followi

[2020-10-24 00:03] Bobgy commented on #4659
I think it doesn't support that, but please refer to tfdv's official documentation

[2020-10-24 00:04] #4659 closed

[2020-10-24 02:11] chensun commented on #4667
There was a bad release with Inverse proxy, which was rolled back. Verified the error is gone now.

[2020-10-24 03:20] #4226 closed

[2020-10-24 03:33] #3989 closed

[2020-10-24 21:44] sm-hawkfish opened #4671 "A large number of Pipeline runs seems to overwhelm the UI"
### What steps did you take:

As the number of pipeline runs we have submitted has increased over the past weeks, we recently ran into an issue where the UI has either crashed or become unresponsive

### What happened:

1. We see that Experiments page is not able to load the Pipeline Runs, due to hitting a GRPC limit:

<img width="1391" alt="Screen Shot 2020-10-24 at 5 36 21 PM" src="https://user-

[2020-10-24 22:10] sm-hawkfish commented on #4671
An important piece of context I neglected to share above -- this issue does not affect _the entire KFP UI_, only certain experiments (with a large number of runs). Additionally, those runs generate some HTML files as artifacts that are rendered by the MLPipeline UI Metadata viewer.

[2020-10-25 10:36] Ark-kun commented on #4642
Root cause: https://github.com/kubeflow/pipelines/issues/4409

[2020-10-25 14:53] #4241 closed

[2020-10-25 14:53] #4242 closed

[2020-10-25 23:38] Bobgy commented on #4671
1. Can you help me identify which API call reached limit?
2. I think it's a bug fixed in 1.0.4, when workflow size is big, Argo compresses status field, so KFP UI could not retrieve details.

[2020-10-25 23:41] Bobgy commented on #4671
1. Might have been fixed too, because I remember seeing PRs to increase the limit. Not sure which release it went into, might need a 1.1.0 release

[2020-10-26 05:55] Bobgy commented on #4665
Thanks @alexlatchford for writing up the detailed use-cases!
We've received similar requests before for different KFP resources in #4165 #4193 #4194.

I think your description is very generic, we can use this issue as the root tracker for similar requests.

I'd 100% agree and support this use-case. Right now, we don't have bandwidth to tackle this by ourselves. We are waiting for any community con

[2020-10-26 06:01] paveldournov commented on #4542
Can we add this to the documentation? The [doc ](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp.Client.upload_pipeline_version )doesn't say it is requires the additional indirection.

[2020-10-26 06:13] Bobgy commented on #4542
@paveldournov, @Ark-kun has updated the doc website: https://kubeflow-pipelines.readthedocs.io to show `stable` version by default now (instead of `latest` previously). So it should not show the method to users before its released.

Regarding to using `_upload_api`, I'll need to double check when releasing 1.1.0, if the method is not available through `upload_pipeline_version`, then it's a bug we

[2020-10-26 06:31] Bobgy commented on #4409
I think we can use https://github.com/kubeflow/pipelines/issues/4565 to track all efforts towards solving this problem. What do you think?
Releasing a `1.1.0-alpha.1` should allow people start trying earliest SDK and we can improve from there to `1.1.0-alpha.2`, `1.1.0-beta.1`, `1.1.0-rc.1`... until a final stable version.

[2020-10-26 06:31] Bobgy commented on #4409
What do you think?

[2020-10-26 06:32] Bobgy commented on #4409
A remaining problem is that, I think we have many docs still pointing to latest version of the sdk reference website. We need to update them to reduce the confusion.

[2020-10-26 06:35] Bobgy commented on #4642
Let's move the discussion to releasing KFP 1.1.0: https://github.com/kubeflow/pipelines/issues/4565

[2020-10-26 06:35] #4642 closed

[2020-10-26 06:42] Bobgy commented on #4668
I think this is
duplicate of https://github.com/kubeflow/pipelines/issues/4389.

And it's already been fixed and released in KFP 1.0.1 https://github.com/kubeflow/pipelines/blob/1.0.4/CHANGELOG.md#101-2020-09-14

[2020-10-26 06:43] #4668 closed

[2020-10-26 09:51] fondlykip commented on #1891
It seems to me that we would just need to include PipelineVolume in dsl._component.py [here
](https://github.com/kubeflow/pipelines/blob/80e1d7063dc6eea0d17606c26fb61aff5eca4310/sdk/python/kfp/dsl/_component.py#L132)

like:
[code]

[2020-10-26 10:23] juliusvonkohout commented on #1654
Please thumb up https://github.com/kubeflow/pipelines/pull/4645#issuecomment-715926096 and https://github.com/argoproj/argo/issues/4367 i have got k8sapi working with the leightweight python components too.

[2020-10-26 15:52] alexlatchford commented on #4665
Thanks for clarifying @Bobgy seems unlikely we'd get the time allocated to contribute this at Zillow unfortunately given we have a somewhat working solution but thanks for the response. I'll keep tabs on the ticket and hopefully I can help out with reviewing/testing at least!

[2020-10-26 16:57] NikeNano commented on #4553
If we like to update the Argo version to 2.11.X I can look in to it, I guess it will be kind of similar to the update to 2.7 @Bobgy?

[2020-10-26 16:58] NikeNano commented on #4553
/assign

[2020-10-26 17:00] Bobgy commented on #4553
@NikeNano thank you for offering help! That'll be great!

What's even better is using the chance to document how to upgrade argo, so others can learn from you next time.

[2020-10-26 17:34] sameerbhadouria commented on #4668
@Bobgy Thanks for the follow up. Just want to make sure this isn't related to using Minio with GCS gateway and an external CloudSQL MySQL instance. I was able to run the pipelines in a previous installation of Kubeflow pipeline, but with the internal Mysql instance and Minio both backed by a persistent disk.

[2020-10-26 17:43] quaterneon opened #4673 "Creating runs via kfp does not respect pipeline versions"
### What steps did you take:
1. Create a pipeline
2. Upload multiple versions to the same pipeline with different manifests (let's call the versions A, B, C, and their respective manifests A', B', C'. First created version is A, official default version is C)
3. Create run for pipeline via python SDK (tried without and without explicitly specifying the version to run)
4. View run on UI, and intros

[2020-10-26 20:04] NikeNano commented on #4553
Sounds like a good idea, will include it!

[2020-10-26 20:58] RedbackThomson commented on #4581
Closing this issue because of inactivity. If you have any further questions, feel free to re-open. Thanks

[2020-10-26 21:04] martinbomio commented on #4661
If this is something that would be desirable, I can try to contribute it.

[2020-10-27 01:33] paveldournov commented on #3667
We can make it even simpler -  y default always download. The user can see the single file or a directory locally, both can be handled the same way.

[2020-10-27 04:50] dav009 opened #4674 "VolumeSnapshotOp: api_version as a parameter"
👋  I am playing with kubeflow on AKS.
For creating snapshots I need to pass `api_version : "snapshot.storage.k8s.io/v1beta1"`.
However  `VolumeSnapshotOp` currently hard coded `snapshot.storage.k8s.io/v1alpha1`.

 I wonder if `api_version` could be a paremeter of `VolumeSnapshotOp` I am happy to make a PR with that change if it makes sense.

[2020-10-27 17:03] Bobgy commented on #4667
Reopening this issue to track efforts preventing it from happening again.

[2020-10-27 19:46] HunterEl commented on #4628
Also encountering this issue, @Ark-kun . I wrote a python script to take in command line args then generate a workflow. Once I started generating worfklows with KFP I started getting `error: unrecognized arguments`. Was able to step through the debugger and the exception occurs only when I call `compile`. I tried using `click` and `argparse` and issue is encoutered with both of them.

[2020-10-28 06:48] anatolyzolotar commented on #3936
Hi @rmgogogo . I would like to re-escalate this issue. The problem is quite serious in terms of excess requests and costs.
Do you agree that this can be fixed by adding `--reload_interval=0` parameter to tensorboard args as I've described in the first message? The fix seems to be easily implementable and reasonable since logs can not be changed.
I can add PR if you approve.

[2020-10-28 09:32] Bobgy commented on #3461
We've removed bazel, now we can close this

[2020-10-28 09:32] #3461 closed

[2020-10-28 09:35] Bobgy commented on #3770
FYI, this has been done in https://github.com/kubeflow/pipelines/pull/4498.

[2020-10-28 09:35] #3770 closed

[2020-10-28 09:41] Bobgy commented on #4213
Probably we can make this scaleable in the future, e.g. query list available tensorboard versions when building the frontend image.

[2020-10-28 09:44] Bobgy opened #4682 "[Project Health] Dependency upgrade process"
KFP has many dependencies like
* library versions (e.g. tfx, mlmd)
* images (e.g. dockerhub/python, alpine, ...)

Benefits of updating these on a timely manner:
* Upstream image updates likely remove many vulnerabilities that we will need to investigate manually each time later
* We need to keep in sync with tfx/mlmd etc to know problems early.

We could stop pinning image versions to try getting

[2020-10-28 09:57] Bobgy commented on #4682
I think docker image update is a good first candidate, because it is of low possibility to break us on upgrade, also we need the timely vulnerability fixes coming from it.

[2020-10-28 10:28] Bobgy commented on #4141
We have been having quite some issues with Kubernetes version support recently, it will be ideal if we could set up periodic tests for supported Kubernetes versions and monitor them over time.

Off top of my head, I think we should support `1.14~latest` versions.

[2020-10-28 10:32] Bobgy opened #4683 "sdk/client/auth - refactor GCP auth into a module"
There are many types of auth features in KFP SDK, they are injected kind of ad-hoc in code.

I think we need to refactor it into auth modules, so that
1. it's cleanly separated
2. it's easy for other providers to add auth modules

Another common proposal is to make the auth parameters explicit, right now we are doing the auth part automatically based on host url regex matching, but users may set u

[2020-10-28 10:45] Bobgy opened #4684 "Automate process for including license info in images"
Part of https://github.com/kubeflow/pipelines/issues/2884

https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go-license-tools#add-ci-tests-for-license-information

[2020-10-28 13:22] rmgogogo commented on #3936
Labeled as "help wanted". Feel free to contribute.

[2020-10-28 13:27] rmgogogo commented on #3936
more info: the "reload" is necessary for making TensorBoard works to get latest changing data. E.x. a training log be refreshed in TensorBoard metrics chart. Turn off the refresh can work as user still can refresh manually.

Considering KFP TB e2e use case is that all done and then TensorBoard, so do feel free to send out your PR. I will leave the approve to other team mates.

[2020-10-28 22:19] #4254 closed

[2020-10-28 22:19] #4253 closed

[2020-10-28 22:19] #4209 closed

[2020-10-28 22:39] #4573 closed

[2020-10-28 22:40] julioyildo commented on #4573
Thank you !

[2020-10-28 23:32] Bobgy commented on #4216
Since we received no response, let's delete them.

[2020-10-28 23:36] Bobgy commented on #4284
@numerology can you provide more details?

Choosing which proxy is code we maintain vin KFP, so one of us need to investigate this.

[2020-10-28 23:36] Bobgy commented on #4284
https://github.com/kubeflow/pipelines/blob/0ff6d9cfa438119785b94b8802f4bf7d36f95bda/proxy/attempt-register-vm-on-proxy.sh

[2020-10-28 23:38] Bobgy commented on #3789
Closing because we will not support update   for now.

[2020-10-29 01:11] numerology commented on #4284
/lifecycle frozen

[2020-10-29 01:14] numerology commented on #4284
@Bobgy Sorry I dropped the ball on this one...

For example, if a user deploys KFP onto a GKE cluster in us-central1 region, then according to [this config](https://storage.googleapis.com/ml-pipeline/proxy-agent-config.json) inverse proxy should return a host name suffixed by `us-central1`, but it's currently `xxx-us-central2`. It's not blocking usage but suboptimal.

[2020-10-29 01:27] Bobgy commented on #4674
/assign @Ark-kun

[2020-10-29 02:24] Ark-kun commented on #4518
Historically I thought to use `List` to represent type inheritance (related to Union, but different) and `Dict` for generic types and advanced constructs. But I later came to the conclusion that it would be better to be more verbose/explicit here. So, `List` is unused currently.

[2020-10-29 03:37] Bobgy commented on #4284
Understood, FYI code for deciding which proxy url to choose is in https://github.com/kubeflow/pipelines/blob/0ff6d9cfa438119785b94b8802f4bf7d36f95bda/proxy/get_proxy_url.py, so anyone who'll try to fix this problem should troubleshoot there.

[2020-10-29 04:20] Bobgy opened #4685 "[Doc] update docs that still refer to KFP latest SDK reference"
Related to https://github.com/kubeflow/pipelines/issues/4409

A remaining problem is that, I think we have many docs still pointing to latest version of the sdk reference website. We need to update them to reduce the confusion.

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/4409#issuecomment-716336163_

Action Item:
* [ ] Search for `kubeflow-pipelines.readthedocs.io

[2020-10-29 04:29] dav009 opened #4686 "Question: Job api specifing pipeline version"
when creating a job via the kfp client (`client.jobs.create_job`), is it possible to specify a pipeline version?
I am taking a look at https://github.com/kubeflow/pipelines/blob/master/backend/api/python_http_client/docs/ApiPipelineSpec.md
but I cant find any parametr.

[2020-10-29 07:01] Bobgy commented on #3600
/lifecycle frozen

[2020-10-29 07:03] dav009 opened #4687 "Question: Tasks not getting cached"
👋  I am new to Kubeflow, I used kfctl to install kbf. Pipelines work fine, but caching is not working.
Tasks never get skipped.  There is nothing in the logs either:
[code]

I made sure that `mutatingwebhookconfiguration ` exists and that is setup as mentioned in https://www.kubeflow.org/docs/pipelines/caching/

[2020-10-29 07:15] Bobgy opened #4688 "[Community] GitHub issue templates for feature request and question"
We've set up a github bug template to
* inform people which information they should fill in
* automatically mark the issue as `kind/bug`

It's been working very well and saving efforts for github issue triage.
I think we should follow the same pattern for feature request and questions now.

[2020-10-29 07:38] Bobgy commented on #3857
An example of fixing some vulnerability issues: https://github.com/kubeflow/pipelines/issues/4531

[2020-10-29 07:45] Bobgy commented on #3857
AIs:
* [ ] formalize a vulnerability management process
* [ ] understand current image vulnerability status and triage urgent fixes
* [ ] build the needed vulnerability scanning automation that flag High and Critical issues before release and send vulnerability reports for each KFP release.

[2020-10-29 08:18] Bobgy commented on #4553
FYI, when upgrading to 2.11.6, you should be aware that Google requires all images to contain necessary license information in the docker image.
That's why we built gcr.io/ml-pipeline/argoexec:v2.7.5-license-compliance from https://github.com/kubeflow/pipelines/tree/master/third_party/argo. We might be missing some documentation there, so feel free to ask me when you start about that part.

I thin

[2020-10-29 13:40] aleksandra-sp commented on #3806
In which release will be this be included? I am working on kfp 1.0.4 and the issue is still there:
`@dsl.pipeline(name="test", description="test")
def train_pipeline(
    adam_epsilon: float = 1e-8,
):`

What gets compiled:
`{name: adam_epsilon, value: 1e-08}`

the same happens when instead of passing 1e-8, I pass 0.00000001.

[2020-10-29 14:01] kd303 opened #4690 "ListRuns must filter by resource reference in multi-user mode."
### What steps did you take:
Installed Kubeflow 1.1 with istio with no authentication/authorizaton

### What happened:
Intermittently we are getting ```ListRuns must filter by resource reference in multi-user mode.``` exception with following exception stack trace and it gives ```RBAC``` error. This is on-premise installation non-GPU kubernetes cluster

We also get the similar behaviour when we ca

[2020-10-29 14:14] DvirDukhan commented on #4592
@ConverJens @Ark-kun thanks for your replies, I appreciate it.
I have partial success with this approach, which is a good progress

When using the custom image, should I give it as an argument for the tfx cli as the value of `--build_base_image` flag, OR, should I specify it as the `tfx_image` value for `KubeflowDagRunnerConfig`? Is there a priority or contradictions between those two arguments/co

[2020-10-29 14:22] elikatsis commented on #4674
Hi @dav009,
thank you for using the feature.

I think it's a valid use case and, thus, it definitely makes sense!
Feel free to open a PR and CC me :)

/assign @elikatsis

[2020-10-29 17:53] ConverJens commented on #4592
@DvirDukhan Happy to help!

I'm not using the tfx cli so I can't answer how that should work. Instead, I simply build the image with Docker and compile the pipeline using TFX DSL kubeflow_dag_runner where I specify my own custom image, like this:

` runner_config = kubeflow_dag_runner.KubeflowDagRunnerConfig(
        kubeflow_metadata_config=metadata_config,
        tfx_image=custom_tfx_image,

[2020-10-29 19:55] NikeNano commented on #4553
Cool, I will look in to it when I managed to fix the dependencies correctly.

[2020-10-29 20:50] xinbinhuang commented on #4553
Sorry, the issue drifted away from my focus previously. I managed to switch over to the official argo version 2.11.6 server side for my deployment, and everything has been running smoothly. It seems that server side is more straightforward.

@NikeNano Have you started on this? If not, I can create a PR tonight to summarize what I did and you can look into it and include extra depedencies and licen

[2020-10-29 20:53] NikeNano commented on #4553
I have done some initial work but make a PR with your solution @xinbinhuang, and I can help out :)

[2020-10-29 21:45] fakeburst opened #4692 ""Terminate" does not stop pipeline run execution"
### What steps did you take:
Hitting "Terminate" fails to actually stop pipeline execution if there are steps with retryStrategies or running init containers

### What happened:
We are running a pipeline that has ±50 parallel step executions. If we want to stop pipeline run we have to delete Kubernetes Workflow resource rather than using "Terminate" UI button as it does not stop the run if:
1. The

[2020-10-30 06:46] Bobgy opened #4695 "[Cache Deployer] Discussion - use cert-manager instead?"
I've been looking at how other applications in Kubeflow managed the certificate issue.

I found notebooks is doing the following:
https://github.com/kubeflow/kubeflow/blob/e3cc4eea73a43ed13705b9f0a43a81116f620ffd/components/notebook-controller/config/default/webhookcainjection_patch.yaml
https://github.com/kubeflow/kubeflow/tree/e3cc4eea73a43ed13705b9f0a43a81116f620ffd/components/notebook-controll

[2020-10-30 07:46] Bobgy commented on #3667
I'm working on this

[2020-10-30 10:26] anineharto commented on #4537
Yes, that's correct. I tried to git clone tf_template into my TFX container image and then running `pip install -e .` to make it run as a module. When running python inside my container I manage to import tf_template, but each the docker container created when the transform component in Kubeflow is not able to get a hold of it.

[2020-10-30 15:16] bencwallace opened #4697 "Float sometimes prints to UI as int"
### What steps did you take:

I'm using the SDK to create the following very simple pipeline:

[code]

I run this pipeline as follows:

[code]

In the first case, `test_op` is defined as follows:

[code]

In the second case, it is defined as follows:

[code]

### What happened:

In the first case, the output in the KFP UI is:

[code]

In the second case, the output is:

[code]

### What did you ex

[2020-10-30 15:16] jlewi opened #4698 "ISTIO 1.6+ support in KFP"
From @Bobgy in kubeflow/kubeflow#5313

Marking as P1 as I think ISTIO 1.4 is pretty old at this point so I suspect this will become a blocker for folks if its not already.

Uber ISTIO 1.6 issue kubeflow/kubeflow#5313

/cc @kubeflow/wg-pipeline-leads

[2020-10-30 16:16] gcampax opened #4699 "Feature suggestion: expose the duration of each pipeline step"
It would be very useful to know how long each pipeline step took, in addition to the total duration of the pipeline.
This is especially useful when trying different hyperparameters that affect performance.

This information is already available on the Argo UI, but (1) one needs to know the UI exists (it is not exposed from the Kubeflow dashboard) and (2) one needs to cross reference the pod name f

[2020-10-30 16:23] yanniszark commented on #4683
Hi @Bobgy! We find this issue interesting because we have actually implemented something like this for our purposes.
As you said, the current client is not extensible with regards to authentication methods, as authentication methods are hardcoded inside the client's `__init__`.

What we have done in our own fork of the KFP client, is to add a `TokenCredentials` class, which encapsulates the retrie

[2020-10-30 19:31] santiagoolivar2017 opened #4700 "How to access run info within a run"
Once a run is executed how can I retrieve information like the experiment name, run id, pipeline name, etc. I need this information to manage where the artifacts will be stored and woud like to organize the paths based on this information.

[2020-10-30 22:21] santiagoolivar2017 commented on #4700
I figured it out.
I am using `kfp.dsl.EXECUTION_ID_PLACEHOLDER` and `kfp.dsl.RUN_ID_PLACEHOLDER` within the pipeline specification.

[2020-10-31 00:40] jackwhelpton opened #4701 "Optional input artifacts not working"
### What steps did you take:

Passed an output from a `dsl.Condition` block to a subsequent operation.

### What happened:

[code]

### What did you expect to happen:
`None` to be passed to the subsequent component.

### Environment:

KFP version: 1.0.1
KFP SDK version:
kfp                            1.0.3
kfp-server-api                 1.0.3

### Anything else you would like to add:
This seems ve

[2020-10-31 03:55] #4275 closed

[2020-10-31 03:55] #49 closed

[2020-10-31 03:55] #4224 closed

[2020-10-31 03:55] #4271 closed

[2020-10-31 07:44] ajinkya933 commented on #4628
There is no way to do this. The best alternative is to directly edit your yaml files too get a different output

[2020-10-31 20:18] NikeNano commented on #4553
FYI related work on argo to update the dependencies : https://github.com/argoproj/argo/pull/4426

[2020-11-01 00:16] Ark-kun commented on #4701
It's a bit more complicated.
Currently, optional inputs are compile-time optional: You may connect them or leave them unconnected.

This does not seem to be possible. At runtime, there is no Python and no `None`s. There are only command-lines. The command-lines are resolved at compile-time (most of it), so the `inputPath` placeholder must be resolved to something. It's resolved to a local path:
[c

[2020-11-01 02:51] jackwhelpton commented on #4701
Sure, the bigger scenario probably makes it clearer. I was hoping to write a training pipeline where a user could optionally supply a GCS location for a base model, in which case that model would be downloaded and used for transfer learning.

Currently the Python code for training deals exclusively with local paths, and if it is passed an empty string for the base model it will train from scratch.

[2020-11-01 06:02] suryaavala commented on #4284
@Bobgy I submitted a fix in #4702, would you be able to review it?

[2020-11-01 07:00] suryaavala opened #4703 "Style: Conflicting indentation requirements between pylintrc and yapf config"
### What steps did you take:
[A clear and concise description of what the bug is.]

1. formatted `proxy/*.py` with `yapf` using `.style.yapf` as per [CONTRIBUTING.md](https://github.com/kubeflow/pipelines/blob/master/CONTRIBUTING.md#coding-style)
2. `pylint` with the given `.pylintrc` started complaining  `W0311: Bad indentation. Found 4 spaces, expected 2 (bad-indentation)`

### What happened:
Ac

[2020-11-01 15:26] Bobgy commented on #4095
/lifecycle frozen

[2020-11-01 15:27] Bobgy commented on #4095
This happened a few more times, so far it can be solved by restarting nodes.

[2020-11-01 16:28] #4284 closed

[2020-11-01 20:08] NikeNano commented on #4703
The background discussion to this can be found here: https://github.com/kubeflow/pipelines/pull/2446, how ever as I understand it we should strive for 4 spaces according to the google standard as you point out.

[2020-11-01 20:31] NikeNano commented on #4686
I checked the api:s and I actually don't think it is possible to select the pipeline_version, instead the default_version will be used. You will in future release be able to set the default pipeline version: https://github.com/kubeflow/pipelines/pull/4406 today the latest is selected.

I might be missing something in the API, if not I think this would be a great contribution to the API.

[2020-11-01 20:32] numerology commented on #4703
Thanks! Sent https://github.com/kubeflow/pipelines/pull/4706 to fix

[2020-11-01 20:40] NikeNano commented on #4687
Could you share an example? I know there are several PR:s open related to the caching https://github.com/kubeflow/pipelines/pulls?q=is%3Apr+is%3Aopen+cache, one which is an example https://github.com/kubeflow/pipelines/issues/4049 . Have not used it myself though :(

[2020-11-01 22:32] Bobgy commented on #4703
/lgtm
/approve
Thank you @numerology !

[2020-11-01 22:34] #4703 closed

[2020-11-01 22:49] Bobgy commented on #4313
/lifecycle frozen

[2020-11-01 23:11] Bobgy commented on #4314
https://github.com/kubeflow/website/pull/2113 was part of this, we should also add how to authenticate in cloud function

[2020-11-01 23:17] Bobgy commented on #4312
/lifecycle frozen

[2020-11-02 01:03] dav009 commented on #4686
@NikeNano  thanks!

[2020-11-02 02:32] Bobgy commented on #4540
Released on GCP marketplace too

[2020-11-02 02:32] #4540 closed

[2020-11-02 02:44] Bobgy commented on #4565
I'm going to release a 1.1.0-alpha.1 for preview, some non-core sample tests are failing in postsubmit including container builder. I'll ignore them for this release.

[2020-11-02 03:47] Bobgy commented on #4686
@dav009 in fact, selecting version is supported, but not very obvious.

You need to add a resource reference that points to a pipeline version.

[2020-11-02 03:59] Bobgy commented on #4686
Similar to this example https://www.github.com/kubeflow/pipelines/tree/master/tools%2Fbenchmarks%2Frun_service_api.ipynb

[2020-11-02 04:40] Bobgy commented on #4565
Auto generated changelog has a problem:
https://github.com/kubeflow/pipelines/blob/7d36f48482d93f331664a851842276b733f1686a/CHANGELOG.md#110-alpha1-2020-11-02

It shows all changes from 0.5.1 to 1.1.0-alpha.1, because 1.0.0 was released on `release-1.0` branch.

[2020-11-02 07:54] Bobgy commented on #4565
1.1.0-alpha.1 is released, feedback welcomed if there are any problems: https://github.com/kubeflow/pipelines/releases/tag/1.1.0-alpha.1

[2020-11-02 15:47] jackwhelpton commented on #4701
I should add, I realized I mangled my description of expectations by referring to `None`. What I'd hoped for was that `optional_step.output` would be an empty string, rather than a failure of (as I think you proposed above) a path to a non-existent file.

The former would let Python code say "oh, I shouldn't use this parameter", while the latter would/should be an error condition. As you'd suggest

[2020-11-02 18:19] jackwhelpton opened #4708 "ComponentStore fails to include filename when pulling by version or tag"
Looking at the comments around `ComponentStore` more closely, I don't think this is a bug, but rather my misunderstanding of the intended behavior: I'll need to adjust how I publish my components. The further question about using ComponentStore to load standard components (in a comment below) still stands. Leaving this here to get clarification:

### What steps did you take:
* stored a Kubeflow co

[2020-11-02 18:59] jackwhelpton commented on #4708
As a related point, I'd hoped I could use the default ComponentStore to retrieve tagged versions of standard components, but:

[code]

attempts to retrieve:

https://raw.githubusercontent.com/kubeflow/pipelines/master/components/google-cloud/storage/upload_to_explicit_uri/versions/tags/1.0.1

rather than the correct path, which would be:

https://raw.githubusercontent.com/kubeflow/pipelines/1.0.1/

[2020-11-02 19:15] jackwhelpton commented on #4708
Perhaps if rather than `url_search_prefixes` we could define URI templates, with `tag` and `digest` as variables?

[2020-11-02 20:33] NikeNano commented on #4686
ping @dav009

[2020-11-02 21:51] RedbackThomson commented on #4581
/close

[2020-11-02 21:51] #4581 closed

[2020-11-02 23:18] Bobgy commented on #4311
/lifecycle frozen

[2020-11-02 23:49] Jeffwan opened #4709 "metadata_writter doesn't create input artifact and attributions for component inputs with no upstream"
### What happened:

https://github.com/kubeflow/pipelines/blob/master/backend/metadata_writer/src/metadata_writer.py#L226
https://github.com/kubeflow/pipelines/blob/1123489787a542d919ee1e9a97c30ac0df0709c3/backend/metadata_writer/src/metadata_helpers.py#L353-L381

From the logics in `https://github.com/kubeflow/pipelines/blob/1123489787a542d919ee1e9a97c30ac0df0709c3/backend/metadata_writer/src/met

[2020-11-03 01:09] dav009 commented on #4686
@Bobgy  @NikeNano  thanks!

[2020-11-03 01:15] dav009 commented on #4687
@NikeNano  this is the dummy task I am trying to get cached:

[code]

I also tried the sample in the tests of this PR https://github.com/kubeflow/pipelines/pull/4664/files
however the asserts checking that the random values are the same (thus cache was used) fail. It implies cache was not used.

[2020-11-03 01:17] dav009 commented on #4686
@Bobgy  @NikeNano  sorry guys, reopened this. I am happy to document this somewhere. Where should I look in order to do that github.com/kubeflow/website ? or the docs within the kubeflow/pipelines repo?

[2020-11-03 05:35] yasersakkaf opened #4710 "convert string to GCSPath object or create one"
I want to convert my string `"gs://some_bucket/some_dir"` into `kfp.dsl.types.GCPPath`
How do I do it?
Or probably I need to create a GCSPath Object with the above GCS path
Any ideas?

[2020-11-03 09:43] anineharto commented on #4537
@Ark-kun

[2020-11-03 10:03] Bobgy commented on #4710
/cc @chensun @numerology @Ark-kun

[2020-11-03 10:12] majorinche commented on #4440
so what is the correct format, i try to follow by https://www.kubeflow.org/docs/pipelines/multi-user/#in-cluster-api-request-authentication, where said: If you need to access the API endpoint from in-cluster workload like Jupyter notebooks or cron tasks, current suggested workaround is to connect through public endpoint

the code i written like this:
pipeline = kfp.Client(host='http://istio-ingres

[2020-11-03 10:21] Bobgy commented on #4440
@majorinche which Kubeflow deployment are you using? There should be a page on www.kubeflow.org introducing how to authenticate to KFP endpoint.

[2020-11-03 13:08] Bobgy commented on #4673
Hi @quanjielin ! Thank you for the report!
Can you share the python script you used to create the run?
I suspect there's something wrong there, you can open browser console and see the request UI sends to backend as a reference.

[2020-11-03 13:13] Bobgy commented on #4683
Thanks @yanniszark! I think that sounds like a clean and abstract interface. Will you be willing to contribute?

/cc @chensun @numerology @Ark-kun
What do you think about this?

[2020-11-03 13:15] Bobgy commented on #4661
Thanks @martinbomio! That sounds useful.
You might be interested to take a look at https://github.com/kubeflow/pipelines/issues/4683 first, maybe you can add the new authentication method as a more decoupled interface.

[2020-11-03 13:36] #3667 closed

[2020-11-03 13:53] tom-dd opened #4713 "ContainerOp alternative"
Per request of @Bobgy:

Currently, when using `ContainerOp` you will get the following warning:
[code]

The alternatives requires you to specify your `ContainerOp` instance as either `yaml` or `json` if you want to use it inline. This option however lacks the editor/type checking support that you would get when using the Python based `ContainerOp`.

Proposals:

* Offer a Python based alternative f

[2020-11-03 14:07] Bobgy commented on #4713
/assign @chensun @Ark-kun

[2020-11-03 15:51] yanniszark commented on #4683
@Bobgy sure, we could open a PR for it.

[2020-11-03 23:17] JakeTheWise commented on #4687
Same. What version of kubeflow pipelines + kubernetes are you running?

I have a cluster running kubernetes 1.17.4. Upgrading from kubeflow <1 to 1.0.4 broke caching, even though it is supposed to work in 1.0.4 (https://github.com/kubeflow/pipelines/pull/4632)

[2020-11-04 00:04] quaterneon commented on #4673
Unfortunately I cannot share the full code, but we specifically kick-off a new run with the following code:
[code]

The UI does to do the correct thing with versions, but this snippet using the SDK does not.

[2020-11-04 00:06] quaterneon commented on #4673
If I then look at the run object returned, I see that the version ID on the run object is `pipeline.default_version.id`, but the manifest attached to the run ID doesn't match the manifest of that version.

[2020-11-04 00:11] Ark-kun commented on #4713
There are also lightweight python components created using `kfp.components.create_component_from_func`.

Can you describe the problems you're seeing?
The loaded components are represented as strongly typed functions.
When working in a Jupyter environment, the editor shows the help for the parameters and `help(op)` works as well. Does this work for you?

Can you please help me understand this reque

[2020-11-04 00:18] Ark-kun commented on #4709
MW should be doing that:
https://github.com/kubeflow/pipelines/blob/e3992faf8305570ca56c5932d701eb8765305568/backend/metadata_writer/src/metadata_helpers.py#L402
Can you describe the scenarios where it doesn't?

Artifacts are created when outputting them from a component.

Then these existing artifacts are linked to the downstream component inputs.

I'm not sure whether this behavior would be corr

[2020-11-04 00:23] Ark-kun commented on #4710
I assume that you have a component with the `"GcsPath"` input type and want to pass a constant argument ("gs://some_bucket/some_dir") to it.
The KFP SDK should allow you to do just that. You do not need any special conversion. You may pass a constant string as an argument for any input (the string must have correct format of course).
When you try to pass a string (only a string), the system assume

[2020-11-04 01:02] Bobgy commented on #4700
I'm glad you figured out by yourself

[2020-11-04 02:49] dav009 commented on #4687
kubernetes 1.18.8
kubeflow 1.1.0

[2020-11-04 04:08] Ark-kun commented on #3748
/freeze

[2020-11-04 04:14] Jeffwan commented on #4709
@Ark-kun  Thanks for explanation. I think there's one case I am not clear. What if input artifact comes from the the first component/step in the pipeline? In MW, we rely upstream component to log the artifact. In that case, you can see it will lands
on https://github.com/kubeflow/pipelines/blob/1123489787a542d919ee1e9a97c30ac0df0709c3/backend/metadata_writer/src/metadata_writer.py#L232-L234

in Ku

[2020-11-04 05:14] Bobgy commented on #3936
Thanks @rmgogogo @anatolyzolotar !
SGTM

[2020-11-04 05:18] Bobgy commented on #3806
I think the fix was cherry picked to 1.0.x, so it should be there.
/assign @Ark-kun
Can you confirm why this is still a problem?

[2020-11-04 05:18] Bobgy commented on #3806
/reopen

[2020-11-04 05:46] Bobgy commented on #4690
@kd303 thank you for the report!

The error usually shows when you didn't select namespace. In multi user mode, namespace must be selected to do anything.

Can you confirm if that's the case?

I didn't see anything about rbac error in your description, can you clarify?

[2020-11-04 05:54] Bobgy commented on #4692
Thank you for the report! @fakeburst
That sounds reasonable.

Welcome contribution on the behavior change you requested.

[2020-11-04 06:02] Bobgy commented on #3936
Hmm, actually maybe no, we also have a "prepare tensorboard component" that allows watching a training in real time: https://github.com/kubeflow/pipelines/issues/4431

So this is something user need to configure when starting a new tensorboard instance.

[2020-11-04 06:04] Bobgy opened #4714 "[Tensorboard] Allow custom arguments per instance"
From https://github.com/kubeflow/pipelines/issues/3936#issuecomment-721529801, there are use cases when it makes sense to let users configure arguments a certain tensorboard instance should have.

I haven't thought over this much, welcome contribution on brainstorming how the UX should like and contribute it to KFP.

[2020-11-04 06:06] Bobgy commented on #3936
It seems a more general issue, so I created https://github.com/kubeflow/pipelines/issues/4714 as a placeholder for related discussion.

For this specific request, we already support customizing tensorboard config via a static patch -- example: https://github.com/kubeflow/pipelines/blob/master/docs/config/volume-support.md#deploy-ml-pipeline-ui-to-support-tensorboard-viewer. Probably you can use th

[2020-11-04 06:07] Bobgy commented on #4714
FYI, we already support customizing tensorboards via a static patch e.g. https://github.com/kubeflow/pipelines/blob/master/docs/config/volume-support.md#deploy-ml-pipeline-ui-to-support-tensorboard-viewer.

This issue is about defining a UX that allows dynamic configurations.

[2020-11-04 06:16] Bobgy commented on #4713
@Ark-kun you might want to check more context in the slack discussion: https://kubeflow.slack.com/archives/CE10KS9M4/p1604333477307400

[2020-11-04 06:26] Bobgy opened #4715 "[Process] license management workflow"
We need https://github.com/kubeflow/pipelines/tree/master/third_party/cli related instructions in https://github.com/kubeflow/pipelines/blob/master/third_party/README.md.

More description in https://github.com/kubeflow/pipelines/issues/4553#issuecomment-718467098

[2020-11-04 06:27] Bobgy commented on #4715
This is blocking https://github.com/kubeflow/pipelines/pull/4693.

[2020-11-04 07:26] Bobgy commented on #4022
Duplicates https://github.com/kubeflow/pipelines/issues/4197

Let's use that issue to track this.

[2020-11-04 07:26] #4022 closed

[2020-11-04 07:51] Bobgy commented on #4197
Sorry, I'm kind of oversubscribed because of extra Kubeflow duties recently, so I may not be able to take this issue soon.

Leaving my previous thoughts about this:

For use-case context: some users want full separation of pipelines, and some want no separation. The distinction is mostly organization culture and I think both requests are valid.

So I think a MVP UX I can imagine that satisfies bot

[2020-11-04 07:51] Bobgy commented on #4197
/cc @yanniszark
about this

[2020-11-04 07:52] Bobgy commented on #4197
and
/cc @chensun
who designed multi user backend separation for other KFP resources

[2020-11-04 10:51] Bobgy commented on #3591
Looks like done

[2020-11-04 10:51] #3591 closed

[2020-11-04 10:51] Bobgy commented on #4301
/lifecycle frozen

[2020-11-04 12:15] bakhtiary commented on #3412
I just hit the same issue.
I am going to suggest this:
[code]

the print_results would look like this:
[code]

I am proposing this because it's super easy to implement/hack! Let me know what you think.

Meanwhile I'll get a PR in so we can talk about it more concretely ...

[2020-11-04 12:20] yasersakkaf commented on #4710
But when I load a kfp component "ml_engine/deploy" and try to pass it a GCS Path as a string. It gives me an error while converting my python code to DSL.
Following is the error:
[code]

[2020-11-04 15:03] elikatsis commented on #3513
Hi everyone,
I'm writing to provide an update on some decision we've made as Arrikto with respect to performing authorization via SubjectAccessReview on KFP.

Since SubjectAccessReview works with Kubernetes RBAC we need a mapping from KFP resources and actions to Kubernetes **resources**, which belong to some **apiVersion**, and **verbs**.

So this is what we need to decide:
* `apiVersion`
* KFP-t

[2020-11-04 15:28] boarder7395 opened #4716 "Component marked as failed with successful pod."
### What steps did you take:
Running a pipeline with a component that runs a spark job using spark kubernetes https://spark.apache.org/docs/latest/running-on-kubernetes.html.

### What happened:
The pod associated with the spark component completed successfully but the stage in the pipeline associated with the same pod was marked as failed. Checking the logs I can see that the component's script r

[2020-11-04 16:11] munagekar commented on #4713
Comments on https://github.com/kubeflow/pipelines/issues/4644 might be relevant.

[2020-11-04 21:53] Ark-kun commented on #4710
Are you passing it a constant string? Can you please show a PoC?

[2020-11-04 22:07] Bobgy commented on #4699
Contribution instructions: https://github.com/kubeflow/pipelines/tree/master/frontend

Run details page react component: https://github.com/kubeflow/pipelines/blob/e3992faf8305570ca56c5932d701eb8765305568/frontend/src/pages/RunDetails.tsx#L342

[2020-11-04 22:12] Bobgy commented on #3157
/lifecycle frozen

[2020-11-04 22:18] Bobgy commented on #4708
/assign @chensun @numerology @Ark-kun

[2020-11-04 22:22] Bobgy commented on #4686
Thanks @dav009 !
www.kubeflow.org will be the best place.

[2020-11-04 22:34] Bobgy commented on #4673
That looks like a bug on the SDK helper.
https://github.com/kubeflow/pipelines/issues/4686#issuecomment-720221001

You should not pass pipeline id when version id is already specified.
https://github.com/kubeflow/pipelines/blob/e3992faf8305570ca56c5932d701eb8765305568/sdk/python/kfp/_client.py#L585

The behavior is kind of confusing, we should raise an error if both ids are specified.

[2020-11-04 22:41] Bobgy commented on #4687
/assign @Ark-kun

[2020-11-04 22:43] Bobgy commented on #3748
/lifecycle frozen

[2020-11-04 22:44] Bobgy commented on #4713
There was a great example for component spec python class in https://github.com/kubeflow/pipelines/issues/3748#issuecomment-627698554.

[2020-11-04 22:54] #4630 closed

[2020-11-04 23:04] Bobgy commented on #3513
Thanks @elikatsis !
That sounds good mostly.

A few nitpickings:
* Do we need upload for pipelines and versions? It was only a technical details that we needed to build two endpoints. I think we can converge to just use create.
* visualizations, we plan to deprecate this: https://github.com/kubeflow/pipelines/issues/4643
* Shall we also guard logs and artifacts endpoint by rbac?

[2020-11-04 23:28] Bobgy commented on #4297
https://github.com/kubeflow/pipelines/issues/4637 is the upstream issue

[2020-11-04 23:28] Ark-kun commented on #4709
I'm not sure I understand this.
It seems to be impossible to have a pipeline where some artifact argument does not come from the output of another component. Do you have an example?

[2020-11-04 23:40] Jeffwan opened #4717 "Is backend/api/Makefile still being used?"
### What steps did you take:

I notice there're multiple files to generate codes.

1.  https://github.com/kubeflow/pipelines/blob/master/backend/api/Makefile
This file seems doesn't have updates for long time. I notice some libraries like `go-swagger` is missing there after vendor dependencies, go.mod and go.sum doesn't have dependency as well. (we didn't explicitly import build tools)

2. https:/

[2020-11-05 01:31] #2320 closed

[2020-11-05 01:31] #4280 closed

[2020-11-05 01:57] Bobgy commented on #3977
/reopen
/lifecycle frozen

[2020-11-05 01:58] Bobgy commented on #4321
/lifecycle frozen

[2020-11-05 02:01] Bobgy commented on #4328
/lifecycle frozen

[2020-11-05 02:07] bakhtiary commented on #3412
Digging deeper into this I am coming to the conclusion that the ops groups is already setup to make it work like this:

[code]
With this I will not have to change the `kfp.dsl._ops_group.py` file as this value is already set.

Now comes the hard part. I understand that I need to change the[ get_input_output function](https://github.com/kubeflow/pipelines/blob/935a9b5ba5057bc9801fee87ed17c03c2907ec

[2020-11-05 03:30] rmgogogo commented on #4325
/cc @Bobgy

[2020-11-05 03:46] Bobgy commented on #4325
I think this should be fixed by upgrading kubernetes client, partially related to https://github.com/kubeflow/pipelines/issues/4553.

[2020-11-05 03:46] Bobgy commented on #4325
and https://github.com/argoproj/argo/pull/4426

[2020-11-05 04:07] bakhtiary commented on #3412
signing off before sleep and leaving comments to remind myself tomorrow.
So I hit a jackpot with [this PR](https://github.com/kubeflow/pipelines/pull/1868/files) that originally put in the for loop. Still need to understand it though. I have to do [something here](https://github.com/kubeflow/pipelines/blob/5020fd1079e89dc3869b81c9efced4c43ea2895e/sdk/python/kfp/compiler/compiler.py#L257) but still

[2020-11-05 04:11] Jeffwan commented on #4709
Got you. Let me run some examples using `Input Artifact` in the first component. I will report result back later.

[2020-11-05 05:50] kd303 commented on #4690
@Bobgy Namespace is selected by default. Also to notice I have two installations of kubeflow 1.1 one with Dex and one without Dex, the RBAC error is intermittent on non-Dex environment. Also I am not even sure how is this re-producible. But this is error only comes on pipeline screen and no other. Just randomly clicking on the pipeline screen this error appears (any function, list runs, experiment

[2020-11-05 06:55] Jeffwan commented on #1223
@Bobgy

Any plans for MLMD?
Are you talking about aggregation? like we only read artifacts/executions belongs to visible KFP resources ?
Or native isolation on the MLMD side?  MLMD schema currently doesn't provide any concept for users, right?

[2020-11-05 06:58] Jeffwan commented on #4197
@Bobgy

Do we want user to upload their pipeline to share space? Should they use Managed Contributor instead like we did for experiments and runs?

Pipeline schema doesn't have namespace concept. seamless migration here means implicitly migration, right?

[2020-11-05 07:09] Bobgy commented on #4197
Some customers I worked with prefer this shared space though. A problem with manage contributor is that, they want to take a pipeline from shared space and run it in their own namespace. This will not be possible with adding contributors.

(It might be a good idea, to allow specifying pipelines in other users' namespace and KFP backend checks for that permission like contributors. Is that what you

[2020-11-05 07:12] Bobgy commented on #4690
@kd303 Can you give an UI screenshot when this can be visible?
Or is it just backend getting these errors?

[2020-11-05 07:13] Bobgy commented on #1223
@Jeffwan Yes, you understandings are correct.
So far I'm not aware of any plan for MLMD.

/cc @neuromage @dushyanthsc
Is there anything you can share about this?

[2020-11-05 07:27] Jeffwan commented on #4197
Got it, they like to "folk" the pipeline into their own namespace. Managed contributor can only manage pipeline between users but not able to public to all. I think this makes sense.

It might be hard to deal with pipeline discovery (current KFP doesn't have granular control). User may have to provide pipeline name in other user's namespace.

I think what you propose is a simple and better way to

[2020-11-05 07:37] santiagoolivar2017 commented on #4700
@Bobgy
Those placeholders are very useful and I have been using them to uniquely identify a run. Nevertheless, I am still not able to get the run name and the experiment name (assuming that the run is part of one experiment). Any idea how this can be done?

[2020-11-05 07:58] Bobgy commented on #4700
/reopen

[2020-11-05 10:05] kd303 commented on #4690
@Bobgy Attached are few screenshots, this time I could reproduce when I was trying to create a screen
[
![ss1](https://user-images.githubusercontent.com/16409185/98226661-5527a780-1f7c-11eb-98fe-92de7a5c84c9.JPG)
]

![ss2](https://user-images.githubusercontent.com/16409185/98226689-5fe23c80-1f7c-11eb-8488-b8676ec3b25f.JPG)

[2020-11-05 10:17] fakeburst commented on #4692
@Bobgy Could you possible help me locate the code that handles "Terminate"? I'll have my teammate look into this as he's willing to contribute

[2020-11-05 13:46] thomas-mueller commented on #4591
Thanks! I think this is more or less what I was looking for.

[2020-11-05 15:50] #4591 closed

[2020-11-05 15:55] Bobgy commented on #4690
Note, `RBAC: access denied` is completely an Istio error message.

You might want to debug your istio configuration or update. Or ask kfdef dex manifest maintainer.

This isn't sth we can fix from KFP side.

[2020-11-05 15:56] Bobgy commented on #4690
Also, the backend error message is expected and completely irrelevant to rbac access denied.

So I think we can close this issue for KFP

[2020-11-05 15:56] #4690 closed

[2020-11-05 16:39] boarder7395 commented on #4716
Actually thinking this should be an issue report over on argo thoughts?

[2020-11-05 18:09] elikatsis commented on #3513
That is correct! Uploading is just a way to create. Thanks! I'll update the table

I'd say that as long as they still exist and they have authorization checks (which they do both now), we should include them in the PR. Then, a distinct PR will purge them.

Of course! We should perform authorization checks for all endpoints. This includes the ones you mention, the persistence agent's logs, and any

[2020-11-05 19:23] boarder7395 commented on #4716
Closing this bug report since I found the cause. My code would add a label to the pod and then at the end remove the label but instead of removing just the label I added it removed all labels. This resulted in argo thinking the pod had been deleted.

[2020-11-05 19:23] #4716 closed

[2020-11-05 20:16] Bobgy commented on #3513
All SGTM, thanks!

[2020-11-05 23:02] maganaluis commented on #1223
@Jeffwan @Bobgy Based on the initial documents that the Karl shared as part of the Model Management group, MLMD was going to support a "Project" context, or at least the ability to create such a context. This project context could be tied to the User's Profile and provide the necessary isolation for metadata.

https://docs.google.com/presentation/d/1HiLIOm-ij0vdS_kEIQSAeICNsGSOl946qhT69WTgK5k/edit

[2020-11-06 00:09] ekesken opened #4726 "it's possible to create scheduledworkflow that will never be executed due to missing schema validation"
### What steps did you take:

Used a non-integer value for the `spec.trigger.periodicSchedule.intervalSecond` field in a scheduledworkflow.

### What happened:

Persistence agent begins logging errors every second like this one:
[code]

It's unnecessarily filling the disk with these error logs for a scheduledworkflow that would never be executed.

### What did you expect to happen:

I would expect

[2020-11-06 00:30] ekesken opened #4727 "can't view pipeline yaml in Safari"
### What steps did you take:

Tried to view yaml of an example pipeline via URL `.../#/pipelines/details/<pipeline-id>`

### What happened:

In chrome I was able to see the yaml:
![image](https://user-images.githubusercontent.com/47163/98311087-d740bc00-1fce-11eb-910d-b9bfec439cf9.png)

In safari I couldn't:
![image](https://user-images.githubusercontent.com/47163/98311060-c132fb80-1fce-11eb-8b39-

[2020-11-06 02:40] Jeffwan commented on #1223
@maganaluis em. Seems it remove `context` and bring in `project` `product` `workflow`. Have this proposal reviewed by mlmd team? I feel like this is a big schema change and some projects like TFX need to buy in the proposal which may take some time. At the same time, as a short term solution, we can group artifacts/executions by user's pipeline runs as @Bobgy originally proposed. Currently, I thin

[2020-11-06 04:47] Bobgy commented on #4262
/lifecycle frozen

[2020-11-06 06:28] Bobgy commented on #4692
Sure, code is in
https://github.com/kubeflow/pipelines/blob/d6a2c23f56943ea8af35b5b2e5f6c6381bfb25ed/backend/src/apiserver/resource/resource_manager.go#L462

[2020-11-06 06:52] dushyanthsc commented on #4727
/assign @kwasi

[2020-11-06 06:56] dushyanthsc commented on #4726
/assign @numerology to help identify the work required and assign priority for the issue.

[2020-11-06 07:13] SinaChavoshi commented on #3660
Going through my bug back log, I'm not clear on the request on this issue is, diagnose_me does not cache data.  It always reads from current local/remote configuration. Closing the issue, if this is still relevant please reopen and add a comment on which data fields are being cached.

[2020-11-06 07:13] #3660 closed

[2020-11-06 09:21] Bobgy commented on #4197
Regarding namespace selector, I think the topic was brought up before too, if we plan to let KFP support multi user mode without central dashboard, we can build a namespace selector similar to the one in centraldashboard. It won't be so much effort on the UI side (it was designed to be very decoupled in UI code from the beginning).

Regarding to KFAM, we have decided to deprecate it, @elikatsis ha

[2020-11-06 09:57] kd303 commented on #4690
Thanks for looking into it, its surprising that for Non-Dex installation also this particular issue pops up, will debug.

[2020-11-06 13:59] ajinkya933 opened #4730 "AWS Kubeflow : Pipeline fail - No healthy upstream"
### What steps did you take:

I am following this documentation: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
Using this tutorial I successfully installed Kubeflow on EKS
After I installed I did:

[code]

This starts kubeflow on local host `127.0.0.1:8080` . But when I try to upload a new `pipeline.tar.gz ` file I get error:
[code]

see below screen shot for reference

https://github

[2020-11-06 14:03] jlewi commented on #1223
@maganaluis I think @karlschriek 's doc is just a proposal; so it might change. I think in my discussions with @neuromage we were talking about using labels to group metadata. So "project", "experiment", etc... might just be user defined labels. As such they probably wouldn't be closely tied to multi-user support.

[2020-11-06 16:39] PatrickXYS commented on #4730
/assign

[2020-11-06 16:40] PatrickXYS commented on #4730
If you are following latest AWS installation, you don't need `port-forward`, but `kubectl get ingress -n istio-system`.

Given this message `pipeline version creation failed `, it's possible that the kfp related pods are not healthy,

can you run `kubectl get pods -n kubeflow` and paste the output?

[2020-11-06 16:49] remyleone opened #4731 "bug during installation: failed to sync secret cache: timed out waiting for the condition"
### What steps did you take:

[code]

### What happened:

I got the following errors:

[code]

### What did you expect to happen:

### Environment:

[code]

[code]

[code]

/kind bug

[2020-11-06 17:15] gcampax opened #4732 "Feature suggestion: merging tables in "Compare run" view"
### What steps did you take:
I created two runs of the same pipeline, with different parameters. Each pipeline produced a table to visualize the output.
I then clicked "Compare run" to see the two pipelines.

### What happened:
I was presented with two separate tables, one for each pipeline run.

### What did you expect to happen:
Tables with identical columns are merged row-wise, with an addition

[2020-11-06 18:52] neuromage commented on #1223
Hi, we have no current plans to add multi-user support directly in MLMD at this point in time. As you point out, there is no support for users in the MLMD schemas right now unfortunately. It would be worth exploring the use-cases for multi-user MLMD to figure out the right approach as well.

[2020-11-06 19:29] mr-yaky opened #4733 "Add documentation how to switch kfp client for single-user mode"
Hi all,

We are trying to test Kubeflow with Kale and Jupyterlab but due to the following issues:
https://github.com/kubeflow/pipelines/issues/4377
https://github.com/kubeflow/pipelines/issues/4440
https://github.com/kubeflow-kale/kale/issues/204

we can't get it works together.

I also found some discussions that it's possible to use single-user mode for kfp but I have no any idea how to do that

[2020-11-06 19:54] Ark-kun commented on #4709
Just remembered that I made it possible to pass pipeline parameters and constant strings to "consumed-as-file" inputs. However even in this case there there is no artifact with a URI.

Is there a practical issue associated with this?

A workaround would be a "data importer" component that just passes-through the data resulting in it becoming an artifact.

[2020-11-06 21:58] Jeffwan commented on #4709
@Ark-kun

No practical issue yet. I am trying to do make input artifact without upstream traceable and then raise this question.

[2020-11-06 23:08] numerology commented on #4726
Hi @ekesken thanks for reporting! Just to confirm, are you using `kfp.Client().create_recurring_run` to launch the scheduled workflow or something else?

[2020-11-07 00:35] kwasi commented on #4727
/assign @Bobgy

[2020-11-07 06:14] #4261 closed

[2020-11-07 06:24] ajinkya933 commented on #4730
I tried
[code]
but I don't get any IP address. Thats why I am doing `kubectl port-forward svc/istio-ingressgateway -n istio-system 8080:80`

I noticed why this error is coming up its due to that single t3 instance. Now I have a new cluster.yaml file with 2 r4.xlarge instances and this error is nor showing up. but even for this new yaml file I get the same error:

[code]
so I am doing `kubectl port

[2020-11-07 06:24] #4730 closed

[2020-11-07 08:36] #4628 closed

[2020-11-07 08:57] ajinkya933 opened #4734 "Kubeflow Pipelines API not working on AWS EKS"
### What steps did you take:

### Prerequisites
I have installed Kubeflow on AWS EKS
I have started  Kubeflow using https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Now I started UI
[code]
[code]
This started Kubeflow on localhost port 8080

### REST-API
I am following document: https://www.kubeflow.org/docs/pipelines/tutorials/api-pipelines/
My aim is to run a [magic.yaml](https://gith

[2020-11-07 10:49] DavidSpek commented on #4733
Hi @mr-yaky, the deployment you are using is already single-user in terms of kubeflow, and I believe this is also true for KFP. However, the issues you link to are regarding multi-user deployments. If you indeed are trying to setup a multi-user environment you will need to follow https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/.

Regarding issue https://github.com/kubeflow/pipelines/issu

[2020-11-07 20:50] jlewi commented on #1223
KFP multi-user shipped in KF 1.1.
I suggest closing this issue and opening up more actionable, scoped issues for further improvements.

[2020-11-07 20:50] jlewi commented on #1223
/close

[2020-11-07 20:50] #1223 closed

[2020-11-08 09:22] Bobgy commented on #3866
/lifecycle frozen

[2020-11-08 21:28] jackwhelpton opened #4735 "Escaping placeholders in component.yaml"
### What steps did you take:
In a component.yaml, include a line such as:

[code]

### What happened:

[code]

### What did you expect to happen:
Presumably the combination of `{` and `:` is making this appear to be a placeholder... I'm hoping there's a way to escape this so it is treated as a literal.

### Environment:

KFP SDK version:
kfp                            1.1.0a1

### Anything else yo

[2020-11-08 21:38] jackwhelpton commented on #4735
Ah, this may just be indentation related.

[2020-11-08 21:40] #4735 closed

[2020-11-09 04:09] ajinkya933 opened #4736 "Kubeflow Pipelines API unable to run Experiment"
### What steps did you take:
I am following tutorial of Kubeflow Pipelines API: https://www.kubeflow.org/docs/pipelines/tutorials/api-pipelines/.

I am able to create a pipeline ID but each time I want to run that pipeline I get error:
{"error":"invalid character 'Â' looking for beginning of object key string","message":"invalid character 'Â' looking for beginning of object key string","code":3}

[2020-11-09 04:11] ajinkya933 commented on #4736
additional information:

[code]

[code]

$ kubectl logs ml-pipeline-6bc56cd86d-tf5cb  -n kubeflow

[code]

[2020-11-09 04:49] Bobgy commented on #4736
In your logs.txt, I cannot find anything similar to the error message:

Can you confirm by fetching logs at the same time of sending that request?

[2020-11-09 05:01] ajinkya933 commented on #4736
There are many pods with name:

[code]

Which one of this should I use ?  so that I see the error message ? there are lots of pods hence I am bit confused

[2020-11-09 05:31] Bobgy commented on #4736
`ml-pipeline-6bc56cd86d-tf5cb` is right, if you cannot see any related error message that's weird too...

[2020-11-09 05:45] ajinkya933 commented on #4736
For pod `ml-pipeline-6bc56cd86d-tf5cb` , I have option to choose one of: ml-pipeline-api-server OR istio-proxy

- For ml-pipeline-api-server I have attached log above.

- For  istio-proxy here are logs (https://drive.google.com/file/d/1N8vmtfnDb6VnTv-Eas8rTmKWyFTgG2OJ/view?usp=sharing)

[2020-11-09 10:51] ekesken commented on #4726
Unfortunately we don't know how this manifest was created exactly, that's why we couldn't reproduce the problem.

The user was using a code block like this one in his notebook to play with things:

[code]

But not with that parameters, he was trying various things, he also reported he had used pipelines UI many times to create recurring runs, but he couldn't repeat the invalid character issue agai

[2020-11-09 12:05] hasansalimkanmaz commented on #2726
Any progress about this issue? @grischa

[2020-11-09 13:09] pretidav commented on #677
/reopen

[2020-11-09 13:57] elikatsis opened #4738 "Enable running the apiserver locally"
During the review of #4723, @Bobgy brought up being able to run the apiserver locally.
This is currently not available because the code expects to be running inside a pod.

For example, in kubernetes client initializations, the apiserver tries to load an in-cluster config or fails, whereas it should also try loading a kubeconfig.

/assign @elikatsis @Bobgy

[2020-11-09 15:44] yanniszark opened #4739 "[UI] Namespace Filtering"
A common need that comes up when building a Kubernetes-based UI is a namespace selector.
Examples include the Kubeflow CentralDashboard.

How do we populate the namespace selector? How do we decide which namespaces the user can see?

The solution of https://github.com/kubeflow/kubeflow/issues/5390 should be used for the KFP UI as well.

/cc @Bobgy @elikatsis @StefanoFioravanzo @vkoukis

[2020-11-09 17:06] mr-yaky commented on #4733
Thank you @DavidSpek for clarifying. Anyway I'm still fighting with same error. So, maybe I have kfp in multy-user mode:

[code]

Any ideas how I can check it? I'm really need to solve this problem.

To keep this discussion clear I'll write you on other issue related to `RBAC: access denied` (https://github.com/kubeflow-kale/kale/issues/204#issuecomment-694771168) and we can keep this discussion e

[2020-11-09 17:08] mr-yaky commented on #4733
I hope so!

[2020-11-09 17:22] DavidSpek commented on #4733
@mr-yaky The RBAC issue you are facing is due to issue https://github.com/kubeflow/pipelines/issues/4440. It is not related to KFP being in multi-user as far as I can see. You should be able to use the workaround from the comments https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687689294 and https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687703390 for now. But I do r

[2020-11-09 22:45] Bobgy commented on #4738
This is useful for debugging a local API server without building the image.

[2020-11-09 23:17] Bobgy commented on #4739
I have been thinking about listing all namespaces in the cluster filtered by a pipelines label. If perf has limitation, then we need a cache.

I think specific actions need RBAC, seeing the list of namespaces probably don't.

[2020-11-09 23:20] Bobgy commented on #4739
When there are a lot of users, we might want to add UI features to search namespaces, marking a namespace as default and bookmark some namespaces.

[2020-11-10 01:49] maganaluis opened #4742 "Kubeflow Pipelines Proper REST Interface"
**Feature Request**

Currently the only way to execute Kubeflow Pipelines is using the SDK or using the backend services, it would be great to create a proper REST service.

For example to get to the screen below, one would have to first get the existing pipelines for the given namespace (given that this becomes multi-user) then get existing experiments if not create one, etc...

Finally one would

[2020-11-10 03:57] ajinkya933 opened #4743 "Docker images not being pulled on EKS pipelines"
### What steps did you take:
I am trying to execute the below code on Kubeflow - EKS. This code is running very well using Kubeflow - microk8s.
Whenever I try to Run this code on EKS. The docker image is not being pulled. The code is stuck where docker image has to be  pulled.

Visually the error is seen as:

https://github.com/ajinkya933/Assignment_solution/blob/master/gitissue.png

Here is the p

[2020-11-10 04:09] PatrickXYS commented on #4743
Can you paste the error message here?

[2020-11-10 04:16] ajinkya933 commented on #4743
Can you tell me a right way to get this error message. As long as I see on the Dashbord there is no error shown. On Docker pull part of the pipeline, the pipeline is permanently stuck on pending execution

[2020-11-10 04:19] ajinkya933 commented on #4743
Please run Pipeline : https://github.com/ajinkya933/Assignment_solution/blob/master/githubissue.yaml on your end to reproduce the issue

[2020-11-10 04:41] PatrickXYS commented on #4743
Okay, so how did you figure out the error is caused by the image not pulling rather than other issues?

[2020-11-10 04:51] ajinkya933 commented on #4743
@PatrickXYS Great question, initially I had run pipelines not involving docker images
code for pipeline without docker involvement: https://github.com/ajinkya933/Assignment_solution/blob/master/magic.py
tar.gz file for pipeline without docker involvement:https://github.com/ajinkya933/Assignment_solution/blob/master/magic.tar.gz

The above code+tar.gz file runs well on Kubeflow pipelines UI, and `m

[2020-11-10 04:58] ajinkya933 commented on #4743
![image](https://user-images.githubusercontent.com/17012391/98629673-663b3480-233f-11eb-94ac-230049604bd3.jpeg)![image](https://user-images.githubusercontent.com/17012391/98629693-74895080-233f-11eb-87bd-8c7f69e25e7c.jpeg)

[2020-11-10 07:39] ajinkya933 commented on #4736
There was error in py curl request the proper request to run a pipeline ID using cookie is:

[code]

[2020-11-10 08:13] supertetelman opened #4746 "Cannot create volumes or pods under a specific namespace when creating pipeline with create_run_from_pipeline_package"
### What steps did you take:

I am trying to create volumes and Pods under a specific namespace using `create_run_from_pipeline_package(namespace=...)`. However everything is being created under `kubeflow`.

### What happened:
I am running the below code snippet in a Jupyter Notebook running under the `anonymous` namespace. When I submit the pipeline the PVCs and Pods are all started in the `kubef

[2020-11-10 08:20] #4736 closed

[2020-11-10 08:22] ajinkya933 commented on #4734
#4736 https://github.com/kubeflow/pipelines/issues/4736

[2020-11-10 08:23] #4734 closed

[2020-11-10 15:15] amygdala commented on #677
/reopen

[2020-11-10 16:00] tom-dd commented on #4713
In our case, we are coming from a "legacy" environment where we have all our pipeline code in a large container, so unfortunately we are not lightweight anymore.

We are not using Notebooks at the moment, so I cannot judge how that would work. However, when you have pylint/mypy check your code for type safety it helps if also your `ContainerOp` definitions can be checked as well.

It is validated

[2020-11-10 16:46] mr-yaky commented on #4440
I tried to apply the same fix but it doesn't work for me somehow:

[code]

[code]

Output from JupyterLab
[code]

I used deployment method for installation on Bare Metal: https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

Any ideas why it doesn't work for anonymous@kubeflow.org ? I already stuck completely with it :(

[2020-11-10 20:58] regorsmitz commented on #4687
I'm running into this same issue with:
kubernetes 1.15
kubeflow 1.0.2

[2020-11-10 21:12] NikeNano commented on #1138
Are we interested in adding instructions on how to deploy locally to Minikube based upon the local code for development @Bobgy? Will not be a big change but would require the user to build all the images and add an overlay that uses these images instead of the official released images.

[2020-11-11 01:38] marcjimz commented on #4742
+1 on this, is this something we can pick up? Appreciate insights on the level of effort it would take to have this functional.

[2020-11-11 03:35] Bobgy commented on #4440
@swiftdiaries Did I recall correctly you maintain this manifest, can you answer this question?

[2020-11-11 03:56] swiftdiaries commented on #4440
I would ping the appropriate WG that owns the config. I currently don't have the bandwidth to work on this

[2020-11-11 05:02] haudren opened #4749 "[Feature Request] Upload a file as pipeline parameter"
Hello,

I have been using Kubeflow pipelines for a little while now. I was wondering if there was any way to have a file as input to a pipeline. Basically, some of our jobs require a specific config file. We currently just store it somewhere, and point the job at that location. However, I would prefer to upload the file in the Kubeflow API and have it become a pipeline input because:
- It would ma

[2020-11-11 05:28] Bobgy opened #4750 "[Process] Update backend development README"
We have https://github.com/kubeflow/pipelines/tree/master/backend, but it is highly outdated because we have moved away from bazel.
It'll be great if we can update it to reflect current best practices.

[2020-11-11 05:29] Bobgy commented on #4750
Hi @NikeNano, I think you recently developed backend, do you want to contribute to this?

[2020-11-11 08:14] Bobgy opened #4752 "[Discussion] Future of recurring run (a.k.a job or scheduled workflow)"
There were a lot of discussion in https://github.com/kubeflow/pipelines/issues/3789 that I think worth grouping in a new issue.

Originally posted in https://github.com/kubeflow/pipelines/issues/3789#issuecomment-662296647

[2020-11-11 08:16] Bobgy commented on #4726
Hi @ekesken, just created an issue summarizing our vision for scheduled workflow: https://github.com/kubeflow/pipelines/issues/4752

I don't think it's worth it investing more on it, instead of using an existing cron job implementation like the kubernetes one.

[2020-11-11 08:16] #4726 closed

[2020-11-11 08:29] chensun commented on #4749
Not sure how do you point your job to the location.
It's actually very common to pass the URI of a file, say if you store the file in some cloud storage like GCS bucket, as an input to a pipeline. This offers tracking capability. Will this work?

Can you clarify under what scenarios may such config file be changed in the middle of a run? Would it be possible to use version control on the file to p

[2020-11-11 08:37] #4468 closed

[2020-11-11 08:39] Bobgy commented on #4468
@rafalbigaj would you want to create a new issue tracking leftover issues for this new endpoint?

[2020-11-11 09:04] chensun commented on #4746
The SDK doesn't create namespace by any means. The `namespace` argument passed into `create_run_from_pipeline_package(namespace=...)` needs to be pre-configured by cluster admin, and the user running this client code needs to be explicitly granted access to that namespace. Is that the case for your `anonymous` namespace?

Here's the user guide for multi-user isolation: https://www.kubeflow.org/doc

[2020-11-11 09:48] ekesken commented on #4752
I would vote for using CronWorkflow coming from Argo instead of a CronJob.

[2020-11-11 10:12] Bobgy commented on #4752
Argo is an implementation detail of KFP, at some point of time in the future, we'll change the way how we integrate with Argo, so `CronWorkflow` would not be a good fit.
A `CronJob` that calls KFP API server will be guaranteed to work despite whatever implementation detail change we decide for KFP.

[2020-11-11 10:12] Bobgy commented on #4752
Also
/cc @NikeNano

[2020-11-11 10:20] texdade opened #4754 "Correct use of Kf Pipelines API POST"
Hi,

I've been working with Kubeflow Pipelines for two months now and, after having implemented different pipelines structures, I'm trying to benchmark them using the [Kubeflow pipelines benchmark script](https://www.kubeflow.org/docs/pipelines/tutorials/benchmark-examples/).

I can successfully contact my APIs when using GET requests, like "http://172.28.45.108:31380/_/pipeline/apis/v1beta1/pipel

[2020-11-11 11:30] ajinkya933 commented on #4743
Issue is resolved. The problem was I was attaching a external 1GB volume to the pipeline which was causing communication issues to the docker hub, I removed the external attached volume. Which resolved the issue. Although the code works now I am not able to attach any volume to the pipeline. I will open this in another issue.

[2020-11-11 11:30] #4743 closed

[2020-11-11 11:52] ajinkya933 opened #4755 "How to give Run parameters when I run Kubeflow pipelines API ?"
### What steps did you take:

How do I specify Run parameters when I run Kubeflow pipelines API ?

Standard way to run a pipeline through Kubeflow pipelines  API   is :

[code]

The above request attaches pipeline to experiment and runs pipeline under that experiment. However when I run there is Run parameters where I say data will be stored in /mnt location as shown in figure below:

https://gith

[2020-11-11 12:00] NikeNano commented on #4752
Sounds good, I think it would be great to make use of k8s native scheduling instead. Also agree that argo would not be the best solution in our case.

[2020-11-11 12:34] Bobgy commented on #4687
A quick reply is that:
1. The feature was added in Kubeflow 1.1.0, so Kubeflow 1.0.2 doesn't have it.
2. The feature had some bugs and also it wasn't compatible with Kubernetes 1.17+ before KFP 1.0.4 release (KF 1.1 comes with KFP 1.0.0)

So path forward for most of you, is to upgrade to Kubeflow 1.2.0 which will come with KFP 1.0.4.

[2020-11-11 13:37] JakeTheWise commented on #4687
Thanks Bobgy, good info. I updated my prior comment to clarify that I'm using a kubeflow pipelines standalone deployment (v1.0.4).

[2020-11-11 15:58] Rustastra commented on #2561
/reopen

[2020-11-11 15:59] supertetelman commented on #4746
I understand that.

The namespace exists and the Notebook I am executing these commands from was launched into that namespace via Kubeflow Notebooks. I can manually create these resources from the notebook using Kubeflow.

The problem is I cannot get pipelines to use anything but the kubeflow namespace.

[2020-11-11 20:01] chensun commented on #4742
We do have REST API: https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/

[2020-11-11 21:36] maganaluis commented on #4742
@chensun Thank you, I will close this issue.

[2020-11-11 21:36] #4742 closed

[2020-11-11 23:04] Bobgy commented on #4687
Thanks @JakeTheWise !
Can you fetch logs for several cache- deployments? Were there anything special about it?

[2020-11-12 00:54] haudren commented on #4749
Thanks for the answer @chensun:

This does work, and it's how we do it at the moment, except that we are using on-prem storage. As far as I understand, the tracking is only done on the URL itself, not the contents of the file, correct?

So the config does not change during a run generally, but after a run, someone might want to modify that configuration file to try another parameter combination. I

[2020-11-12 03:03] Bobgy commented on #1956
/assign @chensun
FYI, this is the top open issue with the most thumb ups

[2020-11-12 03:05] Bobgy commented on #4649
If anyone would like to help this issue, confirming `artifactRepositoryRef` usage and whether it supports all the features we want can be a step forward

[2020-11-12 11:54] cai-harry opened #4763 "Pipeline Metrics not appearing on UI"
### What steps did you take:
I am building a pipeline using `dslContainerOp`. I have a component called `traineval` which is supposed to output pipeline metadata (tensorboard) and metrics (accuracy score).

When defining my pipeline:
[code]

And inside `traineval`, I'm saving the accuracy score as a local json file:
[code]

### What happened:
The `file_output`s that I defined do appear under outpu

[2020-11-12 12:27] eastlunar opened #4764 "ml-pipeline-persistenceagent restarts forever"
Kubenertes v1.18.0
Kubeflow v1.0.2

ml-pipeline-persistenceagent and ml-pipeline restarts forever. They kept Running status for a while, and then went to CrashLoopBackOff status.

I used `kubectl describe pod ml-pipeline-persistenceagent -n kubeflow`. The events is as follows:
[code]

Could you give me some advice?

[2020-11-12 15:51] solarist commented on #4649
In case of S3, would it make sense to perform the auth for minio using dex? Because otherwise someone has to generate access/secret keys for each namespace -> https://github.com/minio/minio/blob/master/docs/sts/dex.md

[2020-11-12 19:50] yhwang commented on #4440
@mr-yaky in your `ServiceRoleBinding` you should change `source.principal: cluster.local/ns/anonymous/default-editor` to `source.principal: cluster.local/ns/anonymous/sa/default-editor`

Can you try it?

[2020-11-12 22:11] NikeNano commented on #4750
Sure would be happy to help out! Will look at it after I sorted out the cron scheduler.

[2020-11-12 22:11] NikeNano commented on #4750
/assign

[2020-11-12 23:52] #4549 closed

[2020-11-13 00:21] numerology commented on #1956
@chensun

I don't think this will be super complicated to fix. I guess it's currently blocked by this allowlist [here](https://github.com/kubeflow/pipelines/blob/f7874d38ffe1d6eaf13ddffef5c61c44217b47cf/sdk/python/kfp/dsl/_container_op.py#L1031). We can take a look when we have some cycle.

[2020-11-13 01:06] Bobgy opened #4768 "[Multi User] Support for Istio 1.6+"
Kubeflow uber issue: https://github.com/kubeflow/kubeflow/issues/5313

We might be able to use an automated tool for the migration: https://github.com/kubeflow/kubeflow/issues/5313#issuecomment-698282294

https://github.com/kubeflow/kubeflow/issues/5313#issuecomment-725533761

[2020-11-13 08:54] mr-yaky commented on #4440
@yhwang thank you. I have changed how you recommended but now I get the new error:
[code]

[2020-11-13 09:57] mr-yaky commented on #4440
Well, I think now it's working correctly:
[code]

@yhwang thank you. I think the error above is related to Kale already. So, I'll try to fix it on Kale side.

[2020-11-13 10:28] mr-yaky commented on #4733
well, I fixed already that issue with adding following to my servicerolebinding config: https://github.com/kubeflow/pipelines/issues/4440#issuecomment-726303500
@DavidSpek thank you for your support.

[2020-11-13 10:51] pretidav commented on #677
Dear all, In the end is it possibile to use the tf_job_launcher within a pipeline and retrieve files (i.e. multiple outputs not just a json with scores like katib launcher does) produced by such a job?
E.g. think about launching a model training within a tf_job I would like to be able to retrieve scores, models and additional outputs from the training to be fed to subsequent components within the

[2020-11-13 10:56] chensun commented on #4764
@eastlunar
Do you have a istio-proxy sidecar container? If so, which container is failing?
Besides can you check if you have any other pod not in the READY state?

[2020-11-13 11:41] chensun commented on #4746
@supertetelman I tried your steps today but couldn't repro.
I noticed that your code doesn't have the full signature required for multi-user usage. We expect `client_id`, `other_client_id`, and `other_client_secret` to be passed into Client ctor, for example:
[code]
Did you pass those argument in your real code?

Besides, I wonder if you deployment has multi-user mode enabled. Can you please check

[2020-11-13 12:08] eastlunar commented on #4764
@chensun Thank you. I use `kubectl get pod -n istio-system` to check pod's status. There are lots of bad pods.
[code]
I will try to fix these pods and see if this problem is solved. Thx again!

[2020-11-13 12:11] pretidav opened #4770 "TfJobs wait_for_condition not working"
Hello, I am using Kubeflow 1.0.0
and I am trying to launch a tfjob from the pipeline using the tfjob_launcher.py.
I noted that while katib works excellently returning a json file with tuned hyperparameters, the tfjob never succeed, and is killed by the execution wallclock.

This error is rising by executing pipeline in sample.py.
https://github.com/kubeflow/pipelines/tree/master/components/kubeflo

[2020-11-13 12:28] eastlunar commented on #4764
@chensun I clean the Evicted Pods and the other pod is heathy(?)
[code]
And I use ` docker ps` to find istio-proxy sidecar container. The result shows it is ok(?)
[code]

[2020-11-13 19:37] chensun commented on #4764
@eastlunar Thank you for the added information.
Sorry I wasn't clear enough about the istio container thign. I think the `ml-pipeline-persistenceagent` pod should have two containers: `ml-pipeline-persistenceagent` and `istio-proxy` (and there's also an init-container `istio-init`).
I was wondering which one of them is crashing and If you would be able to find any error logs, using for example:
`k

[2020-11-13 23:02] Bobgy commented on #4755
https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/#/definitions/apiRun
apiRun.pipelineSpec.parameters

Here it is

[2020-11-13 23:03] Bobgy commented on #4755
Another way to find out is by opening browser console and see what request KFP UI is sending

[2020-11-13 23:11] Bobgy commented on #4754
If my kubeflow host is
https://xxx.com/

Pipeline API is at https://xxx.com/pipeline/, not https://xxx.com/_/pipeline/. The second url is a link to central dashboard that shows Pipelines UI in an iframe

[2020-11-13 23:20] Bobgy commented on #4746
@chensun one clarification the client id settings are GCP specific.

Agree with everything else!

[2020-11-13 23:26] texdade commented on #4754
That was it, thank you!

[2020-11-13 23:26] #4754 closed

[2020-11-14 00:53] supertetelman commented on #4746
No, I did not include those parameters. The full notebook can be found here, but the code snippet I provided is reproducing things for me (https://github.com/supertetelman/deepops/blob/kubeflow-mpi/workloads/examples/k8s/kubeflow-mpi/multinode-pipeline.ipynb).

I don't see a configmap for pipeline-api-server.

[code]

[code]

I deployed with manifest: https://raw.githubusercontent.com/kubeflow/man

[2020-11-14 01:26] chensun commented on #4746
Thanks, @Bobgy. I think we never tested multi-user without [Cloud IAP](https://www.kubeflow.org/docs/gke/deploy/oauth-setup/) then. It probably won't work by design.

@supertetelman
I think your deployment is in single user mode. That would explain why you were able to submit a run without `client_id` etc. Otherwise, I'd imagine it would fail immediately if you were in multi-user mode.

This file

[2020-11-14 01:26] supertetelman commented on #4746
Ahh, well I tried updating my configmap with `"MULTIUSER": "true",` and I'm now getting the below error. Somewhat looks like process, it appears to be an auth issue now.

[code]

[2020-11-14 01:35] chensun commented on #4746
This error makes sense now. I think it's sort of expected given there's no Cloud IAP configuration.

Our currently implementation of multi-user probably doesn't support on-prem. @Bobgy WDYT?

[2020-11-14 01:37] ajinkya933 commented on #4755
Could you add this above curl request ? I did not understand what needs to be changed in curl command

[2020-11-14 01:47] chensun commented on #4746
@supertetelman Here's our [doc](https://docs.google.com/document/d/1Ws4X1oNlaczhESNuEanZxbF-cnSfO78B1rBHWOkIAzo/) on multi-user instructions for GCP. If you're interested in seeing if you can make it work for on-prem.

(You'll need to join to https://groups.google.com/g/kubeflow-discuss group to get access to the doc.)

[2020-11-14 03:07] eastlunar commented on #4764
@chensun Hi, thank you for your patient answer.
The result of `kubectl get pods -n kubeflow` is as follows:
[code]
The version of kubeflow is 1.0.2. I use `kubectl describe deployment ml-pipeline-persistenceagent -n kubeflow` to find no container named istio-proxy.
[code]
The output of 'kubectl logs ml-pipeline-persistenceagent-56467f8856-jv5js -n kubeflow' is as follows (Pod status is CrashLoopBa

[2020-11-14 08:21] Bobgy commented on #4165
/lifecycle frozen

[2020-11-14 08:22] #4063 closed

[2020-11-14 16:13] jlewi commented on #677
@pretidav see my previous comment
https://github.com/kubeflow/pipelines/issues/677#issuecomment-538617461

It doesn't look like tf_job_launcher.py is being maintained.
https://github.com/kubeflow/pipelines/commits/master/components/kubeflow/launcher

@kubeflow/wg-training-leads What do you want to do about the TFJob Launcher? @hougangliu are you still maintaining the TFJob launcher per the owner f

[2020-11-15 02:38] Bobgy commented on #4312
/cc @chensun

[2020-11-15 02:45] Bobgy commented on #4700
I think we need to expose it

[2020-11-15 02:46] Bobgy commented on #4700
/kind feature

[2020-11-15 02:55] Bobgy commented on #4764
Can you do
kubectl get service -n kubeflow?

That should tell you which service 10.105.12.217:3306 is...
I am guessing that's mysql, can you check whether there's anything wrong with the mysql pod?

[2020-11-15 04:15] eastlunar commented on #4764
@Bobgy Hi, Thank you for your advice.
The result of `kubectl get svc -n kubeflow` is as follows:
[code]

The service 10.105.12.217:3306 is mysql. `kubectl describe pod mysql-55679f7f76-78d8g -n kubeflow`
[code]
Is it the warning(FailedCreatePodSandBox ) caused by restarting the virtual machine?
The output of `kubectl logs mysql-55679f7f76-78d8g -n kubeflow` is empty.
[code]

[2020-11-15 10:00] Bobgy commented on #1138
@NikeNano I think that's a different topic, this issue is about creating a local runner that help experiment with KFP. Rather than developing KFP.

[2020-11-15 10:14] texdade opened #4772 "KFP Benchmark script returns 400 ApiException"
### What steps did you take:
I copied the script and modified it to run on my Kubeflow installation. The yaml file is served to the script via the `python3 -m http.server 30234` command.

### What happened:
The pipeline and the related experiment get created, but the pipeline .yaml file doesn't get fully uploaded. In the Jupyter Notebook the following error is returned:
[code]

### What did you ex

[2020-11-15 17:45] jackwhelpton commented on #1779
This is still a sorely-needed feature for us, would be good to keep the ticket open until it is resolved.

[2020-11-15 17:46] Gsantomaggio commented on #1779
Agree with @jackwhelpton
I would reopen it.
Thank you

[2020-11-15 18:08] Jeffwan commented on #4352
/assign @surajkota  @RedbackThomson

[2020-11-16 08:16] Bobgy commented on #4384
Already fixed in upstream config, branches named Xxx-patch will be exempt from branch protection, but anything else should.

[2020-11-16 08:16] #4384 closed

[2020-11-16 10:25] NikeNano commented on #4770
Not solving the problem but checked with the master branch, and then it seems to work. Will try to test it out on the last stable version later of Kubeflow Pipelines.

[2020-11-16 14:15] arllanos commented on #4197
@Bobgy

Shall we have Namespace in pipeline_versions schema? For example I see Description is in pipelines but not in pipeline_versions. Not sure what is the criteria to decide here, but seems users are not allowed to edit or change pipelines once loaded, right?

A config option shall allow organizations to enable/disable the possibility pipelines can be public. Where do you think this config can

[2020-11-16 15:11] pretidav commented on #4770
@NikeNano thank you very much for the test! Can my problem be related to v1.0.0 instead of the lastest?

[2020-11-16 15:25] ValdasK commented on #4375
This issue is not limited to notebooks, same can happen if for example a KF serving is launched when large machine is spawned and partially empty, it will get scheduled onto it; blocking it from scaling down.

Pipelines should taint nodes and prevent them from being used for any other purpose, as whole KF ecosystem shares same resources created by them; but not efficiently (as nodes are only suppo

[2020-11-16 20:56] JakeTheWise commented on #4687
Sorry for the delay. I'm no kubernetes expert (I don't manage the cluster or our kubeflow deployment); so I may not have found the right deployment... but I found the following suspicious logs in the `cache-server` (running image gcr.io/ml-pipeline/cache-server:1.0.4). Does this help?

[code]

[2020-11-16 21:01] alexlatchford opened #4775 "Validating a compiled Kubeflow Pipeline with Argo v2.7+ fails"
### What steps did you take:

Since KFP [upgraded to Argo==2.7](https://github.com/kubeflow/pipelines/pull/3537), looks like the validation of compiled pipelines no longer works, see [this line](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/compiler.py#L1000)

Running `argo lint /dev/stdin ''` will always fail now whereas looks like that was used as a check in `argo ~2.

[2020-11-16 21:40] NikeNano commented on #4770
Yes, I will try to check the versions of Kubeflow
Pipelines related to Kubeflow 1.0.0 tomorrow and see if it works.

[2020-11-17 00:28] Bobgy commented on #4763
Hi @cai-harry, sorry for the issue. You would want to look at the updated documentation not merged yet: https://github.com/kubeflow/website/pull/2171.

[2020-11-17 01:13] rafaelbarreto87 opened #4776 "How to compose parameters to components based on parameters to the pipeline"
### What steps did you take:

I have a pipeline that receives a list parameter and uses that to compose a dictionary, which is then passed to a component that accepts a dict type. Here’s a minimum example:

[code]

Unfortunately, running this fails with the following error:

[code]

It seems KFP is just injecting a string json representation of `feats_to_dropout` into the serialized `parameters` w

[2020-11-17 01:33] gcampax opened #4777 "Cached pipeline step should reset the node selector"
### What steps did you take:
Create a pipeline step, and set a node selector that restricts the execution of that step only on certain nodes (in my case, on certain GPU nodes, by EC2 instance type).
Run the pipeline once, so the step is cached.
Run the pipeline again.

### What happened:
KFP recognized that the pipeline step was cached, and replaced the pod with a dummy pod that prints "This step

[2020-11-17 01:45] timothyjlaurent opened #4778 "TensorBoard visualations broken that need static assets"
### What steps did you take:

I tried to use TensorBoard's Embedding Visualization activity.

### What happened:

I'm trying to get tensorboard-embedding visualizer running from kfp/artifact. The Tensorboard runs and loads but the embedding visualizer provides javascript and a font and the browser gets a 404 for those requests.

The tensorboard is being served from :
[code]
But the JS and .woff ar

[2020-11-17 03:35] Bobgy commented on #4695
webhook setup is very standard in kubebuilder boilerplate, worth checking out what they do too: https://github.com/kubernetes-sigs/kubebuilder

[2020-11-17 05:10] Bobgy commented on #4687
@JakeTheWise Yes, that's the symptom. cache-deployer should be deploying the certificate. Did anything go wrong there?

[2020-11-17 05:14] #4750 closed

[2020-11-17 09:58] pretidav commented on #677
Sorry @hougangliu, I noticed that in your e2e example ( https://github.com/kubeflow/pipelines/blob/master/samples/contrib/e2e-mnist/mnist-pipeline.ipynb ) you take advantage of the katib launcher but not the tfjob launcher.
Would you suggest to do the same or use both launchers?
(regarding that example I have another issue https://github.com/kubeflow/pipelines/issues/4770 if you want to have a loo

[2020-11-17 17:42] Jeffwan commented on #3445
/reopen

[2020-11-17 17:42] Jeffwan commented on #677
I think the plan is to add more native launch support for different training operators.

This is tracked here but we don't have capacity to make it recently.

https://github.com/kubeflow/common/blob/master/ROADMAP.md
https://github.com/kubeflow/pipelines/issues/3445

[2020-11-17 22:54] Ark-kun commented on #4687
Can you please post more cache-server logs? Is there anything successful there?

[2020-11-17 22:58] Ark-kun commented on #4687
That sample test is currently not feasible. Due to DSL compiler limitations, all tasks in the same pipeline have different input and output names leading to cache misses. So the cached executions can only be reused in subsequent runs, not in the same run.

Your test in https://github.com/kubeflow/pipelines/issues/4687#issuecomment-720821255 should be correct. You just take any piepline and run it

[2020-11-17 23:53] Bobgy commented on #3513
/reopen
Let's keep this tracking documentation

[2020-11-18 07:43] Jeffwan commented on #3513
@elikatsis verbs will be used to create SubjectAccessReview and they should be Kubernetes API verbs? Here, I see the table we have Kubeflow verbs. Do we need mapping between kubeflow actions and kubernetes RBAC verbs?

[2020-11-18 11:28] f-wole commented on #4770
@NikeNano  I also encountered this issue, so are you confirming that tfjob_launcher.py works well with kubeflow 1.0.4 but not with 1.0.0?

[2020-11-18 12:07] DavidSpek commented on #4637
@NikeNano Just to keep this issue up to date. I have attempted to perform a get request to the healthz API from the python client in a large variety of ways with them all failing during e-2-e testing due to authorization issues for the KFP api endpoint in GCP. My latest attempt is to add the healthz endpoint to the kfp-server-api pypi package, which is still busy with tests. I hope I can get every

[2020-11-18 14:31] Bobgy commented on #4777
/assign @Ark-kun

[2020-11-18 15:32] elikatsis commented on #3513
@Jeffwan
What do you mean by saying Kubernetes API verbs?

In general, if I'm not wrong, we can use any string we like as a verb. When SubjectAccessReview takes place, the creator populates the request with the desired verb. Then, K8s API server checks bindings and roles to find whether an entity has permission to perform a verb on a resource.

It doesn't matter if the rest of K8s knows what `uplo

[2020-11-18 18:20] Jeffwan commented on #3513
@elikatsis I may misunderstand the authorization process. Correct me if I am wrong.

1. I thought verb has to be k8s API verbs like what we using in role bindings.
from https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#resourceattributes-v1-authorization-k8s-io
"Verb is a kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. "*" means all."

2. Sub

[2020-11-18 18:51] elikatsis commented on #3513
@Jeffwan
The K8s API server doesn't check whether a CRD exists (e.g., `pipelines.kubeflow.org/runs`) or what a verb is.
To accept/deny a SAR it only checks RBAC resources ([Cluster]Roles & [Cluster]RoleBindings) and what's declared in them. It's just string matching and doesn't require strings to make sense for the K8s API server.

Let's say we have a role with literally this exact rule
[code]
bou

[2020-11-18 19:00] Jeffwan commented on #3513
@elikatsis  Got it. Thanks for the explanation. Then we need to create some roles for each user like below. I was confused if this doesn't exist, how could SAR get reviewed by API server.. It's clear now.  Do we want to put this part into profile controller or just give user `*` to user's namespace unless user/admin wants to have some fine grain control

[code]

[2020-11-18 19:18] elikatsis commented on #3513
For coarse-grained tuning, aggregating `kubeflow-view` and `kubeflow-edit` should be sufficient. See [this kustomization](https://github.com/kubeflow/pipelines/tree/aa162e6a2491fe8d9a718b27b8c628f7b4a10bee/manifests/kustomize/base/pipeline/multi-user).

Then, if, for example, `kubeflow-edit` is bound to some service account/user, they should have the corresponding permissions.

[2020-11-18 22:37] hsezhiyan opened #4779 "ScheduledWorkflow continues to try to sync with disabled recurring run workflow"
### What steps did you take:
I created a recurring run on the KFP UI. I let it run for some time, then disable it.

### What happened:
When I view the logs of the `ml-pipeline-scheduledworkflow`, I notice the WorkflowScheduler continues to attempt to sync with the `ml-pipeline` pod on behalf of the now disabled recurring run. It produces the following logs:

`"Submitting workflow for ScheduledWork

[2020-11-18 23:04] NikeNano commented on #4770
I have tried with Kubeflow Pipelines 1.0.4 but it don't work, will time out when I look the tf-jobs version to  https://github.com/kubeflow/manifests/tree/v1.1.0/tf-training. I think it could be on the tf-job side but need to debug this further @f-wole and @pretidav. Will update with what I find.

[2020-11-18 23:06] Jeffwan opened #4781 "Scope Kubeflow components in given namespace"
In my current company, there're few orgs/platforms like to leverage KFP.  Besides multi-user KFP, I am also evaluating if it's possible to deploy KFP per namespace since users are ok to share experiments in the same namespace.

If we see [instruction](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize#option-1-install-it-to-any-k8s-cluster) to install Kubeflow in single-user mod

[2020-11-18 23:30] numerology commented on #4781
/assign @Ark-kun

Do you know if there's any potential caveat besides caching in this case?

[2020-11-19 01:04] Jeffwan opened #4783 "Simplify and optimize manifests installation for customized namespace"
There're two steps to install KFP.

[code]

1. Seems `../base/cache-deployer/cluster-scoped` might be used to generate namespace value. `cache-deployer` itself supports watching objects in specific namespace, there's unnecessary to install it under single user mode
https://github.com/kubeflow/pipelines/blob/aa162e6a2491fe8d9a718b27b8c628f7b4a10bee/manifests/kustomize/cluster-scoped-resources/kusto

[2020-11-19 03:59] Bobgy commented on #4783
@Jeffwan https://github.com/kubeflow/pipelines/blob/aa162e6a2491fe8d9a718b27b8c628f7b4a10bee/manifests/kustomize/base/cache-deployer/cluster-scoped/cache-deployer-clusterrole.yaml#L21 is a cluster-scoped resource, thus you cannot grant this permission via `role`: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#role-and-clusterrole

[2020-11-19 04:02] Bobgy commented on #4783
It sets up mutating webhook for the execution cache feature though, why would that not be useful for single user mode?

[2020-11-19 04:18] Bobgy commented on #4781
https://github.com/kubeflow/pipelines/blob/ec721fe94dbcaa054b1057e5503e4f9823fdf2a5/manifests/kustomize/base/cache-deployer/cluster-scoped/cache-deployer-clusterrole.yaml#L21 is a cluster-scoped resource and RBAC for cluster-scoped resource can only be granted via `ClusterRole`: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#role-and-clusterrole.

That was the reason we included tho

[2020-11-19 04:19] Bobgy commented on #4781
If a namespaced install do not need caching feature, then you can install the CRDs and multiple namespaced installations.
Namespaced installation is indeed a feature we support.

[2020-11-19 05:40] Jeffwan commented on #4783
@Bobgy I didn't clarify it clearly.  I mean cluster-role and cluster role binding for cache-deployer. They are not required for KFP single user mode

[2020-11-19 06:31] Jeffwan commented on #4783
@Bobgy I look at your comments in #4781, let's discuss there

[2020-11-19 06:51] Jeffwan commented on #4781
I see. that would be the blocker to create multiple namespaced installations. We can either remove cache-deployer as you suggest, or make some changes in deployer to create different webhooks like `cache-webhook-${namespace}` and use NamespaceSelector in request matching, multiple namespaced installation can share same cluster role but to create different cluster role bindings..

[2020-11-19 06:55] Jeffwan commented on #4783
I think my assumption is incorrect. cache-deployer does need permissions to list, create webhooks and it requires a cluster role for cluster scoped resources . I will close the issue and thanks @Bobgy

[2020-11-19 06:55] #4783 closed

[2020-11-19 08:00] Bobgy commented on #4781
If making a pure namespaced mode KFP is of high value to you, we can accept a PR for a KFP env without cache.

[2020-11-19 13:52] Bobgy commented on #3513
Exactly, and the widely used `default-editor` already has kubeflow-edit role.
Therefore, this change is effectively an internal refactoring as long as users do not create the new bindings by themselves

[2020-11-19 14:43] cai-harry commented on #4763
Sorry, I don't understand what changes I actually need to make? The updated documentation seems to use the `create_component_from_func` approach rather than the `dsl.ContainerOp` approach?

[2020-11-19 15:33] radcheb commented on #3550
/reopen

[2020-11-19 15:39] radcheb commented on #3550
Hi @Bobgy we are facing the same issue:
![image](https://user-images.githubusercontent.com/5963615/99687563-1833d880-2a85-11eb-9186-78be32370b57.png)

* At some point we may have 20-30 concurrent workflows.
* When I run this command `kubectl get workflow -n kubeflow --no-header | wc -l` I get `528` ! I got come with `47h` as age.

[2020-11-19 15:39] Bobgy commented on #4197
Versions are sub resources of pipelines, so they should be in the same namespace of the pipeline.

Description was more of an unfinished migration to version API, ideally we should have description field on versions too.

You should use viper to get this config like other configs in API server, so that it will be configurable via config map, config.json or env var directly.

[2020-11-19 18:00] maganaluis commented on #4197
@Jeffwan @Bobgy

We completed the implementation using KFam (for now). From a UI standpoint, we only added a checkbox to indicate if the Pipeline is "Shared" or not, Pipeline Versions of course cannot be shared. So if you select "create new pipeline..." this checkmark will not be there.

Most of the changes were in the Backend. You can see the implementation details on this commit: https://github.

[2020-11-19 18:11] Udiknedormin opened #4787 "ContainerOp's "after" accepting variable arguments, but OpsGroup's one is not?"
Looks like the signature of [`OpsGroup`'s `after` method](https://github.com/kubeflow/pipelines/blob/7f32dde71190d46a132823e7d0ed59ae8df792f2/sdk/python/kfp/dsl/_ops_group.py#L96) is:

[code]

...but for both [BaseOp](../blob/7f32dde71190d46a132823e7d0ed59ae8df792f2/sdk/python/kfp/dsl/_container_op.py#L791) and [PipelineVolume](../blob/7f32dde71190d46a132823e7d0ed59ae8df792f2/sdk/python/kfp/dsl/_p

[2020-11-19 18:26] ajinkya933 commented on #4755
[code]

[2020-11-19 18:26] #4755 closed

[2020-11-19 18:57] yanniszark commented on #4197
@Bobdy @maganaluis thanks for your efforts on this. Some comments:

@Bobgy I think it would be best to not return mixed results here. Specifying namespace='XXX' should only return pipelines from namespace 'XXX'.

@Bobgy let me propose something different. Instead of turning off features, why not protect them with authorization? For example, we can have two kinds (in RBAC only, not in the MySQL DB)

[2020-11-19 19:52] maganaluis opened #4789 "Azure ADLSGen2 Support as a Kubeflow Pipelines Artifact Store"
Currently Kubeflow Pipelines only supports MinIO, GS, and S3 to store and retrieve Artifacts.

The ask here is quite simple, Kubeflow Pipelines should also support reading/writing from Microsoft's ADLSGen2, however given that current features around multi-tenancy the artifacts themselves should also be isolated in different "Containers" and authenticated using Azure Active Directory.

A similar ef

[2020-11-19 21:02] cah4444 commented on #4687
on behalf of @JakeTheWise, the logs for cache-server:

[code]

With nothing but those same logs inbetween. The cache-deployer logs are as follows:

[code]

[2020-11-19 23:51] Bobgy commented on #3550
@radcheb is `ml-pipeline` pod or argo pod leaking memory? This issue is about `ml-pipeline`

[2020-11-20 00:23] Jeffwan commented on #4789
@maganaluis Using object storage directly instead Minio give some benefits like policy control, more reliability, etc. The tricky thing is we assume the pluggable object storage is Minio/s3 protocol compatible. Otherwise, a lot of places needs to be changed and that will be hard to maintain.

[2020-11-20 00:34] Jeffwan opened #4790 "[Multi User] Support separate metadata for each namespace"
Part of #1223

Support separate metadata for each namespace help us only see related artifact/executations.

Currently, MLMD doesn't have user/namespace concept to isolate metadata based on user. An workaround we can move forward is to aggregate artifacts/executations by existing experiment and runs in user's namespace. This will end up some MLMD queries and I am not sure how's the performance esp

[2020-11-20 00:35] Jeffwan commented on #4790
I didn't find existing issue to track this story. If there's one, please let me know

[2020-11-20 00:56] numerology commented on #4790
I remember there's a very related one in TFX repo: https://github.com/tensorflow/tfx/issues/2618

I am assuming this one is talking about supporting multi-tenancy through k8s-native way -- namespace while that one is more about built-in multi-tenancy support in MLMD itself.

[2020-11-20 05:12] Jeffwan commented on #4790
@numerology Yeah, If MLMD can add support for multi-tenancy. that would be great. Pipeline project can make corresponding changes.

Yeah, that's true. If MLMD doesn't have plan to support it, we can still have the workaround to aggregate metadata at the namespace level

[2020-11-20 09:58] radcheb commented on #3550
It's the `ml-pipeline` pod using `ml-pipeline/api-server` docker image. I am not sure it comes from argo 🤔 ?

[2020-11-20 10:48] NikeNano commented on #4770
This seems to be related to the tf-operator and not to kubeflow pipelines or the launcher component. Deployed the latest(i used commit: 338b1241a2214e898a0f9cd5a70ee11e9556c272) version of the tf-operator from [here](https://github.com/kubeflow/manifests/tree/master/tf-training) and got the component working.

[2020-11-20 12:25] talhairfanbentley commented on #1779
Hey, did anyone found any workaround for this?

[2020-11-20 14:18] mjurkus opened #4793 "env variable parsing in component.yaml"
I want to use `kaniko` to build the final image, but for that I need a variable to be passed to `kaniko` executor via `--build-arg`

How would one achieve that? If it's possible at all?

Example of component definition:
[code]

[2020-11-20 14:56] solarist commented on #3594
I'd also like to ask for this feature (on prem installation).

[2020-11-20 15:01] jlewi commented on #677
I'm closing this issue. @pretidav If you still have questions please open new more specific issues.

[2020-11-20 15:01] #677 closed

[2020-11-20 17:05] PatrickXYS commented on #1779
@kubeflow/wg-pipeline-leads I think this is a well-known issue and all the cloud-provider should get the same issue.

As I can see, we met similar issue here. Can you put some efforts on this issue and I can help as well?

/cc @Bobgy

[2020-11-20 22:04] DavidSpek commented on #4505
@Ark-kun It doesn't seem like this issue has been resolved. I just deployed Kubeflow 1.2 on Kubernetes 1.19.4 and the cache-server and cache-deployer-deployment are still stuck with errors.

I have spotted 2 Certificate Signing Requests, both identical with one in namespace `istio-system` and the other in `kubeflow`. I remember there was an issue that the CSR was not being approved, which it now i

[2020-11-20 22:51] DavidSpek commented on #4505
I think the issue is caused by the fact that `signerName` is a required field that is not set, and `kubernetes.io/legacy-unknown` has been removed from Kubernetes 1.19. It will need to replaced by `kubernetes.io/kube-apiserver-client`, `kubernetes.io/kube-apiserver-client-kubelet` or `kubernetes.io/kubelet-serving`.
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-reques

[2020-11-20 22:56] xinbinhuang opened #4794 "GCS Component input type is incompatible with `str` or `dsl.types.GCSPath`"
### What steps did you take:

cc: @Ark-kun

GCS component operation accepts type `URI` but it does not work well with either `str` or `dsl.types.GCSPath` on pipeline function type annotations. If I remove  the pipeline type annotation, it will still work

Testing script:

[code]

### What happened:
[code]

### What did you expect to happen:

Combine and run the pipeline

### Environment:

How did

[2020-11-20 23:37] DavidSpek commented on #4505
It would seem that it might also be because `--cluster-signing-cert-file` and `--cluster-signing-key-file` need to be set for kube-controller-manager. I'm not sure if that was mentioned in the docs somewhere as a requirement, but it should similarly to how JWT for istio is stated if it is indeed required.

[2020-11-20 23:40] xinbinhuang opened #4795 "SDK API standardization for running pipeline"
There are 3 ways to run a pipeline currently:

- `create_run_from_pipeline_func`
- `create_run_from_pipeline_package`
- `run_pipeline`

The first two return a `RunPipelineResult` class while the last one returns a run object, where `RunPipelineResult.run_info = run object`. This is sometimes confusing to users.

Also, we use both `params` and `arguments` in our function signatures which also cause

[2020-11-20 23:53] DavidSpek commented on #4505
As one would expect, it was the fact that the `--cluster-signing-cert-file` and `--cluster-signing-key-file` were not set.

[2020-11-21 00:03] Bobgy commented on #4505
/reopen
Thanks @DavidSpek for the investigation

[2020-11-21 00:11] Bobgy commented on #4505
To support the webhook set up process stabler, we should seriously consider https://github.com/kubeflow/pipelines/issues/4695

[2020-11-21 00:15] Bobgy commented on #1779
/assign @chensun
Can you take a look?
Looks like this is requested by a lot of people

[2020-11-21 00:28] Jeffwan commented on #4781
Sounds good. I file a PR #4796

[2020-11-21 07:53] Ark-kun opened #4799 "Backend - Improved API for reading artifacts"
Currently the backend has a ReadArtifact method, but it might lack some features, that would be nice to have:

* Storage format agnostic. Currently the artifacts are stored as .tar.gz archives. This has pros and cons. Nevertheless, the storage format should not be exposed to the API user. The API should return the same data regardless of the way the data is stored. (We might want to add a flag or

[2020-11-21 08:07] Ark-kun commented on #4781
The cache deployer already does that.
https://github.com/kubeflow/pipelines/blob/b0a87e78af445dbb271027837b5aa22f7e2b0e6d/backend/src/cache/deployer/deploy-cache-service.sh#L28

Do you think this solves your issue?

This is pretty easy to do, but please note that `NamespaceSelector` cannot match on namespace name, only on labels. 🤦

P.S. I wonder about other services. KFP backend, Minio and Argo.

[2020-11-21 08:15] Ark-kun commented on #4793
Can you please explain what exactly you want to achieve. What is `$MY_ARG`? Where does it exist? How is is supposed to make it inside the container?

Taking a guess, you might be asking about passing the value of an input argument (rather than a file path for it). In that case, you can use `{inputValue: arg1}` placeholder. And if you need to concatenate values, use `concat`:
[code]

Also see the f

[2020-11-21 08:16] Ark-kun opened #4800 "SDK - Components - Warn when container component does not specify `command`"

[2020-11-21 08:26] Ark-kun commented on #4777
I'm not sure this is a bug (caching makes the execution almost instantaneous), but this might be a nice feature to have.

We're somewhat afraid to add some features, because the proposed behavior violates some customizations that come from the user.

The situation could be the opposite: The user could have a cheap preemptible node pool where they schedule most of the tasks. But when node selector

[2020-11-21 09:02] Ark-kun opened #4801 "SDK - Components - Support passing a list of values as an argument for a single component input"
This feature is non-trivial and solves a fundamental problem that KFP graph components have.

The interface of KFP components is static. Each component has a fixed number of inputs.
A KFP task (`TaskSpec`) has the `arguments` map that maps each component input to a single argument (either constant or an upstream reference).

This makes it impossible to pass multiple arguments to a single input. Th

[2020-11-21 09:16] Ark-kun opened #4802 "SDK - Components - Support constructing and passing JSON structures to components."
Related to https://github.com/kubeflow/pipelines/issues/4801 and relies on it.
Fixes https://github.com/kubeflow/pipelines/issues/4776

This is a high-level feature.

The user must be able to construct a valid JSON structure where the values can come from component outputs.

In KFP this is possible in some cases, but is not fully supported.

* Simple solutions like `my_op(in={"param1": task1.outpu

[2020-11-21 09:26] Ark-kun commented on #4776
There are two issues you're facing.
One issue is with pipeline parameter default values. It has bee fixed in https://github.com/kubeflow/pipelines/pull/3832
There was a pretty long delay in the releases, but the latest KFP SDK package has this fix.

Another issue is more fundamental. Argo (and KFP) does not have a concept or support of JSON substitutions.
Remember that KFP orchestrates command-lin

[2020-11-21 09:29] Ark-kun commented on #4794
You can use `def download_gcs_pipeline(gcs_uri: 'URI'):` or remove the type annotation.

This issue would be solved once we add support for type inheritance and have `type: {GcsUri: {base_type: {Uri: {base_type: String}}}}`

[2020-11-21 09:32] Ark-kun opened #4803 "SDK - Components - Type inheritance"
Related to https://github.com/kubeflow/pipelines/issues/4794

Possible syntax:
[code]

---
P.S.
Actually, the type inheritance does not make sense for inputs. According to the Liskov substitution principle, the input can only accept and argument of the most derived type.

The only way to specify that the input can accept multiple types is the (proposed) `Union` type syntax: https://github.com/kube

[2020-11-21 09:58] DavidSpek commented on #4505
I would also suggest using cert-manager, as it seems the other applications are using that as well. Also, for my specific situation with Canonical's CDK, it is a manual multi-step process to copy the ca.key from the EasyRSA node to the master nodes due to the permissions on the file.

[2020-11-21 10:34] Ark-kun commented on #4787
Likely, the person who added support for multi-argument `after` to `ContainerOp` just forgot to add it to the `OpsGroup`.

Thank you for taking on this issue.

[2020-11-21 10:52] mjurkus commented on #4793
@Ark-kun thanks for the quick reply.

I've renamed MY_ARG to GITHUB_TOKEN to give it more context.
It is known when building the pipeline or could be retrieved from k8s secrets.

In the `Dockerfile` there is `ARG GITHUB_TOKEN` and I need to provide it when building the image with kaniko.

I'm trying to figure out how I could achieve that. Since the token is a secret - I don't can't use inputs.

[2020-11-21 17:33] NikeNano commented on #4793
You can add access k8s secrets to your components, code [here](https://github.com/kubeflow/pipelines/blob/0795597562e076437a21745e524b5c960b1edb68/sdk/python/kfp/dsl/extensions/kubernetes.py ), let me know if there is any issues with it :)

[2020-11-21 21:13] mjurkus commented on #4793
Yes, I can add secrets to components. I also tried `add_env_variable`.
But I guess `"--build-arg, GITHUB_TOKEN=$GITHUB_TOKEN,` is not parsed and treated as a literal.

[code]

will output "$GITHUB_TOKEN" instead of the actual value.

[2020-11-22 07:54] paveldournov opened #4807 "[Feature Request] Expose Minio Browser UI from Pipelines UI"
Minio has a built-in [explorer UI](https://github.com/minio/minio/tree/master/browser) already being deployed and configured as part of KFP.

It would be really useful to have an ability to navigate to this UI from the pipelines to explore the artifacts created by the pipelines, search and download the artifacts. Even more useful it would be to navigate to the specific folder in the Minio UI from

[2020-11-22 08:30] Ark-kun opened #4809 "Cannot list 100 runs"
### What steps did you take:

1. Go to Experiments/ All Runs.
2. Set number of runs per page to 100.

### What happened:

UX shows the following error:
[code]

This also happens after going to next page several times.

### What did you expect to happen:

I expect the runs to be listed.

I also expect the server results to be smaller.

How did you deploy Kubeflow Pipelines (KFP)?
GCP Marketplace

K

[2020-11-22 08:40] Ark-kun commented on #4793
Think of the data flow. Where is the information (token) initially? Where do you want it to get (in the command-line of some program)? How is it going to get there? How will the Kubernetes Pod look like? How will the container command-line look like?

If it actually resolved that command-line, then the secret would be exposed in the pod spec.

This is how Linux and most OSes work. Command-line is

[2020-11-22 08:43] Ark-kun commented on #4795
`run_pipeline` is legacy and is closer to the backend API. It's left there for backwards compatibility.

[2020-11-22 09:20] NikeNano commented on #4793
I misunderstood you @mjurkus but @Ark-kun solution seems to solve your problems as I understand it.

[2020-11-22 13:44] vipul-sharma20 commented on #4673
Hey, is anyone working on this? I can make a PR.

[2020-11-22 19:05] xinbinhuang commented on #4795
That makes sense. Do you think we should update the documentation to specify that this's a legacy SDK API? Or put a deprecated warning to the `run_pipeline` function?

[2020-11-22 19:10] xinbinhuang commented on #4794
Thanks for the advice! That totally makes sense. I was thinking that if it will make sense to change the input type from `URI` -> `GCSPath`, but I realize that it will probably break a lot of people's pipelines.

I will follow up on the Type inheritance issue for implementation.

[2020-11-22 22:35] Bobgy commented on #4673
@vipul-sharma20 That would be great! Thank you for offering help!

[2020-11-22 22:37] Bobgy commented on #4673
Hmm, in fact, I think backend behavior for taking pipeline I'd with priority is the more problematic behavior than SDK allowing two values specified at the same time

[2020-11-22 23:02] Bobgy commented on #4673
https://github.com/kubeflow/pipelines/blob/5f992f5d06a33e85bc53b8531cfc2cbf1f1faa87/backend/src/apiserver/resource/resource_manager_util.go#L244

I believe backend already prefers version id just reading its code. So I think the easiest short term fix is let SDK not specify pipeline is when version id is present.

A better long term fix is to figure out why backend still prefers pipeline id (maybe

[2020-11-22 23:16] Bobgy commented on #4809
I believe this is either fixed in 1.0.4 or at least in 1.1.0, there was a PR that increased request size limit

[2020-11-22 23:38] Bobgy commented on #4807
Agree this is useful.
What do you think UX should be like?

The minio UI requires access key and secret, so we need some documentation to tell how to configure the password and default value

[2020-11-23 01:39] Jeffwan commented on #4781
Yes, I checked the source and the webhook get created using given namespace. cache-deployer still need cluster level resources. As I said In the https://github.com/kubeflow/pipelines/issues/4781#issuecomment-730168430, each installation can share same cluster role but still need to create different cluster role bindings. The real world case is tenancy can not create cluster resource and their perm

[2020-11-23 01:46] Bobgy commented on #3821
Well, kubeflow/website#2021 only covers metrics. We still need to update ui metadata documentation.

[2020-11-23 01:48] Bobgy commented on #3821
We need to update similar to https://github.com/kubeflow/website/pull/2171

[2020-11-23 01:49] Bobgy commented on #3821
/assign @Ark-kun @chensun

[2020-11-23 01:52] Jeffwan commented on #4752
Argo, so `CronWorkflow` would not be a good fi

it makes sense. I assume integrating `CronWorkflow` will be easier at this moment? If KFP plans to change orchestrator some time, that will be a big refactoring and scheduled workflow can be part of it as well?

K8s CronJob itself only gives repeating schedule over Job. It still need to invoke workflow which will be picked by Argo. This means even we

[2020-11-23 02:16] Bobgy commented on #3550
No, it's different. let's keep this open then.
Contribution welcomed on investigating how it's leaking in `ml-pipeline` pod, a.k.a. KFP api server.

[2020-11-23 03:38] Ark-kun commented on #4809
Perhaps we should have an API method that does not return the whole workflow structures. They can get pretty big (up to 1MiB). In that case, 100 runs will take 100MiB, which is really big for an API request.

[2020-11-23 03:40] Ark-kun opened #4812 "Caching - Fix basic handling of max_cache_staleness"
It looks like non-zero and non-empty `max_cache_staleness` values have no effect.

[2020-11-23 04:21] #4636 closed

[2020-11-23 04:34] Ark-kun commented on #4781
That would be ideal, but might not be always feasible. For example, CRDs like Argo Workflow are cluster scoped.

I really wish Kubernetes had support for namespace-scoped mutating webhooks.

Another alternative would be to integrate hook support into Argo.

[2020-11-23 06:42] mjurkus commented on #4793
The simplest way would be:
- GITHUB_TOKEN initially is an environment variable where the pipeline is being built
- GITHUB_TOKEN should be passed as `ARG` to the docker image that is defined in `Dockerfile` and created by `kaniko
- It should not be exposed as plain text at any time

I'll try the suggested workaround.

[2020-11-23 07:00] Bobgy commented on #3936
@anatolyzolotar does the workaround help you?
Going to close, but feel free to reopen

[2020-11-23 07:00] #3936 closed

[2020-11-23 07:04] Bobgy commented on #4764
so mysql was in error state for a while, that might be the cause for other messages you saw

@eastlunar do you still see the problem? I believe it should go away once mysql pod is running again
Feel free to reopen if it still does

[2020-11-23 07:04] #4764 closed

[2020-11-23 07:12] Bobgy commented on #4687
Could this issue be an duplicate of https://github.com/kubeflow/pipelines/issues/4505?

[2020-11-23 07:13] Bobgy commented on #4687
What's your kubernetes versions?

[2020-11-23 08:46] Bobgy commented on #4752
@Jeffwan right now, the scheduledworkflow spec contains entire workflow details. However, we'd prefer that it only contains a cron schedule + a pipeline/version id, so it can call KFP API server for triggering each run.

(We are already planning on at least how we integrate with argo in KFP IR efforts, so the change comes in near future.)

[2020-11-23 08:50] radcheb opened #4814 "Frontend - When retry enabled, UI says "Execution was skipped" while it's not"
### What steps did you take:
When **retry** is enabled on a container_op, the UI always says it's `execution was skipped and outputs are taken from cache` even if it's the first time executed.
Actually cache was never activated on our server.

To reproduce I run the following pipeline:
[code]

### What happened:
We got a misleading message:
![image](https://user-images.githubusercontent.com/596361

[2020-11-23 09:03] Bobgy commented on #4197
You are right. Agree with that. So there needs to be some UI change to allow finding pipelines from either shared or namespaced ones.

I guess it depends more on whether the shared pipelines will be a long term UX we will maintain. If it is, then I agree with your suggestion, that sounds like a clean solution. Do we have enough evidence it will be?

I think there're still quite some questions we n

[2020-11-23 09:50] Bobgy commented on #4197
Hmm, maybe we can start with your PR description for discussion and see if everyone can agree on that.

Note that, for above discussion, my personal opinion is that, the MVP PR do not need to implement any of the `ClusterPipeline` rbac stuff nor the "pipeline sharing" switch. We can start from the minimal and enhance based on further requests.

[2020-11-23 09:51] Bobgy commented on #4197
It's backward compatible behavior, so I don't think we need to worry about that right now.

[2020-11-23 10:03] Ark-kun commented on #4814
@Bobgy The actually skipped pods have the `pipelines.kubeflow.org/reused_from_cache` label set to `true`. We might want to use that for the reuse detection.

[2020-11-23 10:08] Ark-kun commented on #4793
This means that the token cannot be anywhere in the compiled pipeline.

So if you want it to reach the containerized program running on Kubernetes, it must be put into some external location accessible to the future Kaniko Pod and the code should read it. One way would be to put the token into a Kubernetes secret and mount it. Another would be to upload the token somewhere and download it from ins

[2020-11-23 10:24] Bobgy opened #4816 "[Multi User] Move manifests from kubeflow/manifests back"
This issue answers https://github.com/kubeflow/manifests/pull/1659.

KFP's multi user manifest patches live in https://github.com/kubeflow/manifests/tree/master/pipeline/installs/multi-user, because it was only used by full Kubeflow.
However, we start to see it'll be better if everything related to an application are developed upstream and synced to consumers like kubeflow/manifests.

It'd be bett

[2020-11-23 10:24] Bobgy commented on #4816
/cc @elikatsis @Jeffwan

[2020-11-23 12:41] mjurkus commented on #4793
Adding this
[code]
and adding env variable via `container_op.add_env_variable` from k8s secrets worked like a charm and the actual value was not exposed in the compiled pipeline.

Not sure which KFP feature parsed `GITHUB_ACCESS_TOKEN` in `command` correctly though...

[2020-11-23 14:31] elikatsis commented on #4814
The problem for this is that the function that decides whether a node was cached is wrong.
So a proper fix for this would be to change this function: https://github.com/kubeflow/pipelines/blob/ab21ec98455976bbb1f1f8b3d23710d19fbcfc9a/frontend/src/lib/StatusUtils.ts#L107-L117

Lines 109-111 should be:
[code]
I can submit a PR for it

[2020-11-23 14:42] elikatsis commented on #4814
Actually, I created the PR :smile: https://github.com/kubeflow/pipelines/pull/4819

[2020-11-23 15:07] yanniszark commented on #4321
Implementing the proposed interface could provide the refreshing functionality: https://github.com/kubeflow/pipelines/issues/4683

[2020-11-23 15:12] boarder7395 commented on #4506
After doing some testing I do not believe the TTL_SECONDS_AFTER_WORKFLOW_FINISH fix addresses the issue. My guess is that variable addresses the clean-up after the pipeline (argo workflow) has completed. If you are creating a volume at the start of the workflow and deleting the volume at the end of the workflow then the workflow will hang indefinitely since the pods with the volume attached will n

[2020-11-23 15:26] elikatsis commented on #4506
@boarder7395
Nice catch. This happens because `kubectl` has a default behavior of waiting the deletion. We can fix this adding a flag `--wait=false` in the command.

Argo has enabled adding flags in `ResourceTemplate` but our deployment doesn't support it.
However, we are not using a `ResourceTemplate` for the `delete()` method. So we can add this flag without caring about Argo.

I will submit a P

[2020-11-23 16:43] boarder7395 commented on #4506
I tested that fix locally and it solved my issue!

[2020-11-23 16:47] elikatsis commented on #4506
Same, I submitted a PR for it: https://github.com/kubeflow/pipelines/pull/4820

[2020-11-23 16:51] JakeTheWise commented on #4687
I believe is 1.17.9

[2020-11-23 17:24] Jeffwan commented on #4816
+1.

I know a few folks just use KFP in their environment. It would be great to bring multi-user manifest back to KFP. Technically, I think user can still customize their own KFP multi-user installation without full kubeflow to fit their environment. It's better to list dependent component like profile-controller, etc in the doc.

kubeflow/manifest can reuse `upstream` directory synced from kubefl

[2020-11-23 18:00] cah4444 commented on #4687
Its actually 1.17.4

[2020-11-23 18:09] elikatsis commented on #1779
Since we have now upgraded Argo client version used by the backend (apart from the deployment) we can take advantage of the `setOwnerReference` field of the `ResourceTemplate` ([source](https://github.com/argoproj/argo/blob/2a3ab1acc3d97873f8a582dbc81db099bc22bed2/pkg/apis/workflow/v1alpha1/workflow_types.go#L1876-L1877)).

Using this we will be able to set an owner reference of the workflow to PV

[2020-11-23 18:14] PatrickXYS commented on #1779
@elikatsis Feel free to cc me the PR as well

Would like to help as well

[2020-11-24 00:23] numerology opened #4822 "[Discuss][SDK] Future direction of VolumeOp and ResourceOp"
Background: comments in https://github.com/kubeflow/pipelines/pull/4575#pullrequestreview-536585912

There are several questions regarding the way [`ResourceOp`](https://github.com/kubeflow/pipelines/blob/3826edfcde77eb92a47dea1b9241a657236f45bc/sdk/python/kfp/dsl/_resource_op.py#L66) and [`VolumeOp`](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_volume_op.py) were implemen

[2020-11-24 00:23] numerology commented on #4822
/cc @elikatsis
/cc @Ark-kun
/cc @Bobgy

[2020-11-24 09:07] #4814 closed

[2020-11-24 14:36] jphuynh commented on #3405
What's the current state of things on S3 support in Kubeflow pipelines? It's a little bit hard to follow with some work that seems to have been done towards that and the discussion around using Minio as gateway.

I'm still struggling to get ml-pipeline to initialize correctly against S3 instead of Minio and using IRSA instead of `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` and I can't seem to g

[2020-11-24 15:32] karlschriek opened #4825 "ApiException "Method Not Allowed" when passing cookie to AWS ELB"
### What steps did you take:
Following these instructions (https://www.kubeflow.org/docs/aws/pipeline/), I am constructing a KFP Client that authenticates via an ELB cookie, as follows:

[code]

Calling `client.list_experiments(namespace="karl-schriek")` returns an empty list of experiments, even if there are experiments present. Actually this is also the case if using no cookie, or a clearly inco

[2020-11-24 16:50] Jeffwan commented on #3405
@jphuynh see https://www.kubeflow.org/docs/aws/pipeline/
Beside IRSA, all rest support has been added. IRSA requires minio client support, I think KFP service backend supports it as well. however, javascripts part is not supported https://github.com/minio/minio-js/issues/841 which means pipeline UI won't be able to use it at this moment

[2020-11-24 17:28] Udiknedormin commented on #4776
@rafaelbarreto87

Because you know all of the types, you know which parameters need escaping with `"` --- in your case none of them --- and therefore can do that instead of leaving it to the KFP engine:

[code]
__________

Now, let's get into details on WHY it works and what you did does not.

First : it seems to me your problem does NOT arise when your component is an inline `ContainerOp`:

[code

[2020-11-24 17:46] jphuynh commented on #3405
Thanks for your quick answer @Jeffwan.

I don't think it does. Looks like the project is using `github.com/minio/minio-go v6.0.14+incompatible` and we would need at least `v6.0.45`

https://github.com/minio/minio-go/commit/a544e9f394b0e3e9a6f2b97da1084dc3a559b4b0

I'm not sure if it would be easy to bump the version.

[2020-11-24 17:50] Jeffwan commented on #3398
/reopen

[2020-11-24 17:51] Jeffwan commented on #3405
@jphuynh My mistake, I thought it get merged.  Yeah, backend side needs to bump minio version as well.I documented in this issue https://github.com/kubeflow/pipelines/issues/3398.  I will see if I get time to continue on the stable PR

[2020-11-24 19:08] Jeffwan commented on #4816
/assign @Jeffwan

I can help this issue.

[2020-11-25 09:18] karlschriek commented on #4825
@Jeffwan do you have any insight on this? We would like to migrate some clients to KF1.2 to make use of multi-tenancy, but currently we cannot get Pipelines to work.

[2020-11-25 09:19] fondlykip opened #4827 "Unable to push contributions to repo"
Hi,

I have made a small contribution locally related to issue [1891](https://www.github.com/kubeflow/pipelines/issues/1891)

When I try and push the changes on my local branch to the remote repository I get the following error:

`$ git push origin SDK---DSL---Component---graph-component-pipeline-volume
remote: Permission to kubeflow/pipelines.git denied to fondlykip.
fatal: unable to access 'http

[2020-11-25 09:50] karlschriek commented on #4440
For me trying these workarounds (on KF 1.2) results in `Error from server: error when creating ".\\envoy_filter.yaml": admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: envoy filter: missing filters`

[2020-11-25 10:24] DavidSpek commented on #4440
@karlschriek Could you post the envoy filter you applied, along with the relevant information about the cluster such as the namespace and notebook name?

@yanniszark Is there any more information regarding the timeline of the upstream push of mTLS and SubjectAccessReview?

[2020-11-25 13:22] karlschriek commented on #4440
This is what I used:

`
export NAMESPACE=mynamespace
export NOTEBOOK=mynotebook
export USER=me@myemail.com

cat >  ./envoy_filter.yaml << EOM
apiVersion: rbac.istio.io/v1alpha1
kind: ServiceRoleBinding
metadata:
  name: bind-ml-pipeline-nb-${NAMESPACE}
  namespace: kubeflow
spec:
  roleRef:
    kind: ServiceRole
    name: ml-pipeline-services
  subjects:
  - properties:
      source.principal: clu

[2020-11-25 14:14] DavidSpek commented on #4440
@karlschriek You have the kubeflow-userid set to your namespace rather than your userid (such as `user@example.com`).

[2020-11-25 14:14] saurovn opened #4897 "Kubeflow Pipeline upload from Enterprise GitHub OR Google Storage"
/kind feature

**Why you need this feature:**
We have Kubeflow (1.0) installed in GCP and would like to upload pipelines hosted in Enterprise GitHub Or Google Storage.

Currently "Import by URL" option provides option to import pipeline files only from public GitHub and "Upload a file" option provides option to import from local.

**Describe the solution you'd like:**

It would be helpful if the U

[2020-11-25 16:00] karlschriek commented on #4440
Sorry, my bad. I no longer had the script I used this morning so I quickly put something together to answer you, tried it, saw it gave the same result and posted it. Have now fixed it and can confirm that it still gives the same "missing filters" error

[2020-11-25 17:16] elikatsis commented on #4822
Hi @numerology,
thanks for starting the conversation.

Indeed, they are currently tightly coupled to Argo, but this seems to be the case for most of the current code in the repo. I understand that we want to decouple the backend, but ResourceOp seems to be just a tiny part of this problem.

I'd love to contribute in the direction proposed by @ark-kun in #4083. The solution described there is to ch

[2020-11-25 18:32] Leewaldoe opened #4828 "Increase input parameter length limitation"
Is there any plan to change/increase the artificial limitation set on parameter length for the pipeline spec? I find myself frequently running into the following error:

`"The pipeline spec is invalid.: Invalid input error: The input parameter length exceed maximum size of 10000."`

We have limited the individual arguments to the components as either strings, small lists or dicts as suggested in [

[2020-11-25 18:35] maganaluis commented on #4789
@Jeffwan Thank you, it seems platform owners should be responsible for adding support here. We'll explore other options in the mean time, but I'll leave the issue open to see if there is other interest from the community.

[2020-11-25 18:39] srujanattunuri commented on #4436
I am also trying for same scenario but , in my case i am using minio s3 and how this can be achievable? Any thoughts would be great?.. Thanks.

[2020-11-25 18:48] PatrickXYS commented on #4436
@srujanattunuri You might need to search for minio s3 compatible solution and make it available on your kubeflow deployment.

However, if you still have issue in minio-s3, feel free to open another issue.

I think this issue is resolved

/close

[2020-11-25 18:48] #4436 closed

[2020-11-26 01:05] numerology commented on #4827
Hi, thank you for your contribution in advance!

That said, all the commit need to be code-reviewed. Do you mind forking the repo and creating a pull request for it, instead of directly pushing to the main stream?

[2020-11-26 03:52] subodh101 commented on #3296
@Bobgy
Could you help me which kubeflow deployment/image will have your two updated changes?
Thanks.

[2020-11-26 04:05] Bobgy opened #4830 "[Release] add format check for version tag"
to prevent mistakes like https://github.com/kubeflow/pipelines/commit/5928a2659b2f6be9dc496af2fa71bd5d51fbb0dd, I think we should add a format check at https://github.com/kubeflow/pipelines/blob/5928a2659b2f6be9dc496af2fa71bd5d51fbb0dd/hack/release-imp.sh#L28

[2020-11-26 04:32] Bobgy commented on #4830
/cc @hilcj

[2020-11-26 07:24] Bobgy commented on #3296
@subodh101 they were merged very early: https://github.com/kubeflow/pipelines/commit/124067a58d0d000924f4d9dcf39464f65e1a1ee8

KFP 0.4.0 already have them

[2020-11-26 08:00] subodh101 commented on #3296
Thank you @Bobgy .
When we deployed kubeflow1.1 around 3 months ago. All the images were old.
I have updated most of the images manually since then. But still, we got the same error today.

We were using frontend image version `1.0.0-rc.3`. I have also updated that to `1.0.0` from env config controller.
UI seems responsive as for now. But it doesn't last responsive very long and ends up with the s

[2020-11-26 08:14] subodh101 commented on #3296
@Bobgy
Let's leave this for now. Today I made a lot of changes it is difficult to tell.
I will let you know if I face the error again.
Thank you!

[2020-11-26 08:27] karlschriek commented on #596
Is this issue still relevant? There are similar discussions also going on elsewhere, such as here: https://github.com/kubeflow/pipelines/issues/3405

This is a pretty important issue for us. We want to move all in-cluster persistent storage (mysql DBs, MinIO) off to managed AWS services as managing them in-cluster is becoming quite a pain.

[2020-11-26 08:58] Bobgy commented on #4830
/project KFP Runtime Triage

[2020-11-26 08:59] Bobgy commented on #4830
/project buildcop

[2020-11-26 16:37] PatrickXYS commented on #3398
/assign

[2020-11-26 16:37] PatrickXYS commented on #3405
Let me put some efforts here to solve the issue

[2020-11-26 16:37] PatrickXYS commented on #3405
/assign

[2020-11-26 23:02] rochaporto commented on #4733
Are there news for a patch to use kfp from in-cluster notebooks in multi-user deployments?

[2020-11-27 00:11] PatrickXYS commented on #4733
I think it depends on @yanniszark 's availability for his PR to add support for mTLS and istio.

[2020-11-27 04:18] Bobgy commented on #1205
This has been fixed though

[2020-11-27 04:18] #1205 closed

[2020-11-27 04:18] #1497 closed

[2020-11-27 04:37] Bobgy commented on #4763
@cai-harry container op has been deprecated, you won't be able to use it for metrics

[2020-11-27 10:39] karlschriek commented on #4825
Also can confirm that the same error occurs with this combination on KF1.2

[code]

[2020-11-28 06:01] ohke opened #4836 "[SDK] Support `dnsConfig` field"
Is there any way to set up `dnsConfig` using the SDK?

To avoid [DNS failure due to the default `ndots: 5`](https://github.com/kubernetes/dns/issues/159#issuecomment-336449931), I have added the following directly to the compiled YAML file.
(Argo has supported dnsConfig since [2.3.0](https://github.com/argoproj/argo/releases/tag/v2.3.0).)
[code]

[2020-11-30 02:22] Bobgy opened #4839 "[Testing] cache sample failure did not fail postsubmit"
The test https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1332269653426180096 passed, but it shows caching sample failed from junit logs.

When looking at the caching sample pod log, it is indeed failing:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1332269653426180096/artifacts/pods_info/samp

[2020-11-30 05:19] Bobgy opened #4840 "[Release] document how maintainers can release KFP"
Right now, only repo admins can release KFP: https://github.com/kubeflow/pipelines/blob/master/RELEASE.md#common-prerequisites

but ideally, we should allow maintainers to do the release.

[2020-11-30 06:05] Bobgy commented on #4687
Here's code for cache-deployer: https://github.com/kubeflow/pipelines/blob/master/backend/src/cache/deployer/deploy-cache-service.sh
and the most important k8s resources it manages are
https://github.com/kubeflow/pipelines/blob/9a20fc5137578df511645a2192a1908683184ab8/backend/src/cache/deployer/deploy-cache-service.sh#L47-L48

Can you try `kubectl get -oyaml` and `kubectl describe` on them and see

[2020-11-30 06:17] Bobgy commented on #4822
We've been planning for other parts already, so we'd want to make sure `VolumeOp` won't be left behind.

I think implementation-wise, that's the direction we want to go. Welcome contributions on this topic!
But considering interface, why does this feature need to exist in KFP DSL? It should be readily usable using the standard `component.yaml` like all other components, this would reduce unnecessa

[2020-11-30 06:53] Bobgy opened #4842 "[Test infra] presubmit failing 2020.11.30"
Failed without logs: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4832/kubeflow-pipeline-upgrade-test/1333291971141177344

[2020-11-30 07:02] Bobgy commented on #4842
One node is not healthy in kubeflow-testing cluster:
[code]

I deleted this node
[code]

Let's see how it goes.

[2020-11-30 08:00] Bobgy commented on #4842
Seems recovered

[2020-11-30 08:00] #4842 closed

[2020-11-30 12:09] arllanos commented on #4738
@Bobgy @elikatsis
We came across this same thing while contributing in #4197. I documented a setup that worked out for me. Basically I deploy pipelines in a local a k3s cluster (I only do this to hava mysql and minio running) and do a bit of hack to make local code run as in-cluster. I documented that [here](https://github.com/arllanos/tekhno/blob/main/kubeflow-pipelines-dev.md)
Might not be perfe

[2020-11-30 13:17] DavidSpek commented on #4687
@Bobgy If this is related to https://github.com/kubeflow/pipelines/issues/4505, I don't think it is limited to recent kubernetes versions. When looking at the instructions [here](https://kubernetes.io/docs/concepts/cluster-administration/certificates/#easyrsa), it looks like the `ca.key` file is not deployed to the controller manager. If it indeed is not standard procedure to copy the ca.key to th

[2020-11-30 16:18] SirBubbls opened #4843 "Visualization with S3 datasource results in Access Denied"
I am currently trying to visualize some metadata stored in a S3 bucket, in this case a simple markdown file (`s3://<bucket>/test.md`).

### What steps did you take:

AWS credentials (in base64) are configured as a secret and assigned to `ml-pipeline-ui` and `ml-pipeline` as stated in [https://www.kubeflow.org/docs/aws/pipeline/#support-s3-artifact-store](https://www.kubeflow.org/docs/aws/pipeline/

[2020-11-30 17:24] gcampax commented on #4777
Well, the dummy pod takes no resources, both in terms of K8s resources and in practice, so I don't quite see your concern. It should be possible to schedule it anywhere. I really cannot see a use case where the user really wants to spin up a fresh machine in a dedicated pool to run the dummy pod.

Any pod properties related to scheduling should be removed, in my opinion. That would be node selecto

[2020-11-30 23:48] Ark-kun commented on #4839
Are those the correct logs? I'm trying to find the error message.

[2020-11-30 23:53] Ark-kun opened #4844 "Allow non-notebook samples tests that create multiple runs"
Currently, it seems that there are two kinds of samples that can be used for sample tests: code files and notebooks.

Code files must compile a pipeline and cannot create runs themselves.

Notebooks must submit runs.

I propose allowing the samples based on code files to submit runs as well.

[2020-11-30 23:53] Ark-kun commented on #4839
Maybe this is related to the fact that I had to change the sample from code file to a notebook. TBH, we might want to spend some resources on improving the sample test capabilities, so that it's easier to add more tests.

https://github.com/kubeflow/pipelines/issues/4844
https://github.com/kubeflow/pipelines/issues/4602

[2020-12-01 00:00] Ark-kun commented on #4827
Are you pushing to a correct repo?

Our workflow is as follows:

1. Fork the repo (once)
2. Create a branch in the forked repo
3. Add commits to the branch
4. Create a Pull Request in the main repo
5. Once approved, the PR is merged into the master branch.

To add more commits, you push your updated branch to your forked repo where you've created it.
You need to push to https://github.com/fondlyki

[2020-12-01 04:50] Bobgy commented on #4738
@arllanos that's a great start!

I think it will be better if we can reduce the number of hacky local setup required, e.g. API server can authenticate to kubernetes master via local kubeconfig, we just need to change the authentication process this issue presented

[2020-12-01 04:54] #4727 closed

[2020-12-01 06:05] Bobgy commented on #4839
I saw the error message on
https://cloudlogging.app.goo.gl/73Cvb3kHH3qd1rCr7

[2020-12-01 07:12] Ark-kun opened #4846 "Network errors when instantiating kfp.Client"
This is likely related to the https://github.com/kubeflow/pipelines/pull/4638 PR.
[code]
/cc @DavidSpek

[2020-12-01 07:30] Ark-kun opened #4847 "kfp.Client fails to work in master version"
I've installed kfp from the repository. The presubmit tests should ensure that the master version works.
However I've encountered the following error:
[code]
I expect that the kfp package installed from master works and can pass tests.

This might be related to https://github.com/kubeflow/pipelines/pull/4638
/cc @DavidSpek

[2020-12-01 07:31] Ark-kun opened #4848 "Sample tests should test the SDK the way the users install it"
Related to https://github.com/kubeflow/pipelines/issues/4847

[2020-12-01 07:52] Ark-kun commented on #4537
Can you please show the pipeline you're trying to run? A minimal example.

[2020-12-01 07:55] Ark-kun opened #4849 "inspect.getsource does not work in Lightweight python components"
When trying to use PyTorch JIT from inside the component function, I get the following component execution error at runtime:

[code]

[2020-12-01 10:07] DavidSpek commented on #4846
I'm running the regular KFP version that is deployed with Kubeflow 1.2 and have not had issues in the notebook servers I am running where I installed kfp and kfp-server-api using ` python3 -m pip install kfp kfp-server-api --pre --upgrade`.

[2020-12-01 10:40] DavidSpek commented on #4847
As I mentioned elsewhere, I suspect the issue is a mismatch between the kfp client and kfp-api-server. It would be my expectation that installing from master is known to work with the other components from the master branch. When looking at the releases page, it seems kfp and kfp-api-server are always installed together, so I think this should also be done when installing from the master branch. I

[2020-12-01 12:09] DavidSpek commented on #4848
When looking at the releases page, the SDK is installed alongside `kfp-server-api`. If installing from master, I think both the SDK and `kfp-server-api` should both be installed. Or is there a reason for allowing version mismatches between SDK and `kfp-api-server`?

[2020-12-01 14:50] blacksailer opened #4850 "Tensorboard volume unsupported"
### What steps did you take:
Installed kubeflow with dex 1.1
edited deploy ml-pipeline  image to 1.0.1
edited deploy ml-pipeline-ui  image to 1.0.1
Followed  this [manual](https://github.com/kubeflow/pipelines/blob/112de249a2c252f0a636bbfdf469d7ef2456f286/docs/config/volume-support.md)
with config data:
[code]
and did patch for ml-pipelines-ui exactly the same as in manual.

created pipeline with

[2020-12-01 18:24] numerology commented on #4847
I believe it's the mismatched version between two packages as well. Can you share the result of `pip freeze`? @Ark-kun

[2020-12-01 19:28] Udiknedormin commented on #4802
@Ark-kun
I can see three problems with that solution:

1. Performance - a new container is constructed, after all. Additionally, for Tekton target (provided by kfp-tekton), each task runs in a separate pod, which is even more of a performance drop.

2. Transparency - how does that new container that isn't there in the DSL interact with the UI or other tools, possible third-party ones? It breaks th

[2020-12-01 19:50] chensun opened #4853 "kubeflow-pipelines-tfx-python36 test failing"
Sample log:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4845/kubeflow-pipelines-tfx-python36/1333561959861194752

[2020-12-01 19:55] chensun commented on #4853
Comparing the logs from the last passed run and the first failing one, it might be related to pip version.
Passed run: pip-20.2.4
Failed run: pip-20.3

[2020-12-01 19:57] numerology commented on #4853
Playing in https://github.com/kubeflow/pipelines/pull/4852

[2020-12-01 21:34] cah4444 commented on #4687
I figured out the problem. When i deleted the kubeflow pipelines deployment to recreate is from scratch following [This](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize#uninstall), it left behind the mutatingwebhookconfiguration for the namespace (I wasn't aware that it was a cluster-wide resource). Manually deleting that before reinstalling fixed the cache server issue.

I i

[2020-12-01 21:43] #4853 closed

[2020-12-01 23:26] PatrickXYS commented on #3185
Not yet fixed

[2020-12-02 00:23] pedrocwb commented on #4440
I got the same problem that @karlschriek. In a further investigation, I discovered that KF v1.1 and above is using a very outdated istio version (1.1.6) so the EnvoyFilter @yhwang provided is not compatible with this version.

I tried to port the filter to be compatible with version 1.1.6 but it still doesn't work.
[code]

Error:
[code]

[2020-12-02 01:59] yhwang commented on #4440
actually, the envoyfilter I posted here: https://github.com/kubeflow/pipelines/issues/4440#issuecomment-687703390
is based on istio 1.3.1. I upgraded my env to kfp v1.2 today and the envoyfilter still works properly for me.

[2020-12-02 03:33] berndverst commented on #4789
@maganaluis have you tried replacing the Minio that Kubeflow ships with? You can use deploy this:
https://docs.min.io/docs/minio-gateway-for-azure.html

ADLSGen2 support a Blob Storage interface (with some limitations I usually don't encounter -- see https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-supported-blob-storage-features)

As discussed at https://www.kubeflow.org/doc

[2020-12-02 03:40] berndverst commented on #4789
/assign berndverst

[2020-12-02 06:06] Bobgy commented on #4847
Agree, I think when installing `kfp` from master, you should also install `kfp-server-api` from master.

[2020-12-02 06:07] Bobgy commented on #4847
That reminds me that, we should update `kfp` package's version dependency on `kfp-server-api`.

[2020-12-02 08:05] Bobgy commented on #4565
/cc @rui5i
We need to upgrade MLMD to 0.25.1

Reference: https://github.com/google/ml-metadata/issues/74#issuecomment-736731814

[2020-12-02 08:07] Bobgy commented on #4193
/cc @Jeffwan

[2020-12-02 08:14] Bobgy commented on #4846
Probably not the same as this issue, is the change in #4638 backward compatible with old KFP servers?
e.g. can we use the latest `kfp` pypi package with an old deployment?

I guess we cannot, and it's worth fixing that IMO.

[2020-12-02 08:15] Bobgy commented on #4565
And we need to wait for a resolution of https://github.com/kubeflow/pipelines/issues/4847

[2020-12-02 11:35] blacksailer commented on #4850
Found it. It is in 1.1.1-beta.1 version packgae. Closing

[2020-12-02 11:35] #4850 closed

[2020-12-02 12:11] cabjr opened #4857 "Is there a way to disable cache on a specific pipeline (created through component yml)"
### What did you expect to happen:
Is there a way to disable cache on a specific pipeline (created through component yml) using Kubeflow Pipelines on GCP?

I have a pipeline that must run once in a week, because of the cache behavior some nodes are not being executed again, the inputs / parameters are always the same, although, internally it does a Select inside Big Query (which will get the updat

[2020-12-02 12:32] #4843 closed

[2020-12-02 13:23] karlschriek commented on #4825
It seems the answer is that **_both_** cookies are need, as follows:

[code]

I used the work in this PR (https://github.com/kubeflow/pipelines/pull/4182) and created a small gist that can be used as a workaround for now to programmatically authenticate until the PR is merged, here: https://gist.github.com/karlschriek/c8d9ed0e410f49e29fc8f946df7f8ce3

[2020-12-02 13:26] karlschriek commented on #4825
Closing this and opening up a documentation issue

[2020-12-02 13:26] #4825 closed

[2020-12-02 14:25] DavidSpek commented on #4440
I've been using the envoyfilter with Kubeflow 1.1 and 1.2 with istio 1.3.1 and have also not had any issues.

[2020-12-02 14:57] DavidSpek commented on #4846
@Bobgy Just to make sure I started a fresh notebook in my cluster which has the "old" KFP server deployment that is included with Kubeflow 1.2 and I executed `python -c "import kfp; kfp.Client()"` in the terminal or in a notebook and I get no errors whatsoever. The only error I see is when the page first loads, which is caused by Kale trying to list the experiments but it fails as no namespace has

[2020-12-02 16:20] maganaluis commented on #4789
@berndverst Yeah I did a small POC with MinIO STS and an Azure Gateway, which effectively solved for multi-tenancy and integration with Azure. The problem with this approach is that you need to setup your own ``etcd`` database and we don't want to get into managing it. Perhaps CosmosDB could be used here, but that's still on preview.

https://docs.min.io/docs/minio-sts-quickstart-guide.html

[2020-12-02 17:24] GarrettMooney commented on #1362
I'm running into the same issue. I had tried to disable and kill a recurring run via the UI and the Python sdk but it keeps running.

The runs don't show up in the UI and don't appear to have an associated experiment so it has been running up a hefty bill on stackdriver.

The swf is visible via `kubetcl get swf --all-namespaces`, but I don't know enough to delete it.

Please let me know what info

[2020-12-02 18:23] pedrocwb commented on #4440
@yhwang @DavidSpek thank you for your considerations.

It turns out that the kfctl configuration file I used to install kubeflow doesn't contain the `istio-stack-1-3-1` and `cluster-local-gateway-1-3-1`, therefore kubeflow was installed based on istio 1.1.6.
The configuration file I used was the recommended one to provide authentication via OIDC `https://raw.githubusercontent.com/kubeflow/manifest

[2020-12-02 19:05] rui5i commented on #4857
Have you tried set max_cache_staleness to 0 on certain step? https://www.kubeflow.org/docs/pipelines/caching/#managing-caching-staleness

[2020-12-02 20:21] cabjr commented on #4857
How can i specify it on a yml pipeline? i didnt found an example.

My yaml file:

[code]

Thanks in advance,

[2020-12-03 00:00] alexlatchford opened #4860 ""kfp pipeline get <id>" CLI command fails for pipelines with no parameters"
### What steps did you take:

1. Construct a pipeline with no parameters, upload it.
1. Try to get it using the `kfp` CLI using it's ID.

### What happened:

I get an error with: `ERROR:root:'NoneType' object is not iterable`

I think the stack trace is suppressed by `click` but digging I tracked it down to [this line](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/cli/pipeline.p

[2020-12-03 03:20] Bobgy commented on #4685
@rui5i reminder that you also need to take a look at kubeflow/website repo.

[2020-12-03 05:44] rui5i commented on #4857
Can you try to add "pipelines.kubeflow.org/cache_enabled:false" to your pipeline yaml's labels and see if this works?

[2020-12-03 08:19] berndverst commented on #4789
@maganaluis would love to see whatever POC you created - in whatever state it is. Could help to inspire the right people to improve the integration between services :)

[2020-12-03 10:04] Bobgy commented on #1700
/lifecycle frozen

[2020-12-03 12:17] cabjr commented on #4857
I did as you suggested, and the pipeline was loaded as expected, but when i try to run it throws the following error:

[code]

[2020-12-03 14:30] Bobgy commented on #4779
Hi @hsezhiyan, this is expected behavior for how a Kubernetes operator works (basically a control loop).

The periodic sync still happens, so that when that job is enabled again, it will continue to submit runs.

[2020-12-03 14:33] Bobgy commented on #4779
Is the extra logs a huge problem?
There can be optimizations to delete the scheduled workflow when they are disabled, and recreate them when they are enabled again.

[2020-12-03 14:37] Bobgy opened #4862 "[Recurring Runs/Jobs] Cannot delete/disable/enable jobs after reinstalling to a new cluster when using managed storage"
**UPDATE**: full instructions to recover recurring runs after a reinstallation using managed storage have been added in https://github.com/kubeflow/pipelines/issues/4862#issuecomment-759909555

### What steps did you take:

1. install via managed storage
2. create some jobs (recurring runs)
3. delete the cluster
4. reinstall to a different cluster with the same managed storage

### What happened:

[2020-12-03 14:41] Bobgy commented on #4862
Workaround to re-enable a job is to clone it, either in KFP UI or from KFP SDK.

cloning a job via KFP SDK is essentially:
1. get the job's definition via job get api
2. create a new job with different name, but exactly the same payload as the gotten job

It's also possible to iterate through all the old jobs and cloning them to restore them.

However, without directly connecting to KFP DB, it's n

[2020-12-03 14:46] Bobgy commented on #4862
The root cause here is that, a scheduledworkflow custom resource is expected to live in the kubernetes cluster.
Restoring DB in a new cluster won't restore the CRs.

However, all the information in the CRs are still stored in the DB. So it's possible to recreate the CRs from information in the DB. The problem is, when shall we trigger this process?

A naive solution I am thinking about is that, ma

[2020-12-03 17:16] HassanOuda commented on #4440
@yhwang Is there a plan to add this as a PR to include the servicerolebinding and Envoyfilter to be created every time a new notebook server is created in a user namespace? If there isn't, how do you propose I can solve this? Thanks

[2020-12-03 17:20] DavidSpek commented on #4440
@HassanOuda As discussed above the ServiceRoleBinding and EnvoyFilter are workarounds and should not be seen as a secure solution.
https://github.com/kubeflow/pipelines/issues/4440#issuecomment-697317390

The proper implementation will hopefully be pushed upstream by @yanniszark soon.

[2020-12-03 17:22] ekesken commented on #4752
how can we follow the plans for this refactoring?

I would say better not to use terms from Argo if there is a plan to decouple from it.

And it's not just about naming, whole interface is borrowed from Argo for now:
https://github.com/kubeflow/pipelines/blob/1.0.4/backend/src/common/util/workflow.go#L29-L32

So now we have `Workflow` term exists both in Argo and Kubeflow Pipelines, and actually i

[2020-12-03 17:30] jackwhelpton commented on #4433
This would still be good to have: the alternatives involve a fairly substantial rework of our CI/CD process, or something described as "hackish and to be avoided".

[2020-12-03 19:04] alexlatchford commented on #4779
Thanks @Bobgy, for Zillow (I work with @hsezhiyan) we have internal sample projects with CICD that automatically creates a schedule by default for new projects to allow our ML teams to quickly get started with KFP. Investigating that though it looks like a larger number than we anticipated have disabled that schedule. On our end we plan to mitigate this by defaulting these sample projects to not c

[2020-12-03 19:24] rui5i commented on #4857
Hi, in your yaml, there is something like - {name: orders-query, template: orders-query}, I think this should either be a step with format: - name: blahblah or an input parameter/artifact of a certain step with example:
[code]

[2020-12-03 21:21] #4685 closed

[2020-12-03 21:28] nurvenur12 opened #4863 "integer array is not passed to dsl.parallelfor"
I am sending a list of dictionary to dsl.parallelfor function. In the dictionary, one of the item is an array of integer.
dict1 =. [ {'a':1, 'b':2, 'c':[3,4]]]

    with dsl.ParallelFor(ADVERTISERS) as item:
        a = item.a
        b = item.b
        c = item.c

When I execute the operator, I receive the following error:

This step is in Error state with this message: withItems[0][c] expected s

[2020-12-03 22:15] rui5i commented on #4857
Can you also try to set "pipelines.kubeflow.org/max_cache_staleness: 'P0D'" on the yaml annotations and remove the labels?

[2020-12-03 22:33] cabjr commented on #4857
The nodes keep using the cached executions, even after the modifications

[2020-12-04 00:15] Bobgy commented on #1362
/reopen

[2020-12-04 02:42] Bobgy commented on #4752
@ekesken completely agree, it will be called pipeline spec and completely decoupled from argo: https://github.com/kubeflow/pipelines/blob/master/api/v2alpha1/pipeline_spec.proto

[2020-12-04 04:23] rui5i commented on #4857
Hi Alexey, can you help take a look at this issue?

/assign @Ark-kun

[2020-12-04 04:56] Bobgy commented on #4846
Thanks for confirming it's backward compatible, then I have no concern with it.

[2020-12-04 05:06] Bobgy commented on #4565
@rui5i Handling https://github.com/kubeflow/pipelines/pull/4855 properly is still tricky.
I'll write about what we need to do here.

/cc @chensun

[2020-12-04 05:17] Bobgy commented on #4565
1. Merge https://github.com/kubeflow/pipelines/pull/4855 (I've updated dependency to `'kfp-server-api>=1.1.1b1, <2.0.0',` so the pre-released kfp-server-api 1.1.1b1 can be properly installed via pip)
2. Release 1.1.2-rc.1 as usual
3. During 1.1.2 release
    1. Run `./hack/release-imp.sh` instead of `./hack/release.sh` during release, the imp script add all changes to the local repo, so it's still

[2020-12-04 05:18] Bobgy commented on #4565
/cc @chensun @Ark-kun
what do you think about above process for releasing this change?

Maybe, going forward, we should always release `kfp-server-api` package first in the release process, so `kfp` package can update its dependencies during release.

[2020-12-04 06:06] chensun commented on #4565
The offending PR only exists in master, thus not available in 1.1.1b1, right? In that case, isn't 1.1.1b1 the same as 0.2.5?
If that's the case, then we can release 1.1.2-rc1 as usual without waiting for #4855, given we're not releasing `kfp` package 1.1.2-rc1. Instead, we are releasing `kfp` 1.1.2 from master. And only this step is blocked by the setup.py change with `kfp-server-api>=1.1.2-rc1` (

[2020-12-04 07:00] Bobgy commented on #4565
@chensun the offending PR was released in 1.1.1b1 already, but yes, you are right this only blocks `kfp` release, we can skip this problem for backend release.

[2020-12-04 07:20] chensun commented on #4565
I see. Then we can merge $4855 as-is.

[2020-12-04 22:52] animeshsingh commented on #4553
@Bobgy @NikeNano @xinbinhuang any ETA on this? We have a need to move to higher k8s client

[2020-12-05 00:44] Bobgy commented on #4553
@animeshsingh is the latest argo enough for you, or do we need to wait for @NikeNano 's PR in argo?

[2020-12-06 08:47] Bobgy opened #4871 "[Job API] Deletion/disabling should succeed when swf CR not found"
This is a sub-problem of https://github.com/kubeflow/pipelines/issues/4862.

### What steps did you take:
As in https://github.com/kubeflow/pipelines/issues/4862

### What happened:
A Job without corresponding swf CR fails to be deleted because it raises an exception when deleting the swf (sheduledworkflow).

### What did you expect to happen:
The intent is to delete both the Job and the swf, so t

[2020-12-06 08:52] Bobgy opened #4872 "[Job API] Enable a job should recreate swf if not found"
This is a sub-problem of https://github.com/kubeflow/pipelines/issues/4862.

### What steps did you take:
The same as https://github.com/kubeflow/pipelines/issues/4862.

### What happened:
Enable/disable a job fails because swf (scheduledworkflow) not found.

### What did you expect to happen:
swf should be recreated from data in DB to recover this job.

### Environment:

How did you deploy Kubefl

[2020-12-06 08:54] Bobgy commented on #4862
I think #4871 and #4872 should be enough to address this problem:
1. When swf not found, delete should still succeed
2. When swf not found, enabling a job should recover swf according to data in DB

So after reinstallation with existing data in DB, user can run a script that goes over all the jobs and call job enable api to recover them all.

[2020-12-06 18:08] ajinkya933 opened #4873 "ListExperiment requires filtering by namespace."
### What steps did you take:
I am following Kubeflow Pipeline API: https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/

To get the list of pipelines I do GET request on url `http://<istiourl>/pipeline/apis/v1beta1/pipelines` as follows

POSTMAN response:
<img width="742" alt="Screenshot 2020-12-06 at 11 28 56 PM" src="https://user-images.githubusercontent.com/17012391

[2020-12-06 18:15] ajinkya933 commented on #4873
^ @Bobgy  any pointers on what may be going wrong ?

[2020-12-07 07:31] Bobgy commented on #4715
Welcome help from community, the link already points to related documentation. I think we need some minimal instructions specific to this folder.

[2020-12-07 07:33] Bobgy commented on #4873
@ajinkya933 starting from Kubeflow 1.1, KFP has enabled multi-user mode, so you can only filter by a namespace.
Take a look at `resource_key.type` and `resource_key.id` fields, they are the proper way to filter by namespace.

[2020-12-07 07:41] Bobgy commented on #4779
@alexlatchford no worries, let me explain a bit.
The swf controller doesn't call back to the Pipelines API service to see if it's enabled, that information is already in the CRD itself.
See https://github.com/kubeflow/pipelines/blob/74a8178e1d68ad3dad28084673ab74605e0e735d/backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go#L217-L217

It makes sense to exit earlier for schedule

[2020-12-07 07:42] Bobgy commented on #4779
We can probably early exit the controller loop right from the beginning: https://github.com/kubeflow/pipelines/blob/bbfe5e09cc4b4143854b19f4c46fabeadb75263e/backend/src/crd/controller/scheduledworkflow/controller.go#L379-L379

[2020-12-07 13:36] ajinkya933 commented on #4873
I tried with `resource_key.type` as a Header in POSTMAN.   I get:

![Screenshot from 2020-12-07 19-05-21](https://user-images.githubusercontent.com/17012391/101357266-35f3a100-38bf-11eb-9923-3d6b9242b43e.png)

What will be a correct Postman request ?

[2020-12-07 14:09] Bobgy commented on #4873
Hi @ajinkya933, they are query params in the documentation, not headers.

[2020-12-07 15:15] schmidt-jake opened #4876 "The KFP run ID should be a property of each ml-metadata execution"
AFAIK, passing `RUN_ID_PLACEHOLDER` into a component is the only way to link the run ID to the `ml-metadata` system. However, the run ID obviously differs for every run and so causes cache misses.

The real issue is that kubeflow doesn't automatically link the kfp run id to the executions of each pipeline step. It seems to attempt this — there is a `run_id` property on each execution by default, b

[2020-12-07 16:05] alexlatchford commented on #4779
Thanks for pointing this out @Bobgy, we'll see how our mitigation works and whether we need to tackle this too if it doesn't, thanks for being transparent on priorities. Will reach out if we have any more questions!

[2020-12-07 16:34] ajinkya933 commented on #4873
Please let me know correct body format. I tried passing these in the body as follows: (https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/#sw-default-produces)

![body](https://user-images.githubusercontent.com/17012391/101377584-056c3100-38d8-11eb-8b35-326afabb498a.png)

but still have same error :(

[2020-12-07 19:11] alexlatchford opened #4877 "Add in support for podSpecPatch"
Often defining CPU/Mem/GPU resources at compile time is too inflexible. This is especially important if when you deploy your pipeline into different environments you may be sending through smaller datasets to expedite testing and want to recoup hardware costs as we no longer require such large machines.

To do this with Argo they have implemented `podSpecPatch` but this is not exposed in `kfp`, se

[2020-12-07 23:22] Ark-kun commented on #4863
This is a know Argo issue that's recently fixed.
This will be fixed in KFP once we upgrade to latest Argo.

[2020-12-07 23:24] Ark-kun commented on #3332
Perhaps we can deploy a zero-sized auto-scaling node-pool with the marketplace deployment.

[2020-12-08 00:35] paveldournov commented on #3332
We should also write a manual with very specific steps to take to create a GPU node pool in GKE and set it up for auto-scaling with KFP, and provide pipeline examples that would utilize that.

[2020-12-08 00:57] Ark-kun commented on #4339
This seems to be an issue with the Kubernetes cluster software you're using.
KFP cannot make a certain image run if the Kubernetes or container daemon refuses to run it.

As a workaround, you can always use the non-GPU image.

[2020-12-08 00:57] #4339 closed

[2020-12-08 01:06] Ark-kun commented on #4857
@cabjr Hello.
Let me help you with this issue.
The supported way to disable caching for a certain step is described in the documentation:

[code]

Please try this and tell us whether this helps.

The format of produced workflow files is an implementation detail and is subject to change.
KFP supports pipelines produced by the KFP SDK. As you see by the errors ("Invalid input error: Please provide a

[2020-12-08 01:12] Ark-kun commented on #4857
P.S. I've noticed that your pipeline does not use any data passing. I se no components, not inputs and outputs and no argument passing. System-managed data passing is one of the most important features of KFP and is important for getting value. The caching system relies on the data passing information to decide when to reuse an execution (the cached value are reused when all input arguments are th

[2020-12-08 02:04] amygdala commented on #3332
Step 2 of this codelab does that (minus the autoscaling part): https://codelabs.developers.google.com/codelabs/cloud-kubeflow-pipelines-gis/index.html?index=..%2F..index#1

[2020-12-08 05:12] Bobgy commented on #4873
@ajinkya933 let me give you an example
[code]
They should be in query params in the URL, not in body nor header.

[2020-12-08 12:53] cabjr commented on #4857
Hi @Ark-kun , I've tried adding the "pipelines.kubeflow.org/max_cache_staleness": P0D specification inside annotations, but it doesnt seem to work.

I cannot specify the "task_never_use_cache.execution_options.caching_strategy.max_cache_staleness = "P0D" because my pipelines are generated  (yaml) from a kedro pipeline (ml framework for experimentation), thats the same reason as why i cannot specif

[2020-12-08 15:35] karlschriek opened #4878 "Feature request: functionality abstraction based on metadata types"
Somewhat overdue by now, but as promised, herewith a request on a feature I would like to  see incorporated into the next iteration of KFP.

@Bobgy, @aronchick, @neuromage, @IronPan, @lukemarsden

This relates to the discussions we have been having on well-defined types for Artifacts, Executions, Contexts etc. (as is also foreseen by the MLMD data model). Such types are I think not only useful bec

[2020-12-09 01:31] meowcakes opened #4880 "Feature request: Allow specifying number of decimal places for metrics"
Currently metrics are always displayed with 3 decimal places. It would be nice if we could choose the number of decimal places to display a metric with like so:
[code]
If this seems like a reasonable change I will begin working on it.

[2020-12-09 03:58] neuromage commented on #4878
Thanks Karl! Really nice write up!

We have been having very similar thoughts, except that we did not consider the auto-loading/auto-saving aspect of the artifact like you have here. That's a nice idea, but I think the loading/saving part will need to be bundled into the component rather than the pipeline itself.

Using Python classes to represent common Artifact metadata, combined with a simplifi

[2020-12-09 07:28] ajinkya933 commented on #4873
Thanks I replaced `default-profile` with `ajadmin` which is my namespace name and it works well.

[2020-12-09 07:28] #4873 closed

[2020-12-09 09:16] karlschriek commented on #4440
@pedrocwb I have a similar question about 1.1.6 vs 1.3.1. For me the more relevant case is being able to authenticate from outside the cluster. Currently this requires passing the Cognito cookies. I have managed to get this to work with 1.1.6, but it actually looks like this currently doesn't work with 1.3.1.

Even though I pass the correct cookies, I still get the `Request header error: there is

[2020-12-09 14:45] nakfour commented on #4326
Thanks @elikatsis I will try your comment on disabling the outputs, if that works and we can create volumes with ```VolumeOp``` then we should be good. @zsaladin also thanks for the code example

[2020-12-09 17:11] #4475 closed

[2020-12-09 17:12] Bobgy commented on #4107
/reopen

[2020-12-09 17:28] numerology commented on #4878
Yes the current plan we've been exploring delegates loading/saving of the actual content of artifacts to the user code. I think if we want to make it part of the artifact ontology then the SDK code baked in the user container needs to have the ability to handle different file systems (local/GCS/HDFS/S3 etc.), which is less scalable.

Other than that I think we're pretty aligned in the spirit.

[2020-12-09 19:18] numerology commented on #3821
/assign @numerology

[2020-12-10 01:27] Bobgy commented on #4872
After thinking again, I think this is not a good behavior, because when the swf CR is missing, previous run status are lost. So directly re-enabling the job and recreate the swf CR might cause too many backfills.
Usually, people should only recover the job by cloning the job and adding the `noCatchup: true` option to skip too many catchups and only run the latest one.

[2020-12-10 01:28] #4872 closed

[2020-12-10 02:12] #4871 closed

[2020-12-10 08:30] karlschriek commented on #4878
I agree that loading/saving needs to be handled within the component and therefore either needs to be present on the base image (or there needs to be some pre-execution step that installs additional requirements, though I'm not really sure we want that).

I also don't think the KFP SDK should support all different types of file systems (though I think something like that could be a perfectly valid

[2020-12-10 15:59] elikatsis opened #4886 "Persistence agent delays syncing workflow in the db and UI lags"
### What steps did you take:
Submit a run

### What happened:
Sometimes the workflow is running (or even completes) but the UI took very long time to load it (2-5 mins)

### What did you expect to happen:
The UI to be always in sync with the run's state

### Anything else you would like to add:

The UI draws exactly what it finds in the database, but it seems like the database is empty.
It is the

[2020-12-10 16:00] elikatsis commented on #4886
I'll be opening a PR very soon fixing this behavior

/cc @Bobgy

[2020-12-10 19:20] aronchick commented on #4878
I'm similarly of the position that I'd prefer all underlying infra is abstracted from data scientists - that is to say I'd prefer that someone (SRE?) mounts a PV, and the data scientist simply says `my_metatypes.artifacts.model.KerasModel`.

I worry a bit we're mixing code and configuration. As a silly example, what if we had an external file that described steps/types, and then the code implement

[2020-12-10 19:29] aronchick commented on #4878
I like this a lot

The challenge here is as a data scientist, it obscures all the details of the input. I'd prefer it was more visible.

[2020-12-11 10:37] jchaudari opened #4888 "TypeError: Sagemaker - Deploy Model() got an unexpected keyword argument 'update_endpoint'"
### What steps did you take:
[A clear and concise description of what the bug is.]

I am use the re usable Sagemaker Components for building kubeflow pipelines.

sagemaker_train_op = components.load_component_from_url('https://raw.githubusercontent.com/kubeflow/pipelines/cb36f87b727df0578f4c1e3fe9c24a30bb59e5a2/components/aws/sagemaker/train/component.yaml')
sagemaker_model_op = components.load_co

[2020-12-11 12:17] adriangay commented on #4822
re: @elikatsis comment "_But we also see a lot of advanced users who want to actually use ResourceOps and volumes for data passing, so I think we should at least give them the option to be able to do this, if they know what they are doing._", my team are not particularly advanced, but we do need to modify resources, eg. cpu, mem, on the InfraValidator component when using KFP to orchestrate a TFX

[2020-12-11 13:35] ValdasK commented on #4375
Could someone remove this `upsteam issue` label as it has nothing to do with it? @Ark-kun @jlewi

[2020-12-11 15:34] numerology commented on #4888
/assign @mameshini
/assign @PatrickXYS

Do you mind taking a look? Thanks

[2020-12-11 17:05] PatrickXYS commented on #4888
@numerology Thanks!

@akartsky @RedbackThomson Can you take a look?

[2020-12-11 18:29] numerology commented on #4822
@adriangay

Thanks for chiming in! I'm curious what's your use case for TFX InfraValidator: are you looking for configure those resource and make sure the InfraValidator launches pod at a node with those resources?

Meanwhile I don't think the current pattern (i.e. ResourceOp) will suffice in that case b/c the interoperability b/w TFX components and KFP ones is a missing piece right now.

[2020-12-11 23:44] adriangay commented on #4822
@numerology Hi!

We want to use InfraValidator when training models in production to perform the basic 'mechanical' testing of serving the model in a 'sandbox' just like it says in the brochure LOL. So yes, we want to set vCPUs and memory to match the containers used when it's served by KFServing. I've been at this for a few days now.

First I was trying to use ```override_component_config```. I a

[2020-12-12 01:25] yilun-msft commented on #4789
Hi @maganaluis , maybe we could try using the [manifest with OIDC auth](https://www.kubeflow.org/docs/azure/authentication-oidc/) and configure the [blob](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/azure) so that we will not be maintaining `etcd` database while having OIDC support.

[2020-12-12 01:35] numerology commented on #4822
@adriangay

Reading from TFX code here https://github.com/tensorflow/tfx/blob/dc163ce3b1a264cb337f7a25a69737cb19770e81/tfx/components/infra_validator/model_server_runners/kubernetes_runner.py#L140 it does not seem to respect anything passed from KFP side. The source of truth regarding the configuration they are using is from this proto message https://github.com/tensorflow/tfx/blob/dc163ce3b1a264c

[2020-12-12 03:32] supertetelman commented on #4746
Okay thanks. I had looked at this previously and it seemed like more work than I wanted. But it seems with the v1.2 release, the Multiuser mode is built in and the ability I previously had to launch pipelines from a notebook now require auth that was previously unnecessary.

I will take a look at this and report back.

[2020-12-12 20:33] jlewi commented on #4375
I don't have permissions to change labels.

[2020-12-12 21:02] radcheb opened #4890 "Unresolved PipelineParam when static list passed to dsl.ParallelFor contains pipelineParam"
### What steps did you take:
When a dsl.ParallelFor is created with static list containing a pipeline param, the compiler fails with error message: `RuntimeError: Internal compiler error: Found unresolved PipelineParam.`

### What happened:

You can reproduce with the following code:
[code]
Here is the error:
![image](https://user-images.githubusercontent.com/5963615/101994778-52c81400-3cc5-11eb-8

[2020-12-12 21:12] radcheb commented on #4890
Actually when I comment the ` _validate_workflow(workflow)` line in compiler, I get this YAML:
[code]

So the problem comes from the `withItems` containing unresolved pipelineparam:
[code]

[2020-12-13 01:14] naveensrinivasan opened #4892 "Enable Dependabot for security updates"
### What steps did you take:
Enable the Dependabot for security updates within the Github project.

### What happened:
![image](https://user-images.githubusercontent.com/172697/102000515-4092a980-3cb6-11eb-8457-35b8327c3ea7.png)

### What did you expect to happen:
These vulnerabilities are addressed to have a secure application.

/kind bug
 /area backend
/area sdk