[2021-08-12 07:47] Bobgy commented on #6311
before this error shows up, there was a different error that we should also fix:
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1425263307043901440#1:build-log.txt%3A9072

The error seems like a bug, docker executor also do not support optional output artifacts:

[2021-08-12 07:51] ChenhanXmu opened #6313 "What version of kubeflow pipeline can be deployed standalone for k8s v1.12?"
### Feature Area
What version of kubeflow pipeline can be deployed standalone for k8s v1.12?

### What feature would you like to see?
1. What version of kubeflow pipeline can be installed separately for k8s 1.12? I want to see the comparison table of kubeflow pipeline and k8s version.
2. I want to see the functional differences between different versions of kubeflow pipeline.

[2021-08-12 07:58] ChenhanXmu opened #6314 "Can kubeflow pipeline currently support running instances in different namespaces? If not, is there a way to do it?"
### Feature Area

Support runs in different namespaces

[2021-08-12 08:51] anencore94 opened #6315 "[feature] kfp CLI support 'kfp run get <run_id>' in detailed information"
### Feature Area

/area sdk

### What feature would you like to see?
Currently, `kfp run get <run_id>` only shows ["run id", "name", "status", "created at"].
However, user could want to see other information of the run.

### What is the use case or pain point?
For my case, I want to fetch my **run's output metrics** with kfp CLI

### Is there a workaround currently?

Since `kfp.Client()` already h

[2021-08-12 13:26] alexcpn commented on #4976
For new clusters please see this comemnt from the issue 4440

https://github.com/kubeflow/pipelines/issues/4440#issuecomment-871927424

[code]
In my notebook
[code]
Output
[code]

[2021-08-12 13:26] TobiasGoerke commented on #5244
I just ran into the same problem installing manifests 1.3.1 using kustomize.
Adding the label `admissions.enforcer/disabled: "true"` at runtime (even after restrting all cluster pods) did not work for me.
Adding the annotation before the installation, however, **did work** (i.e. modfying or overlaying the MutatingWebhookConfiguration in common/istio-1-9/istio-install/base/install.yaml). No other m

[2021-08-12 14:02] prasadkyp7 commented on #5545
@Bobgy i tried as you suggested , it worked.
But the problem here is . TTL is deleting the pods but not the run details. Because of this , run details SQL Table is becoming full.
when i tried to delete the pipelines using API it deletes both pods and run details.  we want TTL to delete both pod and run details. can you suggest a way to do this ?

[2021-08-12 14:16] neuromage commented on #6311
Thanks @Bobgy. Can you point me to the pipeline sample that fails?

[2021-08-12 14:27] Bobgy commented on #5545
I see, not deleting runs in the DB is the expected behavior.
We don't have TTL feature for the DB. So far, we recommend building a Cron pipeline/job that calls KFP API to list, filter old runs and GC them. Do you see any blockers in that direction?

[2021-08-12 16:16] zijianjoy commented on #6307
I agree with the consistency on naming it `pipeline-root`. Also TFX is using the term `pipeline-root`: https://www.tensorflow.org/tfx/guide/build_tfx_pipeline#using_the_pipeline_class.

[2021-08-12 16:26] zijianjoy opened #6317 "[frontend]: Refresh status icon without manual refresh"
The status icon doesn't get updated until refresh the page. (Is this not supported yet or a bug?)
![Screen Shot 2021-08-11 at 4 44 20 PM](https://user-images.githubusercontent.com/31815555/129117533-913424a3-d19c-478a-b85b-629fdbac5ce2.png)

_Originally posted by @rui5i in https://github.com/kubeflow/pipelines/issues/5779#issuecomment-897233672_

[2021-08-12 16:27] zijianjoy commented on #5779
@Bobgy @rui5i Sounds good, created https://github.com/kubeflow/pipelines/issues/6317 to track this issue.

[2021-08-12 19:51] zijianjoy commented on #6296
I spent a very long time but couldn't install the TFX successfully in my notebook. Let me fix the minor issue first: https://github.com/kubeflow/pipelines/pull/6319

[2021-08-12 20:20] zijianjoy commented on #5779
I got the following errors when I run the following samples using KFP backend 1.7.0-rc.3 and SDK 1.7.0.

[code]

The error I got:

![viserror](https://user-images.githubusercontent.com/37026441/129264086-1f130b9f-74b5-457c-9270-a5751521f562.png)

[2021-08-12 21:59] #6093 closed

[2021-08-13 00:41] zijianjoy commented on #6296
cc @jiyongjung0 Would you like to validate the visualization after TFX upgrade is successful? And would you like to share the reproduce steps here too? Thank you!

[2021-08-13 00:45] zijianjoy commented on #4800
cc @Bobgy

[2021-08-13 00:47] zijianjoy commented on #6306
Also update http://cloud/ai-platform/pipelines/docs/getting-started

[2021-08-13 00:48] zijianjoy commented on #6306
https://github.com/kubeflow/pipelines/blob/master/README.md

[2021-08-13 00:58] zijianjoy opened #6323 "[sdk]: AttributeError: 'NoneType' object has no attribute 'command'"
Compiling the Vertex Pipeline sample produced an error:
...
/opt/conda/lib/python3.7/site-packages/kfp/compiler/v2_compat.py in update_op(op, pipeline_name, pipeline_root, launcher_image)
    127       k8s_client.V1EnvFromSource(config_map_ref=config_map_ref))
    128
--> 129   op.arguments = list(op.container_spec.command) + list(op.container_spec.args)
    130
    131   runtime_info = {

Attribu

[2021-08-13 00:58] zijianjoy commented on #6323
/assign @chensun

/cc @Bobgy

[2021-08-13 01:02] zijianjoy opened #6324 "[backend]: Determine cache scope for pipeline-root and namespace"
How should cache work when everything is same except the pipeline_root?
For example,
pipeline #1 uses minio://xxxx as the pipeline_root
pipeline #2 uses gs://xxxx as the pipeline_root
other configs of pipeline#1 and pipeline#2 are same.
Now pipeline #2 will hit the cache of pipeline #1 but it won't use the pipeline root under gs://xxxx, it will use the pipeline root under minio://xxxx as what pipe

[2021-08-13 01:02] zijianjoy commented on #6324
/assign @Bobgy
/assign @capri-xiyue

[2021-08-13 01:03] zijianjoy commented on #6310
/assign @capri-xiyue

Update kubeflow.org

[2021-08-13 01:08] zijianjoy commented on #6311
/assign @neuromage

[2021-08-13 01:13] zijianjoy commented on #6277
@InsertCoolNameHere Hello, would you like to report this issue on https://github.com/google/ml-metadata/issues?

[2021-08-13 01:18] zijianjoy commented on #6295
@Hmr-ramzi Hello, KFP is using Argo workflow, so you can use the same approach to configure artifact repository: https://argoproj.github.io/argo-workflows/configure-artifact-repository/.

How do you connect with a minio gateway, and how do you connect to a minio tenant? Appreciate it for sharing reproduce steps so we can dig in further.

[2021-08-13 04:36] Bobgy commented on #4649
Documentation is tracked in https://github.com/kubeflow/pipelines/issues/6310

[2021-08-13 04:37] Bobgy commented on #5779
Until this comment, every open issue has been added to https://github.com/kubeflow/pipelines/projects/13#column-14866979.

[2021-08-13 04:42] Bobgy opened #6327 "component migration tool for emissary executor and v2 compatible mode"
For both emissary executor and v2 compatible mode, KFP components must specify `command` explicitly in the component yaml, refer to https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/#migrate-pipeline-components-to-run-on-emissary-executor

I think we could easily build a component migration tool which can be called like:
[code]

The CLI does the following:
1. read the

[2021-08-13 04:42] Bobgy commented on #6327
Please upvote the issue if it'll be helpful to you!
Thanks

[2021-08-13 04:46] Bobgy commented on #6327
Besides, a great improvement only possible with a tool is that, with `docker inspect`, you must pull the image locally before inspecting its command. However, if we can build a tool, the tool can directly call the container registry API to get the command and args without pulling the image locally.

[2021-08-13 04:49] Bobgy opened #6328 "upgrade argo to v3.1.6"

[2021-08-13 04:54] jiyongjung0 commented on #6138
I found some possible cause. It is related to the changes in the way TFX stores their contexts since 1.0.0 (which is related to the changes in the execution stack using TFX IR).

In TFX 0.X, the context were
- type:pipeline, value: "my-pipeline"
- type:run, value: "my-pipeline.my-pipeline-xaew1" (some hash is appended in the second part.)
- type:component_run, value: "my-pipeline.my-pipeline-xaew1

[2021-08-13 05:18] zijianjoy commented on #6138
Thank you @jiyongjung0 for finding the difference between TFX 0.X and 1.0+!

For backward compatibility, what should KFP frontend do to detect if a TFX pipeline is TFX 0.X or TFX 1.0+?

[2021-08-13 05:32] Bobgy commented on #6311
/reopen
postsubmit test is still failing: https://github.com/kubeflow/pipelines/commit/f743dde32f9c468afd6028c282d2440c3e01ecf6

[2021-08-13 06:13] jiyongjung0 commented on #6138
Unfortunately, it seems that there is no direct clue when finding executions. (Artifacts has `tfx_version` property, but there is no such information in Context / Execution.)

I think that we can try to find 1.0 context first, and fallback to 0.X context if not found.

[2021-08-13 06:24] Bobgy commented on #6138
Makes sense to me

[2021-08-13 06:27] zijianjoy commented on #6138
Sounds good, agree with the fallback strategy here.

[2021-08-13 07:30] Bobgy commented on #5560
Hi @wilbry, thank you for your efforts porting kfserving component to use v2 semantics!
Sorry it took a while until I have time to investigate.

Your initial post uses OutputArtifact, but it doesn't exist. Please refer to our updated documentation: https://www.kubeflow.org/docs/components/pipelines/sdk/v2/python-function-components/

[2021-08-13 07:35] Bobgy commented on #5560
OutputArtifact(Model) should be changed to Output[Model]

@wilbry can you share your kfserving_v2.yaml component? I fixed your error, but cannot proceed, because I'm not sure what changes you made to kfserving_v2.yaml.

[2021-08-13 07:36] Bobgy commented on #5560
Quite a few fixes have been released to v2 compatible mode released in kfp sdk 1.7.0 and KFP backend 1.7.0-rc.3 is out. It'll be super helpful if you can have a try on the latest releases.

[2021-08-13 07:41] #6307 closed

[2021-08-13 07:57] #6308 closed

[2021-08-13 08:51] juliusvonkohout commented on #4649
I think the best solution would be if those per namespaces settings are created by default. E.g. minio should create a new bucket with different credentials for each namespace and use /namespace/mlpipeline/artifacts and namespace/mlpipeline/pipelines. The bucket location and credentials could be stored inside the kubeflow profile object from which then the other configs for argo are created per na

[2021-08-13 09:32] #6328 closed

[2021-08-13 13:58] sharmahemlata commented on #5318
As it turns out, my python code was not logging anything because I need to flush the output stream (sys.stdout.flush()).
My issue seems to inside the container source code. Sorry for the bother.

[2021-08-13 15:25] jmcarp opened #6336 "[feature] Expose run metrics"
### Feature Area

### What feature would you like to see?

I would like to be able to instrument runs with metrics for latency, status, retries, etc. Ideally it would be possible to set an instrumentation policy for all runs. For example, Apache Airflow exposes status and latency by DAG and task by default: https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/metrics.html. In t

[2021-08-13 18:12] alanhdu opened #6341 "[sdk] Dict/List json deserialization does not work in Python 3.8"
### Environment
I am using Python 3.8.6 with:
[code]

### Steps to reproduce

If you run:
[code]
and look at the output component, you will see that this dictionary is actually being inteprreted as a string:
[code]

### Expected result

The parse argument should look like:
[code]

### Materials and Reference

I think there are actually two things wrong here. One of them is that the type name norma

[2021-08-13 18:39] zijianjoy commented on #5779
Hello  @chensun , should we export HTML and Markdown in https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/v2/dsl/__init__.py#L23? I am not able to use them when building visualization pipeline.

[2021-08-13 18:52] zijianjoy commented on #5779
All visualization in v2 syntax is not available, need some debugging to figure out the root cause.
![visualizationempty](https://user-images.githubusercontent.com/37026441/129405690-0e935909-25da-41a7-9690-652596104912.png)

[2021-08-13 20:56] zijianjoy commented on #6138
Hello @jiyongjung0 ,

Currently we use this [code logic](https://github.com/kubeflow/pipelines/blob/a94e92e5309b371967917dded31090c63321f93c/frontend/src/mlmd/MlmdUtils.ts#L163-L169) to identify the execution for a specific node using node ID (which is the corresponding Pod ID). However, with the latest integration with TFX, we are unable to find this connection from Execution, see one of the foll

[2021-08-13 21:00] #6197 closed

[2021-08-13 22:05] zijianjoy opened #6346 "[frontend]: Update `name` custom property field reference for visualizaiton."
All visualization in v2 syntax is not available:
![visualizationempty](https://user-images.githubusercontent.com/37026441/129405690-0e935909-25da-41a7-9690-652596104912.png)

Logs

[code]

_Originally posted by @zijianjoy in https://github.com/kubeflow/pipelines/issues/5779#issuecomment-898656999_

[2021-08-14 00:57] #6346 closed

[2021-08-14 01:04] Bobgy commented on #5779
@zijianjoy visualization testing has always been an area of headache, because it needs to be done manually. I think it's possible to automate this by building an e2e test that
1. run the visualization pipeline, returns a URI to the run details page
2. run a UI e2e test (maybe use cypress) that goes to the run details page, click the node and visualization tab, verify the visualization tab content.

[2021-08-14 08:14] #4800 closed

[2021-08-14 09:16] chensun commented on #6341
Hi @alanhdu,

I think it's a known limitation that v1 components (resulted from `create_component_from_func` doesn't really support `Dict` and `List` typed inputs but expect user code to handle the serialization and deserialization.

With v2 components (resulted from `create_component_from_func_v2` or `@kfp.v2.dsl.component` decorator), we do support automatic json serialization and deserializatio

[2021-08-16 02:45] Bobgy opened #6350 "1.7 release - review all container images"

[2021-08-16 03:17] Bobgy commented on #6252
Hmm, getting an image's digest does not seem to include their command and args information.

[code]

I got:
[code]

[2021-08-16 03:21] Bobgy commented on #6252
However, according to https://github.com/distribution/distribution/issues/1252#issuecomment-274944254, this should be possible, just not documented.

https://github.com/distribution/distribution/issues/1252#issuecomment-274944254

[2021-08-16 04:58] chauhang commented on #5768
Added support for [PyTorch KFP Components](https://github.com/kubeflow/pipelines/tree/master/components/PyTorch/pytorch-kfp-components) and [Samples](https://github.com/kubeflow/pipelines/tree/master/components/PyTorch/pytorch-kfp-components) for:
- Model training for PyTorch
- Profiling and visualizations using [PyTorch Tensorboard profiler](https://pytorch.org/blog/introducing-pytorch-profiler-t

[2021-08-16 04:58] #5768 closed

[2021-08-16 05:25] Bobgy commented on #6311
Build starts to fail again, the error message shows up when building inverse proxy image:

Status: Downloaded newer image for gcr.io/inverting-proxy/agent@sha256:2e3c5ecd1a55b32056f3ce0c4aaac05e31b85c361d501bf3f8a81bec14c4fe87
 ---> ce436ce6c655
Step 2/14 : RUN apt-get update && apt-get install -y curl jq python-pip
 ---> Running in 29b8ef43d3d1
Get:1 http://deb.debian.org/debian buster InRelease

[2021-08-16 05:53] Bobgy commented on #6252
Anyway, I cannot find a container registry generic way to do so. I'll stick with `docker pull` for now.

[2021-08-16 08:02] #6323 closed

[2021-08-16 09:22] Bobgy opened #6354 "v2 - support resource requests and limits"
* [x] https://github.com/kubeflow/pipelines/pull/7045
* [x] #7043
* [ ] #7047

[2021-08-16 11:14] Bobgy commented on #6311
The latest postsubmit test run still fails, but only container builder and parameterized tfx samples are failing.
container builder failed because kaniko job times out, it's expected flakiness.
TFX sample will be fixed by jiyong.

https://storage.googleapis.com/oss-prow/logs/kubeflow-pipeline-postsubmit-integration-test/1427197975674753024/build-log.txt

[2021-08-16 12:02] Bobgy commented on #6311
The TFX sample fails with:
[code]
so it seems parameterization isn't fully working in the test infra.

[2021-08-16 12:58] eshaingle commented on #3818
Hello folks,
As we know the pod has archived logs that are successfully shown on the Inputs/Outputs tab in the form of URI.

Log URI: "main-logs
minio://mlpipeline/artifacts/file-passing-pipelines-k6k9w/file-passing-pipelines-k6k9w-3191777755/main.log"

Is there any way to get this URI via api call? In case of failure, we can send this url to check logs.
Any way to get this log url will be helpful

[2021-08-16 17:51] Nagarajj commented on #5673
@Bobgy What is the plan to support non-root containers ? it is difficult to do any PoC with V2 in an enterprise setup due to this. Thanks.

[2021-08-16 18:58] Nagarajj commented on #3398
@PatrickXYS minio-go module is still at 6.0.14, we would like to use IRSA on EKS, Is there a way this could be bumped up to 6.0.45 or latest. Thanks

[2021-08-16 21:17] PatrickXYS commented on #3398
/assign @surajkota

Suraj will be working on AWS part

[2021-08-16 21:17] PatrickXYS commented on #3398
/unassign

[2021-08-16 23:09] surajkota commented on #3398
@PatrickXYS please dont assign tasks to me. I don't have confirmation to pick any tasks

/unassign

[2021-08-17 01:01] Ark-kun commented on #4968
You need to save the object to a file somehow. Often particular library has a built-in method. Otherwise you need to write your own saving and loading code.
Usually, datasets are in CSV, Parquet, Arrow formats.

[2021-08-17 01:06] jiyongjung0 commented on #6138
Hi, this is a bug from TFX side introduced in https://github.com/tensorflow/tfx/commit/24fc5d1db9198a75db11af25cf05c4d3ae05491f. It seems like we don't record pod names in TFX 1.0.0. I'll try to fix this ASAP, and will update the release plan.

[2021-08-17 01:45] Bobgy commented on #6327
For anyone interested, is it fair to assume you installed docker on your computer and we can use the docker-py library for accessing docker?
https://docker-py.readthedocs.io/en/stable/

[2021-08-17 02:10] Bobgy commented on #6310
TODO(Bobgy): update the configmap name to `kfp-runtime`

[2021-08-17 06:43] #6252 closed

[2021-08-17 07:37] jiyongjung0 commented on #6138
I'm trying to include the above fix in the TFX 1.2.0 which is expected to be released tomorrow. I'll update you when the release is finalized.

[2021-08-17 09:22] BenoitLeguay commented on #1933
Any news on this feature ? :)
Thank you !

[2021-08-17 10:56] ChenhanXmu commented on #5924
I have a similar issue, but I don’t know how to solve it. Can someone help me？
![image](https://user-images.githubusercontent.com/13248089/129714165-322d2a52-d89e-4cc1-a12b-57e15998458c.png)
![image](https://user-images.githubusercontent.com/13248089/129714187-f3d89d07-c57a-4b5a-b170-886302b3aa4b.png)

[2021-08-17 10:56] #6154 closed

[2021-08-17 12:13] AseiSugiyama commented on #6327
Hi, I am interested in this issue.

Yes, my team uses docker for each local machine.

I think it is acceptable for us. We hired poetry to manage our local & cloud (container) python environment to keep our environment separated from our system python environment. So any tools written in python are acceptable as well as they can be installed from PyPI.

[2021-08-17 12:14] Bobgy commented on #6311
I got the the error message even though I filled in {{kfp-default-bucket}} from the pipeline parameter.
It seems that the placeholder in model pusher is not resolved.

cc @jiyongjung0

[2021-08-17 14:57] #6112 closed

[2021-08-17 16:12] BenoitLeguay opened #6364 "Pipeline Parameter Attributes (e.g. Grouping and Descriptions)"
This feature request comes from [this issue](https://github.com/kubeflow/kubeflow/issues/5639) from @daenuprobst. @DavidSpek asked him to move it from kubeflow/kubeflow to kubeflow/pipelines but as the author did not do it and because I'm really interested in such a feature, I do it by my own. (I only copy paste the issue tell me if you need more info)

/kind feature

Why you need this feature:
Wh

[2021-08-18 01:19] jiyongjung0 commented on #6138
TFX 1.2.0 was released today and this should be fixed. Thank you again for reporting this!

[2021-08-18 03:11] zijianjoy opened #6374 "KFP UI v2 feedback"
### Feature Area
/area frontend

### Description

We are planning to introduce modern KFP UI in the upcoming V2 release. The current focus is around visualization of DAG workflow. Refer to [[External] KFP UI DAG v2 Early Community Sharing](https://docs.google.com/presentation/d/1hb_HaKFEd6g5FE_F5VjbAGSzqOxmjdkYJa5uwGyGv9E/edit#slide=id.ge8140e3d6f_0_527) slidedeck for a sneak peek of new DAG workf

[2021-08-18 04:24] #3970 closed

[2021-08-18 05:19] #6303 closed

[2021-08-18 05:25] Bobgy commented on #4197
To summarize on the decisions in the backend implementation when supporting namespaced pipelines: https://github.com/kubeflow/pipelines/pull/4835.

1. We now have shared pipelines and namespaced pipelines.
2. Past KFP pipeline resources are now shared pipelines, they do not belong to a namespace and all users can access them. It's TBD for implementing access control for shared pipelines, if we do

[2021-08-18 05:26] Bobgy commented on #5084
Latest status for the backend API implementation is summarized in https://github.com/kubeflow/pipelines/issues/4197#issuecomment-900821642

[2021-08-18 08:12] Bobgy commented on #6311
besides tfx pipeline issues, I see the following error message in test infra very often:
[code]

identified the root cause and sent a fix to argo https://github.com/argoproj/argo-workflows/pull/6561

[2021-08-18 09:45] Bobgy opened #6377 "[pH] migrate all samples to v2 sample test"
## Goal

Unify test infra to reduce maintenance cost on v1 sample test, v1 component test and v1 integration test.

## How

Migrate all the tests mentioned above to v2 sample test infra.

## Why

v2 sample test (designed in https://github.com/kubeflow/pipelines/issues/3505)  is easy to debug, stabler and faster (1h+ vs 20min) than v1 sample test, because
* (debuggability) it is easy to debug a tes

[2021-08-18 09:47] Bobgy commented on #6377
Work required for migration:
* some v1 samples are notebooks, we need to support running notebooks in v2 sample test
* we need to support tfx samples in v2 sample test

[2021-08-18 11:06] #6153 closed

[2021-08-18 11:20] Bobgy commented on #5673
Hi @Nagarajj, this isn't on my priority list right now.
So welcome contributions on this! Feel free to discuss if you need any help.
Or if there are more people chiming in that this is important, we can re-prioritize.

[2021-08-18 11:24] Bobgy commented on #5673
I think what needs to be done is basically making sure all the local dirs v2 compatible mode launcher reads from/writes to should be accessible by all non-root users.

@Nagarajj may I confirm do you require all containers to run as non-root? or is it OK for some KFP system containers to be root? e.g. we have a `kfp-launcher` init container that copies the launcher binary to a shared emptyDir volum

[2021-08-18 11:45] Bobgy commented on #5673
I'd imagine the easiest solution/workaround is to
* mount another emptyDir volume for `/gcs` folder, so it's accessible by all users (because as mentioned, it's part of container contract -- we cannot change the /gcs path)
* change path of `/minio/xxx` and `/s3/xxx` to the same folder as the emptyDir containing the launcher binary

For best practice, I think we should move the volume with launcher

[2021-08-18 13:52] pigbrain opened #6378 "[sdk] Is "verify_ssl" configurable ?"
I am getting this error in my environment.
[code]

To avoid this, `Configuration.verify_ssl` should be set to `False`.

However, there doesn't seem to be a way to set this value now.

Do we have any alternatives?

[2021-08-18 14:12] #6311 closed

[2021-08-18 14:47] Nagarajj commented on #5673
If we can remove restriction on Component container to be non-root it will be good. kfp-laucher init container can be root as we control that.

[2021-08-18 15:38] Sharathmk99 opened #6380 "[frontend] Run frontend server locally for development with multi-user enabled in server(k8s)"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

on-prem Kubernetes cluster - using manifest repo
*  KFP version: 1.6.0

Kubeflow with multi tenancy is deployed in on-prem Kubernetes cluster. Everything is working as expected.
Now trying to do local development for frontend. Followed all instruction to build and run frontend by proxying node server to k8s. I started getting below

[2021-08-18 16:37] zijianjoy commented on #6138
Appreciate it a lot @jiyongjung0 for the quick fix and release of TFX 1.2.0!

The following is what I found:
1. I need to make changes to notebook example for TFX v1.2.0 for pip installation and image. I will send a PR for this, appreciate for your review in advance!
2. I am able to see HTML visualization for staticsgen, schemagen, etc. (yay!), but I am not able to see the visualization of `transf

[2021-08-18 19:20] annajung commented on #6374
Hi @zijianjoy thank you for the demo today during the pipeline meeting, it's really great to see all the changes happening in the UI V2.

Two feedback on possible improvements:
- I personally think that animation of the lines could be distracting especially for a complicated pipeline. Would it be possible to have an option to turn off the animation and have regular arrow lines instead?
- For inter

[2021-08-18 21:19] zijianjoy commented on #6374
Thank you @annajung for the feedback!

Yes it is possible to disable animation. In fact, we will not show animation for `pipeline template`. In the future, I imagine only the `pipeline run`'s edges with currently `running` state will have such animation, which restricts the number of animated edges. We can also show regular arrow edges in the first iteration, and make a decision towards animated e

[2021-08-18 21:48] Tomcli opened #6383 "[sdk] V2 IR compiler cannot compile nested parallel loop"
### Environment

*  KFP version: 1.7.0-rc3
*  KFP SDK version: 1.7.0
*  All dependencies version:

### Steps to reproduce
Below is a simple pipeline to run a parallel loop inside another parallel loop. This works on the V1 compiler but not the V2 IR compiler. The errors we got is about incorrect parameters.

Example pipeline:
[code]

Errors we got from the v2 IR compiler:
[code]

### Expected resu

[2021-08-18 23:04] Tomcli opened #6384 "[sdk] How to substitute image name with KFP parameters using component.yaml"
### Environment

*  KFP version: 1.7.0-rc3
*  KFP SDK version: 1.7.0
*  All dependencies version:

### Steps to reproduce
We are trying to convert the [pipelineparams.py](https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/pipelineparams.py#L31) example to load from component.yaml, but we have a hard time to pass the pipeline parameter as the image name. The error

[2021-08-18 23:16] Tomcli opened #6385 "[sdk] How to convert dsl.InputArgumentPath into component.yaml"
### Environment

*  KFP version: 1.7.0-rc3

*  KFP SDK version: 1.7.0

*  All dependencies version:

### Steps to reproduce
From the testdata [input_artifact_raw_value.py](https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/input_artifact_raw_value.py#L30). We want to know how to convert the `dsl.InputArgumentPath` feature in this example to load from component.yam

[2021-08-18 23:18] Tomcli commented on #6383
/cc @neuromage @chensun @animeshsingh

[2021-08-18 23:19] Tomcli commented on #6384
/cc @neuromage @chensun @animeshsingh

[2021-08-18 23:19] Tomcli commented on #6385
/cc @neuromage @chensun @animeshsingh

[2021-08-19 00:41] anupash147 commented on #4569
the kf-sdk does not work with token. If we can generate the token we can pretty much use it but just does not work. Dont know how its designed

[2021-08-19 01:39] jiyongjung0 commented on #6138
@zijianjoy

Thank you so much!!

For 2.(Transform output) It seems like an inconsistency in TFX implementation. The artifact from Transform was added recently and I never tried before. I'll talk with other TFX folks and get back to you.

For 3.(Evaluator), We need to change the `preprocessing_function_names` in the evaluator config. Please see https://github.com/tensorflow/tfx/blob/34bdbc8c0f7c2d0

[2021-08-19 01:56] darthsuogles commented on #6204
Thank you!
Any chance you had time working on this in the past couple of weeks?

[2021-08-19 02:23] Bobgy commented on #6256
Thank you for implementing the backend API change! Welcome continuing the UI integration, but you can always leave that to a different contributor too.

[2021-08-19 02:33] casassg commented on #6256
I'm happy to contribute to UI as well. Using this as a learning opportunity.

However if someone else comes w this issue and wants to implement it, let me know! (I will add to my backlog once backend gets merged, but I dont know when I can focus on this)

[2021-08-19 04:14] zijianjoy opened #6389 "[backend] GoogleCloud Marketplace inverse proxy cannot forward hosted KFP UI"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
GCP Marketplace hosted KFP
*  KFP version:
1.7.0-rc.3

### Steps to reproduce

Deploy 1.7.0-rc.3 using GCP marketplace:

Create a K8s 1.18 cluster using Marketplace, I have deleted and redeploy KFP instance multiple times. When I create KFP again, I select enable emissary executor and managed storage options.

I cannot access the KFP

[2021-08-19 04:52] Bobgy commented on #6389
@zijianjoy after you finish `kubectl rollout restart deployment/proxy-agent -n default` step, did you check what's the hostname in the configmap? Note, it will be a different hostname from before.

Besides, can you also log the exact error code/message you hit when visiting the inverse proxy URL.

[2021-08-19 04:59] Bobgy commented on #5673
Thanks for the clarification! I think my above design works under these assumptions.

[2021-08-19 05:04] #6306 closed

[2021-08-19 05:17] Bobgy commented on #6296
let's keep tracking the issue in https://github.com/kubeflow/pipelines/issues/6138

no need to have two separate threads

[2021-08-19 05:17] #6296 closed

[2021-08-19 06:00] alexcpn opened #6390 "[sdk] Not able to pass Custom Data Types to V2 Pipeline (works with v1)"
### Environment

*  KFP version:

[code]
*  KFP SDK version:

[code]
*  All dependencies version:

[code]

### Steps to reproduce

For V1 pipeline the following works

[code]
However for V2, the same function is giving an execution error

[code]

### Expected result

Custom data types should work a in v2 as in v1

### Materials and Reference

Full v1 code -

https://colab.research.google.com/drive

[2021-08-19 13:23] #6067 closed

[2021-08-19 17:01] casassg commented on #6256
Start frontend changes, found out that I missed an endpoint for backend (the HTTP upload one, as those dont use grpc)

[2021-08-19 17:02] casassg commented on #6256
Will also start a separate PR to update kfp sdk

[2021-08-19 17:25] jonasdebeukelaer opened #6394 "[sdk] add_pvolume failing with unhashable type error"
### Environment

*  KFP version: `1.7.0-rc.4`

*  KFP SDK version: `1.7.0rc4`
*  All dependencies version:
[code]

### Steps to reproduce

I'm trying to mount an existing pvc 'azure-managed-disk'  to my components via add_pvolume, but is failing with a type error I can't pin down.

Minimal code snippet:
[code]

full error trace:
[code]

### Expected result

The pvc would be mount to path `'/mnt/da

[2021-08-19 18:08] zijianjoy commented on #6389
@Bobgy That is a good point, I noticed that the hostname is still the same even if I reset the inverse-proxy-config and restart proxy-agent. I checked the log from proxy-agent:

[code]

[2021-08-19 18:13] zijianjoy commented on #6138
Document the conversation:

Now TFX moves the information in Execution to Context with type `node`. see code: https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/metadata.py#L428-L435.

KFP will consider the possibility to showing context for TFX.

[2021-08-19 21:47] zijianjoy commented on #6215
Added in https://github.com/kubeflow/pipelines/blob/master/frontend/src/lib/v2/WorkflowUtils.ts#L35

[2021-08-19 21:47] #6215 closed

[2021-08-19 21:49] zijianjoy opened #6397 "Define static status css styling for Edges. (need UX help)"

[2021-08-19 21:51] zijianjoy opened #6398 "Support breadcrumb to navigate among sub-DAGs."

[2021-08-19 21:53] zijianjoy opened #6399 "When click Execution, shows Input/Output parameters, Arguments, Command, Image. (Volume Mounts not supported yet)."

[2021-08-19 21:56] zijianjoy opened #6400 "Show active V2 runs list, show archived V2 runs list. When not breaking v1 run list"

[2021-08-20 00:41] zijianjoy commented on #6394
cc @chensun for sdk advice.

[2021-08-20 00:43] zijianjoy commented on #6390
duplicate https://github.com/kubeflow/pipelines/issues/5711

cc @chensun

[2021-08-20 00:43] #6390 closed

[2021-08-20 00:44] zijianjoy commented on #6385
/cc @Ark-kun

[2021-08-20 00:49] zijianjoy commented on #6380
You can install https://modheader.com/guide/

Then add the request header: X-Goog-Authenticated-User-Email with value: `accounts.google.com:<user-email-address>`

[2021-08-20 00:52] zijianjoy commented on #6364
@BenoitLeguay You can create a json parameter which allows you to specify arbitrary key-value pair.

[2021-08-20 00:56] zijianjoy commented on #6315
This feature makes sense, welcome contribution!

[2021-08-20 00:58] zijianjoy commented on #6314
Hello @ChenhanXmu , have you explored using multi-tenancy mode? does it fit your use case?https://www.kubeflow.org/docs/components/pipelines/multi-user/

[2021-08-20 01:00] zijianjoy commented on #6313
Hello @ChenhanXmu , Kubernetes 1.12 has been a very old version, which is deprecated for support. Can you try kubernetes 1.18?

[2021-08-20 01:03] zijianjoy commented on #6282
duplicate #5257

[2021-08-20 01:03] #6282 closed

[2021-08-20 01:11] zijianjoy commented on #6269
https://argoproj.github.io/argo-workflows/examples/#artifacts: Artifacts are packaged as Tarballs and gzipped by default.

You can try not to unzip the file when reading, because it is automatically unzip by argo.

Or you can try KFP v2 compatible to see whether it fixes your issue.

[2021-08-20 01:12] zijianjoy commented on #6255
duplicate #6304

[2021-08-20 01:12] #6255 closed

[2021-08-20 01:14] zijianjoy commented on #6254
tracking issue in
https://github.com/kubeflow/pipelines/issues/5545

[2021-08-20 01:14] #6254 closed

[2021-08-20 01:25] anencore94 commented on #6315
/assign @anencore94

[2021-08-20 01:39] vinayan3 commented on #3405
@Jeffwan Did you have a PR or an example for using minio as a gateway to s3? I've been standing up Kubeflow on AWS and I'm a bit concerned about the number of places the patches that need to go in for S3. Instead of patching all these deployments I'd prefer to just patch the minio components and then be done with it.

[2021-08-20 03:26] Bobgy commented on #6389
This error is expected.

[2021-08-20 03:29] Bobgy commented on #6327
Thanks for the confirmation @AseiSugiyama!
I'm still waiting for more interest feedback.

In the meantime, if anyone wants to build the tool, welcome doing so!

[2021-08-20 03:35] Bobgy commented on #6311
There's one last thing, we reached model count quota again, because of https://github.com/kubeflow/pipelines/issues/2356

[2021-08-20 03:39] Bobgy commented on #2356
The script now needs to include region:

[code]

[2021-08-20 08:23] BenoitLeguay commented on #6364
I will try that ! Thank you @zijianjoy !

[2021-08-20 08:40] Bobgy commented on #5667
All P0s are done, great work @capri-xiyue @zijianjoy

[2021-08-20 08:40] #5667 closed

[2021-08-20 08:59] cavepopo commented on #4505
Getting hit by this very same behaviour.
Rancher 2.5.8,  k8s v1.20.9.

Any workaround ? I'm still too noobish to hack the cert-manager and other resources...

[2021-08-20 14:03] jonasdebeukelaer commented on #6394
Note: I tried the same thing using the v1 sdk but got the same `unhashable type` error

[2021-08-20 19:03] Ark-kun commented on #6385
There are 3 main data passing placeholders supported by `component.yaml`:

* `{inputValue: Input 1}`
* `{inputPath: Input 1}`
* `{outputPath: Output 1}`

`InputArgumentPath` in ContainerOp corresponds to `{inputPath: Input 1}`

[2021-08-20 19:10] Ark-kun commented on #6384
Changing image name is not supported by component.yaml. The rationale is that `component.yaml` describes a command-line program inside a particular image.

There are several workarounds:

* Use image tags in component.yaml and update the tag in the container registry as needed
* For CI/CD, you might want to patch the component.yaml with freshly-built image
* In general, to support reproducibility,

[2021-08-20 19:22] Tomcli commented on #6385
Thanks @Ark-kun for the clarification. One more question, will the `component.yaml` still able to use raw value as input artifacts? e.g.
https://github.com/kubeflow/pipelines/blob/fa1cf410f6c0a504d03bb3fc3b0159fcf5fceffc/sdk/python/tests/compiler/testdata/input_artifact_raw_value.py#L53
https://github.com/kubeflow/pipelines/blob/fa1cf410f6c0a504d03bb3fc3b0159fcf5fceffc/sdk/python/tests/compiler/te

[2021-08-20 19:43] Tomcli commented on #6384
Thanks @Ark-kun for the workaround. Replace the container image with `task1.container.image = ...` works for us because we want to keep the backward compatibility for changing image tags using pipeline params. I can close this issue now.

[2021-08-20 19:43] #6384 closed

[2021-08-20 20:37] Ark-kun commented on #6385
There is not change here compared with `ContainerOp`

Passing constant values to any component inputs is supported by the `component.yaml` design which does not separate inputs by the way the implementation consumes them.

This is supported in KFP v1: See the data passing test suite https://github.com/kubeflow/pipelines/blob/9ad37cc2a838fd50a1c2099815402f735ba602cb/samples/test/data_passing.py#L10

[2021-08-20 23:32] vinayan3 commented on #6204
@Bobgy in terms of production some guidance on what components can have > 1 replica would be very useful. Initially, I'm planning to try to increase the replica count to 2 for `ml-pipeline-ui`. This should allow users to see something even if other things are down.

The other things that I think could have replica count >1 is:
- `ml-pipeline`
- `metadata-grpc-service`
- `ml-pipeline-visualizations

[2021-08-20 23:48] Bobgy commented on #6204
Some of these tips are Google Cloud specific, but most of them are general advice.

Deploy in a regional cluster, even if your workload runs on zonal nodepools. Regional clusters have multiple instances of K8s api server, so K8s api is highly available. During scaling, upgrade or many maintenance operations, zonal cluster k8s api servers are not responsive.

For KFP on GCP configure a nodepool def

[2021-08-21 00:00] Bobgy commented on #6204
This is something I haven't experimented much, from my understanding:
* ml-pipeline-ui
* ml-pipeline*
* metadata-grpc-service*
* ml-pipeline-visualizationserver

can be made multi replica right now.

There is a caveat that ml-pipeline and metadata-grpc-service upgrade DB schema on start up, so if you are doing an upgrade, recommend changing replica to 1 first.

The controllers should be able to ru

[2021-08-21 00:07] Tomcli commented on #6385
Thanks @Ark-kun, I converted the example based on the usage in the test suite and it works as expected in V1. We look forward to seeing this feature be supported in V2 as well.

[2021-08-21 00:07] #6385 closed

[2021-08-21 13:18] Bobgy commented on #4505
I highly recommend checking out v2 caching now, it does not depend on any privilege.

https://www.kubeflow.org/docs/components/pipelines/caching-v2/

[2021-08-21 14:46] alexcpn opened #6410 "[sdk] Pipeline V2 - Ouput[Dataset] giving error - TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Environment

*  KFP version:

[code]
*  KFP SDK version:

[code]
*  All dependencies version:

[code]

### Steps to reproduce
I was having error trying to convert Pipeline V1 version to V2 (Output[Dataset]) and Aritifact way. as per this https://github.com/kubeflow/pipelines/issues/6390

Was getting error  with Output[DataSet] in my simple component

[code]

and then tried to execute the sampl

[2021-08-21 21:21] vinayan3 commented on #6204
@Bobgy I've taken the suggestions above for the things that can have more than replica count one. I've also added in PodDisruptionBudgets and put Pod Topology Spread Constraints to avoid all the replicas going onto a single node.

I'll have to look into getting the argo workflow controller to have an active / passive mode.

Thanks for suggestions and advice. It's really appreciated.

[2021-08-22 00:43] Bobgy commented on #6204
Cool, interested to see how that plays out.

[2021-08-22 07:00] Bobgy commented on #5272
Obsolete

[2021-08-22 07:00] #5272 closed

[2021-08-22 07:02] Bobgy commented on #1654
Documentation: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/
Issue: https://github.com/kubeflow/pipelines/issues/5718

We are now recommending the emissary executor (Alpha, released in KFP 1.7.0), welcome feedbacks!

[2021-08-22 07:02] #1654 closed

[2021-08-22 07:03] Bobgy commented on #5285
We now recommend emissary executor instead: https://github.com/kubeflow/pipelines/issues/1654#issuecomment-903224028

[2021-08-22 07:03] #5285 closed

[2021-08-22 07:04] #4991 closed

[2021-08-23 06:10] Bobgy commented on #4790
Server side filtering is available in ml-metadata 1.2.0!!
https://github.com/google/ml-metadata/blob/839308f502f97299ce5ee02852ca86e702211386/ml_metadata/proto/metadata_store.proto#L852

[2021-08-23 06:12] Bobgy commented on #4790
For anyone interested, for your namespace separation requirements, do you want metadata DB to be
1. one instance per namespace
2. shared instance per cluster and use namespace context to filter stuff in a certain namespace

[2021-08-23 09:10] ConverJens commented on #5138
@Bobgy Has anyone started updating the documentation? We are very interested in this.

[2021-08-23 09:10] jonasdebeukelaer commented on #6394
ohhhhhh jeez closing this as it seems I forgot how to define dicts in python 🤦

`{"/mnt/data", vol}` -> `{"/mnt/data": vol}`

🤦 🤦 🤦 🤦

[2021-08-23 09:10] #6394 closed

[2021-08-23 11:44] rubenaranamorera commented on #6204
@Bobgy Is there any easy way to integrate kubeflow pipelines directly with gitops? currently we are just converting our pipelines to Argo workflows. We can run and schedule those pipelines, but we are losing all fancy kubeflow capabilities from the UI and complicates things for DataScientists. Any ideas on this?

[2021-08-23 11:52] rubenaranamorera commented on #1132
Is this something that is still possible? it would be nice to have pipeline CRDs to be able to integrate pipelines with GitOps without loosing all UI capabilities

[2021-08-23 13:39] cavepopo commented on #4505
Hi @Bobgy ,
Thanks for the tips, excuse my noobiness but how should I use the caching-v2 on an existing install or for a a new install ?

Thanks

[2021-08-23 14:24] motilalmeher opened #6411 "Kubeflow GCP component to deploy model error."
1)Previously same pipeline code was working perfectly but now getting errors in the deployment step. Other steps are working fine.
2)Kubeflow prebuild component for model deployment on GCP Ai platform do not have region option(In which region model should deploy). But through the gcloud command, we can set the region while the model and version create and there are no problems in model deployment.

[2021-08-23 21:40] jli commented on #5858
Hi team, any progress on this issue?

My team is use KFP in production, and we want to add monitoring/alerting to our production pipelines so we know when things fail. The KFP ExitHandler seems like the perfect tool for this, but we cannot use it due to this bug.

Any hints about workarounds would also be appreciated. It seems like it's most likely an underlying Argo problem, right? Will this get

[2021-08-24 01:55] zm274310577 opened #6416 "[bug] the pipeline can not mount pvc"
### What steps did you take
when i create a run, the pipeline require a pvc(the pvc is created in the 'user' namespace and i am using the 'user' namespace )

### What happened:
when i describe the pod, the pvc mount failed.
Events:
  Type     Reason       Age        From               Message
  Normal   Scheduled    <unknown>  default-scheduler  Successfully assigned user/laji-fenlei-pipeline-lrml

[2021-08-24 06:02] zijianjoy opened #6419 "Define static status css styling for sub-DAG. (need UX help)"

[2021-08-24 06:04] #6397 closed

[2021-08-24 12:54] Bobgy commented on #4505
@cavepopo no worries. You'll need to either upgrade your existing install or make a new install.
Note the version requirement:

[2021-08-24 13:32] Bobgy commented on #6150
P0 work items done

[2021-08-24 13:32] #6150 closed

[2021-08-24 19:31] jmcarp opened #6424 "[feature] Add helper function to change pipeline/operation ksa"
### Feature Area

/area sdk

### What feature would you like to see?

I would like to see a helper function in the sdk to run pods using a kubernetes service account other than `pipeline-runner`. Discussed in slack at https://kubeflow.slack.com/archives/CE10KS9M4/p1629610669092400.

### What is the use case or pain point?

I'm using gke workload identity to map gcp service accounts to kubernetes s

[2021-08-24 21:28] ckchow opened #6426 "[sdk] pipeline parameters, CustomPythonPackageTrainingJobRunOp, NoneType object is not subscriptable"
### Environment

*  KFP version: N/A (vertex AI job)
*  KFP SDK version: 1.7.0
*  All dependencies version:
[code]

### Steps to reproduce
[code]

yields:
[code]

I think the aiplatform client / kfp translator function is parsing something wrong. Or perhaps I'm using / not using `str()` enough? It does create a pipeline when I use `str()` on all the op arguments but I think that causes the op to n

[2021-08-25 06:35] Bobgy commented on #5333
superceded by https://github.com/kubeflow/pipelines/issues/6204

[2021-08-25 06:35] #5333 closed

[2021-08-25 06:36] Bobgy commented on #6204
@rubenaranamorera There's a feature request in https://github.com/kubeflow/pipelines/issues/6001.

[2021-08-25 06:42] Bobgy commented on #6204
minor update, I added a last point in [my comment above](https://github.com/kubeflow/pipelines/issues/6204#issuecomment-903011330) about configuring a lifecycle policy for the object store.

[2021-08-25 09:54] NikeNano commented on #6001
/assign
I will take a look at this.

[2021-08-25 09:56] NikeNano commented on #6204
You(@rubenaranamorera ) can use the SDK if you like to, I did some stuff with this for github actions(it has not been update in quite some time so might need some love to work for you) https://github.com/NikeNano/kubeflow-github-action.

[2021-08-25 10:13] jonasdebeukelaer opened #6428 "[frontend] logs and artifacts stored in different Minio locations and can't be accessed by frontent"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? from repo
*  KFP version: 1.7.0
To find the version number, See version number shows on bottom of KFP UI left sidenav. -->
*  KFP SDK version:
[code]

### Steps to reproduce

* run a pipeline and store an artifact
* delete the pod

Then we see that:
* The artifact (and its preview) can be seen in the output list of Input/Output tab
*

[2021-08-25 10:54] jonasdebeukelaer opened #6429 "[sdk] VolumeOp support for sdk v2"
### Environment

*  KFP version: 1.7.0
*  KFP SDK version:  1.7.0
*  All dependencies version:
[code]

### Steps to reproduce

try to create a PVC using `kfp.dsl.VolumeOp`

end up with
[code]

code sample:
[code]

and there are a number of other incompatibilities too.

### Expected result

The pipeline compiles, and a pvc would be created for an existing pv.

### Materials and Reference

Happy to

[2021-08-25 11:45] eshaingle opened #6430 "Return minio log url when getting the status of a run using rest api call"
Hello folks,
we see archived logs that are on the Inputs/Outputs tab under Output artifacts in the form of URI on Kubeflow UI.

Log URI: "minio://mlpipeline/artifacts/..../.../main.log"

We have a rest end point from kubeflow side where we get status for specific run id.
```http://kubeflow-hostt/ml-pipeline/apis/v1beta1/runs/runId```

we need the logs url appended in the output as a parameter of a

[2021-08-25 12:38] haoxins opened #6431 "[components] Upgrade minio to the latest version"
### Feature Area

/area components

Is there any reason not to upgrade the [**`minio`**](https://hub.docker.com/r/minio/minio/tags) to the latest version?
Is it open for others to submit PR for this?

[2021-08-25 13:28] NikeNano opened #6432 "[feature] Allow time to live to be set on pipelines individually while supporting the persistance agent to do the GC."
### Feature Area

There have been multiple issues related to time to live(ttl) for pipelines, https://github.com/kubeflow/pipelines/issues/5545, https://github.com/kubeflow/pipelines/issues/5234. A common solution is to use `set_ttl_seconds_after_finish` which don't respect the persistence agent and can resolve in that data is lost for the users.

In order to allow users to
configure the ttl for p

[2021-08-25 13:28] NikeNano commented on #6432
ping @Bobgy WDYT?

[2021-08-25 15:12] thomas-mueller opened #6433 "[sdk] Compilation problems in kfp==1.7.1 when creating two independent operators from the same python component."
### Environment

[code]

### Steps to reproduce

I have a python component function and call it twice in a pipeline with different parameter to create two independent operators from it. But during compilation of my pipeline, I get to following error:

[code]

My python function is called `kf_comp_iterable_indices `. It all works with `pip install "kfp<1.7.1"` which results in version 1.7.0.

### E

[2021-08-25 16:19] etsyamitra opened #6435 "Allow custom mounting for kfp local runner"
### Feature Area
Have been using the kfp local runner feature using the docker execution environment.
......

run_pipeline_func_locally(
        pipeline_func,
        arguments={
            "train_output_dir": TRAINER_OUTPUT_PATH,
        },
        execution_mode=LocalClient.ExecutionMode("docker"),
    )
[code]
['docker', 'run', '-v', '**/tmp:/tmp**', '<image>, '--training_epochs', '1', '--mod

[2021-08-25 17:17] zijianjoy opened #6436 "Upgrade MLMD proto to 1.2.0 or above to get filter_query"

[2021-08-26 00:16] jmcarp opened #6445 "[feature] Validate IAP JWT header"
### Feature Area

### What feature would you like to see?

I would like to use the Google IAP as an auth proxy for the KFP UI. As a secondary security measure, Google recommends verifying the JWT header from IAP at the application layer: https://cloud.google.com/iap/docs/signed-headers-howto. As discussed in https://kubeflow.slack.com/archives/CE10KS9M4/p1629833793108400, we can do this in KFP usi

[2021-08-26 07:52] Bobgy opened #6451 "KFP SDK v2 compatibility mode feedback"
Documentation: www.kubeflow.org/docs/components/pipelines/sdk/v2/v2-compatibility/
Design: [bit.ly/kfp-v2-compatible](https://bit.ly/kfp-v2-compatible)
[New Features](https://docs.google.com/document/d/139pweX3PtCv96DLeyVYzZpcf3mB1Z0MFvjSEmu4D3tg/edit?pli=1#heading=h.jmnajnr9e0zj)
Breaking Changes and Known Caveats: https://github.com/kubeflow/pipelines/issues/6133

For **feedbacks**, comment on t

[2021-08-27 18:36] mlu4679 opened #6457 "[bug] Problem starting a pipeline run with REST api"
### What steps did you take

I am trying to use the KFP REST API in order to create a new run of a pipeline that already exists.
Using the python requests package, I am authenticating myself in order to use POST and GET requests with the API. Currently, the GET requests work as intended, however, when I try to use a POST request to start a new pipeline run, I run into an error. A snippet of the co

[2021-08-27 23:47] chensun commented on #6435
Just realize `run_pipeline_func_locally` is a wrapper function which does not expose the `pipeline_root` parameter.

https://github.com/kubeflow/pipelines/pull/6462 should fix the issue.

[2021-08-28 00:36] Bobgy commented on #6431
Thanks, we don't allow AGPL, so if upgrade, we can only choose a version before it was changed to AGPL.

[2021-08-28 00:42] Bobgy commented on #6431
We might need to consider a MinIO alternative, so that people can keep getting security fixes.

[2021-08-28 03:55] jmcarp commented on #6424
@Bobgy I wrote up #6455, but it looks like we're thinking about different parts of the code. Does my PR make sense, or should I try a different approach?

[2021-08-28 13:31] jli commented on #5858
FWIW, I switched to using a yaml-based component definition instead of `create_component_from_func`, and that seems to have fixed the issue with the parse error.

It still seems that the `workflow.failures` is string-escaped twice (as if the value is from `str(json.dumps(failure_object))` instead of just `json_dumps.(failure_object)`, so I had to undo that extra escaping with `ast.literal_eval`.

[2021-08-28 23:59] #6436 closed

[2021-08-29 02:33] benhyy opened #6465 "[bug] Unhandled SageMaker training job status 'stopped' causing infinite loop"
### What steps did you take

Code gets stuck in infinite loop is SageMaker training job gets stopped (unhandled use case)

### What happened:

https://github.com/kubeflow/pipelines/blob/master/components/aws/sagemaker/train/src/sagemaker_training_component.py#L57-L66

Above code only caters for training job status `Completed` or `Failed`, so if the training job status is marked as `Stopped`, it ca

[2021-08-29 07:35] NikeNano commented on #6465
Thanks for adding this issue. You are more than welcome to contribute a fix @benhyy.

[2021-08-29 14:16] NikeNano commented on #6001
I will write a design doc during the week.

[2021-08-30 02:40] pigbrain commented on #6378
@zijianjoy  Hello, yes, it works fine with http. but, If I add https, I get the above error.

[2021-08-30 03:44] Bobgy commented on #6350
WIP

[2021-08-30 04:47] Bobgy commented on #6256
There's a report the SDK change caused a regression:
[code]

[2021-08-30 04:48] Bobgy commented on #6256
I'll be taking a look

[2021-08-30 06:42] Bobgy commented on #4862
Ohh, https://github.com/kubeflow/pipelines/issues/6001 is the right place to continue discussions

[2021-08-30 06:47] Bobgy commented on #6001
To explain a bit of history, KFP decided to use mysql as source of truth instead of Kubernetes API, because many KFP features rely heavily on filter by field, order by field, pagination functionalities that is not very well supported by Kubernetes API (or not performant to support).

There can be many runs that exceeds the limit of etcd. However, it seems reasonable to assume the number of enabled

[2021-08-30 06:56] Bobgy commented on #6001
cc @NikeNano, what I mentioned in https://github.com/kubeflow/pipelines/pull/6207#issuecomment-906807494 is exactly meant for this use-case. If users can manually author recurring run spec and apply them to cluster using gitops, then it's more user-friendly to let them specify pipeline names + default pipeline version, or pipeline name + version name, compared to IDs.

[2021-08-30 07:13] Bobgy opened #6469 "v2 - downloading/uploading artifacts should be backoff retried"
v2 sample test flaky when downloading/uploading artifacts with error message:
[code]

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/6468#issuecomment-908093370_

[2021-08-30 07:20] Bobgy commented on #6469
the error is expected, because network is not always stable.
In these cases, we should have a backoff retry to handle the flakiness of network.

[2021-08-30 09:26] chensun commented on #6424
I tend to think service account as a submission time configuration. In that sense, adding the option to the client is probably better. That's also what we did for Vertex Pipelines client:
https://github.com/kubeflow/pipelines/blob/9afe125a759d8291f8a7732c6f81ca149c8c4ed5/sdk/python/kfp/v2/google/client/client.py#L272

#6455 would not be compatible with KFP v2 or Vertex Pipelines.

[2021-08-30 11:21] #6315 closed

[2021-08-30 12:34] lambertsbennett commented on #5706
To my knowledge this has not been resolved.

[2021-08-30 15:36] etsyamitra commented on #6435
@chensun Thank you so much for working on it, would there be any way to expose the docker --entrypoint as well? It could be either at pipeline level or at component level to keep it custom.

[2021-08-30 16:09] bartgras commented on #5138
@elikatsis @Bobgy Would that be enough?

[2021-08-30 17:55] #6435 closed

[2021-08-31 00:30] Bobgy commented on #6433
@thomas-mueller can you provide a minimal reproduction sample?

[2021-08-31 00:36] Bobgy commented on #6410
@alexcpn can you try KFP 1.7.1, is the same issue still reproduceable?

[2021-08-31 05:58] cah-parita-desai commented on #6426
@Bobgy Were you able to try this one?
I m still stucked at this.
@ckchow : Were you able to fix this one?

[2021-08-31 09:58] jonasdebeukelaer commented on #6428
Not sure if related to that issue @Bobgy but looking in the workflow-controller-cofnigmap-patch.yaml
the keyFormat is completely different to where the UI looks for logs/metrics:
[code]

I tried changing this to
[code]

but the object path wrong as UI looks for e.g. `{{component display name}}/metrics` whereas this saves as `{{component display name}}-metrics.tgz`

[2021-08-31 10:18] Bobgy commented on #6416
@yanniszark @elikatsis do you want to take a look?

[2021-08-31 10:25] chensun commented on #6426
/assign @SinaChavoshi @IronPan

[2021-08-31 10:28] zm274310577 commented on #6416
@Bobgy thinks a lot. The problem has been solved, the pvc is created in another microservice. when the user is cephfs(I created it before),  mount failed. change to admin, mount success. here is the code.

[code]

As for why cephfs failed, I don't know yet, but it's enough for me

[2021-08-31 10:28] #6416 closed

[2021-08-31 14:09] sujaykulkarn opened #6479 "Which all artifact types can be created using the pipeline sdk which are supported by argo workflows?"
Hi, I was trying to understand how to create HTTP, git and other artifacts using SDK which are supported by Argo Workflows. (https://argoproj.github.io/argo-workflows/configure-artifact-repository/) please help with your inputs on how to create pipelines using these artifacts. Thanks

[2021-08-31 14:22] juliusvonkohout commented on #5578
The following is possible. If you are interested in a merge request please tell me.

I
1. upgraded to 2.0.4
2. removed insane permissions (e.g. privileged root container)
3. removed insane cpu and memory ressources (4 cores 4 GB)
4. Added networkattachmentdefinitions for rootless istio-cni on Openshift and updated the profile-controller accordingly

Sadly it still needs cluster admin-rights, but m

[2021-08-31 17:04] #6302 closed

[2021-08-31 17:04] #6398 closed

[2021-08-31 20:36] nicokuzak commented on #1252
@Bobgy FYI this compiles, but even if the pipeline parameter is > 1, it only creates a job with 1 GPU. It still seems like the only way to get > 1 GPU is to explicitly write the integer in the pipeline function.

[2021-09-01 07:25] ConverJens commented on #5138
@bartgras We followed the steps in your documentation and got Kale mostly working.

Compiling, uploading and starting pipelines works fine but the pipeline fails on the first user component. It seems as an authorization problem as it fails when trying to access the workflow:
[code]

Any ideas as to why?
Are there any kubelet flags that needs to be set to get this working?

cc @Bobgy @elikatsis

[2021-09-01 09:11] rubenaranamorera opened #6486 "[backend] Unsupported resource type: PIPELINE"
When calling the api with an APIResourceReference:

[code]

I'm getting an error:

`"error": "[POST /apis/v1beta1/jobs][400] CreateJob default  &{Code:3 Details:[0xc0035a7920] Error:Create job failed: Error to convert resource references.: Failed to convert reference type: Invalid input error: Unsupported resource type: PIPELINE}"}`

I think it is because "PIPELINE" is missing in https://github.co

[2021-09-01 10:25] bartgras commented on #5138
@ConverJens if you were able to upload or start the pipeline then the authentication works fine.

Your exception is caused by something else. Just a wild guess it has something to do with [this issue](https://github.com/kubeflow/manifests/issues/1985).
You should open separate issue and give more details how did you setup your Kale.

[2021-09-01 10:55] ConverJens commented on #6256
@Bobgy This mismatch is present in the latest released sdk package 1.7.2. Could you build a new patch version with this fixed?

[2021-09-01 10:58] ConverJens commented on #5138
@bartgras In that case, the documentation seems solid. Thanks for the pointer!

[2021-09-01 13:51] ConverJens opened #6487 "[backend] Kale pipelines always fails"
We are trying to setup Kale in Kubeflow v1.3.0 with KFP 1.7 in multi-user mode.

Kale can access the KFP API and perform compile, upload and start a run.

However, the run always fails on the first user-made component (the kale-marshall-volume step succeds). The error message indicates that the user service-account doesn't have access to the workflow. Pipelines uploaded through the UI or using RES

[2021-09-01 16:10] casassg commented on #6256
btw, fixed it https://github.com/kubeflow/pipelines/pull/6472

[2021-09-01 22:05] capri-xiyue commented on #6164
fixed by https://github.com/kubeflow/pipelines/pull/6415

[2021-09-01 22:05] #6164 closed

[2021-09-02 04:23] jmcarp opened #6492 "[backend] API performance regression in 1.5"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Standalone
*  KFP version:
1.5.1
*  KFP SDK version:
n/a

### Steps to reproduce

- Upgrade from 1.4.1 to 1.5.1.
- Refresh the runs page several times.
- API latency is mostly fast (~500ms) but sometimes jumps to >30s.

<img width="875" alt="Screen Shot 2021-09-01 at 11 28 10 PM" src="https://user-images.githubusercontent.com/1633460

[2021-09-02 05:16] juliusvonkohout commented on #5138
1. What i am missing is which serviceaccount is used. Is it default-editor under which JupyterLabs run by default ?
2. Do we just derive a temporary token from the default-editor "root" token and mount it to /var/run/secrets/ml-pipeline/token ? 3. Can i assume that the poddefault is enough and we do not need to create any new serviceaccounts on our own?
4. If the poddefault is enough, why do we no

[2021-09-02 06:36] Bobgy commented on #6492
Hi @jmcarp, thank you for filing this report!
Is it possible also trying to reproduce in the latest 1.7.0 release?

I don't have any ideas at the moment, so welcome any contributions

[2021-09-02 07:45] Hmr-ramzi opened #6493 "[frontend] <Unable to configure minio accesskey using manifests>"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Using kubeflow manifests
*  KFP version:
1.5.1

### Steps to reproduce
By providing an access key to minio that is different than minio123 the frontend is unable to access minio

### Expected result
Once the backend is configured with the right access key this is also assumed to be available for the frontend when we deploy kubeflow w

[2021-09-02 08:43] bartgras commented on #5138
@juliusvonkohout here are my thoughts:

`default-editor`

I think these are 2 completely separate things.

Correct

This is interesting point but I was thinking that instead of using PodDefault we could use kustomize on `jupyter-web-app` and inject token directly in there. This way all in-cluster notebooks could access pipelines by default.
Am I missing something here? Is there some security conce

[2021-09-02 09:46] thomas-mueller commented on #6433
@Bobgy, @chensun, here is my smallest example:

[code]

The code works until `kfp==1.7.0`. Versions 1.7.1 and 1.7.2 give errors like
[code]

[2021-09-02 13:43] vmolina opened #6495 "[sdk] compilation failed when reusing operator definition on inner For loop"
### Environment

*  KFP version: Not important
*  KFP SDK version: 1.7.* and 1.8.*

*  All dependencies version:
kfp                                     1.7.1
kfp-pipeline-spec                       0.1.10
kfp-server-api                          1.7.0
### Steps to reproduce

The following script fails to build to compile the pipeline when using kfp==1.7.* but succeeds when using kfp=1.6*

[code]

[2021-09-02 16:26] etsyamitra opened #6496 "Expose docker entrypoint on kfp local runner"
### Feature Area
kfp local runner through docker exec environment

### What feature would you like to see?
Being able to set docker --[entrypoint](https://docs.docker.com/engine/reference/run/#entrypoint-default-command-to-execute-at-runtime) which running the component.

### What is the use case or pain point?
Removing the inconsistencies between running through docker and kfp locally with more p

[2021-09-02 16:53] SinaChavoshi commented on #6426
I believe this issue was fixed by #6473 . Closing as fixed, this is not the case please reopen this bug.

[2021-09-03 00:29] chensun opened #6500 "[SDK] Standardize code style using YAPF and docformatter."
Currently, the KFP SDK code isn’t formatted consistently. One noticeable inconsistency is that some files have 2-space indentation (conforms to Google internal style) while others have 4-space indentation (conforms to [PEP8](https://www.python.org/dev/peps/pep-0008/#indentation) and [Google Python Style Guide](https://github.com/google/styleguide/blob/gh-pages/pyguide.md#34-indentation)).
To have

[2021-09-03 00:33] chensun commented on #6500
Tracking action items:

- [x] #6467
- [ ] TODO: formatting all SDK code using the new style config.
- [ ] TODO: Check formatting in CI.

[2021-09-03 00:52] neuromage commented on #6500
/lgtm

[2021-09-03 00:56] zijianjoy commented on #6487
@yanniszark @elikatsis @kimwnasptd

Hello Arrikto, is this an expected behavior for Kale needing this permission to get argo workflow? Would you like to consider adding permission for Kale to access Pipelines?

[2021-09-03 01:04] zijianjoy commented on #6493
Hello @Hmr-ramzi , currently there is no good way to programmatically update minio access key in multi-user mode.

You can change minio access key using kubectl following this https://github.com/kubeflow/pipelines/blob/a35812429c9e57b29e7b559814f299af8c2fd305/manifests/kustomize/base/installs/multi-user/pipelines-profile-controller/sync.py#L346-L357, based on your user namesapce.

Welcome contribu

[2021-09-03 01:08] zijianjoy commented on #6496
@chensun Hello Chen, would you like to help looking at this issue? Thank you!

cc @lynnmatrix

[2021-09-03 01:12] zijianjoy commented on #6486
Hello @rubenaranamorera , would you like to try using ResourceType_PIPELINE_VERSION? You can use this or get the `PipelineID` from `PipelineSpec` as specified in https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/#/definitions/apiPipelineSpec for the same goal.

[2021-09-03 01:16] zijianjoy commented on #6479
Hello @sujaykulkarn , currently this is not supported by KFP. cc @chensun

[2021-09-03 01:24] zijianjoy commented on #6457
Hello @mlu4679 , you can refer to https://www.kubeflow.org/docs/components/pipelines/multi-user/#how-are-resources-separated to specify resource, you can use either the resource `NAMESPACE ` or `EXPERIMENT` in resource filter. Because these two fields allow multi-user mode to learn which namespace to run your pipeline.

Reference:
https://www.kubeflow.org/docs/components/pipelines/reference/api/ku

[2021-09-03 03:02] Bobgy commented on #6350
Done

[2021-09-03 03:02] #6350 closed

[2021-09-03 03:13] Bobgy commented on #6294
Done

[2021-09-03 03:13] #6294 closed

[2021-09-03 04:03] jmcarp commented on #6424
Thanks! I rewrote this as suggested--hope this makes more sense.

[2021-09-03 06:05] cah-parita-desai commented on #6426
Hi Sina,

This is not the case.
I am already passing python_module_name as str.
But still getting the error.

Sample for reference:-

PROJECT_ID = 'xyz'
LOCATION = 'abc'
PIPELINE_ROOT_PATH = 'gs://test'
MODEL_DISPLAY_NAME='custom-test1-template'
PIPELINE_DISPLAY_NAME = 'custom-test-pipeline'
CONTAINER_URI='us-docker.pkg.dev/vertex-ai/training/scikit-learn-cpu.0-23:latest'
STAGING_BUCKET='gs://test

[2021-09-03 06:55] Hmr-ramzi commented on #6493
@zijianjoy Thanks for your response. Unfortunately, I changing the secret in the user namespace and also this does not get it to work. I can change the part related to the backend but the frontend according to my tests only works with accesskey minio123 and if i use a different accesskey (even updated in the secret in the user namespace) it responds with a complain from Minio that the key is not v

[2021-09-03 07:08] rubenaranamorera commented on #6486
Using "PIPELINE_VERSION" leads me to another issue:

`"error": "[GET /apis/v1beta1/pipelines][400] ListPipelines default  &{Code:3 Details:[0xc0033f85d0] Error:Invalid input error: Invalid resource references for pipelines. ListPipelines requires filtering by namespace.}"}`

It seems that the only accepted resource type here is the namespace:

https://github.com/kubeflow/pipelines/blob/cc83e1089b5

[2021-09-03 07:15] cah-parita-desai opened #6502 "I believe this issue was fixed by #6473 . Closing as fixed, this is not the case please reopen this bug."
I believe this issue was fixed by #6473 . Closing as fixed, this is not the case please reopen this bug.

_Originally posted by @SinaChavoshi in https://github.com/kubeflow/pipelines/issues/6426#issuecomment-911878051_

[2021-09-03 07:17] cah-parita-desai opened #6503 "pipeline parameters,CustomPythonPackageTrainingJobRunOp, NoneType object is not subscriptable"
Hi Sina,

This is not the case.
I am already passing python_module_name as str.
But still getting the error.

Sample for reference:-

PROJECT_ID = 'xyz'
LOCATION = 'abc'
PIPELINE_ROOT_PATH = 'gs://test'
MODEL_DISPLAY_NAME='custom-test1-template'
PIPELINE_DISPLAY_NAME = 'custom-test-pipeline'
CONTAINER_URI='us-docker.pkg.dev/vertex-ai/training/scikit-learn-cpu.0-23:latest'
STAGING_BUCKET='gs://test

[2021-09-03 09:53] Bobgy commented on #5138
I don't have security concerns, because namespace separation and rbac are working expectedly, so this feels like a UX improvement.

[2021-09-03 18:35] mlu4679 commented on #6457
Hi @zijianjoy
In the documentation, they use the object ApiResourceReference to specify the resource, is it possible to convert it to a dictionary to pass it along in my POST request? The sample seems to still use the kfp client in order to create a run/experiment.

[2021-09-03 20:51] capri-xiyue opened #6506 "[feature] Use `pipelines.kubeflow.org/engine_mode` pod label to differentiate between different kfp engine like "v2" and "v2_compatible""
### Feature Area
Use `pipelines.kubeflow.org/engine_mode` pod label to differentiate between different kfp engine like "v2" and "v2_compatible

### What feature would you like to see?

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-09-04 00:45] Jeffwan commented on #3405
Have you checked in this https://docs.min.io/docs/minio-gateway-for-s3.html? You can make changes in minio manifests to achieve that. minio gateway works with S3 out of box.

[2021-09-04 01:08] #6424 closed

[2021-09-05 07:23] bartgras commented on #5138
@juliusvonkohout I take back what I said about applying customize on `jupyter-web-app`. The token has to be obviously injected into notebook Pod, not jupyter deployment, and creation of this resource is managed by Notebook controller. So it can't be easily patched.

Your idea also would not work because `PodDefault`s are applied per namespace (in this case - user's profile) so adding it to `spawne

[2021-09-05 18:17] juliusvonkohout commented on #5138
It is enough because you add the pod default to the profile controller as linked above. I am also installing other stuff as for example network attachment definitions to all user namespaces with the profile controller and metacontroller.

[2021-09-06 01:22] bartgras commented on #5138
@juliusvonkohout Could you please share example how you're doing it? Specifically, what namespace you're adding in your PodDefault

[2021-09-06 13:08] mikel-brostrom opened #6510 "Shared memory issue in Kubeflow when training on GPU cluster"
### What steps did you take

1. I deployed a pipeline to Kubeflow from my local computer
2. The pipeline starts and
    * The fetch component runs successfully
    * The split component run successfully
    * BUT, the train component gives an error. More specifically:

ERROR: Unexpected bus error encountered in worker. This might be caused by insufficient shared memory (shm).

### What I tried

1.

[2021-09-06 13:12] Bobgy commented on #6433
/assign @chensun

[2021-09-06 13:18] Bobgy commented on #5439
/cc @zijianjoy
Your new script addresses first part of this issue

[2021-09-06 14:35] ConverJens commented on #6487
Any updates or thoughts on this?

[2021-09-07 00:44] Bobgy commented on #6014
I think we need to plan this for the next release.

[2021-09-07 00:49] thesuperzapper opened #6511 "Where is the changelog for the `kfp` PyPi package?"
I often see releases for the [`kfp` PyPi releases](https://pypi.org/project/kfp/#history) which are not aligned with [`kubeflow/pipelines` releases](https://github.com/kubeflow/pipelines/releases), for example the latest versions are currently:
- [`kfp` == `1.8.0`](https://pypi.org/project/kfp/1.8.0/)
- [`kubeflow/pipelines` == `1.7.0`](https://github.com/kubeflow/pipelines/releases/tag/1.7.0).

_

[2021-09-07 00:56] Bobgy commented on #5680
/reopen
we need to keep track of integration with Kubeflow 1.4

[2021-09-07 00:57] Bobgy commented on #5680
I think one issue that I previously missed is that, we need to make the new task API available from pipeline pods. That requires some istio authorization policy change.

[2021-09-07 00:58] Bobgy commented on #5680
TODOs:
* [ ] expose task API via Istio authorization policy
* [ ] merge https://github.com/kubeflow/gcp-blueprints/pull/284

[2021-09-07 07:13] shashisingh opened #6512 "[sdk] nodeSelector specification not being set correctly in pipeline spec"
### Environment

*  KFP version:
1.3
*  KFP SDK version:
1.8.0

*  All dependencies version:
kfp                              1.8.0
kfp-pipeline-spec                0.1.10
kfp-server-api                   1.6.0

### Steps to reproduce
python samples/core/resource_spec/runtime_resource_request_gpu.py

Check the nodeSelector spec in the yaml file generated at the path  samples/core/resource_spec/run

[2021-09-07 08:45] mikel-brostrom commented on #4152
Can somebody explain why this works? Aren't there any cleaner solutions out there

[2021-09-07 15:31] #5475 closed

[2021-09-07 19:15] capri-xiyue opened #6517 "[feature] Allow KFP to specify Minio instance when configuring pipeline root"
### Feature Area

### What feature would you like to see?
Currently when user configure pipeline root with minio, user can't change the MinIO instance. Kubeflow Pipelines can only use the Minio instance deployed with itself. Allow KFP to specify Minio instance other than the minio instance deployed with KFP when configuring pipeline root

### What is the use case or pain point?

### Is there a wor

[2021-09-08 06:05] midhun1998 commented on #6121
I can confirm that this is issue is seen with KF 1.3.1 too. The bug is very annoying as KFP remains inaccessible.

[2021-09-08 07:22] cah-parita-desai commented on #6502
@SinaChavoshi :- Wer you able to look into this further?

[2021-09-08 09:03] jonasdebeukelaer opened #6526 "[backend] Caching leads to unexpected prefix error"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? standalone on azure with minio object storage
*  KFP version: `1.7.0`
To find the version number, See version number shows on bottom of KFP UI left sidenav. -->
*  KFP SDK version:
[code]

### Steps to reproduce

Run a pipeline twice with the second step getting an artifact from the first step.

Second run will fail on something like

[2021-09-08 09:56] Bobgy commented on #6121
Ohh, sorry this fell through the cracks. Let me take a look tmr.

[2021-09-08 10:48] #6492 closed

[2021-09-08 17:00] #6279 closed

[2021-09-09 05:53] Bobgy commented on #5779
1.7.0 on Google Cloud Marketplace also released!

[2021-09-09 05:53] #5779 closed

[2021-09-09 06:37] Bobgy opened #6536 "[doc] how to set resource request/limit"
### Feature Area

/area sdk

### What feature would you like to see?

Documentation on kubeflow.org about how to set cpu request, cpu limit, memory request, memory limit, gpu request, gpu limit etc.

### What is the use case or pain point?

This is a FAQ in kubeflow pipelines slack channel.

### Is there a workaround currently?

We have an example in https://github.com/kubeflow/pipelines/blob/mast

[2021-09-09 06:38] Bobgy commented on #6536
https://cloud.google.com/vertex-ai/docs/pipelines/build-pipeline#specify-machine-type is a good example for how to document this

[2021-09-09 06:38] Bobgy commented on #6536
/assign @chensun
can you keep track of this request?

[2021-09-09 10:40] juliusvonkohout commented on #5138
First #6537 should be merged. Then you could easily alter the two following kustomization patch  files. I use them currently to add stuff for istio-cni on Openshift, but you can easily add a poddefault too.

[composite-controller-patch.txt](https://github.com/kubeflow/pipelines/files/7135825/composite-controller-patch.txt)
[sync.py.txt](https://github.com/kubeflow/pipelines/files/7135826/sync.py.t

[2021-09-09 10:49] ritaarex commented on #5727
Hi,

I have a similar issue, but I can't seem to be able to fix this. I am following the codelab [Intro to Vertex AI pipelines](https://codelabs.developers.google.com/vertex-pipelines-intro#0). At the final step, when I try to run the pipeline, I get the following error:
`HttpError: <HttpError 404 when requesting https://eu-aiplatform.googleapis.com/v1beta1/projects/arex-data/locations/eu/pipeline

[2021-09-09 14:57] NikeNano commented on #6001
I have started to work on the design doc, will update it during the next days but leave it here if you like to add something already now: https://docs.google.com/document/d/1En7UCME3PabqPwaJZSk0GSx61B8BPdkhW_kW9t7Xdkg/edit?usp=sharing

[2021-09-09 16:01] #6280 closed

[2021-09-09 16:28] zijianjoy commented on #3821
Is this issue related to https://github.com/kubeflow/pipelines/issues/5666?

[2021-09-09 16:33] zijianjoy commented on #5439
Thank you David and Yuan! This is the link to the MLMD upgrade script guide: https://github.com/kubeflow/pipelines/tree/master/third_party/ml-metadata#upgrade-mlmd-versions

[2021-09-09 19:35] NikeNano commented on #6496
Do it make sens to add it to the entrypoint if you want to change it for different use cases? Could you drop the entrypoint and instead incoporate it as part of the command @etsyamitra ?

[2021-09-09 20:05] NikeNano commented on #6431
What alternative are there out there I am only aware of [rook](https://github.com/rook/rook)/[ceph](https://github.com/ceph/ceph). What are we looking for when it comes to replacing Minio except the license?

[2021-09-09 22:22] etsyamitra commented on #6496
That would be ideal, however it seems like it's not [parameterized](https://github.com/kubeflow/pipelines/blob/a1ec227a24d71b7a697884d1e2d00a57583f376b/sdk/python/kfp/_local_client.py#L344-L351) at the moment.
could you please clarify how could we provide the entrypoint as a part of the command?

[2021-09-09 22:26] #6512 closed

[2021-09-10 00:32] zijianjoy commented on #6511
cc @chensun

Currently we don't have CHANGELOG, defer to Chen to determine the direction of documentation

[2021-09-10 00:33] zijianjoy commented on #6503
cc @SinaChavoshi

[2021-09-10 00:37] zijianjoy commented on #6510
Hello @mikel-brostrom , this doesn't seem to be Kubeflow Pipelines related. This is more related to kubernetes because the component runs directly on k8s. Can you try figuring out how much GPU you need on training component and find solution using general k8s approach?

[2021-09-10 00:41] Bobgy commented on #6526
Hi @jonasdebeukelaer, that's a bug I introduced, I believe it should be fixed by https://github.com/kubeflow/pipelines/pull/6415 as a side effect. Can you verify KFP SDK 1.8.0?

[2021-09-10 00:42] Bobgy commented on #6426
/assign @SinaChavoshi
Can you take a look again?

[2021-09-10 00:42] Bobgy commented on #6502
thank you for the report! reopened https://github.com/kubeflow/pipelines/issues/6426 for you

[2021-09-10 00:42] #6502 closed

[2021-09-10 01:46] chensun commented on #6496
kfp local runner is contributed by a community contributor, and is supported as an Alpha feature.
Feel free to send PRs for feature requests like this.

[2021-09-10 01:55] chensun commented on #6479
I think the ask is to support additional artifact repositories, which needs to be supported by KFP runtime first.

@Bobgy to comment.

[2021-09-10 06:08] mikel-brostrom commented on #6510
I fixed it by creating a  pipelinevolme in my dsl.pipeline by:

`smh_vol = kfp.dsl.PipelineVolume(name="shm-vol", empty_dir={"medium": "Memory"})`

and then adding the volume to  my training task by:

`train_task.add_pvolumes({"/dev/shm": smh_vol})`

Could anybody explain why this works??

[2021-09-10 07:37] ritaarex opened #6540 "[sdk] Unable to run pipeline from Codelab"
Hi,

I am following the codelab [Intro to Vertex AI pipelines](https://codelabs.developers.google.com/vertex-pipelines-intro#0), but I am having trouble. At the final step, when I try to run the pipeline, I get an error.
 Can anyone help?
Thanks!!

### Environment
*  KFP SDK version: 1.8.0
*  All dependencies version:
kfp                               1.8.0
kfp-pipeline-spec                 0.1.10

[2021-09-10 08:42] Bobgy commented on #6479
I am interested in more user feedback before adding these features, because you can also download the artifact you want in a component.
More detailed use-case that explains why these are useful are helpful.

And please thumbs up on the issue, if you are interested too.

[2021-09-10 09:12] Matts966 commented on #5068
@Bobgy Excuse me of mentioning.

`robfig/cron` package now supports standard `CRON_TZ =` spec and this is important for our usecases.

https://github.com/robfig/cron/tree/v3.0.1#upgrading-to-v3-june-2019

We should update the link to https://pkg.go.dev/github.com/robfig/cron#hdr-CRON_Expression_Format as it's for v1.2.0, but I think some other breaking changes can be justified with updated link an

[2021-09-10 09:27] Bobgy commented on #3821
Yes, this is a duplicate now

[2021-09-10 10:21] Bobgy commented on #6121
/assign @zijianjoy
This looks like an Istio compatibility issue.

[2021-09-10 10:22] Bobgy commented on #6121
When you disable sidecar injection, also find all the destination rules and delete the destination rule for mysql. Otherwise, all other clients will fail to access MySQL assuming mTLS is turned on.

[2021-09-10 10:24] Bobgy commented on #6121
If you want MySQL in the mesh, you need to check Istio documentation for troubleshooting instructions. I agree Istio is very hard to troubleshoot, got the same frustration when configuring these up.

[2021-09-10 11:26] Bobgy commented on #6048
/assign @zijianjoy
Can you help answer this question?
Thanks

[2021-09-10 12:12] mikel-brostrom commented on #6510
But yes @zijianjoy, your are right. This is more Kubernetes related than Kubeflow

[2021-09-10 20:17] jmcarp opened #6547 "[backend] Retries fail silently for runs with compressed or offloaded node statuses"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? standalone

*  KFP version: 1.5.1

*  KFP SDK version: n/a

### Steps to reproduce

- Start a run with at least one failed task that includes enough nodes that the workflow object populates `status.compressedNodes` rather than `status.nodes`.
- Retry the run
- Failed nodes aren't retried, but no error is raised

### Expected result

[2021-09-11 00:11] yousefis opened #6552 "[bug] Pipeline version creation failed"
Issue in creating the kubeflow pipeline.
Pipeline version creation failed

<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 524 ()!!1</title>
  <style>
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-widt

[2021-09-11 08:54] NikeNano commented on #6496
The` ENTRYPOINT` specifies a command that will always be executed when the container starts while the `CMD` specifies arguments that will be fed to the ENTRYPOINT(if left empty the default entrypoint for docker `/bin/sh -c ` will be used. ) Thus could you skip the `ENTRYPOINT` in your use cases and rely on the `CMD` to include the differences in terms of `ENTRYPOINT`?

An example pipelines would b

[2021-09-12 13:25] Bobgy commented on #5593
/lifecycle frozen

[2021-09-12 13:26] Bobgy commented on #5722
/lifecycle frozen
Welcome anyone to contribute this!

[2021-09-12 13:28] Bobgy commented on #6517
This can be achieved via https://github.com/kubeflow/pipelines/issues/5753 too if implemented.

[2021-09-12 13:28] Bobgy commented on #5753
/lifecycle frozen

[2021-09-12 13:44] Bobgy commented on #4739
/lifecycle frozen

[2021-09-12 21:59] jonasdebeukelaer commented on #6526
@Bobgy yes seems that fixed it thanks, sorry didn't see a new version had been released!

[2021-09-12 21:59] #6526 closed

[2021-09-13 02:13] jmcarp opened #6553 "[feature] Expose argo synchronization options"
### Feature Area

/area sdk

### What feature would you like to see?

Argo includes useful synchronization features for workflows and templates: https://argoproj.github.io/argo-workflows/synchronization/. It would be helpful to expose these in kfp without having to manipulate manifests as yaml.

I'd be happy to work on this if the request makes sense. It seems like workflow and template level sync

[2021-09-13 02:29] Bobgy commented on #6526
No worries, thank you for verifying the new version!

[2021-09-13 03:40] zijianjoy commented on #6048
Hello @dutingda ,

- API definition for `list_runs`: https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.server_api.html#kfp_server_api.api.run_service_api.RunServiceApi.list_runs
- Fields for time related filter: `created_at`, `finished_at`,  `scheduled_at`. Format of time value is `2021-08-26T23:00:34Z`.
- kfp 1.0.0 seems to be too old. You can find the new versions in https://pypi.or

[2021-09-13 05:30] sujaykulkarn commented on #6479
Hi @chensun, by KFP runtime you mean argo controller right? if that's the case it supports these extra artifacts, I tried manually editing the workflow YAML and deployed it in the Kubeflow pipelines UI and it works. But manual editing of workflow is difficult so if we have support for the same using KFP SDK it will be useful.
@Bobgy Yes I agree with you, for general if KFP SDK supports these featu

[2021-09-13 08:12] Itega opened #6554 "[feature][v2compat] Allow pipelines to use per steps caching"
### Feature Area
/area backend

### What feature would you like to see?
In v2 compatible mode, I would like to have a way to configure the caching per components like `task.execution_options.caching_strategy.max_cache_staleness = "P7D"` in v1.

### What is the use case or pain point?
I have some pipelines which must run every hour but some of its components takes hours to execute and their outputs

[2021-09-13 18:10] capri-xiyue opened #6555 "expose task API via Istio authorization policy"
### Feature Area
expose task API via Istio authorization policy. This is part of https://github.com/kubeflow/pipelines/issues/5680#issuecomment-913918171

### What feature would you like to see?

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-09-13 18:12] capri-xiyue commented on #6555
Deploy kubeflow with master branch. Verifies task api is already available.
![Screen Shot 2021-09-13 at 11 07 00 AM](https://user-images.githubusercontent.com/52932582/133135164-9e8c21df-4f2a-441a-bae4-dd9e869fecaa.png)

[2021-09-13 18:12] #6555 closed

[2021-09-13 23:49] Bobgy commented on #6192
I think it's best practice to set a timeout for every pipeline, which can resolve this problem.
documentation: https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.PipelineConf.set_timeout

[2021-09-13 23:49] #6192 closed

[2021-09-14 02:20] jmcarp commented on #6553
@Bobgy @capri-xiyue: if this request makes sense, let me know if there's a good place to add these options in the dsl, and I can write up a patch.

[2021-09-14 04:00] mathematiguy commented on #5026
I'm having this problem too - we've got a 4 A100 cluster with heterogeneous GPU sizes. I might use the same workaround, but I'll let you know if I come up with something different.

[2021-09-14 05:38] zijianjoy commented on #6486
@rubenaranamorera In the original issue description, you are calling `POST /apis/v1beta1/jobs` , but in the new issue, you are calling `GET /apis/v1beta1/pipelines`. I think specifying `PIPELINE_VERSION` doesn't make sense in ListPipelines API, because if you know the pipeline version ID, you can get the exact pipeline entry directly by using `GetPipeline` API, you don't need to list pipelines. Is

[2021-09-14 05:48] zijianjoy commented on #6457
Hello @mlu4679

Does this look like something you are looking for? https://github.com/kubeflow/website/issues/2916

[2021-09-14 05:55] zijianjoy commented on #6138
Hello @ConverJens , you can check out the compatibility matrix in https://www.kubeflow.org/docs/components/pipelines/installation/compatibility-matrix/ now.

[2021-09-14 05:57] zijianjoy commented on #5737
/lifecycle frozen

[2021-09-14 10:10] munagekar opened #6559 "[bug] Sanitize Names kfp.dsl doesn't allow the usage of argo template variables"
### What steps did you take

Named a k8s resource as`xxx-{{workflow.uid}}`. It got converted to xxx-workflow-uid. This breaks argo workflow templating.

https://github.com/kubeflow/pipelines/blob/5d82fa7dc8dfe381a8759358b92cc94ef0a0f137/sdk/python/kfp/compiler/_k8s_helper.py#L20-L37.

### What did you expect to happen:

k8s resource names should allow argo workflow templating.

### Anything else y

[2021-09-14 12:36] #5578 closed

[2021-09-14 13:56] juliusvonkohout commented on #3866
@bobgy this is essential for pipelinevolumes with the emissary executor. I will try something out.

[2021-09-14 14:27] kd303 commented on #5026
I think the problem is mainly to do with KFP SDK, where the method ``set_gpu_limit()`` has resource type hard-coded inside, so unless that particular issue is not fixed it will not not work,

[2021-09-14 15:10] midhun1998 opened #6562 "[feature] Add option to allow VolumeOp to re-use PVC"
### Feature Area
/area sdk

### What feature would you like to see?
VolumeOp should allow re-using of existing PVC.

### What is the use case or pain point?
When we have a VolumeOp component in a recurring-run pipeline the component creates new PVC every time a recurring run happens. However, In a use case where the subsequent runs should use the same PVC as the first run, the VolumeOp fails to ha

[2021-09-14 16:49] #5977 closed

[2021-09-14 17:14] juliusvonkohout commented on #3866
@Bobgy this is my solution

[code]

should i make a pull request?

[2021-09-14 20:47] mathematiguy commented on #5026
Yeah, funny thing is if you change that it still fails because of line 318 in `_op_to_template.py`, which has a similar problem.

Thanks for pointing that out though, I’ll add that change to my PR later today.

[2021-09-15 07:00] Bobgy commented on #3866
The config seems to be changing every container to run as non root. I don't think we can do this.

[2021-09-15 07:01] Bobgy commented on #3866
cc @chensun @capri-xiyue about the FR

[2021-09-15 07:39] juliusvonkohout commented on #3866
I think you can still override it. These are just defaults. You have to explicitly ask for the root user if you want it.

[2021-09-15 08:01] chensun commented on #6559
@munagekar, For my education, what's your use case to include Argo placeholders in some "name"?

[2021-09-15 08:47] ChenhanXmu commented on #6314
Thanks，I want to deploy KFP alone, but Kubeflow Pipelines multi-user isolation is only supported in the full Kubeflow deployment.
By the way, is there a minimal deployment plan for KFP multi-user isolation?

[2021-09-15 09:13] munagekar commented on #6559
@chensun

- prefix multiple resources created(svc,pvc,depolyment associated with a workflow ) with {{workflow.name}} to link all relevant resources together.
- avoid a resource-name-conflict if the same pipeline is executed twice simultaneously by making the name dependent on unique-id.
- previously this also prevented caching with VolumeOp by making the name unique. [REF](https://github.com/kubef

[2021-09-15 11:29] ConverJens commented on #5753
@bobgy TFX pipelines already supports this by appending pipeline wide env vars and by not assuming a default S3 instance. Using another Minio is basically the only viable option for on-prem deployments.

[2021-09-15 11:51] ConverJens opened #6574 "[sdk] KFP V2 pipeline fails with 'no module named ensurepip'"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
With KF 1.3 but KFP bumped to 1.7
KFP version: 1.7
*  KFP SDK version:  1.7.1

### Steps to reproduce

Build simple kFP V2 one-component  hello-world pipeline.

### Expected result
Pipeline should run

### Materials and Reference

Output logs:

I0915 11:43:08.161494       1 env.go:30] cannot find launcher configmap: name="kfp-launche

[2021-09-15 11:52] ConverJens commented on #6451
KFP SDK v2 issue: https://github.com/kubeflow/pipelines/issues/6574

[2021-09-15 14:58] cah-parita-desai commented on #6426
@SinaChavoshi : Any update on this issue?

[2021-09-15 19:55] ckchow commented on #6293
I get this when trying to run pipelines with tasks that were created from `kfp.components.create_component_from_func_v2`. an example of a compiled task:

[code]

[2021-09-15 23:24] andrijaperovic commented on #6428
@jonasdebeukelaer any workaround for this particular issue?
This is what I am seeing in the ml-pipeline-ui pod logs after pod deletion:
[code]
which produces:
`Could not get main container logs: S3Error: The specified key does not exist.`

I tried changing the key format to match the key which ml-pipeline-ui is expecting by removing the timestamp fields but did not seem to fix the issue:

From:
`k

[2021-09-16 00:13] zijianjoy commented on #5791
Fixed by https://github.com/kubeflow/pipelines/pull/6556

[2021-09-16 00:13] #5791 closed

[2021-09-16 06:53] hrsma2i opened #6576 "[sdk] KeyError when using several ParallelFor which depends on the same function component."
### Environment

*  KFP version: I'm using Vertex Pipelines

*  KFP SDK version: 1.8.1

*  All dependencies version:

### Steps to reproduce

Compile the following pipeline function:

[code]

I ran into the following error:

[code]

Redefining the `range_fn` as another function `range_fn_2` works, but the alias `range_fn_2 = range_fn` doesn't work.

### Expected result

successful compilation

###

[2021-09-16 07:11] ConverJens commented on #6487
@zijianjoy @elikatsis A fix for this issue was found here: https://github.com/kubeflow-kale/kale/issues/352.

However, should this be fixed permanently on the KFP side or is Kale doing something strange by needing this?

[2021-09-16 07:23] hrsma2i commented on #6576
The following workaround works.

[code]

[2021-09-16 07:31] Bobgy commented on #6103
Just to clarify our process to move this forward.
Either
* a contributor drives the discussions and proposes a design
* there's enough interest, so that KFP team wants to take over this

We are currently collecting feedback and different use-cases with this. Here are some questions that I've still unclear with:
1. Who will be the person that configures post publish hooks? Pipeline authors or platf

[2021-09-16 08:50] Bobgy commented on #6293
@chensun is `create_component_from_func_v2` a supported feature?
I'm not seeing usage of it in our samples.

@ckchow what is your KFP SDK version?

[2021-09-16 09:38] jonasdebeukelaer commented on #6428
@andrijaperovic For now we 're unfortunately having to access the artefacts through the MinIO interface by port-forwarding

[code]

[2021-09-16 17:06] Nagarajj commented on #6103
If we can have post_publish be a Lifecycle Hook, similar to [PreCache check](https://github.com/kubeflow/pipelines/blob/c89ed71cf6339cdcdd957d4dca4b1f32c10db9c9/api/v2alpha1/pipeline_spec.proto#L546-L566) that should be an ideal experience.

1. These LifeCycle hooks, would let platform admins extend the capabilities of Kubeflow Runtime (integration with existing metadata systems etc).
2. If Platfo

[2021-09-16 21:00] jackwhelpton opened #6578 "[feature] Ability to disable caching for a particular pipeline run via the UI"
### Feature Area

/area frontend

### What feature would you like to see?
The ability to enable or disable (v2) caching for a pipeline run _via the UI_.

### What is the use case or pain point?
When developing pipelines, it is possible to end up in a position where the component "succeeds" (does not error), but returns erroneous results. Once this has happened, correcting the component code and re

[2021-09-16 23:05] #6510 closed

[2021-09-16 23:13] zijianjoy commented on #6554
We will consider adding this support in KFP v2, but will not support this in KFP v2 compatible mode.

[2021-09-16 23:32] zijianjoy commented on #6576
/assign @chensun

[2021-09-16 23:35] zijianjoy commented on #6574
cc @chensun

[2021-09-16 23:41] zijianjoy commented on #6553
Hello @jmcarp , what is the CUJ for setting limitation of synchronization on 1)workflow level, 2) step level?

[2021-09-16 23:43] zijianjoy commented on #6552
Hello @yousefis , would you like to check if the inverse-proxy is healthy and whether your backend service has received this request and logs? Thank you!

[2021-09-17 00:12] #6547 closed

[2021-09-17 03:44] jmcarp commented on #6553
Hi @zijianjoy, the typical use case in either case is to prevent concurrent execution of tasks that could otherwise change some shared resource. For example, if there's a race condition between tasks, or between multiple runs of the same task, it's helpful to use argo synchronization to prevent those tasks from running concurrently.

This is a useful argo feature, and it would be helpful to have i

[2021-09-17 07:11] Itega commented on #6554
Seems fine to me. Staleness support would certainly be very useful, but I guess I could find a workaround with only per-step caching if this is hard to implement in v2.

[2021-09-17 18:04] ckchow commented on #6293
I tried to write a v2 component (i.e. a component that outputs stuff via `model: Output[Model], Output[Metrics]` instead of returning a NamedTuple), and the kfp sdk told me I needed to use the `_v2` creation function.

I'm using `kfp==1.7.0`

[2021-09-17 22:53] Bobgy commented on #6293
Can you try https://www.kubeflow.org/docs/components/pipelines/sdk/v2/python-function-components/?

[2021-09-18 00:16] simanwangSC opened #6581 "[bug] How to use Sidecar in Vertex pipeline?"
### What steps did you take

In kfp pipeline I can use the following code to create a containerOp and add a Sidecar to it:
[code]
When I switch to Vertex pipeline, since `dsl.ContainerOp` is deprecated I need to create a component like this:
[code]
I wonder how can I add a sidecar to it. Thank you.

### What happened:

### What did you expect to happen:

### Environment:

*  How do you deploy Kube

[2021-09-19 19:52] jiasenwu commented on #6574
:+1:  I meet the same issue. Running with the default image is ok, but the error pops up when I switch to my own image where there is no ensurepip (but pip is pre-installed).

[2021-09-20 13:58] difince commented on #3360
Hi @Bobgy I apologize for not being able to work on the issue for so long. I am back .. so hope soon I will have something to share/commit

[2021-09-20 14:22] jiasenwu commented on #6574
Another related issue is that in a different image I need to use a conda environment. I think a general solution can be a fully customizable command to install the packages.

[2021-09-20 17:37] zijianjoy commented on #6554
cc @capri-xiyue for the request on enable/disable per-step caching in KFP v2.

[2021-09-20 17:57] zijianjoy commented on #6314
Since multi-tenancy components live outside the KFP repository, there is no such plan to support multi-user isolation with KFP standalone, to my knowledge. Refer to installation options: https://www.kubeflow.org/docs/components/pipelines/installation/overview/#choosing-an-installation-option

[2021-09-20 22:23] capri-xiyue commented on #6553
Hi @jmcarp , in your use case, can you add synchronization logic for the shared resources? I think when it comes to shared resources, the synchronization logic should be added to the shared resources instead of the workflows.

[2021-09-20 22:41] thesuperzapper opened #6585 "method to check if SDK is talking to a real KFP API"
Currently, there does not seem to be a method on [`kfp.Client()`](https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.client.html) which can reliably confirm that the `url` provided is actually a Kubeflow Pipelines API.

_NOTE: methods like `Client().list_pipelines()`  return `{'next_page_token': None, 'pipelines': None, 'total_size': None}` when run against non-kubeflow apis (which is

[2021-09-20 22:41] thesuperzapper commented on #6585
@Bobgy am I missing something?

[2021-09-21 00:26] KausthubK opened #6586 "Potentially duplicated function list_pipeline_versions()?"
Seems like there are two versions of this function within the same module:

https://github.com/kubeflow/pipelines/blob/7875b68654a69ca761cb0ba4a920a30925a0e94b/sdk/python/kfp/_client.py#L661

https://github.com/kubeflow/pipelines/blob/7875b68654a69ca761cb0ba4a920a30925a0e94b/sdk/python/kfp/_client.py#L1324

Should one of these be deprecated/removed/renamed?

[2021-09-21 10:16] santhosh261190 commented on #1881
This is due to the race conditions while creating the resources. In my case, once after all the resources are up and running i did executed "kubectl delete namespace kubeflow", this will re-create and possibly the issue will go away.

[2021-09-21 11:08] tzstoyanov commented on #6336
hi @zijianjoy, is there any docs or at least high level idea how this should work ? I'm new to Kubeflow pipelines and looking for a good first issue.

[2021-09-21 11:20] jpvandervelden opened #6587 "[feature] Add multi-model support for training on Sagemaker"
### Feature Area

/area components

### What feature would you like to see?

A way to train Sagemaker models so that multiple models can be run on one Sagemaker endpoint. AWS Sagemaker facilitates this by providing a mme branch
(https://github.com/aws/sagemaker-scikit-learn-container/tree/mme) for the scikit-learn container (https://github.com/aws/sagemaker-scikit-learn-container).

### What is th

[2021-09-21 12:13] dithyrambe opened #6588 "[sdk] ParallelFor does not apply parallelism on the right template."
### Environment

*  KFP SDK version: `1.8.2`
*  All dependencies version:
[code]

### Steps to reproduce

[code]

### Expected result

The pipelines runs but compiling this pipeline with `dsl-compile --py pipeline.py --output ./pipeline.yaml` puts the `parallelism: 2` on a supposedly wrong template. Thus, when running this pipeline with 4 items in `args`, all 4 task are scheduled at once instead o

[2021-09-21 12:38] NikeNano commented on #6585
Could we use the health endpoint to validate this `/apis/v1beta1/healthz` , https://github.com/DavidSpek/pipelines/blob/4c3d6dd4ff7460c51611976090a26b9216ea2056/sdk/python/kfp/_client.py#L298-L303

[2021-09-21 12:54] NikeNano commented on #6586
Since they have the same name, the last one will be the one that is exposed when using the `Client`. Thus I think it should be fine to remove the one on L661.

[2021-09-21 14:22] jmcarp commented on #6553
I *can* implement my own synchronization, but that's the kind of feature I expect the workflow engine to provide--it's easy to get wrong, so ideally it's implemented once at the workflow layer and not independently by each user of the workflow tool. That's why tools like argo workflows and apache airflow include synchronization primitives, for example.

[2021-09-21 16:03] randombishop opened #6589 "Annoying log that looks like an error"
https://github.com/kubeflow/pipelines/blob/7875b68654a69ca761cb0ba4a920a30925a0e94b/sdk/python/kfp/_client.py#L203

When /var/run/secrets/kubernetes.io/serviceaccount/namespace file is missing, we log an INFO (cool) but also the error stack trace, which makes it look like an error (annoying)

[2021-09-21 16:07] randombishop commented on #6589
https://github.com/kubeflow/pipelines/pull/6590

[2021-09-21 16:44] KausthubK commented on #6586
@NikeNano - agreed - not sure on how proceed to a PR for this 🤷🏾‍♂️

I'm unable to create a remote branch with the change. I'm following the contribution readme [CONTRIBUTION.md](https://github.com/kubeflow/pipelines/blob/master/CONTRIBUTING.md) but it doesn't say much re: creating upstream branches.

Or am I supposed to fork, fix, and send a patch?

Or is there a core dev team that's taking care

[2021-09-21 18:15] #6310 closed

[2021-09-21 18:20] capri-xiyue commented on #6578
@zijianjoy
I talked with sdk side and vertex side, the agreement is to implement disable/enable caching level at client side first.
Later when we have a clear goal of caching CUJ, we can talk about implementing this in server side which means change pipeline job proto.
SDK already implemented such logic in https://github.com/kubeflow/pipelines/blob/55a2fb5c20011b01945c9867ddff0d39e9db1964/sdk/pyth

[2021-09-21 19:05] NikeNano commented on #6586
Workflow would be along the lines:
1) Fork the repository: https://github.com/kubeflow/pipelines
2) Create a branch and update the code
3) Make a pull request to https://github.com/kubeflow/pipelines from your forked repo.

You are more than welcome to make a PR to Kubeflow pipelines :) someone in the core team have to approve the PR, you can see who are part of the core team after you make a PR i

[2021-09-21 23:59] amitripshtos commented on #4649
@Bobgy , I wonder if the KFP cache has the pipeline_root as part of the cache key :)

[2021-09-22 00:05] capri-xiyue commented on #4649
pipeline_root is not part of the cache key. Please refer to [doc](https://www.kubeflow.org/docs/components/pipelines/caching-v2/#what-is-step-caching)
`The task’s interface is defined as the combination of the pipeline task specification (base image, command, args), the pipeline task’s inputs (the name and id of artifacts, the name and value of parameters), and the pipeline task’s outputs specific

[2021-09-22 03:47] KausthubK commented on #6586
@NikeNano - thanks - I think I've done it right? hahaha (I'm a little new to forks and upstream contribution workflows like this one - typically worked within an org).

[2021-09-22 06:29] NikeNano commented on #6586
Looks great! Had the same experience when I started to contribute to open source :)

[2021-09-22 08:26] #6586 closed

[2021-09-22 10:56] judahrand commented on #6581
I think the way you'd want to do this for Vertex (although I'm not sure if sidecars are supported 🤔 ):

[code]

[2021-09-22 14:53] ConverJens commented on #6574
Or the only reasonable solution is that the user should be able to choose which ever image they like.

[2021-09-22 20:32] chensun commented on #6581
Sidecar is not support on Vertex Pipelines.

[2021-09-22 21:45] chensun commented on #6540
@ritaarex If I'm not mistaken, you set `region` to `'eu'` when you initialize the client?
[code]
`eu` is not a valid region, Vertex Pipelines currently support the following regions in Europe:
- London (europe-west2)
- Belgium (europe-west1)
- Netherlands (europe-west4)

ref: https://cloud.google.com/vertex-ai/docs/general/locations#available_regions

[2021-09-22 22:02] chensun commented on #6511
@thesuperzapper We have the changelog for SDK: https://github.com/kubeflow/pipelines/blob/master/sdk/RELEASE.md

KFP SDK is released independently. It's meant to be backward compatible with KFP backend except otherwise noticed.

[2021-09-22 22:18] thesuperzapper commented on #6511
@chauhang  perhaps we should link this changelog on [the `kfp` PyPi](https://pypi.org/project/kfp/)?

[2021-09-23 00:18] chensun commented on #6511
That's a good. Will do so.

[2021-09-23 03:10] jmcarp opened #6598 "[feature] Pass additional options to docker on local runner"
### Feature Area

/area sdk

### What feature would you like to see?

Pass additional docker options to local runner. This might be implemented using `ExecutionMode`, e.g.:

[code]

### What is the use case or pain point?

My specific use case is authenticating to google cloud from local kfp tasks. But rather than trying to enumerate the exact docker flags that should be exposed, it makes more sen

[2021-09-23 05:00] #6511 closed

[2021-09-23 05:43] #6562 closed

[2021-09-23 07:07] NikeNano commented on #6496
Does this solve your problem @etsyamitra otherwise please add an example so I better understand what you like to achieve.

[2021-09-23 07:09] NikeNano commented on #6585
/assign
I will make a method and add PR to validate if connect to a `kubeflow pipelines` or not.

[2021-09-23 09:47] Bobgy commented on #3360
No worries, no one is expected to work on anything. It's great that you are back!

[2021-09-23 18:34] NikeNano commented on #6585
Or do we actually need to have a separate functionality in the sdk for this @thesuperzapper ?

[2021-09-23 20:09] NikeNano commented on #6001
Will update it during the weekend, have a better understanding of the persistance agent now.

[2021-09-24 01:09] capri-xiyue commented on #6598
cc @chensun

[2021-09-24 01:19] zijianjoy commented on #6587
cc @RedbackThomson @surajkota

[2021-09-24 01:24] capri-xiyue commented on #6585
We will call `get_kfp_healthz` api every time when we initialize client. Maybe we can check the response of `get_kfp_healthz` api to check whether it connects to a real KFP API. Refer to [code](https://github.com/kubeflow/pipelines/blob/7875b68654a69ca761cb0ba4a920a30925a0e94b/sdk/python/kfp/_client.py#L196)

[2021-09-24 01:27] #6581 closed

[2021-09-24 01:29] capri-xiyue commented on #6581
We don't have the plan to support sidecar in vertex pipeline in the near future.

[2021-09-24 01:31] capri-xiyue commented on #4649
This feature is added in v2 compatible mode and here is the [relevant doc](https://www.kubeflow.org/docs/components/pipelines/pipeline-root/)

[2021-09-24 03:04] surajkota commented on #6587
@jpvandervelden Thanks for creating the issue.

Looks like you need support for [multiModel parameter](https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ContainerDefinition.html#sagemaker-Type-ContainerDefinition-Mode) in the [model component](https://github.com/kubeflow/pipelines/tree/master/components/aws/sagemaker/model).

If this is what you are looking for, please use the `seconda

[2021-09-24 03:19] surajkota commented on #4352
/close

[2021-09-24 03:19] #4352 closed

[2021-09-24 07:03] jpvandervelden commented on #6587
Thanks @surajkota! I will give this a try.

[2021-09-24 07:26] ritaarex commented on #6540
Hi,

Thanks for this, it helped a lot.
Best regards,

Rita

On Wed, 22 Sept 2021 at 23:45, Chen Sun ***@***.***> wrote:

[2021-09-24 09:09] chensun commented on #6540
@ritaarex, no problem. I'm closing the issue assuming your issue is resolved. Thanks!

[2021-09-24 09:09] #6540 closed

[2021-09-24 10:18] juliusvonkohout commented on #4649
It is not yet supported if you install the pipelines as part of kubeflow. There should be a seperate minio folder with seperate credentials for each namespace

[2021-09-24 10:36] ConverJens commented on #6574
@zijianjoy @chensun What has changed in this regard since KFP SDK V1 pipelines? The same image that works perfectly for V1 fails for V2.

[2021-09-24 14:58] #6598 closed

[2021-09-24 15:10] zijianjoy opened #6610 "When click Artifact, shows its type, name, upstream execution."

[2021-09-24 15:10] zijianjoy opened #6611 "When click SubDAG, shows its parameters and artifacts, with link to its internal layer."

[2021-09-24 15:34] Bobgy commented on #4649
@juliusvonkohout I would argue that configuring MinIO per namespace is a user configuration problem, therefore out of scope for KFP. I think you are already able to do that with pipeline root -- by default v2 compatible mode looks for minio-service service in the same namespace and reads mlpipeline-minio-artifact secret in the same namespace for credentials. Please let me know if that doesn't work

[2021-09-24 16:25] esha-ingle-mpf opened #6612 "[backend] DataProc Cluster creation fails with "Invalid value at 'cluster' (cluster_name), Starting an object on a scalar field""
### Environment

*  KFP version:
1.3.0

### Steps to reproduce
Trying to create dataproc cluster in python using component.yaml and providing arugments as cluster object.
[code]

[2021-09-24 17:21] #6589 closed

[2021-09-24 18:35] SinaChavoshi commented on #6426
Hi,

I'm not able to reproduce this error with the sample you provided above. However I noticed in both samples you have parameter named ` python_module=python_module_name,'. This parameter does not exist in the API the correct parameter name is `python_module_name`. see [the API documentation](https://google-cloud-pipeline-components.readthedocs.io/en/gcpc11/google_cloud_pipeline_components.aipla

[2021-09-24 20:15] pmcvay opened #6614 "[feature] V2 DSL Load_component_from_url Dataflow"
### Feature Area

 /area components

### What feature would you like to see?

Currently, it looks like loading the dataflow yaml components does not support v2. Also, the other google pipeline component seem to no longer use loading from url and instead use the google_cloud_pipeline_components library. It would be nice if the dataflow jobs were in that library as well

### What is the use case or

[2021-09-24 20:20] boarder7395 opened #6615 "[frontend] Log tab issue with archived_logs and cache"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Kubeflow
*  KFP version:
1.0.4

### Steps to reproduce
Run a pipeline that uses the cache for some component with archive logs configured.

### Expected result
When the pod is garbage collected after pulling from the cache the logs tab should either display "Pulled from cache." or
the logs of the original components run. How the logi

[2021-09-24 21:07] juliusvonkohout commented on #4649
@Bobgy

There is mlpipeline-minio-artifact which contains

[code]

so yes we can change the credentials, but not the bucket. The goal is to use one bucket per namespace (e.g. mlpipeline-$NAMESPACE) with different credentials per bucket. So there is no point in  using minio-service since we want to use the same minio for all namespaces.

The configuration happens instead in the kubeflow namespace
T

[2021-09-24 21:42] JoshZastrow commented on #4433
I have an example for this guy--we have one GCP project per environment. For example, there is a `_staging` and a `_prod` project, and there is one pair for each internal project.

This means we have a `_staging` Container Registry we push images to, and a `_prod` Container Registry we push images to.  Build and deploy process is configurable by GCP's `project_id`.

However, the component spec's i

[2021-09-25 03:37] Bobgy commented on #4649
@juliusvonkohout our future plan is like the following:
1. Refer to  https://www.kubeflow.org/docs/components/pipelines/pipeline-root/#via-configmaps, you can configure different pipeline root per namespace, e.g. minio://mlpipeline-ns1.
2. For v2 compatible, artifact metadata is still passed via argo artifacts, but it's only metadata info, the actual artifact content are on pipeline root. Is there

[2021-09-25 05:51] #5680 closed

[2021-09-25 07:53] juliusvonkohout commented on #4649
@Bobgy ok, If I simply set minio://mlpipeline-namespace in kfp-launcher in namespace, does that also modify the user interface to only show pipelines from that pipeline root?

So for v1 and pure Argo artifacts I can try approach mentioned in the post above. For V2 I would rely on kfp-launcher.

Is it possible to set usernames and passwords for ml-metadata? I really need a way to isolate the namesp

[2021-09-25 16:32] drubinstein opened #6619 "[feature] Question about passing complex objects using pickle"
### Feature Area

/area backend
/area sdk
/area samples

### What feature would you like to see?

May already be handled, but I notice that in [_data_passing.py](https://github.com/kubeflow/pipelines/blob/dec03067ca1f89f1ca23c7397830d60201448fa6/sdk/python/kfp/components/_data_passing.py#L129) there's a `Base64Pickle` Converter. Would it be possible to provide some example code in the documentatio

[2021-09-25 17:38] drubinstein opened #6620 "Is it possible to use a local path to stage a file for a kubeflow pipeline?"
Hi,

I have a local csv file that I want to use to kick start my pipeline. Is there a way to "stage" that file using kubeflow? I can't quite make sure if it's possible to use InputPath as a pipeline parameter or not. Am I supposed to upload my file to GCS and then pass the GCS URI along instead?

Thanks

[2021-09-26 08:56] zijianjoy commented on #6301
Show a node which is similar to Execution node, allow user to view detail of it, and allow user to click the expand button to enter the subDAG level. Also have a breadcrumb to allow user to go back to parent layer.

Input/Output Parameters and Artifacts.

While being in subDAG layer, have a parent node as the generator of Artifacts from outside the SubDAG. The ancestors layer is past to this eleme

[2021-09-26 08:56] #6301 closed

[2021-09-27 05:18] pigbrain commented on #6378
@zijianjoy Could you check this issue ?

[2021-09-27 07:41] cah-parita-desai commented on #6426
Hi Sina,
I did tried with the change as "python_module_name". Below is my function

@kfp.dsl.pipeline(name=PIPELINE_DISPLAY_NAME, pipeline_root=PIPELINE_ROOT_PATH)
def pipeline(
    project: str = PROJECT_ID,
    location: str = LOCATION,
    display_name: str = TRAINING_JOB_NAME,
    python_package_gcs_uri: str = PYTHON_PACKAGE_GCS_URI,
    python_module_name: str = PYTHON_MODULE_NAME,
    contai

[2021-09-27 07:42] cah-parita-desai commented on #6503
Getting this error now on changing to python_module_name. Have put the code in #6426

KeyError                                  Traceback (most recent call last)
<ipython-input-9-57017d2a36e9> in <module>
      2 pip_package_path=PIPELINE_DISPLAY_NAME + ".json"
      3 compiler.Compiler().compile(
----> 4     pipeline_func=pipeline, package_path=pip_package_path
      5 )

/opt/conda/lib/python3.7

[2021-09-27 08:08] GezimSejdiu commented on #4083
Hi team,

I also see the benefit of streamlining ResourceOp via ContainerOp or similar approaches (e.g. implement some of the features BaseOp do have to ResourceOp as well) so that jobs that must be rendered via yaml (e.g. Spark job) benefit of these features. One of the important features is caching (as that is enabled by default) and it can't be disabled via [set_caching_options](https://kubeflo

[2021-09-27 12:01] motilalmeher commented on #4275
"/reopen"

[2021-09-27 12:03] motilalmeher commented on #4275
@vishal-kr-yadav Have you solved this issue?

[2021-09-27 13:32] boarder7395 opened #6623 "[feature] Cache pod updates to change node-selector/tolerations."
### Feature Area

/area backend

### What feature would you like to see?

The ability to override node-selector, and toleration for components that are pulling from the cache.

### What is the use case or pain point?

Currently when a component is pulled from cache it gets scheduled with the same tolerations and node-selectors. In the case of a GPU machine this can result in a expensive machine be

[2021-09-27 15:52] SinaChavoshi commented on #6503
Duplicate of #6426 , I'm closing this issue and reopening the original issue.

[2021-09-27 15:52] #6503 closed

[2021-09-27 16:27] SinaChavoshi commented on #6426
We are in the process of deprecating this method - see #6474 given that I'm going to close this issue as wont fix.

The method that we have here is a wrapper around [google.cloud.aiplatform.CustomPythonPackageTrainingJob](https://googleapis.dev/python/aiplatform/latest/aiplatform.html?highlight=custom%20package#google.cloud.aiplatform.CustomPythonPackageTrainingJob) . See [source code here](https:

[2021-09-27 16:27] #6426 closed

[2021-09-27 18:27] boarder7395 commented on #6623
This issue is a duplicate of another issue that has already been merged: https://github.com/kubeflow/pipelines/issues/4777
Closing.

[2021-09-28 00:21] capri-xiyue commented on #6156
PR merged https://github.com/kubeflow/pipelines/pull/6569

[2021-09-28 01:14] #4708 closed

[2021-09-28 07:10] #6433 closed

[2021-09-28 07:10] #6576 closed

[2021-09-28 07:19] eshaingle commented on #6612
any suggestion how to overcome this error? or any other way to create dataproc cluster?

[2021-09-28 08:58] chensun opened #6628 "[sdk] Cannot refer to the loop parameter within the grandchild task"
### Environment

*  KFP version:
Vertex Pipelines

*  KFP SDK version:
1.8.2

### Steps to reproduce
Run the following pipeline on Vertex Pipelines:
[code]

### Expected result

Expect no error

### Actual results

Get HTTP 400 error with message:
`Component input parameter 'pipelineparam--text_parameter-loop-item' is not defined`

[2021-09-28 09:32] cah-parita-desai commented on #6426
Thanks Sina for the update. It helped.
Currently i upgraded the version of google-cloud-aiplatform and tested using CustomPythonPackageTrainingJobRunOp this wrapper.
Can you please provide us production ETA about this new wrapper function which i understand is currently work in progress.

Thank you!

[2021-09-28 11:04] juliusvonkohout commented on #5138
@elikatsis @Bobgy @elikatsis

Please merge
https://github.com/kubeflow/pipelines/pull/6629
and
https://github.com/kubeflow/kubeflow/pull/6160

and you will have automatic authentication by default

[2021-09-28 11:15] meowcakes commented on #4090
I think this feature request would still be useful. To give an example, if the component launches an EMR job and you want to use `{{workflow.uid}}` in the job name or tags so that it can be traced to a specific workflow. The job name has no effect on the output of the component, but Kubeflow will never use the cache because `{{workflow.uid}}` is always unique.

[2021-09-28 15:49] #6612 closed

[2021-09-28 15:49] esha-ingle-mpf commented on #6612
I figured out the issue and it was on my side. need to specify the cluster object using `cluster=object`

[2021-09-28 16:12] Sharathmk99 commented on #6380
Works as expected. Thank you

[2021-09-28 16:12] #6380 closed

[2021-09-28 18:01] zijianjoy opened #6633 "Show summary card with ID, Upload time, description, source, version. Version can be selected."

[2021-09-28 18:10] capri-xiyue opened #6635 "[docs]v2 Add docs for v2 mode"
- [ ] Add caching doc for v2 mode. Part of https://github.com/kubeflow/pipelines/issues/6156

[2021-09-28 18:46] k-gupta opened #6636 "[sdk] Getting None as value when float 0 is passed in"
When the input for a component is of type float and the value passed in is 0 the component gets it as None. Is this expected? If so what all are the scenarios that this would happen in. Following is a sample pipeline that I used on Google Vertex AI.

### Environment

*  KFP version: 1.8.2
*  All dependencies version:

kfp                      1.8.2
kfp-pipeline-spec        0.1.11
kfp-server-api

[2021-09-28 19:10] nurcandurak opened #6637 "[sdk] ValueError: compiler cannot find the model-export-path"
### What steps did you take

I am building a scikit-learn model and want to deploy the model on aiplatform.

### What happened:

When I compile the pipeline, I am receiving the following error:
"ValueError: compiler cannot find the model-export-path"

### Environment:

model_file_path = f"{model_dir}/model.joblib"

  with tf.io.gfile.GFile(model_file_path, mode="wb") as training_file:
      joblib

[2021-09-28 19:17] nurcandurak commented on #6637
Traceback (most recent call last):
  File "/usr/local/bin/dsl-compile", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/site-packages/kfp/compiler/main.py", line 104, in main
    not args.disable_type_check,
  File "/usr/local/lib/python3.7/site-packages/kfp/compiler/main.py", line 91, in compile_pyfile
    _compile_pipeline_function(pipeline_funcs, function_name, output_

[2021-09-28 20:59] chensun commented on #6495
This is fixed by https://github.com/kubeflow/pipelines/pull/6600
Pending KFP SDK 1.8.3 release (by today).

[2021-09-28 20:59] #6495 closed

[2021-09-28 21:24] capri-xiyue opened #6640 "[bug] sample v2 test enables cache for all pipelines with v1 mode"
### What steps did you take

### What happened:
sample v2 test enables cache for all pipelines with v1 mode
### What did you expect to happen:
sample v2 test should disable cache for all pipelines with v1 mode
### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

### Anything else you would like to add:

### Labels

---

Impacted by this bug? Give

[2021-09-28 21:25] capri-xiyue commented on #6640
<img width="897" alt="Screen Shot 2021-09-24 at 4 45 09 PM" src="https://user-images.githubusercontent.com/52932582/135167898-18d57652-b06f-4b40-a5b3-939b6bc01c45.png">
Screenshot attached

[2021-09-28 22:51] zacharymostowsky commented on #1654
How would I do this for a functional component?

[2021-09-28 22:54] Bobgy commented on #1654
@zacharymostowsky the instructions you read is outdated. https://github.com/kubeflow/pipelines/issues/1654#issuecomment-903224028 is our current recommendations

[2021-09-29 00:15] pablofiumara opened #6642 "How can I run a pipeline when a file is uploaded to a GCP bucket (Kubeflow 1.3 multi-user)?"
I get the following error:

_"Failed to authorize with API resource references: Failed to authorize with API resource references: PermissionDenied: User 'myServiceAccount@appspot.gserviceaccount.com' is not authorized with reason: (request: ResourceAttributes{Namespace:namespace1,Verb:list,Group:pipelines.kubeflow.org,Version:v1beta1,Resource:experiments,Subresource:,Name:,_

Code

[code]

[2021-09-29 04:49] #6640 closed

[2021-09-29 09:22] chensun commented on #6574
@ConverJens, the change is we install `kfp` package into the component for the executor and build-in artifact types support. The alternative would be inline the code into the container command line as mentioned in https://github.com/kubeflow/pipelines/issues/6116#issuecomment-885506281

We will look into making `kfp` installation an option that you could opt-out. Before that is ready, can you use

[2021-09-29 09:24] chensun commented on #6574
@jiasenwu Did this fail your component execution? or was it only warnings?

[2021-09-29 09:28] ConverJens commented on #6574
@chensun Thanks for the response!

I have pip installed and I have already preinstalled both kfp and other pypi packages. So this is happening with an image that already has pip installed but I'm not using a virtual environment.

[2021-09-29 09:28] chensun commented on #6637
@nurcandurak can you please share the complete pipeline code you were compiling? also which SDK version were you using?

[2021-09-29 09:39] jiasenwu commented on #6574
This is an error. Ubuntu doesn't allow me to call ensurepip. I end up doing a monkey patch to this function `kfp.v2.components.component_factory._get_packages_to_install_command`

[code]

[2021-09-29 09:45] ConverJens commented on #6574
@chensun @jiasenwu
I feel that there must be something fundamentally broken about the way package installations is now handled in kfp v2.

Installing additional requirements worked great in kfp v1 using the same base image for the pipeline so it seems as some other change in how packages are now being installed is the culprit.

[2021-09-29 12:36] anencore94 opened #6644 "[feature] Is there any feature to control lifecycle of resource used in kf pipeline ?"
### Feature Area

### What feature would you like to see?

There are `ResourceOp` to use some k8s resources(pvc, configmap, secret, ...) in kubeflow pipeline.
However, Is it possible to create and tear down such resources from the start of pipeline and the end of the pipeline ?
Also, Is it possible to tear down such resources no matter what pipeline succeeded or not (like `try ~ finally`)?

I coul

[2021-09-29 15:58] pmcvay opened #6645 "[bug] GCP component launch_flex_template wrong URL"
## Summary
When launching a flex template, the URL is incorrect.
It is `https://dataflow.googleapis.com/v1b3/projects/ostk-gcp-mlcouponoffer-prod/locations/us-west3/templates:launch?gcsPath=`
It *should* be `https://dataflow.googleapis.com/v1b3/projects/ostk-gcp-mlcouponoffer-prod/locations/us-west3/flexTemplates:launch?gcsPath=`

Notice `templates` vs `flexTemplates` at the end of the URL

### Wh

[2021-09-29 16:09] #6399 closed

[2021-09-29 16:09] #6610 closed

[2021-09-29 16:09] #6611 closed

[2021-09-29 18:27] #6383 closed

[2021-09-29 18:27] #6628 closed

[2021-09-29 18:28] akartsky commented on #6465
/area components/aws/sagemaker

[2021-09-29 18:28] nurcandurak commented on #6637
I use kfp= 1.6.1

And the code block is:
from sklearn.linear_model import LinearRegression
import joblib

model = LinearRegression()
model.fit(training_data_set[feature_columns], training_data_set[target_col])

model_file_path = f"{model_dir}/model.joblib"

## Then there is ai_platform deploy operation, THere is no serving operation.
def aiplatform_deploy_op(
    model_uri: str,
    project_id: st

[2021-09-29 18:33] akartsky commented on #5394
/area components/aws/sagemaker

[2021-09-29 18:57] pablofiumara commented on #2920
@rmgogogo @ultrons I am not able to make a GCP function work with Kubeflow pipelines. I get the error _No such file or directory: '/var/run/secrets/kubernetes.io/serviceaccount/namespace'_

What am I missing?

[2021-09-30 00:11] ckchow commented on #6293
ok. I think I have avoided this issue on some other pipeline by using the `@component` annotation, which I assume calls some other, non-deprecated function.

[2021-09-30 00:31] thesuperzapper commented on #5138
@juliusvonkohout I have made some comments on your PRs:
- https://github.com/kubeflow/pipelines/pull/6629#issuecomment-930642835
- https://github.com/kubeflow/kubeflow/pull/6160#issuecomment-930645832

[2021-09-30 09:27] juliusvonkohout commented on #5138
Sorry for the delay. There are three options as commented by me in the specific issues.

1. continue with pipeline-profile-controller for Kubeflow 1.5 and accept my pull requests. Almost anyone will use pipelines and even if they do not that change will not harm them.

2. You remove pipeline-profile-controller and rely on "ProfileResourceTemplate". This would have the great benefit of getting rid

[2021-09-30 14:07] peterhaddad3121 opened #6649 "[bug] Kubeflow VolumeOp (PVC) not delete after Pipeline execution."
### What steps did you take

The first step of a Pipeline is creating a VolumeOp to be attached to a couple of KF components in a Pipeline.
After the pipeline finishes and all Component pods are Completed then deleted, the PVC created does not delete.
### What happened:

I edited the deployment of ml-pipeline-persistenceagent to include:
[code]

### What did you expect to happen:

The PVC of the V

[2021-09-30 15:55] pablofiumara commented on #6642
Now my GCP function is able to list pipelines.

I had to use the following service account:  KF-NAME-user@KF-PROJECT.iam.gserviceaccount.com .

This message appears in the logs but it's just a warning message  *No such file or directory: '/var/run/secrets/kubernetes.io/serviceaccount/namespace'*

[2021-09-30 15:55] #6642 closed

[2021-09-30 17:46] juliusvonkohout opened #6651 "[sdk] dependency conflict with tensorflow 2.6.0"
### Environment

*  KFP version: 1.7
*  KFP SDK version: 1.8.3

*  All dependencies version:
[code]
kfp==1.8.3 collides with tensorflow==2.6 because it requires

https://github.com/kubeflow/pipelines/blob/220d79df66e31bbd93c409fb361e0463bde4aeac/sdk/python/setup.py#L56

while tensorflow needs
[code]

is `'typing-extensions>=3.7.4,<4;python_version<"3.9"'`   not enough?

[2021-09-30 18:20] #6633 closed

[2021-09-30 19:28] TheTravellingSalesman commented on #4710
I am also having this same problem on `kfp 1.8.3`. I'm using the dataproc components from the component store.

[code]

Compiler:
[code]

Error:
[code]

Someone else mentioned that `.ignore_type()` works, but it appears that's no longer the case.

This is the fundamental question that needs answering, imo, in order to get folks to pass parameters to pipelines the way that the v2 pipelines expect t

[2021-09-30 23:40] jmcarp commented on #6553
I see a 👍 from @Bobgy. Would you accept a patch for this?

[2021-10-01 01:30] Bobgy commented on #4649
No, pipelines are namespace separated on its own.

Yes, you can do that.

That is a question to google/ml-metadata. Can you raise a FR there? As far as I know, there is no current plan. Would it be fine bringing up a separate mlmd instance per namespace? Any downsides?

[2021-10-01 02:48] su0625 commented on #6620
Hi,

Can this help you https://github.com/kubeflow/pipelines/issues/2977 ?

[2021-10-01 02:54] drubinstein commented on #6620
Yup. This seems relevant.

[2021-10-01 02:58] drubinstein commented on #6620
Looks like it's only accessible via the kfp CLI though?

[2021-10-01 07:45] NikeNano commented on #6001
Would be great to get some feeback from you guys @Bobgy and @munagekar

[2021-10-01 09:59] juliusvonkohout commented on #4649
Ok this is a big issue. We really need a strict namespace isolation for pipeline definitions, runs, experiments, artifacts etc.  minio://mlpipeline-namespace in kfp-launcher should also be respected by the visualization server etc.

Yes i will ask them, but your suggestion is more interesting.
The tiny downside would be one more PVC and pod per user namespace. Would it be possible and sensible to

[2021-10-01 11:14] Bobgy commented on #4649
A bit more context: namespaced pipeline template API has been implemented. What is missing -- https://github.com/kubeflow/pipelines/issues/5084

Also for the level of separation you want to achieve, I think the simplest solution is installing KFP standalone for each namespace.

[2021-10-01 16:53] wdma commented on #6249
Hello,  I am trying out the emmisary executor with Argo workflows. It appears that simply applying a configmap specifying the emmisary executor is sufficient to break Argo. After application, the workflow will launch, but pods do not initialize. Has anyone else experienced this issue or can you tell me what am I doing wrong?

my configmap
[code]

I am testing two different workflows in the default

[2021-10-01 17:05] juliusvonkohout commented on #4649
Well we also want to use notebooks katib kfserving etc. so standalone pipelines are not an option. Is that level of separation not desirable for everyone?

So the UI is lagging behind, but hopefully kfp.client supports namespaced pipelines already.

[2021-10-02 14:10] midhun1998 commented on #6644
Hi,
AFAIK we can leverage `ExitHandler `to tear down resources.
https://kubeflow-pipelines.readthedocs.io/en/latest/_modules/kfp/dsl/_ops_group.html#ExitHandler

[2021-10-03 11:23] munagekar commented on #6001
@NikeNano I went through the design doc. The proposed changes sound good.

Like you mentioned in your design doc, if advanced filtering for scheduled jobs is a requirement, it might make sense to replicate changes from kubernetes to mysql, otherwise relying on kubernetes api makes sense and should be faster to implement.

[2021-10-04 07:15] mike0355 commented on #6620
I think you can use add your csv file into dockerimage(In the dockerfile you can use "add" to add your csv file).
On the pipeline , you can try this code:

     import sys
     sys.path.append("your csv file path")
I use this method to my local npz file on the pipeline , and it's work for me.

![image](https://user-images.githubusercontent.com/51089749/135808805-2058cf2b-2295-4af7-a2b3-0bea6cbd350

[2021-10-04 16:50] zijianjoy commented on #5920
/lifecycle frozen

[2021-10-04 16:53] zijianjoy commented on #5920
We can use `filter` to obtain runs by specifying states: https://github.com/kubeflow/pipelines/blob/master/backend/api/filter.proto#L81-L88

[2021-10-04 17:52] boarder7395 commented on #5257
Not sure this is the correct place to bring this up. And I am not familiar with v2 component configuration yet but it looks like the mutation webhook in cache-server backend is looking for key pipelines.kubeflow.org/enable_caching while the python sdk is creating key pipelines.kubeflow.org/cache_enabled when using set_cache_enabled.

See following files:
https://github.com/kubeflow/pipelines/blob/

[2021-10-04 20:16] jli commented on #6014
Hi KFP team, my team uses GKE and we got an email from GCP today: "[Action Required] Prepare for GKE 1.22 Open source upstream beta API Removal". The email includes:

Based on the [GKE release schedule](https://cloud.google.com/kubernetes-engine/docs/release-schedule), seems like k8s 1.22 is already available for the "rapid" release channel, and will affect the "regular" release channel in Novembe

[2021-10-04 21:00] chensun opened #6669 "10/04/2021 Presubmit kubeflow-pipelines-tfx-python36 failing"
[code]

https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/6666/kubeflow-pipelines-tfx-python36/1445118411406315520

[2021-10-04 21:32] #6669 closed

[2021-10-05 00:47] zijianjoy opened #6672 "Upload pipeline spec to backend"
- [x] Take a public URL for json file
- [x]  Take a local json file
- [x]  Use the pipeline spec from an existing run to create a new run.
- [x] #7571

[2021-10-05 00:47] zijianjoy opened #6673 "Draw static graph first, then update static graph with runtime MLMD execution and artifact, and edge."

[2021-10-05 00:47] zijianjoy opened #6674 "Support runtime drawing of sub-DAG."
Prerequisite: https://github.com/kubeflow/pipelines/issues/6779

[2021-10-05 00:48] zijianjoy opened #6675 "Open a pipeline run using run ID"

[2021-10-05 00:49] zijianjoy opened #6676 "Side Panel for KFPv2 Run"

[2021-10-05 06:57] SaschaHeyer opened #6681 "Vertex AI Pipeline - Container OP `set_cpu_limit` does not work with parameter_values nor at runtime"
Hello Kubeflow Team,
Hello Google Team,

The container OP `.set_cpu_limit`only works when the value is set explicit and not via parameter_values or at runtime
https://github.com/kubeflow/pipelines/blob/4906ab2f1142043517249a62b9f22bc122971fdf/sdk/python/kfp/dsl/_container_op.py#L378

**Reproduce**

1. parameter_values: see steps to reproduce
2. runtime: see https://github.com/kubeflow/pipelines/bl

[2021-10-05 07:51] SaschaHeyer commented on #1518
/reopen

[2021-10-05 07:51] #1518 closed

[2021-10-05 08:08] ckchow commented on #6293
update: I ran into this issue again when using a kubeflow cluster. I had only managed to avoid this problem when I was using kfp on vertex ai.

component
[code]

kubeflow log
[code]

I can post the pod yaml if necessary. (it's a bit large)

[2021-10-05 10:09] ckchow opened #6685 "[sdk] failure launching Dataproc jobs"
### Environment

*  KFP version: Vertex AI
*  KFP SDK version: 1.7
*  All dependencies version:
kfp                               1.8.2
kfp-pipeline-spec                 0.1.11
kfp-server-api                    1.7.0

### Steps to reproduce
[code]

### Expected result
submission of a dataproc job.

### Materials and Reference
error from vertex runner:
[code]
---

Impacted by this bug? Give it a 👍.

[2021-10-05 18:26] zijianjoy opened #6686 "POC for Runtime Pipeline DAG"

[2021-10-05 18:27] zijianjoy commented on #6686
https://user-images.githubusercontent.com/37026441/136081316-5c2f0117-d429-4179-ae8f-75eb9b69bbc1.mov

[2021-10-05 18:43] amrobbins commented on #6674
Hi @zijianjoy,

I am trying to create a pipeline that will read from a table during pipeline execution, and launch a few pod operations for each row that is in the table at that time. Will the feature that is mentioned here allow that capability? Or, do you know if that capability already exists? Thanks.

[2021-10-05 19:09] senarvi commented on #5807
Bump

[2021-10-05 19:46] zijianjoy commented on #6674
@amrobbins Can you try using `parallelFor`? https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html?#kfp.dsl.ParallelFor

This issue is for tracking KFPv2 UI implementation, sorry that it is not obvious from title

[2021-10-05 21:36] ji-yaqi opened #6687 "SDK: Drop support for Python 3.6"
### Proposed Changes
Drop support for Python 3.6 in January 2022.

### Justification
Python 3.6 will become unsupported by PSF in December 2021, and dropping support for it will allow us to begin using [Python 3.7 features](https://docs.python.org/3/whatsnew/3.7.html#summary-release-highlights).

[2021-10-05 23:10] amrobbins commented on #6674
ok, I see the parallel for does look like it will work for my use case. Thanks for the suggestion.

[2021-10-06 02:03] #6636 closed

[2021-10-06 08:10] juliusvonkohout commented on #6651
@chensun click<9,>=7.1.1 works for me with kfp and seldon-core

[2021-10-06 08:19] juliusvonkohout commented on #6651
Please reopen, i can still see
https://github.com/kubeflow/pipelines/blob/7b4f28379d4204da3ad38ce376d2157cc3454356/sdk/python/requirements.txt#L22

[2021-10-06 13:37] kujon commented on #1132
@vicaire as I understand steps 1 + 2 have been completed, are there still plans to introduce a standalone CRD? Having to rely on Python SDK and submitting files to Kubeflow API instead of Kubernetes API makes Kubeflow a really hard sell. In our case, dedicated CI/CD workflows need to be developed, we can't rely on any of the tooling (e.g. `helm-secrets`) that works virtually with any other thing d

[2021-10-06 17:24] vemqar commented on #6116
I would like to also add that it would be nice to be able to use the v2 Metrics capabilities with the manually written `component.yaml` approach. Since this is not possible, I have to create op from python functions directly if I want to use the Metrics capability (for display in Vertex AI). As mentioned here in v1, this was possible by dumping to a specified JSON file and the Metrics were read fr

[2021-10-06 17:55] parthmishra commented on #6116
@vemqar I could be wrong, but If you're using Python for your component, you can use the component decorator to output a `component.yaml` definition file (and specify custom base image as output of `build.sh`). The function you decorate can essentially just be used for serializing inputs, passing them to the rest of your code (e.g. `src/train.py`) and then serializing the outputs. Not ideal as you

[2021-10-06 18:10] vemqar commented on #6116
Thanks @parthmishra for the advice. I did try to essentially import the `Metrics` class definition into my src/ code , but it doesn't work because it needs to be initialized. I realized that the kfp `Artifact` needs to be initialized with GCP paths which will specify where the Metrics Artifacts will be stored. So what I understand, essentially I would have to myself initialize `Artifact` with a `u

[2021-10-06 20:54] chensun opened #6695 "10/06/21 Postsubmit test failure due to ai-platform models reaches quota limit"
The symptom is
[code]

[2021-10-06 20:56] capri-xiyue opened #6696 "[feature] Removes docker dependencies in test infra related scripts"
### Feature Area
Starting with GKE node version 1.19, the default node image for Linux nodes is the Container-Optimized OS with Containerd (cos_containerd) variant instead of the Container-Optimized OS with Docker (cos) variant. And GKE will not be able to support Docker container runtime beyond GKE version 1.24.
Test infra has dependencies on Docker Runtime. Need to migrate from cos to cos_contai

[2021-10-06 22:19] engineeryashsaxena opened #6697 "Pushing csv/json/parquet files to Big Query using Kubeflow component"
I am trying to store the output of my final process to a big query table using kubeflow component, pls can you suggest best practise for the same. Accessing "google.cloud" in python from lightweight component is throwing errors, hence I need alternative suggestions for the same

[2021-10-07 16:16] feizerl opened #6699 "Upgrade cloudpickle to > 2.0.0"
Hello,

One of the features of pipelines is Step Caching (https://www.kubeflow.org/docs/components/pipelines/caching/) to avoid running the costly computations again and again.

The key for caching is:

[code]

When using the option `use_code_pickling` from https://github.com/kubeflow/pipelines/blob/74c7773ca40decfd0d4ed40dc93a6af591bbc190/sdk/python/kfp/components/_python_op.py#L516

the pickle o

[2021-10-08 00:39] zijianjoy commented on #6614
cc @IronPan would you like to add `command` to the component?

[2021-10-08 00:40] zijianjoy commented on #6645
cc @IronPan would you like to follow up on this?

[2021-10-08 00:42] zijianjoy commented on #6649
Possible related: https://github.com/kubeflow/pipelines/issues/3938

[2021-10-08 00:47] zijianjoy commented on #6615
Hello @boarder7395 , the pod log will not be cached, so it is expected not seeing the log. If you want to see this feature, maybe adding a feature request?

[2021-10-08 00:52] zijianjoy commented on #6620
Looks like @mike0355 has already provided a solution. Please feel free to continue discussion if not worked.

[2021-10-08 00:52] #6620 closed

[2021-10-08 07:06] rohitgujral commented on #3711
@ConverJens @ra312 I'm also trying to persist the pipeline pod logs so that if pod gets deleted then logs should be available to the pipeline runs.
I added  `archiveLogs: true` to the argo/base config-map and restarted pipelines deployment but still after deleting the pod, im not seeing logs.

![image](https://user-images.githubusercontent.com/8684157/136512894-44b1463e-ce0e-472c-afc2-f4f56d8eb672

[2021-10-08 07:09] rohitgujral opened #6704 "[frontend] Pipeline logs persistence"
I'm trying to persist the pipeline pod logs so that if pod gets deleted then logs should be available for the pipeline runs.
I added `archiveLogs: true` to the argo/base config-map and restarted pipelines deployment but still after deleting the pod, im not seeing logs.

![image](https://user-images.githubusercontent.com/8684157/136513357-93106f67-6bf8-48b7-afa1-31bcaae00407.png)

Is there any othe

[2021-10-08 08:11] edwardzjl commented on #5925
Same problem here, we followed the [manifests](https://github.com/kubeflow/manifests#kubeflow-pipelines) and deployed pipeline with multi-user support, but still all pipelines are public to everyone.

[2021-10-08 20:05] etsyamitra opened #6705 "kfp local runner not working with dsl conditionals"
### What steps did you take

### What happened:
Running the kfp with local client is ignoring the dsl.conditionOps
[code]

[code]
### What did you expect to happen:
Expect the block to be skipped

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP SDK version: 1.8.0

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-08 22:21] chensun commented on #6699
@feizerl, it's fine to merge the PR, but I think in general pickling isn't a good idea, the result of pickling is tied to a specific Python version. And we're not offering the pickling option in sdk v2.

[2021-10-09 06:51] Bobgy commented on #6695
Duplicates https://github.com/kubeflow/pipelines/issues/2356

[2021-10-09 06:51] #6695 closed

[2021-10-10 21:42] zijianjoy opened #6707 "Rundetails Buttons: Retry, Clone Run, Terminate, Restore and Archive"

[2021-10-10 21:43] zijianjoy opened #6708 "Shows Run ID, Run name on title"

[2021-10-10 21:59] zijianjoy opened #6710 "Shows Run details, Run parameters, a link to Pipeline definition if possible."

[2021-10-10 21:59] andrijaperovic opened #6711 "[backend] metadata-grpc-service mysql_real_connect failed (SSL enabled)"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Kubeflow Pipelines Standalone

*  KFP version:
1.7.0-alpha.1

*  KFP SDK version:
 1.6.2

### Steps to reproduce

1. Enable SSL on external MySQL configuration (Azure MySQL Server)
2. Restart metadata-grpc-deployment pod
3. Observe error:
[code]

### Expected result

metadata-grpc-deployment should be initialized (not sure if SSL par

[2021-10-11 03:42] zijianjoy commented on #6578
@capri-xiyue Sounds good on providing the ability to disable pipeline level caching on UI side, once we updated pipeline job proto to support this field. But question: currently when you create a run from pipeline template, UI doesn't use the PipelineJob payload itself, instead UI will create a run using PIPELINE_VERSION resource_reference. So I guess it should be backend which exposes caching con

[2021-10-11 05:45] #6686 closed

[2021-10-11 17:55] #6708 closed

[2021-10-11 18:08] chensun commented on #6699
Maybe I missed something in your use case, but with function-based component, you never need to build an image. By default, the container image is `python:3.7`, and we inline the source code of the function as plain text in the container cmd line. If you set `use_code_pickling=True`, then we inline the pickled string of the function in the container cmd line. Either way, the function appears, in s

[2021-10-11 18:25] feizerl commented on #6699
@chensun For simple functions, the approach is equivalent. (simple = self contained)

However, we have a complex codebase split across different modules. Researchers can (and do) change code in different modules such that the function code remains same, but the modules it is using are different now. Kubeflow (and fwiw python) cannot recursively go to all modules that function is using and copy the

[2021-10-11 18:43] #6699 closed, assigned to nobody

[2021-10-11 21:43] ckchow commented on #6293
To be clear, this seems to pop up beyond the original reported context of recurring runs. This just happened to be the only issue I saw in the project that had the same error text that I saw.

[2021-10-12 08:39] pretidav opened #6718 "[bug] ParallelFor overwrite output artifacts at each iteration"
### What steps did you take
from kfp.v2 import dsl
from kfp import dsl as v1dsl

Using v2 compatible pipeline, using a combination of
  with v1dsl.SubGraph(parallelism=1):
      with dsl.ParallelFor(generate_task.output) as item:

 where generate_task is a component with a dictionary as output (whose length is decided dynamically)

### What happened:

Output artifact produced inside the loop are w

[2021-10-13 12:08] rexad opened #6726 "client.list_experiments() not working as well as creating runs, authentication failing"
### What steps did you take
We deployed kubeflow on premise using kustomize file https://github.com/kubeflow/manifests/tree/v1.3.1, v 1.3.1
Created a notebook, tried to create a run from it using kfp

I can't connect from the notebook to pipelines  (to create runs and see experiments )
`import kfp`
`kfp_endpoint=None`
`client.list_experiments()`

but i can enumerate pipelines
`import kfp`
`kfp_end

[2021-10-13 12:40] juliusvonkohout commented on #5851
I fixed the first part and the default from persistenceagent is working now with kubernetes resources https://github.com/kubeflow/pipelines/pull/6622 , but i still think that pipelineconf `TTL_SECONDS_AFTER_WORKFLOW_FINISH` per workflow is broken as mentioned in https://github.com/kubeflow/pipelines/issues/6432

[2021-10-13 14:19] feizerl opened #6727 "Ability to generate cache key locally by end user"
Hello,

One of the features of pipelines is Step Caching (https://www.kubeflow.org/docs/components/pipelines/caching/) to avoid running the costly computations again and again.

The key for caching is:

[code]

When looking at logs of cache server, we see the following log lines:

[code]

Is there a way, a user can generate the cache key locally on their end (in this case `c96896be84ad7d36b126ff29

[2021-10-13 14:24] feizerl commented on #6727
Also, it would be great if I can generate this in python directly.

[2021-10-13 14:38] feizerl opened #6728 "Ability to query cache server"
Hello,

In the current setup, whenever a cache server is not able to find a corresponding key, it generate the following lines in the logs:

[code]

Is it possible that give a cache key (in this case `ac8e44042f652b336247b7355e388d68246491b6e9afe60e2102e5637c255728`) a user can query the cache server whether it is already present or not?

[2021-10-13 18:27] zijianjoy opened #6732 "`StartedAt` and `FinishedAt` for executions are not available in MLMD"
# Argo

In KFPv1, we are able to get `StartedAt` and `FinishedAt` from each `node` in argoworkflow.

![startatfinsihedat](https://user-images.githubusercontent.com/37026441/137191922-07c8b2d1-f9b7-407b-b2da-a038263c15d3.png)

# MLMD

In KFPv2, we don't have such properties filled with this information in MLMD execution object.

[2021-10-13 21:52] gordonsilvera opened #6734 "[backend] Error occured while trying to proxy to: ... central1.pipelines.googleusercontent.com"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
- Created a custom Kubernetes cluster
- Created the pipeline through [AI Platform Pipelines](https://console.cloud.google.com/ai-platform/pipelines/clusters)

*  KFP version: 1.7.0

### Steps to reproduce
- This error is received when opening the UI and/or loading a pipeline from the CLI
[code]

### Expected result
The result should

[2021-10-14 00:05] juliusvonkohout commented on #4649
The only really clean solution I can think of is updating the profile controller to create minio and ml-metadata instances per profile / namespace similar to the ml-pipeline-visualization-server. The overhead is negligible. As a second measure I would add a Networkpolicy that blocks all incoming traffic to user namespaces that does not come from istio-system, kubeflow, knative-eventing, knative-se

[2021-10-14 00:28] ruodingt opened #6736 "[deployment] [FAIL] "gcr.io/kpt-fn/apply-setters:v0.1""
Hi Team,

Thanks for checking this thread despite there are already so many opening issues.
I have search internet and I haven't found duplicated issues.

I was following the instruction [here](https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/) to deploy a management cluster.

I followed the instruction and have got the dependecies installed:

[code]

I have configured the`e

[2021-10-14 00:37] #6736 closed

[2021-10-14 03:32] lynnmatrix opened #6738 "[feature] Provides option to install python packages in component image"
### Feature Area
/area sdk

### What feature would you like to see?

Provides option to install python packages in the target image of component.
For example:
[code]

### What is the use case or pain point?

In some use cases, kubeflow pipeline is deployed in intranet cluster without access to internet, especially in financial companies, so it is not possible to install python package during runti

[2021-10-14 06:05] zijianjoy opened #6739 "Side panel: Execution: Input/Output, execution detail"

[2021-10-14 06:05] zijianjoy opened #6740 "Side panel: Artifact: Artifact detail, Visualization"

[2021-10-14 09:42] anifort opened #6743 "[custom-artefact-registry] Define artefact registry to be used when packages are installed"
### Feature Area

### What feature would you like to see?
using function based python components I would like to be able to define the artefact registry that is used to install packages. Another consideration (unsure how) Is to have an authentication mechanism for the given artefact repos.

As an example:
[code]

### What is the use case or pain point?

I cannot define the arefact repo I want to u

[2021-10-14 17:48] amygdala opened #6745 "[bug] issues importing google_cloud_pipeline_components.experimental.hyperparameter_tuning_job component"
with this component (using the most recent pypi release of `google_cloud_pipeline_components`):

https://github.com/kubeflow/pipelines/tree/master/components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job

while this imports without probs:
`from google_cloud_pipeline_components.experimental import hyperparameter_tuning_job` ,

I see this error:
[code]
...
Simi

[2021-10-15 00:48] zijianjoy commented on #6704
Possible related issue: https://github.com/kubeflow/pipelines/issues/6428

One thing we can do is to capture the `main.log` from output Artifact, and visualize it in Logs tab. Welcome contribution for making this change for KFPv1.

[2021-10-15 00:57] zijianjoy commented on #6726
Hello @rexad , what is the platform you use to deploy Kubeflow? The Kubeflow Pipelines endpoint require an identity to be provided in request header when being called.

[2021-10-15 01:03] zijianjoy commented on #6728
Hello @feizerl , I am assuming you are using V2 caching mechansim: https://www.kubeflow.org/docs/components/pipelines/caching-v2/.

Note that V2 caching is different from V1 caching. V1 Caching has a Cache server, but V2 doesn't expose such endpoint.

Are you using V1 pipeline, or V2-compatible pipeline? What is your use case for checking the existence of cache with cache key?

[2021-10-15 01:04] zijianjoy commented on #6738
cc @chensun

[2021-10-15 03:06] andrijaperovic commented on #6711
@zijianjoy thank you for following up.

I thought cloudsqlproxy is only applicable for gcp based on the kustomize template:

https://github.com/kubeflow/pipelines/blob/74c7773ca40decfd0d4ed40dc93a6af591bbc190/manifests/kustomize/env/gcp/cloudsql-proxy/cloudsql-proxy-deployment.yaml

We are running in an Azure (AKS) environment, so there is no cloudsqlproxy deployment in our KFP installation.

[2021-10-15 05:07] Bobgy commented on #4325
We have upgraded to latest argo, so most likely the issue is fixed. Please let me know if it's not the case.

[2021-10-15 05:48] #6739 closed, assigned to zijianjoy

[2021-10-15 06:21] #6710 closed

[2021-10-15 11:28] wiktorof commented on #2372
/reopen
I would be happy to have the same functionality. I've even tested that already by manual change of workflow.yaml:
[code]
so I might try to propose the implementation looking into how dependencies are handled in the kfp code.
Scenario: we have a pipeline containing a few steps, but some are "optional" which means if they fail it's acceptable for us.
Sure that the best would be then to have

[2021-10-15 11:37] juliusvonkohout commented on #6623
@boarder7395 can you reopen? this is not fixed yet

[2021-10-15 11:39] wiktorof opened #6749 "[feature] continueOn functionality available in Argo but not in KFP"
### Feature Area
/area sdk
### What feature would you like to see?
I would like to see the feature described in https://github.com/kubeflow/pipelines/issues/2372
let me copy/paste my comments from there.
### What is the use case or pain point?
I would be happy to have the same functionality. I've even tested that already by manual change of workflow.yaml:
[code]
so I might try to propose the imple

[2021-10-15 12:09] juliusvonkohout commented on #5138
@thesuperzapper which of the three options above sound sensible to you? Or do you have another Idea?

[2021-10-16 15:06] juliusvonkohout commented on #6249
I can report for a team of 10 data scientists that all pipelines in v1 mode work with runasnonroot. I think you should make it the default.

[2021-10-17 00:04] rexad commented on #6726
@zijianjoy thanks for the reply,
makes sense but im calling from the notebook the same cluster, how can i pass this identity?

[2021-10-17 00:06] rexad commented on #6726
should i do something like this ?
https://github.com/kubeflow/kfctl/issues/140#issuecomment-719894529

[2021-10-17 01:37] zijianjoy commented on #6726
If you are using Google Cloud, you can set your email account in header `X-Goog-Authenticated-User-Email` field.

You can do this by using modHeader extension: https://modheader.com/guide/

[2021-10-17 02:40] zijianjoy commented on #6711
I am not very familiar with SQL connection in Azure, the article I can find is https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-architecture.

@berndverst for more help on Azure.

[2021-10-17 02:51] zijianjoy commented on #6727
At the current point, you can rely on the condition `The task’s interface is defined as the combination of the pipeline task specification (base image, command, args), the pipeline task’s inputs (the name and id of artifacts, the name and value of parameters), and the pipeline task’s outputs specification(artifacts and parameters). ` to tell whether a pipeline step will be cached. Reference from:

[2021-10-17 15:12] hainp opened #6750 "[bug] Pipeline UI couldn't load mlpipline-ui-metadata (v1) with Minio gateway in Multi-user install on GCP"
### What steps did you take
I ran a simple 1 step pipeline, which aimed to display a webpage in visualization UI (the Output).

### What happened:

In a KF cluster with MinIO gateway (GCS is the actual storage), Multi-users install (on GCP), the Visualization UI couldn't display the webpage.
[Screenshot](https://imgur.com/5rC0YDg)

### What did you expect to happen:

In a KF cluster with in-cluste

[2021-10-17 22:43] zijianjoy commented on #6750
If you are using V2 compatible mode, can you trying using the new approach to visualize your metrics instead of using `mlpipeline-ui-metadata`? https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#v2-sdk-use-sdk-visualization-apis

[2021-10-18 03:37] hainp commented on #6750
1. No , I don't use __V2 compatible mode__ ; it still misses some features I need (eg: resource quota request / limit, packaging components..).

I add here the simple code if it could provide any insight.
[code]

2. In __V2 compatible mode___, if `package_root` is set to (directly) `gs://{bucket}`, visualization UI works fine. if `package_root` is set to MinIO gateway `minio://{bucket}` I have th

[2021-10-18 17:21] nschenone commented on #6726
Yup tried it

[2021-10-18 22:42] zijianjoy opened #6758 "[KFPv2] Handle the path from run list -> pipeline detail, which user created run without uploading pipeline."

[2021-10-19 08:54] quan-dang opened #6766 "[bug] Address CVE on click lower than 8.x"
### What happened:

A CVE issue has been reported on click version 7.x on GitHub
https://github.com/pallets/click/issues/1833

### What did you expect to happen:

Please update click to resolve it!

[2021-10-19 20:50] forking-renovate[bot] opened #6772 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json5`
Error type: Invalid JSON5 (parsing failed)
Message: `JSON5.parse error:  JSON5: invalid character '\"' at 3:3`

[2021-10-20 04:55] Bobgy opened #6776 "v2 control flow - design"
expand bit.ly/kfp-v2 design with control flow related detailed design

[2021-10-20 12:35] dgajewski1 opened #6777 "[bug] Error uploading pipeline by URL"
### Environment

- Full Kubeflow deployment on AWS EKS, Kubeflow 1.2.0, KFP 1.0.4 or
- local Pipelines deployment on Minikube, KFP 1.6.0

On both deployments same problem

### Steps to reproduce
In Kubeflow Pipelines UI uploading pipeline by url raising an error:

<img width="593" alt="Screenshot 2021-10-20 at 12 56 45" src="https://user-images.githubusercontent.com/9049532/138093572-f94beec6-8528

[2021-10-20 15:35] zijianjoy opened #6778 "Convert from PipelineJob to PipelineSpec when loading static DAG."

[2021-10-20 15:36] zijianjoy opened #6779 "Pipeline Detail Page Buttons: Create run, Upload version, Delete pipeline"
# User Journeys

We need to validate a list of functionality regarding Pipeline Detail Page.

1. Ability to create a new run without parameter, it should be able to create a new run entity in the RunList.
2. Ability to create a new run with parameter, there are various types we should support using Protobuf.Value.
2. Ability to create a new run with custom pipeline root.
3. Ability to create recur

[2021-10-20 15:36] zijianjoy opened #6780 "Run List Page Buttons: Compare runs, Clone run, Archive and restore runs"

[2021-10-20 19:59] davidxia opened #6782 "[feature] viewer reconciler deletes oldest viewers down to actual MaxNumViewers number"
### Feature Area

/area backend

### What feature would you like to see?

MaxNumViewers behavior currently only deletes the oldest viewer in a namespace when creating a new one. But it won't delete oldest viewers down to the max specified. For example, if there's already 50 viewers and you set the MaxNumViewers to 5, when you create a new one, the Reconciler will delete the oldest viewer and still

[2021-10-21 02:49] drubinstein opened #6787 "mlpipeline_ui_metadata_path is not retrievable via a pipeline's run_result"
### What steps did you take & What happened

I am trying to create a python component for visualization. The component writes HTML to `mlpipeline_ui_metadata_path`. I then try to place the component in a pipeline using the local executor and run the local pipeline with idea that I can take the pipeline's run result, call `get_output_file` and check the written HTML to make sure it is what I expect

[2021-10-21 20:08] LeoGrosjean opened #6791 "[feature] install tar.gz package from bucket"
### Feature Area
/area sdk
/area components

### What feature would you like to see?

Hello !
It will be so awesome to allow this kind of package install
(I know I can make my own image, but it would be easy to do a POC with this kind of import)

[code]

### What is the use case or pain point?

Quickly test a package uploaded on GCS, S3 or Blobstorage

### Is there a workaround currently?

Yes 😄

[2021-10-21 22:31] ysozer opened #6792 "How to retrieve component status and logs from pipeline SDK ?"
### Feature Area

Hello
In our project, we are using kubeflow pipelines from SDK and not using UI at all. It is quite difficult to understand pipeline failure. Is there any way to retrieve component status and logs of individual pipeline run?
Maybe it is possible but I could not find it.

### What feature would you like to see?

I would like to retrieve component results and logs from pipeline SDK

[2021-10-22 00:50] capri-xiyue commented on #6777
Can you help share the pipeline definition that you want to upload?

[2021-10-22 00:56] capri-xiyue commented on #6792
The workaround is to call GET /apis/v1beta1/runs/{run_id} https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/#operation--apis-v1beta1-runs--run_id--get and check the apiPipelineRuntime field.
KFP V2 will support this feature.

[2021-10-22 07:40] sharmahemlata opened #6793 "Kubeflow component does not finish executing when running on **e2-highmem-4** machine type cluster"
### What steps did you take
On GCP, I created a kubeflow pipelines instance along with which a default cluster that uses machine **custom-2-4352** is created. I also added another node pool to the cluster of the machine type **e2-highmem-4**

### What happened:
When kubeflow component pods are assigned to the **custom-2-4352** node pool, then the kubeflow components finish executing and the output

[2021-10-25 15:44] feizerl opened #6799 "[sdk] superfluous isinstance check in local run"
Hello,

I am trying to run a kubeflow pipeline locally, and am currently running into issue due to this check:

https://github.com/kubeflow/pipelines/blob/4abc4fd1874f7937a193d31dbbe650618c88ca95/sdk/python/kfp/_local_client.py#L475

My code (roughly) looks like this:

[code]

The code works on a remote k8 run, but fails locally when run with LocalClient due to the extra layer of serialization bec

[2021-10-27 07:35] valko073 opened #6810 "[feature] Provide custom index_url to pip when installing packages in Pipeline components"
### Feature Area

/area sdk
/area components

### What feature would you like to see?

As a user I would like to be able to provide a custom url to a self-hosted Pypi server for the components to install their
_packages_to_install_ from. I could not find a way of doing so in the documentation / code.

### What is the use case or pain point?

Due to Firewall restrictions, it is not possible for me

[2021-10-27 09:58] Deseram opened #6811 "[bug] Kubeflow Pipeline connection error"
### What steps did you take

We have had our kubeflow setup running for about 6 months now. But recently, we noticed that the sdk was having trouble communicating with KF Pipelines, this wasn't a regular incident. But on occasions, we would get the following errors:

`List experiments failed.: InternalServerError: Failed to list experiments: invalid connection: invalid connection","message":"List

[2021-10-27 10:00] lightning-like opened #6812 "[bug] create component launcher configmaps/kfp-launcher : Forbidden"
### What steps did you take

Try to run `client.create_run_from_pipeline_func` from sdk with mode `kfp.dsl.PipelineExecutionMode.V2_COMPATIBLE`

### What happened:

There is an error when we start pipeline v2 meanwhile v1 works fine

`
F1026 18:45:17.472270 61 main.go:50] Failed to create component launcher: Get " https://100.128.0.1:443/api/v1/namespaces/ruasmg5/configmaps/kfp-launcher
": Forbidd

[2021-10-27 12:25] Bobgy opened #6813 "[testing] v2 sample test failing at master"
reported by @chensun at https://github.com/kubeflow/pipelines/pull/6804#issuecomment-952542710

UPDATE: after the investigations below, it seems to me that v2 sample test is not flaky, it's basically broken at master.
The error message is https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/bea48911-71d1-42ee-9dca-530bfee1f08e
[code]

[2021-10-27 13:13] Bobgy opened #6815 "[testing] kfp-ci cluster related tests flaky"
[example error log](https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/6746/kubeflow-pipelines-samples-v2/1450527267473068032#1:build-log.txt%3A224)

HTTP response body: {"error":"Failed to create a new run.: InternalServerError: Failed to store run v2-sample-test-zcmzl to table: Error 1205: Lock wait timeout exceeded; try restarting transaction","code":13,"message":"Fai

[2021-10-27 16:17] #6813 closed, assigned to Bobgy

[2021-10-27 16:23] #6812 closed, assigned to nobody

[2021-10-27 17:02] ml6-liam opened #6818 "V2 Output Artifact Classes and Vertex Pipelines"
I am trying to create a vertex pipeline using the kfp SDK v2, I'm not sure if this is a vertex issue or a kfp issue, so forgive me if this is the wrong place for this query.

I have a reusable component in my pipeline from which I want to return a Dataset Artifact.

in the component.yaml I have the output specified:
[code]

and as well in the command of the yaml:
[code]

Then in the function imple

[2021-10-27 17:35] #6726 closed, assigned to nobody

[2021-10-27 19:31] amygdala opened #6819 "issue with `google_cloud_pipeline_components` and artifact URIs"
This is with the 1.7 Marketplace install of KFP on a GKE cluster, and running a pipeline that uses the 1P components via v2 compat mode. I'm using v0.1.8 of the `google_cloud_pipeline_components`.

There's an apparent issue with the 1P component handling of artifact URIs in v2 compat mode. (This pipeline runs fine on Vertex Pipelines).
I believe this is new-ish behaviour. While I haven't tested wi

[2021-10-27 22:20] aoen opened #6821 "Automatically mount temporary directory when using the PNS executor in Argo Workflows"
### Feature Area
/area sdk

### What feature would you like to see?

A temporary directory should be mounted automatically by KFP when using the PNS executor in Argo Workflows.

### What is the use case or pain point?

When using PNS executor in Argo Workflows, we noticed some KFP pipelines that were writing output artifacts to /tmp/ were failing with this error: "failed to save outputs: failed to

[2021-10-29 00:02] #6821 closed, assigned to nobody

[2021-10-29 00:49] chensun opened #6829 "End of support for v2 compatible mode in KFP SDK 1.9"
KFP v2 compatible mode (http://bit.ly/kfp-v2-compatible) was introduced to let KFP users experiment with KFP DSL v2 features on KFP before KFP v2 engine is ready. The features is first available in KFP SDK 1.6.2. Since then, we have collected valuable user feedback which helped us evaluate our design.

Given the ongoing effort for KFP v2 engine development and the rapid development in KFP SDK v2 c

[2021-10-29 02:55] jmcarp opened #6831 "[feature] Add hooks to transform compiled template/workflow manifests"
### Feature Area

/area sdk

### What feature would you like to see?

Argo workflows has features that aren't exposed in KFP, such as synchronization, template defaults, and retry expressions. If I want to use an argo feature that isn't exposed in KFP, I can file a PR against this repo and wait for a new release, or fork or patch the sdk, or subclass the compiler and override private methods. None

[2021-10-29 05:48] #6793 closed, assigned to nobody

[2021-10-29 15:36] Sushmita92feb opened #6836 "Unable to create experiments other namespaces in Kubeflow"
I have a Kubeflow platform installed on Azure Kubernetes that supports multi-user isolation. But still, I am not able to create experiments and submit pipelines in some other namespace. All the Pipelines are getting run in the Single kubeflow namespace. Can someone please guide me on how can I segregate the pipeline into different namespaces?

Thanks in Advance
Impacted by this bug? Give it a 👍. W

[2021-10-29 17:58] capri-xiyue opened #6838 "[bug] reenable cache v2 and importer v2 e2e test"
### What steps did you take
cache e2e and importer e2e is broken after the https://github.com/kubeflow/pipelines/pull/6804 change. Need to figure out how to add protobuf.Value support in in cache and importer v2 and reenable cache v2 and importer v2 e2e test as soon as possible.

### What happened:

### What did you expect to happen:

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)

[2021-10-29 18:22] capri-xiyue commented on #6838
For the cache v2, looks like the feature is working. But there is something wrong with test infra util code. It does not pass correct input to run cache

For the importer, the feature is broken

FYI: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/6837/kubeflow-pipelines-samples-v2/1454141792524963840

[2021-10-29 19:24] jli commented on #4170
My team is also affected by this issue. Workflows with ~200 tasks run into the size limit. Interestingly, we seem to be running into this issue at the Argo level.

The workflow is able to start executing, but after a few task completions, it stops.
The KFP UI has an error at the top: `Error: found errors when executing run: <run id>. Click Details for more information.`
And the details box shows:

[2021-10-29 19:24] jli commented on #4170
FWIW, I wrote a script to compute how much size is taken by all the fields: [kfp_spec_field_sizes.py](https://github.com/jli/dogsci/blob/master/kfp_junk/kfp_spec_field_sizes.py). I ran it on one of our large pipelines:

[code]

The [suggested hack above](https://github.com/kubeflow/pipelines/issues/4170#issuecomment-655764762)  to delete the component_spec annotation would reduce the total space b

[2021-10-29 19:25] jli commented on #4170
@Ark-kun could you say more on what features we lose if we remove the `pipelines.kubeflow.org/component_spec` annotation?

[2021-10-29 19:56] lightning-like opened #6839 "[frontend] S3Error: 503 in ml-pipeline-ui-artifact"
### How did you deploy Kubeflow Pipelines (KFP)?
We are attempting to deploy the kubeflow pipeline over a local cent-os cluster using kustomize

We use multi-user isolation

k8s v1.19.6

On a custom Kubernetes deployment.
KFP version:
1.7.0
KFP SDK version:
kfp 1.8.6
kfp-pipeline-spec 0.1.11
kfp-server-api 1.7.0

### Steps to reproduce

For create run we use  `V2 compatible` mode and  default  `pa

[2021-10-30 19:10] jli commented on #3226
just FYI: I noticed that the "Artifacts" and "Executions" pages are slow on my KFP 1.5.1 cluster. The `/ml_metadata.MetadataStoreService/GetExecutions` and `/ml_metadata.MetadataStoreService/GetArtifacts` endpoints both return >200MB of data:

<img width="870" alt="Screen Shot 2021-10-30 at 14 48 55" src="https://user-images.githubusercontent.com/133466/139555266-2787a44a-2765-433d-8271-4965ff4df6

[2021-11-01 03:50] zijianjoy commented on #6623
KFP backend 1.7.1 has been released: https://github.com/kubeflow/pipelines/releases/tag/1.7.1. This has included the fix in this issue. Would you like to give it a try?

[2021-11-01 04:05] Bobgy commented on #6815
Here's current DB size:

[code]

Some queries on run seem to run for a very long time.

I'm trying to use `show full processlist` to figure out which ones take a long time.

[2021-11-01 04:43] Bobgy commented on #6815
This query stays in preparing state for more than 1 minute:
[code]

Based on https://dba.stackexchange.com/a/121846, it seems our query should not use a select subquery, instead it should use JOIN for better performance.

[2021-11-01 05:05] Bobgy commented on #6815
I tried to rewrite this query using JOIN, and it's now much faster:

[code]

[2021-11-01 05:11] Bobgy commented on #6815
Found out the offending query in source code: https://github.com/kubeflow/pipelines/blob/74c7773ca40decfd0d4ed40dc93a6af591bbc190/backend/src/apiserver/storage/experiment_store.go#L266

[2021-11-01 05:32] Bobgy commented on #6815
Temporarily skipped archive experiment step in tests to verify whether it helps resolve the flakiness.

[2021-11-01 07:08] Bobgy commented on #6815
https://testgrid.k8s.io/googleoss-kubeflow-pipelines#kubeflow-pipelines-periodic-functional-test
looks like flakiness is resolved after workaround #6843

[2021-11-01 07:12] Bobgy opened #6845 "[backend] severe perf problem in archive experiment API"
### Environment

*  KFP version: master

### Steps to reproduce

1. On a KFP cluster with many runs/experiments.
2. Use archive experiment API on any experiment, observe that the API takes >1 minute to process and may timeout + cause other queries to fail. Observed failure look like https://github.com/kubeflow/pipelines/issues/6815#issue-1037408014

The issue caused severe flakiness in test infra:

[2021-11-01 07:13] Bobgy commented on #6845
/cc @capri-xiyue

[2021-11-01 09:55] ml6-liam commented on #6818
Hi, I tried this way, it does not throw an error and the pipeline succeeds, however the URI is not updated when I view the Artifacts/Metadata of the run in Vertex AI Console post-completion. Maybe it is more of a Vertex Problem.

[2021-11-01 14:51] ml6-liam commented on #6818
Hi,

I have found a way that works. In the end we used kfp sdk to generate a yaml file based on a `@component` decorated python function, we then adapted this format for our reusable components. Our component.yaml now looks like this:

[code]
with this change to the yaml, we can now successfully update the artifacts metadata dictionary, and uri through `artifact.path = '/path/to/file'`. These upda

[2021-11-01 19:02] andrijaperovic commented on #6711
@zijianjoy since this issue is due to a sub-component shipped from `google/ml-metadata` I've filed a corresponding ticket there:
https://github.com/google/ml-metadata/issues/130

Have reached out to @BrianSong to see whether the `google/ml-metadata` ticket can be reopened.
After my discussion with @berndverst this issue can be addressed in `google/ml-metadata` only.

[2021-11-01 22:50] amygdala opened #6848 "issue with google_cloud_pipeline_components 0.1.9 ModelUploadOp ("invalid value")"
with the v0.1.9 of `ModelUploadOp` I'm seeing the following error.  I confirmed that **things work fine in 0.1.7.**

`PORT` is set as follows:
[code]
Then, in the pipeline definition, `ModelUploadOp` is configured as follows:
[code]

This is the error I see (again, I do NOT see this problem with v0.1.7):

[code]

I wondered  if something has changed about the expected format of this arg, but from

[2021-11-01 22:52] amygdala commented on #6848
Here's what the set of input args looks like in the console: https://screenshot.googleplex.com/HdYMJLiz8oVhxjB
/cc @SinaChavoshi @IronPan

[2021-11-02 00:18] Bobgy commented on #6815
Closing because I think we get the flakiness resolved, please reopen if not.

[2021-11-02 00:18] #6815 closed

[2021-11-02 04:33] tirkarthi opened #6849 "[backend] Deprecated unittest aliases were removed in Python 3.11"
* `assertDictContainsSubset` was removed.
* `assertEquals` was removed in favor `assertEqual`

[code]

### Expected result

The deprecated aliases should be fixed

### Materials and Reference

Ref : https://github.com/python/cpython/pull/28268

[2021-11-02 14:54] amygdala commented on #6848
/cc @SinaChavoshi @IronPan

[2021-11-03 11:28] SaschaHeyer commented on #6681
Morning
any updates?

[2021-11-03 13:57] juliusvonkohout commented on #6649
Please close, since with #6622 merged you can set the owner references properly.

[2021-11-03 16:20] jnatale11 opened #6857 "[feature] Explicit list of supported GPU architectures"
### Feature Area

/area samples

### What feature would you like to see?

I'd like to know if there's anywhere in the docs/samples which explicitly outline which GPUs are supported by Kubeflow. So far, I've found on the `kfp.dsl._container_op` [doc](https://kubeflow-pipelines.readthedocs.io/en/latest/_modules/kfp/dsl/_container_op.html) (at fn "add_node_selector_constraint") that only nvidia-tesla

[2021-11-03 16:22] jnatale11 commented on #6857
@zijianjoy I've discussed this with Vedant Padwal and he thinks the sample may need to be updated.

[2021-11-03 16:55] jdalbosc-cisco opened #6858 "[bug] Set a gpu limit on a ContainerOp using a pipeline parameter input"
### What steps did you take

I’m using Kfp 1.6.4 to define a pipeline. I would like to set a gpu limit on a ContainerOp using a pipeline parameter input. I have the following pipeline definition:
[code]

### What happened:
When I try to call set_gpu_limit on my ContainerOp I have the following TypeError exception:
[code]
### What did you expect to happen:
I want Kfp to create a pipeline definition

[2021-11-03 18:13] andreyvelich commented on #6858
@Bobgy @zijianjoy Please can you take a look at this issue.

[2021-11-03 18:14] raghulkrishna commented on #4649
agree with @vinayan3

[2021-11-03 20:41] chensun opened #6860 "11/03/2021 Presubmit kubeflow-pipelines-tfx-python37 failing"
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/6859/kubeflow-pipelines-tfx-python37/1455985756802650112
[code]

[2021-11-03 20:43] chensun commented on #6860
Looks like this is related to keras 2.7.
Test was passing previously when it installed keras 2.6
 https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/6854/kubeflow-pipelines-tfx-python37/1455697869322326016

[2021-11-03 20:46] chensun commented on #6860
Root cause: https://github.com/keras-team/keras/issues/15579

[2021-11-03 21:46] jnatale11 commented on #6857
Thank you for your help James! It seems there's just some contradiction in the docs.

[2021-11-03 21:46] #6857 closed

[2021-11-03 22:51] #6860 closed

[2021-11-04 03:39] jamylak commented on #3412
I used this approach as well because mounting volumes is not supported in Vertex. To make this somewhat autonomous, I needed to have a separate component to generate this folder name eg. in the case of a broken pipeline which resumes at a certain step. This is a bit annoying.

Hopefully there will be support for fan in fan out for a dynamical list of eg. output models natively. Would this be diffi

[2021-11-04 07:17] chensun commented on #6858
I think this is resolved in.the later version of the SDK.
@jdalbosc-cisco Can you please upgrade your sdk and try again?

[2021-11-04 08:25] jdalbosc-cisco commented on #6858
@chensun Thank you for your reply.

I've upgraded kfp to 1.8.9 and indeed the problem is solved. The content of the yaml argo workflow is now:
[code]
Which is what I wan't I guess (not sure about nvidia not being nvidia/gpu but apart from that it's ok).

Now the problem is that when I try to load this yaml in Kubeflow 1.3 UI I have an error message complaining about the format of the quantity not

[2021-11-04 09:53] haoxins opened #6867 "[Python SDK] Can we upgrade the Google API Python Client packages to v2?"
### Feature Area

/area sdk

### What feature would you like to see?

* We should upgrade Google API packages to `v2`

### What is the use case or pain point?

* For our use cases (which the users on GCP), we will get warning messages if we use both kfp and google-api-client

[code]

I think it's better to upgrade the dependency~

---

Love this idea? Give it a 👍. We prioritize fulfilling features

[2021-11-04 14:52] Roman-Ka commented on #5244
Hi, k8s newbie here, do you mind providing more details on how to solve this issue @TobiasGoerke ?

[2021-11-04 20:23] jli opened #6870 "[frontend] Run details page prefetches all artifacts; initial page load transfers a lot of data"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? our own deployment to GKE (not sure if standalone or full)
*  KFP version: 1.5.1

### Steps to reproduce

background: My team has a large experiment which trains ~15 models in parallel. Each model training process includes a QC/reporting step, which generates an HTML report with various metrics and visualizations. Depending on the mo

[2021-11-05 00:45] zijianjoy commented on #6831
Is it possible for you to add post-processing step after Pipeline SDK compiles to workflow template?

cc @chensun for advice.

[2021-11-05 00:56] zijianjoy commented on #6870
Hello @jli , we should probably change the fetching of all visualization artifacts when user switch to `Run output` tab on top of Run Details page. https://github.com/kubeflow/pipelines/blob/master/frontend/src/pages/RunDetails.tsx#L581-L615

[2021-11-05 00:58] zijianjoy commented on #6836
cc @aronchick

[2021-11-05 01:00] zijianjoy commented on #6849
cc @SinaChavoshi @IronPan

[2021-11-05 01:10] zijianjoy commented on #6858
Hello @jdalbosc-cisco , can you upload a simplified version of your pipeline version file? So we can try it out on the latest version of KFP backend v1.7.1 to see whether this issue is fixed.

[2021-11-05 01:11] zijianjoy commented on #6867
cc @chensun

[2021-11-05 02:56] jmcarp commented on #6870
@zijianjoy, I also noticed that the run details page refreshes artifacts periodically until the run is finished, meaning that we load mostly the same artifacts many times. Can artifacts change for a given step after they're written? I was wondering if we needed to keep refetching artifacts for completed nodes.

[2021-11-05 04:33] ozora-ogino commented on #6792
This Client API seems like what you want. You can check completion by run_id.

https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp.Client.wait_for_run_completion

Or you can use get_run and write your own script.
https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp.Client.get_run

[2021-11-05 06:58] TobiasGoerke commented on #5244
Hello @Roman-Ka, there's a file in your manifests folder at `common/istio-1-9/istio-install/base/install.yaml` that you will somehow need to modify. The easiest (but least maintainable way) is to just edit the file directly.
There a resource hidden in there that looks like this:

[code]

Here you will need to add the annotation so that it looks like this:
[code]

Then install Kubeflow using that f

[2021-11-05 08:33] jdalbosc-cisco commented on #6858
Hello @zijianjoy,

Thank you for your reply.

Here are two file that enable to reproduce the problem (rename to .txt to workaround Github extension filtering). The first one is the code that compiles the pipeline, and the second one is the pipeline yaml file created with the latest version of Kfp 1.8.9.

When I try to upload the gpu_sum.yaml file in the _Upload Pipeline or Pipeline version_ of the

[2021-11-05 09:02] Nenrikido opened #6872 "[bug] Recurring runs with cron trigger dissapearing"
### What steps did you take

I created a recurring run of a pipeline with a cron, the cron value is `0 0 0 3 * *` it is expected to run each 3rd day of each month. Here's the entire setup of the recurring run trigger :

Enabled  Yes
Trigger  0 0 0 3 * *
Max. concurrent runs   1
Catchup  false
Start time  02/12/2021, 15:15:00

### What happened:

When the pipeline executes, sometimes the recurring

[2021-11-05 09:19] Bobgy commented on #6155
Hi, this is for tracking implementation of {{$.pipeline_task_name}} and {{$.pipeline_task_uuid}} like placeholders, but not status.

[2021-11-05 09:20] Bobgy commented on #6155
Can you submit a separate issue for your feature request? And make it clearer it's for KFP v2 or Vertex.

[2021-11-05 17:33] jli opened #6873 "[frontend] "Pipelines" and "Experiments" icons disappear when left sidebar is collapsed"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? standalone
*  KFP version: 1.7.1

### Steps to reproduce

Collapse the left sidebar. Observe that the first 2 icons, "Pipelines" and "Experiments", aren't visible:

<img width="66" alt="Screen Shot 2021-11-05 at 13 30 20" src="https://user-images.githubusercontent.com/133466/140553518-b3eae248-ebc8-4c5f-8f6a-4ebe6279d86b.png">

### E

[2021-11-06 07:39] rc-coderepo commented on #6836
How are you submitting your pipeline? can you share the pipeline used?

[2021-11-08 02:17] mrjgamble commented on #6818
Thanks for this @ml6-liam .  I've had similar issues of not being able to save metadata with Artifacts while using containerized components.  I tried what you posted above and am able to save metadata successfully now.  I would agree this seems like a bug.

[2021-11-08 04:21] zijianjoy commented on #6873
Thanks for the report, this is fixed in https://github.com/kubeflow/pipelines/pull/6440, I expect the next release to fix it.

[2021-11-08 05:23] zijianjoy commented on #6870
@jmcarp After Artifact is written, its state can still be changed (For example: MARK_FOR_DELETE). But we don't need to fetch Artifact if user is not on `Run Output` tab, so by default you are not fetching all artifacts on `Graph` tab. We can separate the fetching mechanism among tabs in `RunDetails.tsx` file.

[2021-11-08 06:41] arunnalpet opened #6880 "Provide an option to increase/attach shared memory for specific ContainerOp"
### What steps did you take

While creating a ContainerOp, there is no option to attach a volume for /dev/shm. This is needed for training pytorch models. Training with larger batch size, throws up this error. Training with tiny batch sizes will go through just fine.

### What happened:
Currently the code fails with:
`Bus error. It is possible that dataloader's workers are out of shared memory. Pl

[2021-11-08 14:39] hieuhc opened #6883 "[sdk] Access token used in wait_for_run_completion expires before it is refreshed"
### Environment

*  KFP version:

1.8.9
*  KFP SDK version:

1.7.0

### Steps to reproduce
There is no concrete way to reproduce this bug. In our case, we 'd like to check a long running pipeline's status with `wait_for_run_completion`.  This method tries to refresh the access token at every `55` minutes, but my access token sometimes has a shorter expiration time, e.g. 40 or 45 minutes. Then the

[2021-11-09 11:31] jagadeeshi2i commented on #6848
@amygdala try configuring port as below - `serving_container_ports=[{"containerPort" : PORT}]`

[2021-11-09 15:30] ajaykamal3 opened #6885 "Trigger Airflow DAG from kubeflow V2 pipeline SDK"
### Problem
Currently I'm having a vertex AI pipeline built using kubeflow v2 pipeline sdk (python function based). The last step of the pipeline will save the data to Big query table. I would like to trigger an existing Airflow DAG which consumes the data that is stored in Big query table saved by vertex AI pipeline. How can I trigger the Airflow DAG right after the vertex AI pipeline run was com

[2021-11-09 16:27] amygdala commented on #6848
Interesting -- the api spec says: `serving_container_ports (Optional[Sequence[int]]=None):` but maybe the docs need to be updated.

[2021-11-10 01:50] zijianjoy commented on #6858
This seems like an argo issue, backend doesn't accept this format because of this line in gpu_sum.yaml:
[code]

It doesn't fit in the format validation:

[code]

I think either KFP backend or Argo failed to recognize this as parameter, cc @Bobgy to confirm.

[2021-11-10 02:01] Tomcli opened #6888 "[feature] Abstract KFP Argo workflow client functions"
### Feature Area
Currently, the KFP backend still relies heavily on the Argo golang client to run, get workflows, updates, and retry pipelines. This still remains true after implementing the v2 backend compiler because the compiled workflow needed the Argo golang client to manage the Argo workflows on Kubernetes. Since the Argo golang client needs to be part of the KFP backend code, we are proposi

[2021-11-10 03:34] OmriShiv commented on #5948
Do you mind posting your fix? I'm wondering if I'm running into a similar issue

[2021-11-10 17:40] axelmagn commented on #6085
@ji-yaqi any updates on this?

[2021-11-10 19:38] ji-yaqi commented on #6085
Hi @axelmagn, we will deprecate AIplatformClient in v2.0.0. Meanwhile, you can use scheduling here: https://cloud.google.com/vertex-ai/docs/pipelines/schedule-cloud-scheduler

[2021-11-10 22:19] ji-yaqi commented on #6867
Hi @haoxins, thanks for opening this issue.
We're removing google-api-python-client for v2.
Please use https://github.com/googleapis/python-aiplatform for submitting pipeline jobs.

[2021-11-10 22:19] #6867 closed

[2021-11-11 01:34] AlexandreBrown commented on #6451
Hello, we love the v2 so far but we would highly appreciate to be able to compare runs like we used to on v1.
This is our main use of pipelines, to compare their metrics.
Thanks and keep up the good work.

[2021-11-11 01:39] AlexandreBrown commented on #6132
Hello, on our side this is one of the most important feature for v2.
Being able to run multiple pipelines and then to easily be able to compare the metrics is key in our workflow.
We loved that v1 offered this and we cannot wait for it to be available on v2.
Cheers!

[2021-11-11 08:23] twolffpiggott opened #6894 "[backend] Archived Main Log File is Empty"
### Expected result

Log archiving with MinIO worked as expected at first but at some point the archived main logs became empty files.

The front-end displays the archived files, and these exist on MinIO, however the main logs are always empty (0 bytes) on MinIO.

The output artifacts (apart from the main logs) are correctly archived and non-empty on MinIO.

#### Logs are non-empty for pipeline ru

[2021-11-11 08:36] zijianjoy commented on #6364
@BenoitLeguay You just need to provide a stringify format of JSON to the parameter. For example:

[code]

Or if you compile any pipeline with parameter input, then upload them via KFP UI. You can paste `{}` to the `Run parameters` to open JSON editor:

![jsonparameter](https://user-images.githubusercontent.com/37026441/141265278-daeb008a-dfb3-44f3-a6c7-293ec53f5cbe.png)

[2021-11-11 10:07] skogsbrus opened #6895 "[sdk] List of input paths is consumed as list of input values"
### Environment

*  KFP version: 1.6.4
*  KFP SDK version:  KF 1.3 release
*  All dependencies version:

[code]

### Steps to reproduce

I'm not confident that this isn't a user error, but I haven't found any documentation that describes my use case where a component consumes a list of input paths.

1. Create file outputs that are too large to pass as values.
2. Pass them as inputs to a component

[2021-11-11 13:50] d-gol commented on #5084
Hello, and thanks for implementing this in backend! Completing this feature in frontend would be really useful for us. Along with the potential implementation of [namespaced artifacts](https://github.com/kubeflow/pipelines/issues/4649), it would provide complete isolation of resources.

Since we work with different users, they would like to have complete control over the resources they submit (pip

[2021-11-11 14:16] SeibertronSS opened #6896 "[bug] The pipeline is terminated immediately after startup"
### What happened:

I created a pipeline with four components, but it was terminated immediately after it was started, and the status of the pipeline was displayed as `Unknown`.

### What did you expect to happen:

Pipeline can run normally.

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?
I deployed it by kubeflow manifests

*  KFP version:
1.7.0

*  KFP SDK version:
I used the p

[2021-11-11 17:02] zijianjoy commented on #5084
cc @jbottum , who has also raised the same request during Kubeflow Pipelines community meeting this week.

[2021-11-11 17:16] chensun commented on #6574
Closing the issue as this has been patricianly mitigated by the above linked PR.

[2021-11-11 17:16] #6574 closed

[2021-11-11 17:21] chensun commented on #6637
@nurcandurak KFP 1.6.1 is 6 months old, can you please try the latest sdk and see if the issue still exists.
If yes, can you please provide a complete code to repro this?
The code you show seems like they're part of a component implementation?
[code]

[2021-11-11 17:27] chensun commented on #6681
Hi @SaschaHeyer , this is indeed a known limitation and we plan to discuss the best solution for this in Q1/Q2 2022.

Can you help us understand what's your use case to set a dynamic value for cpu limit, and how critical is this feature to you? Thanks!

[2021-11-11 18:58] chensun commented on #6831
Hi @jmcarp, that's an interesting idea. I wonder if a hook is added to `Compiler.compile` or `to PipelineContext`, then how different would this be from a post-compilation patching approach? (you can compile a pipeline using KFP SDK, and then modify the compilation result in using your custom code).

Note that we're moving towards a direction that KFP SDK will produce a platform-agnostic format, w

[2021-11-11 20:51] jli commented on #6831
It would be similar I think. I'm already wrapping the kfp.compiler in order to implement this hack to reduce the generated workflow size: https://github.com/kubeflow/pipelines/issues/4170#issuecomment-655764762

It would just make it easier to do it. My wrapper function calls the kfp.compiler to write to a temp filename, reads the yaml back in, modifies the data, then writes back out to the final

[2021-11-11 21:46] kabilan6 opened #6899 "python Code sample for configmap , volume creation"
Any code samples for configmaps, persistent volume creation ? I tried resourceop but its not working.