[2020-04-27 20:27] Ark-kun commented on #3633
/cc  @amygdala

[2020-04-27 20:28] Ark-kun commented on #3618
What happens if you install everything in one go?

[2020-04-27 20:35] Ark-kun commented on #3597
I've applied the fix from https://github.com/kubeflow/pipelines/issues/3500#issuecomment-613260165 and the executions are now visible.

[2020-04-27 20:35] #3597 closed

[2020-04-27 21:06] andrewsmartin opened #3636 "[Question] Easy way to rollback schema changes to mlpipeline db?"
When deploying a new version of the pipelines API server, at startup a schema migration is [automatically performed](https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/client_manager.go#L200-L209) to tables in the `mlpipeline` database. Is there an easy way to rollback these schema changes? In my organization, it comes up fairly often that we experiment with a deployment of a

[2020-04-28 00:17] Bobgy commented on #3165
@niteshldd Can you look At network panel? which requests are there?
Also, what is the version you are using?

[2020-04-28 01:15] rmgogogo commented on #973
For now it can use ResourceOp directly.
TFJob is more for training big models which one machine can't handle, aka distributed training. Cloud Machine Learning Engine (CMLE) can be a better option if it's on GCP.

[2020-04-28 02:16] amygdala commented on #3309
I know how to get the metrics to show up using a `ContainerOp`-based step definition (and I'll just revert to that if need be), but it seems that either something is not quite supported properly with the function-based building of a component, or else I am doing something wrong— except it does work for metadata rendering, but not metrics, which makes me think it's a bug.

Btw, the line numbers in

[2020-04-28 03:01] rmgogogo opened #3638 "Better support TFJob for distributed training"
We already have several issues on TFJob.
https://github.com/kubeflow/pipelines/issues?q=is%3Aissue+is%3Aopen+tfjob

Here log one to well track TFJob related issues.

1. KFP standalone/MKP didn't install TFJob CRD/controller
2. Better experience of using TFJob from SDK (currently rely on rawlevel ResourceOp)
3. Better log fetching in a distributed enviroment.

[2020-04-28 03:21] Jeffwan commented on #3405
@discordianfish Gateway is kind of easy in current manifest structure. KFP just need S3 permission and minio will becomes a proxy to S3. There's no need to make code changes everywhere to check protocol. If you see above PRs, It's kind of painful now. We also need to give credential or attach roles in every KFP component talks to S3.

I agree this won't meet everyone's need, we definitely need low

[2020-04-28 03:41] Ark-kun commented on #2958
Good idea.
Currently we utilize the executor code and the component code of the TFX components, but we do not use the launchers. Using the `InProcessComponentLauncher` would allows some of the TFX components to use Beam and Dataflow.
I think I can make this work.

[2020-04-28 03:44] numerology commented on #2958
@Ark-kun
Actually, if by all means the aforementioned TFX components is the way to go, shall we consider implementing them based on [this entrypoint](https://github.com/tensorflow/tfx/blob/master/tfx/scripts/run_executor.py)? That way, we can get Dataflow without needing to play with TFX launcher/driver.

[2020-04-28 03:49] Bobgy commented on #3618
There is an application CRD and its instance. If We deploy everything in a go, k8s api server may not accept the CR because CRD takes some time to be ready

[2020-04-28 05:58] niteshldd commented on #3165
![image](https://user-images.githubusercontent.com/36432860/80451642-f97fc000-8941-11ea-995e-5cc629e0ec97.png)

Hi

Please find the attached screenshot,

We are using  kubeflow version - V1.0

[2020-04-28 07:04] Bobgy commented on #3165
@niteshldd Thanks for the screenshot. Can you open a separate issue with details? This seems different from this report.

Problems in this issue are requests of `project-id` and `cluster-name` are stuck.

[2020-04-28 14:33] oemergenc opened #3640 "Problem running bigquery example from ai hub"
### What steps did you take:
Hi i am trying to execute a bigquery to google cloud storage example which can be found in the google ai hub here:

https://aihub.cloud.google.com/p/products%2F4700cd7e-2826-4ce9-a1ad-33f4a5bf7433/v/1/downloadpage
### What happened:
I downloaded the example from the ai hub and imported the zip file using the kubeflow ui. When creating a run using this pipeline i get th

[2020-04-28 14:48] jonasdebeukelaer commented on #1180
/assign @jonasdebeukelaer
I'm currently working on this btw

[2020-04-28 14:56] discordianfish commented on #3405
@Jeffwan What I don't understand is why we need to distinguish between minio and s3 at all, instead of just tracking the bucket name and the endpoint. The minio client would be configured with either auth credentials or fall back to the instance role. That should be the same config for all components, no?

But okay, if people want to go down the gateway route: How do all components that need s3/mi

[2020-04-28 19:59] Ark-kun commented on #2958
Thanks for the pointer. It looks like it would be very easy to add support for `beam_pipeline_args`. I did an experiment, and the component starts using Dataflow. Unfortunately, I'm then hit by this bug: https://github.com/tensorflow/tfx/issues/649 Waiting for some fix or workaround for it.

[2020-04-28 20:01] Ark-kun commented on #3599
We will implement this feature

[2020-04-28 20:02] Ark-kun commented on #3590
We will implement this feature after upgrading Argo in Backend.

[2020-04-28 20:04] Ark-kun commented on #1779
I generally agree with the suggestion.

[2020-04-28 20:29] neuromage commented on #2958
Hi @holdenk,

I recommend using the official TFX components on KFP instead [1] [2]. Those components are updated, maintained and have been tested with Dataflow. This is the supported path, we'll be happy to help you with any issues here. Thanks!

[1] https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines
[2] https://github.com/kubeflow/pipelines/tree/master/samples/core/parameter

[2020-04-28 22:26] #3294 closed

[2020-04-28 23:28] amygdala commented on #3309
okay, I FINALLY figured out what was going on.  The 'name' field in the metrics dict can not have any capital letters.  That was apparently what broke it.
(why????? 😬😬)

[2020-04-28 23:42] Bobgy commented on #3309
@amygdala Ohhh, that reminds me of https://github.com/kubeflow/pipelines/issues/3499
Looks like we should bump its priority then.

Thanks a lot for finding the root cause! and sorry for confusion.

[2020-04-29 00:08] amygdala commented on #3309
hah.  Yeah, that does seem similar.  It would indeed be useful to get some kind of UI error if there exists a metrics dict as output but it is 'not legal' in some way (like use of capital letters).

Also, before we close this issue... I was wondering why the constraint to not use capital letters?  Is this a restriction we could loosen?

[2020-04-29 00:57] wzhou18 opened #3643 "No default pipeline version value when cloning a pipeline run via UI"
### What steps did you take:
1. In KFP UI, clone an existing pipeline run which does not have pipeline version
2. The pipeline version field on UI is empty, and UI will force users to choose Pipeline Version field
3. After users choose a pipeline version, the UI will clear all the pipeline parameters values.

### What happened:
When cloning a pipeline run which does not have a pipeline version, th

[2020-04-29 01:11] Bobgy commented on #3499
@amygdala was also hitting the issue and after a long time of troubleshooting, she finally found the root cause is this: https://github.com/kubeflow/pipelines/issues/3309

[2020-04-29 01:19] Bobgy commented on #3309
@hongye-sun Do you remember any context? I searched through history and it seems you implemented the feature.

[2020-04-29 02:13] Ark-kun opened #3644 "The Metadata UX should handle big execution properties"
Requirement for https://github.com/kubeflow/pipelines/issues/3595

[2020-04-29 02:18] Ark-kun commented on #2958
+1.
For pipelines that mostly use TFX components we suggest using the official TFX components available through the TFX SDK.

[2020-04-29 02:32] Bobgy commented on #3595
@Ark-kun I wonder what is the use-case. I worry we will reimplement KFP UI with metadata backed data

[2020-04-29 02:49] Bobgy opened #3645 "[Multi user] How do we release KFP multi user in Kubeflow?"
Part of https://github.com/kubeflow/pipelines/issues/1223

/cc @jlewi @chensun @IronPan

Options:
* As a fork based on kubeflow 1.0.2
* Merge to kubeflow 1.0 branch and release as 1.0.3
* Wait for kubeflow 1.1 (any ETA?)

Note, it's only for gcp-iap deployment initially.

[2020-04-29 02:50] Bobgy commented on #3645
@jlewi I think we want a way to release it soon (maybe as experimental first).

So we can also go with release as an experimental fork from kubeflow 1.0.2 and wait for either 1.0.3 or 1.1.

[2020-04-29 02:55] Bobgy opened #3646 "[Multi user] network auth integration tests"
Part of https://github.com/kubeflow/pipelines/issues/1223

Istio configurations are very error prone.

We'd better have network auth verification tests in place to make sure services have the required permission to access related services and don't have permission to those it shouldn't.

Also we should verify only requests encrypted by mutual TLS can be accepted in critical services.

/assign @Bob

[2020-04-29 03:15] animeshsingh opened #3647 "Kubeflow Pipelines and Tekton"
Uber issue to track the implementation of Kubeflow Pipelines and Tekton integration. The work is currently divided into three phases, with the first phase focussed on creating a KFP Compiler for Tekton, which is getting close to ready

Design doc and specifications: http://bit.ly/kfp-tekton
Github repo: https://github.com/kubeflow/kfp-tekton
CD Foundation MLOps Sig:
https://cd.foundation/blog/2020

[2020-04-29 06:04] hongye-sun commented on #3309
I don’t remember very clear not the specific reason. It might be align with API resource name constraint as we treat metrics as a resource name in pipeline API. I don’t feel there is a strong reason behind it.

[2020-04-29 06:09] Bobgy commented on #3625
@rmgogogo renamed to make it clearer

[2020-04-29 06:26] Bobgy commented on #3625
@rmgogogo I sent a PR to fix it: https://github.com/kubeflow/frontend/pull/47

[2020-04-29 06:50] Bobgy opened #3648 "[Lineage UI] Center column shows wrong artifact name when loading"
bug demo: https://youtu.be/DYsIrpgaucg

### What steps did you take:
1. go to lineage UI
2. click another artifact

### What happened:
the artifact name in the center changes to clicked artifact immediately, but artifacts and executions on two sides are still outdated.

### What did you expect to happen:
the artifact name in the center should change when all the data are loaded in one go.

### Env

[2020-04-29 06:51] Bobgy commented on #3648
upstream PR: https://github.com/kubeflow/frontend/pull/49

[2020-04-29 08:23] Bobgy commented on #3551
Moved to post 1.0, because this requires fixes to frontend integration tests, which I don't have bandwidth right now.

[2020-04-29 08:25] Bobgy commented on #2669
@Ark-kun I plan to remove type from the url. I don't know the context why it was added, but from data, looks like id is the only unique_key for an artifact/execution.

[2020-04-29 13:18] holdenk commented on #2958
Ok but if I have non TFX tasks that doesn’t work

[2020-04-29 15:35] Jeffwan commented on #3405
@discordianfish

I see. It's not consistency across all components. KFP has lots of references has fixed protocol like `minio://` which won't work for S3.

The only difference between minio and minio gateway with S3 is, user need to give credential with s3 policy to minio pod. instance profile will work as well. I have not checked with IRSA or Kube2IAM for fine grain control yet.

[2020-04-29 15:36] #3609 closed

[2020-04-29 16:44] jlewi commented on #951
Duplicate of #3647

[2020-04-29 16:44] #951 closed

[2020-04-29 16:45] jlewi commented on #3645
@Bobgy Why do we need a fork? If its on master can't people just deploy from master?

[2020-04-29 16:56] eterna2 commented on #3405
Just want to add a note.

One main reason why we moved to s3 instead of minio gateway (this was our original deployment) is because tensorboard doesn't work with minio.

It only support gcs and s3. It is using boto3 instead of minio the last time I checked (maybe 6 months ago?).

Other than that I think minio gateway is fine as long as the throughput is fine. But the concern is that u can't have f

[2020-04-29 17:04] jlewi commented on #3645
@Bobgy is all the relevant code/fixes on master?

What is the path forward for turning on ISTIO in the kubeflow namespace? kubeflow/kfctl#296

Does the KFP manifest(https://github.com/kubeflow/manifests/tree/master/pipeline) need to be updated with multiuser changes?

[2020-04-29 19:20] Ark-kun commented on #3523
This should be fixed now.

[2020-04-29 19:20] #3523 closed

[2020-04-29 19:25] Ark-kun commented on #3611
Does it work if you remove "http://"? Does it work if you add a "/"?

[2020-04-29 19:26] yoni-taranis commented on #3618
Hi,

I didn't use a standalone deployment, but the upgrade process was like installing one since I thought I had to do customization to the configuration files

[2020-04-29 19:30] Ark-kun commented on #2904
I'm positive about that. Half a year ago I even started the project to add caching to Argo, but did not finish it. The caching requires some persistence and Argo did not have any DB at that time.

We only reuse the successfull steps.

In the future we'll start reusing still-running steps.

[2020-04-29 19:50] NicoG94 commented on #3611
No I still get the "urllib3.exceptions.LocationValueError: No host specified." - Error.

[2020-04-29 19:55] numerology commented on #3611
I think this is due to the fact that we're consulting the format of endpoint to determine the authentication style, see https://github.com/kubeflow/pipelines/blob/62e33c711b12ebeb60d5fb393e9484f2b297bcac/sdk/python/kfp/_client.py#L189 and other similar methods.

This is okay once before when we did not have that many deployment/authentication options, but I think it becomes non-extensible and hard

[2020-04-29 20:01] Ark-kun commented on #2958
That's true.
Short-term solution for mixed-component pipelines: The KFP-style TFX components will soon support Beam/Dataflow (after the the official TFX version >0.21.4 is released). There was an issue in new versions of Beam that has affected the ability of core TFX components to run on Dataflow. https://github.com/tensorflow/tfx/pull/1699 This bug is already fixed in TFX and the fix will be rele

[2020-04-29 20:49] holdenk commented on #2958
That’s great news! Thank you for working on these :)

[2020-04-29 20:56] surajkota commented on #3631
Created a sample [PR](https://github.com/kubeflow/pipelines/pull/3654) as proof of concept with a pytest based testing framework using KFP SDK to answer this question.

Could please take a look and provide feedback?

[2020-04-29 21:14] amygdala opened #3655 "FR: allow capital letters in metrics`name` (for pipeline viz)"
See this issue for some background: https://github.com/kubeflow/pipelines/issues/3309.

It would be more robust to be able to use both caps and lower-case letters in the metrics name, not just lower-case.
The docs do [describe](https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/#export-the-metrics-file) this constraint, but it's not very intuitive or easy to notice, and if there is no r

[2020-04-29 21:15] amygdala commented on #3309
created an issue to see if we can loosen the naming constraints... closing this one.

[2020-04-29 21:15] #3309 closed

[2020-04-29 21:16] amygdala commented on #3499
See also: https://github.com/kubeflow/pipelines/issues/3655

[2020-04-29 21:32] hongye-sun commented on #3309
Thanks, Amy.

[2020-04-29 21:35] Ark-kun opened #3656 "Metadata Writer fails to find upstream artifacts in MLMD"
Previously, it was working, but I'm now seeing these errors often.
[code]

The failure to find artifact happens more than a second after the artifact has been inserted into MLMD. Also, all the evens are serialized and there is a single connection to the MLMD. So the artifact should have been found.

The backend version is 0.2.4

Update 1:
This looks like a bug in MLMD. The `get_artifacts_by_uri` m

[2020-04-30 01:22] Ark-kun commented on #3656
@numerology has found the MLMD change that causes the issue: https://github.com/google/ml-metadata/commit/8f34a41beea4a0cba97f914a98fbe8c634c8f118#diff-41d23078b7b0e2b1dbf84508932b6ac4R256 Fixing the issue in KFP.

[2020-04-30 01:23] Ark-kun commented on #3656
/cc @amygdala You might have been hit by this bug. It will be resolved soon.

[2020-04-30 03:25] Ark-kun commented on #3632
A recent Argo PR demonstrates how this can be done. https://github.com/argoproj/argo/pull/2830/files#diff-6f648c894d2b64e66fb80b9367104598L167

[2020-04-30 03:27] Ark-kun commented on #3632
I think this is not a P0 since the caching service just restarts and continues to work.
But since the service should have high availability, it's better to prevent restarts.

[2020-04-30 04:32] rmgogogo commented on #3656
/lgtm
/approve

[2020-04-30 05:07] #3656 closed

[2020-04-30 05:15] Ark-kun opened #3660 "Disable caching for run-diagnose-me"
But we probably still need the rest of the pipeline cached.

[2020-04-30 05:22] Ark-kun opened #3661 "dataproc-create-cluster fails in XGBoost postsubmit test"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1255639085989498882
[code]

[2020-04-30 05:45] Bobgy commented on #3661
I also saw this quite a few times recently. After trying manually it seems xgboost sample fail for 80% of the cases when creating the cluster.
Looking at cloud console UI, the only information is INVALID_ARGUMENT, I'm not sure what went wrong there. I tried creating a dataproc cluster from UI, it works well.

A random guess is, maybe our gcloud cli version is again out of date?

[2020-04-30 05:55] Bobgy commented on #3256
/close
postsubmit test is the only problem now, but we can fix that later I think

[2020-04-30 05:55] #3256 closed

[2020-04-30 05:56] Bobgy commented on #3377
@rmgogogo Can you link related issue/PRs here? I think we can close, is that right?

[2020-04-30 06:02] rmgogogo commented on #3377
yes

[2020-04-30 06:02] #3377 closed

[2020-04-30 07:23] jhagege opened #3664 "Support for an event-driven architecture"
Hi, is there any possibility to integrate a KFP with an event-driven architecture ?
I'd like to have steps in the pipeline trigger external jobs on different infra and block until those jobs communicate their response through existing pubsub infrastructure.
Then on successful receival of a response message, unblock the step and pass him the result from the pubsub message.
Can you think of any poss

[2020-04-30 07:33] Ark-kun commented on #3661
That component does not use gcloud CLI. However it uses the google-cloud-dataproc package that may be out of date.

A random though - maybe there is something wrong with the cluster name... But this can't be happening - the name is alphanumeric and should have the same length every time.

How can you see that?

@hongye-sun Can you please add some check at that point in code and print the response

[2020-04-30 07:45] Bobgy commented on #3661
I copied the sample and removed the exit handler. So after the run I Can still see It in cloud UI

[2020-04-30 09:12] Bobgy commented on #3645
@jlewi I verified using namespace resource works (I guess I misconfigured sth when I tried it before), so we can just use kfctl 1.0.2.

All relevant code/fixes are on KFP master and my forked manifest branch: https://github.com/Bobgy/manifests/pull/3/files.

(it can be deployed normally following https://www.kubeflow.org/docs/gke/deploy/deploy-cli/ and use CONFIG_URI="https://raw.githubusercontent

[2020-04-30 09:17] Bobgy commented on #3645
I prefer that, in this release, only KFP is kind of experimental using the multi user mode, but all other components are stable. Therefore, I think KF 1.0.2 might be a good candidate as a base.

What do you think?

in the mean time, I can try to merge forked changes to Kubeflow master

[2020-04-30 11:12] discordianfish commented on #3405
Yes, but why? The protocol part in that url is just for the client to know where to connect so. So for minio and s3, I suggest we always use the endpoint, bucket name and path to refer to an object. It shouldn't matter for the client whether this is s3 or minio. Does that make sense?

I understand that, but we need to authenticate access from kubeflow components to the minio gateway. If I understa

[2020-04-30 17:05] hongye-sun commented on #3661
% curl -X GET -H "Authorization: Bearer "$(gcloud auth application-default print-access-token) "https://dataproc.googleapis.com/v1/projects/ml-pipeline-test/regions/us-central1/opera
tions/5fbb93bb-c58a-317e-b46d-78bbd58945d7?alt=json"
{
  "name": "projects/ml-pipeline-test/regions/us-central1/operations/5fbb93bb-c58a-317e-b46d-78bbd58945d7",
  "metadata": {
    "@type": "type.googleapis.com/googl

[2020-04-30 17:05] hongye-sun commented on #3661
% gsutil cat gs://dataproc-788e0848-9dd5-4ea6-9b78-eadcb7f5a23d-us-central1/google-cloud-dataproc-metainfo/bdb5a89f-9a44-464b-aa9c-1d20a8b5c4fd/xgb-1196dc5e-70bc-44b7-9f1e-d6a302773b
2a-m/dataproc-initialization-script-0_output
Searching for pip
Reading https://pypi.python.org/simple/pip/
Download error on https://pypi.python.org/simple/pip/: [Errno 101] Network is unreachable -- Some packages may

[2020-04-30 17:09] hongye-sun commented on #3661
It appears that the pypi index page is unable to reach from a dataproc cluster. I do find a bug in dataproc component code that didn't properly handle error case. I will send a fix.

[2020-04-30 19:24] sadeel opened #3667 "Unable to download directory artifact from the UX link"
### What steps did you take:
I am using the off-the-shelf component to download a directory from GCS. It seems to run to completion, but when I attempt to download the artifact from minio, it fails.

here is the pipeline:

[code]

### What happened:
Error when trying to download

### What did you expect to happen:
Successfully able to download files

### Environment:
Hosted KFP

How did you deploy

[2020-04-30 21:29] hongye-sun commented on #3661
I sent a fix for the error handling of LRO but it won't help with the pypi index issue.

The pypi might be a temporary outage and I don't see it happening in recent failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-integration-test/1255822418711154690

It seems to be other errors causing the test failure.

[2020-05-01 00:03] thebinaryone1 opened #3669 "Intermittent 503 and 504 errors when querying API to get runs and submit runs"
### What steps did you take:
I spawn multiple pipelines in parallel and monitors their status.

### What happened:
Getting 504 errors intermittently. I have a 5s wait between calls, but that doesn't seem to help much.

### What did you expect to happen: No errors to happen.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
GCP AI Platform Pipelines

KFP version:  743746b

KFP SDK ver

[2020-05-01 00:06] thebinaryone1 commented on #3669
![image](https://user-images.githubusercontent.com/23407392/80770333-d9e4c500-8b04-11ea-9715-a9ac5b02cc94.png)

[2020-05-01 00:20] thebinaryone1 commented on #3669
Stack trace :

panic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x12f9bc4] goroutine 208 [running]: github.com/kubeflow/pipelines/backend/src/apiserver/resource.OverrideParameterWithSystemDefault(0xc000d83800, 0xc0006d35f0, 0xf, 0x0) backend/src/apiserver/resource/resource_manager_util.go:209 +0x2e4 github.com/kube

[2020-05-01 00:39] marwan116 opened #3670 "Sagemaker Custom Training Job Error: Unable to locate botocore.credentials"
### What steps did you take:
I run a custom image using the sagemaker training operator (https://raw.githubusercontent.com/kubeflow/pipelines/master/components/aws/sagemaker/train/component.yaml) and it ran fine. I am using `kfp.aws.use_aws_secret` and the objects from s3 are being correctly copied over to the specified local channel path.

The problem arises however if inside the custom script I

[2020-05-01 00:51] thebinaryone1 commented on #3669
![image](https://user-images.githubusercontent.com/23407392/80772307-19161480-8b0b-11ea-9bf3-b80e5d5a1793.png)

This looks to be the root cause, since the timing of crashes matches with the error requests.

[2020-05-01 01:03] jlewi commented on #3645
@Bobgy my suggestion would be to get things working on master. I don't know that we want to big changes onto release branches. Either way though getting it checked in working on master is a precursor so lets do that first.

[2020-05-01 01:21] thebinaryone1 commented on #3669
Found the root cause : The issue was due to a kfp api version mismatch.
The client (0.5.0) was using a pipeline zip package compiled using 0.2.0 to start a run.

It would be nice to check this in the sdk or the api server instead of crashing the api server.

[2020-05-01 01:30] numerology commented on #3669
/assign @jingzhang36
I roughly remember version check is already on our radar, right? Thanks @thebinaryone1

[2020-05-01 04:29] Bobgy commented on #3645
I think we'd want to release a relatively stable version soon for community to try out KFP multi user mode in a forked branch.

In the mean time, I can try to start sending PRs to master.

[2020-05-01 04:48] Ark-kun commented on #3667
This is likely an issue with the UX or ReadArtifact API. Let me check.
Also, try 'gs://my-fake-bucket/tf_records/' (no star in the end).

[2020-05-01 04:52] Ark-kun commented on #3661
Thanks for investigating and fixing the code, Hongye and Yuan.

[2020-05-01 04:53] Ark-kun commented on #3618
Is your issue now fixed?

[2020-05-01 05:04] Ark-kun commented on #3617
It might be possible when we upgrade Argo.
See https://github.com/argoproj/argo/issues/2358
https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md
https://github.com/argoproj/argo/pull/1919/files#diff-81b3161712921356614ecd14405afbd1R19

[2020-05-01 06:44] yoni-taranis commented on #3618
I have managed to work it around, but I do believe there is an issue with the setup.

[2020-05-01 08:10] jhagege commented on #3617
Thanks, looking forward.

[2020-05-01 08:53] NicoG94 commented on #3611
@numerology can you maybe tell me how the workaround with the KFP server API package would work?

[2020-05-01 13:51] shotarok commented on #2561
I’m wondering if the taints GKE assigns to GPU nodes prevents pods from scheduling. Please take a look at https://github.com/kubeflow/pipelines/pull/3671.

[2020-05-01 18:44] pahask8 opened #3674 "create_gcs_bucket_if_not_exist can exceed the GCS Quota limit"
### What steps did you take:
When I build a multiple containers in parallel I've faced with the GCS Quota exception:

`google.api_core.exceptions.TooManyRequests: 429 POST https://storage.googleapis.com/storage/v1/b?project=mtech-platform-ml: The project exceeded the rate limit for creating and deleting buckets.`

### What happened:

There is a per-project rate limit to bucket creation and deletio

[2020-05-01 18:49] pahask8 commented on #3674
PR: https://github.com/kubeflow/pipelines/pull/3675

[2020-05-01 20:29] pvgbabu commented on #3407
Hi Sachau,  I am having same problem using PKS kubeflow. Could you plz elaborate how you solved this issue, Appreciate all your help.

[2020-05-01 21:14] pvgbabu commented on #3407
I am getting error like

invalid spec: templates.kale-marshal-volume.outputs.parameters.kale-marshal-volume-manifest: k8sapi executor does not support outputs from base image layer. must use emptyDir

[2020-05-01 21:30] Jeffwan commented on #3405
https://github.com/kubeflow/pipelines/pull/3531/files#diff-4e5a9c52bbed342532f527bae3aae002R15-R20
This is one example, lots of codes rely on protocol to have custom logic. I get your point and that would be ideal case, we don't alway have endpoint passed with artifact url everywhere. If there's a refactor to have a object will endpoint, bucket, path. Then all the customization can be changed to r

[2020-05-01 23:49] numerology commented on #3611
Actually this seems to be more complicated after taking another look. I cannot get the same error using my test environment, and `_load_config()` will only erase the `http://` but not the whole host address.

Perhaps, do you mind adding some debugging message to show what `host` became in `_load_config()`?

[2020-05-02 03:33] sachua commented on #3407
@pvgbabu if you are creating workflow pipelines by applying a yaml file you will have to manually mount an emptyDir (see the docs https://kubernetes.io/docs/concepts/storage/volumes/#emptydir)

If you are creating workflow pipelines (e.g. [Kubeflow's example simple-pipeline](https://github.com/kubeflow/examples/tree/master/pipelines/simple-notebook-pipeline)), you will have to add a few lines of c

[2020-05-02 04:52] rmgogogo commented on #2561
a sample here:
https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/gpu/gpu.ipynb

[2020-05-02 10:08] NicoG94 commented on #3611
config.host became the host it was supposed to be, so '10.10.10.10:8080'.

Also the client._job_api.api_client.configuration.host, client._upload_api.api_client.configuration.host and other host-attributes of client are 10.10.10.10:8080.

While debuggin I realised where the host is gone missing:

urlopen() is called without the url (which contains the host) at the end of urlopen().
In line 381 in

[2020-05-02 10:24] NicoG94 commented on #3611
Also if I hardcode the host and port into urllib3\poolmanager.py and try this:
[code]

I get this output:
[code]

[2020-05-02 10:26] NicoG94 commented on #3611
btw I use PyCharm, don't know if that might be the problem

[2020-05-03 04:18] tirkarthi opened #3676 "Deprecation warning due to invalid escape sequences."
### What steps did you take:

Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this. Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

[code]

### What happened:

### What did you expect to happen:

### Environment:

Python 3.8 on Linux

[2020-05-03 16:18] sadeel opened #3677 "KFP UI truncates long parameter names in the "Input/Output" Tab"
### What steps did you take:
See "saved_model_path"

![z0sy5b68yTE](https://user-images.githubusercontent.com/5696932/80919470-02083a00-8d38-11ea-83bb-6d0d88b47ca4.png)

### What happened:
Unable to read the entire parameter
### What did you expect to happen:
It looks like there is a lot of space there, I expected the path to be readable.

### Environment:
Hosted KFP

How did you deploy Kubeflow P

[2020-05-03 21:17] arshyasharifian commented on #2954
where did you get/find the host name, 1e18af0c54f57e18-dot-us-central2.pipelines.googleusercontent.com?

[2020-05-03 22:07] jhagege opened #3678 "Error running basic sample"
Hi, when following the quickstart, I get the following issue when running the Parallel pipeline:

![image](https://user-images.githubusercontent.com/7504908/80927014-aa071d00-8da3-11ea-9661-f95a8740c43e.png)

Any idea how to solve ?
Thanks.

[2020-05-04 03:41] numerology commented on #2954
Hi @arshyasharifian

You can find it when accessing the KFP UI, it's just the web address. If you're using inverse-proxy (which is true if you deployed using standalone deployment, or from GKE marketplace), it should be of the format `something-dot-region.pipelines.googleusercontent.com`

[2020-05-04 04:59] Ark-kun commented on #3678
Generally this error often indicates that the service account does not have permission to access the bucket.
How did you install KFP (Google Cloud Marketplace or command-line)?
The bucket should be public, so there should not be any errors. @numerology @Bobgy WDYT?

[2020-05-04 05:02] Ark-kun commented on #3628
This looks like a Kubernetes issue.
Do you have 2 GPU nodes in the cluster? I'm not sure Kubernetes can schedule multiple GPU-using pods on a single node.

[2020-05-04 05:17] jhagege commented on #3678
Hi, thanks it was deployed through deploy.kubeflow URL with GCP IAP.

Could it be related to that I created another cluster before, deleted and
recreated ?

Maybe some leftovers from previous deployment are causing issues ?
What should I do to totally cleanup previous deployment ?

On Mon, May 4, 2020, 7:59 AM Alexey Volkov <notifications@github.com> wrote:

[2020-05-04 08:04] discordianfish commented on #3405
Yes, that's what I'm suggesting. Using the gateway and therefor allowing every pod in the cluster, including user notebooks etc, control to any s3 resource via the gateway without further auth is (hopefully?) a no-go for most users.

[2020-05-04 14:09] dalxds opened #3680 "[Proposal] KFP Components Repository"
Since each Component is encapsulated with predefined input and output (as described in the docs), a central repository for KFP components could be created (npm like), thus enabling components sharing and reusability amongst KFP users.
Components could be then added to the pipeline using CLI and be configured (i.e. parameters) using YAML.

[2020-05-04 15:12] numerology commented on #3678
@jhagege

I think it's also possible due to special permission configuration of the url that the pipeline is trying to download from. Are you trying with the default `gs://ml-pipeline-playground/shakespeare1.txt` and `gs://ml-pipeline-playground/shakespeare2.txt` or trying to download from your own buckets? Thanks

[2020-05-04 15:37] sadeel opened #3681 "'Clone run' does not update kfp.dsl.RUN_ID_PLACEHOLDER"
### What steps did you take:
I use kfp.dsl.RUN_ID_PLACEHOLDER to generate unique artifacts per run. I noticed that when I use the 'Clone Run' button, kfp.dsl.RUN_ID_PLACEHOLDER is set to the original run's ID, rather than the new one for the cloned run.

### What happened:
kfp.dsl.RUN_ID_PLACEHOLDER not updated
### What did you expect to happen:
kfp.dsl.RUN_ID_PLACEHOLDER to be updated
### Environ

[2020-05-04 16:07] jlewi commented on #3645
Would back-porting this onto 1.0 branch be consistent with semantic versioning?
If we backport this onto 1.0 do we risk blocking our ability to release minor patch fixes to 1.0?

[2020-05-04 20:08] arshyasharifian commented on #2954
I've deployed a Kubernetes cluster which has an envoy-ingress service with this endpoint: https://pskfp-1.endpoints.bright-voltage-248522.cloud.goog/

Is this what you are referring to?

When I use this as the host for initializing the kfp client with all the parameter fields, I get an invalid_client 401 error.

Here are my parameters for intializing the kfp client:
<img width="1115" alt="Screen S

[2020-05-04 20:42] numerology commented on #2954
/assign @chensun
/assign @Bobgy
Perhaps you can take a look for the IAP authentication part? Thanks!

[2020-05-04 20:51] arshyasharifian commented on #2954
im following these instructions once more:
https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

[2020-05-04 21:33] chensun commented on #2954
Hi @arshyasharifian, the `my_other_client_id = 'kubeflow_ps'` part is wrong, you're passing the name of the client instead of its ID.

[2020-05-04 21:37] alan-krumholz commented on #3367
Hi @Ark-kun,
We were wondering if you guys been able to make progress on these?

This will help us make all our pipelines code cleaner and easier  to maintain :)

Thanks!

[2020-05-04 21:59] sallamander commented on #1700
I'd like to echo what @Trezorro asked.. is it possible to use kubeflow and kubeflow pipelines with registries other than GCR? From the docs it sounds like it is possible, but I can't find a clear cut example (in the docs or elsewhere online) that spells out how to do this. Has anybody been able to pull an image from Amazon's ECR, or a private docker hub registry, and run a Kubeflow pipeline on it?

[2020-05-04 22:00] arshyasharifian commented on #2954
okay some progress.

I am being prompted to enter an authorization code after I enter the following params:
<img width="1102" alt="Screen Shot 2020-05-04 at 2 55 44 PM" src="https://user-images.githubusercontent.com/22110064/81017577-a01f0180-8e17-11ea-980a-ea6d181dff05.png">

But I am still running into an authentication error when I try to use the client. For example, I want to get info about a

[2020-05-04 22:04] chensun commented on #2954
Replace `http` with `https` in `my_host`, can see if it works.

[2020-05-04 22:10] arshyasharifian commented on #2954
works!!!!!!

Thank you so much.

Final KFP client params that works on local jupyter notebook:
import kfp

my_host = 'https://pskfp-1.endpoints.bright-voltage-248522.cloud.goog/pipeline'
#GCP client ID for web application: kubeflow_ps
my_client_id = '1092944325593-k4el4nl41b2cnjkftrm70l3umvjmbkno.apps.googleusercontent.com'
my_namespace = 'kubeflow-arshyasharifian'
#GCP client ID for Other, name:

[2020-05-04 22:20] chensun commented on #2954
Cool.
JFYI, we store the refresh token in [a local file](https://github.com/kubeflow/pipelines/blob/587292fbaedf0a51694770bc167f9f1e7a1e3e82/sdk/python/kfp/_auth.py#L32), so that you only get asked for the authorization code the first time you initialize a KFP client. In case you want to login with a different user on the same machine, simply delete the local file, and you will be prompted for log

[2020-05-04 22:27] arshyasharifian commented on #2954
Great, thanks.

[2020-05-04 22:55] chensun commented on #3562
This was fixed by #3572

[2020-05-04 22:55] #3562 closed

[2020-05-05 02:02] Ark-kun commented on #3680
Having a central component discovery solution is a good idea.

The users can already upload the components to the [Google AI-Hub](https://aihub.cloud.google.com/s?category=pipeline), but the experience can be improved.

It seems to me that the components can already be shared using different repositories and then loaded to use in the pipeline. Is there something missing?

What is the proposed expe

[2020-05-05 02:29] Ark-kun commented on #3681
@IronPan If I remember correctly, the backend replaces the `{{workflow.uid}}` placeholders before the run submission. If we left them as is, then the Clone feature would work as expected in this scenario.

[2020-05-05 02:31] Ark-kun commented on #3677
Did you mean values, rather than names?
@Bobgy Maybe we can increase the value truncation length.

As a workaround, all output values can be accessed in the Output Artifacts section.

[2020-05-05 02:32] Ark-kun commented on #3618
Did you run the two `kubectl` commands during your deployment process?

[2020-05-05 05:16] allenc97 opened #3685 "Behavior of InputArgumentPath vs PipelineParam"
### What steps did you take:
[A clear and concise description of what the bug is.]

Consider the following as a pipeline:
[code]
For test_op, rather I pass in ```produce_op.outputs['csvs']``` or
``` "%s" % produce_op.outputs['csvs']```, the compiled result becomes
``` args: ['{{inputs.parameters.produce-csvs}}']```.

However, if I instead wrap with InputArgumentPath, like ```dsl.InputArgumentPath(

[2020-05-05 05:17] allenc97 commented on #3685
PS, the same behavior will happen for fstrings.

[2020-05-05 07:10] dalxds commented on #3680
From what I understand from the docs, you can't upload to AI-Hub publicly, only to share with colleagues in your organisation.
What I'm proposing is a public repository for ML stuff written as KFP Components (including models, data preprocessing, serving, etc), so that someone can find and combine many Components to create a pipeline in a very easy and user friendly way.

No difference. This would

[2020-05-05 11:07] RunOrVeith opened #3686 "ApiPipelineVersion crashes during deserialization due to created_at field format change"
### What steps did you take:
 I created a pipeline programmatically and wanted to upload it using the following minimal example:

[code]

### What happened:

The upload crashes, because the `created_at` field in the API's response can not be parsed. However, it crashes __after__ the pipeline is actually uploaded, since I see it inside the kubeflow UI.
I can also start a run manually in the UI and

[2020-05-05 11:37] ankitsingi commented on #1442
Stuck with same issue. Any help ?

[2020-05-05 12:34] Bobgy commented on #3677
This is surely something we want to address. Thanks for reporting!

[2020-05-05 12:50] Bobgy commented on #3677
Actually, I'll close this, because it's part of https://github.com/kubeflow/pipelines/issues/2897.
/close

[2020-05-05 12:50] #3677 closed

[2020-05-05 12:51] Bobgy commented on #2897
#3677 reported one place: parameter values in input/outputs tab

[2020-05-05 13:20] Bobgy commented on #2954
@arshyasharifian Note, be careful, you are sharing your credentials publically.  Please regenerate your credentials.

[2020-05-05 13:22] rmgogogo commented on #3628
I tested run 3 component parally at the same time and they can get GPUs (just that they are different typed GPUs in different node pool).
https://github.com/kubeflow/pipelines/tree/master/samples/tutorials/gpu

Based on the upper sample, you may quickly check whether can get same multiple GPU node from node pool. I think it can.

"I'm not sure Kubernetes can schedule multiple GPU-using pods on a s

[2020-05-05 13:22] Bobgy commented on #3645
I see, that makes sense to me.

Shall we
* target 1.1 release like before
* provide a quick try-out version based on forking 1.0.2 unofficially
?

[2020-05-05 13:23] Bobgy commented on #3681
@Ark-kun When UI clones a run, it copies the run's arguments. `{{workflow.uid}}` was already replaced in the workflow's argument to work properly. If backend doesn't replace it, can the workflow get correct value?

[2020-05-05 13:24] Bobgy commented on #3681
One workaround (tedious) can be: when cloning the run, manually replace the workflow.uid back to {{workflow.uid}}

[2020-05-05 13:31] Bobgy commented on #3678
@jhagege a quick guess, did you deploy Kubeflow 1.0.0 or 1.0.1?
GCP permission bindings were automatically set up starting from Kubeflow 1.0.2, see https://github.com/kubeflow/kubeflow/issues/4803.

[2020-05-05 16:15] talebzeghmi commented on #3647
The design document mentions an interesting "intermediate graph representation (DAG)", has MLGraph https://github.com/SeldonIO/mlgraph/issues/2 been thought of as an intermediate representation?

[2020-05-05 18:35] areshytko commented on #2642
Why is there no place in documentation about this requirement of using `dsl.InputArgumentPath`?

[2020-05-05 21:58] numerology opened #3687 "[FR] Implement optional component level usage tracking"
As #3578 checked in, we have an example of how to set beacon to collect critical usage information to help us make the right business decision, without compromising user privacy.

One natural extension of that work is to instrument telemetry of our first-party components shipped with KFP. To be concrete, the proposed scope includes components under [1]. We can consider whether/how to include user-

[2020-05-05 22:30] Ark-kun commented on #3687
I want to note that the SDK already adds the `pipelines.kubeflow.org/component_spec` pod annotation for every component. This information includes the hole component definition, but does not contain the URI.
Adding `pipelines.kubeflow.org/component_ref` annotation that often contains the `.uri` attribute would be pretty trivial and also useful for UX.

P.S. Adding `pipelines.kubeflow.org/task_spec

[2020-05-05 23:10] numerology commented on #3687
Thanks.IIRC we only have pod annotation for those information, right? For technical reason I think adding corresponding pod labels will be necessary. Do you see any problem with adding a pod label including part of the information in component_spec?

[2020-05-06 01:40] Ark-kun opened #3688 "Strange "Error 401 (Unauthorized)!!1" when submitting runs, but not with other APIs."
Submitting pipelines using `kfp.Client(host=kfp_endpoint).create_run_from_pipeline_func(pipeline, arguments={})` suddenly stopped working. It worked great just this morning. I have not updated the cluster or SDK or anything else. I've tried re-running a recent notebook and it also started failing.

A weird thing is that listing runs does not fail: `kfp.Client(host=kfp_endpoint).runs.list_runs()`.

[2020-05-06 01:54] rky0930 commented on #3688
Same problem here.

[2020-05-06 01:58] muik commented on #3688
Environment:
Kubeflow Pipielines 0.3.0 standalone on GKE

[2020-05-06 02:04] Ark-kun opened #3689 "TFX presubmits started failing due to BigQuery conflict with six"
https://travis-ci.com/github/kubeflow/pipelines/jobs/328456347#L3120

[code]

[2020-05-06 02:15] Bobgy commented on #3688
I just tried 0.5.0, but cannot reproduce it.
Maybe I need to try a lower version.

[2020-05-06 02:30] Ark-kun commented on #3685
We really discourage converting `PipelineParam` to a string and for `InputArgumentPath` this is unsupported.
Can you avoid doing that?
Should we throw an error when people try to convert `InputArgumentPath` to string?

[2020-05-06 02:33] chensun opened #3691 "[Test] improve CI resource cleanup"
Our current cleanup [tool](https://github.com/kubeflow/pipelines/tree/master/test/tools/project-cleaner) is capable of cleaning up clusters only. There're other resources need to be purged periodically as well. For example:
1. In the past, we've seen leak of service endpoints:
[code]
2. Multi-user e2e test (not in place yet) may have a chance to leave behind dangling service accounts as well.

We

[2020-05-06 02:39] Bobgy commented on #3691
/cc @rmgogogo @jingzhang36
Thanks @chensun for the summarization!

[2020-05-06 02:42] Bobgy opened #3692 "[Testing] Reenable backend upgrade tests"
/assign @jingzhang36

We commented out some tests in https://github.com/kubeflow/pipelines/blob/05c1537f28df0c1bce71206a77c2a87c94743a8a/backend/test/integration/upgrade_test.go#L63.
After new release, we should enable them now.

[2020-05-06 02:49] allenc97 commented on #3685
Note that the official docs, I.e https://www.kubeflow.org/docs/pipelines/sdk/build-component/#create-a-python-class-for-your-component, says the following:
[code]
I actually have no issue with not using it as a string. It would just be nice if the behavior is consistent, and that the documentation should reflect that stringifying ```PipelineParam``` is discouraged. Throwing an error in before the

[2020-05-06 02:49] Ark-kun commented on #3688
Maybe it's the timing e.g. something has expired.

[2020-05-06 02:56] Bobgy commented on #3688
@Ark-kun Can you still reproduce?

[2020-05-06 02:56] Ark-kun commented on #3688
Yes. Just checked.

[2020-05-06 03:20] Bobgy opened #3693 "[Multi User] Multi user mode early access release"
Part of https://github.com/kubeflow/pipelines/issues/3645

Provide an EAP manifest people can try out right now.

/cc @chensun @IronPan @jlewi

EDIT:
Instructions doc - KFP multi-user instructions for GCP: https://docs.google.com/document/d/1Ws4X1oNlaczhESNuEanZxbF-cnSfO78B1rBHWOkIAzo/
this is shared with kubeflow community

[2020-05-06 03:25] numerology commented on #3688
@Ark-kun
Does it help to do `gcloud auth login` manually in the same environment?

[2020-05-06 03:29] Ark-kun commented on #3688
gsutil works fine and gcloud auth print-access-token also works.
All client methods I've tried do work (list_runs, list_experiments, get_experiment). Only create_run fails for some reason.

[2020-05-06 03:44] rmgogogo commented on #3688
Seems same issue hit by Jun.
I didn't reproduce it in 0.5.0

Alexy, would you help give me the access to your project and tell the instance?

[2020-05-06 03:47] Ark-kun commented on #3687
We can try to add some label, but it's not trivial. You cannot really put, say, a URL in a label. Or anything substantial. The size is limited to 63 mostly alphanumerical characters (so even some hashes do not fit). https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[2020-05-06 04:02] rmgogogo commented on #3688
I can reproduce it with SDK 0.5.0 to Server 0.5.0 via Ark-kun's codes:

[code]

[2020-05-06 04:07] jlewi commented on #3645
My suggestion would be to get it working on master. Once we have it working on master we can either add a git tag or possibly create a new release branch. I'd probably recommend we bump the minor version; e.g `1.1.0-alpha1`.

[2020-05-06 04:13] numerology commented on #3687
Thanks. I think we shall be smart about what to put in that label. Let me think about how to better leverage the 63 character budget.

[2020-05-06 04:17] rmgogogo commented on #3688
Hi Yuan,
Can your side still work? If it can, would you share the SDK version and Server version?

[2020-05-06 04:19] #3689 closed

[2020-05-06 04:19] numerology commented on #3688
I can reproduce on my own project and kfp deployment, with both SDK and deployment of version 0.5.0

[2020-05-06 04:19] Ark-kun commented on #3687
Technically, every component has a natural digest (SHA256 of the serialized ComponentSpec that was loaded from file or URL). SHA256 fits in the label. But associating it with a particular component version would be non-trivial.

We can also base-64 encode the component URL if it's not too long.

[2020-05-06 04:25] jlewi commented on #3647
@talebzeghmi I believe SeldonIO's mlgraph is focused on inference graphs which I think is a sufficiently different use case from the type of graphs KFP is doing.

/cc @cliveseldon

[2020-05-06 04:38] rmgogogo commented on #3688
Per friend team's info, a P0 issue happening in us-central1/2.
Wondering whether Yuan's test is in another region. I'm verifying us-west region to see if it can work.

[2020-05-06 04:41] Bobgy commented on #3688
I was verifying in asia-east1-c, I guess that's why

[2020-05-06 04:42] numerology commented on #3688
Looks like us-central1 and 2 are impacted. @rky0930 @muik Can you confirm which region are you testing? Thanks

[2020-05-06 04:49] muik commented on #3688
We are using KFP installed in **us-central1-c**.

[2020-05-06 04:57] husamaf commented on #3628
@Ark-kun @rmgogogo Thanks a lot both, I found the issue (kinda?).
So, the GPU availability was not the issue (I even set `--min-nodes=2`).
After testing with the gpu tutorial, it seems that adding a mounted volume (`VolumeOp`) is causing the issue.

Any idea why the 2 components in the linked pipeline run sequentially instead of concurrently? If not, I think I will just close the issue and maybe t

[2020-05-06 05:03] Bobgy commented on #3645
@jlewi Sounds good.

After rethinking over it, I agree there's not much value added if the early access fork is based on 1.0.2, because KFP itself is also experimental.

I'll try to merge to kubeflow master first

[2020-05-06 05:13] rmgogogo commented on #3688
update: friend team is rollback a release to us-central1/2. After that, we will verify again to see if issue gone.

Current finding: it only impact us-central1/2 on HTTP PUT methods (maybe also POST but didn't double verify yet). other regions should be OK.

[2020-05-06 05:17] #3625 closed

[2020-05-06 05:17] #3648 closed

[2020-05-06 05:40] rmgogogo commented on #3688
Rollback done.

It should can work in all region now.

Verified myside in us-central1-a

[2020-05-06 05:42] rmgogogo commented on #3688
Here close the issue but feel free to reopen if you still hit issue.

[2020-05-06 05:42] #3688 closed

[2020-05-06 06:02] rky0930 commented on #3688
We just checked our KFP in us-central1-c and it works. Thanks for the quick response.

[2020-05-06 06:55] cliveseldon commented on #3647
@talebzeghmi I think I would agree that the spec of MLGraph as it stands is inference focused for k8s. The initial part has a general DAG but that is the only general part and is basically a copy of similar concepts in Argo when it was originally proposed. There is nothing particularly special about the DAG data structure.

[2020-05-06 06:59] Ark-kun commented on #3685
Sounds good. We'll try improving the documentation.

P.S. We'd also like users to create proper reusable components (component.yaml) instead of creating instances of `ContainerOp` directly. And also to use systemgenerated paths instead of hard-coding them in the component code (this will prevent compatibility problems in the future).

Just create a `component.yaml` file with the following content:

[2020-05-06 07:02] Ark-kun opened #3697 "Maybe bring the frontend code back from kubeflow/frontend"
It might be easier to maintain the Kubeflow Pipelines UX code if it's not split between the repos.

[2020-05-06 07:05] Ark-kun commented on #3686
On an unrelated note: We're advising our users to create components instead of using constructing ContainerOps directly. It takes the same amount ow work, but the results are better. See the [tutorial](https://github.com/Ark-kun/kfp_samples/blob/master/2019-10%20Kubeflow%20summit/106%20-%20Creating%20components%20from%20command-line%20programs/106%20-%20Creating%20components%20from%20command-line%

[2020-05-06 07:14] Bobgy commented on #3697
I don't have a strong opinion:
1. I don't find it very troublesome, but it's definitely better if everything is in one repo.
2. I think it depends more on whether any one is still trying to contribute to kubeflow/metadata. If no one is going to maintain it, I think we can just get rid of the shared repo and move it back.

[2020-05-06 07:15] Bobgy commented on #3697
also
/cc @avdaredevil @jlewi @zhenghuiwang

[2020-05-06 07:15] Bobgy commented on #3697
/cc @jingzhang36 @rmgogogo

[2020-05-06 07:19] Ark-kun commented on #3686
Note the the whole `kfp_server_api` package is generated from the swagger API definition.

[2020-05-06 07:25] Bobgy commented on #3693
I merged kubeflow master to our forked manifest: https://github.com/kubeflow/manifests/pull/1154
Deployed this manifest and verified it works well.

[2020-05-06 07:49] Ark-kun opened #3699 "API-server is constantly failing with ReadArtifact errors trying to read non-existing metrics artifacts"
I constantly see these errors  in the stackdriver logs (even when I do not interact with the cluster).

The component mentioned in the log does not have `mlpipeline-metrics` output.

KFP backend v0.2.4

[code]

[2020-05-06 09:20] rmgogogo commented on #3628
does the case want to mount same volume (PVC) to different component so that they can share the data across volume (e.x. component-1 write /volume/folder1 while component-2 read /volume/folder1?

Need @Ark-kun help on better answer.

Side question:
You mentioned GCS Fuse but not directly use GCS. Is it because the library you using can't access GCS? TF can. Which library you are using now?

[2020-05-06 09:33] Ark-kun opened #3701 "Marketplace test does not clean up the global cache-webhook object"
This prevents subsequent test runs from working.

The object can be deleted by running `kubectl delete mutatingwebhookconfigurations/cache-webhook`

Maybe we should include the namespace in the name of the webhook to prevent conflicts.

P.S. Is the test supposed to allow multiple parallel runs?

[2020-05-06 09:51] Bobgy commented on #2172
Hi @eterna2! Do you have plan to continue the UI implementation?
We are wrapping up on KFP 1.0 release. So we'd need to decide if this can be part of it or not.

If you don't have bandwidth, I may try to find if I can have enough time on this.

[2020-05-06 10:00] Bobgy commented on #2090
/close
This will be tracked in https://github.com/kubeflow/pipelines/issues/3033

[2020-05-06 10:00] #2090 closed

[2020-05-06 10:06] Bobgy commented on #2397
@chensun I think we can close this?
KFP multi user mode will be alpha released soon.
/close

[2020-05-06 10:06] #2397 closed

[2020-05-06 10:07] Bobgy commented on #2397
Please read https://github.com/kubeflow/pipelines/issues/1223 for latest status

[2020-05-06 14:15] jlewi commented on #3697
Who are the primary developers of the frontend? What is the future for the metadata front-end per kubeflow/metadata#225?

[2020-05-06 14:52] Mddct commented on #3693
Can this version work on prim k8s？

[2020-05-06 16:36] allenc97 commented on #3685
Ok. In this case, is there a way to transform say ContainerOps or other supported ops into their yaml formats? One of the biggest reasons our company wants to use Kubeflow is so different data scientists can build reusable pipelines without having to learn much new material. (I.e do everything in python).

It appears to me that there are a lot of functions that exist that you'd prefer users not to

[2020-05-06 16:50] talebzeghmi opened #3703 "Logical Intermediate Pipeline Representation"
There are currently two planned Kubeflow pipeline (KFP) efforts to compile to an intermediate representation.

1. [Kubeflow Pipelines and Tekton #3647](https://github.com/kubeflow/pipelines/issues/3647):  [design doc](http://bit.ly/kfp-tekton)
2. Merged TFX and KFP SDK: [design doc](https://docs.google.com/document/d/1_n3q0mNOr7gUSM04yaA0e5BO9RrS0Vkh1cNCyrB07WM/edit#)

I'm creating this issue to c

[2020-05-06 17:53] eterna2 commented on #2172
Ok. I will get a PR out by end of this week.

[2020-05-06 19:50] Ark-kun commented on #3685
When the components are instantiated, they become ContainerOp objects.
But it's pretty hard to do an automatic conversion in the other direction due to information loss (e.g. the information about the inputs is lost as some of them are even inlined).

Writing component.yaml files should be pretty easy (see the end of my comment) and might be even easier than dealing with ContainerOp.

That's true.

[2020-05-06 19:58] allenc97 commented on #3685
Ok. Is there anywhere I can find a roadmap for the future development plans? (I.e what new support is coming in, when certain deprecations will hit)

[2020-05-06 20:09] pvgbabu commented on #3407
@sachua  Thnaks for the information. My kubeflow pipelines generated using KALE. Is there any setting or config yaml to update in KALE to generate  #1654 (comment)  automatically.

[2020-05-06 20:37] #2958 closed

[2020-05-06 21:26] animeshsingh commented on #3703
@talebzeghmi this is something we have been discussing with KFP team, and hope to reach a conclusion in very near future around the state of IR, and get the effort moved in community soon.

@paveldournov @neuromage @jessiezcc @Ark-kun

[2020-05-06 23:22] omarzouk opened #3704 "Accessing execution date when backfilling"
### What did you expect to happen:
How do I inform my pipeline of the timestamp it is supposed to "backfill" when a recurring run is "chatching up" (has early start date and `catchup=true`)? Airflow has `{{ execution_date }}` and `{{ prev_execution_date }}` macros that you can access and pass to your components. For example I can use it to specify which bigquery partition to read from and write to

[2020-05-06 23:39] pahask8 commented on #3674
@Ark-kun, could you please take a look?
Thank you

[2020-05-06 23:42] Ark-kun commented on #2958
@holdenk
The URI-IO-based KFP-style TFX components now support Dataflow. You just pass `beam_pipeline_args` that specifies `DataflowRunner` and they start using Dataflow. Check this [sample pipeline](https://github.com/kubeflow/pipelines/blob/fa3b304/components/tfx/_samples/TFX_Dataflow_pipeline.ipynb).

[2020-05-06 23:44] omarzouk commented on #3704
Okay so I found [retrieveScheduledTime](https://github.com/kubeflow/pipelines/blob/master/backend/src/crd/controller/scheduledworkflow/client/workflow_client.go#L111) which seems to be using this label `workflow.labels.workflowEpoch`. However upon testing it, I still got the creationTimestamp. Also, it seems the label is only set during scheduling which causes the pipeline to blow up when trying t

[2020-05-07 00:16] omarzouk commented on #3704
Okay so after piecing together information from [constants.go](https://github.com/kubeflow/pipelines/blob/23e522a3d31f0358b337408a52a2670179913c4e/resources/scheduledworkflow/util/constants.go#L27) the label is actually called `{{workflow.labels.scheduledworkflows.kubeflow.org/workflowEpoch}}` .

This works with scheduled runs. However if I try a one-off, the pipeline fails with this error: `inval

[2020-05-07 00:36] gautamkmr commented on #3670
Thanks Marwan for trying out the component.
I believe your script was buried inside your custom image, if so that custom image runs inside sagemaker which does not inherit the `use_aws_secret` values. So either you need to add permission to the role https://github.com/kubeflow/pipelines/blob/master/components/aws/sagemaker/train/component.yaml#L10 or read it from AWS secret manager.

Would you min

[2020-05-07 01:31] Bobgy commented on #3697
Hi @jlewi, @jingzhang36 and I are primary frontend developers. I don't think Kubeflow pipelines team has any bandwidth to maintain kubeflow/metadata UI. So it's more up-to you or the community if kubeflow/metadata can keep getting maintained.

[2020-05-07 01:33] rmgogogo commented on #3701
copy msg from chat:
1. it's expected to be runable parally
2. the cache-webhook-${NAMESPACE} can't be GCed as it's generated via codes not manifest, didn't set the OwerRef
3. If it can be reused in next install, it would be OK.
Or propose we remove the L34-37 to let it re-apply again.

WDTY? I'm drafting a PR.

[2020-05-07 01:37] #3674 closed

[2020-05-07 02:00] rmgogogo commented on #3618
I guess you didn't apply the cluster scoped resources.

kubectl apply -k github.com/kubeflow/pipelines/manifests/kustomize/cluster-scoped-resources?ref=$PIPELINE_VERSION

sample:
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/sample

Here close. Feel free to reopen if still find issue.

I test the sample for few times and didn't hit issue.

[2020-05-07 02:00] #3618 closed

[2020-05-07 02:03] rmgogogo commented on #3704
/cc Jingzhang36

[2020-05-07 02:12] rmgogogo commented on #3699
@jingzhang36 would you take a look? In TFX SDK path, I think we don't generate mlpipeline-metrics, if so, the BE codes may don't output the logs. Right?

[2020-05-07 02:18] rmgogogo commented on #3687
qq: here it all for KFP SDK's component, right?

[2020-05-07 02:26] rmgogogo commented on #3669
Is it back to normal?

[2020-05-07 02:28] rmgogogo commented on #3667
is it still an issue now? github has outage recently.

https://www.githubstatus.com/

you may try download from another website for a quick check

[2020-05-07 02:32] rmgogogo commented on #3664
which SDK?
TFX SDK: https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components/slack
here is a sample.

KFP SDK is more flexible. Just the step will be hold there until meet conditions.

Another solution (preferred): don't handle it in-pipeline-steps, but handle it out of pipeline.
You can divide your pipeline to two/multi parts when need to talk with external systems.

A trigger

[2020-05-07 02:34] rmgogogo commented on #3664
The KFP it self still is DAG styled and no short term plan to change it to be fully event-driven.

[2020-05-07 02:35] rmgogogo commented on #3660
can user codes set cache=false to certain step?
TFX SDK can't now but the design can.

[2020-05-07 02:37] rmgogogo commented on #3655
I'm wondering whether we depriotize the "mlpipeline-metrics" usage but more on TFX + MLMD and metrics in MLMD/TB.

@Bobgy

[2020-05-07 02:40] rmgogogo commented on #3643
@jingzhang36 is current behavior bydesign for the case user update version but want to clone other parameters for a quick run?

[2020-05-07 02:46] rmgogogo commented on #3636
didn't get the questions well.
Do you mean
1. on version (e.x. 0.2), DB is on 0.2
2. upgrade binary to 0.3, DB will be upgrade to 0.3 automatically
3. now you want to rollback the DB to 0.2 but keep binary to 0.3?
Or you just want to test an upgrade? If just test upgrade, maybe sql dump to create another test DB and test the upgrade based on the test DB.

[2020-05-07 02:47] rmgogogo commented on #3589
I'm releasing 0.5.1 and here close this one.
If still can't, will manually update few notes to changlog

[2020-05-07 02:47] #3589 closed

[2020-05-07 02:48] rmgogogo commented on #3579
seems not a ticket to pipeline.
feel free to reopen if misunderstand

[2020-05-07 02:48] #3579 closed

[2020-05-07 02:49] rmgogogo commented on #3555
I believe it can work now. Here close but feel free reopen if you still can't.

[2020-05-07 02:49] #3555 closed

[2020-05-07 02:59] husamaf commented on #3628
That's right. I would like to train on component-1, while component-2 loads and evaluates checkpoints (conditionally).
Yea, exactly. I am using tensor2tensor + scipy + a bunch of my own custom code that will be a pain to refactor.

[2020-05-07 03:05] Bobgy commented on #3655
@rmgogogo currently MLMD metrics can not get shown in UI in a list. So I think we cannot fully deprioritize pipeline metrics

We may need to have a separate discussion on how many KFP features we want to be MLMD driven instead.

[2020-05-07 03:25] Bobgy commented on #2172
@eterna2 Awesome, super thanks!

[2020-05-07 03:38] Bobgy commented on #3415
Phase 3 features will be left for future improvement, if they are useful to someone.
I'll close the issue when phase 2 are done.

[2020-05-07 03:44] Bobgy commented on #3415
/close
phase 2 features all done. closing now

FYI, @eterna2 @Ark-kun @apryiomka, this feature will be released in 0.5.1

[2020-05-07 03:44] #3415 closed

[2020-05-07 03:52] Bobgy commented on #3669
Thanks for the report! Even if version doesn't match, I think api server shouldn't crash and restart.
@jingzhang36 we should fix the crash too.

/cc @Ark-kun @numerology
I think api server should be backward compatible for 0.2.0 compiled package, is my understanding right? Is this an intended backward incompatible change or a regression?

[2020-05-07 04:01] jingzhang36 commented on #3669
A quick summary, @thebinaryone1 used KFP SDK 0.2.0 to compile a pipeline to a zip file and then used the zip file to create a run with KPF SDK 0.5.0. Then at the method OverrideParameterWithSystemDefault(...) a segmentation error is thrown.

[2020-05-07 04:01] kumare3 commented on #3703
Hello all,
I lead an effort called [Flyte](https://flyte.org). We could see if Flyte could be a potential target for Kfp. We have an experimental compiler (incomplete), but would love to see what your thoughts/opinions are. We would love to collaborate and explore options.

Ketan

[2020-05-07 04:22] Bobgy commented on #3580
@Ark-kun Can you assign an appropriate priority?

[2020-05-07 04:29] Bobgy commented on #3311
@jingzhang36 we need to figure out what we promise for KFP api

Shall we mark e.g. new features like versioning api as experimental and other parts are promised.

[2020-05-07 05:13] Bobgy commented on #3693
@Mddct the design doesn't prevent us from running it on prem, but the first version of implementation requires https://cloud.google.com/iap. Therefore, it cannot be fully on prem.

[2020-05-07 05:26] Bobgy commented on #3640
Hi @oemergenc, you may read this documentation: https://www.kubeflow.org/docs/gke/pipelines/authentication-pipelines/.

short answer is, your cluster doesn't have `user-gcp-sa` secret. It was legacy (but still useful in some other cases), I'd recommend getting source code for the pipeline from AI Hub, remove the secret usage and run it in your cluster (your cluster uses default Compute Enginge ser

[2020-05-07 05:26] Bobgy commented on #3640
/close

[2020-05-07 05:26] Bobgy commented on #3640
Feel free to reopen if there's still anything unclear in the documentation or you met further problems

[2020-05-07 05:37] Bobgy commented on #3636
/cc @jingzhang36
Downgrade is not currently supported.
+1 to @rmgogogo's suggestion, backup the db before you upgrade and in cases of rollback, restore the db.

@andrewsmartin does this work for your organization? Can you ask for a maintenance window on KFP and do the upgrade -> sth fails -> rollback?
If not, we can discuss what would be the best solution for you.

[2020-05-07 05:38] Bobgy commented on #3633
@Ark-kun did you think your fix is a long term solution or a quick hack? Do we need to verify this again?

[2020-05-07 05:41] Bobgy commented on #3630
Is this related to our backend? I think authorization checks happen at Google Cloud inverse proxy? Or do you mean the client should check if returned data is correct?

[2020-05-07 05:45] Ark-kun commented on #3701
The webhook config is cluster-scoped, but the content is namespace-specific. (Technically, it's an array of configs, but we haven't tested how they're merged).
If we let next test overwrite it, then the already running test might fail.

We can try setting the owner reference. How should it look like?

[2020-05-07 05:45] Bobgy commented on #3612
@thebinaryone1 is there any typical scenario you need to terminate multiple runs?

[2020-05-07 05:46] Ark-kun commented on #3699
Also, most KFP components do not produce metrics either.

[2020-05-07 05:48] Bobgy commented on #3608
@rmgogogo Do you mean something like https://github.com/argoproj/argo/wiki/Argo-Workflow-Visualization#timeline-view-of-dag-execution-and-events?

Shall we also deploy argo UI and provide a link from KFP UI to it?

[2020-05-07 05:48] Bobgy commented on #3608
not sure about feasibility, maybe KFP UI can import argo UI as a library and show the timeline graph

[2020-05-07 05:49] Bobgy commented on #3608
@rmgogogo can you give it a priority

[2020-05-07 05:57] Bobgy commented on #3607
I think this is Kubeflow 0.6.2. KFP has only released 0.5.0 recently.

/cc @jingzhang36
Do we have a way to query metrics programmatically

[2020-05-07 06:00] Bobgy commented on #3606
@rmgogogo From the error message, I cannot find any mention of experiment. Did you misread the message?

[2020-05-07 06:01] Bobgy commented on #3596
@joeliedtke @Ark-kun Do we need to update documentation? or can we close this?

[2020-05-07 06:07] Bobgy commented on #3576
@RunOrVeith do you know if this still exists in latest KFP version?
looks like your deployment is very old (Sep.25th 2019)

[2020-05-07 06:14] Bobgy commented on #3545
Thanks for reporting the issue. This is strange. I will look into it.

[2020-05-07 06:17] Bobgy commented on #3548
Hi @sadeel, @rmgogogo just recently wrote a README for how to install Kubeflow standalone using GCS: https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize#option-3-install-it-to-gcp-with-cloudsql--gcs-minio-managed-storage. Does it work for you?

[2020-05-07 06:20] Bobgy commented on #3550
/assign @jingzhang36
/priority p1

[2020-05-07 06:21] Bobgy commented on #3569
/close
Please see #1223

[2020-05-07 06:21] #3569 closed

[2020-05-07 07:43] RunOrVeith commented on #3576
@Bobgy Not sure, we upgraded our deployment last weekend to  ca58b22, but I can't manually trigger the ImagePullbackError to check.
If you tell me how to do that I can try it again.

[2020-05-07 08:01] jingzhang36 commented on #3636
So far, we don't support KFP version downgrade. An ideal KFP version downgrade involves both KFP server binaries downgrade and KFP database schema downgrade. And the latter is the more difficult one to handle. Usually, if the underlying DB is a sophisticated commercial DB, we can rely on the underlying DB to handle DB schema downgrade. Unfortunately, the current DB we use doesn't have such a suppo

[2020-05-07 08:27] Bobgy commented on #3576
@RunOrVeith You can follow doc in https://www.kubeflow.org/docs/pipelines/sdk/build-component/#create-a-python-function-to-wrap-your-component to create a container op with invalid image

[2020-05-07 09:36] ConverJens commented on #1442
Same here. Using KF 1.0.2 which also doesn't use Ambassador anymore.

[2020-05-07 10:00] rmgogogo commented on #3608
considering latest update, I think it's P2 or P3.

[2020-05-07 10:01] rmgogogo commented on #3608
it helps.

[2020-05-07 10:04] rmgogogo commented on #3606
"tfx pipeline create --engine kubeflow ..." will give you a new experiment (not default) with the same name of the pipeline and I can't find a way to delete it.

[2020-05-07 10:05] rmgogogo commented on #3606
I expect "tfx pipeline create --engine kubeflow ..." just create pipeline in default experiment.
Or allow me to delete the auto-created experiment.

[2020-05-07 10:05] rmgogogo commented on #3606
@jingzhang36 believe it has some BE API issue related with this path.

[2020-05-07 10:08] rmgogogo commented on #3628
@Ark-kun please help review the answer.

(1) create PVC before pipeline definition/run
(2) define pipeline with steps to use the common PVC

[code]

[2020-05-07 13:28] jlewi commented on #3693
@Bobgy why is IAP required? Is it just a matter of integrating an identity provider that adds an appropriate JWT to incoming requests?

/cc @yanniszark

[2020-05-07 14:20] jlewi commented on #3645
@Bobgy +1
It would be good to get the multiuser support integrated into the GCP blueprint for blueprint users. That should be fairly straightforward. Blueprints should be easier to upgrade so it will be easier to roll out changes to customers using the blueprints.

I think the only changes would be

1. Add pipelines to the stacks [kustomization file](https://github.com/kubeflow/manifests/blob/346d

[2020-05-07 15:52] numerology commented on #3630
Yes sorry I meant the client. For example, check the response integrity before looking into `response.run`

[2020-05-07 15:55] numerology commented on #3687
@rmgogogo  Yes that's what I am thinking

[2020-05-07 16:10] yanniszark commented on #3693
@Bobgy this seems very strange to me.
The Pipelines API Server should be relying on the HTTP Headers being set correctly.
Why do you say that IAP is required, if we can authenticate the user and set headers with the current Dex+AuthService approach?
Is it because the APIServer only looks at the Google-specific header? (https://github.com/kubeflow/pipelines/blob/54c490c07a51c94c67cef37b0fd4a23472ed

[2020-05-07 16:57] sadeel commented on #3667
Hmmm, for this bug, I had no issues downloading the component. I was able successfully execute the component, but was unable to download the artifacts stored in minio.

[2020-05-07 20:05] pkasson opened #3708 "Cant create Notebook in GCP, using Kubeflow service account"
Just installed Kubeflow from GCP Marketplace.

When trying to create a notebook, using the auto-created Kubeflow service account, user gets error:

The user does not have access to service account 'Kubeflow-deploy ...'.  Ask the project owner to grant you the iam.serviceAccountUser role on the service account.

Have done that grant and still fails.

[2020-05-07 22:11] marwan116 commented on #3670
@gautamkmr  - thank you for taking the time to respond

Below is a very simplified version of the script I'd like to run but hopefully should be good enough to show where the issue is - please note the comments in the script
[code]

Here is the script for compiling the pipeline just in case you need it
[code]

The very strange thing is if I try to create the training job using the sagemaker python

[2020-05-07 22:19] marwan116 commented on #3670
Note to avoid opening other Sagemaker issues I will list out some of the pain points I have faced trying to integrate sagemaker with Kubeflow here and let me know if there are any solutions to these:

- I can't seem to pass an image to sagemaker_training_op that is not hosted on ECR and has to be in the same region as that specified for sagemaker_training_op ...

- Currently, the logs are being ou

[2020-05-07 22:55] talebzeghmi commented on #3703
The benefit of an intermediate representation (IR), especially if residing in a neutral repo outside from KFP, is that disparate ML SDKs can compile to the same IR, and the IR can be executed by disparate engines.

Possible SDKs:
* KF Pipelines
* Metaflow
* Flyte

Possible execution engines:
* Argo
* Tekton
* Flyte
* A lightweight local implementation

[2020-05-08 01:08] Ark-kun commented on #3660
It's possible to do that in a KFP pipeline.

[2020-05-08 01:44] goldwinner opened #3710 "End-to-End Pipeline Example running error on Azure aks"
### What steps did you take:
[A clear and concise description of what the bug is.]
user this guide https://www.kubeflow.org/docs/azure/azureendtoend/ to deploy pipeline,but encounted fatal error

### What happened:
in register step encounted a fatal error like below:

azureml.exceptions._azureml_exception.WorkspaceException: WorkspaceException:
	Message: No workspaces found with name=kubeflow in s

[2020-05-08 01:49] Bobgy commented on #3606
I see, added area/backend label too

[2020-05-08 02:03] Bobgy commented on #3693
@jlewi @yanniszark Your understandings are correct, it's only a matter of implementation.

We need to make the header configurable and its content parsable. (currently it must be of form `accounts.google.com:username@xxx.com`, we rely on the `:` to extract user identity).
https://github.com/kubeflow/pipelines/search?q=x-goog-authenticated-user-email&unscoped_q=x-goog-authenticated-user-email

What

[2020-05-08 02:03] jiezhang opened #3711 "Warning message is confusing when pod logs cannot be retrieved"
### What steps did you take:
After the pod finishes successfully and is later reclaimed, the following warning is displayed. The message often confuses first-time users, and suggests them to check out the troubleshooting guide.

![image](https://user-images.githubusercontent.com/37601164/81362079-db7a3400-9094-11ea-9e9e-a0417c6a4e0c.png)

### What happened:

In fact, the logs can be viewed in Stac

[2020-05-08 02:08] Bobgy commented on #3645
@jlewi Thanks for the suggestion! Because I have limited capacity working on these, I will get these changes merged to kubeflow/manifest master first before trying out the gcp blue print.

[2020-05-08 06:14] Bobgy commented on #3114
#3712 is pretty much all we can do now, integrating with new (not yet released) ipywidgets 8.0 can be post 1.0

[2020-05-08 06:14] rmgogogo commented on #3636
Andrew, any hard reason why request rollback schema? The only issue I can see is that you find new binary can't work and try to rollback (but DB already is in new schema). Is it the case you hit?

[2020-05-08 06:38] sachua commented on #3407
@pvgbabu I have not tried Kale, but I would think that they have a way to add a volume mount? Or you could edit the code generated by Kale?

I highly recommend you try the PNS executor first, it would solve the emptyDir issue without the need for you to constantly need to mount emptyDir to every container operation.

[2020-05-08 06:42] oemergenc commented on #3640
Hi, thanks for you help. I am reopening this because i still have problems in running this example.
I read the documentation in your provided link. Here is what i did:
* I downloaded the pipeline source from here: https://aihub.cloud.google.com/u/0/p/products%2F4700cd7e-2826-4ce9-a1ad-33f4a5bf7433/v/1/downloadpage
* i edited the pipeline.yaml and removed all references to the service account `user

[2020-05-08 06:46] oemergenc commented on #3640
@Bobgy unfortunately i am not able to reopen this issue, should i create a new one or can we stay with this one?

[2020-05-08 06:53] jingzhang36 commented on #3669
@thebinaryone1 do you mind providing me with the pipeline zip compiled with KFP SDK 0.2.0? So I can test with it. If the pipeline is confidential, do you mind removing the confidential parts and recompiling it with 0.2.0 and providing me the new pipeline zip? Thanks!

[2020-05-08 08:37] Bobgy commented on #3640
/reopen
taking a look

[2020-05-08 08:42] Bobgy commented on #3640
@oemergenc instead of patching `pipeline.yaml`, you should better use the sample notebook to run the pipeline (because pipeline.yaml is a generated asset not intended for human editing): https://github.com/kubeflow/pipelines/blob/master/components/gcp/bigquery/query/sample.ipynb

[2020-05-08 08:45] Bobgy commented on #3640
The error message come from Kubernetes api server, it doesn't fail at authenticating to Google Cloud, so I think your patches did change sth, but I think it wasn't completely correct. Can you try the notebook above instead?

[2020-05-08 09:13] #3033 closed

[2020-05-08 09:53] oemergenc commented on #3640
Could you provide me some guidance or documentation on how i can use this notebook? I am pretty new to using Kubeflow. I am using the AI Plattform provided by the Google Cloud Platform.

I deployed my Kubeflow Cluster using the Marketplace installer from here:
https://console.cloud.google.com/marketplace/details/google-cloud-ai-platform/kubeflow-pipelines

This version of Kubeflow does not seem to

[2020-05-08 10:11] #2669 closed

[2020-05-08 10:34] Bobgy commented on #3640
@oemergenc Understood, let me explain quickly here. I think that's probably something we should document better.
The sample: https://github.com/kubeflow/pipelines/blob/master/components/gcp/bigquery/query/sample.ipynb has a few steps, it builds a pipeline using kfp dsl and then compiles the pipeline to a package (locally, so you can see the file) and runs the package on your cluster directly using

[2020-05-08 10:35] Bobgy commented on #3640
and for the notebook, you may choose the managed notebook or your local notebook, both works
and the Kubeflow pipelines will run in your cluster

[2020-05-08 11:24] oemergenc commented on #3640
Hi,

thank you for your detailed instructions and your patience with me ;-)

I hope if i ask you one more question, which seems to be really simple.
How can i compile the notebook locally?
Here is what i did so far:

* clone this repository
* create a venv environment
* installed kubeflow sdk into the venv using the instructions from here: https://www.kubeflow.org/docs/pipelines/sdk/install-sdk/
*

[2020-05-08 12:01] yanniszark commented on #3645
@Bobgy thanks a lot for confirming.
It seems that the user-identity parsing code is already present in a few places and probably more in the future.

While we (and other users) can test multi-user pipelines on their on-prem installations, it's very difficult to dig through every part of the code and make sure the headers are configurable.
The best time to incorporate these options is when the code

[2020-05-08 13:29] ssharpe42 commented on #2320
@Ark-kun , related to @grischa's comment above, I am trying to use pipeline params as the `k8s_resource` in `ResourceOp`. I am generating the resource definition in a `ContainerOp` and retrieving it using `op_name.outputs["resource_definition"]`.  When I try to call `json.loads` on the output string to pass it to `ResourceOp` I get the error: `TypeError: the JSON object must be str, bytes or bytea

[2020-05-08 13:59] jlewi commented on #3645
Do you mean we agreed to use environment variables to make the headers programmable? I recall discussing 2 options

   1. Using ISTIO to transform the headers to some standard values
   1. Making the headers programmatic for each application.

I thought we mostly went with the second option?

@yanniszark I think the best way would be to come with ways to make it easy for application developers to

[2020-05-08 14:24] Bobgy commented on #3640
@oemergenc, no worries.

`dsl-compile` doesn't work with notebooks, it only supports python files.

The `compiler.Compiler().compile(pipeline_func, pipeline_filename)` code in the ipynb notebook is an alternative approach to compile the pipeline. (equivalent to calling cli `dsl-compile`). You can just run that notebook locally.

@numerology @Ark-kun Are confusions here documented anywhere? Can we

[2020-05-08 14:24] Bobgy commented on #3640
/assign @numerology @Ark-kun

[2020-05-08 14:31] Bobgy commented on #3645
Multi user is a very complex feature, I don't feel there's any problem if we prototype with just one platform first. It was good enough we agreed on the high-level design in the beginning and guaranteed it should work with all platforms. Now, it's pretty trivial to port the feature.

There has only been two places we are using it: https://github.com/kubeflow/pipelines/search?q=x-goog-authenticated

[2020-05-08 15:11] oemergenc commented on #3640
@Bobgy  thank you very much for your help. Finally i was able to run this example succesfully.

For anyone coming to this, here is what i did:

- clone this repository
- create a venv environment
- installed kubeflow sdk into the venv using the instructions from here: https://www.kubeflow.org/docs/pipelines/sdk/install-sdk/
- create a component.py python file with the code from sample.ipynb upto t

[2020-05-08 15:32] yanniszark commented on #3645
@jlewi
Yes, exactly, that was bad phrasing on my part.
Since in v0.6 we agreed to make them configurable (through envvars, cli args or config files), I would expect new applications integrating with Kubeflow's multi-tenancy to follow that approach.

Absolutely!
Here are some examples:
* [centraldashboard](https://github.com/kubeflow/kubeflow/blob/e0d7b2edd3df2ee4c06d59d2cf59bcaa2326fcfd/components

[2020-05-08 15:43] akartsky opened #3718 "AWS SageMaker : IAM Roles for Service Account"
Use [IAM Roles for Service Account](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) instead of aws-secret in all AWS SageMaker example pipelines

1] Change the example pipeline code
2] Change Readme

[2020-05-08 22:05] kumare3 commented on #3703
@talebzeghmi at the moment Flyte has an intermediate representation, specified in protobuf - https://github.com/lyft/flyteidl/blob/master/protos/flyteidl/core/workflow.proto#L147

So this allows FlyteAdmin (control plane to JIT to the executable representation) -> so in our case from this representation to FlytePropeller's Workflow CRD. We could potentially alternatively target Argo CRD or Tekton

[2020-05-08 22:21] jiezhang opened #3723 "Return 409 instead of 500 when pipeline being uploaded already exists"
### What steps did you take:
We are using kfp client to upload a pipeline. We are currently retrying 5xx errors to handle temporary server glitches; however, since upload pipeline returns 500 when the pipeline being uploaded already exists, we are also retrying those requests. A different status code would help us differentiate between different types of errors.

### What happened:
Return 500 erro

[2020-05-09 02:45] jingzhang36 commented on #3259
The first stage (client side scripts have been submitted). So move this issue to post 1.0  for the second stage work (i.e., stats collecting in inverse proxy and in server side)

[2020-05-09 02:45] marwan116 opened #3728 "Sagemaker Training Operator throws an error if custom image is not hosted on ECR"
### What steps did you take:
Attempted to run the Sagemaker training operator using a custom image that is not hosted on ECR

### What happened:
I got the following error:
[code]

### What did you expect to happen:
Our CI/CD pipeline is set up to push images to our own personal registry that is not hosted on ECR - ideally, I would want to run Sagemaker training jobs using images hosted from our pe

[2020-05-09 02:47] jingzhang36 commented on #1263
@yylin1 we are working on deleting runs/experiments from UI at https://github.com/kubeflow/pipelines/issues/3283. Please check out the current status there. Thank you!

[2020-05-09 02:47] #1263 closed

[2020-05-09 03:00] jingzhang36 commented on #3283
Status update:
1. For runs, users can first archive and then delete archived runs. Note: only archived runs can be deleted from UI to avoid accidental deletion
2. For experiments, users can archive experiments. Note: we haven't enable deletion of archived experiments in UI, because the current logic of deleting an experiment only deletes the experiment while leaving the runs inside the experiment

[2020-05-09 03:00] #3283 closed

[2020-05-09 04:53] #3328 closed

[2020-05-09 05:48] Bobgy opened #3729 "[Release] Branch based release"
/cc @rmgogogo @jingzhang36
We need branch based release so that we can easily patch bug fixes onto a released version.
This is important for stableness after 1.0.

[2020-05-09 06:13] Ark-kun commented on #3729
I agree with this idea (I also proposed it before).
We can create branch where we update changed components, versions, etc. The tip of that branch is tagged and released. Then we merge this branch into master.
If we need any bugfixes, but cannot make a new release from master, then we can cherry-pick a fix to the release branch.

[2020-05-09 06:47] Bobgy opened #3730 "[Release] Versioning Policy and Release Process"
We should decide on a versioning policy from 1.0 release.

## History
1. initially KFP was always released under 0.1.x until 0.1.40 https://github.com/kubeflow/pipelines/releases/tag/0.1.40
2. After 0.2.0 we followed the rule that each manifest change needs a minor version bump, because marketplace was only supporting image upgrade (but not manifest).
3. However, marketplace no longer supports upg

[2020-05-09 06:47] Bobgy commented on #3730
/assign @Bobgy
/cc @jingzhang36 @rmgogogo

[2020-05-09 07:29] adux6991 opened #3731 "Filters in ArtifactList and ExecutionList don't work."
### What steps did you take:
Enter some keyword in the filter in /artifacts page.

### What happened:
Nothing changed. Filter did not work.

### What did you expect to happen:
Filter correctly by the keyword.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

Standalone Deployment

KFP version:
1d86111

KFP SDK version:
kfp                      0.4.0
kfp-server-api           0.3.0

#

[2020-05-09 07:43] #3640 closed

[2020-05-09 09:28] Bobgy commented on #3354
Actually, this is kind of dup of https://github.com/kubeflow/pipelines/issues/3216
We can just track in https://github.com/kubeflow/pipelines/issues/3216

[2020-05-09 09:28] #3354 closed

[2020-05-09 10:42] Bobgy commented on #1223
Removed from KFP 1.0 project, because this will be released separately in Kubeflow.

[2020-05-10 02:43] jnmclarty commented on #3216
I tried hacking on this a few different ways today.  Indeed, there would be draw-backs to call anything like the current implementation of `_add_generated_apis` on import.

I looked around the features, [events](https://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx-core-events), [extensions](https://www.sphinx-doc.org/en/master/usage/extensions/index.html), autodoc directives of sphinx.

[2020-05-10 07:43] Ark-kun commented on #3611
Can you please try dumping the HTTP request. If the request looks sane, then
you can use Fiddler or command-line tools like curl or wget to investigate how to tweak the request to make it work.

[2020-05-10 14:13] areshytko opened #3733 "[BUG] Confusion matrix visualizes target and predictions on wrong axes"
### What steps did you take:

1. Run the following code:
[code]
2. See result in KFP UI

### What happened:

Axes were mixed up:

![image](https://user-images.githubusercontent.com/7684174/81501463-3011ef00-92e1-11ea-9274-fde33691c0f1.png)

for the data:

![image](https://user-images.githubusercontent.com/7684174/81501504-651e4180-92e1-11ea-9f29-1f8b96a68e07.png)

### What did you expect to happen

[2020-05-11 02:05] Bobgy commented on #3216
@jnmclarty Super thanks! This is a big step forward!

After reviewing the generated doc, there are still some usage frictions:
* Function description not very readable, it's hard to understand payload needs an ApiJob: http://kfpdocs.jeffreymclarty.com/html/source/kfp.client.html#kfp.Client.jobs.create_job
* Then looking at doc for ApiJob, it's hard to figure out what type each field is: http://kfp

[2020-05-11 03:18] Bobgy commented on #3216
I've been searching if any solutions exist generating doc for swagger clients.

I tried https://github.com/swagger-api/swagger-codegen/issues/1387#issuecomment-347745959.

and got the following

[2020-05-11 08:27] rmgogogo commented on #3611
I don't think "host" parameter is supported with minikf as no context for authentication.

Or you may simply change the SDK client to allow no-authentication to directly hit the API server.

[2020-05-11 11:48] jonasdebeukelaer opened #3735 "[UI] snackbars not being displayed"
### What steps did you take:
Working on a different issue, I've noticed snackbars do not show up ever. When a new run is created, an update to the state of pages/Page.tsx is made.

### What happened:
No snackbar is displayed.

### What did you expect to happen:
Snackbar displayed with message 'Successfully started new Run: <run>'

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
both

[2020-05-11 12:21] yanniszark commented on #3611
Hi everyone, just wanted to shed some light into MiniKF's auth configuration in case it helps with this issue.
In MiniKF, every request to the Istio Gateway (`10.10.10.10:8080`) is checked for authentication credentials.
Currently, this credential is a cookie in the user's browser, support for programmatic authentication isn't there yet.

AFAIK, the available solutions are the following:
1. Copy t

[2020-05-11 16:27] omarzouk opened #3736 "Abstract away argo workflow variables"
### What steps did you take:
One often needs to use variables such as `{{workflow.status}}` however there is no abstraction around it and the current abstraction for `{{workflow.uid}}` ([here](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/__init__.py#L29)) was created to serve some samples and tutorials as mentioned [here](https://github.com/kubeflow/pipelines/pull/1683#issu

[2020-05-11 18:13] xaniasd commented on #3405
I have used the minio gateway as a front to Azure Blob Storage, so it does have value until that protocol is supported as well. But I'm definitely in favor of making minio optional asap

[2020-05-11 18:50] Ark-kun commented on #3736
Generally abstracting away Argo is an important idea. However we should be careful with how we do this.

[2020-05-11 23:38] #3249 closed

[2020-05-11 23:48] Bobgy commented on #3731
Hi @adux6991, sorry for confusion. These features are not implemented yet.
A more urgent issue is the page should support server side pagination, we may try adding filters after server supports that.

[2020-05-11 23:52] Bobgy commented on #3731
FYI, pagination issue: https://github.com/kubeflow/pipelines/issues/3226

[2020-05-12 01:25] Ark-kun commented on #2172
Implemented by @eterna2 https://github.com/kubeflow/pipelines/pull/3707

[2020-05-12 01:25] #2172 closed

[2020-05-12 02:30] adux6991 commented on #3731
Got it. Thanks. Close the issue as you need.

[2020-05-12 02:50] Ark-kun commented on #3216
This looks great! Thanks for helping.
Did you eventually just generate the lists of methods using a script? (e.g. `  .. automethod:: kfp.Client.runs.list_runs`)

[2020-05-12 06:14] Bobgy commented on #3499
I tried to evaluate feasibility of adding the error message, but it seems it's probably easier to just fix #3655 than this.

The check is done in backend: https://github.com/kubeflow/pipelines/blob/81341d3aa67268d25d8c5ae1dc31df2e59e610b8/backend/src/apiserver/server/run_metric_util.go#L27.

UI only gets information about which metrics were successfully logged, it couldn't know which didn't. A pro

[2020-05-12 06:14] Bobgy commented on #3499
Further updates will be tracked in #3655

[2020-05-12 06:15] Bobgy commented on #3655
The restriction is in https://github.com/kubeflow/pipelines/blob/81341d3aa67268d25d8c5ae1dc31df2e59e610b8/backend/src/apiserver/server/run_metric_util.go#L27.

[2020-05-12 06:52] #3322 closed

[2020-05-12 06:52] #3617 closed

[2020-05-12 07:01] raviranjan0309 opened #3742 "Unable to run Kubeflow fairing from Kubeflow pipeline"
Hi,

I was trying to run Kubeflow fairing lightGBM example for distributed parallel training from Kubeflow pipeline. I was successfully able to run the code from local machine by establishing a connection with Kubeflow cluster in GKE.

Then, I tried to run Kubeflow fairing example from Kubelow pipeline. I was able to pull docker image from GCR, spin four machines (1 chief and 3 worker nodes) for d

[2020-05-12 07:46] Ark-kun commented on #3499
@hongye-sun Do you remember the reason for that check?

[2020-05-12 07:49] Ark-kun commented on #3742
`User \“system:serviceaccount:kubeflow:pipeline-runner\” cannot list resource \“secrets\” in API group \“\” in the namespace \“kubeflow\“`

Most likely, the `pipeline-runner` user does not have permission to `list` `secrets`. You'll need to expand the role of that user if you want to allow that.

[2020-05-12 08:14] Bobgy commented on #3499
@Ark-kun We asked @hongye-sun in another issue report: https://github.com/kubeflow/pipelines/issues/3309#issuecomment-621007877. There wasn't any implementation requirement, just resource naming alignment. So I'd prefer we remove this limitation.

[2020-05-12 09:12] #3655 closed

[2020-05-12 09:21] gautamkmr commented on #3728
Thank you @marwan116  for trying out the operator. Currently SageMaker has support for images hosted in ECR only.
SageMaker has support for various frameworks like TensorFlow, XGBoost, PyTorch etc as well as some [in-built algorithms](https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html).

If you have custom image, [here](https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-push-ecr

[2020-05-12 09:28] raviranjan0309 commented on #3742
The main issue is "IOError: [Errno 2] No such file or directory: ‘/etc/secrets/user-gcp-sa.json’"

It is not able to find the secrets to perform operations.

[2020-05-12 09:39] goswamig opened #3744 "[Feature request] AWS SageMaker component log"
Currently SageMaker component does not have log in KFP ui or artifact. Since the job runs inside the SageMaker, job's log gets pushed to AWS Cloudwatch.  We should have job's log available in KFP.

[2020-05-12 09:41] gautamkmr commented on #3744
https://github.com/kubeflow/pipelines/issues/3670

[2020-05-12 09:41] gautamkmr commented on #3728
https://github.com/kubeflow/pipelines/issues/3670

[2020-05-12 11:59] karlschriek commented on #3703
@kumare3 I work with quite a few teams who are currently thinking of moving their workflows to Kubeflow, but they are also interested initiatives like Flyte (and also Metaflow), but at the moment it is hard to concretely show them how how these could work together.

Metaflow currently comes across as very much its own thing. (Although they claim architectural independence in their design, the fact

[2020-05-12 14:02] sadeel opened #3746 "How to pass 'None' to a string flag of a docker container?"
### What steps did you take:
I have a python flag which looks like this:

[code]
This flag is exposed as part of a KFP parameter. When not specified in the KFP UI, it seems to pass the flag as an empty string to the python program rather than None. Here is my component:

[code]

### What happened:
Parameter passed as string

### What did you expect to happen:
Parameter to be passed as none-type.

[2020-05-12 14:10] eterna2 commented on #3670
There has been some undocumented change to the `load_component_*` functions. It used to return a `ContainerOp`, now it returns a `TaskSpec` instead.

Currently there are 2 possible workaround:

1.  use the private func `_create_container_op_from_component_and_arguments` to generate ur containerop from taskspec
[code]

2. overwrite the default `_default_container_task_constructor`
[code]

PS: @Ark-

[2020-05-12 15:08] surajkota commented on #3670
Hi @marwan116, I was able to reproduce the failure and the root cause is that the default value for `network_isolation` parameter in SageMaker is set to [False in python sdk](https://github.com/aws/sagemaker-python-sdk/blob/bf48fb1219bd8ea22e78a913bfa091e544c57cc3/src/sagemaker/estimator.py#L1112)  whereas in the pipeline definition you provided it is set to True, which is also the [default value]

[2020-05-12 16:38] discordianfish commented on #3405
So what would be the right way to get consensus on how to go forward? Is this gw based approach on the roadmap? Do we want/need to go down that route first, before eventually having native support?

To address the access control concern, another alternative would be running the gw as a sidecar in each pod we need it. But at that point we can probably just refactor this to track endpoint+bucket+pat

[2020-05-12 17:09] marwan116 commented on #3670
@surajkota  - thank you so much for taking the time to reproduce this - yes you are right it is because I had `network_isolation` set to True - (sorry I should have taken the time to understand what `network_isolation` does)

Also thank you for the clarifications!

I saw @gautamkmr graciously took the time to open an issue concerning the logs - thank you @gautamkmr !

I am closing this now as this

[2020-05-12 17:09] #3670 closed

[2020-05-12 17:10] #3284 closed

[2020-05-12 17:36] kumare3 commented on #3703
@karlschriek I am absolutely open to all conversations where we would love to serve the Kubeflow community in general. But, we are planning to have an experimental "Kubeflow Pipelines" to "Flyte" compiler soon, which should allow using Flyte to run Kubeflow pipelines.

This is not the ideal solution because, it will not use Flyte's native Plugin system, and will not use KfP's UI (as they have no h

[2020-05-12 19:39] sm-hawkfish opened #3748 "Generate a YAML Component Spec from a Python DSL component function"
Hi everyone,

Using the [kfp.dsl.component ](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.component) decorator to define KFP Components is a great user experience, since it leverages standard features of the Python language like type annotations and docstring inspection. By contrast, the YAML Component specification requires engineers to learn a new syntax and is

[2020-05-12 20:06] lilida commented on #3748
Thanks @sm-hawkfish

[2020-05-12 21:14] joostgp commented on #3748
Interesting topic. We were discussing internally whether YAML or decorated Python functions are a better way to provide a shared library of components.

We are running into a couple of challenges with YAML files:
- We have some legacy containers where parameters are passed as environment variables. I don't think this is supported in the component YAML files.
- We have several container registries,

[2020-05-12 21:38] timothyjlaurent commented on #3548
I agree this would be great -- We have several pipelines created by hand that accept Input artifacts that we can't write with the SDK

[2020-05-12 22:36] Bobgy commented on #3748
Thanks for summarizing all of these in an issue!

/cc @Ark-kun @numerology
Who have the best knowledge.

[2020-05-13 01:50] Ark-kun commented on #3748
Commenting on some of the statements for now.

I think that the component.yaml is the minimal description of the component. Your example shows that it has less lines than the python version. It also supports more features than the legacy `@component` decorator.

Do you have any use for those OpenAPI schemas? Those schemas as well as `kfp.dsl.types` are mostly deprecated.

Why would you use `input1

[2020-05-13 01:58] Ark-kun commented on #3748
I think we already support the feature that you want. The structures in `kfp.components.structures` allows you to build your component specification using python. The code is even more compact that `ContainerOp` instantiation while creating a real component. The specification can then be saved to `component.yaml`.

[code]

[2020-05-13 02:10] Bobgy commented on #2897
Found another issue, in pipeline version selector, version could be too long.
/reopen

[2020-05-13 02:13] Ark-kun commented on #3742
I'm not sure why fairing wants to list the secrets. By default `pipeline-runner` SA does not have this:
https://github.com/kubeflow/manifests/blob/9e6ef8681003c195560fb7b3b75211830c19b7a0/pipeline/pipelines-runner/base/cluster-role.yaml#L9

You can modify the `pipeline-runner` *ClusterRole* to allow the `pipeline-runner` SA to list the secrets.

...

Can you please provide a repro and more informa

[2020-05-13 02:30] Ark-kun commented on #3746
First let's separate KFP issues from non-KFP issues.

How would you "pass 'None' to a string flag of a docker container" without KFP? (For example, when you use Docker or just use command-line and terminal.)

Maybe, in you case the answer is "Just do not include the --val_dir flag in the command-line arguments."

In this case your command-line changes (the number of argument changes) depending on

[2020-05-13 03:23] Bobgy opened #3752 "[Multi User] Make user identity header configurable"
/cc @yanniszark @jlewi
as discussed in https://github.com/kubeflow/pipelines/issues/3645#issuecomment-625872980

Part of https://github.com/kubeflow/pipelines/issues/1223

* [x] UI Server #3753
* [x] Api Server https://github.com/kubeflow/pipelines/pull/3772 and https://github.com/kubeflow/pipelines/pull/3842

[2020-05-13 03:38] #2897 closed

[2020-05-13 04:03] sm-hawkfish commented on #3748
Thank you for the quick and detailed reply @Ark-kun !  The code snippet you provided answers my initial question, although I now have a follow-up :)

To take a step back, a large part of my motivation for wanting to write the Components in Python is so that I could extend the types in `kfp.dsl.types` with my own types. By using Python, we could use a variety of existing tools like [mypy](http://my

[2020-05-13 04:39] raviranjan0309 commented on #3742
I have shared the code and detailed error at below URL for debugging:

[https://github.com/raviranjan0309/kubeflow-fairing-pipeline](https://github.com/raviranjan0309/kubeflow-fairing-pipeline)

I have masked GCP project id in the code, please update that to run at your side.

Yes, I have verified, my Kubeflow cluster has user-gcp-sa secret under kubeflow and kubeflow-ext namespace. I am able to u

[2020-05-13 05:44] Bobgy opened #3755 "[KF 1.0 Compliance] app.kubernetes.io labels on every resource"
Part of https://github.com/kubeflow/pipelines/issues/2884
Compliance doc: https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md
Description | Category | Explanation
-- | -- | --
app.kubernetes.io labels on every resource | Required | Every resource that is part of the application should include the labels recommended by Kubernetes, currently:app.kubernetes.io/nam

[2020-05-13 05:52] Bobgy commented on #3755
The problem is that common labels feature in kustomize cannot be used for applying these labels: https://github.com/kubeflow/manifests/issues/1131

Because it is applied to selectors too, while selectors have to be immutable for upgrade.

Due to the limitations, I think it's better to defer this requirement to post 1.0 until there's a maintainable solution.

Upstream kustomize has a solution to ad

[2020-05-13 05:53] Bobgy commented on #3755
/cc @jlewi
Sounds reasonable to defer this until later than KFP 1.0?

[2020-05-13 06:41] Bobgy commented on #3645
/close
As we have reached agreement, further progress will be tracked in https://github.com/kubeflow/pipelines/issues/3693

[2020-05-13 06:42] #3645 closed

[2020-05-13 07:09] Bobgy opened #3756 "[KF 1.0 Compliance] liveness and readiness probes"
Part of https://github.com/kubeflow/pipelines/issues/2884

This is required.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

An additional challenge with us, is that we need to make sure the probes work with istio mutual TLS (which protects all traffic with istio managed TLS certificates).
Workarounds are documented https://istio.io/faq/secur

[2020-05-13 09:47] #3710 closed

[2020-05-13 11:12] jingzhang36 opened #3759 "More detailed description of backend API methods in API reference"

[2020-05-13 18:19] andrewgdavis opened #3761 ""clone recurring run" doesn't clone the trigger method"
### What steps did you take:
create a scheduledworkflow with a trigger method of "Cron" and an interval of 5 seconds.
from the recurring run config; select the "Clone recurring run" button.

### What happened:
After selecting the "clone recurring run" button,  the recurring run form with respective pipeline and version are applied; but the schedule configuration has the defaults applied ("Periodic

[2020-05-13 21:10] jlewi commented on #2826
@amygdala it looks like the problem is that you are trying to apply a patch to the PVC claim mysql-pv-claim which includes immutable changes. So one potential work around is just delete that claim and then run apply.

It would be good to better understand though what the problem is could you post the following. The YAML spec for your existing PVC claim e.g.

[code]

And then also attach the YAML s

[2020-05-13 21:49] jlewi commented on #3703
@kumare3  Would you be interested in presenting flyte at an upcoming Kubeflow community meeting?
You can find the calendar [here](https://www.kubeflow.org/docs/about/community/#community-meetings)

Just leave a comment in the [Google doc](http://bit.ly/kf-meeting-notes) to let us know which date you are interested in presenting on.

[2020-05-13 22:01] Ark-kun commented on #3548
Can you please explain your scenario. I'm trying to understand why the current SDK prevents you from reaching your goal.

SDK already allows you to pass arbitrary data. Including BigQuery table names, GCS paths, HDFS URIs, HTTPS URLs, GIT URIs etc. The SDK does not restrict the type of data you're passing.

KFP can also optionally automatically move data from storage to the container and back from

[2020-05-13 23:14] Tomcli commented on #3647
We are looking at adding Tekton support to the KFP api-server. However, Tekton beta client required go client v1.17.0 and this version of the go client is causing some issue with the Argo client.
[code]

This is also mentioned in https://github.com/argoproj/argo/issues/1983 which is fixed in the newer version of Argo. Do we have any plan to migrate the Argo go client to a newer version?

[2020-05-14 03:29] Bobgy commented on #2884
Custom Resources

The following requirements were mentioned, but I don't think they apply to Kubeflow Pipelines. All CRDs of Kubeflow Pipelines are meant to be internal implementation details, rather than sth users should directly use.

| Description | Category | Explanation |
|-------------|----------|-------------|
| Version stability | Required  | <ul><li>No deprecative API changes </ul> |
| Mu

[2020-05-14 03:34] Bobgy commented on #2884
## CI/CD

| Description | Category | Status | Explanation |
|-------------|----------|--------|-------------|
| E2E tests | Required  | OK | <ul><li>E2E tests should be run on presubmit, postsubmit, and periodically <li> Tests should cover deployment (kustomize packages) <li> As well as the application functionality </ul> |
| Scalability / load testing | Required  | WIP #2571  | <ul><li>Applicatio

[2020-05-14 03:35] Bobgy commented on #2884
## Docs

| Description | Category | Status | Explanation |
|-------------|----------|--------|-------------|
| API Reference docs | Required  | WIP #3216 | <ul><li>Applications exposing APIs (e.g. CRs) need reference docs documenting the API </ul> |
| Application docs | Required  | OK | <ul><li>There must be docs on kubeflow.org explaining what an application is used for and how to use it </ul> |

[2020-05-14 03:36] Bobgy commented on #2884
## Ownership/Maintenance

| Description | Category | Status | Explanation |
|-------------|----------|--------|-------------|
| Healthy number of committers and commits | Required  | OK | <ul><li> Committers are listed as approvers in owners files <li> Number to be determined by TOC based on size and scope of application </ul> |
| At least 2 different organizations are committers | Required  | OK

[2020-05-14 03:37] Bobgy commented on #2884
## Adoption

| Description | Category | Status | Explanation |
|-------------|----------|--------|-------------|
| List of users running the application | Recommended  | Not yet planned, but we can do this | <ul><li>Suggest listing adopters willing to be identified publicly in ADOPTERS.md </ul> |

[2020-05-14 04:28] Bobgy opened #3763 "New runs' details page always loading"
### What steps did you take:
* Deploy a KFP cluster
* Wait for a long time (likely something that happened in this period is required, e.g. upgrading cluster kubernetes version)

### What happened:
Sometimes, after a job is submitted and successfully executed, the KFP UI fails to display run details (empty page with a spinning wheel) via the url: https://${CLUSTER_URI}/_/pipeline/?ns=keshi#/runs/d

[2020-05-14 04:28] Bobgy commented on #3763
/assign @Bobgy
/cc @IronPan @jingzhang36
Record a known issue here.

[2020-05-14 04:29] Bobgy commented on #3763
Workaround: run `kubectl delete pod ml-pipeline-persistenceagent-xxxxxxx-xxxx -n kubeflow` to restart persistence agent.

[2020-05-14 04:30] Bobgy commented on #3763
I'm thinking even if we couldn't fix the issue directly, adding a liveness probe to persistence agent would be the best. However, persistence agent doesn't just hang, it keeps working properly just without getting new information.

If there are any ideas we can implement a liveness probe for this situation that would be awesome.

[2020-05-14 04:31] Bobgy commented on #3756
https://github.com/kubeflow/pipelines/issues/3763 can potentially get solved by this, but I cannot find a good liveness probe for persistence agent.

[2020-05-14 04:51] Bobgy commented on #3756
FYI, in the end I decided to use wget, because alpine comes with it.
`wget -q -S -O - http://localhost:3000/apis/v1beta1/healthz`

[2020-05-14 05:13] Ark-kun opened #3764 "Add license to the kfp-server-api package"
The package is generated by this script: https://github.com/kubeflow/pipelines/blob/master/backend/api/build_kfp_server_api_python_package.sh

[2020-05-14 05:16] Bobgy commented on #3764
Thanks @Ark-kun! This is required item

[2020-05-14 05:17] Bobgy commented on #3764
Part of https://github.com/kubeflow/pipelines/issues/2884

[2020-05-14 05:55] Bobgy commented on #3756
/cc @jlewi
Do you have any recommendations for liveness probe for operators? I don't think adding an http endpoint just for health check has any value. Does it?

[2020-05-14 10:51] jonasdebeukelaer commented on #3164
Not sure where this is at, but I started getting these error logs if I used a non-existent service account for a run.
The only way to make it stop was to delete the run (using proxy to api)

[2020-05-14 11:19] Bobgy commented on #3729
I'm evaluating feasibility of doing branch based release today.

After some investigation, I think it can also reduce complexity of our release process, especially component and sample release process.

Current process in [components/release.sh](https://github.com/kubeflow/pipelines/blob/f0c8effb3a4284bb2899780eef4a697a79043e4a/components/release.sh):
* Re-tag all component images to gcr.io/ml-pip

[2020-05-14 14:50] panbalag commented on #1654
Any updates? I'm still seeing this issue. I'm trying out a KF Pipeline example on Kubeflow installed on top of OpenShift. Since the executor here is k8sapi, I get the following error "invalid spec: templates.mypvc.outputs.parameters.mypvc-manifest: k8sapi executor does not support outputs from base image layer. must use emptyDir". Compiling the example (https://github.com/kubeflow/pipelines/blob/m

[2020-05-14 15:02] saschagrunert commented on #1654
Can you try the pns executor? I was able to get it to run like this:
https://github.com/kubernetes-analysis/kubernetes-analysis/blob/master/src/pipeline.py

When using CRI-O, then you have to update the argo deployment because there was a bug in conjunction with the container ID retrieval when using the systemd cgroup manager. (Will be fixed in https://github.com/kubeflow/manifests/pull/1145)

[2020-05-14 18:37] amygdala commented on #2826
Actually, there were a lot of errors when I tried again: https://gist.github.com/amygdala/d88e6304d3023e386b2f1f7bac3289bd
This was attempting to upgrade a KF 1.0.2 IAP installation to use KFP 0.5.1. via these upgrade instructions: https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/#upgrading-kubeflow-pipelines
(It has been a while, so I can't remember if I saw the same set

[2020-05-14 20:37] ilyinon opened #3766 ".add_affinity produces "RuntimeError: Internal compiler error: Found unresolved PipelineParam.""
### What steps did you take:
When I try to add affinity to my task like

`affinity=V1Affinity(
                    node_affinity=V1NodeAffinity(
                        required_during_scheduling_ignored_during_execution=V1NodeSelector(
                            node_selector_terms=[V1NodeSelectorTerm(
                                match_expressions=[V1NodeSelectorRequirement(

[2020-05-14 22:22] sm-hawkfish commented on #3748
Hi @Ark-kun, I know that you are very busy with other Issues and Pull Requests, but want to keep this on your radar. Are there ideas or concepts in my previous post that you would be interested in discussing further?

[2020-05-14 22:37] animeshsingh commented on #1654
@panbalag so many people are able to run it with PNS executor on OpenShift, as mentioned above. Have you tried that? cc @Tomcli

[2020-05-14 23:15] Tomcli commented on #1654
we have to run this to relax our Openshift security in order to run PNS
[code]
Also, if the OpenShift master is set up with privileged is required for P_TRACE, then we also need to add the following methods to all the containerOp.
[code]

[2020-05-14 23:17] Tomcli commented on #1654
These is what Kubernetes trying to do when running with PNS features
https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/#understanding-process-namespace-sharing

[2020-05-15 01:49] Bobgy commented on #3164
Sounds like persistence agent is causing these, it keeps asking api-server to sync old workflows even when they have finished.
/cc @jingzhang36 @IronPan

We have get a fix to this.

@jonasdebeukelaer Yes, I think your case is the same, as long as there's a workflow that declares some artifact, but it wasn't generated. This error will show up.

[2020-05-15 01:50] Bobgy commented on #3164
Does it work for you if api-server just log this as an info, instead of error? It warns about data, but it's valid data is missing some times (when there is a user error)

[2020-05-15 02:05] Bobgy commented on #3729
Cons:
* CHANGELOG generation needs some fix, because now a 1.0.1 should be patched on 1.0.0, but no longer in master branch.

[2020-05-15 02:42] Bobgy commented on #3756
/close
I think having probes for servers is enough for now.
Will lease operators when we see an issue with it.

[2020-05-15 02:42] #3756 closed

[2020-05-15 06:01] Bobgy commented on #3708
@pkasson Sorry, I don't quite understand the error you are seeing.
Can you provide the url you followed to deploy it?

Kubeflow Pipelines deployed from GCP marketplace doesn't have notebooks.

[2020-05-15 06:02] Bobgy commented on #3711
Thanks for the suggestion!
Sounds reasonable to me.

[2020-05-15 06:07] Bobgy commented on #3728
@marwan116 looks like question answered, I'm going to close this issue.
But feel free to reopen with `/reopen` comment.

/close

[2020-05-15 06:07] #3728 closed

[2020-05-15 06:10] Bobgy commented on #3733
/cc @numerology
I'm not familiar with the scope, is this the usual convention of showing a confusion matrix?
If yes, can you switch your schema order, to put predicted as the first item?
[code]

[2020-05-15 06:13] Bobgy commented on #3735
Thanks for submitting an issue. Sounds like it could be caused by https://github.com/kubeflow/pipelines/pull/2622.
/assign @Bobgy

[2020-05-15 06:27] Bobgy commented on #3742
I don't quite understand the error message, one thing strange is that, it is finding secret at `/etc/secrets/user-gcp-sa.json`. But for KFP, the secret should by default be mounted at `/secret/gcp-credentials/` https://github.com/kubeflow/pipelines/blob/e2e30a379cd20dfe3a25131fcaaed203e70a6da1/sdk/python/kfp/gcp.py#L18.

Looking at your example pipeline code, you were not overriding that parameter

[2020-05-15 06:34] Bobgy commented on #3761
Thanks for the report!

[2020-05-15 06:35] Bobgy commented on #3766
/assign @Ark-kun @numerology @chensun

[2020-05-15 07:12] dilip640 opened #3767 "Documentation for mounting secret volume in Container Operation"
How am I supposed to mount Kubernetes secret volume

[code]

[2020-05-15 09:03] pkasson commented on #3708
This was related to creating a notebook in Google cloud (GCP).

If after installing Kubeflow on GCP, you try to create an AI notebook, using the generated service account, it would fail.  There was a step that was missed, which ran a script that applied permissions to the users and service account allowing the notebook to be created ... no longer an issue.

[2020-05-15 09:03] #3708 closed

[2020-05-15 09:35] raviranjan0309 commented on #3742
I tried to troubleshoot that but every time it's trying to find secrets at `/etc/secrets/user-gcp-sa.json ` whereas the default value is `/secret/gcp-credentials/`. I tried to override the parameter but no success yet.

Need experts help to resolve this. Happy to provide any more info.

[2020-05-15 10:28] jonasdebeukelaer commented on #3164
@Bobgy not sure if that question is for me, but yeah would be fine for me, I was just testing that changing service accounts works in a feature I'm working on. So long as it's a little more succinct 😄

[2020-05-15 11:16] ConverJens commented on #1442
Bump this

[2020-05-15 12:24] jlewi commented on #3647
@Tomcli I would suggest opening a specific issue on the client go version and then adding the appropriate pipellines folks to comment on it.

[2020-05-15 15:13] dilip640 commented on #3767
It is fixed. There was a namespace issue.

[2020-05-15 15:13] #3767 closed

[2020-05-15 17:05] dcyoung commented on #1162
Have there been more develops here regarding KFP as the entrypoint, leveraging KFP for ochestration and pachyderm more intentionally for data management? If so, could you point me to relevant examples or documentation?

[2020-05-15 18:53] jdoliner commented on #1162
@dcyoung Pachyderm recently released first class support for kubeflow pipelines. You can read more about it here: https://www.pachyderm.com/blog/pachyderm-1-10-s3-gateway-expansion-brings-support-for-kubeflow/ this allows you to run KFPs from within Pachyderm pipelines which automatically tracks the data's lineage. It also should give you a good general idea of how to get Kubeflow reading data out

[2020-05-15 19:04] dcyoung commented on #1162
@jdoliner thanks for the quick reply and links.

[2020-05-15 20:51] animeshsingh commented on #3647
+1 on above @Tomcli. We can use this as an umbrella issue, and just point to the specific issues from here

[2020-05-15 21:22] Ark-kun commented on #3766
Can you please post the whole PoC? The important part is `affinity_instance_type`.

[2020-05-15 21:36] Tomcli opened #3770 "Upgrade Argo go client to v2.7.5"
We found out that KFP upgraded the Argo version to v2.7.5. Is there any plan to also upgrade the Argo go client for the backend to the same version?

This can also help us solve some client-go dependency issues at #3647

[2020-05-15 21:55] Ark-kun commented on #3770
We would be glad is some Bazel expert can help us upgrade our backend workspace.

I've tried to update it, but got some issues: https://github.com/Ark-kun/pipelines/commits/Backend---Updated-BUILD-files-using-gazelle See https://github.com/kubeflow/pipelines/issues/3461

[2020-05-15 21:56] Ark-kun commented on #3461
This is the branch where I tried to update the workplace: https://github.com/Ark-kun/pipelines/commits/Backend---Updated-BUILD-files-using-gazelle

[2020-05-15 23:07] Ark-kun commented on #3748
I want to note some core KFP aspects:

## Low level = command-line programs, strings and files

On the low conceptual level KFP orchestrates containerized command-line programs. The "command-line programs" is an important part. It helps users understand the limitations and the solutions. KFP does not orchestrate python or Java classes. KFP does not pass in-memory object between running programs. K

[2020-05-15 23:23] animeshsingh commented on #3461
@Ark-kun is there any other Bazel expert on KFP team side ? Having a harder time finding experts on our side, given bazel is very specific to Google - and it seems the current version being very old is blocking us to use Tekton Go modules, as @Tomcli outlined

[2020-05-15 23:28] Ark-kun commented on #3461
KFP Backend build was converted to Bazel by @neuromage . I've assigned him to this issue.

[2020-05-15 23:31] Ark-kun commented on #3748
I think that you do not need kfp.dsl.types to declare your own custom types.
You can use arbitrary type name or type structure (dict). You can even use an object that has a `to_dict` method although we do not support this (but this is how the types in kfp.dsl.types are implemented - they just return dict. That's it.).

KFP already validates the types even before submission.

If both input and outp

[2020-05-15 23:49] Ark-kun commented on #3748
I think it can. You can convert your complex type specifications to a JSON-like structure and use it directly. Even is InputSpec only supported type name (a single string), you could still serialize an arbitrary type specification to that string (e.g. using JSON).

Comments on some of the samples:

[code]

So, what is the resolved command-line supposed to be?

[code]

I'm writing a Java-based comp

[2020-05-16 00:07] animeshsingh commented on #3461
Thanks @Ark-kun

@neuromage please see if you can get this unblocked at your end

[2020-05-16 03:35] savingoyal commented on #3703
@karlschriek Although most of our (metaflow) integrations are with AWS managed services, there is [work underway](https://github.com/freenome/metaflow/pull/2) to integrate with GCP and K8S.

[2020-05-16 05:51] Ark-kun commented on #3742
I've looked at the logs and the fairing code.

I think my solution still stands:

https://github.com/kubeflow/manifests/blob/9e6ef8681003c195560fb7b3b75211830c19b7a0/pipeline/pipelines-runner/base/cluster-role.yaml#L9

The root cause is as I expected: The issue occurs with the pods launched by fairing, not the pods launched by KFP/Argo. This explains why the secret path is different. The reason wh

[2020-05-16 06:04] kumare3 commented on #3703
@jlewi I would definitely be interested  to presenting Flyte at the community meeting. Do you think a general presentation  about Flyte and our design decisions would be good?

[2020-05-16 06:30] Ark-kun commented on #3667
Can you please post a screenshot or an error log.

Also does the component succeed or fail? Can you then pass the data to a downstream component?

[2020-05-16 06:34] Ark-kun commented on #3134
Closing dues to lack of response.
@parthmishra Please reopen the issue if the issue occurs again.

[2020-05-16 06:34] #3134 closed

[2020-05-16 06:36] Ark-kun commented on #2606
Short-term fixed by https://github.com/kubeflow/pipelines/pull/3514
Properly fixed by https://github.com/kubeflow/pipelines/pull/3537

[2020-05-16 06:36] #2606 closed

[2020-05-16 06:41] Ark-kun commented on #1075
What a coincidence
I've just created a workaround component for this. https://github.com/kubeflow/pipelines/pull/3760

[code]

This way you can see the tensorboard even before the training starts.

[2020-05-16 06:53] Ark-kun commented on #3628
Here is a more canonical sample. We advice users to only use VolumeOp and pvolumes feature when absolutely necessary (and it never is necessary, because there is `kfp.onprem.mount_pvc`, `task.add_volume_mount` and `task.add_volume`).

[code]

[2020-05-16 06:59] Ark-kun commented on #3575
JFYI:
I've recently created a workaround component for this. https://github.com/kubeflow/pipelines/pull/3760

You pass a log dir URI through the tensorboard component which immediately provides the visualization and pass the output URI to the trainer which starts writing there, updating the tensorboard.

[code]

This way you can see the tensorboard even before the training starts.

Does this solve

[2020-05-16 07:00] Ark-kun commented on #3628
You could write the checkpoints to a GCS directory. Pass the same URI to both components - one should write, another should read.

[2020-05-16 07:01] Ark-kun commented on #3628
You problem is probably caused by the fact that your volume can only be mounted to a single pod when writing.

[2020-05-16 07:05] Ark-kun commented on #3399
What is the status of "Support GCS-Minio in Standalone CLI & MKP/Hosted"?
Does this feature re-point the [workflow-configmap](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/argo/workflow-controller-configmap.yaml) from Minio to GCS when installed from the Marketplace?
I think this is a pretty important feature. The Minio volume is pretty small and we want the users to b

[2020-05-16 07:06] Ark-kun commented on #3358
I think the users will greatly benefit from this feature.

[2020-05-16 20:18] jlewi commented on #3703
@kumare3 yes. Could you email the mailing list at kubeflow-discuss@googlegroups to coordinate a presentation at an upcoming community meeting.

[2020-05-18 00:55] Bobgy commented on #3667
@sadeel Thanks for the report! Would be helpful if you provide the detailed error message/log of ml-pipeline-ui. This looks like your artifact was successfully downloaded, but UI couldn't handle visualization/showing directory artifact

[2020-05-18 00:56] Bobgy commented on #3667
Actually UI cannot really handle directory artifact as of now.

[2020-05-18 00:58] Bobgy commented on #3667
So, we could either:
1. support directory artifact (I don't find it likely, because the artifact should be tar-gzipped in artifact store, is that right?)
2. have a clear error message, showing directory artifact is not supported by KFP UI and suggest a workaround

[2020-05-18 03:45] Ark-kun commented on #3667
JFYI: Currently some components output directory artifacts. Currently all artifacts are tar-gzipped in the artifact store.

In the future we might want to support"directory artifact preview" feature in the UX that can show the files inside the directory and their sizes (and maybe download links).

[2020-05-18 04:09] Bobgy commented on #3667
For that feature, we'd need to reimplement a folder browser UI. If there's some existing library we can reuse, then it's fine, but otherwise I don't think that's sustainable. That doesn't seem like a core feature of KFP. So I prefer finding a way to integrate with existing UI services that provide such browsing features.

[2020-05-18 05:46] rmgogogo commented on #3575
It can solve the KFP SDK path.
For TFX SDK path, more changes required in TFX SDK side. I think query MLMD to get the Trainer's artifact path is better in that path.

[2020-05-18 05:48] rmgogogo commented on #3399
It's in 0.5.1. (I remember I close this one, maybe we have two ticket on it)

For CLI, it's tracked in another ticket. Here close this one.

[2020-05-18 05:49] rmgogogo commented on #3399
yes, we originally call it "managed storage" (use CloudSQL/GCS for out-cluster storage). It's a feature done before but we didn't enable it for many other auth reasons.

[2020-05-18 05:49] #3399 closed

[2020-05-18 05:51] rmgogogo commented on #3358
"FUSE + GCS as K8s Volume": already be supported.
"used by KFP tasks": already be supported.

The concern is that other team mentioned FUSE is not suggested for production usage, although it can work.

Here close this ticket to treat it as done.

@Ark-kun SG?

[2020-05-18 05:51] #3358 closed

[2020-05-18 06:53] jingzhang36 commented on #3699
Seems that mlpipeline-metrics can be optional and some workflow doesn't have. Therefore, not founding this artifact is not necessarily an error. In the Persistent Agent, we report this metrics without checking if the artifact present and hence this error log.

[2020-05-18 07:01] jingzhang36 commented on #3699
@Ark-kun does component explicitly declare the artifacts they actually produce? Or if an artifact that is marked as optional can be considered not present? Otherwise, we'll keep report metrics in Persistent Agent as a best-effort approach.

[2020-05-18 09:46] yanniszark commented on #3752
@Bobgy thanks a lot!
I may be wrong, but is authorization happening in two places? (apiserver and ui-server)
If yes, is there any plan to consolidate authorization logic in one place?

[2020-05-18 09:51] elikatsis commented on #3628
Hi there! I've got some comments on the previous answers

This is very odd, because you actually say that you advise users to either use a syntax that requires them to learn Kubernetes (`add_volume`, `add_volume_mount`) or one that is going to bug their pipeline if they attempt to mount multiple PVCs on their pods (if they follow your sample and they don't know Kubernetes).
However, isn't the purp

[2020-05-18 09:57] Bobgy commented on #3770
@rmgogogo @jingzhang36 Do you think we can handle this before release of 1.0?

[2020-05-18 09:58] Bobgy commented on #3752
@yanniszark For clarification, authorization logic happens in only one place, the api server. Api server exposes an endpoint that ui-server queries. The usage of the header in ui-server was because ui-server needs to know what header to proxy to api-server, so api-server can authenticate correctly

[2020-05-18 10:24] yanniszark commented on #3752
@Bobgy awesome, thanks a lot for the explanation!
Is the endpoint you're talking about a special endpoint only for the UI-server to use?
Or is the UI-server making requests to the API-Server's usual endpoints on behalf of the user and includes the userid header in them (so requests happen to the usual endpoints)?

[2020-05-18 10:46] Bobgy commented on #3752
@yanniszark It's a special endpoint only for UI-server, because some features (e.g. tensorboard CRUD) is implemented in UI server. We'd want to keep current structure that UI server can implement some UI only apis, so that we don't need to rewrite too much in api server.

[2020-05-18 11:08] sachua commented on #3407
@pvgbabu I just tried Kale, it works with pns executor, but I had to edit the pipeline yaml's access mode from ReadWriteMany to ReadWriteOnce, since PKS doesn't support ReadWriteMany currently.

[2020-05-18 11:09] Bobgy commented on #3733
@areshytko is above workaround good for you?

[2020-05-18 11:22] Bobgy commented on #3731
We'll keep this for tracking

[2020-05-18 12:00] yanniszark commented on #3752
@Bobgy I see. Is this the endpoint you are talking about?
https://github.com/kubeflow/pipelines/blob/1dcea49472e725ab681db3d244d51837e291f5ba/backend/api/auth.proto

It seems like you're implementing a SubjectAccessReview-like endpoint but for the Pipelines API-Server.

[2020-05-18 13:28] jlewi commented on #1223
@Bobgy What are  the remaining kustomize changes needed to make multiuser KFP available on master?

[2020-05-18 13:44] areshytko commented on #3733
Hey @Bobgy. Thanks for the reply.

The thing is not about the convention, the data on the plot is wrong: if sum all targets on the plot you will get: 484+539 as True. And if you do it the original data in the table, you'll get: 539 + 12.

The workaround is confusing for the user because the order of columns in the data and in the provided metadata will differ.

[2020-05-18 15:50] dhodun commented on #1075
Cool! Still curious if we can solve the underling issue so user doesn't have to create a separate step.

[2020-05-18 18:40] neuromage commented on #3461
/assign @Ark-kun

Unfortunately, I don't have cycles to look into this right now. Alexey, since you've already been looking into this, can you try and update our Bazel version and WORKSPACE files?

@animeshsingh @Tomcli we're happy to accept PRs here as well. Bazel is open sourced, and our knowledge is based around OSS-ed documentation, so there's no real advantage here. If there is a configuratio

[2020-05-18 19:24] numerology opened #3779 "[Hosted Pipelines] Deployment fails with `BackoffLimitExceeded`"
### What steps did you take:
- Create a new GKE cluster and deploy KFP 0.2.5 through GKE MKP.

### What happened:
Deployment failed in assembly phase:
[code]

### What did you expect to happen:
Successfully deploy KFP.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
MKP deployment, version = 0.2.5

### Anything else you would like to add:
I believe it's a MKP side regression.
/kind

[2020-05-18 19:25] numerology commented on #3779
/assign @numerology
/assign @rmgogogo

[2020-05-18 19:25] amygdala opened #3780 "should dsl.VolumeOp() create the underlying PV as well as the PVC?"
With an example like [this](https://github.com/kubeflow/pipelines/blob/e8a6feb2299d6adf7ea172ca4c058f99aeb1960f/samples/core/volume_ops/volumeop_basic.py) one (also shown below), would we expect the underlying PV to be created in the process of defining the PVC?  I was assuming that was the case given that the docs don't seem to indicate it's necessary to create separately, and as indicated in [th

[2020-05-18 19:26] amygdala commented on #3780
/assign @elikatsis
(on Alexey's suggestion-- feel free to reassign)

[2020-05-18 20:28] neuromage commented on #3461
@Ark-kun  I took a look at the code again, and it looks like Bazel is no longer required to build API server, since @dushyanthsc removed the MLMD dependency we previously had. I think you can make this a lot simpler by upgrading Bazel to just work for building the protos, and remove it from all other places. Since there is no longer a need to build the C++ dependency anymore, you can just use nati

[2020-05-18 22:18] animeshsingh commented on #3647
Another related issue being tracked for bazel update/upgrade
https://github.com/kubeflow/pipelines/issues/3461#issuecomment-630418188

[2020-05-18 22:21] numerology commented on #3779
Workaround: manually deploy a GKE cluster with older k8s version and deploy KFP to it.

1. Deploy a GKE cluster with k8s 1.14 by running (either in your local machine or cloud shell):
[code]

2. Deploy KFP to "my-kfp-cluster" according to [this guide](https://cloud.google.com/ai-platform/pipelines/docs/setting-up#full-access), from step 8. You need to skip the cluster creation.

[2020-05-18 23:41] jingzhang36 commented on #3164
Seems duplicate of https://github.com/kubeflow/pipelines/issues/3699

[2020-05-19 00:19] Bobgy commented on #3752
@yanniszark yes, that's right. I made a thin wrapper following the same schema, to be compatible with future changes.

[2020-05-19 00:37] Bobgy commented on #3733
@areshytko Thanks for the detailed explanation! I see, that's a bug indeed.

[2020-05-19 00:47] Bobgy commented on #1223
@jlewi Please take a look at https://github.com/kubeflow/pipelines/issues/3241
I have a fork at https://github.com/Bobgy/manifests/tree/kfp-multi-user-master.

[2020-05-19 00:49] Bobgy commented on #3164
@jingzhang36 yes, let's use #3699 to track it
/close
Duplicates #3699

[2020-05-19 00:49] #3164 closed

[2020-05-19 01:29] husamaf commented on #3628
@Ark-kun  I tried digging more into volume-mounting (and Kubernetes, in general), but eventually I gave up.

Yea, I ended up going with this suggestion of yours. I had to refactor my code, but it was not too bad and now it seems to be working fine. Thanks~

[2020-05-19 02:23] raviranjan0309 commented on #3742
It worked for me. I am able to run Kubeflow fairing from Kubeflow pipeline successfully.

Thank you so much for your support and guidance.

[2020-05-19 02:30] Bobgy commented on #3742
@Ark-kun do you think if we need to add documentation somewhere? or we can just close this?

[2020-05-19 02:31] rmgogogo commented on #3779
a patch to existing 0.2.5/0.5.1 is on the way. The 0.5.2 (not released) already has the fix.

[2020-05-19 02:58] rmgogogo commented on #3779
a quick patching is WIP, ETA: as soon as possible.

[2020-05-19 03:46] Bobgy commented on #3693
Updated instructions doc in issue description

[2020-05-19 03:49] akartsky opened #3782 "[AWS SageMaker] Add more unit tests to the components"
Add more unit tests so that the coverage is more than 90%

[2020-05-19 03:59] raviranjan0309 commented on #3742
I would suggest to document it somewhere so that anyone wants to run Kubeflow fairing from Kubeflow pipeline in the future will refer for troubleshooting. Please let me know where to document it.

I would also suggest adding ```list``` in ClusterRole for pipeline-runner that will solve this for everyone. I have raised a PR for this. Please share your inputs.

[2020-05-19 04:22] Bobgy commented on #3545
I tried to reproduce:
1. create a scheduled workflow
2. see scheduled workflow server's logs

Then I tried to give patch and create permissions to the role.
Now I can see some events in scheduledworkflow CR's related events like:
[code]

These permissions don't seem to affect how it works, just for status reporting. I will fix this right now.

[2020-05-19 04:46] Ark-kun commented on #3742
I've opened the issue in Fairing repo https://github.com/kubeflow/fairing/issues/494
Closing this one.

[2020-05-19 04:46] #3742 closed

[2020-05-19 06:19] Ark-kun opened #3786 "Make it easier to run SDK tests in dev environment"
When developing new SDK features the tests are hard to use since they use the installed package, not the local code that you're editing. This is especially problematic when you have multiple working copies and switch between them frequently. It would be useful to change the way the tests import the library code so that they import the code from the same working copy.

[2020-05-19 07:09] #3786 closed

[2020-05-19 11:28] discordianfish opened #3789 "Support updating jobs / scheduled workflows"
Currently there is no way to update an job / scheduled workflow via the pipeline API. The only way is deleting it first, then recreating it. But if there is already a workflow running, it has the scheduledWorkflow as ownerReference set, so the workflow (and all pods it spawned) get deleted. That prevents us from automatically updating the jobs from our workflow repository in CI.

/kind feature
/ar

[2020-05-19 11:31] discordianfish commented on #3789
Dunno about long term plans or general design vision behind the api, but if the right way of adding this is adding a `PATCH /apis/v1beta1/jobs/{id}` route to swagger and add the code to `apply` the changes to the underlying scheduledWorkflow, I can submit a PR for that.

[2020-05-19 14:52] elikatsis commented on #3780
This operation is a wrapper of Argo's `ResourceTemplate` which performs an action on a Kubernetes resource. `VolumeOp` performs a `create` for a PVC.

When creating a PVC, it is assumed that you either have a storage class that can provision PVs dynamically, or that your cluster admin has cut PVs for your PVCs to bind.

To provide an answer to your suggestion of provisioning both PV and PVC:
* Fir

[2020-05-19 14:53] elikatsis commented on #3780
This operation is a wrapper of Argo's `ResourceTemplate` which performs an action on a Kubernetes resource. `VolumeOp` performs a `create` for a PVC.

When creating a PVC, it is assumed that you either have a storage class that can provision PVs dynamically, or that your cluster admin has cut PVs for your PVCs to bind.

To provide an answer to your suggestion of provisioning both PV and PVC:
* Fir

[2020-05-19 18:27] Peilun-Li opened #3790 "Messy UI DAG in complex ParallelFor scenario"
In complex ParallelFor scenario, the UI DAG (specifically the edges) will be messy.

Sample code:
[code]

UI Graph:
![image](https://user-images.githubusercontent.com/11920339/82363593-e43b0600-99c2-11ea-9804-ccceb55d6102.png)

As can be seen the `generate-random-number` makes the top part of UI unreadable.

It's good if we can have some control over the UI through pipeline definition, e.g., a `di

[2020-05-19 18:44] amygdala commented on #3780
Thanks for the quick response. I wasn't sure how the op was expected to work, but it makes sense that it's just a PVC creation given the issues in generalizing and managing the PV setup.

Closing this issue since it's WAI, though perhaps we should document in a bit more detail (cc @joeliedtke )

[2020-05-19 18:44] #3780 closed

[2020-05-19 21:19] anatolyzolotar commented on #2897
Thanks for the fix #3747. We've realized recently that it's necessary for user to be able to copy URL of artifact on Artifacts page or in "Output artifacts" section of "Input/Output" tab on Run Details page (since artifact URL itself is not visible and link that can be copied is to unarchive/download endpoint).
I was about to implement some workaround before I found that PR and I thought that if t

[2020-05-19 22:16] amygdala opened #3793 "FR: auth to hosted KFP endpoint using google application default credentials"
Currently, to connect to the hosted kfp endpoint, it's required that gcloud is installed, or else that a token is passed to the KFP client.
Auth doesn't work via just setting
`export GOOGLE_APPLICATION_CREDENTIALS=/path/to/<gce_service_account>.json`, but it would be very useful if it did.

Note: I thought the following might work (after setting the `GOOGLE_APPLICATION_CREDENTIALS` var) , but it d

[2020-05-19 22:27] numerology commented on #3793
Hi @amygdala

Actually I thought your code snippet should work... What's the error did you get?

[2020-05-19 22:58] amygdala commented on #3793
There were no connection errors, but the response looked like this:
[code]

(I double checked that I did not see the same when testing against the same endpoint, but not setting the token, on a machine with gcloud installed.  This was just to make sure there wasn't something weird about my KFP installation. But with using gcloud, I got the expected content returned).

I wonder if I somehow did som

[2020-05-19 23:34] amygdala commented on #3793
Btw, I wondered if maybe the GCE service account need to also have 'service account token creator' permissions.  I added that permission, but it didn't seem to make a difference. (though again... it's possible I made a mistake somewhere).

[2020-05-19 23:55] numerology commented on #3793
Thanks @amygdala I'll try to reproduce on my end.

In the meantime, can you confirm you granted the project editor role to the GCE SA you're using? The all-none response issue is very likely to be caused by insufficient permission.

[2020-05-20 00:50] Bobgy commented on #2897
@anatolyzolotar Thanks for the suggestion! UI now shows all urls in their complete form. Does it work for your use-case? or do you suggest a copy button is easier to use?

Sounds good to me if we add a copy button. I don't currently have bandwidth to implement that. Can you create an issue capturing the idea? and PRs welcomed

[2020-05-20 03:57] rmgogogo commented on #3779
All done. 0.5.1 is in Hosted. No issue. Here close.

[2020-05-20 03:57] #3779 closed

[2020-05-20 04:00] rmgogogo commented on #3779
BTW: Hosted/GCP 0.5.1 has few big features to be documented soon.
(1) managed storage: use CloudSQL & GCS-minio for storage. So reinstallation is pretty safe.
(2) KFP SDK Cache: if no changes in certain pipeline/step, rerun will use cached data
(3) For new installations, default bucket name is changed to be "projectId-kubeflowpipelines-default". It's detailed in gcp-default-config configmap.

[2020-05-20 04:10] #3545 closed

[2020-05-20 04:38] rmgogogo commented on #3392
CloudSQL/Minio is In 0.5.1.
For Workload Identity support, it won't be handle by MKP. CLI path may handle it. Or following existing document to setup it one-off.

[2020-05-20 04:38] #3392 closed

[2020-05-20 04:49] rmgogogo commented on #2054
My understanding is that we can close this ticket, SG?

[2020-05-20 04:49] rmgogogo commented on #2054
pantheon log link, CMLE link, Dataproc link are all done.

[2020-05-20 04:49] #2054 closed

[2020-05-20 04:57] rmgogogo commented on #3373
All options are ready.
Option-2 can work but not suggested to be used in prod.

[2020-05-20 04:57] #3373 closed

[2020-05-20 07:32] Ark-kun opened #3794 "metadata-grpc-service cannot start in 0.5.1 Marketplace deployment"
metadata-grpc-deployment | Does not have minimum availability

[code]

[2020-05-20 07:32] #3794 closed

[2020-05-20 07:37] Bobgy commented on #3794
@Ark-kun did you accidentally close this, or it was temporal?

[2020-05-20 07:41] Ark-kun opened #3795 "[MKP] Deployment should not use CloudSQL if the DB connection fields are empty"
Currently if you mark the "managed storage" checkbox and click Deploy without filling the CloudSQL fields you get a broken deployment:
[code]

[2020-05-20 07:43] Ark-kun opened #3796 "[UX] Artifacts page should report errors just like the Executions page"
When there is a problem connecting to MLMD the  Executions page shows an error `Error: Failed getting executions: upstream connect error or disconnect/reset before headers. reset reason: connection failure. Code: 14 Troubleshooting guide`. However the Artifacts page does not show any error.

[2020-05-20 07:46] Bobgy commented on #3796
For clarification, are those pages empty? Did artifact page load some items?

[2020-05-20 07:47] Ark-kun opened #3797 "[MKP] Broken bucket name with managed storage: `'%!s(<nil>)-kubeflow-pipelines`"
The issue occurs when you check the "Managed storage" checkbox and just click Deploy.

I expect that the bucket name should be always correct.

`workflow-controller-configmap`:
[code]

The `gcp-default-config` configMap seems to have correct information.

`kubeflow-pipelines-0-5-1-deployer-config`: `values.yaml`:
[code]

[2020-05-20 07:53] Ark-kun commented on #3796
Yes, both pages are empty. The MySQL is broken....

So the issue is only the lack of error.

[2020-05-20 07:58] Ark-kun commented on #3790
Are you sure the removal of the edges will make the UX useful in your case? I think you can try making them invisible by adjusting the styles in the Chrome Dev tools, but I'm not sure it will change much (the edges do not seem to obstruct anything).

[2020-05-20 08:03] Ark-kun commented on #3790
P.S. On an unrelated note: Please try always using components instead of constructing ContainerOp objects manually.

When you do quick iterations, just use `load_component_from_text` and `func_to_container_op`. Both allow you to quickly create reusable `component.yaml` files when you're done debugging.

[2020-05-20 08:08] Ark-kun opened #3798 "[MKP] Allow using GCS Minio Gateway without using CloudSQL"
Currently there is a single "Managed storage" checkbox that redirects MySQL to CloudSQL, not just Minio to GCS.

[2020-05-20 08:21] Bobgy commented on #3796
Thanks for confirmation, I'll leave this to post 1.0 then. These pages need a rewrite, anyway.

[2020-05-20 08:22] Bobgy commented on #3798
Agree, not sure it's because people want to put artifacts on a managed service more. I see more comments in slack asking about artifacts than cloudsql.

[2020-05-20 08:28] Bobgy commented on #3798
but generally, for a production system, I think we should suggest users to use both, even if they originally just want to use gcs

[2020-05-20 08:28] Ark-kun commented on #3798
I might be one of those people =)

CloudSQL changes nothing for me - it's an implementation detail.

But artifact storage means much more. GCS is accessible while Minio's PD is hard to access. Also GSC does not have size limitations. I've seen multiple people on Slack struggling with tracing the artifacts and trying to download them from Minio using the backend APIs. Helping them use GCS might sol

[2020-05-20 08:28] Ark-kun commented on #3798
Of course. For production they should use both.

[2020-05-20 08:31] anatolyzolotar commented on #2897
@Bobgy , yes, complete form of urls will allow user to copy artifact's url (not a link to unarchive/download endpoint) and use it somewhere else for access. (Off topic: can you tell me where I can find any roadmap for 2020 or any kind of release schedule? I couldn't find it anywhere. This fix is crucial for us on this week and, if as far as I understand, we have to the clone repo and build our own

[2020-05-20 08:33] Bobgy commented on #3798
/cc @rmgogogo
I'm not sure we should prioritize this, because it takes really some efforts (it's not easy to add flexible options in manifests).
We may choose to wait until strong user feedback this is necessary.

there's work needed on google cloud platform UI too

[2020-05-20 08:33] Ark-kun opened #3799 "[MKP] gcp-default-config does not have owner reference"
The `gcp-default-config` configMap is not deleted when Pipelines deployment is deleted.

P.S. There is a similar issue with the `webhook-server-tls` secret.

[2020-05-20 08:37] Bobgy commented on #2897
@anatolyzolotar

We do bi-weekly release, and you can get images built for any commit in master in gcr.io/ml-pipeline-test/frontend:COMMIT_SHA.

[2020-05-20 08:39] Bobgy commented on #2897
Thanks for clarifying that. Sounds like a better UX. Of course these are achievable (KFP's UI is implemented with React, so we have all the flexibility here), we'd welcome contributions.

[2020-05-20 08:45] Ark-kun commented on #3798
I think I saw some amount of people in slack having trouble accessing the artifacts. Also maybe some users of VolumeOp are using it because the GCS artifact storage is unavailable to them...

Is it possible to check for empty values?

We could do the following (or is it too complicated)?:
[code]

[2020-05-20 11:41] rmgogogo commented on #3798
@IronPan

I would prefer keep current logic. The DB has values points to minio. I prefer let me work together to provide full-managed-storage.

[2020-05-20 11:49] discordianfish commented on #3405
So this becomes a bigger concern for us. Can I submit a PR that would make the endpoint configurable? At least as a stop gap? It seems like that would be sufficient to allow the frontend to fetch the outputs.
Currently I'm getting:
[code]

[2020-05-20 11:50] rmgogogo commented on #3461
No problem. The major unblocker is removing the TensorFlow WORKSPACE dependency which is already be done before.

[2020-05-20 11:57] rmgogogo commented on #3797
"check the "Managed storage" checkbox and just click Deploy."

Do you mean without fill the CloudSQL instance name? It's expected error if so.

The UI is driven by schema.yaml defined by MKP team. We can't do flexible check there.

Maybe we handle this together with the PR you send which uses CloudSQL instance name to check the input.

https://github.com/kubeflow/pipelines/pull/3800
(I will provid

[2020-05-20 12:02] discordianfish commented on #3405
Hrm actually it looks like I've configured the apiserver already in `/etc/ml-pipeline-config/config.json`:
[code]

[2020-05-20 12:11] DennisVis opened #3801 "[Feature request] Support European regions with Dataflow launch_template"
The Dataflow launch_template component allows for setting a location paramater. This does not work for European regions though.

For supporting more regions the component should switch to the `projects.locations.templates` API endpoint instead of the `projects.templates` endpoint it uses currently.

[2020-05-20 13:03] eterna2 commented on #3405
It is configurable. Frontend UI has a nodejs server which does a few stuff - most of it proxying to ml-pipeline, but artifacts retrieval is done in the nodejs server.

https://github.com/kubeflow/pipelines/blob/master/frontend/server/configs.ts

I am thinking there are many places to config for kfp. Should we have a unified configmap for everything? Or a crd to config the kfp deployment?

[2020-05-20 13:53] discordianfish commented on #3405
Ah thanks! Maybe consider moving this functionality into the apiserver? Seems excessive to have pipelines split into frontend, frontend-server and backend server

[2020-05-20 14:23] Tauranis commented on #1998
Unfortunately, uploading a new version is crashing.

When I run
[code]
It throws `Reason: Internal Server Error`

Currently I'm using Kubeflow deployed at Google AI Platform with `kfp==0.5.1` and  `kfp-server-api==0.5.0`

Does someone else have the same problem?

[2020-05-20 14:39] andreclaudino opened #3802 "proxy-agent `No valid URLs found for zone: southamerica-east1-c`"
### What steps did you take:
I deployed kubeflow-pipelines standalone in private gke following documentation.

### What happened:
The pod proxy-agents keeps `CrashLoopBackOff`, getting logs, I can see the message `ValueError: No valid URLs found for zone: southamerica-east1-c`

### What did you expect to happen:
The pod should run normaly

### Environment:

How did you deploy Kubeflow Pipelines (K

[2020-05-20 14:53] Tauranis commented on #2977
Unfortunately, uploading a new version is crashing.

When I run
[code]
It throws `(500) Bad Request. Reason: Internal Server Error`

The same happens when I use the Python SDK

[code]

Currently I'm using Kubeflow deployed at Google AI Platform with `kfp==0.5.1` and  `kfp-server-api==0.5.0`

Does someone else have the same problem?

[2020-05-20 15:37] numerology commented on #3802
Ah yes... It's likely that inverse proxy does not support South America, yet.

Is it a necessity to deploy clusters over there for you? If so we'll file a FR to inverse proxy team.

[2020-05-20 16:42] numerology commented on #3802
@andreclaudino Below is the currently supported regions.
@rmgogogo I think we need to document that in the website as well.
[code]

[2020-05-20 17:20] Peilun-Li commented on #3790
![image](https://user-images.githubusercontent.com/11920339/82476309-ad2c2980-9a82-11ea-95b3-810a32020155.png)

As an example of not having those lines associated with `generate-random-number` (Of course this code won't work as desired since I remove the usage of op0.output in op1 and op2), but if we can have some control over UI we can achieve both (code logic and UI readability)

[2020-05-20 22:03] amygdala commented on #3793
Yes, it all looks okay (I tried both before and after adding the token creator privs, but it always was a project editor):

![image](https://user-images.githubusercontent.com/115093/82501933-f2fce800-9aaa-11ea-99bb-defcfeea35c0.png)

As far as I know I didn't do anything goofy, so am interested to know if you can repro.

[2020-05-20 22:13] amygdala commented on #3793
do you think maybe it needs to be project owner?

[2020-05-21 00:30] jingzhang36 opened #3805 "User encounters bad request when uploading version"

[2020-05-21 00:30] jingzhang36 commented on #2977
I tested with  kfp===0.4.0  kfp-server-api===0.3.9 and kfp standalone deployment with 0.5.1
By following the example at https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/
I can not reproduce the error.
So that means the API server's feature is fine. Suspecting issues with cluster setting up.
Since this is for feature request and the feature is good per my test, let's close this one an

[2020-05-21 00:30] #2977 closed

[2020-05-21 00:31] jingzhang36 commented on #3805
Context:

From @Tauranis
Unfortunately, uploading a new version is crashing.

When I run

kfp --endpoint <URL> pipeline upload-version -p <PIPE_ID> -v <PIPE_VERSION> ./dist/pipeline.tar.gz
It throws (500) Bad Request. Reason: Internal Server Error

The same happens when I use the Python SDK

import os
import kfp
client = kfp.Client()
client.pipeline_uploads.upload_pipeline_version(<FILE>, pipeline

[2020-05-21 00:32] jingzhang36 commented on #3805
From @jingzhang36
I tested with kfp===0.4.0 kfp-server-api===0.3.9 and kfp standalone deployment with 0.5.1
By following the example at https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/
I can not reproduce the error.
So that means the API server's feature is fine. Suspecting issues with cluster setting up or usage.

[2020-05-21 00:34] jingzhang36 commented on #3805
@Tauranis
Can you provide a little more information to help us investigating?
1. Do you create a pipeline before you creating a pipeline version? Our pipeline version has to be added to an existing pipeline
2. Can you find the ml-pipeline server's log and see what are the errors there which are related to the upload_pipeline_version failure?

[2020-05-21 00:36] Ark-kun commented on #3798
Let's keep the issue open until it's fixed.

[2020-05-21 00:38] Ark-kun commented on #3798
I've updated https://github.com/kubeflow/pipelines/pull/3800 and I think it now fixes all issues relating to CloudSQL. Please take a look.

[2020-05-21 00:58] jbottum commented on #3513
@Bobgy @yanniszark @chensun @jessiezcc @jlewi This feature is scheduled for delivery with Kubeflow 1.1.   Several users asked for it in the latest Kubeflow user survey.   Will this feature be delivered in 1.1?  What is the next step?  Should we set-up a review with users to make sure we are delivering what they expect?  Could we provide a status in the next Community or Pipelines call ?

[2020-05-21 01:13] Ark-kun commented on #3790
In your real scenario, is `parallel_op` the same as you've  posted? Is there a reason for you not to use python's for loop?

I think you'll have the same issue if you pass two sources to many downstream tasks...

[2020-05-21 01:24] Peilun-Li commented on #3790
No it's just a simplified version (to showcase the messy UI). The real scenario will be a dynamic dispatch and run in parallel.

Yeah it will be an improvement if we have some simple control over UI.

[2020-05-21 03:20] jingzhang36 commented on #3805
3. Can you try list pipeline and list pipeline version commands as well? Just want to know if those two work in your setup.
Thanks!

[2020-05-21 04:15] jingzhang36 commented on #3805
BTW, I did another test with kfp: 0.5.1, kfp-server-api: 0.5.0 and kfp standalone deployment 0.5.1
And still able to use upload_pipeline_version

[2020-05-21 04:46] jackwhelpton opened #3806 "Float params auto-converted to scientific notation, render pipeline spec invalid"
### What steps did you take:

Defined a pipeline with float parameters:

[code]

### What happened:

What gets compiled is:

[code]

This pipeline uploads fine, but when executing through the UI we receive:

[code]

If the largest value is used for all three parameters, no conversion occurs and the pipeline executes successfully.

### What did you expect to happen:

Pipeline executes successfully.

[2020-05-21 06:19] Bobgy commented on #3799
also
/assign @rmgogogo

@Ark-kun quick question: does this prevent reinstallation?

[2020-05-21 06:29] rmgogogo commented on #3799
This is by design when providing this feature.
@numerology

The reinstallation still can work and it can help reinstalled one use the previous created bucket.

[2020-05-21 06:29] #3799 closed

[2020-05-21 06:35] Bobgy commented on #3216
@Ark-kun Thanks! I can see new methods in the website now: https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.client.html#kfp-client-experiments

/reopen
to discuss further usability problems

Questions:
* Why does every method have a corresponding method with suffix `with_http_info`? Will users ever need it? e.g. delete_job_with_http_info(id, **kwargs)[source]
* Is there any way we ca

[2020-05-21 07:02] Ark-kun opened #3807 "buildDataprocDeleteCluster - build fails"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/3803/kubeflow-pipeline-mkp-test/1263255652856238081

[code]

For long-term solution we should probably create requirements.in and requirements.txt for every component that has a Dockerfile, so that all versions are pinned.

[2020-05-21 07:08] HongHuangNeu opened #3809 "Pipeline metrics do not show up on UI"
### What steps did you take:
[A clear and concise description of what the bug is.]
I use kubeflow dsl containerOp and I try to show the metrics following
https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/
I generate the metric json following the instructions: write the json file to /mlpipelin-metrics.json and config the ContainerOp like this:
dsl.ContainerOp(
......
     file_outputs={

[2020-05-21 07:25] rmgogogo commented on #3802
+1 for document it in website.
@joeliedtke

I will also send out an email to proxy team on whether flexible to add more region.

[2020-05-21 07:34] Bobgy commented on #3790
@Peilun-Li Thanks for the report!
This seems like a complex case for UI to handle.

A quick idea: does it work for you if we can hide certain nodes and related arrows? I'm not sure there's a more general use-case for this.

Do you have any ideas what generic UI feature will unblock your use-case?

[2020-05-21 08:54] Ark-kun commented on #3809
What are the metric names you're using? The issue is probably fixed by https://github.com/kubeflow/pipelines/pull/3741

[2020-05-21 09:18] elikatsis commented on #3809
Based on your description, @HongHuangNeu
[code]
the name must be `mlpipeline-metrics` instead of `pipeline-metrics`.

I think the docs are incorrect. It doesn't matter what the path is, it's the (artifact) name that matters.

See these:
https://github.com/kubeflow/pipelines/blob/291f5b3d7a23d906d0f8e82e76dc18ef9be36b24/backend/src/agent/persistence/worker/metrics_reporter.go#L30
https://github.com

[2020-05-21 09:35] HongHuangNeu commented on #3809
@elikatsis Sorry, my actual code for op definition is as follows:

`
dsl.ContainerOp(
        ......
        file_outputs={'mlpipeline-metrics': '/mlpipeline-metrics.json',
                               'mlpipeline-ui-metadata': '/mlpipeline-ui-metadata.json'}
        ,
    output_artifact_paths={    'mlpipeline-metrics': '/mlpipeline-metrics.json',
                         'mlpipeline-ui-metadat

[2020-05-21 11:36] anatolyzolotar opened #3812 "[Question] Any way to automatically (by default) add secret to pipeline's pods?"
Hi. I need someone's advice for solving our problem with access to minio artifacts from pipeline pods. I was about to post a question about particular tech workaround, but it's probably better to describe whole case since it seems to me that I might be thinking in a completely wrong direction.

_We want to be able to experiment with individual components of pipeline and provide existing artifacts

[2020-05-21 12:12] Tauranis commented on #3805
I found the error.
I was passing the pipeline name and not the pipeline id.
My bad. Sorry.

For those who  want to get the pipeline id from its name the following will work.

[code]

I'm currently using this for my CI/CD pipeline.

[2020-05-21 12:13] Tauranis commented on #2977
I found the error.
I was passing the pipeline name and not the pipeline id.
My bad. Sorry.

For those who  want to get the pipeline id from its name the following will work.

[code]

I'm currently using this for my CI/CD pipeline.

[2020-05-21 14:03] andreclaudino commented on #3802
Thanks for answering. Yes, we need to use this in South America. We are using Kubeflow in a production cluster with many other applications from our company, it's impossible for us to change the cluster region only to support kubeflow.

What do we needed to support other regions? I look at the file, and there is an standard in filenames, maybe we can just create these entries automatically for all

[2020-05-21 16:15] numerology commented on #3802
Unfortunately I don't think there is an easy way for our customers to make changes to support more regions. Inverse proxy is a managed service hosted as a Google managed service,  the mapping in `https://storage.googleapis.com/ml-pipeline/proxy-agent-config.json` is the list of currently supported GCE regions.

We've filed a FR to inverse proxy team to expand their supported regions. Meanwhile, to

[2020-05-21 16:41] Peilun-Li commented on #3790
@Bobgy Yeah hiding certain node and its associated edges also helps for a better visualization and readability.

[2020-05-21 19:23] Ark-kun commented on #3764
I think we might need this even sooner.

[2020-05-21 20:56] Ark-kun commented on #3809
What happens if you change them to "test-auc-score" and "gbdt-auc-score"?

[2020-05-21 23:24] anatolyzolotar opened #3814 "[BUG] Downloading archived artifacts through UI truncates output file"
### What steps did you take:
Hi everyone. We've found a strange problem that sometimes artifacts cannot be properly opened after downloading through Pipelines UI. One step of our pipeline produces parquet file, which can be opened properly when we download tgz directly from Minio UI and extract it manually by `tar -xzvf <artifact.tar.gz>`.

### What happened:
However, when we click on artifact lin

[2020-05-21 23:48] Ark-kun commented on #3216
That's how the API client in the generated `kfp-server-api`package looks like. Swagger codegen generates those methods.

The documentation reflects the generated `kfp-server-api` package. To change the documentation, the package needs to be changed.

P.S. The docs will look nicer once the swagger-codegen bug fix is merge https://github.com/swagger-api/swagger-codegen/pull/10259

[2020-05-22 00:01] rmgogogo commented on #3793
GCE SA should already have all permissions. Back to you a little bit later after reproduce the issue.
(I may try use GCESA's ADC in a VM)

[2020-05-22 00:42] Bobgy commented on #3764
It is a must have for KFP 1.0, do you mean sooner than that?

[2020-05-22 00:48] Bobgy commented on #3790
Here are some references, PRs welcomed!
Frontend of KFP UI is written with typescript + react.

Frontend contribution doc: https://github.com/kubeflow/pipelines/blob/master/frontend/README.md
The DAG graph component lives in https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/Graph.tsx

[2020-05-22 02:01] HongHuangNeu commented on #3809
It works,thanks!

[2020-05-22 02:02] #3809 closed

[2020-05-22 02:29] Ark-kun commented on #3621
Closing the issue since we've upgraded Argo to v2.7.5

[2020-05-22 02:29] #3621 closed

[2020-05-22 02:34] jednymslowem opened #3815 "[Minikube] webhook-server-tls secret not created"
### What steps did you take:
*webhook-server-tls* secret not created during Kubeflow Pipelines standalone deployment

### What happened:
Cache server got stuck in ContainerCreating state, because of the missing secret

### Environment:
Mac OS, I use minikube cluster bundled with Docker for desktop

How did you deploy Kubeflow Pipelines (KFP)?

[code]

KFP version: 0.5.1

KFP SDK version: not insta

[2020-05-22 02:48] Ark-kun commented on #3621
Remaining issues:

* https://github.com/argoproj/argo/issues/3069

[2020-05-22 02:54] Bobgy commented on #3216
/reopen
@Ark-kun Sorry, I'd want to keep this open until we have a usable end-to-end user journey for understanding how to use generated APIs.

e.g.
[code]
With current documentation, users can sort of find the body param should be of type ApiJob, but the documentation page doesn't have a reference to ApiJob.

`ApiJob` is also importable from users in the package, is it possible to include documen

[2020-05-22 04:08] Ark-kun commented on #3815
Can you please check the logs of cache-deployer?

P.S. Are you able to run any pipelines?

[2020-05-22 04:12] Ark-kun commented on #3814
Can you check the size of the file in the storage so that we can be sure this is the issue in the Frontend and not Argo?

DO you get the same file size every time you try downloading?

[2020-05-22 04:42] Ark-kun commented on #3216
I thought the main issue we were solving was discovery of the auto-generated API of the kfp-server-API package. I agree that we need better docs, but the documentation pages you're seeing just reflect the docstrings of the generated package. You can check that by using `help(kfp.Client().jobs.create_job)`

There would be a link if the parameter had a type annotation, but without the annotation it'

[2020-05-22 06:02] Bobgy commented on #3216
Thanks!

No problem if we don't have the link now, just want to first make `ApiJob` searchable on that page.

[2020-05-22 06:24] anatolyzolotar commented on #3814
Sure. As I said, it has a correct size in Minio UI and I can download it there without any problems.

Yes,

If you mean downloading via MInio UI, file has the same size and it's a correct tgz arhcive.

[2020-05-22 06:40] Ark-kun commented on #3814
I somehow missed "parquet file, which can be opened properly when we download tgz directly from Minio UI and extract it manually by tar -xzvf <artifact.tar.gz>.".

I've assigned the people who know the most about that part of code.

[2020-05-22 06:44] Bobgy commented on #3814
@eterna2 is this related to the endpoint not able to handle binary data?

[2020-05-22 06:55] anatolyzolotar commented on #3814
@Bobgy first I would say "yes", but I tried to download non-archived parquet files via endpoint and everything seemed good. I get this problem when file is tgz. I tend think the the problem is somewhere [here](https://github.com/kubeflow/pipelines/blob/master/frontend/server/minio-helper.ts#L137) in streaming processing of archives. However, it can be not true in general.

[2020-05-22 07:18] #3733 closed

[2020-05-22 07:26] Ark-kun opened #3818 "UX does not show the archived logs in the Logs tab even with ARGO_ARCHIVE_LOGS: true"
Repro steps:

1. Set 'ARGO_ARCHIVE_LOGS: "true"' for `ml-pipeline-ui`
2. Run the preloaded Data passing pipeline and wait until completion.
3. Delete one of the pods
4. Select the corresponding node in the graph and switch to the Logs tab

The pod has archived logs that are successfully shown on the Inputs/Outputs tab.

Log URI: "main-logs
minio://mlpipeline/artifacts/file-passing-pipelines-k6k9w/

[2020-05-22 07:29] HongHuangNeu opened #3819 "ui-metadata fail to show up on UI"
### What steps did you take:
[A clear and concise description of what the bug is.]
The  artifact UI fails to display my inline markdown file. The json definition is as follows:
`{"outputs": [{"storage": "inline", "source": "# TEST AUC:xxxxxx \n\n#GBDT AUC:xxxxxxx", "type": "markdown"}]}`
The file location is
`/mlpipeline-ui-metadata.json`

However, after the execution completes successfully, the i

[2020-05-22 07:31] Ark-kun opened #3820 "[UX] For steps reused from cache, the link to Stackdriver logs should point to the original pod"
It's possible to obtain the original pod name. That pod name should be used to build the Stackdriver query.

[2020-05-22 07:33] Ark-kun commented on #3819
Does your component have an output with the 'mlpipeline_ui_metadata' name?

How did you create your component?

[2020-05-22 07:34] Ark-kun opened #3821 "Fix the documentation about the mlpipeline-ui-metadata"

[2020-05-22 07:36] HongHuangNeu commented on #3819
I used dsl.ContainerOp to create my component. Here are my outputs
` file_outputs={'mlpipeline-metrics': '/mlpipeline-metrics.json',
                               'mlpipeline-ui-metadata': '/mlpipeline-ui-metadata.json'}`

Well, do I need an underscore for the attribute name?

[2020-05-22 07:58] HongHuangNeu commented on #3819
Unfortunately, I change 'mlpipeline-ui-metadata' to 'mlpipeline_ui_metadata' and still 'No output artifacts found for this run.'

[2020-05-22 07:59] tarjintor opened #3822 "Is there any milestone when this project go to stable?"
Hello,I am using pipeline recently,it's great
I used to wrote my own code to solve problems like record experiments,compare a set of exps,make workflow for some indpendent jobs.
A lot of pain for me
Thanks for your great work to help people like me

I want to use this in our production envriment

But as the doc says,pipeline is still in beta status,and the issue milestone only find M-2019Q4

So I

[2020-05-22 08:48] Ark-kun commented on #3822
Thank you for your kind words!

We're currently preparing for the 1.0 release which will become the stable version.

[2020-05-22 09:05] Ark-kun commented on #3819
What do you see on the Inputs/Outputs UX tab?

[2020-05-22 09:12] Ark-kun commented on #3819
The issue does not reproduce for me:

[code]

![image](https://user-images.githubusercontent.com/1829149/82651590-33ef1c80-9bd1-11ea-8aa8-788687e5646d.png)

component.yaml version also worked:
[code]

P.S.

We strongly advice our users to use `component.yaml` format to describe components instead of `ContainerOp`.

[2020-05-22 09:15] Ark-kun opened #3823 "SDK - Fix template name collision"
Error: `invalid spec: templates.my-pipeline.tasks[1].name 'produce-markdown' is not unique`

Repro:
[code]

[2020-05-22 09:29] ConverJens commented on #2670
@Bobgy @Ark-kun  I'm not sure what state this issue is in but I've been running a TFX pipeline on-prem  where the storage solution was to use the kfp.onprem.mount_pvc to mount a volume by specifying a PV and PVC. While this works well for executing the pipeline it also means that the visualization in the Artifacts tab under each pipeline component has the wrong storage path. I.e. the visualization

[2020-05-22 10:07] HongHuangNeu commented on #3819
![kubeflow](https://user-images.githubusercontent.com/5564376/82656717-cf76a080-9c56-11ea-87e3-538ea2325dac.png)

I only see that the json files are uploaded to minio,but nothing is displayed except the metrics.
I used the build from Feb,28,2020. Wondering if that is the issue.

[2020-05-22 10:10] HongHuangNeu commented on #3819
![k1](https://user-images.githubusercontent.com/5564376/82657076-4f046f80-9c57-11ea-9dbb-071951af8962.png)

I only see that the two  json files are uploaded, but not markdown displayed.
I use the build from Feb,28,2020. Wondering if that is the issue.

[2020-05-22 13:38] Rasen-wq commented on #3412
I have a similar problem when using dsl.Condition: I can't access the outputs produced in a condition.
In order to avoid the usage of a volume (where no Artifact is produced), I was thinking about the possibility to make these variables Globally available, with a different way to access them of course. @Ark-kun thoughts on this?

[2020-05-22 15:19] eterna2 commented on #3814
there is an implicit logic in the frontend server in handling tgz.

If it is a tgz, the node server will automatically deflate and return the 1st record in the archive, instead of the actual tarball.

Maybe we shld revisit this logic? Cuz the original use case in the past was most of the artifacts are string-based.

Let me see if I can reproduce this. Parquet > 20 mb?

[2020-05-22 15:23] eterna2 commented on #3818
The configmap for Argo has set archive to true also?

Did the run succeed? Because if the run did not succeed, the workflow status sometimes will not report the artifact location, and in this case the server cannot retrieve the logs unless u setup the default bucket location (there are a few more config where u can declare where the Argo artifacts are located).

[2020-05-22 15:24] eterna2 commented on #3818
But let me test on my machine and see, might be a regression.

[2020-05-22 15:49] jonasdebeukelaer commented on #3789
Hey I've submitted a pr which should make this easy to add via the api https://github.com/kubeflow/pipelines/pull/3788

It's a bit more complete than just patching so metadata and params can be updated too. I have ui changes ready as well, once this gets through.

issue: https://github.com/kubeflow/pipelines/issues/1180

[2020-05-22 16:48] pvgbabu commented on #3407
@sachu my KALE working with PNS executor. Thanks for all your help

[2020-05-22 17:39] talebzeghmi commented on #3703
Mitar Milutinovic suggested [1] looking at https://github.com/openml/flow2

[1] https://gitlab.com/datadrivendiscovery/d3m/-/issues/458

[2020-05-22 18:02] areshytko opened #3825 "[QUESTION] How to add description to a pipeline when uploading it via SDK?"
# Motivation

Uploading pipelines from UI is a very long a laborious process. Uploading pipelines from SDK is quicker and simpler.

# Question

Is there a way to provide a pipeline description when uploading it from SDK. Couldn't find such an option in APIs.

[2020-05-22 19:01] venci6 opened #3826 "Input Artifact Path in Component Spec"
I'm converting ComponentOps to component specs and am having trouble figuring out to specify a path for an input artifact.

With dsl.InputArgumentPath, I was able to specify a custom path to save the input artifact. However in the component spec, the path defaults to: /tmp/inputs/Input_path/data. Is there a way to define this in the component spec?

Previous implementation that worked:
[code]

Cur

[2020-05-22 19:06] Ark-kun commented on #3819
Looks good.
What's on the "Artifacts" tab?

Can you please try the examples I posted so that we can rule-out some causes?

[2020-05-22 19:08] Ark-kun commented on #3818
Yes. (`archiveLogs` is set to `true` by default for the last several releases). As I posted, the logs are uploaded: Log URI: "main-logs
minio://mlpipeline/artifacts/file-passing-pipelines-k6k9w/file-passing-pipelines-k6k9w-3191777755/main.log".

BTW, your great artifact preview feature successfully previews the logs =)

[2020-05-22 19:28] Ark-kun commented on #3826
This is great. I'll be glad to help you with the process.

There is no way to do so for inputs. There is a deprecated-from-start way to specify hard-coded paths for outputs, but not for input paths.

We're discouraging the use of hard-coded paths in component code. There are multiple problems with hardcoded paths related to getting data into container and out of the container. And to avoid those c

[2020-05-22 19:33] venci6 commented on #3826
@Ark-kun Yeah, avoiding hardcoded paths is obviously better, but since it was possible with the dsl code, just wanted to check all bases first. Thanks for the clarification!

[2020-05-22 19:33] #3826 closed

[2020-05-23 00:16] Bobgy commented on #2670
@ConverJens sorry, that's not supported yet.

[2020-05-23 01:53] tarjintor commented on #3822
How will pipeline integrity with kubeflow,It seems kubeflow1.0 uses pipeline 0.25,but you already developed to 1.0 now?
or should I use pipeline alone?

[2020-05-23 05:27] Ark-kun commented on #3822
The KFP "standalone" deployment method lets you install the latest KFP release. We used to have weekly releases, but have switched to bi-weekly.

The KFP "hosted" or "marketplace" deployment sometimes lags a little bit for stabilization. https://console.cloud.google.com/marketplace/details/google-cloud-ai-platform/kubeflow-pipelines

The Kubeflow (kfctl) deployment of KFP is partially maintained b

[2020-05-23 08:17] Ark-kun commented on #3806
Thank you for reporting. I'll fix this bug.

[2020-05-23 08:18] Ark-kun commented on #3825
Thanks for reporting this issue. I've created a fix PR which adds the `description` parameter to `upload_pipeline`.

[2020-05-23 09:25] eterna2 commented on #3818
This is what I found running the data passing pipeline.

1. for ops that has a logs (e.g.  Print Text), argo did not out the logs as artifacts - i.e. if u go to the UI and click on Input/Output, u will not see any `main-log` artifact
[code]

2. for op that actually has no logs (e.g. write numbers) - u can see the `main-log` artifacts
[code]

[2020-05-23 09:31] eterna2 commented on #3818
This is the workflow status

[code]

[2020-05-23 09:34] eterna2 commented on #3818
e.g.
this op (print text) does not have any output artifact at all.

[code]

[2020-05-23 09:43] eterna2 commented on #3818
I tested by adding some print lines to op with outputs, and it works.

So I think what happened was, if the ops has no output at all, the logs will not be archived. Not sure if this is argo default behavior, might need to have a look.

[2020-05-23 09:51] HongHuangNeu commented on #3819
There are no markdowns or charts displayed on  'Artifacts' tab. I will share the images once I am in the office.

[2020-05-23 10:00] jonasdebeukelaer commented on #3711
happy to fix this
/assign @jonasdebeukelaer

[2020-05-23 12:11] jonasdebeukelaer commented on #3711
oh wait is this already done? i.e. just removing 'troubleshooting guide'?

[2020-05-23 17:14] vlagache opened #3835 "I can't mount a volume in my container locally"
### What steps did you take:

Hello everyone ,

I'm starting with Kubeflow and I'm trying to do a simple pipeline. Right now I'm just trying to use a .csv file that's in a volume . I tried to reproduce what I saw here : https://github.com/kubeflow/pipelines/issues/477 , but I use MiniKf where I created a notebook server with a Data-Volume. My csv file is in this datavolume.

[code]

According to t

[2020-05-23 20:10] jhagege commented on #3678
Thanks for the reply, I deployed 1.0.0 with kubeflow deploy on GCP tool.
Any option to deploy 1.0.2 with this tool ?
Thanks.

[2020-05-23 21:35] Ark-kun commented on #3818
Sorry, I should have warned you. Yes, there was a bug in Argo. It's already fixed in the 2.7.5 version that we've recently upgraded to (no formal release yet).

Just to clarify: I'm talking about the case where main-logs artifact exists. I can see it in the Input/Output list and your artifact preview feature shows the beginning of the log. This tells me that the status object is fine.

What is not

[2020-05-24 00:31] Ark-kun commented on #3699
That's true. Only a small number of components produce that artifact.

Maybe we should fix that and check whether the output is present?

[2020-05-24 01:13] #3825 closed

[2020-05-24 03:37] #3822 closed

[2020-05-24 05:50] eterna2 commented on #3818
hmmm I was unable to reproduce the problem. This is exactly what I did.

- deploy manifest for release 0.5.1 (not master because of the wget issue)
- update ml-pipeline-ui deployment with `ARGO_ARCHIVE_LOGS="true"`
- run data-passing tutorial
- randomly delete one of the pods after it completes (so that u can't use k8s api to get the log)
- the logs still show up for my case

strange.

[2020-05-24 06:00] eterna2 commented on #3818
can u help me check the ml-pipeline-ui logs?

if there are errors should show up here. This is when there are no errors, and retrieving from the archives.
[code]

[2020-05-24 08:33] vlagache commented on #3835
I just realized that my pipeline was running in a different namespace than the notebook server (kubeflow and not kubeflow-user). Maybe that's what caused the error? Indeed the pvc doesn't exist in the kubeflow namespace ....But I'm still a little bit lost on how to proceed.  I'm just starting with Kubernetes/Kubeflow and the beginning is quite rough 😄

[2020-05-24 15:33] anatolyzolotar commented on #3814
@eterna2 yes, I reproduced it for this file https://github.com/kubeflow/pipelines/files/4665228/rewritten_baseline_data.tar.gz (I don't think it matters, but before upload it as an attachment, I had to change extension from tgz to tar.gz). Please, try too.

[2020-05-24 17:35] jlewi commented on #3347
@rmgogogo When you say you are using GCP Notebook API as VPC-SC control plane; do you just mean that you are using it to proxy web traffic  to the cluster inside the VPC-SC?

[2020-05-25 01:20] #2670 closed

[2020-05-25 01:29] Bobgy commented on #3711
@jonasdebeukelaer Thanks for offering help!
This still needs to be done.

Some helpful information for contribution:
1. frontend contribution guide: https://github.com/kubeflow/pipelines/tree/master/frontend
2. Banner component (that shows the troubleshooting link): https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/Banner.tsx
3. Run Details Page's log viewer tab's banner: h

[2020-05-25 02:09] HongHuangNeu commented on #3819
![企业微信截图_15903723707301](https://user-images.githubusercontent.com/5564376/82771786-bac12500-9e6f-11ea-996c-00b6c4ed7199.png)
![企业微信截图_15903724619141](https://user-images.githubusercontent.com/5564376/82771794-c0b70600-9e6f-11ea-97d3-05099995cdf5.png)

Here are the screenshot of the tabs

[2020-05-25 02:16] HongHuangNeu commented on #3819
both metrics and ui-metadata are successfully uploaded, but only metrics are displayed.

[2020-05-25 06:21] ConverJens commented on #1442
@Ark-kun Any news on this?

[2020-05-25 07:13] Bobgy commented on #3820
@Ark-kun How do we get original pod name?

[2020-05-25 07:19] Bobgy commented on #3678
@jhagege Did you use https://deploy.kubeflow.cloud/#/deploy?

I'm afraid it only supports 1.0.0, I'd suggest deploying through CLI: https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

It will be relatively easy if you have already successfully deployed through UI, some setups like oauth client id and secret can be the same one as in UI.

[2020-05-25 07:19] Bobgy commented on #3678
Duplicates kubeflow/kubeflow#4803.
/close

[2020-05-25 07:19] #3678 closed

[2020-05-25 07:34] Ark-kun commented on #3820
We could parse if from the `main-logs` artifact URI or we can record that information just like the original start time and end time (I think you've showed a UI screenshot featuring them).

[2020-05-25 07:38] Ark-kun commented on #3819
I remember there was some bug with visualizations, but it seems to be fixed in the current KFP version available with Marketplace and Standalone deployments (0.5.1). I missed the backend version in your first post.

[2020-05-25 07:54] HongHuangNeu commented on #3819
Could you give me the related issue? Are there any workaround for visualization? Just any way to render documents or web pages on Kubeflow pipeline UI would be fine.

[2020-05-25 08:14] Bobgy commented on #3820
@Ark-kun I'm thinking, instead of trying to port over each attribute to cached step. Maybe we should just provide a link to the original step, so the user can check by his/herself

[2020-05-25 08:15] Bobgy commented on #3820
I didn't show a UI screenshot for start time and end time, not sure where the confusion comes from.

[2020-05-25 12:03] #3761 closed

[2020-05-25 13:27] andreclaudino commented on #3802
@numerology, the problem persists if deploying entire kubeflow. In fact, I had many other problems installing kubeflow, then decide use only kfp.

[2020-05-25 20:42] Ark-kun commented on #3835
Your `pip` and `python` point to different environments. It's better to use `python3 -m pip list` to be sure it uses the same environment.

The pvc needs to be in the same namespace as the pipeline.

The easiest way way is to just install KFP from Google Cloud Marketplace: https://console.cloud.google.com/marketplace/details/google-cloud-ai-platform/kubeflow-pipelines

If you're on Windows or Mac

[2020-05-25 20:55] Ark-kun commented on #3835
Can you give us some feedback on how to make the initial experience better?

TBH, You seem to have chosen some pretty hard and rough path to learn KFP: A very specialized installation option (minifk) for a different product (KF vs KFP (yes, I know this is confusing)). Coupled with a very specialized community contrib feature (VolumeOp) based on an advanced Kubernetes feature (PVCs).

The road woul

[2020-05-25 21:07] Ark-kun commented on #3385
Have you tried to make pipeline not use volumes? KFP has data passing support where you do not need to manually mount or download the data.

Please check the following two tutorials: https://github.com/kubeflow/pipelines/blob/fd5778d/samples/tutorials/Data%20passing%20in%20python%20components.ipynb https://github.com/Ark-kun/kfp_samples/blob/ae1a5b6/2019-10%20Kubeflow%20summit/106%20-%20Creating%2

[2020-05-25 21:17] Ark-kun commented on #2320
@ssharpe42 `ResourceOp` (also `pvolume`, `VolumeOp`) are community contributions and may have bugs. It's pretty hard for our team to provide support for it.

When and where (which machine) do you expect that `json.loads` call to be executed?

P.S. Have you just tried to pass `ResourceOp(k8s_resource=str(op_name.outputs["resource_definition"]))` ?

[2020-05-25 22:55] elikatsis commented on #3835
Hello @vlagache!

Thank you for the detailed description in the issue and for using MiniKF.

As you mentioned, the problem is indeed that pods cannot mount PVCs living in different namespaces.

In the latest MiniKF (and KF) release, there is no support for multi-user pipelines, aka pipelines running in the namespace of the user (e.g., `kubeflow-user`). On the contrary, currently all pipelines run

[2020-05-26 00:00] elikatsis commented on #2320
@Ark-kun,
Please feel free to point out bugs that part of the DSL and assign me to them when they appear.
As far as `pvolumes` are concerned, I doubt that they have bugs that are not hidden in `add_volume`, `add_volume_mount`, or the Kubernetes client (while `on_prem.mount_pvc` is error-prone as mentioned [here](https://github.com/kubeflow/pipelines/issues/3628#issuecomment-630074409)).
Of course,

[2020-05-26 00:30] tarjintor commented on #3815
I got the same issue,my logs are
[code]
My k8s cluster already have a prometheus server before I use pipelines

[2020-05-26 00:33] elikatsis commented on #3752
@Bobgy hi!
I found a bug on user id header parsing and opened this PR: kubeflow/pipelines#3842
It would be great if you included it in the main list of this issue, and it would be even greater if you took a look at it :smiley:

[2020-05-26 00:43] eterna2 commented on #3814
I see 2 files inside the tarball.

- ._rewritten_baseline_data.pqt
- rewritten_baseline_data.pqt

[2020-05-26 00:52] Bobgy commented on #3761
Changed kind to feature, because this wasn't implemented at all. #3840 did the first implementation.

[2020-05-26 02:42] eterna2 commented on #3814
I think this is the reason. THere is a hidden file inside ur tarball.

This is a sample code I written, to download ur tarball, extract only 1 parquet, and output as artifact. I managed to download the parquet correctly.

[code]

[2020-05-26 02:44] eterna2 commented on #3814
@Bobgy

Do u think we shld add a new flag `unpack`? If `unpack` flag is provided, we will deflate, unpack 1st record (what we are doing now), otherwise we just return the artifact as is?

[2020-05-26 02:57] rmgogogo commented on #3347
Summarize the info here for external visibility.

1. Current state: it's in phase-1 and done. Currently we don't have plan/resource to continue to phase-2.

2. Currently it is using 'AI Platform Notebooks API' VPC Service Control. So when defining VPC Service Controls, put 'AI Platform Notebooks API' to "Restricted Services", AI Platform Pipelines (Kubeflow Pipelines UI & API) also will be protect

[2020-05-26 02:57] rmgogogo commented on #3347
@jessiezcc @karthikv2k

[2020-05-26 04:11] rmgogogo commented on #3143
The fix #3663 triggered the case that "the KFP hostname can be changed after the proxy-agent got moved to a new VM".

The new hostname should be used for kfp.Client(host=newHostName). It would make user codes be more complex to get a new hostname each time.

A root fix is that we should fix proxy-agent/proxy-server to make sure one K8s cluster only can provide one hostname, even the proxy-agent go

[2020-05-26 06:13] rmgogogo commented on #3802
No cheap option for now. Reply from proxy team is that support a new region requires 2-4 weeks (didn't commit to add southameraca-east1 yet but we can help request if no other options).

To get more background,
any reason why must use southameraca-east1? is it for some legit consideration?

[2020-05-26 06:24] Bobgy commented on #3801
Thanks for the report! PR welcomed if you already know the fix

[2020-05-26 06:31] Bobgy commented on #3805
@jingzhang36 It seems we need to fix the internal server error. It should report we cannot find this pipeline as error messag

[2020-05-26 06:41] Ark-kun commented on #3815
There should be more logs since some service had successfully deployed `cache-webhook-kubeflow`.

Can you please check the previous pods of that deployment?

If that does not work, you can try deleting the `cache-webhook-kubeflow` config object and then restarting the `cache-deployer-deployment-5f94848fd9-xbjws` pod.

[2020-05-26 06:44] Ark-kun commented on #3815
The caching server works as a standalone service. If it's deployed correctly, it will make your pipelines run much faster by skipping already completed steps. If it does not work, your pipelines just run as usual without skipping any steps.

[2020-05-26 07:13] Bobgy commented on #3814
@eterna2 Sounds reasonable for the api.
Which link should we provide on KFP UI then? with `unpack`, is that right? Then how do we guide users to remove the `unpack` flag when downloading the complete artifact?

one idea: without `unpack` flag, if we detected more than one file in the tarball, we should add a warning sentence at the beginning of response that this is not full content?

[2020-05-26 07:27] Bobgy commented on #3812
@Ark-kun @numerology probably knows more. As far I as know, this is not possible now.
KFP sdk is responsible for converting pipeline definition to a runnable argo workflow spec, then the spec will just get run without modification.

An idea to make that possible, let all pods from KFP get a special label added (maybe we can expose configuration to users), so that you can use the PodDefault admissi

[2020-05-26 08:07] Bobgy commented on #3819
@HongHuangNeu Can you open developer tools (usually F12 in browser) first and see if there are any error messages when switching to artifact output page?
Also, can you click the `ml-pipeline-ui-metadata` artifact and check if content is the same as you wrote.

[2020-05-26 08:21] Bobgy commented on #3729
Found a blocker for merging component release + sample release to one commit:
[code]

When building api server, it needs to bake in pipeline samples, but in above described new process. Pipeline samples using the version release tag hasn't been updated yet.

[2020-05-26 09:10] Phelan164 opened #3847 "Minikube ECR: Could not pull image from private repo"
### What steps did you take:
- Install minikube
- Create secret ( kubectl -n kubeflow  create secret docker-registry ... ) for ECR registry
- Follow the sample https://github.com/kubeflow/pipelines/blob/master/samples/core/imagepullsecrets/imagepullsecrets.py
to pull my image from private repo ECR

### What happened:

### What did you expect to happen:
This step is in Pending state with this messa

[2020-05-26 09:55] HongHuangNeu commented on #3819
Yes, here are the error messages:

![error](https://user-images.githubusercontent.com/5564376/82886993-ecbeae00-9f79-11ea-8fc8-7747bb883473.png)

[2020-05-26 10:19] HongHuangNeu commented on #3819
We found the cause: we configure another minio instance for our kubeflow pipeline installation. Somewhere in the pipeline still refer to the default minio installation when fetching the metadata, which causes this bug.

[2020-05-26 11:03] Bobgy commented on #3819
You need to override ml-pipeline-ui's MINIO_SERVICE_HOST and MINIO_SERVICE_PORT env vars to let It point to  the right one.
@HongHuangNeu

[2020-05-26 11:57] tarjintor commented on #3819
hello,I face the same issue
I want to know how can I know I can use these env var to change the ml-pipeline-ui to point to the right one,
I try to inspect the image of gcr.io/ml-pipeline/frontend ,and only env I find are:
[code]
@Bobgy
Maybe the only way is to read source code?

[2020-05-26 12:03] elikatsis commented on #3385
@ethanyanjiali hi!

Based on various samples and use cases, I believe that, ideally, your component should define (and maybe parse) input/output paths as input arguments.
That way, the path can either be `gs://....`, `/my/mount/path`, or anything you desire. Then, you will be able to decide on the fly (when writing the DSL) what to use.

So for the case of a local path usage, you should have a vol

[2020-05-26 13:03] elikatsis opened #3849 "[Multi User] apiserver still requires ML_PIPELINE_VISUALIZATIONSERVER_SERVICE_*"
I'm filing this issue due to this discussion: https://github.com/kubeflow/manifests/pull/1154#discussion_r430105919

### What steps did you take:
Deploy Multi-User KFP based on https://github.com/kubeflow/manifests/pull/1154

[code]

### What happened:
`apiserver` is in a `CrashLoopBackOff` requiring `ML_PIPELINE_VISUALIZATIONSERVER_SERVICE_HOST`

[code]

When MultiUser is enabled, it should be th

[2020-05-26 13:54] tarjintor commented on #3815
I delete cache-webhook-kubeflow and it works,thanks

[2020-05-26 14:29] numerology commented on #3802
@rmgogogo I think @andreclaudino answered a similar question above