[2022-03-22 14:54] StefanoFioravanzo commented on #4197
Hi there! We (Arrikto) had promised we would work on the UI for namespaced pipelines, and we finally did :)

We haven an internal version of the KFP UI which supports both namespaced (private) and shared (non-namespaced) pipelines, with a tab-page approach (See screenshots). We added these tabs to

- the main pipelines definitions page
- the dialog to create a new pipeline [version]
- the dialog t

[2022-03-22 21:41] pwzhong opened #7449 "kubeflow pipeline run in "kubeflow" namespace instead of user namespace"
/kind question

**Question:**
My team has installed kubeflow 1.4 on AKS 1.21 with multi-user mode enabled. When I created a pipeline run in a user namespace, it was run in “kubeflow” namespace, instead of the user namespace.

There is no namespace specified in pipeline yaml, and when a pipeline run is created, it automatically added "namespace: kubeflow" in the pod metadata and run it there, like

[2022-03-22 22:20] dandawg opened #7450 "[sdk] unarchive_run sets run.storage_state to None instead of STORAGESTATE_ACTIVE"
### Environment

*  KFP version:
1.4
*  KFP SDK version:
1.8.11
*  All dependencies version:
NA

### Steps to reproduce

1. Do a pipeline run:
[code]
2. Archive the run
[code]
3. Check that the storage state has transition to STORAGESTATE_ARCHIVED
[code]
4. Now, unarchive the run, and verify the storage state has transitioned to None
[code]

### Expected result

When a run is unarchived, the stora

[2022-03-23 07:24] chensun commented on #4197
Hi @StefanoFioravanzo, before moving on to sending PRs, can you please write a design doc for the proposal, and possibly present it in the Kubeflow Pipelines community meeting? We're going to proposal that going forward any changes that affect user experience should probably go through a design review process. Thanks!

[2022-03-23 16:09] StefanoFioravanzo commented on #4197
@chensun Yes we can do this! I see that the next Europe-friendly KFP meeting is next Wed, March 30th. We could demo our approach during this meeting, and then work on preparing the design doc. Otherwise the next available meeting is on April 27th. WDYT?

[2022-03-23 16:25] StefanoFioravanzo commented on #6429
Hi @chensun ! This discussion is very dear to us, as many of our workflows do require us to run pipelines that declare volumes and use persistent storage. We have seen many customers using this and enterprise use cases. I wouldn't want this discussion to becomes stale.

We have been working with KFP v1 until now but we want to to transition to V2 as well. Can I ask what is the state wrt supporting

[2022-03-23 17:06] chensun commented on #4197
That sounds great. Thanks!
I'm reserving a spot for you on Mar 30, but feel free to change if needed.

[2022-03-23 18:07] mikwieczorek opened #7454 "[feature] Access to ParallelFor values and set_paralellism per Op"
### Feature Area

/area backend
/area sdk

### What feature would you like to see?

I stumbled upon a case where two features could be useful when building dynamically a pipeline that is controlled by some outside config.

### What is the use case or pain point?
Let's say we have a number of datasets and number of models we want to train. Not all models should be run on all datasets, so we use a c

[2022-03-23 18:37] Linchin opened #7455 "[feature] <Description>"
### Feature Area

### What feature would you like to see?

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2022-03-23 19:25] dctelus opened #7457 "[components] google_cloud_pipeline_components JsonArray PipelineParam not resolved/serializable in component"
### Environment

*  KFP version:
Vertex AI on GCP
*  KFP SDK version:
kfp = "^1.8.11"
*  All dependencies version:
google-cloud-pipeline-components = "^1.0.1"

### Steps to reproduce

[code]

Gives this error: `Object of type PipelineParam is not JSON serializable` (but Lists are supposed to be serializable - https://github.com/kubeflow/pipelines/pull/1945)

inp.output does have `.to_struct()`, an

[2022-03-24 10:45] jayaswalayush commented on #7339
Hello @zijianjoy , Any idea by when this issue will be resolved ? If we migrate to KFP v2.0.0-alpha then is this feature supported ?

[2022-03-24 14:19] iuiu34 opened #7460 "[bug] documentation jupyter notebook file missing for google-cloud-component"
In google-cloud-components documentation [link](https://cloud.google.com/vertex-ai/docs/pipelines/gcpc-list) for operator HyperparameterTuningJobRunOp [link](
https://google-cloud-pipeline-components.readthedocs.io/en/google-cloud-pipeline-components-1.0.0/google_cloud_pipeline_components.v1.hyperparameter_tuning_job.html#google_cloud_pipeline_components.v1.hyperparameter_tuning_job.Hyperparameter

[2022-03-24 15:39] dctelus commented on #7457
After further investigation, it seems kfp.v2 does not support PipelineParam json serialization (as implemented here for v1 https://github.com/kubeflow/pipelines/pull/2212). Any plans on supporting this in v2?

[2022-03-24 17:48] droctothorpe opened #7461 "[feature] Programmatically retrieve logs via the SDK"
### Feature Area

/area sdk

### What feature would you like to see?
It would be great if there was a way to programmatically retrieve container logs from the SDK so that users are not dependent on navigating to the GUI to access logs.

I wrote a method to that effect. It extracts the token from the instantiated `Client` and uses it to make an authenticated request to the k8s and minio endpoints o

[2022-03-24 22:48] Linchin commented on #7450
Could you please archive and then unarchive the run on UI and then check the storage_state from sdk, and see if it behaves the same? Thank you.

[2022-03-24 22:54] zijianjoy commented on #7449
Hello @pwzhong , how do you deploy Kubeflow? You are probably installing KFP single-user mode in a full Kubeflow deployment.

[2022-03-24 22:56] Linchin commented on #7437
Could you please discuss the problem in this issue?
https://github.com/kubeflow/pipelines/issues/7445

[2022-03-24 22:58] ji-yaqi commented on #7345
cc @connor-mccarthy

[2022-03-24 23:11] connor-mccarthy commented on #7345
@[skogsbrus](https://github.com/skogsbrus), as a short term fix, can you try adding `"--no-cache-dir"` as the first element in your `packages_to_install` array and see if this resolves the issue for you? I have not tested, but I suspect this might work.

[2022-03-25 00:46] hellobiek opened #7466 "[bug] connect to kfp method KF_PIPELINES_SA_TOKEN_PATH not working"
### What steps did you take

I deployed a kubeflow in multi-user mode.
and now I try to connect to KFP with https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/
I use the PodDefault method, and use the variable of KF_PIPELINES_SA_TOKEN_PATH.

### What happened:

But try failed.
and I clone the source code, but I can not see KF_PIPELINES_SA_TOKEN_PATH in the source code.

### What di

[2022-03-25 08:28] skogsbrus commented on #7345
@connor-mccarthy I'll be setting up a fork shortly to circumvent this issue, I can confirm then.

But AFAIK that won't work either because a non-root user still does not have permission to write to the default install directory unless the image has explicitly been built with this in mind. The reason why my suggested fix works is because it installs to /tmp

[2022-03-25 10:14] skogsbrus commented on #7345
Also note that the warning and error are separate:

Can't write to cache (but not fatal)
[code]

Can't write to install dir:
[code]

[2022-03-25 14:43] #7460 closed

[2022-03-25 17:40] connor-mccarthy commented on #7345
Thanks, @skogsbrus, for clarifying the warning v error. If you manage to remedy this issue, please feel to submit a PR! And perhaps include some notes on pros/cons and alternative solutions considered in this issue to help a reviewer.

[2022-03-27 21:58] votti opened #7474 "[sdk] Error 400 authenticating via Google IAP"
### Environment

*  KFP version:
?
*  KFP SDK version:
1.8.11
*  All dependencies version:
kfp                      1.8.11
kfp-pipeline-spec        0.1.14
kfp-server-api           1.8.1

### Steps to reproduce

I followed the steps described in the documentation to connect to Kubeflow Pipelines in a full Kubeflow deployment with authentication through IAP:
https://www.kubeflow.org/docs/distributio

[2022-03-28 02:35] alexisgaziello commented on #7466
[Temporary workaround](https://github.com/kubeflow/kubeflow/issues/6411#issuecomment-1080029132)

[2022-03-28 03:16] alexisgaziello opened #7475 "[backend] Pipeline fails when adding Outputs"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Deployed latest Kubeflow version following the current master instructions on the [manifest](https://github.com/kubeflow/manifests) page.

*  KFP version:

I'm afraid I cant find the version in "the left side navigation of user interface".
Could it be `build version dev_local`?

<img width="1884" alt="Screen Shot 2022-03-27 at 11 09

[2022-03-28 11:45] blacky-i opened #7476 "[feature] Compare tensorboards output from selected runs"
### Feature Area
/area frontend

### What feature would you like to see?
In kubeflow v1.3 was such feature. On bare metal kubeflow deployment (with local volume mounting for tensorboard, more here [#4208](https://github.com/kubeflow/pipelines/issues/4208)) I had a possibility selected several runs, click compare and in `Metrics` section there was combined tensorboard artifact for viewing. Now this

[2022-03-28 15:23] alexisgaziello commented on #7475
It looks like KFP only supports Datasets that are saved in `gs`, `minio` or `s3`?

In [artifact_types.py](https://github.com/kubeflow/pipelines/blob/1c3e2768e6177d5d6e3f4b8eff8fafb9a3b76c1f/sdk/python/kfp/components/types/artifact_types.py) we can check the following code:

[code]

Note that `get_path` returns None if `uri` doesn't start with one of 3 predefined prefixes, which is causing my error

[2022-03-28 17:43] alexisgaziello commented on #7475
The error was that I was passing an int instead of a string to f.write() ...

[2022-03-28 17:43] #7475 closed

[2022-03-28 18:52] micahjsmith opened #7477 "[sdk] Error with python component with uppercase letters in parameter names"
### Environment

*  KFP SDK version: 1.8.11

### Steps to reproduce

A component with an uppercase letter in a parameter name cannot be called using keyword arguments

[code]

This gives an error:
[code]

### Expected result

The pipeline should compile successfully and `[]` should be bound to the parameter `P`

### Materials and Reference

Current workaround is to make sure all parameters are low

[2022-03-29 00:51] drozzy opened #7478 "ModuleNotFoundError: No module named 'kfp.deprecated'"
Pipelines Version: [1.8.1]
[code]

Following this tutorial:
https://www.kubeflow.org/docs/components/pipelines/tutorials/build-pipeline/#choose-and-compile-a-pipeline

After running this:
dsl-compile --py ${DIR}/sequential.py --output ${DIR}/sequential.tar.gz

I get this error:

[code]

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-03-29 06:07] pyang-aurora commented on #7476
@zijianjoy for viz

[2022-03-29 06:15] pyang-aurora commented on #7476
The issue can be reproduced using a locally deployed KFP infra (with minikube), following documentation under `manifests/kustomize`.
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize#envplatform-agnostic-install-on-any-kubernetes-cluster

We compiled the following pipeline using the latest KFP SDK
https://github.com/kubeflow/pipelines/blob/1.8.1/samples/core/visualization/tenso

[2022-03-29 11:48] eyalcha opened #7480 "Failed to start pipeline"
### Environment

Standalone KFP

Bootstrapper fails when there is python package installed with -e

[code]

Here is the list of packages installed in the docker

[code]

[2022-03-29 12:11] eyalcha commented on #7480
Not an issue of KFP

[2022-03-29 12:11] #7480 closed

[2022-03-29 12:58] MrMwalker2 commented on #3806
Had the same error when I changed the learning rate parameter of my pipeline from 0.0001 to 0.00001. It took me quite a while to realize that this was the cause of the problem.

So 0.0001 works fine, but 0.00001 doesn't.

Using Kubeflow 1.2 on AKS

[2022-03-29 15:29] zijianjoy commented on #7476
Thank you for reporting this bug, can you help me validate that the Tensorboard has disappeared from individual run's visualization too?

On the KFP UI, navigate to `Runs`, select a run with Tensorboard metrics, then click the pipeline step which has Tensorboard metrics on the Pipeline graph. It will open the `side panel` for you, then select `Visualization` to check whether Tensorboard exists.

F

[2022-03-29 15:29] zijianjoy commented on #7476
cc @jiyongjung0

[2022-03-29 15:32] blacky-i commented on #7476
Hello, in individual runs with selected tensorboard output works fine. Viewer created and works fine.

BTW I am using V1_LEGACY mode for pipeline creation

[2022-03-29 16:48] pyang-aurora commented on #7476
I also tried with `V2_COMPATIBLE` compilation mode and got the same result in KFP 1.7.0.
![image](https://user-images.githubusercontent.com/86134397/160663826-4e3bda8f-542a-42b8-90d0-7ce8fe863873.png)

[2022-03-29 16:53] iuiu34 opened #7481 "[frontend] artifacts not compiled in case of an afterwards error"
given the following component
[code]
artifact_url will not be compiled. Event though, the uri declaration is before the code error.
questions
a) would be possible to compile it?
b) would be possible to compile it at execution time, before the component execution finishes?

[2022-03-29 16:53] pyang-aurora commented on #7476
In both `V1` and `V2_COMPATIBLE` versions, there's no tensorboard in pipeline output page.
![image](https://user-images.githubusercontent.com/86134397/160664435-5856b8a6-8170-45de-b86f-5c7da6cdf199.png)

However tensorboard can be found in the visualization component task
![image](https://user-images.githubusercontent.com/86134397/160664577-ea13903b-8349-4007-aaca-d4a378c3a7b1.png)

[2022-03-29 17:38] zijianjoy commented on #7476
The compare-run page is trying to read `metric` field from ApiRun: https://github.com/kubeflow/pipelines/blob/1c3e2768e6177d5d6e3f4b8eff8fafb9a3b76c1f/frontend/src/lib/RunUtils.ts#L141. However, it is actually a backend change which has switched from ReportMetrics API to use MLMD to store visualization. Because of that, the compare-run page stopped working on metrics visualization. We are going to

[2022-03-29 17:39] zijianjoy commented on #7476
cc @chensun for visibility

[2022-03-29 21:05] zijianjoy commented on #7476
I am not super familiar with MetricsReporting part in the backend, I will let @chensun comments on how to support such fix.

[2022-03-30 07:56] zhuyaguang commented on #7478
+1

[2022-03-30 08:22] zhuyaguang commented on #7478
i fix it by  replace "kfp.deprecated" to "kfp".

i think it caused by this PR
https://github.com/kubeflow/pipelines/pull/7291

[2022-03-30 09:59] zhuyaguang opened #7485 "[question] who create the pipeline pods"
when we run the pipeline, in the   namespace "kubeflow-user-example-com" will create pods to exec the pipeline.

my question is ,who create it ?   There is no deploy corresponding to it.

[2022-03-30 12:09] valentindbdg opened #7486 "[Question] Converting TFX Pipeline (.py) to Kubeflow Pipeline (.YAML) for Local Deployment (using UI)"
Hello,

I created a TFX pipeline that I would like to orchestrate with Kubeflow Pipeline UI to do a **local deployment** using `kind`.

I installed and launched the Kubeflow Pipeline UI, but I do not know how to upload my TFX pipeline (.py).
From what I understand I need to find a way to "convert" my TFX pipeline (.py) into a Kubeflow pipeline (YAML file).
Is there a way to do this locally, on my

[2022-03-30 19:24] droctothorpe opened #7487 "[feature] Make log level configurable in the SDK"
### Feature Area

/area sdk

### What feature would you like to see?
Add a `level` or `log_level` param to the `Client` class that defaults to `INFO`, and set the root log level accordingly in the constructor. Something like:
[code]

I'd be more than happy to submit the PR. Already have it running and working locally.

### Is there a workaround currently?
No.

---

Love this idea? Give it a 👍. We

[2022-03-30 20:30] amitchnick commented on #4876
/reopen

[2022-03-30 23:03] nicolaiskogheim commented on #7486
I don't know if this works for TFX (I'm totally new with Kubeflow), but I think you need to either write code in your python file such that it creates a YAML file itself, or you run a compile command.

The code alternative looks like this for me:
[code]
Running that code yields a `yaml` file I can upload.

The [compile with terminal command](https://www.kubeflow.org/docs/components/pipelines/tutor

[2022-03-30 23:41] nicolaiskogheim commented on #7485
I read somewhere that it is a pod that creates your pods, but for all I know it could be Custom Resource Definition stuff. But Kubeflow Pipelines runs on Argo Workflows as the workflow engine, so you might want to Google in that direction.
Otherwise I recommend you hop onto the [Kubeflow slack](https://www.kubeflow.org/docs/about/community/). I've had a positive experience there.

[2022-03-31 03:43] zijianjoy commented on #7445
Hello @bodak , are you using full fledged Kubeflow deployment? That is the only way we can use multi-user mode, where artifact access control is possible.

Also, data access restriction should be enforced on the storage side, by allowing only the selected personnel to download them. If such access control is in-place, UI doesn't need to do anything to disable download. It is because UI only open a

[2022-03-31 05:46] dvaldivia commented on #6517
What needs to be implemented to support this? maybe I can work on that

[2022-03-31 09:05] bodak commented on #7445
Thanks for the explanation! This was for Kubeflow Pipelines only.
Your suggestion makes sense and restriction on the storage side were already implemented.
I'll close this issue.

[2022-03-31 09:05] #7445 closed

[2022-03-31 15:21] alexisgaziello opened #7494 "[feature] allow upload_pipeline_version to create a pipeline with initial version"
### Feature Area

/area backend
/area sdk

### What feature would you like to see?

My understanding is that at the moment, pipelines must be created using the method `upload_pipeline`.

If you create a new pipeline with `upload_pipeline_version` and tag it, for example, as v1.0.0:

[code]

An ApiException (400) is raised:

[code]

### What is the use case or pain point?

We should be able to tag

[2022-03-31 15:50] pwzhong commented on #4569
@pablofiumara Have you successfully set up SSL (using Let's Encrypt) on Azure? I am facing the same problem.

[2022-03-31 15:58] pablofiumara commented on #4569
@pwzhong Yes. I bought a domain on Azure and then installed this https://github.com/argoflow/argoflow-azure (cc @DavidSpek is the owner of that repository) Instructions https://github.com/kubeflow/kubeflow/issues/5976#issuecomment-861650631

[2022-03-31 22:46] ji-yaqi commented on #7474
Hi @votti, feel free to send a PR and we will take a look. If it involves an interface change, we would need a design. Thank you!

[2022-03-31 22:50] ji-yaqi commented on #7481
Hi @iuiu34, could you share more on your compiler mode and version for this code snippet and possibly share more code? Thanks.

[2022-03-31 22:56] ji-yaqi commented on #7478
This is intended since our samples are now based off KFP v2 (main branch). `sdk/release-1.8` contains the v1 specific samples and naming. Please reopen if you have more issues with this.

[2022-03-31 22:56] #7478 closed

[2022-03-31 23:04] juliusvonkohout commented on #4197
We have an implementation that goes way beyond just namespaced pipeline definitions https://github.com/kubeflow/pipelines/pull/7406

[2022-03-31 23:22] juliusvonkohout commented on #4197
I proposed 2022-04-14
[Host] Start [recording](https://drive.google.com/file/d/11E721i9agYsU0JkQGgv76h9yIay9varC/view?usp=sharing)
[juliusvonkohout] namespace isolation for v1 artifacts and pipeline definitions https://github.com/kubeflow/pipelines/pull/7406

But Arriktos approach looks a bit more sophisticated. I hope that they also store the namespaced pipeline definitions in separate mini bucke

[2022-04-01 01:13] ra312 commented on #3711
closing since the issue has been reported as fixed in https://github.com/kubeflow/pipelines/pull/3848

[2022-04-01 01:13] #3711 closed

[2022-04-01 06:03] grapefruitL opened #7503 "[question] How to get around pulling busybox image?"
I'm now using kubeflow pipeline in a local environment which has no network I have wrote a pipeline with only one components, I have build the image for it but the pipeline always fail, because it fails to pull the busybox image from internet(gcr.io/google-containers/busybox) .
I have two questions:

1. why does kubeflow pipeline always pull the image "busybox" ?
2. how can I solve it ?

I have pu

[2022-04-01 08:48] StefanoFioravanzo commented on #4197
@juliusvonkohout Hi!

Thanks, I do like our approach on the frontend, I think it has a better UX. Where is the design issue about how you are implementing artifact isolation?

[2022-04-01 09:45] juliusvonkohout commented on #4197
Hello,

I do not care about the webdesign that much. If your webdesign is supported and is better that is the way to go. I give a shit about developer pride and who gets the credit, but I care about enterprise readiness and security. This is what the "just namespaced pipelines UX" will be most likely lacking.

The "design proposal" is here https://github.com/kubeflow/pipelines/pull/7219#issuecomme

[2022-04-01 11:53] skogsbrus commented on #7345
I've got a fix for this now, but I'll need to go through an approval process at work due to the CLA before I can contribute.

[2022-04-01 12:04] Sharathmk99 opened #7504 "[feature] Integrate withSequence loop with Kubeflow SDK"
### Feature Area

/area sdk

### What feature would you like to see?

Loop feature with sequence will help to have better integration when user needs to create n number of identical steps using count number.
For example, we run hyperparameter search and need to run n number of agents. With the current implementation of ParallelFor it can't be accomplished

### What is the use case or pain point?

[2022-04-01 13:49] StefanoFioravanzo commented on #4197
@juliusvonkohout Thanks for the explanation. I agree with you points, but I think that we should address artifact isolation and pipeline definition isolation as two distinct efforts that go in parallel. Yes the former includes the latter in some sense, because of the way pipeline definitions are stored. So let's say that on the one hand there is the artifact proposal, and on the other the API and

[2022-04-01 14:19] juliusvonkohout commented on #4197
@StefanoFioravanzo  I think there is enough discussion in all those issues regarding the different approaches. You need the separate buckets for proper pipeline definition separation. Otherwise you have to store them completely in the MySQL database.

The most important thing is to get someone with /LGTM and /approve permissions on board and merge it in time for Kubeflow 1.6. @Bobgy  told me that

[2022-04-01 17:21] ji-yaqi commented on #7477
Hi @micahjsmith, we do check for namings due to Kubernetes requirements (https://kubernetes.io/docs/concepts/overview/working-with-objects/names/) and https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/. Let me know if this explains your questions.

[2022-04-01 17:28] ca-scribner commented on #4197
I'm new to this scene so not sure what the standard is, but [this](https://docs.google.com/document/d/1r7XKNncJ6du1EnX3iiUqOJXMMA2nvoXXUarOXe_sm1o/edit?resourcekey=0-pGC-6oMc2Iog5hKW1eJHAA#) was a (unrelated) design proposal that was pitched in the last meeting.  Something like that (not necessarily as detailed) that gives a snapshot of what is currently being proposed (without people having to pi

[2022-04-01 19:14] iuiu34 commented on #7481
I run it in google-cloud vertex. Using google-cloud-aiplatform. But seems to me more a kfp general problem. Or is not the case?

kfp==1.8.11
google-cloud-aiplatform==1.10.0
from google.cloud import aiplatform

[code]

[2022-04-01 21:18] StefanoFioravanzo commented on #4197
@ca-scribner I completely agree! There are two orthogonal discussions that can be carried on separately. We will be following up with a design doc for namespaced pipelines definitions very soon.

[2022-04-01 21:49] juliusvonkohout commented on #4197
The file you linked is not publicly available. I can rewrite the design proposal and make a diagramm if that is what you need.

[2022-04-01 21:58] ca-scribner commented on #4197
Sorry, I believe it is accessible if you join the kfp Google group but I
might be wrong about that. It was a pretty standard design doc with a few
explanations and user stories, etc.

On Fri, Apr 1, 2022 at 17:49 juliusvonkohout ***@***.***>
wrote:

[2022-04-01 22:07] juliusvonkohout commented on #4197
Yes , I can acces it after joining the group. I will try to make a proposal during the next week.

[2022-04-02 02:44] zhuyaguang commented on #6620
if the data is too big ?

[2022-04-02 03:22] yiyuanyu17 opened #7512 "kubeflow pipeline add support of postgresql"
### Feature Area

### What feature would you like to see?

kubeflow pipeline add support of postgresql

### What is the use case or pain point?

for some case , we can not use mysql for kubeflow pipeline , hope kubeflow pipeline can add the suppoort of postgresql

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2022-04-03 01:52] drozzy commented on #7478
I don't understand what you mean.
Shouldn't following the guide not generate errors? Because I did everything that was in the guide as far as I recall.

[2022-04-03 01:53] drozzy commented on #7478
It installed `Pipelines Version: [1.8.1]` following the guide. I.e. I didn't choose some specific version to install.

[2022-04-03 02:29] dewnull commented on #4440
Following the instructions [access Kubeflow Pipelines from inside your cluster]( https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#multi-user-mode) solved my issues.

1. Created a PodDefault in the namespace you want to access the pipeline
2. Created a new notebook server
    - Selected **Allow access to Kubeflow Pipelines** under **Configurations**

<details><summary>PodDefault

[2022-04-03 17:31] jszendre commented on #7485
When using Argo, it is the Argo controller that spins up pods and monitors them while executing the DAG.

[2022-04-04 17:36] zijianjoy commented on #7444
cc @jlyaoyuli

[2022-04-04 21:27] #7477 closed

[2022-04-05 01:59] pwzhong commented on #6839
@holadepo have you fixed the problem? I am facing the same issue.
@lightning-like  Could you explain a bit more what istio changes you made?

[2022-04-05 09:26] holadepo commented on #6839
I have not fixed it yet. Please let me know if you have a fix

[2022-04-05 15:47] juliusvonkohout commented on #4197
What do you think about the following design proposal https://docs.google.com/document/d/1DVHbT1RIv_VaIzWz77YCBYlBX7WEMW61AAm-ZHdWZFU/edit?usp=sharing ? Should i present it at the community call in 9 hours?

[2022-04-05 16:46] james-jwu commented on #4197
The next KFP community meeting is on 4/13 5:30PT. (The meeting you were looking at is probably the Kubeflow community meeting on 4/5)

[2022-04-05 16:49] mrjgamble opened #7523 "[bug] cannot use component outputs in importer_node.importer metadata"
### What steps did you take

I have a custom model building pipeline in Vertex AI.  After my model trains, i'd like to create a Vertex AI model using ModelUploadOp.

I've noticed that the ModelUploadOp now requires you to create an UnmanagedContainerModel first, and this is where i've encountered my bug.

For a simple example, say I want to
* create a .mar file (for purpose of serving in TorchServ

[2022-04-05 19:29] juliusvonkohout commented on #4197
I hope you can see that
![image](https://user-images.githubusercontent.com/45896133/161833438-4db7f9aa-aa09-485d-8c52-b6cfac6e8718.png)

Maybe the one day off is the European time difference.

[2022-04-06 07:07] hsinhoyeh opened #7525 "[backend] health service response should be consumed by application/json not text/plain"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? install via kubeflow manifest with version v1.4
*  KFP version: v1.7.0
*  KFP SDK version: v1.7.0 (golang version under backend/api/go_http_client)

### Steps to reproduce

1. start pipeline backend api server by listening port 8888
2. sent http request with swagger generated code stub with the following code example

[code]

3. When

[2022-04-06 23:43] james-jwu opened #7528 "Adapt API integration test to run in full Kubeflow"

[2022-04-07 07:36] narijeong commented on #6922
I'm having the exact same error, can you mind elaborating what your issue was?

[2022-04-07 07:53] zhuyaguang commented on #7503
+1
i have specify the base image : zhuyaguang/pipeline:v4,but it   always pull busybox

<img width="502" alt="image" src="https://user-images.githubusercontent.com/8857976/162148571-8ae96a66-d8fd-4bbb-af21-71aefdfcc547.png">

What's even weirder is that it's random

[code]

[2022-04-07 08:31] StefanoFioravanzo commented on #4197
@chensun @james-jwu @zijianjoy Following up from our discussion about namespaced pipelines during last week's community meeting, here is a design doc that details our proposal: https://docs.google.com/document/d/1fM4y2L1IVqVj-iiNjYFRRktdCh7FQXgU2XpaYLaqt-A

Note that this doc is about supporting uploading and viewing namespaced pipeline definitions. Dealing with artifacts isolation is **not** part

[2022-04-07 08:50] juliusvonkohout commented on #4197
I had to request access, are you sure that is is properly public?

[2022-04-07 14:48] iuiu34 opened #7529 "support for List[str|int|float] and Dict[str,str|int|float] in py-func components"
if i want to pass a dict as an arg to a py-func component i have todo something like
[code]

Could kfp give support to Dict[str,str|int|float] and List[str|int|float]?

So `eval` is handled natively by kfp, and previous code can be simple written as

[code]

[2022-04-07 21:22] StefanoFioravanzo commented on #4197
@juliusvonkohout Indeed I had pasted the wrong link, sorry for that. I amended my comment above. Here is the correct link again https://docs.google.com/document/d/1fM4y2L1IVqVj-iiNjYFRRktdCh7FQXgU2XpaYLaqt-A/edit?usp=sharing&resourcekey=0-kd5loyP7w3PBD0ug6ECmLQ

[2022-04-07 22:40] zijianjoy commented on #7485
Hello @zhuyaguang , please confirm if the answers from @jszendre sound good to you. Feel free to reopen this issue if not.

[2022-04-07 22:40] #7485 closed

[2022-04-07 22:46] zijianjoy commented on #7504
Hello @Sharathmk99 , currently this feature is not on our roadmap. Keeping this feature request open to collect more upvotes. We need a proper design if we want to support this feature.

[2022-04-07 22:53] zijianjoy commented on #7512
Hello @yiyuanyu17 , can you help us understand what is the reason of not being able to use mysql? And do you want to use postgresql within cluster or outside the cluster? Or are you looking for a way to configure postgresql as an alternative of cloudsql?

[2022-04-07 22:59] zijianjoy commented on #7523
/assign @chensun

[2022-04-07 23:00] zijianjoy commented on #7525
@hsinhoyeh Thank you and we are happy to review the patch PR from you. cc @chensun

[2022-04-07 23:03] zijianjoy commented on #7503
/assign @chensun

[2022-04-07 23:07] connor-mccarthy commented on #7504
@Sharathmk99, this may work as a workaround if the iterable is known at compile-time:

[code]

[2022-04-08 08:23] juliusvonkohout commented on #4197
This looks very good. I hope you can merge it soon. The sooner it is merged, the sooner we can modify it for minio namespace isolation.

[2022-04-08 08:33] StefanoFioravanzo commented on #4197
@juliusvonkohout Thanks for the kind words. Let's wait for feedback from the KFP folks :)

[2022-04-08 12:40] yiyuanyu17 commented on #7512
hello, we use kubeflow pipeline for AI model training in our platform. In the process of privatization delivery, some customers explicitly require that self built MySQL is not allowed, and the PostgreSQL provided by the customer side must be used. Therefore, our applications are modified into ORM framework to adapt to different database types. However, it is noted that the kubeflow pipeline server

[2022-04-08 15:55] Sharathmk99 commented on #7504
@connor-mccarthy Integration data is know runtime only from previous step.
Thanks for the suggestion. For now, I have added one extra step to take sequence number as input and output the list of sequence number length

[2022-04-08 18:30] zijianjoy commented on #7512
Thank you for the info, @yiyuanyu17 . I will keep this issue open so people can upvote if they are also interested in this postgresql support. People can create overlay which connects to postgresql but such support is not available in this repo yet.

[2022-04-09 03:57] lynnmatrix commented on #6986
@frederikfab  I created a new project [kfp-local](https://github.com/lynnmatrix/kfp-local) for the local client v2.
@chensun Is it necessary to merge it into kfp sdk?

[2022-04-10 11:20] zygm0nt opened #7540 "[feature] Exposing experiment name as a macro."
### Feature Area

/area frontend
/area backend

### What feature would you like to see?

When in pipeline code I can use macros like {{workflow.annotations.pipelines.kubeflow.org/run_name}} or {{workflow.name}} to get those values, and potentially use them in some context, eg. passing to some component.

What I'd like to do is get current experiment name, that the run is assigned to. I'd like to p

[2022-04-11 08:10] JeremyKeusters opened #7541 "[feature] Set artifact name when using kfp dsl.importer"
### Feature Area

/area components

### What feature would you like to see?

I opened a [question on Stack Overflow](https://stackoverflow.com/questions/71763407/set-artifact-name-when-using-kfp-dsl-importer) about this, but since no-one answered on there, I figured that this is probably something that is not possible yet and thus rather a feature request.

When importing an artifact using the kfp

[2022-04-11 20:48] greggdonovan commented on #5087
@chensun We're running into this issue trying to compile our KFP pipeline with Bazel. Have there been any updates or is there a workaround we might try?

[2022-04-12 00:45] ra312 commented on #4543
/reopen

[2022-04-12 00:48] ra312 commented on #4543
Hello everyone,
If you have lots of ml artefacts with different types, you might want to pass them all as key-word argument list to the pipeline to be consumed in the components.
It would be great if we can introduce a change allowing to pass **kwargs: <type> to the pipeline function

[2022-04-12 15:30] cristifalcas commented on #5087
This error comes from 2 things:
- rules_python adds an [`__init__.py`](https://github.com/bazelbuild/rules_python/blob/888fa20176cdcaebb33f968dc7a8112fb678731d/python/pip_install/extract_wheels/lib/namespace_pkgs.py#L73-L85) for each module
- `kfp` module depends on [kfp-pipeline-spec](https://pypi.org/project/kfp-pipeline-spec/#files), which has a folder `kfp`

Rules python will make that `kfp` f

[2022-04-12 16:13] juliusvonkohout commented on #4692
yes, you should provide the pipeline to reproduce the issue.

[2022-04-12 16:19] pyang-aurora commented on #5087
Given that the original goal for adopting namespace package style is to ensure the protobuf generated python modules can be accessed under the same kfp namespace, would it be possible to bundle them at release time?

[2022-04-12 17:01] juliusvonkohout commented on #4790
maybe we should use a proxy as it is done for katib-mysql and katib-db-manager.
https://github.com/google/ml-metadata/issues/141 suggests that we just have to add a namespace/profile/user column and filter by it

[2022-04-13 04:34] hsinhoyeh commented on #7525
Hi, @zijianjoy I have sent my PR here https://github.com/kubeflow/pipelines/pull/7532 thanks. also cc @chensun

[2022-04-13 09:34] zhuyaguang commented on #7503
![image](https://user-images.githubusercontent.com/8857976/163146358-ca452fde-9996-476c-8f34-01ca46094d43.png)

I found it

[2022-04-13 14:16] axeltidemann commented on #4692
The pipeline has since been removed, if I click on pipeline details I get an error message.

![Screenshot 2022-04-13 at 16 09 33](https://user-images.githubusercontent.com/6352118/163199451-506d9eb4-a647-4e20-a757-8acaf274eb3f.png)

The YAML file is there though, would you like me to paste that?

![Screenshot 2022-04-13 at 16 16 16](https://user-images.githubusercontent.com/6352118/163200879-d2767

[2022-04-13 17:17] #7132 closed

[2022-04-13 20:48] juliusvonkohout commented on #4692
You just need to provide whatever is needed to reproduce this issue with the LEAST effort. This would be a Minimalistic yaml file. If you are using dangerous insecure stuff as for example root containers  or the docker instead of the emissary executor I will not be able to help you at all. Because in our enterprise environments such stuff is strictly forbidden. In this case you need to ask other p

[2022-04-14 01:10] juliusvonkohout commented on #4692
It does seem to work with my own simple pipeline if I get imagepullbackoffs

![Bildschirmfoto vom 2022-04-14 03-04-02](https://user-images.githubusercontent.com/45896133/163294334-8261b68c-cbec-4beb-a61b-f7443245fd08.png)
![Bildschirmfoto vom 2022-04-14 03-04-28](https://user-images.githubusercontent.com/45896133/163294336-e48f156e-5e3f-46d5-a4eb-d3c149bc2999.png)
![Bildschirmfoto vom 2022-04-14 0

[2022-04-14 10:17] ConverJens commented on #6517
@dvaldivia It would be awesome if you could look into this! Ping @Bobgy

[2022-04-14 10:23] ConverJens commented on #7486
@nicolaiskogheim  @valentindbdg  No, thats not how you do it. TFX has it's own set of tools for compiling a pipeline into a kfp pipeline def. See this example: https://github.com/tensorflow/tfx/blob/master/tfx/examples/penguin/penguin_pipeline_kubeflow.py#L401

[2022-04-14 10:49] juliusvonkohout commented on #4197
I have tried to incorporate some answers to the questions in the community meeting and enabled commenting. You can also reach me via slack.

[2022-04-14 10:52] ConverJens opened #7561 "[backend] V2 pipelins can't save numpy files using Output[Dataset] notation"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Bundled with KF 1.5
*  KFP version:
1.8.1
*  KFP SDK version:
1.8.12

### Steps to reproduce

Create a simple component that saves a file in numpy format using the v2 artifact notation `Output[Dataset]`:

[code]

### Expected result

File should be saved succesfully

### Materials and Reference

Logs from component execution:

[code]

[2022-04-14 10:52] ConverJens commented on #6451
@Bobgy https://github.com/kubeflow/pipelines/issues/7561

[2022-04-14 11:56] Bobgy commented on #6517
/assign @chensun @zijianjoy

[2022-04-14 11:57] Bobgy commented on #6451
cc @chensun @zijianjoy

[2022-04-14 14:47] difince commented on #7169
Based on @Bobgy proposal in this issue, Anna @annajung and I created a proposal [document](https://docs.google.com/document/d/19OfU-hIsY4xBKA6b_F3dYIbSgrLMrVshucUSsyqotQ4/edit). It contains specific APIs changes we are proposing in order to remove `resource_references` from the APIs. Please comment or ask questions in the document or here in the issue. Hope we will bring the proposal up for discus

[2022-04-14 17:04] dandawg commented on #5673
I'm working for an enterprise client that is very interested in this issue being resolved. They're in a sensitive data industry, and they are a major target for fraudsters. Hence, they have a need for tight security, and they have a policy of not allowing Kubeflow to run containers as root. Resolving this would allow them to use kubeflow pipelines native artifacts, rather than writing their own de

[2022-04-14 22:37] connor-mccarthy commented on #7540
/cc @chensun WDYT?

[2022-04-14 22:39] connor-mccarthy commented on #7541
/assign @chensun

[2022-04-14 22:46] connor-mccarthy commented on #7529
@iuiu34 Are you looking for `Dict[str, str]` and/or `Dict[str, int]`? Or `Dict[str, Union[int, str]]`?

The former is currently supported in V2, while the latter is not supported in all cases.

[2022-04-14 22:53] connor-mccarthy commented on #7503
This is resolved in KFP V2, as we do not require a cache image.

In V1, you can change this `cacheImage` to another image in your local network.

[2022-04-14 22:53] #7503 closed

[2022-04-15 03:33] yangyang919 opened #7568 "[backend] Cannot create new pipeline or upload new version to existing pipelines"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? Full deployment
*  KFP version: 1.6
*  KFP SDK version: 1.6.0

### Steps to reproduce

Previously, everything looks fine. But all of a sudden, couldn't upload pipelines or create pipelines either from UI or from cli. The error messages are like follows:
Upload version to existing pipeliens:
[code]
Create new pipelines:

`E0415 03:30:

[2022-04-15 04:10] andreclaudino commented on #7561
I am experiencing the same problem, in version kfp sdk version 1.4.0 it worked fine.

My component code is this:

[code]

My output is similar to @ConverJens's output:

[code]

[2022-04-15 04:59] andreclaudino commented on #4713
@Ark-kun , you sugested using `create_component_from_func`, but it doen't allow creating components from containers in other technologies than Python, what in my openion is a great feature of Kubeflow, which is being lost when breaking ContainerOp.

[2022-04-15 05:44] haoxinst commented on #651
@chensun is this has been designed? or you guys are open to a community design proposal?

[2022-04-15 06:56] iuiu34 commented on #7529
i'm looking for `Dict[str,Union[str,int,float]]` and `List[Union[str,int,float]]`.

about `Dict[str, str]` support, how it works? I'm working with kfp==1.8.11, and following code
[code]

raises error
[code]

[2022-04-15 07:39] ra312 commented on #4543
I researched into it, and google.cloud.aiplatform project allows to pass pipeline_params as a dictionary. So I am closing the issue.

[2022-04-15 07:42] ra312 commented on #4543
from google.cloud import aiplatform as aip
from kfp.v2 import compiler  # noqa: F811
package_path = "my_custom_pipeline.json"
compiler.Compiler().compile(
    pipeline_func=my_custom_pipeline, package_path=package_path
)

pipeline_params = dict(
    message="let us do machine learning",
    tf_model_gcs_file=(
            "gs://my-bucket/"
            "artifacts/main_model/eng_model.h5"

[2022-04-15 21:12] zijianjoy commented on #7444
This PR can help validating the change: https://github.com/kubeflow/pipelines/pull/7570

[2022-04-15 21:16] zijianjoy opened #7571 "Take a yaml format for pipelineSpec to submit them from UI to backend"
# Problem

Support functionality to submit a pipeline template to backend, either from URL or a local file.

# Materials

A list of sample pipelines are stored in https://github.com/kubeflow/pipelines/tree/master/sdk/python/kfp/compiler_cli_tests/test_data.

# User journey

1. Create a new Pipeline, select to upload from local folder. Successfully create a pipeline entity which is shown on Pipelin

[2022-04-15 21:24] zijianjoy commented on #7444
Unit test: Update tests accordingly for new yaml format: https://github.com/kubeflow/pipelines/tree/master/frontend/src/data/test

[2022-04-15 21:26] zijianjoy commented on #7571
/assign @jlyaoyuli

[2022-04-16 07:44] Shuai-Xie opened #7573 "[backend] Can't run a data-passed pipeline many times with the same pipeline function name. Error: This step is in Error state with this message: Error (exit code 1): key unsupported: cannot get key for artifact location, because it is invalid"
### Environment

* Kubeflow Pipelines Standalone on a local cluster.
* KFP version: 1.7.0
* KFP SDK version: 1.8.2

### Steps to reproduce

Dear developers, I try to run the same pipeline many times with different arguments, which are `line` and `count` in the following official `data_pass` example.

In the beginning, the **main pipeline function** is named `pipeline_func`. And the pipeline runs s

[2022-04-17 12:01] iuiu34 commented on #6681
are plans to support this? or is explored in another ticket?

[2022-04-18 10:53] abdullah-saal commented on #7283
Having the same issue, just want to try some mock data, getting the same error. still no solutions?

[2022-04-18 17:25] IronPan commented on #7234
This is now fixed, and the output is emitted as expected. Please reopen if this still happens.

[2022-04-18 17:25] #7234 closed

[2022-04-18 17:27] #5279 closed

[2022-04-18 17:27] #5422 closed

[2022-04-18 17:27] #5441 closed

[2022-04-18 17:27] #5380 closed

[2022-04-18 17:27] #5373 closed

[2022-04-18 17:27] #5372 closed

[2022-04-18 17:27] #5166 closed

[2022-04-18 17:27] #5404 closed

[2022-04-18 17:27] #5037 closed

[2022-04-18 17:27] #5425 closed

[2022-04-18 17:27] #5193 closed

[2022-04-18 17:27] #3996 closed

[2022-04-18 17:27] #5221 closed

[2022-04-18 17:27] #5155 closed

[2022-04-18 17:27] #5348 closed

[2022-04-18 17:27] #4555 closed

[2022-04-18 17:27] #5305 closed

[2022-04-18 17:27] #5328 closed

[2022-04-18 17:27] #5307 closed

[2022-04-18 17:27] #5276 closed

[2022-04-18 17:27] #5295 closed

[2022-04-18 17:27] #3265 closed

[2022-04-18 17:27] #5129 closed

[2022-04-18 17:27] #5125 closed

[2022-04-18 17:28] #4953 closed

[2022-04-18 17:28] #5106 closed

[2022-04-18 17:28] #5292 closed

[2022-04-18 17:28] #4270 closed

[2022-04-18 17:28] #4778 closed

[2022-04-18 17:29] chensun commented on #6810
Hi @valko073, just want to let you know that this was fixed via https://github.com/kubeflow/pipelines/pull/7453, which was cherrypicked and released in KFP SDK 1.8.12.

/cc @connor-mccarthy

[2022-04-18 17:29] #6810 closed

[2022-04-18 18:46] chensun commented on #6986
@gpoulin-hopper @frederikfab @lynnmatrix
This topic has been brought up from time to time, so I'd like to add some more contexts and thoughts here:
- We view ML pipelines more than just executing code to completion. One critical area we build around is the ML Metadata. This is even more emphasized in the Kubeflow Pipelines v2 design [[doc](https://docs.google.com/document/d/1fHU29oScMEKPttDA1Th1ib

[2022-04-19 06:12] yangyang919 commented on #7568
The issue is solved with a workaround.

First `kubectl exec mysql-pod -it -- mysql -h mysql`

Then change the column of Description in Table pipeline_versions to accept NULL values

`ALTER table pipeline_versions MODIFY Description longtext NULL;`

Problem solved. Still don't know why issue happened why it's working for quite some time. I suspect there are some mismatch between frontend and backen

[2022-04-19 08:27] #4803 closed

[2022-04-19 08:27] #4794 closed

[2022-04-19 08:27] #4799 closed

[2022-04-19 08:27] #3550 closed

[2022-04-19 08:27] #4830 closed

[2022-04-19 08:27] #4776 closed

[2022-04-19 08:27] #4840 closed

[2022-04-19 08:27] #4738 closed

[2022-04-19 08:27] #4839 closed

[2022-04-19 08:27] #4537 closed

[2022-04-19 08:27] #4193 closed

[2022-04-19 08:27] #4860 closed

[2022-04-19 08:27] #4779 closed

[2022-04-19 08:27] #4863 closed

[2022-04-19 08:27] #4326 closed

[2022-04-19 08:27] #4878 closed

[2022-04-19 08:27] #4789 closed

[2022-04-19 08:27] #4407 closed

[2022-04-19 08:27] #4892 closed

[2022-04-19 08:27] #4898 closed

[2022-04-19 08:27] #4908 closed

[2022-04-19 08:27] #4513 closed

[2022-04-19 08:27] #4921 closed

[2022-04-19 08:27] #4931 closed

[2022-04-19 08:27] #4942 closed

[2022-04-19 08:27] #3130 closed

[2022-04-19 08:27] #4733 closed

[2022-04-19 08:27] #5198 closed

[2022-04-19 10:19] ytsophie commented on #4399
/reopen

[2022-04-19 12:36] meowcakes commented on #4880
/reopen

[2022-04-19 14:51] connor-mccarthy commented on #7529
@iuiu34 Where is the exception thrown? At compile-time? Or execution-time? If possible, could you provide a slightly more complete minimal reproducible example?

[2022-04-20 08:21] iuiu34 commented on #7529
is at compilation time.
Here a reproducible code
[code]

raises error

[code]

[2022-04-20 18:00] ckchow opened #7587 "[frontend] "clone recurring run" then changing the pipeline version resets run parameters to defaults"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?  terraform
*  KFP version: 1.4.0

### Steps to reproduce

Make sure you have a pipeline with more than 1 version.

Create a recurring run. Change some of the variables to non-default values. Start the run.

Then, clone the just-created recurring run. Change the pipeline version.

### Expected result

I think the values should remain

[2022-04-21 00:21] zijianjoy commented on #6935
/lifecycle frozen

[2022-04-21 00:23] zijianjoy commented on #5114
/lifecycle frozen

[2022-04-21 00:24] zijianjoy commented on #6915
/lifecycle frozen

[2022-04-21 00:27] zijianjoy commented on #6734
You can check more about the log in `metadata-grpc-deployment`, there might explain the reason why you don't have a working backend.

[2022-04-21 00:29] zijianjoy commented on #7120
/lifecycle frozen

[2022-04-21 00:29] #7106 closed

[2022-04-21 00:30] zijianjoy commented on #6554
/lifecycle frozen

[2022-04-21 15:38] sangstar opened #7589 "Training Pipeline fails after uploading model artifacts to Google Cloud Storage"
## Environment:
KFP version 1.8.9

## Steps to Reproduce
Here's a snippet of my training code:

[code]

Which succeeds in uploading to Google Cloud Storage. It makes use of `model.save` from Keras, and saves the created directory to my Bucket, along with a `requirements.txt` file inside it. To be clear, once the code block above is ran, a directory `custom-model-test/` is created in `gs://[redacte

[2022-04-21 18:29] ckchow commented on #7224
One could write to an external system (e.g. GCS, S3) and have downstream components read from an agreed-upon path. Feels pretty side-effecty though.

[2022-04-21 20:16] goswamig commented on #3398
Minio-js 7.0.27 was released https://github.com/minio/minio-js/tree/7.0.27 with  assume role support

[2022-04-21 22:44] Linchin commented on #7561
KFP compatible mode is no longer supported, so try using KFP backend 2.0.0-alpha.1 and sdk  2.0.0-alpha.2 version and see if it works. You don't have to specify using compatible mode in v2 [ref](https://www.kubeflow.org/docs/components/pipelines/sdk-v2/v2-compatibility/#compiling-and-running-pipelines-in-v2-compatibility-mode), and also note that there is name space change. You need to change `imp

[2022-04-21 22:51] Linchin commented on #7568
Maybe you could check your mysql config and see if there's any recent change? In kfp the description should be optional.

[2022-04-21 22:51] #7568 closed

[2022-04-21 22:55] Linchin commented on #7573
Maybe it's because the `@pipeline` decorator is missing?

[2022-04-21 22:58] Linchin commented on #7587
I don't think "clone recurring run" passes the parameters. If you think this is a useful feature, feel free to open a feature request and describe your use case.

[2022-04-22 17:15] ccurro commented on #7131
I am running into the same issue - is there any update on this front?

@chensun is your suggestion that, at this time, we can only run pipelines defined in the v2 DSL in Vertex AI PIpelines?

For extra context, I have a basic pipeline defined in the v2 DSL which does run on Vertex AI Pipelines successfully but fails with the error raised in this issue on Kubeflow.

[2022-04-22 18:13] chensun commented on #7131
@yingding Sorry, I missed your questions earlier.

By "non v2 compatible mode" I meant `V1_LEGACY` mode, and yes it doesn't support anything from `kfp.v2` namespace.

V2 KFP SDK (at the time you were asking, this means importing `kfp.v2` using KFP SDK 1.* version) was not ready for Kubeflow Pipelines, but it was ready and could be run on [Vertex Pipelines](https://cloud.google.com/vertex-ai/docs/p

[2022-04-22 18:15] chensun commented on #7131
@ccurro, short answer is yes. You can only run such pipelines on Vertex Pipelines.
That being said, we did recently released both [KFP 2.0.0 alpha](https://github.com/kubeflow/pipelines/releases/tag/2.0.0-alpha.1) and [KFP SDK 2.0.0 alpha](https://pypi.org/project/kfp/2.0.0a2/), which supports running pipelines defined in v2 DSL in the open source KFP backend. Since it's in the alpha state, expect

[2022-04-22 18:26] ccurro commented on #7131
@chensun Thanks for clarifying!

[2022-04-23 21:38] #7379 closed

[2022-04-23 21:42] zijianjoy opened #7598 "Allow users to configure pipeline root when creating new run."
When creating new Run, user can specify a pipeline root location for artifact payload. PipelineRood definition is in https://www.kubeflow.org/docs/components/pipelines/overview/pipeline-root/.

Feature:
1. Show a `Checkbox` which asks user whether to set custom pipeline root.
2. If `Checkbox` is not checked, show nothing.
3. If `Checkbox` is checked, show an input box for accepting string value.
4

[2022-04-23 21:42] zijianjoy opened #7599 "Support providing protobuf.Value as parameters when creating new run."

[2022-04-23 21:42] zijianjoy opened #7600 "Support creating new run from pipeline, pipeline version, and existing run."

[2022-04-24 06:09] haoxins opened #7601 "[feature] Add the annotation `cluster-autoscaler.kubernetes.io/safe-to-evict: false` to the pod"
### Feature Area

/area sdk

### What feature would you like to see?

Hi, it would be nice if we can add the annotation `cluster-autoscaler.kubernetes.io/safe-to-evict: false` to the pipeline/workflow pod __by default__

### What is the use case or pain point?

Without this annotation, the pod will be evicted accidentally. (If the pod running for hours, it will get a bigger change to be evicted)
T

[2022-04-24 10:32] lynnmatrix commented on #6986
@chensun LocalClient is mostly for testing/debugging. I'll keep LocalClient in [kfp-local ](https://github.com/lynnmatrix/kfp-local) before figuring out how to write the design doc.

[2022-04-25 06:53] grapefruitL commented on #4440
@dewnull @Bobgy  Hi, after I create a PodDefault and a new notebook server with "Allow access" config, I still get
`"RBAC: access denied" `
error when using command
`"curl -X GET 10.1.207.72:8888/apis/v1beta1/runs/75cd37e7-03d9-431b-a00d-a7451510bac1", `
where 75cd37e7-03d9-431b-a00d-a7451510bac1 is an exist run in the same namespace
can you show your connect way to the pipeline in the notebook? f

[2022-04-25 08:40] Amitg1 commented on #3855
Can anyone PLEASE share how can I use it inside a Kubeflow pipeline as an argument for a custom component?
thanks.

[2022-04-25 14:34] S-Mann opened #7602 "[feature] Support for "OR" condition on multiple filter predicates."
### Feature Area

/area backend

### What feature would you like to see?

Currently filter objects can have one or more query objects but they work with `AND` it would be great to somehow switch to `OR`  as well.
For example if you want to query [runs list API](https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/#operation--apis-v1beta1-runs-get) and get the

[2022-04-25 23:08] aronchick opened #7608 "[backend] JSONDecoder error?"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Standard deployment to AWS

*  KFP version:
1.8.1

*  KFP SDK version:
1.8.12

### Steps to reproduce

Very simple pipeline:
[code]

Component:
[code]

### Expected result

Pipeline runs.

### Materials and Reference

Actual error: `json.decoder.JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char

[2022-04-26 01:09] zijianjoy opened #7610 "Enable KFPv2 UI by default by creating a new feature key"
## Description

We are planning to enable KFPv2 UI feature when we release KFP 2.0.0-alpha.2. Therefore, we need to switch over to a new feature key which is enabled by default. And change all `FeatureKey.V2` usages to `FeatureKey.V2_ALPHA`.

## Tentative steps

1. Create a new feature key with name like `FeatureKey.V2_ALPHA`.
2. Make this feature key enabled by default.
3. Change all usage of `Fe

[2022-04-26 01:13] zijianjoy commented on #7610
/assign @jlyaoyuli

[2022-04-26 03:07] zijianjoy opened #7611 "Follow up with the latest PipelineSpec proto changes"

[2022-04-26 04:56] drozzy opened #7613 "[bug] Documentation link broken"
On this page:
https://www.kubeflow.org/docs/components/pipelines/reference/component-spec/

This link to types is broken: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/types.py

<img width="754" alt="Screen Shot 2022-04-26 at 12 55 55 AM" src="https://user-images.githubusercontent.com/140710/165224593-4f0d6547-f241-4a79-bb4a-6c8dd7e1561d.png">

[2022-04-26 05:06] drozzy commented on #7613
Same on this page:
https://www.kubeflow.org/docs/components/pipelines/sdk-v2/build-pipeline/

Artifact and Dataset point to broken url: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/io_types.py

<img width="696" alt="Screen Shot 2022-04-26 at 1 06 05 AM" src="https://user-images.githubusercontent.com/140710/165225581-bfa6d182-95f8-4360-9cd4-64502e6905e4.png">

[2022-04-26 05:22] msvensson222 opened #7614 "Placeholder values (eg. {{workflow.status}} ) not working for v2 compiler & Vertex AI."
### Environment

*  KFP version:
`1.8.12`
*  All dependencies version:
`google-cloud-aiplatform==1.7.1`

### Steps to reproduce
I define a very simple pipeline with a single, image based, component, and compile it using the v2 compiler. After compiling it, I submit the pipeline job to Google Vertex AI. The input argument for the component is a placeholder, {{workflow.status}}. During execution on

[2022-04-26 08:21] grapefruitL opened #7616 "Using API to manage pipeline in Multi-User mode"
### Feature Area

### What feature would you like to see?

use [api ](https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/)to manage pipeline in Multi-User mode

### What is the use case or pain point?

in our dev group, kubeflow is managed by engineers who are not familiar with python, they need to manage pipelines with pipeline api and yaml file generated

[2022-04-26 10:02] grapefruitL commented on #7466
just use following code, you will get pipeline info, no more additional params
[code]

[2022-04-26 15:17] DavidSpek commented on #5656
/lifecycle freeze

[2022-04-26 18:03] drozzy opened #7617 "[frontend] "Failed to retrieve logs" in finished pipelines."
Sometimes I click on old pipelines to check their logs and get the error "Failed to retrieve logs":

![Screenshot from 2022-04-26 14-02-00](https://user-images.githubusercontent.com/140710/165363496-8b8516c4-23e6-4e3a-915c-232833ef9c07.png)

[2022-04-26 18:42] aronchick commented on #7608
Here's the logs:
[code]

Here's the files to repro:
root_pipeline_04d99580c84b47c28405a2c8bcae8703.py
[code]

run_info.py
[code]

same_step_000_ce6494722c474dd3b8bef482bb976557.py
[code]

Python file to execute to run:
[code]

[2022-04-26 19:04] aronchick commented on #7608
Added to stackoverflow - https://stackoverflow.com/questions/72019232/json-decoder-jsondecodeerror-when-migrating-to-kubeflow-pipelines-v2

[2022-04-26 20:39] aronchick commented on #7608
Turns out it has to do with not compiling with the right execution mode on.

Did a PR to improve the error message: https://github.com/kubeflow/pipelines/pull/7619

If you're getting this, your code should look like this.

[code]

[2022-04-26 20:39] #7608 closed

[2022-04-26 21:38] aronchick opened #7623 "[backend] Unclear why compilation returns KeyError ['root']"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
From manifests -  1.8.1

*  KFP version:
1.8.1

*  KFP SDK version:
1.8.12

### Steps to reproduce

Here's the execution code:

[code]

I get the following error:

[code]

And here's the yaml I generated:

[code]

### Expected result

Runs correctl

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-04-26 23:21] Tomcli commented on #7008
/assign

[2022-04-27 00:07] connor-mccarthy commented on #7413
Closing in favor of a larger developer experience improvement effort.

[2022-04-27 00:07] #7413 closed

[2022-04-27 03:44] haoxins commented on #6431
@MatthiasCarnein just a bit curious about the License details.

Because this project uses argo-workflows, and argo-workflows uses MinIO v7 APIs, https://github.com/argoproj/argo-workflows/blob/master/go.mod#L35
Is this also influence Kubeflow pipelines?

[2022-04-27 12:46] dblate opened #7627 "[sdk] pytorch launcher create_worker_spec error"
### Environment

*  KFP version:

*  KFP SDK version:

*  All dependencies version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-04-27 14:46] MatthiasCarnein commented on #6431
@haoxins I'm not a lawyer but from my understanding the Minio Client SDK for Go is a separate piece of software that uses the Apache 2.0 license: https://github.com/minio/minio-go/blob/master/LICENSE

[2022-04-27 15:49] Bear1110 commented on #6858
Can I use like this example?
[code]
I want to set resource limit when tag value is "prod".
I already do like above code.
However, it does not work.
Can anyone give me help? Thanks

[2022-04-27 18:30] jlyaoyuli commented on #7571
Except for `xgboost_sample_pipeline.yaml` pipeline, all of the testing pipelines were able to be uploaded via URL and local file. DAG visualization, side panel, and `Pipeline Spec` etc. are displayed as we expect.

[2022-04-27 18:50] aronchick opened #7629 "[backend] OutputPath is giving "permission denied" - why?"
When I run a step that runs fine with Kubeflow v1 compatibility, it fails with the following error:

[code]

The code that produces this is here:
[code]

### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
From manifests
*  KFP version:
1.8.1
*  KFP SDK version:
1.8.12

### Expected result

Is there supposed to be a different way of writing this file? Do I need to mount a storage loca

[2022-04-28 02:54] mai-nakagawa opened #7631 "SDK: Accept newer `typing-extensions` versions"
### Feature Area

The SDK currently requires [`typing-extensions>=3.7.4,<4`](https://github.com/kubeflow/pipelines/blob/2.0.0-alpha.1/sdk/python/requirements.in#L45).

### What feature would you like to see?

I would like the SDK to accept higher versions - `>=4` specifically.

### What is the use case or pain point?

I would like to use the SDK on Cloud Composer (a.k.a Google-managed Apache Airfl

[2022-04-28 05:36] zijianjoy commented on #4649
/lifecycle frozen

[2022-04-28 05:57] bonclay commented on #4440
[code]
For reference, if you remove the workloadSelector, it will be applied to all notebooks in the namespace.
* example.
[code]

[2022-04-28 08:38] grapefruitL commented on #4440
@bonclay already do as you sugguested without workloadSelector, but still get `"RBAC: access denied"` with command `curl -X GET 10.1.207.72:8888/apis/v1beta1/runs/75cd37e7-03d9-431b-a00d-a7451510bac1`
by the way, I can get runs information with following python code before:
[code]
but after apply the EnvoyFilter.yaml, it will fail with `RBAC: access denied` error

[2022-04-28 18:00] #5194 closed

[2022-04-28 18:00] #4096 closed

[2022-04-28 18:00] #4946 closed

[2022-04-28 18:00] #4943 closed

[2022-04-28 18:00] #4961 closed

[2022-04-28 18:00] #4897 closed

[2022-04-28 18:00] #4980 closed

[2022-04-28 18:00] #4342 closed

[2022-04-28 18:00] #4958 closed

[2022-04-28 18:00] #5073 closed

[2022-04-28 18:00] #5029 closed

[2022-04-28 18:00] #5005 closed

[2022-04-28 18:00] #5022 closed

[2022-04-28 18:00] #5008 closed

[2022-04-28 18:00] #5031 closed

[2022-04-28 18:00] #5051 closed, assigned to nobody

[2022-04-28 18:00] #4846 closed

[2022-04-28 18:00] #5103 closed

[2022-04-28 18:00] #5111 closed

[2022-04-28 18:00] #5126 closed

[2022-04-28 20:17] Linchin opened #7638 "[feature] Pipeline level exit handler"
### Feature Area

/area backend

### What feature would you like to see?

### What is the use case or pain point?

### Is there a workaround currently?

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2022-04-28 22:38] jlyaoyuli commented on #7540
/assign @chensun

[2022-04-28 22:40] jlyaoyuli commented on #7614
/assign @chensun

[2022-04-28 22:43] jlyaoyuli commented on #7589
/assign @IronPan

[2022-04-28 22:48] jlyaoyuli commented on #7601
/assign @chensun

[2022-04-28 22:58] jlyaoyuli commented on #7602
@S-Mann Thanks for your suggestion, it's a valid feature request. Feel free to contribute if you are interested!

[2022-04-28 23:01] jlyaoyuli commented on #7616
@grapefruitL What do you mean by "manage"? What is your use case?

[2022-04-28 23:02] jlyaoyuli commented on #7613
/assign @connor-mccarthy

[2022-04-29 00:58] grapefruitL commented on #7616
@jlyaoyuli thank you for your reply.
Deploying, using and maintaining kubeflow requires some k8s knowledge that our data scientists don't have
Now I only have the way
Our data scientists are only responsible for writing the yaml of the pipeline and observing the running results, not for the startup of the pipeline

[2022-04-29 03:59] #4770 closed

[2022-04-29 03:59] #4997 closed

[2022-04-29 03:59] #182 closed

[2022-04-29 03:59] #4731 closed

[2022-04-29 03:59] #5061 closed

[2022-04-29 03:59] #4286 closed

[2022-04-29 03:59] #5219 closed

[2022-04-29 05:10] mike0355 opened #7641 "Can not connect to the mongodb"
Hi! I'm try to use kubeflow pipeline to run my project ，and my project need to store data to mongodb . My mongodb is deploy in the K8s and it work fine, but when I use the kubeflow pipeline to create a mongodb connection, I got this error.
![image](https://user-images.githubusercontent.com/51089749/165887787-f315961e-258a-4a77-b3e4-a4b43e35215c.png)
my mongodb uri is : "mongodb://testUser:passwd@l

[2022-04-29 13:08] juliusvonkohout commented on #4197
Minio and pipeline definition per namespace isolation is planned for the future and was the main talking point of the last community meeting. James Liu @zijianjoy  wants to split it into multiple PRs.

1. Hopefully moving pipeline definitions/templates from Minio+MySQL to MySQL only (James Liu Google) and the API change proposal https://docs.google.com/document/d/19OfU-hIsY4xBKA6b_F3dYIbSgrLMrVshu

[2022-04-29 18:10] aronchick commented on #7629
Additional data - here's the generated yaml - line 317 is the one that worries me. It APPEARS it's putting in the string of `output_context_path` when shouldn't that be a variable? is that substituted at runtime? --

[code]

[2022-04-29 19:33] aronchick commented on #7629
FYI, this is a pure regression from KFP 1.

Here's two gists - one compiled in LEGACY mode and one compiled in V2 compat.

using the compiler in v1 mode - https://gist.github.com/aronchick/0dfc57d2a794c1bd4fb9bff9962cfbd6
using the compiler in v2 mode - https://gist.github.com/aronchick/473060503ae189b360fbded04d802c80

[2022-04-29 20:16] aronchick commented on #7623
Turns out that I had a "@component" decorator over the function AND was using `kfp.components.create_component_from_func`. This caused the bug.

[2022-04-29 20:16] #7623 closed

[2022-04-30 00:01] #7631 closed

[2022-05-01 12:50] msvensson222 commented on #6792
Any idea of how this would be done running the pipeline on Vertex AI? Can you access the state of the component/pipeline run somehow?

[2022-05-01 13:35] bonclay commented on #4440
@grapefruitL Like the comments above, you also need to add the Authorization Policy.
My comments are written assuming that the Authorization Policy is applied.

[2022-05-03 23:03] jlyaoyuli opened #7652 "[backend] Unable to upload a specific testing pipeline via URL"
For the user journey test of upload pipeline. The testing pipeline https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler_cli_tests/test_data/xgboost_sample_pipeline.yaml was not able to be uploaded via URL.

[2022-05-03 23:04] jlyaoyuli commented on #7652
/assign @Linchin

[2022-05-04 01:26] pahask8 opened #7655 "[frontend] Failed to display a pipeline execution graph: "No graph to show""
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Manifests [files](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize) from

*  KFP version: 2.0.0-alpha.1 (worked well in 1.7.0, first observed in 1.8.1).

### Steps to reproduce
1. Pipeline was uploaded to Kubeflow using Kubeflow Python SDK (version 1.8.1)
2. Run a pipeline which is displaying as 2168 lines yaml f

[2022-05-04 06:15] kd303 commented on #4997
After lot of runs and debugging we realize that 'delete run' has been triggering. I am documenting this for anyone else.

We have been using APIs to automtically running our pipeline as well checking the status of the same. Now when the runs are longer then status check intervals, we saw in our code we are authenticating the user to make the API call every single time and when second time the auth

[2022-05-04 16:21] james-jwu opened #7657 "[backend] CreatePipeline API not handling multi-user mode properly"
Please see https://github.com/kubeflow/pipelines/blob/be682e4d728f7ac566a232213f0794553abe5d5f/backend/src/apiserver/server/pipeline_server.go#L134.

It directly calls isAuthorized(...), which doesn't add the API group to resourceAttributes. I think that is why I ended up with an error message like below:
[code]

Notice ```Group``` is empty string. It should be
[code]

Another strange issue to me

[2022-05-04 23:06] jlyaoyuli opened #7662 "[backend] KFP v2 currently doesn't support "Retry run" function"
For the KFP v2, **Retry Run** function hasn't been implemented. Currently, when users click retry button, they are blocked by this error message: https://screenshot.googleplex.com/3rFyhstqcjeyXAG.

Refer to:
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/resource/resource_manager.go#L557-L559

[2022-05-04 23:30] jlyaoyuli commented on #7662
/assign @chensun

[2022-05-05 04:18] sfujiwara commented on #7160
I think a good way to solve the problem is modifying the component to receive `JobConfigurationExtract`. Current component can receive only `JobConfigurationQuery` here:

https://github.com/kubeflow/pipelines/blob/c8a18bde299f2fdf5f72144f15887915b8d11520/components/google-cloud/google_cloud_pipeline_components/experimental/bigquery/query_job/component.yaml#L84-L91

We are happy if we can pass the

[2022-05-05 04:30] sfujiwara commented on #7160
I need the feature, but this issue was pending for months. If the maintainers are busy, I want to contribute. So I'm curious about
- How do you think about the above idea?
- The maintainers have a plan to add some features to solve this issue?

[2022-05-05 08:59] grapefruitL opened #7667 "Does pipeline support mounting existing pv?"
If I know the name of a pv and the data is stored in it, I want to use it directly
`VolumeOp `method will  create a new empty pv which is not what I want

[2022-05-05 09:28] FGXZ2JO commented on #2819
This problem still exists in the aws-v1.4.1 version. It will be very appreciated if you could provide me a hint about where to find this hard-coded region. @Jeffwan

[2022-05-05 13:18] juliusvonkohout commented on #4790
@bobgy istio should support grpc filtering now https://github.com/istio/istio/issues/25193#issuecomment-653554042

[2022-05-05 14:08] juliusvonkohout commented on #5673
We also need all container to run a non-root. Since v2compatible is deprecated that should be possible @zijianjoy

[2022-05-05 15:42] mdruby commented on #7389
Any updates?  I'm having the same issue when creating a batch prediction job that consumes TFRecord files.

[2022-05-05 21:25] mdruby commented on #7389
Ah, I believe I found the issue.  I missed that the gcs_source_uris argument must be a list of strings.  I had passed a string and the quotes around the URI were removed in the payload JSON string.  It might be helpful to clarify the documentation here or add some type checking of the inputs.

[2022-05-05 22:40] #7613 closed

[2022-05-05 22:44] ji-yaqi commented on #7617
We automatically recycle the pods 24 hours after creation. You can try to re-run the pipeline to get logs. Please re-open this issue if you have any more questions.

[2022-05-05 22:44] #7617 closed

[2022-05-05 22:44] ji-yaqi commented on #7627
@dblate Can you provide more information on this issue? Thanks.

[2022-05-06 00:02] james-jwu opened #7671 "Create automated tooling to run test"

[2022-05-06 16:36] zijianjoy opened #7673 "[backend] KFPv2: Backend always return JSON format PipelineSpec template even if I upload yaml"
### Environment

KFP backend 2.0.0-alpha.1

### Steps to reproduce

1. Upload a pipeline using KFPv2 yaml format
2. Get the pipeline template by calling `GET Pipeline Template` API
3. The response of template is in JSON format.

Side note: If you upload a KFPv2 json format, it returns json format template, which is expected.

### Expected result

We should preserve the format when storing pipeline

[2022-05-06 18:47] ice1x opened #7674 "[feature] ml-pipeline-ui is absent in Full kubeflow deployment"
### Feature Area

[feature] ml-pipeline-ui is absent in Full kubeflow deployment

As i understand this https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/
i am able to run kubeflow pipeline from my PyCharm/localhost to the remote cluster via
[code]
only for cluster in standalone mode because it has endpoint pod ml-pipeline-ui.

But why can't i use it for cluster in Full kubeflow de

[2022-05-06 18:55] drozzy commented on #7617
This was failing on microk8s install of kubeflow pipelines.
Once I switched to https://k3ai.github.io/docs/tutorials/kubeflow/ everything is great.

[2022-05-06 21:24] jlyaoyuli commented on #7655
Hello @pahask8 , would you mind providing the example you used for this run, so that we can reproduce the result for this issue. In addition, we would like to ask if you were using v1 mode or v2 mode for compiling the pipeline definition.

[2022-05-06 21:29] Linchin commented on #7667
Thank you for the suggestion! Would you please share the code snippet that you used?

[2022-05-07 00:40] aronchick opened #7676 "[backend] Output on GKE giving unclear error related to "container not found""
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Just deployed directly from kubeflow manifests

*  KFP version:
1.4.1, 1.5, 2.0.0 alpha

*  KFP SDK version:
1.8.12

### Steps to reproduce
Upload the following yaml as a pipeline - run it: https://gist.github.com/aronchick/25d6fca71df0ef86846c40bec5cbc2c3

### Expected result

Runs correctly.

### Actual

[code]
(The container name

[2022-05-07 00:49] grapefruitL commented on #7667
@Linchin Below is the definition code of my pipeline:
[code]
The training data should be stored in input_vop.volume but now it is a new empty pv which is not what I want, my data is stored in an existing pv:
[code]
How can I mount this pv to my pipeline?

[2022-05-07 02:44] aronchick commented on #7676
Just to be clear, this may be a GKE thing. I have an EKS deployment and it seems to run fine. But the error is very confusing regardless.

[2022-05-07 05:39] joesan commented on #4713
I'm also seeing this warning:

[code]
Do I simply ignore and just proceed?

[2022-05-07 19:51] aronchick commented on #7676
For what it's worth, I solved it by changing how I deployed kubeflow from manifests. You can read more about it here - https://github.com/SAME-Project/same-project/issues/126

HOWEVER, I think this is still a bug in KFP. The error message should be clearer what's going wrong - not being able to find a container can't be correct.

[2022-05-07 20:05] aronchick commented on #7676
It appears this error has been touched on here - https://github.com/kubeflow/pipelines/issues/1471 - but, i'd propose the core issue is that the error message is not helpful. We should work on that.

[2022-05-09 01:49] grapefruitL commented on #7667
I noticed that a specific pv can be mounted by specifying `volume_name`, but the training data is stored in the pv, which may be used by multiple pipelines at the same time, but different pipelines create different pvcs, they cannot mount the same pv, how about this problem Solve it? Any suggestions?

[2022-05-09 06:04] grapefruitL commented on #7301
You can split dataset_preparation into two components, the first one is used to create a pvc, and the second one accepts the url parameter to update the data in the pvc, so that the first component will only run once, which is equivalent to mounting the same One dataset, the second one is used to update the data, and then the same Pipeline can use different urls to achieve the purpose of expanding

[2022-05-09 16:38] yingding commented on #6839
I have the same problem on an on-prem KF 1.4 with multi-tenancy. I manage to copy the secret `ml-pipeline-ui-artifact` from `kubeflow` namespace into my profile namespace, sothat the pipeline in my namespace can run. But the UI can't load `ml-pipeline-ui-artifact` from default minio. I got both `503` and `504` errors. Is there any workarround available, without upgrade to KFP 1.8.1?

[2022-05-09 18:42] jszendre commented on #7330
Exit handler ops cannot explicitly depend on any previous operations so they cannot be parameterized by outputs of previous operations or be guaranteed to run after previous steps.

My use case is having integration tests run that are themselves kubeflow pipelines and I would like to be able to verify that a task fails without the integration test failing. Configuring that in the dsl would be a lo

[2022-05-09 19:53] zijianjoy commented on #5118
/lifecycle frozen

[2022-05-09 20:33] avik-taranis opened #7680 "[feature] Frontend - pods summary tab"
### Feature Area

area frontend

### What feature would you like to see?

A summary page that will include the status of all the nodes in the graph in a specific run.
The idea is to implement a new tab that is much easier to navigate than a large graph.
We already implemented it for our kubeflow installation at our company but I would like to understand if it's something that can be relevant for a

[2022-05-09 20:38] #7680 closed

[2022-05-09 20:40] aviklai opened #7681 "[feature] Frontend - pods summary tab"
### Feature Area

area frontend

### What feature would you like to see?

A summary page that will include the status of all the nodes in the graph in a specific run.
The idea is to implement a new tab that is much easier to navigate than a large graph.
We already implemented it for our kubeflow installation at our company but I would like to understand if it's something that can be relevant for a

[2022-05-09 22:03] Linchin commented on #7667
It seems that PR [#6582](https://github.com/kubeflow/pipelines/pull/6582) was created to serve this functionality. Try to set 'generate_unique_name' to be `False` in your `VolumeOp` definition (as seen in the following link), and see if it works.

https://github.com/kubeflow/pipelines/blob/4621aec14611bd022253d35e3b6bb9d3b4a57a3c/sdk/python/kfp/deprecated/dsl/_volume_op.py#L72

[2022-05-09 22:28] #7638 closed

[2022-05-10 01:36] grapefruitL commented on #7667
@Linchin Thank you for your reply, I tried it with the following code
[code]
 volumeop-basic-bkb2f-resource-name-test0505-1 is an existing pvc:
[code]
but an error occurred:
`This step is in Failed state with this message: Error (exit code 1): no more retries Error from server (AlreadyExists): error when creating "/tmp/manifest.yaml": persistentvolumeclaims "volumeop-basic-bkb2f-resource-name-test

[2022-05-10 04:15] Linchin commented on #7667
Add another arguments that specifies `action='apply'`. I tried and it works.

Example:
[code]

[2022-05-10 05:28] grapefruitL commented on #7667
Thanks! it really works

[2022-05-10 05:28] #7667 closed

[2022-05-10 06:00] grapefruitL commented on #7503
@connor-mccarthy How to modify `cacheImage `? I modified `manifests-1.5.0/apps/pipeline/upstream/base/installs/generic/pipeline-install-config.yaml` and re-executed` while ! kustomize build example | kubectl apply -f -; do echo "Retrying to apply resources"; sleep 10; done`, but it doesn't work, do I need to reinstall kubeflow after modifying the configuration?

[2022-05-10 06:03] grapefruitL commented on #7503
I changed `manifests-1.5.0/apps/pipeline/upstream/base/installs/generic/pipeline-install-config.yaml `to the following, `gcr.io/google-containers/busybox:v1` is a tag of `gcr.io/google-containers/busybox:latest`
[code]

[2022-05-10 07:09] FGXZ2JO commented on #3405
Is there a time plan, when and in which release will this following feature be supported? @Jeffwan
UI
KFP UI should be able to read artifact files in S3
mlpipeline-ui-metadata -> s3://mlpipeline/artifacts/pipeline-A/pipeline-A-run-id/mlpipeline-ui-metadata.tgz

[2022-05-10 10:34] shrinath-suresh opened #7686 "[bug] Pipeline component CI failure - ERROR: No matching distribution found for google-cloud-storage==2.2.1"
### What steps did you take

We have updated the pytorch samples present in kubeflow pipelines to work with latest version of kserve (kserve v2 protocol). The PR(https://github.com/kubeflow/pipelines/pull/7615) has been blocked due to the CI failure

[code]

### What happened:

Looks like the change in google-cloud-storage package version is causing an error and its blocking the current PR.

### W

[2022-05-11 08:44] yangyang919 opened #7697 "[Inquiry]Is there a way to display a figure when running pipeline?"
We have deployed one kubeflow pipeline which has several components, fetch data, preprocess, train model, etc. We are wondering whether in one of these components, we can draw a figure using plt.plot() on dataframe object, output this figure and then in Experiments UI, we can view this figure in Run Output section?

I am thinking about embed figure into HTML, and output html, but failed. Anyone ha

[2022-05-11 09:32] yangyang919 commented on #7697
Tried this:
In component code, output one html file:

    metadata = {
        'outputs': [{
            'storage': 'inline',
            'source': '<h1>Hello, World!</h1>',
            'type': 'web-app',
        }]
    }
    print(" html path ", args.html)
    with open(args.html, 'w') as f:
        json.dump(metadata, f)

Then in component.yaml file, define output type:

[code]

But no idea why

[2022-05-11 12:51] edwardhuanghz opened #7699 "[bug] pod is forbidden: failed quota: kf-resource-quota: must specify cpu,memory"
### What steps did you take
script below~

import kfp
from kfp.components import create_component_from_func
from kfp.dsl import pipeline

@create_component_from_func
def print_and_return_number(number: int) -> int:
    print(number)
    return(number)

@create_component_from_func
def sum_and_print_numbers(number_1: int,number_2: int):
    print(number_1+number_2)

@pipeline(name="example_pipeline"

[2022-05-11 13:26] easkerov opened #7700 ""Data dimensions X do not match the number of labels passed X" error"
Hi,

I am using kubeflow pipelines SDK in v2 compatibility mode and trying to output the confusion matrix as documented [here](https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#confusion-matrix)

I have a multiclass classifier and produce matrix using `sklearn`.  It creates a confusion matrix 3x3 which is OK for the number of classes (labels) equals 3.

E.g.:
[code]
Below is th

[2022-05-11 17:28] yribeiro opened #7701 "[feature] Allow Graph Based XY Data as Artifact Type in UI + SDK (v2)"
### Feature Area

/area frontend

### What feature would you like to see?

The feature would essentially allow us log XY and metrics for a graph along with titles in the metadata. This would be similar functionality for the ROC curve where we log a `List[float]` for TPR and FPR.

In the Pipelines UI I think this would be adding support for an additional Viewer like `XYMetricsViewer` or similar. In

[2022-05-11 19:50] #7444 closed

[2022-05-11 19:51] #7610 closed

[2022-05-11 19:55] #7571 closed

[2022-05-12 13:41] yarnabrina opened #7705 "[question] All possible status codes of Kubeflow Runs"
We have a [`streamlit`](https://streamlit.io/) app, which triggers a pipeline run based on user inputs. We regularly check the status of the submitted run and inform the run state in the UI using the following function.

[code]

We have decided to add some colour formatting based on the current run status. For that, we need to know all possible status codes, but we are not able to find anything co

[2022-05-12 14:42] kawofong opened #7706 "[feature] Compile processing of PipelineParam"
### Feature Area

/area sdk

### What feature would you like to see?

Currently, KFP compiler compiles pipeline arguments into PipelineParam. Hence, it alters the string processing behavior of pipeline arguments at compile-time and runtime.

### What is the use case or pain point?

I am building a Vertex Pipeline for batch prediction using Kubeflow Pipeline SDK. I want to process the pipeline argu

[2022-05-12 16:22] pahask8 commented on #7655
Hello @jlyaoyuli, thank you for quick update. I used v1 mode for compiling the pipeline. I can try to provide an example of this , can you please suggest, will the complete yaml work for you? Thanks

[2022-05-12 18:29] laserK3000 opened #7709 "[sdk] Function names with underscores lead to pipeline errors when used in v2 compatible mode"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
standalone
*  KFP version:
Version: 1.8.1
*  KFP SDK version:
kfp                         1.8.12
kfp-pipeline-spec           0.1.14
kfp-server-api              1.8.1

### Steps to reproduce
When building a component from a Python function that contains an underscore the component executes with error as the underscore is converted int

[2022-05-12 20:55] chensun commented on #7614
`{{workflow.status}}` and such are Argo variables (https://argoproj.github.io/argo-workflows/variables/#global), and Vertex Pipelines is not based on Argo, so it's by design that they won't work.
On Vertex Pipelines, we provide a set of platform-agnostic placeholders. Here're some examples: https://github.com/kubeflow/pipelines/blob/6296c18c7c9ec37489f36efc2cd121a800155da6/sdk/python/kfp/compiler_

[2022-05-12 20:55] #7614 closed

[2022-05-12 21:59] chensun commented on #7540
`{{workflow.annotations.*}}` and `{{workflow.name}}` aren't really part of KFP but Argo placeholders (https://argoproj.github.io/argo-workflows/variables/#global). And KFP experiments is not an Argo concept, so I don't think this is that easy to support.

[2022-05-12 22:34] zijianjoy commented on #7652
Potential cause: This pipeline contains OptionalInput.

[2022-05-12 22:38] zijianjoy commented on #7681
It is a nice feature to have, but KFPv2 has different mechanism than relying directly on ArgoWorkflow nodes. So it probably worths a formal design before introducing this feature. Will you be interested in composing it?

[2022-05-12 22:41] zijianjoy commented on #7686
/assign @chensun for fixing the python3.6 issue.

[2022-05-12 22:47] zijianjoy commented on #7676
This is probably due to Emissary executor not being used in the latest version of Kubernetes cluster.

As an overall point of view, I am looking for advice about what kind of error message it should show instead of the current message. Open to contributor or discussion about how to provide a proper error message.

[2022-05-12 22:49] zijianjoy commented on #7674
Full Kubeflow deployment should have ml-pipeline-ui pod. Can you check the kubernetes resource status (`kubectl get all -n kubeflow`) to see whether your Kubeflow deployment is successful?

[2022-05-12 22:51] zijianjoy commented on #7697
Hello @yangyang919 , The `Run Output Tab` UI is currently broken. You can click the node which generates HTML visualization, it will open side panel. Click `Visualization` tab in the side panel, you should be able to see HTML visualization. https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#single-html-file

[2022-05-12 22:56] zijianjoy commented on #7700
/assign @zijianjoy

[2022-05-12 22:58] zijianjoy commented on #7699
Hello @edwardhuanghz , do you want to parse the content of your `kf-resource-quota` resource? It looks like some quota restriction is applied to your cluster.

[2022-05-12 23:00] zijianjoy commented on #7701
We are planning to implement Run Comparison feature, which can achieve the same goal without introducing new Artifact type.

[2022-05-13 02:24] alexmirrington commented on #6336
Would love to see this as well, currently it's possible to modify the `argo_workflows` workflow YAML after compiling a pipeline and inject the metric specs into the workflow's container templates, though this is far from ideal.

[2022-05-13 07:06] markgeejw opened #7714 "[bug] CrashLoopBackOff deploying standalone KFP to custom namespace"
### What steps did you take

Deploy kfp standalone to on-premise k8s cluster, with custom namespace described in [docs](https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/#change-deployment-namespace).

### What happened:

ml-pipeline-viewer-crd pod goes into CrashLoopBackOff with logs:
[code]

### What did you expect to happen:

Successful deployment with custom

[2022-05-13 07:13] markgeejw commented on #7714
Created PR #7715

[2022-05-13 08:51] jlouea opened #7716 "[bug] ERROR1040: too many connections"
### What steps did you take

I have a use case that calling kubeflow backend service to get run id in a very high rps: about 200. However, I got HTTP 400 on my proxy. After looking into the root cause, I found error messages in ml-pipeline pod.

### What happened:
InternalServerError: Failed to get run: Error 1040: Too many connections. The detailed error:
[code]

### What did you expect to happen

[2022-05-13 09:18] laserK3000 commented on #7709
OK, I think I have mixed v1 an v2 mode here by using `kfp.components.create_component_from_func` on a v2 decorated function. Should this case be catched by an error message?

[2022-05-13 11:53] Priyanka4pc opened #7717 "[backend] cannot enter chroot for container named "main" error with Kubeflow Pipelines version 1.8.1"
### Describe the issue
* We are getting a random error PID error when using version 1.8.1 of the Standalone deployment of Kubeflow pipelines with both emissary and pns executors.
* All the runs where this errors comes, the clone of the run or retry works completely fine. So a guess is that this error only comes when a new image is being pulled.
* This error comes in the wait container of the pod a

[2022-05-13 14:25] laserK3000 opened #7718 "[sdk] v2: mount_pvc fails with parameters if other parameters are given to component"
### Environment

*  KFP version:
standalone

*  KFP SDK version:
1.8.1

*  All dependencies version:
kfp 1.8.12
kfp-pipeline-spec 0.1.14
kfp-server-api 1.8.1

### Steps to reproduce
I want to mount a pvc using `mount_pvc(...)` with a pvc name coming from a pipeline parameter. This works only if there are no other parameters given to the pipeline step.

### Expected result
Should work independently

[2022-05-13 14:31] msvensson222 commented on #7614
Okay, I understand @chensun . Do you have any idea of how one would get the status of the run within a component, as asked in [this StackOverflow question?](https://stackoverflow.com/questions/72094768/how-to-get-the-status-of-a-pipeline-run-within-a-component-running-on-vertex-ai?noredirect=1#comment127610264_72094768) Would really appreciate your insight, since this is a key aspect of allowing u

[2022-05-13 14:57] dboshardy opened #7719 "[bug] Cannot find how to type pipeline parameters for JsonArray or JsonObject"
### What steps did you take

I'm trying to utilize the ModelBatchPredictOp from the GCP Components.  There are two fields, one with a type of `JsonObject` and the other with the type `JsonArray`.  The pipeline accepts the fields for this operator as input parameters to the pipeline and passes them to the operator in the constructor.  Since they're in the pipeline params, they must be typed.  Howev

[2022-05-13 16:31] lightning-like commented on #6718
We have the same problem.
Any ides how to fix it ?

I think we can easy to reproduce it
[code]

here we have 10 times df_step and each time different out puts but output.path for all steps will be the same
`[minio://mlpipeline/v2/artifacts/pipeline/test_for/10db378a-3320-4631-86ca-0cbe798e9cbe/to-df/output_csv](***/pipeline/artifacts/minio/mlpipeline/v2/artifacts/pipeline/test_for/10db378a-3320-46

[2022-05-13 16:31] aviklai commented on #7681
@zijianjoy Hi, Let me take a look at KFPv2 (as we are using v1.7.1) so I can check the new mechanism and I will update here.

[2022-05-14 06:13] grapefruitL opened #7727 "Can pipeline components provide http services within the cluster?"
Can pipeline components provide http services within the cluster? For example, I have a data processing and analysis pipeline, which is designed to run for 1 hour. Other pods in the cluster access this pipeline through http requests to process the data and obtain results. After 1 hour, the pipeline runs and analyzes the request data it receives to obtain the analysis results.

[2022-05-14 07:52] juliusvonkohout commented on #4197
I have something elegant and mergeable ready https://github.com/kubeflow/pipelines/pull/7725
It is also quite easy to try out independently. If this is accepted i can upstream the UI changes in another merge request.

[2022-05-14 07:56] iuiu34 opened #7728 "[feature] create run from pipeline func locally"
In feature request #6956 to run all type of kfp pipelines and kfp components locally, it was point out that kfp supports components with different types of formats, languages, base image, etc.

In this current feature request, i would like to ask support to run kfp pipelines locally in the particular case when all components run a single custom made image  with a custom made library.*

Here you ha

[2022-05-16 03:26] yangyang919 commented on #7697
Hi @zijianjoy , thanks for answering!

I am able to display a simple HTML, but still could't display a figure output by component. I think it's the way how I do it, could you take a look and give some suggestions?

    myPlot = myDataframe.plot().get_figure()
    myPlot.savefig('my_plot')
    metadata = {
        'outputs': [
        {
            'type': 'web-app',
            'storage': 'inline'

[2022-05-16 03:46] hsinhoyeh opened #7730 "[grpc-gateway] upgrade grpc-gateway to v2"
### Feature Area

[grpc gateway](https://github.com/grpc-ecosystem/grpc-gateway) provides an HTTP way to communicate the underlying GRPC services (defined in the same proto file), and since version v1.14, the community suggests that the v1 is under maintenance mode and suggest to upgrade to v2. https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v1.14.7
However, the current Kubeflow pipeli

[2022-05-16 08:33] ErraticO opened #7731 "[bug] The pipeline UI shows that the pipeline has been running, but I have turned it off"
### What steps did you take

When the scheduled task is executed, I delete it and turn off the automatically generated run.

### What happened:
The pipeline UI shows that the pipeline has been running, but I have turned it off

### What did you expect to happen:
The UI interface should show the status of closing rather than running all the time

### Environment:

*  How do you deploy Kubeflow Pipe

[2022-05-16 08:36] ErraticO commented on #7731
![image](https://user-images.githubusercontent.com/41106127/168552621-9ca15333-8a04-46a6-9da9-2446be5eaed1.png)

[2022-05-16 18:45] dboshardy commented on #7719
For anyone who comes across this, [`jsonobject`](https://pypi.org/project/jsonobject/) is the package that contains the classes required.  This should be in the documentation somewhere.

[2022-05-16 18:45] #7719 closed

[2022-05-16 19:17] aviklai commented on #7681
I have looked at v2 versus v1.
Is it a design choice not to expose the pod and logs data?
For us, it helps a lot to look at failed pods and quickly access the logs and understand the reason for failures.

[2022-05-16 19:57] zijianjoy commented on #7681
@aviklai We haven't had a design for exposing pod and logs data yet, but we are planning on supporting it.

[2022-05-16 20:05] aviklai commented on #7681
@zijianjoy thanks - so it means that it will be available in the api in the future and then it will be possible to implement this feature?

[2022-05-16 20:13] zijianjoy commented on #7681
@aviklai I am not sure if we can going to have a KFP API for log access yet. But once we figure it out, it should be implemented and available to use. We are aware that log data access is important, but we need to consider how to expose pod info.

[2022-05-17 02:19] yangyang919 commented on #7697
thanks @zijianjoy , I figured out a way to display dataframe plot into html. So I close this ticket accordingly.

[2022-05-17 02:19] #7697 closed

[2022-05-17 03:41] grapefruitL commented on #7727
Now I can create the pipeline with the following code:
[code]
Also create a service to access the component:
[code]
But you will get a warning:

I wonder if there is a way other than ContainerOp? It seems that other ways to create components cannot be used in conjunction with services

[2022-05-17 11:54] Amitg1 commented on #3855
bump? no one using it?

[2022-05-17 15:30] droctothorpe opened #7740 "[feature] Add startup probe to pipeline API deployment"
### Feature Area
/area backend

### What feature would you like to see?
When we pivoted from an in-cluster mysql deployment to an externally hosted RDS instance for the metadata store, we ran into a scenario where the ml-pipeline-apiserver pod couldn't start because it didn't have a long enough grace period to complete its database migration.

We fixed this with a startup probe. I'll submit the as

[2022-05-17 22:17] jli commented on #6699
Hello KFP team,

This PR is listed as included in 1.8.0 [according to the changelog](https://github.com/kubeflow/pipelines/blob/master/CHANGELOG.md#180-2022-02-16), but I'm getting some package conflicts between kfp 1.8.1 and other packages that depend on cloudpickle>=2.

It seems that kfp 1.8.1 still depends on `cloudpickle>=1.3.0,<2`. See:
[code]

Here's what I originally ran that led to this pr

[2022-05-18 20:01] msinghg123 commented on #4846
reopen

[2022-05-18 23:19] zijianjoy opened #7756 "Create a new page for V2 Run Comparison"
# Description

Create a new V2 Run Comparison page, when two or more V2 pipelines are selected, the `Compare Run` button is enabled. If the selected runs are all V2 pipeline runs, redirect users to V2 Run Comparison page. We only need to show a message for now to tell whether it is V2 Run Comparison page, no need for other content.

# Reference

V1 Run Comparison page: https://github.com/kubeflow/

[2022-05-19 01:58] imiller445 commented on #7512
We would also be interested in this feature. We do a lot of on prem and disconnected/airgapped deployments. As such, Cloud Vendor hosted databases are not an option. In most scenarios it is easiest to run our own database clusters colocated on the same k8s environment as we run Kubeflow. The Crunchy Postgres experience on k8s is the best experience we've found to operate RDBMS clusters on k8s and

[2022-05-19 03:12] mhh12121 commented on #7271
I met the same issue today..
[code]
After a while, it would output some errors like
 some tables does not exists...

which is the same as  @[InsertCoolNameHere](https://github.com/InsertCoolNameHere) said;

[2022-05-19 07:23] zijianjoy commented on #7339
@jayaswalayush We are aiming to implement this feature in KFP v2.0.0-beta but we don't know exactly when yet. Please stay tuned!

[2022-05-19 07:29] zijianjoy commented on #7003
This makes sense to me, but a bit correction about the order of subcommand: `kfp pipeline get --name NAME`.

I tend to think it is about time SDK can start adding this API with SDK version 2.0.0+. cc @connor-mccarthy who is recently working on KFP SDK CLI.

[2022-05-19 12:39] we10710aa opened #7757 "[backend] cache-server's behavior on pod annotations cause pipeline to fail"
When cache-server find correspond result in cache, it remove the init container of pipeline pod and keep all annotations. This will cause pod with following annotations  fail to be created.

``container.apparmor.security.beta.kubernetes.io/init=runtime/default``

The kube-apiserver will reject the create api call because it can't find corresond container in pod manifest.

The error message will be

[2022-05-19 21:02] jlyaoyuli commented on #7655
Hello @pahask8 , yes the complete yaml works. Can provide a simplified version of pipeline (yaml file)? Thank you :) Noted: We think that the potential reason for this error is because we upgrade node from 12 to 14, which doesn't allow using Buffer API on the Browser side. https://github.com/kubeflow/pipelines/blob/a8a3b93aded13c9c8f5c9207dd1c233488aaf29f/frontend/src/lib/Utils.tsx#L391

[2022-05-19 22:37] connor-mccarthy commented on #7716
Thanks for raising this and sorry to hear you're having issues. Unfortunately, KFP 0.7 is not currently supported.

Please consider trying KFP 1.8.1 and let us know if the issue exists in the 1.8 distribution.

[2022-05-19 22:44] connor-mccarthy commented on #7730
cc/ @zijianjoy

[2022-05-19 22:50] connor-mccarthy commented on #7727
Thanks, @grapefruitL. As indicated in the error message, `ContainerOp` is deprecated. Have you tried creating the same component using YAML and reading in using `kfp.components.load_component_from_file`?

FYI, the KFP v2 SDK will eventually have a `ContainerOp` alternative with similar functionality, though this is not yet available.

[2022-05-19 22:56] connor-mccarthy commented on #7718
Thanks, @laserK3000. V2 compatible mode is deprecated and not currently supported. And, unfortunately, this is not yet a feature in V2. I would proceed with the previous approach that is successful in V1.

[2022-05-19 23:00] connor-mccarthy commented on #7731
cc/ @zijianjoy

[2022-05-19 23:07] connor-mccarthy commented on #7705
Hi, @yarnabrina. You can find the set of possible status values in the `run.proto` definition here: https://github.com/kubeflow/pipelines/blob/0932905ff58a5effae510a9eeb30bbe86fc3adf1/backend/api/run.proto#L254-L255.

Please re-open if you have any other questions on this topic.

[2022-05-20 00:43] grapefruitL commented on #7727
Solved, after using `load_component_from_file` to generate `op `variables, you need to call the `add_pod_label `method

[2022-05-20 00:43] #7727 closed

[2022-05-20 03:44] #7525 closed

[2022-05-20 10:38] #7705 closed

[2022-05-20 15:14] juansebashr commented on #6116
@jordyantunes
Men, you're a genius!! Thank you so much!

With you permission, I did a few changes in your code to also accept input artifacts and input parameters (Little rusty that part, but I did it in a rush haha), and put it in a repo so anyone can used it as a example

https://github.com/juansebashr/VertexPipelinesCICD

[2022-05-20 15:47] vasireddyvkl commented on #7512
In our case we only have Postgres as an option for managed on prem DB. So looking for out fo the box Postgres support. @zijianjoy  Can you please elaborate what creating overlay means, If that helps connect Kubeflow to postgres, I am interested to give it a try. Thanks!

[2022-05-20 16:50] jlouea commented on #7716
@connor-mccarthy thank you for the suggestions. We'll try.

[2022-05-20 16:50] #7716 closed

[2022-05-20 20:29] marcossony commented on #4191
@Bobgy @jingzhang36 I am experiencing very similar issue in experiments that have many disabled runs, creating new runs does not update the active run counter. Can this ticket be unfrozen?

[2022-05-20 22:15] Bobgy commented on #4191
Cc @zijianjoy

[2022-05-21 08:02] dblate commented on #7163
@mgiessing [mgiessing](https://github.com/mgiessing)
So do you solve you problem? How do you use tensorboard in pipeline now.
I get the same issue with your first option, I just can not open tensorboard until the component is completed.

[2022-05-22 05:02] cheny-alf commented on #5480
The bug still exists, at the same time, I also tried to go get k8s@latest but it didn't work 😭

[2022-05-23 08:44] rustam-ashurov-mcx commented on #5138
Just installed KubeFlow on AWS EKS few days ago. Used aws kfl manifests from:
https://github.com/awslabs/kubeflow-manifests
If I understand it correctly, installing it I was using 1.4.1 version of this manifests definition under the hood:
https://github.com/kubeflow/manifests

All in all it works, so I created a new jupiter notebooks server.
I'm using default user and have the issue with no access

[2022-05-23 11:21] rustam-ashurov-mcx commented on #4440
Just installed KubeFlow on AWS EKS few days ago. Used aws kfl manifests from:
https://github.com/awslabs/kubeflow-manifests
If I understand it correctly, installing it I was using 1.4.1 version of this manifests definition under the hood:
https://github.com/kubeflow/manifests

All in all it works, so I created a new jupiter notebooks server.
I'm using default user and have the issue with no access

[2022-05-23 16:10] zijianjoy commented on #6674
Recently Reactflow has supported sub flow: https://reactflow.dev/docs/guides/sub-flows/

[2022-05-23 16:39] pahask8 commented on #7655
Hello @jlyaoyuli, please find the attached pipeline file. Please note I masked all sensitive data there. Hope that helps. Thank you!
[pipeline.yaml.zip](https://github.com/kubeflow/pipelines/files/8756506/pipeline.yaml.zip)

[2022-05-23 18:25] droctothorpe commented on #7740
Resolved by https://github.com/kubeflow/pipelines/pull/7741.

[2022-05-23 21:28] zijianjoy commented on #7700
Hello @easkerov , v2 compatible mode has been discontinued. Can you try the V2 alpha? (I means using KFP backend 2.0.0-alpha.2 and KFP SDK 2.0.0-alpha.3) Feel free to comment here if using v2 alpha doesn't work.

[2022-05-24 01:46] grapefruitL commented on #4440
@rustam-ashurov-mcx try update kfp to 1.8.1: `pip install kfp --upgrade`

[2022-05-24 05:27] oonisim opened #7777 "kfp_server_api.exceptions.ApiException: (500) - failed to authenticate with kubeflow pipeline"
# Objective
Please provide the steps how to implement the authentication for Kubeflow pipeline addressed in [Add authentication with ServiceAccountToken #5138](https://github.com/kubeflow/pipelines/issues/5138)

# Background
The [Kubeflow sdk - error in client.list_experiments()][1] refers to [Kubeflow sdk - error in client.list_experiments() #6120][2] github issue through which the author looks f

[2022-05-24 06:45] oonisim commented on #7777
By further research, found [How to do programmatic authentication with Dex? #140](https://github.com/kubeflow/kfctl/issues/140#issuecomment-719894529). By modifying the code as per the solution provided there, it worked.

Please clarify if this we need to do. If so, please confirm where it is documented?

[code]

[2022-05-24 06:54] rustam-ashurov-mcx commented on #4440
After lib update it works fine, exact code that works for me is the variant without anything really special:
[code]
So all in all for me it was:
- applying PodDefault change to cluster
- creating a new jupiter server with config by clicking on UI the checkbox
(both operations are described here: https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/)
- updating kfp library via jupiter

[2022-05-24 06:57] rustam-ashurov-mcx commented on #5138
After kfp lib update it works fine, exact code that works for me is the variant without anything really special:

[code]
So all in all for me it was:

- applying PodDefault change to cluster
- creating a new jupiter server with config by selecting the "config" checkbox on UI
(both operations are described here: https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/)
- updating kfp lib

[2022-05-24 09:14] oonisim commented on #4440
[code]

Result:
[code]

[2022-05-24 13:36] dblate opened #7778 "[question]Can not visualize the results of my pipelines component until component is completed"
I want to visualize tensorboard while training, but according to the [doc](https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/), I can not show tensorboard until the training component is completed.
I have 2 questions:
1. Is there a way I can use tensorboard while training component is working(not finshed)?
2. For now all kinds of visualizations have to wait for component finishe

[2022-05-25 00:00] zijianjoy commented on #4191
Sounds like we need to

1. add filter in ListJob API to be:

[code]

2. Then on UI, we list jobs with a very high page size.

Let me know if this makes sense.

[2022-05-25 11:40] fhirschmann commented on #7347
Hello,

you can wrap the existing Endpoint into an Artifact and pass that to `ModelDeployOp`:

[code]

[2022-05-26 16:53] dboshardy opened #7792 "How to pass in already existing VertexDataset or VertexModel to a KF/Vertex Pipeline?"
What seems to be the only supported means of passing a VertexDataset to an AutoML training job in a pipeline is to create the dataset as part of the same pipeline.

I have not found a way to pass the URI or resource name of an existing dataset to an AutoML Training task in a Vertex Pipeline, tasks that take a model or dataset as input expect an artifact of type `google.VertexDataset` or `google.Ve

[2022-05-26 17:59] dboshardy commented on #7792
For those that encounter this issue, the solution is here:

https://cloud.google.com/vertex-ai/docs/pipelines/use-components#use_python_function-based_components

[2022-05-26 17:59] #7792 closed

[2022-05-26 19:05] thethiny opened #7794 "create_component_from_func vs func_to_container_op"
I don't seem to understand the behavior behind these two functions.
I have been using `create_component_from_func` for all of my pipelines, however all tutorials and guides I'm seeing online use `func_to_container_op` and the docstrings don't explain them enough (They both say `Converts a Python function to a component and returns a task`).
Can anyone elaborate on this as the documentation doesn't

[2022-05-26 22:41] #7709 closed

[2022-05-26 22:45] chensun commented on #7717
Hi @Priyanka4pc, we don't officially support minikube deployment, maybe you can try one of the these local deployment choices: https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/

[2022-05-26 22:45] #7717 closed

[2022-05-26 22:50] chensun commented on #7714
Hi @markgeejw what is the k8s engine you're using with your on-prem cluster, and secondly in which namespace did you deploy minio?
After you changed the manifest, does it work for you?

[2022-05-26 22:59] chensun commented on #7757
Hi @we10710aa, you can try disable caching following this instruction to block yourself. https://www.kubeflow.org/docs/components/pipelines/overview/caching/#disablingenabling-caching

And in the WIP KFP v2, we have a different implementation, maybe it will be compatible with your use case.

[2022-05-27 00:35] markgeejw commented on #7714
I’m using kubeadm with containerd and calico. I deployed to a namespace with my own name, and yes after changing the manifest it worked.

[2022-05-27 06:02] shrinath-suresh commented on #7686
@chensun
pulled the latest changes from master. build failing with following error

[code]

[2022-05-28 08:58] rustam-ashurov-mcx opened #7809 "[frontend] Error when downloading Artifact that is Folder via UI"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
AWS EKS k8s cluster + vanilla installation with multi-user auth
*  KFP version:
1.7

### Steps to reproduce

In Kubeflow pipelines V2 when an artifact is a folder it is not possible to download the Artifact via UI. Data is passed between components in a pipeline fine. When we are using V1 syntax folder (and non folders) are packed in

[2022-05-29 03:12] zijianjoy commented on #7730
Thank you @hsinhoyeh ! Indeed we are still using grpc-gateway v1 and I hope we can upgrade to v2. However, there are breaking changes that I don't have enough bandwidth to look into yet. I am hoping that we can introduce a new API package which can keep this upgrade contained. If you have tried to upgrade, do you know the breaking changes which are caused by upgrading from v1 to v2?

cc @Linchin @

[2022-05-30 00:56] jkchang opened #7810 "[bug] Failed to clone a Run started by recurring Run"
### What steps did you take

1. Create a "hello-world" pipeline using: https://raw.githubusercontent.com/kubeflow/pipelines/master/backend/test/resources/hello-world.yaml
2. Create a recurring run using pipeline "hello-world"
3. Wait after a Run is started and completed.
4. Clone the Run, and click Start button, it fails with error:

### What happened:
 Run creation failed
{"error":"Failed to crea

[2022-05-31 11:35] andjedani commented on #7012
Hi there
Using `ModelBatchPredictOp` I'm experiencing the same issue:

python = 3.8
google-cloud = 0.34.0
google-cloud-aiplatform = 1.12.0
kfp = 1.8.12
google-cloud-pipeline-components = 1.0.5

[code]

What happens?
[code]

Any ideas or suggestions for dealing with this would be greatly appreciated.

[2022-05-31 11:46] pranavaninadam opened #7812 "[bug] Artifacts UI gets populated only when using pipelines SDK v2, It doesn't show any data if using kfp SDK v1"
### Artifacts UI gets populated only when using pipelines SDK v2, It doesn't show any data if using kfp SDK v1

### What happened:

**Example-1**

[code]
when I run this sample pipeline the Artifacts UI doesn't show any Artifacts.

**Example-2**

[code]
when I run this sample pipeline the Artifacts UI  shows Artifacts.

### What did you expect to happen:

The Expectation is the Artifacts UI will s

[2022-05-31 15:03] nkosteski commented on #7339
Hey folks, I stumbled across this issue after having the same problems. However mine is with the 1.8.1 version of kubeflow (standalone) and with the v1 compiler. Were you experiencing the same issues with both the v1 and v2 compilers @jayaswalayush??

[2022-05-31 18:09] #7756 closed, assigned to zpChris

[2022-06-01 10:04] mChowdhury-91 opened #7817 "[Question]: Replace Kubeflow Minio"
I want to replace Kubeflow Minio component with the enterprise Minio that my company maintains.
What changes should I make in order to achieve this.

[2022-06-01 14:01] difince opened #7818 "[feature] Add authorization to both ReadArtifacts and ReportMetrics endpoints"
### Feature Area

</area backend >

### What feature would you like to see?
Ensure that the user has permission to call  [ReadArtifacts](https://github.com/kubeflow/pipelines/blob/665d826b38b10f559c4ac105f37fb24c17ef5561/backend/src/apiserver/server/run_server.go#L303) and [ReportMetrics](https://github.com/kubeflow/pipelines/blob/665d826b38b10f559c4ac105f37fb24c17ef5561/backend/src/apiserver/serv

[2022-06-01 17:47] james-jwu commented on #7671
Merged https://github.com/kubeflow/kubeflow/pull/6478

[2022-06-01 22:57] RoyerRamirez commented on #7512
Hi @zijianjoy,

We also strictly use PostgreSQL internally, since it's better suited for data warehousing purposes.

[2022-06-02 02:10] shrinath-suresh commented on #7686
cc: @zijianjoy @james-jwu @theadactyl

[2022-06-02 16:34] casassg opened #7823 "[Question] Plans for 2.0 release?"
Hi folks, qq, is there any estimate on dates for kfp==2.0.0rc0 release and 2.0.0 full support from backend (trying to undestand better the current story around this).

I have seen that 2.0.0alpha is going out in a new release of Kubeflow, but would be interesting to learn when is 2.0 release anticipated (or if it's months away) to plan around adoption and migration.

[2022-06-02 23:25] zpChris opened #7827 "[frontend] Run Comparison filter mechanism broken"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.2

### Steps to reproduce

1. Go to the "Runs" tab on KFP
2. Select at least two runs, and click "Compare runs"
3. Type something into the "Filter runs" field which should filter out the runs by "Run name"

### Expected result

You should see the runs filter by their "Run n

[2022-06-03 02:45] thesuperzapper opened #7832 "[feature] add `component_id` and `component_version` to Component YAML spec"
### Feature Area

/area components

### What feature would you like to see?

Right now, Kubeflow Pipelines has no native concept of "versioning" the same Component YAML over time.
If changes are made to a Component's YAML, existing pipelines may break or do unexpected things.

Given this, the only sensible strategy is __treating each Component YAML as atomic__, and creating a new YAML file for eve

[2022-06-03 20:25] jasonbrancazio opened #7836 "Please support the traffic_percentage argument in the deploy_endpoint Google Cloud Pipeline Component"
The [aiplatform.Model.deploy](https://github.com/googleapis/python-aiplatform/blob/main/google/cloud/aiplatform/models.py#L629
) method allows users to specify either a traffic percentage or a traffic split parameter. Either, but not both, can be used to specify the amount of traffic to route to a newly deployed model.

The Google Cloud Pipeline Components [ModelDeployOp](https://github.com/kubefl

[2022-06-03 21:55] wenboown commented on #7794
What is the difference between create_component_from_func and func_to_container_op?
They are equivalent, but func_to_container_op is deprecated in v2 of the SDK. For more information on what has been deprecated see here:
https://github.com/kubeflow/pipelines/issues/6133

Credit: Alexandre Brown in Community Slack

ref: https://journal.arrikto.com/kubeflow-tips-tricks-january-2022-238fde12f7d0

[2022-06-04 05:06] zijianjoy opened #7840 "Design Run Comparison page for V2"
# Description

Design the Run Comparison page for KFPv2. The main discussion points are:

1. What are critical user journeys?
2. How to handle compatibility with KFPv1?
3. What metrics does Run Comparison page compare? (for example: parameters, metrics, etc.)
4. How to compare metrics? (Side-by-side, combined chart, pick-and-choose comparison, etc.)
5. How to design the layout so that Run Comparis

[2022-06-04 05:06] zijianjoy opened #7841 "Compare various metrics for V2 Run Comparison page"
# Description

1. List the types of metrics we want to compare
2. Implement an efficient strategy to fetch these metrics
3. Provide functionality for users to adjust UI (For example: dropdown/checkbox for better comparison)

[2022-06-04 05:06] zijianjoy opened #7842 "Show parameters comparison for V2 Run Comparison page"
# Description

1. Retrieve parameters from backend
2. Determine the strategy about how to show parameter comparison
3. Scalability: How to handle comparison when number of parameters is very high?

[2022-06-04 06:19] zijianjoy commented on #7512
`overlay` is a kustomize concept as described in https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/. An overlay is a kubernetes resource package, it is like a variant of base KFP package.

Here is a list of KFP overlay: https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env

If you look at `platform-agnostic` folder, you will find that it is depending on m

[2022-06-04 06:54] zijianjoy commented on #7339
For anyone who wants to use the Run Output feature: currently you can use KFPv1 because the feature is still available as is.
![9TZqJtNyEPPxYPp](https://user-images.githubusercontent.com/37026441/171988236-8d8f2327-5b11-4e5a-930b-c604bdcaf4e0.png)

For KFPv2, we are working on providing the critical features so it gets GA first. Because the visualization is already available in side panel right no

[2022-06-04 06:57] zijianjoy commented on #6015
We have completed the last item: switch to Emissary executor by default: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/#docker-executor

[2022-06-04 06:57] #6015 closed

[2022-06-04 07:16] zijianjoy commented on #7731
The already started step will continue running, only the subsequent step will be terminated. Does it answer your question?

[2022-06-06 05:56] cgebbe commented on #3412
In the meantime, here is a full workaround example by using S3:

[code]

[2022-06-06 06:12] cgebbe opened #7845 "Can you pass TypedDicts to components or pipelines?"
### Feature Area

/area components

### What feature would you like to see?

Given the following code example: https://github.com/kubeflow/pipelines/issues/3412#issuecomment-1147075404 , it would be nice to pass `aws_config` not as a simple dictionary, but instead as a `TypedDict`. More exactly, we can split this up into:
- passing TypeDicts in between components
- passing TypeDicts as a parameter

[2022-06-06 15:28] dctelus opened #7846 "[bug] google_cloud_pipeline_components wait_gcp_resources breaks cache"
### What steps did you take

Create a pipeline with the followings tasks:

- A dataflow job
- WaitGcpResourcesOp on that dataflow job

### What happened:

If the run fails or is canceled while WaitGcpResourcesOp is running, the dataflow job gets cached as successful (only the WaitGcpResourcesOp step is marked as canceled/failed). This means that re-running the pipeline will never work, since the W

[2022-06-06 15:29] dctelus commented on #7846
Labels:

/area sdk
/area components

[2022-06-06 16:01] dctelus commented on #7846
Here's an exemple run output:

Canceled:
![image](https://user-images.githubusercontent.com/93535080/172198995-611deac8-d0be-4dce-9a39-a995d049157a.png)

Cached:
![image](https://user-images.githubusercontent.com/93535080/172198937-b8b5b7df-f8e3-4c06-b6c7-8348154ef6bd.png)

[2022-06-06 16:46] #7827 closed

[2022-06-06 20:13] vgmartinez opened #7848 "[feature] Support labels in the HyperparameterTuningJob for GCP"
### Feature Area

/area components

### What feature would you like to see?

Support labels in the HyperparameterTuningJob

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2022-06-06 23:11] jasonbrancazio commented on #7836
Note that the traffic_percentage argument is not supported in the V1 [ModelDeployOp](https://github.com/kubeflow/pipelines/blob/master/components/google-cloud/google_cloud_pipeline_components/v1/endpoint/deploy_model/component.yaml) either.

[2022-06-07 00:11] ErraticO commented on #7731
It is still going on without stopping, as if it were to be executed forever.

[2022-06-07 15:18] cgebbe opened #7851 "[feature] How to pass secret pipeline parameters?"
### Feature Area

/area frontend
/area backend

### What feature would you like to see?

- Given a pipeline with a parameter "api_key",
- when a user triggers a run (via the UI or the CLI)
- then his API key is publicly visible in the UI currently,
- but we would like to hide it.

### What is the use case or pain point?

We would like to hide such secret parameters as much as possible. Since the A

[2022-06-07 20:10] zpChris opened #7855 "[frontend] Run Comparison Refresh button broken"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

2.0.0-alpha.2

### Steps to reproduce

1. Go to the "Runs" tab on KFP
2. Clone an existing run (preferably one that completes successfully and quickly)
3. On a new tab, go to the "Runs" tab on KFP
4. On this new tab, select the original run and the cloned run, and click "Compare runs"

[2022-06-08 06:15] smnama commented on #7812
Facing same issue, can we get any resolution to this?

[2022-06-08 09:54] sujaykulkarn opened #7858 "KFP SDK should support other cloud platforms other than GCP for storing image artifacts built via "build_image_from_working_dir""
### Feature Area

/area sdk

### What feature would you like to see?

### What is the use case or pain point?

Currently, KFP SDK in order to work with containers codebase uses GCP to store temporary files. But our need is to store the same in other cloud providers or on-prem cluster, Please help us in a way to achieve these. If its a new feature request then please help us understand the code bas

[2022-06-08 10:12] clausagerskov opened #7859 "Deploy a new version of a model"
### Feature Area
As per this issue in the vertex-ai-samples repo,
https://github.com/GoogleCloudPlatform/vertex-ai-samples/issues/585
Vertex AI has model versions numbers that increase when manually importing models with the GUI.
Is updating models to higher versions supported when doing CI/CD using kubeflow pipelines for GCP Vertex AI?

/area backend
/area sdk
/area samples
/area components

Love

[2022-06-08 12:12] wafaaabdelhafez opened #7860 "Passing big data between components SDK[V2]"
### What steps did you take

1. Read text data from file on minio, write it to `Outputpath` to pass it to next step
`@component(base_image='wafaaabdelhafez/tensorflow-2')
def load_docs(output_path: OutputPath(List[str])):
    from minio import Minio
    import json

    client = Minio()
    obj = client.get_object("mlpipeline", "dataset/model_docs.txt")
    for data in obj:
        content = json.

[2022-06-08 14:02] defoishugo opened #7861 "[feature] google-cloud component for loading existing VertexDataset"
### Feature Area

/area sdk
/area samples
/area components

### What feature would you like to see?

A new component to load existing VertexDataset.

### What is the use case or pain point?

As a user, I have one existing dataset in VertexAI. I am doing several experiments with different models. Each of my experiment is represented by a pipeline.

When developing a kubeflow pipeline for VertexAI,

[2022-06-09 00:02] chensun commented on #7686
@shrinath-suresh, the issue with google-cloud-storage no long exists, but I found a few other issues and sent a couple of PRs that should fix the test failure, should be resolved by this week.

[2022-06-09 22:44] Linchin commented on #7848
Could you please specify which hyperparameter you are referring to? A link would help.

[2022-06-09 22:46] connor-mccarthy commented on #7861
Thanks, @defoishugo. This development is currently in progress and should be released with an upcoming v2 alpha release!

[2022-06-09 22:55] Linchin commented on #7810
Would you mind sharing which version that you are using?

[2022-06-09 23:00] Linchin commented on #7809
Would you please share which code you are using? Thank you.

[2022-06-09 23:15] zijianjoy opened #7878 "[feature] Seek alternative for Kubeflow Pipelines object store other than MinIO"
### Feature Area

/area backend
/area frontend

### What is the use case or pain point?

Currently, KFP is using MinIO as the default object store for Artifact payload and Pipeline template. However, MinIO has fully changed its license to AGPLv3 since 2021. This change has prevented KFP from upgrading to the latest of MinIO: using AGPL software requires that anything it links to must also be licen

[2022-06-10 00:28] jkchang commented on #7810
version 1.8.1

[2022-06-10 05:37] terrykong opened #7879 "[feature] TaskSpecs from create_component_from_func to support "after(...)""
### Feature Area

/area sdk

/area components

### What feature would you like to see?

Allow ops created from `kfp.components.create_component_from_func` to support ".after(...)" like `kfp.dsl.ContainerOp`s. This would help declare dependencies that don't rely on output passing.

Currently, the following is not possible:
[code]

### What is the use case or pain point?

We're still using pipelines

[2022-06-10 06:27] vgmartinez commented on #7848
I am referring to setting the GCP tags on [this](https://github.com/kubeflow/pipelines/blob/master/components/google-cloud/google_cloud_pipeline_components/experimental/hyperparameter_tuning_job/component.yaml) component to track the cost of the infrastructure.

[2022-06-10 08:23] rustam-ashurov-mcx commented on #7809
For sure. We started with the declaration of pipelines via DSL syntax. Here I tried to minimize the number of steps, just creating a TensorFlow model and saving it as an Artifact:
[code]
As a result, the pipeline runs fine and green, but the artifact (that is a folder) is not available on UI:
![image](https://user-images.githubusercontent.com/102949805/173022706-8648919d-f8ed-4373-93e7-c34b379b412

[2022-06-10 16:25] defoishugo commented on #7861
Thank you @connor-mccarthy.

Just to let you know, I found this workaround for my task:

[code]

The output is not a `VertexDataset` object but it will work if you pass it to a custom job like `CustomContainerTrainingJobRunOp` since the job is only using the `resource_name` metadata to get the dataset.

Still, this is not a clean solution. Thank you for developing this feature, waiting for it!

[2022-06-10 16:33] connor-mccarthy commented on #7861
Glad you found a workaround, @defoishugo! Programmatic import of the type annotation import is indeed the crux of this problem for Vertex artifacts. We have a nice solution for it that I think we should be able to ship soon!

[2022-06-10 17:00] #6431 closed

[2022-06-10 17:21] chensun opened #7880 "[CI] release-1.8 branch build-each-commit error"
CRD viewer build failure on the go-licenses check

[code]
https://github.com/kubeflow/pipelines/runs/6498434354

[2022-06-10 17:25] chensun commented on #7880
The issue appears to be caused by go 1.18 adds additional info which are not recognized by the license check tool. Found a similar issue: https://github.com/uw-labs/lichen/issues/14

In the latest go-licenses tool, we removed the feature of checking licenses from binary file, so this issue shouldn't be a blocker any Will try to update go-licenses tool in release-1.8 branch.

[2022-06-10 17:37] chensun commented on #7880
Actually, on `master` branch we use go 1.17 to build CRD viewer:
https://github.com/kubeflow/pipelines/blob/d05110e0b0c300879614b3bb28c06fee71470de6/backend/Dockerfile.viewercontroller#L15

But on `release-1.8` branch we didn't pin the go version:
https://github.com/kubeflow/pipelines/blob/8649bac68e070a79d7ba14fb2f6b7623337c18a7/backend/Dockerfile.viewercontroller#L15

I think probably a quicker

[2022-06-11 01:49] Bartket commented on #6839
@yingding

Add these lines to the ml-pipeline-ui-artifact deployment yaml file that you have within the namespace that you want to have this capability:

[code]

The workaround is to keep doing that with each new user/namespace added (I guess it can be automated via few kubectl commands).
![obraz](https://user-images.githubusercontent.com/22456734/173168009-3b9ba3c4-2a5e-46d9-9cb7-2c22acbc2ba1.png

[2022-06-11 08:47] yingding commented on #6839
@Bartket Thanks for you hint

I just want to double check, `ml-pipeline-ui-artifact` deployment is a KF 1.5 new feature, which I don't have in both my namespace and also not in `kubeflow` namespace using KF 1.4 right?

The artifacts works on our KF 1.5 installation, but it doesn't work on the other KF 1.4, I was hoping to patch KF 1.4 without upgrading as workaround first.

[2022-06-11 16:21] RE-Wolfe commented on #7589
Hi there - were you able to resolve this issue? Any tips? I'm seeing the same thing on my end.

[2022-06-12 05:00] terrykong commented on #7879
Actually, I just discovered that this request is not needed. It appears that this is already supported, but I ran into this issue because I was working outside of the compiler. To others who stumble upon this issue: it appears that I do in fact get ContainerOps back from `kfp.components.create_component_from_func` when I instantiate that task within a pipeline func and then pass that into the comp

[2022-06-12 05:00] #7879 closed

[2022-06-13 10:12] jayaswalayush commented on #7339
@zijianjoy : Sure thanks for the update but we would like to wait for this feature in KFP 2.0. Hope this feature is added soon

[2022-06-13 18:53] defoishugo opened #7887 "[feature] google-cloud component for generic container jobs"
### Feature Area

/area sdk
/area samples
/area components

### What feature would you like to see?

The ability to create custom container jobs, not only for training.
In my mind, we should be able to output user-defined artifacts (e.g.: metrics, datasets, two models, ...).

### What is the use case or pain point?

**USE CASE:** As a user, I have an existing on-premise application with which is a

[2022-06-14 08:50] rafalk0 opened #7891 "[bug] Considerable delay in showing steps in Kubeflow Pipelines UI after navigating to Runs"
### What steps did you take

Create a pipeline with working ML algorithm.

### What happened:
We encountered considerable delay (lasting more than 2 minutes) in showing steps in Kubeflow UI after navigating to Runs. Initially, after opening Runs, Kubeflow Pipelines UI shows only a blank window. The algorithm's steps in Kubeflow Pipelines appear only after these 2 requests: `ml_metadata.MetadataSto

[2022-06-14 20:12] chensun opened #7893 "[6/14/22] v2 sample test failure"
[code]
v2 sample tests keep failing and block presubmit. Possibly a result of using kfp 1.8.2 in test infra.

[2022-06-14 20:52] mbaijal commented on #7361
@chensun @emenendez

Has this issue been fixed already ? I am seeing a similar issue on Kubeflow 1.5 though the error logs do not show a `Signal command failed`. Instead, the wait container seems to send the right signal to the main container but the main container does not catch it. From the argo documentation this is possibly because the process is not running as PID1 - is there a workaround/fix

[2022-06-14 23:53] #7855 closed

[2022-06-15 10:19] cenkbircanoglu commented on #5124
+1

[2022-06-15 13:30] pyxelr commented on #4954
/reopen

Hi, is there a chance that this functionality (to filter Kubeflow runs by status within Kubeflow UI) has been already implemented? If not, are there any plans to do it for the next versions?

[2022-06-15 14:26] davidxia opened #7894 "[sdk] 1.8.1 git tag is misplaced"
The 1.8.1 git tag is [here](https://github.com/kubeflow/pipelines/commits/1.8.1/sdk/python/requirements.in) on Nov 23, 2021. The `kfp` package on Pypi [here](https://pypi.org/project/kfp/#history) was published on Sep 10, 2021. I suspect the git tag is misplaced and should be moved back to the correct commit that created the 1.8.1 PyPI package. Having misplaced git tags will create debugging confu

[2022-06-15 15:56] shotarok commented on #4954
/reopen

@pyxelr No, I'm afraid the current master branch also has the same logic as the previous. I'll try to reopen this issue.
https://github.com/kubeflow/pipelines/blob/85c7901874f19b6e7ecf6e1b152f53ab429e6edc/frontend/src/components/CustomTable.tsx#L519-L531

[2022-06-16 18:09] VishDev12 opened #7904 "[backend] GCR images not accessible: `Consumer 'project:ml-pipeline' has been suspended.`"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Standalone installation with Kustomize on EKS.

*  KFP version: 1.7.0

My KFP runs are failing and when I tried to pull this image: `gcr.io/ml-pipeline/argoexec:v3.1.14-license-compliance` manually from another unrelated machine, that failed with the following error:

[code]

I apologize if this is something from my side, but it see

[2022-06-16 18:16] VishDev12 commented on #7904
Okay, this feels real, I can't access any of the images from this repo.

And confirmed that other gcr.io pulls work fine, for example: `gcr.io/google-containers/busybox@sha256:d8d3bc2c183ed2f9f10e7258f84971202325ee6011ba137112e01e30f206de67`

[2022-06-16 18:23] boarder7395 commented on #7904
This is definitely and issue our cluster is having the same issue.

[2022-06-16 18:23] akdigitalself commented on #7904
Related slack thread: https://kubeflow.slack.com/archives/CE10KS9M4/p1655400994211759

[2022-06-16 18:30] akdigitalself commented on #7904
@chensun @IronPan @james-jwu @zijianjoy As you are the [owners](https://github.com/kubeflow/pipelines/blob/master/OWNERS) of this project, can you please help restore ml-pippelines in gcr.io? Thanks!

[2022-06-16 18:41] rtkshahwar commented on #7904
I am having the same issue and it just broke my demo I was about to give to my team in an hour.

[2022-06-16 18:48] VishDev12 commented on #7904
Some steps I'm taking to temporarily unblock our jobs:

1. SSH to the K8s machines where you know for a fact that the jobs previously succeeded, and run:
`docker image ls`
2. Find the images that are causing your job to fail now, for us, it's `v3.1.14-license-compliance`.
3. Run `docker tag gcr.io/ml-pipeline/argoexec:v3.1.14-license-compliance <private_repo>/xblox:v3.1.14-license-compliance`
4. R

[2022-06-16 19:29] akdigitalself commented on #7904
Seems like it's back up in gcr.io: https://kubeflow.slack.com/archives/CE10KS9M4/p1655407543079189?thread_ts=1655400994.211759&cid=CE10KS9M4

[2022-06-16 19:30] karan-kumar-by commented on #7904
Pods are able to pull the image now.

[2022-06-16 19:37] VishDev12 commented on #7904
Could we please get a short RCA from the developers before we close this issue? I want to evaluate the risks of something like this repeating.

[2022-06-16 19:39] akdigitalself commented on #7904
Should they be using artifact registry? https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr?_ga=2.199229930.-556289867.1649704015

+1 about the ask for an RCA.

[2022-06-16 22:26] chensun commented on #7904
Apologize for the trouble, our project was mistakenly suspended for a short period due to some process error, and we'll be working on a postmortem to prevent this from happening again.

[2022-06-16 22:26] #7904 closed

[2022-06-16 22:37] jlyaoyuli commented on #4954
Hello @shotarok, We are still waiting for the community to define the UX behavior. Here is one of the example that we can explore to filter by status. https://react-select.com/home

[2022-06-16 22:42] jlyaoyuli commented on #7812
Hello @pranavaninadam , there's no artifact in your example 1. Here is the basic definition of artifacts and parameters: https://www.kubeflow.org/docs/components/pipelines/sdk-v2/v2-component-io/#artifacts-and-parameters. Please take a look at it.

[2022-06-16 22:42] #7812 closed

[2022-06-16 22:48] jlyaoyuli commented on #7859
Hello @clausagerskov
KFP SDK doesn't have client to talk to Vertex AI service. Would you mind creating another issue under this repo: https://github.com/googleapis/python-aiplatform ? Thank you.

[2022-06-16 22:48] #7859 closed

[2022-06-16 22:51] jlyaoyuli commented on #7887
/assign @connor-mccarthy

[2022-06-16 22:53] connor-mccarthy commented on #7887
@defoishugo, thanks for reaching out. This is on our development roadmap as a "Bring your own container" feature. I believe this will meet your needs once implemented.

[2022-06-16 22:54] jlyaoyuli commented on #7846
/assign @IronPan
/cc @chongyouquan

[2022-06-16 22:56] #7880 closed

[2022-06-16 23:02] jlyaoyuli commented on #7777
@oonisim Please confirm that you are able to use Kubeflow dashboard without port forwarding. Then you can create KFP client using the URL endpoint to pipeline.

[2022-06-16 23:16] zijianjoy commented on #7817
You can replace your minio image in https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/third-party/minio/base/minio-deployment.yaml#L33

[2022-06-17 00:53] defoishugo commented on #7887
@connor-mccarthy perfect!

Current workaround: using YML file with a container implementation. The issue with that is mainly about linking a training job to a dataset, which means that in the Datasets UI of VertexAI you would not see the training job attached. Probably something to add in the Google API backend?

Still, this workaround is easy to implement for anyone who is looking for a quick sol

[2022-06-17 07:11] RakeshRaj97 commented on #6839
@lightning-like I am facing a very similar issue. Using an external on-prem minio server. Changed secrets in user profile namespaces. When I try to view the logs -- marked in the screenshot -- I get the response `Failed to get object in bucket mlpipeline at path artifacts/conditional-execution-pipeline-with-exit-handler-lpcnt/2022/06/17/conditional-execution-pipeline-with-exit-handler-lpcnt-295370

[2022-06-17 08:00] Bartket commented on #6839
@yingding We are using Kubeflow 1.4 (Kubeflow on AWS version).

Fyi: You should be good by applying this fix in sync.py and redeploying via Kustomize. I am yet to test it.

[gh pr checkout 5864](https://github.com/kubeflow/pipelines/pull/5864/files/764840ccd7ae85dd4f4c497d84602c40519c51e9#diff-997ca857ae89736a948d7bc38a69264639b3ddebfaf0eb172d13d35f6f535d62)

[2022-06-17 18:22] JuanValencia opened #7909 "[bug] Minio S3 Gateway results in 'pipeline spec is invalid'"
### What steps did you take

I updated minio on Kubeflow version 1.5.0 standard manifest install on a generic cluster to use an s3 gateway.
I also updated the bucket name on pipeline-install-config which was reflected in the workflow-controller-configmap

### What happened:

Minio came up correctly, and was able to manage s3 buckets through the minio GUI
When I try to run `[Tutorial] Data passing

[2022-06-18 16:40] MLHafizur opened #7915 "Failed to copy data to Persistant Volume (PV) from GCS in Kubeflow Pipeline"
Its been a long time since I am struggling to run a Kubeflow pipeline. I am trying this code to collect data from GCS and after filtering pass those data to Persistent Volume (PV) (/mnt/positive) to use as input in the next step:

[code]

But getting follow error in Kubeflow Pipeline:
[code]

How may I overcome this issue and copy data from GCS to PVC?

[2022-06-20 07:04] jmendesky commented on #7274
Is there any update on this?

[2022-06-20 15:40] maxjacu commented on #3412
We chose the same approach as above passing the root AWS path to each component. A good, clean enough solution.
Would I still prefer having KF handle the files for me? - yes.

[2022-06-20 21:09] #7915 closed

[2022-06-21 01:16] MLHafizur opened #7917 "ask 'no2-pipeline-xxg59.marge-pos-neg-data' errored: Pod "no2-pipeline-xxg59-3831270412" is invalid: spec.volumes[3].name: Duplicate value: "no2-pvc""
Hi, I am trying to run a Kubeflow pipeline.

Two steps will run in parallel and dump data to two different folders in PVC, then the third component will collect data from those t folders and merge them together and dump the merged data to another PVC folder.

`vop = dsl.VolumeOp(
            name='no2-pvc',
            resource_name = "no2-pvc",
            size="100Gi",
            modes = dsl.VO

[2022-06-21 19:16] rimolive opened #7923 "[feature] Implement an agnostic way to initialize the database"
### Feature Area
Currently, Kubeflow Pipelines relies on a specific database vendor (MySQL) which restrict users on database choice.

 /area backend

### What feature would you like to see?
My proposal is a change in the code to make this database calls agnostic from the vendor.

### What is the use case or pain point?
Suppose the user already uses PostgreSQL, and there is already a database runni

[2022-06-22 01:13] #7673 closed

[2022-06-22 20:34] jlyaoyuli opened #7929 "[frontend] Input/Output tab doesn't show information."
We expect to see detailed information about the input and output in the Input/Output tab of components.
Currently it is not able to display the info.
https://screenshot.googleplex.com/3doJNfZJQ6AzmVb

[2022-06-23 00:02] jlyaoyuli commented on #7929
https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/tabs/InputOutputTab.tsx#L149-L170

[2022-06-23 00:04] jlyaoyuli commented on #7929
Execution details:
https://screenshot.googleplex.com/7E9SGJGD6hbrC7v

Pattern(RegExp) & Key in Execution:
https://screenshot.googleplex.com/pLtkNgtJ9vhmebX

[2022-06-23 00:04] jlyaoyuli commented on #7929
/assign @Linchin

[2022-06-23 04:58] yiyuanyu17 commented on #3465
@amitripshtos  how you solve this problem, i meet this problem again

[2022-06-23 05:16] amitripshtos commented on #3465
Actually I didn’t solved the problem, but since then I stopped using KFP

On Thu, 23 Jun 2022 at 7:58 yiyuan ***@***.***> wrote:

[2022-06-23 06:39] sciai-ai opened #7935 ".."
..

[2022-06-23 06:45] zijianjoy commented on #7731
@ErraticO What is your kubernetes version and what is your KFP backend version? You might need to upgrade to a newer version of KFP (like KFP Backend 1.8) to give it another try.

[2022-06-23 11:44] ammubharatram commented on #7343
@yangyang919 hi, any help you can provide on solving the same? Thanks in advance.

[2022-06-23 19:55] droctothorpe commented on #651
+1

[2022-06-23 22:37] zijianjoy commented on #7818
/assign @chensun

[2022-06-23 22:40] zijianjoy commented on #7818
Related: https://github.com/kubeflow/pipelines/issues/4649

[2022-06-23 22:45] zijianjoy commented on #7894
Hello @davidxia , the SDK versions in Pypi are not the same as GitHub release tags. KFP package in Pypi (SDK) has its own release cycle. The GitHub release tags are for KFP backend (docker images).

[2022-06-23 22:45] #7894 closed

[2022-06-23 22:49] zijianjoy commented on #7794
We are moving away from `func_to_container_op` in KFPv1, we suggest to use `create_component_from_func` in KFPv1.

For KFPv2, we are moving away from both approaches above. We recommend using `@component` decorator in KFPv2.

Feel free to reopen this issue if you need more help.

[2022-06-23 22:49] #7794 closed

[2022-06-23 22:56] zijianjoy commented on #7845
Hello @cgebbe , can you describe how the `TypedDict` support will help you check typo?

/assign @connor-mccarthy

[2022-06-23 23:00] zijianjoy commented on #7858
`build_image_from_working_dir` is deprecated, currently you can use the following KFP CLI to build component:

[code]

cc @chensun @connor-mccarthy

[2022-06-24 01:29] ittus commented on #7009
I encountered a same issue. Setting default value to python function helps.

Deployment:
[code]

Client:
[code]

[2022-06-24 09:21] juliusvonkohout opened #7939 "[backend] the cache server does not check whether the cached artifacts have been deleted"
### Environment

Kubeflow 1.5.1

### Steps to reproduce

The cache server wrongly states that the step is cached even if the artifacts have been deleted from S3. We propose https://github.com/kubeflow/pipelines/pull/7938 that checks whether the folder actually still exists on S3. If the folder does not exist we do not wrongfully pretend that it is cached and instead delete the cachedb entry and le

[2022-06-24 09:26] juliusvonkohout commented on #5783
@stale this is still important

[2022-06-25 17:09] Amitg1 commented on #3855
https://www.roelpeters.be/an-overview-of-macros-and-variables-in-kubeflow/

[2022-06-26 03:11] #7935 closed

[2022-06-26 13:34] rjtshrm opened #7945 "Difference between add_volume and add_pvolume"
I couldn't find any good documentation b/w add_volume and add_pvolume and when to use which.

[2022-06-27 18:11] msvensson222 opened #7947 "[sdk] The component method .after() not working properly with multiple components from the same spec.yaml file"
### Environment

*  KFP SDK version:
2.0.0a5

### Purpose
I am trying to build and run a pipeline using a reusable component, leveraging an image hosted in Google Container Registry, a `component-spec.yaml` file as well as the `load_component_from_file()` function. The pipeline consists of three components, where the first two should be executed independently (and loaded from the same reusable fil

[2022-06-27 19:58] jli commented on #6189
This is happening more and more frequently for my team - multiple times a week now. It's disruptive for us, because oncall needs to look up what workflow was lost and notify users that their run is never going to work.

Are there any workarounds we could try?

[2022-06-28 18:21] juliusvonkohout commented on #7878
I would clarify it a bit more

- It is open sourced and uses license that can be accepted by KFP, something similar to Apache 2.0.
- Orchestration engine (like Argoworkflow) can interact with this object store (S3 compatibility).
- It has fine-grained S3 permission control e.g. ${aws:username} https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_variables.html#policy-vars-wheretouse

[2022-06-29 02:03] aabbccddeeffgghhii1438 opened #7963 "[backend] Terminate Behavior Regression between Workflow Controllers 2.x vs 3.x (HEAD)"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version:
1.8.2
*  KFP SDK version:
1.8.2

### Steps to reproduce
Currently, Kubeflow's terminate function works by setting activeDeadlineSeconds to 0. However, argo's controller loop only checks this for Pending pods, so a long running pod must run to completion before terminating. This has since been fixed on Argo's workflow

[2022-06-29 02:08] allenc97 commented on #7963
Do note that this behavior was true for Argo < 3, I.e https://github.com/argoproj/argo-workflows/blob/08c9964d5049c85621ee1cd2ceaa133944a650aa/workflow/controller/exec_control.go#L89.

[2022-06-29 14:41] aronchick commented on #7676
Genuinely unclear what the error is. If emissary has not been setup correctly, can we detect it? Could we output that error?

[2022-06-29 22:18] zijianjoy commented on #7676
Follow instruction in https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/ to detect workflow executor setup.

[2022-06-30 14:13] bertinma opened #7971 "Metrics using SDK"
Hi,

I'm. using kip to build my kubeflow pipeline following this method/tutorial : https://www.kubeflow.org/docs/components/pipelines/sdk/component-development/

So I have a python code, component.yaml, Dockerfile and build_image.sh files for each pipeline step.

I want to track metrics produced during evaluation step.

My codes are like that :
* eval.py

            metrics': [
                {

[2022-06-30 15:52] #7971 closed

[2022-06-30 16:18] vereba opened #7972 "[backend] Caching does not work when using volumes for the data_passing_method"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Install the Kubeflow Manifests manually via manifests (https://github.com/kubeflow/manifests#installation), install with a single command

*  KFP version: 1.8.2
*  KFP SDK version:
    * kfp                               1.8.12
    * kfp-server-api                    1.8.2

### Steps to reproduce

If I change the method to use volume

[2022-06-30 22:35] Linchin commented on #7947
Could you write them as graph components and see if that works? I'm not sure using two ".after()"s consecutively will work.

[2022-06-30 22:41] Linchin commented on #7963
This will be resolved after we upgrade argo to version 3.3.

[2022-06-30 22:42] allenc97 commented on #7963
Is there a timeline for this? For this upgrade, is it for 2.0, or 1.8.x?

[2022-06-30 22:46] Linchin commented on #7851
Maybe try using a container op and wrap the secret parameter inside?
https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod

[2022-06-30 22:50] Linchin commented on #7909
Could you please share the pipeline template that you used?

[2022-06-30 22:53] Linchin commented on #7891
Could you check the resource usage in your cluster, and see if any limit was reached? You may also consider upgrading to 1.8.

[2022-06-30 22:58] Linchin commented on #7945
Here is the documentation:
https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.BaseOp.add_volume
https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.BaseOp.add_pvolumes

Are these what you are looking for?

[2022-06-30 23:20] Linchin commented on #7917
Maybe it's because the two `pvolumes` used in `marge_pos_neg_data` actually point to the same persistent volume? As in this line:
[code]

[2022-07-01 10:35] Bud-ds commented on #7810
In the process of upgrading Kubeflow 1.2 to 1.5 on GCP
Environment:
How do you deploy Kubeflow Pipelines (KFP)? Our platform team deploys with a customized GCP procedure.
Version:
kfp==1.8.12
kfp-pipeline-spec==0.1.14
kfp-server-api==1.8.1

[2022-07-02 00:37] casassg commented on #5673
hey folks, is there any update on this? I'm guessing current state is that due to 2.0 coming along soon V2_COMPATIBLE wont be worked on? There are several companies running containers in rootless mode -  Is. #6530 still up for consideration?

[2022-07-05 12:27] difince opened #7982 "[backend] DeleteExperiment does not clean up all relevant children objects from the DB"
### Steps to reproduce
When [deleteExperiment](https://github.com/kubeflow/pipelines/blob/127dab4d4671849d596c455f4619ea807d22f6ea/backend/src/apiserver/server/experiment_server.go#L173) is called,  not all children objects ( like Runs/ resource_references) are deleted from MySQL.
DeleteExperiment cannot be called from the front-end/GUI, but the user still could execute a cURL request.
After an ex

[2022-07-05 13:19] difince commented on #7982
I just saw this [comment](https://github.com/kubeflow/pipelines/blob/127dab4d4671849d596c455f4619ea807d22f6ea/backend/api/experiment.proto#L84-L87) in the code. It looks that the current behavior is intended to behave this way - it is not a bug. But IMO, the server should self-validate that all runs/jobs are deleted, and not let the DB goes in an inconsistent state.

The proposed above "fix/behavi

[2022-07-05 16:34] alanhdu opened #7983 "[sdk] Cut a new release that supports `typing_extensions 4.0`?"
Currently, the latest `kfp=1.8.12` pins `typing_extensions to ` 'typing-extensions>=3.7.4,<4;python_version<"3.9"',`. This is a bit of a problem for us, since we have another dependency (PyTorch Lightning) that requires `typing-extensions >= 4`.  Would it be possible to cut a new release that supports the latest typing extensions?

[2022-07-05 18:35] ryansteakley commented on #7963
Additionally some of the pre-existing terminate commands do not work due to a change in the way they killed containers and the signals that were sent. Looks like they fixed this in https://github.com/argoproj/argo-workflows/issues/8687 what is the communities path-forward to regain this functionality?

[2022-07-06 02:58] eundonglee opened #7984 "[bug] TFJob launcher pipeline task fails when `delete_finished_tfjob` flag is `True`"
https://github.com/kubeflow/pipelines/blob/127dab4d4671849d596c455f4619ea807d22f6ea/components/kubeflow/launcher/component.yaml#L19

When `delete_finished_tfjob` flag is `True`, TFJob launcher task fails with error below.

[code]

I think it's some kind of kubernetes client SDK version issue in `nikenano/launchernew:latest` container image.

[2022-07-06 03:22] eundonglee commented on #7984
I found this PR in `kubeflow/training-operator` repo about similar problem.
https://github.com/kubeflow/training-operator/pull/1281

I think those changes above should be applied here and also to `nikenano/launchernew` container image.
https://github.com/kubeflow/pipelines/blob/127dab4d4671849d596c455f4619ea807d22f6ea/components/kubeflow/common/launch_crd.py#L117-L123

[2022-07-06 07:26] amosaini opened #7986 "[emissary] LibreOffice fails with emissary runtime."
## Summary

What happened/what you expected to happen?
I am need to use libreoffice headless to convert docx file to pdf. This is working execellent in Vanilla k8s and Databricks but when i do the same in Kubeflow which uses argo workflow at its backend it does not produce any output.

What version are you running?
argoproj.io/v1alpha1
Kubeflow 1.4

## Diagnostics

Paste the smallest workflow that

[2022-07-06 17:33] Tomcli commented on #7923
@IronPan so do you think we can add "postgres" as a new driver in the switch-case to begin with?
also linking the design docs to this issue: https://docs.google.com/document/d/1u50Ja5YltsESZkrS2f_KLAuRABeEv9QF8P0aetfh05U/edit#

[2022-07-06 22:28] Linchin opened #7990 "[backend] discussion - make jobs and runs top level resources?"
Currently we have jobs and runs as sub-resources of experiments, i.e., a job or a run must belong to one and only one experiment. This is reflected in creating runs and jobs by specifying resource references. In v2 API, we are planning to [retire resource references](https://docs.google.com/document/d/19OfU-hIsY4xBKA6b_F3dYIbSgrLMrVshucUSsyqotQ4/edit#), and reflect the resources (mostly `namespace

[2022-07-07 22:46] #7893 closed

[2022-07-07 23:20] chensun commented on #7939
I'm not entirely sure about v1 behavior, but in v2, we don't make any assumption on whether an artifact has content in its path. For instance, `Metrics` artifact has nothing in its cloud storage path but only metadata in the MLMD database. So it's by design that we don't check the "existence" of artifacts with or without caching.

You could disable caching when submitting a pipeline run though, th

[2022-07-08 05:34] zorrofox opened #7995 "[frontend] AWS S3 artifacts handler hardcode for s3 endpoint."
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Install with Kubeflow
*  KFP version:
1.8.2

### Steps to reproduce
Access the S3 artifaces locate in China regions(Beijing&Ningxia) the UI will run into errors:
[code]

### Expected result

Use the pipeline UI to explore the S3 artifacts in China regions.

### Materials and Reference

I think [this line](https://github.com/kubeflow/

[2022-07-11 15:32] JebasinghLuccas opened #8001 "Does Kubeflow (1.2) has dependency with any specific kfp python library version?"
i am wondering if there any dependencies in kfp python library version when i want to use it in kubeflow

[2022-07-11 18:56] TheTravellingSalesman commented on #7706
I've also been wrestling with this for a while now.

Would like to highlight another problem that comes from the same behavior -- if you try to add string PipelineParams to a list within a component, the compiler fails because PipelineParams are not JSON serializable.

For example:
[code]

Running this code results in
`TypeError: Object of type PipelineParam is not JSON serializable`

If you try t

[2022-07-11 21:52] DharmitD opened #8007 "[bug] <Bug Name>"
### Environment

*  Deployed KFP on an OpenShift cluster, referring to the following document to set up pipelines and runs:
https://www.kubeflow.org/docs/components/pipelines/tutorials/api-pipelines/

### Steps to reproduce

Could set up a pipeline on the cluster:

[code]

However, I'm unable to create a run out of the pipeline. This is the command to generate a run id, as per the document:
[code]

[2022-07-12 07:49] jazzsir opened #8012 "[bug] executor attempts to kill already terminated kfp-launcher init container"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)? [standalone-deployment](https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/#deploying-kubeflow-pipelines)

*  KFP version: 1.8.2

*  KFP SDK version: 1.8.2

### Steps to reproduce
The KFPv2 pipelines are completed, but errors occur as shown below, it seems to be a problem caused by attempting to term

[2022-07-12 15:17] akchinSTC commented on #7983
Can prob close this, kfp 1.8.13 was cut yesterday.
Thanks!

[2022-07-12 15:54] #7983 closed

[2022-07-12 17:28] ca-scribner opened #8014 "[feature] Add primary key to DB tables"
### Feature Area

/area backend

### What feature would you like to see?

That kfp create [its database](https://github.com/kubeflow/pipelines/tree/5a56a9399908033ce97573abf85098fd77f649ae/backend/src/apiserver/model) with a primary key (probably [here](https://github.com/kubeflow/pipelines/blob/5a56a9399908033ce97573abf85098fd77f649ae/backend/src/apiserver/model/default_experiment.go#L18) and [he

[2022-07-12 19:31] MLHafizur commented on #7193
It would be great to have this feature in Kubeflow. @IronPan Any insights on it.

[2022-07-13 07:37] #7984 closed

[2022-07-14 22:57] chensun commented on #7982
As you found out this is currently by design, I can see arguments from both side. We can probably keep this issue for seeking opinions.

[2022-07-14 23:12] #7986 closed

[2022-07-15 03:11] wyljpn opened #8034 "[frontend] Couldn't get Logs, Pod, and Events of any pipeline components in Runs"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Following https://github.com/kubeflow/manifests/tree/v1.3.1
*  Versions:
Kubeflow:1.3.1,
Pipeline:1.5.1,
"@kubernetes/client-node": "^0.11.2". Original version is "^0.8.2", tried to upgrade to "^0.11.2", but still the same errors.
"portable-fetch": "^3.0.0", https://github.com/kubeflow/pipelines/blob/1.5.1/frontend/server/package.jso

[2022-07-15 03:18] wyljpn commented on #8034
There is an similar issue https://github.com/kubeflow/kubeflow/issues/5605
After updating kubernetes-client, it works in his case, but for me, even I upgrade it to 0.11.2 which support IPv6, it didn't work.

[2022-07-15 04:51] wyljpn commented on #8034
Hi @vsk2015 , do you have any idea about this issue?

[2022-07-15 05:39] MatthiasCarnein commented on #7939
I believe that @juliusvonkohout raised a very import issue here. In many scenarios users are  legally required to cleanup old records and keeping the cachedb in sync is definitely a pain point.

In the past, the kfp project has definitely not considered this a user error and it was even recommended as best practice for production grade deployments by @Bobgy (https://github.com/kubeflow/pipelines/i

[2022-07-15 06:48] wyljpn commented on #8034
Hi @ConverJens , do you have any idea about this issue?

[2022-07-15 06:52] wyljpn commented on #8034
logs of metadata-writer pod:
[code]

[2022-07-15 07:05] wyljpn commented on #8034
logs of metadata-grpc. It has some errors, not sure whether it's related to this issue.
[code]

[2022-07-15 08:09] wyljpn commented on #8034
Begining part of ml-pipeline-ui
[code]

[2022-07-15 14:49] wyljpn commented on #8034
logs of  metadata-envoy-deployment:
**admin address: 0.0.0.0:9901**
[code]

[2022-07-17 04:14] patrickmead opened #8038 "Unable to set memory for a Kubeflow component using yaml"
I'm using yaml for my Kubeflow components which run on Vertex AI.  I know that I have alternatives for creating components such as the python SDK, but I would like to use yaml directly if possible (rather than generating it).  I see methods like set_memory_limit and set_memory_request for the ContainerOp but when I use methods such as load_component_from_file I have a TaskSpec.

Is there a way to

[2022-07-17 14:55] patrickmead commented on #8038
In the interim, it appears that I can set the memory in the pipeline json.

[2022-07-18 10:16] rafalk0 commented on #7891
@Linchin No limit was reached when it comes to resource usage.

[2022-07-19 09:14] juliusvonkohout commented on #7939
Yes, @chensun please reopen, it is clearly a bug.

[2022-07-19 10:53] amosaini commented on #7986
Hi, how can I export the argo workflow for the pipeline from kubeflow? I will need to provide it to the Argo Workflow team for debugging.

[2022-07-19 19:18] rayan-roy commented on #6792
Has this been resolved yet in KFP 2.0 version?

[2022-07-19 21:28] droctothorpe commented on #6792
I have a functional implementation on my subclass of `Client`. I can submit a PR if it seems useful to the maintainers. No pressure!

Given:
[code]

The result is a dictionary with a key for each logging backend and logs for each component listed in sequence.

It also optionally pretty prints all components logs to stdout:
[code]

[2022-07-20 01:40] wyljpn commented on #8034
Changed
[code]
in https://github.com/google/ml-metadata/blob/v0.25.1/ml_metadata/metadata_store/metadata_store_server_main.cc#L228 to
[code]
Now server listening on [::]:8080.

[code]

And changed
[code]
in https://github.com/kubeflow/pipelines/blob/1.5.1/third_party/metadata_envoy/envoy.yaml to
[code]
logs
[code]

After changing them, still couldn't get logs, pod, and events...

But the same issu

[2022-07-20 05:08] kanwaljitkhurmi opened #8051 "Not able to use Kubeflow PyTorchJob launcher as a Kubeflow Pipeline component - Always waiting"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
As part of the Kubeflow Manifest 1.4

*  KFP version:

*  KFP SDK version:
1.8.4
### Steps to reproduce

Trying to use Kubeflow PyTorchJob launcher component in the kubeflow pipeline ,however the pipeline component endlessly waits at the main thread with the following logs and does not proceed further with creation of main and worker

[2022-07-20 11:45] jayanthp-intellect opened #8052 "[feature] Ability to add Runtime Class name to Kubeflow Pipeline"
### Feature Area

/area backend
/area sdk

### What feature would you like to see?
Would like to have a separate method in kfp py package to add Runtime class (https://kubernetes.io/docs/concepts/containers/runtime-class/) to KF Pipeline Config and/or KFP Components. This is already supported in kubernetes py package (https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Runtim

[2022-07-20 12:30] Bobgy commented on #4533
This is obsolete

[2022-07-20 12:30] #4533 closed

[2022-07-20 14:34] rayan-roy commented on #6792
However, does it return the component status though?

[2022-07-20 14:44] droctothorpe commented on #6792
No, but that would be really trivial to add. Thanks for the feature suggestion!

[2022-07-20 16:28] zijianjoy commented on #7794
cc @connor-mccarthy Do we support `extra_code` in `create_component_from_func`?

[2022-07-20 16:59] connor-mccarthy commented on #7794
`create_component_from_func` does not support `extra_code`, though for some use-cases you can work around this by using `subprocess.call` or `os.system` to execute a subprocess within the Python code itself

[2022-07-20 17:05] casassg commented on #7794
This won't work as we need to add extra code _before_ the function in order to avoid issues on default values from the parsed function.

[2022-07-20 17:47] connor-mccarthy commented on #7794
@casassg, I see. Yes, unfortunately that's one of the use-cases where this workaround will not work. The other approach is creating a containerized component that implements this.

I suspect this is a fairly common use-case. If you feel strongly about having `extra_code` functionality, please feel free to open a feature request issue requesting that this be included in v2, then the community can u

[2022-07-20 17:53] juliusvonkohout commented on #7939
@chensun as a follow up to the meeting i do not see a global setting here https://www.kubeflow.org/docs/components/pipelines/overview/caching/

[2022-07-20 18:02] casassg opened #8053 "[feature] Re-enable extra_code parameter for Python components."
### Feature Area

/area sdk

### What feature would you like to see?

In KFP v1, there's an option to extend lightweight python components via `extra_code` which enables to have non-primitive values as defaults supported. However in KFPv2 this seems to be largely unsupported. Even in KFP v1, seems to be discouraged to use as `create_component_from_func` does not support it and `func_to_container_o

[2022-07-20 18:54] kanwaljitkhurmi commented on #8051
anyone else faced this issue ?

[2022-07-20 18:55] chensun commented on #7939
Discussed this in today KFP community meeting, and I want to summarize it here:

First of all, what you quoted from @Bobgy (https://github.com/kubeflow/pipelines/issues/6204#issuecomment-903011330) doesn't conflict with what I said above.

I didn't mean the action of deleting artifacts from cloud storage itself is a user error. My reply is within the specific context of this issue, deleting the ar

[2022-07-20 21:34] MatthiasCarnein commented on #7939
I think the difference is that the user is not actively "relying on caching". For the user it just happens automatically when using the same component definition and arguments. Having this trigger automatically but then fail is confusing for users.

If I understand you correctly, you are suggesting that a user should manually disable caching when the corresponding artifact was deleted. But how wou

[2022-07-21 06:37] juliusvonkohout commented on #7939
We cannot expect the user to set it for every pipeline himself. That is too error prone as @MatthiasCarnein explains. We need a global expiration setting (maximum cache lifetime), for example an environment variable in the cache server that is respected by V1 and V2 pipelines. This setting could also enforce the deletion of old database entries according to staleness/expiration setting. So we coul

[2022-07-21 10:55] wyljpn commented on #8034
I found it is a kubernetes-client issue.
https://github.com/kubeflow/pipelines/blob/1.5.1/frontend/server/k8s-helper.ts#L57

Even I upgrade kubernetes-client to 0.15.0, although basePath is correct kubernetes_service_host, _basePath: https://[240b:c0e0:202:5404:b4d4:2:0:8001]:443',
[code]
The error still there
![image](https://user-images.githubusercontent.com/37242439/180197458-807394a5-1706-438c

[2022-07-21 11:20] wyljpn commented on #8034
There is a bug in request.

https://github.com/kubernetes-client/javascript/issues/599

[2022-07-21 11:25] #8034 closed

[2022-07-21 12:53] ilaria-speranza commented on #7478
I solved this issue by launching `git checkout 1.8.13` in the repo I cloned from Github

[2022-07-21 17:19] bioshazard commented on #3875
@blublinsky a year later and the workaround is to use v2 instead

https://github.com/kubeflow/pipelines/issues/7858#issuecomment-1164992413

[2022-07-21 22:39] jlyaoyuli commented on #8053
/assign @connor-mccarthy

[2022-07-21 22:44] jlyaoyuli commented on #8012
Hi @jazzsir , can you provide what kubernetes version you used? We are moving toward the emissary executor. Here is the doc for executor: https://www.kubeflow.org/docs/components/pipelines/installation/choose-executor/

[2022-07-21 22:46] jlyaoyuli commented on #8001
/assign @connor-mccarthy

[2022-07-21 22:50] jlyaoyuli commented on #8038
/assign @chensun

[2022-07-21 22:53] connor-mccarthy commented on #8053
@casassg, thanks for creating this issue. Since our previous discussion, I want to provide a bit more context about how this functionality will be supported in the v2 KFP SDK, but through a slightly different approach than the `extra_code` parameter.

In v2, we're adding support for "Bring your own container", which adds a `@dsl.container_component` decorator [[usage example](https://docs.google.c

[2022-07-21 22:57] casassg commented on #8053
@connor-mccarthy I think this won't likely work. Essentially what you are asking is users to redo the entire lightweight python decorator just to support non-native types. This seems quite the added overhead for something that seems rather a common use case imho.

[2022-07-21 22:58] jlyaoyuli commented on #8052
Hi @jayanthp-intellect, can you provide the reference for changing the default Runtime?

[2022-07-21 22:59] jlyaoyuli commented on #8052
/assign @chensun

[2022-07-21 23:01] jlyaoyuli commented on #8014
/assign @Linchin

[2022-07-21 23:05] connor-mccarthy commented on #8053
You may be right, @casassg, but I'm not sure I understand a few parts of your response.

Can you describe what you mean by redo the entire lightweight Python decorator? And can you describe what you mean by non-native types?

[2022-07-21 23:14] Linchin commented on #8014
@ca-scribner Hi, we do create each DB with a column as primary key, see examples [here](https://github.com/kubeflow/pipelines/blob/061905b6df397c40fbcc4ffafa24d7b3b9daf439/backend/src/apiserver/model/run.go#L26) and [here](https://github.com/kubeflow/pipelines/blob/061905b6df397c40fbcc4ffafa24d7b3b9daf439/backend/src/apiserver/model/experiment.go#L4). But indeed, in the example DB you gave (Defaul

[2022-07-21 23:19] casassg commented on #8053
- Redo entire lightweigh decorator means that we would basically need to reimplement much of the logic that parses the signature of a function to generate the input/output spec, extracts function body, load function body and executes it, etc.
- Non-native types means anything that is not imported by default in https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/components/component_fa

[2022-07-22 02:36] Ark-kun commented on #6819
I have a similar issue with GCPC components.
I'm calling the official ModelDeployOp GCPC component and the log is
[code]

**Does this essentially mean that GCPC cannot be used with the current KFP backend?**

With the `V2_COMPATIBLE` mode I'm getting the aforementioned errors.

With the `V2_ENGINE` mode I'm getting the `ValueError: V2_ENGINE execution mode is not supported yet.` error.

[2022-07-22 05:44] grapefruitL opened #8060 "This step is in Error state with this message: Error (exit code 1): failed to put file: You did not provide the number of bytes specified by the Content-Length HTTP header."
My pipeline contains several components, these components have OutputPath type variables, so there will be files stored in minio, but when running, a random component will generate an error:
`This step is in Error state with this message: Error (exit code 1): failed to put file: You did not provide the number of bytes specified by the Content-Length HTTP header.`
Sometimes Pipeline can run normall

[2022-07-22 06:54] Ark-kun commented on #7719
@dboshardy

Python's `list` type is mapped to `JsonArray`
Python's `dict` type is mapped to `JsonObject`.

`typing.List[str]` should work the same as `list`, but there might be newly introduced bugs in v2 that break that.

The `jsonobject` package has no relation to the `JsonObject` type name in KFP components.

[2022-07-22 08:48] chensun commented on #7939
That's a fair argument. On the other hand though, I don't think it's too much to ask for from the users to understand that KFP has caching on by default. After all, I perceive KFP as an advanced developer tool. Users probably should understand the possible impacts of deleting artifacts.

In practice, how do users deleting artifacts? I guess they don't cherry-pick specific artifacts to delete but r

[2022-07-22 11:44] jayanthp-intellect commented on #8052
@jlyaoyuli Refer to the following containerd config file auto-generated and managed by KOPS 1.23.x ([KOPS GPU support](https://github.com/kubernetes/kops/blob/master/docs/gpu.md)). This is on a GPU node with NVIDIA Drivers + CUDA 11.1. By default, KOPS sets and maintains the `default_runtime_name` to be **runc** which forces us to specify the Kubernetes Runtime Class as **"nvidia"** to override th

[2022-07-22 12:08] szymonbcoding opened #8061 "[bug] open /tmp/outputs/Output/data: permission denied"
### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?
with Kubeflow on prem
*  KFP version:
No info, just "Build: dev local | Dashboard v0.0.2- | Isolation-Mode: multi-user" in left corner of Kubeflow UI.
I got non-admin access to Kubeflow platform.
*  KFP SDK version:
1.8.13

### Steps to reproduce

I created some KFP's components:
https://gist.github.com/szymonbcoding/faa2b5c3d46a4fd99

[2022-07-22 13:02] dboshardy commented on #7719
I don't know what to say other than using `lists` as the type did not work but using `jsonobject.JsonArray` did. Maybe this has changed in later versions.

[2022-07-22 15:06] ca-scribner commented on #8014
Sorry, I'm working as a bit of a proxy here.  @shayancanonical or @paulomach can you comment?

[2022-07-22 15:12] paulomach commented on #8014
Hi @Linchin,

Yes, and for any other table without a PK.

Even though we understand that the application does not need a PK to this table, in order to use MySQL with high availability (i.e. group replication plugin), it's required that *every* table have a PK.

This won't hurt the application, and will enable it to have a fault tolerant database, hence the proposal.

[2022-07-22 15:54] connor-mccarthy commented on #8001
@JebasinghLuccas, I do not believe there is any strict dependency on a KFP SDK version, so long as you're using a kfp SDK 1.x version, as we've adhered closely to the semantic versioning standards. The most recent is `1.8.13`.

Context: Kubeflow 1.2 uses Kubeflow Pipelines 1.0.4

[2022-07-22 15:54] #8001 closed

[2022-07-22 17:05] Linchin commented on #8014
I see. I will go ahead and create a PR for this.

[2022-07-22 17:18] connor-mccarthy commented on #8053
Thanks, @casassg. That explanation is very helpful and makes a compelling case for including an `extra_code` parameter.

BTW: Support in lightweight components for custom artifact types from a third-party library is a feature that will be added soon. It doesn't solve for all of the use cases you're describing, but would for the `Input[MyCustomArtifact]` use case.

[2022-07-22 17:39] shayancanonical commented on #8014
@Linchin we already opened a [PR](https://github.com/kubeflow/pipelines/pull/8023) with the requested changes (adding primary keys to `default_experiments` and `db_statuses` table). please feel free to close it or add to it if we missed anything!

[2022-07-22 18:16] Linchin commented on #8014
Thanks! I created another PR so I will close this one.

[2022-07-24 20:03] Ark-kun commented on #7719
The `param: list` annotations has worked since the first releases of KPF. Maybe KFPv2 has disrupted something recently for some time.
In any case, specifying arbitrary type is very easy - just annotate with the type name
`param: "JsonArray"`
Or
`some_path: InputPath("JsonArray") `
This works with all types.

[2022-07-25 11:10] juliusvonkohout commented on #7939
Shall i implement the last item or do you want do it? It would just be an environment variable MAX_CACHE_STALENESS in the cache-server derived from the configmap pipeline-install-config that uses the same syntax as per pipeline cache settings (e.g. P30D). Then in the cache server we modify
https://github.com/kubeflow/pipelines/blob/555447f5c6453609c59db1a890cca1ec38156847/backend/src/cache/server/

[2022-07-25 11:16] juliusvonkohout commented on #7939
And is there a documentation for V2 caching?
https://github.com/kubeflow/pipelines/blob/555447f5c6453609c59db1a890cca1ec38156847/backend/src/cache/server/mutation.go#L97-L101

[2022-07-25 15:19] deepyaman opened #8067 "[question] How does `importer` work under the hood?"
I'm trying to find/understand the underlying Argo YAML for an `importer`. Is https://github.com/kubeflow/pipelines/blob/3e734ed19146f569e910f75627d12239ec2e86dc/backend/src/v2/compiler/argocompiler/testdata/importer.yaml the right place to look (for an example, of how https://github.com/kubeflow/pipelines/blob/c6125ffc44df0eced27ae83451c6243b8fc8d73f/sdk/python/kfp/compiler/test_data/pipelines/pip

[2022-07-26 08:26] chensun commented on #8014
@Linchin given the two PRs are identical, I'd suggest we give credit to @shayancanonical and merge the PR that was created first. It's also our responsibility to actively monitor and review PRs from community contributors.

@shayancanonical a small tip to do avoid duplicate effort in the future: while you have "Fixes issue#" in the PR title which can close the issue upon PR merged, only when you h

[2022-07-26 09:03] #8014 closed

[2022-07-27 03:22] jlyaoyuli commented on #7929
https://github.com/kubeflow/pipelines/pull/8069

[2022-07-27 03:22] #7929 closed

[2022-07-27 08:33] difince opened #8074 "[feature] Add authorization to all functions in ReportServer"
### Feature Area
There are two API-server endpoints that still miss authorization - [ReportWorkflow](https://github.com/kubeflow/pipelines/blob/d48776fb2d9752ca48af14ea6256791d2b167a71/backend/src/apiserver/server/report_server.go#L32) and [ReportScheduledWorkflow](https://github.com/kubeflow/pipelines/blob/d48776fb2d9752ca48af14ea6256791d2b167a71/backend/src/apiserver/server/report_server.go#L45)

[2022-07-27 08:34] difince commented on #8074
cc: @juliusvonkohout

[2022-07-27 08:34] difince commented on #8074
/assign @difince

[2022-07-27 20:34] dsiegel opened #8076 "[bug] Kubeflow Pipelines Standalone Kustomize incompatible with K8s 1.22+"
KFP Kustomize setup does not work with Kubernetes 1.22+. The [kustomization.yaml](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/cluster-scoped-resources/kustomization.yaml) references an API that was removed (apiextensions.k8s.io/v1beta1).

### Environment

*  How do you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

Version: [1.7.1](https

[2022-07-27 20:42] dsiegel commented on #8076
I suspect that upgrading from KFP 1.7.1 fixes this. Never mind.

[2022-07-27 20:42] #8076 closed

[2022-07-28 08:37] juliusvonkohout commented on #8074
For the next KFP meeting ;-)

[2022-07-28 09:43] Houyon commented on #7012
I am currently having the same issue when trying to run a HyperparameterTuningJobRunOp.  Did you find a solution?

[2022-07-28 22:42] zijianjoy commented on #8074
Hello @difince , the `ReportWorkflow` and `ReportScheduledWorkflow` are used by single persistent-agent instance for monitoring the status of workflow. persistent-agent itself cannot and shouldn't authenticate as a user.
/assign @chensun

[2022-07-28 22:45] zijianjoy commented on #8051
/cc @jagadeeshi2i Would you like to help with this issue? Thank you!

[2022-07-28 22:50] zijianjoy commented on #8061
Hello @szymonbcoding, `V2_COMPATIBLE` is not supported any more. You can start using KFP SDK 2.0.0-beta and see if this resolves your problem. Note that there are breaking changes when you use the new v2.0+ SDK. Breaking change: https://docs.google.com/document/d/1nCUUVRXexXbQ0LDkGHsMIBDSu1WvJA9Upy1JzybNVMk/edit

[2022-07-28 22:55] zijianjoy commented on #8060
/assign @Linchin

It might be something related to argoworkflow: https://github.com/argoproj/argo-workflows/issues?q=is%3Aissue+%22+failed+to+put+file%22+is%3Aclosed.

[2022-07-28 22:56] zijianjoy commented on #6772
/assign @zijianjoy

[2022-07-28 22:58] zijianjoy commented on #8067
/assign @chensun

[2022-07-28 23:09] chensun commented on #8038
Hi @patrickmead, are you using KFP SDK v1.8.*?
You can still set memory limit for components load from file. Example:
https://github.com/kubeflow/pipelines/blob/d5bc8ddd6250d90b38cff5759e856f73e71e7d03/sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.py#L25-L44

`set_memory_request` is not available/applicable for Vertex AI though.

[2022-07-29 08:41] whappybara commented on #6792
Was wondering on the status of this, if a PR has been submitted or if some workaround exists for Kfp v1.7

The components in the pipeline I'm working with will output it's training status in the logs section. Intent here is to script something to grab the logs, parse them, and save them to eventually export as metrics. I don't have much control over the way the components input and output since I'

[2022-07-29 10:49] javen218 commented on #7512
It would be great if kubeflow pipeline support postgres!!!
For some reason, our company also can not use MySQL. We strongly recommend the community to make the database optional

[2022-07-29 11:15] difince commented on #8074
Thank you @zijianjoy for your feedback. How services are supposed to authenticate themself?

[2022-07-29 11:50] #7487 closed

[2022-08-01 06:51] javen218 commented on #7512
It's a time consuming job for us every user to implement postgresql available for pipelines. So we're eagerly waiting for someone to contribute to it.

There are already pull requests implementing postgres for kubeflow katib (https://github.com/kubeflow/katib/pull/1921), I wander if there any plan about KFP SUPPORT PG?

[2022-08-01 07:40] Edward-liang commented on #7512
MySQL is of no doubt an excellent database, however Oracle's acquisition brings uncertainty to its future. Like the others above, I sincerely hope kubeflow/pipeline can support postgresql soon, which is license friendly, and owns lots of advanced features.

[2022-08-01 08:23] LeBoyOrion opened #8087 "failed to authenticate with kubeflow pipeline [bug] <HTTP 500 error>"
*  How do you deploy Kubeflow Pipelines (KFP)?

Kubeflow is deployed on MiniKF locally downloaded on windows using vagrant and Virtual Box
downloading steps : [here](https://v0-7.kubeflow.org/docs/started/workstation/getting-started-windows/)

*  KFP version:
i cant fin it, neither on the dahsboard nor on the minikf window.

### Steps to reproduce

The problem can be reproduced just by using Kale

[2022-08-01 08:26] LeBoyOrion commented on #8087
the second error message :

 HTTP response body: {"error":"Internal error: Unauthenticated: Request header error: there is no user identity header.: Request header error: there is no user identity header.\nFailed to authorize with API resource references\ngithub.com/kubeflow/pipelines/backend/src/common/util.Wrap\n\t/go/src/github.com/kubeflow/pipelines/backend/src/common/util/error.go:275\ngithub

[2022-08-01 08:27] juliusvonkohout commented on #8074
By default every kubeflow user can hijack them, since these endpoints are unauthenticated. So first they need ANY kind of authentication.

[2022-08-01 08:31] juliusvonkohout commented on #8074
@chensun (@zijianjoy college at google) already approved #7819 so i do not think that it is affected. Readartifact etc. is really called by users for a proper reason. Reportworkflow might only be abused for no reason.

[2022-08-02 12:36] cgparkinson commented on #7662
Hi, customer here :)

I believe this has another impact too. When setting an integer `backoff_duration`, we get the error `AttributeError: 'int' object has no attribute 'replace'`.

It seems integer coercion to string is not implemented. Integer `backoff_duration` is allowed in the docs here https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.BaseOp.set_retry

Though it

[2022-08-02 20:52] JuanValencia commented on #7909
It says in the description: [Tutorial] Data passing in python components

[2022-08-02 22:54] #7995 closed

[2022-08-03 04:10] lightingghost opened #8094 "[feature] Nested component"
### Feature Area

/area components

### What feature would you like to see?

I would like to be able to do nested call to components, for example

[code]

### What is the use case or pain point?
* It helps reuse the code.

### Is there a workaround currently?
No.

---

Love this idea? Give it a 👍.

[2022-08-03 04:18] lightingghost opened #8095 "[bug] TypeError: Object of type PipelineParam is not JSON serializable"
### Environment

*  KFP SDK version:
1.8.13

### Steps to reproduce

[code]
it give error of `TypeError: Object of type PipelineParam is not JSON serializable`

### Expected result

it compiles without an error

### Materials and reference

### Labels

/area backend

---

Impacted by this bug? Give it a 👍.

[2022-08-03 05:33] kotalakshman opened #8096 "container not ready status showing"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version: 1.7.1

*  KFP SDK version:

### Steps to reproduce

### Expected result

### Materials and Reference

---

Impacted by this bug? Give it a 👍.

[2022-08-03 06:42] ysk24ok opened #8097 "[sdk] Compilation with V2_COMPATIBLE mode fails when inputPath/outputPath name contains an empty space"
### Environment

*  KFP version:

*  KFP SDK version: 1.8.13

*  All dependencies version:

[code]

### Steps to reproduce

[code]

---

Run the code and we will get the following error.

[code]

`op.input_artifact_paths` is `{'input-path': '/tmp/inputs/input_path/data'}` and `artifact_name` is `input path` so we're getting this error.

---

In the case of `output_path_op`, we will get the followi

[2022-08-03 14:48] AlexandreBrown commented on #8097
This issues also causes Katib to not work on V2_COMPATIBLE_MODE as well since its componente uses spaces https://github.com/kubeflow/pipelines/blob/e312d95aeda209b5314bfb8e9e10077aa0589c2c/components/kubeflow/katib-launcher/component.yaml#L21

[2022-08-03 23:14] connor-swanson commented on #5783
@Shuai-Xie What are you passing to `RunServiceApi()` to correctly authenticate to your kfp instance?

I'm currently using the following but keep getting "None" as a response from list_runs

[code]

Any idea what's going on here?

[2022-08-04 09:15] TobiasGoerke commented on #7939
Kubeflow's definitely misses the ability to manage artifacts and I'm glad I am not the only one thinking so (also see #5783). I'd love to see invalidating the cache and deleting artifacts in the UI become a feature.

However, [MLMD doesn't seem to support deleting artifacts anytime soon](https://github.com/google/ml-metadata/issues/69) and it wouldn't help us managing Kubeflow's cache, anyways.

T

[2022-08-04 09:44] chensun commented on #7939
@juliusvonkohout Thank you for the write up. Given this is a nontrivial user interface change. I would suggest you write a design doc so that we can conduct a proper design review by our team and the community.

[2022-08-04 09:46] chensun commented on #7939
Thanks @TobiasGoerke , and same suggestion as writing a design doc so that we can review it properly.

[2022-08-04 10:02] chensun commented on #8067
I'm not certain if the current KFP backend implementation on importer is correct or complete at this point. Concept-wise, importer doesn't download an artifact per se, it only retrieves or registers (if not found) an artifact record from MLMD.
It is launcher that handles downloading from artifact's remote storage URI: https://github.com/kubeflow/pipelines/blob/e312d95aeda209b5314bfb8e9e10077aa0589

[2022-08-04 10:24] #7818 closed

[2022-08-04 13:25] TobiasGoerke commented on #7939
I've created a [draft](https://docs.google.com/document/d/1WdPjTgoDj5AdPNYVzqYwVIWKsWjPPphYD3Ck4DFxSLA/edit#). What's the workflow for proposals? Where to post this proposal? Thanks.

[2022-08-04 13:41] juliusvonkohout commented on #7939
@TobiasGoerke  just write me or Diana atanasova on the kubeflow slack. We have some experience with those drafts.

[2022-08-04 16:47] eshaingle opened #8103 "[backend] JSONDecodeError: in BigQuery `bigquery_create_model_job` execution"
### What steps did you take ###
Executing big query create model functionality through pipeline using

image: gcr.io/ml-pipeline/google-cloud-pipeline-components:1.0.13
command: [python3, -u, -m, google_cloud_pipeline_components.container.v1.gcp_launcher.launcher]
with type: `BigqueryCreateModelJob`,

Also followed the component.yaml format as mentioned here:

https://github.com/kubeflow/pipelines

[2022-08-04 17:05] TobiasGoerke opened #8104 "[feature] Make managing the artifact storage and cache available in the UI"
I'd like users to be able to manage the artifacts their pipelines have created. This involves disabling or invalidating the cache for certain artifacts so that a pipeline can be re-executed without having to touch code.

I've first mentioned this feature [here](https://github.com/kubeflow/pipelines/issues/7939#issuecomment-1204986272)(#7939) and posted the following GIF, exemplifying how such a fe

[2022-08-04 20:04] dkmiller commented on #3445
Hi everyone, I'm quite interested in this as well. Is there any progress towards built-in support for distributed training jobs in pipelines?

[2022-08-04 22:01] maganaluis commented on #5404
/reopen

[2022-08-04 22:36] connor-mccarthy commented on #8097
Hi @ysk24ok. We no longer support v2-compatible mode. If you'd like to use this compilation style, please consider using the official KFP v2 pre-release (`pip install kfp --pre`). Otherwise, please use a name without a space for v2 compatible mode.

[2022-08-04 22:40] connor-mccarthy commented on #8087
/cc @zijianjoy

[2022-08-04 22:43] connor-mccarthy commented on #8094
Hi @lightingghost. Thanks for your feature request. This is concept of using a pipeline as a task is actually currently in development. You can look forward to this in an upcoming release.

[2022-08-04 22:44] zijianjoy commented on #8087
Question: Which endpoint are you trying to reach within this `load` step? It looks like you need to authenticate before making request: Some documentation might be relevant in terms of making network call within cluster: https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#multi-user-mode

[2022-08-04 22:44] connor-mccarthy commented on #8096
@kotalakshman, could you please provide some more information or screenshots to help us diagnose this issue?

[2022-08-04 22:46] connor-mccarthy commented on #8095
Hi @lightingghost. Using a component within a list comprehension is not a permitted component usage pattern in the KFP SDK and will result in unpredictable behavior. This is the source of the error.

`outputs = {i: compute(i).output for i in range(10)}`

[2022-08-04 22:46] #8095 closed

[2022-08-04 22:56] connor-mccarthy commented on #6517
Users can now specify the Minio instance to use by using a KFP v2 deployment (alpha) and KFP SDK v2 (beta).

[2022-08-04 22:56] #6517 closed

[2022-08-04 22:56] dvaldivia commented on #6517
@connor-mccarthy do you have an example?

[2022-08-04 22:58] connor-mccarthy commented on #6517
This is specified via the `pipeline_root` argument in this example: https://www.kubeflow.org/docs/components/pipelines/sdk-v2/v2-compatibility/#compiling-and-running-pipelines-in-v2-compatibility-mode. The example is v2 compatible mode, but this applies to KFP v2 also.

`pipeline_root`:
[code]

[2022-08-04 23:59] #6772 closed

[2022-08-05 00:12] AlexandreBrown commented on #8097
@connor-mccarthy This is not always possible, looking at the katib component, it currently does not work for V2 Compatible mode due to spaces in the input/outputs https://github.com/kubeflow/pipelines/blob/b9a052319e31385f90eb6c8704474376856d3900/components/kubeflow/katib-launcher/component.yaml#L21

In our case we're using Kubeflow 1.4.1, V2 engine is not supported and we don't want to use V1 Leg

[2022-08-05 16:28] connor-mccarthy commented on #8097
Thanks for explaining @AlexandreBrown. I'm reopening and labelling this as a KFP SDK feature request to handle the spaces issue.

@zijianjoy, do you have any more general KFP BE upgrade instructions that you can provide to @AlexandreBrown?

[2022-08-05 17:36] zijianjoy commented on #8097
Hello @AlexandreBrown , can you share more about what your kubernetes environment is (tool and k8s version) and which cloud provider you are using?

In general, you can follow https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/#upgrading-kubeflow-pipelines which is platform agnostic. But because you are using full Kubeflow, you need to review the difference betwe

[2022-08-05 18:54] AlexandreBrown commented on #8097
Hi @zijianjoy , we're using Kubernetes 1.21, running Kubeflow 1.4.1 on AWS (EKS).
@surajkota Can you comment on whether it is safe to follow the standalone-deployment instructions for AWS?

[2022-08-05 19:22] zijianjoy commented on #8097
@AlexandreBrown For AWS, this is how you deploy vanilla Kubeflow on EKS https://awslabs.github.io/kubeflow-manifests/docs/deployment/vanilla/guide/#kubeflow-pipelines, so you just need to change the version to KFP 1.8.3 and compare the diff. If you are using AWS distribution, then @surajkota can provide more info about it.

Note that current Kubeflow 1.4.1 won't work on Kubernetes 1.22+. Once Kube

[2022-08-06 13:05] jayanthp-intellect commented on #8052
@chensun @jlyaoyuli Is the information I provided relevant/sufficient for you guys to proceed or do you need more clarification? Let me know. Thanks.

[2022-08-08 15:36] eshaingle commented on #8103
Hi Team,
any suggestions here?

[2022-08-08 15:39] kdubovikov opened #8111 "[frontend] Artifact API Does not support S3 Regions"
<img width="1727" alt="Screenshot 2022-08-08 at 18 16 17" src="https://user-images.githubusercontent.com/832185/183455928-0c6c6c10-da25-4c2b-b19f-13573e43bafe.png">

<img width="1719" alt="Screenshot 2022-08-08 at 18 16 02" src="https://user-images.githubusercontent.com/832185/183455906-ba856df3-d657-4bbb-922f-572c7faf2aae.png">

Artifact fetching API does not seem to support region for s3 resourc

[2022-08-08 15:44] kdubovikov commented on #8111
My bad, I've found that it actually uses `AWS_REGION` variable here: https://github.com/kubeflow/pipelines/blob/e8abec24fed4c4f8be6f527207b1cec9811ce3e7/frontend/server/configs.ts#L129. Will add that to deployment to test if it works

[2022-08-08 15:47] kdubovikov commented on #8111
It works as expected if I specify `AWS_REGION`, `AWS_SECRET_ACCESS_KEY`, and `AWS_ACCESS_KEY_ID `

[2022-08-08 15:55] davidbellemare commented on #7363
Ran into the same issue as the author. Since, those components files referencing that ml-pipeline-gcp images are being deprecated, whats the recommented way to manage dataproc (create/delete)?

That means that code sample in the doc is not right anymore then:
https://www.kubeflow.org/docs/components/pipelines/introduction/#the-python-code-that-represents-the-pipeline

[2022-08-08 19:28] surajkota commented on #5394
/lifecycle frozen

[2022-08-09 04:17] hollyhutson opened #8117 "[sdk] SlicedClassificationMetrics Artifact load_confusion_matrix has incorrect call"
### Environment

*  KFP version: N/A
*  KFP SDK version: `1.8.13`

### Steps to reproduce

Use a `SlicedClassificationMetrics` Artifact and try to call `load_confusion_matrix`. Internally this calls `log_confusion_matrix_cell` on the `ClassificationMetrics` object instead of `log_confusion_matrix`, which results in a type error:
`TypeError: log_confusion_matrix_cell() missing 1 required positional

[2022-08-09 04:35] jagadeeshi2i commented on #8051
@kanwaljitkhurmi did the launcher start worker and master pods ? Can you share the logs or describe the pod.

[2022-08-09 05:22] kotalakshman commented on #8096
issue got resolved.

Thanks

[2022-08-09 05:22] #8096 closed

[2022-08-09 12:45] GytisBraz opened #8119 "[sdk] kfp==2.0.0b1 is incompatible with google-cloud-pipeline-components"
### Environment

*  KFP version: `2.0.0b1`

### Steps to reproduce

`pip3 install kfp==2.0.0b1`

followed by

`pip3 install google-cloud-pipeline-components`

### Expected result

I expect both packages to be compatible. `google-cloud-pipeline-components` is an [SDK](https://pypi.org/project/google-cloud-pipeline-components/) for interacting with Vertex AI, and `kfp>=2.0.0b1` is the version that i

[2022-08-09 20:50] zpChris opened #8121 "[frontend] Table sort mechanism broken on multiple tabs"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Kubeflow Pipelines Standalone

*  KFP version:

`HEAD`

### Steps to reproduce

1. Go to the `Runs`, `Artifacts`, or `Executions` tab on KFP
2. Try to sort by any of the desired and sortable columns

### Expected result

You should see the table sort itself based on that column, but either nothing changes or the table contents disap

[2022-08-09 22:12] deepyaman commented on #8067
@chensun Thanks for the reply (and sorry for the delayed response on my end)! I think that makes sense, and I understand that it's closely tied with MLMD, and therefore there wouldn't be a pure Argo equivalent.

[2022-08-09 22:12] #8067 closed

[2022-08-09 22:13] Ark-kun commented on #7860
Are you sure you've included the whole code?

I'm not sure this can work: `output_path.path`.
You should replace it with just `output_path`.

Your second issue is that your 2nd component is getting the texts without `InputPath`.
Replace `docs: List[str]` with `docs_path: InputPath(List[str])`.

Then it should work.

Under the hood, in KFP, the way the upstream output is compiled depends on how it'

[2022-08-10 01:20] shivaylamba opened #8125 "[feature]Add a KubeFlow pipeline for TensorFlowJS/JavaScript"
### Feature Area

 /area javascript
 /area samples
 /area pipelines

### What feature would you like to see?

We would like to see a dedicated pipeline for TensorFlowJS or even a pipeline for JavaScript. Today TensorFlowJS is being used in a lot of production use cases. And it makes sense to have dedicated KubeFlow Pipeline for JavaScript/NodeJS.

### What is the use case or pain point?

Today Ten

[2022-08-10 01:28] droctothorpe opened #8126 "[feature] Implement comprehensive unit tests for the KFP SDK Client class"
### Feature Area

/area sdk

### What feature would you like to see?
We would like to see comprehensive unit tests for the KFP SDK [Client](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/client/client.py#L82) class to improve confidence in code changes.

The existing coverage looks [quite sparse](https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/client/client_test.