[2019-09-19 17:27] ajchili commented on #2101
Hey @xauthulei, the fix was merged!

[2019-09-19 17:52] numerology opened #2171 "[Test/sample] kubeflow_tf_serving sample potentially causes conflict in model/version path."
Currently, in the sample we use a hard-coded model version '1', which will be concatenated with the random ID of sample test run to form the model/version path.

However, when there is no new commit pushed in a PR, the random ID of the sample test won't be renewed, and during the second run, `tf.keras.experimental.export_saved_model` will fail due to conflicted path.

[2019-09-19 17:54] numerology commented on #2171
Context #2047
Temporary fix is to use timestamp as version to avoid conflict, see #2170 .

[2019-09-19 17:55] numerology commented on #2171
cc @gaoning777 .
A tentative long-term solution is to use placeholder in test config file to dynamically resolve the actual parameter used for each run.

[2019-09-19 20:43] Ark-kun opened #2172 "Show small artifacts in UX inputs/outputs"
Currently the UX run node details page only shows the values of the input/output parameters.
That page should also show small artifacts.
For each artifact, frontend should query the size and if it's less than, say, 1KiB, then the data should be downloaded, optionally unpacked and then shown in the same list. If the data size is bigger then the UX could show the size and optionally a download link.

[2019-09-19 20:44] Ark-kun commented on #2172
@eterna2 What do you think?

[2019-09-19 21:28] Ark-kun opened #2175 "kubeflow_tf_serving - AssertionError: Export directory already exists, and isn't empty."
This error is probably triggered by retests. This issue should be fixed so that the sample tests not fail.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2147/kubeflow-pipeline-sample-test/1174732841389395970
[code]

[2019-09-19 21:31] numerology commented on #2175
The root cause and possible solution is triaged in #2171

[2019-09-19 21:43] Ark-kun commented on #2175
Closing as duplicate of https://github.com/kubeflow/pipelines/issues/2171

[2019-09-19 21:43] #2175 closed

[2019-09-20 00:21] numerology opened #2177 "[Components/GCP] Dedicated visualization component using customized metadata"
Context #1913 .
In the XGBoost training sample, we rely on component file_output to pass metadata and information around, which is not trivially support in the new GCP component, which only support default UI metadata output and job ID output.

A possible solution to this gap is to create a dedicated GCP visualization component digesting customized metadata (possibly in a json format). Before that

[2019-09-20 01:05] xauthulei commented on #2101
@ajchili , Thanks, I will test it many thanks.

[2019-09-20 02:54] Ark-kun commented on #2177
The XGBoost training component is different from the generic "PySpark" component even if one can be implemented on top of another. "PySpark" runs arbitrary code while "XGBoost" performs model training.  They do different operations with different data signatures and thus should be separate components.

"XGBoost" component could be switched to use the PySpark code for execution of its code though.

[2019-09-20 14:21] sbko commented on #561
I'm running Kubeflow v0.6.2. Pipelines still trying to mount hostPath:
`Invalid value: "hostPath": hostPath volumes are not allowed to be used"`

[2019-09-20 21:14] jessiezcc commented on #2169
@gaoning777, can you provide instructions and identify what doc update needs to be done as well?

[2019-09-20 21:17] jessiezcc commented on #2154
@cyrilthank, can you pls check whether ssh or IAP is enabled?

[2019-09-20 21:21] jessiezcc commented on #2131
@randxie, can you pls close this issue since it seems the issue is being resolved.

[2019-09-20 21:23] jessiezcc commented on #2120
great idea, looking for community help

[2019-09-20 21:30] jessiezcc commented on #1962
@james-jwu, can you pls assess?

[2019-09-20 22:08] #2131 closed

[2019-09-20 22:52] robin5540 commented on #2120
I'll put in a PR

[2019-09-21 01:13] eterna2 commented on #2172
Sure I can have a look at this.

[2019-09-21 03:49] neuromage opened #2185 "Let user choose the version of Tensorboard deployed by UI"
We should allow the user to manually customize the version of Tensorboard deployed by the UI, defaulting to latest. This will let them easily get around bugs like that in #2140

/assign @jingzhang36
 to take a first stab or re-assign as needed.

[2019-09-22 22:35] bbhuston commented on #1481
@shouryaotta  Could you paste a quick example of how you are generating raw argo workflow yaml, submitting via kubectl (or argo cli et), and having it successful show up in the kubeflow pipelines UI?  I cannot seem to make this happen and am I wondering if there is some trick to doing this (like special labels on the workflow yaml etc).

Thank you in advance!

[2019-09-23 01:57] panpanli521 opened #2191 "problem with submitting a TFJob CRD to Pipelines"
If I submit a TFJob CRD to Pipelines for distributed training, does Pipeline support multiple machines and multiple gpus training? Or it only support one machine and muptiple gpus through creating only one Pod for each component? Thanks.

[2019-09-23 02:58] Bobgy commented on #2086
@neuromage Do you think if there are further gaps in UI that should be p0? Shall we close this and make another dedicated issue for tracking the stretch goal?

[2019-09-23 03:04] xiaogaozi commented on #2071
We faced the same issue, `ListRuns` API become very slowly when `resource_references` table is large (about 6000 rows). In most case the API couldn't send response back.

[2019-09-23 03:59] Bobgy opened #2196 "Refactor frontend to use promise based grpc-web metadata api"
Per comment https://github.com/grpc/grpc-web/issues/580#issuecomment-511337770

We can generate promise based grpc-web api directly (by generating commonjs + .d.ts typescript definition files), no need to maintain a wrapper by ourselves like https://github.com/kubeflow/pipelines/blob/master/frontend/src/lib/Apis.ts#L92.

/area front-end
/priority p1
(It would be better if we do this earlier, becau

[2019-09-23 07:19] #2191 closed

[2019-09-23 07:20] panpanli521 commented on #2191
closed

[2019-09-23 15:48] Akashdesarda commented on #2124
YES

[2019-09-23 17:01] JasonTam commented on #1471
I know this is several months old but FWIW, with microk8s v1.15.3 and kubeflow v0.6 , I solved this issue by changing the kubelet container-runtime from remote to docker by editing `/var/snap/microk8s/current/args/kubelet`  :
[code]

[2019-09-23 17:12] gaoning777 commented on #2109
multiple_output sample is not tested, yet

[2019-09-23 17:49] gaoning777 opened #2202 "Tracking Q3 sample efforts"
TFX sample: https://github.com/kubeflow/pipelines/issues/1903 Done
Tests for core samples: https://github.com/kubeflow/pipelines/issues/1813 Done
Sample test infra fix: https://github.com/kubeflow/pipelines/issues/2148 Done
XGBoost sample: https://github.com/kubeflow/pipelines/issues/1913 Done
Dataflow components: https://github.com/kubeflow/pipelines/issues/2203 Done

[2019-09-23 17:53] gaoning777 opened #2203 "Clean dataflow components"
Since the old dataflow components are not used in any samples, deprecating and removing them.

[2019-09-23 18:13] #2203 closed

[2019-09-23 20:14] Ark-kun commented on #2124
Do you have any python syntax in mind on how to specify the pipeline parameter descriptions?

[2019-09-23 22:04] Ark-kun opened #2206 "PipelineParams that are part of a complex argument object are not serialized properly"
Reported by @numerology :
When passing a list containing `PipelineParam` as an argument to a component (this is a pretty new feature), the `PipelineParam` is not serialized to string in a correct way.

The issue is similar to how object serialization works in other cases in python:
[code]

In latest SDK versions, lists are serialized to string using `json.dumps`. We need to investigate how the ser

[2019-09-23 22:19] #1796 closed

[2019-09-23 22:28] Ark-kun commented on #2206
@numerology I've tried to reproduce the issue, but I see different behavior. Can you provide minimal PoC?

[code]

[2019-09-23 22:38] numerology commented on #2206
@Ark-kun Thanks for triaging this.

This behavior actually depends on the version of KFP being used. It does produce your result if run on HEAD.

[2019-09-23 22:42] Ark-kun commented on #2206
FYI: The support for (JSON) serializing arguments of "List" type inputs was added in release v0.1.29 https://github.com/kubeflow/pipelines/pull/1945 Older implementation used `str()` serialization.

I'll fix `PieplienParam` so that is properly serialized with either `str()` or `json.dumps()`.

[2019-09-23 23:04] Ark-kun opened #2208 "Add the "multiple outputs" sample to sample tests"

[2019-09-23 23:07] Ark-kun commented on #1611
Fixed by https://github.com/kubeflow/pipelines/pull/1889

[2019-09-23 23:07] #1611 closed

[2019-09-23 23:09] Ark-kun opened #2209 "Convert the "component build" sample to use `func_to_container_op`"
The sample currently uses the `build_python_component` API. We should upgrade it to `func_to_container_op` + container-building.

[2019-09-23 23:09] Ark-kun opened #2210 "Convert the "multiple outputs" sample to use `func_to_container_op`"
The sample currently uses the `build_python_component` API. We should upgrade it to `func_to_container_op` + container-building.

[2019-09-23 23:10] Ark-kun commented on #2109
Tracking that in https://github.com/kubeflow/pipelines/issues/2208
Also https://github.com/kubeflow/pipelines/issues/2209 https://github.com/kubeflow/pipelines/issues/2210

[2019-09-24 00:02] numerology opened #2211 "[Component] GCP dataproc create_cluster component cannot correctly specify image_version."
Issue:
When specifying not-null image version, create_cluster component raises:
`<HttpError 400 when requesting
https://dataproc.googleapis.com/v1/projects/ml-pipeline-dogfood/regions/us-central1/clusters?alt=json&requestId=7c933fdacb068cd6811fb40b8334a3d4
 returned "Invalid JSON payload received. Unknown name "softwareConfig" at 'cluster': Cannot find field.">`

Initial investigation shows that i

[2019-09-24 00:03] numerology commented on #2211
Blocking #1913

[2019-09-24 00:03] numerology commented on #2211
cc @gaoning777

[2019-09-24 01:09] #2115 closed

[2019-09-24 01:23] Ark-kun commented on #1968
Closing as probable duplicate of #1654

[2019-09-24 01:23] #1968 closed

[2019-09-24 01:31] Ark-kun commented on #1654
Good news: The 'mlmetadata-*' artifacts are no longer automatically added to every single pipeline task. (There are still some components that explicitly produce those.)

Side news: All outputs now produce artifacts.

We need to investigate how to make Argo copy the artifacts when using PNS. They should be supporting this, otherwise it's a bug. I need to check the exact criteria for the "emptyDir"

[2019-09-24 04:05] eterna2 commented on #2172
@Ark-kun
hey i was looking at the codes. There are a few ways I can see how this can be done:

### purely front-end
front-end consumes the run data, and makes artifact requests if it detects that the parameters are artifacts.

### purely back-end (node)
hijack the response from the proxied run request, and scan for artifacts (and their size) and return an updated response.

[2019-09-24 05:22] Bobgy opened #2215 "[Frontend] Server Testing - test infra for pipeline ui node server"
Pipeline UI node server has 0 test coverage at the moment. It prevents adding new features into the node server with confidence. In order to test more nuanced features like added in #2081.

We should add
* (lower effort, lower confidence) some basic jest tests that just test the node server
* (higher effort, higher confidence) some e2e tests that test the node server with a real cluster

Starting

[2019-09-24 07:32] saschagrunert commented on #1654
Sounds good, thanks for the update. I guess an easy way would be the usage of kubeadm with some natively supported distribution, like ubuntu 18.04. Then you could use the [project atomic PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa) to install CRI-O and bootstrap the node with selecting the `crio.sock` as runtime endpoint.

[2019-09-24 10:51] knkski commented on #1654
@Ark-kun: As far as setting up a Docker-less environment, I ran into this issue while using microk8s, which uses containerd.

[2019-09-24 15:23] gaoning777 commented on #2109
Is the func_to_container_op conversion necessary for the tests?

[2019-09-24 16:13] neuromage commented on #2086
Yes, this looks great now, thanks @Bobgy!

[2019-09-24 16:13] #2086 closed

[2019-09-24 18:37] gaoning777 commented on #1903
We are not supporting the old dataflow components and will use the TFX components in the https://github.com/tensorflow/tfx.
We are currently writing a TFX sample using these components that can work without calling GCP services. It should be merged in the near future.

[2019-09-24 18:49] gaoning777 commented on #1519
argo bug: https://github.com/argoproj/argo/issues/1620

[2019-09-24 19:30] knkski opened #2223 "Binary output artifacts getting encoded as string"
**What happened:**

Tried using the output artifacts as mentioned in https://github.com/kubeflow/pipelines/issues/1654#issuecomment-534348720

**What did you expect to happen:**

I expected to be able to pass binary artifacts around between tasks

**What steps did you take:**

I'm getting an issue related to bytes getting encoded as a string somewhere (`b"b'\\x00\\x01'"` instead of `b'\x00\x01'`)

[2019-09-24 20:27] kschroed commented on #1654
Yes having same issue. I've only had success with pipelines going back to microk8s 1.13 and putting manual work around in.

@Ark-kun the lastest stable micork8s 1.15 and higher is docker-less and uses containerd. So snap install microk8s --classic should get you a dockerless kubernetes cluster.

[2019-09-24 22:08] axelmagn opened #2225 "KFP SDK fails in sample with syntax error: "TypeError: pop() takes no keyword arguments""
**What happened:**

Environment:  I am running a v0.6.2 Kubeflow cluster on GKE, deployed via [the UI](https://deploy.kubeflow.cloud/#/deploy).

I was running through the component build sample (`samples/core/component_build/component_build.ipynb`), which I had uploaded to my kubeflow cluster.  When I got to the step "Build a Component With the Above Function", execution failed with the following

[2019-09-24 22:20] Ark-kun commented on #561
What Kubernetes environment do you use? Does this Argo sample work for you? https://github.com/argoproj/argo/blob/master/examples/artifact-passing.yaml

If you're using a Docker-less environment the first step would be to change Argo workflow controller configuration to non-Docker executor. See this thread: https://github.com/kubeflow/pipelines/issues/1654

[2019-09-24 22:24] Ark-kun commented on #1654
Just to remind:
So, the first step for Docker-less environment is to tell Argo to use non-Docker executor (e.g. k8sapi, kubelet or pns) in the configmap: https://github.com/argoproj/argo/blob/ca1d5e671519aaa9f38f5f2564eb70c138fadda7/docs/workflow-controller-configmap.yaml#L78.

[code]
[code]

[2019-09-24 22:48] Ark-kun opened #2226 "Release SDK v0.1.31 to PyPI"

[2019-09-24 23:15] Ark-kun commented on #2226
I've released the following SDK package: https://storage.googleapis.com/ml-pipeline/release/0.1.31/kfp.tar.gz
It corresponds to the original release tag for [v0.1.31](https://github.com/kubeflow/pipelines/releases/tag/0.1.31) which was pointing to 005a2e54d1295e662da72044a859777a4c3b45a6. The tag was later replaced with https://github.com/kubeflow/pipelines/commit/7dab30085e2edda6fb4ecb61a61c9f376

[2019-09-24 23:15] #2226 closed

[2019-09-24 23:16] Ark-kun commented on #2225
Sorry about this bug. It has already been fixed in SDK v0.1.31. https://github.com/kubeflow/pipelines/issues/2108 https://github.com/kubeflow/pipelines/pull/2107
Please upgrade your SDK to fix it:
[code]

[2019-09-24 23:16] #2225 closed

[2019-09-24 23:18] Ark-kun commented on #2225
BTW, What is the container-building scenario that you want to achieve?
Have you tried the Lightweight components feature - [kfp.components.func_to_container_op](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.components.html#kfp.components.func_to_container_op) which creates components without building containers.

[2019-09-24 23:35] Ark-kun commented on #2223
By support I meant the technical ability of the underlying DSL and compiler. The ability to write a program that reads and writes file, then create component.yaml for it, load it, use in the pipeline, compile and have the system pass the data files for you. This did not yet include the improved support in Lighweight components.
The improved support comes to Lightweight components this week.

The p

[2019-09-24 23:38] Ark-kun commented on #2223
P.S.
1. Why do you install kfp package inside the container? `kfp` should not be needed at runtime.
2. Why do you add that installation code through `extra_code`?

[2019-09-24 23:43] Ark-kun commented on #2223
Oh I see why you're doing this. This syntax won't work - you need to use plain `InputBinaryFile` without the module name (there would be plain `class InputBinaryFile` in runtime).
I can try fixing this limitation (by removing the annotations), but it might not be trivial.

[2019-09-24 23:48] Ark-kun commented on #2223
[code]

[2019-09-25 00:12] #2211 closed

[2019-09-25 02:44] #2206 closed

[2019-09-25 03:46] cyrilthank commented on #2154
@jessiezcc  you are right ssh was not installed but I have ever since scrapped the environment

can you please share the document where I can find the step listed so I can try in new environment

[2019-09-25 03:47] axelmagn commented on #2225
Thanks!  I will likely use `func_to_container_op` in my model then.  Right now I am just running through examples to make sure I understand the semantics.

[2019-09-25 09:46] hemantha-kumara opened #2235 "Is there a way to specify namespace for kfp.dsl.ContainerOp ?"
I am trying to create a container(pod) which uses pvc which is under other namespace.

[code]
`create_tf_record_job(tf_volume)`

but problem is by default containerOp is creating a pod in 'kubeflow' namespace but pvc is in another namespace.
is there a way to speciy namespace in containerop ?

[2019-09-25 11:22] knkski commented on #2223
Awesome, thanks for the help! It's working for me now. And no, I don't have a need for `components.InputBinaryFile` vs just `InputBinaryFile`, I just wasn't aware that one vs the other would work.

[2019-09-25 11:22] #2223 closed

[2019-09-25 17:48] kschroed commented on #1654
I updated my Argo run time to k8sapi as suggested above and re-ran sample pipelines. It is now failing with:

invalid spec: templates.echo.outputs.artifacts.mlpipeline-ui-metadata: k8sapi executor does not support outputs from base image layer. must use emptyDir

[2019-09-25 18:53] logicbomb421 opened #2237 "Upgrade - Best way to update pipelines when a new release is published?"
Sorry if this isn't the best place for this, but I can't seem to find any concrete info on the matter.

Currently we use Kubeflow as a whole (deployed via the GCP Kubeflow [deploy integration](https://deploy.kubeflow.cloud/#/deploy)), however we really only make use of the Pipelines piece right now.

I'd like to be able to keep up-to-date with releases in this project, but all info I'm finding on

[2019-09-25 19:21] Ark-kun commented on #1087
The instructions are in the release playbook.
The problem with automating it is passing the PyPI password to `twine` or authenticating some other way.

[2019-09-25 19:24] Ark-kun commented on #2237
New SDK features almost never require any cluster upgrades.
When upgrading the cluster, changing the image names is often enough, but it's not always the case. Sometimes, new services are added or roles are changing, etc. @IronPan knows the details.

[2019-09-25 19:26] Ark-kun commented on #2235
How would you do this (create pod with volume from other namespace) in plain Kubernetes YAML?

[2019-09-25 19:27] Ark-kun commented on #2215
Can you clarify the e2e tests item? I think we run some frontend tests as part of 2e2 tests.

[2019-09-25 20:01] hemantha-kumara commented on #2235
In kubernetes yaml, we can't do this. Hence I am asking is there any way we can call containerop with namespace. So that I can specify PVC namespace to pod also. Currently pipeline is creating pod only in kubeflow namespace.
________________________________
From: Alexey Volkov <notifications@github.com>
Sent: Thursday, September 26, 2019 12:56:20 AM
To: kubeflow/pipelines <pipelines@noreply.github

[2019-09-25 21:14] Ark-kun opened #2238 "Consider only re-releasing the envoy container image if upgrading to new version"
See https://github.com/kubeflow/pipelines/pull/2201#issuecomment-535221280 for similar observations.

[2019-09-25 21:57] jlewi opened #2239 "Update kubeflow/manifests to ship correct version of KFP in 0.7? 1.31"
We are trying to finalize Kubeflow 0.7 by end of month.

Which version of KFP should be shipped in 0.7.

We are currently shipping KFP 0.1.23.
It looks like this is about 1 month old.
It looks like there was a fairly recent release
0.1.31
https://github.com/kubeflow/pipelines/releases

@IronPan @jessiezcc  Should we ship 0.1.31 in 0.7? Are there additional improvements that we would like to ship i

[2019-09-25 21:57] jlewi commented on #2239
P0 because blocking 0.7.

[2019-09-25 22:09] hlu09 opened #2240 "client.get_experiment is case-sensitive, but create_experiment is case-insensitive"
**What happened:**
1. Create an experiment name "Aaa".
2. The code below will fail. get_experiment is not going to find the "AAA" because case is different. create_experiment will also fail because it is case insensitive.

   experiment_name = "AAA"
    try:
        experiment_id = client.get_experiment(experiment_name=experiment_name).id
    except:
        experiment_id = client.create_experimen

[2019-09-25 22:14] jessiezcc commented on #2239
@jingzhang36, should we include version API to .7 release?

[2019-09-25 22:26] Ark-kun commented on #2223
Generally you should not need to be aware about this. But the current implementation of Lightweight components uses code copying and requires the functions to be self-contained (unless code pickling is used). While this does not add many limitation to the function contents, this puts severe limitations on type annotations used in the function signature. At this moment only `NamedTuple`, `Input*` a

[2019-09-25 22:29] Ark-kun commented on #1654
Could you try experimenting on the basic Argo artifact passing pipeline: https://github.com/argoproj/argo/blob/master/examples/artifact-passing.yaml

Just try running it on KFP or Argo.

[2019-09-25 22:32] Ark-kun commented on #1519
Thank you!

[2019-09-26 00:33] jingzhang36 commented on #2239
@jlewi @jessiezcc We are working on a new release 0.1.32. If it can be completed by end of this month, let's use it. Otherwise, we can use 0.1.31. I'll update soon after I get more information on 0.1.32.

[2019-09-26 01:08] Ark-kun commented on #1025
Our samples have been using strictly versioned components fro a while. We store most components on GitHub and use commit-based perma-links to the component files.
The release script properly handles the updates.

There might be some improvements to this process in future (e.g. storing component versions in GCS bucket or only rebuilding components when the code changes), but generally the versionin

[2019-09-26 01:08] #1025 closed

[2019-09-26 02:12] jingzhang36 commented on #2239
@jlewi @jessiezcc Update: (1) we can't make version API to kubeflow 0.7 unfortunately. (2) synced with Yuan on his license related change, which doesn't need to be included in kubeflow 0.7.

So in short, I believe kubeflow 0.7 could just use kfp 0.1.31.

Thanks!

[2019-09-26 02:32] jlewi commented on #2239
Thanks @jingzhang36.

@jessiezcc @jingzhang36 @jessiezcc Can someone from KFP update the KFP package in kubeflow/manifests to deploy 0.1.31?

[2019-09-26 02:58] jingzhang36 commented on #2239
@jlewi two things: (1) does kubeflow side has some extra tests we need to do before bumping kfp version (2) I'll do the version change after getting final confirmation from Yang @IronPan

[2019-09-26 06:24] jingzhang36 commented on #2239
@jlewi @jessiezcc I did a quick estimation of the workload and it turns out that this time we'll have to include much more than just kfp server image change. Here are two lists of changes inside KFP that we need to sync to Kubeflow https://github.com/kubeflow/pipelines/commits/master/manifests/kustomize and https://github.com/kubeflow/pipelines/commits/master?after=7735a1469478af0d3f5f24a5d0de9080

[2019-09-26 06:38] xiaogaozi commented on #2071
Details after explain the query statement, same as @strangemonad-faire reported, query from `resource_references` table cannot use the `referencefilter` index. Our Kubeflow Pipelines version is 0.1.30.

[code]

[2019-09-26 09:14] Bobgy commented on #2238
I've made one implementation for argo and minio. Any feedback -- start with reading https://github.com/kubeflow/pipelines/pull/2201/files#diff-829c80b08fc7a4553b83c4a055a98069?
and then we can apply the same pattern to envoy.

[2019-09-26 12:57] jlewi commented on #2239
@jingzhang36 You might have to run make generate in kubeflow/manifests to regenerate the kustomize tests to pick up the updated image. I don't think we have any specific pipelines tests.

[2019-09-26 13:05] jlewi commented on #2239
If the update happens after Oct 8 it will likely miss the 0.7 release. Which means we would just continue to ship 0.1.23.

[2019-09-26 16:13] andrewsmartin opened #2244 "IAP host shouldn't be restricted to a cloud endpoint url"
In https://github.com/kubeflow/pipelines/commit/8d5ec83f5e26312ee6cecabe647e79f3c7bf1e9b#diff-1f65a44a2187458da0f00e0ebbe730e5R142-R145, the logic for `self._is_iap_host` uses a regex to ensure that the host name is of the form `https://<deployment>.endpoints.<project>.cloud.goog/pipeline`. This breaks for us, because we use a different hostname, and thus when trying to connect via IAP an auth tok

[2019-09-26 17:27] kschroed commented on #1654
Uploaded example artifact-passing.yaml as kubeflow pipeline and ran experiment. It failed with similar error as above:

invalid spec: templates.whalesay.outputs.artifacts.hello-art: kubelet executor does not support outputs from base image layer. must use emptyDir

[2019-09-26 17:42] jlewi commented on #2244
/cc @IronPan @jessiezcc

[2019-09-26 22:43] Ark-kun commented on #1654
Now let's try to change the output directory to a directory that does not exist in the base image (e.g. foobar):

[code]

[2019-09-26 22:45] Ark-kun commented on #2240
@IronPan What's the prescribed backend behavior?

[2019-09-27 00:05] SinaChavoshi opened #2246 "build_python_component does not work in KF 6.2"
compiler.build_python_component uses the default name space for pod creation. As of KF 6.2 the notebooks are running under a user name space( ex kubeflow-<username>) with editor service account. This service account does not have access to default kubeflow name space by design.

SDK needs to be updated to use the user service account instead.

sample error:

`HTTP response body: {"kind":"Status","

[2019-09-27 01:02] SinaChavoshi commented on #2246
a short work around is to specify the parameter `namespace=` when calling the `build_python_component(` api and set it to the user name space. By default this is set to kubeflow.

`def build_python_component(component_func, target_image, base_image=None, dependency=[], staging_gcs_path=None, timeout=600, namespace='kubeflow', target_component_file=None, python_version='python3'):`

[2019-09-27 01:09] gaoning777 commented on #2246
The default namespace is configured incorrectly. We can change the namespace in the component builder API since the container builder API correctly retrieves the current namespace.

[2019-09-27 02:15] Bobgy commented on #2215
I saw there are some UI e2e tests, but I don't think they cover all usages of the node server.
I need to look deeper for a list of things it didn't cover.

[2019-09-27 04:00] Ark-kun opened #2248 "Show error if passing ContainerOp as an argument to another op"
Prevent accidental `op1(op2())`.

[2019-09-27 07:36] xauthulei commented on #2101
@ajchili ,  I am still get the same error :
[code]
I have deployed the service:
[code]

[2019-09-27 07:59] xiaogaozi commented on #2071
@IronPan @gaoning777 Do you guys have time to address this issue?

[2019-09-27 10:39] jlewi commented on #2101
Here's the docker file for the backend server
https://github.com/kubeflow/pipelines/blob/master/backend/Dockerfile

It looks like the Dockerfile is hardcoding the use of a config file baked into the docker image.
The config file is specified here.
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/config/config.json

That config flag doesn't appear to be specifying ML_PIPELINE

[2019-09-27 10:39] jlewi commented on #2239
0.1.31 appears to be broken because of #2101

[2019-09-27 11:13] jlewi commented on #2101
@xauthulei @ajchili I have a draft PR https://github.com/kubeflow/manifests/pull/392 that appears to fix this issue by updating the config to set the visualization server host and port.  It looks like there is still more work to be done to get the manifest updated. Right now with that PR the UI is making requests to

Cannot POST /ml_metadata.MetadataStoreService/GetArtifacts

And that is failing

[2019-09-27 11:37] jlewi commented on #2239
I have a draft PR to upgrade to 0.1.31
https://github.com/kubeflow/manifests/pull/392

It looks like the UI is unable to contact the metadata service for artifacts and executions. Javascript console shows errors like

[code]

In 0.1.31 is the pipelines UI using gRPC to contact the metadata service?

Do the manifests need to be updated to create a new virtual service for this endpoint?

Are we goin

[2019-09-27 14:28] dushyanthsc commented on #2239
My understanding was that UI should still be talking to kf-metadata and the work to port the changes from pipelines is not done yet. Adding @rmgogogo @Bobgy who are also working on metadata UI.

[2019-09-27 14:57] neuromage commented on #2239
Yes, KFP has switched to using the MLMD gRPC server.

@dushyanthsc has been working with @zhenghuiwang to update the manifests in KF Metadata so it follows the same setup as well.

Can you clarify this? Which loadbalance and ingress point are you referring to? Thanks.

[2019-09-27 15:26] Bobgy commented on #2239
I'd like to confirm what we want to do in KF.

Will we still deploy a metadata-envoy server that proxies from grpc-web to MLMD gRPC server?

If my understanding is right, there won't be UI work for these ports. Is that correct?

[2019-09-27 16:47] SinaChavoshi opened #2251 "Remove container build magic"
This request is to remove the container build magic, this is an alternative path that can become out dated and create confusion for customers.

Suggestion is to remove the functionality and add a proper error message indicating that the library is deprecated and removed.

there are two sections that need to be removed , pipelines/sdk/python/kfp/notebook/_magic.py as well as the corresponding libra

[2019-09-27 17:22] dushyanthsc commented on #2239
With this change - https://github.com/kubeflow/manifests/pull/370  we are deploying - mlmd-grpc (( K8-deployment & service) and envoy(deployment & service) along with the kf-metadata server which means we currently have two mlmd servers running (gRPC & kf-metadata).

[2019-09-27 17:52] SinaChavoshi opened #2252 "library installed with VersionedDependency not accessible"
**What happened:**
Installed a dependency vi VersionedDependency
[code]
Image builds successfully, however when importing the library
from google.cloud import automl_v1beta1

it errors out with
ImportError: cannot import name 'automl_v1beta1' from 'google.cloud' (unknown location)

running the docker image in interactive mode, confirmed the library google-cloud-automl==0.5.0
is installed however n

[2019-09-27 18:48] SinaChavoshi commented on #2252
This issue seems to be limited to the deep learning containers ... it may be an issue with the way the deep learning docker images are constructed.

[2019-09-27 19:23] mattnworb opened #2253 "panic in ml-pipeline-viewer-controller-deployment"
**What happened:**
`ml-pipeline-viewer-controller-deployment` / `gcr.io/ml-pipeline/viewer-crd-controller:0.1.25` crashes due to a panic

**What did you expect to happen:**
For the controller to not panic 😄

**What steps did you take:**
Create a sufficient number of `Viewer` instances so that viewer-crd-controller tries to clean up the oldest one when a new Viewer is created. Instead of being able

[2019-09-27 19:33] jlewi commented on #2239
@neuromage the error I'm seeing is that the pipelines UI I unable to display artifacts and executions. The call to

POST /ml_metadata.MetadataStoreService

Is failing.

I believe this request is being issued by client side Javascript.

This means the metadata service needs to be exposed through  the cluster ingress and ISTIO gateway; i.e. we probably need a virtual service adding an appropriate ma

[2019-09-27 22:02] Ark-kun commented on #2172
Which one would be easier for you to implement? The artifact requests should probably come from the node backend (is that how it's done today?).

[2019-09-27 23:17] jessiezcc commented on #2239
@Ark-kun who is taking over the 0.7 release work on pipeline side

[2019-09-27 23:23] #2246 closed

[2019-09-27 23:35] jessiezcc commented on #2252
@SinaChavoshi, do u suggest we add documentation for it? seems like there is not much we can do on pipeline to address the fundamental issue.

[2019-09-28 01:33] ucdmkt commented on #2252
Do we know if it is because of the way how PYTHONPATH is configured in the DL container? or is it because of the way how kfp.compiler.VersionedDependency(..) installs the package (e.g. .whl vs. pip vs. ...) ?

[2019-09-28 02:50] Bobgy commented on #2239
Let me try to explain how requests are routed. (Please correct me if there's something wrong/inaccurate)

Browser sends HTTP requests encoding gRPC data  using grpc-web library to Frontend node server.
Node server proxies these requests library to metadata-envoy (still in HTTP).
metadata-envoy converts requests to native gRPC and proxies them to metadata-grpc-server.

Does ISTIO gateway only needs

[2019-09-28 02:53] Bobgy commented on #2239
Maybe I'm missing something, why do we still need kf-metadata?

[2019-09-28 16:24] neuromage commented on #2239
@jlewi
Sorry, but I'm not sure I understand. The KFP UI is proxying those requests to the gRPC backend via Envoy. By virtual service, do you mean the Envoy proxy config? If so, this is already set up.

It goes to the gRPC MLMD server.

It uses [gRPC-Web](https://github.com/grpc/grpc-web)

Sorry, I don't understand this. Whose UI set up would we break?

[2019-09-28 16:26] neuromage commented on #2239
@Bobgy

KF-Metadata is the metadata stack, and when we deploy KFP in Kubeflow (not lightweight), we should be using this stack for metadata storage, as well as for reading back metadata in KFP UI. @dushyanthsc's work on bringing the gRPC server + Envoy config in KF Metadata should enable this functionality.

[2019-09-28 19:27] jlewi commented on #2239
@neuromage and @Bobgy the client is getting a 404

Request URL: https://jlewi-0926-002.endpoints.jlewi-dev.cloud.goog/ml_metadata.MetadataStoreService/GetArtifacts
Request Method: POST
Status Code: 404

Is this request supposed to be routed to the frontend node server? If it is is there a virtual service that sets up a reverse proxy route for this rule?

I've attached all the virtual services in m

[2019-09-29 17:58] neuromage commented on #2239
@jlewi what client is sending this request? This setup is intended for the KFP UI.

[2019-09-29 18:31] Bobgy commented on #2239
Realized difference between Kubeflow and KFP lite deployment. In KFP lite, we don't have a reverse proxy, so the frontend node server is used as a reverse proxy to route different API requests to their correct services.

In Kubeflow, looks like we can set up a global reverse proxy. Then we can also choose to let the request directly go to metadata-envoy-service too.

Just adding my understanding h

[2019-09-29 20:33] jlewi commented on #2239
@neuromage Is coming from the artifacts tab in the KFP UI.

[2019-09-30 08:12] Ark-kun commented on #2252
I'm not sure this is related to VersionedDependency. It just adds pip install to the Dockerfile.

Can you try `from google.cloud import automl` instead?

[2019-09-30 08:15] Ark-kun commented on #2251
There is a PR to deprecate it. Should we remove it right away? https://github.com/kubeflow/pipelines/pull/2266

[2019-09-30 08:21] Ark-kun commented on #2239
@neuromage @Bobgy  Do you remember what was the last KFP version where the UI worked in both lite and one-click deployments?

[2019-09-30 16:19] JakeTheWise opened #2268 "output_artifact_paths defaults aren't actually set in dsl.ContainerOp"
**What happened:**
No pipeline output artifacts were being shown in the Kubeflow UI even though I properly wrote metadata to `/mlpipeline-ui-metadata.json`.

**What did you expect to happen:**
I expected a Facets Overview UI to appear in the Run Output / Artifacts of Kubeflow UI.

**What steps did you take:**
I ensured I was writing the html string to `/mlpipeline-ui-metadata.json` properly, follo

[2019-09-30 16:31] Bobgy commented on #2239
@Ark-kun The problem described here (metadata UI) is newly implemented in KFP UI for KFP lite. It never worked before in Kubeflow.

[2019-09-30 18:41] jlewi commented on #2239
@Bobgy just to clarify I'm talking about the KFP UI. Here are two screenshots

Clicking the artifacts tab in pipelines UI shows error code 5

![pipelines_artifacts](https://user-images.githubusercontent.com/777219/65904595-5b4e6a80-e3f1-11e9-8ee4-2742fbe065b0.png)

Looking at the JS network I see a 404 to
 https://jlewi-0926-002.endpoints.jlewi-dev.cloud.goog/ml_metadata.MetadataStoreService/GetAr

[2019-09-30 19:26] andrewsmartin commented on #2268
This looks as though it was an intentional change. https://github.com/kubeflow/pipelines/pull/2046

It would be great to get more clear info about breaking changes in the release notes.

[2019-09-30 19:27] jlewi commented on #2239
To reproduce this follow these instructions to deploy a kubeflow cluster with https://github.com/kubeflow/manifests/pull/392

1. Clone https://github.com/kubeflow/manifests/pull/392
1. Edit the kfctl_gcp_iap.yaml  definition
    * Change the location of the manifests repo to point to the local path where you have  https://github.com/kubeflow/manifests/pull/392  checked out
1. Use kfctl deo ploy th

[2019-09-30 20:03] Bobgy commented on #2239
Sorry for mentioning metadata UI, it's a confusing term in this context. I meant exactly artifact and execution tabs in KFP UI.

I haven't worked on metadata UI before, so I don't know much about it.

@jlewi, I think you are right with other parts.

and using ISTIO for grpcweb proxy sounds like a reasonable solution to me too.

[2019-09-30 20:46] Ark-kun commented on #2268
Yes, this was intentional. Recent versions of Argo fail the workflow is the artifact file is missing. The auto-added artifacts and their special treatment introduced many problems in the system.

This is a good suggestion. We'll try to add this information to the release notes.

[2019-09-30 20:49] Ark-kun commented on #2268
P.S. In near future we're going to deprecate `dsl.ContainerOp(..., output_artifact_paths=...)` in favor of the older `dsl.ContainerOp(..., file_outputs=...)` which now supports the same functionality (producing artifacts).
We'll put deprecation warnings at least 3 releases before removing the feature.

[2019-09-30 20:57] Ark-kun commented on #2268
@JakeTheWise, @andreyvelich, @daikeshi Can you describe your use case for the `mlpipeline-ui-metadata` and `mlpipeline-metrics` artifacts in custom components? And can you also tell a bit more about the components you're creating. Which language do they use? What kind of data they work with? How big is the data? (There are new features that make big data passing much easier for all components - Li

[2019-09-30 20:59] Ark-kun commented on #2109
It's not necessary. I was just going with what you put in the description of this issue: "We can convert it to use the new func_to_containerop and add the test to the e2e.".

[2019-09-30 22:08] quanjielin commented on #2239
/cc @quanjielin

[2019-09-30 22:19] JakeTheWise commented on #2268
All python. I'm basically recreating/customizing TFX pipelines. The datasets can get to be maybe a few gigs.

[2019-09-30 22:58] zhenghuiwang commented on #2239
As discussed offline, we may want to route `ml_metadata.MetadataStoreService` to `metadata-envoy-service`. Similar to
https://github.com/kubeflow/manifests/blob/master/metadata/overlays/istio/virtual-service.yaml

[2019-09-30 23:06] andrewsmartin commented on #2268
Same use case here as @JakeTheWise. We're integrating TFX components with KFP for more customizability. TFX comes with some visualizations out of the box (for example, StatisticsGen and ModelEvaluator) that we'd like to display in the KFP UI.

[2019-10-01 02:15] randxie commented on #1994
Friendly ping

[2019-10-01 02:57] post2web opened #2275 "The AI Platform training component is missing a few common options"
**What happened:**
I'd like to use the AI Platform training component for submitting training jobs, but it is missing a few common options.

**What did you expect to happen:**
The [component.yaml](https://raw.githubusercontent.com/kubeflow/pipelines/e598176c02f45371336ccaa819409e8ec83743df/components/gcp/ml_engine/deploy/component.yaml) doesn't include options for using an accelerator, distributed

[2019-10-01 12:17] JakeTheWise commented on #2268
@andrewsmartin how'd you get those visualizations to work (I assume you're talking about the tfdv and tfma visualizations)? I couldn't get them to display in the KF UI.

[2019-10-01 16:57] kschroed commented on #1654
Same error using above.

[2019-10-01 21:35] SinaChavoshi commented on #908
closing this issue as it is tracked /resolved under KF project.

[2019-10-01 21:35] #908 closed

[2019-10-01 22:32] JakeTheWise opened #2283 "TFDV and TFMA visualizations in KFP UI?"
Are there yaml component specifications that can do this already? Is AI Hub the only repo for pipelines/components? I don't know how to write the visual outputs/widgets from TFDV/TFMA to HTML for display in the KFP UI via writing to `mlpipeline-ui-metadata.json` as per the [tutorial](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/), and the links on that page to the example code are bro

[2019-10-02 00:04] Ark-kun commented on #1654
OK. I'll file a bug with Argo. It should be supporting getting artifacts with every executor. They explicitly have 3 non-Docker executors.

[2019-10-02 00:13] andrewsmartin commented on #2268
Hi @JakeTheWise, we have some in-house code to, at the end of the corresponding TFX component run, grab the html file paths from GCS and drop the metadata into the `/mlpipeline-ui-metadata.json' file. There is some instructions for doing this [here](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#web-app). Happy to help out if you run into any issues.

[2019-10-02 00:19] andrewsmartin commented on #2283
@JakeTheWise here's the commit that removed those files causing the broken links, hopefully this can set you in the right direction. https://github.com/kubeflow/pipelines/commit/86163ecd3882a610f9709d96705613d9a151bf87#diff-ef180dd8899f69cbf7b44c78a23e042eL196-L221

[2019-10-02 10:14] mak-454 commented on #677
Hi, if launcher is to be used for TFjob or for any custom resources. What is the idea to handle volumes? If volumes are used with ContainerOp then the volumes will be attached to launcher and not to the training pods launched by TFJob.

[2019-10-02 11:54] mak-454 commented on #677
I gather from below discussions,
https://github.com/kubeflow/pipelines/issues/801#issuecomment-462182776
https://github.com/kubeflow/pipelines/issues/1345

that I should use ResourceOp for TFJob with volumes until the PR https://github.com/kubeflow/pipelines/pull/1494 is merged

[2019-10-02 11:55] solovyevt opened #2286 "Increase pipeline input argument length/size"
There is a limitation on backend server, which triggers when input argument reaches certain length:

`The pipeline spec is invalid.: Invalid input error: The input parameter length exceed maximum size of 10000."`

In some cases it might be necessary to provide large input arguments, when, for example, you got a highly configurable model or a very diversified dataset that requires detailed descript

[2019-10-02 15:41] JakeTheWise commented on #2268
@andrewsmartin Yeah thanks! I was able to write my TFMA viz html to GCS and dump it into the component metadata file but there are still issues with rendering the html/widgets... could you share your html template? Or at least point me to the right dependencies for mine?
[code]

[2019-10-02 17:28] ajchili commented on #1487
/close
Fixed with #2016

[2019-10-02 17:28] #1487 closed

[2019-10-02 17:43] ajchili commented on #2283
Hey @JakeTheWise, I recently implemented support for Python Based Visualizations within KFP. This method of visualizing data allows for TFDV/TFMA and other Python visualization libraries to be easily used within the KFP UI without extensive knowledge of HTML or how to export visualizations. This might be the best option for your use case, you can checkout my post about them on [Medium](https://med

[2019-10-02 21:34] strangemonad-faire commented on #2071
FWIW, for the time being, I'm working around the issue by manually making sure old workflows are deleted from k8s via `kubectl delete workflow` and then manually deleting sql records for old runs

[code]

[code]

[2019-10-03 00:59] Ark-kun commented on #2252
@SinaChavoshi Let's investigate together. I'm pretty sure this issue is not related to KFP.

[2019-10-03 08:28] discordianfish opened #2294 "apis/v1beta1/pipeline filter not working, always returning all pipelines"
**What happened:**
When trying to search/filter for a workflow in the pipeline UI, all pipelines get returned no matter what you search for.

**What did you expect to happen:**
Only pipelines should show up that include the string I'm searching for.

**What steps did you take:**
- Have a bunch of pipelines
- Search for a string certain to be not part of any pipeline
- See that still all pipelines

[2019-10-03 15:18] deepio-oc opened #2295 "AssertionError in compiling a simple pipeline containing dsl.Condition"
I am getting a AssertionError in compiling a simple pipeline with dsl.Condition. Following is the code:

[code]

I get following assertion:

pipelines/sdk/python/kfp/compiler/_data_passing_rewriter.py", line 146, in fix_big_data_passing
    assert argument_placeholder_parts[2] == 'outputs'
AssertionError

[2019-10-03 15:37] deepio-oc commented on #827
I still see this issue in the latest code. I tried to run the following pipeline and got this error "invalid spec: templates.skelton-pipeline.tasks.condition-1 failed to resolve {{tasks.xxx.outputs.parameters.xxx-status}}

Here is my code:

`
def skelton_pipeline(counter = 0):

    a_op = comp.func_to_container_op(func_A, base_image=base_image)
    a_task = a_op (counter)

    b_op = comp.func_to_

[2019-10-03 17:48] neuromage commented on #2239
Sent out https://github.com/kubeflow/manifests/pull/424 to hopefully fix this.

[2019-10-03 18:59] neuromage commented on #2239
Keeping this open until we've verified the fix with Jeremy's changes as well.

[2019-10-03 18:59] SinaChavoshi opened #2298 "move Data passing in python components.ipynb to core samples"
Sorry i missed this during code review. This sample should be under core -> Data passing -> Data passing.ipynb or a similar folder / file name under core.

[2019-10-03 22:03] Ark-kun commented on #2298
I think we should have some organization in the samples. Currently samples are like the "Index" of a technical book - they're organized alphabetically. There is no order, no curriculum. There is no distinction between notebooks and python files. Niche topics come before fundamental topics. Etc.

There should be a place where the users see clearly structured tutorials:

[code]

What do you think ab

[2019-10-03 22:04] Katherinechenlove opened #2300 "namespace issue in v6.2"
**What happened:**
On Kubeflow UI page, pipelines are running under system namespace like while other modules are running under user namespace.

[2019-10-03 22:26] SinaChavoshi commented on #2300
Adding to details based on offline discussion with katherine, this is a side effect from 6.2 multi tenancy support

Specifically when running the TFX pipeline example in a KF 6.2 in cluster notebook instance ( TFX example source -> https://github.com/kubeflow/pipelines/tree/master/samples/core/tfx-oss ) the user gets an error regarding access to mysql instance. This is since the Notebook executes

[2019-10-03 22:49] Ark-kun commented on #2014
Fixed by https://github.com/kubeflow/pipelines/pull/1970

[2019-10-03 22:49] #2014 closed

[2019-10-04 01:05] Ark-kun commented on #2286
There are size limitations imposed by Kubernetes. The workflow spec and state needs to be less than 512KiB (or maybe 1MiB). So while this limitation is artificial, there are some real limitations in the underlying platform.

There are now better ways to pass big data around. See this [Data passing tutorial](https://github.com/kubeflow/pipelines/blob/6a70faab12f91ad3eaf2398b9de2c5970d2aff92/samples

[2019-10-04 01:18] Ark-kun commented on #2283
Yes, that should be possible. It's just that the outputs need to be explicit now. https://github.com/kubeflow/pipelines/blob/9a9bd904aca5faa5444fa9c4e30574937aceda03/components/local/confusion_matrix/component.yaml#L20

The `component.yaml` just describes the component inputs and outputs and how to call the program. That spec does not care about the contents of those output files. Only the fronten

[2019-10-04 01:20] Ark-kun commented on #2295
Thanks a lot for discovering this bug and fixing it!

[2019-10-04 01:51] Ark-kun commented on #2268
You should link to exact versions, otherwise the files might just disappear one day.

[2019-10-04 03:00] Ark-kun opened #2302 "Dataflow sample success is not checked by sample tests"
I see that the dataflow notebook fails to run, but the test succeeds:

[code]

https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=ml-pipeline-test&organizationId=433637338589&minLogLevel=0&expandAll=false&timestamp=2019-10-03T22:29:54.674000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.cluster_name%3D%22sample-840

[2019-10-04 03:03] Ark-kun commented on #1003
Fixed by #791, #998 , https://github.com/kubeflow/pipelines/pull/2173

[2019-10-04 03:03] #1003 closed

[2019-10-04 03:06] #1242 closed

[2019-10-04 03:13] Ark-kun commented on #336
Fixed by #791, #998, https://github.com/kubeflow/pipelines/pull/2042, https://github.com/kubeflow/pipelines/pull/2134, https://github.com/kubeflow/pipelines/pull/2173

[2019-10-04 03:13] #336 closed

[2019-10-04 03:16] Ark-kun commented on #1471
Switching Argo to non-Docker executor is probably needed for non-Docker environments. There are several issues discussing it.

[2019-10-04 03:19] Ark-kun commented on #1375
It might be useful to add a container-building component (e.g. Kaniko-based).
One use case would be to supply image to "launcher-type" components that run it distributed.

[2019-10-04 03:34] gaoning777 commented on #2302
Have you retried it after enabling the dataflow API?

[2019-10-04 04:08] gaoning777 commented on #2298
But, before the reorg discussion, can we conform to the core/contrib structure for now, which we agreed upon?
On the other hand, the current structure is not too big an issue though. Similar to the Argo examples, all examples live in the same directory, which I think is useful. User can search the key word in the same directory.
With that being said, the notebook could live in core/notebooks, thou

[2019-10-04 04:22] gaoning777 commented on #1813
@Ark-kun any progress on the multiple output test?

[2019-10-04 04:51] gaoning777 commented on #2109
SGTM. Let's add the test first then.

[2019-10-04 06:49] jlewi commented on #2239
Update:

* kubeflow/manifests#424 got reverted as part of kubeflow/manifests#426
* kubeflow/manifests#430 rolls kubeflow/manifests#424
* I've updated kubeflow/manifests#392 to pull in kubeflow/manifests#430
* I'm currently testing the combined fixes

[2019-10-04 07:44] jlewi commented on #2239
* I hit one issue with kubeflow/manifests#424 - the newly defined metadata-grpc virtual service wasn't included in the kustomization.yaml file

* Even after making that change its still not working for me.

JS developers console shows a 503  for the following URL
https://jlewi-1003-kfp-001.endpoints.jlewi-dev.cloud.goog/ml_metadata.MetadataStoreService/GetArtifacts

[2019-10-04 09:26] tanguycdls opened #2304 "Feature Request: more than one ROC curve per component and add name arg"
Hi,
Thank's for the work ! In our team we're currently trying KubeFlow and using outputs artifacts to save metrics and ROC, in the future I think we will try exporting HTML as well.

We noticed it's currently not clear what the UI can do when more than one curve is outputted in the artifacts json file: is it possible and what would be displayed? A nice feature would also be to add a name to the ro

[2019-10-04 15:27] numerology opened #2307 "[SDK/Compiler] Sample was broken by new large data passing mechanism"
This [Github issue summary sample](https://github.com/kubeflow/examples/blob/master/github_issue_summarization/pipelines/example_pipelines/gh_summ.py) seems to be broken by our new changes.

Reported by Amy
[code]
@Ark-kun can you take a look when you have time?

[2019-10-04 17:15] krajasek opened #2310 "[Pipeline Metrics] Working with more than 2 metrics causes errors"
**What happened:**
We are running a training pipeline and writing 5 result metrics to mlpipeline-metrics. The metrics do not show up on the pipeline run UI. However, having just 2 metrics enables the UI to display them.

We are running this build: https://www.github.com/kubeflow/pipelines/commit/c9382474d688a34d3dd3b6d943cd71fea8f62e76

**What did you expect to happen:**
Show all the 5 metrics in

[2019-10-04 18:08] FaustineLi opened #2311 "Request for pipelines to use Python control flow (if, else, elif)."
It would be nice to have runtime control flow using Python idioms (`if`, `else`, `elif`)  for writing the pipeline instead of resorting to `dsl.Condition`.

[2019-10-04 18:28] FaustineLi commented on #60
Why not allow archiving / deleting for experiments with no unarchived runs? Would be interested in this feature.

[2019-10-04 20:11] Ark-kun commented on #2302
It's from the sample test logs. The issue is not that it fails, but that the failure is not detected.

[2019-10-04 20:12] Ark-kun commented on #2307
Duplicate of https://github.com/kubeflow/pipelines/issues/2295
There is a fix PR pending, but there is a license complication.

[2019-10-04 21:17] Ark-kun commented on #2298
Sure. I'll move the tutorial and try to make it discoverable using different means.

I also think that it's better to separate notebooks and other samples.

I've seen multiple repositories like tensorflow that have `examples` and `tutorials`. examples are pretty random, while tutorials are structured in a way that make it easier for the user to learn the product.

As a user, I cannot look at every

[2019-10-04 21:30] Ark-kun commented on #60
Would showing the experiments with recent runs first solve your issues? https://github.com/kubeflow/pipelines/issues/249

[2019-10-04 21:31] Ark-kun commented on #62
I think this UX issue is still valid regardless of the implementation details.

[2019-10-04 21:48] FaustineLi commented on #60
Probably. I just want to hide the experiments that aren't relevant to me. The filter ideally should only show experiments you create by default too (in the situation where multiple scientists are sharing a cluster).

[2019-10-04 23:37] jessiezcc commented on #2311
@FaustineLi, can you explain more about what the end user experience you are looking for? Is this more of syntax request or is there use cases blocked by dsl.Condition?

[2019-10-04 23:44] jessiezcc commented on #2304
What's recommended is to produce separate artificats.json file for each ROC.
We don't have plan right now to support more than one ROC in the single json file.

[2019-10-04 23:44] #2304 closed

[2019-10-05 00:36] jlewi commented on #2239
Looks like it was an issue with the port; kubeflow/manifests#424 should be updated.

[2019-10-05 01:34] Ark-kun commented on #2311
At this moment this is non-trivial since the pipeline function is only executed in compile time, not run time. There is no code-executing container task associated with the pipeline which could run the control flow code. Another problem is that with python you have shared variable scope available to all expression, while at runtime you have distributed pods and every piece of data needs to be expl

[2019-10-05 01:38] Ark-kun commented on #2310
@IronPan The JSON might be cut off for some reason. But this time the DB does not seem to be the culprit.

[2019-10-05 01:43] Ark-kun commented on #2252
We did an extensive investigation with @SinaChavoshi.
I found the root cause and it's pretty weird:
The DLVM container images use Miniconda python and the `python3` program uses the Miniconda environment. However the `pip3` program points to system's python environment.

So the packages installed using `pip3` are not available to `python3`.

We need to do the following:
1. Contact the DL VM team s

[2019-10-05 02:01] Ark-kun commented on #2252
Here is the PR which adds KFP-side workaround: https://github.com/kubeflow/pipelines/pull/2316
P.S. The new container-building API was not affected, since it used more robust commands by default:
https://github.com/kubeflow/pipelines/blob/ed285ce7683756a3962d4adbacb7801220565f90/sdk/python/kfp/containers/_build_image_api.py#L65

[2019-10-05 05:13] jlewi commented on #677
@mak-454 the current recommendation would be to write some python code to create the TFJob and then execute that code as a step in your graph.

Your python function can attach any volumes as needed to the TFJob.

[2019-10-05 16:06] JakeTheWise commented on #2283
Thanks for the help, everyone! With the old commit provided by @andrewsmartin, I was able to make my TFDV display properly in the KFP UI. I have only had partial success with the TFMA visual, however. It displays incorrectly, and upon inspection it seems there is a CORS issue with a javascript file that TFMA uses. Here's the seemingly troublesome piece of my html I'm rendering for the TFMA viz:
[c

[2019-10-05 16:34] JakeTheWise commented on #2268
Good point, thanks. I changed that to `https://cdn.rawgit.com/tensorflow/model-analysis/v0.6.0/tensorflow_model_analysis/static/index` and it started working, ha.

[2019-10-05 16:34] #2268 closed

[2019-10-05 18:01] krajasek commented on #2310
@Ark-kun , @IronPan
AFAIK, we are using GroupConcat method to gather the metrics: https://github.com/kubeflow/pipelines/blob/81341d3aa67268d25d8c5ae1dc31df2e59e610b8/backend/src/apiserver/storage/run_store.go#L143
This translates to MySQL GroupConcat method and we could be hitting the MySQL group_concat_max_len limit here.

[2019-10-06 03:48] jackhawa commented on #1497
Hello, is there any update (or eta) on this issue? And is there a workaround to see local artifacts produced by a step?

[2019-10-06 07:09] mak-454 commented on #677
@jlewi will do as recommended. Thanks.

[2019-10-07 03:16] gaoning777 commented on #2310
This issue can be reproduced. It might also be the jsonpb unmarshalling in https://github.com/kubeflow/pipelines/blob/eee7834988dae6007372963e494252a78c9f0eee/backend/src/agent/persistence/worker/metrics_reporter.go#L102. This requires a little debugging.

[2019-10-07 03:19] gaoning777 commented on #2302
Could you paste the link to the prow system?

[2019-10-07 14:25] gaoning777 opened #2317 "build_python_component does not automatically configure the file outputs such as mlpipeline-ui-metadata in the containerop"
When the component python function contains the output such as mlpipeline-metrics.json or mlpipeline-ui-metadata.json, the generated containerop (by build_python_component) does not contain the corresponding file_output.

[2019-10-07 15:57] cvenets commented on #1903
Since this will be a regression for on-prem deployments, shouldn't we keep both, until we have the new one working without calling GCP services?

Then we can remove the old one, but currently people working on-prem won't be able to run the Taxi Cab example at all.

@gaoning777, @jlewi what do think?

[2019-10-07 16:17] discordianfish opened #2318 "Consider using standard cron syntax"
Most cron implementation, including Kubernetes own CronJob implementation, don't have a leading seconds field as scheduledworkflows have.

While this would be a breaking change, it's pretty unexpected and will cause issues for people moving from standard cron implementations.

[2019-10-07 16:29] SinaChavoshi commented on #2169
@mesaverde0207 sorry for the delayed response. This is an issue resulting from the KF 6.2 names space feature release.

Jupyter notebook development environment is running under your user namespace  (ex. kubeflow-yfukuda) which does not have access to the mysql service that is running under Kubeflow namespace.

a quick work around for this issue is to run the metadata artifact retrieval code as a

[2019-10-07 16:33] SinaChavoshi commented on #2300
Duplicate of #2169

[2019-10-07 18:09] daikeshi opened #2320 "PipelineParam only supports string value"
**What happened:**
Even if I define a pipeline parameter as int or float, it's still serialized as a string when it's passed to a component. It seems `PipelineParam` currently only supports string value: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_pipeline_param.py#L144-L145.

It would be nice if pipeline parameter values can support more primitive types such as int and f

[2019-10-07 18:48] JakeTheWise commented on #2283
The source of the issue seems to be documented here https://github.com/tensorflow/model-analysis/issues/10. Has anyone figured out how to resolve this issue?

[2019-10-07 19:31] ajchili commented on #2283
Hey @JakeTheWise, I investigated something similar in tensorflow/data-validation#80, where visualizations could not be rendered outside of a Jupyter Notebook generated environment. After a very quick look at the issue you provided it does not seem like the same approach can be provided. I will continue to investigate as I have time and keep you informed.

[2019-10-07 20:09] animeshsingh opened #2322 "Distinction between 'core' and 'contrib' samples"
In Kubeflow Pipelines sample repo, we have made a distinction between core and contrib. In contrib we have samples which are more vendor oriented, for e.g. AWS/IBM etc.

A lot of samples going in 'core' are very GCP specific, where a user needs to have a GCP account to run them. We shall move them to 'contrib' as well, and keep the core specific only to Kubeflow open source components.

[2019-10-07 20:09] animeshsingh commented on #2322
/assign @Ark-kun @gaoning777

[2019-10-07 20:35] #2252 closed

[2019-10-07 21:54] wdhorton commented on #1609
Seeing this issue too, would appreciate any details about a fix

[2019-10-08 00:23] Ark-kun commented on #2302
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2241/kubeflow-pipeline-sample-test/1179551516474740736
Looks like the test timed out. Maybe I'm wrong about the test succeeding.

[2019-10-08 01:33] #1673 closed

[2019-10-08 03:01] Ark-kun commented on #2317
This does not seem to be a regression, since artifacts did not previously appear in ContainerOp.file_outputs.
However, this issue should be fixed as part of my efforts for improving data passing.
Thank you for reminding.
I wanted to clean up this part of ContainerOp, but forgot that it's critical for passing artifacts when using ContainerOp.

I'll fix this issue.

[2019-10-08 03:06] Ark-kun commented on #2320
Please tell us about your user scenario.
Users should not be using the `PipelineParam` class directly. Technically it should have been a private class.

`PipelineParam.value` was mostly a way to specify default values when declaring the pipeline
function. Using `PipelineParam` in function signature is not unneeded and deprecated.
`PipelineParam.value` will be deprecated and removed soon.

The prop

[2019-10-08 03:43] #1862 closed

[2019-10-08 06:07] gaoning777 commented on #2317
Agreed that this is not regression but is a bug that we need to fix.
Thanks, Alexey

[2019-10-08 07:43] xiaogaozi commented on #2071
@strangemonad-faire We also have considered the solution that delete MySQL records manually. But sadly this isn't a long-term way. It's just a workaround.

[2019-10-08 07:47] UrmsOne commented on #1609
@Excelight  @wdhorton

Firstly, you need to identify the cause of the problem.

You should confirm that the DNS of k8s cluster is working.

If you change the k8s cluster default clusterDomain(defualt: "cluster.local"), you should try to modify the confirguration to overwrite it. My cluster environment changed the default clusterDoamin,so I met this issue.

Depending on how the project is implement

[2019-10-08 12:34] gaoning777 commented on #1813
resource_ops sample test: https://github.com/kubeflow/pipelines/pull/2274

[2019-10-08 13:46] jlewi commented on #2239
Manifests have been merged.

[2019-10-08 13:46] #2239 closed

[2019-10-08 13:51] jlewi opened #2329 "Verify KFP 0.31 in Kubeflow 0.7"
Kubeflow has been updated on master to ship the KFP 0.31.

See kubeflow/pipelines#2239.

Opening this issue to track if there is any automatic or manually testing that should be done to verify everything works.

One big change is that Kubeflow 0.7 will be enabling workload identity on GKE (see also #1962).
For backwards compatibility the secrets should still be created in the Kubeflow namespace wh

[2019-10-08 15:10] wdhorton commented on #610
I think I'm hitting a similar issue, seeing `connection timed out` in the `ml-pipeline` pod:
[code]

[2019-10-08 15:24] wdhorton commented on #1354
I am hitting the same problem (MySQL for Pipelines and Katib doesn't work). Is there a fix for this?

[2019-10-08 18:24] jessiezcc commented on #2329
@Ark-kun, can you pls validate?

[2019-10-08 21:54] numerology opened #2330 "[MKP/doc] Guideline needed for post-deployment setting about service account"
Since we decided to remove service account credential from our MKP deploy page, the user will need to figure out how to correctly apply SA credential after deploying KFP themselves. A clear doc/guideline is needed for this.

Currently, we are planning two preload samples require additional permission to run.
* XGboost sample, which requires dataproc permission
* TFX-OSS sample, (see #2319), which

[2019-10-08 21:54] numerology commented on #2330
cc @jessiezcc @gaoning777 @Bobgy

[2019-10-09 02:04] Ark-kun commented on #2295
Fixed by #2297

[2019-10-09 02:04] #2295 closed

[2019-10-09 02:04] Ark-kun commented on #2307
Fixed by #2297

[2019-10-09 02:04] #2307 closed

[2019-10-09 02:06] jinchihe commented on #1903
I think @cvenets suggestion makes sense, that's better to support on-prem Kubeflow cluster for the import E2E sample :-) and I think effort is not big, just need to enhance the notebook and add some description to support that.

[2019-10-09 03:22] wdhorton commented on #596
I am experiencing the same issues as @AnnieWei58

[2019-10-09 06:22] gaoning777 opened #2335 "build_python_component code generator is not correct when the function is decorated with python_component"
I'm running a component build sample in my k8s cluster and I've installed the newest KFP version. The generated code format is incorrect:

original code:
[code]
The generated codes is:
[code]
There is no 'define' before the function and the indentation is incorrect.

[2019-10-09 06:33] gaoning777 commented on #1903
Could you use the TFX sample: https://github.com/kubeflow/pipelines/blob/a71d5b0f28ab4bcd235ba162e55b1561d2e734ec/samples/core/tfx_cab_classification/tfx_cab_classification.py
which should be working since it fixes the component versions?
@neuromage

[2019-10-09 07:02] xiaogaozi commented on #677
Looks like mount volume for TFJob require the volume type is [`ReadWriteMany`](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) (all pods share same volume), so something like AWS EBS cannot be used in this case (it's `ReadWriteOnce`). It will be helpful if TFJob operator could support mount `ReadWriteOnce` volume.

[2019-10-09 10:17] TomomasaTakatori opened #2337 "`command` section only support either a string or a placeholder in component.yaml"
I'm running a component that execute maven project.

On local, my command is like below.
[code]
So, I have written command section in component.yaml.
[code]
An error was occurred because "-argop1 arg1 -argop2 arg2" is recognized as one argument for maven.(*1)

I wonder if I can combine {inputValue: } and String in yaml,
[code]
but can't. The reason should be `command: Entrypoint array. The Docker

[2019-10-09 17:15] numerology opened #2343 "[LICENSE] Presubmit test blocked by license issue"
Context #2342

Working on a fix.

[2019-10-09 17:22] Ark-kun commented on #2335
I'll fix this issue ASAP. Thanks for reporting.

[2019-10-09 18:34] danielnorberg commented on #1223
@yanniszark Is there any work in progress on this that could be shared?

[2019-10-09 19:16] daikeshi commented on #2320
@Ark-kun no, we are not using `PipelineParam` in pipeline function signature. User define parameters with normal python primitive types.  Using your example above:
[code]
If say we define a tfx component in this pipeline, num later is used in a hparam dictionary.
I noticed in argo workflow yaml file, the default value is serialized as string in the spec:
[code]
and as the arguments for the contain

[2019-10-09 19:25] daikeshi commented on #2320
@Ark-kun no, we are not using `PipelineParam` in pipeline function signature. User defines parameters with normal python primitive types.  Using your example above:
[code]
Say in this pipeline, we define a tfx component, and `num` is passed to this component as a hparam dictionary. I noticed that in the generated argo workflow yaml file, the default value is serialized as string in the spec:
[code

[2019-10-09 19:36] numerology commented on #2343
/close
Fixed by #2344

[2019-10-09 19:36] #2343 closed

[2019-10-09 19:52] Ark-kun commented on #2337
This should probably quoted. Otherwise it might be considered a map.

We have a solution for this - the `Concat` placeholder:

[code]

BTW, Do you think it's possible to create a function like `func_to_container_op`, but for Java?
We'll need some ability to reflect the function signature and to call a Java function from command-line.

[2019-10-09 21:26] jlewi commented on #2169
@SinaChavoshi the metadata service should be accessible from the Kubeflow user namespace. If you look at the demo notebook
https://github.com/kubeflow/examples/blob/master/xgboost_synthetic/build-train-deploy.ipynb

That is using the metadata client library to successfully log metrics in the database. It looks like this code is trying to contact the metadata store API directly that should work.

I

[2019-10-10 01:48] Ark-kun commented on #2320
Since Pipelines orchestrates containerized command-line programs, every piece of data that's passed between components become a string or a binary blob file at some point.
The only thing that can be passed to an arbitrary command-line program is an array of string arguments.

When using Lightweight python components feature (func_to_container_op), which creates component from function, a command-l

[2019-10-10 03:15] Ark-kun commented on #1967
Implemented by https://github.com/kubeflow/pipelines/pull/2044

[2019-10-10 03:15] Ark-kun commented on #1967
Fixed by https://github.com/kubeflow/pipelines/pull/2044

[2019-10-10 03:15] #1967 closed

[2019-10-10 03:24] Ark-kun opened #2348 "Store the information about the user who created each run"
This will open path for improving the experience for teams using the same cluster by only showing user's own runs in the UX by default.

[2019-10-10 03:24] Ark-kun commented on #2329
Working on this.

[2019-10-10 03:30] Ark-kun opened #2350 "Create ML sample that can work out of the box"
Create ML sample that can work out of the box.
The user should be able to just run the notebook or pipeline and see it work without having to:
* Create secrets
* Create service accounts
* Create buckets
* Give access to buckets
* Enable APIs
* ...

This big data passing support makes this possible.

[2019-10-10 03:36] Ark-kun opened #2351 "Create sample illustrating daily data ingestion and model retraining."
The sample should illustrate the following user story:
* Each day some new data is being added.
* Collect the latest data (e.g. 1 year except last week)
* Check for current prod/blessed model
* Train a model. Start from the prod model if exists
* Test the model on some test data
* Compare with the performance of the prod model
* [Optional] Loop until the model performance is good.
* Push/label the

[2019-10-10 03:39] Ark-kun opened #2352 "Preloaded samples should have links to source code in the UX"
It's harder to do for the user-submitted pipelines, but easier to do for preloaded samples.

[2019-10-10 03:42] Ark-kun opened #2353 "Show human-readable component names in the UX"
Argo templates now have the original component spec information. https://github.com/kubeflow/pipelines/pull/2323
We just need to get the name and show it.

[code]

[2019-10-10 03:45] Ark-kun commented on #1610
/cc @eterna2 This might have already been fixed by your recent work.

[2019-10-10 03:53] Ark-kun commented on #1359
/cc @eterna2 Your recent work might have resolved this issue.

[2019-10-10 03:56] Ark-kun commented on #2239
Is there a 0.7 branch? In the master considered to be the 0.7?

[2019-10-10 03:57] Ark-kun commented on #2329
@jlewi I do not see the 0.7 branch in kubeflow repo. Are you releasing the latest master as v0.7?

[2019-10-10 04:25] eterna2 commented on #1610
Not for GCP. I only did it for minio and AWS S3.

But  I am going to enhance the artifact endpoint to accept k8s secrets params in the next PR, to support more flexible artifact downloads.

Never planned to do for GCP thou. But I can do that too. Just need abit of time to get familiar with gcp sdk.

[2019-10-10 05:13] #1813 closed

[2019-10-10 05:14] #1903 closed

[2019-10-10 05:15] gaoning777 commented on #1903
https://github.com/kubeflow/pipelines/pull/2319

[2019-10-10 06:16] gaoning777 opened #2354 "tfx-oss sample test would fail when retry the test"
When I try '/test kubeflow-pipeline-sample-test' for flakiness tests, the parameterized_tfx_oss would always fail due to the fact that they are writing to the same directory.
See: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2349/kubeflow-pipeline-sample-test/1182166563743076352

[2019-10-10 07:02] gaoning777 commented on #2148
@numerology any updates?

[2019-10-10 07:16] gaoning777 commented on #1223
We will have some design doc ready in the following weeks and reviews and feedback are very much welcome then.
Thanks

[2019-10-10 08:37] gaoning777 opened #2356 "Add model leaking from the ai platform sample test to the project cleaner"

[2019-10-10 08:37] gaoning777 commented on #2356
/cc @Bobgy

[2019-10-10 08:51] Bobgy commented on #1508
Sorry for not replying for a while, because I've got some other stuff on my priority list. I just tried to investigate the issue today.

The problem is with our own implementation of LogViewer component. It uses react-virtualized under the hood to deal with large size of logs. react-virtualized only renders visible and a few more hidden lines on the screen. Therefore, it doesn't work with selectio

[2019-10-10 08:51] Bobgy commented on #1508
@Ark-kun what do you think about the solution?

[2019-10-10 09:07] gaoning777 opened #2357 "Client SDK Bug in the create_run_from_pipeline_package function"
lacking the run_id param to the wait_for_run_completion func:
https://github.com/kubeflow/pipelines/blob/709d7e2b44b87e30ab8219eab617d9176dca4110/sdk/python/kfp/_client.py#L361

[2019-10-10 09:07] gaoning777 commented on #2357
fixing in https://github.com/kubeflow/pipelines/pull/2355

[2019-10-10 09:19] Bobgy commented on #1508
A demo about the fix: https://drive.google.com/file/d/1GAvGwGYLHPfkAu8idTTJ1yf9xALDUMxR/view

[2019-10-10 09:43] Bobgy commented on #1508
I also researched npm libraries that we can use out of box.

I found this one, but I worry the amount of maintenance it gets: https://github.com/mozilla-frontend-infra/react-lazylog

[2019-10-10 11:56] yanniszark commented on #1223
Hi @danielnorberg!
Thanks for your interest in multi-user pipelines.
We have actually made a lot of progress and presented a demo at the Kubeflow Community Meeting.
Our design has been reviewed and validated by many end-users and we are working with the Pipelines team to iron out all the details. A design doc will soon follow.

Slides: https://docs.google.com/presentation/d/1fj0YM4LdToYY8cWSFUViTn

[2019-10-10 12:21] jlewi commented on #2329
@Ark-kun @richardsliu we are in the process of getting in the final fixes and cutting the branch and the release. In the interim you can build from master.

This is the doc: http://bit.ly/demo-v0-7
We use to qualify the release. It has instructions for how to deploy and points out known issues and potential work arounds.

[2019-10-10 13:08] martin-laurent commented on #1508
Personally I think that keeping only 1000 lines of code would NOT be a good idea as that would hide logs of things happening at startup (before a really long tensorflow stacktrace for example).

If anything, there is a related bug where there is either links to stackdriver logs OR the logs in the UI but never both. Having them both always visible (or at least the stackdriver logs) always visible w

[2019-10-10 15:00] numerology commented on #2354
Right... That's similar to the problem of model pushing we observed before. Because the GCS do not update if no new commit is detected, it will fail.

Let me fix it shortly. A quick solution is make the timestamp part of the pipeline root path.

[2019-10-10 17:58] ajayalfred commented on #1253
Thanks. Can you add a screenshot for review please?

[2019-10-10 19:01] numerology commented on #2148
Made a PR, PTAL

[2019-10-10 20:04] numerology opened #2363 "[Test/Sample test] Permission issue in ai-platform"
Currently there is ongoing permission issue blocking the presubmit testing. See:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2362/kubeflow-pipeline-sample-test/1182370644122144768
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2360/kubeflow-pipeline-sample-test/1182368127246143492

[2019-10-10 20:48] Ark-kun commented on #2363
A side question - why did the test not fail for the PR that added it?

[2019-10-10 20:53] numerology commented on #2363
This was added at PR #2327

cc @gaoning777 do you know if there is any special permission needed for the SA?

[2019-10-10 20:56] numerology commented on #2148
FYI, @Ark-kun  made PR #2292 that might help this

[2019-10-10 20:57] daikeshi commented on #2320
Thanks for detailed explanation!

In our case, hparams is defined as a regular dictionary with type `Dict[str, Any]`. We have our own way to define a component but similar to kfp, e.g:
[code]
After that, our library calls kfp's `_create_task_factory_from_component_spec` to get a container factory fn, so we can use it to create a container op. It seems that hparams value gets serialized with this l

[2019-10-11 00:18] numerology commented on #2363
Fixed by #2355

[2019-10-11 00:18] #2363 closed

[2019-10-11 01:18] Bobgy commented on #1253
@ajayalfred https://github.com/kubeflow/pipelines/pull/2068#issuecomment-529542208

[2019-10-11 01:57] Bobgy commented on #1508
@martin-laurent thanks for the valuable feedback.

What about top 1000 lines + bottom 1000 lines? that will be trickier to implement, but still doable.

Can you point me to the issue? I think that should be fixed for sure.

This is our bug, I can easily fix it.

[2019-10-11 03:52] Ark-kun opened #2367 "parameterized_tfx_oss: csvexamplegen: ERROR:tensorflow:Output artifact uri already exists"
`parameterized_tfx_oss):	csvexamplegen:	ERROR:tensorflow:Output artifact uri gs://ml-pipeline-test/5e0d95890cb76dc8d97bac7c40600e7d062e564f/sample_test/tfx_taxi_simple/CsvExampleGen/examples/1/train/ already exists`

[2019-10-11 03:54] numerology commented on #2367
This is triaged in #2354  and the fix is #2360 . Sorry for the incovenience.

[2019-10-11 03:54] Ark-kun opened #2368 "Sample tests do not test SDK changes since many tests install released SDK"
The sample tests should be testing the SDK changes.
However, those changes are overriden by samples re-installing a release version of the SDK.

[2019-10-11 04:07] TomomasaTakatori commented on #2337
Thank you for your replying.
Your advices almost works well.

My yaml is
[code]

If we use `concat`, the every characters is lower case.

[2019-10-11 04:07] #2337 closed

[2019-10-11 04:39] numerology commented on #2368
This is an interesting topic. IIRC for python samples the head version of SDK was used, but for notebook samples the released version was used.

It seems like we need a way to prevent notebooks from doing that. Maybe string substitution?

[2019-10-11 08:16] Bobgy commented on #1508
I made a PR: https://github.com/kubeflow/pipelines/pull/2370 that can fix:
* this issue, logs cannot be copied when scrolling
* > Also when the component is running (before it is fully done) the it's impossible to scroll, because the viewing component seems to force the position at the bottom y every few seconds which is really annoying.

[2019-10-11 08:38] gaoning777 commented on #1691
Yes. We will support the workload identity within the multi-user efforts in the Q4 such that users are authenticated to use GCP resources.

[2019-10-11 17:41] IronPan commented on #2101
The service host/port environment variable should be auto populated to API server pod and doesn't need to be injected through pipeline API server config file thus this should not be necessary https://github.com/kubeflow/manifests/pull/392/files#diff-887500ac1090b63dfc98e7589e1a070a

I suspect the manifests didn't include visualisation server. The deployment from KF pipeline-lite deployment is work

[2019-10-11 17:46] martin-laurent commented on #1508
@Bobgy Looks perfect IMO

[2019-10-11 19:39] numerology commented on #2368
cc @gaoning777  WDYT? Shall we suppress the package installation by comment them out? Or we handle that in the sample test infra?

[2019-10-11 21:04] deepio-oc opened #2372 "functionality similar to trigger_rule in airflow"
Currently we have an airflow based pipeline where one of the step is using trigger_rule='all_done' argument. What it means is that the next step will run even though the parent step is failed.

Does Kubeflow have similar functionality? Functionality to trigger the next step based on certain conditions on parent(s) exit status?

This could be useful feature in Kubeflow to allow running steps even w

[2019-10-11 23:18] Ark-kun commented on #2337
Thanks. Fixed.

[2019-10-11 23:27] Ark-kun commented on #2372
Currently, Argo has very limited functionality for that (`continueOn: Failed`), so there is not much we can do right now.

Adding better support for dependencies to Argo would make it possible to do more.
I'd add something like the following to Argo:
[code]

Another note is that Airflow does not have concept of data dependencies. If the upstream task fails, what will the downstream task get instea

[2019-10-11 23:30] Ark-kun commented on #2368
For short term I propose either commenting out the package installation lines or setting the minimum version and removing `--upgrade`:
[code]

[2019-10-11 23:31] Ark-kun commented on #2367
Duplicate of https://github.com/kubeflow/pipelines/issues/2354

[2019-10-11 23:31] #2367 closed

[2019-10-11 23:36] Ark-kun commented on #2354
P.S. From high-level perspective this issue is related to the "intermediate data management" issue.
The error we're getting is when new pipeline tries to overwrite the data stored by another run!
If those data paths were managed by the system, the paths would have always been unique and the data storage would be handled by the system, so the data would never be overwritten.

I've seen this problem

[2019-10-11 23:51] Ark-kun commented on #2357
Fixed in https://github.com/kubeflow/pipelines/pull/2355
Thank you for discovering it.

[2019-10-11 23:51] #2357 closed

[2019-10-11 23:57] numerology commented on #2356
Provide some context:

Current AI platform sample will generate and push a model with a version to cloud AI platform. If everything runs smoothly, the sample notebook will reclaim those in the end of the execution. However if it fails in the middle unexpectedly, we'll have a leakage.

Some sort of GC will be sweet.

[2019-10-12 00:15] Bobgy commented on #1508
@martin-laurent Great, I will continue with the approach.

[2019-10-12 00:48] Ark-kun opened #2375 "SDK versioning in samples"
Problems:
Some samples need some newer versions of the SDK.
Installing the latest SDK version might be interfering with sample tests.

Solution:
Samples should install the minimum SDK version they support:
[code]

Changes to samples should ideally result in testing them on their minimum SDK version (this needs to be implemented somehow).
Changes to SDK should result in checking the samples against

[2019-10-12 00:49] Ark-kun commented on #2209
Fixed in https://github.com/kubeflow/pipelines/pull/2279

[2019-10-12 00:49] #2209 closed

[2019-10-12 00:52] Ark-kun commented on #2148
https://github.com/kubeflow/pipelines/pull/2292 removes the need for injecting the `experiment_name` (and also makes it consistent between notebooks and python samples).

It might be possible to fix the output issue by using placeholders (e.g. `kfp.dsl.RUN_ID_PLACEHOLDER`) or digging into the workflow status.

[2019-10-12 00:54] krajasek commented on #2310
@gaoning777 ,

I was able to debug the issue today and can confirm the earlier hypothesis that it is a MySQL GroupConcat issue.

Here is what I did to fix the issue temporarily.
========
1) Logged into the MySQL pod corresponding to KFP and increased the length for group_concat-max_len system variable:
`set GLOBAL group_concat_max_len=4194304;`
2) Refreshed the Pipelines UI and navigated to a run

[2019-10-12 01:01] Ark-kun commented on #1891
I agree with you. I'll need to check the implementation of `@graph_component` some day. @gaoning777 Do you remember why this limitation exist?

[2019-10-12 01:02] Ark-kun commented on #1821
Is that due to secrets?

[2019-10-12 01:04] Ark-kun commented on #1758
AFAIK this is fixed. The postsubmit tests build the new component images, compile the samples and replace the images inside the compiled workflows. @numerology can you confirm?

[2019-10-12 01:05] Ark-kun commented on #1660
Fixed by https://github.com/kubeflow/pipelines/pull/2266

[2019-10-12 01:05] #1660 closed

[2019-10-12 01:08] Ark-kun commented on #1659
During the design reviews I was asked to only implement the API that builds container image from working directory files [+ `requirements.txt`] [+ `Dockerfile`]. That API was implemented in https://github.com/kubeflow/pipelines/pull/1970

The `KanikoImageBuilder` is not public (`ContainerBuilder`).

[2019-10-12 01:08] #1659 closed

[2019-10-12 01:11] Ark-kun commented on #2251
Fixed by #2266 and https://github.com/kubeflow/pipelines/pull/2276

[2019-10-12 01:11] #2251 closed

[2019-10-12 01:12] Ark-kun commented on #1746
The issue was resolved by https://github.com/kubeflow/pipelines/pull/2229

[2019-10-12 01:12] #1746 closed

[2019-10-12 01:21] Ark-kun commented on #2317
I discovered two problems:
1) This is a breaking change that will break some of the existing samples: There are some component (especially GCP ones) that only have one output. So, in samples, we refer to that output as `task.output`. Adding `mlpipeline-ui-metadata` output makes the `task.output` stop working, because there are now multiple outputs.
2) Artifact names. DSL-Compiler prepends the task

[2019-10-12 01:24] Ark-kun commented on #2317
Changed the title since this is not limited/related to the components - if you try to do the same with the `ContainerOp`, you'll get the same result:

[code]

[2019-10-12 01:26] Ark-kun commented on #2248
Fixed by https://github.com/kubeflow/pipelines/pull/2272

[2019-10-12 01:26] #2248 closed

[2019-10-12 01:56] Ark-kun commented on #2320
Another workaround might be to make a custom dict serializer that performs `json.dumps` and removes quotes around `"{{pipelineparam..}}"` and pass the string instead of the dictionary (strings are considered to already be serialized).

[2019-10-12 02:04] Ark-kun commented on #1880
I've verified that the issue is fixed in KF 0.7

[2019-10-12 02:04] #1880 closed

[2019-10-12 02:05] Ark-kun commented on #252
I've verified that the issue is finally fixed in KF.

[2019-10-12 02:05] #252 closed

[2019-10-12 02:17] Ark-kun commented on #2329
Ongoing list of issues:
* Two users/namespaces created during installation
* One notebook fails to connect with "no healthy upstream" https://github.com/kubeflow/kubeflow/issues/4284
* One notebook fails to connect with "404 not found" https://github.com/kubeflow/kubeflow/issues/4285
* The version of KFP SDK is very old (0.1.22) and has known issues. Please merge https://github.com/kubeflow/kubefl

[2019-10-12 02:21] Ark-kun commented on #1547
Support for `requirements.txt` was implemented in https://github.com/kubeflow/pipelines/pull/1970

[2019-10-12 02:21] #1547 closed

[2019-10-12 02:58] Ark-kun commented on #2329
The `user-gcp-sa` secret is missing. All pipeline that use GCP stall at `ContainerCreating`.
@jlewi Previously Kubeflow deployed those secrets. The Kubeflow deployment guide does not mention the creation of that secret.

[2019-10-12 03:12] jlewi commented on #2329
Thanks @Ark-kun

kubeflow/kfctl#46 is tracking the creation of the user_gcp_sa secret. We are switching to workload identity in 0.7 but we will continue to create the uesr_gcp_sa secret for backwards compatibility in the kubeflow namespace.

Regarding the SDK. I thought @IronPan wanted to stop installing the SDK because of the mismatch in release cadence and instead explicitly install the SDK in t

[2019-10-12 03:21] Ark-kun commented on #2329
Let's brainstorm a better way to specify the need for access to some resource in Pipelines. From DSL standpoint it might be good to use something like `task.needs_access_to(gcp.Storage('editor', 'my-bucket'))` or hopefuully something easier. But how should the backend act on this?

I'm OK with either option.

[2019-10-12 06:18] xiaogaozi commented on #2071
<img width="890" alt="Screen Shot 2019-10-12 at 10 58 38" src="https://user-images.githubusercontent.com/149645/66695859-e9cbc180-ecf8-11e9-8c37-8220686034b4.png">

Just FYI, we have made some small changes try to optimize `ListRuns` API performance. The image above show the "Select Latency" metric of AWS RDS, you could see it become much lower and more smooth than before (red arrow indicates the

[2019-10-12 09:22] #1508 closed

[2019-10-12 18:42] jlewi commented on #2329
@Ark-kun I recommend going with the kubeflow/kubeflow#3632 and adding a pip install step to the notebook. We are doing the same thing in other Kubeflow examples because it just works better.

kubeflow/kubeflow#4281 is tracking the centraldashboard image bug.

[2019-10-13 14:33] deepio-oc commented on #2372
So (countinueOn: Failed) is already supported in Argo ? If so, that may be sufficient for our current needs. can that be enabled in Kubeflow ?

We will discuss this internally.

I think there is a possibility that if a downstream task depends on multiple upstream and one of the upstream task may not be critical or doing anything to the data. In the case, downstream task may like to continue.

I be

[2019-10-14 01:30] gaoning777 opened #2379 "Pipeline UI does not display the description in the pipeline metadata"
When the description is specified in the DSL SDK, the generated argo yaml contains the description. However, it is not displayed in the Pipeline UI.

[2019-10-14 02:25] gaoning777 commented on #2310
https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/client/sql.go stores the mysql connection configuration.
And, generally the DB configurations is stored in https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/config/config.json and accessed via viper.
Could you add it here instead?
@jingzhang36 @IronPan FYI

[2019-10-14 02:40] numerology commented on #2379
Umm.... I found it here for one of our preload sample. Can you specify which sample are you using?

![Image of screenshot](https://lh3.googleusercontent.com/kuAlscORm2CtRnoQ6U1UA4TLOQmi0dzpZdCTkHouO1L3_8eieoI-3vNFNAfK3txoXPbbUMpIMELdL8Qn0noAFFM4YTNdCSI6DU1KWQl01gxgiioITGiQn63CVjA3vzbE46PP-9op_05pSWuK_Er643NRV7ShDZ0PQUsaTgrppPK1I9QnBOLnyI0TEoEKWStiARsFXHaH-LgKva3RrHE0n_to9sRfU2H86LBFssxVPB8iIDdshsI

[2019-10-14 03:22] gaoning777 commented on #2379
Upload any sample with the metadata configured, the description is not displayed.
I'm not referring to the preloaded ones, but the one authored in DSL and uploaded to the UI.

[2019-10-14 03:23] gaoning777 commented on #2379
tag it as frontend, but the root cause might be the backend.

[2019-10-14 03:24] numerology commented on #2379
Confirmed. Non-preloaded sample does not have description displayed in either pipeline list page or its preview page.

[2019-10-14 03:50] gaoning777 commented on #2317
It will not be a breaking change because the outputs are only injected if the mlpipeline-ui-metadata is written in the python codes. The current (python component build)samples, which do not output Metric/Visualization are not affected.

AFAIK, the frontend/backend look for the metric/visualization based on the keys: https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

[2019-10-14 03:51] gaoning777 commented on #2317
Are you sure? I tried on my machine and it worked fine.

[2019-10-14 03:57] gaoning777 commented on #2375
Samples testing

The notebook samples should be working as it is(install the newest released version.) If we want to have a good sample-SDK versioning, it should be part of the DSL such that the normal python samples are also covered.

Agreed. But it does not have to be the sample tests that cover the SDK testing.

[2019-10-14 06:13] Bobgy commented on #2379
@gaoning777 thanks for the catch, I can investigate from frontend side.
/assign @Bobgy

[2019-10-14 06:42] Bobgy commented on #2379
There is not much I can do on this. Frontend uses ListPipeline api and it doesn't include description field back: https://github.com/kubeflow/pipelines/blob/5f1b41171f934b568869e46c39a7f49ac4d336ad/backend/api/pipeline.proto#L75

I think the problem is in Pipeline upload api, it should parse description and fill it in corresponding field in DB.

[2019-10-14 06:42] Bobgy commented on #2379
/unassign

[2019-10-14 06:43] Bobgy commented on #2379
/area-remove frontend

[2019-10-14 06:46] Bobgy commented on #2379
/remove-area frontend

[2019-10-14 07:20] Bobgy commented on #2379
/remove-area front-end

[2019-10-14 10:20] amalts opened #2383 "Typo in README"
Minor typo in README file.

"quality" is spelled as "qualty"

[2019-10-14 10:20] amalts commented on #2383
/assign

[2019-10-14 17:07] IronPan commented on #2379
/label area/front-end

[2019-10-14 17:14] krajasek commented on #2310
@gaoning777 ,
Thanks. One more thing: How do I build and test KFP from source?

[2019-10-14 18:45] numerology commented on #2354
Fixed by #2360
For @Ark-kun 's question, that seems to require something similar to data-versioning/spanning.
Besides big data passing feature, this should also be solved after migrating to unified DSL for TFX distinguishes between different execution by their IDs.

[2019-10-14 18:45] #2354 closed

[2019-10-14 18:46] Ark-kun commented on #2375
I'm not sure I've seen many examples of this in the wild. AFAIK, usually the notebooks do not modify the user environment.
Note that `pip install 'kfp>=0.1.31'` will install the latest version if the package is older or not installed.

I think it makes sense to use the same samples to test the SDK changes. I consider the sample tests to be an important part of SDK testing.

[2019-10-14 18:53] Ark-kun commented on #2372
I'm not sure we're going to add that particular feature. The design seems to be error-prone (it affects all dependent tasks).
It does not work with data passing. If dependent task declares the usage of the failed task outputs, it will fail at submission time.

To workaround the issue you can easily make any task not fail by wrapping it in a script wtaht swallows the error and creates the missing o

[2019-10-14 18:54] Ark-kun commented on #2329
Let's do that then.

[2019-10-14 19:03] Ark-kun commented on #2317
The `XGBoost sample` and some other e2e sampels might be affected. Many of our 1st party components produce the `mlpipeline-ui-metadata` artifacts and some samples use `task.output` (singular).

I'm not fully sure about that. In any case, the keys depend on the artifact name.

It's expected. That snippet demonstrates that the `mlpipeline-*` artifacts are **missing** from `task.outputs` even if you

[2019-10-14 19:09] Ark-kun commented on #2317
Let's take a step back and understand the high level CUJ here.

The current state of the issue is: The "mlpipeline-ui-metadata" and "mlpipeline-metrics" entries are never added to the `task.outputs` dictionary which is used to pass output references to dependent tasks.

What CUJs are affected by this issues? What scenarios require passing  "mlpipeline-ui-metadata" to another step?

[2019-10-14 20:07] numerology commented on #2302
Interesting... The dataflow API is not enabled before. And in the sample test the associated pod failed but the overall test passed, see
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/2220/kubeflow-pipeline-sample-test/1183783508208783361/build-log.txt

Trying to understand why such failure was not caught.

[2019-10-14 20:08] numerology commented on #2171
Marked as fixed.

[2019-10-14 20:08] #2171 closed

[2019-10-14 20:11] numerology commented on #193
Marked as fixed by #1857
Feel free to re-open if similar problems pop up again

[2019-10-14 20:11] #193 closed

[2019-10-14 21:29] numerology commented on #2302
The reason is that, in `dataflow.config.yaml` run_pipeline was specified as False.
So the sample test infra won't check the running status of the pipeline.

[2019-10-14 22:12] numerology commented on #1758
Currently in the post-submit test we only have XGboost sample test, whose images are replaced by the latest cloud build tag versions. It works fine.

However I agree that if we would like to add more to the post-submit test it won't be very manageable. Need a better way to specify the image version used in post-submit tests.

[2019-10-15 02:41] Bobgy commented on #2379
@IronPan and @jessiezcc , as I commented above: https://github.com/kubeflow/pipelines/issues/2379#issuecomment-541520849, the fix should be done in backend.

[2019-10-15 03:03] Bobgy opened #2386 "[Frontend] upgrade node to 12 LTS"
We are currently using node 9 in dockerfile, but 11 in travis CI. We should sync both to the same version.
Latest LTS node 12 should be the best option.

problem we met: https://github.com/kubeflow/pipelines/pull/2305#issuecomment-541890390

However, I don't think this is very urgent.

Our node server runtime is using node 9. We don't have unit tests for node server.
Client UI code run in the brow

[2019-10-15 03:04] Bobgy commented on #2386
/area front-end
[tech debt]

[2019-10-15 03:05] Bobgy commented on #2386
/priority p2

[2019-10-15 03:25] Ark-kun commented on #1758
@gaoning777 WDYT?

[2019-10-15 05:47] gaoning777 commented on #2148
After the #2292, the behavior is:
The output argument is injected for both normal python sample and notebook sample only when it is specified in the config yaml.
The experiment_name is not injected at all. The SDK uses the 'default' namespace if not specified.

[2019-10-15 05:47] #2148 closed

[2019-10-15 06:01] gaoning777 commented on #2202
@jessiezcc This efforts for Q3 is officially done.

[2019-10-15 06:01] #2202 closed

[2019-10-15 06:24] gaoning777 commented on #2302
enabling the test check: https://github.com/kubeflow/pipelines/pull/2387

[2019-10-15 06:41] gaoning777 commented on #2317
You might've misunderstood the issue. I was not referring to the task.outputs and I wasn't expecting the "mlpipeline-ui-metadata" and "mlpipeline-metrics" entries to be used by the downstream components.
The issue is when I author a python function and turn it into a component using the build_python_component(or the other functions if this one is deprecated), the output section in the argo yaml is

[2019-10-15 06:55] gaoning777 commented on #2310
Please follow https://github.com/kubeflow/pipelines/tree/master/backend for API backend image build and use the Standalone Deployment https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize to deploy the new image for fast local testing.

[2019-10-15 15:40] Toeplitz opened #2395 "Cannot create artifact when using func_to_container_op"
/kind bug

**What steps did you take and what happened:**
Trying to create a simple artifact and make it display in "Run output" for a pipeline

The following code is used to create the pipeline:
[code]

**What did you expect to happen:**
The pipeline job compltes as expected, but there is noehting in "Run output".

**Environment:**

- Kubeflow version: build commit 812ca7f
- kfctl version: kfctl

[2019-10-15 18:19] FaustineLi opened #2397 "Multi-user support and allow user filter for pipelines, runs, and experiments owned by you"
Our use case internally involves sharing a cluster for a team of scientists. Since every scientist is working on their own different projects, the experiment / run / pipeline list gets cluttered quickly. We would love to have a filter to only (1) experiments you have created (2) runs you have started (3) pipelines you have uploaded if that is possible.

[2019-10-15 21:48] numerology opened #2399 "[Sample test] AI platform sample test does not generate/reclaim model and version properly"
This is because in the deploy phase the version_id was not specified properly. Working on a fix.

[2019-10-15 21:49] numerology commented on #2399
cc @neuromage

[2019-10-15 23:23] gaoning777 opened #2401 "Add sample tests for AutoML Tables sample"
https://github.com/kubeflow/pipelines/tree/master/samples/core/AutoML%20tables
is located in the core dir and we need to add tests for it.

[2019-10-16 02:42] #2399 closed

[2019-10-16 03:36] numerology commented on #2302
/close
Fixed by #2387

[2019-10-16 03:36] #2302 closed

[2019-10-16 03:44] Bobgy opened #2404 "[Frontend] tslint should ignore generated code"
@jingzhang36 reported that tslint reports an error on generated code. The code is correct, just not as clean as what we should write.

I think we should just let tslint skip generated code, it doesn't add much value to us.

/priority p0
/area front-end
#frontend-pH

[2019-10-16 04:46] numerology opened #2405 "[Sample, Component] XGBoost sample test flakiness"
Currently we're observing ongoing flakiness of XGBoost sample. A brief investigation shows that it's highly likely caused by the fact that we currently do not have a way to correctly specify the new GCP dataproc_delete_cluster as exit handler component, then argo cannot determine the execution order properly, resulting in race condition.

What do we need:
This should be fixed by modifying the corr

[2019-10-16 05:56] Bobgy commented on #2386
There's an error building frontend docker image related to grpc and node 9, but it goes away with node 12. I don't know why it builds normally during test and release. I think for this reason we should prioritize more on this.

/priority p1

[2019-10-16 05:56] Bobgy commented on #2386
/remove-priority p1

[2019-10-16 05:57] Bobgy commented on #2386
/priority p1

[2019-10-16 10:13] Bobgy opened #2406 "[Frontend] Standardize code style using prettier"
A standard https://prettier.io/ config that allows everyone format code in the same way helps improve development productivity and avoid wasted efforts during review.

Also suggested by @eterna2
/area front-end
/priority p0

UPDATE: I never considered using clang-format (used in google) for this project, because it doesn't support tsx(react) formatting and deviates a lot from existing code style.

[2019-10-16 10:14] Bobgy opened #2407 "Frontend Project Health Improvements"
This is an umbrella issue to track action items to improve frontend code base project health.

Goal is to improve onboarding, developer experience and facilitate contribution.

Planning
* [x] p0 [Standardize code style using prettier](https://github.com/kubeflow/pipelines/issues/2406)
* [x] p0 [Tslint should ignore generated code](https://github.com/kubeflow/pipelines/issues/2404)
* [x] p0 [Upgrad

[2019-10-16 10:14] Bobgy commented on #2407
/area front-end
#frontend-pH

[2019-10-16 10:38] Bobgy commented on #2406
I am planning a few steps on doing this:
1. [ ] Make a reasonable prettier config and let people use it in newly written/changed code.
2. [ ] After a week's feedback, agree on the config.
3. [ ] Transform the complete code base with prettier.

[2019-10-16 11:38] eterna2 commented on #2397
I would love to have this feature too.

How I solve it now is deploying a kubeflow pipeline deployment for each team.

[2019-10-16 13:59] shanidchamal commented on #1223
@yanniszark waiting for this feature. currently not able to run pipelines from jupyter notebook as pipeline exist in kubeflow namespace and not in notebook's. need to copy everything in notebook's pvc to pipeline's pvc for the pipeline to mount and use.  also the [reference](https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/) suggesting ways of creating components, only lightweight componen

[2019-10-16 15:37] sngahane commented on #2029
Hi @jessiezcc, would you mind providing an update on this feature? Thanks!

[2019-10-16 16:36] FaustineLi commented on #2397
@eterna2 Is there a way to have multiple pipeline deployments per kubeflow cluster or are you saying you are deploying a kubeflow cluster per team? If it's the later, that's too much underutilized overhead for us to stomach.

[2019-10-16 17:03] eterna2 commented on #2397
Ya. U can deploy multiple kubeflow pipelines service per kubernetes cluster. However, u will need to deploy them in different namespace.

Note, I am referring to kubeflow pipelines only not the full featured kubeflow (haven't tried it, but shld be the same thou).

https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/README.md

A very important thing u need to note that is CRD and

[2019-10-16 17:13] jessiezcc commented on #2029
Given it's P2, not on top of Jing's to-do list.
@jingzhang36 to provide the latest ETA. If it's urgent for you, @sngahane feel free to pick it up.

[2019-10-16 17:44] Ark-kun commented on #1497
We could support this consistently:
Design:
1. Cluster admin specifies that they want to use particular Kubernetes volume for all data storage and passing (which replaces Minio or other S3 storage).
2. The storage volume is also mounted to the Frontend pod.
3. Backend rewrites pipelines so that the artifacts are now stored in the volume while only the volume paths are being passed between steps. T

[2019-10-16 19:10] mameshini commented on #1497
Yes it would address the need - a single Kubernetes volume can be mounted to the Frontend pod, and used for all data storage and passing.  Tensorboard data can also be saved on that volume.  Currently only GCS buckets can be used to visualize Tensorboard data which is a serious limitation for other cloud providers, on-prem, and local.

[2019-10-16 19:16] brianmartin opened #2412 "API documentation incorrectly specifies base64-encoding"
**What happened:**

API documentation is incorrect. It specifies that filter.proto json should be base64 encoded. In actuality, it is just required to be URL-encoded (see: https://github.com/kubeflow/pipelines/blob/9d69e8a113cfe8066d85a01101e0b62386ca4192/backend/src/apiserver/server/list_request_util.go#L164-L176).

The wording on the documentation site is:

[code]
([src](https://www.kubeflow.org

[2019-10-16 19:17] #2335 closed

[2019-10-16 19:33] mameshini opened #2413 "Web UI should allow access to model training/validation metrics in real time"
Currently, TensorBoard button is only available in Pipelines UI at the end of each experiment run.

As a data scientist performing model training, I want to access to TensorBoard immediately after the start of the pipeline step, so I can monitor taining/validation metrics and often I may want to abort an experiment based on model metrics.  TensorBoard is logging training and validation metrics suc

[2019-10-16 19:33] mameshini opened #2414 "Web UI should allow access to model training/validation metrics in real time"
Currently, TensorBoard button is only available in Pipelines UI at the end of each experiment run.

As a data scientist performing model training, I want to access to TensorBoard immediately after the start of the pipeline step, so I can monitor taining/validation metrics and often I may want to abort an experiment based on model metrics.  TensorBoard is logging training and validation metrics suc

[2019-10-16 19:33] mameshini opened #2415 "Web UI should allow access to model training/validation metrics in real time"
Currently, TensorBoard button is only available in Pipelines UI at the end of each experiment run.

As a data scientist performing model training, I want to access to TensorBoard immediately after the start of the pipeline step, so I can monitor taining/validation metrics and often I may want to abort an experiment based on model metrics.  TensorBoard is logging training and validation metrics suc

[2019-10-16 19:33] mameshini opened #2416 "Web UI should allow access to model training/validation metrics in real time"
Currently, TensorBoard button is only available in Pipelines UI at the end of each experiment run.

As a data scientist performing model training, I want to access to TensorBoard immediately after the start of the pipeline step, so I can monitor taining/validation metrics and often I may want to abort an experiment based on model metrics.  TensorBoard is logging training and validation metrics suc

[2019-10-16 20:21] prodonjs commented on #1498
This was addressed by https://github.com/kubeflow/kubeflow/issues/3042.

/close

[2019-10-16 20:21] #1498 closed

[2019-10-16 20:26] #2405 closed

[2019-10-16 21:20] Ark-kun commented on #2310
/cc @IronPan The DB truncation issue strikes again.

[2019-10-16 21:31] Ark-kun commented on #2317
Oh. This changes everything. I was confused by this part in the description "the output such as mlpipeline-metrics.json or mlpipeline-ui-metadata.json, the generated containerop (by build_python_component) does not contain the corresponding file_output.".

There are couple more things I need to understand the issue better:
Does the component function have explicit outputs named 'mlpipeline_ui_meta

[2019-10-16 22:17] mameshini commented on #2413
Duplicate of 2416

[2019-10-16 22:17] mameshini commented on #2413
Duplicate of 2416

[2019-10-16 22:17] #2413 closed

[2019-10-16 22:17] mameshini commented on #2413
Duplicate of 2416

[2019-10-16 22:18] mameshini commented on #2414
Duplicate of 2416

[2019-10-16 22:18] #2414 closed

[2019-10-16 22:18] mameshini commented on #2415
Duplicate of 2416

[2019-10-16 22:18] #2415 closed

[2019-10-16 22:28] SinaChavoshi commented on #1619
partially fixed by #2417

[2019-10-17 01:08] Ark-kun commented on #2329
Merged.

[2019-10-17 02:39] gaoning777 commented on #2317
Make sense. Similar to the codes below, If I'm understanding it correctly.
[code]

[2019-10-17 04:24] Bobgy commented on #2406
UPDATE, discussed with @jingzhang36 and @rmgogogo. Agree on printWidth: 100 option.

[2019-10-17 06:19] Bobgy commented on #2407
/assign @Bobgy
/priority p0

[2019-10-17 06:19] Bobgy commented on #2407
/priority p1
/remove-priority p0

[2019-10-17 07:38] #52 closed

[2019-10-17 10:19] tanguycdls opened #2421 "[Sagemaker] Pytorch Container / BYO Container"
Hi guys, I'm currently testing Sagemaker to train a model directly on a ec2 instance and not in the cluster. I'm using Sagemaker notebook to call the SDK api.

- Right now I installed the python sdk in a ubuntu based docker and i'm calling the api using a script using a Pytorch Estimator and a custom image: I then call it as a python component using func to container op.
   - I don't find it so cl

[2019-10-17 10:49] tanguycdls commented on #2395
In the last version you have to define yourself the container op outputs artifacts:

[code]
In the pipeline add the code above and it should work with the correct path. If you're using func to container op you can also define a namedtuple with type: UI_metadata and Metrics such as explained here:
https://github.com/kubeflow/pipelines/pull/2046/files#diff-0aec3bb4eee5b5b7a9b97fc30a516060

related t

[2019-10-17 21:04] FaustineLi commented on #2397
I see. I pretty much live on the data scientist user side, so honestly most of this information doesn't mean a whole lot to me. But I appreciate that it is possible!

[2019-10-18 00:24] Bobgy commented on #2379
/remove-area front-end

[2019-10-18 00:47] OfficePop opened #2426 "ModuleNotFoundError when trying to compile a pipeline file"
**What happened:**

I am trying to follow the [Experiment with the Pipelines Samples](https://www.kubeflow.org/docs/pipelines/tutorials/build-pipeline/) guide and am not able to compile the `sequential.py` file into a `.tar.gz` file.

I have already installed the pipelines SDK, miniconda, and have activated a python3 environment. I am running Windows.

**What did you expect to happen:**

I expecte

[2019-10-18 02:16] daikeshi opened #2427 "Getting tons of "Workflow missing the Run ID label" error on api-server 0.1.31"
**What happened:**
After we have upgraded kfp api server from 0.1.25 to 0.1.31 on Kubeflow cluster, we are seeing tons of errors in `ml-pipeline` service log:
[code]

**What did you expect to happen:**
I expected kfp should automatically add run id when it launches the workflow.

**What steps did you take:**
[A clear and concise description of what the bug is.]
Getting the logs using command `kube

[2019-10-18 03:42] numerology commented on #1913
/close
Fixed by #2220

[2019-10-18 03:42] #1913 closed

[2019-10-18 03:44] numerology commented on #2110
/close
Fixed by #2292 .
Now sample test infra can override experiment name through env var.

[2019-10-18 03:44] #2110 closed

[2019-10-18 05:56] Bobgy opened #2429 "[Frontend] typescript lint developer experience improvements"
Pain point: When experimenting with new and dirty code, lint errors and compile errors always stop you asking for a fix, even though the code is completely valid for running (but not clean).

Especially the following issues
* https://palantir.github.io/tslint/rules/object-literal-sort-keys/
* https://palantir.github.io/tslint/rules/no-unused-variable/ would be useful, but it is deprecated in tslin

[2019-10-18 07:37] sahilmalav opened #2430 "Unable to run pipeline using the Python API Client (KFP)"
Uploaded a pipeline successfully using the python api client. Got the following response:
_{'created_at': datetime.datetime(2019, 10, 18, 6, 55, 9, tzinfo=tzutc()),
 'description': None,
 'error': None,
 'id': '45e153d7-8826-4738-bcaa-71556d2f95f9',
 'name': 'testing',
 'parameters': [{'name': 'repo-name', 'value': None},
                {'name': 'branch-name', 'value': None},
                {'na

[2019-10-18 09:00] Bobgy commented on #2429
Temporary workaround that fixes most problems:
* Use deprecated `no-unused-variable` rule from tslint
* Remove `noUnusedLocals` config from `tsconfig.json`, but add it in `tsconfig.prod.json`

[2019-10-18 09:03] Bobgy commented on #2429
Migrating to `create-react-app` and `typescript-eslint` is something we may eventually need to do, but we can wait for stronger reasons for now.
Also, `typescript-eslint` needs some time to grow too.

[2019-10-18 10:02] Bobgy opened #2432 "[Frontend] Migrate to create-react-app and typescript-eslint"
We are using deprecated library: https://github.com/wmonk/create-react-app-typescript with 2 high vulnerabilities, 3 moderate and 81 low.
Also tslint will soon be deprecated: https://github.com/palantir/tslint/issues/4100#issuecomment-517532286.

Migrating back to `create-react-app` allows us to use eslint. So both work needs to be done together. Putting these here as a tracker issue.

**Reference

[2019-10-18 10:29] #2404 closed

[2019-10-18 10:30] Bobgy commented on #2429
One remaining issue is `object-literal-sort-keys` rule:
It is super painful to maintain manually, however, there is no auto fix that can guarantee no runtime difference.
If we switch to eslint, we probably can use https://www.npmjs.com/package/eslint-plugin-sort-keys-fix to do an unsafe auto fix.

but I don't quite like this rule anyway. There are cases that I prefer a manual ordering for example

[2019-10-18 22:25] Ark-kun commented on #2395
@Toeplitz @tanguycdls

The correct way is to declare ALL outputs. The `mlpipeline_ui_metadata` and `mlpipeline_metrics` now also need to be declared just like every other output. See the sample: https://github.com/kubeflow/pipelines/blob/7b6957a/samples/core/lightweight_component/lightweight_component.ipynb

[2019-10-18 22:32] Ark-kun commented on #2268
You just have to use commit hash instead of "master": https://raw.githubusercontent.com/tensorflow/model-analysis/5aeb800/tensorflow_model_analysis/static/index.js

[2019-10-18 22:32] Ark-kun commented on #2395
1. `ContainerOp().output_artifact_paths` should not be used. It's a mistake it's not private. Generally, setting any attribute of `ContainerOp` instance (apart from `container.*`) is not a good idea.

2. `ContainerOp(output_artifact_paths=...) will be deprecated soon since it's no longer needed - `file_outputs` now works just as well - all outputs now produce artifacts (support big data).

[2019-10-18 22:44] Ark-kun commented on #2421
Can you elaborate more on the problem you are having?

Where do you need to pass the image?

It would be nice if you tried that and reported your findings. We did not have a big library of AirflowOperators to test.

[2019-10-18 22:52] Ark-kun commented on #2426
It just cannot find the input file. Are you sure the paths are correct?
Can you run the `dsl-compile` from the same directory?
BTW, you can just run the .py file - they're self-compiling.

P.S. You might want to take a look at these tutorial notebooks that show how to create and use python-based components: https://github.com/kubeflow/pipelines/blob/8dfa2d9/samples/tutorials/Data%20passing%20in%20

[2019-10-18 22:54] Ark-kun commented on #2430
You might want to update the Kubeflow backend version.
@IronPan I think this is the case of that fixed bug with SQL truncations.

[2019-10-18 23:31] sahilmalav commented on #2430
I debugged the code. In the client's run_pipeline method, the reference object generated has the 'relationship' value as None. It should be 'OWNER' instead.

[2019-10-19 00:10] Ark-kun commented on #2430
AFAIK, `relationship` is optional.

[2019-10-19 00:16] Ark-kun commented on #2317
Yes. This code should work. Let me know if it does not.

I think I should put a notice about the `mlpipeline_ui_metadata` change in the `README.md` (e.g. Notable changes in v0.1.29). WDYT?

[2019-10-19 00:17] sahilmalav commented on #2430
Doesn't seem so. My issue was resolved when I manually set it to 'OWNER'.

[2019-10-19 00:18] Ark-kun commented on #1430
My mistake. Deleted that line.

[2019-10-19 00:25] Ark-kun commented on #1375
Here is a draft pipeline that builds the container image at runtime inside the pipeline.
https://nbviewer.jupyter.org/github/Ark-kun/pipelines/blob/7c7cdb3/samples/core/build%20images%20in%20pipeline/2019-10-03%20Kaniko%20component.ipynb

And this sample demonstrated building base image containers from a notebook and using them in a component.
https://nbviewer.jupyter.org/github/kubeflow/pipelines

[2019-10-19 00:26] Ark-kun commented on #1662
KFP now supports automatically passing bigger data. See the tutorial notebook: https://nbviewer.jupyter.org/github/kubeflow/pipelines/blob/8dfa2d9/samples/tutorials/Data%20passing%20in%20python%20components.ipynb

[2019-10-19 00:26] #1662 closed

[2019-10-19 00:27] Ark-kun commented on #1597
Fixed by https://github.com/kubeflow/pipelines/pull/1970

[2019-10-19 00:27] #1597 closed

[2019-10-19 00:29] Ark-kun commented on #1598
Made somewhat possible by https://github.com/kubeflow/pipelines/pull/1970
Ideally the lightweight components should support this without container building.

[2019-10-19 00:37] Ark-kun commented on #596
@IronPan @mameshini Can you work together to check the possibility of enabling gcsfuse or goofys or other S3 mounting system as part of KFP deployment?

The CUJ is:
When user adds volumeMount for a specific volume to a Pod, the volume mounts successfully and the files written to that volume appear in GCS in a bucket configured by the cluster admin.

[2019-10-19 00:45] Ark-kun commented on #205
Fixed by https://github.com/kubeflow/pipelines/pull/466

[2019-10-19 00:45] #205 closed

[2019-10-19 00:48] Ark-kun commented on #448
We need to think of a way to specify the descriptions in a pipeline defined using Python.
Maybe docstring parsing can work.

[2019-10-19 00:50] Ark-kun commented on #2430
AFAIK it's set to `OWNER` here:

https://github.com/kubeflow/pipelines/blob/d1c32e592dd9d6beb216863e6ed2d4ab24d43573/sdk/python/kfp/_client.py#L310

[2019-10-19 00:53] Ark-kun commented on #2430
Does everything work when you call `run_pipeline` on a pipeline package instead of a pipeline id?

[2019-10-19 01:03] Ark-kun commented on #1288
With TF 1.14.0 I have the following build error on latest Bazel:

[code]

[2019-10-19 01:06] OfficePop commented on #2426
Hi, just tried again by going into the directory and running `dsl-compile` and it worked without a problem. I was copying the file path right out of windows explorer and than adding "\sequential.py" to the end so I guess something about that was incorrect. Thanks for the help and resources!

[2019-10-19 01:08] Ark-kun commented on #1288
@neuromage Dies the backend still depend on tensorflow?

[2019-10-19 01:11] Bobgy commented on #2397
@gaoning777 Is this sth that should be part of the multi tenant scenario?

[2019-10-19 01:13] Ark-kun commented on #2426
I'm glad I could help.

[2019-10-19 01:13] #2426 closed

[2019-10-19 01:19] Ark-kun commented on #1899
Fixed by https://github.com/kubeflow/pipelines/pull/2411

[2019-10-19 01:19] #1899 closed

[2019-10-19 06:41] ryandawsonuk commented on #1375
There’s also use of kaniko now in https://github.com/kubeflow/pipelines/blob/master/samples/contrib/seldon/mnist_tf.py#L72

[2019-10-19 06:41] ryandawsonuk commented on #1375
I guess we can close this?

[2019-10-20 02:16] daikeshi opened #2440 "Latest tensorflow image caused tensorboard inaccessible from pipeline ui"
**What happened:**
The latest tensorflow image used in tensorboard viewer causes tensorboard can't be accessed from pipeline UI. I saw the following error in pipeline-ui when I tried to open the tensorboard from url generated by pipeline-ui
(https://kubeflow-cluster.example.com/pipeline/apis/v1beta1/_proxy/viewer-c1f3bd5eea6b2dd5cfc2acbb4f47d42861366f49-service.kubeflow.svc.cluster.local:80/tensor

[2019-10-20 03:55] Bobgy commented on #2404
/assign @Bobgy

[2019-10-20 06:41] numerology opened #2442 "[SDK] Code style enforcement"
As discussed offline, currently KFP does not adopt a consistent coding style on its Python side. This is not the best practice.

Here we propose to use [yapf](https://github.com/google/yapf) to help contributors to enforce [Google python coding style](https://github.com/google/styleguide/blob/master/pyguide.md). I will send out a PR for the yapf configuration. The default configuration does not wo

[2019-10-20 06:42] numerology commented on #2442
/area sdk
/priority p1

[2019-10-20 06:43] numerology commented on #2442
/area testing
/area samples

[2019-10-20 18:56] kierenj commented on #1956
It looks like https://github.com/argoproj/argo/pull/1687 might fix this. I'm very new to kubeflow - can anyone explain the workaround in https://github.com/argoproj/argo/issues/703 - is it available to kubeflow-land?

[2019-10-21 05:26] Bobgy opened #2443 "Layout problems in tables"
**What happened:**
* Depending on table content and window size, header and content may not align.
![download (4)](https://user-images.githubusercontent.com/4957653/67178200-69961200-f404-11e9-9683-66502763f467.png)
Screencast when adjusting window size: https://drive.google.com/file/d/1ecy7rOrsGs35fhDaQ6sbzIpt0hQ3tSit/view
* When checkbox and expand button are shown together, the container div do

[2019-10-21 05:26] Bobgy commented on #2443
/area front-end
/kind bug

[2019-10-21 05:26] Bobgy commented on #2443
/assign @Bobgy

[2019-10-21 05:27] Bobgy commented on #2443
/priority p0
because it blocks @jingzhang36's work

[2019-10-21 06:23] Ark-kun commented on #1375
Great. For some reason I did not know Kaniko supported local context. That would have made my image building pipeline smaller, easier and more portable.

Thanks.

I'll close this issue when I check in the sample.

[2019-10-21 07:09] Jeffwan commented on #2421
1. `174872318107.dkr.ecr.us-west-2.amazonaws.com/kmeans:1` here is a Sagemaker built-in algorithm, to understand details, please check https://docs.aws.amazon.com/sagemaker/latest/dg/k-means.html

2. I think anyway you need to copy your training function to base image and build your own training image. What do you want to achieve here?

3. Airflow Sagemaker Operator should be similar to KFP Sagema

[2019-10-21 11:42] karlschriek commented on #1131
What would be _really_ useful for us would be better examples of how to build an actual pipeline on AWS. The only examples that currently exist make use of Sagemaker, but some simple examples would go a long way to getting AWS users up and running with KF Pipelines. Something simple (and independent of Sagemaker) like data processing done on images that are in S3 followed by a simple object detect

[2019-10-21 13:18] eterna2 commented on #2442
I would love to have mypy included too.

[2019-10-21 13:33] eterna2 commented on #2386
`There's an error building frontend docker image related to grpc and node 9, but it goes away with node 12. I don't know why it builds normally during test and release. I think for this reason we should prioritize more on this.`

Because the package-lock.json is not in sync with package.json.

None of the grpc packages are listed inside package-lock.json.

We should target to use `npm ci` for the

[2019-10-21 15:48] numerology commented on #2442
Sounds good. However it seems like before we enforce mypy we need some additional works to make sure we can pass its tests

[2019-10-21 17:17] Jeffwan commented on #1131
@karlschriek Could you help come up a list? We can help build examples. tfx-oss examples could run on non-GPU platforms but just need NFS mounted (we are working on s3 support in apache beam python SDK, once it's done, we don't need NFS).

[2019-10-21 17:20] IronPan commented on #2430
@jingzhang36 could you take a look this?

[2019-10-21 18:42] sahilmalav commented on #2430
@Ark-kun : No. Same issue irrespective of how I make the call. The only fix that worked for me was manually setting the relationship to OWNER.

[2019-10-21 19:34] #2440 closed

[2019-10-21 20:03] Ark-kun opened #2448 "SDK - Components - Verify that cloudpickle handles InputPath/OutputPath"
I need to check whether the function parameter annotations (InputPath/OutputPath) work fine when code is pickled.
AFAIR, Cloudpickle stopped pickling annotations for python<3.7. I need to check both 3.5 and 3.7.

[2019-10-21 20:04] Ark-kun opened #2449 "SDK - Components - Auto-select the correct python image when pickling code"

[2019-10-21 20:06] Ark-kun commented on #2430
Can you explain what exact change you had to do?

[2019-10-21 21:44] numerology opened #2450 "[Feature Request] Support TF::Example in table artifacts."
Currently in our [table view](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#table) we only support csv format files. It will be great if we can visualize data in TF::Example format as well.

[2019-10-21 21:44] numerology commented on #2450
/area front-end

[2019-10-21 21:45] numerology commented on #2450
/priority p2

[2019-10-21 23:44] Bobgy commented on #2442
FYI, tracker issue for frontend part is https://github.com/kubeflow/pipelines/issues/2406

[2019-10-21 23:51] Ark-kun commented on #1131
Can you clarify this item?
The SDK is platform-agnostic by design

The artifact repository config has moved to cluster configMap. The pipelines are portable for quite a long time.

[2019-10-21 23:52] Bobgy commented on #2407
Hi @eterna2, do you want to add anything like pain points here?

[2019-10-22 00:06] Bobgy opened #2452 "[Frontend] Document and fix recommended npm daily practices"
Summary:
* Use `npm ci` to
    * Install exact dependencies as before. [@eterna2 pointed this out](https://github.com/kubeflow/pipelines/issues/2386#issuecomment-544516457).
    * Keep node_modules up-to-date when someone else has installed a module.
* Commit package-lock.json and package.json when you installed/deleted packages.
* Use `npm install --save` (or `npm i -S` for short) for dependencie

[2019-10-22 00:37] Ark-kun commented on #2109
@gaoning777 Should we close this issue since both samples are now covered by sample tests?

[2019-10-22 02:34] jingzhang36 commented on #2430
Here when using swagger-codegen-cli 2.4.7 and 2.4.1 to generate frontend apis. Here is an example interface:

listRuns(page_token?: string, page_size?: number, sort_by?: string, resource_reference_key_type?: 'UNKNOWN_RESOURCE_TYPE' | 'EXPERIMENT' | 'JOB' | 'PIPELINE', resource_reference_key_id?: string, filter?: string, options?: any): (fetch?: FetchAPI, basePath?: string) => Promise<ApiListRunsRe

[2019-10-22 02:51] jingzhang36 commented on #2430
BTW, the master repo's generated code seems from swagger-codegen-cli.jar 2.3.1

[2019-10-22 03:28] jingzhang36 commented on #2430
And for the exact error in this message, I feel we also need to update _client.py in sdk to use string 'OWNER' and 'EXPERIMENT' string as well, similarly to what updates we do in frontend.

[2019-10-22 03:30] jingzhang36 commented on #2430
@Ark-kun can check if the sdk change here https://github.com/kubeflow/pipelines/pull/2453/files#diff-1f65a44a2187458da0f00e0ebbe730e5 is ok or not?

[2019-10-22 03:32] eterna2 commented on #2407
Looks great to me. I will add here if I think anything else.

Not sure if we wish to impose consistency in the usage of `async/await` vs `promise chaining` because I notice the node backend uses both.

[2019-10-22 04:09] xiaogaozi commented on #2071
Any Kubeflow maintainer could address this issue? @Ark-kun @gaoning777 @IronPan @jingzhang36 @Bobgy

[2019-10-22 04:31] #2443 closed

[2019-10-22 06:23] MingfeiPan opened #2455 "Error when using Seldon with Kubeflow pipeline with pipeline-runner is forbidden in creating seldondeployments"
Full report:

[code]
Edit pipeline-runner clusterrole then add authentications in seldondeployments would solve it, thinking is it feasible to add the config when initializing with Kustomize?

[code]

[2019-10-22 06:28] jingzhang36 commented on #2310
Hi @krajasek, are you still working on the fix? If you have some PRs that need review, Ning and I can help. Thanks!

[2019-10-22 07:12] Bobgy opened #2460 "[Frontend] Set up unit tests for frontend node server"
In order to test more nuanced features like added in https://github.com/kubeflow/pipelines/pull/2081.

We need at least:
* Integrate unit test into travis CI
* Some basic unit tests testing node server behavior

/assign @Bobgy
/area front-end
/area testing

[2019-10-22 07:18] Bobgy opened #2461 "[Frontend] Document how to set up frontend dev env using mock server/kubeflow deployment"
Documentation that helps people to use an existing backend to develop frontend code.

/assign @Bobgy
/priority p1
/area front-end

[2019-10-22 07:25] Bobgy commented on #2407
@eterna2 Thanks for the suggestion. I've not written much code for node backend. Which do you prefer? I think `async/await` is clearer and easier to write by all means. We can recommend switching to it doing new changes.

Do you think we need a strict rule (maybe https://github.com/xjamundx/eslint-plugin-promise/blob/master/docs/rules/prefer-await-to-then.md)? We cannot use an eslint rule right no

[2019-10-22 08:43] eterna2 commented on #2407
I generally prefer `async/await` over promises too because of the readability.

Would nice to enforce this consistency just to reduce confusion on how we shld handle async functions.

https://hackernoon.com/javascript-async-await-the-good-part-pitfalls-and-how-to-use-9b759ca21cda

[2019-10-22 09:00] Snapple49 commented on #1252
I was following the Argo issue and it seems they (finally) have a proposed [solution](https://github.com/argoproj/argo/issues/703#issuecomment-538547792) for this. It would be fantastic if this could be adopted by KFPipelines as well in some neat way, like adding a `set_memory_request_from_param` or some such method similar to the already available `ContainerOp` methods

[2019-10-22 17:44] krajasek commented on #2310
Hi @jingzhang36 , Sorry, did not get a change to work on it last week. I am on it this week and will submit a PR by the end of this week.

[2019-10-22 22:39] OfficePop opened #2467 "sort_by request parameter error on API runservice"
I am testing the API calls for the RunService resource and received an error when trying to use the `sort_by` request parameter on the [GET /apis/v1beta1/runs](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/#operation--apis-v1beta1-runs-get) request type.

I have several runs I can pull with `{endpoint}/apis/v1beta1/runs`, but I if try `{endpoint}/apis/v1beta1/run

[2019-10-23 00:03] Ark-kun commented on #2430
kfp-server-api v0.1.18.3 was supposed to be generated using swagger v2.4.7.
I've checked it and it works.

kfp-server-api v0.1.26 does not work.

kfp-server-api v0.1.18.3 is the version specified by KFP in setup.py.

[2019-10-23 00:19] jlewi commented on #2329
@Ark-kun Could you try again with the latest RC
https://github.com/kubeflow/kubeflow/releases/tag/v0.7.0-rc.5

And this config
https://raw.githubusercontent.com/kubeflow/manifests/v0.7-branch/kfdef/kfctl_gcp_iap.0.7.0.yaml

Updated instructions are pending in https://github.com/kubeflow/website/pull/1234

[2019-10-23 00:42] Ark-kun opened #2468 "Make backend build not depend on Tensorflow"
I see the following lines in `WORKSPACE`:

[code]

Since MLMD service was extracted from the API-server, the build files no longer need tensorflow.
We should clean up the references.

This should fix https://github.com/kubeflow/pipelines/issues/1288

[2019-10-23 02:36] eterna2 commented on #1131
I can help with a guide on how to setup the lightweight pipeline in AWS EKS since I have deployed and run several deployments on them.

As well as the small config/manifest changes here and there to work with S3 and AWS IAM roles.

[2019-10-23 03:04] Bobgy commented on #2386
@eterna2 thanks for the suggestions, I agree with we should use `npm ci` instead.
Created issue https://github.com/kubeflow/pipelines/issues/2452 to track this problem.

For this specific issue, I don't think that's the root cause. They are in https://github.com/kubeflow/pipelines/blob/master/frontend/src/generated/src/apis/metadata/package-lock.json#L203.
I'm not fully clear why it was put there.

[2019-10-23 03:08] Bobgy commented on #2452
/priority p0

[2019-10-23 03:15] Bobgy commented on #2407
I think that's a good idea. Do you want to contribute to this or any of the items above? I don't think I can have time for this refactoring shortly.

Rough ideas:
* We should first complete https://github.com/kubeflow/pipelines/issues/2460 for test coverage.
* Convert existing usage of promise chain to async/await.
* (optional) Add a code style document recommending best practices or enforce by li

[2019-10-23 03:17] Bobgy commented on #2406
Only left work item is enforcing code style for `src/frontend/server`, will address that in a separate issue as stated in https://github.com/kubeflow/pipelines/issues/2406#issuecomment-542639620

/close

[2019-10-23 03:17] #2406 closed

[2019-10-23 03:27] Bobgy commented on #1253
@paveldournov and @ajayalfred, what do you think of my implementation?

[2019-10-23 04:22] IronPan commented on #2071
@xiaogaozi @strangemonad-faire Thank you a lot for dive into this and found the issue. I guess the part that joining the metrics and resource reference is the root cause. These information is still needed I believe. We'll take a look and get back soon.

[2019-10-23 06:24] jingzhang36 commented on #2430
#Hacktoberfest

[2019-10-23 06:39] Bobgy commented on #2429
Update, after making lint errors as warnings during development. `object-literal-sort-keys` is less an issue for me.

My workflow becomes:
1. make changes and test
2. before pushing to remote, fix all lint errors

So it's more a problem of whether we want this rule or not. I will leave that to future discussion in a separate issue.

/close

[2019-10-23 06:39] #2429 closed

[2019-10-23 06:41] Bobgy commented on #2461
Bump priority to p0 because I think documentation for using mock server is super useful, it can help contributors work on UI without any external dependency.

[2019-10-23 06:57] paveldournov commented on #1253
/lgtm
+1 on the link to the compiling the pipeline as well

[2019-10-23 07:02] paveldournov opened #2469 "Add Application CRD to the standalone KFP deployment spec"
Having the application CRD enables the KFP cluster to be visible in the GCP console with easy connect link. It would be great if the KFP deployment created with the standalone spec enabled that as well.

[2019-10-23 09:28] Bobgy commented on #1790
This is already solved in https://github.com/kubeflow/pipelines/pull/2370

/close

[2019-10-23 09:28] #1790 closed

[2019-10-23 09:29] Bobgy commented on #2460
This is actually duplicate of https://github.com/kubeflow/pipelines/issues/2215
will use the original issue

[2019-10-23 09:29] Bobgy commented on #2460
/close

[2019-10-23 09:29] #2460 closed

[2019-10-23 09:45] Bobgy commented on #62
I think this is a valid ask.

Temporary workaround: @Ark-kun do you think always opening a new page when clicking on runs would be better. User context in all runs page will be kept for them to come back.
The user experience isn't as smooth as always using the same tab, but system complexity for our UI code is a lot simpler.

To properly design front-end to remember last state is a complex problem

[2019-10-23 09:52] Bobgy commented on #154
I agree with wrapping description and narrowing timestamp, but we need to rethink about the paging behavior here too.

Maybe an gradual loading list as you scroll with wrapped description sounds like a good idea?

That takes some thorough design. At the meantime, as a fast fix, we can add a title attribute to description that shows full text pop-up on hover. What do you think about this?

[2019-10-23 11:42] tanguycdls commented on #2421
Hi Thanks for your answers and sorry for the delay.

I had some response from AWS Support, to pass an entrypoint path without having to copy it through the high level api you can use hyperparameters:
[code]
Using those you can use the boto3 sagemaker api with Pytorch Sagemaker Image. I did not had time to try with Kubeflow Sagemaker component but i'm pretty confident it should work.

On the questi

[2019-10-23 11:42] #2421 closed

[2019-10-23 13:02] sarahmaddox commented on #1700
@gaoning777 Can we close this issue, after the merge of the above PRs? We have a note in the docs that we can remove when this issue and https://github.com/kubeflow/pipelines/issues/337 are closed.

[2019-10-23 13:03] sarahmaddox commented on #337
@IronPan  Can we close this issue, after the merge of the above PRs? We have a note in the docs that we can remove when this issue and https://github.com/kubeflow/pipelines/issues/1700 are closed.

[2019-10-23 16:28] eterna2 commented on #2467
You should replace `field_name` with the actual name of the field you want to sort by (e.g. name, created_at). Not the literal string `field_name`.

[2019-10-23 16:31] OfficePop commented on #2467
Gotcha, thanks!

[2019-10-23 16:31] #2467 closed

[2019-10-23 17:55] hlu09 opened #2471 "On Mac, cannot copy truncated input or output text completely in KFP UI."
**What happened:**

KFP UI started to truncate long input or output text. On Mac, select-and-then-copy-paste only gives visible text portion. On Linux, it works fine with all text including truncated portion.

**What did you expect to happen:**

it should work on Mac too.

**What steps did you take:**
[A clear and concise description of what the bug is.]

KFP UI version 0.1.32.

On Mac mojave  10.

[2019-10-23 18:00] IronPan commented on #337
/close

[2019-10-23 18:00] #337 closed, assigned to neuromage, rmgogogo

[2019-10-23 18:00] IronPan commented on #337
@sarahmaddox thanks! close it for now

[2019-10-23 21:03] kevinpauli commented on #336
This one mentions a "future PR"

[code]

[2019-10-23 21:11] hilliao opened #2474 "dsl-compile --py pipeline.py --output pipeline.tar.gz outputs a .tar.gz, not a .zip"
the pipeline compile command outputs a .tar.gz, not a .zip:
`dsl-compile --py [path/to/python/file] --output [path/to/output/tar.gz]`
[The code line](https://github.com/kubeflow/pipelines/blob/416bab1acb85c7ffa029620ce7b99f6556a436dc/samples/core/sequential/sequential.py#L52) should return .tar.gz, not .zip

[2019-10-23 21:17] hilliao opened #2475 "It's not clear that KubeflowRunner().run generates pipeline package somewhere"
in [the Jupyter notebook](https://github.com/kubeflow/pipelines/blob/master/samples/core/tfx-oss/TFX%20Example.ipynb), the following line
`run_result = kfp.Client().create_run_from_pipeline_package('chicago_taxi_pipeline_kubeflow.tar.gz', arguments={})` does not say where the .tar.gz file was generated. It should be a full gs:// path with `dsl-compile --py [path/to/python/file] --output [path/to/o

[2019-10-23 21:57] Ark-kun commented on #2430
This version is outside of the KFP supported version range (from `setup.py`): `'kfp-server-api >= 0.1.18, <= 0.1.25'`

Please downgrade you kfp_server_api by running `pip3 install kfp_server_api==0.1.18.3 --upgrade`.

It might be that the person creating `0.1.26` used a wrong script or swagger version. I'll investigate.

[2019-10-24 00:12] Ark-kun commented on #336
All the PRs related to artifact passing have been merged.

The preferred ways to utilize the artifact passing is by either:
*  creating component from python function  (`func_to_container_op`) - see the [Data Passing tutorial](https://github.com/kubeflow/pipelines/blob/6be5cd7bc0adcbb2ebf9317c01935e8372582413/samples/tutorials/Data%20passing%20in%20python%20components.ipynb)
* creating a component

[2019-10-24 00:15] Ark-kun commented on #336
@kevinpauli I've updated the code in the comment: https://github.com/kubeflow/pipelines/issues/336#issuecomment-493283510

[2019-10-24 01:15] parthmishra opened #2477 "Does the AI platform (cloudml) train component support pipeline metrics output?"
If I wanted to get a custom metric (output from my training code itself) from the AI platform train job, is it possible to with just the train component or should I use a separate containerOp component that generates the metric file?

[2019-10-24 01:29] cjwagner commented on #930
Still an issue. Please address.

[2019-10-24 01:45] Bobgy commented on #1253
@paveldournov Great, I will continue on the implementation

[2019-10-24 02:24] eterna2 commented on #1497
[code]

Question. Can multiple pods mount the same PV? Because for PV for AWS backed k8s uses EBS. And I don't think we can mount the same EBS on multiple pods.

Does that means we need to use some custom volume backed by nfs or some storage service?

[2019-10-24 02:29] eterna2 commented on #1497
Just a side-note, I got tensorboard viewer to work with S3 by exposing a env var in frontend to set a path to a custom podspec, which I config by mounting a configmap.

#1906

[2019-10-24 02:40] amygdala opened #2479 "GCP credentials instructions w/ lightweight deploy needs additional info on envir var setup"
For the marketplace guide GCP setup:
https://github.com/kubeflow/pipelines/blob/master/manifests/gcp_marketplace/guide.md#gcp-service-account-credentials
we should also specify that they need to set the `NAMESPACE` and `APP_INSTANCE_NAME` env vars.  Otherwise, when they create the `secret.yaml` file, those fields won't be filled in and things will fail silently when it's applied.

If they're comin

[2019-10-24 03:25] Ark-kun commented on #2430
@sahilmalav Can you please verify that kfp_server_api==0.1.18.3 works for you?

[2019-10-24 06:33] sahilmalav commented on #2430
I'm currently out on a vacation and don't have my laptop with me. I'll only be able to check next week.

[2019-10-24 14:19] kevinpauli commented on #336
@Ark-kun thank you so much for your response!

My use case is to be able to use ContainerOps directly, to be able to do artifact passing in KFP just like Argo's artifact-passing.yaml example that is linked above.

I wanted pretty much exactly what you had shown for the "future PR" code snippet I had referenced above.  But still when I try it (using kfp 0.1.32), it fails to compile due to `KeyError

[2019-10-24 16:09] numerology commented on #2330
/close
Fixed by https://github.com/kubeflow/pipelines/pull/2394
and other doc improvements as well.

[2019-10-24 16:09] #2330 closed

[2019-10-24 16:24] numerology opened #2482 "[Frontend] Tensorboard might need some extra time to boot"
With the latest fix (#2441 ) to re-enable tensorboard visualization, after the open tensorboard button is enabled, if the user click it immediately they'll be hit by 504. They have to wait for ~5 secs until TB really boot up.

Shall we add a sentence just telling the user keep refreshing in [viewer](https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/viewers/Tensorboard.tsx)?

[2019-10-24 16:24] numerology commented on #2482
/assign @Bobgy
/area frontend
/priority p2

[2019-10-24 16:24] numerology commented on #2482
/area front-end

[2019-10-24 16:25] neuromage commented on #2468
/assign @Ark-kun

Thanks for finding this. Please feel free to remove those lines and send me a PR.

[2019-10-24 16:59] kevinpauli commented on #336
@Ark-kun nevermind, I just re-read where you said we should use `file_outputs`... I was mistakenly using `output_artifact_paths`.  This works!

[code]

[2019-10-24 18:33] IronPan opened #2485 "Pipeline description not fully shown in UI"
![image](https://user-images.githubusercontent.com/2348602/67514659-013c7000-f652-11e9-8586-b463561fe7ce.png)

[2019-10-25 00:44] Bobgy commented on #2485
@IronPan I don't quite follow, what is not correct?

[2019-10-25 01:03] rmgogogo commented on #2479
https://github.com/kubeflow/pipelines/pull/2394/files
Jiaxiao already fix it in upper CL to use NAMESPACE.

[2019-10-25 01:24] Bobgy commented on #2485
Source code should also be a link.

[2019-10-25 01:37] Ark-kun opened #2488 "Pipeline is not populated when you go to pipeline page and then quickly click "Create run""
**What happened:**
In the run configuration, the pipeline is missing and the run cannot be created.

**What did you expect to happen:**
I expect the active pipeline to be used to start the run.

[2019-10-25 01:43] Bobgy commented on #2485
@IronPan Looks like there's a 255 character length limit for pipeline description in backend API. It didn't return the complete description to frontend for both cases. They all stop at 255

[2019-10-25 01:44] Bobgy commented on #2485
/assign @IronPan

[2019-10-25 01:45] Bobgy commented on #2488
I've seen this too. Let me try to take a look

[2019-10-25 01:48] Ark-kun commented on #2475
That's because it does not generate that file. This method is for creating a run from a package you already have (e.g. you downloaded it).

Most people should just use the `create_run_from pipeline_func` method. With that method you're doing everything in 1 line. No need to compile anything.

I see how that sample is confusion.
But the source of that confusion is different:
The real issue is that

[2019-10-25 01:50] Ark-kun commented on #2474
The file format is chosen based on the extension.
If you run the self-compiling pipeline it will produce a pipeline package in some format.
If you compile it using dsl-compile, you can choose a different format.

[2019-10-25 01:52] Ark-kun commented on #2430
Good luck on your vacation. I've verified that 0.1.18.3 works while 0.1.26 does not.

[2019-10-25 01:54] Bobgy commented on #154
Bump priority, because it will be worse in latest release:
<img width="866" alt="Screen Shot 2019-10-25 at 9 52 08 AM" src="https://user-images.githubusercontent.com/4957653/67537341-7b7dfa80-f70d-11e9-9ac1-f34326af544c.png">

[2019-10-25 02:03] Ark-kun opened #2489 "[MKP] GCP secret files are empty"
[code]

[2019-10-25 02:29] Ark-kun opened #2490 "Organize Pipelines samples and tutorials in an ordered curriculum"
I think we should have some organization in the samples. Currently samples are like the "Index" of a technical book - they're organized alphabetically. There is no order, no curriculum. There is no distinction between notebooks and python files. Niche topics come before fundamental topics. Etc.

There should be a place where the users see clearly structured tutorials:

[code]

[2019-10-25 03:21] numerology commented on #2489
Just wanna confirm. Did you go through the procedure in the [guide](https://github.com/kubeflow/pipelines/blob/master/manifests/gcp_marketplace/guide.md#gcp-service-account-credentials)

[2019-10-25 03:41] Bobgy commented on #2485
/assign @Bobgy
I will try to fix it

[2019-10-25 03:54] neuromage commented on #2475
As the docs say, `run` compiles and outputs the pipeline file:
https://github.com/tensorflow/tfx/blob/b89024c9f2dfafdef38e3d460000055f53642715/tfx/orchestration/kubeflow/kubeflow_dag_runner.py#L219

It's called `run` due to the fact that the base class defines that as the interface, and other runners actually do run the pipeline. With KFP, it's not possible to trivially run a pipeline (we don't kn

[2019-10-25 03:54] #2475 closed

[2019-10-25 06:24] Bobgy commented on #2485
We need to configure [here](https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/model/pipeline.go#L33) to make description field a long text.

However, gorm auto migration doesn't update data type: [reference](http://gorm.io/docs/migration.html). We need to write some migration code.

[2019-10-25 06:31] Bobgy commented on #2485
A migration sample I can reference: https://github.com/kubeflow/pipelines/blob/7aaecb150114d358c886ab85f01f327428b2a253/backend/src/apiserver/client_manager.go#L207

[2019-10-25 08:41] #2485 closed

[2019-10-25 10:26] Bobgy commented on #154
I made the dialog bigger first, I think that's enough for usual use case.
![download (20)](https://user-images.githubusercontent.com/4957653/67564157-ee5e9400-f754-11e9-82f5-f2a614415106.png)

[2019-10-25 13:34] tanguycdls commented on #1497
@eterna2 How can we use your PR https://github.com/kubeflow/pipelines/pull/1906 to use Tensorboard on S3 ? I opened an issue a while ago here https://github.com/kubeflow/kubeflow/issues/3773.  Thks !

[2019-10-25 14:31] #154 closed

[2019-10-25 15:05] eterna2 commented on #1497
Tensorboard supports s3 thru boto3 under the hood. You will need to either pass in the AWS credentials with env variables or set the pod annotations with the appropriate IAM roles (if your cluster is running kube2iam or equivalent) for the tensorboard pod to access ur s3 bucket.

My PR exposes an env var `VIEWER_TENSORBOARD_POD_TEMPLATE_SPEC_PATH` inside pipeline UI to load a custom podTemplateSpe

[2019-10-25 15:25] MingfeiPan commented on #2455
solved with [clusterrole for pipeline-runner with seldondeployments #2458
](https://github.com/kubeflow/pipelines/pull/2458)

[2019-10-25 15:25] #2455 closed

[2019-10-25 16:28] hilliao commented on #2475
I found [the wrong pythondoc](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/runner.py). I think by adding comment **chicago_taxi_pipeline_kubeflow.tar.gz** is generated on the _KubeflowRunner().run(pipeline)_ code line would be enough

[2019-10-25 16:33] hilliao commented on #2474
Did you mean if the code changes to _kfp.compiler.Compiler().compile(sequential_pipeline, \_\_file\_\_ + '.tar.gz')_, it would change to the .tar.gz format?

[2019-10-25 16:37] numerology commented on #2474
Yes it would.

[2019-10-25 16:56] numerology commented on #2479
Thanks for noting this @amygdala . We switch to a leaner way for applying secret after deployment, which no longer requires `APP_INSTANCE_NAME`

[2019-10-25 17:02] numerology commented on #2397
I think it is. @gaoning777  WDYT?
That being said such use cases would be slightly different than the multi-tenant support. @FaustineLi  for the multi-tenant support what is expected to happen is that, different users (or user groups) will be separated by different namespaces. It won't be as straightforward as adding an attr (say, author) to a pipeline and provide a way to group pipelines.

[2019-10-25 17:13] numerology commented on #2348
This sounds sweet. Is this a feature related with the multi-tenant scenario? @gaoning777

[2019-10-25 17:30] numerology commented on #2475
Hi. Your link points to `tfx/tfx/orchestration/kubeflow/runner.py` is that correct?
Would love to correct the doc if that was misleading.

[2019-10-25 18:39] l1990790120 opened #2495 "`Compiler` compiles invalid yaml when text is too long to be in one line"
**What happened:**

When running `dsl-compile ...` on a simple pipeline definition, it generates invalid pipeline yaml file as the following

[code]

When using the api to run the pipeline, it returns the following -

[code]

Basically the yaml file is invalid.

**What did you expect to happen:**

The correct form where quoted text is broken up into multiple lines should be the following -

[code]

[2019-10-25 19:12] #2474 closed

[2019-10-25 19:13] hilliao commented on #2475
@numerology yes, the link pointed to """Deprecated definition of Kubeflow TFX runner.""" which misled me. which doc do you want to correct?

[2019-10-25 21:14] JakeTheWise opened #2501 "mlpipeline-ui-metadata html output not displaying on v0.7rc6 (worked on 0.6.2)"
My data validation component generates static html for display in the KFP UI. This html successfully visualizes in kubeflow v0.6.2 but is broken in v0.7.0rc6. The run output tab just displays a blank card:
![Screen Shot 2019-10-25 at 4 14 11 PM](https://user-images.githubusercontent.com/13136287/67604910-81da9980-f742-11e9-912f-83fc0426bc50.png)
I have confirmed this is not a TFDV-specific issue.

[2019-10-25 21:23] JakeTheWise opened #2500 "Failed to retry run (v0.7.0rc6)"
When I click `Retry` in the KFP UI to re-run a pipeline run, I get the following in a popup dialog:

[code]

[2019-10-25 22:01] krajasek commented on #2310
@jingzhang36 , @gaoning777 - I just submitted a PR #2497 for review. Thanks.

[2019-10-26 00:33] Ark-kun commented on #2495
I'm not sure the problem is in the annotation.
You can just remove the annotation and try.

Let me know of the result.

[2019-10-26 00:47] numerology commented on #2475
Ah I see. The root cause is that our example is using deprecated KubeflowRunner instead of KubeflowDagRunner. I will fix that shortly.

[2019-10-26 11:55] gabrielvcbessa commented on #1497
@eterna2  I am also using pod annotations to authenticate with aws. I tried to patch the ml-pipeline-ui deploy and include the following patch:

[code]

But I am still getting `S3Error: Access Denied` when trying to visualize any artifact generated by any given step. I double checked and the pod has the annotation and also have the following log:

[code]

Shouldn't this work?

[2019-10-26 13:20] eterna2 commented on #1497
This is for tensorboard. Not pipeline-ui.

Cuz minio-js does not support IAM roles.

U need to wait for my pr #2081 to be merged in before pod annotations will work for pipeline-ui.

Meanwhile u can use a minio gateway to proxy to s3.

[2019-10-26 13:31] eterna2 commented on #1497
https://github.com/minio/minio/blob/master/docs/gateway/s3.md

A minio gateway is setup very similarly to the kf minio server. U just need to add the pod annotations and change the args.

[2019-10-26 23:28] numerology commented on #2489
This is the current intended behavior for alpha launch. Will be fixed in beta launch.
For alpha launch please follow [guide](https://github.com/kubeflow/pipelines/blob/master/manifests/gcp_marketplace/guide.md#gcp-service-account-credentials) to setup user-gcp-sa secret.

[2019-10-26 23:28] numerology commented on #2489
/close

[2019-10-26 23:28] #2489 closed

[2019-10-26 23:34] numerology commented on #2368
Another thought on this.
After each release, can we bump the [version number of sdk](https://github.com/kubeflow/pipelines/blob/26a244de242cc694d6cfb9377891ec1cee1e2d15/sdk/python/kfp/__init__.py#L16) so that `pip install --upgrade` realizes the head version is a higher version and does not override it?

Will give it a shot when I have time.

[2019-10-28 01:29] Bobgy commented on #2348
I think this is great. Something I couldn't figure out -- what can we use as a user identity?

[2019-10-28 13:10] Bobgy commented on #2471
Can you provide a screenshot? Are you talking about `Input Artifacts` and `Output Artifacts`?

[2019-10-28 16:59] hlu09 commented on #2471
Not artifacts, just operator output. e.g.,
e.g.,   if the output vale is "On Mac mojave 10.14.1, go to input/output tab with truncated text, try to select and then copy and past to a text editor", it will be truncated to "On Mac mojave 10.14.1, go to ..."

[2019-10-28 17:54] hlu09 commented on #2471
We actually discovered that on both Linux and Mac,  we can select full text (including invisible part) by double clicking text a few times till the whole text is selected.   Thus, problem solved.
though, it will be nice to have hover over and show whole text using hover css such as.
.valueText:hover{
    overflow: visible;
    white-space: normal;
    height:auto;
}

[2019-10-28 17:54] #2471 closed

[2019-10-28 17:57] l1990790120 commented on #2495
@Ark-kun I can manually remove or edit those lines then I trigger the pipeline through api successfully, but the main thing being if i have to manually edit those, ideally, `dsl-compile` should take care if the line is too long use ">-" instead of breaking it up with quotes

[2019-10-28 19:01] mereldawu opened #2503 "KeyError for dsl.ContainerOp.after"
**What happened:**

I am trying to specify the execution order of dsl.ContainerOp, but fail to compile during the kfp.compiler.Compiler() step if I add container_op1.after(container_op2).

I am on Kubeflow 0.6.2.

**What did you expect to happen:**

Successfully compile the pipeline.

**What steps did you take:**

I followed the sdk examples, without `train.after(fe_bulk)` the pipeline compiles, b

[2019-10-28 19:34] JakeTheWise commented on #2501
@jlewi thanks!

I've confirmed this isn't a TFMA-related issue; I also tried displaying TFDV output as well as a bokeh plot (exported as html). The files were all written as static html to google cloud storage. The pages display correctly if I download and view them in Chrome. Again, in kfp v0.6.2 this issue did not occur.

[2019-10-28 19:54] numerology opened #2504 "[Frontend] Better Execution/Artifact page display when loading"
Currently both page show 'No artifacts(executions) found' when loading, which is a bit of misleading.

[2019-10-29 02:18] Bobgy opened #2505 "[UI] Alternative approach to see truncated content"
As reported in https://github.com/kubeflow/pipelines/issues/2471.
and some other previous issues before, we should think about alternative pattern instead of truncating that always allow users to see full text of a value.

/area front-end
/kind feature
/priority p2

[2019-10-29 05:36] Bobgy commented on #2471
@hlu09 thanks for the suggestion, I created https://github.com/kubeflow/pipelines/issues/2505 to track following up efforts.

[2019-10-29 05:37] Bobgy commented on #2504
@numerology Thanks for pointing out! We should add a loading state.

[2019-10-29 09:44] #2504 closed

[2019-10-29 11:19] Bobgy commented on #1572
Need to verify if firefox works with KFP UI first.

[2019-10-29 19:32] IronPan opened #2509 "Tensorboard Projector page empty"
<img width="2407" alt="Screen Shot 2019-10-29 at 7 10 52 PM" src="https://user-images.githubusercontent.com/2348602/67802300-16e1d900-fa48-11e9-949f-fdbc0e6e04e4.png">

This can be reproduced by running the latest prebuilt tfx samples and open the tensorboard in the training step through GCP marketplace.

[2019-10-29 19:42] IronPan commented on #2509
Here is another example that we knew working in previous version of KFP
https://aihub.cloud.google.com/u/0/p/products%2F4a91d2d0-1fb8-4e79-adf7-a35707071195/v/2/downloadpage

[2019-10-29 20:02] numerology commented on #2509
The preload TFX sample does not have projector implemented in its module file. So I guess it should be its intended behavior? However the projector page is blank as well for the AI Hub sample, which is problematic.

[2019-10-29 20:03] numerology commented on #2509
Relevant:
https://github.com/tensorflow/tensorboard/issues/2771

[2019-10-29 22:51] Ark-kun commented on #2503
Can you please try updating the KFP SDK package?
AFAIK, this bug has already been fixed.

[2019-10-29 23:00] hongye-sun commented on #2477
No, the original trainer component doesn't support output metrics file. You need to create another containerop to export the metrics to pipeline.

[2019-10-30 05:13] jingzhang36 commented on #2509
+1 to @numerology's theory. I downgrade tensorflow to 1.13.2 in my viewer controller and projector works fine

[2019-10-30 05:14] IronPan commented on #2509
What version of tf do we use in viewer controller? do we pull latest?

[2019-10-30 17:05] IronPan opened #2514 "Allow choosing tensorboard version through UI"
The tensorflow is known to have backward incompatible changes. Currently we pin tensorboard version to 1.13.2 for reliability purpose but we should ideally allow user to choose the version that best match the tensorflow code generating the data.

[2019-10-30 19:01] cwu24 opened #2515 "Duration of a retry run does not reflect how much the run actually takes"
**What happened:**
After I retry a failed run, the duration of the run shown on the UI on the takes into account of the time before the retry is triggered. For example, my first run fails 1 hour after it was triggered. I retry the run after 5 hours since it fails and takes another 1 hour until it finishes. Then, the duration shows as 7 hours rather than 2 hours.

**What did you expect to happen:**

[2019-10-30 21:33] Ark-kun commented on #2495
Can you elaborate on why you think the different styles of YAML string encodings are not equivalent?

[2019-10-31 00:04] ucdmkt opened #2516 "kfp.Client does not error out even if host is inaccessible"
**What happened:**

kfp.Client did not error out even though gibberish `host`. Instead, `.list_pipeline()` returned empty response.

[code]

**What did you expect to happen:**

either `client = kfp.Client(host='foo')` or `client.list_pipelines()` should have raised runtime error.

**What steps did you take:**
[A clear and concise description of what the bug is.]

[code]

See above for exact code s

[2019-10-31 00:23] ucdmkt commented on #2516
Update: This issue may only be hit iff the environment previously had valid  or invalid? token, possibly due to [this codeline](https://github.com/kubeflow/pipelines/blob/47bb1036f9c558638746bbdccc65034d191d2e8f/sdk/python/kfp/_auth.py#L34)

[code]

[2019-10-31 00:45] Ark-kun commented on #2495
Can you please post the whole problematic YAML?
I'm interested in this error: "cannot unmarshal bool into Go struct field Container.args of type string"

[2019-10-31 04:28] Bobgy commented on #2501
/priority p0
/kind bug

Let me troubleshoot this.

[2019-10-31 10:16] Bobgy commented on #2501
I tried to deploy a kubeflow 0.7, but I got blocked by this issue: https://github.com/kubeflow/kubeflow/issues/4439

[2019-10-31 11:35] jlewi commented on #2329
@Ark-kun  Latest RC
https://github.com/kubeflow/kubeflow/releases/tag/v0.7.0-rc.7

www.kubeflow.org is now up to date.

There are currently no known blocking issues and we are aiming to finalize 0.7.0 today assuming we don't learn of any new release blocking issues.

[2019-10-31 12:18] jlewi commented on #2501
@Bobgy I recommend using IAP if you want to deploy Kubeflow on GCP.

[2019-10-31 12:53] Bobgy commented on #2501
@jlewi Thanks! I will use IAP to debug this.

[2019-10-31 14:00] Bobgy commented on #2501
Hit the following error message instead when `kfctl apply`
[code]

My cluster name is too long.

[2019-10-31 14:37] Bobgy commented on #2501
`kfctl apply` ends with an error
[code]

However, it seems kubeflow can already be used. I will start taking a look.

[2019-10-31 14:47] JakeTheWise commented on #2501
@Bobgy you are correct and apparently it's a harmless message — see here. https://github.com/kubeflow/kubeflow/issues/4414

[2019-10-31 14:54] Bobgy opened #2518 "[UI] Requires clicking back button twice to go back to previous page"
**What happened:**
In run detail page, I need to click back button twice to go back to run list page. It's similar for other pages.

**What did you expect to happen:**
Only one back button click.

**What steps did you take:**
This happens only in KFP UI in Kubeflow 0.7. So it's either an integration issue or a bug in Kubeflow.

[2019-10-31 15:03] Bobgy commented on #2501
@JakeTheWise Thanks for the info!

[2019-10-31 15:04] Bobgy commented on #2501
I've been able to reproduce the issue.

The problem is minio couldn't find the file. I'm checking why that happened.

[2019-10-31 15:57] Bobgy commented on #2501
I don't quite understand why it worked before in KF 0.6.

First, I guessed the issue was a permission issue. I tested patching the deployment to use user-gcp-sa credentials as GOOGLE_APPLICATION_CREDENTIALS for ml-pipeline-ui deployment. And then ml-pipeline-ui can fetch the file and return it to frontend. So the html file is rendered.

[code]
I added the above change to ml-pipeline-ui manifest to

[2019-10-31 15:59] Bobgy commented on #2501
When I was using https://www.kubeflow.org/docs/pipelines/standalone-deployment-gcp/ for test comparison. It was deployed in a cluster with full scope. So default credentials can also fetch those files and there's nothing wrong.

However, if the cluster doesn't have full scope, but access GCP resources by user-gcp-sa. I imagine it would break too.

@IronPan, do you know more context about this?

[2019-10-31 16:09] Bobgy commented on #2501
Made a PR: https://github.com/kubeflow/manifests/pull/594/files

Just realized the change is GCP specific, so it should probably be put in an overlay and combined later. What do you think about this fix? @jlewi @IronPan

[2019-10-31 18:36] #2477 closed

[2019-10-31 19:41] hongye-sun commented on #2516
@IronPan, this looks similar with the issue that we found in last release. I remembered that you fixed in 0.1.32.1. Is it s regression in 0.1.32.2?

[2019-10-31 21:25] jlewi commented on #2501
What is pipelines GCP auth story?

With 0.7 we are moving to use workload identity per kubeflow/pipelines#1691. So the ideal solution would be to use a service account that is bound to the correct GCP permissions.

Here are possible options

## Option 1 - Use an existing KSA already bound to a GSA

In the kubeflow namespace we create kubernetes service accounts

* kf-user
* kf-admin

So one soluti

[2019-11-01 00:03] Ark-kun commented on #2329
I'll try checking it.

[2019-11-01 01:28] Ark-kun commented on #2474
@hilliao
JFYI, you can now submit pipeline for execution without explicitly compiling it yourself by using
[code]

[2019-11-01 01:46] Ark-kun commented on #336
Hmm. `output_artifact_paths` should have worked too (it's deprecated and all entries are being added to `file_outputs`).

Sorry for some confusion in this area. I understand that this part in ContainerOp is overly confusing. Adding artifact passing took a very long time and some intermediate parameters were added that are not needed in the final result.
`output_artifact_paths` was added, because p

[2019-11-01 03:48] Bobgy commented on #2518
The issue is in kubeflow central dashboard. It can be reproduceable in other UIs too.
Made a new issue in https://github.com/kubeflow/kubeflow/issues/4446

/close

[2019-11-01 03:48] #2518 closed

[2019-11-01 03:49] Bobgy commented on #2329
FYI, I met problem: https://github.com/kubeflow/kubeflow/issues/4446

I think it's in central dashboard.

[2019-11-01 04:47] Bobgy opened #2523 "Presubmit tests are leaking persistence disks"
**What happened:**
Presubmit test failed with
[code]

**What did you expect to happen:**
Persistence disks created in presubmit tests should be cleaned up periodically.

**What steps did you take:**
Go to https://pantheon.corp.google.com/compute/disks?organizationId=433637338589&project=ml-pipeline-test page to take a look at persistence disks.

**Anything else you would like to add:**
[Miscellane

[2019-11-01 04:52] Bobgy commented on #2523
Clean up steps should be added in https://github.com/kubeflow/pipelines/blob/master/test/tools/project-cleaner/main.go

[2019-11-01 05:44] Bobgy commented on #2523
Command that deletes some unused disks
[code]

[2019-11-01 05:48] Bobgy commented on #2523
/priority p1
/assign @Bobgy

[2019-11-01 06:25] Bobgy commented on #2501
@jlewi Thanks for listing all the options I can take!

I'd go with option 3 for now because I'm not sure what KFP has decided on the auth story.
@gaoning777, do you know more about this?

[2019-11-01 06:46] Bobgy commented on #2501
Option 2 sounds like the final state we would want to reach. However, why would we need to touch `kfctl` for adding bindings? If we can write some configurations for that, then it would be awesome. I want to know if that's the direction we are heading?

[2019-11-01 07:47] Bobgy commented on #1691
Note, one work item:
* pipeline-ui needs gcs read permission when using workload identity https://github.com/kubeflow/pipelines/issues/2501, quick fix is done in https://github.com/kubeflow/manifests/pull/594 without workload identity.

[2019-11-01 23:52] IronPan commented on #2329
I believe the empty artifact page fix is not in 0.1.31.
@numerology Do you think we should include that? The new release 0.1.33 will be ready soon which will include all fixes.

[2019-11-02 00:05] numerology commented on #2329
Thanks for looping me in. Is that the empty artifact bug when running pipeline written in TFX DSL?

[2019-11-02 00:17] hlu09 opened #2531 "UI no longer shows job link and log link from GCP ML component"
**What happened:**
The code below generates very handy artifacts that will show up in KFP UI (0.1.26). However, after upgrading to 0.1.32, they no longer show up in UI.

https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/component_sdk/python/kfp_component/google/ml_engine/_common_ops.py#L109

    display.display(display.Link(
        'https://console.cloud.google.com/mlengi

[2019-11-02 02:55] Ark-kun commented on #2329
I noticed the the `metadata-configmap` is not deployed in Kubeflow installation. @neuromage Can we make the Kubeflow installation closer to standalone and marketplace in this aspect?

[2019-11-02 02:56] Ark-kun commented on #2329
I think this issue is quite important to fix in KF 0.7.

[2019-11-02 03:32] Ark-kun opened #2533 "Use the same code to parse pipeline and component function signatures"
There are currently 2.5 different parsers. We should unify them and leave a single parser.
The most feature-rich parser is the one used by `func_to_container_op`.

[2019-11-02 03:32] Ark-kun opened #2534 "Properly serialize pipeline arguments when creating a run in SDK"

[2019-11-02 03:36] Ark-kun commented on #2531
You need to explicitly declare the "MLPipeline UI metadata" output:

See
https://github.com/kubeflow/pipelines/blob/c063a050ed25310d784da73cd8c6d6cd548b6210/components/gcp/ml_engine/train/component.yaml#L102 and https://github.com/kubeflow/pipelines/blob/7b6957a/samples/core/lightweight_component/lightweight_component.ipynb

P.S. Please make sure your program can get the paths of that metadata JSO

[2019-11-02 03:37] Ark-kun commented on #2490
Some initial tutorials: https://github.com/Ark-kun/kfp_samples/tree/ae1a5b6/2019-10%20Kubeflow%20summit

[2019-11-02 03:53] Ark-kun commented on #62
AFAIK, usually the websites send the page and count as query parameters. This way each page has a distinct URL.

[2019-11-02 04:42] numerology commented on #2329
That explains why artifact page is empty, I think we definitely need to include that in the Kubeflow manifest.

[2019-11-02 19:48] jlewi commented on #1962
With 0.7 we have continued to provision user-gcp-sa secrets but we will stop doing that in subsequent releases so pipelines will need to update to work with workload identity.

[2019-11-02 19:56] jlewi opened #2537 "[GCP] ml-pipelines-ui needs to use workload identity on GCP"
The ml-pipelines UI when deployed as part of Kubeflow on GCP needs to be configured to use GCP workload identity.  This means it needs to be running using a Kubernetes Service Account(KSA) that is bound to a Google Service Account (GSA)

Here are some possible options

Here are possible options

## Option 1 - Use an existing KSA already bound to a GSA

In the kubeflow namespace kfctl create kubern

[2019-11-02 19:58] jlewi commented on #1962
I think we can close this issue and use #1691 to track migrating pipelines to workload identity and removing the secrets.

[2019-11-02 20:01] #1962 closed

[2019-11-02 20:12] jlewi opened #2538 "[GCP] pipelines docs and samples need to be updated for workload identity"
In 0.7 Kubeflow is switching to relying on [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) to provide pods with GCP credentials.

In 0.7 we are continuing to provision Kubernetes secrets (eg. `user-gcp-sa`) containing a Google Service Account (GSA) for backwards compatibility. We will stop provisioning those secrets though in the next release (kubeflow

[2019-11-04 06:56] sahilmalav opened #2539 "Workflow yaml generated by the SDK has the "volumes" field located incorrectly, causing the pipeline run to crash."
Given below is my python code.

[code]

Upon compiling this, I got the following workflow yaml :

[code]

I uploaded this to Kubeflow dashboard, and while running, got the following error :
"**This step is in Error state with this message: volume 'benchmark-project-prod--pipeline-pv' not found in workflow spec**"

As you can see in the workflow yaml, the "volumes" field is inside "container" array

[2019-11-04 08:13] kierenj opened #2540 "Plain keras training running via build_image_from_working_dir: OOMKilled"
Training a simple Keras model (couple of LSTM layers, 28000x150x27 input), using whatever the default base image is from `kfp.containers.build_image_from_working_dir` following a fresh `pip3 install kfp`, and the container's RAM grows steadily over about 50 minutes until it's `OOMKilled`.

The input data is in CSV format and loaded once initially via `dataset = np.loadtxt(raw_data, delimiter=",")`

[2019-11-04 08:39] Ark-kun commented on #2540
Thank you for your feedback. I'll work with you to make Pipelines work for you.

I'll add more information later.

1) kfp.containers.build_image_from_working_dir does not do anything magical. You've seen the Dockerfile. It just collects python files, generates Dockerfile and builds image. You may use some other base image that you already know.

2) Tensorflow probably does not respect Kubernetes'

[2019-11-04 09:20] sahilmalav commented on #2539
UPDATE: Problem seems to be with the kfp version. Versions 0.1.31.2 and 0.1.32.2 have the same problem. Upon downgrading to 0.1.30, it's working fine. Please look into it.

[2019-11-04 14:32] jlewi commented on #2329
@Ark-kun @numerology @IronPan we are finalizing 0.7.0 this morning. If this fix is critical please submit a fix ASAP and we will include it in a minor release.

In the interim can someone please provide a description of what the problem is or what won't work that we can include in the release notes for 0.7.0.

[2019-11-04 14:37] jlewi commented on #2501
Verification with GCP and IAP using

kubeflow/kubeflow - v0.7.0-rc.7-3-g8dbde9d8
kubeflow/manifests - v0.7.0-rc.2-19-g317c0d8

ml-pipeline-ui spec is below

* GOOGLE_APPLICATION_CREDENTIALS is set

[ml-pipeline-ui.yaml.txt](https://github.com/kubeflow/pipelines/files/3804459/ml-pipeline-ui.yaml.txt)

So marking this as fixed.

[2019-11-04 14:37] #2501 closed

[2019-11-04 16:27] JakeTheWise commented on #2501
Thanks!!

[2019-11-04 18:34] gaoning777 commented on #1700
Unfortunately, the container builder does not support other registries other than the GCR, yet.

[2019-11-04 18:57] hlu09 commented on #2531
@hongye-sun Looks like the best way is to explicitly declare the "MLPipeline UI metadata" output inside ml_engine package. What do you think?

[2019-11-04 19:15] numerology commented on #2329
Hi @jlewi , sorry for the delayed response.

The problem is as follows. We've noticed that KF 0.7 release is using KFP 0.1.31, which actually does not include this [preload sample](https://github.com/kubeflow/pipelines/tree/master/samples/contrib/parameterized_tfx_oss) that demonstrates the latest execution/artifacts UI and metadata functionalities etc. Those functionalities actually rely on a cor

[2019-11-04 20:31] l1990790120 commented on #2495
@Ark-kun

compiling the following .py file

[code]

and compiles into this, if you upload this into a new pipeline, it'll throw the above error

[code]

[2019-11-04 21:31] kierenj commented on #2540
Thanks, previously though I was just running tensorflow locally, not in a container. I'm really stuck at understanding how anyone would have used Tensorflow on Kubernetes ever before if it's not respecting limits. Presumably you/no-one on the Kubeflow project has encountered it? I'm not sure why I would stumble across such an issue for the first time!

I did raise an issue however, here - https://

[2019-11-04 21:52] kierenj commented on #2540
Running the same image locally, the python process termined with a simple "Killed" to stdout. Using dmesg:

[code]

I'd like to try some other base images.. would anyone have any recommendations? I'm struggling to see why `gcr.io/deeplearning-platform-release/tf-cpu.1-14` wouldn't be ideal for tensorflow on GCP! :)

[2019-11-04 22:30] IronPan commented on #2416
I think real time rendering would be nice for volume as well as for GCS or S3.

[2019-11-04 23:11] #2109 closed

[2019-11-04 23:14] jlewi commented on #2329
Thanks for the details @numerology.

KF 0.7.0 will be shipping 0.1.31 because that's what we've been qualifying.

Including a later version of KFP in a minor release 0.7.X is a possibility. The first step would be to get the manifests on master updated to ship a later version of KFP.

What is the next version of KFP that should be targeted and do we have a tracking bug to update the manifests?

[2019-11-05 00:35] jlewi opened #2542 "Delete or update outdated deployer component for TFServing"
There is a pipeline component to deploy models for TFServing here
https://github.com/kubeflow/pipelines/tree/ba64bd3866023c36c93cf2b46a066a1b008bb6c4/components/kubeflow/deployer

But it looks very outdated

* It is using ksonnet and the old TFServing ksonnet component which has long since been deleted

I'm classifying this as a P1 bug as I suspect this component doesn't work since its so outdated

[2019-11-05 00:35] jlewi commented on #927
This code is very outdated. Filed: kubeflow/pipelines#2542 about updating or deleting it.

[2019-11-05 00:35] #927 closed

[2019-11-05 00:55] Ark-kun commented on #2539
I'm pretty sure this issue was introduced in this PR: https://github.com/kubeflow/pipelines/pull/2229
I'll take a look and create a fix.

[2019-11-05 01:00] Ark-kun commented on #2539
Are you sure the `volumes` entry is in the `template.container`? It seems to be in the `template`, which is the correct place for volumes in Argo 2.3.0+.

Can you please upgrade your backend KFP installation (or just upgrade Argo to 2.3.0)

[2019-11-05 01:17] Ark-kun commented on #2539
As a side note: I'd also like to learn more about your use case and how you use Pipelines.

Can you explain the decision to keep all components in the same file as opposed to per-component [versioned] files?

Every `add_volume_mount` should be accompanied with `add_volume`.

This can be greatly simplified by using

[code]

Which can be further simplified by using `PipelineConf.add_op_transformer`

[2019-11-05 01:21] Ark-kun commented on #2531
All the components in `components/gcp/*` already have those outputs in the component definitions. I've linked to them.

What's your user scenario? If you write custom component code, then you need to explicitly specify the outputs in the component definition (either `component.yaml` or the function to which you apply `func_to_container_op`).

Can you please explain your scenario more?

[2019-11-05 01:23] Ark-kun commented on #2329
@IronPan Let's update the manifests to 0.1.33 and update them every week as part of weekly KFP release.

[2019-11-05 02:18] hlu09 commented on #2531
I am using wait-job function there. What is the good way to  declare the "MLPipeline UI metadata" output?  Thanks!
        dsl.ContainerOp(
            name=name,
            image=wait_component_image,
            arguments=[
                "kfp_component.google.ml_engine",
                "wait-job",
                "--project_id",
                gcp_project_id,
                "--job_id",

[2019-11-05 02:50] jinchihe commented on #2542
Agree, we can use KFServing to do last mile for model serving, that's common and easy using.

[2019-11-05 04:59] sahilmalav commented on #2539
@Ark-kun I'm working on a project that required automated pipeline creation. So the python code that you saw is auto-generated based on some user inputs.
I'm using ".after" since it's very generic. In a pipeline, the next component might not always use the data from the previous components.
The decision to keep all the components in one file also arises from the fact the component file is auto-gen

[2019-11-05 05:04] sahilmalav commented on #2539
@Ark-kun Yes, pretty sure it's inside 'container' and not 'template'. You can see that it's at the same level as "args", "inputs", "metadata" and "name".

[2019-11-05 06:03] Bobgy commented on #62
It doesn't work with our backend, because we cannot query lists by page and count. We can only query by pageToken and count. Therefore, the state of a table is a list of pageToken that corresponding to each page user has already seen: [code](https://github.com/kubeflow/pipelines/blob/af090bffa2b8773162898c97648c1c0b38dd85fe/frontend/src/components/CustomTable.tsx#L206).

That's not sth suitable fo

[2019-11-05 06:04] Bobgy commented on #2537
/assign @Bobgy I will finish this before end of quarter.

[2019-11-05 07:49] jingzhang36 commented on #2509
Close this issue and track the tb version selector in https://github.com/kubeflow/pipelines/issues/2514

[2019-11-05 07:49] #2509 closed

[2019-11-05 09:04] karlschriek opened #2545 "Component with OutputPath times out before completion"
**What happened:**

I am currently trying to gain an understanding of how to use the InputPath, OutputPath etc. classes in order to transfer data between pipeline components. My use case is follows:
1. Download a pickled dataframe from S3 and make it available as an OutputBinaryFile, then use this as an input in a next component.
2.. In the next component, loop from the DataFrame (which is an inde

[2019-11-05 10:18] karlschriek opened #2548 "VolumeOp with ReadWriteMany fails to provision on AWS"
**What happened:**

Upon creating a small pipeline like this the PVC cannot be bound on EKS:

@kfp.dsl.pipeline(name="test", description="blah")
def dev_evaluation_pipeline():

    vop = kfp.dsl.VolumeOp(
        name="my_pvc",
        resource_name="new_pvc",
        size="10Gi",
        modes=kfp.dsl.VOLUME_MODE_RWM )

        download_images_task = download_images_op( ...) .add_pvolumes({"/imag

[2019-11-05 18:38] kierenj commented on #2540
`tensorflow/tensorflow:latest-py3` base image works just fine. This solves it for me, thanks for the tip.

Hoping the issue helps someone in my situation in the future.. shall I close this?

[2019-11-05 20:54] Ark-kun commented on #2548
Currently we do not have platform-specific configurations in the deployment.
What is the effort required to deploy the provisioner?

[2019-11-05 20:56] Ark-kun commented on #2548
BTW, What's your use case for creating volumes?

Please check the tutorials for big data passing for python and non-python components https://github.com/Ark-kun/kfp_samples/blob/master/2019-10%20Kubeflow%20summit/104%20-%20Passing%20data%20for%20python%20components/104%20-%20Passing%20data%20for%20python%20components.ipynb https://github.com/Ark-kun/kfp_samples/blob/master/2019-10%20Kubeflow%20sum

[2019-11-05 20:59] Ark-kun commented on #2539
I'm not sure this is the case:

[code]

[2019-11-05 21:02] Ark-kun commented on #2539
The problem with your pipeline is that you're mounting volumes you did not add.
Every `add_volume_mount` needs `.add_volume`, but in your pipeline only `data_fetch_` has `.add_volume`.

The fact that the volume added to one op if available in other ops was an unintended bug.

[2019-11-05 21:05] Ark-kun commented on #2539
BTW, Since you're using volumes for passing the data, please check the tutorials for big data passing for python and non-python components https://github.com/Ark-kun/kfp_samples/blob/master/2019-10%20Kubeflow%20summit/104%20-%20Passing%20data%20for%20python%20components/104%20-%20Passing%20data%20for%20python%20components.ipynb https://github.com/Ark-kun/kfp_samples/blob/master/2019-10%20Kubeflow%

[2019-11-05 21:17] Ark-kun commented on #2545
Intermediate data passing (the feature that you use what you use `InputPath` and `OutputPath`) allows you to pass data in platform-agnostic way.
Currently the intermediate data passing is implemented using Argo's artifact passing and by default uses S3 artifact repository backed by Minio. https://github.com/argoproj/argo/blob/master/ARTIFACT_REPO.md#configure-the-default-artifact-repository

The f

[2019-11-05 21:22] Ark-kun commented on #2540
You should pin the image (use versioned image). Otherwise your pipeline might break in future in TF releases a new incompatible or buggy image.

I guess people were using smaller models.

Is there any way to tell Tensorflow how much memory it can use? I thought that there si no control over it as the needed memory is determined by the network size.

[2019-11-05 21:28] Ark-kun commented on #1694
@haudren Please migrate from `ouput_artifact_paths` to `file_outputs` which now also works for artifacts.

[2019-11-05 21:29] Ark-kun commented on #2531
[code]

[2019-11-05 21:32] Ark-kun commented on #2495
@IronPan Is it possible that the Go's YAML parser is parsing YAML strings wrong? There should be no difference between the YAML's 4 text styles. Can you please check the parsing of the posted two pipelines?

[2019-11-05 21:50] Ark-kun commented on #62
I see. Thanks for the explanation.

[2019-11-05 22:16] IronPan commented on #2500
This should only happen in kf deploy.
This is due to the discrepancy between kf manifest and manifest in kfp
https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/pipeline/ml-pipeline-apiserver-role.yaml#L11
https://github.com/kubeflow/manifests/blob/master/pipeline/api-service/base/role.yaml

[2019-11-05 22:50] IronPan commented on #2501
Regarding GCP auth I agree with @jlewi that Pipeline should heading towards workload identity as well.

[2019-11-06 00:50] haudren commented on #1694
Thanks a lot! I guess I need the latest `kfp` for this, do I also need the latest Kubeflow deployment (0.7.0)?

Last question, it says that `file_outputs` supports large files, but does it support directories as well?

[2019-11-06 02:56] Bobgy commented on #2515
Thanks for the report, I will take a look when I have time.

[2019-11-06 06:34] jingzhang36 commented on #2407
I ran into an issue where FE complier complains about casing difference. We probably can remove the check at https://github.com/kubeflow/pipelines/blob/d315bf654c54d815d090ffff3ba0a47e60053c5e/frontend/tsconfig.json#L17

[2019-11-06 08:37] kierenj commented on #2540
Thanks, I will pin the version.

My model is really very small though. On the correct image the total use is about 3-5GB, whereas with the GCP one (the default for Kubeflow) it didn't stop at 100GB.

[2019-11-06 08:39] Bobgy commented on #1753
/close
Already added: https://github.com/kubeflow/pipelines/blob/d6d9d8da19f7110fff3a5ba713710402edaeee65/test/build-images.sh#L25

[2019-11-06 08:39] #1753 closed

[2019-11-06 08:39] Bobgy commented on #1752
/close
Already added: https://github.com/kubeflow/pipelines/blob/d6d9d8da19f7110fff3a5ba713710402edaeee65/test/build-images.sh#L25

[2019-11-06 08:39] #1752 closed

[2019-11-06 09:24] Bobgy opened #2555 "Postsubmit tests keep failing"
This blocks release. Make an issue to track diagnosis progress.

Example error log: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit/1191939127650553856.
The test ran for 2 hours and was killed by prow because it timed out.

Error message tell the cause is:
[code]

UPDATE: postsubmit test passed on https://github.com/kubeflow/pipelines/commit/202e74894aa4f229c85302

[2019-11-06 09:25] Bobgy commented on #2555
/cc @jingzhang36

[2019-11-06 09:28] sahilmalav commented on #2539
@Ark-kun Yes, you're right. My bad.

Oh! I didn't know that. I came across some example on the usage, and the author there did an `add_volume` only on the first component. I've been using it like this ever since, and it has been working fine, probably due to the unintended bug that you mentioned. I'll try it your way.

[2019-11-06 09:50] Bobgy commented on #2555
/close

[2019-11-06 09:50] #2555 closed

[2019-11-06 09:53] Bobgy opened #2556 "Test flakiness because of "unsupported operand type(s) for -=: 'Retry' and 'int'""
I think this is the top 1 flakiness I have been seeing over a long time.

One stackoverflow answer seems to explain the problem well: https://stackoverflow.com/a/46970344.
and the mentioned solution: https://stackoverflow.com/questions/37495375/python-pip-install-throws-typeerror-unsupported-operand-types-for-retry/37531821#37531821

@Ark-kun @numerology, I think we should try to fix this.

Exampl

[2019-11-06 18:29] numerology commented on #2538
@Ark-kun Does kfp.dsl have a way to specify KSA in a pod?

[2019-11-06 19:18] numerology commented on #2516
The problem is as follows.

First kfp.client attempts to determine whether the provided host name is a inverse proxy host or a iap host. If neither is the case, client will believe it's probably a port forward address and set config.host and return. Let me think about what'll be a better way to do this.

[2019-11-06 20:21] Ark-kun commented on #2556
I want to note that this exception is actually caused by network failures. It's just that the handling of those failures has error.
SO this does not seem to be a cause of failure, but rather reflection of another failure.

[2019-11-06 21:53] Ark-kun commented on #2538
AFAIK we always use the `pipeline-runner` SA. @IronPan knows the details.

[2019-11-06 21:55] Ark-kun commented on #2540
Oh. This sounds like a big issue. Is there any way you can donate a PoC/reproduction, so that I can pass it to the Deep Learning VM team?

[2019-11-06 22:12] amygdala opened #2560 "Pipelines UI: Logs window content is lost when output has 'curses'-like logging"
When a pipeline step's output uses 'curses'-like cursor manipulation*, as is the case when running a keras `model.fit()` training job, the logging window doesn't handle this well -- the logged output prior to this line is  'lost' , or at least no longer visible.

I assume this will be a common glitch, as many will include keras training as part of a pipeline.

If this is hard to fix, maybe we coul

[2019-11-06 23:15] Bobgy commented on #2556
Designed handling is to retry the network request ( inferred from the error message), so I believe it can greatly reduce flakiness if we

[2019-11-06 23:23] JakeTheWise opened #2561 "ContainerOp.set_gpu_limit: "Unschedulable: 0/4 nodes are available""
**What happened:**
I'm running a pipeline with one component specified by `kfp.dsl.ContainerOp(...).set_gpu_limit(1)`. When I run this pipeline, the KFP UI displays a yellow warning banner for the component that says: `This step is in Pending state with this message: Unschedulable: 0/4 nodes are available: 4 Insufficient nvidia.com/gpu.` The component has hung like this for over 10 minutes now. Th

[2019-11-07 00:41] Ark-kun commented on #2561
Do you have any GPU nodes in your cluster?

@gaoning777 Can you please take a look?

[2019-11-07 00:43] Ark-kun opened #2562 "Metadata UX - Artifacts and Executions should be grouped based on Metadata Context"
Currently, UX ignores context of artifacts and executions and groups based on different properties.

[2019-11-07 00:56] Bobgy commented on #2562
@Ark-kun thanks for the idea, can you clarify what is context?

[2019-11-07 01:04] Ark-kun commented on #2562
Context is a generalization of run - a grouping of Executions. https://github.com/google/ml-metadata/blob/ed9f5729185622ab1cef226e484f2e8cee5f4995/ml_metadata/proto/metadata_store.proto#L201
Execution is connected with Context through Association.
Artifact is connected with Context through Attribution.
Artifact is connected with Execution through Event.

[2019-11-07 01:07] Ark-kun opened #2564 "Metadata UX - Artifacts and Executions should probably be grouped by run_id not pipeline_name"
Currently, when you run pipeline multiple times, everything is put in the same group.
We should probably group by run, not by pipeline.
WDYT, @neuromage

[2019-11-07 01:14] hlu09 commented on #2531
Cool!  It works. Thanks!

[2019-11-07 01:14] #2531 closed

[2019-11-07 01:36] Bobgy commented on #2562
Thanks, I am trying to understand. After taking a look at the proto file https://github.com/google/ml-metadata/blob/ed9f5729185622ab1cef226e484f2e8cee5f4995/ml_metadata/proto/metadata_store.proto#L191

It seems there could be many context types. Are you proposing we group by run context type?

[2019-11-07 02:02] Bobgy commented on #2560
An example and also a screenshot how it looks like in UI now would be helpful.

Besides, consistently showing stackdriver link is a common ask. I will do that nevertheless.

[2019-11-07 02:34] Bobgy commented on #2560
/priority p1
/kind feature
/kind bug

[2019-11-07 06:12] shotarohorai commented on #1198
Is it possible to use the rerun the pipeline API (https://github.com/kubeflow/pipelines/pull/1720) from kfp?

[2019-11-07 07:41] Bobgy commented on #2556
Fixed
/close

Please report and reopen if you see this again

[2019-11-07 07:41] #2556 closed

[2019-11-07 08:53] derekhh commented on #2561
@JakeTheWise - I've seen a similar issue on a self-deployed Kubeflow Pipelines a few days ago.

Can you run `kubectl get daemonset --namespace=kube-system` and see if you have the `nvidia-driver-installer` daemonset on your k8s cluster?

If not I think you need to install it via: https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers

[2019-11-07 10:57] karlschriek opened #2569 "ParellelFor cannot resolve binary input stream"
I am trying to build a workflow that fetches a fairly large dataset from S3 and makes it available for downstream components as a binary stream.

Here is a simple working example where two downstream tasks each access the binary stream:

[code]

However, I would like to be able to do a ParallellFor operation so that I can dynamically set the parameters for the downstream tasks. I would expect the

[2019-11-07 11:08] karlschriek commented on #2548
Well, the real use case I suppose is that the using for insample InputPath / OutputPath provisions disk space that eventually runs out, you've already provided an answer to my separate question on that here https://github.com/kubeflow/pipelines/issues/2545

Deploying the provisioner is not entirely straightforward. There is an EFS Provisioner deployment available here https://github.com/kubernetes

[2019-11-07 11:14] karlschriek commented on #2545
Ok, thanks for the reply, I will check out both possibilities.

[2019-11-07 14:22] karlschriek opened #2570 "ParallelFor parameter parsing does not retain user input format"
When running a pipeline with a ParallelFor condition over a list of dictionaries, camelCase and snake_case inputs are altered.

This won't work:

    with kfp.dsl.ParallelFor([{"helloWorld": "blah"}]) as item:
        my_op(item.helloWorld)

    with kfp.dsl.ParallelFor([{"hello_world": "blah"}]) as item:
        my_op(item.hello_world)

If I am reading this correctly, then the `my_op` is parsing

[2019-11-07 14:53] JakeTheWise commented on #2561
I did not have that driver installed! So I installed it; I also had to manually scale up the gpu pool from 0 to 1 in order for the install to take effect. I re-ran the pipeline and it successfully finished. However, no GPU was used in the container run. I confirmed this by listing the available GPUs in my container using `tf.python.clientdevice_lib.list_local_devices()` which returned empty; and i

[2019-11-07 15:08] damien75 commented on #1731
To be clear if you want to use **any** type of file (`html`, `csv` or else apart from [tensorboard](https://github.com/kubeflow/pipelines/issues/699)) to be displayed in the Kubeflow Pipeline UI, then you need to wrap the file in a `.tar` ball, and reference in the source the `.tar` file.

[code]

[2019-11-07 17:34] numerology commented on #2570
Thanks for reporting. It seems like the sanitization of var name is not consistent b/w the declaration of the loop var and its usage. We'll fix it quickly.