[2018-05-16 09:03] ynqa opened #1 "How does it proceed with this project?"
I'd like to contribute/help to this project, are there any milestones or actual codes for pipelines?

It looks like that there are two procedures:
1. Move [argoproj/argo](https://github.com/argoproj/argo) into here. Probably it's necessary to permit from argoproj members.
2. Implement the pipeline module from scratch using kubernetes APIs (e.g. CRD) like argo.

please reply if you don't mind.

[2018-05-17 04:54] jlewi commented on #1
@vicaire is leading this project.

[2018-05-17 05:47] vicaire commented on #1
Hi ynqa@, we plan to provide some tools built on top of Argo to schedule and trigger pipelines. Argo has an ambitious project to tackle this (https://github.com/argoproj/argo-events) and hopefully we can switch to what Argo provides once it has taken shape.

[2018-05-17 07:15] ynqa commented on #1
@vicaire Thanks for your reply. that means that this repo will include the tools which is wrapped Argo trigger/scheduler and specialized in kubeflow?

[2018-05-17 21:58] vicaire commented on #1
Yes. We are still figuring out the details.

The goal is to provide pipeline functionality that either doesn't not make sense to add to Argo, or that won't be available in Argo for a while. We are still figuring out the details and will discuss further with the Argo team.

[2018-05-18 16:11] ynqa commented on #1
@vicaire I got it, thanks. If you decided what to make on this projects or there is anything that I can help with, please tell here. I'm going to cooperate argo projects progresses also.

[2018-05-18 22:57] vicaire commented on #1
That sounds great. Thanks!

[2018-05-26 00:29] vicaire opened #5 "ScheduledWorkflow CRD: Investigate need for retries beyond the ones provided by Argo"
Currently, the ScheduledWorkflow CRD reliably starts Argo workflows, but does not monitor that they complete successfully. It relies on retries embedded in the Argo workflow itself.

The ScheduledWorkflow CRD could provide a retry functionality.

[2018-05-30 05:05] vicaire commented on #5
Notes:

[2018-06-05 03:01] ynqa opened #7 "ScheduledWorkflow CRD: CLI"
Will it prepare the scheduledworkflows' CLIs in this repository to manage controller like `argo`? Or adding subcommands to argo.

[2018-06-05 23:38] vicaire commented on #7
It will be done in this repo. Thanks!

[2018-06-06 00:04] ynqa commented on #7
@vicaire Already done to make CLI? If it has not started yet, I'll make it!

[2018-06-06 00:11] vicaire commented on #7
Sure, could you make a proposal of how it will look like?

It would be nice if it could take as a parameter a file with an Argo workflow, and automatically generate the yaml for the ScheduledWorkflow.

[2018-06-06 00:51] ynqa commented on #7
First, I'll make a command for installation of controller and CRD like `argo install...`. Then, ScheduledWorkflow controller is deployed as `Deployment` to kubernetes.

[2018-06-06 02:08] ynqa commented on #7
@vicaire First, I'll make a command for installation of controller and CRD like `argo install`. Then, scheduledworkflow controller is deployed as `Deployment` to kubernetes.

[2018-06-06 02:10] vicaire commented on #7
That looks great!

[2018-06-08 08:01] ynqa commented on #7
@jlewi First, I think CLI to manage scheduledworkflows should be prepared.
For example, for dealing with the case to continue execution of the Argo workflow where it left off (or by indicating arbitrary position). I think also it's bothersome to handle this by `kubectl` and the manifests only.

And also I think it's not strange to install the components (CRD/controller) into k8s using this CLI als

[2018-06-09 04:04] vicaire commented on #7
For installation of the CRD, we indeed need to conform to the Kubeflow standard of using a ksonnet package.

Thanks for the reminder @jlewi.

[2018-06-09 05:37] ynqa commented on #7
Sure. Thanks.

[2018-06-09 05:39] ynqa commented on #7
I got it. Thanks.

[2018-06-11 18:14] ynqa commented on #5
Does it use configmap to trace how far pipelines are finished?

[2018-06-13 11:47] ynqa commented on #5
Ah sorry, I was just misreading. I understood this issue objectives.
By the way, What is the main use cases? I think that is in order to training the ML model with some intervals.

[2018-06-14 02:53] vicaire commented on #5
Yes, this is the main use case

[2018-06-21 12:42] gaocegege commented on #1
Hi, I am also interested in the project, could we add the scope of the project in README? Personally, I am not sure if I understand it. Do you want to implement the pipeline based on argo to support ML workload?

[2018-06-21 18:53] vicaire commented on #1
Hi gaocegege, we are still figuring out the details and scope. Stay tuned. Thanks!

[2018-07-02 08:22] ddysher commented on #1
From what I explored so far, the project now supports scheduled workflow on top of argo, and the main use case i've learned is to support training model on a regular basis, as mentioned [here](https://github.com/kubeflow/pipelines/issues/5#issuecomment-396909504).

While @vicaire is working on the details, I'm curious about the regular training use case, what's the concrete scenario we are targeti

[2018-07-03 23:50] jlewi commented on #1
Model validation and evaluation are within scope of Kubeflow and TFX but I think the initial work in this repo is more narrowly scoped; i.e ScheduledWorkflow.

@ddysher I think we as a community should figure out how to address use cases like the ones you mentioned. There are lots of issues about continuously deploying models e.g. using GitOps kubeflow/kubeflow#1118 and there are lot of pieces e.g

[2018-07-03 23:54] gaocegege commented on #1
Could you please explain what ScheduledWorkflow is, I can not find the proposal or something else in the community, thanks. :smile:

[2018-07-04 00:34] IronPan commented on #1
@gaocegege ScheduleWorkflow is the CRD in this repo. [Definition](https://github.com/kubeflow/pipelines/tree/9add1bbc05fbce47e01bfb9b7951474975bc73bd/pkg/apis/scheduledworkflow)

[2018-07-04 00:45] IronPan commented on #1
@ddysher You are correct that one of the main goal of this project is to run an argo workflow on a regular basis by with the help of ScheduledWorkflow CRD.
One aspect of the use case you are describing is event based triggering of an Argo workflow. Just FYI Argo community is working on a [general support](https://github.com/argoproj/argo-events) of the feature. Although we might need to evaluate w

[2018-07-04 02:31] ddysher commented on #1
@jlewi @IronPan thanks for the kind reply.

I understand argo workflow and how we leverage it for kubeflow.  My question above is why do we want a ScheduledWorkflow for kubeflow, what is the concrete use case?  From what i understand, regular training won't be useful unless we have feedback from somewhere.

[2018-07-06 16:54] IronPan commented on #1
@ddysher Thanks for clarifying the question. Argo was initially created for K8s native CI/CD. The pipeline project is a nature extension of the idea that applies to the case of ML model development. One of the main use case for ScheduledWorkflow CRD  is **continuous learning**. It's not rare, especially in production environment, to see model continuous adapting the new data coming in, and continu

[2018-07-07 01:08] ddysher commented on #1
Thanks @IronPan, what you described aligns with my understanding. We have similar effort internally so would like to merge the effort, do you have an estimated time of the proposal?  @vicaire @IronPan

/cc @Muzry

[2018-07-10 20:55] vicaire commented on #1
Hi @ddysher,

We do not have an estimated time yet for a proposal but will update the thread as soon as we do. Thanks!

[2018-07-17 07:35] fisache commented on #1
It's interested project to me as well.
@IronPan I understand that continuous learning means model's CD in production env. then, as you know, this process has to be rollback when bad evaluation. Is it considered in this project? for this, I think, needs model or data versioning like [pachyderm](http://www.pachyderm.io/open_source.html). and, I think, in model continuous learning, it's difficult poi

[2018-07-17 20:35] vicaire commented on #1
Thanks fisache@. We haven't yet established the exact scope of this project. For now, it only aims to provide a set of useful tools for running workflows. We will provide more information as we make progress. Thanks.

[2018-08-12 05:15] #7 closed

[2018-09-03 03:35] DmitryBe opened #15 "Doesn't remove old containers (> maxHistory)"
does the parameter `maxHistory` assumes removing old argo workflows, or it's just defines number of records in `workflowHistory`?

i have following configuration (keep it short for simplicity):
[code]

In a `workfloHistory` is see 5 last records:
[code]

Unfortunately, old containers wasn't removed:
[code]

[2018-09-03 22:06] #1 closed

[2018-09-04 23:32] vicaire commented on #15
Hi DmitryBe@,

This is not yet supported. This option currently just limits the number of workflows that appear in the Kubernetes status when using "kubectl swf get <name> -o yaml.

[2018-09-05 14:27] DmitryBe commented on #15
hello @vicaire ,
thanks for your reply. is it in plans to support this feature?

[2018-09-06 03:08] vicaire commented on #15
Yes, but this is low priority at this time.

[2018-11-05 18:15] qimingj opened #44 "Remove python op decorator"
Let's remove dsl.python_op in favor of dsl.python_component.

[2018-11-05 19:40] rileyjbauer opened #49 "Date pickers in NewRun do not handle invalid days well"
For example, if a user sets the `start date` to 2/31/2018, the form will show that date, but component will set the `start date` to `undefined`.

We should either add constraints on the days ourselves, or at least show an error message indicating that the date is invalid.

[2018-11-05 21:33] Ark-kun opened #52 "User should be able to upload a new pipeline when creating a new run."
http://localhost:9090/pipeline/#/runs/new?experimentId=8348da85-566b-4b11-a286-da8615ae9c6c

[2018-11-05 21:35] Ark-kun opened #53 "User should be able to start a new run from the pipeline page."

[2018-11-05 21:35] Ark-kun opened #54 "User should be able to create a new Recurring Run from the pipeline page."

[2018-11-05 21:38] Ark-kun opened #55 "Frontend should give 404s for non-existing pages/routes."
http://localhost:9090/pipelinez

[2018-11-05 21:40] Ark-kun opened #56 "Should our root URL be "/pipeline" or "/pipelines"?"
I think it should be "/pipelines", because our project is called that. But we may also make the /pipeline redirect.

[2018-11-05 21:41] Ark-kun opened #57 "The Experiments tab should be the default tab."
The experiments tab would be used much more frequent than the Pipelines tab.

The Experiments tab also gives much more useful information.

[2018-11-05 21:44] Ark-kun opened #58 "The Experiments/All runs tab should probably be the default tab in Experiments."
It's probably going to be the most frequently used tab. Especially in cases where the user only has one or two experiments.

[2018-11-05 21:45] Ark-kun opened #59 "UI should remember my "Rows per page" choice."

[2018-11-05 21:46] Ark-kun opened #60 "Add the ability to delete experiment."

[2018-11-05 21:56] Ark-kun opened #61 "Run status tooltip should include creation time"
-- EDIT
"Last 5 runs" - is the last one (the rightmost) the real last run?

[2018-11-05 21:57] Ark-kun opened #62 "Remember the page I was on"
In the All runs list, I click on a run, then use the browser's back button. This does not return me to the same page.

[2018-11-05 21:58] Ark-kun opened #63 ""No runs were found for this experiment" is a misleading message when the list is still being loaded."

[2018-11-05 22:00] Ark-kun opened #64 "After the user creates a run, redirect to the run page, not the runs list page."

[2018-11-05 23:58] paveldournov opened #69 "Create a sample notebook"
Our SDK samples need a notebook do demonstrate the ability to create components and pipelines.

[2018-11-06 00:51] ajayalfred opened #71 "Experiment list title should not change"
When switching between the "Experiments" and "Runs" tab, the page title is changing and the "Create experiment" button is hidden. This is incorrect, the title and actions above tabs should not change based on tab selection since it breaks the design system rules.

Also, the Experiments link in the nav must remain highlighted as long as the user is in that section.

<img width="899" alt="screen sho

[2018-11-06 02:01] yebrahim opened #75 "Support cloning run started from notebook"
Currently, runs have two ways of telling which pipeline was used to start them:
- Either a pipeline was uploaded to the system first, in which case  the run will include its id.
- Or the run was started from a notebook (or CLI), in which case it will (can) embed the entire pipeline spec.

The UI should be passing that spec when cloning a run that does not have a pipeline id. We need to also figure

[2018-11-06 02:46] rileyjbauer opened #78 "Give generated exit-handler a more special name"
If an exit handler is specified in the DSL, the compiler currently uses a bit of a hack to ensure that it is always called before the pipeline terminates: an extra DAG is added to the compiled yaml that is named something like `exit-handler-1` which is the only task of the entrypoint DAG, and wraps all other steps within the pipeline (they are tasks within the exit handler's DAG).

This works alri

[2018-11-06 02:48] Ark-kun opened #80 "Need to add notebooks with end-to-end sample scenarios"

[2018-11-06 09:24] IronPan opened #89 "Better render pipeline description"
The sample now has a link to the source code. The text is cropped.
<img width="301" alt="screen shot 2018-11-06 at 1 21 30 am" src="https://user-images.githubusercontent.com/2348602/48054517-53933100-e162-11e8-9ded-b9463027aadf.png">

Also we probably should render the URL as hyperlink, so user don't have to copy the path.

[2018-11-06 17:59] #58 closed, assigned to yelsayd, paveldournov

[2018-11-06 18:01] #57 closed, assigned to yelsayd

[2018-11-06 18:33] paveldournov opened #92 "Show results of the entire workflow in one view"
Today the user needs to click on every stop of the workflow to see it's output. This is not convenient for complex reusable workflows. We need to support a mode when the user can see the output of the entire graph in a single feed.

[2018-11-06 18:43] yebrahim opened #93 "Persist pod logs after they finish"
This is needed so that pods can be garbage collected after they've finished, and to remove the dependency on the cluster state.

Currently, we're already seeing issues when a cluster is resized where the frontend can't find pods started by some of the runs.

[2018-11-06 19:59] IronPan opened #97 "Duplicate experiment name would return me a blank page"
API would throw invalid input error if experiment name is duplicate. The UI need to handle it properly.

[2018-11-06 20:04] IronPan opened #100 "The "Recurrent run configs" tab is showing inaccurate # of jobs"
It looks like it's showing the total # of jobs across all experiments, instead of just that experiment.

[2018-11-06 20:17] yebrahim opened #103 "Return the total number of resources in list APIs"
This is needed by the UI to show the total number of resources when paging through them. It's also needed when showing the total number of recurring runs in an experiment.

[2018-11-06 21:42] #97 closed, assigned to yelsayd

[2018-11-06 22:21] #100 closed, assigned to yelsayd

[2018-11-07 01:51] gaoning777 opened #115 "Fasten release process for the image tag update."
Currently, we have hardcoded the release version as the image tag in the samples. We need to make it easy to update these image tags during releases.
As best, we can avoid double releases.

[2018-11-07 03:03] ajayalfred opened #117 "Compare experience – UX changes"
1. Rows selected for comparison should not display selection styling in the 'Overview' section. The checkboxes remain active and rows aren't highlighted. See below for row styling.
<img width="903" alt="screen shot 2018-11-06 at 6 56 15 pm" src="https://user-images.githubusercontent.com/2425179/48107774-ba155f00-e1f5-11e8-95ed-075eb0c81ea9.png">

2. Run overview section cannot be collapsed. Remove

[2018-11-07 05:03] vicaire opened #122 "Pipeline API Server Swagger Client (Go) for Pipeline Upload returns incomplete output"
The Pipeline API Server Swagger Client (Go) returns incomplete output for the pipeline.upload method.

For instance, using the CLI in the directory:

kubeflow/pipelines/backend/src/cmd/ml

With the command:

go run main.go pipeline --namespace kubeflow upload ./samples/hello-world.yaml --name pipleline87 -o json

We get the output:

{
  "created_at": "0001-01-01T00:00:00.000Z",
  "parameters": nul

[2018-11-07 05:18] vicaire opened #123 "Pipeline API Server Swagger Client (Go) for Pipeline Create does not take a "name" parameter"
(Note: not sure if this is already tracked).

With the current way the Pipeline API Server swagger client (Go) is implemented, it does not seem possible to specify a "name" in the "Pipeline Create" API call

[2018-11-08 18:33] #71 closed

[2018-11-08 19:09] yebrahim opened #149 "Run list perf optimizations"
This is a quick analysis of the experiment details page performance. Most of the time spent is because we have to make multiple consecutive requests to load all the information we need. We currently do this:​
1. Call `getExperiment` API to get the details (name, description.. etc).
2. Call `listJobs` API to get all recurring jobs in this experiment.
3. Call `listRuns` API to show the first page of

[2018-11-08 20:42] Ark-kun commented on #53
Do we want the users to create an experiment for each run?

What's the typical number of runs per experiment and experiments per pipeline did we estimate during the planning stage of the "experiments" feature?

[2018-11-08 21:03] ajayalfred commented on #53
There is no real meaningful way of estimating that number as a user can use a pipeline to create any number of runs and experiments. The idea was to give the user maximum flexibility in creating experiments as they see fit.

Although, your suggestion is a valid one - we'll be testing the current experience and identifying potential optimizations. Starting a run without having to create an experime

[2018-11-08 22:55] sijieamoy opened #154 "Can't read full text in "Choose a pipeline" dialog"
The parts that are visible in the _Pipeline name_ and the _Description_ columns are too short to decide which one to choose.
![image](https://user-images.githubusercontent.com/3463757/48232293-f962bd80-e365-11e8-8652-d11f4f66f357.png)

Maybe allow text wrapping with a max row height, and/or narrowing the timestamp column?
![image](https://user-images.githubusercontent.com/3463757/48232388-4050b300

[2018-11-08 23:05] Ark-kun commented on #63
Is it possible to make the UX behave more like traditional websites where the navigation and content are shown at once?

[2018-11-08 23:45] vicaire commented on #149
@yebrahim, the bottleneck is most likely the number of simultaneous queries made to the API server and the underlying DB.

I suggest the following improvements:

1. Implement a backend API that that returns all the needed job data (first page) with a single DB query. Implement a backend API that returns all the needed run data (first page) with a single DB query. We could call these APIs ListJobDe

[2018-11-09 00:43] amygdala opened #158 "SDK should require kubernetes client lib"
It doesn't look like this install:
`pip3 install https://storage.googleapis.com/ml-pipeline/release/0.1.2/kfp.tar.gz --upgrade`
includes the kubernetes client lib, which I think is intended to be included, as the `%%docker` "magic" requires it.

[2018-11-09 01:02] yebrahim commented on #149
I can't get request service time from the API server, @IronPan can maybe comment on this.
I think you're underestimating network latency though. Compared to how long it takes the request to reach the API server through the k8s network, the time it takes the API server to serve the requests, even hundreds of parallel requests, should be negligible.

In any case, here's a waterfall of requests vs re

[2018-11-09 01:02] gaoning777 commented on #158
already merged: https://github.com/kubeflow/pipelines/pull/133

[2018-11-09 01:09] yebrahim commented on #149
One more thing: for each request, we actually make two network hops instead of one, since we use the frontend webserver as a proxy.
There are two reasons behind this design:
1. Our backend doesn't allow CORS.
2. The webserver handles more work than just being a proxy: make k8s master API calls on behalf of the client, read artifacts from GCS and minio, report health and build info on both backend

[2018-11-09 01:13] vicaire commented on #149
Does the frontend reuse the same connection pool to make requests? Or does it start a new connection for each request? If the later, that could be the cause of the latency.

[2018-11-09 01:32] qimingj opened #160 "Popped out TFMA is too small"
![smalltfma](https://user-images.githubusercontent.com/13439553/48237595-291cc000-e37c-11e8-858d-203416a6e871.png)

[2018-11-09 01:43] yebrahim commented on #63
What do you mean by navigation and content shown at once?

[2018-11-09 01:43] yebrahim commented on #149
What's a connection pool?

[2018-11-09 01:45] yebrahim commented on #154
I personally prefer giving description more horizontal space, but I'm ok with allowing it to wrap around, although maybe 5 lines is a bit too heigh.

[2018-11-09 01:54] amygdala opened #161 "feature request: in SDK support 'get_or_create_experiment()'"
feature request: In the SDK, support `get_or_create_experiment()` in addition to `create_experiment()`
(Bradley has the context).

[2018-11-09 02:01] gaoning777 opened #162 "Pipeline input cleansing"
It might make sense to cleanse the pipeline input.
For example, if there is a parameter that requires a GCS path, with a negligible SPACE before the GCS path(e.g. " gs://pipeline/input-bucket") would lead to the pipeline failure. This type of bugs are hard to detect.

[2018-11-09 02:06] yebrahim commented on #162
It's surprising that parameter values aren't whitespace-trimmed on any of the many level it travels through.
Is this a pipeline change? API/DB server change? UI change?

[2018-11-09 02:11] Ark-kun opened #163 "Our test code and test images code is not always the same."
This issue manifested itself several times. The latest was today when the prow tests were fixed.

Out test images only use the branch code.

[code]

But the tests that Prow runs are taken from the result of merging the base branch (master) with the PR branch.

[code]

This effectively means that the test code is always taken from master while test image code is taken from the branch and may be out

[2018-11-09 03:38] vicaire commented on #149
Here is a link:

https://en.wikipedia.org/wiki/Connection_pool

The link discusses database connections but it also applies to service connections.

To summarize, the UI should only establish the connection to the service a few times and keep reusing the same connections (that's the pool of connections). Re-creating new connections every time would lead to a significant increase in latency.

[2018-11-09 06:35] vicaire commented on #122
Raw request/response for the PIPELINE GET call:

GET /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/pipelines/1b02b12c-21ff-4216-a610-22c6a5b9881d HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Accept: application/json
Accept-Encoding: gzip

HTTP/2.0 200 OK
Content-Length: 98
Audit-Id: d1759187-0d5f-4351-b816-1072c5a30982
Content-Type: application/json
Date:

[2018-11-09 06:36] vicaire commented on #122
Raw request/response for the PIPELINE UPLOAD call:

POST /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/pipelines/upload?name=toto106 HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Transfer-Encoding: chunked
Accept: application/json
Content-Type: multipart/form-data; boundary=0cf8a8d5b4b3e59d424a44a79e2ccc39362b82f6acff7d4fb621ee43f769
Accept-Encoding: gzip

[2018-11-09 06:39] vicaire commented on #122
For PIPELINE GET, the swagger config specifies that the output is of content-type application/json

https://github.com/kubeflow/pipelines/blob/master/backend/api/swagger/pipeline.swagger.json#L15

This is correct.

For PIPELINE UPLOAD, the swagger config specifies that the output is of content-type application/json

https://github.com/kubeflow/pipelines/blob/master/backend/api/swagger/pipeline.upl

[2018-11-09 07:50] #160 closed

[2018-11-09 08:24] Ark-kun opened #170 "Create GCS path checker component"

[2018-11-09 08:57] vicaire opened #171 "Unsupported Scan Error While Listing the Jobs of an Experiment"
Here is the raw HTTP:

GET /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/jobs?page_size=10&resource_reference_key.id=9333ecee-28b2-4c53-807d-bbfd2a45423f&resource_reference_key.type=EXPERIMENT HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Accept: application/json
Accept-Encoding: gzip

HTTP/2.0 500 Internal Server Error
Connection: close
Audit-Id: a32bebb7-

[2018-11-09 08:58] vicaire commented on #171
Checking that the experiment is valid:

go run main.go experiment list
- created_at: "0001-01-01T00:00:00.000Z"
  description: No description provided
  id: 9333ecee-28b2-4c53-807d-bbfd2a45423f
  name: default
- created_at: "0001-01-01T00:00:00.000Z"
  description: No description provided
  id: 04c888f6-a59d-4c94-ad24-e9555ee222c9
  name: totox
- created_at: "0001-01-01T00:00:00.000Z"
  descriptio

[2018-11-09 08:59] vicaire commented on #171
Additionally, it does not seem possible to list all the jobs:

GET /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/jobs?page_size=10&resource_reference_key.type=UNKNOWN_RESOURCE_TYPE HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Accept: application/json
Accept-Encoding: gzip

HTTP/2.0 400 Bad Request
Connection: close
Audit-Id: a0f5822d-f727-4d96-a6f2-fe6bbc1

[2018-11-09 09:01] vicaire commented on #171
Unexpectedly, specifying an EXPERIMENT ID as the KEY ID and "JOB" as the KEY TYPE works (but does not return anything):

GET /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/jobs?page_size=10&resource_reference_key.id=9333ecee-28b2-4c53-807d-bbfd2a45423f&resource_reference_key.type=JOB HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Accept: application/json
Acce

[2018-11-09 09:04] vicaire commented on #171
If the experiment ID has no jobs, specifying an EXPERIMENT ID as the KEY ID and "EXPERIMENT" as the KEY TYPE seems to work:

GET /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/jobs?page_size=10&resource_reference_key.id=04c888f6-a59d-4c94-ad24-e9555ee222c9&resource_reference_key.type=EXPERIMENT HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Accept: applicatio

[2018-11-09 09:07] vicaire commented on #171
Trying again:

Creating a job:

go run main.go job create --pipeline-id 2dfffef5-dc47-4ae7-a0f4-1d23507f74c6 --name my-job --experiment-id bed43f9a-fd00-4f99-a0b8-269e0941ae56 --debug

POST /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/jobs HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Content-Length: 383
Accept: application/json
Content-Type: application/j

[2018-11-09 09:08] vicaire commented on #171
go run main.go job list --experiment-id bed43f9a-fd00-4f99-a0b8-269e0941ae56 --debug
GET /api/v1/namespaces/kubeflow/services/ml-pipeline:8888/proxy/apis/v1beta1/jobs?page_size=10&resource_reference_key.id=bed43f9a-fd00-4f99-a0b8-269e0941ae56&resource_reference_key.type=EXPERIMENT HTTP/1.1
Host: 35.224.113.48
User-Agent: Go-http-client/1.1
Accept: application/json
Accept-Encoding: gzip

HTTP/2.0 5

[2018-11-09 09:10] vicaire commented on #171
Summary:
- The call to list jobs in an experiment does not seem to work if there is more than one job in the experiment
- It should be possible to list all the jobs, regardless of whether they have an experiment.
- Listing all the jobs in an experiment that does not exist seems to work.

[2018-11-09 10:40] IronPan commented on #171
it looks like you are hitting an old cluster. this is a known issue and already being fixed. Please upgrade to 0.1.2 and it should work.

[2018-11-09 10:41] #171 closed

[2018-11-09 17:00] amygdala opened #175 "feature request: restore the client method for creating a pipeline"
In addition to `run_pipeline` (which doesn't actually create a pipeline object in the UI), bring back the client method for actually creating the pipeline.
People might want to share pipelines, later run other experiments based on that pipeline definition but don't have the original notebook to hand, etc.
(Bradley has the context on this).

[2018-11-09 17:08] amygdala commented on #60
+1 to this being important.

[2018-11-09 19:00] vicaire commented on #171
Thank you @IronPan. I will try again with the latest release.

[2018-11-09 20:03] IronPan commented on #60
API would provided as part of this https://github.com/kubeflow/pipelines/pull/112

[2018-11-09 20:04] IronPan commented on #122
fix https://github.com/kubeflow/pipelines/pull/112

[2018-11-09 20:31] ajayalfred opened #179 "Cannot create a Notebook when starting KFP from cloud shell"
I use Cloud Shell to start KFP. I am able to access KFP UI and complete workflows.
I can spin up Jupyter Notebook but I'm unable to create a notebook. And I am unable to open an uploaded Notebook – getting the error shown below

![screen shot 2018-11-09 at 12 28 42 pm](https://user-images.githubusercontent.com/2425179/48286676-42287e00-e41b-11e8-9b14-8e41d0145bd5.png)

[2018-11-09 21:36] qimingj commented on #179
Adding some context --- this is done through Cloud shell. Maybe Cloud shell does not handle web socket well.

[2018-11-09 22:02] yebrahim commented on #60
More context from @IronPan: That API orphans the deleted experiment's runs though, it doesn't delete them.
This is fine for now, but if we don't also offer a delete run API, the All runs view will be cluttered with all the orphaned runs.

@ajayalfred any thoughts here? What do you think of this as a starting point?

[2018-11-09 22:12] Ark-kun opened #182 "Embeddable run view page"
I'd like to insert the run view page into a notebook when I submit the run.

For this I'd like to have a minimal page without left or top navigation, with only the run view and the refresh button.

[2018-11-09 22:19] yebrahim commented on #182
The run details page is one of the more complicated parts of the frontend. What's the use case for this?

[2018-11-09 22:40] smartnose opened #184 "Instruction for running it on minikube"
Hey. I would like to try this project out on minikube without GKE. Can't really find any docs around this.

[2018-11-09 22:55] yebrahim commented on #179
This issue should be on kubeflow/kubeflow.
I wonder if websockets should be shimmed for CloudShell somehow like [Datalab does](https://github.com/googledatalab/datalab/blob/6f1a5b4877ee475406d5661c42dfcd6a60b582b9/sources/web/datalab/static/websocket.js#L7).

[2018-11-09 22:55] Ark-kun commented on #184
Do you already have minikube set up? The installation instructions are the same.

https://github.com/kubeflow/pipelines/wiki/Installation---Minikube

[2018-11-09 22:57] Ark-kun commented on #182
The scenario is embedding the run view in the Notebook.
Submit the run and immediately see it in your notebook.

[2018-11-09 23:16] Ark-kun opened #186 "SDK/Components/Python - Functions that do not return anything"

[2018-11-09 23:28] Ark-kun opened #187 "Switch to Go 1.11 modules and package management."
See https://github.com/golang/go/wiki/Modules

Argo has just switched recently: https://github.com/argoproj/argo/pull/1071/files

[2018-11-10 00:19] yebrahim commented on #182
But why? Assuming you're talking about a Jupyter notebook hosted from a Kubeflow cluster, why not just click a link to see the run in the Pipelines UI? Is the goal to save this click?

Or is the above assumption incorrect? Are you talking about a completely standalone notebook, with visualizations packaged into it?

[2018-11-10 03:05] Ark-kun opened #191 "We have ~40 GKE clusters (~=100 instances) running tests and our quotas are exhausted"

[2018-11-10 03:09] Ark-kun opened #192 "Tests sometimes run multiple times for the same commit (creating multiple GKE clusters)."
  | sampletest-7280c8b777-12936 | us-central1-a | 3 | 6 vCPUs | 22.50 GB |   |   | Connect
  | sampletest-7280c8b777-18221 | us-central1-a | 3 | 6 vCPUs | 22.50 GB |   |   | Connect
  | sampletest-c39a63680f-14885 | us-central1-a | 3 | 6 vCPUs | 22.50 GB |   |   | Connect
  | sampletest-c39a63680f-6684 | us-central1-a | 3 | 6 vCPUs | 22.50 GB |   |   | Connect

[2018-11-10 03:24] Ark-kun opened #193 "Prow tests do not GC resources: SA, clusters, etc."
See these Prow logs:
https://gubernator.k8s.io/pr/kubeflow/pipelines/155
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/155/presubmit-sample-test/6/
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/155/presubmit-sample-test/8/

The tests are terminated without triggering the cluster deletion.
[code]
Successfull deletion looks li

[2018-11-10 10:57] Ark-kun opened #196 "Test/Server code out of sync, blocking PRs"
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/173/presubmit-e2e-test/87
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/168/presubmit-e2e-test/89
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/148/presubmit-e2e-test/105

https://gubernator.k8s.io/pr/kubeflow/pipelines/148
https://gubernator.

[2018-11-10 11:22] Ark-kun opened #197 "Tests are launched in doubles since Nov 09 18:30"
See https://prow.k8s.io/?repo=kubeflow%2Fpipelines&job=presubmit-e2e-test

Since Nov 09 18:30 each test invocation launches two tests with one test getting aborted after less than a minute.

[2018-11-10 21:43] Ark-kun opened #198 "Prow code, test image code and code being tested can still desync."
When Prow runs tests it clones the repo and merges the PR branch into master at time T0. This includes `test/presubmit_tests.sh` and `test/*.yaml`

When build-image builds test images, it clones the repo and merges the PR branch into master at time ~T1 separately for each image. This includes `test/*/run_test.sh` and the whole frontend test suite

When a test runs, it clones the repo and merges th

[2018-11-10 21:43] Ark-kun commented on #196
That issue got fixed when I explicitly re-run build-image step for all problematic PRs.

I do not fully understand how the unit test image has caused problem, since it should only contain the `run_test.sh` script and couple of Go packages.

[2018-11-11 00:10] IronPan commented on #196
I think these are integration test failures.

The issue might be that your  build-image step is ran before https://github.com/kubeflow/pipelines/pull/112 and the test is ran after that PR. The test and server code are out of sync.

Thus, I don't think we should have this change https://github.com/kubeflow/pipelines/pull/165
It makes code being tested non deterministic, and non reproducible.

Pleas

[2018-11-11 00:14] IronPan commented on #196
(The test code would use client library which is par of the source code)

[2018-11-11 00:15] IronPan commented on #198
Please see comment in https://github.com/kubeflow/pipelines/issues/196 for more details.

[2018-11-11 05:33] Ark-kun commented on #196
Turns out #165 does not fix the issue completely, but it's at least closer to what we should ideally have. Ideally, all our tests should test the code that Prow prepared before running the test.

Without #165, the desync happens in ~90% of cases. With #165 it happens in ~10% of cases.
The reason we got a desync now is due to the fact that cluster leakage and quota exhaustion caused many tests to f

[2018-11-11 06:01] Ark-kun commented on #196
Here is how to fix this for  backend unit tests:

1. Build+push the backend unit test base image (go+gcloud+jstemmer). (No repo source code)
2. Specify that image in Prow config.
3. Use test/backend-unit-test/run_test.sh as test entry point

[2018-11-11 06:56] Ark-kun opened #200 "Full solution to tests and code desync problem"
To solve all code desync problems we need to get rid of all `git clone` calls and most likely remove the split between build-images and the tests.

* We can use Kaniko or Bazel to build images that contain the source code that Prow has prepared. See https://github.com/GoogleContainerTools/kaniko and https://github.com/bazelbuild/rules_docker
* Images should be built as part of the Prow test, not a

[2018-11-11 19:35] cwbeitel opened #203 "Make it easy for people to write pipeline tests in python"
When using kubeflow/pipelines, as in https://github.com/kubeflow/examples/pull/322, someone might define a new container op like so:

[code]

It would be nice if kubeflow/pipelines made it simple to write a test for this. Currently my understanding is that in order to trigger a pipeline run you have to manually upload the compiled tgz, correct? If it were also possible to programmatically trigger

[2018-11-11 20:40] IronPan opened #204 "Support all container APIs through container op"
It looks like currently we only expose a subset of the container API through container op.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L30

Does it make sense to expose all container APIs? Or is it already supported?
For example, I have a shared container with multiple source code directories available. I wish to be able to customize the workingdir for my

[2018-11-11 21:22] IronPan opened #205 "unexpected parameter name conversion by DSL"
Here is snippet of the pipeline definition
[code]

And when I submit a run I need to do
[code]

Here **working_dir** is converted to **working-dir** which is somewhat unexpected. I have to look into the generated yaml to find out what it actual converted to.

[2018-11-12 01:49] Ark-kun commented on #205
Do we really have a snippet like that? AFAIK, right now all pipeline parameters look like this: `predict_mode: dsl.PipelineParam=dsl.PipelineParam(name='predict-mode', value='local')`

I wonder what happens with the parameter names in  https://github.com/kubeflow/pipelines/pull/110/files

I agree that this needs to be handled in a way that's easy for the user. Quite a good chunk of my python compo

[2018-11-12 01:55] Ark-kun opened #206 "Support submitting runs from local machine"
Right now, python pipelines client only works from the hosted JupyterHub.

[2018-11-12 01:57] Ark-kun commented on #203
Right now it's possible to auto-submit a pipeline when working from a hosted JupyterHub (use the "Notebooks" link in the pipelines UI). See the end of [Lightweight components notebook](https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/Lightweight%20Python%20components%20-%20basics.ipynb) for sample code.

I've created an issue to enable submitting the pipelines from local machine

[2018-11-12 01:59] Ark-kun commented on #184
I think there was another comment here with some MySQL persistent disc problem. Did you solve it?

[2018-11-12 02:00] Ark-kun opened #207 "We need automatic labels indicating whether an issue/PR is internal/external."

[2018-11-12 02:03] Ark-kun commented on #69
We have a several notebooks and wiki pages demonstrating the component creation. https://github.com/kubeflow/pipelines/tree/master/samples/notebooks

[2018-11-12 02:03] #69 closed

[2018-11-12 07:21] IronPan commented on #204
Another use case would be setting environment variable.

[2018-11-12 11:39] Ark-kun opened #215 "Our tests fail on external PRs"
See the failing tests in these PRs:
https://github.com/kubeflow/pipelines/pull/164
https://github.com/kubeflow/pipelines/pull/212

The root cause: image builders fail, because they try to check-out the PR's commit themselves and fail to do so. I've written about a long-term solution to this problem in https://github.com/kubeflow/pipelines/issues/200

Note that this issue is **not** caused by #165

[2018-11-12 14:16] fdasilva59 commented on #179
I experienced the same issue. While investigating on my side, I found this usefull post about "Jupyter does not work when accessed from Google Cloud Shell preview"  https://github.com/GoogleCloudPlatform/dataproc-initialization-actions/issues/230#issuecomment-376595544

As a bypass solution, I was able to start a Jupyter Notebook after a little bit of hacking. Here is what I've done:

## Regular G

[2018-11-12 18:51] smartnose commented on #184
I did not. MySQL persistent disc problem does not repro on MacBook, but does appear on my ubuntu 16.04 box

[2018-11-12 19:02] ajayalfred commented on #60
Since runs are organized inside experiments, a user would expect deleting an experiment to delete the runs contained as well. I don't see a usecase where the user will expect this to behave otherwise and produce orphaned runs.

A delete run API is still needed for the case when a user wants to delete an individual run/set of runs inside an experiment.

Does that make sense?

[2018-11-12 21:11] IronPan opened #218 "Provide argument to assign GCP service account to use for DSL operator"
Currently the tf-job operator and dataflow operator don't expose parameter to assign service account
[tfjob](https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/kubeflow_tfjob_launcher_op.py#L22)
[dataflow](https://github.com/kubeflow/pipelines/blob/master/components/dataflow/containers/tft/build.sh#L17)

When we integrate with kubeflow, the user should be able to mount

[2018-11-12 21:14] vicaire commented on #200
@Ark-kun , could you elaborate of the advantages/disadvantages of Kaniko VS Bazel?

[2018-11-12 21:31] vicaire commented on #215
@Ark-kun, could you please provide more details? Why do the test fail on external PRs?

Note that tests should ideally not be automatically triggered on external PR.

[2018-11-12 22:53] Ark-kun commented on #182
Yes. This is about saving a click each time you want to check the run. This is even more important when the user runs JupyterLab as a separate application and not as a browser tab.

[2018-11-12 22:54] Ark-kun commented on #182
Is it hard to add support for query parameter like `hide_navigation=true` ?

[2018-11-12 23:35] IronPan opened #220 "Grant pipeline-runner k8s service account admin permission"
Currently if user's pipeline wants to launch a tf-job, job or other K8s resources, it will fail with following error
[code]

We need to grant pipeline-runner the admin permission so it can launch anything user specifies.

[2018-11-12 23:45] vicaire opened #221 "Back-button not working when creating a run from a notebook"
![screenshot from 2018-11-12 15-44-33](https://user-images.githubusercontent.com/25757005/48381676-f29fb780-e691-11e8-99a8-e504a2233536.png)

[2018-11-12 23:46] vicaire commented on #221
On the screen shot above, I press the back button and nothing happens.

This run was created from a notebook.

[2018-11-13 00:18] ajayalfred opened #222 "Remove experiment column from runs list inside experiment"
The experiment column is unnecessary as it provides redundant information. Remove from runs list inside the experiment.

[2018-11-13 00:43] vicaire opened #223 "Tensorboard not showing historical AUC / Accuracy"
When launching Tensorboard after running the TFX notebook samples, the graphs are not showing the AUC / Accuracy at each execution step of the training algorithm. Only the final result is displayed.

[2018-11-13 00:47] vicaire opened #224 "Pipeline with TFX components - no table headers in output artifacts"
When running the notebook sample pipeline with TFX components, the displayed table for the prediction step does not show any headers.

[2018-11-13 00:48] vicaire commented on #224
The headers show up when expanding the table however:

[2018-11-13 00:48] vicaire commented on #224
![prediction-output-expended](https://user-images.githubusercontent.com/25757005/48383487-c9375980-e69a-11e8-87df-440d9d63f852.png)

[2018-11-13 00:52] vicaire opened #225 "Missing dropoff latitudes"
When running the sample from this notebook:

https://github.com/kubeflow/pipelines/blob/77a1da75dd6663346985f1e098a36792d04e846e/samples/notebooks/KubeFlow%20Pipeline%20Using%20TFX%20OSS%20Components.ipynb

Some of the dropoff latitude are missing.

It is unclear if it is a bug or if there is no data. Should we display N/A if there is not data?

[2018-11-13 00:57] vicaire opened #226 "Need instructions on how to use the deployed models in sample pipelines with TFX components"
The sample notebook linked here deploys model using either the Tensorflow Serving container, or the Cloud ML Engine prediction service.

https://github.com/kubeflow/pipelines/blob/77a1da75dd6663346985f1e098a36792d04e846e/samples/notebooks/KubeFlow%20Pipeline%20Using%20TFX%20OSS%20Components.ipynb

The instructions to make sample calls to the deployed service should be readily available in both cas

[2018-11-13 01:01] vicaire opened #227 "UI should display documentations for the steps of a pipeline"
It would be very useful to have the documentation of a pipeline and its steps readily available in the UI.

Ideally:
- The user should be able to specify documentation using our Python library.
- The documentation would be part of the pipeline package.
- The UI would display the documentation

Example documentation needed:
- What does the step do?
- What are the parameters?
- How to make calls to

[2018-11-13 01:41] swiftdiaries opened #229 "Auth Error when running TFX notebook."
# Test the function and make sure it works.
path = 'gs://ml-pipeline-playground/sampledata/taxi/train'
deploy_model('taxidev.beta', path, PROJECT_NAME, '1.9')

`HttpError: <HttpError 403 when requesting https://ml.googleapis.com/v1/projects/kubeflow/models/taxidev/versions?alt=json returned "Request had insufficient authentication scopes.">
`

Should I add the credentials as a secret to the Jupyte

[2018-11-13 04:06] yebrahim commented on #154
@sijieamoy are you up for sending a PR for this?

[2018-11-13 04:33] yebrahim commented on #175
Currently, starting a run out of a notebook embeds the pipeline spec in that run, so users can clone it, modify parameters, and start a new run.

I think what we actually want here is embedding the Python source code instead of the compiler output in the run, so that users can go from a run to a notebook, and continue working.

[2018-11-13 05:00] yebrahim commented on #179
Thanks @fdasilva59 for finding this out.
You don't need to open your Jupyter CORS config that wide to get it to work though, since this is only needed for Cloud Shell. Instead of allowing all domains, you can just add the Cloud Shell origin pattern:
`c.NotebookApp.allow_origin_pat = ".*-dot-devshell.appspot.com$"`
(Take out the `c.NotebookApp.allow_origin='*'` part, since [it'll override the patte

[2018-11-13 05:02] yebrahim commented on #179
@jlewi is this something you'll willing to change in the [notebook config](https://github.com/kubeflow/kubeflow/blob/430d4f7ae16af389ac570182af519f6571f160cf/components/tensorflow-notebook-image/jupyter_notebook_config.py#L26)? @fdasilva59 or I can send a PR your way if this is the case.

[2018-11-13 06:16] yebrahim commented on #182
Can you elaborate on the JupyterLab-as-separate-application part? Is it still backed by the KF cluster kernel manager?

This isn't about changing the view or removing the chrome, it's about hosting our entire UI webapp in the notebook's cell output iframe, and most importantly finding a way around CORS. If the only motive here is saving a single click, I don't see why we should pursue this.

[2018-11-13 06:20] yebrahim commented on #224
This was done on purpose to compress the view as much as possible, to optimize for showing a lot of data in little space, especially in the comparison view.
But the header row is data too, so maybe we should remove that optimization.

[2018-11-13 08:03] IronPan commented on #220
To quickly unblock, you can run following command to grant the pipeline runner with enough permission
[code]

[2018-11-13 08:12] #55 closed

[2018-11-13 09:58] fdasilva59 commented on #179
@yebrahim Thanks for correcting my configuration change. That's indeed a better choice :+1:  Let's wait for the feedback on creating a PR or not !

[2018-11-13 16:17] swiftdiaries commented on #229
Seems I didn't have the Cloud ML Engine API enabled.

[2018-11-13 16:17] #229 closed

[2018-11-13 20:30] yebrahim opened #236 "Make run names unique"
@IronPan @rileyjbauer @vicaire @Ark-kun @ajayalfred

Making run names unique is a better user experience, but it can complicate things when the user is trying to iterate on runs from a notebook, by changing code and rerunning the create run code cell. It would be good if the user doesn't have to change the run name every time.

To do this, we can add a "name-prefix" field in the new run API, in ad

[2018-11-13 20:32] yebrahim opened #237 "Get experiment by name, create run in experiment by name"
Currently, getting an experiment, and creating a run in a given experiment, requires specifying the experiment's ID in the API call. This makes the API and CLI UX more complicated since we already have unique experiment names. User should be able to reference experiment by name.

[2018-11-13 20:40] ajayalfred commented on #236
Agree. Making run names unique will benefit the user experience in multiple ways:
1. In the 'All runs' list there will be no name collision when searching for a run by name. In the absence of user identity, unique names make it easier to identify individual user runs in a shared environment.
2. We can allow users to create runs without having to create an experiment (this feature must be assessed

[2018-11-13 20:52] ajayalfred commented on #227
Good point. I'll make a note of design mocks needed.

[2018-11-13 21:29] SinaChavoshi opened #239 "Upload Error Invalid response: 404"
Connected through google cloud shell, when trying to upload a notebooks from jupyter lab by clicking upload I get "Upload Error Invalid response: 404". Also tried uploading from Jupyter notebook tree interface, that also fails ( silently )

Everything else seems to be working fine including Jupiter lab / notebook.

[2018-11-13 21:44] yebrahim commented on #236
It can be frustrating to have an error saying the name already exists if this happens multiple times. Users can just check this box and have the name be guaranteed to be unique.

A separate point here: I think names should only be unique within a given experiment, since experiments are like folders basically.

[2018-11-13 21:50] yebrahim commented on #239
- Is this a fresh deployment? Sometimes it takes a while for the backend to be ready. Were you able to list pipelines with no error?
- Curious, can you paste the pipelines page (the one you're on when trying to upload) URL here?

[2018-11-13 22:43] yebrahim commented on #236
The checkbox would be in the KFP UI, when creating a new run.

Runs can be differentiated using their experiment names, which show up in the run list, and which are unique.

If I'm working within my experiment in a shared cluster, I shouldn't have to worry about runs in someone else's experiment. This is one of the aspects of the "containment" relationship between experiments and runs.
After discu

[2018-11-13 23:00] Ark-kun opened #241 "Our ksonnet sometimes throws "SIGSEGV: segmentation violation" failing deployment"
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/232/presubmit-e2e-test-gce-minikube/129/

KSonnet issue: https://github.com/ksonnet/ksonnet/issues/883
Resolved in https://github.com/ksonnet/ksonnet-lib/releases/tag/v0.1.12

[code]

[2018-11-13 23:05] Ark-kun commented on #236
I disagree with this. I'd like experiments to be a grouping subset of runs, with the ability to have a run in multiple experiments.

Example 1: I work on a new ranker set release inside an experiment/project. Once I'm done, I want to hand-off the final production runs to the person who's doing the next release, so that they can us those runs as a starting point.

Example 2: I work on a new ranker

[2018-11-13 23:09] Ark-kun commented on #236
Totally agree with this.

And this is one of the reason I oppose the uniqueness constraints.

If there is no constraint and the user really wants the names to be unique the user can easily enforce this (e.g. in Notebook, the code can fetch the list of runs and generate a new name if the name is not unique).

But if there is a constraint and a problem arises, the user cannot work around it.

[2018-11-13 23:13] Ark-kun commented on #236
The frustration when the user cannot do what they want almost always outweights a bit of confusion.

The unique names do not really prevent confusion. Just because `My run 6` and  `My run 7` are different strings does not mean they convey any useful information.

[2018-11-13 23:31] Ark-kun opened #243 "Create a document describing component creation and organization."
The documents need to explain the process of creating and consuming a new component from scratch.

Describe the component code organization:

[code]

[2018-11-13 23:36] Ark-kun opened #244 "<Deleted>"
* Component file format
* Component creation workflow
* Component sharing
* Component consumption (loading form file, URL, GitHub, AI Hub, cache)
* Component files organization (+versioning, updates etc) (https://github.com/kubeflow/pipelines/issues/243)

This document should update/supersede the [ML Pipelines component system](https://docs.google.com/document/d/1n7fSX2bJrRe-T1dkFRPDPnXJa0o7-8Kv-v

[2018-11-13 23:39] Ark-kun commented on #62
@rileyjbauer Yes

As a side note: In the system I've used, the run list was a panel, so selecting a run did not remove the list from the screen.

[2018-11-14 00:16] SinaChavoshi commented on #239
I can upload pipelines without any issues.

I was trying to upload "Lightweight Python components - basics.ipynb"  notebook to Jupiter hub. When I connect via Cloud shell I could not upload files to jupyter hub ( either in tree or lab mode) , however when I port forward locally on my dev box it works fine.

[2018-11-14 00:36] neuromage commented on #103
@IronPan I can try to take a stab at this if you haven't already started work on it. Seems like a good way to get into the inner workings of the API server. Let me know what you think.

[2018-11-14 01:17] Ark-kun opened #245 "<Deleted>"

[2018-11-14 01:26] Ark-kun opened #246 "."
.

[2018-11-14 01:34] Ark-kun opened #247 "Consider never deleting the runs"
Some features (e.g. the ability to see where a piece of data came from) rely on the retention of runs. It's also extremely useful to be able to see the logs of those runs.

I propose using some mechanism to hide the runs (e.g. setting the `hidden: true` label) instead of deleting the runs altogether.

We should carefully gather the feedback about the users' need for run deletion.

[2018-11-14 01:42] Ark-kun commented on #64
Reopening the issue as we can now see gather the user feedback about this UI aspect.

[2018-11-14 01:49] Ark-kun opened #249 "Sort the experiments by last run time"
Multiple times I have made a mistake and created experiment when all I wanted was to create a run. ( https://github.com/kubeflow/pipelines/issues/53 )

Now I have more than 10 experiments (did someone test this?) and all my runs are in the first experiment which is shown last.

Every time I need to see my new run, I need to first locate the experiment (due to  https://github.com/kubeflow/pipelines

[2018-11-14 02:12] Ark-kun opened #250 "Cannot get back to my hosted Jupyter notebook"
I've authored many notebooks in a GKE Pipelines cluster hoster Jupyter Notebook.

Today I wanted to do more tests and opened an old tab with some notebook, but I got redirected to the JupyterHub login screen. After entering the user name, I'm prompted to spawn a new instance instead of being redirected to the existing one.

How can I get my notebooks back?

I still see the existing notebook server

[2018-11-14 02:31] Ark-kun opened #251 "Interchangeable distributed task launchers (Pod, TFJob, CMLE, Dataproc)"
It's useful to have a uniform interface for launching a single-machine or distributed training task.

Code mock-up:

[code]
`kubeflow_tfjob_launcher_op` already exists in https://github.com/kubeflow/pipelines/blob/master/components/kubeflow/launcher/kubeflow_tfjob_launcher_op.py There was a version that accepted a configured task instead of command line, but it was rejected by @qimingj along with

[2018-11-14 02:32] Ark-kun commented on #251
/assign @rpasricha

[2018-11-14 02:41] Ark-kun opened #252 "Run links are broken in JupyterLab"
The links point to URLs like
    http://localhost:8080/user/av/files/pipeline#/runs/details/3c7ff7b0-de7e-11e8-bcc5-42010a800195
instead of
    http://localhost:8080/pipeline#/runs/details/3c7ff7b0-de7e-11e8-bcc5-42010a800195

In Jupyter Notebook the links works fine.

There is the JupyterLab action plan concerning this: https://github.com/jupyterlab/jupyterlab/issues/5211

This should be a small

[2018-11-14 02:43] Ark-kun opened #253 "GKE cluster creation warnings"
Our current cluster creation command produces several warnings that can confuse the users.
In future, our cluster creation instructions might produce the clusters that do not work properly.
It would be great to change the command so that it does not give warnings.
[code]

[2018-11-14 06:56] yebrahim commented on #62
I'm afraid there's no good way of doing this if we can't get the page index from the backend. If we can, then we can add it to query parameters so that it's saved in the browser history stack.

[2018-11-14 06:56] yebrahim commented on #62
@IronPan if he thinks this is planned, otherwise let's close this issue.

[2018-11-14 07:35] Ark-kun opened #254 "Containers should not be allowed to directly create K8s objects"
Currently our containers are not really isolated. They have full access to network, GCS, other GCP services and can even create, delete and modify other K8s objects as in https://github.com/kubeflow/pipelines/pull/231

This was discussed during a design meeting and as far as I remember the consensus was that it's too dangerous and insecure. Worse still, its really hard to put this genie back into

[2018-11-14 08:54] yebrahim commented on #249
Seems like there's quite a few asks here. To address the concern in the issue title though, this should be an API request, and I don't think the current design of the backend allows for sorting on mutable columns, let along computed columns like this.
/cc @IronPan.

[2018-11-14 09:01] yebrahim commented on #239
Ah, I totally misread your issue, apologies.
This looks like another incarnation of https://github.com/kubeflow/pipelines/issues/179. CORS issues on Cloud Shell. Will close as a dup.

[2018-11-14 09:01] #239 closed

[2018-11-14 09:04] yebrahim commented on #247
The current plan is not to completely delete runs, but to archive them.

[2018-11-14 09:05] yebrahim commented on #250
Jupyterhub issues should be filed on kubeflow/kubeflow I think, they're managing its deployment.

What does going to `/hub/home` show you?

[2018-11-14 15:50] eLco commented on #241
Maybe it is possible to add ksonnet flags like --api-spec for example to bootstraper image flags to have more freedom.

[2018-11-14 17:10] SinaChavoshi opened #255 "UI - Feature ask - Auto suggest a reasonable experiment name & run name"
I find myself constantly typing in random names for experiements and specially runs .. would be nice to have an auto generated name for experiments and runs based on previous runs / experiments and the pipeline being used.

[2018-11-14 17:33] yebrahim commented on #179
@fdasilva59 can you send a PR to fix this?

[2018-11-14 17:41] ajayalfred commented on #236
@yebrahim – I still don't understand the need for a checkbox in KFP UI if a user is creating an experiment and starting runs from the Notebook. In this usecase, the user is never interacting with the 'Run create form' at all, unless I'm missing something? Let's chat about this in our weekly sync.

Regarding uniqueness of runs, I am certain users will not be concerned that there is a name collision

[2018-11-14 18:07] #243 closed

[2018-11-14 18:08] #244 closed

[2018-11-14 18:32] #245 closed

[2018-11-14 18:42] rileyjbauer commented on #236
For the record: #255

[2018-11-14 18:47] rileyjbauer commented on #53
@ajayalfred, since there is no "Create experiment" button on the Pipeline list page, should we instead direct the user straight to the Pipeline Details page of the pipeline they just uploaded?

Additionally, we've had a few requests already for a "Create experiment" button from the Pipeline list page itself.

[2018-11-14 19:54] ajayalfred commented on #53
Redirecting to pipeline details page after upload sounds good. That's usually the most common action done after uploading, so makes sense to optimize.

I'm hesitant to put a 'Create experiment' button in the list since it will be disabled until a user selects a pipeline, and it only works for single selection. If you count the number of clicks, that's exactly the same as clicking the pipeline link

[2018-11-14 19:55] ajayalfred opened #256 "Add an icon button to start experiment from pipeline list"
Explore icon button shortcut in the pipeline list row to start an experiment directly from this page.

[2018-11-14 19:55] ajayalfred commented on #255
+1

[2018-11-14 19:57] ajayalfred commented on #236
I like the idea of auto-generating run names. Suppose we go down this road, what role does uniqueness play in auto-generated names? Does it feel like enforcing run name uniqueness will simplify other optimizations?

[2018-11-14 20:39] #246 closed

[2018-11-14 20:55] SinaChavoshi opened #257 "UI feature ask: Search experiments and runs"
There is no way to search for runs or experiments, as the list of experiments grow it becomes very difficult to find the related experiments. search or filter would be very useful.

[2018-11-14 21:07] SinaChavoshi opened #258 "UI - feature ask: Remember the "Rows per page:" setting"
When switching back and forth to all runs page, the page resets to showing only 10 rows.  Could we change it to remember what ever was set by user ?

[2018-11-14 21:11] SinaChavoshi opened #259 "Perf issue - All runs page loads very slowly with >100 runs"
I have about 500 runs in in one experiment, it takes about 3-5 seconds for the all runs page to load.

[2018-11-14 22:19] yebrahim commented on #255
We can auto-suggest a name for the run based on the selected pipeline, but there's no data to auto-suggest experiment names.

[2018-11-14 22:21] yebrahim commented on #236
If a name is auto-generated, it should follow all rules such that it doesn't get rejected when the user submits the form. If we have uniqueness enforced, perhaps the name should end in a random string suffix.

[2018-11-14 22:58] gaoning777 commented on #158
Feel free to reopen this if problems persist

[2018-11-14 22:58] #158 closed

[2018-11-14 23:02] gaoning777 opened #263 "Add sample tests for notebooks"
Under heavy development, we need the automatic tests for the notebook samples to make sure the future releases do not break the notebook samples because most users would use the notebook to start with.

[2018-11-15 00:02] rileyjbauer commented on #259
@IronPan, to get the experiment name and pipeline name we have to make a separate call for each, for every run.

IIRC, the issue is that there were some concerns around how updates would work if the names were stored within the run itself?

[2018-11-15 00:14] yebrahim opened #265 "Cancel in-flight promises in componentWillUnmount"
This is the proper way to make sure no unnecessary work is done, and state isn't modified after a component has been unmounted. Currently we're using a popular hack to handle this by keeping a boolean to know whether a component has been unmounted.

[2018-11-15 00:29] rileyjbauer opened #266 "Text/link displayed after calling run_pipeline should be "Run link" not "Job link""
Here: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L153

[2018-11-15 00:32] rileyjbauer commented on #221
No console errors. The issue is that we're landing directly on that page, with no history.

In this case, the back arrow should either not exist, or take the user back to the `ExperimentDetails` page. Both will result in behavior that is not quite the same as what one would encounter if working solely through the UI

[2018-11-15 00:32] yebrahim commented on #259
There's been some discussion on this in https://github.com/kubeflow/pipelines/issues/149.
I'll close this as a dup, but it's good to push the original issue. :)

[2018-11-15 00:32] #259 closed

[2018-11-15 00:59] yebrahim commented on #221
Yes, this is why we have this comment here: https://github.com/kubeflow/pipelines/blob/4550513ed0684137ad538302e8ec26b7c907e8ed/frontend/src/components/Toolbar.tsx#L139.

I've noticed GCP console disables the button in this case. I don't like this but I guess it makes most sense if the button is just browser back.

[2018-11-15 01:17] yebrahim opened #270 "Support filtering in list APIs"
The API server should support filtering of listed resources by several fields, although name is most urgent. The frontend already includes filterBy= in the query params for these endpoints.

The system isn't usable when there are hundreds of resources, pagination helps, but only a little.

[2018-11-15 01:18] yebrahim commented on #257
We can use this issue to track the frontend work needed for this, I opened https://github.com/kubeflow/pipelines/issues/270 to track the API support.

[2018-11-15 02:01] Ark-kun commented on #250
After login it shows the "Start my server" button.

[2018-11-15 02:07] IronPan commented on #204
Another use case would be attaching volumes with secret for accessing GCP, S3 etc.

[2018-11-15 02:22] Ark-kun opened #272 "The frontend-integration-test is really flaky"
https://gubernator.k8s.io/builds/kubernetes-jenkins/pr-logs/directory/presubmit-e2e-test?

[2018-11-15 02:39] ajayalfred commented on #53
#256

[2018-11-15 02:54] vicaire opened #274 "Modify container images so that they support multiple data store options depending on parameters"
For instance, in the case of TensorFlow container images, all the data stores supported by TensorFlow should be supported (GCS/HDFS/etc.).

For container images that use GCS, the client used by the container image could be replaced by MinioClient, which can get data from GCS/MinioServer/etc. depending on the container parameters.

[2018-11-15 02:54] vicaire commented on #274
@jlewi

[2018-11-15 02:57] vicaire opened #275 "Python DSL should support multiple storage options (GCS, PVC, etc.)"

[2018-11-15 02:58] vicaire commented on #275
@jlewi

[2018-11-15 03:04] Ark-kun commented on #272
The sample tests should not have any effect on the frontend tests, but there might be some relation.

[2018-11-15 03:19] yebrahim commented on #272
They run in parallel, but this wasn't a consideration when building the frontend integration tests, that's why I think it's the culprit.

[2018-11-15 04:02] Ark-kun commented on #275
I think this should mostly be managed on the backend side and be transparent to the containers/components. See https://github.com/argoproj/argo/blob/master/ARTIFACT_REPO.md

[2018-11-15 04:06] Ark-kun commented on #274
One of the strong points of Argo is the automatic and transparent handling of artifacts. Containers work with files and the system makes it so that the data is stored in the configured storage system.

[2018-11-15 04:52] IronPan commented on #275
The argo is limited to s3 compatible storage. Pipeline component should support arbitrary store. E.g. accessing HDFS.

[2018-11-15 07:02] vicaire commented on #224
Agree. Showing the table without any header is a problematic user experience. The table also has two columns without any data.

[2018-11-15 07:13] vicaire commented on #227
@Ark-kun, please get a review before proceeding with this implementation.

[2018-11-15 07:18] vicaire commented on #221
My expectation for this one would be for the back arrow (which I am used to) to be present and to take me back to the experiment. WDYT?

[2018-11-15 07:28] vicaire opened #279 "Configure Coveralls to keep track of test coverage for DSL/Samples."
Instructions for various languages can be found here:

https://docs.coveralls.io/python

Adding coverage for Python/Scala and other languages used by DSL/samples/components is needed.

[2018-11-15 07:30] vicaire opened #280 "Configure Coveralls to keep track of test coverage for Go."
Instructions for various languages can be found here:

https://docs.coveralls.io/go

[2018-11-15 07:31] vicaire commented on #280
Sample PR:

https://github.com/kubeflow/pipelines/pull/176

[2018-11-15 07:32] vicaire commented on #279
Some links about supporting multiple languages within the same repo:

https://medium.com/@probablyup/multi-language-single-repository-code-coverage-analysis-made-simple-972b2e11b2d2

https://coveralls-python.readthedocs.io/en/latest/usage/multilang.html

[2018-11-15 07:32] vicaire commented on #279
Sample PR: https://github.com/kubeflow/pipelines/pull/176

[2018-11-15 08:07] yebrahim commented on #221
After debating this for a while, we thought the best course of action is browser back, which is least controversial/confusing, and used by GCP console. We just need to workaround this corner case.

[2018-11-15 10:33] fdasilva59 commented on #179
@yebrahim Yes I can look to create a PR in Kubeflow/Kubeflow - That will be my first PR for an Open Source project ! :) I'll check for the Contributor License Agreement today.

[2018-11-15 12:43] fdasilva59 commented on #179
CLA submited today. PR created kubeflow/kubeflow#1956

[2018-11-15 17:46] ajayalfred opened #281 "Create experiment from Notebook and use link to open KFP UI. Back button doesn't work."
I ran a code cell to create an experiment. And used the link generated to open the Experiment details page. When I click the back button, nothing happens.

![image](https://user-images.githubusercontent.com/2425179/48571238-375a6700-e8bb-11e8-8d40-69290c1bd3fe.png)

[2018-11-15 17:47] ajayalfred commented on #281
Same problem with using the 'Job link' from Notebook to view Run details. Back button doesn't do anything.

[2018-11-15 17:57] rileyjbauer commented on #281
Closing as a dup of #221

[2018-11-15 17:57] #281 closed

[2018-11-15 17:59] ajayalfred opened #282 "KF favicon in incognito mode"
Favicon not visible in incognito mode.

![image](https://user-images.githubusercontent.com/2425179/48571976-2579c380-e8bd-11e8-8317-1bb578928f4e.png)

[2018-11-15 18:00] ajayalfred commented on #255
Should be ok to do auto-generated names for runs alone since that'll be the most frequently performed task.

[2018-11-15 18:06] ajayalfred commented on #236
Ok. My recommendation is to enforce unique run names for 2 reasons:

1. Avoids name collisions in 'all runs' list. Reduces cognitive load as the user doesn't have to disambiguate by experiment name.
2. Unique run names will give us the flexibility to allow standalone run creation (without experiment)

To support this, we can add features to improve the experience of creating runs:
1. From UI start

[2018-11-15 18:09] ajayalfred commented on #221
Can you default to whatever is the last link in the breadcrumb? Anytime browser history is absent and you have to display a back button, make it link to the last link in the breadcrumb above.

[2018-11-15 18:14] rileyjbauer commented on #221
We could do that, but note that would lead to a weird situation in the case described by you and Pascal where you start on the run page, go back up to the experiment page, and then go back to the run page, and just bounce back and forth between them if you keep clicking the back arrow.

[2018-11-15 18:18] ajayalfred commented on #221
Oh wow, yeah that's a good catch. So this hack would work from the experiment details page but not the run details page.
I guess the best course of action is to display the button but disable it. That way a user can still use breadcrumbs to navigate around, and reenable the button when there's browser history.
Do you have any other solutions?

[2018-11-15 19:16] yebrahim commented on #236
Let's discuss this in person, I don't think we can close on this here, and I don't understand the second reason.

[2018-11-15 19:17] yebrahim commented on #221
Yup, that's the reason GCP disables it.
The other solution is to take it out completely.

[2018-11-15 19:25] ajayalfred opened #284 "Include kubectl install command in Github page"
I tried installing pipeline using gcloud sdk and followed instructions on this [page](https://github.com/kubeflow/pipelines/wiki/Deploy-the-Kubeflow-Pipelines-Service). However when I tried running the kubectl commands it wouldn't work because it wasn't installed. Would be nice to include the code snippet below on the page for first-time users.

gcloud components install kubectl

[2018-11-15 20:47] SinaChavoshi opened #286 "a pipeline must be sellected"

[2018-11-15 20:47] #286 closed

[2018-11-15 21:02] #179 closed

[2018-11-15 21:13] gaoning777 opened #288 "Notebook Kaniko job shows logs in red background"
This red background would lead to the users thinking there are something wrong. Need to fix it.

[2018-11-15 21:19] yebrahim commented on #288
Logs show up with a red background if they have a substring "fail" or "error" in them. Is this the case? Are you seeing a corner case where the substring exists but it's not an actual error?

[2018-11-15 21:54] lluunn opened #289 "Pipeline Summary is blocking the graph"
<img width="653" alt="screen shot 2018-11-15 at 13 52 46" src="https://user-images.githubusercontent.com/32310205/48584148-db550a00-e8dd-11e8-92a6-ebbc2d3aa683.png">

I think summary should not be rendered on top of the graph?

[2018-11-15 21:58] yebrahim commented on #289
We can also add some bottom margin where the hidden summary won't overlap with the graph.
@ajayalfred any preference here?

[2018-11-15 22:00] lluunn opened #290 "Error getting logs"
I ran the sample Condition pipeline, and it successfully finished.
But when I clicked on the steps, most of them are not able to get logs.

<img width="1031" alt="screen shot 2018-11-15 at 13 56 05" src="https://user-images.githubusercontent.com/32310205/48584459-9d0c1a80-e8de-11e8-82d6-7e9bc5e662ef.png">

[2018-11-15 22:41] lluunn opened #294 "Error running pipeline: cannot create tfjobs.kubeflow.org 403"
Steps:
1. followed [wiki](https://github.com/kubeflow/pipelines/wiki/Deploy-the-Kubeflow-Pipelines-Service) to deploy pipeline.
2. I took the [code](https://github.com/amygdala/code-snippets/blob/master/ml/kubeflow-pipelines/samples/kubeflow-tf/workflow1.py#L187) from @amygdala's [blog](https://cloud.google.com/blog/products/ai-machine-learning/getting-started-kubeflow-pipelines), ran it in jupyte

[2018-11-15 22:49] ajayalfred commented on #289
The hidden summary should be a button. See the two states below:

Summary open
![image](https://user-images.githubusercontent.com/2425179/48586703-83ba9c80-e8e5-11e8-888d-2b70aa9bfef8.png)

Summary closed
![image](https://user-images.githubusercontent.com/2425179/48586720-903ef500-e8e5-11e8-8e52-8b9c5d8112fe.png)

[2018-11-16 01:11] amygdala commented on #294
I think the issue is that you need to run this command or similar before running any pipelines:
`kubectl create clusterrolebinding sa-admin --clusterrole=cluster-admin --serviceaccount=kubeflow:pipeline-runner`

[2018-11-16 01:13] amygdala commented on #294
Here's the related issue: https://github.com/kubeflow/pipelines/issues/220

[2018-11-16 01:21] hongye-sun opened #296 "Add wiki for metrics tracking"
Document the instructions to log metrics from component code.

[2018-11-16 01:56] #288 closed

[2018-11-16 03:44] vicaire commented on #221
As a user, my expectation is that the behavior of the back arrow (if wee keep it) is consistent and not the same as the browser back button.

So if takes me once from the run page to the experiment page, I would expect it to always do this, no matter the history.

[2018-11-16 17:04] ajayalfred commented on #221
In theory it sounds right that the back button take you up one level instead of browser back – however in our daily testing and usage, browser back is actually the most useful resolution for the need to go back. Because more than likely, a user is not always traversing the hierarchy to complete a task. When we add filtering, browser back becomes important to resubmit the filter string to see the s

[2018-11-16 17:15] amygdala commented on #294
Hmm, I have not seen this (and can't repro).  :(
Do the logs of the tf-job-operator* pod have any clues?

Jeremy, I have a vague memory of your saying there was some recent issue with tf-job -- could this be related?  @jlewi

[2018-11-16 18:34] gaoning777 commented on #272
I checked all the failures and the majority of them failed due to two reasons:
1). cluster got deleted accidentally, it might've been accidentally deleted manually.
2). cannot create cluster due to computing/disk quota.
There is only one test failure due to "cannot connect to the docker daemon...".

I do not think it is related to the frontend integration tests.

[2018-11-16 21:57] rileyjbauer opened #301 "Cannot copy pipeline source on Pipeline details page"
The Pipeline source is highlighted via Code Mirror and is set to `readOnly: nocursor`. This allows a user to select text, but copy doesn't work.

[2018-11-16 22:41] SinaChavoshi opened #303 "feature ask: support for loops"
could we add loop operations to _ops_group.py

There is strong need for ability to run steps within a pipeline in a loop, for example train on ### epochs if accuracy is below X% rerun the training.

current work arounds are very cumbersome and messy:
1. Schedule job at start up check for last run status
2. Create a massive graph with early stopping
3. Manage the loop out side of the pipeline

[2018-11-16 23:15] #301 closed

[2018-11-16 23:48] gaoning777 opened #304 "Configurable namespaces"
Currently there are lots of places where namespaces are hardcoded, we need to make it configurable such that users can deploy the pipeline in a certain namespace, use DSL/python_sdk in a certain namespace and the tests work with the configurable namespaces.

List of places(Feel free to add more):
1) deployment
2) DSL
3) Python SDK
4) Test including e2e test, sample test, etc.(not directly exposed

[2018-11-16 23:51] gaoning777 commented on #304
PR: https://github.com/kubeflow/pipelines/pull/306, making the Python SDK and sample test namespace-configurable.

[2018-11-16 23:55] rileyjbauer commented on #272
Is this issue still affecting anyone?

[2018-11-17 01:08] Ark-kun opened #308 "UI says "Successfully created new Run", but it isn't in the list"
We need to make the UX and Backend synchronized.
Backend probably needs to verify the uploaded pipelines. E.g. using argo lint.

[2018-11-17 03:32] #44 closed

[2018-11-19 08:28] IronPan opened #310 "Create a container wrapper op with Default GCP auth"
Currently to create a container op with default GCP service account mounted, one need to
[code]
We can provide a strongly typed op to wraps this

[2018-11-19 08:30] IronPan commented on #308
I am not sure I followed the description.
Is it a bug? If so could you provide more detail how to reproduce it?

[2018-11-19 08:31] IronPan commented on #304
FYI deployment and e2e/integration tests are already wired with namespaces.

[2018-11-19 08:32] IronPan commented on #304
Please add links to the places that have ns hardcoded if you find any

[2018-11-19 08:35] IronPan opened #311 "Container op should expose method to append volume/mount/envs"
Currently it only exposes set() which will override any existing values.
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L158

Since these fields are list, we should support appending instead of setting.

[2018-11-19 17:34] jlewi commented on #254
Isn't this what RBAC and namespaces are for?

What does it mean to send a CRD to some backend?

Why not just let pipelines run in a user selected namespace with suitable, user controlled RBAC permissions to limit what pipelines can do?

[2018-11-19 17:57] gaoning777 commented on #272
Free feel to reopen if necessary.

[2018-11-19 17:57] #272 closed

[2018-11-19 20:05] yebrahim commented on #290
Does this pod exist in the cluster? Can you try running `kubectl get pod -n kubeflow <pod-name>` in a shell? It could have been that the pod has been removed by resizing the cluster, or by manually deleting the job/pod.

[2018-11-19 23:24] gaoning777 opened #318 "Python fire interprets string incorrectly"
According to the Python fire argument parsing guide(https://github.com/google/python-fire/blob/master/docs/guide.md#argument-parsing). Some strings might be incorrectly interpreted, then purified.
For example, Amy recently had a problem of passing 1.10 as the argument but it unfortunately interpreted as float and passed as 1.1 to the container.

[2018-11-19 23:55] vicaire commented on #254
+1 on @jlewi's comment.

I am not in favor of containers calling the Pipeline API Server.

I think we have two options:
- The one @jlewi mentioned
- Containers could also interact with the outside world only through local files, local ports, and local pipes, which the system would wire appropriately depending on the workflow configuration.

[2018-11-20 01:06] yupbank opened #321 "Conditions are not visualized properly"
Right now the conditions in a pipeline is being visualized as a pod which is wrong

[2018-11-20 01:25] ajayalfred opened #322 "Compare experience design changes"
Moving to a split-page menu on left, content on right layout for the comparison experience. Requires a design spec for implementation.

[2018-11-20 02:55] ajayalfred opened #325 "Pipeline graph node style updates"
Present graph orientation is top-down

![old-graph](https://user-images.githubusercontent.com/2425179/48748474-e5ec0800-ec2b-11e8-9005-909c5de14594.png)

Change orientation – graph orientation must be left-right for easy interpretation of flow of information between steps.
Note style of nodes on Pipeline details page.

![100_graph 2x](https://user-images.githubusercontent.com/2425179/48748518-0b79

[2018-11-20 07:58] hackenzheng opened #327 "ks init error : msg="unable to find SHA1 for repo: Get https://api.github.com/repos/ksonnet/parts/commits/master: dial tcp:"
![image](https://user-images.githubusercontent.com/16522546/48758953-a0d3de80-ecdc-11e8-8cee-23ebec1abeb3.png)
when deploy the ml pipeline, it failed at the 'ks init ' step. I have test the network in the pod, the pod dns can resolve api.github.com and wget "https://api.github.com/repos/ksonnet/parts/commits/master" also successful. Only the dns resolve time is a little long. How to resolve this?

[2018-11-20 12:14] hackenzheng commented on #327
it's really caused by dns query timeout. I set the hostNetwork: True at the start yaml file

[2018-11-20 12:15] #327 closed

[2018-11-20 12:18] hackenzheng opened #329 "uninstall failed, there are twenty pod has not been deleted"
![image](https://user-images.githubusercontent.com/16522546/48773005-15207900-ed01-11e8-930f-59186e4e6911.png)
When uninstall ml-pipeline, the deploy.sh terminated. The error was as above iamge.

[2018-11-20 18:18] ajayalfred commented on #256
Add overflow menu for this action and other pipeline actions at the end of the row. Explore surfacing one primary action next to overflow as icon button.

[2018-11-20 18:18] ajayalfred commented on #255
Auto-generate pattern - first 3 words from pipeline name + 5 character random suffix.

[2018-11-20 18:31] SinaChavoshi commented on #255
+1 the auto generate pattern  for runs sounds good!

@yebrahim for experiments no autogen makes sense.

[2018-11-20 18:36] ajayalfred commented on #53
We discussed and agree this is valuable to have. I am creating a design spec for this and the associated workflow changes.

[2018-11-20 18:39] ajayalfred commented on #236
We discussed making run names unique and generally agree that it's valuable to keep them unique across the entire system (unique between experiments also). With auto-generated run names, this constraint will be satisfied. See #255

[2018-11-20 19:15] lakshmanok opened #330 "Unclear how much cpu/memory actually available"
I created a GKE cluster with 4 n1-standard-2 nodes (8 vCPUs and 30 GB memory)

Yet, I'm not able to submit a task with these requirements:
[code]

[2018-11-20 19:17] ajayalfred opened #331 "'Run output' tab for Run details page"
A new tab in the Run details page called 'Run output' that lists all output produced by the pipeline. Uses the same layout as the run comparison page but shows output from a single run.

Before adding this tab, discuss with @qimingj about the concept of a pipeline output summary section
(which contains a subset of most interesting artifacts to represent the pipelines's output/performance).

[2018-11-20 19:19] lakshmanok opened #332 "Cloud platform scope not carried through on autoscaling"
I set up a GKE version (v 1.11) with autoscaling and submitted a job that triggers autoscaling.

When the job is run, I get an error that it is not able to do "gcloud mlengine jobs describe" because it doesn't have the right permissions

[2018-11-20 20:12] ajayalfred commented on #75
Spec for handling pipeline column in runs generated from Notebook.

In the pipeline column, replace name with a link 'View pipeline' when a pipeline ID is not available.

![image](https://user-images.githubusercontent.com/2425179/48799982-5000bd80-ecbd-11e8-9462-1a23129a9b49.png)

Selecting the link, takes the user to the pipeline details page with the app bar as show below.

![image](https://user

[2018-11-20 20:51] yebrahim commented on #321
@rileyjbauer, does https://github.com/kubeflow/pipelines/pull/293 fix this?

[2018-11-20 21:03] yebrahim commented on #75
The breadcrumbs should show the run name too, not just the experiment name. This is very important I think, since it's the only usable identifier for this pipeline.

[2018-11-20 21:44] SinaChavoshi opened #336 "Support for Argo artifacts"
Argo has built in support for Artifacts, however that is not seem to be currently supported in pipelines.This is a critical feature, lack of which adds a lot of friction.  Currently the only way to pass large objects ( images etc) is to actually copy them and read them back manually. Furthermore any support for caching artifacts based on the run / data used requires manual development. Version con

[2018-11-20 21:48] ajayalfred commented on #75
You're correct, I mixed up the breadcrumbs.

With the correct path displayed in breadcrumbs, it's confusing though what the back button will do... since the user arrives on the pipeline page directly from the experiment details page.
![image](https://user-images.githubusercontent.com/2425179/48804916-c6f08300-ecca-11e8-9ded-1e30edb018d6.png)

Alternative is to show the run name in brackets in page

[2018-11-20 22:10] yebrahim commented on #75
If the user observed that the back button just does browser back, it won't be confusing at all. It'll take the user back to the previous page (list page), and the breadcrumbs are there in case the user wants to navigate to that run from the pipeline details page.

[2018-11-20 22:29] IronPan opened #337 "Support multi-platform storages for Tensorboard"
Currently tensorboard pod mounts the GCP service accounts and can access to GCS.
https://github.com/kubeflow/pipelines/blob/24d69cbb81f60307f5807a4c2129dab493ce52f4/frontend/server/k8s-helper.ts#L46-L79
The credential should be a configurable parameter that user specifies, to read data from various storage, S3, PV, etc.

[2018-11-20 22:37] ajayalfred commented on #75
Ok opt 1 sounds good.

[2018-11-20 22:50] SinaChavoshi commented on #237
+1 There is no way to get experiment ID from UI, this will be very handy.

[2018-11-21 00:15] SinaChavoshi opened #341 "TFX Components pipeline- Expanding model analysis artifact does not go full screen"
clicking on pop out (top right corner) to expand the artifact static HTML page will result in a smaller window pupping up instead of extending to full screen view.

https://screenshot.googleplex.com/3P9dpXfKqeg

[2018-11-21 00:18] SinaChavoshi opened #342 "Add ability to rename resources"
It would be nice to be able to rename pipelines, experiments, and run names.

[2018-11-21 00:32] IronPan opened #344 "Parameterize kaniko pod namespace"
The kaniko pod is hardcoded to kubeflow namespace. We should make this configurable so that it still work if people deploy kubeflow to a different ns.

https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/compiler/_component_builder.py#L247

[2018-11-21 00:35] IronPan opened #345 "Support mutl-platform storage for kaniko"
Currently kaniko pod mounts the GCP service accounts so it can access to GCP API.

https://github.com/kubeflow/pipelines/pull/343

We should consider make this a configurable setting so people can switch to non GCP stack as they want.

[2018-11-21 00:48] IronPan commented on #332
The issue seem to be that the new node created by autoscaling doesn't have cloud platform scope. This might be an GKE issue.

This issue should go away when we switch to use proper service account instead. We should re-test the scenario when that is ready.

[2018-11-21 00:55] SinaChavoshi opened #347 "Experiment name does not show up when submitting using DSL"
when submitting an experiment using the

client = kfp.Client()
client.run_pipeline(experiment.id, run_name, 'some_pipeline.tar.gz', params)

The pipeline does not get added, also on run history on the UI the Pipeline name is blank.

https://screenshot.googleplex.com/1ZyaugOVaP5

[2018-11-21 01:02] yebrahim commented on #347
This is a dupe of https://github.com/kubeflow/pipelines/issues/75. The root cause is we don't yet support showing runs with an embedded pipeline spec.
(Did you mean "Pipeline name" instead of "Experiment name" in the issue title?)

[2018-11-21 01:26] Ark-kun opened #348 "RESOURCE_EXHAUSTED: Maximum number of keys on account reached"
[code]

[2018-11-21 02:31] #289 closed

[2018-11-21 03:52] SinaChavoshi commented on #347
yes :) thank you.

[2018-11-21 12:39] hackenzheng opened #352 "deploy problem: 3 pvc like mysql not created at the script and not specified label selector"
as the question, there are need 3 pvc and 3 pv, but the pvcs not set the selector to bind the correspond pod. whether cause binding chaos?

[2018-11-21 15:44] rileyjbauer commented on #321
@yupbank, thanks for filing this.
Can you clarify a bit what you mean? Are you talking about the static pipeline graph that you reach by clicking on a pipeline, or the runtime graph that you reach by clicking into a run?

[2018-11-21 16:39] yupbank commented on #321
the runtime graph that you reach by clicking into a run

[2018-11-21 20:19] Ark-kun opened #354 "Backend image build does not fail when sample compilation fails"
In https://github.com/kubeflow/pipelines/pull/110 the samples failed to compile, but it did not stop the backend image from being generated.

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/110/build-image/148/build-log.txt
[code]

[2018-11-21 20:22] Ark-kun opened #355 "Backend should not rely on presence of samples."
In https://github.com/kubeflow/pipelines/pull/110 the bootstrapper silently fails to start the backend due to missing samples.

Missing samples should not be fatal. https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/main.go#L57

My opinion is that the backend should not know about samples at all. The samples should be injected in the cluster instance by the bootstrapper.

[2018-11-21 20:23] Ark-kun opened #356 "Pre-install samples via bootstrapper."
The backend should not know about samples at all.

[2018-11-21 21:41] Ark-kun opened #358 "Backend ships with very old SDK version"
The backend ships with the pre-release kfp-0.0.26.
https://github.com/kubeflow/pipelines/pull/76/files#diff-532a2baa536d096a6bdd1b0483d0b920R19

[2018-11-21 21:42] IronPan commented on #358
This should fix the issue https://github.com/kubeflow/pipelines/pull/110/files#diff-532a2baa536d096a6bdd1b0483d0b920R19

[2018-11-21 21:45] gaoning777 commented on #304
TODO in DSL: https://github.com/kubeflow/pipelines/blob/d313a9c623646e5910315682ba1a7040ea41acca/sdk/python/kfp/compiler/compiler.py#L57

[2018-11-21 21:46] gaoning777 commented on #344
This is actually already parameterized through the build_python_component function when authors build components.

[2018-11-21 21:46] #344 closed

[2018-11-21 21:50] Ark-kun opened #359 "Store hosted JupyterHub notebooks in a persistent storage."

[2018-11-21 21:52] IronPan commented on #359
Should this be a JupyterHub feature request instead?

[2018-11-21 22:14] gaoning777 opened #360 "Component/Pipeline code organization for e2e testing / Specifying e2e tests using notebooks."
We lack the story for testing and debugging components.
Current situation:
1) Unit Test: users can call the component python function in the notebook if only the server has the dependency installed.(option: installing the dependencies directly in the server, however, this might affect other notebooks that are running in the same notebook server).
2) Integration tests: users can submit a whole pipe

[2018-11-21 22:17] gaoning777 opened #361 "Surface the sample test results to github"
By surfacing the sample test results to the github, users can choose the versions of the sample that work.

[2018-11-21 22:19] Ark-kun commented on #359
Maybe. But it looks like we need the persistent storage more than they do.
JupyterHub might already support this.

[2018-11-21 22:20] gaoning777 opened #362 "The DSL should not hardcode the Minio endpoint in the Kubernetes cluster."
Currently DSL hardcode the namespace of minio service to default. This would break when pipeline is deployed to another ns.
If possible, we should probably use the default argo repository to avoid DSL involvement.

[2018-11-21 22:31] Ark-kun opened #363 "Pipeline transformation hook in the backend"
Backend workflow transformation will provide many benefits for handling of namespaces, volumes, secrets, test image replacements etc. E.g. https://github.com/kubeflow/pipelines/issues/362 https://github.com/kubeflow/pipelines/issues/304

We can start with simple YAML conversion and move to more complicated augmentations later.

We could run transformation during the upload phase or when submitting

[2018-11-21 22:40] Ark-kun commented on #184
Can you please get the failing pod logs?

[2018-11-21 22:52] Ark-kun commented on #304
I'd like to solve this by only adding this information in the backend: https://github.com/kubeflow/pipelines/issues/363

[2018-11-21 22:53] Ark-kun commented on #336
I'm working on support for this as part of my components effort.

[2018-11-22 08:20] hackenzheng opened #365 "Does pipelines only support on GKE? And the workflow run with some problem."
1. I tried deployed pipeline on my local k8s cluster, but there are many problems. And the document just introduce the deployment on GKE.  Does pipeline only suport GKE?
2. As below, when I ran the samples/kubeflow-tf/kubeflow-training-classification.py, the preprocess node ran failed but the sign goes to green means it successful?
![image](https://user-images.githubusercontent.com/16522546/488899

[2018-11-23 03:27] Ark-kun opened #368 "Our tests clone our repo 40+ times for each PR commit (and some PRs have dozens of commits)"
And the real number is much higher due to test failures and re-runs.

Prow pulls our repo for each test suite (we have 5+).
Our test workflows pull the code to build images (24 times). Most of those come from sample tests.
Our test runners then pull the code again before running (11 times). For some reason we only put a single `run_test.sh` script in test images and not all the required code.

[co

[2018-11-24 20:33] cwbeitel commented on #203
So just to summarize we'd like to be able to launch a pipeline like so, from the test deployment:

[code]

Taking a closer look at kfp.Client, [here](https://github.com/kubeflow/pipelines/blob/b39435765d83f9cf58c21961ae048ac574992d57/sdk/python/kfp/_client.py#L48),

[code]

it looks like this would work from any node in the cluster with access to

[code]

correct? Would that work as long as it was

[2018-11-25 01:30] etheleon commented on #365
Hi i ran into the same error message.

[2018-11-25 02:32] Ark-kun commented on #362
I think it's better for this setting to be configured on the pipeline level, not in DSL.

[2018-11-25 23:43] texasmichelle opened #369 "Add 'v' to branch & tag names to match other kubeflow repos"
Kubeflow tags are formatted as `v0.3.3`, which is not in line with this repo. Suggest adding `v` to repo tags and branch names to match other kubeflow repos.

[2018-11-26 01:30] Ark-kun opened #370 "Presubmit tests are broken since we rely on pulling node.js image that was removed"
node:9.4.0-alpine no longer exists. Unfortunately we're still pulling it every time instead of relying on a static base image.
[code]

[2018-11-26 01:41] Ark-kun commented on #370
Node 9 was dropped in June:
https://github.com/nodejs/Release/blob/bc9d936e153b9fafd7f7c203f139d02035ca6862/schedule.json#L44
https://github.com/nodejs/docker-node/pull/803

The schedule was announced couple of years ago: https://github.com/nodejs/Release/commit/a058d350867bd1a363586bbde70c3ff1e5583322#diff-c5a445b5d198a13d8c4b4a82af5f2929R44

We might want to us LTS releases that have longer supp

[2018-11-26 05:39] texasmichelle opened #372 "Error installing package with ks"
The registry for installing pipelines via ksonnet is formatted differently in `0.1.3-rc.2`. The file [parts.yaml](https://github.com/kubeflow/pipelines/blob/0.1.3-rc.2/pipeline/pipeline/parts.yaml) is missing quotation marks, which ks cannot parse correctly. The [file](https://github.com/kubeflow/pipelines/blob/0.1.2/ml-pipeline/ml-pipeline/parts.yaml) in `0.1.2` works properly.

WIth ks v0.12.0,

[2018-11-26 09:18] yebrahim commented on #370
Thanks for bringing this up, yes we need the upgrade.
I don't see this blocking tests anywhere though, and pulling node:9.4.0-alpine still works. Where did you see presubmit tests failing with this error?

[2018-11-26 16:14] jlewi commented on #294
@amygdala Only issues I'm aware of are RBAC and IAM.

@IronPan might know more.

[2018-11-26 16:22] jlewi opened #373 "Pipeline UI should work behind Kubeflow reverse proxy (Ambassador)"
Opening this issue to track getting the pipelines UI to work with the Kubeflow proxy.

@yebrahim @IronPan @kunmingg Does anyone know the current status of this?

IIRC based on our discussions, I think the UI works with Kubeflow reverse proxy with the exception of the TensorBoard links. The short term fix for the tensorboard links was to explicitly map "/data" and maybe some other paths used by Ten

[2018-11-26 18:07] yebrahim commented on #373
As you said, the UI works fully behind Ambassador, including proxying Tensorboard with the /data route mapped to go to the Pipelines frontend service.

@neuromage is looking into better support for Tensorboard, possibly by using a CRD to manage instances.

[2018-11-26 18:50] IronPan opened #374 "Authentication and service account plan for Pipeline + Kubeflow"
Currently in Pipeline instruction, we deploy the cluster with cloud-platform scope. Without any configuration, the pipeline and any derived argo jobs will run under the default service account (default Compute Engine service account). This unrestricted setup was OK in the past for development and testing propose. But as project goes public, I think it might want to change the service account setup

[2018-11-26 18:55] IronPan commented on #374
Update-
Tensorboard fixed https://github.com/kubeflow/pipelines/pull/273
Kaniko fixed https://github.com/kubeflow/pipelines/pull/343
DSL supports volume ane env APIs now https://github.com/kubeflow/pipelines/pull/300

TODO:
Update current released sample to use the strongly typed GCP op https://github.com/kubeflow/pipelines/pull/314

[2018-11-26 19:57] Ark-kun commented on #370
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/315/build-image/573/ and multiple other tests runs. Looks like that might have been a DockerHub or proxy issue that lasted some hours.

Hmm. Strange.
I do not see any 9 in https://hub.docker.com/r/library/node/ or https://hub.docker.com/r/library/node/tags/

[2018-11-26 20:00] yebrahim commented on #370
It's likely it'll be kept around for a while to avoid breaking active projects (I can still pull node 7 alpine too), but we should update the dependency to lts.

[2018-11-26 20:00] yebrahim commented on #370
Can we rename this issue to track this update, since we're not really breaking presubmits?

[2018-11-26 20:09] #221 closed

[2018-11-26 21:18] paveldournov commented on #365
The samples are currently GKE/GCP specific, they expect inputs as GCS locations for example. +@qimingj

[2018-11-26 22:43] yebrahim opened #379 "PipelineDetails page tests"

[2018-11-26 22:44] yebrahim opened #381 "ExperimentDetails page tests"

[2018-11-26 22:44] yebrahim opened #382 "Compare page tests"

[2018-11-26 22:44] yebrahim opened #383 "RunDetails page tests"

[2018-11-26 23:08] gaoning777 commented on #318
solved by PR: https://github.com/kubeflow/pipelines/pull/384

[2018-11-26 23:43] texasmichelle commented on #372
Just saw the fix in [kubeflow-1981](https://github.com/kubeflow/kubeflow/pull/1981). Are we planning to keep manifests in both repos? If so, we need to make sure they are kept in sync.

[2018-11-26 23:44] texasmichelle commented on #372
/assign @IronPan

[2018-11-26 23:45] #368 closed

[2018-11-28 00:25] IronPan opened #395 "Permanent storage for pipeline system"
The Pipeline system should integrate with permanent storage, such as GCS and Cloud SQL for persisting the user's metadata. This ensures data has the lifecycle beyond the single cluster.

[2018-11-28 01:49] Ark-kun commented on #395
Related: https://github.com/kubeflow/pipelines/issues/359

[2018-11-28 02:18] Ark-kun opened #400 "Pipeline names are truncated and the columns are not realizable"
![image](https://user-images.githubusercontent.com/1829149/49124272-9f705c00-f270-11e8-95e0-4e8f06b17871.png)

[2018-11-28 02:19] Ark-kun commented on #400
Dup of https://github.com/kubeflow/pipelines/issues/154

[2018-11-28 02:19] #400 closed

[2018-11-28 03:06] #383 closed

[2018-11-28 04:58] Ark-kun opened #403 "GCS access can be flaky: ServiceException: 401 Anonymous caller does not have storage.objects.get access to ml-pipeline-test"
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/387/build-image/658
[code]

[2018-11-28 05:33] #354 closed

[2018-11-28 07:31] #379 closed

[2018-11-28 17:01] rileyjbauer commented on #381
Fixed by #404

[2018-11-28 17:01] #381 closed

[2018-11-28 20:33] IronPan opened #406 "Pipeline GCP sample components need to switch to default gcp ops"
Using default gcp ops will ensure those GCP samples still works
https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_default_gcp_op.py

[2018-11-28 22:49] sshrdp opened #407 "TFJob doesn't forward error logs from the jobs"
TF Job doesn't show any information regarding the spawned jobs state and errors in Pipeline UI.

[2018-11-28 22:51] sshrdp opened #408 "TFJob doesn't stop trainer jobs after a timeout"
If a timeout happens, the spawned jobs keep running in the background.

[2018-11-29 00:41] timbuktuu opened #409 "K8s 1.11 fails on generateName when upgrading pipelines"
When attempting to upgrade Kubeflow Pipelines by _kubectl apply -f_ [deploy.yaml](https://storage.googleapis.com/ml-pipeline/release/0.1.2/bootstrapper.yaml) leverages a k8s deployment job with generateName.   This works on initial Kubeflow Pipelines cluster creation as one calls _kubectl create -f_, but fails when upgrading via _kubectl apply -f_ in Kubernetes 1.11.   Backing the cluster down to

[2018-11-29 07:38] ggaaooppeenngg opened #412 "where is bootstrapper code gcr.io/ml-pipeline/bootstrapper:0.1.2"
I have a deployment environment without fully access to internet, and I want to figure out how to deploy it manually, where can I check the code of bootstrapper?

[2018-11-29 07:47] #412 closed

[2018-11-29 10:45] yebrahim opened #413 "Ability to stop runs"
This requires both the backend support work, an API, and a frontend button to call the API.
@Ark-kun has done some work to explore using Argo's `activeDeadlineSeconds` field. We also need proper messaging to set the user's expectations that this will stop the workflow without ability to resume.

@Ark-kun, if I understand correctly, this will terminate all the workflow's pods too, not just stop sch

[2018-11-29 14:34] gyliu513 opened #414 "Pipeline install timeout"
Following steps at here https://www.kubeflow.org/docs/guides/pipelines/deploy-pipelines-service/ , pipeline failed to start.

[code]
[code]

[code]

Then check job and pod log, found timeout.
[code]

[code]

Job pod log:
[code]

[2018-11-29 18:11] hongye-sun opened #415 "Make low level APIs for DSL ContainerOp by leveraging k8s and argo library"
Currently, ContainerOp is a wrapper of Argo's template object which also wraps a k8s container object. The current high level APIs are not flexible enough that user can edit the full spec of the wrapped object.

It's better to provide a low level API to let advanced user to use Argo and k8s py lib to build the underlying object directly, while still keep high level APIs easy to use for most of the

[2018-11-29 18:44] ajayalfred commented on #413
Copy. I'll get this to you asap.

[2018-11-29 19:20] IronPan opened #416 "grant kubeflow user account CMLE permission"

[2018-11-29 19:41] #416 closed

[2018-11-29 19:58] jlewi commented on #415
Should there be a clean separation between the APIs and the python library?
Should the primary goal of python library to be able to construct API objects using idiomatic  python?

A model would be something like OpenAPI where the API can be defined in a language independent manner. For a given API, one can then create client libraries in a given language to construct it an idiomatic fashion.

Rela

[2018-11-29 21:56] IronPan opened #418 "Use GCP credentials for existing samples"
For current samples that requires GCP services, we need to
- Use default_gcp_op instead of container_op
- Call `gcloud auth activate-service-account --key-file="${GOOGLE_APPLICATION_CREDENTIALS}"` for places using gcloud

[2018-11-29 22:06] yebrahim commented on #407
Yes, eventually we would like the UI to surface status of the transitive closure of the run's resources, of which TF Job is an example. This isn't trivial unfortunately, it will require two things:
- Ability to identify such resources, either via run steps transitively adding ownership references, or by using a well-defined API to create further resources.
- Tracking and reporting status for each

[2018-11-29 23:34] post2web opened #420 "Python SDK is not continuous integration friendly."
The Python SDK allows you to submit a run from a pipeline but doesn't have any means for uploading a pipeline into the list of available pipelines.

Another limitation of the current SDK is that it only works within the cluster.

[2018-11-29 23:57] post2web opened #422 "Compiling a pipeline doesn't include name and description into the generated YAML."
My understanding is that compiling a function decorated with `@kfp.dsl.pipeline` to a pipeline will include the pipeline name and description into the YAML. This way, after uploading it, the pipeline interface can show the description. However, the name and description are missing from the YAML.

Example:
[code]

There is no mention of "Test description" inside test-pipeline.tar.gz.

[2018-11-30 00:36] gaoning777 commented on #422
Good point, the description of the pipeline does get thrown away instead of being exposed to the users(embedded in the yaml). We are working on exposing the pipeline descriptions as well as parameter descriptions.

[2018-11-30 05:15] post2web opened #428 "DSL compilation fails when pipeline has op with the same name as the pipeline itself"
Here is an example pipeline to recreate the issue:
[code]
When the pipeline is run, I get an error message:
[code]
This error is triggered because the name of the operation matches the last part of the image url. The pipeline would run as expected if I chnage `ExampleOp(name='example')` to `ExampleOp(name='something_else')`.

[2018-11-30 17:35] hongye-sun opened #429 "Support Argo Resource Template in DSL"
Copied from: https://github.com/kubeflow/pipelines/issues/415

Related question, how can the DSL be easily extended to orchestrate custom Kubernetes resources? It would be nice if I could just "inline" custom resources (similar to what Argo supports argoproj/argo#606).

I think the desired semantics would be something like
1. Create a custom resource
2. Wait for the specified conditions to be reac

[2018-11-30 17:49] qimingj commented on #429
Yes. We can. The question is how we want to expose them and how we can gather output.

A custom resource is not container specific, so there is no output file mapping. The only thing that argo supports is to query the job status (and with a jqfilter or json path https://github.com/argoproj/argo/blob/master/examples/k8s-jobs.yaml) and get the output. Not all k8s CRD reports output that way (includi

[2018-11-30 18:01] qimingj commented on #415
Is there a strong reason that DSL needs to follow the OpenAPI pattern? I don't foresee in the near future another DSL with a different programming language. Introducing a language neutral API is more useful when you want to expose it in multiple languages.

CRD support --- yes. I would like to support two levels of K8sOp. The low level is arbitrary resource:

op = K8sOp(resource_spec, jsonPath='..

[2018-11-30 18:38] hongye-sun commented on #429
@jlewi  Shall we instead fix tf-job to report the status to k8s?

I feel that K8sOp itself is still very useful even with the limitations.

[2018-11-30 21:43] Ark-kun opened #431 "Travis tests do not properly test what happens when the branch is merged."
Travis allowed merging the following commit which had conflicts in unit tests with later master changes in.
https://github.com/kubeflow/pipelines/commit/9110296e57ca05a157788e9542534315b86bef2c

Travis did not run unit tests on the merged code and a thus did not catch the problem. Now all tests are broken: https://travis-ci.org/kubeflow/pipelines/builds/461978940?utm_source=github_status&utm_mediu

[2018-11-30 22:21] Ark-kun commented on #428
This is a bug and we will fix it.

BTW, you should probably remove `name` parameter from `def __init__(self, name):` and just set it in the base class constructor call.
[code]
This name no longer needs to be unique among the operations.

P.S.

To future-proof you containers, please make the input and output locations are configurable from the command line. It's also useful to have the `command` se

[2018-11-30 23:02] hongye-sun opened #434 "Support container graceful stop in DSL"
This can be supported via #415.

Use this issue to track:

1. We have a good practice for component author on how to gracefully handle termination.
2. Ensure that all OOB gcp components (BQ, Dataflow, etc) are following the practice.

[2018-12-01 02:25] Ark-kun opened #436 "Add tests for new comparison operators."

[2018-12-01 07:34] post2web opened #438 "Having a PipelineParam with float value in scientific notation would not start any runs."

[2018-12-01 07:39] post2web commented on #438
Here is an example pipeline to replicate the issue:
[code]

When I try to create a run with `value=1e-05` I get no error and nor runs. This pipeline works as expected when I change `value=0.0001`

[2018-12-02 01:47] sarahmaddox commented on #284
This issue was moved to kubeflow/website#320

[2018-12-02 01:47] #284 closed

[2018-12-03 00:39] IronPan opened #439 "Persist pod logs to permanent storage"
For clusters such as auto scaling clusters, the pod logs will be lost if the cluster is scaled.
We should store the pod log so UI can still get it.

The change includes
- Create a storage for storing log - Either database table, or object storage.
- Storing the log in permanent storage using persist agent
- Surface the log through API
- Update UI to read log from the API

[2018-12-03 00:47] jlewi commented on #439
Most clusters will already be configured to have cluster level logging that stores pods in permanent storage (e.g. StackdDriver, DataDog, etc...).

Can the UI just be configured to fetch the logs from one of those locations?

[2018-12-03 00:48] IronPan commented on #439
As long as it's consistent for both onprem and gcp, I'm good with it.

[2018-12-03 06:32] IronPan commented on #414
thanks @gyliu513
are you sure the ambassador failure was caused by the ks version?

[2018-12-03 06:34] gyliu513 commented on #414
Yes, the new ksonnet works. @IronPan

[2018-12-03 06:38] IronPan commented on #414
I mean the test failure is caused by old version of ks instead of flakiness?
FYI there are e2e tests covers the deployment. I would be surprised if that;'s the case.

[2018-12-03 06:43] IronPan commented on #414
@jlewi Is the minimum requirement for KS changed?

[2018-12-03 06:56] gyliu513 commented on #414
@IronPan @jlewi please refer to https://github.com/ksonnet/ksonnet/issues/427 for the ksonnet PR, it was caused by the k8s version here `v1.11.1+icp` and it has been fixed in ksonnet 0.12.0, and here I was trying to bump the version to 0.13.1

[2018-12-03 09:30] hackenzheng opened #441 "Why can not delete experiments and runs?"
The pipeline can been deleted. But the experiment and run can't. How can delete?

[2018-12-03 15:11] jlewi commented on #374
@IronPan what is the remaining work here?

[2018-12-03 15:13] jlewi commented on #294
@IronPan @vicaire Any update on this?

[2018-12-03 15:14] jlewi commented on #218
@IronPan is this still needed?

Could this explain the problems in #294 ?

[2018-12-03 15:16] jlewi commented on #373
@neuromage Do we have issues tracking the tensorboard problems?

[2018-12-03 18:13] yebrahim commented on #441
Experiments should be probably be deletable, but not runs. Runs are meant to be repeatable units that document the user's experimentation. We should still provide some sort of archiving mechanism for clean up though.

[2018-12-03 18:36] IronPan commented on #374
@Ark-kun How is the work to migrate the samples to use the gcp credential?

[2018-12-03 20:14] neuromage commented on #373
There's an existing internal bug for tracking this, I'll cc you on that one. Also, I'll create a new github issue to track this externally as well.

[2018-12-03 20:16] neuromage opened #443 "Enable users to launch and manage multiple Tensorboard instances within kubeflow pipelines"

[2018-12-03 20:17] neuromage commented on #373
Created tracking issue #443

[2018-12-03 21:20] Ark-kun opened #444 "Re-integrate build-image "test" back into the test suites"
Reasons:
* This fixes the last code de-sync issue
* Improves test times since there is no need to wait for creation of another cluster
* Works around the test re-run bug caused by soon to be deprecated `run_after_success`: https://github.com/kubernetes/test-infra/issues/10244#issuecomment-442285835

[2018-12-03 21:22] rayymlai opened #445 "input parameter for creating pipelines - does not allow camelCase"
When creating a Kubeflow pipeline, the input parameter cannot allow camel case.

Example:

Accepted: params = {'mystate': 'abc.csv', 'myfile': 'gs://smartpipe/pipestate01.txt'}
Error: params = {'myState': 'abc.csv', 'myFile': 'gs://smartpipe/pipestate01.txt'}
[code]

is lack of support of camel case a restriction (e.g. argo restriction) or a software bug?

h1. Error message details
[code]

[2018-12-03 22:03] yebrahim commented on #445
Seems you already have an experiment with this name. Experiment names have to be unique. From the error message: `The name create ML model training pipeline03 already exist`.

[2018-12-03 22:06] qimingj opened #446 "Confusion Matrix UI Doesn't Work if My Labels are "True", "False""
For example, if your metadata is like:

  metadata = {
    'outputs' : [{
      'type': 'confusion_matrix',
      'storage': 'gcs',
      'format': 'csv',
      'schema': [
        {'name': 'target', 'type': 'CATEGORY'},
        {'name': 'predicted', 'type': 'CATEGORY'},
        {'name': 'count', 'type': 'NUMBER'},
      ],
      'source': cm_file,
      'labels': ['True', 'False'],
    }]
  }

An

[2018-12-03 23:33] gaoning777 opened #448 "Pipeline input description"
Displaying the descriptions of the input parameters by the pipeline authors such that pipeline users get a better understanding of them

[2018-12-04 00:19] Ark-kun opened #450 "SDK/Components - Support default parameter values in spec, materializer and lightweight python components"

[2018-12-04 00:31] Ark-kun opened #451 "Support workflow and step level retry strategy"

[2018-12-04 00:39] Ark-kun commented on #438
@qimingj Can you please check this issue?

[2018-12-04 00:40] Ark-kun commented on #441
I agree with Yasser. While experiments may be deleted, runs should be preserved. We might allow to hide them in future though.

[2018-12-04 00:53] Ark-kun opened #452 "Add component metadata to the generated Argo YAML for consumption by the UI"
I propose passing the Component metadata and interface specs inside Argo template annotation.
This way the UX can get access to descriptions, human-readable input names and types (for validation)

[code]

[2018-12-04 00:54] Ark-kun commented on #448
This issue has two parts:
1. The language to specify the descriptions.
1. The way to pass this information to the UI. For this part I propose passing the Component metadata and interface specs inside Argo template annotation. See https://github.com/kubeflow/pipelines/issues/452

[2018-12-04 00:56] Ark-kun opened #453 "AssertionError [ERR_ASSERTION]: logs do not look right: 1"
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/430/presubmit-e2e-test/630/

[code]

[2018-12-04 01:10] hackenzheng commented on #441
okay... In addition, it maybe a demand to delete runs to clear up workflows on k8s. Otherwise the GPU resources can't be released.

[2018-12-04 01:14] Ark-kun commented on #207
I think this is usually handled by the bots. It's similar to when the bots add the "need-ok-to-test" label for the external PRs.

[2018-12-04 01:16] IronPan opened #455 "Improve logic to preload sample pipeline"
The API server currently preload the sample pipeline when the api server process starts.
There are few issues with this
  - If the pod restart and the sample are already loaded, the API server won't start.
  - If user delete sample, and pod restart, the sample will be loaded again

An ideal way is to preload the samples as a one time k8s job when the pipeline is installed.

[2018-12-04 01:36] Ark-kun opened #456 "Up to three sample-test clusters are running at the same time for same PR commit"
centraldashboard | OK | Deployment | 1/1 | kubeflow | sample-2d7854a-29078
centraldashboard | OK | Deployment | 1/1 | kubeflow | sampletest-2d7854a4a0-13864
centraldashboard | OK | Deployment | 1/1 | kubeflow | sampletest-2d7854a4a0-1783
centraldashboard | OK | Deployment | 1/1 | kubeflow | sampletest-2d7854a4a0-24966

[2018-12-04 02:04] Ark-kun opened #457 "License collector causes failures of image builds during sample tests"
https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=ml-pipeline-test&minLogLevel=0&expandAll=false&timestamp=2018-12-04T01:54:47.909000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.cluster_name%3D%22sampletest-2d7854a4a0-26499%22%0Aresource.labels.namespace_id%3D%22default%22%0Aresource.labels.project_id%3D%22ml-pi

[2018-12-04 02:06] Ark-kun commented on #457
[code]

[2018-12-04 02:14] Ark-kun commented on #457
Python package metadata already contains the license name. Tools like https://pypi.org/project/pip-licenses/ or can extract it https://stackoverflow.com/questions/19086030/can-pip-or-setuptools-distribute-etc-list-the-license-used-by-each-install.

[2018-12-04 02:15] Ark-kun commented on #457
Most of the licenses do not need to be downloaded. Less so every time a container builds.

[2018-12-04 02:48] hackenzheng opened #458 "Jupyter Notebook [tf-hub-0] run failed"
All the pods run successful except for tf-hub-0, the docker-image is 'gcr.io/kubeflow/jupyterhub-k8s', the logs as below. I have tried run the image directly with 'docker run', it has the same error.   Is the docker images problem?
![image](https://user-images.githubusercontent.com/16522546/49415467-d0d9b200-f7b1-11e8-9a3b-4773a6f7e436.png)

[2018-12-04 08:20] Ark-kun commented on #453
I'm seeing this flaky error quite often.

[2018-12-04 08:29] Ark-kun commented on #318
Fixed

[2018-12-04 08:29] #318 closed

[2018-12-04 08:34] Ark-kun opened #460 "Optimize component image build times"
Right now almost all images take 10+ minutes to build.

[code]

[2018-12-04 08:36] Ark-kun commented on #365
@yebrahim The error messages look a bit strange.

[2018-12-04 09:20] IronPan opened #462 "Support workflow and step level timeout"
Argo supports workflow and step level timeout
https://github.com/argoproj/argo/blob/master/examples/timeouts-step.yaml
https://github.com/argoproj/argo/blob/master/examples/timeouts-workflow.yaml

We should consider expose these to pipeline definition

[2018-12-04 11:14] hackenzheng commented on #458
It's the problem of docker images. solved by replaced with another images

[2018-12-04 11:14] #458 closed

[2018-12-04 18:05] yebrahim commented on #445
I see. Can you please include the other error here to help us debug the issue? I'll re-open it for now, but please update the description since the error mentioned here is just a name conflict.

[2018-12-04 18:09] yebrahim commented on #453
I hope https://github.com/kubeflow/pipelines/pull/459 fixes it. Will run it a few times before merging.

[2018-12-04 18:30] yebrahim opened #464 "Frontend integration test is flaky"
.. with this error:
[code]

e.g.: https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/459/presubmit-e2e-test/652

[2018-12-04 18:45] gaoning777 commented on #445
The problem results from the DSL parameter sanitation while the python SDK does not.

[2018-12-04 19:52] yebrahim commented on #373
Closing this since it's not tracking anything now.

[2018-12-04 19:52] #373 closed

[2018-12-04 19:54] yebrahim commented on #61
I think the tooltip should include creation time not completion time, multiple runs can (it's common) be running in parallel.

[2018-12-04 19:55] #54 closed

[2018-12-04 19:57] yebrahim commented on #182
I'll close this as I don't see a good reason for it, nor do I see a good way of doing it.
We can continue the discussion separately if you still feel a need for this.

[2018-12-04 20:09] #89 closed

[2018-12-04 20:37] yebrahim opened #467 "Support the versioning of artifacts and/or pipelines."
This is a high level work item to track work needed to support pipeline versioning, including what links versions together, identifying a version when creating runs, comparing versions.. etc.

[2018-12-04 20:47] yebrahim opened #468 "Show metrics comparison table in Compare view"

[2018-12-04 20:48] yebrahim commented on #63
Fixed by https://github.com/kubeflow/pipelines/pull/405.

[2018-12-04 20:48] #63 closed

[2018-12-04 23:38] #75 closed

[2018-12-04 23:40] #453 closed

[2018-12-04 23:44] rayymlai commented on #445
this is reasonable diagnosis. is there any solution or fix? thanks

[2018-12-05 00:07] yebrahim commented on #446
This works for me, except that it complains about the `source` field. If I set it properly to some GCS source it works fine.

[2018-12-05 00:22] post2web opened #473 "Unable to visualize any HTML content with Output Viewer"
I have a test HTML file uploaded at `gs://notebook-output/test.html` with contents:
[code]
A component has `/metadata.json` with contents:
[code]
The Pipelines UI doesn't show any Artifacts.

[2018-12-05 01:08] yebrahim commented on #473
Can you check developer console log to see if there are any errors there? The network tab should also show you what kind of requests are being made, those would be helpful to see if it's a network issue while fetching artifact data, or if no requests are being made at all.

[2018-12-05 01:33] gaoning777 commented on #445
solved by this PR: https://github.com/kubeflow/pipelines/pull/466

[2018-12-05 01:35] gaoning777 commented on #445
The next release will contain this fix. However, if you want, you could build the sdk yourself:
cd $PIPELINE/sdk/python
wget http://central.maven.org/maven2/io/swagger/swagger-codegen-cli/2.3.1/swagger-codegen-cli-2.3.1.jar -O /tmp/swagger-codegen-cli.jar
apt-get install --no-install-recommends -y -q default-jdk
./build.sh /tmp/kfp.tar.gz
pip3 install /tmp/kfp.tar.gz

[2018-12-05 01:51] yebrahim opened #475 "Recurring runs create runs with an embedded pipeline spec, rather than id"

[2018-12-05 03:14] #464 closed

[2018-12-05 16:10] StefanoFioravanzo opened #477 "Can not mount volume in Container op"
[Running Pipelines on **Minikube**]
I am trying to mount a folder from the Minikube VM into the containers of my pipeline.

I have a `data_processing` folder in the Minikube VM that I want to be accessible by the Pipelines containers:

[code]

I created a PersistentVolume using:
[code]

I tried to test the mount in a Pipelines Lightweight component:
[code]

But the folder can not be found. Any ide

[2018-12-05 17:34] nikhilsharma93 opened #478 "Bug in pipeline samples' parameters"
https://github.com/kubeflow/pipelines/blob/master/samples/basic/parallel_join.py#L25-L26 are not a `dsl.PipelineParam` as they should be

[2018-12-05 17:44] gaoning777 commented on #477
+ @IronPan
To mount a volume, one needs to call both add_volume and add_volume_mount. Refer to [here](https://github.com/kubeflow/pipelines/blob/yangpa/fixtest/sdk/python/kfp/gcp.py) for an example.
add_volume specifies the volume(for example type as kubernetes secrets) and add_volume_mount specifies the mounting path, etc.

[2018-12-05 17:46] gaoning777 commented on #478
This is one of the features we shipped recently. Users can specify the parameters directly(url='hello') instead of using PipelineParam class.
If it is not working for you, try the newest version SDK, please.

[2018-12-05 17:57] nikhilsharma93 commented on #478
I upgraded my SDK (`pip3 install https://storage.googleapis.com/ml-pipeline/release/0.1.2/kfp.tar.gz --upgrade`), which is now at `kfp-0.1`

But I still get this error when I try to compile that file:

[code]

[2018-12-05 17:59] gaoning777 commented on #478
Could you try the newest version: pip3 install https://storage.googleapis.com/ml-pipeline/release/0.1.3-rc.3/kfp.tar.gz --upgrade. It works at my end.

[2018-12-05 18:00] nikhilsharma93 commented on #478
Yes, that works. Thank you

[2018-12-05 18:00] #478 closed

[2018-12-05 18:31] yebrahim opened #479 "Show an error message for output viewers that can't fetch their data"

[2018-12-05 18:35] yebrahim opened #480 "Add "Copy from run" gesture in new run page"
A "Copy from run" button on the new run page can show a modal to select a run to copy parameters (and perhaps pipeline spec) from.

This is needed to support cases where a recurring run is created "out of" a regular run. It will also be the only way a recurring run can be created from a run with an embedded pipeline (created through Python SDK or CLI).

[2018-12-05 18:52] StefanoFioravanzo commented on #477
@gaoning777 Using the following code:

[code]

Worked by mounting a folder `/data_processing` in the containers. But the folder is empty (I should expect it to contain the `data.csv` file). I guess it is mounting an empty volume regardless of my PersistentVolume? Or am I missing something to map the PersistentVolume to the real `/data_processing` folder in the minikube VM?

My PersistentVolume det

[2018-12-05 18:53] #382 closed

[2018-12-05 19:10] IronPan commented on #477
Have you try add the hostPath to the volume definition in DSL?
[code]

[2018-12-05 19:30] StefanoFioravanzo commented on #477
@IronPan Thanks, that did the trick!

Anyway, are there any plans to better support volume mounts in Container Ops, maybe in some declarative way?

[2018-12-05 20:18] vkoukis commented on #477
+1!
I have not worked extensively with Kubeflow Pipelines specifically, but it definitely makes sense for the Pipelines to be able to use K8s-native storage concepts, e.g., PVCs.

For context, here is the work we have contributed to in Kubeflow, initially for notebooks:
https://github.com/kubeflow/kubeflow/issues/34
and the PR:
https://github.com/kubeflow/kubeflow/pull/1918

@IronPan We -- Arrikto

[2018-12-05 21:56] gaoning777 opened #481 "DSL Condition Feature/Bug"
For example:
import kfp.dsl as dsl

class FlipCoinOp(dsl.ContainerOp):

  def __init__(self, name):
    super(FlipCoinOp, self).__init__(
        name=name,
        image='python:alpine3.6',
        command=['sh', '-c'],
        arguments=['python -c "import random; result = \'heads\' if random.randint(0,1) == 0 '
                   'else \'tails\'; print(result)" | tee /tmp/output'],
        file

[2018-12-05 22:35] Ark-kun opened #482 "Support logical operators in conditions (and, or, not)"

[2018-12-06 00:45] IronPan commented on #93
close https://github.com/kubeflow/pipelines/issues/439?

[2018-12-06 00:46] #439 closed

[2018-12-06 00:59] hongye-sun opened #485 "Support TPU in DSL"
https://cloud.google.com/tpu/docs/kubernetes-engine-setup

The only support missing here is the pod/metadata/annotations set in DSL. resource/limit has already been supported with the GPU support.

[2018-12-06 01:21] Ark-kun opened #487 "Add image substitution feature to either DSL compiler or KFP client"
We need a way to properly perform container image substitution.
The substitution can be performed either during the pipeline compilation or before the run submission. (It can also be performed in the backend.)

run = client.run_pipeline(exp.id, 'my-tfx', 'my-tfx.tar.gz', params={}, image_substitution_map={'gcr.io/old-image': 'gcr.io/new-image'})

[2018-12-06 04:43] Ark-kun opened #488 "ERROR: (gcloud.container.clusters.delete) One of [--zone, --region] must be supplied: Please specify location.."
Are we leaking clusters?

https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/190/kubeflow-pipeline-e2e-test/5

[code]

[2018-12-06 14:25] StefanoFioravanzo opened #489 "Unable to visualize table in OutputViewer"
I am trying to visualize some artifacts in the OutputViewer with no success.
I have the following `metadata.json` file in the root of the container's file system:

[code]

The file `linear_model_metrics.csv` is in the file system root as well. _Comma separated_ with first line as header. In the Pipelines UI I have a blank page in the Artifacts tab, no errors thrown.

[2018-12-06 14:45] AdrianLsk commented on #304
The namespace has to be changed also in the frontend
https://github.com/kubeflow/pipelines/blob/81341d3aa67268d25d8c5ae1dc31df2e59e610b8/frontend/server/server.ts#L36

[2018-12-06 19:30] rileyjbauer commented on #237
I support this change, but just for the record, if you navigate to a specific experiment's page, you can get its ID from the url. It will be as follows: `localhost:3000/#/experiments/details/EXPERIMENT_ID`

[2018-12-06 19:33] rileyjbauer commented on #347
@yebrahim Was this fixed by #447 ?

[2018-12-06 22:49] rileyjbauer opened #493 "listExperiment should be listExperiments"
Our other list APIs all use the plural:
`listPipelines`
`listRuns`
`listJobs`
only `listExperiment` is singular.

[2018-12-06 22:59] Ark-kun opened #494 "gcp-credentials volumes are added to workflow multiple times"
From our Kubeflow sample:
[code]

[2018-12-06 23:44] lakshmanok opened #495 "No way in the UI to upload a pipeline from the cluster itself"
So, I used the Jupyter notebook to create a pipeline.tar.gz.  Unfortunately, there is no way to upload it using the UI.

(I can of course do it from Python, but the UI needs to allow uploading a file from the cluster).

[2018-12-07 07:41] yebrahim commented on #495
I get the feeling of disconnect between the notebook and our UI, but I don't think there's much we can do there unfortunately. The two UIs runs in separate pods with potentially different authorization roles.

I think a better approach would be exploring adding a custom Jupyter widget to interact with the Pipelines backend. This can handle uploading pipelines, submitting runs, and perhaps even lin

[2018-12-07 07:49] yebrahim commented on #489
Currently, the Pipelines UI reads the artifact data from the storage service directly, and only GCS and minio are supported at the moment, adding support for more services is welcome of course. If your data is on GCS, the `source` should be a `gs://...` path.

We are currently exploring better ways to mount/read this data such that it's easier to keep the data in the cluster, or in other types of

[2018-12-07 08:52] StefanoFioravanzo commented on #489
Thank you for the response. For sure it would be helpful to be able to load files directly from the container's local file system. Any info regarding the timeline or priorities on these features?

[2018-12-07 17:07] lakshmanok commented on #495
A quicker option might be to allow the user to specify a gs://.../ or http://.../ URL to load the pipeline from.  This would also be useful to load directly from an AI Hub listing.

[2018-12-07 18:22] rileyjbauer commented on #481
It sounds like you just need to update your UI pod. There were some changes made in #293 that changed how the frontend generated these graphs (in sync with a change to the way the DSL compiled conditional pipelines). The most up-to-date UI shows the following. Let me know if this doesn't seem right:
![image](https://user-images.githubusercontent.com/34456002/49665463-ce719500-fa09-11e8-80da-526042

[2018-12-07 18:35] jlewi commented on #414
The instructions:
https://www.kubeflow.org/docs/guides/pipelines/deploy-pipelines-service/

Are still using pipeline's bootstrapper to deploy pipelines. This is running a pod on the cluster to deploy pipelines. This pod has ksonnet installed and the issue looks like that version is not new enough (0.13) to pickup ksonnet/ksonnet#427.

I think this is a pipeline issue; not a generic kubeflow issue.

[2018-12-07 18:37] jlewi commented on #414
@IronPan Where do things stand in terms of getting rid of the pipelines specific bootstrapper? I believe that would fix the issue since then pipelines would be installed by kfctl.sh which would use which ever version of ks the user has installed.

[2018-12-07 19:15] jlewi opened #497 "Pipeline component for papermill?"
Would it be useful to have a pipeline component that could run a notebook using papermill?
https://github.com/nteract/papermill

papermill is a system for executing notebooks from Netflix.

[2018-12-07 19:16] jlewi commented on #497
/cc @aronchick

[2018-12-07 19:18] gaoning777 commented on #497
We already have a notebook sample test using the papermill to parameterize the notebooks.
https://github.com/kubeflow/pipelines/blob/ad1950b8e63961a56fb8e0ad1efd45a8a6330b37/test/sample-test/run_test.sh#L282

[2018-12-07 21:19] IronPan commented on #477
This make sense, especially for one who are familiar with K8s yaml paradigm. @Ark-kun I think this aligns with your thoughts. Any thoughts?

I agree more storage options would be useful.

Pipeline uses Argo as underlying orchestrator, and not every pod spec make sense for the orchestrator so I think we should be a bit cautious what to expose. I would like to treat this case by case. PVC for exampl

[2018-12-07 21:21] Ark-kun commented on #477
@StefanoFioravanzo

@vkoukis

Can you elaborate more? We're already using the full native K8s types to specify the volumes and volumeMounts. K8s has pretty extensive volume API. Do you want us to make some subset of the K8s APIs to be easier to specify instead of writing k8s-style spec?

In any case, we're working on both expanding our  support for k8s APIs and adding ways to simplify the pipeline

[2018-12-07 21:36] vicaire commented on #294
@qimingj @gaoning777, could you please have a look?

[2018-12-07 21:44] Ark-kun commented on #477
We're working on some improvements here, but we're currently limited by the parts of K8s API that Argo supports. While Argo supports the full k8s `Container` spec, it does not fully support the `Pod` spec.
Argo currently has some support for:
* ActiveDeadlineSeconds
* Affinity
* Metadata (Already implemented)
* NodeSelector
* Parallelism (Argo only, not Pod spec)
* RetryStrategy
* Tolerations
* Vo

[2018-12-07 21:59] Ark-kun commented on #247
I'm not sure archiving is good enough. For data provenance and caching it does not matter whether some run failed or not. Each data piece should have a source execution. It's convenient when all executions are in the same table.

[2018-12-07 23:39] IronPan commented on #489
@StefanoFioravanzo Just wondering did you mount the volume through the container Op, and writes linear_model_metrics.csv to it directly?

[2018-12-07 23:55] #331 closed

[2018-12-07 23:55] #92 closed

[2018-12-08 00:14] yebrahim commented on #495
Agreed, we're planning to add an "import by url" feature in the upload dialog.

[2018-12-08 00:20] yebrahim commented on #247
Not sure I understand.
Archiving will keep runs around, it's just a convenience feature so that when you're listing resources, the API doesn't return everything, and you can keep the interface clean from old, ignored, or failed runs for example. You can still list archived resources and reference them.

[2018-12-08 00:50] amygdala opened #501 "Tensorboard integration: UI timeout"
When you click 'start tensorboard', the UI times out waiting for the pod to be created. (Possibly this is an issue only the first time Tensorflow is being deployed to the cluster).
Workaround: if the user reloads the page (after an interval), they'll see the 'launch tensorboard' button as intended and things work okay from there.
(cc @yebrahim )

[2018-12-08 00:53] yebrahim commented on #501
/labels area/front-end

[2018-12-08 00:55] yebrahim commented on #501
/addlabel area/front-end

[2018-12-08 00:55] yebrahim commented on #501
/area front-end

[2018-12-08 01:01] amygdala opened #502 "UI loses state after being idle for a while"
I've noticed that when I return to the Pipelines UI after it sitting idle in a tab for a while, it seems to lose its state, in the sense that clicking on something (e.g. clicking on an experiment, or clicking on a run to clone it), will give some kind of 'not found' error.  I get this a lot, so it should be fairly easy to repro. (can add screenshots from next time I see it if that would be helpful

[2018-12-08 01:03] yebrahim commented on #502
I'm assuming you're running behind IAP? Does reloading redirect you to Google OAuth screen?

[2018-12-08 01:03] yebrahim commented on #502
/area front-end

[2018-12-08 01:04] amygdala commented on #502
I am not 100% sure if I've only seen it behind IAP, but could be.
No, reloading just re-renders the page.
That's a good thought though -- it might well be IAP-related.

[2018-12-08 01:05] yebrahim commented on #502
Cool, is it ok to close this and re-open if it repo's without IAP then?

[2018-12-08 01:08] amygdala commented on #502
Sure... though, if that is the source of the problem, I think the displayed error will be confusing to users (it doesn't look like an auth error), and we might think about how we could make it a bit friendlier.

[2018-12-08 01:11] yebrahim commented on #502
That's true, although there's no way for the UI to distinguish between IAP issues and other sources of connection loss with the backend, but we can at least make the error a little better, something like "Could not connect to the backend. Try refreshing the page."

Let's close this one to keep it tracking potential IAP issues, and I'll open a different issue to track making the disconnected messag

[2018-12-08 01:13] yebrahim opened #503 "Show a better message for UI-Backend connection issues"
We can detect if API calls are failing consistently (perhaps by calling /healthz), and show a user friendly message to let them investigate connection issues.

/area front-end

[2018-12-08 01:13] amygdala opened #504 "Render static graph when compiling a pipeline in a notebook"
Feature request: When compiling a pipeline in a notebook, render the static graph as output, same as the graph shown when you upload a pipeline.

[2018-12-08 16:34] amygdala commented on #502
SGTM -- closing it. Let's also keep an ear out for reports of this happening outside the IAP setup, in case we've misdiagnosed.

[2018-12-08 16:34] #502 closed

[2018-12-09 20:40] StefanoFioravanzo commented on #489
@IronPan I mounted the volume like you suggested in #477 . And yes I wrote `linear_model_metrics.csv` directly form the container.

[2018-12-09 20:55] StefanoFioravanzo commented on #477
@Ark-kun You are right, the support for k8s native types to specify Volumes and VolumesMounts is there. My comment pointed to some easier way to specify the volume mounts and the `gcp.use_gcp_secret` example strikes the point.

@IronPan  Now that I managed to run a custom pipeline using local volume mounts, I would like to read also form a gcp bucket (I am still running on Minikube). As far as I u

[2018-12-10 17:55] gaoning777 commented on #504
Why is the compiler generating a static graph important when we already have the pipeline UI supporting it? Would it be a common scenario that users author the pipeline without a pipeline deployment(we do support on-prem minikube) such that the DSL generating the static graph is beneficial? Thanks

[2018-12-10 19:12] IronPan opened #505 "Support placeholder replacement for one-time-run"
Currently for recurrent run, we support placeholder replacement
https://github.com/kubeflow/pipelines/blob/master/backend/src/crd/samples/scheduledworkflow/parameterized.yaml

These won't be replaced when it's one-time-run, since one-time-run doesn't create a scheduled workflow CRD but a argo workflow CRD directly.

[2018-12-10 19:28] jlewi opened #506 "API: get experiment by name"
It doesn't seem like the client SDK supports getting the experiment by name.

[code]

This isn't helpful if you know the name of the expeirment but  not the id.

You can use the list method to search over the experiments and get it by name.

[code]

[2018-12-10 21:09] qimingj commented on #506
Agree. It's good to provide a convenient method, especially the experiment name is unique.

[2018-12-10 21:14] gaoning777 commented on #506
In fact, the sample test has implemented the  get_experiment_by_name function: https://github.com/kubeflow/pipelines/blob/fa1886c39d9a39aff94d9276a8d55d54a162959b/test/sample-test/check_notebook_results.py#L55

[2018-12-10 21:16] gaoning777 commented on #506
Another good to have API might be get_runs_in_experiments. Again, the sample test implemented the function:
https://github.com/kubeflow/pipelines/blob/fa1886c39d9a39aff94d9276a8d55d54a162959b/test/sample-test/check_notebook_results.py#L62

[2018-12-10 21:17] qimingj commented on #506
Great. @gaoning777 would you move it to SDK?

[2018-12-10 21:17] gaoning777 commented on #506
Sure thing. I'll send a PR.

[2018-12-10 22:43] gaoning777 commented on #445
/close

[2018-12-10 22:43] #445 closed

[2018-12-10 23:41] ajayalfred commented on #61
Can both be included?
Two attributes of a run is represented by the status icon - the run itself and it's status. Agree that creation time will be useful. Although a user may also want to know when the run finished/stopped/failed/etc.. Including both the timestamps will serve both these use cases.

[2018-12-11 01:01] yebrahim commented on #504
I can see that providing a nice feedback loop to iterate visually on the pipeline. You make a change, compile, see the output graph, then iterate. It's easier to debug high level issues just by looking at the graph than dozens of Python lines.

It won't be easy to support though, since the graph is built on the fly by our UI layer. It does make one more argument for enabling editing the pipeline s

[2018-12-11 01:03] yebrahim commented on #61
Don't you think that's too much detail for the tooltip though? You can always check the run details to see all that information.
A mock would be useful.

[2018-12-11 08:22] jinchihe commented on #414
@IronPan From you reference, the latest pipeline only supported by GKE. Personally I suggest to reserve bootstrapper way to install pipeline with ICP, OpenShit etc... Agree? if yes, I can try a PR to fix the issue. Thanks.

[2018-12-11 13:07] pantelis opened #514 "NYC Taxi Example Pipeline fails in AWS; can't find metadata server"
We are working to adopt Kubeflow and more specifically Kubeflow Pipeline capabilities into the open source project Acumos (graduated from Deep Learning Foundation recently). We are facing issues in running complicated pipelines such as NYC Taxi that is shipped with Kubeflow.  The pipeline errors giving this message in the log:

2018-12-10 19:57:48.003354: I tensorflow/core/platform/cloud/retrying_

[2018-12-11 16:59] gaoning777 commented on #514
Kubeflow Pipeline should be successfully run in kubernetes cluster whether it being AWS or GCP. which sample exactly are you using? https://github.com/kubeflow/pipelines/tree/master/samples/tfx?

[2018-12-11 17:27] Ark-kun opened #515 "Failing e2e sample tests do not log any errors"
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/513/kubeflow-pipeline-e2e-test/48

[code]

[2018-12-11 17:44] ajayalfred commented on #61
No it isn't be too much detail for a tooltip.
The tooltip must describe the status – if we want to include creation time then additional text has to be added to separate status description from run creation timestamp. See below.

![image](https://user-images.githubusercontent.com/2425179/49818943-f114ee00-fd28-11e8-8e79-b97504df9dbb.png)

Please note ellipsis at the end of first three status descr

[2018-12-11 18:53] gaoning777 opened #516 "Expose image cache option in DSL (and other POD/container configuration options)."
Argo by default reuses images, which might cause unexpected errors. For example, users author a component and update the component while the pipeline is still using the old image cached by argo. Maybe the DSL should provide an option to not use the cached image.
WDYT

[2018-12-11 18:55] gaoning777 commented on #516
@Ark-kun @qimingj

[2018-12-12 02:00] post2web opened #520 "KubeFlow Pipeline example notebook is half way updated for 0.1.4"
The notebook: [KubeFlow Pipeline Using TFX OSS Components.ipynb](https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/KubeFlow%20Pipeline%20Using%20TFX%20OSS%20Components.ipynb) is updated to have `.apply(gcp.use_gcp_secret('user-gcp-sa'))` to every container but all other content is written for 0.1.3-rc.2 release.

To me, this notebook is the most useful reference for the pipeline

[2018-12-12 02:38] gyliu513 commented on #414
+1 to @jinchihe , we should support all Kubernetes distributions, someone may not using GKE but other Kubernetes distributions.

@IronPan comments? Thanks.

[2018-12-12 05:36] gaoning777 commented on #520
What is the error? Does it happen during compile time or runtime?
Do you mind posting the exact errors? Thanks

[2018-12-12 05:52] post2web commented on #520
The first error would come from:
[code]
because `KFP_PACKAGE = 'https://storage.googleapis.com/ml-pipeline/release/0.1.3-rc.2/kfp.tar.gz'`

There will be more errors on every `.apply(gcp.use_gcp_secret('user-gcp-sa'))`

After changing `KFP_PACKAGE` to use 0.1.4, the pipeline compiles. The run starts when I deploy it to a cluster with `pipelines 0.1.4` but get authentification errors from within th

[2018-12-12 07:20] hongye-sun commented on #520
Have you tried restarting the kernal?

On Tue, Dec 11, 2018 at 9:52 PM post2web <notifications@github.com> wrote:

[2018-12-12 07:59] post2web commented on #520
Yes, the above are errors raised after restarting of the kernel. To test:
[code]
will raise `ModuleNotFoundError: No module named 'kfp.gcp'`

[2018-12-12 08:39] hongye-sun commented on #520
Sorry. I meant to be 0.1.4 kfp package. It should have the gcp package. I
will update the sample to use that package tomorrow.

On Tue, Dec 11, 2018 at 11:59 PM post2web <notifications@github.com> wrote:

[2018-12-12 17:10] nikhilsharma93 opened #521 "dsl PipelineParam does not work under Image or Command"
If I try to pass a `dsl.PipelineParam` to either the _image_ or the _command_ part of a container op, it does not parse it correctly. For instance, if I pass a param called `deployimage`, it ends up showing as `'{{pipelineparam:op=;name=deployimage;value=}}'` in the `.yaml` file, whereas it should show up as something like `{{inputs.parameters.deployimage}}`, just like it would if it were passed t

[2018-12-12 20:06] jlewi commented on #429
@hongye-sun I'm not sure I understand the question. TFJob already reports its status using conditions.

[2018-12-12 20:17] Ark-kun commented on #247
This looks similar to what I meant by hiding. What do you think about implementing the feature using labels? We can have a default filter like `hidden: false owner:<user>`

[2018-12-12 20:22] hongye-sun commented on #429
@jlewi my question is based on Qiming's comment on tfjob's status. The goal I think is to pass the output model data from tfjob to subsequent steps in the pipeline. I am not familiar with tfjob. Is there an easy way that user uses argo resource template feature and pass the model data to next step today?

[2018-12-12 20:24] yebrahim commented on #247
I'm not opposed to using labels for this in principle, but I wouldn't like blocking on its implementation. We can represent this in the UI however we like however.

[2018-12-12 20:32] Ark-kun commented on #247
I forgot we do not have labels yet. I wonder whether adding labels to the DB schema would be as easy as adding the archived/hidden flag...

[2018-12-12 20:32] hongye-sun commented on #247
I think we should let user to decide whether to keep the data or not. We might keep the data with a retention period, but I don't think we should keep the data beyond it. Even in managed service, we have to clean up user data if they decide to delete them for privacy reason.

[2018-12-12 20:33] #53 closed

[2018-12-12 21:41] qimingj commented on #446
turns out it is the saved metadata problem. The sample metadata I gave does not match the reality. In reality it is:

...
'labels': [True, False],
...

and it is saved to json file as boolean. I will fix it in the CM component. Sorry about the incorrect information!

[2018-12-12 21:41] #446 closed

[2018-12-12 21:50] rileyjbauer opened #525 "Backend pipeline upload API should include description"
I believe the change will start here at [upload_pipeline_parameters.go#L80](https://github.com/kubeflow/pipelines/blob/6d8db6c45dba6dd0944c1195bd127d5b9e93b27c/backend/api/go_http_client/pipeline_upload_client/pipeline_upload_service/upload_pipeline_parameters.go#L80) with the addition of a new field `Description`

We can then surface this functionality in the UI during the pipeline upload process

[2018-12-12 21:50] rileyjbauer commented on #525
/area api
/area back-end

[2018-12-12 21:51] rileyjbauer commented on #525
/assign IronPan
/assign yebrahim

[2018-12-12 23:22] Ark-kun commented on #497
I like the idea of launchers.
We have some code in form of command line or container task or notebook or source-code URL.
We can launch that code using different launchers: directly on single node, on CMLE, on Kubeflow etc.

[2018-12-13 01:49] jlewi commented on #477
@Ark-kun Why not let pipelines just orchestrate K8s objects so users have full access to the K8s APIs rather than trying to figure out which fields to expose?

[2018-12-13 01:52] jlewi commented on #514
@gaoning777 The error

[code]

Could this be a reference to the GCE metadata server.

[2018-12-13 01:53] jlewi opened #532 "Taxi sample tries to use hostpath which doesn't work on some deployments"
At the Kubeflow BOF someone from Acumos mentioned that the Taxi sample example didn't work because it was using a hostpath and they couldn't use hostpaths on their deployment.

Is hostpath required for this sample.

[2018-12-13 02:31] hackenzheng opened #533 "How to deploy distribute training with tensorflow"
Although tf-operator has integrated into kubeflow to simplify distribute training. How can use tf-operator in pipeline？  Is there a example?

[2018-12-13 02:49] gaoning777 opened #534 "Deployment problem with private cluster"
I created a private cluster and try to deploy the pipeline from one of the virtual machine in the same project. Here is the error:

Configure ksonnet ...
Configure ksonnet completed successfully
Initialize a ksonnet APP ...
level=info msg="Using context \"default\" from kubeconfig file \"/root/.kube/config\""
level=error msg="unable to find SHA1 for repo: Get https://api.github.com/repos/ksonnet/p

[2018-12-14 04:33] Nick-Harvey commented on #520
For anyone who stumbles upon this between now and the sample getting updated, simply replace `KFP_PACKAGE = 'https://storage.googleapis.com/ml-pipeline/release/0.1.3-rc.2/kfp.tar.gz'`  to `KFP_PACKAGE = 'https://storage.googleapis.com/ml-pipeline/release/0.1.4/kfp.tar.gz'

[2018-12-14 18:20] gaoning777 commented on #521
We didn't expose the pipelineparam for command  or image due to version and sharing reasons. If the command and image are exposed to be configurable during the run time, the behavior of the pipeline would be totally different even if the dsl/yaml is not changed. For example, users of a pipeline could pass in an image that has the same entrypoint but totally different logic. Then this dsl/yaml pipe

[2018-12-14 19:46] #196 closed

[2018-12-14 19:47] rileyjbauer commented on #290
If this is what @yebrahim mentioned, then it's likely a duplicate of #93

[2018-12-14 23:34] Ark-kun opened #544 ""Information in the Argo UI appears much faster compared to the KF Pipelines UI""
customer feedback

[2018-12-14 23:36] Ark-kun commented on #544
/assign @yebrahim

[2018-12-14 23:44] yebrahim commented on #544
Do we know what information specifically? Is this about listing resources or showing runtime graph details for example? We already have an issue tracking perf optimizations around list calls: #149.

[2018-12-15 04:21] #520 closed

[2018-12-17 02:51] hackenzheng opened #546 "studyjob-controller start failed"
All of other pods run succeed, while the studyjob-controller pods always restart. The logs show "no matches for kind "TFJob" in version "kubeflow.org/v1beta1"" . I have confirmed the tf-operator installed successfully. It can start training use tfjob.
![image](https://user-images.githubusercontent.com/16522546/50063889-4b122980-01e9-11e9-944e-0508bf76dd0d.png)

[2018-12-17 09:04] jinchihe commented on #546
The problem also happened in my env. Any work around or fix solution? Thanks.

[2018-12-17 09:13] jinchihe opened #547 "Some error logs in sample for ML - TFX - Taxi Tip Prediction Model Trainer"
Seup up kubeflow pipleine and try to run the Taix example cases, but failed, checked the k8s pod logs, see the schema validation failed?  See below logs.

[code]
Any suggestion to resovle the porblem? Thanks.

[2018-12-17 09:17] jinchihe commented on #547
Seems there is a steps in the [model-analysis/examples/chicago_taxi](https://github.com/jinchihe/model-analysis/blob/master/examples/chicago_taxi/chicago_taxi_tfma_local_playground.ipynb), is the steps included in the pipeline? Thanks.

[code]

[2018-12-17 14:16] jlewi commented on #374
@Ark-kun @IronPan Any update on this issue?

[2018-12-17 14:17] jlewi commented on #294
@qimingj @gaoning777 any update on this?

[2018-12-17 14:17] jlewi commented on #218
@IronPan any update on this?

[2018-12-17 18:40] IronPan opened #549 "Cut a Pipeline v0.1.5 release"
The sample tests appears to be failing
https://gubernator.k8s.io/pr/kubeflow/pipelines/522

We need to fix the samples before releasing.

[2018-12-17 18:48] gaoning777 commented on #549
/cc gaoning777

[2018-12-17 18:50] qimingj commented on #549
there appears to be a problem in ROC component. I am investigating.

[2018-12-17 18:50] qimingj commented on #549
/assign qimingj

[2018-12-17 18:57] gaoning777 commented on #549
bug1: there was a bug introduced in https://github.com/kubeflow/pipelines/pull/536(gcp secret deleted for tfdv in the notebook example);
bug2: tensorflow library not found in the lightweight sample.

[2018-12-17 19:01] gaoning777 commented on #549
Fixing some bugs in https://github.com/kubeflow/pipelines/pull/548

[2018-12-17 21:22] hongye-sun commented on #549
Fix an issue in #550

[2018-12-17 22:32] gaoning777 commented on #514
The TFX sample does not contain any codes to reach host 'metadata'.
Do you mind specifying the sample you tried, and the exact step that fails?
Thanks

[2018-12-17 22:43] gaoning777 commented on #311
Could this be closed since we have them in the DSL?

[2018-12-17 23:37] gaoning777 opened #557 "remove duplicate volumes in the DSL"
Currently, DSL adds a volume for each container op that has a volume. For example, the current samples are compiled into a yaml with multiple gcp secret volumes. The DSL should detect the duplicate ones and only add one.

[2018-12-17 23:59] gaoning777 commented on #557
solving it in https://github.com/kubeflow/pipelines/pull/558

[2018-12-17 23:59] gaoning777 commented on #557
/assign gaoning777

[2018-12-18 00:44] yebrahim opened #560 "Support creating runs without experiments"
/assign @IronPan
/area back-end

[2018-12-18 01:03] Ark-kun commented on #557
Duplicate of https://github.com/kubeflow/pipelines/issues/494

[2018-12-18 01:05] Ark-kun commented on #494
Proper way to fix this is to dedup based on the volume itself, not the name. Then, if we have name conflicts, we should change the volume.name+volumeMount.name (we have to do that when processing a task (ContainerOp), because later we won't know which volume is used by which volumeMount).

One solution to this is to have a method like task.add_mounted_volume(volume, volume_mount) which will automa

[2018-12-18 01:06] #557 closed

[2018-12-18 01:06] gaoning777 commented on #557
Close the issue in favor of the the other.

[2018-12-18 01:30] Ark-kun commented on #310
Fixed in https://github.com/kubeflow/pipelines/pull/430

[2018-12-18 01:30] Ark-kun commented on #310
/close

[2018-12-18 01:30] #310 closed

[2018-12-18 01:38] Ark-kun commented on #477
Argo does not allow full access to K8s APIs. For instance, Argo has support for Container spec, but not the Pod or Job spec.

Should we expose Argo-specific functionality which differs from K8s model?
Should we expose K8s functionality that cannot be executed in Argo?

[2018-12-18 01:44] Ark-kun commented on #477
Also some features that make sense for raw k8s network services are not used when running finite tasks while preventing the pipeline system from adding value to the user. Example of features that can be added by the pipeline system that K8s lacks: caching, reproducibility, data provenance, security.

E.g. If we allow any Pod to have privilege access, we cannot guarantee security or data consistenc

[2018-12-18 02:16] jlewi commented on #534
Were you following https://www.kubeflow.org/docs/guides/gke/private-clusters/?

[2018-12-18 02:26] jlewi opened #561 "Example is trying to mount hostPath for docker in docker"
User reported this problem in this thread.
https://groups.google.com/forum/#!topic/kubeflow-discuss/5Y_7lhoQLIo

Example is failing because it is trying to mount the docker socket via hostPath.

They are running this example:
https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/Lightweight%20Python%20components%20-%20basics.ipynb

The pod spec is below. The spec shows that it is try

[2018-12-18 04:41] hongye-sun commented on #561
The docker socket is installed by argo for using "docker cp" to copy the artifact out from a container.
https://github.com/argoproj/argo/blob/master/workflow/controller/workflowpod.go#L48

I think this is the default behavior for openshift. User needs to relax the security constraint explicitly: https://docs.okd.io/latest/admin_guide/manage_scc.html#use-the-hostpath-volume-plugin

[2018-12-18 13:01] jlewi commented on #561
Thanks @hongye-sun. Does pipelines depend on this behavior of copying out the artifact using docker cp?  Could pipelines instead just use a volume (e.g. emptyDir) to share data between containers.
Making the docker socket available to the pod seems like an undesirable escalation of privileges.

/cc @ioandr @vkoukis @pdmack @jessesuen

[2018-12-18 17:35] gaoning777 commented on #534
I got this error when I ran the bootstrap, which I knew was deprecated.
Since yang has been working on the private cluster support, I'll close the issue for using the bootstrap in favor of the kubeflow deployment integration.

[2018-12-18 18:02] hongye-sun commented on #561
Yes, we highly rely on this behavior to get component outputs and upload pipeline artifacts. Currently, argo doesn't support other ways to copy file content from the main container. We might consider to use k8s API to copy the file content by implementing the copy methods in [argo's k8s API executor](https://github.com/argoproj/argo/blob/master/workflow/executor/k8sapi/k8sapi.go). It requires non-

[2018-12-19 02:00] gaoning777 opened #566 "Add samples for volumes mount in containerop"
As the DSL support VolumeMount in containerop, it would be best to have samples illustrating how to use it.

[2018-12-19 07:49] jinchihe commented on #547
Seems only some error logs, and the pipeline process can be finished normally.

[2018-12-19 18:25] swiftdiaries opened #569 "Design doc for pipelines"
It'd be great to have a design doc with the overall architecture and a roadmap for future releases.
cc @paveldournov @vicaire

[2018-12-19 21:47] yebrahim commented on #495
/assign @rileyjbauer

https://github.com/kubeflow/pipelines/pull/554 adds ability to import by url. Closing this since it's not tracking anything else. We can continue the discussion if @lakshmanok feels otherwise.

/close

[2018-12-19 21:47] #495 closed

[2018-12-19 21:54] yebrahim commented on #544
Closing, let's discuss if you have any details not covered by #149.
/close

[2018-12-19 21:54] #544 closed

[2018-12-19 21:56] yebrahim commented on #549
/assign gaoning777

[2018-12-19 22:28] yebrahim opened #573 "UI should allow creating a run with no experiment"
Follow up on #560.

/area front-end

[2018-12-20 07:15] paveldournov commented on #573
A reference to a scenario/use case would be helpful.

[2018-12-20 07:15] paveldournov commented on #569
ack

[2018-12-20 07:18] paveldournov commented on #516
Can we use strong hashes to avoid image name collisions instead? Assuming mutable images can be dangerous and lead to hard to debug bugs.

[2018-12-20 17:10] gaoning777 commented on #516
Sure. For the sample components, we could certainly use the hashes. In fact, This PR(https://github.com/kubeflow/pipelines/pull/571) changed the sample components to hashes.
On the other hand, this issue is also about discussing whether the dsl should provide configurations whether to pull image or not in case the users prefer image tags to hashes.

[2018-12-20 19:30] swiftdiaries commented on #569
Thanks :)

[2018-12-20 19:33] yebrahim commented on #573
Experiments are organizational concepts, and I think they shouldn't get in the way of someone wanting to create a run to always have an experiment to contain it. Thoughts?

[2018-12-20 19:36] rileyjbauer commented on #573
This is already possible by creating a run from a pipeline (e.g. `PipelineDetails` -> "Create run").

Are you advocating for a more up-front button for this path?

[2018-12-20 19:38] yebrahim commented on #573
I didn't know we fixed this, I thought the fix was blocked on the backend validation work, which I'm removing in #572. Is the current state broken?

[2018-12-20 21:22] rileyjbauer commented on #573
The frontend path was added in #507 which was in when the latest (0.1.5) release was cut in #549, so yes, this is currently broken in the latest release

[2018-12-20 22:12] #560 closed

[2018-12-20 22:36] Ark-kun commented on #566
All our samples use volume mounting indirectly through the use_gcp_secret call.
Unless we have customers that have some other need for volume mounting by the user, I'm not sure we need to emphasize volumes.

[2018-12-20 22:40] Ark-kun commented on #521
We definitely need templateable command.
I'm not so keen about replacing the image though.

@nikhilsharma93 What use cases do you have for changeable container images? My component vision is that component corresponds to a container entry point. Replacing the image => replacing component.

[2018-12-20 23:22] gaoning777 commented on #566
I have been asked by customers and Sina about how to set up the volumes in the DSL. The use_gcp_secret is not straighforward to the users about how to use the volumes.

[2018-12-21 00:43] qimingj commented on #521
+1 on supporting params in command. I can also see params in container image path useful, such as taking a different tag ("dev", "prod"). Since Argo supports it I think we should too.

[2018-12-21 01:23] akranga opened #577 "File output is too long"
Trying to define a `conatinerop` that downloads a file from minio bucket but getting `This step is in Error state with this message: failed to save outputs: Pod "xxxxxx" is invalid: metadata.annotations: Too long: must have at most 262144 characters.

See example:
[code]

What am I doing wrong?

[2018-12-21 01:51] hongye-sun commented on #577
I think it's probably because the results.txt file is too large. Argo doesn't report a good error message due to a bug (https://github.com/argoproj/argo/issues/765). Argo supports two ways to pass data between steps: a) output, which is supposed to be small and can be embedded in the workflow template; b) artifact, which can be large and will be stored in the artifact store and copied to next step

[2018-12-21 01:53] akranga commented on #577
Yeah. I do not need to extract value from the file content. I do not need a long string. However i need to save it as a file "locallhy". I guess `minio-service.kubeflow:9000` serves as a "local file cache". And then use it as an input for next containerop. Happy to get any directions there

[2018-12-21 02:14] akranga commented on #577
Do you have any support of smth like simlar to
[code]

[2018-12-21 02:37] hongye-sun commented on #577
Unfortunately, this support is still in progress. The suggested way is to use external storage. You have to download the file to local path before using it. You might also consider to use PVC to share files across steps. ContainerOp supports to set volume claim and mount.

[2018-12-21 02:39] akranga commented on #577
I understand. However PVC should work for me. Thanks!

[2018-12-21 18:16] #573 closed

[2018-12-21 18:35] nikhilsharma93 commented on #521
@Ark-kun at our company we have an internal software package that we use to fetch images and models, which gets updated frequently enough that it would need an updated docker image to run on.

As an example, the way I run a model deployment pipeline is to have a `run.sh` in my google bucket that knows what files to download to the docker image at runtime and how to run them. The pipeline `.yaml` f

[2018-12-21 19:33] katherinez22 opened #585 ""Waiting for the IAP setup to get ready..." after clicking "Skip IAP""
I tried to create the deployment through the one-click system.
[Screenshot of the set up](https://screenshot.googleplex.com/eEb9vVS6cHF)

Altough I skipped the IAP, the command line is hanging on "Waiting for the IAP setup to get ready...".

FYI, the GKE and Cluster have both sucessfully set up.

[2018-12-21 21:21] vfontama opened #586 "OAth client instructions are ambiguous"
The instructions to create credentials is a bit ambiguous.  Specifically, in step 2 where we set the "Authorized redirect URIs" the instructions have this sample: "https://<name>.endpoints.<project>.cloud.goog/_gcp_gatekeeper/authenticate".

The <project> is straightforward.  However, the <name> is confusing. It is not clear which name to use:  In the screenshot the "Name" field has a different na

[2018-12-21 21:23] yebrahim commented on #586
/assign @jlewi
/assign @kunmingg
I thought this can be clearer as well, any thoughts guys?

[2018-12-21 21:47] hongye-sun commented on #561
This is a more relevant bug in argo: https://github.com/argoproj/argo/issues/970
It looks like Argo team is planning to take care of this.

[2018-12-21 22:04] Ark-kun commented on #187
/reopen

[2018-12-21 23:06] kunmingg commented on #586
docs located at: https://github.com/kubeflow/website/blob/master/content/docs/started/getting-started-gke.md

[2018-12-22 01:34] Ark-kun opened #587 "CMLE/TFX failure: Exceeded the max allowed number of models per project: 100."
[code]
/assign @gaoning777

[2018-12-22 02:18] sarahmaddox commented on #586
+1 that it's confusing. The "Name" in the UI is an arbitrary name that the user gives to this particular OAuth client ID. I'll clarify that in the docs.

/assign

[2018-12-22 02:20] sarahmaddox commented on #586
/unassign @jlewi jlewi
/unassign @kunmingg

[2018-12-25 07:08] lp-pl commented on #352
I have the same problem：
master@master:~$ kubectl get pod -n kubeflow
NAME                                                    READY   STATUS             RESTARTS   AGE
ambassador-9f48fcc6c-kh5ph                              3/3     Running            0          5h9m
ambassador-9f48fcc6c-n9kkk                              3/3     Running            0          5h9m
ambassador-9f48fcc6c-rjxjh

[2018-12-26 08:52] paveldournov opened #590 "UI dashboard needs to show the pipelines system version"
For filing bugs and validating features it is important to keep track and easily determine which version of the system is being used. The UI dashboard should display the pipelines release version (i.e. 0.1.6).

[2018-12-26 08:55] paveldournov opened #591 "Pending run step shown as error"
When a run step is pending it shows a red exclamation point and a message which looks like an error. It need not show the error sign and should use info-level color scheme.

[2018-12-26 09:15] paveldournov opened #592 "TFMA output is empty"
The output of TFMA step is empty. It is expected to show the model analysis UI with data slice selection and model prediction charts.
![hvs5gw0fjly](https://user-images.githubusercontent.com/4884947/50440572-ae681f80-08ab-11e9-91c8-05f1ce11f56f.png)

(release 0.1.6)

[2018-12-26 09:17] paveldournov opened #593 "Deployer component to output model URL"
The model deployment components has to output the model endpoint URL as an output parameter to be shown in Input/Ouput tab.

[2018-12-26 19:48] yebrahim commented on #591
If it shows the red exclamation point then its status is failed or errored. What's the message it shows?

[2018-12-26 21:17] yebrahim opened #594 "Error deploying latest bootstrapper"
[code]

@IronPan any ideas?

[2018-12-26 23:33] Ark-kun commented on #592
/assign @hongye-sun Can you take a look at this metrics problem?

[2018-12-26 23:33] Ark-kun commented on #592
/assign @hongye-sun

[2018-12-26 23:45] Ark-kun commented on #577
See https://github.com/kubeflow/pipelines/issues/336

[2018-12-27 01:00] Ark-kun commented on #592
/assign @yebrahim
I guess this is related to the UI metadata, not metrics.

[2018-12-27 06:32] yebrahim commented on #592
@Ark-kun why do you guess so? We didn't change anything about the web-app metadata recently, but I guess we'll need to see the json to debug this properly.

[2018-12-27 07:04] mameshini opened #596 "S3 errors in Pipeline examples for reading training data and artifact storage"
I am working with the Taxi Cab pipeline example and need to replace GCS storage with Minio (S3 compatible) for storing training data, eval data, and to pass data from step to step in argo workflows:
"pipelines/samples/notebooks/KubeFlow Pipeline Using TFX OSS Components.ipynb"

The issue with s3:// protocol support seems to be specific to TFDV/Apache Beam step.  Beam does not seem to provide suppo

[2018-12-27 20:27] yebrahim opened #597 "Compare page perf optimizations"
The page is slow mainly because of ROC plots and confusion matrices, which are inlined and not pure. This is a flamegraph of renders when collapsing/uncollapsing sections, see how ROC curve gets re-rendered:
![image](https://user-images.githubusercontent.com/1424661/50493473-845d4d00-09d2-11e9-947c-dd5ce9479587.png)

And this is the code profiling on clicking the buttons, all taken up by React ren

[2018-12-29 04:17] yebrahim commented on #187
/close

[2018-12-29 04:17] #187 closed

[2018-12-30 01:33] jlewi opened #603 "Load samples returns an error in 0.4 Kubeflow"
I deployed Kubeflow from the 0.4 release branch

The ml pipelines container is in an error state. Logs for the pod show

[code]
Related to: kubeflow/kubeflow#2098 0.4 release

/cc @IronPan

[2018-12-30 20:08] kunmingg commented on #585
@TomNett
Will fix in next version, should be available soon.
Thanks!

[2018-12-31 02:27] woop opened #604 "Continuous Delivery using Kubeflow Pipelines"
I'm trying to evaluate whether Kubeflow Pipelines makes sense as a replacement for a CD system. At GOJEK we feel strongly that there should be a dividing line between the production of artifacts (data, config, models, binaries, docker images) and the deployment of those artifacts.

The way I see Kubeflow pipelines being used right now is end-to-end. Pulling data, doing feature engineering, trainin

[2018-12-31 20:46] IronPan commented on #594
Thanks @xiaozhouX for fixing it

[2018-12-31 20:55] IronPan commented on #374
The samples are updated to have the right permission now.

[2018-12-31 20:55] #374 closed

[2019-01-01 09:09] zoux86 commented on #546
@hackenzheng hi, i'm a new learner for kubeflow, and i also met the same problem.
but i don't know how to  replace deployment studyjob-controller's image!!!
I would be very appreciated that if you tell me how to replace deployment studyjob-controller's image in detail.
Thanks!!!

[2019-01-01 17:37] KaranKhirsariya commented on #546
Hi @xiaozhouX,
I am exploring [end-to-end ml codelab](https://codelabs.developers.google.com/codelabs/end-to-end-ml/index.html?index=..%2F..index#6) and having the same issue. I do not understand how to do the above changes in deployment. Can you please elaborate or give any references on how to do it?

[2019-01-01 23:00] IronPan commented on #294
The RBAC issue should be resolved with the latest version.
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/pipeline/pipeline-apiserver.libsonnet#L322

@lluunn Could you give another try and if issue still persist, could you share me the pipeline definition and the kubeflow version?

[2019-01-01 23:01] IronPan commented on #103
@neuromage Thanks it looks like @yebrahim has a PR about it https://github.com/kubeflow/pipelines/pull/595

[2019-01-02 02:50] hackenzheng commented on #546
why not retag the docker image?  @zoux86 @KaranKhirsariya

[2019-01-02 14:56] jlewi commented on #414
@jinchihe @gyliu513 What does bootstrapper have to do with support non GKE versions?

We should definitely support all Kubernetes distributions but this should be orthogonal to bootstrapper.

The idea of bootstrapper was that it fired of a K8s job that ran on the cluster and performed commands (e.g. ks) that a user would normally perform on their local client.

In Kubeflow we found this approach o

[2019-01-02 17:09] gaoning777 commented on #587
Thanks. The problem could be the models are left uncleaned for certain reasons.

[2019-01-02 20:43] TimZaman commented on #603
Same here! Followed the docs exactly using `export KUBEFLOW_TAG=v0.4.0-rc.2`.
[code]

[2019-01-02 21:00] jlewi commented on #603
@IronPan I deployed to a new cluster.

Has pipelines been upgraded to the 0.1.5 on the release branch? Do wee need to cherry pick the fix to kubeflow/pipelines#549?

[2019-01-02 22:38] IronPan commented on #603
@hongye-sun On surface the error message looks relevant to the metrics table. do you have any idea on this failure?

meanwhile I'll create a cluster too and dive into the issue

[2019-01-02 22:47] IronPan commented on #603
It seems the issue was due to the DB initialized twice during both k8s job to sample loading and api server startup. We can remove the DB initialization from the job to load samples

[2019-01-02 22:47] IronPan commented on #603
I'll send a PR shortly

[2019-01-02 22:56] TimZaman commented on #603
Cool

On Wed, Jan 2, 2019 at 2:47 PM IronPan <notifications@github.com> wrote:

[2019-01-02 23:44] IronPan commented on #603
Interestingly I wasn't able to reproduce it from a GKE cluster. Does it fail all the time?

[2019-01-02 23:55] IronPan commented on #603
The source code shows it would handles gracefully if the foreign key already exist.
https://github.com/jinzhu/gorm/blob/master/scope.go#L1220

It align with what I observed. Is there any cluster you can share with me to investigate?

[2019-01-03 01:20] gaoning777 opened #606 "Add instruction about how to release component and make sure changes are included in the pipeline releases"

[2019-01-03 01:21] gaoning777 commented on #606
/assign gaoning777

[2019-01-03 02:01] Ark-kun commented on #587
/assign @qimingj

[2019-01-03 02:01] Ark-kun commented on #587
I do not remember any model cleanup code at all...

[2019-01-03 02:29] Ark-kun opened #608 "Add deployed model cleanup code to the Kubeflow notebook"
This will fix https://github.com/kubeflow/pipelines/issues/587

[2019-01-03 02:33] Ark-kun commented on #577
/assign @Ark-kun

[2019-01-03 02:45] Ark-kun commented on #587
Script to remove all model versions:

`gcloud ml-engine models list --project ml-pipeline-test | xargs -n 1 -P 8 gcloud ml-engine versions delete beta --quiet --project ml-pipeline-test --model`

[2019-01-03 05:52] jinchihe commented on #414
@jlewi Thanks. Got the reason for moving away from bootstrapper. I noticed the last kubeflow installer can install pipeline component together, that's great. so I think we should try to enhance kubeflow installation related to support ICP if needed.

[2019-01-03 07:43] yebrahim commented on #290
Closing for no activity.
/close

[2019-01-03 07:43] #290 closed

[2019-01-03 07:52] paveldournov commented on #604
Thank you @woop for the detailed description of the scenario. This is a very interesting use case.

One question - what are the artifacts that you are deploying to production? Are those models that are deployed for serving, or more complex pipelines? Are you thinking of deploying models across regions and across clusters?

Re. the functionality you've asked for:

* Currently there's no support for

[2019-01-03 10:12] yylin1 opened #610 "Pipeline notebook samples : "Install Pipeline SDK " error"
I‘m trying to test sample for "KubeFlow Pipeline Using TFX OSS Components", but have error for `Collecting https://storage.googleapis.com/ml-pipeline/release/0.1.4/kfp.tar.gz`.

Environment:
- kubeflow_v0.3.5
- ksonnet version: 0.13.0

JupyterHub Spawner :
- Image : gcr.io/kubeflow-images-public/tensorflow-1.8.0-notebook-gpu:v0.3.1

[code]
[code]

[2019-01-03 14:14] martin-laurent commented on #592
I can reproduce the issue on Firefox (64.0) but on Google Chrome (v 71.0.3578.98) the correct information is displayed (looking at the exact same step).

[2019-01-03 14:49] xiaozhouX commented on #610
Maybe there are some network problem between your jupyter pod and `storage.googleapis.com`. You can check it in your pod.

[2019-01-03 15:03] yylin1 commented on #610
@xiaozhouX how can I check jupyter pod ?

But I find it in my (ns kubeflow) get pod have problem in `ml-pipelines-load-samples` status `Error`，when in new deploy.
[code]
Get logs :
[code]

[2019-01-03 17:30] jlewi commented on #610
Actually this looks like a different issue than #603.

#603 complains about creating a foreign key. Where'as here there is a connection time out.

[2019-01-03 17:54] gaoning777 opened #611 "Add postsubmit component integration tests"
The component integration tests are triggered after PR merge and the tests build new component images during the tests.
This tests guarantee the component correctness.

[2019-01-03 17:54] gaoning777 commented on #611
/assign gaoning777

[2019-01-03 17:56] gaoning777 commented on #606
Will add the instruction after the component integration tests are added: https://github.com/kubeflow/pipelines/issues/611

[2019-01-03 18:11] yebrahim opened #612 "Incorrect validation in new run form when filling name then pipeline"
Repro steps: go to the new run page, type a name first, then select a pipeline, error message doesn't go away.

![image](https://user-images.githubusercontent.com/1424661/50653852-c4c34a80-0f3f-11e9-9928-241094e6984c.png)

/area front-end

[2019-01-03 21:23] TimZaman opened #617 "Pipeline run created from python shows experiment but not pipeline (in UI)."
See title.

GKE, Kubeflow 0.3.5. KFP 0.1.4 _and_ 0.1.6

Reproduce:
1) Run the sample notebook (used ipython notebook) https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/Lightweight%20Python%20components%20-%20basics.ipynb
2) Click on its pipeline:
![image](https://user-images.githubusercontent.com/7721540/50662203-753e4800-0f5a-11e9-901c-6e4484aa0ed6.png)
3) Looks good:
![image](h

[2019-01-03 22:00] swiftdiaries opened #618 "Unable to plug-in default values to Pipeline"
I tried creating a custom pipeline but I'm ran into this error while compiling it.
`ValueError: Default values of argument has to be type dsl.PipelineParam or its child.`

[code]
A workaround was to create a PipelineParam and then pass it.
`project = dsl.PipelineParam(name='run-step-parameter')`

But I'm unable to set default values to the parameter.
The default examples from [here](https://github

[2019-01-03 23:00] yebrahim opened #621 "Support archiving/unarchiving runs on the UI"
Backend [already supports this](#552), we need a UI button to archive/unarchive runs, as well as a management experience for archived resources.

/area front-end

[2019-01-04 04:12] woop commented on #604
Yes. Models, data, configuration, binaries, docker images. Many regions, many cluster groups, and many clusters.

Ultimately there will need to be polling, if it's a pull based system. Your suggestion is fine, but the downside is that it's possible to see many pipelines being instantiated just to monitor dependencies. Ideally this polling would happen in the 5-10 second range, which could lead to

[2019-01-04 17:48] TimZaman commented on #603
I am now on v0.4.0-rc.3 and the issue went away.

[2019-01-04 17:50] TimZaman opened #624 "ml-pipeline-persistenceagent fails a few times."
Kubeflow v0.4.0-rc.3
On GKE (with official doc instructions for CLI setup)

Everything sets up well, but the `ml-pipeline-persistenceagent` has failed 4x. On the fifth retry, the pod is up and running. Here's a log of one of its failures.

If this is nothing to worry about, feel free to just close this issue.

[code]

[2019-01-04 18:41] yebrahim commented on #624
I saw that too, 4 crashes then works fine.
/assign @vicaire @IronPan.
/area back-end

[2019-01-04 19:21] yebrahim commented on #617
This was done on purpose to allow for fast iteration on pipelines using the Python SDK (modify pipeline -> create run -> modify -> create run.. etc), without polluting the pipeline list UI. The latter mainly targets supporting sharing pipelines IMO. We don't have a good sharing story yet, but you can imagine in a multi-tenant cluster, you can upload pipelines there that you think may be useful for

[2019-01-04 19:39] yebrahim commented on #617
Well the API supports that, I'm not sure why I don't see it in the Python SDK either. Ideally the SDK should be auto-generated from the swagger files so that it aligns with the protos and other clients. @gaoning777 is this not the case?

[2019-01-04 19:40] IronPan commented on #617
The python SDK currently doesn't support but it won't be hard to add. It just need to auto generate the [pipeline API](https://github.com/kubeflow/pipelines/blob/master/backend/api/pipeline.proto) client as part of its build script in here
https://github.com/kubeflow/pipelines/blob/master/sdk/python/build.sh#L39

then you should be able to do `import kfp_pipeline` and call the API to upload pipeli

[2019-01-04 19:50] gaoning777 commented on #617
Good call. It is part of the Python SDK plan to expose the upload pipelines API.
It should be pretty straightforward and we only need to wrap the auto-generated swagger library and expose the API in a more friendly way.

[2019-01-04 19:54] #597 closed

[2019-01-04 20:17] IronPan commented on #617
As a side note, I don't think we should build thick syntactic sugar wrapper on top of API for the purpose of making the API call
- It makes experience across clients inconsistent. The funciton supported by python client is not supported by CLI or UI.
- It makes the enhancement effort duplicated. If the enhancement is done at API level, it is immediately available for other clients.
E.g. there is a

[2019-01-04 22:00] yebrahim commented on #617
+1 to these points. There's also the added maintenance effort here, whenever the underlying APIs change.

IMO APIs should aim to be user-friendly as much as possible. If clients are spending significant effort making the experience better around calling the APIs, that's a call for improving the APIs themselves IMO. We're seeing the same problem with the UI having to make many calls to get the info

[2019-01-04 22:41] yebrahim commented on #592
@martin-laurent this is possibly a bug in the TFMA component: https://github.com/tensorflow/model-analysis/issues/17. We need to update our TFMA version to the latest, which might fix this bug.
To confirm, can you check the browser's dev tools, point them to the iframe that should contain the TFMA component, and see if the file vulcanized_template.html has loaded? If not, then it's the issue I ref

[2019-01-04 22:51] yebrahim commented on #585
@kunmingg is this already fixed? Is there a kubeflow/kubeflow issue tracking it?

[2019-01-04 22:52] kunmingg commented on #585
@yebrahim
https://github.com/kubeflow/kubeflow/pull/2167

[2019-01-04 22:53] kunmingg commented on #585
PR merged, will be available once image updated.

[2019-01-04 22:54] neuromage commented on #624
Let me take a look...
/assign @neuromage

[2019-01-04 22:54] yebrahim commented on #585
Great, thanks. Closing this one then.
/close

[2019-01-04 22:54] #585 closed

[2019-01-04 23:58] qimingj commented on #617
I believe our REST API are friendly enough. The problem is the python generated by swagger tool. For example, to create an experiment using the swagger generated lib, users need to do:

[code]
With the wrapper client, users do:

[code]

In the wrapper API we also make it more friendly for notebook users (we return clickable URL).

In general, the python API generated by swagger has the following p

[2019-01-05 00:05] IronPan commented on #617
I agree on your point and I think a thin wrapper is OK (and necessary in this case). I am concerned about a thick wrapper that provides facilitation that should be optimized by API itself.

As the example I gave above, get experiment by name should be a API level support.
- In the code we loop though all pages and get the one that matches. This is can be a efficient SQL get instead
- If we decide

[2019-01-05 00:10] qimingj commented on #617
Ah. That I totally agree. I think this is the only case where we build thick logic inside client library. Once we have that supported at backend I'll be happy to move over.

[2019-01-05 01:05] gaoning777 commented on #618
Which DSL Compiler version did you install?
It might be that your compiler is outdated.

[2019-01-05 02:06] yebrahim opened #638 "Building backend using Bazel fails on mac"
Latest master, installed bazel throw homebrew:
[code]

I then re-generated the BUILD files using gazelle then tried to build again, but got this:
[code]

@neuromage any ideas? Haven't tried building on linux, so this might be mac only.
/area back-end

[2019-01-05 20:00] #624 closed

[2019-01-05 20:30] neuromage commented on #638
Let me take a look.
/assign @neuromage

[2019-01-05 22:59] akranga opened #641 "Support for s3 for docker magic"
At present '_component_builder.py' throws _"ERROR:Error: 's3://....' should be a GCS path."_

[code]

Because `kaniko` supports s3. It will probably will make sense to support it as well. In this case user can benefit from "local" `minio`.

[2019-01-06 12:41] xiaozhouX commented on #641
Agree with that, I think we also need to use other type storage, like by defining a default pvc for kaniko.
And so do the Image url and registry credential.
Is pipeline have a plan for make some feature integration well with other cloudProvider?  I would like to help for that, maybe with some PRs?  @IronPan

[2019-01-07 01:32] jlewi commented on #294
@IronPan Is there a pipelines test that covers firing off TFJob from pipelines? If not can we open up an issue to add such at test and use that to verify the fix is working?

[2019-01-07 01:34] jlewi commented on #218
@IronPan Any update on this? What impact does this have on users?

[2019-01-07 01:40] qimingj commented on #294
We currently don't have any samples covering tf-job except for @amygdala's sample. The sample's trainer container (gcr.io/google-samples/ml-pipeline-kubeflow-tf-taxi) was contributed by Amy and is out of pipeline's repo either.

@amygdala, does your sample still work in latest kubeflow deployment?

I am up for covering tf-job since this is the key component in Kubeflow.

[2019-01-07 06:48] akranga commented on #641
I shall be happy to contribute as well. Few questions I have got in my mind.

1. To support backends like minio. We need somehow to configure boto and let kfp or magic now about it.

2. Kaniko spec generation. Currently it is not super flexible (like deliver registry secret). Which is ok. But need some directions in these area

[2019-01-07 14:46] martin-laurent commented on #592
@yebrahim Indeed, I don't see `vulcanized_template.html` in the files loaded (on click on the artifacts tab for TFMA). Here is the list of things loaded:
<img width="557" alt="screen shot 2019-01-07 at 3 43 13 pm" src="https://user-images.githubusercontent.com/17744754/50774243-33334000-1293-11e9-8e39-4f3cef6a82f9.png">

[2019-01-07 17:28] hongye-sun opened #643 "Add bigquery component in release"
Just like other components, the new component should be added to the cloud build steps so that it can be published to the ml-pipeline gcr.

[2019-01-07 17:45] gaoning777 commented on #587
resolved in https://github.com/kubeflow/pipelines/pull/622

[2019-01-07 18:42] gaoning777 commented on #641
The GCS directory is merely used for temporary build files and we are planning to replace the cloud dependency with k8s native configmap. Feel free to send a PR to use configmap to store temporary files such as kaniko spec, dockerfile, etc.
And, pushing to other registries is not supported for now. [Kaniko](https://github.com/GoogleContainerTools/kaniko#pushing-to-different-registries) supports it

[2019-01-07 18:43] #515 closed

[2019-01-07 19:29] #608 closed, assigned to qimingj

[2019-01-07 20:54] swiftdiaries commented on #618
I installed with the --upgrade flag. Tried it with a clean environment and a fresh install. It still gives out the same error.

[2019-01-07 21:14] amygdala commented on #294
Barbara reported that there is a credentials issue (see below) with running my tf-job step in her setup, which was created using the launcher (in contrast to my original instructions, in which I created the GKE cluster nodes with `cloud-platform` scope, then ran the `bootstrapper.yaml`).
I'm about to try to repro.
She reports that the issue is NOT fixed by adding that gcp credentials wrapper to th

[2019-01-07 21:56] #638 closed

[2019-01-08 05:31] Ark-kun opened #646 "go vet in Travis tests breaks tests for unrelated PRs"
This PR does not touch any Go code: https://github.com/kubeflow/pipelines/pull/642

[code]

Our Travis test setup has a problem - it only tests the branch code instead of the result of merging the branch into master. This can cause some integration errors to slip in and break the tests for everyone.

/assign @neuromage

[2019-01-08 17:08] hongye-sun opened #647 "Update doc to remove hard coded version"
In the doc (https://www.kubeflow.org/docs/guides/pipelines/build-pipeline/), it includes a hard coded version, which will soon be obsolete after newer releases.

Let's fix it by having a placeholder and have a link pointing to the release pages to let user pick up the latest version.

[2019-01-08 18:15] IronPan commented on #647
We shouldn't have any hardcoded version in the doc since SDK should in theory be preinstalled in the JH image and user shouldn't do anything.

[2019-01-08 18:20] rileyjbauer opened #649 "Use "Start" for runs, "Create" for experiments"
Runs are active upon creation, so the verb "start" makes more sense.

No action is taken upon creation of Experiments, so the verb "create" makes more sense (than "start").

[2019-01-08 18:20] rileyjbauer commented on #649
/area front-end
/assign rileyjbauer

[2019-01-08 19:05] rileyjbauer commented on #649
To clarify, "Start" should be used at the end of the "create run" flow, the toolbar buttons can continue to say "Create"

[2019-01-08 20:47] swiftdiaries commented on #618
Thanks for the reply :) That worked. I mixed up my environments.
Closing this issue now.

[2019-01-08 20:47] #618 closed

[2019-01-08 20:53] swiftdiaries commented on #336
This is great! Would love this feature for local and on-prem pipelines

[2019-01-08 21:32] swiftdiaries opened #651 "Argo events for triggering pipelines"
It'd be great if we could trigger pipelines automatically wrt events.
Use Case 1:
When a model is uploaded to an object store -> trigger a step (pipeline) to deploy.
Use Case 2:
When data arrives at a local volume / external storage -> trigger a pipeline to train.

This is related to https://github.com/kubeflow/pipelines/issues/604.

I'd love to see this feature and help out in the implementation

[2019-01-08 23:41] #646 closed

[2019-01-09 19:56] #649 closed

[2019-01-09 20:42] aronchick commented on #596
/cc @jlewi can you page in the right folks here? we're blocked on using this until it's solved.

[2019-01-09 20:54] rileyjbauer commented on #270
This was fixed by #537, #563, and #645

[2019-01-09 20:54] #270 closed

[2019-01-09 23:08] Ark-kun commented on #641
@gaoning777 AFAIK, GCS supports the s3:// protocol, so we could enable such URIs.

[2019-01-09 23:12] Ark-kun commented on #618
/assign @Ark-kun

[2019-01-09 23:32] IronPan commented on #345
see related feature request https://github.com/kubeflow/pipelines/issues/641

[2019-01-09 23:44] IronPan commented on #641
Decoupling the kaniko from the underlying storage would be ideal. Kaniko supports local directory ([ref](https://github.com/GoogleContainerTools/kaniko#kaniko-build-contexts)) and my guess is creating a K8s emptyDir volume and mount to the kaniko container is good enough as the temporary storage.

@akranga @xiaozhouX does this sounds a good plan? Contribution is very welcomed.

[2019-01-09 23:47] IronPan commented on #641
Also kaniko spec is currently located [here](https://github.com/kubeflow/pipelines/blob/85c6413a2e13da4b8f198aeac1abc2f3a74fe789/sdk/python/kfp/compiler/_component_builder.py#L234) Ideally, it should be parameterized so that the caller can decide where the resulted image stores to.

[2019-01-09 23:50] IronPan commented on #617
@TimZaman with the PR https://github.com/kubeflow/pipelines/pull/634 you should be able to access all APIs from python. It should be available in latest release v0.1.7

[2019-01-10 00:11] #594 closed

[2019-01-10 00:38] jlewi commented on #596
ack I'll loop in some folks; but it sounds like the issue is actually outside Kubeflow and is in Apache Beam.

You might want to repost the issue in the Apache Beam
https://issues.apache.org/jira/browse/BEAM-2500

Or in the TF Data Validation
https://github.com/tensorflow/data-validation

If your goal is trying to use pipelines did you consider trying to use some other example? Or creating a new o

[2019-01-10 00:44] jlewi commented on #596
It looks like this is a known issue with Apache Beam and has been open for a long time.
https://issues.apache.org/jira/browse/BEAM-2572

[2019-01-10 01:32] Ark-kun opened #658 "Issues for running pipelines without using GCP"
https://kubeflow.slack.com/conversation/CE10KS9M4/p1547076813104800
Igor Mameshin [1 hour ago]
@Alexey Volkov Sure there are multiple examples

Igor Mameshin [1 hour ago]
code-snippets/ml/kubeflow-pipelines/components/kubeflow/tf-serving/deploy-tf-serve.py:
[code]

Igor Mameshin [44 minutes ago]
code-snippets/ml/kubeflow-pipelines/components/kubeflow/containers/tf-serving/build.sh:
[code]

Igor Ma

[2019-01-10 02:49] xiaozhouX opened #660 "Docs about how to write mlpipeline-ui-metadata and mlpipeline-metrics artifacts"
We can find that pipeline support argo artifact named `/mlpipeline-ui-metadata.json` and `/mlpipeline-metrics.json`, and some samples use it like [confusion_matrix.py](https://github.com/kubeflow/pipelines/blob/d79a835b3e433fc2439bf4ce6f4c703866f8fdcf/components/local/confusion_matrix/src/confusion_matrix.py). The artifact is finally rendered by frontend.
Are there any docs about the scheme and fo

[2019-01-10 05:31] govindKAG commented on #658
The articles say that the logs are collected from stack driver. Do logs work with pipelines if you are not on GCP?

[2019-01-10 05:46] govindKAG opened #661 "Do I need to be running kubeflow on GCP to use pipelines?"
The articles on pipelines seem to suggest that pipelines are in some way dependent on GCP. I could not find anything definitive on this front. Is it possible to fully utilize kubeflow pipelines without GCP? if not, is it by design?

[2019-01-10 05:53] yebrahim commented on #660
There are docs sections [here](https://www.kubeflow.org/docs/guides/pipelines/output-viewer/) and [here](https://www.kubeflow.org/docs/guides/pipelines/pipelines-metrics/), do these have what you need?

[2019-01-10 06:21] govindKAG commented on #569
this needs to be a thing

[2019-01-10 10:33] xiaozhouX commented on #660
yes, exactly. Thanks very much.

[2019-01-10 12:01] hamedhsn commented on #624
@neuromage I get the same when deploying v0.4.0. and it does not get recoved.
I am deploying on my k8s cluster in EKS.

[2019-01-10 12:09] hamedhsn commented on #610
+1 Having the same problem. v0.4.0

[2019-01-10 17:54] yebrahim commented on #660
Great, closing this issue then.

[2019-01-10 17:54] #660 closed

[2019-01-10 21:14] IronPan commented on #603
Nice I'll close this one

[2019-01-10 21:14] IronPan commented on #603
/close

[2019-01-10 21:14] #603 closed