[2021-06-14 04:37] TrsNium opened #5854 "[sdk] Error occurs for component_input_parameter in v2 compiler"
### Environment

*  KFP SDK version:
1.6.3

### Steps to reproduce
Define and execute a pipeline with the following code

[code]

following is error messsage
[code]

I got same error occurred when using `from kfp.v2.dsl import component`.
~If you use a python function with component, you will get an error like the one above~

### Expected result
No errors occur during compilation.

---

Impacted b

[2021-06-14 08:00] swamat opened #5855 "Unable to select the instance in kubeflow experiment"
### What steps did you take

I have installed kubeflow 1.12 inAWS environment. Its running on EKS cluster with one gpu node and one cpu node

### What happened:
When am creating the kfp pipeline and creating run am unable to select the node(gpu/cpu) on which it can run
### What did you expect to happen:
I can select the node on which it can run
### Environment:
AWS

*  How do you deploy Kubeflow P

[2021-06-14 09:58] juliusvonkohout commented on #5718
I think we should add a test for a simple pipeline that runs as non-root. That way we know that the emissary executor works properly.
The following tests runasnonroot and kubeflow profile quotas.

[code]

But you have to use PSPs or consider https://argoproj.github.io/argo-workflows/workflow-pod-security-context/

[2021-06-14 16:58] DavidSpek commented on #4440
@wyljpn When you say:
[code]

What do you mean exactly? Is the InfraValidator a pod? Is that pod running in the same namespace as the pods it is trying to access? Are the requests going to the pods or services directly or are they making requests through the publicly accessible URI?

[2021-06-14 17:07] dutingda commented on #5848
I don't understand what you are trying to express here, please give comment directly answers the question

[2021-06-14 18:55] ca-scribner commented on #5681
Related to this, would it be helpful to think about enabling generic dashboards through this same method (I'm thinking a dash or flask dashbord, or maybe even r-shiny?).  Don't want to overload it, but general dashboards are the other use case that feel similar to this.  In some ways I guess it is a generic version of the tensorboard use case

[2021-06-14 19:00] DavidSpek commented on #5681
@ca-scribner The viewer CRD would be the confidante for these dashboard applications as well. Creating a web app that allows you to launch dashboards is something I’ve discussed with multiple people recently and something I would like to add in the future. Some thought will need to go into the authorization policies, so that non-Kubeflow users can access the dashboards as well (probably by using a

[2021-06-14 19:20] ca-scribner commented on #5681
This all sounds perfect, thanks!

On Mon, Jun 14, 2021 at 15:00 DavidSpek ***@***.***> wrote:

[2021-06-14 21:27] dtzar commented on #4079
This idea is still valid.

[2021-06-14 22:37] jli opened #5858 "[sdk] dsl.ExitHandler error: bad replacement for`{{workflow.failures}}` placeholder results in SyntaxError"
I ran into this issue while trying to use ExitHandler for workflow completion/failure notifications, see https://github.com/kubeflow/pipelines/issues/3516 for context.

### Environment

*  KFP version: 1.4.1
*  KFP SDK version: 1.4.0
*  All dependencies version:
   * kfp                           1.4.0
   * kfp-pipeline-spec             0.1.7
   * kfp-server-api                1.5.0

### Steps to

[2021-06-15 02:18] wyljpn commented on #4440
@DavidSpek Sorry for making you confused.

InfraValidator is a pod. It creates the other pod to load and serve a trained model. They are running in the sample namespace.
And InfraValidator sends requests to the other pod for getting the model's status and prediction results.

The Error, "RBAC: access denied", was happened in InfraValidator, because InfraValidator pod couldn't access the other pod.

[2021-06-15 02:26] RakeshRaj97 commented on #3405
I'm struggling to access my object storage bucket created using rook-ceph (s3) and would like to use this default artifact and metadata store instead of MinIO. Can anyone please share me what all files to be modified to use MinIO as s3 interface?

I've tried updating `workflow-controller-configmap` to use my object store

[code]
Also replace accesskey and secretkey in `mlpipeline-minio-artifact` s

[2021-06-15 03:42] Windfarer commented on #4941
The same issue as @pretidav 
Maybe we should provide a volume GC step after the workerflow pods' GC in pipeline system instead of let user manage it in workflow.

[2021-06-15 11:48] boarder7395 commented on #5730
Opened https://github.com/argoproj/argo-workflows/issues/6153 with the argo team. Going to mark this resolved here and this can be tracked with the issue over in argo.

[2021-06-15 11:48] #5730 closed

[2021-06-15 12:38] DavidSpek commented on #4440
@wyljpn Thank you for taking the time to provide such a detailed explanation. Are you part of the Kubeflow Slack? I'd like to ask you some more questions about this to try and figure out what is going wrong with the Istio policues.

[2021-06-15 12:45] ConverJens commented on #4440
@DavidSpek I think this issue might be informative: https://github.com/tensorflow/tfx/issues/3893.

Basically, no pod that is started in the Argo flow has any istio sidecars. Hence, the IV serving pod shouldn't either.

[2021-06-15 15:01] wyljpn commented on #4440
I haven't noticed there is a Kubeflow Slack community. Just created a Slack account and joined it a few minutes ago.
My member ID is "U0253V66WCT", maybe you can use it to find me.
My pleasure to communicate with you.

[2021-06-15 20:28] dkowsley commented on #4399
Can someone please respond to this issue?

[2021-06-15 21:33] mnoble-vody commented on #1218
/reopen

[2021-06-16 08:36] mishraprafful opened #5866 "[backend] Dockerfile fails build"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Not yet deployed

*  KFP version: Release v1.6.0

*  KFP SDK version: None

### Steps to reproduce
* Docker build `backend/dockerfile` fails with the following trail logs
[code]

### Expected result
* `backend` successfully built as a docker image

### Materials and Reference
Trying to build the backend service as a docker image, but

[2021-06-16 10:40] chensun commented on #5801
I'm not denying there's potential value for custom parameter types. But often they are overuse of types. `GCPProjectID` and `GCSPath` can be replaced with `String` with little loss of functionality as of today -- the `open_schema_validator` for `GCSPath`, if I'm not mistaken helps only on value present at compile time but not value produced as runtime; and the GCP Project picker is an interesting

[2021-06-16 12:10] divyadilip91 opened #5867 "PVC used from cache thereby causing issues when pvc is manually deleted."
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
I deployed kubeflow in GCP using AI Platform

*  KFP version:
1.4.1

*  KFP SDK version:
1.4.1

### Steps to reproduce

1. Create a pipeline that first creates a pvc that uses a dynamicaly generated disk of size 10Gi which is then used by subsequent containerops.
2. After successful execution , I manually delete the job pods and pvc

[2021-06-16 13:40] DavidSpek commented on #5681
One thing that will need some careful consideration with the generic viewer is how to deal with RBAC permissions. For example, if you would want to allow a user to create tensorboards, but not a file browser instance. To support this I think it will be necessary to define multiple `Kind`s for the different viewers, but have them share (most of) the reconciliation loop. This then also allows for so

[2021-06-16 13:59] zygm0nt opened #5868 "[feature] Output artifacts from AI platform jobs and have them cached."
### Feature Area

/area backend
/area sdk
/area samples

### What feature would you like to see?

Is it possible to cache steps in a pipeline if the output already exists?

### What is the use case or pain point?

My scenario here is that I'm running a bunch of jobs with https://github.com/kubeflow/pipelines/tree/master/components/gcp/container/component_sdk/python/kfp_component/google/ml_engine (

[2021-06-16 14:43] divyadilip91 commented on #5867
https://github.com/kubeflow/pipelines/issues/1327
#1327

[2021-06-16 16:12] santoshmarepally opened #5872 "Metadata writer component error"
There is an error in metadata writer component that seems to be not propagated to the application. When I run describe on application, it is coming back with "NoError".

### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

kfp                                          1.4.0
kfp-pipeline-spec                 0.1.7
kfp-server-api

[2021-06-16 23:28] capri-xiyue commented on #5726
Design Doc finished

[2021-06-16 23:28] #5726 closed

[2021-06-17 02:04] #5816 closed

[2021-06-17 04:39] Bobgy opened #5875 "[sdk] refer to doc when type mismatch error occurs"
It'll be ideal to refer to documentation https://www.kubeflow.org/docs/components/pipelines/sdk/v2/v2-compatibility/#building-pipelines-using-the-kubeflow-pipelines-sdk-v2, when we detect a type mismatch error.

Because the extra context in the doc helps users understand how to fix the issue.

[2021-06-17 04:45] kim-sardine commented on #3763
I'm having the same issue. and solved it by deleting `ml-pipeline-persistenceagent`

when there was a problem, I found a log `Unknown node phase: undefined` in Chrom DevTool's console.
and it came from [Status.tsx](https://github.com/kubeflow/pipelines/blob/6f96e74bed2106129b7ad567d9cd8c2fe0d99455/frontend/src/pages/Status.tsx#L95) or [StatusUtils.ts](https://github.com/kubeflow/pipelines/blob/6f9

[2021-06-17 07:24] nroberts1 commented on #3611
@yanniszark Do you know if there is an issueI can monitor to see the progress of "there isn't support for programmatic authentication yet (we are planning for it soon though)"? This would have been great to have, I'm assuming none of the security related params for kfp.Client will currently help me?
_kfp.Client(host=None, client_id=None, namespace='kubeflow', other_client_id=None, other_client_sec

[2021-06-17 08:31] skogsbrus commented on #5867
I think this is the same issue as https://github.com/kubeflow/pipelines/issues/5844

[2021-06-17 08:35] jmendesky opened #5877 "[sdk] Uploading a new pipeline and specifying a version sets the wrong version number"
### Environment

*  KFP version:
1.0.4
*  KFP SDK version:
1.3.0

### Steps to reproduce

[code]

will create a new pipeline with a single version of "my_pipeline"

### Expected result

A new Pipeline with an initial version of "0.0.1"

### Materials and Reference

I believe that this, at the moment, is the documented behaviour. I would argue, however, that this is unintuitive and breaks automatio

[2021-06-17 09:27] skogsbrus opened #5878 "[backend] Retry run failed.: InternalServerError: Workflow cannot be retried with node ... in Omitted phase: workflow cannot be retried"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? KF 1.3 Manifests release, on premises

*  KFP version:  1.5.0

*  KFP SDK version:

[code]

### Steps to reproduce

1. Run a pipeline with a failing component
2. Retry the run

[code]
### Expected result

A successful retry of the run, starting off from the failed component.

### Materials and Reference

I've found this Argo bug.
htt

[2021-06-17 09:28] divyadilip91 commented on #5867
@skogsbrus Yes it is. Does anyone know if this issue has been solved in the latest version which is 1.6.

[2021-06-17 09:40] Bobgy opened #5880 "[sdk] v2 python component does not support parameter default values"
Reproduction: see PR https://github.com/kubeflow/pipelines/pull/5879

[2021-06-17 09:40] Bobgy commented on #5880
/assign @chensun

[2021-06-17 09:44] skogsbrus commented on #5867
Don't know, but I suggest you close this and give a :+1: to the other issue.

[2021-06-17 09:46] #5877 closed

[2021-06-17 09:54] jmendesky opened #5881 "[feature] Support specifying a pipline version when uploading a new pipeline"
### Feature Area

/area backend
/area sdk

### What feature would you like to see?

Currently, when uploading a new pipeline, no version can be specified and the name of the pipeline is used to create an initial version. Uploading a pipeline version without first creating a pipeline by uploading that initial version will fail. This is not intuitive and breaks automation or requires workarounds lik

[2021-06-17 10:07] elikatsis commented on #5844
Hi there,

this is a duplicate of https://github.com/kubeflow/pipelines/issues/5257. Should we close this in favor of the other one.

Copying [my comment](https://github.com/kubeflow/pipelines/issues/5257#issuecomment-852326538) here as well, for the sake of completeness of this issue:

[2021-06-17 10:12] elikatsis commented on #5867
Hi, as mentioned in this comment: https://github.com/kubeflow/pipelines/issues/5844#issuecomment-863110659 this issue is duplicate of https://github.com/kubeflow/pipelines/issues/5257 and https://github.com/kubeflow/pipelines/issues/5844.

I also suggest we close this one in favor of #5257.

[2021-06-17 10:21] #5844 closed

[2021-06-17 10:39] divyadilip91 commented on #5867
Closing the issue- Redirected to #5257 and #5844

[2021-06-17 10:39] #5867 closed

[2021-06-17 11:23] Bobgy opened #5882 "[launcher] make debugging launcher easier"
KFP v2 compatible launcher doesn't log anything unless an error occurs, therefore when there's an launcher logic error. It's very hard to debug what actually happened.

Propose inventing some mechanism to support this use-case.

## Option 1 - add basic logging which is turned on by default

Pros:
* we can always find some information in logs

Cons:
* confusing to users, because launcher log is now

[2021-06-17 13:57] lucinvitae commented on #2705
Hello all,

Something like this issue (error: `Failed to retrieve pod logs.`) is frequently occurring for our cluster. We don't see `Possible reasons include cluster autoscaling or pod preemption` in the UI, but this typically happens for pipelines that depend on GPU nodes which are added to the cluster by our autoscaler.

We use S3 as a log backend, and can confirm that the logs are correctly pop

[2021-06-17 14:22] Bobgy commented on #5882
I'm now leaning towards turn on warning level logging by default.
During developing, developers can build a launcher image with default changed to INFO level. This sounds like a good enough stopgap solution.

[2021-06-17 19:52] SinaChavoshi opened #5885 "[components]: TrainingPipeline Custom Task accepting multiple datasets defaulting to incorrect dataset type"
Originally raised in [stackoverflow - #68025813](https://stackoverflow.com/questions/67999255/error-tabular-dataset-treated-as-image-dataset-vertex-ai-pipelines-custom-tra/68025813#68025813)

## Environment
python 3.7.3
kfp==1.6.2
kfp-pipeline-spec==0.1.7
kfp-server-api==1.6.0
google-cloud-pipeline-components==0.1.1

## Error message
[code]

## Sample pipeline:
[code]

[2021-06-18 00:39] capri-xiyue commented on #5881
option 1: upload version api can accept pipeline line
option 2: combine upload pipeline and upload version in one api, which means user can specify pipeline and version at the same time.

[2021-06-18 00:41] capri-xiyue commented on #5866
Did you build under root directory or under backend directory? You need to build under root directory

[2021-06-18 00:43] zijianjoy commented on #5846
cc @aronchick

[2021-06-18 00:47] capri-xiyue commented on #5878
fixed by #5738

[2021-06-18 00:47] #5878 closed

[2021-06-18 00:56] capri-xiyue commented on #5868
Can you share your pipeline?

[2021-06-18 01:01] capri-xiyue commented on #5855
You can use https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html?highlight=node#kfp.dsl.PipelineConf.set_default_pod_node_selector to add a constraint for nodeSelector for a pipeline.
You can use https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html?highlight=node#kfp.dsl.Sidecar.set_memory_limit to set the memory limit

[2021-06-18 01:01] capri-xiyue commented on #5855
Feel free to reopen the issue if you have further questions.

[2021-06-18 01:01] #5855 closed

[2021-06-18 01:05] capri-xiyue commented on #5853
The error is from k8s itself. It is not related to KFP.  You will need to check the logs of your cluster.

[2021-06-18 01:05] #5853 closed

[2021-06-18 01:10] capri-xiyue commented on #5851
Have you set TTL via https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html?highlight=node#kfp.dsl.PipelineConf.set_ttl_seconds_after_finished?
It is not the correct way to set TTL.
The correct way to set TTL in KFP is recorded in  https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html?highlight=node#kfp.dsl.PipelineConf.set_ttl_seconds_after_finished

[2021-06-18 01:13] capri-xiyue commented on #5848
Currently we don't support this feature for security reason.
Workaround is to encode image and store it inline in html

[2021-06-18 05:10] TrsNium commented on #5854
I noticed that I can compile without using the exit handler.
I just did a print debugging.
The target_date is recognized as a parameter of the subgroup component, but there is no such parameter in the subgroup, which may be causing the above error.

[2021-06-18 08:54] skogsbrus commented on #5878
Ok, thanks!

[2021-06-18 11:46] jmendesky commented on #5881
It already accepts the pipeline name or id as a parameter. Do you mean that this could be optional so that the pipeline would be created if not present?

I think something like this makes sense. Specifying the version when uploading would be of great benefit. We could still keep the default option of setting the version to the pipeline name if no version is specified.

[2021-06-19 08:55] Bobgy commented on #4682
/lifecycle frozen

[2021-06-19 08:56] Bobgy commented on #5333
/lifecycle frozen

[2021-06-19 22:21] chensun commented on #5711
KFP v2 has a different data model from KFP v1. In KFP v2, we have the distinction between parameters and artifacts. They have different behaviors. For instance, parameters are stored in MLMD, and they can be queried, while for artifacts, we don't store the file content in MLMD, but artifacts can have additional metadata. I consider this as a feature improvement over the KFP v1 data model.

This [d

[2021-06-19 22:33] chensun commented on #5711
Hi @jackwhelpton, as we spoke last time on this issue, I believe your use case is unblocked by adding/updating the type.
We will have a new doc with the detailed migration guide, and we will also update our components and samples to be compatible with v2 (https://github.com/kubeflow/pipelines/issues/5801).

If there are no other blockers, do you think we can close this issue? Thanks!

[2021-06-20 12:18] algs opened #5893 "[backend] column name same with reserved keyword of mysql 8.0"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
* create table in mysql and deploy the KFP services

*  KFP version:
* 1.5

*  KFP SDK version:

### Steps to reproduce
When creating table in mysql 8.0, it would report fail because there are columns name `Description` in tables `experiments`, `jobs`, `pipelines`, `run_details`, which is the reserved keyword of mysql

### Expected r

[2021-06-20 12:25] Hedingber commented on #5851
@capri-xiyue
Can you give some more details ?
I am experiencing the same issue and I am using `set_ttl_seconds_after_finished` to set ttl on the workflow.
Why it's not the correct way to set TTL ? what is the purpose of this method ?
The correct way you linked to is a way to set a TTL globally, what if I want a different TTL per pipeline ?
it seems like this method is the way to go
Above all, how/

[2021-06-20 14:55] wangli1426 commented on #3445
Any update to this feature?

I believe it would be great that Kuebflow pipelien can provide a generic launcher that creates CRD and manages the lifespan of a CRD, like MPIJob, PyTorchJobs, etc.

This requirement can be partially satisfied by using Kitlab Expeirment. However, as far as I know, there are some clear drawback of this approach:

- It is possible that the launcher pod failed, but the CR

[2021-06-20 21:34] Shaked commented on #4325
@Bobgy any update about this issue?

[2021-06-21 01:55] #5882 closed

[2021-06-21 06:42] Bobgy commented on #4197
/lifecycle frozen

[2021-06-21 08:31] Bobgy commented on #5790
They should be kept

[2021-06-21 08:31] #5790 closed

[2021-06-21 08:45] Bobgy commented on #5820
/assign @capri-xiyue

[2021-06-21 10:06] mishraprafful commented on #5866
Thanks @capri-xiyue. This was solved with your suggestions and a few other things we were doing wrong. 😄

[2021-06-21 10:06] #5866 closed

[2021-06-21 14:02] f-wole opened #5895 "[bug] Error when naming components dynamically in a recursion"
/kind bug

### What steps did you take
I inserted a cycle in my pipeline, in order to define a new component at each iteration. My pipeline looks like this (where op in my real pipeline is the training component):

[code]

### What happened:

The following image is an example of execution of the pipeline for k=3. Notice that the name of the op component is iteration-{{inputs.parameters.iterator-Ou

[2021-06-21 14:44] Eliacus opened #5896 "[feature] Automatically json serialize pipeline run arguments that are of type list or dict"
### Feature Area

 /area sdk

### What feature would you like to see?
This feature concerns having list/dict inputs to pipelines when running them with the SDK. Right now, when starting runs with the python SDK, one must manually serialize lists to json, otherwise it will get falsely serialized and it can't be passed to components properly.

It would be nice if the `arguments` input to `client.cre

[2021-06-21 14:46] pretidav commented on #5895
I have the same problem. Every comment is really welcomed!!

[2021-06-22 00:12] boarder7395 opened #5897 "[bug] outputUri prevents caching"
### What steps did you take

Ran a pipeline with an outputUri, and ran a pipeline with an outputValue.

### What happened:

The pipeline using outputValue cached the component correctly, while the pipeline using outputUri did not cache the component.

### What did you expect to happen:

I expected both pipelines to cache.

### Environment:

KFP 1.4.1
Launched with minikube locally. Also so similar

[2021-06-22 05:42] TrsNium commented on #5854
@chensun hello.
Could you review this PR? #5899

[2021-06-22 05:53] swamat opened #5900 "kfp.components.structures.ComponentsSpec to create run in kubeflow"
### Environment

*  KFP version:1.2

*  KFP SDK version: 1.6.0

*  All dependencies version:

### Steps to reproduce

 I am currently using containerop to create pipeline functions. But I see warnings saying that it will be deprecated. Is there any equivalent kfp package which uses docker image.? I tried kfp.components.structures.ComponentsSpec but this does not get executed. Created componentsspe

[2021-06-22 06:03] motilalmeher opened #5901 "How to use customized name of the component(pre build component) used in kubeflow."
I am using GCP ml traning and deploying prebuild component for training and deployment. In my kubeflow pipliline, I am using multiple models for hyperparameter tuning and final model traing on best set of parameters. But I can not able to add a name to the pre build component. So in pipeline dashboard, every training component have same name. I want to add name by my own like for logistic regressi

[2021-06-22 06:06] swamat commented on #5597
Can someone help on this

[2021-06-22 07:09] motilalmeher opened #5902 "Gcp Ml training and deploying prebuild component from on premise"
In kubeflow prebuild component(Gcp Ml training and deploying) there is no option for giving credential to use AI platform of a GCP for training and deployment purpose from on premise. How to handle that? Do we need to write our customize code for traing job and deplying job?

[2021-06-22 09:21] #5854 closed

[2021-06-22 09:43] nongqiqin commented on #4440
This code worked for me

`c = kfp.Client(host='http://xxxx:xxxx/pipeline')
c = create_run_from_pipeline_func(median_stop, arguments={}, experiment_name=experiment_name, namespace=experiment_namespace)`

add two variables `experiment_name` and `namespace`

[2021-06-22 12:14] DennisVis opened #5904 "[feature] Dataflow flex template component"
### Feature Area

/area components

### What feature would you like to see?

In addition to launching Dataflow jobs from Python and classic templates it would be useful to add an additional component for launching Dataflow flex templates.

### What is the use case or pain point?

Dataflow flex templates have some advantages over classic templates. Most importantly they allow for dynamically changi

[2021-06-22 12:22] DennisVis commented on #5904
After creating the issue and attempting to open a PR to fix it I saw someone else already added this feature.

[2021-06-22 12:22] #5904 closed

[2021-06-22 14:48] jackwhelpton commented on #5711
It seems like everything I'd wanted from this ticket is covered by https://github.com/kubeflow/pipelines/issues/5801, so I'm fine with closing this one. Thanks!

[2021-06-22 17:31] #4213 closed

[2021-06-22 17:31] #4141 closed

[2021-06-22 17:31] #4518 closed

[2021-06-22 17:31] #4314 closed

[2021-06-22 17:31] #4661 closed

[2021-06-22 17:31] #4683 closed

[2021-06-22 17:31] #4697 closed

[2021-06-22 17:31] #4686 closed

[2021-06-22 17:31] #4297 closed

[2021-06-22 17:31] #4732 closed

[2021-06-22 17:31] #4709 closed

[2021-06-22 17:31] #1891 closed

[2021-06-22 17:31] #4665 closed

[2021-06-22 17:31] #4671 closed

[2021-06-22 17:31] #4600 closed

[2021-06-22 17:31] #4635 closed

[2021-06-22 17:31] #4576 closed

[2021-06-22 17:31] #4629 closed

[2021-06-22 17:31] #4115 closed

[2021-06-22 17:31] #4423 closed

[2021-06-22 17:31] #4620 closed

[2021-06-22 17:31] #2728 closed

[2021-06-22 17:31] #4612 closed

[2021-06-22 17:31] #3031 closed

[2021-06-22 17:31] #4551 closed

[2021-06-22 17:31] #4580 closed

[2021-06-22 17:31] #4589 closed

[2021-06-22 20:41] nicokuzak commented on #4701
@jackwhelpton did you end up figuring out how the optional parameters work here?

[2021-06-23 01:59] Bobgy commented on #4533
/lifecycle frozen

[2021-06-23 02:00] Bobgy commented on #4216
/lifecycle frozen

[2021-06-23 04:35] lauradang opened #5906 "[bug] Deployed Kubeflow with OIDC Authentication but pipeline runs as single-mode user"
### What steps did you take
I deployed Kubeflow to Azure Kubernetes Service (AKS) with OIDC Authentication as described in the [documentation](https://www.kubeflow.org/docs/distributions/azure/authentication-oidc).

I instantiated a `kfp.Client()` like so:
[code]
Then I called this function next:
[code]
### What happened:
This error message outputted after running `kubeflow_client.create_run...` a

[2021-06-23 04:53] shalankig opened #5907 "[sdk] Error from kfp Client"
I have successfully deployed Kubeflow on a private GKE Cluster using https://github.com/kubeflow/manifests#install-with-a-single-command

GKE Version: 1.17.17-gke.9100
Kubeflow Version: 1.3
Workload Identity Enabled: Yes
Kfp Version: 1.5.0

Error while creating a kubeflow pipeline:
`Traceback (most recent call last): File "/path/to/pipeline.py" line 1073, in run_pipeline experiment_id = client.get

[2021-06-23 07:35] #5794 closed

[2021-06-23 11:45] sramirez commented on #5151
Same here.

[2021-06-23 12:17] kamal24111991 commented on #4440
@nongqiqin Could share some more details like host="value"

Kubeflow , Pipeline and SDK version ?

[2021-06-23 12:19] kamal24111991 commented on #4440
@nongqiqin Could share some more details like host="value"

Kubeflow , Pipeline and SDK version ?

[2021-06-23 13:16] steveplazafb opened #5910 "add if __name__ == "__main__" guard for sdk to support multi-processing in components"
### Feature Area

/area sdk

### What feature would you like to see?

Add an `if __name__ == "__main__"` guard before calling function wrapped by "create_component_from_func"

### What is the use case or pain point?

An if __main__ guard is needed for python multiprocessing code to run properly.

### Is there a workaround currently?

I have not found a good workaround.  It might be possible to det

[2021-06-23 13:29] difince commented on #3360
Hi, Can I give this issue try .. probably by chaning just one endpoint as a start?

[2021-06-23 13:57] Bobgy commented on #3360
Sure, @difince!

Thank you for willing to take this!

[2021-06-23 15:18] nongqiqin commented on #4440
Kubelow Web UI ip:port
kubeflow: 1.2
Latest sdk

[2021-06-23 15:49] susan-shu-c commented on #4701
I'm curious about this as well!

[2021-06-23 19:19] nicokuzak commented on #4701
@susan-shu-c FYI it still works to leave inputs blank if you are using Vertex Pipelines GUI even though there is a red box in the UI for the parameters

[2021-06-23 19:59] zygm0nt commented on #5868
Hi, sorry for late reply.

So here is an illustrative example of my pipeline's behavior:

[code]

So, when I iterate over this pipeline, be it I need to change somewhat the pipeline internal parameters, or I have a bug along the pipeline, in the job itself, I always need to rerun the whole pipeline.
What I'd like to do is:
* job `infer_op` passes, but `infer2_op` fails due to some error
* if I rer

[2021-06-23 20:25] #5880 closed

[2021-06-23 21:13] #5806 closed

[2021-06-24 04:03] TrsNium opened #5912 "[sdk compiler] Compile is successed, but VertexPipelines validation is failed"
### Environment

*  KFP version: GCP VertexAi Pipelines
*  KFP SDK version:  build sdk on master branch

### Steps to reproduce
When I try to loop through the following python function to get the output, the validation of Vertex Pipelines fails.
[code]

error message
[code]

<details>
<summary>compiled json</summary>

[code]

</details>

### Expected result
Successful validation of vertex pipeline

[2021-06-24 06:03] chensun commented on #5711
Thanks Jack. Closing this issue.

[2021-06-24 07:47] #5838 closed

[2021-06-24 08:42] swamat commented on #5900
Did kfp.components.structures.ComponentsSpec.save() and loaded the yaml file.. But unable to get how to pass file outputs from one component to other component.Right now we are using
 **kfp.components.structures.InputSpec(name=<file name which was output of the previous component> )**
This  shows below error
TypeError: Arguments for output is not compatible with type
can someone please help on thi

[2021-06-24 08:47] TrsNium commented on #5912
[code]
I was looking at the compiled dsl and it looks like there is no dependency on print_op.
This has nothing to do with the above error, but I think it might be a problem later as an error

[2021-06-24 09:44] raghavendramanandi opened #5913 "Mask sensitive parameters that is passed to pipeline"
While running the pipeline, we can specify parameters. Is there a way to mask or show **** for those parameter values. Just like how a password field would look like.

[2021-06-24 11:30] swamat commented on #5855
@capri-xiyue  Thank you

[2021-06-24 15:13] A-Pot opened #5915 "[bug] `from google_cloud_pipeline_components import aiplatform` results in TypeError: 'NoneType' object is not iterable"
When I try to import `aiplatform` from `google_cloud_pipeline_components`, I get a `TypeError`, and the import fails.

### What steps did you take

To reproduce the issue:

1. Create a new virtual environment (Python version 3.6.9):
`python3 -m virtualenv gcp_aip`

2. Activate the environment:
`source gcp_aip/bin/activate`

3. Install per instructions:
`pip install -U google-cloud-pipeline-compone

[2021-06-24 15:26] midhun1998 commented on #5907
Hi @shalankig . Could you share your code to help us debug even further? From the above log, I think you are referring to a kfp experiment that doesn't exist or you might have missed to pass the namespace.

[2021-06-24 15:53] zijianjoy commented on #5838
Thank you Yuan for the fix!

Validated artifact is created for minio path:

![7vZ3MV4RftpJiHy](https://user-images.githubusercontent.com/37026441/123294393-a6fc4e00-d4c9-11eb-97dd-b7f03779e9b7.png)

[2021-06-24 16:17] PyoJunCode commented on #5638
Still same

[2021-06-24 19:16] AlirezaSadeghi commented on #5303
@Bobgy We also have the standalone pipeline installation through Google Cloud Marketplace, now I'm wondering what's the proper upgrade strategy? We have had 3 clusters so far, `0.4`, `1.0` and `1.4`, and everytime `upgrade` for us has been:
* Go through the market place installation
* Create a new cluster and install the newer version
* Try to deprecate the older one and migrate pipelines into the

[2021-06-24 22:35] pahask8 commented on #5257
Hi, for some reason, this workaround does not work for me. KF version: 1.6.0, Kubeflow  SDK 1.6.3. I used the same pipeline from the issue description. My pcv was created only once.

Thank you

[2021-06-24 22:42] hsezhiyan commented on #4692
@Bobgy I'm still seeing this issue in Kubeflow Pipelines v.1.0.0. The issue is that when I click `Terminate`, the run does not terminate and in the UI, the run is still listed as `Running`. Do you have any updates on what could be the issue?

Unlike fakeburst's situation though, I'm not seeing any init containers or retry strategies in the pod specs, so this may be a deeper issue.

[2021-06-25 00:41] Bobgy commented on #5868
Hi @zygm0nt, to utilize cache, your pipeline / component inputs need to be the same each run.
Can you confirm?

Also, which Kubeflow distribution did you install? I've heard some that do not enable the caching feature.

[2021-06-25 00:44] Bobgy commented on #5906
/cc @aronchick
who should be the best contact for Azure distribution?

[2021-06-25 00:45] Bobgy commented on #5896
Agree the feature would be a nice to have!
Welcome contribution on this

[2021-06-25 00:46] Bobgy commented on #5915
/assign @sasha-gitg @SinaChavoshi

[2021-06-25 00:48] Bobgy commented on #5913
Hi @raghavendramanandi, parameters are by design public.
You should use secret solutions for this, e.g. Kubernetes secret.

[2021-06-25 00:48] zijianjoy commented on #5912
cc @chensun

[2021-06-25 00:51] Bobgy commented on #5910
/assign @chensun

[2021-06-25 00:54] Bobgy commented on #5907
Hi @shalankig, did you specify namespace for your call? In KFP multi-user mode, namespace is required for each pipeline run (and experiment creation).

I guess the error message needs some improvement.

[2021-06-25 00:58] Bobgy commented on #5902
Hi @motilalmeher, you can find how to mount GCP service account credentials in doc: https://www.kubeflow.org/docs/distributions/gke/pipelines/authentication-pipelines/#authoring-pipelines-to-use-gsa-keys

[2021-06-25 01:02] Bobgy commented on #5901
Hi @motilalmeher, you can refer to https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/samples/core/continue_training_from_prod/continue_training_from_prod.py#L63 which sets a display name for different tasks.

[2021-06-25 01:04] Bobgy commented on #5900
Hi @swamat, we do not document ComponentsSpec very well. I'd recommend learning https://www.kubeflow.org/docs/components/pipelines/sdk/component-development/. They are the same format in different languages (python vs yaml)

[2021-06-25 01:06] Bobgy commented on #5897
Hi @boarder7395, we are redesigning caching, see https://github.com/kubeflow/pipelines/issues/5667.
The problem will be solved with the brand new caching mechanism that understands KFP semantics.

[2021-06-25 01:07] Bobgy commented on #5897
The issue you reported is expected, and we'll not fix because of v1 caching design limitations.

[2021-06-25 01:07] #5897 closed

[2021-06-25 01:09] Bobgy commented on #5893
https://dev.mysql.com/doc/refman/8.0/en/keywords.html
It says description is a nonreserved keyword, am I missing anything?

Welcome contribution if anyone figures out how to deploy KFP with mysql 8.0

[2021-06-25 03:16] jalola commented on #3445
Hi,
I am also looking for this feature, especially Pytorch, the PR for it seems pausing for some time https://github.com/kubeflow/pipelines/pull/5170

I could run the distributed training using PytorchJob (created by ResourceOp), this way has a disadvantage that it does not show the logs in the UI of the pipeline, it only shows the logs of the job controller not the worker container.

@ca-scribner

[2021-06-25 03:26] wangli1426 commented on #3445
@jalola Thanks for the info. Do you mind to share an example on how to define a PytorchJob with the help of ResourceOp? Thanks in advance.

[2021-06-25 03:44] motilalmeher opened #5917 "Pass pandas dataframe from one component to other without writing and reading"
I am currently working with a large dataset and in my pipeline there are many component. I want to make the process fast. Currently I am passing the data from one component to ther by storing it some storage and passing the path so that I can read the data from other component. Is there any way to pass the Pandas dataframe like passing strings.

[2021-06-25 04:55] #5670 closed

[2021-06-25 05:00] TrsNium commented on #5912
[code]

[code]

When I used the example function, I found that the outputDefinitions field of the compiled json was set to parameters instead of artifact information.

[2021-06-25 05:29] TrsNium commented on #5912
Could you please share any v2 compiler or compiled dsl specs to make it easier to contribute?

[2021-06-25 06:46] jalola commented on #3445
@wangli1426
The simple example of ResourceOp: https://github.com/kubeflow/pipelines/blob/master/samples/core/resource_ops/resource_ops.py

For the PytorchJob: https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/v1/pytorch_job_mnist_nccl.yaml
You can make it as json code

Remember to set on_success_condition, example:
`success_condition='status.replicaStatuses.Worker.succeeded==

[2021-06-25 06:55] zygm0nt commented on #5868
@Bobgy input params are the same in this case. I'm using the distribution provided by Google, deployable in GCP as AI Pipelines.

But this behaviour is about caching already run jobs, can this be extended to marking as finished jobs that have their outputs already calculated? Suppose I'm deploying a somewhat new pipeline, that has some steps borrowed from already running pipeline. There are some a

[2021-06-25 07:20] midhun1998 commented on #3445
Hi @jalola . Just wondering how can we stream all worker logs(when no of  workers > 1) into pipeline log console? Or were you looking for just the logs of chief? Do you have any idea in mind?

[2021-06-25 08:10] jalola commented on #3445
I only know they have the client sdk to get logs
Example:
https://github.com/kubeflow/pytorch-operator/blob/4aeb6503162465766476519339d3285f75ffe03e/sdk/python/examples/kubeflow-pytorchjob-sdk.ipynb

API: https://github.com/kubeflow/pytorch-operator/blob/master/sdk/python/docs/PyTorchJobClient.md#get_logs

But I don't know how to show the logs to a component of pipeline.

[2021-06-25 11:05] ca-scribner commented on #3445
Sorry I let this slip from my mind and now I don’t have a good way to test.
The changes requested were minor though and the code in the PR is working
still if that helps. Maybe you could finish it off

On Fri, Jun 25, 2021 at 04:10 Hung Nguyen ***@***.***> wrote:

[2021-06-25 12:48] #4715 closed

[2021-06-25 14:42] caleb-artifact commented on #5878
Any idea when this fix will land in a 1.6 release?

[2021-06-25 15:47] midhun1998 commented on #1352
I really like the approach taken by @ryandawsonuk  and @cbreuel . But a thought why can't we have a Kubeflow pipeline itself to do the CI/CD for us as it's a workflow kind. One way to achieve it would be expanding the trigger part of Kubeflow pipeline to support other triggers apart from Cron and Periodic. And the other way would be to use something like Argo Events which would trigger a simple Ar

[2021-06-25 19:11] zijianjoy commented on #5666
I have a few questions regarding writing sample pipelines and visualizing on UI:

#### Sample Pipeline

Is there a sample pipeline which writes v1 `mlpipeline-ui-metadata` artifact in V2 compatible mode using Python? It will be great  to have a pipeline to create both V1 and V2 visualization, so I can test the scenario where both V1 and V2 artifacts exist in single execution. Furthermore:

##### m

[2021-06-26 01:14] Bobgy commented on #5666
It's blocked by https://github.com/kubeflow/pipelines/issues/5831. Ideally, all v1 samples should be able to run in v2 compatible mode.

Traditionally, KFP v1 sanitizes artifact names by turning all letters to lower case and all non letter chars to `-`. Therefore, you don't need to match the exact name in python.

I think it's worth considering letting UI do the name sanitization for this specific

[2021-06-26 06:52] midhun1998 opened #5920 "Enable sorting by status in the UI"
### Feature Area

More of a productivity improvement. 🚀
/area frontend

### What feature would you like to see?
Enable sorting by status for runs under the Experiment and Runs section of UI which would filter all Running pipelines to the top.

### What is the use case or pain point?
Currently, the Kubeflow pipeline experiment UI only sorts based on start time. But sometimes when there are a lot of

[2021-06-26 07:14] zijianjoy commented on #5666
Thank you @Bobgy for the answers!

Thank you for the reference! So we cannot create python component with `-` parameter name, and cannot create yaml component with space yet. Can we use lightweight python component approach to create v1 mlpipeline_ui_metadata in v2 compatible mode? https://github.com/kubeflow/pipelines/blob/master/samples/core/lightweight_component/lightweight_component.ipynb

Or

[2021-06-26 08:21] horatiu-negutoiu opened #5921 "[sdk] run_id.run.error is None"
### Environment

*  KFP version:
1.4.1
*  KFP SDK version:
1.4.0
*  All dependencies version:
kfp                      1.4.0
kfp-pipeline-spec        0.1.8
kfp-server-api           1.6.0

### Steps to reproduce

1. Write a sample pipeline containing a component that fails on purpose and an exit handler. The parameter passed to the exit handler contains the run_id.

[code]

2. Upload the pipeline t

[2021-06-26 09:04] Bobgy commented on #5666
@zijianjoy https://www.github.com/kubeflow/pipelines/tree/f3e368410e2d29cf880cd6debc95572b636dd208/samples%2Fcore%2Fvisualization%2Ftensorboard_minio.py

You can adapt this example first. The only way to write a visualization component for both v1 and v2 compatible is to write a yaml component with artifact name `mlpipeline-ui-metadata` (it doesn't have spaces in the name).

[2021-06-27 23:35] yuhuishi-convect opened #5924 "[backend] cache-server cannot mount webhook-tls-certs"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
[Deployed locally on a kind cluster](https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/#uninstalling-kubeflow-pipelines)
kind version: `kind v0.9.0 go1.15.2 linux/amd64`

*  KFP version:  1.2.0

*  KFP SDK version:  1.2.0

### Steps to reproduce

[code]
The `cache-server` pod gets stuck in the `C

[2021-06-28 02:33] algs commented on #5893
It's been covered in [MySQL 8.0 New Keywords and Reserved Words](https://dev.mysql.com/doc/refman/8.0/en/keywords.html#keywords-new-in-current-series)

[2021-06-28 03:41] Bobgy commented on #5718
Note, there's a breaking change. When using emissary executor, your components must specify the command explicitly.

 └───⚠ build-initialization-test-image(0)  build-image       integration-test-vzl9f-2173864179  0s        when using the emissary executor you must either explicitly specify the command, or list the image's command in the index: https://argoproj.github.io/argo-workflows/workflow-exe

[2021-06-28 03:42] Bobgy commented on #5718
The breaking changes is also required for bit.ly/kfp-v2-compatible and bit.ly/kfp-v2. So I think we can introduce it now.

[2021-06-28 06:10] Bobgy commented on #5668
All is done

[2021-06-28 06:10] #5668 closed

[2021-06-28 08:45] ILLUM1N0X opened #5925 "[feature] Multi-User Pipeline Definition Isolation"
Hey guys,

According to the [official documentation](https://www.kubeflow.org/docs/components/pipelines/multi-user/#current-limitations), Pipeline definitions are not isolated currently.

**What feature would you like to see?**
I would like to see Pipeline isolation similar to what we have in Notebooks/Runs/Experiments.

**What is the use case or pain point?**
The way Pipelines are exposed current

[2021-06-28 09:40] juliusvonkohout commented on #5667
Hi @Bobgy do you have the following in mind ? https://github.com/kubeflow/pipelines/issues/5509
Or will there be a native way such that deleting runs from the pripelines webinterface will also delete the artifacts from minio and make the cacher aware that the files are gone?

[2021-06-28 10:36] Bobgy commented on #5718
user facing documentation candidate

### Breaking change
Argo emissary executor requires that each container has explicit command and args defined, refer to https://argoproj.github.io/argo-workflows/workflow-executors/#emissary-emissary.

Why we decide to adopt the breaking change? We'd have the same breaking change in bit.ly/kfp-v2-compatible and bit.ly/kfp-v2. So I think it aligns with KFP's lon

[2021-06-28 10:59] Eliacus commented on #5896
Created a small fix and opened a pull request in https://github.com/kubeflow/pipelines/pull/5927

[2021-06-28 11:41] tanzb33r commented on #3866
Hi!
I ran into exactly the same issue as described by RunOrVeith above!
Is there any update or recommended workaround to solve this issue?

[2021-06-28 12:28] Bobgy commented on #5718
Filed upstream issue for using argo emissary executor with rootless container: https://github.com/argoproj/argo-workflows/issues/6238.

The current blocker in e2e test failure is at selenium image: https://github.com/kubeflow/pipelines/blob/76f8b3e9acf09bdc5a7e7729b0dfa64dd51b922a/test/frontend-integration-test/Dockerfile#L4. It runs as non-root.

[2021-06-28 13:26] amalendur opened #5929 "kubeflow 1.2.0 (kfctl_aws.v1.2.0.yaml) install failed to build LoadBalancer configuration on AWS (eks cluster)."
/kind bug.

I have deployed a EKS cluster and on top of that cluster I am trying to deploy "Kubeflow" through GitLab pipeline.
In the pipeline script I have set the Kube-context before execute the Kubeflow config-file(kfctl_aws.v1.2.0.yaml).
I have executed the steps in the following order;
1. Deploy EKS cluster with Nodegrop (deploy through terraform)
2. Download the Kubeflow config-file from "ht

[2021-06-28 13:34] Bobgy commented on #5718
Issues discovered in argo v3.1.0:
* [ ] input/output tab does not render artifact preview
![image](https://user-images.githubusercontent.com/4957653/123645109-9c8add00-d858-11eb-8e42-61884bc22f50.png)

[2021-06-28 13:37] Bobgy opened #5930 "[frontend] artifact preview & visualization breaks with argo v3.1+"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

kfp standalone
*  KFP version: 1.7.0-alpha.1

### Steps to reproduce

![image](https://user-images.githubusercontent.com/4957653/123645232-bdebc900-d858-11eb-9735-962616f42743.png)

### Expected result

artifacts should show preview, visualizations should show up

### Materials and Reference

Root cause: argo removed some informatio

[2021-06-28 13:38] Bobgy commented on #5930
/assign @zijianjoy

[2021-06-28 15:05] #5929 closed

[2021-06-28 15:05] amalendur commented on #5929
Will create under bug.

[2021-06-28 15:14] amalendur opened #5931 "[bug] kubeflow 1.2.0 (kfctl_aws.v1.2.0.yaml) install failed to build LoadBalancer configuration(ALB) on AWS (eks cluster)."
/kind bug.

### What steps did you take
I have deployed a EKS cluster and on top of that cluster I am trying to deploy "Kubeflow" through GitLab pipeline.
In the pipeline script I have set the Kube-context before execute the Kubeflow config-file(kfctl_aws.v1.2.0.yaml).
I have executed the steps in the following order;

1. Deploy EKS cluster with Nodegrop (deploy through terraform)
2. Download the

[2021-06-28 16:44] zijianjoy opened #5932 "[Sample] Create visualization samples"
Visualization doc:
https://www.kubeflow.org/docs/components/pipelines/sdk/output-viewer/#available-output-viewers

Create pipeline examples with sample data in v1 format, so we can test them after the following issues are unblocked:

- https://github.com/kubeflow/pipelines/issues/5831
- https://github.com/kubeflow/pipelines/issues/5830

This is to prepare for validation of https://github.com/kubef

[2021-06-28 19:49] subodh101 opened #5933 "[feature] Support for authenticating kfp_server_api api_client"
### Feature Area

/area sdk

### What feature would you like to see?

A function to get auth token for configuring `kfp_server_api` api_client. I currently didn't find any function in the `kfp_server_api` class similar to the `kfp` Client class for authorization, but it turns out that retrieving the bearer token is the same. So, would it be better to add the same functionality in the `kfp_server_a

[2021-06-28 19:57] NikeNano commented on #5893
I have tried it out with MySQL 8 and [got it working](https://github.com/NikeNano/pipelines/tree/nikenano/mysql8), some [very minor things](https://stackoverflow.com/questions/49945091/latest-mysql-not-coming-up-in-kubernetes/49952285) needed to change. I can make a PR with it, could you point me to how we build the images for gcr @Bobgy?

As @Bobgy points out `description` is a `non-reserved` key

[2021-06-28 20:29] NikeNano commented on #5924
Not solving the issue but failed to reproduce with minikube:

[code]

[2021-06-28 22:40] Bobgy commented on #5893
Access to gcr is restricted to admins. I can help you upload : )

[2021-06-29 01:50] Bobgy commented on #596
+1, I think we should focus discussion on single thread: https://github.com/kubeflow/pipelines/issues/3405 where the latest discussions exist.

[2021-06-29 01:50] #596 closed

[2021-06-29 02:21] Bobgy opened #5937 "[bug] condition sample stuck in running state with argo v3.1.0"
### What steps did you take

1. run v2 sample test

### What happened:

1. it times out waiting for condition sample to finish
2. the sample runs and gets cached as usual
![image](https://user-images.githubusercontent.com/4957653/123727051-9847d980-d8c3-11eb-8793-6e9a8724ab65.png)
3. but the workflow itself is always stuck in running state

### What did you expect to happen:

the sample should fin

[2021-06-29 08:13] amalendur commented on #5931
@google-oss-robot , thank you for guidance.
I have fixed the error .
The issue was with installation directory & it has been fixed.

[2021-06-29 08:13] #5931 closed

[2021-06-29 08:51] Bobgy opened #5940 "[test infra] api server has frequent "Failed to update run" error logs"
github.com/kubeflow/pipelines/backend/api/go_client._ReportService_ReportWorkflow_Handler
InternalServerError: Failed to update run a7a0c80b-e863-45de-ad4b-a8320c64b425. Row not found

Not sure why this happens, need to confirm whether there are any leaked workflows.

[2021-06-29 08:53] Bobgy commented on #5940
There is no visible problems in test infra, but reducing noisy error message is still vastly better when trying to debug and find the actual error message.

[2021-06-29 09:03] Bobgy opened #5941 "[backend & dsl] use argo workflows v1 API"
After upgrading to argo workflows v3.1.0, the workflow CRD has upgraded to v1.
We should upgrade our backend API usages and SDK compilation targets to v1.

[2021-06-29 10:38] Bobgy opened #5942 "[pH] add PR title conventional format check"
I just learned that https://github.com/zeke/semantic-pull-requests can check PR title format.
It looks convenient to set up.

This issue is the last item of https://github.com/kubeflow/pipelines/issues/3920#issuecomment-645280671

[2021-06-29 11:08] Bobgy commented on #5941
I made a mistake, the change was that argo upgraded to CRD version v1.
But argo CRDs are still of version v1alpha1.

[2021-06-29 11:08] #5941 closed

[2021-06-29 11:33] Bobgy opened #5943 "[bug] pipelines flaky on GKE after upgrading to argo v3.1+ docker executor"
### What steps did you take

pipelines flaky after upgrading to argo v3.1.0, when using argo docker executor

1. install kfp 1.7.0-alpha.1
2. run v2 sample tests in the local cluster

### What happened:

Some pipelines fail randomly with several types of error:

`This step is in Error state with this message: Error (exit code 1): path /tmp/outputs/metrics/data does not exist in archive /tmp/argo/o

[2021-06-29 12:39] Bobgy commented on #3866
Hi @tanzb33r!
I am not aware of any updates, welcome contribution on this!

[2021-06-29 13:32] Bobgy commented on #5930
[code]

[2021-06-29 13:39] Bobgy commented on #5930
The only information related artifact repository seems to be:
[code]

[2021-06-29 14:01] Bobgy commented on #5943
Downgraded to KFP 1.6.0 and verified the same problems, they seem to be related to my GKE cluster than argo/kfp.

[2021-06-29 14:32] Bobgy opened #5944 "[frontend] incorrect DAG with argo v3.1.0"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

kfp standalone
*  KFP version: 1.7.0-alpha.1

### Steps to reproduce

1. run v2 sample test
2. note that, two steps are running at the same time, but there's a dependency edge between them:
![image](https://user-images.githubusercontent.com/4957653/123816141-a6304580-d929-11eb-92e2-892bf9501feb.png)

### Expected result

the two bui

[2021-06-29 14:34] Bobgy commented on #5944
/assign @zijianjoy

[2021-06-29 14:59] Bobgy commented on #5937
I tried to delete cache db and run the condition pipeline again without cache, but it is stuck in running state again.
![image](https://user-images.githubusercontent.com/4957653/123820962-931f7480-d92d-11eb-83a5-ab1e346485a5.png)

Conclusion: we can rule out caching from possible reasons for this.

[2021-06-29 15:07] Bobgy commented on #5937
[code]

[2021-06-29 15:10] Bobgy commented on #5937
workflow controller logs related to this pipeline run:
[code]

[2021-06-29 17:20] huangjiasingle commented on #1471
when l only use argo workflow, the  wait container also result: No such container: containerID, l read the wait code and view the wait container logs. include two case:
case one:
when main container recreated and the old main container was be gc collector deleted, the docker wait old container will return err: No such container. but pollContainerIDs will update the main container id to new created

[2021-06-29 17:27] zijianjoy commented on #5830
There is a corner case where we pass empty string to a component function: https://github.com/kubeflow/pipelines/pull/5938#discussion_r660498207.

In the example above, I passed empty string to `gcsPath` parameter, but I got `BEGIN-KFP-PARAM[]END-KFP-PARAM` within the component function. This behavior is unexpected to user, so recording this here.

[2021-06-29 18:16] zijianjoy commented on #5944
A quick walkthrough of the workflow changes in https://github.com/argoproj/argo-workflows/blame/v3.1.0/ui/src/models/workflows.ts:

There are 3 areas which have changed since 2.12.9:

1. `ContainerNode` interface: https://github.com/argoproj/argo-workflows/blame/v3.1.0/ui/src/models/workflows.ts#L296
2. interface `Template` added fields
[code]
3. interface `Template` added field `suspend?: {};` an

[2021-06-29 19:03] elikatsis commented on #5138
@karlschriek sorry for the delayed answer, the notification totally slipped through the backlog.

This PodDefault sets an environment variable and configures a projected volume on a pod.

The projected volume instructs the projection [and renewal] of a JWT token for the ServiceAccount of the pod under some specific path in the container's filesystem with some expiration time and a specific audienc

[2021-06-29 19:07] elikatsis commented on #5138
If you mean "how do I know what audience to configure", this should go hand-in-hand with the target service. Here, it's the KFP API server, which defines what it expects as an audience for the tokens it parses.

Note that we should **never** hand the ServiceAccount token itself to some service, that's why we are projecting tokens that expire (or generating via TokenRequests). The SeriveAccount tok

[2021-06-29 19:44] ErikEngerd commented on #4440
Trying this out now on kubernetes 1.21.0 with kubeflow 1.3.0 and istio 1.9.0 (docker.io/istio/pilot:1.9.0).

Unfortunately, it seems that istio no longer supports the rbac.istio.io/v1alpha1 and has replaced the ServerRoleBinding object by something else ( https://istio.io/latest/blog/2019/v1beta1-authorization-policy/). The instructions for migrating from v1alpha1 to v1beta1 are a bit complex. Do

[2021-06-29 19:56] zijianjoy commented on #5944
See a sample runtime node info about `build_kfp_launcher`:

[code]

Note that `children` has `v2-sample-test-lmx4x-1625946649`, which is `build_samples_image`. This caused the frontend thinks that there are dependencies between two steps.

[2021-06-29 20:19] zijianjoy commented on #5930
The PR which removed `s3` from workflow template: https://github.com/argoproj/argo-workflows/pull/3377

[2021-06-29 21:04] zijianjoy commented on #5930
How argo retrieve file from artifact: https://github.com/argoproj/argo-workflows/blob/43212590d4579c821280fd482b960934139eac2f/ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx#L365

How backend server reads from provided info: https://github.com/argoproj/argo-workflows/blob/0e94283aea641c6c927c9165900165a72022124f/server/artifacts/artifact_server.go#L143

[2021-06-29 21:09] zijianjoy commented on #5930
Looks like that what we are missing `bucket` and `endpoint`: `endpoint` tells us what kind of storage platform to use, `bucket` tells us the top directory to look for artifact with `key`.

[2021-06-30 00:47] Bobgy commented on #5942
Some mistakes I see often: feat(scope) title (miss :) feat(scope):title (miss space after : )

or feat (scope): title (extra space between feat and (scope))

[2021-06-30 01:29] Bobgy commented on #5944
I think containerSet and the first change you mentioned are related to argo's new introduction of container DAG in one single Pod. KFP does not plan to use them, so we can safely ignore the changes.

[2021-06-30 01:30] Bobgy commented on #5944
this is strange, can it be a bug in argo?

[2021-06-30 02:11] Bobgy commented on #5937
After some iterations, the minimal reproducing example is like:

[code]

[2021-06-30 02:39] hellobiek opened #5948 "[bug] <run Tutorial failed>"
when I run this tutiol：Run of [Tutorial] Data passing in python components

I met the error msg as follows:  This step is in Error state with this message: failed to save outputs: key unsupported: cannot get key for artifact location, because it is invalid

![Uploading 截屏2021-06-30 上午10.38.40.png…]()

[2021-06-30 06:39] Bobgy commented on #5937
Created upstream issue in argo after reproducing with a native argo workflow:
https://github.com/argoproj/argo-workflows/issues/6254

[2021-06-30 06:44] rylynchen opened #5951 "[bug] Using set_gpu_limit with bad resource manage"
### What steps did you take

Add set_gpu_limit(1) to my pipeline, then create run. But I can only create 2 runs.

In fact, my k8s have 4 nodes, and each node has 4 gpu, like that:

![gpu_1](https://user-images.githubusercontent.com/1971286/123913722-1df58300-d9b1-11eb-9c3d-c6713d81fdcd.png)

### What happened:
When I create third run, I got the error like this:
![gpu2](https://user-images.githubus

[2021-06-30 06:45] Bobgy commented on #5718
(added status update to the issue description itself: https://github.com/kubeflow/pipelines/issues/5718#issue-897774761)

[2021-06-30 07:02] #5942 closed

[2021-06-30 08:00] Bobgy commented on #5834
Generated workflow. It's clear that the error message means that the "train" template uses `{{inputs.parameters.tf_image}}` in image field, but the template does not have `tf_image` added as an input parameter.

[code]

[2021-06-30 08:03] Bobgy commented on #5835
Hi @NikeNano, we continue to welcome contribution to this.

I heard that you were blocked by permission to access v2 sample test.

Two paths forward:
* get https://github.com/kubeflow/pipelines/tree/master/v2/test to run on your env, can you share more info on how you test KFP? Would it be enough making it possible to run the entire test suite with minio only?
* grant you access to https://github.

[2021-06-30 10:01] Bobgy commented on #5675
@zijianjoy I want to propose a few more changes:
* [ ] artifact names in ML Metadata tab is empty
   ![image](https://user-images.githubusercontent.com/4957653/123941656-f14f6480-d9cc-11eb-9d5c-da57ce1fb08f.png)
* [ ] Hide ML Metadata tab from pipeline node details, because useful information from the tab is already either in input/output tab or visualizations. ML Metadata can be navigated to by c

[2021-06-30 10:50] hellobiek commented on #5948
new info: could not chroot into main for artifact collection

[2021-06-30 14:53] smthpickboy opened #5954 "[backend] missing 'v' prefix in repo tags"
When trying to use the go client in github.com/kubeflow/pipelines/backend/api/go_client, I find that `go mod` can't fetch the corresponding tags in this github repo, because all tags defined are missing the 'v' prefix and are considered non-canonical tag formats.

E.g., tag '1.5.1' should be 'v1.5.1'.

[2021-06-30 17:00] sharmahemlata opened #5955 "Wait Container is Stuck and so is the Argo Workflow Controller for Large datasets only."
### What steps did you take
I have a machine learning pipeline that runs several machine learning algorithms in parallel as components (pods in kubernetes)

When I run the pipeline on relatively small datasets (200,000 rows), the pipeline takes some time but finishes executing (3+ hours) with all components finished.

When I run the pipeline on a large dataset ([UCI poker dataset](https://archive.

[2021-06-30 17:37] akbari-ali commented on #4083
I was wondering if any work is going on this issue. We are using ResourceOp to create a spark job (via sparkOperator) in the pipeline, which has many features missing (outputs, limited job status, caching control).  While we are solving some of these limitations, it is very useful to have a more standard approach.

[2021-06-30 18:30] #5817 closed

[2021-06-30 22:41] zrlaida commented on #4877
@Bobgy the solution in #1956 is not general and does not work for other resources than memory and cpu.
Argo supports podSpecPatch also for gpu parameters see https://github.com/argoproj/argo-workflows/issues/3058
while kfp only for memory and cpu probably because of this if

https://github.com/kubeflow/pipelines/blob/b7d4b1ba7cb04e7247ade93cca02044103217faa/sdk/python/kfp/compiler/_op_to_template.

[2021-06-30 23:03] zrlaida commented on #4877
@NikeNano can you please have a look at this?

[2021-07-01 00:10] #5675 closed

[2021-07-01 05:16] KannanThiru commented on #4440
@ErikEngerd The below `AuthorizationPolicy` and `EnvoyFilter` works for me with k8s 1.18.19, kubeflow 1.3.0 and istio 1.9.5.

[code]

Function to create and run pipeline.

[code]

[2021-07-01 06:53] ra312 commented on #3711
Dear @ConverJens , did you restart ml-pipeline-ui (kubeflow UX) after editing configmap? Have you resolved the issue?

[2021-07-01 07:44] minhdang241 commented on #3607
You can get the metrics from get_run like this.
[code]

[2021-07-01 07:48] NikeNano commented on #5954
@Bobgy is there any reason for not having "v" as a prefix atm?

[2021-07-01 10:06] Bobgy commented on #5381
Cross posting for context, I think @aronchick is talking about [The SAME Project: A Cloud Native Approach to Reproducible Machine Learning - David Aronchick](https://www.youtube.com/watch?v=aQvvGKVX25I)

[2021-07-01 10:12] chensun commented on #5912
Hi @TrsNium, thanks for opening this issue with all the details. In v2, we have the  distinction between parameters and artifacts, and they have different behaviors. The decision of parameter vs. artifact is based on the user declared types. Here's our latest doc touching this topic: https://www.kubeflow.org/docs/components/pipelines/sdk/v2/v2-compatibility/#building-pipelines-using-the-kubeflow-p

[2021-07-01 10:23] #5896 closed

[2021-07-01 14:21] Bobgy commented on #5954
It was the convention from the start when we didn't consider this use-case, but I think you raised a good point for adding "v" prefix.

Welcome some discussion on what's the best way forward, do we create two tags for each release in a transition period or do we migrate to v1.7.0 like tags right away?

[2021-07-01 14:22] Bobgy commented on #5954
Also you can help by finding out the places we need to change to fit this

[2021-07-01 15:29] NikeNano commented on #5954
Looking at https://github.com/kubeflow/kubeflow and https://github.com/kubeflow/tf-operator other parts of Kubeflow seems to use the "v" prefix. I dont see any reason for keeping both, and suggest we switch right away in next release.

[2021-07-01 15:39] NikeNano commented on #5954
As I understand we dont need to change anything, looking [here](https://github.com/kubeflow/pipelines/tree/master/test/release)

we can just set the tag:

[code]

we could however force a prefix to avoid error during the release.

[2021-07-01 20:07] ErikEngerd commented on #4440
Many thanks for your example. It seems to be working now and I can open notebooks without an error message. Next up is testing whether it actually works. To make the configuration a bit more general, I replaced the label to select on in the workloadSelector by

[code]

This is a bit of a hack but it is a label that is present on all notebook servers I create within my namespace.

[2021-07-01 20:23] NikeNano commented on #5835
Yeah it was hard to debug the failing tests due to the restrictions.

I usually set up Kubeflow pipelines locally on `minikube` when  I need to run the test suits, which usually works well. However only do this if I cant manage to debug it through the integration tests.

This would be awesome!

[2021-07-01 20:30] NikeNano commented on #4877
I make a fix @zrlaida to add settings for GPU resources at runtime.

[2021-07-01 20:42] caleb-artifact opened #5962 "[backend] Failed to retry run: Workflow cannot be retried with node in Omitted phase"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Kubeflow Pipeline Standalone via kustomize manifests on GKE

*  KFP version:
1.6.0

*  KFP SDK version:
[code]

### Steps to reproduce

1. Run a pipeline with a component depending upon another failing component
2. Retry the run

[code]

### Expected result

The pipeline is retreid.

### Materials and Reference

I noticed this bug wa

[2021-07-01 21:45] zijianjoy commented on #5944
Validated offline that there is a misrepresentation of diamond workflow in argo v3.1. Created https://github.com/argoproj/argo-workflows/issues/6267 for reporting and tracking this bug.

[2021-07-01 22:55] aronchick commented on #5381
This is correct 🙂 I'll do a demo in the coming weeks - as soon as i can find the time!
________________________________
From: Yuan (Bob) Gong ***@***.***>
Sent: Thursday, July 1, 2021 3:06 AM
To: kubeflow/pipelines ***@***.***>
Cc: David Aronchick ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [kubeflow/pipelines] [feature] CLI command to run a pipeline from python files (#5381)

Cross

[2021-07-02 00:41] capri-xiyue commented on #5933
Just wanna clarify,  can you use `kfp client`  to do the authentication? What's the use case of using `kfp_server_api` instead of kfp client?

[2021-07-02 00:47] capri-xiyue commented on #5962
As https://github.com/kubeflow/pipelines/issues/5878#issuecomment-863651456 mentioned, you need to wait for next KFP release 1.7.0.

[2021-07-02 00:54] capri-xiyue commented on #5955
We are using argo version 2.x. The latest argo version is 3.x
Can you also create a issue in argo side so that argo side can confirm whether this is a argo issue that could also happen in version 3.x or it is a argo issue that only happens before version 3.x?

[2021-07-02 00:57] capri-xiyue commented on #5951
Can you help provide your definition of pipeline?

[2021-07-02 01:04] capri-xiyue commented on #5948
1. Can you help uploading the screenshot of error msg again?(You didn't upload it successfully)
2. Which KFP version are you using?
3. Which storage(minio, aws or gcp  XXX)provider do you choose for artifact storage?

[2021-07-02 01:14] capri-xiyue commented on #5917
I think argo does not support panda frame. As a workaround, can the user store panda dataframe in an artifact? @Bobgy  Can you confirm?

[2021-07-02 01:18] zijianjoy commented on #5948
Hello @hellobiek , I am able to run `[Tutorial] Data passing in python components` successfully. Would you like to confirm the cluster provider you use and Kubernetes version as well?

[2021-07-02 06:27] mjurkus commented on #5257
Facing the same issue. `VolumeOp` fails to create PVC with log message `This step output is taken from cache.`

Tried to change `resource_name`, but that workaround didn't work (if it worked before).

[2021-07-02 08:07] sharmahemlata commented on #5955
@capri-xiyue. Thanks for the quick reply. I changed the image of the workflow controller to the newest and also tried some older versions, both 2.x and 3.x have the same problem.

[2021-07-02 09:03] zhch12121 commented on #5885
Hi team, any update on this one?

[2021-07-02 14:07] mattnworb commented on #4661
/reopen

I believe this is still an issue

[2021-07-02 14:09] Bobgy commented on #5917
Thanks @capri-xiyue for the heads up!

IIUC, @motilalmeher is already writing the data to a storage as an artifact.

For clarification, the major reason data have to be in a storage between steps is that each step may run in a different node, so there has to be a way to pass the data.

Therefore @motilalmeher 's request implies that we need a way to run multiple components in one single Pod and av

[2021-07-02 14:21] Bobgy commented on #5954
Yep, probably also
* [ ] the release docs
* [ ] In some build scripts, we parse tag version

[2021-07-02 14:24] Bobgy commented on #5954
Added to release tracker

[2021-07-02 14:24] NikeNano commented on #5954
I will take a look at it further and make a PR.

[2021-07-02 14:48] Bobgy commented on #5835
Cool, then you can submit a PR for ci-team.yaml and ask me for approval.

[2021-07-02 19:41] #5885 closed

[2021-07-02 21:06] joeliedtke opened #5965 "[bug] Post submit integration tests failing - argoproj/argo repo not found"
### What steps did you take

### What happened:

The following error occurs while building the Dockerfile at `test/sample-test/Dockerfile`:

[code]

### What did you expect to happen:

`argo-linux-amd64.gz` should have been downloaded and the container should have been built.

### Environment:

*  How do you deploy Kubeflow Pipelines (KFP)?

*  KFP version:

*  KFP SDK version:

### Anything else

[2021-07-02 21:24] Ark-kun commented on #5801
There are many reasons why computer languages introduce support for typing. C++ is not using `void*` for every pointer even though that would have been possible. Same with the artifacts. Artifact is just a file (or directory of files), but nobody is proposing to remove all artifact typing and replace everything with `Blob` or `File`.

But this is exactly what's happening here. The v2 arbitrary tak

[2021-07-02 23:13] chensun opened #5967 "[sdk] Block using v2 `@component` decorator in v1 mode."
The new decorator is meant for v2 and v2_compatible mode only. We should throw an explicit error if users use this decorator but compile in v1 mode.

[2021-07-03 00:50] zijianjoy commented on #5830
Currently FE implements a hack to workaround `MLPipeline UI Metadata` name conversion, we need to make sure to update frontend to remove the hack, once SDK has made corresponding change:

https://github.com/kubeflow/pipelines/pull/5961#discussion_r662785344

[2021-07-03 02:17] joeliedtke commented on #5965
This should be fixed by [kubeflow/pipelines #5966](https://github.com/kubeflow/pipelines/pull/5966). I added [kubeflow/pipelines #5969](https://github.com/kubeflow/pipelines/pull/5969) to clean up other instances of **argoproj/argo**

[2021-07-03 08:36] Bobgy commented on #5937
I verified the bug has been fixed in argo v3.1.1

[2021-07-03 09:22] #5840 closed

[2021-07-03 10:36] chensun commented on #5801
Don't think it's a good comparison. We aren't creating a programming language, but a DSL for a specialized application -- a pipeline that runs containerized apps. It's not our goal to reach parity with a common programming language.

Artifact is not just a file, but also the metadata associated with it. Different artifact types have different sets of operations ([source](https://github.com/kubeflo

[2021-07-03 11:16] #5705 closed

[2021-07-03 12:03] Bobgy commented on #5930
I think the easiest workaround without waiting for argo upstream changes is to adjust the UI server artifacts API endpoint:
https://github.com/kubeflow/pipelines/blob/647bed72a9a18cb12a504d336af7432fa048a8e3/frontend/server/handlers/artifacts.ts#L65-L66

Changes:
* Make source & bucket args as optional, they default to the default artifact repository in the cluster
* We can adjust manifests to mak

[2021-07-03 12:52] #5937 closed

[2021-07-03 12:52] #5944 closed

[2021-07-03 15:00] Bobgy commented on #2356
/lifecycle frozen

[2021-07-03 18:14] hellobiek commented on #5948
using minio

[2021-07-03 18:14] #5948 closed

[2021-07-03 18:14] hellobiek commented on #5948
fixed by myself

[2021-07-03 23:12] Bobgy commented on #5151
/cc @DavidSpek @kimwnasptd
Looks like the issue should be fixed on notebook side

[2021-07-04 03:22] DavidSpek commented on #5151
The default notebook images contain KFP and I haven't seen this error come up when I built them.

[2021-07-04 05:23] allenc97 commented on #5151
I believe this is no longer relevant. The default behavior changed with commit https://github.com/kubeflow/manifests/commit/d36fc9c0555c936c7b71fd273b8e4604985ebba8#diff-dcdcdee366160f43e5771e4d4ccbfcb180ea8fbcfa23b07be243a326f49a2a39, as spawner_ui_config was updated to use new docker images, which presumably have KFP preinstalled.

[2021-07-04 07:24] Bobgy commented on #5151
Thanks for the update!

[2021-07-04 07:24] #5151 closed

[2021-07-04 08:11] Bobgy commented on #5830
@zijianjoy we might consider keeping the sanitization in UI permanently, because artifact naming convention changed when going to KFP v2. In v2, we will no longer sanitize artifact names automatically.

[2021-07-04 08:43] Bobgy commented on #5830
After some investigation, I think I understood the root cause.

1. Compiler `json.dumps` when encoding runtime info
https://github.com/kubeflow/pipelines/blob/07ac566fcbaf12387e5e2bef89a029e5ef183ee6/sdk/python/kfp/compiler/v2_compat.py#L139-L141
   At this point, constant text will be encoded once, but text passed from parameters are written as "{{inputs.parameters.<name>}}", therefore they won't

[2021-07-04 08:45] Bobgy commented on #5830
Therefore, I can think of two ways to fix:
* BEGIN-KFP-PARAM token should only be injected wrapping parameter placeholders, but I'm not sure whether further corner cases may exist.
* Design a new way to pass raw data, so that we do not need to play around with JSON encoding.

[2021-07-04 12:02] Bobgy commented on #5830
## Proposal

op.command + op.args will have the following sections:
1. args passed to kfp-launcher
2. a separator "--"
3. parameters in format "key1=value1", "key2=value2", ... (we need to assume keys cannot contain "=" character, is it a fair assumption?)
4. a separator "--" as end of arguments passed to launcher
5. (start of op.args) arguments of the original user program command + args

[2021-07-05 06:26] Bobgy commented on #5667
@capri-xiyue can introduce more, but our implementation is basically what you described.

When runs are deleted, their entries will no longer be used for caching.

We haven't invented a way to delete external data for users yet, because data loss would be very frightening.

[2021-07-05 06:29] Bobgy commented on #4643
Blocker is to build a new way to visualize for tfx pipelines in #3970

[2021-07-05 06:30] probirsil opened #5976 "KubeFlow Pipeline Visualization Server 1.6.0 Critical Vulnerability"
The current gcr image contains Pillow version 8.1.0 which contains critical vulnerability CVE-2021-25289. Can you upgrade the image with Pillow 8.1.1?

[2021-07-05 06:32] Bobgy commented on #5962
I think we can close now

[2021-07-05 06:32] #5962 closed

[2021-07-05 12:52] ConverJens commented on #3711
@ra312 I actually redeployed all ml-pipieline components apart from Minio and Mysql so I don't know which is required. However, I don't think the UI has anythinh to do with this but rather it's the api server that needs restarting. The UI will simply pick up the logs as any other artifact.

[2021-07-05 14:09] midhun1998 commented on #651
+1 on this issue.
This issue could solve the CD approach partially too. We could have an argo workflow which could do CD for us. This workflow could be triggered using GitHub webhook.

[2021-07-06 03:02] Bobgy commented on #5779
https://github.com/kubeflow/testing/commit/03c625828ac9cc13283bd226371280b0f5704c09
updated kfp-ci test cluster to 1.7.0-alpha.2 for further testing

[2021-07-06 03:05] Bobgy opened #5977 "[v2compat] UI features for cached tasks (size/S)"
For cached tasks, the following are helpful on UI:

- [x] *  cached status icon
- [x] * a link to cached execution
- [ ] * (p1) a link to original execution this cache is taken from
- [ ] * (p2) the original execution should have a link to the original run (deleting the original run will invalidate cache)
- [x] * (p2) the run details page should ideally support using url hash to select a node, so

[2021-07-06 03:08] Bobgy commented on #5667
Hi @zijianjoy, I just realized you'll need to make a small change https://github.com/kubeflow/pipelines/issues/5977 for caching.
You can coordinate with @capri-xiyue for how to do that

[2021-07-06 03:18] Bobgy opened #5978 "[v2compat] Unify pipeline name and pipeline context name"

[2021-07-06 03:22] Bobgy commented on #5783
Cleaning up MLMD entries requires upstream feature request: https://github.com/google/ml-metadata/issues/69

[2021-07-06 08:53] basti-j commented on #2837
Having the same issue with a `Stdout` collector and a `TFJob` whose Katib job works without any problems via the Katib UI. Triggering the Katib job via pipeline with the katib-launcher by loading the same specs, creates the experiment but no trials are started.
KF: 1.3
K8s: 1.19

[2021-07-06 10:02] TrsNium opened #5980 "[bug(sdk)] serializer does not work for complex type hint."
### What steps did you take
[code]

When a type is specified for a dict like the one above, or a type hint is added to a list element, the return value is serialized as  string type. This behavior may result in incorrect deserialization. This happens because we are only looking at one type name.
ref. https://github.com/kubeflow/pipelines/blob/df1ab4db5e72e2ddb6f098343a3faf51599087d1/sdk/python/kfp

[2021-07-06 10:04] TrsNium commented on #5980
The typing hints using `typing` did not work, which is fixed in the PR here.
https://github.com/kubeflow/pipelines/pull/5979

[2021-07-06 14:57] caleb-artifact commented on #5962
Ah got ya.  I think what confused me is that v1.5.1 included the fix and I had linked that comment to the 1.5.1 release because the author was using 1.5.0 and thus 1.5.1 would be the "next release" for their KFP version.

[2021-07-06 17:26] blublinsky commented on #3875
Any solution for this problem? Workarounds?

[2021-07-06 19:52] sidpalas commented on #5893
FWIW, I have successfully deployed KFP 1.5.0 on GKE with MySQL 8 running in CloudSQL.

I haven't done much testing yet but was able to successfully run some pipelines and store the associated data.

[2021-07-06 20:08] NikeNano commented on #5893
Awesome, let me know if you get some issues!

[2021-07-07 00:16] aronchick opened #5982 "[backend] How to specify python files to include using create_component_from_func"
I have a deployment like the following:

[code]

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-07 02:16] #5803 closed

[2021-07-07 02:18] Bobgy opened #5984 "[v2compat] remove redundant fields “pipeline_name”, “pipeline_run_id” from execution custom properties"
These fields are already present in pipeline/pipeline run contexts (size/XS)

[2021-07-07 02:20] Bobgy opened #5985 "[v2compat] move types from `kfp.XXX` namespace to `system.XXX` namespace"

[2021-07-07 02:20] Bobgy opened #5986 "[v2compat] re-evaluate execution custom properties schema"
* [ ] rename task execution `task_name` to `display_name`?

[2021-07-07 03:35] nongqiqin commented on #5718
“This step is in Error state with this message: failed to save outputs: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?”

Used
`kubectl -n kubeflow patch configmap/workflow-controller-configmap --type='json' -p='[{"op": "replace", "path": "/data/containerRuntimeExecutor", "value": "emissary"}]'`

`kubectl edit deployment/workflow-controller -n kube

[2021-07-07 04:03] Bobgy commented on #5718
@nongqiqin how did you deploy KFP and argo? You need at least KFP 1.7.0-alpha.2 to get an argo version of v3.1.1. v3.0.x and before do not support emissary executor

[2021-07-07 05:47] nongqiqin commented on #1471
`pns` is the key , it work for me , 3Q

[2021-07-07 07:35] juliusvonkohout commented on #5718
Yes you need to upgrade to argo 3.1 first

[2021-07-07 10:24] sachithmuhandiram commented on #4258
We are having the same issue with microk8.

as @vpavlin suggested, I had checked storageclasses.

[code]

Disk and ram spaces are available in the node.

[2021-07-07 14:55] Bobgy opened #5987 "[v2compat] key samples to show off new features"
Samples:
* [ ] Consume artifact by URI sample (use tfjob etc)
* [ ] Support for components that can produce/consume MLMD metadata
* [ ] Visualize v2 metrics -- components can output metrics artifacts that are rendered in UI. [Sample pipeline](https://github.com/kubeflow/pipelines/blob/307e91aaae5e9c71dde1fddaffa10ffd751a40e8/samples/test/metrics_visualization_v2.py#L103) (UI not working)
* [ ] Pip

[2021-07-08 02:07] #4507 closed

[2021-07-08 02:07] #3955 closed

[2021-07-08 02:07] #4543 closed

[2021-07-08 02:07] #4494 closed

[2021-07-08 02:07] #1438 closed

[2021-07-08 02:07] #2416 closed

[2021-07-08 02:07] #3888 closed

[2021-07-08 02:08] #3820 closed

[2021-07-08 02:08] #4272 closed

[2021-07-08 02:10] DianaDai commented on #4649
@arllanos Can you tell me when this feature will be released，thx.

[2021-07-08 02:15] Bobgy commented on #448
/reopen
/lifecycle frozen

[2021-07-08 02:16] Bobgy commented on #5366
/lifecycle frozen

[2021-07-08 06:39] TrsNium commented on #5912
Hi @chensun
`typing.Dict` and `typing.List` is not worked, so fix that in this PR https://github.com/kubeflow/pipelines/pull/5979  .

[2021-07-08 08:14] #3814 closed

[2021-07-08 08:14] #3998 closed

[2021-07-08 08:14] #4528 closed

[2021-07-08 08:14] #4268 closed

[2021-07-08 08:14] #3798 closed

[2021-07-08 08:14] #3736 closed

[2021-07-08 08:15] #2449 closed

[2021-07-08 08:15] #4304 closed

[2021-07-08 08:15] #4447 closed

[2021-07-08 08:15] #4497 closed

[2021-07-08 08:15] #4517 closed

[2021-07-08 08:15] #2534 closed

[2021-07-08 08:15] #4381 closed

[2021-07-08 08:15] #4454 closed

[2021-07-08 08:15] #4488 closed

[2021-07-08 08:15] #4414 closed

[2021-07-08 08:15] #4489 closed

[2021-07-08 08:15] #2999 closed

[2021-07-08 08:15] #4472 closed

[2021-07-08 08:15] #1203 closed

[2021-07-08 08:15] #4247 closed

[2021-07-08 08:15] #4435 closed

[2021-07-08 08:15] #4455 closed

[2021-07-08 08:15] #4458 closed

[2021-07-08 08:15] #1998 closed

[2021-07-08 08:15] #4433 closed

[2021-07-08 08:15] #4443 closed

[2021-07-08 08:15] #4452 closed

[2021-07-08 08:37] Bobgy commented on #4482
/reopen

[2021-07-08 08:39] Bobgy commented on #4482
/lifecycle frozen

[2021-07-08 09:14] #4374 closed

[2021-07-08 09:14] #4378 closed

[2021-07-08 09:14] #4333 closed

[2021-07-08 09:14] #4388 closed

[2021-07-08 09:14] #2816 closed

[2021-07-08 09:14] #4387 closed

[2021-07-08 09:14] #4380 closed

[2021-07-08 09:14] #4289 closed

[2021-07-08 09:14] #4329 closed

[2021-07-08 09:14] #4330 closed

[2021-07-08 09:36] Bobgy commented on #4194
/reopen
/lifecycle frozen

[2021-07-08 09:37] Bobgy commented on #4374
Cc @zijianjoy, we are already supporting this feature for v2 visualization

[2021-07-08 16:46] harshsaini commented on #3101
Hey folks, I noticed that the PRs for this feature are all closed along with this issue as well. Has this feature been added to Kubeflow Pipelines or has it been abandoned?

[2021-07-08 17:28] harshsaini opened #5995 "[feature] Avoiding busy waiting for long running external tasks"
### Feature Area

/area backend
/area sdk

### What feature would you like to see?

Kubeflow Pipelines does not support a way to intermittently poll for completion of longer running tasks on an external system. Request: Create an op that allows for intermittent polling or execution to determine if an external task has finished.

### What is the use case or pain point?

The use case is around model

[2021-07-08 19:05] zijianjoy commented on #5930
Thank you @Bobgy for the suggestion! I will look into it.

After the update of https://github.com/argoproj/argo-workflows/issues/6255, I can retrieve the `s3` artifact detail in `status`. For example: for KFP tutorial `[Tutorial] Data passing in python components (ac491)`:

[code]

However, KFP API response didn't have this info under `pipeline_runtime` -> `workflow_manifest` field. We might need

[2021-07-08 19:52] amitripshtos commented on #3101
Unfortunately Kubeflow Pipelines maintainers thought that the feature
should not be part of the engine at the moment. I think the discussion
exist in this issue or one of the PRs.

On Thu, Jul 8, 2021, 19:46 Harsh Saini ***@***.***> wrote:

[2021-07-08 22:30] Bobgy commented on #3101
We are tracking the feature request in https://github.com/kubeflow/pipelines/issues/3454.

Do you have any use cases besides that?

Thumbs up on the issue to bump priority 🙂

Currently, we are working on bit.ly/kfp-v2, so the decision was to limit expansion of features until we have a more solid foundation. We can reconsider the open feature request in the future

[2021-07-08 22:57] harshsaini commented on #3101
Thanks @amitripshtos  and @Bobgy for replying.

I do have a few use cases that are different from the ones listed above and I am mostly interested in this feature as a workaround for my use case.

The use case I am trying to resolve is avoiding busy waiting on pipelines when a long running external task is started via pipelines. Currently, the only way to detect completion of such tasks is via a b

[2021-07-08 23:34] Ark-kun commented on #5982
There are several possible solutions to this.

First thing to understand is how the `create_component_from_func` function works. This function realizes the "Lightweight python components" feature.
All KFP components are `ComponentSpec` files (`component.yaml`). Many people write them manually and that's fine. But for python functions I've added a way to *generate* the `component.yaml` from the fun

[2021-07-08 23:35] Ark-kun commented on #5924
Can you please check and post the `cache-deployer` logs?

[2021-07-08 23:40] Ark-kun commented on #5910
Can you please describe your scenario?
The command-line code generated by `create_component_from_func` is only intended to be run as a program.

Am I understanding you correctly - multiprocessing cannot be used inside python lightweight component since it needs to be able to import the current file as a module?

[2021-07-08 23:48] Bobgy commented on #5138
Besides the existing PR, we should document how to configure the serviceaccount projection volume.

[2021-07-08 23:58] yuhuishi-convect commented on #5924
`cache-deployer` log

[code]

[2021-07-09 00:19] steveplazafb commented on #5910
Correct.  At least as I understand it, if you "fork" (in a non-linux environment) or "spawn" a process during multi-processing, it will re-import the main module which will cause code to re-execute if it is not if guarded.

Let's say I create a component foo:

def foo():
  print("inside")
  # code that starts multiprocessing

When KFP serializes this function to yaml, the script creates a temporar

[2021-07-09 00:22] zijianjoy commented on #4374
Thank you @Bobgy for the cc!

Yes you can now use function parameter name to specify the visualization title. Example: https://github.com/kubeflow/pipelines/pull/5781, in this case the name is `metrics`, which comes from https://github.com/kubeflow/pipelines/blob/master/samples/test/metrics_visualization_v2.py#L90

[2021-07-09 00:47] zijianjoy commented on #5995
Hello @harshsaini , for now you can create two components, one for launching the Katib jobs, another for waiting for this external job to finish.

For the performance issue, we need to implement a control plane concept to introduce a watcher for external job completion. This is currently blocked for the introduction of control plane. We will prioritize it accordingly.

[2021-07-09 00:48] #5965 closed

[2021-07-09 04:00] Bobgy commented on #5943
I'm seeing this again on test infra:
https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/d249c419-a9a7-4653-8212-856f87ad1e91
https://4e18c21c9d33d20f-dot-datalab-vm-staging.googleusercontent.com/#/runs/details/cb35184f-60a5-44e1-832d-6ec1d7866c98

[2021-07-09 04:30] nongqiqin commented on #4440
KannanThiru and you
AAAA!!!!3Q , Your solution is useful to me

[2021-07-09 05:02] #5830 closed

[2021-07-09 05:19] munagekar opened #6001 "[feature] CRD for Recurring Run"
### Feature Area

/area backend

### What feature would you like to see?

A CRD for recurring run. To make it possible to delete recurring runs with kubectl. Currently it is possible to delete and create recurring runs only with sdk or kubeflow gui, there is no state for recurring runs on the cluster.

Kubernetes has CronJobs, similarly pipeline runs are tracked with [workflow](https://argoproj.gi

[2021-07-09 06:06] Bobgy commented on #5943
Restarted nodepools and the issue is temporarily resolved

[2021-07-09 06:13] Bobgy commented on #5943
Just saw a different type of error:
https://github.com/kubeflow/pipelines/pull/5970#issuecomment-876941351

[2021-07-09 06:38] #5819 closed

[2021-07-09 07:31] #5789 closed

[2021-07-09 08:31] Itega opened #6002 "[bug] No cache in recurring runs"
### What steps did you take

- Create a pipeline with two steps and data passing
- Compile it
- Create a recurring run via KFP UI and schedule a periodic run every minutes/hours/days (doesn't change anything)

### What happened:
- Second run does not use cache from the first run

### What did you expect to happen:
- Second run should use cache from the first run

### Environment:

*  How do you de

[2021-07-09 10:50] swamat commented on #5597
I am able to artifact files and logs in s3 now after following this https://github.com/e2fyi/kubeflow-aws/tree/master/pipelines

[2021-07-09 10:50] #5597 closed

[2021-07-09 11:22] munagekar commented on #5955
@sharmahemlata While I am missing context. This seems like an issue of data-passing between containers. I suspect you are incorrectly using inputValue instead of inputPath for a large file. causing this issue. This is probably causing OOM and throttling.

You can read up further on: https://www.kubeflow.org/docs/components/pipelines/reference/component-spec/ on how to use inputPath.

[2021-07-09 17:37] zijianjoy commented on #5830
I see, thank you for confirming!

[2021-07-09 17:59] zijianjoy commented on #5367
/lifecycle frozen

[2021-07-11 00:45] Ark-kun commented on #3445
You could just print them.

[2021-07-11 01:27] Ark-kun commented on #5924
Could you try restarting the `cache-deployer`?
It had tried to get your cluster version `kubectl version --output json`, but failed to connect. Then it failed to download the proper kubectl version.

[2021-07-11 01:30] Ark-kun commented on #5910
Thank you for the explanation.

I think this is a desirable feature request.

[2021-07-11 03:44] Bobgy opened #6010 "[pH] adopt skaffold?"
## Problem

When developing KFP, we have ad hoc scripts for building images and deploying them to the cluster. It's painful to maintain all the scripts, document & educate people to use them.

Besides that, we lack a way to deploy from head with one single command, which is often useful for testing.

## Proposal

Adopt https://skaffold.dev/docs/, whenever we want to develop and test, just run:

[c

[2021-07-11 13:29] munagekar commented on #6002
I have seen this issue occurring in one of the clusters that I maintain. Try restarting the deployment called `cache-server`.

[code]

[2021-07-11 15:49] juliusvonkohout commented on #5411
@yanniszark is still see metacontroller in a multi-user kubeflow 1.3.1-rc0 install. Do you know why it is still installed?

[2021-07-11 23:11] Bobgy commented on #5411
Hi @juliusvonkohout, metacontroller is not application controller (this issue's topic). Did you confuse them together?

[2021-07-12 03:31] Bobgy opened #6014 "[pH] prepare KFP for K8s 1.22"
Deprecated APIs in k8s 1.22: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22

TODOs:
* [x] move CRDs to v1 version: https://github.com/kubeflow/pipelines/search?q=apiextensions.k8s.io%2Fv1beta1&type=  #6679
* [x] move cluster role and cluster role binding to v1 version, got warning message:
[code]
* [x] Upgrade third-party dependencies to a version with v1 crd, including ap

[2021-07-12 03:34] Bobgy opened #6015 "[release] 1.8.0 tracker"
TODOs:
* [x] https://github.com/kubeflow/pipelines/issues/7148
* [x] #6014
* [x] #6987
* [x] change emissary executor to default
* [x] MLMD upgrade to v1.5.0
* [x] Argo upgrade to v3.2.3

[2021-07-12 06:40] jalola commented on #3445
I am using k8s_client API (Watch and read_namespaced_pod_log) to stream the logs from training pod. This one works.
PyTorchJobClient get_logs(follow=True) does not stream line by line of the logs but the whole logs (when the training finishes).

@Ark-kun Another trouble I find when using launch_crd is that: on the Kubeflow pipeline, if users Terminate the run of the pipeline, only the training con

[2021-07-12 07:40] Itega commented on #6002
Thanks for your answer !
Unfortunately, this did not change anything and the cache is still not working in recurring runs.

[2021-07-12 13:31] jhamet93 opened #6018 "[feature] Passthrough any supported Kaniko Argument"
### Feature Area

/area sdk

### What feature would you like to see?

The ability to pass through any Kaniko supported argument to kfp.containers.ContainerBuilder.build to build the Pod spec with.

### What is the use case or pain point?

For internal users of Twitter, we would like the ability for them to specify any supported Kaniko argument to kfp.containers.ContainerBuilder.build to build thei

[2021-07-12 15:01] jhamet93 opened #6019 "[feature] Ability to Specify Kaniko Job Name"
### Feature Area

 /area sdk

### What feature would you like to see?

The ability to specify the name of the `kaniko` Job generated by kfp.containers.ContainerBuilder

### What is the use case or pain point?

For internal users of Twitter, we want to track the state of their image building jobs to display in different mediums such as a Web Dashboard or CLI command.  Since the name is currently ra

[2021-07-12 15:54] Udiknedormin opened #6020 "[sdk] Some keys in json used in ParallelFor break compilation"
### Environment

*  KFP SDK version: 1.6.3
*  All dependencies version:
  * kfp 1.6.3
  * kfp-pipeline-spec 0.1.8
  * kfp-server-api 1.4.1

### Steps to reproduce

Create a pipeline where `dsl.ParallelFor` either:
* accepts a list literal with the first item being a dictionary with `"name"` key
* accesses its item's `.name` field
* both (behaves like the first one)

In the first and third case, th

[2021-07-12 16:15] jackwhelpton commented on #4708
It'd still be really handy to have this feature: this is a blocker for us sharing component code directly from GitHub Enterprise... a review of the above PR would be great.

[2021-07-12 18:56] zijianjoy commented on #5932
Consider the possibility of adding yaml sample for visualization.

[2021-07-12 22:35] zijianjoy commented on #5791
Thank you Yuan!

I confirm that we can get the related `kfp.PipelineRun` context using `Execution ID`. However, I don't see custom properties for pipeline run ID, is there a reference to the code for adding this property?

[2021-07-13 00:51] aronchick commented on #5982
This is really interesting! I think what I'm going to try first is just to pickle all files in the sub directories, and inline them into the generated root file. I think this will work though is obviously pretty fragile (assumes all sub files are of a certain layout/etc).

The challenge here, of course, is we do WANT data scientists breaking out their functions into submodules without having to bu

[2021-07-13 02:52] Bobgy commented on #5954
@capri-xiyue is facing release problems related to this change

[2021-07-13 02:53] capri-xiyue commented on #5954
I encountered errorStep #49 - "tagCacheServerForMarketplace": Error parsing reference: "gcr.io/ml-pipeline/google/pipelines/cacheserver:" is not a valid repository/tag: invalid reference format when I tried to make a release.

[2021-07-13 06:31] Bobgy commented on #5954
We resolved the issue, it's not related to this change.

However, I do find one issue that's related to this change.
Sent out PR https://github.com/kubeflow/pipelines/pull/6025

[2021-07-13 06:39] Bobgy commented on #5835
@NikeNano it seems that you haven't been added automatically to ci-team google group, see https://groups.google.com/a/kubeflow.org/g/ci-team/members.

let me troubleshoot why the automation broke

[2021-07-13 06:47] Bobgy commented on #5835
I found some error syncing the `ci-team.yaml` file,

.com/kubeflow/internal-acls/google_groups/pkg/api.ReadGroups\n\t/workspace/pkg/api/util.go:38\nmain.run.func1\n\t/workspace/cmd/main.go:234\nmain.run\n\t/workspace/cmd/main.go:277\nmain.glob..func1\n\t/workspace/cmd/main.go:52\ngithub.com/spf13/cobra.(*Command).execute\n\t/go/pkg/
mod/github.com/spf13/cobra@v1.1.1/command.go:854\ngithub.com/spf1

[2021-07-13 06:50] Bobgy commented on #5835
Fixed that in https://github.com/kubeflow/internal-acls/commit/c900718e0738c27289a3b19c674ef78c1f86b672

[2021-07-13 06:50] Bobgy commented on #5835
Hi @NikeNano, you are now part of the ci-team@kubeflow.org!
Welcome, and you should be able to visit kfp v2 sample test infra now!

[2021-07-13 07:08] sharmahemlata commented on #5955
@munagekar sorry for the delayed response. All data is mounted into the container from volumes. Here is the pod definition, the value is never used.
`kind: Pod
apiVersion: v1
metadata:
  name: kadet-decision-tree-pipeline-46c82-920905615
  namespace: default
  selfLink: /api/v1/namespaces/default/pods/kadet-decision-tree-pipeline-46c82-920905615
  uid: 169b39ad-ac41-4572-8dd4-e38e87337a58
  resour

[2021-07-13 07:13] rebsp opened #6026 "[bug] v2 Tutorial pipeline failed at PutParentContexts"
### What steps did you take

1. Deploy kubeflow pipelines (using kind) on local cluster according to: https://www.kubeflow.org/docs/components/pipelines/installation/localcluster-deployment/
2. Build a sample pipeline with v2 SDK according to: https://www.kubeflow.org/docs/components/pipelines/sdk/v2/build-pipeline/
3. Upload generated pipeline.yaml file to kubeflow pipelines frontend, use default

[2021-07-13 07:25] Bobgy commented on #3412
/lifecycle frozen

[2021-07-13 07:31] Bobgy commented on #5791
You are right, it's not currently logged there.
Let me add it first

[2021-07-13 08:37] Bobgy commented on #5954
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-mkp-e2e-test/1414831787711926272#1:build-log.txt%3A1234

it seems marketplace also do not like tags with v prefix for full semver version.

[2021-07-13 08:59] rebsp commented on #6026
Nevermind, found it:
https://github.com/kubeflow/pipelines/blob/ec9021f5b04521d394fb3a95903b86b478bf6550/v2/test/README.md

[2021-07-13 08:59] #6026 closed

[2021-07-13 12:42] ra312 commented on #3711
Thanks, @ConverJens! I will try to do the same.

[2021-07-13 14:29] Bobgy commented on #5930
@zijianjoy yes, it's expected that we need to update kfp api server and kfp persistence agent to make the new fields show up in the response to KFP UI.
I've included the changes in https://github.com/kubeflow/pipelines/pull/6027. You can first test by editing images for ml-pipeline and ml-pipeline-persistence-agent deployments.

Try:
* gcr.io/ml-pipeline-test/d4e24cc2de6be0448c67508198f3163fb261c9

[2021-07-14 00:09] zijianjoy commented on #5930
@Bobgy Thank you Yuan! I replaced both images on a `1.7.0-alpha.2` cluster, and I ran the v1 pipeline `[Tutorial] Data passing in python component`. But the workflow output is still the same as before. Am I missing some other steps for applying this change?

[2021-07-14 00:16] zijianjoy commented on #5930
I might need to replace `workflow-controller` with https://github.com/kubeflow/pipelines/pull/6027/files#diff-51ad04b116a62f170e26dd77721528424f95fbc1df7adcd2a325bdaa100dac08 as well.

[2021-07-14 02:36] Bobgy commented on #5930
Yes, you need to replace workflow-controller too.
I'd recommend install by checking out my PR locally and `kubectl apply -k manifests/kustomize/env/dev`, it will have all the latest images for argo workflow controller.

Then edit images manually for api server and persistence agent.

I didn't have time to test yesterday, will have a try now

[2021-07-14 02:40] Bobgy commented on #5930
I just tested this, and confirmed artifactRepositoryRef now contains the full spec for responses to UI.

See the example I got (edited version):

[2021-07-14 02:41] jalola opened #6033 "[bug] Pipeline does not retain the logs as an artifact for failed/crash component: Failed to retrieve pod logs"
### What steps did you take

1. Create a pipeline
2. Make a component with some bug so it will crash later in the pipeline
3. Run the pipeline until the component fail
4. Wait for the pod to be deleted

### What happened:
5. Check the Logs tab of that pod, it shows "Failed to retrieve pod logs."
6. Check the Input/Output of that pod, no main logs was saved

### What did you expect to happen:
I thi

[2021-07-14 03:32] Bobgy commented on #5954
Also found that python package version should not have the 'v' prefix either: https://www.python.org/dev/peps/pep-0440/.

I feel that we should only add the 'v' prefix on git tags, but avoid it in other cases. It might take quite some trial and error to figure out which versions require the v prefix and which don't.

@NikeNano I'm leaning towards reverting the PR and revisit it in the next release

[2021-07-14 03:51] Bobgy commented on #5638
@zijianjoy did you already fix this in your recent PR?

[2021-07-14 03:53] Bobgy commented on #5303
@AlirezaSadeghi did you read the docs: https://www.kubeflow.org/docs/distributions/gke/pipelines/upgrade/?

[2021-07-14 03:55] Bobgy commented on #5303
Regarding this issue, I also just learned that tfx templates may override to use `tfx-template` as label value: https://github.com/tensorflow/tfx/blob/985105d58d04292163fd1e25d51a319d32448b9a/tfx/experimental/templates/penguin/kubeflow_runner.py#L66.

So KFP should match loosely, any label value with the word tfx should be ignored by KFP cacher and metadata-writer.

[2021-07-14 05:24] #5303 closed

[2021-07-14 13:01] Bobgy commented on #4692
Hi @hsezhiyan, can you try latest KFP releases? KFP 1.0.0 has been a while and I'm not seeing this problem in latest KFP releases.

[2021-07-15 02:34] dutingda opened #6048 "[feature] Return a list of runs' metadata including run parameters sorted by run details"
### Feature Area

 area sdk

### What feature would you like to see?

I just need help about the query the above result, is there a way to do that?
I need to query the list of runs that is filtered by the start time and get the metadata
of the run parameters for all the runs. But not sure about which SDK I need to use
and how it should be used since the documentation does not provide enough detail

[2021-07-15 03:53] #5978 closed

[2021-07-15 07:15] swamat opened #6049 "[frontend] Metrics not getting displayed in kubeflow UI after changing the storage to s3"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?https://www.kubeflow.org/docs/distributions/aws/deploy/install-kubeflow/
kubeflow 1.2 on aws

*  KFP version: 1.0.1

### Steps to reproduce

The artifacts were getting stored in minio initially. Changed the storage to s3. After that am unable to see the metrics in run output

### Expected result Metrics getting displayed on run output

[2021-07-15 07:25] #5820 closed

[2021-07-15 07:37] capri-xiyue commented on #5818
fixed by https://github.com/kubeflow/pipelines/pull/6007#issuecomment-878720326

[2021-07-15 07:38] #5818 closed

[2021-07-15 08:44] #5930 closed

[2021-07-15 09:56] aniruddhachoudhury commented on #4440
Lets say i want to run pipeline from default namespace and i have wrapped the kubeflow API in FastAPI in python so what will be the steps for the  envoyfilter yaml for default namespace?

[2021-07-15 11:31] Bobgy opened #6053 "[backend] visualization server image size increased from 1.3G to 6.4G"
Look at existing visualization server image sizes: gcr.io/ml-pipeline/visualization-server
Compare that with newly built size: gcr.io/ml-pipeline-test/visualization-server@sha256:fb3768db11f2a0bc6f3a94e7191d32eaa2bdaf53a6ca38d2d03de0f6f47c5ede

I think the change is caused by using tfx image as base: https://github.com/kubeflow/pipelines/commit/290d201cdf0baae27f3e79ad6add7d81af2249c8. Maybe we sh

[2021-07-15 14:16] Bobgy commented on #5984
the issue is too small to track

[2021-07-15 14:16] #5984 closed

[2021-07-15 20:00] dutingda opened #6056 "[backend] Mounting volume using mount_pvc will mount volume in any condition and will not mount only if I delete the code"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
*  KFP version:  1.0.0
To find the version number, See version number shows on bottom of KFP UI left sidenav. -->
*  KFP SDK version: 1.0.0

### Steps to reproduce

I used the kubeflow python sdk `train.apply(mount_pvc('claim-name', 'pipeline', '/mnt/pipeline'))`
and I have an argument of a if statement
if something: train.apply(moun

[2021-07-15 20:36] #5315 closed

[2021-07-16 00:41] Bobgy commented on #2523
/assign @zijianjoy

[2021-07-16 00:41] #5564 closed

[2021-07-16 00:43] Bobgy commented on #5101
@amitripshtos sorry for the late reply, can you still see this problem?

[2021-07-16 00:43] Bobgy commented on #6020
/assign @chensun

[2021-07-16 00:48] zijianjoy commented on #6001
@munagekar Welcome contributing to create a CRD for this feature!

[2021-07-16 00:51] Bobgy commented on #6056
/assign @chensun

[2021-07-16 00:57] helinwang opened #6059 "[sdk] building google_cloud_pipeline_components does not include YAML files"
### Steps to reproduce

Follow the instructions at https://github.com/kubeflow/pipelines/tree/master/components/google-cloud
e.g.,
[code]
The resulting wheel file does not include the yaml files.

[2021-07-16 00:57] Bobgy commented on #6049
This is a current limitation. Welcome contributions!

[2021-07-16 01:01] helinwang commented on #6059
The package from `pip install google_cloud_pipeline_components` does not include YAML files. But there should be YAML file in the SDK. E.g., https://github.com/kubeflow/pipelines/blob/master/components/google-cloud/google_cloud_pipeline_components/experimental/gcp_launcher/component.yaml

[2021-07-16 01:02] Bobgy commented on #6048
Hi @dutingda, you can follow this example for filtering (same feature exists for runs too): https://www.kubeflow.org/docs/components/pipelines/tutorials/sdk-examples/#example-2-listing-pipelines-with-a-filter.

Please let us know what's missing from documentation and feature

[2021-07-16 01:04] zijianjoy commented on #6059
/assign @SinaChavoshi

[2021-07-16 01:06] zijianjoy commented on #6033
Hello @jalola , this is related to Argo workflow issue, would you like to create an issue there to resolve this problem? https://github.com/argoproj/argo-workflows

[2021-07-16 01:07] Bobgy commented on #6019
/cc @chensun
I think we welcome contributions if you would like to.

[2021-07-16 01:09] Bobgy commented on #6018
/cc @chensun

[2021-07-16 01:13] Bobgy commented on #5982
/cc @chensun

[2021-07-16 01:14] zijianjoy commented on #6002
Hello @Itega ,

Cache will be enabled only when workflow template is the same between first pipeline **run** and second pipeline **run**. Would you like to share the first and second pipeline run pods information?

[2021-07-16 01:16] Bobgy commented on #5764
@elikatsis shall we document this on MiniKF side?
Can we close the issue now?

[2021-07-16 01:19] helinwang commented on #6059
I found a way, need to include lines like
    package_data={'google_cloud_pipeline_components': ['google/automl/tabular/*.yaml']},
in setup.py, reference: https://screenshot.googleplex.com/BFyR2qutgQs9GdH

I think we need to add the intended yaml.

[2021-07-16 01:25] Bobgy commented on #4692
For people coming here, https://github.com/argoproj/argo-workflows/issues/6256 might be another reason terminate does not work (it times out with 524 error)

[2021-07-16 01:27] hsezhiyan commented on #4692
@Bobgy sure our company is planning to upgrade KFP in the next few weeks, so I'll test it and report back here. Thanks for the response!

[2021-07-16 03:14] Bobgy commented on #6049
Related code:
* persistence agent calls read artifact API in backend to read metrics artifacts: https://github.com/kubeflow/pipelines/blob/fff62e1521e89dd31c87eec03073b8f8627d73a3/backend/src/agent/persistence/worker/metrics_reporter.go#L149
* read artifact API gets object using the object store: https://github.com/kubeflow/pipelines/blob/fff62e1521e89dd31c87eec03073b8f8627d73a3/backend/src/apiser

[2021-07-16 03:16] #6053 closed

[2021-07-16 06:31] Bobgy opened #6063 "[pH] v2 sample test - enable kaniko caching"
https://cloud.google.com/build/docs/kaniko-cache

this will help improve local testing speed
https://github.com/kubeflow/pipelines/blob/master/v2/test/components/kaniko.yaml

[2021-07-16 07:09] Bobgy opened #6065 "[frontend] console errors like "Unable to find corresponding tab name for MANIFEST" in run details page"
/assign @zijianjoy

there is an error message for each enum

[code]

[2021-07-16 07:11] Bobgy commented on #6065
I think the problem happens in the line
[code]

In typescript, an enum object also contains look up map for the string -> enum conversion, so 'MANIFEST', 'INPUT_OUTPUT', each enum key is also iterated here.

[2021-07-16 07:32] Itega commented on #6002
Hello @zijianjoy ,
I will happily provide you any needed information, here are the first and second runs pods information :

Recurring run :
-   First run, First step : https://pastebin.com/PE0EfiLK
-   First run, Second step : https://pastebin.com/HgSgSUyr
-   Second run, First step : https://pastebin.com/X2zKM26y
-   Second run, Second step : https://pastebin.com/gQuMzKXM

Manual run (working as

[2021-07-16 12:29] karlschriek opened #6067 "Istio injection always disabled"
While trying to put together a Kubeflow distribution that includes as many as possible elements inside the Istio mesh, we found that for Kubeflow Pipelines steps the istio sidecar injection is always overriden to "false".

(This would for example make it impossible for a pipelines step to make calls to a KFServing model in the same namespace which has an istio sidecar enabled).

This seems to be h

[2021-07-16 15:49] kelvins opened #6068 "[frontend] go.doc cron link not working properly"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

Following the Kubeflow v1.2 documentation for GCP: https://v1-2-branch.kubeflow.org/docs/distributions/gke/

*  KFP version: 1.0.4

### Steps to reproduce

- Access the `Experiments` page and click on the `+ Create run` button.
- Select `Run Type` -> `Recurring`.
- Set `Run Trigger` -> `Trigger type` to `Cron`.
- It will show a link

[2021-07-16 18:10] vgopal commented on #5924
similar issue but its failing with permissions on `/`
[code]

[2021-07-16 18:49] dutingda commented on #6048
So what should be the key if I want to filter by start time and what should be the return value of this filter.

[2021-07-16 23:38] Bobgy commented on #4684
Duplicate of #4715

[2021-07-17 11:25] zijianjoy opened #6073 "chore(frontend): Create v2 feature flag on frontend"
For implementing V2 features on frontend, we need to introduce feature flag.

Reference: https://www.webtips.dev/feature-flags-in-react

[2021-07-17 12:11] kelvins commented on #6068
On Firefox it is showing another error message:

<img width="1440" alt="Screen Shot 2021-07-17 at 09 09 51" src="https://user-images.githubusercontent.com/1009397/126036414-8e763826-6a7b-4901-8ed2-e712bef5a44d.png">

[2021-07-19 03:44] #6068 closed

[2021-07-19 04:12] zijianjoy commented on #6065
That is a good catch, thank you @Bobgy !

I created a PR to fix this: https://github.com/kubeflow/pipelines/pull/6077

[2021-07-19 04:57] #6065 closed

[2021-07-19 06:11] zijianjoy commented on #5638
Yes the change has been applied in https://github.com/kubeflow/pipelines/pull/6061/files#diff-388538ba7580c2729c010006b01837a9dbf9a04702c185970d025ab5dbcd22ba.

[2021-07-19 06:11] #5638 closed

[2021-07-19 06:17] zijianjoy commented on #2523
I found this article for using Cloud Functions to delete orphan and old persistent disks: https://cloud.google.com/architecture/automating-cost-optimizations-with-cloud-functions-cloud-scheduler-and-stackdriver#cleaning_up_unused_and_orphaned_persistent_disks

[2021-07-19 06:28] zijianjoy commented on #5318
@sharmahemlata

You can add some logging to your pipeline, so you can dig in further which step in your component is taking a long time to finish. Argo workflow handles the execution so it might be better to follow up on Argo workflow side. You can set https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.dsl.html#kfp.dsl.Sidecar.set_cpu_request (set_cpu_request) to increase the minimum C

[2021-07-19 18:32] #5932 closed

[2021-07-19 19:40] axelmagn opened #6085 "[feature] Parameter parity in AIPlatformClient functions"
### Feature Area

/area sdk

### What feature would you like to see?

`AIPlatformClient.create_run_from_job_spec` accepts parameters such as `labels` and `network` that are not accepted by `AIPlatformClient.create_schedule_from_job_spec`.  I think that any parameter I can specify in `create_run` should be specifiable in `create_schedule`.

### What is the use case or pain point?

 I would like to

[2021-07-19 19:50] axelmagn opened #6086 "[feature] Optionally disable API enablement when calling AIPlatformClient.create_schedule_from_job_spec"
### Feature Area

/area sdk

### What feature would you like to see?

I would like to manipulate a flag in the function parameters of `AIPlatform.create_schedule_from_job_spec` in order to disable the logic which automatically tries to enable the necessary APIs.  An acceptable alternative would be to expose a function at a lower level of abstraction that decouples API enablement from pipeline sche

[2021-07-19 19:55] axelmagn opened #6087 "[feature] Add a delete_schedule and update_schedule functions to AIPlatformClient"
### Feature Area

/area sdk

### What feature would you like to see?

I would like to be able to delete and update existing schedules created via  `create_schedule_from_job_spec`.

### What is the use case or pain point?

Pipelines are updated over time, and need to be redeployed.  `create_schedule_from_job_spec` manages long-term resources in the form of cloud functions and schedules that will ne

[2021-07-19 20:17] dutingda commented on #6048
@Bobgy How do I read the response object type and what is the type?

[2021-07-19 23:58] dutingda commented on #6056
For this problem, I think I know the reason. But it comes to the other question, how do I retrieve the pipelineParam value?

[2021-07-20 00:14] #5875 closed

[2021-07-20 00:35] Bobgy opened #6088 "my new idea"

[2021-07-20 00:36] #6088 closed

[2021-07-20 00:38] neuromage opened #6089 "[backend] Standalone deployment on GKE version 1.19 with workload identity fails v2 compatible mode due to lack of permissions"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
I used option 2 in standalone deployment

*  KFP version: Deployed from master branch

*  KFP SDK version: 1.6.4

### Steps to reproduce

1. Create a new GKE cluster (version 1.19.9-gke.1900)
    a. When creating the cluster, under `Security` options, enable `Workload Identity`
    b. Ensure you have a service account for using workl

[2021-07-20 00:38] neuromage commented on #6089
/cc @Bobgy

[2021-07-20 03:38] sharmahemlata commented on #5318
@zijianjoy Thanks for responding. There is logging throughout the program. As soon as the container starts, 'Inside the container' is logged. I have increased the number of CPUs to a point where the CPUs are underutilised.

I recently got the kubernetes application developer certificate to try and understand yaml files in case the issue was with the argo workflow controller. I have used the update

[2021-07-20 03:48] Bobgy commented on #5834
Workaround:

[code]

It'll be better not to support overriding image using parameters from outside of the component, because it breaks component interface.

[2021-07-20 03:48] #5834 closed

[2021-07-20 05:26] #5669 closed

[2021-07-20 05:26] #5985 closed

[2021-07-20 05:26] #5986 closed

[2021-07-20 12:49] Hmr-ramzi opened #6091 "[backend] Sample pipeline (conditional-execution-pipeline)"
### What steps did you take

Deloy kubeflow 1.3 using kustomize. Create a kubeflow user. Create a default experiment. Create a run with default example conditional-excution-pipeline

### What happened:
A pod was generated for the pipeline in the user namespace but remaining on state container Creating and failing with error:

Warning  FailedMount  80s (x46 over 168m)    kubelet  Unable to attach o

[2021-07-20 13:18] vaskozl commented on #6053
@zijianjoy Why did you downgrade to TFX 0.26?

[2021-07-20 13:53] cp2587 commented on #2913
Hello @yoni-taranis,

As we have the same issue, would it be possible for you to show me what you change in the UI in order to handle 1k+ pods pipeline ?

Thank you,

[2021-07-20 15:06] sfujiwara opened #6092 "[sdk] Wrong type hint of create_run_from_job_spec"
### Environment

*  KFP version: -
*  KFP SDK version: 1.6.5
*  All dependencies version:
   * kfp-pipeline-spec: 0.1.8
   * kfp-server-api: 1.6.0

### Steps to reproduce

The type hint of `create_run_from_job_spec` says `str`, but it actually returns `dict`.

https://github.com/kubeflow/pipelines/blob/74d27e7e7ec88c62154a3dc5fb19cb27fc2922e6/sdk/python/kfp/v2/google/client/client.py#L258-L268

[c

[2021-07-20 18:03] zijianjoy commented on #6053
@vaskozl Sorry for missing to include the context in PR description, I tried to upgrade TFX to the latest. However, the dependency graph doesn't resolve because of the requirement conflict on `grpcio`. We will have to wait for https://github.com/tensorflow/tensorflow/issues/50045 so I can upgrade tensorflow image as well as TFX related libraries.

[2021-07-20 18:49] NikeNano commented on #6092
/assign

[2021-07-20 21:26] capri-xiyue commented on #5977
Discussed with @zijianjoy  offline,
Currently with v2 compatible mode,

- cached status icon
- a link to cached execution
The above tasks can be achieved now.

For the following tasks, currently we can't fetch original execution with current logic in launcher.(Maybe via a custom property called `cached_execution_id`
We may need to store the original mlmd execution id in the cache mlmd execution fi

[2021-07-20 21:28] ckchow opened #6093 "[bug] pipeline parameters in google_cloud_pipeline_components.aiplatform.TabularCreateDatasetOp"
### What steps did you take
Create a simple pipeline that tries to create a tabular dataset from a bigquery table.

[code]

### What happened:
gcp error log:
[code]

AI platform runner does not parse and unpack the parameters correctly, fails on dataset creation.

### What did you expect to happen:
Pipeline should complete.

### Environment:
KFP v2 using vertex. (locally compiled pipeline)

*  KFP

[2021-07-20 21:38] zijianjoy commented on #5977
I think it will be great to describe the user scenario for referencing original execution from cached execution. Based on the discussion, looks like there is no cache management exposed to user in v2 compatible mode, so the linking from cached execution to original execution is informational at this point, and help user to understand more about the caching mechanism (debugging).

The solution with

[2021-07-20 21:43] zijianjoy commented on #6002
Hello @Itega ,

In your manual run, you have caching enabled for your pipeline, see annotation `pipelines.kubeflow.org/cache_enabled: 'true'`. However, this annotation doesn't exist in Recurring run, so KFP didn't generate the cache key for you `pipelines.kubeflow.org/execution_cache_key`.

Would you like to enable caching for recurring run and see if this fixes your issue?

Reference: https://git

[2021-07-21 05:37] NikeNano commented on #4752
Working on it.

[2021-07-21 05:50] Ark-kun opened #6096 "How do I call Hosted KFP APIs programmatically when I have Google Cloud token?"
Suppose I have several instances of KFP installed from Google Cloud Marketplace.
I also have Google Cloud token with `cloud-platform` scopes. (Similar to the one given by `gcloud auth print-access-token`). I can call any Google Cloud API using that token. But how can I call KFP API?

1) Can I programmatically list the Hosted KFP instances (as I see in the Google Cloud AI Platform UX) and get their

[2021-07-21 07:13] NikeNano commented on #6092
You are always more than welcome to make a PR @sfujiwara if you find things like this.

[2021-07-21 07:46] sfujiwara commented on #6092
@NikeNano Thanks. I made PR #6098. Could you please review it?

[2021-07-21 10:38] Itega commented on #6002
Hello @zijianjoy ,

Thanks for the explanations !
I found that I can enable caching only in V2 compatible mode so I updated KFP to 1.7.0-rc.1 (master branch), KFP SDK to 1.6.5 and KFP server api to 1.7.0a2.

I did some tests using the sample from https://www.kubeflow.org/docs/components/pipelines/sdk/v2/python-function-components/#getting-started-with-python-function-based-components

The first ru

[2021-07-21 11:50] Bobgy opened #6100 "[pH] prepare for kpt v1.0.0-beta.1"
349.0.0 (2021-07-20)
  Breaking Changes
      * **(Kpt)** kpt updated to v1.0.0-beta.1. This version has several
        breaking changes from previous versions. Documentation is available at
        <https://kpt.dev> and migration instructions can be found at
        <https://kpt.dev/installation/migration>. Old versions are available at
        <https://github.com/GoogleContainerTools/kpt>.

[2021-07-21 11:50] Bobgy commented on #6100
/assign @zijianjoy

[2021-07-21 11:51] Bobgy commented on #6100
manifests presubmit test is already failing with kpt v1: https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/kubeflow_pipelines/5926/kubeflow-pipelines-manifests/1417793964035018752

[2021-07-21 11:51] Bobgy commented on #6100
[code]

[2021-07-21 12:38] Bobgy commented on #6100
FYI, I temporarily disabled the test that uses kpt in https://github.com/kubeflow/pipelines/commit/efe22ca0a4c8b051c4284d7fd83be2aac58162d0

We can re-enable after upgrade

[2021-07-21 13:50] hahamark1 opened #6101 "[bug] Exit handler crashes on termination"
### What happened:

Im running a pipeline with an exithandler. This setup work well when the pipeline crashes or completes, but on termination the exit handler fails with this error message: `This step is in Failed state with this message: Step exceeded its deadline`

### What did you expect to happen:

I expected the exit handler to perform the same way it would when a pipeline crashes.

### Envi

[2021-07-21 14:30] Bobgy commented on #4752
/lifecycle frozen

[2021-07-21 15:33] deepio-oc opened #6102 "[frontend] Unable to upload pipeline by URL in KF 1.3"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
Using KF 1.3 steps

while ! kustomize build example | kubectl apply -f -; do echo "Retrying to apply resources"; sleep 10; done

*  KFP version:
Pipeline UI is running   gcr.io/ml-pipeline/frontend:1.5.0

### Steps to reproduce

1. Upload pipeline
2. Choose upload by URL
3.  Provide a public HTTP URL to pipeline file

### Expected re

[2021-07-21 15:53] Nagarajj opened #6103 "[feature] Post Publish Hooks to capture Lineage in external systems."
### Feature Area

### What feature would you like to see?
IR Spec specifies Lifecycle [Hooks](https://github.com/kubeflow/pipelines/blob/c89ed71cf6339cdcdd957d4dca4b1f32c10db9c9/api/v2alpha1/pipeline_spec.proto#L546-L566) (pre-cache) which could be used to override the caching logic in the driver. A similar hook (post_publish) would be useful which can be fired after the publisher, to help capture

[2021-07-21 18:01] zijianjoy commented on #2523
persistent disk deletion via Go: https://cloud.google.com/go/docs/reference/cloud.google.com/go/latest/compute/apiv1#cloud_google_com_go_compute_apiv1_DisksClient_Delete

[2021-07-22 00:31] Pedrohgv opened #6107 "[sdk] Can't access local files on local KF deployment"
### Environment

*  KFP version:
1.6.5

*  KFP SDK version:
1.6.0

*  All dependencies version:
kfp                               1.6.5
kfp-pipeline-spec        0.1.8
kfp-server-api             1.6.0

### Steps to reproduce

Running Kubeflow on a K3s cluster on my machine. I built a simple python function that takes as input:

- Input folder path that contains some files to be transformed
- Output

[2021-07-22 01:15] steveplazafb commented on #5910
I am not sure that I completely understand your question.  Are you saying that in my example above, the function name "foo" might not be preserved in future versions of kfp?  I don't think it would cause any big problems but I do use inspect to automatically create log messages with the component name in the message.

Thank you for looking into this issue!

[2021-07-22 05:51] jalola commented on #6033
Thanks @zijianjoy
There is an issue related: https://github.com/argoproj/argo-workflows/issues/6201

[2021-07-22 07:21] #6092 closed

[2021-07-22 08:21] chensun opened #6108 "[feature] Support input artifact value placeholder in v2 compatible mode."
Follow up on https://github.com/kubeflow/pipelines/pull/6080

To make legacy data passing work in v2 compatible mode, we need to support `{{{{$.inputs.artifacts['{}'].value}}}}` placeholder in v2 launcher.

[2021-07-22 10:02] Bobgy commented on #5943
Decided to stop working on this issue, because the problems proves to be issues in argo docker executor itself.
Our plan has been upgrading to emissary executor, so there's not much value stabilizing argo docker executor if it isn't stable already.

[2021-07-22 13:03] Bobgy opened #6110 "KFP v2 tracker"
Design: [bit.ly/kfp-v2](https://bit.ly/kfp-v2).
Project: https://github.com/kubeflow/pipelines/projects/9

Tracking by major release milestones:
* [x] KFP 2.0 Alpha
* [x] #8697
  * [x] #8698
  * [x] #8802
  * [x] #8815
  * [x] #8818
* [x] #8858
  * v2 API integration
    * [x] #8703
    * [x] #8706
* [x] #8705
  * Feature: Volume
    * [x] #8707
    * [x] #8758
    * [x] #8708
    * [x] #8715
  *

[2021-07-22 15:12] botingw opened #6112 "[bug] Kubeflow building component tutorial get error when compiling with kfp.v2.compiler"
### What steps did you take

kfp = 1.6.4

I just try to test using my custom component in Vertex AI pipelines.
I use the steps as this [link](https://www.kubeflow.org/docs/components/pipelines/sdk/component-development/) to build my container and upload to google container registry. Then use the following code to build my pipeline
`
def my_pipeline():
    get_lines_step = create_step_get_lines(

[2021-07-22 15:15] rawc0der opened #6113 "[sdk] get_user_namespace method returns user not namespace"
### Environment

*  KFP version: 1.6.0

*  KFP SDK version: 1.6.3

**All dependencies version:**

* kfp-pipeline-spec        0.1.8
* kfp-server-api           1.6.0

### Steps to reproduce

Creating a client using standard constructor and calling the method `get_user_namespace` is actually returning the user for the session and not the namespace.
[code]

### Expected result

`get_user_namespace()`

[2021-07-22 16:53] boarder7395 opened #6114 "Cache is not reused when component output was previously consumed as file, but is now consumed as value"
### What steps did you take

Start with a pipeline where a component does not pass its output (outputPath) to a subsequent component.
Add a new pipeline where an additional component passes its output (outputPath) to a subsequent component that takes the output as an input (inputValue).

In this event the subsequent pipeline does not use the cached component because the output Parameters now inclu

[2021-07-22 20:24] ckchow commented on #5915
I managed to work around this by using python 3.6.9. No idea why that would affect this but it appears to help.

[2021-07-22 20:54] Ark-kun commented on #6114
Hello. Thank you for finding this issue.

Due to bandwidth, we do not currently prioritize issue where the cache is NOT reused. (The issues where the cache is reused incorrectly have high priority though.)

This issue is difficult to solve given the architecture of the KFP compiler. Even the file passing features `inputPath`/`outputPath` were extremely hard to hack-in.

It would be pretty hard for

[2021-07-22 21:04] Ark-kun commented on #6107
Kubernetes containers running on the usually remote compute nodes are not expected to get access to any local files.

Please read the Data-passing tutorial for [command-line programs](https://github.com/Ark-kun/kfp_samples/blob/ae1a5b6/2019-10%20Kubeflow%20summit/106%20-%20Creating%20components%20from%20command-line%20programs/106%20-%20Creating%20components%20from%20command-line%20programs.ipynb)

[2021-07-22 22:50] parthmishra opened #6116 "How to output Artifacts (Model, Metrics, Dataset, etc.) without using Python-based component?"
Using v2 SDK and Vertex Pipelines environment, is it possible to create a reusable component (i.e. manually write a `component.yaml` file) that consumes and/or generates the new Artifact types such as Model, Metrics, Dataset, etc.?

My understanding of these Artifact types is that they are a value/path/reference along with associated metadata. When passing or consuming these in a non-Python-based

[2021-07-22 23:55] ji-yaqi commented on #6086
Hi Axel, do you mean to skip checking for permission for APIs, and check those permissions at the time of API usage?

[2021-07-23 00:58] zijianjoy commented on #6067
Can it be resolved by adding istio injection label to true as https://github.com/kubeflow/manifests/pull/1153?

cc @Bobgy to confirm the use case.

[2021-07-23 01:06] zijianjoy commented on #6116
Taking HTML visualization as an example, the usage on V2 will look like:

[code]

Here you specify `Output[]` with artifact type `HTML`. Similarly, you can do it for Model, Metrics, etc.
For example: https://github.com/kubeflow/pipelines/blob/master/samples/test/metrics_visualization_v2.py#L28

Does it work to your usecase?

cc @chensun

[2021-07-23 01:08] zijianjoy commented on #6085
cc @sasha-gitg @SinaChavoshi

[2021-07-23 01:09] zijianjoy commented on #6087
cc @sasha-gitg @SinaChavoshi @ji-yaqi

[2021-07-23 01:13] zijianjoy commented on #6091
@Hmr-ramzi What is the distribution you use to deploy your Kubeflow cluster?  https://www.kubeflow.org/docs/started/installing-kubeflow/#install-a-packaged-kubeflow-distribution

[2021-07-23 01:29] parthmishra commented on #6116
I'm aware that you can do this when creating a component with the v2 decorator, I'm asking if it's possible to do so in a component that was not generated with the v2 decorator. Like a completely separate component that is loaded in by its YAML definition.

[2021-07-23 01:35] Bobgy commented on #6067
@karlschriek which argo executor supports Istio sudecars?

From what I learned from https://argoproj.github.io/argo-workflows/sidecar-injection/. It seems that Istio sidecar injection is still not supported.

[2021-07-23 02:49] liguodongiot opened #6118 "[bug] pipeline ui runs status can not update"
When I use kfp1.5 to deploy to k8s.

I execute run, this pipeline ui has not been able to update the status.

![image](https://user-images.githubusercontent.com/13220186/126731820-c0f77592-8f7c-4be0-8a84-6d79d9582c74.png)

---
And I check that the pod has finished running

![image](https://user-images.githubusercontent.com/13220186/126731965-5d48bf63-8757-4999-b445-2b1b71684bf6.png)

I restarted k

[2021-07-23 05:34] karlschriek commented on #6067
The Argo Workflows team seem to be of the opinion that it should work with v3 onward, though I also cannot find a PR or release note that specifically mentions it, but the issue https://github.com/argoproj/argo-workflows/issues/1282 was closed with a note that this should now be supported. @Bobgy I just saw that you also asked for clarification there!

[2021-07-23 06:03] TanjaDuPlessis opened #6120 "Kubeflow sdk - error in client.list_experiments()"
I'm following the example in docs (https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/) but am getting an error when trying to access the experiments or runs (when trying to list and/or create them)

I've port-forwarded ml-pipeline-ui:

`kubectl port-forward svc/ml-pipeline-ui 3000:80 --namespace kubeflow`

Trying to list the experiments results in an error:
[code]
The error I get

[2021-07-23 07:19] grmoktan commented on #4505
Hi @DavidSpek :

I am also getting the same error:

[code]
And I have no way of setting the `--cluster-signing-cert-file` and `--cluster-signing-key-file` from my side as the rancher kubernetes deployment is managed elsewhere.

Is there an example of what the cert-manager approach entails?

I'm trying to deploy [kubeflow v1.3-branch with kustomize](https://github.com/kubeflow/manifests/blob/v1.3-b

[2021-07-23 08:13] chensun commented on #6120
IIRC, Kubeflow v1.3 enables multi-user isolation by default. @Bobgy, is that right?

In that case, `list_experiments()` requires passing a namespace: https://github.com/kubeflow/pipelines/blob/24c551d3fc0b955f48af1206db5c80ec011db3dd/sdk/python/kfp/_client.py#L459-L461

[2021-07-23 09:11] chensun commented on #6116
Hi @parthmishra,

At this moment, it would be quite challenging for a user to replicate the supports for `Input[Model]`, `Output[Metrics]`, etc. in their custom container.

Here's a sample code of what the container interface would look like using the v2 `@component` decorator: https://github.com/kubeflow/pipelines/blob/d69b6ae82a8c4afcf4bd3e7d444089302ba23e28/sdk/python/kfp/v2/compiler_cli_tests/

[2021-07-23 09:22] chensun commented on #6113
That's strange. Do you have any other code between `client.set_user_namespace('my-namespace')` and `client.get_user_namespace()`?

If you look at the code, they just set/read a dictionary entry using the same key. (The dictionary can be dump to or load from a local file).

https://github.com/kubeflow/pipelines/blob/27051ab9d1c9e8ca1464c17b10d12ed73c8227f1/sdk/python/kfp/_client.py#L335-L347

https

[2021-07-23 09:30] Pedrohgv commented on #6107
I see, will take a look at the tutorials.

Thanks!

[2021-07-23 09:30] #6107 closed

[2021-07-23 12:45] TanjaDuPlessis commented on #6120
@chensun I think that is correct yes. I did try passing a namespace, but still get the error.
`client.list_experiments(namespace='kubeflow')`

I did also try passing the namespace 'kubeflow-example-user-com' which is what is visible from the UI. Neither works. I'm not sure whether I'm passing it incorrectly?

[code]

[2021-07-23 13:03] nicokuzak commented on #6116
@chensun following from this, is it possible to pass something like a pandas DataFrame (as a csv file probably) throughout **custom** components? For example, let's assume there are four components that all do different types of preprocessing for our data; how can we pass the data through without specifying an outside filepath (i.e. string that is a GCS path)?

[2021-07-23 13:40] rawc0der commented on #6113
Hey @chensun,

Thanks for the reply. I discovered the source for this, it's in my custom scripts ..

There was a faulty line overriding the namespace as the username.
[code]

Closing this as it's not relevant!  Thanks again.

[2021-07-23 13:40] #6113 closed

[2021-07-23 13:50] juliusvonkohout commented on #4692
We are experiencing similar issues on Kubeflow 1.3.1rc0

[2021-07-23 16:05] ReggieCarey opened #6121 "ML-Pipelines API Server and Metadata Writer in CrashLoopBackoff"
### What steps did you take

I deployed Kubeflow 1.3 by using the manifests approach.
I then repaired an issue with dex running on K8s v1.21

### What happened:

The installation succeeded.  All processes started up except the two.  Both Metadata writer and ml-pipeline crash constantly and are restarted.  ML-Pipeline always reports 1 of 2 running.
Metadata-writer sometimes appears to be fully runn

[2021-07-23 16:31] alexec commented on #6067
I've updated https://github.com/argoproj/argo-workflows/blob/master/docs/sidecar-injection.md with more detail for you.

[2021-07-23 18:05] zijianjoy commented on #59
/lifecycle frozen

[2021-07-23 20:16] boarder7395 commented on #6114
@Ark-kun For the issue you referenced:
___
P.S. There are much more serious issues with cache reuse. For example, the cache cannot be reused in the same pipeline due to the unique names of all outputs (another issue of the KFP compiler).
___
Is there an existing issue for that I could use for more context? I don't understand what you mean by "unique names of all outputs".

[2021-07-23 21:10] zijianjoy opened #6126 "Create KFP v2 DAG POC."

[2021-07-23 21:40] parthmishra commented on #6116
@chensun

Thanks for the explanation, I think the v2 SDK docs for "regular" component building should state that these Artifact types are not useable and that users wishing to implement these inputs/outputs should instead write them using Python-function based components. The [current docs](https://www.kubeflow.org/docs/components/pipelines/sdk/v2/component-development/#designing-a-pipeline-compon

[2021-07-24 03:08] Bobgy opened #6130 "[pH] broken build at buildGcpGenericComponent"
The first failure happened at https://github.com/kubeflow/pipelines/runs/3137853377, but the failure itself seems unrelated to the PR, so I think it's caused by some external dependency change.

[2021-07-24 03:08] Bobgy commented on #6130
/assign @IronPan

[2021-07-24 03:08] Bobgy commented on #6130
/assign @SinaChavoshi

[2021-07-25 08:52] chensun commented on #6116
@nicokuzak
Yes, you can pass a DataFrame as a file throughout custom components. And you don't need to provide a GCS path yourself, the system generates such a path.
If you write component.yaml, you need `{outputPath: output_name}` placeholder, or if you write Python-function based component, you need to type annotate the output like such: `output_name: OutputPath('CSV')`. At runtime, your code sh

[2021-07-25 09:00] chensun commented on #6116
@parthmishra Thank you for your feedback. Agree that our current doc isn't in a good shape. We will continuously improve our documentation. Meanwhile, we're designing the next generation of component authoring experience that could make these Artifacts types available for custom container components as well.

[2021-07-26 02:36] Bobgy commented on #5834
Note, because we decided not to support this feature, it is still a breaking change from v1 to v2 compatible. We have some ideas to support the same functionality in a component interface friendly way later.

[2021-07-26 02:54] Bobgy opened #6132 "[v2compat] v1 metrics support"
KFP v1 supports metrics feature https://www.kubeflow.org/docs/components/pipelines/sdk/pipelines-metrics/.

V2 compatible mode does not yet support it, because supporting this feature is relatively hard. I'd like some feedback how important this feature is for you. Please thumbs up on the issue and probably explain your use-case to help us triage.

## Idea
to support this feature, we need to updat

[2021-07-26 03:13] Bobgy commented on #5711
/reopen
because we plan to support this in #6080

let's keep this open

[2021-07-26 03:14] Bobgy opened #6133 "v2 compatible mode -- known caveats & breaking changes"
This issue is a living tracker for known caveats & breaking changes of v2 compatible mode to facilitate visibility:
The information is updated as KFP 1.7.0

Breaking changes:
* https://www.kubeflow.org/docs/components/pipelines/sdk/v2/v2-compatibility/#building-pipelines-using-the-kubeflow-pipelines-sdk-v2
* `command` must be specified in [Kubeflow Pipelines component specification](https://www.ku

[2021-07-26 03:25] Bobgy opened #6134 "[sdk] v2 compiler - duplicate component definitions when used twice"
### Environment

*  KFP version: 1.7.0-rc.2

*  KFP SDK version: master

### Steps to reproduce

Compile this pipeline in v2 mode:

[code]

### Expected result

In generated pipeline spec JSON, hello_world component should be generated only once.
But I got `comp-hello-world` and `comp-hello-world-2`, and `exec-hello-world`, `exec-hello-world-2`.

### Materials and Reference

Here's the generated J

[2021-07-26 03:25] Bobgy commented on #6134
/assign @chensun @neuromage

[2021-07-26 05:56] Bobgy commented on #6130
P0, because this breaks all postsubmit builds, thus blocking us to release

[2021-07-26 07:15] niderhoff commented on #4944
I second this proposal. Cloning a run and and having to enter all the parameters again is really frustrating.

[2021-07-26 09:12] Bobgy commented on #6130
Pasting error messages:

[code]

[2021-07-26 09:40] Bobgy commented on #6103
Hi @Nagarajj, thank you for drafting this detailed proposal!

Are you OK with the perf implication? Because a container will have to be a separate Pod, and the overhead of scheduling & starting a Pod is at least 3~5 seconds from what I observe on GKE.

Maybe we can improve using https://argoproj.github.io/argo-workflows/container-set-template/, but it's an Alpha feature and it's only supported by

[2021-07-26 09:41] Bobgy commented on #6103
+1, I've heard similar requirements before

[2021-07-26 09:42] Bobgy commented on #6103
do you need access to the artifact payload?

[2021-07-26 10:37] vaskozl opened #6138 "[backend] Metadata/Executions not written in 1.7.0-rc1 (New visualisations not working as a result)"
/kind bug

I  upgraded Kubeflow from 1.4.0 to 1.7.0-rc1 with the platnform-agnostic manifests.

While I now see correct visualizations of statistics from runs that happened before upgrading to 1.7.0-rc1, new runs only display the markdown details.

The TFX pipelines I submit are exactly the same. On the new runs the ML Metadata tab of the components prints:

"Corresponding ML Metadata not found."

[2021-07-26 10:51] vaskozl commented on #6138
I've also just tested the issues with 1.7.0-rc2.

I've tried kfp 1.4.0 and 1.6.6.

[2021-07-26 11:52] Bobgy commented on #6108
Sure, I can take this.

[2021-07-26 11:52] Bobgy commented on #6108
I'm scheduling to 1.8 release, do you want it earlier?

[2021-07-26 12:22] Bobgy commented on #5366
Some challenges for implementing wrapping ---

Because we used react-virtualized to make log viewer work with large scale of logs, which seems like a reasonable request.
It's a very challenging problem if you want both virtualization and wrapping -- you cannot easily know how many lines some text will wrap into without actually rendering it, therefore it's hard to calculate height of each item. Mo

[2021-07-26 12:25] Bobgy commented on #5366
## Proposal

* Change LogViewer to not virtualize (virtualize means when there are 1000 lines of logs, only render the visible 20 lines in the browser).
* If total log size is over a limit, hide the middle part of the log by default (because usually what's at the beginning and ending are most useful), and allow users to open a separate raw text window to check the full log
* wrap log lines by defa

[2021-07-26 13:10] vaskozl commented on #6138
Downgrading the metadata images seems to have solved this for me:

[code]

I believe the `metadata-writer` container version is the most important one here, though I have no context.

[2021-07-26 17:04] zijianjoy opened #6142 "[frontend] Shows error banner instead of stacktrace for unrecognized storage uri prefix"
Currently we shows stacktrace on Input/Output banner if the artifact is `aiplatform://xxx`. We should skip the preview and downloadable link generation. Maybe show a banner to explain that this is unavailable for Google Cloud specific resource prefix.

[2021-07-26 17:44] zijianjoy commented on #5512
Hello @jackwhelpton , feel free to add more missing markdown features in this ticket. We can update the issue description to match the scope as well. Ideally we should use another markdown render which can fit all markdown feature requests.

https://github.com/kubeflow/pipelines/blob/226079338b38b85ae3b63a5e289c6ca0cd9511d0/frontend/src/components/viewers/MarkdownViewer.tsx#L111-L114

[2021-07-26 20:01] chensun commented on #6134
This is a known issues, and it was a regression we introduced when workaround the limitation that IR doesn't support optional inputs.
I left a TODO in the code:

https://github.com/kubeflow/pipelines/blob/42e13ebc41c6d318eebe797047ccd0d83641c0d8/sdk/python/kfp/dsl/_component_bridge.py#L593

[2021-07-26 20:36] zijianjoy commented on #5366
It sounds good to me for skipping middle part of logs and opening raw text window for full log.

I have a question about not to virtualize + wrap log lines: How do we know how to break a long line to multiple small lines? The side panel size is adjustable, and the chrome tab can be zoom in and out. Therefore number of characters each line is dynamic.

[2021-07-26 20:48] zzxvictor commented on #6103
On the highest level, we have two objectives:

1. Run container before and after each user component as part of our custom caching layer. This can be further optimized by the built-in caching logic because starting new containers lead to performance overhead. Is it possible to override the built-in caching logic with customized code?

2. For each component, we want to capture where its arguments c

[2021-07-26 22:34] chensun commented on #5711
#6080 was meant to be temporary in the first place (I propose to revert it by KFP SDK 2.0 release).
The more we discussed the pros and cons of the change, the more we feel like it probably shouldn't be merged even for a short period.
Closing again per https://github.com/kubeflow/pipelines/pull/6080#issuecomment-887069438.

[2021-07-26 22:34] #5711 closed

[2021-07-26 22:37] chensun commented on #6108
Closing this feature request, as we no longer want to move forward with https://github.com/kubeflow/pipelines/pull/6080.

[2021-07-26 22:37] #6108 closed

[2021-07-27 00:51] Bobgy commented on #6130
Fixed by https://github.com/kubeflow/pipelines/pull/6141

[2021-07-27 00:51] #6130 closed

[2021-07-27 06:57] karlschriek commented on #5656
Sorry for the slow response on this, but I can confirm that `go-cloud` supports  IAM Roles for Service Accounts in order to access objects on S3.

Support was added with this PR: https://github.com/google/go-cloud/pull/2773

I've also tested it independently. The IAM role needs to be attached to a ServiceAccount via an annotation as follows:

[code]

Any Pod that is started with this ServiceAccoun

[2021-07-27 11:02] Bobgy commented on #5689
Found a bug, in 1.7.0-rc.2 release, the builtin sample is broken.
I think root cause is that, the builtin samples are built using master version of SDK. Master version of v2 compatible SDK is not usable, because the SDK is in master, but the launcher image is pinned to last released version. There may be version skew between them.

[2021-07-27 11:02] Bobgy commented on #5689
/cc @chensun
I'll pin builtin samples to use latest released KFP SDK, sounds good?

[2021-07-27 13:05] toshitanian opened #6146 "[sdk: google vertex AI] Is it okay to keep making changes to google AIPlatformClient SDK that will be deprecated?"
### Feature Area

/area sdk

### What feature would you like to see?

I'm using kfp SDK to use Vertex pipeline of GCP by `AIPlatformClient`. So I want to propose several pull requests to the functions like `create_run_from_job_spec` and `create_schedule_from_job_spec` for fixing bugs and adjust specifications.  But I found that `AIPlatformClient` will be deprecated in v1.9 and will be moved to `go

[2021-07-27 13:59] Bobgy opened #6147 "v2 launcher with basic publisher"

[2021-07-27 14:00] Bobgy opened #6148 "v2 orchestration engine"

[2021-07-27 14:00] Bobgy opened #6149 "v2 backend compiler and basic orchestration"
Explanation: backend compiler compiles from [KFP pipeline spec](https://github.com/kubeflow/pipelines/blob/master/api/v2alpha1/pipeline_spec.proto) to argo workflow (potentially, other implementations may compile it to other execution spec).
Design: [bit.ly/kfp-v2](https://bit.ly/kfp-v2)
This issue tracks implementing

Tasks:
* [x] https://github.com/kubeflow/pipelines/pull/6111
* [x] https://gith

[2021-07-27 14:00] Bobgy opened #6150 "v2 placeholders"
Support v2 placeholders in KFP v2.

Tasks
* [x] #6151
* [x] #6152
* [x] #6153
* [x] #6154
* [ ] #6155
* [x] https://github.com/kubeflow/pipelines/pull/6353

[2021-07-27 14:00] Bobgy opened #6151 "v2 placeholders - pipeline parameter and parameter passing"

[2021-07-27 14:00] Bobgy opened #6152 "v2 placeholders - artifact passing via local path"

[2021-07-27 14:00] Bobgy opened #6153 "v2 placeholders - artifact passing via URI"

[2021-07-27 14:00] Bobgy opened #6154 "v2 placeholders - artifact & execution output metadata logging"

[2021-07-27 14:00] Bobgy opened #6155 "feat(backend): v2 placeholders - unique placeholders"
To support resolving such placeholders at runtime:

https://kubeflow-pipelines.readthedocs.io/en/sdk-2.0.1/source/dsl.html?h=dsl.parallelfor#kfp.dsl.PIPELINE_JOB_NAME_PLACEHOLDER

[2021-07-27 14:10] Bobgy opened #6156 "v2 caching"
- [ ] ~#8696~

[2021-07-27 14:10] Bobgy opened #6157 "v2 control flow"

[2021-07-27 14:10] Bobgy opened #6158 "v2 control flow - sub-DAG"
* [x] basic sub-DAG support in #6985

sub DAG publisher should be implemented with https://github.com/kubeflow/pipelines/issues/6161

[2021-07-27 14:10] Bobgy opened #6159 "v2 control flow - conditional"
* [x] #7059
* [x] #7060
* [ ] https://github.com/kubeflow/pipelines/pull/7088

[2021-07-27 14:10] Bobgy opened #6160 "v2 control flow - parallel for"
Tasks:
* [x] P0 https://github.com/kubeflow/pipelines/pull/6985
* [x] P0 #7020 (support [parameter expression selector](https://github.com/kubeflow/pipelines/blob/fef8c03e401a15a9f92c1839fe0f9a5c22f709e1/api/v2alpha1/pipeline_spec.proto#L283-L308))
* [ ] P1 https://github.com/kubeflow/pipelines/issues/6161
* [ ] P2 https://github.com/kubeflow/pipelines/tree/master/samples/core/loop_parallelism

[2021-07-27 14:10] Bobgy opened #6161 "v2 control flow - fan in"
[aggregate outputs as iterator DAG output](https://github.com/kubeflow/pipelines/blob/fef8c03e401a15a9f92c1839fe0f9a5c22f709e1/api/v2alpha1/pipeline_spec.proto#L466-L470)

[2021-07-27 14:10] Bobgy opened #6162 "v2 control flow - exit handler"

[2021-07-27 14:10] Bobgy opened #6163 "special components"
Tasks
* [x] #6164
* [x] ~#6165~
* [ ] ~P2 #6166~

[2021-07-27 14:10] Bobgy opened #6164 "special components - importer"

[2021-07-27 14:10] Bobgy opened #6165 "special components - resolver"

[2021-07-27 14:10] Bobgy opened #6166 "special components - lifecycle hook"

[2021-07-27 14:15] Bobgy opened #6167 "v2 e2e testing - v2 CLI compiler based"

[2021-07-27 14:15] Bobgy opened #6168 "test: v2 backend API based e2e testing"

[2021-07-27 14:15] Bobgy opened #6169 "v2 API - v2 pipeline upload & management"

[2021-07-27 14:15] Bobgy opened #6170 "v2 API - run v2 pipeline"

[2021-07-27 14:15] Bobgy opened #6171 "v2 backend - recurring run & v2 pipeline"

[2021-07-27 16:37] pbarker opened #6173 "[feature] component DSL override docker cmd"
### Feature Area

/area components

### What feature would you like to see?

The ability to override the image command in the function transformers like https://kubeflow-pipelines.readthedocs.io/en/stable/source/kfp.components.html#kfp.components.func_to_container_op and  `create_component_from_func`

### What is the use case or pain point?

Looking to use Bitfusion for GPU resources which require

[2021-07-27 16:39] Nagarajj commented on #6103
Thanks @Bobgy for looking into this.

Perf should not be an implication in our case, as these are batch pipelines. The only concern with go binary is, Python has low barrier of entry/maintenance.
Yes, ContainerSet Template would do good for these scenarios.

[2021-07-27 16:42] Nagarajj commented on #6103
@Bobgy  Would ContainerSet Template help here as well ?

[2021-07-27 17:43] ferpitol commented on #4947
hi, my function are created with create_component_from_func,

so how can i implement this

[code]

example of my code

[code]

when in the main I code

[code]

it gives me the error : AttributeError: 'NoneType' object has no attribute 'execution_options'

also I tried

[code]

but it give the error:
AttributeError: 'NoneType' object has no attribute 'caching_strategy'

please could someone help me

[2021-07-27 17:46] ferpitol opened #6176 "[backend] <not possible to use execution_options.caching_strategy.max_cache_staleness = "P0D" with create_component_from_func with >"
hi, my function are created with create_component_from_func,

so how can i implement this

[code]
it gives me the error : AttributeError: 'NoneType' object has no attribute 'execution_options'

also I tried

[code]
but it give the error:
AttributeError: 'NoneType' object has no attribute 'caching_strategy'

please could someone help me I really need that any task of my pipeline runs cache and usin

[2021-07-27 17:50] ji-yaqi commented on #6146
The AIPlatformClient in KFP SDK will be deprecated and we would recommend starting to use `google-cloud-aiplatform`.

Currently, the `create_run_from_job_spec` is completed moved over and `create_schedule_from_job_spec` is in-progress. We are working on a code sample of usage in `google-cloud-aiplatform` (Vertex SDK) and will add to the deprecation warning when it's ready.

If it's blocking you, y

[2021-07-27 18:22] #5306 closed

[2021-07-27 19:49] zijianjoy commented on #6096
1. I think you can list the endpoint via kubectl `kubectl describe configmap inverse-proxy-config -n kubeflow | grep googleusercontent.com`, you probably need some script to query for all k8s context you have. Reference: https://www.kubeflow.org/docs/components/pipelines/installation/standalone-deployment/#deploying-kubeflow-pipelines
2. I don't know approaches other than https://cloud.google.com/

[2021-07-27 23:29] Nagarajj commented on #1697
@Bobgy and others, any guidance on this issue. Would be happy to contribute, this is blocking us. Thanks.

[2021-07-27 23:30] zijianjoy opened #6179 "Create simple Pipeline Detail Page"

[2021-07-27 23:50] Bobgy commented on #1697
/reopen
We do have plans to support DAG exit handlers for KFP v2 (it'll take a while), but didn't plan about v1.
/assign @chensun @neuromage
are v1 compiler owners

[2021-07-28 06:51] NikeNano commented on #6176
Can you try this example and see if this works for you: https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/samples/core/caching/caching_sample.py. Uses `create_component_from_func` with `.execution_options.caching_strategy.max_cache_staleness = 'P0D'`

[2021-07-28 07:41] toshitanian commented on #6146
@ji-yaqi Thank you for your reply! Then we will keep using the KFP SDK for a while and prepare migration to the Vertex SDK.

[2021-07-28 07:41] #6146 closed

[2021-07-28 08:14] chensun commented on #6120
Hi @TanjaDuPlessis, I wonder if you may missed any setup required for multi tenancy.
Can you please check if you went through all the steps: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/

/cc @Bobgy

[2021-07-28 08:36] vaskozl commented on #6138
Actually reverting doesn't solve the problem completely, I still find the Statistics and Evaluator artifacts don't display.

In the markdown they have zeroed out id's:

[code]

[2021-07-28 10:45] Bobgy opened #6183 "v2 - document how to develop"

[2021-07-28 10:45] Bobgy opened #6184 "v2 - release process"

[2021-07-28 10:46] Bobgy commented on #6156
/assign @capri-xiyue

[2021-07-28 10:46] Bobgy opened #6185 "distinguish v2 and v2 compatible labels"

[2021-07-28 10:53] Bobgy commented on #6148
I'll directly track this in #6110

[2021-07-28 10:53] #6148 closed

[2021-07-28 13:34] vaskozl commented on #6138
There seems to be a problem with ml-metadata 1.0.0 which is required by tfx 1.0.0 and matches the grpc server of 1.7.1.

Downgrading the the metadata-grpc-server doesn't work solve anything.

I've gone back down to tfx 0.30 which uses metadata 0.30.0

Visualisations work when I downgrade gcr.io/tfx-oss-public/ml_metadata_store_server to `0.25.1` as well.

[2021-07-28 17:11] dboshardy commented on #4939
Should this issue still exist in v1.3.0?  I am encountering this very issue with one of the demo pipelines (`[Tutorial] Data passing in python components`) in v1.3.0 KFP.

[2021-07-29 00:41] Bobgy commented on #5366
@zijianjoy that's the default behavior of browser, if you put some text in a div, they wrap when the div width is not enough.

There is a css property that disables this behavior, you may want to search for it.

[2021-07-29 03:37] Bobgy opened #6189 "[bug] workflow resource leaking when no run resource found in KFP DB"
### What steps did you take

1. connect to kfp-standalone-1 cluster in kfp-ci project
2. count current workflows -- 1252

[code]

3. confirm current workflow ages:

[code]

### What happened:
I found many workflows with age greater than 1d, our configured workflow GC time.
Because of the issue, there are too many Pods on each node and crashing GKE metrics server.

### What did you expect to happen

[2021-07-29 03:43] Bobgy commented on #6189
Found logs:

2021-07-29 06:30:02.824 HKTtime="2021-07-28T22:30:02Z" level=error msg="Transient failure while syncing resource (kubeflow/add-pipeline-28qf9): CustomError (code: 0): Syncing Workflow (add-pipeline-28qf9): transient failure: CustomError (code: 0): Error while reporting workflow resource (code: Internal, message: Report workflow failed.: Failed to update the run.: InternalServerError:

[2021-07-29 06:04] #6147 closed

[2021-07-29 06:07] Bobgy commented on #6189
I cannot find other logs in persistence agent and api server about this workflow.

So far I propose to mitigate this problem by:

when reporting a workflow, if the workflow is not in KFP DB, we should delete it to avoid leaking resources.

Meanwhile, it's important to keep debugging why these workflows were leaked, there might be other bugs hidden somewhere.

[2021-07-29 06:08] Bobgy commented on #6189
Meanwhile, it's important to keep debugging why these workflows were leaked, there might be other bugs hidden somewhere.

[2021-07-29 09:00] Bobgy opened #6192 "[pH] workflow resource leaking when argo workflow running forever"
### What steps did you take

Run a workflow which uses an invalid image name.

### What happened:
The workflow is stuck in running state, because the Pod is stuck in Init:InvalidImageName.
However, the workflow is kept in the cluster forever.

### What did you expect to happen:

I'd expect the workflow to time out after a certain time and gets GCed.

### Anything else you would like to add:

I'm o

[2021-07-29 09:01] Bobgy commented on #6189
With the mitigation, remaining workflow count is reduced to:
[code]

I further found a different reason for leaked workflow: https://github.com/kubeflow/pipelines/issues/6192

[2021-07-29 10:26] jtlz2 commented on #2560
@amygdala @bobgy I use tqdm when doing the training interactively. Is there a good way to disable it when it's running inside kubeflow rather than when the component is being run standalone/locally in a notebook?

[2021-07-29 20:51] nicokuzak commented on #1252
Any updates on this?

[2021-07-29 22:20] NikeNano commented on #6176
@ferpitol

[2021-07-29 23:09] #6183 closed

[2021-07-30 00:47] Bobgy commented on #6173
/cc @chensun

[2021-07-30 00:53] #6114 closed

[2021-07-30 01:03] capri-xiyue commented on #6114
We solved this issue in v2 compatible mode(fyi: bit.ly/kfp-v2-compatible
). No matter what you use for downstream components, the cache result is the same. We have not fully released kfp v2 compatible mode. You need to wait for Kubeflow Pipeline 1.7.0

[2021-07-30 01:06] Bobgy commented on #6102
Thank you for the report! Let me try to reproduce

[2021-07-30 01:09] Bobgy commented on #6093
/assign @IronPan @SinaChavoshi

[2021-07-30 07:41] Bobgy commented on #1252
I think https://github.com/kubeflow/pipelines/pull/5972 is the fix to this

[2021-07-30 11:33] Bobgy opened #6197 "[sdk] v2compat - pipeline without name also runs"
### Environment

*  KFP SDK version: master

### Steps to reproduce

1. Run a pipeline function, but do not annotate the pipeline decorator

[code]

2. Verify the pipeline runs properly in v2 compatible mode

3. However, if we look at the pipeline's pipeline name, it is empty -- "pipeline/".

### Expected result

The pipeline should fail without a pipeline name, or we may default to the function's

[2021-07-30 12:56] Bobgy commented on #2560
@jtlz2 I don't think the question is related to Kubeflow though.
Consider adding a special flag / env var that your program recognizes and do not use tqdm?

[2021-07-30 12:56] Bobgy commented on #4649
TODO: document how this can be done with v2 compatible mode

[2021-07-30 13:05] Bobgy commented on #4440
Our official feature to support this use-case is https://github.com/kubeflow/pipelines/issues/5138.
Because the PR has been merged and released: https://github.com/kubeflow/pipelines/pull/5676.
Let's keep tracking the task of finishing documentation in #5138, and close this issue.

[2021-07-30 13:05] #4440 closed

[2021-07-30 13:59] Bobgy commented on #5138
I think the following documentation should be updated:
* [ ] https://www.kubeflow.org/docs/components/pipelines/multi-user/#in-cluster-api-request-authentication
* [ ] https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#connect-to-kubeflow-pipelines-from-the-same-cluster

@yanniszark @elikatsis May I confirm whether you plan to also do the doc update? It's OK you don't have time, o

[2021-07-30 14:15] Bobgy commented on #6096
Strange, I think you can just get the token by `gcloud auth print-access-token` and add it to header `Authorization: Bearer <Token>`.

Did you make a typo there? It should be Authorization Bearer: https://swagger.io/docs/specification/authentication/bearer-authentication/

[2021-07-30 14:36] Bobgy commented on #6118
Is this a duplicate of https://github.com/kubeflow/pipelines/issues/3763?
@liguodongIOT

[2021-07-30 14:36] Bobgy commented on #6120
@TanjaDuPlessis refer to https://www.kubeflow.org/docs/components/pipelines/multi-user/#in-cluster-api-request-authentication, it's one of the current caveats of multi-user mode.

We are now supporting this usage through https://github.com/kubeflow/pipelines/issues/5138.

[2021-07-30 14:37] Bobgy commented on #6120
@chensun this is expected behavior, because KFP API server is authorizing requests.

[2021-07-30 14:37] #6120 closed

[2021-07-30 17:36] capri-xiyue commented on #5450
The root cause of this issue is because somehow https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/env/gcp/gcp-configurations-patch.yaml does not apply to the deployment of `ml-pipeline`, therefore https://github.com/kubeflow/pipelines/blob/e21ea18c1310eadc080cb21c0fc025de8b0b808f/backend/src/apiserver/resource/resource_manager_util.go#L208 here does not patch default values.

[2021-07-30 18:09] capri-xiyue commented on #5450
Hi @myoshimu ,
I tested with the same KFP version using with [this step](https://cloud.google.com/ai-platform/pipelines/docs/getting-started
). The "[Demo] TFX - Taxi tip prediction model trainer" works.(Screenshot attached)
<img width="1126" alt="Screen Shot 2021-07-30 at 10 58 50 AM" src="https://user-images.githubusercontent.com/52932582/127693862-da1865d2-d64c-4163-8b13-ed9e781706bd.png">
<img

[2021-07-30 19:59] #6179 closed

[2021-07-30 21:21] zijianjoy opened #6198 "v2 UI tracker"
* POC and Design
   * [x] https://github.com/kubeflow/pipelines/issues/6073
   * [x] #6126
   * [x] #6301

* proto
  * [x] #6205
  * [x] #6215
  * [x] #6272
  * [x] #7611
  * [x] #7444

* Mock backend
   * [x] #6212
   * [x] #6232
   * [x] #6302
   * [x] Create pipelineSpec sample tests

* Static Pipeline Graph
  * [x] #6778
  * [x] #6270
  * [x] #6280
  * [x] #6397
  * [x] #6419
  * [x] #6398
  *

[2021-07-30 21:24] zijianjoy opened #6199 "v2 backend API"
- [x] #6169
- [x] #6170
- [x] #6171
- [x] #7119

[2021-07-30 23:18] #5746 closed

[2021-07-31 04:00] Bobgy commented on #3763
Yes, it's expected that `status` property is empty when ml-pipeline-persistenceagent is stuck, because it stocks syncing status from argo workflow to KFP db.
The root cause is still about persistence agent. If there're insights in there, or if there are ideas to detect this problem and set it as liveness hook (when liveness hook fails, the server restarts), they will help a lot.

[2021-08-01 06:33] zijianjoy commented on #6126
POC is available at this branch

https://github.com/zijianjoy/pipelines/tree/dag-poc

[2021-08-01 06:33] #6126 closed

[2021-08-01 08:58] #6063 closed

[2021-08-01 08:59] Bobgy commented on #6167
Fixed by https://github.com/kubeflow/pipelines/pull/6193

[2021-08-01 08:59] #6167 closed

[2021-08-01 19:20] darthsuogles opened #6204 "[feature] documentation for production grade deployment of kubeflow pipelines"
### Feature Area

/area documentation
/area samples
/area deployment

### What feature would you like to see?

Documentation for production-grade deployment of kubeflow pipelines.

### What is the use case or pain point?

### Is there a workaround currently?
Unaware

---

Love this idea? Give it a 👍. We prioritize fulfilling features with the most 👍.

[2021-08-02 04:52] zijianjoy opened #6205 "Create script for generating pbjs classes from pipeline_spec."

[2021-08-02 05:52] #1252 closed

[2021-08-02 05:52] #4877 closed

[2021-08-02 09:49] Bobgy commented on #6103
Yes, I believe ContainerSet template seems like a good fit.
It's just released as Alpha in argo, so encourage anyone interested to try it out and mature it.

Will ContainerSet be enough for your case @zzxvictor? As far as I can tell, multiple containers in one Pod has less overhead than multiple Pods, because they can be scheduled only once and they share local volumes.

Another option I mentioned

[2021-08-02 09:50] Bobgy commented on #6103
In v2 compatible and v2 we are building, these info are already captured in the ml-metadata store deployed with KFP. What's missing there?

[2021-08-02 12:10] Bobgy commented on #6149
Done

[2021-08-02 12:10] #6149 closed

[2021-08-02 13:50] Bobgy opened #6211 "v2 API & backend"
Tasks:
* [ ] #6169
* [ ] #6170
* [ ] #6171

[2021-08-02 14:53] Bobgy commented on #6211
duplicate of #6199

[2021-08-02 14:53] #6211 closed

[2021-08-02 14:56] Bobgy commented on #6199
Hi @zijianjoy, I updated some tasks according to the plan

[2021-08-02 15:43] zijianjoy commented on #6199
Cool! Thank you @Bobgy for the update!

[2021-08-02 15:51] NikeNano commented on #5954
I will take a stab at this again @Bobgy, as I understand all the issues we only want to add the `v` tag to the golang packages then which is then the same as the name of the `github tags`?

[2021-08-02 16:58] zijianjoy opened #6212 "Fix mock-backend unable to resolve paths in tsconfig when running ts-node."
Because of https://github.com/TypeStrong/ts-node/issues/138, we cannot use absolute path import in src/ unless we use this library: https://www.npmjs.com/package/tsconfig-paths.

Another way is to change all imports to relative paths, but that is less optimal.

[2021-08-02 17:10] zijianjoy opened #6214 "Create router mechanism to switch between v1 and v2 pipeline detail"

[2021-08-02 17:10] zijianjoy opened #6215 "Serve proto file using protobuf.js fromObject call"

[2021-08-02 22:49] aivanou commented on #5450
@capri-xiyue  Hi! Is it possible to create a single example that does not require me to set up a gcp account? It would be great if I can just run example, without reading on a side that kfp actually sets some hidden env. variables(e.g. {{kfp-default-bucket}})

It is very confusing for users that if I deployed my kfp cluster on aws, I cannot run any examples, and basically on my own.

[2021-08-02 23:00] capri-xiyue commented on #5450
You don't have to set up a gcp account when you follow this doc https://cloud.google.com/ai-platform/pipelines/docs/getting-started

[2021-08-03 07:15] Bobgy commented on #5555
With KFP 1.7.0-rc.2, we support using argo emissary executor and it should be able to run on fargate.

(I verified it works on GKE autopilot)

[2021-08-03 08:10] #6073 closed

[2021-08-03 08:56] #2523 closed

[2021-08-03 17:47] SinaChavoshi commented on #6059
Thank you for raising this issue. fixed by https://github.com/kubeflow/pipelines/pull/6066

[2021-08-03 17:47] #6059 closed

[2021-08-03 17:52] SinaChavoshi commented on #5915
This issue was fixed by https://github.com/googleapis/python-aiplatform/pull/494

[2021-08-03 17:52] #5915 closed

[2021-08-03 18:00] SinaChavoshi commented on #4408
Resolving as obsolete, If there are individual components in AI Hub that have demand / are relevant please create a separate issue for them. Otherwise I would edge on the side of not cluttering the repo with stale out dated components.

[2021-08-03 18:00] #4408 closed

[2021-08-03 18:03] SinaChavoshi commented on #6085
Assigning to chen for comments/ triage.

[2021-08-03 18:08] SinaChavoshi commented on #6093
Good find, seems like we are splitting on "=" instead of splitting on the first instance of '=' and taking the remaining argument as the input query string. Marking as P0 as directly query is broken with this issue.

[2021-08-03 18:31] yuhuishi-convect commented on #5555
Thanks for the update @Bobgy. Will this executor mode be enabled by default under 1.17 or editing `workflow-controller-configmap` is still needed?
[code]

[2021-08-03 18:50] #6212 closed

[2021-08-03 20:04] #6205 closed

[2021-08-04 07:00] wiktorof opened #6225 "[feature] Pipeline to continue after any steps fails"
### Feature Area
/area sdk
### What feature would you like to see?
Handling exception during the failed step in workflow. so something similar to ExitHandler but on the step not pipeline level.
### What is the use case or pain point?
Some steps in pipeline might be optional or at least not critical. And if they fail we don't care albeit we would like pipeline to continue and finish with status set

[2021-08-04 12:53] Bobgy commented on #5718
Renaming to just default to emissary executor, because we've finished the upgrade.

[2021-08-04 13:55] #5943 closed

[2021-08-04 18:46] zijianjoy opened #6232 "Mock first simple V2 pipelineSpec response"

[2021-08-04 21:28] #5329 closed

[2021-08-04 21:50] zijianjoy commented on #6002
I am not sure what is the root cause for experiencing this `invalid input error` failure, it sounds good for creating a new issue to debug this further.

[2021-08-04 21:54] zijianjoy commented on #5304
Thanks @NikeNano for the research! Since you can use ML-engine REST API, looks like you should be able to call this endpoint to specify regions.

[2021-08-04 23:40] ji-yaqi commented on #6085
This AIPlatformClient would be deprecated soon. Thanks for the FR, we have it in our options to add into Vertex SDK.

[2021-08-04 23:48] Bobgy commented on #5555
1.7.0-rc.2 default to emissary, but I am reverting that.
I will add a separate manifest env for emissary.

[2021-08-05 01:53] #5689 closed

[2021-08-05 05:53] ckchow opened #6237 "[feature] support setup.py in gcp/python/launch_dataflow"
### Feature Area
 /area components

### What feature would you like to see?
Allow the python dataflow launch component to pass `setup.py` to the dataflow stager program as a requirements-specification option. See [beam docs](https://beam.apache.org/documentation/sdks/python-pipeline-dependencies/#multiple-file-dependencies) for details.

Only one of `requirements.txt` or `setup.py` should be allow

[2021-08-05 07:26] Bobgy opened #6238 "[v2 sample test] kaniko build times out / OOM"
We've observed significantly high build time outs and OOMs with Kaniko recently.
I've tried several combinations:
1. 1.3.0-debug with/without --snapshotMode=redo + 4GB memory
2. 1.6.0-debug with/without --snapshotMode=redo + 8GB memory https://github.com/kubeflow/pipelines/pull/6226

but none of them run stably in reasonable amount of time.

The memory and timeout issues can be found upstream:
* h

[2021-08-05 07:27] Bobgy commented on #6238
## Proposal

Our major use-case is building images with go applications, so `ko` seems like a natural fit.

ref: introduction ko vs buildpacks vs docker: https://cloud.google.com/blog/topics/developers-practitioners/ship-your-go-applications-faster-cloud-run-ko

[2021-08-05 13:33] #6238 closed

[2021-08-05 13:43] raphaelTrench opened #6241 "[backend] Pipelines compiled with v2 compatible mode break on startup"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?
[https://github.com/kubeflow/manifests#installation](https://github.com/kubeflow/manifests#installation)
Option 2
*  KFP version:
1.5.1
*  KFP SDK version:
1.6.4

### Steps to reproduce

When running any pipeline compiled with the mode parameter set as `PipelineExecutionMode.V2_COMPATIBLE`, the pipeline instantly fails with the follo

[2021-08-06 00:35] zijianjoy commented on #6241
Hello @raphaelTrench , would you like to try KFP backend 1.7.0-rc.2 ?

[2021-08-06 00:36] Bobgy commented on #6237
/assign @IronPan @SinaChavoshi

[2021-08-06 00:44] Bobgy commented on #6225
/cc @chensun
I think v2 pipeline spec has more flexible support for exit handler, it's pending DSL change to expose the feature.

[2021-08-06 00:45] Bobgy commented on #6225
/assign @chensun

[2021-08-06 00:48] Bobgy commented on #6204
I have some personal notes on the topic, will try to document them.

[2021-08-06 00:52] zijianjoy commented on #6138
Hello @vaskozl , what is the TFX version you are using when you are using KFP 1.4.0?

[2021-08-06 00:53] Bobgy commented on #6138
/cc @jiyongjung0
do you know any context?

[2021-08-06 00:57] zijianjoy commented on #6138
Possible related: https://github.com/tensorflow/tensorflow/issues/50045

[2021-08-06 00:57] Bobgy commented on #6121
Hi @ReggieCarey!
Can you give output of `kubectl logs ml-pipeline-9b68d49cb-x67mp ml-pipeline-api-server --previous`? that should include logs from last failed container.

[2021-08-06 00:58] Bobgy commented on #6121
For metadata-writer, what is status of `metadata-grpc-server`?

[2021-08-06 00:59] Bobgy commented on #6100
Candidate for Kubeflow 1.4 release

[2021-08-06 01:04] ReggieCarey commented on #6121
Thanks Yuan Gong,

As per request:

Thu Aug 05 15:43:51 $ kubectl logs ml-pipeline-9b68d49cb-6z2tq ml-pipeline-api-server --previous
I0806 00:55:18.818889       7 client_manager.go:154] Initializing client manager
I0806 00:55:18.818963       7 config.go:57] Config DBConfig.ExtraParams not specified, skipping

Sadly, that's it.

Reggie

[2021-08-06 01:11] ReggieCarey commented on #6121
For metadata-writer issue:  The status of metadata-grpc-deployment is stable(ish).  It has restarted 533 times.

Here is  output from "describe", the logs for "container" are empty

[code]

[2021-08-06 01:25] #6151 closed

[2021-08-06 01:31] ReggieCarey commented on #6121
Both servers are part of the istio service mesh. In the past, the mysql process was implicated.  That process remains up and stable with 0 restarts.

<img width="1052" alt="image" src="https://user-images.githubusercontent.com/10270182/128441376-53624383-92a0-45d4-bf59-83927864bebd.png">

Both pods go to a state of Running then fail but they are not synchronized in this failure.

I should also add

[2021-08-06 02:14] #6232 closed

[2021-08-06 05:49] Bobgy opened #6249 "Emissary Executor feedback"
As proposed in https://github.com/kubeflow/pipelines/issues/5718, we want to ask for feedback about emissary executor.

Emissary executor is currently in Alpha state, but the Kubeflow Pipelines team is actively helping to make it mature. The team has been able to run Kubeflow Pipelines test infra stably with emissary executor. We are now releasing emissary executor as an option when deploying KFP

[2021-08-06 05:50] Bobgy commented on #6249
If you have already tried emissary executor:
* thumbs up on this comment if it works well for you
* thumbs down on this comment if you hit some problems (and welcome a separate comment the problem you met)

[2021-08-06 09:35] vaskozl commented on #6138
When on 1.4.0 everything from TFX 0.27 to 1.0.0 wrote metadata. (visualizations didn't work but they do in the 1.7.0 release). I do recall having to bump the grpcio version in requirements up and down while hopping up to TFX 1.0.0 .

TFX 1.0.0 -> Kubeflow 1.7.0 (with metadata) No metadata written
TFX 1.0.0 -> Kubeflow 1.4.0 Partial metadata written it seemed
TFX 0.30.0 -> Kubeflow 1.4.0 All as exp

[2021-08-06 09:40] AntPeixe commented on #3599
Is there any update on the status of this?

[2021-08-06 11:03] Bobgy opened #6252 "Make components emissary compatible"
The following 24 components do not have a command in their component yaml:

https://github.com/search?l=YAML&p=3&q=repo%3Akubeflow%2Fpipelines+filename%3Acomponent.yaml+-command&type=Code

[2021-08-06 13:36] Bobgy commented on #3599
This has been implemented and released

https://github.com/kubeflow/pipelines/pull/5060

[2021-08-06 13:37] #3599 closed

[2021-08-06 15:22] prasadkyp7 commented on #4948
Is there any update on how to pass kubeflow login credentials using kfp client or a rest api to trigger the pipelines

[2021-08-06 16:33] prasadkyp7 opened #6254 "KFP CLIENT CALL"
I am trying to use the kfp.client in KUBEFLOW 1.2 and passing cookies for user authorization. I am not finding any other solution to use KFP API or kfp.client.

This is very weird way of creating/using kfp.client.

Is there any other way to pass username and password for authorization of using kfp.client or any other rest api and create a run??

[2021-08-06 17:33] eddynelson opened #6255 "[feature] Passing different data type (like pd.DataFrame or tf.data.Dataset) between stages"
### Feature Area

 /area backend

### What feature would you like to see?

When using python functions to create stages using `kfp.components.func_to_container_op` is not possible to return different kinds of data types like `pd.DataFrame` or `tf.data.Dataset`, just to mention a few, would be great if we could return different kinds of data types that are common use for **Dataset**.
### What is th

[2021-08-06 18:26] casassg opened #6256 "[feature] Adding description to pipeline version"
### Feature Area

/area frontend
/area backend

### What feature would you like to see?

While using KFP, we lack a way to add descriptions to the pipeline version. This would be useful for example to track metadata of the version uploaded (like for example what git sha was this version generated from).

### What is the use case or pain point?

Easier integration into CD systems for continous comp

[2021-08-06 23:15] Bobgy commented on #6256
Thank you for explaining the use case clearly!
This seems helpful to many.
So welcome contributions!

[2021-08-06 23:19] casassg commented on #6256
@Bobgy any pointers to how to add a field? Seems I can should add it https://github.com/kubeflow/pipelines/blob/cc83e1089b573256e781ed2e4ac90f604129e769/backend/api/pipeline.proto#L324 but then not sure how to propagate this across server api and such (or if it needs it somewhere else) or it needs some DB migration.

[2021-08-06 23:30] Bobgy commented on #6256
Backend code: https://github.com/kubeflow/pipelines/tree/master/backend
Backend api pipeline version proto: https://github.com/kubeflow/pipelines/blob/7872bd4fee870d4b912c6a0862106b42a5179c09/backend/api/pipeline.proto#L324
Regenerate code after updating proto, https://github.com/kubeflow/pipelines/tree/master/backend/api#auto-generation-of-go-client-and-swagger-definitions
Pipeline server:
https:

[2021-08-07 01:24] casassg commented on #6256
Started backend changes in #6261 . I regenerated most code and seems backend is working (mostly just ran unit tests to ensure data was being written to DB and could be read back). Missing to run some integration tests (need to spend more time to add integration tests).

[2021-08-07 04:29] midhun1998 commented on #6254
Hi @prasadkyp7 . KFP now supports authentication using ServiceAccountTokens. This was implemented recently. You can find details in the ref issue.
Ref issue: #5138
Ref PR: #5676
You can look at a sample PodDefault config here https://github.com/kubeflow/pipelines/pull/5676#issuecomment-874755408

[2021-08-08 00:12] #6214 closed

[2021-08-08 04:01] prasadkyp7 commented on #6254
How about ttl logic.

client.create_run_from_pipeline_func(TTL_pipeline,namespace="dev", arguments={},experiment_name="TEST",pipeline_conf=pipeline_conf.set_ttl_seconds_after_finished(seconds=10))

ttl is not working to delete the pods after completion. we upgraded to new kubeflow as it was mentioned that it was a new feature added. But its not working . any update on this?

[2021-08-08 05:02] zijianjoy opened #6264 "Consider using tailwindcss"

[2021-08-09 01:39] Bobgy commented on #6096
It's not a public API from my understanding

[2021-08-09 06:11] yousefis opened #6269 "large tarfile extraction: tarfile.ReadError: file could not be opened successfully"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

*  KFP version:
kfp                               1.6.3
kfp-pipeline-spec                 0.1.8
kfp-server-api                    1.6.0
kfp-tekton                        0.9.0

### Steps to reproduce
Just run the below pipeline:

`import kfp

import kfp.components as comp

def extract_img(file_path: comp.InputPath('Tarball'),
):

	i

[2021-08-09 07:57] Bobgy commented on #6252
I think we could easily build a component migration tool which can be called like:
[code]

The CLI does the following:
1. read the component yaml
2. verify if command is specified
2. if not, call docker pull && docker inspect to get the command, modify component yaml to include the command

[2021-08-09 08:21] zijianjoy opened #6270 "Take a pipelineSpec jspb object, convert to reactflow elements and graph layout."

[2021-08-09 09:02] Bobgy commented on #5257
I think KFP v1 caching should not cache volume op / resource op, because the side effect is intended.
/cc @Ark-kun

Welcome contributions to fix this.
Caching webhook: https://github.com/kubeflow/pipelines/tree/master/backend/src/cache.

Besides that, caching for KFP v2 compatible mode should no longer cache volume ops. You can also consider trying it out too when it's released and documented for

[2021-08-09 11:53] zijianjoy opened #6272 "Use protoc to compile IR to typed definition."

[2021-08-09 17:00] #6264 closed

[2021-08-09 21:54] ReggieCarey commented on #6121
Any progress or ideas or things to try?  KFP probably represents one of the most beneficial parts of Kubeflow 1.3.0 to us.  As of now all I have is Jupiter Notebooks with a Kubeflow Dashboard wrapper.  I can't use KFP at all.

[2021-08-09 22:31] InsertCoolNameHere opened #6277 "[bug] Error Deploying Kubeflow over Local Kubernetes Cluster"
### What steps did you take

We are attempting to deploy the kubeflow pipeline over a local cent-os cluster using kustomize, as mentioned in https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize

### What happened:

However, after the deployment steps, we are seeing the following status of the pods:

[code]

It seemed to us that the metadata-grps pod is the main issue, that leads t

[2021-08-09 22:55] zijianjoy opened #6279 "Show json payload of the Pipeline definition template (instead of YAML)."

[2021-08-09 22:56] zijianjoy opened #6280 "Define static status css styling for Execution, Artifact."

[2021-08-10 00:47] chensun commented on #6252
Note that some component.yaml from the search query are only for unit testing, and not meant to be runnable, so they may use a dummy image, for example: https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/serving_component.yaml

On the other hand, it's possible that some component yaml aren't showing up i

[2021-08-10 01:12] pbarker opened #6282 "[backend] Multi-user volume ops break"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)?

From the manifests repository
*  KFP version:

1.5.1
*  KFP SDK version:

1.6.2

### Steps to reproduce

Using Kubeflow multi-user:

1.) Create a pipeline which utilizes VolumeOp https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.VolumeOp

2.) Create run of pipeline in a user's namespace. This should pas

[2021-08-10 04:51] zijianjoy opened #6283 "Explore storybook for component implementation: https://storybook.js.org/"

[2021-08-10 08:28] munagekar commented on #6282
Maybe this is related https://github.com/kubeflow/pipelines/issues/5257

[2021-08-10 09:02] mohandeepzumen commented on #4258
kubeflow       ml-pipeline-8d6749d9c-sp655                                  0/2     Pending            0          22h

All ML-Pipeline related apps are pending. Any way to resolve this??

[2021-08-10 09:38] #6272 closed

[2021-08-10 19:35] tayritenour commented on #5906
I am also interested in this issue as I am also in the same boat, but installed on AWS. I don't think this issue has anything to do with Azure specifically. The best that I can find from the documentation about this "single-user mode" points me towards enabling multi-user support here: https://www.kubeflow.org/docs/components/pipelines/installation/overview/#full-kubeflow-deployment
[code]
Which i

[2021-08-11 00:30] chensun commented on #6252
Actually, out of the 24 results, there are 11 false positives:

Unit tests with fake image:
- https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/serving_component.yaml
- https://github.com/kubeflow/pipelines/blob/d9c019641ef9ebd78db60cdb78ea29b0d9933008/sdk/python/kfp/v2/compiler_cli_tests/test_data/comp

[2021-08-11 04:40] #6152 closed

[2021-08-11 05:45] #6270 closed

[2021-08-11 06:54] jtlz2 commented on #4968
@ankur47 @Ark-kun Is there a workaround for this short of writing a custom encoder?

Thanks

[2021-08-11 07:13] Bobgy opened #6292 "[frontend] create button on recurring run list creates non-recurring runs"
### Environment

*  How did you deploy Kubeflow Pipelines (KFP)? ai platform pipelines

*  KFP version: 1.7.0-rc.3

### Steps to reproduce

1. go to recurring runs list page
![image](https://user-images.githubusercontent.com/4957653/128985436-de0b8a78-35ba-4f4b-986b-1d898ad75bef.png)
2. notice the button is "Create Run", click it
3. I get to the create run page, but it defaults to create a normal

[2021-08-11 07:20] Bobgy opened #6293 "[backend] v2compat - recurring runs fail with "Failed to create component launcher: Invalid launcher options: must specify RunID""

[2021-08-11 08:13] Bobgy opened #6294 "Make emissary an option in AI Platform Pipelines"
https://github.com/kubeflow/pipelines/issues/5779#issuecomment-896761095
needs to be fixed

public doc: https://kubeflow.org/docs/components/pipelines/installation/choose-executor/

[2021-08-11 08:13] shengzhou1216 commented on #6293
same issue.

[2021-08-11 08:36] Hmr-ramzi opened #6295 "[Minio] <Connecting kubeflow pipelines to a minio tenant>"
### Feature Area

Hello Everyone,
I am currently trying to connect kubeflow pipelines to instead of using an own minio deloyment it would use minio tenant as an underlying file system to kubeflow pipelines. I was able to connect it to a minio gateway (just a simple gateway to a cloud provider) but i am unable to connect it to a minio tenant. Any advise or documentation on the matter ?

### What fe

[2021-08-11 08:51] Bobgy opened #6296 "[bug] sample - tfx builtin taxi sample visualizations broken"
### What steps did you take

1. install AI platform pipelines 1.7.0-rc.3
2. run builtin tfx taxi sample
3. check tasks with visualizations

![image](https://user-images.githubusercontent.com/4957653/128999167-2f3c38af-1ab2-4a2a-b9e8-03097ace3722.png)

### What happened:

visualization failed:

example validator fails with

statistics gen fails with

### What did you expect to happen:
they should v

[2021-08-11 08:51] Bobgy commented on #6296
/assign @zijianjoy

[2021-08-11 08:57] Bobgy commented on #6296
a minor problem:
![image](https://user-images.githubusercontent.com/4957653/129000588-06edd906-d07c-4ec3-af30-0963317bb8bd.png)

the html visualization does not fill the width in the sidepanel

[2021-08-11 11:49] Bobgy commented on #5779
Reports:
* [ ] kfp gcp marketplace -- support section should include github issues, instead of slack channel

[2021-08-11 11:51] Bobgy commented on #5779
mkp "use emissary executor" option tool tip is malformed, we cannot use markdown there:
![image](https://user-images.githubusercontent.com/4957653/129024060-2050ea00-55d6-456c-96a5-6ae43f1be60d.png)

[2021-08-11 11:55] Bobgy commented on #5717
Now the database username defaults to "root" on the UI.
![image](https://user-images.githubusercontent.com/4957653/129024415-52293877-57b7-41ea-bc3a-49de91ce8d28.png)

[2021-08-11 11:55] #5717 closed

[2021-08-11 17:34] zijianjoy opened #6301 "Design sub-DAG flow."

[2021-08-11 17:37] zijianjoy commented on #6301
Content:

1. How to show a sub-DAG node on Canvas? What is the interaction and ID for this node?
2. If click on sub-DAG node, what content to show about this node's detail?
3. If expand on sub-DAG node, how to visualize the internal content of this sub-DAG?
4. How does a user to navigate back to parent DAG?
5. How does external edges connect to sub-DAG (input and output)? What is the difference be

[2021-08-11 17:37] zijianjoy opened #6302 "Mock more get pipelineSpec response"

[2021-08-11 17:40] zijianjoy opened #6303 "Pass pipeline template to v2 if valid IR json and has enabled v2 flag, and to v1 otherwise."

[2021-08-11 17:53] prasadkyp7 commented on #5234
Can you help us to know where can i find the cluster role yaml file and deploy it again?

[2021-08-11 19:09] alanhdu opened #6304 "[feature] Support custom serialization of objects for Python components"
### Feature Area

</area sdk>
</area components>

### What feature would you like to see?

Right now, the Python components can only input + output a fairly limited set of types (essentially JSON, with some special case support for "file-like" objects / paths). It'd be great if we could plug-in support for a richer set of types where the serialization/deserialization happens *outside* of the Pytho

[2021-08-11 20:00] zijianjoy commented on #5084
/lifecycle frozen

[2021-08-11 23:23] james-jwu commented on #5779
FR: add v2 DSL sample to the "Getting Started" page

The sample was added as a built-in Pipeline sample. We should add it to the "Getting Started" page as well.

[2021-08-11 23:28] Bobgy commented on #5779
pipeline root parameter is called `pipeline-output-directory` in KFP UI/SDK
can we rename it to `pipeline-root` to be consistent with SDK API?

[2021-08-11 23:35] james-jwu commented on #5779
Running the sample that adds integers passes the 1st time, but fails the 2nd time:
**F0811 23:31:33.486213      15 main.go:50] Failed to execute component: failed to store output parameter value from cache: failed to parse parameter name="Output" value =15 to double: %!w(<nil>)**

https://2d99063a196f3ce0-dot-us-central1.pipelines.googleusercontent.com/#/runs/details/4de32ffc-f51f-4fc5-95d2-d08421

[2021-08-11 23:41] Bobgy commented on #5779
I think above error was fixed by https://github.com/kubeflow/pipelines/commit/2b78d16e03b1f0024389135af7f95807bb1d6354#diff-e5ea1eac6ea305b6e11fb743d381b3d9189a086e1a88ac8bf53bf64add225977L328-R330.
We just need to release KFP SDK 1.7.1 with v2 compatible.

[2021-08-11 23:45] rui5i commented on #5779
The status icon doesn't get updated until refresh the page. (Is this not supported yet or a bug?)
![Screen Shot 2021-08-11 at 4 44 20 PM](https://user-images.githubusercontent.com/31815555/129117533-913424a3-d19c-478a-b85b-629fdbac5ce2.png)

[2021-08-11 23:47] rui5i commented on #5779
labels name is a bit confusing:
pipelines.kubeflow.org/cache_enabled: 'true'
pipelines.kubeflow.org/enable_caching: 'true'

Maybe we should add a documentation for this two labels.

[2021-08-11 23:48] capri-xiyue commented on #5779
pipelines.kubeflow.org/cache_enabled: 'true' is for v1 and pipelines.kubeflow.org/enable_caching: 'true' is for v2 compatible and v2. We should document it somewhere

[2021-08-11 23:52] Bobgy commented on #5779
When I deploy a new AI Platform Pipelines cluster with managed storage, the v2 compatible tutorial does not work out of the box, because it's still defaulting to minio://mlpipeline bucket, but the bucket doesn't exist.

	status code: 403, request id: 169A656A37803974, host id:

fix: we should configure default pipeline root to GCS, when managed storage is enabled.

[2021-08-11 23:54] Bobgy commented on #5779
UI bug, for v2 compatible mode, output artifacts have URI "gcs://xxxx", but it should be "gs://xxxx", when using gcs bucket as pipeline root.

![image](https://user-images.githubusercontent.com/4957653/129118141-73d5359b-e8d2-41ce-a6a6-e1eb8363ca26.png)

[2021-08-11 23:55] james-jwu commented on #5779
Compiling the Vertex Pipeline sample produced an error:
...
/opt/conda/lib/python3.7/site-packages/kfp/compiler/v2_compat.py in update_op(op, pipeline_name, pipeline_root, launcher_image)
    127       k8s_client.V1EnvFromSource(config_map_ref=config_map_ref))
    128
--> 129   op.arguments = list(op.container_spec.command) + list(op.container_spec.args)
    130
    131   runtime_info = {

Attribu

[2021-08-12 00:06] capri-xiyue commented on #5779
How should cache work when everything is same except the pipeline_root?

[2021-08-12 00:13] Bobgy commented on #5779
Fix postsubmit tests: https://github.com/kubeflow/pipelines/commits/master

[2021-08-12 00:28] Bobgy commented on #5779
We need documentation for pipeline root

[2021-08-12 00:29] Bobgy commented on #5779
@rui5i yes, that's expected behavior for now.
cc @zijianjoy to consider as a FR.

https://github.com/kubeflow/pipelines/issues/5779#issuecomment-897233672

[2021-08-12 00:45] #6283 closed

[2021-08-12 03:39] Bobgy commented on #5545
@prasadkyp7 can you add more details?
What config did you set? What version are you using etc?

Ref: https://github.com/kubeflow/pipelines/issues/5234#issuecomment-805599988 this is my recommendation

[2021-08-12 03:40] Bobgy commented on #6293
This will be released in rc4

[2021-08-12 03:48] Bobgy commented on #6252
Thanks for figuring them out!
I'll start with a separate CLI tool then, one strong reason I want a tool instead of sth else is that:
[code]
this depends on pulling the image locally, it will be time consuming to migrate many components. I think migrations should be as easy as possible -- to make users easily stay with the latest versions.

For a CLI tool, we can use docker API to only pull the ima

[2021-08-12 03:50] Bobgy commented on #6252
https://medium.com/hackernoon/inspecting-docker-images-without-pulling-them-4de53d34a604

[2021-08-12 04:24] Bobgy opened #6306 "FR: add v2 DSL sample to the "Getting Started" page"
FR: add v2 DSL sample to the "Getting Started" page

The sample was added as a built-in Pipeline sample. We should add it to the "Getting Started" page as well.

EDIT:
similar FR by @Bobgy: add v2 DSL documentation to "Getting Started" page

_Originally posted by @james-jwu in https://github.com/kubeflow/pipelines/issues/5779#issuecomment-897225710_

[2021-08-12 04:24] Bobgy commented on #6306
/assign @zijianjoy

[2021-08-12 04:26] Bobgy opened #6307 "[sdk] v2compat - consistent naming of pipeline root parameter"
pipeline root parameter is called `pipeline-output-directory` in KFP UI/SDK
can we rename it to `pipeline-root` to be consistent with SDK API?

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/5779#issuecomment-897227634_

[2021-08-12 04:26] Bobgy commented on #6307
/assign @chensun

[2021-08-12 04:30] Bobgy commented on #6294
mkp "use emissary executor" option tool tip is malformed, we cannot use markdown there:
![image](https://user-images.githubusercontent.com/4957653/129024060-2050ea00-55d6-456c-96a5-6ae43f1be60d.png)

[2021-08-12 04:30] Bobgy commented on #6294
kfp gcp marketplace -- support section should include github issues, instead of slack channel, because maintainers only check github issues regularly. Also, we should add a link to documentations.
![image](https://user-images.githubusercontent.com/4957653/129023836-21295925-ab84-438a-b7ab-b99d9c9329a7.png)

[2021-08-12 04:32] Bobgy opened #6308 "[UI] v2compat - output artifacts have URI "gcs://xxxx", but it should be "gs://xxxx""
UI bug, for v2 compatible mode, output artifacts have URI "gcs://xxxx", but it should be "gs://xxxx", when using gcs bucket as pipeline root.

![image](https://user-images.githubusercontent.com/4957653/129118141-73d5359b-e8d2-41ce-a6a6-e1eb8363ca26.png)

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/5779#issuecomment-897236847_

[2021-08-12 04:33] Bobgy commented on #6308
/assign @zijianjoy

[2021-08-12 04:50] Bobgy commented on #6294
we also want to add emissary executor feedback issue link to documentation

[2021-08-12 04:52] Bobgy commented on #6294
we need to add documentation in AI Platform Pipelines installation doc.

[2021-08-12 04:58] Bobgy opened #6310 "[doc] v2 compatible mode -- pipeline root"
We need documentation for pipeline root

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/issues/5779#issuecomment-897254432_

[2021-08-12 06:07] Bobgy opened #6311 "[testing] postsubmit test failure 2021-08-12"
https://oss-prow.knative.dev/view/gs/oss-prow/logs/kubeflow-pipeline-postsubmit-standalone-component-test/1425587097510612992#1:build-log.txt%3A5394

For standalone components test, it fails when building sample test image:

sample-test-rb7fv-2769807467: The command '/bin/sh -c cd /sdk/python && python3 setup.py install' returned a non-zero code: 1