[2020-05-26 14:49] PatrickXYS commented on #3185
The latest TFX uses `apache-beam[gcp]>=2.20,<3`, and I think the incompatibility between beam 2.19 and TFX has been fixed. [Link](https://github.com/tensorflow/tfx/blob/master/tfx/dependencies.py#L25).

I think we can go ahead to update TFX taxi example with S3 support.

[2020-05-26 17:33] neuromage commented on #1138
@Ark-kun not sure if you intentionally meant to re-open this issue? Are you working on local runner for KFP?

[2020-05-26 19:23] jlewi commented on #3513
@jbottum I think kubeflow/pipelines#3693 is tracking the release of multiuser KFP.

[2020-05-26 19:27] jlewi commented on #3241
@Bobgy Could you please clarify what this issue is tracking? What is the remaining work? You asked me https://github.com/kubeflow/pipelines/issues/1223#issuecomment-630509920
to take a look. What is it you want me to take a look at?

[2020-05-26 19:45] NikeNano commented on #2863
I think this can be closed @Ark-kun

[2020-05-26 22:09] neuromage opened #3853 "Deprecate unofficial TFX components in the repository"
We should deprecate the TFX components in [1], as they are not supported by the TFX team, and also introduce a maintenance burden. Instead, we will ask users to use TFX SDK on KFP when running TFX components, and look to fill any feature gaps on the TFX SDK to ensure their experience of running TFX on KFP is a good one.

[1] https://github.com/kubeflow/pipelines/tree/master/components/tfx

[2020-05-26 22:10] neuromage commented on #3853
/assign @Ark-kun

/cc @jessiezcc
/cc @paveldournov
/cc @katsiapis

[2020-05-26 23:28] #3853 closed

[2020-05-26 23:34] Ark-kun commented on #3853
I think we already explicitly doing that. See the README for the TFX components:
https://github.com/kubeflow/pipelines/blob/fa3b304/components/tfx/README.md

`These components were created to allow the users to use TFX components in their KFP pipelines, to be able to mix KFP and TFX components.`
`If your pipeline uses only TFX components, please use the official TFX SDK.`

The biggest gap which wi

[2020-05-27 00:42] Bobgy commented on #3819
@tarjintor Yes, you are right. So far, they are only documented in source code. Contributions welcomed.

[2020-05-27 00:45] Bobgy commented on #3849
/cc @chensun
For current workaround, can you deploy a `ml-pipeline-visualizationserver' service? The service doesn't need to be backed by a deployment. Just make KFP api server start normally is fine.

[2020-05-27 00:46] Bobgy commented on #3849
If you'd want to complete get rid of it, we'd help with reviews.

[2020-05-27 00:47] Bobgy commented on #3849
Part of #1223

[2020-05-27 00:56] Bobgy commented on #3241
@jlewi This tracks remaining work to merge manifests to kubeflow manifests master. The unchecked items above are remaining. (I guess you'd want a breakdown for Enable multi user mode for Kubeflow Pipelines, I'll keep updating this when working on this.)

[2020-05-27 01:05] chensun commented on #3849
IIRC, `ML_PIPELINE_VISUALIZATIONSERVER_SERVICE_HOST` from manifest was never used. Instead, backend get such environment variable from the K8s auto-generated env variable as `<SERVICE_NAME>_SERVICE_HOST`. And we intentionally kept the visualizationserver service in the `kubeflow` namespace in addition to those in user namespaces to make it easier for user to decide which one they want to use. Is t

[2020-05-27 01:09] Bobgy commented on #3849
@chensun, thanks for pointing that out!

@elikatsis is preparing his own manifest. I think that's MiniKF, is that right? So it sounds reasonable if he prefers either way.

[2020-05-27 01:11] Bobgy commented on #3819
/close
Closing the issue as question has been troubleshooted and answered.
If you think adding related documentation is very helpful, please file a separate issue. Thanks!

[2020-05-27 01:11] #3819 closed

[2020-05-27 01:46] Bobgy commented on #2767
/reopen
to wait for documentation

[2020-05-27 03:09] rmgogogo commented on #3822
Feel free to create ticket whenever you hit problems.

[2020-05-27 03:37] Bobgy commented on #3143
/reopen
since #3845 reverted the fix here

[2020-05-27 04:20] Bobgy opened #3855 "[Docuementation] recurring run parameters to get scheduled time"
Asked in https://github.com/kubeflow/kubeflow/issues/5014#issuecomment-631977082

We need documentation on https://kubeflow.org about how to use arguments like `[[ScheduledTime]]` in recurring runs, currently documented in https://github.com/kubeflow/pipelines/blob/578e8231d01074b9dbe40ace1db8cc444a6a1bd8/backend/src/crd/samples/scheduledworkflow/parameterized.yaml#L29-L34
/cc @wenmin-wu
/assign @

[2020-05-27 04:41] Ark-kun commented on #3847
Does it work for you with raw Kubernetes?

[2020-05-27 04:43] Ark-kun commented on #3815
If this happens again try to collect the cache deployer logs across all restarts, so we can see how it was creating the secret.

[2020-05-27 04:58] #3353 closed

[2020-05-27 04:58] #3723 closed

[2020-05-27 05:01] Ark-kun commented on #3729
It's generally impossible. A file cannot possibly contain the SHA of it's own commit. With commit-based component references the samples cannot refer to a component updated in the same commit.

Having multiple commits is not a problem in a branch-based release.

I also think we should continue updating the components and references only when the code is changed (AFAIR, I've added the line about th

[2020-05-27 05:01] rmgogogo commented on #3143
Another google3 fix should be applied for proxy-server.
PR3845 is on submitting.

[2020-05-27 05:07] Ark-kun commented on #3687
Every pod created from a component now has the `component_ref` annotation in addition to the full `component_spec` annotation (which included component name and inputs/outputs).
[code]

[2020-05-27 05:12] Ark-kun commented on #3669
This should not be the case. The compiler has very broad backwards compatibility.

[2020-05-27 05:13] Bobgy commented on #3729
I've found an easy workaround, now I use git tag urls like https://raw.githubusercontent.com/kubeflow/pipelines/1.0.0-test-5/components/local/confusion_matrix/component.yaml. And I push a new commit and a tag together to github, so that this becomes available immediately.

A minor change is that, now cloudbuild task triggered by new tag for copying images need to be retried after images built.

[2020-05-27 05:13] numerology commented on #3687
Thanks @Ark-kun . However we still need pod labels to do something similar because pod annotations do not persist in the internal GKE log.

[2020-05-27 05:16] Ark-kun commented on #3628
Interesting. Did not know that.

However this might help understand the issue: If two pods cannot be scheduled on the same node, then they'll run sequentially.

[2020-05-27 05:19] Ark-kun commented on #3628
Glad to hear that.

[2020-05-27 05:19] #3628 closed

[2020-05-27 05:20] #2767 closed

[2020-05-27 05:21] Bobgy commented on #3729
I've got one branch based release working:
[code]

[2020-05-27 05:24] Bobgy commented on #3729
@Ark-kun I think using release tags in urls provides better user visibility on the version.
I'm still open to whether we keep this optional, we can continue the discussion in the email thread.

[2020-05-27 05:53] Bobgy commented on #3730
/close
This has been discussed in internal design review and we will follow release candidate approach.

[2020-05-27 05:53] #3730 closed

[2020-05-27 06:25] Bobgy opened #3857 "[KF 1.0 Compliance] Vulnerability Scanning"
Part of https://github.com/kubeflow/pipelines/issues/2884

@jlewi Do you know how other images share vulnerability issues?

I did a quick investigation, gcr.io provides vulnerability scanning, but the result is not visible to external visitors even if the image is public.

We can export the generated yaml report with commands like
[code]
Documented in https://cloud.google.com/container-registry/do

[2020-05-27 07:14] Bobgy commented on #3764
I will complete this

[2020-05-27 08:21] rmgogogo commented on #3143
background info for external:
The proxy-agent and proxy-server work together as an InverseProxy service so that KFP API/UI can be exposed via hostname like xxx.googleusercontent.com.

The previous fix #3663 fixed this issue via allowing change to use a new hostname whenever the proxy-agent got moved to a new VM (GKE node). It can solve the issue. However cons is that the hostname got changed.

Con

[2020-05-27 08:33] rmgogogo commented on #3143
detailed logs welcomed. it's possible after the node got moved to a new VM & session got expired, the current codebase didn't well handle the session/token refresh (just a guess now)

[2020-05-27 08:49] rmgogogo commented on #3143
client error msg is from [here](https://github.com/google/inverting-proxy/blob/d0189100e6bcf0b069885c3a2595da2ba16de0d8/agent/utils/utils.go#L132),

The proxy-agent can't get pending requests from proxy-server but get 401.

[2020-05-27 08:53] vlagache commented on #3835
Thank you for your answers @Ark-kun and @elikatsis , I will take the time to read and understand everything and get back to you if I have any more questions , thanks again for your quick answers.

Indeed I had not understood that there were KF and KFP.

Just to explain a little bit about the path I've taken regarding Kubeflow's apprenticeship...

- I have a (small) experience with AzureML (pipelin

[2020-05-27 10:11] rmgogogo commented on #3143
@parthmishra found a fix inside Google internal repo for multi-zone/multi-master case.
Quick question, does your case only happens in a multi-master cluster? Or your cluster is single-master?

The fix I found is only for multi-master case. Not sure whether the fix solve your problem.

[2020-05-27 11:16] ConverJens commented on #1442
@Ark-kun @aarthipa @ankitsingi In the issue linked in my previous comment @jlewi helped me debug this and as he pointed out, the issue was a missing virtualservice. This should have been created by the notebook-controller but it wasn't. Still not sure why that is. So workaround if you only have a very limited number of notebook servers is to manually deploy a virtualservice for each notebook serve

[2020-05-27 11:37] ConverJens commented on #1442
@Ark-kun @jlewi Found the issue, for some reason the USE_ISTIO var was set to false. This seems a bit weird since it is set to false in notebook-controller/base/param.env but it's set to true in notebook-controller/overlays/istio/param.env. Maybe it's caused by some faulty Kustomize setup.
Anyway, setting USE_ISTIO=true in notebook-controller/base/param.env fixed this for me for all notebooks.

[2020-05-27 13:06] anatolyzolotar commented on #3814
@eterna2 you're right, there is one more hidden file in the archive. I must have messed rewriting the example parquet to tar with gz compression and this hidden file seems  to be one of apple quarantine files with which I had headache when I tried to reproduce this problem. It really looks like for this tar.gz, API endpoint always returns this hidden file. I've rewritten this parquet file and re-p

[2020-05-27 13:21] pvgbabu commented on #1654
Hi @Ark-kun / @animeshsingh , I recently installed kubeflow kfctl_k8s_istio.v1.0.2.yaml on PKS cluster and try to run pipeline getiing error like
Events:
  Type     Reason       Age                 From                                           Message
  ----     ------       ----                ----                                           -------
  Normal   Scheduled    117s                defa

[2020-05-27 16:54] jiezhang commented on #3711
@Bobgy @jonasdebeukelaer I wonder if it is okay to remove the message completely, or at least lower the level to informational (without the exclamation mark and "Warning" prefix).

[2020-05-27 20:02] apryiomka opened #3859 "Compilation of KFP fails if no .kube/config present"
### What steps did you take:
run the following python with no kube/config

[code]

### What happened:
Got an error in argo validation step:

### What did you expect to happen:
Compilation succeeds without errors. Compiling pipeline should not fail unless we try to upload it.
### Environment:
Debian Linux

KFP version: v0.2.5

KFP SDK version: v0.2.5

### Anything else you would like to add:
Adding

[2020-05-27 22:10] Ark-kun commented on #3835
Mounting a volume is not necessary. The preferred model for Argo and KFP is that the system moves the data for you, so you do not have to care about the storage. This has many benefits - portability, simpler component code, data immutability guarantees, caching, etc.

Although you can use the data from volumes, doing this opts you out of some system guarantees and can interfere with operation of s

[2020-05-27 22:51] Ark-kun commented on #3859
The reason you get this error is that you have an `argo` program in your path. But your version of the the `argo` program cannot run in your environment (no .kube/config). It's a known issue in Argo: https://github.com/argoproj/argo/issues/2793

You can either:
* remove `argo` program
* downgrade `argo` program to v2.4.3 which can run in your environments

Is there a reason you have a non-working

[2020-05-27 23:38] Ark-kun commented on #3703
**A member of the KFP team here.**

#### TL./DR version:
We'd like developers to use graph component format as intermediate pipeline representation. The goal is to make compilation look like this:

[python pipeline](https://github.com/kubeflow/pipelines/blob/5e3d9aa791fe684962d16be4f0f767feed6222b2/sdk/python/kfp/components_tests/test_data/retail_product_stockout_prediction_pipeline.py) --stage 1-

[2020-05-28 03:47] wenmin-wu commented on #3855
Hi @Bobgy, here's a good reference for defining the time format
 https://programming.guide/go/format-parse-string-time-date-example.html
According to this doc, I successfully got scheduled time in `%Y-%m-%d`  with `[[ScheduledTime.2006-01-02]]` as the macro.

[2020-05-28 04:13] animeshsingh commented on #3703
Thanks @Ark-kun
Is this the final word on IR - Using `ComponentSpec`? We were being told there another IR in consideration with TFX team - has that goal been dropped? If yes, then this makes sense. Now apart from the issues you mentioned

1. Adding Backend support for IR/graph-components
2. Making Frontend IR-native
3. Refactoring the DSL to be based on the Graph Component structures.

few other t

[2020-05-28 04:21] animeshsingh commented on #3703
some more details in the slides I used for pipeline community meeting
https://www.slideshare.net/AnimeshSingh/kubeflow-pipelines-with-tekton

[2020-05-28 06:22] rmgogogo commented on #3143
The Google internal repo fix (for proxy-server) is submitted. It can fix the multi-master case which shows same error log.

ETA of going to production is ~1w. Here close this ticket.

The #3845 will be in next release (Yuan is oncall for the release, it may be named as 1.0.0-rc.0 and later be 1.0.0.0)

[2020-05-28 06:22] #3143 closed

[2020-05-28 06:35] vlagache commented on #3835
Ok thanks for your answer @Ark-kun I'll read all about it, I already started by installing KFP standalone on a Kubernetes cluster that runs with Docker Desktop as you recommended ( with this Readme : https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize )  It's actually much easier, I see the difference between KFP and KF and now :smile:

I'm going to go ahead and apply all the cod

[2020-05-28 06:51] NikeNano commented on #2863
/close

[2020-05-28 06:51] #2863 closed

[2020-05-28 07:36] rmgogogo commented on #3793
[code]

I can well fetch out the pipelines via token from GOOGLE_APPLICATION_CREDENTIALS.
Amy, do you still can hit the problem?

Did you setup the `export GOOGLE_APPLICATION_CREDENTIALS=xxx` correctly and the credential's service account can access the KFP? (e.x. same project's GCE default service account).

[2020-05-28 07:49] Ark-kun commented on #3835
Great to hear that =) There is also documentation here https://www.kubeflow.org/docs/pipelines/ although some parts may be a bit outdated - I'm working on updating it.

Not very important. You can leave it open for some time.

[2020-05-28 08:11] vlagache commented on #3835
I have one last question, a bit silly...

For my installation (KFP standalone on a Kubernetes cluster with Docker Dekstop), what is kfp_endpoint in this case? ( to use kfp.Client(host=...).create_run_from_pipeline_func ) I guess you have to access the ml-pipeline service in the "kubeflow" namespace, I searched port-forward the same way I did to access the ml-pipeline-ui service, but it doesn't loo

[2020-05-28 08:23] vlagache commented on #3835
I deleted my last question about kfp_endpoint.

I was asking what the value of kfp.endpoint is for local use in the

`kfp.Client(host=kfp_endpoint).create_run_from_pipeline_func(constant_to_consumer_pipeline, arguments={})`

It seems that it works when I remove "host" and that I execute my python file in the console, I have an error in the console but I had the run is well executed, I will be able

[2020-05-28 08:45] Ark-kun commented on #3703
No, that goal is not dropped. But it might not be exactly what you might think it is. In a sense, it's a TFX SDK IR. I worked with the feature owner to make sure it was close to ComponentSpec, but later it got revised and it has diverged. Nevertheless, it might not have all the capabilities of graph ComponentSpec.

I'm not sure I fully understand what you want to say with this item.

The reason th

[2020-05-28 08:54] Ark-kun commented on #3703
P.S. I really liked your presentation and the visual pipeline editing tool.

[2020-05-28 11:11] blazickjoe commented on #3793
I've seen this issue when mistakenly adding and ending "/" to the host. May want to check that as well.

[2020-05-28 13:33] aaaaahaaaaa commented on #3793
@rmgogogo
Your code doesn't work for me. I'm getting back an empty payload:
[code]

Where I'm confused is that `credentials.access_token` returns a JWT, which doesn't seem to be the expected format. If I'm using the token generated with `gcloud auth print-access-token` (not `gcloud auth print-identity-token`) as the `existing_token` parameter, then it works.

I'm not sure what format is `gcloud au

[2020-05-28 14:53] elikatsis commented on #3849
This must have been it:
KF manifests have wrong naming for the visualization server. The output is a double `ml-pipeline-` prefix.
[code]

I submitted kubeflow/manifests#1210 fixing that

[2020-05-28 15:01] elikatsis commented on #3849
@Bobgy, I see you fix it by removing the `nameprefix` (I'm building manifests from scratch while taking into consideration your work, that's why I didn't have it on my branch). If you prefer this solution I can change the PR accordingly

[2020-05-28 18:03] amygdala commented on #3793
Hmm.  Yes, I _thought_ I set up everything as described.  I think to hit the error you have to test w/out having gcloud installed (though not completely sure).  @rmgogogo
I will try again in a day or so but since there's a repro from someone else I'll unassign me if that's okay.

[2020-05-28 18:13] pvgbabu commented on #1654
Above issue fixed by using force option after changing containerRuntimeExecutor to pns
	kubectl apply -f  workflow-controller-configmap-pns  -n kubeflow --force

[2020-05-28 18:21] NikeNano commented on #2927
I would be happy to work on this @Bobgy!
/assign

[2020-05-28 18:49] talebzeghmi commented on #3703
@Ark-kun can you please share what the TFX IR is? thanks!

[2020-05-28 19:34] Ark-kun commented on #3703
A clarification:

My initial answer might have been ambiguous. **The TFX IR remains the recommended way forward for future development.** The information about graph `ComponentSpec` was only applicable to people who only use KFP SDK and want to persist their pipelines right now. **The TFX IR remains the recommended way forward for future development.**

[2020-05-28 20:12] talebzeghmi commented on #3703
Thanks @Ark-kun is the TFX IR in development or ready to share? Are you able to share links?
I ask because I'm interested in having Metaflow compile to the IR and run on KFP.
thank you!

[2020-05-28 21:31] fberanizo opened #3866 "Support PodSecurityContext"
I was running some containers using docker images from [Project Jupyter](https://github.com/jupyter/docker-stacks), and it's a common practice of them to set USER 1000 (jovyan) as default.

Everything works fine until I try to attach a persistent volume to the container...
Then, I can't write to the mount path because the appropriate `PodSecurityContext` and `fsGroup` [are not set](https://kuberne

[2020-05-28 22:01] sudivate opened #3867 "GET Pipeline Version API endpoint doesn't filter based on filter predicates"
### What steps did you take:
API Endpoint ([Documentation](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/#operation--apis-v1beta1-pipeline_versions-get))

GET /apis/v1beta1/pipeline_versions

e.g.
http://[_endpoint_]/pipeline/apis/v1beta1/pipeline_versions?resource_key.type=PIPELINE_VERSION&resource_key.id={[_pipeline_id_]}
&filter={"predicates":[{"key":"name","o

[2020-05-28 22:42] Ark-kun commented on #1138
I think that your idea is still pretty valid and useful. It would be nice to have that feature for component testing and experimentation. I've recently started creating components in my free time and testing them was not that easy without having a Kubernetes cluster.
Our SDK already runs some tests in a local environment, but it would be less hacky to just use docker.
So I just wanted to keep this

[2020-05-28 23:22] Mistobaan commented on #3859
it should still not fail miserably like that. The code should test that assumption of a working argo command and fail in case that requirement is not met.

[2020-05-28 23:53] jimmy-hawkfish opened #3868 "FE: Component access to run id variables"
Hi all,
At multiple points in our pipelines it would be useful for components to have access to:
- kfp_pod_name
- pipeline_name
- run_id
- component_run_id

for tracking purposes when interacting with external services (e.g. Katib). These values currently do not appear to be injected as environment variables. Could these environment variables be added and/or is there another way to access them cur

[2020-05-29 00:12] rmgogogo opened #3869 "TFX SDK + KFP Runner - support component level GPU"
TFX SDK + KFP Runner - support component level GPU

[2020-05-29 00:14] rmgogogo commented on #3869
the change should be inside TFX repo. Here record an issue for well tracking and share info with KFP user.

[2020-05-29 00:25] Bobgy commented on #3857
@jbottum Do you have any ideas about this?

[2020-05-29 01:08] rmgogogo opened #3870 "Better support GKE auto-provision (not auto-scale)"
https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning

/kind feature
/area backend
/area sdk

[2020-05-29 01:14] Bobgy commented on #2927
@NikeNano FYI, @rmgogogo has done refactoring mentioned above. Now the manifest we provide for `env/gcp` expects user to use either node default service account or workload identity. So that the secret will no longer be needed.

I think we can close this issue now.
Feel feel to open a new issue if the secret approach is still useful for you.
/close

[2020-05-29 01:14] #2927 closed

[2020-05-29 01:15] Bobgy commented on #2927
Here's an example of best practice we recommend: https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/sample

[2020-05-29 01:28] Bobgy commented on #3849
Replied in the PR

[2020-05-29 01:31] Bobgy commented on #3859
Yes, that sounds reasonable to me. Maybe we should just let the sdk check argo client version and report a warning message instead?

[2020-05-29 01:41] rmgogogo commented on #3703
@zhitaoli on TFX IR.

We are actively discussing this topic now and should can provide an initial update here around middle of next week. It's possible we may define a layered IR (core and different extensions).

[2020-05-29 02:12] animeshsingh commented on #3703
Thanks @Ark-kun for clarification. So established that TFX IR is the future.

@rmgogogo looking forward to the update

[2020-05-29 03:08] Bobgy opened #3871 "[Client] Use openapi-generator instead of swagger"
This topic arises from https://github.com/kubeflow/pipelines/issues/3216 and https://github.com/kubeflow/pipelines/issues/3764.

Especially, #3764 makes me think we should do the switch right now.

openapi-generator seems more maintained than swagger v2 now. It was a fork from swagger v2, so I don't expect many breaking changes, it should mostly be progressive improvements.

References:
* https://

[2020-05-29 03:09] Bobgy commented on #3871
/cc @Ark-kun @IronPan
/assign @Bobgy
I'll investigate the switch.

[2020-05-29 03:09] Bobgy commented on #3871
/cc @jingzhang36

[2020-05-29 04:18] tarjintor opened #3873 "Can I just use file_outputs's in metadata to get resources?What is the best practise for Visualize Results in the Pipelines UI?"
Hello,I am trying Visualize Results in the Pipelines UI now
I am using my custom containers as components,So I used files to output the container components results,it looks like
[code]
At first, I thought I can just use the output file's path to show the results, it looks like
[code]
I thought this will be ok to set source in this way,for pipeline will save these files,and it will know the extrac

[2020-05-29 05:07] rmgogogo commented on #3793
I'm wondering whether it's because I test the pieces of codes in the VM belongs to the same project.
Let me try again in another project or local machine to see if it fails. Back to here later.

[2020-05-29 05:39] rmgogogo commented on #3793
I also can reproduce the issue.
In a VM with the same project. credentials.get_access_token() gave me the correct value (a shorter string). The type of the credentials is "oauth2client.contrib.gce.AppAssertionCredentials".

In a local Linux, it outputs JWT and list result is empty. The type of the credentials is "oauth2client.service_account._JWTAccessCredentials"

[2020-05-29 05:40] #3692 closed

[2020-05-29 05:47] rmgogogo commented on #3793
https://google-auth.readthedocs.io/en/latest/oauth2client-deprecation.html

It's suggested to use
[code]

However I didn't figure out a way to generate access token from "google.oauth2.service_account.Credentials"

[2020-05-29 05:53] rmgogogo commented on #3793
Here it is:

[code]

[2020-05-29 05:53] rmgogogo commented on #3793
I think we can close this ticket.

[2020-05-29 07:17] eterna2 commented on #3814
I managed to reproduce this. But I am still investigating the cause.

But I was unable to figure out where. I am suspecting there might be some "special" char in the binary. I suspect might be `express` or some middleware issue.

This is what I did so far:
- uploaded the tar to minio
- retrieve with API
I get the same bug as u described. Incomplete file download.

Then I
- do everything exactly th

[2020-05-29 07:56] anatolyzolotar commented on #3814
@eterna2, Thank you very much. However I want to remind the interesting fact that everything works fine for non-archived artifact. You also can try to extract parquet file on your local computer, put it in Minio and download via API endpoint. As far as I understand, in this case download stream should be the same as if you download the same parquet in tar.gz which is being extracted. Do you agree

[2020-05-29 09:41] anupamag opened #3875 "kfp.containers.build_image_from_working_dir fails on AWS EKS looking for GCP Project ID"
### What steps did you take:
Using a notebook server, tried using the kfp.containers.build_image_from_working_dir() as build_python_component is deprecated.

### What happened:
The API fails with below error
Valueerror: Cannot get the Google Cloud Project id. please specify the gcs_staging  argument

### What did you expect to happen:
Picks py files from local path (Same as notebook) and build the

[2020-05-29 09:56] tarjintor commented on #3873
I read the frontend code,and found the logic in  OutputArtifactLoader.ts
[code]
it seems if I don't use inline storage,I won't get what I want

[2020-05-29 11:19] eterna2 commented on #3814
I can confirm it is express problem.

- i first tried w/o express (just the function to retrieve the artifact) - it works
- then I add a simple express server, and add a handler that uses the function - I see incomplete inconsistent download

Let me debug further, and trace

[2020-05-29 12:15] aaaaahaaaaa commented on #1900
@Ark-kun So there's no way to handle failure of a specific task? For example, if I want to do some garbage collection based on some values generated during the pipeline execution.

[2020-05-29 12:17] eterna2 commented on #3814
Almost there. I suspect it is all the piping around. And the stream is prematurely terminated.

[2020-05-29 13:36] jlewi commented on #3857
kubeflow/kubeflow#3907 is tracking how we publish a list of vulnerabilities in our images.

A related issue is minimizing vulnerabilities e.g. by using distroless images.
There is documentation at
https://github.com/krishnadurai/community/blob/b1669588d785455a1e4e4cab456e03c08a05af7c/guidelines/creating_dockerfiles.md

Note the use of distroless images is recommended not a requirement.

kubeflow/k

[2020-05-29 13:44] eterna2 commented on #3814
I can't figure out the issue, might need to do even more testing:

- purely functional test - I used the function to retrieve the tarball from minio - no issue
- light-weight service - I constructed a simple express server over the function (very similar to the actual server) - no issue
- actual local test (no containerization, no istio, no k8s) - I build and run the actual node server in my local

[2020-05-29 14:56] jlewi commented on #1442
Closing this issue. Original issue is no longer relevant since it predates ISTIO.

[2020-05-29 14:56] #1442 closed

[2020-05-29 15:30] RunOrVeith commented on #3576
I just tried it again (or rather I just got stuck in the pending state again), and it seems to work now.
I'll close this issue.

[2020-05-29 15:30] #3576 closed

[2020-05-29 15:37] amygdala commented on #3793
great, I will give it a try!  Thank you!  With the original FR I was wondering whether we could push this handling into the SDK (it would probably require setting an env var or something).  what do you think? Could we leave this open if that seems feasible?  @rmgogogo

[2020-05-29 15:55] #3687 closed

[2020-05-29 17:44] #3661 closed

[2020-05-29 17:45] jiezhang commented on #3599
@Ark-kun Can you please provide an ETA for this feature?

[2020-05-29 19:09] frozeNinK opened #3877 "FR: support Argo Pod Disruption Budget"
### What steps did you take:
Add support to PDB provided by Argo / K8s
ref:
* https://github.com/argoproj/argo/issues/1728
* https://github.com/argoproj/argo/blob/aa05234694bc79e649e02adcc9790778cef0154d/examples/default-pdb-support.yaml#L9

### What happened:
This is to prevent / decrease the frequency a pod is killed by k8s due to auto scaling

[2020-05-30 01:04] Swikar commented on #3867
/area backend

[2020-05-30 07:48] Ark-kun commented on #3835
I'm really glad to hear that!

When KFP is deployed to GKE, it's the main URL to of the UX. If you use port-forwarding, it's the IP address and port. There are some other options...

Maybe you have something like an antivirus which locks the file.

I'll try to create a fix...

[2020-05-30 08:07] Ark-kun commented on #3599
RetryStrategy has been added to Argo 2.5.0, but the latest released version of KFP is still on Argo 2.4.3 (the master is already using 2.7.5). I'll try to release the feature next week.

[2020-05-30 09:06] Ark-kun opened #3881 "Make most ContainerOp attributes private"

[2020-05-30 20:18] amygdala commented on #3793
Hmm, this isn't working for me.  I think it's important to test without gcloud being installed.  'token' is empty when I run the above code, and when I try to create the client, I get the 'gcloud not found' error.

/reopen

[2020-05-30 22:27] aaaaahaaaaa commented on #3793
@rmgogogo  Same for me, `credentials.token` is empty.

[2020-06-01 01:08] Bobgy commented on #3814
@eterna2 Any chance this can be a problem in ingress?
Did you try `kubectl port-forward` to a `full deployment in k8s`? Does it give an error too?

[2020-06-01 01:59] jlewi commented on #3870
@rmgogogo Could you clarify what the purpose of this issue is? Do you mean in the marketplace deployment? For GCP blueprints we should already have autoprovisoning turned on.
https://github.com/kubeflow/manifests/blob/48624dbcfaca3ad5ec205684d9047f2363236b44/gcp/v2/cnrm/cluster/cluster.yaml#L28

[2020-06-01 02:00] Bobgy commented on #3763
1 extra data point: we got one more external report about this

[2020-06-01 02:01] jlewi commented on #1203
kubeflow/gcp-blueprints#33 is tracking deploying Kubeflow using blueprints on private GKE

[2020-06-01 02:23] jarednielsen commented on #1700
Same here - has anyone pulled an image from Amazon ECR or Docker Hub?

[2020-06-01 03:00] rmgogogo commented on #3793
Strange, how about these lines of codes in your side? It explicitly refresh the token first.

[code]

[2020-06-01 03:00] rmgogogo commented on #3793
I run these locally and it can work. Let me know if it still can't in your side.

[2020-06-01 04:13] Bobgy commented on #3857
@jlewi As reported in the kubeflow/kubeflow#3907, if we enable gcr vulnerability scanning, they are not visible for external viewers.
We'd still need to dump a yaml report for each KFP release, sounds reasonable?

[2020-06-01 04:21] Bobgy commented on #3857
Thanks for the relevant link to reducing vulnerability. I'll create a separate issue about it.

[2020-06-01 04:26] #3759 closed

[2020-06-01 05:00] rmgogogo commented on #3870
Amy reports that even after the cluster turn on auto-provision, it seems didn't well work.

Cluster enabled via
[code]

[2020-06-01 10:49] #3835 closed

[2020-06-01 11:27] NikeNano commented on #2640
I will look in to this.

/assign

[2020-06-01 13:36] surajkota opened #3885 "Minio pod `Ready` condition turns to False after few days"
### What steps did you take:
Installed KFP v0.5.1 on an EKS cluster and running 7 [pipelines](https://github.com/kubeflow/pipelines/tree/master/components/aws/sagemaker/tests/integration_tests/resources/definition) every 15 mins since 3 days

### What happened:
**Ready** Condition of minio pod turns to `False` on EKS cluster with KFP running after a few days.
[code]

Trying to understand why this

[2020-06-01 13:51] shawnzhu commented on #3693
I'm interested since I don't want all Argo workflows runs in `kubeflow` namespace

[2020-06-01 14:59] NicoG94 opened #3887 "newest image is not being pulled on minikf despite image_pull_policy=Always"
### What steps did you take:
[A clear and concise description of what the bug is.]
tried to set the image pull policy to "Always" with two ways:
ContainerOp(container_kwargs={"image_pull_policy": "Always"})

pipelineConfig = dsl.PipelineConf()
pipelineConfig.set_image_pull_policy("Always")
Compiler().compile(train_recommender_model_pipeline, 'train_modell_pipeline2.zip', pipeline_conf=pipelineConf

[2020-06-01 16:35] aaaaahaaaaa commented on #3793
@rmgogogo Yes, that works! Thanks a lot, that solves it for me.

[2020-06-01 16:41] eterna2 commented on #3814
@Bobgy
yes u r right! These is what I did:

- port-forward to the ml-pipeline-ui pod <- downloads properly
- port-forward to istio-gateway <- downloads incomplete
- port-forward to ml-pipeline-ui nodeport service <- downloads incomplete

This is very strange.

I have never look in-depth on how k8s services do the networking, so I am clueless what might be the issues. But these are my observations

[2020-06-01 17:56] amygdala commented on #3793
yes!  that works for me too.  Thank you for figuring that out.

[2020-06-01 19:10] Ark-kun commented on #3887
If that's true, then this might be a problem in your Kubernetes cluster software. Can you verify that the image_pull_policy works with plain Kubernetes pods in your cluster?

[2020-06-01 19:11] Ark-kun commented on #3885
Is there something in the logs?

`kubectl logs -n kubeflow minio-7bb869bcfc-qcqts`

[2020-06-01 20:09] amygdala commented on #3793
(Let's keep this FR open _if_ you think it's a good idea to push some of this logic into the KF SDK so that there's less user-facing code needed. Perhaps this could be done via the user setting an env var).

[2020-06-01 22:58] amygdala commented on #3870
I should add that I suspect 'operator error' but haven't dug in enough to figure out what's misconfigured.

[2020-06-01 23:30] frozeNinK opened #3888 "Weird behavior about schedule workflow"
The calculation of the next schedule time of a workflow is based on the prev workflow's schedule time, not max of schedule / start / completion time.

1. code below will chose the `lastJobEpoch` as the calculation base time:
https://github.com/kubeflow/pipelines/blob/58f1d132147dc2796e2ea69880316e98e4d258ae/backend/src/crd/controller/scheduledworkflow/util/cron_schedule.go#L51-L56

2. if configure

[2020-06-02 15:01] shotarok commented on #3516
I read the workflow-notifications.md. Thanks! Let me confirm my understanding.

The 2nd option ["Default Workflow Spec"](https://github.com/argoproj/argo/blob/master/docs/default-workflow-specs.md) is available from v2.7. The 3rd option ["Workflow Events"](https://github.com/argoproj/argo/blob/master/docs/workflow-events.md) is available from v2.7.2.

However, the v0.5.1 of kubeflow/pipelines uses

[2020-06-02 15:17] surajkota commented on #3885
minio pod logs only has pointer to the dashboard
[code]
when I last saw the dashboard it only had artifacts, any other place to see logs ?

[2020-06-02 16:16] Bobgy commented on #3516
the next release has been using argo 2.7.5

[2020-06-02 17:58] gautamkmr commented on #3885
@surajkota  what is the output for `describe pod` ?

[2020-06-02 18:27] surajkota commented on #3885
Describe pod output for minio pod is in the section `Anything else you would like to add:` of the issue

[2020-06-03 01:13] rmgogogo opened #3894 "K8s 1.16 with KFP"
One case shows strange behavior that can't install KFP to K8s 1.16

Error msg is that one pod/deployment always fails, sometimes it's cache-server sometimes it's API server. The error msg says no resource but the cluster is big enough. Also just creating namespace and then delete it in that cluster doesn't work correctly. The namespace status stucks at "terminating".

After retry in K8s 1.15, it s

[2020-06-03 01:44] rmgogogo commented on #3894
Verified in a new 1.16.8-gke.15 cluster and it can work.
So root cause would be something else.

[2020-06-03 04:18] #3871 closed

[2020-06-03 05:37] rmgogogo opened #3896 "issue of Dataproc component in a cluster created not on GCE VM default service account"
One case reports issue that

1. cluster is created on a different service account (not GCE VM default account)
2. the dataproc component didn't use the KFP pipeline-runner service account and also not the service account used to create the cluster. It is using the GCE VM default account.

https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/component_sdk/python/kfp_component/

[2020-06-03 06:47] jhagege commented on #3891
Hi, installing kubeflow versions 1.0.2 with CLI fixes the issue.

[2020-06-03 07:00] rmgogogo commented on #3703
The first initial checkin for IR is here.
https://github.com/tensorflow/tfx/blob/master/tfx/proto/orchestration/pipeline.proto#L318

@zhitaoli to correct me.

As for how KFP side do changes correspondingly, I'm still evaluating more details. It's a big change and may worth a version number 2.0.

My current thought / design goal is

1. decouple orchestrator (e.x. Argo) from pipeline authoring (SDK)

[2020-06-03 07:55] NikeNano commented on #2640
@Ark-kun  as I understand it we would like to have the following three components:
- bigquery_query_to_gcs_op -- The query is run and the data is extracted to a separate table which is then extracted to GCS
- bigquery_query_op -- A query is executed, the results are not written to a new table.
- biqquery_query_to_table -- The Query is run and the data is extracted to a separate table.

is this cor

[2020-06-03 08:23] Bobgy commented on #3896
If the client doesn't use workload identity bound GSA, that's a bug in gcp python client, we should report it there.

[2020-06-03 09:32] rmgogogo commented on #3869
b/156745950 (link for easy tracking)

[2020-06-03 10:25] NicoG94 commented on #3887
I am using MiniKF. So I do not have any other Kubernetes cluster software

[2020-06-03 11:54] talhairfanbentley opened #3901 "Upload Pipeline Version If already exists"
It's not a bug or issue.
**In case it doesn't exists, then it's a suggestion**

Is there any way I can upload pipeline to kubeflow via sdk, and it just uploads a version if the main pipeline already exists.

Versions:
[code]

[2020-06-03 13:21] jlewi commented on #3703
@rmgogogo or @zhitaoli is there a corresponding RFC/doc that describes the thought behind the IR in more details?

@rmgogogo @talebzeghmi What are the implications of using proto as opposed to say OpenAPI/Swagger as the IDL?

What does this mean in terms of how K8s concepts get surfaced? e.g. if people want to be able to attach PVCs do we first need to define a suitable abstraction in the IR?

/cc

[2020-06-03 17:59] frozeNinK opened #3902 "Missing proper retry on error"
https://github.com/kubeflow/pipelines/blob/c517fc579da11725a54bacb3dac80a71d3dd33be/backend/src/agent/persistence/client/pipeline_client.go#L147-L151

[2020-06-03 17:59] frozeNinK commented on #3902
@hongye-sun

[2020-06-03 18:45] lilida opened #3903 "persistent-agent service account should not bind to the cluster-admin role"
### What steps did you take:
Per https://github.com/kubeflow/manifests/blob/master/pipeline/persistent-agent/base/clusterrole-binding.yaml  The role binding binds service account to cluster-admin instead of the created cluster role.

[2020-06-03 18:54] zhitaoli commented on #3703
We are working towards publishing a doc about the IR. Because it also
includes semantics for async pipelines which might be foreign to
batch-based pipelines, we intend to take a gradual approach to first
discuss those semantics, then present an IR proposal which can be used to
model that.

On Wed, Jun 3, 2020 at 6:22 AM Jeremy Lewi <notifications@github.com> wrote:

--
Cheers,

Zhitao Li

[2020-06-03 23:13] jackwhelpton opened #3906 "mount_pvc failing when pipeline includes ResourceOps"
### What steps did you take:

Created a persistent volume claim using a `VolumeOp`:

[code]

Attempted to mount the PVC to every operation in a pipeline using:

[code]

### What happened:
During compilation, the `add_op_transformer` attempts to invoke the `add_volume_mount` method on the `VolumeOp`, producing an error:

[code]

### What did you expect to happen:

The documentation states that tran

[2020-06-04 00:54] Ark-kun opened #3907 "kfp.Client(host=...) & TFX SDK should work with istio and port-forwarding"
When istio ?ingress? service is port-forwarded, there does not seem to be a way to connect to the api server.

[2020-06-04 00:55] Ark-kun opened #3908 "GCP components do not seem to work with workflow identity when the default SA is deleted"

[2020-06-04 02:00] rmgogogo commented on #3907
Would you provide more detailed info?
1. When using kubtctl port-forward, it will directly hit the API binary without going through InverseProxy server which handles authentication.
2. Istio, would you detail more?

[2020-06-04 02:23] #3764 closed

[2020-06-04 02:53] Ark-kun commented on #3887
I think you might have Kubernetes software. Probably Minikube.

[2020-06-04 02:55] Bobgy commented on #3729
implementation #3777 merged, further documentation will be added continuously

[2020-06-04 02:58] Bobgy commented on #3902
also
/assign @jingzhang36

[2020-06-04 02:58] Bobgy commented on #3902
@frozeNinK Can you explain what problem it caused for you?

[2020-06-04 03:04] Ark-kun commented on #3907
Unfortunately, I do not have full detail. I've seen the customer doing

`kubectl port-forward -n istio-xxx svc/istio-?egress?-yyy`

After that they can access the UX. But putting `host="localhost:8080"` does not work for them.

They said that they port-forward to istio and not to the actual services directly since they have no access.

[2020-06-04 03:21] frozeNinK commented on #3902
my colleague and I were reading the code and found this bug, i.e. if the underlying service is unavailable, this function will return nil error, causing caller to either panic, or unable to get the result.

this function should at least propagate the error

[2020-06-04 06:41] rmgogogo commented on #3907
would you forward me the email for this case? It's expected. When using port forward, it directly hit API server while InverseProxyServer handles the authorization/authentication.

[2020-06-04 06:43] rmgogogo commented on #3907
But anyway, I think it's a good topic. Thanks for recording it.

we may put some logic to detect whether it's not via InverseProxy, if so, then we can simply ignore the token logics.

[2020-06-04 06:43] rmgogogo commented on #3907
/cc Bobgy

[2020-06-04 08:28] Bobgy opened #3911 "[Release] Version format conflict between semver and pypi"
[Semantic Versioning](https://semver.org/) is not compatible with [PEP 440](https://www.python.org/dev/peps/pep-0440/).

They are compatible with normal versions like 1.0.1, 1.2.0...
but they are incompatible with rc versions:
* semver like 1.0.0-rc.2
* pypi uses PEP 440, like 1.0.0rc2

When running `python setup.py --quiet sdist`, 1.0.0-rc.2 format is also recognized, and will be converted to 1.0

[2020-06-04 08:41] eterna2 commented on #3873
I wrote a util to help with that, but u will need to know the argo config u set for ur deployment.

https://github.com/e2fyi/kfx

[code]

[2020-06-04 08:44] eterna2 commented on #3873
for some UI vis, u will not be able to use a uri to the data (only inline) because they are displayed inside an iframe.

And because of security concerns, non-public or CORs uri will be blocked (ml-pipeline-ui does not permit CORs).

[2020-06-04 09:25] elikatsis commented on #3906
Hi @jackwhelpton,

The documentation seems wrong there. Since there is commonality between the ops, it's the op transformer's job to check before applying something exclusive to a specific kind of ops.

Could you write a few-lines-wrapper around `mount_pvc` to do that check?
It should be something like
[code]

Also, instead of `mount_pvc` you could use the following, since `mount_pvc` can fail if

[2020-06-04 09:44] #3849 closed

[2020-06-04 10:15] NicoG94 commented on #3887
I followed these instructions:
https://www.kubeflow.org/docs/started/workstation/getting-started-minikf/

[2020-06-04 16:32] jackwhelpton commented on #3906
Ah, that's useful, thanks! I was going to offer a PR to push that check into `mount_pvc`, but I notice you've done that too. Cheers.

Oddly enough I had been using `add_pvoumes`, but was starting to move away from that on the basis of https://github.com/kubeflow/pipelines/issues/3385#issuecomment-633716533, specifically this bit:

What is the recommended approach here, then? It seems like best pra

[2020-06-04 16:51] elikatsis commented on #3906
Yes, that opinion has been commented here and there in some issues..
Part of my answer [here](https://github.com/kubeflow/pipelines/issues/3628#issuecomment-630074409) addresses that opinion.

I don't think such thing as an unsupported feature on master branch of an OSS exists. Especially if we're talking for a method such as `add_pvolumes()`.
Indeed, using PVCs and other resources in general **ma

[2020-06-04 18:30] jackwhelpton commented on #3906
There's one other subtlety about using `mount_pvc`: it removes the explicit dependency between stages and the `VolumeOp` that creates the PVC. At the moment I've solved that by doing this:

[code]

which seems clunky (again, I've read that explicit dependencies between ops are a code smell). Is there a cleaner way to do this?

[2020-06-04 18:40] chases2 commented on #1653
This issue is occurring currently, see #3876
I placed a `/hold` to deal with this in the short-term

[2020-06-04 18:50] elikatsis commented on #3906
Using `add_pvolumes()` with `vop.volume` will do what you need.
Essentially, `PipelineVolumes` aims to be an abstraction over Kubernetes volumes that are also aware of dependencies, just as `PipelineParams` are for primitive data types.
`add_pvolumes()` is the way to apply the dependencies carried by `PipelineVolumes` to the ops using them (but the method can also be used with other types of Kuber

[2020-06-04 19:05] jackwhelpton commented on #3906
That's looking much better (I'll update this comment once it actually completes, which takes around 30m, but it didn't get this far before).

This seems to be a good argument for using `add_pvolumes`, as even adding that `after` I must have missed a dependency as the pipeline wasn't executing correctly. However, this also prevents me moving to the out-of-the-box `mount_pvc` even once your fix is m

[2020-06-04 19:20] elikatsis commented on #3906
Firstly, it wasn't me who opened the PR. Credits should go to @eterna2 :smile:

The usage of `mount_pvc` aims to more generic and simpler requests: mount this under that path. It does that fine, but it can lead to errors if you desire multiple mounts.
It's purpose is not really connected to `PipelineVolumes` usage.

`PipelineVolumes` can be exploited when used in live DSL. I mean not via transform

[2020-06-04 19:44] jackwhelpton commented on #3906
All looks good using `add_pvolumes` as a transformer, ta. I use a `PipelineVolume` in this scenario because one of my stages is a docker container that makes some very specific assumptions about where to find its data: to wit, it spawns sub-workers from a predefined YAML spec that take their inputs from a volume mount therein.

At some point I want to migrate what is effectively a hand-wired pipel

[2020-06-04 19:58] elikatsis commented on #3906
Yep, sounds correct!

[2020-06-04 23:37] hlu09 opened #3915 "dsl.graph_component does not honor named arguments, resulting wrong params"
### What steps did you take:

The code below results in correct recursive call, "count" and "limit" gets the correct arguments. However, by switching the order of "count" and "limit", the 2nd call to increment_component has the wrong arguments.

-----------this works-----------------
[code]
   -----------its YAML------------------
[code]

-----------this does NOT works-----------------
[code]
   -

[2020-06-05 01:09] Bobgy commented on #1653
Sorry about that @chases2, @Ark-kun said he would migrate off travis in a few days

[2020-06-05 01:33] MattRose153 opened #3916 "[AWS SageMaker] Region availability of pre and post task lambdas for GroundTruth"
Hi,

Is there a reason that only a subset of regions are used in `algorithm_arn_map` in https://github.com/kubeflow/pipelines/blob/master/components/aws/sagemaker/common/_utils.py to access the AWS Pre human and Post human lambda functions? In the SageMaker API docs there are more available: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sagemaker.html#SageMaker.Client.

[2020-06-05 01:51] tarjintor commented on #3873
@eterna2 thank you for your help,I am using inline with webapp to contains everything I need to show,so far it works fine,all I need to do is change the max size of web app from 4M to the size I need

[2020-06-05 04:29] Bobgy opened #3919 "[Release] Major.Minor parsed wrongly for tag like 1.0.0-rc.1"
/cc @rmgogogo
Look at gcr.io/ml-pipeline/google/pipelines-test/deployer

tags like `1.0-rc.1` and `1.0.0-rc.1` were released, but we should release `1.0` and `1.0.0-rc.1` instead.

[2020-06-05 05:00] Bobgy opened #3920 "[Release] Changelog Process after 1.0"
## Background
The current changelog tool: https://github.com/github-changelog-generator/github-changelog-generator always queries all issues and PRs, it soon ran out of github quota even if a personal token is provided. Also it's no longer actively maintained. We need to investigate a new tool that suits our need.

## Requirements
Ideally, I think we have these requirements:
* works stably
* PR au

[2020-06-05 05:15] Bobgy commented on #3000
/reopen
I noticed a bug, the .cloudbuild.yaml won't have $TAG_NAME.

[2020-06-05 05:32] #3919 closed

[2020-06-05 05:38] #3000 closed

[2020-06-05 06:06] rmgogogo commented on #504
Middle/long term plan: this one can be handled together with IR topic. when we have an IR, it can help decouple the runner with visualizer.

In short term, we may bring the argo based render to jupyter world but I think it has lower priority as it will be replaced by IR based sooner or later. SG?

[2020-06-05 06:13] Bobgy commented on #504
@rmgogogo I think @Ark-kun's main proposal is that putting something to jupyter is minimal cost, jupyter just takes a url to show something. If we have a page that only shows the content, it will work by itself.

[2020-06-05 06:51] rmgogogo commented on #3510
Jing lead an intern Lu did similar work. Basically, the step/component outputs anything it wants as a rendered HTML/JS bundle and possible images (e.x. GAN outputs) etc. It has the most flexibility.

[2020-06-05 08:17] WalidMustapha commented on #2286
We have a use-case affected by the size limitation.

Essentially, we would like to be able to track input arguments to our model and data processing components when creating/reviewing pipeline runs. My understanding is that arguments to the component operators are only displayed in the Experiment UI if these are passed as pipeline arguments.

We have limited the individual arguments to the compone

[2020-06-05 08:45] rmgogogo commented on #2831
Another possible option is that we automatically detect the TFX container image to find out the Trainer used TF version.

In long run, TB back-compatibility should can solve this issue. Already reported to TB team on the back-compatibility possible issue. I assume after few iterations it can work well just with latest TB version.

[2020-06-05 09:02] rmgogogo commented on #3907
renamed title + "& TFX SDK"

[2020-06-05 09:09] rmgogogo commented on #3908
hi Alexey, for saving Hongye bandwidth, feel free to assign to me.

Quick question: which component here you mean? Or all GCP components?

[2020-06-05 09:20] rmgogogo commented on #3903
The pipeline manifest golden source is in kubeflow/pipelines/manifests.
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/base/pipeline
It's correct here.

@Bobgy has an action item to do some changes for auto/semi-auto sync it to kubeflow/manifests repo.

[2020-06-05 09:25] rmgogogo commented on #3901
I think it's already supported. Do you mean only-upload/insert versions if there is already a pipeline there? Please update the KFP version for a retry.

@jingzhang36

[2020-06-05 09:27] rmgogogo commented on #3894
Here close as 1.16 can work well stable.
If anyone can reproduce the issue, feel free to reopen

[2020-06-05 09:27] #3894 closed

[2020-06-05 09:30] rmgogogo commented on #3891
Here close since the issue is gone in 1.0.2. Feel free to reopen if have other questions.

[2020-06-05 09:30] #3891 closed

[2020-06-05 09:42] rmgogogo commented on #3888
Thanks for reporting the issue. welcome PR if you already authored one.

[2020-06-05 09:43] rmgogogo commented on #3881
Hi Alexey, just quick check, is it due to some issue, or just a refactory to prevent issue?

[2020-06-05 09:52] rmgogogo commented on #3875
Thanks for reporting this issue.

I think it originally is designed for GCP. Technically it can support other clouds.
https://github.com/kubeflow/pipelines/blob/2742a3ed9591df1327159a949ef9dcf235f642a9/sdk/python/kfp/containers/_container_builder.py#L174

@Ark-kun for better suggestion.

[2020-06-05 10:02] rmgogogo commented on #3873
We are actually thinking on do some refactory to the visualization server, especially considering for most ML use cases, TensorBoard and its plugin is a good tool for visualize many things. Would these 2 options make sense?

(1) record the TensorBoard data (if not on TF, then it also can be supported, e.x. https://pytorch.org/docs/stable/tensorboard.html).

(2) for more general purpose visualizati

[2020-06-05 10:10] rmgogogo commented on #3868
Thanks for the input.
I think it's better the component just care about its specific task execution for well decoupling with others. I prefer to keep the design to let the component decouple with its outside world. Would you help provide one or two detailed case on why need it inside component?

TFX SDK did a good design on it. Each component has a driver and a publisher which handles these things

[2020-06-05 10:11] rmgogogo commented on #3867
@jingzhang36

[2020-06-05 10:15] rmgogogo commented on #3867
With my understanding, "resource_key.id={[pipeline_id]}" is a must-have and it's supported.
I think in a production env, normally the version name is auto-generated. As for filtering based on version name, would you detail more info on how you normally name the versions? Any more story on it?

[2020-06-05 10:22] talhairfanbentley commented on #3901
No, I mean. I shouldn't need to get pipeline ID before uploading a version.
As of now, the flow is.

If Pipeline Exists > Get Pipeline ID > Upload Pipeline Version
If Pipeline Does not exists > Upload Pipeline

[2020-06-05 10:31] rmgogogo commented on #3866
Thanks for the feedback.

May I know more context on "I was running some containers using docker images from Project Jupyter"? I'm trying to understand the "it's a common practice of them to set USER 1000 (jovyan) as default". Would you detail one case?

Is it like the component/step in the pipeline is a Jupyter container and it executes some notebook? Aka the steps/components in the pipeline actu

[2020-06-05 10:36] rmgogogo commented on #3896
Based on the email, it seems reporter didn't well express the problem. Waiting for replies but keep this open for a while here to see if others also hit some issue.

[2020-06-05 10:38] rmgogogo commented on #3920
Or we do it like TensorFlow: for each PRs, let author/reviewer decide whether add some notes to the CHANGELOG file.

[2020-06-05 10:41] rmgogogo commented on #3887
May I say it only happens in MiniKF? how about your tries in GCP?
I think it's more of a Minikube question.

Similar question for Kind. It requires "kind load .." to stage the images.

Here close but feel free reopen.

[2020-06-05 10:41] #3887 closed

[2020-06-05 16:06] sudivate commented on #3867
Thank you for looking into it.

http://[endpoint]/pipeline/apis/v1beta1/pipeline_versions?resource_key.type=PIPELINE_VERSION&resource_key.id={[pipeline_id]}
&filter={"predicates":[{"key":"name","op":"EQUALS","string_value":"[pipeline_version_name]"}]}

Yes. I'm providing all the values mentioned "[ ]" including resource_key.id and pipeline_id is auto-generated and I use **GET /apis/v1beta1/pipelin

[2020-06-05 18:17] rmgogogo commented on #3703
+1, it's important from runtime perspective.

From ML perspective, here is one worth a check to understand more of @zhitaoli 's previous replies.
https://github.com/tensorflow/community/pull/253

[2020-06-05 20:51] xiangninglyu commented on #3412
Facing the same issue here. It seems to me right now the workaround is to use a volume, but since our pipeline operators are wrapped by `create_component_from_func`, it'd be hard to embed code to write output to the volume, whereas in a native ContainerOp you can just add another line of command.
Hoping this can be resolved soon.

[2020-06-08 01:35] Ark-kun commented on #3908
I've seen this affecting `gcp/dataproc/create_cluster` component, but it might be affecting all gcp components since they use the same client instantiation code.

[2020-06-08 02:44] Bobgy commented on #3908
@Ark-kun Can you clarify, which default SA was deleted? The compute-xxxxxx@... default GSA?

[2020-06-08 03:01] Bobgy commented on #3920
@rmgogogo Sure, we can include that as an option.

Previously discussed with @numerology too.
I think major problem is: it might cause merge conflicts often.

One way to mitigate that is dividing the section by different parts beforehand.
e.g. we may first divide by area, `ui`, `api`, `sdk/client`, `sdk/dsl`, `metadata`, `swf`...
Then we should divide by features, bugs and miscs.
So that the likel

[2020-06-08 06:31] Ark-kun commented on #3748
@sm-hawkfish What do you think?

[2020-06-08 06:37] Bobgy commented on #3920
I took a look at https://github.com/semantic-release/semantic-release.

but its core philosophy is to release a version on every commit: https://github.com/semantic-release/semantic-release/issues/1389#issuecomment-565683958

I don't think it's suitable for KFP.

[2020-06-08 06:46] Bobgy opened #3931 "[Testing] Move prow config back to kubeflow/pipelines repo"
Kubeflow Pipelines CI config lives in https://github.com/kubernetes/test-infra/blob/4572dc3bf92e70f572e55e7ac1be643bdf6b2566/config/jobs/kubeflow/kubeflow-presubmits.yaml#L309.
We can only ask @jlewi for approval each time we make a change to it.

@jlewi previously shared it's possible moving the config to the repo being tested.
I think we should consider moving it back to make test infra config u

[2020-06-08 07:25] MattRose153 commented on #3916
More than happy to submit a PR for this as well, it seems like a pretty simple fix - just add in the extra regions/ARN mappings from the SageMaker docs

[2020-06-08 07:25] Bobgy commented on #3920
Another option is https://github.com/conventional-changelog/standard-version.

It parses git commits using *conventional* format like `feat(lang): add polish language`.
https://www.conventionalcommits.org/en/v1.0.0/
It is node/npm centric, but can be integrated with other systems by
https://github.com/conventional-changelog/standard-version#can-i-use-standard-version-for-additional-metadata-files-

[2020-06-08 07:27] Bobgy commented on #3931
@jlewi I tried to search, but cannot yet find related documentation. Do you have a link?

[2020-06-08 08:04] Bobgy commented on #3920
Found some good resources on this topic:
* https://depfu.com/blog/changelogs-to-write-or-to-generate
* https://github.com/github-changelog-generator/github-changelog-generator/wiki/Alternatives

[2020-06-08 09:18] Gsantomaggio commented on #3814
I noticed that if I am using `wget <<address>>` it works

something like:
[code]

Same URL using different browsers don't work!

[2020-06-08 10:10] Bobgy commented on #3920
Kubernetes has its own release note tool: https://github.com/kubernetes/release/tree/master/cmd/release-notes.
It will probably be a good fit because we are sharing a lot other automation tools.

[2020-06-08 13:06] jlewi commented on #3931
@clarketm do you know who we can follow up with about this?

[2020-06-08 18:36] numerology commented on #3630
If no one is currently working on that I'll take a look at option 1 in https://github.com/kubeflow/pipelines/issues/3630#issuecomment-620070449 this week.

[2020-06-08 20:43] andreclaudino commented on #3802
As @numerology already said, I have answered your question:

[2020-06-08 22:00] dcyoung commented on #1075
@Ark-kun thanks for the component. Is it possible to use this strategy with volumes created in the pipeline? If so, could you provide a snippet that demonstrates how to use this with volumes? Something along the lines of...

[code]

[2020-06-08 22:39] lbatteau opened #3935 "Wrong scheduled time for start date in local timezone"
### What steps did you take:
Created a recurring run with:
* periodic trigger
* run every hour
* start date tomorrow at 00:00 local time (CEST +02:00)

### What happened:
The job was scheduled for tomorrow at 22:00 UTC

### What did you expect to happen:
The job to be scheduled for today at 22:00 UTC

### Environment:
We are running in GKE, standalone KFP
KFP version: : 1d86111
Chrome: 83.0.4103.9

[2020-06-08 22:39] Bobgy commented on #3630
Thanks @numerology !
option 1 sounds good

[2020-06-08 23:07] anatolyzolotar opened #3936 "[Question] Tensorboard spams s3 service with meaningless repeating requests"
### What happened:
Hi everyone. We've recently managed to integrate our pipeline with s3 for storing tensorboard logs
and noticed that running pod of tensorboard viewer keeps accessing s3 endlessly and it's quite expensive. As far as I understand, the reason is that tensorboard process in tensorflow container reloads data in accordance with `reload_interval`, which has value 0.5s by default. I che

[2020-06-09 02:23] rmgogogo commented on #3763
Copy notes here:

"One thing strange is that, when looking at persistence agent logs, it still loops properly listing all the old workflows, but it no longer detect newly created workflows."

"it happens after reschedule pod to another node-pool"

[2020-06-09 03:40] Bobgy commented on #3911
After trying to use the python sdk, I think this is not a problem.
We can keep using semantic versioning, while python packages are converted automatically during `python setup.py --quiet sdist`.

/close

[2020-06-09 03:40] #3911 closed

[2020-06-09 08:06] talhairfanbentley commented on #3901
Just a little update, I have update versions, but there's no change of sort that I was looking for.
[code]

[2020-06-09 08:11] talhairfanbentley commented on #2999
Just a question, how far are we looking for this issue to resolve?

Also I'm on following versions:
[code]

[2020-06-09 08:20] Bobgy opened #3938 "[Documentation] TTL_SECONDS_AFTER_WORKFLOW_FINISH"
https://github.com/kubeflow/pipelines/blob/6189681436c09470f9a520ee4e0d94fa75d47f57/backend/Dockerfile.persistenceagent#L21

the env var works for deployment ml-pipeline-persistenceagent
It deletes workflow resources after it is completed and reaches a TTL

[2020-06-09 08:21] Bobgy commented on #3938
There should be documentation how this can be configured and in which situations.

[2020-06-09 08:25] Bobgy opened #3939 "[Backend] Some workflows leak from TTL auto cleanup"
### What steps did you take:
1. Schedule a large number of workflows
2. Some workflows ended up with strange error state like `phase: Error` instead of `phase: Failed`
3. Wait for more than 7 days

### What happened:
The workflows in `phase: Error` are not GCed by https://github.com/kubeflow/pipelines/blob/6189681436c09470f9a520ee4e0d94fa75d47f57/backend/Dockerfile.persistenceagent#L21

This cause

[2020-06-09 08:32] Bobgy commented on #3939
Reading code, this is exactly the bug:
https://github.com/kubeflow/pipelines/blob/aa1f0e8b71597ac51e96fa9d28203f62b9b5df36/backend/src/common/util/workflow.go#L286

[2020-06-09 08:42] Bobgy commented on #3938
References:
* recommendations for kubernetes upper limit for CRs https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md#scale-targets-for-ga

[2020-06-09 09:11] anatolyzolotar commented on #3814
@eterna2  @Bobgy do you have any clues where to look further or how the bug can be fixed? Thanks.

[2020-06-09 13:03] Gsantomaggio opened #3941 "Can't start cache server"
### What steps did you take:
- Downloaded https://github.com/kubeflow/pipelines/releases/tag/1.0.0-rc.1

- removed the `gcp/inverse-proxy`:
[code]

- Deployed the pipeline locally with KIND:

[code]

### What happened:
The module cache-server can't start because of:
[code]

### What did you expect to happen:

### Environment:
Localhost environment on [KIND](https://kind.sigs.k8s.io/)

How did you

[2020-06-09 13:05] #3939 closed

[2020-06-09 13:23] NikeNano opened #3942 "How to set up enviroment for Kubeflow/backend development?"
### What steps did you take:
I cloned the kubeflow/pipelines repo and tried to run some of the backend tests but get issues. I can't find any instructions related to how to set up enviroments to do development for kubeflow/backend and cant get it correct myself.

### What happened:

When I try to run the ``` kubeflow/pipelines/backend/src/apiserver/storage_test``` test: TestListJobs_TotalSizeWithF

[2020-06-09 14:15] Gsantomaggio commented on #3941
I found the problem.
I was using Kind with k8s 1.8.

With k8s 1.6.9 it works.
Sorry for the noise!

[2020-06-09 14:15] #3941 closed

[2020-06-09 17:33] dilip640 opened #3943 "Option for providing Environment variable at run time of the pipeline"
Hi everyone, pipeline parameters are a good way to provide configuration of the pipeline. But it's not enough. Many of us people come from DevOps background, so they use ENV variables more. There is an option to pass those variables while writing pipelines. But, there is need to change at run time. Please add a feature to provide Environment variables at runtime in Kubeflow Pipeline.

[2020-06-09 17:58] dilip640 commented on #3901
Thank you @talhairfanbentley  for raising this issue, I was also looking for the same feature. It should ask the `name` and `version` of the pipeline. If the pipeline name exists then upload as version otherwise upload as a new pipeline.

[2020-06-09 19:30] anupash147 commented on #3818
@Ark-kun : i cannot find the ARGO_ARCHIVE_PREFIX, I am using kubeflow 1.0 version.
This is from channel
![image](https://user-images.githubusercontent.com/8271182/84191204-c448b080-aa5d-11ea-9a0a-c442cb82fc30.png)

[2020-06-09 20:10] #2825 closed

[2020-06-09 20:10] #2840 closed

[2020-06-09 21:04] numerology commented on #3942
Hi @NikeNano thanks for trying on backend work!

One question, did you run the test using `bazel test` or something else?

[2020-06-09 21:09] numerology opened #3945 "[Test infra] Sample/e2e tests are not testing against pending SDK changes."
PR https://github.com/kubeflow/pipelines/pull/3934 is intended to fix a bug introduced by https://github.com/kubeflow/pipelines/pull/3861, which will cause pipelines that download prebuilt components to fail (e.g., XGBoost training sample).

IIUC, our presubmit e2e/sample test should have blocked https://github.com/kubeflow/pipelines/pull/3861 in that case, which did not happen.

[2020-06-09 21:09] numerology commented on #3945
/assign @numerology
/assign @Bobgy

[2020-06-09 23:13] lildonpancho commented on #1662
Hi @Ark-kun
I am using ContainerOp to write and read TFRecords. I am using file_outputs to define the paths to be consumed by the next component.

(**Note**: this is only part of my code. If you need to see more let me know.)
[code]

When I run the pipeline I get the error  'This step is in Error state with this message: failed to save outputs: Request entity too large: limit is 3145728'. I am run

[2020-06-10 02:04] #3906 closed

[2020-06-10 05:00] numerology commented on #3945
/close

It turns out that this issue can only be manifested in the sample tests which use prebuilt components. However only post submit tests have those samples as test cases so it won't block the PR.

[2020-06-10 05:00] #3945 closed

[2020-06-10 05:04] DeshuaiWang opened #3950 "KFP instance HOST url changed unexpectedly on Google AI Platform Pipelines"
### What steps did you take:
I created a KFP pipeline instance on GCP AI Platform Pipelines. The KFP instance HOST URL had changed to another URL address and then changed back without any notification. It happened twice.

### What happened:
(This KFP instance had been deleted)
The original host URL is  '3650c7b699e19a64-dot-us-central2.pipelines.googleusercontent.com',
Then the URL changed to  '4d

[2020-06-10 05:50] NikeNano commented on #3942
Yes, i have tried to both do the build and run the tests. If I run
 ```bazel test --action_env=PATH --define=grpc_no_ares=true //backend/...  ```

Which returns:

[code]

[2020-06-10 06:37] DeshuaiWang commented on #3950
update:

The newly created KFP pipeline instance also experienced this issue.

[2020-06-10 09:04] Mar-ai opened #3951 "FR: support storage: MinIO in Kubeflow Pipeline UI to render TFMA html artifact"
### What steps did you take:
In the pipeline component, I generated html output from tfma (according to instructions in https://github.com/tensorflow/model-analysis/issues/10), wrapped it in .tar ball and pushed to MinIO storage.

[code]

The html is created correctly (can be viewed in browser) and the .tar file is stored in MinIO.

### What happened:
The artifact window remains blank.

### What d

[2020-06-10 09:16] rmgogogo opened #3952 "Process: using GCP eX (e.x. e2) machine type instead of nX (e.x. n2) for test infra"
Currently we using nX machine type. It's suggested and asked by other team that better we migrate to eX.

1. cloud build machine type
2. test scripts which create clusters
3. possible samples / docs

[2020-06-10 09:43] Bobgy commented on #3952
@rmgogogo do you want to pick it? If not, you can assign it to me

[2020-06-10 17:33] jackwhelpton opened #3955 "GCS components do not support parallel composite uploads"
### What steps did you take:
Used the GCS components provided as part of the Kubeflow source code here:

https://github.com/kubeflow/pipelines/blob/master/components/google-cloud/storage/upload_to_explicit_uri/component.yaml

to upload large files.

### What happened:

These components did not allow setting of `parallel_composite_upload_threshold` to perform uploads of large files in parallel.

##

[2020-06-11 00:30] CRSilkworth commented on #3611
I'm currently trying to fumble my way through this.

@yanniszark  What exactly would be required to implement either of these work arounds? Do you have an example of what (1) would look like? or (2) or that matter?

[2020-06-11 01:13] jingzhang36 commented on #3259
Stage 2:

Leverage one of the open source monitoring tools, such as prometheus, or timescaledb, to support internal monitoring of our servers. That will bring us recorded time series data and visualization over those data.

[2020-06-11 01:31] jingzhang36 commented on #3938
Let me try to see if we can have multiple controlling factors here. For example, if workflow controller detects either a certain number of workflows have been reached, or the workflow is older than ttl, the controller can gc the oldest workflow.  In other words, ttl is the maximum time of a workflow, which can gc'ed earlier if the other constraint (workflow count upper limit) is reached

[2020-06-11 02:55] Bobgy commented on #3763
The other report is different from root cause of this one.
Making a summary here first:
* The symptom: "new runs' details page always empty" means persistence agent is not syncing workflows to KFP db.
* The root cause can be various reasons.
  * The reason listed above is one possibility, it can be worked around by restarting persistence agent.
  * Another possibility is basically there are too ma

[2020-06-11 03:30] Bobgy commented on #3920
So far, I think https://github.com/conventional-changelog/standard-version is the best option, commit messages will be the source of truth, we won't need to rely on data from github, so it will be very reliable.

Additionally, we are already writing PR titles as `[area] title` by ourselves, because we have a need to let title clearly show which area and type it is working on. Formalizing PR title

[2020-06-11 06:14] Bobgy commented on #3920
@rmgogogo What do you think above my proposal in https://github.com/kubeflow/pipelines/issues/3920#issuecomment-642384520? Maybe I should do that in design review too?

[2020-06-11 06:37] NikeNano commented on #3942
I managed to set it up running it on vs code inside a container. Is this something that would be of interest to contribute? I enjoy project that have a guid of how to set up the development environment :)

[2020-06-11 08:11] stampcrab opened #3960 "kfservingdeployer doesn not expect --service-account"
I tried component.yaml with the image aipipeline/kfserving-component:v0.2.1 using the --service-account and getting the following error:
usage: kfservingdeployer.py [-h] [--action ACTION] [--model-name MODEL_NAME]
[--default-model-uri DEFAULT_MODEL_URI]
[--canary-model-uri CANARY_MODEL_URI]
[--canary-model-traffic CANARY_MODEL_TRAFFIC]
[--namespace NAMESPACE] [--framework FRAMEWORK]
[--default-cus

[2020-06-11 08:11] Bobgy opened #3961 "[Release] KFP and Kubeflow 1.1 integration"
/cc @jlewi @jbottum
I'm using this issue as uber tracking issue for KFP's integration to Kubeflow 1.1.

[2020-06-11 08:12] Bobgy commented on #3961
Major work items:
* [ ] Release KFP 1.0
* [ ] Integrate KFP to Kubeflow 1.1 using kustomize v3
* [ ] Enable multi user mode

[2020-06-11 08:55] Bobgy opened #3962 "Sync pipelines manifests to kubeflow/manifests/pipeline/upstream"

[2020-06-11 08:58] Bobgy opened #3963 "Minio kustomize v3 manifest for gcp pd"

[2020-06-11 11:16] discordianfish commented on #3693
Just my 2 cent: This should be make configurable like we do in the centraldashboard and notebook spawner etc.

[2020-06-11 16:02] numerology commented on #3942
Perhaps I'm not a bazel expert. Do you mind sharing your setup info like Bazel version etc.?

Also /cc @neuromage

[2020-06-11 18:31] alexlatchford commented on #3942
I can confirm this issue exists with both Bazel `v2.2.0` and `v3.2.0` (just tried both and get the same error as above).

[2020-06-11 18:39] numerology commented on #3942
Thanks.

My experience is that using a pretty old bazel version should work (I am using 0.23.1 IIRC).

[2020-06-11 19:00] Gsantomaggio commented on #3942
Yes, you need to use an old version:
I just compiled it using:
[code]

see also: https://github.com/kubeflow/pipelines/issues/3061

[2020-06-11 19:04] alexlatchford commented on #3942
Yep makes sense, can confirm it works with `0.23.1` after downgrading :) Thanks for the help!

[2020-06-11 20:20] Ark-kun opened #3970 "Artifact type based visualization for HTML, Markdown and etc"
Currently, the UX visualizes data from `mlpipleine-ui-metadata` output JSON structure.

It would be great to just support visualizing the individual output artifacts based on type. Only few simple types are needed: HTML and Markdown (plus maybe URI). Everything more complicated can be accomplished by visualizer components.

This issue is a prerequisite for visualizer components.

- [ ] HTML
- [ ]

[2020-06-11 20:22] Ark-kun opened #3971 "Metadata Writer stopped getting the artifact types"
All outputs are getting recorded as NoType.
[code]

[2020-06-11 20:30] Ark-kun opened #3972 "Cache - Limit the attributes that affect the cache key"
A customer has reported this issue. They're adding unique run_id labels to the tasks which effectively disables the cache. They want those labels to not prevent cache reuse.

Currently the cache key is based on the whole Argo template spec excluding the outputs.

We may switch to a limited subset:
[code]

[2020-06-12 01:23] tarjintor opened #3974 "Visualize Results in table sorted by first columns as string, Can I turn off sort and just show as I write in mlpipeline-ui-metadata.json?"
Hello,I am using pipeline 0.5.1
I am visualizing some results in table format, and find my table didn't sorted as I write in mlpipeline-ui-metadata.json,but sort by first column,and it's sorted as the type is string,which is not I want
![捕获](https://user-images.githubusercontent.com/12421352/84454582-787c4e00-ac8d-11ea-8421-1cc861d1c480.PNG)

I find in visualizing confusion matrix,it has a attr sc

[2020-06-12 01:29] Bobgy commented on #3288
@chensun Can you link your prow config PR here too?

[2020-06-12 01:34] Bobgy commented on #3693
@discordianfish Don't worry, it's already made configurable: https://github.com/kubeflow/pipelines/issues/3752.

/close
as early access release is already shared

[2020-06-12 01:34] #3693 closed

[2020-06-12 01:40] Bobgy commented on #3970
Thanks @Ark-kun for preparing the sample for me! That's super helpful.

I'll put this into post 1.0 planning for now. I think it's low effort and really beneficial, definitely something I want to do.

[2020-06-12 01:50] rmgogogo commented on #3611
Here are few tips.

1. please check whether you can open the KFP UI via the IP
2. please check whether the UI can list the pipelines (use Chorme etc. dev tool to check the network request/response). If can't work, please check your minikf etc. setup.
3. In previous step, you are expected to see "/apis/v1beta1/pipelines" request.
4. Directly http get http://<your-kfp-fe-host-port>/apis/v1beta1/pipe

[2020-06-12 02:07] rmgogogo commented on #3920
SG. As for design review inside G, you may make the call. I'm OK with both.

The more important thing is that we may draft a MD file e.x. to the root README.md or linked by it. So that everyone can clearly know the steps.

If I have multiple commits in one PR (I normally have 2~5 commits for a middle sized PR), can it well handle it? PR can easily be edited. For commits description, I'm wondering

[2020-06-12 02:15] Bobgy commented on #3920
+1, will do when finalized.

If you have multiple commits, we only need to make sure PR title is following the convention, because it will automatically be the squashed commit's message. We may add a presubmit that checks PR title is in correct form.

I don't really consider that as an option because there are too many noise in commit history. When we have a correct process set up, most of the PRs

[2020-06-12 02:30] Ark-kun commented on #3955
Thank you for your patience. We've been preparing several big releases and that has taken some of our resources.

I have several questions:

What are the downsides of parallel_composite_upload_threshold? I've heard that the clients will need to have crcmod installed to be able to download such blobs.

What is the typical size when this option becomes important?

[2020-06-12 03:03] #3367 closed

[2020-06-12 04:05] Bobgy opened #3975 "Mysql kustomize v3 manifest for both generic and gcp stack"

[2020-06-12 06:34] Kulikovpavel commented on #3835
@Ark-kun , what is the best practice for mounting directory with dataset for Computer vision training task?
Thousands, maybe millions of small and moderate files.

Download -> Preprocessing -> Training, how to make data flow between components?

[2020-06-12 08:45] Bobgy opened #3977 "[Caching] Used cache even if KSA changed"
### What steps did you take:
* Run data-passing sample pipeline with pipeline-runner KSA
* Run data-passing sample pipeline with default KSA

### What happened:
The second run reuses data from the first run

### What did you expect to happen:
Both runs shouldn't reuse data, because they are run under different KSAs

### Environment:
1.0.0-rc.1

/kind bug

[2020-06-12 08:45] Bobgy commented on #3977
/assign @Ark-kun

[2020-06-12 09:02] Bobgy commented on #3977
This might also be intended behavior. What do you think?

[2020-06-12 13:55] #3975 closed

[2020-06-12 15:19] jackwhelpton commented on #3955
No worries about the delay, I just wanted to make sure this hadn't escaped attention altogether. You're right, the principal downside to `parallel_composite_upload_threshold` is that downloading the file via `gsutil` requires a compiled version of `crcmod`. We've found this to be less of a problem than it sounds for the following reasons:

* "Novice" users tend to download files from GCS buckets v

[2020-06-12 16:49] alexlatchford opened #3980 "Failed to compile typescript when starting frontend mock:api server"
### What steps did you take:

Followed the `README.md` in `frontend` to run the UI using `npm start`, then tried to start up the `mock:api` using `npm run mock:api` as directed.

### What happened:

[code]

### What did you expect to happen:

Guessing it should start up a mock API on port 3001.

### Environment:

[code]

How did you deploy Kubeflow Pipelines (KFP)? Trying to set up developer envir

[2020-06-12 18:33] NikeNano commented on #3942
Thanks for the help @alexlatchford, @Gsantomaggio and @numerology it indeed seems to the the version. I also update the docs with it.

[2020-06-12 23:23] Ark-kun commented on #3977
From the perspective of caching this is intended behavior.

But maybe from the security perspective we should not reuse the cache if the service account is different. Although I'm not sure we need to change this right now since some services like MLMD are shared between all service accounts anyway.

[2020-06-13 12:13] yanniszark commented on #3611
@CRSilkworth sure, For (1), see https://github.com/kubeflow/kfserving/tree/master/docs/samples/istio-dex#authentication. For (2), afaik you only need a valid kubeconfig file, but not sure how to force the client to connect that way, the pipelines team should know more.

[2020-06-13 15:51] jackwhelpton commented on #3955
Perhaps the most compelling argument for the 150MB threshold can be found in the `gsutil` source: for files above that size, `gsutil` will prompt users to enable parallel composite uploads.

https://github.com/GoogleCloudPlatform/gsutil/blob/11b9f1f4cc160180b85227ccf1df40b0797dab0e/gslib/utils/copy_helper.py#L274

[2020-06-13 17:12] jednymslowem commented on #3815
I think I got to the bottom of it. ```cache-webhook-kubeflow``` is created all right, but it is not being deleted by ```kubectl delete -k github.com/kubeflow/pipelines/manifests/kustomize/env/dev?ref=$PIPELINE_VERSION
```. So when I redeploy Kubeflow Pipelines to the same cluster again, the old ```cache-webhook-kubeflow``` is still there and it is leading to the logs @tarjintor pasted above.

Addi

[2020-06-13 19:29] mmwebster commented on #3896
I'm running into an issue with a demo pipeline that seems like it could be related to this. When running the XGBoost demo pipeline as instructed in the KF Pipelines Quickstart guide, the dataproc-create-cluster block fails with
[code]

In the GCP console, my Kubernetes node pools are listed as having the `{KF_PROJECT}-vm` service account, rather than the default GCE service account. In the IAM sec

[2020-06-14 07:01] Bobgy commented on #3977
Agree, minio is not multi user separated. When we do that we should start to consider this.

[2020-06-14 07:38] Bobgy commented on #3896
@mmwebster Can you share your kubeflow version?
After 1.0.2, pipelines should already have permissions using workload identity, not default service account.

If not, suggest binding workload identity for pipeline-runner service account

[2020-06-14 07:39] Bobgy commented on #3896
/close
because the original report has been resolved, it was because of misconfigured workload identity binding.

[2020-06-14 07:39] #3896 closed

[2020-06-14 22:39] CRSilkworth commented on #3611
OK, thanks guys. I'll take a look at it.

[2020-06-15 02:12] Bobgy commented on #3962
Done
/close

[2020-06-15 02:12] #3962 closed

[2020-06-15 02:12] Bobgy commented on #3963
Done

[2020-06-15 02:12] #3963 closed

[2020-06-15 10:22] jmdinis opened #3986 "Frontend image fails to build with "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory""
### What steps did you take:
I'm trying to build a docker image of the pipelines/frontend. I navigated to the frontend folder where you have the Dockerfile and issued the `docker build . -t ${IMAGE}` command.

### What happened:
When I do `docker build . -t ${IMAGE}` it fails with "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"

### What d

[2020-06-15 14:34] #3942 closed

[2020-06-15 14:44] rmgogogo commented on #3550
kindly ping, we may treat this one with priority

[2020-06-15 15:45] fakeburst opened #3988 "Initialize kfp SDK Client on AWS"
I'm trying to automate pipeline deployment with Jenkins and `kfp.Client().upload_pipeline()` but I cannot figure out how should I generate a token for Client initialization.
[code]
Could someone please point me to where should I get the token from?

Our cluster is deployed on AWS with Cognito login.

How did you deploy Kubeflow Pipelines (KFP)?
As a part of Kubeflow installation

KFP version: buil

[2020-06-15 16:35] amygdala commented on #3870
Update: I think it's some issue with doing this via the gcloud command-line command (that I have yet to debug— not clear if it's a mistake on my part or an actual bug).

Configuring autoprovisioning *directly from the console* seems to work okay.
Here is what my successful config looked like:
<img width="385" alt="Screen Shot 2020-06-15 at 9 25 47 AM" src="https://user-images.githubusercontent.com

[2020-06-15 17:05] amygdala commented on #3870
Update: I think the issue on the command-line was that I needed to specify the full scope path for some reason.
e.g.:
`gcloud container clusters update xxx --project xxx   --zone us-central1-c   --enable-autoprovisioning   --max-cpu 256   --max-memory 1028  --max-accelerator type=nvidia-tesla-k80,count=24  --verbosity error --autoprovisioning-scopes=https://www.googleapis.com/auth/cloud-platform -

[2020-06-15 22:05] Ark-kun opened #3989 "Component names are truncated in the UX"
Maybe we can [wrap](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap) the component names (2-3 lines) so that it's possible to distinguish components in the UX:

![image](https://user-images.githubusercontent.com/1829149/84710675-89d98a80-af19-11ea-8427-683a86f913b9.png)

[2020-06-15 23:56] rmgogogo commented on #3950
This is already fixed but not released yet, expected we will have a new release very soon.
As a quick workaround, can replace the binary of proxy-agent to be KFP 0.5.0 which is good.

[2020-06-16 00:55] Tomcli opened #3990 "Any guideline for updating the CI build to include new component images?"
/question

Related #1436
We had a similar issue last year on how to update the CI build for the new component images. The issue ended up buried so our team use the dockerhub to temporary hosting these images. We want to figure out what's the best practice for maintaining these new component images.

[2020-06-16 01:23] Ark-kun opened #3991 "Add owner reference to the cache-webhook and webhook-server-tls"
These two generated objects lack owner references
Fixes https://github.com/kubeflow/pipelines/issues/3701
Fixes https://github.com/kubeflow/pipelines/issues/3815

Warning: AFAIK, namespaced resources should not be owners of cluster-scoped resources.

[2020-06-16 01:27] Ark-kun commented on #3815
I wonder why the TLS secret was deleted. Was the namespace deleted?

[2020-06-16 01:52] Ark-kun commented on #3990
I'm working on a script that would make updating individual components easier.

Adding new images to the existing release process is not easy at this moment due to strict licensing requirements. Adding image to CI is possible, but those images will be private until released semi-manually.

[2020-06-16 03:31] Bobgy opened #3993 "Pipelines kustomize v3 manifest"

[2020-06-16 05:36] rmgogogo commented on #3952
Feel free to pick up when have time.

I will revisit around Wednesday/Thursday and can handle it if your side has less bandwidth.

[2020-06-16 05:44] Bobgy commented on #3952
I'll take this today then, it should be relatively easy.
/assign @Bobgy

[2020-06-16 05:49] Bobgy commented on #3989
sounds reasonable to me.

[2020-06-16 06:32] #3815 closed

[2020-06-16 08:54] jingzhang36 commented on #3550
@descampsk some quick thoughts: first of all, would it be possible for you to upgrade your KFP version to our latest release? Let's check if the memory abnormality disappear with the more up-to-date release of KFP; also, I personally haven't run into this memory issue or received similar reports, but given that all my instances are on GCP instead of AWS, I can't be sure if this issue is particular

[2020-06-16 09:12] descampsk commented on #3550
I upgrade to kubeflow 1.0.2 witk kfp version equals to 2.5.0 and i can see a similar issue:

![image](https://user-images.githubusercontent.com/22590202/84755423-ef815180-afc1-11ea-8dec-c3e4c089eed0.png)

Two pods and only one is used.

It is not so remarkable as with our older cluster but the new one is still young so I will have more data in the following weeks.

[2020-06-16 09:19] Bobgy commented on #3550
@descampsk to help troubleshoot/reproduce the problem:

Can you take a look at `ml-pipeline` pod logs and see if there's anything that looks abnormal?

Can you share some other usage scale data, e.g.
* how many concurrent workflows?
* `kubectl get workflow -n kubeflow --no-header | wc -l` how many workflows at a certain time?
@jingzhang36 do you think any other data might be helpful?

[2020-06-16 09:35] Bobgy commented on #3729
Found a great prow plugin to automate cherry picking: https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/cherrypicker

[2020-06-16 09:42] eterna2 commented on #3818
@anupash147
`ARGO_ARCHIVE_PREFIX` is the env var for the `ml-pipeline-ui` pod (https://github.com/kubeflow/pipelines/blob/c0074463eef8416fd3345b8e926d847323c6ae87/frontend/server/configs.ts#L88)

U need to set it the same as the prefix the one u set in the `workflow-controller` configmap.

Additionally, `ARGO_ARCHIVE_LOGS ` must be set to true or 1 (https://github.com/kubeflow/pipelines/blob/c0074

[2020-06-16 10:42] Bobgy opened #3996 "Api server emits "Error 1205: Lock wait timeout exceeded; try restarting transaction""
### What steps did you take:
* do a few runs
* archive experiment

### What happened:
Experiment list page takes a very long time to load and it seems listing runs failed for one experiment (not sure how it was triggered).

Archiving the experiment fails with below error log:
got this error log
[code]
### What did you expect to happen:

### Environment:
standalone deployment
KFP version: 1.0.0-rc.

[2020-06-16 10:51] eterna2 commented on #3814
sorry. this is tough. I can propose a workaround - that is to not automatically unpack tarballs.

A fix might need more effort to drill down to the issue. Cuz from my testing, i suspect might be a combination of code and data issue, that is very specific on how u handle the data chunks (hence the diff when using diff browsers).

I might need to setup wireshark to look at the individual packets, an

[2020-06-16 10:52] #3952 closed

[2020-06-16 13:42] ca-scribner commented on #1933
Does anyone have a pattern to make something like this work?  The only hacks I've thought of would be maybe something like a simple shell call that takes the values from TaskB-1...TaskB-N and concatenates them to a single string (json or just space deliminated) or maybe to lines in a file, then TaskC takes that concatenation as input and knows how to parse it

Other ideas might be that TaskB-* con

[2020-06-16 14:53] rmgogogo commented on #3896
I'm wondering whether we publish the WI self test to github or website as a FAQ. I mean the tool to check the WI binding. It seems a FAQ. Will put one to post-1.0 backlog.

[2020-06-16 15:13] rmgogogo opened #3997 "Update MLMD-envoy image to be on latest code changes"
[1] https://github.com/kubeflow/pipelines/pull/3413/files
[2] https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/metadata/metadata-envoy-deployment.yaml#L19

We have fix in [1] but [2] didn't catch it due to release process. We may manually update the image.

MKP version is correct. We may use tag based on MKP binary.

https://pantheon.corp.google.com/gcr/images/ml-pipeline

[2020-06-16 16:12] rmgogogo commented on #1138
FYI, I'm thinking on bring a lightweight local runner in a new design. It may rely on TFX SDK's docker launcher. It's still early investigation phase, together with IR work.

[2020-06-16 16:21] numerology commented on #1138
FYI, for testing TFX has this https://github.com/tensorflow/tfx/pull/1986 WIP.

That said it's pretty different than local dev.

[2020-06-16 17:25] jackwhelpton opened #3998 "Expose execution logs as a component output artifact that can be passed to other components"
### What steps did you take:
Created a component with an output parameter called `model`. When using this component in a pipeline, two output artifacts are visible in the UI:

* `train-inception-resnet-v2-model-model` (effectively `step_name`-`output_param_name`)
* `main-logs`

I want to consume both of these in a subsequent step, i.e. upload both a trained model and the corresponding log file. I

[2020-06-16 22:46] Ark-kun commented on #3998
`main-logs` is not a component output, so it's not possible to pass it to the next component. It's a orchestrator-added artifact which is an implementation detail. In the future we might stop showing it and just use it for showing logs in the Log tab instead.

If you need to output the logs, you should do it explicitly by adding an output and using `outputFile`/`OutputFile` to request a file path

[2020-06-16 22:49] Ark-kun opened #4000 "Ensure the Metadata Artifact UI can work when all properties are replaced with custom properties"
We need to check that all accesses to MLMD artifact properties try reading from custom_properties as well.
This is needed so that the Metadata Writer can switch to schema-less artifact types.

[2020-06-16 22:50] Ark-kun opened #4001 "Change the Metadata Writer to record all artifact properties as custom properties."
The TFX SDK has finally stopped adding properties to all artifacts, so we can do the same.

[2020-06-16 22:54] #3630 closed

[2020-06-16 23:47] jackwhelpton commented on #3998
OK, that lets me do what I was trying to do, cheers. I was wondering if there was a more general pipeline-level approach which would allow stdout/stderr to be captured even in the case where, for example, the component is provided by a third party and the source is not available.

[2020-06-17 02:34] Bobgy commented on #4000
@Ark-kun I think it will be easier if you build a metadata-writer image first switching everything. I can get it running in a cluster and verify what fixes I need to do with UI.

[2020-06-17 03:02] Bobgy commented on #3896
that's a good point, we should mention it in workload identity doc in troubleshooting section

[2020-06-17 03:03] Bobgy opened #4003 "document workload identity troubleshooting"
context: https://github.com/kubeflow/pipelines/issues/3896#issuecomment-644816436

[2020-06-17 03:04] Bobgy commented on #4003
/cc @rmgogogo

[2020-06-17 03:04] Ark-kun commented on #3510
Our intern has created the KFP visualization server and a visualization code editor, but the usability might be improved.

Here is how I think the visualization should be performed:

For each output:
Check the output type in the component spec
Check for https://github.com/kubeflow/pipelines/components/_visualizations/<type_name>/component.yaml
If found, submit that component for execution using Ar

[2020-06-17 03:55] Bobgy commented on #3510
lgtm on the new design, that seems to solve scalability issue of the existing visualization server

[2020-06-17 03:57] Ark-kun commented on #4000
Here is the PR: https://github.com/kubeflow/pipelines/pull/4004

[2020-06-17 04:12] Bobgy commented on #4001
Depended on by https://github.com/kubeflow/pipelines/issues/4000

[2020-06-17 04:13] Bobgy commented on #4000
@Ark-kun did tfx already change?
So I guess this should better be in 1.0, is that right?

[2020-06-17 04:40] Bobgy commented on #4000
Nothing needs update per https://github.com/kubeflow/pipelines/pull/4004#issuecomment-645143372
/close

[2020-06-17 04:40] #4000 closed

[2020-06-17 04:40] #4001 closed

[2020-06-17 07:22] chensun commented on #3288
Yes, it's https://github.com/kubernetes/test-infra/pull/17879

[2020-06-17 07:36] eterna2 commented on #3405
@SatwikBhandiwad
I am not very familiar with ceph. Is it fully compatible with minio/s3 - i.e. will the minio client work with ceph?

U probably should be look at these env var instead:
[code]

Cuz for S3, we hardcoded (actually I forgot what I wrote, it is either hardcoded or some regex check) to the official AWS endpoint. The differeniation is specifically for AWS IAM instance profile credential

[2020-06-17 07:59] eterna2 commented on #3988
if i am not wrong, kfp.Client only support GCP IAP. The alternatives are running the notebook or code within the k8s cluster itself, or provide the k8s host and credentials.

i.e. if ur jenkins is in the same k8s cluster, it shld work fine w/o the token.

[2020-06-17 08:18] eterna2 commented on #3980
I have raised a PR to fix this. As a workaround, u just need to update the `tsconfig.json` inside the `mock-backend` (`baseUrl` from `.` to `..`).

[2020-06-17 08:19] eterna2 commented on #3986
The correct command should be run at the root folder of the repo. i.e.

[code]

[2020-06-17 08:26] eterna2 commented on #3943
u can pass pipeline parameters to env vars.

[code]

U can also create transformers to do it for u.

[2020-06-17 09:48] #3980 closed

[2020-06-17 10:04] Bobgy commented on #3920
After the review, we decide to try conventional changelog.
TODOs:
* [ ] p0 Verifies the tool can show fixed issue in changelog and everything else works
* [ ] p0 Draft a doc introducing how to name PR titles
* [ ] p0 Add a checklist item in PR template to introduce PR title
* [ ] p1 Add presubmit test to guarantee PR title conforms to convention
* [ ] p1 Add `merge_commit_template` to make commit

[2020-06-17 10:14] jingzhang36 commented on #3996
Listing runs under the archived experiment gets back to normal after a while. The issue might be because of the number of runs inside the experiment. Let's try to find some possible optimization.

[2020-06-17 10:29] fakeburst commented on #3988
@eterna2 I was told the same on kubeflow slack, thanks for the confirmation!

I ended up building a docker image with kubectl pointing to our kubeflow cluster, so that `kfp.Client()` automatically connects to the right host with no token provided.

[2020-06-17 10:29] #3988 closed

[2020-06-17 18:33] Ark-kun commented on #3998
We'd like to know your scenario where you want to pass logs to the next component.

BTW, log artifacts are only available if the component completes successfully.

[2020-06-17 18:39] Ark-kun commented on #3881
This is just to reduce the API surface. We do not want people to use most of those attributes.

[2020-06-17 18:58] jackwhelpton commented on #3998
Sure, here's a bit more background. We have a whole set of pipelines with a very similar three-component setup:

1. Pull training data from a GCS bucket
2. Use training data to train a model: in the example I'm looking at this is done using the Keras `applications` package
3. Push trained model to a (different) GCS bucket

In the middle component, the `stdout` output provides details about the acc

[2020-06-17 19:40] neuromage commented on #3936
/assign @jingzhang36

[2020-06-17 19:47] awcchungster commented on #3916
Hi Matt, we'll help merge this in over the next few days.

[2020-06-18 02:47] Bobgy opened #4013 "Update MLMD clients to 0.22.1"
/assign @dushyanthsc
Follow up of https://github.com/kubeflow/pipelines/pull/3982

[2020-06-18 03:22] Bobgy commented on #3814
Can we provide an extra link for downloading the original tar file? so that we don't get rid of existing convenient features

[2020-06-18 09:36] Bobgy opened #4017 "[Release] Set up conventional changelog tooling"
Part of https://github.com/kubeflow/pipelines/issues/3920

## Requirements

These information should be kept in the changelog:
* [x] area (e.g. frontend, backend, ...)
* [x] type (e.g. fix, feature, chore, test, ...)
* [x] PR title
* [x] PR number
  * PR number must be in the commit message like format `#4017`
* [x] issue(s) fixed
  * issue must be in commit message like format `Fixes #4017`

[2020-06-18 09:48] jingzhang36 commented on #3763
A qq: does the empty detail page usually turn normal after a while? Or they stay empty?

[2020-06-18 09:51] Bobgy commented on #3763
@jingzhang36 No, it doesn't recover by itself.

[2020-06-18 09:53] jingzhang36 commented on #3763
Then, do you still have the instance where this issue happens?

[2020-06-18 09:55] Bobgy commented on #3763
I don't, I can ping you next time I reproduce it

[2020-06-18 11:49] ksonbol opened #4019 "Using Pipeline parameters in metadata"
### What steps did you take:
Create this component file `hello_component.yaml`
[code]
and this pipeline file `hello_pipeline.py`
[code]

Try to compile the pipeline with:
`dsl-compile --py hello_pipeline.py --output hello_pipeline.yaml`

### What happened:
I receive this error,
[code]
### What did you expect to happen:
A successful compilation to YAML.

### Environment:

How did you deploy Kubeflo

[2020-06-18 12:23] ksonbol opened #4020 "Unable to Update annotations in component spec from pipeline parameters"
### What steps did you take:
Create this component file `hello_component.yaml`
[code]
and this pipeline file `hello_pipeline.py`
[code]

Try to compile the pipeline with:
`dsl-compile --py hello_pipeline.py --output hello_pipeline.yaml`

### What happened:
I receive this error,
[code]
### What did you expect to happen:
A successful compilation to YAML.

### Environment:

How did you deploy Kubeflo

[2020-06-18 13:20] #3993 closed

[2020-06-18 13:35] morelen17 opened #4021 "Typo in an exception message"
Should there be `op2.name` instead?
https://github.com/kubeflow/pipelines/blob/374b3b02d2a6b2ac5883f1a45f22d0f000586c79/sdk/python/kfp/compiler/compiler.py#L157

[2020-06-18 16:37] shotarok commented on #2654
I had the same confusion. The link explains the standard format but the default value for the cron format used by [the Quartz Scheduler](http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/tutorial-lesson-06.html).

I'm using KFP v0.5.1 with AI Platform Pipeline. It looks like both formats work. So how about changing the default value to follow the standard format? Or how about ch

[2020-06-18 17:18] hlu09 commented on #3412
Argo supports it. https://stackoverflow.com/questions/60569353/dynamic-fan-in-in-argo-workflows

If we can make a ParallelForOp, then we can just op.output.

[2020-06-18 17:32] Rasen-wq commented on #3412
@hlu09 the parallelFor is already supported in Kubeflow pipelines. The problem here is different, we are generating outputs from multiple containers and we would like to retrieve them all using one container

[2020-06-18 17:51] maganaluis commented on #1223
@Bobgy @jlewi We are looking to have this feature before taking Kubeflow into production. I think it was labeled as high risk for 1.1, and there were not many users asking for it, let me know if we need present our case so it can make it in the release.

The implementation for use is quite large, and we'll have have about 100-200 users just for the initial implementation, without this feature it w

[2020-06-18 17:59] yanniszark opened #4022 "multi-user: Namespace Pipeline Definitions"
@Bobgy @IronPan I understand that the current state of Pipelines is that Runs/Experiments are namespaced, but pipeline definitions aren't.
I recall from an older discussion that:
* You mentioned that users want a global pipeline registry, which is a very valid use-case, so that's why you keep pipeline definitions global for now.
* We discussed about having both namespaced and global pipelines, bas

[2020-06-18 18:12] ca-scribner commented on #3412
Yeah @hlu09, the question is really how to fill in the blank in this code:
[code]

So as a hack you could imagine something schematically like:
[code]

...but ideally there'd be a non-hack way to collect things

[2020-06-18 18:44] hlu09 commented on #3412
@Rasen-wq it is about accessing the outputs of ParallelFor containers, which KFP DSL does not support right now. https://stackoverflow.com/questions/60569353/dynamic-fan-in-in-argo-workflows

    - - name: fan-in
        template: fan-in
        arguments:
          parameters:
          - name: numbers
            value: "{{steps.write.outputs.parameters}}"

[2020-06-18 20:20] Ark-kun commented on #4020
Currently, updating the loaded ComponentSpec is not supported.
Also by design *components* cannot have have any references like PipelineParams. Only *tasks (component instances)* can be customized and use something taken from pipeline parameters or task outputs.

What you want can be accomplished by the following:
[code]

P.S. The scenario looks pretty weird. Can you tell us how you are going to u

[2020-06-18 20:24] Ark-kun commented on #4020
Actually, it looks like you code is working to some extent. Although that's more of a bug than a feature - `component_spec.metadata.annotations` is a `Dict[str, str]`, so it's invalid to put `PipelineParam`s there.

[2020-06-18 20:38] mmwebster opened #4023 "Storing and Accessing a Private Dataset for a Pipeline"
/kind question

**Question**
What is the recommended way to store and access a private dataset (~200GB extracted) for use in a component in a Kubeflow pipeline run on GCP?

**Context/Environment**
For context, (not sure if relevant) my data is currently on a GCP VM instance, I’m using PyTorch, and I’ll be using preemtible VMs for my GPU nodes. And I’m using Kubeflow v1.0.2 and have already followe

[2020-06-18 21:00] ksonbol commented on #4020
Thanks for the quick response and for the clarification. Indeed, updating the task makes more sense and looks cleaner. However, does this method `add_annotation` actually exist? I couldn't find it in the code or docs except for [this example](https://github.com/kubeflow/pipelines/blob/ef381aafccf916482d16774cac3b8568d06dff9e/samples/core/pipeline_transformers/pipeline_transformers.py#L28).

In fac

[2020-06-18 21:05] ksonbol commented on #4020
I should mention that I only tried this since input values are not supported in annotations spec #4019.

[2020-06-18 22:55] Ark-kun opened #4024 "Syntax errors in the generates Python OpenAPI client tests"
[code]

https://github.com/kubeflow/pipelines/search?q=%22allow+scheduling%22&unscoped_q=%22allow+scheduling%22

We should probably report the issue to the generator devs.

[2020-06-18 23:16] Ark-kun commented on #4020
Sorry. The correct spelling is `add_pod_annotation`.

Looks like our documentation generation has an issue with inherited members. Fixing it now.
`add_pod_annotation` is a method of `ContainerOp` (which represents KFP's tasks)
https://github.com/kubeflow/pipelines/blob/b63dd3f53237f74ae7f965441fd97698fafba7c9/sdk/python/kfp/dsl/_container_op.py#L843

That's true. It adds compile-time hardcoded ann

[2020-06-18 23:25] Ark-kun commented on #3998
I'd change the trainer components to explicitly output the metrics and other pieces of information that might be useful. It's also possible to have a predictor component that evaluates the model on a different dataset. The results can then be compared to the true results to calculate and output the metrics.

[2020-06-19 00:05] jackwhelpton commented on #3998
Right, in my case that's what I've done: this is possible because the middle component is something that we've written. That's why I indicated above that this workaround suffices for my case.

However, you can imagine a scenario in which that middle step is being loaded via `kfp.components.load_component_from_url` and is not something that the pipeline author has the ability to change. If it's wor

[2020-06-19 00:38] sudivate opened #4028 "Trying to get run status with SDK returns None"
### What steps did you take:
I'm trying to get run status based on run id with kfp client. But the kfp.Client.get_run([run_id]) returns run with type None.

However, I can get the run status through REST API  GET /apis/v1beta1/runs/{run_id}

KFP SDK version: 0.5.1

/kind bug
/area backend

[2020-06-19 00:51] numerology commented on #4028
Hi @sudivate , does any other Client function works? Like `.list_runs()`?

Also do you mind sharing how did you deploy your KFP?

[2020-06-19 01:50] Bobgy commented on #3216
Hi @Ark-kun, would you mind cherry picking your PR in https://github.com/OpenAPITools/openapi-generator/pull/6391 to our template folder here: https://github.com/kubeflow/pipelines/tree/master/backend/api/python_http_client_template

We can get the fix right away.

[2020-06-19 01:51] Bobgy commented on #3216
/reopen

[2020-06-19 01:52] sudivate commented on #4028
@numerology thanks for responding I got this working. I was configuring the client incorrectly with just host IP.

Adding /pipeline to the host IP worked

This is good to close :)

[2020-06-19 02:23] Bobgy commented on #4022
/cc @IronPan

I don't think we have a plan to support that unless we gather further feedback. You are welcome to contribute the feature flag.

[2020-06-19 02:27] Bobgy commented on #4024
Thanks for the report! Sure, we should report it upstream.
I don't feel this is very urgent, is it?

[2020-06-19 04:01] sudivate opened #4030 "FR: allow fetching individual components\steps run status within pipeline using SDK"
Is there a way to pull the status of individual components\steps within a pipeline using SDK?

**Scenario:**
I'm trying to use exit_handler to signal particular service on any component failure within the pipeline before the run completes.

I understand that kfp.Client.get_run() will provide run status for entire run on completion, but I need the status for individual components **before the run c

[2020-06-19 04:57] daniel-woolworths commented on #3950
Hi rmgogogo,

Thanks for the update. Looking forward to the new release!

Cheers,
Daniel

[2020-06-19 05:20] Bobgy commented on #4017
Verified these features can work.
will be done in the parent issue

[2020-06-19 05:20] #4017 closed

[2020-06-19 05:54] rmgogogo commented on #3950
FYI, the 1.0.0-rc.1 and 1.0.0-rc.2 include the fix. (however 1.0.0-rc.x is not in UI based installation but you may install it directly from kustomize

[2020-06-19 06:02] rmgogogo commented on #2318
oops, didn't notice this reply. thought you can reopen it.
Link the issue you created in another ticket here. Let's move to that one.
https://github.com/kubeflow/pipelines/issues/2654

[2020-06-19 06:02] rmgogogo commented on #2654
Sorry I thought you can reopen it while I missed your reply
https://github.com/kubeflow/pipelines/issues/2318

[2020-06-19 06:08] daniel-woolworths commented on #3950
Got it, thanks for the information! Very much appreciated!!

[2020-06-19 06:52] Ark-kun commented on #4030
Are you sure `get_run` does not not give up to date results in the middle of a run?

In any case, this needs to be supported by backend.

/cc @jingzhang36

[2020-06-19 07:06] Ark-kun commented on #4019
This is by design. The component annotations are currently supposed to be static.
And the fact that component annotations are translated to Kubernetes pod annotations might be considered a design mistake.
Components are designed to be portable and they have no Kubernetes-specific features.

But you can add Kubernetes-specific customizations to tasks (component instances).
You can add pod annotatio

[2020-06-19 07:25] Ark-kun commented on #3988
@eterna2 @Tomcli
Is there a portable solution that could enable to connect to a KPF cluster on AWS? For example OAuth tokens, etc.

[2020-06-19 07:29] Ark-kun commented on #4028
@numerology Do we have a clear documentation about when `/pipeline` is needed? (Also when `https://` is needed or not needed). Can we handle cases when users do not specify `/pipeline`?

[2020-06-19 09:02] Bobgy commented on #3920
In fact, argo created their own release note tool that depends on conventional commits: https://github.com/alexec/github-toolkit#release-notes

[2020-06-19 10:25] SatwikBhandiwad commented on #3405
@eterna2 Thanks for the info.
I configured those env vars and it worked.

 I did not understand the workflow controller configmap part

I have set workflow controller configmap with appropriate values and ran a workflow creating artifacts and it worked fine. Am I missing something?

[2020-06-19 10:38] Bobgy commented on #3986
PR welcomed on documenting the correct way to build it.

[2020-06-19 11:50] eterna2 commented on #3405
Nope. U r not missing anything. I am just commenting that the problem u encountered is not uncommon - missing out the correct configs.

E.g. ml-pipeline, ml-pipeline-ui, and Argo (aka workflow controller) all share the same artifactory settings, but u still need to config them separately.

Ideally, all kfp components shld be able to access the config map to know the artifactory settings?

[2020-06-19 13:57] ksonbol commented on #4019
Thanks, that works fine and is exactly what I needed.

[2020-06-19 14:02] ksonbol commented on #4020
Thanks for the explanation.

About the service accounts, is there any method similar to `add_pod_annotation` that allows setting the service account for a single task or a pipeline? I couldn't find such a thing in the code.

[2020-06-19 14:44] Bobgy commented on #3951
Hi @Mar-ai
storage: minio is not supported.

For quick workaround, I'd suggest `storage: inline` instead and put the html content inside `source` entry.
see https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

[2020-06-19 15:55] numerology commented on #4028
@Ark-kun

My understanding is that, currently when authenticated through IAP (i.e., full-fledged deployment), `/pipeline` and `https://` is needed. When authenticated through inverse proxy, `/pipeline` should not be included and `https://` does not matter. It seems like we shall improve our doc.

/cc @chensun in case I'm wrong re: IAP authentication.

[2020-06-19 16:06] ca-scribner commented on #497
Did this end up going anywhere?  Seems like a nice feature to have

[2020-06-19 21:34] sudivate commented on #4030
@Ark-kun  Yes `get_run  does not give details KFP SDK 0.5.1

[2020-06-20 01:47] Bobgy commented on #3951
Do you want to change the issue to be a feature request?

[2020-06-20 01:49] Bobgy commented on #3950
Closing the issue, FYI previous issue we made the fix https://github.com/kubeflow/pipelines/issues/3143.

[2020-06-20 01:49] #3950 closed

[2020-06-20 01:55] Bobgy commented on #3943
Another option: when you add `k8s.V1EnvVar`? Can you let it refer to a configmap?

[2020-06-20 02:03] Ark-kun commented on #3315
Can you please provide more information about your pipeline? How do you submit Dataflow job, etc?

[2020-06-20 02:04] Bobgy commented on #3935
/assign @jingzhang36 @Bobgy

[2020-06-20 02:05] Bobgy commented on #3935
Thanks for the bug report!
Can you give full date of these events in both UTC and local time? so that I won't have a misunderstanding, because I'm not familiar with timezone conversions

[2020-06-20 02:08] Bobgy commented on #3936
Sorry I don't have much knowledge of tensorboard usage

/assign @rmgogogo
Do you know if that's expected or not? Should we change the default value?

[2020-06-20 02:11] Ark-kun commented on #1131
Check https://github.com/kubeflow/pipelines/blob/091316b8bf3790e14e2418843ff67a3072cfadc0/samples/contrib/aws-samples/titanic-survival-prediction/titanic-survival-prediction.py#L35

[2020-06-20 02:12] Ark-kun commented on #1131
What are the remaining items for AWS support?

[2020-06-20 05:21] Ark-kun commented on #4020
We do not support setting the service account per-task.
We decided not to support setting the service account in the pipeline. https://github.com/kubeflow/pipelines/pull/3361 Although it can be put there manually and it will work.

But the service account for the run can be specified in the UX at the run submission time. https://github.com/kubeflow/pipelines/pull/3651
And the backend API allows sp

[2020-06-20 05:26] Ark-kun commented on #4019
Great!

[2020-06-20 05:26] #4019 closed

[2020-06-20 05:29] Ark-kun opened #4036 "Metadata Writer can get stuck"
I've seen a case where Metadata writer was working successfully for a while, (some restarts when Kubernetes watch has ended), but then just stopped doing anything. Usually it lists any new pods it sees, but it has stopped doing printing anything to the logs.

Version: Marketplace 0.5.1 manually upgraded to 0.5.2

Investigating...

Maybe I need to put timeout in the watch.

[2020-06-20 06:33] Ark-kun commented on #4036
Got a traceback of what the stuck process was doing today. As expected it's Kubernetes watch reading from a network connection:

[code]

[2020-06-20 09:06] Ark-kun opened #4038 "KFP-Cache - Template name should not affect cache key"

[2020-06-20 09:17] ksonbol commented on #4020
I like the idea of setting the service account at run submission time but I need to set that using the kfp.Client as well. I think it is supposed to more or less have the same functionality as the UI, right?

[2020-06-20 18:57] lbatteau commented on #3935
Sure,

Create a recurring run with:

* periodic trigger
* run every hour
* start date Monday June 22nd at 00:00 CEST, aka Sunday June 21st at 22:00 UTC

What happens:

The job is scheduled for Monday June 22nd at 22:00 UTC

What do you expect to happen:

The job to be scheduled for Sunday 21st 22:00 UTC

[2020-06-20 23:24] Ark-kun commented on #4020
I wonder whether those environments can all have the `pipeline-runner` service account with different roles/permissions attached.

That's true. The lower-level client has everything. `kfp.Client().runs.create_run(...)` supports service_account. But it's inconvenient to use.
 We'll work on exposing the service_account in `kfp.Client().create_run_from_pipeline_func(...)` as `kfp.Client().run_pipelin

[2020-06-21 07:28] Ark-kun opened #4040 "Compilation should fail when user passes the whole task instead of one output to an input"
Example broken code which should fail:
[code]

The correct code:
[code]

Currently the ContainerOp is silently converted to a big string constant and passed downstream which also triggers problems with data passing.

[2020-06-21 08:28] Ark-kun opened #4041 "SDK -Python components - Replace the default image with the official python image"
The tensorflow default image is big and outdated. It's also framework-specific while we want the SDK to be framework-neutral.

[2020-06-22 01:33] rmgogogo commented on #4030
(put to post 1.0 backlog for a discussion on whether/when we support this).

Quick question, why need this detailed status? I didn't connect it with the upper sentence. If you mean to use onExit to signal other system when certain step fails, I think it's already there and doable without this FR.

[2020-06-22 01:53] Bobgy commented on #4030
@sudivate Can you check the `run.pipeline_runtime.workflow_manifest` field using `get_run`?
It contains argo workflow **including status**. e.g. KFP UI is using it to visualize runtime status of the workflow.

the workflow object might delay for a few seconds (waiting for a persistence agent to sync it into KFP DB), so I'd suggest adding a wait and timeout in the exit handler to make sure you get

[2020-06-22 01:54] Bobgy commented on #4030
We may consider a KFP native way without exposing argo details if this is a common request.

@rmgogogo I think an IR status representation will be the best approach (both UI and this requested API should be powered by IR status).

[2020-06-22 03:36] rmgogogo commented on #4030
definitelly.

However before we start expose it, I still didn't understand why @sudivate request it as the "Scenario" seems not the reason.

[2020-06-22 03:39] Bobgy commented on #4030
@rmgogogo from my understanding @sudivate want the pipeline to report which step/component failed in the exit handler step.
Thus exit handler needs to get runtime status info of the current (unfinished) pipeline.

[2020-06-22 04:27] Bobgy commented on #3974
Thanks for the report!
We'd welcome contributions on this.

Frontend contribution guide: https://github.com/kubeflow/pipelines/tree/master/frontend
Related table component: https://github.com/kubeflow/pipelines/blob/master/frontend/src/components/viewers/PagedTable.tsx#L186

looks like it's sorting as string as you mentioned in the issue

[2020-06-22 04:29] Bobgy commented on #3935
Thanks @lbatteau! That's really helpful.

[2020-06-22 04:29] Bobgy commented on #3935
Welcome contribution before we can have bandwidth to make a fix.

[2020-06-22 05:13] rmgogogo commented on #4041
+1, I remember we already have a ticket on it. will close that one and keep this one.

more info: current tfx image is 2G+ in gcr.io and "docker images" shows it's 5G+.

1. We use other images as Alexey mentioned for simplicity
2. (TFX) split it for detailed purpose, e.x. in upcoming new design for IR, we only need Driver and a simple publisher which should be small sized. It will be a dedicated i

[2020-06-22 05:17] rmgogogo commented on #4038
Hi Alexey, will you handle this in Q3?

In my side plan, I will support native MLMD which may deprecate cache server and MLMD-writer. Aka in the future, TFX SDK will cover major feature of KFP SDK. Since KFP-cache and MLMD-writer is only need when using KFP SDK, I didn't treat this (and #4036) with priority. However if you can jump in to solve it, also helps.

[2020-06-22 05:20] Bobgy commented on #4028
Yes, they are right.
I've scheduled related doc as Part of KFP 1.0

[2020-06-22 05:20] rmgogogo commented on #4028
close this one.

[2020-06-22 05:20] #4028 closed

[2020-06-22 05:23] Bobgy commented on #4021
Thanks!
looks like you are right

Do you want to open a PR?
/cc @numerology @Ark-kun

[2020-06-22 05:26] rmgogogo commented on #4023
It seems not a question to KFP but more general GCP/cloud question.

There are several options. GCS for objective data. CloudSQL for relational data. BigQuery for bigdata-styled/columar stuff.

as for how access them, you may write certain connector with it. Are you using TFX SDK? If so, you may write Custom Component in TFX. If you prefer arbitry codes packaged in a container image, that's also d

[2020-06-22 05:27] rmgogogo commented on #4013
can we close this one?

[2020-06-22 05:30] Bobgy commented on #4013
No, @dushyanthsc also need to update metadata-writer's usage of mlmd client and frontend client
https://github.com/kubeflow/pipelines/pull/3982#issuecomment-644508517
https://github.com/kubeflow/pipelines/pull/3658/files#diff-ea967cf037de3503a92911b5c390b596R202

[2020-06-22 05:30] Bobgy commented on #4013
/cc @Ark-kun

[2020-06-22 05:31] rmgogogo commented on #3998
(I put this to post 1.0 backlog for a well track)
We need to abstract a layer to fetching task logs when we support IR.

@Bobgy

[2020-06-22 05:47] rmgogogo commented on #3960
please remove the kfserving issue to KF serving project.

Or correct me if I didn't get the problem root cause.

[2020-06-22 06:26] rmgogogo commented on #3011
kindly ping to see if still reproducable.

[2020-06-22 06:30] rmgogogo commented on #3360
(need to keep eyes on IR design for this item)

[2020-06-22 06:34] rmgogogo commented on #3375
(Arikato may already working on it)

[2020-06-22 06:34] #3493 closed

[2020-06-22 06:36] rmgogogo commented on #3494
(@rmgogogo to keep eyes on IR changes to cover this one)

[2020-06-22 07:08] jingzhang36 commented on #2922
We now have another api method UploadPipelineVersion that works with local files. Examples are at
https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/#creating-a-pipeline-and-a-pipeline-version-using-the-sdk

[2020-06-22 07:11] rmgogogo commented on #3770
(need upgrade bazel to unlock Argo)

[2020-06-22 07:12] #3796 closed

[2020-06-22 07:13] #3805 closed

[2020-06-22 07:15] rmgogogo commented on #3908
(as detailed in email, we may close as the root cause is that WI is not well configured)

[2020-06-22 07:15] #3908 closed

[2020-06-22 07:21] #3061 closed

[2020-06-22 07:25] rmgogogo commented on #1138
(in IR based impl, we may handle it with Docker runner)

[2020-06-22 07:27] Bobgy opened #4045 "[Deployment] Use a central configmap for flags in various deployments"
/cc @rmgogogo

We have many env var flags in different deployments, but we have no documentation for them.
I think it will be helpful providing a central configmap with all configurable parameters and documentation.

[2020-06-22 07:41] Bobgy commented on #2884
All actionable items done for 1.0

[2020-06-22 07:57] Bobgy opened #4046 "Testing - post submit tests are failing"
https://github.com/kubeflow/pipelines/commits/master

we need to fix it before 1.0 release

[2020-06-22 08:00] Bobgy commented on #4046
/cc @rmgogogo @jingzhang36

[2020-06-22 08:05] Bobgy commented on #3996
I guess the issue should better be rephrased as, when there are a lot of runs, the UI basically don't respond

[2020-06-22 08:07] Bobgy commented on #3991
I remember we got a problem when not following this rule. Any other suggestions?

[2020-06-22 08:40] #4036 closed

[2020-06-22 08:59] Mar-ai commented on #3951
Hi @Bobgy, thanks for the reply, I'd like to change the issue to be a feature request.

Unfortunately, the workaround with```storage:inline``` does not work: using the example from https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/

[code]

throws an Error:

[code]

[2020-06-22 09:07] Bobgy commented on #3951
@Mar-ai

Was your KFP server above this version?

[2020-06-22 10:14] Bobgy commented on #3729
TODO:
* [ ] Update internal release documentation to be in sync with latest practice.

[2020-06-22 14:11] jonasboecquaert opened #4048 "[Question] How can I connect my local environment to a remote Pipeline cluster running on EKS"
### What happened:
We have deployed Kubeflow on EKS using the provided documentation on the Kubeflow website, and it all works as expected. I however would like to develop my code locally and start a pipeline run remotely, instead of starting and using a notebook server. Is there a way to authenticate locally using `kfp.Client()` in AWS, in a similar way we can authenticate using IAP on GCP?
Is it

[2020-06-22 14:19] amygdala commented on #2922
/reopen

I'm sorry,  I don't view this as fixed-- it's pretty important that GitHub URLs are supported IMO.

[2020-06-22 16:48] Jeffwan commented on #1131
@Ark-kun I think there's some items not done yet in issue which is related to s3.  https://github.com/kubeflow/pipelines/issues/3405

We can close this one now.

[2020-06-22 16:48] #1131 closed

[2020-06-22 16:48] Jeffwan commented on #3387
#3379 has been merged. we can close this issue

[2020-06-22 16:48] #3387 closed

[2020-06-22 16:55] Jeffwan commented on #2819
region has been added. This can be closed.

/close

[2020-06-22 16:55] #2819 closed

[2020-06-22 18:59] mmwebster commented on #4023
@rmgogogo Thank you! This helps a lot.

Specifically on the KFP side—would you advise against using the outputPath/inputPath mechanisms for passing many GBs of data to a training component that has compute resources? My understanding is that this IO mechanism copies data to/from GCS, and so would limit the training component from fully utilizing GPU resources while data is being downloaded in bulk

[2020-06-22 19:39] Ark-kun commented on #4041
It's also trivial for the users to go back to the tensorflow image if they want:

[code]

Cool. Please link it here if you find it.

[2020-06-22 20:12] lilida opened #4049 "Pipeline API should expose an API to set default version for a given pipeline"
Today, there is no Pipeline API to update the default version id for a given pipeline. Pipeline default version is only automatically updated when a new version is created. Although UpdatePipelineDefaultVersion has been implemented pipeline_store.go, it was not exposed to pipeline service api.

[2020-06-22 23:57] Ark-kun commented on #4038
Sure. I've self-assigned this item from the start.
Do not worry. I'm supporting Metadata Writer and Cache so I'm self-assigning all issues to myself.
These issues are more like my ToDos for myself to remember. I do not want to take anyone's time for these items.

I've merged a fix for that one already.

[2020-06-23 00:03] jingzhang36 commented on #3867
Thank you so much for reporting this bug. Will have a fix soon!

[2020-06-23 00:22] Ark-kun commented on #4023
Hello, @mmwebster
The main options are:

1) Downloading the data
2) Accessing the data by URI
3) Mounting the data

## Downloading the data:

This option is realized through `inputPath`/`outputPath` placeholders in `component.yaml` (and `inputPath`/`OutputPath` annotations in python).

pros:
* The data access is the fastest. For ML training where you need to go through the dataset multiple times,

[2020-06-23 04:34] Ark-kun commented on #3991
Does KFP install any cluster-level application object? If yes, then it should be the owner.

[2020-06-23 04:49] Bobgy commented on #3991
@Ark-kun Can we use [cluster role binding](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/cache-deployer/cluster-scoped/cache-deployer-clusterrolebinding.yaml) as owner?

I think it's the closest to sth related to caching but cluster-scoped, while it's related to this namespace.

[2020-06-23 06:14] Bobgy commented on #1223
@maganaluis Thanks for bringing it up here!

I've finished other work items in the KF 1.1 integration list in https://github.com/kubeflow/pipelines/projects/5.
Current WIP for multi user mode for gcp + iap manifest. Getting it ready for GCP isn't very risky now.

However, istio + dex manifest is maintained by Arrikto, @yanniszark @jbottum do you have any plan you can share of supporting istio + de

[2020-06-23 06:55] Bobgy commented on #3991
I don't think it's owned by anything. When using standalone, we delete it by kubectl delete -k

For marketplace, @rmgogogo can you share?

[2020-06-23 10:07] #3867 closed

[2020-06-23 13:21] #3216 closed

[2020-06-23 15:52] anupash147 commented on #3818
@eterna2 : I think, I am lost.. I did try by passing an environment variable ARGO_ARCHIVE_LOGS = 'true' to the ml-pipeline-ui pod but did not find anything that looks like this
![image](https://user-images.githubusercontent.com/8271182/85426109-a5f3b200-b53f-11ea-9b9b-b41ea86cc412.png)

[2020-06-23 16:05] eterna2 commented on #3818
Sorry. Can u give me abit of context. Cuz I think I wasn't in the initial conversation.

What were u trying to achieve? And what was the problem?

I dun quite understand ur screenshot?

[2020-06-23 16:16] collinarnett opened #4060 "Cannot submit pipelines job through SDK in jupyterbook server: microk8s, default namespace"
### What steps did you take:
[A clear and concise description of what the bug is.]
I'm trying to submit a kfp run from the SDK inside a jupyter notebook server on the default admin namespace.

### What happened:
I get the following error when running the function:
[code]
error
[code]

### What did you expect to happen:
Successful submission of pipeline run.

### Environment:

How did you deploy Ku

[2020-06-23 16:22] anupash147 commented on #3818
@eterna2 : My original problem goes as, i have to migrate from cluster A to clusterB, to do that i backup the mysql & minio servers. This retains the runs and the artifacts. But when i go to check the logs of the runs in cluster B (UI) its blank. From the context of the ticket referenced via [slack channel ](https://github.com/kubeflow/pipelines/issues/3818#issuecomment-641524584), i learnt that t

[2020-06-23 16:59] eterna2 commented on #3818
There are a few things u need to consider.

Which manifest version was cluster A. i.e. was archival of the pod logs enabled. This is not done at the ml-pipeline-ui (the UI just read from the archive). This should be enabled in the workflow controller configmap.

If it is not enabled in cluster A, then the logs will not be archived in minio.

The env var flags u passed to ml-pipeline-ui are just to

[2020-06-23 17:12] amygdala opened #4061 "uploading a pipeline via UI: 'source' field is a noop"
with Hosted KFP, KFP sdk 0.5.1

I noticed that when uploading a pipeline via the dashboard UI, setting the 'source' field to a URL appears to be a no-op.
(At first I wondered how the pre-provided pipelines included source links, but turns out that they were added in the _description_ field, not the source field.)

Not enough info to tell whether this is a frontend or backend issue.

/kind bug

[2020-06-23 20:48] amygdala opened #4062 "FR: update default base image for lightweight python components"
kfp 0.5.1

It looks like the default base image for lightweight components is `tensorflow/tensorflow:1.13.2-py3`.  It would be good to update this (probably  best to use a TF 2 image?).

/kind feature

[2020-06-23 20:55] numerology commented on #4062
Looks like @Ark-kun is changing that to Python 3.7 image in https://github.com/kubeflow/pipelines/pull/4054

[2020-06-23 21:40] anupash147 commented on #3818
Both of the clusters are of kubeflow version 1.0.

With your help, i was able to figure out and able to make the below changes
1. Added `archiveLogs= true` in the workflow-controller-configmap and restarted the workflow-controller. This enabled me to start getting the main.log files.
2. I added 2 variable to `deployment/ml-pipeline-ui` .
    i. `ARGO_ARCHIVE_LOGS=true`
   ii.  `ARGO_ARCHIVE_PREFIX

[2020-06-23 22:38] Bobgy commented on #4061
/assign @jingzhang36

I remember it was a backend issue.

[2020-06-23 22:38] Bobgy commented on #4061
/status triaged

[2020-06-23 23:56] eterna2 commented on #3818
Are u on Argo 2.7.5? There is a bug in the older version of Argo. Argo is the workflow controller.

If u are on kf 1.0. u shld still be on the old Argo. The bug is, if u do not have an output artifact, no artifact will be emitted. i.e. kfp will not know there is a main.log, if the task by default does not have an output artifact.

U can try changing the Argo version to 2.7.5 ( by editing the image

[2020-06-24 00:01] eterna2 commented on #3818
Can u also tell me which version of kfp u r on? U probably can try upgrading it to 0.5.1. (the image tag)

[2020-06-24 01:19] anupash147 commented on #3818
By are do you mean the argoproj/workflow-controller:v2.3.0 ? by kfp do you mean gcr.io/ml-pipeline/frontend:0.2.0?

[2020-06-24 02:02] eterna2 commented on #3818
Yeah. U are on 2.3.0 for Argo. And 0.2.0 for kfp.
I think 0.2.0 shld still be fine.

I suspect the bug is probably becuz of Argo 2.3.0.

U can either intentionally add an output for ur kfp task, or upgrade to 2.7.5.

But for the workflow controller, u need to take care. I forgot where (I think it shld be in the configmap or the args). U need to pass the Argo executor to use. U have to update the i

[2020-06-24 02:08] Bobgy commented on #4062
/assign @Ark-kun

[2020-06-24 02:33] Bobgy commented on #3920
We can mark this as done now.

[2020-06-24 02:33] #3920 closed

[2020-06-24 02:43] anupash147 commented on #3818
I did upgrade the executor to `argoproj/argoexec:v2.7.5`. Good here but when i upgraded the workflow-controller, doomed with heavy error. see below
[code]
I am going to look into the https://github.com/kubeflow/pipelines/tree/0.5.1/manifests/kustomize this, i guess this is what you had mentioned. But thanks will keep you updated @eterna2

[2020-06-24 04:18] Bobgy commented on #2883
Already fixed in KF 1.0.2 by using `kf-user`

[2020-06-24 04:18] #2883 closed

[2020-06-24 04:20] Bobgy commented on #1763
/assign @Ark-kun
totally agree on the idea

[2020-06-24 04:21] Bobgy commented on #182
I can follow up on a demo with this, shouldn't be too hard

[2020-06-24 04:21] Bobgy commented on #2159
we plan to do this

[2020-06-24 04:22] #3300 closed

[2020-06-24 04:23] Bobgy commented on #3234
Done in https://github.com/kubeflow/pipelines/pull/3457

[2020-06-24 04:23] #3234 closed

[2020-06-24 04:24] Bobgy commented on #2892
We've provided workaround.

[2020-06-24 04:24] #2892 closed

[2020-06-24 04:24] Bobgy commented on #3057
I've fixed it later by fixing a timezone for unit tests.

[2020-06-24 04:24] #3057 closed

[2020-06-24 04:27] Bobgy commented on #3362
we may clean up this

[2020-06-24 04:31] Bobgy commented on #3289
/lifecycle frozen

[2020-06-24 06:05] munagekar opened #4063 "Unable to list pipeline versions using the kubeflow client"
### What steps did you take:
Unable to list pipeline versions using the kubeflow client.
Unable to reach endpoint : GET /apis/v1beta1/pipeline_versions

[code]

### What happened:
[code]
### What did you expect to happen:
Endpoint was working

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
 Kubeflow Pipelines as part of a full Kubeflow deployment.

KFP version:  Build commit: 74374

[2020-06-24 06:15] Bobgy commented on #4063
@munagekar KFP installation version was 743746b a.k.a 0.2.5, so it only guarantees features in kfp-server-api 0.2.5 or below.

[2020-06-24 06:16] Bobgy commented on #4063
/assign @jingzhang36

[2020-06-24 06:20] munagekar commented on #4063
@Bobgy Thank you for your prompt reply.[This](https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/) is the reference spec for 0.5.1. How can I find the reference spec for 0.2.5 ?

I guess this endpoint is a not a part of Kubeflow 0.2.5 and this issue can be closed.

[2020-06-24 06:42] NikeNano commented on #3801
/close

[2020-06-24 06:42] #3801 closed

[2020-06-24 06:42] NikeNano commented on #3801
Closing this issue since the PR is merge and this should be solved.

[2020-06-24 06:44] Bobgy commented on #4063
@munagekar We didn't publish it, you may find open api definition in https://github.com/kubeflow/pipelines/blob/0.2.5/backend/api/swagger/pipeline.swagger.json.

You can also use swagger documentation site to visualize it https://petstore.swagger.io/, please paste https://raw.githubusercontent.com/kubeflow/pipelines/0.2.5/backend/api/swagger/pipeline.swagger.json into the UI's top url box.

[2020-06-24 06:45] NikeNano commented on #3901
I will work on a PR for this.
/assign

[2020-06-24 07:17] rmgogogo commented on #3279
@jingzhang36
can we close this one?

[2020-06-24 07:21] rmgogogo commented on #3313
Please check whether the upper reply is OK. I think we can close this ticket.

[2020-06-24 07:30] Ark-kun commented on #4060
Does the notebook run in the same namespace as the KFP cluster backend?

[2020-06-24 08:39] munagekar opened #4069 "Ability to List Resources by Name Instead of Id"
https://github.com/kubeflow/pipelines/blob/bc3c59aea1046ff6424149c897671c7b9ee48cb2/backend/api/swagger/experiment.swagger.json#L127
A number of the resources in the kubeflow can be only be operated(CRUD) by id. Eg: Experiments, Pipelines.

Eg: To create a run with an existing experiment name.
I need to list all the experiments. Find out the experiment which has the give name, extract the id. And

[2020-06-24 09:03] Bobgy commented on #4069
/assign @jingzhang36
/kind feature

[2020-06-24 09:27] Bobgy opened #4070 "Very flaky presubmit tests"
Recently presubmits have been failing very frequently, however those failures have no logs, so it seems to be a problem with prow test infra.

Created upstream issue: https://github.com/kubernetes/test-infra/issues/18067

/cc @rmgogogo @jingzhang36 @Ark-kun

[2020-06-24 11:42] Bobgy commented on #2538
already updated

[2020-06-24 11:42] #2538 closed

[2020-06-24 11:43] Bobgy commented on #3023
/lifecycle frozen

[2020-06-24 11:46] #3084 closed

[2020-06-24 11:46] #2756 closed

[2020-06-24 11:57] StefanoFioravanzo commented on #3770
@Ark-kun @rmgogogo @Bobgy We have some customers that are facing some issues due to the old version of the Argo Go client. Once such issue is documented in #3590 and already implemented by @Ark-kun in #3880 . We would love to see this resolved as soon as possible. Do you think it could be done in time before 1.0?

[2020-06-24 12:46] jingzhang36 commented on #4063
@munagekar when you are using 0.2.5 KFP api server with a 0.5.1 KFP sdk, there might have unexpected behavior. In other words, the behavior could be different from the expected behavior of either version.

[2020-06-24 13:35] amygdala commented on #3265
commenting to leave open; I assume we still want to consider this...

[2020-06-24 14:06] collinarnett commented on #4060
I'm somewhat new to Kubernetes so you'll have to forgive me but when I created the notebook server I made sure to create it in the same namespace as my KFP. I'm just using the microk8s version of KF and I haven't done anything special to the setup.

[2020-06-24 16:20] amygdala commented on #3007
This issue still exists, commenting to leave open.

[2020-06-24 17:34] amygdala commented on #3005
We should leave this open...

[2020-06-24 17:35] amygdala commented on #3051
Let's leave this open until confirmed... it may soon be obsolete what with WI, but not sure.

[2020-06-24 18:42] #4021 closed

[2020-06-24 19:34] anupash147 commented on #3818
@eterna2 : thank you, i got it working now. just had to put ARGO_ARCHIVE_PREFIX='artifacts'

[2020-06-24 19:36] #2844 closed

[2020-06-24 20:54] amygdala commented on #1846
I think it's useful to keep this open as a FR.

[2020-06-24 22:35] Bobgy commented on #1834
version already shows in UI

[2020-06-24 22:35] #1834 closed

[2020-06-24 22:45] Bobgy commented on #3007
/lifecycle frozen

@amygdala FYI, you can comment like this to keep it always open

[2020-06-24 22:51] Bobgy commented on #2841
Hey, actually I think it's not hard showing all error messages just as the text message without the object structure

/assign @Bobgy

[2020-06-25 00:45] hlu09 opened #4073 "[Feature request] support workflow outputs for workflow composition"
Then we can

1. make yaml url from a workflow, create_graph_component_from_pipeline_func.
2. my_op = kfp.components.load_component_from_url(url)(in1, int2)
3. use my_op.outputs

[2020-06-25 03:51] Bobgy commented on #2294
I believe this has been fixed in one of recent versions. Please reopen by
typing "/reopen" if this still applies

[2020-06-25 03:51] #2294 closed

[2020-06-25 04:53] Bobgy commented on #2537
done

[2020-06-25 04:53] #2537 closed

[2020-06-25 06:16] Ark-kun commented on #4073
Thank you for your interest.
I think this feature is already supported.
Check the code in your comment - it should work =)

Check the example in the documentation for [create_graph_component_from_pipeline_func](https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.components.html#kfp.components.create_graph_component_from_pipeline_func) (the formatting is off).

[code]

[2020-06-25 06:19] Ark-kun commented on #3915
Thank you for your patience. I somehow missed this issue. (@rmgogogo Please feel free to assign most SDK-related issues to me, especially component-related.)

[2020-06-25 07:11] munagekar commented on #4063
@jingzhang36 I can confirm this issue is present with KFP sdk client 0.2.5 as well.

[code]
Same result.
I cannot test for the latest-api server since KFP was deployed as a part of Kubeflow.

[2020-06-25 07:39] Ark-kun opened #4075 "The ml_metadata_store_server image does not exist"
The https://github.com/kubeflow/pipelines/pull/3982/files PR has changed the image of the `metadata-grpc-deployment` to `gcr.io/tfx-oss-public/ml_metadata_store_server:0.22.1`, but it does not seem to exist.

[code]

The presubmit tests are failing with
[code]

[2020-06-25 07:39] Ark-kun commented on #4075
/cc @dushyanthsc @rmgogogo

[2020-06-25 07:41] Ark-kun commented on #4075
Related: https://github.com/kubeflow/manifests/issues/1321

[2020-06-25 07:44] Ark-kun commented on #4075
Looks like someone has deleted the `0.22.1` tag in favor of v0.22.1`. They've recently done the opposite - deleted `v0.21.1` in favor of `0.21.1` breaking the installations.

[2020-06-25 08:30] Ark-kun commented on #3818
This fixed it for me. I remember trying some prefix, but maybe it was wrong (e.g. maybe I used the full `minio://mlpipeline/artifacts/` prefix).

@eterna2 Why is the prefix needed? The full log artifact URI seems to be available.

[2020-06-25 08:46] Ark-kun commented on #3818
Actually, no, it still does not seem to work for me.
Here is the log:
[code]

I think I know what's happening. The Frontend constructs the logs artifact URI based on the pod name instead of taking the actual artifact from the workflow status (from the same place used to populate Inputs/Outputs tab). Unfortunately the constructed URI does not exist and the logs artifact we want to show is different

[2020-06-25 09:28] GraphtyLove opened #4077 "[QUESTION] Adding custom labels to pods."
I would like to add labels to the pods generated by the pipeline. (I use ContainerOp)
When the pipeline.yaml is generated I get `labels: {k:v}` there is default value there and I'de like to add my custom labels.
Is there a way to do that with the python SDK?

How I declare my components:
[code]

How I compile it:

[code]

[2020-06-25 09:35] animeshsingh commented on #3703
@rmgogogo @zhitaoli any update on the IR RFC/doc?

[2020-06-25 09:59] eterna2 commented on #3818
This means there is some error parsing the workflow status. Let me investigate.

Because logs are retrieved in 3 ways in order:
- with k8s API
- based on workflow status artifact
- based on podname and env var.

Seem like it fallback to the 3rd method. Some how either it cannot query the workflow status, retrieve the secrets, or parse the status to get the archived log artifact.

This is the cat b

[2020-06-25 10:03] eterna2 commented on #3818
The prefix is for the final fallback. When the front end cannot parse or get the workflow status.

Usually is not required. If the workflow is parsed correctly. Is there a change in the schema after we upgrade to 2.7.5?

Let me check.

[2020-06-25 13:20] md-shabbir opened #4078 "gcr.io/tfx-oss-public/ml_metadata_store_server:0.15.1 image does not exist"
I tried to install kubeflow v0.7.0 and got an issue, the pod metadata-grpc-deployment-7cc5d84854-rgxrj is failing due to image pull back-off

[code]

Earlier it was working.

[2020-06-25 13:27] #4077 closed

[2020-06-25 14:11] #2969 closed

[2020-06-25 15:10] munagekar commented on #4069
Related #3360

[2020-06-25 15:42] numerology commented on #4078
It should be recovered now. Thanks for reporting! @md-shabbir

[2020-06-25 18:04] hlu09 commented on #4073
That is great!

1. Looks like it's experimental. Can we make it work with any valid KFP pipeline?

2. Do you have example I can follow?  I tried the sample code above, and keep getting some error.

/kfp/components/_python_to_graph_component.py", line 161, in create_graph_component_spec_from_pipeline_func
    raise TypeError('Only TaskOutputArgument instances should be returned from graph component

[2020-06-25 18:40] cjwagner commented on #1653
Please address this. This has been negatively impacting our infrastructure for more than 15 months.
https://prow.k8s.io/tide-history?repo=kubeflow%2Fpipelines&branch=master

[2020-06-25 18:52] eedorenko opened #4079 "KFP Execution events"
Embedded KFP approach to publish events (webhook) reflecting the pipeline execution (e.g. pipeline start, step "step1" start, step "step2" finish, exception, exit, etc.) so a subscriber (e.g CI orchestrator) can hook on that.

[2020-06-25 18:53] eedorenko opened #4080 "KFP Run Context"
In a KFP step container give access to the run context (run_id, run date, run params, pipeline attributes, step attributes, step params).

[2020-06-25 19:40] cjwagner commented on #1653
Please be warned that we intend to disable Tide for this repo if the issue has not been resolved by August.

[2020-06-25 19:48] #4078 closed

[2020-06-25 19:49] Ark-kun commented on #4075
Thank you @numerology for fixing this!

[2020-06-25 19:49] #4075 closed

[2020-06-25 19:54] Ark-kun commented on #4080
Can you please describe your high-level scenarios that require this feature?
How you expect the syntax to look like (pipeline-side and component-side)?
What are step/pipeline attributes?
Doesn't step code already receive step parameters? Isn't it already possible to pass pipeline parameters to a step?

The component specifications describe the component inputs and how to pass them to the command-l

[2020-06-25 19:59] Ark-kun commented on #4013
That's completed: https://github.com/kubeflow/pipelines/pull/4027

[2020-06-25 20:29] tholop opened #4081 "ResourceOp fails when providing a resource manifest from inside a pipeline"
### What steps did you take:

I am using Kubeflow ResourceOp to query some custom resources from inside a pipeline, and I would like the list of the resources to be provided by another component of the pipeline. I have one component that is writing the k8s_resource, and then the ResourceOp gets this as input as follows:

[code]
### What happened:

The first task produces a valid json output. Howev

[2020-06-25 22:15] #4041 closed

[2020-06-25 22:15] #4062 closed

[2020-06-25 22:16] Ark-kun commented on #4073
What are the missing features you'd like to see the most?

Can you please check this unit test:
https://github.com/kubeflow/pipelines/blob/ceb860c59496c1cfb8432bcb301173aa51ddf078/sdk/python/kfp/components_tests/test_python_pipeline_to_graph_component.py#L26

Can you please post the full code and error? What are the components you're using? Are you using the original output names?

[2020-06-25 22:22] Ark-kun opened #4083 "Refactor ResourceOp to be implemented on top of ContainerOp"
Part of the efforts to make the DSL orchestrator-agnostic.
We're trying to balance between making KFP feature-rich and locking in our customers to a particular orchestrator. Although there are gaps, we're trying to have an abstraction layer that allows changing the implementation.

ResourceOp is an Argo-specific feature, but it's pretty easy to just implement it as a container. In fact Argo itself

[2020-06-25 22:23] Bobgy commented on #1653
Hi @cjwagner, sorry for your inconvenience. Thanks for maintaining the infra!

FYI, a few weeks ago, I removed required status of Travis tests before @Ark-kun can migrate them to prow.

So I believed this issue should have been solved.

However, the issue that occured this time is different, cla requirement is not matching tide configuration. I will go ahead and fix that.

[2020-06-25 22:29] Ark-kun commented on #4081
I think https://github.com/kubeflow/pipelines/issues/4083 will solve issues like this.

[2020-06-25 22:31] Bobgy commented on #1653
took a quick look, cla check seems also a github check. How does other repos use it with tide?

[2020-06-25 22:40] Ark-kun commented on #1653
@cjwagner

I think this issue has already been fixed several weeks ago.
The Travis tests are no longer a requirement and the failures do not prevent PR merges.

Are you sure the issue still remains?

[2020-06-25 22:47] Ark-kun commented on #1653
Is Prow compatible with the Google CLA?

[2020-06-25 23:19] #1820 closed

[2020-06-25 23:25] Bobgy commented on #4079
This is an interesting idea, but KFP depends on argo for execution. It's not very feasible to implement this from our side

[2020-06-26 00:33] hlu09 commented on #4073
We use exit handler, condition, recursion, ParallelFor (the order is by the frequency of usage) in many pipelines.

Here is the code I tried with error.
`
import kfp
from collections import OrderedDict
from kfp import dsl, components

def gcs_download_op(url):
    return dsl.ContainerOp(
        name="GCS - Download",
        image="google/cloud-sdk:216.0.0",
        command=["sh", "-c"],

[2020-06-26 00:39] Bobgy commented on #1653
It seems we need a plugin similar to the existing `cla` plugin for cncf cla in https://prow.k8s.io/plugins.
It syncs github status to labels in the PR, so tide can set criteria on labels.

[2020-06-26 01:03] Bobgy commented on #3704
@omarzouk Sorry, this might be a late reply.

The feature introduced in https://github.com/kubeflow/pipelines/issues/3855 should be the best for you.
When backfilling, the parameter needs to be passed in manually instead.

[2020-06-26 01:05] Bobgy commented on #3704
Closing because question answered, feel free to reopen by typing `/reopen` if there's something that doesn't work for you.

[2020-06-26 01:05] #3704 closed

[2020-06-26 01:19] Bobgy commented on #1132
/lifecycle frozen

I think this is something we'd want to consider for the long term.

[2020-06-26 01:24] Bobgy opened #4084 "[Release] Upgrade tfx for 1.0 release"
EDIT: upgrade tfx, tfdv and tfma

/cc @rmgogogo @jingzhang36 @numerology
/assign @Bobgy

[2020-06-26 01:56] tholop commented on #4081
Great, I look forward to it. Indeed, in the meantime I use a container instead of ResourceOp, like you mention in https://github.com/kubeflow/pipelines/issues/4083.

[2020-06-26 03:07] mmwebster commented on #4023
@Ark-kun This was exactly what I was looking for! Thank you!

I was a little too optimistic about the URI option and tried streaming individual dataset samples (large .wav files...) to compose batches on the fly. This allowed me to immediately begin training on component startup, however I discovered that download speeds were far bellow what they would need to be in order to keep up with even the

[2020-06-26 06:46] animeshsingh commented on #4083
thanks @Ark-kun. We think this is the step in the right direction, and these common functionalities should be moved to KFP itself, as opposed to having a dependency on the underlying backend engine.

 we have done our [own implementation in case of Tekton](https://github.com/kubeflow/kfp-tekton/blob/master/sdk/FEATURES.md#resourceop-volumeop-and-volumesnapshotop), but something which can be reused

[2020-06-26 06:51] sakaia opened #4085 "[doc] Is there any document of the working Artifact Storage List?"
### Question about artifact Storage List
I search artifact storage list but I cannot found it.
I just want to know following io is available? for example xgboost etc

- gs://
- s3://
- https://
- http://
- file://

I am looking around source code of follows but I cannot found the document.

- [frontend/server/handlers/artifacts.ts](https://github.com/kubeflow/pipelines/blob/1.0.0-rc.2/frontend/ser

[2020-06-26 08:49] Bobgy commented on #1653
`cla` plugin lives in https://github.com/kubernetes/test-infra/tree/master/prow/plugins/cla, if we can make it configurable like `which github status check should be converted to which labels`, then it could potentially also be used to allow us using travis tests.

[2020-06-26 16:20] Tomcli commented on #4083
Here is our container for replicating the same ResourceOp behavior as Argo https://github.com/kubeflow/kfp-tekton/tree/master/tekton-catalog/kubectl-wrapper

[2020-06-26 16:58] cjwagner commented on #1653
IDK the details of how the google CLA is managed, but I do know that is used with Prow by the Knative org without issue. e.g. https://github.com/knative/serving/pull/8487
Notice that a `google-bot` manages a CLA label in addition to the status context.

This isn't necessary. 1) It looks like `google-bot` can be made to manage a label. 2) Tide can be configured to require the `CLA: yes` label or re

[2020-06-26 17:57] hlu09 opened #4089 "[Feature Request] Add parallelism for dsl.ParallelFor"
**Use Case**

Large data mining job is often split into many small jobs. Given the limit shared resource of external services (e.g., DataFlow), we can only run a few small jobs simultaneously.

Global parallelism works to some degree but lack flexibility, e.g., with global parallelism at 1, any in-cluster task can block launching jobs to external services.

Argo supports template-level parallelism

[2020-06-26 19:03] JakeTheWise opened #4090 "Allow specifying inputs to be excluded from cache validation process"
My pipeline steps currently take `pod_name: str = '{{pod.name}}'` argument so that my component can be made aware of its own metadata environment. Obviously, the pod name changes every run, which means kubeflow's caching mechanism won't work, even if nothing about the component inputs, code or outputs actually changed. I think there should be a) a first-class way for components to get info about t

[2020-06-26 20:25] maganaluis opened #4091 "API Server KUBEFLOW_USERID_PREFIX with empty string gets ignored."
### What steps did you take:

The api-service service should take KUBEFLOW_USERID_PREFIX if set to an empty string and use it instead of  **accounts.google.com:** however it gets ignored and the default value is used.

### What happened:
I receive the following error when attempt to create a new experiment:

[code]

### What did you expect to happen:

I expect the api-service to not use the defaul

[2020-06-26 21:49] jlewi commented on #1653
We use the Google CLA on all other repos within KF and it doesn't appear to be an issue.

[2020-06-26 22:02] JakeTheWise commented on #4090
By inspecting the environment variables that are present inside each step's container, you'll notice that `HOSTNAME` is set to be the pod name.

[2020-06-26 22:02] #4090 closed

[2020-06-26 23:13] Bobgy commented on #4091
Thanks for trying to integrate multi user mode with dex + istio!

I will look into this soon.

[2020-06-27 00:53] Ark-kun commented on #4085
Hello @sakaia

Which artifact storage do you want to use?

KFP backend uses Argo for orchestration and data passing. You can configure any artifact storage Argo supports https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md
Components and pipelines that use data passing features (`outputPath` and `inputPath`) will work automatically.

KFP frontend supports artifact pre

[2020-06-27 07:57] animeshsingh opened #4092 "Make Kubeflow Pipeline log archival independent of backend engine, and support different targets"
log archival should move to higher level within kubeflow pipeline stack, and be made independent of backend engine (argo..), and idellay should support multiple targets e.g. s3/logstash...

[2020-06-27 07:57] #4092 closed

[2020-06-27 07:58] animeshsingh opened #4093 "Kubeflow log arhival should support different targets, and be independent of backend ci/cd engine"
KFP log archival should move to higher level within kubeflow pipeline stack, and be made independent of backend engine (argo..), and ideally should support multiple targets e.g. s3/logstash...

[2020-06-27 15:39] anupash147 commented on #3818
Although my log archive seems to be working still i fail to get adequate logging
![image](https://user-images.githubusercontent.com/8271182/85926076-6b9d5400-b862-11ea-939c-7999bb903db9.png)

[2020-06-27 22:45] #1949 closed

[2020-06-27 22:55] Bobgy commented on #4093
/cc @rmgogogo

sounds like this can be part of IR

[2020-06-28 01:31] Bobgy commented on #369
Sorry, we have no plan to change the convention because of extra cost.

[2020-06-28 01:31] #369 closed

[2020-06-28 01:56] Bobgy commented on #1653
Thanks @cjwagner and @jlewi!

I found out googlebot requires the repo to already have labels named `cla: yes` and `cla: no`. I just added them and the bot is starting to add labels automatically: https://github.com/kubeflow/pipelines/pull/4094.

[2020-06-28 01:58] Bobgy commented on #793
We should keep this open

[2020-06-28 02:16] Bobgy commented on #1653
Sent a PR https://github.com/kubernetes/test-infra/pull/18095 to update kubeflow org configuration.

[2020-06-28 05:13] Bobgy opened #4095 "[Testing] presubmit tests flaky without log"
Upstream issue reported https://github.com/kubernetes/test-infra/issues/18067.

but it turned out kubernetes/test-infra only maintains the central prow instance, but they don't support kubeflow's CI.
Kubeflow test pods are launched in "kubeflow-testing" cluster of "kubeflow-ci" project and "test-pods" namespace.

Reference: https://github.com/kubeflow/testing#debugging-failed-tests

[2020-06-28 06:35] Bobgy commented on #4089
/assign @Ark-kun
/area sdk/dsl

[2020-06-28 06:54] Bobgy commented on #4095
Found error log of one example failure, in container `initupload`:

For this test: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4071/kubeflow-pipeline-backend-test/1277128159166205952

[2020-06-28 07:08] Bobgy commented on #4091
Reading https://github.com/spf13/viper/issues/237, I think implementation in https://github.com/kubeflow/pipelines/pull/3772/files#diff-9596449476ef3dc0bc8a298cb78b7ecfR99 is calling `viper.isSet` for checking if an env var is present, but `isSet` doesn't distinguish between empty string and var not set.

Therefore you are facing this issue.

/assign @Bobgy

[2020-06-28 07:08] Bobgy commented on #4091
/cc @chensun

[2020-06-28 07:09] Bobgy commented on #3752
Regarding https://github.com/kubeflow/pipelines/issues/4091, the prefix env var cannot be set as empty string.

[2020-06-28 07:17] Bobgy commented on #4013
Thanks Ark-kun! Then the only one left is upgrading frontend client.

[2020-06-28 07:18] Bobgy commented on #4013
@dushyanthsc Did you figure out how to upgrade frontend clients? If not we can also defer this to post 1.0 but with priority.

[2020-06-28 07:22] Bobgy commented on #4069
Hi @munagekar!

I guess we are missing the documentation, it's possible listing resources while filtering on the names.

An example usage in https://github.com/kubeflow/pipelines/pull/4087#discussion_r446060844 for frontend UI and it seems the PR author also figured out how to do it in python client. You may refer to them.

[2020-06-28 07:23] Bobgy commented on #2300
Please look at multi user namespace support issue.

[2020-06-28 07:23] #2300 closed

[2020-06-28 07:24] Bobgy commented on #1078
Workaround found in https://github.com/kubeflow/pipelines/issues/1078#issuecomment-479698096

[2020-06-28 07:24] #1078 closed

[2020-06-28 07:43] Bobgy commented on #4095
Found another failure when container `test` succeeded, but container `sidecar` failed to upload status with the same kind of error message.

For this test https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4071/kubeflow-pipeline-backend-test/1277132940752457729

[2020-06-28 07:47] Bobgy opened #4096 "[Testing] kubectl --dry-run is deprecated and can be replaced with --dry-run=client."
/assign @Bobgy

Saw this deprecation message

[2020-06-28 07:53] Bobgy commented on #4095
Taking a deeper look at all the test pods, I found that all failed pods with 255 exit code similar to above two examples ran on the same node. I'm suspecting the node became unhealthy.

[test project url (requires kubeflow ci admin permission)](https://pantheon.corp.google.com/kubernetes/workload?project=kubeflow-ci&pageState=(%22workload_list_table%22:(%22f%22:%22%255B%257B_22k_22_3A_22Is%2520sys

[2020-06-28 07:58] Bobgy commented on #4095
/cc @jlewi

[2020-06-28 08:10] Bobgy commented on #4095
I got my tests in https://github.com/kubeflow/pipelines/pull/4071 passing after cordoning the suspected unhealthy node gke-kubeflow-testing-temp-cpu-pool-3b385d9f-vxsb.

I deleted the node, let's see whether it recovers all tests.

[2020-06-28 08:13] karlschriek opened #4097 "WinError 32 on create_run_from_pipeline_func"
### What steps did you take:
This week for the first time I needed to run a Pipeline with the SDK in Windows. Upon calling "create_run_from_pipeline_func" I receive this error:

[code]

It relates to the `finally`  clause that appears to be attempting to clean up a temporary pipeline package that has been created locally, but there seems to be some kind of lock on the file. Also asked some colleag

[2020-06-28 09:25] Bobgy commented on #4091
Found viper can be configured to distinguish empty env vars: https://github.com/spf13/viper#working-with-environment-variables.

[2020-06-28 16:51] schmidt-jake opened #4099 "Pipeline steps that use alpine image can become stuck when DockerHub is overloaded: ImagePullBackOff: Back-off pulling image "alpine""
### What steps did you take:
I'm running a pipeline I made where the first pipeline step loads from a cache. Approximately every other run, the step hangs.

### What happened:
The step displays errors that oscillate between these three messages:
[code]

[code]

[code]

### Environment:
Kubeflow pipelines standalone v0.5 on prem

KFP version: 0.5

KFP SDK version: 0.5.1

/area backend

[2020-06-28 21:51] Ark-kun commented on #4099
This is pretty strange. The cached steps just use the official `alpine` container image and exit immediately (see the Pod spec).
I have not experienced this error before.
Searching online, this seems to be an overall DockerHub issue. Maybe they're experiencing increasing load right now. https://github.com/docker/hub-feedback/issues/1907

This does not seem to be caused by caching (the only role of

[2020-06-28 21:56] Ark-kun commented on #4097
Can you please try the latest pre-release version of the SDK. I made a fix that might help this issue.
Although the problem should not occur and might be caused by some program like anti-virus opening the files and preventing them from being deleted.

[2020-06-28 22:13] JakeTheWise commented on #4099
Gotcha, how would I do that?

[2020-06-28 22:20] Ark-kun opened #4100 "De-hardcode output paths in all components"
Some components are using the deprecated `fileOutputs` attribute. See the [query](
https://github.com/kubeflow/pipelines/search?q=fileOutputs+filename%3Acomponent.yaml&unscoped_q=fileOutputs+filename%3Acomponent.yaml)

The `fileOutputs` was deprecated from the start and should not be used in any non-legacy components.

We need to migrate from the deprecated `fileOutputs` to use the correct `{outpu

[2020-06-28 22:24] Ark-kun opened #4101 "De-hardcode output paths in AWS components"
See the parent issue: https://github.com/kubeflow/pipelines/issues/4100

Some components are using the deprecated `fileOutputs` attribute. See the [query](
https://github.com/kubeflow/pipelines/search?q=fileOutputs+filename%3Acomponent.yaml&unscoped_q=fileOutputs+filename%3Acomponent.yaml)

The `fileOutputs` was deprecated from the start and should not be used in any non-legacy components.

We nee

[2020-06-28 22:32] Ark-kun opened #4102 "The SDK compiler tests started to fail due to recently broken test data"
See https://github.com/kubeflow/pipelines/pull/4088#issuecomment-650830970 for context

[2020-06-28 22:50] Ark-kun commented on #4099
I found couple of links that look relevant:
https://cloud.google.com/container-registry/docs/using-dockerhub-mirroring
https://docs.docker.com/registry/recipes/mirror/

P.S. The issue will probably go away soon as DockerHub recovers. Please tell us if it remains an issue.

[2020-06-28 23:00] Jeffwan commented on #4101
Thanks Alexy for reminder. @RedbackThomson @akartsky Could you help update SM components? I will migrate EMR and Athena components.

[2020-06-28 23:03] JakeTheWise commented on #4099
How would I point the caching mechanism to use an image from our on-prem private docker image repo?

[2020-06-29 01:08] #4091 closed

[2020-06-29 01:09] Bobgy commented on #3752
#4091 fixed

[2020-06-29 01:09] #3752 closed

[2020-06-29 01:12] Bobgy commented on #4102
Thanks for flagging this. I've marked this as 1.0 blocker.

[2020-06-29 01:26] Bobgy commented on #684
We are relying more on a run belonging to only one experiment.

[2020-06-29 01:26] #684 closed

[2020-06-29 01:33] Bobgy commented on #1641
This looks still a valid feature request

[2020-06-29 01:35] Bobgy commented on #525
@jingzhang36 I think this is already fixed, right?

[2020-06-29 01:35] #525 closed

[2020-06-29 02:11] Bobgy commented on #4095
Presubmit tests remain functional today, looks like the fix I made yesterday was correct.

I'll try to dig into details how this can be prevented next time if it happens again.
/cc @jlewi
in case you know more details about this.

[2020-06-29 02:32] Bobgy commented on #4070
duplicate of #4095

[2020-06-29 02:32] #4070 closed

[2020-06-29 02:40] Bobgy commented on #2704
/area doc
/kind question

Yes, we should add documentation there.

[2020-06-29 02:42] Bobgy commented on #2704
/area docs

[2020-06-29 03:39] Bobgy commented on #2578
I think we still want this open.

[2020-06-29 03:40] Bobgy commented on #1961
keep this open

[2020-06-29 03:42] Bobgy commented on #2589
We are generally recommending workload identity now because it reached GA. Closing the issue.

[2020-06-29 03:42] #2589 closed

[2020-06-29 03:42] Bobgy commented on #2356
we want this still open

[2020-06-29 03:43] Bobgy commented on #2721
We've done this in above PRs.

[2020-06-29 03:43] #2721 closed

[2020-06-29 03:49] Bobgy commented on #4060
/cc @chensun @numerology

@collinarnett Can you verify if env correctly constructed your kfp server host name? By running similar commands as below in your notebook.
It was calculated in https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/_client.py#L112.

Please report the hostname here.

[2020-06-29 03:58] Bobgy commented on #4099
@Ark-kun shall we make the caching image configurable?

[2020-06-29 04:58] rmgogogo opened #4106 "FR: usability requests - Filter runs by status etc."
FR: usability requests - Filter runs by status etc.

[2020-06-29 07:02] Bobgy commented on #1509
We already have retry, I think it's using the argo feature you mentioned.
Please take a look.

[2020-06-29 07:02] #1509 closed

[2020-06-29 07:46] rmgogogo commented on #3005
+100

[2020-06-29 08:30] #4102 closed

[2020-06-29 11:31] rmgogogo commented on #3703
@hongye-sun (didn't find Ruoyu's Github account)

Some high level info around how we plan to provide an IR and support it.

- each step in a pipeline will have an execution spec
- execution spec can be
  (a) container based (OK to be run in Docker without K8s)
  (b) K8s based (has K8s specific fields comparing with container based)
  (c) python class based (for local/special-base-container-image)

[2020-06-29 11:35] BoecquaertJonas opened #4107 "Use display_name instead of name in UI to distinguish mlpipeline-metrics of different ops with the same name"
### What steps did you take:
I created a pipeline where I reuse a containerOp used to export and visualize pipeline metrics multiple times called `create-metric-view`. Kubeflow pipelines generates a unique name for every consecutive use of the op: `create-metric-view`, `create-metric-view-2`, ... My pipeline is being used to process multiple features in parallel and the `create-metric-view` is bei

[2020-06-29 11:38] rmgogogo commented on #3703
As for Tekton runner, one big difference between Argo is that it can run multiple steps in one pod so that it can share common setup, e.x. secret, volume. Any others I missed? I'm thinking on whether we bring this concept to IR but would like to learn more Tekton benefits.

In ML pipeline, actually put multiple steps to one pod may has its disadvantage, e.x. one step requires big CPU/MEM/GPU while

[2020-06-29 14:30] NikeNano commented on #4089
I would be happy to help out as well!
/assign

[2020-06-29 14:39] collinarnett commented on #4060
![image](https://user-images.githubusercontent.com/38230482/86019645-d8e0ee80-b9f4-11ea-8dc1-0f9a0a0f28f5.png)

[2020-06-29 14:42] Bobgy commented on #4107
You are welcome to contribute.

Frontend developer guide: https://github.com/kubeflow/pipelines/tree/master/frontend
Related UI code lives in https://github.com/kubeflow/pipelines/blob/696036684674e947d5bbcb7fb226403c50c88a98/frontend/src/pages/RunDetails.tsx#L550

[2020-06-29 16:02] dushyanthsc commented on #4013
@Bobgy This was not a requirement for 1.0 release. I am working with Kwasi to get the front-end changes in.

[2020-06-29 18:33] Ark-kun commented on #4099
Great idea!
We can use env variable for that.

[2020-06-29 18:43] Ark-kun commented on #4089
This is an interesting feature request. It's not hard to implement, but I wonder whether the parallelism control is common in orchestrators.
It looks like in Argo the parallelism option can be applied to any DAG. I wonder whether we should do the same and make the max_parallel_executions the property of the OpsGroup.

[2020-06-29 18:45] Ark-kun commented on #4107
This might require a backend change since the backend intercepts workflows and writes the metrics into DB.

[2020-06-29 18:54] #3915 closed

[2020-06-29 19:03] RedbackThomson commented on #4101
Looking into it today

[2020-06-29 19:57] hlu09 commented on #4089
More generic way might be

[code]

Such block can be applied to any DAG outside parallel-for.

[2020-06-29 20:14] hlu09 commented on #4089
The tricky part is to design a way to define the unit of max_parallel_executions/parallelism. The argo yaml below will enforce parallelism limit at task level, rather than sub-DAG level (in this case, 2-step sequential DAG under ParallelFor).

[code]

[code]

[2020-06-29 21:03] RedbackThomson commented on #4101
Is this new format already compatible with the current release versions of KFP? @Ark-kun

[2020-06-29 22:05] Ark-kun commented on #4101
Yes. In fact it's compatible with every release. The *new format* was the preferred option since the first public release of KFP in 2018. `fileOutputs` was only added as a temporary measure for the few existing legacy container images. It was never supposed to be used by the new components.

[2020-06-29 22:11] Ark-kun opened #4110 "Names of file inputs with raw arguments are not properly sanitized by the compiler"
When passing output references to inputs consumed as files, everything works fine.
When passing constant strings to inputs consumed as files, the artifact names are not sanitized leading to invalid workflows.

[code]

[code]

[2020-06-29 23:05] jlewi commented on #3703
@rmgogogo For the execution spec; is there a proto or OpenAPI Spec somewhere that indicates what this might look like?

[2020-06-30 00:30] Bobgy commented on #4060
@collinarnett thanks, then you can specify hostname when creating the client.

I don't know where those envs should come from

[2020-06-30 00:57] Bobgy commented on #1474
It's now possible checking pod yaml and events directly from KFP UI: https://github.com/kubeflow/pipelines/pull/3304

[2020-06-30 00:57] #1474 closed

[2020-06-30 01:03] Bobgy commented on #4013
Thanks! I won't explicitly wait for this then, but if it came up in time. I'll cherry pick them.

[2020-06-30 01:17] sakaia commented on #4085
Thank you for your suggestion. I am pleased to see the argo document.

By the way any "artifactory" documents ?
OSS seems currently [an issue](https://github.com/argoproj/argo/issues/2358)

[2020-06-30 01:55] Bobgy commented on #1848
We should keep this open.

A fix can be configuring these tests' run_if_changed to exclude '*.md' files.
another option is to give explicit folder constraints

[2020-06-30 02:00] Bobgy commented on #1786
we can do this now

[2020-06-30 02:07] Bobgy commented on #2653
duplicate of https://github.com/kubeflow/pipelines/issues/3935

let's track in the new issue because it has more accurate information

[2020-06-30 02:09] Bobgy commented on #844
Both are supported

[2020-06-30 02:09] #844 closed

[2020-06-30 08:38] Ark-kun commented on #4085
Here are the OSS examples: https://github.com/argoproj/argo/pull/1919/files

[2020-06-30 09:25] mockdone opened #4113 "docker build failed ——gen_licenses"
### What steps did you take:
[A clear and concise description of what the bug is.]

### What happened:
when i want to build frontend docker image,i got this error

Step 14/22 : RUN node gen_licenses . && node gen_licenses server && cat dependency-licenses.txt >> server/dependency-licenses.txt
210---> Running in cd289937aab4
211internal/modules/cjs/loader.js:796
212throw err;
213^
214
215Error: Can

[2020-06-30 09:55] Bobgy commented on #4113
Did you follow guide in https://github.com/kubeflow/pipelines/blob/master/developer_guide.md?

[code]

Note it needs to run in repository root dir.

[2020-06-30 10:04] mockdone commented on #4113
I did this on AliCloud with the Dockerfile given by this project. now  I delete "RUN node gen_licenses . && node gen_licenses server && cat dependency-licenses.txt >> server/dependency-licenses.txt" , Because I don't think it will affect the use of functions, then ,it works

[2020-06-30 10:19] Bobgy opened #4114 "TFDV and TFMA visualizations crash in 1.0rc2"
### What steps did you take:
Ran tfx taxi example
Look at statistics gen or other steps with TFDV/TFMA visualization.

### What happened:
[code]

### What did you expect to happen:
visualization shows

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?
standalone

KFP version:
1.0.0-rc.2

### Anything else you would like to add:
[Miscellaneous information that will assist in solving th

[2020-06-30 10:19] Bobgy commented on #4114
/cc @rmgogogo @numerology @jingzhang36

This is 1.0 blocking.

/assign @Bobgy
assign myself, but if any of you already know how to fix it, please go ahead

[2020-06-30 10:23] Bobgy commented on #4114
Probably related to https://stackoverflow.com/questions/62474473/breaking-change-for-google-api-python-client-1-9-3-attributeerror-module-goo

[2020-06-30 15:03] numerology commented on #4114
I think according to the stackoverflow, it might worth trying pinning the version of google-api-core in `backend/src/apiserver/visualization/requirements.txt`

Another question is that shall we consider upgrading tfma/tfdv version in viz server? The latest version should be 0.22.2

[2020-06-30 15:20] collinarnett commented on #4060
![image](https://user-images.githubusercontent.com/38230482/86144477-b5d14000-bac3-11ea-8cd0-78aaddf007b9.png)

[2020-06-30 17:53] JakeTheWise commented on #4099
This would be great. I'm seeing drastic slowdowns in my pipeline runs because of this.

[2020-06-30 19:52] NikeNano commented on #4089
What do you mean by `task level`vs ´sub-DAG` level? Do you mean that the for each DAG within the for loop there should be a limit not on the task it self? @hlu09?

[2020-06-30 20:02] schmidt-jake opened #4115 "Make artifact pop-outs fullscreen"
TFDV and TFMA visualizations would be much better if they used all the real estate available. Right now, they appear in a modal with significant padding/gutters.

[2020-06-30 20:24] Ark-kun commented on #1691
Can we set that on cluster-level instead (e.g. using a configmap)? I'd prefer not to have any account-specific information in the pipeline file.

[2020-06-30 20:29] Bobgy commented on #1691
Choosing a KSA when running a pipeline is suppported now.

[2020-06-30 20:29] #1691 closed

[2020-06-30 21:18] hlu09 commented on #4089
Suppose the ParallelFor above generates 100 sub-DAGs, each contains 2 ops: sleep_op followed echo.

One way to enforce parallelism (2) is:  2 of these 100 sub-DAGs are executed first, followed by the next 2, and so on.

A different way:  put 100 sleep_ops and 100 echo ops together in a group, 2 of these 200 ops are executed first,  followed by the next 2, and so on. Certainly the echo.after(seelp_

[2020-06-30 21:43] Ark-kun opened #4116 "Testing - Backend unit tests do not show error logs"
The tests are hard to debug this way.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/4076/kubeflow-pipeline-backend-test/1278077321722466305
[code]

[2020-06-30 21:44] Ark-kun opened #4117 "Backend Dockerfile tries to compile all python files in samples"
Expected: The backend Dockerfile should only compile preloaded samples.

[2020-07-01 00:00] Bobgy commented on #4117
/lgtm

Thanks, this is better.

[2020-07-01 00:19] Bobgy commented on #4116
Duplicates #3436

[2020-07-01 00:19] #4116 closed

[2020-07-01 00:19] Bobgy commented on #3436
@jingzhang36 Shall we move this to Q3?

[2020-07-01 00:21] Bobgy commented on #4060
@collinarnett the host should point to KFP endpoint, if your kubeflow is at http://10.64.140.43.xip.io, then KFP should be at `http://10.64.140.43.xip.io/pipeline`.

[2020-07-01 00:22] Bobgy commented on #4060
You won't need the environment vars if specifying hostname explicitly, please try if clients work

[2020-07-01 00:34] Bobgy commented on #4060
/cc @Ark-kun @hongye-sun

Do you have any ideas how KFP client supported auto endpoint discovery in Kubeflow deployment?
I cannot find where those env vars should come from.

[2020-07-01 00:49] Bobgy commented on #4115
Totally agree, PRs welcomed if someone can jump in before I have bandwidth.

[2020-07-01 02:56] Bobgy commented on #3729
Updated internal release doc

[2020-07-01 02:56] #3729 closed

[2020-07-01 03:00] Bobgy commented on #3997
Fixed by https://github.com/kubeflow/pipelines/pull/4026

[2020-07-01 03:00] #3997 closed

[2020-07-01 03:04] Bobgy commented on #4046
We'd better enable postsubmit tests for release branches too: https://github.com/kubernetes/test-infra/pull/18131

[2020-07-01 03:05] Bobgy commented on #4114
Thanks @numerology, yes I've been tracking upgrade dependencies in https://github.com/kubeflow/pipelines/issues/4084 issue

[2020-07-01 03:08] Bobgy commented on #4114
This might be solved by https://github.com/kubeflow/pipelines/issues/4084, we should try upgrading all versions first.

[2020-07-01 04:17] #2742 closed

[2020-07-01 04:17] #249 closed

[2020-07-01 04:17] #2625 closed

[2020-07-01 04:17] #1374 closed

[2020-07-01 04:17] #3268 closed

[2020-07-01 04:17] #3269 closed

[2020-07-01 04:17] #3251 closed

[2020-07-01 04:17] #3242 closed

[2020-07-01 04:17] #3271 closed

[2020-07-01 04:17] #3308 closed

[2020-07-01 04:17] #3286 closed

[2020-07-01 04:17] #3321 closed

[2020-07-01 04:17] #2905 closed

[2020-07-01 04:17] #3345 closed

[2020-07-01 05:14] Bobgy commented on #3542
looks like already fixed

[2020-07-01 05:14] #3542 closed

[2020-07-01 06:39] kxiao-fn commented on #3412
Are there any updates on this? I saw @Ark-kun mention a solution on [Stack Overflow](https://stackoverflow.com/questions/59445167/kubeflow-pipeline-dynamic-output-list-as-input-parameter), but I tried the solution and it did not work. The run fails at the line `transformed_nums.append(transformed_num)` line, giving an error `invalid spec: templates.for-loop-for-loop-d5d8d6fe-1.outputs failed to re

[2020-07-01 08:33] NikeNano commented on #4089
Thanks for the clarification @hlu09. I as I understand you suggest to keep the parallelism on the sub-DAGs level? Thus allowing X nbr of sub-DAG:s to run in parallel. I also think this makes the most sense from a users perspective.

[2020-07-01 09:17] NikeNano commented on #4089
I think this example use parallelism as you suggest @hlu09 : https://github.com/argoproj/argo/blob/master/examples/parallelism-nested-dag.yaml

[2020-07-01 09:34] Bobgy commented on #4046
[code]

Found root cause, I think we are reaching model count quota again.

[2020-07-01 09:45] Bobgy commented on #2356
Moving to high priority because this caused https://github.com/kubeflow/pipelines/issues/4046

[2020-07-01 09:48] Bobgy commented on #2356
A model GC sample script provided by @Ark-kun
[code]

[2020-07-01 09:52] Bobgy commented on #2356
@numerology @neuromage I think in previous discussion we mentioned we may not even want the ai platform sample. What's current status now. Maybe we can just get rid of that sample?

[2020-07-01 10:06] Bobgy commented on #4046
Another root cause for other two postsubmit tests:
[code]

looks like the gcloud build filter no longer works.

[2020-07-01 10:14] Bobgy commented on #4046
@numerology a related question: why was the postsubmit integration test using presubmit test script https://github.com/kubernetes/test-infra/blob/27669402474b41125795a652f333379f2aa739e1/config/jobs/kubeflow/kubeflow-postsubmits.yaml#L301?

[2020-07-01 12:40] #3054 closed

[2020-07-01 12:40] #2624 closed

[2020-07-01 12:40] #2915 closed

[2020-07-01 12:40] #3047 closed

[2020-07-01 12:40] #3050 closed

[2020-07-01 12:40] #3064 closed

[2020-07-01 12:40] #2913 closed

[2020-07-01 12:40] #2942 closed

[2020-07-01 12:40] #2687 closed

[2020-07-01 12:40] #2283 closed

[2020-07-01 12:40] #3025 closed

[2020-07-01 12:40] #2500 closed

[2020-07-01 12:40] #3155 closed

[2020-07-01 12:40] #3206 closed

[2020-07-01 12:40] #3187 closed

[2020-07-01 12:40] #3169 closed

[2020-07-01 12:40] #3148 closed

[2020-07-01 12:40] #3104 closed

[2020-07-01 12:40] #3100 closed

[2020-07-01 12:40] #3085 closed

[2020-07-01 12:40] #3105 closed

[2020-07-01 12:40] #1915 closed

[2020-07-01 12:40] #3095 closed

[2020-07-01 12:40] #2548 closed

[2020-07-01 12:57] Bobgy commented on #4046
postsubmit-integration-test is now passing after above PR fix
https://github.com/kubeflow/pipelines/commit/1967d25c27f6201849dc3941fe5d393ac5f6e09c

Failure of kubeflow-pipeline-postsubmit-mkp-e2e-test looks like it should be fixed by https://github.com/kubeflow/pipelines/pull/4112, because VERSION should be in sync with cloudbuild.yaml's built images.

Failure of kubeflow-pipeline-postsubmit-stan

[2020-07-01 13:02] Bobgy commented on #4046
The error looks exactly like https://github.com/kubeflow/pipelines/issues/3661#issuecomment-621982642.

It could probably be transient, but we should figure out a fix for it.

[2020-07-01 17:02] #1395 closed

[2020-07-01 17:02] #1270 closed

[2020-07-01 17:02] #1218 closed

[2020-07-01 17:02] #789 closed

[2020-07-01 17:02] #2621 closed

[2020-07-01 17:02] #493 closed

[2020-07-01 17:02] #2861 closed

[2020-07-01 17:02] #774 closed

[2020-07-01 17:02] #2855 closed

[2020-07-01 17:02] #2699 closed

[2020-07-01 17:02] #2937 closed

[2020-07-01 17:02] #1919 closed

[2020-07-01 17:02] #2987 closed

[2020-07-01 17:02] #2921 closed

[2020-07-01 17:02] #2983 closed

[2020-07-01 17:02] #2906 closed

[2020-07-01 17:02] #2963 closed

[2020-07-01 17:02] #2857 closed

[2020-07-01 17:02] #3037 closed

[2020-07-01 17:02] #3046 closed

[2020-07-01 17:04] hlu09 commented on #4089
@NikeNano right, it makes sense to keep the parallelism on the sub-DAGs level, since ParallelFor generates many sub-DAGs.

[2020-07-01 17:32] #3916 closed

[2020-07-01 22:23] sudivate opened #4125 "Error on accessing registered Artifacts"
I'm registering artifacts using a metadata package to create a lineage (dataset- >execution->model)  On accessing the artifacts from the central dashboard throws an error saying **No identified by id: [id]** and points to troubleshooting guide with no details on this exception.

![image](https://user-images.githubusercontent.com/28938855/86296862-b09cef80-bbae-11ea-932f-9d4c5611066d.png)

![image]

[2020-07-02 00:53] Bobgy commented on #3236
/reopen

I think we want to keep this open

[2020-07-02 01:20] Bobgy commented on #4125
Thanks for reporting the issue!

Can you share your KFP version?

Which metadata package were you using?

/cc @Ark-kun

[2020-07-02 01:27] sudivate commented on #4125
KFP=1.0.0-test-5
kubeflow-metadata=0.3.1

[2020-07-02 01:41] Bobgy commented on #4125
Sorry, 1.0.0-test-5 is not a public release, if you want to test latest features, you may try to use 1.0.0-rc.2.

However, we are not explicitly supporting visualization to kubeflow-metadata created artifacts. I am not sure about any plan supporting it TBH.

For your specific error, I think it's fixed in 1.0.0-rc.2 please have a try.

[2020-07-02 01:59] sudivate commented on #4125
@Bobgy I think I'm running KFP= 0.5.0  Just to be sure whats the best way to confirm the version?

commit id on the bottom left of dashboard takes me to https://github.com/kubeflow/pipelines/commit/1d86111d8f152d3ed7506ea59cee1bfbc28abbf9

[2020-07-02 02:07] Bobgy commented on #4125
@sudivate It's a little hard for past builds, I think the easiest way is looking at that commit date, April 23th and find corresponding release 0.5.0 was also April 23th.

Starting from 1.0.0, we'll show version text directly in KFP UI so there won't be confusion.

[2020-07-02 02:09] sudivate commented on #4125
I see pods running pipeline shows 0.5.0

[2020-07-02 02:16] Bobgy commented on #4125
Right, that's also a good way

[2020-07-02 03:11] #2450 closed

[2020-07-02 03:11] #2588 closed

[2020-07-02 03:11] #2427 closed

[2020-07-02 03:11] #2101 closed

[2020-07-02 03:11] #2375 closed

[2020-07-02 03:11] #2120 closed

[2020-07-02 03:11] #2154 closed

[2020-07-02 03:11] #1992 closed

[2020-07-02 03:11] #2596 closed

[2020-07-02 03:11] #2641 closed

[2020-07-02 03:11] #2726 closed

[2020-07-02 03:11] #796 closed

[2020-07-02 03:11] #2746 closed

[2020-07-02 03:11] #2089 closed

[2020-07-02 03:11] #2741 closed

[2020-07-02 03:11] #2758 closed

[2020-07-02 03:11] #2781 closed

[2020-07-02 03:11] #2768 closed

[2020-07-02 03:11] #2073 closed

[2020-07-02 03:11] #2841 closed

[2020-07-02 03:11] #2072 closed

[2020-07-02 03:11] #2275 closed

[2020-07-02 03:11] #2097 closed

[2020-07-02 03:11] #1213 closed

[2020-07-02 03:11] #482 closed

[2020-07-02 03:11] #1065 closed

[2020-07-02 03:11] #1585 closed

[2020-07-02 03:11] #2177 closed

[2020-07-02 03:44] Ark-kun opened #4128 "De-hardcode output paths in GCP components"
Parent issue: #4100

Some GCP components are using the deprecated `fileOutputs` attribute. We need to replace it with the non-deprecated method.

[2020-07-02 03:48] Ark-kun opened #4129 "De-hardcode output paths in IBM components"
See the parent issue: https://github.com/kubeflow/pipelines/issues/4100

Some components are using the deprecated `fileOutputs` attribute. See the [query](
https://github.com/kubeflow/pipelines/search?q=fileOutputs+filename%3Acomponent.yaml&unscoped_q=fileOutputs+filename%3Acomponent.yaml)

The `fileOutputs` was deprecated from the start and should not be used in any non-legacy components.

We nee

[2020-07-02 04:04] Ark-kun commented on #4073
Thank you for the whole example. It's has shown an important piece of information.

`create_graph_component_from_pipeline_func` only supports components. Manually constructed `ContainerOp` instances are not components. (We discourage directly creating ContainerOp instances). They do not have enough information (e.g. input definitions).

To fix the problem just use a component:
[code]

Thank you fo

[2020-07-02 04:10] Ark-kun commented on #4073
[code]

The `KeyError` is a red herring. The `TypeError` error message is using incorrect format syntax. I'll fix this.

[2020-07-02 05:22] Bobgy commented on #2427
superceded by https://github.com/kubeflow/pipelines/issues/3584

[2020-07-02 06:52] #1240 closed

[2020-07-02 06:52] #2322 closed

[2020-07-02 06:52] #1924 closed

[2020-07-02 06:52] #1383 closed

[2020-07-02 06:52] #2401 closed

[2020-07-02 06:52] #2837 closed

[2020-07-02 06:53] #1883 closed

[2020-07-02 06:53] #678 closed

[2020-07-02 06:53] #1701 closed

[2020-07-02 06:53] #2379 closed

[2020-07-02 06:53] #2823 closed

[2020-07-02 06:53] #2827 closed

[2020-07-02 06:53] #2828 closed

[2020-07-02 06:53] #2862 closed

[2020-07-02 06:53] #1462 closed

[2020-07-02 07:40] #4084 closed

[2020-07-02 07:56] haibingzhao opened #4138 "[K3S] Can't start cache-deployer-deployment"
### What steps did you take:
* Downloaded https://github.com/kubeflow/pipelines/releases/tag/1.0.0-rc.2
* removed the gcp/inverse-proxy
[code]
* Deployed the pipeline locally with [K3D](https://k3d.io/):
[code]
* k3d and k3s version is:
[code]
### What happened:
The module cache-deployer-deployment can't start because of:
[code]

### What did you expect to happen:

### Environment:
Localhost envir

[2020-07-02 08:50] sakaia commented on #4085
Is there any setting parameter to access gs:// files?
Since I am not succeed to execute xgboost_training_cm.py on local machine  But I can access files via `gsutil`
From seeing the Error message Google Cloud ID should be supplied to somewhere.

[code]

[2020-07-02 09:46] Bobgy commented on #4138
/assign @Ark-kun
@haibingzhao Can you explain what kubernetes version you are using?

[2020-07-02 09:46] Bobgy commented on #4138
Ohhh, is it k3s version v1.18.4-k3s1 (default)?

[2020-07-02 09:58] Bobgy commented on #3931
I found related documentation: https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md

[2020-07-02 10:59] #1994 closed

[2020-07-02 10:59] #2240 closed

[2020-07-02 10:59] #2311 closed

[2020-07-02 10:59] #2351 closed

[2020-07-02 10:59] #1354 closed

[2020-07-02 10:59] #1821 closed

[2020-07-02 10:59] #1430 closed

[2020-07-02 10:59] #2350 closed

[2020-07-02 10:59] #1164 closed

[2020-07-02 10:59] #1288 closed

[2020-07-02 10:59] #2442 closed

[2020-07-02 10:59] #2430 closed

[2020-07-02 10:59] #2516 closed

[2020-07-02 10:59] #2515 closed

[2020-07-02 10:59] #1198 closed

[2020-07-02 10:59] #680 closed

[2020-07-02 10:59] #920 closed

[2020-07-02 10:59] #604 closed

[2020-07-02 10:59] #784 closed

[2020-07-02 10:59] #2615 closed

[2020-07-02 10:59] #2607 closed

[2020-07-02 10:59] #2605 closed

[2020-07-02 10:59] #2602 closed

[2020-07-02 11:01] haibingzhao commented on #4138
yes

[2020-07-02 12:28] Bobgy commented on #4046
Postsubmit tests passing now on master!
https://github.com/kubeflow/pipelines/commit/2e14fe732b3f878a710b16d1a63beece6c19330a

[2020-07-02 12:30] Bobgy commented on #4046
but postsubmit tests still fail on release-1.0 branch: https://github.com/kubeflow/pipelines/commit/7a0df42fa5555110f2ada71a2728efc32d5a8110

Also creating a PR to release-1.0 branch to verify presubmit: https://github.com/kubeflow/pipelines/pull/4140

[2020-07-02 17:49] surajkota commented on #3631
changes have been merged. tests are here: https://github.com/kubeflow/pipelines/tree/master/components/aws/sagemaker/tests

this issue can be closed

[2020-07-02 17:51] #3631 closed

[2020-07-02 17:52] akartsky commented on #3744
This issue can be closed

[2020-07-02 22:43] mmwebster commented on #4023
For anyone stumbling across this thread, I just created a new GCP node pool based off of the [KF preemptible VM guides](https://www.kubeflow.org/docs/gke/pipelines/preemptible/) in order to increase the size of my GPU node boot disks. My main unknown was authentication for the new node pool—you can actually assign your existing kubeflow service account to the node pool. And I used `--disk-size=400

[2020-07-02 22:43] #4023 closed

[2020-07-03 01:25] Bobgy opened #4141 "Better Kubernetes version support"
We've got reports once a while asking us to get compatible with newer Kubernetes versions.

I think we'd better give a support table and periodically verify whether KFP is compatible with newer Kubernetes versions in addition to the stable version we are testing on.

Related to https://github.com/kubeflow/pipelines/issues/4138

[2020-07-03 01:47] Bobgy commented on #4138
I think we have only been testing on Kubernetes 1.14 which is the stable channel in GCP.

PR welcomed in making it compatible with 1.18

[2020-07-03 01:49] Bobgy commented on #4100
@Ark-kun is this 1.0 release blocking?

[2020-07-03 01:51] animeshsingh commented on #4129
/assign @Tomcli

[2020-07-03 02:20] #658 closed

[2020-07-03 02:20] #1086 closed

[2020-07-03 02:20] #1516 closed

[2020-07-03 02:20] #705 closed

[2020-07-03 02:20] #1387 closed

[2020-07-03 02:20] #1744 closed

[2020-07-03 02:20] #1800 closed

[2020-07-03 02:20] #1818 closed

[2020-07-03 02:20] #1833 closed

[2020-07-03 02:20] #1864 closed

[2020-07-03 02:20] #1861 closed

[2020-07-03 02:20] #1590 closed

[2020-07-03 02:20] #999 closed

[2020-07-03 02:20] #1608 closed

[2020-07-03 02:20] #1841 closed

[2020-07-03 02:20] #1436 closed

[2020-07-03 02:20] #1762 closed

[2020-07-03 02:20] #1566 closed

[2020-07-03 02:20] #1373 closed

[2020-07-03 02:20] #1885 closed

[2020-07-03 02:20] #2208 closed

[2020-07-03 02:20] #2210 closed

[2020-07-03 02:26] Bobgy commented on #3241
I'm now using https://github.com/kubeflow/pipelines/projects/5 to track efforts merging multi user mode to KF 1.1. Closes this.

[2020-07-03 03:12] Bobgy commented on #4114
/reopen

@jingzhang36 I cherry picked this to rc3 and deployed it, but the error still exists.

[2020-07-03 03:17] Bobgy commented on #4046
Verified XGboost sample also ran successfully in rc3.

[2020-07-03 03:17] #4046 closed

[2020-07-03 03:20] #434 closed

[2020-07-03 03:20] #945 closed

[2020-07-03 03:20] #946 closed

[2020-07-03 03:20] #947 closed

[2020-07-03 03:20] #812 closed

[2020-07-03 03:20] #1060 closed

[2020-07-03 03:20] #1244 closed

[2020-07-03 03:20] #1365 closed

[2020-07-03 03:20] #1204 closed

[2020-07-03 03:20] #1396 closed

[2020-07-03 03:20] #236 closed

[2020-07-03 03:20] #1344 closed

[2020-07-03 03:20] #1152 closed

[2020-07-03 03:20] #1644 closed

[2020-07-03 03:20] #280 closed

[2020-07-03 03:20] #1642 closed

[2020-07-03 03:20] #1664 closed

[2020-07-03 03:20] #1670 closed

[2020-07-03 03:20] #1692 closed

[2020-07-03 03:20] #1081 closed

[2020-07-03 11:25] radcheb opened #4142 "[Regression] SDK Compiler fails to compile a pipeline containing a container_op with PipelineParam in base_image"
### What steps did you take:
The bug appear only in `1.0.0-rc.3`, it does not exist in `0.5.1`.
Given a container_op whose **base_image** contains a **PipelineParam** (pipeline argument for instance), the compiler cannot compile a pipeline containing such container_op.

### What happened:
The compile fails with this error message:
[code]

### What did you expect to happen:
The pipeline must compil

[2020-07-03 11:40] Bobgy commented on #4142
Thanks for the report!
/assign @Ark-kun