[2019-01-10 21:19] IronPan commented on #610
@hamedhsn what problem did you see in v0.4.0 it looks like there are multiple issues mentioned in this issues and some of them are fixed.

[2019-01-10 22:09] vicaire commented on #569
We are working on an OSS version of the design. ETA: one to two weeks. Thanks.

[2019-01-10 22:21] swiftdiaries opened #665 "Document DSL functionality to specify execution order and execution dependencies"
Is there a way to order steps other than passing file_outputs to enforce dependencies?
I'd like to be able to do:
dsl.ContainerOp(step_name='first')
dsl.ContainerOp(step_name='second')
dsl.ContainerOp(step_name='third', dependencies=['first', 'second'])

Something similar to https://github.com/argoproj/argo/blob/master/examples/dag-coinflip.yaml.

[2019-01-10 23:55] alan-krumholz opened #666 "python components don't work for images with python 2"
Same simple python code runs fine in an python 3 image but it won't run on a python 2 image:

[code]

In the python 2 image, I get the following error:

In the python3 image, the component runs fine.

[2019-01-11 00:50] hamedhsn commented on #610
exactly like what @yylin1 reported..pods related to pipelines are all up except `ml-pipelines-load-samples-xxx` with same error log.
and when I open the UI no experiment is loaded, I suppose it is because of that issue.

[2019-01-11 03:38] yylin1 commented on #610
@hamedhsn  You are new deploy on v0.4.0 ？ get pod same problem  `ml-pipelines-load-samples-xxxxx` is  `Error`?

I can try to change the version for v0.4.0. (testing)

[2019-01-11 06:13] swiftdiaries commented on #569
Thanks for the update @vicaire !

[2019-01-11 09:18] hamedhsn commented on #610
yes, it is a new deployment(testing 0.4.0) and getting the same error.

[2019-01-11 17:19] gaoning777 commented on #641
Yes, however the users need to set up the credentials for pushing to the S3.
Instructions are [here](https://github.com/GoogleContainerTools/kaniko#pushing-to-different-registries).

[2019-01-11 17:44] gaoning777 commented on #610
The load sample issue should not lead to the SDK installation error. Are you still having problems in installing the SDK in the notebook? If so, "pip3 install https://storage.googleapis.com/ml-pipeline/release/0.1.4/kfp.tar.gz --upgrade" should work fine in any networked computers and you could try running this in your own machine to see if it works. My guess is that the SDK installation problem i

[2019-01-11 17:56] gaoning777 commented on #666
By default, the build_python_component configures the entrypoint as python3. That is why in python2 images, the tensorflow package is not found when you run python3 program.
To support this, we need to change the component builder to make the entrypoint configurable.

[2019-01-12 05:47] Ark-kun opened #673 ""Google Compute Engine does not have enough resources available to fulfill request: us-central1-a""
[code]

[2019-01-12 05:49] Ark-kun commented on #673
I see many xgb-training GCE instances. GKE has no clusters.

  | Name | Zone | Recommendation | Internal IP | External IP | Connect |  
-- | -- | -- | -- | -- | -- | -- | --
  | xgb-xgboost-trainer-62j22-m | us-central1-c | Save $52 / mo | 10.128.0.4 (nic0) | 35.239.48.44 | SSH |  
  | xgb-xgboost-trainer-62j22-w-0 | us-central1-c | Save $71 / mo | 10.128.0.2 (nic0) | 35.202.242.38 | SSH |  
  | x

[2019-01-12 05:51] Ark-kun commented on #673
Looks like some of them were started very long time ago like https://pantheon.corp.google.com/compute/instancesDetail/zones/us-central1-b/instances/xgb-xgboost-trainer-6pkzr-m?project=ml-pipeline-test that's testing the following commit from November 6 https://github.com/kubeflow/pipelines/commit/6a4cd866387a90fb7528bd7f6e52974d0d4b186c

[code]

[2019-01-12 05:53] Ark-kun commented on #673
I've deleted all VMs except the `xgb-xgboost-trainer-6pkzr-m` and its siblings.

[2019-01-12 06:37] IronPan commented on #673
It appears to be the resource leaking from sample tests. @gaoning777 could you take a look?

[2019-01-12 07:02] IronPan commented on #673
The tests seems unblocked after VMs are cleaned up. thx @Ark-kun

[2019-01-13 23:01] jlewi opened #675 "ROADMAP for pipelines"
Filing this issue track adding a ROADMAP.md at the root of the pipelines repo.

I believe the Pipelines PM is working on this.

[2019-01-14 14:49] hamedhsn opened #676 "problem when deploying kubeflow 0.4.0"
I am trying to deploy 0.4.0 in my cluster and pipeline seems not deployed correctly.
my setup: deploying in EKS, with kssonet==0.13.0

list of my pods:
[code]

log from load-samples:

[code]

[2019-01-14 14:50] hamedhsn commented on #610
@gaoning777 I can install the pip package with no problem.
It is probably a different issue. I created a new issue #676

[2019-01-14 17:30] cwbeitel commented on #154
Second this issue.

[2019-01-14 17:36] gaoning777 commented on #676
The pipeline(0.1.7) in the incoming release of the kubeflow will have the fix for the load sample bug in kubeflow 0.4.0(pipeline0.1.6).
Fixed in https://github.com/kubeflow/pipelines/pull/615
@IronPan @neuromage correct me if it is not the case.

[2019-01-14 18:02] amygdala commented on #294
Update part 1: I had no problems with tf-job using a cluster created with 'cloud-platform' scoped nodes and this pipelines bootstrapper: gcr.io/ml-pipeline/bootstrapper:0.1.7 .
So this suggests that it's some credentials/scope setup issue rather than some recent release change, which I wanted to rule out first.

Next I'll play around with a launcher-created cluster. Maybe it needs some additional

[2019-01-14 18:04] jlewi opened #677 "TFJob should work well with pipelines"
I'm creating this uber issue to track issues related to making pipelines work well with TFJob. Hopefully this can serve as a model for how to make pipelines work well with other custom resources.

Here's a list of known issues
   #407 TFJob doesn't forward error logs from the jobs
   #408 TFJob doesn't stop trainer jobs after timeout
   #218 provide argument to assign GCP service account

In addit

[2019-01-14 18:05] jlewi commented on #677
Marking this as P1 for 0.5 because it would be great to have a canonical example of how to integrate with custom resources.

[2019-01-14 18:34] animeshsingh opened #678 "KFP should support containerd runtime on Kube"
KubeFlow pipeline currently only works on Docker runtime since the pipeline output artifacts are copied with "docker cp" command.  We need support for  containerd runtime

[2019-01-14 18:44] animeshsingh opened #679 "Kubeflow Pipeline conditionals should be able to handle multiple output parameters"
Argo supports conditionals that can handle multiple output parameters (e.g. (foo == true) && (bar == true))(https://github.com/argoproj/argo/issues/
860#issuecomment-410987112).

However, the Kubeflow Pipeline compiler can’t parse multiple output parameters in python and translate that to Argo yaml format

[2019-01-14 19:00] #218 closed

[2019-01-14 19:08] animeshsingh opened #680 "Allow exit handlers at pipeline steps level"
Need local component/step wise exit handlers. Currently KubeFlow Pipeline only allows one global exit handler

[2019-01-14 19:18] IronPan commented on #294
I think the issue is caused by tf-job pod failed to talk to gcp services because tf-job pod doesn't have right GCP service account set up in launcher.
https://github.com/kubeflow/pipelines/blob/df635af4099af67e5aae317f2d6794e058eb1279/components/kubeflow/launcher/src/launch_tf_job.py#L52

We need to mount the kubeflow-user GCP service account here.

[2019-01-14 19:34] amygdala commented on #294
You're probably right.

[2019-01-14 19:54] animeshsingh commented on #680
Essentially KFP allows one exit handler per pipeline. In scenarios where something goes wrong with a particular step/component in a pipeline, or to insert a generic action with each component, there is need for exit handlers which can be inserted at a step level

[2019-01-15 18:55] rileyjbauer opened #683 "Run details page should autorefresh"
User's should not have to manually refresh the run details page (where the runtime DAG is shown).

We need to make sure that the autorefresh does not interrupt the user in any way, for example, by causing the page to flicker or by closing or resizing elements like the run logs.

[2019-01-15 18:57] rileyjbauer opened #684 "Add backend API for changing a run's experiment"
A run should not be forever tied to a specific experiment, and runs created without an experiment should be able to be added to one later.

[2019-01-15 19:16] IronPan opened #685 "Test coverage for runs without experiments"
Since we enabled runs without experiments at API level, we need proper test coverages for runs without experiments, e.g. unit tests, e2e tests.

[2019-01-15 19:32] Ark-kun commented on #684
It might be easier if we allow a run to belong to multiple experiments. This can simplify the code and even be convenient for the end users.
AFAIK, the DB schema already supports that.

In the Experiment page UI we can have "Add run" and "Remove run".
I'm not sure it's feasible to have "Add to experiment" on the Run page UI.

[2019-01-15 20:45] yebrahim commented on #684
If we want to support this, we'll need to make it clear that we're not copying the run, just the reference to it. Users might also be confused between this gesture and cloning.

[2019-01-15 20:49] rileyjbauer commented on #61
This is fixed as of #671, although I need to tweak the format of the tooltips a little to fully mirror Ajay's design

[2019-01-15 20:49] #61 closed

[2019-01-15 21:53] sagravat opened #686 "Error running TF training job on KF 0.3.5 using GPUs"
I'm suddenly having an issue running a TF/Keras training job on KF using GPUs (this was not happening before the new year). My docker container runs fine on the Google Deep Learning VM but it just dies without any obvious errors when running on KF. I suspect it's because my container is referencing a different Cuda driver than the one deployed on the node pool.

I've tried building my container wi

[2019-01-16 01:56] SinaChavoshi opened #690 "Create recurring run from start a new run page"
currently the only place to start a  new recurring run is from within an experiment.  This ask is to add option for creating recurring runs on start "a new run page" so that any path for creating a new job also enables the option of creating a scheduled job.

https://screenshot.googleplex.com/CTEAgcf4Rup

[2019-01-16 04:54] SinaChavoshi opened #692 "Release 1.7 - TFX taxi cab example failing the deploy step"
Fresh deployment the taxi cab TFX example is failing the deploy step with :

++ kubectl get po taxi-cab-classification-model-tfx-taxi-cab-classification-5lxrp taxi-cab-classification-model-tfx-taxi-cab-classification-67xc9 --namespace kubeflow -o 'jsonpath={.status.containerStatuses[0].state.running}'
Error from server (NotFound): pods "taxi-cab-classification-model-tfx-taxi-cab-classification-67x

[2019-01-16 16:51] gaoning777 commented on #692
Is it a recurring error or happens rarely? I think I've come across with the error in the past.

[2019-01-16 17:29] SinaChavoshi commented on #692
3 runs consistently failed. kicking off the 4th run.

[2019-01-16 17:43] SinaChavoshi commented on #692
quick update 4th run also failed.

[2019-01-17 01:32] swiftdiaries commented on #692
I think this is what's happening: When you have multiple runs of the deployer step, you don't have unique deployments. You have only one deployment (model-server-v1). So when you try to fetch the TFServing pod corresponding to your run, it lists all pods created from previous runs. And it chooses the alpha-numerically first pod and since it can't find the pod corresponding to the run, the step fai

[2019-01-17 12:59] rummens opened #695 "Not using secret when pulling from private Registry"
Hello,

I am trying out the new Pipeline Features but I cannot get a Pipeline working pulling containers from a private (Azure) Registry. I tried pulling everything localy and it works. I created a secret using these instructions [https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/](url)

I also added the secret to the yaml of the pipeline (also is there a way to

[2019-01-17 14:32] swiftdiaries commented on #489
Is this still the case?
Does the source field have to be either in GCS or minio?

[2019-01-17 16:44] hamedhsn commented on #676
@gaoning777 when will you release the new version?

[2019-01-17 16:50] gaoning777 commented on #676
The current one-click deployment should install the 0.1.7 pipeline version, which contains the fix.
 https://deploy.kubeflow.cloud/#/deploy, choose kubeflow 0.4.1 version.

[2019-01-17 16:53] hamedhsn commented on #676
We are using EKS. I have to deploy it through the ks component in Kubeflow.

[2019-01-17 16:59] gaoning777 commented on #695
The following steps should be followed to grant the permissions:
1.) add a kubernetes secret to the GKE.
2.) in DSL codes, add .apply(gcp.use_gcp_secret(SECRET_NAME)) to add the secret to the component that requires the permission.
3.) recompiler and submit.
Did you do the step two of updating the DSL codes?

[2019-01-17 17:01] gaoning777 commented on #680
@Ark-kun, is this part of the component plan?

[2019-01-17 17:06] gaoning777 commented on #676
I guess you have been following the instructions [here](https://www.kubeflow.org/docs/started/getting-started-gke/)? If you can deploy the kubeflow again, update export KUBEFLOW_TAG=v0.3.5
with export KUBEFLOW_TAG=v0.4.1.

[2019-01-17 17:11] hongye-sun commented on #680
This is a FR to Argo that we submitted a while ago.
https://github.com/argoproj/argo/issues/906

On Thu, Jan 17, 2019 at 9:01 AM Ning <notifications@github.com> wrote:

[2019-01-17 18:13] gaoning777 commented on #692
A temporary fix is to delete the deployment.
run "kubectl get deployment -n kubeflow" and look for the taxi-cab-*, then
run "kubectl delete deployment taxi-cab-* -n kubeflow".

[2019-01-17 18:17] gaoning777 commented on #692
In fact, the deployer has been using [configurable names](https://github.com/kubeflow/pipelines/blob/a0d4be3851ef2dacfba112f883fe9607e342fa45/components/kubeflow/deployer/src/deploy.sh#L95) for the deployment and the examples are generating the name using [{{workflow.name}}](https://github.com/kubeflow/pipelines/blob/a0d4be3851ef2dacfba112f883fe9607e342fa45/samples/tfx/taxi-cab-classification-pipe

[2019-01-17 20:40] IronPan commented on #676
@hamedhsn Could you try https://github.com/kubeflow/kubeflow/releases/tag/v0.4.1
I think 0.4.0 doesn't have all the necessary fixes.

[2019-01-18 00:09] ramdootp opened #699 "Unable to use tensorboard viewer using minio path"
<img width="458" alt="image" src="https://user-images.githubusercontent.com/25822222/51357053-17c20380-1ae3-11e9-81d0-d782f7d2db3b.png">

the tensorboard pod is running with the above metadata.json
But it fails, reporting minio style path isn't supported by tensorboard.

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/werkzeug/serving.py", line 270, in run_wsgi

[2019-01-18 00:20] yebrahim commented on #699
Tensorboard does not support reading from minio server, we're working on a way to use mounted volumes to save this data, in which case Tensorboard will just be reading from the local filesystem. See the discussion in https://github.com/kubeflow/pipelines/issues/489.

cc @Ark-kun

[2019-01-18 00:57] amygdala opened #700 "Pipeline upload via URL doesn't work when port-forwarding from cloud shell"
Uploading a pipeline from a URL doesn't work when port-forwarding from the cloud shell.  I see the following error, which of course is problematic b/c the URL is something like `https://8080-dot-3034840-dot-devshell.appspot.com/...` instead.

![image](https://user-images.githubusercontent.com/115093/51358586-b7967780-1a78-11e9-8e1a-dbbea375fc9b.png)

[2019-01-18 02:56] ramdootp commented on #699
Thanks @yebrahim

Is it the same with confusion matrix viewer, we are seeing similar issue.  The display shows blank screen

[2019-01-18 09:32] TimCookny commented on #577
Please use LongPathTool for this issue.

[2019-01-18 09:43] rummens commented on #695
I am not on GKE, but everything is on Azure (Company Policy). I added the secret to the Cluster

[code]

I cannot use the gcp tool, since I am on Azure, right?

Also where do I have to add the .apply() command, in the decorator, the ContainerOp or during Compiling? This is my current "test" pipeline-component:

[code]

I added the name of the secret directly in the yaml after compiling and just re

[2019-01-18 12:45] hamedhsn commented on #676
@IronPan all the containers are `running` with v0.4.1. seems that it is resolved.

one more Q: I do port forwarding of UI but when I open the pipeline UI I see at the top :
`Error: failed to retrieve list of pipelines. Click Details for more information.`

when I try to create experiment getting this:
`Error occured while trying to proxy to: localhost:8081/apis/v1beta1/experiments`

[2019-01-18 16:52] zoux86 opened #703 "An error occurs when run TFX example in local kubeflow cluster"
### Because i am Unable to access Google, so i want to run pipelines in my local kubeflow examples。
I followed the guide to run pipeline examples.
https://www.kubeflow.org/docs/guides/pipelines/pipelines-quickstart/
### and i successed in running the basic pipeline。
![image](https://user-images.githubusercontent.com/14087435/51395714-71c0d880-1b78-11e9-996d-86aaf98192e4.png)

### but when i run th

[2019-01-18 17:08] swiftdiaries commented on #665
TIL
You can add dependencies by doing:
op_name_second.after(op_name_first)

https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/dsl/_container_op.py#L104

[2019-01-18 17:59] gaoning777 commented on #695
My mistake about using use_gcp_secrets(), which is to grant permissions for gcloud commands inside the container.
Did you follow the yaml spec in this [example](https://github.com/argoproj/argo/blob/master/examples/image-pull-secrets.yaml)?

[2019-01-18 18:07] gaoning777 commented on #703
ML pipeline is a cross-platform product and can be surely deployed and run in local environments. However, the file not being detected is due to the fact that each component is a containerized operator. In other words, the code can only fetch the files inside the container.
There are two options:
1) copy your file to some place(your own cloud, file system) that the kubernetes container has access

[2019-01-18 18:10] swiftdiaries commented on #692
Tried this. Passed the workflow name as a parameter using the --server-name flag and it doesn't happen anymore.

[2019-01-18 18:35] hongye-sun commented on #703
It's a known issue that most of current ML components are assuming the input paths are gcs paths. We are working on a solution to pass artifact to container through cloud provider agnostic way.

Though it's not tested yet, the container code should be able to work with local path if the file is accessable in the container. Other than Ning's suggestion, if you just want to make it work locally. You

[2019-01-18 18:37] gaoning777 commented on #692
Found the bug: the deployer component truncated the deploy name to 64 bytes, which removes the distinct part of the workflow name, thus naming collision.
Will send a PR to shorten the deployment name as a hot fix and randomize the deployment name in the near future.

[2019-01-18 18:40] hongye-sun commented on #700
@yebrahim Is it a known issue? I remember that it's working before.

As a workaround, you can port forward from local shell.

[2019-01-18 18:42] amygdala commented on #700
This is for a workshop where they're using cloud shell, so that workaround is not viable in that context. (but you're right, it does work via localhost)

[2019-01-18 18:47] hongye-sun commented on #695
Marcel, kfp uses the same way that k8s uses to pull the image. Could you try to [create a pod](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret) in your cluster by using the imagePullSecrets directly? It can make sure that the secret is configured correctly.

[2019-01-18 18:48] gaoning777 commented on #692
solved in https://github.com/kubeflow/pipelines/pull/704

[2019-01-18 18:49] amygdala opened #705 "using user-gcp-sa creds for a pipeline step appears to prevent creating cluster resources from that pod"
It looks like any pipeline step pod that needs to create a new service, deployment, etc. will throw a permissions error that the kf 'user' account (`<deployment_name>-user@`) doesn't have the rights to do "container.services.create", "container.deployments.create", etc.) *if the pod is using gcp* auth via the `.apply(gcp.use_gcp_secret('user-gcp-sa'))` call for that step when the pipeline is defin

[2019-01-18 19:04] hongye-sun commented on #678
Could you give more context on why it's needed?

We rely on argo to copy the artifact files. However, only docker executor currently supports file operations in argo (https://github.com/argoproj/argo/tree/master/workflow/executor). There is an [argo FR](https://github.com/argoproj/argo/issues/970) to get rid of docker cp and it seems that argo team had a plan but still WIP.

[2019-01-18 19:24] amygdala commented on #700
It looks like this was fixed in 4.1 (I'd been running 3.5) -- closing, will re-open if any other issues w/ it turn up.

[2019-01-18 19:58] SinaChavoshi opened #706 "Unschedulable: 0/2 nodes are available: 2 Insufficient cpu."
The error message for resource shortage is incorrect. In this instance i was requesting 20 cpus where my cluster has a max limit of 10.

https://screenshot.googleplex.com/yvuBNnYqn0p

[2019-01-18 20:41] hongye-sun commented on #706
This is a message from k8s. It says that you have two nodes in your cluster but none of them meet the requirements of requested CPUs.

[2019-01-18 22:22] animeshsingh commented on #678
@hongye-sun we are moving towards containerd in IBM Cloud IKS, and hence this becomes key

[2019-01-19 16:36] sagravat commented on #686
This  was due to out of memory error on the GPU device. I was using a K80 in K8s but

[2019-01-19 16:38] sagravat commented on #686
The issue was due to an out of memory error on the GPU device. I was using a K80 on the K8s cluster but used a V100 on the Deep Learning VM so I wasn't able to notice it with my local testing. It would be good to make this error more obvious to the user.

[2019-01-20 03:10] zoux86 commented on #547
hi, Had the problem been solved?
i also met the problem. but my pipeline did not work normally.
![image](https://user-images.githubusercontent.com/14087435/51434788-a7aeab80-1ca3-11e9-91cd-1f0a7be7444e.png)
### so i want to ask for advice how to sovle it.
Thanks!!!

[2019-01-20 05:07] SinaChavoshi commented on #489
+1 on supporting local mount. This is absolutely necessary for on-prem deployment. I'm loading the data to an nfs volume in preprocessing, training steps ... would be great to read it to tensor-board directly from there.

[2019-01-20 05:11] SinaChavoshi opened #708 "Can not use NFS volume for Tensorboard logs"
I don't seem to be able to use an NFS mount as a source for the tensorboard data. Currently the only option seems to be to copy the data to a GCS bucket however this is a blocker for on prem deployment.

Also related to #489  and #699

[2019-01-20 05:44] SinaChavoshi opened #709 "403 Insufficient Permission error when writing to GCS"
When attempting to copy files to GCS I get an AccessDenied error however the kubeflow user service account has write access to the bucket,

sample component is as follows:

def copy_to_gcs_op(step_name='load data'):
    return dsl.ContainerOp(
        name = step_name,
        image = GCLOUD_SDK,
        command=['sh', '-c'],
        arguments = [''gsutil -m cp -R <source> gs://<destination> "]

[2019-01-20 07:43] paveldournov commented on #661
KubeFlow pipeline at its core is a multi-cloud platform and can be deployed on-prem as well, however some of the specific pipeline examples (e.g. TFX Taxi sample and Spark sample pipelines) require GCP services such as the GCS storage, DataFlow, and DataProc. We will be publishing more cloud neutral samples going forward and welcome contributions to the sample pipelines that are GCP independent.

[2019-01-20 07:49] paveldournov commented on #706
@SinaChavoshi - please scale out the cluster by adding more nodes to the pool, or setup auto-scaling for the node pool.

@jlewi - should we consider setting up auto-scaling automatically in the 1-click deploy app?

[2019-01-20 07:50] IronPan commented on #708
Agreed. We plan to use PersistentVolume to decouple actual storage from the artifact store. I will send out a proposal publicly soon.

[2019-01-20 07:53] paveldournov commented on #705
Thanks for reporting, @amygdala, this is good suggestion.

@Ark-kun - PTAL, should we be adding the K8s admin to the gcp-sa account automatically?

[2019-01-20 08:02] paveldournov commented on #684
@Ark-kun
Allowing a run to belong to multiple experiment is a different scenario which will require different UX semantics, please open a separate issue for that.

[2019-01-20 08:05] paveldournov commented on #651
@swiftdiaries - yes, this feature is on the roadmap. Let's collaborate on the design.

/assign @vicaire

[2019-01-20 14:39] zoux86 commented on #477
@StefanoFioravanzo
hi, i followed your steps to mount volume in Container op(using your example). But it always cannot find the file. i searched some way to solve the problem, but it did not work.
### so i want ask you for advice, and hope you can give me some advice. i will  be very appreciated!

### Here is my steps:
### first, I created a PersistentVolume using:
![image](https://user-images.git

[2019-01-20 15:08] zoux86 commented on #703
@gaoning777 i followed you advice, and i build a new image. it works, but it cannot solve the problem totally. Because the second container can't find the first container's output.
so i want to mount volume in Container op.

#### In this question：
https://github.com/kubeflow/pipelines/issues/477

i found that you gave an example how to mount a volume with both add_volume and add_volume_mount. but

[2019-01-20 15:15] zoux86 commented on #703
@hongye-sun
hi, i'am very appreciated for your advice, and i followed your advice and  used add_volume and add_volumne_mount, but it didn't work.
so i run a example to mount volume in Container op to test how to use add_volume and add_volumne_mount. i hope you can give me some advice again if you know.

#### Here is my steps:
first, I created a PersistentVolume using:
image
and it successed
image

[2019-01-21 02:14] jinchihe commented on #703
I made that successfully before. I create PV/PVC firstly, and then edit the sample taxi-cab-classification-pipeline.py to attach the PVC. Copied the related data such as train.csv to the local storage before running the TFX sample.

[2019-01-21 02:16] jinchihe commented on #547
@zoux86 You can go ahead, seems the following process can be finished with the scheme validation problem.

[2019-01-21 07:32] zoux86 commented on #547
yeah, these error doesn't matter. Thanks!!!

[2019-01-21 07:32] zoux86 commented on #547
yeah, these error doesn't matter. Thanks!!!

[2019-01-21 07:59] rummens commented on #695
@gaoning777 Thank you, this way works. I would add it to the offical documentation on the kubeflow website.

Also is there a way to do this in Python code, like you suggested earlier but on a non GKE cluster? Right now I have to compile the pipeline, extract the archive, change the yaml and build the archive again? Thats a little bit overhead :-)

Thanks

[2019-01-21 08:04] zoux86 commented on #703
@jinchihe  Thanks for your comment.
I followed your steps, but i didn't success. by the way i only created the pv. Should i create both pv and pvc?
i'm a new learner for k8s, i will be very appreciated if you can describe how to create pvc and attach the pvc in detail.  Thanks!

[2019-01-21 19:54] hamedhsn commented on #676
also after a while, I see that pipeline pod is also failing

[code]

[2019-01-21 23:44] jinchihe commented on #547
so I'd like to close the ticket. Thanks.

[2019-01-21 23:44] #547 closed

[2019-01-21 23:49] jinchihe commented on #703
@zoux86 Yes, I think you should create both PV and PVC manually.  There is no specific configuration in the  pvc defination file.

[code]

[2019-01-22 02:26] jinchihe opened #719 "Failed to execute the component roc and confusion_matrix in TFX sample for local mode"
Updated TFX sample to run pipeline end to end case locally, associated PV/PVC for date storage, instead of cloud storage. The process is almost finished but the roc and confusion_matrix component failed.

Logs are as following:
[code]

Seems that's caused by the nonexistent directory. Seems the path need to be created if the path does not exist.

[2019-01-22 07:08] #719 closed

[2019-01-22 08:09] gyliu513 opened #721 "example TFX taxi support on-prem cluster"
Currently, all examples https://github.com/kubeflow/pipelines/tree/master/samples for pipeline are using GCP and we cannot run those examples when using on-prem clusters, it is better to add some examples to enable end user can test cases with local storage.

FYI @jinchihe

[2019-01-22 15:11] amygdala commented on #705
One 'gotcha' scenario if we don't do this: I could see people wanting to just blanket apply
`.apply(gcp.use_gcp_secret('user-gcp-sa'))`
to all their pipeline steps when they know the pipeline is running on GKE, but any step which tries to launch a tf-serving pod (etc.) will then fail.

[2019-01-22 15:59] zoux86 commented on #703
@jinchihe Thanks you very much. i run the example succeeded finally.
i created pvc. And i found that in my environment, i should use NFS volume rather than the  HostPath.
i will close the question.

[2019-01-22 16:00] #703 closed

[2019-01-22 16:53] jlewi commented on #706
Autoscaling should already be enabled:
https://github.com/kubeflow/kubeflow/blob/797bcb7407a589bacc35b9624120f51f36a83468/deployment/gke/deployment_manager_configs/cluster-kubeflow.yaml#L46

My hunch is @SinaChavoshi is requesting a single pod with 20 CPUs. The current default VM type is 8 CPU
https://github.com/kubeflow/kubeflow/blob/797bcb7407a589bacc35b9624120f51f36a83468/deployment/gke/deploym

[2019-01-22 17:49] gaoning777 commented on #695
We are trying to offer a product that is kubernetes native(platform independent).
The plan is to incrementally make it more friendly in other platforms, such as the the imagepullsecret you requested. Due to many other features occupying our engineering time, we will try to add these fixes/features based on the priority. However, contributions from the community are mostly welcome.
Thanks

[2019-01-22 17:53] gaoning777 commented on #703
@jinchihe thanks for explaining the volumes mount steps. We will add instructions on how to mount volumes and share among components.

[2019-01-22 18:06] #692 closed

[2019-01-22 18:23] jlewi commented on #429
@qimingj Why do you need to customize anything about TFJob and K8s job?

These are existing resources that don't have any explicit notion of inputs/outputs. Users use environment variables and command line arguments to pass information to their code. Its up to the code to define what the inputs/outputs are. TFJob and K8s job don't try to impose structure on the code by forcing them to conform to s

[2019-01-22 18:47] gaoning777 commented on #661
Another aspect is that we will provide more kubernetes interfaces in the DSL language. For example, [image_pull_secret](https://github.com/kubeflow/pipelines/issues/695) will be exposed in the DSL such that images can be fetched from other registries. The goal is to make Kubeflow pipeline a kubernetes native(cross-platform) product.

[2019-01-23 01:02] qimingj commented on #429
DSL today requires K8s python client library. Accepting K8s resource specs is a great idea.

You are right that it's up to the code to define the inputs/outputs. I think the gap (not just tf-job, but k8s in general) is that we need a way for component to communicate back to pipeline system. For example, a runtime value (such as training accuracy), some UI metadata (so pipeline UI can visualize), o

[2019-01-23 01:52] animeshsingh opened #725 "Allow eventing in Kubeflow Pipelines"
Pipelines should allow events to be triggered at different steps, and provide handlers to handle actions ins response to those events. Going further, ideally the eventing solution can be plugin-based, for e.g. if someone is using Apache OpenWhisk as an eventing platform, or someone is using Knative eventing, it can allow the engine to be plugged in.

[2019-01-23 03:50] animeshsingh commented on #60
Ho folks - any progress on this one?

[2019-01-23 05:46] govindKAG commented on #661
that's good to know!

[2019-01-23 05:47] #661 closed

[2019-01-23 08:15] jinchihe commented on #721
@IronPan I saw you agree to use PersistentVolume to decouple actual storage in #708 , in fact I executed a TFX taix sample by using PersistentVolume successfully, what do you think to create new one TFX taxi sample for on-prem cluster that uses PersistentVolume? If you agree, I will create this (including readme file). Thanks.

[2019-01-23 08:38] gyliu513 commented on #721
@jinchihe @gaoning777 @IronPan I think updating existing document is good enough, perhaps we can update Pipeline samples one by one to include how to run them in on-prem cluster but not GKE.

The document can be updated as follows, like:

## GKE
xxxx

## On-prem
xxxx

[2019-01-23 09:02] jinchihe opened #726 "Pipeline deploy component does not support local model"
While I executed kubeflow Pipeline E2E TFX sample on local cluster, I found the TF-Serving cannot be started normally, checked details, that's caused by Pipeline deploy component does not support local model, so that the trained mode cannot be found after deployment pod started.

In the kubeflow section [Serve a local model using Tensorflow Serving](https://github.com/kubeflow/kubeflow/blob/master

[2019-01-23 11:46] rummens commented on #695
I had a quick look into everything and came up with the following ideas:

### **For all pipelines**
The easiest way to integrate a secret to a pod is to add it to the corresponding service account (in our case pipeline-runner), as can been seen here: [https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account](url)
The command woul

[2019-01-23 12:54] jinchihe opened #728 "TFX taxi client utility run abnormally after serving started"
After run TFX taxi pipeline, the tf-serving service is started, changed the service name to NodePort type, and then, try to run client script  chicago_taxi_client.py to test the server. but hit the problem below (**unquoted fields cannot have quotes/CRLFs inside**).

Any work around solution? Thanks a lot!

[code]

[2019-01-23 13:14] jlewi commented on #429
Why do we need a way to communicate back to pipelines components?

Lets suppose we have a TensorFlow program that takes two arguments --input and --output and now we want to train that using TFJob or K8s job. Why can't we do something like the following

[code]

Now just use [func_to_container_op](https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/Lightweight%20Python%20components

[2019-01-23 14:26] jlewi commented on #721
It might make sense to create a new example if the code is sufficiently different from the current example. However, can we try to write the example in a way that works for both on prem and Clouds? The fact that the current example is GCP only is a bug and something that should be fixed.

Here's a related issue kubeflow/pipelines#677 for how to create better patterns for working with TFJob and mak

[2019-01-23 19:03] swiftdiaries commented on #725
Argo Events lends itself more naturally to Pipelines.
Related discussion: https://github.com/kubeflow/pipelines/issues/651

[2019-01-23 19:08] ddutta commented on #721
@swiftdiaries @johnugeorge for the onprem CUJ work

[2019-01-23 19:31] swiftdiaries commented on #721
We have a set of onprem / local specific components in the works as part of the onprem CUJ.
We found issues integrating the tensorboard and confusion matrix components into the Pipelines UI so we made workarounds to enable those.

As for the TFX example, I think having separate example code is better. The onprem wouldn't be using gcp secrets so having another tfx_taxi_cab_onprem.py makes sense.
An

[2019-01-23 19:43] swiftdiaries commented on #429
I was looking into Argo Events and this seems like a good fit. I'm currently experimenting with monitoring TFJob resources using this.
https://github.com/argoproj/argo-events/blob/master/docs/tutorial.md#resource

As for why we need a way to communicate back to pipelines,
One use case: with that we can have parallel branches of the same pipeline running with different sets of hyperparameters and w

[2019-01-23 21:08] gaoning777 commented on #666
fixing it in https://github.com/kubeflow/pipelines/pull/730

[2019-01-24 00:05] jinchihe commented on #726
Created a PR for this, the enhancement will be useful for #721 . Thanks.

[2019-01-24 01:04] Ark-kun commented on #658
/assign @IronPan

[2019-01-24 02:54] jinchihe commented on #521
+1, I used the V1VolumeMount to add local volume, I want to read parameter what user input from UI. But seems the k8s workflow cannot resolve pipelineparam. Thanks.

[2019-01-24 11:41] nareshganesan commented on #624
Hi There,

I'm also facing issue with ```ml-pipeline-persistenceagent``` pod.

kubeflow: v0.4.1
ml-pipeline-persistenceagent: gcr.io/ml-pipeline/persistenceagent:0.1.7
Cluster: On-Prem

Here is the log,
[code]
Any pointers / suggestions will be really helpful.

Thanks
Naresh Ganesan

[2019-01-24 12:10] hamedhsn commented on #676
log from ml-pipeline-persistenceagent pod

[code]

[2019-01-24 18:02] neuromage commented on #624
That log message is harmless, in that it just means we're running on a cluster (we should probably re-word that). Are you seeing crashes/restarts for this process? What's the output when you run:

[code]

You should see something like this:
[code]

[2019-01-24 19:06] rileyjbauer commented on #683
Fixed by #722

[2019-01-24 19:06] #683 closed

[2019-01-24 22:03] amygdala commented on #700
Hmmm.. I seem to be seeing this again w/ 0.4.1, so re-opening.  Not sure what's up.

[2019-01-25 01:51] vicaire commented on #651
I will follow up on this thread as soon as we start tackling this. Thanks.

[2019-01-25 18:31] gaoning777 commented on #676
@IronPan @neuromage can you take a look at the apiserver failing in 0.4.1? Thanks

[2019-01-25 18:38] gaoning777 commented on #624
related issue: https://github.com/kubeflow/pipelines/issues/676

[2019-01-25 22:50] gaoning777 opened #736 "XGBoost sample failure"
XGBoost sample fails recently because the default dataproc cluster version is bumped.

[2019-01-25 22:50] gaoning777 commented on #736
/assign @gaoning777

[2019-01-25 22:50] gaoning777 commented on #736
fixing it at https://github.com/kubeflow/pipelines/pull/735

[2019-01-25 23:28] #569 closed, assigned to paveldournov

[2019-01-25 23:31] gaoning777 commented on #721
I think the team has been working on building new features and we should allocate some amount of engineering efforts to make this a cross-platform product.

[2019-01-25 23:42] gaoning777 commented on #728
Could you post your client script that tested the tf-serving model?
@jlewi any idea why this failure would happen to the tf-serving model?

[2019-01-25 23:48] gaoning777 commented on #695
Argo only supports workflow level [imagepullsecret](https://github.com/argoproj/argo/issues/862), which makes the pipeline impossible to support component level imagepullsecret.

[2019-01-26 00:03] rileyjbauer opened #738 "Tooltip in runtime graph can get stuck"
![image](https://user-images.githubusercontent.com/34456002/51779139-601c8b00-20ba-11e9-93ec-b7a64de1593a.png)

I've only seen this issue when a user is hovering over the `...` of a running pipeline, and the graph updates in a way that moves the parent node of the `...` (the TFX sample does this reliably in later steps, though it can sometimes be reproduced in the conditional example).

The issue

[2019-01-26 00:52] jinchihe commented on #728
@gaoning777 The client script is come from tensorflow/model-analysis in github. Thanks.
https://github.com/tensorflow/model-analysis/blob/master/examples/chicago_taxi/chicago_taxi_client.py

Is there any specific client for the pipeline sample? I haven't seen it. Thanks.

[2019-01-26 14:09] nareshganesan commented on #624
@neuromage ,

[code]
Thanks for helping out.

[2019-01-26 15:47] jinchihe commented on #728
Had a basic investigaed, I guess the failure may be caused by unmatched version for the client and serving. Checked the `image ml-pipeline-dataflow-tfma` installed `tensorflow-model-analysis==0.6.0` which is too old, and tensorflow version also is old.

@jlewi Any plan to upgrade tensorflow and related component in kubeflow pipeline?  Thanks.

[2019-01-26 17:46] neuromage commented on #624
Thanks, this looks like #676. I will update that issue when I get to the bottom of the problem.

[2019-01-26 17:46] neuromage commented on #676
/assign @neuromage

[2019-01-27 05:38] neuromage commented on #624
@nareshganesan did you try kubeflow 0.4.1 ? I can't reproduce ml-pipeline-persistenceagent crashes with that version. I think it's been fixed (0.4.0 may have had the issue you're seeing though).

[2019-01-27 05:45] neuromage commented on #676
@hamedhsn Sorry for the trouble, but I can't reproduce this error. I suspect something went wrong with the db when you upgraded to 0.4.1. Can you try to delete everything with `kubectl delete namespace kubeflow` and re-install? And then port-forward again with:

[code]

[2019-01-27 05:49] TimZaman commented on #624
They fixed this in 0.4.1 afaik

[2019-01-27 08:35] nareshganesan commented on #624
@neuromage , @TimZaman

Thanks for your time.

I'm still facing the issue.  Here are my steps.
[code]
logs from ml-pipeline-persistenceagent pod
[code]
Its restarted couple of times on a fresh cluster already.
[code]
I manually hit the health check url from one of my pod, and it works!
[code]
Please let me know.

[2019-01-27 08:36] TimZaman commented on #624
Ah wait, so does it keep restarting? If yes, then it's probably a different issue, for this, you should create a new, seperate Issue: https://github.com/kubeflow/pipelines/issues/new

[2019-01-27 08:45] nareshganesan opened #741 "ml-pipeline-persistenceagent restarts forever"
Kubeflow v0.4.1
On Prem
[code]
All other components work well, but the ml-pipeline-persistenceagent keeps restarting forever.
Steps:
[code]
logs from ml-pipeline-persistenceagent pod
[code]
Its restarted couple of times on a fresh cluster already.
[code]
I manually hit the health check url from one of my pod, and it works!
[code]
Please let me know.

[2019-01-27 08:46] nareshganesan commented on #624
@TimZaman - Thanks, I've created a new issue. [#741](https://github.com/kubeflow/pipelines/issues/741)

[2019-01-27 15:31] jinchihe commented on #728
Had more investigation the problem, seems the original client script in model-analysis cannot be used in the pipeline directly, :-) , I created new client script for the pipeline and executed successfully.

Thank you, @gaoning777 . I'm going to close the ticket. Thanks.

[2019-01-27 15:31] #728 closed

[2019-01-28 00:15] jinchihe opened #742 "Upgrade tensorflow and related components"
Used the tensorflow and related components In the Pipeline, but seems the version is old, there are some new features and fixed some defects, it's better to upgrade tensorflow and component.

[code]

Any plan or mechanismfor this? @jlewi  @IronPan  Thanks.

[2019-01-28 10:21] hamedhsn commented on #676
Sounds like I had a problem with pvc and my minio and mysql was not running properly and that caused crashing everywhere.  Configured EFS and created pvc on that, sounds like everything starts working.
might be good to have some instructions and maybe parameters to set so that it starts working with AWS straightaway. Will created PR for that later.
Thanks, guys for help.

[2019-01-28 10:21] #676 closed

[2019-01-28 19:48] gaoning777 commented on #695
supporting pipeline level imagepullsecret in https://github.com/kubeflow/pipelines/pull/745

[2019-01-28 19:48] neuromage commented on #741
Looks like ml pipeline API server is failing. Maybe something to do with the fact that it's on-prem? Can you please report back what the API server logs say? Something like:

[code]

[2019-01-28 21:50] yebrahim commented on #60
I don't think we have anyone working on this, feel free to pick up the discussion if you feel like it.
There is however some work I'm doing now to support archiving runs, which should help declutter the workspace. Experiments are still create-only though.

[2019-01-29 08:40] rummens commented on #695
Awesome thanks, I think Pipeline level secret is enough for most use cases. I will test once the PR is accepted.

[2019-01-29 08:40] #695 closed

[2019-01-29 20:41] Svendegroote91 opened #750 "pipeline step failed with exit status code 2: failed to save outputs"
Hi,

I am trying to run a very basic kubeflow pipeline with 2 components:
1/ preprocess
2/ train

However, when trying to run the pipeline, I get the message `This step is in Error state with this message: failed to save outputs: exit status 2` in the Pipeline UI.

When I check the pod logs I get the following error and I attached the succesful logs before the error.

[code]

<img width="1349" alt

[2019-01-30 05:43] gyliu513 opened #753 "Kubeflow 0.4 still include argo UI"
Kubeflow 0.4 still include argo UI but the UI cannot be opened. I think we are going to use Pipeline to replace argo, so why argo still exist? Can we remove argo ui from kubeflow?

[code]

[2019-01-30 10:09] nareshganesan commented on #741
@neuromage ,

Sorry for the late respone. I see empty response when I tail 'ml-pipeline api server' logs.
[code]
Thanks for helping out.

[2019-01-31 15:03] swiftdiaries opened #756 "Support K8 resource YAML config as input for DSL components"
Part of issues related to having better support for k8s resources in Pipelines.

It'd better if we can re-use existing implementations for creating individual components.
For example, TFJob and most CRDs in Kubeflow already have a ksonnet prototype defined. If we could use these as input to create components, it'd be really cool.
Another use case is when you want to have features from Argo that ar

[2019-01-31 19:15] #103 closed

[2019-01-31 21:33] IronPan commented on #149
Maybe we should consider using tools such as https://github.com/prometheus/client_golang to instrumenting backend perf

[2019-01-31 22:47] cliveseldon opened #759 "Add Support for Docker-in-Docker in DSL (See https://github.com/argoproj/argo/tree/master/examples#docker-in-docker-using-sidecars)"
We would like to have steps in a pipeline that allow image builders. This might require docker-in-docker.
How can this be easily facilitated?

[2019-02-01 06:12] Ark-kun opened #768 "Namespace "kubeflow" is "Terminating" forever"
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/749/kubeflow-pipeline-e2e-test/611

https://github.com/kubernetes/kubernetes/issues/55002
https://github.com/kubernetes/kubernetes/issues/66735
https://github.com/kubernetes/kubernetes/issues/72244

[code]

[2019-02-01 06:17] Ark-kun commented on #756
CRs are somewhat limited as components.
Components should have inputs and outputs while CRs are pretty limited here.
The way both Pipelines (see kubeflow TFJob launcher) and Argo currently handle CRs is by using a controlling container.
We might probably provide an easier way to submit and wait for CRs in future, but the problems with inputs and outputs remains.

[2019-02-01 06:59] Ark-kun commented on #756
Does this do what you want to accomplish?

[code]

[2019-02-01 18:35] jlewi commented on #759
I think one option would be to have your pipeline step run a separate K8s job. Then you could set whatever options (e.g. DockerInDocker, Security context are needed).

[2019-02-02 04:40] alan-krumholz opened #774 "Use the ROC output viewer to visualize a precision recall curve."
I was able to do it fine but the product expects the axis in the chart (that you define in the schema) to be called fpr and tpr which makes the visualization confusing even if it gets to display the right data.
It'll be good to be able to set the names of the axis with other values for use cases like this.

[2019-02-04 02:52] paveldournov commented on #753
@gyliu513 Argo is used as the orchestrator withink Kubeflow Pipelines. It could be good to keep the Argo UI available for lower level debugging of workflows.

[2019-02-04 02:55] paveldournov commented on #759
@cliveseldon - Please take a look at the KFP SDK, and the methods that allow building containers from Python functions. The SDK is creating a K8S job for building containers images, you can either use the SDK within a pipeline step or use the same technique for creating an image. Please let me know if that works.

[2019-02-04 03:04] paveldournov commented on #741
@nareshganesan is the issue still happening? Can you see the error logs of the persistence agent?

/assign @nareshganesan

[2019-02-04 03:05] paveldournov commented on #736
@gaoning777 - the PR is merged, is the issue fixed? If so - please resolve the bug.

[2019-02-04 03:09] paveldournov commented on #726
@jinchihe thanks!

@gaoning777 please take a look at the PR

[2019-02-04 03:18] paveldournov commented on #686
@sagravat - can you please share how did you diagnose and resolve the issue? What logs did you analyze? This would be helpful in figuring out the way to expose more error details.

[2019-02-04 16:51] rileyjbauer opened #775 "Metric bars do not always show up correctly"
See the bottom right metric:
![image](https://user-images.githubusercontent.com/34456002/52223235-0bb3a100-285a-11e9-8448-98cc2ad6627b.png)

It is not filled in the way it should be

[2019-02-04 17:03] rummens opened #776 "Pipeline UI - Access Key Error when uploading new pipeline"
Starting this morning I get the following error, when trying to upload a pipeline using the UI (via port forward):

`{"error_message":"Error creating pipeline: Create pipeline failed: InternalServerError: Failed to store pipelines/5ff2b3e4-f3e3-4696-b8ea-91c9b922c882: The access key ID you provided does not exist in our records.","error_details":"Error creating pipeline: Create pipeline failed: In

[2019-02-04 17:09] gaoning777 commented on #736
Yes, this is resolved. I'll close the issue.

[2019-02-04 17:09] #736 closed

[2019-02-04 17:39] amygdala commented on #677
On this point:

I don't think this is necessary any more (IIRC, it was used prior to using the tf-job client directly). When I removed it from my own similar code, things worked.

(However, on a related note, adding `.apply(gcp.use_gcp_secret('user-gcp-sa'))` to the launcher step seems to break things, as that apparently does not allow creating cluster resources. Not sure if that's a bug exactly b

[2019-02-04 20:01] #726 closed

[2019-02-04 20:38] vicaire commented on #725
animeshsingh@,

The way I was thinking of tackling this would be:
1. The user can create an event based workflow based on: a set of (query, workflow step) where:
1.a  A query is made to our metadata DB (e.g.: trigger each time there is a new model, trigger each time there is new data, trigger each time there is a new event of type T, etc.)
1.b  The workflow step corresponding to the query is execu

[2019-02-04 22:49] yebrahim commented on #774
It seems like generalizing the ROC graph into a generic XY plot will help in that case then? How about supporting a metadata schema allows specifying the different axes labels and the name of the value? This would cover ROC curve, would it also be enough for PR curve? Are there any similar curves we can use such a schema for?

[2019-02-04 23:13] alan-krumholz commented on #774
yes the dataset for PR curve would be very similar to the one of ROC curve:
Precision, Recall, Thresholds

As long as we could customize the names for the first two columns (and display those on the chart) this should work.

Thanks!

[2019-02-05 08:37] rummens commented on #776
So I figured out what causes the error. I deployed a new minio pod inside the cluster (using helm). KF Pipeline then tries to use the secret of that new minio instance to authenticate to the other minio instance (deployed by KF) or the other way around.  Once I remove the new secret and minio instance it works again.

I had a look at the labels but I could not find any similiarties between the two

[2019-02-05 10:14] swiftdiaries opened #780 "Add an option to run Pipeline from local notebooks."
By authenticating using load_kube_config instead of running from in-cluster notebooks, we could make the local iteration loop faster.

[2019-02-05 17:53] gaoning777 commented on #673
The prow system restart the tests whenever there are new commits. The presubmit test script does not reclaim the cluster since the process(that runs the script) is shut down.

[2019-02-05 17:54] gaoning777 commented on #673
One possible approach to avoid the cluster leaking is to catch the signal(sigint/sigterm) and reclaim the cluster.

[2019-02-05 18:30] lfloretta opened #784 "Better documentation on GCP services accounts scopes and usage"
The [documentation](https://www.kubeflow.org/docs/started/getting-started-gke/) states that three GCP service accounts are created as part of the deployment.

However, there are no details on the GCP roles assigned to each GCP service account, when each GCP service account is used and how to use them within a component.

In particular the syntax .apply(gcp.use_gcp_secret('user-gcp-sa')) is only di

[2019-02-05 21:04] rileyjbauer opened #785 "Cloning a scheduled run failed"
I created a recurring run yesterday and it scheduled a few runs before completing.

Today I went to clone one of those runs, and hitting `Start` resulted in the following error message:

[code]

[2019-02-06 03:30] gaoning777 commented on #726
Merged

[2019-02-06 03:34] gaoning777 commented on #780
@Ark-kun you and Bradley were discussing running the notebook on the local machine, correct? any progress?Thanks

[2019-02-06 03:53] gaoning777 commented on #784
/cc @IronPan

[2019-02-06 06:53] rileyjbauer commented on #775
This may be working as intended. For numeric metrics (as opposed to percentage) we may not have a baseline with which to compare them, so the blue bar is based on the range of metrics being displayed. In the above example, since the only two values are `0.942` and `0.949`, the larger is completely filled and the smaller is completely empty.

[2019-02-06 06:53] #775 closed

[2019-02-06 12:20] nareshganesan opened #788 "kfp client returns HTTP 500 error, even after the pipeline run succeeds"
When I'm creating a pipeline run using kfp client. I'm able to create my pipeline and the workflow controller has no error message and the pipeline succeeds, but the kfp client response has the following HTTP 500 error. I'm really not sure, how to trouble shoot. Please help.

This is how I built my kfp python sdk.
[code]
[code]

@swiftdiaries - I'll update details about listing experiments through

[2019-02-06 16:59] neuromage commented on #788
@nareshganesan What's the actual client command you issued? Can you paste that as well? I suspect this has something to do with creating a run outside an experiment in the python client. I will take a look.

[2019-02-06 17:10] nareshganesan commented on #788
@neuromage ,

Yes, I'm using the following snippet.

[code]

Thanks for helping out!

[2019-02-06 17:12] neuromage commented on #741
@nareshganesan
That error indicates that the persistence agent is unable to connect to the ML Pipeline API server. But it appears that the api server is up and running right? Can you run the following and confirm that it's up and running?
[code]

[2019-02-06 18:24] yebrahim opened #789 "Add e2e test for recurring runs"
This is one of the least tested paths, and we've broken it in the past without noticing. I suggest adding an e2e test to make sure the following works:
- UI controls around recurring runs configuration.
- Submitting the new run request succeeds.

Optionally also testing the following, since these require the test to wait for at least a minute, prolonging the total e2e test duration:
- A new run ap

[2019-02-07 05:51] IronPan opened #790 "Persistent Agent doesn't like v1beta1 scheduledworkflow in on-prem scenario"
In a non-gke environment, somehow persistent agent doesn't recognize v1beta1 scheduledworkflow and keep on looking for v1alpha1 scheduledworkflow.

The runs are not propagated back to UI.

E0207 05:39:42.822359       1 reflector.go:205] pkg/mod/k8s.io/client-go@v0.0.0-20180718001006-59698c7d9724/tools/cache/reflector.go:99: Failed to list *v1alpha1.ScheduledWorkflow: the server could not find the

[2019-02-07 17:44] IronPan commented on #790
This is caused by a version mismatch. The cluster is deployed using kubeflow HEAD which has v1beta1 scheduledworkflow crd while pipeline persistent agent version is v0.1.8 which looks for v1alpha1 SWF crd.

The issue should be gone after bumping the version to v0.1.9.

[2019-02-07 17:44] #790 closed

[2019-02-07 17:45] IronPan commented on #768
fyi https://github.com/kubeflow/pipelines/issues/768 would mitigate the issue

[2019-02-07 17:56] hongye-sun opened #793 "Report metrics error to client"
Currently if metrics file or format is invalid, the persistent agent just ignores the error. There is no way for user to know what's the error. We need to report those errors back to user.

One option is to provide an error list on run proto and let PA to append errors to it.

[2019-02-07 17:58] IronPan commented on #741
@nareshganesan If you verified the API server actually starts up and running, it might be caused by DNS resolution failure.
Could you verify K8s DNS service is running in your cluster?

Some links might be helpful for debugging
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#check-for-errors-in-the-dns-pod

[2019-02-07 23:44] hongye-sun opened #795 "Support inline html in html viewer"
It is required for GCP component to output GCP console dashboard and stacker driver links.

[2019-02-07 23:59] yebrahim opened #796 "ReportWorkflow errors in API server"
I'm seeing a bunch of these errors when looking at the API server's logs:

[code]

[2019-02-08 00:13] rileyjbauer commented on #795
One way to achieve this would be adding an extra field to the output metadata giving users the option to supply encoded HTML rather than just the current option where a path to the location of the HTML file is provided.

[2019-02-08 08:35] govindKAG opened #804 "Are there plans to allow kubeflow pipelines to be created through a manifest file?"
Are there any plans to explore the possibility of making kubeflow pipelines a CRD and letting users create pipelines through yaml manifests like argo ?

[2019-02-08 09:01] nareshganesan commented on #741
@IronPan

Thanks for your inputs.

The DNS service was the issue, it was not able to find my ml-persistentagent pod. Our current cluster, was spun up using kubeadm (kubernetes v1.11.6), without using coredns feature gate flag. To validate,
I spun up another cluster with coredns feature gate enabled (though it is supposed to use coredns for kubernetes version > 1.11) ,this solved the issue. I do no

[2019-02-08 09:01] #741 closed

[2019-02-08 18:46] SinaChavoshi opened #798 "Auto Refresh on for pipeline UI"
Currently the user has to  manually hit the refresh  link  on all pages manually. If we could set an auto refresh for every x seconds would be a huge improvement to user experience. This was also raised by one of the customers using the platform.

[2019-02-08 19:12] SinaChavoshi commented on #709
Seems like this issue is now resolved as of pipelines 1.7. Just in case,  you can add the secret using **_.apply(use_gcp_secret('<secret name>'))_**, which will mount the json auth file under _**'/secret/gcp-credentials/<secret name>.json'**_

**example:**
[code]

[2019-02-08 19:12] #709 closed

[2019-02-08 19:47] neuromage commented on #741
Thanks for the update @nareshganesan! That'll be useful for us when debugging issues like this in the future as well.

[2019-02-08 20:07] yebrahim commented on #149
We're bound by network latency here. Some more numbers:

| Endpoint  | from API server pod | from client (browser/curl out side cluster) |
| ------------- | --------------------------- | -------------------------------------------------------|
| List runs  | 20  | 170 |
| List pipelines  | 5 | 135 |
| List experiments  | 4  |  135 |
| Get run  | 11  |  155 |
| Get pipeline | 5 | 135 |
| Get experi

[2019-02-09 01:00] vkoukis opened #801 "Extend the DSL with support for Persistent Volumes and Snapshots"
# Extend the DSL with support for Persistent Volumes and Snapshots

## Overview - Rationale

This document describes proposed additions to the DSL of Kubeflow Pipelines to seamlessly support the use of Persistent Volumes and Volume Snapshots as distinct resources in pipelines.

This means steps can exchange multi-GB data doing standard file I/O on mounted Persistent Volumes, without having to uplo

[2019-02-09 13:09] jinchihe commented on #726
Thanks @gaoning777

[2019-02-09 18:03] vkoukis commented on #801
Also fixed a few typos in the description and the code example for uniformity.

[2019-02-10 07:57] DmitryBe opened #802 "Failed to create recurring run"
Pipelines log
[code]

[2019-02-10 08:37] DmitryBe commented on #802
issue solved after upgraded to version 0.1.8 (was using old version 0.1.6)

[2019-02-10 08:37] #802 closed

[2019-02-10 22:23] jlewi commented on #801
@vkoukis Did you consider extending the DSL to just make K8s resources first class? Then a resource like K8s Job or TFJob or any resource which then supports volumes and PVs would automatically work?

The DSL then becomes a way to build those objects using idiomatic python.

One way to achieve the above would be to use the DSL as it exists today and have the ContainerOp create the desired K8s reso

[2019-02-11 00:34] jlewi commented on #675
Fixed by #786
Now available at.
https://github.com/kubeflow/pipelines/blob/master/ROADMAP.md

[2019-02-11 02:03] jlewi commented on #753
@gyliu513 What is the problem with the Argo UI that you are encountering?

[2019-02-11 06:47] swiftdiaries commented on #804
Something like this would be great: https://github.com/kubeflow/pipelines/blob/master/backend/test/cli_test.go#L62

Are there are any docs on this?

[2019-02-11 12:57] gyliu513 commented on #753
Thanks @paveldournov , clear now. But the problem is that the argo UI cannot be opened and there is no logs from argo UI, how can I debug and check what is wrong with argo UI pod?

[code]

[2019-02-11 19:08] hongye-sun opened #805 "Pipeline Release V0.1.10"

[2019-02-11 19:09] hongye-sun commented on #805
CMLE deploy component build fail.
https://pantheon.corp.google.com/cloud-build/builds/132b369e-7c46-42e6-8019-646e1f792aaa?project=ml-pipeline-staging&organizationId=433637338589

[2019-02-11 19:40] #805 closed

[2019-02-11 20:08] hongye-sun opened #807 "Move e2e tests out of us-central1-a"
The tests are flaky due to GCE stockout issues. Consider to move the us east or west, instead.

[2019-02-11 23:50] vicaire commented on #149
yebrahim@,

The latency looks OK for a network call (~100ms).

Rather than spending time on rendering the UI progressively, would it be possible to reduce the number of queries that are made to the backend?

This could be done by adding some optimized, paginated queries to the backend.

[2019-02-12 02:18] vkoukis commented on #801
Hello Jeremy, thanks for taking the time to read the design doc!

I think this design doc actually does target making these two specific K8s resources, `PersistentVolumeClaim`, and `VolumeSnapshot` objects first-class citizens, by having the DSL manage them, instead of the user managing them directly.

If I understand your argument correctly, it is "why not extend the DSL so it can also manage gen

[2019-02-12 04:12] vicaire commented on #804
@swiftdiaries, the CLI is incomplete because of an API revamp that we did just before the OSS release. We plan to address this soon. If this is something that you or someone in the community would like to take on, that would be a very useful contribution.

The parts of the CLI that have integration tests (https://github.com/kubeflow/pipelines/blob/master/backend/test/cli_test.go) are complete and

[2019-02-12 04:19] vicaire commented on #804
To use the CLI in its current state, you can follow these instructions:

Run the following command to install the CLI:
[code]
Make sure that $GOPATH/bin is in your PATH environment variable:
[code]

You then just need to configure kubeconfig using kubectl to setup the cluster that the CLI should interact with. Example commands:

$ kubectl config current-context
$ kubectl config get-clusters
$ MY_C

[2019-02-12 09:09] swiftdiaries commented on #804
Thank you so much for the reply @vicaire :) I'll open an issue for the CLI, happy to contribute

[2019-02-12 09:13] swiftdiaries opened #812 "Improve and enhance Pipeline CLI / Add support for current API."
Pipelines CLI currently needs k8s resources like namespaces and cluster-contexts to be set prior to using it.
The ideal workflow for the Data Scientist should abstract this away.

The idea is to remove and make these flags optional so that it's Data Scientist friendly.
Also, the CLI should ideally match the DSL in terms of features.

Discussion for reference: https://github.com/kubeflow/pipelines/

[2019-02-12 09:13] swiftdiaries commented on #812
/assign @swiftdiaries

[2019-02-13 00:22] kstory8 opened #818 "500 Error Jupyter notebook"
I tried to launch a jupyter notebook from a custom docker image. This failed (presumably because of permissions issues accessing the particular GCR). Now, jupyterhub keeps failing with the following error:

500 : Internal Server Error
Failed to reach your server. Please try again later. Contact admin if the issue persists.

You can try restarting your server from the home page.

[2019-02-13 00:36] krishnakarra opened #819 "Notebook option disappears from UI"
<img width="1665" alt="screen shot 2019-02-12 at 4 35 15 pm" src="https://user-images.githubusercontent.com/43756117/52677833-4a91c880-2ee4-11e9-8914-3b0a4faf8418.png">

[2019-02-13 00:36] kstory8 commented on #818
<img width="288" alt="screen shot 2019-02-12 at 4 35 34 pm" src="https://user-images.githubusercontent.com/10334951/52677845-567d8a80-2ee4-11e9-9184-d260662579ac.png">

[2019-02-13 02:06] timbuktuu opened #820 "kfctl.sh apply platform"
Created a cluster following the command line instructions on a Mac OS and saw the following error, but the cluster seems to have been created correctly.

++ kubectl get secret --namespace=kubeflow kubeflow-oauth
+ O='Error from server (NotFound): secrets "kubeflow-oauth" not found'
+ RESULT=1
+ set -e
+ '[' 1 -eq 0 ']'

[2019-02-13 06:39] vicaire commented on #801
/cc @hongye-sun
/cc @IronPan

Hi @vkoukis,

I have a couple comments:

1. Exposing the whole spec of Argo in the DSL. Implementing a higher level Python API on top of that for convenience.

Currently, the DSL exposes a subset of Argo features.

We are thinking of changing this so that All Argo features are available (including the POD and container level specific features that Argo exposes). We ar

[2019-02-13 06:49] vicaire commented on #801
/cc @vicaire

[2019-02-13 07:08] vicaire commented on #804
This is great, thank you.

[2019-02-13 08:02] vicaire commented on #819
@yebrahim @rileyjbauer, could you please have a look?

[2019-02-13 08:08] vicaire commented on #780
The CLI supports this but reuses some K8 go libraries to match all the authentication method of kubectl. It would indeed be great to do the same from the Python SDK.

[2019-02-13 08:12] vicaire commented on #759
@cliveseldon, Argo supports building containers inside containers.

See https://github.com/argoproj/argo/tree/master/examples#docker-in-docker-using-sidecars

Would making this functionality available from the DSL work for you?

[2019-02-13 08:35] vicaire commented on #604
Hi @woop,

We indeed would like to support the features needed so that KFP can be used e2e for CD.

Here are some details about what we plan to support the features that you requested (see our public design doc for some details: https://bit.ly/2WhNT3D):

* Sensing artifact changes: Can we sense configuration in git, docker images in container registry, model pushes to model database, or data chang

[2019-02-13 08:43] vicaire commented on #651
@swiftdiaries

It's a bit short but I provided an outline of how we plan to support event-driven pipelines here: https://docs.google.com/document/d/1O5n02SzMYmLH0cMkykxHWWWe7eMzaP1vk7Y3fBbLoD8/edit#heading=h.mhe3tnle0c9o

(See event-driven pipelines and data-driven pipelines)

In a nutshell:
- We will have a metadata store storing info about the data generated by a workflow (metadata).
- Events ca

[2019-02-13 08:45] vicaire commented on #665
Does it solve your problem? Can we close this issue?

[2019-02-13 08:48] swiftdiaries commented on #665
Yes it does solve the problem, I left it open for visibility in case other people were looking for something similar. We should probably add instructions to the website

[2019-02-13 08:49] vicaire commented on #699
@neuromage

It seems that we could add support for mounted volumes in the viewer CRD for tensorboard that @neuromage did

[2019-02-13 08:51] vicaire commented on #700
@yebrahim, do you know if this is a regression?

[2019-02-13 08:55] StefanoFioravanzo commented on #801
I would like to express my opinion on this from an end-user perspective. In our organization we have been testing Pipelines and tried to integrate it into our workflows. The issues and limitations with mounting volumes and managing PVCs restrict us from adopting Pipelines extensively and in production settings.

I agree with @vkoukis on this:

One of the major obstacles in adopting Pipelines is th

[2019-02-13 09:01] vicaire commented on #756
@swiftdiaries, would something like this work:

1) At the low level, we provide a generic container that takes a CRD spec as a parameter and runs it to completion.

2) The DSL can implement some special, easier to use abstraction on top of that on a case by case basis, for the CRDs that are used the most.

3) For debugging, the UI should be able to view/follow the tree of K8 resources (container l

[2019-02-13 09:09] vicaire commented on #756
Note that ksonnet is being archived (https://ksonnet.io/) so we probably won't spend time integrating the DSL with ksonnet.

[2019-02-13 10:52] jinchihe commented on #489
+1 for supporting local storage mounted from PersistentVolume.

[2019-02-13 14:57] swiftdiaries commented on #801
Thank you for the detailed write-up and proposal ! These capture many pain-points that we faced as we were trying out Pipelines.
I superficially attempted to address this with #783.

I like the idea to manage the lifecycle of volumes and snapshots without touching the k8s python client.
I really like the dependency addition, it's very cool!

1. Are you thinking about doing it via CRDs / APIs?

2.

[2019-02-13 16:33] amygdala commented on #700
It does seem to mostly work -- though I haven't been beating on it much. I just wanted to note on the issue that I had seen it again since.  I'm fine to close this if no one else is having probs.  (I'm wondering if there's any chance it was a browser caching issue).

[2019-02-13 17:36] yebrahim commented on #819
This will happen if you don't have access to /hub/ for whatever reason. Can you try to manually navigate to yourhost/hub/?
One way I've seen this fail is if you've deployed Kubeflow on a GKE cluster using IAP, then tried to access the cluster using port forwarding from your machine, in which case Jupyterhub block you because of auth method conflict.

[2019-02-13 17:46] yebrahim commented on #798
This has already been done in the Run details page in @rileyjbauer's #722, which I think is where this is most relevant/needed.
@SinaChavoshi how useful do you think this is on other pages too?

[2019-02-13 18:25] gaoning777 commented on #818
I don't think the kubeflow offersw customized notebook image if you follow the kubeflow pipeline deployment.
instructions on customizing jupyterhub and notebook images:
https://github.com/kubeflow/kubeflow/tree/master/components/jupyterhub

@jlewi Can you offer more instructions or the user practice to customize notebook images?

[2019-02-13 18:33] IronPan commented on #820
I guess you saw this in the last step
[code]

Could you double check the cluster and see if secret is there
[code]

[2019-02-13 18:35] timbuktuu commented on #820
Yes, we run the kfctl.sh apply k8s script and the secret was not in the cluster.

[2019-02-13 18:37] hongye-sun commented on #801
Thanks for the proposal. I like the design to abstract k8s volume and snapshot implementation in DSL. I have a few questions:

1. How are you going to define the full interface of PipelineVolume? Does it map to the PersistentVolumeClaim spec (volumeClaimTemplates in argo)? Or it will also abstract full Volume spec? Do you image that it will support the full k8s spec or just persistent volume scena

[2019-02-13 18:44] IronPan commented on #820
could you retry the apply command? the error message says it's not found in the cluster but the command should create it.

[2019-02-13 20:02] Dylan-Rich opened #824 "Pipeline view UX is completely blank"
When accessing https://....cloud.goog/pipeline/#/pipelines/details/XXXXXXXX

[code]

[2019-02-13 20:34] Dylan-Rich opened #825 "Pipeline name is not checked"
If you use empty string as the pipeline name, the resulting workflow is invalid (empty template name).

[2019-02-13 21:50] #621 closed

[2019-02-14 00:19] #612 closed

[2019-02-14 02:05] vkoukis commented on #801
@vicaire Hello Pascal, thanks for taking the time to read the design doc and provide feedback!

We definitely don't want to modify the DSL compiler backend, this would be a major change. We explicitly targeted the existing Argo workflows framework when designing this.

I understand that Argo currently supports `volumeClaimTemplates` section in workflows, but this is not enough for managing volumes

[2019-02-14 02:08] vkoukis commented on #801
@StefanoFioravanzo

Hello Stefano!

Thank you for the encouraging words! We're definitely excited about the real-world use cases of this, as well.

We'll be following up with a PR shortly. We would love to get your feedback on the implementation, and adjust accordingly.

[2019-02-14 02:11] vkoukis commented on #801
@swiftdiaries

Hello Adhita! We had read your #783 as part of trying to understand the current approaches, and we had it in mind as we iterated on the proposed extensions to the DSL, thank you for this.

Thanks :)

Dependency resolution comes with using `resource` templates. They are part of the DAG, so they can depend on previous steps, and other steps can depend on them. Essentially, creating vo

[2019-02-14 02:19] vkoukis commented on #801
@hongye-sun

Thank you for taking the time to read the design doc and give feedback!

We explicitly do not want it to be a generic "K8s Volume", because this may mean a lot of different things, which behave in a completely different way. We explicitly target `dsl.PipelineVolume` to correspond to a `PersistentVolumeClaim` object, external storage made available to K8s, managed in a vendor-agnostic

[2019-02-14 03:32] jinchihe commented on #801
@vkoukis Great design for supporting PipelineVolume easily!

One question here, did you consider the case that the PVC name is specified from Pipelines UI during creating a run after pipeline definited? Seems that's not supported by old way (using k8s_client.V1VolumeMount) due to #521. From the design we allow user to specify an existing PVC, but user may change that during creating the run on Pip

[2019-02-14 04:09] vicaire commented on #665
Good point. Re-opening and changing the title to keep track of adding the documentation.

[2019-02-14 04:10] vicaire commented on #700
OK thanks. I will close it for now as that could prevent folks from filing an issue if they observe the problem.

[2019-02-14 08:35] mengxi-ascent opened #827 "invalid spec: templates.xxx.tasks.condition-1 failed to resolve {{tasks.None.outputs.parameters.yyy}}"
Thanks for the great work.

When I try to use dsl.Condition with user-specified PipelineParam, the condition is translated as tasks.None.outputs.parameters.yyy in the yaml file.
When I try to launch a run of the pipeline in the pipeline-ui, I get the error "invalid spec: templates.xxx.tasks.condition-1 failed to resolve {{tasks.None.outputs.parameters.yyy}}" .
Any idea about that?

Here is a small

[2019-02-14 20:03] vkoukis commented on #801
@jinchihe

Thanks for reading the design doc and giving feedback!

That's a good question. Similarly to how you can specify the data source to use as a `gs://` URL in a `dsl.PipelineParam`, I think it makes sense to be able to specify the PVC to use as your data source, again based on a `dsl.PipelineParam`.

I'm not sure #521 is related; the discussion there is whether a `ContainerOp` instance acc

[2019-02-14 21:06] rileyjbauer commented on #825
Hello! What interface were you using when you encountered this issue: web UI, notebook, CLI?

[2019-02-15 00:32] yebrahim commented on #824
@Dylan-Rich can you access any other page on KFP UI or is it just the pipeline details? If it's the latter, can you share a little more about what kind of pipeline it is (built-in sample vs custom built, how many steps.. etc).

@rileyjbauer seem to me like a potential bug with static graph.

[2019-02-15 00:37] yebrahim commented on #149
I'd like to look a little more into the network latency before dismissing it just to make sure we're not missing anything, but regardless, progressive rendering is a low hanging fruit, it should be less work than changing/add APIs and using them.

However, API change seems like the best resolution to the problem. Ideally, we'd switch to something like GraphQL, but barring that, we can modify the l

[2019-02-15 01:38] jinchihe commented on #801
Sounds great. Yes, based on a `dsl.PipelineParam`. Thanks @vkoukis

[2019-02-15 07:12] vicaire commented on #149
Agree that an API change is the best solution. We can make returning the extra data optional.

Switching to GraphQL would be great. If you would take this on (starting with a design proposal), that would be a fantastic contribution.

I am not clear about the 3x improvement. When does the current performance start to degrade? Depending on the number of rows to render, how many queries are made toda

[2019-02-15 11:53] swiftdiaries commented on #699
I'd like to take this up and look into using the Viewer CRD from the Frontend for Tensorboard following discussions here: https://github.com/kubeflow/pipelines/pull/792#issuecomment-463299208
/cc @yebrahim
/assign @swiftdiaries

[2019-02-15 19:51] #675 closed

[2019-02-15 20:20] vicaire commented on #699
Thank you @swiftdiaries

[2019-02-16 06:47] yebrahim commented on #149
The 3x figure is actually a conservative estimate, based on the analysis in [this comment](https://github.com/kubeflow/pipelines/issues/149#issuecomment-437212620). We have enough data to render by the time we list runs for a given experiment (or all runs), but we still wait until we get the experiment's jobs, then each run's pipelines, then each run's experiment.

The number of queries doesn't ch

[2019-02-16 15:25] vicaire commented on #149
Did you check how the performance scales? What if there are 10 jobs or runs in the DB? 100? 1000? 10,000? 100,000? 1,000,000? What if the UI is rendering 10, 100, 200?

[2019-02-16 19:31] SinaChavoshi commented on #798
Run details would be the most impactful one. however this would be a nice to have feature for other pages as well ( ex all runs, experiments etc)

[2019-02-16 20:09] hongye-sun opened #831 "Flaky presubmit step in build-scheduledworkflow-image"
I frequently get failures like:
build-scheduledworkflow-image:	go: golang.org/x/lint@v0.0.0-20180702182130-06c8688daad7: git fetch -f origin refs/heads/*:refs/heads/* refs/tags/*:refs/tags/* in /go/pkg/mod/cache/vcs/79f2695321bc515689ad880a6109a13399c003ff78670317e7d502240c43b765: exit status 128:
build-scheduledworkflow-image:		fatal: unable to access 'https://go.googlesource.com/lint/': The requ

[2019-02-17 02:02] akranga opened #832 "Missing PullPolicy for ContainerOp"
ContainerOp is missing a `pullPolicy`. Happy to make a PR. Souns like a simple change? Or I miss something?

[2019-02-17 20:25] jlewi commented on #818
Can you provide the full JupyterHub logs?
I would also suggest deleting the JupyterHub pod to force it to restart.
You can also check for any jupyter pods and delete those.

[2019-02-19 18:50] gaoning777 commented on #832
Sure. Go ahead and send a PR to add the imagepullpolicy in the containerop. Also, do not forget to update the DSL compiler to add the corresponding field in the argo yaml.
Thanks

[2019-02-19 18:51] jlewi commented on #753
@gyliu513 Seems like an issue with Argo. it seems really odd that the Argo UI container isn't generating any logs. Is the container running? Is it crash looping?

[2019-02-19 19:20] swiftdiaries opened #834 "Add option in DSL compiler to output YAML"
It would be nice to have the generated YAML output in addition to the tarball.
Then we could use the Pipeline CLI to run the Workflow all from the CLI.

Local iteration step would be:
Write Pipeline using DSL -> compile to YAML -> Use Pipeline CLI to run -> Use Pipeline to show run link in UI.

Currently, we can do this via the notebook. We can create a Pipeline and run a Pipeline from the noteboo

[2019-02-19 23:32] jonathan1920 commented on #546
Hi @KaranKhirsariya and @zoux86 ,

To replace the studyjob-controller's image, click on studyjob-controller in the workload section of the kubernetes part of GCP. Once on the studyjob-controller page, go near the top and click on the YAML tab. This will bring you to the YAML file. In the YAML file, click on the edit button at the top. Then change the values of image to katib/studyjob-controller@sh

[2019-02-20 01:18] yebrahim commented on #149
Thanks for the suggestion, that did surface another issue, which can be seen in this screenshot:
![image](https://user-images.githubusercontent.com/1424661/53058688-087b0080-3469-11e9-9b37-caec16fd5679.png)

These requests were all started in parallel (they all started within ~50ms of each other), but Chrome has a maximum number of concurrent connections of 6 to any given domain (see [here](https:

[2019-02-20 05:29] gyliu513 commented on #753
@jlewi Argo ui is `Running` in my cluster but has no log and also the service cannot be accessed via NodePort.

[code]

[code]

[2019-02-20 09:04] vicaire commented on #801
Update: the KFP team is looking into this closely. We realize the importance of good support for volume, and a good/intuitive abstraction in the DSL.

[2019-02-20 16:05] vkoukis commented on #801
@vicaire Great, thanks for the update! We've proposed a demo at the upcoming community meeting of Tue, Feb 26, so we can also show the latest iteration of our code live, and solicit feedback.

[2019-02-21 00:46] vicaire commented on #834
Hi @gaoning777, I thought this was already available. Could you please comment.

[2019-02-21 00:46] vicaire commented on #832
@hongye-sun Adding Hongye as an FYI.

[2019-02-21 05:59] vicaire opened #844 "Implement a persistence agent for logs, and Garbage Collection for Kubernetes Resources."

[2019-02-21 17:56] gaoning777 commented on #834
Current tarball only contains one yaml file, you could simply untar it.

[2019-02-22 06:46] zwqjoy opened #848 "How to deploy distribute training with tensorflow or pytorch with pipelines"
Can pipelines run the dis tensorflow demo. any example  ?

[2019-02-22 22:27] vicaire commented on #834
@gaoning777, is there any disadvantage in supporting this? It seems that it could be a very common request.

/cc @IronPan

[2019-02-23 00:28] swiftdiaries commented on #834
@gaoning777 That is how I'm doing it right now, it feels like a long-winded approach. And also it would be good to gain some visibility into what exactly is going to be run.

@vicaire Thank you for the reply. I'll wait on @gaoning777 's suggestion before proceeding

[2019-02-25 12:02] govindKAG commented on #365
The docs on the site say that it currently only works with GCP.

[2019-02-25 17:51] IronPan opened #854 "Switch default package format to .zip"
.zip is better compatible with mac OSX in case of file selecting window.
We should switch default pipeline package format to .zip instead of .tar.gz
- DSL compile into a .zip
- API accept .zip in addition to what is supported now.

[2019-02-25 17:51] IronPan commented on #854
/assign @IronPan

[2019-02-25 19:42] gaoning777 commented on #854
DSL generating the zip file: https://github.com/kubeflow/pipelines/pull/855

[2019-02-26 00:59] gaoning777 commented on #521
replace the placeholder in the command: https://github.com/kubeflow/pipelines/pull/637

[2019-02-26 01:00] #521 closed

[2019-02-26 01:00] gaoning777 commented on #666
Now the component build supports python2. Fixed

[2019-02-26 01:00] #666 closed

[2019-02-26 18:10] gaoning777 commented on #834
Could we change the CLI to accept the tar ball instead of the yaml? The motivation of the DSL compiler to generate the tar ball file instead of a yaml was to hide the yaml details and also potentially the pipeline might need to add more files in the future as the intermediate yaml.
On the other hand, we do need to keep the interfaces of the DSL compiler output consistent with the CLI input.

[2019-02-26 18:48] swiftdiaries commented on #834
Makes sense. I'll add a subcommand `ml pipeline run <tarball>`

[2019-02-26 18:49] gaoning777 commented on #834
Thanks

[2019-02-26 21:29] animeshsingh commented on #678
Hi folks - coming back to this. Given we have phased out support for docker in IBM Kubernetes service, this is becoming a blocker. Anyway to take this forward jointly with Argo?

[2019-02-27 01:49] IronPan opened #865 "Errors in the test logs"
There are multiple errors in the test log
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/862/kubeflow-pipeline-e2e-test/927?log#log
[code]

[code]

[code]

We should consider fail fast in case any error.

[2019-02-27 17:03] abimur-123 opened #869 "Error regarding syncing workflow"
Hi all!

I've been playing with Kubeflow and noticed that once my pipelines completed the `ml-persistence-agent` pod continued spewing out the following error at a regular intervals -
[code]

I exceeded my logzio limit for the day and these errors are a significant portion of them. Any help regarding this error or ways to suppress these logs would be helpful

[2019-02-27 18:37] jlewi commented on #801
@hongye-sun @vkoukis How would things change if the fundamental primitive in the DSL was a K8s job and not a container?

e.g. if it was

[code]

A container is not a top level K8s resource; Deployments, Jobs, Pods, Custom resources these are top level resources. Is our efforts to simplify K8s resources by eliminating certain fields just creating more problems? Are we just going to end up exposing

[2019-02-27 18:52] shankarpm opened #872 "ModuleNotFoundError: No module named 'kfp'"
I am getting this error on this line in python3 Env. I am using Mac .

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'kfp'

I have installed all the requirements below for kubeflow pipeline
pip3 install https://storage.googleapis.com/ml-pipeline/release/0.1.10/kfp.tar.gz --upgrade
gcloud components install kubectl

Please let me know

[2019-02-27 19:33] hongye-sun commented on #801
Jeremy,

We can make DSL just focusing on the orchestration by generalizing k8s resource spec like:

[code]

The problem I see here is how to pass the data between steps which is the core problem for orchestration part. The data I am describing here have two types: small parameter data and large artifact data.

For small ones, we solved it in ContainerOp by chaining output_files between steps. Thi

[2019-02-27 19:33] ssbagalkar commented on #750
i am getting the same error.
Here is my pipeline code:
[code]

[2019-02-27 19:57] gaoning777 opened #873 "Fixing dependency versions to avoid future breaks"
We have many breaks recently, be it the components or tests, due to the dependency breaks.
The dependency:  dependent software or the base image.
Dependency caused failures: when some dependent software is upgraded, it might've updated its dependency requirement. If new dependency is introduced, our component licenses need to be updated to avoid component image build failure. If the dependency A o

[2019-02-27 21:37] ssbagalkar commented on #750
So my issue was i had specified wrong path, specifically `tmp/preprocess/locations/output_train.txt` was specified as `tmp/preprocess/output_train.txt` when i saved it in my docker local. Changing it solved the problem

[2019-02-27 22:04] gaoning777 opened #875 "Refactor the test infra code"
Since the test infrastructure codebase is becoming larger and the variable passing is a little messy. Create an issue here to refactor the codes: either refactor the bash codes or adopt go/python codes, which is to be decided.

[2019-02-27 22:37] gaoning777 commented on #193
added the signal capture in the test infra: https://github.com/kubeflow/pipelines/pull/863

[2019-02-28 06:26] aaron-nall commented on #820
I'm not sure if it helps, but when deploying to GKE, the kubeflow-oauth secret is created when applying platform rather than k8s.  It will also only be created if CLIENT_SECRET and CLIENT_ID are exported in the shell environment.

[2019-02-28 22:17] ultrons opened #881 "How to accessing the source code from Images"
In my experiments with kubeflow pipelines so far, time and again I have come across some excellent example of components for training and model deployment etc.

To make a meaningful use of those components I need to edit the source code corresponding to that step and all I have is the container image.

Is there a recommended way or an upcoming feature that facilitates this instead of the users dev

[2019-03-01 08:43] IronPan commented on #844
related to https://github.com/kubeflow/pipelines/issues/93

[2019-03-01 08:45] IronPan commented on #844
FYI this bug is visible in two cases so far
- auto scaling cluster
- redeploy cluster with a old PD

[2019-03-01 20:20] hongye-sun opened #893 "Unable to delete service account in e2e tests"
The service account in test project is still leaking. Here is an example log for the errors: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/878/kubeflow-pipeline-e2e-test/1028

ERROR: (gcloud.iam.service-accounts.delete) PERMISSION_DENIED: Permission iam.serviceAccounts.delete is required to perform this operation on service account projects/-/serviceAccounts/e2e-7

[2019-03-03 01:49] akranga commented on #801
Let me put my 5 cents. I believe existing functionality of a  ContainerOp is good enough. There are number of variations what for to use volumes. So instead of trying to replicate `PodSpec` it is better (IMHO) to stick with python (client)[https://github.com/kubernetes-client/python]

Current implementation of `ContainerOp` allows easy escape to the python client. Also (IMHO) KFP should be generic

[2019-03-03 05:10] swiftdiaries commented on #801
Hey Antons

A wrapper around the k8s python client for using volumes already exists (see: PR #783)

Adding a EmptyDir is still left though.

[2019-03-04 09:25] DurivetMatthias commented on #750
Hey,

I fixed the pipeline and it now runs run_preprocess.py >> run_train.py.

The problem was in the run_preprocess.py file. You have to write a file to the local file path inside your docker container. In this case I wrote the `file_path` variable to `/blob_path.txt`. In the next step, run_train.py, this variable is used to find where the preprocessed data is stored.

`with open("/blob_path.txt"

[2019-03-04 19:50] cliveseldon commented on #759
Sorry, missed this. Yes that would be very useful if there was easy access to docker-in-docker.

[2019-03-04 22:00] vicaire commented on #759
/cc @hongye-sun (Adding Hongye who may have some input on this).

@cliveseldon, would you be interested in contributing so that it is easy to specify the following in the DSL?

https://github.com/argoproj/argo/tree/master/examples#docker-in-docker-using-sidecars

[2019-03-05 04:52] neuromage opened #906 "Figure out a better convention for parsing ML metadata from containers"
Right now, we parse a specific output file /output/mlmetadata/*. This is prone to errors, as users may choose this filename for something else. We should look at another way of parsing metadata produced by container steps.

[2019-03-05 04:55] neuromage opened #907 "Add tests for metadata store"
Consider using sqlite to test behaviour of ml metadata storage.

[2019-03-05 06:37] cliveseldon commented on #759
@vicaire Happy to help. Just a bit new to the code base so not sure where to start.

[2019-03-05 06:45] hongye-sun commented on #759
@cliveseldon, the docker in docker support depends on sidecar feature, which is currently working in the PR (https://github.com/kubeflow/pipelines/pull/879). Once the PR is in, you should be able to build similar pipeline as argo example does.

[2019-03-05 07:59] SinaChavoshi opened #908 "upstream connect error or disconnect/reset before headers"
When connecting to KFP or KF UI using the IAP setup. If the system has been idle for a few hours i get the following error

upstream connect error or disconnect/reset before headers

Refresh a few times fixes the issue.  I can reproduce this constantly across 3 different clusters.

[2019-03-05 21:09] Ark-kun opened #910 "Notebooks do not have Keras pre-installed."

[2019-03-05 21:10] Ark-kun opened #911 "Use DL VM as default container for Notebooks."

[2019-03-06 01:58] kunmingg opened #920 "Pipeline: allow user edit existing pipelines from UI and update underlying nodes upon saving."
It would be nice to allow user edit existing pipeline CR from UI and pipeline controller take actions to update child resources when necessary.

[2019-03-06 06:46] animeshsingh commented on #844
On our deployment of pipelines as well, logs get wiped away once in few weeks- what will be needed is configuration to persist the logs to a persistent storage, as well as support for archival

[2019-03-06 08:59] zwqjoy commented on #489
+1 for supporting local storage mounted from PersistentVolume or Volume

[2019-03-06 19:07] hongye-sun opened #924 "docker magic command should print kaniko pod logs"
Otherwise, there is no way for notebook user to understand what's wrong in their dockerfile.

The current workaround to debug docker command issue is to find the kaniko pod in cluster and print it logs:

kubectl get pods -n kubeflow | grep kaniko
kubectl logs <kaniko pod name> -n kubeflow.

[2019-03-06 21:07] randxie commented on #407
To forward logging from tfjobs to Pipeline UI, it seems to me that we should expand the tf-operator, e.g. adding utility functions to stream logs back to the container where tfjobs runs. IIRC, the current Pipeline UI is able to capture logs from tfjobs container.

[2019-03-06 21:12] randxie commented on #677
Adding another issue: when using TPU with tfjob, I found that the tfjob does not reuse allocated cloud TPU (if the pod fails and gets restarted). Instead, it tries to recreate a new TPU instance.

[2019-03-06 21:45] DanSanche opened #927 "Kubeflow deployer component fails when deployment already exists"
Context: The deploy script runs 'kubectl apply' to create a deployment, and then waits for a pod name to become active before continuing in the script

https://github.com/kubeflow/pipelines/blob/ba64bd3866023c36c93cf2b46a066a1b008bb6c4/components/kubeflow/deployer/src/deploy.sh#L159

Issue: If the deployment already exists in the cluster, running 'kubectl apply' will delete the old pod and create

[2019-03-06 23:22] Ark-kun opened #928 "Cannot find module for path ml_metadata/metadata_store/mlmetadata"
https://travis-ci.com/kubeflow/pipelines/jobs/182659416

[code]

[2019-03-06 23:24] neuromage commented on #928
@Ark-kun can you rebase on master? The backend now requires bazel to build. `go build/vet/test` etc will no longer work.

[2019-03-06 23:24] #928 closed

[2019-03-06 23:44] Ark-kun opened #929 "Travis uses the .travis.yml config from the branch, but tests code from a merge"
https://travis-ci.com/kubeflow/pipelines/jobs/182659416
Travis checks out the code correctly:
[code]

But Travis caches the build configuration (`.travis.yml`) before the build. If some job fails, and the master is updated, the subsequent runs will use the old build configuration, even though the master have a new one.
So, when someone makes a breaking change that includes a change to the `.travis

[2019-03-07 01:02] cjwagner opened #930 "GitHub checks have been enabled in this repo, but are not supported by Tide."
It appears that GitHub checks from Travis CI have been enabled in this repo. This is causing issues with merge automation because Tide does not respect GitHub checks, only GitHub status contexts and will continue to try to merge PRs that are actually unmergeable due to failing checks from Travis CI.
Please disable the GitHub checks from Travis CI ASAP to prevent merge automation from getting stuck

[2019-03-07 01:32] Ark-kun commented on #928
Actually, just doing `git commit --amend && git push --force` (without any changes) was enough to fix the issue. The root cause is described here: https://github.com/kubeflow/pipelines/issues/929

[2019-03-07 05:04] neuromage commented on #930
@cjwagner would you know how one can disable github checks?

/cc @vicaire
/cc @IronPan
/cc @hongye-sun
/cc @yebrahim
Did we change anything in our travis CI set up recently?

[2019-03-07 16:08] gaoning777 commented on #872
I had this problem before because the pip3 installs the package in a place that the python3 does not include. Please check your python path and see if the packages are there.

[2019-03-07 19:37] cjwagner commented on #930
No I don't, sorry. The checks are coming from Travis CI though so presumably there is some configuration to disable them there.
As a side note, consider moving your Travis CI tests to a ProwJob.

[2019-03-07 20:41] amygdala opened #936 "rename sample GCS path to fix model-name typo"
kind of a nit, but when you get a chance it would be helpful to rename
`gs://ml-pipeline-playground/samples/ml_engine/cencus` to be `.../census` instead.

That would make it easier to correlate to the model name, and would be consistent with e.g. `gs://cloud-samples-data/ml-engine/census/`

[2019-03-07 21:51] Ark-kun commented on #872
Try `python3 -m pip install https://storage.googleapis.com/ml-pipeline/release/0.1.10/kfp.tar.gz --upgrade`.
This should work in rare cases when your python3 and pip3 are de-synced.

[2019-03-07 21:58] Ark-kun commented on #907
Is this issue fixed?

[2019-03-07 22:04] Ark-kun commented on #906
If we use product-prefixed name like `kfp_metadata`, I think it's pretty safe.

Generally, I'd prefer to treat the mlmetadata as any other parameter/artifact output. Then we can detect it by the output name.
I'd prefer if there are no hardcoded paths inside the container. The program should be receiving all paths from the caller. If someone still wants to hardcode some path, it's better to do that

[2019-03-07 22:14] yebrahim commented on #908
That's because IAP [sessions expire](https://cloud.google.com/iap/docs/sessions-howto) in an hour.

This issue can track frontend work to automatically refresh the session automatically, probably by letting the user know it had expired and giving them a button to reload the page.

[2019-03-07 22:15] Ark-kun commented on #881
Currently all the components that we publish have source code and `Dockerfile`s available. Do you see some exceptions?

BTW, You can always use `docker run -it --entrypoint sh <image>` to check what's inside the container image.

[2019-03-07 22:43] #936 closed

[2019-03-08 00:41] vicaire commented on #678
Thanks for filing the issue with Argo. Would you be able to drive support for containerd with both Argo and then KFP? Let me know if some help is needed.

[2019-03-08 00:49] animeshsingh opened #940 "Moving and retrieving logs from persistent volume"
We are running into issues where pipeline logs are getting wiped out from IKS based on rotation policy .Currently, the latest Argo executor could save logs to S3 persistent volume when the archiving flag is enabled.

However, Kubeflow Pipeline frontend is getting the logs using K8S API.
https://github.com/kubeflow/pipelines/blob/master/frontend/server/k8s-helper.ts#L120-L129

Therefore, we need to

[2019-03-08 00:55] amygdala opened #941 "dependency analysis issue with 'component.yaml'-based ops"
I built this pipeline to play around with the new `load_component_from_url` functionality: https://gist.github.com/amygdala/f6ac2224c598e8355763a45ab502cb49
(The pipeline doesn't quite have correct functionality yet, but that's not important to this issue).
Note line 72, using the `op2.after(op1)` statement.

When I compile this file, I get the following error.  To me it looks like the dependency

[2019-03-08 00:55] animeshsingh commented on #678
Thanks @vicaire. Definitely chasing it - there is a PR with Argo which are trying to make it work within our context, and then will be going back with what still remains opens.

[2019-03-08 01:58] Ark-kun commented on #941
Thank you for discovering this DSL compiler bug. I've submitted PR fixing it.

[2019-03-08 01:59] Ark-kun opened #944 "[CMLE] trainer component should output the trained model URI"
Currently it only outputs Job ID.

[2019-03-08 02:47] #941 closed

[2019-03-08 05:28] hongye-sun commented on #941
Thanks for the quick fix, Alexey.

[2019-03-08 07:23] vicaire commented on #844
SG. This is open for contributions if you are interested. An object store would be great to persist the logs. If the implementation uses Minio Client, we would be able to persist the logs on GCS/S3/GCP.

[2019-03-08 07:32] vicaire commented on #930
/cc @IronPan, I remember that you mentioned that we could move Travis CI tests to Prow at some point. Is there any drawback?

[2019-03-08 07:44] vicaire commented on #920
Could you please provide a concrete use case for your feature request?

[2019-03-08 20:03] hongye-sun opened #945 "Support default project ID in KFP"
The use case is to not require user to put project ID when using GCP OOB component in KFP.

We could probably leverage GCE's instance metadata to get the default value: https://cloud.google.com/compute/docs/storing-retrieving-metadata

[2019-03-08 20:11] hongye-sun opened #946 "Support default GCS bucket for KFP GKE cluster"
This is a requirement for GCP OOB component which requires to have a cluster wide shared GCS bucket to store artifacts that are generated by GCP component, so that users of the component don't have to specify those paths by themselves.

[2019-03-08 20:58] hongye-sun opened #947 "display call for loaded component should show better view of component info"
This is a use case in notebook, when user use ipython display API to display a loaded component. Currently, it only displays a normal python function signature. It's better to show more metadata including:
name, description, type information.

[2019-03-09 00:40] ultrons opened #948 "Kubeflow version vs Jupyter Hub Image Versions Confusion"
We specify a kubeflow version during our One Click Deployment. I chose 0.4.1.
Once we go the pipeline UI and try to start a jupyter hub I am presented with a list of images I can select from based on tensorflow version, cpu/gpu and kubeflow version, and there is no image listed with 0.4.1

It's good to give the user flexibility to select an image with different kubflow version but it's a little co

[2019-03-10 20:39] texasmichelle opened #949 "Add SDK support for sidecars"
In order to connect to a CloudSQL instance, the cloudsql-proxy sidecar is necessary (according to the [docs](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine)). Here is an [example definition file](https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/blob/master/cloudsql/postgres_deployment.yaml).

In order to use KF pipelines with applications that rely on CloudSQL as

[2019-03-11 00:25] jlewi commented on #677
@randxie Can you file a separate issue regarding TFJob and TPU in kubeflow/tf-operator I don't think that has anything to do with TFJob and pipelines.

[2019-03-11 00:30] jlewi commented on #677
/cc @hougangliu since he just added a component for StudyJob.

[2019-03-11 02:42] gyliu513 opened #951 "Any plan to integrate with Tekton pipeline"
[Tekton pipeline](https://github.com/tektoncd/pipeline) plan to be a k8s-native piepline resource, so any plan for kubeflow pipeline integrate with it?

/cc @jlewi @jinchihe @hougangliu

[2019-03-11 04:13] rakelkar opened #953 "Support Azure authentication for pipeline ops"
Pipeline authors can currently authenticate against GCP by adding a ".apply(gcp.use_gcp_secret('user-gcp-sa'))" suffix to their ops. This makes the GCP secret provisioned during kubeflow setup available to the op container.

However there is no way to do this on Azure

[2019-03-11 20:34] ritazh opened #957 "value in file_outputs is not being passed to input parameters correctly"
**What happened:**
String value `inception` was written into a file https://github.com/ritazh/k8s-ml/commit/be7f520db108754ff1d7d9bd4b07afa540c1f6f2 and it's set as the file_output: `file_outputs={'output': '/model_name.txt'}`. The file content is then passed in as an input parameter here:
[code]
**Expected:**
op2 pod will run with the argument `--model_name=inception` as the file content written

[2019-03-12 17:53] vicaire opened #959 "Make the data generated by a pipeline step available before the pipeline step completes."

[2019-03-12 18:33] ucdmkt opened #960 "tfx/taxi-cab-classification-pipeline.py fails at preprocess step with"
Steps to reproduce

$ pip list
 :
kfp                      0.1.11

$ python taxi-cab-classification-pipeline.py

(upload taxi-cab-classification-pipeline.py.tar.gz from Pipelines UI)

Run fails at preprocessing, with the following log.

Traceback (most recent call last):
  File "/ml/transform.py", line 303, in <module>
    main()
  File "/ml/transform.py", line 276, in main
    schema = json.loads

[2019-03-12 18:39] ucdmkt commented on #960
From 'validation' step's log, I see the following log lines

INFO:root:Writing schema to /tfx-taxi-cab-classification-pipeline-example-9pw4w/validation/schema.pb2
INFO:root:Writing JSON schema to /tfx-taxi-cab-classification-pipeline-example-9pw4w/validation/schema.json

I do also see some anomalies raised from the 'validation' step, but 'validation' component itself succeeds.

[2019-03-12 20:55] cjwagner commented on #930
Ping. This is still a problem.
Tide got stuck on this PR for a short while yesterday morning: https://github.com/kubeflow/pipelines/pull/938

[2019-03-12 21:23] hongye-sun opened #961 "Make single step pipeline easier in DSL"
There is many boilerplate code to build a single component pipeline today. See example: https://github.com/kubeflow/pipelines/blob/b4ad648fb0acd2f73f8cd3d819e5de17ab70bc7f/components/gcp/bigquery/query/README.md

Better to provide support in DSL to make it less tedious. Example:
[code]

[2019-03-13 13:17] mschuwalow opened #965 "dsl.ContainerOp.after() only works with Ops that have already sanitized names"
With version 0.1.11

This works:
dataset_op = S3DownloadOp("download-dataset", ...)

train_op = TrainOp("train",... )
train_op.after(dataset_op)

This doesn't:
dataset_op = S3DownloadOp("Download-dataset", ...)

train_op = TrainOp("train",... )
train_op.after(dataset_op)

[2019-03-13 18:10] hongye-sun commented on #965
I believe this has been fixed by https://github.com/kubeflow/pipelines/commit/7ce03f07d41a04fbfac96812ee99b716032178fb.

Could you try 0.1.12?

[2019-03-13 19:38] mschuwalow commented on #965
Yeah its fixed in 0.1.12. Thanks for the quick reply and I'm closing the issue.

[2019-03-13 19:38] #965 closed

[2019-03-14 08:20] #953 closed

[2019-03-14 22:24] Ark-kun commented on #957
I'm not sure why this is being expected.
In Linux system, command-line arguments is an array of strings.
In Kubernetes, `Container`'s `command` and `args` follow that design - they are arrays of strings.
In KF Pipeline, `ContainerOp`'s `command` and `arguments` follow that design - they are arrays of strings.

Each argument is a separate array entry. There is no special magical logic inserting `=`

[2019-03-14 22:27] Ark-kun opened #970 "bazel build fails with fatal error: ares.h: No such file or directory"
~/go/src/github.com/kubeflow/pipelines/backend/src/apiserver$ bazel build .

[code]

[2019-03-15 01:28] vicaire commented on #930
Let me sync up with @IronPan tomorrow. I will follow up by Monday EOD (if not earlier)

[2019-03-15 05:34] ritazh commented on #957
Thanks for looking into this @Ark-kun. I applied the changes/workaround you suggested in the pipeline definition and the resulted pipeline yaml:
[code]
and the resulted pod created by the pipeline:

[code]
But I'm still getting the same error from the serving pod:

[code]

[2019-03-15 05:45] sivachama opened #973 "Unable to use TFJob in Kubeflow Pipeline, current dsl compiler have not support for TFJOBOP"
Planning to run distributed TFJOb as a stage in Kubeflow pipeline on K8 cluster on azure. When I checked  dslcompiler code, their is no support for TFJobOP. Please suggest if any work around.

[2019-03-15 20:17] gaoning777 opened #974 "Add static type checking sample test"
A full coverage at the e2e tests help to identify the problems sooner.
And, adding basic sample tests as e2e tests also help to illustrate the features.

[2019-03-15 20:33] Ark-kun commented on #973
Compiler is not a good place for a TFJob op.
Neither is DSL.
TFJob launcher is a component, that can be used to launch a trainer container.

See https://github.com/kubeflow/pipelines/blob/9511d964d5c46678d4c3fa58cd0ee406182b9ed9/components/kubeflow/launcher/kubeflow_tfjob_launcher_op.py

This comment describes how to pass the launcher and trainer arguments: https://github.com/kubeflow/pipelines/bl

[2019-03-15 20:50] Ark-kun commented on #947
I'm thinking of this. I'm not sure IPython would allow showing more information for a function object. It should be showing the component.yaml source (and it sometimes does that), but that's flaky.

I was thinking about returning a callable ComponentSpec object instead of a function. But I'm afraid it would be confusing to people (they might not know that it's callable). I'd still like to try and

[2019-03-15 20:51] Ark-kun commented on #947
It has always shown this information. Can you show a screenshot where it does not?

[2019-03-15 20:54] hongye-sun commented on #947
Here is the sample output:

`<function dataproc_submit_pig_job(project_id, region, cluster_name, queries='', query_file_uri='', script_variables='', pig_job='', job='', wait_interval='30')>`

It doesn't show component description, parameter description, parameter type, output information.

[2019-03-15 20:56] Ark-kun commented on #947
Try this in Jupyter:

[code]

then type `my_component(` and press Shift+Tab or just execute `my_component??` or `help(my_component)`. You'll get:

[code]

[2019-03-15 21:09] Ark-kun commented on #947
What does `dataproc_submit_pig_job??` show?

[2019-03-15 21:11] Ark-kun commented on #947
Well, that component does not specify types: https://github.com/kubeflow/pipelines/blob/master/components/gcp/dataproc/submit_pig_job/component.yaml

[2019-03-15 21:12] hongye-sun commented on #947
It shows component description in the doc string. Maybe we should also include inputs and outputs description in the docstring.

[2019-03-15 21:14] Ark-kun commented on #947
Component description is used to for the docstring. But function's `__str__`  does not show the docstring. You need to invoke `help(fun)` or `fun?` or `fun(` + Shift+Tab.

Docstrings are not shown that way

Yes, it might be a good idea to include those in the docstring.

[2019-03-15 21:41] Ark-kun commented on #957
There might have been some mistake in the process.
You see, I've written `'--model_base_path=s3://mybucket/models/myjob2/export/inception/'`, but it looks like you have `--model_base_path, s3://mybucket/models/myjob2/export/inception/` (note the `=` vs `, `).

Can you please check it?

P.S. You should probably pass the feedback to the program author that they should use more standard command-line

[2019-03-15 21:45] Ark-kun commented on #504
Yes, visual pipeline editing would be great.

As for the graph, I could generate it, but I'm, a bit hesitant to add more dependencies (to graphing packages) to the SDK.

[2019-03-15 21:46] Ark-kun commented on #504
Another solution would be to add IFrame to Jupyter (easy - I've checked) that shows the run page (without navigation). See https://github.com/kubeflow/pipelines/issues/182

[2019-03-15 21:52] Ark-kun commented on #834
Having an option to output .yaml will help some debugging cases and simplify some tests.

[2019-03-15 21:53] Ark-kun commented on #827
It's a bug that happens when you use `PipelineParam` in the conditional predicate.

[2019-03-15 21:56] Ark-kun commented on #825
This is caused by lack of validation in the DSL compiler. I'm on it.

[2019-03-15 21:57] swiftdiaries commented on #834
+1
@gaoning777 Would it make sense to have it as optional? So that only when end-users want a YAML file, the DSL gives them one

[2019-03-15 21:57] Ark-kun opened #977 "bazel test command does not actually run tests"
[code]

/assign @neuromage

[2019-03-15 22:00] Ark-kun commented on #431
Travis actually uses the merged code, but uses old (cached?) `.travis.yml` config that also has a bit of code and can be out of sync with the merged code.
Closing this issue in favor of https://github.com/kubeflow/pipelines/issues/929

[2019-03-15 22:00] #431 closed

[2019-03-15 22:02] #477 closed

[2019-03-15 22:12] Ark-kun commented on #780
AFAIK, Bradley has fixed that (made it possible to submit runs from a local notebook). Is this broken now?

[2019-03-15 22:57] swiftdiaries commented on #780
Right now, I think you can do something like `client = kfp.Client(host='localhost:8080/pipeline')` to authenticate to the cluster. But that requires a port-forward on the localhost.

[2019-03-16 01:58] ritazh commented on #957
@Ark-kun You are right! and that worked! Thanks alot for suggesting the changes. It might be useful to state that pipeline requires the images to use standard command-line parsing. By the way the code itself is just tensorflow serving, which requires us to pass the values this way: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/main.cc#L92

[2019-03-18 00:26] vincent-pli commented on #750
@DurivetMatthias Could you share your workflow yaml file?
I hit the same issue, the "wait" container said the path of my output stuff is not found,
I noticed in the workflow yaml file, the output stuff(/blob_path.txt in your case) is set to be parameter, so I guess there must be something wrong there.

[2019-03-18 01:19] FaustineLi opened #979 "Allow Python functions defined in a pipeline to be run as entrypoint for operations."
It would be great if lightweight components could be created in a pipeline `.py` file from functions defined inside that pipeline file. I am envisioning something like this:

[code]

For many tasks it would reduce the number of containers to build and maintain while speeding up the iteration loop. Currently there's support for a dockerless workflow in notebooks. Since our organization is trying to

[2019-03-18 01:27] FaustineLi opened #980 "Provide sample pipeline for using GPU/TPU."
As we are developing pipelines,  we have been running into issues with correctly configuring the Kubernetes cluster with the correct permissions, node pools, etc. It would be great if some simple pipelines are made available to test using GPUs/TPUs for example or a simple pipeline that tests read/write access to various resources.

[2019-03-18 08:55] DurivetMatthias commented on #750
@vincent-pli the code is at https://github.com/DurivetMatthias/examples/blob/add_pipelines/financial_time_series/tensorflow_model/ml_pipeline.py

Make sure that when the preprocessing script ends, there is a file at the specified path in output_files.
(also make sure you are not removing the file just before ending with something like `shutil.rmtree('data')`).
Kubeflow only checks for promised fil

[2019-03-18 16:59] neuromage opened #982 "Update TFX Chicago Taxi Pipeline sample to use current TFX executors"
We should update the Chicago Taxi Pipeline sample to use the images supplied by the TFX OSS library, so that we don't have to build them ourselves (and update them whenever TFX releases newer versions).

[2019-03-18 16:59] neuromage commented on #982
/assign @neuromage

[2019-03-18 18:03] neuromage commented on #977
Will be fixed by #958

[2019-03-18 18:03] #977 closed

[2019-03-18 18:06] neuromage commented on #970
The readme in #958 shows how to invoke bazel correctly.

[2019-03-18 18:06] #970 closed

[2019-03-18 18:16] neuromage opened #983 "Include TFX Chicago Taxi Pipeline example as part of API Server pre-loaded samples"
This relies on #982 being fixed first.

/assign @neuromage

[2019-03-19 15:29] aronchick opened #990 "Is there a way to specify "privileged" for a containerOp?"
cc @sethjuarez

--------------

Afaict the relevant permissions are svc-account roles and instance scopes. the latter can't be change on running nodes.

I tried updating and re-applying the cluster `.yaml` to grant the new permissions.

The svc-accts _may_ have picked up the new roles on the next pipeline run attempt.

I believe the nodes did not get the new scopes, and I had to start a fresh clus

[2019-03-19 15:31] aronchick commented on #990
/assign @gaoning777

cc @hongye-sun

[2019-03-19 15:32] aronchick commented on #990
cc @ryan-williams

[2019-03-19 15:40] ryan-williams commented on #990
I tried changing `gcp_config/cluster.jinja` (instance scopes) and `gcp_config/iam_bindings.yaml` (svc-acct roles), and re-running `kfctl.sh apply platform`.

I get this error:

[code]

In principle, it should be possible to implement such changes through k8s, but seems like that's not implemented today. Making that happen could be a good direction to take this issue, or it may warrant a separate i

[2019-03-19 16:09] hongye-sun commented on #990
Starting from kubernetes 1.10, The legacy access scope is no longer needed
if the cluster is created with custom service account. One action item is
to migrate kubeflow to use custom sa.
https://cloud.google.com/kubernetes-engine/docs/how-to/access-scopes

Changing access scope without downtime currently requires to create a new
node pool and migrate pods from old pool to new one , then delete the

[2019-03-19 16:18] ryan-williams commented on #990
Good to know!

Not sure if this is for, against, or orthogonal to what you're proposing, but maybe we should just boot instances with the full `cloud-platform` scope by default. Using svc-acct roles seems to be the preferred way to control permissions.

That should avoid the annoying problem of having to reboot instances to tweak their scopes.

Assuming svc-accts' permissions can be modified on th

[2019-03-19 16:32] hongye-sun commented on #990
If you just want to change the access level of a single container, have you tried ContainerOp(...).apply(gcp.use_gcp_secret()) to use preconfigured [GCP user sa](https://www.kubeflow.org/docs/started/getting-started-gke/#gcp-service-accounts) to talk to other GCP services? I don't think it is restricted by the oauth scope configured on the node.

Actually, kubeflow already uses custom sa in the se

[2019-03-19 16:37] ryan-williams commented on #920
I assume [editing pipelines from within JupyterHub running on the KF cluster] is the preferred way to get the kind of flow @kunmingg is probably seeking?

I've been in iteration loops where, each time I want to test, I compile a pipeline `.py` locally, upload the resulting `.tar.gz`, and start a new run with it.

Having my local `.py` just submit a run using `kfp.Client` is probably one way to imp

[2019-03-19 16:42] kunmingg commented on #920
Yes, thanks ryan
@vicaire sorry for late reply, can we update existing pipelines through UI or do we have API to make a PUT call to update pipeline?

[2019-03-19 16:54] ryan-williams commented on #990
Interesting @hongye-sun, seems like you're saying that individual containers can be given escalated/specific permissions today?

This would be great to have a full example of somewhere. If you want to leave any more breadcrumbs here that would also be appreciated 😄

[2019-03-19 17:57] hongye-sun opened #993 "Add documentation/sample about how to mount secret on ContainerOp"
We don't have any documentation explain how to use secrets in pipeline. It's worth to have a section or page and a basic sample pipeline to demonstrate it.

[2019-03-19 17:58] hongye-sun commented on #990
Yes. The details is in the code: https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/gcp.py#L15

We extensively use the GCP secret in samples. Here is [one](https://github.com/kubeflow/pipelines/blob/master/samples/resnet-cmle/resnet-train-pipeline.py#L98) of them.

Filed https://github.com/kubeflow/pipelines/issues/993 to add it into pipeline document.

[2019-03-19 19:58] Ark-kun commented on #990
It's not that the container/pod can be more privileged. But you can pass credentials to the program running inside the container and it can use those those credentials to access some service and have more access permissions.

[2019-03-19 20:30] kkasravi commented on #990
This can be done today under Profiles - where a given user is provided a namespace and a RoleBinding. The Role used for the RoleBinding currently does not allow the user to access the PodSecurityPolicy but if the [Role](https://github.com/kubeflow/kubeflow/blob/master/components/profile-controller/pkg/controller/profile/profile_controller.go#L403) were changed to

[code]

I believe that would allo

[2019-03-19 21:34] Ark-kun commented on #957
Good to hear that everything is working now.

KF Pipelines do not impose any requirements on the program or it's command-line parsing. It does not change the command-line in any way. If you use separate arguments, it will pass them separately. If you use `=`-joined arguments, kfp will pass them like that. If you write something like `+param1;-param2;@@param3==value3;$param4:=value4`, then that's e

[2019-03-19 21:35] #957 closed

[2019-03-19 21:41] Ark-kun commented on #979
JFYI, Python supports putting everything in a function.
You can put functions, classes, import statements etc inside one main function:
[code]

Does that solve your problem?

BTW, you can probably put the `my_component_func` in a separate .py file and then just import it.

[code]

JFYI, you can use `my_op = func_to_container_op(my_component_func, output_component_file='component.yaml')` to write t

[2019-03-19 23:11] hongye-sun opened #999 "Duplicated exit handler execution"
Currently exit handler generated two steps in the generated argo yaml. One is at the start of the DAG and the other as the exit step.

https://screenshot.googleplex.com/n5qsgCJn3WU

[2019-03-20 00:06] IronPan commented on #930
The travis tests are mostly unit tests. I always encourage people to add tests to prow but there is no current plan to migrate existing travis test to prow. there is no drawback and no much benefit either. we can prioritize this if people feel strong about it.

[2019-03-20 00:14] IronPan commented on #930
also travis was running twice because our project was set up with both travis.org and travis.com. i disabled .org.

[2019-03-20 01:08] #944 closed

[2019-03-20 01:53] Ark-kun opened #1000 "Properly version the Python SDK"
Currently the Python SDK always has version 0.1.
The user does not know which version do they have installed. Package manager can be confused by same versions.

We need to add proper version to `setup.py` when building the SDK.

We could make CLoudBuild write the release version to the `VERSION` file in the package and make setup.py read the version from that file.

[2019-03-20 03:33] animeshsingh opened #1003 "Artifact representation in Pipeline"
Are there any thoughts on how to define custom artifacts in pipelines which different steps can consume? For e.g. if we need to bring in a model as a typed artifact object, which a pipeline can consume, and it can be defined in DSL

[2019-03-20 07:46] Ark-kun commented on #1003
A good way that also follows Argo would be to add the `input_artifact_paths` and `output_artifact_paths` parameters to the `ContainerOp` constructor, so that it's possible to specify the artifact names and file locations where the system should place or collect them.
`output_artifact_paths={"out_art1": "/outputs/out_art1/data", ...}`
`input_artifact_paths={"in_art1": "/inputs/in_art1/data", ...}`

[2019-03-20 09:14] jinchihe commented on #241
I also met the problem today, and that can be reproduced 100%, the deployment has been blocked.

[code]

From the https://github.com/ksonnet/ksonnet/issues/883, seems the problem has been fixed in the ks v0.13.1. I think we need to upgrade ks in deployer component.

[2019-03-20 11:59] vincent-pli commented on #750
@DurivetMatthias thanks, it helped

[2019-03-20 17:16] hongye-sun commented on #1003
@animeshsingh would you mind giving us more context of your use cases about typed artifact object?

We are in an effort to support artifact metadata (including location, type and runtime data) tracking in a metadata store. For consuming artifact inside a pipeline, we are still open to advice.

[2019-03-20 21:09] Ark-kun commented on #198
Fixed in https://github.com/kubeflow/pipelines/pull/315

[2019-03-20 21:09] #198 closed

[2019-03-20 21:12] Ark-kun commented on #200
Kaniko is just Docker-in-Docker on Kubernetes. It's a full Docker running in a privileged container.

Bazel does not have full Docker support. It does not even support Dockerfile. AFAIK, it can only add files to the base image (and maybe add apt packages). It cannot `RUN` anything as it does not execute a container - it only manipulates the image.

[2019-03-20 21:12] Ark-kun commented on #200
Fixed in https://github.com/kubeflow/pipelines/pull/315

[2019-03-20 21:12] #200 closed

[2019-03-20 21:12] amygdala opened #1007 "KFP SDK: suggest retry if pipeline launch returns 500 error ('warmup' apparently required)"
I've noticed that if I use the SDK to launch a pipeline run from a python script, I very often get a http 500 error if I haven't hit that endpoint recently, with: `HTTP response body: upstream connect error or disconnect/reset before headers`.
I don't know if the root cause is IAP-related or something else. If I retry again, things are fine. Apparently some kind of 'warmup' is required.

(Btw, thi

[2019-03-20 21:39] Ark-kun commented on #186
This already works.

[2019-03-20 21:39] #186 closed

[2019-03-20 22:38] Ark-kun commented on #1007
I see the same in my browser after not using it for a while.

[2019-03-20 22:44] Ark-kun commented on #205
I confirm that this issue still exists. @gaoning777 , can you look at the pipeline parameter sanitization? Argo now allows underscores in parameter names.

[2019-03-21 00:04] vicaire commented on #920
@ryan-williams, looks like you are looking for a single command to compile a pipeline and create a run from it, correct? Are you looking for this in the Python SDK or in a CLI tool?

@kunmingg, yes we have an API. It can be called using the CLI or SDK. Would you like to be able to call the API directly?

[2019-03-21 00:10] vicaire commented on #930
Can we close the issue?

[2019-03-21 06:57] Ark-kun commented on #961
That's pretty easy to do, but I wonder about the use case. The only thing you can do with a pipeline is to upload it to KFP server and submit for execution.

Submitting single component for execution might be more useful:

[code]
or

[code]

Do you think this will cover your use case?

[2019-03-21 17:12] FaustineLi commented on #979
Awesome, I had no idea that `func_to_container_op` was a thing!

[2019-03-21 17:25] animeshsingh opened #1013 "Users should be able to add metadata to component.yaml"
currently it appears components are checked for exact match on the schema, but this can be made extensible by giving an option to pass addition attributes etc which a user may define, which is not exactly used by pipeline subsystem, but can be information which an entity can use to display things  e.g. link to logo etc...

[2019-03-21 22:44] #825 closed

[2019-03-22 01:15] Ark-kun opened #1017 "When notebook submits a run and clicks the link they get "Error: failed to retrieve run:""
We should make it so that the user does not see the error.
[code]

When the run is submitted, the client receives the run ID. So the run entry must already exist in the DB. The Frontend should see that and prevent the error.

[2019-03-22 01:19] Ark-kun commented on #979
Interesting. Did you get the term "lightweight components" from the documentation or did you just call the feature like that by yourself?

The Lightweight python components are shown in this sample [notebook](https://github.com/kubeflow/pipelines/blob/master/samples/notebooks/Lightweight%20Python%20components%20-%20basics.ipynb) which is referenced in the (scarce) [documentation](https://www.kubef

[2019-03-22 02:17] cjwagner commented on #930
Yes, I haven't seen any errors related to this recently. The problems may have been caused by the duplicate Travis CI services.
/close

Keep in mind that Tide was designed before GH checks existed so the behavior is kind of undefined.
If Tide is working for you that is great though!

[2019-03-22 19:55] Ark-kun commented on #1013
I think that having a strict schema is important and the general structure needs to be fixed, so th the components are portable and we can maintain backwards compatibility.

But.

I think that the cases you've mentioned can be covered by adding the `metadata` section to the component.yaml

In keeping it similar to kubernetes and Argo, we can have `annotations` and `labels` inside.

Would that fit

[2019-03-22 20:09] Ark-kun commented on #1013
Check the https://github.com/kubeflow/pipelines/pull/1023 PR and /lgtm if it fulfills your need.

[2019-03-22 20:16] rileyjbauer opened #1024 "Invalid memory address or nil pointer dereference in metadata_store.go"
`metadata_store.go` may need some additional nil checks. I started seeing this error after running a pipeline Ning gave me:

[code]

[2019-03-22 22:11] amygdala opened #1025 "feature request: consider component versioning"
I noticed that this change: https://github.com/kubeflow/pipelines/commit/5ccbbb9a0ca7c23aa8103568ec9f12ddc7c2bf54#diff-acbc4ac54289700274e3e3fefa0d3cbc
broke a pipeline that was using that component (because I had written the pipeline to accommodate the way that the export path worked with the original version of the component).

You are probably considering this already, but it might be useful to

[2019-03-22 22:53] Ark-kun commented on #1025
I have an extensive story on component versioning.
We'll be realizing it as the components start to arrive.
All the SDK pieces are already in place. (https://github.com/kubeflow/pipelines/pull/519) I need to add the `update_component.sh` script to the components though.

As a quick workaround, you should always pin the version of you container images in your pipeline.
You should either specify tag

[2019-03-22 22:55] Ark-kun commented on #1025
As a quick fix for your pipeline: Try adding the following tag to all you container images in the pipeline:
`a60355abac5f7a835d2ca685c6a28ac34d3079fe`
The names should look like:
```gcr.io/ml-pipeline/components/keras/train_classifier:a60355abac5f7a835d2ca685c6a28ac34d3079fe```

[2019-03-23 00:12] neuromage commented on #1024
What's the pipeline? Is this error in the API server?

[2019-03-23 00:26] rileyjbauer commented on #1024
Yes, this error is in the API server. Here is the pipeline:
[code]

[2019-03-23 00:29] hongye-sun commented on #1025
Sorry for breaking your pipeline, Amy.

I have a PR (https://github.com/kubeflow/pipelines/pull/1019) to pin  the version in component yaml. After it's in, the next step for me is to update all the samples to pin the last commit id of the component.yaml files. Later after AIHub is live, I will update the samples to use the AIHub storage links.

For now, you can wait for the PR to be in and use the

[2019-03-23 00:37] hongye-sun commented on #1025
Just noticed that Yang have already released the component by https://github.com/kubeflow/pipelines/pull/1021.

Amy, you can use https://raw.githubusercontent.com/kubeflow/pipelines/e9a65c223f34aa1181d437f07c7c37516336885e/components/gcp/ml_engine/train/component.yaml to load the component. This version will no longer be changed until you manually upgrade it.

[2019-03-23 01:20] amygdala commented on #1025
Thanks!
Hongye, I updated the pipeline logic to be compatible with the new version of that component, so no worries.  (I'll change my component URL to  point to that newer commit tag now).

The plan for versioning going forward makes sense. Since it's in the works I'll close this. Thanks for all the quick replies.

[2019-03-23 01:59] vicaire opened #1026 "Need a user interface and/or documentation for the Viewer CRD"
We need a user interface and/or documentation for the Viewer CRD:

- So that users can keep track of their instances of Tensorboard or other viewers.
- So that users do not forget to delete them once they do not need them.

Ideally, the viewer CRD should automatically terminate processes if they have not been used for a while (though this is harder to do).

[2019-03-23 02:14] vicaire commented on #844
Description of the solution:

- We need to persist logs.
- We can then automatically delete Argo workflow resources and scheduled workflow resources from the K8 etcd store once the workflows are terminated.
- We need to verify that the OWNER fields are properly set in all the resources created by the Argo workflow (for instance, if an Argo workflow creates a TF-job, the TF-job should have the Argo

[2019-03-23 04:44] Ark-kun commented on #1025
Reopening to track the versioning issue until it's solved.

[2019-03-23 16:57] neuromage commented on #1024
Thanks Riley. I figured out the problem. Will send out a fix with a corresponding test in a short while.

[2019-03-23 19:22] #750 closed

[2019-03-23 19:23] Svendegroote91 commented on #750
Thanks @DurivetMatthias for the fix, closing the issue.

[2019-03-23 23:27] #1013 closed

[2019-03-24 03:40] jlewi opened #1029 "Remove link to JupyterHub from pipelines UI"
In 0.5 we are removing JupyterHub from Kubeflow and replacing it with a new UI for managing notebooks.

We should remove the link in the pipelines UI that is redirecting to JupyterHub.

![jupyterhub](https://user-images.githubusercontent.com/777219/54874584-89505380-4dab-11e9-8169-8ad109d7e519.png)

I think we can remove the link and not just update it because with 0.5 we have a central navigation

[2019-03-24 03:41] jlewi commented on #1029
/cc @avdaredevil @rileyjbauer

[2019-03-25 17:18] gaoning777 opened #1033 "Create a separate sample to illustrate component build"

[2019-03-25 17:22] gaoning777 opened #1034 "DSL samples to illustrate the full set of features"
Create more samples to fully cover the DSL features:
Volume mount: https://github.com/kubeflow/pipelines/issues/566
Python2 component build: https://github.com/kubeflow/pipelines/issues/1033
Secret Mount: https://github.com/kubeflow/pipelines/issues/993
Local Storage: https://github.com/kubeflow/pipelines/issues/721
Imagepullsecrets: https://github.com/kubeflow/pipelines/issues/1036
Execution orde

[2019-03-25 17:25] #263 closed

[2019-03-25 17:28] gaoning777 opened #1035 "Remove the dependency of gcs for component build"
The current component build requires the gcs to store the temporary build files.
Another option is the configmap for kaniko build files.

[2019-03-25 17:32] gaoning777 opened #1036 "Add a sample to illustrate the imagepullsecret in DSL"

[2019-03-25 18:37] gaoning777 commented on #205
The naming sanitization is necessary to convert the python names to argo compatible names.
The next argo release should support underscores and we do not need the underscore to dash conversion.

[2019-03-25 20:21] Ark-kun commented on #948
Interesting. I did not notice the images mentioning KF version in addition to the tensorflow version and flavor.

Nevertheless, there is probably not much KF or KFP-specific in those images, so the version does not really matter. You should probably try using the latest version of the KFP package by running

[code]
in the notebook. See the [releases](https://github.com/kubeflow/pipelines/releases)

[2019-03-25 20:39] gaoning777 commented on #979
Note that we also have a component decorator(https://github.com/kubeflow/pipelines/blob/d2f5cc92a46012b9927209e2aaccab70961582dc/sdk/python/kfp/dsl/_component.py#L56). Maybe use that instead of the func_to_container_op because we currently use the func_to_container_op internally.

[2019-03-25 21:05] vicaire commented on #844
Short term workaround from @amygdala

To clean up PODs:
- Install the Argo CLI
- Use the command: argo delete -n kubeflow --all
- A downside, of course, is that you can no longer look at those pod logs in the UI.

[2019-03-25 22:25] rileyjbauer opened #1040 "Differentiate between Failed and Terminated runs on list pages"
The way termination is done and handled by Argo is a bit touchy, and they don't provide a `Terminated` status. Instead, the run has the status `Failed` and includes the exact error message `'terminated'`. This is how we distinguish between the two on the frontend. However, this information is not currently available through the list APIs, which is why on the list pages, terminated runs will have t

[2019-03-25 22:44] rileyjbauer commented on #1026
Is there design work here?
@ajayalfred

[2019-03-25 23:25] gaoning777 commented on #834
https://github.com/kubeflow/pipelines/pull/855

[2019-03-26 01:58] vicaire commented on #959
The ongoing work on the metadata store for Kubeflow will address this:

 bit.ly/kf-meta

[2019-03-26 01:58] #959 closed

[2019-03-26 02:01] vicaire commented on #961
+1

For instance:
- Creating a pipeline with a single step using a TF-job should be as easy as running a TF-job directly using fairing.
- Same for a Katib job.

[2019-03-26 02:03] vicaire commented on #973
+1 on the feature request.

We should make it easy to run a TF-job using pipeline by providing a component.

[2019-03-26 02:06] vicaire commented on #974
@gaoning777, could you please provide more details on the scope of this issue? Is it about improving e2e test coverage for everything? Or just some particular features or samples?

[2019-03-26 02:09] vicaire commented on #979
Looks like this is resolved. Please reopen if this is not the case.

[2019-03-26 02:09] #979 closed

[2019-03-26 02:13] vicaire commented on #980
This issue is a bit broad. Let's focus this issue on providing samples for TPU and GPU. Please file additional bugs for other samples that are missing. If you would like to see a sample to access various resources, please file a bug specific to the resource for which you would like to see a sample. Thanks!

[2019-03-26 02:26] vicaire commented on #999
Could you please clarify the issue? I am not sure what this is about. Thanks!

[2019-03-26 02:54] vicaire commented on #1000
Could you please provide more details on what needs to be done?

[2019-03-26 03:01] vicaire commented on #1017
Could you please provide more details? Why not fixing the error itself for instance?

[2019-03-26 03:04] vicaire commented on #1026
Yes, there should be design work needed.

[2019-03-26 03:15] vicaire commented on #768
@IronPan, #768 is this issue. Could you please clarify?

[2019-03-26 03:28] vicaire commented on #804
Closing as a duplicate of https://github.com/kubeflow/pipelines/issues/812

Please reopen if it is not the case.

[2019-03-26 03:28] #804 closed

[2019-03-26 03:29] vicaire commented on #807
Was it done? Can it be resolved?

[2019-03-26 03:32] hongye-sun commented on #807
Yes. It's done.

[2019-03-26 03:32] #807 closed

[2019-03-26 03:32] vicaire commented on #818
Resolving since this issue has been inactive for a while. Please re-open if needed.

[2019-03-26 03:32] #818 closed

[2019-03-26 03:33] vicaire commented on #820
Resolving since this issue as been inactive for a while. Please reopen as needed.

[2019-03-26 03:33] #820 closed

[2019-03-26 03:34] vicaire commented on #824
Resolving since it has been inactive for a while. Please reopen if needed.

[2019-03-26 03:34] #824 closed

[2019-03-26 03:39] vicaire commented on #973
Closing this issue as a duplicate of https://github.com/kubeflow/pipelines/issues/677

[2019-03-26 03:39] #973 closed

[2019-03-26 03:39] vicaire commented on #408
Closing this issue as a duplicate of #677

[2019-03-26 03:39] #408 closed

[2019-03-26 03:40] vicaire commented on #407
Closing this issue as a duplicate of #677

[2019-03-26 03:40] #407 closed

[2019-03-26 03:40] vicaire commented on #294
Closing this issue as a duplicate of #677

[2019-03-26 03:40] #294 closed

[2019-03-26 03:40] vicaire commented on #848
Closing this issue as a duplicate of #677

[2019-03-26 03:40] #848 closed

[2019-03-26 03:41] vicaire commented on #854
Can we close this issue?

[2019-03-26 03:42] vicaire commented on #865
Can this be closed?

[2019-03-26 03:44] vicaire commented on #869
This should be fixed once we garbage collect the Kubernetes resources (i.e. workflows) that have been terminated. Resolving as a duplicate of https://github.com/kubeflow/pipelines/issues/844

[2019-03-26 03:44] #869 closed

[2019-03-26 03:45] vicaire commented on #872
Resolving since it has been open for a while. Please reopen if more help is needed.

[2019-03-26 03:45] #872 closed

[2019-03-26 03:46] vicaire commented on #873
/cc @neuromage

As part of this, should we also restore the vendor directory in the repo for GO dependencies?

[2019-03-26 03:48] vicaire commented on #875
Did the PR solve the issue? Can this be closed? If not, what is the work left? Thanks.

[2019-03-26 03:49] vicaire commented on #881
Resolving. Please reopen if anything else is needed.

[2019-03-26 03:49] #881 closed

[2019-03-26 03:53] vicaire commented on #910
Should this be an issue filed in the Kubeflow repo that create the image for notebooks?

[2019-03-26 03:55] vicaire commented on #911
I would suggest to start a discussion with the Kubeflow community in the repo that creates the Jupyter image.

[2019-03-26 03:55] #911 closed

[2019-03-26 03:58] vicaire commented on #927
@IronPan, is this addressed by the work to update the cluster with the latest version of Kubeflow?

[2019-03-26 04:00] vicaire commented on #929
Can this be closed?

[2019-03-26 04:03] vicaire commented on #844
As @animeshsingh suggested in https://github.com/kubeflow/pipelines/issues/940, we could use the latest Argo executor to save logs to S3/GCS persistent volume when the archiving flag is enabled.

[2019-03-26 04:03] vicaire commented on #940
Added your suggestion to https://github.com/kubeflow/pipelines/issues/844

Resolving in favor of https://github.com/kubeflow/pipelines/issues/844

[2019-03-26 04:03] #940 closed

[2019-03-26 04:06] vicaire commented on #948
Looks like this can be close. Please reopen if there is any oustanding items.

[2019-03-26 04:06] #948 closed

[2019-03-26 04:07] vicaire commented on #949
/cc @IronPan who is working on Cloud SQL support.

[2019-03-26 04:12] vicaire commented on #951
Thanks @gyliu513. This is a very interesting proposal. We need to compare the feature set with Argo. I am not sure that it would make sense to support two pipeline resources if the feature set if similar. What do you think?

[2019-03-26 04:15] vicaire commented on #467
Riley or Pavel, do you are more details on this one? I am not exactly sure of what the scope would be.

Is it about versions of the pipeline system?

Or is it about versioned pipelines?

[2019-03-26 04:17] vicaire commented on #473
Resolving since inactive for a while. Please reopen if needed.

[2019-03-26 04:17] #473 closed

[2019-03-26 04:18] vicaire commented on #475
Assuming that this has been resolved. Please reopen if it is not the case.

[2019-03-26 04:18] #475 closed

[2019-03-26 04:18] vicaire commented on #479
Looks like this has been resolved.

[2019-03-26 04:18] #479 closed

[2019-03-26 04:19] vicaire commented on #480
Riley, is there anything left to do on this one? Can we close?

[2019-03-26 04:20] vicaire commented on #482
What is the status on this?

[2019-03-26 04:22] vicaire commented on #488
Can this be closed?

[2019-03-26 04:24] vicaire commented on #494
Is this fixed by your PR? Can this be closed?

[2019-03-26 04:25] vicaire commented on #497
+1

This could be used to generate visualization based on the execution of a notebook.

[2019-03-26 04:26] vicaire commented on #501
Riley, do you know if this is still an issue? Can we close?

[2019-03-26 04:30] vicaire commented on #505
Has this been resolved?

[2019-03-26 04:31] vicaire commented on #506
Should we have API support for this as well? (@IronPan)

[2019-03-26 04:33] vicaire commented on #516
It makes sense to me to expose POD/container features in the DSL. Is there a way we could expose all these features all at once?

[2019-03-26 04:36] vicaire commented on #533
Resolving in favor of https://github.com/kubeflow/pipelines/issues/677

[2019-03-26 04:36] #533 closed

[2019-03-26 04:38] vicaire commented on #534
@IronPan, is this resolved now? Can we close?

[2019-03-26 04:42] vicaire commented on #1034
@gaoning777, I am assigning the DSL sample issues to illustrate features to you. Please reassign to the most appropriate person as needed.

[2019-03-26 04:43] vicaire commented on #1036
@gaoning777, I am assigning the DSL sample issues to illustrate features to you. Please reassign to the most appropriate person as needed.

[2019-03-26 04:43] vicaire commented on #721
@gaoning777, I am assigning the DSL sample issues to illustrate features to you. Please reassign to the most appropriate person as needed.

[2019-03-26 04:43] vicaire commented on #993
@gaoning777, I am assigning the DSL sample issues to illustrate features to you. Please reassign to the most appropriate person as needed.

[2019-03-26 04:44] vicaire commented on #1033
@gaoning777, I am assigning the DSL sample issues to illustrate features to you. Please reassign to the most appropriate person as needed.

[2019-03-26 04:44] vicaire commented on #566
@gaoning777, I am assigning the DSL sample issues to illustrate features to you. Please reassign to the most appropriate person as needed.

[2019-03-26 04:46] vicaire commented on #577
Resolving in favor of https://github.com/kubeflow/pipelines/issues/336

[2019-03-26 04:46] #577 closed

[2019-03-26 04:46] #587 closed

[2019-03-26 04:47] vicaire commented on #591
Resolving since inactive for several months. Please reopen if needed.

[2019-03-26 04:47] #591 closed

[2019-03-26 04:48] vicaire commented on #592
Resolving since inactive for several months. Please reopen if needed.

[2019-03-26 04:48] #592 closed

[2019-03-26 04:48] vicaire commented on #593
Is this working now? Can it be closed?

[2019-03-26 04:49] vicaire commented on #596
Resolving since this is an issue in beam.

[2019-03-26 04:51] vicaire commented on #606
What is the status on this one?

[2019-03-26 04:52] vicaire commented on #610
Resolving since inactive for 2 months. Please reopen if needed.

[2019-03-26 04:52] #610 closed

[2019-03-26 04:54] vicaire commented on #643
Can this be closed?

[2019-03-26 04:56] vicaire commented on #647
Can this be closed?

[2019-03-26 05:00] vicaire commented on #665
Note: instead of documentation on the website, it seems that having good samples would be a good option (assuming small samples, each documenting a particular feature).

[2019-03-26 05:01] vicaire commented on #673
Is this resolved? Can we close?

[2019-03-26 05:03] vicaire commented on #680
Still pending on the Argo side.

[2019-03-26 05:08] vicaire commented on #686
resolving in favor of https://github.com/kubeflow/pipelines/issues/677

[2019-03-26 05:08] #686 closed

[2019-03-26 05:10] #700 closed

[2019-03-26 05:12] vicaire commented on #706
Resolving since there does not seem to be any next action to take. Please re-open if something else is needed.

[2019-03-26 05:12] #706 closed

[2019-03-26 05:13] vicaire commented on #708
Resolving in favor of related issues. Please re-open if needed.

[2019-03-26 05:13] #708 closed

[2019-03-26 05:14] vicaire commented on #725
Resolving in favor of https://github.com/kubeflow/pipelines/issues/651

[2019-03-26 05:14] #725 closed

[2019-03-26 05:18] vicaire commented on #753
@gyliu513, could you re-file this issue in the Kubeflow / Core repo as this seems independent from Kubeflow/pipelines.

Closing this one. Please reopen if anything else is needed.

[2019-03-26 05:18] #753 closed

[2019-03-26 05:29] vicaire commented on #443
Can we close this?

[2019-03-26 05:30] vicaire commented on #443
Assuming that this is done. Please re-open if it is not the case.

[2019-03-26 05:30] #443 closed

[2019-03-26 06:46] gyliu513 commented on #951
@vicaire Seems the goal of https://github.com/tektoncd/pipeline is to build a K8s-native Pipeline resource, tekton pipeline is also a project of CDF https://cd.foundation/ , so the tekton pipeline seems deserve to check more ;-)

[2019-03-26 13:04] tidylobster commented on #908
I have the same issue except that I don't have to wait for an hour for this to occur. It happens in a few seconds after performing some actions.

[2019-03-26 13:58] aronchick commented on #596
I understand our desire to close these issues, but I'd like to suggest we take ownership over the problem. Obviously, most Kuebfolw deployments will run against S3, rather than GCP, so most deployments will now be a problem.

[2019-03-26 14:03] aronchick commented on #596
At _LEAST_ we should file it as a bug over there. Are the TFX aware of the issue?

@mameshini - would you mind filing a bug?

[2019-03-26 14:20] neuromage commented on #906
Yep, hardcoded paths aren't great. This is going away soon now that we've settled on using an SDK to record output artifacts. Let's leave this open until that's fixed so users are aware of it.

I'm curious though, why was it ever ok to do this with the artifacts like metrics and ui metadata? Won't we run into the same problem in those cases as well?

[2019-03-26 16:29] neuromage commented on #873
@vicaire That won't be necessary. The Go dependencies are already pinned via the `go.mod` file and the Bazel WORKSPACE file. Both specify the versions of the dependent libraries to use.

If I switch everything to Bazel (including the samples), this will be even better IMO :-)

[2019-03-26 16:32] mameshini commented on #596
@aronchick We are currently implementing a storage management approach that mounts S3 bucket as Kubernetes volume, using s3fs dynamic provisioner.  It's not just Apache Beam, it's Keras and other libraries that can't handle S3 or Minio.  We can mount S3/GCS/Minio buckets as volumes and access them as Posix file system, with an optional caching layer. I can share working examples soon, fingers cros

[2019-03-26 16:54] rileyjbauer commented on #590
This was completed by #670

[2019-03-26 16:54] #590 closed

[2019-03-26 17:03] hongye-sun commented on #643
It's resolved.

[2019-03-26 17:03] #643 closed

[2019-03-26 17:06] hongye-sun commented on #999
Yes, the exit handler step will be executed twice in a pipeline. The first one is executed at the start of the pipeline and the second one is executed at the end of the pipeline. The second one is expected but the first one is not. The fix should remove the first step from the generated argo spec.

[2019-03-26 17:07] hongye-sun commented on #795
This has been resolved by inline markdown view that Yasser added a few weeks back.

[2019-03-26 17:07] #795 closed

[2019-03-26 17:11] hongye-sun commented on #647
We still have the sdk version hard coded in the doc: https://www.kubeflow.org/docs/pipelines/sdk/install-sdk/.

[2019-03-26 17:11] hongye-sun commented on #485
This has been supported.

[2019-03-26 17:11] #485 closed

[2019-03-26 17:17] hongye-sun commented on #593
This has been covered by the new deploy component: https://github.com/kubeflow/pipelines/tree/master/components/gcp/ml_engine/deploy

The component outputs: a) the found gcs path to the model file; b) the full version resource name
It also display online prediction instructions in a markdown viewer which demonstrate the command line and oauth playground link to invoke online prediction.

[2019-03-26 17:17] #593 closed

[2019-03-26 17:30] fenghejingchi commented on #680
Is it in progress or not in the roadmap yet?

[2019-03-26 17:48] hongye-sun commented on #680
@fenghejingchi

The FR requires change on Argo side. It's currently not in our roadmap yet. Any help from community is very welcome.

[2019-03-26 18:00] aronchick commented on #596
+1!

@vicaire I would suggest we reopen - we need a solution here.

[2019-03-26 18:37] vicaire commented on #457
Is this still an issue?

[2019-03-26 18:38] vicaire commented on #456
Is this still an issue?

[2019-03-26 18:40] vicaire commented on #452
Closing as obsolete.

[2019-03-26 18:42] vicaire commented on #5
Resolving since Argo provides the needed retries.

[2019-03-26 18:42] #5 closed

[2019-03-26 18:46] vicaire commented on #336
The current plan is to support
1) volumes
2) containers handling storage on their own.

There seems to be a couple difficulties with Argo artifact storage feature:
1) The data is only available at the end of the container execution.
2) It takes a while to transmit data from one step of a workflow to another (requires upload then download)
3) If I remember correctly, there is a size limit.

A volum

[2019-03-26 19:40] vicaire commented on #15
Removing old PODs and workflows will be done as part of https://github.com/kubeflow/pipelines/issues/844

Resolving as duplicate.

[2019-03-26 19:40] #15 closed

[2019-03-26 19:41] vicaire commented on #49
Can we close this one?

[2019-03-26 19:41] vicaire commented on #52
Riley, is this still needed? Can we close?

[2019-03-26 19:45] vicaire commented on #62
Closing as suggested by Yasser.

[2019-03-26 19:45] vicaire commented on #64
Looks like this is working as intended. Resolving

[2019-03-26 19:45] #64 closed

[2019-03-26 19:48] vicaire commented on #78
The Argo yaml should have the information describing what the exit handlers are. Could the UI extract this information from the Argo yaml instead of relying on some special convention with the DSL? Since users will be able to specify the yaml without the DSL, this seems needed.

[2019-03-26 19:49] swiftdiaries commented on #651
Sorry for the late reply.

The overall idea is sound. I found this thread on [kubeflow-discuss](https://groups.google.com/forum/#!topic/kubeflow-discuss/VcqWvJvwnh4) quite interesting on how Argo Events is integrated with Argo Workflow at GitHub.

Also, what is the status for this? If there are tasks to be done, happy to work together on this one

[2019-03-26 19:50] vicaire commented on #80
It seems that we have this now.

[2019-03-26 19:50] #80 closed

[2019-03-26 19:50] vicaire commented on #93
Resolving in favor of https://github.com/kubeflow/pipelines/issues/844

[2019-03-26 19:50] #93 closed

[2019-03-26 19:51] vicaire commented on #115
Yang, is this one resolved? Can we close?

[2019-03-26 19:52] vicaire commented on #122
Looks like the fix has been checked in

[2019-03-26 19:52] #122 closed

[2019-03-26 19:53] vicaire commented on #123
Yang, can we close this one?

[2019-03-26 19:56] vicaire commented on #154
Riley, is this one still an issue?

[2019-03-26 19:57] vicaire commented on #161
Yang, do you think we should have API support for this as well?

[2019-03-26 19:59] vicaire commented on #162
+1

I don't think the API server should automatically trim spaces. This would be a feature for the front-end.

[2019-03-26 20:00] vicaire commented on #170
Resolving as type checking will take care of this.

[2019-03-26 20:00] #170 closed

[2019-03-26 20:04] vicaire commented on #406
@IronPan, can you provide more details? I do not understand this issue really well.

[2019-03-26 20:06] vicaire commented on #409
@IronPan, is this fixed as part of the Kubeflow/Pipeline upgrade story?

[2019-03-26 20:10] vicaire commented on #418
@hongye-sun, is this fixed as part of your work on GCP components?

[2019-03-26 20:12] vicaire commented on #420
Resolving in favor of https://github.com/kubeflow/pipelines/issues/780

[2019-03-26 20:12] #420 closed

[2019-03-26 20:14] vicaire commented on #428
@Ark-kun, is this bug fixed?

[2019-03-26 20:18] vicaire commented on #436
@Ark-kun, have the tests been implemented? Can we resolve?

[2019-03-26 20:19] vicaire commented on #444
@Ark-kun, what is the status on this? Can we close?

[2019-03-26 20:26] vicaire commented on #395
@IronPan, do you have an update on this one?

[2019-03-26 20:27] vicaire commented on #372
Assuming that this is resolved and closing.

[2019-03-26 20:27] #372 closed

[2019-03-26 20:31] vicaire commented on #363
Resolving as this will be covered by the pipeline yaml that will capture argo yaml + metadata.

[2019-03-26 20:43] vicaire commented on #360
Would it be possible to come up with a structure so that for each component:
- There is a directory
- There is notebook that demonstrates how to use the component in that directory.
- The notebook also provides the documentation.
- The notebook also provides tests.
- The notebook is automatically run by the test infrastructure.

[2019-03-26 20:51] vicaire commented on #359
@IronPan, did we cover this as part of the persistence storage story for kubeflow/pipeline?

[2019-03-26 20:52] vicaire commented on #356
Closing as there is another issue on this.

[2019-03-26 20:52] #356 closed

[2019-03-26 20:52] vicaire commented on #356
Resolving in favor of https://github.com/kubeflow/pipelines/issues/455

[2019-03-26 20:53] vicaire commented on #355
Resolving in favor of https://github.com/kubeflow/pipelines/issues/455

[2019-03-26 20:53] #355 closed

[2019-03-26 20:55] vicaire commented on #352
Resolving since this has been idle for a while. Please reopen if this is still an issue.

[2019-03-26 20:55] #352 closed

[2019-03-26 20:56] vicaire commented on #348
Resolving as this has been inactive for several months. Please reopen if this is still an issue.

[2019-03-26 20:56] #348 closed

[2019-03-26 21:24] vicaire commented on #949
PR: https://github.com/kubeflow/pipelines/pull/879

[2019-03-26 21:28] vicaire commented on #949
Increase the priority as Michelle needs this urgently.

[2019-03-26 21:50] vicaire commented on #175
Resolving as cloning pipelines is supported (whether they are created/run from notebooks or from the UI). Please re-open if there is any outstanding issues.

[2019-03-26 21:50] #175 closed

[2019-03-26 21:51] vicaire commented on #184
Resolving as this has been idle for several months.

[2019-03-26 21:51] #184 closed

[2019-03-26 21:51] vicaire commented on #191
Assuming that this is resolved now.

[2019-03-26 21:51] #191 closed

[2019-03-26 21:52] vicaire commented on #192
@IronPan, is this issue resolved? Can we close?

[2019-03-26 21:52] vicaire commented on #197
duplicate of https://github.com/kubeflow/pipelines/issues/192

[2019-03-26 21:52] #197 closed

[2019-03-26 21:55] Ark-kun commented on #1000
Done.

[2019-03-26 21:55] vicaire commented on #203
Resolving in favor of https://github.com/kubeflow/pipelines/issues/360

[2019-03-26 21:55] #203 closed

[2019-03-26 21:56] Ark-kun commented on #1017
I think that the problem is well-known and reproducible. I'm just adding a tracking item.

[2019-03-26 21:57] vicaire commented on #204
@hongye-sun, I am guessing that this will be resolved as part of this PR: https://github.com/kubeflow/pipelines/pull/879. Could you please confirm?

[2019-03-26 21:58] vicaire commented on #206
resolving as duplicate: https://github.com/kubeflow/pipelines/issues/780

[2019-03-26 21:58] #206 closed

[2019-03-26 21:59] vicaire commented on #207
I don't think that is something we will support. Resolving.

[2019-03-26 21:59] #207 closed

[2019-03-26 21:59] vicaire commented on #215
Assuming that this is resolved.

[2019-03-26 21:59] #215 closed

[2019-03-26 22:00] hongye-sun commented on #204
Yes.

[2019-03-26 22:02] vicaire commented on #308
Resolving as it has been idle for several months.

[2019-03-26 22:02] #308 closed

[2019-03-26 22:03] vicaire commented on #311
Resolving. Please reopen if anything is missing.

[2019-03-26 22:03] #311 closed

[2019-03-26 22:04] vicaire commented on #321
Assuming that this is resolved. Please reopen if anything is outstanding.

[2019-03-26 22:04] #321 closed

[2019-03-26 22:06] vicaire commented on #322
Assuming that this has been done as part of the design changes before the initial release to OSS. Please reopen if not the case.

[2019-03-26 22:14] vicaire commented on #325
@rileyjbauer, can we close? Is this already implemented?

[2019-03-26 22:19] vicaire commented on #329
Assuming that this is resolved since it has been idle for a long time. Please re-open if there is still an issue.

[2019-03-26 22:19] #329 closed

[2019-03-26 22:24] vicaire commented on #330
Resolving as this has been idle for a while. Please re-open if there is still an issue.

[2019-03-26 22:24] #330 closed

[2019-03-26 23:08] #834 closed

[2019-03-27 00:04] Ark-kun opened #1050 "Travis merge concurrency issue"
I've discovered an issue in Travis which leads to incompatible changes to be merged to master.

The following PRs (https://github.com/kubeflow/pipelines/pull/855 and https://github.com/kubeflow/pipelines/pull/1048 ) were allowed to be merged. The PRs were incompatible with each other and broke master and presubmit tests after being merged:

https://travis-ci.com/kubeflow/pipelines/jobs/188014163
h

[2019-03-27 00:39] rileyjbauer commented on #1040
Is this really a p0? It's not ideal, but it's not really critical.

I filed an issue on the Argo repo to potentially address it on that end:
https://github.com/argoproj/argo/issues/1289

[2019-03-27 00:39] Ark-kun opened #1051 "Exit handler task does not have proper name in the UX"
![image](https://user-images.githubusercontent.com/1829149/55042291-1387fa00-4fee-11e9-8d94-8da3f5e6f389.png)

The task should be shown as something like: "Exit handler: Delete cluster".

[2019-03-27 01:08] vicaire commented on #220
Should it really be admin? Is there a way we could grant lesser privileges?

[2019-03-27 01:08] Ark-kun opened #1052 "Error: Maximum number of service accounts on project reached."
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1047/kubeflow-pipeline-e2e-test/1110706805685620742
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1047/kubeflow-pipeline-e2e-test/1110710327760130051
[code]

[2019-03-27 01:09] vicaire commented on #222
@rileyjbauer, has this already been implemented? Can we close?

[2019-03-27 01:09] vicaire commented on #223
Assuming that this has been resolved.

[2019-03-27 01:09] #223 closed

[2019-03-27 01:11] vicaire commented on #224
@rileyjbauer, can this be closed or is there some work remaining?

[2019-03-27 01:11] ajayalfred commented on #1026
I'll setup a meeting to discuss scope of the design work.

[2019-03-27 01:12] #225 closed

[2019-03-27 01:15] vicaire commented on #227
Closing in favor of https://github.com/kubeflow/pipelines/issues/525

[2019-03-27 01:15] #227 closed

[2019-03-27 01:16] vicaire commented on #236
Resolving since this discussion took place many months ago. Please re-open if needed.

[2019-03-27 01:17] vicaire commented on #237
Resolving in favor of https://github.com/kubeflow/pipelines/issues/506

[2019-03-27 01:17] #237 closed

[2019-03-27 01:18] vicaire commented on #241
Assuming that this has been resolved since it has been idle for a long time. Please re-open if it is not the case.

[2019-03-27 01:19] vicaire commented on #247
Resolving. As @hongye-sun pointed out, users may need to delete runs permanently for one reason or another.

[2019-03-27 01:19] #247 closed

[2019-03-27 01:21] vicaire commented on #249
Assigning to @ajayalfred to comment on whether this is something we would like to have from the UX perspective.

[2019-03-27 01:22] vicaire commented on #250
Resolving since this has been idle for a while. Please re-open if this is still needed or hasn't been fixed.

[2019-03-27 01:24] vicaire commented on #252
Can this be close? Is it still an issue?

[2019-03-27 01:24] vicaire commented on #253
Resolving as Kubeflow/core is taking care of deployment now. Please re-open if needed.

[2019-03-27 01:24] #253 closed

[2019-03-27 01:25] vicaire commented on #254
Resolving since there is no outstanding item.

[2019-03-27 01:25] #254 closed

[2019-03-27 01:28] vicaire commented on #256
@rileyjbauer, is there anything left to do on this one?

[2019-03-27 01:29] vicaire commented on #257
@rileyjbauer, is there any work left on this once? Can we close?

[2019-03-27 01:31] vicaire commented on #274
Resolving in favor of https://github.com/kubeflow/pipelines/issues/801

[2019-03-27 01:31] #274 closed

[2019-03-27 01:31] vicaire commented on #275
Resolving in favor of https://github.com/kubeflow/pipelines/issues/801

[2019-03-27 01:31] #275 closed

[2019-03-27 01:37] vicaire commented on #332
Assuming that this as been fixed. Please re-open if it is not the case.

[2019-03-27 01:37] #332 closed

[2019-03-27 01:49] vicaire commented on #1051
Looks like a duplicate of https://github.com/kubeflow/pipelines/issues/78

[2019-03-27 01:51] jinchihe commented on #241
@vicaire I met the problem recently, and block the following steps. I created one PR #1005 to fix this, but has not merged yet. Thanks.

[2019-03-27 03:52] vicaire commented on #951
Sounds good. We will have a look at Tekton.

[2019-03-27 03:54] vicaire commented on #873
SG. Thanks @neuromage

[2019-03-27 03:56] vicaire commented on #999
Thanks. Updated the area/priority

[2019-03-27 03:59] vicaire commented on #596
Got it.

Apologies. Looks like I misunderstood the issue. Reopening. Having things working with S3 is a high priority for us.

[2019-03-27 04:03] vicaire commented on #596
Note: Related to volume support: https://github.com/kubeflow/pipelines/issues/801

[2019-03-27 04:03] vicaire commented on #596
@mameshini, we are looking forward to your example. Thanks!

[2019-03-27 04:07] vicaire commented on #651
@swiftdiaries,

The metadatastore is currently being designed with collaboration from the KF community.

We could start by looking at the best way to integrate Argo events with KFP for common use cases. Adding the "help wanted" flag. Contributions/Proposals are welcome.

[2019-03-27 04:10] vicaire commented on #1000
Thank you. Increasing the priority since that seems quite important.

[2019-03-27 04:13] vicaire commented on #204
Thanks!

[2019-03-27 04:13] vicaire commented on #204
Pending  #879.

[2019-03-27 04:22] vicaire commented on #241
Thanks @jinchihe. Apologies for closing this.

[2019-03-27 05:14] #241 closed

[2019-03-27 05:21] rileyjbauer commented on #78
IIRC, the problem is that the DSL and Argo don't have exactly the same conception of exit handlers. Argo supports exit handlers via the `onExit` key which just points to a template to run after the workflow has otherwise ended, but as I mentioned above, the DSL explicitly wraps the entire pipeline in an exit handler in the form of a DAG template. I do not know exactly why this is done

[2019-03-27 05:25] rileyjbauer commented on #1051
I think this is different. #78 is more about the output of the DSL and the interface between that output and the frontend. This is more just a question of if we can come up with a friendlier name for these nodes, which I believe we can, something like `onExit - TEMPLATE_NAME`

@ajayalfred we style exit handler nodes in the static graph like this:
![image](https://user-images.githubusercontent.com/

[2019-03-27 11:21] yingfeng opened #1053 "How to support continuous online learning?"
The existing samples demostrate how to deploy a pipeline where given data is sent to feature engineering component, followed by a training as well as prediction. However, in many cases, online learning or continuous learning is required which means data comes as a stream, as a result, orchestrating a streaming based pipeline is required, what's more, the prediction server should be 7*24 available

[2019-03-27 16:22] vicaire commented on #1051
Thanks for the clarification @rileyjbauer.

[2019-03-27 16:25] vicaire commented on #78
Thank you for the clarification @rileyjbauer.

[2019-03-27 16:34] neuromage commented on #1024
@rileyjbauer I believe the problem is fixed. Would you mind trying this out again from master and verify that it works? Thanks!

[2019-03-27 17:19] IronPan commented on #927
this is not the kubeflow deployment. it's the component code to start tf-serving pod.

I am not entirely sure why we need to list pod name, and get pod status.
Getting deployment level health status should be good enough.
And to pull logs for all pods, we can do
[code]

[2019-03-27 17:20] IronPan commented on #927
Forward this to @hongye-sun in case I miss anything.

[2019-03-27 17:21] IronPan commented on #893
dup https://github.com/kubeflow/pipelines/issues/1052

[2019-03-27 17:21] #893 closed

[2019-03-27 17:21] IronPan commented on #865
/close

[2019-03-27 17:21] #865 closed

[2019-03-27 17:21] IronPan commented on #854
/close

[2019-03-27 17:21] #854 closed

[2019-03-27 17:22] IronPan commented on #831
this seems not happening recently. close for now

[2019-03-27 17:22] IronPan commented on #831
/close

[2019-03-27 17:22] #831 closed

[2019-03-27 17:25] IronPan commented on #768
oops wrong link. here is the fix https://github.com/kubeflow/kubeflow/pull/2409

[2019-03-27 17:25] #768 closed

[2019-03-27 17:27] IronPan commented on #685
@rileyjbauer Since yasser left, could you help verify we can still create runs without experiment? I suggest we don't enable this functionality if it's not being used, or easy to disable in frontend. instead I think we should create a default experiment and use that in case people want to skip creating one.

[2019-03-27 17:29] IronPan commented on #684
I would suggest we justify the user scenario first. @rileyjbauer could you help drive this?

[2019-03-27 17:36] IronPan commented on #488
/close

[2019-03-27 17:36] #488 closed

[2019-03-27 17:36] IronPan commented on #534
/close

[2019-03-27 17:36] #534 closed

[2019-03-27 17:36] IronPan commented on #673
/close

[2019-03-27 17:36] #673 closed

[2019-03-27 17:40] IronPan commented on #647
Yeah I would suggest use a placeholder and a link to release page too.

[2019-03-27 17:40] IronPan commented on #647
Jupyter hub image don't release weekly so the SDK version there will be outdated too.

[2019-03-27 17:41] IronPan commented on #505
No this is still an improvement to be done.

[2019-03-27 17:50] IronPan commented on #455
/close

[2019-03-27 17:50] #455 closed

[2019-03-27 17:53] IronPan commented on #409
bootstrapper is now deprecated.

[2019-03-27 17:53] #409 closed

[2019-03-27 17:53] IronPan commented on #406
the gcp samples now mount gcp credentials so this is done.

[2019-03-27 17:53] #406 closed

[2019-03-27 17:54] IronPan commented on #395
this is done as part of pipeline upgrade.

[2019-03-27 17:54] #395 closed

[2019-03-27 17:58] IronPan commented on #361
@gaoning777 could you provide more details on this? not sure i quite follow.

[2019-03-27 18:00] IronPan commented on #359
no this is out of scope of what pipeline could support. Jupyter CRD ( the replacement of jupyter hub) should ensure the notebook can be accessed when cluster is upgrade.

[2019-03-27 18:01] IronPan commented on #359
alternatively pipeline can snapshot notebook one artifact for a given experiment. but this is a TBD.

[2019-03-27 18:01] rileyjbauer commented on #1017
Does the user only see this error immediately after submitting, or is it always broken?

Are you seeing this error within the web UI?

What is the expected behavior here?

[2019-03-27 18:05] IronPan commented on #304
backend and tests infra code should be namespaced. let me know if anything that's not the case.

[2019-03-27 18:09] IronPan commented on #220
We can also add permission incrementally. but it's hard to predict what resource user want to launch from a pipeline. it could be, for example, a customized resource.

admin permission is fine as long as it's a single user scenario. for multi user case, i would hope to see how kubeflow sets things up and follow the same convention.

[2019-03-27 18:10] IronPan commented on #192
/close

[2019-03-27 18:10] #192 closed

[2019-03-27 18:11] IronPan commented on #161
out of curious, what is the use case for this api?

[2019-03-27 18:12] IronPan commented on #123
/close

[2019-03-27 18:12] #123 closed

[2019-03-27 18:12] rileyjbauer commented on #685
Yes, it is still very easy to create runs without experiments via the UI. A user can simply hit `+ Create run` from a Pipeline's page, and then not choose an experiment, and the run will not be associated with any experiment.

[2019-03-27 18:15] IronPan commented on #115
/close

[2019-03-27 18:15] #115 closed

[2019-03-27 18:16] hongye-sun commented on #161
This is resolved. I changed the create_experiment to return the existing experiment instead of reporting error. This is needed so that client doesn't have to change when it runs multiple times.

[2019-03-27 18:27] rileyjbauer commented on #480
We do not currently support this gesture, so the issue should remain open.

[2019-03-27 18:28] rileyjbauer commented on #468
@yebrahim this is about showing all metrics, not just the top 2 that are already displayed, correct?

[2019-03-27 18:29] rileyjbauer commented on #467
This is about versioned pipelines, not the system itself.

Yes, this should not be frontend specific.

[2019-03-27 18:29] ajayalfred commented on #1051
I think the standard node treatment (white container) for the exit handlers is fine. Grey on grey doesn't provide enough contrast.

[2019-03-27 18:34] rileyjbauer commented on #282
This is just a matter of creating a new asset, although it may just be obsolete due to the Kubeflow dashboard work

[2019-03-27 18:38] rileyjbauer commented on #257
We currently support searching by name for experiments, runs, and pipelines.
We intend to expand this filtering to other columns in the future, but this issue can be closed.

[2019-03-27 18:38] #257 closed

[2019-03-27 18:39] ajayalfred commented on #249
Yes, we want the latest runs to appear at the top of the list. In general, all tables should be default sorted by timestamp with the most recent resource appearing at the top of the list.

[2019-03-27 18:39] rileyjbauer commented on #256
We do not currently support this gesture, so the issue should remain open, unless there isn't actually a desire for this feature. Do you know if this is still something we want?

[2019-03-27 18:42] ajayalfred commented on #322
Nope this is not complete, new design changes have not been implemented. Mocks here – https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZV4FTvhm3v2g/files/MCH8EUVCsrm7WMaPxZ9mYERE

[2019-03-27 18:42] rileyjbauer commented on #341
This was fixed in #167 and is no longer an issue.

[2019-03-27 18:42] #341 closed

[2019-03-27 18:44] rileyjbauer commented on #224
This has not yet been fixed at this time.

[2019-03-27 18:45] rileyjbauer commented on #222
This has not yet been fixed at this time. It should be a very easy fix.

[2019-03-27 18:47] rileyjbauer commented on #154
Yes, this is still an issue

[2019-03-27 18:49] rileyjbauer commented on #78
@gaoning777 can you comment on why the DSL implements exit-handling like this?

[2019-03-27 18:51] rileyjbauer commented on #52
I think this is still a useful feature. It makes sense that this should be possible if the user is focusing on a single experiment

[2019-03-27 19:04] ajayalfred commented on #256
Based on our most recent discussion about Experiments/Workspaces, this shortcut will be a simple 'Create run' from the pipelines list and NOT to create an experiment. See screenshots for context.

![image](https://user-images.githubusercontent.com/2425179/55104852-6ca46c00-5088-11e9-8588-108f5b013945.png)

![image](https://user-images.githubusercontent.com/2425179/55104832-62826d80-5088-11e9-9537-

[2019-03-27 19:06] vicaire commented on #161
Thanks @hongye-sun. @amygdala, is your use case met? Can we close?

[2019-03-27 19:11] vicaire commented on #467
Thanks @rileyjbauer. I am going to repurpose this issue to track the versioning of artifacts.

[2019-03-27 19:42] Ark-kun commented on #1053
I'd say that currently KF Pipelines are more focused on batch processing and all the guarantees and value it can provide.
Would your problem be solved by running periodic (daily/hourly) jobs incorporating new data and deploying the improved models?

[2019-03-27 19:48] Ark-kun commented on #1051
On one hand, I like the  the standard treatment (the last image).
On another hand, I'm worrying about drawing connections with every other node is going to overcomplicate the graph if the graph has many nodes.

[2019-03-27 19:52] Ark-kun commented on #1017
Yes.

The user sees the error immediately after submitting a new run and clicking the Run link.
After a bit of time and several refreshes, the message goes away.

I expect not to see this error message when the run exists in the DB.
As a user, I know that the run exists since I have it's ID returned from the backend server which meand that it was inserted into the DB.

Do you know why this error h

[2019-03-27 19:55] Ark-kun commented on #363
This issue remains regardless of the pipeline or component format.

Shared pipelines should not contain storage configuration and secrets. This information should be added by the backend right before submission.

[2019-03-27 19:57] Ark-kun commented on #215
Fixed by #315

[2019-03-27 20:02] rileyjbauer commented on #49
This has not been fixed yet; it's hard to hit, but we should still address it

[2019-03-27 20:26] Ark-kun commented on #951
Tekton is focusing on CI/CD scenarios while Argo and KF Pipelines have bigger scope and are more general-purpose.

[2019-03-27 23:56] amygdala commented on #161
yes, I have successfully used the new version to do what I want.
Thank you!  We can close.

[2019-03-27 23:56] #161 closed

[2019-03-28 00:21] vkoukis commented on #801
Following the review in https://github.com/kubeflow/pipelines/pull/926 [thanks @hongye-sun , @vicaire ! ], I am amending this design doc to include a step of implementation steps.

Overall our goals are:
* Use a new `ResourceOp`, in a similar way to the existing `ContainerOp`, to create generic K8s resources as part of a pipeline.
* Inherit from `ResourceOp` to create `VolumeOp`, `VolumeSnapshotOp

[2019-03-28 00:31] vicaire commented on #322
Thank you Ajay. Reopening.

[2019-03-28 03:13] yingfeng commented on #1053
It's not that elegant ...
For online learning, the freshness of model is a key factor to reflect the user behaviours as quickly as possible.  The logging comes continuously from a data streaming source such as Kafka.

[2019-03-28 04:27] hongye-sun commented on #1053
Yingfeng, this use case can actually be achieved by combining cloud
function with KFP today on GCP. Within the cloud function, you can call KFP
SDK to submit a KFP workflow. At the end of the workflow, you can push the
model to a prediction service on cloud or in cluster.

If you are not on GCP, you can create a long lived pod in your cluster
which watches changes in Target data source and use KFP

[2019-03-28 10:50] kkasravi commented on #604
@vicaire would this [use case](https://github.com/kubeflow/kubeflow/issues/2724) be addressed by [Event-Driven pipelines](https://docs.google.com/document/d/1O5n02SzMYmLH0cMkykxHWWWe7eMzaP1vk7Y3fBbLoD8/edit#heading=h.d9ajr65kjbq)

[2019-03-28 21:38] elikatsis commented on #801
Hi everyone!

I am really glad #879 is merged, it is a great job. Kudos to @eterna2!

Since we will be implementing `ResourceOp`, which corresponds to the resource template of Argo, we will create a base class called `BaseOp`. That way, `ContainerOp` and `ResourceOp` will derive from that class. In the future there may be a `ScriptOp` as well.
What is good about it is the fact that we will not wri

[2019-03-29 00:56] hongye-sun opened #1060 "Bigquery component should support only export to table"
It requires to output to GCS path today. We need to allow only output to a table.

[2019-03-29 02:04] rileyjbauer commented on #1017
The frontend is indicating that the backend returned an error when the run was requested.]

I tried this with a few different notebooks and was not able to reproduce it. Have you seen it since the auto-refresh feature was added?

[2019-03-29 04:24] #1051 closed

[2019-03-29 17:06] rileyjbauer commented on #154
@yebrahim what would you think about expanding the dialog horizontally a bit, but also adding a tooltip to the description cell?

[2019-03-29 17:14] rileyjbauer commented on #1007
This seems like a duplicate of #908. I also filed an issue on the main repo, https://github.com/kubeflow/kubeflow/issues/2852 as I'm not yet sure where this problem is coming from, but it seems like it's deeper in the system

[2019-03-29 17:14] #1007 closed

[2019-03-29 17:24] IronPan commented on #193
I see this still happening in some of the recent tests
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1061/kubeflow-pipeline-e2e-test/1111434972578713600/build-log.txt

[2019-03-29 17:27] IronPan commented on #193
This might happen when two commits are submitting closely. Prow terminate the first one without test having a chance to clean up the cluster.

[2019-03-29 17:33] IronPan commented on #193
this seem to be the behavior of prow
https://github.com/kubernetes/test-infra/blob/91186ea67814300ed42df1188bdd2357d1d86bb2/prow/entrypoint/run.go#L163

[2019-03-29 17:43] IronPan commented on #193
This is causing the service account and role bindings to be accumulated in the test project, hitting the upper limit of the project and blocking subsequent tests.

[2019-03-29 20:18] rileyjbauer commented on #1024
That seems to have done the trick! Thanks!

[2019-03-29 20:18] #1024 closed

[2019-03-29 21:47] gaoning777 opened #1065 "Recursion support issue"
[code]

The example above is converted to an argo yaml where the input arguments are not correctly resolved.

[2019-03-29 23:12] #875 closed

[2019-03-29 23:13] gaoning777 commented on #611
Test is added but there are bugs that need to be fixed.

[2019-03-29 23:14] gaoning777 commented on #303
The recursion is supported now. https://github.com/kubeflow/pipelines/blob/master/samples/basic/recursion.py

[2019-03-29 23:14] #303 closed

[2019-03-29 23:16] gaoning777 commented on #487
The name is currently substituted during the compilation stage.

[2019-03-29 23:16] gaoning777 commented on #487
https://github.com/kubeflow/pipelines/pull/879

[2019-03-29 23:18] gaoning777 commented on #974
I added the issue such that the problems in the referenced PRs can be surfaced earlier.
Now changing the title to add a static type checking sample test.

[2019-03-30 08:34] yebrahim commented on #154
I think the right solution would involve a more dedicated experience, perhaps a catalog-like UI, for picking the right pipeline. As a fix for this issue, I think what @sijieamoy suggested is good enough, perhaps with a limit on the number of characters or height of the description preview.

[2019-03-30 19:36] vswami78 opened #1070 "ML - XGBoost - Training with Confusion Matrix" pipeline errors out during training"
The error seen was:

Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.scheduler.LiveListenerBus.removeListener(Ljava/lang/Object;)V
at org.apache.spark.SparkParallelismTracker.safeExecute(SparkParallelismTracker.scala:84)
at org.apache.spark.SparkParallelismTracker.execute(SparkParallelismTracker.scala:107)

Traceback details:

Traceback (most recent call last):
File "/ml/t

[2019-04-01 07:25] IronPan opened #1073 "usage reporting link broken"
![image](https://user-images.githubusercontent.com/2348602/55310115-8b9e5780-5414-11e9-86eb-5cf55c79d253.png)

link to https://www.kubeflow.org/docs/guides/usage-reporting/ which is not available anymore

[2019-04-01 07:25] IronPan commented on #1073
/assign @rileyjbauer

[2019-04-01 16:39] yebrahim commented on #468
I can't remember what we have now, but this was initially about showing a table for all metrics of the compared runs, just like the one we have for parameters.

[2019-04-01 17:25] rileyjbauer commented on #413
This functionality is available as of #1039.

Note that for Pipelines that start jobs in GCP, such as those using DataProc, the termination of the pipeline results in a best effort attempt to stop running jobs as soon as possible.
For example, I ran this notebook twice:
https://github.com/kubeflow/pipelines/tree/master/components/gcp/dataproc/submit_hive_job
and the first time I terminated it, the

[2019-04-01 17:25] #413 closed

[2019-04-01 17:26] rileyjbauer commented on #1073
Talked with @ajayalfred and @avdaredevil and decided it makes sense to just remove this link entirely for now since KFP itself no longer runs spartakus.

This is addressed in #1074

[2019-04-01 18:35] gaoning777 commented on #665
Keeping track of the DSL samples in https://github.com/kubeflow/pipelines/issues/1034

[2019-04-01 18:36] #1073 closed

[2019-04-01 20:12] dhodun opened #1075 "TensorBoard artifact should be visible before the step is completed"
Potentially related to #959
https://github.com/kubeflow/pipelines/issues/959

My container has output the Tensorboard artifact info to the local filesystem before training starts. I have a long training job (8 hours) and would like to see Tensorboard link displayed before the training completes. I already know the GCS source directory, so tensorboard can be opened immediately after training begins

[2019-04-02 17:35] gaoning777 commented on #361
It was previously brought up by Sina that there needs to be a table that shows the current sample test results for the master.
Since we always release correct samples. I will close the issue.

[2019-04-02 17:35] #361 closed

[2019-04-02 17:55] rileyjbauer commented on #236
Re-opening this because we agreed the names should be unique, but this has not yet been implemented. This issue should be the one to track that work

[2019-04-02 18:05] neuromage commented on #236
Agreed, unique run names would be great. Also, wanted to quickly note that when we do enforce this, we need to figure out how to do this in a backward-compatible way now that pipelines data persists across upgrades.

[2019-04-02 18:30] Ark-kun commented on #1060
Is there a component that can "download" the data from BigQuery?

[2019-04-02 18:47] hongye-sun commented on #1060
Download from bigquery is not scalable if the data is bigger than 10M. https://cloud.google.com/bigquery/docs/writing-results#downloading_and_saving_query_results

It's recommended to export data to table or GCS. It's low priority to me to support download to local disk unless we have new inputs from user.

[2019-04-03 19:18] derekhh commented on #149
This might be unrelated but the pipeline dashboard UI on our GKE cluster was really slow yesterday (we had probably around 100 runs) and I cleaned up the pods used by previous workflows following this comment: https://github.com/kubeflow/pipelines/issues/844#issuecomment-476377158

Then the speed is back to normal again.

[2019-04-03 20:59] Ark-kun commented on #1060
I'd consider that "downloading".

OK. So, I've looked at the doc and here are the important parts:

[2019-04-03 23:30] illeatmyhat opened #1078 "Empty files retrieved from minio through output visualizer."
I'm testing the output visualizer, and the `pipelines/artifact/get` endpoint returns nothing but empty files for valid keys (proper errors are returned in other cases).
For example, if I execute a pipeline defined like so:
[code]
[code]
And try to retrieve the file...
[code]
I get nothing. No errors. This results in empty visualizer output, essentially the same as #489

However, accessing the mini

[2019-04-03 23:48] illeatmyhat commented on #1078
I found the problem.
`pipeline/artifacts/get` only works with compressed files, though `tar -cvzf` seems to retain some header trash from OSX.
[code]
[code]

[2019-04-04 06:49] IronPan opened #1079 "Connect local notebook to remote Pipeline cluster"
Currently if a Jupyter notebook runs locally, the DSL doesn't know the host name of the pipeline cluster. It assumes the pipeline is accessible through a port-forwarded local port, and it uses localhost:8080/pipeline/* to connect to the Pipeline server.

This doesn't work in case of the cluster is accessible only through IAP or basic auth.

Instead, the notebook should direct the traffic to the ri

[2019-04-04 07:03] IronPan opened #1080 "Avoid depending on port-forwarded ambassador service"
Kubeflow is moving away from ambassador, in favor of istio, and proxy the cluster using cloud endpoint with IAP or simple auth. In both cases, we should use the ingress endpoint instead of depending on port-forwarding to access the cluster.

[2019-04-04 08:16] ianhellstrom opened #1081 "Fix inconsistent Python versions between kfp and tfx"
The [TFX example pipelines](https://github.com/tensorflow/tfx/tree/master/examples/chicago_taxi_pipeline) all rely on Python 2.7, whereas the [Kubeflow example](https://github.com/kubeflow/pipelines/tree/master/samples/tfx-oss) based on that pipeline uses 3.5. This is most likely due to [kfp](https://pypi.org/project/kfp/) requiring >=3.5.3. However, when compiling the example from the TFX repo, t

[2019-04-05 00:41] vicaire commented on #801
vkoukis@, elikatsis@, thanks for the fantastic proposal and detailed implementation plan. This is great! We are looking forward to the PRs!

[2019-04-05 01:12] IronPan opened #1084 "Retrieve the experiment during list run"
In list run page for a given experiment, it looks like the UI is sending more requests at once than needed. For a page that have 20 runs, it send
- 1 list call to list all runs
- 20 get call to get all runs
- 20 get calls to get the same experiments

This can be a single batch request instead.
![Screen Shot 2019-04-04 at 6 09 46 PM](https://user-images.githubusercontent.com/2348602/55597976-3361a1

[2019-04-05 08:01] ianhellstrom opened #1086 "Improve error code when uploading pipeline fails"
In my own GCP project I have attempted to upload a pipeline (as tar.gz file) via the UI of `<name>endpoints.<project-id>.cloud.goog/pipeline/#/pipelines`. However, all I get is:

Failed to upload pipeline
There was a problem with your request. Error code 13

I have searched through the code of [Kubeflow Pipelines](https://github.com/kubeflow/pipelines/search?q=13&unscoped_q=13), [common](https://g

[2019-04-05 10:21] vkoukis commented on #801
@vicaire Thank you for the kind words! We have pushed a new version of the PR following the revised implementation plan, please see here: https://github.com/kubeflow/pipelines/pull/926#issuecomment-479127568

Looking forward to your review!

[2019-04-05 16:50] andrewsmartin opened #1087 "Release the SDK in Pypi and automate the release process"
Hi, is it possible to publish releases to pypi? I saw that there is https://pypi.org/project/kfp/ but the latest version is 0.1.11.

[2019-04-05 18:16] kunmingg commented on #1029
Can we close this?

[2019-04-05 20:17] avdaredevil commented on #1029
@rileyjbauer Feel free to open if there are any lingering changes.
/close

[2019-04-05 20:17] #1029 closed

[2019-04-05 22:15] Ark-kun opened #1092 "RBAC: clusterrole.rbac.authorization.k8s.io "pipeline-runner" not found"
I see some sample tests ?randomly? failing with the following error
```secrets \"mlpipeline-minio-artifact\" is forbidden: User \"system:serviceaccount:kubeflow:pipeline-runner\" cannot get secrets in the namespace \"kubeflow\": RBAC: clusterrole.rbac.authorization.k8s.io \"pipeline-runner\" not found```

Failure:
https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=ml-pipeline-t

[2019-04-05 22:19] Ark-kun commented on #1081
Python2 is going out of support in 8 months (January 1, 2020). We will create an issue in the TFX repo to ask for a Python3 package release.

[2019-04-06 08:45] Ark-kun opened #1098 "Samples should load explicit versions of component definitions."
Currently, samples load components from master.

[2019-04-06 16:11] JavaDerek opened #1099 "Pipeline parameters should be accessible to pipeline logic"
If you pass a parameter into your pipeline from the UI now, the only thing you can do with it is to pass it as a startup argument to a Docker container.  This prevents them from being used to control execution flow, which is a very likely use case.  For example, if I have a pipeline that downloads data, scrubs it, use it in training and then publishes a model, I'm very likely to want to repeat the

[2019-04-06 19:15] JavaDerek commented on #1099
Of course, it turns out that the output parameters are exactly the same as the input parameters, so the Docker image approach won't work.  There should be some way for the user running the pipeline to pass data into the pipeline at runtime that can be used by the pipeline's Python.

[2019-04-08 05:19] Ark-kun commented on #487
That is a different issue. This issue is about replacing `gcr.io/ml-pipeline/` with `gcr.io/ml-pipeline-test/` in the whole pipeline during compilation or testing.

[2019-04-08 13:37] jlewi opened #1100 "Fix /data routing hack for TensorBoard"
The pipelines UI currently has an Ambassador route which maps all traffic to "/data" back to the pipelines UI so that it can be routed to TensorBoard.
https://github.com/kubeflow/kubeflow/blob/35c725e7e969099473c693d4f8098a996f6e6c91/kubeflow/pipeline/pipeline-ui.libsonnet#L67

This was a hack to make pipelines work when it was initially installed as part of Kubeflow back in November.

Summary of

[2019-04-08 13:45] jlewi opened #1101 "Pipelines switch to kustomize"
In 0.6 Kubeflow will be replacing ksonnet since its been deprecated.

We are currently evaluating kustomize and adding kustomize support to kfctl.

kustomize manifests are being added here:
https://github.com/kubeflow/manifests

pipelines should ideally migrate off ksonnet in 0.6. This means migrating the package configs to the config manager chosen to replace ksonnet (we are currently evaluating

[2019-04-08 14:21] jinchihe opened #1102 "Failed to load the trained model using kubeflow deployer component"
Used kubeflow deployer pipeline component to deploy some trained mode on kubeflow cluster, but the failed to load trained model, logs are as following:

[code]

[2019-04-08 14:49] jinchihe commented on #1102
Checked details, seems that's caused by the tf-serving version is too old, used kubeflow v0.2.5 in Dockerfile. After upgrade tf-serving, the model can be loaded successfully.

The TF-Serving has been upgraded to 1.11.1 from kubeflow 0.4.0. We should upgrade to use new tf-serving in kubeflow in Dockerfile.

Will send a PR for the issue.

[2019-04-08 18:42] hongye-sun opened #1104 "KFP SDK should support gcloud credential"
This is required when user wants to talk to a remote KFP endpoint which is protected by IAP from a local environment.

The current support we have is to look for GCE service account credentials in the machine and send them to pass the IAP auth. We also need to support to use user's gcloud credential to support local command line experience.

[2019-04-08 21:36] #1102 closed

[2019-04-09 00:31] paveldournov commented on #1100
/assign @jingzhang36

[2019-04-09 02:16] vicaire commented on #604
kkasravi@, deploying a model for serving could be triggered by an event or just be a step of your pipeline. I think that would depend on your use case.

[2019-04-09 02:17] vicaire commented on #1017
Resolving, please reopen with the additional details that rileybauer@ requested if the problem is still showing up.

[2019-04-09 02:17] #1017 closed

[2019-04-09 03:46] neuromage commented on #1100
Can we close this in favour of #1026? @ajayalfred and @rileyjbauer are working on a UI for employing the Tensorboard viewer for this.

The move to ISTIO (replacing Ambassador) is still a valid point, and we will have to migrate Viewer CRD as well when that happens.

[2019-04-09 07:17] Jeffwan commented on #514
I will take over this one and add require supports.

[2019-04-09 17:49] jingzhang36 commented on #1100
Do we have a rough road map on how to migrate to ISTIO? If resolving /data hack is part of this migration, I am wondering what are the rest and trying to see if there is anything I can help with.

[2019-04-09 21:39] Ark-kun opened #1121 "Pipeline submission fails when ContainerOp has numbers as command line arguments"
Root cause: In Kubernetes/Argo, the valid type of command-line arguments is string. The `ContainerOp` class does not convert all arguments to strings, so the compiler produces invalid Workflows.

[code]
Interestingly, `argo lint` does not catch the problem. (Is that because Argo uses `yaml.Unmarshal` which does not validate enough?)

[2019-04-09 21:40] Ark-kun commented on #1104
/cc @kevinbache

[2019-04-09 21:43] Ark-kun commented on #1084
The logic should really be moved away from browser to the UX-backend (frontend). (Which should probably be getting all the model data in a single API call)

[2019-04-09 21:45] Ark-kun commented on #1099
What you probably really want is a fix for the bug that prevents pipeline parameters to be used in `dsl.Conditional` (https://github.com/kubeflow/pipelines/issues/827). Is that correct?

[2019-04-09 21:48] Ark-kun commented on #1070
Are you running an unchanged sample? I've recently tried the 3 main samples and they completed successfully.

[2019-04-09 21:52] Ark-kun commented on #1075
@hongye-sun
This could be fixed if we add "Tensorboard logs" output to the components that support TB. (We'll also need artifact passing support.)

This way, the UX can see that the running task has an output of type "Tensorboard logs" and can see where the logs are being placed to show the artifact.
Same with all other artifacts, actually.

[2019-04-10 00:31] Ark-kun opened #1123 "CloudBuild is failing since the CMLE deployer component was deleted"
The issue was introduced in https://github.com/kubeflow/pipelines/pull/1018#issuecomment-481488585

[code]

When deleting files we should make sure they're not mentioned anywhere:
https://github.com/kubeflow/pipelines/search?q=%22components%2Fresnet-cmle%22&unscoped_q=%22components%2Fresnet-cmle%22