[2020-07-03 15:10] devashishshankar opened #4143 "Unable to use kfp.Client() from local / VM"
### What steps did you take:

I am simply trying to list pipelines / upload pipelines using kfp.Cilent() locally. I've tried different authentication options. Sometimes, I get an auth error - other times I get an empty response. I will summarize what all I've tried here.

A note on environment: I had done a gcloud auth login locally (More details on env in Environment section)

#### 1. Pass only h

[2020-07-03 19:43] devashishshankar commented on #4143
This got solved courtesy doit-intl team.

So, what works (at least in GKE) is connecting to the cluster using `gcloud container clusters get-credentials <cluster-name>`. Once that is done, simply doing `kfp.Client().list_pipelines()` works (no args).

This may be worth mentioning in the python lib documentation somewhere? I had no idea it was actually riding on kubectl authentication.

Keeping the

[2020-07-04 12:22] devashishshankar opened #4144 "SDK - Components - typing.List and typing.Dict are not supported by func_to_container_op and behave differently in python 3.6 and python 3.7"
### What steps did you take:

In python3.6, the json serialization for List/ Dict types works well. But not so in python3.7. I built the following pipeline using both a python3.6 venv and a python3.7 venv (Both venv had only kfp package installed):

[code]

### What happened:

This is the diff of generated pipeline.yaml:

diff pipeline-36.yaml pipeline-37.yaml

[code]

I believe python3.6 generate

[2020-07-05 13:21] theone4ever opened #4145 "The dsl.ParallelFor loop variable can only be used in command-line"
### What steps did you take:
Trying to use loop argument when instantiate dsl.ContainerOp,  like name of ContainerOp, file_outputs, etc, none of them works except arguments.

[code]

### What happened:
The KFP compilation with errors "RuntimeError: Internal compiler error: Found unresolved PipelineParam."

### What did you expect to happen:
I should be able to use loop argument when define dal.Con

[2020-07-06 01:18] Bobgy commented on #4145
/assign @Ark-kun

[2020-07-06 02:08] Bobgy commented on #4144
/assign @Ark-kun

[2020-07-06 02:21] Bobgy commented on #4143
@devashishshankar for IAP, we don't have public documentation, you were very close on 3.

[code]

You also need the client_id passed in, it should be your Kubeflow IAP's oauth client id.

[2020-07-06 02:22] Bobgy commented on #4143
Documentation is already planned: https://github.com/kubeflow/pipelines/issues/2704

[2020-07-06 02:24] Bobgy commented on #4143
This may be worth mentioning in the python lib documentation somewhere? I had no idea it was actually riding on kubectl authentication.

Good point, I'm not sure why it also works this way.
/cc @rmgogogo
Is this expected behavior?

[2020-07-06 04:39] #3366 closed

[2020-07-06 05:49] sakaia opened #4148 "How to configure artifact storage authenication parameter?"
I want to use kubeflow pipeline with Google Cloud Storage,
because sample code frequently uses `gs://`.
For this case which parameter, should I set?
Just editing configmap of `workflow-controller-configmap`.
Also I checked `kfp diagnose_me', it seems no parameter set for artifact.

[code]
Some part is follows.

[code]

[code]
some part is follows

[code]

Reference
- [Configuring Your Artifact Rep

[2020-07-06 08:15] NikeNano commented on #4100
@JohanWork

[2020-07-06 09:37] NikeNano commented on #4089
Will start the work this work today/tomorrow so we get it rolling!

[2020-07-06 10:10] Bobgy commented on #3226
/lifecycle frozen

[2020-07-06 13:52] dhodun commented on #2728
/reopen

[2020-07-06 14:40] collinarnett commented on #4060
@Bobgy Sorry to get back to you so late. Here's the result of running with what you suggested.
![image](https://user-images.githubusercontent.com/38230482/86605649-f83bc680-bf74-11ea-8252-ab4384346a3d.png)
Clicking on Experiments just leads to `Error: failed to retrieve experiment: None. Click Details for more information.`

[2020-07-06 17:31] aaltay commented on #2601
/reopen

This issue is still open. Beam and Dataflow will soon stop supporting python2 pipelines. After that, kubeflow may not be able launch Dataflow pipelines.

Also, this might be a duplicate of: https://github.com/kubeflow/kubeflow/issues/4894

[2020-07-06 17:35] TheMichaelHu commented on #2601
/reopen

[2020-07-06 18:55] techjacker commented on #3418
If  passing `pipeline_version` is the recommended way (rather than `pipeline_id`) to trigger pipeline runs then surely `pipeline_version` has to be unique? However, I do not see this documented anywhere.

I was planning on using the same `pipeline_version` for multiple pipelines so would be good to get clarification on this.

I was planning on setting `pipeline_version="${PIPELINE_NAME}-${GIT_SHA}

[2020-07-06 19:18] Ark-kun commented on #4145
Hello @theone4ever
Thank you for reaching to us and reporting this issue.
The behavior is mostly by design.

* ContainerOp name: The task name is implementation detail. It needs to be static and known beforehand (like function names in python that need to be strings, not variable values).
* Hardcoded output paths: We're discouraging our users from using ContainerOp directly and using hardcoded pat

[2020-07-06 19:44] theone4ever commented on #4145
Hi @Ark-kun thank you for explanation, but there are still few things I would like to have better understanding.

Everything works pretty well with ContainerOp alone, but when we introduce `dsl.ParallelFor`, we feel sth is missing. Start with output:
- We would like to use either file_outputs (for small size of output) or output_artifact_paths (for large size output) to declare the output of the p

[2020-07-06 19:53] Ark-kun commented on #4144
Thank you for the report @devashishshankar .
It's an interesting issue. There is currently no support for types from the `typing` module. Only `list` and `dict` are supported. And by "supported" I mean that they're converted to the canonical `"JsonArray"` and `"JsonObject"` type names and serializers/deserializers are used.
In python 3.6, `typing.List` is a `type` and has `.name == 'List'`. But in

[2020-07-06 21:35] devashishshankar commented on #4144
Yeah, that works for now. I've fixed the version to 3.6 for now.

I know this is a painful issue. I faced this some time back - and I ended up using [typing-inspect](https://github.com/ilevkivskyi/typing_inspect) library. It provides a uniform API for python 3.5+. But even after using this - I know it isn't very trivial. There were still lots of if conditions in my code to check various possibilit

[2020-07-06 21:39] #4101 closed

[2020-07-06 22:41] sudivate opened #4150 "Pagination for "All experiments" on central dashboard doesn't work"
### What steps did you take:

The experiment tab renders only the top 10 experiments and pagination doesn't work.

/area frontend

Commit ID=  https://github.com/kubeflow/pipelines/commit/1d86111d8f152d3ed7506ea59cee1bfbc28abbf9

[2020-07-07 02:16] patrickpoirson opened #4152 "Setting ipc=host on docker run command"
Hi, sorry if this is not the correct place to ask but I have been unable to find a solution anywhere.
When using pytorch with docker it's useful to add --ipc=host in order to have multithreaded loaders. [More info here](https://github.com/pytorch/pytorch#docker-image). Is there anyway to add such a flag with kubeflow pipelines?

[2020-07-07 03:03] #4117 closed

[2020-07-07 03:20] Bobgy commented on #4152
@patrickpoirson which KFP component are you using to launch pytorch? You should probably ask it there

or if you are writing your own component, you are free to add any argument to it

[2020-07-07 03:34] patrickpoirson commented on #4152
Thanks for your reply. I am writing my own component. I store my pytorch training code in a docker container and use kfp.dsl.ContainerOp to wrap the docker container. Is there a way to pass --ipc=host through the kfp.dsl.ContainerOp?

[2020-07-07 03:38] Bobgy commented on #4150
thanks for the report!

What does pagination doesn't work exactly mean?
Can you open browser console to see if there's any error messages?

/assign @Bobgy

[2020-07-07 03:44] Bobgy commented on #4060
@collinarnett do other simpler methods work for you? like list_experiments?

[2020-07-07 03:46] Bobgy commented on #4152
@patrickpoirson Yes, you can pass command and arguments there just like in docker: https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.dsl.html#kfp.dsl.ContainerOp

[2020-07-07 04:27] collinarnett commented on #4060
list_experiments returns `{'experiments': None, 'next_page_token': None, 'total_size': None}`
list_pipelines returns the same as above.

[2020-07-07 04:33] Bobgy commented on #4060
How does microk8s endpoint authenticate requests? Does it allow any requests?
e.g. can you try using raw http requests to KFP api e.g. https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/?

and inspect what errors you got

[2020-07-07 05:27] Bobgy opened #4157 "No information in error message when visualization server is not accessible"
https://github.com/kubeflow/pipelines/blob/bd0f4d23b9e73082a3924d9f3869bbe537639557/backend/src/apiserver/server/visualization_server.go#L82

When visualization server is not responding, error message in api server is not helpful at all. It should show upstream error message to help troubleshooting.

[2020-07-07 05:28] Bobgy commented on #4157
Hi @PatrickXYS, I think this is a good first issue you can look at.

FYI, you can find backend develop instructions in https://github.com/kubeflow/pipelines/tree/master/backend.
Feel free to ask any questions

[2020-07-07 05:49] jingzhang36 commented on #4114
tfx 0.22.0 pulls in google-api-core 1.21.0, which suffers a regression https://github.com/googleapis/python-pubsub/issues/115.
Moreover, google-api-core 1.17.0 suffers another regression https://github.com/googleapis/python-pubsub/issues/115#issuecomment-643211392
Therefore, we'll need to use google-api-core 1.16.0 and figure out a tfx version to work with it

[2020-07-07 09:41] Bobgy opened #4159 "[KF 1.1] Enable KFP multi user mode without istio security"
This is the first step of enabling KFP multi user mode.
This makes all KFP multi user features available, but not all in-cluster traffic are protected by istio.

This is a good intermediate state to break up the work of enabling multi user mode.

[2020-07-07 09:51] Bobgy opened #4160 "[KF 1.1] Secure KFP multi user mode with istio"
This is the second (and the last) step of enabling KFP multi user mode.
This makes all in cluster traffic secured by istio mutual TLS and minimal privilege authorization rules.

[2020-07-07 10:02] Bobgy commented on #3241
In fact, this issue is still clearer on the steps. Keep using this one

[2020-07-07 16:09] PatrickXYS commented on #4157
@Bobgy Thanks a lot! Will keep you updated about any progress

[2020-07-07 18:50] Ark-kun commented on #4100
`fileOutputs` was deprecated from the start. It was added to accommodate legacy containers that had hardcoded paths. No new components were supposed to use it.
I'll add a formal deprecation message: "The `fileOutputs` map is deprecated. Please use `{outputPath: output_name}` command-line placeholders instead.".
It won't be a hard error.

[2020-07-07 18:50] Ark-kun commented on #4100
I do not think so. The components are not part of the release.

[2020-07-07 18:56] patrickpoirson commented on #4152
Sorry, I may be confused but the command and arguments can be passed to docker but what I need is to pass a flag that affects the actual docker run command e.g. `docker run image [command] [arguments]` changed to `docker run --ipc=host image [command] [arguments]`

I believe in standard kubernetes this is done by setting hostIPC to true, [which looks to be not possible in kfp?](https://github.com/

[2020-07-07 19:21] Ark-kun commented on #4145
For quite a long time `file_outputs` has had the same big data passing capabilities as `output_artifact_paths`. The maps are currently merged. We had a PR to deprecate `output_artifact_paths` since it's not needed anymore.

While it's easy to pass task outputs inside the loop, aggregating outputs of `dsl.ParallelFor` tasks is not currently supported by the system. All inputs (especially artifact i

[2020-07-07 19:30] Ark-kun commented on #4145
Check the component that copies the result data to a GCS bucket with URI based on the loop item.
The result is output from the component and visible in the dashboard.
The result URI is output from the component and visible in the dashboard.

[code]
With a volume you can just replace `gsutil cp` with `cp`.

Does this suit your needs?

[2020-07-07 19:52] Ark-kun commented on #4099
Can you try contacting the cluster administrator and asking why the official images cannot be accessed? You're probably having the same issue with other official images like `python`.

P.S. You can easily disable caching by setting `some_task.execution_options.caching_strategy.max_cache_staleness = "P0D"` on your first/root tasks.

[2020-07-07 20:12] Ark-kun commented on #4152
KFP runs on top of a Kubernetes cluster. KFP does not create a cluster or run docker.

This option [does not seem to be supported by Argo](https://github.com/argoproj/argo/blob/c7b35e054e3eee38f750c0eaf4a5431a56f80c49/pkg/apis/workflow/v1alpha1/workflow_types.go#L386) which we use for orchestration. You can open an issue in their repo asking to support this feature.

Interesting. Have you verified

[2020-07-07 20:15] Ark-kun opened #4162 "Support PipelineParam in pod annotations"
Currently they remain unresolved breaking the compilation.

Fixes https://github.com/kubeflow/pipelines/issues/4142
Fixes part of https://github.com/kubeflow/pipelines/issues/4145
Relevant to https://github.com/kubeflow/pipelines/issues/4020

[2020-07-07 20:17] Ark-kun commented on #4162
Hmm. It's already supported...

[2020-07-07 20:34] Ark-kun commented on #4142
Think you for your report.

We've added sanity checks for the compiled workflow which and added some annotation which cased the error message to start triggering.

We do not support any dynamic configuration in the components themselves. This is by design, because otherwise components are not standalone and not shareable. Indeed, how can you share or load a component that has dependency on the run

[2020-07-07 20:48] #4162 closed

[2020-07-07 20:50] Ark-kun opened #4163 "SDK - Support placeholders in task display names"
Fixes https://github.com/kubeflow/pipelines/issues/4145

[2020-07-07 20:52] theone4ever commented on #4145
@Ark-kun  thank you for detail answer, I will investigate your suggestions tomorrow. A quick feedback although, there is still data size limitation when using `file_outputs`, few days ago I tried a parquet file and it triggers the error due to size limitation, so yes I would prefer to save it in an external storage and just provide a link in dashboard.

[2020-07-07 21:03] sudivate commented on #4150
@Bobgy I have more than 10 experiments but my dashboard was not rendering them all despite selecting more rows per page on the dashboard.  However, this seems to be resolved now,  might be something with my browser.

This is good to close

[2020-07-07 21:13] sudivate opened #4165 "FR: Allow pipelines to support custom tags"
I'm using a pipeline description to hold more info about the pipeline in the form of JSON.

Allow pipelines to support custom key, value tags that can hold more metadata about the pipeline. A typical scenario is CI\CD system building and uploaded KF pipelines can leverage these tags to create an end-to-end lineage.

Further having the ability to filter and search pipelines and runs based on these

[2020-07-07 21:29] numerology commented on #4085
@sakaia

Yes I think you'll need to manually override `{{kfp-project-id}}` when submitting the pipeline for execution, using the GCP project ID under which you're going to create/delete the GKE cluster.

[2020-07-07 22:31] patrickpoirson commented on #4152
@Ark-kun [From pytorch](https://github.com/pytorch/pytorch#docker-image) "Please note that PyTorch uses shared memory to share data between processes, so if torch multiprocessing is used (e.g. for multithreaded data loaders) the default shared memory segment size that container runs with is not enough, and you should increase shared memory size either with --ipc=host or --shm-size command line opt

[2020-07-07 23:00] Bobgy commented on #4150
FYI, current behavior is that rows per page only affect How many runs in one page.

/close

[2020-07-07 23:00] #4150 closed

[2020-07-07 23:30] #4114 closed

[2020-07-08 01:22] Ark-kun commented on #4152
As a workaround,you might be able to use https://kubernetes.io/docs/concepts/workloads/pods/podpreset/

[2020-07-08 02:45] Ark-kun commented on #4145
This should not be happening. Let's debug this.

BTW, the size error is usually caused by the downstream component, not the component with output.

All outputs are now *produced* as artifacts by default and support large data sizes. So, you should never see any size-related errors when you run a pipeline with a single component.

But it's still possible by downstream to try to *consume* that outpu

[2020-07-08 03:29] sudivate opened #4169 "Troubleshoot step caching"
Followed https://github.com/kubeflow/pipelines/tree/master/backend/src/cache  and
https://www.kubeflow.org/docs/pipelines/caching/#what-is-step-caching

But had no luck caching pipeline step. How do I troubleshoot if the caching server is step up correctly?

KFP 0.5.0

 /area backend

[2020-07-08 04:37] sakaia commented on #4085
Thank you for your comments.

I am using kubeflow pipelines on local machine (not on GKE).
I want to access Google Cloud Storage. (gs://)

From CLI and SDK, I can access gs://.
But I cannot access via container like sample/secret.py, any setting exists on  pipelines execution.

[2020-07-08 06:04] Bobgy commented on #4142
Thanks @Ark-kun , so this isn't a regression then.

[2020-07-08 06:05] Bobgy commented on #4142
updated tags

[2020-07-08 07:22] Bobgy commented on #4165
/assign @Ark-kun
/cc @rmgogogo @jingzhang36

Can you elaborate more how this was achieved through tags?

We already have lineage view for data in ML metadata. What's the difference?

[2020-07-08 07:32] jingzhang36 commented on #3591
We have enabled, in kubeflow pipelines backend, *filtering* on run status, aka 'success', 'failed' etc.

As for the sorting on duration, it would be a little bit tricky to do on backend, since the backend stores created_at and finished_at instead. The frontend displays duration by computing the difference between created_at and finished_at.

As for the sorting on metrics, let me experiment on it t

[2020-07-08 07:39] Bobgy commented on #3591
+1

[2020-07-08 08:00] sakaia commented on #4148
Thank you, my understanding little progressed.

## How to setup sample/core/secret/secret.py on standalone?

I am try to execute sample/core/secret on stamdalone.But It fails.
on `method use_gcp_api_op()`.
These containers output (describe)attached below.

From seeing the Pipeline Standalone (see Ref), the `use_gcp_secret` can set by follwoing instruction.
From seeing the code of secret.py, it doe

[2020-07-08 08:03] radcheb opened #4170 "[Limitation] SDK Complier creates bigger YAML exceeding Kubeflow limits quickly"
### What steps did you take:
This problem is only noticed in `1.0.0-rc.3`, it does not exist in `0.5.1`.
Given the same pipeline, `1.0.0-rc.3` Complier creates a YAML file far bigger than the same created with `0.5.1` Compiler.
Thus, this may be a problem for huge workflows, that previously run successfully and can no more be run if compiled with new Compiler.

### What happened:
The pipeline comp

[2020-07-08 08:07] Bobgy commented on #4170
/assign @Ark-kun
/priority p0

[2020-07-08 08:56] NikeNano commented on #3877
/assign

[2020-07-08 09:07] Bobgy opened #4172 "After archiving an experiment, its runs can no longer be observed"
### What steps did you take:
1. create an experiment
2. create a few runs in it
3. archive the experiment
4. go to "Archive" -> "Experiments" -> select the experiment

### What happened:
it shows no runs there.

### What did you expect to happen:
It should show all the archived runs in that experiment.

### Environment:
KFP version: 1.0.0-rc.4

### Anything else you would like to add:
[Miscellaneo

[2020-07-08 09:08] Bobgy commented on #4172
/assign @jingzhang36

[2020-07-08 09:12] sakaia commented on #4148
# sample/core/secret.py On Standalone

Logs are added. From seeing following error occured.

[code]

## `gcs_read_op()` Method (Success)

Describe output is follows (success method)

[code]

Log output is follows (success method)

[code]

## `use_gcp_api_op()` mEthod (failed)

Describe output is follows.(failed)

[code]
Logs are follows(failed)

[code]

[2020-07-08 09:25] jingzhang36 commented on #4172
Can you have a screen recording for this? In case I can't reproduce it. And also, it takes time to list runs (takes more than it should due to some strange performance issue. So, moreover, could you check back later to see if the runs show up after a while?

[2020-07-08 09:31] Bobgy commented on #4172
@jingzhang36 you can look at this https://3f976e6d7065d25b-dot-asia-east1.pipelines.googleusercontent.com/#/experiments/details/6d821dc6-ecc8-4bcb-b627-4549809c67f5

or this video https://youtu.be/1o_GHm8aEvM

[2020-07-08 10:14] BoecquaertJonas opened #4173 "Trying to upload a new pipeline version with the SDK returns an AttributeError"
### What steps did you take:
I'm trying to create and upload a new pipeline version using the kfp SDK.
I'm following the documentation I found here: https://www.kubeflow.org/docs/pipelines/tutorials/sdk-examples/
[code]
I'm not uploading a pipeline first, because the pipeline already exists. I copy, pasted the `PIPELINE_ID` from the frontend UI for testing purposes, and when I use `CLIENT.get_pipe

[2020-07-08 10:37] #3901 closed

[2020-07-08 11:19] ksonbol opened #4174 "Replace links to deprecated components from docs"
[This documentation page](https://www.kubeflow.org/docs/pipelines/sdk/build-component/) includes multiple references to the [deprecated dataproc component](https://github.com/kubeflow/pipelines/tree/master/components/deprecated/dataproc/train). I think [this](https://github.com/kubeflow/pipelines/tree/master/components/XGBoost/Train) can be used instead.

/area docs

[2020-07-08 12:14] guanhuichen opened #4175 "etcdserver: request is too large - Large workflow support (like 2000+ node status)"
/kind feature

### What steps did you take:
kfp.dsl.graph_component recursion (might result in 2000+ node status) or kfp.dsl.ParallelFor with 2000 size input array

### What happened:
workflow stopped with error etcdserver: request is too large

### What did you expect to happen:
the run api returns the node status without error

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP

[2020-07-08 12:39] elikatsis opened #4176 "Client helper get_experiment() raises irrelevant error when there are no experiments"
### What steps did you take:
Use `client.get_experiment(experiment_name="test")` when there are **zero** experiments.

### What happened:
`client.get_experiment()` raises error `'NoneType' object is not iterable`
[code]

### What did you expect to happen:
`client.get_experiment()` to raise the error `ValueError('No experiment is found with name {}.'.format(experiment_name))`

[2020-07-08 14:01] sakaia commented on #4148
It seems following changes are needed. Is my understanding correct?

[code]

[2020-07-08 15:05] Bobgy commented on #2680
/reopen

[2020-07-08 15:42] numerology commented on #4085
@sakaia

If you're running entirely locally then I don't think the xgboost sample is feasible anyway, because it needs to talk to GCP Dataproc service, which needs a GCP project ID.

[2020-07-08 15:54] sudivate commented on #4165
@Bobgy I'm leveraging pipeline description to hold more data about the pipeline, the request is to enhance the pipeline with the support  for tags

@Bobgy I'm leveraging pipeline description to hold more data about the pipeline, the request is to enhance the pipeline with the support  for tags

The lineage view in artifacts is fantastic and helpful in creating data->execution-model lineage.  My as

[2020-07-08 17:18] Ark-kun commented on #4173
Thank you for the report.

Can you please check what this code prints?
[code]

[2020-07-08 17:24] Ark-kun commented on #4169
The caching should work transparently. Just run a pipeline. Wait for it to finish. Run the same pipeline again. The pipeline should execute faster due to skipped steps.

Let's try to find the root of the problem. Are you running a custom pipeline? Does a preloaded pipeline work (e.g. Data passing)?

Can you check that the cluster is healthy? Use `kubectl get pods --all-namespaces` and check for an

[2020-07-08 17:39] sudivate commented on #4169
All pods including the cache server and mysql are running healthy. Yes, I'm running my custom pipeline with static component and caching enabled by setting  caching_strategy.max_cache_staleness="P30D" but  I don't see the step getting skipped on re-execution

[2020-07-08 17:43] #4110 closed

[2020-07-08 18:27] #4089 closed

[2020-07-08 18:33] Ark-kun commented on #4169
JFYI: This is not required.

How did you deploy KFP? Marketplace, Standalone or kfctl?

Can you check the cache serverlogs:

[code]

I think KFP 0.5.0 lacks UX indication of skipped steps. But the log tab should say that the step was skipped. Can you please check the annotations of some pods that should have been skipped, but was executed?

P.S. There were been some fixes and improvements to the U

[2020-07-08 18:36] Ark-kun commented on #4165
Currently it's possible to add annotations to components and component instances.
I think we could log some of those to MLMD

[2020-07-08 18:46] Ark-kun commented on #4170
Ideally, this pipeline compiled from that code should be very small since it only needs a single template. But with the current pipeline, each task has its own template, increasing the workflow size.

How limiting is this for your scenarios?
How do you create that many tasks? Do you use a loop like in the description?
It's possible to use the more powerful `dsl.ParallelFor` loop or recursive loop

[2020-07-08 18:52] radcheb commented on #4142
Thanks @Ark-kun this fixed the issue and the pipeline compile successfully.

Actually we noticed this error in one of our pipelines where we define the component inside the pipeline definition. We don't use this feature with exported components.

We have some generic inference pipeline that must perform inference on model trained with a compatible code versions. Therefore, inference pipeline argum

[2020-07-08 18:55] radcheb commented on #4170
Thanks @Ark-kun for your quick reply.

Our real pipeline is mush richer with a mix of data preapration, training and model evaluation. It use multiple sources of data and thus can include more than 20 components for 100 tasks. The loop is used here just as an example to reproduce the  issue.

[2020-07-08 18:56] Ark-kun commented on #4142
The pipeline still compiles BTW. The validation happens after writing the file so that you can inspect the compiled pipeline or send it for debugging.

I think so. This was never supported, but it started triggering error due to a combination of changes and behavior quirks. (The `component_spec` annotation is added after all placeholders are resolved. Previously, that annotation was missing the `i

[2020-07-08 19:01] Ark-kun commented on #4142
Glad to hear that!

I see. Just for my education: Is this due to pickling? What ML framework do you use? How is it sensitive to the python version?
I'm creating training components for multiple ML frameworks and I'd like to know the gotchas.

Just brainstorming: Maybe you can also standardize on some python version for training and inference and update it across components once a year?

[2020-07-08 19:15] radcheb opened #4179 "Frontend UI cannot display large workflows"
### What steps did you take:
I started a big pipeline. The pipeline runs successfully but the pipeline graph is not displayed.

### What happened:
The UI says "No graph to show" and no graph is show:
![image](https://user-images.githubusercontent.com/5963615/86959725-a2c30d80-c15e-11ea-8df2-7c22cf600f9a.png)

### What did you expect to happen:
Expected the UI to display the pipeline graph.

### En

[2020-07-08 19:19] radcheb commented on #4179
I suggest a fix in this PR:
https://github.com/kubeflow/pipelines/pull/4180

It's already tested locally.

[2020-07-08 19:31] radcheb commented on #4142
We use **PyTorch** as ML framework. We don't have issues with pickling, however since we are continuously iterating on our models and we would like to have a stable and generic inference pipeline for our client-facing constraints, we were usually forced to update our inference pipeline due to breaking changes in our model. These changes may not impact the model components (apply model, etc), howev

[2020-07-08 19:37] Ark-kun commented on #4142
Thank you for describing your scenario.

Closing this issue since the problem has been solved.

[2020-07-08 19:37] #4142 closed

[2020-07-08 19:37] theone4ever commented on #4145
@Ark-kun  thank you for detail explanation. I am happy with your suggestion, idea and in fact the ContainerOp->component recommendation is a really good and important one. Very appreciated! Thus I close this issue

[2020-07-08 19:37] #4145 closed

[2020-07-08 20:25] #4176 closed

[2020-07-08 21:07] Ark-kun commented on #4145
Thank you.

BTW, I've created a fix for the `task_display_name` issue. It will be merged and released soon. https://github.com/kubeflow/pipelines/issues/4163

[2020-07-08 21:22] Ark-kun commented on #4170
That's great to hear. The real value of the Pipelines starts to manifest when the pipelines are bigger.

Roughly, how many instances do you have of same components?

Sorry to hear about the problem.
There is a workaround to squeeze the size a bit (although you'll be losing some features like artifact types in the Metadata UX)

[code]

[2020-07-08 21:23] Ark-kun commented on #4170
Everyone else independently affected by this issue, please speak up. I'd like to know about your situation.

[2020-07-08 21:29] Ark-kun commented on #4175
KFP is already using Argo v2.7.5
Do we need to enable the feature somehow?
I'm afraid Argo only compresses the status object. If the spec is too big this does not help.

[2020-07-08 22:50] sakaia commented on #4085
Thank you for your comments. I understand it depends largely on GCP (like dataproc)  after this issue creation.

[2020-07-09 02:31] guanhuichen commented on #4175
@Ark-kun Argo compressses the status object if it doesn't execced the 1M limit by etcdserver. Otherwise it will store the whole status object in the postgresql as the secondary store.  I tried to enable the persistence feature at argo workflowcontroller, the status returned form the run api (kfp) misses the "OffloadNodeStatusVersion" data and wont get the whole node status from the db

![image](ht

[2020-07-09 06:14] Ark-kun commented on #4175
The problem is that with 2000 steps your `spec` object will also be very big.

[2020-07-09 06:53] Bobgy commented on #4179
Thanks! I'll take a look

[2020-07-09 07:12] #3311 closed

[2020-07-09 07:42] sbakiu opened #4183 "Minio GCS Gateway cannnot autheticate in a GKE Cluster"
### What steps did you take:
While deploying Kubeflow Pipelines Standalone (v 1.0.0-rc.4), minio deployment does not fail, but however logs 401 error message. The reason is that in the deploymnet `manifests/kustomize/env/gcp/minio-gcs-gateway/minio-gcs-gateway-deployment.yaml` there is no `GOOGLE_APPLICATION_CREDENTIALS` envrionement variable or no `serviceAccountName` spec defined.

### What happ

[2020-07-09 07:49] taivokasper opened #4184 "Generated recurring run cron is off by 1 day"
### What steps did you take:
Create weekly recurring run (every Wednesday) with type cron

Generated cron denotes Wednesday with "3" when it should be "4" so it never fires when it should.

<img width="634" alt="Screenshot 2020-07-09 at 10 34 32" src="https://user-images.githubusercontent.com/5394129/87010889-e30ea400-c1cf-11ea-82a0-57dede1dd3c6.png">

### What happened:
Generated cron: 0 0 0 ? *

[2020-07-09 08:40] Bobgy commented on #4184
I remember reading the spec, the weekday number there starts from 0. You may try Sunday.

[2020-07-09 08:41] Bobgy commented on #4183
We are now recommending workload identity for transparent GCP authentication. Were there any issues blocking you from using it?

[2020-07-09 09:21] taivokasper commented on #4184
Yes that is true, but this bug report is about the UI generating wrong cron

[2020-07-09 09:23] sbakiu commented on #4183
Also for workload identity one needs to specify `serviceAccountName` spec in the deployment manifest. Currently this is not there.  Or am I missing something?

[2020-07-09 10:01] Bobgy commented on #4183
@sbakiu You are totally right!
We should add service accounts for them.

[2020-07-09 10:13] Bobgy commented on #4183
Sent fix PR in https://github.com/kubeflow/pipelines/pull/4188.
@sbakiu

[2020-07-09 10:24] #4183 closed

[2020-07-09 12:12] guanhuichen commented on #4175
Oh i see, let me rephrase my words. In my case the spec could be small like ParallelFor with 2000 size input array or 2000 loop in recursion. 2000+ steps are meaning in the final running detail not in spec. Agreed that 2000 steps in spec object will also be very big. Users usually wont do that.

[2020-07-09 15:17] Bobgy opened #4189 "[Testing] postsubmit test failing on release-1.0 branch"
### What steps did you take:
Look at commit: https://github.com/kubeflow/pipelines/commit/bd7f3c9cd60144aef953db7aa2a4b17cec1cfa73

### What happened:
standalone component test failed:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit-standalone-component-test/1281172742669864961

Error message in the client:

sample-test-gf4sm-3534797757: Traceback (most recent cal

[2020-07-09 15:18] Bobgy commented on #4189
Also post mortem, I only looked at master branch postsubmit tests passed. However, master branch has been pinned to use 0.5.1 components. We should have updated its component reference to 1.0.0-rc.4 to catch up with latest changes.

The postsubmit tests on release-1.0 branch are catching real failures.

/assign @Bobgy @numerology

[2020-07-09 15:23] Bobgy commented on #4189
Hold on, I looked at component.yaml for 1.0.0-rc.4 release, it seems good https://github.com/kubeflow/pipelines/blob/1.0.0-rc.4/components/gcp/dataproc/create_cluster/component.yaml.

Maybe the problem is a wrong mechanism that didn't replace tags properly during postsubmit test. I'll look into that tomorrow. It could be not 1.0 blocking.

But we should still look at the client stacktrace.

[2020-07-09 16:48] andrewgdavis opened #4191 "UI for Recurring run configs reports subset of active configs"
### What steps did you take:
Create an Experiment.
Place multiple (in my observation there are over 150) recurring pipeline cron configs in the experiment.
Toggle (Enable or Disable) some of the most recent created configs.
View the ui for recurring configs in the experiment while toggling between enabled and disabled.

### What happened:
The "Active configs" number did not change.

### What did y

[2020-07-09 17:18] yaliqin commented on #1223
We are deployed Kbueflow on istio. Currently though we can set multiple user namesapce, but the pipeline are shared. And data in user namespace and kubeflow is isolated. I manually mount the the 2pvs to the same path. Ideally, the user namespace should also work for pipeline separation, then  the data sharing should be supported by default.

[2020-07-09 21:48] eedorenko commented on #4080
Often in the step you need to know run_id for the logging in external system (mlflow), tagging the model, notifying CI orchestrator, etc. Same is true for run_date, run_params, pipeline_attributes, etc.

I would just expect environment variables inside the component container

Name, description, version

Yes, of course it's possible to pass almost everything as parameters. It's just the matter of

[2020-07-09 22:11] eedorenko opened #4193 "Tags for a pipeline version"
Ability to add tags to a pipeline version. (e.g. CI build id, branch)

[2020-07-09 22:13] eedorenko opened #4194 "Tags for a pipeline run"
Ability to add tags to a pipeline run. (e.g. invoker id like data pipeline run id, CI run id, etc.)

[2020-07-09 22:52] Bobgy commented on #1223
Can you create separate issues for them?
Separating pipelines seem a common request, we can consider adding it.

Which data do you mean? Data in minio? They are shared though.

[2020-07-10 00:16] Bobgy commented on #4189
/reopen

[2020-07-10 00:34] jackwhelpton commented on #1223
Another voice in favor of this, we were hoping that with multi-tenancy enabled it would be possible for a user's pipeline runs to occur in their namespace: for us this is vital for auditing and billing purposes, and is more important than being able to segregate the pipelines themselves. Is this coming down the line? Is it planned for a particular release? Is there any beta etc. available?

[2020-07-10 00:49] Bobgy commented on #1223
@jackwhelpton you can take a look at

Instructions doc - KFP multi-user instructions for GCP: https://docs.google.com/document/d/1Ws4X1oNlaczhESNuEanZxbF-cnSfO78B1rBHWOkIAzo/
this is shared with kubeflow-discuss@ google group.

This is the user instructions we shared for early access to multi user mode. Being able to let users' pipeline runs occur in their own namespace is already supported.

Curr

[2020-07-10 01:42] #4163 closed

[2020-07-10 02:23] yaliqin opened #4197 "support separate pipeline for each namespace"
EDIT from @Bobgy: This issue got 47 upvotes when requesting user feedback: https://github.com/kubeflow/pipelines/issues/1223#issuecomment-656508302.

### Proposed change
Currently with 1.0.2 version, Kubeflow Deployment with kfctl_k8s_istio shares pipelines for all namespaces defined in user profile. Separate pipeline support for each namespace is needed because the multi-user notebook server sepa

[2020-07-10 02:37] yaliqin commented on #1223
@Bobgy, Thank you for reply. I just open a new issue.
The data sharing is not very related to Kubeflow itself. I am using Kale extension to automate the Kubeflow pipeline compile and run. The data of the notebook server can't be passed to Kubeflow pipeline directly because the notebook server is user profile namespace while the pipeline run is in kubeflow namespace. I solved this problem by connec

[2020-07-10 02:49] Ark-kun commented on #4193
Hello. How do you expect to use this feature? What is the syntax you want to add?

[2020-07-10 02:49] Ark-kun commented on #4194
Hello. How do you expect to use this feature? What is the syntax you want to add?

[2020-07-10 03:21] Bobgy commented on #4197
FYI, in existing to be released KF 1.1, pipeline runs are already in user namespaces.

but the static pipeline yaml files are not separated. Do you want this additionally?

[2020-07-10 04:22] #4160 closed

[2020-07-10 05:49] #3346 closed

[2020-07-10 06:20] Bobgy commented on #4194
And do you want to filter on the tags?

[2020-07-10 06:23] Bobgy commented on #4197
Related to https://github.com/kubeflow/pipelines/issues/1223

[2020-07-10 06:26] Bobgy commented on #1223
Cross posting for clarification https://github.com/kubeflow/pipelines/issues/4197#issuecomment-656458724:

pipeline runs are already designed to run in user namespaces.
The only resource in KFP system that is not namespace separated (as of today) is static pipeline yaml files you upload to the server. They will remain public to anyone in the cluster. Users can try to launch any pipelines in their

[2020-07-10 06:30] Bobgy commented on #1223
If your organization would prefer pipeline resource separated by namespace, please upvote here. We can consider adding the support if there are enough user interest.

[2020-07-10 06:35] Bobgy commented on #4189
We haven't seen one commit with all postsubmit tests passing, but each test has passed recently in at least one commit.
I am confident we fixed the issues and the test is just still flaky right now.

[2020-07-10 06:35] #4189 closed

[2020-07-10 06:41] animeshsingh commented on #1223
@Bobgy it should be a feature which is enabled - if users want to "promote" their pipeline resource to be public, its allowed. Else int their namespace by default.

[2020-07-10 06:43] Bobgy commented on #1223
Yes, I agree if we decide to implement, we'll make it configurable.

[2020-07-10 06:45] yaliqin commented on #1223
Will upvote. Thanks!

On Thu, Jul 9, 2020 at 11:43 PM Yuan (Bob) Gong <notifications@github.com>
wrote:

[2020-07-10 06:47] Bobgy commented on #4197
There are more clarification in https://github.com/kubeflow/pipelines/issues/1223#issuecomment-656507073.

If you agree with the proposal in https://github.com/kubeflow/pipelines/issues/1223#issuecomment-656508302, can you rephrase your description to just focus on pipeline resource for this issue.

[2020-07-10 07:37] Bobgy commented on #4173
/assign @Ark-kun @jingzhang36

[2020-07-10 17:52] #2954 closed

[2020-07-10 17:54] yaliqin commented on #4197
I think the pipeline yaml files should be supported also for E2E separation.  Thanks. Already upvote in #1223 .

[2020-07-10 19:29] JakeTheWise commented on #4099
Is this issue related to the fact that anonymous dockerhub pulls are rate-limited?

https://docs.docker.com/docker-hub/download-rate-limit/

[2020-07-10 20:34] jackwhelpton commented on #1223
Just working my way through the documentation, thanks for pointing me in that direction. It seems geared around using `kfp.Client` to execute pipelines; what's the corresponding vision when executing through the UI? I was hoping that pipelines would execute in a namespace based on what's selected in the top drop-down, is that the idea?

[2020-07-10 22:05] Ark-kun commented on #3812
Thank you. Having the full context is crucial.

We think that the caching feature should make this a non-issue. The previous steps are just skipped when you re-submit a pipeline.

I think this can be pretty fragile. The artifact repository is considered to be a black box and some users configure it to use GCS, S3 or OSS instead of Minio. I'm not sure it's a good idea to access it from components.

[2020-07-10 22:10] jlewi commented on #4159
@Bobgy It looks like kubeflow/manifests#1342 just merged the changes onto master. Do we still need to merge it onto the 1.1 branch?

Once its on the 1.1 branch can we manually verify that its working as intended against an auto-deployed cluster before closing this?

[2020-07-10 22:16] Ark-kun commented on #3812
Let me try to understand the issue better.
If I understand correctly, you know how to solve the issue by making pipeline-level customization, but you'd like to move that to, say, cluster-level. Is that correct? Maybe the PodPreset can help here.

A fully-supported workaround for passing an explicit artifact to a component is to first explicitly upload that artifact to an external storage (e.g. GCS

[2020-07-10 23:17] eedorenko commented on #4194
The syntax as the following:
run_pipeline(self, experiment_id, job_name, pipeline_package_path=None, params={}, pipeline_id=None, version_id=None, tags={})
where tags: a dictionary with key (string) as tag name and value (string) as as tag value.
e.g.:

    run_tags = {}
    run_tags["adf_run_id"] = "1111-2222-3333-4444"
    run_tags["use_case"] = "Standard"
    client.run_pipeline(experiment_id=e

[2020-07-10 23:34] eedorenko commented on #4193
The syntax as the following:
[code]
where tags: a dictionary with key (string) as tag name and value (string) as as tag value.
e.g.:

[code]

[2020-07-11 00:09] animeshsingh commented on #3703
@rmgogogo can you share the slides vis a vis IR and timelines discussed in last meeting? Or its linked somewhere?

[2020-07-11 00:31] Bobgy commented on #4159
@jlewi I plan to cherrypick all multi user PRs in one batch and we can verify after that only once.

Sounds good?

The pending PRs: the one that adds application and another one(not sent yet) in blueprint repo for turning on istio sidecar for kubeflow namespace.

[2020-07-11 00:36] Bobgy commented on #1223
@jackwhelpton Yes, the feature you described is already there. They are not mentioned in the doc just because they work seamlessly.

[2020-07-11 02:07] #3859 closed

[2020-07-12 11:28] Bobgy commented on #3332
sounds like we want this remain open

[2020-07-13 09:00] wangpengfei984597422 opened #4202 "How can i make a graph dependent on an CantainerOP, another graph or some Conditions?"
I used some tedious strategies to solve the above problems, but I wonder how you solved such problems.

[2020-07-13 09:20] BoecquaertJonas commented on #4173
This is what I get back.
![image](https://user-images.githubusercontent.com/29035046/87287729-beca0480-c4fa-11ea-900b-ce50a3585c55.png)

No trace of `upload_pipeline_version`.

[2020-07-13 09:54] Bobgy commented on #3961
Umbrella issue for KFP multi user mode integration with KF 1.1 should be https://github.com/kubeflow/pipelines/issues/3241.

[2020-07-13 09:55] Bobgy commented on #4159
Closing this issue, because I'm using https://github.com/kubeflow/pipelines/issues/3241 as top level tracker issue for KFP multi user mode KF 1.1 integration.

[2020-07-13 09:55] #4159 closed

[2020-07-13 09:59] Bobgy commented on #4202
/assign @Ark-kun

[2020-07-13 10:02] Bobgy commented on #4160
This is also dependent on https://github.com/kubeflow/gcp-blueprints/pull/80

[2020-07-13 10:03] Bobgy commented on #3241
TODO: I also need to cherry pick a bunch of multi user mode PRs to 1.1 branch.

[2020-07-13 12:58] Bobgy opened #4204 "[Release] publish api reference doc during release"
https://www.kubeflow.org/docs/pipelines/reference/api/kubeflow-pipeline-api-spec/

[2020-07-13 13:23] jlewi commented on #3241
@Bobgy Do we have an ETA for when all of the PRs will be on the 1.1 branch?

[2020-07-13 13:27] Bobgy commented on #3241
@jlewi https://github.com/kubeflow/gcp-blueprints/pull/80 and https://github.com/kubeflow/manifests/pull/1374 are the only ones left.
If they are merged, I can create cherry pick PRs tomorrow.

[2020-07-13 23:23] jlewi commented on #3241
kubeflow/gcp-blueprints#80 Per comment in this issue turning on istio-sidecar injection in the kubeflow namespace is a pretty big change. Do we really need to it this late in the release cycle?

[2020-07-14 03:42] Benjamin-Etheredge commented on #1662
Hey @lildonpancho

I am playing around with a similar workflow and ran into the same issue. I think I just figured it out. Change your code up similar to the following and it should work.
[code]

[2020-07-14 03:52] Ark-kun commented on #4202
@wangpengfei984597422 Can you please describe your scenario?

What graph are you talking about? The `@kfp.dsl.graph_component` decorator or `kfp.components.create_graph_component_from_pipeline_func`?

Just pass some output of ContainerOp instance to some graph input.

Just pass some output of another graph task to some graph input.

I think you can use `with kfp.dsl.Condition(...):` context manage

[2020-07-14 03:53] Ark-kun commented on #4193
How do you expect to see/use the tags after adding them. Are they for filtering only?

[2020-07-14 03:53] Ark-kun commented on #4194
How do you expect to see/use the tags after adding them. Are they for filtering only?

[2020-07-14 04:44] Bobgy commented on #3241
@jlewi oooops, I just realized ASM 1.4 doesn't support RBAC v1alpha1: https://cloud.google.com/service-mesh/docs/archive/1.4/docs/supported-features#authorization_policy.

I'll port the istio RBAC policies to Authorization v1beta1

[2020-07-14 04:47] Bobgy commented on #3241
It will be the same problem for any component that use `servicerole` and `servicerolebinding`s to authorize like jupyter notebooks.

[2020-07-14 08:40] haibingzhao opened #4208 "Unable to use tensorboard viewer using mount path"
### What steps did you take:
deploy 'ml-pipeline-ui' deployment with env:
`VIEWER_TENSORBOARD_POD_TEMPLATE_SPEC_PATH=/config/view_spec_template.json`

content of `/config/view_spec_template.json` is:
[code]
run pipeline component and finished with `Unsupported storage path: /output/5/1/record/rnn` error:
![image](https://user-images.githubusercontent.com/24826076/87403195-22355e80-c5ef-11ea-98cb-9

[2020-07-14 09:00] devashishshankar opened #4209 "VolumeOp delete gets stuck"
### What steps did you take:
I use VolumeOp in my pipeline along with VolumeOp().delete(). It was working fine so far - but recently it seems to get stuck.

### What happened:

I see the following logs:
[code]

The <pvc_name> is correct and the PVC exists. However, the pod gets stuck here for days. Even calling "terminate" on the UI doesn't help.

Any tips on how to debug this would be appreciated

[2020-07-14 10:37] Bobgy commented on #3241
Hmmmm, I was wrong. I tried a notebook, when accessing it from another account without permission. I got `RBAC: access denied` as expected. So something is not working correctly for KFP. I'll troubleshoot it.

[2020-07-14 19:14] #3470 closed

[2020-07-14 22:10] eedorenko commented on #4193
- Show on Dashboard
- Filter on dashboard
- Return in response of GET /apis/v1beta1/pipeline_versions
- Filter on GET /apis/v1beta1/pipeline_versions e.g. &filter={"predicates":[{"key":"tags","op":"CONTAIN","string_value":"[tag_value]"}]}

[2020-07-14 22:11] eedorenko commented on #4194
- Show on Dashboard
- Filter on dashboard
- Return in response of GET /apis/v1beta1/runs
- Filter on GET /apis/v1beta1/runs e.g. &filter={"predicates":[{"key":"tags","op":"CONTAIN","string_value":"[tag_value]"}]}

[2020-07-14 23:12] Bobgy commented on #3505
/lifecycle frozen

we want to keep investing in this

[2020-07-14 23:13] Bobgy commented on #3454
/lifecycle frozen
this is still a valid feature request

[2020-07-14 23:24] gyant commented on #3383
I'm having issues with this as well using the deployment tool in a shared vpc environment.

Currently in the process of running a sanity check on this.

Here's what I've tried so far:

1. Full API Scope access on the service account bound to the GKE nodepool.
2. All Project Service APIs enabled on both the service and host project.
3. `roles/owner` for the k8s service accounts and the gke node poo

[2020-07-15 01:12] wangpengfei984597422 commented on #4202
1、When I was building a pipeline, one of the components Component_A used to modify my data in the database(like google Bigtable), and I use `kfp.components.create_graph_component_from_pipeline_func `built a graph(Component_A is not in this graph), there is no argument passing between graph and Component_A, but this graph must wait before Component_A has been completed. The graph is not like Contai

[2020-07-15 01:29] Bobgy opened #4213 "Update supported tensorboard version list."

[2020-07-15 01:30] Bobgy commented on #4213
/cc @jingzhang36
/assign

[2020-07-15 01:31] Bobgy commented on #4213
TODOs:
* update supported list of tensorboard versions
* add a section in release note to do this regularly
* figure out a long term plan that doesn't require us doing this

[2020-07-15 01:33] Bobgy commented on #4170
Removing from 1.0 project because this is intended behavior.
If there's a need to change, we can fix it in later releases.

[2020-07-15 02:52] rmgogogo opened #4214 "FR: support HTTP/S PROXY from KFP-CLIENT (& from TFX SDK)"
1. Current SWAGGER GEN API Client already can support it

https://github.com/kubeflow/pipelines/search?q=RESTClientObject&unscoped_q=RESTClientObject

2. KFP Client didn't fetch and set the PROXY to API-CLIENT

https://github.com/kubeflow/pipelines/blob/d3ef0dcbd0131ce2b8fac618b7e4c485236da865/sdk/python/kfp/_client.py#L122

3. TFX SDK (KubeflowDagRunner) didn't fetch and pass the PROXY to KFP CLI

[2020-07-15 04:50] Bobgy commented on #3380
@daikeshi any updates? Was resource request able to solve the issue you met?

[2020-07-15 05:12] Bobgy commented on #3383
@gyant It's not very likely we can fix marketplace permission checking shortly.
Would you mind installing via https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/? AI platform pipelines deploys the same thing as standalone.

/assign @rmgogogo

[2020-07-15 05:42] Bobgy commented on #4193
/cc @jingzhang36
you might be interested in this request

[2020-07-15 05:43] Bobgy commented on #4193
/assign @jingzhang36

[2020-07-15 05:49] Ark-kun commented on #4202
Thank you for the detailed description.
At this moment graph components do not allow specifying any extra dependencies. But we've recorded your feature request.

There are some workarounds for the issue and usually this make you components and pipelines better.

The best components are like [pure functions](https://en.wikipedia.org/wiki/Pure_function). Its outputs only depend on the inputs and the

[2020-07-15 05:49] Bobgy commented on #4208
developer guide in https://github.com/kubeflow/pipelines/tree/master/frontend.

Would you mind trying adding a branch in source code to handle local file and if that works for you?

[2020-07-15 05:51] Bobgy commented on #4208
Thanks for the report! we haven't been supporting local volume mount for tensorboard, so this is a feature request.
/assign @jingzhang36

[2020-07-15 05:58] Ark-kun commented on #4173
Thank you for your patience.

I think I've found the root cause.

@rmgogogo It looks like KFP 0.5.1 was released with API changes ([PR](https://github.com/kubeflow/pipelines/pull/3001/files#diff-61677d48aaf2ae7c6ed570f39ccd4d1cR55)), but without releasing a corresponding version of the [kfp-server-api](https://pypi.org/project/kfp-server-api/#history) python client package. The latest release vers

[2020-07-15 06:02] Ark-kun opened #4216 "Deprecate the stale OpenVino components"
@dtrawins We've found several issues with the OpenVino components you've contributed. The `component.yaml` syntax of some of the components seems broken. Do you have any cycles to fix those issues?

[2020-07-15 07:49] Bobgy commented on #3241
OK, I found the culprit, it's knative's istio rule: https://github.com/kubeflow/manifests/blob/c300ee9ca30d8b606cd9713d120721f36e86b0ec/knative/knative-serving-install/base/service-role-binding.yaml#L11.

It basically allowed any network access from any user to any services in the namespace knative was deployed to.

But knative was already moved to its own namespace, so we can test latest version.

[2020-07-15 07:49] Bobgy commented on #3241
/cc @jlewi
I found the cause, see above comment.

[2020-07-15 08:57] BoecquaertJonas commented on #4173
Upgrading the kfp-server-api package did not fix the issue.
![image](https://user-images.githubusercontent.com/29035046/87525365-b18f5000-c689-11ea-8d22-af483bd0dc8d.png)
![image](https://user-images.githubusercontent.com/29035046/87525536-eb605680-c689-11ea-9541-9822f9b9ab8a.png)

[2020-07-15 09:09] BoecquaertJonas commented on #4173
I upgraded the kfp-server-api package to 1.0.0rc5 and now it works. Thank you for the workaround.

[2020-07-15 15:55] amygdala commented on #3382
I assume this should remain open...

[2020-07-15 18:55] daikeshi commented on #3380
@Bobgy I think so, but our cluster is currently on multiuser milestone one version, so tensorboard viewer is temporarily disabled and our users launch it through their own local dev env. I'll revisit it after we upgrade the cluster to multiuser milestone two.

[2020-07-15 20:19] IronPan opened #4217 "TFX Visualization broke in the KFP UI"
### What steps did you take:
[A clear and concise description of what the bug is.]
The TFDV Visualization can't be rendered in KFP UI for a dataset generated by a later version of TFX
Running the built-in samples with the matching TFX version can show the visualization without problem

### Environment:
This is broken in the latest released version of KFP

/area frontend

[2020-07-15 21:57] Bobgy commented on #4217
@IronPan can you share an example?

[2020-07-15 23:49] alexlatchford opened #4219 "chore: Linting, auto-formatting & type checking for KFP SDK"
As a part of some work I did this week (see https://github.com/kubeflow/pipelines/pull/4218) to clean up the SDK docs I noticed how variable the codebase standards for the Python SDK are. Looks like are some docs in the contribution guide that suggest a style, see [here](https://github.com/kubeflow/pipelines/blob/master/CONTRIBUTING.md#coding-style), and these choices seem perfectly reasonable to

[2020-07-16 00:02] alexlatchford commented on #4219
As with anything like this it requires a cost/benefit analysis, likely this is a well known problem to all but here's my best shot anyway.

**Costs**
- Ongoing burden on contributors to adhere to best practices, this may be particularly cumbersome if a decision is made to enable static analysis.
- Temporary burden on contributors whose work is in progress when we expose stylistic constraints.
- Co

[2020-07-16 02:22] Bobgy commented on #3078
/lifecycle frozen

[2020-07-16 02:39] Bobgy commented on #2680
/reopen
/lifecycle frozen

[2020-07-16 02:43] Bobgy commented on #4219
@numerology @Ark-kun I think you mentioned yapf can format only changed code, but I was unable to reproduce that feature on VSCode, everytime I try to format a file it just formats everything.

In the end, I'm unable to apply the new format when I make changes to python files.

[2020-07-16 02:44] Bobgy commented on #4219
Some previous discussion: https://github.com/kubeflow/pipelines/pull/4002#issuecomment-645182542

[2020-07-16 02:47] Bobgy commented on #4219
For frontend code we enforced code style similar to the tradeoffs you described, I was able to push a conclusion for all existing PRs and rush the code format enforcement without much interruption to others.

I couldn't figure out how to do formatting for python right now, so I hope there's either some guidance or we can enforce the format.

[2020-07-16 02:48] Bobgy commented on #4219
Of course, thanks @alexlatchford for driving these. Really appreciate your contribution!

[2020-07-16 02:56] haibingzhao commented on #4208
I'm glad to support this feature, some small code change works now. Detail info please refer to: [WorkflowParser.ts#L365](https://github.com/haibingzhao/pipelines/blob/master/frontend/src/lib/WorkflowParser.ts#L365) and [artifacts.ts#L105](https://github.com/haibingzhao/pipelines/blob/master/frontend/server/handlers/artifacts.ts#L105)

How to use?
1. clone source code, build frontend docker image,

[2020-07-16 04:43] Bobgy commented on #3380
Thanks for confirmation!
Let's keep this open.

[2020-07-16 04:55] Bobgy commented on #3436
@jingzhang36 told me she usually use `bazel test //backend/src/apiserver/storage:go_default_test --test_filter=TestListRuns_Pagination --test_o
utput=all` command to run the test, it shows test output in terminal directly.

I'll try to add it to the unit test run script.

[2020-07-16 05:14] Bobgy commented on #4217
I believe this was fixed in https://github.com/kubeflow/pipelines/issues/3493.

The issue will be present in earlier KFP versions e.g. <0.5.0

[2020-07-16 05:14] #4217 closed

[2020-07-16 05:38] Bobgy commented on #3525
/lifecycle frozen

We should keep this

[2020-07-16 06:14] Bobgy commented on #4204
TODO: we need instructions for how to do that in our release doc https://github.com/kubeflow/pipelines/blob/master/RELEASE.md

[2020-07-16 06:16] Bobgy commented on #4204
Also, we need to figure out how to show multiple versions.

[2020-07-16 06:31] Bobgy opened #4221 "[Testing] travis tests failing "ImportError: cannot import name 'pipeline_pb2'""
https://travis-ci.com/github/kubeflow/pipelines/jobs/361545078#L3696
/kind bug
/area sdk
/area testing

[2020-07-16 06:32] Bobgy commented on #4221
/assign @Ark-kun
I found it's failing constantly now

[2020-07-16 06:32] Bobgy commented on #4221
Do we need to fix something on 1.0 branch?

[2020-07-16 07:52] rmgogogo commented on #3383
MKP checkes the first node-pool and then find it doesn't have the required permission. It's the expected behavior. If you delete the first node-pool I think it can be selected. Or you create the cluster with the scope since the begining.

+1 with Bobgy that standalone is suggested for most flexibility.

[2020-07-16 11:19] TheFreaky commented on #3806
Faced with same issue.

I found the reason for this behavior:

[code]

### Environment:

KFP version:
Build commit: 1168b08

KFP SDK version:
kfp 1.0.0rc5
kfp-server-api 1.0.0rc5

[2020-07-16 12:06] TheFreaky opened #4222 "Invalid format of float in scientific notation in workflow specification"
Reopen #3806

### Environment:
KFP version:
Build commit: 1168b08

KFP SDK version:
kfp 1.0.0rc5
kfp-server-api 1.0.0rc5

/kind bug
/area sdk

[2020-07-16 12:16] haibingzhao commented on #4202
I think this is a bug of Argo, detail refer: https://github.com/argoproj/argo/issues/3491

by the way, kfp sdk dose not support `optional` currently. any plan to support this?

[2020-07-16 12:52] Hmr-ramzi opened #4224 "Standalone spark application as a component in a pipeline"
### What steps did you take:
[A clear and concise description of what the bug is.]
A standalone installation spark was wrapped in a docker image and used a component in one of the steps of a pipeline
### What happened:
The pipeline step failed with
secrets is forbidden: User "system:serviceaccount:kubeflow:pipeline-runner" cannot create resource "secrets" in API group "" in the namespace "kubeflow

[2020-07-16 13:34] ca-scribner commented on #1223
@Bobgy re minio artifact store not being supported in KF 1.1 release, does that mean that a pipeline running in my namespace still writes to a shared artifact store?  For example, anything my pipeline writes implicitly (eg: data written when piping results between steps in a pipeline like `consumer_op(producer_task.output)`) is accessible to anyone who can look inside that artifact store?

[2020-07-16 15:23] MatteoFelici opened #4226 "Bigquery components README not consistent"
### What steps did you take:

1.

[code]
as suggested in the README.

2.
[code]
pointing at the master branch, then

[code]
as suggested in the README.

3 . Same as before, adding a `table=''` parameter when needed (look below).

### What happened:

1.
[code]

2.
[code]

3.
[code]

### Anything else you would like to add:
2. There is
[code]
at the bottom of the inputs in `component.yaml` file that

[2020-07-16 15:27] alexlatchford commented on #4219
Thanks for sharing this, looks like I need to convince @Ark-kun then that this a pain worth going through. In general I think I'm on same page as you mention here, https://github.com/kubeflow/pipelines/pull/4002#issuecomment-645180847, where this will have a period of short-term pain but on the whole will be worthwhile moving forward.

Really a goal of this was to add more type hints to help drive

[2020-07-16 15:47] ksonbol commented on #336
Hi, I want to do something similar to the example given here but instead of passing small text or local files or GCS Paths, I want to pass S3 paths.  My use case is as follows: I need to download some files from a folder in an S3 bucket, do some processing on them, then upload some results to another S3 folder. Is this possible with this approach?

I have read the data passing tutorial and the "Cr

[2020-07-16 22:33] #3436 closed

[2020-07-16 23:49] terrykong opened #4229 "[Question] ComponentSpec that can specify Kubernetes resources"
I understand from a few KFP issues that component specs (in yaml) are the most portable way to specify our tasks, but I have not found a way to do the following:

I want to convert a component I had a while back where I explicitly created a `ContainerOp` to a component yaml spec.

The example I have is
[code]

But looking at https://github.com/kubeflow/pipelines/blob/master/sdk/python/kfp/componen

[2020-07-17 00:05] #4157 closed

[2020-07-17 02:09] PatrickXYS commented on #4048
@Bobgy I wonder if this is expected behavior for users:

1. Develop code locally
2. Use `kfp.Client()` to **authenticate** themselves and submit a pipeline run.

May I know other vendors solutions?

[2020-07-17 02:11] PatrickXYS commented on #4040
Looking to see if I can help

[2020-07-17 02:17] Ark-kun commented on #3971
It's still recording types in some cases, but not in mall cases. There is some regression.

[2020-07-17 02:18] Ark-kun commented on #3971
I've investigated the issue. It's caused by relaxation of Argo input/output name sanitization rules in the DSL compiler.

[2020-07-17 02:26] Bobgy commented on #4048
Yes, it's one of the supported develop options.
For GCP, we have some GCP native mechanisms that help users authenticate (e.g. they are required to authenticate through gcloud CLI, or using an OAuth2 token).

I think @Jeffwan is working on these for AWS in https://github.com/kubeflow/pipelines/pull/4182.

[2020-07-17 02:44] PatrickXYS commented on #4048
Cool, I think the PR will close this issue.

[2020-07-17 03:02] Bobgy commented on #4224
Thanks for the report!

However, KFP isn't opinionated about what permission you give to `pipeline-runner`. The role has never been added: https://github.com/kubeflow/pipelines/commits/master/manifests/kustomize/base/pipeline/pipeline-runner-role.yaml.

You are recommended to add more RBAC permission to `pipeline-runner` service account, refer to https://kubernetes.io/docs/reference/access-authn-a

[2020-07-17 03:07] Ark-kun commented on #4221
It looks like TFX just broke within itself. The issue does not seem to be KFP-related.

[2020-07-17 03:08] Bobgy commented on #1223
@ca-scribner That's right.
Current suggested workaround is to only pass urls through minio, let components read/write GCS/S3 directly and manage permission there if you care about data separation.
(If you use TFX, that's already the case.)

[2020-07-17 03:12] Ark-kun commented on #4221
Here is the PR that switched the proto codegen from `protoc` to `bazel` https://github.com/tensorflow/tfx/pull/2143

[2020-07-17 07:21] Bobgy commented on #3789
@discordianfish @jonasdebeukelaer
Instead of editing a Job directly, I'm thinking about an alternative:
[code]

This approach works with existing features, and leaves a track record of what jobs were scheduled with what pipeline. What do you think?

When we update a Job, what should its behavior for existing runs be? what about auto-backfill? Do people want to know edit history of this Job? I thin

[2020-07-17 09:33] Bobgy commented on #4141
Ohh, I didn't know we have a version matrix there. I'm not sure that version matrix is intensively tested for the cells with `no known issues`. e.g. https://github.com/kubeflow/pipelines/issues/4138 reported an incompatibility with Kubernetes 1.18.

[2020-07-17 09:38] Mar-ai commented on #3951
Sorry for the late reply @Bobgy. Indeed we're still on version 0.2.0.
Thank you!

[2020-07-17 10:50] Bobgy commented on #3951
No problem

[2020-07-17 10:51] Bobgy commented on #3951
Ohhh, forgot this is a FR

[2020-07-17 10:52] Bobgy commented on #4208
That's awesome!
PR welcomed

[2020-07-17 10:53] #3971 closed

[2020-07-17 10:53] #4221 closed

[2020-07-17 11:36] ca-scribner commented on #1223
@Bobgy ok we lose kfp's helpful automatic piping of real data, but the data is still secure.  Only meaningful downside I think is that everyone has to teach their components how to talk to their blob storage rather than offloading it to reusable blob-put/blob-get components.  That's a fair compromise.

You're right about minio multi-tenancy (I work in one atm).  I'll ask around for ideas.

[2020-07-17 12:31] linkvt commented on #4141
Oh then at least the good news are, that you guys know about that matrix now :grin: .

For me as an end user this is quite confusing as it seems to me that Kubeflow Pipelines is only a part of the full kubeflow suite, so I was already confused that kubeflow _full_ is in 1.1RC and you are still in 1.0RC.

As a k8s admin this are also not very good news for me, as kubeflow held us back quite a lot w

[2020-07-17 13:39] blairdrummond commented on #1223
@ca-scribner I think the Minio "Multi tenant" is slightly different than what we're doing; I think we're using OPA or Istio magic or something to provide every namespace with a private *bucket* on a single tenant (We do have minimal v.s. premium tenants, but that's different). I think the term "tenant" is a bit overloaded here

[2020-07-17 18:42] Dhaval08 commented on #1131
Any update on this?

[2020-07-17 21:19] sudivate commented on #4169
Thank you @Ark-kun. I ran with KFP-1.0.0-rc5 and works smoothly. This is good to close.

Any tentative dates on release?

[2020-07-18 00:18] Ark-kun commented on #4229
For container components this feature does not exist by design:
KFP components are designed to be portable. It's possible to run them on non-Kubernetes systems like local Docker, and various container-running services like Google Cloud or AWS. If it was possible to add that volume mount to the component itself, the component would have only worked on one cluster and won't be reusable.

How to appl

[2020-07-18 01:31] haibingzhao commented on #4208
PR was ready: #4236

[2020-07-18 01:43] Bobgy commented on #4169
The coming monday!

/close

[2020-07-18 01:43] #4169 closed

[2020-07-18 21:19] Ark-kun opened #4238 "kfp.Client() does not work from inside a pipeline pod"
Kubeflow is shipping with in-cluster notebook service. I remember that in hose notebooks you could use `kfp.Client()` (without arguments) to access the KFP cluster.

I've recently tried to use `kfp.Client().*` from inside a component pod, but it could not connect (AFAIK, the URL did not have any host part).

Is it by design ? Is there an easy fix to make it work?

[2020-07-18 22:07] Ark-kun opened #4241 "Compilation should fail when user passes the whole task outputs dictionary instead of one output to an input"
This issue is similar to https://github.com/kubeflow/pipelines/issues/4040

Example broken code which should fail:
[code]

The correct code:
[code]

Currently the outputs dictionary is silently converted to a big string constant and passed downstream.

[2020-07-18 22:14] Ark-kun opened #4242 "Json format of serialized dictionary arguments that container task output references may be broken if the output values contain quotes"
This problem seems almost inevitable.

The examaple code:

[code]

In this case, if `some_op` returns a string with double quotes, the json data will be broken and other_op will fail to deserialize it at runtime.

The issue is in part caused by Argo's text-based placeholders.

The only way I see to fix this in an orchestrator is to delay dict serialization to JSON until the placeholders are resolv

[2020-07-19 06:30] giladwa1 commented on #2829
I'm still having the same problem. Is this fixed?

[2020-07-19 21:50] PatrickXYS commented on #596
TFX v0.22.0 support Apache Beam 2.21.0 with S3 support. https://github.com/tensorflow/tfx#compatible-versions

[2020-07-19 22:56] #2725 closed

[2020-07-20 02:47] Bobgy opened #4247 "FR - upload pipeline via private GCS bucket"
Recording some pain points.

[2020-07-20 02:53] Bobgy commented on #4247
When I try to upload a pipeline to KFP instance through a private GCS bucket that KFP should have access to.
This is hard.

Context: when I develop remotely, I'm using a remote development machine, so I don't have the file local to my browser and want to upload by gcs.

However, KFP only accepts URLs or local files, but it doesn't support gs:// urls.
I need a way to convert a gcs file to a proper

[2020-07-20 04:09] jingzhang36 commented on #4193
Is it possible to use the pipeline version name as the tag? We can sort and filter on pipeline version name.

[2020-07-20 05:00] nikhil-dce commented on #4170
We are getting this error too. We are using kfp 0.5.1. The yaml created is 1.3 MB in size, and we have 400+ components in the pipeline. We are working on a benchmarking tool that has multiple datasets and sub-pipelines in the graph. Is there a plan to allow larger pipelines than currently allowed? This seems like a common use case.

[2020-07-20 06:26] Bobgy opened #4248 "[Release] Changelog for 1.0.0 only contains commits after 1.0.0-rc.5"
As reported in https://github.com/conventional-changelog/standard-version/issues/547.
When we are at 1.0.0-rc.5, and then do a 1.0.0 release. Generated CHANGELOG is between rc5 and 1.0.0.
However, we'd want a changelog that's between 0.5.1 and 1.0.0.

[2020-07-20 06:28] Bobgy commented on #4248
A workaround is to delete all rc release tags locally and generate again, then standard-version picks up all changes between 0.5.1 and 1.0.0

[2020-07-20 07:24] Bobgy commented on #4248
I regenerated 1.0.0 release note as from 0.5.1 to 1.0.0.
https://github.com/kubeflow/pipelines/commit/70f47caaea84a0953cfe927364343b7c838b00bb

[2020-07-20 07:35] Hmr-ramzi commented on #4224
@Bobgy Thank you for your reply. Do you know if it is possible or if there is a workaround to use spark from within a pipeline in kubeflow ?

[2020-07-20 07:37] Bobgy commented on #4224
Sorry, I'm not sure.
/cc @Ark-kun @numerology @hongye-sun
Do you know if there's an existing component for using spark?

@Hmr-ramzi even if there isn't already one, you can easily componentize your usual commands to start a spark job into a KFP component.

[2020-07-20 07:39] Hmr-ramzi commented on #4224
Thanks what i tried to do and it reached to this kind of error that i opened this issue for (the error related to the pipeline-runner does not have rights to create secrets
)

[2020-07-20 07:55] Bobgy commented on #4224
@Hmr-ramzi you can fix the error by yourself:

These are cluster-specific permission settings.

[2020-07-20 08:53] Bobgy commented on #4184
@taivokasper Reading the doc https://godoc.org/github.com/robfig/cron#hdr-CRON_Expression_Format.
It says

So 0->Sunday, 1->Monday, 2->Tuesday, 3->Wednesday, that's correct.
I don't understand what's wrong here.

Can you please explain?

The behavior problem you are mentioning (not executing at your specified time) is probably because of https://github.com/kubeflow/pipelines/issues/3935.

[2020-07-20 09:03] Bobgy commented on #4191
@andrewgdavis your guess is totally right.
https://github.com/kubeflow/pipelines/blob/d4d692e4c2508328961e892acda03453f4b23600/frontend/src/pages/ExperimentDetails.tsx#L307-L327

/assign @jingzhang36
Can you work on this replacing that implementation with your new state filters?

[2020-07-20 09:08] Bobgy commented on #4238
Met the same issue, reading `kfp.Client()` code, it reads from a few env vars to get server url in cluster, but I don't understand how those env vars came from.

They are clearly not Kubernetes standard env vars. We can default host to `ml-pipeline.kubeflow.svc.cluster.local` and port to`8888`, I think that will be an easy fix.

[2020-07-20 09:50] taivokasper commented on #4184
Ah, thanks for looking into it @Bobgy. I think I got confused by it not triggering on time and behaviour being different from what docs are saying and trying to figure out what timezone the cron is using. For now it is better to use SUN-SAT because that seems to work correctly and is easier to understand.

[2020-07-20 09:50] #4184 closed

[2020-07-20 11:14] discordianfish commented on #3789
@Bobgy This is reasonable but from my POV an implementation detail. We need to update jobs. Whether this internally is disabling the old, enabling a new doesn't matter much to me. Another option would be dropping jobs altogether. In it's current from its pretty much useless tbh. If it wouldn't have been there, I would just have sticked to my k8s cronjobs submitting the workflow.

My 2 cents on met

[2020-07-20 14:03] elikatsis commented on #4209
Hi @devashishshankar,
could you provide some more information regarding the PVC? Could you, let's say, `kubectl describe` it?

[2020-07-20 15:25] jonasdebeukelaer commented on #3789
Sorry I've been pretty quiet for a while. @discordianfish I'd agree that jobs don't seem to add any value (at least in my limited experience working with them), and all it does is add a bunch of complexity, especially here when trying to do a humble update. the only thing missing would be a description - could you include this with a cronjob somehow? As a custom metadata?

If jobs _are_ useful, th

[2020-07-20 18:03] frozeNinK opened #4253 "Adding periodically sync functionality to persistence agent"
### What steps did you take:
According to my understanding, persistence agent / worker currently only listen on k8s event stream for workflow updates.

It maybe a good idea to add periodical logic comparing the workflow states stored in KFP vs k8s.

### What happened:
KFP, in some rare case, fail to update the workflow state (to failed?), when corresponding workflow definition on k8s is missing.

[2020-07-20 18:03] frozeNinK commented on #4253
/area backend

[2020-07-20 18:42] terrykong commented on #4229
Thanks @Ark-kun for the explanation. Is there an open issue where I can track the kubernetes customization support?

It looks like there was support for specifying kubernetes stuff here
https://github.com/kubeflow/pipelines/commit/39975e3cde7ba4dcea2bca835b92d0fe40b1ae3c

But was removed recently. Is this the kind of kubernetes customization you were speaking of?

[2020-07-20 19:00] Ark-kun commented on #4238
Will this work on Marketplace deployment?

[2020-07-20 19:20] Ark-kun commented on #4247
Can you describe the scenarios where you need to compile and upload pipeline instead of just running it?
I usually develop pipelines in a AI Platform Notebook instance. I submit the pipelines for execution by just calling `kfp.Client(host=...).create_run_from_pipeline_func(my_pipeline, arguments={})`

[2020-07-20 19:27] Ark-kun commented on #4224
You need to give that permission to `pipeline-runner` by modifying the Kubernetes Role: https://github.com/kubeflow/pipelines/blob/0b8d2e12d1bb79e8fc2b3ea2cfc69c99fadae2a0/manifests/kustomize/base/pipeline/pipeline-runner-role.yaml

[2020-07-20 19:27] Ark-kun commented on #4216
/cc @dtrawins

[2020-07-21 02:42] Bobgy commented on #4247
I was running a tfx pipeline, I wasn't familiar with tfx sdk, so I used KFP UI to upload the pipeline.

[2020-07-21 03:10] Bobgy commented on #3789
@discordianfish I agree these are implementation details, it was more of a discussion in the context of where we want to go for #3788. You are welcome to stick to k8s cronjob if this isn't useful for you right now.

We'll document Job's featureset and readiness soon, so I hope this won't be a confusion e.g. after spending so much time trying it out.

For #3788, https://github.com/kubeflow/pipeline

[2020-07-21 03:19] Bobgy commented on #4253
FYI, persistence agent also periodically look at all workflow resources, but it has no knowledge of what KFP runs are there.

Anyway, this seems a reasonable suggestion.
I'm not sure what perf implication it could have.
/assign @jingzhang36

For clarification, why did the workflow disappear by itself? I don't know any reasons, other than it was not created successfully in the first place.

[2020-07-21 03:38] frozeNinK commented on #4253
Currently the root cause is unknown.

I would also suggest re-visit possible failure scenarios to make KFP more resilient to edge cases, since KFP does not have full control of Argo and k8s.

[2020-07-21 03:38] Bobgy commented on #3241
I'll keep this open until verified on GCP platform

[2020-07-21 14:37] slenky opened #4254 "Cannot view graphs and run pipelines in Kubeflow 1.0.2"
### What steps did you take:
Hi. I upgraded my AWS cluster with Kubeflow from **1.0.1 to 1.0.2** (and thus KFP from **0.2.0 -> 0.2.5**).

### What happened:
After that, if I go to the Kubeflow UI -> Pipelines and click on my imported pipelines, graphs and YAML's tab are empty.
Also, if I click on 'Create run' it fails with 'Cannot proxy request to /apis/v1beta1/runs'

entries ml-pipeline-ui logs:

[2020-07-21 14:38] slenky commented on #4254
Can this be related to #2080 ?

[2020-07-21 14:41] jlewi commented on #3703
@rmgogogo ping?

[2020-07-21 14:58] slenky commented on #4254
Found a fix exactly in the PR mentioned above.
When I applied a new apiserver configmap and upgraded it again to 0.2.5 everything started to work properly.
[code]

There was a new keys named **PipelineFolder** and **GroupConcatMaxLen**.

Can this be addressed to kubeflow/manifests repository?
Those fields are still absent on master branch: https://github.com/kubeflow/manifests/blob/master/pipeline

[2020-07-21 17:25] juliusvonkohout commented on #1654
i just tried kubeflow pipelines on a Kubernetes 1.17 (Azure) and 1.18 (minikube) cluster with docker as container engine. I am using the 1.0.0 release https://github.com/kubeflow/pipelines/releases/tag/1.0.0.

I am using the offical example https://github.com/argoproj/argo/blob/master/examples/artifact-passing.yaml that runs fine out of the box with the argo docker executor.

Then i changed the ex

[2020-07-21 20:09] RoyerRamirez commented on #1223
Hi @Bobgy, we're hoping to get more clarification on multi-tenancy and the expected behavior. When you say "seamlessly", does that mean kubeflow will natively assign new experiments to the user's namespace as long as the headers are passed correctly, or do we need to add more components to our pipeline configuration to get the experiments to run under the user's namespace?

The reason I'm asking t

[2020-07-22 01:11] Bobgy commented on #1653
the config change had permission issues
/reopen

[2020-07-22 01:34] Bobgy commented on #4141
FYI, individual components are versioned separately from Kubeflow.

[2020-07-22 02:44] Bobgy commented on #4254
PR welcomed on updating kubeflow/manifests, I can approve for you.

[2020-07-22 02:53] Bobgy commented on #1653
Latest status:

k8s-ci-bot needs admin permission on kubeflow org to enforce above mentioned branch protection rule.
context: https://github.com/kubernetes/test-infra/issues/18397#issuecomment-662060833

ref rom @jlewi:
repo permissions are granted via GitOps using periobolous so you could configure an appropriate PR.
https://github.com/kubeflow/internal-acls/blob/f6e2bdb4a92b1ae6b808f2c7b81ab1077

[2020-07-22 03:26] Bobgy commented on #3241
UPDATE: verified KFP 1.0.0 with multi user mode working properly on GCP platform.

[2020-07-22 03:26] #3241 closed

[2020-07-22 07:03] Ark-kun commented on #4247
Speaking of which, TFX runners should probably have separate `.compile` and `.run` methods.

[2020-07-22 07:39] Bobgy commented on #3789
I synced with @jingzhang36 today, our conclusion for Job is:
1. We'll provide these features as is, if cloning a Job doesn't work for you, please use other alternatives like kubernetes `CronJob`.
2. We may work on a refactoring that swaps out underlying `ScheduledWorkflow` implementation with kubernetes `CronJob`, that will be best for long term maintenance. We don't want to maintain our own `Sche

[2020-07-22 08:41] Bobgy opened #4256 "Document how to run KFP on local Kubernetes cluster like Kind, k3s, minikube"
### What steps did you take:
1. I tried to install https://k3s.io/ and https://kind.sigs.k8s.io/
2. install KFP 1.0.0 platform agnostic
3. Run data passing pipeline

### What happened:
KFP servers run properly for both k3s and Kind, but pipelines fail running.

For k3s, the error message was "This step is in Error state with this message: failed to save outputs: Error response from daemon: No such

[2020-07-22 08:42] Bobgy commented on #4256
/assign @Bobgy
/cc @rmgogogo
Did you manage to run KFP on Kind? I remember you mentioned something, was that related?

[2020-07-22 08:48] Bobgy commented on #4256
Complete error message for wait container in k3s:
[code]

I couldn't get much information on this, only seems like argo is not working properly.

[2020-07-22 08:50] Bobgy commented on #4256
Anyway, for both cases, I think the problem is argo cannot run in those environments.

[2020-07-22 08:57] alfsuse commented on #4256
I think the problem is in the executorRuntime both kind and k3s use containerd so you have to add the runtimeExecutor to pns in manifests\kustomize\base\argo\workflow-controller-configmap.yaml  as in https://github.com/argoproj/argo/issues/2685 add containerRuntimeExecutor: pns after executorImage: gcr.io/ml-pipeline/argoexec:v2.7.5-license-compliance,

[2020-07-22 08:57] juliusvonkohout opened #4257 "Offical artifact passing example fails with PNS executor"
### What steps did you take:
I am using the offical example https://github.com/argoproj/argo/blob/master/examples/artifact-passing.yaml that runs fine out of the box with the argo docker executor.

Then i changed the executor to pns
[code]

### What happened:
Every pipeline that passes outputs (including the offical example) is now failing.
The problem seems to be that the main container exits pro

[2020-07-22 08:58] Bobgy commented on #4256
Per answer in https://github.com/argoproj/argo/issues/2064#issuecomment-578432013

We should use "pns" executor documented in https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md.
We need to patch it in this configmap: https://github.com/kubeflow/pipelines/blob/d4d361626e9c2994890e2f565cf3bf4aef0f84d8/manifests/kustomize/base/argo/workflow-controller-configmap.yaml

[2020-07-22 08:58] Bobgy commented on #4256
Right, thanks @alfsuse, I also just found this.
I verified KFP can run on k3s after the change.

[2020-07-22 10:18] discordianfish commented on #3789
Fair enough. So you are okay with merging the PR if the ScheduledWorkflowController handles this as expected?
If that's the case, I can spend time creating a cluster to validate that. But I'm worried that, like in the past, this PR doesn't end going anywhere because of decisions I'm not aware of that lead into a different direction.

Well, this probably isn't the best place to discuss governance.

[2020-07-22 10:58] deathemperor opened #4258 "ml-pipeline-persistenceagent pod keeps crashing"
I'm trying to install kubeflow on OpenShift 4.2 following this instruction: https://www.kubeflow.org/docs/openshift/install-kubeflow/ but it failed on the following pods. Below are the info:

My kubeflow pods:

[code]

Logs of ml-pipeline-persistenceagent pod

[code]

Logs when running `kubectl -n kubeflow logs $(kubectl -n kubeflow get pods -l app=ml-pipeline -o jsonpath='{.items[0].metadata.name

[2020-07-22 10:59] #3214 closed

[2020-07-22 10:59] #3253 closed

[2020-07-22 10:59] #3507 closed

[2020-07-22 10:59] #3503 closed

[2020-07-22 10:59] #3465 closed

[2020-07-22 10:59] #3452 closed

[2020-07-22 10:59] #3460 closed

[2020-07-22 10:59] #3449 closed

[2020-07-22 11:00] #3431 closed

[2020-07-22 11:00] #3393 closed

[2020-07-22 11:00] #3432 closed

[2020-07-22 12:18] Bobgy commented on #4256
Also verified on Kind

[2020-07-22 12:44] alfsuse commented on #4256
I've tested this on minikube as well and everything works fine

[2020-07-22 14:13] Bobgy commented on #4257
I've been trying pns executor in https://github.com/kubeflow/pipelines/issues/4256 for Kind, k3c environments and it seems they work properly for the builtin data passing basic pipeline.

/cc @Ark-kun
do you have any suggestions?

[2020-07-22 14:15] Bobgy commented on #4256
Close now, since problem solved

[2020-07-22 14:15] Bobgy commented on #4256
Hold on, we should get this documented.

[2020-07-22 14:20] alfsuse commented on #4257
@juliusvonkohout could please try to switch the lines
containerRuntimeExecutor: pns,
executorImage: gcr.io/ml-pipeline/argoexec:v2.7.5-license-compliance,
to

    executorImage: gcr.io/ml-pipeline/argoexec:v2.7.5-license-compliance,
   containerRuntimeExecutor: pns,

and re-try?
Also, did you recreated workflow-controller pod after you updated the executor ?

[2020-07-22 14:33] shaikmanu797 opened #4259 "How to pass mlpipeline-metrics saved in one component to another component"

[2020-07-22 17:25] amygdala opened #4261 "FR: support upgrade from hosted to standalone"
(tested for upgrade from 0.5.1 to 1.00).
/kind bug

There are several problems with the current upgrade process.  (For context with the following, hosted kfp by default uses the `default` namespace (but this can be changed), and the standalone installation uses the `kubeflow` namespace (though this can be changed by editing a set of config files).)

- the upgrade in place as per the instructions d

[2020-07-22 18:05] amygdala commented on #4261
For now, perhaps we should just remove the upgrade instructions from the docs.

[2020-07-22 18:14] juliusvonkohout commented on #4257
@alfsuse

I changed it to

[code]

and deleted the pod with `kubectl delete pod workflow-controller-xxx -n kubeflow`.
I also checked manually that the pod restarted.

It still fails at chroot.

[2020-07-22 19:18] juliusvonkohout commented on #4257
I tried it from scratch with k3s (containerd) and pns and it worked.

I will retry from scratch with minikube.

[2020-07-22 19:31] alfsuse commented on #4257
Humm by chance did you have any psp in the previous deployment? I noticed that psp without SYS_PTRACE throw that error

[2020-07-22 23:47] Bobgy commented on #4261
FYI, the instructions were meant for in place upgrade for standalone. We should have a notice that it's not possible to transit from marketplace right now.

[2020-07-22 23:48] Bobgy commented on #4261
applications.app.k8s.ion not found

Did you have a typo?
The error message has an extra n at the end.

[2020-07-23 02:35] Bobgy commented on #4258
Can you check why minio and mysql pods cannot start?
That's the root cause

[2020-07-23 02:41] Bobgy commented on #3789
@discordianfish Thanks for explaining the confusions you are getting! I agree it would be a painful experiencing spending a lot of pain writing a PR, but not seeing it being treated. I think for anything that requires an interface change, we'd better have an agreement on the design first.

I've seen some other projects always require an enhancement proposal before actually working on a new feature

[2020-07-23 02:53] Bobgy commented on #3789
If that's the case, I can spend time creating a cluster to validate that. But I'm worried that, like in the past, this PR doesn't end going anywhere because of decisions I'm not aware of that lead into a different direction.

Yes, if we can verify it's working as intended. I can help you keep the PR reviewed and approved.

Especially, I'll list some non exhaustive cases I'm interested in:
* changi

[2020-07-23 02:53] Ark-kun commented on #4259
Due to backwards compatibility, the metrics output is currently removed from task outputs which prevents passing it forward.

The easiest workaround currently is to output the metrics twice (different output names).

[2020-07-23 02:58] Ark-kun commented on #4257
It might be useful to also report this to Argo. Although, AFAIK, this is a known issue. See https://github.com/argoproj/argo/issues/1256#issuecomment-481471276

Can you give more details about the infeasibility?

[2020-07-23 03:04] Bobgy opened #4262 "[Release] release script should bump kfp-server-api requirements.txt version"
Can you also add automation for updating this during release so we don't miss it next time?
https://github.com/kubeflow/pipelines/blob/22063ff88d4a459a3b60023cc82bdf3d0d0243d7/sdk/hack/release.sh

_Originally posted by @Bobgy in https://github.com/kubeflow/pipelines/pull/4255#issuecomment-662796651_

[2020-07-23 03:05] Bobgy commented on #4262
/assign @Ark-kun

[2020-07-23 03:22] luckyskg opened #4263 "Running pods are being deleted in kubeflow pipelines"
### What steps did you take:
I ran a kubeflow pipeline which would start 10 parallel jobs. These pods has a node selector associated with them so that they can be scheduled with some specific nodes

### What happened:
few of the pods are deleted while it was being run. i have retry set to 2. so for some of them even in the second attempt the pod was deleted while running

### What did you expect t

[2020-07-23 03:49] amygdala commented on #4261
hmmm, good catch... I'm not sure if that was a cut & paste into the bug mistake or a typo when running the command.  I will try it again.

[2020-07-23 04:10] deathemperor commented on #4258
Running `kubectl -n kubeflow logs -f pod/mysql-657f87857d-xxkbz` show nothing, same for minio.

The status of the pods varies. This is right now:

[code]

[2020-07-23 06:09] #3496 closed

[2020-07-23 07:15] Bobgy opened #4264 "Update and improve KFP installation options comparison doc for 1.0"
https://www.kubeflow.org/docs/pipelines/installation/overview/

[2020-07-23 07:25] Bobgy commented on #4263
Do you have some TTL, GC mechanism or preemption setting that caused this?
Pods being deleted cannot be done by KFP nor protected by KFP.

[2020-07-23 07:26] Bobgy commented on #4263
For example, did you set memory and cpu resource requests to those pods? If you didn't, when nodes are low on cpu/memory, it might kill your pods.

[2020-07-23 07:27] Bobgy commented on #4258
FYI, they are in pending state, these pods haven't started. To get debug info you should use
`kubectl get pod <name> -n <namespace>` or `kubectl describe pod <name> -n <namespace`, they have some info.

[2020-07-23 07:52] luckyskg commented on #4263
I had set the memory and cpu limit per pod . One thing i tried now is that assign higher memory and cpu limit and made sure that only one kubeflow pod is assigned to one machine. and i am seeing considerably less pod deleted issue than before.

[2020-07-23 08:20] Bobgy commented on #1223
@RoyerRamirez Yes, experiments will be assigned to user's namespace (the namespace you selected in Kubeflow dashboard). Actions will be authorized by user's header.

time="2020-07-21T06:34:19Z" level=info msg="Processing object (inception-v3-transfer-hq5zv): object has no owner." Workflow=inception-v3-transfer-hq5zv

Can you open a separate issue describing how you deployed and what problems you m

[2020-07-23 08:34] deathemperor commented on #4258
I understand they need sometimes (hence pending) but it's already 27 hours after installing and it looks a loop.

These are the info I get

`kubectl describe pod katib-db-manager-8465964d49-fft8l -n kubeflow`
[code]

`kubectl describe pod metadata-db-694659c8c7-6pvnd -n kubeflow`
[code]

`kubectl describe pod katib-mysql-6764fbb875-7h6mm -n kubeflow`
[code]

Most pods report `FailedScheduling  8h

[2020-07-23 08:34] deathemperor commented on #4258
I'm stuck here having no idea what to do to troubleshoot it.

[2020-07-23 09:35] deathemperor commented on #4258
I've just uninstalled and reinstalled it again and found this error when running: `kfctl apply --file=kfctl_openshift.yaml

[code]

[2020-07-23 09:45] discordianfish commented on #3789
Something along those lines would help. Doesn't even have to be that formal. Personally I'd prefer just discussing implementation in an issue like this one. An alternative would be discussing on the mailinglist. But neither of these usually get attention from maintainers which IMO is the root of the problem. Willing contributors are blocked by not getting feedback on their suggestion, so you have

[2020-07-23 10:09] Hmr-ramzi commented on #4224
@Ark-kun Thank you for your reply. Do you think it makes sense that i try to contribute by providing a variable in the manifest that can allow permissive or restrictive abilities to the pipeline runner ?

[2020-07-23 11:00] luckyskg commented on #4263
The following metric i got for one node where is this deleted pod was scheduled.
<img width="1777" alt="Screenshot 2020-07-23 at 4 29 44 PM" src="https://user-images.githubusercontent.com/22092616/88279454-bb582980-cd01-11ea-9092-498fd943bd1e.png">

[2020-07-23 13:21] juliusvonkohout commented on #4257
This is my current status

[code]

The only cluster not working is on azure. I will have to check back with the maintainer of the azure cluster and report back here.
Btw. the azure cluster is a bit outdated compared to k3s and minikube
[code]

"Humm by chance did you have any psp in the previous deployment? I noticed that psp without SYS_PTRACE throw that error"
You will get an error on pod startu

[2020-07-23 13:32] alfsuse commented on #4257
@juliusvonkohout one thing for sure is that with that psp you should have issues with Jupiter notebook spawning if I remember correctly you should also have NET_RAW and NET_ADMIN.
So I would say that the fact that there one or more psp deployed could be the root cause along with pns here.

 I would go for a test like  try '*' as first approach..if everything works you may work in reverse and start

[2020-07-23 13:59] alfsuse commented on #4256
@Bobgy we already did this many if you are okay we may take this task and do the documentation on kind, minikube etc..
Let us know how to proceed.

[2020-07-23 15:36] juliusvonkohout commented on #4257
@alfsuse i am using the pipelines only at the moment.

i still get
[code]
This happens also with longer running main containers (30+ seconds)
it goes from
https://github.com/argoproj/argo/blob/13b1d3c19e94047ae97a071e4468b1050b8e292b/workflow/executor/pns/pns.go#L292 is to
https://github.com/argoproj/argo/blob/13b1d3c19e94047ae97a071e4468b1050b8e292b/workflow/executor/pns/pns.go#L189
which goes to

[2020-07-23 17:31] amygdala commented on #4261
Update: that was a typo on my part.  Once corrected, the manifests were applied with superficial success to a cluster where a previous MKP installation (in the same `kubeflow` namespace) had been deleted.
However, the new installation did not preserve state.  The dashboard shows:
![image](https://user-images.githubusercontent.com/115093/88318189-3a803a00-cccf-11ea-98c7-1a6f7dca7c1e.png)

Additiona

[2020-07-23 17:35] amygdala commented on #4261
Are there a set of tests that confirm that the above doesn't happen when upgrading a non-MKP standalone installation?  Or should we check that as well?

[2020-07-23 18:15] jackwhelpton commented on #1956
/reopen

This would still be a useful feature to have.

[2020-07-23 20:12] Ark-kun commented on #4262
I think the problem is a bit different. `requirements.txt` needs to be changed every time you change `requirements.in` (or requirements in `setup.py`). Maybe we need some test to check that these files are always changed together.

[2020-07-23 23:47] RoyerRamirez opened #4267 "Multi-Tenancy - Pipelines not being deployed to user's namespace [ v1.0.2 ]"
### What steps did you take:
[A clear and concise description of what the bug is.]
After a user logins in to the Central Dashboard, they create their profile. Then the user will proceed to upload/create a new pipeline and run an experiment. When the experiment starts, it will get scheduled in the default [ **kubeflow** ] namespace instead of their own namespace.

These are the logs we are able to

[2020-07-24 00:50] pxu20 opened #4268 "gcloud.beta.ai-platform.versions.create internal error (NER example deployment)"
### What steps did you take:
[A clear and concise description of what the bug is.]
I tried to run the kubeflow example of named entity recognition (https://github.com/kubeflow/examples/tree/master/named_entity_recognition). In Step 5 run the pipeline, preprocess and train worked fine, but deploy failed.
![Screenshot 2020-07-23 at 5 53 47 PM](https://user-images.githubusercontent.com/67297700/88352

[2020-07-24 02:30] Bobgy commented on #4267
Sorry for the confusion, multi tenancy wasn't integrated in Kubeflow 1.0.2.
Please wait for Kubeflow 1.1 release, if you want early review, it's in:

Installation for Kubeflow 1.1 rc on GCP: https://github.com/kubeflow/gcp-blueprints/tree/v1.1-branch
KFP Multi User instructions: https://docs.google.com/document/d/1Ws4X1oNlaczhESNuEanZxbF-cnSfO78B1rBHWOkIAzo/edit?usp=sharing

[2020-07-24 02:31] Bobgy commented on #4267
Feel free to reopen or comment if you have further questions

[2020-07-24 02:31] #4267 closed

[2020-07-24 02:33] Bobgy commented on #1956
/reopen
for @jackwhelpton

[2020-07-24 02:36] Bobgy commented on #4262
@Ark-kun but `requirements.in` is only specifying loose versions
e.g. `kfp-server-api>=0.2.5, <2.0.0`

So I guess we need to re-pin `requirements.txt` after a release is out?

Where are `requirements.txt` used? Is it for testing and readthedocs? Any other places?

[2020-07-24 02:38] Bobgy commented on #4261
Yes, we have test checking regression for upgrading standalone deployment. It's the `kubeflow-pipelines-upgrade-test`.
But there's no coverage for marketplace -> standalone (obviously it's broken right now).

[2020-07-24 02:39] Bobgy commented on #4261
Let's change this issue to a feature request of upgrading from marketplace to standalone.

[2020-07-24 02:44] Bobgy commented on #4257
I managed to reproduce "Failed to wait for container id 'b76016a16aa672b5aae36b3eb1ca214983410d14c6b1a1e6a4cd9ad68190448f': Failed to determine pid for containerID b76016a16aa672b5aae36b3eb1ca214983410d14c6b1a1e6a4cd9ad68190448f: container may have exited too quickly" error once with Docker Desktop + pns executor, but it fails randomly.

[2020-07-24 02:47] Bobgy commented on #4256
@alfsuse That would be awesome!
Can you add related documentation to https://www.kubeflow.org/docs/pipelines/installation/standalone-deployment/?

also I think we should provide the pns-executor manifest in `manifests/kustomize/env/platform-agnostic-pns-executor` to make it easy to install without local editing.

[2020-07-24 02:59] Bobgy commented on #4258
Hi, I suggest using describe and get for
https://github.com/kubeflow/pipelines/issues/4258#issuecomment-662791059

mysql and minio pods, the other pods are failing because these haven't started yet.

[2020-07-24 03:09] Bobgy commented on #3789
Thanks for the suggestions for community support. I'll surface that for internal discussion.

Yes, and `Eventually clean up the old job` is not a necessary requirement. If we want to support this workflow better, we can let UI hide disabled Jobs by default and use an option to see them.

I see, if you are not using UI, do you know how to use KFP API filters? for example, you can filter by a substr

[2020-07-24 03:11] Bobgy commented on #3789
also FYI, our documentation for generated client just got sooo much better than before: https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.server_api.html#kfp_server_api.api.job_service_api.JobServiceApi.list_jobs

[2020-07-24 03:13] Bobgy commented on #4263
I don't think I have more advice for you. This is a more kubernetes cluster management question, and I don't have enough expertise on that.

Would you consider asking in a different channel?

[2020-07-24 03:21] luckyskg commented on #4263
Sure. Thanks for comments @Bobgy

[2020-07-24 03:21] #4263 closed

[2020-07-24 04:35] deathemperor commented on #4258
Hi Bobgy, the information above is all I can get (at least in my knowledge). Could you suggest what I should do?

Adding the describe result of minio

[code]

[2020-07-24 05:39] Bobgy commented on #4258
Then you can
`kubectl describe/get persistentvolumeclaim minio-pv-claim`.

Use this pattern and you will find information you want

[2020-07-24 07:53] Ark-kun commented on #4268
This is notebook and components have been created by a contributor (@SaschaHeyer). He might be able to help you.

I think the main issue is that the runtime version 1.13 is not longer supported. See https://cloud.google.com/ai-platform/prediction/docs/runtime-version-list Please choose a more recent runtime version.

[2020-07-24 07:56] Ark-kun commented on #4257
Can you try mounting an `emptyDir: {}` volume at the output artifact directory (e.g. `/tmp/outputs`). I wonder whether this fixes the issue.

[2020-07-24 08:06] deathemperor commented on #4258
Running `kubectl -n kubeflow describe persistentvolumeclaim` I get the below:

[code]

[2020-07-24 08:08] Ark-kun opened #4269 "Run node details does not show ML Metadata for nodes reused from cache"
When the user clicks on a graph node, they can see the MLMD execution and artifacts. However this information is missing when the pod is skipped by the caching service.

This issue is easy to fix:
All KFP pods have a `pipelines.kubeflow.org/metadata_execution_id: '269'` label with execution ID. If it's present there is no need to get all executions from MLMD to find the one with matching pod name.

[2020-07-24 08:15] Ark-kun opened #4270 "Maybe use the reused_from_cache label when detecting whether the execution has been skipped"
The label is:
`pipelines.kubeflow.org/reused_from_cache: 'true'`

This method should be preferred, but there is an issue: When pod is deleted, the information might no longer be available.

[2020-07-24 08:18] Ark-kun opened #4271 "Persistence agent should record the workflow pods"
Different controllers such as Argo, Metadata Writer and Execution Cache add information to pods' labels and annotations. The frontend can use these annotations in the UX. However when the pods are garbage collected, this information is no longer available. It might make sense to save this information in the DB, so that the frontend can get it even if the pod has been deleted.

[2020-07-24 08:26] Ark-kun commented on #4262
`requirements.txt` should be updated (using the provided script and command-line) at least every time `requirements.in` is changed. Otherwise they are out of sync.

It's also used in the tests and it can be used by people installing KFP to get a known-good environment. Otherwise we can get the same problems as TFX - some dependency has released a new version and now all tests are broken and the in

[2020-07-24 08:35] Ark-kun commented on #4170
Are they different components or component instances?

Unfortunately, this is a limitation of Kubernetes itself (and partially Argo).

There is a limit on the size of any Kubernetes object. It was 512KiB some time ago, then 1MiB, and now 1.5MiB.

It might be possible to increase the limit though: https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/limit.md#request-size-limit

[2020-07-24 08:36] Ark-kun commented on #4170
@radcheb Are you currently blocked by this issue?

[2020-07-24 08:49] Ark-kun opened #4272 "The compiler should not produce duplicate templates for instances of the same component"
Currently, the DSL compiler produces a new Argo template for each pipeline task (usually, component instance). This increases the size of the compiled workflow limiting the maximum number of tasks. See https://github.com/kubeflow/pipelines/issues/4170

The compiler should only produce a single template for each component. achieving this is hard due to the architecture of the DSL compiler. The DSL

[2020-07-24 09:11] Ark-kun opened #4273 "Improve stack traces of lightweight components"
Currently the code for the Lightweight python components is executed using `python3 -c <code>`. This has good portability (only needs `python3`), but causes an issue with exception stack traces. Python does not seem to show any stack traces for the inline code.

One solution  is to first write the code to a temporary file and then execute that file.

[2020-07-24 10:02] juliusvonkohout commented on #4257
I already tried this before, but just to be sure i ran it again.
The wait container errors while the main container is still running...

[code]

Logs on azure cluster:
[code]

[2020-07-24 16:41] radcheb commented on #4170
@Ark-kun We are still using kfp `0.5.1` for production pipelines. However, this issue is blocking us from migrating to `1.0.0`.
We didn't yet try your solution since most of the time we use directly `create_run_from_pipeline_func`, I will get back to you soon for this.

[2020-07-24 17:31] RoyerRamirez commented on #4267
@Bobgy, would I be able to get access to the Google Doc that contains KFP Multi User instructions?

email: royer.ramirez@gmail.com

[2020-07-24 17:38] pxu20 commented on #4268
@Ark-kun Thank you for the advice. I modified the runtime version of AI Platform Prediction to 2.1 (and Python to 3.7), but the same error still occurred.

[2020-07-24 18:06] vishal-kr-yadav opened #4275 "The node was low on resource memory from kubeflow pod"
I tried to increase the number of nodes from the kubeflow clusters from 3 to 12 but it didnt work.

This is the dockerfile i am using : https://github.com/kubeflow/examples/blob/master/object_detection/docker/Dockerfile.training

Based on the dockerfile i am generating the kubeflow pipeline using kfp

I can run the docker image on a VM and its saving the checkpoint of the tensorflow models.
I have

[2020-07-24 19:34] Dhaval08 opened #4276 "Kubeflow pipelines metrics"
### What steps did you take:
[A clear and concise description of what the bug is.]
I am trying to log some metrics for my run using the following code

[code]

### What happened:
However, I keep getting `PermissionDeniedError: /mlpipeline-metrics.json; Read-only file system` when I try to write the json file. I am guessing this is because I do not have permission to write to the root folder.

For

[2020-07-24 20:51] Ark-kun commented on #4276
You should request the system to give you paths for outputs instead of hard-coding the paths in your code.

In your component definition you should use either `mlpipeline_metrics_path: OutputPath()` parameter annotation (in case of lightweight python components) or `outputPath: mlpipeline_metrics` placeholder in manually-created `component.yaml`.
To be recognized as metrics, the output name should

[2020-07-24 21:13] Dhaval08 commented on #4276
I was following the steps listed here - https://v0-6.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/
And it is still unclear to me what you meant by "request the system to give you paths for outputs instead of hard-coding the paths in your code".

Let me explain my use case in more detail:
1. User points me to the source code (usually on gitlab) along with the execution command
[code]
2. I then

[2020-07-24 23:45] Bobgy commented on #4267
@RoyerRamirez please join kubeflow-discuss google group

[2020-07-24 23:51] Bobgy commented on #4262
I see, I'll add it as a post release step.

[2020-07-24 23:54] Bobgy commented on #4271
That's a reasonable design, but I'd prefer implementing that with IR considered.

[2020-07-24 23:56] Bobgy commented on #4258
/assign @animeshsingh

[2020-07-24 23:57] Bobgy commented on #4258
that's the root cause, seems platform specific

[2020-07-27 05:22] animeshsingh commented on #4258
cc @vpavlin @nakfour

[2020-07-27 12:13] vpavlin commented on #4258
Thanks for the heads up

@deathemperor seems like you have no volume provisioner installed. How was your OpenShift cluster deployed? Since there probably is no provisioner, I will gues Code Ready Containers (CRC). You can use host volumes to get around this issue - i.e. manually create PersistenVolume objects pointing to some filesystem paths to satisfy the requirements. Or you can use a hostPath

[2020-07-27 15:07] discordianfish opened #4277 "kfp.Client: Can't specify localhost host"
### What steps did you take:
[code]

### What happened:
[code]
### What did you expect to happen:
Being able to specify the host

### Environment:
KFP SDK version: 1.0.0

### Anything else you would like to add:
The problem is that for unclear reasons kfp strips the schema from the url, causing urllib3's parse_url to interpret the 'localhost' part as schema. This was working with kfp==0.1.31

[2020-07-27 15:58] discordianfish commented on #3789
@bobgy Okay my plan (essentially) is to redo our CI scripts:

- upload new job and set version=git-sha in description
- deactivate all jobs with version!=git-sha in the description

But it doesn't look like the filter allows for IS_NOT_SUBSTRING. Am I missing something?

[2020-07-27 20:31] PatrickXYS commented on #1779
I don't think it's fixed now, please keep open until we fix.

[2020-07-27 21:27] Mistobaan commented on #4276
from: https://kubeflow-pipelines.readthedocs.io/en/latest/_modules/kfp/dsl/_container_op.html

[code]
in my code I have:

[code]
and in the component I have:
[code]
the UI metadata works, the metrics does not.
Is there a way to explicitly annotate in python the metrics / metadata? something like
```op.produces(metrics=True, metadata=True, metrics_path="/something.json")```
and takes care of settin

[2020-07-27 21:55] Dhaval08 commented on #4276
Where can I edit the default value for mlpipeline-metrics? I am not using dsl-ContainerOp for my use case? Is there an alternative to this like a Config-Map for example?

[2020-07-28 01:49] Mistobaan commented on #2320
So what is the suggested way to launch a pipeline with large amount of parameters (i.e a Neural Network configuration). I was config for the json serialized approach through but seems is not the right way to do it. I would like the hparams to show up in the "compare runs" view, but seems the only way to achieve that right now is to manually pass around all the parameters from the pipeline down to

[2020-07-28 02:28] jlewi commented on #1653
@Bobgy yes; I think I'm convinced by @cjwagner 's comment. @Bobgy If possible can we point at the Kubernetes test infra as prior art that they are granting the ci-bots admin permissions at the org level?

[2020-07-28 04:05] Bobgy commented on #4277
also
/cc @numerology

[2020-07-28 08:20] ijaouani opened #4279 "failed to get filesystem from image: stream error: stream ID 3; PROTOCOL_ERROR"
### What steps did you take:
I use kaniko with Gitlab CI.
kaniko breaks from time to time. I don't have find a way to systematically reproduice it.

[code]

### What happened:

...
[code]

### What did you expect to happen:

I got this log when it's working :

...
[code]
...

### Environment:

kaniko version : i use the docker image gcr.io/kaniko-project/executor:debug
GitLab Runner version 13.1.1

[2020-07-28 08:21] #4279 closed

[2020-07-28 08:22] ijaouani commented on #4279
sorry not the good repo

[2020-07-28 08:39] rmgogogo opened #4280 "FR: bring the TFX-sklearn sample to KFP prebuilt sample list"
FR: bring the TFX-sklearn sample to KFP prebuilt sample list.

It's good for user to understand that TFX SDK is not only for TF. KFP with TFX SDK can use many other ML libraries.

[2020-07-28 08:51] deathemperor commented on #4258
@vpavlin I installed OpenShift using this [ocp4-helpernode](https://github.com/deathemperor/ocp4-helpernode/blob/master/docs/bmquickstart.md) so probably not CRC. This is a production grade installation.

Not sure if you can help but I followed this https://github.com/kubevirt/hostpath-provisioner. When applying https://github.com/kubevirt/hostpath-provisioner/blob/master/deploy/kubevirt-hostpath-

[2020-07-28 11:41] discordianfish commented on #4277
This has been broken since 0.4.0 with 0.3.0 working. So must be something in https://github.com/kubeflow/pipelines/compare/0.3.0...0.4.0

[2020-07-28 11:46] linkvt commented on #561
Hi @Ark-kun I just had a look at this and the referenced argo issue. Is my assumption correct, that this ticket is not solved yet?

We are currently deploying KFP 1.0 and it seems that `hostPath` volumes are still required:
[code]
We are using k8s 1.14 with docker.

We were on the hand able to deploy argo directly and only emptyDir was required AFAIK and argo even seems to offer an option for putt

[2020-07-28 21:43] Dhaval08 commented on #699
Does Kubeflow Pipeline now support local source for visualization?

[2020-07-28 21:46] Dhaval08 commented on #489
Any update on this? +1 for support for local sources

[2020-07-28 21:52] Dhaval08 opened #4282 "Kubeflow pipeline artifact visualization"
### What steps did you take:
I am trying to visualize artifacts for Pipeline runs.
Following is what I write to mlpipeline-ui-metadata.json
[code]
I read that the supported source locations are http, https, Amazon S3, Minio, and Google Cloud Storage. Is there any way to use local file system as source for artifact visualization? If not, is there any work around to this? My training code simply wri

[2020-07-28 22:08] Dhaval08 commented on #4276
Figured it out.
In the YAML configuration, for my main container, I had to add the following lines
[code]

This way, I could edit the default location of the json files.
Thank you for the help.

[2020-07-28 22:08] #4276 closed

[2020-07-28 23:31] rmgogogo commented on #4277
[code]

I tested it and it works well.

Do you mean localhost?

[2020-07-29 00:07] numerology opened #4284 "Standalone deployment is not using the proxy in the correct region"
If a standalone deployment is deployed to a us-central1 GKE cluster, it is supposed to talk to inverse proxy us-central1. However currently it seems like it's talking to us-central2, which is inconsistent with our proxy config.

[2020-07-29 00:07] numerology commented on #4284
/assign @rmgogogo
/assign @numerology

/cc @abdallag

[2020-07-29 00:41] Dhaval08 commented on #3366
@Jeffwan I am unable to update the UI Container env. Could you please share exactly which container env should be updated with the secrets and how to do so?

[2020-07-29 00:57] Dhaval08 commented on #3366
Update: I was updating the metadata-ui container. Updating the mlpipeline-ui deployment worked as expected.
Thank you.

[2020-07-29 02:36] rmgogogo commented on #4277
to be fixed in https://github.com/kubeflow/pipelines/pull/4285

[2020-07-29 03:59] Bobgy commented on #3977
@Ark-kun I got a better idea of separation for object store now and realized we need caching to separate by namespace (probably also KSA).

we set up artifact repository, so that artifacts are saved to gcs, each namespace can be configured to use a different bucket using a workflow level artifact repository config (the one you contributed to argo).

because if a user runs pipeline A in namespace B

[2020-07-29 07:32] SatwikBhandiwad opened #4286 "Procedure to enable TLS connection for external mysql database"
Please suggest the parameters to be set in ml-pipeline-config Configmap, so that Pipeline pods use TLS connection to communicate with the external MySQL database.

[2020-07-29 09:22] jondoering commented on #651
Any updates on this feature?

[2020-07-29 09:41] janbe-ts opened #4287 "Workflow gets stuck with `This step is in Pending state with this message: controller is not configured with a default archive location`"
### What steps did you take:
- Deployed Kubeflow pipelines standalone on an existing AWS cluster
- Created a pipeline by running this [sample code](https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components/Data%20passing%20in%20python%20components%20-%20Files.py) from a notebook

### What happened:
- The workflow stops after the first step with t

[2020-07-29 10:43] RunOrVeith commented on #3866
I have the same issue.

Here is the setup in a bit more detail:

- Inside the docker image that I want to run, I am not the root user
- I create a PVC and mount it into my container using READ_WRITE_ONCE
- I can not write to the mounted pvc, because my user does not have permissions, because the pvc is mounted as root:root

The only mention of PodSecurityContext within kfp that I could find is in

[2020-07-29 11:27] Bobgy commented on #3646
/lifecycle frozen

[2020-07-29 11:27] Bobgy commented on #3646
We need this open

[2020-07-29 11:52] #3524 closed

[2020-07-29 11:52] #3571 closed

[2020-07-29 13:54] sbakiu opened #4288 "Executing pipeline with non-default SA, fails to start"
### What steps did you take:
When trying to execut pipeline with another service account, exectution fails. However, executing the same pipeline with the default `pipeline-runner` SA is successful.

### What happened:
Pipeline fails with the following error message:
[code]

Log message from `workflow-controller`:
[code]
### What did you expect to happen:
Expected the pipeline to succeed

### Envir

[2020-07-29 15:31] nikhil-dce opened #4289 "Kubeflow Dashboard: "No graph to show" upon running the pipeline"
### What happened:
The pipeline execution was successful. However, the kubeflow dashboard is unable to load the graph in the `Experiments` tab. See the attached screenshot.
![kubeflow_experiments_error](https://user-images.githubusercontent.com/7813163/88816448-69445780-d18a-11ea-9989-d5742fa29eaa.png)

### What did you expect to happen:
Expected the pipeline graph to appear. I am able to see the

[2020-07-29 16:03] Dhaval08 opened #4290 "Adding env variables to tensorboard viewer deployment"
### What steps did you take:
[A clear and concise description of what the bug is.]
I have tensorboard logs stored on s3 that I would like to visualize on Kubeflow dashboard. However, when I click on "Start Tensorboard", it creates a new tensorboard viewer deployment. This deployment does not have the required permissions to get the logs from s3. I have to manually edit the deployment config to add

[2020-07-29 17:17] jphines opened #4291 "kfp component ml_engine deploy version param is incorrectly typed"
### What steps did you take:

I tried to specify the `version` param to the gcp ml_engine deploy component via:

[code]

### What happened:

Received a type error that str object (version) does not support assignment
[code]

### What did you expect to happen:

I expected to be able to pass additional version parameters as a dictionary as described in https://cloud.google.com/ml-engine/reference/re

[2020-07-29 17:45] cjwagner commented on #1653
FYI I am also seeing 403s from GH in the Prow logs when trying to interact with the kubeflow/blog repo. It appears that repo has revoked the permissions for the bot or never granted them.  Org level admin permissions should resolve this though.

[2020-07-30 02:47] Bobgy commented on #3789
@discordianfish Can you give each logical job a special job name prefix?

So that you can list all jobs with that prefix and use python to filter descriptions without the git tag you are talking about.

[2020-07-30 03:38] #4277 closed

[2020-07-30 09:10] stampcrab opened #4296 "kfserving: kfservingdeployer.py marks the KF pipeline as passed even if there's an error in one of the pods"
I had a case where the storage-initializer container couldn't download the model and failed due to error. But the KF Serving pipeline status was marked as passed. kfservingdeployer.py should mark the KF pipeline as failed in case the service doesn't get ready because of some error in one of the pods.

Instead of trying to print model_status["status"]["url"], maybe we should check the status of the

[2020-07-30 10:16] #2702 closed

[2020-07-30 10:41] Bobgy commented on #3600
/reopen

[2020-07-30 16:29] nlarusstone commented on #3699
Is there a workaround for this? We've encountered this error and it's producing an overwhelming amount of logs

[2020-07-30 21:09] shawnzhu opened #4297 "the Run link here doesn't work when using hosts like `istio-ingressgateway.istio-system.svc.cluster.local`"
### What steps did you take:
Run below code in an in-cluster notebook in a Kubeflow deployment with KFP mult-user feature:
[code]

it will create HTML output `Experiment link here` but the link doesn't work.

@adrian555 found this problem, I just filed this report.

### What happened:
When running kfp in an in-cluster notebook with KFP mult-user feature, it requires authentication against the isti

[2020-07-30 23:13] PatrickXYS commented on #4297
In AWS, we do
[code]
Not sure IBM side can do so or not?

[2020-07-30 23:22] adrian555 commented on #4297
Yes, the public/external endpoint works too.

[2020-07-30 23:47] Bobgy commented on #4297
Thanks for reporting!
Help welcomed for a fix.

The problem is, KFP UI url in Kubeflow and KFP API url is different. So we need to make it configurable when initiating the client.

Do you have suggestions, what will be the best UX?
* host, ui_host args
* host, deployment_type args, ui_host inferred from them

[2020-07-31 02:16] Bobgy opened #4299 "Cache Deployer - Error when upgrading in GCP marketplace"
### What steps did you take:
1. install 0.5.1 in GCP marketplace
2. delete KFP application
3. reinstall 1.0.0 in GCP marketplace to the same namespace
4. kubectl get pod and logs cache-deployer, cache-deployer crashed for the first run, but started running for the second (but resources were already created).

### What happened:
Here's the error log for cache deployer:

[code]

### What did you exp

[2020-07-31 02:18] Bobgy commented on #4299
/assign @Ark-kun
I suspect there's sth not expected going on here. Why did the first cache deployer run that got many permission errors keep going, did we forget to add abort when there's an exception configuration.

However, that seems to magically create enough resources so that the second run have all we need.

[2020-07-31 02:24] Bobgy commented on #3818
I'm suspecting we didn't turn on the ml-pipeline-ui configuration that allows fetching from archived logs.

[2020-07-31 02:26] Bobgy commented on #3711
/reopen
I just tested on 1.0.0 and the problem still exists.

Now it shows fail to retrieve pod logs with error message:
[code]

We didn't accommodate for the case when workflow was also missing.

[2020-07-31 02:27] Bobgy commented on #3711
@jonasdebeukelaer do you want to revisit this?
Or I can follow up too

[2020-07-31 02:36] Bobgy commented on #4299
and cache-server is no longer working properly, when I create new runs, they don't get cached results.
and
[code]

I'm getting these error messages.

[2020-07-31 02:40] Bobgy opened #4300 "MLMD - MLMD data lost after upgrade from 0.5.1 to 1.0.0"
### What steps did you take:
1. install 0.5.1 in GCP marketplace
1. create some tfx/kfp runs
2. delete KFP application
3. reinstall 1.0.0 in GCP marketplace to the same namespace

### What happened:
After upgrade, when I go to existing runs, their MLMD tab doesn't show information. Also visualizations don't show up.

### What did you expect to happen:
All the data should still exist.

### Environm

[2020-07-31 03:14] Bobgy commented on #3818
Right, we don't default to turn on show argo archive in UI because we need some configurations there:
https://github.com/kubeflow/pipelines/blob/cc78bd1a4fda560454ec036c01cc0c9262517431/frontend/server/configs.ts#L81-L88

[2020-07-31 03:22] Bobgy opened #4301 "Getting Started - DSL Control Structures sample link is broken"
### What steps did you take:
1. go to getting started page
2. click dsl control structures sample link

### What happened:
the link address is like `https://6c1913ac663b66d8-dot-asia-east1.pipelines.googleusercontent.com/undefined`.
Looks like sth failed fetching the link.

### What did you expect to happen:
link should be good

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

marke

[2020-07-31 03:56] Bobgy commented on #4300
Figured out the problem.
When reinstalling, we must use exactly the same application name as before, because mlmd db name uses application name as prefix.

[2020-07-31 03:57] Bobgy commented on #4300
This is a documentation problem.

[2020-07-31 03:57] #4300 closed

[2020-07-31 04:23] Bobgy commented on #4261
@amygdala by the way, do you still have the cluster there? Can you share it with me for debugging purposes?

I'm going to try upgrading from marketplace to standalone quickly to see what blockers there are and how feasible we can support this.

[2020-07-31 04:53] Bobgy commented on #4261
Tried upgrading from marketplace to standalone using in-cluster storage. I didn't see the problems @amygdala met. Everything worked, except MLMD data is not restored because of the same problem for https://github.com/kubeflow/pipelines/issues/4300.

In standalone and marketplace we are using different db names for MLMD.
In standalone, it's static, we always use `metadb`, but in marketplace, we use

[2020-07-31 05:14] Bobgy commented on #3481
/lifecycle frozen

we still need this

[2020-07-31 05:36] tomalbrecht opened #4302 "Error when using microk8s: failed to save outputs: Error response from daemon: No such container:"
### What steps did you take:
I ran [/samples/core/lightweight_component/lightweight_component.ipynb](https://github.com/kubeflow/pipelines/blob/master/samples/core/lightweight_component/lightweight_component.ipynb). Running all cells seems ok. I did not change the tutorial code.

![image](https://user-images.githubusercontent.com/17781570/89003863-28228380-d301-11ea-9dad-d3df05f54314.png)

### Wha

[2020-07-31 05:53] #2237 closed

[2020-07-31 06:12] Bobgy commented on #4261
Well, a workaround is, the standalone deployment can be customized https://github.com/kubeflow/pipelines/blob/70f47caaea84a0953cfe927364343b7c838b00bb/manifests/kustomize/base/params.env to use existing database names.

User needs to first find out current db names, so this isn't very straight forward.

[2020-07-31 06:50] Bobgy commented on #4302
Can you click the step and see what the error message is?

[2020-07-31 07:19] tomalbrecht commented on #4302
This step is in Error state with this message: failed to save outputs: Error response from daemon: No such container: d98f03a40af58bc2f1a623005d9da0a6b6838822ebf0d11fcf0894291d3d5782

![image](https://user-images.githubusercontent.com/17781570/89010467-eac4f280-d30e-11ea-9e32-8ba7921b5a38.png)

[2020-07-31 07:55] jingzhang36 commented on #3591
TODO: add an integration test to run api with a larger pipeline manifest.

[2020-07-31 08:45] Bobgy commented on #4261
I discussed with @rmgogogo , it will be a breaking change for marketplace if we rename its db, considering number of users we already have, we don't really want to do that.

We can document steps to upgrade from marketplace to standalone instead, it will roughly be:
1. Query the in-cluster mysql db about database name:
[code]
2. Delete marketplace application from Google Cloud Console UI.
3. Deplo

[2020-07-31 09:00] Bobgy commented on #4261
@amygdala do you think above solution sounds good to you?

[2020-07-31 09:01] Bobgy commented on #4261
Moving this to a doc work item in KFP 1.0.

[2020-07-31 14:10] Bobgy commented on #3699
I can try to do a fix next week

[2020-07-31 14:10] Bobgy commented on #3157
Thanks

[2020-07-31 14:19] Bobgy commented on #699
It supports inline source, but not minio

[2020-07-31 14:19] Bobgy commented on #699
/reopen

[2020-07-31 14:44] shawnzhu commented on #4297
part of https://github.com/kubeflow/pipelines/issues/4297

[2020-07-31 15:35] lyschoening opened #4304 "Metrics disappear from pipeline UI at end of run"
### What steps did you take:
Run a pipeline with two tasks that generate metrics, one at the beginning, one at the end.

The first step contained 2 metrics, the second step around 25.

### What happened:

Metrics for the first task appeared in Run output once that task completed. When the run and second task generating metrics completed, all metrics disappeared and "No metrics found for this run."

[2020-07-31 18:27] amygdala commented on #4261
sorry, no, I took it down.

[2020-07-31 18:34] amygdala commented on #4261
yeah, that seems reasonable... let's just make sure to document the process carefully, and in the upgrade docs make clear up front that there is a different process in the 2 cases (so that the user doesn't just jump in and apply the manifests without reading further).

[2020-08-01 07:20] Mistobaan commented on #3809
This issue made me double notice that is actually written in the docs that the name has to match a REGEX:
[code]

[2020-08-01 22:53] saamalik commented on #336
@ksonbol - did you find an answer. I have the exact same usecase, except I want to use the built-in "minio://" endpoint. I've created a folder in that repository and uploaded the content there; would like for the pipeline to automatically download the files.

[2020-08-02 03:31] #3554 closed

[2020-08-02 10:03] Bobgy commented on #3554
All necessary tasks done. Metacontroller issue can be delayed.

[2020-08-02 22:04] Ark-kun commented on #4276
The important part is output name ("mlpipeline-metrics"), not file name (which can be anything.).

[2020-08-02 22:10] Ark-kun commented on #4287
There should be a `workflow-controller-configmap` configmap deployed as part of the Argo deployment. Do you see it in the cluster?

[2020-08-03 01:40] Bobgy commented on #3526
/reopen
this is still valid

[2020-08-03 01:41] Bobgy commented on #3526
/lifecycle frozen

[2020-08-03 01:44] Bobgy opened #4307 "[Backend] pH - How to update dependency?"
https://github.com/kubeflow/pipelines/pull/3965 has been blocked for nearly a month, because no one knows how to update backend dependencies properly.
We need clear documentation for instructions.

/assign @jingzhang36 @IronPan
/cc @NikeNano

[2020-08-03 01:45] Bobgy commented on #4307
TODO:
* [ ] instructions that can unblock #3965
* [ ] add documentation to backend/README.md

[2020-08-03 02:02] xinbinhuang opened #4308 "Autogenerate documentation from component.yaml"
Hi team,

I wonder if KFP pipelines have existing functionality to generate easy to read documentation based on `component.yaml`. I find myself a lot of time just copy and paste stuff from the yaml to the README.

It would be awesome if there is any simple way to generate a format that is easy to digest.

Thanks
Bin

[2020-08-03 02:03] #4308 closed

[2020-08-03 04:17] terrykong commented on #4229
Sorry, wasn't able to get back to this until just the other day.

Yes, I can confirm that your suggestion works for me. I guess I'll close this issue, and look forward to being able to specify kubernetes constructs in these specs.

[2020-08-03 04:17] #4229 closed

[2020-08-03 06:46] Bobgy commented on #4095
I'm seeing this again, I found one node is not ready, so I deleted it again.

Here's its status:
[code]

Looks like the kubelet failed, so some status checks have been failing.

[2020-08-03 07:10] janbe-ts commented on #4287
It turned out somebody else in my team had deployed another Argo `workflow-controller` in the default namespace which had a ClusterRole assigned allowing access to all pods in the cluster across namespaces. This controller seemed to modify the workflows I created in Kubeflow pipelines which also explains the error message:

`time="2020-07-29T09:37:10Z" level=warning msg="Error updating workflow: O

[2020-08-03 07:10] #4287 closed

[2020-08-03 08:58] Bobgy opened #4311 "sdk/client/auth - it's hard to debug auth problems"
Kubeflow standalone deployment on GCP uses https://github.com/google/inverting-proxy to expose KFP endpoint publically with auth/authz.

## Past Problems

In the past, there have been multiple issues raised asking about getting a response, but it's all "None" values.

For example: https://github.com/kubeflow/pipelines/issues/3793, https://github.com/kubeflow/pipelines/issues/4143 and https://githu

[2020-08-03 09:02] Bobgy commented on #4311
/cc @rmgogogo @numerology @Ark-kun
I spent some time today tracking down the root cause of all those `None`s reports using kfp client.

I initially thought it was just because `kfp-api-server` package doesn't have error handling, but it turned out to be more complex than that. The problem arises from auth failure and redirection

[2020-08-03 10:55] #3078 closed

[2020-08-03 12:40] Bobgy opened #4312 "sdk/client/auth - KeyError: 'id_token' from _auth.py in id_token_from_refresh_token"
If getting “KeyError: 'id_token'” from “File "/Users/gongyuan/miniconda3/envs/mlpipeline/lib/python3.7/site-packages/kfp/_auth.py", line 192, in id_token_from_refresh_token
    return (str(json.loads(res.text)[u"id_token"]))

The request to get id token from refresh token failed, but the client didn’t surface the underlying error message. The http response I got was
[code]

And root cause: ~/.conf

[2020-08-03 12:48] Bobgy opened #4313 "sdk/client - add unit/e2e tests"
Currently, sdk/client doesn't have any unit tests.

There are some limited coverage for some most frequently used methods in e2e tests: run_pipeline, create_experiment, get_experiment, list_runs, wait_for_run_completion.

[2020-08-03 12:54] Bobgy opened #4314 "sdk/client - add documentation for how to authenticate to GCP in different environments"

[2020-08-03 14:29] sm-hawkfish commented on #3748
Hi @Ark-kun , I apologize for the extended delay -- I wanted to make sure I had a chance to review your comments and go through the code-base in more detail before responding.

For one, I have come to agree with you that using `func_to_component_spec` is not really a "shortcut", since it's a similar amount of work to writing the Component Spec in YAML. In your response, you also mentioned some asp

[2020-08-03 15:47] blacksailer opened #4315 "Tensorboard viewer proxy error"
Hello everyone!

I was trying to configure my workflow with pipelines and wanted to use tensorboard. I am managed to created two step pipeline, but clicking on "Open Tensorboard" gives:
[code]

My cluster is on-premises, 1.15.11and behind corporate proxy
kubeflow version-1.0.2 without dex

Port-forwarding tensorboard pod is working, but not from pipelines UI.

Can you guide to some tutorial  howto

[2020-08-03 15:58] numerology commented on #4311
Thanks @Bobgy ! This is really helpful.

I have one question on the phenomenon you described In the analysis and root cause section: the session will be redirected to a login page if no proper authentication was provided IIUC. Will this happen when the provided host name or path is invalid?

[2020-08-03 16:23] alfsuse commented on #4138
Hi, @Bobgy  I see this issue is still open, I've tested the changes merged in https://github.com/kubeflow/pipelines/pull/4246 on k3s and on Kind with K8s 1.18, I've also tested it on a "standard" K8s (not DinD) and I can confirm it works. Do you need still/more help on this? If so how can I help you?

[2020-08-03 16:28] Bobgy commented on #4138
Thank you!
/close

[2020-08-03 16:28] #4138 closed

[2020-08-03 17:11] sm-hawkfish commented on #4287
I have also seen this issue and the root cause was similar -- a separate (more recent) version of Argo was installed in the same cluster (but in our case it was a different namespace, e.g. `argo`).

It seems that even though the separate argo installation is in it's own namespace, the `workflow-controller` that KFP chooses to run components seems to be selected at random between either the one tha

[2020-08-03 17:21] alfsuse commented on #4302
Hi, @tomalbrecht  I think I've managed to replicate the error and in my case was due to missing capabilities in a pod security policy.
Do you have, by any chance, one or more PSP deployed? If so the default PSP has either a missing:
` Allowed Capabilities:
  - SYS_PTRACE
  - NET_ADMIN
  - NET_RAW`
section or have something like "Drop capabilites - ALL" somewhere in it?

A quick& dirty test, if you

[2020-08-04 01:10] Jeffwan commented on #3366
@Dhaval08 Thanks for the confirmation

[2020-08-04 01:41] Bobgy commented on #4311
Exactly! When the host name or path is invalid, sdk fails to identify the hostname as an inverse proxy endpoint, so it doesn't send auth info there, so it became an auth problem again. e.g. there was a bug report that user actually appended `/pipeline` to KFP GCP hosted endpoint, therefore getting all `None`s.

The more important thing to this specific issue is, we need to update documentation for

[2020-08-04 01:59] Bobgy commented on #4287
As far as I know, an argo controller can only watch for one namespace or the whole cluster.
@sm-hawkfish can you ask the other argo controller to limit to only operating on one namespace?

[2020-08-04 02:04] Bobgy commented on #4311
/cc @rmgogogo

[2020-08-04 03:26] Bobgy commented on #4238
if they deployed on kubeflow namespace

[2020-08-04 03:28] Bobgy commented on #4238
I discovered those env vars are injected by https://github.com/kubeflow/kubeflow/tree/master/components/admission-webhook#how-this-works `PodDefault` kubeflow service. Probably that's not working.

[2020-08-04 03:38] Bobgy opened #4317 "Multi-user - documentation on kubeflow.org"
Cover the following topics:
* [x] where it is available
* [x] how to do the CUJs
* [x] difference between single user mode and multi user mode
* [x] limitations on what is not separated
* [x] how to auth kfp sdk https://github.com/kubeflow/website/pull/2086
* [x] how to grant user GCP permissions https://github.com/kubeflow/pipelines/issues/4322

[2020-08-04 03:43] Bobgy commented on #4317
Some relevant information:
* design doc: https://docs.google.com/document/d/1R9bj1uI0As6umCTZ2mv_6_tjgFshIKxkSt00QLYjNV4/edit?ts=5e4d8fbb#heading=h.5s8rbufek1ax
* KFP multi-user instructions for GCP: https://docs.google.com/document/d/1Ws4X1oNlaczhESNuEanZxbF-cnSfO78B1rBHWOkIAzo/

[2020-08-04 04:46] tomalbrecht commented on #4302
@alfsuse Thanks for your help.

I deployed [these](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/) manifests on microk8s. Within the kustomize directory (`/opt/kubeflow/config/kustomize/kubeflow-roles/base`) I found `cluster-roles.yaml` including several cluster roles.
* Which of these rule I would need change to run the mentioned tutorial?

When I run the code above as a user (not adm

[2020-08-04 06:10] #4264 closed

[2020-08-04 07:37] alfsuse commented on #4302
@tomalbrecht  I'm not sure that the cluster-roles or the user are related in this context. I think the issue relay on the presence of a psp, can you run `kubectl get psp - o yaml` and paste here the result? You should have something like this:
[code]

[2020-08-04 08:17] tomalbrecht commented on #4302
@alfsuse I installed kubeflow with RBAC enabled, if this matters. But it seems that PodSecurityPolicy is a cluster level resource - so maybe not. Anyway. Here's the output.

[code]

complete `kubectl get psp - o yaml` output:
[code]

I edited the field 'allowedCapabilities' as suggested by you.

![image](https://user-images.githubusercontent.com/17781570/89269115-c1bb9f00-d639-11ea-955f-4b5f508cbb

[2020-08-04 08:34] tomalbrecht commented on #4302
More information. This time it seems several different resources failed.

![image](https://user-images.githubusercontent.com/17781570/89270706-09432a80-d63c-11ea-99f3-1ebf0ab871db.png)

* pod/metadata-deployment-5c7df888b9-cqvcx: Readiness probe failed: HTTP probe failed with statuscode: 500
* deployment/metadata-deployment: failed

Because of this, I deployed the service again. This solved at lea

[2020-08-04 09:13] alfsuse commented on #4302
Thanks, @tomalbrecht couple of more questions:
1) I see you have 1.18 version of K8's that is probably the root cause for some pod failures. Is cache-deployer running? If not you need to change the cahce-deployer clusterole as indicated here: https://github.com/kubeflow/pipelines/issues/4138
2) The psp should be applied immediately.. I wonder if you have any other psp in place beside the one you s

[2020-08-04 09:16] Ark-kun commented on #4299
I think the main error is this:
[code]

The deployer could not re-install the config, so the secret and the config became out of sync.

It's pretty easy to fix - we just need to add the proper roles to the deployer.

[2020-08-04 09:28] Ark-kun commented on #4282
Please try the following:
[code]
P.S. @Bobgy I think resolving the following issues will make this significantly easier for the users:
https://github.com/kubeflow/pipelines/issues/3970
https://github.com/kubeflow/pipelines/issues/3510

[2020-08-04 09:33] Ark-kun commented on #4238
There are probably env vars added by Kubernetes that we could check and fall back to.

[2020-08-04 09:38] Focke-Wulf commented on #699
hi, we are testing tensorboard in pipline, the documentation said not support inline source....

however we test souce in mino, it dose not work as well..

![logs](https://user-images.githubusercontent.com/26343300/89278910-4e398200-d679-11ea-9bb8-0425ab4c328e.png)

[2020-08-04 11:26] Bobgy commented on #699
Ohh, sorry I missed you are talking about tensorboard. Inline is not supported

[2020-08-04 11:42] tomalbrecht commented on #4302
@alfsuse

Thanks, I will take a look at https://github.com/kubeflow/pipelines/issues/4138 in case I will stick to kubernetes 1.18.

I am not aware of any psp deployments. Right now I am testing on a single user environment with full access. So if there are any, it was deployed with microk8s (juju) or [kubeflow manifests](https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_

[2020-08-04 12:00] Bobgy opened #4321 "GCP IAP - OpenID Connect token expired: JWT has expired"
I'm getting the following error message after using a client for more than 1 hour.

HTTP response headers: HTTPHeaderDict({'X-Goog-IAP-Generated-Response': 'true', 'Content-Length': '45', 'Content-Type': 'text/html; charset=UTF-8', 'Date': 'Tue, 04 Aug 2020 11:59:03 GMT', 'Alt-Svc': 'clear'})
HTTP response body: OpenID Connect token expired: JWT has expired

[2020-08-04 12:01] Bobgy commented on #4321
Looks like IAP credentials also need to be refreshed.

[2020-08-04 13:24] lucinvitae commented on #4208
Hello @Bobgy -- Is there any update on this? It would be great if PR #4236 (or the equivalent) made it into the next KFP release. Currently, our project is blocked from using tensorboard since we do not use GCS.

[2020-08-04 14:16] Bobgy commented on #4315
`ml-pipeline-ui` pod proxies traffic to the tensorboard pod in the cluster

I'm not sure what went wrong

[2020-08-04 14:16] Bobgy commented on #4315
/cc @jingzhang36

[2020-08-04 14:20] jlewi commented on #1653
@cjwagner I think when we created kubeflow/blog we initially didn't add the ci-bots team but it should be added now; if your still seeing 403s let me know (preferablly in a new issue on kubeflow/blog).

@Bobgy I think we can also set the permissions at the org level now.

[2020-08-04 14:48] Bobgy commented on #1653
Okay, let me do that tomorrow

[2020-08-04 14:53] tomalbrecht commented on #4302
Older Versions of microk8s in combination with kubeflow 1.0.2 won't work either. The mentioned [tutorial](https://github.com/kubeflow/pipelines/blob/master/samples/core/lightweight_component/lightweight_component.ipynb) won't work.

[code]

**Test 1: microk8s 1.16/stable - v1.16.8** FAILED "No such container"
![image](https://user-images.githubusercontent.com/17781570/89295670-9a78c800-d661-11ea-8

[2020-08-04 15:02] alfsuse commented on #4302
Hi, @tomalbrecht  I finally replicated the error on microk8s and found that is directly related to microk8s itself. I found the same error here: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1189#issuecomment-572599671 the problem seems to be related to the way microk8s manage security context.
As mentioned I have a successful installation with kind,k3s, and minikube.. I will try onc

[2020-08-04 15:13] tomalbrecht commented on #4302
Wrap up for microk8s 1.18.6 and kubeflow 1.0.2.

* Patching PSP 'allowedCapabilities' as described [here](https://github.com/kubeflow/pipelines/issues/4302#issuecomment-668434679) did not help
* Patching cache-deployer deployment as described [here](https://github.com/kubeflow/pipelines/issues/4138) - couldn't find `manifests/kustomize/cluster-scoped-resources`in kubeflow/manifests(https://github.

[2020-08-04 15:18] alfsuse commented on #4302
https://github.com/kubeflow/manifests/blob/master/pipeline/upstream/base/cache-deployer/cache-deployer-deployment.yaml
should be the right one..

[2020-08-04 17:01] Dhaval08 commented on #4282
@Ark-kun Also, does Kubeflow support real time visualization of tensorboard logs? I did try out the steps from documentation. However, the visualization seems to get created only after the job has finished its execution.
Thank you.

[2020-08-04 17:50] #3644 closed

[2020-08-04 17:50] #1180 closed

[2020-08-04 18:18] alfsuse commented on #4302
So I reinstalled microk8s with Kubernetes v 18.6 and enabled kubeflow (only) from microk8s directly (microk8s enable dns kubeflow storage) it will install everything else.. than deployed a notebook from withing kubeflow and ran the sample.
* The first attempt failed because of the psp that are present missing some capabilities
* Changed to '*' and re-run the demo changing the image in the sample t

[2020-08-04 19:06] sm-hawkfish commented on #4287
This was exactly the issue -- thank you very much for the tip @Bobgy !

[2020-08-04 19:28] #4259 closed

[2020-08-05 01:48] #4299 closed

[2020-08-05 02:24] vikasmenon commented on #3412
+ 1.

We are observing this same problem and don't have any solution so far.

invalid spec: templates.for-loop-for-loop-05772e24-2.outputs failed to resolve {{tasks.train-forecasting-model-2.outputs.parameters.train-forecasting-model-2-metrics}}

[2020-08-05 02:43] Bobgy opened #4322 "Document how to configure GCP permissions for a user namespace."
Current draft
[code]

[2020-08-05 05:22] tomalbrecht commented on #4302
I wonder how to go on from now. microk8s.enable kubeflow does not seem to be the right solution for us. Kubeflow will be managed by juju (within microk8s), so its not easily possible to patch kubeflow.

[2020-08-05 06:43] alfsuse commented on #4302
I don't know your specific use case but if your need is to manage the manifests process probably minikube is a good solution (in case you need GPU support) or kind,k3s.
- minikube works on docker or KVM,hyper-v,etc..
- kind and k3s are DinD solutions and work on top of docker
All the above anyway allow you to install from manifest and support istio, ingress,etc..
Just one further note for kind and

[2020-08-05 07:00] jingzhang36 commented on #4307
First of all, I believe the way we manage BE dependencies is no different from other golang projects who use bazel. In other words, there is nothing special to our dependency management and any online tutorial on managing golang projs with bazel applies to our project  (the same as it applies to other golang projects with bazel)

Second, if the dependency is broken or goes wrong, we'll have to fol

[2020-08-05 07:07] tomalbrecht commented on #4302
Thanks again. Yes, I'd like to manage the manifests. I'll take a look.

[2020-08-05 07:08] alfsuse commented on #4302
Ping me over slack KF channels if you need any help with those

[2020-08-05 07:47] Bobgy opened #4324 "Update KFP doc for Kubeflow 1.1 and KFP 1.0"
Use this issue as a centralized tracker for all doc updates needed.

[2020-08-05 07:50] jingzhang36 commented on #4307
Regarding https://github.com/kubeflow/pipelines/pull/3965, I'll try to figure out why.

[2020-08-05 11:27] Bobgy commented on #4307
If there are any existing doc that will be great, we can just put a link in the README.md

[2020-08-05 11:30] Bobgy commented on #2523
/lifecycle frozen

[2020-08-05 11:59] Bobgy commented on #4304
I'm not sure about this, can you try `kubectl logs ml-pipeline-xxxxx` see the kfp api server log when fetching metrics?

I suppose something should be failing there.

[2020-08-05 12:01] Bobgy commented on #4286
/assign @jingzhang36

[2020-08-05 13:34] #4291 closed

[2020-08-05 14:02] Bobgy commented on #4288
Not sure, can you verify If your custom sa got all required permissions correctly?

kubectl auth command help Do that.

There should be nothing related to naming

[2020-08-05 14:05] Bobgy commented on #4288
Can you verify running the workflow using argo directly? If it fails without KFP, it can be an argo problem

[2020-08-05 14:08] Bobgy commented on #651
/reopen
looks like someone cares

no one is working on this.

I am curious what makes it different from using KFP SDK triggered by the event

[2020-08-05 14:12] Bobgy commented on #489
/reopen

[2020-08-05 14:13] Bobgy commented on #489
https://github.com/kubeflow/pipelines/pull/4236 supports this feature request.

[2020-08-05 14:15] Bobgy commented on #4282
There cannot be support for local. Do you mean volume?

[2020-08-05 14:28] Bobgy commented on #4290
There is an undocumented config for that

[2020-08-05 14:42] lyschoening commented on #4304
There's the following error, omitting some of the records in the middle:

`Failed to parse metrics ({[{"RunUUID":"85f70ed7-2196-4f5c-b4f9-a2817cb674ca","NodeID":"my-pipeline-zkwdh-1135935994","Name":"example-count","NumberValue":xxx,"Format":"UNSPECIFIED","Payload":""},...,{"RunUUID":"85f70ed7-2196-4f5c-b4f9-a2817cb674ca","NodeID":"my-pipeline-zkwdh-1135935994]'. error: unexpected end of JSON inpu

[2020-08-05 15:04] montanier commented on #2206
Hi,

I just ran into an issue with the json serialization of dicts.

Here is the code:
[code]

I get the following error:
[code]

Did I miss something ?

[2020-08-05 15:53] numerology commented on #2206
Hi @montanier

Do you mind let us know which KFP SDK version you're using?

Also, in the `consume_list` signature, `list_param` seems to be a list, however in your script you're explicitly pass a string into it. This looks a bit of weird.

[2020-08-05 17:23] jotaylo opened #4325 "CSI volume getting mounted as EmptyDir"
### What steps did you take:
I'm trying to mount a CSI volume in my kubeflow pipeline using the [Azure Key Vault Provider for Secrets Store CSI Driver](https://github.com/Azure/secrets-store-csi-driver-provider-azure).

I'm using python to create the pipeline and mount the volume:

[code]

### What happened:
The pipeline starts, but the volume gets mounted to the container as EmptyDir.

### What d

[2020-08-05 19:55] nakfour opened #4326 "Pipeline with volume does not work with "k8sapi" argo executor"
### What steps did you take:
As part of Open Data Hub we are trying to get KFP 1.0 working on Openshift 4.x. We must use the "k8sapi" executor since docker is not present. Provided KFP python examples work as long as there are no passing parameters. We are trying to convert the KFP examples with passing parameters to use volumes to get them to work on OCP. We tried one of the simple volume creatio

[2020-08-05 20:50] kxiao-fn opened #4327 "Parse KFP read_artifact data"
I am trying to use the `read_artifact` method in `kfp.Client().runs`. However, I am not sure how to parse the returned data.

If I open the link provided by the UI, I am able to view the data as:
```["[0, 1, 2, 3, 4, 5, 6, 7]", "[8, 9, 10, 11, 12, 13, 14, 15]", "[16, 17, 18, 19, 20, 21, 22, 23]", "[24, 25, 26, 27, 28, 29, 30, 31]", "[32, 33, 34, 35, 36, 37, 38, 39]", "[40, 41, 42, 43, 44, 45, 46,

[2020-08-05 21:30] Ark-kun commented on #4325
This is really strange. The KFP backend does very minimal modifications to the pipeline before handing it to Argo. I wonder could it be caused by using outdated Go clients for Kubernetes and Argo. Maybe the `csi` field is lost in the process.

Can you please check the Workflow yaml submitted to execution?

`kubectl get wf ... --output yaml`

[2020-08-05 21:34] Ark-kun commented on #4307
The backend uses a really outdated version of Bazel. The build files are incompatible with stable Bazel versions and the build files of new versions of the dependencies are incompatible with the old Bazel version that we use.

We might improve the developer productivity here by scaling back the usage of Bazel and going back to using Go modules.

[2020-08-05 21:41] Ark-kun opened #4328 "Samples from the some branch do not use components from the same branch"
The samples in the a branch should load components from the same branch so that the sample test tests the updated components.
Otherwise the presubmit tests will not catch the issues and also the postsubmit tests will fail when there are any changes in the component signature.

[2020-08-05 22:01] Ark-kun opened #4329 "The sample tests should search for `gcr.io/ml-pipeline/*` container images in `gcr.io/ml-pipeline-test/*`"
Currently there are several problems regarding to the CI/CD for components and samples.
Users work in branches to change components and samples.
The presubmit sample test builds container images for the components and pushes them to `gcr.io/ml-pipeline-test/*`.
When changing some component code, there should be a corresponding change in the `component.yaml` file and samples that use the component.

[2020-08-05 22:11] Ark-kun opened #4330 "Use more stable hashes for container image names"
Related to https://github.com/kubeflow/pipelines/issues/4329

Components and samples depend on container images.
Users changing the component code want to make the corresponding changes to the components and samples using that code in the same PR.
To do that, the users need to be able to predict the final image name.
This currently not possible since the image names use commit hashes that can only

[2020-08-05 22:13] Ark-kun commented on #4327
Have you tried decoding using Base64 and then unzipping/untarring?

Have you tried clicking on that link? I think it returns the actual (unarchived) artifact data.

[2020-08-05 22:14] jotaylo commented on #4325
That only the contains the name:

[code]

[2020-08-05 23:43] kxiao-fn commented on #4327
How do you decode it when it is returned as a string?

Also, I have clicked the link, but it just opens the link in the browser and displays the contents. I would like to download the contents instead (especially because I have some output artifacts that are pickled files, so displaying it in the UI would not suffice).

[2020-08-05 23:46] #3632 closed

[2020-08-06 00:07] rmgogogo commented on #4325
Is it running in Azure? Help wanted from community.

[2020-08-06 06:48] Bobgy commented on #4324
*[ ] https://github.com/kubeflow/pipelines/issues/4317

[2020-08-06 07:06] montanier commented on #2206
I am using kfp 1.0.0.

Sorry for the mix between list and dict, the code comes from a copy past of the unittests. Here is a corrected snippet:
[code]

I still have the same error.
[code]

[2020-08-06 07:13] Bobgy commented on #4307
Yes, I totally agree with @Ark-kun.

I feel the extra steps to use bazel is just unnecessary when go modules is already becoming golang standard. As Ajay mentioned, we may still keep bazel for building the proto for the moment.

[2020-08-06 07:18] yoni-taranis opened #4333 "No retry on "Pod deleted""
### What steps did you take:
I've manually added a "retryStrategy" of "Always" to the op compiled yaml
I can see retry does occur when there is an actual code error

I am quite sure that this issue started when upgrading from argo 2.4.x (it started after upgrading to 1.0.0), and might stop happening in argo 2.9.x as we are running also a a standalone argo deployment, and it stopped happening when

[2020-08-06 07:24] Bobgy commented on #4208
Hi @haibingzhao, we can wait for #4236 to be merged now.
Do you want to contribute to this feature's documentation too?

Because this is relatively complex, I think it probably needs its own page for documentation. I think you can start from adding a markdown documentation in this repo probably in `docs/config/volume.md`.

[2020-08-06 07:50] myonlyzzy opened #4334 "pipline api-server did't print error log"
### What steps did you take:
[A clear and concise description of what the bug is.]

I use kustomize  deploy kubeflow
### What happened:
api-server  never output error log ,but pod crashbackoof
### What did you expect to happen:
api-server output log tell me what happend
### Environment:

Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.4", GitCommit:"67d2fcf276fcd9cf743ad4be9a

[2020-08-06 08:03] jingzhang36 commented on #4307
There are two issues here (let's try solving the one described in this issue's description first, without unnecessarily letting the other to be blocking).

1. One issue of the PR [#3965](https://github.com/kubeflow/pipelines/pull/3965) mentioned in the description is that the author needs to follow our instruction of updating dependencies in WORKSPACE. https://github.com/kubeflow/pipelines/pull/39

[2020-08-06 08:06] #489 closed

[2020-08-06 08:08] Bobgy commented on #4307
Thanks for clarification!

With https://github.com/kubeflow/pipelines/tree/master/backend#updating-build-files, I think this issue's purpose is already met. We can continue discussion of cleaning up bazel dep by upgrading/stopping to use it in https://github.com/kubeflow/pipelines/issues/3461.

[2020-08-06 08:08] #4307 closed

[2020-08-06 08:41] Bobgy commented on #4322
In fact, it's already documented in http://master.kubeflow.org/docs/gke/authentication/#starting-in-kubeflow-v0-7-google-kubernetes-engine-gke-workload-identity

[2020-08-06 08:41] Bobgy commented on #4322
We just need to point to that documentation in KFP related docs.

[2020-08-06 09:52] garlic5566 commented on #3594
Should we keep this issue or it is correct to edit and push Argo workflow yaml file to Kubeflow pipeline?

[2020-08-06 10:29] vpavlin commented on #4258
Sorry for late response, I completely missed your comment

That looks like a standard cluster, but it still sounds like to dynamic provisioning is not enabled. Can you check what

[code]

gives you?

I am going to take a look at the hostpath provisioner today and get back to you with more info.

[2020-08-06 10:49] haibingzhao commented on #4208
ok, I will document this later.

[2020-08-06 12:35] Bobgy commented on #3660
/lgtm

[2020-08-06 12:36] Bobgy commented on #3660
hmmm, this is not a pr

[2020-08-06 12:37] Bobgy commented on #3114
/lifecycle frozen

[2020-08-06 12:38] Bobgy commented on #3636
/lifecycle frozen

This is still a valid feature request

[2020-08-06 12:46] Bobgy commented on #4289
Probably duplicate of https://github.com/kubeflow/pipelines/issues/4179?

[2020-08-06 12:51] Bobgy commented on #4304
looks like there's some length limit

[2020-08-06 12:52] Bobgy commented on #4304
/assign @jingzhang36

[2020-08-06 12:53] Bobgy commented on #4304
Failing from here: https://github.com/kubeflow/pipelines/blob/5ebe6cf99f27e11938d1f5e0ab8941f8c38efe21/backend/src/apiserver/storage/run_store.go#L291

[2020-08-06 12:59] Bobgy commented on #4326
/assign @Ark-kun @neuromage @chensun @numerology

[2020-08-06 13:00] Bobgy commented on #4328
Yes, that's a project health problem.
I totally agree with this.

[2020-08-06 13:05] Bobgy commented on #4329
can we use tree hash as url?

[2020-08-06 13:09] Bobgy commented on #4330
If we use git tree hash, I think we should make sure each dockerfile is deterministic, e.g. pin each image to a fixed version.

[2020-08-06 13:19] Bobgy commented on #4327
You can save the link as a local file I think

[2020-08-06 13:54] Gsantomaggio commented on #3770
@Ark-kun I tested your branch and by adding:

[code]

and I made some progress by building with Bazel 3.4.1

I have some problem on:

[code]

[2020-08-06 16:03] jotaylo commented on #4325
Yes, it's running in AKS.

[2020-08-06 18:26] numerology commented on #2206
@montanier

This will work
[code]

As I mentioned, after calling `json.dumps`, the dict became a string, which is unexpected by `consume_dict`.

[2020-08-06 23:15] kxiao-fn commented on #4327
I tried that, but I received the error `tar: Error opening archive: Unrecognized archive format` when trying to unzip it.

[2020-08-06 23:53] Jeffwan commented on #1131
@Dhaval08 check https://github.com/aws-samples/eks-kubeflow-workshop/blob/master/notebooks/05_Kubeflow_Pipeline/05_03_Pipeline_mnist.ipynb This doesn't involve SM

[2020-08-07 00:30] Jeffwan opened #4337 "Add AWS overlay for production users"
Currently, [platform-agnostic](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/env/platform-agnostic) works well on AWS for user who like to experience KFP features. We(AWS) get some feedbacks users want to use more stable AWS services to replace some of the components in KFP. S3 and RDS start to be widely voiced.

I think pipeline team build good abstraction here, for exampl

[2020-08-07 00:31] PatrickXYS commented on #4337
/assign

[2020-08-07 01:12] Jeffwan commented on #4337
https://github.com/Jeffwan/pipelines/commit/9ae0464b064929107a5a897ba57ba1266998b5bd
I make some changes and this will help replace minio if user doesn't like to use gateway. However, the client sdk are still minio which means user may not leverage latest S3 features.

[2020-08-07 01:14] Ark-kun commented on #4325
Then the most likely cause is the one I listed: The outdated Go clients for Kubernetes and Argo lose fields when constructing Workflow object from YAML.

@rmgogogo I really think we should improve the backend build story so that we can upgrade the modules. They're pretty old now.

[2020-08-07 01:48] Bobgy commented on #4325
Then this should be resolved by https://github.com/kubeflow/pipelines/issues/3770.
Already planned in Q3

[2020-08-07 01:48] Bobgy commented on #4325
/assign @jingzhang36

[2020-08-07 01:49] Bobgy commented on #4337
FYI, there's a community maintained AWS overlay https://github.com/e2fyi/kubeflow-aws/tree/master/pipelines

[2020-08-07 01:57] Bobgy commented on #4324
* [ ] Document new `kfp.components` new methods @Ark-kun

[2020-08-07 02:50] Bobgy commented on #4324
in

[2020-08-07 05:59] Bobgy commented on #3699
I've been reading through sdk and persistence agent code.
These are my understandings:
* sdk is no longer adding `mlpipeline-metrics.json` to every component
https://github.com/kubeflow/pipelines/blob/f738cb3ac38bc8b2ca485131561cb3ab488b71cd/sdk/python/kfp/dsl/_container_op.py#L939-L945
looks like the documentation is outdated, I don't find code occurrences that keep adding it.
* persistence agent

[2020-08-07 15:52] soogui opened #4339 "Unable to run GPU tensorflow image on machine without GPU"
### What steps did you take:
I am trying to run a toy pipeline using `tensorflow/tensorflow:latest-gpu-py3` as base image. I have a basic example that loads tensorflow to run a simple computation. Here is my `pipeline.yaml`:
[code]

### What happened:

The pipeline run failed with the following events in the corresponding pod:
[code]

### What did you expect to happen:
Since TensorFlow supports so

[2020-08-07 17:01] amygdala commented on #4339
interesting... I was just checking the same thing, and for me it worked.  I'm using this image, however:
`FROM tensorflow/tensorflow:2.3.0-gpu`

Give the above image a try and see if that gives better results.
I see the following output, but then training does initiate okay (on a non-gpu node).
[code]

[2020-08-07 17:31] xinbinhuang opened #4340 "Outdated documentation on caching"
### What steps did you take:
[A clear and concise description of what the bug is.]

Following steps from here: https://www.kubeflow.org/docs/pipelines/caching/#disabling-caching-in-your-kubeflow-pipelines-deployment

[code]

### What happened:

Resource not found

### What did you expect to happen:

The actual resource name:

[code]

Also even after I changed the correct resource name. It still fa

[2020-08-07 23:53] #4322 closed

[2020-08-08 00:06] soogui commented on #4339
I replaced the image tag in my pipeline file and I still get the same error:

[code]

[2020-08-08 00:11] Bobgy commented on #4317
done

[2020-08-08 00:11] #4317 closed

[2020-08-08 02:11] Bobgy commented on #3699
Hi @nlarusstone, if you want to workaround, you can change your `ml-pipeline-persistenceagent` deployment's image to gcr.io/ml-pipeline-test/112bdfa56ddb54dbc05499d51ba6386362838459/persistenceagent@sha256:bc95106ebc84292652abb41b0088fa55a9b11dd3e6939d70c81b8ba64105568d instead.

[2020-08-08 02:35] #2561 closed

[2020-08-08 05:00] Ark-kun commented on #4340
Thank you for your patience. We will update the documentation.

We'd also like to know the scenario that prompted you to disable the caching globally. Can you describe the reason? Usually it's enough to disable caching for a single component in a pipeline.

[2020-08-08 14:41] zeeros opened #4342 "Create pipeline failed, Storage backend has reached its minimum free disk threshold"
### What steps did you take:
Using the Kubeflow Dahsboard, I go to the Pipelines page and click Upload pipeline.
At this stage I want to create a new pipeline by uploading a zip file.

### What happened:
Suddenly I can't upload any pipeline, the following message appears

`
{"error_message":"Error creating pipeline: Create pipeline failed: InternalServerError: Failed to store 836b2e66-7496-4831-aa

[2020-08-08 16:21] Bobgy commented on #4342
Which Kubeflow version and which platform Did you deploy to

[2020-08-08 16:31] zeeros commented on #4342
I've solve the issue by deleting many old folders in /nfsroot/.
Does deleting a notebook server instance leave the related persitent volumes untouched?
Because this behavior is not evident from the Dashboard

[2020-08-09 01:04] Bobgy commented on #4342
I am not sure, you may move the issue to kubeflow/kubeflow repo.

this is just for pipelines

[2020-08-09 18:05] jackwhelpton opened #4344 "Cannot use dynamic dataproc cluster name in ExitHandler"
### What steps did you take:

Wrote a pipeline that creates a cluster and attempts to remove it in an ExitHandler:

[code]

### What happened:
Pipeline does not compile:

[code]

### What did you expect to happen:

Pipeline to compile, and create a temporary DataProc cluster which is torn down once the pipeline completes.

### Environment:

How did you deploy Kubeflow Pipelines (KFP)?

KFP version

[2020-08-09 18:24] numerology commented on #4344
@jackwhelpton

Interesting question... Indeed this will fail because exit handler cannot depend on the output of the op group it is associated with. One question I have is, what if the op group fails before `create_cluster_task` succeed? I think we need to think hard on several edge cases before we can make exit handler dynamic.

[2020-08-09 18:42] jackwhelpton commented on #4344
That's a good point... I guess I assumed if the cluster creation failed, there'd be nothing to clean up, but that may not be true (in fact, I'm just looking at some failed creations atm).

Is there an interim approach to this where we could generate a name using the execution ID and pass that into both the create and the exit handler? I guess it's an open question whether you'd want parallel execu

[2020-08-09 21:45] numerology commented on #4344
@jackwhelpton

Yes there is. One can use `dsl.RUN_ID_PLACEHOLDER` to represent the execution ID. See https://github.com/kubeflow/pipelines/blob/d87c3be6114af867760d07f1d70f4d95d4456c52/samples/core/xgboost_training_cm/xgboost_training_cm.py#L213

[2020-08-09 23:50] Bobgy commented on #3866
/assign @Ark-kun @neuromage @numerology @chensun

[2020-08-10 01:21] Bobgy commented on #3770
FYI, @Gsantomaggio created a PR of his current progress at https://github.com/kubeflow/pipelines/pull/4343. Above mentioned problem was the blocker.

[2020-08-10 02:56] haibingzhao commented on #4208
@Bobgy I submit a PR to document this at: #4345, any suggestion will be welcome

[2020-08-10 03:18] #3364 closed

[2020-08-10 03:35] jackwhelpton commented on #4344
Perfect, thanks. Not directly related to this, but still on the use of ExitHandlers... is there a way to tear down a Dataproc cluster once you're done with it, even if you want to perform subsequent steps in the pipeline?

Trying to include only the Dataproc steps within the exit handler yields:

[code]

[2020-08-10 03:54] Bobgy opened #4346 "Feature Request: upgrade from Kubeflow 1.0 to 1.1 on GCP"
Kubeflow 1.1 for GCP is drastically different from Kubeflow 1.0, in-place upgrade is almost impossible.

Significant updates:
* KFP in Kubeflow 1.1 defaults to separate multi-user: https://master.kubeflow.org/docs/pipelines/multi-user/.
* Kubeflow 1.1 on GCP is deployed by blueprint, rather than kfctl.

I need some feedback about specific scenarios of your upgrade:
* Do you care about keeping exis

[2020-08-10 04:26] #3699 closed

[2020-08-10 08:46] linkvt opened #4347 "memory leak in metadata-writer?"
### What steps did you take:
We have kubeflow-pipelines deployed in our Kubernetes cluster and noticed that the metadata-writer consumes quite a lot of memory even if no jobs are currently running.

### What happened:
We had about 2000 jobs finished by kubeflow-pipelines, the successful ones were deleted some hours ago and we kept only a few failed ones.
We currently set a memory limit of 2Gi on t

[2020-08-10 09:17] Bobgy commented on #4347
/assign @Ark-kun

[2020-08-10 11:43] Bobgy commented on #3499
/lifecycle frozen

[2020-08-10 12:24] blacksailer commented on #4315
Suddenly after weekends it started to work, maybe it was intializing too long.Closing

[2020-08-10 12:24] #4315 closed

[2020-08-10 20:55] swarnaditya opened #4352 "Want to create ANY model and do batch transform in without Training in Amazon SageMaker"
### What steps did you take: Removed the HPO and Training Jobs only creating the model and batch transforming in SageMaker
[Automatically taking the HPO and Training on SageMaker facing some issue while kfp compile]

### What happened: Getting output properly in Kubefow. But I want to to see custom  model (ANY) output without HPO and Model training in Sagemaker

### What did you expect to happen:

[2020-08-10 22:04] Jeffwan commented on #4337
@Bobgy Yeah, I talked with @eterna2  in the past. I think we would like to leverage upstream base as more as possible. We will keep link to e2fyi as alternative. I know some users are already on it. At the same time, we will try to further simplify the setups and add cloud resources in the scope. for example, one CFN/ deploy manager to help setup aws resources

[2020-08-10 22:33] Jeffwan commented on #561
/reopen

[2020-08-10 22:40] Jeffwan commented on #561
The argo version in v1.1  still have the issue. This blocks one use case in EKS that we can not deploy kubeflow pipeline on [EKS Fargate](https://docs.aws.amazon.com/eks/latest/userguide/fargate.html) since Fargate doesn't support HostPath yet.

[2020-08-11 03:53] numerology commented on #4344
Ah my bad. I misunderstood our own codebase 🤦

Currently it seems not supported in the DSL level. One workaround on top of my head would be to implement a try-catch logic inside of a container op to do the cluster tearing down, and add that step as the downstream step of all Dataproc usages.

[2020-08-11 04:51] #3601 closed

[2020-08-11 08:35] Ark-kun commented on #4347
Although there is a known small leak, it's not expected to consume that much memory.
We just keep the map from pod names to executions etc.

[code]

It would be pretty strange is those maps would take any noticeable amount of memory for just 2000 runs.
I can try to limit the number of items in the maps (FIFO-style). I wonder whether this helps.

P.S.

Can you please tell a little bit about how you

[2020-08-11 08:42] Gsantomaggio commented on #4063
@munagekar I think it is a bug server side, I was trying the API and I got this error:

cc @Bobgy
[code]

[2020-08-11 08:45] Ark-kun commented on #4344
You could use `dataproc_delete_cluster_op` both in the pipeline (using `.after(last_task_to_use_cluster)`) and in the ExitHandler. Then it would be called both when the pipeline succeeds and when it fails.

AFAIK, Dataproc supports auto-deleting clusters (but our components should configure that).

@jackwhelpton As a user of Dataproc, do you think it would fine if the Dataproc components auto-crea

[2020-08-11 09:00] jackwhelpton commented on #4344
That seems a fair approach (calling delete in both places), although in the event when the pipeline succeeds the ExitHandler would be attempting to remove a cluster that no longer exists, which I'm guessing is an error.

In this scenario auto-creation and deletion of the cluster would be ideal, but I could see wanting to submit jobs to an existing cluster too.

[2020-08-11 09:19] Gsantomaggio commented on #4063
I think I figured out what's happening,

So the `request.ResourceKey` [must be set](https://github.com/kubeflow/pipelines/blob/1.0.0/backend/src/apiserver/server/pipeline_server.go#L170)

if you try the last kubeflow pipeline version you will get the error:

[code]

[ResourceKey must be set in the input](https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/server/pipeline_server

[2020-08-11 09:20] jingzhang36 commented on #4063
@munagekar @munagekar, I don't think this is a bug on server side. Let's try a couple of things to fix your issue.

First, client.pipelines.list_pipeline_versions() needs a parameter, specifying the pipeline id. That is because list pipeline version is meant to list versions under a given pipeline. E.g. https://github.com/kubeflow/pipelines/blob/d7e589491280f1645d5e733165435d78a0bd7732/sdk/python/

[2020-08-11 09:30] Gsantomaggio commented on #4063
@jingzhang36 you are right,  the error I found was form and old pipeline version, fixed [here](https://github.com/kubeflow/pipelines/commit/6ced6ea6e6da8a5bd121d7dbfc788b05795f425c#diff-27fcc6c6331361f93e87542750e30976)

With the last version, I get the [correct error message](https://github.com/kubeflow/pipelines/issues/4063#issuecomment-671833291)

[code]

[2020-08-11 11:37] munagekar commented on #4063
@Gsantomaggio Thank you for verifying this. Leaving this open for [this](https://github.com/kubeflow/pipelines/issues/4063#issuecomment-671833291)

[2020-08-11 12:26] Gsantomaggio commented on #4063
You are welcome.
yes, Additional to https://github.com/kubeflow/pipelines/issues/4063#issuecomment-671833660 we should change `resource_key.id` to `  "required": false` :
[code]

If it makes sense to @jingzhang36 I can prepare this tiny PR.

[2020-08-11 20:39] #3681 closed

[2020-08-11 21:28] Ark-kun commented on #4344
What would be the main reasons to want this?

[2020-08-11 21:35] Ark-kun commented on #4327
Base64 encodes bytes to string.
Base64 decodes string to bytes.

[2020-08-11 21:44] Ark-kun commented on #4326
I think this is a know upstream issue: https://github.com/argoproj/argo/issues/2679

The pns executor might be the more future-proof way.

As a workaround: All VolumeOp does is just pass the volume YAML to Argo and argo just calls `kubectl create` using that YAML. So, you could just create a custom component that uses `kubectl create` to create a volume. This way you control the outputs.

[2020-08-11 21:50] jackwhelpton commented on #4344
I was actually struggling to think of an example: perhaps the only thing that springs to mind would be if you had a chain of related jobs using local HDFS, although I think  so far all of our Dataproc cases have been solvable using GCS as the storage backend.

Speaking to some of our data scientists they were even more enthusiastic about your proposal:

Sounds like a +1 from us.

[2020-08-11 22:48] animeshsingh commented on #4296
/assign @Tomcli

[2020-08-12 03:03] Bobgy opened #4356 "Kubeflow on GCP - Support managed storage"
Google Cloud managed storages (GCS and CLoud SQL) make it easier for users to manage, backup and restore KFP data.
They are not currently supported for Kubeflow on GCP, we'd need some user feedback first before supporting them.

Please provide your feedback if this is important to you.

[2020-08-12 03:11] Ark-kun commented on #4356
Having data in storage outside of the cluster makes it more accessible. We've seen several users having problems trying to get access to this data. Latest one is https://github.com/kubeflow/pipelines/issues/4327

When the data is inside the cluster, the MLMD is less useful. It stores the URIs, but they cannot be accessed directly.

[2020-08-12 04:50] Bobgy commented on #4063
swagger json is generated from proto where everything is optional for a reason.
So I don't think we will want to change that, if something is required, we use documentation on the field to mention that.

[2020-08-12 04:51] Bobgy commented on #4063
e.g. the description is generated from https://github.com/kubeflow/pipelines/blob/d87c3be6114af867760d07f1d70f4d95d4456c52/backend/api/resource_reference.proto#L40

[2020-08-12 05:13] tomalbrecht commented on #4302
Running the same tutorial code on minikube will work (without the patches mentioned above). I opened a issue on microk8s repository: https://github.com/ubuntu/microk8s/issues/1472

[2020-08-12 05:21] #4334 closed

[2020-08-12 09:01] jingzhang36 opened #4361 "release: KFP 1.0.1 umbrella tracker"
To track the progress of release 1.0.1

Release instructions: https://github.com/kubeflow/pipelines/blob/master/RELEASE.md

[2020-08-12 09:04] jingzhang36 commented on #4361
@chensun Do you mind cherrypicking this PR https://github.com/kubeflow/pipelines/pull/4298 into the branch release-1.0? There are some merging conflicts during the cherrypick. Therefore, we ask original author to take a look, to avoid possible incorrect merging changes. A cherrypick guide is at https://github.com/kubeflow/pipelines/pull/4298

[2020-08-12 09:05] jingzhang36 commented on #4361
@Ark-kun Do you mind cherrypicking the following PR https://github.com/kubeflow/pipelines/pull/4320 into branch release-1.0? There are some merging conflicts during the cherrypick. Therefore, we ask original author to take a look, to avoid possible incorrect merging changes. A cherrypick guide is at https://github.com/kubeflow/pipelines/blob/master/RELEASE.md#option---git-cherry-pick

[2020-08-12 09:07] jingzhang36 commented on #4361
@alexlatchford Do you mind cherrypicking your PR https://github.com/kubeflow/pipelines/pull/4218 into the release branch release-1.0 of kubeflow/pipelines repo? There are some merging conflicts during the cherrypick. Therefore, we ask original author's help to cherrypick. A cherrypick guide is at https://github.com/kubeflow/pipelines/blob/master/RELEASE.md#option---git-cherry-pick

[2020-08-12 09:15] jingzhang36 commented on #4361
The remaining PRs that need to be cherrypicked is at https://github.com/kubeflow/pipelines/pulls?q=is%3Apr+label%3Acherrypick-approved+-label%3Acherrypicked+is%3Aclosed+sort%3Aupdated-asc

[2020-08-12 10:43] #3972 closed

[2020-08-12 10:43] #4038 closed

[2020-08-12 11:13] discordianfish commented on #3584
The error also isn't very helpful since it doesn't mention which workflow caused this.

[2020-08-12 11:32] linkvt commented on #4347
Hi @Ark-kun , thanks for the quick reply on this issue.

I'm not directly involved in the scheduling but mostly responsible for the KFP deployment in a multi-tenant onprem k8s cluster - I forwarded your questions to my colleagues and below you can find the answers.
The main motivation is using kubeflow pipelines for running workflows that work on huge datasets to analyze them, filter stuff out, ex

[2020-08-12 11:38] tomalbrecht commented on #4302
@alfsuse Patching pns into argo executor does solve the problem. The kubeflow pipeline succeeds now. Thanks for your help.

![image](https://user-images.githubusercontent.com/17781570/90010628-72601900-dca0-11ea-87b0-b5e27176e725.png)

![image](https://user-images.githubusercontent.com/17781570/90010693-93286e80-dca0-11ea-9efd-295fb7f865ce.png)

Maybe it would help to extend the trouble shooting d

[2020-08-12 11:59] Bobgy commented on #4361
and FYI, if a merge conflict is too complex, we can release it next month and skip cherrypick

[2020-08-12 12:54] Bobgy commented on #4352
/assign @Jeffwan @PatrickXYS
looks like aws specific

[2020-08-12 12:55] Bobgy commented on #3755
/lifecycle frozen

[2020-08-12 13:31] nakfour commented on #4326
@Ark-kun we documented why we are not using the pns executer here: https://github.com/opendatahub-io/odh-manifests/issues/117
The issue is with the DSL generated volume yaml that includes these lines as mentioned before
[code]
These lines are not generated by Argo, they are generated by the python DSL SDK when creating a volume. Is there a way to create a volume in python without any outputs that

[2020-08-12 13:48] ggogel commented on #4257
I'm also experiencing this issue. I'm running K3OS which comes with CR-IO runtime. The pns executor was the only that I got working at all.

[2020-08-12 13:51] nlarusstone commented on #4165
This is also something we would like to see. Our usecase is that we're building abstractions on top of Kubeflow for our users.

One of these abstractions is the idea of a `Project -> Experiment -> Run` three level hierarchy. Reading the API spec it seems like our definition of Experiment and Run maps pretty well to KFP’s definitions. However, it seems like there's no way to group experiments under

[2020-08-12 14:35] parthmishra commented on #4356
I thought Kubeflow on GCP has an option to enable Cloud SQL? What makes GCS/Cloud SQL incompatible with the full Kubeflow 1.0.2 installation? I thought it would be as simple as applying the cloudsqlproxy and minio patches, but I haven't tried.

Regarding importance, I also think managed storage via Cloud SQL and GCS is fairly important for us (and IMO, should probably just be the default on GCP).

[2020-08-12 17:57] PatrickXYS commented on #4352
SageMaker KFP should works fine as regular KFP installed on EKS.

@RedbackThomson @akartsky Any idea you can share here?

[2020-08-12 20:00] Ark-kun commented on #4356
What is the relative importance of these features for you? How would you rank the following: "GCS without CLoudSQL", "CloudSQL without GCS", "GCS with CloudSQL".

[2020-08-12 20:02] lucinvitae opened #4364 "Enhancement Request: Add AWS S3 Support for TensorBoard in KFP"
## Overview

My team is interested in attempting to integrate TensorBoard into Kubeflow Pipelines (using `v1.0.0`, standalone installation) we find ourself unable to do so due to our dependency on AWS instead of GCP. I was recommended by someone in the Kubeflow Slack to open this Enhancement Request for adding S3 support for using TensorBoard in Kubeflow Pipelines.

## Proposal

A great improvemen

[2020-08-12 20:04] eedorenko commented on #4193
The benefit of having tags is that there can be multiple tags, adding extra information to the pipeline version. Besides version name. It's not only about filtering on the dashboard, but what is more important, the ability to get the pipeline versions with API by tag values

[2020-08-12 21:24] surajkota commented on #4352
Hi @swarnaditya
Thank you for using SageMaker Components for Kubeflow Pipelines. Could you provide more details about the issue:
- are you bringing your own model? Is it uploaded to S3?
- are you bringing your own container or using one of the [pre-built SageMaker algorithms](https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html)?
- sample reproducible code

Here is a sample pipeline with onl

[2020-08-13 00:07] parthmishra commented on #4356
I think I'd rank them:
1. GCS with CloudSQL
2. CloudSQL without GCS
3. GCS without CloudSQL

I think this is obvious, having a stateless cluster reduces the operational burden and complexity significantly, as well as the reasons you guys brought up. For the second and third choices, I think it's tough but ultimately the operational burden to support an in-cluster hosted DB backed by a persistent d

[2020-08-13 00:29] awcchungster commented on #4364
Hi @lucinvitae, we can support you with this request. Can you email me at alchung@amazon.com? We'll pair you with an engineer on our side to help this move forward.

[2020-08-13 01:56] #4337 closed

[2020-08-13 04:18] Bobgy commented on #4364
/assign @Jeffwan @PatrickXYS
Who work for AWS.

[2020-08-13 04:28] Ark-kun commented on #4302
Interesting. I wanted to propose PNS, but then I remembered that people trying to use PNS executor get errors about outputs and emptyDir volumes, so I decided not to have you jump through that hoop. It's interesting that it worked for you.

[2020-08-13 05:23] tomalbrecht commented on #4302
@Ark-kun: It does work on microk8s v1.18.6 and k3s v1.16.13+k3s1 for me. Minikube v1.2.0 will run without PNS when driver is set to None on installation process (which means that minikube uses the host docker installation). All setup under ubuntu 18.04 with latest updates.

[2020-08-13 07:00] jingzhang36 commented on #4361
Per offline discussion, this PR will be skipped for patch release.s

[2020-08-13 07:05] Gsantomaggio commented on #4063
@Bobgy  thank you for the clarification, I am still getting practise with the API code!

[2020-08-13 09:15] #3606 closed

[2020-08-13 09:15] #3697 closed

[2020-08-13 09:15] #3685 closed

[2020-08-13 09:15] #3664 closed

[2020-08-13 09:15] #3541 closed

[2020-08-13 09:15] #3580 closed

[2020-08-13 09:15] #3643 closed

[2020-08-13 09:15] #3638 closed

[2020-08-13 09:15] #3633 closed

[2020-08-13 09:15] #3613 closed

[2020-08-13 09:15] #3701 closed

[2020-08-13 09:15] #3612 closed

[2020-08-13 09:15] #3596 closed

[2020-08-13 09:15] #3686 closed

[2020-08-13 09:15] #3551 closed

[2020-08-13 10:53] Bobgy opened #4368 "KFP_VERSION in sync.py needs to be updated"
Right now, KFP profile controller deploys visualization server and artifact fetcher servers of 1.0.0-rc.3 version, but they should be deploying 1.0.0 now.

outdated config: https://github.com/kubeflow/manifests/blob/316c3f16698fce5de8349daf1a59756aeaeec18a/pipeline/installs/multi-user/pipelines-profile-controller/params.env#L1

[2020-08-13 11:14] Bobgy commented on #4361
I think we only need this one: https://github.com/kubeflow/pipelines/pull/4320.
It's an important fix.

Other PRs can be waited until KFP 1.1 release

[2020-08-13 12:14] Bobgy commented on #3608
/reopen
/lifecycle frozen

[2020-08-13 13:46] #4368 closed

[2020-08-13 14:52] sm-hawkfish commented on #4356
Another +1 on support for managed storage, which we are using via AI Platform Pipelines.

- The CloudSQL database has opened up access to MLMD (and other metadata) to other applications (like an in-house model QC dashboard). So this support enables functionality and gives confidence from a business perspective that the audit trail of interactions with our system is safe.

- Regarding GCS support,

[2020-08-13 21:13] PatrickXYS commented on #4364
Per AWS standalone KFP support has already been added recently, check [PR](https://github.com/kubeflow/pipelines/pull/4350) for details.

All the requirements has been addressed. Follow the [README](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/env/aws/README.md) for instructions.

Feel free to submit any issues you find during standalone KFP installation.

[2020-08-13 21:28] lucinvitae commented on #4364
Hello @PatrickXYS, does that include TensorBoard support? I didn't see anything in that PR related to TensorBoard at first glance. In our last discussion @Bobgy informed me that no such support exists.

[2020-08-13 21:51] PatrickXYS commented on #4364
If you check https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/env/aws/viewer-pod-template.json, this is for `ml-pipeline-ui-configmap`, which is rendered when you do `Start Tensorboard`.

The point here is you need to configure those AWS parameters correctly, such as `s3 bucket`, `aws public id`, and `aws secret key`, etc.

[2020-08-13 22:05] lucinvitae commented on #4364
@PatrickXYS thanks, that looks promising. We'll try that out.

[2020-08-14 02:54] drzl386 opened #4372 "gcp ml_engine deploy component not work for the running time version 2.1."
Hey there, where can I find the source file for deploy component from 'pipelines/components/gcp/ml_engine/deploy/'. I test this component, when I use running time version 2.1 and python version 3.7. The container inside always use python 2.7 and cannot deploy my model with error
 'googleapiclient.errors.HttpError: <HttpError 400 when requesting  https://.../versions?alt=json
 returned "Selected fr

[2020-08-14 05:28] munagekar commented on #4346
It would be good to have this, in future releases.

Would it possible in future to deploy future version of kubeflow without the management cluster. In our organization we use terraform for infrastructure management. To test out Kubeflow 1.1 we used management cluster to spin up the cluster and then shut it down. It would nice if Management Cluster was an optional opt-in feature, instead of pre-re

[2020-08-14 08:22] Bobgy commented on #4302
FYI, some contributors have documented pns executor for local k8s clusters: https://github.com/kubeflow/website/pull/2056.

[2020-08-14 08:25] Bobgy commented on #4302
Ohhh, they are actually already commenting above.
Looks like issue solved and we already have public documentation.

[2020-08-14 08:25] #4302 closed

[2020-08-14 08:28] Bobgy commented on #2826
/lifecycle frozen

It is now possible to upgrade KFP from Kubeflow 1.1 on GCP, updating the upstream KFP manifest is enough.
I'd want to document this when there are user requests.

[2020-08-14 08:29] Bobgy commented on #3718
/assign @PatrickXYS
Do you want to take a look?

[2020-08-14 08:31] Bobgy commented on #3680
/reopen
/lifecycle frozen

I think we want to keep this open

[2020-08-14 09:00] Bobgy commented on #4346
Yes, this is already supported for future upgrades (from 1.1 to any later version).

It's not possible now, but it depends on what https://cloud.google.com/config-connector/docs/overview and provide in the futre.
We have heard other users who prefer terraform, so it may be possible community can maintain a terraform version of required cloud resources.

Sorry, my question was a little confusing. I

[2020-08-14 09:10] Bobgy commented on #4356
Thanks for the detailed feedbacks!

Forgot to ask one more question: what do you think making managed storage the default option on GCP?

[2020-08-14 09:11] Bobgy commented on #4372
/assign @chensun
I remember you have context about this component, is that right?
/cc @Ark-kun

[2020-08-14 09:20] yoni-taranis commented on #4333
Any comments on this issue?

This seems to be working when directly using argo, but when I try to manually add retryStrategy to Always, the module creating the argo annotations later ignores it and only sets the limit value.

IMO it is critical to address since any cluster preemption/auto scaler action risks the failure of the pipeline.

[2020-08-14 10:24] MatteoFelici opened #4374 "[Feature request] Change the outpout UI name of the predefined visualizations"
### What steps did you take:
I created a pipeline with parallel independent operations, each one returning Confusion Matrix, ROC Curve and other metrics

### What happened:
Each output visualization has a default title, like "confusion-matrix" and "confusion-matrix-2" that does not permit to understand to which brach it comes from.

![image](https://user-images.githubusercontent.com/9342729/902400

[2020-08-14 12:21] ValdasK opened #4375 "Pipeline nodes shared by notebooks"
### What steps did you take:
(everything happens on gcp)

1. Create pipeline which uses large machine due workload (e.g. 200G ram, which spawns ~216G node)
2. When pipeline is running, spawn a notebook on kubeflow which uses like 1G only
3. As there is free space on large node, it gets scheduled there
4. Pipeline completes, node keeps in use forever, you pay large $ for running a notebook

### Wha

[2020-08-14 13:52] marrrcin commented on #1779
Is there any workaround to remove the actual volume (disk) after the pipeline finishes?
Using
[code]

still leaves the unused disk in GCE.

[2020-08-14 15:45] PatrickXYS commented on #3718
I think the [PR](https://github.com/kubeflow/pipelines/pull/3719) has addressed the issue and merged.

/close

[2020-08-14 15:45] #3718 closed

[2020-08-14 16:51] yoni-taranis commented on #4333
Another update: A quick workaround (but very hacky) that managed to resolve this for now - I repackaged argoexec and workflow-controller after changing the code in argo/operator.go to always use "Always" as a default retry policy

[2020-08-14 16:57] xinbinhuang commented on #4340
My use case is probably a bit rare and not apply to other people. We are currently developing a pipeline that takes a `specification.json` from cloud storage and then uses the specification to grab data, train models, and do predictions. The development process will take a while and we are using the same `specification.json` for testing purposes, which the schema is also subject to change... So it

[2020-08-15 00:34] Tomcli opened #4377 "How to authenticate kfp cli client for multi-user mode?"
### What steps did you take:
When running Kubeflow pipelines on multi-user mode that has istio sidecars, the kfp CLI command no longer works:
[code]

### What happened:
We are not sure how to authenticate or add session token to the kfp CLI client.

### What did you expect to happen:
In single user mode, the above command should able to list the pipeline.
[code]

### Environment:

How did you depl

[2020-08-15 00:38] Ark-kun commented on #4372
It's in https://github.com/kubeflow/pipelines/blob/master/components/gcp/container/component_sdk/python/kfp_component/google/ml_engine/_deploy.py

This should not have any effect.

It seems to be the case: "XGBoost 0.90 (currently for AI Platform Training only)". It looks like 2.1 does not support deploying XGBoost models. See https://cloud.google.com/ai-platform/training/docs/runtime-version-list

[2020-08-15 00:39] Bobgy commented on #4377
How does the CLI get host? Looks like it's not using public host.

PRs welcomed on CLI, what do you think making some config file CLI can read from.

[2020-08-15 04:10] Ark-kun commented on #4356
Interesting. I would have expected the opposite: With artifacts being in the open GCS instead of in-cluster PD, the users are free to tinker with them, break the immutability guarantees and have untracked side-channel data access. While with more black-box store, they can only work with the intermediate data via the system channels.
It's an interesting data point.

[2020-08-15 05:50] Bobgy commented on #4375
My understanding is you have two types of nodes, a static nodepool with small nodes and a dynamic nodepool with large nodes.

Sounds to me it will be better to add node selector for notebook to only run on small nodes.

and pipeline doesn't spawn nodes, GKE spawns them. What feature do you need from pipelines to support this use case?

[2020-08-15 05:53] Bobgy commented on #4333
/assign @Ark-kun @numerology @chensun

[2020-08-15 11:28] radcheb commented on #4170
@Ark-kun we actually implemented and tested your workaround squeezing pipeline size and it has been working with no problems. Thus, we upgraded to `1.0.0` and it's got validated in pre-production.
@nikhil-dce you could use this workaround to reduce `yaml` size after compilation:
[code]

[2020-08-15 11:34] radcheb commented on #4170
@Ark-kun shall we close this issue?

[2020-08-15 11:37] radcheb commented on #4272
@Ark-kun how could I help with this?

[2020-08-16 18:42] juliusvonkohout commented on #4257
i got feedback from the azure cluster maintainer and he acknowledged that the cluster is partially broken. I also tested PNS successfully on GCP with PodSecurityPolicies. I will report back here if i get access to the new Azure cluster.

@ggogel i had success with minikube and CRI-O. Maybe try that first.

[2020-08-16 18:45] ggogel commented on #4257
@juliusvonkohout I somewhat got it working with the k8sapi, but if I submit the workflow it fails and then only after retry it succeeds. I switched to a VolumeClaim and it works fine. Artifact passing on executors other than the docker executor seems to be immature.

[2020-08-16 21:02] marcjimz commented on #651
+1 on this as an issue. When data lands on a specific volume, an event should be trigger. Should this logic live in KFP?

Secondly, when an event is created, we would need a listener service to trigger the corresponding KFP pipeline. Is this sufficient?

+1 on this, would like to see both the event trigger and data trigger configuration make it to KFP. Is Argo events the only solution here or shou

[2020-08-17 00:24] Bobgy commented on #3731
/lifecycle frozen

[2020-08-17 03:07] xinbinhuang opened #4378 "Moving and persist data: artifacts vs explicit output to GCS"
Hi team,

So I have a pipeline step that download the data and I need to pass it to other steps while also persist the data.

As far as I know, there are basically two ways to moving data around and persist them:

- write the data to a local path and utilize the artifact mechanisms to persist the data - this is easy, it does not need to handle how to upload to GCS. However the data would be zipped