[2019-07-01 23:01] #1450 closed

[2019-07-01 23:02] gaoning777 commented on #1491
Fixed.

[2019-07-01 23:02] #1491 closed

[2019-07-01 23:29] gaoning777 opened #1585 "DSL recursion unnecessarily adds the condition parameters as the input to the graph template."
**What happened:**
An input is created for the condition params in a recursive component. It leads to failure in rare cases such as the following:
[code]
**What did you expect to happen:**

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-07-02 00:07] gaoning777 commented on #1582
Fixed.

[2019-07-02 00:07] #1582 closed

[2019-07-02 00:11] gaoning777 commented on #1585
The input of an opsgroup is generated by the inner ops. And, condition params are propagated to all inner ops to resolve dependency and input. Therefore, the condition param becomes one of the input to the recursive components.

[2019-07-02 11:05] ptrckbnck commented on #1482
I have a related problem. I tried running pipeline defined by https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/compiler/testdata/volumeop_basic.py.
The compiled pipeline:
[volumeop_basic.tar.gz](https://github.com/kubeflow/pipelines/files/3349674/volumeop_basic.tar.gz)
I am running Kubeflow v0.5.0 on Minikube.

The Execution of the pipeline failed in the first step. It seems the

[2019-07-02 16:00] elikatsis commented on #1482
@ptrckbnck, Hello!

You will have to update the `pipeline-runner`'s permissions.
[code]
and add the verb `get` for the resource `persistentvolumeclaims`.

If you desire to test `VolumeSnapshot`s and they are enabled for your cluster, you will need to add some other rules as well.

Please check [this PR](https://github.com/kubeflow/manifests/pull/186) where all the required additions are noted.

[2019-07-02 20:31] kevinbache commented on #1252
This is dependent on a broader [Argo issue](https://github.com/argoproj/argo/issues/703) .  A [workaround](https://github.com/argoproj/argo/issues/703#issuecomment-494183536) is to create several templates for different GPU counts and pass a parameter which selects between those templates.

[2019-07-02 20:48] gaoning777 commented on #1585
Solution: avoid propagating the condition params to inner ops. And, resolve the pipeline params in the when statement because it previously depends on the condition param propagation.

[2019-07-02 23:10] kevinbache commented on #1243
#1588

[2019-07-02 23:15] kevinbache commented on #1243
@alicelee0606 does https://github.com/kubeflow/pipelines/pull/1535 address your issue?

[2019-07-03 09:53] rummens commented on #1472
Any updates on this? @ajchili does your local demonstrator work?

[2019-07-03 10:59] malixian opened #1589 "This step is in Error state with this message: failed to save outputs: path /mlpipeline-ui-metadata.json does not exist (or /mlpipeline-ui-metadata.json is empty) in archive /argo/outputs/artifacts/mlpipeline-ui-metadata.tgz"
i write code with notebook like this in arm node:
"""
@dsl.pipeline( name='Testpipelines',description='shows how to define dsl.Condition.')
def cambricon_demo():
    op = dsl.ContainerOp(name='cambricon-1', image='10.18.127.4:5000/cambricon/test/centos:v.3.3')
    testOp = op.add_volume_devices(k8s_client.V1VolumeDevice(name="cambricon-device", device_path="/dev/cambricon_c10Dev0"))
  camb = cambr

[2019-07-03 11:53] elikatsis commented on #1589
Hello @malixian,

Looks like you are using old SDK and kfp versions.

This issue is fixed by #1260 and #1289.
Please upgrade to the latest release (refer to https://github.com/kubeflow/pipelines/releases for upgrading).

[2019-07-03 17:54] #1216 closed

[2019-07-03 17:55] SinaChavoshi commented on #1216
Closing as it matches the experience on k8

[2019-07-03 18:05] #1382 closed

[2019-07-03 18:07] SinaChavoshi opened #1590 "Jupyter environment does not have permission to access GCS"
This seems to be a similar issue as https://github.com/kubeflow/kubeflow/issues/3571 creating an issue in KPF as this is particularity confusing for KPF users when using build_python_component.

users receive the following error

`Forbidden: 403 POST https://www.googleapis.com/upload/storage/v1/b/kf_demo_pipeline/o?uploadType=multipart: (Request failed with status code, 403,Expected one of, <HTTPS

[2019-07-03 18:46] IronPan commented on #1504
Yeah @pjo256 `add_env_from` is the right way to set the env variable.
Close it for now. Feel free to reopen
/close

[2019-07-03 18:48] #403 closed

[2019-07-03 18:51] IronPan commented on #1504
Missed this one. This is currently not supported since every step would run a container by calling K8s container API, which doesn't support replica count. As an alternative you could invoke a replicaset from the container.

[2019-07-03 18:51] IronPan commented on #1504
/close for now. please feel free to reopen if you have further questions.

[2019-07-03 18:52] #1504 closed

[2019-07-03 19:00] jessiezcc commented on #1517
/area samples

[2019-07-03 20:11] IronPan commented on #1545
@JavaDerek
Could you share more details about the scanning process so I can reproduce the result?

[2019-07-03 20:16] IronPan commented on #1566
Thanks @strangemonad-faire. This is indeed a breaking change.
We are aiming to provide kustomize upgrade overlay and migration script from Kubeflow v0.6 on.

[2019-07-03 20:21] IronPan commented on #1482
I also update the account with full permission for PV/PVC.
https://github.com/kubeflow/manifests/pull/196/files

/close

[2019-07-03 20:21] #1482 closed

[2019-07-03 20:22] IronPan commented on #1461
Should this be filed against kubeflow/kubeflow instead of pipeline repo?

[2019-07-03 20:23] IronPan commented on #1460
this is not needed any more since kfp.client now can grab credential from kubeconfig and talk to api server directly
/close

[2019-07-03 20:23] #1460 closed

[2019-07-03 20:24] jessiezcc commented on #1590
@SinaChavoshi, where is "Add instructions in common GKE debug issues"?

[2019-07-03 20:24] #1413 closed

[2019-07-03 20:25] jessiezcc commented on #1589
Closing, feel free to reopen if upgarde doesn't address it.

[2019-07-03 20:25] #1589 closed

[2019-07-03 20:26] IronPan commented on #1371
this seems not an issue any more? close for now. feel free to reopen if you see this again.
/close

[2019-07-03 20:26] #1371 closed

[2019-07-03 20:31] jessiezcc commented on #1529
This CLI is to be deprecated, pls use CLI under https://github.com/kubeflow/pipelines/tree/master/sdk/python/kfp/cli for the currently supported CLI.

[2019-07-03 20:31] #1529 closed

[2019-07-03 20:31] IronPan commented on #1355
The go CLI is no longer supported in 0.5. We will have a python based CLI soon.
WIP https://github.com/kubeflow/pipelines/commit/a39ae8eb779e69e4e85e424abba8ecac3f60435f#diff-eae18bc41e1434dd98fa2dd989531da8

[2019-07-03 20:31] #1355 closed

[2019-07-03 20:38] IronPan commented on #1520
We'll have a new python SDK replacing the go one.
WIP

https://github.com/kubeflow/pipelines/commit/a39ae8eb779e69e4e85e424abba8ecac3f60435f#diff-eae18bc41e1434dd98fa2dd989531da8

[2019-07-03 20:38] #1520 closed

[2019-07-03 20:52] IronPan commented on #505
/close

[2019-07-03 20:52] #505 closed

[2019-07-03 21:40] jessiezcc commented on #438
Given how stale the issue is, closing.

[2019-07-03 21:40] #438 closed

[2019-07-04 00:51] malixian commented on #1589
you mean i should upgrade kfp in notebook container?

[2019-07-04 01:05] SinaChavoshi commented on #1590
I was referring to : https://www.kubeflow.org/docs/gke/troubleshooting-gke/

[2019-07-04 03:05] Kiza commented on #1529
Thanks!

[2019-07-04 08:47] jingzhang36 commented on #1362
@strangemonad-faire do you still have this issue? I tried on my deployment (deployed through kustimized manifest here https://github.com/kubeflow/pipelines/blob/f8b06387b8da9145081fe257d69b411a16ff9266/manifests/README.md) and the swf got deleted properly.

[2019-07-04 10:18] elikatsis commented on #1589
@malixian

Yes, that is an option. Either upgrade your KFP SDK and recompile the pipeline, or upgrade the KFP installation.

The second option means to bump the images of the corresponding Kubernetes deployments (`ml-pipeline`, `ml-pipeline-frontend`, etc)

[2019-07-05 00:45] malixian commented on #1589
tanks，this problem is sloved，but another has arisen，argo logs show “This step is in Error state with this message: failed to save outputs: open /argo/secret/mlpipeline-minio-artifact/accesskey: no such file or directory”，what‘s the problem？sad...

[2019-07-05 01:45] TaylorHere opened #1593 "Crate VolumeOP from k8s_resource error"
**What happened:**
when I run
[code]

[code]

I think the reason is :
[code]
[code]

but the mode has a default value
sdk/python/kfp/dsl/_volume_op.py
**What did you expect to happen:**
I think, I should only put k8s_resource and name in it.
**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information that w

[2019-07-05 14:37] elikatsis commented on #1593
Hello @TaylorHere !

Thank you for your report!
I've submitted the PR #1595 fixing this issue.

[2019-07-07 09:34] malixian opened #1596 "run pipeline task in arm, err log level=fatal msg="open /argo/secret/mlpipeline-minio-artifact/accesskey: no such file or directory""
**What happened:**
i want to run a pipeline task in arm node, so i build a arm version argoexec with golang Cross compiling,but i find some error log it said ""open /argo/secret/mlpipeline-minio-artifact/accesskey: no such file or directory",what's the problem?
**What did you expect to happen:**

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else yo

[2019-07-07 21:30] Ark-kun opened #1597 "Allow including arbitrary files when building containers"
Clients request that we add ability to build container image which includes specific local files.
I propose adding the `include_files` parameter to `kfp.compiler.build_docker_image` which maps local file/directory paths to context-local paths.

Example usage:
[code]

[2019-07-07 21:32] Ark-kun opened #1598 "Allow including arbitrary files when creating python container components"
Once https://github.com/kubeflow/pipelines/issues/1597 is completed, the functionality needs to be exposed when building the python container components so that the function can import the included files.

[2019-07-08 05:30] jingzhang36 commented on #1359
Hi @alicelee0606, the code you've pointed out does seem to indicate that our frontend hardcoded the artifact configuration storage to be minio typed source. Let me check with someone on my team for some context and further information. Will update this thread when I get anything new.

[2019-07-08 17:59] ajchili commented on #1472
@rummens I am still working on a demo for this functionality. Unfortunately, I do not have one working yet, I am hoping to have a working demo by the end of this week.

[2019-07-08 20:55] jdelfino opened #1599 "GKE: Can't edit cluster after creating with kfctl"
**What happened:**
I created my cluster with the CLI, following the instructions here: https://www.kubeflow.org/docs/gke/deploy/deploy-cli/.

Afterward, I wanted to edit my cluster - upgrade the master/nodes, change the node instance types, etc. I tried to do this through the GKE console, but was unable to, presumably because kfctl uses Deployment Manager to create the cluster. I also tried updati

[2019-07-08 21:18] IronPan commented on #1080
Verified the KFP client works well with a v0.6 KF cluster with IAP.
Here is a code snippet that can successfully create/list experiment
[code]

[2019-07-08 21:18] #1080 closed

[2019-07-08 23:15] SinaChavoshi opened #1600 "Enable image build cache for build_python_component"
Building images using build_python_component takes a while, this experience can be significantly improve using Caching.  Especially for commonly used base images.

[2019-07-08 23:25] SinaChavoshi opened #1601 "support using build_python_component for local (on prem)"
build_python_component relies on kaniko, this is a feature ask to enable local build (using local docker ) instead.

[2019-07-08 23:27] hongye-sun commented on #1600
To be more specific, the bug is for supporting base image caching: https://github.com/GoogleContainerTools/kaniko#caching-base-images

Caching layers (https://github.com/GoogleContainerTools/kaniko#caching-layers) are already enabled by component builder today. @gaoning777, can you confirm that?

[2019-07-09 02:03] TaylorHere opened #1602 "pipeline can't parse input parameters in volumes field"
**What happened:**
when I do this:
[code]

I got a YAML file in where I got:

[code]

but when I run it, and describe the pod, I got:

[code]
the {{inputs.parameters.volume-path}} is stil a string here, not traslate to the input arguments
**What did you expect to happen:**
I want to change my volume host path by the input parameters
**What steps did you take:**
[A clear and concise description of

[2019-07-09 02:42] jlewi commented on #1545
@IronPan this might be a good place for us to start
https://cloud.google.com/container-registry/docs/get-image-vulnerabilities

[2019-07-09 03:05] TaylorHere commented on #1602
In our use case,
we will create a data broker which will download train data into {{input.parameters.volume-path}}
like: /data/vol/001, we will use this path to create a volume named train-volume
later, the volume will attach to train op and mounted as /data/vol/
so, in our train code,  it will ignore the train data path detail, always get data from /data/vol/
so this bug matters.
hope someone can

[2019-07-09 06:57] alicelee0606 commented on #1243
Yes. I think it does. Thanks.

[2019-07-09 10:08] elikatsis commented on #1602
Hello.
This seems like duplicate of #1327.
Could you check if the solution described there solved your problem?

Note: in [the solution](https://github.com/kubeflow/pipelines/issues/1327#issuecomment-492336904) I mention the Argo version `v2.3.0-rc3`. Since the release `v2.3.0` is available, you should use this instead.

[2019-07-09 10:10] elikatsis commented on #1602
In Kubeflow 0.6 this issue is resolved. All the required updates are patched.

[2019-07-09 15:05] rummens commented on #1472
No problem and thanks for the update.

Which components will your development support? All TFX components or just specific ones, the most interesting ones being transform, Trainer and Model Validation?

[2019-07-09 15:40] ajchili commented on #1472
I am starting with TFDV and an ROC curve for the demo. Afterwards, I am hoping to have support for any Python visualization library.

[2019-07-09 15:56] jlewi commented on #1497
/cc @IronPan @jessiezcc @rileyjbauer @paveldournov

[2019-07-09 15:59] rummens commented on #1472
Sounds awesome, can’t wait to test ;-)

Is tensorboard for the Trainer supported yet? KFP already has it integrated, just not sure if the user has to change the trainer component in order to use it?

[2019-07-09 16:30] neuromage commented on #1472
@jingzhang36 @rileyjbauer can we enable tensorboard link outside of ui_metadata.json? I'm thinking it would show up when the artifact being passed around is TFX's `ModelExportPath`, which should contain the uri to the logs for Tensorboard.

[2019-07-09 16:42] paveldournov commented on #1497
@jinchihe when you refer to the local path for the artifacts, what is the path local to? Is this a local file system of the machine running miniKube, or a local file system of the container creating the artifact or something else?

[2019-07-09 16:57] jessiezcc commented on #1034
@gaoning777 will drive the sample effort

[2019-07-09 17:05] jessiezcc commented on #1303
@Ark-kun since we've upgraded to argo 2.3, can this issue be closed?

[2019-07-09 17:08] jessiezcc commented on #1224
@gaoning777, let's scope this into the overall samples effort

[2019-07-09 17:15] jessiezcc commented on #677
@jlewi looks like most of issues are already closed, what's the remaining work relevant to pipeline that remains open?

[2019-07-09 17:18] jessiezcc commented on #514
@Jeffwan, will u take care of this issue? is it doc only?

[2019-07-09 17:19] jessiezcc commented on #1360
closing stale issues since no response.

[2019-07-09 17:19] #1360 closed

[2019-07-09 17:21] jessiezcc commented on #1390
@ianhellstrom, #1355 is closed, can you pls try the new CLI?

[2019-07-09 17:34] jessiezcc commented on #1474
@IronPan, should this error handling happen at component level or pipeline level?

[2019-07-09 17:35] jessiezcc commented on #1477
@gaoning777, have you tried xgboost sample in the past?

[2019-07-09 17:42] jessiezcc commented on #1488
@jingzhang36, can you see whether it's addressable at UI layer?

[2019-07-09 18:02] jessiezcc commented on #1599
@gaoning777, any idea?

[2019-07-09 18:46] IronPan opened #1604 "Update the Kubeflow Pipeline documentation for KF v0.6"
Here are the documents need to be updated
https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/
https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/
https://www.kubeflow.org/docs/pipelines/upgrade/
https://www.kubeflow.org/docs/pipelines/tutorials/build-pipeline/
https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/
https://www.kubeflow.org/docs/pipelines/referenc

[2019-07-09 19:59] jessiezcc commented on #1596
@gaoning777, can you take an initial look as oncall?

[2019-07-09 20:01] jessiezcc commented on #1568
@IronPan, can u comment whether it needs API level work?

[2019-07-09 20:06] jessiezcc commented on #1590
@jlewi, is this better to address this at KF level?

[2019-07-09 20:20] jessiezcc commented on #1514
@krazyhaas, anyone from TFX can take a look at this?

[2019-07-09 20:28] jessiezcc commented on #1498
@rileyjbauer, can u evaluate?

[2019-07-09 20:52] rileyjbauer commented on #1498
@avdaredevil This is a result of the way the Kubeflow dashboard handles the various Kubeflow apps, correct? Can we make it so that the URL updates along with the current page?

[2019-07-09 21:01] IronPan commented on #596
@mameshini This looks very interesting. Do you have an example to share?

[2019-07-09 21:27] rileyjbauer commented on #1584
Thank you for reporting this. This issue was fixed in #1552 as part of [0.1.23](https://github.com/kubeflow/pipelines/blob/master/CHANGELOG.md#0123-2019-06-26)

Please reopen if there is anything more that is needed

[2019-07-09 21:27] #1584 closed

[2019-07-09 21:36] IronPan commented on #1568
@zanedurante Thanks for reporting this.
Pipeline do propagate errors if there is any, and fail the pod which can be reflected in the UI.

In this specific case, the code ```np.save(file_io.FileIO(dest, 'w'), arr)``` itself doesn't emit error if dest is not exist or don't have permission (ran locally and verified). There is no way for pipeline to know that.

I'd recommend check with tensorflow file

[2019-07-09 21:39] zanedurante commented on #1568
I see--that makes sense.  Thanks for the explanation!

[2019-07-09 21:41] IronPan commented on #1568
NP. close this issue for now.
/close

[2019-07-09 21:41] #1568 closed

[2019-07-09 22:15] ruoyu90 commented on #1514
@cvenets could you provide some more info on how to reproduce the error? The notebook works fine on TFX 0.13 release on my end following [this](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi) instruction.

[2019-07-09 22:17] IronPan commented on #1461
@Ark-kun please file to the right repo. thanks!
/close

[2019-07-09 22:17] #1461 closed

[2019-07-10 00:26] #1303 closed

[2019-07-10 00:28] jinchihe commented on #1497
The case is running on on-prem cluster, and the artifacts will be saved to path where PVC mounted to.

[2019-07-10 01:13] TaylorHere commented on #1602
thank you for your replay! that might be helpful!

[2019-07-10 01:13] #1602 closed

[2019-07-10 03:02] malixian commented on #1596
version of argoexec bin is v2.4.0, and version of workflow-controller is v2.2.0, i find source code has some different in workflow-controller, workflow-controller v2.4.0 has additional function “createSecretVolumes” in addVolumeReferences but v2.2.0 don't own it。why add this function？
i has changed version of argoexec to v2.2.0, but it does't work and has the same error log in argoexec container.

[2019-07-10 03:03] malixian commented on #1596
by the way, argoexec run in arm node and workflow-controller run in another am64 node.

[2019-07-10 05:56] mameshini commented on #596
Yes the example is now available in this repository:
https://github.com/agilestacks/kubeflow-extensions

It mounts PV into each pod, and under the hood it's object storage (S3,
GCS, Minio).

On Tue, Jul 9, 2019 at 2:01 PM IronPan <notifications@github.com> wrote:

[2019-07-10 06:15] rummens commented on #596
Can you point me to the documentation of how to create the PVC in the first place? I was only able to find the mounting of it.
Thanks

[2019-07-10 08:41] jingzhang36 commented on #1472
@neuromage Riley shall know best on this, but I feel like we can if we want to enable tb link outside of /mlpipeline-ui-metadata.json. BTW, can we have the uri to logs (contained in ModelExportPath) copied to our /mlpipeline-ui-metadata.json.......

[2019-07-10 08:55] malixian commented on #1596
this problem has solved, i degrade the version of argoexec to v2.2.0 that equals the version of workflow-controller,and no error log.

[2019-07-10 08:55] #1596 closed

[2019-07-10 12:14] #1593 closed

[2019-07-10 16:00] solovyevt opened #1606 "WorkfloeController substitutes Volume name with single quotes"
**What happened:**
Argo v2.3.0
kfp/kfp-api-server 0.1.23

I've tried running custom pipeline with ResourceOp definitions, just tried to declare and create ConfigMap during pipeline execution. Config map is being created successfully, but when this ConfigMap name is being substituted in Pod manifest, it includes correct CM name, but wrapped with single quotes. So, as a result, Pod cannot be launche

[2019-07-10 16:07] solovyevt commented on #1606
Disregard that, tried re-deploying everything from scratch, everything works fine.

[2019-07-10 16:07] #1606 closed

[2019-07-10 20:12] #1549 closed

[2019-07-10 20:25] jessiezcc commented on #1541
@SinaChavoshi is following up on this

[2019-07-10 21:42] jlewi commented on #1590
@jessiezcc we can address it if we can reproduce it and identify the bug. From the bug report its not clear where the problem is; e.g. is it in the python library not getting the right credential or is the right credential not attached to the VM.

Hence the instructions in https://github.com/kubeflow/kubeflow/issues/3571#issue-461873165
If users follow those instructions we can help narrow down wh

[2019-07-10 23:11] rileyjbauer commented on #1572
I'm not seeing this, though I am seeing CORS-related issues when trying to call the KFP APIs. Requests are being rerouted to `https://accounts.google.com/o/oauth2/v2/auth` with the redirect URI being something IAP related: `https://iap.googleapis.com/v1/oauth/clientIds/...`

@avdaredevil Do you know if other Kubeflow apps behave properly on Firefox?

[2019-07-10 23:18] rileyjbauer commented on #1320
@jingzhang36 can this be closed?

[2019-07-10 23:51] gaoning777 commented on #1596
Hey, @malixian sorry for the delay. Glad it worked out, though.

[2019-07-10 23:58] gaoning777 commented on #1034
Acked.

[2019-07-11 00:00] gaoning777 commented on #1224
I already did. Thanks

[2019-07-11 00:02] #1243 closed

[2019-07-11 00:09] gautamkmr opened #1608 "Add a graph/chart for given experiment?"
It would be good to see the graph on pipeline component along with various parameters. Some sort of error curve, training performance etc.

[2019-07-11 04:48] avdaredevil commented on #1498
Hey @rileyjbauer thanks for linking me in, this is something @prodonjs was working on. We didn't have a conclusive decision on how the links should be passed back up to the Central-Dashboard since page updates behind an iframe work differently.

[2019-07-11 08:10] missedone commented on #951
@Ark-kun , would like to share a little more of the bigger scope of KF/Argo, i'm evaluating tekton/KF/Argo for our next continuous deployment tool.

[2019-07-11 11:58] UrmsOne opened #1609 "kubeflow v0.5.1 ml-pipeline-persistenceagent-55b6f879fc-wf2s8"
restarts forever and the logs detail

time="2019-07-11T11:49:06Z" level=fatal msg="Error creating ML pipeline API Server client: Failed to initialize pipeline client. Error: Waiting for ml pipeline API server failed after all attempts.: Get http://ml-pipeline.kubeflow-dev.svc.cluster.local:8888/apis/v1beta1/healthz: dial tcp: lookup ml-pipeline.kubeflow-dev.svc.cluster.local: no such host: Waiting

[2019-07-11 16:29] IronPan commented on #1497
How will the UI get the data? Will the UI pod mount the same PV to retrieve and render it? How does this work if UI need to render data for different pipeline that has different PVs?

[2019-07-11 16:35] IronPan commented on #1497
Also @mameshini has some extension to better abstract artifacts storage that works with On-Prem and cloud. We are looking into port them over as part of KF Pipeline as the default artifact storage. Please see this thread for details.
https://github.com/kubeflow/pipelines/issues/596

[2019-07-11 18:23] sngahane opened #1610 "Access output artifacts stored in a bucket outside of the UI container project"
When components need specific GCP credentials, we use `.apply(use_gcp_secret(…))` to add secret volume mounts to a task container. This allows you, for example, to get access to a GCS bucket that is not part of the project.

When the UI pod is created, it is automatically assigned a default service account (`<cluster-id>-vm@<gcp-project>.iam.gserviceaccount.com`). An issue arises when the UI tries

[2019-07-11 18:39] IronPan commented on #1609
Is API server running well in the kubeflow-dev namespace?

[2019-07-11 22:44] hongye-sun commented on #1604
https://www.kubeflow.org/docs/pipelines/sdk/install-sdk/
* Update kfp version from 0.1.20 to $RELEASE placeholder

https://www.kubeflow.org/docs/pipelines/sdk/build-component/
https://www.kubeflow.org/docs/pipelines/sdk/static-type-checking/
* update tar.gz to zip

[2019-07-11 22:47] hongye-sun opened #1611 "consistent interface with func_to_container_op and build_python_component"
Currently, there are some feature gaps between func_to_container_op and build_python_component. For example, build_python_component doesn't support outputs namedtuple while func_to_container_op supports.

The bug is to figure out the gaps and make sure both interfaces are consistent, so later, we can just keep single one.

[2019-07-11 22:57] hongye-sun commented on #1231
@neuromage, are you still working on this? I don't think it's p0 bug. I move it to P1 and please change as needed.

[2019-07-11 23:06] hongye-sun commented on #927
I agree with Yang. It seems pull deployment status should be enough. I don't think we have assigned anyone to fix the issue, though.

[2019-07-11 23:09] hongye-sun commented on #759
I don't think there is more work need to be done to support dind other than the sidecar support. Closing this bug.

[2019-07-11 23:09] #759 closed

[2019-07-11 23:10] hongye-sun commented on #250
I don't think this issue is still in 0.5. Closing this bug.

[2019-07-11 23:10] #250 closed

[2019-07-11 23:18] hongye-sun commented on #1574
Please reopen with more details, thanks.

[2019-07-11 23:18] #1574 closed

[2019-07-11 23:19] hongye-sun commented on #1556
Can this be consistently repro?

[2019-07-11 23:28] hongye-sun commented on #1556
Move to p1 unless this bug keeps repro, which I don't think so.

[2019-07-12 00:38] jessiezcc opened #1612 "Environment health check step in SDK"
**What happened:**
Environmental related issues are found during pipeline run such as auth, required dependencies and etc.

**What did you expect to happen:**
Would be nice to have a prerun health check to make sure everything is set up correctly

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information

[2019-07-12 00:55] gaoning777 commented on #1556
This looks like permission issues to gcr.
Could you specify the steps to reproduce the error? since the sample tests should already cover this scenario.

[2019-07-12 01:58] gaoning777 commented on #1600
Correct, see here: https://github.com/kubeflow/pipelines/blob/377464f2f4232b68294f7f7829a46898bab3cedf/sdk/python/kfp/compiler/_component_builder.py#L270
To further improve the performance, the base image can be cached in the cluster(https://github.com/GoogleContainerTools/kaniko#caching-base-images). However, it requires the base image to be read-only such that multiple kaniko jobs can read the b

[2019-07-12 02:04] gaoning777 commented on #1601
it requires the local machine to install the docker command and it should output meaningful error message when the local machine has no docker.

[2019-07-12 02:10] gaoning777 commented on #1599
It seems to be deployment manager issue: https://issuetracker.google.com/issues/38131324.
Let's add some documentation at first and find an upgrade approach.

[2019-07-12 03:01] gaoning777 commented on #1517
I'm including this as part of the sample efforts.

[2019-07-12 03:08] gaoning777 commented on #1477
The xgboost sample are covered by the sample tests.
Could you try the data from https://github.com/kubeflow/pipelines/blob/377464f2f4232b68294f7f7829a46898bab3cedf/samples/xgboost-spark/xgboost-training-cm.py#L204?
Let me know if you can still see the issue using the data above.

[2019-07-12 03:09] prodonjs commented on #1498
https://github.com/kubeflow/kubeflow/issues/3042 is where we're tracking this issue and hopefully something will be in place for the next release of KF some time later in the third quarter.

[2019-07-12 03:23] mameshini commented on #596
@rummens You need to deploy Flex plugin to enable goofys support for kubernetes.
Then goofys can be used to mount S3, GCS, or Minio buckets as PVs.  Goofys will only mount a specific bucket so you must provide the bucket option, and pre-create the bucket for each volume.  An example for PVC is provided in kubeflow-extensions/storage/s3fs/test.yaml, bucket name is "default".
Installation instructio

[2019-07-12 03:58] chwonghk01 commented on #1609
Same here, got the exact issue after running `kubectl delete po --all` (trying to restart kubeflow)
[code]

[2019-07-12 04:31] UrmsOne commented on #1609
@IronPan   @chwonghk01
Thanks，I finally found out that my reason was the k8s dns doesn't match.
ml-pipeline.kubeflow.svc.cluster.local -> kube-dns.kube-system.svc.k8s.xxx.xxx.local
So,I try to modify the confirguration to overwrite it.

[2019-07-12 04:33] chwonghk01 commented on #1609
Good job @UrmsOne !
Do you have the detail steps to check the setting and fix the issue? I am relatively new to kubeflow.

[2019-07-12 06:05] rummens commented on #596
Thanks, I will be looking out for the install instructions and see if it makes sense for us.

[2019-07-12 13:25] neuromage commented on #1231
Thanks @hongye-sun . I think we'll end up replacing these components eventually in favour of the TFX OSS components rather than update these. I will close this bug instead.

[2019-07-12 13:25] #1231 closed

[2019-07-12 16:48] katieole opened #1613 "NFS instructions unclear & out of date"
Instructions for NFS are outdated  - instructions on KF still refer to ksonnet
see: https://www.kubeflow.org/docs/gke/cloud-filestore/

Made it very difficult to set up NFS with PVM on KF/Kubernetes.

[2019-07-12 17:06] #1613 closed

[2019-07-12 17:07] katieole commented on #1613
This issue was moved to KF. See ref #1564

[2019-07-12 18:46] gaoning777 opened #1615 "Recursion bug: dependency not captured when after is called inside the recursive function"
It fails in the following sample:
import kfp
from kfp import dsl

def sleep_op(seconds):
    """Sleep for a while."""
    return dsl.ContainerOp(
        name="Sleep " + str(seconds) + " seconds",
        image="python:alpine3.6",
        command=["sh", "-c"],
        arguments=[
            'python -c "import time; time.sleep($0)"',
            str(seconds)
        ],
    )

def wait_till_cmle_jo

[2019-07-12 20:05] gaoning777 commented on #1615
Done.

[2019-07-12 20:05] #1615 closed

[2019-07-13 00:49] gaoning777 commented on #1608
There is visualization graph in each step of the pipeline.
Would you mind elaborating this Feature Request? Thanks

[2019-07-13 07:12] ajchili commented on #1472
@rummens I have a basic e2e demo running within my cluster. It is not user-friendly at the moment and requires that you edit the ml-pipeline and ml-pipeline-ui deployment and create a new service and deployment. If you would like to test it early here are the steps to get started. If you run into any issues with these steps please let me know!

1. Fork [ajchili/pipelines](https://github.com/ajchil

[2019-07-14 23:50] jlewi commented on #1497
@cvenets Based on @IronPan is this 0.6 blocking? Should we downgrade it from P0? IIUC figuring out how to support storing artifacts on PV/PVC is non-trivial. If artifacts are stored on a PV/PVC then the UI won't be able to access those artifacts without mounting the PV/PVC.

[2019-07-15 00:59] jlewi commented on #677
@jessiezcc It looks like the pipeline launcher isn't resilient to the pod failing; see my initial comment on this issue. I believe that's still a problem.

[2019-07-15 08:34] cvenets commented on #1497
@paveldournov I think we are both referring to the local file system of the container creating the artifact.

We mount a PVC on the container, and the container spawned by the pipeline creates the artifact on its local file system, without knowing it is backed by a PVC.

[2019-07-15 10:37] cvenets commented on #1497
@jlewi @IronPan indeed this is not trivial, and these are two distinct and orthogonal problems mentioned in this thread:

1. Being able to have UIs that can access data in PVCs (both the Kubeflow UI and the KFP UI)
2. Being able to have PVCs backed by Object Stores (issue #596)

[1] needs to be tackled in a generic way that will work for different use cases, one of which is the Artifacts tab of th

[2019-07-15 16:47] SinaChavoshi opened #1619 "Environment verification for KFP development env"
This is a feature request for a "diagnose me" tool that users can run in their environment to verify and debug environment access and setup issues such as service account set properly, access to target GCS buckets for docker build etc. this can be  designed as a set of libraries that also enables / addresses #1612.

[2019-07-15 17:46] pjo256 opened #1620 "Cron dependency breaking ml CLI installation"
**What happened:**

Installing `ml` CLI fails with `src/github.com/kubeflow/pipelines/backend/src/cmd/ml/cmd/util.go:129:12: undefined: cron.Parse`.

**What did you expect to happen:**

Successful installation

**What steps did you take:**

[code]

**Anything else you would like to add:**

There was a recent release of a cron dependency - `https://github.com/robfig/cron/releases`. `v3` removed a t

[2019-07-15 17:50] gaoning777 commented on #1585
Changing priority from P0 to p2 since there is a workaround approach that moves the condition inside the recursive function call.

[2019-07-15 22:37] gaoning777 commented on #1087
It should already be updated along with the pipeline release.
If not, please file a bug. Thanks

[2019-07-15 22:48] gaoning777 commented on #516
I'm not exactly following. How did you validate that the image being actually used is not the latest one?

[2019-07-15 23:34] neuromage commented on #788
I think this has been fixed. @nareshganesan feel free to reopen if this is still a problem and I can re-assign this if needed. Thanks.

[2019-07-15 23:34] #788 closed

[2019-07-15 23:59] rileyjbauer commented on #785
duplicate of #1266

[2019-07-15 23:59] #785 closed

[2019-07-16 04:12] jameswnl commented on #516
I have a `'git show --summary` which will print the latest commit in the log.

[code]

[2019-07-16 09:32] vackysh commented on #1370
This issue is resolved. Now closing

[2019-07-16 09:32] #1370 closed

[2019-07-16 15:41] jlewi commented on #1497
Thanks @cvenets downgrading to p1 and moving to 0.7.0

[2019-07-16 15:58] crauterb opened #1624 "Can not overwrite MySQL configuration from Kubernetes YAML"
**What happened:**

I tried to deploy the api-server with a configuration that should allow it to communicate with a previously set up mysql-database. However, despite setting the according environment variables, the service keeps on crashing!

**What did you expect to happen:**

I expected the application to correctly use the set up environment variables.

**What steps did you take:**

I have set

[2019-07-16 17:37] pjo256 commented on #1620
Looks like the default branch was switched from `master` to a `v3` branch and has since been reverted back to `master`. `v3` is branched off of master and contains the commit we pin on - `b41be1df6967`. Despite this, we were pulling in a later commit containing the breaking changes. Should we be pinning based on tags here, or is this an issue with `go get` and version pinning when the default bran

[2019-07-16 19:49] mattnworb opened #1629 "`pip install kfp` does not install CLI"
**What happened:**

[code]

**What did you expect to happen:**
To run the CLI.

**Anything else you would like to add:**
I could be confused about what is expected to be available after installing the kfp package from pip - setup.py mentions an entrypoint named kfp in

https://github.com/kubeflow/pipelines/blob/812ca7f8836c47039c3b1f3daf23e68fbcee1a92/sdk/python/setup.py#L74

but main.py imports a

[2019-07-16 21:01] #1609 closed

[2019-07-16 21:02] jessiezcc commented on #1609
closing issue since the issue is resolved, feel free to follow up offline.

[2019-07-16 21:07] jessiezcc commented on #1612
closing due to dup: https://github.com/kubeflow/pipelines/issues/1619

[2019-07-16 21:07] #1612 closed

[2019-07-16 21:11] jessiezcc commented on #1620
ML CLI is no longer supported, it's being replaced by python CLI under https://github.com/kubeflow/pipelines/tree/master/sdk/python/kfp/cli. I will open an issue to remove ML CLI

[2019-07-16 21:11] #1620 closed

[2019-07-16 21:12] jessiezcc opened #1632 "Remove ML CLI"
Since ML CLI has been replaced by python CLI under https://github.com/kubeflow/pipelines/tree/master/sdk/python/kfp/cli for the currently supported CLI, let's remove it completely.

[2019-07-16 21:51] SinaChavoshi commented on #1590
@jlewi, unfortunately the user overwrote the environment and this issue is no longer reproducing. I will close for now and reopen if we have a repro.

[2019-07-16 21:53] mmuppidi commented on #1327
@elikatsis
 current Kubeflow (v0.6.0-rc.0) release doesn't have it, any guess on when this would be part of official release ?

[2019-07-16 22:38] Jeffwan commented on #1370
Have you figured out a way to make it? Did you try bring your own container?

[2019-07-17 12:15] crauterb commented on #1624
Thank you so much for the quick fix @IronPan.

Although I have no idea why the error message produced did list a different host than the one I specified - but the error is resolved using your fix!

[2019-07-17 12:15] #1624 closed

[2019-07-17 15:58] rummens commented on #1472
Thanks very much for the update, I am trying to find some time to test it. So far I can report that the images build fine, that all I could get done so far. Sorry for delay but I promise to try it out soon.

[2019-07-17 16:52] ajchili commented on #1472
@rummens there is no rush! Thanks for taking the time to go through this and test it out. As an FYI, I have added basic support for TFDV visualizaitons. You will need to be at commit [808afa451362363041fac652093cabed08262040](https://github.com/ajchili/pipelines/commit/808afa451362363041fac652093cabed08262040). Once this is done, follow these steps to view the visualization. As a side note, there

[2019-07-17 17:26] #162 closed

[2019-07-17 17:36] jessiezcc commented on #1514
closing since no response for 8 days, feel free to reopen when there is an update.

[2019-07-17 17:37] jessiezcc commented on #1501
@IronPan to shed some light

[2019-07-17 21:48] rileyjbauer commented on #1364
Closing this as duplicate of #1498

[2019-07-17 21:48] #1364 closed

[2019-07-17 21:52] rileyjbauer commented on #1026
@jingzhang36 do you think you can take this on?

[2019-07-17 21:54] rileyjbauer commented on #774
@ajchili is this covered by the work you've been doing?

[2019-07-17 21:56] ajchili commented on #774
@rileyjbauer this is not directly covered by my current work. However, we could make an extensible graph visualization which does not specify the names of parameters to allow visualizations such as a PR Curve and ROC Curve to be generated by a single, generic, graph visualizer.

[2019-07-17 23:52] IronPan opened #1638 "Upgradability for Kubeflow Pipeline"
Kubeflow Pipeline upgradability was depending on the ksonnet registry.
https://www.kubeflow.org/docs/pipelines/upgrade/

As KF v0.6 switch from Ksonnet to kustomize, the upgrade functionality is not working anymore. We need a new solution for pipeline upgrade/reinstall.

[2019-07-17 23:56] IronPan opened #1639 "Update the test infrastructure to use kustomize"
Currently the test infra deploys a cluster with pipeline code from HEAD
https://github.com/kubeflow/pipelines/blob/master/test/deploy-kubeflow.sh#L35
https://github.com/kubeflow/pipelines/blob/master/test/deploy-pipeline.sh#L50
relying on ksonnet.

We need to update these script to use kustomize as kubeflow is deprecating ksonnet in favor of kustomize.

[2019-07-18 00:25] zanedurante opened #1641 "Allow for Tensorboard flags"
In my project I want to run tensorboard with the `--samples_per_plugin=images=100` flag.  Is there no way to do this from within KFP?

[2019-07-18 01:11] rileyjbauer commented on #699
@neuromage can this be closed with the Viewer CRD work Jing has done?

[2019-07-18 01:13] #503 closed

[2019-07-18 01:15] rileyjbauer commented on #480
Closing as too low priority

[2019-07-18 01:15] #480 closed

[2019-07-18 01:22] rileyjbauer commented on #117
Closing in favor of #322

[2019-07-18 01:22] #117 closed

[2019-07-18 01:22] #78 closed

[2019-07-18 03:15] neuromage commented on #699
I think this is technically possible (mounting volumes and having the TB pod read off that), but we don't provide the user with the ability to do this from our UI as yet. @swiftdiaries are you still interested in working on this?

[2019-07-18 03:43] neuromage commented on #1026
I think we can close this as a duplicate of https://github.com/kubeflow/kubeflow/issues/3578 which @kimwnasptd has volunteered to tackle.

[2019-07-18 03:43] #1026 closed

[2019-07-18 03:46] neuromage commented on #1641
@jingzhang36 it would be nice to be able to specify pod template parameters when launching TB. This will also let users do things like mount volumes for TB to read from, as requested in #699. Would you be willing to look into how feasible doing this from the UI would be?

/assign @jingzhang36

[2019-07-18 06:44] vackysh opened #1642 "Kubeflow pipeline is not getting triggered through CLI for cluster running on AWS"
Hi @Jeffwan ,

I have a requirement to trigger the Kubeflow pipeline and model serving on aws sagemaker through terminal for which i have written below code.

client = kfp.Client("10.152.183.136:8888/pipeline")
my_experiment = client.create_experiment(name='exp-1')
my_run = client.run_pipeline(my_experiment.id,
'pipeline_serve_model_py3','pipeline_serve_model_py3.py.zip')

Note: IP 10.152.183.136:

[2019-07-18 19:41] ajchili commented on #1472
A follow up to the comment above. It appears that the usage of [ambassador](https://github.com/datawire/ambassador) could be leading to unexpected timeout when making API requests from the frontend. One method to circumvent this issue is to follow [these](https://github.com/kubeflow/pipelines/tree/master/manifests) steps in order to setup a new cluster with a lightweight version of pipelines.

[2019-07-18 21:02] ellistarn opened #1644 "Create a Pipeline Component for KFServing Deployer"
/area feature

KFServing is now v0.1 and ready for Alpha testing. It's already being used at Bloomberg, Microsoft, and IBM.

It would be great to have the option to deploy to KFServing from a pipeline component.

[2019-07-18 21:05] ellis-bigelow commented on #1644
/assign @animeshsingh

[2019-07-18 23:12] jinchihe commented on #1644
/assign @jinchihe

[2019-07-19 01:31] jinchihe commented on #1644
/assign @animeshsingh

Just checked, @animeshsingh has started some working for this.

[2019-07-19 18:10] Excelight commented on #1609
I have the same problem. @chwonghk01 Do you have resolved it?
@UrmsOne Could you share some details about fixing this?

[2019-07-20 02:24] #514 closed

[2019-07-20 02:24] jessiezcc commented on #514
closing since there is no response and seems like it's a configuration issue, feel free to re-open.

[2019-07-20 02:32] jessiezcc commented on #1098
@Ark-kun, can you explain why this is P0?
/cc @gaoning777

[2019-07-20 02:36] jessiezcc commented on #1152
@jingzhang36, can you pls sync up with @rileyjbauer? this is API related.

[2019-07-20 02:38] jessiezcc commented on #1320
@jingzhang36, can u pls verify and close this?

[2019-07-20 02:40] jessiezcc commented on #1390
close since no update.

[2019-07-20 02:40] #1390 closed

[2019-07-21 19:34] Jeffwan commented on #514
@jessesuen Miss your last comment. This can be improved in the example code. I will take it.

[2019-07-22 01:58] jlewi commented on #1223
@jessiezcc Any update on this work? Do you think this is something that will get done in Q3 and thus be part of 0.7?

[2019-07-22 01:59] jlewi commented on #1203
Now blocked by #3210

[2019-07-22 03:02] Bobgy commented on #1638
/assign @Bobgy

[2019-07-22 05:46] xiaogaozi commented on #422
@gaoning777 If my understanding is correct, what @post2web request is display pipeline description in the UI. #1335 seems like not related to this issue.

[2019-07-22 18:11] gaoning777 commented on #422
@rileyjbauer @Ark-kun Do we display the pipeline metadata in the UI?

[2019-07-22 18:26] jessiezcc commented on #1223
This work is not currently scheduled for Q3.

[2019-07-22 18:47] rileyjbauer commented on #422
Yes, today we do show the pipeline description, as a snippet on the list page, and in its entirety on the details page

[2019-07-22 18:58] gaoning777 opened #1648 "FR: caching to avoid long-running steps repetitively"
This is a feature request to support caching in KFP such that the pipeline can skip steps that are run before and nothing have changed since. This is really useful for fast experimentation that involve heavy processing, such as training.

[2019-07-22 20:04] #1392 closed

[2019-07-22 20:26] numerology commented on #1604
https://www.kubeflow.org/docs/gke/gcp-e2e/

The section _(Optional) Test the code in a Jupyter notebook_ needs to be updated.
https://github.com/kubeflow/examples/blob/master/mnist/model.py cannot be directly called from a notebook cell.

[2019-07-22 20:48] numerology commented on #1604
https://www.kubeflow.org/docs/gke/gcp-e2e/

In the section _Build the container for your training application_, Docker build might need sudo, depending on the docker installation.

[2019-07-22 21:06] ashokramadass commented on #336
Any updates on this one?

[2019-07-22 23:19] Jeffwan commented on #1642
@vackysh Honestly, I have not run in notebook yet. I can help try it out. I will come back to you later.

[2019-07-23 01:01] #1556 closed

[2019-07-23 07:18] BenTheElder opened #1653 "tide errors: merge requirements do not match github setttings"
A maintainer of this repo / the CI setup should configure Prow / Tide (the merge robot) to have accurate merge requirements matching the `Required` statuses configured on pull requests. AFAIK these need to be kept in sync to work properly (?) cc @cjwagner to confirm...

https://prow.k8s.io/tide-history

This is showing on https://github.com/kubeflow/pipelines/pull/1652

cc @jlewi for kubeflow prow

[2019-07-23 14:55] saschagrunert opened #1654 "Support for non-docker based deployments"
Do you think it would be possible to support non-docker based clusters as well? I'm currently checking out the examples and see that they want to mount the docker.sock into the container. We might achieve the same results when using [crictl](https://github.com/kubernetes-sigs/cri-tools). WDYT?

[2019-07-23 16:07] JavaDerek commented on #1545
@IronPan I can't comment on what we do, but I've been able to verify that Clair (https://github.com/coreos/clair) would give you the above findings.   Also, @Ark-kun  - upgrading produced a different, smaller list of vulnerabilities, but unfortunately still vulnerabilities.

[2019-07-23 16:18] cjwagner commented on #1653
That isn't a normal status check, it is a GitHub check (https://github.com/kubeflow/pipelines/pull/1652/checks) which Tide cannot support because it is not a GitHub App.

Can you move the Travis CI tests to a ProwJob?

[2019-07-23 19:50] cvenets commented on #1514
Hello @jessiezcc @ruoyu90

I got the previous when running TFMA v0.9.2. I re-ran the Notebook with the latest Tensorflow (1.14.0) and TFMA (0.13.2) and it seems I'm getting the same error:

[code]

I can provide the actual 4 files produced by the KFP pipeline (`plots`, `output_display.html`, `metrics`, `eval_config`), if that would be helpful. Is there a chance the metrics file has changed format?

[2019-07-23 19:52] cvenets commented on #1514
/reopen

[2019-07-23 20:25] daikeshi commented on #1104
Is there any plan to add gcloud credential support for IAP endpoint? We are building a managed kubeflow cluster for multiple teams to use. It'll will super helpful if glcoud credential is supported for the IAP endpoint. OW, teams will have to download a service account key to connect kfp.Client, or we will need to grant them kubernetes engine developer role. If there's anything I can help please l

[2019-07-23 20:39] hongye-sun commented on #1104
/reopen

Reopen the bug to support IAP auth token from desktop. The original fix can only support if user is in k8s developer role, which doesn't work for "managed kubeflow" use case.

@daikeshi, the details on how to get auth token is in https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_desktop_app.

Please refer to me previous comment on a rough idea on how to get it s

[2019-07-23 20:42] daikeshi commented on #1104
@hongye-sun thanks! I'll give a try.

[2019-07-23 21:37] gaoning777 commented on #1653
Discussed with cjwagner offline. This issue causes Tide to continually try to merge an unmergable PR which burns through the bots API rate limit.
@jessiezcc

[2019-07-23 21:51] rileyjbauer commented on #501
Closing, feel free to reopen if this issue is encountered again

[2019-07-23 21:51] #501 closed

[2019-07-23 21:55] rileyjbauer commented on #149
Closing for now given the improvements to list queries

[2019-07-23 21:55] #149 closed

[2019-07-23 23:23] Ark-kun commented on #1654
AFAIK, you can configure Argo to use other executors (e.g. k8sapi, kubelet or pns) in the configmap: https://github.com/argoproj/argo/blob/ca1d5e671519aaa9f38f5f2564eb70c138fadda7/docs/workflow-controller-configmap.yaml#L78. Then pipelines should just work.
Would you like to try it?

[2019-07-24 01:11] Ark-kun opened #1659 "Add more comprehensive container-building APIs"
Suggested new APIs:

[code]

API usage:
[code]

[2019-07-24 01:12] Ark-kun commented on #1659
/cc @SinaChavoshi

[2019-07-24 06:20] rummens commented on #1472
Are you running against 0.5 or 0.6 because in 0.6 the ambassador seems to be replaced by istio?

[2019-07-24 08:27] saschagrunert commented on #1654
Thanks for the help. I edited the configmap and also restarted the workflow controller pod (which seems not necessary). The config looks like this now:
[code]
[code]

I also tried `kubelet` as value, but it still tries to mount the docker socket when running a pipeline:
[code]

[2019-07-24 15:34] SinaChavoshi opened #1660 "Request to deprecate %%docker magic"
Also closes #1547

This is a request to eliminate redundant methods of building docker / components. Specifically to remove %% docker magic wrapper.

This will ensure that
1. methods of building docker and component are kept update as there are fewer of them to maintain.
2. The path for building components and docker is clear ( less confusing ) by reducing the multiple ways that the same code can

[2019-07-24 15:42] SinaChavoshi opened #1661 "Request to deprecate compiler.build_python_component(build_image=,..) flag"
This is a request to eliminate redundant methods of building docker / components. specifically to remove compiler.build_python_component(build_image=,..) flag. This flag eliminates the container build operation from build_python_component however it will not inject the python function into the container or pass it on. This allows for modification of component definition without changing the base c

[2019-07-24 15:57] abhishekchakladar-tc opened #1662 "Trouble Moving file from one pipeline to the next"
Hi All,
As the title says, I have been struggling to find a way to transport an output file from one pipeline to another pipeline as an input file. I am running Kubeflow v0.5.0 on GCP. I previously tried using the file_outputs argument to pass it, but that was giving me a size error, claiming that the file I tried to output exceeded the byte limit. My python script in the tftload pipeline pulls a

[2019-07-24 16:11] ajchili commented on #1472
@rummens previously I was running 0.5 but I recently switched to 0.6 due to the switch away from ambassador. I can also confirm that switching to 0.6 resolved the timeout issue. Upgrading to 0.6 is not required but it removed the timeout limitation.

[2019-07-24 18:02] numerology opened #1664 "Authentication failed in in-cluster notebook"
The clean-up step (the last cell) in TFX OSS components example fails due to a missing secret file. Error msg:
**ERROR:** (gcloud.auth.activate-service-account) Unable to read file [/var/run/secrets/sa/user-gcp-sa.json]: [Errno 2] No such file or directory: '/var/run/secrets/sa/user-gcp-sa.json'
That also contributes to a failed [test run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pu

[2019-07-24 18:44] hongye-sun commented on #1661
@gaoning777, will it be covered by your component builder work?

[2019-07-24 19:25] Ark-kun commented on #1654
Your `containerRuntimeExecutor` is inside `artifactRepository`. It should be outside.

[2019-07-24 19:39] Ark-kun commented on #1660
Related: https://github.com/kubeflow/pipelines/issues/1659

[2019-07-24 19:39] Ark-kun commented on #1547
Related: https://github.com/kubeflow/pipelines/issues/1659

[2019-07-24 19:39] Ark-kun commented on #1661
Related: https://github.com/kubeflow/pipelines/issues/1659

[2019-07-24 19:41] Ark-kun commented on #1659
I wonder what's the best way to support different python package list formats.

[2019-07-24 19:50] gaoning777 commented on #1661
This flag was added initially to avoid rebuilding the image if the image already exists. E.g. when users has run the notebook once and need to run it again without building the image, setting the flag will only generate the containerop.

Since we will have a fast build that takes very little time, the new version will not have this configuration any more. I will cover that.
@Ark-kun, if you do not

[2019-07-24 21:06] Ark-kun commented on #1661
But that `ContainerOp` might be in compatible with the container (e.g. when the function has changed).
Can the user just save component to a file (`build_python_component(target_component_file='my_component.yaml', ...)`) once and then call `load_component_from_file('my_component.yaml')` in subsequent runs?

Sure.

[2019-07-24 21:15] IronPan commented on #1223
Some customers express the interests of having ACL for API. e.g. lock down the API for deleting the resource to admin.

[2019-07-25 00:20] #1320 closed

[2019-07-25 00:31] #1629 closed

[2019-07-25 00:56] SinaChavoshi commented on #665
submitted PR  #1668 for this issue pending addition of automated test for the sample.

[2019-07-25 01:02] ajchili opened #1669 "Page indicator does stay in place when scrolling page in KFP UI"
**What happened:**
Page indicator does stay in place when scrolling page in KFP UI (view screenshot below).

**What did you expect to happen:**
Page indicator should remain on the same x/horizontal index as the selected page. However, the pages do not scroll as a user scrolls. Perhaps the pages should scroll with the page indicator to remain in the users view.

**What steps did you take:**
1. Open

[2019-07-25 01:17] ajchili opened #1670 "FR: Add warning indicator for reoccurring runs that do not have a specified end date"
When creating reoccurring runs within the KFP UI, there is no warning present to indicate that a run will never stop. Without a warning, a user who is quickly creating runs may not realize that they have not limited the reoccurring run that they are trying to create.

[2019-07-25 03:19] Ark-kun opened #1673 "Add unique task id placeholder to DSL"
We should hide Argo-specific placeholders `{{workflow.uid}}`, `{{pod.name}}` behind a DSL member.
* `kfp.dsl.task_id_placeholder = "{{workflow.uid}}_{{pod.name}}"`
* `kfp.dsl.run_id_placeholder = "{{workflow.uid}}"`

[2019-07-25 03:20] Ark-kun commented on #1070
The sample and component runs successfully.

[2019-07-25 03:20] #1070 closed

[2019-07-25 03:23] #1378 closed

[2019-07-25 03:29] Ark-kun commented on #1098
This was P0, because the issue was bound to cause forward compatibility issues (old pipeline version using latest component versions). Fortunately, this issue has been fixed long time ago and sample pipelines pin component versions.

[2019-07-25 03:29] #1098 closed

[2019-07-25 03:34] Ark-kun commented on #1000
Currently the version is updated manually, but at least it's being updated.

[2019-07-25 03:34] #1000 closed

[2019-07-25 06:57] saschagrunert commented on #1654
Ah thanks for the hint :man_facepalming:, now I'm encountering a different set of issues when running the example pipelines:

With `pns`, every single step issues:
[code]

With `kubelet` and `k8sapi`:
[code]

[2019-07-25 09:11] Bobgy commented on #1638
* Instructions for reinstall: https://github.com/kubeflow/website/pull/972

[2019-07-25 16:41] SinaChavoshi commented on #993
Added sample code PR #1676 .
TODO: Add test case for sample

[2019-07-25 18:36] Ark-kun commented on #1662
Short answer: Currently the Pipelines system can only help you pass small data around. For bigger outputs, currently, your user code should take output URIs, upload the data there and then output those URIs, so that the next step can use them.
Please read https://www.kubeflow.org/docs/pipelines/sdk/component-development/

This is not valid. We should probably take `output_artifact_paths` private t

[2019-07-25 18:45] Ark-kun commented on #1654
You should probably look at the workflow controller logs and the Wait container logs.

This is inconvenient, but can you try to satisfy that requirement? Mount an `emptyDir` beneath the outputs path using `task.add_volume` and `task.add_volume_mount`. See https://github.com/kubeflow/pipelines/blob/a4813fffb8778efb6b445e402180391c55c82e41/sdk/python/kfp/gcp.py#L44 as reference (it mounts PVC though

[2019-07-25 21:08] pjo256 opened #1678 "IAP authorization discrepancy between Python 3.5 and 3.7"
**What happened:**

When using `kfp.Client` to invoke various endpoints in a kubeflow deployment behind IAP, Python 3.5 returns with an authorization error while Python 3.7 returns a successful result when given the same input.

**What did you expect to happen:**

`kfp.Client` behavior should be consistent if we officially support >= Python 3.5, and return successfully in both cases.

**What steps

[2019-07-25 22:01] hemildesai commented on #422
I'm using kfp version 0.1.24 and I'm seeing the same issue. The compiler ignores the description and as a result the description is not visible in the UI. Any updates on this?

[2019-07-25 23:02] jessiezcc commented on #1648
this is part of metadata project.

[2019-07-25 23:04] jessiezcc commented on #1669
@rileyjbauer can you take a look?

[2019-07-25 23:05] jessiezcc commented on #1670
@jingzhang36, can you follow up on this one?

[2019-07-25 23:59] SinaChavoshi commented on #1033
Submitted PR #1681
TODO: Add automated test for the sample.

[2019-07-26 01:16] Ark-kun commented on #1673
We need to add the non-Argo construct both in DSL and in `component.yaml`.

[2019-07-26 02:13] xiaogaozi commented on #422
The real reason is [pipeline upload API](https://github.com/kubeflow/pipelines/blob/0.1.24/backend/api/swagger/pipeline.upload.swagger.json#L35-L49) doesn't support pass a `description` parameter. There's only `name` parameter now. DSL compiler is OK.

[2019-07-26 03:10] Bobgy commented on #1639
Depends on https://github.com/kubeflow/pipelines/issues/1638

[2019-07-26 07:56] saschagrunert commented on #1654
Okay, If I run the `[Sample] Basic - Exit Handler` example pipeline with pns, then the workflow-controller pod logs:

[code]

Whereas the exit handler logs contain:

#### Pod 1
`wait`:
[code]

`main`
[code]

#### Pod 2
`wait`:
[code]

`main`
[code]

#### Pod 3
`wait`:
[code]

`main`
[code]

Unfortunately I can't find anything helpful in there, do you? :thinking:

Hm, I tried to create my own pipel

[2019-07-26 17:29] pjo256 commented on #1678
So looks like I'm not able to reproduce this again after reinstalling python, not quite sure what caused this.

[2019-07-26 18:22] Ark-kun commented on #1654
It should have been mounted to the folder where you're storing the outputs you produce. But in the last example you're not producing any, so there should have been no issues.

Ah. I forgot about the auto-added artifacts (https://github.com/kubeflow/pipelines/issues/1422).

Can you try the following two things:
1. First of all, try some Argo examples (e.g. https://github.com/argoproj/argo/blob/mast

[2019-07-26 18:25] Ark-kun commented on #1580
Lightweight components are more advanced in multiple aspects. They support multiple outputs and allow specifying arbitrary types. Python container components will be soon be merged with lightweight components an use the lightweight components' code generator, so this issue will be fixed by that effort.

[2019-07-26 18:27] Ark-kun commented on #1678
I was able to repro. But after re-installing `kfp` and maybe more importantly `kfp-server-api` packages it stopped repro.

[2019-07-26 18:29] #1678 closed

[2019-07-26 18:39] Ark-kun commented on #666
We only support Python 3.5+ officially.
Note that your function definition is only valid in Python 3.5+. It's a limitation of python, not Pipelines.

[2019-07-26 19:19] Ark-kun opened #1685 "Fix swagger codegen throwing exceptions on API call empty results"
Many KFP backend APIs returns google.protobuf.Empty (e.g. `DeleteJob`)
Python client produced by swagger-codegen has this return type translated to ERRORUNKNOWN, which triggers exception when it's encountered.

We need to fix the client code generation so that the error is not produced when a method completes successfully, but returns empty object.

[2019-07-26 19:21] Ark-kun commented on #1685
I've noticed that the code generator produces the following error in the logs:

`[main] ERROR io.swagger.codegen.DefaultCodegen - String to be sanitized is null. Default to ERROR_UNKNOWN`

[2019-07-26 19:22] Ark-kun commented on #1685
The codegen bug issue seems to be fixed by https://github.com/swagger-api/swagger-codegen/pull/9336

[2019-07-26 19:25] Ark-kun commented on #1685
I've verified that the fix works.

[2019-07-26 19:55] Ark-kun commented on #1685
I've created a fixed version of the `kfp-server-api` package: https://pypi.org/project/kfp-server-api/0.1.18.3/

[2019-07-26 19:57] Ark-kun opened #1687 "Merge python container components with Lightweight components"
Python container components (`build_python_component`) lacks many features that Lightweight components (`func_to_container_op`) support:
* ~~Multiple outputs~~ (already added)
* Non-primitive types
* Default values
* Optional parameters
* Dependency capture (code pickling)

There are some reports of user confusion since there are two ways to create component from a python function and they have sl

[2019-07-26 20:02] Ark-kun opened #1688 "Add the ability to build container image with the same packages as the current environment."
It should detect whether the image already exists and only rebuild if the environment has changed.

[2019-07-26 20:42] gaoning777 commented on #360
We already support the notebook sample tests. Standardizing the component tests will be part of the component template efforts.

[2019-07-26 20:42] #360 closed

[2019-07-26 21:16] jlewi opened #1691 "[GCP] pipelines supports workload identity"
We would like to support using workload identity on GCP.

See kubeflow/kubeflow#3638

Opening this bug to track adding support for workload identity with KFP

A couple questions

* Which namespaces will KFP pipelines running in? Are users still running in the "kubeflow" namespace or can pipelines run in other namespaces e.g. "kf-${USER}"

* Does KFP support specifying which K8s service account is

[2019-07-27 01:53] Ark-kun opened #1692 "SDK/Lightweight - Show the link to documentation and issues when catching unpickling failures."

[2019-07-29 02:44] haudren opened #1694 "Write to mlpipeline-ui-metadata as non-root user?"
**What happened:**
I have a container that runs a pipeline step as non root. I wanted to write to `/mlpipeline-ui-metadata.json` but got a permission denied. I tried to create it as root and give permissions to my user to write to it but, this results in a blank output.

Note: this is Kubeflow 0.5.0.

**What did you expect to happen:**
Given that `mlpipeine-ui-metadata.json` is an output mount, it

[2019-07-29 02:56] haudren commented on #1694
My bad using option 2 (creating the file as root in the container, then changing permissions), I was able to render the basic markdown. However it seems like my custom web-app is not showing up. I'll investigate, but it's probably a path issue of sorts.

[2019-07-29 03:01] haudren commented on #1694
I figured out the issue, it seems like the web-app is trying to access the file at the original location inside the container:
`Error: Unsupported storage path: /home/user/test.html  WorkflowParser.ts:225:12`

[2019-07-29 07:03] saschagrunert commented on #1654
So I applied the example via `argo apply -f` and that's the output of the pods logs:

`main`:
[code]

`wait`:
[code]

Alright, this seems to work now, the pipeline succeeds.

[2019-07-29 07:13] jingzhang36 commented on #1641
I am thinking about a possible approach without FE change (need to double check with @neuromage to see if it is actually feasible).

We can allow users to set the flag as a new field in metadata json. Currently Tensorboard type only support "source" fields in metadata json file. We can have more there.  These flags/fields will be written to viewer crd yaml and thus reconciler.go will use these fla

[2019-07-29 19:52] IronPan opened #1697 "Support DAG templates for exit handlers"
Pipeline SDK currently support specifying single exit handler
[code]
Argo supports [multiple exit handlers](https://github.com/argoproj/argo/blob/master/examples/exit-handlers.yaml) and there are valid Pipeline use cases to support multiple handlers.

Here is one proposed syntax for Pipeline SDK to support it
[code]

[2019-07-29 21:02] Ark-kun commented on #1694
Workaround:
Write the file to any location (e.g. `/tmp/mlpipeine-ui-metadata.json`). Set the artifact path when creating the ContainerOp:
(? Do you use `ContainerOp` when wrapping your container?)

[code]

[2019-07-29 21:04] Ark-kun commented on #1597
Waiting for @gaoning777 's refactoring to complete.

[2019-07-29 21:04] Ark-kun commented on #1598
Waiting for @gaoning777 's refactoring to complete.

[2019-07-29 21:05] Ark-kun commented on #1580
Will be fixed by https://github.com/kubeflow/pipelines/issues/1687

[2019-07-29 21:05] Ark-kun commented on #1661
Waiting for @gaoning777 's refactoring to complete.

[2019-07-29 21:15] Ark-kun commented on #1697
I like the syntax.

P.S. Exit handlers have some design problems. An exit handler usually means that there is some global state which is not explicitly tracked. Adding support for caching would expose these issues and make pipelines with exit handlers fail in surprising ways.

[2019-07-29 21:43] Ark-kun commented on #961
That sounds great. What's the user-facing APi of that prototype?

[2019-07-29 22:37] Ark-kun commented on #436
There is some e2e coverage in sample tests: https://github.com/kubeflow/pipelines/blob/866cc81dd9a75d3a024cf8a71d995e0268454512/samples/basic/condition.py#L61

[2019-07-29 22:37] #436 closed

[2019-07-29 22:37] Ark-kun commented on #436
We should also add a DSL compiler unit test.

[2019-07-29 22:40] Ark-kun commented on #363
There is currently no explicit transformation hook, but the functionality is being added to `Run.CreateRun`  method https://github.com/kubeflow/pipelines/blob/d2ead9e056ee423b3a5254ef766d57948af5c403/backend/src/apiserver/resource/resource_manager.go#L214

[2019-07-29 22:40] #363 closed

[2019-07-29 22:42] Ark-kun commented on #1528
Done

[2019-07-29 22:42] #1528 closed

[2019-07-29 22:45] Ark-kun commented on #658
Related https://github.com/kubeflow/pipelines/issues/1654

[2019-07-29 22:47] Ark-kun commented on #1422
Problem caused by this issue: https://github.com/kubeflow/pipelines/issues/1654

[2019-07-29 22:52] Ark-kun commented on #1050
This issue won't be solved until we integrate Tide bot with Travis tests.

[2019-07-29 22:52] gaoning777 opened #1700 "ContainerBuilder support for non-GCR registries"
Currently, the ContainerBuilder only supports the GCR.
Expose the secret configurations for other content registries: https://github.com/GoogleContainerTools/kaniko#pushing-to-different-registries

[2019-07-29 22:57] Ark-kun commented on #482
I hear no user requests fro this feature. It's not that hard to implement, but not trivial either (needs to build and traverse the logical expression graph).

[2019-07-30 00:15] Ark-kun commented on #205
/cc @gaoning777
Yes. We're deploying Argo 2.3 since June 1
https://github.com/kubeflow/kubeflow/pull/3349 https://github.com/kubeflow/kubeflow/pull/3374 https://github.com/kubeflow/kubeflow/commits/pipelines/kubeflow

Unfortunately, many of our customers probably have older versions. Their experience will be broken if they try to run pipelines with inputs/outputs containing underscores.
Do you thi

[2019-07-30 01:20] haudren commented on #1694
Yes I do use `ContainerOp`, your fix sounds much better than what my workaround. I see the doc is outdated on the [website](https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/), I can try to make a PR later this week maybe. Do you have some pointers to what should be updated?

Also for my second question, is there any support for kubeflow itself storing the artifacts? I'd like to not have t

[2019-07-30 16:40] gaoning777 commented on #345
duplicate of https://github.com/kubeflow/pipelines/issues/1700

[2019-07-30 16:40] #345 closed

[2019-07-30 16:41] gaoning777 opened #1701 "ContainerBuilder support for on-prem build files"
Currently ContainerBuilder uses GCS to store the build files temporarily.
Potentially with configmap support in kaniko(https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-a-kubernetes-cluster), we can remove the dependency on the GCS.

[2019-07-30 16:46] gaoning777 commented on #1600
Using the new kaniko executor, improving the performance.

[2019-07-30 16:46] #1600 closed

[2019-07-30 16:48] hongye-sun commented on #1701
configmap might not work as it has the size limitation of etcd.

Kaniko supports S3: https://github.com/GoogleContainerTools/kaniko#kaniko-build-contexts Option 1 is to support S3 in the future.

Option 2 is to use an init wait container and use "kubectl cp" to copy the context file to an in-memory volume.

[2019-07-30 19:59] Ark-kun commented on #1694
I would really like to make this happen. Please add a feature request to prioritize this feature or +1 https://github.com/kubeflow/pipelines/issues/336

[2019-07-31 00:06] IronPan opened #1706 "Stop persisting completed/failed workflow"
Persistence Agent should stop persisting the workflow after workflow complete or failed.

[2019-07-31 00:13] IronPan opened #1707 "Stop storing logs for API server"
API server stores logs in /tmp directory. The log size bloats when persistence agent sends high QPS or API server receives large # of queries.

The log is not actively being used and we could skip storing them.

[2019-07-31 00:14] IronPan opened #1708 "Set TTL for argo workflow"
Argo supports ttl https://github.com/argoproj/argo/blob/master/examples/gc-ttl.yaml
When DSL compiles pipeline to argo workflow, we should set this so that it can be GCed after finish. The TTL should leave enough time for Persistence agent to persist the data.

[2019-07-31 16:23] gaoning777 commented on #1708
Are you suggesting an default ttl for all pipelines?
BTW, the DSL already exposes the ttl conf: https://github.com/kubeflow/pipelines/blob/3dc73bac699a3dc468ebbd9f29b5b324f2773244/sdk/python/kfp/dsl/_pipeline.py#L84

[2019-07-31 16:25] gaoning777 commented on #1708
Is the purpose to reduce the storage size? in which case we can set the default value to a large number to prevent large pipelines from failing due to small ttl.

[2019-07-31 17:17] gaoning777 commented on #482
Workaround or simple '&&' and '||' is possible with the current conditions. For example, users can write two conditions(one in another one) to represent the '&&' logic.

[2019-07-31 17:19] gaoning777 commented on #1661
Completed. Go ahead.

[2019-07-31 17:20] gaoning777 commented on #1597
Completed. Go ahead

[2019-07-31 17:49] mattnworb opened #1711 "UI could help in troubleshooting any pods stuck in ContainerCreating state"
**What happened:**

If a pipeline is run where the pod for one of the steps is stuck in `ContainerCreating` or any other non-running state, the Pipeline UI is capable of showing what state the pod is in, but not _why_ or what the user running the experiment should do to resolve things.

Additionally, an error message is shown about not being able to view the logs, which happens since there are no

[2019-08-01 01:54] #1685 closed

[2019-08-01 02:31] haudren commented on #1694
Thanks a lot for the hard work, using `ouput_artifact_paths` works great.

[2019-08-01 02:31] #1694 closed

[2019-08-01 21:55] Ark-kun opened #1715 "Container-building functions should return full image name with hash digest"
Containers are built to be used by components.
Without image digest, the component is not reproducible since the image tags are mutable.
It's useful to have the image name with digest right after building a new image to use that image name with digest to create a reproducible component.

An example of how to get image digest:
[code]

To do the same with Kaniko build add the `--digest-file=<file>`

[2019-08-02 09:36] cvenets commented on #1514
@jlewi  @jessiezcc @ruoyu90 did you get the chance to look at this?

How can we debug this? Should I be sending the 4 files your way?

[2019-08-02 16:59] neuromage commented on #1641
@jingzhang36 I think what you suggest is feasible, but I think the downside you mentioned should also be taken into account. Ideally, we want users not to have to encode everything they need to later view their tensorboard logs during the training phase itself. It should be customizable at the time we're launching the viewer. Hence, I recommend we allow users to specify these flags in the UI inste

[2019-08-02 18:27] #1545 closed

[2019-08-02 18:52] daikeshi opened #1722 "mlmetadata mysql database Type table missing two columns"
**What happened:**
`Type` table in mlmetadata mysql database are missing `input_type` and `output_type` columns. We are using ml-metadata for our TFX pipelines, and those two missing columns caused our pipeline failure:
[code]

**What did you expect to happen:**
Based on current `Type` table [schema](https://github.com/google/ml-metadata/blob/master/ml_metadata/util/metadata_source_query_config.cc

[2019-08-02 21:02] jessiezcc commented on #1722
/cc @neuromage
@Ark-kun, can you take a look asap?

[2019-08-02 21:35] jessiezcc commented on #1691
Pipeline namespace is configurable, https://github.com/kubeflow/pipelines/issues/304 tracked the ask and [this PR](https://github.com/kubeflow/pipelines/pull/306/files) addressed it.
As for service account, pipeline runs under user-gcp-sa which reflects the default active service account based on https://github.com/kubeflow/pipelines/issues/374. @IronPan can confirm.

[2019-08-02 22:21] Ark-kun commented on #1722
The version of the ml-metadata package in the `go.mod` (which is the source of truth) has always been github.com/google/ml-metadata v0.0.0-20190214221617-0fb82dc56ff7 : https://github.com/Ark-kun/pipelines/commit/ba64bd3866023c36c93cf2b46a066a1b008bb6c4#diff-37aff102a57d3d7b797f152915a6dc16R35

The `WORKSPACE` was just out of sync with `go.mod` which was fixed when I ran the procedures outlinened

[2019-08-03 00:03] #1722 closed

[2019-08-03 19:23] IronPan opened #1728 "Drop Metadata table during API startup time"
The API server starting to crash after upgrade from latest release 0.1.25 to HEAD https://github.com/kubeflow/pipelines/commit/44f81980ed08ff68c0c25fab68bdc84cbbb0c3e1 potentially caused by this
https://github.com/kubeflow/pipelines/pull/1725

Due to incompatible DB schema changes
F0803 19:07:07.466998       9 client_manager.go:179] Failed to create ML Metadata store: mysql_query failed: errno: 10

[2019-08-04 23:50] jlewi commented on #1104
What does gcloud credential mean?

Do you mean using gcloud auth print access-token? The access token generated by gcloud won't work with IAP enabled endpoints; this is by design.

You can use IAP with end user credentials and don't need to use a service account. I think the way this works is the SDK should generate a JWT to attach to requests. To generate the JWT you direct the user through the O

[2019-08-05 08:59] crauterb opened #1731 "Pipeline-UI does not render HTML artifact from Minio"
**What happened:**

I did set up a Pipeline where I train an Xgboost-Model. For evaluation purposes, I want to show the plot of the feature importance as an artifact of the pipeline step.

However, I am shown only a blank rectangle in the artifact window.

**What did you expect to happen:**

I expected the HTML code to be rendered correctly and the image to be shown accordingly.

**What steps did

[2019-08-05 14:57] daikeshi commented on #1728
We have already started using mlmetadata database for our own tfx components. I wonder if kfp can offer a more sophisticated db migration plan instead of simply dropping and recreating the database. Currently implementation proposed in https://github.com/kubeflow/pipelines/pull/1729 will completely break our tfx components. Thanks!

[2019-08-05 16:09] neuromage commented on #1728
Hi @daikeshi we're planning to deprecate the MLMD database within API server, and replace it with Kubeflow Metadata server instead. MLMD itself is unable to migrate just yet (though that's a feature that's coming soon AFAIK). In the meantime, I can change this PR to do one of the following:

* not drop the DB always, but only when it encounters an error.
* only drop the DB if instructed to do so b

[2019-08-05 16:15] animeshsingh commented on #604
@vicaire @paveldournov given the implementation for metadata store, where does this fit in priority list? Also given the talk about keeping the pipeline decoupled from Argo to alrge extent, would it make sense to do with a neutral eventing solution like knative or you are planning to rely on argo?

[2019-08-05 16:20] animeshsingh commented on #951
@vicaire Tekton is becoming the CI/CD backbone behind our cloud and even in OpenShift. Would like to see if you have given this more thought, and this might also be an opportunity to decouple KFP from Argo to some extent

[2019-08-05 17:24] gaoning777 opened #1735 "E2E tests do not catch build image failure"
E2E tests passed for this PR: https://github.com/kubeflow/pipelines/pull/1710
However the cloudbuild job fails after the PR merge.

Looks like the imagebuilder in the E2E tests continue the execution even if one of the RUN command in the dockerfile fails.

[2019-08-05 17:37] animeshsingh commented on #651
Do we need to make it specifc to Argo events? Can it be designed in generic way to support something like KNative eventing? @vicaire please include us if there are any backdoor design discussions going at this end

[2019-08-05 20:14] daikeshi commented on #1728
Thanks @neuromage! I think we would favor option 2 (dropping DB if only a flag is set). At least, this approach will not delete data silently when we upgrade the kfp version.

Another thought I have is: api server can also check tables in the DB, if they are all empty, it's safe to drop the database, ow, throw an error unless user sets a flag to force to do it.

[2019-08-05 21:33] Ark-kun commented on #1735
There was no failure, because the code is different: https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=ml-pipeline-test&minLogLevel=0&expandAll=false&timestamp=2019-08-05T21:19:09.959000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22ml-pipeline-test%22%0Aresource.labels.location%3D%22us-east1-b

[2019-08-05 21:35] Ark-kun commented on #1735
Or maybe not. Investigating further.

[2019-08-05 21:38] neuromage commented on #1728
Thanks @daikeshi. I've put this behind a flag now. I didn't do the check tables bit, since the schema is an implementation detail. Also, we do plan to move this out of APIServer soon. PTAL and let me know what you think.

[2019-08-05 21:45] Ark-kun commented on #1735
Here is the DinD build of the image - the error is skipped. https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=ml-pipeline-test&minLogLevel=0&expandAll=false&timestamp=2019-08-05T21:19:09.959000000Z&customFacets=&limitCustomFacetWidth=true&scrollTimestamp=2019-08-01T23:53:03.893354093Z&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22ml-pipel

[2019-08-06 01:14] gaoning777 commented on #1735
The issue you mentioned is resolved in https://github.com/kubeflow/pipelines/pull/1733.
This issue is not about that. It is about why our e2e test infra does not catch the api image build failure in the cloudbuild.

[2019-08-06 02:45] daikeshi commented on #1728
@neuromage your change looks good. I believe we will be able to set the flag somewhere in pipeline deployment manifest? Also what's the timeline to remove MLMD in KFP API server? It will also work for us if KFP can just ignore existing mlmetadata database in MySQL.

[2019-08-06 07:02] crauterb commented on #1731
Well, apparently all works fine.

There is a note missing in the documentation that - when you want to use `.html` files using the `web-app` - you need to wrap files in a `.tar` ball.
The frontend will unpack that ball and then check the content, as can be seen [here](https://github.com/kubeflow/pipelines/blob/dd59bc25975fd648fbbaad02d10fddd484b2154c/frontend/server/server.ts#L196).

Once I wrap t

[2019-08-06 07:02] #1731 closed

[2019-08-06 08:00] xauthulei opened #1743 "Can't find the notebook samples"
**What happened:**
From the tutorial guide to download the sample notebooks from https://github.com/kubeflow/pipelines/tree/master/samples/notebooks. however it will report "404"
**What did you expect to happen:**
I want use the follow the guide to have a try in my local.
**What steps did you take:**
[A clear and concise description of what the bug is.]
Maybe the tutorial guide have some errors, b

[2019-08-06 08:01] xauthulei commented on #1743
Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]
tutorial guide 's URL is : https://www.kubeflow.org/docs/pipelines/tutorials/build-pipeline/#building-a-pipeline-in-a-jupyter-notebook

[2019-08-06 14:09] #1266 closed

[2019-08-06 15:21] numerology commented on #1036
Add a sample illustrating how to author a pipeline that can access protected images via imagepullsecret. PR #1727

[2019-08-06 15:38] neuromage commented on #1728
@daikeshi yes, when we remove it, we'll remove the code, and leave existing dbs alone. The timeline is this quarter, probably by end of Aug. By then, MLMD will also be able to upgrade the schema by itself. You should be able to set the flag in the pipeline deployment manifest.

[2019-08-06 16:42] devonkinghorn opened #1744 "Option for max concurrent runs in an experiment"
It would be nice if you could set the max concurrent runs in an experiment.
We have a use case where we run analysis over a days worth of data using a pipeline, but we don’t want to run more than n processes at once.

It would be great if we could set a value for max concurrent runs in an experiment not just recurring runs.

[2019-08-06 18:37] Ark-kun opened #1745 "Failed to create ML Metadata store: mysql_query failed: errno: 1054, error: Unknown column 'input_type' in 'field list'"
https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=ml-pipeline-test&minLogLevel=0&expandAll=false&timestamp=2019-08-06T01:57:31.342000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22ml-pipeline-test%22%0Aresource.labels.location%3D%22us-east1-b%22%0Aresource.labels.cluster_name%3D%22sample-89378d

[2019-08-06 18:38] Ark-kun commented on #444
This has been completed.

[2019-08-06 18:38] #444 closed

[2019-08-06 18:43] Ark-kun commented on #494
Duplicate volumes are no longer added

[2019-08-06 18:43] #494 closed

[2019-08-06 18:44] Ark-kun opened #1746 "Check volume uniqueness by content, not name"
Related to https://github.com/kubeflow/pipelines/issues/494#issuecomment-448057717
Volumes should be deduplicated based on the volume itself, not the name. Then, if we have name conflicts, we should change the volume.name+volumeMount.name (we have to do that when processing a task (ContainerOp), because later we won't know which volume is used by which volumeMount).

One solution to this is to hav

[2019-08-06 18:51] Ark-kun commented on #1519
Probably upstream issue. No response.

[2019-08-06 18:53] Ark-kun commented on #1516
Can you please point to to the sections of the doc that you'd like to be expanded and what information is missing?

[2019-08-06 18:54] Ark-kun commented on #1507
This a "by design" bug in Python.

[2019-08-06 18:54] #1507 closed

[2019-08-06 18:59] Ark-kun commented on #457
This issue is not as common at this time.
But we should really consider not downloading all the images every time.

[2019-08-06 18:59] #457 closed

[2019-08-06 19:00] Ark-kun commented on #1654
I've looked at Argo source code. Maybe you do not even need the `emptyDir` mount.
Just changing the paths might be enough.

[2019-08-06 19:01] Ark-kun commented on #1654
Tracking the original issue
/reopen

[2019-08-06 19:03] Ark-kun commented on #1735
You meant the DockerInDocker builds, right?

[2019-08-06 19:04] Ark-kun commented on #1383
@gaoning777  WDYT?

[2019-08-06 19:06] Ark-kun commented on #1369
We see no need to support dynamic file paths. You can always use hard links to link arbitrary file on disk to the static output path location.

[2019-08-06 19:06] #1369 closed

[2019-08-06 19:08] Ark-kun commented on #1661
@gaoning777 Can you please LGTM https://github.com/kubeflow/pipelines/pull/1657 ?

[2019-08-06 19:23] gaoning777 commented on #1735
Correct. It seems that Dind skips the error and continues the image build while the cloudbuild fails immediately once the exit code is non-zero.

[2019-08-07 03:46] numerology commented on #980
Add a toy sample demo PR #1749

[2019-08-07 04:13] numerology opened #1750 "Improve the sample test infra."
Currently, there is some inefficiency in the sample test infra. This issue tracks some initial efforts in improving it.

Some action items:
- [x] Reduce the code complexity of the test infra. PR #1730
- [x] Reduce repeated/unnecessary environment setup/imports to speed up the tests.
- [x] ~~Unify the naming convention. Currently the naming convention in kfp repo is not consistent. This needs to be

[2019-08-07 07:01] saschagrunert commented on #1654
Hm, no then I get this error message:
[code]

[2019-08-07 07:44] IronPan commented on #1735
Thanks for investigation. Cross check and saw the error got ignored when building image locally too.

[2019-08-07 08:01] IronPan commented on #1383
SGTM
@hongye-sun WDYT?

[2019-08-07 09:03] Bobgy opened #1752 "Add e2e tests for inverse-proxy-agent"
inverse-proxy-agent doesn't have any e2e test coverage yet.
Some tests will be helpful.

/assign @IronPan

[2019-08-07 09:19] Bobgy opened #1753 "Add e2e tests for viewer-crd-controller"
viewer-crd-controller doesn't have any e2e test coverage yet.
Some tests will be helpful.

Initial step is to build viewer-crd-controller image during e2e presubmit tests. https://github.com/kubeflow/pipelines/blob/master/test/presubmit-tests-with-pipeline-deployment.sh#L78

Note, I'm moving test infra to kfp lightweight deployment. You might want to start working on this after my part is done to

[2019-08-07 09:21] Bobgy commented on #1753
/assign @jingzhang36

[2019-08-07 09:33] IronPan commented on #1706
Some data points -

"Today we experience high latency with KFP in our prod environment. The call to fetch experiments took almost 30 seconds.
However, the number of argo workflows stored in the cluster was only around 7k.
The problem was most likely to be caused by the persistent agent issues we discussed last time.
I saw many error logs about not finding the row or entry in the persistent agent's

[2019-08-07 18:27] hlu09 opened #1755 "persistence agent should delete successful runs right after sync"
**What happened:**

Argo workflow CRD pileup (100K+) caused GKE cluster API times out, causing issues for all namespaces in the cluster.

Excessive workflows (5K+) also caused significant UI slow down.

**What did you expect to happen:**

Persistence Agent deleted successful workflows right after sync.
Failed workflow can be GCed per workflow TTL since users may want to rerun the pipeline by skipp

[2019-08-07 18:55] hlu09 commented on #1755
Cluster CRD limit info:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md#scale-targets-for-ga

[2019-08-07 20:14] SinaChavoshi opened #1757 "Feature ask: Version check for DSL & Run time environment"
This is a feature ask to support version check for two specific scenarios

1. When compiling with DSL allow users to specify the min version of DSL that is supported for that code. This is mostly applicable for samples. This can be verified at compile time to make sure the correct version of DSL compiler is being used.

2. Version check against Run time Environment - Allow users to specify the min

[2019-08-07 20:26] gaoning777 opened #1758 "Fix the component tests with the yaml reference in the samples"
The component test infra replaces the image tag with the new ones from the cloudbuild. Since now we use the yaml reference instead of the image tag, the component tests need to be fixed to accommodate the change.

[2019-08-07 21:41] Ark-kun commented on #1735
I've finished the investigation and opened a fix PR.
Problem: Docker implicitly prepends "sh -c " to the RUN commands (no "-e"). Without "-e", the exit code of the shell script is the exit code of the last executed command. So the sample compilation script will only fail if the last sample failed the compilation.

Fix: Explicitly adding "set -e" to the command fixes the issue.

[2019-08-07 22:19] Ark-kun opened #1761 "Sample packaging is failing in CloudBuild"
https://pantheon.corp.google.com/cloud-build/builds/b6678b41-ee42-49d8-8d1f-9a1f892f1ae0?project=ml-pipeline-test
`Step #29 - "prepareVersionedSamples": sed: can't read samples/*/*.py: No such file or directory`

[2019-08-07 22:33] Ark-kun opened #1762 "TestRunApis fails in presubmit tests"
The tests are failing in a PR that does not change the backend behavior:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1760/kubeflow-pipeline-e2e-test/1159217041438150657

[code]

[2019-08-07 22:58] Ark-kun opened #1763 "The compiler tests are brittle: They check that "nothing has changed" instead of verifying the intended behavior."
Good tests check the intended behavior of a feature.
Most of our compiler tests are only checking that "nothing has changed". Every small change affecting the attributes of a pipeline requires changing dozens of tests. https://travis-ci.com/kubeflow/pipelines/jobs/223317709 or https://github.com/kubeflow/pipelines/pull/1381/files
When the tests are brittle, it's also easy to overlook an actual err

[2019-08-07 23:20] Ark-kun commented on #1654
Hmm. Maybe it would work if the paths are in an existing base image dir like `/tmp` (? I wonder whether /tmp is part of the base image) or `/home` not `/output`.

[2019-08-08 00:01] Ark-kun commented on #1757
Proposed design for SDK version check:

[code]

Pros:
* Explicit.
* Easy to understand what's going on.
* Easy to override.

[2019-08-08 01:05] numerology commented on #1750
Currently many repeated occurrences are observed under samples/core and sdk/python/tests/. Some work might be done to dedup and make sure everything is maintainable.

For, e.g., imagepullsecrets PR #1767

[2019-08-08 05:20] gaoning777 commented on #1761
https://github.com/kubeflow/pipelines/pull/1764

[2019-08-08 05:20] #1761 closed

[2019-08-08 05:36] gaoning777 commented on #1383
SGTM

[2019-08-08 06:21] gaoning777 commented on #1387
I think you are working on the codegen part of the component authoring, I'll let you lead the efforts.

[2019-08-08 06:27] Bobgy commented on #1753
/tag area-testing

[2019-08-08 07:06] Bobgy commented on #1639
General plan:
* (p0) presubmit/postsubmit tests should run on [kfp lightweight deployment](https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize).
* (p1) the same tests should run continuously for master branch on kubeflow 0.6 deployment.

My plan
1. https://github.com/kubeflow/pipelines/pull/1732 that let me run tests on my own gcp project
2. change presubmit-tests-with-pipeline-d

[2019-08-08 07:25] saschagrunert commented on #1654
Yes I tried with `/tmp`, but had no luck either.

[2019-08-08 13:08] mmuppidi opened #1770 "upstream connect error or disconnect/reset before headers"
**What happened:**
When you try to call KFP api as shown below
[code]
I get this error, which is similar to issue raised by @SinaChavoshi [here](https://github.com/kubeflow/pipelines/issues/908) for UI

[code]
I can make the call If I retry manually multiple times, but that is not expected behavior. If this is because of the expired IAP session then the client should be able to deal with it.

[2019-08-08 15:59] gaoning777 commented on #1519
This issue could be reproduced. Amy also reported it recently.
Looks like terminate sets the activedeadlineseconds to 0 but the retry logic is not overridden.
argo delete overrides the retry logic but the job deletion also deletes all logs.

[2019-08-08 16:03] gaoning777 commented on #1743
Thanks. I will update it soon.

[2019-08-08 16:46] numerology commented on #1750
TODO: Sync with kubeflow/website with these changes.

[2019-08-08 18:01] krishnadurai commented on #1223
/cc @krishnadurai

[2019-08-08 19:48] IronPan opened #1772 "Add Cloud SQL connection support"
For production use cases, it's better to use managed service such as cloud sql, instead of in-cluster self hosted mysql.

We should add an example how to set up API server to use cloud sql.

[2019-08-08 19:50] IronPan opened #1773 "Surfacing resource name along with resource ID for referenced resources"
Currently UI spams the backend API server for getting the reference name for displaying in the UI.

Once we store and propagate the name of the reference along side the id, the UI no longer need to send those requests. This also reduce the API and DB load

[2019-08-08 20:38] #1517 closed

[2019-08-08 20:39] gaoning777 opened #1775 "ContainerBuilder support default namespace, gcs, and gcr."

[2019-08-08 20:46] gaoning777 commented on #1775
@hongye-sun What do you think the default gcs path should be?  create a randomly gcs bucket?
For target_image gcr tag, also a randomly generated one?

[2019-08-08 22:07] #1735 closed

[2019-08-08 23:42] hongye-sun opened #1779 "VolumeOp doesn't support GC after workflow deletion"
The PVC created from VolumeOp is not automatically recycled after workflow is deleted.

I wonder if owner reference can work with PVC when it is set with workflow's reference. If it works, we can provide an option in volumeop to set it when creating the PVC.

If it doesn't work, we should provide a way to either use Argo's volume API or support a delete PVC op in exit handler.

[2019-08-08 23:58] numerology commented on #1750
Plan to approach this in the following PRs:
- #1730 to reduce code complexity of sample test scripts.
- Move test-specific environment setup into individual test files, e.g. .py or .ipynb
- Move argo installation to Dockerfile
- Sync with kubeflow/website.
Low priority (but still worth some efforts):
- Unification of naming conventions across samples (and pipeline's repo)
- Issue #193
- Move some

[2019-08-09 00:48] Ark-kun commented on #1775
@IronPan mentioned the possiblity of using volume instead of GCS storage.
Another option is to change the Pod entrypoint to a program which waits until the data is uploaded to the pod before starting the Kaniko builder.

[2019-08-09 01:17] xauthulei commented on #1743
Thanks @gaoning777

[2019-08-09 05:15] Bobgy commented on #1604
I will work on https://www.kubeflow.org/docs/pipelines/upgrade/ first.

[2019-08-09 05:23] Bobgy commented on #1604
and FYI, @sarahmaddox has been updating some screenshots for KFP too in https://github.com/kubeflow/website/pull/1029. No need to duplicate.

[2019-08-09 15:43] gaoning777 opened #1784 "ContainerBuilder: Istio automatically injects a container"
KF Istio automatically injects a container to the pod creation since 0.6 for user-profile namespaces. ContainerBuilder will time out waiting for the pod completion.

[2019-08-09 17:01] IronPan opened #1786 "Show Recurring run name instead of id in run page"
**What happened:**
![image](https://user-images.githubusercontent.com/2348602/62795890-a05abe00-ba8c-11e9-9ebe-3d63e27583bf.png)

**What did you expect to happen:**
Show recurring run name

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-09 17:03] IronPan commented on #1786
/assign @IronPan @rileyjbauer

[2019-08-09 18:16] SinaChavoshi commented on #1590
This issue is now consistently reproducing in 0.6 . When trying to use any GCP service I get the error

`AccessDeniedException: 403 kubeflow-vm@....iam.gserviceaccount.com does not have storage.buckets.list access to project ....`

[2019-08-09 19:40] gaoning777 commented on #1762
This is blocking many PRs from merging.

[2019-08-09 19:42] IronPan commented on #1773
#1781 surfaced the information to the API.
We still need to change UI to use the new field in API.

[2019-08-09 19:42] numerology commented on #1762
After several retries my PR get passed. Is it actually flaky?

[2019-08-09 19:45] gaoning777 commented on #1762
If it is flaky, it is still worth immediate investigation to increase the engineering speed and saving test resources.

[2019-08-09 20:58] #1784 closed

[2019-08-09 21:01] amygdala opened #1790 "Pipeline UI: logs keep force scrolling to bottom even after step has finished"
(using KF 0.6.1, pipeline build commit: 812ca7f)

In the Pipelines UI, the pod logs for a step keep autoscrolling back down to the bottom even after the step has finished and no new output is being generated.

That makes the logs essentially unusable for post-run debugging (since you can never keep earlier output in view long enough to read it properly...).

[2019-08-09 22:52] amygdala opened #1796 "SDK feature request: support soft constraint for scheduling a component to a preemptible node pool"
From a pipeline, it would be useful to have an option to schedule onto a pre-emptible node if such a node pool is available, otherwise fall back to using non-preemptible.
(Under the hood this can apparently be done with node affinity and `preferredDuringSchedulingIgnoredDuringExecution`).

Ning's suggestion: expose config in the `gcp.use_preemptible_nodepool()` call to specify whether the constrai

[2019-08-09 22:53] amygdala commented on #1796
/assign @gaoning777

[2019-08-09 23:37] paveldournov opened #1797 "Address security issue in package-lock.json"
Github flagged a security issue in the package-lock.json files.

Please review the security alert and follow the fix recommendation.

[2019-08-09 23:58] paveldournov commented on #1758
@gaoning777 are the test broken now or this makes the maintenance harder?

[2019-08-10 00:01] paveldournov commented on #1757
@SinaChavoshi - does this work?

[2019-08-10 00:13] paveldournov commented on #1711
@mattnworb do the stackdriver logs provide any info if you navigate to it using the links in the UI?

[2019-08-10 00:18] paveldournov commented on #1708
The TTL seems to kick off after the workload completes, so we don't need to worry about long running workflows. I think we should consider setting a low TTL by default to GC the resources promptly after the run is recorded in metadata. It would probably affect the logging UX experience and we will need to switch over to showing the persisted logs (stackdriver, etc) instead by default.

[2019-08-10 00:49] #1715 closed

[2019-08-10 01:03] gaoning777 commented on #1775
Thanks, would you mind following the on-prem support in the issue: https://github.com/kubeflow/pipelines/issues/1701
This issue is for default values not for on-prem scenarios.

[2019-08-10 03:47] SinaChavoshi commented on #1757
I like it. It is explicit and simple.

This only covers the SDK version validation in development environment. Run time environment validation will still require a solution. I can separate that out in a different issue and turn this issue to a tracker to update all samples with Min version requirement code above. Does that sound ok?

[2019-08-10 04:51] #1743 closed

[2019-08-10 19:26] IronPan opened #1800 "Add integration test for Run's Retry API"
related to https://github.com/kubeflow/pipelines/pull/1720

[2019-08-10 20:01] gabrielvcbessa opened #1801 "Make the DSL to be closer to DS expected DSL"
Developing a model in the current DSL is far from what "usual" model development looks like.

There are a lot of extra things that the Data Scientist needs to worry about that he didn't need before. Things such as pipeline volumes. We should think in a DSL that would wrap most of this things and let the DS worry only about the model's code.

Based on the [Netflix's Metfalow](https://www.youtube.co

[2019-08-10 20:04] IronPan commented on #1708
With change https://github.com/kubeflow/pipelines/pull/1802 this issue can be closed.

[2019-08-10 20:09] IronPan commented on #1708
Agreed with @paveldournov we need find a better way to persist logs with aggressive GC.
For GCP stackdriver is ok.
For non-GCP, we need a better story.

[2019-08-10 20:13] IronPan opened #1803 "Persist Pod Logs for non-GCP Pipeline Deployment"
Current we surface K8s Pod logs to the UI.
The pod log availability is affected by the evict policy of the cluster and thus not robust enough.

For GCP deployment, the UI forward the log link to stackdriver.
For non-gcp case the log will be lost.

With the change https://github.com/kubeflow/pipelines/pull/1802 this problem will be more surfaced. The workflow will be GCed right after finish, and po

[2019-08-10 20:14] IronPan commented on #1708
File an issue for on-prem logs https://github.com/kubeflow/pipelines/issues/1803
/close

[2019-08-10 20:14] #1708 closed

[2019-08-10 20:33] jlewi commented on #1801
@gabrielvcbessa this is interesting. Any thought about how you could compile this down into an Argo workflow?

[2019-08-10 21:02] gabrielvcbessa commented on #1801
I the example above I am just wrapping the specified method with a ContainerOp that uses a python image. This container runs the method and writes down the result in a file that is used as a `file_output`.

You will have problems when handling things that need a special serializer, but it is just a proof of concept.

[2019-08-10 21:38] gaoning777 commented on #1775
https://github.com/kubeflow/pipelines/pull/1795

[2019-08-11 04:01] yaronha commented on #1801
@gabrielvcbessa I wonder why is this dsl wrapper different than using `. after` or infering inputs in the current dsl? (which is also the approach in airflow)

or are you referring to writing python code vs definition of container ops?

[2019-08-11 04:10] gabrielvcbessa commented on #1801
Yes, I am referring to being able to write just simple python code instead of needing to define container ops.

[2019-08-11 05:59] yaronha commented on #1801
@gabrielvcbessa have you looked into `python_op` this is a way to write python code directly without specifying container there are other options like using `Nuclio` and `fairing` that convert code + dependencies to containers automatically.

i do think that it make more sense when you scale to separate components/steps to independent code elements which can be version controlled and tested indepe

[2019-08-11 06:36] gabrielvcbessa commented on #1801
Thanks for that @yaronha! I will take a look at MLRUN. For now, I think the issue can be closed! :)

[2019-08-11 06:36] #1801 closed

[2019-08-12 03:47] hridyeshpant commented on #1501
i am also getting the same error when hitting /ml-pipeline. I created ingress rule for this service with port 8888 but getting ```404``` error when trying to hit ml-pipeline API outside the cluster. Same this is working if I used port forwarding ```kubectl port-forward svc/ml-pipeline -n kubeflow 8888:8888```

[2019-08-12 14:35] mattnworb commented on #1711
In the case where a pod can't be created because its PodSpec tries to mount a volume/secret that doesn't exist, I don't think the Stackdriver Logs help - because there are no logs from the container to show if none of the containers have run yet.

[2019-08-12 15:36] Bobgy commented on #1762
I've also met this flaky test many times when migrating test infra. It appears to have a race condition. Sometimes, one run starts earlier than the other, so when we verify, order of the two runs are not guaranteed.

[2019-08-12 15:56] Bobgy commented on #1762
I think order when listing runs with default order isn't a critical test we need to fix right now. Made a PR to comment the problematic assertions temporarily to unblock random failure first.

For a long term fix, I need to understand expected behavior first.
Do we care about ordering in default order?
Or is there an actual bug in backend that doesn't sort correctly?

[2019-08-12 16:06] yanniszark commented on #1132
Adding to this, having a Pipelines CRD would also provide a path for multi-user pipelines, as Kubernetes CRDs have built-in authentication and authorization via the API Server, like any other Kubernetes Object.
As such, maybe there is some overlap with https://github.com/kubeflow/pipelines/issues/1223

[2019-08-12 16:38] IronPan commented on #1762
Thanks @Bobgy for the initial investigation.
The plan sounds good. let's comment out the check for now.

[2019-08-12 16:42] IronPan opened #1810 "Sample tests build kfp_server_api SDK"
As of today, updating the KFP API interface won't trigger a rebuild of kfp_server_api for tests to use.

For example this PR https://github.com/kubeflow/pipelines/pull/1781 add a new field in resource_reference.proto. Here is the error message I saw
[code]
To make the tests pass, I have to run backend/api/build_kfp_server_api_python_package.sh and publish a kfp_server_api SDK to public. In theory

[2019-08-12 16:54] axsaucedo commented on #951
@animeshsingh we are currently exploring Tekton at Seldon as well, still early stages but I would be interested to learn more about how you are using it internally. Furthermore, I personally see there is may be some ambiguity on when it comes towards defining CI/CD vs ETL logic within individual KF Pipelines. I think it would be interesting to explore even a conceptual separation between the use o

[2019-08-12 16:54] IronPan opened #1811 "Add limits for maximum running workflow"
Some K8s clusters, such as GKE, has limitation on total number of CRD instances can be created in a cluster.

The CRD resource quota will be available in K8s v1.15 https://github.com/kubernetes/kubernetes/issues/53777
while we are waiting for that features to roll out to all cloud provider, we might also want to add a temporary workflow throttling logic in KFP backend, if this temporary logic is e

[2019-08-12 17:57] gaoning777 commented on #1383
SG

[2019-08-12 18:47] rileyjbauer commented on #1786
Are you okay with the frontend making additional calls for each of these, or are you thinking of providing some solution via the backend?

[2019-08-12 19:33] gaoning777 commented on #1735
Thanks @Ark-kun for fixing this issue.

[2019-08-12 19:43] gaoning777 commented on #1758
The component integration tests are broken. However, The purpose of the component tests is to catch the component errors early. The release is not blocked since the sample tests are run when the PR to release the components are merged.

[2019-08-12 20:07] #980 closed

[2019-08-12 20:08] gaoning777 opened #1813 "Add sample tests for all core samples"

[2019-08-12 20:09] gaoning777 commented on #1033
All sample tests are tracked: https://github.com/kubeflow/pipelines/issues/1813

[2019-08-12 20:09] #1033 closed

[2019-08-12 20:09] gaoning777 commented on #993
sample tests are tracked here: https://github.com/kubeflow/pipelines/issues/1813

[2019-08-12 20:09] #993 closed

[2019-08-12 20:10] #1036 closed

[2019-08-12 20:10] gaoning777 commented on #665
Sample tests are tracked here: https://github.com/kubeflow/pipelines/issues/1813

[2019-08-12 20:10] #665 closed

[2019-08-12 20:12] gaoning777 commented on #1034
All samples listed are added. Test coverage is tracked in https://github.com/kubeflow/pipelines/issues/1813

[2019-08-12 20:12] #1034 closed

[2019-08-12 21:09] Ark-kun commented on #1757
We need some clear user scenario for this. We never had a breaking change, so there was never a real use case to work with.

If we hypothetically decide to make a breaking change in the SDK, then the DSL compiler should start adding the SDK version to the pipeline, so that older backend can refuse it.

We should start properly setting and exposing the kfp SDK version first.

[2019-08-12 21:17] Ark-kun commented on #1758
Sample tests replace the image names in the final compiled Argo workflow yaml, so they are replaced regardless of whether or not the component was loaded from component.yaml.

We need to check whether the postsubmit tests actually replace any image.

[2019-08-12 21:20] Ark-kun commented on #1770
Yes, this is the same issue.

[2019-08-12 21:25] hongye-sun commented on #1770
Duplicate of #908

@mmuppidi, let's keep discussion in #908. I think the right fix is to add retry strategy to the client code.

[2019-08-12 21:27] hongye-sun commented on #1770
Duplicate of #908

[2019-08-12 21:27] #1770 closed

[2019-08-12 21:28] hongye-sun commented on #908
I think the right fix here is to add retries in the kfp client.

[2019-08-12 23:38] Ark-kun opened #1815 "CloudBuild fails - visualization-server image is missing"
[CloudBuild fails](https://pantheon.corp.google.com/cloud-build/builds/368847f6-feb1-49bb-96b2-540d14191b0f?project=ml-pipeline-test) - [logs](
   https://00e9e64bac45f39910a5915d8867c1492f59345d4a0d065c2a-apidata.googleusercontent.com/download/storage/v1/b/363997316495.cloudbuild-logs.googleusercontent.com/o/log-368847f6-feb1-49bb-96b2-540d14191b0f.txt?qk=AD5uMEuJwqtT56rGPZii9BR4TEh7XReM3-YGZNFcv

[2019-08-12 23:47] SinaChavoshi commented on #908
Just validated. The underlying issue is resolved in 0.6.

Cheers,
Sina

On Mon, Aug 12, 2019 at 2:28 PM hongye-sun <notifications@github.com> wrote:

[2019-08-12 23:49] Ark-kun commented on #1815
I found the error and produced the fix.

[2019-08-12 23:52] ajchili commented on #1815
Whoops, I didn't realize I made a typo. Thank you for the fix!

[2019-08-12 23:59] rileyjbauer commented on #1797
Fixed by #1798

[2019-08-12 23:59] #1797 closed

[2019-08-13 03:49] knkski commented on #1654
I also ran into this issue, and the above fix worked for me for the regular, `ContainerOp`-style pipelines. When I tried creating a pipeline with `func_to_container_op`, I also had to add in this bit, as `func_to_container_op` wanted to store output under `/tmp/outputs`:

[code]

[2019-08-13 05:40] IronPan commented on #1810
It turned out the issue was not the SDK but instead the database default size limit on string. The json is truncated and result in parsing failure.

[2019-08-13 05:40] #1810 closed

[2019-08-13 05:41] IronPan opened #1818 "Integration test for workflow garbage collection"
Related to the new feature https://github.com/kubeflow/pipelines/pull/1802

[2019-08-13 06:41] IronPan opened #1820 "travis npm coverall returns 405"
Disable temporarily. Investigation needed.
https://github.com/kubeflow/pipelines/pull/1819

[2019-08-13 06:52] Bobgy commented on #1820
It seems coverall is down for maintenance temporarily: https://status.coveralls.io/

[2019-08-13 06:53] #1706 closed

[2019-08-13 07:22] benjamintanweihao commented on #960
@ucdmkt did you manage to solve this because I'm seeing the same problem

[2019-08-13 08:24] Bobgy commented on #1604
- [ ] https://www.kubeflow.org/docs/pipelines/pipelines-quickstart/
- [ ] https://www.kubeflow.org/docs/pipelines/sdk/pipelines-metrics/
- [ ] https://www.kubeflow.org/docs/pipelines/upgrade/
- [ ] https://www.kubeflow.org/docs/pipelines/tutorials/build-pipeline/
- [ ] https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/
- [ ] https://www.kubeflow.org/docs/pipelines/reference/comp

[2019-08-13 08:33] ucdmkt commented on #960
@benjamintanweihao My above error report is a long time ago (previous release of TFX, based on far old release of KFP), so I suspect it is not relevant any more.

What versions of TFX and KFP are installed, and do you see the same stack trace?

[2019-08-13 08:38] ucdmkt commented on #960
For my particular case, updating to more recent TFX and KFP eliminated the above-reported error.

[2019-08-13 08:40] Bobgy commented on #193
We are on maximum limit for service account again:
[code]

[2019-08-13 08:48] Jeffwan opened #1821 "Enable s3 to store temporary staging build files"
`compiler.build_python_component` doesn't work for non-gcp environment, instead of using gcs to store temporary files, I also like to use s3 to store staging files. Otherwise, I can not use sdk to build pipeline.

I will take the work to add the support and make it generic

[2019-08-13 09:18] IronPan commented on #1198
https://github.com/kubeflow/pipelines/pull/1720 should cover it.

[2019-08-13 09:21] #1707 closed

[2019-08-13 09:23] IronPan commented on #1773
We also need to surface the pipeline name for pipeline IDs in here
https://github.com/kubeflow/pipelines/blob/master/backend/api/pipeline_spec.proto#L24

[2019-08-13 09:26] Bobgy commented on #193
I made a request to increase quota from 100 to 200. I hope they can approve this so we are not blocked for now.

[2019-08-13 11:19] #1661 closed

[2019-08-13 15:13] Bobgy commented on #1773
@IronPan Is this fully resolved?

I thought there were still UI parts left. @jessiezcc assigned that part of fix to me as a starter issue on UI.

[2019-08-13 15:20] Bobgy commented on #1762
Can we change this to p2?

[2019-08-13 15:58] numerology commented on #193
Yes it happens from time to time. Current temp fix is to manually delete those service account.

[2019-08-13 16:14] logicbomb421 opened #1823 "Pipeline duration incorrect for runs lasting more than 24 hours."
**What happened:**
I ran a pipeline that ran for more than 24 hours (~82.5).

**What did you expect to happen:**
I expected to see the finished pipeline duration reflect the actual run duration (82:41:24), however instead, it said 10:41:24. The run started at `2019-08-10 00:51:58+00`, and finished at `2019-08-13 11:33:22+00`. 10:41:24 is the duration that would have resulted from this run if it ha

[2019-08-13 17:10] ajchili opened #1825 "KFP tests fail"
`kubeflow-pipeline-sample-test` and `kubeflow-pipeline-e2e-test` are failing _almost_ immediately. From the logs for the tests:
[code]
it appears that objects in GCS are missing or inaccessible.

[2019-08-13 17:38] numerology commented on #1825
Can you retry? That could be because I removing the service account at the same time as the test runs. Sorry for the inconvenience.

[2019-08-13 17:38] ajchili commented on #1825
Yeah, I'll retry and see if that fixes the issue.

[2019-08-13 17:44] ajchili commented on #1825
The sample test failed with the same message, but the e2e test appears to be fine.

[2019-08-13 18:09] Ark-kun commented on #1810
Oops. We should probably issue an easy to debug error when the string size is bigger.

[2019-08-13 18:19] strangemonad-faire opened #1826 "Failed to store run - Error 1062: Duplicate entry. ml-pipelines service becomes unresonsive"
**What happened:**

pipelines version 0.1.25, gcp `kubeflow` namespaced install

Pipeline run_details fails to update run details with the following error:

```Error while creating or updating run for workflow: 'kubeflow/relationship-graph-updategsdjb-2062-1367216059'. Create error: 'InternalServerError: Failed to store run RUN_NAME to table: Error 1062: Duplicate entry '45474da3-af6e-11e9-86a0-42

[2019-08-13 20:44] IronPan commented on #1773
@Bobgy Yeah closed by accident. This is still needed.

[2019-08-13 22:47] SinaChavoshi opened #1831 "create a tf serving using kubeflow pipeline serving component"
This issue is to track creation of a sample for KFP serving component

[2019-08-13 22:55] SinaChavoshi commented on #1831
PR for serving component sample is tracked under : #1830

[2019-08-13 23:05] Ark-kun commented on #193
I think there is bug in the Kubeflow cleanup code so that the SAs are not cleaner up at all.

[2019-08-13 23:28] Ark-kun commented on #456
I have not seen this a lot recently

[2019-08-13 23:28] #456 closed

[2019-08-13 23:36] Ark-kun commented on #910
TF-flavored Keras is available as `tensorflow.keras` now.

[2019-08-13 23:36] #910 closed

[2019-08-13 23:37] Ark-kun opened #1833 "Publish the container image for the Keras Trainer component"

[2019-08-14 06:01] jessiezcc opened #1834 "Add version label to pipeline services"
we only show version on pipeline UI, it'd be good to have a version label for all pipeline services deployed at part of deployment.

[2019-08-14 10:12] Bobgy commented on #1566
Reference: I'm working on upgradability. Progress is tracked in https://github.com/kubeflow/pipelines/issues/1638

[2019-08-14 13:34] amygdala commented on #908
Well, I'm still seeing this errorr in 0.6.1... IIRC, this was actually with basic auth.

<img width="466" alt="upstream_connect_error" src="https://user-images.githubusercontent.com/115093/63025119-66f3cb00-be5d-11e9-86b2-96135e0ccc8d.png">

[2019-08-14 14:34] SinaChavoshi commented on #908
Nice catch! do you mind updating the
https://github.com/kubeflow/kubeflow/issues/2852 with the details.

On Wed, Aug 14, 2019 at 6:34 AM Amy <notifications@github.com> wrote:

[2019-08-14 14:42] hamedhsn commented on #1127
@swiftdiaries the link is broken can you point me to the right url. thanks!

[2019-08-14 17:00] numerology commented on #1825
This transient problem seems to be solved by now. We're discussing about a long-term solution for all those test-flakiness.

[2019-08-14 17:00] #1825 closed

[2019-08-14 18:03] neuromage opened #1839 "Cloud Build fails due to visualization server build configuration error"
Cloud build is failing due to this error:
[code]

The line here seems to be the issue:
https://github.com/kubeflow/pipelines/commit/48173ad7760d61a769af56f735ce959d1f13ffe6#r34693590

[2019-08-14 18:03] neuromage commented on #1839
/assign @ajchili

[2019-08-14 18:04] ajchili commented on #1839
Should be fixed by #1816. Currently waiting to be merged.

[2019-08-14 18:06] neuromage commented on #1839
Duplicate of #1815

[2019-08-14 18:07] #1839 closed

[2019-08-14 18:16] #1815 closed

[2019-08-14 21:31] gaodan-fang opened #1841 "Can't store scikit-learn model through IBM/wml-store component"
@Tomcli @animeshsingh
https://github.com/kubeflow/pipelines/blob/613086e50204b0c64a63cb466016d568dd65a499/components/ibm-components/watson/store/src/wml-store.py#L39
As the wml api limitation, can't store `scikit-learn` model using `run_uid` directly. In order to save the trained `scikit-learn` model:
1. download the `scikit-learn` model from COS
2. create the `metadata` needed to store the model

[2019-08-14 21:56] songole commented on #1223
/cc @songole

[2019-08-15 03:51] amygdala opened #1846 "feature request: retry of pipeline op after preemptible-VM-based termination should have different semantics"
Semantically, it seems like there's a difference between retrying a step if the node was preempted,  vs retrying due to some other error.  In particular, you might want to retry on preemption only (but not on other errors), or you might want to set a high number of retries on preemption but a low number otherwise.
E.g. if you're doing a long training job, you might want to essentially say "just ke

[2019-08-15 07:25] jessiezcc commented on #1813
@gaoning777, pls assign to whoever is helping on this project

[2019-08-15 07:29] jessiezcc commented on #1811
let's hold on the temporary solution unless there are multiple customers reporting the block issue

[2019-08-15 09:37] wenmin-wu opened #1847 "Feature Request: Pipeline Failure Notification"
Sometimes the pipeline failed due to some reason. It's very important to notify the owner in time.

[2019-08-15 17:01] numerology opened #1848 "Minor changes should not invoke presubmit e2e/sample test"
Minor changes, including doc fixing, lint, etc., should not invoke e2e/sample test, which is very time consuming and increases workload on Prow cluster as well.

This can be fixed by changing the config in [prow config](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubeflow/kubeflow-presubmits.yaml).

[2019-08-15 17:23] numerology opened #1850 "Configure coveralls to keep track of all unit tests."
Currently it's only tracking frontend part. We would like to have a better understanding of KFP project health.

[2019-08-15 20:17] gaoning777 commented on #1813
This will depend on some test infra improvement that jiaxiao is working on.

[2019-08-15 21:10] numerology commented on #1850
#1854 is a duplicate of #898

[2019-08-15 22:33] gaoning777 commented on #1846
When argo retries, it checks the pod status and the signal is absorbed by argo(https://github.com/argoproj/argo/blob/6d150a15eb96183fb21faf6a49b0997e6150880b/pkg/apis/workflow/v1alpha1/workflow_types.go#L762). Pipeline itself cannot differentiate the retry due to preemption vs. others. I will investigate more if we can get the information from GCE/GKE but the static configuration of retry to the a

[2019-08-15 22:34] gaoning777 commented on #1846
@Ark-kun FYI as we discussed offline.

[2019-08-15 23:47] Ark-kun opened #1861 "SDK - Lightweight components - Capture dependencies without pickling"
Problem: Python does not have stable binary code format, so any code pickling tools are brittle and only work when python versions match.

Background: The only code format which is claimed to be compatible between versions is source code form.

Solution: We should replicate the dependency capturing using source code copying instead of pickling.

[2019-08-16 00:27] logicbomb421 commented on #999
I'm also experiencing this issue.

A little more context:

I have a component that I load from `component.py`:
[code]

And in `pipeline.py`, I use the component like so:

[code]

When running a pipeline built this way, the exit handler is invoked immediately upon start, as well as upon exit.

[2019-08-16 01:25] gaoning777 opened #1862 "Update gcloud ml-engine to gcloud ai-platform due to deprecation"
gcloud ml-engine command is going to be deprecated.

[2019-08-16 01:32] numerology commented on #1850
Current blocking issue:
Due to the usage of setup.py in travis job, unit test cannot correctly track the location of the packages being tested, which causes wrong coverage number (many branches are counted twice).
#1858 is attempting to solve this.

[2019-08-16 01:43] Ark-kun commented on #1801
@gabrielvcbessa You can write the code in a similar style using the Lightweight python component feature of KFP. And it might be even more organic than in your example.

One thing I've noticed in your example is that you're conflating "components" and "tasks".
In your code, each component (a function) is also a task (step). There is no way to use same component multiple times.
I also see that the

[2019-08-16 01:52] Ark-kun opened #1864 "Creating component from notebook function"
[code]

[2019-08-16 02:52] #1823 closed

[2019-08-16 03:15] Bobgy commented on #1773
/assign @ajchili

[2019-08-16 03:15] Bobgy commented on #1773
Let's close this

[2019-08-16 03:16] ajchili commented on #1773
@Bobgy I do not have the permissions to close issues.

[2019-08-16 03:37] Bobgy commented on #1773
np, @IronPan can you close this issue?

[2019-08-16 12:29] gabrielvcbessa commented on #1801
@Ark-kun Seems pretty good!

We were also thinking about making the PVC something more simple to the final user, something like this:

[code]

If the PVC with the same name has already been declared, we would use the same PVC for every other claim with the same name, instead of calling `VolumeOp` again. What do you think?

This could be a behavior that you could set using a flag or something.

[2019-08-16 14:02] jlewi commented on #1590
See: https://github.com/kubeflow/kubeflow/issues/3571#issue-461873165

[2019-08-16 17:38] gaoning777 opened #1865 "Sample consistency: Add a compile step at the end of all core samples"

[2019-08-16 17:52] numerology commented on #1865
Q: Shall we add some result checks, too?

[2019-08-16 19:06] gaoning777 commented on #1865
For the basic ones, I think it is sufficient to call it correct if the pipeline runs successfully. The downsides of adding the checking codes in the samples, which makes the sample convoluted, might outweigh its benefit, which is correctness checking.
For complex ones, I think the checks would be useful. In terms of priority, I would categorize the result checking feature as P1/P2.

[2019-08-16 19:33] mattnworb opened #1867 "Pipeline UI does not differentiate between an artifact in GCS not existing and being unauthorized"
**What happened:**
A pipeline component which uses `.use_gcp_secret(..)` to mount a Secret containing a GCP Service Account key has an output artifact (visualization) written to a GCS bucket. The container running the component mounts the non-Kubeflow-SA service account just fine and is able to write to the bucket successfully.

The ml-pipeline-ui application, when it tries to render this artifact

[2019-08-17 20:20] sarahmaddox commented on #1604
@SinaChavoshi @Bobgy regarding the last item in the list (https://www.kubeflow.org/docs/gke/gcp-e2e/ ): I'm working on this doc. See PR https://github.com/kubeflow/website/pull/1079

@SinaChavoshi I get errors while running through the tutorial - the same errors that others encounter. See comment on issue https://github.com/kubeflow/website/issues/844#issuecomment-521537154. If you can help, pleas

[2019-08-17 21:45] jlewi opened #1880 "Dashboard links are wrong in JupyterLab but not Jupyter"
**What happened:**

I ran this [notebook](https://github.com/jlewi/examples/blob/898dca20438c85b77422f1d05afd8daa51960d30/xgboost_synthetic/build-train-deploy.ipynb) inside a Kubeflow Jupyter Lab instance running GKE with IAP.

The notebook submits a pipeline using the KFP client which prints out the links to view the pipeline in the pipelines UI.

When I run this in JupyterLab the links are inval

[2019-08-19 08:29] kimchitsigai opened #1881 "Error in retrieving list of pipelines (KubeFlow v0.6.1)"
**What happened:**
I've installed kubeflow v0.6.1, with kfctl_existing_arrikto.yaml.
From the KubeFlow Central Dashboard, I click on Pipelines and I get the error message + Details, shown in the attached screenshot.

![pipelines](https://user-images.githubusercontent.com/5181623/63250439-ef160e00-c26b-11e9-8c86-6896a7e2264b.PNG)

**What did you expect to happen:**
I expect an empty list of pipelin

[2019-08-19 09:13] kimchitsigai commented on #1881
I'm adding the outputs from kubectl logs for the pipeline related pods.
There seems to be something wrong  with ml-pipeline:
`Failed to commit transaction to initialize default experiment table`

[pipeline_log2.txt](https://github.com/kubeflow/pipelines/files/3515025/pipeline_log2.txt)

[2019-08-19 09:34] AnnieWei58 commented on #596
@mameshini Hi Manmeshini, I am trying to store data from kubeflow to MiniIO, but I've got an issue regarding the mounting problems. It seems that I need to modify the yaml files, but I do not know how to modify it, do you have any examples? or is there any hint of how do modify it plz?

[2019-08-19 13:05] yanniszark commented on #1223
Hi @IronPan.
We (Arrikto) have been exploring this problem for the past month and we generally agree with your overview of the steps required to have multi-user functionality in pipelines.

I'm assigning this to me, we have made good progress and we should have initial support for multi-user pipelines in v0.7.

/assign @yanniszark

[2019-08-19 16:26] gaoning777 opened #1883 "Support retry to completion in DSL"
argo supports retry to completion feature: https://github.com/argoproj/argo/blob/master/examples/retry-container-to-completion.yaml

This issue tracks surfacing it in the DSL

[2019-08-19 16:56] hamedhsn opened #1884 "Missing Affinity for Containerop"
**What happened:**
currently we are missing function to setup the affinity for containerop.
Am gonna create a PR to support that shortly

[2019-08-19 16:58] gaoning777 opened #1885 "FR: new components to demonstrate how to send requests to exising seldon/tfserving instances"
Kubeflow has several serving components: https://www.kubeflow.org/docs/components/serving/
It's great to have some generic components that send prediction request to these serving services.

[2019-08-19 18:52] SinaChavoshi commented on #1772
Added sample for switching to MySQL here: https://github.com/SinaChavoshi/pipelines/tree/use-cloud-sql/manifests/kustomize/base/mysql

You will need to make the following two changes in the sqlproxy_deployment.yaml

Line 23 - Replace the “Instance connection name” from "cloudsql-for-kfp:us-central1:cloudsql-for-fkp-prite-nopass"  to the actual value  from Cloud SQL overview page

Line 47 - Change

[2019-08-19 20:56] Ark-kun commented on #1430
Will be fixed by https://github.com/kubeflow/pipelines/issues/1430

[2019-08-19 21:01] Ark-kun commented on #1801
My vision is that mounting specific PVCs belongs to the task level, not component level (imagine shared component trying to use the same hard-coded volume on all clusters).

We already show how to easily mount PVCs in our samples: https://github.com/kubeflow/pipelines/blob/0d898cb40f2bf30b711fce07c3d8769a9dc819b9/samples/core/tfx_cab_classification/tfx_cab_classification.py#L158

[code]

[2019-08-19 21:02] Ark-kun commented on #1801
BTW, my previous example is not how `func_to_container_op` is normally used. We prefer to use it as a function, so that you have both the original python function and the component:
[code]

[2019-08-19 21:14] gaoning777 commented on #1430
This links back to this issue. Wrong link?

[2019-08-19 21:17] gaoning777 commented on #1590
Was the VM SA got injected instead of the User SA?

[2019-08-19 21:25] gabrielvcbessa commented on #1801
Makes sense. Our idea was trying to hide everything related to the pipeline, VPCs or other things in order to allow the user to write almost the same code in both scenarios, but there are a lot of things that make this kinda hard.

I would love to contribute to this project and to the python's SDK. Is there any contribution guide?

[2019-08-19 22:25] logicbomb421 opened #1891 "Unable to mount VolumeOp volumes inside recursive graph components"
**Small Backstory:**
I am attempting to design a pipeline that processes a large dataset in batches. This dataset is processed in batches via the `batch_size` pipeline parameter. Once the data has been batched, I am attempting to use a `graph_component` component to essentially loop over all batches and spawn processing nodes.

Each of these processing nodes needs to have the working directory cre

[2019-08-20 06:23] paveldournov commented on #1884
@hamedhsn can you please described the proposed feature in more details?

[2019-08-20 06:26] paveldournov commented on #1885
@gaoning777 should the serving components (e.g. KF Serving) expose an interface to discover the way to call the prediction endpoint (for example through a swagger schema) and a client lib to make such calls easier? I think the artifacts store should also declare a type to represent a deployed model with necessary properties to describe how to invoke the endpoint, which would make it possible for t

[2019-08-20 06:28] paveldournov commented on #1891
/cc @kevinbache to investigate

[2019-08-20 07:12] Ark-kun commented on #1880
This issue is duplicate of https://github.com/kubeflow/pipelines/issues/252
The root cause is a bug in JupyterLab that cannot be worked around on KFP side https://github.com/jupyterlab/jupyterlab/issues/5211. The JupyterLab team has finally fixed the bug several months ago. https://github.com/jupyterlab/jupyterlab/pull/5814
Couple of months ago I've created an issue to update the JupyterLab versio

[2019-08-20 07:17] Ark-kun commented on #1821
AFAIK, the staging URI already supports S3. But only GCP secrets are being mounted to Kaniko pod. That is the part that can be generalized.

[2019-08-20 07:19] Ark-kun commented on #1632
Removed in https://github.com/kubeflow/pipelines/pull/1592

[2019-08-20 07:19] #1632 closed

[2019-08-20 07:24] Ark-kun commented on #1608
Are you asking for run-time visualization of pipeline tasks?
I had some design to that, but this feature is not requested often.

[2019-08-20 07:30] Ark-kun commented on #1880
@paveldournov No triaging issues at night... on vacation =)

[2019-08-20 15:31] mattnworb commented on #1223
@yanniszark just curious, is there a design or plan for what this functionality might look like in 0.7 that you could share? We have been eagerly awaiting multi-user support in KFP and would love to review and give any feedback (assuming you'd want some).

[2019-08-20 15:50] hamedhsn commented on #1884
we are using affinity over node selector to request for different types of instances when users request nodes in our platform. We have it outside kfp but As we are integrating kfp into our platform we need to support that.
PR: https://github.com/kubeflow/pipelines/pull/1886

[2019-08-20 17:27] Jeffwan commented on #1821
@Ark-kun Thanks. I will check that part.

[2019-08-20 19:41] logicbomb421 opened #1899 "Inconsistent ExitHandler behavior"
This is an expansion on #999.

<hr/>

**What happened:**
It appears currently the only valid way to create an `ExitHandler` is using `dsl.ContainerOp`, with `is_exit_handler` set to `True`. When the pipeline runs, duplicate nodes are spawned at the beginning of the workflow and execute the exit handler logic immediately. Attempting to set `is_exit_handler` manually on an ad-hoc component created w

[2019-08-20 20:22] logicbomb421 opened #1900 "Is it possible for an ExitHandler to retrieve details about the exiting run?"
I'm currently writing a pipeline that takes a while to complete. I'd like to create an exit handler that sends a notification once done. I'd like this notification to include details specific to the run being exited (e.g. the URL to the UI, total run time, output from steps, etc). Additionally, I'd like to be able to run cleanup logic in an exit handler, which would potentially need to know about

[2019-08-20 20:57] gabrielvcbessa opened #1901 "Lists are handled incorrectly by python components"
Take as example a function `max_value` that will take as an input lists of ints and will return the biggest value.

If we pass as an input one hardcoded list, in execution time it would receive it as an string. Something like this:

[code]

If we test it using some output from previous methods the input would be something like this:

[code]

[code]

[2019-08-20 21:58] gaoning777 opened #1903 "Clean duplicate/outdated TFX components in favor of the TFX OSS components"

[2019-08-20 23:38] IronPan commented on #1604
@Ark-kun do you mind check and update  https://www.kubeflow.org/docs/pipelines/reference/component-spec/

[2019-08-21 00:15] Ark-kun commented on #1604
I'll do that, thanks.

[2019-08-21 04:57] SinaChavoshi commented on #1604
@sarahmaddox sorry for the delay looking at the issue and PR  now.

[2019-08-21 16:15] knkski opened #1907 "_output_files is not defined with func_to_container_op"
**What happened:**

I compiled a pipeline with `func_to_container_op`, and didn't specify any outputs, since there aren't any. It then failed with `NameError: name '_output_files' is not defined`

**What did you expect to happen:**

I expected the pipeline step to work without having to specify an output.

**What steps did you take:**

Here's the function that I'm converting to a container op:

[c

[2019-08-21 17:59] cjwagner commented on #930
Ping. This is still an issue.

[2019-08-21 18:42] gaoning777 commented on #1903
To replace the tfx-cab-classification with tfx-oss, there are several steps:
1) use a versioned tfx-oss example
2) resolve errors with the current tfx-oss sample
3) wait for the metadata service to be deployed
4) reduce data size such that tfx-oss example runs faster
5) add the tfx-oss sample to the sample tests
6) replace the tfx-cab-classification with tfx-oss and have tfx-oss sample to be uploa

[2019-08-21 19:04] gaoning777 opened #1913 "Convert the XGBoost sample to use the new GCP components"
1. The current XGBoost uses the old dataproc components. We need to convert it to use the new GCP components.
2. Also remove the old dataproc components.

[2019-08-21 19:31] numerology commented on #1850
#898 fixed the python sdk coverage collection.

[2019-08-21 19:31] numerology commented on #1850
CC @Ark-kun

[2019-08-21 19:33] gaoning777 opened #1915 "GCP components markdown display error"
**What happened:**
![Screenshot from 2019-08-21 12-31-53](https://user-images.githubusercontent.com/3826739/63462400-b0b95400-c40f-11e9-8da0-b8a14b4282ea.png)
When I click the 'Job Details' button, it shows pantheon refuses to connect'
**What did you expect to happen:**

**What steps did you take:**
[A clear and concise description of what the bug is.]

**Anything else you would like to add:**
[Mi

[2019-08-21 19:34] gaoning777 commented on #1915
@hongye-sun Would you mind taking a look? Thanks

[2019-08-21 19:35] numerology commented on #1750
PR #1897 switch the entry-point from bash script to python, by adopting python fire, to improve manageability and readability.
Two remaining todo items:
1. reduce the usage of subprocess call by directly invoking check_notebook_results.py and run_sample_test.py as python modules.
2. (P1) add unit tests

[2019-08-21 23:01] amygdala opened #1919 "feature request: grab an existing pipeline ID via the SDK"
We can now pass a pipeline id to the `run_pipeline` method (thanks!).

To make it easier to use this method in scripts, would it make sense to have a 'get pipeline id from name' method, for existing pipelines? Similar to how `create_experiment` returns an ID if the experiment name already exists.  Apologies if there is such a method and I missed it.

Related: the UI does not make it easy to find t

[2019-08-22 00:16] #279 closed

[2019-08-22 08:13] cyliu0204 commented on #677
Hi all:
After reading the comments above , I still cannot figure out how to deploy distribute training with tensorflow or pytorch with pipelines, How is the issue progressing?

[2019-08-22 16:20] ajchili opened #1924 "[FR] Add support for Vega/Vega Lite visualizations"
[Vega](https://vega.github.io/vega/) and [Vega Lite](https://vega.github.io/vega-lite/) are visualizations built with JSON to specify the appearance and interactive behavior of a visualization. This is similar to #1472 but rather than being Python based, it is based in Javascript and is built with support for [Protovis](http://mbostock.github.io/protovis/) and [D3.js](https://d3js.org/). Introduci

[2019-08-22 16:20] ajchili commented on #1924
/assign @ajchili

[2019-08-22 18:28] numerology commented on #1604
Checked https://www.kubeflow.org/docs/pipelines/tutorials/pipelines-tutorial/, it still looks good to me.

[2019-08-22 20:02] Ark-kun commented on #1919
What do you think about getting the list of pipelines and doing the filtering, selecting the pipelines you're interested in?

[2019-08-22 20:05] Ark-kun commented on #1359
Frontend uses Minio client which supports all S3 locations. The particular issue you have is probably caused by something like secrets. AFAIK, @rileyjbauer has recently looked at that part of code.

[2019-08-22 20:21] Ark-kun commented on #1907
I'm sorry you got bitten by this bug.
It was fixed in https://github.com/kubeflow/pipelines/pull/1726
Please run `pip3 install kfp --upgrade` to update your SDK.

[2019-08-22 20:21] #1907 closed

[2019-08-22 20:28] Ark-kun commented on #1901
Thanks for the issue. Issues from users help us prioritize the features.

KF Pipelines orchestrates containerized command-line programs.
Command-line programs, on the lowest level, only pass strings or blobs/files.
All other types need to be explicitly supported (by providing serialization/deserialization routines).

At this moment only `str`, `int`, `float` are supported.
Good news is that I've w

[2019-08-22 20:30] Ark-kun commented on #1901
Hmm. The generic lists probably won't be supported in the first release. I'll think of how to support them better.

[2019-08-22 20:32] pavan-infiswift commented on #1901
Thanks for the clarification @Ark-kun

[2019-08-22 20:34] Ark-kun commented on #1901
There is another issue in your code that would remain unfixed for some time:
The components are supposed to have strict signature with a fixed number of inputs and outputs. You're trying to have variable-length inputs by passing the outputs from variable number of upstream tasks.

[code]
might or might, but it's not supported. And in this case (with the feature support I'll add soon) you'll get a

[2019-08-22 20:47] Ark-kun opened #1933 "Support inputs with multiple arguments"
Need to support variadic inputs in ComponentSpec, Lightweight components, load_component etc.

In command-line we can pass multiple inputs as repeated command-line parameters: `--a 1 --a 2`.
In TaskSpec we can make argument a list: `arguments: {a: [1, 2]}`.
In inputSpec we could add `repeated: true` or `allowMultiple: true` property.
In ContainerImplementation we could specify the command args as

[2019-08-22 22:29] Ark-kun commented on #1488
Thanks for the report.
I'll be releasing support for boolean input types very soon.

P.S. You do not have to use PipelineParam anywhere in your code. Just write the pythonic function signature:

[code]

[2019-08-22 22:31] #1420 closed

[2019-08-23 00:09] #1884 closed

[2019-08-23 00:35] SinaChavoshi commented on #1541
instructions are now updated, resolving as fixed.

[2019-08-23 00:35] #1541 closed

[2019-08-23 00:37] SinaChavoshi commented on #1548
I'm closing this as it is not as high demand / priority. We saw a few cases on this request though most supporting requirements.txt file will cover majority of the use cases.

[2019-08-23 00:37] #1548 closed

[2019-08-23 00:37] SinaChavoshi commented on #1831
PR is merged. resolving as fixed.

[2019-08-23 00:37] #1831 closed

[2019-08-23 00:41] SinaChavoshi commented on #1757
Agreed on both points, closing this issue.

[2019-08-23 00:41] #1757 closed

[2019-08-23 00:45] SinaChavoshi commented on #1772
Marking as closed this is addressed by PR  #1910

[2019-08-23 00:45] #1772 closed

[2019-08-23 10:01] IronPan commented on #1786
The job name should be surfaced through resource_reference.name field now. UI should be able to just use it.

[2019-08-23 15:04] amygdala commented on #1919
It would be nicer UX for the user to not have to do that filtering themselves, if they're wanting a specific pipeline, as I expect this would be a common task.  Though of course, having some way of doing this programmatically is better than no way.

I saw there was a `list_pipelines` method but didn't try it yet — does the returned info include both the name and the ID?  If so, maybe we could also

[2019-08-23 17:00] LeonardAukea commented on #497
We are currently using Airflow (utilizing solely the`KubernetesPodOperator`) to launch jobs with great success. Notebook jobs (Docker+papermill)  plays a big role. Now that you guys, support pipelines neatly. I'm actually thinking that we should switch to using kubeflow instead.

One of the great wins is that we get to look at the outputs of the runs by storing the notebooks in an s3 bucket which

[2019-08-23 17:12] aronchick commented on #497
This is so cool! Is there anything we can do to help here?

[2019-08-23 19:30] kevinpauli commented on #451
@gaoning777 can you please provide a link to the GH issue that is tracking this effort?

[2019-08-23 20:22] jerrylam commented on #1821
Does this work? I hit the same problem and I specified s3 path but it said:
`2019-08-23 20:17:32:ERROR:Error: s3://a_bucket/dev/ should be a GCS path.`

[2019-08-23 22:47] jerrylam commented on #1821
@Ark-kun I just checked the source code for `ContainerBuilder` in the master branch, it does not yet work with s3.

[2019-08-23 23:20] numerology opened #1942 "Support pipeline parameter definition by interacting with dsl.Pipeline"
Currently the only way to define pipeline params in KFP dsl is through the signature of the pipeline function. A more systematic and dynamic way is needed to support use cases where the set of pipeline parameters are passed from external.

Example:
[TFX's KFP dag runner](https://github.com/tensorflow/tfx/blob/4b20a6f57fb4cff14f2f570f3042f824aef2fffb/tfx/orchestration/kubeflow/kubeflow_dag_runner.p

[2019-08-24 00:46] wenmin-wu commented on #1847
This can be made with `ExitHandler` which is already implemented. see it here https://stackoverflow.com/questions/57508382/kubeflow-pipeline-termination-notificaiton/57586000#57586000

[2019-08-24 00:46] #1847 closed

[2019-08-24 02:00] #1488 closed

[2019-08-24 03:12] #1901 closed

[2019-08-26 02:36] Bobgy commented on #1639
@jessiezcc all p0 issues are resolved, can we change the tag to p1 now?

[2019-08-26 07:15] Bobgy commented on #1639
Actually, I think it's better creating a new issue for

[2019-08-26 07:19] Bobgy opened #1949 "Run complete test suite on kubeflow 0.6+ deployment in postsubmit test"
https://github.com/kubeflow/pipelines/issues/1639 addressed moving test infra to kfp lite deployment.

We also need to do run complete test suite on kubeflow 0.6+ deployment in postsubmit test to ensure kubeflow integration test coverage. I think it should be good as a step in postsubmit tests.

/priority p1

[2019-08-26 07:20] Bobgy commented on #1639
/close

Created new issue for step 4.

[2019-08-26 07:20] #1639 closed

[2019-08-26 08:36] haudren opened #1950 "How to use a pipeline parameter containing spaces in Condition?"
**What happened:**
I am using a pipeline parameter, and would like to use a Condition to switch on it existing / not existing. The condition I used is of the form `parameter != '""'`. When the parameter contains spaces (say `parameter = "a b c"`), it fails with:
[code]

Another attempt with `a, b, c` results in:
[code]

A quick look at the generated yaml shows that the parameter is compared unquot

[2019-08-26 09:24] Bobgy commented on #1638
Plan
* [ ] Upgrade test coverage.

[2019-08-26 17:50] pahask8 opened #1953 "target_image parameter is missed in the build_docker_image method"
**What happened:**

`target_image` is missed in the `build_docker_image ` method:

` image_name_with_digest = container_builder.build(local_build_dir, dockerfile_rel_path, timeout)`

**What did you expect to happen:**
It is impossible to build a docker image because of missed parameter using [this code](https://github.com/kubeflow/pipelines/blob/27d67420db012f534c561c2534bd1a306e9493ca/sdk/python/

[2019-08-26 21:54] gabrielvcbessa opened #1956 "Cannot use resource request based on PipelineParam"
We are trying to build a generic pipeline that will have some steps with configurable resources. This is needed because based on what is being run it might need more or less cpu, memory and etc.

Consider the pipeline described bellow:

[code]

This pipeline will fail to match the expected resource Regex and would not be successfully uploaded. This is what would be generated on the yaml file:

[co

[2019-08-26 22:45] Bobgy commented on #1949
/assign @Bobgy

[2019-08-26 23:31] Ark-kun opened #1957 "Tide cannot merge the batch due to error in script"
https://prow.k8s.io/tide-history?author=Ark-kun
https://prow.k8s.io/?repo=kubeflow%2Fpipelines&type=batch
https://prow.k8s.io/log?job=kubeflow-pipeline-e2e-test&id=1166128972417732608
[code]

[2019-08-27 02:20] haudren commented on #1950
No, it seems like for most purposes, the value is interpreted literally. Stopgap fix I used is to replace spaces with underscores (most other separators won't work, as `-/%&` are numerical operators, `,;:` are also argo operators).

I think this problem is related to the more general problem of having typed parameters in Kubeflow but for the moment, quoting predicate operators should be a good fix

[2019-08-27 02:48] Bobgy commented on #1957
Thanks for the fix. Sorry I didn't know this could be run as batch test too. I'm not super clear what a batch test does.

The only thing I found is: https://github.com/kubernetes/test-infra/tree/master/prow/tide#features
Do you know if there are more detailed explanation of how batch test is run.

[2019-08-27 07:34] Bobgy opened #1961 "Test coverage for kfp standalone manifests - gcp env"
This would be good for long term maintenance. Covers cloud sql + file store usage.

/priority p1
/cc @IronPan

[2019-08-27 07:35] Bobgy commented on #1961
/label area/testing

[2019-08-27 07:35] Bobgy commented on #1961
/area testing

[2019-08-27 07:36] Bobgy commented on #1961
/assign @Bobgy

[2019-08-27 13:56] jlewi opened #1962 "[GCP] Pipelines backward compatibility when Kubeflow switches to workload identity"
In 0.7 Kubeflow on GCP would like to switch to using workload identity by default #1691 .
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable_workload_identity_on_a_new_cluster

This means that applications should be deployed with an appropriate Kubernetes Service Account Mapped to a Google Service Account in order to get GCP credentials.

The purpose of this bug is to

[2019-08-27 18:36] hongye-sun opened #1967 "withparams support"
This issue is similar with https://github.com/kubeflow/pipelines/issues/1481 except that Argo supports withparams which can support iterate over a runtime parameter.

[2019-08-27 19:15] vinayjain15 opened #1968 "[Non-Docker clusters] Permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock:"
All sample pipelines in kubeflow failing with error in container wait:
Permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock:

kubeflow 0.5.0 installed on openshift 3.11 (kubernetes v1.11.0+d4cacc)

./oc logs sequential-gzx5k-652412774 -c wait
time="2019-08-27T19:01:34Z" level=info msg="Creating a docker executor"
time="2019-08-27T19:01:34Z" level=inf

[2019-08-27 21:16] #1957 closed, assigned to Ark-kun, Bobgy

[2019-08-28 11:50] LeonardAukea commented on #1223
Would it work if one would simply change the Client object so that  the namespace can optionally be provided at instantiation?

https://github.com/kubeflow/pipelines/blob/2f7d55b98ca04a4b74983d7732f5ad1ee6e74f72/sdk/python/kfp/_client.py#L74

I'm not sure what happens with the generated API's but it kind of looks like (assuming the cluster config is ok for the namespace) it would work. Sadly, I do

[2019-08-28 20:15] Ark-kun opened #1978 "Presubmit test CloudBuild failures are hard to debug without logs"
Presubmit tests submit CloudBuild builds asynchronously and do not print any of the error messages:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_pipelines/1970/kubeflow-pipeline-sample-test/1166784286871785473

Running CloudBuild synchronously can solve this issue.

[2019-08-28 21:25] Tomcli commented on #1436
cc @animeshsingh

[2019-08-28 23:36] Ark-kun commented on #1968
Thanks for the report.
This issue seems to be duplicate of https://github.com/kubeflow/pipelines/issues/1654
At this moment we have some issues running on Docker-less clusters.

[2019-08-29 00:45] Bobgy commented on #1978
For the time being, you can go to gcp console, choose ml-pipeline-test project and see log by the build id.

To make this easier, print the logs when the build fails would be a good option. I don't think we have to switch to cloud build synchronously.

[2019-08-29 08:17] Bobgy commented on #1978
I can work on this

[2019-08-29 08:57] Bobgy commented on #1762
/priority p2

[2019-08-29 17:56] Ark-kun commented on #1604
I've checked the doc and I think it's up to date.

[2019-08-29 20:45] amygdala opened #1992 "'Terminate' for a pipeline run via the UI does not always work properly"
With KF062 (KFP Build commit: 812ca7f) -- 'Terminate' for a pipeline run does not appear to work, when initiated via the pipeline UI.

It has a popup that indicates 'succeeded', but a pod in that workflow with 'Pending' status is not actually terminated.  (It continues to just show 'pending').

[2019-08-29 20:46] gaoning777 commented on #1903
blocked by the https://github.com/tensorflow/tfx/issues/362 to support parameterization in the TFX DSL.

[2019-08-29 21:05] amygdala commented on #255
+1 re: defaulting to a reasonable run name if not provided.  I was just about to file a FR for this when I found this old issue.

[2019-08-29 22:04] JohnMBrandt opened #1994 "SOme inputs are not passed to the program in components/gcp/ml_engine/deploy/component.yaml"
In the component.yaml, `python_version` is specified as a parameter, but the arg is not parsed in the implementation.

`--python_version, {inputValue: python_version},` is needed to be added to the following code block:

https://github.com/kubeflow/pipelines/blob/180f00394700bff97e6c93b12e062750158c8a53/components/gcp/ml_engine/deploy/component.yaml#L98

The component works fine with python 3 if t

[2019-08-29 23:54] siganakis opened #1998 "Support pipeline uploads via kfp command line"
The current kfp command line interface only supports activities related to runs.  It is possible to upload a new pipeline via a the submit method, but this also executes the pipeline which may not be required (e.g. if Pipeline upload is part of a CI/CD process).

This means it is not possible to upload a compiled pipeline

I propose that we add a command which wraps `Client.upload_pipeline`

Propo

[2019-08-30 02:28] Bobgy commented on #1604
Thanks folks!
This is done. Also FYI @sarahmaddox

/close

[2019-08-30 02:28] #1604 closed

[2019-08-30 02:57] Bobgy commented on #1762
How do we remove p0 tag?
/priority remove p0

[2019-08-30 02:57] Bobgy commented on #1762
/help

[2019-08-30 03:01] Bobgy commented on #1762
/remove-priority p0

[2019-08-30 03:02] Bobgy commented on #1762
/remove-priority

[2019-08-30 03:02] Bobgy commented on #1762
/remove-help

[2019-08-30 15:49] saschagrunert commented on #1654
Hey, I now run into similar issues. How to make it work with `func_to_container_op`? Because something like this does not work for me:

[code]

[2019-08-30 18:46] ajchili commented on #1472
/close
Python based visualizations have been merged into Kubeflow Pipelines and will be a part of the v0.1.28 release. Information about Python based visualizations can be found [here](https://github.com/kubeflow/pipelines/tree/master/backend/src/apiserver/visualization).

[2019-08-30 18:46] #1472 closed

[2019-08-30 22:09] IronPan commented on #1811
/close
we should rely on k8s v1.15

[2019-08-30 22:09] #1811 closed

[2019-08-30 22:14] IronPan commented on #1755
/close
GC is implemented.

[2019-08-30 22:14] #1755 closed

[2019-08-30 22:45] pahask8 opened #2014 "kfp compiler can not use a docker context as a directory"
**What happened:**

Currently kfp compiler can not use a docker context as a directory, see the code [link](https://github.com/kubeflow/pipelines/blob/efe9d87b31146ac29e38fb9f1b3ce3092ac9376e/sdk/python/kfp/compiler/_component_builder.py#L443)

[code]
**What did you expect to happen:**
I think it is good to support a docker context instead of just a relational path to a Dockerfile.

**What steps d

[2019-08-30 22:47] pahask8 commented on #2014
Pull request https://github.com/pahask8/pipelines/pull/new/2014

[2019-09-01 22:56] gaoning777 commented on #1477
Cannot reproduce it.

[2019-09-01 22:56] #1477 closed

[2019-09-01 23:31] #1775 closed

[2019-09-02 10:07] cvenets commented on #1514
@jlewi @jessiezcc @ruoyu90 kind reminder on this. How can we debug this? Any pointers are highly appreciated.

Thank you!

[2019-09-02 12:54] elikatsis commented on #1891
Hello @logicbomb421 and sorry for the late response.

I compiled the python code you provided (`pipeline.py`) and I noticed the following:
[code]
The problem is that `{{inputs.parameters.create-scratch-volume-name}}` gets resolved to the PVC name. But it is not this which should be used. Instead, it is the volume name as referenced in the workflow spec (`name` field of `volumes` list) that must be

[2019-09-02 18:14] rileyjbauer commented on #452
@Ark-kun is this complete? I think #448 should be reopened and this should be closed instead

[2019-09-03 08:00] Ark-kun commented on #448
The UX part is not yet complete.

[2019-09-03 08:02] Ark-kun commented on #452
@rileybauer You're right.

Fixed by https://github.com/kubeflow/pipelines/pulls/1381

[2019-09-03 08:02] #452 closed

[2019-09-03 09:30] PrathamSolanki opened #2024 "Assign a different namespace to ResouceOp than the pipeline"
Hi,

I have a Kubeflow GKE deployment in the namespace `kubeflow`, however seldon-core is present in namespace `seldon-core`.

I have a pipeline where the last step is a ResourceOp that creates a SeldonDeployment. Thing is it has to use the seldon-core services in the `seldon-core` namespace and must create deployment there. But the namespace specified in my script that creates the pipeline is `ku

[2019-09-03 10:11] elikatsis commented on #2024
Hi @PrathamSolanki,

Could you provide the parts of your pipeline regarding this issue? I.e. definition of the deployment and the ResourceOp creating it.

[2019-09-03 11:42] PrathamSolanki commented on #2024
Hi @elikatsis,

This is my pipeline definition:

[code]

I want my ResourceOp to use the namespace `seldon-core`.

[2019-09-03 12:24] elikatsis commented on #2024
The definition of the deployment is crucial and it would help me better understand the problem.

You generally need to have permissions to deploy resources to other namespaces. In this case, I believe you do, because `pipeline-runner` is a `ServiceAccount` connected to `ClusterRole` with a `ClusterRoleBinding`.

I think all you need to do is specify the `namespace` of the kubernetes resource you c

[2019-09-03 12:29] PrathamSolanki commented on #2024
Hi @elikatsis,

Yes indeed, in the `seldon_production_pipeline.yaml` the namespace is set to `seldon-core`:

[code]

But still I get the error as described in the issue. However, my pod does put a deployment in the `seldon-core` namespace but when I describe it the status is shown false:

[code]

[2019-09-03 12:39] elikatsis commented on #2024
Hmm..

Then, if this is the exact command executed by the step creating the deployment
[code]
as you mentioned in your first comment, then you might have an older Argo version installed. Can you confirm you have v2.3.0 or later?

[2019-09-03 12:47] PrathamSolanki commented on #2024
It is v2.2.0. I'm trying the fix proposed by you [here](https://docs.seldon.io/projects/seldon-core/en/latest/examples/kubeflow_seldon_e2e_pipeline.html#Temporary-fix-for-Argo-image).

Will update once the pipeline finishes execution.

[2019-09-03 12:55] elikatsis commented on #2024
Sure!

Since that fix was proposed quite some time ago, you may now use Argo v2.3.0 (instead of v2.3.0-rc3) and
[code]
instead of
[code]

[2019-09-03 13:04] PrathamSolanki commented on #2024
Hi again,

I tried with the fix. Now the error for running the command `kubectl get seldondeployment.machinelearning.seldon.io/seldon-deployment-demo -o jsonpath='{}'` is no more there, but instead I have 2 new warnings:

`level=warning msg="path /mlpipeline-metrics.json does not exist (or /mlpipeline-metrics.json is empty) in archive /argo/outputs/artifacts/mlpipeline-metrics.tgz"`

`level=warnin

[2019-09-03 13:33] elikatsis commented on #2024
These warnings shouldn't make anything break.

Does the `ServiceAccount` you run your pipelines with (`pipeline-runner` probably) have the permission to `create` and `get` a `SeldonDeployment` ?

[2019-09-03 13:49] PrathamSolanki commented on #2024
Yes `pipeline-runner` has the permissions:

[code]

It even creates a deployment in the namespace `seldon-core` as I said but the status is false.

[2019-09-03 15:05] PrathamSolanki commented on #2024
Hi @elikatsis ,

Now this is really funny. I looked into the logs for the `seldon-cluster-manager` and found the following:

[code]

It turns out the deployment name is too long for kubernetes. I just shortened it and now the deployment is available.

Anyways, thank you for your time :)

[2019-09-03 15:07] #2024 closed

[2019-09-03 16:50] #1865 closed

[2019-09-03 16:52] gaoning777 opened #2027 "Add a sample for withItems"
Add a sample in the samples/ directory to illustrate the withItem supports in the DSL.

[2019-09-03 16:56] ucdmkt opened #2028 "samples/contrib/resnet-cmle trainer crashes on AI Platform"
**What happened:**

Compiling and executing `./samples/contrib/resnet-cmle` pipeline does not succeed.

The second component in the pipeline "submitting-a-cloud-ml-training-job-as-a-pipeline-step-job-dir" fails on AI Platform training job.

Specifically, with the following stack trace.

[code]

**What did you expect to happen:**

Training succeeds. A model (SavedModel) is produced. The third compo

[2019-09-03 17:17] gaoning777 commented on #2028
Thanks for bringing up the resnet issue. We also noticed it and are currently working to resolve the issue.

[2019-09-03 18:29] Ark-kun commented on #1953
Fixed by https://github.com/kubeflow/pipelines/pull/1955

[2019-09-03 18:29] #1953 closed

[2019-09-03 18:31] amclay commented on #451
@gaoning777 I would also be interested in tracking this ticket if it exists. (for retrying individual steps)

[2019-09-03 18:34] Ark-kun commented on #1419
This is no longer an issue.

[2019-09-03 18:34] #1419 closed

[2019-09-03 18:34] Ark-kun commented on #1418
This is no longer an issue

[2019-09-03 18:34] #1418 closed

[2019-09-03 18:43] sngahane opened #2029 "Add component run time to UI"
While we know the total duration of a run in the "Runs" page, it would be useful to know how long it took to run a single component as part of the UI.

[2019-09-03 19:15] gaoning777 opened #2032 "Deprecating old GCP components"
Remove all old GCP components.
It is currently blocked by https://github.com/kubeflow/pipelines/issues/1913 and https://github.com/kubeflow/pipelines/issues/1903.

[2019-09-03 19:15] gaoning777 commented on #2032
move the components first into deprecated folder: #2031

[2019-09-03 21:53] Ark-kun commented on #929
This is an external (Travis) issue.

[2019-09-03 21:53] #929 closed

[2019-09-03 22:00] Ark-kun commented on #1135
The naming rule change to the `func_to_container_op` (actually it was `load_component`) was done in https://github.com/kubeflow/pipelines/pull/938

[2019-09-03 22:00] #1135 closed

[2019-09-03 22:02] #1050 closed

[2019-09-03 22:12] Ark-kun commented on #1485
Fixed by https://github.com/kubeflow/pipelines/pull/1626

[2019-09-03 22:12] #1485 closed

[2019-09-04 00:10] #1580 closed

[2019-09-04 00:10] #1687 closed

[2019-09-04 01:12] #1978 closed

[2019-09-04 09:38] elikatsis commented on #756
@swiftdiaries, Hello!

It's been some time, so let's see what we've got and what more do we need to close this issue.

Regarding the volume usage you mention in [this comment](https://github.com/kubeflow/pipelines/issues/756#issuecomment-460164174):
* You've implemented the solution you proposed in #783
* Also, there are `pvolumes` semantics:
  * `ContainerOp` constructor argument introduced by #9

[2019-09-04 09:43] elikatsis commented on #429
Hi everyone,

Looks like this issue is covered by #926 and `ResourceOp`s especially, which fully implements Argo's resource template.

So, pinging @hongye-sun, do you think this is covered and we should close it?

[2019-09-04 16:04] hongye-sun commented on #429
Yes, it has been covered. Thanks.

[2019-09-04 16:04] #429 closed

[2019-09-04 23:39] logicbomb421 commented on #1891
@elikatsis thank you for the reply! I actually stated building this by passing `workdirop.volume` to `looper` but ran into the same error you encountered as well. I switched to passing the names since I could be sure they would be PipelineParams since they were the output of another operation.

Ideally however, passing the actual k8s resource created to `looper` would be great.

[2019-09-04 23:44] logicbomb421 commented on #1488
hey guys just wondering when this will be published? really need the fix in here. been on 0.1.27 for several days now :(

is there an established release schedule?

[2019-09-05 03:21] swiftdiaries commented on #756
@elikatsis I think this can be closed :)
Thanks for the ping !

[2019-09-05 03:21] #756 closed

[2019-09-05 18:54] SinaChavoshi opened #2049 "Feature Request: Add a sample to demonstrate using TPUs"
This is a request for a sample that demonstrates using TPUs. Current ResNet sample is out dated and will be removed from the repo.

[2019-09-05 18:55] SinaChavoshi opened #2050 "Feature Request: Add a sample to demonstrate using ResNet from TF.Hub"
This is a request for a sample that demonstrates using ResNet with custom images via TF.Hub pre trained model. Current ResNet sample is out dated and will be removed from the repo.

[2019-09-05 18:56] SinaChavoshi opened #2051 "Feature Request: Add a sample to demonstrate using DataFlow component"
This is a request for a sample that demonstrates using Dataflow. Current ResNet sample that was showcasing this, is out dated and will be removed from the repo.

[2019-09-05 20:06] SinaChavoshi commented on #2028
This sample is currently out dated, I have submitted a request to remove this sample #2053 and created three new tracking feature request for TPU #2049 , ResNet #2050 , and DataFlow #2051 samples to track creation of replacement samples.

[2019-09-05 20:06] #2028 closed

[2019-09-05 21:18] mattnworb commented on #1711
to add more context to the above comment, when a pod is in ContainerCreating, the UI shows two links:

the former is to a Stackdriver Logging query like

[code]

the latter is a query for

[code]

since the container has not run, there are no logs from the container.

However an additional link to view the Kubernetes Events for the pod could be helpful:

[code]

since in the case of a volume not b

[2019-09-05 21:32] neuromage opened #2054 "Show links to GCP services in the UI when needed"
If a step has submitted a job to Cloud AI Platform training/serving, or is running a Dataflow job, we should be able to parse the logs in the UI and find the relevant URL that points to the relevant job link on GCP. We should then show this link to the user in the KFP UI when she clicks on the relevant pipeline step.

In the long term, we should also explore exposing capabilities to the container

[2019-09-05 21:34] neuromage commented on #2054
/cc @paveldournov
/cc @iyera

[2019-09-05 23:29] SinaChavoshi commented on #2051
Adding  details as per offline discussion... This feature can be resolved by adding the existing code under

https://github.com/kubeflow/pipelines/blob/553885ffb12209e9323cdda63e334b8f428f32bb/components/gcp/dataflow/launch_template/README.md

[2019-09-05 23:31] SinaChavoshi commented on #2050
closing as wont fix per offline discussion. This sample would not demonstrate any additional abilities beyond currently covered samples.

[2019-09-05 23:31] #2050 closed

[2019-09-05 23:34] SinaChavoshi commented on #2049
changing the scope of this request as per offline discussion to updating the existing Cloud AI prediction / serving sample documentation to point to CMLE TPU samples instead of adding and maintain a separate sample for TPUs,

[2019-09-06 00:56] #1421 closed

[2019-09-06 00:56] #1422 closed

[2019-09-06 02:48] Ark-kun commented on #1488
Usually we release a new version every week. Last week release was not finished.
There would be a new release tomorrow unless some bugs are found.

[2019-09-06 03:22] jlewi commented on #1514
@cvenets I don't have much to add here; I'll defer to the TFX and pipelines folks.

[2019-09-06 17:46] chases2 opened #2056 "Issue with Prow configuration prevents merging"
**What happened:**
#2036  passed tests, but repeatedly fails to merge due to some prow misconfiguration in this repo or in GitHub.

[code]

**What did you expect to happen:**
The merge should occur

[2019-09-06 22:19] #1688 closed

[2019-09-07 00:05] #1950 closed

[2019-09-07 23:28] Ark-kun commented on #448
Yes.

[2019-09-08 00:14] Ark-kun opened #2061 "Postsubmit test fails even when CloudBuild was restarted and finished successfully"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-pipeline-postsubmit/1170457225034993664

[code]

[2019-09-08 23:41] jlewi commented on #1104
@IronPan Is this issue still relevant? I believe you tested 0.6 with IAP and were able to successfully submit pipelines (see kubeflow/pipelines#1080) via the SDK using IAP.

[2019-09-09 06:28] Bobgy commented on #1508
/assign @Bobgy

[2019-09-09 06:38] Bobgy commented on #1508
@Ark-kun Do you mean selecting log of a pipeline run step? I tried this and it selects with no issues when log has more than one screen with chrome on a macbook.

Is this issue already fixed? or it only reproduces on a different device?

[2019-09-09 06:45] Bobgy commented on #1508
My attempt video: https://drive.google.com/file/d/1flmz7jiM84nZ8DgPTBMNiM-T8oUJWEVq/view

[2019-09-09 09:55] Bobgy commented on #1253
/assign @Bobgy

[2019-09-09 09:58] Bobgy commented on #1253
Besides mentioned links, I also think putting a link to [Compile pipeline doc](https://www.kubeflow.org/docs/pipelines/sdk/build-component/#compile-the-pipeline) in "Pipeline Upload" dialog would be very useful.

When I just recently started on KFP, I was stuck at this phase because I didn't find that doc before getting to here. The upload dialog has no hint for what I should upload at all.

Thoug

[2019-09-09 13:29] martin-laurent commented on #1508
I'm not sure this video is testing the right thing. For example, given your video, the faulty behavior is that, if you were to copy/paste the text selected you would get only lines from 12 to 41 instead of 7 to 41 as you would expect. This is terrible for long logs.

[2019-09-09 13:55] mattnworb commented on #1508
The problem is especially pronounced (in my experience) when the component is still running and therefore producing new logs.

[2019-09-09 15:48] Bobgy commented on #1253
Hi @ajayalfred, I made an initial attempt at implementing this. Can I get some feedback from you?

[2019-09-09 15:51] Bobgy commented on #1508
Thanks for the explanation. Now I understand the problem. Will think about a fix.

[2019-09-09 19:42] kevinpauli commented on #1967
While #1481 is fine, it is nothing that we couldn't have coded ourselves since the items must be available at compile time.

When implemented, **this** will be the truly useful one

[2019-09-09 21:37] gaoning777 commented on #1813
adding some core sample tests: #2030

[2019-09-09 21:38] gaoning777 commented on #1750
Should we close this?

[2019-09-09 21:39] strangemonad-faire opened #2071 "System performance degrades with large numbers of runs"
**What happened:**

On systems with lots of runs, listing experiments becomes unbearably slow.

**What did you expect to happen:**

The performance remains constant

**What steps did you take:**

I enabled slow query logging and identified the culprit query. Change #1836 attempted to address the issue but it doesn't.

1) the query that's generated by gorm is inherently inefficient. No index can ma

[2019-09-09 21:40] gaoning777 commented on #1224
Moving to the contrib and verified it was working: https://github.com/kubeflow/pipelines/pull/2037

[2019-09-09 21:40] #1224 closed

[2019-09-09 21:41] gaoning777 commented on #983
This refers to the tfx oss sample, doesn't it?

[2019-09-09 21:46] gaoning777 commented on #1813
List of not-tested core samples:
https://github.com/kubeflow/pipelines/tree/master/samples/core/ai-platform
https://github.com/kubeflow/pipelines/tree/master/samples/core/artifact_location
https://github.com/kubeflow/pipelines/tree/master/samples/core/component_build
https://github.com/kubeflow/pipelines/tree/master/samples/core/execution_order
https://github.com/kubeflow/pipelines/tree/master/sam

[2019-09-09 21:47] gaoning777 opened #2072 "Clean dnn-trainer component in favor of TFX trainer component"
depends on the https://github.com/kubeflow/pipelines/issues/1903

[2019-09-09 21:49] gaoning777 opened #2073 "Migrate sample test from presubmit to periodic"
Move the sample test to periodic tests and configure the prow system to automatically send notifications when tests are failing or flaky.

[2019-09-09 21:51] numerology commented on #1750
I think it's better to close this after investigating the ongoing issue:
See #2070

[2019-09-09 22:04] neuromage commented on #983
Yes, that's right Ning.

[2019-09-09 22:11] gaoning777 opened #2075 "Add a BigQuery sample for the GCP BigQuery component"

[2019-09-09 22:31] pahask8 commented on #2014
Could someone please take a look at https://github.com/kubeflow/pipelines/pull/2015 ? Thank you

[2019-09-09 23:43] numerology opened #2076 "Sample test infra fails to upload test result to GCS"
Sample tests are expected to generate test results in xml format and upload it to GCS. However currently the results are missing.

[2019-09-10 02:30] #2076 closed

[2019-09-10 05:45] merlintang commented on #1942
do you mean that we can run a pipeline by passing the parameter into pipeline?  for example, we load a pipeline file, then run the pipeline with new parameters? I have done this before, I can send a pr for this.

[2019-09-10 05:54] numerology commented on #1942
Actually a bit of different. Currently through the signature of the pipeline function, we can define pipeline parameters. However, pipeline function signature is immutable in itself. If we further need to specify the pipeline parameter (not only their runtime values) in a more programmatical way, some alternatives are needed.

[2019-09-10 05:56] merlintang commented on #1942
I see, you mean that user can add more parameters to the pipeline ?

[2019-09-10 06:01] numerology commented on #1942
Yes. But this feature is not of high priority, though.

On Mon, Sep 9, 2019, 10:56 PM Mingjie Tang <notifications@github.com> wrote:

[2019-09-10 06:23] Ark-kun commented on #1942
`dsl.Pipeline` is a context class that's supposed to be compiler-internal. We were planning to take it private.
Did you mean the `dsl.pipeline` decorator?

[2019-09-10 13:02] jlewi commented on #1691
@IronPan @jessiezcc Does Kubeflow pipelines plan to support workload identity?

Here are the [docs](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) for workload identity.

With workload identity Kubernetes Service Accounts (KSA) can be bound to GCP Service Accounts (GSA).

So with workload identity pipeline users would probably want the ability to specify what service acc

[2019-09-10 14:52] numerology commented on #1942
That would be ideal if we can support that without interacting with dsl.Pipeline. However I couldn't think of an easy way to that.
If we can introduce a field to specify pipeline parameter in the decorator, still we need to think carefully how we are going to use that in each component.

[2019-09-10 15:40] gaoning777 commented on #2061
I wouldn't say this is a bug for the postsubmit test because the postsubmit actively looks for the cloudbuild job and failed because the cloudbuild job failed. If one manually retries the cloudbuild, the postsubmit test should be retried manually, too.
Does '/test' command work in the PR github page?

[2019-09-10 15:41] gaoning777 commented on #2056
was it because there was a /hold?
Cannot reproduce the problem.

[2019-09-10 15:50] eterna2 commented on #1803
The workaround for my AWS deployment is to use argo's artifactory backup config to persist the log to s3/minio.

A quick fix is to add an environment var to pipeline UI server to point to the backup url if pod log is unavailable.

I can make a PR to demonstrate my idea.

[2019-09-10 17:16] numerology commented on #1942
Let me give another look. I think we have some publc APIs that can be used currently. Maybe I don't need to directly manipulate dsl.Pipeline

[2019-09-10 17:18] numerology commented on #1750
#2070 is closed.

[2019-09-10 17:18] #1750 closed

[2019-09-10 21:48] gaoning777 commented on #1942
Are we planning to take dsl.Pipeline private? If so, why?
Exposing a Pipeline class similar to the TFX Pipeline is not a bad idea to me. Strongly typed, support dynamic parameters, dynamic pipeline configurations(https://github.com/kubeflow/pipelines/blob/a4fa1edb423c35f4b2d33c62c4a856398807f3ac/sdk/python/kfp/dsl/_pipeline.py#L54).
Of course, having a simple interface and having the SDK generate

[2019-09-10 21:54] numerology commented on #1942
I'm good with either private or public dsl.Pipeline. However I feel like we need a way to do something like (tentatively, did not carefully think it through)
author_pipeline(
  pipeline_func, # where ContainerOp is initialized, perhaps with PipelineParam in its args.
  pipeline_name,
  pipeline_description,
  pipeline_params)

[2019-09-10 22:24] gaoning777 commented on #1821
it does not support s3, yet. Contributions are mostly welcome.

[2019-09-11 03:55] neuromage opened #2086 "Improvements to metadata pages in UI"
Now that metadata pages are in KFP's UI thanks to Riley's work, there are still a few more items to take care of in terms of polish:

* We should add a column showing the creation time of each artifact. In order to get this, we'll need to query the metadata API server for events, and find the associated event that produced any given artifact. The event will have a timestamp.

* The list of executi

[2019-09-11 04:12] neuromage commented on #2086
For reference, here's a simple pipeline you can run (it's using TFX DSL) which will output some basic metadata in your cluster:

[code]

[2019-09-11 04:40] Bobgy commented on #2086
Thanks @neuromage! I'm taking a day off today and will start on these tomorrow.

Can you send me a reference to MLMD api?
Is frontend codebase here: https://github.com/kubeflow/metadata/tree/master/frontend?
or already in KFP repo?

[2019-09-11 07:38] merlintang commented on #1942
thanks @num

[2019-09-11 09:04] Bobgy commented on #2086
/priority p0

[2019-09-11 09:04] Bobgy commented on #2086
/area frontend

[2019-09-11 09:12] Bobgy commented on #2086
/area front-end

[2019-09-11 09:27] rmgogogo commented on #2086
/cc @rmgogogo

[2019-09-11 10:21] Bobgy commented on #2086
@neuromage How do you deploy pipeline with metadata?
I tried kfp lite, it has some errors of missing 'mysql-credential' when starting up metadata server.
Should I use helm to deploy the marketplace one?

[2019-09-11 17:04] dushyanthsc commented on #2086
@Bobgy The mysql credentials are picked up using K8 secret object. Basically create a Kubernetes Secret object named - "mysql-credential" with keys- "username" and "password" rest should be automatically be taken care of

[2019-09-11 18:55] neuromage commented on #2086
Thanks @Bobgy!

Yes, here it is: https://github.com/google/ml-metadata/blob/master/ml_metadata/proto/metadata_store_service.proto

It's in the KFP repo (kubeflow/pipelines) under /frontend

[2019-09-11 19:07] mattnworb opened #2089 "unable to use use_gcp_secret with value from PipelineParam"
**What happened:**

I am trying to write a pipeline where the secret name used with `gcp.use_gcp_secret` is a pipeline param defined at runtime.

I've tried a few variants, here is the main pipeline code:

[code]

since the compiler invokes the pipeline function with parameters that are `kfp.dsl.PipelineParam` instances, this first version fails with:

[code]

if I change how the `secret` param na

[2019-09-11 20:14] mattnworb commented on #2089
I also get the same results with the last variant

[code]

with kfp SDK 0.1.29 and Kubeflow 0.6.2 (which I think has the pipeline components installed as 0.1.23, and argo 2.3.0).

[2019-09-11 20:56] mattnworb opened #2090 ""Manifest" tab in RunDetails view is often blank"
**What happened:**

This is perhaps more a question or just something that is unclear, but the "Manifest" tab seems to be always blank - I would have expected this to display the Pod that the component/step ran as in YAML or another format, based on the name and label:

![image](https://user-images.githubusercontent.com/113840/64734515-c2dd5e00-d4b4-11e9-96ce-8f19f1b5f3b6.png)

**What steps did yo

[2019-09-11 21:01] mattnworb commented on #2090
The workflow from the example pipeline run in the above screenshot is https://ghe.spotify.net/gist/mattbrown/b78b415ad91cac0f5c7424c22501488b

From viewing the source in Chrome's inspector, it seems like the workflow node fails this check (there is no `.resource` value):

https://github.com/kubeflow/pipelines/blob/812ca7f8836c47039c3b1f3daf23e68fbcee1a92/frontend/src/lib/WorkflowParser.ts#L210-L21

[2019-09-11 21:15] neuromage commented on #2090
/assign @Bobgy

Yuan, would you mind taking a look at this one?

[2019-09-11 21:19] mattnworb commented on #2090
Looking at the Git history of `getNodeManifest()` in WorkflowParser.ts more, it seems like the code might be meant to only be used in displaying details about a volume related to the pod/component, as opposed to displaying the general purpose pod manifest?

[2019-09-11 22:01] gabrielvcbessa commented on #1956
@IronPan Do you have any idea of how to solve this?

[2019-09-12 17:22] mattnworb opened #2094 "idea: display component's Pod as YAML in RunDetails view of frontend"
Related to #2090, I think it would be very helpful for troubleshooting if the "RunDetails" view when clicking on a component in the UI would show the manifest for the k8s Pod (i.e. PodSpec, PodStatus) that the component runs as.

I know that the current view in the frontend has access to the Argo workflow object, I am not sure if it has the same level of access to the Pod objects itself - but want

[2019-09-12 18:13] numerology opened #2097 "Support parameterized sample test config"
Currently, the sample test config is in yaml format, where all information are digested as raw. In future it's possible to see dependencies across fields. For example,

bucket = BUCKET
output = {{bucket}}/output
train_data = {{bucket}}/train

One potential use case is #2096

[2019-09-13 06:07] xauthulei opened #2101 "pipeline apisever pod failed :Please specify flag "ML_PIPELINE_VISUALIZATIONSERVER_SERVICE_HOST""
I have used the latest pipeline source :
[code]
and I saw that we have added the new [Dockerfile.visualization](https://github.com/kubeflow/pipelines/blob/master/backend/Dockerfile.visualization),  I thought we should added this `manifests` so that we could install it by kfctl. Am I right ?

[2019-09-13 16:07] LeonardAukea commented on #497
This dude is seems to be on to something. I think it would make sense to help him out a little https://kubeflow-kale.github.io/

[2019-09-13 17:54] gaoning777 opened #2108 "Component build is failing"
When the build_python_component is used in the notebook, the following error shows:

2019-09-13 17:43:37:INFO:Build an image that is based on tensorflow/tensorflow:1.11.0-py3 and push the image to gcr.io/ml-pipeline-dogfood/multi-output:latest
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipy

[2019-09-13 18:36] gaoning777 opened #2109 "Add e2e test for the component build(use multiple output sample)"
This issue is to track adding a sample test for the component build(func_to_containerop).
Currently we have a sample https://github.com/kubeflow/pipelines/tree/master/samples/core/multiple_outputs, which uses the build_python_component function. We can convert it to use the new func_to_containerop and add the test to the e2e.

[2019-09-13 18:37] gaoning777 commented on #1813
adding multiple output sample test: https://github.com/kubeflow/pipelines/issues/2109

[2019-09-13 18:40] numerology opened #2110 "Possible inconsistent experiment name in sample test."
Currently, it is possible for a user to upload a notebook sample with hard-coded arbitrary experiment name to run their pipeline. However, our sample test infra adopts the convention that the experiment name should be TEST_NAME-test, which might be inconsistent with the user specified name.

Inconsistent names can cause the sample test infra fails to capture the test run result.

[2019-09-13 21:36] numerology commented on #1813
Suggestion: Maybe not cover retry sample for now due to its non-deterministic behavior.

[2019-09-13 23:07] Ark-kun opened #2115 "Improve serialization of outputs in Lightweight components"
There have been many improvements to serialization or arguments and default values coupled with deserialization of passed arguments. https://github.com/kubeflow/pipelines/pull/1934 https://github.com/kubeflow/pipelines/pull/1936 https://github.com/kubeflow/pipelines/pull/1945

It came to my attention that the component outputs are still being serialized using `str()`. We need to serialize the outp

[2019-09-13 23:36] #2108 closed

[2019-09-13 23:49] jessiezcc commented on #2054
Renmin, can u evaluate how much the cost of this work?

[2019-09-13 23:54] jessiezcc commented on #1913
@gaoning777, is it already done? or feel free to re-assign.

[2019-09-13 23:59] ajchili commented on #2101
Hey @xauthulei, I had not realized that `manifests` would also require updates when introducing the visualization service, thanks for the issue. I will talk with @IronPan offline to get a fix deployed. It seems like we only need to add YAML configuration files to `manifests`.

[2019-09-14 02:14] xauthulei commented on #2101
Thanks @ajchili,  That 's great, I will try to do some test in my local, when your fixes merged.

[2019-09-14 05:00] robin5540 opened #2120 "Support pipeline run events"
### Background

Currently the only way to get pipeline run state transitions is by polling the api server.

Could we add a plug-in layer in the persistent agent that will allow publishing these transitions as a stream of events. AWS can have a SNS plug-in, GCP pub/sub, etc.

[2019-09-15 12:51] Akashdesarda opened #2124 "Feature request: Ability provide hint/help in UI for all the parameters in drop-down menu?"
Ability to provide brief hint/help about that particular parameter in UI like the '--help' in argument parser.

[2019-09-16 00:42] Bobgy commented on #2090
Makes sense to me to hide this tab if it's not `ResourceOp`.

/priority p2
/area front-end

[2019-09-16 08:06] Bobgy commented on #2086
@neuromage Can you explain what is expected behavior of execution list page?
This is what I can see now: https://drive.google.com/file/d/1LJbth1bK-_ZCTe5d60M8nDRzrFjgux-n/view
* What should happen when we click on expanded rows?
* When we click on the first row, it should open execution detail page right? I will try to fix this.

Do we need this in execution list page or detail page, (or both)?

[2019-09-16 17:20] numerology commented on #1942
Added an API in #2082, which allows users to generate the workflow spec of the pipeline in a programmable way.

Marked as fixed for now.

[2019-09-16 17:20] #1942 closed

[2019-09-16 17:37] post2web opened #2130 "Type checking is enforced when output names are not with underscore"
**What happened:**
When a pipeline is compiled with components that have input/output names with spaces, the type checking doesn't work as expected.

**What did you expect to happen:**
The pipeline should throw an `InconsistentTypeException` exception because types of input and output don't match.

**What steps did you take:**
Install KFP: `pip3 install kfp==0.1.30 --upgrade`

Compile a pipeline:

[2019-09-16 18:22] randxie opened #2131 "Tensorboard failed to visualize embedding"
**What happened:**
The tensorboard UI failed to render embedding. It will get frozen with "computing PCA" and then the page becomes unresponsive.
![failed](https://user-images.githubusercontent.com/10520307/64982855-ff71d680-d873-11e9-98a9-068c83a378eb.png)

**What did you expect to happen:**
Here's a normal tensorboard output.
![expected](https://user-images.githubusercontent.com/10520307/6498289

[2019-09-16 22:25] gaoning777 commented on #1813
Thanks Jiaxiao for the efforts.

[2019-09-16 22:26] gaoning777 commented on #1813
sidecar test: https://github.com/kubeflow/pipelines/pull/2106

[2019-09-16 23:17] #2051 closed

[2019-09-17 00:23] neuromage commented on #2086
Thanks @Bobgy !

* For name, yeah, that looks wrong. Can we use component_id for the name instead?
* For execution inputs/outputs, I think it's ok to put it in the execution details page. Unfortunately, there is no mock for this, so I'll leave it up to you on how best to implement. I imagine a simple section for inputs, with a listing of Artifact name and id would be great. If the id is deep-linke

[2019-09-17 00:32] neuromage commented on #2131
Are you relying on a specific new version of Tensorboard? Can you reproduce the 'freeze' on a local machine using TB 1.11? This is the version we currently deploy in Pipelines:
https://github.com/kubeflow/pipelines/blob/578e8231d01074b9dbe40ace1db8cc444a6a1bd8/backend/src/crd/controller/viewer/reconciler/reconciler.go#L168

/cc @jingzhang36

[2019-09-17 02:05] Bobgy commented on #2086
@neuromage thanks a lot!
* Sure, I will use component_id instead
* Then I will use my own judgement about that.

[2019-09-17 03:11] randxie commented on #2131
Hi @neuromage , thanks for pointing me to the image version. I downgraded my tensorflow version to 1.11 and was able to reproduce the error. Looks like such visualization requires TF 1.13.

[2019-09-17 05:13] neuromage commented on #2131
Ah ok makes sense. I think we can upgrade our TB version.
@jingzhang36 do you foresee any issues with this? If not, I'll go ahead and send a PR out in the morning.

[2019-09-17 07:47] jingzhang36 commented on #2131
@neuromage Thanks for looking into this! Please go ahead with the version bump.

[2019-09-17 09:00] IronPan opened #2139 "TFX sample failed at kf-serve-tf-model step"
![image](https://user-images.githubusercontent.com/2348602/65026744-be5ced80-d96b-11e9-9185-e3471e13b7d2.png)

This happens when I'm deploying KFP in non "kubeflow" namespace.
The serve component might hard coded ns somewhere.

[2019-09-17 09:00] IronPan commented on #2139
/assign @hongye-sun @gaoning777

[2019-09-17 16:51] #1489 closed

[2019-09-17 17:27] randxie commented on #2131
Btw, is there a way we can upgrade the tensorboard version in an existing cluster?

[2019-09-17 18:06] gaoning777 commented on #2109
https://github.com/kubeflow/pipelines/tree/master/samples/core/component_build

[2019-09-17 18:07] gaoning777 commented on #1813
component build sample: https://github.com/kubeflow/pipelines/issues/2109

[2019-09-17 18:20] gaoning777 commented on #1813
There are some sample tests that require extra work:
Category 1) non-determinism. Samples such as retry is non-deterministic. There is no sample test infra support for such non-deterministic behaviors. First, we will run the DSL compiler against it without running the pipeline. Since retry is part of the argo support, this is sufficient for now to only test the DSL compilation.
Category 2) platfor

[2019-09-17 18:30] gaoning777 commented on #1813
retry: https://github.com/kubeflow/pipelines/pull/2141

[2019-09-17 19:18] gaoning777 commented on #1813
artifact location: https://github.com/kubeflow/pipelines/pull/2142

[2019-09-17 21:41] numerology commented on #2139
Observed a similar issue when trying [KF TF serving sample](https://github.com/kubeflow/pipelines/tree/master/samples/core/kubeflow_tf_serving)

[2019-09-17 22:21] gaoning777 commented on #1913
This one is not complete yet.
@numerology will you be willing to take over this task?

[2019-09-17 22:24] numerology commented on #1913
NP.

[2019-09-17 23:06] gaoning777 commented on #1813
Updated the assignment.

[2019-09-17 23:10] gaoning777 commented on #1913
Thanks Jiaxiao.

[2019-09-17 23:19] gaoning777 opened #2148 "Sample test infra: inconsistent behavior of dynamically injected arguments for output and experiment_name"
The current behavior is:
The output argument is injected for both normal python sample and notebook sample when it is specified in the config yaml.
The experiment_name is only injected for notebook samples and will be injected even though it is not specified in the config yaml.

Expected behavior:
Both are injected only when they are specified in the config yaml. Since the assumption is that the n

[2019-09-17 23:31] gaoning777 commented on #1813
preemptible vm&volume snapshot: https://github.com/kubeflow/pipelines/pull/2149

[2019-09-18 04:16] neuromage commented on #2086
@Bobgy I have a few more requests :-)

* Can we show URIs in the artifact detail page?
* Can we make GCS URIs clickable, in both artifact detail page and artifact listings page?
* If a field has serialized json, can we attempt to parse and pretty print this?
* The execution list still does not show the name of the execution, and I'm unable to click on any execution except the first one still (igno

[2019-09-18 04:16] neuromage commented on #2086
/cc @paveldournov

[2019-09-18 04:21] Bobgy commented on #2086
@neuromage

SG, will do so

I need to investigate, which page should it link to? A page on google cloud console?

SG, will do so.

Already fixed in https://github.com/kubeflow/pipelines/pull/2135, I think it didn't make it to the version you tested.

[2019-09-18 04:27] Bobgy commented on #2086
@neuromage regarding the stretch goal, can you create a separate issue for this? What would be the priority? I have other p0 issues on hand, so I will only be able to take a look after other things.

[2019-09-18 06:24] cyrilthank opened #2154 "Pipelines dashboard: Error occured while trying to proxy to: localhost:31380/apis/v1beta1/experiments"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
after completing the installation and setup steps in
 https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/

i get the below error for accessing any links on the centraldashboard

Error occured while trying to proxy to: localhost:31380/apis/v1beta1/experiments

**What did you expect

[2019-09-18 16:31] neuromage commented on #2086
Yes, a page showing the bucket on Pantheon would be great. Thanks!

[2019-09-18 16:46] hlu09 opened #2159 "Update UI to display step duration"
It is nice to know how long individual step took.

[2019-09-18 17:14] gaoning777 commented on #1903
Deleting the old tfx cab classification sample: https://github.com/kubeflow/pipelines/pull/2160

[2019-09-18 17:26] gaoning777 commented on #460
A lots of these images will be cleaned in favor of the new gcp components.

[2019-09-18 17:26] #460 closed

[2019-09-18 17:26] gaoning777 commented on #2032
cleaning dataflow components: https://github.com/kubeflow/pipelines/pull/2161

[2019-09-18 17:34] Ark-kun commented on #1373
We could run Argo lint to check the pipeline spec.

[2019-09-18 17:35] Ark-kun commented on #2124
Are you talking about pipeline parameters?

[2019-09-18 17:39] gaoning777 commented on #2109
https://github.com/kubeflow/pipelines/issues/1813

[2019-09-18 18:12] Ark-kun commented on #2130
Thank you. I've found and fixed the bug.
As an aside, do you think it would be good idea to have the `task.outputs` dictionary contaihne the original output names, not the "pythonic" versions?
E.g.: `task.outputs['Output data']` instead of `task.outputs['output_data']`

[2019-09-18 18:14] post2web commented on #2130
I think task.outputs should use the "pythonic" versions e.g. `task.outputs['output_data']`

[2019-09-18 18:35] Ark-kun commented on #2130
Ok.
I also though about using the original names in the dict, but also adding pythonic attributes:
`task.outputs.output_data == task.outputs['Output data']`

[2019-09-18 18:41] post2web commented on #2130
Yes, I like that attribute and key rule. It will be similar to working with column names in pandas.

[2019-09-18 20:47] jessiezcc commented on #1514
@ruoyu90 will follow up

[2019-09-18 23:07] ruoyu90 commented on #1514
Hey @cvenets are you following [this](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi) instruction? I cannot reproduce the aforementioned error. If no, can you share the steps to reproduce the error? Also since this is TFMA specific, feel free to redirect the issue to TFMA [repository](https://github.com/tensorflow/model-analysis/issues)

[2019-09-19 03:53] #2130 closed

[2019-09-19 07:28] mesaverde0207 opened #2169 "Could not connect to the metadata of TFX on the notebook environment"
I'm just a beginner at kubeflow and  also tfx, so this may be an elementary question.
I deployed kubeflow v0.6.2  to GCP by the UI deployment tool
and tried "TFX on KubeFlow Pipelines Example".
(https://github.com/kubeflow/pipelines/blob/master/samples/core/tfx-oss/TFX%20Example.ipynb) in its notebook server.

All pipeline executions ran well, but I could not connect to the ML metadata store:

[co